Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

create-aro-hcp-in-integration:
  always_run: false
  steps:
    env:
      CLUSTER_NAME: premerge-integration-cluster
      CUSTOMER_RG_NAME: premerge-integration-customer-rg
      LOCATION: uksouth
      SUBSCRIPTION: ARO SRE Team - INT (EA Subscription 3)
    post:
    - ref: aro-hcp-provision-aro-hcp-gather-extra
  ...

ci/prow/create-aro-hcp-in-integration:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/create-aro-hcp-in-prod:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/create-aro-hcp-in-stage:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/integration-e2e-parallel:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/prod-e2e-parallel:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stage-e2e-parallel:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Return pointer for eventually evaluation
  test/e2e/cluster_tls_endpoints.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Fix url and port
  test/e2e/cluster_tls_endpoints.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

fix workdir for grafana-dashboards
  dev-infrastructure/global-pipeline.yaml
Due: none

Bump CS image to 94fec3ffea
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

Add Persistence to OSDisk spec
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Update_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/constants.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
Due: none

Rebase Struct changes to OSDisk profile
  internal/api/enums.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/testhelpers.go
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/v20240610preview/register.go
  internal/api/v20240610preview/register_test.go
Due: none

update examples with Osdisk changes
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Update_MaximumSet_Gen.json
Due: none

Rebase hangovers
  frontend/pkg/frontend/node_pool.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/ocm/convert.go
  internal/ocm/convert_test.go
Due: none

Remove E2E edit
  test/e2e-setup/bicep/modules/nodepool.bicep
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Add test for osDisk encryption validation
  internal/api/hcpopenshiftclusternodepool_test.go
Due: none

changes to support PascalCase Enum
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/enums.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/v20240610preview/generated/constants.go
Due: none

Add style and syntax simplification suggestions
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  internal/api/testhelpers.go
  internal/ocm/convert.go
  internal/ocm/convert_test.go
Due: none

correct the casing of the field persistence
  demo/bicep/nodepool.bicep
  demo/node_pool.tmpl.json
  test/e2e-setup/bicep/modules/nodepool.bicep
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

update sdk and frontend with CS changes for OSdisk
  demo/bicep/nodepool.bicep
  demo/node_pool.tmpl.json
  frontend/utils/create.go
  go.work.sum
  test/e2e-setup/bicep/modules/nodepool.bicep
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Update Unit tests
  frontend/pkg/frontend/node_pool_test.go
Due: none

Fix validation tags
  internal/api/hcpopenshiftclusternodepool.go
Due: none

Update API Spec
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/constants.go
  internal/api/v20240610preview/generated/models.go
Due: none

Update go.work.sum
  go.work.sum
Due: none

Revert "secret-sync-controller: move to native Helm step"
  go.work.sum
  secret-sync-controller/Makefile
  secret-sync-controller/deploy/templates/VAPB_create_update_secrets_type.yaml
  secret-sync-controller/deploy/templates/VAPB_create_update_token_request_deny.yaml
  secret-sync-controller/deploy/templates/VAPB_delete_secrets.yaml
  secret-sync-controller/deploy/templates/VAPB_update_owners_check_old_object.yaml
  secret-sync-controller/deploy/templates/VAPB_update_secrets_based_on_label.yaml
  secret-sync-controller/deploy/templates/VAPB_validate_annotation_format_secret_sync.yaml
  secret-sync-controller/deploy/templates/VAPB_validate_label_format_secret_sync.yaml
  secret-sync-controller/deploy/templates/VAPB_validate_token_config.yaml
  secret-sync-controller/deploy/templates/_helpers.tpl
  secret-sync-controller/deploy/templates/create_update_secrets_types.yaml
  secret-sync-controller/deploy/templates/create_update_token_request_deny.yaml
  secret-sync-controller/deploy/templates/delete_secrets.yaml
  secret-sync-controller/deploy/templates/secrets-store-sync-controller.yaml
  secret-sync-controller/deploy/templates/update_owners_check_old_object.yaml
  secret-sync-controller/deploy/templates/update_secrets_based_on_label.yaml
  secret-sync-controller/deploy/templates/validate_annotation_format_secret_sync.yaml
  secret-sync-controller/deploy/templates/validate_label_format_secret_sync.yaml
  secret-sync-controller/deploy/templates/validate_token_config.yaml
  secret-sync-controller/deploy/values-azure.yaml
  secret-sync-controller/deploy/values.yaml
  secret-sync-controller/pipeline.yaml
  tooling/templatize/internal/testdata/zz_fixture_TestStepsWellFormed.yaml
Due: none

Fix typo
  frontend/utils/create.go
Due: none

fix grafana workdir issues
  dev-infrastructure/global-pipeline.yaml
  observability/Makefile
  observability/grafana/deploy.sh
Due: none

Wait for DNS to be available
  test/e2e/cluster_tls_endpoints.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

update ARO-tools to fix helm server-side apply
  go.work.sum
  test/go.mod
  test/go.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/yamlwrap/go.mod
  tooling/yamlwrap/go.sum
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Remove duplicate dash which is already added by SuffixName
  test/e2e/cluster_tls_endpoints.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Spkie tooling for log redaction
  config/config.redaction.yaml
  go.work
  go.work.sum
  tooling/log-redaction/go.mod
  tooling/log-redaction/go.sum
  tooling/log-redaction/main.go
Due: none

e2e: fix up comment
  test/util/framework/hcp_helper.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

add internal validation for clusters
  internal/api/enums.go
  internal/validation/validate_cluster.go
  internal/validation/validators.go
Due: none

wire new validation in addition to existing validation for clusters
  frontend/go.mod
  frontend/go.sum
  frontend/pkg/frontend/frontend.go
  internal/api/arm/error.go
  internal/api/enums.go
  internal/go.mod
  internal/go.sum
Due: none

AI added test cases
  go.work.sum
  internal/validation/validate_cluster_comprehensive_test.go
  internal/validation/validate_cluster_test.go
Due: none

add validation for trackresources
  internal/api/arm/resource.go
  internal/validation/validate_cluster.go
Due: none

Add AI generated e2e tests for new validation
  internal/validation/validate_cluster_comprehensive_test.go
Due: none

add validation for ManagedServiceIdentity
  internal/api/arm/identity.go
  internal/validation/validate_cluster.go
Due: none

Change matcher to ensure field exists
  test/e2e/cluster_tls_endpoints.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Create var for console URL
  test/e2e/cluster_tls_endpoints.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

dummy
  README.md
Due: none

Revert "Don't do PR checks for ai context PRs"
  .github/workflows/bicep-lint.yml
  .github/workflows/ci-observability.yml
  .github/workflows/config-change-detection.yml
  .github/workflows/services-pr-check.yml
  .github/workflows/yaml-lint.yml
Due: none

Update hypershift to latest for dev and int
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

Don't do PR checks for ai context PRs v2
  .github/workflows/bicep-lint.yml
  .github/workflows/ci-observability.yml
  .github/workflows/config-change-detection.yml
  .github/workflows/services-pr-check.yml
  .github/workflows/yaml-lint.yml
Due: none

digest-analyzer: tool for printing which images are in which environments
  go.work
  tooling/digest-analyzer/.gitignore
  tooling/digest-analyzer/Makefile
  tooling/digest-analyzer/README.md
  tooling/digest-analyzer/go.mod
  tooling/digest-analyzer/go.sum
  tooling/digest-analyzer/main.go
Due: none

Bump CS image to d5400c605d9a
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

Path conditions:
  create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-prod: any of: ^(demo)
  ci/prow/create-aro-hcp-in-stage: any of: ^(demo)
  ci/prow/integration-e2e-parallel: any of: ^(test|demo)
  ci/prow/prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/stage-e2e-parallel: any of: ^(test|demo)
