Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

observability-prometheus:
  steps:
    test:
    - ref: aro-hcp-observability-prometheus

observability-grafana:
  steps:
    test:
    - ref: aro-hcp-observability-grafana

e2e-parallel:
  always_run: true
  steps:
    cluster_profile: aro-hcp-dev
    env:
      LOCATION: westus3
    workflow: aro-hcp-local-e2e

ci/prow/e2e-parallel:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aro-hcp-dev
    ci-operator.openshift.io/cloud-cluster-profile: aro-hcp-dev
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

docs(infra): clarify postgres admin MI comments
  dev-infrastructure/modules/cluster-service.bicep
  dev-infrastructure/modules/maestro/maestro-server.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

docs: update secret-sync with registry.stage.redhat.io pull secret source
  docs/secret-sync.md
Due: none

fix(grafana): comment out rollout steps
  dev-infrastructure/global-pipeline-stg.yaml
  dev-infrastructure/global-pipeline.yaml
  dev-infrastructure/region-pipeline.yaml
  dev-infrastructure/templates/global-infra.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix(grafana): disable remaining grafana reader steps
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix typo
  cluster-service/cs-debug-jobs/testdata/zz_fixture_TestHelmTemplate_cs_debugjobs_enabled.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: remove unused addAuth method flagged by linter
  tooling/image-updater/internal/clients/generic.go
Due: e2e-parallel, ci/prow/e2e-parallel

WIP: feat: grant postgres access via Entra admin instead of deployment script
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/pers/westus3.yaml
  dev-infrastructure/modules/cluster-service.bicep
  dev-infrastructure/modules/maestro/maestro-server.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

chore: yamlfmt region-pipeline.yaml
  dev-infrastructure/region-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

expose kube_applier_desires metric
  kube-applier/pkg/app/desire_metrics.go
  kube-applier/pkg/app/kube_applier.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(grafana): guard paused grafana outputs
  dev-infrastructure/modules/metrics/monitor.bicep
  dev-infrastructure/region-pipeline.yaml
  dev-infrastructure/templates/output-global.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix(grafana): emit empty paused outputs instead of dead expr
  dev-infrastructure/templates/output-global.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix(oidc): address bicep lint failures
  dev-infrastructure/modules/oidc/region/storage-setup.bicep
  dev-infrastructure/templates/svc-cluster.bicep
  tooling/templatize/Makefile
Due: e2e-parallel, ci/prow/e2e-parallel

Delete Kusto logging instructions from personal-dev.md
  docs/personal-dev.md
Due: none

fix: apply cs-keyvault SecretProviderClass as pre-upgrade hook - to make personal dev env creation work with azuredb
  cluster-service/deploy/templates/cs-keyvault.secret.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_azuredb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_containerdb.yaml
  cluster-service/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cluster_service.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

exclude cs-debug-job helm templates from yamml linting to prevent failures caused by {{- if ...
  .yamllint.yml
Due: none

use only the app MI as admin
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/pers/westus3.yaml
  dev-infrastructure/modules/cluster-service.bicep
  dev-infrastructure/modules/maestro/maestro-server.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix links
  docs/configuration.md
  docs/ops/hcp-cluster-creation-flow.md
Due: none

remove outdated note
  docs/ev2-deployment.md
Due: none

make text reflet present
  kube-applier/readme.md
Due: none

Potential fix for pull request finding
  docs/ops/hcp-cluster-creation-flow.md
Due: none

add alerts to singal kube-applier outages
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  kube-applier/alerts/kube-applier-prometheusRule.yaml
  kube-applier/alerts/kube-applier-prometheusRule_test.yaml
  kube-applier/pkg/app/desire_metrics.go
  observability/alerts-sl-services.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(backend): remove DeleteOrphanedMaestroReadonlyBundles controller
  backend/pkg/app/backend.go
  backend/pkg/controllers/cleanup_legacy_maestro_readonly_bundles_controller.go
  backend/pkg/controllers/delete_orphaned_maestro_readonly_bundles_controller.go
  backend/pkg/controllers/delete_orphaned_maestro_readonly_bundles_controller_test.go
  backend/pkg/controllers/maestro_readonly_bundle_helpers.go
  backend/pkg/controllers/maestro_shard_client.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(backend): remove CleanupLegacyMaestroReadonlyBundles controller
  backend/pkg/app/backend.go
  backend/pkg/controllers/cleanup_legacy_maestro_readonly_bundles_controller.go
  backend/pkg/controllers/maestro_shard_client.go
Due: e2e-parallel, ci/prow/e2e-parallel

add tenantId as annotaion (potential bug fix for cs nil pointer)
  cluster-service/deploy/templates/serviceaccount.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_azuredb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_containerdb.yaml
  cluster-service/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cluster_service.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

lint file
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add autoscaler ReadDesire and update operation gate
  backend/pkg/app/backend.go
  backend/pkg/controllers/create_cluster_scoped_read_desires_controller.go
  backend/pkg/controllers/cs_maestro_utils.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_update.go
  backend/pkg/maestrohelpers/controlplanecomponents.go
  frontend/pkg/frontend/cluster.go
  internal/api/types_operation.go
  internal/api/types_serviceprovider_cluster.go
Due: e2e-parallel, ci/prow/e2e-parallel

Apply suggestions from code review
  tooling/helmtest/testrunner/policy_checks.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: remove unused variables
  backend/pkg/controllers/cs_maestro_utils.go
  backend/pkg/controllers/test_helpers_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: tidy test-integration module after maestro controller removal
  test-integration/go.mod
  test-integration/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

generalize alerts (for other leases and desires in workqueue)
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  kube-applier/alerts/kube-applier-prometheusRule.yaml
  kube-applier/alerts/kube-applier-prometheusRule_test.yaml
  observability/alerts-sl-services.yaml
  observability/alerts/leaderelection-prometheusRule.yaml
  observability/alerts/leaderelection-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

logs: warn on unparsable managedBy resource ID
  tooling/cleanup-sweeper/pkg/policy/discovery.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: consolidate leader election wiring into shared internal/leaderelection package
  backend/pkg/app/backend.go
  backend/pkg/app/leader_election_lock_wiring.go
  fleet/pkg/manager/leader_election_wiring.go
  fleet/pkg/manager/manager.go
  internal/leaderelection/leaderelection.go
  kube-applier/pkg/app/kube_applier.go
  kube-applier/pkg/app/leader_election_wiring.go
  mgmt-agent/cmd/options.go
  sessiongate/Dockerfile
  sessiongate/Dockerfile.dockerignore
  sessiongate/cmd/options.go
  sessiongate/go.mod
  sessiongate/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

feat(grafanactl): add reconcile tool for managed grafana (ARO-28040)
  tooling/grafanactl/README.md
  tooling/grafanactl/cmd/reconcile/cmd.go
  tooling/grafanactl/cmd/reconcile/options.go
  tooling/grafanactl/go.mod
  tooling/grafanactl/go.sum
  tooling/grafanactl/main.go
Due: e2e-parallel, ci/prow/e2e-parallel

revert: re-enable grafana (undo ARO-28044 mitigation)
  dev-infrastructure/global-pipeline-stg.yaml
  dev-infrastructure/global-pipeline.yaml
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/modules/metrics/monitor.bicep
  dev-infrastructure/region-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/templates/global-infra.bicep
  dev-infrastructure/templates/output-global.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(grafana): reconcile grafana via pipeline step, drop deploymentScript (ARO-28040)
  dev-infrastructure/configurations/global-infra-stg.tmpl.bicepparam
  dev-infrastructure/configurations/global-infra.tmpl.bicepparam
  dev-infrastructure/configurations/grafana-rbac-stg.tmpl.bicepparam
  dev-infrastructure/configurations/grafana-rbac.tmpl.bicepparam
  dev-infrastructure/global-pipeline-stg.yaml
  dev-infrastructure/global-pipeline.yaml
  dev-infrastructure/modules/grafana/grafanaIntegrationsLookup.ps1
  dev-infrastructure/modules/grafana/instance.bicep
  dev-infrastructure/modules/grafana/integration-lookup.bicep
  dev-infrastructure/region-pipeline.yaml
  dev-infrastructure/templates/global-infra.bicep
  dev-infrastructure/templates/grafana-rbac.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix: remove MI AAD propagation deployment script
  dev-infrastructure/scripts/validate-mi-aad-propagation.sh
  dev-infrastructure/templates/svc-cluster.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix(infra): remove stale MI validation script reference
  dev-infrastructure/modules/network/vnet.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

feat(hcpctl): add Google Vertex AI backend support for Claude provider
  tooling/hcpctl/cmd/snapshot/analyze_cmd.go
  tooling/hcpctl/pkg/agent/claude_provider.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: remove unused test helpers and fix lint issues after controller refactoring
  backend/pkg/controllers/cluster/operations/dispatch_request_credential.go
  backend/pkg/controllers/cluster/operations/dispatch_revoke_credentials.go
  backend/pkg/controllers/cluster/operations/operation_cluster_create.go
  backend/pkg/controllers/cluster/operations/operation_cluster_delete.go
  backend/pkg/controllers/cluster/operations/operation_cluster_delete_legacy.go
  backend/pkg/controllers/cluster/operations/operation_cluster_update.go
  backend/pkg/controllers/cluster/operations/operation_request_credential.go
  backend/pkg/controllers/cluster/operations/operation_revoke_credentials.go
  backend/pkg/controllers/cluster/status/cluster_degraded_aggregator.go
  backend/pkg/controllers/cluster/status/cluster_degraded_aggregator_test.go
  backend/pkg/controllers/externalauth/operations/operation_external_auth_create.go
  backend/pkg/controllers/externalauth/operations/operation_external_auth_delete.go
  backend/pkg/controllers/externalauth/operations/operation_external_auth_update.go
  backend/pkg/controllers/externalauth/operations/test_helpers_test.go
  backend/pkg/controllers/externalauth/status/externalauth_degraded_aggregator.go
  backend/pkg/controllers/externalauth/status/externalauth_degraded_aggregator_test.go
  backend/pkg/controllers/nodepool/operations/operation_node_pool_create.go
  backend/pkg/controllers/nodepool/operations/operation_node_pool_delete.go
  backend/pkg/controllers/nodepool/operations/operation_node_pool_update.go
  backend/pkg/controllers/nodepool/status/nodepool_degraded_aggregator.go
  backend/pkg/controllers/nodepool/status/nodepool_degraded_aggregator_test.go
  backend/pkg/controllers/shared/billing/test_helpers_test.go
  backend/pkg/controllers/shared/operations/test_helpers_test.go
  backend/pkg/controllers/shared/status/aggregator_testhelpers_test.go
  test-integration/backend/controllers/mismatches/cluster_mismatch_test.go
  test-integration/backend/controllers/mismatches/externalauth_mismatch_test.go
  test-integration/backend/controllers/mismatches/nodepool_mismatch_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
