Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

chore: bump cihealth image
  config/config-dev-ci.yaml
  dev-infrastructure/dev-ci/cihealth/deploy/values.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: parse Prow URLs by cutting on /view/gs/ instead of iterating segments
  tooling/hcpctl/pkg/snapshot/prow.go
  tooling/hcpctl/pkg/snapshot/prow_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(hcpctl): add velero backup queries to snapshot gatherer
  tooling/hcpctl/pkg/snapshot/gatherer.go
  tooling/hcpctl/pkg/snapshot/queries.go
  tooling/hcpctl/pkg/snapshot/queries/velero/backups/README.md
  tooling/hcpctl/pkg/snapshot/queries/velero/backups/query.kql
  tooling/hcpctl/pkg/snapshot/queries/velero/dataUploads/README.md
  tooling/hcpctl/pkg/snapshot/queries/velero/dataUploads/query.kql
  tooling/hcpctl/pkg/snapshot/queries/velero/deleteBackupRequests/README.md
  tooling/hcpctl/pkg/snapshot/queries/velero/deleteBackupRequests/query.kql
  tooling/hcpctl/pkg/snapshot/queries/velero/logs/README.md
  tooling/hcpctl/pkg/snapshot/queries/velero/logs/query.kql
  tooling/hcpctl/pkg/snapshot/queries/velero/mgmtCluster/README.md
  tooling/hcpctl/pkg/snapshot/queries/velero/mgmtCluster/query.kql
  tooling/hcpctl/pkg/snapshot/queries/velero/schedules/README.md
  tooling/hcpctl/pkg/snapshot/queries/velero/schedules/query.kql
  tooling/hcpctl/pkg/snapshot/queries/velero/serverLogs/README.md
  tooling/hcpctl/pkg/snapshot/queries/velero/serverLogs/query.kql
  tooling/hcpctl/pkg/snapshot/queries_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Initial implementation of destruct chain in ClusterResourcesController
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/deletion/cluster_cluster_service_delete_dispatch_controller.go
  backend/pkg/controllers/cluster/deletion/cluster_cluster_service_delete_dispatch_controller_test.go
  backend/pkg/controllers/cluster/operations/operation_cluster_delete.go
  backend/pkg/controllers/clusterresources/apply_desire_removal_chain.go
  backend/pkg/controllers/clusterresources/apply_desire_removal_chain_test.go
  backend/pkg/controllers/clusterresources/apply_desire_removal_steps.go
  backend/pkg/controllers/clusterresources/cluster_resources_controller.go
  backend/pkg/controllers/clusterresources/desire_names.go
  kube-applier/deploy/templates/clusterrole.yaml
  kube-applier/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_kube_applier.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(api): improve docs description for active versions
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-10-01-preview/openapi.json
  internal/azureapi/v20261001preview/generated/models.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: use CLI flags and subscription lister for orphaned MRG controller
  backend/cmd/root.go
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/deletion/orphaned_managed_resource_group_controller.go
  backend/pkg/utils/controllerutils/managed_resource_group_watching_controller.go
Due: e2e-parallel, ci/prow/e2e-parallel

Revert "test(slot-manager): temporarily force weighted region selection"
  test/cmd/aro-hcp-tests/slot-manager/acquire.go
  test/cmd/aro-hcp-tests/slot-manager/acquire_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: restore append semantics for Entra owners
  dev-infrastructure/templates/geneva-identities.bicep
  dev-infrastructure/templates/mise-identity.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

address review comments on cluster deletion SLO alerts
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix indentation under prometheusrule
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Fix: Latency, renaming, duplication alert
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

regenerate recording rules Bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

observability: Add cluster deletion alerting rules (ARO-26216)
  observability/alerts-rp-services.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: add component label and fix stuck-op summary for cluster deletion alerts
  observability/alerts/HCPClusterDeletion-prometheusRule.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: finalize cluster deletion SLO alerts with fixes
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: address reviewer feedback on cluster deletion SLO alerts
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/HCPClusterDeletion-prometheusRule.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
  observability/recording-rules-services.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: add prometheus_replica dedup to dashboard absolute-count panels
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
Due: e2e-parallel, ci/prow/e2e-parallel

added max by function and cleaned the deletion phase
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

regenerate Bicep alerts and recording rules after rebase
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

rebase fix
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

refactor: collapse per-service deny assignments into one complete deny assignment
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_controller_test.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_definitions.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_definitions_test.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_permissions.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(frontend): remove subscription lifecycle metrics
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/metrics.go
  frontend/pkg/frontend/metrics_test.go
  frontend/pkg/frontend/routes.go
  frontend/pkg/metrics/metrics.go
  frontend/pkg/metrics/metrics_test.go
  observability/grafana-dashboards/frontend/frontend.json
Due: e2e-parallel, ci/prow/e2e-parallel

hardcode CloudReplacement
  test/util/config/config.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: ARO-29395 - alert when validation controller reconciliation fails
  backend/alerts/backend-retryhotloop-prometheusRule.yaml
  backend/alerts/backend-retryhotloop-prometheusRule_test.yaml
  backend/pkg/controllers/cluster/validation/cluster_validation_controller.go
  backend/pkg/controllers/cluster/validation/cluster_validation_controller_test.go
  backend/pkg/controllers/nodepool/validation/nodepool_validation_controller.go
  backend/pkg/controllers/nodepool/validation/nodepool_validation_controller_test.go
  backend/pkg/utils/controllerutils/controller_metrics.go
  backend/pkg/utils/controllerutils/generic_operation.go
  backend/pkg/utils/controllerutils/generic_watching_controller.go
  dev-infrastructure/modules/metrics/rules/generatedDevServicesPrometheusAlertingRules.bicep
  fleet/pkg/controllers/base/management_cluster_watching_controller.go
  fleet/pkg/controllers/base/stamp_watching_controller.go
  internal/controllerutils/generic_watching_controller.go
  internal/controllerutils/generic_watching_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(slot-manager): tighten weighted input validation
  docs/ci/identity-leasing.md
  test/cmd/aro-hcp-tests/slot-manager/acquire.go
  test/cmd/aro-hcp-tests/slot-manager/acquire_test.go
  test/cmd/aro-hcp-tests/slot-manager/slots/catalog.go
  test/cmd/aro-hcp-tests/slot-manager/slots/catalog_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(slot-manager): validate region mode YAML types
  test/cmd/aro-hcp-tests/slot-manager/DESIGN.md
  test/cmd/aro-hcp-tests/slot-manager/slots/catalog.go
  test/cmd/aro-hcp-tests/slot-manager/slots/catalog_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: read cluster/nodepool from lister instead of live Cosmos in version controllers
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/version/control_plane_active_version_controller.go
  backend/pkg/controllers/cluster/version/control_plane_active_version_controller_test.go
  backend/pkg/controllers/cluster/version/trigger_control_plane_upgrade_controller.go
  backend/pkg/controllers/cluster/version/trigger_control_plane_upgrade_controller_test.go
  backend/pkg/controllers/nodepool/version/trigger_node_pool_upgrade_controller.go
  backend/pkg/controllers/nodepool/version/trigger_node_pool_upgrade_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Ensure there are ReadDesires for each cluster resource created
  backend/pkg/controllers/cluster/deletion/cluster_child_resources_cleanup_controller.go
  backend/pkg/controllers/clusterresources/apply_desire_removal_chain.go
  backend/pkg/controllers/clusterresources/apply_desire_removal_chain_test.go
  backend/pkg/controllers/clusterresources/apply_desire_removal_steps.go
  backend/pkg/controllers/clusterresources/cluster_resources_controller.go
  backend/pkg/controllers/clusterresources/cluster_resources_controller_test.go
  backend/pkg/controllers/nodepool/deletion/node_pool_child_resources_cleanup_controller.go
  kube-applier/deploy/templates/clusterrole.yaml
  kube-applier/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_kube_applier.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

move earliestrecheck to be controller level for oidc federation
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_controller.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_controller_test.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_intent_controller_test.go
  docs/cosmos-data-flow.md
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(backend): add controller that fetches and persists identity metadata from different sources
  backend/cmd/hardcoded_identity_wiring.go
  backend/cmd/root.go
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/identity/fetch_managed_identities_info.go
  backend/pkg/controllers/cluster/identity/fetch_managed_identities_info_test.go
  backend/pkg/controllers/cluster/identity/fetch_msi_identities_info_synconce_test.go
  backend/pkg/controllers/cluster/identity/fetch_msi_identities_info_test.go
  docs/cosmos-data-flow.md
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
  test-integration/backend/launch/metrics_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

wip: identity replacement approach based on granular steps and storing all identity info with oidc federation example
  backend/pkg/app/backend.go
  backend/pkg/azure/client/errors.go
  backend/pkg/azure/client/federated_identity_credentials_client.go
  backend/pkg/azure/client/mock_federated_identity_credentials_client.go
  backend/pkg/azure/client/mock_smi_client_builder.go
  backend/pkg/azure/client/smi_client_builder.go
  backend/pkg/azure/federatedidentitycredential/federatedidentitycredential.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_controller.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_controller_test.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_intent_controller.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_intent_controller_test.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_test_helpers_test.go
  backend/pkg/controllers/cluster/deletion/cluster_child_resources_cleanup_controller.go
  backend/pkg/controllers/cluster/deletion/cluster_child_resources_cleanup_mrg_gate_test.go
  backend/pkg/utils/validationutils/azure_nodepool_nsg_based_required_connectivity_validation_test.go
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/types_serviceprovider_cluster_dataplane_oidc_test.go
  internal/api/coreapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: record cached-lister cluster/nodepool reads in cosmos-data-flow
  docs/cosmos-data-flow.md
Due: none

test: cover cached-lister SyncOnce read path in trigger upgrade controllers
  backend/pkg/controllers/cluster/version/trigger_control_plane_upgrade_controller_test.go
  backend/pkg/controllers/nodepool/version/trigger_node_pool_upgrade_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

remove phase and replace by checking different elements
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_controller.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_controller_test.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_intent_controller.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_intent_controller_test.go
  backend/pkg/controllers/cluster/deletion/cluster_child_resources_cleanup_mrg_gate_test.go
  docs/cosmos-data-flow.md
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/types_serviceprovider_cluster_dataplane_oidc_test.go
  internal/api/coreapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add unit test for return-cluster-autoscaler-config-in-get-res-aro-28376
  internal/ocm/resolve_cluster_links_test.go
Due: e2e-parallel, ci/prow/e2e-parallel
