Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

chore: remove one-shot legacy kusto-monitoring detach step (ARO-28726)
  dev-infrastructure/scripts/detach-legacy-monitoring-stack.sh
Due: e2e-parallel, ci/prow/e2e-parallel

chore: remove detach-legacy-monitoring-stack from geography pipelines (ARO-28726)
  dev-infrastructure/geography-pipeline-stg.yaml
  dev-infrastructure/geography-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

docs(cleanup): clarify per-target revalidation failures
  docs/ci/cleanup.md
Due: none

gate v5 upgrades without data-plane mirror
  backend/pkg/controllers/cluster/operations/operation_cluster_update_state_calculation.go
  backend/pkg/controllers/cluster/version/control_plane_active_version_controller.go
  backend/pkg/controllers/cluster/version/control_plane_active_version_controller_test.go
  docs/cosmos-data-flow.md
  internal/admission/admit_cluster.go
  internal/admission/admit_cluster_test.go
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: use wait backoff for framework LRO retries
  test/util/framework/azure_client_policies.go
  test/util/framework/azure_client_policies_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: pin Cilium CNI conflist cniVersion to satisfy Multus in e2e tests
  test/e2e/cluster_create_cni_cilium.go
  test/e2e/cluster_create_complex_cilium_kv.go
  test/e2e/cluster_create_feature_aggregation.go
  test/util/framework/cilium_helper.go
  test/util/framework/cilium_helper_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: cover private KAS version validation
  test/e2e/simple_negative_cases.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: pkg/internal prefers KeyEncryptionKeyURL for KMS
  internal/api/coreapi/kms_url.go
  internal/azureapi/v20261003preview/hcpopenshiftclusters_methods.go
  internal/ocm/cluster_update_dispatch_config.go
  internal/ocm/convert.go
  internal/ocm/convert_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(cleanup-sweeper): format role assignment test imports (AROSLSRE-2033)
  tooling/cleanup-sweeper/pkg/engine/steps/roleassignments/delete_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(ci): add taxonomy auto-routing design doc for ARO-28146
  docs/ci/taxonomy-auto-routing.md
Due: none

feat: set node pool min version in the frontend to 4.20.8 for all users
  internal/validation/validate_nodepools.go
  internal/validation/validate_nodepools_comprehensive_test.go
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/update-reject-cluster-version-skew-patch/06-httpCreate-nodepool/nodepool.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/experimental-features/05-httpCreate-node-pool-420/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/experimental-features/05-httpCreate-node-pool-420/nodepool-4.20.0.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/experimental-features/06-setClusterServiceID-node-pool-420/00-key.json
Due: e2e-parallel, ci/prow/e2e-parallel

feat(e2e): add e2e test for BYOK OS Disks
  test/e2e-setup/bicep/modules/customer-infra.bicep
  test/e2e/nodepool_osdisk_encryption.go
  test/go.mod
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
  test/util/framework/disk_encryption_set_helper.go
  test/util/framework/helpers_v20240610preview.go
  test/util/framework/helpers_v20251223preview.go
  test/util/framework/helpers_v20260630preview.go
  test/util/framework/helpers_v20260901preview.go
  test/util/framework/per_test_framework.go
  test/util/framework/per_test_framework_test.go
  test/util/verifiers/osdisk_encryption.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(taxonomy): Add section describing ticket lookup options
  docs/ci/taxonomy-auto-routing.md
Due: none

fix: align RP lane alert naming with ADR-001 (ARO-28534)
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/access-cluster-slo-prometheusRule.yaml
  observability/alerts/access-cluster-slo-prometheusRule_test.yaml
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

test: align duplicate-series fixture with alert rename
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

test: align rebased access-cluster alert fixture
  observability/alerts/access-cluster-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat(observability): add CNS and konnectivity PodMonitors (ARO-25382)
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arohcp_monitor.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arohcp_monitor.yaml
  observability/prometheus/deploy/templates/azure-cns.podmonitor.yaml
  observability/prometheus/deploy/templates/konnectivity-server.podmonitor.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources_unset.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

ARO-26057: reconcile Grafana ADX integration fabrics
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  dev-infrastructure/configurations/kusto-stg.tmpl.bicepparam
  dev-infrastructure/configurations/kusto.tmpl.bicepparam
  dev-infrastructure/geography-pipeline-stg.yaml
  dev-infrastructure/geography-pipeline.yaml
  dev-infrastructure/global-pipeline-stg.yaml
  dev-infrastructure/global-pipeline.yaml
  dev-infrastructure/grafana-pipeline.yaml
  dev-infrastructure/modules/logs/kusto/cluster.bicep
  dev-infrastructure/modules/logs/kusto/main.bicep
  dev-infrastructure/templates/kusto.bicep
  docs/monitoring.md
  go.work
  tooling/templatize/pkg/pipeline/grafana_reconcile.go
  tooling/templatize/pkg/pipeline/grafana_reconcile_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(api): stop writing activeKey in all API versions
  internal/admission/admit_cluster.go
  internal/apitesting/coreapitesting/testhelpers.go
  internal/azureapi/v20240610preview/conversion_fuzz_test.go
  internal/azureapi/v20240610preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20251223preview/conversion_fuzz_test.go
  internal/azureapi/v20251223preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20260630preview/conversion_fuzz_test.go
  internal/azureapi/v20260630preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20260901preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20261001preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20261003preview/conversion_fuzz_test.go
  internal/azureapi/v20261003preview/hcpopenshiftclusters_methods.go
  internal/ocm/convert_test.go
  internal/validation/hcpopenshiftcluster_test.go
  internal/validation/validate_cluster.go
  internal/validation/validate_cluster_comprehensive_test.go
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-current/04-cosmosCompare-confirm-content/cluster-create-with-tags.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-current/11-cosmosCompare-confirm-update/cluster-create-with-tags.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/delete-with-pending-cluster-operation/03-cosmosCompare-final-state/cluster-test-cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/delete-with-pending-nodepool-operation/07-cosmosCompare-final-state/cluster-test-cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/missing-required-fields/01-httpCreate-cluster/cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/missing-required-fields/01-httpCreate-cluster/expected-error.txt
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/read-old-data/09-cosmosCompare-confirm-update/cluster-create-with-tags.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/some-immutable-field-checks/05-httpReplace-cluster/cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/some-immutable-field-checks/05-httpReplace-cluster/expected-error.txt
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/create-current/05-cosmosCompare-ending-content/cluster-create-with-tags.json
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/second-external-auth-rejected/99-cosmosCompare-ending-content/cluster-example-cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/create-current/07-cosmosCompare-confirm-content/cluster-create-with-tags.json
Due: e2e-parallel, ci/prow/e2e-parallel

fix(cleanup-sweeper): remove directory write purge (AROSLSRE-2033)
  tooling/cleanup-sweeper/cmd/root/options.go
  tooling/cleanup-sweeper/cmd/root/options_test.go
  tooling/cleanup-sweeper/cmd/workflow/shared/run.go
  tooling/cleanup-sweeper/pkg/engine/role_assignments_sweeper.go
  tooling/cleanup-sweeper/pkg/engine/steps/directoryobjects/purge_aged_deleted.go
  tooling/cleanup-sweeper/pkg/engine/steps/directoryobjects/purge_aged_deleted_test.go
  tooling/cleanup-sweeper/pkg/engine/workflows_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(cleanup-sweeper): reuse principal lookup (AROSLSRE-2033)
  tooling/cleanup-sweeper/pkg/engine/steps/roleassignments/delete.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(cleanup-sweeper): fail closed on empty Graph response (AROSLSRE-2033)
  tooling/cleanup-sweeper/pkg/engine/steps/roleassignments/delete.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: Regenerate v20260901preview models (internal and E2E)
  internal/azureapi/v20260901preview/generated/constants.go
  internal/azureapi/v20260901preview/generated/models.go
  internal/azureapi/v20260901preview/generated/models_serde.go
  internal/azureapi/v20260901preview/generated/time_rfc3339.go
  test/go.mod
  test/go.sum
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/client_factory.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/constants.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/externalauths_client.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/externalauths_server.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/hcpopenshiftclusters_server.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/hcpopenshiftversions_server.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/hcpoperatoridentityrolesets_server.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/internal.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/nodepools_server.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/operations_server.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/server_factory.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/go.mod
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/hcpopenshiftclusters_client.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/hcpopenshiftversions_client.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/hcpoperatoridentityrolesets_client.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models_serde.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/nodepools_client.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/operations_client.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/options.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/responses.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/testdata/_metadata.json
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/time_rfc3339.go
  test/util/framework/helpers_v20260901preview.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: Regenerate v20261001preview models (internal and E2E)
  internal/azureapi/v20261001preview/generated/constants.go
  internal/azureapi/v20261001preview/generated/models.go
  internal/azureapi/v20261001preview/generated/models_serde.go
  internal/azureapi/v20261001preview/generated/time_rfc3339.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/client_factory.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/constants.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/externalauths_client.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/externalauths_server.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/hcpopenshiftclusters_server.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/hcpopenshiftversions_server.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/hcpoperatoridentityrolesets_server.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/internal.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/nodepools_server.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/operations_server.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/server_factory.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/go.mod
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/hcpopenshiftclusters_client.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/hcpopenshiftversions_client.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/hcpoperatoridentityrolesets_client.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models_serde.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/nodepools_client.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/operations_client.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/options.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/responses.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/time_rfc3339.go
  test/util/framework/helpers_v20261001preview.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore(api): Remove unused "format-check" script
  api/package.json
Due: e2e-parallel, ci/prow/e2e-parallel

feat(api): Determine the latest version automatically
  api/Makefile
Due: e2e-parallel, ci/prow/e2e-parallel

chore: bump CIHealth image
  config/config-dev-ci.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Drop duplicate-cluster-label summary change; correction moves to the generator
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/access-cluster-slo-prometheusRule.yaml
  observability/alerts/access-cluster-slo-prometheusRule_test.yaml
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

use recording rule in stuck operation alert and fix alert name casing
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat(backend): create managed resource group in ObserveManagedResourceGroup controller
  backend/pkg/controllers/cluster/azureresources/managed_resource_group_controller.go
  backend/pkg/controllers/cluster/azureresources/managed_resource_group_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Gate already-exists path on provisioning state before confirming MRG
  backend/pkg/controllers/cluster/azureresources/managed_resource_group_controller.go
  backend/pkg/controllers/cluster/azureresources/managed_resource_group_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(backend): wait for deny assignment reconciliation
  backend/pkg/controllers/cluster/creation/cluster_cluster_service_create_controller.go
  backend/pkg/controllers/cluster/creation/cluster_cluster_service_create_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Requeue managed resource group while it is provisioning
  backend/pkg/controllers/cluster/azureresources/managed_resource_group_controller.go
  backend/pkg/controllers/cluster/azureresources/managed_resource_group_controller_test.go
  docs/cosmos-data-flow.md
Due: e2e-parallel, ci/prow/e2e-parallel

Revert "Merge pull request #6817 from deads2k/revert-deny"
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/creation/cluster_cluster_service_create_controller.go
  backend/pkg/controllers/cluster/creation/cluster_cluster_service_create_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Rename controller to EnsureManagedResourceGroup
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/azureresources/managed_resource_group_controller.go
  backend/pkg/controllers/cluster/deletion/cluster_child_resources_cleanup_controller.go
  docs/cosmos-data-flow.md
  internal/api/coreapi/types_serviceprovider_cluster.go
Due: e2e-parallel, ci/prow/e2e-parallel

Split MRG validation and persistence into separate inline calls
  backend/pkg/controllers/cluster/azureresources/managed_resource_group_controller.go
  backend/pkg/controllers/cluster/azureresources/managed_resource_group_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Improve SLI dashboard program call view
  observability/grafana-dashboards/sre/user-journey/sli-slo-metrics.json
Due: e2e-parallel, ci/prow/e2e-parallel

fix(backend): wait for managed resource group before deny assignments
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_controller.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_controller_test.go
  docs/cosmos-data-flow.md
Due: e2e-parallel, ci/prow/e2e-parallel

Use selected window for SLI summaries
  observability/grafana-dashboards/sre/user-journey/sli-slo-metrics.json
Due: e2e-parallel, ci/prow/e2e-parallel

Promote operation phase reporting
  observability/grafana-dashboards/sre/user-journey/sli-slo-metrics.json
Due: e2e-parallel, ci/prow/e2e-parallel
