Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Path conditions:
  create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-prod: any of: ^(demo)
  ci/prow/create-aro-hcp-in-stage: any of: ^(demo)
  ci/prow/integration-e2e-parallel: any of: ^(test|demo)
  ci/prow/prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/stage-e2e-parallel: any of: ^(test|demo)

test(e2e): add functional ExternalEntra and ExternalAuth Full E2E tests
  test/e2e/external_auth_complete_cluster.go
  test/e2e/external_entra_create.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

adding demo script and entra auth bicep template.
  demo/bicep/external_auth.bicep
  demo/main.sh
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

adding updated all in one external auth test to handle az toke issues with CI.
  go.work.sum
  test/e2e/external_auth_all_in_one.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

adding entra delete test case.
  test/e2e/external_entra_delete.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

fixing gitignore
  .gitignore
Due: none

updating min oidc with console and secret naming config.
  test/e2e/external_auth_min_oidc_console_cli.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

adding minimum OIDC create external auth.
  test/e2e/enternal_auth_minimum-oidc.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

updaate all one test case and fixing gitignore
  test/e2e/external_auth_all_in_one.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

chore: ignore .openshift-tests-extension/
  .gitignore
Due: none

fixing go-linting and ci and doing some clean-up.
  demo/bicep/external_auth.bicep
  test/e2e/external_auth_create_test.go
  test/e2e/external_auth_get_test.go
  test/e2e/test-artifacts/external-auth/external-auth-cluster.bicepparm
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: temp rename files to localize testing
  test/e2e/enternal_auth_minimum-oidc.go.tmp
  test/e2e/external_auth_complete_cluster.go.tmp
  test/e2e/external_auth_get_smoke.go.tmp
  test/e2e/external_auth_min_oidc_console_cli.go.tmp
  test/e2e/external_entra_create.go.tmp
  test/e2e/external_entra_create_provider.go.tmp
  test/e2e/external_entra_delete.go.tmp
  test/e2e/external_entra_provider_helpers.go.tmp
  test/e2e/external_entra_provider_redirect.go.tmp
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

adding updates to create deleted and minimum OIDC create testcases.
  test/e2e/enternal_auth_minimum-oidc.go
  test/e2e/external_auth_get_smoke.go
  test/e2e/external_auth_min_oidc_console_cli.go
  test/e2e/external_entra_create.go
  test/e2e/external_entra_delete.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

adding to gitignore generated files.
  go.work.sum
Due: none

test: add ExternalAuth E2E tests and supporting artifacts
  test/e2e/external_auth_complete_cluster.go
  test/e2e/external_auth_create_test.go
  test/e2e/external_auth_get_test.go
  test/e2e/test-artifacts/external-auth/external-auth-cluster.bicep
  test/e2e/test-artifacts/external-auth/external-auth-cluster.bicep.sha256
  test/e2e/test-artifacts/external-auth/external-auth-cluster.bicepparm
  test/hack/update-bicep-json.sh
  test/util/labels/labels.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

adding supporting documentation.
  test/e2e/external_entra_auth_e2e_tests.md
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

fix lintinging.
  test/e2e/external_auth_complete_cluster.go
  test/e2e/external_entra_create.go
  test/e2e/test-artifacts/external-auth/external-auth-cluster.bicep
  test/hack/update-bicep-json.sh
  test/util/labels/labels.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

chore: ignore generated artifacts; add Entra demo bicep and external auth API test helpers
  .gitignore
  demo/bicep/external_auth_entra.bicep
  test/e2e/external_auth_api.go
  test/e2e/test-artifacts/external-auth/external-auth-cluster.bicep.sha256
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

adding nodepool creations and RP test case to external auth all in one test case.
  test/e2e/external_auth_all_in_one.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

fix linting and cleanup
  test/e2e/external_entra_provider_helpers.go
  test/e2e/external_entra_provider_redirect.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: split provider flow into step2 (group+redirect) and step3 (publish OIDC)
  test/e2e/external_entra_create_provider.go
  test/e2e/external_entra_provider_helpers.go
  test/e2e/external_entra_provider_redirect.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: add ExternalAuth GET smoke test and update all-in-one flow
  test/e2e/external_auth_all_in_one.go
  test/e2e/external_auth_get_smoke.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

updating external_auth_min_oidc_console_cli.go to support hcp login.
  test/e2e/external_auth_min_oidc_console_cli.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

adding all in one test case for external auth entra and OIDC to rp.
  test/e2e/external_auth_all_in_one.go
  test/e2e/external_auth_api.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: refactor external auth aio to use clients
  internal/graph/util/client.go
  test/e2e/external_auth_all_in_one.go
  test/go.mod
  test/go.sum
  test/util/framework/hcp_helper.go
  test/util/framework/per_test_framework.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: focus external auth on a single test case right now
  test/e2e/enternal_auth_minimum-oidc.go.tmp
  test/e2e/external_auth_complete_cluster.go.tmp
  test/e2e/external_auth_create.go
  test/e2e/external_auth_get_smoke.go.tmp
  test/e2e/external_auth_min_oidc_console_cli.go.tmp
  test/e2e/external_entra_auth_e2e_tests.md
  test/e2e/external_entra_create.go.tmp
  test/e2e/external_entra_create_provider.go.tmp
  test/e2e/external_entra_delete.go.tmp
  test/e2e/external_entra_provider_helpers.go.tmp
  test/e2e/external_entra_provider_redirect.go.tmp
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: add app registration helpers and sync test artifacts for external auth test
  demo/bicep/external_auth_entra.bicep
  test/e2e/external_auth_all_in_one.go
  test/e2e/test-artifacts/external-auth/external-auth-cluster.bicep
  test/hack/update-bicep-json.sh
  test/util/framework/hcp_helper.go
  test/util/framework/per_test_framework.go
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: remove labels for external auth
  test/e2e/external_auth_create.go
  test/util/labels/labels.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: remove demo/main.sh, focus on e2e tests instead of demo scripts
  .gitignore
  demo/main.sh
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

README update for resource naming
  test/e2e/README.md
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Fix conflicts
  test/e2e/cmk_etcd_cluster_create.go
  test/e2e/test-artifacts/cmk-etcd/cmk-etcd-cluster.bicep
  test/hack/update-bicep-json.sh
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Update key version and small fixes
  test/e2e/cmk_etcd_cluster_create.go
  test/e2e/test-artifacts/cmk-etcd/cmk-etcd-cluster.bicep
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Update e2e test for CMK
  test/e2e-setup/bicep/customer-managed-kms-etcd/customer-managed-kms-etcd-cluster.bicep
  test/e2e/cmk_etcd_cluster_create.go
  test/e2e/customer_managed_kms_etcd_cluster_create.go
  test/e2e/test-artifacts/cmk-etcd/cmk-etcd-cluster.bicep
  test/hack/update-bicep-json.sh
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Change Note to Important, improve clarity, add note about bicep deployment names.
  test/e2e/README.md
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

tests
  go.work.sum
  tooling/hcpctl/pkg/release/helm.go
  tooling/hcpctl/pkg/release/helm_test.go
  tooling/hcpctl/pkg/release/report.go
  tooling/hcpctl/pkg/release/report_test.go
  tooling/hcpctl/pkg/release/types.go
  tooling/hcpctl/pkg/release/types_test.go
  tooling/hcpctl/testdata/zz_fixture_TestClusterComponentReleaseSerialization_JSON_serialization.json
  tooling/hcpctl/testdata/zz_fixture_TestClusterComponentReleaseSerialization_YAML_serialization.yaml
  tooling/hcpctl/testdata/zz_fixture_TestClusterMetadataSerialization_With_all_fields_JSON_serialization.json
  tooling/hcpctl/testdata/zz_fixture_TestClusterMetadataSerialization_With_all_fields_YAML_serialization.yaml
  tooling/hcpctl/testdata/zz_fixture_TestClusterMetadataSerialization_With_empty_SdpPipelinesCommit__should_be_omitted_JSON_serialization.json
  tooling/hcpctl/testdata/zz_fixture_TestClusterMetadataSerialization_With_empty_SdpPipelinesCommit__should_be_omitted_YAML_serialization.yaml
  tooling/hcpctl/testdata/zz_fixture_TestComponentMetadataSerialization_JSON_serialization.json
  tooling/hcpctl/testdata/zz_fixture_TestComponentMetadataSerialization_YAML_serialization.yaml
  tooling/hcpctl/testdata/zz_fixture_TestComponentReleaseSerialization_JSON_serialization.json
  tooling/hcpctl/testdata/zz_fixture_TestComponentReleaseSerialization_YAML_serialization.yaml
  tooling/hcpctl/testdata/zz_fixture_TestOutputJSON.json
  tooling/hcpctl/testdata/zz_fixture_TestOutputReports_Empty_commit_values.yaml
  tooling/hcpctl/testdata/zz_fixture_TestOutputReports_JSON_output_format.json
  tooling/hcpctl/testdata/zz_fixture_TestOutputReports_YAML_output_format.yaml
  tooling/hcpctl/testdata/zz_fixture_TestOutputYAML.yaml
  tooling/hcpctl/testdata/zz_fixture_TestWorkloadInfoSerialization_JSON_serialization.json
  tooling/hcpctl/testdata/zz_fixture_TestWorkloadInfoSerialization_YAML_serialization.yaml
Due: none

bump hypershift image for INT
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

fix test case file name
  test/e2e/cluster_create_no_cni.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

golang-ci fixes (wip)
  test/e2e/cluster_create_no_cni_test.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

update e2e-setup no-cni.bicep for etcdEncryption
  test/e2e-setup/bicep/no-cni.bicep
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e-setup: cluster-only.bicep file
  test/e2e-setup/bicep/cluster-only.bicep
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

add cluster_create_no_cni_test.go
  test/e2e/cluster_create_no_cni_test.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel
