Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

test: cover Cosmos-gated startup probes
  backend/pkg/app/startupz_test.go
  fleet/pkg/manager/startupz_test.go
  frontend/pkg/frontend/startupz_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(fleet): compact the nodepool transition trace
  fleet/pkg/controllers/nodepool/simulation.go
  fleet/pkg/controllers/nodepool/testdata/TestCountAboveDesiredMax.txt
  fleet/pkg/controllers/nodepool/testdata/TestCrossFamilyReplace_Downsize.txt
  fleet/pkg/controllers/nodepool/testdata/TestCrossFamilyReplace_Upsize.txt
  fleet/pkg/controllers/nodepool/testdata/TestFreshStart.txt
  fleet/pkg/controllers/nodepool/testdata/TestMaxCountDecreaseBelowRunning.txt
  fleet/pkg/controllers/nodepool/testdata/TestMixedState_MatchedMissingUndesired.txt
  fleet/pkg/controllers/nodepool/testdata/TestMultipleDesiredPoolsPerZone.txt
  fleet/pkg/controllers/nodepool/testdata/TestProductionScenario_MigrationToDesired/capacity_preserving_migration.txt
  fleet/pkg/controllers/nodepool/testdata/TestProductionScenario_MigrationToDesired/fully_allocated_downsize.txt
  fleet/pkg/controllers/nodepool/testdata/TestProtectedReplacement/growing_replacement.txt
  fleet/pkg/controllers/nodepool/testdata/TestProtectedReplacement/partial_replacement_overlap_rejected.txt
  fleet/pkg/controllers/nodepool/testdata/TestProtectedReplacement/spare_quota.txt
  fleet/pkg/controllers/nodepool/testdata/TestQuotaConstrained_Interleave.txt
  fleet/pkg/controllers/nodepool/testdata/TestSameFamilyGrowBeforeShrink.txt
  fleet/pkg/controllers/nodepool/testdata/TestSameFamilyRebalanceZeroSlack.txt
  fleet/pkg/controllers/nodepool/testdata/TestSameFamilyReplace_ZeroSlack_UndesiredPool.txt
  fleet/pkg/controllers/nodepool/testdata/TestScaleDown.txt
  fleet/pkg/controllers/nodepool/testdata/TestScaleUp.txt
  fleet/pkg/controllers/nodepool/testdata/TestUnfreezeBlockedByHighCount.txt
Due: e2e-parallel, ci/prow/e2e-parallel

fix(fleet): nodepool planner follow-ups from #7087
  fleet/pkg/compute/desired.go
  fleet/pkg/compute/desired_test.go
  fleet/pkg/compute/testdata/TestComputeDesiredPools/ephemeral_disk_too_small.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/no_eligible_sku.json
  fleet/pkg/controllers/nodepool/action_test.go
  fleet/pkg/controllers/nodepool/plan.go
  fleet/pkg/controllers/nodepool/simulation_test.go
  fleet/pkg/controllers/nodepool/testdata/TestCountAboveDesiredMax.txt
Due: e2e-parallel, ci/prow/e2e-parallel

test(fleet): plan and project dumped systems
  fleet/pkg/compute/resolve_test.go
  fleet/pkg/compute/testdata/TestResolveDesiredPools_ProductionScenario.txt
  fleet/pkg/compute/testdata/TestResolveDesiredPools_Scenario/uksouth.txt
  fleet/pkg/compute/testdata/TestResolveDesiredPools_Scenario/westus3.txt
  fleet/pkg/compute/testdata/scenarios/uksouth/scenario-agentpools.json
  fleet/pkg/compute/testdata/scenarios/uksouth/scenario-skus.json
  fleet/pkg/compute/testdata/scenarios/uksouth/scenario-usages.json
  fleet/pkg/compute/testdata/scenarios/westus3/scenario-agentpools.json
  fleet/pkg/compute/testdata/scenarios/westus3/scenario-skus.json
  fleet/pkg/compute/testdata/scenarios/westus3/scenario-usages.json
  fleet/pkg/controllers/nodepool/action_test.go
  fleet/pkg/controllers/nodepool/scenario_test.go
  fleet/pkg/controllers/nodepool/testdata/TestProductionScenario_MigrationToDesired/capacity_preserving_migration.txt
  fleet/pkg/controllers/nodepool/testdata/TestProductionScenario_MigrationToDesired/fully_allocated_downsize.txt
  fleet/pkg/controllers/nodepool/testdata/TestProductionScenario_MigrationToDesired/real_snapshot_rejected.txt
  fleet/pkg/controllers/nodepool/testdata/TestShadowSyncOnceScenario/uksouth.txt
  fleet/pkg/controllers/nodepool/testdata/TestShadowSyncOnceScenario/westus3.txt
Due: e2e-parallel, ci/prow/e2e-parallel

test(fleet): render desired pool fixtures as text
  fleet/pkg/compute/desired_test.go
  fleet/pkg/compute/resolve_test.go
  fleet/pkg/compute/testdata/TestComputeDesiredPools/ephemeral_disk_too_small.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/ephemeral_disk_too_small.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/family_fallback.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/family_fallback.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/family_fallback_ephemeral_disk_too_small.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/family_fallback_ephemeral_disk_too_small.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/insufficient_quota.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/insufficient_quota.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/multi_role_production_like.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/multi_role_production_like.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/no_eligible_family.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/no_eligible_family.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/no_eligible_sku.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/no_eligible_sku.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/no_tiers.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/no_tiers.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_families_together_cover_zones_none_covers_alone.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_family_switch_inside_a_zone.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_fills_zones_in_family_priority_order.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_four_zones_picks_best_three.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_picks_zones_allowing_the_most_nodes.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_poolcount_three_rejects_zone_restricted_sku.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_poolcount_three_rejects_zone_restricted_sku.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_poolcount_two_uses_zone_restricted_sku.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_poolcount_two_uses_zone_restricted_sku.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_preferred_family_leaves_a_zone_to_a_restricted_family.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_quota_for_fewer_nodes_than_zones.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_remainder_short_of_every_zone_stays_unused.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_restricted_preferred_family_fills_the_zones_it_is_offered_in.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_tie_keeps_earliest_zones.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/regional_sets_no_zones_and_accepts_zone_restricted_sku.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/regional_sets_no_zones_and_accepts_zone_restricted_sku.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/single_tier_single_family.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/single_tier_single_family.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/surge_reservation.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/surge_reservation.txt
  fleet/pkg/compute/testdata/TestResolveDesiredPools_ProductionScenario.json
  fleet/pkg/compute/testdata/TestResolveDesiredPools_ProductionScenario.txt
Due: e2e-parallel, ci/prow/e2e-parallel

fix(fleet): use Azure's spelling of v6 and v7 VM families
  fleet/pkg/compute/budget_test.go
  fleet/pkg/compute/desired_test.go
  fleet/pkg/compute/resolve_test.go
  fleet/pkg/compute/testdata/TestComputeDesiredPools/family_fallback.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/family_fallback_ephemeral_disk_too_small.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/multi_role_production_like.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_poolcount_two_uses_zone_restricted_sku.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/regional_sets_no_zones_and_accepts_zone_restricted_sku.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/single_tier_single_family.json
  fleet/pkg/compute/testdata/TestComputeDesiredPools/surge_reservation.json
  fleet/pkg/compute/tiers.go
  fleet/pkg/compute/tiers_test.go
  fleet/pkg/compute/types.go
  fleet/pkg/controllers/nodepool/action_test.go
  fleet/pkg/controllers/nodepool/current_test.go
  fleet/pkg/controllers/nodepool/testdata/TestCountAboveDesiredMax.txt
  fleet/pkg/controllers/nodepool/testdata/TestCrossFamilyReplace_Downsize.txt
  fleet/pkg/controllers/nodepool/testdata/TestCrossFamilyReplace_Upsize.txt
  fleet/pkg/controllers/nodepool/testdata/TestFreshStart.txt
  fleet/pkg/controllers/nodepool/testdata/TestMaxCountDecreaseBelowRunning.txt
  fleet/pkg/controllers/nodepool/testdata/TestMixedState_MatchedMissingUndesired.txt
  fleet/pkg/controllers/nodepool/testdata/TestMultipleDesiredPoolsPerZone.txt
  fleet/pkg/controllers/nodepool/testdata/TestQuotaConstrained_Interleave.txt
  fleet/pkg/controllers/nodepool/testdata/TestSameFamilyGrowBeforeShrink.txt
  fleet/pkg/controllers/nodepool/testdata/TestSameFamilyRebalanceZeroSlack.txt
  fleet/pkg/controllers/nodepool/testdata/TestSameFamilyReplace_ZeroSlack_UndesiredPool.txt
  fleet/pkg/controllers/nodepool/testdata/TestScaleDown.txt
  fleet/pkg/controllers/nodepool/testdata/TestScaleUp.txt
  fleet/pkg/controllers/nodepool/testdata/TestUnfreezeBlockedByHighCount.txt
Due: e2e-parallel, ci/prow/e2e-parallel

feat(fleet): balance per-zone tiers across families
  fleet/pkg/compute/desired.go
  fleet/pkg/compute/desired_test.go
  fleet/pkg/compute/testdata/TestComputeDesiredPools/insufficient_quota.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_families_together_cover_zones_none_covers_alone.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_family_switch_inside_a_zone.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_fills_zones_in_family_priority_order.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_four_zones_picks_best_three.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_picks_zones_allowing_the_most_nodes.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_poolcount_three_rejects_zone_restricted_sku.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_preferred_family_leaves_a_zone_to_a_restricted_family.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_quota_for_fewer_nodes_than_zones.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_restricted_preferred_family_fills_the_zones_it_is_offered_in.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/per_zone_tie_keeps_earliest_zones.txt
  fleet/pkg/compute/testdata/TestComputeDesiredPools/regional_insufficient_quota.txt
  fleet/pkg/compute/testdata/TestResolveDesiredPools_Scenario/uksouth.txt
  fleet/pkg/compute/testdata/TestResolveDesiredPools_Scenario/westus3.txt
  fleet/pkg/compute/tiers.go
  fleet/pkg/controllers/nodepool/testdata/TestShadowSyncOnceScenario/uksouth.txt
  fleet/pkg/controllers/nodepool/testdata/TestShadowSyncOnceScenario/westus3.txt
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): do not fire KubePodNotReady for terminating pods
  dev-infrastructure/modules/metrics/rules/generatedKustoOnlyHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedKustoOnlyServicePrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  observability/alerts-kusto-hcps.yaml
  observability/alerts-kusto-services.yaml
  observability/alerts-msft-services.yaml
  observability/alerts/kubernetesControlPlane-prometheusRule.yaml
  observability/alerts/kubernetesControlPlane-prometheusRule.yaml.diff
  observability/alerts/kubernetesControlPlane-prometheusRule_test.yaml
  test/util/alertdiagnostics/testdata/zz_fixture_TestRepositoryCorpus.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

refactor(backend): drop named returns in deny-assignment controller per review
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_controller.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(backend): copy stale deny-assignment refs before cleanup
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_controller.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

add SWIFT vnet-integration subnet size validation
  backend/pkg/app/controller_registry_test.go
  backend/pkg/controllers/cluster/registration.go
  backend/pkg/controllers/cluster/validation/cluster_validation_controller.go
  backend/pkg/utils/validationutils/azure_cluster_vnet_integration_subnet_size_validation.go
  backend/pkg/utils/validationutils/azure_cluster_vnet_integration_subnet_size_validation_test.go
  backend/pkg/utils/validationutils/azure_nodepool_nsg_based_required_connectivity_validation.go
  backend/pkg/utils/validationutils/nsg_evaluator.go
  backend/pkg/utils/validationutils/subnet_helpers.go
  docs/cosmos-data-flow.md
Due: e2e-parallel, ci/prow/e2e-parallel

docs: add area approvers to docs owners
  docs/OWNERS
Due: e2e-parallel, ci/prow/e2e-parallel

feat(config): add svc.monitoringApiGroup to select the metrics collector
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(acrpull): split values per cluster type
  acrpull/deploy/values-mgmt.yaml
  acrpull/deploy/values-svc.yaml
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Expose State Transition Counter Metrics
  backend/pkg/utils/operationutils/utils.go
  backend/pkg/utils/operationutils/utils_test.go
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/metrics.go
  frontend/pkg/frontend/metrics_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add unit tests
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/external_auth_metrics_test.go
  frontend/pkg/frontend/metrics_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: align cluster create stuck alert with backend deadline
  backend/alerts/backend-async-operations-prometheusRule.yaml
  backend/alerts/backend-async-operations-prometheusRule_test.yaml
  dev-infrastructure/modules/metrics/rules/generatedDevServicesPrometheusAlertingRules.bicep
  test/util/alertdiagnostics/testdata/zz_fixture_TestRepositoryCorpus.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

revert(e2e): move exact control-plane version pins back to version.id
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/00-httpCreate-subscription-with-afec/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/00-httpCreate-subscription-with-afec/subscription.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/01-httpCreate-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/01-httpCreate-cluster/cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/02-setClusterServiceID-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/02-setClusterServiceID-cluster/cluster-service-id.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/03-loadClusterService-cluster/cs-nightly-tag-roundtrip-autoscaler.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/03-loadClusterService-cluster/cs-nightly-tag-roundtrip-cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/04-completeOperation-create/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/05-loadCosmos-serviceProviderCluster/serviceProviderCluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/06-httpPatch-unrelated-tag/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/06-httpPatch-unrelated-tag/patch.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/07-completeOperation-update/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/08-httpPatch-reject-pin-removal/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/08-httpPatch-reject-pin-removal/expected-error.txt
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/08-httpPatch-reject-pin-removal/patch.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/09-httpPatch-reject-incomplete-pin/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/09-httpPatch-reject-incomplete-pin/expected-error.txt
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/09-httpPatch-reject-incomplete-pin/patch.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/10-httpGet-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/10-httpGet-cluster/cluster.json
  test/e2e/README.md
  test/e2e/cluster_container_registry.go
  test/e2e/cluster_update.go
  test/e2e/control_plane_automated_z_stream_upgrade.go
  test/e2e/control_plane_minor_upgrade.go
  test/util/framework/deployment_params.go
  test/util/framework/helpers_v20240610preview.go
  test/util/framework/helpers_v20251223preview.go
  test/util/framework/helpers_v20260630preview.go
  test/util/framework/helpers_v20260901preview.go
  test/util/framework/helpers_v20261001preview.go
  test/util/framework/version_helper_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(e2e): preserve immediate z-stream update policy
  test/e2e/control_plane_automated_z_stream_upgrade.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(prometheus): run the OSS collector only when monitoringApiGroup is monitoring.coreos.com
  .yamllint.yml
  observability/prometheus/deploy/templates/prometheus.clusterrole.yaml
  observability/prometheus/deploy/templates/prometheus.clusterrolebinding.yaml
  observability/prometheus/deploy/templates/prometheus.podmonitor.yaml
  observability/prometheus/deploy/templates/prometheus.serviceaccount.yaml
  observability/prometheus/deploy/templates/prometheus.yaml
  observability/prometheus/deploy/values.yaml
  observability/prometheus/values-mgmt.yaml
  observability/prometheus/values-opstool.yaml
  observability/prometheus/values-svc.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: derive ServiceMonitor/PodMonitor apiVersion from monitoringApiGroup
  .yamllint.yml
  acm/deploy/helm/multicluster-engine/templates/clusterlifecycle-state-metrics-v2.servicemonitor.yaml
  acm/multicluster-engine.values.yaml
  acm/scaffold/metrics-servicemonitor.yaml
  acrpull/deploy/templates/podmonitor.yaml
  admin/deploy/templates/admin.servicemonitor.yaml
  admin/values.yaml
  backend/deploy/templates/servicemonitor.yaml
  backend/values.yaml
  cluster-service/deploy/templates/servicemonitor.yaml
  cluster-service/deploy/values.yaml
  cluster-service/values.yaml
  fleet/deploy/templates/servicemonitor.yaml
  fleet/values.yaml
  frontend/deploy/templates/servicemonitor.yaml
  frontend/values.yaml
  istio/deploy/templates/envoy-stats.podmonitor.yml
  istio/deploy/templates/istiod.servicemonitor.yml
  istio/values.yaml
  kube-applier/deploy/templates/servicemonitor.yaml
  kube-applier/values.yaml
  maestro/agent/deploy/templates/maestro-agent.podmonitor.yaml
  maestro/agent/values.yaml
  maestro/server/deploy/templates/maestro.servicemonitor.yaml
  maestro/server/values.yaml
  observability/arobit/deploy/templates/forwarder-servicemonitor.yaml
  observability/arobit/values-mgmt.yaml
  observability/arobit/values-svc.yaml
  swift-recorder/deploy/templates/metrics.yaml
  swift-recorder/deploy/values.yaml
  swift-recorder/values.yaml
  tooling/aro-hcp-exporter/deploy/templates/servicemonitor.yaml
  tooling/aro-hcp-exporter/deploy/values.yaml
  velero/deploy/templates/node-agent-podmonitor.yaml
  velero/deploy/templates/velero-podmonitor.yaml
  velero/deploy/values.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

test(prometheus): cover OSS and AMA renders in helmtest
  observability/prometheus/testdata/helmtest_mgmt_ama.yml
  observability/prometheus/testdata/helmtest_mgmt_resources_unset.yml
  observability/prometheus/testdata/helmtest_svc_ama.yml
  observability/prometheus/testdata/helmtest_svc_resources.yml
  observability/prometheus/testdata/helmtest_svc_resources_unset.yml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_ama.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_ama.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat(prometheus): delete agent PVCs when the PrometheusAgent is removed
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arohcp_monitor.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arohcp_monitor.yaml
  observability/prometheus/deploy/templates/prometheus.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources_unset.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: add orphaned managed resource group cleanup controller
  backend/alerts/backend-prometheusRule.yaml
  backend/alerts/backend-prometheusRule_test.yaml
  backend/cmd/root.go
  backend/cmd/root_test.go
  backend/deploy/templates/backend.deployment.yaml
  backend/pkg/app/backend.go
  backend/pkg/app/controller_context.go
  backend/pkg/app/storage_controller_names.go
  backend/pkg/controllers/cluster/deletion/clean_orphaned_cluster_managed_resource_group_controller.go
  backend/pkg/controllers/cluster/deletion/clean_orphaned_cluster_managed_resource_group_controller_test.go
  backend/pkg/controllers/cluster/deletion/orphaned_managed_resource_group_controller.go
  backend/pkg/controllers/cluster/deletion/orphaned_managed_resource_group_controller_test.go
  backend/pkg/controllers/cluster/registration.go
  backend/pkg/controllers/controllerconfig/context.go
  backend/pkg/utils/controllerutils/managed_resource_group_watching_controller.go
  backend/testdata/zz_fixture_TestHelmTemplate_backend_clstr_scoped_identities_role_set_name_public.yaml
  backend/testdata/zz_fixture_TestHelmTemplate_backend_mi_mock_and_arm_perms_mgr_identities_unset.yaml
  backend/testdata/zz_fixture_TestHelmTemplate_backend_mi_mock_ids_from_kv_secret.yaml
  backend/values.yaml
  backend/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_aro_hcp_backend_dev.yaml
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  dev-infrastructure/modules/metrics/rules/generatedDevServicesPrometheusAlertingRules.bicep
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_image_registry_policy.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_image_registry_policy.yaml
  docs/cosmos-data-flow.md
  kube-applier/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_kube_applier.yaml
  test/go.mod
  test/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

feat(infra): label underlay_clusters with the metrics collector
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/modules/metrics/underlay-clusters-metric.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

User facing Degraded conditions for external auth
  backend/pkg/app/controller_registry_test.go
  backend/pkg/controllers/controllerconfig/cache_sync.go
  backend/pkg/controllers/controllerconfig/cache_sync_test.go
  backend/pkg/controllers/externalauth/creation/create_service_provider_externalauth_controller_test.go
  backend/pkg/controllers/externalauth/registration.go
  backend/pkg/controllers/externalauth/status/externalauth_available_controller.go
  backend/pkg/controllers/externalauth/status/externalauth_oidc_clients_degraded_controller.go
  backend/pkg/controllers/externalauth/status/externalauth_oidc_clients_degraded_controller_test.go
  backend/pkg/controllers/externalauth/status/externalauth_userfacing_conditions_aggregator.go
  backend/pkg/controllers/externalauth/status/externalauth_userfacing_conditions_aggregator_test.go
  backend/pkg/controllers/externalauth/status/externalauth_userfacing_conditions_degraded_aggregator.go
  backend/pkg/controllers/externalauth/status/externalauth_userfacing_conditions_degraded_aggregator_test.go
  docs/cosmos-data-flow.md
  internal/api/coreapi/externalauth_conditions.go
  internal/api/coreapi/types_externalauth.go
  internal/api/coreapi/types_serviceprovider_externalauth.go
  internal/apihelpers/coreapihelpers/types_cosmosdata.go
  internal/database/informers/coreinformers/types.go
  internal/database/informers/coreinformers/types_test.go
  test/e2e/external_auth_create.go
Due: e2e-parallel, ci/prow/e2e-parallel

Revert "Merge pull request #7246 from tony-schndr/fix/e2e-exact-version-pin"
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/00-httpCreate-subscription-with-afec/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/00-httpCreate-subscription-with-afec/subscription.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/01-httpCreate-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/01-httpCreate-cluster/cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/02-setClusterServiceID-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/02-setClusterServiceID-cluster/cluster-service-id.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/03-loadClusterService-cluster/cs-nightly-tag-roundtrip-autoscaler.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/03-loadClusterService-cluster/cs-nightly-tag-roundtrip-cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/04-completeOperation-create/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/05-loadCosmos-serviceProviderCluster/serviceProviderCluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/06-httpPatch-unrelated-tag/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/06-httpPatch-unrelated-tag/patch.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/07-completeOperation-update/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/08-httpPatch-reject-pin-removal/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/08-httpPatch-reject-pin-removal/expected-error.txt
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/08-httpPatch-reject-pin-removal/patch.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/09-httpPatch-reject-incomplete-pin/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/09-httpPatch-reject-incomplete-pin/expected-error.txt
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/09-httpPatch-reject-incomplete-pin/patch.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/10-httpGet-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/nightly-exact-version-tag-roundtrip/10-httpGet-cluster/cluster.json
  test/e2e/README.md
  test/e2e/cluster_container_registry.go
  test/e2e/cluster_update.go
  test/e2e/control_plane_automated_z_stream_upgrade.go
  test/e2e/control_plane_minor_upgrade.go
  test/util/framework/deployment_params.go
  test/util/framework/helpers_v20240610preview.go
  test/util/framework/helpers_v20251223preview.go
  test/util/framework/helpers_v20260630preview.go
  test/util/framework/helpers_v20260901preview.go
  test/util/framework/helpers_v20261001preview.go
  test/util/framework/version_helper_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(e2e): preserve Immediate z-stream upgrades after reverting version tags
  test/e2e/control_plane_automated_z_stream_upgrade.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(prometheus): scrape kube-state-metrics via AMA in AMA mode
  .yamllint.yml
  observability/prometheus/deploy/templates/kube-state-metrics.azmonitoring.servicemonitor.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_ama.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_ama.yaml
  observability/prometheus/values-mgmt.yaml
  observability/prometheus/values-svc.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat(infra): route hcp-labelled series to the HCP workspace in AMA mode
  dev-infrastructure/modules/metrics/datacollection.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix: remove Cluster Service ID dependency from external auth operations
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/external_auth_test.go
  test-integration/claude.md
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/clientid-not-in-audiences/02-setClusterServiceID-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/create-current/02-setClusterServiceID-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/create-current/05-cosmosCompare-ending-content/cluster-create-with-tags.json
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/create-current/05-cosmosCompare-ending-content/externalauth-default.json
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/create-current/05-cosmosCompare-ending-content/operation-externalauth-create-default.json
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/duplicate-client-components/02-setClusterServiceID-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/invalid-format/02-setClusterServiceID-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/invalid-request-content/02-setClusterServiceID-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/missing-non-leaf-required-fields/02-setClusterServiceID-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/missing-required-fields/02-setClusterServiceID-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/multiple-validation-errors/02-setClusterServiceID-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/read-old-data/09-cosmosCompare-confirm-update/operation-externalauth-update-default.json
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/second-external-auth-rejected/02-setClusterServiceID-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/second-external-auth-rejected/99-cosmosCompare-ending-content/cluster-example-cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/update-invalid-request-content/02-setClusterServiceID-cluster/00-key.json
Due: e2e-parallel, ci/prow/e2e-parallel

feat(backend): keep region/environment labels on backend metrics in AMA mode
  backend/deploy/templates/servicemonitor.yaml
  backend/values.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

docs: update external auth Cosmos data flow and diagrams
  docs/cosmos-data-flow.md
  docs/diagrams/controller-flows/externalauth-create.dot
  docs/diagrams/controller-flows/externalauth-create.png
  docs/diagrams/controller-flows/externalauth-update.dot
  docs/diagrams/controller-flows/externalauth-update.png
Due: e2e-parallel, ci/prow/e2e-parallel

docs: refresh cluster deletion diagram render
  docs/diagrams/controller-flows/cluster-delete.png
Due: e2e-parallel, ci/prow/e2e-parallel

feat(prometheus): let the AMA addon read ConfigMaps on management clusters
  .yamllint.yml
  observability/prometheus/deploy/templates/ama-metrics-configmap-reader.yaml
  observability/prometheus/deploy/values.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_ama.yaml
  observability/prometheus/values-mgmt.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat(alerts): skip OSS Prometheus self-monitoring alerts for AMA clusters
  dev-infrastructure/modules/metrics/rules/generatedDevServicesPrometheusAlertingRules.bicep
  docs/alerts/Prometheus.md
  observability/alerts/prometheus-prometheusRule.yaml
  observability/alerts/prometheus-prometheusRule_test.yaml
  test/util/alertdiagnostics/testdata/zz_fixture_TestRepositoryCorpus.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

docs: document AMA and OSS metrics collection modes
  docs/monitoring.md
  docs/sre/hcp-metrics.md
Due: none

fix(ci): prevent provisioning log secret redaction
  hack/ci/az-login.sh
  hack/ci/build-config-override.sh
Due: e2e-parallel, ci/prow/e2e-parallel

fix(mgmt-agent): route HCP series with microsoft_metrics_account in AMA mode
  mgmt-agent/pkg/controller/ksmhcp/controller_test.go
  mgmt-agent/pkg/controller/ksmhcp/resources.go
  mgmt-agent/pkg/controller/monitortranslator/controller.go
  mgmt-agent/pkg/controller/monitortranslator/controller_test.go
  mgmt-agent/pkg/controller/monitortranslator/testdata/zz_fixture_TestTranslatePodMonitor.yaml
  mgmt-agent/pkg/controller/monitortranslator/testdata/zz_fixture_TestTranslateServiceMonitor.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat(mgmt-agent): add region/environment labels to AMA-scraped HCP metrics
  mgmt-agent/cmd/options.go
  mgmt-agent/deploy/templates/deployment.yaml
  mgmt-agent/pkg/controller/ksmhcp/controller.go
  mgmt-agent/pkg/controller/ksmhcp/controller_test.go
  mgmt-agent/pkg/controller/ksmhcp/resources.go
  mgmt-agent/pkg/controller/monitortranslator/controller.go
  mgmt-agent/pkg/controller/monitortranslator/controller_test.go
  mgmt-agent/pkg/controller/monitortranslator/testdata/zz_fixture_TestTranslatePodMonitor.yaml
  mgmt-agent/pkg/controller/monitortranslator/testdata/zz_fixture_TestTranslateServiceMonitor.yaml
  mgmt-agent/values.yaml
Due: e2e-parallel, ci/prow/e2e-parallel
