Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Path conditions:
  create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-prod: any of: ^(demo)
  ci/prow/create-aro-hcp-in-stage: any of: ^(demo)
  ci/prow/integration-e2e-parallel: any of: ^(test|demo)
  ci/prow/prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/stage-e2e-parallel: any of: ^(test|demo)

for testing ext auth
  demo/01-register-sub.sh
  demo/06-create-ext-auth.sh
  demo/07-delete-ext-auth.sh
  demo/08-patch-ext-auth.sh
  demo/common.sh
  demo/env_vars
  demo/external_auth.json
  demo/external_auth.tmpl.json
  demo/external_auth_patch.json
  demo/external_auth_patch.tmpl.json
  demo/query-external-auth.sh
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

prepare CS image sha update for stg and prod. CS commit id 5c0cfa5
  config/config.msft.clouds-overlay.yaml
Due: none

api: HCPOpenShiftClusterExternalAuth validation corrections
  internal/api/hcpopenshiftclusterexternalauth.go
  internal/api/hcpopenshiftclusterexternalauth_test.go
Due: none

frontend: Rename and sort some OCM constants
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/ocm.go
  frontend/pkg/frontend/ocm_test.go
Due: none

frontend: Properly convert ExternalAuthClientType to/from CS
  frontend/pkg/frontend/ocm.go
  frontend/pkg/frontend/ocm_test.go
Due: none

Add string replacements to Generator
  observability/observability-hcp.yaml
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/internal/writer.go
  tooling/prometheus-rules/internal/writer_test.go
Due: none

ACR replication resilience
  dev-infrastructure/scripts/manage-acr-replication.sh
Due: none

prepare CS image sha update for stg. CS commit id 5c0cfa5
  config/config.msft.clouds-overlay.yaml
Due: none

Add replacement for control-plane metrics
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/observability-hcp.yaml
  observability/observability.yaml
  tooling/prometheus-rules/internal/writer.go
Due: none

config: Bump frontend and backend image digests
  config/config.msft.clouds-overlay.yaml
Due: none

Add missing copywright header
  tooling/prometheus-rules/internal/writer.go
  tooling/prometheus-rules/internal/writer_test.go
Due: none

Apply suggestion from @mmazur
  tooling/prometheus-rules/internal/generator.go
Due: none

Rename to outputReplacements, since it is working on the entire output.
  observability/observability-hcp.yaml
  observability/observability.yaml
  tooling/prometheus-rules/internal/generator.go
Due: none

Less space
  tooling/prometheus-rules/internal/generator.go
Due: none

Update Prometheus recording rules to include '0' in the code filter for API errors.
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/tested-rules/cluster-service-slo-rules.yaml
Due: none

Update UID in Grafana dashboard configuration for ARO HCP Cluster Service SLOs to reflect compound metrics.
  cluster-service/grafana-dashboards/cluster-service-slo-compund-metrics.json
Due: none

Add additional checks to verify disk size, remove unused code from hcp_helper.go
  test/e2e/cluster_create_nodepool_osdisk.go
  test/util/framework/hcp_helper.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Revert "config: Bump frontend and backend image digests"
  config/config.msft.clouds-overlay.yaml
Due: none

prepare CS image sha update for prod. CS commit id 5c0cfa5
  config/config.msft.clouds-overlay.yaml
Due: none

ocm: Rename some helper functions
  frontend/pkg/frontend/ocm.go
  internal/ocm/ocm.go
Due: none

frontend: Do not convert empty version ID strings
  frontend/pkg/frontend/ocm.go
  frontend/pkg/frontend/ocm_test.go
  internal/ocm/ocm.go
Due: none

dereference the pointer for osDisk size check
  test/e2e/cluster_create_nodepool_osdisk.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Add additional logging
  test/e2e/cluster_pullsecret.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

add mise artifact sync cache rule
  dev-infrastructure/configurations/global-acr.tmpl.bicepparam
  dev-infrastructure/modules/acr/mcr-artifact-sync.bicep
  dev-infrastructure/templates/global-acr.bicep
Due: none

workaround for maps.Contains() not working in 1.24
  test/e2e/cluster_pullsecret.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Easier Consultant Demo
  demo/env_vars
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: ensure we generate a unique name for the managed resource group to prevent parallel tests causing conflicts
  test/e2e-setup/bicep/modules/cluster.bicep
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: remove extra '-' character in the managed resource group name
  test/e2e/cluster_create_missing_info.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: remove skipping tls verification on kubeconfigs now that we have publicly trusted certs
  test/util/framework/hcp_helper.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

update dependencies
  go.work.sum
  tooling/prometheus-rules/go.mod
  tooling/prometheus-rules/go.sum
Due: none

Add interval configuration
  go.work.sum
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/internal/generator_test.go
  tooling/prometheus-rules/main_test.go
  tooling/prometheus-rules/testdata/generated_5m.bicep
Due: none

Fix set interval at correct level
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/testdata/generated.bicep
  tooling/prometheus-rules/testdata/generated_5m.bicep
Due: none

Update alerts, explicitly set interval
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
Due: none

Make all tidy
  admin/go.mod
  admin/go.sum
  backend/go.mod
  backend/go.sum
  frontend/go.mod
  frontend/go.sum
  internal/go.mod
  internal/go.sum
  test/go.mod
  test/go.sum
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
  tooling/olm-bundle-repkg/go.mod
  tooling/olm-bundle-repkg/go.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/yamlwrap/go.mod
  tooling/yamlwrap/go.sum
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

feat: add support for asynchronous cluster updates
  backend/operations_scanner.go
  backend/operations_scanner_test.go
Due: none

POC script to fetch admin credentials
  demo/arm-request-admin-credential.sh
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

hcpctl release status command for version reporting
  tooling/hcpctl/Makefile
  tooling/hcpctl/cmd/release/cmd.go
  tooling/hcpctl/cmd/release/options.go
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
  tooling/hcpctl/main.go
  tooling/hcpctl/pkg/release/helm.go
  tooling/hcpctl/pkg/release/kubernetes.go
  tooling/hcpctl/pkg/release/report.go
  tooling/hcpctl/pkg/release/types.go
Due: none

tidy
  go.work.sum
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
  tooling/olm-bundle-repkg/go.mod
  tooling/olm-bundle-repkg/go.sum
Due: none

cluster-service: fix dashboards: include cluster variable
  cluster-service/grafana-dashboards/cluster-service-slo-compund-metrics.json
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/tested-rules/cluster-service-slo-rules.yaml
  observability/alerts/tested-rules/cluster-service-slo-rules_test.yaml
Due: none

making some improvment to helper.go.
  test/e2e/external_entra_provider_helpers.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel
