Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

test: prototype DEV mock-MSI ACL isolation (ARO-29287)
  docs/ci/README.md
  docs/ci/identity-leasing.md
  docs/ci/mock-msi-acl-isolation.md
  nonlocal-e2e-specs.txt
  test/cmd/aro-hcp-tests/main.go
  test/cmd/aro-hcp-tests/main_test.go
  test/e2e/cluster_delete_missing_identities_dev_mock_msi.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_development_mock_msi_acldevelopment_mock_msi_acl.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/util/framework/mock_msi_permissions.go
  test/util/framework/mock_msi_permissions_test.go
  test/util/labels/labels.go
Due: e2e-parallel, ci/prow/e2e-parallel

Apply suggestions from code review
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/recording-rules/cluster-provision-slo-recordingRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

docs(ci): add quota bump remediation to DEV CI runbook (AROSLSRE-2019)
  docs/ci/dev-ci-monitoring.md
Due: none

checkpoint before checking out main
  test/util/framework/identities_helper.go
  test/util/framework/per_test_framework.go
  test/util/framework/per_test_framework_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

observability: document Frontend traffic-drop 0.5 RPS noise floor
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/frontend-slo-prometheusRule.yaml
  observability/alerts/frontend-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat(scheduling): phase 0 - mirror ready/not-ready HCP resource IDs to management cluster scheduling doc
  fleet/pkg/controllers/capacityreporting/capacity_reporting_controller.go
  fleet/pkg/controllers/capacityreporting/controller_test.go
  internal/api/fleetapi/types_management_cluster_scheduling.go
  internal/api/fleetapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(scheduling): phase 1 - swift-nic capacity scheduling, pending reservations, provision shard pinning
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/creation/cluster_cluster_service_create_controller.go
  backend/pkg/controllers/cluster/creation/cluster_cluster_service_create_controller_test.go
  backend/pkg/controllers/cluster/creation/cluster_pending_cluster_service_id_assign_controller.go
  backend/pkg/controllers/cluster/creation/cluster_pending_cluster_service_id_assign_controller_test.go
  backend/pkg/controllers/cluster/placement/pending_cleanup_controller.go
  backend/pkg/controllers/cluster/placement/pending_cleanup_controller_test.go
  backend/pkg/controllers/cluster/placement/placement_controller.go
  backend/pkg/controllers/cluster/placement/placement_controller_test.go
  backend/pkg/controllers/metrics/cluster_info_metrics_handler.go
  backend/pkg/controllers/metrics/cluster_info_metrics_handler_test.go
  docs/cosmos-data-flow.md
  fleet/pkg/controllers/capacityreporting/capacity_reporting_controller.go
  fleet/pkg/controllers/capacityreporting/controller_test.go
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
  internal/api/fleetapi/types_management_cluster_scheduling.go
  internal/api/fleetapi/zz_generated.deepcopy.go
  internal/database/cosmosstorage/fleetcosmosstorage/fleet_client.go
  internal/database/cosmosstoragetesting/fleetcosmosstoragetesting/mock_fleet_client.go
  internal/database/informers/fleetinformers/fleet_informers.go
  internal/database/informers/fleetinformers/fleet_types.go
  internal/database/listers/fleetlisters/management_cluster_scheduling_lister.go
  internal/database/listertesting/fleetlistertesting/slice_listers.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(scheduling): replace placement-time metric with KSM phase-info; skip placement on deletion
  backend/pkg/controllers/cluster/placement/placement_controller.go
  backend/pkg/controllers/cluster/placement/placement_controller_test.go
  backend/pkg/controllers/metrics/cluster_info_metrics_handler.go
  backend/pkg/controllers/metrics/cluster_info_metrics_handler_test.go
  docs/cosmos-data-flow.md
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(scheduling): address review feedback (gating removal + nits)
  backend/pkg/controllers/cluster/creation/cluster_pending_cluster_service_id_assign_controller.go
  backend/pkg/controllers/cluster/creation/cluster_pending_cluster_service_id_assign_controller_test.go
  backend/pkg/controllers/cluster/placement/pending_cleanup_controller.go
  backend/pkg/controllers/cluster/placement/pending_cleanup_controller_test.go
  backend/pkg/controllers/cluster/placement/placement_controller.go
  backend/pkg/controllers/cluster/placement/placement_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

test(scheduling): reconcile ClusterClusterServiceCreate tests with upstream deny-assignment gate after rebase
  backend/pkg/controllers/cluster/creation/cluster_cluster_service_create_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(scheduling): typed ready/notReady resource IDs + placement controller refactor per review
  backend/pkg/controllers/cluster/creation/cluster_cluster_service_create_controller.go
  backend/pkg/controllers/cluster/placement/placement_controller.go
  backend/pkg/controllers/cluster/placement/placement_controller_test.go
  fleet/pkg/controllers/capacityreporting/capacity_reporting_controller.go
  fleet/pkg/controllers/capacityreporting/controller_test.go
  internal/api/fleetapi/types_management_cluster_scheduling.go
  internal/api/fleetapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(scheduling): account for SingleReplica control-plane availability in swift-NIC capacity
  backend/pkg/controllers/cluster/placement/placement_controller.go
  backend/pkg/controllers/cluster/placement/placement_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(scheduling): correct capacity formula to max(Usage, Requests)
  docs/cosmos-data-flow.md
Due: none

fix(scheduling): address review feedback (comment cleanup, doc fixes, TrackError, needsWork)
  backend/pkg/controllers/cluster/creation/cluster_cluster_service_create_controller.go
  backend/pkg/controllers/cluster/creation/cluster_cluster_service_create_controller_test.go
  backend/pkg/controllers/cluster/creation/cluster_pending_cluster_service_id_assign_controller.go
  backend/pkg/controllers/cluster/placement/pending_cleanup_controller.go
  backend/pkg/controllers/cluster/placement/placement_controller.go
  backend/pkg/controllers/metrics/cluster_info_metrics_handler.go
  backend/pkg/controllers/metrics/cluster_info_metrics_handler_test.go
  docs/cosmos-data-flow.md
Due: e2e-parallel, ci/prow/e2e-parallel

docs: clarify kube-applier reconciles ApplyDesire by Type (SSA vs delete)
  docs/ops/hcp-cluster-creation-flow.md
Due: none

feat(e2e): add e2e test for BYOK OS Disks
  test/e2e-setup/bicep/modules/customer-infra.bicep
  test/e2e/nodepool_osdisk_encryption.go
  test/go.mod
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
  test/util/framework/disk_encryption_set_helper.go
  test/util/framework/helpers_v20240610preview.go
  test/util/framework/helpers_v20251223preview.go
  test/util/framework/helpers_v20260630preview.go
  test/util/framework/helpers_v20260901preview.go
  test/util/framework/per_test_framework.go
  test/util/framework/per_test_framework_test.go
  test/util/verifiers/osdisk_encryption.go
Due: e2e-parallel, ci/prow/e2e-parallel

Regenrate bicep for recording rules
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

test: OCPBUGS-113993 add CPO override e2e tests for 4.20
  test/e2e/cluster_create_cpo_override_20240610.go
  test/e2e/cluster_create_cpo_override_20251223.go
  test/e2e/cluster_create_public_kv.go
  test/e2e/setup.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
Due: e2e-parallel, ci/prow/e2e-parallel

feat(hcpctl): add Kusto-backed oc-adm-inspect and wire it into must-gather
  tooling/hcpctl/cmd/must-gather/cmd.go
  tooling/hcpctl/cmd/must-gather/query_cmd.go
  tooling/hcpctl/cmd/must-gather/query_options.go
  tooling/hcpctl/cmd/oc-adm-inspect/cmd.go
  tooling/hcpctl/cmd/oc-adm-inspect/options.go
  tooling/hcpctl/cmd/oc-adm-inspect/options_test.go
  tooling/hcpctl/main.go
  tooling/hcpctl/pkg/kusto/query.go
  tooling/hcpctl/pkg/kusto/query_definitions.go
  tooling/hcpctl/pkg/kusto/templates/builtin/oc-adm-inspect/active_clusters.kql.gotmpl
  tooling/hcpctl/pkg/kusto/templates/builtin/oc-adm-inspect/container_logs.kql.gotmpl
  tooling/hcpctl/pkg/kusto/templates/builtin/oc-adm-inspect/container_logs_hcp.kql.gotmpl
  tooling/hcpctl/pkg/kusto/templates/builtin/oc-adm-inspect/events.kql.gotmpl
  tooling/hcpctl/pkg/kusto/templates/builtin/oc-adm-inspect/namespaces.kql.gotmpl
  tooling/hcpctl/pkg/kusto/templates/builtin/oc-adm-inspect/resource_snapshots.kql.gotmpl
  tooling/hcpctl/pkg/kusto/templates/builtin/queries.yaml
  tooling/hcpctl/pkg/ocadminspect/inspect.go
  tooling/hcpctl/pkg/ocadminspect/inspect_test.go
  tooling/hcpctl/pkg/ocadminspect/row.go
  tooling/hcpctl/pkg/ocadminspect/writer.go
  tooling/hcpctl/pkg/ocadminspect/writer_test.go
  tooling/hcpctl/testdata/zz_fixture_TestTemplateDataOptions.yaml
  tooling/hcpctl/testdata/zz_fixture_TestTemplateDataOptions_NoTruncation.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(test): use the per-test subscription in per-test must-gather links
  test/cmd/aro-hcp-tests/custom-link-tools/options.go
  test/util/framework/per_test_framework.go
  test/util/timing/timewindow.go
  tooling/utilitytypes/timing/types.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: fix DeleteDesire TODO and clarify flow-diagram is a topology view
  docs/ops/hcp-cluster-creation-flow.md
Due: none

feat(observability): add SLI SLO metrics dashboard
  observability/grafana-dashboards/sre/user-journey/sli-slo-metrics.json
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): address SLI dashboard review
  observability/grafana-dashboards/sre/user-journey/sli-slo-metrics.json
Due: e2e-parallel, ci/prow/e2e-parallel

feat(observability): add SWIFT networking user journey monitoring (ARO-25382)
  dev-infrastructure/modules/metrics/rp-rules.bicep
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts-rp-hcps.yaml
  observability/alerts-rp-services.yaml
  observability/alerts/swift-networking-cns-prometheusRule.yaml
  observability/alerts/swift-networking-cns-prometheusRule_test.yaml
  observability/alerts/swift-networking-prometheusRule.yaml
  observability/alerts/swift-networking-prometheusRule_test.yaml
  observability/alerts/swift-networking-recordingRule-KSM.yaml
  observability/alerts/swift-networking-recordingRule-KSM_test.yaml
  observability/grafana-dashboards/sre/user-journey/swift-networking.json
  observability/prometheus/deploy/templates/azure-cns.podmonitor.yaml
  observability/prometheus/deploy/templates/konnectivity-server.podmonitor.yaml
  observability/recording-rules-hcps.yaml
  observability/recording-rules-services.yaml
  observability/recording-rules/swift-networking-cns-recordingRule.yaml
  observability/recording-rules/swift-networking-cns-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

apply copilot suggestion and update alert prefix to UserJourney
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
  observability/recording-rules/cluster-provision-slo-recordingRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

addressing copilot review. valid to flag, but requires a few new additions to handle userMessage in PassedValidation smell
  backend/pkg/controllers/cluster/validation/cluster_validation_controller.go
  backend/pkg/controllers/cluster/validation/cluster_validation_controller_test.go
  backend/pkg/utils/validationutils/cluster_validation.go
  backend/pkg/utils/validationutils/container_registry_pull_credentials_permission_validation.go
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: fall back to stored version when ActiveVersions not yet mirrored
  internal/admission/admit_cluster.go
  internal/admission/admit_cluster_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: fix cosmos-data-flow description of keyed validation input storage
  docs/cosmos-data-flow.md
Due: none

docs: fix remaining condition.Message references in cosmos-data-flow
  docs/cosmos-data-flow.md
Due: none

fix: reject empty/whitespace managedIdentity in normalizeContainerRegistry
  internal/azureapi/v20260901preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20260901preview/hcpopenshiftclusters_methods_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(mgmt-agent): watch acn.azure.com CRDs (MTPNC, NNC)
  mgmt-agent/pkg/controller/resourcewatcher.go
  mgmt-agent/pkg/controller/resourcewatcher_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: enforce same-subscription for containerRegistry pull MI at request time
  internal/validation/validate_cluster.go
  internal/validation/validate_cluster_comprehensive_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: fix whitespace alignment in test files
  backend/pkg/controllers/cluster/validation/cluster_validation_controller_test.go
  internal/azureapi/v20260901preview/hcpopenshiftclusters_methods_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): scope SWIFT CNS alerts
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/swift-networking-cns-prometheusRule.yaml
  observability/alerts/swift-networking-cns-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

test: add integration tests for containerRegistry PUT rejection cases
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-cross-subscription/00-httpCreate-subscription/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-cross-subscription/00-httpCreate-subscription/subscription.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-cross-subscription/01-httpCreate-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-cross-subscription/01-httpCreate-cluster/cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-cross-subscription/01-httpCreate-cluster/expected-error.txt
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-empty-string/00-httpCreate-subscription/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-empty-string/00-httpCreate-subscription/subscription.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-empty-string/01-httpCreate-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-empty-string/01-httpCreate-cluster/cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-empty-string/01-httpCreate-cluster/expected-error.txt
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-managed-rg/00-httpCreate-subscription/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-managed-rg/00-httpCreate-subscription/subscription.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-managed-rg/01-httpCreate-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-managed-rg/01-httpCreate-cluster/cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-managed-rg/01-httpCreate-cluster/expected-error.txt
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-wrong-type/00-httpCreate-subscription/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-wrong-type/00-httpCreate-subscription/subscription.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-wrong-type/01-httpCreate-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-wrong-type/01-httpCreate-cluster/cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-containerRegistry-wrong-type/01-httpCreate-cluster/expected-error.txt
Due: e2e-parallel, ci/prow/e2e-parallel

test: assert error for invalid resource ID in TestNormalizeContainerRegistry
  internal/azureapi/v20260901preview/hcpopenshiftclusters_methods_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(mgmt-agent): make node-health detector comments evergreen (AROSLSRE-1983)
  mgmt-agent/pkg/controller/nodehealth/detectors/decide.go
  mgmt-agent/pkg/controller/nodehealth/detectors/never_ready.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(mgmt-agent): correct the missing-timestamp comment in the never-ready detector (AROSLSRE-1983)
  mgmt-agent/pkg/controller/nodehealth/detectors/never_ready.go
Due: e2e-parallel, ci/prow/e2e-parallel
