Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

observability-prometheus:
  steps:
    test:
    - ref: aro-hcp-observability-prometheus

observability-grafana:
  steps:
    test:
    - ref: aro-hcp-observability-grafana

e2e-parallel:
  always_run: true
  steps:
    cluster_profile: aro-hcp-dev
    env:
      LOCATION: westus3
    workflow: aro-hcp-local-e2e

ci/prow/e2e-parallel:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aro-hcp-dev
    ci-operator.openshift.io/cloud-cluster-profile: aro-hcp-dev
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

deps: bump ARO-Tools helm + prow-job-executor (AROSLSRE-1234, AROSLSRE-1228)
  test/go.mod
  test/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

feat(observability): clarify severity docs and give sev1 an explicit error
  docs/alerts.md
  tooling/prometheus-rules/README.md
  tooling/prometheus-rules/internal/generator.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add explicit Azure CEN severity values to the alert generator
  docs/alerts.md
  tooling/prometheus-rules/README.md
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/internal/generator_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Reapply "Merge pull request #5527 from Azure/sudobrendan/hcp-kas-icm-rp-queue"
  dev-infrastructure/modules/metrics/rp-hcp-rules.bicep
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedSREServicePrometheusAlertingRules.bicep
  dev-infrastructure/templates/monitoring.bicep
  observability/alerts-rp-hcps.yaml
  observability/alerts/HCPkasRecord-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM_test.yaml
  observability/alerts/UJKubeApiserverAvailabilityRecord-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityRecord-prometheusRule-KSM_test.yaml
  tooling/prometheus-rules/Makefile
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/testdata/generated.bicep
  tooling/prometheus-rules/testdata/generated_5m.bicep
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(observability): surface resource_id in UJ KAS alert descriptions
  dev-infrastructure/modules/metrics/rp-hcp-rules.bicep
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  observability/alerts-rp-hcps.yaml
  observability/alerts/HCPkasRecord-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM_test.yaml
  observability/alerts/UJKubeApiserverAvailabilityRecord-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityRecord-prometheusRule-KSM_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(observability): align KAS alert text with RP lane
  dev-infrastructure/modules/metrics/rp-hcp-rules.bicep
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(observability): temporarily reduce UJ KAS alerts to warning
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Reapply "Merge pull request #5711 from mmazur/prometheus-alert-move"
  dev-infrastructure/modules/metrics/rules/prometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/service-rules.bicep
  observability/Makefile
  observability/alerts-sl-services.yaml
  observability/alerts-sre-hcps.yaml
  observability/recording-rules-hcps.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Fix datasource regex to exclude all 2-3 char obsolete suffixes
  observability/grafana-dashboards/sre/cluster-health/README.md
  observability/grafana-dashboards/sre/cluster-health/per-cluster-drill-in.json
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(observability): neutralize severity descriptions, add Sev 2.5
  docs/alerts.md
  tooling/prometheus-rules/README.md
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/internal/generator_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: always start cleanOrphanedClusterManagedResourceGroup controller
  backend/pkg/app/backend.go
Due: e2e-parallel, ci/prow/e2e-parallel

make helmtest process files that include unquoted go template syntax
  tooling/helmtest/testrunner/test_runner.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add helmtests for debug jobs and container db
  cluster-service/cs-debug-jobs/deploy/templates/configmap.yaml
  cluster-service/cs-debug-jobs/deploy/templates/istio.yaml
  cluster-service/cs-debug-jobs/deploy/templates/serviceaccount.yaml
  cluster-service/cs-debug-jobs/deploy/templates/shell-script-executor.yaml
  cluster-service/cs-debug-jobs/deploy/values.yaml
  cluster-service/cs-debug-jobs/testdata/helmtest_cs-debugjobs-disabled.yaml
  cluster-service/cs-debug-jobs/testdata/zz_fixture_TestHelmTemplate_cs_debugjobs_disabled.yaml
  cluster-service/cs-debug-jobs/testdata/zz_fixture_TestHelmTemplate_cs_debugjobs_enabled.yaml
  cluster-service/deploy/charts/database/Chart.yaml
  cluster-service/deploy/charts/database/templates/database.deployment.yaml
  cluster-service/deploy/charts/database/templates/database.pvc.yaml
  cluster-service/deploy/charts/database/templates/database.service.yaml
  cluster-service/deploy/charts/database/values.yaml
  cluster-service/deploy/templates/deployment.yaml
  cluster-service/deploy/values.yaml
  cluster-service/testdata/helmtest_cs-azuredb.yaml
  cluster-service/testdata/helmtest_cs-containerdb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_azuredb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_containerdb.yaml
  cluster-service/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cluster_service.yaml
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  dev-infrastructure/configurations/cluster-service-lookup.tmpl.bicepparam
  dev-infrastructure/modules/cluster-service/cluster-service-lookup.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

make Ai happy by changing wording
  docs/pipeline-concept.md
Due: none

add Access the Cluster SLO Grafana dashboard (ARO-26191)
  observability/grafana-dashboards/sre/user-journey/access-cluster-slo.json
Due: e2e-parallel, ci/prow/e2e-parallel

feat(tooling): add metricscache shared module
  tooling/metricscache/cache.go
  tooling/metricscache/cache_test.go
  tooling/metricscache/go.mod
  tooling/metricscache/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

feat(tooling): add azutils shared module with subscription resolver
  tooling/azutils/go.mod
  tooling/azutils/go.sum
  tooling/azutils/subscriptions/resolver.go
  tooling/azutils/subscriptions/resolver_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: migrate aro-hcp-exporter and tenant-quota to shared modules
  go.work
  tooling/aro-hcp-exporter/go.mod
  tooling/aro-hcp-exporter/internal/metrics/collector.go
  tooling/aro-hcp-exporter/internal/metrics/kusto_logs_current.go
  tooling/aro-hcp-exporter/internal/metrics/service_tag_usage.go
  tooling/aro-hcp-exporter/pkg/cache/cache.go
  tooling/aro-hcp-exporter/pkg/cache/cache_test.go
  tooling/azutils/go.mod
  tooling/azutils/go.sum
  tooling/metricscache/go.mod
  tooling/metricscache/go.sum
  tooling/tenant-quota/go.mod
  tooling/tenant-quota/main.go
  tooling/tenant-quota/pkg/subscriptionquota/cache.go
  tooling/tenant-quota/pkg/subscriptionquota/cache_test.go
  tooling/tenant-quota/pkg/subscriptionquota/collector.go
  tooling/tenant-quota/pkg/subscriptionquota/resolver.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: include canceled in success rate denominator, remove invalid listadmincredentials route
  observability/grafana-dashboards/sre/user-journey/access-cluster-slo.json
Due: e2e-parallel, ci/prow/e2e-parallel

chore(observability): regenerate alert bicep files
  dev-infrastructure/modules/metrics/rp-hcp-rules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/service-rules.bicep
  dev-infrastructure/templates/monitoring.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(observability): rename UJ acronym to userJourney in alert names
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  observability/alerts-rp-hcps.yaml
  observability/alerts/userJourneyKubeApiserverAvailabilityMonitor-prometheusRule-KSM.yaml
  observability/alerts/userJourneyKubeApiserverAvailabilityMonitor-prometheusRule-KSM_test.yaml
  observability/alerts/userJourneyKubeApiserverAvailabilityRecord-prometheusRule-KSM.yaml
  observability/alerts/userJourneyKubeApiserverAvailabilityRecord-prometheusRule-KSM_test.yaml
  observability/recording-rules-hcps.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(observability): replace _id with namespace in KAS alert correlationId
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  observability/alerts/userJourneyKubeApiserverAvailabilityMonitor-prometheusRule-KSM.yaml
  observability/alerts/userJourneyKubeApiserverAvailabilityMonitor-prometheusRule-KSM_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(observability): exclude underlay-clusters-metric from verify check
  observability/Makefile
Due: e2e-parallel, ci/prow/e2e-parallel

fix: bump max throughput RU/s for manifests and resources cosmos containers
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

infra: enable dynamic scaling for cosmosdb acocunts
  dev-infrastructure/modules/rp-cosmos-account.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix(helmtest): use nil check for allowlist fallback logic
  tooling/helmtest/testrunner/test_runner.go
Due: e2e-parallel, ci/prow/e2e-parallel

Removed deprecated comment as per Copilot's feedback
  tooling/helmtest/internal/type.go
Due: e2e-parallel, ci/prow/e2e-parallel

prometheus-rules: normalize expressions, namespace filter support
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedSREServicePrometheusAlertingRules.bicep
  tooling/prometheus-rules/go.mod
  tooling/prometheus-rules/go.sum
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/internal/generator_test.go
  tooling/prometheus-rules/internal/namespace_filter.go
  tooling/prometheus-rules/internal/namespace_filter_test.go
  tooling/prometheus-rules/testdata/generated.bicep
  tooling/prometheus-rules/testdata/generated_5m.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

observability: scope msft alerts by namespace
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  observability/alerts-msft-services.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

observability: tune MSFT alerting
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  observability/alerts-msft-services.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

kube-applier,mgmt-agent,sessiongate: fix process hang after leader election loss
  kube-applier/pkg/app/kube_applier.go
  mgmt-agent/cmd/options.go
  mgmt-agent/go.mod
  mgmt-agent/go.sum
  mgmt-agent/pkg/controller/leaderelection.go
  sessiongate/cmd/options.go
  sessiongate/go.mod
  sessiongate/go.sum
  sessiongate/pkg/controller/leaderelection.go
Due: e2e-parallel, ci/prow/e2e-parallel

kube-applier,mgmt-agent: scrape metrics
  kube-applier/deploy/templates/metrics.service.yaml
  kube-applier/deploy/templates/servicemonitor.yaml
  kube-applier/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_kube_applier.yaml
  mgmt-agent/cmd/options.go
  mgmt-agent/deploy/templates/service.yaml
  mgmt-agent/deploy/templates/servicemonitor.yaml
  mgmt-agent/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mgmt_agent.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

*: use wait groups and simple shutdown flow
  backend/pkg/app/backend.go
  fleet/pkg/manager/manager.go
  kube-applier/pkg/app/kube_applier.go
  mgmt-agent/cmd/options.go
  sessiongate/cmd/options.go
Due: e2e-parallel, ci/prow/e2e-parallel

Revert config change related to postgres.deploy
  cluster-service/cs-debug-jobs/testdata/zz_fixture_TestHelmTemplate_cs_debugjobs_enabled.yaml
  cluster-service/deploy/values.yaml
  cluster-service/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cluster_service.yaml
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  dev-infrastructure/configurations/cluster-service-lookup.tmpl.bicepparam
  dev-infrastructure/modules/cluster-service/cluster-service-lookup.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
