Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: create-aro-hcp-in-integration, create-aro-hcp-in-stage, create-aro-hcp-in-prod, integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

create-aro-hcp-in-integration:
  always_run: false
  steps:
    env:
      CLUSTER_NAME: premerge-integration-cluster-2
      CUSTOMER_RESOURCE_GROUP_PREFIX: premerge-integration-customer-rg
      LOCATION: uksouth
      SUBSCRIPTION: ARO SRE Team - INT (EA Subscription 3)
    post:
    - ref: aro-hcp-provision-aro-hcp-gather-extra
  ...

create-aro-hcp-in-stage:
  always_run: false
  optional: true
  steps:
    env:
      CLUSTER_NAME: premerge-stage-cluster
      CUSTOMER_RESOURCE_GROUP_PREFIX: premerge-stage-customer-rg
      LOCATION: uksouth
      SUBSCRIPTION: ARO HCP - STAGE testing (EA Subscription)
    post:
    - ref: aro-hcp-provision-aro-hcp-gather-extra
  ...

create-aro-hcp-in-prod:
  always_run: false
  optional: true
  steps:
    env:
      CLUSTER_NAME: premerge-prod-cluster
      CUSTOMER_RESOURCE_GROUP_PREFIX: premerge-prod-customer-rg
      LOCATION: uksouth
      SUBSCRIPTION: ARO Hosted Control Planes (EA Subscription 1)
    post:
    - ref: aro-hcp-provision-aro-hcp-gather-extra
  ...

integration-e2e-parallel:
  always_run: false
  optional: true
  steps:
    env:
      ARO_HCP_SUITE_NAME: integration/parallel
      CUSTOMER_SUBSCRIPTION: ARO SRE Team - INT (EA Subscription 3)
      LOCATION: uksouth
    post:
    - ref: aro-hcp-provision-aro-hcp-gather-extra
    - chain: aro-hcp-provision-teardown-cluster
    test:
  ...

stage-e2e-parallel:
  always_run: false
  optional: true
  steps:
    env:
      ARO_HCP_SUITE_NAME: stage/parallel
      CUSTOMER_SUBSCRIPTION: ARO HCP - STAGE testing (EA Subscription)
      LOCATION: uksouth
    post:
    - ref: aro-hcp-provision-aro-hcp-gather-extra
    - chain: aro-hcp-provision-teardown-cluster
    test:
  ...

prod-e2e-parallel:
  always_run: false
  optional: true
  steps:
    env:
      ARO_HCP_SUITE_NAME: prod/parallel
      CUSTOMER_SUBSCRIPTION: ARO Hosted Control Planes (EA Subscription 1)
      LOCATION: uksouth
    post:
    - ref: aro-hcp-provision-aro-hcp-gather-extra
    - chain: aro-hcp-provision-teardown-cluster
    test:
  ...

ci/prow/create-aro-hcp-in-integration:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/create-aro-hcp-in-prod:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

test: Adapt e2e tests to use the internal client SDK
  .golangci.yml
  test/e2e/admin_credential_lifecycle.go
  test/e2e/cluster_create_no_cni.go
  test/e2e/cluster_create_nodepool_osdisk.go
  test/e2e/cluster_create_test.go
  test/e2e/cluster_list_test.go
  test/e2e/cluster_update.go
  test/e2e/external_auth_create.go
  test/e2e/gpu_nodepools_create_delete.go
  test/e2e/image_registry_cluster_create.go
  test/e2e/nodepool_create_test.go
  test/e2e/nodepool_get_test.go
  test/go.mod
  test/util/framework/hcp_helper.go
  test/util/framework/per_test_framework.go
  test/util/integration/fill_setup_bicep.go
  test/util/integration/setup_models.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

test: Generate an internal client SDK from TypeSpec
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/client_factory.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/constants.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/externalauths_client.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/externalauths_server.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/hcpopenshiftclusters_server.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/hcpopenshiftversions_server.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/hcpoperatoridentityrolesets_server.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/internal.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/nodepools_server.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/operations_server.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/fake/server_factory.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/go.mod
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/hcpopenshiftclusters_client.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/hcpopenshiftversions_client.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/hcpoperatoridentityrolesets_client.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models_serde.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/nodepools_client.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/operations_client.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/options.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/responses.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/time_rfc3339.go
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/version.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

remove inner loop that tracks transition of web endpoint.
  test/util/verifiers/serving_app.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

api: Restore the ProxyProfile model
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
Due: none

api: Add normalized ProxyProfile model with validation
  internal/api/hcpopenshiftcluster.go
  internal/api/hcpopenshiftcluster_test.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
  internal/api/v20240610preview/register_test.go
  internal/api/validate.go
  internal/ocm/convert.go
Due: none

api: Describe the default managed resource group name
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/models.go
Due: none

e2e: Test case for cluster & node pool with no version ID
  test/e2e-setup/bicep/cluster-nodepool-default-version.bicep
  test/e2e/cluster_create_nodepool_default_version.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Spike redaction generator cli
  config/config.redaction.yaml
  tooling/log-redaction/config.tmpl
  tooling/log-redaction/main.go
Due: none

update CS int to use absolute numbers for rolling update strategy
  config/config.msft.clouds-overlay.yaml
Due: none

update variable query
  observability/perfscale-dashboards/aks-performance.json
Due: none

arm: Remove unused Copy methods
  internal/api/arm/resource.go
Due: none

arm: Some top-level resource fields are case-insensitive
  internal/api/arm/resource.go
  internal/api/testhelpers_test.go
  internal/api/v20240610preview/register_test.go
Due: none

arm: Add factory functions to initialize resource types
  internal/api/arm/resource.go
Due: none

ocm: Make explicit which fields are lowercased
  internal/ocm/convert.go
  internal/ocm/convert_test.go
Due: none

frontend: Fix validation of top-level read-only fields
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/node_pool.go
Due: none

api: Add resourceID parameter to "NewDefault" functions
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/node_pool.go
  internal/api/hcpopenshiftcluster.go
  internal/api/hcpopenshiftcluster_test.go
  internal/api/hcpopenshiftclusterexternalauth.go
  internal/api/hcpopenshiftclusterexternalauth_test.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/testhelpers.go
  internal/api/v20240610preview/external_auth_methods.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
  internal/api/v20240610preview/nodepools_methods.go
  internal/ocm/convert_test.go
Due: none

Update examples
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_Get_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_Update_MaximumSet_Gen.json
Due: none

Add LoadBalancerProfile and downstream models to PlatformProfile
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
Due: none

Update generated API spec
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
Due: none

Represent effectiveOutboundIp array elements as object w/ id param
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_Get_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_Update_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
Due: none

Rename EffectiveOutboundIpResourceId type to PublicIpAddressResourceId to be reusable
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
Due: none

ARO-20061 enable otel in stg and prod
  config/config.msft.clouds-overlay.yaml
Due: none

auto image digest update tooling
  .github/workflows/image-digest-updater.yml
  backend/go.mod
  backend/go.sum
  frontend/go.mod
  frontend/go.sum
  go.work
  go.work.sum
  internal/go.mod
  internal/go.sum
  test/go.mod
  test/go.sum
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
  tooling/image-updater/.gitignore
  tooling/image-updater/Makefile
  tooling/image-updater/README.md
  tooling/image-updater/cmd/update.go
  tooling/image-updater/config.yaml
  tooling/image-updater/go.mod
  tooling/image-updater/go.sum
  tooling/image-updater/main.go
  tooling/image-updater/pkg/clients/acr.go
  tooling/image-updater/pkg/clients/quay.go
  tooling/image-updater/pkg/clients/utils.go
  tooling/image-updater/pkg/config/config.go
  tooling/image-updater/pkg/updater/updater.go
  tooling/image-updater/pkg/yaml/editor.go
  tooling/image-updater/update.sh
  tooling/prometheus-rules/go.mod
  tooling/prometheus-rules/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

add rbacs to kv
  dev-infrastructure/templates/global-infra.bicep
Due: none

e2e: remove timeout on GetExternalAuth() call as it's not async
  test/e2e/external_auth_create.go
  test/util/framework/hcp_helper.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: add test which lists and validates external auth config matches what's in cluster
  go.work.sum
  test/e2e/external_auth_list_and_verify.go
  test/go.mod
  test/go.sum
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

maybe fix log out/commit message
  tooling/image-updater/update.sh
Due: none

Expect acutalcert to return no error
  test/e2e/cluster_tls_endpoints.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

updated image components for dev/int
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

e2e: wait for old certificates after revocation to expire, don't wait for new certificates after revocation
  test/e2e/admin_credential_lifecycle.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Update Mestro server and Agent images in Dev and Int
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

Switch consoleURL to non pointer
  test/e2e/cluster_tls_endpoints.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

update acm and mce
  acm/deploy/helm/multicluster-engine-config/charts/policy/Chart.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/charts/cluster-lifecycle/Chart.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/charts/cluster-lifecycle/templates/klusterlet-addon-role.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/charts/cluster-lifecycle/templates/klusterlet-addon-role_binding.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/charts/grc/Chart.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/charts/grc/templates/grc-policy-addon-role.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/crds/agent.open-cluster-management.io_klusterletaddonconfigs_crd.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/crds/apps.open-cluster-management.io_placementrules_crd_v1.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/crds/policy.open-cluster-management.io_placementbindings.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/crds/policy.open-cluster-management.io_policies.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/crds/policy.open-cluster-management.io_policyautomations.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/crds/policy.open-cluster-management.io_policysets.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/values.yaml
  acm/deploy/helm/multicluster-engine-crds/Chart.yaml
  acm/deploy/helm/multicluster-engine-crds/templates/multiclusterengines.multicluster.openshift.io.customresourcedefinition.yaml
  acm/deploy/helm/multicluster-engine/Chart.yaml
  acm/deploy/helm/multicluster-engine/templates/multicluster-engine-operator.deployment.yaml
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

ocm: Add http.Header parameter to CSErrorToCloudError
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/node_pool.go
  internal/ocm/convert.go
Due: none

ocm: Handle 503 ServiceUnavailable errors
  internal/api/arm/error.go
  internal/ocm/convert.go
Due: none

Bump CS image to d5400c605d9a in MSFT INT env.
  config/config.msft.clouds-overlay.yaml
Due: none

test: remove version set
  test/e2e-setup/bicep/image-registry/disabled-image-registry-cluster.bicep
  test/e2e-setup/bicep/modules/cluster.bicep
  test/e2e-setup/bicep/modules/nodepool.bicep
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

demo: remove version set
  demo/bicep/cluster.bicep
  demo/bicep/nodepool.bicep
  demo/cluster.tmpl.json
  demo/node_pool.tmpl.json
Due: create-aro-hcp-in-integration, create-aro-hcp-in-stage, create-aro-hcp-in-prod, integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Include per-run-cluster test cases in aro-hcp-tests binary
  test/cmd/aro-hcp-tests/main.go
  test/cmd/aro-hcp-tests/run_happypath_with_teardown.go
  test/e2e/cluster_create.go
  test/e2e/cluster_delete.go
  test/e2e/cluster_get.go
  test/e2e/cluster_list.go
  test/e2e/e2e_test.go
  test/e2e/nodepool_create.go
  test/e2e/nodepool_get.go
  test/e2e/setup.go
  test/util/framework/per_test_framework.go
  test/util/integration/fill_setup_bicep.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Update README to reflect changes. Update naming of test suites.
  test/cmd/aro-hcp-tests/main.go
  test/e2e/README.md
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Path conditions:
  create-aro-hcp-in-integration: any of: ^(demo)
  create-aro-hcp-in-stage: any of: ^(demo)
  create-aro-hcp-in-prod: any of: ^(demo)
  integration-e2e-parallel: any of: ^(test|demo)
  stage-e2e-parallel: any of: ^(test|demo)
  prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-prod: any of: ^(demo)
  ci/prow/create-aro-hcp-in-stage: any of: ^(demo)
  ci/prow/integration-e2e-parallel: any of: ^(test|demo)
  ci/prow/prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/stage-e2e-parallel: any of: ^(test|demo)
