Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

test(e2e): fetch only warning ingress events server-side (AROSLSRE-1495)
  test/util/verifiers/serving_app.go
Due: e2e-parallel, ci/prow/e2e-parallel

test(e2e): harden strict-TLS cert classification and bound diagnostics (AROSLSRE-1495)
  test/util/verifiers/serving_app.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: clamp chart slider default to Y-axis maximum
  test/cmd/aro-hcp-tests/gather-observability/artifacts/metricspanel.html.tmpl
Due: e2e-parallel, ci/prow/e2e-parallel

fix: avoid unnecessary sleep after last VM deploy retry
  test/e2e/cluster_create_private_ingress.go
Due: e2e-parallel, ci/prow/e2e-parallel

wrap Graph writes in Eventually
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/e2e/external_auth_create.go
  test/util/framework/per_test_framework.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix review comments
  test/e2e/cluster_autoscaling.go
Due: e2e-parallel, ci/prow/e2e-parallel

hcpctl/snapshot: retry 429 for Kusto queries with backoff
  tooling/hcpctl/pkg/snapshot/gatherer.go
Due: e2e-parallel, ci/prow/e2e-parallel

Use more CPU Power for kusto in dev
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

test/e2e: implement Let's Encrypt cert-manager ingress cert E2E test
  test/e2e/cluster_ingress_cert_letsencrypt.go
  test/e2e/cluster_tls_endpoints.go
  test/e2e/letsencrypt-stg-cas/letsencrypt-stg-root-x1.crt
  test/e2e/letsencrypt-stg-cas/letsencrypt-stg-root-x2.crt
  test/e2e/letsencrypt-stg-cas/letsencrypt-stg-root-ye.crt
  test/e2e/letsencrypt-stg-cas/letsencrypt-stg-root-yr.crt
  test/go.mod
  test/go.sum
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
Due: e2e-parallel, ci/prow/e2e-parallel

Potential fix for pull request finding
  observability/prometheus/testdata/helmtest_ci.yml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(observability): correct misleading cluster label in bootstrap script output
  dev-infrastructure/scripts/ci-prometheus-bootstrap.sh
Due: e2e-parallel, ci/prow/e2e-parallel

Automated - Update component image digests
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

test/aro-hcp-tests: emit failed jUnit when snapshot gathering errors
  test/cmd/aro-hcp-tests/gather-snapshot/options.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: forward cluster-autoscaler and capi provider logs to shoebox
  observability/arobit/deploy/templates/forwarder-configmap.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_and_kusto_enabled_mgmt.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: regenerate helm fixture after rebase on main
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_and_kusto_enabled_mgmt.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

test: add filter to validate changes on branch fix-cilium-hardcoded-port
  test/cmd/aro-hcp-tests/main.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: remove Cilium hardcoded ports
  test/util/verifiers/artifacts/cilium-connectivity-check-1.19.2/connectivity-check-internal.0011.yaml
  test/util/verifiers/artifacts/cilium-connectivity-check-1.19.2/connectivity-check-internal.0012.yaml
  test/util/verifiers/artifacts/cilium-connectivity-check-1.19.2/connectivity-check-internal.0014.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

implement soft-delete for Cosmos resources via DeletionTimestamp + TTL
  docs/cosmos-resource-deletion.md
  internal/database/crud_hcpcluster.go
  internal/database/crud_helpers.go
  internal/database/global_lister.go
  internal/database/informers/changefeed_list_watch.go
  internal/database/types_typeddocument.go
  internal/databasetesting/mock_resources_changefeed.go
  internal/databasetesting/mock_resources_crud.go
  internal/databasetesting/mock_resources_db_client.go
  internal/databasetesting/mock_resources_global_lister.go
  test-integration/backend/changefeed/changefeed_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

e2e: confirm prod clusters can issue certificates from letsencrypt for delegated subdomain
  test/e2e/cluster_ingress_cert_letsencrypt.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: remove duplicate stuck deletion alert
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts-sl-services.yaml
  observability/alerts/HCPdeletionStuck-prometheusRule.yaml
  observability/alerts/HCPdeletionStuck-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(grafana): comment out grafana-reconcile step (EV2 rejects empty SKU)
  dev-infrastructure/global-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(grafana): also disable grafana-reconcile in grafana-pipeline.yaml
  dev-infrastructure/grafana-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

docs(grafana): note existing-workspace prerequisite in disablement comment
  dev-infrastructure/global-pipeline.yaml
  dev-infrastructure/grafana-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: add inline comment explaining why both drop rules are needed
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arohcp_monitor.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arohcp_monitor.yaml
  observability/prometheus/deploy/templates/prometheus.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources_unset.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: add sku for grafana to config
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  dev-infrastructure/global-pipeline-stg.yaml
  dev-infrastructure/global-pipeline.yaml
  dev-infrastructure/grafana-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

test/aro-hcp-tests: pass MonitoringEventsDatabase to Kusto queries
  test/cmd/aro-hcp-tests/gather-snapshot/options.go
Due: e2e-parallel, ci/prow/e2e-parallel

hcpctl/snapshot: teach the agents about new tables
  tooling/hcpctl/pkg/agent/prompts/exemplars/cluster-cleanup-unknown-failure.md
  tooling/hcpctl/pkg/agent/prompts/exemplars/cluster-creation-timeout-z-stream-upgrade.md
  tooling/hcpctl/pkg/agent/prompts/exemplars/cluster-installation-azure-disk-failure.md
  tooling/hcpctl/pkg/agent/prompts/system.md
  tooling/hcpctl/pkg/snapshot/gatherer.go
  tooling/hcpctl/pkg/snapshot/queries.go
  tooling/hcpctl/pkg/snapshot/queries/backend/cosmosResourceDiscovery/README.md
  tooling/hcpctl/pkg/snapshot/queries/backend/cosmosResourceDiscovery/query.kql
  tooling/hcpctl/pkg/snapshot/queries/backend/resourceControllerConditionTimeline/query.kql
  tooling/hcpctl/pkg/snapshot/queries/backend/resourceControllerConditions/query.kql
  tooling/hcpctl/pkg/snapshot/queries/backend/resourceState/query.kql
  tooling/hcpctl/pkg/snapshot/queries/backend/serviceProviderState/query.kql
  tooling/hcpctl/pkg/snapshot/queries/hypershift/hostedClusterConditionTimeline/query.kql
  tooling/hcpctl/pkg/snapshot/queries/hypershift/hostedClusterConditions/query.kql
  tooling/hcpctl/pkg/snapshot/queries/hypershift/hostedClusterMetadata/query.kql
  tooling/hcpctl/pkg/snapshot/queries/hypershift/nodePoolConditionTimeline/query.kql
  tooling/hcpctl/pkg/snapshot/queries/hypershift/nodePoolConditions/query.kql
  tooling/hcpctl/pkg/snapshot/queries/partials/bundleMap.kql
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add cluster version selection-to-active SLO rules and alerts
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts-rp-services.yaml
  observability/alerts/userJourneyClusterUpgradeCompleteMonitor-prometheusRule.yaml
  observability/alerts/userJourneyClusterUpgradeCompleteMonitor-prometheusRule_test.yaml
  observability/alerts/userJourneyClusterUpgradeReachPartialMonitor-prometheusRule.yaml
  observability/alerts/userJourneyClusterUpgradeReachPartialMonitor-prometheusRule_test.yaml
  observability/alerts/userJourneyClusterUpgradeRecord-prometheusRule.yaml
  observability/alerts/userJourneyClusterUpgradeRecord-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-upgrade-slo-dashboard.json
  observability/recording-rules-services.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

refactor: move the recording rules to the dedicated folder
  observability/alerts/userJourneyClusterUpgradeCompleteMonitor-prometheusRule_test.yaml
  observability/alerts/userJourneyClusterUpgradeReachPartialMonitor-prometheusRule_test.yaml
  observability/recording-rules-services.yaml
  observability/recording-rules/userJourneyClusterUpgrade-recordingRule.yaml
  observability/recording-rules/userJourneyClusterUpgrade-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: add a recording rule about cluster upgrade eligibility
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/userJourneyClusterUpgradeRecord-prometheusRule.yaml
  observability/alerts/userJourneyClusterUpgradeRecord-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

refactor: use per-resource stuck alerts for cluster upgrade SLOs
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts-rp-services.yaml
  observability/alerts/userJourneyClusterUpgradeCompleteMonitor-prometheusRule.yaml
  observability/alerts/userJourneyClusterUpgradeCompleteMonitor-prometheusRule_test.yaml
  observability/alerts/userJourneyClusterUpgradeMonitor-prometheusRule.yaml
  observability/alerts/userJourneyClusterUpgradeMonitor-prometheusRule_test.yaml
  observability/alerts/userJourneyClusterUpgradeReachPartialMonitor-prometheusRule.yaml
  observability/alerts/userJourneyClusterUpgradeReachPartialMonitor-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-upgrade-slo-dashboard.json
  observability/grafana-dashboards/sre/user-journey/cluster-upgrade-slo.json
  observability/recording-rules/userJourneyClusterUpgrade-recordingRule.yaml
  observability/recording-rules/userJourneyClusterUpgrade-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: properly form the collerationId by dropping leading / before resourceId. Also add the cluster label in the collerationId d
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/userJourneyClusterUpgradeMonitor-prometheusRule.yaml
  observability/alerts/userJourneyClusterUpgradeMonitor-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: flappy nodepool alert fix
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: avoid default SA race in pull-secret e2e image pull pod
  test/e2e/cluster_pullsecret.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: clarify when the alert fires for the SLO
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/userJourneyClusterUpgradeMonitor-prometheusRule.yaml
  observability/alerts/userJourneyClusterUpgradeMonitor-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-upgrade-slo.json
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: prevent race condition in ChangeFeedWatcher.Stop() which was causing TestKubeApplierIntegration/read_mirrors_configmap to fail
  internal/database/informers/changefeed_list_watch.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: call cincinatti API directly to check for next-minor channel existence in control plane desired version selection
  backend/pkg/controllers/upgradecontrollers/control_plane_desired_version_controller.go
  backend/pkg/controllers/upgradecontrollers/control_plane_desired_version_controller_test.go
  internal/cincinnati/graph_client.go
  internal/cincinnati/graph_client_test.go
  internal/cincinnati/mock_graph_client.go
Due: e2e-parallel, ci/prow/e2e-parallel

applied review suggestions
  docs/alert-verification.md
Due: none
