Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

observability-prometheus:
  steps:
    test:
    - ref: aro-hcp-observability-prometheus

observability-grafana:
  steps:
    test:
    - ref: aro-hcp-observability-grafana

e2e-parallel:
  always_run: true
  steps:
    cluster_profile: aro-hcp-dev
    env:
      LOCATION: westus3
    workflow: aro-hcp-local-e2e

ci/prow/e2e-parallel:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aro-hcp-dev
    ci-operator.openshift.io/cloud-cluster-profile: aro-hcp-dev
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

Bump ARO-Tools pipelines and kustoctl pins to include #318
  tooling/kustoctl/go.mod
  tooling/kustoctl/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

docs(kusto): correct removePermission comment to match code behavior
  dev-infrastructure/modules/logs/kusto/main.bicep
  tooling/kustoctl/go.mod
  tooling/kustoctl/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

docs(tenant-quota): correct two stale claims about ingestion
  dev-infrastructure/dev-ci/cluster/opstool-kusto-grant.bicep
  tooling/tenant-quota/pkg/cijoboutcomes/writer.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: add e2e coverage for HostedCluster deletion after etcd KMS Key Vault removal
  nonlocal-e2e-specs.txt
  test/e2e/cluster_delete_kms_vault.go
  test/util/framework/per_test_framework.go
Due: e2e-parallel, ci/prow/e2e-parallel

Split MRG validation and persistence into separate inline calls
  backend/pkg/controllers/cluster/azureresources/managed_resource_group_controller.go
  backend/pkg/controllers/cluster/azureresources/managed_resource_group_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: guard determineOperationState against unset ClusterServiceID and clarify install-incomplete message
  backend/pkg/controllers/cluster/operations/operation_cluster_create.go
  backend/pkg/controllers/cluster/operations/operation_cluster_create_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(ops): update cluster creation flow for kube-applier migration
  docs/ops/hcp-cluster-creation-flow.md
Due: none

refactor: return Provisioning from clusterServiceCreateOperationState when ClusterServiceID unset (per review)
  backend/pkg/controllers/cluster/operations/operation_cluster_create.go
  backend/pkg/controllers/cluster/operations/operation_cluster_create_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore(kusto): go mod tidy after rebase onto main
  test/go.mod
  test/go.sum
  tooling/kustoctl/go.mod
  tooling/kustoctl/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: drop redundant ClusterServiceID nil gate in shouldReconcileOperationAndResourceStatus
  backend/pkg/controllers/cluster/operations/operation_cluster_create.go
  backend/pkg/controllers/cluster/operations/operation_cluster_create_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

add Latency SLI stuck operation alert and recording rule for cluster provisioning
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
  observability/recording-rules/cluster-provision-slo-recordingRule.yaml
  observability/recording-rules/cluster-provision-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(tenant-quota): copy the hcpctl and utilitytypes modules into the image
  tooling/tenant-quota/Dockerfile
Due: e2e-parallel, ci/prow/e2e-parallel

docs(ops): add generation markers + prompt to cluster creation flow
  docs/ops/hcp-cluster-creation-flow.md
Due: none

docs: add regenerate trigger for hcp-cluster-creation-flow doc
  CLAUDE.md
Due: none

docs: fix ApplyDesire/DeleteDesire terminology and add container selector
  docs/ops/hcp-cluster-creation-flow.md
Due: none

Revert "Merge pull request #6681 from redhat-chai-bot/feat/observe-role-assignments"
  backend/pkg/app/backend.go
  backend/pkg/azure/azuremockclient/mock_clients.go
  backend/pkg/azure/client/errors.go
  backend/pkg/azure/client/fpa_client_builder.go
  backend/pkg/azure/client/mock_fpa_client_builder.go
  backend/pkg/azure/client/mock_role_assignments_client.go
  backend/pkg/azure/client/role_assignments_client.go
  backend/pkg/azure/roleassignment/roleassignment.go
  backend/pkg/azure/roleassignment/roleassignment_test.go
  backend/pkg/controllers/cluster/operations/operation_cluster_create.go
  backend/pkg/controllers/cluster/operations/operation_cluster_create_test.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_controller.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_controller_test.go
  docs/cosmos-data-flow.md
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(tenant-quota): bound each CI outcome pass and constrain its credential
  config/config-dev-ci.schema.json
  config/config-dev-ci.yaml
  tooling/tenant-quota/deploy/config.yaml.tmpl
  tooling/tenant-quota/pkg/cijoboutcomes/writer.go
  tooling/tenant-quota/pkg/config/config.go
  tooling/tenant-quota/pkg/config/config_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: add docs for local grafana development
  docs/grafana-dashboards.md
  docs/sre/hcp-metrics.md
  observability/grafana-dashboards/sre/cluster-health/README.md
Due: none

test: temporarily add Development-Only label to trigger CI e2e-parallel run
  test/e2e/cluster_delete_kms_vault.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: add private/public visibility E2E tests for ARO-HCP clusters
  test/e2e/cluster_create_fully_private.go
  test/e2e/cluster_create_fully_private_with_kv.go
  test/e2e/cluster_create_public_and_private_kas.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
Due: e2e-parallel, ci/prow/e2e-parallel

test: split passing visibility tests into separate PR
  test/e2e/cluster_create_fully_private.go
  test/e2e/cluster_create_fully_private_with_kv.go
  test/e2e/cluster_create_public_and_private_kas.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
Due: e2e-parallel, ci/prow/e2e-parallel

test: use RunKubectlOnVM for kubectl-on-VM calls in nodepool scaling test
  test/e2e/cluster_private_nodepool_scaling.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: reduce KAS reachability Eventually timeout from 60m to 15m
  test/e2e/cluster_create_fully_private.go
  test/e2e/cluster_create_fully_private_with_kv.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: correct the E2E capacity model in identity-leasing.md
  docs/ci/identity-leasing.md
Due: none

test: fix comment accuracy for TLS skip on private KAS connection
  test/e2e/cluster_private_nodepool_scaling.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: enrich successful operation state with degraded condition
  backend/pkg/controllers/cluster/operations/operation_cluster_create.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(int): update aro-hcp-int-msi-mock identity to new principal
  backend/testdata/zz_fixture_TestHelmTemplate_backend_clstr_scoped_identities_role_set_name_public.yaml
  backend/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_aro_hcp_backend_dev.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_azuredb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_containerdb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_distinct_arm_helper.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_shared_arm_helper.yaml
  cluster-service/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cluster_service.yaml
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  docs/sops/msit-int-credential-setup.md
Due: e2e-parallel, ci/prow/e2e-parallel

docs(validation): clarify emptyTenantID sentinel comment (AROSLSRE-1988)
  internal/validation/validate_subscription.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: move ama-metrics-settings-configmap to service-lifecycle chart
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arohcp_monitor.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_service_lifecycle.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arohcp_monitor.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_service_lifecycle.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources_unset.yaml
  service-lifecycle/deploy/templates/ama-metrics-settings-configmap.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

disable Prometheus on SVC clusters and filter health alerts
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/underlay-clusters-metric.bicep
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
  observability/alerts/prometheus-prometheusRule.yaml
  observability/alerts/prometheus-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

various fixes
  .yamllint.yml
  dev-infrastructure/cleanup-prometheus.pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
  docs/pipelines.md
  observability/prometheus/deploy/templates/prometheus.podmonitor.yaml
  observability/prometheus/values-opstool.yaml
  topology.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: enable AMA kube-state-metrics scraping on SVC clusters
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_service_lifecycle.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_service_lifecycle.yaml
  service-lifecycle/deploy/templates/ama-metrics-settings-configmap.yaml
  service-lifecycle/deploy/values-mgmt.yaml
  service-lifecycle/deploy/values-svc.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
