Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

observability-prometheus:
  steps:
    test:
    - ref: aro-hcp-observability-prometheus

observability-grafana:
  steps:
    test:
    - ref: aro-hcp-observability-grafana

e2e-parallel:
  always_run: true
  steps:
    cluster_profile: aro-hcp-dev
    env:
      LOCATION: westus3
    workflow: aro-hcp-local-e2e

ci/prow/e2e-parallel:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aro-hcp-dev
    ci-operator.openshift.io/cloud-cluster-profile: aro-hcp-dev
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

fix(observability): correct latency bucket selectors and deduplicate replicas
  cluster-service/alerts/cluster-service-slo-rules.yaml
  dev-infrastructure/modules/metrics/rules/generatedKustoOnlyServicePrometheusAlertingRules.bicep
  frontend/alerts/frontend-latency-prometheusRule_test.yaml
  frontend/alerts/frontend-path-latency-prometheusRule.yaml
  frontend/alerts/frontend-path-latency-prometheusRule_test.yaml
  observability/grafana-dashboards/clusters-service/cluster-service-slo.json
  observability/recording-rules/frontend-slo-recordingRule_test.yaml
  test/cmd/aro-hcp-tests/gather-observability/queries.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

add accepted phase and degradation alert tests, fix dashboard description and trailing space
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-provisioning-slo.json
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

test: migrate off retired 2026-06-30-preview API version (AROSLSRE-2115)
  test/e2e/cluster_create_private_ingress.go
  test/e2e/cluster_fips_mode.go
  test/e2e/kms_key_rotation.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
  test/util/framework/constants.go
  test/util/framework/helpers_v20260901preview.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(slot-manager): group region selection state
  test/cmd/aro-hcp-tests/slot-manager/acquire.go
  test/cmd/aro-hcp-tests/slot-manager/acquire_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): address Copilot review
  observability/grafana-dashboards/sre/user-journey/nodepool-creation-slo.json
Due: e2e-parallel, ci/prow/e2e-parallel

fix(image-updater): alias go-containerregistry v1 import for goimports (AROSLSRE-2109)
  tooling/image-updater/internal/clients/generic.go
  tooling/image-updater/internal/clients/quay.go
Due: e2e-parallel, ci/prow/e2e-parallel

add Latency SLI stuck operation alert and recording rule for cluster provisioning
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
  observability/recording-rules/cluster-provision-slo-recordingRule.yaml
  observability/recording-rules/cluster-provision-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

test(slot-manager): temporarily force weighted region selection
  test/cmd/aro-hcp-tests/slot-manager/acquire.go
  test/cmd/aro-hcp-tests/slot-manager/acquire_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(ci): wire bicep fixture and tool-version checks into make verify (AROSLSRE-1972)
  Makefile
  hack/bicep-golden-fixtures/README.md
  hack/bicep-golden-fixtures/cluster-nodepool-osdisk.json
  hack/bicep-golden-fixtures/cluster-only.json
  hack/bicep-golden-fixtures/demo.json
  hack/bicep-golden-fixtures/infra-only.json
  hack/bicep-golden-fixtures/modules-4.20/cluster-identities.json
  hack/bicep-golden-fixtures/modules-4.20/cluster.json
  hack/bicep-golden-fixtures/modules-4.20/customer-infra.json
  hack/bicep-golden-fixtures/modules-4.20/managed-identities.json
  hack/bicep-golden-fixtures/modules-4.20/msi-scoped-assignments.json
  hack/bicep-golden-fixtures/modules-4.20/nodepool.json
  hack/bicep-golden-fixtures/modules-4.20/non-msi-scoped-assignments.json
  hack/bicep-golden-fixtures/modules-4.20/test-vm.json
  hack/bicep-golden-fixtures/modules/cluster-identities.json
  hack/bicep-golden-fixtures/modules/cluster.json
  hack/bicep-golden-fixtures/modules/customer-infra.json
  hack/bicep-golden-fixtures/modules/managed-identities.json
  hack/bicep-golden-fixtures/modules/msi-scoped-assignments.json
  hack/bicep-golden-fixtures/modules/nodepool.json
  hack/bicep-golden-fixtures/modules/non-msi-scoped-assignments.json
  hack/bicep-golden-fixtures/modules/test-vm.json
  hack/bicep-golden-fixtures/msi-pools.json
  hack/bicep-golden-fixtures/no-cni.json
  hack/bicep-golden-fixtures/standard-cluster-create/cluster.json
  hack/bicep-golden-fixtures/standard-cluster-create/customer-infra.json
  hack/bicep-golden-fixtures/standard-cluster-create/nodepool.json
  hack/generate-bicep-golden.sh
  hack/verify-bicep-fixtures.sh
  test/Makefile
Due: e2e-parallel, ci/prow/e2e-parallel

fix(image-updater): reject cross-host pagination Link headers (AROSLSRE-2109)
  tooling/image-updater/internal/clients/generic.go
  tooling/image-updater/internal/clients/generic_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

ARO-26057: reconcile Grafana ADX integration fabrics
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  dev-infrastructure/configurations/kusto-stg.tmpl.bicepparam
  dev-infrastructure/configurations/kusto.tmpl.bicepparam
  dev-infrastructure/geography-pipeline-stg.yaml
  dev-infrastructure/geography-pipeline.yaml
  dev-infrastructure/global-pipeline-stg.yaml
  dev-infrastructure/global-pipeline.yaml
  dev-infrastructure/grafana-pipeline.yaml
  dev-infrastructure/modules/logs/kusto/cluster.bicep
  dev-infrastructure/modules/logs/kusto/main.bicep
  dev-infrastructure/templates/kusto.bicep
  docs/monitoring.md
  go.work
  tooling/templatize/pkg/pipeline/grafana_reconcile.go
  tooling/templatize/pkg/pipeline/grafana_reconcile_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

ARO-26057: cover ADX wiring in buildGrafanaReconcileOptions test
  tooling/templatize/pkg/pipeline/grafana_reconcile_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(image-updater): require https scheme for pagination Link URLs (AROSLSRE-2109)
  tooling/image-updater/internal/clients/generic.go
  tooling/image-updater/internal/clients/generic_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: correct frontend latency SLO alerts
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/frontend-slo-prometheusRule.yaml
  observability/alerts/frontend-slo-prometheusRule_test.yaml
  observability/recording-rules/frontend-slo-recordingRule.yaml
  observability/recording-rules/frontend-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

chore: re-tidy go.sum after ARO-Tools bump (AROSLSRE-2112)
  admin/client/go.sum
  admin/server/go.sum
  backend/go.sum
  dev-infrastructure/scripts/acr-replication/go.sum
  dev-infrastructure/scripts/grafana-group-roles/go.sum
  dev-infrastructure/scripts/postgres-access/go.sum
  fleet/go.sum
  frontend/go.sum
  internal/go.sum
  kube-applier/go.sum
  mgmt-agent/go.mod
  mgmt-agent/go.sum
  sessiongate/go.mod
  sessiongate/go.sum
  test-integration/go.sum
  tooling/azutils/go.sum
  tooling/cleanup-sweeper/go.sum
  tooling/entra-app-credentials/go.sum
  tooling/image-updater/go.sum
  tooling/metricscache/go.sum
  tooling/olm-bundle-repkg/go.sum
  tooling/prometheus-rules/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

fix(image-updater): fix gci import grouping in acr_test.go (AROSLSRE-2109)
  tooling/image-updater/internal/clients/acr_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: strengthen frontend latency regressions
  observability/alerts/frontend-slo-prometheusRule.yaml
  observability/alerts/frontend-slo-prometheusRule_test.yaml
  observability/recording-rules/frontend-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(image-updater): avoid reusing canceled errgroup context in selection loop
  tooling/image-updater/internal/clients/generic.go
  tooling/image-updater/internal/clients/quay.go
Due: e2e-parallel, ci/prow/e2e-parallel

update threshold to 30 minutes and clear on terminal state for the alert
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

window cluster-provision error rate by terminal transition time
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-provisioning-slo.json
  observability/recording-rules/cluster-provision-slo-recordingRule.yaml
  observability/recording-rules/cluster-provision-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(e2e): take rc and rc versions into account
  test/util/framework/version_helper.go
  test/util/framework/version_helper_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(observability): add SWIFT networking user journey monitoring (ARO-25382)
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts-rp-hcps.yaml
  observability/alerts-rp-services.yaml
  observability/alerts/swift-networking-cns-prometheusRule.yaml
  observability/alerts/swift-networking-cns-prometheusRule_test.yaml
  observability/alerts/swift-networking-prometheusRule.yaml
  observability/alerts/swift-networking-prometheusRule_test.yaml
  observability/alerts/swift-networking-recordingRule-KSM.yaml
  observability/alerts/swift-networking-recordingRule-KSM_test.yaml
  observability/grafana-dashboards/sre/user-journey/swift-networking.json
  observability/recording-rules-hcps.yaml
  observability/recording-rules-services.yaml
  observability/recording-rules/swift-networking-cns-recordingRule.yaml
  observability/recording-rules/swift-networking-cns-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

test(test-integration): cover tag-only exact versions for nightly
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-nightly-with-exact-version-tag/00-httpCreate-subscription-with-afec/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-nightly-with-exact-version-tag/00-httpCreate-subscription-with-afec/subscription.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-nightly-with-exact-version-tag/01-httpCreate-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-nightly-with-exact-version-tag/01-httpCreate-cluster/cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-nightly-with-exact-version-tag/02-setClusterServiceID-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-nightly-with-exact-version-tag/02-setClusterServiceID-cluster/cluster-service-id.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-nightly-with-exact-version-tag/03-loadClusterService-cluster/cs-nightly-full-version-autoscaler.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-nightly-with-exact-version-tag/03-loadClusterService-cluster/cs-nightly-full-version-cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-nightly-with-exact-version-tag/04-completeOperation-op/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-nightly-with-exact-version-tag/05-httpPatch-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-nightly-with-exact-version-tag/05-httpPatch-cluster/patch.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-nightly-with-exact-version-tag/06-httpGet-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-nightly-with-exact-version-tag/06-httpGet-cluster/cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-nightly-exact-version-in-version-id/00-httpCreate-subscription-with-afec/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-nightly-exact-version-in-version-id/00-httpCreate-subscription-with-afec/subscription.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-nightly-exact-version-in-version-id/01-httpCreate-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-nightly-exact-version-in-version-id/01-httpCreate-cluster/cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-nightly-exact-version-in-version-id/01-httpCreate-cluster/expected-error.txt
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-nightly-without-exact-version-tag/00-httpCreate-subscription-with-afec/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-nightly-without-exact-version-tag/00-httpCreate-subscription-with-afec/subscription.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-nightly-without-exact-version-tag/01-httpCreate-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-nightly-without-exact-version-tag/01-httpCreate-cluster/cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-nightly-without-exact-version-tag/01-httpCreate-cluster/expected-error.txt
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/create-reject-nightly-without-full-version/01-httpCreate-cluster/expected-error.txt
Due: e2e-parallel, ci/prow/e2e-parallel

test(e2e): request exact install versions with the exact-version tag
  test/e2e/cluster_create_private_kas.go
  test/e2e/complete_cluster_create_multiversion.go
  test/e2e/control_plane_automated_z_stream_upgrade.go
  test/e2e/control_plane_minor_upgrade.go
  test/e2e/kms_key_rotation.go
  test/e2e/nodepool_version_upgrade.go
  test/util/framework/deployment_params.go
  test/util/framework/helpers_v20240610preview.go
  test/util/framework/helpers_v20251223preview.go
  test/util/framework/helpers_v20260630preview.go
  test/util/framework/helpers_v20260901preview.go
  test/util/framework/helpers_v20261001preview.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(validation): pin exact OpenShift versions through the exact-version tag only
  internal/admission/admit_cluster.go
  internal/admission/admit_cluster_test.go
  internal/api/metadataapi/featureflags.go
  internal/validation/hcpopenshiftcluster_test.go
  internal/validation/validate_cluster.go
  internal/validation/validators.go
Due: e2e-parallel, ci/prow/e2e-parallel

initial commit
  tooling/hcpctl/pkg/kusto/query.go
  tooling/hcpctl/pkg/kusto/templates/builtin/oc-adm-inspect/nodes.kql.gotmpl
  tooling/hcpctl/pkg/kusto/templates/builtin/oc-adm-inspect/pod_node_names.kql.gotmpl
  tooling/hcpctl/pkg/kusto/templates/builtin/queries.yaml
  tooling/hcpctl/pkg/ocadminspect/inspect.go
  tooling/hcpctl/pkg/ocadminspect/inspect_test.go
  tooling/hcpctl/pkg/ocadminspect/writer.go
  tooling/hcpctl/pkg/ocadminspect/writer_test.go
  tooling/hcpctl/testdata/zz_fixture_TestTemplateDataOptions.yaml
  tooling/hcpctl/testdata/zz_fixture_TestTemplateDataOptions_NoTruncation.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

chore(api): fix typos and reword descriptions for clarity
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-10-01-preview/openapi.json
  internal/azureapi/v20261001preview/generated/models.go
  test/sdk/v20261001preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models.go
Due: e2e-parallel, ci/prow/e2e-parallel

Automated - Update component image digests
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

docs: add Windows commands to control plane resize SOP
  docs/ops/override-cluster-size.md
Due: none

test: e2e y-stream upgrade still completes when dataplane is degraded
  test/e2e/control_plane_minor_upgrade_dataplane.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
Due: e2e-parallel, ci/prow/e2e-parallel

chore: point GCS artifact reads at test-platform-results-public
  tooling/hcpctl/pkg/snapshot/prow.go
  tooling/tenant-quota/pkg/cijoboutcomes/artifacts.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ev2): remove unused STG identity retries (AROSLSRE-2101)
  dev-infrastructure/global-pipeline-stg.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

test: remove AFEC-gated API version pre-check from E2E tests (AROSLSRE-2118)
  test/e2e/cluster_create_v20260901preview.go
  test/e2e/cluster_nodepool_active_versions.go
  test/util/framework/hcp_helper.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: derive GCS bucket from Prow URL in hcpctl snapshot
  tooling/hcpctl/pkg/snapshot/prow.go
  tooling/hcpctl/pkg/snapshot/prow_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

hardcode CloudReplacement
  test/util/config/config.go
Due: e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
