Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

observability-prometheus:
  steps:
    test:
    - ref: aro-hcp-observability-prometheus

observability-grafana:
  steps:
    test:
    - ref: aro-hcp-observability-grafana

e2e-parallel:
  always_run: true
  steps:
    cluster_profile: aro-hcp-dev
    env:
      LOCATION: westus3
    workflow: aro-hcp-local-e2e

ci/prow/e2e-parallel:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aro-hcp-dev
    ci-operator.openshift.io/cloud-cluster-profile: aro-hcp-dev
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

fix(swift-vnet): recreate ACI after DNS or MSI exhaustion
  dev-infrastructure/mgmt-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: reword CI/CD security scan to clarify intent
  .claude/skills/pr-standards/SKILL.md
Due: none

feature: adding subscription key for quotaizer msi
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: bump ACM/MCE bundles to 2.17 (acm-217 / mce-217)
  acm/deploy/helm/multicluster-engine-config/charts/policy/Chart.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/charts/cluster-lifecycle/Chart.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/charts/grc/Chart.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/values.yaml
  acm/deploy/helm/multicluster-engine-crds/Chart.yaml
  acm/deploy/helm/multicluster-engine-crds/templates/multiclusterengines.multicluster.openshift.io.customresourcedefinition.yaml
  acm/deploy/helm/multicluster-engine/Chart.yaml
  acm/deploy/helm/multicluster-engine/templates/multicluster-engine-operator.deployment.yaml
  acm/deploy/helm/multicluster-engine/templates/multicluster-engine-x5d5x8b93c5mh334chde54vpu6bfnweigxlxg6wtmnd.clusterrole.yaml
  acm/deploy/helm/multicluster-engine/templates/multicluster-engine-x5d5x8b93c5mh334chde54vpu6bfnweigxlxg6wtmnd.clusterrolebinding.yaml
  acm/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mce.yaml
  acm/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mce_crds.yaml
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  tooling/image-updater/config.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

add velero grafana dashboard and kube-state-metrics config
  observability/grafana-dashboards/velero/velero.json
  observability/observability.yaml
  observability/prometheus/values-mgmt.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

extend velero grafana dashboard with fleet-level panels
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arohcp_monitor.yaml
  observability/grafana-dashboards/velero/velero.json
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
  observability/prometheus/values-mgmt.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(config): pin uksouth stg kusto rg to match the recreated -2 cluster
  config/config.msft.clouds-overlay.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

docs(ci): fix article grammar in ev2-retry-catcher.md (AROSLSRE-1721)
  docs/ci/ev2-retry-catcher.md
Due: none

docs(ops): fix pod-readiness check and grammar in node pool geneva SOP (AROSLSRE-870)
  docs/ops/delete-node-pool-via-geneva.md
Due: none

docs(ci): note that referenced code is in-flight, not yet merged (AROSLSRE-1721)
  docs/ci/ev2-retry-catcher.md
Due: none

feat(test): report suite-level stats alongside EV2 retry facts (AROSLSRE-1721)
  test/cmd/aro-hcp-tests/main.go
  test/cmd/aro-hcp-tests/main_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(ci): document the ev2-tests-*/ev2-suite-duration-seconds stats keys (AROSLSRE-1721)
  docs/ci/ev2-retry-catcher.md
Due: none

feat: add generic memory drift and trend alerts for ARO-HCP services
  dev-infrastructure/modules/metrics/rules/generatedKustoOnlyServicePrometheusAlertingRules.bicep
  docs/alerts/service-memory-resources.md
  observability/alerts-kusto-services.yaml
  observability/alerts/serviceMemoryResources-prometheusRule.yaml
  observability/alerts/serviceMemoryResources-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: deploy AKS node pools via dedicated ARMStack step
  dev-infrastructure/configurations/mgmt-cluster-nodepools.tmpl.bicepparam
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/opstool-cluster-nodepools.tmpl.bicepparam
  dev-infrastructure/configurations/opstool-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster-nodepools.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/dev-ci/cluster/opstool-aks-pipeline.yaml
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/templates/aks-nodepools.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/opstool-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

feat: migrate ACR + image sync steps to ARMStack (global)
  dev-infrastructure/global-pipeline-stg.yaml
  dev-infrastructure/global-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(test): nest EV2 suite stats under ev2-suite-summary (AROSLSRE-1721)
  test/cmd/aro-hcp-tests/main.go
  test/cmd/aro-hcp-tests/main_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(ci): update example to the nested ev2-suite-summary shape (AROSLSRE-1721)
  docs/ci/ev2-retry-catcher.md
Due: none

address review comments on cluster deletion SLO alerts
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts-rp-services.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

test: apply allow-retry label to evidence-backed known-issue tests (AROSLSRE-1721)
  test/e2e/admin_credential_lifecycle.go
  test/e2e/cluster_create_complex_cilium_kv.go
  test/e2e/cluster_create_nodepool_osdisk.go
  test/e2e/cluster_tls_endpoints.go
  test/e2e/cluster_version_backlevel.go
  test/e2e/control_plane_automated_z_stream_upgrade.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix indentation under prometheusrule
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: add FrontendPathLatency to known issues (AROSLSRE-1746)
  test/cmd/aro-hcp-tests/gather-observability/known-issues/knownIssues.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Revert "ARO-22744. New e2e test for complex customer scenario."
  test/e2e/cluster_create_feature_aggregation.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
  test/util/framework/hcp_helper.go
  test/util/framework/vm_helper.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: add allow-retry label to candidate-channel multiversion install (AROSLSRE-1747)
  test/e2e/complete_cluster_create_multiversion.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(test): document labels.AllowRetry in test/AGENTS.md
  test/AGENTS.md
Due: none

fix(test): write metadata.json atomically in writeEV2RetryMetadata
  test/cmd/aro-hcp-tests/main.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(test): sort failed test names before writing EV2 retry metadata
  test/cmd/aro-hcp-tests/main.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: make validation requeue conditional on outcome — only Failed/Unknown requeue, Passed/Skipped set gate only
  backend/pkg/controllers/cluster/validation/cluster_validation_controller.go
  backend/pkg/controllers/cluster/validation/cluster_validation_controller_test.go
  backend/pkg/controllers/nodepool/validation/nodepool_validation_controller.go
  backend/pkg/controllers/nodepool/validation/nodepool_validation_controller_test.go
  backend/pkg/utils/validationutils/validation_result.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(test): guard zero-value suiteStart when computing suite duration
  test/cmd/aro-hcp-tests/main.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(test): log accurate EV2 metadata destination when ARTIFACT_DIR unset
  test/cmd/aro-hcp-tests/main.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: use unique namespace suffix in cilium connectivity check verifier
  test/util/verifiers/cilium.go
  test/util/verifiers/helper.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(ci): time-scope the in-flight status note (AROSLSRE-1726)
  docs/ci/ev2-retry-catcher.md
Due: none

feat(observability): add etcd fsync performance Grafana dashboard (ARO-26901)
  observability/grafana-dashboards/sre/cluster-health/README.md
  observability/grafana-dashboards/sre/cluster-health/etcd-fsync-performance.json
Due: e2e-parallel, ci/prow/e2e-parallel

fix: clarify node pool version error when control plane is a different major
  backend/pkg/controllers/nodepool/version/nodepool_version_controller_test.go
  internal/admission/admit_nodepool_test.go
  internal/validation/validators.go
  internal/validation/validators_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: add cross-major node pool downgrade validation cases
  internal/validation/validators_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

ARO-28872. Upgrade to OCP 4.22 as default version in test framework.
  test/e2e-setup/bicep/modules-4.20/cluster-identities.bicep
  test/e2e-setup/bicep/modules-4.20/cluster.bicep
  test/e2e-setup/bicep/modules-4.20/customer-infra.bicep
  test/e2e-setup/bicep/modules-4.20/managed-identities.bicep
  test/e2e-setup/bicep/modules-4.20/msi-scoped-assignments.bicep
  test/e2e-setup/bicep/modules-4.20/nodepool.bicep
  test/e2e-setup/bicep/modules-4.20/non-msi-scoped-assignments.bicep
  test/e2e-setup/bicep/modules-4.20/test-vm.bicep
  test/e2e/README.md
  test/e2e/cluster_version_backlevel.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
  test/util/framework/deployment_params.go
Due: e2e-parallel, ci/prow/e2e-parallel

ARO-27425. Improve VM helper to be able to stop commands.
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/util/framework/vm_helper.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: align cross-major downgrade error message with PR #6434 format
  backend/pkg/controllers/nodepool/version/nodepool_version_controller_test.go
  internal/admission/admit_nodepool_test.go
  internal/validation/validators.go
  internal/validation/validators_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: backend/pkg/controllers/controlplaneversion: Scaffold install/update version selection
  backend/pkg/controllers/controlplaneversion/aro.go
  backend/pkg/controllers/controlplaneversion/aro_test.go
  backend/pkg/controllers/controlplaneversion/cincinnati.go
  backend/pkg/controllers/controlplaneversion/controlplaneversion.go
  backend/pkg/controllers/controlplaneversion/install_test.go
  backend/pkg/controllers/controlplaneversion/main.go
  backend/pkg/controllers/controlplaneversion/rank.go
  backend/pkg/controllers/controlplaneversion/rank_test.go
  backend/pkg/controllers/controlplaneversion/update_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: add E2E coverage for deleting an HCP cluster with missing managed identities
  nonlocal-e2e-specs.txt
  test/e2e/cluster_delete_missing_identities.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
  test/util/framework/identities_helper.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: split cluster service ARM helper configuration
  cluster-service/testdata/helmtest_cs-distinct-arm-helper.yaml
  cluster-service/testdata/helmtest_cs-shared-arm-helper-fallback.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_distinct_arm_helper.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_shared_arm_helper_fallback.yaml
  cluster-service/values.yaml
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  docs/ci/dev-mock-identities.md
  docs/ci/identity-leasing.md
  hack/ci/build-config-override.sh
Due: e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
