Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

create-aro-hcp-in-integration:
  always_run: false
  steps:
    env:
      CLUSTER_NAME: premerge-integration-cluster
      CUSTOMER_RG_NAME: premerge-integration-customer-rg
      LOCATION: uksouth
      SUBSCRIPTION: ARO SRE Team - INT (EA Subscription 3)
    post:
    - ref: aro-hcp-provision-aro-hcp-gather-extra
  ...

ci/prow/create-aro-hcp-in-integration:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/create-aro-hcp-in-prod:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/create-aro-hcp-in-stage:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/integration-e2e-parallel:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/prod-e2e-parallel:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stage-e2e-parallel:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Update generated API spec
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
Due: none

Add LoadBalancerProfile and downstream models to PlatformProfile
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
Due: none

bump ARO-tool with support for service validation pipeline steps
  go.work.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/yamlwrap/go.mod
  tooling/yamlwrap/go.sum
Due: none

fix aks reference to acrpull deployment to mgmt cluster
  dev-infrastructure/svc-pipeline.yaml
Due: none

feat: bump maestro server image to sha256:90daeea3b4191e3f02d9900a1e7d9e296329b3ca99ea785907c55c39cde95f04 for dev environments
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

api: Fix visibility validation bug
  internal/api/visibility.go
  internal/api/visibility_test.go
  internal/go.mod
Due: none

Rebase Struct changes to OSDisk profile
  internal/api/enums.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/testhelpers.go
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/v20240610preview/register.go
  internal/api/v20240610preview/register_test.go
Due: none

Add Persistence to OSDisk spec
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Update_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/constants.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
Due: none

Rebase hangovers
  frontend/pkg/frontend/node_pool.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/ocm/convert.go
  internal/ocm/convert_test.go
Due: none

run all tidy
  go.work.sum
Due: none

Add test for osDisk encryption validation
  internal/api/hcpopenshiftclusternodepool_test.go
Due: none

Update Unit tests
  frontend/pkg/frontend/node_pool_test.go
Due: none

correct the casing of the field persistence
  demo/bicep/nodepool.bicep
  demo/node_pool.tmpl.json
  test/e2e-setup/bicep/modules/nodepool.bicep
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

update sdk and frontend with CS changes for OSdisk
  demo/bicep/nodepool.bicep
  demo/node_pool.tmpl.json
  frontend/utils/create.go
  go.work.sum
  test/e2e-setup/bicep/modules/nodepool.bicep
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

update examples with Osdisk changes
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Update_MaximumSet_Gen.json
Due: none

changes to support PascalCase Enum
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  go.work.sum
  internal/api/enums.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/v20240610preview/generated/constants.go
Due: none

config: Bump frontend image for INT
  config/config.msft.clouds-overlay.yaml
Due: none

update backend to latest
  config/config.msft.clouds-overlay.yaml
Due: none

update CS int image to latest
  config/config.msft.clouds-overlay.yaml
Due: none

extend test time for serving_app verifier, add log messages warning of long running times.
  test/util/verifiers/serving_app.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Create aks-Performance.json
  observability/perfscale-dashboards/aks-Performance.json
Due: none

added perfscale-dashboards
  observability/observability.yaml
Due: none

Create etcd-performance.json
  observability/perfscale-dashboards/etcd-performance.json
Due: none

Rename aks-Performance.json to aks-performance.json
  observability/perfscale-dashboards/aks-performance.json
Due: none

Create api-performance.json
  observability/perfscale-dashboards/api-performance.json
Due: none

reintroduce prometheus install steps
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
Due: none

prow job executor for service validation
  config/config.schema.json
  config/config.yaml
  dev-infrastructure/data/encryptedsecrets.yaml
  dev-infrastructure/e2e-pipeline.yaml
  test/.gitignore
  test/Makefile
  test/cmd/prow-job-executor/main.go
  test/cmd/prow-job-executor/options.go
  test/cmd/prow-job-executor/prowtoken.go
  test/execute-prow-job.sh
  test/go.mod
  test/go.sum
  test/pkg/prowjob/client.go
  test/pkg/prowjob/monitor.go
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  topology.yaml
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

use mapflag for annotations, labels and env vars
  test/cmd/prow-job-executor/options.go
  test/cmd/prow-job-executor/prowtoken.go
  test/cmd/prow-job-executor/validation.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

move pipeline file into test folder
  test/e2e-pipeline.yaml
  test/execute-prow-job.sh
  topology.yaml
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

cleanup script
  test/execute-prow-job.sh
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

configure tests for MSFT envs
  config/config.msft.clouds-overlay.yaml
Due: none

update aro-tools
  go.work.sum
  test/e2e-pipeline.yaml
  test/go.mod
  test/go.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/templatize/pkg/pipeline/run.go
  tooling/yamlwrap/go.mod
  tooling/yamlwrap/go.sum
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

disable e2e test in topology until all pieces are in place in sdp-pipelines
  topology.yaml
Due: none

materialize config
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

bump go.opentelemetry.io/otel + trace from 1.37.0 to 1.38.0
  backend/go.mod
  backend/go.sum
  frontend/go.mod
  frontend/go.sum
  go.work.sum
  internal/go.mod
  internal/go.sum
  test/go.mod
  test/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Remove E2E edit
  test/e2e-setup/bicep/modules/nodepool.bicep
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Update E2E tests
  test/e2e-setup/bicep/modules/nodepool.bicep
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Add style and syntax simplification suggestions
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  internal/api/testhelpers.go
  internal/ocm/convert.go
  internal/ocm/convert_test.go
Due: none

Bump maestro image for INT
  config/config.msft.clouds-overlay.yaml
Due: none

enable e2e tests for regional gating
  topology.yaml
Due: none

Path conditions:
  create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-prod: any of: ^(demo)
  ci/prow/create-aro-hcp-in-stage: any of: ^(demo)
  ci/prow/integration-e2e-parallel: any of: ^(test|demo)
  ci/prow/prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/stage-e2e-parallel: any of: ^(test|demo)
