Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Path conditions:
  create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-prod: any of: ^(demo)
  ci/prow/create-aro-hcp-in-stage: any of: ^(demo)
  ci/prow/integration-e2e-parallel: any of: ^(test|demo)
  ci/prow/prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/stage-e2e-parallel: any of: ^(test|demo)

Create ClusterRoleBinding
  go.work.sum
  test/util/framework/hcp_helper.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Create ClusterRoleBinding
  test/e2e/external_auth_create.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

kiota: generate apiApp models to allow setting requestedAccessTokenVersion
  internal/graph/graphsdk/kiota-lock.json
  internal/graph/graphsdk/models/api_application.go
  internal/graph/graphsdk/models/application.go
  internal/graph/util/applications.go
  internal/graph/util/serviceprincipal.go
  tooling/kiota/openapi.yaml
Due: none

e2e: fixups and helpers for external auth
  test/util/framework/hcp_helper.go
  test/util/framework/resourcegroup_helper.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: use enum types for PrefixPolicy
  test/e2e/external_auth_create.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: external auth set prefix policy until ARO-21008 is fixed
  test/e2e/external_auth_create.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: external auth now logs in to kas with entra token
  test/e2e/external_auth_create.go
  test/util/framework/hcp_helper.go
  test/util/framework/per_test_framework.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Bring back the clients
  test/e2e/external_auth_create.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: wait for kas restart to propagate for 5 minutes after external auth config
  test/e2e/external_auth_create.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

typo: Fix namespace for clusters-service port-forward command
  docs/personal-dev.md
Due: none

bump CS image in integrated dev
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

bump clusters-service image to latest in the INT env
  config/config.msft.clouds-overlay.yaml
Due: none

frontend|backend: bump images
  config/config.msft.clouds-overlay.yaml
Due: none

set decrease to 20m
  hypershiftoperator/deploy/templates/cluster.clustersizingconfiguration.yaml
Due: none

api: Add missing validationRules conversion logic
  internal/api/v20240610preview/external_auth_methods.go
Due: none

e2e: configure external auth clients for console and cli
  test/e2e/external_auth_create.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

fixing failures in test cases - make response error message lowercase - include cluster existing identity to patch request
  test/e2e/cluster_update.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

update hypershift-operator image to latest available in dev envs
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

prepare hypershift-operator image to latest available for rollout in int
  config/config.msft.clouds-overlay.yaml
Due: none

Added support for kube-API IP Access Control
  demo/README.md
  demo/cluster.tmpl.json
  frontend/pkg/frontend/ocm.go
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Add new monitoring stack
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/logs/collection.bicep
Due: none

Fix context
  test/e2e/cluster_tls_endpoints.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

metrics: remove CPU throttling from MSFT alerts
  dev-infrastructure/modules/metrics/rules/msftPrometheusAlertingRules.bicep
Due: none

frontend: Rework passing GroupsClaim to CS, again
  frontend/pkg/frontend/external_auth_test.go
  frontend/pkg/frontend/ocm.go
  frontend/pkg/frontend/ocm_test.go
Due: none

ARO-15672 update CIDRBlockAllowAccess conversions
  frontend/pkg/frontend/ocm.go
Due: none

Add dashboard validation/warnings
  image-sync/grafana-dashboards/image-sync.json
  istio/grafana-dashboards/service_slo_demo.json
  observability/grafana/grafana.py
  observability/observability.yaml
Due: none

restrict length
  observability/grafana/grafana.py
Due: none

Warning is only one, remove array
  observability/grafana/grafana.py
Due: none

Add uid to prometheus dashboard
  observability/infra-dashboards/prometheus.json
Due: none

frontend|backend: bump images for stage
  config/config.msft.clouds-overlay.yaml
Due: none

frontend|backend: bump images in prod
  config/config.msft.clouds-overlay.yaml
Due: none

update cs image to latest available for rollout to dev envs
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

prepare cs image to latest available for rollout in int
  config/config.msft.clouds-overlay.yaml
Due: none

honor the LOCATION env var for e2e tests
  test/cmd/aro-hcp-tests/main.go
  test/e2e/complete_cluster_create.go
  test/e2e/external_auth_create.go
  test/e2e/gpu_nodepools_create_delete.go
  test/e2e/image_registry_cluster_create.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Add port to console URL
  test/e2e/cluster_tls_endpoints.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

ARO-15672 explicitly set allow_all
  frontend/pkg/frontend/ocm.go
Due: none

ARO-20061 add connectSocket property to frontend audit
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

ARO-20061 update unit test cases
  frontend/pkg/frontend/testhelpers.go
  internal/audit/otel-audit_test.go
Due: none

ARO-20061 add frontend.deployment.yaml to ignore lint
  .yamllint.yml
Due: none

ARO-20061 use domain socket when connectSocket enabled
  frontend/Makefile
  frontend/cmd/cmd.go
  frontend/deploy/templates/frontend.deployment.yaml
  frontend/pipeline.yaml
  internal/audit/otel-audit.go
Due: none
