Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

observability-prometheus:
  steps:
    test:
    - ref: aro-hcp-observability-prometheus

observability-grafana:
  steps:
    test:
    - ref: aro-hcp-observability-grafana

e2e-parallel:
  always_run: true
  steps:
    cluster_profile: aro-hcp-dev
    env:
      LOCATION: westus3
    workflow: aro-hcp-local-e2e

ci/prow/e2e-parallel:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aro-hcp-dev
    ci-operator.openshift.io/cloud-cluster-profile: aro-hcp-dev
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

feat: add Prow CI health alerts
  tooling/tenant-quota/alerting.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

Automated - Update component image digests
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): add KubePodNotReady known issue for Velero DataUpload pods
  test/cmd/aro-hcp-tests/gather-observability/known-issues/knownIssues.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

test: increase dev e2e identity containers per slot
  test/e2e-config/e2e-slots.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

test: log full ARM response when delayed role assignment test hits Failed state
  test/e2e/cluster_delayed_role_assignments.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ci): support periodic promoted image provisioning
  hack/ci/provision-from-main.sh
  hack/ci/resolve-acr-images.sh
Due: e2e-parallel, ci/prow/e2e-parallel

fix: remove unused fmt import and handle json.MarshalIndent errors
  test/e2e/cluster_delayed_role_assignments.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: report hcpctl token usage
  docs/snapshot-analysis.md
  tooling/hcpctl/cmd/snapshot/analyze_cmd.go
  tooling/hcpctl/cmd/snapshot/analyze_cmd_test.go
  tooling/hcpctl/pkg/agent/agent.go
  tooling/hcpctl/pkg/agent/analyze.go
  tooling/hcpctl/pkg/agent/claude_provider.go
  tooling/hcpctl/pkg/agent/provider.go
  tooling/hcpctl/pkg/agent/provider_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: capture live Copilot usage events
  docs/snapshot-analysis.md
  tooling/hcpctl/pkg/agent/agent.go
  tooling/hcpctl/pkg/agent/provider_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: correct import ordering in analyze_cmd_test.go
  tooling/hcpctl/cmd/snapshot/analyze_cmd_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: align delayed role assignment test deadline with its creation timeout
  test/e2e/cluster_delayed_role_assignments.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: adapt usage tests to current session interface
  tooling/hcpctl/cmd/snapshot/analyze_cmd_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

e2e: confirm prod clusters can issue certificates from letsencrypt for delegated subdomain
  test/e2e/cluster_ingress_cert_letsencrypt.go
  test/e2e/cluster_tls_endpoints.go
  test/e2e/letsencrypt-stg-cas/letsencrypt-stg-root-x1.crt
  test/e2e/letsencrypt-stg-cas/letsencrypt-stg-root-x2.crt
  test/e2e/letsencrypt-stg-cas/letsencrypt-stg-root-ye.crt
  test/e2e/letsencrypt-stg-cas/letsencrypt-stg-root-yr.crt
  test/go.mod
  test/go.sum
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
Due: e2e-parallel, ci/prow/e2e-parallel

feat: update ocm sdk go v0.1.509
  admin/server/go.mod
  admin/server/go.sum
  backend/go.mod
  backend/go.sum
  fleet/go.mod
  fleet/go.sum
  frontend/go.mod
  frontend/go.sum
  internal/go.mod
  internal/go.sum
  kube-applier/go.mod
  kube-applier/go.sum
  test-integration/go.mod
  test-integration/go.sum
  test/go.mod
  test/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

chore: remove cs provisionshard id property constant
  internal/ocm/client.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: remove expired v20251223preview timebomb from ephemeral OS disk e2e
  test/e2e/nodepool_ephemeral_osdisk.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(observability): restore UJ KAS availability alert files
  dev-infrastructure/modules/metrics/rp-hcp-rules.bicep
  observability/alerts-rp-hcps.yaml
  observability/alerts/HCPkasRecord-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM_test.yaml
  observability/alerts/UJKubeApiserverAvailabilityRecord-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityRecord-prometheusRule-KSM_test.yaml
  observability/recording-rules-hcps.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

refactor(observability): rename UJ to UserJourney in KAS availability alert files
  observability/alerts/UserJourneyKubeApiserverAvailabilityMonitor-prometheusRule-KSM.yaml
  observability/alerts/UserJourneyKubeApiserverAvailabilityMonitor-prometheusRule-KSM_test.yaml
  observability/alerts/UserJourneyKubeApiserverAvailabilityRecord-prometheusRule-KSM.yaml
  observability/alerts/UserJourneyKubeApiserverAvailabilityRecord-prometheusRule-KSM_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

test: add infrastructure metric alert coverage to gather-observability
  test/cmd/aro-hcp-tests/gather-observability/alerts.go
  test/cmd/aro-hcp-tests/gather-observability/options.go
  test/cmd/aro-hcp-tests/gather-observability/rules.go
  test/cmd/aro-hcp-tests/gather-observability/workspace.go
  test/cmd/aro-hcp-tests/gather-observability/workspace_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: align RP lane alert naming with ADR-001 (ARO-28534)
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/access-cluster-slo-prometheusRule.yaml
  observability/alerts/access-cluster-slo-prometheusRule_test.yaml
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

test: align duplicate-series fixture with alert rename
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

test: align rebased access-cluster alert fixture
  observability/alerts/access-cluster-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

frontend: return unmarshal errors as 4xx to users
  frontend/pkg/frontend/cluster.go
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/node_pool.go
Due: e2e-parallel, ci/prow/e2e-parallel

describe a controller we can use to rollout a version upgrade across the fleet
  docs/controllers/fleet-control-plane-version-rollout.md
Due: none

alerts: separate prometheusrule alert generation from promtest tooling run
  observability/Makefile
  tooling/prometheus-rules/Makefile
  tooling/prometheus-rules/README.md
  tooling/prometheus-rules/go.mod
  tooling/prometheus-rules/go.sum
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/main.go
  tooling/prometheus-rules/main_test.go
  tooling/prometheus-rules/pkg/prometheusrules/prometheusrules.go
  tooling/prometheus-rules/pkg/prometheusrules/prometheusrules_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: update prometheus-rules README to match refactored Makefile targets
  tooling/prometheus-rules/README.md
Due: none

fix: add test-alerts alias to match CI job target name
  observability/Makefile
  tooling/prometheus-rules/pkg/prometheusrules/prometheusrules.go
  tooling/prometheus-rules/pkg/prometheusrules/prometheusrules_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: add SOP for manually triggering an E2E gate run
  docs/README.md
  docs/ci/README.md
  docs/ci/e2e-testing.md
  docs/ci/ev2-integration.md
  docs/sops/manual-e2e-gate-run.md
Due: none

docs: address review feedback on manual E2E gate SOP
  docs/ci/e2e-testing.md
  docs/sops/manual-e2e-gate-run.md
Due: none

feat(hcpctl): add taxonomy classification types to analysis schema
  tooling/hcpctl/pkg/agent/hydration.go
  tooling/hcpctl/pkg/agent/schema.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(hcpctl): add taxonomy classification validation to analysis pipeline
  tooling/hcpctl/pkg/agent/validation.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(hcpctl): add taxonomy classification to analysis exemplars
  tooling/hcpctl/pkg/agent/prompts/exemplars/cluster-creation-timeout-z-stream-upgrade.md
  tooling/hcpctl/pkg/agent/prompts/exemplars/cluster-installation-azure-disk-failure.md
  tooling/hcpctl/pkg/agent/prompts/exemplars/cluster-installation-ignition-failure.md
  tooling/hcpctl/pkg/agent/prompts/exemplars/clusters-service-worker-race-condition.md
Due: none

feat(hcpctl): render taxonomy classification in analysis markdown
  tooling/hcpctl/pkg/agent/render.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(hcpctl): add taxonomy classification instructions to analysis prompt
  tooling/hcpctl/pkg/agent/prompts/system.md
Due: none

fix: point stg uksouth Kusto back at hcp-stg-uk-2
  config/config.msft.clouds-overlay.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

test: add comment explaining why 45-minute creation timeout is needed
  test/e2e/cluster_delayed_role_assignments.go
Due: e2e-parallel, ci/prow/e2e-parallel

Reapply "Merge pull request #5751 from patilsuraj767/supatil/ARO-25131-cp-operators-permissions"
  backend/cmd/root.go
  backend/go.mod
  backend/go.sum
  backend/pkg/app/backend.go
  backend/pkg/app/backend_test.go
  backend/pkg/azure/azurehelpers/role_definitions.go
  backend/pkg/azure/azurehelpers/role_definitions_test.go
  backend/pkg/azure/cachedreader/mock_role_definitions_cached_reader.go
  backend/pkg/azure/cachedreader/role_definitions.go
  backend/pkg/azure/client/check_access_v2_client.go
  backend/pkg/azure/client/check_access_v2_client_builder.go
  backend/pkg/azure/client/mi_dataplane_based_identity_access_token_retriever.go
  backend/pkg/azure/client/mock_check_access_v2_client.go
  backend/pkg/azure/client/mock_check_access_v2_client_builder.go
  backend/pkg/azure/client/mock_mi_dataplane_based_identity_access_token_retriever.go
  backend/pkg/azure/client/mock_smi_client_builder.go
  backend/pkg/azure/client/mock_subnets_client.go
  backend/pkg/azure/client/smi_client_builder.go
  backend/pkg/azure/client/subnets_client.go
  backend/pkg/utils/validationutils/control_plane_identities_permissions_cluster_validation.go
  backend/pkg/utils/validationutils/control_plane_identities_permissions_cluster_validation_test.go
  backend/pkg/utils/validationutils/identity_authorization_result.go
  test-integration/backend/launch/metrics_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add E2E test which shows adding deny rule blocks kas traffic
  test/e2e/nodepool_nsg_deny_subnet.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add 8443 instead of *
  test/e2e/nodepool_nsg_deny_subnet.go
Due: e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
