Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

observability-prometheus:
  steps:
    test:
    - ref: aro-hcp-observability-prometheus

observability-grafana:
  steps:
    test:
    - ref: aro-hcp-observability-grafana

e2e-parallel:
  always_run: true
  steps:
    cluster_profile: aro-hcp-dev
    env:
      LOCATION: westus3
    workflow: aro-hcp-local-e2e

ci/prow/e2e-parallel:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aro-hcp-dev
    ci-operator.openshift.io/cloud-cluster-profile: aro-hcp-dev
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

feat(validation): reject PlatformManaged etcd encryption
  frontend/pkg/frontend/frontend_test.go
  internal/api/enums.go
  internal/api/testhelpers.go
  internal/api/types_cluster.go
  internal/ocm/convert_test.go
  internal/validation/hcpopenshiftcluster_test.go
  internal/validation/validate_cluster_comprehensive_test.go
  test-integration/frontend/artifacts/VersionCompliance/Cluster/basic-cluster/expected/get/2024-06-10-preview.json
  test-integration/frontend/artifacts/VersionCompliance/Cluster/basic-cluster/expected/get/2025-12-23-preview.json
  test-integration/frontend/artifacts/VersionCompliance/Cluster/basic-cluster/expected/get/2026-06-30-preview.json
  test-integration/frontend/artifacts/VersionCompliance/Cluster/basic-cluster/expected/list/2024-06-10-preview.json
  test-integration/frontend/artifacts/VersionCompliance/Cluster/basic-cluster/expected/list/2025-12-23-preview.json
  test-integration/frontend/artifacts/VersionCompliance/Cluster/basic-cluster/expected/list/2026-06-30-preview.json
  test-integration/frontend/artifacts/VersionCompliance/Cluster/basic-cluster/request.json
  test-integration/frontend/artifacts/VersionCompliance/NodePool/basic-nodepool/cluster.json
  test-integration/frontend/cross_version_roundtrip_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

move cosmos data flow doc to docs/ and regenerate
  CLAUDE.md
  docs/cosmos-data-flow.md
Due: none

convenience gitignore
  .gitignore
Due: e2e-parallel, ci/prow/e2e-parallel

feat(observability): add KAS error rate and latency burn-rate alerts
  observability/alerts-rp-hcps.yaml
  observability/alerts/UserJourneyKubeApiserverErrorsMonitor-prometheusRule.yaml
  observability/alerts/UserJourneyKubeApiserverErrorsMonitor-prometheusRule_test.yaml
  observability/alerts/UserJourneyKubeApiserverLatencyMonitor-prometheusRule.yaml
  observability/alerts/UserJourneyKubeApiserverLatencyMonitor-prometheusRule_test.yaml
  observability/grafana-dashboards/kas-monitor/kas_golden_signals.json
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

chore(observability): regenerate bicep output
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(test-integration): replace simulateClusterServiceCreate with setClusterServiceID
  test-integration/claude.md
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/experimental-features-no-afec/03-loadCosmos-serviceProviderCluster/serviceProviderCluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/experimental-features-no-afec/04-clusterServiceCompare-tags-ignored/expected-content.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/experimental-features-no-afec/04-setClusterServiceID-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/experimental-features/03-loadCosmos-serviceProviderCluster/serviceProviderCluster.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/experimental-features/03-simulateClusterServiceCreate-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/experimental-features/04-clusterServiceCompare-create-propagated-flag/expected-content.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/experimental-features/04-httpReplace-subscription-keep-afec/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/experimental-features/04-httpReplace-subscription-keep-afec/subscription.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/experimental-features/05-httpReplace-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/experimental-features/05-httpReplace-cluster/feature-flag-test.json
  test-integration/frontend/artifacts/FrontendCRUD/Cluster/experimental-features/07-clusterServiceCompare-update-cleared-flag/expected-content.json
  test-integration/frontend/cross_version_roundtrip_test.go
  test-integration/frontend/version_compliance_test.go
  test-integration/utils/databasemutationhelpers/resource_crud_test_util.go
  test-integration/utils/databasemutationhelpers/step_cluster_service_compare.go
  test-integration/utils/databasemutationhelpers/step_httpcreate.go
  test-integration/utils/databasemutationhelpers/step_set_cluster_service_id.go
  test-integration/utils/databasemutationhelpers/step_simulate_cluster_service_create.go
  test-integration/utils/integrationutils/cluster_service_mock.go
  test-integration/utils/integrationutils/set_cluster_service_id.go
  test-integration/utils/integrationutils/simulate_cluster_service_create.go
Due: e2e-parallel, ci/prow/e2e-parallel

feature:adding absent alert for credential refresher
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  observability/alerts-msft-services.yaml
  observability/alerts/msi-credential-refresher-prometheusRule.yaml
  observability/alerts/msi-credential-refresher-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat(tooling): add metricscache shared module
  tooling/metricscache/cache.go
  tooling/metricscache/cache_test.go
  tooling/metricscache/go.mod
  tooling/metricscache/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

feat(tooling): add azutils shared module with subscription resolver
  tooling/azutils/go.mod
  tooling/azutils/go.sum
  tooling/azutils/subscriptions/resolver.go
  tooling/azutils/subscriptions/resolver_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: migrate aro-hcp-exporter and tenant-quota to shared modules
  go.work
  tooling/aro-hcp-exporter/Dockerfile
  tooling/aro-hcp-exporter/go.mod
  tooling/aro-hcp-exporter/internal/metrics/collector.go
  tooling/aro-hcp-exporter/internal/metrics/kusto_logs_current.go
  tooling/aro-hcp-exporter/internal/metrics/service_tag_usage.go
  tooling/aro-hcp-exporter/pkg/cache/cache.go
  tooling/aro-hcp-exporter/pkg/cache/cache_test.go
  tooling/azutils/go.mod
  tooling/azutils/go.sum
  tooling/azutils/subscriptions/resolver.go
  tooling/metricscache/cache_test.go
  tooling/metricscache/go.mod
  tooling/metricscache/go.sum
  tooling/tenant-quota/Dockerfile
  tooling/tenant-quota/go.mod
  tooling/tenant-quota/main.go
  tooling/tenant-quota/pkg/subscriptionquota/cache.go
  tooling/tenant-quota/pkg/subscriptionquota/cache_test.go
  tooling/tenant-quota/pkg/subscriptionquota/collector.go
  tooling/tenant-quota/pkg/subscriptionquota/resolver.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add additional test area for CPO override for router ordering
  test/e2e/cluster_create_cpo_override_20240610.go
  test/e2e/cluster_create_cpo_override_20251223.go
  test/e2e/cluster_create_private_kv.go
  test/e2e/setup.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
Due: e2e-parallel, ci/prow/e2e-parallel

fix: scope DumpDataToLogger operations query to target resource
  internal/database/crud_hcpcluster.go
  internal/databasetesting/mock_resources_crud.go
  internal/serverutils/dump_data.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: use ok-assertion for OperationCRUD type assertion in integration step
  test-integration/utils/databasemutationhelpers/step_list_by_external_id.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: add ListByExternalID test for mock OperationCRUD
  internal/databasetesting/mock_dbclient_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: sort JSON keys in integration test artifacts
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/create-current/06-listByExternalID-cluster-nested/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/create-current/06-listByExternalID-cluster-nested/operation-cluster-create-with-tags-create.json
Due: e2e-parallel, ci/prow/e2e-parallel

fix: scope ListByExternalID mock to subscription partition key
  internal/databasetesting/mock_resources_crud.go
Due: e2e-parallel, ci/prow/e2e-parallel

Potential fix for pull request finding
  test-integration/utils/databasemutationhelpers/step_list_by_external_id.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: add integration test for ListByExternalID
  test-integration/claude.md
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/create-current/06-listByExternalID-cluster-nested/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/create-current/06-listByExternalID-cluster-nested/operation-cluster-create-with-tags-create.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/create-current/06-listByExternalID-cluster-nested/operation-nodepool-create-basic-nodepool.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/create-current/06-listByExternalID-cluster-nested/operation-nodepool-create-nodepool-02.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/create-current/07-cosmosCompare-confirm-content/cluster-create-with-tags.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/create-current/07-cosmosCompare-confirm-content/nodepool-basic-node-pool.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/create-current/07-cosmosCompare-confirm-content/nodepool-node-pool-02.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/create-current/07-cosmosCompare-confirm-content/operation-cluster-create-with-tags-create.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/create-current/07-cosmosCompare-confirm-content/subscription.json
  test-integration/utils/databasemutationhelpers/resource_crud_test_util.go
  test-integration/utils/databasemutationhelpers/step_list_by_external_id.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: correct error message filename to 00-key.json
  test-integration/utils/databasemutationhelpers/step_list_by_external_id.go
Due: e2e-parallel, ci/prow/e2e-parallel

implement CreateOperationCompletionDeadline for cluster and nodepool creation timeout
  backend/pkg/controllers/operationcontrollers/operation_cluster_create.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_create_test.go
  backend/pkg/controllers/operationcontrollers/operation_node_pool_create.go
  backend/pkg/controllers/operationcontrollers/operation_node_pool_create_test.go
  frontend/pkg/frontend/cluster.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/node_pool.go
  internal/admission/admit_cluster.go
  internal/admission/admit_cluster_test.go
  internal/admission/admit_nodepool.go
  internal/admission/admit_nodepool_test.go
  internal/api/featureflags.go
  internal/api/types_cluster.go
  internal/api/types_nodepool.go
  internal/api/zz_generated.deepcopy.go
  test-integration/utils/databasemutationhelpers/per_resource_comparer.go
  test/util/framework/deployment_params.go
  test/util/framework/hcp_helper.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: adds ACR purge jobs for dev service images and enable SVC ACR retention
  config/config.yaml
  dev-infrastructure/configurations/acr-svc.tmpl.bicepparam
  dev-infrastructure/templates/dev-acr.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

test: renders fixtures
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: lint
  dev-infrastructure/templates/dev-acr.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

hcpctl snapshot analyze: teach the agents about alerts
  tooling/hcpctl/cmd/snapshot/from_prow_job_cmd.go
  tooling/hcpctl/cmd/snapshot/from_resource_cmd.go
  tooling/hcpctl/pkg/agent/prompts/system.md
  tooling/hcpctl/pkg/snapshot/gather_enriched.go
  tooling/hcpctl/pkg/snapshot/gatherer.go
  tooling/hcpctl/pkg/snapshot/prow.go
  tooling/hcpctl/pkg/snapshot/queries.go
  tooling/hcpctl/pkg/snapshot/queries/alerts/acm/README.md
  tooling/hcpctl/pkg/snapshot/queries/alerts/acm/query.kql
  tooling/hcpctl/pkg/snapshot/queries/alerts/cluster/README.md
  tooling/hcpctl/pkg/snapshot/queries/alerts/cluster/query.kql
  tooling/hcpctl/pkg/snapshot/queries/alerts/service/README.md
  tooling/hcpctl/pkg/snapshot/queries/alerts/service/query.kql
  tooling/hcpctl/pkg/snapshot/queries/alerts/uncategorized/README.md
  tooling/hcpctl/pkg/snapshot/queries/alerts/uncategorized/query.kql
  tooling/hcpctl/pkg/snapshot/queries/partials/alertEvents.kql
Due: e2e-parallel, ci/prow/e2e-parallel

observability: keep track of the diff from upstream
  observability/Makefile
  observability/alerts/kubernetesControlPlane-prometheusRule.yaml.diff
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

simplifies bicep syntax in the multi-filter purge job definition
  dev-infrastructure/templates/dev-acr.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

observability: increase KubeNodeNotReady alert threshold to 30m
  dev-infrastructure/modules/metrics/rules/generatedKustoOnlyHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedKustoOnlyServicePrometheusAlertingRules.bicep
  observability/.gitignore
  observability/Makefile
  observability/alerts/kubernetesControlPlane-prometheusRule.yaml
  observability/alerts/kubernetesControlPlane-prometheusRule.yaml.diff
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: use hostedcontrolplane label for HCP identity in KSM metrics
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arohcp_monitor.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arohcp_monitor.yaml
  mgmt-agent/pkg/controller/ksmhcp/resources.go
  mgmt-agent/pkg/controller/ksmhcp/testdata/zz_fixture_TestBuildServiceMonitor.yaml
  observability/prometheus/deploy/templates/prometheus.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources_unset.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: add memory drift and trend alerts for kube-applier
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts-sl-services.yaml
  observability/alerts/kubeApplierResources-prometheusRule.yaml
  observability/alerts/kubeApplierResources-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fixup! feat: add memory drift and trend alerts for kube-applier
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  docs/alerts/kube-applier-resources.md
  observability/alerts/kubeApplierResources-prometheusRule.yaml
  observability/alerts/kubeApplierResources-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat(pipeline): annotate mgmt resource groups as stamped
  acm/pipeline.yaml
  dev-infrastructure/mgmt-pipeline.yaml
  fleet/registration/pipeline.yaml
  hypershiftoperator/pipeline.yaml
  kube-applier/pipeline.yaml
  maestro/agent/pipeline.yaml
  mgmt-agent/go.mod
  mgmt-agent/go.sum
  mgmt-agent/pipeline.yaml
  observability/tracing/pipeline.yaml
  secret-sync-controller/pipeline.yaml
  test/go.mod
  test/go.sum
  tooling/grafanactl/go.mod
  tooling/grafanactl/go.sum
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
  tooling/helmtest/go.mod
  tooling/helmtest/go.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/templatize/pkg/pipeline/run_test.go
  tooling/yamlwrap/go.mod
  tooling/yamlwrap/go.sum
  velero/pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Automated - Update component image digests
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

observability: Add cluster deletion alerting rules (ARO-26216)
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts-rp-services.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat(pipeline): annotate mgmt resource groups as stamped
  acm/pipeline.yaml
  dev-infrastructure/cleanup/delete.mgmt.pipeline.yaml
  dev-infrastructure/mgmt-kubeconfig.yaml
  dev-infrastructure/mgmt-pipeline.yaml
  docs/pipeline-concept.md
  fleet/registration/pipeline.yaml
  hypershiftoperator/pipeline.yaml
  kube-applier/pipeline.yaml
  maestro/agent/pipeline.yaml
  mgmt-agent/go.mod
  mgmt-agent/go.sum
  mgmt-agent/pipeline.yaml
  observability/tracing/pipeline.yaml
  secret-sync-controller/pipeline.yaml
  test/go.mod
  test/go.sum
  tooling/grafanactl/go.mod
  tooling/grafanactl/go.sum
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
  tooling/helmtest/go.mod
  tooling/helmtest/go.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/templatize/pkg/pipeline/run_test.go
  tooling/yamlwrap/go.mod
  tooling/yamlwrap/go.sum
  velero/pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat(templatize): enforce simple field access in bicepparam templates
  Makefile
  tooling/templatize/cmd/entrypoint/run/options.go
  tooling/templatize/cmd/pipeline/run/options.go
  tooling/templatize/cmd/pipeline/validate/bicepparam.go
  tooling/templatize/cmd/pipeline/validate/bicepparam_test.go
  tooling/templatize/cmd/pipeline/validate/cmd.go
  tooling/templatize/cmd/pipeline/validate/testdata/svc-a/network.tmpl.bicepparam
  tooling/templatize/cmd/pipeline/validate/testdata/svc-a/pipeline.yaml
  tooling/templatize/cmd/pipeline/validate/testdata/svc-b/cluster.tmpl.bicepparam
  tooling/templatize/cmd/pipeline/validate/testdata/svc-b/pipeline.yaml
  tooling/templatize/cmd/pipeline/validate/testdata/svc-c/pipeline.yaml
  tooling/templatize/cmd/pipeline/validate/testdata/svc-invalid/invalid.tmpl.bicepparam
  tooling/templatize/cmd/pipeline/validate/testdata/svc-invalid/pipeline.yaml
  tooling/templatize/cmd/pipeline/validate/testdata/topology-invalid.yaml
  tooling/templatize/cmd/pipeline/validate/testdata/topology.yaml
  tooling/templatize/pkg/pipeline/arm.go
  tooling/templatize/pkg/pipeline/arm_stack.go
  tooling/templatize/pkg/pipeline/bicep.go
  tooling/templatize/pkg/pipeline/run.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(opstool): pass required aks upgradeSettings maxSurge/maxUnavailable (AROSLSRE-1494)
  config/config-dev-ci.yaml
  dev-infrastructure/configurations/opstool-cluster.tmpl.bicepparam
  dev-infrastructure/templates/opstool-cluster.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix(opstool): quote maxUnavailable as string to match schema and svc/mgmt
  config/config-dev-ci.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

test: address mbukatov review feedback
  test/e2e/cluster_create_private_ingress.go
Due: e2e-parallel, ci/prow/e2e-parallel

test(e2e): verbose ingress strict-TLS wait + on-failure cert diagnostics (AROSLSRE-1495)
  test/util/verifiers/serving_app.go
Due: e2e-parallel, ci/prow/e2e-parallel

test(e2e): bind strict-TLS GET to ctx and harden event timestamps (AROSLSRE-1495)
  test/util/verifiers/serving_app.go
Due: e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
