Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: create-aro-hcp-in-integration, create-aro-hcp-in-stage, create-aro-hcp-in-prod, integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Path conditions:
  create-aro-hcp-in-integration: any of: ^(demo)
  create-aro-hcp-in-stage: any of: ^(demo)
  create-aro-hcp-in-prod: any of: ^(demo)
  integration-e2e-parallel: any of: ^(test|demo)
  stage-e2e-parallel: any of: ^(test|demo)
  prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-prod: any of: ^(demo)
  ci/prow/create-aro-hcp-in-stage: any of: ^(demo)
  ci/prow/integration-e2e-parallel: any of: ^(test|demo)
  ci/prow/prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/stage-e2e-parallel: any of: ^(test|demo)

ARO-22498 add unit test cases - 2
  internal/api/v20240610preview/nodepools_methods_test.go
  internal/api/v20251223preview/nodepools_methods_test.go
  internal/validation/validate_nodepools_comprehensive_test.go
Due: none

ARO-22498 update create util
  frontend/utils/create.go
Due: none

ARO-22498 change sizeGiB to ptr
  internal/api/types_nodepool.go
  internal/validation/validate_nodepools.go
  internal/validation/validate_nodepools_comprehensive_test.go
Due: none

ARO-22498 update sizeGiB to 64
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/openapi.json
  frontend/utils/create.go
  internal/validation/validate_nodepools.go
  internal/validation/validate_nodepools_comprehensive_test.go
Due: none

ARO-22498 update conversions
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/v20251223preview/nodepools_methods.go
  internal/ocm/convert.go
Due: none

ARO-22498 add min to typespec
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/openapi.json
Due: none

ARO-22498 update api examples
  api/redhatopenshift/HcpCluster.Management/examples/2025-12-23-preview/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2025-12-23-preview/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2025-12-23-preview/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2025-12-23-preview/NodePools_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/examples/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/examples/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/examples/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/examples/NodePools_Update_MaximumSet_Gen.json
Due: none

ARO-22498 update osDisk.sizeGiB mutation e2e value
  frontend/test/simulate/artifacts/NodePoolMutation/immutability/update.json
Due: none

Added support for kube-API IP Access Control
  demo/README.md
  demo/cluster.tmpl.json
  internal/ocm/convert.go
Due: create-aro-hcp-in-integration, create-aro-hcp-in-stage, create-aro-hcp-in-prod, integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

fix e2e and unit tests
  internal/ocm/convert_test.go
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/e2e/cluster_create_authorized_cidrs.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

add max cidr block validation unit test case
  internal/validation/validate_cluster_comprehensive_test.go
Due: none

make cidrblockaccess update mutable
  internal/ocm/convert.go
Due: none

Remove basic cluster creation e2es with atuhorized cidrs
  nonlocal-e2e-specs.txt
  test/e2e/cluster_create_authorized_cidrs.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Address comments from patriksuba
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/e2e/cluster_create_authorized_cidrs.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

fix unit test case for simpleDefault
  internal/ocm/convert_test.go
Due: none

refactor and add unit tests for nodePool Convert
  internal/ocm/convert.go
  internal/ocm/convert_test.go
Due: none

Minor fixes for e2e
  internal/ocm/convert.go
  test/e2e/cluster_authorized_cidrs_connectivity.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

authorized cidrs lint fix
  nonlocal-e2e-specs.txt
  test/e2e/cluster_authorized_cidrs_connectivity.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

refactor convert unit test
  internal/ocm/convert_test.go
Due: none

update nonlocal-e2e-specs
  nonlocal-e2e-specs.txt
  test/e2e/cluster_authorized_cidrs_connectivity.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Address comments from stevekuznetsov
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/util/framework/hcp_helper.go
  test/util/framework/per_test_framework.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Add e2e testing for AuthorizedCIDRs field
  test/e2e-setup/bicep/modules/cluster.bicep
  test/e2e-setup/bicep/modules/test-vm.bicep
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/e2e/cluster_create_authorized_cidrs.go
  test/go.mod
  test/go.sum
  test/util/framework/deployment_params.go
  test/util/framework/hcp_helper.go
  test/util/framework/per_test_framework.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

update unit tests to handle autoscaler
  internal/ocm/convert_test.go
Due: none

Address comments from mbukatov
  test/e2e-setup/bicep/modules/cluster.bicep
  test/e2e-setup/bicep/modules/test-vm.bicep
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/util/framework/hcp_helper.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

make all-tidy
  test/go.mod
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

chore: promote new frontend image to stage
  config/config.msft.clouds-overlay.yaml
Due: none

clean: output summary table when verbosity is 0
  tooling/image-updater/README.md
  tooling/image-updater/cmd/update.go
  tooling/image-updater/internal/clients/acr.go
  tooling/image-updater/internal/clients/generic.go
  tooling/image-updater/internal/clients/quay.go
  tooling/image-updater/internal/output/output.go
  tooling/image-updater/internal/output/output_test.go
  tooling/image-updater/internal/updater/updater.go
  tooling/image-updater/internal/updater/updater_test.go
  tooling/image-updater/main.go
Due: none

feat(demo): add role assignments for managed identities in cluster creation
  demo/03-create-cluster.sh
Due: create-aro-hcp-in-integration, create-aro-hcp-in-stage, create-aro-hcp-in-prod, integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

refactor cluster version test
  nonlocal-e2e-specs.txt
  test/e2e/cluster_versions.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

ARO-21891: Add support for non-stable OpenShift channel groups
  frontend/pkg/frontend/cluster.go
  frontend/pkg/frontend/frontend.go
  frontend/test/simulate/artifacts/ClusterMutation/change-channel/expected-errors.txt
  frontend/test/simulate/artifacts/ClusterMutation/some-immutable-field-checks/expected-errors.txt
  internal/admission/admit_cluster.go
  internal/admission/admit_cluster_test.go
  internal/api/arm/subscription.go
  internal/api/featureflags.go
  internal/ocm/client.go
  internal/ocm/convert.go
  internal/ocm/convert_test.go
  internal/validation/hcpopenshiftcluster_test.go
  internal/validation/validate_cluster.go
  internal/validation/validate_cluster_comprehensive_test.go
Due: none

chore: bump images with image-updater
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
Due: none

chore: render digests
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/prow/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

chore: render ACM helm charts
  acm/deploy/helm/multicluster-engine-crds/Chart.yaml
  acm/deploy/helm/multicluster-engine/Chart.yaml
  acm/deploy/helm/multicluster-engine/templates/multicluster-engine-operator.deployment.yaml
Due: none

Simplifiy, now that our transition to storing with new DB types
  internal/api/types_cluster.go
  internal/api/types_cosmosdata.go
  internal/api/types_externalauth.go
  internal/api/types_nodepool.go
  internal/database/convert_any.go
  internal/database/convert_cluster_test.go
  internal/database/crud_helpers.go
  internal/database/document.go
  internal/database/types_externalauth.go
  internal/database/types_externalauth_test.go
  internal/database/types_hcpcluster.go
  internal/database/types_hcpcluster_test.go
  internal/database/types_nodepool.go
  internal/database/types_nodepool_test.go
  internal/database/types_resource.go
  internal/database/types_typeddocument_test.go
Due: none

add controller type to report status
  internal/api/registry.go
  internal/api/types_controller.go
  internal/database/convert_any.go
  internal/database/convert_controller.go
  internal/database/crud_controller.go
  internal/database/database.go
  internal/database/types_controller.go
  internal/database/types_hcpcluster.go
  internal/database/types_nodepool.go
  internal/mocks/dbclient.go
Due: none

f-controller
  internal/database/crud_controller.go
  internal/database/crud_hcpcluster.go
  internal/database/crud_nested_resource.go
  internal/database/database.go
  internal/mocks/dbclient.go
Due: none

f
  frontend/test/simulate/artifacts/ControllerCRUD/basic/02-create-another/00-key.json
  frontend/test/simulate/artifacts/ControllerCRUD/basic/02-create-another/instance.json
  frontend/test/simulate/controller_crud_test.go
  frontend/test/simulate/controllermutation/controller_crud_test_util.go
  internal/database/crud_hcpcluster.go
  internal/database/crud_nested_resource.go
Due: none

f
  frontend/test/simulate/controllermutation/controller_crud_test_util.go
  internal/api/types_cluster.go
  internal/api/types_cosmosdata.go
  internal/api/types_externalauth.go
  internal/api/types_nodepool.go
  internal/database/crud_helpers.go
  internal/database/crud_nested_resource.go
  internal/database/crud_toplevel_resource.go
Due: none

controller test
  frontend/test/simulate/artifacts/ControllerCRUD/basic/01-load-initial.json
  frontend/test/simulate/artifacts/ControllerCRUD/basic/02-create-another.json
  frontend/test/simulate/artifacts/ControllerCRUD/basic/03-verify-list/00-key.json
  frontend/test/simulate/artifacts/ControllerCRUD/basic/03-verify-list/first.json
  frontend/test/simulate/artifacts/ControllerCRUD/basic/03-verify-list/second.json
  frontend/test/simulate/artifacts/ControllerCRUD/basic/04-verify-get/00-key.json
  frontend/test/simulate/controller_crud_test.go
  frontend/test/simulate/controllermutation/controller_crud_test_util.go
  frontend/test/simulate/integrationutils/cosmos.go
  frontend/test/simulate/testinfo.go
  frontend/test/simulate/utils.go
Due: none
