Repository openshift/file-integrity-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-rosa, e2e-bundle-aws, e2e-bundle-aws-upgrade

e2e-rosa:
  optional: true
  steps:
    cluster_profile: quay-aws
    env:
      BYO_OIDC: 'true'
      CHANNEL_GROUP: stable
      ENABLE_BILLING_ACCOUNT: 'yes'
      OCM_LOGIN_ENV: integration
      OPENSHIFT_VERSION: '4.15'
      REGION: us-east-2
    test:
    - ref: ipi-install-rbac
    - as: test-rosa
      cli: latest
  ...

e2e-bundle-aws:
  optional: true
  steps:
    cluster_profile: aws
    test:
    - as: install
      cli: latest
      commands: 'oc create namespace openshift-file-integrity
  
        operator-sdk run bundle --security-context-config restricted -n openshift-file-integrity "$OO_BUNDLE"
  
  ...

e2e-bundle-aws-upgrade:
  optional: true
  steps:
    cluster_profile: aws
    test:
    - as: install
      cli: latest
      commands: 'oc create namespace openshift-file-integrity
  
  ...

Add branch as a tag for konflux builds (#796)
  .tekton/file-integrity-operator-bundle-release-1-3-push.yaml
  .tekton/file-integrity-operator-release-1-3-push.yaml
Due: e2e-rosa

Ensure the daemon waits for secrets to be ready
  cmd/manager/daemon.go
Due: e2e-rosa

Separate build trigger for operator and bundle
  .tekton/file-integrity-operator-bundle-dev-pull-request.yaml
  .tekton/file-integrity-operator-bundle-dev-push.yaml
  .tekton/file-integrity-operator-dev-pull-request.yaml
  .tekton/file-integrity-operator-dev-push.yaml
Due: e2e-rosa

Comment enforcement of MD5 ban in FIPS mode
  build/Dockerfile
Due: e2e-rosa

Build the Bundle image on operator PRs
  .tekton/file-integrity-operator-dev-pull-request.yaml
  bundle-hack/update_csv.go
  bundle.openshift.Dockerfile
Due: e2e-rosa, e2e-bundle-aws, e2e-bundle-aws-upgrade

Do not translate operator URL if provided
  bundle-hack/update_csv.go
Due: e2e-rosa, e2e-bundle-aws, e2e-bundle-aws-upgrade

Add PR bundle image
  .tekton/file-integrity-operator-bundle-dev-pull-request.yaml
  .tekton/tasks/wait-for-operator-image-task.yaml
  bundle-hack/update_csv.go
  bundle.openshift.Dockerfile
Due: e2e-rosa, e2e-bundle-aws, e2e-bundle-aws-upgrade

Configure renovate to ignore release branches
  renovate.json
Due: e2e-rosa

Re-indent with jq command
  renovate.json
Due: e2e-rosa

CMP-3689: Modernize user setup
  Dockerfile.AIDE0.18.ci
  Dockerfile.ci
  build/Dockerfile
  build/Dockerfile.openshift
  build/bin/entrypoint
  build/bin/user_setup
Due: e2e-rosa

Add retry logic for operator metrics secrets
  PROJECT
  cmd/manager/operator.go
Due: e2e-rosa

Release 1.3.8
  build/Dockerfile.openshift
  bundle.openshift.Dockerfile
  bundle/manifests/file-integrity-operator.clusterserviceversion.yaml
  catalog/preamble.json
  config/manifests/bases/file-integrity-operator.clusterserviceversion.yaml
  version.Makefile
  version/version.go
Due: e2e-rosa, e2e-bundle-aws, e2e-bundle-aws-upgrade

Add support for PriorityClass in FileIntegrity
  README.md
  bundle/manifests/file-integrity-operator.clusterserviceversion.yaml
  bundle/manifests/fileintegrity.openshift.io_fileintegrities.yaml
  config/crd/bases/fileintegrity.openshift.io_fileintegrities.yaml
  config/manifests/bases/file-integrity-operator.clusterserviceversion.yaml
  config/rbac/operator_clusterrole.yaml
  pkg/apis/fileintegrity/v1alpha1/fileintegrity_types.go
  pkg/controller/fileintegrity/fileintegrity_controller.go
  pkg/controller/fileintegrity/setup.go
  tests/e2e/e2e_test.go
  tests/e2e/helpers.go
Due: e2e-rosa, e2e-bundle-aws, e2e-bundle-aws-upgrade

Fix aide-worker memory growth caused by cgroup page cache accumulation
  cmd/manager/daemon_util.go
  cmd/manager/logcollector_util.go
  cmd/manager/loops.go
  pkg/controller/fileintegrity/fileintegrity_controller.go
Due: e2e-rosa

Update OpenShift builder image version to v1.25 in Dockerfile
  bundle.openshift.Dockerfile
Due: e2e-rosa, e2e-bundle-aws, e2e-bundle-aws-upgrade

Update OpenShift builder image version to v1.25 in Dockerfile
  build/Dockerfile
  build/Dockerfile.openshift
Due: e2e-rosa

Bump CI Dockerfile builder to golang-1.25-openshift-4.22
  Dockerfile.AIDE0.18.ci
  Dockerfile.ci
Due: e2e-rosa

Add AGENTS.md and contributor skill playbooks
  .claude/skills/e2e-triage/SKILL.md
  .claude/skills/prow-logs/SKILL.md
  .claude/skills/release-fio/SKILL.md
  AGENTS.md
Due: none

Bump gosec to fix autofix build break from anthropic SDK update
  go.mod
  go.sum
  vendor/github.com/anthropics/anthropic-sdk-go/.release-please-manifest.json
  vendor/github.com/anthropics/anthropic-sdk-go/.stats.yml
  vendor/github.com/anthropics/anthropic-sdk-go/CHANGELOG.md
  vendor/github.com/anthropics/anthropic-sdk-go/README.md
  vendor/github.com/anthropics/anthropic-sdk-go/api.md
  vendor/github.com/anthropics/anthropic-sdk-go/beta.go
  vendor/github.com/anthropics/anthropic-sdk-go/betaagent.go
  vendor/github.com/anthropics/anthropic-sdk-go/betamessage.go
  vendor/github.com/anthropics/anthropic-sdk-go/betamessagebatch.go
  vendor/github.com/anthropics/anthropic-sdk-go/betamodel.go
  vendor/github.com/anthropics/anthropic-sdk-go/betauserprofile.go
  vendor/github.com/anthropics/anthropic-sdk-go/internal/version.go
  vendor/github.com/anthropics/anthropic-sdk-go/message.go
  vendor/github.com/anthropics/anthropic-sdk-go/model.go
  vendor/github.com/anthropics/anthropic-sdk-go/shared/constant/constants.go
  vendor/github.com/anthropics/anthropic-sdk-go/thinking_warn.go
  vendor/github.com/openai/openai-go/v3/.release-please-manifest.json
  vendor/github.com/openai/openai-go/v3/.stats.yml
  vendor/github.com/openai/openai-go/v3/CHANGELOG.md
  vendor/github.com/openai/openai-go/v3/README.md
  vendor/github.com/openai/openai-go/v3/audiospeech.go
  vendor/github.com/openai/openai-go/v3/chatcompletion.go
  vendor/github.com/openai/openai-go/v3/internal/version.go
  vendor/github.com/openai/openai-go/v3/realtime/realtime.go
  vendor/github.com/openai/openai-go/v3/responses/response.go
  vendor/github.com/securego/gosec/v2/Makefile
  vendor/github.com/securego/gosec/v2/action.yml
  vendor/github.com/securego/gosec/v2/analyzers/conversion_overflow.go
  vendor/github.com/securego/gosec/v2/analyzers/loginjection.go
  vendor/github.com/securego/gosec/v2/analyzers/pathtraversal.go
  vendor/github.com/securego/gosec/v2/analyzers/range_analyzer.go
  vendor/github.com/securego/gosec/v2/autofix/claude.go
  vendor/github.com/securego/gosec/v2/taint/taint.go
  vendor/modules.txt
Due: e2e-rosa

Apply missing migration scripts
  .tekton/file-integrity-operator-bundle-dev-pull-request.yaml
  .tekton/file-integrity-operator-bundle-dev-push.yaml
  .tekton/file-integrity-operator-dev-pull-request.yaml
  .tekton/file-integrity-operator-dev-push.yaml
Due: e2e-rosa

Add ignored files from vendor files
  vendor/go.yaml.in/yaml/v4/.golangci.yaml
  vendor/go.yaml.in/yaml/v4/.ls-lint.yaml
  vendor/go.yaml.in/yaml/v4/.yamllint.yaml
Due: e2e-rosa

Migrate away from deprecated ioutil
  cmd/manager/daemon_util.go
  cmd/manager/logcollector.go
  cmd/manager/logcollector_util.go
  pkg/common/util.go
  pkg/common/var.go
  tests/e2e/helpers.go
  tests/framework/framework.go
  tests/framework/projutil.go
  tests/framework/resource.go
Due: e2e-rosa

Enable RPM refreshes from MintMaker/Renovate
  konflux/redhat.repo
  konflux/rpms.in.yaml
  konflux/rpms.lock.yaml
Due: e2e-rosa

Bump FIO version 1.4.0
  build/Dockerfile.openshift
  bundle.Dockerfile
  bundle.openshift.Dockerfile
  bundle/manifests/file-integrity-operator.clusterserviceversion.yaml
  bundle/manifests/fileintegrity.openshift.io_fileintegrities.yaml
  bundle/manifests/fileintegrity.openshift.io_fileintegritynodestatuses.yaml
  bundle/metadata/annotations.yaml
  catalog/preamble.json
  config/crd/bases/fileintegrity.openshift.io_fileintegrities.yaml
  config/crd/bases/fileintegrity.openshift.io_fileintegritynodestatuses.yaml
  config/manifests/bases/file-integrity-operator.clusterserviceversion.yaml
  version.Makefile
  version/version.go
Due: e2e-rosa, e2e-bundle-aws, e2e-bundle-aws-upgrade

Bump FIO version 1.4.0 (#927)
  build/Dockerfile.openshift
  bundle.Dockerfile
  bundle.openshift.Dockerfile
  bundle/manifests/file-integrity-operator.clusterserviceversion.yaml
  bundle/manifests/fileintegrity.openshift.io_fileintegrities.yaml
  bundle/manifests/fileintegrity.openshift.io_fileintegritynodestatuses.yaml
  bundle/metadata/annotations.yaml
  catalog/preamble.json
  config/crd/bases/fileintegrity.openshift.io_fileintegrities.yaml
  config/crd/bases/fileintegrity.openshift.io_fileintegritynodestatuses.yaml
  config/manifests/bases/file-integrity-operator.clusterserviceversion.yaml
  version.Makefile
  version/version.go
Due: e2e-rosa, e2e-bundle-aws, e2e-bundle-aws-upgrade

Rewire pipelines for file-integrity-operator-release-1-4 application
  .tekton/file-integrity-operator-bundle-release-1-4-pull-request.yaml
  .tekton/file-integrity-operator-bundle-release-1-4-push.yaml
  .tekton/file-integrity-operator-release-1-4-pull-request.yaml
  .tekton/file-integrity-operator-release-1-4-push.yaml
  bundle-hack/update_csv.go
Due: e2e-rosa, e2e-bundle-aws, e2e-bundle-aws-upgrade

Rewire pipelines for file-integrity-operator-release-1-4 application (#928)
  .tekton/file-integrity-operator-bundle-release-1-4-pull-request.yaml
  .tekton/file-integrity-operator-bundle-release-1-4-push.yaml
  .tekton/file-integrity-operator-release-1-4-pull-request.yaml
  .tekton/file-integrity-operator-release-1-4-push.yaml
  bundle-hack/update_csv.go
Due: e2e-rosa, e2e-bundle-aws, e2e-bundle-aws-upgrade

CMP-4285: Use lowercase "https" scheme for ServiceMonitor compatibility
  cmd/manager/operator.go
  cmd/manager/operator_test.go
Due: e2e-rosa

Add "compliance" prefix to image name labels
  build/Dockerfile.openshift
  bundle.openshift.Dockerfile
Due: e2e-rosa, e2e-bundle-aws, e2e-bundle-aws-upgrade

Add "compliance" prefix to image name labels (#961)
  build/Dockerfile.openshift
  bundle.openshift.Dockerfile
Due: e2e-rosa, e2e-bundle-aws, e2e-bundle-aws-upgrade

Add vickeybrown to owners
  OWNERS
Due: e2e-rosa

Adds "rhel8" to operator image name
  build/Dockerfile.openshift
Due: e2e-rosa

Merge pull request #965 from yuumasato/add-rhel8-to-operator-name
  build/Dockerfile.openshift
Due: e2e-rosa

Set cpe label on bundle and operator images
  build/Dockerfile.openshift
  bundle.openshift.Dockerfile
Due: e2e-rosa, e2e-bundle-aws, e2e-bundle-aws-upgrade

Add retry logic for operator metrics secrets
  cmd/manager/operator.go
Due: e2e-rosa

Path conditions:
  e2e-rosa: unless all of: ^.*(md|adoc)$|^LICENSE$
  e2e-bundle-aws: any of: ^(config|bundle)
  e2e-bundle-aws-upgrade: any of: ^(config|bundle)
