Repository opendatahub-io/notebooks: changes, and which Prow jobs are due for each by the changed paths.
All: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

Path conditions:
  notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)
  rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror: any of: (codeserver\/ubi9-python-3.12\/*)
  ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.12\/*)
  ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.12\/*)
  ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)
  ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.12\/*)
  ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.12\/*)
  ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)
  ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.12\/*)
  ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)
  ci/prow/notebooks-py312-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)|(jupyter\/datascience\/ubi9-python-3.12\/*)|(jupyter\/pytorch\/ubi9-python-3.12\/*)|(jupyter\/tensorflow\/ubi9-python-3.12\/*)|(jupyter\/trustyai\/ubi9-python-3.12\/*)
  ci/prow/notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-notebooks-py312-e2e-tests: any of: (rocm\/ubi9-python-3.12\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.12\/*)
  ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.12\/*)
  ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.12\/*)
  ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.12\/*)
  ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.12\/*)
  ci/prow/runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  ci/prow/runtime-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.12\/*)
  ci/prow/runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)

RHAIENG-2043: chore(base-images): apply `fix-permissions` to `${APP_ROOT}` across CUDA, ROCm, and CPU Dockerfiles
  base-images/cpu/ubi9-python-3.12/Dockerfile.cpu
  base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  base-images/cuda/12.6/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
  base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/ubi9-python-3.12/Dockerfile.rocm
Due: none

RHAIENG-2043: chore(base-images): apply `fix-permissions` to `${APP_ROOT}` across CUDA, ROCm, and CPU Dockerfiles (#2847)
  base-images/cpu/ubi9-python-3.12/Dockerfile.cpu
  base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  base-images/cuda/12.6/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
  base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/ubi9-python-3.12/Dockerfile.rocm
Due: none

fix(ci): disable Trivy OS package scanning for CentOS Stream (#2848)
  .github/actions/trivy-scan-action/action.yml
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

test(ci): add test case for pkg-types=library in trivy-scan-action
  .github/workflows/test-trivy-scan-action.yaml
Due: none

fix(ci): disable Trivy OS package scanning for CentOS Stream (#2849)
  .github/actions/trivy-scan-action/action.yml
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/test-trivy-scan-action.yaml
Due: none

RHAIENG-1650, RHAIENG-2041: chore(pylocks): remove redundant `pylock.toml` for minimal/ubi9 Python 3.12
  jupyter/minimal/ubi9-python-3.12/pylock.toml
Due: ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests

chore(build): update index mode to `auto` and adjust lockfile handling logic
  Makefile
  scripts/pylocks_generator.sh
Due: none

chore(pylocks): update RHAI repository index URLs to 3.3 version
  scripts/pylocks_generator.sh
Due: none

refactor(pylocks): centralize mode resolution in run_lock function
  scripts/pylocks_generator.sh
Due: none

refactor(pylocks): rename aipcc-index to rh-index
  Makefile
  scripts/pylocks_generator.sh
Due: none

fix(base-images): use custom fix-permissions script in all Dockerfiles
  base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  base-images/cpu/ubi9-python-3.12/Dockerfile.cpu
  base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  base-images/cuda/12.6/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
  base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/ubi9-python-3.12/Dockerfile.rocm
Due: none

fix(base-images): use custom fix-permissions script in all Dockerfiles (#2853)
  base-images/cpu/c9s-python-3.12/Dockerfile.cpu
  base-images/cpu/ubi9-python-3.12/Dockerfile.cpu
  base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  base-images/cuda/12.6/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
  base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/ubi9-python-3.12/Dockerfile.rocm
Due: none

RHAIENG-948: chore(dependencies): upgrade JupyterLab version to 4.5.2 across manifests and lockfiles
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
Due: ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests

fix(tekton): use correct platform flavor name for CUDA base image
  .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml
Due: none

fix(tekton): use correct platform flavor name for CUDA base image (#2854)
  .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml
Due: none

Ignore cachi2 directory
  .gitignore
Due: none

Attempt to hermetic build codeserver
  .gitmodules
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu.vath
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
  codeserver/ubi9-python-3.12/patches/code-server/test/package-lock.json
  codeserver/ubi9-python-3.12/patches/code-server/test/package.json
  codeserver/ubi9-python-3.12/prefetch-input/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/artifacts.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/centos.repo
  codeserver/ubi9-python-3.12/prefetch-input/epel.repo
  codeserver/ubi9-python-3.12/prefetch-input/rpms.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rpms.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rpms.repo
  codeserver/ubi9-python-3.12/prefetch-input/ubi.repo
  scripts/lockfile-generators/Dockerfile.rpm-lockfile
  scripts/lockfile-generators/README.md
  scripts/lockfile-generators/create-artifact-lockfile.py
  scripts/lockfile-generators/create-rpm-lockfile
  scripts/lockfile-generators/download-npm
  scripts/lockfile-generators/download-rpms
  scripts/lockfile-generators/utils.sh
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Disabled others npm
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
Due: none

Removed unused artifacts
  codeserver/ubi9-python-3.12/prefetch-input/artifacts.in.yaml
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

RHAIENG-948: chore(dependencies): upgrade JupyterLab version to 4.5.2 across manifests and lockfiles (#2837)
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
Due: ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests

test lib/vscode
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
Due: none

test code-server/test
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
Due: none

Test code-server/test/e2e/extensions/test-extension
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
Due: none

Turned back all prefetch-input
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
Due: none

Enabled node22
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Try node-v37.3.1-headers.tar.gz
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/prefetch-input/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/artifacts.lock.yaml
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

npm config set disturl /cachi2/output/deps/generic
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

extract node-v37.3.1-headers.tar.gz
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Test #1
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Prefetch argon2-v0.28.7-napi-v3-linux-x64-glibc.tar.gz
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/prefetch-input/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/artifacts.lock.yaml
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Testing more
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
  codeserver/ubi9-python-3.12/patches/code-server/test/package-lock.json
  codeserver/ubi9-python-3.12/patches/code-server/test/package.json
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

RHELAI-2417, RHELAI-1720: fix(base-images): add `LD_PRELOAD` workaround for PyArrow TLS block issue in CUDA and ROCm images
  base-images/cpu/ubi9-python-3.12/Dockerfile.cpu
  base-images/cuda/12.6/c9s-python-3.11/Dockerfile.cuda
  base-images/cuda/12.6/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.6/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/c9s-python-3.12/Dockerfile.cuda
  base-images/cuda/12.8/ubi9-python-3.12/Dockerfile.cuda
  base-images/cuda/13.0/c9s-python-3.12/Dockerfile.cuda
  base-images/rocm/6.2/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.2/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.3/ubi9-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/c9s-python-3.12/Dockerfile.rocm
  base-images/rocm/6.4/ubi9-python-3.12/Dockerfile.rocm
Due: none

RHAIENG-1650: chore(pylocks): add AIPCC-enabled `pylock.{cuda,rocm}.toml` for Python 3.12 under minimal/ubi9
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
Due: ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests

RHAIENG-2041: chore(pylocks): add AIPCC-enabled `pylock.cpu.toml` for Python 3.12 under minimal/ubi9
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests
