Repository opendatahub-io/notebooks: changes, and which Prow jobs are due for each by the changed paths.
All: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

Path conditions:
  notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)
  rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror: any of: (codeserver\/ubi9-python-3.12\/*)
  ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.12\/*)
  ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.12\/*)
  ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)
  ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.12\/*)
  ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.12\/*)
  ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)
  ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.12\/*)
  ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)
  ci/prow/notebooks-py312-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)|(jupyter\/datascience\/ubi9-python-3.12\/*)|(jupyter\/pytorch\/ubi9-python-3.12\/*)|(jupyter\/tensorflow\/ubi9-python-3.12\/*)|(jupyter\/trustyai\/ubi9-python-3.12\/*)
  ci/prow/notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-notebooks-py312-e2e-tests: any of: (rocm\/ubi9-python-3.12\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.12\/*)
  ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.12\/*)
  ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.12\/*)
  ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.12\/*)
  ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.12\/*)
  ci/prow/runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  ci/prow/runtime-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.12\/*)
  ci/prow/runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)

Fix `opendatahub.io/workbench-image-recommended` annotation to `opendatahub.io/image-tag-outdated` across all 2025.1 ImageStream manifests.
  manifests/base/code-server-notebook-imagestream.yaml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
Due: none

Fix `opendatahub.io/workbench-image-recommended` to `false` across all 2025.2 ImageStream manifests
  manifests/base/code-server-notebook-imagestream.yaml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
Due: none

fix(pylocks): run gmake refresh to update pylock.toml
  rstudio/c9s-python-3.12/pylock.toml
  rstudio/rhel9-python-3.12/pylock.toml
Due: none

RHAIENG-2640: start new "name: 3.4" metadata tag in all images except RStudio (#2908)
  manifests/base/code-server-notebook-imagestream.yaml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
  rstudio/c9s-python-3.12/pylock.toml
  rstudio/rhel9-python-3.12/pylock.toml
Due: none

Use v4.106 instead 4.108
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Update konflux platforms
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
Due: none

Upgrade code server version
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

upd(uv.lock): uv sync --upgrade
  .pre-commit-config.yaml
  uv.lock
Due: none

reformat(tests): this is how new ruff likes to have it
  tests/containers/docker_utils.py
  tests/containers/workbenches/workbench_image_test.py
Due: none

fix(tests): return from finally is forbidden in Python 3.14
  ci/check-software-versions.py
Due: none

RUF067 `__init__` module should only contain docstrings and re-exports
  tests/__init__.py
  tests/_common.py
Due: none

upd(uv.lock): uv sync --upgrade (#2912)
  .pre-commit-config.yaml
  ci/check-software-versions.py
  tests/__init__.py
  tests/_common.py
  tests/containers/docker_utils.py
  tests/containers/workbenches/workbench_image_test.py
  uv.lock
Due: none

chore(dependencies): update `pnpm-lock.yaml` to bump versions for multiple dependencies including webpack, loaders, and TypeScript-related packages
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-lock.yaml
Due: none

Update lock files
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

Update lock files
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

add the ppc build on pull request pipeline
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
Due: none

Update extensions to latest compatible versions
  codeserver/Extensions.md
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/utils/ms-python.python-2025.14.0.vsix
  codeserver/ubi9-python-3.12/utils/ms-python.python-2026.0.0.vsix
  codeserver/ubi9-python-3.12/utils/ms-toolsai.jupyter-2025.8.0.vsix
  codeserver/ubi9-python-3.12/utils/ms-toolsai.jupyter-2025.9.1.vsix
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

refresh pylock file
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

fix typo on the extensions
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Update codeserver ImageStream to point to the new tag
  manifests/base/code-server-notebook-imagestream.yaml
  manifests/base/commit.env
  manifests/base/kustomization.yaml
Due: none

RHAIENG-3072, RHAIENG-2787: update build-args and manifests for CUDA 12.9, ROCm 6.4
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/cuda.conf
  jupyter/tensorflow/ubi9-python-3.12/build-args/cuda.conf
  manifests/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/rstudio-gpu-notebook-imagestream.yaml
  rstudio/c9s-python-3.12/build-args/cuda.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/cuda.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf
Due: ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror

Fix missing cs-py312 from params.env
  manifests/base/params.env
Due: none

fixup, restore manifests/base/params.env and commit.env to pre-merge state
  manifests/base/commit.env
  manifests/base/params.env
Due: none

fixup, remove duplicates introduced during manual merge
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
Due: none

fixup, remove mistake applying diff against N-2 codeserver manifests
  manifests/base/code-server-notebook-imagestream.yaml
Due: none

fixup, restore the modh imported-from, for consistency
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
Due: none

chore(dependencies): update `pnpm-lock.yaml` to bump versions for multiple dependencies including webpack, loaders, and TypeScript-related packages (#2914)
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-lock.yaml
Due: none

RHAIENG-3098: ci(kustomize): add validation for unsubstituted placeholders in `kustomize.sh` output
  ci/kustomize.sh
Due: none

RHAIENG-3098: ci(kustomize): add validation for unsubstituted placeholders in `kustomize.sh` output (#2920)
  ci/kustomize.sh
Due: none

RHAIENG-3072, RHAIENG-2787: update build-args and manifests for CUDA 12.9, ROCm 6.4 (#2918)
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/cuda.conf
  jupyter/tensorflow/ubi9-python-3.12/build-args/cuda.conf
  manifests/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/rstudio-gpu-notebook-imagestream.yaml
  rstudio/c9s-python-3.12/build-args/cuda.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/cuda.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf
Due: ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror

Externalize indexes outside pylock_generator script for better maintenance and flexibility
  codeserver/ubi9-python-3.12/build-args/cpu.conf
  jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/cuda.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/rocm.conf
  jupyter/tensorflow/ubi9-python-3.12/build-args/cuda.conf
  jupyter/trustyai/ubi9-python-3.12/build-args/cpu.conf
  rstudio/c9s-python-3.12/build-args/cpu.conf
  rstudio/c9s-python-3.12/build-args/cuda.conf
  rstudio/rhel9-python-3.12/build-args/cpu.conf
  rstudio/rhel9-python-3.12/build-args/cuda.conf
  runtimes/datascience/ubi9-python-3.12/build-args/cpu.conf
  runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/cuda.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/rocm.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf
  scripts/pylocks_generator.sh
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

Remove the redundant GPU index duplication
  scripts/pylocks_generator.sh
Due: none

Fix the warnings stdouts
  scripts/pylocks_generator.sh
Due: none

remove pylock flavor from conf
  jupyter/trustyai/ubi9-python-3.12/build-args/cpu.conf
Due: ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests

RHAIENG-3083: release(manifests): update `EXPECTED_NUM_RECORDS` and downshift and add new image entries in env files (#1875)
  ci/check-params-env.sh
  manifests/base/commit-latest.env
  manifests/base/commit.env
  manifests/base/kustomization.yaml
  manifests/base/params-latest.env
  manifests/base/params.env
Due: none

Fix codeserver manifests
  manifests/base/code-server-notebook-imagestream.yaml
  manifests/base/commit-latest.env
  manifests/base/commit.env
  manifests/base/params-latest.env
  manifests/base/params.env
Due: none

Remove fallback logic to cpu index if some packages are not include in the corresponding cuda or rocm
  scripts/pylocks_generator.sh
Due: none

Update minimal image to new cuda 13
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  manifests/base/jupyter-minimal-gpu-notebook-imagestream.yaml
Due: ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests

Update locks
  jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf
  jupyter/minimal/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  scripts/pylocks_generator.sh
Due: ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests

Updated pylocks for minimal cuda 13 from 13 index
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  scripts/pylocks_generator.sh
Due: ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests
