Repository opendatahub-io/notebooks: changes, and which Prow jobs are due for each by the changed paths.
All: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

notebook-jupyter-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: jupyter-minimal-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: jupyter-minimal-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: jupyter-datascience-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: jupyter-datascience-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: cuda-jupyter-minimal-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: cuda-jupyter-minimal-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: cuda-jupyter-tensorflow-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: cuda-jupyter-tensorflow-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: cuda-jupyter-pytorch-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: cuda-jupyter-pytorch-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: jupyter-trustyai-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: jupyter-trustyai-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

runtime-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: runtime-minimal-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: runtime-minimal-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

runtime-ds-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: runtime-datascience-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: runtime-datascience-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: runtime-cuda-pytorch-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: runtime-cuda-pytorch-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebooks-ubi9-e2e-tests:
  steps:
    cluster_profile: gcp-opendatahub
    test:
    - as: jupyter-ubi9-python-3-11-test-e2e
      cli: latest
  ...

Update file via tmp-runtimes-sync-13970259484 GitHub action
  jupyter/datascience/ubi9-python-3.11/runtime-images/datascience-ubi9-py311.json
  jupyter/datascience/ubi9-python-3.11/runtime-images/pytorch-ubi9-py311.json
  jupyter/datascience/ubi9-python-3.11/runtime-images/rocm-pytorch-ubi9-py311.json
  jupyter/datascience/ubi9-python-3.11/runtime-images/rocm-tensorflow-ubi9-py311.json
  jupyter/datascience/ubi9-python-3.11/runtime-images/tensorflow-ubi9-py311.json
  jupyter/datascience/ubi9-python-3.11/runtime-images/ubi9-py311.json
Due: notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests

RHOAIENG-18400: chore(.tekton/): use the script to generate Konflux pipelines for all our images
  .tekton/codeserver-ubi9-python-3-11-pull-request.yaml
  .tekton/codeserver-ubi9-python-3-11-push.yaml
  .tekton/cuda-jupyter-minimal-ubi9-python-3-11-pull-request.yaml
  .tekton/cuda-jupyter-minimal-ubi9-python-3-11-push.yaml
  .tekton/cuda-jupyter-pytorch-ubi9-python-3-11-pull-request.yaml
  .tekton/cuda-jupyter-pytorch-ubi9-python-3-11-push.yaml
  .tekton/cuda-jupyter-tensorflow-ubi9-python-3-11-pull-request.yaml
  .tekton/cuda-jupyter-tensorflow-ubi9-python-3-11-push.yaml
  .tekton/cuda-rstudio-c9s-python-3-11-pull-request.yaml
  .tekton/cuda-rstudio-c9s-python-3-11-push.yaml
  .tekton/jupyter-datascience-ubi9-python-3-11-pull-request.yaml
  .tekton/jupyter-datascience-ubi9-python-3-11-push.yaml
  .tekton/jupyter-minimal-ubi9-python-3-11-push.yaml
  .tekton/jupyter-trustyai-ubi9-python-3-11-pull-request.yaml
  .tekton/jupyter-trustyai-ubi9-python-3-11-push.yaml
  .tekton/rocm-jupyter-minimal-ubi9-python-3-11-pull-request.yaml
  .tekton/rocm-jupyter-minimal-ubi9-python-3-11-push.yaml
  .tekton/rocm-jupyter-pytorch-ubi9-python-3-11-pull-request.yaml
  .tekton/rocm-jupyter-pytorch-ubi9-python-3-11-push.yaml
  .tekton/rocm-jupyter-tensorflow-ubi9-python-3-11-pull-request.yaml
  .tekton/rocm-jupyter-tensorflow-ubi9-python-3-11-push.yaml
  .tekton/rocm-runtime-pytorch-ubi9-python-3-11-pull-request.yaml
  .tekton/rocm-runtime-pytorch-ubi9-python-3-11-push.yaml
  .tekton/rocm-runtime-tensorflow-ubi9-python-3-11-pull-request.yaml
  .tekton/rocm-runtime-tensorflow-ubi9-python-3-11-push.yaml
  .tekton/rstudio-c9s-python-3-11-pull-request.yaml
  .tekton/rstudio-c9s-python-3-11-push.yaml
  .tekton/runtime-cuda-pytorch-ubi9-python-3-11-pull-request.yaml
  .tekton/runtime-cuda-pytorch-ubi9-python-3-11-push.yaml
  .tekton/runtime-cuda-tensorflow-ubi9-python-3-11-pull-request.yaml
  .tekton/runtime-cuda-tensorflow-ubi9-python-3-11-push.yaml
  .tekton/runtime-datascience-ubi9-python-3-11-pull-request.yaml
  .tekton/runtime-datascience-ubi9-python-3-11-push.yaml
  .tekton/runtime-minimal-ubi9-python-3-11-pull-request.yaml
  .tekton/runtime-minimal-ubi9-python-3-11-push.yaml
  ci/cached-builds/konflux_generate_component_build_pipelines.py
  ci/generate_code.sh
Due: none

RHOAIENG-18400: chore(.tekton/): request some greater resources
  .tekton/codeserver-ubi9-python-3-11-pull-request.yaml
  .tekton/codeserver-ubi9-python-3-11-push.yaml
  .tekton/cuda-jupyter-minimal-ubi9-python-3-11-pull-request.yaml
  .tekton/cuda-jupyter-minimal-ubi9-python-3-11-push.yaml
  .tekton/cuda-jupyter-pytorch-ubi9-python-3-11-pull-request.yaml
  .tekton/cuda-jupyter-pytorch-ubi9-python-3-11-push.yaml
  .tekton/cuda-jupyter-tensorflow-ubi9-python-3-11-pull-request.yaml
  .tekton/cuda-jupyter-tensorflow-ubi9-python-3-11-push.yaml
  .tekton/cuda-rstudio-c9s-python-3-11-pull-request.yaml
  .tekton/cuda-rstudio-c9s-python-3-11-push.yaml
  .tekton/jupyter-datascience-ubi9-python-3-11-pull-request.yaml
  .tekton/jupyter-datascience-ubi9-python-3-11-push.yaml
  .tekton/jupyter-minimal-ubi9-python-3-11-pull-request.yaml
  .tekton/jupyter-minimal-ubi9-python-3-11-push.yaml
  .tekton/jupyter-trustyai-ubi9-python-3-11-pull-request.yaml
  .tekton/jupyter-trustyai-ubi9-python-3-11-push.yaml
  .tekton/rocm-jupyter-minimal-ubi9-python-3-11-pull-request.yaml
  .tekton/rocm-jupyter-minimal-ubi9-python-3-11-push.yaml
  .tekton/rocm-jupyter-pytorch-ubi9-python-3-11-pull-request.yaml
  .tekton/rocm-jupyter-pytorch-ubi9-python-3-11-push.yaml
  .tekton/rocm-jupyter-tensorflow-ubi9-python-3-11-pull-request.yaml
  .tekton/rocm-jupyter-tensorflow-ubi9-python-3-11-push.yaml
  .tekton/rocm-runtime-pytorch-ubi9-python-3-11-pull-request.yaml
  .tekton/rocm-runtime-pytorch-ubi9-python-3-11-push.yaml
  .tekton/rocm-runtime-tensorflow-ubi9-python-3-11-pull-request.yaml
  .tekton/rocm-runtime-tensorflow-ubi9-python-3-11-push.yaml
  .tekton/rstudio-c9s-python-3-11-pull-request.yaml
  .tekton/rstudio-c9s-python-3-11-push.yaml
  .tekton/runtime-cuda-pytorch-ubi9-python-3-11-pull-request.yaml
  .tekton/runtime-cuda-pytorch-ubi9-python-3-11-push.yaml
  .tekton/runtime-cuda-tensorflow-ubi9-python-3-11-pull-request.yaml
  .tekton/runtime-cuda-tensorflow-ubi9-python-3-11-push.yaml
  .tekton/runtime-datascience-ubi9-python-3-11-pull-request.yaml
  .tekton/runtime-datascience-ubi9-python-3-11-push.yaml
  .tekton/runtime-minimal-ubi9-python-3-11-pull-request.yaml
  .tekton/runtime-minimal-ubi9-python-3-11-push.yaml
  ci/cached-builds/konflux_generate_component_build_pipelines.py
Due: none

Update imagesteams on downstream for thenew release
  ci/check-params-env.sh
  manifests/base/code-server-notebook-imagestream.yaml
  manifests/base/commit.env
  manifests/base/commit.yaml
  manifests/base/cuda-rstudio-buildconfig.yaml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/base/kustomization.yaml
  manifests/base/params.env
  manifests/base/params.yaml
  manifests/base/rstudio-buildconfig.yaml
  manifests/base/rstudio-gpu-notebook-imagestream.yaml
Due: none

Update file via tmp-runtimes-sync-13977314575 GitHub action
  jupyter/datascience/ubi9-python-3.11/runtime-images/datascience-ubi9-py311.json
  jupyter/datascience/ubi9-python-3.11/runtime-images/pytorch-ubi9-py311.json
  jupyter/datascience/ubi9-python-3.11/runtime-images/rocm-pytorch-ubi9-py311.json
  jupyter/datascience/ubi9-python-3.11/runtime-images/rocm-tensorflow-ubi9-py311.json
  jupyter/datascience/ubi9-python-3.11/runtime-images/tensorflow-ubi9-py311.json
  jupyter/datascience/ubi9-python-3.11/runtime-images/ubi9-py311.json
Due: notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests

Update image commits via tmp-digest-sync-13977959594 GitHub action
  manifests/base/commit.env
Due: none

Update images digest hashes via tmp-digest-sync-13977959594 GitHub action
  manifests/base/params.env
Due: none

Fix rstudio sha
  manifests/base/params.env
Due: none

Update image commits via tmp-digest-sync-13981364758 GitHub action
  manifests/base/commit.env
Due: none

Update images digest hashes via tmp-digest-sync-13981364758 GitHub action
  manifests/base/params.env
Due: none

bash ci/generate_code.sh
  .tekton/cuda-rstudio-rhel9-python-3-11-pull-request.yaml
  .tekton/cuda-rstudio-rhel9-python-3-11-push.yaml
  .tekton/rstudio-rhel9-python-3-11-pull-request.yaml
  .tekton/rstudio-rhel9-python-3-11-push.yaml
Due: none

NO-ISSUE: chore(ci): fix expected image names in params.env check
  ci/check-params-env.sh
Due: none

Fix mismatches between rhds/main and odh/main so that we can do the merge
  .github/workflows/auto-add-issue-to-project.yml
  .github/workflows/notebook-digest-updater.yaml
  .github/workflows/sec-scan.yml
  .github/workflows/sync-downstream.yaml
  ci/check-params-env.sh
  ci/check-runtime-images.sh
  jupyter/datascience/ubi9-python-3.11/runtime-images/datascience-ubi9-py311.json
  jupyter/datascience/ubi9-python-3.11/runtime-images/pytorch-ubi9-py311.json
  jupyter/datascience/ubi9-python-3.11/runtime-images/rocm-pytorch-ubi9-py311.json
  jupyter/datascience/ubi9-python-3.11/runtime-images/rocm-tensorflow-ubi9-py311.json
  jupyter/datascience/ubi9-python-3.11/runtime-images/tensorflow-ubi9-py311.json
  jupyter/datascience/ubi9-python-3.11/runtime-images/ubi9-py311.json
  manifests/base/code-server-notebook-imagestream.yaml
  manifests/base/commit.env
  manifests/base/commit.yaml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/base/kustomization.yaml
  manifests/base/params.env
  manifests/base/params.yaml
  manifests/base/rstudio-gpu-notebook-imagestream.yaml
  manifests/base/rstudio-notebook-imagestream.yaml
Due: notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests

NO-ISSUE: fix the manifest definitions software versions for images
  manifests/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/base/rstudio-notebook-imagestream.yaml
Due: none

RHOAIENG-21691: mitigate undesirable `/opt/app-root` ownership and permissions change caused by a Dockerfile `COPY`
  codeserver/ubi9-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
Due: codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests

try to install with uv
  codeserver/ubi9-python-3.11/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.11/Dockerfile.rocm
  jupyter/pytorch/ubi9-python-3.11/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.11/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.11/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
  runtimes/datascience/ubi9-python-3.11/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.11/Dockerfile.cpu
  runtimes/pytorch/ubi9-python-3.11/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.11/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.11/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.11/Dockerfile.cuda
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

NO-JIRA: fix(ci): update the way we check for the rocm version
  ci/check-software-versions.py
Due: none

ISSUE-922: chore(tests/containers): implement retry if port-forwarding fails
  tests/containers/kubernetes_utils.py
  tests/containers/socket_proxy.py
Due: none

Update Pipfile.lock files by piplock-renewal.yaml action
  codeserver/ubi9-python-3.11/Pipfile.lock
  codeserver/ubi9-python-3.11/requirements.txt
  jupyter/datascience/ubi9-python-3.11/Pipfile.lock
  jupyter/datascience/ubi9-python-3.11/requirements.txt
  jupyter/minimal/ubi9-python-3.11/Pipfile.lock
  jupyter/minimal/ubi9-python-3.11/requirements.txt
  jupyter/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/trustyai/ubi9-python-3.11/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.11/requirements.txt
  runtimes/datascience/ubi9-python-3.11/Pipfile.lock
  runtimes/datascience/ubi9-python-3.11/requirements.txt
  runtimes/minimal/ubi9-python-3.11/Pipfile.lock
  runtimes/minimal/ubi9-python-3.11/requirements.txt
  runtimes/pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-tensorflow/ubi9-python-3.11/requirements.txt
  runtimes/tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/tensorflow/ubi9-python-3.11/requirements.txt
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

NO-JIRA: chore(tests/): fix running rstudio rhel9 Makefile image tests
  Makefile
  ci/cached-builds/make_test.py
Due: none

NO-JIRA: chore(tests/): fix running rstudio rhel9 Makefile image tests (#989)
  Makefile
  ci/cached-builds/make_test.py
Due: none

RHOAIENG-21690: chore(Dockerfiles): augument micropipenv with uv for faster package installs
  codeserver/ubi9-python-3.11/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.11/Dockerfile.rocm
  jupyter/pytorch/ubi9-python-3.11/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.11/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.11/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
  runtimes/datascience/ubi9-python-3.11/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.11/Dockerfile.cpu
  runtimes/pytorch/ubi9-python-3.11/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.11/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.11/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.11/Dockerfile.cuda
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

NO-JIRA: fix(manifests/): torch version in jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
Due: none

NO-JIRA: fix(manifests/): torch version in `jupyter-rocm-pytorch-notebook-imagestream.yaml` (#990)
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
Due: none

RHOAIENG-22439: fix(manifests/rstudio): dismantle the broken RStudio BuildConfig chain and build the image directly
  manifests/base/cuda-rstudio-buildconfig.yaml
Due: none

clamav attempt two
  .tekton/jupyter-minimal-ubi9-python-3-11-pull-request.yaml
Due: none

clamav attempt two
  .tekton/rocm-jupyter-minimal-ubi9-python-3-11-push.yaml
  ci/cached-builds/konflux_generate_component_build_pipelines.py
Due: none

clamav attempt three
  .tekton/jupyter-minimal-ubi9-python-3-11-pull-request.yaml
Due: none

clamav attempt 4
  .tekton/jupyter-minimal-ubi9-python-3-11-pull-request.yaml
  ci/cached-builds/konflux_generate_component_build_pipelines.py
Due: none

RHOAIENG-21740: Perform filesystem permission check on images
  tests/containers/base_image_test.py
  tests/containers/conftest.py
  tests/containers/utils.py
Due: none

[GHA] Enhance the checks for the kustomization.yaml files
  .github/workflows/code-quality.yaml
  ci/kustomize.sh
Due: none

fix vars
  manifests/base/code-server-notebook-imagestream.yaml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-gpu-notebook-imagestream.yaml
  manifests/base/jupyter-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-minimal-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
  manifests/base/rstudio-gpu-notebook-imagestream.yaml
  manifests/base/rstudio-notebook-imagestream.yaml
Due: none

asdf
  manifests/base/kustomization.yaml
Due: none

asdf
  ci/check-software-versions.py
  ci/package_versions_selftestdata.py
Due: none

Path conditions:
  notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)
  rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  ci/prow/runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  ci/prow/runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)
