Repository opendatahub-io/notebooks: changes, and which Prow jobs are due for each by the changed paths.
All: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

Path conditions:
  notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)
  rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror: any of: (codeserver\/ubi9-python-3.12\/*)
  ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.12\/*)
  ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.12\/*)
  ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)
  ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.12\/*)
  ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.12\/*)
  ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)
  ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.12\/*)
  ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)
  ci/prow/notebooks-py312-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)|(jupyter\/datascience\/ubi9-python-3.12\/*)|(jupyter\/pytorch\/ubi9-python-3.12\/*)|(jupyter\/tensorflow\/ubi9-python-3.12\/*)|(jupyter\/trustyai\/ubi9-python-3.12\/*)
  ci/prow/notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-notebooks-py312-e2e-tests: any of: (rocm\/ubi9-python-3.12\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.12\/*)
  ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.12\/*)
  ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.12\/*)
  ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.12\/*)
  ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.12\/*)
  ci/prow/runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  ci/prow/runtime-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.12\/*)
  ci/prow/runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)

fix(tekton): handle both manifest lists and single images in compression
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
Due: none

fix(tekton): use buildah manifest inspect instead of skopeo
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
Due: none

feat(scripts): add SBOM analysis tool for CVE investigation
  scripts/README.md
  scripts/sbom_analyze.py
Due: none

add SPDX format support
  scripts/sbom_analyze.py
Due: none

fix rabbit issues
  scripts/sbom_analyze.py
Due: none

update doc with spdx
  scripts/sbom_analyze.py
Due: none

filter out invalid paths in component locations
  scripts/sbom_analyze.py
Due: none

fix(scripts): add sourceInfo fallback in print_path_results
  scripts/sbom_analyze.py
Due: none

fix(tests): update test_get_build_directory to expect Python 3.12
  ci/cached-builds/gha_pr_changed_files.py
Due: none

fix(ci): use three-dot diff to detect only PR changes in build workflow
  ci/cached-builds/gha_pr_changed_files.py
Due: none

chore(scripts): add SBOM analysis tool for CVE investigation (#2874)
  scripts/README.md
  scripts/sbom_analyze.py
Due: none

fix(ci): use three-dot diff to detect only PR changes in build workflow (#2876)
  ci/cached-builds/gha_pr_changed_files.py
Due: none

RHAIENG-1727: chore(pylocks): add AIPCC-enabled pylock for runtime minimal ubi9-python-3.12
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf
  runtimes/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

RHAIENG-1729: chore(pylocks): add AIPCC-enabled pylocks for runtime pytorch
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
Due: ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror

chore: align package versions for AIPCC compatibility across all images
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  manifests/base/code-server-notebook-imagestream.yaml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror

fix(CVE): centralize CVE constraints in dependencies/cve-constraints.txt
  dependencies/cve-constraints.txt
  docs/cves/python.md
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  scripts/pylocks_generator.sh
Due: ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests

Known successfull built code-server
  .dockerignore
  .gitignore
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.cpu.vath
  codeserver/ubi9-python-3.12/fix-shrinkwrap-paths.sh
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
  codeserver/ubi9-python-3.12/patches/README.md
  codeserver/ubi9-python-3.12/patches/code-server/ci/dev/postinstall.sh
  codeserver/ubi9-python-3.12/patches/code-server/lib/vscode/extensions/emmet/package-lock.json
  codeserver/ubi9-python-3.12/patches/code-server/lib/vscode/extensions/emmet/package.json
  codeserver/ubi9-python-3.12/patches/code-server/lib/vscode/package-lock.json
  codeserver/ubi9-python-3.12/patches/code-server/lib/vscode/package.json
  codeserver/ubi9-python-3.12/patches/code-server/test/package-lock.json
  codeserver/ubi9-python-3.12/patches/code-server/test/package.json
  codeserver/ubi9-python-3.12/patches/s390x.patch
  codeserver/ubi9-python-3.12/prefetch-input/artifacts.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/artifacts.lock.yaml
  codeserver/ubi9-python-3.12/prefetch-input/centos.repo
  codeserver/ubi9-python-3.12/prefetch-input/rhsm-pulp.repo
  codeserver/ubi9-python-3.12/prefetch-input/rpms.in.yaml
  codeserver/ubi9-python-3.12/prefetch-input/rpms.lock.yaml
  codeserver/ubi9-python-3.12/run-code-server.sh
  codeserver/ubi9-python-3.12/setup-offline-binaries.sh
  codeserver/ubi9-python-3.12/utils/codeserver-offline-env.sh
  scripts/lockfile-generators/Dockerfile.rpm-lockfile
  scripts/lockfile-generators/create-artifact-lockfile.py
  scripts/lockfile-generators/create-rpm-lockfile
  scripts/lockfile-generators/download-npm
  scripts/lockfile-generators/download-rpms
  scripts/lockfile-generators/hermeto-fetch-npm
  scripts/lockfile-generators/local.repo
  scripts/lockfile-generators/rewrite-cachi2-path.sh
  scripts/lockfile-generators/rhsm-pulp.repo
  scripts/lockfile-generators/utils.sh
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Test on Konflux
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Update .gitignore to allow build directory
  .gitignore
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/patches/code-server/ci/build-scripts/build-release.sh
  codeserver/ubi9-python-3.12/patches/code-server/ci/build-scripts/build-standalone-release.sh
  codeserver/ubi9-python-3.12/patches/code-server/ci/build-scripts/build-vscode.sh
  codeserver/ubi9-python-3.12/patches/code-server/lib-vscode/build-lib/fetch.js
  codeserver/ubi9-python-3.12/patches/code-server/lib-vscode/extensions/emmet/package-lock.json
  codeserver/ubi9-python-3.12/patches/code-server/lib-vscode/extensions/emmet/package.json
  codeserver/ubi9-python-3.12/patches/code-server/lib-vscode/package-lock.json
  codeserver/ubi9-python-3.12/patches/code-server/lib-vscode/package.json
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

chore: align package versions for AIPCC compatibility across all images (#2884)
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  manifests/base/code-server-notebook-imagestream.yaml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror

RHAIENG-1725: chore(pylocks): add AIPCC-enabled pylock for codeserver datascience
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/build-args/cpu.conf
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

RHAIENG-1728: chore(pylocks): add AIPCC-enabled pylock for runtime datascience
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/build-args/cpu.conf
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror

Fix .tekton
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

RHAIENG-1728: chore(pylocks): add AIPCC-enabled pylock for runtime datascience (#2882)
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/build-args/cpu.conf
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror

RHAIENG-1725: chore(pylocks): add AIPCC-enabled pylock for codeserver datascience (#2881)
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/build-args/cpu.conf
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

More fix
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

More testing
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Testing 123
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  scripts/lockfile-generators/hermeto-fetch-npm
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Added codeserver/ubi9-python-3.12/patches/code-server/package-lock.json
  codeserver/ubi9-python-3.12/patches/code-server/package-lock.json
  codeserver/ubi9-python-3.12/patches/code-server/package.json
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Debug
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
Due: none

Fix lib/vscode/extensions/microsoft-authentication
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  codeserver/ubi9-python-3.12/patches/code-server/lib-vscode/microsoft-authentication/package-lock.json
  codeserver/ubi9-python-3.12/patches/code-server/lib-vscode/microsoft-authentication/package.json
  scripts/lockfile-generators/hermeto-fetch-npm
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Try all npm
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
Due: none

Fix .tekton
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-push.yaml
  codeserver/ubi9-python-3.12/patches/code-server/package-lock.json
  codeserver/ubi9-python-3.12/patches/code-server/package.json
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Enabled hermetic
  .tekton/multiarch-pull-request-pipeline.yaml
  .tekton/multiarch-push-pipeline.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  codeserver/ubi9-python-3.12/setup-offline-binaries.sh
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Fix tslib issue
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/patches/code-server/ci/build-scripts/build-release.sh
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

debug
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Try to fix tslib
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Debug
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror
