Repository opendatahub-io/notebooks: changes, and which Prow jobs are due for each by the changed paths.
All: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

Path conditions:
  notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)
  rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  ci/prow/runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  ci/prow/runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)

chore(deps): bump transformers to 4.48.0 in trustyai Pipfile
  jupyter/trustyai/ubi9-python-3.11/Pipfile
Due: notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests

Update Pipfile.lock files by piplock-renewal.yaml action
  jupyter/trustyai/ubi9-python-3.11/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.11/requirements.txt
Due: notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests

chore(deps): bump transformers to 4.52.1 in trustyai Pipfile
  jupyter/trustyai/ubi9-python-3.11/Pipfile
Due: notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests

RHOAIENG-26513: tests(containers): add unittests for verifying data science libraries in workbench images (#1421)
  tests/containers/docker_utils.py
  tests/containers/workbenches/jupyterlab/libraries_test.py
  tests/containers/workbenches/jupyterlab/libraries_testunits.py
Due: none

bring back emeritus_approvers
  OWNERS
Due: none

Change check-params to have up to date 3.12 image names and sizes for built images
  ci/check-params-env.sh
Due: none

Update Pipfile.lock files by piplock-renewal.yaml action
  codeserver/ubi9-python-3.11/Pipfile.lock
  codeserver/ubi9-python-3.11/requirements.txt
  jupyter/datascience/ubi9-python-3.11/Pipfile.lock
  jupyter/datascience/ubi9-python-3.11/requirements.txt
  jupyter/minimal/ubi9-python-3.11/Pipfile.lock
  jupyter/minimal/ubi9-python-3.11/requirements.txt
  jupyter/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/trustyai/ubi9-python-3.11/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.11/requirements.txt
  runtimes/datascience/ubi9-python-3.11/Pipfile.lock
  runtimes/datascience/ubi9-python-3.11/requirements.txt
  runtimes/minimal/ubi9-python-3.11/Pipfile.lock
  runtimes/minimal/ubi9-python-3.11/requirements.txt
  runtimes/pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-tensorflow/ubi9-python-3.11/requirements.txt
  runtimes/tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/tensorflow/ubi9-python-3.11/requirements.txt
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

Update Pipfile.lock files by piplock-renewal.yaml action
  codeserver/ubi9-python-3.12/Pipfile.lock
  codeserver/ubi9-python-3.12/requirements.txt
  jupyter/datascience/ubi9-python-3.12/Pipfile.lock
  jupyter/datascience/ubi9-python-3.12/requirements.txt
  jupyter/minimal/ubi9-python-3.12/Pipfile.lock
  jupyter/minimal/ubi9-python-3.12/requirements.txt
  jupyter/pytorch/ubi9-python-3.12/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.12/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.txt
  jupyter/tensorflow/ubi9-python-3.12/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.12/requirements.txt
  jupyter/trustyai/ubi9-python-3.12/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.12/requirements.txt
  runtimes/datascience/ubi9-python-3.12/Pipfile.lock
  runtimes/datascience/ubi9-python-3.12/requirements.txt
  runtimes/minimal/ubi9-python-3.12/Pipfile.lock
  runtimes/minimal/ubi9-python-3.12/requirements.txt
  runtimes/pytorch/ubi9-python-3.12/Pipfile.lock
  runtimes/pytorch/ubi9-python-3.12/requirements.txt
  runtimes/rocm-pytorch/ubi9-python-3.12/Pipfile.lock
  runtimes/rocm-pytorch/ubi9-python-3.12/requirements.txt
  runtimes/tensorflow/ubi9-python-3.12/Pipfile.lock
  runtimes/tensorflow/ubi9-python-3.12/requirements.txt
Due: none

RHOAIENG-10057: add `dnf upgrade` to base images to mitigate fixable vulnerabilities
  base/c9s-python-3.11/Dockerfile
  base/ubi9-python-3.11/Dockerfile
Due: none

Update .coderabbit.yaml
  .coderabbit.yaml
Due: none

RHOAIENG-10057: add `dnf upgrade` to base images to mitigate fixable vulnerabilities (#1488)
  base/c9s-python-3.11/Dockerfile
  base/ubi9-python-3.11/Dockerfile
Due: none

[2024b] RHOAIENG-30247: chore(deps): bump transformers to 4.52.1 in trustyai Pipfile (#1464)
  jupyter/trustyai/ubi9-python-3.11/Pipfile
  jupyter/trustyai/ubi9-python-3.11/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.11/requirements.txt
Due: notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests

Update codeflare-sdk version to 0.28
  Makefile
  jupyter/datascience/ubi9-python-3.11/Pipfile
  jupyter/pytorch/ubi9-python-3.11/Pipfile
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile
  jupyter/tensorflow/ubi9-python-3.11/Pipfile
  jupyter/trustyai/ubi9-python-3.11/Pipfile
  runtimes/datascience/ubi9-python-3.11/Pipfile
  runtimes/pytorch/ubi9-python-3.11/Pipfile
  runtimes/rocm-pytorch/ubi9-python-3.11/Pipfile
  runtimes/rocm-tensorflow/ubi9-python-3.11/Pipfile
  runtimes/tensorflow/ubi9-python-3.11/Pipfile
Due: notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

Update Pipfile.lock files by piplock-renewal.yaml action
  Makefile
  jupyter/datascience/ubi9-python-3.11/Pipfile.lock
  jupyter/datascience/ubi9-python-3.11/requirements.txt
  jupyter/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/tensorflow/ubi9-python-3.11/Pipfile
  jupyter/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/trustyai/ubi9-python-3.11/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.11/requirements.txt
  runtimes/datascience/ubi9-python-3.11/Pipfile.lock
  runtimes/datascience/ubi9-python-3.11/requirements.txt
  runtimes/pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-tensorflow/ubi9-python-3.11/requirements.txt
  runtimes/tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/tensorflow/ubi9-python-3.11/requirements.txt
Due: notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

Add --dev flag to install also the packages from [dev-packages] section
  jupyter/rocm/tensorflow/ubi9-python-3.11/Dockerfile
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile
  runtimes/rocm-tensorflow/ubi9-python-3.11/Dockerfile
  runtimes/tensorflow/ubi9-python-3.11/Dockerfile
Due: notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

Update Pipfile.lock files by piplock-renewal.yaml action
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.11/Pipfile.lock
Due: notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, rocm-notebooks-e2e-tests, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests

RHOAIENG-19051: chore(Makefile): remove dependency on `bin/buildinputs` for running image tests
  Makefile
Due: none

[2024b] RHOAIENG-30247 chore(deps): Bump codeflare-sdk version from `0.26.0` to `0.28.0` (#1489)
  jupyter/datascience/ubi9-python-3.11/Pipfile
  jupyter/datascience/ubi9-python-3.11/Pipfile.lock
  jupyter/datascience/ubi9-python-3.11/requirements.txt
  jupyter/pytorch/ubi9-python-3.11/Pipfile
  jupyter/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/tensorflow/ubi9-python-3.11/Dockerfile
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile
  jupyter/tensorflow/ubi9-python-3.11/Pipfile
  jupyter/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/trustyai/ubi9-python-3.11/Pipfile
  jupyter/trustyai/ubi9-python-3.11/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.11/requirements.txt
  runtimes/datascience/ubi9-python-3.11/Pipfile
  runtimes/datascience/ubi9-python-3.11/Pipfile.lock
  runtimes/datascience/ubi9-python-3.11/requirements.txt
  runtimes/pytorch/ubi9-python-3.11/Pipfile
  runtimes/pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-pytorch/ubi9-python-3.11/Pipfile
  runtimes/rocm-pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-tensorflow/ubi9-python-3.11/Dockerfile
  runtimes/rocm-tensorflow/ubi9-python-3.11/Pipfile
  runtimes/rocm-tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-tensorflow/ubi9-python-3.11/requirements.txt
  runtimes/tensorflow/ubi9-python-3.11/Dockerfile
  runtimes/tensorflow/ubi9-python-3.11/Pipfile
  runtimes/tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/tensorflow/ubi9-python-3.11/requirements.txt
Due: notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

RHOAIENG-19051: chore(Makefile): remove dependency on `bin/buildinputs` for running image tests (#1492)
  Makefile
Due: none

NO-JIRA: update go version and go packages in build and test tools
  .github/workflows/build-notebooks-TEMPLATE.yaml
  scripts/buildinputs/go.mod
  scripts/buildinputs/go.sum
  scripts/check-payload/go.mod
  scripts/check-payload/go.sum
Due: none

[#1355] update package names in all pipfiles + py script to automate
  jupyter/datascience/ubi9-python-3.11/Pipfile
  jupyter/datascience/ubi9-python-3.12/Pipfile
  jupyter/pytorch/ubi9-python-3.11/Pipfile
  jupyter/pytorch/ubi9-python-3.12/Pipfile
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile
  jupyter/rocm/pytorch/ubi9-python-3.12/Pipfile
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile
  jupyter/tensorflow/ubi9-python-3.11/Pipfile
  jupyter/tensorflow/ubi9-python-3.12/Pipfile
  jupyter/trustyai/ubi9-python-3.11/Pipfile
  jupyter/trustyai/ubi9-python-3.12/Pipfile
  runtimes/datascience/ubi9-python-3.11/Pipfile
  runtimes/datascience/ubi9-python-3.12/Pipfile
  runtimes/minimal/ubi9-python-3.11/Pipfile
  runtimes/minimal/ubi9-python-3.12/Pipfile
  runtimes/pytorch/ubi9-python-3.11/Pipfile
  runtimes/pytorch/ubi9-python-3.12/Pipfile
  runtimes/rocm-pytorch/ubi9-python-3.11/Pipfile
  runtimes/rocm-pytorch/ubi9-python-3.12/Pipfile
  runtimes/rocm-tensorflow/ubi9-python-3.11/Pipfile
  runtimes/rocm-tensorflow/ubi9-python-3.12/Pipfile
  runtimes/tensorflow/ubi9-python-3.11/Pipfile
  runtimes/tensorflow/ubi9-python-3.12/Pipfile
  scripts/README.md
  scripts/fix_package_naming.py
Due: notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

Update Pipfile.lock files by piplock-renewal.yaml action
  jupyter/datascience/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.11/Pipfile.lock
  runtimes/datascience/ubi9-python-3.11/Pipfile.lock
  runtimes/minimal/ubi9-python-3.11/Pipfile.lock
  runtimes/pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/tensorflow/ubi9-python-3.11/Pipfile.lock
Due: notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

Update Pipfile.lock files by piplock-renewal.yaml action
  jupyter/datascience/ubi9-python-3.12/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.12/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.12/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.12/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.12/Pipfile.lock
  runtimes/datascience/ubi9-python-3.12/Pipfile.lock
  runtimes/minimal/ubi9-python-3.12/Pipfile.lock
  runtimes/pytorch/ubi9-python-3.12/Pipfile.lock
  runtimes/rocm-pytorch/ubi9-python-3.12/Pipfile.lock
  runtimes/tensorflow/ubi9-python-3.12/Pipfile.lock
Due: none

Bump transformers version to 4.52.1
  Makefile
  jupyter/trustyai/ubi9-python-3.11/Pipfile
  jupyter/trustyai/ubi9-python-3.12/Pipfile
Due: notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests

Update Pipfile.lock files by piplock-renewal.yaml action
  Makefile
  jupyter/trustyai/ubi9-python-3.12/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.12/requirements.txt
Due: none

NO-ISSUE: bump PyTorch and ROCm-PyTorch versions to 2.6 in Jupyter notebook imagestreams
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
Due: none

RHOAIENG-30247: bump various dependency versions in 2024b imagestreams
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
Due: none

Update odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml
  .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-push.yaml
Due: none

fixup: add YAML document separator to all notebook imagestream manifests
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
Due: none

Update manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
Due: none

Update odh-workbench-rstudio-minimal-cuda-py311-c9s-push.yaml
  .tekton/odh-workbench-rstudio-minimal-cuda-py311-c9s-push.yaml
Due: none

RHOAIENG-30439: tekton: add PipelineRun definition for minimal CPU Python 3.12 UBI9 runtime
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-pull-request.yaml
Due: none

* fix arm64 platform name
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-pull-request.yaml
Due: none

* only build PRs in the `opendatahub-io/notebooks` repository
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-pull-request.yaml
Due: none
