Repository opendatahub-io/notebooks: changes, and which Prow jobs are due for each by the changed paths.
All: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

notebook-jupyter-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: jupyter-minimal-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: jupyter-minimal-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: jupyter-datascience-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: jupyter-datascience-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: cuda-jupyter-minimal-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: cuda-jupyter-minimal-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: cuda-jupyter-tensorflow-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: cuda-jupyter-tensorflow-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: cuda-jupyter-pytorch-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: cuda-jupyter-pytorch-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: jupyter-trustyai-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: jupyter-trustyai-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

runtime-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: runtime-minimal-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: runtime-minimal-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

runtime-ds-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: runtime-datascience-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: runtime-datascience-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: runtime-cuda-pytorch-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: runtime-cuda-pytorch-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebooks-ubi9-e2e-tests:
  steps:
    cluster_profile: gcp-opendatahub
    test:
    - as: jupyter-ubi9-python-3-11-test-e2e
      cli: latest
  ...

fixup, enable additional Python 3.12 Jupyter image builds in Makefile and fix bad syntax
  Makefile
Due: none

fixup, fix indentation issue in Makefile for Python 3.12 Jupyter image builds
  Makefile
Due: none

RHOAIENG-28514, RHOAIENG-28513: incorporate python-3.12 workbench images into project's Makefile in opendatahub-io/notebooks (#1247)
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/build-notebooks-push.yaml
  .github/workflows/piplock-renewal.yaml
  Makefile
  ci/cached-builds/gen_gha_matrix_jobs.py
  ci/cached-builds/gha_pr_changed_files.py
  ci/cached-builds/has_tests.py
  ci/cached-builds/makefile_helper.py
Due: none

creating jupyter rocm pytorch python 3.12 image
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Pipfile
  jupyter/rocm/pytorch/ubi9-python-3.12/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.12/de-vendor-torch.sh
  jupyter/rocm/pytorch/ubi9-python-3.12/kustomize/base/kustomization.yaml
  jupyter/rocm/pytorch/ubi9-python-3.12/kustomize/base/service.yaml
  jupyter/rocm/pytorch/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/test/test_notebook.ipynb
Due: none

creating rocm pytorch python 3.12
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Pipfile
  jupyter/rocm/pytorch/ubi9-python-3.12/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.12/de-vendor-torch.sh
  jupyter/rocm/pytorch/ubi9-python-3.12/kustomize/base/kustomization.yaml
  jupyter/rocm/pytorch/ubi9-python-3.12/kustomize/base/service.yaml
  jupyter/rocm/pytorch/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/test/test_notebook.ipynb
Due: none

Update Pipfile.lock files by piplock-renewal.yaml action
  codeserver/ubi9-python-3.11/Pipfile.lock
  codeserver/ubi9-python-3.11/requirements.txt
  jupyter/datascience/ubi9-python-3.11/Pipfile.lock
  jupyter/datascience/ubi9-python-3.11/requirements.txt
  jupyter/minimal/ubi9-python-3.11/Pipfile.lock
  jupyter/minimal/ubi9-python-3.11/requirements.txt
  jupyter/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/trustyai/ubi9-python-3.11/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.11/requirements.txt
  runtimes/datascience/ubi9-python-3.11/Pipfile.lock
  runtimes/datascience/ubi9-python-3.11/requirements.txt
  runtimes/minimal/ubi9-python-3.11/Pipfile.lock
  runtimes/minimal/ubi9-python-3.11/requirements.txt
  runtimes/pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-tensorflow/ubi9-python-3.11/requirements.txt
  runtimes/tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/tensorflow/ubi9-python-3.11/requirements.txt
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

add rocm pytorch 3.12 image to makefile
  Makefile
Due: none

Apply suggestions from code review
  Makefile
Due: none

RHOAIENG-27435: Create Rocm Pytorch Python 3.12 Image (#1249)
  Makefile
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Pipfile
  jupyter/rocm/pytorch/ubi9-python-3.12/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.12/de-vendor-torch.sh
  jupyter/rocm/pytorch/ubi9-python-3.12/kustomize/base/kustomization.yaml
  jupyter/rocm/pytorch/ubi9-python-3.12/kustomize/base/service.yaml
  jupyter/rocm/pytorch/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/test/test_notebook.ipynb
Due: none

Update Pipfile.lock files by piplock-renewal.yaml action
  jupyter/datascience/ubi9-python-3.12/Pipfile.lock
  jupyter/datascience/ubi9-python-3.12/requirements.txt
  jupyter/minimal/ubi9-python-3.12/Pipfile.lock
  jupyter/minimal/ubi9-python-3.12/requirements.txt
  jupyter/pytorch/ubi9-python-3.12/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.12/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.txt
  jupyter/tensorflow/ubi9-python-3.12/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.12/requirements.txt
Due: none

NO-JIRA fix(gha): prevent misleading compsize error in CI (#1257)
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

Converted all dockerfiles and requirements.txt file to work with uv
  jupyter/datascience/ubi9-python-3.11/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.11/Pipfile
  jupyter/datascience/ubi9-python-3.11/Pipfile.lock
  jupyter/datascience/ubi9-python-3.11/requirements.txt
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.11/Dockerfile.rocm
  jupyter/minimal/ubi9-python-3.11/Pipfile
  jupyter/minimal/ubi9-python-3.11/Pipfile.lock
  jupyter/minimal/ubi9-python-3.11/requirements.txt
  jupyter/pytorch/ubi9-python-3.11/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.11/Pipfile
  jupyter/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.11/Dockerfile.rocm
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/tensorflow/ubi9-python-3.11/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.11/Pipfile
  jupyter/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/trustyai/ubi9-python-3.11/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.11/Pipfile
  jupyter/trustyai/ubi9-python-3.11/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.11/requirements.txt
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, rocm-notebooks-e2e-tests, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests

Allow install_pdf_deps.sh to work for multiarch
  jupyter/datascience/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.11/Dockerfile.rocm
  jupyter/pytorch/ubi9-python-3.11/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.11/Dockerfile.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.11/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.11/Dockerfile.cpu
  jupyter/utils/install_pdf_deps.sh
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, rocm-notebooks-e2e-tests, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests

Install PDF deps where missing in 3.12 builds
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: none

Allow ODH codeserver image to be built for arm64
  codeserver/ubi9-python-3.11/Dockerfile.cpu
Due: codeserver-ubi9-python-3-11-pr-image-mirror, codeserver-notebook-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror

Update Pipfile.lock files by piplock-renewal.yaml action
  jupyter/datascience/ubi9-python-3.12/Pipfile.lock
  jupyter/datascience/ubi9-python-3.12/requirements.txt
  jupyter/pytorch/ubi9-python-3.12/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.12/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.txt
  jupyter/tensorflow/ubi9-python-3.12/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.12/requirements.txt
Due: none

replace 3.11 to 3.12
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Pipfile
  codeserver/ubi9-python-3.12/README.md
  codeserver/ubi9-python-3.12/kustomize/base/kustomization.yaml
Due: none

Update Pipfile.lock files by piplock-renewal.yaml action
  codeserver/ubi9-python-3.12/Pipfile.lock
Due: none

add to Makefile
  Makefile
Due: none

Update Pipfile.lock files by piplock-renewal.yaml action
  jupyter/minimal/ubi9-python-3.12/Pipfile.lock
Due: none

replace 3.11 to 3.12
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: none

Creating jupyter trustyai python 3.12 image
  Makefile
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/Pipfile
  jupyter/trustyai/ubi9-python-3.12/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.12/kustomize/base/kustomization.yaml
  jupyter/trustyai/ubi9-python-3.12/kustomize/base/service.yaml
  jupyter/trustyai/ubi9-python-3.12/kustomize/base/statefulset.yaml
  jupyter/trustyai/ubi9-python-3.12/requirements.txt
  jupyter/trustyai/ubi9-python-3.12/test/income-biased.csv
  jupyter/trustyai/ubi9-python-3.12/test/income-unbiased.csv
  jupyter/trustyai/ubi9-python-3.12/test/test_notebook.ipynb
Due: none

Allow using CUDA rpm repos for amd64 and arm64
  cuda/cuda.repo-amd64
  cuda/cuda.repo-arm64
  cuda/rhel9-python-3.11/NGC-DL-CONTAINER-LICENSE
  cuda/rhel9-python-3.11/cuda.repo-x86_64
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.11/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  rstudio/c9s-python-3.11/Dockerfile.cuda
  rstudio/rhel9-python-3.11/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.11/Dockerfile.cuda
  runtimes/tensorflow/ubi9-python-3.11/Dockerfile.cuda
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

Add multistage Dockerfile with split PDF build into separate TeX Live and Pandoc scripts
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cpu
  jupyter/utils/install_pandoc.sh
  jupyter/utils/install_texlive.sh
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests

NO-JIRA: add(gha): trivy security scanning of sources
  .github/workflows/security.yaml
Due: none

RHOAIENG-28509: Release new version of odh-elyra to get fix for RHOAIENG-25809
  jupyter/datascience/ubi9-python-3.11/Pipfile
  jupyter/datascience/ubi9-python-3.11/Pipfile.lock
  jupyter/datascience/ubi9-python-3.11/requirements.txt
  jupyter/datascience/ubi9-python-3.12/Pipfile
  jupyter/datascience/ubi9-python-3.12/Pipfile.lock
  jupyter/datascience/ubi9-python-3.12/requirements.txt
  jupyter/pytorch/ubi9-python-3.11/Pipfile
  jupyter/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/pytorch/ubi9-python-3.12/Pipfile
  jupyter/pytorch/ubi9-python-3.12/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.12/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.12/Pipfile
  jupyter/rocm/pytorch/ubi9-python-3.12/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.12/requirements.txt
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/tensorflow/ubi9-python-3.11/Pipfile
  jupyter/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/tensorflow/ubi9-python-3.12/Pipfile
  jupyter/tensorflow/ubi9-python-3.12/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.12/requirements.txt
  jupyter/trustyai/ubi9-python-3.11/Pipfile
  jupyter/trustyai/ubi9-python-3.11/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.11/requirements.txt
Due: notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, rocm-notebooks-e2e-tests, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests

NO-JIRA: configure kubelet to disable image garbage collection in kubeadm CI config
  ci/cached-builds/kubeadm.yaml
Due: none

NO-JIRA: configure kubelet to disable image garbage collection in kubeadm CI config (#1327)
  ci/cached-builds/kubeadm.yaml
Due: none

NO-JIRA: update Trivy version in CI and improve comments
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

NO-JIRA: update Trivy version in CI and improve comments (#1328)
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

Revert "RHOAIENG-16076: tests(gha): pre-pull trivy vulnerabilities db to prevent failures to download later (#777)"
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

Revert "RHOAIENG-16076: tests(gha): pre-pull trivy vulnerabilities db to prevent failures to download later (#777)" (#1329)
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

RHOAIENG-28774: add arm64 image support in CI scripts and GitHub Actions workflows
  .github/workflows/build-notebooks-TEMPLATE.yaml
  ci/cached-builds/gen_gha_matrix_jobs.py
Due: none

fixup, improve Podman installation process for arm64 and optimize caching in GitHub Actions workflows
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

Path conditions:
  notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)
  rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  ci/prow/runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  ci/prow/runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)
