Repository opendatahub-io/notebooks: changes, and which Prow jobs are due for each by the changed paths.
All: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

Path conditions:
  notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)
  rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror: any of: (codeserver\/ubi9-python-3.12\/*)
  ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.12\/*)
  ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.12\/*)
  ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)
  ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.12\/*)
  ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.12\/*)
  ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)
  ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.12\/*)
  ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)
  ci/prow/notebooks-py312-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)|(jupyter\/datascience\/ubi9-python-3.12\/*)|(jupyter\/pytorch\/ubi9-python-3.12\/*)|(jupyter\/tensorflow\/ubi9-python-3.12\/*)|(jupyter\/trustyai\/ubi9-python-3.12\/*)
  ci/prow/notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-notebooks-py312-e2e-tests: any of: (rocm\/ubi9-python-3.12\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.12\/*)
  ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.12\/*)
  ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.12\/*)
  ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.12\/*)
  ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.12\/*)
  ci/prow/runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  ci/prow/runtime-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.12\/*)
  ci/prow/runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)

Add support for local build
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Disable hermetic build
  .tekton/multiarch-pull-request-pipeline.yaml
  .tekton/multiarch-push-pipeline.yaml
Due: none

dnf module enable nodejs:22 -y
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Added --network=none
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

More debug
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

feat(tekton): add zstd:chunked compression for base images
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-push.yaml
Due: none

chore(tekton): update all base-image PipelineRuns to use compression pipeline
  .tekton/odh-base-image-cpu-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-c9s-push.yaml
  .tekton/odh-base-image-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cpu-py312-ubi9-push.yaml
  .tekton/odh-base-image-cuda-12-8-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-12-8-py312-c9s-push.yaml
  .tekton/odh-base-image-cuda-12-8-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-cuda-12-8-py312-ubi9-push.yaml
  .tekton/odh-base-image-cuda-13-0-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-13-0-py312-c9s-push.yaml
  .tekton/odh-base-image-cuda-py311-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-py311-c9s-push.yaml
  .tekton/odh-base-image-cuda-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-cuda-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-6-3-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-6-3-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-6-3-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-6-3-py312-ubi9-push.yaml
  .tekton/odh-base-image-rocm-6-4-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-push.yaml
  .tekton/odh-base-image-rocm-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-c9s-push.yaml
  .tekton/odh-base-image-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-ubi9-push.yaml
Due: none

fix(tekton): correct array result expansion syntax for IMAGES param
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
  .tekton/multiarch-pipeline.yaml
Due: none

fix(tekton): revert to compression after build-image-index
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
  .tekton/multiarch-pipeline.yaml
Due: none

fix(tekton): move compression before build-image-index and fix long task names
  .tekton/base-image-multiarch-push-pipeline.yaml
  .tekton/multiarch-pipeline.yaml
  .tekton/odh-base-image-cuda-py312-ubi9-pull-request.yaml
Due: none

fix(tekton): use buildah manifest inspect instead of skopeo
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
Due: none

fix(tekton): use correct jq format for array results
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
  .tekton/multiarch-pipeline.yaml
Due: none

fix(tekton): handle both manifest lists and single images in compression
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
Due: none

fix(tekton): add resource requests to convert-compression task
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
Due: none

chore(tekton): refactor compression process in pipelines
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
Due: none

feat(tekton): add taskRunSpecs for resource allocation in multiple pipelines
  .tekton/odh-base-image-rocm-6-3-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-6-3-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-6-4-py312-ubi9-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-c9s-pull-request.yaml
  .tekton/odh-base-image-rocm-py312-ubi9-pull-request.yaml
Due: none

fix(tekton): update IMAGE_URL param to use convert-compression task results
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
Due: none

Add GHA workflow to benchmark zstd:chunked vs gzip image pulls
  .github/workflows/benchmark-zstd-chunked.yaml
Due: none

Add build FROM image test to benchmark workflow
  .github/workflows/benchmark-zstd-chunked.yaml
Due: none

Add comprehensive benchmark workflow for zstd:chunked vs gzip
  .github/workflows/benchmark-zstd-chunked.yaml
Due: none

Test: Use zstd:chunked base images from PR 2868
  codeserver/ubi9-python-3.12/build-args/cpu.conf
  jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/cuda.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/rocm.conf
  jupyter/tensorflow/ubi9-python-3.12/build-args/cuda.conf
  jupyter/trustyai/ubi9-python-3.12/build-args/cpu.conf
  rstudio/c9s-python-3.12/build-args/cuda.conf
  runtimes/datascience/ubi9-python-3.12/build-args/cpu.conf
  runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/cuda.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/rocm.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

fix(tekton): fix manifest list handling for compression tasks
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
Due: none

fix(tekton): fix IMAGE_URL formatting for buildah manifest compatibility
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
Due: none

fix(tekton): improve IMAGE_URL parsing to handle ports vs tags
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
Due: none

docs: add package update procedure documentation
  docs/packageupdate.md
Due: none

Add kfp dependency workarounds for AIPCC-9537
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests

RHAIENG-1721: chore(pylocks): add AIPCC-enabled pylock for jupyter/datascience ubi9-python-3.12
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests

New changes
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/patches/README.md
  codeserver/ubi9-python-3.12/patches/code-server/ci/build-scripts/npm-postinstall.sh
  codeserver/ubi9-python-3.12/patches/code-server/lib-vscode/remote/package-lock.json
  codeserver/ubi9-python-3.12/patches/code-server/lib-vscode/remote/package.json
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Create snapshot
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/patches/README.md
  codeserver/ubi9-python-3.12/patches/code-server/ci/build-scripts/build-standalone-release.sh
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

RHAIENG-1721: add AIPCC-enabled pylock for jupyter/datascience ubi9-python-3.12 (#2879)
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
Due: ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests

RHAIENG-1721: chore(pyproject.tomls): deduplicate datascience deps as much as possible to better deal with AIPCC-9537
  codeserver/ubi9-python-3.12/pyproject.toml
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  dependencies/odh-notebooks-meta-runtime-datascience-deps/pyproject.toml
  dependencies/odh-notebooks-meta-workbench-datascience-deps/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
  scripts/pylocks_generator.sh
  tests/test_main.py
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

Update base images in build-args files to new digest-pinned versions.
  codeserver/ubi9-python-3.12/build-args/cpu.conf
  jupyter/datascience/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cpu.conf
  jupyter/minimal/ubi9-python-3.12/build-args/cuda.conf
  jupyter/minimal/ubi9-python-3.12/build-args/rocm.conf
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  jupyter/pytorch/ubi9-python-3.12/build-args/cuda.conf
  jupyter/rocm/pytorch/ubi9-python-3.12/build-args/rocm.conf
  jupyter/rocm/tensorflow/ubi9-python-3.12/build-args/rocm.conf
  jupyter/tensorflow/ubi9-python-3.12/build-args/cuda.conf
  jupyter/trustyai/ubi9-python-3.12/build-args/cpu.conf
  rstudio/c9s-python-3.12/build-args/cuda.conf
  runtimes/datascience/ubi9-python-3.12/build-args/cpu.conf
  runtimes/minimal/ubi9-python-3.12/build-args/cpu.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/build-args/cuda.conf
  runtimes/pytorch/ubi9-python-3.12/build-args/cuda.conf
  runtimes/rocm-pytorch/ubi9-python-3.12/build-args/rocm.conf
  runtimes/rocm-tensorflow/ubi9-python-3.12/build-args/rocm.conf
  runtimes/tensorflow/ubi9-python-3.12/build-args/cuda.conf
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

feat(tekton): improve buildah tasks with user namespace and debug support
  .tekton/base-image-multiarch-pull-request-pipeline.yaml
  .tekton/base-image-multiarch-push-pipeline.yaml
Due: none

New build version
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.cpu.vath
  codeserver/ubi9-python-3.12/get_code_server_rpm.sh
  codeserver/ubi9-python-3.12/patches/PATCHES.md
  codeserver/ubi9-python-3.12/patches/README.md
  codeserver/ubi9-python-3.12/patches/code-server/ci/build-scripts/build-standalone-release.sh
  codeserver/ubi9-python-3.12/patches/code-server/ci/build-scripts/npm-postinstall.sh
  codeserver/ubi9-python-3.12/patches/code-server/lib-vscode/remote/package-lock.json
  codeserver/ubi9-python-3.12/patches/code-server/lib-vscode/remote/package.json
  codeserver/ubi9-python-3.12/setup-offline-binaries.sh
  codeserver/ubi9-python-3.12/utils/codeserver-offline-env.sh
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Create another snapshot
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/patches/code-server/ci/build-scripts/build-standalone-release.sh
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Removed fix-shrinkwrap-paths.sh
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.cpu.vath
  codeserver/ubi9-python-3.12/fix-shrinkwrap-paths.sh
  codeserver/ubi9-python-3.12/patches/PATCHES.md
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

Attempt to rebuild
  codeserver/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror

RHAIENG-1721: chore(pyproject.tomls): deduplicate datascience deps as much as possible to better deal with AIPCC-9537 (#2892)
  codeserver/ubi9-python-3.12/pyproject.toml
  codeserver/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  dependencies/odh-notebooks-meta-runtime-datascience-deps/pyproject.toml
  dependencies/odh-notebooks-meta-workbench-datascience-deps/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.cuda.toml
  jupyter/minimal/ubi9-python-3.12/uv.lock.d/pylock.rocm.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/uv.lock.d/pylock.cpu.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
  scripts/pylocks_generator.sh
  tests/test_main.py
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

fix(manifests): revert accidental N-1 version changes for Pyodbc and Psycopg
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
Due: none

fix(manifests): revert accidental N-1 version changes for Pyodbc and Psycopg (#2893)
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
Due: none
