Repository opendatahub-io/notebooks: changes, and which Prow jobs are due for each by the changed paths.
All: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

notebook-jupyter-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: jupyter-minimal-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: jupyter-minimal-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: jupyter-datascience-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: jupyter-datascience-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: cuda-jupyter-minimal-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: cuda-jupyter-minimal-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: cuda-jupyter-tensorflow-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: cuda-jupyter-tensorflow-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: cuda-jupyter-pytorch-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: cuda-jupyter-pytorch-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: jupyter-trustyai-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: jupyter-trustyai-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

runtime-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: runtime-minimal-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: runtime-minimal-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

runtime-ds-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: runtime-datascience-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: runtime-datascience-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: runtime-cuda-pytorch-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: runtime-cuda-pytorch-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebooks-ubi9-e2e-tests:
  steps:
    cluster_profile: gcp-opendatahub
    test:
    - as: jupyter-ubi9-python-3-11-test-e2e
      cli: latest
  ...

include vllm package with llmcompressor
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Pipfile
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/requirements.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Pipfile
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Pipfile.lock
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/requirements.txt
Due: none

include vllm package with llmcompressor (#1038)
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Pipfile
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/requirements.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Pipfile
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Pipfile.lock
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/requirements.txt
Due: none

RHOAIENG-23584: test(run-rstudio.sh): fix tests to more correctly check for exposed env variables
  tests/containers/workbenches/rstudio/rstudio_test.py
Due: none

RHOAIENG-20553: fix(jupyter/utils/addon) fix vertical centering of the PatternFly spinner (#1029)
  jupyter/utils/addons/partial-head.html
Due: none

updated run-rstudio.sh to expose all env vars
  rstudio/c9s-python-3.11/run-rstudio.sh
  rstudio/rhel9-python-3.11/run-rstudio.sh
Due: rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, rstudio-notebook-e2e-tests, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests

RHOAIENG-23584: test(run-rstudio.sh): fix tests to more correctly check for exposed env variables (#1033)
  tests/containers/workbenches/rstudio/rstudio_test.py
Due: none

Updated notebooks via odh-sync-updater-14834036387 GitHub action (#1035)
  codeserver/ubi9-python-3.11/Pipfile
  codeserver/ubi9-python-3.11/Pipfile.lock
  codeserver/ubi9-python-3.11/requirements.txt
  jupyter/datascience/ubi9-python-3.11/Pipfile
  jupyter/datascience/ubi9-python-3.11/Pipfile.lock
  jupyter/datascience/ubi9-python-3.11/requirements.txt
  jupyter/minimal/ubi9-python-3.11/Pipfile.lock
  jupyter/minimal/ubi9-python-3.11/requirements.txt
  jupyter/pytorch/ubi9-python-3.11/Pipfile
  jupyter/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/trustyai/ubi9-python-3.11/Pipfile
  jupyter/trustyai/ubi9-python-3.11/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.11/requirements.txt
  runtimes/datascience/ubi9-python-3.11/Pipfile.lock
  runtimes/datascience/ubi9-python-3.11/requirements.txt
  runtimes/minimal/ubi9-python-3.11/Pipfile.lock
  runtimes/minimal/ubi9-python-3.11/requirements.txt
  runtimes/pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-tensorflow/ubi9-python-3.11/requirements.txt
  runtimes/tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/tensorflow/ubi9-python-3.11/requirements.txt
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

NO-JIRA: docs: update outdated internal docs after the buildchain refactoring (#1028)
  jupyter/utils/README.md
  jupyter/utils/addons/apply.sh
Due: none

fixup, node 22 compatibility
  jupyter/utils/addons/cleanup-webpack-plugin.ts
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/tsconfig.json
  jupyter/utils/addons/webpack.config.ts
Due: none

RHOAIENG-24181: chore(jupyter/utils/addons): tree-shake the PatternFly CSS used to add spinner to JupyterLab-based workbenches
  jupyter/utils/addons/.dockerignore
  jupyter/utils/addons/.gitignore
  jupyter/utils/addons/README.md
  jupyter/utils/addons/apply.sh
  jupyter/utils/addons/cleanup-webpack-plugin.mts
  jupyter/utils/addons/dist/index.html
  jupyter/utils/addons/dist/pf.css
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-lock.yaml
  jupyter/utils/addons/src/index.ejs
  jupyter/utils/addons/test-build.sh
  jupyter/utils/addons/tsconfig.json
  jupyter/utils/addons/webpack.config.ts
Due: none

RHOAIENG-23584: fix(run-rstudio.sh): expose all env vars (#1037)
  rstudio/c9s-python-3.11/run-rstudio.sh
  rstudio/rhel9-python-3.11/run-rstudio.sh
Due: rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, rstudio-notebook-e2e-tests, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests

fixup Remove linter for tsconfig.json, it is making unreasonable demands
  .github/workflows/code-quality.yaml
Due: none

RHOAIENG-24181: chore(jupyter/utils/addons): tree-shake the PatternFly CSS used to add spinner to JupyterLab-based workbenches (#1024)
  .github/workflows/code-quality.yaml
  jupyter/utils/addons/.dockerignore
  jupyter/utils/addons/.gitignore
  jupyter/utils/addons/README.md
  jupyter/utils/addons/apply.sh
  jupyter/utils/addons/cleanup-webpack-plugin.ts
  jupyter/utils/addons/dist/index.html
  jupyter/utils/addons/dist/pf.css
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-lock.yaml
  jupyter/utils/addons/src/index.ejs
  jupyter/utils/addons/test-build.sh
  jupyter/utils/addons/tsconfig.json
  jupyter/utils/addons/webpack.config.ts
Due: none

NO-JIRA: docs(tests/): add interactive PyTest tutorial (#894)
  tests/pytest_tutorial/test_01_intro.py
Due: none

NO-JIRA: Fix linter warnings in test_01_intro.py
  tests/pytest_tutorial/test_01_intro.py
Due: none

NO-JIRA: Fix linter warnings in test_01_intro.py (#1039)
  tests/pytest_tutorial/test_01_intro.py
Due: none

Adding test and fixing path
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.11/Dockerfile.rocm
  jupyter/minimal/ubi9-python-3.11/start-notebook.sh
  tests/containers/workbenches/jupyterlab/jupyterlab_test.py
  tests/containers/workbenches/jupyterlab/test.ipynb
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests

Fixing Script file name
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.11/Dockerfile.rocm
  jupyter/utils/install_tex_live.sh
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests

Using minimal tmp file instead a fixed file
  logs/pytest-logs.txt
  tests/containers/workbenches/jupyterlab/jupyterlab_test.py
  tests/containers/workbenches/jupyterlab/test.ipynb
Due: none

Removing and ignoring logs
  .gitignore
  logs/pytest-logs.txt
Due: none

Adding tex live to missing Dockerfiles
  jupyter/datascience/ubi9-python-3.11/Dockerfile.cpu
  jupyter/pytorch/ubi9-python-3.11/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.11/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.11/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.11/Dockerfile.cpu
Due: notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, rocm-notebooks-e2e-tests, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests

Formatting
  tests/containers/workbenches/jupyterlab/jupyterlab_test.py
Due: none

Update Pipfile.lock files by piplock-renewal.yaml action
  codeserver/ubi9-python-3.11/Pipfile.lock
  codeserver/ubi9-python-3.11/requirements.txt
  jupyter/datascience/ubi9-python-3.11/Pipfile.lock
  jupyter/datascience/ubi9-python-3.11/requirements.txt
  jupyter/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/trustyai/ubi9-python-3.11/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.11/requirements.txt
  runtimes/datascience/ubi9-python-3.11/Pipfile.lock
  runtimes/datascience/ubi9-python-3.11/requirements.txt
  runtimes/pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-tensorflow/ubi9-python-3.11/requirements.txt
  runtimes/tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/tensorflow/ubi9-python-3.11/requirements.txt
Due: notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

NO-JIRA: tests(containers): Add GPU support and pod exec functionality in tests
  tests/containers/kubernetes_utils.py
  tests/containers/workbenches/accelerator_image_test.py
Due: none

Review changes
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cpu
  jupyter/utils/install_tex_live.sh
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests

NO-JIRA: tests(gha/k8s): install contrack and address kubernetes version compatibility issues
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

NO-JIRA: tests(gha/k8s): install contrack and address kubernetes version compatibility issues (#1043)
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

Update ODH-Elyra to 4.2.1
  jupyter/datascience/ubi9-python-3.11/Pipfile
  jupyter/datascience/ubi9-python-3.11/Pipfile.lock
  jupyter/datascience/ubi9-python-3.11/requirements.txt
  jupyter/pytorch/ubi9-python-3.11/Pipfile
  jupyter/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile
  jupyter/rocm/pytorch/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/pytorch/ubi9-python-3.11/requirements.txt
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile
  jupyter/rocm/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/rocm/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/tensorflow/ubi9-python-3.11/Pipfile
  jupyter/tensorflow/ubi9-python-3.11/Pipfile.lock
  jupyter/tensorflow/ubi9-python-3.11/requirements.txt
  jupyter/trustyai/ubi9-python-3.11/Pipfile
  jupyter/trustyai/ubi9-python-3.11/Pipfile.lock
  jupyter/trustyai/ubi9-python-3.11/requirements.txt
Due: notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, rocm-notebooks-e2e-tests, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests

NO-JIRA: tests(browser/): update dependencies in pnpm-lock.yaml
  .github/workflows/build-notebooks-TEMPLATE.yaml
  tests/browser/package.json
  tests/browser/pnpm-lock.yaml
  tests/browser/tests/codeserver.spec.ts
Due: none

NO-JIRA: tests(browser/): update dependencies in pnpm-lock.yaml (#1046)
  .github/workflows/build-notebooks-TEMPLATE.yaml
  tests/browser/package.json
  tests/browser/pnpm-lock.yaml
  tests/browser/tests/codeserver.spec.ts
Due: none

Red Hat Konflux purge jupyter-trustyai-ubi9-python-3-11 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/jupyter-trustyai-ubi9-python-3-11-pull-request.yaml
  .tekton/jupyter-trustyai-ubi9-python-3-11-push.yaml
Due: none

Red Hat Konflux purge cuda-jupyter-tensorflow-ubi9-python-3-11 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/cuda-jupyter-tensorflow-ubi9-python-3-11-pull-request.yaml
  .tekton/cuda-jupyter-tensorflow-ubi9-python-3-11-push.yaml
Due: none

Red Hat Konflux purge runtime-datascience-ubi9-python-3-11 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/runtime-datascience-ubi9-python-3-11-pull-request.yaml
  .tekton/runtime-datascience-ubi9-python-3-11-push.yaml
Due: none

Red Hat Konflux purge rocm-runtime-tensorflow-ubi9-python-3-11 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/rocm-runtime-tensorflow-ubi9-python-3-11-pull-request.yaml
  .tekton/rocm-runtime-tensorflow-ubi9-python-3-11-push.yaml
Due: none

Red Hat Konflux purge jupyter-minimal-ubi9-python-3-11 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/jupyter-minimal-ubi9-python-3-11-pull-request.yaml
  .tekton/jupyter-minimal-ubi9-python-3-11-push.yaml
Due: none

Red Hat Konflux purge cuda-jupyter-minimal-ubi9-python-3-11 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/cuda-jupyter-minimal-ubi9-python-3-11-pull-request.yaml
  .tekton/cuda-jupyter-minimal-ubi9-python-3-11-push.yaml
Due: none

Red Hat Konflux purge jupyter-datascience-ubi9-python-3-11 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/jupyter-datascience-ubi9-python-3-11-pull-request.yaml
  .tekton/jupyter-datascience-ubi9-python-3-11-push.yaml
Due: none

Red Hat Konflux purge rocm-jupyter-minimal-ubi9-python-3-11 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/rocm-jupyter-minimal-ubi9-python-3-11-pull-request.yaml
  .tekton/rocm-jupyter-minimal-ubi9-python-3-11-push.yaml
Due: none

Red Hat Konflux purge rocm-runtime-pytorch-ubi9-python-3-11 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/rocm-runtime-pytorch-ubi9-python-3-11-pull-request.yaml
  .tekton/rocm-runtime-pytorch-ubi9-python-3-11-push.yaml
Due: none

Red Hat Konflux purge cuda-jupyter-pytorch-ubi9-python-3-11 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/cuda-jupyter-pytorch-ubi9-python-3-11-pull-request.yaml
  .tekton/cuda-jupyter-pytorch-ubi9-python-3-11-push.yaml
Due: none

Path conditions:
  notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)
  rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  ci/prow/runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  ci/prow/runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)
