Repository opendatahub-io/notebooks: changes, and which Prow jobs are due for each by the changed paths.
All: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

Path conditions:
  notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)
  rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  ci/prow/runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  ci/prow/runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)

include vllm package with llmcompressor (#1038)
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Pipfile
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/requirements.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Pipfile
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Pipfile.lock
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/requirements.txt
Due: none

Include new workbench and runtime with llmcompressor (#999)
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Pipfile
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/kustomize/base/kustomization.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/kustomize/base/service.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/kustomize/base/statefulset.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/kustomize/components/accelerator/kustomization.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/kustomize/components/accelerator/pod-patch.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/kustomize/overlays/accelerator/cuda/kustomization.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/kustomize/overlays/accelerator/cuda/pod-patch.yaml
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/requirements.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/runtime-images/llmcompressor-pytorch-ubi9-py311.json
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Pipfile
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Pipfile.lock
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/kustomize/base/kustomization.yaml
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/kustomize/base/pod.yaml
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/kustomize/components/accelerator/kustomization.yaml
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/kustomize/components/accelerator/pod-patch.yaml
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/kustomize/overlays/accelerator/cuda/kustomization.yaml
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/kustomize/overlays/accelerator/cuda/pod-patch.yaml
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/requirements.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/utils/bootstrapper.py
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/utils/pip.conf
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/utils/requirements-elyra.txt
Due: none

Upgrade llmcompressor to version 0.5 (#1010)
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Pipfile
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/requirements.txt
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/runtime-images/llmcompressor-pytorch-ubi9-py311.json
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Pipfile
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Pipfile.lock
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/requirements.txt
Due: none

Add TARGETARCH to CUDA Dockerfiles for pytorch+llmcompressor builds
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
Due: none

Issue opendatahub-io/notebooks#1598: add support for `pytorch+llmcompressor` variants to Makefile for jupyter and runtime CUDA images
  Makefile
Due: none

RHOAIENG-26513: tests(containers): skip torchaudio test
  tests/containers/workbenches/jupyterlab/libraries_testunits.py
Due: none

Issue opendatahub-io/notebooks#1598: Update Dockerfile: add mongocli build stage, improve PDF export, and optimize dependencies handling
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
Due: none

Update CUDA version to 12.4.1 in pytorch+llmcompressor Dockerfile
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
Due: none

Update CUDA version to 12.4.1 in pytorch+llmcompressor Dockerfile
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
Due: none

Issue opendatahub-io/notebooks#1598: RHAIENG-337: add support for `pytorch+llmcompressor` variants to Makefile for jupyter and runtime CUDA images (#1600)
  Makefile
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
Due: none

opendatahub-io/notebooks#1589: improve comment clarity in ROCm TensorFlow Dockerfile (#1596)
  runtimes/rocm-tensorflow/ubi9-python-3.11/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
Due: rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, rocm-runtimes-ubi9-e2e-tests, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests

Issue opendatahub-io/notebooks#385: refactor(Dockerfile.cuda): clean up commented-out CUDA and cudnn9 installation
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
Due: none

Update Pipfile.lock for Python 3.11
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Pipfile.lock
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/requirements.txt
  runtimes/datascience/ubi9-python-3.11/Pipfile.lock
  runtimes/datascience/ubi9-python-3.11/requirements.txt
  runtimes/minimal/ubi9-python-3.11/Pipfile.lock
  runtimes/minimal/ubi9-python-3.11/requirements.txt
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/requirements.txt
  runtimes/pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-pytorch/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-pytorch/ubi9-python-3.11/requirements.txt
  runtimes/rocm-tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/rocm-tensorflow/ubi9-python-3.11/requirements.txt
  runtimes/tensorflow/ubi9-python-3.11/Pipfile.lock
  runtimes/tensorflow/ubi9-python-3.11/requirements.txt
Due: runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, runtimes-ubi9-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

RHOAIENG-21690: chore(Dockerfiles): augument micropipenv with uv for faster package installs
  codeserver/ubi9-python-3.11/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.11/Dockerfile.rocm
  jupyter/pytorch/ubi9-python-3.11/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.11/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.11/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
  runtimes/datascience/ubi9-python-3.11/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.11/Dockerfile.cpu
  runtimes/pytorch/ubi9-python-3.11/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.11/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.11/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.11/Dockerfile.cuda
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

redo the install with uv from requirements.txt
  codeserver/ubi9-python-3.11/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.11/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.11/Dockerfile.rocm
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch/ubi9-python-3.11/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.11/Dockerfile.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.11/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.11/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
  rstudio/rhel9-python-3.11/Dockerfile.cpu
  rstudio/rhel9-python-3.11/Dockerfile.cuda
  runtimes/datascience/ubi9-python-3.11/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.11/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch/ubi9-python-3.11/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.11/Dockerfile.rocm
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.11/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

use `requirements.txt` instead of `Pipfile.lock` across all Dockerfiles for consistency
  codeserver/ubi9-python-3.11/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.11/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.11/Dockerfile.rocm
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch/ubi9-python-3.11/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.11/Dockerfile.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.11/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.11/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.11/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.11/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch/ubi9-python-3.11/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.11/Dockerfile.rocm
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.11/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

remove `rm -f ./Pipfile.lock` from Dockerfiles
  codeserver/ubi9-python-3.11/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.11/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.11/Dockerfile.rocm
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch/ubi9-python-3.11/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.11/Dockerfile.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.11/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.11/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
  rstudio/rhel9-python-3.11/Dockerfile.cpu
  rstudio/rhel9-python-3.11/Dockerfile.cuda
  runtimes/datascience/ubi9-python-3.11/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.11/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch/ubi9-python-3.11/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.11/Dockerfile.rocm
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.11/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

fixup clean up typo in TensorFlow CUDA Dockerfile
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile.cuda
Due: notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests

fix: minor adjustments to CUDA Dockerfile formatting and comments
  jupyter/pytorch/ubi9-python-3.11/Dockerfile.cuda
Due: notebooks-ubi9-e2e-tests, ci/prow/notebooks-ubi9-e2e-tests

use `requirements.txt` instead of `Pipfile.lock` for package installs
  codeserver/ubi9-python-3.11/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.11/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.11/Dockerfile.rocm
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch/ubi9-python-3.11/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.11/Dockerfile.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.11/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.11/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
  rstudio/rhel9-python-3.11/Dockerfile.cpu
  rstudio/rhel9-python-3.11/Dockerfile.cuda
  runtimes/datascience/ubi9-python-3.11/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.11/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch/ubi9-python-3.11/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.11/Dockerfile.rocm
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.11/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

Update uv-guide.md
  docs/uv-guide.md
Due: none

Update Kustomize API version
  jupyter/pytorch/ubi9-python-3.12/kustomize/components/accelerator/kustomization.yaml
Due: none

Update Pipfile.lock for Python 3.12
  runtimes/datascience/ubi9-python-3.12/Pipfile.lock
  runtimes/datascience/ubi9-python-3.12/requirements.txt
  runtimes/minimal/ubi9-python-3.12/Pipfile.lock
  runtimes/minimal/ubi9-python-3.12/requirements.txt
  runtimes/pytorch/ubi9-python-3.12/Pipfile.lock
  runtimes/pytorch/ubi9-python-3.12/requirements.txt
  runtimes/rocm-pytorch/ubi9-python-3.12/Pipfile.lock
  runtimes/rocm-pytorch/ubi9-python-3.12/requirements.txt
  runtimes/tensorflow/ubi9-python-3.12/Pipfile.lock
  runtimes/tensorflow/ubi9-python-3.12/requirements.txt
Due: none

Issue opendatahub-io/notebooks#385: refactor(Dockerfile.cuda): clean up commented-out CUDA and cudnn9 installation (#1599)
  jupyter/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
  runtimes/pytorch+llmcompressor/ubi9-python-3.11/Dockerfile.cuda
Due: none

RHOAIENG-26513: tests(containers): skip torchaudio test (#1601)
  tests/containers/workbenches/jupyterlab/libraries_testunits.py
Due: none

Update README.md
  scripts/README.md
Due: none

Issue #1373: feat(sandbox): add multi-platform support through `--platform` CLI argument
  Makefile
  scripts/buildinputs/buildinputs.go
  scripts/buildinputs/buildinputs_test.go
  scripts/buildinputs/dockerfile.go
  scripts/sandbox.py
Due: none

fixup, add multi-platform support with GOARCH detection and `TARGETPLATFORM` env in gha_pr_changed_files.py
  ci/cached-builds/gha_pr_changed_files.py
Due: none

Issue #1373: feat(sandbox): add multi-platform support through `--platform` CLI argument (#1629)
  Makefile
  ci/cached-builds/gha_pr_changed_files.py
  scripts/buildinputs/buildinputs.go
  scripts/buildinputs/buildinputs_test.go
  scripts/buildinputs/dockerfile.go
  scripts/sandbox.py
Due: none

Remove upstream tekton pipeline artifacts
  .tekton/multiarch-pull-request-pipeline.yaml
  .tekton/odh-pipeline-runtime-datascience-cpu-py311-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py311-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-minimal-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py311-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py311-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-pytorch-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py311-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py311-ubi9-pull-request.yaml
  .tekton/odh-pipeline-runtime-tensorflow-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-codeserver-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-datascience-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-minimal-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-pytorch-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-cuda-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-tensorflow-rocm-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py311-ubi9-pull-request.yaml
  .tekton/odh-workbench-jupyter-trustyai-cpu-py312-ubi9-pull-request.yaml
  .tekton/odh-workbench-rstudio-minimal-cpu-py311-c9s-pull-request.yaml
  .tekton/odh-workbench-rstudio-minimal-cuda-py311-c9s-pull-request.yaml
Due: none

update runtime-minimal-python312 image for ppc64le
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
Due: none

NO-JIRA: explain pre-commit usage in `CONTRIBUTING.md`
  CONTRIBUTING.md
Due: none

fixup typo
  CONTRIBUTING.md
Due: none

NO-JIRA: explain `pre-commit` usage in `CONTRIBUTING.md` (#1633)
  CONTRIBUTING.md
Due: none

Issue #1631: fix(scripts/buildinputs/) validate `TARGETPLATFORM` environment variable
  scripts/buildinputs/buildinputs.go
Due: none

feat(scripts): add `dockerfile_fragments.py` for managing Dockerfile blocks (#1588)
  codeserver/ubi9-python-3.11/Dockerfile.cpu
  codeserver/ubi9-python-3.12/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.11/Dockerfile.cpu
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.11/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.11/Dockerfile.rocm
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cpu
  jupyter/minimal/ubi9-python-3.12/Dockerfile.cuda
  jupyter/minimal/ubi9-python-3.12/Dockerfile.rocm
  jupyter/pytorch/ubi9-python-3.11/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.11/Dockerfile.rocm
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.11/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.11/Dockerfile.cpu
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cpu
  rstudio/c9s-python-3.11/Dockerfile.cuda
  rstudio/rhel9-python-3.11/Dockerfile.cpu
  rstudio/rhel9-python-3.11/Dockerfile.cuda
  runtimes/datascience/ubi9-python-3.11/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.11/Dockerfile.cpu
  runtimes/minimal/ubi9-python-3.12/Dockerfile.cpu
  runtimes/pytorch/ubi9-python-3.11/Dockerfile.cuda
  runtimes/pytorch/ubi9-python-3.12/Dockerfile.cuda
  runtimes/rocm-pytorch/ubi9-python-3.11/Dockerfile.rocm
  runtimes/rocm-pytorch/ubi9-python-3.12/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.11/Dockerfile.rocm
  runtimes/rocm-tensorflow/ubi9-python-3.12/Dockerfile.rocm
  runtimes/tensorflow/ubi9-python-3.11/Dockerfile.cuda
  runtimes/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  scripts/README.md
  scripts/dockerfile_fragments.py
Due: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

Issue #1631: fix(scripts/buildinputs/) validate `TARGETPLATFORM` environment variable (#1634)
  scripts/buildinputs/buildinputs.go
Due: none
