Repository opendatahub-io/notebooks: changes, and which Prow jobs are due for each by the changed paths.
All: notebook-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, runtime-ubi9-python-3-11-pr-image-mirror, runtime-ds-ubi9-python-3-11-pr-image-mirror, runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, codeserver-ubi9-python-3-11-pr-image-mirror, rstudio-c9s-python-3-11-pr-image-mirror, cuda-rstudio-c9s-python-3-11-pr-image-mirror, notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, notebooks-ubi9-e2e-tests, codeserver-notebook-e2e-tests, rstudio-notebook-e2e-tests, runtimes-ubi9-e2e-tests, rocm-notebooks-e2e-tests, rocm-runtimes-ubi9-e2e-tests, ci/prow/codeserver-notebook-e2e-tests, ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror, ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/notebooks-ubi9-e2e-tests, ci/prow/rocm-notebooks-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/rocm-runtimes-ubi9-e2e-tests, ci/prow/rstudio-c9s-python-3-11-pr-image-mirror, ci/prow/rstudio-notebook-e2e-tests, ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-11-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror, ci/prow/runtimes-ubi9-e2e-tests

notebook-jupyter-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: jupyter-minimal-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: jupyter-minimal-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: jupyter-datascience-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: jupyter-datascience-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: cuda-jupyter-minimal-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: cuda-jupyter-minimal-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: cuda-jupyter-tensorflow-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: cuda-jupyter-tensorflow-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: cuda-jupyter-pytorch-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: cuda-jupyter-pytorch-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: jupyter-trustyai-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: jupyter-trustyai-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

runtime-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: runtime-minimal-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: runtime-minimal-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

runtime-ds-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: runtime-datascience-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: runtime-datascience-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: runtime-cuda-pytorch-ubi9-python-3.11
    env:
      IMAGE_REPO: workbench-images
      IMAGE_TAG: YearIndex
      RELEASE_VERSION: runtime-cuda-pytorch-ubi9-python-3.11
    workflow: opendatahub-io-ci-image-mirror

notebooks-ubi9-e2e-tests:
  steps:
    cluster_profile: gcp-opendatahub
    test:
    - as: jupyter-ubi9-python-3-11-test-e2e
      cli: latest
  ...

RHAISTRAT-1014, RHAIENG-2609: chore(dependencies): update LLM Compressor to 0.9.0
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  dependencies/odh-notebooks-meta-llmcompressor-deps/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  rstudio/c9s-python-3.12/pylock.toml
  rstudio/rhel9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  scripts/pylocks_generator.sh
  tests/test_main.py
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

NO-JIRA: chore(dependencies): upgrade `pnpm-lock.yaml` to update several dependencies and address version consistency issues (#2806)
  jupyter/utils/addons/dist/pf.css
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-lock.yaml
Due: none

Bump codeflare-sdk version from 0.33 to 0.34
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  manifests/base/jupyter-datascience-notebook-imagestream.yaml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  manifests/base/jupyter-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-pytorch-notebook-imagestream.yaml
  manifests/base/jupyter-rocm-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-tensorflow-notebook-imagestream.yaml
  manifests/base/jupyter-trustyai-notebook-imagestream.yaml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
Due: ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror

chore:bump tornado to v6.5.3
  runtimes/minimal/ubi9-python-3.12/pyproject.toml
  tests/test_main.py
Due: ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

RHAIENG-2458: CVE-2025-66418 urllib3 decompression vulnerability
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

RHAIENG-2458: CVE-2025-66418 urllib3 decompression vulnerability (#2818)
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pyproject.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

Updated the urllib3 which affacted Unbounded decompression chain leads to resource exhaustion.
  tests/test_main.py
Due: none

NO-JIRA: chore(dockerfile_fragments): add `mongocli-builder` stage into dockerfile_fragments.py templates (#2798)
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/Dockerfile.cuda
  jupyter/pytorch/ubi9-python-3.12/Dockerfile.cuda
  jupyter/rocm/pytorch/ubi9-python-3.12/Dockerfile.rocm
  jupyter/rocm/tensorflow/ubi9-python-3.12/Dockerfile.rocm
  jupyter/tensorflow/ubi9-python-3.12/Dockerfile.cuda
  jupyter/trustyai/ubi9-python-3.12/Dockerfile.cpu
  scripts/dockerfile_fragments.py
Due: ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests

Update webpack-dev-server from 5.2.2 to 5.2.3
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-lock.yaml
Due: none

NO-JIRA: refactor(.github/workflows): use JSON-based platform runner mapping and add README for runners
  .github/README.md
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

NO-JIRA: refactor(.github/workflows): use JSON-based platform runner mapping and add `README.md` for runners
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

NO-JIRA: refactor(.github/workflows): use JSON-based platform runner mapping and add README for runners (#2774)
  .github/README.md
  .github/workflows/build-notebooks-TEMPLATE.yaml
Due: none

Clean up ignored_exceptions: remove single-version entries
  tests/test_main.py
Due: none

Update test_image_pyprojects_version_alignment with stale exception check
  tests/test_main.py
Due: none

NO-JIRA: tests(test_main.py): clean up `ignored_exceptions`: remove single-version entries (#2820)
  tests/test_main.py
Due: none

NO-JIRA: tests(pytest): speed up pytest collection by limiting search paths
  pytest.ini
Due: none

pytest.ini: Add explicit test discovery patterns and cache_dir configuration
  pytest.ini
Due: none

NO-JIRA: tests(pytest): speed up pytest collection by limiting search paths (#2821)
  pytest.ini
Due: none

RHAISTRAT-1014, RHAIENG-2609: chore(dependencies): update LLM Compressor to 0.9.0 (#2807)
  codeserver/ubi9-python-3.12/pylock.toml
  codeserver/ubi9-python-3.12/pyproject.toml
  dependencies/odh-notebooks-meta-llmcompressor-deps/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pyproject.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pyproject.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  manifests/base/jupyter-pytorch-llmcompressor-imagestream.yaml
  rstudio/c9s-python-3.12/pylock.toml
  rstudio/rhel9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  scripts/pylocks_generator.sh
  tests/test_main.py
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

RHAISTRAT-1014, RHAIENG-2609: chore(dependencies): update LLM Compressor to 0.9.0
  tests/test_main.py
Due: none

NO-JIRA: chore(dependencies): replace Elyra dependencies with `odh-notebooks-meta-runtime-elyra-deps` meta-package
  dependencies/odh-notebooks-meta-runtime-elyra-deps/pyproject.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/minimal/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
Due: ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

fixups
  codeserver/ubi9-python-3.12/pylock.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  rstudio/c9s-python-3.12/pylock.toml
  rstudio/rhel9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  scripts/pylocks_generator.sh
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

version alignment test fixes
  tests/test_main.py
Due: none

undo numpy undo
  tests/test_main.py
Due: none

RHAIENG-2440: deps(jupyter/utils/addons): webpack-dev-server from 5.2.2 to 5.2.3
  jupyter/utils/addons/package.json5
  jupyter/utils/addons/pnpm-lock.yaml
Due: none

RHAIENG-2509: chore(dependencies): centralize Elyra dependencies in `odh-notebooks-meta-runtime-elyra-deps` meta-package (#2823)
  codeserver/ubi9-python-3.12/pylock.toml
  dependencies/odh-notebooks-meta-runtime-elyra-deps/pyproject.toml
  jupyter/datascience/ubi9-python-3.12/pylock.toml
  jupyter/minimal/ubi9-python-3.12/pylock.toml
  jupyter/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  jupyter/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/pytorch/ubi9-python-3.12/pylock.toml
  jupyter/rocm/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/tensorflow/ubi9-python-3.12/pylock.toml
  jupyter/trustyai/ubi9-python-3.12/pylock.toml
  rstudio/c9s-python-3.12/pylock.toml
  rstudio/rhel9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pylock.toml
  runtimes/datascience/ubi9-python-3.12/pyproject.toml
  runtimes/minimal/ubi9-python-3.12/pylock.toml
  runtimes/minimal/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pylock.toml
  runtimes/pytorch+llmcompressor/ubi9-python-3.12/pyproject.toml
  runtimes/pytorch/ubi9-python-3.12/pylock.toml
  runtimes/pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pylock.toml
  runtimes/rocm-pytorch/ubi9-python-3.12/pyproject.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/rocm-tensorflow/ubi9-python-3.12/pyproject.toml
  runtimes/tensorflow/ubi9-python-3.12/pylock.toml
  runtimes/tensorflow/ubi9-python-3.12/pyproject.toml
  scripts/pylocks_generator.sh
  tests/test_main.py
Due: ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/rocm-notebooks-py312-e2e-tests, ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/runtime-ubi9-python-3-12-pr-image-mirror

RHAIENG-2458: fix(ppc64le): Update ONNX version to 1.20.1 to match pylock.toml
  jupyter/datascience/ubi9-python-3.12/Dockerfile.cpu
  runtimes/datascience/ubi9-python-3.12/Dockerfile.cpu
Due: ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror, ci/prow/notebooks-py312-ubi9-e2e-tests, ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror

chore(deps): update actions/checkout v5 → v6
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/build-notebooks-push.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/create-release.yaml
  .github/workflows/docs.yaml
  .github/workflows/notebooks-digest-updater.yaml
  .github/workflows/notebooks-release.yaml
  .github/workflows/params-env.yaml
  .github/workflows/piplock-renewal.yaml
  .github/workflows/pr-merge-image-delete.yml
  .github/workflows/sec-scan.yml
  .github/workflows/security.yaml
  .github/workflows/software-versions.yaml
  .github/workflows/sync-branches-through-pr.yml
  .github/workflows/test-install-podman.yaml
  .github/workflows/test-provision-k8s.yaml
  .github/workflows/test-trivy-scan-action.yaml
  .github/workflows/update-buildconfigs.yaml
  .github/workflows/update-commit-latest-env.yaml
  .github/workflows/update-tags.yaml
Due: none

chore(deps): update actions/setup-go v5 → v6
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/build-notebooks-push.yaml
Due: none

chore(deps): update actions/setup-python v5 → v6
  .github/workflows/piplock-renewal.yaml
  .github/workflows/sec-scan.yml
Due: none

chore(deps): update actions/cache v4 → v5
  .github/actions/install-podman-action/action.yml
Due: none

chore(deps): update actions/github-script v7 → v8
  .github/workflows/notify-team-to-review-pr.yml
  .github/workflows/pr-merge-image-delete.yml
Due: none

chore(deps): update actions/add-to-project v0.5.0 → v1
  .github/workflows/auto-add-issue-to-project.yml
Due: none

chore(deps): update peter-evans/create-pull-request v6.1.0 → v8.0.0
  .github/workflows/sync-branches-through-pr.yml
Due: none

chore(deps): update snok/container-retention-policy v3.0.0 → v3.0.1
  .github/workflows/purge-ghcr.yaml
Due: none

NO-JIRA: chore(deps): update external GitHub Actions to latest versions (#2827)
  .github/actions/install-podman-action/action.yml
  .github/workflows/auto-add-issue-to-project.yml
  .github/workflows/build-notebooks-TEMPLATE.yaml
  .github/workflows/build-notebooks-pr-aipcc.yaml
  .github/workflows/build-notebooks-pr-rhel.yaml
  .github/workflows/build-notebooks-pr.yaml
  .github/workflows/build-notebooks-push.yaml
  .github/workflows/code-quality.yaml
  .github/workflows/create-release.yaml
  .github/workflows/docs.yaml
  .github/workflows/notebooks-digest-updater.yaml
  .github/workflows/notebooks-release.yaml
  .github/workflows/notify-team-to-review-pr.yml
  .github/workflows/params-env.yaml
  .github/workflows/piplock-renewal.yaml
  .github/workflows/pr-merge-image-delete.yml
  .github/workflows/purge-ghcr.yaml
  .github/workflows/sec-scan.yml
  .github/workflows/security.yaml
  .github/workflows/software-versions.yaml
  .github/workflows/sync-branches-through-pr.yml
  .github/workflows/test-install-podman.yaml
  .github/workflows/test-provision-k8s.yaml
  .github/workflows/test-trivy-scan-action.yaml
  .github/workflows/update-buildconfigs.yaml
  .github/workflows/update-commit-latest-env.yaml
  .github/workflows/update-tags.yaml
Due: none

RHOAIENG-32156: Write a test to verify the trash extension is correctly installed in the Notebook Images
  tests/containers/workbenches/jupyterlab/jupyterlab_test.py
Due: none

Path conditions:
  notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)
  rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/codeserver-notebook-e2e-tests: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/codeserver-ubi9-python-3-11-pr-image-mirror: any of: (codeserver\/ubi9-python-3.11\/*)
  ci/prow/codeserver-ubi9-python-3-12-pr-image-mirror: any of: (codeserver\/ubi9-python-3.12\/*)
  ci/prow/cuda-rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-pt-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.12\/*)
  ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-tf-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/tensorflow\/ubi9-python-3.12\/*)
  ci/prow/notebook-cuda-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-cuda-jupyter-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)
  ci/prow/notebook-jupyter-ds-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ds-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/datascience\/ubi9-python-3.12\/*)
  ci/prow/notebook-jupyter-tai-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-tai-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/trustyai\/ubi9-python-3.12\/*)
  ci/prow/notebook-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-jupyter-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)
  ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-pt-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/rocm\/pytorch\/ubi9-python-3.12\/*)
  ci/prow/notebook-rocm-jupyter-tf-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-ubi9-python-3-11-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)
  ci/prow/notebook-rocm-jupyter-ubi9-python-3-12-pr-image-mirror: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)
  ci/prow/notebooks-py312-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.12\/*)|(jupyter\/datascience\/ubi9-python-3.12\/*)|(jupyter\/pytorch\/ubi9-python-3.12\/*)|(jupyter\/tensorflow\/ubi9-python-3.12\/*)|(jupyter\/trustyai\/ubi9-python-3.12\/*)
  ci/prow/notebooks-ubi9-e2e-tests: any of: (jupyter\/minimal\/ubi9-python-3.11\/*)|(jupyter\/datascience\/ubi9-python-3.11\/*)|(jupyter\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/tensorflow\/ubi9-python-3.11\/*)|(jupyter\/trustyai\/ubi9-python-3.11\/*)
  ci/prow/rocm-notebooks-e2e-tests: any of: (rocm\/ubi9-python-3.11\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.11\/*)|(jupyter\/rocm\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-notebooks-py312-e2e-tests: any of: (rocm\/ubi9-python-3.12\/*)|(jupyter\/rocm\/pytorch\/ubi9-python-3.12\/*)
  ci/prow/rocm-runtime-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtime-pt-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.12\/*)
  ci/prow/rocm-runtime-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rocm-runtimes-ubi9-e2e-tests: any of: (runtimes\/rocm-pytorch\/ubi9-python-3.11\/*)|(runtimes\/rocm-tensorflow\/ubi9-python-3.11\/*)
  ci/prow/rstudio-c9s-python-3-11-pr-image-mirror: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/rstudio-notebook-e2e-tests: any of: (rstudio\/c9s-python-3.11\/*)
  ci/prow/runtime-cuda-pt-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.11\/*)
  ci/prow/runtime-cuda-pt-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/pytorch\/ubi9-python-3.12\/*)
  ci/prow/runtime-cuda-tf-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.11\/*)
  ci/prow/runtime-cuda-tf-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/tensorflow\/ubi9-python-3.12\/*)
  ci/prow/runtime-ds-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)
  ci/prow/runtime-ds-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/datascience\/ubi9-python-3.12\/*)
  ci/prow/runtime-ubi9-python-3-11-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.11\/*)
  ci/prow/runtime-ubi9-python-3-12-pr-image-mirror: any of: (runtimes\/minimal\/ubi9-python-3.12\/*)
  ci/prow/runtimes-ubi9-e2e-tests: any of: (runtimes\/datascience\/ubi9-python-3.11\/*)|(runtimes\/pytorch\/ubi9-python-3.11\/*)|(runtimes\/tensorflow\/ubi9-python-3.11\/*)
