Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint

ci-operator/config/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-main.yaml:

base_images:
  cli-operator-sdk:
    name: cli-operator-sdk
    namespace: ocp
    tag: v1.31.0
  ubi-min9:
    name: ubi-minimal
    namespace: ocp
    tag: "9"
binary_build_commands: make binary
build_root:
  project_image:
    dockerfile_path: Dockerfile.tools
images:
- dockerfile_path: Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator
- dockerfile_path: bundle.Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator-bundle
operator:
  bundles:
  - as: operator-bundle
    dockerfile_path: bundle.Dockerfile
    skip_building_index: true
  substitutions:
  - pullspec: quay.io/openshift-kni/oran-o2ims-operator:.*
    with: pipeline:oran-o2ims-operator
promotion:
  to:
  - name: "4.16"
    namespace: ocp-kni
releases:
  initial:
    integration:
      name: "4.16"
      namespace: ocp
  latest:
    integration:
      include_built_images: true
      name: "4.16"
      namespace: ocp
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  ./hack/install-markdownlint.sh
tests:
- as: ci-job
  commands: make ci-job
  container:
    from: src
- as: scorecard
  run_if_changed: ^bundle/
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: |
        ci-job-source prowci
        ci-job-branch main
        ci-job-fullname openshift-kni-scorecard-oran-o2ims-main
        ci-job-type optional-operators-ci-aws
        ci-repo-name oran-o2ims
        ci-org-name openshift-kni
    test:
    - as: scorecard-test
      cli: latest
      commands: make scorecard-test
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: optional-operators-ci-operator-sdk-aws
- always_run: false
  as: markdownlint
  commands: |
    hack/markdownlint.sh
  container:
    from: test-bin
  run_if_changed: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
zz_generated_metadata:
  branch: main
  org: openshift-kni
  repo: oran-o2ims

Add LICENSE to exported submodules
  api/hardwaremanagement/LICENSE.txt
  api/inventory/LICENSE.txt
  api/provisioning/LICENSE.txt
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/LICENSE.txt
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/LICENSE.txt
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/LICENSE.txt
Due: none

Import hwmgr CRD and validate hwMgrId when rendering hwtemplate
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/resync-oran-hwmgr-plugin-api.sh
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/suite_test.go
  vendor/github.com/openshift-kni/oran-hwmgr-plugin/api/hwmgr-plugin/LICENSE
  vendor/github.com/openshift-kni/oran-hwmgr-plugin/api/hwmgr-plugin/v1alpha1/groupversion_info.go
  vendor/github.com/openshift-kni/oran-hwmgr-plugin/api/hwmgr-plugin/v1alpha1/hardwaremanager_types.go
  vendor/github.com/openshift-kni/oran-hwmgr-plugin/api/hwmgr-plugin/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: scorecard

Update dependabot config to avoid github.com/stephenafamo/bob updates to avoid go 1.23 (#479)
  .github/dependabot.yml
Due: none

Add LICENSE to exported submodules (#480)
  api/hardwaremanagement/LICENSE.txt
  api/inventory/LICENSE.txt
  api/provisioning/LICENSE.txt
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/LICENSE.txt
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/LICENSE.txt
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/LICENSE.txt
Due: none

Resource server: add secrets to RBAC and expose error (#470)
  internal/controllers/inventory_controller.go
  internal/service/resources/collector/collector_k8s.go
Due: none

cronjob to cleanup resolved alarms
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/serviceconfig/serviceconfig.go
  internal/service/alarms/serve.go
  internal/service/common/clients/k8s/k8s.go
Due: scorecard

cronjob to cleanup resolved alarms (#474)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/serviceconfig/serviceconfig.go
  internal/service/alarms/serve.go
  internal/service/common/clients/k8s/k8s.go
Due: scorecard

Use pointer for optional timestamps
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/utils/hardware_utils.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/zz_generated.deepcopy.go
Due: none

Provisioning REST API updates
  api/provisioning/v1alpha1/provisioningrequest_types.go
  bundle/manifests/o2ims.provisioning.oran.org_provisioningrequests.yaml
  config/crd/bases/o2ims.provisioning.oran.org_provisioningrequests.yaml
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/utils/conditions.go
  internal/service/common/api/generated/common.generated.go
  internal/service/common/api/openapi.yaml
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_types.go
Due: scorecard

Fix the end of sync query when not data is present
  internal/service/cluster/db/repo/repository.go
  internal/service/resources/db/repo/repository.go
Due: none

Fix the end of sync query when not data is present (#483)
  internal/service/cluster/db/repo/repository.go
  internal/service/resources/db/repo/repository.go
Due: none

Define and package function-specific RBAC roles
  bundle/manifests/oran-o2ims-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-maintainer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-provisioner-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-reader-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-subscriber-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/rbac/kustomization.yaml
  config/rbac/o2ims.oran.openshift.io_inventories_editor_role.yaml
  config/rbac/o2ims.oran.openshift.io_inventories_viewer_role.yaml
  config/rbac/o2ims.provisioning.oran.org_clustertemplate_editor_role.yaml
  config/rbac/o2ims.provisioning.oran.org_clustertemplate_viewer_role.yaml
  config/rbac/o2ims.provisioning.oran.org_provisioningrequest_editor_role.yaml
  config/rbac/o2ims.provisioning.oran.org_provisioningrequest_viewer_role.yaml
  config/rbac/oran_o2ims_user_roles.yaml
  config/testing/client-service-account-rbac.yaml
Due: scorecard

Define and package function-specific RBAC roles (#482)
  bundle/manifests/oran-o2ims-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-maintainer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-provisioner-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-reader-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-subscriber-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/rbac/kustomization.yaml
  config/rbac/o2ims.oran.openshift.io_inventories_editor_role.yaml
  config/rbac/o2ims.oran.openshift.io_inventories_viewer_role.yaml
  config/rbac/o2ims.provisioning.oran.org_clustertemplate_editor_role.yaml
  config/rbac/o2ims.provisioning.oran.org_clustertemplate_viewer_role.yaml
  config/rbac/o2ims.provisioning.oran.org_provisioningrequest_editor_role.yaml
  config/rbac/o2ims.provisioning.oran.org_provisioningrequest_viewer_role.yaml
  config/rbac/oran_o2ims_user_roles.yaml
  config/testing/client-service-account-rbac.yaml
Due: scorecard

remove probable cause endpoints
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/api/server.go
Due: none

remove probable cause endpoints (#485)
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/api/server.go
Due: none

CNF-16196: Artifacts server: Include ClusterTemplate status in the REST extensions
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/artifacts/api/server.go
Due: none

CNF-16478: Add OIDC validation at front-end proxies
  api/inventory/v1alpha1/inventory_types.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims-admin-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-maintainer-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-provisioner-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-subscriber-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/rbac/kustomization.yaml
  config/rbac/oran_o2ims_oauth_role_bindings.yaml
  config/samples/v1alpha1_inventory.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/types.go
  internal/controllers/utils/utils.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
Due: scorecard

CNF-16196: Artifacts server: Include ClusterTemplate status in the REST extensions (#486)
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/artifacts/api/server.go
Due: none

Import hwmgr CRD and validate hwMgrId when rendering hwtemplate (#466)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/resync-oran-hwmgr-plugin-api.sh
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/suite_test.go
  vendor/github.com/openshift-kni/oran-hwmgr-plugin/api/hwmgr-plugin/LICENSE
  vendor/github.com/openshift-kni/oran-hwmgr-plugin/api/hwmgr-plugin/v1alpha1/groupversion_info.go
  vendor/github.com/openshift-kni/oran-hwmgr-plugin/api/hwmgr-plugin/v1alpha1/hardwaremanager_types.go
  vendor/github.com/openshift-kni/oran-hwmgr-plugin/api/hwmgr-plugin/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: scorecard

include resource limit and requets for all apps
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/service/alarms/internal/serviceconfig/serviceconfig.go
Due: none

CNF-16172: Updates to the ProvisioningRequest REST API (#484)
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims.provisioning.oran.org_provisioningrequests.yaml
  config/crd/bases/o2ims.provisioning.oran.org_provisioningrequests.yaml
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/utils/conditions.go
  internal/controllers/utils/hardware_utils.go
  internal/service/common/api/generated/common.generated.go
  internal/service/common/api/openapi.yaml
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

Delay SMO registration until all servers are ready
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
Due: scorecard

include resource request for all apps
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/service/alarms/internal/serviceconfig/serviceconfig.go
Due: none

include resource request for all apps (#488)
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/service/alarms/internal/serviceconfig/serviceconfig.go
Due: none

improve pgx config and enable trace for debug
  internal/service/common/db/postgres.go
  internal/service/common/utils/repository.go
  vendor/github.com/jackc/pgx/v5/tracelog/tracelog.go
  vendor/modules.txt
Due: none

Validate metadata name as UUID and refactor to use CustomValidator
  api/provisioning/go.mod
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_validation.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: none

CNF-16418: PR Comments
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
Due: none

Delay SMO registration until all servers are ready (#489)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
Due: scorecard

enable openapi spec validation
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/serve.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/artifacts/serve.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/cluster/serve.go
  internal/service/common/api/generated/common.generated.go
  internal/service/common/api/openapi.yaml
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/serve.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/serve.go
Due: none

remove all depreated alarms server code from previous design
  .vscode/launch.json
  README.md
  internal/cmd/server/start_alarm_notification_server.go
  internal/cmd/server/start_alarm_server.go
  internal/cmd/server/start_alarm_subscription_server.go
  internal/cmd/start_cmd.go
  internal/files/alarms/definitions.json
  internal/files/alarms/probable_causes.json
  internal/files/embed.go
  internal/service/alarm_definition_handler.go
  internal/service/alarm_definition_handler_test.go
  internal/service/alarm_fetcher.go
  internal/service/alarm_handler.go
  internal/service/alarm_handler_test.go
  internal/service/alarm_mapper.go
  internal/service/alarm_notification_dispatcher.go
  internal/service/alarm_notification_handler.go
  internal/service/alarm_notification_handler_test.go
  internal/service/alarm_notification_searcher.go
  internal/service/alarm_probable_cause_handler.go
  internal/service/alarm_probable_cause_handler_test.go
  internal/service/resource_type_handler.go
  internal/service/resource_type_handler_test.go
Due: markdownlint

CNF-16478: Add OIDC validation at front-end proxies (#487)
  api/inventory/v1alpha1/inventory_types.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims-admin-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-maintainer-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-provisioner-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-reader-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims-subscriber-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/rbac/kustomization.yaml
  config/rbac/oran_o2ims_oauth_role_bindings.yaml
  config/samples/v1alpha1_inventory.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/types.go
  internal/controllers/utils/utils.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
Due: scorecard

Validate metadata name as UUID and refactor to use CustomValidator (#491)
  api/provisioning/go.mod
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_validation.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: none

enable openapi spec validation (#492)
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/serve.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/artifacts/serve.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/cluster/serve.go
  internal/service/common/api/generated/common.generated.go
  internal/service/common/api/openapi.yaml
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/serve.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/serve.go
Due: none

remove all depreated alarms server code from previous design (#493)
  .vscode/launch.json
  README.md
  internal/cmd/server/start_alarm_notification_server.go
  internal/cmd/server/start_alarm_server.go
  internal/cmd/server/start_alarm_subscription_server.go
  internal/cmd/start_cmd.go
  internal/files/alarms/definitions.json
  internal/files/alarms/probable_causes.json
  internal/files/embed.go
  internal/service/alarm_definition_handler.go
  internal/service/alarm_definition_handler_test.go
  internal/service/alarm_fetcher.go
  internal/service/alarm_handler.go
  internal/service/alarm_handler_test.go
  internal/service/alarm_mapper.go
  internal/service/alarm_notification_dispatcher.go
  internal/service/alarm_notification_handler.go
  internal/service/alarm_notification_handler_test.go
  internal/service/alarm_notification_searcher.go
  internal/service/alarm_probable_cause_handler.go
  internal/service/alarm_probable_cause_handler_test.go
  internal/service/resource_type_handler.go
  internal/service/resource_type_handler_test.go
Due: markdownlint

improve pgx config and enable trace for debug (#490)
  internal/service/common/db/postgres.go
  internal/service/common/utils/repository.go
  vendor/github.com/jackc/pgx/v5/tracelog/tracelog.go
  vendor/modules.txt
Due: none

Changes to hardware CRs
  api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  api/hardwaremanagement/v1alpha1/node_pools.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_hardwaretemplates.yaml
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_nodepools.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_hardwaretemplates.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_nodepools.yaml
  config/samples/v1alpha1_hardwaretemplate.yaml
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/node_pools.go
Due: scorecard

Changes to hardware CRs (#494)
  api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  api/hardwaremanagement/v1alpha1/node_pools.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_hardwaretemplates.yaml
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_nodepools.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_hardwaretemplates.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_nodepools.yaml
  config/samples/v1alpha1_hardwaretemplate.yaml
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/node_pools.go
Due: scorecard

CNF-16418: Allow deployment manager without extensions
  internal/service/resources/collector/collector_k8s.go
Due: none
