Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint

ci-operator/config/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-main.yaml:

base_images:
  cli-operator-sdk:
    name: cli-operator-sdk
    namespace: ocp
    tag: v1.31.0
  ubi-min9:
    name: ubi-minimal
    namespace: ocp
    tag: "9"
binary_build_commands: make binary
build_root:
  project_image:
    dockerfile_path: Dockerfile.tools
images:
- dockerfile_path: Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator
- dockerfile_path: bundle.Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator-bundle
operator:
  bundles:
  - as: operator-bundle
    dockerfile_path: bundle.Dockerfile
    skip_building_index: true
  substitutions:
  - pullspec: quay.io/openshift-kni/oran-o2ims-operator:.*
    with: pipeline:oran-o2ims-operator
promotion:
  to:
  - name: "4.16"
    namespace: ocp-kni
releases:
  initial:
    integration:
      name: "4.16"
      namespace: ocp
  latest:
    integration:
      include_built_images: true
      name: "4.16"
      namespace: ocp
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  ./hack/install-markdownlint.sh
tests:
- as: ci-job
  commands: make ci-job
  container:
    from: src
- as: scorecard
  run_if_changed: ^bundle/
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: |
        ci-job-source prowci
        ci-job-branch main
        ci-job-fullname openshift-kni-scorecard-oran-o2ims-main
        ci-job-type optional-operators-ci-aws
        ci-repo-name oran-o2ims
        ci-org-name openshift-kni
    test:
    - as: scorecard-test
      cli: latest
      commands: make scorecard-test
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: optional-operators-ci-operator-sdk-aws
- always_run: false
  as: markdownlint
  commands: |
    hack/markdownlint.sh
  container:
    from: test-bin
  run_if_changed: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
zz_generated_metadata:
  branch: main
  org: openshift-kni
  repo: oran-o2ims

add a default build platform for regular build command (#429)
  Makefile
Due: none

Add validating webhook for ProvisioningRequest
  Makefile
  PROJECT
  api/provisioning/go.mod
  api/provisioning/go.sum
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  bundle/manifests/oran-o2ims-webhook-service_v1_service.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/certmanager/certificate.yaml
  config/certmanager/kustomization.yaml
  config/certmanager/kustomizeconfig.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_provisioning_provisioningrequests.yaml
  config/crd/patches/webhook_in_provisioning_provisioningrequests.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/default/webhookcainjection_patch.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/manifests.yaml
  config/webhook/service.yaml
  internal/cmd/operator/start_controller_manager.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: scorecard

Handle alarm_change_time only on trigger for all operations
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/db/migrations/000003_create_alarm_event_record_table.up.sql
Due: none

Handle alarm_change_time only on trigger for all operations (#434)
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/db/migrations/000003_create_alarm_event_record_table.up.sql
Due: none

CNF-16193: Templates REST API internal server - GET ALL
  internal/service/artifacts/api/server.go
  internal/service/artifacts/cmd/root.go
  internal/service/artifacts/cmd/serve.go
  internal/service/artifacts/serve.go
  internal/service/common/clients/k8s/k8s.go
  internal/service/resources/api/server.go
  main.go
Due: none

CNF-16193: Templates REST API internal server - GET ALL (#432)
  internal/service/artifacts/api/server.go
  internal/service/artifacts/cmd/root.go
  internal/service/artifacts/cmd/serve.go
  internal/service/artifacts/serve.go
  internal/service/common/clients/k8s/k8s.go
  internal/service/resources/api/server.go
  main.go
Due: none

Update default VERSION to 4.18.0
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
Due: scorecard

Update default VERSION to 4.18.0 (#435)
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
Due: scorecard

notify alarms subscriptions
  internal/controllers/utils/utils.go
  internal/service/alarms/DEVELOPING.md
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/alertmanager/alertmanager.go
  internal/service/alarms/internal/db/migrations/000003_create_alarm_event_record_table.down.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_event_record_table.up.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_subscription_info_table.up.sql
  internal/service/alarms/internal/db/models/alarm_event_record.go
  internal/service/alarms/internal/db/models/alarm_subscription.go
  internal/service/alarms/internal/db/models/converters.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/serve.go
  internal/service/common/notifier/event.go
Due: markdownlint

Add validating webhook for ProvisioningRequest (#433)
  Makefile
  PROJECT
  api/provisioning/go.mod
  api/provisioning/go.sum
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  bundle/manifests/oran-o2ims-webhook-service_v1_service.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/certmanager/certificate.yaml
  config/certmanager/kustomization.yaml
  config/certmanager/kustomizeconfig.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_provisioning_provisioningrequests.yaml
  config/crd/patches/webhook_in_provisioning_provisioningrequests.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/default/webhookcainjection_patch.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/manifests.yaml
  config/webhook/service.yaml
  internal/cmd/operator/start_controller_manager.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: scorecard

Add simple badge
  README.md
Due: markdownlint

CNF-16244: Pass SMO and OAuth args to servers
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  go.mod
  go.sum
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/oauth.go
  internal/controllers/utils/utils.go
  internal/service/alarms/api/server.go
  internal/service/alarms/cmd/serve.go
  internal/service/alarms/serve.go
  internal/service/cluster/api/server.go
  internal/service/cluster/cmd/serve.go
  internal/service/cluster/serve.go
  internal/service/common/notifier/notifier.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/common/utils/config.go
  internal/service/resources/api/server.go
  internal/service/resources/cmd/serve.go
  internal/service/resources/serve.go
  vendor/github.com/kelseyhightower/envconfig/.travis.yml
  vendor/github.com/kelseyhightower/envconfig/LICENSE
  vendor/github.com/kelseyhightower/envconfig/MAINTAINERS
  vendor/github.com/kelseyhightower/envconfig/README.md
  vendor/github.com/kelseyhightower/envconfig/doc.go
  vendor/github.com/kelseyhightower/envconfig/env_os.go
  vendor/github.com/kelseyhightower/envconfig/env_syscall.go
  vendor/github.com/kelseyhightower/envconfig/envconfig.go
  vendor/github.com/kelseyhightower/envconfig/usage.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: scorecard, markdownlint

CNF-16244: Address PR comments
  internal/controllers/inventory_controller.go
  internal/controllers/utils/oauth.go
  internal/controllers/utils/utils.go
  internal/service/common/utils/config.go
Due: none

CNF-16244: Pass SMO and OAuth args to servers (#437)
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  go.mod
  go.sum
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/oauth.go
  internal/controllers/utils/utils.go
  internal/service/alarms/api/server.go
  internal/service/alarms/cmd/serve.go
  internal/service/alarms/serve.go
  internal/service/cluster/api/server.go
  internal/service/cluster/cmd/serve.go
  internal/service/cluster/serve.go
  internal/service/common/notifier/notifier.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/common/utils/config.go
  internal/service/resources/api/server.go
  internal/service/resources/cmd/serve.go
  internal/service/resources/serve.go
  vendor/github.com/kelseyhightower/envconfig/.travis.yml
  vendor/github.com/kelseyhightower/envconfig/LICENSE
  vendor/github.com/kelseyhightower/envconfig/MAINTAINERS
  vendor/github.com/kelseyhightower/envconfig/README.md
  vendor/github.com/kelseyhightower/envconfig/doc.go
  vendor/github.com/kelseyhightower/envconfig/env_os.go
  vendor/github.com/kelseyhightower/envconfig/env_syscall.go
  vendor/github.com/kelseyhightower/envconfig/envconfig.go
  vendor/github.com/kelseyhightower/envconfig/usage.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: scorecard, markdownlint

Fix kustomize layering for debug mode
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/debug/disable-health-probes.yaml
  config/debug/disable-leader-election.yaml
  config/debug/manager_config_patch.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/manager/manager.yaml
Due: scorecard

CNF-16194: Return query parsing error from filtering middleware
  internal/service/common/api/filtering.go
Due: none

Fix kustomize layering for debug mode (#445)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/debug/disable-health-probes.yaml
  config/debug/disable-leader-election.yaml
  config/debug/manager_config_patch.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/manager/manager.yaml
Due: scorecard

CNF-16194: Add filtering to the artifacts server
  internal/service/artifacts/api/server.go
  internal/service/artifacts/serve.go
Due: none

CNF-16194: Return query parsing error from filtering middleware (#446)
  internal/service/common/api/filtering.go
Due: none

CNF-16194: Add filtering to the artifacts server (#447)
  internal/service/artifacts/api/server.go
  internal/service/artifacts/serve.go
Due: none

CNF-16246: Add list of cluster resources to node cluster
  internal/service/cluster/api/server.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/cluster/db/migrations/000001_baseline.up.sql
  internal/service/cluster/db/models/cluster_resource.go
  internal/service/cluster/db/models/converters.go
  internal/service/cluster/db/repo/repository.go
Due: none

CNF-16246: Address PR comments
  internal/service/cluster/api/server.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/db/models/converters.go
  internal/service/cluster/db/repo/repository.go
Due: none

CNF-16243: Transition to new resource server
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
Due: none

CNF-16243: Obsolete servers after transition to new resource server
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/types.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

Implement Webhook validation for ProvisioningRequest creation and update
  api/provisioning/go.mod
  api/provisioning/go.sum
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrquest_validation_test.go
  api/provisioning/v1alpha1/suite_test.go
  go.mod
  hack/update_deps.sh
  internal/controllers/clustertemplate_controller.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/provisioningrequest_validation_test.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_validation.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: none

Run ginkgo test with target dirs
  Makefile
Due: none

CNF-16246: Add list of cluster resources to node cluster (#444)
  internal/service/cluster/api/server.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/cluster/db/migrations/000001_baseline.up.sql
  internal/service/cluster/db/models/cluster_resource.go
  internal/service/cluster/db/models/converters.go
  internal/service/cluster/db/repo/repository.go
Due: none

Fix notifier deadlock on new events
  internal/service/common/notifier/notifier.go
  internal/service/common/notifier/notifier_worker.go
Due: none

Add file-based catalog support
  .containerignore
  .gitignore
  Makefile
  README.md
  catalog.Dockerfile
  hack/catalog-undeploy.sh
  hack/generate-catalog-deploy.sh
  hack/generate-catalog-index.sh
Due: markdownlint

Fix notifier deadlock on new events (#453)
  internal/service/common/notifier/notifier.go
  internal/service/common/notifier/notifier_worker.go
Due: none

notify alarms subscriptions
  internal/controllers/utils/oauth.go
  internal/service/alarms/DEVELOPING.md
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/alertmanager/alertmanager.go
  internal/service/alarms/internal/db/migrations/000003_create_alarm_event_record_table.down.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_event_record_table.up.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_subscription_info_table.up.sql
  internal/service/alarms/internal/db/models/alarm_event_record.go
  internal/service/alarms/internal/db/models/alarm_subscription.go
  internal/service/alarms/internal/db/models/converters.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/alarms/internal/notifier_provider/subscription.go
  internal/service/alarms/serve.go
  internal/service/common/notifier/event.go
  internal/service/common/notifier/notifier.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/common/repo/notifications.go
Due: markdownlint

code review changes
  internal/controllers/utils/oauth.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/alarms/internal/notifier_provider/subscription.go
Due: none

CNF-15902: notify alarms subscriptions (#431)
  internal/controllers/utils/oauth.go
  internal/service/alarms/DEVELOPING.md
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/alertmanager/alertmanager.go
  internal/service/alarms/internal/db/migrations/000003_create_alarm_event_record_table.down.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_event_record_table.up.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_subscription_info_table.up.sql
  internal/service/alarms/internal/db/models/alarm_event_record.go
  internal/service/alarms/internal/db/models/alarm_subscription.go
  internal/service/alarms/internal/db/models/converters.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/alarms/internal/notifier_provider/subscription.go
  internal/service/alarms/serve.go
  internal/service/common/notifier/event.go
  internal/service/common/notifier/notifier.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/common/repo/notifications.go
Due: markdownlint

Fix notifier related hangs on shutdown
  internal/service/alarms/api/server.go
  internal/service/cluster/api/server.go
  internal/service/cluster/collector/collector.go
  internal/service/common/notifier/notifier.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/resources/api/server.go
  internal/service/resources/collector/collector.go
Due: none

CNF-16243: Transition to new resource server (#448)
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/types.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

Add support to override imagePullPolicy for designer build
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
Due: scorecard

Specify imagePullPolicy for launched deployments
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
Due: scorecard

Fix notifier related hangs on shutdown (#455)
  internal/service/alarms/api/server.go
  internal/service/cluster/api/server.go
  internal/service/cluster/collector/collector.go
  internal/service/common/notifier/notifier.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/resources/api/server.go
  internal/service/resources/collector/collector.go
Due: none

Add boilerplate for ProvisioningRequest REST API and server code to start provisioning server
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
  internal/service/provisioning/api/tools/generate.go
  internal/service/provisioning/api/tools/oapi-codegen.yaml
  internal/service/provisioning/cmd/root.go
  internal/service/provisioning/cmd/serve.go
  internal/service/provisioning/serve.go
  main.go
Due: none
