Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

scorecard:
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: 'ci-job-source prowci
  
  ...

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

ci/prow/ci-job:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/markdownlint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/scorecard:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Fix resolveFirmwareFromCatalog to skip catalog lookup when no firmware refs
  internal/hardwaremanager/controller/firmware_catalog.go
  internal/hardwaremanager/controller/firmware_catalog_test.go
Due: ci/prow/ci-job, ci/prow/images

Regenerate e2e-test-overview.md after FirmwareCatalog test additions
  docs/dev/e2e-test-overview.md
Due: markdownlint, ci/prow/markdownlint

Update HardwareProfile webhook for controller-runtime v0.23 API
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
Due: ci/prow/ci-job, ci/prow/images

Commit generated code changes from oapi-codegen upversion
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/common/api/generated/common.generated.go
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/resources/api/generated/inventory.generated.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25840: Implement FirmwareCatalog controller and singleton lifecycle
  internal/hardwaremanager/cmd/start_hardwaremanager.go
  internal/hardwaremanager/controller/firmwarecatalog_controller.go
  internal/hardwaremanager/controller/setup.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25839: Define FirmwareCatalog CRD types and register with scheme
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
Due: ci/prow/ci-job, ci/prow/images

Address review feedback: CEL vendor guard, singleton cache fix, test coverage
  api/common/zz_generated.deepcopy.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook_test.go
  internal/hardwaremanager/controller/firmwarecatalog_controller.go
Due: ci/prow/ci-job, ci/prow/images

Add validation bounds to HardwareProfile catalog reference fields
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-25838: Modify HardwareProfile API types to reference catalog entries
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25844: Add FirmwareCatalog to must-gather and write Phase 1 tests
  internal/hardwaremanager/controller/firmwarecatalog_controller_test.go
  must-gather/gather
Due: ci/prow/ci-job, ci/prow/images

CNF-25841: Implement HardwareProfile validating webhook for catalog references
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
  internal/cmd/operator/start_controller_manager.go
Due: ci/prow/ci-job, ci/prow/images

Fix goconst lint errors in firmware_resolution.go
  api/common/zz_generated.deepcopy.go
  internal/hardwaremanager/controller/firmware_resolution.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller.go
Due: ci/prow/ci-job, ci/prow/images

Rebase on main: reconcile with merged FirmwareCatalog Phase 1
  api/common/zz_generated.deepcopy.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  bundle/manifests/clcm.openshift.io_firmwarecatalogs.yaml
  config/crd/bases/clcm.openshift.io_firmwarecatalogs.yaml
  internal/hardwaremanager/controller/firmwarecatalog_controller.go
  internal/hardwaremanager/controller/setup.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-25845: Run code generation and verify clean git tree
  api/common/zz_generated.deepcopy.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25847: Update firmware-update-workflow documentation and run code generation
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/webhook/manifests.yaml
  docs/user-guide/firmware-update-workflow.md
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

CNF-25846: Update test fixtures and write tests for catalog resolution
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook_test.go
  internal/hardwaremanager/controller/firmware_resolution.go
  internal/hardwaremanager/controller/firmware_resolution_test.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager_test.go
  test/e2e/mno_hw_configuration_test.go
  test/e2e/sno_provisioning_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25843: Implement catalog resolution and update controller firmware logic
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/firmware_resolution.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager.go
  test/utils/vars.go
Due: ci/prow/ci-job, ci/prow/images

Fix CEL cost budget exceeded on FirmwareCatalog CRD
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
  bundle/manifests/clcm.openshift.io_firmwarecatalogs.yaml
  config/crd/bases/clcm.openshift.io_firmwarecatalogs.yaml
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

Update HardwareProfile webhook for controller-runtime v0.24 typed API
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
Due: ci/prow/ci-job, ci/prow/images

Fix e2e test failures: seed FirmwareCatalog and update YAML fixtures
  test/e2e/e2e_suite_test.go
  test/resources/mno_hw_configuration/hw-profile-dell-r740-v2.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v1.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v2.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v3.yaml
  test/utils/vars.go
Due: ci/prow/ci-job, ci/prow/images

Redefine FBC catalog to use per-z-stream channels (4.22)
  .konflux/Dockerfile.bundle
  .konflux/bundle/metadata/annotations.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-26210: add MNO cluster node swap support (Phase 4) (#3630)
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  docs/user-guide/cluster-configuration.md
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/utils/provision_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

Redefine FBC catalog to use per-z-stream channels (4.22) (#3687)
  .konflux/Dockerfile.bundle
  .konflux/bundle/metadata/annotations.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-26398: Upstream release-config version bump (4.22.1)
  .konflux/overlay/release.in.yaml
Due: none

CNF-26398: Upstream release-config version bump (4.22.1) (#3730)
  .konflux/overlay/release.in.yaml
Due: none

CNF-26398: Upstream catalog-template update (4.22.1)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

catalog: use dedicated pinned 4.22.2 channel for new z-stream
  .konflux/catalog/catalog-template.in.yaml
Due: none

o-cloud-manager: catalog-template update for 4.22.1 (supersedes #3756) (#3757)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

Validate HardwareProfile firmware references on UPDATE
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook_test.go
  config/webhook/manifests.yaml
Due: ci/prow/ci-job, ci/prow/images

Remove duplicate resolveFirmwareFromCatalog call in validateAppliedBiosSettings
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
Due: ci/prow/ci-job, ci/prow/images

Use exported component type constants instead of hardcoded strings
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
  internal/hardwaremanager/controller/firmware_catalog.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller.go
Due: ci/prow/ci-job, ci/prow/images

Add assertions for missing catalog entries in e2e completeBMHServicing
  test/e2e/mno_hw_configuration_test.go
Due: ci/prow/ci-job, ci/prow/images

Fix gocritic paramTypeCombine and gofmt formatting
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
  internal/hardwaremanager/controller/helpers_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-99224: validate IBI secret identity before deletion
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/baremetalhost_manager_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-99224: fix IBI cluster deletion stall caused by BMO secret finalizer
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_hardwaremanager_server.yaml
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/baremetalhost_manager_test.go
  internal/hardwaremanager/controller/helpers.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

OCPBUGS-99224: address CodeRabbit review feedback
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/baremetalhost_manager_test.go
Due: ci/prow/ci-job, ci/prow/images

Add TLS profile conversion utilities for PostgreSQL
  internal/controllers/utils/configmap.go
  internal/controllers/utils/tls_profile.go
  internal/controllers/utils/tls_profile_test.go
Due: ci/prow/ci-job, ci/prow/images

Enforce cluster TLS profile on PostgreSQL with PG18 upgrade
  .konflux/overlay/pin_images.in.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/manager.yaml
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/inventory_controller_test.go
  internal/service/postgres/files/postgresql.conf
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/ci-job: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/images: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/scorecard: any of: ^bundle/
