Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint

ci-operator/config/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-main.yaml:

base_images:
  cli-operator-sdk:
    name: cli-operator-sdk
    namespace: ocp
    tag: v1.31.0
  ubi-min9:
    name: ubi-minimal
    namespace: ocp
    tag: "9"
binary_build_commands: make binary
build_root:
  project_image:
    dockerfile_path: Dockerfile.tools
images:
- dockerfile_path: Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator
- dockerfile_path: bundle.Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator-bundle
operator:
  bundles:
  - as: operator-bundle
    dockerfile_path: bundle.Dockerfile
    skip_building_index: true
  substitutions:
  - pullspec: quay.io/openshift-kni/oran-o2ims-operator:.*
    with: pipeline:oran-o2ims-operator
promotion:
  to:
  - name: "4.16"
    namespace: ocp-kni
releases:
  initial:
    integration:
      name: "4.16"
      namespace: ocp
  latest:
    integration:
      include_built_images: true
      name: "4.16"
      namespace: ocp
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  ./hack/install-markdownlint.sh
tests:
- as: ci-job
  commands: make ci-job
  container:
    from: src
- as: scorecard
  run_if_changed: ^bundle/
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: |
        ci-job-source prowci
        ci-job-branch main
        ci-job-fullname openshift-kni-scorecard-oran-o2ims-main
        ci-job-type optional-operators-ci-aws
        ci-repo-name oran-o2ims
        ci-org-name openshift-kni
    test:
    - as: scorecard-test
      cli: latest
      commands: make scorecard-test
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: optional-operators-ci-operator-sdk-aws
- always_run: false
  as: markdownlint
  commands: |
    hack/markdownlint.sh
  container:
    from: test-bin
  run_if_changed: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
zz_generated_metadata:
  branch: main
  org: openshift-kni
  repo: oran-o2ims

Red Hat Konflux update numaresources-operator-fbc-4-20 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/numaresources-operator-fbc-4-20-pull-request.yaml
  .tekton/numaresources-operator-fbc-4-20-push.yaml
Due: none

Add Loopback HardwarePlugin server endpoint implementations
  hwmgr-plugins/api/generated/client/client.generated.go
  hwmgr-plugins/api/generated/server/server.generated.go
  hwmgr-plugins/api/openapi.yaml
  hwmgr-plugins/loopback/cmd/start_loopbackplugin_server.go
  hwmgr-plugins/loopback/controller/constants.go
  hwmgr-plugins/loopback/controller/helpers.go
  hwmgr-plugins/loopback/controller/loopback_hardwareplugin_controller.go
  hwmgr-plugins/loopback/server/helpers.go
  hwmgr-plugins/loopback/server/serve.go
  hwmgr-plugins/loopback/server/server.go
Due: none

Add Loopback HardwarePlugin server endpoint implementations (#712)
  hwmgr-plugins/api/generated/client/client.generated.go
  hwmgr-plugins/api/generated/server/server.generated.go
  hwmgr-plugins/api/openapi.yaml
  hwmgr-plugins/loopback/cmd/start_loopbackplugin_server.go
  hwmgr-plugins/loopback/controller/constants.go
  hwmgr-plugins/loopback/controller/helpers.go
  hwmgr-plugins/loopback/controller/loopback_hardwareplugin_controller.go
  hwmgr-plugins/loopback/server/helpers.go
  hwmgr-plugins/loopback/server/serve.go
  hwmgr-plugins/loopback/server/server.go
Due: none

Add simple badge (#438)
  README.md
Due: markdownlint

Add metal3 hardware plugin server and controller infrastructure
  hwmgr-plugins/api/server/helpers.go
  hwmgr-plugins/api/server/server.go
  hwmgr-plugins/controller/utils/constants.go
  hwmgr-plugins/loopback/controller/helpers.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_controller.go
  hwmgr-plugins/metal3/server/serve.go
  hwmgr-plugins/metal3/server/server.go
  internal/controllers/inventory_controller.go
  internal/controllers/metal3plugin_server_setup.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
  main.go
Due: none

Add metal3 hardware plugin server and controller infrastructure (#720)
  hwmgr-plugins/api/server/helpers.go
  hwmgr-plugins/api/server/server.go
  hwmgr-plugins/controller/utils/constants.go
  hwmgr-plugins/loopback/controller/helpers.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_controller.go
  hwmgr-plugins/metal3/server/serve.go
  hwmgr-plugins/metal3/server/server.go
  internal/controllers/inventory_controller.go
  internal/controllers/metal3plugin_server_setup.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
  main.go
Due: none

Update manager config to use postgresql-16-c9s image (#710)
  config/manager/manager.yaml
Due: none

Add mock implementations and tests for AsyncEventHandler
  internal/service/common/async/store.go
  internal/service/common/async/store_mock.go
  internal/service/common/async/store_test.go
  internal/service/common/async/suite_test.go
Due: none

Add mock implementations and tests for AsyncEventHandler (#724)
  internal/service/common/async/store.go
  internal/service/common/async/store_mock.go
  internal/service/common/async/store_test.go
  internal/service/common/async/suite_test.go
Due: none

Use a single build pipeline for both fbc jobs
  .tekton/o-cloud-manager-fbc-4-19-build.yaml
  .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-19-push.yaml
Due: none

Use yq to format all files in .tekton
  .tekton/images-mirror-set.yaml
  .tekton/o-cloud-manager-4-19-build.yaml
  .tekton/o-cloud-manager-4-19-pull-request.yaml
  .tekton/o-cloud-manager-4-19-push.yaml
  .tekton/o-cloud-manager-bundle-4-19-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-19-push.yaml
  .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-19-push.yaml
Due: none

Add `latest` tag to quay builds for QE consumption - Adding additional tag parameter to pipelines to accomplish this
  .tekton/o-cloud-manager-4-19-build.yaml
  .tekton/o-cloud-manager-4-19-pull-request.yaml
  .tekton/o-cloud-manager-4-19-push.yaml
  .tekton/o-cloud-manager-bundle-4-19-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-19-push.yaml
  .tekton/o-cloud-manager-fbc-4-19-build.yaml
  .tekton/o-cloud-manager-fbc-4-19-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-19-push.yaml
Due: none

Update makefile task to update both pipelines when running konflux-update-task-refs
  Makefile
Due: none

Update all tasks in both pipelines to latest commits due to expired trust of the old tasks
  .tekton/o-cloud-manager-4-19-build.yaml
  .tekton/o-cloud-manager-fbc-4-19-build.yaml
Due: none

Improve how the host node ID label is applied to an agent post provisioning
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/inventory_controller.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/utils/hardware_utils.go
Due: none

Add missing RBAC permissions for hardware manager provisioning API
  internal/controllers/provisioningrequest_controller.go
Due: none

Add missing RBAC permissions for hardware manager provisioning API (#733)
  internal/controllers/provisioningrequest_controller.go
Due: none

Improve how the host node ID label is applied to an agent post provisioning (#732)
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/inventory_controller.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/utils/hardware_utils.go
Due: none

Fix rbac permissions for updating NodeAllocationRequests (change put -> update)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/loopbackplugin_server_setup.go
  internal/controllers/metal3plugin_server_setup.go
  internal/controllers/provisioningrequest_controller.go
Due: scorecard

Fix rbac permissions for updating NodeAllocationRequests (change put -> update) (#735)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/loopbackplugin_server_setup.go
  internal/controllers/metal3plugin_server_setup.go
  internal/controllers/provisioningrequest_controller.go
Due: scorecard

Add inventory server
  hwmgr-plugins/api/client/provisioning/client.go
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/client/provisioning/helpers.go
  hwmgr-plugins/api/middleware.go
  hwmgr-plugins/api/openapi/codegen/configs/inventory-oapi-codegen-server.yaml
  hwmgr-plugins/api/openapi/codegen/configs/provisioning-oapi-codegen-client.yaml
  hwmgr-plugins/api/openapi/codegen/configs/provisioning-oapi-codegen-server.yaml
  hwmgr-plugins/api/openapi/codegen/generator.go
  hwmgr-plugins/api/openapi/specs/inventory.yaml
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/inventory/generated.go
  hwmgr-plugins/api/server/inventory/server.go
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/api/server/provisioning/helpers.go
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/api/tools/generate.go
  hwmgr-plugins/controller/hardwareplugin_controller.go
  hwmgr-plugins/controller/utils/allocated_node.go
  hwmgr-plugins/controller/utils/node_allocation_request.go
  hwmgr-plugins/loopback/controller/inventory.go
  hwmgr-plugins/loopback/server/inventory_server.go
  hwmgr-plugins/loopback/server/provisioning_server.go
  hwmgr-plugins/loopback/server/serve.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/server/inventory_server.go
  hwmgr-plugins/metal3/server/provisioning_server.go
  hwmgr-plugins/metal3/server/serve.go
  internal/controllers/helpers.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/utils/hardware_utils.go
Due: none

Add inventory server (#736)
  hwmgr-plugins/api/client/provisioning/client.go
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/client/provisioning/helpers.go
  hwmgr-plugins/api/middleware.go
  hwmgr-plugins/api/openapi/codegen/configs/inventory-oapi-codegen-server.yaml
  hwmgr-plugins/api/openapi/codegen/configs/provisioning-oapi-codegen-client.yaml
  hwmgr-plugins/api/openapi/codegen/configs/provisioning-oapi-codegen-server.yaml
  hwmgr-plugins/api/openapi/codegen/generator.go
  hwmgr-plugins/api/openapi/specs/inventory.yaml
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/inventory/generated.go
  hwmgr-plugins/api/server/inventory/server.go
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/api/server/provisioning/helpers.go
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/api/tools/generate.go
  hwmgr-plugins/controller/hardwareplugin_controller.go
  hwmgr-plugins/controller/utils/allocated_node.go
  hwmgr-plugins/controller/utils/node_allocation_request.go
  hwmgr-plugins/loopback/controller/inventory.go
  hwmgr-plugins/loopback/server/inventory_server.go
  hwmgr-plugins/loopback/server/provisioning_server.go
  hwmgr-plugins/loopback/server/serve.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/server/inventory_server.go
  hwmgr-plugins/metal3/server/provisioning_server.go
  hwmgr-plugins/metal3/server/serve.go
  internal/controllers/helpers.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/utils/hardware_utils.go
Due: none

metal3: Update inventory reporting
  hwmgr-plugins/controller/utils/allocated_node.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/server/inventory_server.go
  internal/service/cluster/collector/collector.go
  internal/service/resources/collector/collector.go
Due: none

metal3: Update inventory reporting (#737)
  hwmgr-plugins/controller/utils/allocated_node.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/server/inventory_server.go
  internal/service/cluster/collector/collector.go
  internal/service/resources/collector/collector.go
Due: none

Update provisioning requeue intervals on plugin interactions
  internal/controllers/clustertemplate_controller.go
  internal/controllers/provisioningrequest_controller.go
Due: none

Update provisioning requeue intervals on plugin interactions (#738)
  internal/controllers/clustertemplate_controller.go
  internal/controllers/provisioningrequest_controller.go
Due: none

Refactor Node CRD to AllocatedNode (#691)
  .konflux/catalog/o-cloud-manager/catalog.yaml
  PROJECT
  README.md
  api/hardwaremanagement/v1alpha1/allocated_nodes.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_allocatednodes.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_allocatednodes.yaml
  config/crd/kustomization.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/kustomization.yaml
  config/samples/v1alpha1_allocatednode.yaml
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/provisioningrequest_setup.go
  internal/controllers/suite_test.go
  internal/controllers/utils/hardware_utils.go
  test/utils/functions.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/allocated_nodes.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: scorecard, markdownlint

Add hwmgr-plugins scaffolding content and openapi specification (#686)
  hwmgr-plugins/api/generated/plugins.generated.go
  hwmgr-plugins/api/middleware.go
  hwmgr-plugins/api/openapi.yaml
  hwmgr-plugins/api/tools/generate.go
  hwmgr-plugins/api/tools/oapi-codegen.yaml
Due: none

Add hardwareplugin controller manager (#695)
  .containerignore
  Dockerfile
  api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  hwmgr-plugins/cmd/start_hardwareplugin_manager.go
  hwmgr-plugins/controller/hardwareplugin_controller.go
  hwmgr-plugins/controller/utils/conditions.go
  hwmgr-plugins/controller/utils/utils.go
  internal/controllers/hardwareplugin_manager_setup.go
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
  internal/logging/logging.go
  internal/typed-errors/typed_errors.go
  internal/typed-errors/typed_errors_test.go
  main.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

Add new HardwarePlugin CustomResourceDefinition for registering HW plugins (#690)
  PROJECT
  api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oran-o2ims-hardwaremanagement-hardwareplugin-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-hardwaremanagement-hardwareplugin-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  config/crd/kustomization.yaml
  config/rbac/hardwaremanagement_hardwareplugin_editor_role.yaml
  config/rbac/hardwaremanagement_hardwareplugin_viewer_role.yaml
  config/rbac/kustomization.yaml
  config/samples/hardwaremanagement_v1alpha1_hardwareplugin.yaml
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

Add shared common authentication data types (#703)
  api/common/common_types.go
  api/common/go.mod
  api/common/zz_generated.deepcopy.go
  api/hardwaremanagement/go.mod
  api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  api/inventory/go.mod
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  go.mod
  vendor/github.com/openshift-kni/oran-o2ims/api/common/common_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/common/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: scorecard
