Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

scorecard:
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: 'ci-job-source prowci
  
  ...

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

ci/prow/ci-job:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/markdownlint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/scorecard:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

CNF-25902: Use default k8s audience for audience-exempt paths (#3401)
  internal/constants/constants.go
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/overlay.yaml
  internal/service/alarms/serve.go
  internal/service/common/auth/auth_k8s.go
  internal/service/common/auth/auth_k8s_test.go
  internal/service/common/auth/middleware.go
  internal/service/common/utils/config.go
Due: ci/prow/ci-job, ci/prow/images

chore: fix crd-watcher screen overflow and add truncation message (#3510)
  dev-tools/crd-watcher/tui.go
Due: ci/prow/ci-job, ci/prow/images

CNF-24435: MNO upgrade documentation and sample templates
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/3node-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/ns.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/policytemplates-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/pull-secret.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/kustomization.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/ns.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/policytemplates-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/pull-secret.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/std-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z+1/3node-ran-du/3node-ran-du-pg-v4-Y-Z+1-v1.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z+1/3node-ran-du/msc-binding.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z+1/3node-ran-du/ns.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z+1/std-ran-du/msc-binding.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z+1/std-ran-du/ns.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z+1/std-ran-du/std-ran-du-pg-v4-Y-Z+1-v1.yaml
  docs/user-guide/upgrade.md
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  test/e2e/mno_cv_upgrade_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-25886: add MNO worker node scale-out support (Phase 1) (#3389)
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  docs/dev/e2e-test-overview.md
  docs/user-guide/cluster-configuration.md
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller_test.go
  test/e2e/mno_scale_test.go
  test/resources/mno_scale/clusterinstance-defaults-v1.yaml
  test/resources/mno_scale/clusterinstance-defaults-v2.yaml
  test/resources/mno_scale/ct-scale.yaml
  test/resources/mno_scale/policytemplate-defaults-v1.yaml
  test/resources/mno_scale/pr-scale-initial.yaml
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

Fix OAuth audience tests to not depend on in-cluster CA files
  internal/controllers/utils/oauth.go
  internal/controllers/utils/oauth_test.go
Due: ci/prow/ci-job, ci/prow/images

Fix OAuth audience tests to not depend on in-cluster CA files (#3536)
  internal/controllers/utils/oauth.go
  internal/controllers/utils/oauth_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25887: add MNO worker node scale-in support (Phase 2)
  .golangci.yml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  docs/dev/e2e-test-overview.md
  docs/user-guide/cluster-configuration.md
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller.go
  test/e2e/mno_scale_test.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

CNF-25887: fix stale scale-in docs intro
  docs/user-guide/cluster-configuration.md
Due: markdownlint, ci/prow/markdownlint

CNF-24435: MNO upgrade documentation and sample templates (#3531)
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/3node-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/ns.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/policytemplates-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/pull-secret.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/kustomization.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/clusterinstance-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/ns.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/policytemplates-defaults-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/pull-secret.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/std-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z+1/3node-ran-du/3node-ran-du-pg-v4-Y-Z+1-v1.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z+1/3node-ran-du/msc-binding.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z+1/3node-ran-du/ns.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z+1/std-ran-du/msc-binding.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z+1/std-ran-du/ns.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z+1/std-ran-du/std-ran-du-pg-v4-Y-Z+1-v1.yaml
  docs/user-guide/upgrade.md
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  test/e2e/mno_cv_upgrade_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-26081: Scope controller-manager ServiceAccount to least-privilege RBAC
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/networkpolicy_role.yaml
  config/rbac/role.yaml
  config/rbac/rolebinding_manager.yaml
  internal/controllers/inventory_controller.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-24434: Auto-select EUS intermediate version from Cincinnati graph (#3469)
  .coverage-thresholds.yaml
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  config/rbac/role.yaml
  docs/dev/e2e-test-overview.md
  go.mod
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/utils/cincinnati/cincinnati.go
  internal/controllers/utils/cincinnati/cincinnati_test.go
  internal/controllers/utils/upgrade.go
  internal/controllers/utils/upgrade_test.go
  internal/validation/upgrade.go
  internal/validation/upgrade_test.go
  test/e2e/e2e_suite_test.go
  test/e2e/mno_cv_upgrade_test.go
  test/fakeclient/fakeclient.go
  vendor/golang.org/x/net/http/httpproxy/proxy.go
  vendor/modules.txt
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

CNF-25914: Add FirmwareCatalog CRD, controller, and webhook (#3466)
  .coverage-thresholds.yaml
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook_test.go
  api/hardwaremanagement/v1alpha1/suite_test.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_firmwarecatalogs.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_firmwarecatalogs.yaml
  config/crd/kustomization.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  config/samples/hardwaremanagement_v1alpha1_firmwarecatalog.yaml
  config/samples/kustomization.yaml
  config/webhook/manifests.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/firmwarecatalog_controller.go
  internal/controllers/firmwarecatalog_controller_test.go
  must-gather/gather
  test/fakeclient/fakeclient.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-25887: delegate drain and deallocation to NAR controller
  api/hardwaremanagement/v1alpha1/conditions.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25887: address review feedback on scale-in delegation
  docs/user-guide/cluster-configuration.md
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-25887: add MNO worker node scale-in support (Phase 2) (#3535)
  .golangci.yml
  api/hardwaremanagement/v1alpha1/conditions.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  docs/dev/e2e-test-overview.md
  docs/user-guide/cluster-configuration.md
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller_test.go
  test/e2e/mno_scale_test.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

docs: add hardware-manager to Prometheus metrics architecture
  docs/dev/prometheus-metrics.md
Due: markdownlint, ci/prow/markdownlint

Apply cluster TLS profile to hardware-manager metrics server
  internal/controllers/utils/constants.go
  internal/controllers/utils/tls_profile.go
  internal/controllers/utils/tls_profile_test.go
  internal/controllers/utils/utils.go
  internal/hardwaremanager/cmd/start_hardwaremanager.go
Due: ci/prow/ci-job, ci/prow/images

docs: add hardware-manager to TLS scanner results and architecture
  docs/dev/tls-configuration.md
Due: markdownlint, ci/prow/markdownlint

Enable Prometheus metrics scraping for hardware-manager
  bundle/manifests/oran-o2ims-hardwaremanager-server-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  config/prometheus/services-monitor.yaml
  internal/controllers/inventory_controller.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-25888: address CodeRabbit review feedback on Phase 3
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25888: remove checkExistingNodeAllocationRequest wrapper
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25888: fix abort early return and add abort test
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25888: add scale-in abort, skip drain for NotReady nodes, allow node group removal (Phase 3)
  docs/user-guide/cluster-configuration.md
  internal/controllers/helpers.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-25888: add scale-in abort, skip drain for NotReady nodes, allow node group removal (Phase 3) (#3596)
  docs/user-guide/cluster-configuration.md
  internal/controllers/helpers.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-26210: add MNO cluster node swap support (Phase 4)
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  docs/user-guide/cluster-configuration.md
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/utils/provision_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-26210: persist scale-out status message during swap transition
  internal/controllers/provisioningrequest_clusterinstall.go
Due: ci/prow/ci-job, ci/prow/images

Update Go version to 1.26.5
  .ci-operator.yaml
  .konflux/Dockerfile
  Dockerfile
  go.mod
Due: ci/prow/ci-job, ci/prow/images

Fix hardware-manager TLS and metrics (#3620)
  bundle/manifests/oran-o2ims-hardwaremanager-server-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  config/prometheus/services-monitor.yaml
  docs/dev/prometheus-metrics.md
  docs/dev/tls-configuration.md
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/tls_profile.go
  internal/controllers/utils/tls_profile_test.go
  internal/controllers/utils/utils.go
  internal/hardwaremanager/cmd/start_hardwaremanager.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

docs: complete provisioning status conditions and states
  docs/user-guide/cluster-provisioning.md
Due: markdownlint, ci/prow/markdownlint

Update Go version to 1.26.5 (#3632)
  .ci-operator.yaml
  .konflux/Dockerfile
  Dockerfile
  go.mod
Due: ci/prow/ci-job, ci/prow/images

Update dependabot config after go 1.26 upgrade
  .github/dependabot.yml
Due: ci/prow/ci-job, ci/prow/images

Update dependabot config after go 1.26 upgrade (#3638)
  .github/dependabot.yml
Due: ci/prow/ci-job, ci/prow/images

Address review feedback: consolidate FirmwareCatalogName, fix e2e, nits
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook_test.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook_test.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/hardwaremanagement_v1alpha1_firmwarecatalog.yaml
  internal/controllers/firmwarecatalog_controller_test.go
  internal/hardwaremanager/controller/firmware_catalog.go
  internal/hardwaremanager/controller/firmware_catalog_test.go
  internal/hardwaremanager/controller/helpers_test.go
  test/e2e/mno_hw_configuration_test.go
  test/utils/vars.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-25915: Update HardwareProfile API to reference FirmwareCatalog entries
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook_test.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_hardwareprofile.yaml
  config/webhook/manifests.yaml
  docs/user-guide/firmware-update-workflow.md
  internal/cmd/operator/start_controller_manager.go
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/firmware_catalog.go
  internal/hardwaremanager/controller/firmware_catalog_test.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager_test.go
  test/e2e/mno_hw_configuration_test.go
  test/e2e/sno_provisioning_test.go
  test/resources/mno_hw_configuration/firmware-catalog.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-r740-v2.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v1.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v2.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v3.yaml
  test/utils/vars.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

Add FirmwareCatalog cleanup to SNO test AfterAll
  test/e2e/sno_provisioning_test.go
Due: ci/prow/ci-job, ci/prow/images

Fix golangci-lint errors: goconst and gocritic
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook_test.go
  internal/hardwaremanager/controller/firmware_catalog.go
Due: ci/prow/ci-job, ci/prow/images

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/ci-job: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/images: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/scorecard: any of: ^bundle/
