Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint

scorecard:
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: 'ci-job-source prowci
  
  ...

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

Move first fetch all operation inside sync routine (#555)
  internal/service/alarms/internal/infrastructure/clusterserver.go
  internal/service/alarms/internal/infrastructure/infrastructure.go
Due: none

return resourceID with AlarmEventRecord
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/internal/db/models/converters.go
Due: none

return resourceID with AlarmEventRecord (#557)
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/internal/db/models/converters.go
Due: none

switch to string from enum for PerceivedSeverity value
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/db/migrations/000001_create_alarm_event_record_table.up.sql
Due: none

Fix filter comparison of boolean fields
  internal/search/selector_evaluator.go
  internal/search/selector_evaluator_test.go
Due: none

Fix capitalization of alarm event attributes
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/internal/db/models/converters.go
Due: none

Fix provisioning status for hw configuration
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/retry.go
Due: none

Update trust bundle procedure and naming (#553)
  README.md
  api/inventory/v1alpha1/inventory_types.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
Due: scorecard, markdownlint

Skip adding hw labels when hw template is not provided
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
Due: none

Skip adding hw labels when hw template is not provided (#561)
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
Due: none

Update doc to include ArgoCD integration
  docs/argocd/app-project.yaml
  docs/argocd/argocd-github-integration.sh
  docs/argocd/argocd-openshift-gitops-patch.json
  docs/argocd/clusters-app.yaml
  docs/argocd/gitops-cluster-rolebinding.yaml
  docs/argocd/gitops-policy-rolebinding.yaml
  docs/argocd/kustomization.yaml
  docs/argocd/policies-app-project.yaml
  docs/argocd/policies-app.yaml
  docs/cluster-provisioning.md
Due: markdownlint

Enhance duration logger to include more details
  internal/service/common/api/middleware/middleware.go
Due: none

Enhance duration logger to include more details (#563)
  internal/service/common/api/middleware/middleware.go
Due: none

Include local-cluster as NodeCluster without extra label
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_k8s.go
Due: none

Loosen the validation check for fulfilled state
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: none

Fix provisioning status for hw configuration (#560)
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/retry.go
Due: none

Include local-cluster as NodeCluster without extra label (#565)
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_k8s.go
Due: none

Loosen the validation check for fulfilled state (#566)
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: none

Add OAuth security scheme to openapi specs
  README.md
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_inventory.yaml
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/cluster/api/openapi.yaml
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
Due: scorecard, markdownlint

Display the provisioning failure when multiple errors occur
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
Due: none

Add OAuth security scheme to openapi specs (#569)
  README.md
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_inventory.yaml
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/cluster/api/openapi.yaml
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
Due: scorecard, markdownlint

Update OWNERS to add rauhersu and fontivan
  OWNERS_ALIASES
Due: none

Update OWNERS to add rauhersu and fontivan (#571)
  OWNERS_ALIASES
Due: none

Remove disable-auto-import annotation after the installation is complete
  .vscode/launch.json
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller_test.go
Due: none

Remove disable-auto-import annotation after the installation is complete (#572)
  .vscode/launch.json
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller_test.go
Due: none

Display the provisioning failure when multiple errors occur (#570)
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
Due: none

outbox for alarms events
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/db/migrations/000001_create_data_change_event_table.down.sql
  internal/service/alarms/internal/db/migrations/000001_create_data_change_event_table.up.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_event_record_table.down.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_event_record_table.up.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_subscription_info_table.down.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_subscription_info_table.up.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_service_configuration_table.down.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_service_configuration_table.up.sql
  internal/service/alarms/internal/db/models/alarm_event_record.go
  internal/service/alarms/internal/db/models/converters.go
  internal/service/alarms/internal/db/models/notification_cursor.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/db/repo/alarms_repository_interface.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
  internal/service/alarms/internal/db/repo/generated/mock_repo.generated.go
  internal/service/alarms/internal/listener/pg_listener.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/alarms/serve.go
  internal/service/common/listener/pg_listener_manager.go
  internal/service/common/utils/repository.go
Due: none

remove debug
  internal/service/alarms/internal/db/models/converters.go
Due: none

outbox for alarms events
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/db/migrations/000001_create_data_change_event_table.down.sql
  internal/service/alarms/internal/db/migrations/000001_create_data_change_event_table.up.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_event_record_table.down.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_event_record_table.up.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_subscription_info_table.down.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_subscription_info_table.up.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_service_configuration_table.down.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_service_configuration_table.up.sql
  internal/service/alarms/internal/db/models/alarm_event_record.go
  internal/service/alarms/internal/db/models/converters.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/db/repo/alarms_repository_interface.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
  internal/service/alarms/internal/db/repo/generated/mock_repo.generated.go
  internal/service/alarms/internal/listener/pg_listener.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/alarms/serve.go
  internal/service/common/db/models/notification_cursor.go
  internal/service/common/listener/pg_listener_manager.go
  internal/service/common/repo/repository.go
  internal/service/common/repo/repository_interface.go
Due: none

outbox for alarms events (#573)
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/db/migrations/000001_create_data_change_event_table.down.sql
  internal/service/alarms/internal/db/migrations/000001_create_data_change_event_table.up.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_event_record_table.down.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_event_record_table.up.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_subscription_info_table.down.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_subscription_info_table.up.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_service_configuration_table.down.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_service_configuration_table.up.sql
  internal/service/alarms/internal/db/models/alarm_event_record.go
  internal/service/alarms/internal/db/models/converters.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/db/repo/alarms_repository_interface.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
  internal/service/alarms/internal/db/repo/generated/mock_repo.generated.go
  internal/service/alarms/internal/listener/pg_listener.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/alarms/serve.go
  internal/service/common/db/models/notification_cursor.go
  internal/service/common/listener/pg_listener_manager.go
  internal/service/common/repo/repository.go
  internal/service/common/repo/repository_interface.go
Due: none

Add client TLS support for other servers
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

Update dependabot to ignore golang.org/x/oauth2 updates due to go 1.23
  .github/dependabot.yml
Due: none

CNF-16878: Add client certificate binding support
  README.md
  api/inventory/v1alpha1/inventory_types.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  internal/controllers/utils/utils.go
  internal/service/common/auth/auth_oauth.go
  internal/service/common/auth/auth_rfc8705.go
  internal/service/common/auth/auth_rfc8705_test.go
  internal/service/common/auth/middleware.go
  internal/service/common/utils/config.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
Due: scorecard, markdownlint

Validate ClusterInstance defaults ConfigMap against ClusterInstance CRD schema
  .vscode/launch.json
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrquest_validation_test.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
  internal/controllers/utils/test_common.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_validation.go
Due: scorecard

CNF-16878: Add client certificate binding support (#579)
  README.md
  api/inventory/v1alpha1/inventory_types.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  internal/controllers/utils/utils.go
  internal/service/common/auth/auth_oauth.go
  internal/service/common/auth/auth_rfc8705.go
  internal/service/common/auth/auth_rfc8705_test.go
  internal/service/common/auth/middleware.go
  internal/service/common/utils/config.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
Due: scorecard, markdownlint

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
