Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint

scorecard:
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: 'ci-job-source prowci
  
  ...

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

fix: use map[string]any for hostRef in ClusterInstance nodes (#1298)
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
Due: none

Remove stale warning from README
  README.md
Due: markdownlint

Remove stale warning from README (#1306)
  README.md
Due: markdownlint

Remove stale warning from README (#1307)
  README.md
Due: markdownlint

Resource server init step to add alarm dictionary and definition (built on metal3)
  internal/controllers/inventory_controller.go
  internal/service/cluster/collector/collector_alarms.go
  internal/service/common/constants.go
  internal/service/resources/db/migrations/000001_baseline.up.sql
  internal/service/resources/db/models/alarm_dictionary.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/listener/alarms_sync.go
  internal/service/resources/listener/pg_listener.go
  internal/service/resources/serve.go
Due: none

Move hardware timeout detection to Metal3 plugin
  api/hardwaremanagement/plugins/v1alpha1/node_allocation_requests.go
  api/hardwaremanagement/plugins/v1alpha1/zz_generated.deepcopy.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  bundle/manifests/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/crd/bases/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/controller/utils/node_allocation_request.go
  hwmgr-plugins/controller/utils/node_allocation_request_fsm.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller_test.go
  internal/controllers/mock_hardware_plugin_server.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/utils/conditions.go
  internal/controllers/utils/hardware_utils.go
Due: scorecard, markdownlint

Improve PR status accuracy during Day-2 policy configuration changes
  docs/samples/git-setup/policytemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-pg-v4-Y-Z+1-v1.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-pg-v4-Y-Z-v1.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-pg-v4-Y-Z-v2.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-pg-v4-Y-Z-v3.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-full-du/sno-ran-full-du-pg-v4-Y-Z-v1.yaml
  docs/user-guide/cluster-configuration.md
  docs/user-guide/gitops-layout-and-setup.md
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
Due: markdownlint

Improve PR status accuracy during Day-2 policy configuration changes (#1305)
  docs/samples/git-setup/policytemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-pg-v4-Y-Z+1-v1.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-pg-v4-Y-Z-v1.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-pg-v4-Y-Z-v2.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-pg-v4-Y-Z-v3.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-full-du/sno-ran-full-du-pg-v4-Y-Z-v1.yaml
  docs/user-guide/cluster-configuration.md
  docs/user-guide/gitops-layout-and-setup.md
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
Due: markdownlint

Improve PR status accuracy during Day-2 policy configuration changes (#1314)
  docs/samples/git-setup/policytemplates/version_4.Y.Z+1/sno-ran-du/sno-ran-du-pg-v4-Y-Z+1-v1.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-pg-v4-Y-Z-v1.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-pg-v4-Y-Z-v2.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-pg-v4-Y-Z-v3.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-full-du/sno-ran-full-du-pg-v4-Y-Z-v1.yaml
  docs/user-guide/cluster-configuration.md
  docs/user-guide/gitops-layout-and-setup.md
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
Due: markdownlint

build(deps): Bump open-cluster-management.io/api from 1.0.0 to 1.1.0 (#1324)
  go.mod
  go.sum
  vendor/modules.txt
  vendor/open-cluster-management.io/api/cluster/v1/0000_00_clusters.open-cluster-management.io_managedclusters.crd.yaml
  vendor/open-cluster-management.io/api/cluster/v1/doc.go
  vendor/open-cluster-management.io/api/cluster/v1/register.go
  vendor/open-cluster-management.io/api/cluster/v1/types.go
  vendor/open-cluster-management.io/api/cluster/v1/zz_generated.deepcopy.go
  vendor/open-cluster-management.io/api/cluster/v1/zz_generated.swagger_doc_generated.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/0000_02_clusters.open-cluster-management.io_placements.crd.yaml
  vendor/open-cluster-management.io/api/cluster/v1beta1/0000_03_clusters.open-cluster-management.io_placementdecisions.crd.yaml
  vendor/open-cluster-management.io/api/cluster/v1beta1/doc.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/register.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/types_placement.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/types_placementdecision.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/zz_generated.deepcopy.go
  vendor/open-cluster-management.io/api/cluster/v1beta1/zz_generated.swagger_doc_generated.go
  vendor/open-cluster-management.io/api/cluster/v1beta2/0000_00_clusters.open-cluster-management.io_managedclustersets.crd.yaml
  vendor/open-cluster-management.io/api/cluster/v1beta2/0000_01_clusters.open-cluster-management.io_managedclustersetbindings.crd.yaml
  vendor/open-cluster-management.io/api/cluster/v1beta2/doc.go
  vendor/open-cluster-management.io/api/cluster/v1beta2/register.go
  vendor/open-cluster-management.io/api/cluster/v1beta2/types_managedclusterset.go
  vendor/open-cluster-management.io/api/cluster/v1beta2/types_managedclustersetbinding.go
  vendor/open-cluster-management.io/api/cluster/v1beta2/zz_generated.deepcopy.go
  vendor/open-cluster-management.io/api/cluster/v1beta2/zz_generated.swagger_doc_generated.go
Due: none

Consolidate plugin and operator namespaces under OCLOUD_MANAGER_NAMESPACE
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  hwmgr-plugins/api/server/provisioning/helpers.go
  internal/controllers/inventory_controller.go
  internal/controllers/mock_hardware_plugin_server.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/hardware_utils.go
  test/e2e/e2e_suite_test.go
  test/utils/functions.go
Due: scorecard

Update OCP documentation links to latest versions
  docs/user-guide/environment-setup.md
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/ibi-based-cluster-provisioning.md
  docs/user-guide/prereqs.md
Due: markdownlint

Update OCP documentation links to latest versions (#1327)
  docs/user-guide/environment-setup.md
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/ibi-based-cluster-provisioning.md
  docs/user-guide/prereqs.md
Due: markdownlint

Update OCP documentation links to latest versions (#1328)
  docs/user-guide/environment-setup.md
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/ibi-based-cluster-provisioning.md
  docs/user-guide/prereqs.md
Due: markdownlint

Expose ProvisioningRequest metadata UID in REST API response
  docs/user-guide/cluster-provisioning.md
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
Due: markdownlint

Expose ProvisioningRequest metadata UID in REST API response (#1329)
  docs/user-guide/cluster-provisioning.md
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
Due: markdownlint

Increase wait timeout for scorecard tests from default 30s to 120s
  Makefile
Due: none

Increase wait timeout for scorecard tests from default 30s to 120s (#1333)
  Makefile
Due: none

Expose ProvisioningRequest metadata UID in REST API response (#1331)
  docs/user-guide/cluster-provisioning.md
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
Due: markdownlint

Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: none

Increase wait timeout for scorecard tests from default 30s to 120s (#1337)
  Makefile
Due: none

use BMH uid for hardware resources
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/resources/collector/collector_hwplugin.go
Due: none

error out if uid is not present
  internal/service/resources/collector/collector_hwplugin.go
Due: none

Extra metal3 plugin tests
  hwmgr-plugins/metal3/controller/resource_selection_test.go
  internal/controllers/mock_hardware_plugin_server.go
  test/e2e/e2e_suite_test.go
  test/utils/functions.go
  test/utils/vars.go
Due: none

Add missing definition for SHELLCHECK binary path
  Makefile
Due: none

Add shellcheck disable for cleanuyp function - This is used by the exit trap instead of being called directly
  hack/sync-api-submodules.sh
Due: none

CNF-20276: use BMH uid for hardware resources (#1338)
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/resources/collector/collector_hwplugin.go
Due: none

[release-4.20] CNF-20276: use BMH uid for hardware resources (#1350)
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/resources/collector/collector_hwplugin.go
Due: none

Add a phony file target for each of the dependencies downloaded for the build (#1349)
  Makefile
  hack/sync-api-submodules.sh
Due: none

[release-4.20] Add a phony file target for each of the dependencies downloaded for the build (#1352)
  Makefile
  hack/sync-api-submodules.sh
Due: none

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
