Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/ci-job: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/images: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/scorecard: any of: ^bundle/

feat: collect HardwareData CRs and add ACM must-gather docs
  docs/user-guide/must-gather.md
  must-gather/gather
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

feat: add custom must-gather image for troubleshooting data collection
  .containerignore
  Dockerfile.must-gather
  Makefile
  docs/troubleshooting.md
  docs/user-guide/must-gather.md
  must-gather/gather
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

Update must-gather image references to 4.21.0
  docs/troubleshooting.md
  docs/user-guide/must-gather.md
Due: markdownlint, ci/prow/markdownlint

feat: add custom must-gather image for troubleshooting data collection (#1958)
  .containerignore
  Dockerfile.must-gather
  Makefile
  docs/troubleshooting.md
  docs/user-guide/must-gather.md
  must-gather/gather
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

[release-4.21] feat: add custom must-gather image for troubleshooting data collection (#1964)
  .containerignore
  Dockerfile.must-gather
  Makefile
  docs/troubleshooting.md
  docs/user-guide/must-gather.md
  must-gather/gather
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-22256: update o-cloud-manager version to 4.21.4 in catalog files
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

CNF-22256: update o-cloud-manager version to 4.21.4 in catalog files (#1972)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

Add operators.openshift.io/tech-preview annotation to CSV
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

Update task-push-dockerfile-oci-ta hash in build-pipeline
  .tekton/build-pipeline.yaml
Due: none

Add operators.openshift.io/tech-preview annotation to CSV (#1986)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

Add operators.openshift.io/tech-preview annotation to CSV (#1987)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

docs: document HardwareTemplate resourceSelector and hardware data selectors
  docs/user-guide/template-overview.md
Due: markdownlint, ci/prow/markdownlint

Update task-push-dockerfile-oci-ta hash in build-pipeline (#1990)
  .tekton/build-pipeline.yaml
Due: none

docs: document HardwareTemplate resourceSelector and hardware data selectors (#1991)
  docs/user-guide/template-overview.md
Due: markdownlint, ci/prow/markdownlint

docs: update minimum OCP version requirements
  docs/user-guide/prereqs.md
Due: markdownlint, ci/prow/markdownlint

docs: update sample configs and user guides from R740 to XR8620t
  docs/samples/git-setup/clustertemplates/hardwareprofiles/dell-r740-bios-2.22.2-bmc-7.00.00.173-nic-16.35.30.06-24.0.5.yaml
  docs/samples/git-setup/clustertemplates/hardwareprofiles/dell-r740-bios-2.23.0-bmc-7.00.00.181.yaml
  docs/samples/git-setup/clustertemplates/hardwareprofiles/dell-xr8620t-bios-2.3.5-bmc-7.10.70.10.yaml
  docs/samples/git-setup/clustertemplates/hardwareprofiles/dell-xr8620t-bios-2.6.3-bmc-7.20.30.50-nic-24.0.5.yaml
  docs/samples/git-setup/clustertemplates/hardwareprofiles/kustomization.yaml
  docs/samples/git-setup/clustertemplates/hardwaretemplates/kustomization.yaml
  docs/samples/git-setup/clustertemplates/hardwaretemplates/sno-ran-du/dell-xr8620t-blue.yaml
  docs/samples/git-setup/clustertemplates/inventory/common.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-sno1.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-sno2.yaml
  docs/samples/git-setup/clustertemplates/inventory/kustomization.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-ibi-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-3.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-4.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-5.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/sno-ran-full-du-v4-Y-Z-1.yaml
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
Due: markdownlint, ci/prow/markdownlint

Update task-push-dockerfile-oci-ta hash in build-pipeline (#1989)
  .tekton/build-pipeline.yaml
Due: none

docs: update minimum OCP version requirements (#1995)
  docs/user-guide/prereqs.md
Due: markdownlint, ci/prow/markdownlint

Update task-push-dockerfile-oci-ta hash in build-pipeline (#1988)
  .tekton/build-pipeline.yaml
Due: none

docs: update sample configs and user guides from R740 to XR8620t (#1996)
  docs/samples/git-setup/clustertemplates/hardwareprofiles/dell-r740-bios-2.22.2-bmc-7.00.00.173-nic-16.35.30.06-24.0.5.yaml
  docs/samples/git-setup/clustertemplates/hardwareprofiles/dell-r740-bios-2.23.0-bmc-7.00.00.181.yaml
  docs/samples/git-setup/clustertemplates/hardwareprofiles/dell-xr8620t-bios-2.3.5-bmc-7.10.70.10.yaml
  docs/samples/git-setup/clustertemplates/hardwareprofiles/dell-xr8620t-bios-2.6.3-bmc-7.20.30.50-nic-24.0.5.yaml
  docs/samples/git-setup/clustertemplates/hardwareprofiles/kustomization.yaml
  docs/samples/git-setup/clustertemplates/hardwaretemplates/kustomization.yaml
  docs/samples/git-setup/clustertemplates/hardwaretemplates/sno-ran-du/dell-xr8620t-blue.yaml
  docs/samples/git-setup/clustertemplates/inventory/common.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-sno1.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-sno2.yaml
  docs/samples/git-setup/clustertemplates/inventory/kustomization.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-ibi-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-3.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-4.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-5.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/sno-ran-full-du-v4-Y-Z-1.yaml
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
Due: markdownlint, ci/prow/markdownlint

docs: document HardwareTemplate resourceSelector and hardware data selectors (#1994)
  docs/user-guide/template-overview.md
Due: markdownlint, ci/prow/markdownlint

docs: update minimum OCP version requirements (#2002)
  docs/user-guide/prereqs.md
Due: markdownlint, ci/prow/markdownlint

docs: fix typo and standardize formatting across user guides
  docs/user-guide/alarms-user-guide.md
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/environment-setup.md
  docs/user-guide/ibi-based-cluster-provisioning.md
  docs/user-guide/inventory-api.md
  docs/user-guide/prereqs.md
Due: markdownlint, ci/prow/markdownlint

docs: update sample configs and user guides from R740 to XR8620t (#2003)
  docs/samples/git-setup/clustertemplates/hardwareprofiles/dell-r740-bios-2.22.2-bmc-7.00.00.173-nic-16.35.30.06-24.0.5.yaml
  docs/samples/git-setup/clustertemplates/hardwareprofiles/dell-r740-bios-2.23.0-bmc-7.00.00.181.yaml
  docs/samples/git-setup/clustertemplates/hardwareprofiles/dell-xr8620t-bios-2.3.5-bmc-7.10.70.10.yaml
  docs/samples/git-setup/clustertemplates/hardwareprofiles/dell-xr8620t-bios-2.6.3-bmc-7.20.30.50-nic-24.0.5.yaml
  docs/samples/git-setup/clustertemplates/hardwareprofiles/kustomization.yaml
  docs/samples/git-setup/clustertemplates/hardwaretemplates/kustomization.yaml
  docs/samples/git-setup/clustertemplates/hardwaretemplates/sno-ran-du/dell-xr8620t-blue.yaml
  docs/samples/git-setup/clustertemplates/inventory/common.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-sno1.yaml
  docs/samples/git-setup/clustertemplates/inventory/dell-xr8620t-sno2.yaml
  docs/samples/git-setup/clustertemplates/inventory/kustomization.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-ibi-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-2.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-3.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-4.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-5.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/sno-ran-full-du-v4-Y-Z-1.yaml
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
Due: markdownlint, ci/prow/markdownlint

docs: add firmware update workflow guide for Day-0 and Day-2
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/firmware-update-workflow.md
Due: markdownlint, ci/prow/markdownlint

docs: write server onboarding guide
  docs/user-guide/server-onboarding.md
Due: markdownlint, ci/prow/markdownlint

Add v11 openapi and code generation
  Makefile
  hack/swagger-ui.sh
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/mock_generated/mock_client.gen.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/utils/constants.go
Due: ci/prow/ci-job, ci/prow/images

Add Location, OCloudSite and ResourcePool data sources in collector and serve
  internal/service/resources/collector/collector.go
  internal/service/resources/serve.go
Due: ci/prow/ci-job, ci/prow/images

Add new Location, OCloudSite and ResourcePool CRDs
  api/inventory/v1alpha1/location_types.go
  api/inventory/v1alpha1/ocloudsite_types.go
  api/inventory/v1alpha1/resourcepool_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ocloud.openshift.io_locations.yaml
  config/crd/bases/ocloud.openshift.io_ocloudsites.yaml
  config/crd/bases/ocloud.openshift.io_resourcepools.yaml
Due: ci/prow/ci-job, ci/prow/images

Detect duplicates of Location, OCloudSite and ResourcePool CRs
  api/inventory/v1alpha1/inventory_constants.go
  internal/controllers/envtest/location_controller_test.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
Due: ci/prow/ci-job, ci/prow/images

Add collector watch-based Location, OCloudSite and ResourcePool data sources
  Makefile
  internal/service/common/clients/k8s/k8s.go
  internal/service/common/utils/persist.go
  internal/service/common/utils/persist_test.go
  internal/service/common/utils/repository.go
  internal/service/common/utils/utils_test.go
  internal/service/resources/collector/collector_hwplugin.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_locations_envtest_test.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
Due: ci/prow/ci-job, ci/prow/images

Add v11 db, repository and http handlers
  internal/service/cluster/collector/collector.go
  internal/service/cluster/db/models/converters.go
  internal/service/cluster/serve.go
  internal/service/common/repo/repository.go
  internal/service/resources/api/api_suite_test.go
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
  internal/service/resources/db/migrations/000001_baseline.up.sql
  internal/service/resources/db/models/converters.go
  internal/service/resources/db/models/location.go
  internal/service/resources/db/models/o_cloud_site.go
  internal/service/resources/db/models/resource_pool.go
  internal/service/resources/db/repo/generated/mock_repo.generated.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_interface.go
  internal/service/resources/db/repo/repository_test.go
  internal/service/resources/serve.go
Due: ci/prow/ci-job, ci/prow/images

Replace deprecated ListFunc/WatchFunc with context-aware variants
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
Due: ci/prow/ci-job, ci/prow/images
