Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint

scorecard:
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: 'ci-job-source prowci
  
  ...

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

CNF-16418: Delete stale resources
  internal/service/resources/collector/collector.go
  internal/service/resources/db/repo/repository.go
Due: none

CNF-16418: Get resource related objects from hwmgr
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/resync-oran-hwmgr-plugin-modules.sh
  internal/controllers/inventory_controller.go
  internal/service/common/clients/k8s/k8s.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_acm.go
  internal/service/resources/collector/collector_hwmgr.go
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/collector/loader.go
  internal/service/resources/collector/utils.go
  internal/service/resources/db/models/converters.go
  internal/service/resources/db/models/deployment_manager.go
  internal/service/resources/db/models/resource.go
  internal/service/resources/db/models/resource_pool.go
  internal/service/resources/db/models/resource_type.go
  internal/service/resources/serve.go
  vendor/github.com/openshift-kni/oran-hwmgr-plugin/pkg/inventory-client/LICENSE
  vendor/github.com/openshift-kni/oran-hwmgr-plugin/pkg/inventory-client/generated/client.go
  vendor/modules.txt
Due: scorecard

Reject changes to templateName and templateVersion if provisioningRequest is not fulfilled
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: none

Reject changes to templateName and templateVersion if provisioningRequest is not fulfilled (#496)
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: none

Update README for mTLS and OAuth configurations
  README.md
Due: markdownlint

Update README for mTLS and OAuth configurations (#497)
  README.md
Due: markdownlint

CNF-16418: Allow deployment manager without extensions
  internal/service/resources/collector/collector_k8s.go
Due: none

Use dynamically loaded service account tokens
  internal/service/alarms/internal/infrastructure/clusterserver/clusterserver.go
  internal/service/common/clients/interceptor.go
  internal/service/resources/collector/collector_hwmgr.go
  vendor/github.com/oapi-codegen/oapi-codegen/v2/pkg/securityprovider/securityprovider.go
  vendor/modules.txt
Due: none

Use dynamically loaded client certificates
  go.mod
  go.sum
  internal/controllers/inventory_controller.go
  internal/controllers/utils/oauth.go
  internal/controllers/utils/secret.go
  internal/service/alarms/serve.go
  internal/service/cluster/serve.go
  internal/service/common/utils/config.go
  internal/service/resources/serve.go
  vendor/k8s.io/apiserver/LICENSE
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/cert_key.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/client_ca.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/configmap_cafile_content.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_cafile_content.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_serving_content.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_sni_content.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/interfaces.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/named_certificates.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/static_content.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/tlsconfig.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/union_content.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/util.go
  vendor/k8s.io/client-go/tools/events/OWNERS
  vendor/k8s.io/client-go/tools/events/doc.go
  vendor/k8s.io/client-go/tools/events/event_broadcaster.go
  vendor/k8s.io/client-go/tools/events/event_recorder.go
  vendor/k8s.io/client-go/tools/events/fake.go
  vendor/k8s.io/client-go/tools/events/helper.go
  vendor/k8s.io/client-go/tools/events/interfaces.go
  vendor/modules.txt
Due: none

Loosen HTTP status code checks
  internal/controllers/inventory_controller.go
  internal/service/common/notifier/event.go
Due: none

Add ClusterTemplate ID as label in MCL and Agent CRs
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
Due: scorecard

Loosen HTTP status code checks (#501)
  internal/controllers/inventory_controller.go
  internal/service/common/notifier/event.go
Due: none

CNF-16418: Add placeholder alarm dictionary in resource type
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/db/models/converters.go
Due: none

CNF-16418: PR Comments
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/db/models/converters.go
Due: none

CNF-16418: Add placeholder alarm dictionary in resource type (#500)
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/db/models/converters.go
Due: none

Add status.selectedPools field to NodePool CRD
  api/hardwaremanagement/v1alpha1/node_pools.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_nodepools.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_nodepools.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/node_pools.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

Add ClusterTemplate ID as label in MCL and Agent CRs (#502)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
Due: scorecard

Add status.selectedPools field to NodePool CRD (#504)
  api/hardwaremanagement/v1alpha1/node_pools.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_nodepools.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_nodepools.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/node_pools.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

Use dynamically loaded certificates/tokens (#499)
  go.mod
  go.sum
  internal/controllers/inventory_controller.go
  internal/controllers/utils/oauth.go
  internal/controllers/utils/secret.go
  internal/service/alarms/internal/infrastructure/clusterserver/clusterserver.go
  internal/service/alarms/serve.go
  internal/service/cluster/serve.go
  internal/service/common/clients/interceptor.go
  internal/service/common/utils/config.go
  internal/service/resources/collector/collector_hwmgr.go
  internal/service/resources/serve.go
  vendor/github.com/oapi-codegen/oapi-codegen/v2/pkg/securityprovider/securityprovider.go
  vendor/k8s.io/apiserver/LICENSE
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/cert_key.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/client_ca.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/configmap_cafile_content.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_cafile_content.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_serving_content.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/dynamic_sni_content.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/interfaces.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/named_certificates.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/static_content.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/tlsconfig.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/union_content.go
  vendor/k8s.io/apiserver/pkg/server/dynamiccertificates/util.go
  vendor/k8s.io/client-go/tools/events/OWNERS
  vendor/k8s.io/client-go/tools/events/doc.go
  vendor/k8s.io/client-go/tools/events/event_broadcaster.go
  vendor/k8s.io/client-go/tools/events/event_recorder.go
  vendor/k8s.io/client-go/tools/events/fake.go
  vendor/k8s.io/client-go/tools/events/helper.go
  vendor/k8s.io/client-go/tools/events/interfaces.go
  vendor/modules.txt
Due: none

Sample and docs updates for ProvisioningRequest
  api/provisioning/v1alpha1/provisioningrequest_types.go
  bundle/manifests/o2ims.provisioning.oran.org_provisioningrequests.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.provisioning.oran.org_provisioningrequests.yaml
  config/samples/v1alpha1_provisioningrequest.yaml
  docs/cluster-configuration.md
  docs/cluster-provisioning.md
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_types.go
Due: scorecard, markdownlint

introduce DB and repository layer mocking. init tests for repo and server.
  go.mod
  go.sum
  internal/service/alarms/api/api_suite_test.go
  internal/service/alarms/api/server.go
  internal/service/alarms/api/server_test.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/db/repo/alarms_repository_interface.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
  internal/service/alarms/internal/db/repo/generated/mock_repo.generated.go
  internal/service/alarms/internal/db/repo/repo_suite_test.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/alarms/internal/notifier_provider/subscription.go
  internal/service/alarms/internal/serviceconfig/serviceconfig.go
  internal/service/alarms/serve.go
  internal/service/common/utils/repository.go
  vendor/github.com/pashagolub/pgxmock/v4/.gitignore
  vendor/github.com/pashagolub/pgxmock/v4/.golangci.yml
  vendor/github.com/pashagolub/pgxmock/v4/LICENSE
  vendor/github.com/pashagolub/pgxmock/v4/README.md
  vendor/github.com/pashagolub/pgxmock/v4/argument.go
  vendor/github.com/pashagolub/pgxmock/v4/batch.go
  vendor/github.com/pashagolub/pgxmock/v4/driver.go
  vendor/github.com/pashagolub/pgxmock/v4/expectations.go
  vendor/github.com/pashagolub/pgxmock/v4/options.go
  vendor/github.com/pashagolub/pgxmock/v4/pgxmock.go
  vendor/github.com/pashagolub/pgxmock/v4/query.go
  vendor/github.com/pashagolub/pgxmock/v4/result.go
  vendor/github.com/pashagolub/pgxmock/v4/rows.go
  vendor/modules.txt
Due: markdownlint

Sample and docs updates for ProvisioningRequest (#508)
  api/provisioning/v1alpha1/provisioningrequest_types.go
  bundle/manifests/o2ims.provisioning.oran.org_provisioningrequests.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.provisioning.oran.org_provisioningrequests.yaml
  config/samples/v1alpha1_provisioningrequest.yaml
  docs/cluster-configuration.md
  docs/cluster-provisioning.md
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_types.go
Due: scorecard, markdownlint

Update resync-oran-hwmgr-plugin-modules.sh to drop stale replace directives
  hack/resync-oran-hwmgr-plugin-modules.sh
Due: none

Update resync-oran-hwmgr-plugin-modules.sh to drop stale replace directives (#509)
  hack/resync-oran-hwmgr-plugin-modules.sh
Due: none

Fix typo in dependabot config
  .github/dependabot.yml
Due: none

Fix typo in dependabot config (#510)
  .github/dependabot.yml
Due: none

Add resource hardware profile to extensions
  go.mod
  go.sum
  internal/service/resources/collector/collector_hwmgr.go
  vendor/github.com/openshift-kni/oran-hwmgr-plugin/pkg/inventory-client/generated/client.go
  vendor/modules.txt
Due: none

Add resource hardware profile to extensions (#512)
  go.mod
  go.sum
  internal/service/resources/collector/collector_hwmgr.go
  vendor/github.com/openshift-kni/oran-hwmgr-plugin/pkg/inventory-client/generated/client.go
  vendor/modules.txt
Due: none

Add env variable to control forced SMO registration
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
Due: none

Add env variable to control forced SMO registration (#513)
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
Due: none

introduce DB and repository layer mocking. init tests for repo and server. (#498)
  go.mod
  go.sum
  internal/service/alarms/api/api_suite_test.go
  internal/service/alarms/api/server.go
  internal/service/alarms/api/server_test.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/db/repo/alarms_repository_interface.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
  internal/service/alarms/internal/db/repo/generated/mock_repo.generated.go
  internal/service/alarms/internal/db/repo/repo_suite_test.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/alarms/internal/notifier_provider/subscription.go
  internal/service/alarms/internal/serviceconfig/serviceconfig.go
  internal/service/alarms/serve.go
  internal/service/common/utils/repository.go
  vendor/github.com/pashagolub/pgxmock/v4/.gitignore
  vendor/github.com/pashagolub/pgxmock/v4/.golangci.yml
  vendor/github.com/pashagolub/pgxmock/v4/LICENSE
  vendor/github.com/pashagolub/pgxmock/v4/README.md
  vendor/github.com/pashagolub/pgxmock/v4/argument.go
  vendor/github.com/pashagolub/pgxmock/v4/batch.go
  vendor/github.com/pashagolub/pgxmock/v4/driver.go
  vendor/github.com/pashagolub/pgxmock/v4/expectations.go
  vendor/github.com/pashagolub/pgxmock/v4/options.go
  vendor/github.com/pashagolub/pgxmock/v4/pgxmock.go
  vendor/github.com/pashagolub/pgxmock/v4/query.go
  vendor/github.com/pashagolub/pgxmock/v4/result.go
  vendor/github.com/pashagolub/pgxmock/v4/rows.go
  vendor/modules.txt
Due: markdownlint

Move alarm dictionary collection logic into cluster server
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/cluster/api/openapi.yaml
  internal/service/cluster/api/server.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_alarms.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/cluster/db/migrations/000001_baseline.up.sql
  internal/service/cluster/db/models/converters.go
  internal/service/cluster/db/repo/repository.go
  internal/service/cluster/serve.go
  internal/service/common/api/generated/common.generated.go
  internal/service/common/api/openapi.yaml
  internal/service/common/db/models/alarm_definition.go
  internal/service/common/db/models/alarm_dictionary.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/db/models/converters.go
Due: none

Move alarm dictionary collection logic into cluster server (#503)
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/cluster/api/openapi.yaml
  internal/service/cluster/api/server.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_alarms.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/cluster/db/migrations/000001_baseline.up.sql
  internal/service/cluster/db/models/converters.go
  internal/service/cluster/db/repo/repository.go
  internal/service/cluster/serve.go
  internal/service/common/api/generated/common.generated.go
  internal/service/common/api/openapi.yaml
  internal/service/common/db/models/alarm_definition.go
  internal/service/common/db/models/alarm_dictionary.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/db/models/converters.go
Due: none

Require cluster template labels on clusters and agents
  go.mod
  internal/service/cluster/collector/collector_k8s.go
  internal/service/common/async/store.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_k8s.go
Due: none

Link cluster resource to node cluster
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/cluster/db/migrations/000001_baseline.up.sql
  internal/service/cluster/db/models/cluster_resource.go
  internal/service/cluster/db/repo/repository.go
  internal/service/common/utils/repository.go
Due: none

extract out alerts list for better maintainability and reusability + lint
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
Due: none

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
