Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

scorecard:
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: 'ci-job-source prowci
  
  ...

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

ci/prow/ci-job:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/markdownlint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/scorecard:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

CNF-23709: Add explicit PFS cipher suite list to TLS configs
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-85549: Eliminate BMH status update race in MNO day2 e2e test
  test/e2e/mno_hw_configuration_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-85549: Eliminate BMH status update race in MNO day2 e2e test (#2549)
  test/e2e/mno_hw_configuration_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23711: Remove payload reflection from error responses
  internal/service/common/api/middleware/filtering.go
  internal/service/common/api/middleware/filtering_test.go
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23715: Add slog.Warn to Authenticator failure paths
  internal/service/common/auth/auth.go
  internal/service/common/auth/auth_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23712: Add structured logging for OpenAPI validation failures (#2545)
  internal/service/common/api/middleware/middleware.go
  internal/service/common/api/middleware/middleware_test.go
Due: ci/prow/ci-job, ci/prow/images

fix: anchor golangci-lint regex patterns to prevent substring matches
  .golangci.yml
Due: ci/prow/ci-job, ci/prow/images

CNF-23329: upgrade to Go 1.25 and update linting
  .ci-operator.yaml
  .github/dependabot.yml
  .golangci.yml
  .konflux/Dockerfile
  Dockerfile
  Makefile
  dev-tools/crd-watcher/formatter.go
  dev-tools/crd-watcher/tui.go
  dev-tools/crd-watcher/watcher.go
  go.mod
  hack/update_deps.sh
  internal/controllers/hardwaremanager_setup.go
  internal/controllers/inventory_controller.go
  internal/controllers/utils/provision.go
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/common/api/options.go
  internal/service/common/utils/utils.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23666: sanitize env-overridden file paths in alarms API
  internal/service/alarms/internal/alertmanager/api.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23715: Add slog.Warn to Authenticator failure paths (#2572)
  internal/service/common/auth/auth.go
  internal/service/common/auth/auth_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23691: cache alarm dictionaries on the resource server (#2538)
  .coverage-thresholds.yaml
  internal/service/cluster/api/server.go
  internal/service/cluster/api/server_test.go
  internal/service/cluster/serve.go
  internal/service/common/cache/cache.go
  internal/service/common/cache/cache_test.go
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
  internal/service/resources/listener/pg_listener.go
  internal/service/resources/listener/pg_listener_test.go
  internal/service/resources/serve.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23666: Go 1.25 Phase 1 — build config, linting, and tooling (#2505)
  .ci-operator.yaml
  .github/dependabot.yml
  .golangci.yml
  .konflux/Dockerfile
  Dockerfile
  Makefile
  dev-tools/crd-watcher/formatter.go
  dev-tools/crd-watcher/tui.go
  dev-tools/crd-watcher/watcher.go
  go.mod
  hack/update_deps.sh
  internal/controllers/hardwaremanager_setup.go
  internal/controllers/inventory_controller.go
  internal/controllers/utils/provision.go
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/common/api/options.go
  internal/service/common/utils/utils.go
Due: ci/prow/ci-job, ci/prow/images

chore: ignore k8s.io >= 0.36.0 in dependabot
  .github/dependabot.yml
Due: ci/prow/ci-job, ci/prow/images

docs: add test code improvements proposal
  docs/proposals/test-code-improvements.md
Due: markdownlint, ci/prow/markdownlint

docs: update proposal to reflect bmh_test.go is functional
  docs/proposals/test-code-improvements.md
Due: markdownlint, ci/prow/markdownlint

test: cleanup naming and misleading comments
  docs/user-guide/cluster-api.md
  test/e2e/bmh_test.go
  test/e2e/mno_hw_configuration_test.go
  test/utils/vars.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

test: cleanup naming and misleading comments (#2623)
  docs/user-guide/cluster-api.md
  test/e2e/bmh_test.go
  test/e2e/mno_hw_configuration_test.go
  test/utils/vars.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

test: add e2e test overview with Ginkgo labels and By steps
  Makefile
  docs/dev/e2e-test-overview.md
  hack/generate-e2e-outline.sh
  test/e2e/bmh_test.go
  test/e2e/sno_provisioning_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

fix: preserve ginkgo stderr in e2e outline generator
  hack/generate-e2e-outline.sh
Due: ci/prow/ci-job, ci/prow/images

test: remove bmh_test.go (no controller logic exercised)
  docs/dev/e2e-test-overview.md
  test/e2e/bmh_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-23711: Address review feedback for payload reflection fixes
  internal/service/alarms/api/server.go
  internal/service/alarms/api/server_test.go
  internal/service/cluster/api/server.go
  internal/service/cluster/api/server_test.go
  internal/service/common/api/middleware/filtering.go
  internal/service/common/api/middleware/filtering_test.go
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23711: Use generic message for filter parse errors sent to client
  internal/service/common/api/middleware/filtering.go
  internal/service/common/api/middleware/filtering_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23711: Strip raw input from error handler responses
  internal/service/common/api/middleware/middleware.go
  internal/service/common/api/middleware/middleware_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23709: Address review feedback for PFS cipher suite enforcement
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/alarms/internal/alertmanager/api.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23708: Explicitly configure PFS-only cipher suites for TLS (#2548)
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/alarms/internal/alertmanager/api.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23710: Remove payload reflection from error responses (#2560)
  internal/service/alarms/api/server.go
  internal/service/alarms/api/server_test.go
  internal/service/cluster/api/server.go
  internal/service/cluster/api/server_test.go
  internal/service/common/api/middleware/filtering.go
  internal/service/common/api/middleware/filtering_test.go
  internal/service/common/api/middleware/middleware.go
  internal/service/common/api/middleware/middleware_test.go
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
Due: ci/prow/ci-job, ci/prow/images

chore: ignore deps that require controller-runtime v0.23
  .github/dependabot.yml
Due: ci/prow/ci-job, ci/prow/images

CNF-22836: Add container ID, client IP, and payload context to auth failure logs
  internal/service/common/auth/auth.go
  internal/service/common/auth/auth_test.go
Due: ci/prow/ci-job, ci/prow/images

chore: ignore deps that require controller-runtime v0.23 (#2647)
  .github/dependabot.yml
Due: ci/prow/ci-job, ci/prow/images

chore: lower prometheus-operator ignore to >= 0.90.0
  .github/dependabot.yml
Due: ci/prow/ci-job, ci/prow/images

chore: lower prometheus-operator ignore to >= 0.90.0 (#2660)
  .github/dependabot.yml
Due: ci/prow/ci-job, ci/prow/images

chore: ignore hive/apis in dependabot to unblock dependency updates
  .github/dependabot.yml
Due: ci/prow/ci-job, ci/prow/images

chore: ignore hive/apis in dependabot to unblock dependency updates (#2661)
  .github/dependabot.yml
Due: ci/prow/ci-job, ci/prow/images

test: standardize on .ToNot() for negated Gomega assertions
  AGENTS.md
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/utils/utils_test.go
  internal/hardwaremanager/controller/allocatednode_controller_test.go
  internal/hardwaremanager/controller/baremetalhost_manager_test.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager_test.go
  internal/hardwaremanager/controller/hostupdatepolicy_manager_test.go
  internal/hardwaremanager/controller/resource_selection_test.go
  internal/hardwaremanager/utils/allocated_node_test.go
  internal/service/alarms/api/server_test.go
  internal/service/alarms/internal/alertmanager/api_test.go
  internal/service/alarms/internal/alertmanager/config_test.go
  internal/service/alarms/internal/alertmanager/converter_test.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
  internal/service/cluster/api/server_test.go
  internal/service/cluster/collector/collector_alarms_test.go
  internal/service/cluster/collector/collector_k8s_test.go
  internal/service/common/api/middleware/filtering_test.go
  internal/service/common/api/middleware/middleware_test.go
  internal/service/common/api/middleware/schema_utils_test.go
  internal/service/common/api/utils_test.go
  internal/service/common/async/store_test.go
  internal/service/common/cache/cache_test.go
  internal/service/common/utils/utils_test.go
  internal/service/provisioning/api/envtest/server_test.go
  internal/service/provisioning/api/server_test.go
  internal/service/resources/api/server_test.go
  internal/service/resources/collector/collector_hwmgr_test.go
  internal/service/resources/collector/envtest/suite_test.go
  internal/service/resources/collector/hierarchy_test.go
  internal/service/resources/collector/transformer_test.go
  internal/service/resources/listener/alarms_sync_test.go
  internal/service/resources/listener/pg_listener_test.go
  test/e2e/e2e_suite_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/ci-job: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/images: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/scorecard: any of: ^bundle/
