Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint

ci-operator/config/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-main.yaml:

base_images:
  cli-operator-sdk:
    name: cli-operator-sdk
    namespace: ocp
    tag: v1.31.0
  ubi-min9:
    name: ubi-minimal
    namespace: ocp
    tag: "9"
binary_build_commands: make binary
build_root:
  project_image:
    dockerfile_path: Dockerfile.tools
images:
- dockerfile_path: Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator
- dockerfile_path: bundle.Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator-bundle
operator:
  bundles:
  - as: operator-bundle
    dockerfile_path: bundle.Dockerfile
    skip_building_index: true
  substitutions:
  - pullspec: quay.io/openshift-kni/oran-o2ims-operator:.*
    with: pipeline:oran-o2ims-operator
promotion:
  to:
  - name: "4.16"
    namespace: ocp-kni
releases:
  initial:
    integration:
      name: "4.16"
      namespace: ocp
  latest:
    integration:
      include_built_images: true
      name: "4.16"
      namespace: ocp
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  ./hack/install-markdownlint.sh
tests:
- as: ci-job
  commands: make ci-job
  container:
    from: src
- as: scorecard
  run_if_changed: ^bundle/
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: |
        ci-job-source prowci
        ci-job-branch main
        ci-job-fullname openshift-kni-scorecard-oran-o2ims-main
        ci-job-type optional-operators-ci-aws
        ci-repo-name oran-o2ims
        ci-org-name openshift-kni
    test:
    - as: scorecard-test
      cli: latest
      commands: make scorecard-test
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: optional-operators-ci-operator-sdk-aws
- always_run: false
  as: markdownlint
  commands: |
    hack/markdownlint.sh
  container:
    from: test-bin
  run_if_changed: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
zz_generated_metadata:
  branch: main
  org: openshift-kni
  repo: oran-o2ims

extract out alerts list for better maintainability and reusability + lint (#516)
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
Due: none

Handle artifacts labels for MNO
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
Due: none

Handle artifacts labels for MNO (#517)
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
Due: none

Support pending status for ProvisioningRequest
  api/provisioning/v1alpha1/provisioningrequest_types.go
  bundle/manifests/o2ims.provisioning.oran.org_provisioningrequests.yaml
  config/crd/bases/o2ims.provisioning.oran.org_provisioningrequests.yaml
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/utils/conditions.go
  internal/controllers/utils/utils.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_types.go
Due: scorecard

Implement alarm dictionary endpoints for cluster server
  internal/service/cluster/api/server.go
  internal/service/cluster/db/repo/repository.go
Due: none

Implement alarm dictionary endpoints for cluster server (#520)
  internal/service/cluster/api/server.go
  internal/service/cluster/db/repo/repository.go
Due: none

Temporarily remove limits for the O2IMS deployment
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: scorecard

Temporarily remove limits for the O2IMS deployment (#521)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: scorecard

Fix alarm service configuration delete resources
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
Due: none

Fix alarm service configuration delete resources (#522)
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
Due: none

Support pending status for ProvisioningRequest (#518)
  api/provisioning/v1alpha1/provisioningrequest_types.go
  bundle/manifests/o2ims.provisioning.oran.org_provisioningrequests.yaml
  config/crd/bases/o2ims.provisioning.oran.org_provisioningrequests.yaml
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/utils/conditions.go
  internal/controllers/utils/utils.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_types.go
Due: scorecard

Fix debug mode handling for re-registration
  README.md
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
Due: markdownlint

Disable http2 for IMS
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/default/manager_auth_proxy_patch.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/inventory_controller.go
Due: scorecard

improve test coverage for alarms
  .gitignore
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
  internal/service/common/utils/repository.go
  internal/service/common/utils/utils.go
Due: none

improve test coverage for alarms (#519)
  .gitignore
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
  internal/service/common/utils/repository.go
  internal/service/common/utils/utils.go
Due: none

only allow merge-patch+json for patch requests
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/common/api/middleware.go
Due: none

Disable http2 for IMS (#523)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/default/manager_auth_proxy_patch.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/inventory_controller.go
Due: scorecard

Fix debug mode handling for re-registration (#525)
  README.md
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
Due: markdownlint

only allow merge-patch+json for patch requests (#526)
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/common/api/middleware.go
Due: none

remove FromAsCasing warning
  Dockerfile
Due: none

Cleanup unused fields from Inventory CRD
  README.md
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/resources/api/server.go
  internal/service/resources/cmd/serve.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
Due: scorecard, markdownlint

remove FromAsCasing warning (#527)
  Dockerfile
Due: none

Fix lookup of hwmgr plugin namespace
  internal/controllers/inventory_controller.go
  internal/service/resources/collector/collector_hwmgr.go
Due: none

Fix lookup of hwmgr plugin namespace (#529)
  internal/controllers/inventory_controller.go
  internal/service/resources/collector/collector_hwmgr.go
Due: none

Fetch alarm dictionaries from cluster server
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/alertmanager/alertmanager.go
  internal/service/alarms/internal/db/migrations/000001_create_alarm_dictionary_table.down.sql
  internal/service/alarms/internal/db/migrations/000001_create_alarm_dictionary_table.up.sql
  internal/service/alarms/internal/db/migrations/000001_create_alarm_event_record_table.down.sql
  internal/service/alarms/internal/db/migrations/000001_create_alarm_event_record_table.up.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_definition_table.down.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_definition_table.up.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_subscription_info_table.down.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_subscription_info_table.up.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_service_configuration_table.down.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_service_configuration_table.up.sql
  internal/service/alarms/internal/db/models/alarm_definition.go
  internal/service/alarms/internal/db/models/alarm_dictionary.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/db/repo/alarms_repository_interface.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
  internal/service/alarms/internal/db/repo/generated/mock_repo.generated.go
  internal/service/alarms/internal/dictionary_collector/cluster.go
  internal/service/alarms/internal/dictionary_collector/collector.go
  internal/service/alarms/internal/dictionary_collector/dictionary_collector_test.go
  internal/service/alarms/internal/dictionary_collector/suite_test.go
  internal/service/alarms/internal/infrastructure/clusterserver.go
  internal/service/alarms/internal/infrastructure/clusterserver/clusterserver.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/generate.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/mock_generated/mock_client.gen.go
  internal/service/alarms/internal/infrastructure/clusterserver_test.go
  internal/service/alarms/internal/infrastructure/infrastructure.go
  internal/service/alarms/internal/infrastructure/suite_test.go
  internal/service/alarms/serve.go
  internal/service/cluster/collector/collector_alarms.go
Due: scorecard

Fetch alarm dictionaries from cluster server (#531)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/alertmanager/alertmanager.go
  internal/service/alarms/internal/db/migrations/000001_create_alarm_dictionary_table.down.sql
  internal/service/alarms/internal/db/migrations/000001_create_alarm_dictionary_table.up.sql
  internal/service/alarms/internal/db/migrations/000001_create_alarm_event_record_table.down.sql
  internal/service/alarms/internal/db/migrations/000001_create_alarm_event_record_table.up.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_definition_table.down.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_definition_table.up.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_subscription_info_table.down.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_subscription_info_table.up.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_service_configuration_table.down.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_service_configuration_table.up.sql
  internal/service/alarms/internal/db/models/alarm_definition.go
  internal/service/alarms/internal/db/models/alarm_dictionary.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/db/repo/alarms_repository_interface.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
  internal/service/alarms/internal/db/repo/generated/mock_repo.generated.go
  internal/service/alarms/internal/dictionary_collector/cluster.go
  internal/service/alarms/internal/dictionary_collector/collector.go
  internal/service/alarms/internal/dictionary_collector/dictionary_collector_test.go
  internal/service/alarms/internal/dictionary_collector/suite_test.go
  internal/service/alarms/internal/infrastructure/clusterserver.go
  internal/service/alarms/internal/infrastructure/clusterserver/clusterserver.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/generate.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/mock_generated/mock_client.gen.go
  internal/service/alarms/internal/infrastructure/clusterserver_test.go
  internal/service/alarms/internal/infrastructure/infrastructure.go
  internal/service/alarms/internal/infrastructure/suite_test.go
  internal/service/alarms/serve.go
  internal/service/cluster/collector/collector_alarms.go
Due: scorecard

Make UUID comparison case insensitive
  internal/search/selector_evaluator.go
  internal/search/selector_evaluator_test.go
Due: none

Make UUID comparison case insensitive (#533)
  internal/search/selector_evaluator.go
  internal/search/selector_evaluator_test.go
Due: none

CNF-15854: Fix CloudInfo attribute name for global cloud id
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/serve.go
Due: none

Add extra labels on the Agents CRs
  .vscode/launch.json
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_setup.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
Due: none

CNF-15854: Fix CloudInfo attribute name for global cloud id (#534)
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/serve.go
Due: none

Add extra labels on the Agents CRs (#536)
  .vscode/launch.json
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_setup.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
Due: none

Add labels to inventory resource
  internal/service/resources/collector/collector_hwmgr.go
Due: none

Include hwMgrId value in inventory uuid generation
  internal/controllers/utils/utils.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/resources/collector/collector_hwmgr.go
Due: none

Link ClusterResource to Resource
  internal/service/cluster/collector/collector_k8s.go
Due: none
