Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint

ci-operator/config/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-main.yaml:

base_images:
  cli-operator-sdk:
    name: cli-operator-sdk
    namespace: ocp
    tag: v1.31.0
  ubi-min9:
    name: ubi-minimal
    namespace: ocp
    tag: "9"
binary_build_commands: make binary
build_root:
  project_image:
    dockerfile_path: Dockerfile.tools
images:
- dockerfile_path: Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator
- dockerfile_path: bundle.Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator-bundle
operator:
  bundles:
  - as: operator-bundle
    dockerfile_path: bundle.Dockerfile
    skip_building_index: true
  substitutions:
  - pullspec: quay.io/openshift-kni/oran-o2ims-operator:.*
    with: pipeline:oran-o2ims-operator
promotion:
  to:
  - name: "4.16"
    namespace: ocp-kni
releases:
  initial:
    integration:
      name: "4.16"
      namespace: ocp
  latest:
    integration:
      include_built_images: true
      name: "4.16"
      namespace: ocp
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  ./hack/install-markdownlint.sh
tests:
- as: ci-job
  commands: make ci-job
  container:
    from: src
- as: scorecard
  run_if_changed: ^bundle/
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: |
        ci-job-source prowci
        ci-job-branch main
        ci-job-fullname openshift-kni-scorecard-oran-o2ims-main
        ci-job-type optional-operators-ci-aws
        ci-repo-name oran-o2ims
        ci-org-name openshift-kni
    test:
    - as: scorecard-test
      cli: latest
      commands: make scorecard-test
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: optional-operators-ci-operator-sdk-aws
- always_run: false
  as: markdownlint
  commands: |
    hack/markdownlint.sh
  container:
    from: test-bin
  run_if_changed: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
zz_generated_metadata:
  branch: main
  org: openshift-kni
  repo: oran-o2ims

feat(crd-watcher): Enhance inventory refresh, deletion handling, and display consistency
  .gitignore
  dev-tools/crd-watcher/README.md
  dev-tools/crd-watcher/formatter.go
  dev-tools/crd-watcher/main.go
  dev-tools/crd-watcher/tui.go
  dev-tools/crd-watcher/watcher.go
Due: markdownlint

Add Sharat Akhoury to owners
  OWNERS_ALIASES
Due: none

feat(crd-watcher): Enhance inventory refresh, deletion handling, and display consistency (#837)
  .gitignore
  dev-tools/crd-watcher/README.md
  dev-tools/crd-watcher/formatter.go
  dev-tools/crd-watcher/main.go
  dev-tools/crd-watcher/tui.go
  dev-tools/crd-watcher/watcher.go
Due: markdownlint

Add Sharat Akhoury to owners (#839)
  OWNERS_ALIASES
Due: none

Run go mod tidy after dependabot update
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Update submodules automatically from make commands
  Makefile
  README.md
  hack/update_deps.sh
Due: markdownlint

Update submodules automatically from make commands (#843)
  Makefile
  README.md
  hack/update_deps.sh
Due: markdownlint

Update renovate configuration - Replace fileMatch with managerFilePatterns - Add baseBranches configuration
  renovate.json
Due: none

Update owners configuration - Add additional konflux approvers - Format OWNERS/OWNERS_ALISES files to yamllint standard
  OWNERS
  OWNERS_ALIASES
Due: none

Update on-cel-expression to include telco5g-konflux in all components - Without this, changes to the library could be breaking and merge without warning
  .tekton/o-cloud-manager-4-20-pull-request.yaml
  .tekton/o-cloud-manager-4-20-push.yaml
  .tekton/o-cloud-manager-bundle-4-20-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-push.yaml
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
Due: none

Update on-cel-expression to include telco5g-konflux in all components (#849)
  .tekton/o-cloud-manager-4-20-pull-request.yaml
  .tekton/o-cloud-manager-4-20-push.yaml
  .tekton/o-cloud-manager-bundle-4-20-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-push.yaml
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
Due: none

Update owners configuration (#851)
  OWNERS
  OWNERS_ALIASES
Due: none

metal3: Update inventory replies with aggregated state info
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  hwmgr-plugins/api/client/inventory/generated.go
  hwmgr-plugins/api/openapi/specs/inventory.yaml
  hwmgr-plugins/api/server/inventory/generated.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  internal/controllers/metal3plugin_server_setup.go
Due: scorecard

Update renovate configuration - Remove baseBranches configuration as this has some conflicts with Mintmaker usage - Add "git-submodules" section - Add "at any time" schedules to several sections
  renovate.json
Due: none

metal3: Update inventory replies with aggregated state info (#858)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  hwmgr-plugins/api/client/inventory/generated.go
  hwmgr-plugins/api/openapi/specs/inventory.yaml
  hwmgr-plugins/api/server/inventory/generated.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  internal/controllers/metal3plugin_server_setup.go
Due: scorecard

Fix ProvisioningRequest stuck in pending phase and refactor hardware plugin interface
  hwmgr-plugins/api/client/provisioning/interface.go
  hwmgr-plugins/api/client/provisioning/mocks/mock_interface.go
  internal/controllers/mocks/mock_interfaces.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
Due: none

feat(crd-watcher): enhance inventory resource output with state fields and comprehensive tests
  Makefile
  dev-tools/crd-watcher/formatter.go
  dev-tools/crd-watcher/formatter_test.go
  dev-tools/crd-watcher/inventory_test.go
  dev-tools/crd-watcher/suite_test.go
  dev-tools/crd-watcher/tui.go
  dev-tools/crd-watcher/tui_test.go
Due: none

Fix ProvisioningRequest stuck in pending phase and refactor hardware plugin interface (#863)
  hwmgr-plugins/api/client/provisioning/interface.go
  hwmgr-plugins/api/client/provisioning/mocks/mock_interface.go
  internal/controllers/mocks/mock_interfaces.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
Due: none

Apply migration for tekton update - For build-oci-ta 0.2 -> 0.3 - https://github.com/konflux-ci/build-definitions/blob/main/task/source-build-oci-ta/0.3/MIGRATION.md
  .tekton/build-pipeline.yaml
Due: none

feat(crd-watcher): enhance inventory resource output with state fields and comprehensive tests (#865)
  Makefile
  dev-tools/crd-watcher/formatter.go
  dev-tools/crd-watcher/formatter_test.go
  dev-tools/crd-watcher/inventory_test.go
  dev-tools/crd-watcher/suite_test.go
  dev-tools/crd-watcher/tui.go
  dev-tools/crd-watcher/tui_test.go
Due: none

refactor: fix hwplugin client init timing
  internal/controllers/provisioningrequest_controller.go
Due: none

Implement retry mechanism with delays for hardware plugin client
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
Due: none

CNF-19057: Refactor HardwarePlugin client initialization (#882)
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
Due: none

CNF-19058: Skip teardown when seed image generation is requested
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
Due: none

CNF-19058: Skip teardown when seed image generation is requested (#881)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
Due: none

feat: implement consistent structured logging with context across controllers
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/utils/integration_test.go
  internal/controllers/utils/logging.go
  internal/controllers/utils/logging_test.go
  internal/logging/logger.go
Due: none

feat(logging): migrate Inventory controller to structured logging
  internal/controllers/inventory_controller.go
Due: none

feat(logging): migrate ProvisioningRequest controller to structured logging
  internal/controllers/provisioningrequest_controller.go
Due: none

feat: Configure structured logging for runtime service servers
  hwmgr-plugins/cmd/start_hardwareplugin_manager.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  internal/cmd/operator/start_controller_manager.go
  internal/service/alarms/cmd/serve.go
  internal/service/artifacts/cmd/serve.go
  internal/service/cluster/cmd/serve.go
  internal/service/provisioning/cmd/serve.go
  internal/service/resources/cmd/serve.go
Due: none

fix(logging): ensure hardware plugin controllers use proper JSON logger configuration
  hwmgr-plugins/cmd/start_hardwareplugin_manager.go
  hwmgr-plugins/controller/hardwareplugin_controller.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_setup.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_setup_test.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
Due: none

fix: Replace remaining direct slog calls with structured logging
  hwmgr-plugins/controller/hardwareplugin_controller.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/server/serve.go
  hwmgr-plugins/metal3/server/serve_test.go
  internal/controllers/inventory_controller.go
  internal/controllers/utils/oauth.go
  internal/service/common/notifier/provider.go
Due: none

docs: Add comprehensive structured logging documentation suite
  docs/README.md
  docs/logging-examples.md
  docs/logging-migration-guide.md
  docs/logging-quick-reference.md
  docs/logging-standards.md
Due: markdownlint

refactor: Reduce cyclomatic complexity in ProvisioningRequest controller
  internal/controllers/provisioningrequest_controller.go
Due: none

Improve ProvisioningRequest reconciler resilience and monitoring
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
Due: none

Fix and enable e2e-tests
  Makefile
  internal/controllers/mock_hardware_plugin_server.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/suite_test.go
  test/e2e/e2e_suite_test.go
  test/utils/functions.go
  test/utils/vars.go
Due: none

Logging (#876)
  docs/README.md
  docs/logging-examples.md
  docs/logging-migration-guide.md
  docs/logging-quick-reference.md
  docs/logging-standards.md
  hwmgr-plugins/cmd/start_hardwareplugin_manager.go
  hwmgr-plugins/controller/hardwareplugin_controller.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_setup.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_setup_test.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  hwmgr-plugins/metal3/server/serve.go
  hwmgr-plugins/metal3/server/serve_test.go
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/inventory_controller.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/utils/integration_test.go
  internal/controllers/utils/logging.go
  internal/controllers/utils/logging_test.go
  internal/controllers/utils/oauth.go
  internal/logging/logger.go
  internal/service/alarms/cmd/serve.go
  internal/service/artifacts/cmd/serve.go
  internal/service/cluster/cmd/serve.go
  internal/service/common/notifier/provider.go
  internal/service/provisioning/cmd/serve.go
  internal/service/resources/cmd/serve.go
Due: markdownlint

Fix and enable e2e-tests (#887)
  Makefile
  internal/controllers/mock_hardware_plugin_server.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/suite_test.go
  test/e2e/e2e_suite_test.go
  test/utils/functions.go
  test/utils/vars.go
Due: none
