Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

scorecard:
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: 'ci-job-source prowci
  
  ...

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

ci/prow/ci-job:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/markdownlint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/scorecard:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

feat: make network-data secret optional for BMH provisioning
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
Due: ci/prow/ci-job, ci/prow/images

fix: address CodeRabbit review - handle non-NotFound errors for Secret lookup
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

fix: resolve MNO day0 race condition in concurrent node allocation NAR status updates
  hwmgr-plugins/controller/utils/allocated_node.go
  hwmgr-plugins/controller/utils/node_allocation_request.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  test/e2e/mno_hw_configuration_test.go
Due: ci/prow/ci-job, ci/prow/images

docs: update network-data secret documentation to reflect optional usage
  docs/user-guide/server-onboarding-orig.md
Due: markdownlint, ci/prow/markdownlint

feat: add warning on ProvisioningRequest deletion
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
Due: ci/prow/ci-job, ci/prow/images

fix: set hubAcceptsClient=false before deletion to skip ACM detach timeout
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

fix: return error from syncNARSkipCleanup to trigger retry
  internal/controllers/provisioningrequest_controller.go
Due: ci/prow/ci-job, ci/prow/images

fix: address CodeRabbit review comments for hubAcceptsClient
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

feat: propagate skip-cleanup from ProvisioningRequest to NAR and AllocatedNodes
  api/hardwaremanagement/plugins/v1alpha1/allocated_nodes.go
  api/hardwaremanagement/plugins/v1alpha1/node_allocation_requests.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  bundle/manifests/plugins.clcm.openshift.io_allocatednodes.yaml
  bundle/manifests/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/crd/bases/plugins.clcm.openshift.io_allocatednodes.yaml
  config/crd/bases/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  docs/user-guide/ibi-based-cluster-provisioning.md
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/api/server/provisioning/helpers.go
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller_test.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_setup.go
  internal/controllers/utils/constants.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

fix: delete IBI DataImage CR after cluster provisioning completes
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  internal/controllers/metal3plugin_server_setup.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

fix: avoid cache-sensitive Get before deleting DataImage
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
Due: ci/prow/ci-job, ci/prow/images

Add envtests for hierarchy controllers
  Makefile
  internal/controllers/envtest/location_controller_test.go
  internal/controllers/envtest/ocloudsite_controller_test.go
  internal/controllers/envtest/resourcepool_controller_test.go
  internal/controllers/envtest/suite_test.go
  internal/controllers/envtest/testdata/.gitignore
  internal/controllers/envtest/undeploy_scenario_test.go
  internal/controllers/utils/hierarchy_test.go
Due: ci/prow/ci-job, ci/prow/images

Add Location, OCloudSite and ResourcePool CRDs
  PROJECT
  api/common/zz_generated.deepcopy.go
  api/inventory/v1alpha1/inventory_constants.go
  api/inventory/v1alpha1/location_types.go
  api/inventory/v1alpha1/ocloudsite_types.go
  api/inventory/v1alpha1/resourcepool_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/ocloud.openshift.io_locations.yaml
  bundle/manifests/ocloud.openshift.io_ocloudsites.yaml
  bundle/manifests/ocloud.openshift.io_resourcepools.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/ocloud.openshift.io_locations.yaml
  config/crd/bases/ocloud.openshift.io_ocloudsites.yaml
  config/crd/bases/ocloud.openshift.io_resourcepools.yaml
  config/crd/kustomization.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/kustomization.yaml
  config/samples/v1alpha1_location.yaml
  config/samples/v1alpha1_ocloudsite.yaml
  config/samples/v1alpha1_resourcepool.yaml
  internal/constants/constants.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

Add Location, OCloudSite and ResourcePool controllers
  api/common/zz_generated.deepcopy.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/inventory_controller.go
  internal/controllers/location_controller.go
  internal/controllers/ocloudsite_controller.go
  internal/controllers/resourcepool_controller.go
  internal/controllers/utils/hierarchy.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

Change CRs short names: ocs->osite, rp->opool
  api/inventory/v1alpha1/ocloudsite_types.go
  api/inventory/v1alpha1/resourcepool_types.go
  bundle/manifests/ocloud.openshift.io_ocloudsites.yaml
  bundle/manifests/ocloud.openshift.io_resourcepools.yaml
  config/crd/bases/ocloud.openshift.io_ocloudsites.yaml
  config/crd/bases/ocloud.openshift.io_resourcepools.yaml
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

fix: clear origNetworkData annotation unconditionally during deallocation
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
Due: ci/prow/ci-job, ci/prow/images

fix: preserve and restore original preprovisioningNetworkDataName
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
Due: ci/prow/ci-job, ci/prow/images

Update minimum required OCP Platform and ACM release versions in prereqs.md
  docs/user-guide/prereqs.md
Due: markdownlint, ci/prow/markdownlint

Add config and hwmgr-plugins dirs to o-cloud-manager tekton on-cel-expression
  .tekton/o-cloud-manager-4-22-pull-request.yaml
  .tekton/o-cloud-manager-4-22-push.yaml
Due: none

Add config and hwmgr-plugins dirs to o-cloud-manager tekton on-cel-expression
  .tekton/o-cloud-manager-4-21-pull-request.yaml
  .tekton/o-cloud-manager-4-21-push.yaml
Due: none

CNF-22946: Upstream release-config version bump (4.21.6)
  .konflux/overlay/release.in.yaml
Due: none

CNF-22946: Upstream catalog-template update (4.21.6)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

Notify PR immediately on day2 hardware profile change detection
  hwmgr-plugins/controller/utils/node_allocation_request.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
Due: ci/prow/ci-job, ci/prow/images

fix: fail fast when CRD owner reference cannot be set
  internal/controllers/utils/utils.go
Due: ci/prow/ci-job, ci/prow/images

fix: add Inventory CRD to fake client for unit tests
  internal/controllers/suite_test.go
Due: ci/prow/ci-job, ci/prow/images

fix: set CRD owner reference on runtime cluster-scoped resources
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
Due: ci/prow/ci-job, ci/prow/images

Skip empty hwProfile in config change detection
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
Due: ci/prow/ci-job, ci/prow/images

Update hardware plugin for inventory hierarchy
  hwmgr-plugins/api/client/inventory/client.go
  hwmgr-plugins/api/client/inventory/generated.go
  hwmgr-plugins/api/openapi/specs/inventory.yaml
  hwmgr-plugins/api/server/inventory/generated.go
  hwmgr-plugins/api/server/inventory/server.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  hwmgr-plugins/metal3/controller/metal3_hostfirmwarecomponents_controller_test.go
  hwmgr-plugins/metal3/controller/resource_selection.go
  hwmgr-plugins/metal3/controller/resource_selection_test.go
  hwmgr-plugins/metal3/server/inventory_server.go
  hwmgr-plugins/metal3/server/inventory_server_test.go
  hwmgr-plugins/metal3/server/suite_test.go
  internal/constants/constants.go
  internal/controllers/metal3plugin_server_setup.go
Due: ci/prow/ci-job, ci/prow/images

Fix misc swagger-ui.sh issues (crabbit)
  hack/swagger-ui.sh
Due: ci/prow/ci-job, ci/prow/images

Index only ready ResourcePool CRs on the plugin side (crabbit)
  api/inventory/v1alpha1/inventory_constants.go
  docs/user-guide/server-onboarding.md
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  internal/service/resources/collector/collector_location.go
  internal/service/resources/collector/collector_ocloudsite.go
  internal/service/resources/collector/collector_resourcepool.go
  internal/service/resources/collector/hierarchy.go
  internal/service/resources/collector/hierarchy_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

Fix pool name resolution (crabbit)
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
Due: ci/prow/ci-job, ci/prow/images

Fix empty oCloudSiteIds / resourcePools for notifications (crabbit)
  internal/service/resources/collector/collector.go
Due: ci/prow/ci-job, ci/prow/images

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/ci-job: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/images: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/scorecard: any of: ^bundle/
