Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/ci-job: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/images: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/scorecard: any of: ^bundle/

fix(bundle): update operator-sdk version in Dockerfile and annotations.yaml
  .konflux/Dockerfile.bundle
  .konflux/bundle/metadata/annotations.yaml
Due: none

feat(bundle): add metadata handling and update labels in Dockerfile
  .konflux/Dockerfile.bundle
  .konflux/bundle/metadata/annotations.yaml
Due: none

OCPBUGS-76422: Update annotations bundle 4 21 (#1803)
  .konflux/Dockerfile.bundle
  .konflux/bundle/metadata/annotations.yaml
Due: none

OCPBUGS-76423: Update annotations bundle 4 20 (#1804)
  .konflux/Dockerfile.bundle
  .konflux/bundle/metadata/annotations.yaml
Due: none

feat(bundle): add metadata handling and update labels in Dockerfile (#1805)
  .konflux/Dockerfile.bundle
  .konflux/bundle/metadata/annotations.yaml
Due: none

fix: update event title condition in Tekton YAML files
  .tekton/o-cloud-manager-bundle-4-22-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-22-push.yaml
  .tekton/o-cloud-manager-fbc-4-22-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-22-push.yaml
Due: none

CNF-21722: ci: skip Bundle/FBC checks on version bumps (#1622)
  .tekton/o-cloud-manager-bundle-4-22-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-22-push.yaml
  .tekton/o-cloud-manager-fbc-4-22-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-22-push.yaml
Due: none

fix: add BRANCH-CUT filter to Tekton pipeline CEL expressions
  .tekton/o-cloud-manager-bundle-4-20-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-push.yaml
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
Due: none

fix: add BRANCH-CUT filter to Tekton pipeline CEL expressions
  .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-21-push.yaml
  .tekton/o-cloud-manager-fbc-4-21-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-21-push.yaml
Due: none

Add Location and OCloudSite new CRDs
  api/common/zz_generated.deepcopy.go
  api/inventory/v1alpha1/location_types.go
  api/inventory/v1alpha1/ocloudsite_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ocloud.openshift.io_locations.yaml
  config/crd/bases/ocloud.openshift.io_ocloudsites.yaml
Due: ci/prow/ci-job, ci/prow/images

Add OCloudSiteUUIDNamespace
  internal/service/resources/collector/collector_hwplugin.go
Due: ci/prow/ci-job, ci/prow/images

Add hub client to collector for reading Location/OCloudSite CRs
  internal/service/common/clients/k8s/k8s.go
  internal/service/resources/collector/collector.go
  internal/service/resources/serve.go
Due: ci/prow/ci-job, ci/prow/images

Add collector methods to read CRs and envtest
  Makefile
  internal/service/resources/collector/collector_locations.go
  internal/service/resources/collector/collector_locations_envtest_test.go
Due: ci/prow/ci-job, ci/prow/images

Add collector methods to purge locations and ocloudsites
  internal/service/resources/collector/collector.go
Due: ci/prow/ci-job, ci/prow/images

Add repo methods to create/update location and ocloudsites
  internal/service/common/utils/repository.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_interface.go
Due: ci/prow/ci-job, ci/prow/images

Add collector methods to create/update location and ocloudsite tables
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_hwplugin.go
  internal/service/resources/serve.go
Due: ci/prow/ci-job, ci/prow/images

Add repo methods to find stale locations and ocloudsites
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_interface.go
Due: ci/prow/ci-job, ci/prow/images

Generate repo mocks
  api/common/zz_generated.deepcopy.go
  internal/service/resources/db/repo/generated/mock_repo.generated.go
Due: ci/prow/ci-job, ci/prow/images

Add collector methods to read location and ocloudsite CRs + envtest
  Makefile
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_locations.go
  internal/service/resources/collector/collector_locations_envtest_test.go
Due: ci/prow/ci-job, ci/prow/images

Refactor collector locations and ocloudsites to independent data sources
  internal/service/resources/collector/collector.go
Due: ci/prow/ci-job, ci/prow/images

Fix collector lint errors
  internal/service/resources/collector/collector.go
Due: ci/prow/ci-job, ci/prow/images

fix(crd-watcher): prevent nil pointer panics and add error recovery
  dev-tools/crd-watcher/formatter.go
  dev-tools/crd-watcher/tui.go
  dev-tools/crd-watcher/tui_test.go
  dev-tools/crd-watcher/watcher.go
Due: ci/prow/ci-job, ci/prow/images

fix(crd-watcher): prevent nil pointer panics and add error recovery (#1824)
  dev-tools/crd-watcher/formatter.go
  dev-tools/crd-watcher/tui.go
  dev-tools/crd-watcher/tui_test.go
  dev-tools/crd-watcher/watcher.go
Due: ci/prow/ci-job, ci/prow/images

fix(crd-watcher): prevent nil pointer panics and add error recovery (#1828)
  dev-tools/crd-watcher/formatter.go
  dev-tools/crd-watcher/tui.go
  dev-tools/crd-watcher/tui_test.go
  dev-tools/crd-watcher/watcher.go
Due: ci/prow/ci-job, ci/prow/images

Update dependabot to ignore open-cluster-management.io/governance-policy-propagator until go 1.25
  .github/dependabot.yml
Due: ci/prow/ci-job, ci/prow/images

Bump the golang group across 1 directory with 3 updates (#1831)
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/writesched_priority_rfc9218.go
  vendor/golang.org/x/net/websocket/hybi.go
  vendor/golang.org/x/sys/unix/ioctl_signed.go
  vendor/golang.org/x/sys/unix/ioctl_unsigned.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/syscall_unix.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/golang.org/x/tools/go/ast/inspector/cursor.go
  vendor/golang.org/x/tools/internal/modindex/index.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/modules.txt
Due: ci/prow/ci-job, ci/prow/images

Bump github.com/onsi/ginkgo/v2 from 2.27.5 to 2.28.1 (#1837)
  go.mod
  go.sum
  vendor/github.com/google/pprof/profile/profile.go
  vendor/github.com/google/pprof/profile/proto.go
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/README.md
  vendor/github.com/onsi/ginkgo/v2/core_dsl.go
  vendor/github.com/onsi/ginkgo/v2/decorator_dsl.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/command/command.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/internal/run.go
  vendor/github.com/onsi/ginkgo/v2/ginkgo/run/run_command.go
  vendor/github.com/onsi/ginkgo/v2/internal/focus.go
  vendor/github.com/onsi/ginkgo/v2/internal/group.go
  vendor/github.com/onsi/ginkgo/v2/internal/node.go
  vendor/github.com/onsi/ginkgo/v2/internal/reporters/gojson.go
  vendor/github.com/onsi/ginkgo/v2/internal/suite.go
  vendor/github.com/onsi/ginkgo/v2/reporters/default_reporter.go
  vendor/github.com/onsi/ginkgo/v2/reporters/junit_report.go
  vendor/github.com/onsi/ginkgo/v2/reporters/teamcity_report.go
  vendor/github.com/onsi/ginkgo/v2/types/errors.go
  vendor/github.com/onsi/ginkgo/v2/types/semver_filter.go
  vendor/github.com/onsi/ginkgo/v2/types/types.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/modules.txt
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

Bump github.com/onsi/gomega from 1.39.0 to 1.39.1 (#1839)
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/modules.txt
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

Bump github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring (#1845)
  go.mod
  go.sum
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/alertmanager_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/modules.txt
Due: ci/prow/ci-job, ci/prow/images

fix: add BRANCH-CUT filter to Tekton pipeline CEL expressions (#1822)
  .tekton/o-cloud-manager-bundle-4-20-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-push.yaml
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
Due: none

fix: add BRANCH-CUT filter to Tekton pipeline CEL expressions (#1821)
  .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-21-push.yaml
  .tekton/o-cloud-manager-fbc-4-21-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-21-push.yaml
Due: none

Update dependabot to ignore open-cluster-management.io/governance-policy-propagator until go 1.25 (#1832)
  .github/dependabot.yml
Due: ci/prow/ci-job, ci/prow/images

Add a deprecation middleware based on RFC 8594
  docs/deprecations/README.md
  docs/deprecations/TEMPLATE.md
  docs/deprecations/resource-pool-fields.md
  docs/deprecations/resource-type-fields.md
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/common/deprecation/deprecation_suite_test.go
  internal/service/common/deprecation/deprecation_test.go
  internal/service/common/deprecation/middleware.go
  internal/service/common/deprecation/registry.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/serve.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

Add rest api documentation by swagger ui
  Makefile
  docs/user-guide/inventory-api.md
  hack/swagger-ui.sh
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

Test resource server rest handlers by repository mocks
  internal/service/resources/api/api_suite_test.go
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
  internal/service/resources/db/repo/generated/mock_repo.generated.go
  internal/service/resources/db/repo/repository_interface.go
Due: ci/prow/ci-job, ci/prow/images

Add resources 'GetAll' repo methods, test by repo mocks
  internal/service/resources/api/server.go
  internal/service/resources/api/server_test.go
  internal/service/resources/db/repo/generated/mock_repo.generated.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_interface.go
Due: ci/prow/ci-job, ci/prow/images
