Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

scorecard:
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: 'ci-job-source prowci
  
  ...

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

ci/prow/ci-job:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/markdownlint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/scorecard:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

CNF-25915: Auto-create FirmwareCatalog singleton on startup
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  docs/user-guide/firmware-update-workflow.md
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/firmwarecatalog_controller.go
  internal/controllers/utils/firmwarecatalog_default_test.go
  internal/controllers/utils/utils.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

CNF-18555: Migrate golang builder from brew to registry.redhat.io
  .konflux/Dockerfile
Due: none

CNF-25915: Strengthen FirmwareCatalog image URL validation
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
  bundle/manifests/clcm.openshift.io_firmwarecatalogs.yaml
  config/crd/bases/clcm.openshift.io_firmwarecatalogs.yaml
  internal/controllers/envtest/firmwarecatalog_validation_test.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-25915: Rename validateAndSetStatus to setStatus
  internal/controllers/firmwarecatalog_controller.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25915: Optimize FirmwareCatalog webhook reference checking
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-128287: skip requeue while Inventory is deleting
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-18555: Migrate golang builder from brew to registry.redhat.io (#4619)
  .konflux/Dockerfile
Due: none

OCPBUGS-128287: skip reconciliation for deleting resources (#4625)
  AGENTS.md
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

NO-ISSUE: Enhance resource creation logging in CreateK8sCR function
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/utils/configmap.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/secret.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
Due: ci/prow/ci-job, ci/prow/images

NO-ISSUE: prefer registered kinds in resource creation logs
  internal/controllers/utils/secret.go
  internal/controllers/utils/utils.go
Due: ci/prow/ci-job, ci/prow/images

NO-ISSUE: Enhance resource creation logging in CreateK8sCR function (#4629)
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/utils/configmap.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/secret.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
Due: ci/prow/ci-job, ci/prow/images

fix: copy pull secret to every allocated BMH namespace
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/hardware_utils_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-18555: Migrate golang builder from brew to registry.redhat.io (#4622)
  .konflux/Dockerfile
Due: none

CNF-18555: Migrate golang builder from brew to registry.redhat.io (#4623)
  .konflux/Dockerfile
Due: none

CNF-26348: Add seed generation implementation design
  docs/proposals/automated-seed-image-generation-implementation.md
Due: markdownlint, ci/prow/markdownlint

CNF-26348: Clarify ISO image packaging decision
  docs/proposals/automated-seed-image-generation-implementation.md
Due: markdownlint, ci/prow/markdownlint

CNF-26348: Freeze seed run inputs before detachment
  docs/proposals/automated-seed-image-generation-implementation.md
Due: markdownlint, ci/prow/markdownlint

CNF-26348: Use Red Hat tools image for ISO generation
  docs/proposals/automated-seed-image-generation-implementation.md
Due: markdownlint, ci/prow/markdownlint

fix: copy pull secret to every allocated BMH namespace (#4656)
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/hardware_utils_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-27577: Upstream catalog-template update (4.22.2) (#4618)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: none

OCPBUGS-128287: skip reconciliation for deleting resources
  AGENTS.md
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

[release-4.22] OCPBUGS-128574: skip reconciliation for deleting resources (#4665)
  AGENTS.md
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

Include feedback from reviewers + add some implementation notes
  docs/proposals/o2ims-v13.md
Due: markdownlint, ci/prow/markdownlint

CNF-27073: Support staged Custom worker-pool rollout
  .coverage-thresholds.yaml
  Makefile
  api/provisioning/v1alpha1/conditions.go
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrquest_validation_test.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  docs/dev/e2e-test-overview.md
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/3node-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/std-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/schema/upgradeParameters-clusterVersion.yaml
  docs/user-guide/upgrade.md
  internal/constants/constants.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/utils/upgrade.go
  internal/upgrade/upgrade.go
  internal/upgrade/upgrade_test.go
  internal/validation/upgrade.go
  internal/validation/upgrade_test.go
  test/e2e/mno_cv_upgrade_test.go
  test/resources/mno_cv_upgrade/ct-std-du-v1.yaml
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

CNF-27073: Support staged Custom worker-pool rollout (#4668)
  .coverage-thresholds.yaml
  Makefile
  api/provisioning/v1alpha1/conditions.go
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrquest_validation_test.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  docs/dev/e2e-test-overview.md
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/3node-ran-du/3node-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z+1/std-ran-du/std-ran-du-v4-Y-Z+1-1.yaml
  docs/samples/schema/upgradeParameters-clusterVersion.yaml
  docs/user-guide/upgrade.md
  internal/constants/constants.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/utils/upgrade.go
  internal/upgrade/upgrade.go
  internal/upgrade/upgrade_test.go
  internal/validation/upgrade.go
  internal/validation/upgrade_test.go
  test/e2e/mno_cv_upgrade_test.go
  test/resources/mno_cv_upgrade/ct-std-du-v1.yaml
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

CNF-26348: Document dedicated IBI seed timeout
  docs/proposals/automated-seed-image-generation-implementation.md
Due: markdownlint, ci/prow/markdownlint

CNF-26348: Align validation plan with shared internal package
  docs/proposals/automated-seed-image-generation-implementation.md
Due: markdownlint, ci/prow/markdownlint

CNF-26348: Move IBI seed validation to internal package
  AGENTS.md
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/seedgeneration_schema.go
  internal/validation/schema.go
  internal/validation/seedgeneration.go
  internal/validation/seedgeneration_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-26348: Define Phase 1 IBI seed generation contract
  api/provisioning/v1alpha1/conditions.go
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  api/provisioning/v1alpha1/seedgeneration_schema.go
  api/provisioning/v1alpha1/seedgeneration_schema_test.go
  api/provisioning/v1alpha1/seedgeneration_status_test.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  docs/samples/seed-generation/README.md
  docs/samples/seed-generation/cluster-template.yaml
  docs/samples/seed-generation/provisioning-request.yaml
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/constants.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

CNF-26348: Nest the seed generation timeout
  api/provisioning/v1alpha1/seedgeneration_schema_test.go
  docs/proposals/automated-seed-image-generation.md
  docs/samples/seed-generation/README.md
  docs/samples/seed-generation/cluster-template.yaml
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/validation/seedgeneration.go
  internal/validation/seedgeneration_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-26348: Give IBI seed generation its own timeout
  api/provisioning/v1alpha1/seedgeneration_schema_test.go
  docs/proposals/automated-seed-image-generation.md
  docs/samples/seed-generation/README.md
  docs/samples/seed-generation/cluster-template.yaml
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/utils/constants.go
  internal/validation/seedgeneration.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-26348: Fail unsupported seed generation dispatch
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25915: Add firmware update workflow documentation and samples
  config/samples/hardwaremanagement_v1alpha1_firmwarecatalog.yaml
  config/samples/v1alpha1_hardwareprofile.yaml
  docs/dev/e2e-test-overview.md
  docs/user-guide/firmware-update-workflow.md
  docs/user-guide/gitops-layout-and-setup.md
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-26348: Define Phase 1 IBI seed generation contract (#4685)
  AGENTS.md
  api/provisioning/v1alpha1/conditions.go
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  api/provisioning/v1alpha1/seedgeneration_schema.go
  api/provisioning/v1alpha1/seedgeneration_schema_test.go
  api/provisioning/v1alpha1/seedgeneration_status_test.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  docs/proposals/automated-seed-image-generation.md
  docs/samples/seed-generation/README.md
  docs/samples/seed-generation/cluster-template.yaml
  docs/samples/seed-generation/provisioning-request.yaml
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/constants.go
  internal/validation/schema.go
  internal/validation/seedgeneration.go
  internal/validation/seedgeneration_test.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

NO-ISSUE: Enhance resource creation logging in CreateK8sCR function (#4701)
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/utils/configmap.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/secret.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
Due: ci/prow/ci-job, ci/prow/images

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/ci-job: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/images: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/scorecard: any of: ^bundle/
