Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint

ci-operator/config/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-main.yaml:

base_images:
  cli-operator-sdk:
    name: cli-operator-sdk
    namespace: ocp
    tag: v1.31.0
  ubi-min9:
    name: ubi-minimal
    namespace: ocp
    tag: "9"
binary_build_commands: make binary
build_root:
  project_image:
    dockerfile_path: Dockerfile.tools
images:
- dockerfile_path: Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator
- dockerfile_path: bundle.Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator-bundle
operator:
  bundles:
  - as: operator-bundle
    dockerfile_path: bundle.Dockerfile
    skip_building_index: true
  substitutions:
  - pullspec: quay.io/openshift-kni/oran-o2ims-operator:.*
    with: pipeline:oran-o2ims-operator
promotion:
  to:
  - name: "4.16"
    namespace: ocp-kni
releases:
  initial:
    integration:
      name: "4.16"
      namespace: ocp
  latest:
    integration:
      include_built_images: true
      name: "4.16"
      namespace: ocp
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  ./hack/install-markdownlint.sh
tests:
- as: ci-job
  commands: make ci-job
  container:
    from: src
- as: scorecard
  run_if_changed: ^bundle/
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: |
        ci-job-source prowci
        ci-job-branch main
        ci-job-fullname openshift-kni-scorecard-oran-o2ims-main
        ci-job-type optional-operators-ci-aws
        ci-repo-name oran-o2ims
        ci-org-name openshift-kni
    test:
    - as: scorecard-test
      cli: latest
      commands: make scorecard-test
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: optional-operators-ci-operator-sdk-aws
- always_run: false
  as: markdownlint
  commands: |
    hack/markdownlint.sh
  container:
    from: test-bin
  run_if_changed: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
zz_generated_metadata:
  branch: main
  org: openshift-kni
  repo: oran-o2ims

Validate ClusterInstance defaults ConfigMap against ClusterInstance CRD schema (#577)
  .vscode/launch.json
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrquest_validation_test.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/suite_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
  internal/controllers/utils/test_common.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_validation.go
Due: scorecard

Update dependabot to ignore golang.org/x/oauth2 updates due to go 1.23 (#578)
  .github/dependabot.yml
Due: none

CNF-16877: Replace kube-rbac-proxy for controller metrics
  .vscode/launch.json
  README.md
  bundle/manifests/oran-o2ims-controller-manager-metrics-service_v1_service.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/debug/add-debug-passwords.yaml
  config/debug/disable-health-probes.yaml
  config/debug/disable-leader-election.yaml
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_webhook_patch.yaml
  config/manager/manager.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/kustomization.yaml
  config/rbac/metrics_service.yaml
  config/rbac/metrics_service_clusterrole.yaml
  internal/cmd/operator/start_controller_manager.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/metrics/filters/filters.go
Due: scorecard, markdownlint

Fix the removal of required fields from ClusterInstance schema
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
  internal/controllers/utils/test_common.go
Due: none

Fix the removal of required fields from ClusterInstance schema (#582)
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
  internal/controllers/utils/test_common.go
Due: none

Fix the provisioning status for upgrade case
  internal/controllers/clustertemplate_controller.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/utils/conditions.go
Due: none

programmatically merge alertmanager.yaml instead of replace
  internal/service/alarms/internal/alertmanager/alertmanager.yaml.template
  internal/service/alarms/internal/alertmanager/alertmanager_test.go
  internal/service/alarms/internal/alertmanager/config.go
  internal/service/alarms/internal/alertmanager/config_test.go
  internal/service/alarms/internal/alertmanager/converter.go
Due: none

CNF-16877: Replace kube-rbac-proxy for controller metrics (#580)
  .vscode/launch.json
  README.md
  bundle/manifests/oran-o2ims-controller-manager-metrics-service_v1_service.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/debug/add-debug-passwords.yaml
  config/debug/disable-health-probes.yaml
  config/debug/disable-leader-election.yaml
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_webhook_patch.yaml
  config/manager/manager.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/kustomization.yaml
  config/rbac/metrics_service.yaml
  config/rbac/metrics_service_clusterrole.yaml
  internal/cmd/operator/start_controller_manager.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/metrics/filters/filters.go
Due: scorecard, markdownlint

programmatically merge alertmanager.yaml instead of replace (#583)
  internal/service/alarms/internal/alertmanager/alertmanager.yaml.template
  internal/service/alarms/internal/alertmanager/alertmanager_test.go
  internal/service/alarms/internal/alertmanager/config.go
  internal/service/alarms/internal/alertmanager/config_test.go
  internal/service/alarms/internal/alertmanager/converter.go
Due: none

Fix the provisioning status for upgrade case (#576)
  internal/controllers/clustertemplate_controller.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/utils/conditions.go
Due: none

ProvisioningRequest REST API updates
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
Due: none

Update dependabot to ignore specific packages that have moved to go 1.23
  .github/dependabot.yml
Due: none

Update dependabot to ignore specific packages that have moved to go 1.23 (#589)
  .github/dependabot.yml
Due: none

Update TLS configuration parameters
  README.md
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_inventory.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/utils/utils.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
Due: scorecard, markdownlint

ProvisioningRequest REST API updates (#586)
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
Due: none

Update TLS configuration parameters (#591)
  README.md
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_inventory.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/utils/utils.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
Due: scorecard, markdownlint

Remove transition from failed to progressing
  api/provisioning/v1alpha1/conditions.go
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  internal/controllers/provisioningrequest_controller.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/conditions.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_validation.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: none

Remove transition from failed to progressing (#592)
  api/provisioning/v1alpha1/conditions.go
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  internal/controllers/provisioningrequest_controller.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/conditions.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_validation.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: none

Return 422 on provisioningRequestId mismatch in PUT request
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
Due: none

Return 422 on provisioningRequestId mismatch in PUT request (#595)
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
Due: none

Enable UUID format validation in request middleware
  internal/service/common/api/middleware/middleware.go
Due: none

Enable UUID format validation in request middleware (#598)
  internal/service/common/api/middleware/middleware.go
Due: none

Drop dependency on full payload to sync with webhook and instead leverage Alertmanager API
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/alarms/internal/alertmanager/api_test.go
  internal/service/alarms/internal/alertmanager/config.go
  internal/service/alarms/internal/alertmanager/config_test.go
  internal/service/alarms/internal/alertmanager/converter.go
  internal/service/alarms/internal/alertmanager/converter_test.go
  internal/service/alarms/internal/alertmanager/handler.go
  internal/service/alarms/internal/db/migrations/000002_create_alarm_event_record_table.up.sql
  internal/service/alarms/internal/db/models/alarm_event_record.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/db/repo/alarms_repository_interface.go
  internal/service/alarms/internal/db/repo/alarms_repository_test.go
  internal/service/alarms/internal/db/repo/generated/mock_repo.generated.go
  internal/service/alarms/internal/infrastructure/clusterserver.go
  internal/service/alarms/internal/infrastructure/clusterserver_test.go
  internal/service/alarms/internal/infrastructure/generated/mock_infrastructure_client.generated.go
  internal/service/alarms/internal/infrastructure/infrastructure.go
  internal/service/alarms/internal/listener/pg_listener.go
  internal/service/alarms/serve.go
  internal/service/common/utils/repository.go
Due: scorecard

add docs to quickly enable ACM observability for dev work
  internal/service/alarms/DEVELOPING.md
Due: markdownlint

fix typo
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/alarms/internal/alertmanager/api_test.go
Due: none

Update version in poc branch
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
Due: scorecard

Update version in poc branch (#602)
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
Due: scorecard

Update ClusterInstance template to align with the ClusterInstance version in ACM 2.13
  internal/files/controllers/clusterinstance-template.yaml
Due: none

add docs to quickly enable ACM observability for dev work (#601)
  internal/service/alarms/DEVELOPING.md
Due: markdownlint

Updates to align with the ClusterInstance validation check added in ACM 2.13+
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/utils/conditions.go
  internal/controllers/utils/provision_test.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_validation.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: none

Updates to align with the ClusterInstance validation check added in ACM 2.13+ (#603)
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/utils/conditions.go
  internal/controllers/utils/provision_test.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_validation.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: none

use pg-16 from quay.io
  .vscode/launch.json
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: scorecard

use pg-16 from quay.io (#609)
  .vscode/launch.json
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: scorecard
