Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/ci-job: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/images: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/scorecard: any of: ^bundle/

Regenerate CRD manifests after HwMgmtDefaults description update
  bundle/manifests/clcm.openshift.io_clustertemplates.yaml
  config/crd/bases/clcm.openshift.io_clustertemplates.yaml
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

Address review feedback: fix import grouping and test doc numbering
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25622: Add defense-in-depth stripping of BMC credentials from API responses
  internal/service/provisioning/api/server.go
  internal/service/provisioning/api/server_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25620: Fix gofmt formatting issues from code removal
  internal/controllers/clustertemplate_controller.go
  internal/controllers/provisioningrequest_resourcecreation.go
Due: ci/prow/ci-job, ci/prow/images

Move nodeGroupData presence checks into validateMergedNodeGroups
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_validation.go
Due: ci/prow/ci-job, ci/prow/images

[release-4.22] CNF-25327: Remove no-hw-template code path to prevent BMC credential exposure (#3270)
  api/provisioning/v1alpha1/clustertemplate_types.go
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  bundle/manifests/clcm.openshift.io_clustertemplates.yaml
  config/crd/bases/clcm.openshift.io_clustertemplates.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/kustomization.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-1-no-hwtemplate.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-pg-v4-Y-Z-v1.yaml
  docs/user-guide/template-overview.md
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

CNF-25718: Add PATCH 405 to provisioning OpenAPI spec and implement handler
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
Due: ci/prow/ci-job, ci/prow/images

Remove explicit PATCH 405 handler, rely on built-in auto-405
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25719: Add regression test for PATCH 405 on ProvisioningRequest
  internal/service/provisioning/api/envtest/server_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-24430: Implement comprehensive ClusterTemplate upgrade validation
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

Address CodeRabbit review feedback
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-98223: Update infrastructureInventory URL paths from /v1/ to /v2/
  api/common/zz_generated.deepcopy.go
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/oran_o2ims_user_roles.yaml
  dev-tools/crd-watcher/inventory.go
  internal/constants/constants.go
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/common/api/generated/common.generated.go
  internal/service/common/api/openapi.yaml
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi-overlay.yaml
  internal/service/resources/api/openapi.yaml
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-98224: Update middleware test URLs from /v1/ to /v2/
  internal/service/common/api/middleware/middleware_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-98225: Add regression test verifying API version matches URL path
  internal/service/resources/api/server_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-98223: Update bundle manifests for v2 inventory paths
  api/common/zz_generated.deepcopy.go
  bundle/manifests/oran-o2ims-deployer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-reader-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-subscriber-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

Address review feedback from Missxiaoguo
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

Update documentation URLs from /v1/ to /v2/ for inventory API
  docs/user-guide/api-overview.md
  docs/user-guide/environment-setup.md
  docs/user-guide/inventory-api.md
  docs/user-guide/server-onboarding.md
Due: markdownlint, ci/prow/markdownlint

Address second round of review feedback from Missxiaoguo
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

Add full IBGU schema items for plan.actions and oadpContent properties
  internal/controllers/clustertemplate_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-98105: Update infrastructureInventory API URLs from /v1/ to /v2/ (#3322)
  bundle/manifests/oran-o2ims-deployer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-reader-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-subscriber-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/oran_o2ims_user_roles.yaml
  dev-tools/crd-watcher/inventory.go
  docs/user-guide/api-overview.md
  docs/user-guide/environment-setup.md
  docs/user-guide/inventory-api.md
  docs/user-guide/server-onboarding.md
  internal/constants/constants.go
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/common/api/generated/common.generated.go
  internal/service/common/api/middleware/middleware_test.go
  internal/service/common/api/openapi.yaml
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi-overlay.yaml
  internal/service/resources/api/openapi.yaml
  internal/service/resources/api/server_test.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

Address reviewer feedback: improve error messages and consolidate validation
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

Fix clusterUpgradeTimeout and intermediateVersion field nesting
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-98105: Update infrastructureInventory API URLs from /v1/ to /v2/ (#3322) (#3325)
  bundle/manifests/oran-o2ims-deployer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-reader-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-subscriber-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/oran_o2ims_user_roles.yaml
  dev-tools/crd-watcher/inventory.go
  docs/user-guide/api-overview.md
  docs/user-guide/environment-setup.md
  docs/user-guide/inventory-api.md
  docs/user-guide/server-onboarding.md
  internal/constants/constants.go
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/common/api/generated/common.generated.go
  internal/service/common/api/middleware/middleware_test.go
  internal/service/common/api/openapi.yaml
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi-overlay.yaml
  internal/service/resources/api/openapi.yaml
  internal/service/resources/api/server_test.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

Use distinct error messages for upgrade type validation cases
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

Update 'Metal3 hardware plugin controller' to 'hardware manager controller'
  docs/proposals/firmware-catalog.md
Due: markdownlint, ci/prow/markdownlint

Add phased implementation plan to firmware catalog proposal
  docs/proposals/firmware-catalog.md
Due: markdownlint, ci/prow/markdownlint

CNF-25766: Add credential redaction to handleDeploymentManagerSyncCompletion
  internal/service/resources/collector/collector.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25767: Add regression test for sync-completion credential redaction
  internal/service/resources/db/models/converters_test.go
Due: ci/prow/ci-job, ci/prow/images

Clarify phased implementation delivers one PR per phase
  docs/proposals/firmware-catalog.md
Due: markdownlint, ci/prow/markdownlint

Extract DeploymentManagerConverter as a named function
  internal/service/resources/collector/collector.go
  internal/service/resources/db/models/converters.go
  internal/service/resources/db/models/converters_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25666: Update firmware catalog proposal (#3259)
  docs/proposals/firmware-catalog.md
Due: markdownlint, ci/prow/markdownlint

CNF-25773: Replace alarms-server cluster-wide Secret/ConfigMap access with namespaced Role
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/kustomization.yaml
  config/rbac/role_alarms_alertmanager.yaml
  config/rbac/rolebinding_alarms_alertmanager.yaml
Due: ci/prow/ci-job, ci/prow/images

CNF-25774: Drop watch verb from resource-server ClusterRole Secret access
  config/rbac/clusterrole_resource_server.yaml
Due: ci/prow/ci-job, ci/prow/images

CNF-25775: Scope down cluster-server ClusterRole ConfigMap access
  config/rbac/clusterrole_cluster_server.yaml
Due: ci/prow/ci-job, ci/prow/images

CNF-25763: Regenerate bundle manifests
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

Rename DeploymentManagerConverter to DeploymentManagerRedactedConverter
  internal/service/resources/collector/collector.go
  internal/service/resources/db/models/converters.go
  internal/service/resources/db/models/converters_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25773: Move alertmanager-config access to ClusterRole with resourceNames
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/kustomization.yaml
  config/rbac/role_alarms_alertmanager.yaml
  config/rbac/rolebinding_alarms_alertmanager.yaml
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-25777: Remove unused cluster-local callback code path
  internal/controllers/utils/utils.go
  internal/service/common/api/utils.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/common/notifier/provider.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25778: Add tests verifying cluster-local callbacks follow standard validation
  internal/controllers/utils/utils_test.go
  internal/service/common/api/utils_test.go
Due: ci/prow/ci-job, ci/prow/images
