Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint

scorecard:
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: 'ci-job-source prowci
  
  ...

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

Add boilerplate for ProvisioningRequest REST API and server code to start provisioning server (#457)
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
  internal/service/provisioning/api/tools/generate.go
  internal/service/provisioning/api/tools/oapi-codegen.yaml
  internal/service/provisioning/cmd/root.go
  internal/service/provisioning/cmd/serve.go
  internal/service/provisioning/serve.go
  main.go
Due: none

only get the latest alarms for subscriptions and make subscriptionID readonly
  go.mod
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/alarms/internal/notifier_provider/subscription.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/cluster/api/openapi.yaml
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
Due: none

only get the latest alarms for subscriptions and make subscriptionID readonly (#459)
  go.mod
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/alarms/internal/notifier_provider/subscription.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/cluster/api/openapi.yaml
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
Due: none

Implement sync mechanism for alarms collection
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/alertmanager/alertmanager.go
  internal/service/alarms/internal/alertmanager/alertmanager_test.go
  internal/service/alarms/internal/clusterserver/generated/generate.go
  internal/service/alarms/internal/dictionary_collector/cluster.go
  internal/service/alarms/internal/dictionary_collector/collector.go
  internal/service/alarms/internal/dictionary_collector/dictionary_collector_test.go
  internal/service/alarms/internal/dictionary_collector/suite_test.go
  internal/service/alarms/internal/infrastructure/clusterserver/clusterserver.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/generate.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/oapi-codegen.yaml
  internal/service/alarms/internal/infrastructure/infrastructure.go
  internal/service/alarms/serve.go
Due: none

Implement sync mechanism for alarms collection (#427)
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/alertmanager/alertmanager.go
  internal/service/alarms/internal/alertmanager/alertmanager_test.go
  internal/service/alarms/internal/clusterserver/generated/generate.go
  internal/service/alarms/internal/dictionary_collector/cluster.go
  internal/service/alarms/internal/dictionary_collector/collector.go
  internal/service/alarms/internal/dictionary_collector/dictionary_collector_test.go
  internal/service/alarms/internal/dictionary_collector/suite_test.go
  internal/service/alarms/internal/infrastructure/clusterserver/clusterserver.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/generate.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/oapi-codegen.yaml
  internal/service/alarms/internal/infrastructure/infrastructure.go
  internal/service/alarms/serve.go
Due: none

Add support to override imagePullPolicy for designer build (#456)
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
Due: scorecard

Add file-based catalog support (#454)
  .containerignore
  .gitignore
  Makefile
  README.md
  catalog.Dockerfile
  hack/catalog-undeploy.sh
  hack/generate-catalog-deploy.sh
  hack/generate-catalog-index.sh
Due: markdownlint

CNF-16247: Add support for in-cluster subscription endpoints
  internal/service/alarms/serve.go
  internal/service/cluster/serve.go
  internal/service/common/notifier/notifier.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/common/notifier/provider.go
  internal/service/resources/serve.go
Due: none

Fix panic when not using client TLS to SMO
  internal/controllers/utils/utils.go
Due: none

CNF-16247: Add support for in-cluster subscription endpoints (#461)
  internal/service/alarms/serve.go
  internal/service/cluster/serve.go
  internal/service/common/notifier/notifier.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/common/notifier/provider.go
  internal/service/resources/serve.go
Due: none

Fix panic when not using client TLS to SMO (#462)
  internal/controllers/utils/utils.go
Due: none

Integrate the artifacts server in the inventory controller
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/testing/client-service-account-rbac.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
  internal/service/artifacts/api/server.go
  internal/service/artifacts/cmd/serve.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

Integrate the artifacts server in the inventory controller (#458)
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/testing/client-service-account-rbac.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
  internal/service/artifacts/api/server.go
  internal/service/artifacts/cmd/serve.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

retrieve all probableCauses of current alarms
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/db/models/converters.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
Due: none

code review changes
  internal/service/alarms/api/server.go
  internal/service/alarms/internal/db/models/converters.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
Due: none

Fix loading config from environment
  internal/service/alarms/cmd/serve.go
Due: none

Fix cluster and inventory notification payload
  internal/service/alarms/internal/db/models/converters.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/cluster/api/openapi.yaml
  internal/service/cluster/db/models/converters.go
  internal/service/common/db/models/data_change_event.go
  internal/service/common/utils/persist.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/db/models/converters.go
Due: none

Add transform operation to notifier
  internal/service/alarms/internal/notifier_provider/notification.go
  internal/service/alarms/internal/notifier_provider/subscription.go
  internal/service/alarms/serve.go
  internal/service/cluster/collector/transformer.go
  internal/service/cluster/db/models/converters.go
  internal/service/cluster/serve.go
  internal/service/common/notifier/notifier.go
  internal/service/common/repo/subscriptions.go
  internal/service/resources/collector/transformer.go
  internal/service/resources/db/models/converters.go
  internal/service/resources/serve.go
Due: none

CNF-16211: Implement Webhook validation for ProvisioningRequest creation and update (#443)
  Makefile
  api/provisioning/go.mod
  api/provisioning/go.sum
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrquest_validation_test.go
  api/provisioning/v1alpha1/suite_test.go
  go.mod
  hack/update_deps.sh
  internal/controllers/clustertemplate_controller.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/provisioningrequest_validation_test.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_validation.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: none

Implement provisioning endpoints
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
Due: none

Add field UpdateTime in the provisioningStatus
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims.provisioning.oran.org_provisioningrequests.yaml
  config/crd/bases/o2ims.provisioning.oran.org_provisioningrequests.yaml
  internal/controllers/utils/conditions.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

CNF-16172: Implement provisioning endpoints (#465)
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims.provisioning.oran.org_provisioningrequests.yaml
  config/crd/bases/o2ims.provisioning.oran.org_provisioningrequests.yaml
  internal/controllers/utils/conditions.go
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

CNF-16245: Add edge driven cluster updates with Reflector
  internal/service/alarms/internal/alertmanager/alertmanager_test.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/cluster/db/repo/repository.go
  internal/service/common/async/store.go
  internal/service/common/clients/k8s/k8s.go
  internal/service/common/db/models/data_source.go
  internal/service/common/utils/persist.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_acm.go
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/serve.go
Due: none

CNF-16245: Address PR comments
  internal/service/common/async/store.go
  internal/service/common/utils/persist.go
Due: none

Expose the CT and PR conditions in the provisioning API package
  api/provisioning/v1alpha1/conditions.go
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/utils/conditions.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/provision_test.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/conditions.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_validation.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: none

CNF-16400: CNF-16401: Artifacts server api_versions and GET one
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/artifacts/api/server.go
Due: none

Expose the CT and PR conditions in the provisioning API package (#468)
  api/provisioning/v1alpha1/conditions.go
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/utils/conditions.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/provision_test.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/conditions.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_validation.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
Due: none

CNF-16400: CNF-16401: Artifacts server api_versions and GET one (#467)
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/artifacts/api/server.go
Due: none

Integrate provisioning server into inventory controller
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/testing/client-service-account-rbac.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/types.go
  internal/controllers/utils/utils.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

Integrate provisioning server into inventory controller (#469)
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/testing/client-service-account-rbac.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/types.go
  internal/controllers/utils/utils.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

CNF-16245: Add edge driven cluster updates with Reflector (#460)
  internal/service/alarms/internal/alertmanager/alertmanager_test.go
  internal/service/cluster/collector/collector.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/cluster/db/repo/repository.go
  internal/service/common/async/store.go
  internal/service/common/clients/k8s/k8s.go
  internal/service/common/db/models/data_source.go
  internal/service/common/utils/persist.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_acm.go
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/serve.go
Due: none

Intercept and convert plain text errors to JSON
  internal/service/alarms/serve.go
  internal/service/artifacts/serve.go
  internal/service/cluster/serve.go
  internal/service/common/api/errors.go
  internal/service/common/api/middleware.go
  internal/service/provisioning/serve.go
  internal/service/resources/serve.go
Due: none

Update dependabot config to avoid sig.k8s.io updates to avoid go 1.23
  .github/dependabot.yml
  Makefile
Due: none

Intercept and convert plain text errors to JSON (#473)
  internal/service/alarms/serve.go
  internal/service/artifacts/serve.go
  internal/service/cluster/serve.go
  internal/service/common/api/errors.go
  internal/service/common/api/middleware.go
  internal/service/provisioning/serve.go
  internal/service/resources/serve.go
Due: none

Update dependabot config to avoid sig.k8s.io updates to avoid go 1.23 (#475)
  .github/dependabot.yml
  Makefile
Due: none

Update dependabot config to avoid github.com/stephenafamo/bob updates to avoid go 1.23
  .github/dependabot.yml
Due: none

Resource server: add secrets to RBAC and expose error
  internal/controllers/inventory_controller.go
  internal/service/resources/collector/collector_k8s.go
Due: none

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
