Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/ci-job: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/images: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/scorecard: any of: ^bundle/

Add parameter for catalog generation
  Makefile
Due: ci/prow/ci-job, ci/prow/images

Add by2waysprojects as approver (#1498)
  OWNERS
  OWNERS_ALIASES
Due: none

Add by2waysprojects as approver
  OWNERS
  OWNERS_ALIASES
Due: none

Add by2waysprojects as approver (#1502)
  OWNERS
  OWNERS_ALIASES
Due: none

Add parameter for catalog generation (#1501)
  Makefile
Due: ci/prow/ci-job, ci/prow/images

Add parameter for catalog generation (#1503)
  Makefile
Due: ci/prow/ci-job, ci/prow/images

Handle Thanos rules edge cases (#1490)
  internal/service/alarms/internal/alertmanager/converter.go
  internal/service/alarms/internal/alertmanager/converter_test.go
  internal/service/cluster/api/server.go
  internal/service/cluster/api/server_test.go
  internal/service/cluster/collector/collector_alarms.go
  internal/service/cluster/collector/collector_alarms_test.go
  internal/service/cluster/db/repo/generated/mock_repo.generated.go
  internal/service/cluster/db/repo/repository_interface.go
Due: ci/prow/ci-job, ci/prow/images

CNF-20721: Fix spurious quotes around CPE label (#1512)
  .tekton/build-pipeline.yaml
Due: none

CNF-20721: Fix spurious quotes around CPE label (#1513)
  .tekton/build-pipeline.yaml
Due: none

Move hardware timeout detection to Metal3 plugin (#1369)
  api/hardwaremanagement/plugins/v1alpha1/node_allocation_requests.go
  api/hardwaremanagement/plugins/v1alpha1/zz_generated.deepcopy.go
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  api/provisioning/v1alpha1/provisioningrequest_webhook_test.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  bundle/manifests/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  config/crd/bases/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/api/server/provisioning/helpers.go
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/controller/utils/node_allocation_request.go
  hwmgr-plugins/controller/utils/node_allocation_request_fsm.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller_test.go
  internal/controllers/mock_hardware_plugin_server.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/utils/conditions.go
  internal/controllers/utils/hardware_utils.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

Add firmware component validation for BareMetalHosts
  dev-tools/crd-watcher/formatter.go
  dev-tools/crd-watcher/tui.go
  docs/troubleshooting.md
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_setup.go
  hwmgr-plugins/metal3/controller/metal3_hostfirmwarecomponents_controller.go
  hwmgr-plugins/metal3/controller/metal3_hostfirmwarecomponents_controller_test.go
  hwmgr-plugins/metal3/controller/resource_selection.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

Add firmware component validation for BareMetalHosts (#1560)
  dev-tools/crd-watcher/formatter.go
  dev-tools/crd-watcher/tui.go
  docs/troubleshooting.md
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/inventory_test.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_setup.go
  hwmgr-plugins/metal3/controller/metal3_hostfirmwarecomponents_controller.go
  hwmgr-plugins/metal3/controller/metal3_hostfirmwarecomponents_controller_test.go
  hwmgr-plugins/metal3/controller/resource_selection.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

Configure dependabot to ignore k8s.io major/minor updates to avoid go 1.25
  .github/dependabot.yml
Due: ci/prow/ci-job, ci/prow/images

Clear firmware spec fields after successful updates
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
Due: ci/prow/ci-job, ci/prow/images

Clear firmware spec fields after successful updates (#1565)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
Due: ci/prow/ci-job, ci/prow/images

Red Hat Konflux update o-cloud-manager-bundle-4-22
  .tekton/o-cloud-manager-bundle-4-22-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-22-push.yaml
Due: none

Red Hat Konflux update o-cloud-manager-4-22
  .tekton/o-cloud-manager-4-22-pull-request.yaml
  .tekton/o-cloud-manager-4-22-push.yaml
Due: none

Red Hat Konflux update o-cloud-manager-fbc-4-22
  .tekton/o-cloud-manager-fbc-4-22-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-22-push.yaml
Due: none

Upversion main to 4.22
  .konflux/Dockerfile.bundle
  .konflux/bundle/metadata/annotations.yaml
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .konflux/overlay/release.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/o-cloud-manager-4-22-pull-request.yaml
  .tekton/o-cloud-manager-4-22-push.yaml
  .tekton/o-cloud-manager-bundle-4-22-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-22-push.yaml
  .tekton/o-cloud-manager-fbc-4-21-push.yaml
  .tekton/o-cloud-manager-fbc-4-22-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-22-push.yaml
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  docs/user-guide/environment-setup.md
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

CNF-20583: Update target branch for Tekton pipelines to release-4.21
  .tekton/o-cloud-manager-4-21-pull-request.yaml
  .tekton/o-cloud-manager-4-21-push.yaml
  .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-21-push.yaml
  .tekton/o-cloud-manager-fbc-4-21-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-21-push.yaml
Due: none

CNF-20583: Update target branch for Tekton pipelines to release-4.21 (#1591)
  .tekton/o-cloud-manager-4-21-pull-request.yaml
  .tekton/o-cloud-manager-4-21-push.yaml
  .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-21-push.yaml
  .tekton/o-cloud-manager-fbc-4-21-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-21-push.yaml
Due: none

Bump github.com/onsi/gomega from 1.38.3 to 1.39.0 (#1608)
  go.mod
  go.sum
  vendor/github.com/onsi/gomega/CHANGELOG.md
  vendor/github.com/onsi/gomega/gomega_dsl.go
  vendor/github.com/onsi/gomega/matchers.go
  vendor/github.com/onsi/gomega/matchers/match_error_strictly_matcher.go
  vendor/modules.txt
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

Bump github.com/onsi/ginkgo/v2 from 2.27.3 to 2.27.4 (#1609)
  go.mod
  go.sum
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/internal/suite.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/modules.txt
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

Bump github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring (#1614)
  go.mod
  go.sum
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/alertmanager_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/http_config.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/podmonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/probe_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheus_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheusrule_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/tls_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/ci-job, ci/prow/images

Bump the golang group across 1 directory with 2 updates (#1615)
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/trace/events.go
  vendor/golang.org/x/term/terminal.go
  vendor/golang.org/x/text/encoding/japanese/eucjp.go
  vendor/golang.org/x/text/encoding/japanese/iso2022jp.go
  vendor/golang.org/x/text/encoding/japanese/shiftjis.go
  vendor/golang.org/x/text/encoding/korean/euckr.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/gbk.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/hzgb2312.go
  vendor/golang.org/x/text/encoding/traditionalchinese/big5.go
  vendor/golang.org/x/text/encoding/unicode/unicode.go
  vendor/golang.org/x/tools/go/ast/astutil/imports.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/types/typeutil/callee.go
  vendor/golang.org/x/tools/internal/event/core/export.go
  vendor/golang.org/x/tools/internal/event/label/label.go
  vendor/golang.org/x/tools/internal/imports/sortimports.go
  vendor/golang.org/x/tools/internal/modindex/lookup.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/golang.org/x/tools/internal/stdlib/stdlib.go
  vendor/golang.org/x/tools/internal/typesinternal/classify_call.go
  vendor/golang.org/x/tools/internal/typesinternal/types.go
  vendor/golang.org/x/tools/internal/versions/features.go
  vendor/modules.txt
Due: ci/prow/ci-job, ci/prow/images

ci: propose [BRANCH-CUT] to skip Bundle/FBC checks on version bumps
  .tekton/o-cloud-manager-bundle-4-22-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-22-push.yaml
  .tekton/o-cloud-manager-fbc-4-22-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-22-push.yaml
Due: none

Bump github.com/onsi/ginkgo/v2 from 2.27.4 to 2.27.5 (#1625)
  go.mod
  go.sum
  vendor/github.com/onsi/ginkgo/v2/CHANGELOG.md
  vendor/github.com/onsi/ginkgo/v2/internal/testingtproxy/testing_t_proxy.go
  vendor/github.com/onsi/ginkgo/v2/types/version.go
  vendor/modules.txt
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

chore(deps): update openshift-ose-operator-registry to v4.22 in Dockerfile.catalog
  .konflux/Dockerfile.catalog
Due: none

docs: proposal to expose adapterId in HardwareData CRD
  docs/enhancements/inventory/expose-adapterid-hardwaredata.md
Due: markdownlint, ci/prow/markdownlint

fix: add retry logic for service API concurrent update conflicts
  internal/service/alarms/internal/alertmanager/config.go
  internal/service/alarms/internal/alertmanager/config_test.go
  internal/service/provisioning/api/api_suite_test.go
  internal/service/provisioning/api/server.go
  internal/service/provisioning/api/server_test.go
Due: ci/prow/ci-job, ci/prow/images

crd-watcher: suppress klog stderr to prevent TUI corruption
  dev-tools/crd-watcher/main.go
Due: ci/prow/ci-job, ci/prow/images

crd-watcher: suppress klog stderr to prevent TUI corruption (#1634)
  dev-tools/crd-watcher/main.go
Due: ci/prow/ci-job, ci/prow/images

ISSUE-1546: Update golang.org/x/crypto to v0.47.0 and remove workaround
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/modules.txt
Due: ci/prow/ci-job, ci/prow/images

crd-watcher: suppress klog stderr to prevent TUI corruption (#1635)
  dev-tools/crd-watcher/main.go
Due: ci/prow/ci-job, ci/prow/images

fix: add retry logic for service API concurrent update conflicts (#1632)
  internal/service/alarms/internal/alertmanager/config.go
  internal/service/alarms/internal/alertmanager/config_test.go
  internal/service/provisioning/api/api_suite_test.go
  internal/service/provisioning/api/server.go
  internal/service/provisioning/api/server_test.go
Due: ci/prow/ci-job, ci/prow/images
