Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint

ci-operator/config/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-main.yaml:

base_images:
  cli-operator-sdk:
    name: cli-operator-sdk
    namespace: ocp
    tag: v1.31.0
  ubi-min9:
    name: ubi-minimal
    namespace: ocp
    tag: "9"
binary_build_commands: make binary
build_root:
  project_image:
    dockerfile_path: Dockerfile.tools
images:
- dockerfile_path: Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator
- dockerfile_path: bundle.Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator-bundle
operator:
  bundles:
  - as: operator-bundle
    dockerfile_path: bundle.Dockerfile
    skip_building_index: true
  substitutions:
  - pullspec: quay.io/openshift-kni/oran-o2ims-operator:.*
    with: pipeline:oran-o2ims-operator
promotion:
  to:
  - name: "4.16"
    namespace: ocp-kni
releases:
  initial:
    integration:
      name: "4.16"
      namespace: ocp
  latest:
    integration:
      include_built_images: true
      name: "4.16"
      namespace: ocp
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  ./hack/install-markdownlint.sh
tests:
- as: ci-job
  commands: make ci-job
  container:
    from: src
- as: scorecard
  run_if_changed: ^bundle/
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: |
        ci-job-source prowci
        ci-job-branch main
        ci-job-fullname openshift-kni-scorecard-oran-o2ims-main
        ci-job-type optional-operators-ci-aws
        ci-repo-name oran-o2ims
        ci-org-name openshift-kni
    test:
    - as: scorecard-test
      cli: latest
      commands: make scorecard-test
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: optional-operators-ci-operator-sdk-aws
- always_run: false
  as: markdownlint
  commands: |
    hack/markdownlint.sh
  container:
    from: test-bin
  run_if_changed: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
zz_generated_metadata:
  branch: main
  org: openshift-kni
  repo: oran-o2ims

Revert "chore(deps): update quay.io/konflux-ci/konflux-vanguard/task-rpms-sig…"
  .tekton/build-pipeline.yaml
Due: none

Revert "chore(deps): update quay.io/konflux-ci/konflux-vanguard/task-rpms-sig…" (#974)
  .tekton/build-pipeline.yaml
Due: none

Update Makefile to separate downloading and running tools
  Makefile
Due: none

Remove api subdir go.mod files
  api/common/go.mod
  api/common/go.sum
  api/hardwaremanagement/go.mod
  api/hardwaremanagement/go.sum
  api/inventory/go.mod
  api/inventory/go.sum
  api/provisioning/go.mod
  api/provisioning/go.sum
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  go.mod
  vendor/github.com/openshift-kni/oran-o2ims/api/common/common_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/common/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/LICENSE.txt
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/plugins/v1alpha1/allocated_nodes.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/plugins/v1alpha1/groupversion.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/plugins/v1alpha1/node_allocation_requests.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/plugins/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/conditions.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/groupversion.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/LICENSE.txt
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/groupversion_info.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/LICENSE.txt
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/clustertemplate_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/conditions.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/groupversion_info.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_validation.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: none

Update Makefile to separate downloading and running tools (#979)
  Makefile
Due: none

Remove api subdir go.mod files (#980)
  api/common/go.mod
  api/common/go.sum
  api/hardwaremanagement/go.mod
  api/hardwaremanagement/go.sum
  api/inventory/go.mod
  api/inventory/go.sum
  api/provisioning/go.mod
  api/provisioning/go.sum
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  api/provisioning/v1alpha1/provisioningrequest_webhook.go
  go.mod
  vendor/github.com/openshift-kni/oran-o2ims/api/common/common_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/common/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/LICENSE.txt
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/plugins/v1alpha1/allocated_nodes.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/plugins/v1alpha1/groupversion.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/plugins/v1alpha1/node_allocation_requests.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/plugins/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/conditions.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/groupversion.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/LICENSE.txt
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/groupversion_info.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/LICENSE.txt
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/clustertemplate_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/conditions.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/groupversion_info.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_validation.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_webhook.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: none

Remove api dirs from dependabot config
  .github/dependabot.yml
Due: none

Remove api dirs from dependabot config (#983)
  .github/dependabot.yml
Due: none

feat(crd-watcher): unify output formatting between watch and non-watch modes (#959)
  .gitignore
  dev-tools/crd-watcher/formatter.go
  dev-tools/crd-watcher/formatter_test.go
  dev-tools/crd-watcher/main.go
  dev-tools/crd-watcher/tui.go
  dev-tools/crd-watcher/tui_test.go
  dev-tools/crd-watcher/watcher.go
Due: none

fix(metal3/server): resolve CI timeout issues in server test suite
  Makefile
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/server/inventory_server_test.go
  hwmgr-plugins/metal3/server/serve_test.go
Due: none

fix(metal3/server): resolve CI timeout issues in server test suite (#998)
  Makefile
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/server/inventory_server_test.go
  hwmgr-plugins/metal3/server/serve_test.go
Due: none

CNF-18384:Prevent ProvisioningRequest stuck states
  hwmgr-plugins/api/server/provisioning/helpers.go
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller_test.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  hwmgr-plugins/metal3/server/provisioning_server.go
  hwmgr-plugins/metal3/server/provisioning_server_test.go
  hwmgr-plugins/metal3/server/serve.go
  hwmgr-plugins/metal3/server/serve_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/utils/constants.go
  test/e2e/e2e_suite_test.go
Due: none

metal3: Add hardwaredata resource selector support
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/resource_selection.go
  hwmgr-plugins/metal3/controller/resource_selection_test.go
Due: none

metal3: Add hardwaredata resource selector support (#994)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/resource_selection.go
  hwmgr-plugins/metal3/controller/resource_selection_test.go
Due: none

Back database with PVC
  internal/controllers/inventory_controller_postgres.go
Due: none

Back database with PVC
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
Due: scorecard

CNF-18384:Prevent ProvisioningRequest stuck states
  hwmgr-plugins/api/server/provisioning/helpers.go
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller_test.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  hwmgr-plugins/metal3/controller/resource_selection.go
  hwmgr-plugins/metal3/server/provisioning_server.go
  hwmgr-plugins/metal3/server/provisioning_server_test.go
  hwmgr-plugins/metal3/server/serve.go
  hwmgr-plugins/metal3/server/serve_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/utils/constants.go
  test/e2e/e2e_suite_test.go
Due: none

Back database with PVC (#1001)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
Due: scorecard

CNF-18384:Prevent ProvisioningRequest stuck states (#960)
  hwmgr-plugins/api/server/provisioning/helpers.go
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager_test.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller_test.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  hwmgr-plugins/metal3/controller/resource_selection.go
  hwmgr-plugins/metal3/server/provisioning_server.go
  hwmgr-plugins/metal3/server/provisioning_server_test.go
  hwmgr-plugins/metal3/server/serve.go
  hwmgr-plugins/metal3/server/serve_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/utils/constants.go
  test/e2e/e2e_suite_test.go
Due: none

CNF-19259: Add Node Firmware/BIOS Validation
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwaresettings_manager.go
Due: none

CNF-19259: Add Node Firmware/BIOS Validation (#1022)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwaresettings_manager.go
Due: none

Add IBI-based cluster provisioning documentation and samples
  docs/ibi-based-cluster-provisioning.md
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-ibi.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-ibi-v4-Y-Z-1.yaml
Due: markdownlint

Add IBI-based cluster provisioning documentation and samples (#1026)
  docs/ibi-based-cluster-provisioning.md
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/clusterinstance-defaults-ibi.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-ibi-v4-Y-Z-1.yaml
Due: markdownlint

Add NIC f/w to hardware template
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
Due: scorecard

Add NIC f/w to hardware template (#1029)
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/helpers_test.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager.go
  hwmgr-plugins/metal3/controller/hostfirmwarecomponents_manager_test.go
Due: scorecard

release-4.20: Update branch in .tekton files
  .tekton/o-cloud-manager-4-20-pull-request.yaml
  .tekton/o-cloud-manager-4-20-push.yaml
  .tekton/o-cloud-manager-bundle-4-20-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-20-push.yaml
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
Due: none

Red Hat Konflux update o-cloud-manager-bundle-4-21
  .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-21-push.yaml
Due: none

Red Hat Konflux update o-cloud-manager-fbc-4-21
  .tekton/o-cloud-manager-fbc-4-21-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-21-push.yaml
Due: none

Red Hat Konflux update o-cloud-manager-4-21
  .tekton/o-cloud-manager-4-21-pull-request.yaml
  .tekton/o-cloud-manager-4-21-push.yaml
Due: none

Upversion to 4.21
  .konflux/Dockerfile.bundle
  .konflux/Dockerfile.catalog
  .konflux/bundle/metadata/annotations.yaml
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/overlay/pin_images.in.yaml
  .konflux/overlay/release.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/o-cloud-manager-4-21-pull-request.yaml
  .tekton/o-cloud-manager-4-21-push.yaml
  .tekton/o-cloud-manager-bundle-4-21-pull-request.yaml
  .tekton/o-cloud-manager-bundle-4-21-push.yaml
  .tekton/o-cloud-manager-fbc-4-21-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-21-push.yaml
  Makefile
  README.md
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: scorecard, markdownlint

fix manager pattern to match 4.21 + update sha256
  .konflux/overlay/pin_images.in.yaml
Due: none

fix manager pattern to match 4.21 + update sha256 (#1048)
  .konflux/overlay/pin_images.in.yaml
Due: none

Clear callback annotations after processing
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/utils/utils.go
Due: none

Clear callback annotations after processing (#1049)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/utils/utils.go
Due: none

Clear callback annotations after processing (#1051)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/utils/utils.go
Due: none

Refactor ProvisioningRequest upgrade handling and remove redundant validation
  docs/cluster-provisioning.md
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/utils/conditions.go
Due: markdownlint

Update bundle.builds.in.yaml
  .konflux/catalog/bundle.builds.in.yaml
Due: none

Refactor ProvisioningRequest upgrade handling and remove redundant validation (#1055)
  docs/cluster-provisioning.md
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/utils/conditions.go
Due: markdownlint
