Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint

ci-operator/config/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-main.yaml:

base_images:
  cli-operator-sdk:
    name: cli-operator-sdk
    namespace: ocp
    tag: v1.31.0
  ubi-min9:
    name: ubi-minimal
    namespace: ocp
    tag: "9"
binary_build_commands: make binary
build_root:
  project_image:
    dockerfile_path: Dockerfile.tools
images:
- dockerfile_path: Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator
- dockerfile_path: bundle.Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator-bundle
operator:
  bundles:
  - as: operator-bundle
    dockerfile_path: bundle.Dockerfile
    skip_building_index: true
  substitutions:
  - pullspec: quay.io/openshift-kni/oran-o2ims-operator:.*
    with: pipeline:oran-o2ims-operator
promotion:
  to:
  - name: "4.16"
    namespace: ocp-kni
releases:
  initial:
    integration:
      name: "4.16"
      namespace: ocp
  latest:
    integration:
      include_built_images: true
      name: "4.16"
      namespace: ocp
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  ./hack/install-markdownlint.sh
tests:
- as: ci-job
  commands: make ci-job
  container:
    from: src
- as: scorecard
  run_if_changed: ^bundle/
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: |
        ci-job-source prowci
        ci-job-branch main
        ci-job-fullname openshift-kni-scorecard-oran-o2ims-main
        ci-job-type optional-operators-ci-aws
        ci-repo-name oran-o2ims
        ci-org-name openshift-kni
    test:
    - as: scorecard-test
      cli: latest
      commands: make scorecard-test
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: optional-operators-ci-operator-sdk-aws
- always_run: false
  as: markdownlint
  commands: |
    hack/markdownlint.sh
  container:
    from: test-bin
  run_if_changed: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
zz_generated_metadata:
  branch: main
  org: openshift-kni
  repo: oran-o2ims

Keep BmhHostMgmtAnnotation in place during deletion
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
Due: none

CNF-18182:Remove assisted service day 2 workaround (#761)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
Due: none

Refactor Node CRD to AllocatedNode (#691)
  .konflux/catalog/o-cloud-manager/catalog.yaml
  PROJECT
  README.md
  api/hardwaremanagement/v1alpha1/allocated_nodes.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_allocatednodes.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_allocatednodes.yaml
  config/crd/kustomization.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/kustomization.yaml
  config/samples/v1alpha1_allocatednode.yaml
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/provisioningrequest_setup.go
  internal/controllers/suite_test.go
  internal/controllers/utils/hardware_utils.go
  test/utils/functions.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/allocated_nodes.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: scorecard, markdownlint

Add hwmgr-plugins scaffolding content and openapi specification (#686)
  hwmgr-plugins/api/generated/plugins.generated.go
  hwmgr-plugins/api/middleware.go
  hwmgr-plugins/api/openapi.yaml
  hwmgr-plugins/api/tools/generate.go
  hwmgr-plugins/api/tools/oapi-codegen.yaml
Due: none

Add shared common authentication data types (#703)
  api/common/common_types.go
  api/common/go.mod
  api/common/zz_generated.deepcopy.go
  api/hardwaremanagement/go.mod
  api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  api/inventory/go.mod
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  go.mod
  vendor/github.com/openshift-kni/oran-o2ims/api/common/common_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/common/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: scorecard

Add hardwareplugin controller manager (#695)
  .containerignore
  Dockerfile
  api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/kustomization.yaml
  config/rbac/role.yaml
  hwmgr-plugins/cmd/start_hardwareplugin_manager.go
  hwmgr-plugins/controller/hardwareplugin_controller.go
  hwmgr-plugins/controller/utils/conditions.go
  hwmgr-plugins/controller/utils/utils.go
  internal/controllers/hardwareplugin_manager_setup.go
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
  internal/logging/logging.go
  internal/typed-errors/typed_errors.go
  internal/typed-errors/typed_errors_test.go
  main.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

Add validation logic when registering a new HardwarePlugin (#706)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  hwmgr-plugins/controller/hardwareplugin_controller.go
  internal/controllers/hardwareplugin_manager_setup.go
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
Due: scorecard

Add HardwareProfile CRD (#708)
  PROJECT
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims-o2ims-hardwaremanagement-hardwareprofile-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-o2ims-hardwaremanagement-hardwareprofile-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_hardwareprofiles.yaml
  config/crd/kustomization.yaml
  config/rbac/kustomization.yaml
  config/rbac/o2ims-hardwaremanagement_hardwareprofile_editor_role.yaml
  config/rbac/o2ims-hardwaremanagement_hardwareprofile_viewer_role.yaml
  config/samples/kustomization.yaml
  config/samples/v1alpha1_hardwareprofile.yaml
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

Add client generated code for the plugin API (#707)
  hwmgr-plugins/api/generated/client/client.generated.go
  hwmgr-plugins/api/generated/server/server.generated.go
  hwmgr-plugins/api/middleware.go
  hwmgr-plugins/api/tools/generate.go
  hwmgr-plugins/api/tools/oapi-codegen-client.yaml
  hwmgr-plugins/api/tools/oapi-codegen-server.yaml
Due: none

Refactor client provider to use authType (#704)
  go.mod
  internal/controllers/utils/utils.go
  internal/service/common/api/utils.go
  internal/service/common/api/utils_test.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/common/notifier/provider.go
Due: none

Add new HardwarePlugin CustomResourceDefinition for registering HW plugins (#690)
  PROJECT
  api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oran-o2ims-hardwaremanagement-hardwareplugin-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oran-o2ims-hardwaremanagement-hardwareplugin-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  config/crd/kustomization.yaml
  config/rbac/hardwaremanagement_hardwareplugin_editor_role.yaml
  config/rbac/hardwaremanagement_hardwareplugin_viewer_role.yaml
  config/rbac/kustomization.yaml
  config/samples/hardwaremanagement_v1alpha1_hardwareplugin.yaml
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

Add metal3 hardware plugin server and controller infrastructure (#720)
  hwmgr-plugins/api/server/helpers.go
  hwmgr-plugins/api/server/server.go
  hwmgr-plugins/controller/utils/constants.go
  hwmgr-plugins/loopback/controller/helpers.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_controller.go
  hwmgr-plugins/metal3/server/serve.go
  hwmgr-plugins/metal3/server/server.go
  internal/controllers/inventory_controller.go
  internal/controllers/metal3plugin_server_setup.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
  main.go
Due: none

Handle NodeAllocationRequest creation / updation / deletion for the Loopback HardwarePlugin (#711)
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  hwmgr-plugins/controller/utils/node_allocation_request.utils.go
  hwmgr-plugins/loopback/cmd/start_loopbackplugin_server.go
  hwmgr-plugins/loopback/controller/helpers.go
  hwmgr-plugins/loopback/controller/loopback_hardwareplugin_controller.go
  hwmgr-plugins/loopback/controller/nodelist_configmap.go
  internal/controllers/utils/configmap.go
Due: scorecard

Add Loopback HardwarePlugin server endpoint implementations (#712)
  hwmgr-plugins/api/generated/client/client.generated.go
  hwmgr-plugins/api/generated/server/server.generated.go
  hwmgr-plugins/api/openapi.yaml
  hwmgr-plugins/loopback/cmd/start_loopbackplugin_server.go
  hwmgr-plugins/loopback/controller/constants.go
  hwmgr-plugins/loopback/controller/helpers.go
  hwmgr-plugins/loopback/controller/loopback_hardwareplugin_controller.go
  hwmgr-plugins/loopback/server/helpers.go
  hwmgr-plugins/loopback/server/serve.go
  hwmgr-plugins/loopback/server/server.go
Due: none

Add Loopback HardwarePlugin server infrastructure (#709)
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  hwmgr-plugins/controller/utils/allocated_node.utils.go
  hwmgr-plugins/controller/utils/node_allocation_request.utils.go
  hwmgr-plugins/loopback/cmd/start_loopbackplugin_server.go
  hwmgr-plugins/loopback/controllers/loopback_hardwareplugin_controller.go
  hwmgr-plugins/loopback/server/serve.go
  hwmgr-plugins/loopback/server/server.go
  internal/controllers/inventory_controller.go
  internal/controllers/loopbackplugin_server_setup.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/utils.go
  main.go
Due: scorecard

Add missing RBAC permissions for hardware manager provisioning API (#733)
  internal/controllers/provisioningrequest_controller.go
Due: none

metal3: Update inventory reporting (#737)
  hwmgr-plugins/controller/utils/allocated_node.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/server/inventory_server.go
  internal/service/cluster/collector/collector.go
  internal/service/resources/collector/collector.go
Due: none

Add inventory server (#736)
  hwmgr-plugins/api/client/provisioning/client.go
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/client/provisioning/helpers.go
  hwmgr-plugins/api/middleware.go
  hwmgr-plugins/api/openapi/codegen/configs/inventory-oapi-codegen-server.yaml
  hwmgr-plugins/api/openapi/codegen/configs/provisioning-oapi-codegen-client.yaml
  hwmgr-plugins/api/openapi/codegen/configs/provisioning-oapi-codegen-server.yaml
  hwmgr-plugins/api/openapi/codegen/generator.go
  hwmgr-plugins/api/openapi/specs/inventory.yaml
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/inventory/generated.go
  hwmgr-plugins/api/server/inventory/server.go
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/api/server/provisioning/helpers.go
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/api/tools/generate.go
  hwmgr-plugins/controller/hardwareplugin_controller.go
  hwmgr-plugins/controller/utils/allocated_node.go
  hwmgr-plugins/controller/utils/node_allocation_request.go
  hwmgr-plugins/loopback/controller/inventory.go
  hwmgr-plugins/loopback/server/inventory_server.go
  hwmgr-plugins/loopback/server/provisioning_server.go
  hwmgr-plugins/loopback/server/serve.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/server/inventory_server.go
  hwmgr-plugins/metal3/server/provisioning_server.go
  hwmgr-plugins/metal3/server/serve.go
  internal/controllers/helpers.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/utils/hardware_utils.go
Due: none

Fix rbac permissions for updating NodeAllocationRequests (change put -> update) (#735)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/loopbackplugin_server_setup.go
  internal/controllers/metal3plugin_server_setup.go
  internal/controllers/provisioningrequest_controller.go
Due: scorecard

Update provisioning requeue intervals on plugin interactions (#738)
  internal/controllers/clustertemplate_controller.go
  internal/controllers/provisioningrequest_controller.go
Due: none

Improve how the host node ID label is applied to an agent post provisioning (#732)
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/inventory_controller.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/utils/hardware_utils.go
Due: none

Update day2 config interactions with plugin (#752)
  api/hardwaremanagement/v1alpha1/node_allocation_requests.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_nodeallocationrequests.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_nodeallocationrequest.yaml
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/api/server/provisioning/helpers.go
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/controller/utils/node_allocation_request.go
  hwmgr-plugins/loopback/controller/helpers.go
  hwmgr-plugins/loopback/controller/loopback_hardwareplugin_controller.go
  hwmgr-plugins/loopback/controller/nodelist_configmap.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/node_allocation_requests.go
Due: scorecard

Fix CRD metadata definitions for scorecards (#744)
  PROJECT
  api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_hardwareplugins.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/hardwaremanagement_v1alpha1_hardwareplugin.yaml
  config/samples/kustomization.yaml
  config/samples/v1alpha1_hardwareplugin.yaml
  config/samples/v1alpha1_hardwareprofile.yaml
  config/samples/v1alpha1_inventory.yaml
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareplugin_types.go
Due: scorecard

Update metadata to replace ORAN O2IMS references (#746)
  api/hardwaremanagement/v1alpha1/allocated_nodes.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  api/inventory/v1alpha1/inventory_types.go
  api/provisioning/v1alpha1/clustertemplate_types.go
  api/provisioning/v1alpha1/provisioningrequest_types.go
  bundle/manifests/o2ims-hardwaremanagement.oran.openshift.io_allocatednodes.yaml
  bundle/manifests/o2ims.oran.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/o2ims-hardwaremanagement.oran.openshift.io_allocatednodes.yaml
  config/crd/bases/o2ims.oran.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  docs/cluster-provisioning.md
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
  internal/service/postgres/files/init.sh
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/allocated_nodes.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/inventory/v1alpha1/inventory_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/clustertemplate_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/provisioning/v1alpha1/provisioningrequest_types.go
Due: scorecard, markdownlint

CNF-18183:: Added BMH deprovisioning on AllocatedNode deletion (#748)
  hwmgr-plugins/api/server/provisioning/server.go
  hwmgr-plugins/controller/utils/allocated_node.go
  hwmgr-plugins/metal3/cmd/start_metal3plugin_server.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  hwmgr-plugins/metal3/controller/helpers.go
  hwmgr-plugins/metal3/controller/inventory.go
  hwmgr-plugins/metal3/controller/metal3_allocatednode_controller.go
  hwmgr-plugins/metal3/controller/metal3_hardwareplugin_setup.go
  hwmgr-plugins/metal3/controller/metal3_nodeallocationrequest_controller.go
Due: none

Update PR reconciler to requeue when ClusterProvision condition is not yet present (#747)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/manager.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_upgrade.go
  internal/service/alarms/internal/serviceconfig/serviceconfig.go
Due: scorecard

Update installMode to OwnNamespace (#754)
  Makefile
  README.md
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: scorecard, markdownlint

Update HardwareTemplate ResourceSelector field (#763)
  api/hardwaremanagement/plugins/v1alpha1/zz_generated.deepcopy.go
  api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_hardwaretemplates.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  bundle/manifests/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/crd/bases/clcm.openshift.io_hardwaretemplates.yaml
  config/crd/bases/plugins.clcm.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  hwmgr-plugins/api/client/provisioning/generated.go
  hwmgr-plugins/api/openapi/specs/provisioning.yaml
  hwmgr-plugins/api/server/provisioning/generated.go
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
  test/e2e/e2e_suite_test.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/plugins/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/hardwaretemplate_types.go
  vendor/github.com/openshift-kni/oran-o2ims/api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
Due: scorecard

Remove allocatedNodeLabel on a node deletion (#759)
  hwmgr-plugins/metal3/controller/baremetalhost_manager.go
Due: none

Automatically create metal3 and loopback HardwarePlugin CRs (#756)
  hwmgr-plugins/controller/hardwareplugin_controller.go
  internal/controllers/loopbackplugin_server_setup.go
  internal/controllers/metal3plugin_server_setup.go
Due: none

Red Hat Konflux update o-cloud-manager-fbc-4-20 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/o-cloud-manager-fbc-4-20-pull-request.yaml
  .tekton/o-cloud-manager-fbc-4-20-push.yaml
Due: none
