Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/ci-job: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/images: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/scorecard: any of: ^bundle/

Document PostgreSQL TLS profile enforcement and scanner results
  docs/dev/tls-configuration.md
Due: markdownlint, ci/prow/markdownlint

Make postgres pod compliant with security profiles (tls-scanner) (#3727)
  .konflux/overlay/pin_images.in.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/manager.yaml
  docs/dev/tls-configuration.md
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/utils/configmap.go
  internal/controllers/utils/tls_profile.go
  internal/controllers/utils/tls_profile_test.go
  internal/service/postgres/files/postgresql.conf
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

Switch runtime base image to ubi9-minimal-pqc for PQC enablement
  .konflux/Dockerfile
Due: none

OCPBUGS-99223: validate boot interface label before firmware updates
  internal/hardwaremanager/controller/helpers.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-99223: validate boot interface label before firmware updates (#3804)
  internal/hardwaremanager/controller/helpers.go
Due: ci/prow/ci-job, ci/prow/images

CNF-18657: add proposal for clusterinstance per-node input optimization
  docs/proposals/nodegroups-clusterinstance-input.md
Due: markdownlint, ci/prow/markdownlint

Enforce cluster TLS profile on PostgreSQL with PG18 upgrade
  .konflux/overlay/pin_images.in.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/manager.yaml
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/inventory_controller_test.go
  internal/service/postgres/files/postgresql.conf
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

Add TLS profile conversion utilities for PostgreSQL
  internal/controllers/utils/configmap.go
  internal/controllers/utils/tls_profile.go
  internal/controllers/utils/tls_profile_test.go
Due: ci/prow/ci-job, ci/prow/images

[release-4.22] Make postgres pod compliant with security profiles (tls-scanner) (#3831)
  .konflux/overlay/pin_images.in.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/manager.yaml
  docs/dev/tls-configuration.md
  internal/controllers/inventory_controller_postgres.go
  internal/controllers/inventory_controller_test.go
  internal/controllers/utils/configmap.go
  internal/controllers/utils/tls_profile.go
  internal/controllers/utils/tls_profile_test.go
  internal/service/postgres/files/postgresql.conf
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

OCPBUGS-105287: Fix compound filters with semicolons returning 400
  internal/service/common/api/middleware/filtering.go
  internal/service/common/api/middleware/filtering_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-105288: Accept nested field paths on map-typed fields
  internal/service/common/api/options.go
  internal/service/common/api/options_test.go
Due: ci/prow/ci-job, ci/prow/images

Apply cluster TLS profile to hardware-manager
  docs/dev/tls-configuration.md
  internal/controllers/utils/constants.go
  internal/controllers/utils/tls_profile.go
  internal/controllers/utils/tls_profile_test.go
  internal/controllers/utils/utils.go
  internal/hardwaremanager/cmd/start_hardwaremanager.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-18657: add proposal for clusterinstance per-node input optimization (#3796)
  docs/proposals/nodegroups-clusterinstance-input.md
Due: markdownlint, ci/prow/markdownlint

Apply cluster TLS profile to hardware-manager (#3765)
  docs/dev/tls-configuration.md
  internal/controllers/utils/constants.go
  internal/controllers/utils/tls_profile.go
  internal/controllers/utils/tls_profile_test.go
  internal/controllers/utils/utils.go
  internal/hardwaremanager/cmd/start_hardwaremanager.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

OCPBUGS-105287: Fix compound filters with semicolons returning 400 (#3836)
  internal/service/common/api/middleware/filtering.go
  internal/service/common/api/middleware/filtering_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-105288: Accept nested field paths on map-typed fields (#3837)
  internal/service/common/api/options.go
  internal/service/common/api/options_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-26439: accept nodeGroups format inputs for ClusterInstance in ClusterTemplate
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-99224: fix IBI cluster deletion stall caused by BMO secret finalizer (#3771)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_hardwaremanager_server.yaml
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/baremetalhost_manager_test.go
  internal/hardwaremanager/controller/helpers.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

OCPBUGS-99224: address CodeRabbit review feedback
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/baremetalhost_manager_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-99224: validate IBI secret identity before deletion
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/baremetalhost_manager_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-99224: fix IBI cluster deletion stall caused by BMO secret finalizer
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_hardwaremanager_server.yaml
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/baremetalhost_manager_test.go
  internal/hardwaremanager/controller/helpers.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

OCPBUGS-99223: validate boot interface label before firmware updates (#3871)
  internal/hardwaremanager/controller/helpers.go
Due: ci/prow/ci-job, ci/prow/images

[release-4.22] OCPBUGS-105524: fix IBI cluster deletion stall caused by BMO secret finalizer (#3870)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_hardwaremanager_server.yaml
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/baremetalhost_manager_test.go
  internal/hardwaremanager/controller/helpers.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-25915: Update HardwareProfile API to reference FirmwareCatalog entries
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook_test.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_types.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook_test.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_hardwareprofiles.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_hardwareprofiles.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  config/samples/hardwaremanagement_v1alpha1_firmwarecatalog.yaml
  config/samples/v1alpha1_hardwareprofile.yaml
  config/webhook/manifests.yaml
  docs/dev/e2e-test-overview.md
  docs/user-guide/firmware-update-workflow.md
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/firmwarecatalog_controller_test.go
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/firmware_catalog.go
  internal/hardwaremanager/controller/firmware_catalog_test.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_manager_test.go
  test/e2e/mno_hw_configuration_test.go
  test/e2e/sno_provisioning_test.go
  test/resources/mno_hw_configuration/firmware-catalog.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-r740-v2.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v1.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v2.yaml
  test/resources/mno_hw_configuration/hw-profile-dell-xr860t-v3.yaml
  test/utils/vars.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

CNF-25915: Protect FirmwareCatalog against deletion when entries are referenced
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook.go
  api/hardwaremanagement/v1alpha1/firmwarecatalog_webhook_test.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/webhook/manifests.yaml
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-25915: Improve webhook validation, catalog resolution, and test coverage
  api/hardwaremanagement/v1alpha1/firmwarecatalog_types.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook.go
  api/hardwaremanagement/v1alpha1/hardwareprofile_webhook_test.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/webhook/manifests.yaml
  docs/user-guide/firmware-update-workflow.md
  internal/hardwaremanager/controller/firmware_catalog.go
  internal/hardwaremanager/controller/firmware_catalog_test.go
  internal/hardwaremanager/controller/helpers.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/hostfirmwarecomponents_controller.go
  test/e2e/mno_hw_configuration_test.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

CNF-26439: accept nodeGroups format inputs for ClusterInstance in ClusterTemplate (#3846)
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/provision_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-26438: Refactor DeepMergeMaps for reusable by-key slice merging
  AGENTS.md
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/merge.go
  internal/controllers/utils/merge_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

Switch runtime base image to ubi9-minimal-pqc for PQC enablement (#3797)
  .konflux/Dockerfile
Due: none

Update postgres image mapping to postgresql-18
  .konflux/overlay/map_images.in.yaml
Due: none

Update postgres image mapping to postgresql-18 (#3901)
  .konflux/overlay/map_images.in.yaml
Due: none

docs: add RBAC guidance to AGENTS.md
  AGENTS.md
Due: markdownlint, ci/prow/markdownlint

docs: clarify namespace marker constraint for cluster-scoped resources
  AGENTS.md
Due: markdownlint, ci/prow/markdownlint

docs: add RBAC guidance to AGENTS.md (#3902)
  AGENTS.md
Due: markdownlint, ci/prow/markdownlint

Update FBC base image namespace from openshift4 to openshift5 for OCP 5.0
  .konflux/Dockerfile.catalog
Due: none

Update FBC base image namespace from openshift4 to openshift5 for OCP 5.0 (#3920)
  .konflux/Dockerfile.catalog
Due: none

CNF-26438: Refactor DeepMergeMaps for reusable by-key slice merging (#3884)
  AGENTS.md
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/merge.go
  internal/controllers/utils/merge_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint
