Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/ci-job: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/images: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/scorecard: any of: ^bundle/

CNF-25326: Add unit tests for TokenRequestTokenSource and audience validation
  .coverage-thresholds.yaml
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/common/auth/auth_k8s_test.go
  internal/service/common/clients/suite_test.go
  internal/service/common/clients/tokenrequest_test.go
Due: ci/prow/ci-job, ci/prow/images

Remove TokenRequest from notifier callback path
  internal/service/alarms/serve.go
  internal/service/cluster/serve.go
  internal/service/common/notifier/provider.go
  internal/service/resources/serve.go
Due: ci/prow/ci-job, ci/prow/images

Address review feedback: fix token expiry, audience guard, RBAC, and test assertion
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/clusterrole_cluster_server.yaml
  config/rbac/clusterrole_resource_server.yaml
  internal/service/common/auth/middleware.go
  internal/service/common/clients/tokenrequest.go
  internal/service/common/clients/tokenrequest_test.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

Use least-privilege SA for alertmanager API calls
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/clusterrole_alertmanager_client.yaml
  config/rbac/clusterrolebindings_services.yaml
  config/rbac/kustomization.yaml
  config/rbac/service_accounts_services.yaml
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/common/clients/tokenrequest.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25324: Replace CachedFileTokenSource with TokenRequestTokenSource in inter-service clients
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/alarms/internal/alertmanager/api_test.go
  internal/service/alarms/internal/infrastructure/clusterserver.go
  internal/service/alarms/internal/infrastructure/generated/mock_infrastructure_client.generated.go
  internal/service/alarms/internal/infrastructure/infrastructure.go
  internal/service/alarms/internal/infrastructure/resourceserver.go
  internal/service/alarms/serve.go
  internal/service/cluster/serve.go
  internal/service/common/notifier/provider.go
  internal/service/resources/serve.go
Due: ci/prow/ci-job, ci/prow/images

Remove local dev env var overrides from alertmanager client
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/alarms/internal/alertmanager/api_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25325: Add audience validation to Kubernetes authenticator for inter-service auth
  internal/controllers/utils/constants.go
  internal/service/common/auth/auth_k8s.go
  internal/service/common/auth/middleware.go
  internal/service/common/utils/config.go
Due: ci/prow/ci-job, ci/prow/images

Regenerate deepcopy after rebase to fix bundle-check
  api/common/zz_generated.deepcopy.go
Due: ci/prow/ci-job, ci/prow/images

Address second review pass feedback
  api/common/zz_generated.deepcopy.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_cluster_server.yaml
  config/rbac/clusterrole_resource_server.yaml
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/alarms/internal/alertmanager/api_test.go
  internal/service/alarms/serve.go
  internal/service/common/notifier/provider.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

Regenerate bundle for alertmanager-client SA and add audience exemption tests
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  internal/service/common/auth/auth_k8s_test.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

Add test for empty-audience TokenRequestTokenSource
  internal/service/common/clients/tokenrequest_test.go
Due: ci/prow/ci-job, ci/prow/images

Exempt internal API paths from audience validation for alertmanager callbacks
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/overlay.yaml
  internal/service/alarms/serve.go
  internal/service/common/auth/auth_k8s.go
  internal/service/common/auth/middleware.go
  internal/service/common/utils/config.go
Due: ci/prow/ci-job, ci/prow/images

docs: address review feedback on IBI media server proposal
  docs/proposals/ibi-media-server.md
Due: markdownlint, ci/prow/markdownlint

CNF-25319: Replace SA token usage for inter-service calls with audience-scoped TokenRequest API (#2986)
  .coverage-thresholds.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/clusterrole_alarms_server.yaml
  config/rbac/clusterrole_alertmanager_client.yaml
  config/rbac/clusterrolebindings_services.yaml
  config/rbac/kustomization.yaml
  config/rbac/kustomizeconfig.yaml
  config/rbac/service_accounts_services.yaml
  docs/user-guide/alarms-user-guide.md
  docs/user-guide/api-overview.md
  docs/user-guide/environment-setup.md
  docs/user-guide/server-onboarding.md
  internal/controllers/utils/constants.go
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/overlay.yaml
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/alarms/internal/alertmanager/api_test.go
  internal/service/alarms/internal/infrastructure/clusterserver.go
  internal/service/alarms/internal/infrastructure/generated/mock_infrastructure_client.generated.go
  internal/service/alarms/internal/infrastructure/infrastructure.go
  internal/service/alarms/internal/infrastructure/resourceserver.go
  internal/service/alarms/serve.go
  internal/service/cluster/serve.go
  internal/service/common/auth/auth_k8s.go
  internal/service/common/auth/auth_k8s_test.go
  internal/service/common/auth/middleware.go
  internal/service/common/clients/suite_test.go
  internal/service/common/clients/tokenrequest.go
  internal/service/common/clients/tokenrequest_test.go
  internal/service/common/notifier/provider.go
  internal/service/common/notifier/provider_test.go
  internal/service/common/utils/config.go
  internal/service/resources/serve.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

CNF-25620: Remove no-hw-template controller code and require hardware provisioning
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-1-no-hwtemplate.yaml
  docs/user-guide/template-overview.md
  internal/controllers/clustertemplate_controller.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-25621: Remove tests for no-hardware-template code path
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25622: Add defense-in-depth stripping of BMC credentials from API responses
  internal/service/provisioning/api/server.go
  internal/service/provisioning/api/server_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25620: Fix gofmt formatting issues from code removal
  internal/controllers/clustertemplate_controller.go
  internal/controllers/provisioningrequest_resourcecreation.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25620: Remove stale no-hw-template references from samples and docs
  api/provisioning/v1alpha1/clustertemplate_types.go
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/kustomization.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-pg-v4-Y-Z-v1.yaml
  internal/controllers/clustertemplate_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

Regenerate CRD manifests after HwMgmtDefaults description update
  bundle/manifests/clcm.openshift.io_clustertemplates.yaml
  config/crd/bases/clcm.openshift.io_clustertemplates.yaml
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-22692: support AllNamespaces install mode for OLMv1
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  docs/user-guide/environment-setup.md
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

fix: disable OwnNamespace install mode
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

Address review feedback: fix import grouping and test doc numbering
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
Due: ci/prow/ci-job, ci/prow/images

Remove stripBMCCredentials defense-in-depth per review
  internal/service/provisioning/api/server.go
  internal/service/provisioning/api/server_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-24433: implement EUS-to-EUS upgrade support
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  internal/controllers/provisioningrequest_upgrade.go
  internal/controllers/provisioningrequest_upgrade_test.go
  internal/controllers/utils/conditions.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/upgrade.go
  internal/controllers/utils/upgrade_test.go
  test/fakeclient/fakeclient.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-25403: Add SECURITY.md for vulnerability disclosure
  SECURITY.md
Due: markdownlint, ci/prow/markdownlint

CNF-25403: Add SECURITY.md for vulnerability disclosure (#3247)
  SECURITY.md
Due: markdownlint, ci/prow/markdownlint

CNF-22692: support AllNamespaces install mode for OLMv1 (#3234)
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  docs/user-guide/environment-setup.md
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

chore: improve scorecard test output and fix sample status
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_location.yaml
  config/samples/v1alpha1_ocloudsite.yaml
  config/samples/v1alpha1_resourcepool.yaml
  hack/scorecard-summary.py
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-25670: Update proposal file paths and references to match current codebase
  docs/proposals/firmware-catalog.md
Due: markdownlint, ci/prow/markdownlint

CNF-25671: Add vendor field to FirmwareImage in firmware catalog proposal
  docs/proposals/firmware-catalog.md
Due: markdownlint, ci/prow/markdownlint

Move nodeGroupData presence checks into validateMergedNodeGroups
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_validation.go
Due: ci/prow/ci-job, ci/prow/images

[release-4.22] CNF-22692: support AllNamespaces install mode for OLMv1 (#3249)
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  docs/user-guide/environment-setup.md
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

CNF-25327: Remove no-hw-template code path to prevent BMC credential exposure (#3233)
  api/provisioning/v1alpha1/clustertemplate_types.go
  api/provisioning/v1alpha1/provisioningrequest_validation.go
  bundle/manifests/clcm.openshift.io_clustertemplates.yaml
  config/crd/bases/clcm.openshift.io_clustertemplates.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/kustomization.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-v4-Y-Z-1-no-hwtemplate.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-du/sno-ran-du-pg-v4-Y-Z-v1.yaml
  docs/user-guide/template-overview.md
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_clusterinstall_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_resourcecreation.go
  internal/controllers/provisioningrequest_resourcecreation_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/provision.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard
