Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/ci-job: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/images: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/scorecard: any of: ^bundle/

Add infrastructureResourceProvisioningStatus to provisioning api responses
  api/provisioning/v1alpha1/provisioningrequest_types.go
  api/provisioning/v1alpha1/provisioningrequest_types_test.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_provisioningrequests.yaml
  config/crd/bases/clcm.openshift.io_provisioningrequests.yaml
  internal/controllers/envtest/provisioningrequest_infrastatus_test.go
  internal/controllers/envtest/suite_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/service/provisioning/api/server.go
  internal/service/provisioning/api/server_test.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

Replace NodeAllocationRequestRef guard with isHardwareProvisionSkipped
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
Due: ci/prow/ci-job, ci/prow/images

Update coverage thresholds
  .coverage-thresholds.yaml
Due: ci/prow/ci-job, ci/prow/images

Align provisioning api with O-RAN R005-v11.00 spec
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
  internal/service/provisioning/api/server_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-22806: Add explicit PFS cipher suite configuration to TLS
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
Due: ci/prow/ci-job, ci/prow/images

Fix provisioningPhase (openapi) + map from crd values
  internal/service/provisioning/api/envtest/server_test.go
  internal/service/provisioning/api/generated/provisioning.generated.go
  internal/service/provisioning/api/openapi.yaml
  internal/service/provisioning/api/server.go
  internal/service/provisioning/api/server_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23104: simplify SetupMetal3Controllers to return error only
  internal/metal3-hwmgr/cmd/start_metal3_hwmgr.go
  internal/metal3-hwmgr/controller/metal3_setup.go
  internal/metal3-hwmgr/controller/metal3_setup_test.go
  test/e2e/e2e_suite_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23104: rename plugin terminology to hardware manager
  dev-tools/crd-watcher/watcher.go
  docs/troubleshooting.md
  docs/user-guide/cluster-configuration.md
  docs/user-guide/must-gather.md
  internal/constants/constants.go
  internal/controllers/inventory_controller.go
  internal/controllers/metal3_hwmgr_setup.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/metal3-hwmgr/cmd/start_metal3_hwmgr.go
  internal/metal3-hwmgr/controller/baremetalhost_manager.go
  internal/metal3-hwmgr/controller/helpers.go
  internal/metal3-hwmgr/controller/helpers_test.go
  internal/metal3-hwmgr/controller/metal3_allocatednode_controller.go
  internal/metal3-hwmgr/controller/metal3_allocatednode_controller_test.go
  internal/metal3-hwmgr/controller/metal3_hostfirmwarecomponents_controller.go
  internal/metal3-hwmgr/controller/metal3_nodeallocationrequest_controller.go
  internal/metal3-hwmgr/controller/metal3_setup.go
  internal/metal3-hwmgr/controller/metal3_setup_test.go
  internal/metal3-hwmgr/controller/suite_test.go
  internal/metal3-hwmgr/utils/allocated_node.go
  internal/metal3-hwmgr/utils/node_allocation_request_fsm.go
  main.go
  test/e2e/e2e_suite_test.go
  test/e2e/mno_hw_configuration_test.go
  test/e2e/sno_provisioning_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-23104: replace HardwareTemplate terminology
  api/hardwaremanagement/v1alpha1/conditions.go
  api/provisioning/v1alpha1/conditions.go
  docs/troubleshooting.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/environment-setup.md
  docs/user-guide/firmware-update-workflow.md
  docs/user-guide/gitops-layout-and-setup.md
  docs/user-guide/glossary.md
  docs/user-guide/ibi-based-cluster-provisioning.md
  docs/user-guide/server-onboarding.md
  hack/swagger-ui.sh
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/utils/provision.go
  internal/metal3-hwmgr/cmd/start_metal3_hwmgr.go
  internal/metal3-hwmgr/controller/baremetalhost_manager.go
  internal/metal3-hwmgr/controller/helpers.go
  internal/metal3-hwmgr/controller/helpers_test.go
  internal/metal3-hwmgr/controller/inventory.go
  internal/metal3-hwmgr/controller/metal3_allocatednode_controller.go
  internal/metal3-hwmgr/controller/metal3_allocatednode_controller_test.go
  internal/metal3-hwmgr/controller/metal3_hostfirmwarecomponents_controller.go
  internal/metal3-hwmgr/controller/metal3_nodeallocationrequest_controller.go
  internal/metal3-hwmgr/controller/metal3_setup_test.go
  internal/service/resources/collector/collector_hwplugin.go
  test/e2e/e2e_suite_test.go
  test/e2e/mno_hw_configuration_test.go
  test/e2e/sno_provisioning_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-23104: remove backward-compatible plugin constants
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/firmware-update-workflow.md
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/utils/logging.go
  internal/controllers/utils/logging_test.go
  internal/metal3-hwmgr/controller/helpers.go
  internal/metal3-hwmgr/utils/allocated_node.go
  internal/metal3-hwmgr/utils/allocated_node_test.go
  internal/metal3-hwmgr/utils/constants.go
  internal/service/resources/collector/collector_hwmgr.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-23104: flatten GenerationStatus into ObservedGeneration
  api/hardwaremanagement/v1alpha1/node_allocation_requests.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_nodeallocationrequests.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  internal/metal3-hwmgr/utils/node_allocation_request.go
  internal/metal3-hwmgr/utils/node_allocation_request_fsm.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-23104: replace plugin terminology with hardware manager
  api/hardwaremanagement/v1alpha1/conditions.go
  api/hardwaremanagement/v1alpha1/groupversion.go
  api/hardwaremanagement/v1alpha1/node_allocation_requests.go
  bundle/manifests/clcm.openshift.io_nodeallocationrequests.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  dev-tools/crd-watcher/main.go
  docs/dev/logging/README.md
  docs/dev/logging/logging-examples.md
  docs/troubleshooting.md
  docs/user-guide/cluster-configuration.md
  docs/user-guide/cluster-provisioning.md
  docs/user-guide/firmware-update-workflow.md
  docs/user-guide/glossary.md
  docs/user-guide/ibi-based-cluster-provisioning.md
  docs/user-guide/inventory-api.md
  docs/user-guide/must-gather.md
  docs/user-guide/template-overview.md
  internal/constants/constants.go
  internal/controllers/inventory_controller.go
  internal/controllers/metal3_hwmgr_setup.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_validation.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/logging.go
  internal/controllers/utils/utils.go
  internal/metal3-hwmgr/controller/metal3_allocatednode_controller.go
  internal/metal3-hwmgr/controller/metal3_nodeallocationrequest_controller.go
  internal/metal3-hwmgr/utils/allocated_node.go
  internal/metal3-hwmgr/utils/node_allocation_request.go
  internal/service/resources/collector/collector_hwmgr.go
  test/resources/mno_hw_configuration/ct-std-dell-r740-green-xr8620t-blue.yaml
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

CNF-23104: remove launch.json and clean up swagger-ui script
  .vscode/launch.json
  hack/swagger-ui.sh
Due: ci/prow/ci-job, ci/prow/images

CNF-23104: update NAR and AllocatedNode sample CRs
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_allocatednode.yaml
  config/samples/v1alpha1_nodeallocationrequest.yaml
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-23104: address CodeRabbit review findings
  .coverage-thresholds.yaml
  internal/controllers/provisioningrequest_controller.go
  internal/controllers/utils/utils_test.go
  internal/hardwaremanager/controller/setup.go
  internal/hardwaremanager/utils/allocated_node.go
  internal/hardwaremanager/utils/suite_test.go
  test/e2e/e2e_suite_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23104: clean up plugin references in code and tests
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/suite_test.go
  internal/metal3-hwmgr/cmd/start_metal3_hwmgr.go
  internal/metal3-hwmgr/controller/baremetalhost_manager.go
  internal/metal3-hwmgr/controller/baremetalhost_manager_test.go
  internal/metal3-hwmgr/controller/helpers.go
  internal/metal3-hwmgr/controller/helpers_test.go
  internal/metal3-hwmgr/controller/inventory_test.go
  internal/metal3-hwmgr/controller/metal3_allocatednode_controller_test.go
  internal/metal3-hwmgr/controller/metal3_nodeallocationrequest_controller_test.go
  internal/metal3-hwmgr/controller/suite_test.go
  internal/metal3-hwmgr/utils/allocated_node.go
  internal/service/resources/collector/collector_hwmgr.go
  internal/service/resources/collector/collector_hwmgr_test.go
  test/e2e/sno_provisioning_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23104: update DD-001 to reflect scaling concern
  AGENTS.md
  internal/controllers/provisioningrequest_hwprovision_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-23104: fix review findings from code review
  .tekton/o-cloud-manager-4-22-pull-request.yaml
  .tekton/o-cloud-manager-4-22-push.yaml
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/hardwaremanager/controller/allocatednode_controller_test.go
  internal/hardwaremanager/controller/baremetalhost_manager_test.go
  internal/hardwaremanager/controller/helpers_test.go
  internal/hardwaremanager/controller/setup_test.go
  test/e2e/sno_provisioning_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23104: address CodeRabbit re-review findings
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/samples/v1alpha1_allocatednode.yaml
  config/samples/v1alpha1_nodeallocationrequest.yaml
  docs/dev/logging/logging-examples.md
  docs/user-guide/server-onboarding.md
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/hardwaremanager/utils/allocated_node_test.go
  test/e2e/e2e_suite_test.go
Due: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

CNF-23651: Remove production-dead code with test-only usage
  .coverage-thresholds.yaml
  internal/cmd/server/flags.go
  internal/cmd/server/flags_test.go
  internal/cmd/server/server_suite_test.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/hardwaremanager/controller/baremetalhost_manager.go
  internal/hardwaremanager/controller/baremetalhost_manager_test.go
  internal/service/common/api/middleware/filtering.go
  internal/service/common/api/middleware/filtering_test.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_find_test.go
  internal/typed-errors/typed_errors.go
  internal/typed-errors/typed_errors_test.go
  test/utils/functions.go
  test/utils/utils.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23651: Remove dead code identified by golang.org/x/tools/cmd/deadcode
  internal/context.go
  internal/context_test.go
  internal/controllers/utils/conditions.go
  internal/controllers/utils/configmap.go
  internal/controllers/utils/hardware_utils.go
  internal/controllers/utils/logging.go
  internal/controllers/utils/provision.go
  internal/controllers/utils/secret.go
  internal/controllers/utils/utils.go
  internal/hardwaremanager/utils/node_allocation_request.go
  internal/hardwaremanager/utils/utils.go
  internal/logging/logger.go
  internal/logging/logging.go
  internal/logging/suite_test.go
  internal/service/common/utils/utils.go
  internal/streaming/stream.go
  internal/tool.go
  internal/typed-errors/typed_errors.go
Due: ci/prow/ci-job, ci/prow/images

Use MatchingFields for AllocatedNode lookups in PR controller
  AGENTS.md
  internal/controllers/helpers.go
  internal/controllers/provisioningrequest_setup.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/utils/allocated_node.go
  test/e2e/e2e_suite_test.go
  test/e2e/mno_hw_configuration_test.go
  test/e2e/sno_provisioning_test.go
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

feat: add alarm filtering options to crd-watcher
  dev-tools/crd-watcher/main.go
  dev-tools/crd-watcher/tui.go
  dev-tools/crd-watcher/watcher.go
Due: ci/prow/ci-job, ci/prow/images

feat: add alarm display to crd-watcher with --alarms flag
  dev-tools/crd-watcher/formatter.go
  dev-tools/crd-watcher/inventory.go
  dev-tools/crd-watcher/main.go
  dev-tools/crd-watcher/tui.go
  dev-tools/crd-watcher/watcher.go
Due: ci/prow/ci-job, ci/prow/images

fix: add alarm case to verifyResourceExists
  dev-tools/crd-watcher/watcher.go
Due: ci/prow/ci-job, ci/prow/images

CNF-23688: replace hardware inventory polling with K8s watches
  internal/hardwaremanager/controller/inventory.go
  internal/hardwaremanager/controller/inventory_test.go
  internal/hardwaremanager/utils/allocated_node.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_hwmgr.go
  internal/service/resources/collector/collector_hwmgr_test.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_test.go
  internal/service/resources/serve.go
Due: ci/prow/ci-job, ci/prow/images

fix: cache alarm dictionary map and tighten test regex
  internal/service/resources/collector/collector.go
  internal/service/resources/db/repo/repository_test.go
Due: ci/prow/ci-job, ci/prow/images

docs: update user guides to reflect watch-based collection
  docs/user-guide/inventory-api.md
  docs/user-guide/server-onboarding.md
Due: markdownlint, ci/prow/markdownlint

fix: address CodeRabbit review findings
  internal/hardwaremanager/controller/inventory.go
  internal/service/resources/collector/collector.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/repository_test.go
Due: ci/prow/ci-job, ci/prow/images

docs: add stale subscription handling and clarify Reflector memory
  docs/proposals/resource-collector-improvements.md
Due: markdownlint, ci/prow/markdownlint

docs: incorporate review feedback on resource collector proposal
  docs/proposals/resource-collector-improvements.md
Due: markdownlint, ci/prow/markdownlint

docs: address CodeRabbit review feedback on proposal
  docs/proposals/resource-collector-improvements.md
Due: markdownlint, ci/prow/markdownlint

docs: remove polling fallback references for consistency
  docs/proposals/resource-collector-improvements.md
Due: markdownlint, ci/prow/markdownlint

docs: specify periodic goroutine for TTL cleanup mechanism
  docs/proposals/resource-collector-improvements.md
Due: markdownlint, ci/prow/markdownlint

docs: add resource collector improvements proposal
  docs/proposals/resource-collector-improvements.md
Due: markdownlint, ci/prow/markdownlint

docs: note user guide updates needed for watch-based collection
  docs/proposals/resource-collector-improvements.md
Due: markdownlint, ci/prow/markdownlint

CNF-23712: Add structured logging for OpenAPI validation failures
  internal/service/common/api/middleware/middleware.go
  internal/service/common/api/middleware/middleware_test.go
Due: ci/prow/ci-job, ci/prow/images
