Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint, ci/prow/scorecard

Path conditions:
  scorecard: any of: ^bundle/
  markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/ci-job: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/images: unless all of: ^\.tekton/.*|^\.konflux/.*|^docs/|LICENSE|OWNERS|\.md$|^hack$
  ci/prow/markdownlint: any of: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/scorecard: any of: ^bundle/

CNF-24962: remove all nonResourceURL permissions from manager-role
  api/common/zz_generated.deepcopy.go
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-24957: enable TLS and safe DSN construction for PostgreSQL (#2913)
  .coverage-thresholds.yaml
  internal/service/common/db/migration.go
  internal/service/common/db/postgres.go
  internal/service/common/db/postgres_test.go
  internal/service/common/db/suite_test.go
Due: ci/prow/ci-job, ci/prow/images

ci: bump GitHub Actions to Node.js 24-compatible versions (#2893)
  .github/workflows/kustomize-validation.yml
Due: ci/prow/ci-job, ci/prow/images

CNF-24954: add govulncheck periodic scan and Makefile target (#2908)
  .github/workflows/govulncheck.yml
  Makefile
Due: ci/prow/ci-job, ci/prow/images

CNF-24947: remove image reference from inventory spec (#2909)
  api/inventory/v1alpha1/inventory_types.go
  api/inventory/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/ocloud.openshift.io_inventories.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/ocloud.openshift.io_inventories.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_test.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

CNF-24953: harden container security contexts across all deployments (#2914)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manager/manager.yaml
  internal/controllers/inventory_controller.go
  internal/controllers/inventory_controller_postgres.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

fix: prevent postgres crash-loop during rollout restart (#2915)
  internal/controllers/inventory_controller_postgres.go
  internal/service/postgres/files/init.sh
Due: ci/prow/ci-job, ci/prow/images

CNF-24962: remove nonResourceURL permissions from manager-role (#2916)
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

chore: add missing ocloud CRDs to must-gather and AGENTS.md
  AGENTS.md
  must-gather/gather
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

chore: add missing ocloud CRDs to must-gather and AGENTS.md (#2922)
  AGENTS.md
  must-gather/gather
Due: markdownlint, ci/prow/ci-job, ci/prow/images, ci/prow/markdownlint

CNF-25112: extract TLS and OAuth to internal/shared packages
  .coverage-thresholds.yaml
  internal/cmd/operator/start_controller_manager.go
  internal/controllers/envtest/tls_profile_watcher_test.go
  internal/controllers/inventory_controller.go
  internal/controllers/utils/constants.go
  internal/controllers/utils/utils.go
  internal/controllers/utils/utils_test.go
  internal/service/alarms/internal/alertmanager/api.go
  internal/service/alarms/internal/infrastructure/clusterserver.go
  internal/service/alarms/internal/infrastructure/resourceserver.go
  internal/service/alarms/serve.go
  internal/service/artifacts/serve.go
  internal/service/cluster/serve.go
  internal/service/common/auth/middleware.go
  internal/service/common/notifier/provider.go
  internal/service/common/utils/config.go
  internal/service/provisioning/serve.go
  internal/service/resources/serve.go
  internal/shared/oauth/oauth.go
  internal/shared/tls/suite_test.go
  internal/shared/tls/tls.go
  internal/shared/tls/tls_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-24954: fix govulncheck JSON parsing and symbol-level filtering
  .github/workflows/govulncheck.yml
Due: ci/prow/ci-job, ci/prow/images

address CodeRabbit: separate stderr, guard empty module
  .github/workflows/govulncheck.yml
Due: ci/prow/ci-job, ci/prow/images

chore: ignore managed-serviceaccount >= 0.10.0 in dependabot
  .github/dependabot.yml
Due: ci/prow/ci-job, ci/prow/images

chore: ignore managed-serviceaccount >= 0.10.0 in dependabot (#2926)
  .github/dependabot.yml
Due: ci/prow/ci-job, ci/prow/images

CNF-24954: fix govulncheck JSON parsing and symbol-level filtering (#2925)
  .github/workflows/govulncheck.yml
Due: ci/prow/ci-job, ci/prow/images

chore(deps): update golang.org/x/net to v0.55.0
  go.mod
  go.sum
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/render.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/server_common.go
  vendor/golang.org/x/net/http2/server_wrap.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/transport_common.go
  vendor/golang.org/x/net/http2/writesched_common.go
  vendor/golang.org/x/net/http2/writesched_priority_rfc7540.go
  vendor/modules.txt
Due: ci/prow/ci-job, ci/prow/images

CNF-24954: skip govulncheck workflow on forks
  .github/workflows/govulncheck.yml
Due: ci/prow/ci-job, ci/prow/images

CNF-24954: skip govulncheck workflow on forks (#2952)
  .github/workflows/govulncheck.yml
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-87974: fix non-hardware PR spec changes causing NAR configTransactionId mismatch
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/utils/node_allocation_request.go
  internal/hardwaremanager/utils/node_allocation_request_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25153: reject empty cnf.x5t#S256 fingerprint in RFC8705 token binding
  internal/service/common/auth/auth_rfc8705.go
  internal/service/common/auth/auth_rfc8705_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25081: remove BMC management address from Info-level log
  internal/hardwaremanager/controller/helpers.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25153: reject empty cnf.x5t#S256 fingerprint in RFC8705 token binding (#2892)
  internal/service/common/auth/auth_rfc8705.go
  internal/service/common/auth/auth_rfc8705_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25081: remove BMC management address from Info-level log (#2852)
  internal/hardwaremanager/controller/helpers.go
Due: ci/prow/ci-job, ci/prow/images

chore(deps): update golang.org/x/net to v0.55.0 (#2937)
  go.mod
  go.sum
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/render.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/server_common.go
  vendor/golang.org/x/net/http2/server_wrap.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/transport_common.go
  vendor/golang.org/x/net/http2/writesched_common.go
  vendor/golang.org/x/net/http2/writesched_priority_rfc7540.go
  vendor/modules.txt
Due: ci/prow/ci-job, ci/prow/images

simplify-fbc-pipeline: remove run-opm-pre-actions and use tags for released bundles
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
  .tekton/fbc-pipeline.yaml
Due: none

OCPBUGS-91953: support digest-referenced ClusterImageSets in validation
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-91953: support digest-referenced ClusterImageSets in validation (#2973)
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-22746: use metav1.Duration instead of string for timeouts
  api/hardwaremanagement/v1alpha1/node_allocation_requests.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  api/provisioning/v1alpha1/clustertemplate_types.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_clustertemplates.yaml
  bundle/manifests/clcm.openshift.io_nodeallocationrequests.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_clustertemplates.yaml
  config/crd/bases/clcm.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller_test.go
  test/e2e/sno_provisioning_test.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

validate non-positive timeout during NAR spec build
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
Due: ci/prow/ci-job, ci/prow/images

chore: ignore oran-o2ims-operator updates in renovate
  renovate.json
Due: ci/prow/ci-job, ci/prow/images

chore: ignore oran-o2ims-operator updates in renovate (#2984)
  renovate.json
Due: ci/prow/ci-job, ci/prow/images

CNF-25294: Use additionalProperties: {} on all extensions, capabilities, and capacity fields
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/internal/alertmanager/converter.go
  internal/service/alarms/internal/db/models/alarm_event_record.go
  internal/service/alarms/internal/db/models/alarm_service_configuration.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/artifacts/api/server.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/cluster/api/openapi.yaml
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/db/models/converters.go
  internal/service/resources/db/models/deployment_manager.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25301: Fix additionalProperties schema validation in SchemaValidator
  internal/service/common/api/middleware/schema_validator.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25302: Add regression tests for schema-based additionalProperties validation
  internal/service/common/api/middleware/filtering_test.go
  internal/service/common/api/middleware/schema_validator_test.go
Due: ci/prow/ci-job, ci/prow/images

CNF-25294: Fix monitoring API filtering for schema-form additionalProperties (#2969)
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/internal/alertmanager/converter.go
  internal/service/alarms/internal/db/models/alarm_event_record.go
  internal/service/alarms/internal/db/models/alarm_service_configuration.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/resourceserver/generated/client.gen.go
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/artifacts/api/server.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/cluster/api/openapi.yaml
  internal/service/common/api/middleware/filtering_test.go
  internal/service/common/api/middleware/schema_validator.go
  internal/service/common/api/middleware/schema_validator_test.go
  internal/service/resources/api/generated/inventory.generated.go
  internal/service/resources/api/openapi.yaml
  internal/service/resources/collector/collector_k8s.go
  internal/service/resources/db/models/converters.go
  internal/service/resources/db/models/deployment_manager.go
Due: ci/prow/ci-job, ci/prow/images

CNF-22746: use metav1.Duration instead of string for timeouts (#2976)
  api/hardwaremanagement/v1alpha1/node_allocation_requests.go
  api/hardwaremanagement/v1alpha1/zz_generated.deepcopy.go
  api/provisioning/v1alpha1/clustertemplate_types.go
  api/provisioning/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/clcm.openshift.io_clustertemplates.yaml
  bundle/manifests/clcm.openshift.io_nodeallocationrequests.yaml
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/crd/bases/clcm.openshift.io_clustertemplates.yaml
  config/crd/bases/clcm.openshift.io_nodeallocationrequests.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
  internal/controllers/clustertemplate_controller.go
  internal/controllers/clustertemplate_controller_test.go
  internal/controllers/provisioningrequest_clusterconfig_test.go
  internal/controllers/provisioningrequest_controller_test.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
  internal/controllers/provisioningrequest_validation.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller.go
  internal/hardwaremanager/controller/nodeallocationrequest_controller_test.go
  test/e2e/sno_provisioning_test.go
Due: scorecard, ci/prow/ci-job, ci/prow/images, ci/prow/scorecard

OCPBUGS-92057: fix non-deterministic node-to-host assignment in applyNodeConfiguration
  internal/controllers/helpers.go
  internal/controllers/helpers_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
Due: ci/prow/ci-job, ci/prow/images

OCPBUGS-92057: fix non-deterministic node-to-host assignment in applyNodeConfiguration (#2993)
  internal/controllers/helpers.go
  internal/controllers/helpers_test.go
  internal/controllers/provisioningrequest_clusterinstall.go
  internal/controllers/provisioningrequest_hwprovision.go
  internal/controllers/provisioningrequest_hwprovision_test.go
Due: ci/prow/ci-job, ci/prow/images
