Repository openshift-kni/oran-o2ims: changes, and which Prow jobs are due for each by the changed paths.
All: scorecard, markdownlint

ci-operator/config/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-main.yaml:

base_images:
  cli-operator-sdk:
    name: cli-operator-sdk
    namespace: ocp
    tag: v1.31.0
  ubi-min9:
    name: ubi-minimal
    namespace: ocp
    tag: "9"
binary_build_commands: make binary
build_root:
  project_image:
    dockerfile_path: Dockerfile.tools
images:
- dockerfile_path: Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator
- dockerfile_path: bundle.Dockerfile
  from: ubi-min9
  to: oran-o2ims-operator-bundle
operator:
  bundles:
  - as: operator-bundle
    dockerfile_path: bundle.Dockerfile
    skip_building_index: true
  substitutions:
  - pullspec: quay.io/openshift-kni/oran-o2ims-operator:.*
    with: pipeline:oran-o2ims-operator
promotion:
  to:
  - name: "4.16"
    namespace: ocp-kni
releases:
  initial:
    integration:
      name: "4.16"
      namespace: ocp
  latest:
    integration:
      include_built_images: true
      name: "4.16"
      namespace: ocp
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  ./hack/install-markdownlint.sh
tests:
- as: ci-job
  commands: make ci-job
  container:
    from: src
- as: scorecard
  run_if_changed: ^bundle/
  steps:
    allow_best_effort_post_steps: true
    cluster_profile: aws-telco
    dependencies:
      OO_BUNDLE: oran-o2ims-operator-bundle
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_INSTALL_MODE: OwnNamespace
      OO_INSTALL_NAMESPACE: oran-o2ims
      USER_TAGS: |
        ci-job-source prowci
        ci-job-branch main
        ci-job-fullname openshift-kni-scorecard-oran-o2ims-main
        ci-job-type optional-operators-ci-aws
        ci-repo-name oran-o2ims
        ci-org-name openshift-kni
    test:
    - as: scorecard-test
      cli: latest
      commands: make scorecard-test
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: optional-operators-ci-operator-sdk-aws
- always_run: false
  as: markdownlint
  commands: |
    hack/markdownlint.sh
  container:
    from: test-bin
  run_if_changed: (?i)(\.md|\.markdown|^hack/.*markdown.*|^.markdown.*)$
zz_generated_metadata:
  branch: main
  org: openshift-kni
  repo: oran-o2ims

CNF-15570: Enforce required fields in field filtering
  internal/service/alarms/serve.go
  internal/service/common/api/filtering.go
  internal/service/resources/serve.go
Due: none

Update k8s.io/client-go to v0.31.4
  go.mod
  go.sum
  vendor/modules.txt
Due: none

Update github.com/go-openapi/strfmt to v0.23.0
  go.mod
  go.sum
  vendor/github.com/asaskevich/govalidator/validator.go
  vendor/github.com/go-openapi/errors/.golangci.yml
  vendor/github.com/go-openapi/errors/README.md
  vendor/github.com/go-openapi/errors/api.go
  vendor/github.com/go-openapi/errors/schema.go
  vendor/github.com/go-openapi/strfmt/.golangci.yml
  vendor/github.com/go-openapi/strfmt/README.md
  vendor/github.com/go-openapi/strfmt/bson.go
  vendor/github.com/go-openapi/strfmt/date.go
  vendor/github.com/go-openapi/strfmt/default.go
  vendor/github.com/go-openapi/strfmt/format.go
  vendor/github.com/go-openapi/strfmt/time.go
  vendor/github.com/go-openapi/strfmt/ulid.go
  vendor/modules.txt
Due: markdownlint

Update dependabot to ignore prometheus-operator updates for now
  .github/dependabot.yml
Due: none

Update dependabot to ignore prometheus-operator updates for now (#413)
  .github/dependabot.yml
Due: none

CNF-15570: Address PR comments
  internal/service/common/notifier/event.go
  internal/service/common/notifier/notifier.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/resources/api/server.go
  internal/service/resources/collector/collector_acm.go
Due: none

CNF-15570: Set RBAC rules for test client
  config/testing/client-service-account-rbac.yaml
Due: none

CNF-15570: Add notification support (#407)
  internal/service/common/notifier/event.go
  internal/service/common/notifier/notifier.go
  internal/service/common/notifier/notifier_worker.go
  internal/service/resources/api/server.go
  internal/service/resources/collector/collector.go
  internal/service/resources/collector/collector_acm.go
  internal/service/resources/db/migrations/000001_baseline.up.sql
  internal/service/resources/db/models/converters.go
  internal/service/resources/db/models/data_change_event.go
  internal/service/resources/db/models/subscription.go
  internal/service/resources/db/repo/notifications.go
  internal/service/resources/db/repo/repository.go
  internal/service/resources/db/repo/subscriptions.go
  internal/service/resources/serve.go
  internal/service/resources/utils/constants.go
Due: none

CNF-15570: Set 404 handler
  internal/service/alarms/serve.go
  internal/service/common/api/middleware.go
  internal/service/resources/serve.go
Due: none

CNF-15570: Set 404 handler (#415)
  internal/service/alarms/serve.go
  internal/service/common/api/middleware.go
  internal/service/resources/serve.go
Due: none

CNF-15570: Set RBAC rules for test client (#416)
  config/testing/client-service-account-rbac.yaml
Due: none

implement alartmanager endpoint receive and update db (no subscriber notification)
  internal/service/alarms/internal/alarms_server.go
  internal/service/alarms/internal/alertmanager/alertmanager.go
  internal/service/alarms/internal/alertmanager/alertmanager.yaml.template
  internal/service/alarms/internal/db/migrations/000003_create_alarm_event_record_table.up.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_event_record_archive_table.up.sql
  internal/service/alarms/internal/db/models/alarm_event_record.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
Due: none

clean up after rebase
  internal/service/alarms/internal/alarms_server.go
  internal/service/alarms/internal/db/models/converters.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
Due: none

CNF-15750: Add field and record filtering to new API servers (#390)
  internal/service/alarms/serve.go
  internal/service/common/api/filtering.go
  internal/service/resources/serve.go
Due: none

CNF-15663: Full DU profile example
  docs/cluster-configuration.md
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/kustomization.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/clusterinstance-defaults-full-du-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/ns.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/policytemplates-defaults-full-du-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/pull-secret.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/sno-ran-full-du-v4-Y-Z-1.yaml
  docs/samples/git-setup/policytemplates/common/copy-acm-route-observability-v1.yaml
  docs/samples/git-setup/policytemplates/common/msc-binding-observability.yaml
  docs/samples/git-setup/policytemplates/common/source-cr-observability.yaml
  docs/samples/git-setup/policytemplates/kustomization.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/kustomization.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-full-du/msc-binding.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-full-du/ns.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-full-du/sno-ran-full-du-pg-v4-Y-Z-v1.yaml
Due: markdownlint

Code generation for ClusterTemplate REST API
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/artifacts/api/tools/generate.go
  internal/service/artifacts/api/tools/oapi-codegen.yaml
Due: none

Implement List and Patch for Alarm Event Record
  config/testing/client-service-account-rbac.yaml
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/internal/alarms_server.go
  internal/service/alarms/internal/db/migrations/000002_create_alarm_definition_table.up.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_event_record_table.up.sql
  internal/service/alarms/internal/db/repo/alarms_repository.go
Due: none

Implement List and Patch for Alarm Event Record (#414)
  config/testing/client-service-account-rbac.yaml
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/internal/alarms_server.go
  internal/service/alarms/internal/db/migrations/000002_create_alarm_definition_table.up.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_event_record_table.up.sql
  internal/service/alarms/internal/db/repo/alarms_repository.go
Due: none

Code generation for ClusterTemplate REST API (#417)
  internal/service/artifacts/api/generated/artifacts.generated.go
  internal/service/artifacts/api/openapi.yaml
  internal/service/artifacts/api/tools/generate.go
  internal/service/artifacts/api/tools/oapi-codegen.yaml
Due: none

CNF-15570: Fix issues with notifier
  internal/service/common/notifier/notifier.go
  internal/service/common/notifier/notifier_worker.go
Due: none

Implement Alarm Service Configuration endpoints
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/internal/alarms_server.go
  internal/service/alarms/internal/db/migrations/000006_create_alarm_service_configuration_table.down.sql
  internal/service/alarms/internal/db/migrations/000006_create_alarm_service_configuration_table.up.sql
  internal/service/alarms/internal/db/models/alarm_service_configuration.go
  internal/service/alarms/internal/db/models/converters.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/serve.go
Due: none

CNF-16217: Address PR comments
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/service/cluster/api/generated/cluster.generated.go
  internal/service/cluster/api/openapi.yaml
  internal/service/cluster/collector/collector_acm.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/cluster/collector/utils.go
  internal/service/cluster/db/models/cluster_resource.go
  internal/service/cluster/db/models/cluster_resource_type.go
  internal/service/cluster/db/models/converters.go
  internal/service/cluster/db/models/node_cluster.go
  internal/service/cluster/db/models/node_cluster_type.go
  internal/service/cluster/serve.go
  internal/service/common/clients/k8s/k8s.go
Due: scorecard

CNF-15663: Full DU profile example (#313)
  docs/cluster-configuration.md
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/kustomization.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/clusterinstance-defaults-full-du-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/ns.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/policytemplates-defaults-full-du-v1.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/pull-secret.yaml
  docs/samples/git-setup/clustertemplates/version_4.Y.Z/sno-ran-full-du/sno-ran-full-du-v4-Y-Z-1.yaml
  docs/samples/git-setup/policytemplates/common/copy-acm-route-observability-v1.yaml
  docs/samples/git-setup/policytemplates/common/msc-binding-observability.yaml
  docs/samples/git-setup/policytemplates/common/source-cr-observability.yaml
  docs/samples/git-setup/policytemplates/kustomization.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/kustomization.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-full-du/msc-binding.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-full-du/ns.yaml
  docs/samples/git-setup/policytemplates/version_4.Y.Z/sno-ran-full-du/sno-ran-full-du-pg-v4-Y-Z-v1.yaml
Due: markdownlint

CNF-15570: Fix issues with notifier (#419)
  internal/service/common/notifier/notifier.go
  internal/service/common/notifier/notifier_worker.go
Due: none

CNF-16217: Add extensions to NodeClusterType
  internal/controllers/utils/constants.go
  internal/service/cluster/collector/collector_k8s.go
Due: none

CNF-16217: Add extensions to NodeClusterType (#422)
  internal/controllers/utils/constants.go
  internal/service/cluster/collector/collector_k8s.go
Due: none

Integrate new Cluster server
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/service/alarms/internal/alarms_server.go
  internal/service/alarms/internal/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/clusterserver/generated/generate.go
  internal/service/alarms/internal/clusterserver/generated/oapi-codegen.yaml
  internal/service/alarms/internal/clusterserver/resourceserver.go
  internal/service/alarms/internal/db/migrations/000001_create_alarm_dictionary_table.up.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_definition_table.down.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_definition_table.up.sql
  internal/service/alarms/internal/db/models/alarm_definition.go
  internal/service/alarms/internal/db/models/alarm_dictionary.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/dictionary/dictionary.go
  internal/service/alarms/internal/dictionary/dictionary_test.go
  internal/service/alarms/internal/resourceserver/generated/generate.go
  internal/service/alarms/internal/resourceserver/resourceserver.go
  internal/service/alarms/serve.go
Due: scorecard

Implement Alarm Service Configuration endpoints
  config/testing/client-service-account-rbac.yaml
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/internal/alarms_server.go
  internal/service/alarms/internal/db/migrations/000006_create_alarm_service_configuration_table.down.sql
  internal/service/alarms/internal/db/migrations/000006_create_alarm_service_configuration_table.up.sql
  internal/service/alarms/internal/db/models/alarm_service_configuration.go
  internal/service/alarms/internal/db/models/converters.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/serve.go
Due: none

Integrate new Cluster server (#424)
  Makefile
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controllers/inventory_controller.go
  internal/service/alarms/internal/alarms_server.go
  internal/service/alarms/internal/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/clusterserver/generated/generate.go
  internal/service/alarms/internal/clusterserver/generated/oapi-codegen.yaml
  internal/service/alarms/internal/clusterserver/resourceserver.go
  internal/service/alarms/internal/db/migrations/000001_create_alarm_dictionary_table.up.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_definition_table.down.sql
  internal/service/alarms/internal/db/migrations/000002_create_alarm_definition_table.up.sql
  internal/service/alarms/internal/db/models/alarm_definition.go
  internal/service/alarms/internal/db/models/alarm_dictionary.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/dictionary/dictionary.go
  internal/service/alarms/internal/dictionary/dictionary_test.go
  internal/service/alarms/internal/resourceserver/generated/generate.go
  internal/service/alarms/internal/resourceserver/resourceserver.go
  internal/service/alarms/serve.go
Due: scorecard

Implement sync mechanism for alarms collection
  internal/service/alarms/internal/alarms_server.go
  internal/service/alarms/internal/alertmanager/alertmanager.go
  internal/service/alarms/internal/alertmanager/alertmanager_test.go
  internal/service/alarms/internal/clusterserver/generated/generate.go
  internal/service/alarms/internal/dictionary/cluster.go
  internal/service/alarms/internal/dictionary/dictionary.go
  internal/service/alarms/internal/dictionary/dictionary_test.go
  internal/service/alarms/internal/infrastructure/clusterserver/clusterserver.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/client.gen.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/generate.go
  internal/service/alarms/internal/infrastructure/clusterserver/generated/oapi-codegen.yaml
  internal/service/alarms/internal/infrastructure/infrastructure.go
  internal/service/alarms/serve.go
Due: none

Implement Alarm Service Configuration endpoints (#420)
  config/testing/client-service-account-rbac.yaml
  internal/service/alarms/api/generated/alarms.generated.go
  internal/service/alarms/api/openapi.yaml
  internal/service/alarms/internal/alarms_server.go
  internal/service/alarms/internal/db/migrations/000006_create_alarm_service_configuration_table.down.sql
  internal/service/alarms/internal/db/migrations/000006_create_alarm_service_configuration_table.up.sql
  internal/service/alarms/internal/db/models/alarm_service_configuration.go
  internal/service/alarms/internal/db/models/converters.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/serve.go
Due: none

implement alartmanager endpoint receive and update db (no subscriber notification)
  Makefile
  go.mod
  internal/controllers/utils/constants.go
  internal/service/alarms/api/server.go
  internal/service/alarms/cmd/serve.go
  internal/service/alarms/internal/alertmanager/alertmanager.go
  internal/service/alarms/internal/alertmanager/alertmanager.yaml.template
  internal/service/alarms/internal/clusterserver/clusterserver.go
  internal/service/alarms/internal/db/migrations/000003_create_alarm_event_record_table.down.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_event_record_table.up.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_event_record_archive_table.down.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_event_record_archive_table.up.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_subscription_info_table.down.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_subscription_info_table.up.sql
  internal/service/alarms/internal/db/migrations/000005_create_alarm_service_configuration_table.down.sql
  internal/service/alarms/internal/db/migrations/000005_create_alarm_service_configuration_table.up.sql
  internal/service/alarms/internal/db/models/alarm_event_record.go
  internal/service/alarms/internal/db/models/converters.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/dictionary/dictionary.go
  internal/service/alarms/internal/dictionary_definition/dictionary_definition.go
  internal/service/alarms/internal/dictionary_definition/dictionary_definition_test.go
  internal/service/alarms/internal/dictionary_definition/suite_test.go
  internal/service/alarms/serve.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/common/utils/repository.go
  internal/service/common/utils/utils.go
Due: none

implement alartmanager endpoint receive and update db (no subscriber notification) (#355)
  Makefile
  go.mod
  internal/controllers/utils/constants.go
  internal/service/alarms/api/server.go
  internal/service/alarms/cmd/serve.go
  internal/service/alarms/internal/alertmanager/alertmanager.go
  internal/service/alarms/internal/alertmanager/alertmanager.yaml.template
  internal/service/alarms/internal/clusterserver/clusterserver.go
  internal/service/alarms/internal/db/migrations/000003_create_alarm_event_record_table.down.sql
  internal/service/alarms/internal/db/migrations/000003_create_alarm_event_record_table.up.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_event_record_archive_table.down.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_event_record_archive_table.up.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_subscription_info_table.down.sql
  internal/service/alarms/internal/db/migrations/000004_create_alarm_subscription_info_table.up.sql
  internal/service/alarms/internal/db/migrations/000005_create_alarm_service_configuration_table.down.sql
  internal/service/alarms/internal/db/migrations/000005_create_alarm_service_configuration_table.up.sql
  internal/service/alarms/internal/db/models/alarm_event_record.go
  internal/service/alarms/internal/db/models/converters.go
  internal/service/alarms/internal/db/repo/alarms_repository.go
  internal/service/alarms/internal/dictionary/dictionary.go
  internal/service/alarms/internal/dictionary_definition/dictionary_definition.go
  internal/service/alarms/internal/dictionary_definition/dictionary_definition_test.go
  internal/service/alarms/internal/dictionary_definition/suite_test.go
  internal/service/alarms/serve.go
  internal/service/cluster/collector/collector_k8s.go
  internal/service/common/utils/repository.go
  internal/service/common/utils/utils.go
Due: none

WIP
  bundle/manifests/oran-o2ims.clusterserviceversion.yaml
  config/manifests/bases/oran-o2ims.clusterserviceversion.yaml
Due: scorecard

add a default build platform for regular build command
  Makefile
Due: none
