Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Doc: cronjob from batch v1 instead of v1beta1
  docs/clusterpools.md
Due: none

Split version funcs out of bundle-gen
  hack/bundle-gen.py
  hack/version.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Build with proper version tag
  Makefile
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update requirements.txt with PyYAML
  hack/requirements.txt
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Vendoring from using machine api alibaba cloud provider
  go.mod
  vendor/github.com/openshift/api/machine/v1/0000_10_awsplacementgroup.crd.yaml
  vendor/github.com/openshift/api/machine/v1/common.go
  vendor/github.com/openshift/api/machine/v1/doc.go
  vendor/github.com/openshift/api/machine/v1/register.go
  vendor/github.com/openshift/api/machine/v1/types.go
  vendor/github.com/openshift/api/machine/v1/types_alibabaprovider.go
  vendor/github.com/openshift/api/machine/v1/types_awsplacementgroup.go
  vendor/github.com/openshift/api/machine/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machine/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/installer/pkg/asset/machines/alibabacloud/machines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/alibabacloud/machinesets.go
  vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add support for alibaba cloud machinepool
  pkg/alibabaclient/client.go
  pkg/alibabaclient/mock/client_generated.go
  pkg/controller/machinepool/alibabacloudactuator.go
  pkg/controller/machinepool/alibabacloudactuator_test.go
  pkg/controller/machinepool/machinepool_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Metrics for currently transitioning clusters
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/metrics/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add provision to make metrics optional
  apis/hive/v1/hiveconfig_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Run version.py under python3 explicitly
  Makefile
  hack/version.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add MultipleRoute53ZoneFound to install log configmap
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Make transition metrics optional
  apis/hive/v1/hiveconfig_types.go
  apis/hive/v1/metricsconfig/doc.go
  apis/hive/v1/metricsconfig/durationMetrics.go
  apis/hive/v1/metricsconfig/metricsConfig.go
  apis/hive/v1/metricsconfig/zz_generated.deepcopy.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  hack/update-codegen.sh
  pkg/constants/constants.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/metrics/metrics.go
  pkg/operator/hive/configmap.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/metricsconfig/doc.go
  vendor/github.com/openshift/hive/apis/hive/v1/metricsconfig/durationMetrics.go
  vendor/github.com/openshift/hive/apis/hive/v1/metricsconfig/metricsConfig.go
  vendor/github.com/openshift/hive/apis/hive/v1/metricsconfig/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Metrics should allow for no conditions set
  pkg/controller/metrics/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix condition initialization
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterrelocate/clusterrelocate_controller.go
  pkg/controller/controlplanecerts/controlplanecerts_controller.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/remoteingress/remoteingress_controller.go
  pkg/controller/unreachable/unreachable_controller.go
  pkg/controller/utils/conditions.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix condition initialization for other controllers
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/utils/conditions.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/util/conditions.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix spacing
  pkg/controller/clusterprovision/installlogmonitor_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

machinepool: remove finalizer for fake CD
  pkg/controller/machinepool/machinepool_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update hive install time metrics buckets
  pkg/controller/clusterdeployment/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Rename & comment dnsendpoint/nameserverscraper vars/funcs
  pkg/controller/dnsendpoint/dnsendpoint_controller.go
  pkg/controller/dnsendpoint/dnsendpoint_controller_test.go
  pkg/controller/dnsendpoint/nameserver/aws.go
  pkg/controller/dnsendpoint/nameserver/aws_live_test.go
  pkg/controller/dnsendpoint/nameserver/azure.go
  pkg/controller/dnsendpoint/nameserver/azure_live_test.go
  pkg/controller/dnsendpoint/nameserver/gcp.go
  pkg/controller/dnsendpoint/nameserver/gcp_live_test.go
  pkg/controller/dnsendpoint/nameserver/mock/query_generated.go
  pkg/controller/dnsendpoint/nameserver/query.go
  pkg/controller/dnsendpoint/nameserverscraper.go
  pkg/controller/dnsendpoint/nameserverscraper_test.go
  pkg/controller/dnszone/dnszone_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

cd controller test: NewFakeClient => NewClientBuilder
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Make DNSNotReadyTimedout terminal
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add hibernation support for alibaba cloud
  pkg/alibabaclient/client.go
  pkg/alibabaclient/mock/client_generated.go
  pkg/controller/hibernation/alibabacloud_actuator.go
  pkg/controller/hibernation/alibabacloud_actuator_test.go
  pkg/test/clusterdeployment/clusterdeployment.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Pass field logger around dnszone controller
  pkg/controller/dnszone/dnszone_controller.go
  pkg/controller/dnszone/dnszone_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Minor changes for transitioning metrics
  pkg/constants/constants.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/metrics/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix default credentials path for alibaba used by hiveutil
  contrib/pkg/createcluster/create.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Further filter ODF security group filter by VPC ID
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/awsactuator_test.go
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Order describe subnets calls using gomock.InOrder instead of call.After.
  pkg/controller/machinepool/awsactuator_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Include subnetID in unexpected DescribeSubnets output error message.
  pkg/controller/machinepool/awsactuator.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add documentation for Alibaba cloud
  README.md
  docs/hiveutil.md
  docs/using-hive.md
Due: none

Add replica ordinal to clustersync status
  apis/hiveinternal/v1alpha1/clustersync_types.go
  config/crds/hiveinternal.openshift.io_clustersyncs.yaml
  docs/syncset.md
  hack/app-sre/saas-template.yaml
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/clustersync/clustersync_controller_test.go
  vendor/github.com/openshift/hive/apis/hiveinternal/v1alpha1/clustersync_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Sync openshift/api vendor in api submodule with hive vendoring.
  apis/go.mod
  apis/go.sum
  go.sum
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Regenerate CRDs
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_selectorsyncidentityproviders.yaml
  config/crds/hive.openshift.io_syncidentityproviders.yaml
  hack/app-sre/saas-template.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Robustify e2e a bit
  hack/e2e-common.sh
  hack/e2e-pool-test.sh
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Decode VSphereMachineProviderSpec via openshift/machine-api-operator's ProviderSpecFromRawExension.
  pkg/controller/remotemachineset/vsphereactuator.go
  pkg/controller/remotemachineset/vsphereactuator_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add openshift/machine-api-operator to vendor.
  go.mod
  go.sum
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

move to centos:stream base container
  Dockerfile
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Hack: explicitly time out e2e tests
  hack/e2e-common.sh
  hack/e2e-pool-test.sh
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e: Save hive pod descriptions
  hack/e2e-common.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

certificates.k8s.io/v1beta1 API deprecated in Kubernetes v1.19 and removed before v1.22
  hack/hiveadmission-dev-cert.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
