Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

fix rebase
  go.sum
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e:random name for the new cluster
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e: customize REAL POOL after creation of FAKE POOL
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix indentation and fail Reserve if not changed
  hack/requirements.txt
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/collections.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add support for ovirt and vshpere
  pkg/clusterresource/ovirt.go
  pkg/clusterresource/vsphere.go
  pkg/controller/clusterpool/clusterpool_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Unique finalizer per clusterpool
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/collections.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove hibernation change, update roles, fix cdc deletion process and fix vsphere
  config/rbac/hive_admin_role.yaml
  config/rbac/hive_reader_role.yaml
  pkg/clusterresource/vsphere.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/collections.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove unsupported hibernation check and fix rebase
  go.mod
  pkg/controller/clusterpool/clusterpool_controller.go
  vendor/github.com/krishicks/yaml-patch/README.md
  vendor/github.com/krishicks/yaml-patch/container.go
  vendor/github.com/krishicks/yaml-patch/node.go
  vendor/github.com/krishicks/yaml-patch/operation.go
  vendor/github.com/krishicks/yaml-patch/patch.go
  vendor/github.com/krishicks/yaml-patch/pathfinder.go
  vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix finalizer name
  pkg/controller/clusterpool/collections.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix finalizer process
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/collections.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hive-operator: Ignore "no such CRD" errors with monitoring disabled
  pkg/operator/hive/hive.go
  pkg/operator/util/apply.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add hack/create-service-account-secrets.sh script to create service account secrets.
  docs/developing.md
  hack/create-service-account-secrets.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert hiveutil's default AWS volumeType to gp2.
  pkg/clusterresource/aws.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Minor cleanup in a test
  apis/hive/v1/clusterdeployment_types.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Make ProvisionStopped terminal (f'real this time)
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterprovisions.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix tests
  pkg/controller/clusterpool/clusterpool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

bundle-gen: Fix passing missing image_tag argument to open_pr().
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix verify
  apis/go.mod
  apis/go.sum
  apis/vendor/github.com/openshift/custom-resource-status/conditions/v1/conditions.go
  apis/vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Enable BalanceSimilarNodeGroups by default for the default cluster autoscaler unless previously disabled.
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: Unhackify deployment settle check
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix clearing of CS Failing metric
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/metrics/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

installmanager.go: Apply lint roller
  pkg/installmanager/installmanager.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add controller log tagging for aggregation
  pkg/constants/constants.go
  pkg/controller/argocdregister/argocdregister_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/clusterrelocate/clusterrelocate_controller.go
  pkg/controller/clusterstate/clusterstate_controller.go
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/clusterversion/clusterversion_controller.go
  pkg/controller/controlplanecerts/controlplanecerts_controller.go
  pkg/controller/dnsendpoint/dnsendpoint_controller.go
  pkg/controller/dnszone/dnszone_controller.go
  pkg/controller/fakeclusterinstall/fakeclusterinstall_controller.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/remoteingress/remoteingress_controller.go
  pkg/controller/syncidentityprovider/syncidentityprovider_controller.go
  pkg/controller/unreachable/unreachable_controller.go
  pkg/controller/utils/logtagger.go
  pkg/installmanager/dnscleanup.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Refactor: Include ClusterProvision in InstallManager
  pkg/installmanager/fake.go
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Plumb additional log fields into installer
  pkg/controller/utils/logtagger.go
  pkg/installmanager/installmanager.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

DRY hiveutil logger setup
  contrib/pkg/deprovision/alibabacloud.go
  contrib/pkg/deprovision/awstagdeprovision.go
  contrib/pkg/deprovision/azure.go
  contrib/pkg/deprovision/gcp.go
  contrib/pkg/deprovision/ibmcloud.go
  contrib/pkg/deprovision/openstack.go
  contrib/pkg/deprovision/ovirt.go
  contrib/pkg/deprovision/vsphere.go
  contrib/pkg/utils/generic.go
  pkg/imageset/updateinstaller.go
  pkg/installmanager/installmanager.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hiveutil: supply/consume additional log fields via env
  contrib/pkg/utils/generic.go
  pkg/constants/constants.go
  pkg/controller/argocdregister/argocdregister_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/clusterrelocate/clusterrelocate_controller.go
  pkg/controller/clusterstate/clusterstate_controller.go
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/clusterversion/clusterversion_controller.go
  pkg/controller/controlplanecerts/controlplanecerts_controller.go
  pkg/controller/dnsendpoint/dnsendpoint_controller.go
  pkg/controller/dnszone/dnszone_controller.go
  pkg/controller/fakeclusterinstall/fakeclusterinstall_controller.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/remoteingress/remoteingress_controller.go
  pkg/controller/syncidentityprovider/syncidentityprovider_controller.go
  pkg/controller/unreachable/unreachable_controller.go
  pkg/controller/utils/logtagger.go
  pkg/controller/utils/logtagger_test.go
  pkg/imageset/generate.go
  pkg/install/generate.go
  pkg/installmanager/installmanager.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

UT for logtagger
  pkg/controller/utils/logtagger_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

tmp
  README.md
Due: none

tmp2
  README.md
Due: none

Update README.md
  README.md
Due: none

Document Azure platform cloudName within usage and hiveutil docs.
  docs/hiveutil.md
  docs/using-hive.md
Due: none

ClusterDeployment.Spec.Provisioning.ManifestsSecretRef
  apis/hive/v1/clusterdeployment_types.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  docs/aws-sts-provisioning.md
  docs/using-hive.md
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder.go
  pkg/clusterresource/builder_test.go
  pkg/install/generate.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Quiet down "no additional log fields" message
  pkg/controller/utils/logtagger.go
  pkg/installmanager/installmanager.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e: Save provision/deprovision pod logs
  hack/e2e-common.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Trigger CI to bump to go1.18
  build/build-image/Dockerfile
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

upgrade modern-go/reflect2 to fix nil panic under go 1.18
  Dockerfile
  go.mod
  go.sum
  vendor/github.com/modern-go/reflect2/.travis.yml
  vendor/github.com/modern-go/reflect2/Gopkg.lock
  vendor/github.com/modern-go/reflect2/Gopkg.toml
  vendor/github.com/modern-go/reflect2/go.mod
  vendor/github.com/modern-go/reflect2/go_above_118.go
  vendor/github.com/modern-go/reflect2/go_above_17.go
  vendor/github.com/modern-go/reflect2/go_above_19.go
  vendor/github.com/modern-go/reflect2/go_below_118.go
  vendor/github.com/modern-go/reflect2/go_below_17.go
  vendor/github.com/modern-go/reflect2/go_below_19.go
  vendor/github.com/modern-go/reflect2/reflect2.go
  vendor/github.com/modern-go/reflect2/test.sh
  vendor/github.com/modern-go/reflect2/type_map.go
  vendor/github.com/modern-go/reflect2/unsafe_link.go
  vendor/github.com/modern-go/reflect2/unsafe_map.go
  vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add DelayingReconciler to delay 403 requeues
  pkg/controller/argocdregister/argocdregister_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpoolnamespace/clusterpoolnamespace_controller.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/clusterrelocate/clusterrelocate_controller.go
  pkg/controller/clusterstate/clusterstate_controller.go
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/clusterversion/clusterversion_controller.go
  pkg/controller/controlplanecerts/controlplanecerts_controller.go
  pkg/controller/dnsendpoint/dnsendpoint_controller.go
  pkg/controller/dnszone/dnszone_controller.go
  pkg/controller/fakeclusterinstall/fakeclusterinstall_controller.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/remoteingress/remoteingress_controller.go
  pkg/controller/syncidentityprovider/syncidentityprovider_controller.go
  pkg/controller/unreachable/unreachable_controller.go
  pkg/controller/utils/delayingreconciler.go
  pkg/controller/velerobackup/velerobackup_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
