Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

e2e: unset exit-on-error during cleanup
  hack/e2e-common.sh
  hack/e2e-pool-test.sh
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: Better wait for controllers to be ready
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update installer
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/azureactuator.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update installer: VSphere
  pkg/clusterresource/vsphere.go
  pkg/controller/clusterdeployment/installconfigvalidation.go
  pkg/controller/machinepool/vsphereactuator.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Edit clusterintalls reconcile to properly set cd conditions
  pkg/controller/clusterdeployment/clusterinstalls.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update to controller-runtime v0.15.0
  cmd/hiveadmission/main.go
  pkg/controller/argocdregister/argocdregister_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterinstalls.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/clusterpool/clusterdeploymentexpectations.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpoolnamespace/clusterpoolnamespace_controller.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/clusterprovision/jobexpectations.go
  pkg/controller/clusterrelocate/clusterrelocate_controller.go
  pkg/controller/clusterstate/clusterstate_controller.go
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/clusterversion/clusterversion_controller.go
  pkg/controller/controlplanecerts/controlplanecerts_controller.go
  pkg/controller/dnsendpoint/dnsendpoint_controller.go
  pkg/controller/dnszone/dnszone_controller.go
  pkg/controller/fakeclusterinstall/fakeclusterinstall_controller.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/machinepool/leaseexceptions.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/remoteingress/remoteingress_controller.go
  pkg/controller/syncidentityprovider/syncidentityprovider_controller.go
  pkg/controller/syncidentityprovider/syncidentityprovider_controller_test.go
  pkg/controller/unreachable/unreachable_controller.go
  pkg/controller/utils/clientwrapper.go
  pkg/controller/utils/dnszone.go
  pkg/controller/utils/ratelimitedeventhandler.go
  pkg/controller/utils/ratelimitedeventhandler_test.go
  pkg/controller/velerobackup/velerobackup_controller.go
  pkg/imageset/updateinstaller.go
  pkg/installmanager/installmanager.go
  pkg/operator/hive/hive_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add TODO on clusterclaim_controller status handling
  pkg/controller/clusterclaim/clusterclaim_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e (AWS): Default BASE_DOMAIN for new CI account
  hack/e2e-common.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: Start real pool provisions after inventory added
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: Plumb in BASE_DOMAIN
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

random commit
  docs/hiveutil.md
Due: none

Add manager field to ReconcileClusterDeployment object
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Use clustersync_controller specific logger for all reconcile errors
  pkg/controller/clustersync/clustersync_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add and use Reachable() in (remote client) Builder
  pkg/controller/unreachable/unreachable_controller.go
  pkg/controller/unreachable/unreachable_controller_test.go
  pkg/remoteclient/fake.go
  pkg/remoteclient/kubeconfig.go
  pkg/remoteclient/mock/remoteclient_generated.go
  pkg/remoteclient/remoteclient.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add e2e coverage for APIURLOverride
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add configmap for Hive SLO grafana dashboard
  hack/grafana-dashboards/grafana-dashboard-hive-slo.configmap.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePool: Properly handle labels & taints
  apis/hive/v1/machinepool_types.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/machinepool_controller.go
  vendor/github.com/openshift/hive/apis/hive/v1/machinepool_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Final changes
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

syncset.md: Describe ordering
  docs/syncset.md
Due: none

Collapse duplicate taints on MachineSets
  apis/hive/v1/machinepool_types.go
  config/crds/hive.openshift.io_machinepools.yaml
  docs/using-hive.md
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/controller/utils/taints.go
  vendor/github.com/openshift/hive/apis/hive/v1/machinepool_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix typo in grafana dashboard configmap
  hack/grafana-dashboards/grafana-dashboard-hive-slo.configmap.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

AWS deprovision: Plumb HostedZoneRole for shared VPC
  apis/hive/v1/aws/metadata.go
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/clusterdeprovision_types.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  contrib/pkg/deprovision/awstagdeprovision.go
  docs/using-hive.md
  go.mod
  hack/app-sre/saas-template.yaml
  pkg/client/applyconfiguration/hive/v1/awsclusterdeprovision.go
  pkg/client/applyconfiguration/hive/v1/clusterplatformmetadata.go
  pkg/client/applyconfiguration/hive/v1/machinepoolstatus.go
  pkg/client/applyconfiguration/hive/v1/taintidentifier.go
  pkg/client/applyconfiguration/utils.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/utils/clusterdeployment.go
  pkg/install/generate.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/metadata.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "AWS deprovision: Plumb HostedZoneRole for shared VPC"
  apis/hive/v1/aws/metadata.go
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/clusterdeprovision_types.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  contrib/pkg/deprovision/awstagdeprovision.go
  docs/using-hive.md
  go.mod
  hack/app-sre/saas-template.yaml
  pkg/client/applyconfiguration/hive/v1/awsclusterdeprovision.go
  pkg/client/applyconfiguration/hive/v1/clusterplatformmetadata.go
  pkg/client/applyconfiguration/hive/v1/machinepoolstatus.go
  pkg/client/applyconfiguration/hive/v1/taintidentifier.go
  pkg/client/applyconfiguration/utils.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/utils/clusterdeployment.go
  pkg/install/generate.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/metadata.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Adding Temporary debug logs to vendored installer destroy code
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  vendor/github.com/openshift/installer/pkg/destroy/aws/aws.go
  vendor/github.com/openshift/installer/pkg/destroy/aws/shared.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

AWS deprovision: Plumb ClusterDomain
  apis/hive/v1/clusterdeprovision_types.go
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  contrib/pkg/deprovision/awstagdeprovision.go
  hack/app-sre/saas-template.yaml
  pkg/client/applyconfiguration/hive/v1/clusterdeprovisionspec.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/install/generate.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Refresh vendor, temporarily "fix" webhook CI
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  vendor/github.com/openshift/installer/pkg/destroy/aws/aws.go
  vendor/github.com/openshift/installer/pkg/destroy/aws/shared.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix grafana dashboard
  hack/grafana-dashboards/grafana-dashboard-hive-slo.configmap.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Reinstate immutable clusterMetadata webhook validation
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Initialize clusterMetadata as late as possible
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Tests for AWS shared VPC HostedZoneRole
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "Add and use Reachable() in (remote client) Builder"
  pkg/controller/unreachable/unreachable_controller.go
  pkg/controller/unreachable/unreachable_controller_test.go
  pkg/remoteclient/fake.go
  pkg/remoteclient/kubeconfig.go
  pkg/remoteclient/mock/remoteclient_generated.go
  pkg/remoteclient/remoteclient.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Set Max and Threshold for Error Budgets
  hack/grafana-dashboards/grafana-dashboard-hive-slo.configmap.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add reachable check to (remote client) Builder
  pkg/remoteclient/kubeconfig.go
  pkg/remoteclient/remoteclient.go
  pkg/remoteclient/remoteclient_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e: syncset test: retry on conflict
  test/e2e/postinstall/syncsets/syncsets_suite_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
