Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Use us-east-2 for e2e cluster
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Red Hat Trusted App Pipeline update hive-pija
  .tekton/hive-pija-pull-request.yaml
  .tekton/hive-pija-push.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "Require TLS cipher min version TLSv1.3"
  config/hiveadmission/deployment.yaml
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e: Use the default region for non-AWS
  hack/e2e-common.sh
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Provision: Copy CLI tools in InitContainers
  pkg/install/generate.go
  pkg/install/generate_test.go
  pkg/installmanager/installmanager.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add awsprivatelink subcommand to hiveutil.
  contrib/cmd/hiveutil/main.go
  contrib/pkg/awsprivatelink/awsprivatelink.go
  contrib/pkg/awsprivatelink/disable.go
  contrib/pkg/awsprivatelink/enable.go
  contrib/pkg/awsprivatelink/endpointVPC.go
  contrib/pkg/awsprivatelink/endpointvpc/add.go
  contrib/pkg/awsprivatelink/endpointvpc/remove.go
  contrib/pkg/utils/aws/aws.go
  docs/awsprivatelink.md
  docs/hiveutil.md
  pkg/awsclient/client.go
  pkg/awsclient/mock/client_generated.go
  pkg/operator/hive/clustersync.go
  pkg/operator/hive/configmap.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
  pkg/operator/hive/operatorutils.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Change bundle-gen.py to account for new bundle format
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Skip hive-trusted-cabundle ConfigMap creation on deleted ns
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Set the url of the origin remote unconditionally
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add ClusterDeprovision metrics
  docs/hive_metrics.md
Due: none

Allow labels with empty value to carry over
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Enhance hiveutil awsprivatelink subcommands: add flag which enables the use of an existing credentials Secret on the active cluster
  contrib/pkg/awsprivatelink/awsprivatelink.go
  contrib/pkg/awsprivatelink/common/vars.go
  contrib/pkg/awsprivatelink/disable.go
  contrib/pkg/awsprivatelink/enable.go
  contrib/pkg/awsprivatelink/endpointvpc/add.go
  contrib/pkg/awsprivatelink/endpointvpc/remove.go
  contrib/pkg/utils/aws/aws.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Work around upstream memory leak with APIServerIPOverride
  pkg/remoteclient/remoteclient.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

bundle-gen: Fix channel discovery for get_previous_version
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePool/GCP: support image override annotation
  apis/hive/v1/machinepool_types.go
  pkg/controller/machinepool/gcpactuator.go
  pkg/controller/machinepool/machinepool_controller.go
  vendor/github.com/openshift/hive/apis/hive/v1/machinepool_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Allow duplicate taints to be synced/updated
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Sort Taints before comparing
  pkg/controller/machinepool/machinepool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePool: hack name of vSphere default worker MachineSet
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePool: Properly handle labels & taints
  apis/hive/v1/machinepool_types.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/machinepool_controller.go
  vendor/github.com/openshift/hive/apis/hive/v1/machinepool_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add bash script which allows running Hive components locally, simulating in-cluster environment
  hack/run-hive-locally.sh
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/clustersync/clustersync_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e (AWS): Allow env var to override creds file
  hack/e2e-common.sh
  hack/e2e-pool-test.sh
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e (AWS): Allow region override
  hack/e2e-common.sh
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove leftover debugging statement in tests
  pkg/controller/utils/logtagger_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add `tar` to installer image
  Dockerfile.ubi
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Red Hat Trusted App Pipeline update hive-master
  .tekton/hive-master-pull-request.yaml
  .tekton/hive-master-push.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

RHTAP: Clone the entire repo history
  .tekton/hive-master-pull-request.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

RHTAP: Use build step with more memory
  .tekton/hive-master-pull-request.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Consolidate and bump default AWS instance type (m6i.xlarge)
  contrib/pkg/clusterpool/clusterpool.go
  contrib/pkg/createcluster/create.go
  hack/e2e-common.sh
  hack/e2e-test.sh
  pkg/clusterresource/aws.go
  pkg/clusterresource/builder_test.go
  pkg/controller/clusterpool/clusterpool_controller.go
  test/e2e/postinstall/machinesets/infra_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix hiveutil awsprivatelink enable bug caused by the use of anonymous user
  contrib/pkg/awsprivatelink/enable.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Testing DNM
  testing.txt
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e (AWS): Default BASE_DOMAIN for new CI account
  hack/e2e-common.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: Start real pool provisions after inventory added
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: Plumb in BASE_DOMAIN
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add (and use) full version label to ClusterDeployment
  apis/hive/v1/clusterdeployment_types.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  hack/app-sre/saas-template.yaml
  pkg/constants/constants.go
  pkg/controller/clusterversion/clusterversion_controller.go
  pkg/controller/clusterversion/clusterversion_controller_test.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/machinepool/azureactuator_test.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/controller/metrics/metrics.go
  pkg/test/clusterdeployment/clusterdeployment.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Use default network type
  pkg/clusterresource/builder.go
  pkg/controller/clusterdeployment/installconfigvalidation_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: Improve cleanup artifact gathering
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: Better wait for controllers to be ready
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix sorting bug
  pkg/controller/clusterpool/clusterpool_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
