Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Beef up adoption docs
  docs/using-hive.md
Due: none

google.golang.org/grpc 1.58.3
  go.mod
  go.sum
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Silence "go compliance shim"
  Makefile
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Snyk Code: Set up some exclusions
  .snyk
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "clustersync: fix pod security"
  config/clustersync/statefulset.yaml
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

GCP deprovision: Plumb NetworkProjectID for shared VPC
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/gcp/metadata.go
  apis/hive/v1/gcp/zz_generated.deepcopy.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  contrib/pkg/deprovision/gcp.go
  docs/using-hive.md
  hack/app-sre/saas-template.yaml
  pkg/client/applyconfiguration/hive/v1/clusterplatformmetadata.go
  pkg/client/applyconfiguration/hive/v1/gcpclusterdeprovision.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/utils/clusterdeployment.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/metadata.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

TEMPORARY! Disable ClusterMetadata mutability webhook
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Silence go compliance shim in CI
  Dockerfile
  build/build-image/Dockerfile
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Pass networkProjectID to destroyer
  contrib/pkg/deprovision/gcp.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add --network-project-id param to GCP destroyer command
  pkg/install/generate.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Plumb GCP NetworkProjectID through ClusterDeprovision
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

UT for GCP Network Project ID
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Spoof Sleep() for installmanager_test
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Minimal install mode (don't pull release or oc images)
  pkg/constants/constants.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/install/generate.go
  pkg/installmanager/installmanager.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "TEMPORARY! Disable ClusterMetadata mutability webhook"
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Hack/fix for code generator bugs/changes
  Makefile
  hack/update-codegen.sh
  pkg/client/clientset/versioned/doc.go
  pkg/client/informers/externalversions/factory.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Annotation to override installer image name
  pkg/constants/constants.go
  pkg/imageset/updateinstaller.go
  pkg/imageset/updateinstaller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove oVirt from docs
  README.md
  docs/hiveutil.md
  docs/using-hive.md
Due: none

Add additional regex for DefaultEbsKmsKeyInsufficientPermissions
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
