Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Remove AlphaAgentInstallStrategy feature gate
  apis/hive/v1/hiveconfig_types.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

RFE: ClusterPool Inventory (for VSphere DNS)
  docs/enhancements/cluster-pool-inventory.md
Due: none

Unexport metrics
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/util/apply.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Support podman build for AppSRE pipeline
  hack/app_sre_build_deploy.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

s/skopeo/docker|podman/ push, stop producing :latest
  hack/app_sre_build_deploy.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

provide a UBI-based Dockerfile
  Dockerfile.ubi
  Makefile
  hack/app_sre_build_deploy.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

docker/podman login for appsre
  hack/app_sre_build_deploy.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix podman auth file path
  hack/app_sre_build_deploy.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

move to centos:stream base container
  Dockerfile
  Dockerfile.ubi
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

move to UBI-minimal
  Dockerfile
  Dockerfile.ubi
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

openshift-install baremetal RPM dependencies
  Dockerfile
  Dockerfile.ubi
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add useful metrics for ClusterPools
  pkg/controller/clusterpool/collections.go
  pkg/controller/clusterpool/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-1669: Create Azure Client for Azure CloudName
  apis/hive/v1/dnszone_types.go
  apis/hive/v1/hiveconfig_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_dnszones.yaml
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  pkg/azureclient/client.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/controller/dnsendpoint/dnsendpoint_controller.go
  pkg/controller/dnsendpoint/nameserver/azure.go
  pkg/controller/dnsendpoint/nameserver/azure_live_test.go
  pkg/controller/dnszone/azureactuator.go
  pkg/controller/dnszone/test_helpers.go
  pkg/controller/hibernation/azure_actuator.go
  pkg/controller/remotemachineset/azureactuator.go
  pkg/controller/remotemachineset/remotemachineset_controller.go
  pkg/installmanager/dnscleanup.go
  vendor/github.com/openshift/hive/apis/hive/v1/dnszone_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Merge pull request #1588 from abutcher/HIVE-1669
  apis/hive/v1/dnszone_types.go
  apis/hive/v1/hiveconfig_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_dnszones.yaml
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  pkg/azureclient/client.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/controller/dnsendpoint/dnsendpoint_controller.go
  pkg/controller/dnsendpoint/nameserver/azure.go
  pkg/controller/dnsendpoint/nameserver/azure_live_test.go
  pkg/controller/dnszone/azureactuator.go
  pkg/controller/dnszone/test_helpers.go
  pkg/controller/hibernation/azure_actuator.go
  pkg/controller/remotemachineset/azureactuator.go
  pkg/controller/remotemachineset/remotemachineset_controller.go
  pkg/installmanager/dnscleanup.go
  vendor/github.com/openshift/hive/apis/hive/v1/dnszone_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove generated InstallAttemptsLimit.
  apis/hive/v1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add **/__pycache__ to gitignore.
  .gitignore
Due: none

Refactor Hibernation Controller
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Allow fake clusters to proceed without clustersync
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Merge pull request #1576 from openshift/remove_agent_install_feature_gate
  apis/hive/v1/hiveconfig_types.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Create clustersyncs for fake clusters.
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/clustersync/clustersync_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove no clustersync assumptions for fake clusters from hibernation controller.
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Set dnsZone.Spec.Azure.CloudName when creating dnsZone.
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add UT: Create DNSZone with/without Azure CloudName
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterPool: Delete broken CDs at MaxSize
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hibernation: Backoff delay checking clustersync
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

list out permissions needed for managed DNS on AWS
  docs/using-hive.md
Due: none

Rename RemoteMachineSet Controller to MachinePool Controller.
  apis/hive/v1/hiveconfig_types.go
  cmd/manager/main.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  docs/developing.md
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/actuator.go
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/awsactuator_test.go
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
  pkg/controller/machinepool/constants.go
  pkg/controller/machinepool/gcpactuator.go
  pkg/controller/machinepool/gcpactuator_test.go
  pkg/controller/machinepool/leaseexceptions.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/controller/machinepool/mock/actuator_generated.go
  pkg/controller/machinepool/openstackactuator.go
  pkg/controller/machinepool/openstackactuator_test.go
  pkg/controller/machinepool/ovirt.go
  pkg/controller/machinepool/ovirt_test.go
  pkg/controller/machinepool/secrets.go
  pkg/controller/machinepool/vsphereactuator.go
  pkg/controller/machinepool/vsphereactuator_test.go
  pkg/controller/remoteingress/remoteingress_controller.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Merge pull request #1593 from abutcher/HIVE-1669
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Test hibernation of fake cluster e2e
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "Merge pull request #1290 from abutcher/hive-1351"
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/hiveconfig_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  cmd/manager/main.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  contrib/pkg/createcluster/create.go
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder.go
  pkg/constants/constants.go
  pkg/controller/machinemanagement/machinemanagement_controller.go
  pkg/controller/machinemanagement/machinemanagement_controller_test.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix DNSZone docs permissions
  docs/using-hive.md
Due: none

Introduce machinemangement controller which reconciles resources necessary to build Cluster API machinesets in a cluster deployment's targetNamespace.
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/hiveconfig_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  cmd/manager/main.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  contrib/pkg/createcluster/create.go
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder.go
  pkg/constants/constants.go
  pkg/controller/machinemanagement/machinemanagement_controller.go
  pkg/controller/machinemanagement/machinemanagement_controller_test.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add ec2:DescribeNetworkInterfaces permission to PrivateLink permissions
  docs/awsprivatelink.md
Due: none

operator: Allow secret watch to switch namespaces
  pkg/operator/hive/hive_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

operator: cleanup: Remove unused event recorder
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
  vendor/github.com/openshift/library-go/pkg/operator/events/OWNERS
  vendor/github.com/openshift/library-go/pkg/operator/events/recorder.go
  vendor/github.com/openshift/library-go/pkg/operator/events/recorder_in_memory.go
  vendor/github.com/openshift/library-go/pkg/operator/events/recorder_logging.go
  vendor/github.com/openshift/library-go/pkg/operator/events/recorder_upstream.go
  vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hive-operator: Remove controller-runtime Client
  pkg/operator/hive/clustersync.go
  pkg/operator/hive/dynamicclient.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
  pkg/operator/hive/manageddns.go
  pkg/resource/apply.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
