Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Revendor (misc/generated changes)
  config/crds/hive.openshift.io_checkpoints.yaml
  config/crds/hive.openshift.io_clusterclaims.yaml
  config/crds/hive.openshift.io_clusterdeploymentcustomizations.yaml
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterimagesets.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  config/crds/hive.openshift.io_clusterprovisions.yaml
  config/crds/hive.openshift.io_clusterrelocates.yaml
  config/crds/hive.openshift.io_clusterstates.yaml
  config/crds/hive.openshift.io_dnszones.yaml
  config/crds/hive.openshift.io_hiveconfigs.yaml
  config/crds/hive.openshift.io_machinepoolnameleases.yaml
  config/crds/hive.openshift.io_machinepools.yaml
  config/crds/hive.openshift.io_selectorsyncidentityproviders.yaml
  config/crds/hive.openshift.io_selectorsyncsets.yaml
  config/crds/hive.openshift.io_syncidentityproviders.yaml
  config/crds/hive.openshift.io_syncsets.yaml
  config/crds/hiveinternal.openshift.io_clustersyncleases.yaml
  config/crds/hiveinternal.openshift.io_clustersyncs.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  hack/app-sre/saas-template.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Relocate: Ignore kube-controller-manager .crt ConfigMaps
  pkg/controller/clusterrelocate/clusterrelocate_controller.go
  pkg/controller/clusterrelocate/clusterrelocate_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

updates to only include info about privatelink
  docs/using-hive.md
Due: none

Revendor (functional fixes)
  pkg/clusterresource/ovirt.go
  pkg/clusterresource/vsphere.go
  pkg/controller/machinepool/alibabacloudactuator_test.go
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
  pkg/controller/machinepool/ibmcloudactuator.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add CLUSTER_NAMESPACE argument to wait_for_hibernation_state
  hack/e2e-common.sh
  hack/e2e-pool-test.sh
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

OWNERS: add jstuever
  OWNERS
Due: none

Remove deprecated io/ioutil usage
  contrib/pkg/certificate/create.go
  contrib/pkg/createcluster/create.go
  contrib/pkg/deprovision/deprovision.go
  contrib/pkg/testresource/command.go
  contrib/pkg/utils/azure/azure.go
  contrib/pkg/utils/gcp/gcp.go
  contrib/pkg/utils/generic.go
  contrib/pkg/utils/openstack/openstack.go
  contrib/pkg/utils/ovirt/ovirt.go
  contrib/pkg/verification/imports.go
  pkg/awsclient/client.go
  pkg/azureclient/client.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/controller/dnsendpoint/dnsendpoint_controller_test.go
  pkg/controller/metrics/metrics.go
  pkg/controller/utils/cacrt.go
  pkg/controller/utils/credentials.go
  pkg/gcpclient/client.go
  pkg/imageset/updateinstaller.go
  pkg/imageset/updateinstaller_test.go
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
  pkg/manageddns/manageddns.go
  pkg/remoteclient/remoteclient_test.go
  pkg/resource/client.go
  pkg/util/contracts/contracts.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  test/e2e/postdeploy/admission/admission_test.go
  test/e2e/postdeploy/operator/operator_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Name inventory test cluster to be caught by lambda
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Good substitution
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HiveConfig.Spec.DeploymentConfig: customize controller resources
  apis/hive/v1/hiveconfig_types.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  pkg/operator/hive/clustersync.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hiveadmission.go
  pkg/operator/hive/operatorutils.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Document HiveConfig.Spec.DeploymentConfig
  docs/scaling-hive.md
  docs/using-hive.md
Due: none

Add Gp3VolumeLimitExceeded install failure reason
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

StringPtr deprecated in favor of String
  pkg/controller/argocdregister/argocdregister_controller_test.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/controller/dnsendpoint/nameserver/aws_test.go
  pkg/controller/hibernation/azure_actuator_test.go
  pkg/controller/hibernation/ibmcloud_actuator_test.go
  pkg/controller/machinepool/awsactuator_test.go
  pkg/controller/machinepool/azureactuator_test.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/installmanager/helper_test.go
  pkg/installmanager/ibm_metadata_test.go
  pkg/installmanager/installmanager.go
  pkg/test/clusterprovision/clusterprovision.go
  pkg/validating-webhooks/hive/v1/clusterprovision_validating_admission_hook_test.go
  test/e2e/postinstall/machinesets/infra_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Disable HiveConfig.Spec.ExportMetrics
  Makefile
  apis/hive/v1/hiveconfig_types.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  config/monitoring/hive_clustersync_servicemonitor.yaml
  config/monitoring/hive_controllers_servicemonitor.yaml
  config/monitoring/role.yaml
  config/monitoring/role_binding.yaml
  docs/monitoring.md
  hack/app-sre/saas-template.yaml
  pkg/operator/assets/bindata.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add ClusterPool indexing to unit tests
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Watch for ClusterSyncLease and renew if it is missing
  pkg/controller/clustersync/clustersync_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

docs: clarify development using podman
  docs/developing.md
  docs/using-hive.md
  hack/create-kind-cluster.sh
  hack/create-kind-podman-cluster.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add new installer failure reason when the default EBS KMS key has insufficient permissions for ec2:RunInstances
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

feat: add cluster_id to metricProvisionFailedTerminal for deeper investigations
  pkg/controller/clusterdeployment/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add hibernation_controller unittest for deleted cluster
  pkg/controller/hibernation/hibernation_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update Status conditions for Deprovisioned ClusterDeployments
  apis/hive/v1/clusterdeployment_types.go
  pkg/controller/hibernation/hibernation_controller.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add lleshchi to OWNERS file
  OWNERS
Due: none

Update hack/requirements.txt
  hack/requirements.txt
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Enable pprof
  cmd/manager/main.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

AWS.PrivateLink is preserved with PreserveOnDelete
  pkg/controller/awsprivatelink/awsprivatelink_controller_test.go
  pkg/controller/awsprivatelink/cleanup.go
  pkg/controller/awsprivatelink/cleanup_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "Enable pprof"
  cmd/manager/main.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add ClusterType labels to ClusterProvision metrics
  pkg/constants/constants.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/clusterprovision/metrics.go
  pkg/controller/metrics/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add ClusterType labels to ClusterDeployment metrics
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterinstalls.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeployment/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Refactor
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterinstalls.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeployment/metrics.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/metrics/metrics.go
  pkg/controller/metrics/provision_underway_collector.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Changes per PR comments
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/metricsconfig/duration_metrics.go
  apis/hive/v1/metricsconfig/metricsConfig.go
  apis/hive/v1/metricsconfig/metrics_config.go
  apis/hive/v1/metricsconfig/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  docs/hive_metrics.md
  hack/app-sre/saas-template.yaml
  pkg/constants/constants.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterinstalls.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeployment/metrics.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/clusterprovision/clusterprovision_controller_test.go
  pkg/controller/clusterprovision/metrics.go
  pkg/controller/metrics/metrics.go
  pkg/controller/metrics/metrics_test.go
  pkg/controller/metrics/metrics_with_dynamic_labels.go
  pkg/controller/metrics/provision_underway_collector.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/metricsconfig/duration_metrics.go
  vendor/github.com/openshift/hive/apis/hive/v1/metricsconfig/metricsConfig.go
  vendor/github.com/openshift/hive/apis/hive/v1/metricsconfig/metrics_config.go
  vendor/github.com/openshift/hive/apis/hive/v1/metricsconfig/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Allow optional cluster-type labels
  apis/hive/v1/metricsconfig/metricsConfig.go
  apis/hive/v1/metricsconfig/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  pkg/constants/constants.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterinstalls.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeployment/metrics.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/clusterprovision/clusterprovision_controller_test.go
  pkg/controller/clusterprovision/metrics.go
  pkg/controller/metrics/metrics.go
  vendor/github.com/openshift/hive/apis/hive/v1/metricsconfig/metricsConfig.go
  vendor/github.com/openshift/hive/apis/hive/v1/metricsconfig/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
