Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

ClusterPool: hold until all clusters deleted, subject to maxConcurrent
  apis/hive/v1/clusterpool_types.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/clusterpool/collections.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterpool_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update ClusterPool status counts while deleting
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/clusterpool/collections.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add new installer failure reason when the install is failing due to new S3 defaults
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add generic controller metrics
  docs/hive_metrics.md
Due: none

s,gopkg.in/yaml.v2,sigs.k8s.io/yaml for json-tagged structs
  pkg/controller/clusterdeployment/installconfigvalidation.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Install clusterwide proxy certs for prov/deprov
  config/controllers/hive_controllers_role.yaml
  config/operator/operator_role.yaml
  contrib/pkg/utils/alibabacloud/alibabacloud.go
  contrib/pkg/utils/aws/aws.go
  contrib/pkg/utils/azure/azure.go
  contrib/pkg/utils/gcp/gcp.go
  contrib/pkg/utils/generic.go
  contrib/pkg/utils/ibmcloud/ibmcloud.go
  contrib/pkg/utils/openstack/openstack.go
  contrib/pkg/utils/ovirt/ovirt.go
  contrib/pkg/utils/vsphere/vsphere.go
  hack/app-sre/saas-template.yaml
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/utils/credentials.go
  pkg/controller/utils/sa.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Beef up clusterwide proxy support
  cmd/operator/main.go
  config/operator/operator_role.yaml
  contrib/pkg/utils/alibabacloud/alibabacloud.go
  contrib/pkg/utils/aws/aws.go
  contrib/pkg/utils/azure/azure.go
  contrib/pkg/utils/gcp/gcp.go
  contrib/pkg/utils/ibmcloud/ibmcloud.go
  contrib/pkg/utils/openstack/openstack.go
  contrib/pkg/utils/ovirt/ovirt.go
  contrib/pkg/utils/vsphere/vsphere.go
  hack/app-sre/saas-template.yaml
  pkg/constants/constants.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/install/generate.go
  pkg/operator/hive/clustersync.go
  pkg/operator/hive/dynamicclient.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Ensure hive-trusted-cabundle earlier
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

SDE-2953: Allow setting AWS EC2Metadata in machine config pool
  apis/hive/v1/aws/machinepool.go
  apis/hive/v1/aws/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/awsactuator_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/machinepool.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Move cleared metrics into custom collector
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/metrics/custom_collectors.go
  pkg/controller/metrics/custom_collectors_test.go
  pkg/controller/metrics/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

bundle-gen: Fix passing missing image_tag argument to open_pr().
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Refactor bundlegen script
  hack/bundle-gen.py
  hack/version.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Format hack/ files with black
  hack/app-sre/generate-saas-template.py
  hack/bundle-gen.py
  hack/github.py
  hack/version.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Edit hive metrics docs
  docs/hive_metrics.md
Due: none

Move OpenShift discovery earlier, and cache it
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Only Watch Proxy when running on OpenShift
  pkg/operator/hive/hive_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Azure custom resource group support
  apis/hive/v1/azure/metadata.go
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/clusterdeprovision_types.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  contrib/pkg/deprovision/azure.go
  docs/using-hive.md
  hack/app-sre/saas-template.yaml
  pkg/azureclient/client.go
  pkg/azureclient/mock/client_generated.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeployment/installconfigvalidation.go
  pkg/controller/clusterdeployment/installconfigvalidation_test.go
  pkg/controller/hibernation/azure_actuator.go
  pkg/controller/hibernation/azure_actuator_test.go
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
  pkg/controller/utils/clusterdeployment.go
  pkg/install/generate.go
  pkg/test/clusterprovision/clusterprovision.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/metadata.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterProvision.Spec.Metadata => .MetadataJSON
  apis/hive/v1/clusterprovision_types.go
  config/crds/hive.openshift.io_clusterprovisions.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
  pkg/test/clusterprovision/clusterprovision.go
  pkg/validating-webhooks/hive/v1/clusterprovision_validating_admission_hook_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterprovision_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Dummy ca-bundle.crt for non-OpenShift
  pkg/constants/constants.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/install/generate.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add new install failure for blocked account.
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update hive logo
  docs/Hive Logo final 329x329.png
Due: none

DNM: test CI
  README.md
Due: none

Create ServiceAccount token secret for hiveadmission
  config/hiveadmission/sa-token-secret.yaml
  pkg/operator/assets/bindata.go
  pkg/operator/hive/hiveadmission.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add timestamps to messages in e2e tests
  hack/e2e-common.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

mce-2.3: Disable autoscale e2e test for GCP, Azure
  test/e2e/postinstall/machinesets/infra_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Require TLS cipher min version TLSv1.3
  config/hiveadmission/deployment.yaml
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
