Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

IBMCloud: Fix typo s/cast/case/
  pkg/controller/machinepool/ibmcloudactuator_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

IBMCloud: Use dedicatedHost{Name,Profile} in tests
  pkg/controller/machinepool/ibmcloudactuator_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

oVirt: Fix credentials and cert secret docs.
  docs/using-hive.md
Due: none

appsre: Build schemav2 images under podman
  hack/app_sre_build_deploy.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hiveutil is for internal use only
  docs/hiveutil.md
Due: none

IBMCloud: Deprecate CISInstanceCRN and AccountID IBM Cloud platform fields
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/ibmcloud/platform.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  contrib/pkg/createcluster/create.go
  contrib/pkg/deprovision/ibmcloud.go
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/ibmcloud.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/machinepool/ibmcloudactuator_test.go
  pkg/ibmclient/client.go
  pkg/install/generate.go
  pkg/installmanager/ibm_metadata_test.go
  pkg/installmanager/installmanager.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/ibmcloud/platform.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

bundle-gen: Understand MCE branches
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

IBMCloud: Remove CISInstanceCRN and AccountID from hiveutil deprovision usage.
  contrib/pkg/deprovision/ibmcloud.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

IBMCloud: Plumb instancetype into installconfig if provided.
  pkg/clusterresource/ibmcloud.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

IBMCloud: Remove --resource-group-name parameter from hiveutil deprovision and use provided infra ID.
  contrib/pkg/deprovision/ibmcloud.go
  pkg/install/generate.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

IBMCloud: Using hive and hiveutil docs
  docs/hiveutil.md
  docs/using-hive.md
Due: none

Cumulative metrics for transitioned clusters
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/metrics/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Adds a bit more clarity on required permissions
  docs/using-hive.md
Due: none

Ensure cluster metadata has an AdminPasswordSecretRef before copying.
  pkg/controller/clusterdeployment/clusterinstalls.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add test for cluster metadata partially available from ClusterInstall
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update installer version to 6f7dcb2
  go.mod
  go.sum
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Correct --creds-dir param for ovirt uninstall.
  pkg/install/generate.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

CD.Spec.Platform.None => `none-platform`
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/none/doc.go
  apis/hive/v1/none/platform.go
  apis/hive/v1/none/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  hack/app-sre/saas-template.yaml
  hack/update-codegen.sh
  pkg/constants/constants.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/utils/clusterdeployment.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/none/doc.go
  vendor/github.com/openshift/hive/apis/hive/v1/none/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/none/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

IBMCloud: Hibernation
  pkg/controller/hibernation/ibmcloud_actuator.go
  pkg/controller/hibernation/ibmcloud_actuator_test.go
  pkg/ibmclient/client.go
  pkg/ibmclient/mock/client_generated.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Hibernation controller: Fix Infof log.
  pkg/controller/hibernation/hibernation_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

FAKE COMMIT TO TEST
  README.md
Due: none

test commit
  README.md
Due: none

new edit on mike's commit
  README.md
Due: none

udpate
  README.md
Due: none

another try
  README.md
Due: none

Rename the "mark pool cluster for deletion" constant
  pkg/constants/constants.go
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterclaim/clusterclaim_controller_test.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/clusterpool/collections.go
  pkg/controller/clusterpoolnamespace/clusterpoolnamespace_controller.go
  pkg/controller/clusterpoolnamespace/clusterpoolnamespace_controller_test.go
  pkg/controller/utils/clusterclaim.go
  pkg/controller/utils/clusterpool.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Set RemoveTemplate=true for oVirt deprovision.
  contrib/pkg/deprovision/ovirt.go
  pkg/installmanager/installmanager.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e: Retry on failure to reach metrics endpoint
  test/e2e/postdeploy/hivecontroller/manager_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Make EC2RootVolume.IOPS an optional field.
  apis/hive/v1/aws/machinepool.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/aws/machinepool.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix nil pointer dereference in oVirt MachineSet generation.
  pkg/controller/machinepool/ovirt.go
  pkg/controller/machinepool/ovirt_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove preserveOvirtMachineSetNameSuffix.
  pkg/controller/machinepool/ovirt.go
  pkg/controller/machinepool/ovirt_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

[hiveutil] Remove default machinepool generation skip for oVirt.
  contrib/pkg/createcluster/create.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
