Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

WIP: Compare decoded MachineSet providerSpec when determining if an update is needed.
  go.mod
  go.sum
  pkg/controller/machinepool/actuator.go
  pkg/controller/machinepool/alibabacloudactuator.go
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/awsactuator_test.go
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/gcpactuator.go
  pkg/controller/machinepool/ibmcloudactuator.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/controller/machinepool/mock/actuator_generated.go
  pkg/controller/machinepool/openstackactuator.go
  pkg/controller/machinepool/ovirt.go
  pkg/controller/machinepool/vsphereactuator.go
  vendor/github.com/antonfisher/nested-logrus-formatter/.gitignore
  vendor/github.com/antonfisher/nested-logrus-formatter/.travis.yml
  vendor/github.com/antonfisher/nested-logrus-formatter/LICENSE
  vendor/github.com/antonfisher/nested-logrus-formatter/Makefile
  vendor/github.com/antonfisher/nested-logrus-formatter/README.md
  vendor/github.com/antonfisher/nested-logrus-formatter/formatter.go
  vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update OWNERS to reflect reality.
  OWNERS
Due: none

Update Hive AWS STS doc.
  docs/aws-sts-provisioning.md
Due: none

Update wording s/passing/providing/ in STS doc.
  docs/aws-sts-provisioning.md
Due: none

Design doc for "Scale Mode"
  docs/enhancements/scale-mode.md
Due: none

Properly follow the ClusterInstall contract
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterinstalls.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Get rid of OpenShift 3.11 cruft
  Makefile
  config/operator/operator_role.yaml
  hack/app-sre/saas-template.yaml
  pkg/operator/hive/hiveadmission.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

[docs] Add more detail to MachinePool section of usage docs.
  docs/using-hive.md
Due: none

Tech debt: Remove dead certs observer
  pkg/certs/certs.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add more labels to ProvisionFailed metric
  pkg/controller/clusterdeployment/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Stop provisioning if fatal DNSZone conditions are met
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add regex for 'no route to host' proxy errors
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Refine error checks
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add support for custom http error pages
  apis/hive/v1/clusterdeployment_types.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/remoteingress/remoteingress_controller.go
  pkg/controller/remoteingress/remoteingress_controller_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Catch UnauthorizedOperations as an occurence of AWSInsufficientPermissions
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Watch for ClusterSyncLease and renew if it is missing
  pkg/controller/clustersync/clustersync_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

[docs] Adjust several heading levels in docs/using-hive.md and regenerate the table of contents.
  docs/using-hive.md
Due: none

Add AWSDeniedBySCP failed install reason and regex
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Trigger CI to update to go 1.19.
  build/build-image/Dockerfile
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Bump to go 1.19.
  Dockerfile
  Dockerfile.ubi
  apis/go.mod
  docs/developing.md
  go.mod
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Updates from make vendor.
  vendor/github.com/openshift/hive/apis/hive/v1/azure/platform.go
  vendor/github.com/openshift/hive/apis/scheme/scheme.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

make update-gofmt with go 1.19
  apis/hive/v1/azure/platform.go
  apis/scheme/scheme.go
  contrib/pkg/utils/generic.go
  pkg/awsclient/client.go
  pkg/client/clientset/versioned/fake/register.go
  pkg/client/clientset/versioned/scheme/register.go
  pkg/client/fake/overrideable_client.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/dnsendpoint/nameserverscraper.go
  pkg/controller/remoteingress/remoteingress_controller.go
  pkg/controller/unreachable/unreachable_controller_test.go
  pkg/install/generate.go
  pkg/operator/assets/bindata.go
  pkg/operator/hive/configmap.go
  pkg/test/assert/assertions.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeploymentcustomization_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterimageset_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterpool_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/dnszone_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/selector_syncset_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/syncset_validating_admission_hook.go
  test/e2e/postinstall/machinesets/infra_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Additional update from make update-gofmt.
  pkg/controller/dnsendpoint/nameserverscraper.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Change base image to rhel-8-release-golang-1.19-openshift-4.12 tag.
  Dockerfile
  Dockerfile.ubi
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Updates from make update
  apis/hive/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Restore some weird formatting done by go fmt due to indentation levels.
  contrib/pkg/utils/generic.go
  pkg/awsclient/client.go
  pkg/controller/dnsendpoint/nameserverscraper.go
  pkg/operator/hive/configmap.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeploymentcustomization_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterimageset_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterpool_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/dnszone_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/selector_syncset_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/syncset_validating_admission_hook.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Deduplicate and consolidate SCACertsPullFailed error
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hiveadmission: enable API Priority and Fairness
  config/hiveadmission/hiveadmission_rbac_role.yaml
  config/operator/operator_role.yaml
  hack/app-sre/saas-template.yaml
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e enhancements
  hack/e2e-common.sh
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ScaleMode: Mount data plane kubeconfig secret
  pkg/constants/constants.go
  pkg/controller/utils/utils.go
  pkg/operator/hive/clustersync.go
  pkg/operator/hive/dynamicclient.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ScaleMode: Deploy to multiple namespaces
  apis/hive/v1/hiveconfig_types.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  pkg/constants/constants.go
  pkg/operator/hive/clustersync.go
  pkg/operator/hive/configmap.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
  pkg/operator/hive/operatorutils.go
  pkg/operator/util/apply.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ScaleMode: Document
  docs/enhancements/scale-mode.md
  docs/enhancements/scalemode.png
  docs/scaling-hive.md
Due: none

ScaleMode: Enable data plane Watching/Indexing
  cmd/manager/main.go
  pkg/controller/argocdregister/argocdregister_controller.go
  pkg/controller/argocdregister/argocdregister_controller_test.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterinstalls.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/clusterpool/clusterdeploymentexpectations.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpoolnamespace/clusterpoolnamespace_controller.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/clusterrelocate/clusterrelocate_controller.go
  pkg/controller/clusterstate/clusterstate_controller.go
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/clusterversion/clusterversion_controller.go
  pkg/controller/controlplanecerts/controlplanecerts_controller.go
  pkg/controller/dnsendpoint/dnsendpoint_controller.go
  pkg/controller/dnszone/dnszone_controller.go
  pkg/controller/fakeclusterinstall/fakeclusterinstall_controller.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
  pkg/controller/machinepool/leaseexceptions.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/remoteingress/remoteingress_controller.go
  pkg/controller/syncidentityprovider/syncidentityprovider_controller.go
  pkg/controller/unreachable/unreachable_controller.go
  pkg/controller/utils/clientwrapper.go
  pkg/controller/utils/utils.go
  pkg/controller/velerobackup/velerobackup_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ScaleMode: Switch Job ownership to labels/finalizers
  config/controllers/hive_controllers_role.yaml
  config/operator/operator_role.yaml
  hack/app-sre/saas-template.yaml
  pkg/constants/constants.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller_test.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/clusterprovision/jobexpectations.go
  pkg/controller/utils/ownership.go
  pkg/operator/assets/bindata.go
  pkg/test/clusterprovision/clusterprovision.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ScaleMode: Make hiveconfig.spec.scaleMode a struct
  apis/hive/v1/hiveconfig_types.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  docs/scaling-hive.md
  hack/app-sre/saas-template.yaml
  pkg/constants/constants.go
  pkg/operator/hive/clustersync.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
  pkg/operator/hive/operatorutils.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ScaleMode: Make admission webhooks work
  config/hiveadmission/apiservice.yaml
  config/hiveadmission/endpoints.yaml
  config/hiveadmission/konnectivity-agent.yaml
  config/hiveadmission/service.yaml
  pkg/controller/utils/clientwrapper.go
  pkg/controller/utils/utils.go
  pkg/imageset/generate.go
  pkg/install/generate.go
  pkg/operator/assets/bindata.go
  pkg/operator/hive/clustersync.go
  pkg/operator/hive/dynamicclient.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
  pkg/operator/util/admissionregistration.go
  pkg/operator/util/apiregistration.go
  pkg/operator/util/decode.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

work around for hive-1989
  pkg/installmanager/installmanager.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

update docs/install.md
  docs/install.md
Due: none

Revert "Merge pull request #1903 from dlom/HIVE-2038"
  pkg/controller/clustersync/clustersync_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
