Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Sort clouds alphabetically. Add --ibm-instance-type hiveutil parameter.
  contrib/pkg/createcluster/create.go
  contrib/pkg/deprovision/deprovision.go
  pkg/clusterresource/ibmcloud.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix optional refs. Remove ibm-credentials.env from generated IBM secret for now.
  pkg/clusterresource/ibmcloud.go
  pkg/install/generate.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Bug 2050332: explicit Pattern to validate Duration fields
  apis/hive/v1/clusterclaim_types.go
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/clusterpool_types.go
  config/crds/hive.openshift.io_clusterclaims.yaml
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/clusterclaim_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterpool_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix provision Nil panic
  apis/hive/v1/zz_generated.deepcopy.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update developing documentation
  docs/developing.md
Due: none

Remove copy-paste error - trailing character
  docs/developing.md
Due: none

ClusterPool-Inventory enhancement Status.Inventory
  docs/enhancements/clusterpool-inventory.md
Due: none

bundle-gen: refactor: split CSV and package gen
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

bundle-gen: Support adding a new ocm-* channel
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Explicit Pattern to validate Duration fields
  apis/hive/v1/clusterclaim_types.go
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/clusterpool_types.go
  config/crds/hive.openshift.io_clusterclaims.yaml
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/clusterclaim_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterpool_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

DNM: test 2.5 CI
  contrib/pkg/utils/generic.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

[hiveutil] more consistent error messages for missing parameters
  contrib/pkg/createcluster/create.go
  pkg/constants/constants.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update imports for installer vendor update.
  pkg/controller/remotemachineset/azureactuator_test.go
  pkg/controller/remotemachineset/gcpactuator.go
  pkg/controller/remotemachineset/gcpactuator_test.go
  test/e2e/common/machine.go
  test/e2e/common/machineset.go
  test/e2e/postinstall/machinesets/infra_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update generated imports for tidying.
  pkg/controller/hibernation/mock/csr_helper_generated.go
  pkg/controller/remotemachineset/mock/actuator_generated.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update installer vendor to ad535d3.
  go.mod
  go.sum
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Various fixes for updated installer vendoring.
  contrib/pkg/deprovision/awstagdeprovision.go
  contrib/pkg/deprovision/azure.go
  contrib/pkg/deprovision/gcp.go
  contrib/pkg/deprovision/openstack.go
  contrib/pkg/deprovision/ovirt.go
  contrib/pkg/deprovision/vsphere.go
  pkg/controller/hibernation/aws_actuator.go
  pkg/controller/hibernation/aws_actuator_test.go
  pkg/controller/hibernation/csr_helper.go
  pkg/controller/hibernation/csr_utility.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
  pkg/controller/remotemachineset/actuator.go
  pkg/controller/remotemachineset/awsactuator.go
  pkg/controller/remotemachineset/awsactuator_test.go
  pkg/controller/remotemachineset/azureactuator.go
  pkg/controller/remotemachineset/gcpactuator.go
  pkg/controller/remotemachineset/gcpactuator_test.go
  pkg/controller/remotemachineset/openstackactuator.go
  pkg/controller/remotemachineset/openstackactuator_test.go
  pkg/controller/remotemachineset/ovirt.go
  pkg/controller/remotemachineset/ovirt_test.go
  pkg/controller/remotemachineset/remotemachineset_controller.go
  pkg/controller/remotemachineset/remotemachineset_controller_test.go
  pkg/controller/remotemachineset/vsphereactuator.go
  pkg/controller/remotemachineset/vsphereactuator_test.go
  pkg/installmanager/installmanager.go
  pkg/remoteclient/remoteclient.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove lingering gcpprovider import.
  pkg/controller/remotemachineset/gcpactuator_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

bundle-gen: Support overriding hive repo to clone
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Vendor machine-api-provider-gcp for unmarshal GCPMachineProviderSpec.
  go.mod
  go.sum
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Replace decodeGCPMachineProviderSpec with gcpprovider.ProviderSpecFromRawExtension.
  pkg/controller/remotemachineset/gcpactuator.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Vendor updates from adding machine-api-provider-gcp for unmarshal GCPMachineProviderSpec.
  vendor/github.com/openshift/machine-api-provider-gcp/LICENSE
  vendor/github.com/openshift/machine-api-provider-gcp/pkg/apis/gcpprovider/v1beta1/doc.go
  vendor/github.com/openshift/machine-api-provider-gcp/pkg/apis/gcpprovider/v1beta1/gcpmachineproviderconfig_types.go
  vendor/github.com/openshift/machine-api-provider-gcp/pkg/apis/gcpprovider/v1beta1/gcpmachineproviderstatus_types.go
  vendor/github.com/openshift/machine-api-provider-gcp/pkg/apis/gcpprovider/v1beta1/register.go
  vendor/github.com/openshift/machine-api-provider-gcp/pkg/apis/gcpprovider/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api-provider-azure/LICENSE
  vendor/sigs.k8s.io/cluster-api-provider-azure/pkg/apis/azureprovider/v1beta1/azuremachineproviderconfig_types.go
  vendor/sigs.k8s.io/cluster-api-provider-azure/pkg/apis/azureprovider/v1beta1/azuremachineproviderstatus_types.go
  vendor/sigs.k8s.io/cluster-api-provider-azure/pkg/apis/azureprovider/v1beta1/doc.go
  vendor/sigs.k8s.io/cluster-api-provider-azure/pkg/apis/azureprovider/v1beta1/register.go
  vendor/sigs.k8s.io/cluster-api-provider-azure/pkg/apis/azureprovider/v1beta1/types.go
  vendor/sigs.k8s.io/cluster-api-provider-azure/pkg/apis/azureprovider/v1beta1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Generated code changes.
  apis/hive/v1/agent/zz_generated.deepcopy.go
  apis/hive/v1/aws/zz_generated.deepcopy.go
  apis/hive/v1/azure/zz_generated.deepcopy.go
  apis/hive/v1/baremetal/zz_generated.deepcopy.go
  apis/hive/v1/gcp/zz_generated.deepcopy.go
  apis/hive/v1/openstack/zz_generated.deepcopy.go
  apis/hive/v1/ovirt/zz_generated.deepcopy.go
  apis/hive/v1/vsphere/zz_generated.deepcopy.go
  apis/hive/v1/zz_generated.deepcopy.go
  apis/hivecontracts/v1alpha1/zz_generated.deepcopy.go
  apis/hiveinternal/v1alpha1/zz_generated.deepcopy.go
  pkg/awsclient/mock/client_generated.go
  pkg/azureclient/mock/client_generated.go
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/controller/dnsendpoint/nameserver/mock/query_generated.go
  pkg/controller/hibernation/mock/csr_helper_generated.go
  pkg/controller/hibernation/mock/hibernation_actuator_generated.go
  pkg/controller/remotemachineset/mock/actuator_generated.go
  pkg/dependencymagnet/doc.go
  pkg/gcpclient/mock/client_generated.go
  pkg/remoteclient/mock/remoteclient_generated.go
  pkg/resource/mock/helper_generated.go
  pkg/test/manager/mock/manager_generated.go
  vendor/github.com/openshift/hive/apis/hive/v1/agent/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/baremetal/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/openstack/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/ovirt/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hivecontracts/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hiveinternal/v1alpha1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Backport bundle-gen
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

backport bundle-gen
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Set managedDNS=false for azure e2e
  hack/e2e-common.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix azure e2e
  test/e2e/postdeploy/operator/operator_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add cluster-api-provider-ibm.
  go.mod
  go.sum
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Vendoring from adding cluster-api-provider-ibm.
  vendor/github.com/IBM-Cloud/bluemix-go/LICENSE
  vendor/github.com/IBM-Cloud/bluemix-go/crn/crn.go
  vendor/github.com/IBM/platform-services-go-sdk/iamidentityv1/iam_identity_v1.go
  vendor/github.com/openshift/cluster-api-provider-ibmcloud/LICENSE
  vendor/github.com/openshift/cluster-api-provider-ibmcloud/pkg/apis/ibmcloudprovider/v1beta1/doc.go
  vendor/github.com/openshift/cluster-api-provider-ibmcloud/pkg/apis/ibmcloudprovider/v1beta1/ibmcloudproviderconfig_types.go
  vendor/github.com/openshift/cluster-api-provider-ibmcloud/pkg/apis/ibmcloudprovider/v1beta1/ibmcloudproviderstatus_types.go
  vendor/github.com/openshift/cluster-api-provider-ibmcloud/pkg/apis/ibmcloudprovider/v1beta1/register.go
  vendor/github.com/openshift/cluster-api-provider-ibmcloud/pkg/apis/ibmcloudprovider/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/installer/pkg/asset/installconfig/ibmcloud/OWNERS
  vendor/github.com/openshift/installer/pkg/asset/installconfig/ibmcloud/client.go
  vendor/github.com/openshift/installer/pkg/asset/installconfig/ibmcloud/dns.go
  vendor/github.com/openshift/installer/pkg/asset/installconfig/ibmcloud/ibmcloud.go
  vendor/github.com/openshift/installer/pkg/asset/installconfig/ibmcloud/metadata.go
  vendor/github.com/openshift/installer/pkg/asset/installconfig/ibmcloud/validation.go
  vendor/github.com/openshift/installer/pkg/asset/machines/ibmcloud/machines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/ibmcloud/machinesets.go
  vendor/github.com/openshift/installer/pkg/asset/machines/ibmcloud/zones.go
  vendor/github.com/openshift/installer/pkg/types/ibmcloud/validation/machinepool.go
  vendor/github.com/openshift/installer/pkg/types/ibmcloud/validation/platform.go
  vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add detail to the message for bootstrap failures
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add support for ibm machinepools
  pkg/controller/machinepool/ibmcloudactuator.go
  pkg/controller/machinepool/ibmcloudactuator_test.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/ibmclient/client.go
  pkg/ibmclient/mock/client_generated.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Improved description and typo fixes
  docs/enhancements/clusterpool-inventory.md
Due: none

Pass ClusterName to uninstall for IBM Cloud DNS cleanup.
  apis/hive/v1/clusterdeprovision_types.go
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  contrib/pkg/deprovision/ibmcloud.go
  hack/app-sre/saas-template.yaml
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/install/generate.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Correct --creds-dir param for ovirt uninstall.
  pkg/install/generate.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Pass ClusterName also when cleaning up failed provision.
  pkg/installmanager/installmanager.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Consolidate AddToScheme to VSphere, GCP and IBMCloud. Fill out tests for IBMCloud machinepools.
  pkg/controller/machinepool/gcpactuator.go
  pkg/controller/machinepool/ibmcloudactuator.go
  pkg/controller/machinepool/ibmcloudactuator_test.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/vsphereactuator.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Continue to warn for fail to create IBMCloud client.
  pkg/controller/machinepool/ibmcloudactuator.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

IBMCloud: Deeper test of generated machinesets
  pkg/controller/machinepool/ibmcloudactuator_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

IBMCloud: Tighten Zone GET assertions
  pkg/controller/machinepool/ibmcloudactuator_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
