Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

review updates
  docs/using-hive.md
Due: none

feedback updates
  docs/using-hive.md
Due: none

Clarify resourceApplyMode: Sync when deleting SyncSets
  docs/syncset.md
Due: none

.gitignore: exclude *.out only in repo root
  .gitignore
  vendor/github.com/go-errors/errors/cover.out
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

dedicated-admin ClusterRole aggregation for direct deploy
  hack/app-sre/kustomization.yaml
  hack/app-sre/saas-template.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Unhack: Use a patch to set CRB subject ns for direct deploy
  hack/app-sre/kustomization.yaml
  hack/app-sre/operator_role_binding.yaml
  hack/app-sre/saas-template.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Scrub AWS not authorized message which includes AWS resource ARNs.
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/utils/errorscrub.go
  pkg/controller/utils/errorscrub_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update pkg/controller/utils/errorscrub.go
  pkg/controller/utils/errorscrub.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Replace identifiers in not authorized message.
  pkg/controller/utils/errorscrub.go
  pkg/controller/utils/errorscrub_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

More updates for k8s 1.22
  config/hiveadmission/clusterdeployment-webhook.yaml
  config/hiveadmission/clusterimageset-webhook.yaml
  config/hiveadmission/clusterprovision-webhook.yaml
  config/hiveadmission/dnszones-webhook.yaml
  config/hiveadmission/machinepool-webhook.yaml
  config/hiveadmission/selectorsyncset-webhook.yaml
  config/hiveadmission/syncset-webhook.yaml
  pkg/controller/hibernation/csr_helper.go
  pkg/controller/hibernation/csr_utility.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
  pkg/controller/hibernation/mock/csr_helper_generated.go
  pkg/operator/assets/bindata.go
  pkg/operator/hive/hiveadmission.go
  pkg/operator/util/admissionregistration.go
  test/e2e/common/client.go
  test/e2e/postdeploy/operator/operator_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove spaces from expected.
  pkg/controller/utils/errorscrub_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove unused ReadMutatingWebhookConfigurationV1Beta1OrDie
  pkg/operator/util/admissionregistration.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add PowerState Transition time metric
  pkg/controller/metrics/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Clean up App-SRE OLMisms
  config/templates/hive-csv-template.yaml
  docs/developing.md
  hack/app_sre_build_deploy.sh
  hack/app_sre_create_image_catalog.sh
  hack/generate-operator-bundle.py
  hack/olm-registry-deploy.sh
  hack/olm-registry/olm-artifacts-template.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix GCP CPU quota install log regexp
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add install log regexp for invalid AWS tags
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove encoded error message in VPCEndpointServiceReconcileFailed condition.
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/utils/errorscrub.go
  pkg/controller/utils/errorscrub_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

[^,]
  pkg/controller/utils/errorscrub.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

RFE: Detect and replace broken clusters
  docs/enhancements/replace_broken_clusters.md
Due: none

pkg/controller: rate limit clusterdeployment error update event
  pkg/controller/argocdregister/argocdregister_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterpool/clusterdeploymentexpectations.go
  pkg/controller/dnszone/dnszone_controller.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/machinemanagement/machinemanagement_controller.go
  pkg/controller/remotemachineset/remotemachineset_controller.go
  pkg/controller/utils/clusterdeployment.go
  pkg/controller/utils/clusterdeployment_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/controller/remotemachineset: rate limit MachinePool error update events
  pkg/controller/remotemachineset/remotemachineset_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

v2: CD powerState sub-struct
  docs/enhancements/hivev2.md
Due: none

Fix issue with CSR approval and status being mandatory.
  pkg/controller/hibernation/csr_utility.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e: Add retry for managed DNS
  hack/e2e-common.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add addl missing quota check
  config/configmaps/install-log-regexes-configmap.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Check ClusterOperator state before considering a cluster running.
  pkg/controller/hibernation/hibernation_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Stop updating resource in setHibernatingCondition.
  pkg/controller/hibernation/hibernation_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Slowly delete stale pool clusters
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/clusterpool/collections.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Counter metric for deletion of stale pool CDs
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/metrics.go
  pkg/controller/metrics/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add polarity check for Provision Underway metric
  pkg/controller/metrics/provision_underway_collector.go
  pkg/controller/metrics/provision_underway_collector_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Refactor e2e-pool-test.sh
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: test stale cluster replacement
  hack/e2e-common.sh
  hack/e2e-pool-test.sh
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Refactor: consolidate setting ProvisionStopped=True
  pkg/controller/clusterdeployment/clusterprovisions.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Metric for terminal provision failure
  pkg/controller/clusterdeployment/clusterinstalls.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeployment/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterPool: Delete broken (ProvisionStopped) clusters
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/clusterpool/collections.go
  pkg/test/clusterdeployment/clusterdeployment.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Complete ClusterOperator checking.
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Introduce Running condition.
  apis/hive/v1/clusterclaim_types.go
  apis/hive/v1/clusterdeployment_types.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterclaim_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add pause for ClusterOperators to settle.
  apis/hive/v1/clusterdeployment_types.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
