Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

CDC fix duplicate unassgined
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/clusterpool/collections.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Indent a few docs/install.md examples.
  docs/install.md
Due: none

Add new installer failure reason when AWS has insufficient capacity
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

update per comments
  go.mod
  go.sum
  pkg/installmanager/installmanager.go
  vendor/github.com/tidwall/gjson/LICENSE
  vendor/github.com/tidwall/gjson/README.md
  vendor/github.com/tidwall/gjson/SYNTAX.md
  vendor/github.com/tidwall/gjson/gjson.go
  vendor/github.com/tidwall/gjson/logo.png
  vendor/github.com/tidwall/match/LICENSE
  vendor/github.com/tidwall/match/README.md
  vendor/github.com/tidwall/match/match.go
  vendor/github.com/tidwall/pretty/LICENSE
  vendor/github.com/tidwall/pretty/README.md
  vendor/github.com/tidwall/pretty/pretty.go
  vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

SCACertsPullFailed is no longer a blocking reason an install can fail
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: rename cdc-* clusters => hiveci-cdc-*
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix new tests, replace expectInventory with expectedPoolVersion
  pkg/controller/clusterpool/clusterpool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Converted HttpErrorCodePages field into a pointer
  apis/hive/v1/clusterdeployment_types.go
  pkg/controller/remoteingress/remoteingress_controller.go
  pkg/controller/remoteingress/remoteingress_controller_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

changed by comments and added unit test
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "Revert "Explicit pod security""
  config/clustersync/statefulset.yaml
  config/controllers/deployment.yaml
  config/hiveadmission/deployment.yaml
  config/operator/operator_deployment.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/utils/utils.go
  pkg/imageset/generate.go
  pkg/imageset/generate_test.go
  pkg/install/generate.go
  pkg/install/generate_test.go
  pkg/operator/assets/bindata.go
  pkg/test/assert/assertions.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove seccompProfile setting from deployments.
  config/clustersync/statefulset.yaml
  config/controllers/deployment.yaml
  config/hiveadmission/deployment.yaml
  config/operator/operator_deployment.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/utils/utils.go
  pkg/operator/assets/bindata.go
  pkg/test/assert/assertions.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix tests to expect a runAsUser.
  pkg/test/assert/assertions.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Increase RunAsUser ID to fall in range [1000670000, 1000679999]
  pkg/controller/utils/utils.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update permissions for /opt/services & /usr/bin/hiveutil.
  Dockerfile
  Dockerfile.ubi
  build/fedora-dev/Dockerfile.dev
  build/fedora-dev/Dockerfile.devbase
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Set RunAsUser in ApplyPodSecurity.
  pkg/controller/utils/utils.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove unnecessary mkdir.
  build/fedora-dev/Dockerfile.dev
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

WIP: Rough namespace annotation scraping to grab UID in RunAsRange.
  pkg/constants/constants.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller_test.go
  pkg/controller/utils/utils.go
  pkg/imageset/generate.go
  pkg/imageset/generate_test.go
  pkg/install/generate.go
  pkg/install/generate_test.go
  pkg/test/assert/assertions.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

update again for comments
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add parameter to cmd
  docs/using-hive.md
Due: none

Fix unit test issues
  pkg/installmanager/installmanager_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add some more 'debug' log messages for stage
  pkg/controller/clustersync/clustersync_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "Revert "Merge pull request #1903 from dlom/HIVE-2038""
  pkg/controller/clustersync/clustersync_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add bonus logging for stage
  pkg/controller/clustersync/clustersync_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "Revert "Revert "Merge pull request #1903 from dlom/HIVE-2038"""
  pkg/controller/clustersync/clustersync_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "Add bonus logging for stage"
  pkg/controller/clustersync/clustersync_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hibernation state snafu thought experiment
  pkg/controller/hibernation/hibernation_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Pause ClusterDeployment reconciliation
  pkg/constants/constants.go
  pkg/controller/argocdregister/argocdregister_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterrelocate/clusterrelocate_controller.go
  pkg/controller/clusterstate/clusterstate_controller.go
  pkg/controller/clusterversion/clusterversion_controller.go
  pkg/controller/controlplanecerts/controlplanecerts_controller.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/remoteingress/remoteingress_controller.go
  pkg/controller/syncidentityprovider/syncidentityprovider_controller.go
  pkg/controller/unreachable/unreachable_controller.go
  pkg/controller/utils/clusterdeployment.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

WIP: Clone the hibernation controller => powerstate
  cmd/manager/main.go
  pkg/controller/hibernation/csr_helper.go
  pkg/controller/hibernation/csr_utility.go
  pkg/controller/powerstate/powerstate_controller.go
  pkg/controller/powerstate/powerstate_controller_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

WIP: Rewrite powerstate controller
  apis/hive/v1/clusterdeployment_types.go
  pkg/controller/hibernation/hibernation_controller_test.go
  pkg/controller/powerstate/helpers.go
  pkg/controller/powerstate/powerstate_controller.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix typo in sample install-config.yaml
  docs/using-hive.md
Due: none

Add support for specifying additional AllowedPrincipal ARNs for a Private Link cluster's VPC Endpoint Service.
  apis/hive/v1/aws/platform.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/platform.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

cd.Spec.Platform.AWS.PrivateLink.AllowedPrincipals is a mutable field
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add status.powerState check to e2e_test.sh
  hack/e2e-common.sh
  hack/e2e-pool-test.sh
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Record the DefaultAllowedPrincipal of the IAM entity used by Hive within status.
  apis/hive/v1/aws/platform.go
  apis/hive/v1/aws/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

sets.Insert() is variadic. Replace looping insert with one insert call.
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add docstrings for AdditionalAllowedPrincipal and DefaultAllowedPrincipal Status fields.
  apis/hive/v1/aws/platform.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/aws/platform.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Move sets.List() to within the condition to reclaim some processing/memory usage.
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Tech Debt: Remove mockctrl.Finish()
  pkg/controller/argocdregister/argocdregister_controller_test.go
  pkg/controller/awsprivatelink/awsprivatelink_controller_test.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller_test.go
  pkg/controller/clusterrelocate/clusterrelocate_controller_test.go
  pkg/controller/clusterstate/clusterstate_controller_test.go
  pkg/controller/clustersync/clustersync_controller_test.go
  pkg/controller/clusterversion/clusterversion_controller_test.go
  pkg/controller/controlplanecerts/controlplanecerts_controller_test.go
  pkg/controller/dnsendpoint/dnsendpoint_controller_test.go
  pkg/controller/dnsendpoint/nameserver/aws_test.go
  pkg/controller/dnsendpoint/nameserver/azure_test.go
  pkg/controller/dnsendpoint/nameserver/gcp_test.go
  pkg/controller/dnsendpoint/nameserverscraper_test.go
  pkg/controller/dnszone/dnszone_controller_test.go
  pkg/controller/hibernation/alibabacloud_actuator_test.go
  pkg/controller/hibernation/aws_actuator_test.go
  pkg/controller/hibernation/gcp_actuator_test.go
  pkg/controller/hibernation/hibernation_controller_test.go
  pkg/controller/hibernation/ibmcloud_actuator_test.go
  pkg/controller/machinepool/alibabacloudactuator_test.go
  pkg/controller/machinepool/awsactuator_test.go
  pkg/controller/machinepool/azureactuator_test.go
  pkg/controller/machinepool/gcpactuator_test.go
  pkg/controller/machinepool/ibmcloudactuator_test.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/controller/machinepool/openstackactuator_test.go
  pkg/controller/machinepool/ovirt_test.go
  pkg/controller/machinepool/vsphereactuator_test.go
  pkg/controller/unreachable/unreachable_controller_test.go
  pkg/controller/velerobackup/velerobackup_controller_test.go
  pkg/installmanager/ibm_metadata_test.go
  pkg/installmanager/installmanager_test.go
  pkg/installmanager/s3loguploaderactuator_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

updates adoption steps for privatelink clusters or clusters with certman in place
  docs/using-hive.md
Due: none

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
