Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

HIVE-1638: Add cd.Spec.Platform.Azure.CloudName and plumb into deprovision.
  apis/hive/v1/azure/platform.go
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  contrib/pkg/deprovision/azure.go
  hack/app-sre/saas-template.yaml
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/install/generate.go
  pkg/installmanager/installmanager.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

bundle-gen: Fix version 'v'
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

bundle-gen: smart branch/channel detection
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

bundle-gen: format
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove AzureStackCloud for now.
  apis/hive/v1/azure/platform.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/azure/platform.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

bundle-gen: Add 'v' to image tag.
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

reorganize install-log-regexes-configmap.yaml
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add VcpuLimitExceeded to install log regexps
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add instance stopped regexps to install-log-regexes-configmap.yaml
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add regexps for common public and private subnet misconfiguations
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Clean up old operatorhub script
  config/templates/hive-csv-template.yaml
  docs/developing.md
  hack/generate-operator-bundle-operatorhub.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

bundle-gen: Discover ocm-* branches, fix alpha
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Merge pull request #1552 from abutcher/HIVE-1638
  apis/hive/v1/azure/platform.go
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  contrib/pkg/deprovision/azure.go
  hack/app-sre/saas-template.yaml
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/install/generate.go
  pkg/installmanager/installmanager.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

bundle-gen: Another missing 'v'
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: Broken cluster flake
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Deduplicate ClusterDeployment condition updates
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterprovisions.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterDeployment Provisioned condition
  apis/hive/v1/clusterdeployment_types.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  hack/app-sre/saas-template.yaml
  hack/e2e-pool-test.sh
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterinstalls.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/utils/conditions.go
  pkg/test/assert/assertions.go
  pkg/test/clusterdeprovision/clusterdeprovision.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

OSD: Pull operator/controller images by digest
  hack/app-sre/kustomization.yaml
  hack/app-sre/saas-template-stub.yaml
  hack/app-sre/saas-template.yaml
  hack/app_sre_build_deploy.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Merge pull request #1550 from abutcher/HIVE-1604
  hack/bundle-gen.py
  hack/github.py
  hack/requirements.txt
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Merge pull request #1553 from 2uasimojo/HIVE-1604
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Merge pull request #1554 from abutcher/bundle-gen-tag
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Merge pull request #1556 from 2uasimojo/HIVE-1604/branch-discovery
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Merge pull request #1557 from 2uasimojo/HIVE-1604/another-v
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

bundle_gen: Ensure working in hive clone when generating bundle.
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fail on error to push container image
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Merge pull request #1562 from joelddiaz/error-on-failed-push
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Merge pull request #1561 from abutcher/bundle-chdir
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Merge pull request #1555 from 2uasimojo/HIVE-1604/cleanup
  config/templates/hive-csv-template.yaml
  docs/developing.md
  hack/generate-operator-bundle-operatorhub.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

update OWNERS to reflect current reality
  OWNERS
Due: none

Fix Provisioned condition for adopted clusters
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterprovisions.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterPool: running clusters for excess claims
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Clear SyncSetsNotApplied Hibernating Reason
  apis/hive/v1/clusterdeployment_types.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ProvisionDelay metric shouldn't log unknown conds
  pkg/controller/metrics/provision_underway_collector.go
  pkg/controller/metrics/provision_underway_collector_test.go
  pkg/controller/utils/conditions.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Added 'TooManyRoute53Zones' install error
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterPool Inventory
  apis/hive/v1/clusterpool_types.go
  config/crds/hive.openshift.io_clusterpools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/clusterpool/inventory.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterpool_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Expand RBAC for ClusterPool CD namespaces
  config/rbac/hive_clusterpool_admin.yaml
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Refactor: Verify CDs after ClusterPool
  pkg/controller/clusterpool/clusterpool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterPool.Spec.InstallAttemptsLimit
  apis/hive/v1/clusterpool_types.go
  config/crds/hive.openshift.io_clusterpools.yaml
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/test/clusterpool/clusterpool.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterpool_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterClaim delay histogram metric
  pkg/controller/clusterpool/collections.go
  pkg/controller/clusterpool/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
