Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Cleanup and bugs.
  apis/hive/v1/clusterdeployment_types.go
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterclaim/clusterclaim_controller_test.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hivev2: ClusterTemplate
  docs/enhancements/hivev2.md
Due: none

Fix expected ovirt machineset name.
  pkg/controller/remotemachineset/ovirt_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-1636: Make ClusterDeployment metal platform agentSelector field mutable
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Copy NodeSelector/Tolerations from operator to controllers
  pkg/operator/hive/clustersync.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add preserveOvirtMachineSetNameSuffix func to preserve -0 machineset name suffix.
  pkg/controller/remotemachineset/ovirt.go
  pkg/controller/remotemachineset/ovirt_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: Smarter wait_for_pool_to_be_ready
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

RFE: ClusterPool.Spec.RunningCount: hot spares
  docs/enhancements/cluster_pool_hot_spares.md
Due: none

Better namespace in clusterpool doc examples
  docs/clusterpools.md
Due: none

e2e: Force DNSZone resync on ActuatorNotInitialized flake
  hack/e2e-common.sh
  hack/e2e-test.sh
  hack/statuspatch
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hive-operator: support exporting metrics to cluster
  Makefile
  apis/hive/v1/hiveconfig_types.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  config/monitoring/hive_clustersync_servicemonitor.yaml
  config/monitoring/hive_controllers_servicemonitor.yaml
  config/monitoring/role.yaml
  config/monitoring/role_binding.yaml
  config/operator/operator_role.yaml
  docs/monitoring.md
  go.mod
  go.sum
  hack/app-sre/saas-template.yaml
  pkg/operator/assets/bindata.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/util/apply.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/LICENSE
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/go.mod
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/go.sum
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/doc.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Register hive_clusterpool_stale_clusterdeployments_deleted metric
  pkg/controller/clusterpool/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

controller/dnszone: add condition to track dns api opt-in required failures
  apis/hive/v1/dnszone_types.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/dnszone/awsactuator.go
  pkg/controller/dnszone/dnszone_controller.go
  pkg/controller/dnszone/dnszone_controller_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/dnszone_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: Move AllClustersCurrent check into wait_for_pool_to_be_ready
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Work around clustersync float compare test flake
  pkg/controller/clustersync/clustersync_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update github.com/miekg/dns CVE-2019-19794.
  go.mod
  go.sum
  vendor/github.com/miekg/dns/.travis.yml
  vendor/github.com/miekg/dns/CODEOWNERS
  vendor/github.com/miekg/dns/acceptfunc.go
  vendor/github.com/miekg/dns/edns.go
  vendor/github.com/miekg/dns/fuzz.go
  vendor/github.com/miekg/dns/generate.go
  vendor/github.com/miekg/dns/labels.go
  vendor/github.com/miekg/dns/msg.go
  vendor/github.com/miekg/dns/scan.go
  vendor/github.com/miekg/dns/version.go
  vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterPool: Register new clusters
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/collections.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterPool RunningCount
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/clusterpool_types.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  docs/clusterpools.md
  hack/app-sre/saas-template.yaml
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/clusterpool/collections.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/test/clusterdeployment/clusterdeployment.go
  pkg/test/clusterpool/clusterpool.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterpool_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: Test broken pool CD replacement
  hack/e2e-pool-test.sh
  hack/statuspatch
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update hot spares RFE
  docs/enhancements/cluster_pool_hot_spares.md
Due: none

validate username/password set for vsphere installconfig
  pkg/controller/clusterdeployment/installconfigvalidation.go
  pkg/controller/clusterdeployment/installconfigvalidation_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

detect install failures when IAM roles can't be deleted
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

stuff from make update
  apis/hive/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

use AWS role name pattern
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update config/configmaps/install-log-regexes-configmap.yaml
  config/configmaps/install-log-regexes-configmap.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/controller/clusterprovision/installlogmonitor_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update pkg/operator/assets/bindata.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Read default regexes from configmap for test.
  pkg/controller/clusterprovision/installlogmonitor_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add install log regex for when the subnet doesn't exist
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add install log regex for insufficient permissions in AWS
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

consolidate AWS error blocks
  config/configmaps/install-log-regexes-configmap.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

make update
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-1604: Amalgamate build and operatorhub push scripts.
  hack/bundle-gen.py
  hack/requirements.txt
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

clusterresource/builder: add type metadata for adopted kubeconfig & password secret
  pkg/clusterresource/builder.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add github module, skip image rebuild, fix push
  hack/bundle-gen.py
  hack/github.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
