Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Updates from review.
  docs/enhancements/cluster-deployment-condition-refactor.md
Due: none

Rough thoughts on re-organizing clusterdeployment conditions.
  docs/enhancements/cluster-deployment-condition-refactor.md
Due: none

Comments and use ArgoCDEnvVar for enabling via hiveconfig.
  pkg/controller/argocdregister/argocdregister_controller.go
  pkg/controller/argocdregister/argocdregister_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove ClusterImageSetMissing condition.
  apis/hive/v1/clusterdeployment_types.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/metrics/metrics_test.go
  pkg/controller/utils/conditions_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update e2e-test.sh for ClusterPools (step 1)
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Optional default ArgoCD namespace.
  apis/hive/v1/hiveconfig_types.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Include cloud errors in dnszone condition
  apis/hive/v1/dnszone_types.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/dnszone/awsactuator.go
  pkg/controller/dnszone/awsactuator_test.go
  pkg/controller/dnszone/azureactuator.go
  pkg/controller/dnszone/dnszone_controller.go
  pkg/controller/dnszone/dnszone_controller_test.go
  pkg/controller/dnszone/gcpactuator.go
  pkg/controller/utils/errorscrub.go
  pkg/controller/utils/errorscrub_test.go
  vendor/github.com/aws/aws-sdk-go/service/kinesis/api.go
  vendor/github.com/aws/aws-sdk-go/service/kinesis/customizations.go
  vendor/github.com/aws/aws-sdk-go/service/kinesis/doc.go
  vendor/github.com/aws/aws-sdk-go/service/kinesis/errors.go
  vendor/github.com/aws/aws-sdk-go/service/kinesis/service.go
  vendor/github.com/aws/aws-sdk-go/service/kinesis/waiters.go
  vendor/github.com/openshift/hive/apis/hive/v1/dnszone_types.go
  vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

RFE: ClusterPool hot spares
  docs/enhancements/cluster_pool_hot_spares.md
Due: none

handle the possibility that an error isn't an awsError
  pkg/controller/dnszone/awsactuator.go
  pkg/controller/dnszone/dnszone_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

go.sum changes after 'make' (go 1.16)
  go.sum
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix panic in dnszone controller
  pkg/controller/dnszone/dnszone_controller.go
  pkg/controller/utils/errorscrub.go
  pkg/controller/utils/errorscrub_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hibernation: include machines in undesired state when hibernating/resuming
  pkg/controller/hibernation/aws_actuator.go
  pkg/controller/hibernation/aws_actuator_test.go
  pkg/controller/hibernation/azure_actuator.go
  pkg/controller/hibernation/azure_actuator_test.go
  pkg/controller/hibernation/gcp_actuator.go
  pkg/controller/hibernation/gcp_actuator_test.go
  pkg/controller/hibernation/hibernation_actuator.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
  pkg/controller/hibernation/mock/hibernation_actuator_generated.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hibernation: update in starting/stopping progress conditions message
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix panic when metadata is nil
  pkg/clusterresource/builder.go
  pkg/clusterresource/builder_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Build against go 1.16
  Dockerfile
  apis/go.mod
  build/build-image/Dockerfile
  go.mod
  vendor/github.com/openshift/hive/apis/go.mod
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Simulate hibernation for fake clusters
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Document cluster adoption.
  docs/developing.md
  docs/using-hive.md
Due: none

Fix adopted cluster crash assuming unreachable condition present.
  pkg/remoteclient/remoteclient.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove next provision details from ProvisionFailed condition.
  pkg/controller/clusterdeployment/clusterprovisions.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add optional backplane escalation for logextractor.sh
  hack/logextractor.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

go.sum updates for go 1.16
  apis/go.sum
  go.sum
  vendor/github.com/openshift/hive/apis/go.sum
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix missed ArgoCD config deepcopy.
  apis/hive/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add support for custom KMS key AWS disk encryption.
  apis/hive/v1/aws/machinepool.go
  config/crds/hive.openshift.io_machinepools.yaml
  pkg/controller/remotemachineset/awsactuator.go
  pkg/controller/remotemachineset/awsactuator_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/machinepool.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Document Duration types better
  apis/hive/v1/clusterclaim_types.go
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/clusterpool_types.go
  config/crds/hive.openshift.io_clusterclaims.yaml
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/clusterclaim_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterpool_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Test updates for new controller-runtime
  pkg/controller/clusterclaim/clusterclaim_controller_test.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/clusterrelocate/clusterrelocate_controller_test.go
  pkg/controller/dnsendpoint/dnsendpoint_controller_test.go
  pkg/controller/dnszone/dnszone_controller_test.go
  pkg/controller/remotemachineset/remotemachineset_controller_test.go
  pkg/controller/utils/ratelimitedeventhandler_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Allow clusters without clustersync to hibernate
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Scrub frequent Azure cloud dns errors
  pkg/controller/utils/errorscrub.go
  pkg/controller/utils/errorscrub_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Make metadata admin password secret optional.
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  apis/hivecontracts/v1alpha1/zz_generated.deepcopy.go
  apis/hiveinternal/v1alpha1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  pkg/clusterresource/builder.go
  pkg/controller/argocdregister/argocdregister_controller_test.go
  pkg/controller/clusterclaim/clusterclaim_controller_test.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/fakeclusterinstall/fakeclusterinstall_controller.go
  pkg/controller/machinemanagement/machinemanagement_controller_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hivecontracts/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hiveinternal/v1alpha1/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Safely delete ClusterDeployments
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/utils/utils.go
  pkg/controller/utils/utils_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Enforce format of Duration fields
  apis/hive/v1/clusterclaim_types.go
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/clusterpool_types.go
  config/crds/hive.openshift.io_clusterclaims.yaml
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/clusterclaim_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterpool_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterClaim handles CD deletion better
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterclaim/clusterclaim_controller_test.go
  pkg/test/clusterdeployment/clusterdeployment.go
  pkg/test/generic/generic.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hibernation: support hibernating spot instance for AWS clusters
  pkg/awsclient/client.go
  pkg/awsclient/mock/client_generated.go
  pkg/controller/hibernation/aws_actuator.go
  pkg/controller/hibernation/aws_actuator_test.go
  pkg/controller/hibernation/hibernation_actuator.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/mock/hibernation_actuator_generated.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

claim: Consolidate ClusterDeleted into ClusterRunning
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterclaim/clusterclaim_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix some typos I noticed
  pkg/controller/clusterpool/clusterpool_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Don't allow excess claims to create extra CDs
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix build-machinery-go dependencies
  Makefile
  config/operator/operator_role_binding.yaml
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Index ClusterDeployments by Pool in clusterpool_controller
  pkg/controller/clusterpool/clusterpool_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add a match for GCP CPU quota
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
