Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Add PreserveOnDelete to DNSZones.
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/dnszone_types.go
  config/crds/hive.openshift.io_dnszones.yaml
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/dnszone/dnszone_controller.go
  pkg/controller/dnszone/dnszone_controller_test.go
  pkg/controller/dnszone/test_helpers.go
  pkg/test/clusterdeployment/clusterdeployment.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/dnszone_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Don't add apiextensions to scheme
  cmd/manager/main.go
  cmd/operator/main.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

apiextensions s/v1beta1/v1/
  cmd/manager/main.go
  cmd/operator/main.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

catch failures for iam.googleapis.com/quota/service-account-count quota
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

remotemachineset: aws: fallback to using kubernetes.io/role/elb tag for public subnets when route tables are not enough
  pkg/controller/remotemachineset/awsactuator.go
  pkg/controller/remotemachineset/awsactuator_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hibernation: support hibernating spot instance for AWS clusters
  pkg/awsclient/client.go
  pkg/awsclient/mock/client_generated.go
  pkg/controller/hibernation/aws_actuator.go
  pkg/controller/hibernation/aws_actuator_test.go
  pkg/controller/hibernation/hibernation_actuator.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/mock/hibernation_actuator_generated.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Tighten TestReconcileClusterClaim
  pkg/controller/clusterclaim/clusterclaim_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove Office Hours
  README.md
Due: none

fix app-sre build script current hash grab
  hack/app_sre_create_image_catalog.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Claim: Add ClusterRunning=>ClusterDeleting condition
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterclaim/clusterclaim_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hiveconfig: allow choosing dns record type for private link
  apis/hive/v1/hiveconfig_types.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  docs/awsprivatelink.md
  pkg/awsclient/client.go
  pkg/awsclient/mock/client_generated.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Hibernation bug with fake clusters
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Make owned CRD order deterministic in CSV
  hack/generate-operator-bundle-operatorhub.py
  hack/generate-operator-bundle.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Actually start hibernated machines
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

docs: include a dev guide for setting up private link network
  docs/awsprivatelink.md
  hack/awsprivatelink/vpc.cf.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Apply suggestions from code review; mostly doc fixes
  apis/hive/v1/hiveconfig_types.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  docs/awsprivatelink.md
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix transfer of PreserveOnDelete to DNSZone for installed clusters.
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Introduce e2e-pool test
  Makefile
  hack/e2e-common.sh
  hack/e2e-pool-test.sh
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Move full DNS zone checking earlier in clusterdeployment controller.
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ErrorScrub message in setHibernatingCondition to remove AWS request_id.
  pkg/controller/hibernation/hibernation_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Hide internal CRs from OLM UI
  config/templates/hive-csv-template.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update the docs
  docs/developing.md
Due: none

Add templates, scripts, targets for OLM-less deploy
  Makefile
  hack/app-sre/generate-saas-template.py
  hack/app-sre/kustomization.yaml
  hack/app-sre/saas-template-stub.yaml
  hack/app-sre/saas-template.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove obsolete ClusterClaimClusterDeletedCondition
  apis/hive/v1/clusterclaim_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterclaim_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Consolidate claim assignment into clusterpool_controller
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterclaim/clusterclaim_controller_test.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/clusterpool/collections.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

clusterpool_controller: Verify ClusterClaim Pending condition
  pkg/controller/clusterpool/clusterpool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Scrub errors for clusters unreachable due to cert dates.
  pkg/controller/utils/errorscrub.go
  pkg/controller/utils/errorscrub_test.go
  pkg/remoteclient/remoteclient.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update bmg, remove imagebuilder workaround
  Makefile
  go.mod
  go.sum
  vendor/github.com/openshift/build-machinery-go/make/targets/golang/version.mk
  vendor/github.com/openshift/build-machinery-go/make/targets/openshift/controller-gen.mk
  vendor/github.com/openshift/build-machinery-go/make/targets/openshift/images.mk
  vendor/github.com/openshift/build-machinery-go/make/targets/openshift/kustomize.mk
  vendor/github.com/openshift/build-machinery-go/make/targets/openshift/yaml-patch.mk
  vendor/github.com/openshift/build-machinery-go/make/targets/openshift/yq.mk
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix transfer of PreserveOnDelete to DNSZone when deleted.
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Include CertData, KeyData in TLSClientConfig for ArgoCD cluster.
  pkg/controller/argocdregister/argocdregister_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add NoWorkerNodes to install-log-regexes-configmap
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

DNM: Test e2e
  contrib/pkg/adm/managedns/enable.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Hack: Hardcode crb subject namespace for app-sre
  hack/app-sre/kustomization.yaml
  hack/app-sre/operator_role_binding.yaml
  hack/app-sre/saas-template.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

save
  docs/using-hive.md
Due: none

tweak
  docs/using-hive.md
Due: none

ClusterPool:ClusterDeployment version & condition
  apis/hive/v1/clusterpool_types.go
  go.mod
  go.sum
  pkg/constants/constants.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/clusterpool/collections.go
  pkg/test/clusterdeployment/clusterdeployment.go
  pkg/test/clusterpool/clusterpool.go
  vendor/github.com/davegardnerisme/deephash/.travis.yml
  vendor/github.com/davegardnerisme/deephash/LICENSE
  vendor/github.com/davegardnerisme/deephash/README.md
  vendor/github.com/davegardnerisme/deephash/deephash.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterpool_types.go
  vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add RequirementsMet condition to provision delay metric.
  pkg/controller/metrics/provision_underway_collector.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
