Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Apply Opts pattern to dynamic labels
  apis/hive/v1/metricsconfig/metrics_config.go
  apis/hive/v1/metricsconfig/zz_generated.deepcopy.go
  pkg/controller/clusterdeployment/metrics.go
  pkg/controller/clusterprovision/metrics.go
  pkg/controller/metrics/metrics_with_dynamic_labels.go
  vendor/github.com/openshift/hive/apis/hive/v1/metricsconfig/metrics_config.go
  vendor/github.com/openshift/hive/apis/hive/v1/metricsconfig/zz_generated.deepcopy.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Some more changes per review comments
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterinstalls.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeployment/metrics.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/clusterprovision/clusterprovision_controller_test.go
  pkg/controller/clusterprovision/metrics.go
  pkg/controller/metrics/metrics_with_dynamic_labels.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Last(?) iteration
  pkg/controller/clusterdeployment/metrics.go
  pkg/controller/clusterprovision/metrics.go
  pkg/controller/metrics/metrics.go
  pkg/controller/metrics/metrics_with_dynamic_labels.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Set ulimit for image build.
  hack/app_sre_build_deploy.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "Merge pull request #1963 from abutcher/podman-ulimit"
  hack/app_sre_build_deploy.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Resolve dependabot issues 8-14
  apis/go.mod
  apis/go.sum
  apis/vendor/golang.org/x/net/http2/frame.go
  apis/vendor/golang.org/x/net/http2/hpack/hpack.go
  apis/vendor/golang.org/x/net/http2/server.go
  apis/vendor/modules.txt
  go.mod
  go.sum
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/server.go
  vendor/modules.txt
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

modcheck: handle multiple replacements for same lib
  hack/modcheck.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add new SOP for troubleshooting misconfigured API certificates
  docs/troubleshooting.md
Due: none

Fix closure using loop variable for go 1.20
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Prompt CI to bump to go 1.20
  build/build-image/Dockerfile
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add more detail to API certificate changed troubleshooting doc.
  docs/troubleshooting.md
Due: none

Upgrade build-machinery-go for `make vulncheck`
  go.mod
  go.sum
  vendor/github.com/openshift/build-machinery-go/make/default.example.mk.help.log
  vendor/github.com/openshift/build-machinery-go/make/golang.example.mk.help.log
  vendor/github.com/openshift/build-machinery-go/make/operator.example.mk.help.log
  vendor/github.com/openshift/build-machinery-go/make/targets/golang/test-unit.mk
  vendor/github.com/openshift/build-machinery-go/make/targets/golang/vulncheck.mk
  vendor/github.com/openshift/build-machinery-go/scripts/vulncheck.sh
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Clean up dependabot `replace`s
  apis/go.mod
  apis/go.sum
  apis/vendor/modules.txt
  go.mod
  go.sum
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Bump appsre image tag from 7 to 10c
  hack/app_sre_build_deploy.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Set ulimit for buildah image build.
  Makefile
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Added hiveconfig.awsPrivateLink.SharedHostedZoneDomains
  apis/hive/v1/hiveconfig_types.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller_test.go
  pkg/controller/awsprivatelink/cleanup.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Clarify private subnets requirement for AWS MachinePools in API field.
  apis/hive/v1/aws/machinepool.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/aws/machinepool.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Bump to go 1.20
  Dockerfile
  Dockerfile.ubi
  apis/go.mod
  docs/developing.md
  go.mod
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix flaky TestGetName
  apis/helpers/namer_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fetch version from converted bundle directories instead of yaml file
  hack/bundle-gen.py
  hack/requirements.txt
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Refactor bundlegen script
  hack/bundle-gen.py
  hack/version.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Format hack/ files with black
  hack/app-sre/generate-saas-template.py
  hack/bundle-gen.py
  hack/github.py
  hack/version.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Drop unused args from incProvisionFailedTerminal()
  pkg/controller/clusterdeployment/clusterinstalls.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeployment/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Log ProvisionFailedTerminal metric for fatal DNS conditions
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add ResourceGroupName to Azure platform.
  apis/hive/v1/azure/platform.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  contrib/pkg/deprovision/azure.go
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/azureactuator.go
  pkg/install/generate.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/platform.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Test that MachineSet ResourceGroup is correct when ResourceGroupName overridden within ClusterDeployment Azure platform.
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Plumb ResourceGroupName into ClusterDeprovision.
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add ResourceGroupName to ClusterDeprovision.
  apis/hive/v1/clusterdeprovision_types.go
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Updates to wording and formatting from review comments.
  apis/hive/v1/azure/platform.go
  apis/hive/v1/clusterdeprovision_types.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/azureactuator.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Report time since DeletionTimestamp for deprovision metric
  pkg/controller/metrics/metrics.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hiveutil aws-tag-deprovision: don't require a cluster
  contrib/pkg/deprovision/awstagdeprovision.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterPool: hold until all clusters deleted, subject to maxConcurrent
  apis/hive/v1/clusterpool_types.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/clusterpool/collections.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterpool_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix nil pointer exception looking up no workers
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/clusterprovision/clusterprovision_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

New install failure reason: NoWorkerNodesReady
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update ClusterPool status counts while deleting
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/clusterpool/collections.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
