Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Add featureset flag to hiveutil
  contrib/pkg/createcluster/create.go
  pkg/clusterresource/builder.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

mce-2.3: Disable autoscale e2e test for GCP, Azure ONLY IN mce-2.3!
  test/e2e/postinstall/machinesets/infra_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Allow azure resource group to be set/updated in clusterMetadata
  docs/using-hive.md
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

DNM: Test CI on mce-2.3
  README.md
Due: none

Add azure-resource-group-name flag to hiveutil
  contrib/pkg/createcluster/create.go
  pkg/clusterresource/azure.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Comment: freeze ClusterAutoscaler configuration by MachinePool controller
  pkg/controller/machinepool/machinepool_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterClaim controller: Watch RoleBindings
  pkg/controller/clusterclaim/clusterclaim_controller.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add timestamps to messages in e2e tests
  hack/e2e-common.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Skip configuring CA when object already exists
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: minor fixes
  hack/e2e-pool-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Re-enable autoscale test for Azure/GCP
  test/e2e/postinstall/machinesets/infra_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

AWS MachinePool: Allow public and/or private subnets
  apis/hive/v1/aws/machinepool.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/awsactuator_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/machinepool.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

rewrite bundle-gen, use app-sre image
  Makefile
  hack/bundle-gen.py
  hack/version.py
  hack/version2.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Introduce new field for installer image pull policy
  apis/hive/v1/clusterdeployment_types.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Set image pull policy on installer image
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/imageset/updateinstaller.go
  pkg/imageset/updateinstaller_test.go
  pkg/install/generate.go
  pkg/install/generate_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

bundle-gen: Validate image
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterPool: Document deletion behavior
  docs/clusterpools.md
Due: none

bundle-gen: Enforce (skippably) image validation
  hack/bundle-gen.py
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Hibernation: No more pause, hack ClusterOperators
  apis/hive/v1/clusterdeployment_types.go
  pkg/constants/constants.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
  pkg/controller/metrics/metrics.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update OperatorHub CSV
  config/templates/hive-csv-template.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Merge Labels/Taints of MachineSets
  docs/using-hive.md
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "Merge Labels/Taints of MachineSets"
  docs/using-hive.md
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePool: Allow Platform edits via override
  pkg/constants/constants.go
  pkg/controller/machinepool/awsactuator_test.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/validating-webhooks/hive/v1/machinepool_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/machinepool_validating_admission_hook_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e: print name of stale resource in old targetNamespace
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e: add pod security on busybox for autoscaler test
  test/e2e/postinstall/machinesets/infra_test.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "Require TLS cipher min version TLSv1.3"
  config/hiveadmission/deployment.yaml
  pkg/operator/assets/bindata.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Deployment patch example misses the spec part
  docs/syncset.md
Due: none

e2e: Save interim manifests
  hack/e2e-common.sh
  hack/e2e-pool-test.sh
  hack/e2e-test.sh
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Red Hat Trusted App Pipeline update hive-master
  .tekton/hive-master-pull-request.yaml
  .tekton/hive-master-push.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

update aws default instance parameters
  docs/using-hive.md
  pkg/clusterresource/aws.go
  pkg/controller/clusterdeployment/installconfigvalidation_test.go
  pkg/installmanager/installmanager_test.go
  pkg/installmanager/testdata/install-config-with-existing-pull-secret.yaml
  pkg/installmanager/testdata/install-config-with-pull-secret.yaml
  pkg/installmanager/testdata/install-config.yaml
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Serve pprof for hive-controllers, hive-clustersync
  cmd/manager/main.go
  docs/developing.md
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Hard-code the previously-unpopulated .apiVersion and .kind fields so that the Secret/hive-additional-ca can be deleted by controller.
  pkg/operator/hive/hive.go
Due: ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
