Repository red-hat-data-services/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  ci/prow/odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)

Switch konflux build image for notebook-controller tag v1.10.0-4
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

NO-JIRA: chore(konflux): rm tekton pipelines for konflux in main branch
  .tekton/kf-notebook-controller-pull-request.yaml
  .tekton/kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

Improve formatKeyName function to handle all invalid ConfigMap key characters (#663)
  components/odh-notebook-controller/controllers/notebook_runtime.go
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

[RHOAIENG-29976] bump go-toolset image from 1.23 to 1.24
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

update multi arch
  .tekton/odh-kf-notebook-controller-v2-24-pull-request.yaml
Due: none

update multi arch
  .tekton/odh-notebook-controller-v2-24-pull-request.yaml
Due: none

should verify this is okay
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Adding multi-arch support for z in CI for notebook-controller & odh-notebook-controller
  components/notebook-controller/DUMMY_FILE
  components/odh-notebook-controller/DUMMY_FILE
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(OWNERS): update list of approvers and reviewers to this repo
  OWNERS
Due: none

Arm build for konflux
  .tekton/odh-kf-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
Due: none

# retry konflux build to fix RHOAIENG-31914
  .tekton/odh-kf-notebook-controller-v2-24-push.yaml
Due: none

# retry konflux build to fix RHOAIENG-31914
  .tekton/odh-notebook-controller-v2-24-push.yaml
Due: none

[RHOAIENG-31730] extract the oauth proxy image into params.env file
  .github/workflows/odh_notebook_controller_integration_test.yaml
  components/odh-notebook-controller/config/base/kustomization.yaml
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/config/manager/manager.yaml
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

fix(params.env): missing oauth-proxy data for kustomization input
  components/odh-notebook-controller/config/base/params.env
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

[RHOAIENG-31063] bump the oauth proxy image to RHEL9 and latest
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

[rhoai-2.22.2][RHOAIENG-31063] Bump oauth image (#725)
  .github/workflows/odh_notebook_controller_integration_test.yaml
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Patch the latest v1.10.0-5 image for release
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

NO-JIRA: chore(log): use regular hyphen instead of a dash
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Drop v2-25 pull request pipelines
  .tekton/odh-kf-notebook-controller-v2-25-pull-request.yaml
  .tekton/odh-notebook-controller-v2-25-pull-request.yaml
Due: none

[RHOAIENG-33901] Allow to config resource requests/limits for OAuthProxy (#688)
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
  components/odh-notebook-controller/controllers/oauth_proxy_resources_test.go
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_controller_setup_test.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
  components/odh-notebook-controller/e2e/notebook_deletion_test.go
  components/odh-notebook-controller/e2e/notebook_update_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

feat: update public API endpoint format of Elyra to point to Dashboard's external route
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update notebook-controller with image 1.10.0-6 tag
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(KONFLUX-6210): fix and set name and cpe label for odh-notebook-controller-v2-23
  components/odh-notebook-controller/Dockerfile.konflux
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(KONFLUX-6210): fix and set name and cpe label for odh-kf-notebook-controller-v2-23
  components/notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit
