Repository red-hat-data-services/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  ci/prow/odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)

NO-ISSUE: chore(sync): manually bring rhds into sync with odh v1.9 where they drifted (#177)
  components/base/kustomization.yaml
  components/notebook-controller/config/overlays/openshift/manager_openshift_patch.yaml
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/e2e/helper_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Synces kustomization.yaml namespace with what we have in upstream
  components/notebook-controller/config/overlays/openshift/kustomization.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update rhoai version 2.16.1
  .tekton/odh-kf-notebook-controller-v2-16-push.yaml
Due: none

Update rhoai version 2.16.1
  .tekton/odh-notebook-controller-v2-16-push.yaml
Due: none

Copy Tekton files and increment version from rhoai-2.16 to rhoai-2.17
  .tekton/odh-kf-notebook-controller-v2-17-pull-request.yaml
  .tekton/odh-kf-notebook-controller-v2-17-push.yaml
  .tekton/odh-notebook-controller-v2-17-pull-request.yaml
  .tekton/odh-notebook-controller-v2-17-push.yaml
Due: none

Konflux Internal p02 update odh-kf-notebook-controller-v2-17 Signed-off-by: konflux-internal-p02 <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-kf-notebook-controller-v2-17-pull-request.yaml
  .tekton/odh-kf-notebook-controller-v2-17-push.yaml
Due: none

Konflux Internal p02 update odh-notebook-controller-v2-17 Signed-off-by: konflux-internal-p02 <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-notebook-controller-v2-17-pull-request.yaml
  .tekton/odh-notebook-controller-v2-17-push.yaml
Due: none

Update renovate.json
  .github/renovate.json
Due: none

add Dockerfile.konflux and rpm files for 2.13 odh-notebook and odh-kf-notebook
  components/notebook-controller/Dockerfile.konflux
  components/notebook-controller/rpms.in.yaml
  components/notebook-controller/rpms.lock.yaml
  components/notebook-controller/ubi.repo
  components/odh-notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/rpms.in.yaml
  components/odh-notebook-controller/rpms.lock.yaml
  components/odh-notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-17634: ref(odh-nbc/tests): create Gomega custom matcher for comparing CRs in kubeflow notebooks tests
  components/odh-notebook-controller/controllers/matchers_test.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

add Dockerfile.konflux and rpm files for rhoai-2.13
  components/notebook-controller/Dockerfile.konflux
  components/notebook-controller/rpms.in.yaml
  components/notebook-controller/rpms.lock.yaml
  components/notebook-controller/ubi.repo
  components/odh-notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/rpms.in.yaml
  components/odh-notebook-controller/rpms.lock.yaml
  components/odh-notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

add Dockerfile.konflux and rpm files for 2.13 odh-notebook and odh-kf-notebook (#194)
  components/notebook-controller/Dockerfile.konflux
  components/notebook-controller/rpms.in.yaml
  components/notebook-controller/rpms.lock.yaml
  components/notebook-controller/ubi.repo
  components/odh-notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/rpms.in.yaml
  components/odh-notebook-controller/rpms.lock.yaml
  components/odh-notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

add Dockerfile.konflux and rpm files for rhoai-2.13 (#195)
  components/notebook-controller/Dockerfile.konflux
  components/notebook-controller/rpms.in.yaml
  components/notebook-controller/rpms.lock.yaml
  components/notebook-controller/ubi.repo
  components/odh-notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/rpms.in.yaml
  components/odh-notebook-controller/rpms.lock.yaml
  components/odh-notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Konflux Internal p02 update odh-kf-notebook-controller-v2-13 Signed-off-by: konflux-internal-p02 <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-kf-notebook-controller-v2-13-pull-request.yaml
  .tekton/odh-kf-notebook-controller-v2-13-push.yaml
Due: none

Konflux Internal p02 update odh-notebook-controller-v2-13 Signed-off-by: konflux-internal-p02 <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-notebook-controller-v2-13-pull-request.yaml
  .tekton/odh-notebook-controller-v2-13-push.yaml
Due: none

Sync Tekton files from rhoai-2.17 to rhoai-2.13 with updated versioning
  .tekton/odh-kf-notebook-controller-v2-13-pull-request.yaml
  .tekton/odh-kf-notebook-controller-v2-13-push.yaml
  .tekton/odh-notebook-controller-v2-13-pull-request.yaml
  .tekton/odh-notebook-controller-v2-13-push.yaml
Due: none

RHOAIENG-17634: chore(odh-nbc/tests): implement diff minimization for k8s objects diffs (#503)
  components/odh-notebook-controller/controllers/matchers_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Sync push Tekton files from rhoai-2.17 to rhoai-2.18 with updated versioning
  .tekton/odh-kf-notebook-controller-v2-18-push.yaml
  .tekton/odh-notebook-controller-v2-18-push.yaml
Due: none

Update odh-kf-notebook-controller-v2-17-push.yaml
  .tekton/odh-kf-notebook-controller-v2-17-push.yaml
Due: none

add repo ids to cpe mapping
  components/notebook-controller/rpms.lock.yaml
  components/notebook-controller/ubi.repo
  components/odh-notebook-controller/rpms.lock.yaml
  components/odh-notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

add repo ids to cpe mapping
  components/notebook-controller/ubi.repo
  components/odh-notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

update renovate and prefetch-dependencies-oci-ta image
  .github/renovate.json
  .tekton/odh-kf-notebook-controller-v2-18-push.yaml
  .tekton/odh-notebook-controller-v2-18-push.yaml
Due: none

Update odh and notebook-controller with image 1.9-85b61f0
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

add repo ids mappings
  components/notebook-controller/rpms.lock.yaml
  components/notebook-controller/ubi.repo
  components/odh-notebook-controller/rpms.lock.yaml
  components/odh-notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

updating repo ids and cpu arc
  components/notebook-controller/rpms.lock.yaml
  components/notebook-controller/ubi.repo
  components/odh-notebook-controller/rpms.lock.yaml
  components/odh-notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Sync push Tekton files from rhoai-2.18 to rhoai-2.19 with updated versioning
  .tekton/odh-kf-notebook-controller-v2-19-push.yaml
  .tekton/odh-notebook-controller-v2-19-push.yaml
Due: none

Sync push Tekton files from rhoai-2.17 to rhoai-2.8 with updated versioning
  .tekton/odh-kf-notebook-controller-v2-8-push.yaml
  .tekton/odh-notebook-controller-v2-8-push.yaml
Due: none

Update odh and notebook-controller with image 1.9-743c9ca
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Red Hat Konflux update kf-notebook-controller Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/kf-notebook-controller-pull-request.yaml
  .tekton/kf-notebook-controller-push.yaml
Due: none

Red Hat Konflux update odh-notebook-controller Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

RHOAIENG-18401, RHOAIENG-18402: chore(.github/renovate.json5): configure Renovate for ODH-io/kubeflow repository
  .github/renovate.json5
Due: none

Update odh and notebook-controller with image 1.9-25b27fd
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update odh and notebook-controller with image 1.9-b574b35
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-5114: feat(build): konflux build on ARM64, Power, Z Architectures
  .tekton/kf-notebook-controller-pull-request.yaml
  .tekton/kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

update: handle of imagestream
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

fix staticcheck linter err
  components/odh-notebook-controller/e2e/notebook_creation_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

fix linter deprecated pointer (#542)
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit
