Repository red-hat-data-services/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  ci/prow/odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)

Update odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
Due: none

Update odh-kf-notebook-controller-push.yaml
  .tekton/odh-kf-notebook-controller-push.yaml
Due: none

Add timeout
  .tekton/kubeflow-group-test.yaml
Due: none

Update odh-notebook-controller-v3-3-push.yaml
  .tekton/odh-notebook-controller-v3-3-push.yaml
Due: none

Update run-e2e-test.sh
  components/odh-notebook-controller/run-e2e-test.sh
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

revert change
  components/odh-notebook-controller/run-e2e-test.sh
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

fix(manifests): update nbc images references
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Konflux Internal p02 update odh-kf-notebook-controller-v3-4-ea-2
  .tekton/odh-kf-notebook-controller-v3-4-ea-2-pull-request.yaml
  .tekton/odh-kf-notebook-controller-v3-4-ea-2-push.yaml
Due: none

Konflux Internal p02 update odh-notebook-controller-v3-4-ea-2
  .tekton/odh-notebook-controller-v3-4-ea-2-pull-request.yaml
  .tekton/odh-notebook-controller-v3-4-ea-2-push.yaml
Due: none

[RHOAIENG-31065] Update the outdated ose-oauth-proxy image
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Enforce the minimum Go lang version for build to 1.25.7
  components/notebook-controller/go.mod
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Bump go-toolset images from golang 1.24 to 1.25 for konflux builds
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update the go version to the latest patch version
  components/common/go.mod
  components/notebook-controller/go.mod
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Use the latest go-toolset image available
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

[RHOAIENG-12107] fix some linter issues in odh-nbc component
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_network.go
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Konflux Internal p02 update odh-notebook-controller-test2
  .tekton/odh-notebook-controller-test2-pull-request.yaml
  .tekton/odh-notebook-controller-test2-push.yaml
Due: none
