Repository red-hat-data-services/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  ci/prow/odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)

NO-JIRA: chore(dev): ensure same webhookCertDir location on Linux and macOS (#612)
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Switch SET_PIPELINE_RBAC env to true
  components/odh-notebook-controller/config/manager/manager.yaml
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Complete running 'kustomize edit fix --vars' on all components in notebook and odh-notebook
  components/base/kustomization.yaml
  components/notebook-controller/config/crd/kustomization.yaml
  components/notebook-controller/config/default/kustomization.yaml
  components/notebook-controller/config/manager/kustomization.yaml
  components/notebook-controller/config/overlays/kubeflow/kustomization.yaml
  components/notebook-controller/config/overlays/openshift/kustomization.yaml
  components/notebook-controller/config/overlays/openshift/manager_openshift_patch.yaml
  components/notebook-controller/config/overlays/service-mesh/kustomization.yaml
  components/notebook-controller/config/overlays/standalone-service-mesh/kustomization.yaml
  components/notebook-controller/config/overlays/standalone/kustomization.yaml
  components/notebook-controller/config/rbac/kustomization.yaml
  components/odh-notebook-controller/config/base/kustomization.yaml
  components/odh-notebook-controller/config/default/kustomization.yaml
  components/odh-notebook-controller/config/development/kustomization.yaml
  components/odh-notebook-controller/config/manager/kustomization.yaml
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/config/rbac/kustomization.yaml
  components/odh-notebook-controller/config/webhook/kustomization.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update odh and notebook-controller with image 1.10-452e80c
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update code-quality.yaml to include kustomize check within code-quality github action (#622)
  .github/workflows/code-quality.yaml
Due: none

RHOAIENG-23204: feat: Introduce dspa secret controller to handle ds-pipeline-config lifecycle (#607)
  components/odh-notebook-controller/config/crd/external/opendatahub.io_dashboard.yaml
  components/odh-notebook-controller/config/crd/external/opendatahub.io_dspa.yaml
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update odh and notebook-controller with image 1.10-f2df351
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Make cluster-proxy env in workbenches as optional
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

NO-JIRA: disable poem by creating `.coderabbit.yaml` (#629)
  .coderabbit.yaml
Due: none

Include service-ca cert bundle to workbench-ca bundle - For service-to-service interaction, the service-ca bundle is relied upon
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-25707: feat(webhook): read namespace annotation on Notebook CR to locate ImageStream (#625)
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

NO-JIRA: chore(dev): update the logger names for the ODH notebook ctrl (#621)
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update odh and notebook-controller with image 1.10-545e639 (#630)
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update odh and notebook-controller with image 1.10-c09c598
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-24545, RHOAIENG-27813: tests(odh-nbc): extend the runtime images configmap tests (#623)
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update odh-notebook-controller-v2-22-push.yaml
  .tekton/odh-notebook-controller-v2-22-push.yaml
Due: none

Update odh-kf-notebook-controller-v2-22-push.yaml
  .tekton/odh-kf-notebook-controller-v2-22-push.yaml
Due: none

Update odh and notebook-controller with image 1.10-6169214
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

NO-JIRA: delete `components/notebook-controller/config/overlays/standalone-service-mesh/cert-secret.yaml` (#637)
  components/notebook-controller/config/overlays/standalone-service-mesh/cert-secret.yaml
  components/notebook-controller/config/overlays/standalone-service-mesh/kustomization.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update odh and notebook-controller with image 1.10-de220c0 (#642)
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-25707: test(odh-nbc): additional testcases as per review feedback (#643)
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

add @jesuino to OWNERS
  OWNERS
Due: none

Add .editorconfig to enforce coding styles (#647)
  .editorconfig
Due: none

Konflux Internal p02 update odh-kf-notebook-controller-v2-23-multi-arch-poc Signed-off-by: konflux-internal-p02 <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-kf-notebook-controller-v2-23-multi-arch-poc-pull-request.yaml
  .tekton/odh-kf-notebook-controller-v2-23-multi-arch-poc-push.yaml
Due: none

remove ACK_GINKGO_DEPRECATIONS=1.16.5 env var in make test (#650)
  components/odh-notebook-controller/Makefile
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

replace `context.Background()` with global context in notebook controller tests (#649)
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
  components/odh-notebook-controller/controllers/notebook_webhook_utils_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

delete old and nonmultiarch tekton files
  .tekton/kf-notebook-controller-pull-request.yaml
  .tekton/kf-notebook-controller-push.yaml
  .tekton/odh-kf-notebook-controller-v2-23-push.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-v2-23-push.yaml
Due: none

delete old and nonmultiarch tekton files (#632)
  .tekton/kf-notebook-controller-pull-request.yaml
  .tekton/kf-notebook-controller-push.yaml
  .tekton/odh-kf-notebook-controller-v2-23-push.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-v2-23-push.yaml
Due: none

Konflux Internal p02 update odh-notebook-controller-v2-23-multi-arch-poc Signed-off-by: konflux-internal-p02 <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-notebook-controller-v2-23-multi-arch-poc-pull-request.yaml
  .tekton/odh-notebook-controller-v2-23-multi-arch-poc-push.yaml
Due: none

sanitize replacer on the formatKeyName funtion for runtimes configmap population (#653)
  components/odh-notebook-controller/controllers/notebook_runtime.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update odh and notebook-controller with image 1.10-
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Add commit hash on the image tag
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

[RHOAIENG-29976] bump the go-toolset image from 1.23 to 1.24
  components/notebook-controller/Dockerfile
  components/notebook-controller/go.mod
  components/odh-notebook-controller/Dockerfile
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

[RHOAIENG-29976] bump the go-toolset from UBI8 to UBI9
  DEPENDENCIES.md
  components/notebook-controller/Dockerfile
  components/odh-notebook-controller/Dockerfile
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

test of konflux multiarch builds
  .gitignore
  testfile
Due: none

Add logging for INJECT_CLUSTER_PROXY_ENV parse errors
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

[RHOAIENG-29976] bump go-toolset image from 1.23 to 1.24
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit
