Repository red-hat-data-services/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  ci/prow/odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)

fix: components/example-notebook-servers/jupyter/requirements.txt to reduce vulnerabilities
  components/example-notebook-servers/jupyter/requirements.txt
Due: none

fix: components/example-notebook-servers/jupyter-tensorflow/cuda-requirements.txt to reduce vulnerabilities
  components/example-notebook-servers/jupyter-tensorflow/cuda-requirements.txt
Due: none

fix: components/example-notebook-servers/codeserver-python/requirements.txt to reduce vulnerabilities
  components/example-notebook-servers/codeserver-python/requirements.txt
Due: none

fix: components/example-notebook-servers/jupyter-scipy/requirements.txt to reduce vulnerabilities
  components/example-notebook-servers/jupyter-scipy/requirements.txt
Due: none

fix: components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/requirements.txt to reduce vulnerabilities
  components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/requirements.txt
Due: none

fix: components/example-notebook-servers/jupyter-tensorflow/cpu-requirements.txt to reduce vulnerabilities
  components/example-notebook-servers/jupyter-tensorflow/cpu-requirements.txt
Due: none

fix: components/example-notebook-servers/jupyter-tensorflow-full/requirements.txt to reduce vulnerabilities
  components/example-notebook-servers/jupyter-tensorflow-full/requirements.txt
Due: none

fix: components/centraldashboard/package.json & components/centraldashboard/package-lock.json to reduce vulnerabilities
  components/centraldashboard/package-lock.json
  components/centraldashboard/package.json
Due: none

Update prow_config.yaml
  prow_config.yaml
Due: none

fix: components/crud-web-apps/tensorboards/frontend/package.json & components/crud-web-apps/tensorboards/frontend/package-lock.json to reduce vulnerabilities
  components/crud-web-apps/tensorboards/frontend/package-lock.json
  components/crud-web-apps/tensorboards/frontend/package.json
Due: none

fix: components/centraldashboard-angular/backend/package.json & components/centraldashboard-angular/backend/package-lock.json to reduce vulnerabilities
  components/centraldashboard-angular/backend/package-lock.json
  components/centraldashboard-angular/backend/package.json
Due: none

fix: components/crud-web-apps/jupyter/frontend/package.json & components/crud-web-apps/jupyter/frontend/package-lock.json to reduce vulnerabilities
  components/crud-web-apps/jupyter/frontend/package-lock.json
  components/crud-web-apps/jupyter/frontend/package.json
Due: none

fix: components/crud-web-apps/volumes/frontend/package.json & components/crud-web-apps/volumes/frontend/package-lock.json to reduce vulnerabilities
  components/crud-web-apps/volumes/frontend/package-lock.json
  components/crud-web-apps/volumes/frontend/package.json
Due: none

fix: components/crud-web-apps/common/frontend/kubeflow-common-lib/package.json & components/crud-web-apps/common/frontend/kubeflow-common-lib/package-lock.json to reduce vulnerabilities
  components/crud-web-apps/common/frontend/kubeflow-common-lib/package-lock.json
  components/crud-web-apps/common/frontend/kubeflow-common-lib/package.json
Due: none

Review Dockerfile and RPM files for building odh-kf-notebook-controller in Konflux
  components/notebook-controller/Dockerfile.konflux
  components/notebook-controller/rpms.in.yaml
  components/notebook-controller/rpms.lock.yaml
  components/notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Review Dockerfile and RPM files for building odh-notebook-controller in konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Review Dockerfile and RPM files for building odh-notebook-controller in konflux
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/rpms.in.yaml
  components/odh-notebook-controller/rpms.lock.yaml
  components/odh-notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Review Dockerfile and RPM files for building odh-kf-notebook-controller in Konflux
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

update LABELs for konflux builds
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Revert "[v1.9-branch] RHOAIENG-10827: feat(nbcs): update ose-oauth-proxy image digest reference from 4.8 to the latest 4.14 version (#388)"
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

NO-JIRA: fix(gha): replace oc with kubectl in notebook_controller_integration_test.yaml
  .github/workflows/notebook_controller_integration_test.yaml
  .github/workflows/odh_notebook_controller_integration_test.yaml
Due: none

add renovate.json config
  .github/renovate.json
Due: none

add renovate config
  .github/renovate.json
Due: none

remove renovate config from main
  .github/renovate.json
Due: none

remove renovate config
  .github/renovate.json
Due: none

Konflux Internal p02 update odh-kf-notebook-controller-v2-16 Signed-off-by: konflux-internal-p02 <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-kf-notebook-controller-v2-16-pull-request.yaml
  .tekton/odh-kf-notebook-controller-v2-16-push.yaml
Due: none

Konflux Internal p02 update odh-notebook-controller-v2-16 Signed-off-by: konflux-internal-p02 <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-notebook-controller-v2-16-pull-request.yaml
  .tekton/odh-notebook-controller-v2-16-push.yaml
Due: none

add tekton and hermetic build changes
  .tekton/odh-kf-notebook-controller-v2-16-pull-request.yaml
  .tekton/odh-kf-notebook-controller-v2-16-push.yaml
  .tekton/odh-notebook-controller-v2-16-pull-request.yaml
  .tekton/odh-notebook-controller-v2-16-push.yaml
Due: none
