Repository red-hat-data-services/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  ci/prow/odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)

add tekton and hermetic build changes
  .tekton/odh-kf-notebook-controller-v2-16-push.yaml
Due: none

Update Dockerfile.konflux
  components/notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

update Dockerfile.konflux
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update odh-kf-notebook-controller-v2-16-push.yaml
  .tekton/odh-kf-notebook-controller-v2-16-push.yaml
Due: none

Update odh-notebook-controller-v2-16-push.yaml
  .tekton/odh-notebook-controller-v2-16-push.yaml
Due: none

add slack notification changes
  .tekton/odh-kf-notebook-controller-v2-16-push.yaml
Due: none

add slack notification changes to odh-notebook
  .tekton/odh-notebook-controller-v2-16-push.yaml
Due: none

Back port the x/net package v0.17.0 for cve
  components/odh-notebook-controller/go.mod
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Upgrade the x/net package v0.23.0
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-14150: rename `helper.go` to fix govulncheck failure
  components/odh-notebook-controller/e2e/helper_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-14150: sync Dockerfiles from CPaaS repo so we get clean CI checks
  components/notebook-controller/Dockerfile
  components/odh-notebook-controller/Dockerfile
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

move to TA pipeline
  .tekton/odh-kf-notebook-controller-v2-16-pull-request.yaml
  .tekton/odh-kf-notebook-controller-v2-16-push.yaml
  .tekton/odh-notebook-controller-v2-16-pull-request.yaml
  .tekton/odh-notebook-controller-v2-16-push.yaml
Due: none

update dockerfile for adding required LABEL
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-14150: add GitHub actions workflow files from opendatahub-io/kubeflow main branch
  .github/workflows/code-quality.yaml
  .github/workflows/notebook_controller_integration_test.yaml
  .github/workflows/notebook_controller_unit_test.yaml
  .github/workflows/odh_notebook_controller_integration_test.yaml
  .github/workflows/odh_notebook_controller_unit_test.yaml
Due: none

RHOAIENG-72: Specify numeric UID in Dockerfiles
  components/notebook-controller/Dockerfile
  components/odh-notebook-controller/Dockerfile
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Upgrade the x/net package v0.23.0 (#144)
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

add tag and slack changes to tekton
  .tekton/odh-notebook-controller-v2-16-push.yaml
Due: none

add slack notification changes
  .tekton/odh-notebook-controller-v2-16-push.yaml
Due: none

NO-JIRA: tests(odh-nbc): update to the latest route crd
  components/odh-notebook-controller/config/crd/external/route.openshift.io_routes.yaml
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

NO-JIRA: temporarily comment out proper host name validation in route CRD since our test values we use are not valid
  components/odh-notebook-controller/config/crd/external/route.openshift.io_routes.yaml
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-15743: fix(odh-nbc): trim ca-bundle certData to avoid logging scary messages
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

update pull request tekton
  .tekton/odh-kf-notebook-controller-v2-16-pull-request.yaml
  .tekton/odh-notebook-controller-v2-16-pull-request.yaml
Due: none

update cel expression for tekton pull requests
  .tekton/odh-kf-notebook-controller-v2-16-pull-request.yaml
  .tekton/odh-notebook-controller-v2-16-pull-request.yaml
Due: none

change cel expression for tekton PRs
  .tekton/odh-kf-notebook-controller-v2-16-pull-request.yaml
  .tekton/odh-notebook-controller-v2-16-pull-request.yaml
Due: none

add component-updates to konflux-bot PR ignore
  .tekton/odh-kf-notebook-controller-v2-16-pull-request.yaml
  .tekton/odh-notebook-controller-v2-16-pull-request.yaml
Due: none

Create a .yaml file with kubeflow version
  components/notebook-controller/config/component_metadata.yaml
  components/notebook-controller/generate-metadata-yaml.sh
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

NO-ISSUE: chore(sync): manually bring rhds into sync with odh v1.9 where they drifted
  components/base/kustomization.yaml
  components/notebook-controller/config/overlays/openshift/manager_openshift_patch.yaml
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/e2e/helper_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit
