Repository red-hat-data-services/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  ci/prow/odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)

chore(KONFLUX-6210): fix and set name and cpe label for odh-notebook-controller-v2-22
  components/odh-notebook-controller/Dockerfile.konflux
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(KONFLUX-6210): fix and set name and cpe label for odh-kf-notebook-controller-v2-22
  components/notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(KONFLUX-6210): fix and set name and cpe label for odh-notebook-controller-v2-21
  components/odh-notebook-controller/Dockerfile.konflux
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(KONFLUX-6210): fix and set name and cpe label for odh-kf-notebook-controller-v2-21
  components/notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(KONFLUX-6210): fix and set name and cpe label for odh-notebook-controller-v2-20
  components/odh-notebook-controller/Dockerfile.konflux
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(KONFLUX-6210): fix and set name and cpe label for odh-kf-notebook-controller-v2-20
  components/notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(KONFLUX-6210): fix and set name and cpe label for odh-notebook-controller-v2-19
  components/odh-notebook-controller/Dockerfile.konflux
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

fix(Dockerfile.konflux): update the labels to use correct naming
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(KONFLUX-6210): fix and set name and cpe label for odh-kf-notebook-controller-v2-19
  components/notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Remove unused rpm related files
  components/notebook-controller/rpms.in.yaml
  components/notebook-controller/rpms.lock.yaml
  components/notebook-controller/ubi.repo
  components/odh-notebook-controller/rpms.in.yaml
  components/odh-notebook-controller/rpms.lock.yaml
  components/odh-notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

[RHOAIENG-35037] Remove service mesh support from odh-notebook-controller
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_network.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_controller_setup_test.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
  components/odh-notebook-controller/e2e/notebook_deletion_test.go
  components/odh-notebook-controller/e2e/notebook_update_test.go
  components/odh-notebook-controller/e2e/scripts/README.md
  components/odh-notebook-controller/e2e/scripts/func-kiali.sh
  components/odh-notebook-controller/e2e/scripts/func-sm.sh
  components/odh-notebook-controller/e2e/scripts/install-ossm-release.sh
  components/odh-notebook-controller/run-e2e-test-service-mesh.sh
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Assure that no unauthenticated route is kept for a workbench
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

remove the notebook-controller service-mesh related manifests
  components/notebook-controller/config/overlays/service-mesh/OWNERS
  components/notebook-controller/config/overlays/service-mesh/kustomization.yaml
  components/notebook-controller/config/overlays/service-mesh/ossm.env
  components/notebook-controller/config/overlays/standalone-service-mesh/gateway-route.yaml
  components/notebook-controller/config/overlays/standalone-service-mesh/gateway.yaml
  components/notebook-controller/config/overlays/standalone-service-mesh/kustomization.yaml
  components/notebook-controller/config/overlays/standalone-service-mesh/smm.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Fix e2e tests and restructure not to count with service-mesh anymore
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_controller_setup_test.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
  components/odh-notebook-controller/e2e/notebook_deletion_test.go
  components/odh-notebook-controller/e2e/notebook_update_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

rename ai pipeline to pipeline
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(tests): Bump version of k8s used by envtest from 1.28 to 1.32
  components/odh-notebook-controller/Makefile
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

NO-JIRA: chore(GHA): bump kind and k8s version for integration tests
  .github/workflows/notebook_controller_integration_test.yaml
  .github/workflows/odh_notebook_controller_integration_test.yaml
  components/testing/gh-actions/install_istio.sh
  components/testing/gh-actions/install_kind.sh
  components/testing/gh-actions/kind-1-22.yaml
  components/testing/gh-actions/kind-1-32.yaml
Due: none

[RHOAIENG-34310] replace oauth-proxy with kube-rbac-proxy sidecar (#698)
  .github/workflows/odh_notebook_controller_integration_test.yaml
  components/base/README.md
  components/odh-notebook-controller/README.md
  components/odh-notebook-controller/assets/odh-notebook-controller-auth-diagram.png
  components/odh-notebook-controller/assets/odh-notebook-controller-auth-diagram.txt
  components/odh-notebook-controller/assets/odh-notebook-controller-oauth-diagram.png
  components/odh-notebook-controller/config/base/kustomization.yaml
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/config/crd/external/gateway.networking.k8s.io_httproutes.yaml
  components/odh-notebook-controller/config/crd/external/oauthclients.oauth.openshift.io.yaml
  components/odh-notebook-controller/config/crd/external/route.openshift.io_routes.yaml
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/config/samples/_v1_notebook_rbac.yaml
  components/odh-notebook-controller/controllers/auth_proxy_resources_test.go
  components/odh-notebook-controller/controllers/matchers_test.go
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_network.go
  components/odh-notebook-controller/controllers/notebook_oauth.go
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_controller_setup_test.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
  components/odh-notebook-controller/e2e/notebook_deletion_test.go
  components/odh-notebook-controller/e2e/notebook_update_test.go
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

use kube-auth-proxy image for the sidecar container
  components/odh-notebook-controller/config/base/params.env
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

upgrade kubeflow notebook-controller image tag version v1.10.0-7
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

support deletion of oauthclient finalizer
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_oauth.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

reduce scope of the rolebinding to each notebook
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

[RHOAIENG-36963] fix the kube-rbac-proxy key in the generated config
  components/odh-notebook-controller/README.md
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update notebook-controller with image 1.10.0-8 tag
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Downgrade Gateway API to v1.2.1 to be in sync with OCP 4.19
  components/odh-notebook-controller/config/crd/external/gateway.networking.k8s.io_gateways.yaml
  components/odh-notebook-controller/config/crd/external/gateway.networking.k8s.io_httproutes.yaml
  components/odh-notebook-controller/go.mod
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

[RHOAIENG-38009] Create HTTPRoute in a central namespace
  components/odh-notebook-controller/config/crd/external/gateway.networking.k8s.io_referencegrants.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_referencegrant.go
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

[RHOAIENG-38009] Create HTTPRoute in a central namespace
  components/odh-notebook-controller/config/crd/external/gateway.networking.k8s.io_referencegrants.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_referencegrant.go
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

upgrade kubeflow notebook-controller image tag version v1.10.0-9
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

patch cve with upgrade of golang 1.24.6
  components/notebook-controller/Dockerfile
  components/notebook-controller/Dockerfile.konflux
  components/notebook-controller/go.mod
  components/odh-notebook-controller/Dockerfile
  components/odh-notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit
