Repository red-hat-data-services/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  ci/prow/odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)

Konflux Internal p02 update odh-notebook-controller-v3-5-ea-2
  .tekton/odh-notebook-controller-v3-5-ea-2-pull-request.yaml
  .tekton/odh-notebook-controller-v3-5-ea-2-push.yaml
Due: none

set the scheme based on DSPA externalStorgae.scheme
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

misc(Makefile): introduce a docker build without test execution
  components/notebook-controller/Makefile
  components/odh-notebook-controller/Makefile
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(Makefile): quote the env variables in our Makefiles
  components/notebook-controller/Makefile
  components/odh-notebook-controller/Makefile
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

ci: use docker-build-no-test in integration test workflows
  .github/workflows/notebook_controller_integration_test.yaml
  .github/workflows/odh_notebook_controller_integration_test.yaml
Due: none

Bump go-toolset images from golang 1.25 to 1.26
  .github/workflows/code-quality.yaml
  .pre-commit-config.yaml
  components/common/go.mod
  components/notebook-controller/Dockerfile
  components/notebook-controller/go.mod
  components/odh-notebook-controller/Dockerfile
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(deps): update Go module dependencies
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

ci: add operator-chaos shift-left validation workflow as a GHA
  .github/workflows/operator_chaos_validation.yaml
  AGENTS.md
  chaos/knowledge/workbenches.yaml
  components/odh-notebook-controller/Makefile
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Bump go-toolset images in Dockerfile.konflux from golang 1.25 to 1.26
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore: bump controller-runtime to v0.23.3 and fix webhook API
  components/notebook-controller/api/v1beta1/notebook_webhook.go
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore: regenerate CRD manifests for k8s v0.35.0
  components/notebook-controller/config/crd/bases/kubeflow.org_notebooks.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Konflux Internal p02 update odh-notebook-controller-v3-5
  .tekton/odh-notebook-controller-v3-5-pull-request.yaml
  .tekton/odh-notebook-controller-v3-5-push.yaml
Due: none

Remove open-data-hub-tenant PipelineRun manifests
  .tekton/odh-kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

feat(chaos): integrate operator-chaos L3 SDK tests for both controllers
  .github/workflows/operator_chaos_validation.yaml
  AGENTS.md
  chaos/experiments/deployment-scale-zero.yaml
  chaos/experiments/network-partition.yaml
  chaos/experiments/pod-kill.yaml
  chaos/experiments/rbac-revoke.yaml
  chaos/experiments/webhook-disrupt.yaml
  components/notebook-controller/Makefile
  components/notebook-controller/README.md
  components/notebook-controller/chaostests/chaos_test.go
  components/notebook-controller/chaostests/suite_test.go
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/README.md
  components/odh-notebook-controller/chaostests/chaos_test.go
  components/odh-notebook-controller/chaostests/suite_test.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_mlflow_test.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(deps): bump Go to 1.26.4 and golang.org/x/net to v0.55.0 across all components
  components/common/go.mod
  components/notebook-controller/Dockerfile
  components/notebook-controller/Dockerfile.konflux
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/odh-notebook-controller/Dockerfile
  components/odh-notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

fix(ci): use runner's pre-installed podman instead of manual install
  .github/workflows/notebook_controller_integration_test.yaml
  .github/workflows/odh_notebook_controller_integration_test.yaml
Due: none

fix(ci): switch to runc to fix podman 5.x / crun 1.14.1 incompatibility
  .github/workflows/notebook_controller_integration_test.yaml
  .github/workflows/odh_notebook_controller_integration_test.yaml
Due: none

feat: add post-codefreeze-gatekeeper evaluation workflow
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: none

fix: update gatekeeper workflow ref from @gatekeeper to @main
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: none

fix: reduce kube-rbac-proxy log verbosity from v=10 to v=0
  components/notebook-controller/config/default/manager_auth_proxy_patch.yaml
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Reject dangerous PodSpec fields in notebook validating webhook.
  components/odh-notebook-controller/config/webhook/manifests.yaml
  components/odh-notebook-controller/controllers/notebook_podspec_validation.go
  components/odh-notebook-controller/controllers/notebook_podspec_validation_test.go
  components/odh-notebook-controller/controllers/notebook_validating_webhook.go
  components/odh-notebook-controller/controllers/notebook_validating_webhook_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit
