Repository red-hat-data-services/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  ci/prow/odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)

[RHOAIENG-33609] fix route search to work also for generated routes
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Bump go-toolset images from golang 1.24 to 1.25 for konflux builds
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

feat: Allow notebook to mount feast-store config (#730)
  components/odh-notebook-controller/controllers/notebook_feast_config.go
  components/odh-notebook-controller/controllers/notebook_feast_config_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update notebook-controller with image 1.10.0-10 tag
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update component go dependencies (#733)
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

set the scheme based on DSPA externalStorgae.scheme
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

update version of the golangci-lint tool to the latest one
  .github/workflows/code-quality.yaml
Due: none

[RHOAIENG-45761] Notebook Culler fails to stop idle notebooks
  components/notebook-controller/controllers/culling_controller.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Add a fallback for the Public API endpoint retrieval logic
  components/base/README.md
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

update additional tags
  .tekton/odh-kf-notebook-controller-pull-request.yaml
  .tekton/odh-kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

chore(deps): update registry.access.redhat.com/ubi8/ubi-minimal docker digest to b3b8ab0
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

update component names
  .tekton/odh-kf-notebook-controller-pull-request.yaml
  .tekton/odh-kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

[RHOAIENG-31065] Update the outdated ose-oauth-proxy image
  .github/workflows/odh_notebook_controller_integration_test.yaml
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Add a target for govulncheck to our component Makefiles, update CI
  components/notebook-controller/Makefile
  components/odh-notebook-controller/Makefile
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Bump the Go lang and go-toolset version from 1.21 to 1.25
  components/notebook-controller/Dockerfile
  components/notebook-controller/Dockerfile.konflux
  components/notebook-controller/Makefile
  components/notebook-controller/config/crd/bases/kubeflow.org_notebooks.yaml
  components/notebook-controller/go.mod
  components/odh-notebook-controller/Dockerfile
  components/odh-notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

test failure
  .tekton/odh-kf-notebook-controller-push.yaml
Due: none

failure test
  .tekton/odh-kf-notebook-controller-push.yaml
Due: none

Added PipelineRun Configuration for odh-notebook-controller and odh-kf-notebook-controller for rhoai-2.16
  .tekton/odh-kf-notebook-controller-v-2-16-pull-request.yaml
  .tekton/odh-notebook-controller-v-2-16-pull-request.yaml
Due: none

test change
  .tekton/odh-kf-notebook-controller-push.yaml
Due: none

add its pipeline
  .tekton/kubeflow-group-test.yaml
Due: none

Update kubeflow-group-test.yaml
  .tekton/kubeflow-group-test.yaml
Due: none

Update odh-kf-notebook-controller-push.yaml
  .tekton/odh-kf-notebook-controller-push.yaml
Due: none

Update odh-kf-notebook-controller-pull-request.yaml
  .tekton/odh-kf-notebook-controller-pull-request.yaml
Due: none

enable group testing
  .tekton/odh-notebook-controller-pull-request.yaml
Due: none

Update comment in PipelineRun YAML file
  .tekton/odh-kf-notebook-controller-push.yaml
Due: none
