Repository red-hat-data-services/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  ci/prow/odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)

Konflux Internal p02 update odh-kf-notebook-controller-test2
  .tekton/odh-kf-notebook-controller-test2-pull-request.yaml
  .tekton/odh-kf-notebook-controller-test2-push.yaml
Due: none

Enforce the minimum Go lang version for build to 1.25.7
  components/notebook-controller/go.mod
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Add a konflux pipelines definitions for PRs on main branch
  .tekton/README.md
  .tekton/kubeflow-group-test.yaml
  .tekton/odh-kf-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
Due: none

[2.25] Bump golang version from 1.24 to 1.25 (#1066)
  .github/workflows/code-quality.yaml
  components/common/go.mod
  components/notebook-controller/Dockerfile
  components/notebook-controller/Dockerfile.konflux
  components/notebook-controller/go.mod
  components/odh-notebook-controller/Dockerfile
  components/odh-notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update the go version to the latest patch version
  components/common/go.mod
  components/notebook-controller/go.mod
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Konflux Internal p02 update odh-kf-notebook-controller-v3-4
  .tekton/odh-kf-notebook-controller-v3-4-pull-request.yaml
Due: none

Konflux Internal p02 update odh-notebook-controller-v3-4
  .tekton/odh-notebook-controller-v3-4-pull-request.yaml
Due: none

fix: Restrict informer cache to reduce memory usage
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(codecov): add a root level .codecov.yml config file
  .codecov.yml
  .github/workflows/notebook_controller_unit_test.yaml
  .github/workflows/odh_notebook_controller_unit_test.yaml
Due: none

Add an ARCHITECTURE.md file specifying high-level repo architecture
  ARCHITECTURE.md
Due: none

chores: Move govulncheck from PR checks to main branch workflow (#787)
  .github/workflows/code-quality.yaml
  .github/workflows/govulncheck.yaml
Due: none

Add a konflux pipeline definition on main branch for push event
  .tekton/README.md
  .tekton/odh-kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

feat: add MLflow zero-touch support for notebooks (#751)
  .github/workflows/odh_notebook_controller_integration_test.yaml
  components/odh-notebook-controller/config/rbac/kustomization.yaml
  components/odh-notebook-controller/config/rbac/mlflow_bind_patch.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/config/webhook/kustomizeconfig.yaml
  components/odh-notebook-controller/config/webhook/manifests.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_mlflow.go
  components/odh-notebook-controller/controllers/notebook_mlflow_test.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook_test.go
  components/odh-notebook-controller/controllers/notebook_validating_webhook.go
  components/odh-notebook-controller/controllers/notebook_validating_webhook_test.go
  components/odh-notebook-controller/controllers/notebook_webhook_utils.go
  components/odh-notebook-controller/controllers/notebook_webhook_utils_test.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(arch): architecture followup to reference ADR repository doc
  ARCHITECTURE.md
Due: none

fix(odh-notebook-controller): Enable automatic certificate updates in workbench pods
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

test: Add unit tests for cache transform functions (#789)
  components/odh-notebook-controller/main.go
  components/odh-notebook-controller/main_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

fix(odh-notebook-controller): Address CodeRabbit review feedback
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(gha): bump-go-directive: fix the file permissions before removal
  .github/workflows/go-directive-updater.yaml
  ci/bump-go-mod-go-version.sh
Due: none

feat: Add configurable MLflow feature flag and gateway URL (#788)
  components/odh-notebook-controller/config/base/kustomization.yaml
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_mlflow.go
  components/odh-notebook-controller/controllers/notebook_mlflow_test.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chores: upgrade the controller image to v1.10.0-11
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chores: upgrade the tekton tag to v1.10.0-12
  .tekton/odh-kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

run existing CI checks also for PRs against the stable branch
  .github/workflows/code-quality.yaml
  .github/workflows/notebook_controller_integration_test.yaml
  .github/workflows/notebook_controller_unit_test.yaml
  .github/workflows/odh_notebook_controller_integration_test.yaml
  .github/workflows/odh_notebook_controller_unit_test.yaml
Due: none

RHOAIENG-52352: refactor: simplify release workflow with explicit versioning (#816)
  .github/scripts/create-release.sh
  .github/workflows/create-release.yaml
  .github/workflows/kubeflow-release.yaml
  .github/workflows/odh-kubeflow-release-pipeline.yaml
  .github/workflows/odh-kubeflow-release-tag.yaml
Due: none

chore(go updater): fix the warning for missing cache when running GHA
  .github/workflows/go-directive-updater.yaml
Due: none

Konflux Internal p02 update odh-kf-notebook-controller-v3-5-ea-1
  .tekton/odh-kf-notebook-controller-v3-5-ea-1-pull-request.yaml
  .tekton/odh-kf-notebook-controller-v3-5-ea-1-push.yaml
Due: none

Konflux Internal p02 update odh-notebook-controller-v3-5-ea-1
  .tekton/odh-notebook-controller-v3-5-ea-1-pull-request.yaml
  .tekton/odh-notebook-controller-v3-5-ea-1-push.yaml
Due: none

Pre commit followup (#794)
  components/notebook-controller/.golangci.yaml
  components/notebook-controller/api/v1/notebook_conversion.go
  components/notebook-controller/api/v1alpha1/notebook_conversion.go
  components/notebook-controller/api/v1beta1/notebook_webhook.go
  components/notebook-controller/controllers/culling_controller.go
  components/notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/.golangci.yaml
  components/odh-notebook-controller/controllers/matchers_test.go
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_feast_config.go
  components/odh-notebook-controller/controllers/notebook_feast_config_test.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_mlflow.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook_test.go
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_runtime.go
  components/odh-notebook-controller/controllers/opentelemetry_test.go
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit
