Repository red-hat-data-services/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  ci/prow/odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)

RHOAIENG-18401: chore(konflux): restrict triggering only for the opendatahub-io/kubeflow repository
  .tekton/kf-notebook-controller-pull-request.yaml
  .tekton/kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

Update odh and notebook-controller with image 1.9-77549e7
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update Konflux references to c4aca68 (#379) (#550)
  .tekton/kf-notebook-controller-pull-request.yaml
  .tekton/kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

Update odh and notebook-controller with image 1.9-74995ca
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Sync push Tekton files from rhoai-2.16 to rhoai-2.16 with updated versioning
  .tekton/odh-kf-notebook-controller-v2-16-push.yaml
  .tekton/odh-notebook-controller-v2-16-push.yaml
Due: none

Delete .tekton/odh-kf-notebook-controller-v2-16-pull-request.yaml
  .tekton/odh-kf-notebook-controller-v2-16-pull-request.yaml
Due: none

Delete .tekton/odh-notebook-controller-v2-16-pull-request.yaml
  .tekton/odh-notebook-controller-v2-16-pull-request.yaml
Due: none

RHOAIENG-12107: chore(components/odh-notebook-controller): rewrite Poll function to PollUntilContextTimeout to fix linter error (#544)
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
  components/odh-notebook-controller/e2e/notebook_deletion_test.go
  components/odh-notebook-controller/e2e/notebook_update_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

change RPM repo IDs to conform to EC Policy
  components/odh-notebook-controller/rpms.lock.yaml
  components/odh-notebook-controller/ubi.repo
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

change RPM repo IDs to conform to EC Policy
  components/notebook-controller/rpms.lock.yaml
  components/notebook-controller/ubi.repo
  components/odh-notebook-controller/rpms.lock.yaml
  components/odh-notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

fix typo
  components/notebook-controller/rpms.lock.yaml
  components/odh-notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

typo fix 2
  components/notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

change rpm repo ids to conform to EC policy (#429)
  components/notebook-controller/rpms.lock.yaml
  components/notebook-controller/ubi.repo
  components/odh-notebook-controller/rpms.lock.yaml
  components/odh-notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-13916: fix(odh-notebook-controller): handle errored imagestreams in webhook (#553)
  components/odh-notebook-controller/config/crd/external/image.openshift.io_imagestream.yaml
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update odh and notebook-controller with image 1.9-c48320a
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

NO-JIRA: chore(konflux): introduce image retention on pushed images
  .tekton/kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

Update odh and notebook-controller with image 1.9-f2c6817
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-15772: tests(odh-nbc) significantly reduce the amount of sleeping in tests (#465)
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

ubi upgrade
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Sync push Tekton files from rhoai-2.19 to rhoai-2.20 with updated versioning
  .tekton/odh-kf-notebook-controller-v2-20-push.yaml
  .tekton/odh-notebook-controller-v2-20-push.yaml
Due: none

Update odh and notebook-controller with image 1.9-ca14620
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-13916: deps({odh-}notebook-controller): update to go1.22
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-13916: deps({odh-}notebook-controller): update to go1.22 (#571)
  components/notebook-controller/Dockerfile
  components/notebook-controller/go.mod
  components/odh-notebook-controller/Dockerfile
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

[KONFLUX-2264] Add shell and unicode sast pipeline tasks
  .tekton/odh-kf-notebook-controller-v2-19-push.yaml
  .tekton/odh-notebook-controller-v2-19-push.yaml
Due: none

RHOAIENG-18400: chore(.tekton/): since ubi8 (and ubi9) minimal images fail in Konflux when subscribed with entitlement certificate, hide the certificate from our build so that it does not fail (#572)
  .tekton/kf-notebook-controller-pull-request.yaml
  .tekton/kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

RHOAIENG-13916: deps({odh-}notebook-controller): update to go1.22 (#447)
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-13916: chore(odh-notebook-controller/tests): introduce oTel-based testing (#570)
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
  components/odh-notebook-controller/controllers/opentelemetry_test.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-13916: chore(odh-notebook-controller/tests): define constant for the tracing event
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update golangci-lint to v2 in code-quality.yaml
  .github/workflows/code-quality.yaml
Due: none

add SAST checks to tekton pipelines
  .tekton/odh-kf-notebook-controller-v2-20-push.yaml
  .tekton/odh-notebook-controller-v2-20-push.yaml
Due: none

generate metadata
  components/notebook-controller/config/component_metadata.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Populate Elyra runtime images configMap and mounts it on the Notebook (#576)
  .github/workflows/odh_notebook_controller_integration_test.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_runtime.go
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update branch references in kubeflow repo based the new release (#583)
  .github/scripts/create-release.sh
  .github/workflows/code-quality.yaml
  .github/workflows/kubeflow-release.yaml
  .github/workflows/notebook_controller_integration_test.yaml
  .github/workflows/notebook_controller_unit_test.yaml
  .github/workflows/odh_notebook_controller_integration_test.yaml
  .github/workflows/odh_notebook_controller_unit_test.yaml
  components/notebook-controller/generate-metadata-yaml.sh
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

update image references (#584)
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update odh and notebook-controller with image 1.10-47152af (#585)
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update odh and notebook-controller with image 1.10-2830879 (#586)
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-11155: Better explanation of 'Authorize Access' UI (#449)
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_oauth.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

NO-JIRA: deps({odh-}notebook-controller): update to go1.23
  components/notebook-controller/Dockerfile
  components/notebook-controller/go.mod
  components/odh-notebook-controller/Dockerfile
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update odh and notebook-controller with image 1.10-8d5f3b5 (#588)
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit
