Repository red-hat-data-services/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit

kf-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

odh-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/odh-notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

fix: upgrade tslib from 2.4.1 to 2.6.0
  components/centraldashboard-angular/frontend/package-lock.json
  components/centraldashboard-angular/frontend/package.json
Due: none

fix: upgrade zone.js from 0.11.8 to 0.13.1
  components/centraldashboard-angular/frontend/package-lock.json
  components/centraldashboard-angular/frontend/package.json
Due: none

fix: upgrade @kubernetes/client-node from 0.8.2 to 0.18.1
  components/centraldashboard-angular/backend/package-lock.json
  components/centraldashboard-angular/backend/package.json
Due: none

fix: upgrade node-fetch from 2.6.7 to 2.6.12
  components/centraldashboard-angular/backend/package-lock.json
  components/centraldashboard-angular/backend/package.json
Due: none

fix: upgrade @fortawesome/angular-fontawesome from 0.9.0 to 0.13.0
  components/crud-web-apps/tensorboards/frontend/package-lock.json
  components/crud-web-apps/tensorboards/frontend/package.json
Due: none

fix: components/example-notebook-servers/codeserver-python/requirements.txt to reduce vulnerabilities
  components/example-notebook-servers/codeserver-python/requirements.txt
Due: none

fix: components/example-notebook-servers/jupyter-tensorflow-full/requirements.txt to reduce vulnerabilities
  components/example-notebook-servers/jupyter-tensorflow-full/requirements.txt
Due: none

fix: components/example-notebook-servers/jupyter/requirements.txt to reduce vulnerabilities
  components/example-notebook-servers/jupyter/requirements.txt
Due: none

fix: components/example-notebook-servers/jupyter-pytorch-full/requirements.txt to reduce vulnerabilities
  components/example-notebook-servers/jupyter-pytorch-full/requirements.txt
Due: none

fix: components/example-notebook-servers/jupyter-scipy/requirements.txt to reduce vulnerabilities
  components/example-notebook-servers/jupyter-scipy/requirements.txt
Due: none

patch the images only on the odh-notebook-controller
  components/base/kustomization.yaml
  components/notebook-controller/config/overlays/openshift/kustomization.yaml
  components/odh-notebook-controller/config/base/kustomization.yaml
  components/odh-notebook-controller/config/base/params.env
Due: kf-notebook-controller-unit, odh-notebook-controller-unit

Use custom location and concat all requires certs
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Watch the configmap odh-trusted-bundle and update the workbench configmap
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit

Reconcile the Workbenches if wb configmap no longer exists
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

create configmap and mount for the first workbench in NS
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

[stable] Add logic on nbc-webhook to pickup internal or external registry (#332)
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit

Update the Handler when watch on SetContainerImageFromRegistry func to check also for update
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/e2e/helper.go
  components/odh-notebook-controller/e2e/notebook_controller_setup_test.go
  components/odh-notebook-controller/e2e/notebook_update_test.go
Due: odh-notebook-controller-unit

Updating go.opentelemetry.io/contrib
  components/odh-notebook-controller/go.mod
Due: odh-notebook-controller-unit

fix: components/example-notebook-servers/jupyter-pytorch/cuda-requirements.txt to reduce vulnerabilities
  components/example-notebook-servers/jupyter-pytorch/cuda-requirements.txt
Due: none

fix: components/example-notebook-servers/jupyter-tensorflow/cpu-requirements.txt to reduce vulnerabilities
  components/example-notebook-servers/jupyter-tensorflow/cpu-requirements.txt
Due: none

fix: components/example-notebook-servers/jupyter-tensorflow/cuda-requirements.txt to reduce vulnerabilities
  components/example-notebook-servers/jupyter-tensorflow/cuda-requirements.txt
Due: none

fix: components/crud-web-apps/tensorboards/backend/requirements.txt to reduce vulnerabilities
  components/crud-web-apps/tensorboards/backend/requirements.txt
Due: none

fix: components/crud-web-apps/volumes/backend/requirements.txt to reduce vulnerabilities
  components/crud-web-apps/volumes/backend/requirements.txt
Due: none

fix: components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/requirements.txt to reduce vulnerabilities
  components/crud-web-apps/common/backend/kubeflow/kubeflow/crud_backend/requirements.txt
Due: none

fix: components/crud-web-apps/jupyter/backend/requirements.txt to reduce vulnerabilities
  components/crud-web-apps/jupyter/backend/requirements.txt
Due: none

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
