Repository red-hat-data-services/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  ci/prow/odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)

fix: reduce kube-rbac-proxy log verbosity from v=10 to v=0
  components/notebook-controller/config/default/manager_auth_proxy_patch.yaml
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

fix: update gatekeeper workflow ref from @gatekeeper to @main
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: none

Reject dangerous PodSpec fields in notebook validating webhook.
  components/odh-notebook-controller/config/webhook/kustomizeconfig.yaml
  components/odh-notebook-controller/config/webhook/manifests.yaml
  components/odh-notebook-controller/controllers/notebook_podspec_validation.go
  components/odh-notebook-controller/controllers/notebook_podspec_validation_test.go
  components/odh-notebook-controller/controllers/notebook_validating_webhook.go
  components/odh-notebook-controller/controllers/notebook_validating_webhook_test.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Reject dangerous PodSpec fields in notebook validating webhook.
  components/odh-notebook-controller/config/webhook/manifests.yaml
  components/odh-notebook-controller/controllers/notebook_podspec_validation.go
  components/odh-notebook-controller/controllers/notebook_podspec_validation_test.go
  components/odh-notebook-controller/controllers/notebook_validating_webhook.go
  components/odh-notebook-controller/controllers/notebook_validating_webhook_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

fix: reduce kube-rbac-proxy log verbosity from v=10 to v=0
  components/notebook-controller/config/default/manager_auth_proxy_patch.yaml
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

fix: use pull_request_target in gatekeeper workflow
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: none

feat: add gatekeeper workflow to main (pull_request_target)
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: none

fix(ci): enforce least-privilege permissions on all workflows
  .github/workflows/disconnected-readiness.yaml
  .github/workflows/govulncheck.yaml
  .github/workflows/notebook-controller-images-updater.yaml
  .github/workflows/notebook_controller_integration_test.yaml
  .github/workflows/notebook_controller_unit_test.yaml
  .github/workflows/odh-kubeflow-release-pipeline.yaml
  .github/workflows/odh-kubeflow-release-tag.yaml
  .github/workflows/odh_notebook_controller_integration_test.yaml
  .github/workflows/odh_notebook_controller_unit_test.yaml
  .github/workflows/operator_chaos_validation.yaml
  .github/workflows/sync-branches.yaml
Due: none

Migrate runtime base image to PQC variant
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

feat: add post-codefreeze-gatekeeper evaluation workflow
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: none

chore(deps): bump Go version to 1.26.7
  components/common/go.mod
  components/notebook-controller/go.mod
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(deps): bump Go version to 1.26.7
  components/common/go.mod
  components/notebook-controller/Dockerfile.konflux
  components/notebook-controller/go.mod
  components/odh-notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

test: pqc base image switch
  .tekton/odh-kf-notebook-controller-v3-6-ea-2-push.yaml
  .tekton/odh-notebook-controller-v3-6-ea-2-push.yaml
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

ci: stop golangci-lint from comparing against a missing push SHA
  .github/workflows/code-quality.yaml
Due: none

chore: remove rhoai-3.5 gatekeeper workflow
  .github/workflows/post-codefreeze-gatekeeper.yaml
Due: none
