Repository red-hat-data-services/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

kf-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

odh-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/odh-notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

ci/prow/kf-notebook-controller-unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/odh-notebook-controller-unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Update odh and notebook-controller with image 1.10-de6db1d (#592)
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

chore(deps): bump golang.org/x/net from 0.33.0 to 0.38.0 in /components/{odh-}notebook-controller (#556)
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

NO-JIRA: chore(docs): Add guide for upgrading Go version and dependencies (#574)
  DEPENDENCIES.md
  README.md
Due: none

ubi upgrade
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Konflux build pipeline service account migration for odh-kf-notebook-controller-v2-19 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-kf-notebook-controller-v2-19-push.yaml
Due: none

Konflux build pipeline service account migration for odh-kf-notebook-controller-v2-8 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-kf-notebook-controller-v2-8-push.yaml
Due: none

Konflux build pipeline service account migration for odh-kf-notebook-controller-v2-21 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-kf-notebook-controller-v2-21-push.yaml
Due: none

Konflux build pipeline service account migration for odh-kf-notebook-controller-v2-20 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-kf-notebook-controller-v2-20-push.yaml
Due: none

Konflux build pipeline service account migration for odh-kf-notebook-controller-v2-18 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-kf-notebook-controller-v2-18-push.yaml
Due: none

Konflux build pipeline service account migration for odh-kf-notebook-controller-v2-13 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-kf-notebook-controller-v2-13-pull-request.yaml
  .tekton/odh-kf-notebook-controller-v2-13-push.yaml
Due: none

Konflux build pipeline service account migration for odh-kf-notebook-controller-v2-16 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-kf-notebook-controller-v2-16-push.yaml
Due: none

Konflux build pipeline service account migration for odh-kf-notebook-controller-v2-17 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-kf-notebook-controller-v2-17-pull-request.yaml
  .tekton/odh-kf-notebook-controller-v2-17-push.yaml
Due: none

Konflux build pipeline service account migration for odh-notebook-controller-v2-13 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-notebook-controller-v2-13-pull-request.yaml
  .tekton/odh-notebook-controller-v2-13-push.yaml
Due: none

Konflux build pipeline service account migration for odh-notebook-controller-v2-16 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-notebook-controller-v2-16-push.yaml
Due: none

Konflux build pipeline service account migration for odh-notebook-controller-v2-17 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-notebook-controller-v2-17-pull-request.yaml
  .tekton/odh-notebook-controller-v2-17-push.yaml
Due: none

Konflux build pipeline service account migration for odh-notebook-controller-v2-18 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-notebook-controller-v2-18-push.yaml
Due: none

Konflux build pipeline service account migration for odh-notebook-controller-v2-19 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-notebook-controller-v2-19-push.yaml
Due: none

Konflux build pipeline service account migration for odh-notebook-controller-v2-20 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-notebook-controller-v2-20-push.yaml
Due: none

Konflux build pipeline service account migration for odh-notebook-controller-v2-21 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-notebook-controller-v2-21-push.yaml
Due: none

Konflux build pipeline service account migration for odh-notebook-controller-v2-8 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-notebook-controller-v2-8-push.yaml
Due: none

drop rpm hermetic files
  components/notebook-controller/rpms.in.yaml
  components/notebook-controller/rpms.lock.yaml
  components/notebook-controller/ubi.repo
  components/odh-notebook-controller/rpms.in.yaml
  components/odh-notebook-controller/rpms.lock.yaml
  components/odh-notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

FIPS changes with UBI9 upgrade
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

NO-JIRA: default to building --platform=linux/amd64 images in Docker builds (#596)
  components/notebook-controller/Makefile
  components/odh-notebook-controller/Makefile
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update odh and notebook-controller with image 1.10-ebb569d
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

add rpms lockfile
  rpms.lock.yaml
  ubi.repo
Due: none

update component level rpm lockfiles
  components/notebook-controller/rpms.lock.yaml
  components/notebook-controller/ubi.repo
  components/odh-notebook-controller/rpms.lock.yaml
  components/odh-notebook-controller/ubi.repo
  rpms.lock.yaml
  ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

add rpm files back into notebook-controller component
  components/notebook-controller/rpms.lock.yaml
  components/notebook-controller/ubi.repo
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Read pipeline runtime image name from the imagestream tag
  components/odh-notebook-controller/controllers/notebook_runtime.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Adjust the image selection to consider notebook namespace
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Fix the comments in webhook testing
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

bump dockerfile.konflux golang images to 1.23
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

bump dockerfile.konflux golang images to 1.23 (#531)
  components/notebook-controller/Dockerfile.konflux
  components/odh-notebook-controller/Dockerfile.konflux
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAIENG-23765: Add span event when ImageStream isn't found.
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

RHOAI-4148: Re-adjust the statefulset, route, service based on generateName (#539)
  components/notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_oauth.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Update odh and notebook-controller with image 1.10-688c831
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/kf-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

Add a script to run kustomize on our components to check all works
  ci/kustomize.sh
Due: none

NO-JIRA: chore(dev): log error when imagestream is found but could not be fetched
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit, ci/prow/odh-notebook-controller-unit

NO-JIRA: chore(gh): permit filling blank github issues on the opendatahub-io/kubeflow repo again
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  ci/prow/odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
