Repository openshift/installer: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-alibaba, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-aws-ovn-upi, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azure-ovn-upi, ci/prow/e2e-azurestack, ci/prow/e2e-azurestack-upi, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/e2e-gcp-ovn-upi, ci/prow/e2e-gcp-upi-xpn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-sdn-swapped-hosts, ci/prow/e2e-metal-ipi-sdn-virtualmedia, ci/prow/e2e-metal-single-node-live-iso, ci/prow/e2e-nutanix-ovn, ci/prow/e2e-nutanix-sdn, ci/prow/e2e-openstack, ci/prow/e2e-openstack-kuryr, ci/prow/e2e-openstack-proxy, ci/prow/e2e-openstack-sdn-parallel, ci/prow/e2e-openstack-upi, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-upi, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

ci/prow/aro-unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-agent-compact-ipv4:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
  ...

ci/prow/e2e-agent-ha-dualstack:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
  ...

ci/prow/e2e-agent-sno-ipv6:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
  ...

ci/prow/e2e-alibaba:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: alibabacloud
    ci-operator.openshift.io/cloud-cluster-profile: alibabacloud
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn-fips:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-ovn-imdsv2:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-ovn-proxy:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

Make authConfig as plain asset. Make infraenv as an asset
  pkg/asset/agent/common/infraenv.go
  pkg/asset/agent/common/utility.go
  pkg/asset/agent/gencrypto/authconfig.go
  pkg/asset/agent/image/ignition.go
  pkg/asset/agent/image/unconfigured_ignition.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Fixed unit tests
  pkg/asset/agent/gencrypto/authconfig_test.go
  pkg/asset/agent/image/ignition_test.go
  pkg/asset/agent/image/unconfigured_ignition_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Warn before trimming cluster name
  pkg/asset/installconfig/clusterid.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

wip
  README.md
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Fix user_provisioned_dns variable scope
  data/data/gcp/cluster/main.tf
  data/data/gcp/cluster/master/main.tf
  data/data/gcp/cluster/master/variables.tf
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-33430: Fixed CAPI installation typo
  pkg/infrastructure/clusterapi/clusterapi.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

images: delete Dockerfile.upi.ci.rhel8
  images/installer/Dockerfile.upi.ci.rhel8
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upi, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-upi, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upi, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-upi, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

test build okd
  images/baremetal/Dockerfile.ci
Due: ci/prow/aro-unit, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-sdn-swapped-hosts, ci/prow/e2e-metal-ipi-sdn-virtualmedia, ci/prow/e2e-metal-single-node-live-iso, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

add --insecure to support disconnected installs
  pkg/asset/agent/common.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

wip
  images/baremetal/Dockerfile.ci
Due: ci/prow/aro-unit, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-sdn-swapped-hosts, ci/prow/e2e-metal-ipi-sdn-virtualmedia, ci/prow/e2e-metal-single-node-live-iso, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-33454: go.mod: bump aws-sdk-go for ca-west-1 support
  go.mod
  go.sum
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

remove vsphere terrform project files
  data/data/vsphere/OWNERS
  data/data/vsphere/bootstrap/main.tf
  data/data/vsphere/bootstrap/outputs.tf
  data/data/vsphere/bootstrap/variables.tf
  data/data/vsphere/master/main.tf
  data/data/vsphere/master/outputs.tf
  data/data/vsphere/master/variables.tf
  data/data/vsphere/pre-bootstrap/main.tf
  data/data/vsphere/pre-bootstrap/outputs.tf
  data/data/vsphere/variables-vsphere.tf
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vsphere installer terraform changes
  pkg/asset/cluster/tfvars/tfvars.go
  pkg/infrastructure/platform/platform.go
  pkg/terraform/providers/providers.go
  pkg/terraform/stages/vsphere/OWNERS
  pkg/terraform/stages/vsphere/stages.go
  pkg/tfvars/vsphere/OWNERS
  pkg/tfvars/vsphere/vsphere.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

CORS-3463: Refactor GCP Destroy
  pkg/destroy/gcp/address.go
  pkg/destroy/gcp/cloudcontroller.go
  pkg/destroy/gcp/gcp.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

DNM: OCPBUGS-30860: test RHCOS 416.94.202405091525-0
  data/data/coreos/rhcos.json
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vSphere: update owners aliases
  OWNERS_ALIASES
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Updated go.mod to have 1.20 version as 4.15 is not compiled with 1.21
  go.mod
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Remove toolchain directive in go.mod.
  go.mod
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

baremetal: set domain arch
  pkg/infrastructure/baremetal/bootstrap.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-sdn-swapped-hosts, ci/prow/e2e-metal-ipi-sdn-virtualmedia, ci/prow/e2e-metal-single-node-live-iso, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

DNM: test of tags applied to k8s-fw for CAPG
  pkg/asset/manifests/gcp/cloudproviderconfig.go
  pkg/asset/manifests/gcp/cloudproviderconfig_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

use read/write cache on azure masters
  data/data/azure/cluster/master/master.tf
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azurestack, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

go.mod: bump api for capi-installer feature gates
  go.mod
  go.sum
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vendor: bump openshift api
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/operator/v1/types_etcd.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Revert "baremetal: pause provisioning"
  data/data/bootstrap/baremetal/files/usr/local/bin/master-bmh-update.sh
  data/data/manifests/openshift/baremetal-provisioning-config.yaml.template
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-sdn-swapped-hosts, ci/prow/e2e-metal-ipi-sdn-virtualmedia, ci/prow/e2e-metal-single-node-live-iso, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

AzureMachines: set disk caching to ReadWrite
  pkg/asset/machines/azure/azuremachines.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azurestack, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

images: do not force terraform-providers to be statically linked
  images/infrastructure-providers/Dockerfile
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

DNM: check DNS name lookup fix for C2S/SC2S
  cluster-api/providers/aws/vendor/sigs.k8s.io/cluster-api-provider-aws/v2/controllers/awscluster_controller.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

capi/aws: fix HostedZone ID lookup
  pkg/asset/installconfig/aws/route53.go
  pkg/infrastructure/aws/clusterapi/aws.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

CORS-3516: hack: do not execute cross-compiled binaries
  hack/build-cluster-api.sh
Due: ci/prow/aro-unit, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

hack: fix envtest version detection fallback
  hack/build-cluster-api.sh
Due: ci/prow/aro-unit, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Add lifecycle-agent pkg and vendor
  go.mod
  go.sum
  vendor/modules.txt
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Add IBI config type
  pkg/types/ibi/ibi_config_type.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Add IBI assets
  pkg/asset/ibi/ibi_config.go
  pkg/asset/ibi/ibiartifacts.go
  pkg/asset/ibi/image.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Add IBI command
  cmd/openshift-install/imagebasedinstall.go
  cmd/openshift-install/main.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Updated pushclient.go
  pkg/metrics/pushclient/pushclient.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Path conditions:
  ci/prow/aro-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-agent-compact-ipv4: any of: /agent/
  ci/prow/e2e-agent-ha-dualstack: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg/.*|terraform/providers)/(alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-agent-sno-ipv6: any of: /agent/
  ci/prow/e2e-alibaba: any of: (alibabacloud|aliyun|alicloud)
  ci/prow/e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^images/(agent|alibabacloud|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-aws-ovn-fips: any of: aws
  ci/prow/e2e-aws-ovn-imdsv2: any of: aws
  ci/prow/e2e-aws-ovn-proxy: any of: aws
  ci/prow/e2e-aws-ovn-shared-vpc: any of: aws
  ci/prow/e2e-aws-ovn-single-node: any of: aws
  ci/prow/e2e-aws-ovn-upi: any of: ^(upi/aws/.*)|^(images/installer/Dockerfile\.upi.*)
  ci/prow/e2e-azure-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-azure-ovn-resourcegroup: any of: azure
  ci/prow/e2e-azure-ovn-shared-vpc: any of: azure
  ci/prow/e2e-azure-ovn-upi: any of: ^(upi/(azure|azurestack)/.*)|^(images/installer/Dockerfile\.upi.*)
  ci/prow/e2e-azurestack: any of: (azure|azurestack)
  ci/prow/e2e-azurestack-upi: any of: ^(upi/(azure|azurestack)/.*)
  ci/prow/e2e-gcp-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-gcp-ovn-shared-vpc: any of: gcp
  ci/prow/e2e-gcp-ovn-upi: any of: ^(upi/gcp/.*)|^(images/installer/Dockerfile\.upi.*)
  ci/prow/e2e-gcp-upi-xpn: any of: ^(upi/gcp/.*)
  ci/prow/e2e-ibmcloud-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-libvirt: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-metal-assisted: unless all of: (^(docs|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-metal-ipi-ovn-dualstack: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-ipi-ovn-ipv6: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-ipi-sdn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-metal-ipi-sdn-swapped-hosts: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-ipi-sdn-virtualmedia: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-single-node-live-iso: any of: (baremetal|metal3-io)
  ci/prow/e2e-nutanix-ovn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  ci/prow/e2e-nutanix-sdn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  ci/prow/e2e-openstack: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|ovirt|powervs|vsphere)/)
  ci/prow/e2e-openstack-kuryr: any of: (openstack|gophercloud)
  ci/prow/e2e-openstack-proxy: any of: openstack
  ci/prow/e2e-openstack-sdn-parallel: any of: openstack
  ci/prow/e2e-openstack-upi: any of: (^images/openstack/)|(^docs/user/openstack/install_upi\.md$)|(^upi/openstack/)
  ci/prow/e2e-ovirt-sdn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|powervs|vsphere)/)
  ci/prow/e2e-vsphere-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs)/)
  ci/prow/e2e-vsphere-upi: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  ci/prow/gofmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/govet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/images: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/okd-e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-e2e-aws-ovn-upgrade: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-scos-e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-scos-e2e-aws-upgrade: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-scos-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/okd-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/openstack-manifests: any of: openstack
  ci/prow/shellcheck: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/verify-vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/yaml-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-aws: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
  ci/prow/e2e-aws-smoke: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
