Repository openshift/installer: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-alibaba, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-aws-ovn-upi, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azure-ovn-upi, ci/prow/e2e-azurestack, ci/prow/e2e-azurestack-upi, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/e2e-gcp-ovn-upi, ci/prow/e2e-gcp-upi-xpn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-sdn-swapped-hosts, ci/prow/e2e-metal-ipi-sdn-virtualmedia, ci/prow/e2e-metal-single-node-live-iso, ci/prow/e2e-nutanix-ovn, ci/prow/e2e-nutanix-sdn, ci/prow/e2e-openstack, ci/prow/e2e-openstack-kuryr, ci/prow/e2e-openstack-proxy, ci/prow/e2e-openstack-sdn-parallel, ci/prow/e2e-openstack-upi, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-upi, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

ci/prow/aro-unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-agent-compact-ipv4:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
  ...

ci/prow/e2e-agent-ha-dualstack:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
  ...

ci/prow/e2e-agent-sno-ipv6:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
  ...

ci/prow/e2e-alibaba:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: alibabacloud
    ci-operator.openshift.io/cloud-cluster-profile: alibabacloud
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn-fips:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-ovn-imdsv2:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-ovn-proxy:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

OCPBUGS-5129: Pass Capabilites from install-config to cluster
  pkg/asset/agent/installconfig.go
  pkg/asset/agent/manifests/agentclusterinstall.go
  pkg/asset/agent/manifests/agentclusterinstall_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OpenStack: Add Failure domains
  data/data/install.openshift.io_installconfigs.yaml
  data/data/openstack/masters/main.tf
  data/data/openstack/masters/outputs.tf
  data/data/openstack/masters/private-network.tf
  data/data/openstack/variables-openstack.tf
  pkg/asset/machines/openstack/machines.go
  pkg/asset/machines/openstack/machinesets.go
  pkg/tfvars/openstack/openstack.go
  pkg/tfvars/openstack/ports.go
  pkg/types/openstack/machinepool.go
  pkg/types/openstack/validation/machinepool.go
  pkg/types/openstack/validation/machinepool_test.go
  pkg/types/openstack/validation/techpreview.go
  scripts/openstack/manifest-tests/failure-domains/install-config.yaml
  scripts/openstack/manifest-tests/failure-domains/test_machines.py
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-openstack-kuryr, ci/prow/e2e-openstack-proxy, ci/prow/e2e-openstack-sdn-parallel, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-8509: baremetal: do not use port 80 for httpd
  data/data/bootstrap/baremetal/files/usr/local/bin/startironic.sh.template
  pkg/tfvars/baremetal/baremetal.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-sdn-swapped-hosts, ci/prow/e2e-metal-ipi-sdn-virtualmedia, ci/prow/e2e-metal-single-node-live-iso, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-6725: In wait-for, use consistent delay when waiting for APIs
  pkg/agent/waitfor.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-8119: CVE-2023-25173: bump containerd
  go.mod
  go.sum
  vendor/modules.txt
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

terraform: alicloud: bump containerd for CVE fix
  terraform/providers/alicloud/go.mod
  terraform/providers/alicloud/go.sum
  terraform/providers/alicloud/vendor/modules.txt
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-alibaba, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

terraform: google: bump stringset dependency
  terraform/providers/google/go.mod
  terraform/providers/google/go.sum
  terraform/providers/google/vendor/bitbucket.org/creachadair/stringset/README.md
  terraform/providers/google/vendor/bitbucket.org/creachadair/stringset/bitbucket-pipelines.yml
  terraform/providers/google/vendor/bitbucket.org/creachadair/stringset/stringset.go
  terraform/providers/google/vendor/modules.txt
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPGUS-2363: IBMCloud: Use direct COS endpoint
  data/data/ibmcloud/bootstrap/main.tf
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

WIP AWS: Pass lb addresses to the infrastructure
  data/data/aws/bootstrap/main.tf
  data/data/aws/bootstrap/variables.tf
  data/data/aws/cluster/outputs.tf
  data/data/config.tf
  pkg/asset/cluster/tfvars.go
  pkg/asset/manifests/infrastructure.go
  pkg/terraform/stages/aws/stages.go
  pkg/tfvars/tfvars.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Updating ose-installer images to be consistent with ART Reconciling with https://github.com/openshift/ocp-build-data/tree/e18d948b6ec9fc99c368102cffc1eea0c01f5765/images/ose-installer.yml
  .ci-operator.yaml
  images/installer/Dockerfile.ci
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

update RHCOS 4.13 bootimage metadata
  data/data/coreos/rhcos.json
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-8237: update terraform-provider-ironic to 0.4.0
  terraform/providers/ironic/go.mod
  terraform/providers/ironic/go.sum
  terraform/providers/ironic/vendor/github.com/openshift-metal3/terraform-provider-ironic/.travis.yml
  terraform/providers/ironic/vendor/github.com/openshift-metal3/terraform-provider-ironic/Makefile
  terraform/providers/ironic/vendor/github.com/openshift-metal3/terraform-provider-ironic/README.md
  terraform/providers/ironic/vendor/github.com/openshift-metal3/terraform-provider-ironic/ironic/workflow.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/gccgo_c.c
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/syscall_darwin.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/syscall_freebsd_386.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/syscall_freebsd_amd64.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/syscall_freebsd_arm.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/syscall_freebsd_arm64.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/syscall_freebsd_riscv64.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/syscall_linux.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/syscall_unix.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/timestruct.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/xattr_bsd.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux_386.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux_amd64.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux_arm.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux_arm64.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux_loong64.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux_mips.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux_mips64.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux_mips64le.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux_mipsle.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux_ppc.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux_ppc64.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux_ppc64le.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux_riscv64.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux_s390x.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zerrors_linux_sparc64.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/zsyscall_linux.go
  terraform/providers/ironic/vendor/golang.org/x/sys/unix/ztypes_linux.go
  terraform/providers/ironic/vendor/golang.org/x/sys/windows/syscall_windows.go
  terraform/providers/ironic/vendor/modules.txt
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Enhanced installer for vsphere to verify ComputeResources existed in ComputeClusterResource before progressing to network selection.
  pkg/asset/installconfig/vsphere/validation.go
  pkg/asset/installconfig/vsphere/validation_test.go
  pkg/asset/installconfig/vsphere/vsphere.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

WIP: Fake PR to test metal CI
  README.md
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

** Created the New DNS Provider ** Using DNS Provider to discover ip addresses from the load balancer dns names.
  data/data/aws/bootstrap/main.tf
  pkg/terraform/providers/providers.go
  pkg/terraform/stages/aws/stages.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Performance improvements to tag queries
  pkg/asset/installconfig/vsphere/validation.go
  pkg/asset/installconfig/vsphere/validation_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Remove m6i* family from 4.10-4.11 tested instance type list, OCPBUGS-3964
  docs/user/aws/tested_instance_types_x86_64_410_411.md
Due: ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

bootstrap-in-place: save bootstrap etcd pod in the configmap
  data/data/bootstrap/files/usr/local/bin/bootkube.sh.template
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

data: libvirt: increase volume size to 32GB
  data/data/baremetal/bootstrap/main.tf
  data/data/libvirt/bootstrap/main.tf
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-sdn-swapped-hosts, ci/prow/e2e-metal-ipi-sdn-virtualmedia, ci/prow/e2e-metal-single-node-live-iso, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

openstack-manifests: Refactor
  hack/openstack/test-manifests.sh
  scripts/openstack/manifest-tests/cinder-availability-zones/test_machines.py
  scripts/openstack/manifest-tests/cinder-availability-zones/test_machinesets.py
  scripts/openstack/manifest-tests/failure-domains/test_machines.py
  scripts/openstack/manifest-tests/lb-default-stable/install-config.yaml
  scripts/openstack/manifest-tests/lb-default-stable/test_cluster-infra.py
  scripts/openstack/manifest-tests/lb-default-techpreview/install-config.yaml
  scripts/openstack/manifest-tests/lb-default-techpreview/test_cluster-infra.py
  scripts/openstack/manifest-tests/lb-managed/install-config.yaml
  scripts/openstack/manifest-tests/lb-managed/test_cluster-infra.py
  scripts/openstack/manifest-tests/lb-unmanaged/install-config.yaml
  scripts/openstack/manifest-tests/lb-unmanaged/test_cluster-infra.py
  scripts/openstack/manifest-tests/nova-availability-zones/test_machines.py
  scripts/openstack/manifest-tests/nova-availability-zones/test_machinesets.py
  scripts/openstack/manifest-tests/server-groups/test_machines.py
  scripts/openstack/manifest-tests/server-groups/test_machinesets.py
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-openstack-kuryr, ci/prow/e2e-openstack-proxy, ci/prow/e2e-openstack-sdn-parallel, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vsphere, nutanix survey: relax vip in machine cidr
  pkg/asset/installconfig/nutanix/nutanix.go
  pkg/asset/installconfig/vsphere/vsphere.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-nutanix-ovn, ci/prow/e2e-nutanix-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

** Added the deep merge module to merge nested maps ** Added tfvar for custom dns solution.
  data/data/aws/bootstrap/main.tf
  data/data/config.tf
  pkg/asset/cluster/tfvars.go
  pkg/tfvars/tfvars.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

WIP AWS: Pass lb addresses to the infrastructure
  data/data/config.tf
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

** Added terraform dns provider.
  go.mod
  go.sum
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

** Vendor Updates
  data/data/aws/bootstrap/main.tf
  go.mod
  go.sum
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-8468: aws: bump aws-sdk-go version
  go.mod
  go.sum
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

quota: gcp: replace deprecated monitoring package
  pkg/quota/gcp/gcp.go
  pkg/quota/gcp/usage.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

quota: gcp: fix some linting issues
  pkg/quota/gcp/gcp.go
  pkg/quota/gcp/usage.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

openstack-manifests: Export JUnit results
  hack/openstack/test-manifests.sh
  scripts/openstack/manifest-tests/cinder-availability-zones/test_machines.py
  scripts/openstack/manifest-tests/failure-domains/test_machines.py
  scripts/openstack/manifest-tests/lb-default-stable/test_cluster-infra.py
  scripts/openstack/manifest-tests/lb-default-techpreview/test_cluster-infra.py
  scripts/openstack/manifest-tests/lb-managed/test_cluster-infra.py
  scripts/openstack/manifest-tests/lb-unmanaged/test_cluster-infra.py
  scripts/openstack/manifest-tests/nova-availability-zones/test_machines.py
  scripts/openstack/manifest-tests/server-groups/test_machines.py
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-openstack-kuryr, ci/prow/e2e-openstack-proxy, ci/prow/e2e-openstack-sdn-parallel, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Path conditions:
  ci/prow/aro-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-agent-compact-ipv4: any of: /agent/
  ci/prow/e2e-agent-ha-dualstack: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg/.*|terraform/providers)/(alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-agent-sno-ipv6: any of: /agent/
  ci/prow/e2e-alibaba: any of: (alibabacloud|aliyun|alicloud)
  ci/prow/e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^images/(agent|alibabacloud|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-aws-ovn-fips: any of: aws
  ci/prow/e2e-aws-ovn-imdsv2: any of: aws
  ci/prow/e2e-aws-ovn-proxy: any of: aws
  ci/prow/e2e-aws-ovn-shared-vpc: any of: aws
  ci/prow/e2e-aws-ovn-single-node: any of: aws
  ci/prow/e2e-aws-ovn-upi: any of: ^(upi/aws/.*)|^(images/installer/Dockerfile\.upi.*)
  ci/prow/e2e-azure-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-azure-ovn-resourcegroup: any of: azure
  ci/prow/e2e-azure-ovn-shared-vpc: any of: azure
  ci/prow/e2e-azure-ovn-upi: any of: ^(upi/(azure|azurestack)/.*)|^(images/installer/Dockerfile\.upi.*)
  ci/prow/e2e-azurestack: any of: (azure|azurestack)
  ci/prow/e2e-azurestack-upi: any of: ^(upi/(azure|azurestack)/.*)
  ci/prow/e2e-gcp-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-gcp-ovn-shared-vpc: any of: gcp
  ci/prow/e2e-gcp-ovn-upi: any of: ^(upi/gcp/.*)|^(images/installer/Dockerfile\.upi.*)
  ci/prow/e2e-gcp-upi-xpn: any of: ^(upi/gcp/.*)
  ci/prow/e2e-ibmcloud-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-libvirt: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-metal-assisted: unless all of: (^(docs|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-metal-ipi-ovn-dualstack: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-ipi-ovn-ipv6: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-ipi-sdn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-metal-ipi-sdn-swapped-hosts: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-ipi-sdn-virtualmedia: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-single-node-live-iso: any of: (baremetal|metal3-io)
  ci/prow/e2e-nutanix-ovn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  ci/prow/e2e-nutanix-sdn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  ci/prow/e2e-openstack: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|ovirt|powervs|vsphere)/)
  ci/prow/e2e-openstack-kuryr: any of: (openstack|gophercloud)
  ci/prow/e2e-openstack-proxy: any of: openstack
  ci/prow/e2e-openstack-sdn-parallel: any of: openstack
  ci/prow/e2e-openstack-upi: any of: (^images/openstack/)|(^docs/user/openstack/install_upi\.md$)|(^upi/openstack/)
  ci/prow/e2e-ovirt-sdn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|powervs|vsphere)/)
  ci/prow/e2e-vsphere-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs)/)
  ci/prow/e2e-vsphere-upi: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  ci/prow/gofmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/govet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/images: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/okd-e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-e2e-aws-ovn-upgrade: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-scos-e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-scos-e2e-aws-upgrade: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-scos-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/okd-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/openstack-manifests: any of: openstack
  ci/prow/shellcheck: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/verify-vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/yaml-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-aws: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
  ci/prow/e2e-aws-smoke: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
