Repository openshift/installer: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-alibaba, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-aws-ovn-upi, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azure-ovn-upi, ci/prow/e2e-azurestack, ci/prow/e2e-azurestack-upi, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/e2e-gcp-ovn-upi, ci/prow/e2e-gcp-upi-xpn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-sdn-swapped-hosts, ci/prow/e2e-metal-ipi-sdn-virtualmedia, ci/prow/e2e-metal-single-node-live-iso, ci/prow/e2e-nutanix-ovn, ci/prow/e2e-nutanix-sdn, ci/prow/e2e-openstack, ci/prow/e2e-openstack-kuryr, ci/prow/e2e-openstack-proxy, ci/prow/e2e-openstack-sdn-parallel, ci/prow/e2e-openstack-upi, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-upi, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Path conditions:
  ci/prow/aro-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-agent-compact-ipv4: any of: /agent/
  ci/prow/e2e-agent-ha-dualstack: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg/.*|terraform/providers)/(alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-agent-sno-ipv6: any of: /agent/
  ci/prow/e2e-alibaba: any of: (alibabacloud|aliyun|alicloud)
  ci/prow/e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^images/(agent|alibabacloud|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-aws-ovn-fips: any of: aws
  ci/prow/e2e-aws-ovn-imdsv2: any of: aws
  ci/prow/e2e-aws-ovn-proxy: any of: aws
  ci/prow/e2e-aws-ovn-shared-vpc: any of: aws
  ci/prow/e2e-aws-ovn-single-node: any of: aws
  ci/prow/e2e-aws-ovn-upi: any of: ^(upi/aws/.*)|^(images/installer/Dockerfile\.upi.*)
  ci/prow/e2e-azure-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-azure-ovn-resourcegroup: any of: azure
  ci/prow/e2e-azure-ovn-shared-vpc: any of: azure
  ci/prow/e2e-azure-ovn-upi: any of: ^(upi/(azure|azurestack)/.*)|^(images/installer/Dockerfile\.upi.*)
  ci/prow/e2e-azurestack: any of: (azure|azurestack)
  ci/prow/e2e-azurestack-upi: any of: ^(upi/(azure|azurestack)/.*)
  ci/prow/e2e-gcp-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-gcp-ovn-shared-vpc: any of: gcp
  ci/prow/e2e-gcp-ovn-upi: any of: ^(upi/gcp/.*)|^(images/installer/Dockerfile\.upi.*)
  ci/prow/e2e-gcp-upi-xpn: any of: ^(upi/gcp/.*)
  ci/prow/e2e-ibmcloud-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-libvirt: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-metal-assisted: unless all of: (^(docs|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-metal-ipi-ovn-dualstack: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-ipi-ovn-ipv6: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-ipi-sdn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-metal-ipi-sdn-swapped-hosts: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-ipi-sdn-virtualmedia: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-single-node-live-iso: any of: (baremetal|metal3-io)
  ci/prow/e2e-nutanix-ovn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  ci/prow/e2e-nutanix-sdn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  ci/prow/e2e-openstack: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|ovirt|powervs|vsphere)/)
  ci/prow/e2e-openstack-kuryr: any of: (openstack|gophercloud)
  ci/prow/e2e-openstack-proxy: any of: openstack
  ci/prow/e2e-openstack-sdn-parallel: any of: openstack
  ci/prow/e2e-openstack-upi: any of: (^images/openstack/)|(^docs/user/openstack/install_upi\.md$)|(^upi/openstack/)
  ci/prow/e2e-ovirt-sdn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|powervs|vsphere)/)
  ci/prow/e2e-vsphere-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs)/)
  ci/prow/e2e-vsphere-upi: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  ci/prow/gofmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/govet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/images: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/okd-e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-e2e-aws-ovn-upgrade: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-scos-e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-scos-e2e-aws-upgrade: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-scos-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/okd-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/openstack-manifests: any of: openstack
  ci/prow/shellcheck: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/verify-vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/yaml-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-aws: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
  ci/prow/e2e-aws-smoke: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$

installconfig/aws: feature gate hostedZoneRole
  pkg/types/validation/installconfig.go
  pkg/types/validation/installconfig_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

AGENT-491: Support pxe base url
  cmd/openshift-install/agent_internal_integration_test.go
  cmd/openshift-install/testdata/agent/pxe/validations/sno_invalid_pxeBaseURL.txt
  pkg/asset/agent/agentconfig/agent_config.go
  pkg/asset/agent/agentconfig/agent_config_test.go
  pkg/asset/agent/image/agentpxefiles.go
  pkg/types/agent/agent_config_type.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Ignore shellcheck errors in start-cluster-installation.sh
  data/data/agent/files/usr/local/bin/start-cluster-installation.sh.template
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Fix shellcheck error
  data/data/agent/files/usr/local/bin/start-cluster-installation.sh.template
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Remove dead api_vip setting code
  data/data/agent/files/usr/local/bin/start-cluster-installation.sh.template
  pkg/asset/agent/image/ignition.go
  pkg/asset/agent/image/ignition_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Remove templating from start-cluster-installation.sh
  data/data/agent/files/usr/local/bin/start-cluster-installation.sh
  data/data/agent/systemd/units/start-cluster-installation.service.template
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: add HostedZoneRole to platform
  data/data/install.openshift.io_installconfigs.yaml
  pkg/explain/printer_test.go
  pkg/types/aws/platform.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: validate hosted zone role
  pkg/types/aws/validation/platform.go
  pkg/types/aws/validation/platform_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: add hostedZoneRole to metadata
  pkg/types/aws/metadata.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: update route53 clients to allow assume role
  pkg/asset/cluster/aws/aws.go
  pkg/asset/installconfig/aws/route53.go
  pkg/asset/installconfig/aws/validation.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: destroy phzs in other accounts
  pkg/destroy/aws/aws.go
  pkg/destroy/aws/shared.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws tfvars: pass hosted zone role
  pkg/asset/cluster/tfvars.go
  pkg/tfvars/aws/aws.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws tf: private hosted zone assume role support
  data/data/aws/cluster/main.tf
  data/data/aws/cluster/route53/base.tf
  data/data/aws/cluster/route53/variables.tf
  data/data/aws/variables-aws.tf
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: surface error when validating hosted zone
  pkg/asset/installconfig/aws/validation.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: write hostedZoneRole to DNS config
  pkg/asset/manifests/dns.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: update tests for route53 client update
  pkg/asset/installconfig/aws/mock/awsroute53_generated.go
  pkg/asset/installconfig/aws/validation_test.go
  pkg/asset/installconfig/vsphere/mock/tagmanager_generated.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

MULTIARCH-3664: PowerVS: enable multipath by default
  pkg/asset/machines/machineconfig/multipath.go
  pkg/asset/machines/master.go
  pkg/asset/machines/worker.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: add bootstrap configuration to install config
  data/data/install.openshift.io_installconfigs.yaml
  pkg/asset/cluster/tfvars.go
  pkg/asset/installconfig/aws/validation.go
  pkg/asset/installconfig/installconfig_test.go
  pkg/tfvars/aws/aws.go
  pkg/types/defaults/installconfig.go
  pkg/types/installconfig.go
  pkg/types/validation/installconfig.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

fixed tests for bootstrap field.
  pkg/asset/agent/installconfig_test.go
  pkg/explain/printer_test.go
  pkg/types/defaults/installconfig_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-13765: Support /dev/disk/by-path root device hints
  pkg/types/baremetal/rootdevice.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-sdn-swapped-hosts, ci/prow/e2e-metal-ipi-sdn-virtualmedia, ci/prow/e2e-metal-single-node-live-iso, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

fix OCPBUGS-10306
  upi/vsphere/main.tf
Due: ci/prow/aro-unit, ci/prow/e2e-metal-assisted, ci/prow/e2e-vsphere-upi, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

openstack: Add netcat to the Installer image
  images/openstack/Dockerfile.ci
Due: ci/prow/aro-unit, ci/prow/e2e-openstack, ci/prow/e2e-openstack-kuryr, ci/prow/e2e-openstack-proxy, ci/prow/e2e-openstack-sdn-parallel, ci/prow/e2e-openstack-upi, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Bump default release image to 4.14
  cmd/openshift-install/testdata/agent/image/manifests/default_manifests.txt
  pkg/asset/releaseimage/default.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Replace with govc docker image and fix ibmcli folder permission issue
  images/installer/Dockerfile.upi.ci.rhel8
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upi, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-upi, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upi, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-upi, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vSphere: terraform / machine changes for template
  pkg/asset/cluster/tfvars.go
  pkg/asset/installconfig/vsphere/client.go
  pkg/asset/installconfig/vsphere/validation.go
  pkg/asset/machines/vsphere/machines.go
  pkg/asset/machines/vsphere/machinesets.go
  pkg/tfvars/vsphere/vsphere.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vSphere: add template to platform spec
  data/data/install.openshift.io_installconfigs.yaml
  pkg/types/vsphere/platform.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vsphere: unit test changes
  pkg/asset/installconfig/vsphere/permission_test.go
  pkg/asset/installconfig/vsphere/validation_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vsphere: terraform changes for template
  data/data/vsphere/bootstrap/main.tf
  data/data/vsphere/bootstrap/outputs.tf
  data/data/vsphere/bootstrap/variables.tf
  data/data/vsphere/master/main.tf
  data/data/vsphere/master/variables.tf
  data/data/vsphere/pre-bootstrap/main.tf
  data/data/vsphere/pre-bootstrap/outputs.tf
  data/data/vsphere/variables-vsphere.tf
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

pkg/types/azure/validation: validate resource groups
  pkg/types/azure/validation/platform.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azurestack, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-13108: Log additional host info at warning level
  pkg/agent/cluster.go
  pkg/agent/waitfor.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

** CORS-2632 Validate the Additional Security Groups
  pkg/asset/installconfig/aws/ec2.go
  pkg/asset/installconfig/aws/validation.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

** Adding the Security Group IDs to the manifests in {ASSET_DIR}/openshift/. ** Security Group IDs must be ordered
  pkg/asset/installconfig/aws/ec2.go
  pkg/asset/installconfig/aws/validation.go
  pkg/asset/machines/aws/machines.go
  pkg/asset/machines/aws/machinesets.go
  pkg/types/aws/validation/machinepool.go
  pkg/types/aws/validation/machinepool_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

tls/root: Document this more and change friendly name
  pkg/asset/tls/root.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

disable ovirt provider
  pkg/asset/installconfig/platform.go
  pkg/types/installconfig.go
  pkg/types/ovirt/validation/platform.go
  pkg/types/ovirt/validation/platform_test.go
  pkg/types/validation/installconfig_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vendoring
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_dns-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_dns.crd.yaml
  vendor/github.com/openshift/api/config/v1/feature_gates.go
  vendor/github.com/openshift/api/config/v1/techpreview.dns.testsuite.yaml
  vendor/github.com/openshift/api/config/v1/types_dns.go
  vendor/github.com/openshift/api/config/v1/types_feature.go
  vendor/github.com/openshift/api/machine/v1/0000_10_controlplanemachineset.crd.yaml
  vendor/github.com/openshift/api/machine/v1/stable.controlplanemachineset.openstack.testsuite.yaml
  vendor/github.com/openshift/api/machine/v1/types_controlplanemachineset.go
  vendor/github.com/openshift/api/machine/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machine/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/operator/v1/0000_90_cluster_csi_driver_01_config.crd.yaml
  vendor/github.com/openshift/api/operator/v1/0000_90_cluster_csi_driver_01_config.crd.yaml-patch
  vendor/github.com/openshift/api/operator/v1/types_csi_cluster_driver.go
  vendor/modules.txt
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-openstack-kuryr, ci/prow/e2e-openstack-proxy, ci/prow/e2e-openstack-sdn-parallel, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OSASINFRA-3155 - OpenStack: Create ControlPlaneMachineSet CRDs
  pkg/asset/machines/master.go
  pkg/asset/machines/openstack/machines.go
  pkg/asset/machines/openstack/machinesets.go
  pkg/types/openstack/machinepool.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-openstack-kuryr, ci/prow/e2e-openstack-proxy, ci/prow/e2e-openstack-sdn-parallel, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Activate CPMS by default on new installs
  pkg/asset/machines/openstack/machines.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-openstack, ci/prow/e2e-openstack-kuryr, ci/prow/e2e-openstack-proxy, ci/prow/e2e-openstack-sdn-parallel, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-14121: Convert Rendezvous IPv6 address to canonical format
  pkg/asset/agent/image/ignition.go
  pkg/asset/agent/image/ignition_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke
