Repository openshift/installer: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-alibaba, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-aws-ovn-upi, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azure-ovn-upi, ci/prow/e2e-azurestack, ci/prow/e2e-azurestack-upi, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/e2e-gcp-ovn-upi, ci/prow/e2e-gcp-upi-xpn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-sdn-swapped-hosts, ci/prow/e2e-metal-ipi-sdn-virtualmedia, ci/prow/e2e-metal-single-node-live-iso, ci/prow/e2e-nutanix-ovn, ci/prow/e2e-nutanix-sdn, ci/prow/e2e-openstack, ci/prow/e2e-openstack-kuryr, ci/prow/e2e-openstack-proxy, ci/prow/e2e-openstack-sdn-parallel, ci/prow/e2e-openstack-upi, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-upi, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Path conditions:
  ci/prow/aro-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-agent-compact-ipv4: any of: /agent/
  ci/prow/e2e-agent-ha-dualstack: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg/.*|terraform/providers)/(alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-agent-sno-ipv6: any of: /agent/
  ci/prow/e2e-alibaba: any of: (alibabacloud|aliyun|alicloud)
  ci/prow/e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^images/(agent|alibabacloud|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-aws-ovn-fips: any of: aws
  ci/prow/e2e-aws-ovn-imdsv2: any of: aws
  ci/prow/e2e-aws-ovn-proxy: any of: aws
  ci/prow/e2e-aws-ovn-shared-vpc: any of: aws
  ci/prow/e2e-aws-ovn-single-node: any of: aws
  ci/prow/e2e-aws-ovn-upi: any of: ^(upi/aws/.*)|^(images/installer/Dockerfile\.upi.*)
  ci/prow/e2e-azure-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-azure-ovn-resourcegroup: any of: azure
  ci/prow/e2e-azure-ovn-shared-vpc: any of: azure
  ci/prow/e2e-azure-ovn-upi: any of: ^(upi/(azure|azurestack)/.*)|^(images/installer/Dockerfile\.upi.*)
  ci/prow/e2e-azurestack: any of: (azure|azurestack)
  ci/prow/e2e-azurestack-upi: any of: ^(upi/(azure|azurestack)/.*)
  ci/prow/e2e-gcp-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-gcp-ovn-shared-vpc: any of: gcp
  ci/prow/e2e-gcp-ovn-upi: any of: ^(upi/gcp/.*)|^(images/installer/Dockerfile\.upi.*)
  ci/prow/e2e-gcp-upi-xpn: any of: ^(upi/gcp/.*)
  ci/prow/e2e-ibmcloud-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-libvirt: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-metal-assisted: unless all of: (^(docs|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-metal-ipi-ovn-dualstack: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-ipi-ovn-ipv6: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-ipi-sdn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-metal-ipi-sdn-swapped-hosts: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-ipi-sdn-virtualmedia: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-single-node-live-iso: any of: (baremetal|metal3-io)
  ci/prow/e2e-nutanix-ovn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  ci/prow/e2e-nutanix-sdn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  ci/prow/e2e-openstack: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|ovirt|powervs|vsphere)/)
  ci/prow/e2e-openstack-kuryr: any of: (openstack|gophercloud)
  ci/prow/e2e-openstack-proxy: any of: openstack
  ci/prow/e2e-openstack-sdn-parallel: any of: openstack
  ci/prow/e2e-openstack-upi: any of: (^images/openstack/)|(^docs/user/openstack/install_upi\.md$)|(^upi/openstack/)
  ci/prow/e2e-ovirt-sdn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|powervs|vsphere)/)
  ci/prow/e2e-vsphere-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs)/)
  ci/prow/e2e-vsphere-upi: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  ci/prow/gofmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/govet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/images: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/okd-e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-e2e-aws-ovn-upgrade: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-scos-e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-scos-e2e-aws-upgrade: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-scos-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/okd-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/openstack-manifests: any of: openstack
  ci/prow/shellcheck: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/verify-vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/yaml-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-aws: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
  ci/prow/e2e-aws-smoke: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$

aws: add HostedZoneRole to platform
  data/data/install.openshift.io_installconfigs.yaml
  pkg/explain/printer_test.go
  pkg/types/aws/platform.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: validate hosted zone role
  pkg/types/aws/validation/platform.go
  pkg/types/aws/validation/platform_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: add hostedZoneRole to metadata
  pkg/types/aws/metadata.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: update route53 clients to allow assume role
  pkg/asset/cluster/aws/aws.go
  pkg/asset/installconfig/aws/route53.go
  pkg/asset/installconfig/aws/validation.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: destroy phzs in other accounts
  pkg/destroy/aws/aws.go
  pkg/destroy/aws/shared.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws tfvars: pass hosted zone role
  pkg/asset/cluster/tfvars.go
  pkg/tfvars/aws/aws.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws tf: private hosted zone assume role support
  data/data/aws/cluster/main.tf
  data/data/aws/cluster/route53/base.tf
  data/data/aws/cluster/route53/variables.tf
  data/data/aws/variables-aws.tf
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: surface error when validating hosted zone
  pkg/asset/installconfig/aws/validation.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: write hostedZoneRole to DNS config
  pkg/asset/manifests/dns.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: update tests for route53 client update
  pkg/asset/installconfig/aws/mock/awsroute53_generated.go
  pkg/asset/installconfig/aws/validation_test.go
  pkg/asset/installconfig/vsphere/mock/tagmanager_generated.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: validate hostedZoneRole cred mode
  pkg/types/aws/validation/platform.go
  pkg/types/aws/validation/platform_test.go
  pkg/types/validation/installconfig.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: adjust permisisons for hostedZone
  pkg/asset/installconfig/aws/permissions.go
  pkg/asset/installconfig/platformpermscheck.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: refactor destroy code
  pkg/destroy/aws/aws.go
  pkg/destroy/aws/shared.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: clarify hostedZoneRole description
  data/data/install.openshift.io_installconfigs.yaml
  pkg/explain/printer_test.go
  pkg/types/aws/platform.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-7690: azure: destroy: dns records leak if permissions missing
  pkg/destroy/azure/azure.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azurestack, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

azure: platform: NAT gateway not supported by Azure Stack
  pkg/types/azure/validation/platform.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azurestack, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-17869: azure: put NAT gateway behind TechPreviewNoUpgrade
  data/data/install.openshift.io_installconfigs.yaml
  pkg/explain/printer_test.go
  pkg/types/azure/platform.go
  pkg/types/azure/validation/platform.go
  pkg/types/azure/validation/platform_test.go
  pkg/types/validation/installconfig.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azurestack, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

go.mod: pull in AWS shared vpc API update
  go.mod
  go.sum
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-17861: cinder volume type/az validation
  pkg/asset/installconfig/openstack/validation/cloudinfo.go
  pkg/asset/installconfig/openstack/validation/machinepool.go
  pkg/asset/installconfig/openstack/validation/machinepool_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-openstack, ci/prow/e2e-openstack-kuryr, ci/prow/e2e-openstack-proxy, ci/prow/e2e-openstack-sdn-parallel, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

AGENT: publish services diagrams
  docs/user/agent/agent-services.md
  docs/user/agent/agent_installer_services-automated_flow.png
  docs/user/agent/agent_installer_services-unconfigured_ignition_and_config_image_flow.png
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Fix misspelling
  pkg/asset/agent/agentconfig/agent_config.go
  pkg/asset/agent/agentconfig/agent_config_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Improve error message and simplify code
  pkg/asset/agent/agentconfig/agent_config.go
  pkg/asset/agent/agentconfig/agent_config_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-15659: IPI pre-check for MachineAPI capability
  pkg/asset/installconfig/platformprovisioncheck.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Bump openshift/api
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/0000_00_cluster-version-operator_01_clusterversion.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_infrastructure-Default.crd.yaml
  vendor/github.com/openshift/api/config/v1/feature_gates.go
  vendor/github.com/openshift/api/config/v1/stable.clusterversion.testsuite.yaml
  vendor/github.com/openshift/api/config/v1/stable.infrastructure.testsuite.yaml
  vendor/github.com/openshift/api/config/v1/types_cluster_version.go
  vendor/github.com/openshift/api/config/v1/types_feature.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/machine/v1/0000_10_controlplanemachineset.crd.yaml
  vendor/github.com/openshift/api/machine/v1/types_controlplanemachineset.go
  vendor/github.com/openshift/api/machine/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/machine/v1beta1/types_azureprovider.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1/0000_12_etcd-operator_01_config-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/techpreview.etcd.testsuite.yaml
  vendor/github.com/openshift/api/operator/v1/types_etcd.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azurestack, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Update azure zone to non-pointer
  pkg/asset/machines/azure/machines.go
  pkg/tfvars/azure/azure.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azurestack, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-14957: GCP destroy timeout
  pkg/destroy/gcp/gcp.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Inline staticnetworkconfig from assisted-service
  go.mod
  go.sum
  pkg/asset/agent/manifests/nmstateconfig.go
  pkg/asset/agent/manifests/staticnetworkconfig/generator.go
  vendor/github.com/openshift/assisted-service/pkg/staticnetworkconfig/mock_generator.go
  vendor/modules.txt
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Don't use 'executer' module for oc
  pkg/asset/agent/image/agentartifacts.go
  pkg/asset/agent/image/baseiso.go
  pkg/asset/agent/image/oc.go
  vendor/github.com/openshift/assisted-service/pkg/executer/executer.go
  vendor/github.com/openshift/assisted-service/pkg/executer/mock_executer.go
  vendor/modules.txt
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Don't use 'executer' module for nmstatectl
  pkg/asset/agent/manifests/staticnetworkconfig/generator.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Implement workaround to allow SNO installations for OKD/FCOS
  data/data/bootstrap/files/usr/local/bin/bootstrap-pivot.sh.template
  data/data/bootstrap/systemd/units/release-image-pivot.service.template
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

GCP Custom Managed DNS Zones Spike
  data/data/install.openshift.io_installconfigs.yaml
  pkg/asset/installconfig/gcp/validation.go
  pkg/types/gcp/platform.go
  pkg/types/gcp/validation/platform.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

for vsphere ipi add cluster domain to the uploaded vm configs so that 30-local-dns-prepender can use it
  data/data/vsphere/bootstrap/main.tf
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-2339: Restart agent.service if assisted-service restarts
  data/data/agent/files/usr/local/bin/restart-agent.sh
  data/data/agent/systemd/units/agent-restart.service
  data/data/agent/systemd/units/agent.service
  pkg/asset/agent/image/ignition.go
  pkg/asset/agent/image/ignition_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

CORS-2445: GCP: Add osImage to the install config
  data/data/install.openshift.io_installconfigs.yaml
  pkg/asset/installconfig/gcp/client.go
  pkg/asset/installconfig/gcp/mock/gcpclient_generated.go
  pkg/asset/installconfig/gcp/validation.go
  pkg/asset/installconfig/gcp/validation_test.go
  pkg/asset/machines/gcp/machines.go
  pkg/types/gcp/machinepools.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-17869: azure: fix setting outboundType
  pkg/tfvars/azure/azure.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azurestack, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

gomod: bump openshift/api version
  data/data/install.openshift.io_installconfigs.yaml
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/0000_00_cluster-version-operator_01_clusterversion.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_infrastructure-Default.crd.yaml
  vendor/github.com/openshift/api/config/v1/feature_gates.go
  vendor/github.com/openshift/api/config/v1/stable.clusterversion.testsuite.yaml
  vendor/github.com/openshift/api/config/v1/stable.infrastructure.testsuite.yaml
  vendor/github.com/openshift/api/config/v1/types_cluster_version.go
  vendor/github.com/openshift/api/config/v1/types_feature.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/machine/v1/0000_10_controlplanemachineset.crd.yaml
  vendor/github.com/openshift/api/machine/v1/types_controlplanemachineset.go
  vendor/github.com/openshift/api/machine/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/machine/v1beta1/types_azureprovider.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1/0000_12_etcd-operator_01_config-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/0000_70_cluster-network-operator_01.crd.yaml
  vendor/github.com/openshift/api/operator/v1/stable.network.testsuite.yaml
  vendor/github.com/openshift/api/operator/v1/techpreview.etcd.testsuite.yaml
  vendor/github.com/openshift/api/operator/v1/types_etcd.go
  vendor/github.com/openshift/api/operator/v1/types_network.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azurestack, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

azure: fix api changes
  pkg/asset/machines/azure/machines.go
  pkg/tfvars/azure/azure.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azurestack, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke
