Repository openshift/installer: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-alibaba, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-aws-ovn-upi, ci/prow/e2e-azure-ovn, ci/prow/e2e-azure-ovn-resourcegroup, ci/prow/e2e-azure-ovn-shared-vpc, ci/prow/e2e-azure-ovn-upi, ci/prow/e2e-azurestack, ci/prow/e2e-azurestack-upi, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/e2e-gcp-ovn-upi, ci/prow/e2e-gcp-upi-xpn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-sdn-swapped-hosts, ci/prow/e2e-metal-ipi-sdn-virtualmedia, ci/prow/e2e-metal-single-node-live-iso, ci/prow/e2e-nutanix-ovn, ci/prow/e2e-nutanix-sdn, ci/prow/e2e-openstack, ci/prow/e2e-openstack-kuryr, ci/prow/e2e-openstack-proxy, ci/prow/e2e-openstack-sdn-parallel, ci/prow/e2e-openstack-upi, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-upi, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Path conditions:
  ci/prow/aro-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-agent-compact-ipv4: any of: /agent/
  ci/prow/e2e-agent-ha-dualstack: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg/.*|terraform/providers)/(alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-agent-sno-ipv6: any of: /agent/
  ci/prow/e2e-alibaba: any of: (alibabacloud|aliyun|alicloud)
  ci/prow/e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^images/(agent|alibabacloud|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-aws-ovn-fips: any of: aws
  ci/prow/e2e-aws-ovn-imdsv2: any of: aws
  ci/prow/e2e-aws-ovn-proxy: any of: aws
  ci/prow/e2e-aws-ovn-shared-vpc: any of: aws
  ci/prow/e2e-aws-ovn-single-node: any of: aws
  ci/prow/e2e-aws-ovn-upi: any of: ^(upi/aws/.*)|^(images/installer/Dockerfile\.upi.*)
  ci/prow/e2e-azure-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-azure-ovn-resourcegroup: any of: azure
  ci/prow/e2e-azure-ovn-shared-vpc: any of: azure
  ci/prow/e2e-azure-ovn-upi: any of: ^(upi/(azure|azurestack)/.*)|^(images/installer/Dockerfile\.upi.*)
  ci/prow/e2e-azurestack: any of: (azure|azurestack)
  ci/prow/e2e-azurestack-upi: any of: ^(upi/(azure|azurestack)/.*)
  ci/prow/e2e-gcp-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-gcp-ovn-shared-vpc: any of: gcp
  ci/prow/e2e-gcp-ovn-upi: any of: ^(upi/gcp/.*)|^(images/installer/Dockerfile\.upi.*)
  ci/prow/e2e-gcp-upi-xpn: any of: ^(upi/gcp/.*)
  ci/prow/e2e-ibmcloud-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-libvirt: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-metal-assisted: unless all of: (^(docs|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-metal-ipi-ovn-dualstack: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-ipi-ovn-ipv6: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-ipi-sdn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/e2e-metal-ipi-sdn-swapped-hosts: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-ipi-sdn-virtualmedia: any of: (baremetal|metal3-io)
  ci/prow/e2e-metal-single-node-live-iso: any of: (baremetal|metal3-io)
  ci/prow/e2e-nutanix-ovn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  ci/prow/e2e-nutanix-sdn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  ci/prow/e2e-openstack: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|ovirt|powervs|vsphere)/)
  ci/prow/e2e-openstack-kuryr: any of: (openstack|gophercloud)
  ci/prow/e2e-openstack-proxy: any of: openstack
  ci/prow/e2e-openstack-sdn-parallel: any of: openstack
  ci/prow/e2e-openstack-upi: any of: (^images/openstack/)|(^docs/user/openstack/install_upi\.md$)|(^upi/openstack/)
  ci/prow/e2e-ovirt-sdn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|powervs|vsphere)/)
  ci/prow/e2e-vsphere-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs)/)
  ci/prow/e2e-vsphere-upi: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  ci/prow/gofmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/govet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/images: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/okd-e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-e2e-aws-ovn-upgrade: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-scos-e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|azure|azurestack|baremetal|gcp|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-scos-e2e-aws-upgrade: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^(data/.*|images|pkg(/.+)?|cmd/openshift-install|terraform/providers)/(agent|alibabacloud|aws|azure|azurestack|baremetal|ibmcloud|libvirt|nutanix|openstack|ovirt|powervs|vsphere)/)
  ci/prow/okd-scos-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/okd-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/openstack-manifests: any of: openstack
  ci/prow/shellcheck: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/verify-vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/yaml-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-aws: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
  ci/prow/e2e-aws-smoke: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$

openstack: changes for v1beta1
  pkg/asset/machines/openstack/openstackmachines.go
  pkg/asset/manifests/openstack/cluster.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-openstack, ci/prow/e2e-openstack-kuryr, ci/prow/e2e-openstack-proxy, ci/prow/e2e-openstack-sdn-parallel, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-44230: Add C4A instance types
  data/data/install.openshift.io_installconfigs.yaml
  pkg/asset/installconfig/gcp/validation.go
  pkg/types/gcp/machinepools.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

DO NOT MERGE. root-ca 2 hours validity for testing
  pkg/asset/tls/root.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Vendor updates for GCP Machine API Provider in 4.17
  go.mod
  go.sum
  vendor/github.com/openshift/machine-api-provider-gcp/pkg/cloud/gcp/actuators/services/tags/tagservice.go
  vendor/github.com/openshift/machine-api-provider-gcp/pkg/cloud/gcp/actuators/services/tags/tagservice_mock.go
  vendor/github.com/openshift/machine-api-provider-gcp/pkg/cloud/gcp/actuators/util/gcp_machine_architecture.go
  vendor/github.com/openshift/machine-api-provider-gcp/pkg/cloud/gcp/actuators/util/gcp_tags_labels.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/validation.go
  vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/zz_generated.markerhelp.go
  vendor/sigs.k8s.io/controller-tools/pkg/crd/zz_generated.markerhelp.go
  vendor/sigs.k8s.io/controller-tools/pkg/deepcopy/gen.go
  vendor/sigs.k8s.io/controller-tools/pkg/deepcopy/traverse.go
  vendor/sigs.k8s.io/controller-tools/pkg/deepcopy/zz_generated.markerhelp.go
  vendor/sigs.k8s.io/controller-tools/pkg/genall/genall.go
  vendor/sigs.k8s.io/controller-tools/pkg/genall/options.go
  vendor/sigs.k8s.io/controller-tools/pkg/genall/output.go
  vendor/sigs.k8s.io/controller-tools/pkg/genall/zz_generated.markerhelp.go
  vendor/sigs.k8s.io/controller-tools/pkg/loader/loader.go
  vendor/sigs.k8s.io/controller-tools/pkg/markers/collect.go
  vendor/sigs.k8s.io/controller-tools/pkg/markers/parse.go
  vendor/sigs.k8s.io/controller-tools/pkg/markers/zip.go
  vendor/sigs.k8s.io/controller-tools/pkg/rbac/zz_generated.markerhelp.go
  vendor/sigs.k8s.io/controller-tools/pkg/schemapatcher/gen.go
  vendor/sigs.k8s.io/controller-tools/pkg/schemapatcher/zz_generated.markerhelp.go
  vendor/sigs.k8s.io/controller-tools/pkg/webhook/parser.go
  vendor/sigs.k8s.io/controller-tools/pkg/webhook/zz_generated.markerhelp.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vendor: Update openshift/api to pick up v4.17 capability sets
  data/data/install.openshift.io_installconfigs.yaml
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_cluster_version.go
  vendor/github.com/openshift/api/config/v1/types_network.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/operator/v1/types_network.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/route/v1/generated.proto
  vendor/github.com/openshift/api/route/v1/types.go
  vendor/github.com/openshift/api/route/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/modules.txt
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

go mod tidy
  go.sum
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-44167: Ensure rendezvousIP is checked against host IP
  pkg/asset/agent/agentconfig/agenthosts.go
  pkg/asset/agent/agentconfig/agenthosts_test.go
  pkg/asset/agent/common.go
  pkg/asset/agent/manifests/nmstateconfig.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Fix "explain" tests and regenerate the installconfig file.
  data/data/install.openshift.io_installconfigs.yaml
  pkg/explain/fields_lookup_test.go
  pkg/explain/printer_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

PowerVS: Vendoring go.* changes
  cluster-api/cluster-api/go.mod
  cluster-api/cluster-api/go.sum
  cluster-api/providers/ibmcloud/go.mod
  cluster-api/providers/ibmcloud/go.sum
  go.mod
  go.sum
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

PowerVS: Include latest ibmcloud-infrastructure-components.yaml
  data/data/cluster-api/ibmcloud-infrastructure-components.yaml
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

AGENT-967: Improve monitoring output for multi-node
  cmd/node-joiner/main.go
  pkg/agent/cluster.go
  pkg/agent/logging.go
  pkg/agent/monitoraddnodes.go
  pkg/agent/monitoraddnodes_test.go
  pkg/agent/validations.go
  pkg/agent/validations_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-14963: IBMCloud: Ignore failed VPC regions
  pkg/asset/installconfig/ibmcloud/client.go
  pkg/asset/installconfig/ibmcloud/metadata.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-36222: capi/aws: bump provider version to latest main
  cluster-api/providers/aws/go.mod
  cluster-api/providers/aws/go.sum
  go.mod
  go.sum
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

capi/aws: update CRD after CAPA bump
  data/data/cluster-api/aws-infrastructure-components.yaml
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

AGENT-859: Support for PXE files in day 2
  cmd/node-joiner/main.go
  pkg/asset/agent/image/agentartifacts.go
  pkg/asset/agent/joiner/addnodesconfig.go
  pkg/asset/agent/joiner/clusterinfo.go
  pkg/nodejoiner/addnodes.go
  pkg/nodejoiner/monitoraddnodes.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Integration test for node-joiner add-nodes --pxe
  cmd/node-joiner/testdata/add-nodes-pxe.txt
  internal/tshelpers/fakeregistry.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

AGENT-959: iSCSI Boot Network Configuration Script for Generic Support
  data/data/agent/files/usr/local/bin/iscsi-oci-configure-secondary-nic.sh
  data/data/agent/systemd/units/iscsi-oci-configure-secondary-nic.service
  data/data/agent/systemd/units/iscsistart.service
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Update default enabled services. Update unit test
  pkg/asset/agent/image/ignition.go
  pkg/asset/agent/image/ignition_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Inject network config script to execute on instance boot. Script maintained by Oracle.
  data/data/agent/files/usr/local/bin/iscsi-oci-configure-secondary-nic.sh
  data/data/agent/files/usr/local/bin/oci-eval-user-data.sh
  data/data/agent/systemd/units/oci-eval-user-data.service
  pkg/asset/agent/image/ignition.go
  pkg/asset/agent/image/ignition_test.go
  pkg/asset/agent/image/unconfigured_ignition_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

fix unconfigured ignition test
  pkg/asset/agent/image/unconfigured_ignition_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

make the test pass
  pkg/asset/agent/image/unconfigured_ignition_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

gofmt
  pkg/asset/agent/image/unconfigured_ignition_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

AGENT-990: Allow control planes with 5 and 4 replicas
  cmd/openshift-install/testdata/agent/image/configurations/control-plane-4-replicas.txt
  cmd/openshift-install/testdata/agent/image/configurations/control-plane-5-replicas.txt
  cmd/openshift-install/testdata/agent/image/validations/compact_invalid_controlPlane_replicas.txt
  docs/user/agent/control-plane-replicas.md
  pkg/asset/agent/installconfig.go
  pkg/asset/agent/installconfig_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Bump api to vrutkovs:feature-short-cert-rotation
  go.mod
  go.sum
  v2.txt
  vendor/github.com/openshift/api/config/v1/types_node.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_image_policy.go
  vendor/github.com/openshift/api/config/v1alpha1/types_image_policy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/features/util.go
  vendor/github.com/openshift/api/operator/v1/types.go
  vendor/modules.txt
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

pkg/asset: issue short lived certificates if ShortCertRotation featuregate is enabled
  pkg/asset/imagebased/configimage/ingressoperatorsigner.go
  pkg/asset/tls/adminkubeconfig.go
  pkg/asset/tls/aggregator.go
  pkg/asset/tls/apiserver.go
  pkg/asset/tls/certkey_test.go
  pkg/asset/tls/ironictls.go
  pkg/asset/tls/journalcertkey.go
  pkg/asset/tls/kubecontrolplane.go
  pkg/asset/tls/kubelet.go
  pkg/asset/tls/mcscertkey.go
  pkg/asset/tls/root.go
  pkg/asset/tls/tls.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

add workflow report
  pkg/asset/agent/workflow/report/context.go
  pkg/asset/agent/workflow/report/report.go
  pkg/asset/agent/workflow/report/report_interfaces.go
  pkg/asset/agent/workflow/report/report_test.go
  pkg/asset/agent/workflow/report/stage.go
  pkg/asset/agent/workflow/report/stageid.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

add-nodes workflow stages
  pkg/asset/agent/image/agentartifacts.go
  pkg/asset/agent/image/agentimage.go
  pkg/asset/agent/image/baseiso.go
  pkg/asset/agent/image/ignition.go
  pkg/asset/agent/joiner/clusterinfo.go
  pkg/asset/agent/manifests/agent.go
  pkg/asset/agent/workflow/commons.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

add-nodes command report generation
  pkg/nodejoiner/addnodes.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

report docs
  docs/dev/workflow_report.md
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

report integration test
  cmd/node-joiner/testdata/add-nodes -report.txt
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

fix it name
  cmd/node-joiner/testdata/add-nodes-report.txt
Due: ci/prow/aro-unit, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

first resources working
  pkg/destroy/gcp/address.go
  pkg/destroy/gcp/backendservice.go
  pkg/destroy/gcp/gcp.go
  pkg/destroy/gcp/healthcheck.go
  pkg/destroy/gcp/httphealthcheck.go
  pkg/destroy/gcp/targetTCPProxies.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

More resources being tested
  pkg/destroy/gcp/bucket.go
  pkg/destroy/gcp/bucketobject.go
  pkg/destroy/gcp/disk.go
  pkg/destroy/gcp/image.go
  pkg/destroy/gcp/instancegroup.go
  pkg/destroy/gcp/network.go
  pkg/destroy/gcp/router.go
  pkg/destroy/gcp/subnetwork.go
  pkg/destroy/gcp/targetpool.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-shared-vpc, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-43439: permissions: add ec2:DescribeInstanceTypes requirement
  pkg/asset/installconfig/aws/permissions.go
  pkg/asset/installconfig/aws/permissions_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-fips, ci/prow/e2e-aws-ovn-imdsv2, ci/prow/e2e-aws-ovn-proxy, ci/prow/e2e-aws-ovn-shared-vpc, ci/prow/e2e-aws-ovn-single-node, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-43674: ABI cluster installation fails for external OCI platform Correctly maps agentClusterInstall with cloudControllerManager value Updated integrations tests
  cmd/openshift-install/testdata/agent/image/configurations/external_with_bootArtifactsBaseURL_minimal_iso.txt
  cmd/openshift-install/testdata/agent/image/configurations/external_without_bootArtifactsBaseURL_minimal_iso.txt
  pkg/asset/agent/manifests/agentclusterinstall.go
  pkg/asset/agent/manifests/agentclusterinstall_test.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-ibmcloud-ovn, ci/prow/e2e-libvirt, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-openstack, ci/prow/e2e-ovirt-sdn, ci/prow/e2e-vsphere-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-e2e-aws-ovn, ci/prow/okd-e2e-aws-ovn-upgrade, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/okd-scos-e2e-aws-upgrade, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Use external.ExternalPlatformNameOci instead agent.ExternalPlatformNameOci
  pkg/asset/agent/manifests/agentclusterinstall.go
Due: ci/prow/aro-unit, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-aws-ovn, ci/prow/gofmt, ci/prow/golint, ci/prow/govet, ci/prow/images, ci/prow/okd-scos-unit, ci/prow/okd-unit, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/unit, ci/prow/verify-vendor, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke
