Repository openshift/machine-api-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Path conditions:
  ci/prow/e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$|vsphere
  ci/prow/e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-azure-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$|vsphere
  ci/prow/e2e-azure-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-gcp-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$|vsphere
  ci/prow/e2e-gcp-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-ovn-dualstack: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-sdn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-virtualmedia: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-nutanix: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-openstack: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-vsphere-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$
  ci/prow/e2e-vsphere-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-vsphere-ovn-serial: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-vsphere-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

sync
  install/0000_30_machine-api-operator_02_machine.CustomNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_02_machine.Default.crd.yaml
  install/0000_30_machine-api-operator_02_machine.DevPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_02_machine.TechPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.CustomNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.Default.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.DevPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.TechPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_07_machinehealthcheck.crd.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Added vSphere support for additional disks
  cmd/machineset/main.go
  cmd/vsphere/main.go
  go.sum
  pkg/controller/vsphere/actuator.go
  pkg/controller/vsphere/machine_scope.go
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
  pkg/operator/operator.go
  pkg/operator/operator_test.go
  pkg/webhooks/machine_webhook.go
  pkg/webhooks/machineset_webhook.go
  vendor/github.com/openshift/api/machine/v1beta1/types_vsphereprovider.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Fixed unit tests
  pkg/controller/vsphere/actuator_test.go
  pkg/controller/vsphere/machine_scope_test.go
  pkg/util/testing/testing.go
  pkg/webhooks/machine_webhook_test.go
  pkg/webhooks/v1beta1_suite_test.go
  third_party/cluster-api/crd/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  third_party/cluster-api/crd/ipam.cluster.x-k8s.io_ipaddresses.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

VSphere: Handle cloned instance with lost taskID
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

fix: health probes paths and updated timing
  pkg/operator/sync.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

make klog initialization for vSphere consistent with other controllers
  cmd/vsphere/main.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

Nutanix: support multi-subnets in Machine providerSpec
  pkg/webhooks/machine_webhook.go
  pkg/webhooks/machine_webhook_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

install/0000_30_machine-api-operator_00_credentials-request: Set skipServiceCheck again for GCP
  install/0000_30_machine-api-operator_00_credentials-request.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Remove unneeded VNet permissions from Azure CredentialsRequest
  install/0000_30_machine-api-operator_00_credentials-request.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

scc fix
  pkg/operator/status_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Fixed unit tests
  pkg/controller/vsphere/actuator_test.go
  pkg/controller/vsphere/reconciler_test.go
  pkg/util/testing/testing.go
  pkg/webhooks/machine_webhook_test.go
  pkg/webhooks/machineset_webhook_test.go
  pkg/webhooks/v1beta1_suite_test.go
  third_party/cluster-api/crd/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  third_party/cluster-api/crd/ipam.cluster.x-k8s.io_ipaddresses.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

scc fix
  pkg/operator/status.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Add permissions based on linked actions
  install/0000_30_machine-api-operator_00_credentials-request.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

consistent naming, fixed unit
  pkg/controller/vsphere/actuator.go
  pkg/controller/vsphere/machine_scope.go
  pkg/controller/vsphere/reconciler_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

Ensure deletion annotation takes priority and oldestPolicy can distinguish longer ages
  pkg/controller/machineset/delete_policy.go
  pkg/controller/machineset/delete_policy_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

api changes to install manifests
  install/0000_30_machine-api-operator_02_machine.CustomNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_02_machine.Default.crd.yaml
  install/0000_30_machine-api-operator_02_machine.DevPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_02_machine.TechPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.CustomNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.Default.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.DevPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.TechPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_07_machinehealthcheck.crd.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Add vSphere vm-host group zonal
  cmd/machine-api-operator/start.go
  cmd/vsphere/main.go
  pkg/controller/vsphere/actuator.go
  pkg/controller/vsphere/machine_scope.go
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
  pkg/operator/sync.go
  pkg/webhooks/machine_webhook.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Refactored vsphere featuregate parameters
  cmd/machineset/main.go
  cmd/vsphere/main.go
  pkg/controller/vsphere/actuator.go
  pkg/controller/vsphere/actuator_test.go
  pkg/controller/vsphere/machine_scope.go
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
  pkg/util/testing/testing.go
  pkg/webhooks/machine_webhook.go
  pkg/webhooks/machine_webhook_test.go
  pkg/webhooks/machineset_webhook.go
  pkg/webhooks/machineset_webhook_test.go
  pkg/webhooks/v1beta1_suite_test.go
  third_party/cluster-api/crd/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  third_party/cluster-api/crd/ipam.cluster.x-k8s.io_ipaddresses.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade
