Repository openshift/machine-api-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

ci/prow/e2e-aws-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-azure-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-azure-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-gcp-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-gcp-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-metal-ipi-ovn-dualstack:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
  ...

ci/prow/e2e-metal-ipi-ovn-ipv6:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
  ...

grant get access to osimagestreams
  install/0000_30_machine-api-operator_09_rbac.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: raise controller cache resync from 10m to 30m
  cmd/vsphere/main.go
  cmd/vsphere/main_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: add --max-concurrent-reconciles (default 10)
  cmd/vsphere/main.go
  cmd/vsphere/main_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: assert 30m sync period in main test
  cmd/vsphere/main_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: clear finished task ref on update to skip GetTask
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: skip region/zone tag walk when labels already set
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: dedup power-state/name/UUID fetches on steady-state resync
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: reset machine identity when re-cloning VM
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: guard TaskIDCache with a mutex
  pkg/controller/vsphere/actuator.go
  pkg/controller/vsphere/actuator_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: clear terminal failed task ref in update
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: clear TaskRef only for terminal failed tasks
  pkg/controller/vsphere/reconciler.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

NO-ISSUE: Add opt-in kube-rbac-proxy sidecar for pprof endpoint (AWS)
  cmd/machine-api-operator/start.go
  pkg/operator/config.go
  pkg/operator/operator.go
  pkg/operator/sync.go
  pkg/operator/sync_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: optimize reconciliation and reduce vCenter API usage
  cmd/vsphere/main.go
  pkg/controller/vsphere/actuator.go
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/session/session.go
  pkg/controller/vsphere/session/tag_ids_caching_client.go
  pkg/controller/vsphere/session/transport_metrics.go
  pkg/metrics/metrics.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: add and update tests for reconciliation optimizations
  pkg/controller/vsphere/actuator_test.go
  pkg/controller/vsphere/reconciler_test.go
  pkg/controller/vsphere/session/session_test.go
  pkg/controller/vsphere/session/test_ids_caching_client_test.go
  pkg/controller/vsphere/session/transport_metrics_test.go
  pkg/metrics/metrics_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

test(vsphere): add MachineSet OTE coverage
  test/e2e/vsphere/machines.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

OCPBUGS-126898: Don't default vSphere numCoresPerSocket to numCPUs
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

Does something
  something
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

OCPBUGS-90560: add RBAC for GCP boot image resolution
  install/0000_30_machine-api-operator_09_rbac.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

remove GCP boot disk image defaulting from admission webhook
  pkg/webhooks/machine_webhook.go
  pkg/webhooks/machine_webhook_test.go
  pkg/webhooks/machineset_webhook_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

OCPBUGS-90560: tighten boot image RBAC
  install/0000_30_machine-api-operator_09_rbac.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: scope cluster tag lookup by category
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

Path conditions:
  ci/prow/e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$|vsphere
  ci/prow/e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-azure-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$|vsphere
  ci/prow/e2e-azure-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-gcp-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$|vsphere
  ci/prow/e2e-gcp-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-ovn-dualstack: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-sdn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-virtualmedia: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-nutanix: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-openstack: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-vsphere-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$
  ci/prow/e2e-vsphere-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-vsphere-ovn-serial: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-vsphere-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
