Repository openshift/machine-api-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Path conditions:
  ci/prow/e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$|vsphere
  ci/prow/e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-azure-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$|vsphere
  ci/prow/e2e-azure-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-gcp-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$|vsphere
  ci/prow/e2e-gcp-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-ovn-dualstack: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-sdn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-virtualmedia: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-nutanix: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-openstack: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-vsphere-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$
  ci/prow/e2e-vsphere-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-vsphere-ovn-serial: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-vsphere-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Updated IPAM references to use v1beta2
  cmd/vsphere/main.go
  pkg/controller/vsphere/actuator_test.go
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
  pkg/util/ipam/util.go
  third_party/cluster-api/crd/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  third_party/cluster-api/crd/ipam.cluster.x-k8s.io_ipaddresses.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

vendor updates
  vendor/k8s.io/apimachinery/pkg/api/apitesting/close.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/codec.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/fuzzer/fuzzer.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/fuzzer/valuefuzz.go
  vendor/k8s.io/apimachinery/pkg/apis/meta/fuzzer/fuzzer.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/.import-restrictions
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/cluster_phase_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/cluster_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/clusterclass_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/common_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/condition_consts.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/condition_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/conversion.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/doc.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/groupversion_info.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/machine_phase_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/machine_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/machinedeployment_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/machinedrainrules_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/machinehealthcheck_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/machinepool_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/machineset_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/v1beta2_condition_consts.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/zz_generated.conversion.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/zz_generated.openapi.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/.import-restrictions
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/condition_consts.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/conversion.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/doc.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/groupversion_info.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/ipaddress_types.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/ipaddressclaim_types.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/zz_generated.conversion.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api/util/conversion/conversion.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Add --disable-webhooks flag for testing
  cmd/machine-api-operator/start.go
  pkg/operator/operator.go
  pkg/operator/operator_test.go
  pkg/operator/sync.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

session rest,soap log
  pkg/controller/vsphere/session/session.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: Cache REST API sessions to prevent excessive vCenter logouts
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/session/session.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: Cache REST API sessions to prevent excessive vCenter logouts
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
  pkg/controller/vsphere/session/session.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

log change to see if draft pr clusterbotting works
  cmd/nodelink-controller/main.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Vendored API repo
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_feature.go
  vendor/github.com/openshift/api/config/v1/types_image_policy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_00_cluster-version-operator_01_clusterversions-OKD.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_apiservers-OKD.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_clusterimagepolicies-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_clusterimagepolicies-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_clusterimagepolicies.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_featuregates.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_imagepolicies-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_imagepolicies-Default.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_imagepolicies-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_imagepolicies-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_imagepolicies.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_infrastructures-OKD.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_nodes-OKD.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_schedulers-SelfManagedHA-OKD.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.crd-manifests/0000_10_machine-api_01_machines-OKD.crd.yaml
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.crd-manifests/0000_10_machine-api_01_machinesets-OKD.crd.yaml
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Added OKD specific CRDs
  hack/crds-sync.sh
  install/0000_30_machine-api-operator_02_machine.OKD.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.OKD.crd.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Adds agents.md
  AGENTS.md
  CLAUDE.md
  README.md
Due: none

Updated AWS dedicated host id validation pattern
  pkg/webhooks/machine_webhook.go
  pkg/webhooks/machine_webhook_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Changed AWS dedicated host webhook to allow host info with other tenancies
  pkg/webhooks/machine_webhook.go
  pkg/webhooks/machine_webhook_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

bump openshift/api
  go.mod
  go.sum
  install/0000_30_machine-api-operator_02_machine.CustomNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_02_machine.DevPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_02_machine.TechPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.CustomNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.DevPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.TechPreviewNoUpgrade.crd.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

DNM: vendor SynchronizedAPI
  go.mod
  go.sum
  install/0000_30_machine-api-operator_02_machine.CustomNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_02_machine.DevPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_02_machine.TechPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.CustomNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.DevPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/machine/v1beta1/types_machine.go
  vendor/github.com/openshift/api/machine/v1beta1/types_machineset.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.crd-manifests/0000_10_machine-api_01_machines-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.crd-manifests/0000_10_machine-api_01_machines-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.crd-manifests/0000_10_machine-api_01_machines-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.crd-manifests/0000_10_machine-api_01_machinesets-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.crd-manifests/0000_10_machine-api_01_machinesets-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.crd-manifests/0000_10_machine-api_01_machinesets-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/operator/v1/types_console.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Serve MAO metrics with direct TLS and profile reload.
  cmd/machine-api-operator/start.go
  install/0000_30_machine-api-operator_09_rbac.yaml
  install/0000_30_machine-api-operator_11_deployment.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Propagate TLS profile to controller proxies.
  pkg/operator/config.go
  pkg/operator/operator.go
  pkg/operator/operator_test.go
  pkg/operator/sync.go
  pkg/operator/sync_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Fix build script
  hack/go-build.sh
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Make tls watcher failure fatal
  cmd/machine-api-operator/start.go
  pkg/operator/config.go
  pkg/operator/operator.go
  pkg/operator/operator_test.go
  pkg/operator/sync.go
  pkg/operator/sync_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Fix unit
  pkg/controller/machine/machine_controller_test.go
  pkg/operator/operator_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Use IANA cipher names for kube-rbac-proxy TLS configuration
  pkg/operator/sync.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Add tests for newKubeProxyContainer
  pkg/operator/sync_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

metrics: migrate Prometheus SD from Endpoints to EndpointSlices
  install/0000_30_machine-api-operator_09_rbac.yaml
  install/0000_90_machine-api-operator_03_servicemonitor.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Add E2E tests for vSphere VM-Host zonal affinity
  test/e2e/vsphere/hostzonal.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

CVE-2025-65637: bumped logrus to v1.9.3
  go.mod
  go.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Added AWS dynamic dedicated host support
  pkg/webhooks/machine_webhook.go
  pkg/webhooks/machine_webhook_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Added permissions for dynamic dedicated host support
  install/0000_30_machine-api-operator_00_credentials-request.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

crd sync
  install/0000_30_machine-api-operator_02_machine.CustomNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_02_machine.DevPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_02_machine.TechPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.CustomNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.DevPreviewNoUpgrade.crd.yaml
  install/0000_30_machine-api-operator_03_machineset.TechPreviewNoUpgrade.crd.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Suppress degraded reporting while MAO is actively upgrading.
  pkg/operator/status.go
  pkg/operator/status_test.go
  pkg/operator/sync.go
  pkg/operator/sync_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: Clear task ID cache on PatchMachine failure
  pkg/controller/vsphere/actuator.go
  pkg/controller/vsphere/actuator_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

Revert "vsphere: Clear task ID cache on PatchMachine failure"
  pkg/controller/vsphere/actuator.go
  pkg/controller/vsphere/actuator_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: Retry failed provider status patch on next reconcile
  cmd/vsphere/main.go
  pkg/controller/vsphere/actuator.go
  pkg/controller/vsphere/actuator_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade
