Repository openshift/machine-api-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Path conditions:
  ci/prow/e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$|vsphere
  ci/prow/e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-azure-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$|vsphere
  ci/prow/e2e-azure-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-gcp-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$|vsphere
  ci/prow/e2e-gcp-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-ovn-dualstack: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-sdn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-virtualmedia: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-nutanix: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-openstack: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-vsphere-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$
  ci/prow/e2e-vsphere-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-vsphere-ovn-serial: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-vsphere-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

fix(vsphere): scope cluster ID tag lookup by category
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
  pkg/controller/vsphere/session/tag_ids_caching_client.go
  pkg/controller/vsphere/session/test_ids_caching_client_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

refactor(vsphere): simplify category tag lookup
  pkg/controller/vsphere/session/tag_ids_caching_client.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

fix(vsphere): preserve category tag ID lookup
  pkg/controller/vsphere/session/tag_ids_caching_client.go
  pkg/controller/vsphere/session/test_ids_caching_client_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: Cache REST API sessions to prevent excessive vCenter logouts
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
  pkg/controller/vsphere/session/session.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

[release-4.19] Replace golang.org/x/crypto with sustaining fork for CVE-2026-39829
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Updated IPAM references to use v1beta2
  cmd/vsphere/main.go
  pkg/controller/vsphere/actuator_test.go
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/reconciler_test.go
  pkg/util/ipam/util.go
  third_party/cluster-api/crd/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  third_party/cluster-api/crd/ipam.cluster.x-k8s.io_ipaddresses.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

test: use MAPI vSphere credentials in e2e
  test/e2e/vsphere/hostzonal.go
  test/e2e/vsphere/multi-nic.go
  test/e2e/vsphere/util.go
  test/e2e/vsphere/util_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

chore: use read-only root filesystem for operator
  install/0000_30_machine-api-operator_11_deployment.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Vendor updates
  vendor/k8s.io/apimachinery/pkg/api/apitesting/close.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/codec.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/fuzzer/fuzzer.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/fuzzer/valuefuzz.go
  vendor/k8s.io/apimachinery/pkg/apis/meta/fuzzer/fuzzer.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/.import-restrictions
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/cluster_phase_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/cluster_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/clusterclass_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/common_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/condition_consts.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/condition_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/conversion.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/doc.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/groupversion_info.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/machine_phase_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/machine_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/machinedeployment_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/machinedrainrules_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/machinehealthcheck_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/machinepool_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/machineset_types.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/v1beta2_condition_consts.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/zz_generated.conversion.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api/api/core/v1beta1/zz_generated.openapi.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/.import-restrictions
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/condition_consts.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/conversion.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/doc.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/groupversion_info.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/ipaddress_types.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/ipaddressclaim_types.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/zz_generated.conversion.go
  vendor/sigs.k8s.io/cluster-api/api/ipam/v1beta1/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api/util/conversion/conversion.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Default empty pool group to the built-in IPAM group in EnsureIPAddressClaim
  pkg/util/ipam/util.go
  pkg/util/ipam/util_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Remove dangling ipam v1beta1 import in actuator_test.go
  pkg/controller/vsphere/actuator_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-ovn-upgrade

Keep IPAM v1beta1 as the CRD storage version, add v1beta2 as served-only
  third_party/cluster-api/crd/ipam.cluster.x-k8s.io_ipaddressclaims.yaml
  third_party/cluster-api/crd/ipam.cluster.x-k8s.io_ipaddresses.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

OCPCLOUD-3660: bump Kubernetes dependencies to 1.37
  go.mod
  go.sum
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

OCPCLOUD-3660: drop removed test/e2e/lifecycle import
  cmd/machine-api-tests-ext/provider.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

OCPCLOUD-3660: update build images for OpenShift 5.1
  .ci-operator.yaml
  Dockerfile
  Dockerfile.rhel
  Makefile
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

fix(tls): set startup contexts and clarify overrides
  cmd/machine-api-operator/start.go
  cmd/machineset/main.go
  pkg/operator/sync_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

OCPBUGS-129369: fix race in VAP MachineSet e2e test cleanup
  test/e2e/vsphere/failure_domain_vap.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: add and update tests for reconciliation optimizations
  pkg/controller/vsphere/actuator_test.go
  pkg/controller/vsphere/reconciler_test.go
  pkg/controller/vsphere/session/session_test.go
  pkg/controller/vsphere/session/test_ids_caching_client_test.go
  pkg/controller/vsphere/session/transport_metrics_test.go
  pkg/metrics/metrics_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

test(vsphere): add MachineSet OTE coverage
  test/e2e/vsphere/machines.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

vsphere: optimize reconciliation and reduce vCenter API usage
  cmd/vsphere/main.go
  pkg/controller/vsphere/actuator.go
  pkg/controller/vsphere/reconciler.go
  pkg/controller/vsphere/session/session.go
  pkg/controller/vsphere/session/tag_ids_caching_client.go
  pkg/controller/vsphere/session/transport_metrics.go
  pkg/metrics/metrics.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

feat(tls): pass curve preferences to BareMetal webhooks
  pkg/operator/sync.go
  pkg/operator/sync_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

refactor(tls): pass prepared arguments to container builders
  pkg/operator/sync.go
  pkg/operator/sync_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

OCPCLOUD-3660: Update envtest Kubernetes version to 1.37
  Makefile
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade
