Repository openshift/machine-api-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

ci/prow/e2e-aws-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-azure-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-azure-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-gcp-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-gcp-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-metal-ipi-ovn-dualstack:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
  ...

ci/prow/e2e-metal-ipi-ovn-ipv6:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
  ...

NO-JIRA: changes suggested by fmt tool
  test/e2e/vsphere/multi-nic.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

Create e2e for vSphere vm-host zonal feature
  test/e2e/vsphere/hostzonal.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

fix insecure
  pkg/controller/vsphere/session/session.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

fix: controllers: guard on empty .status.authoritativeAPI
  pkg/controller/machine/controller.go
  pkg/controller/machine/machine_controller_test.go
  pkg/controller/machineset/controller.go
  pkg/controller/machineset/machineset_controller_test.go
  pkg/util/conditions/gettersetter.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

fix: controllers: guard on empty .status.authoritativeAPI, take 2
  pkg/controller/machine/controller.go
  pkg/controller/machine/machine_controller_test.go
  pkg/controller/machineset/controller.go
  pkg/controller/machineset/machineset_controller_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

add ingress/egress network policy
  install/0000_90_machine-api-operator_05_networkpolicy-allow-egress.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-cluster.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-kubeapi.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-metrics.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-default-deny.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Fixed test logic to wait for machines ready and clean up
  test/e2e/vsphere/multi-nic.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

Enabled 10 concurrent reconciles on GCP
  pkg/operator/sync.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Updating ose-machine-api-operator-container image to be consistent with ART for 4.20
  .ci-operator.yaml
  Dockerfile
  Dockerfile.rhel
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Update vsphere vm-host zonal e2e logging
  test/e2e/vsphere/hostzonal.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn-upgrade

Removed unneeded OTE provider and types.
  cmd/machine-api-tests-ext/main.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Docker updates for 4.20
  Dockerfile
  Dockerfile.rhel
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Build updates for 4.20
  .ci-operator.yaml
  Makefile
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Removed unneeded OTE provider and types
  cmd/machine-api-tests-ext/main.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

bump k8s 1.33, go 1.24
  go.mod
  go.sum
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

add ingress/egress network policy
  install/0000_90_machine-api-operator_05_networkpolicy-allow-all-egress.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-cluster.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-kubeapi.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-metrics.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-default-deny.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Revert "OCPCLOUD-2980: add ingress/egress network policy"
  install/0000_90_machine-api-operator_05_networkpolicy-allow-all-egress.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-cluster.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-kubeapi.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-metrics.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-default-deny.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Updates GCP CredentialsRequest
  install/0000_30_machine-api-operator_00_credentials-request.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

add ingress/egress network policy
  install/0000_90_machine-api-operator_05_networkpolicy-allow-all-egress.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-cluster.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-kubeapi.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-metal.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-metrics.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-default-deny.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Fixed e2e test to generate machines with cluster name prefix
  test/e2e/util.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

fix for OCPBUGS-55135: userDataSecret.name should be a Required value on AWS
  pkg/webhooks/machine_webhook.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

fix (reviewed) for OCPBUGS-55135: userDataSecret.name should be a Required value on AWS
  pkg/webhooks/machine_webhook.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

debug
  install/0000_90_machine-api-operator_05_networkpolicy-allow-all-egress.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-cluster.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-kubeapi.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-metal.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-allow-ingress-metrics.yaml
  install/0000_90_machine-api-operator_05_networkpolicy-default-deny.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

e2e tests for multisubnet featuregate nutanix
  pkg/webhooks/machine_webhook.go
  test/e2e/nutanix/multiSubnet.go
  test/e2e/nutanix/util.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Adding unit test for providerSpec.userDataSecret.name
  pkg/webhooks/machine_webhook_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Update pkg/webhooks/machine_webhook.go
  pkg/webhooks/machine_webhook.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Update pkg/webhooks/machine_webhook_test.go
  pkg/webhooks/machine_webhook_test.go
Due: ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

E2E for multi-subnet featuregate
  cmd/machine-api-tests-ext/main.go
  cmd/machine-api-tests-ext/provider.go
  test/e2e/nutanix/multi-subnet.go
  test/e2e/nutanix/multiSubnet.go
  test/e2e/nutanix/util.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-sdn, ci/prow/e2e-metal-ipi-upgrade, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-nutanix, ci/prow/e2e-openstack, ci/prow/e2e-vsphere-operator, ci/prow/e2e-vsphere-ovn, ci/prow/e2e-vsphere-ovn-serial, ci/prow/e2e-vsphere-ovn-upgrade

Path conditions:
  ci/prow/e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$|vsphere
  ci/prow/e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-azure-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$|vsphere
  ci/prow/e2e-azure-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-gcp-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$|vsphere
  ci/prow/e2e-gcp-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-ovn-dualstack: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-sdn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-metal-ipi-virtualmedia: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-nutanix: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-openstack: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-vsphere-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$
  ci/prow/e2e-vsphere-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-vsphere-ovn-serial: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|vsphere
  ci/prow/e2e-vsphere-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
