Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra-build-containers-2-3, test-infra-push-containers-2-3, test-infra-build-containers-2-4, test-infra-push-containers-2-4, test-infra-build-containers-2-5, test-infra-push-containers-2-5, test-infra-build-containers-2-6, test-infra-push-containers-2-6, test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-3, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-4, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-6, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-2-3, ci/prow/test-infra-build-containers-2-4, ci/prow/test-infra-build-containers-2-5, ci/prow/test-infra-build-containers-2-6, ci/prow/test-infra-build-containers-3-0, ci/prow/test-infra-build-containers-3-1, ci/prow/test-infra-build-containers-3-2, ci/prow/test-infra-build-containers-3-3, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers, test-infra_build-containers, test-infra_build-proxy-containers

test-infra-build-containers-2-3:
  steps:
    cluster_profile: ossm-aws
    dependencies:
      RELEASE_IMAGE_LATEST: release:latest
    env:
      MAISTRA_BUILDER_IMAGE: quay.io/maistra-dev/maistra-builder:2.3
      MAISTRA_NAMESPACE: maistra-e2e-test
      MAISTRA_SC_POD: maistra-e2e-test-sc-pod
    test:
    - as: copy-src
      cli: latest
  ...

test-infra-push-containers-2-3:
  postsubmit: true
  steps:
    cluster_profile: ossm-aws
    dependencies:
      RELEASE_IMAGE_LATEST: release:latest
    env:
      MAISTRA_BUILDER_IMAGE: quay.io/maistra-dev/maistra-builder:2.3
      MAISTRA_NAMESPACE: maistra-e2e-test
      MAISTRA_SC_POD: maistra-e2e-test-sc-pod
    test:
    - as: copy-src
  ...

test-infra-build-containers-2-4:
  steps:
    cluster_profile: ossm-aws
    dependencies:
      RELEASE_IMAGE_LATEST: release:latest
    env:
      MAISTRA_BUILDER_IMAGE: quay.io/maistra-dev/maistra-builder:2.4
      MAISTRA_NAMESPACE: maistra-e2e-test
      MAISTRA_SC_POD: maistra-e2e-test-sc-pod
    test:
    - as: copy-src
      cli: latest
  ...

test-infra-push-containers-2-4:
  postsubmit: true
  steps:
    cluster_profile: ossm-aws
    dependencies:
      RELEASE_IMAGE_LATEST: release:latest
    env:
      MAISTRA_BUILDER_IMAGE: quay.io/maistra-dev/maistra-builder:2.4
      MAISTRA_NAMESPACE: maistra-e2e-test
      MAISTRA_SC_POD: maistra-e2e-test-sc-pod
    test:
    - as: copy-src
  ...

test-infra-build-containers-2-5:
  steps:
    cluster_profile: ossm-aws
    dependencies:
      RELEASE_IMAGE_LATEST: release:latest
    env:
      MAISTRA_BUILDER_IMAGE: quay.io/maistra-dev/maistra-builder:2.4
      MAISTRA_NAMESPACE: maistra-e2e-test
      MAISTRA_SC_POD: maistra-e2e-test-sc-pod
    test:
    - as: copy-src
      cli: latest
  ...

test-infra-push-containers-2-5:
  postsubmit: true
  steps:
    cluster_profile: ossm-aws
    dependencies:
      RELEASE_IMAGE_LATEST: release:latest
    env:
      MAISTRA_BUILDER_IMAGE: quay.io/maistra-dev/maistra-builder:2.4
      MAISTRA_NAMESPACE: maistra-e2e-test
      MAISTRA_SC_POD: maistra-e2e-test-sc-pod
    test:
    - as: copy-src
  ...

test-infra-build-containers-2-6:
  steps:
    cluster_profile: ossm-aws
    dependencies:
      RELEASE_IMAGE_LATEST: release:latest
    env:
      MAISTRA_BUILDER_IMAGE: quay.io/maistra-dev/maistra-builder:2.4
      MAISTRA_NAMESPACE: maistra-e2e-test
      MAISTRA_SC_POD: maistra-e2e-test-sc-pod
    test:
    - as: copy-src
      cli: latest
  ...

test-infra-push-containers-2-6:
  postsubmit: true
  steps:
    cluster_profile: ossm-aws
    dependencies:
      RELEASE_IMAGE_LATEST: release:latest
    env:
      MAISTRA_BUILDER_IMAGE: quay.io/maistra-dev/maistra-builder:2.4
      MAISTRA_NAMESPACE: maistra-e2e-test
      MAISTRA_SC_POD: maistra-e2e-test-sc-pod
    test:
    - as: copy-src
  ...

Add openssl-devel-engine to 3.4 (#448)
  docker/maistra-builder_3.4.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Add builder image for main branch
  Makefile
  docker/maistra-builder_main.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Add builder image for main branch (#449)
  Makefile
  docker/maistra-builder_main.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Correct exit_code when merge conflicts
  tools/automator-main.sh
Due: none

Correct exit_code when merge conflicts (#450)
  tools/automator-main.sh
Due: none

Switch main builder image to ubi9
  docker/maistra-builder_main.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Switch main builder image to ubi9 (#451)
  docker/maistra-builder_main.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

3.5: add new builder
  Makefile
  docker/maistra-builder_3.5.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

3.5: add new builder (#452)
  Makefile
  docker/maistra-builder_3.5.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

main: add rust to be able to build ztunnel
  docker/maistra-builder_main.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

main, 3.5: support ztunnel build
  docker/maistra-builder_3.5.Dockerfile
  docker/maistra-builder_main.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

support ztunnel build in 3.5 and main builders (#453)
  docker/maistra-builder_3.5.Dockerfile
  docker/maistra-builder_main.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

make protoc installation work on arm64
  docker/maistra-builder_3.5.Dockerfile
  docker/maistra-builder_main.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

make protoc installation work on arm64 (#454)
  docker/maistra-builder_3.5.Dockerfile
  docker/maistra-builder_main.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

main: bump bazel and go
  docker/maistra-builder_main.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

ci: migrate build/push containers from Prow to GHA+Testing Farm
  .fmf/version
  .github/scripts/detect-versions.js
  .github/workflows/build-containers.yaml
  .github/workflows/ci-auth.yaml
  .github/workflows/lint.yaml
  .github/workflows/ok-to-test.yaml
  .github/workflows/push-containers.yaml
  plans/build-container.fmf
  plans/build-container.sh
  plans/push-container.fmf
  plans/push-container.sh
Due: none

Remove old images
  Makefile
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_2.4.Dockerfile
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra-build-containers-2-3, test-infra-push-containers-2-3, test-infra-build-containers-2-4, test-infra-push-containers-2-4, test-infra-build-containers-2-5, test-infra-push-containers-2-5, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-3, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-4, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5, ci/prow/test-infra-build-containers-2-3, ci/prow/test-infra-build-containers-2-4, ci/prow/test-infra-build-containers-2-5, test-infra_push-containers, test-infra_build-containers

Remove old images (#457)
  Makefile
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_2.4.Dockerfile
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra-build-containers-2-3, test-infra-push-containers-2-3, test-infra-build-containers-2-4, test-infra-push-containers-2-4, test-infra-build-containers-2-5, test-infra-push-containers-2-5, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-3, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-4, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5, ci/prow/test-infra-build-containers-2-3, ci/prow/test-infra-build-containers-2-4, ci/prow/test-infra-build-containers-2-5, test-infra_push-containers, test-infra_build-containers

Bump bazel and go
  docker/maistra-builder_main.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Bump bazel and go (#458)
  docker/maistra-builder_main.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Path conditions:
  test-infra-build-containers-2-3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  test-infra-push-containers-2-3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  test-infra-build-containers-2-4: any of: ^docker/maistra-builder_2\.4\.Dockerfile|^docker/scripts
  test-infra-push-containers-2-4: any of: ^docker/maistra-builder_2\.4\.Dockerfile|^docker/scripts
  test-infra-build-containers-2-5: any of: ^docker/maistra-builder_2\.5\.Dockerfile|^docker/scripts
  test-infra-push-containers-2-5: any of: ^docker/maistra-builder_2\.5\.Dockerfile|^docker/scripts
  test-infra-build-containers-2-6: any of: ^docker/maistra-builder_2\.6\.Dockerfile|^docker/scripts
  test-infra-push-containers-2-6: any of: ^docker/maistra-builder_2\.6\.Dockerfile|^docker/scripts
  test-infra-build-containers-3-0: any of: ^docker/maistra-builder_3\.0\.Dockerfile|^docker/scripts
  test-infra-push-containers-3-0: any of: ^docker/maistra-builder_3\.0\.Dockerfile|^docker/scripts
  branch-ci-maistra-test-infra-main-test-infra-push-containers-2-3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  branch-ci-maistra-test-infra-main-test-infra-push-containers-2-4: any of: ^docker/maistra-builder_2\.4\.Dockerfile|^docker/scripts
  branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5: any of: ^docker/maistra-builder_2\.5\.Dockerfile|^docker/scripts
  branch-ci-maistra-test-infra-main-test-infra-push-containers-2-6: any of: ^docker/maistra-builder_2\.6\.Dockerfile|^docker/scripts
  branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0: any of: ^docker/maistra-builder_3\.0\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-2-3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-2-4: any of: ^docker/maistra-builder_2\.4\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-2-5: any of: ^docker/maistra-builder_2\.5\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-2-6: any of: ^docker/maistra-builder_2\.6\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-3-0: any of: ^docker/maistra-builder_3\.0\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-3-1: any of: ^docker/maistra-builder_3\.1\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-3-2: any of: ^docker/maistra-builder_3\.2\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-3-3: any of: ^docker/maistra-builder_3\.3\.Dockerfile|^docker/scripts
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
