Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra-build-containers-2-3, test-infra-push-containers-2-3, test-infra-build-containers-2-4, test-infra-push-containers-2-4, test-infra-build-containers-2-5, test-infra-push-containers-2-5, test-infra-build-containers-2-6, test-infra-push-containers-2-6, test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-2, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-3, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-4, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-2-3, ci/prow/test-infra-build-containers-2-4, ci/prow/test-infra-build-containers-2-5, ci/prow/test-infra-build-containers-2-6, ci/prow/test-infra-build-containers-3-0, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers, test-infra_build-containers, test-infra_build-proxy-containers

Path conditions:
  test-infra-build-containers-2-3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  test-infra-push-containers-2-3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  test-infra-build-containers-2-4: any of: ^docker/maistra-builder_2\.4\.Dockerfile|^docker/scripts
  test-infra-push-containers-2-4: any of: ^docker/maistra-builder_2\.4\.Dockerfile|^docker/scripts
  test-infra-build-containers-2-5: any of: ^docker/maistra-builder_2\.5\.Dockerfile|^docker/scripts
  test-infra-push-containers-2-5: any of: ^docker/maistra-builder_2\.5\.Dockerfile|^docker/scripts
  test-infra-build-containers-2-6: any of: ^docker/maistra-builder_2\.6\.Dockerfile|^docker/scripts
  test-infra-push-containers-2-6: any of: ^docker/maistra-builder_2\.6\.Dockerfile|^docker/scripts
  test-infra-build-containers-3-0: any of: ^docker/maistra-builder_3\.0\.Dockerfile|^docker/scripts
  test-infra-push-containers-3-0: any of: ^docker/maistra-builder_3\.0\.Dockerfile|^docker/scripts
  branch-ci-maistra-test-infra-main-test-infra-push-containers-2-2: any of: ^docker/maistra-builder_2\.2\.Dockerfile|^docker/scripts
  branch-ci-maistra-test-infra-main-test-infra-push-containers-2-3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  branch-ci-maistra-test-infra-main-test-infra-push-containers-2-4: any of: ^docker/maistra-builder_2\.4\.Dockerfile|^docker/scripts
  branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5: any of: ^docker/maistra-builder_2\.5\.Dockerfile|^docker/scripts
  branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0: any of: ^docker/maistra-builder_3\.0\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-2-3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-2-4: any of: ^docker/maistra-builder_2\.4\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-2-5: any of: ^docker/maistra-builder_2\.5\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-2-6: any of: ^docker/maistra-builder_2\.6\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-3-0: any of: ^docker/maistra-builder_3\.0\.Dockerfile|^docker/scripts
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile

[2.6] Do not rely on OpenSSL from distro
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra-build-containers-2-6, test-infra-push-containers-2-6, ci/prow/test-infra-build-containers-2-6, test-infra_push-containers, test-infra_build-containers

[2.6] Do not rely on OpenSSL from distro (#408)
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra-build-containers-2-6, test-infra-push-containers-2-6, ci/prow/test-infra-build-containers-2-6, test-infra_push-containers, test-infra_build-containers

Use go 1.22 in 2.5 image.
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra-build-containers-2-5, test-infra-push-containers-2-5, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5, ci/prow/test-infra-build-containers-2-5, test-infra_push-containers, test-infra_build-containers

Use go 1.22 in 2.5 image. (#409)
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra-build-containers-2-5, test-infra-push-containers-2-5, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5, ci/prow/test-infra-build-containers-2-5, test-infra_push-containers, test-infra_build-containers

Replace old openssl binary
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra-build-containers-2-6, test-infra-push-containers-2-6, ci/prow/test-infra-build-containers-2-6, test-infra_push-containers, test-infra_build-containers

Replace old openssl binary (#410)
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra-build-containers-2-6, test-infra-push-containers-2-6, ci/prow/test-infra-build-containers-2-6, test-infra_push-containers, test-infra_build-containers

Run 'make uninstall' and copy conf file
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra-build-containers-2-6, test-infra-push-containers-2-6, ci/prow/test-infra-build-containers-2-6, test-infra_push-containers, test-infra_build-containers

Use var and remove unnecessary make commands
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra-build-containers-2-6, test-infra-push-containers-2-6, ci/prow/test-infra-build-containers-2-6, test-infra_push-containers, test-infra_build-containers

Run 'make uninstall' and copy conf file (#411)
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra-build-containers-2-6, test-infra-push-containers-2-6, ci/prow/test-infra-build-containers-2-6, test-infra_push-containers, test-infra_build-containers

Bring back pr-creator to 3.0 image
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

Bring back pr-creator to 3.0 image (#412)
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

Install go 1.22 along with go 1.20
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra-build-containers-2-5, test-infra-push-containers-2-5, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5, ci/prow/test-infra-build-containers-2-5, test-infra_push-containers, test-infra_build-containers

Install go 1.22 along with go 1.20 (#413)
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra-build-containers-2-5, test-infra-push-containers-2-5, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5, ci/prow/test-infra-build-containers-2-5, test-infra_push-containers, test-infra_build-containers

builder 3.0: install the newest rust for ztunnel
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

builder 3.0: install the newest rust for ztunnel (#414)
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

builder 3.0: move rust binaries to /usr/bin
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

builder 3.0: move rust binaries to /usr/bin (#415)
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

builder 3.0: move correct rust binaries to /usr/bin
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

builder 3.0: move correct rust binaries to /usr/bin (#416)
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

builder 3.0: rust: install rust on all arches
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

builder 3.0: rust: install rust on all arches (#417)
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

empty commit to trigger CI
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

empty commit to trigger CI (#418)
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

empty commit to trigger CI (#420)
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

Add 3.1 builder image
  Makefile
  docker/maistra-builder_3.1.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Add 3.1 builder image (#421)
  Makefile
  docker/maistra-builder_3.1.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Bump clang for OSSM 3.1
  docker/maistra-builder_3.1.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Bump clang for OSSM 3.1 (#422)
  docker/maistra-builder_3.1.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Speed up openssl build
  docker/maistra-builder_3.1.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Speed up openssl build (#423)
  docker/maistra-builder_3.1.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Do not use many resources
  Makefile
  docker/maistra-builder_3.1.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Do not use many resources (#424)
  Makefile
  docker/maistra-builder_3.1.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Fix ARM download for bazel ang gcloud
  docker/maistra-builder_3.1.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Fix ARM download for bazel ang gcloud (#425)
  docker/maistra-builder_3.1.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Fix URL for bazel ARM64
  docker/maistra-builder_3.1.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Fix URL for bazel ARM64 (#426)
  docker/maistra-builder_3.1.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Add 3.2 builder image
  Makefile
  docker/maistra-builder_3.2.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Add 3.2 builder image (#427)
  Makefile
  docker/maistra-builder_3.2.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers
