Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra-build-containers-2-2, test-infra-push-containers-2-2, test-infra-build-containers-2-3, test-infra-push-containers-2-3, test-infra-build-containers-2-4, test-infra-push-containers-2-4, test-infra-build-containers-2-5, test-infra-push-containers-2-5, test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-2, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-3, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-4, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-2-2, ci/prow/test-infra-build-containers-2-3, ci/prow/test-infra-build-containers-2-4, ci/prow/test-infra-build-containers-2-5, ci/prow/test-infra-build-containers-3-0, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers, test-infra_build-containers, test-infra_build-proxy-containers

Path conditions:
  test-infra-build-containers-2-2: any of: ^docker/maistra-builder_2\.2\.Dockerfile|^docker/scripts
  test-infra-push-containers-2-2: any of: ^docker/maistra-builder_2\.2\.Dockerfile|^docker/scripts
  test-infra-build-containers-2-3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  test-infra-push-containers-2-3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  test-infra-build-containers-2-4: any of: ^docker/maistra-builder_2\.4\.Dockerfile|^docker/scripts
  test-infra-push-containers-2-4: any of: ^docker/maistra-builder_2\.4\.Dockerfile|^docker/scripts
  test-infra-build-containers-2-5: any of: ^docker/maistra-builder_2\.5\.Dockerfile|^docker/scripts
  test-infra-push-containers-2-5: any of: ^docker/maistra-builder_2\.5\.Dockerfile|^docker/scripts
  test-infra-build-containers-3-0: any of: ^docker/maistra-builder_3\.0\.Dockerfile|^docker/scripts
  test-infra-push-containers-3-0: any of: ^docker/maistra-builder_3\.0\.Dockerfile|^docker/scripts
  branch-ci-maistra-test-infra-main-test-infra-push-containers-2-2: any of: ^docker/maistra-builder_2\.2\.Dockerfile|^docker/scripts
  branch-ci-maistra-test-infra-main-test-infra-push-containers-2-3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  branch-ci-maistra-test-infra-main-test-infra-push-containers-2-4: any of: ^docker/maistra-builder_2\.4\.Dockerfile|^docker/scripts
  branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5: any of: ^docker/maistra-builder_2\.5\.Dockerfile|^docker/scripts
  branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0: any of: ^docker/maistra-builder_3\.0\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-2-2: any of: ^docker/maistra-builder_2\.2\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-2-3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-2-4: any of: ^docker/maistra-builder_2\.4\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-2-5: any of: ^docker/maistra-builder_2\.5\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-3-0: any of: ^docker/maistra-builder_3\.0\.Dockerfile|^docker/scripts
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile

Update 2.6 base centos and downgrade libbpf-devel
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

remove workaround
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Install libbpf-devel default verson
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Update 2.6 base centos and update libbpf-devel (#390)
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Add 777 permission for go/gocache subfolders
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra-build-containers-2-5, test-infra-push-containers-2-5, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5, ci/prow/test-infra-build-containers-2-5, test-infra_push-containers, test-infra_build-containers

Add 777 permission for go/gocache subfolders (#391)
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra-build-containers-2-5, test-infra-push-containers-2-5, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5, ci/prow/test-infra-build-containers-2-5, test-infra_push-containers, test-infra_build-containers

Add support for Podman with multiplatform image
  Makefile
Due: none

Add support for Podman with multiplatform image (#392)
  Makefile
Due: none

Add new flag for automator repo name
  tools/automator-main.sh
Due: none

automator: if script created commits, push them
  tools/automator-main.sh
Due: none

automator: if script created commits, push them (#394)
  tools/automator-main.sh
Due: none

automator: ignore 'Nothing to commit' error
  tools/automator-main.sh
Due: none

automator: ignore 'Nothing to commit' error (#395)
  tools/automator-main.sh
Due: none

Simplify make build for non multi arch
  Makefile
Due: none

Change push target to point to multi image when the version is greater than 2.4
  Makefile
Due: none

Fix change over push target for podman
  Makefile
Due: none

Improve push make target
  Makefile
Due: none

Simplify make build for non multi arch (#396)
  Makefile
Due: none

Add java to 2.6
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Add java to 2.6 (#397)
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Fixes
  Makefile
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Fixes (#398)
  Makefile
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Missed a `;`
  Makefile
Due: none

Missed a `;` (#399)
  Makefile
Due: none

Stick with OpenSSL 3.0.7, used in RHEL 9.4
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Stick with OpenSSL 3.0.7, used in RHEL 9.4 (#400)
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Improvements on 2.6 builder image
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Improvements on 2.6 builder image (#401)
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Added libatomic for proxy build
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Added libatomic for proxy build (#402)
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

2.6: Install Python 3.11, required for Envoy
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

2.6: Install Python 3.11, required for Envoy (#403)
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Fix builder image for 3.0
  docker/maistra-builder_3.0.Dockerfile
  docker/scripts/docker-entrypoint-3.0.sh
Due: test-infra-build-containers-2-2, test-infra-push-containers-2-2, test-infra-build-containers-2-3, test-infra-push-containers-2-3, test-infra-build-containers-2-4, test-infra-push-containers-2-4, test-infra-build-containers-2-5, test-infra-push-containers-2-5, test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-2, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-3, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-4, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-2-2, ci/prow/test-infra-build-containers-2-3, ci/prow/test-infra-build-containers-2-4, ci/prow/test-infra-build-containers-2-5, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

Fix builder image for 3.0 (#404)
  docker/maistra-builder_3.0.Dockerfile
  docker/scripts/docker-entrypoint-3.0.sh
Due: test-infra-build-containers-2-2, test-infra-push-containers-2-2, test-infra-build-containers-2-3, test-infra-push-containers-2-3, test-infra-build-containers-2-4, test-infra-push-containers-2-4, test-infra-build-containers-2-5, test-infra-push-containers-2-5, test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-2, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-3, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-4, branch-ci-maistra-test-infra-main-test-infra-push-containers-2-5, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-2-2, ci/prow/test-infra-build-containers-2-3, ci/prow/test-infra-build-containers-2-4, ci/prow/test-infra-build-containers-2-5, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

Switch to rockylinux for 3.0
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

Switch to rockylinux for 3.0 (#405)
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

Mimic Ubuntu path for certs bundle in 3.0
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

Mimic Ubuntu path for certs bundle in 3.0 (#406)
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

Do not rely on OpenSSL from distro
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

Do not rely on OpenSSL from distro (#407)
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra-build-containers-3-0, test-infra-push-containers-3-0, branch-ci-maistra-test-infra-main-test-infra-push-containers-3-0, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers
