Repository openstack-k8s-operators/horizon-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

Path conditions:
  ci/prow/functional: unless all of: ^(renovate.json|.*\.md|tests/kuttl/.*|OWNERS.*|LICENSE.*)$
  ci/prow/horizon-operator-build-deploy-kuttl: unless all of: ^(renovate.json|.*\.md|tests/functional/.*|OWNERS.*|LICENSE.*)$
  ci/prow/images: unless all of: ^renovate.json|^README.md
  ci/prow/precommit-check: unless all of: ^renovate.json|^README.md

Refactor deployment.go code
  pkg/horizon/deployment.go
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

Add tests for TLS mounts and volumes
  Makefile
  go.mod
  pkg/horizon/deployment.go
  pkg/horizon/deployment_test.go
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

Add Probes to envtest checks
  tests/functional/horizon_controller_test.go
Due: ci/prow/functional, ci/prow/images, ci/prow/precommit-check

[18.0-fr2] update branch to 18.0-fr2
  Makefile
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

Unpack rcue custom theme
  controllers/horizon_controller.go
  pkg/horizon/deployment.go
  pkg/horizon/volumes.go
  templates/horizon/bin/kolla_httpd_setup
  templates/horizon/config/horizon.json
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

fixed kuttl test ref. to .Spec.Template.Spec.Containers[1].Env, tls kuttl fix
  tests/functional/horizon_controller_test.go
  tests/kuttl/tests/tls-deployment/01-assert.yaml
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

put back ref. to .Spec.Template.Spec.Containers[0].Env
  tests/functional/horizon_controller_test.go
Due: ci/prow/functional, ci/prow/images, ci/prow/precommit-check

Fixed keystone index
  tests/functional/horizon_controller_test.go
Due: ci/prow/functional, ci/prow/images, ci/prow/precommit-check

put indices back
  tests/functional/horizon_controller_test.go
Due: ci/prow/functional, ci/prow/images, ci/prow/precommit-check

Added emptyDirs and mountPath
  tests/kuttl/tests/tls-deployment/01-assert.yaml
Due: ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

Trying covermode=atomic and using index 1 for container references
  Makefile
  tests/functional/horizon_controller_test.go
  tests/kuttl/tests/tls-deployment/01-assert.yaml
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

Validate extraMounts custom theme path
  api/v1beta1/horizon_types.go
  config/samples/custom-theme/README.md
  config/samples/custom-theme/_11_rcue_theme.py
  config/samples/custom-theme/horizon_v1beta1_horizon_custom_theme.yaml
  pkg/horizon/deployment.go
  pkg/horizon/volumes.go
  templates/horizon/bin/kolla_httpd_setup
  templates/horizon/bin/kolla_theme_setup
  templates/horizon/config/horizon.json
  tests/kuttl/tests/tls-deployment/01-assert.yaml
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

[functional] verify LastAppliedTopology != nil before checking name
  tests/functional/horizon_controller_test.go
Due: ci/prow/functional, ci/prow/images, ci/prow/precommit-check

verify LastAppliedTopology != nil before checking name
  tests/functional/horizon_controller_test.go
Due: ci/prow/functional, ci/prow/images, ci/prow/precommit-check

Add Customizing Horizon theme guide
  api/v1beta1/horizon_types.go
  config/samples/base/openstack/kustomization.yaml
  config/samples/custom-theme/README.md
  config/samples/custom-theme/_11_custom_theme.py
  config/samples/custom-theme/custom.tar.gz
  config/samples/custom-theme/custom_theme.yaml
  config/samples/custom-theme/horizon_v1beta1_horizon_custom_theme.yaml
  config/samples/custom-theme/kustomization.yaml
  templates/horizon/bin/kolla_theme_setup
  tests/kuttl/tests/tls-deployment/01-assert.yaml
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

Update openstack-k8s-operators
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

Update module github.com/stretchr/testify to v1.10.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

KUTTL: generate JUnitXML reports
  kuttl-test.yaml
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

Add KUTTL zuul job
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

Add Radomir, Ashish, Owen and Franceso to approvers
  OWNERS_ALIASES
Due: ci/prow/images, ci/prow/precommit-check

Initial changes
  pkg/horizon/volumes.go
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

Use sidecar container to log
  controllers/horizon_controller.go
  pkg/horizon/const.go
  pkg/horizon/deployment.go
  pkg/horizon/volumes.go
  templates/horizon/config/01-config.conf
  tests/functional/horizon_controller_test.go
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

Fixed liveness, readiness, startup probe container indice
  tests/functional/horizon_controller_test.go
Due: ci/prow/functional, ci/prow/images, ci/prow/precommit-check

Moved emptyDir, added security paramters
  tests/kuttl/tests/tls-deployment/01-assert.yaml
Due: ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

Remove readOnly from /var/log/horizon mount
  tests/kuttl/tests/tls-deployment/01-assert.yaml
Due: ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

Exit early if no openstack secret is provided
  controllers/horizon_controller.go
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check

Add tests for missing OpenStack Secret
  controllers/horizon_controller.go
  tests/functional/horizon_controller_test.go
Due: ci/prow/functional, ci/prow/horizon-operator-build-deploy-kuttl, ci/prow/images, ci/prow/precommit-check
