Repository openshift/operator-framework-operator-controller: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/default-catalog-consistency, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

openshift-e2e-aws:
  steps:
    cluster_profile: aws
    test:
    - as: upstream-e2e
      cli: latest
      commands: make -C openshift test-e2e
      dependencies:
      - env: E2E_REGISTRY_IMAGE
        name: e2e-test-registry
      from: src
      resources:
        requests:
          cpu: 100m
    - ref: openshift-e2e-test
  ...

openshift-e2e-aws-techpreview:
  optional: true
  steps:
    cluster_profile: aws-2
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: upstream-e2e
      cli: latest
      commands: make -C openshift test-e2e
      dependencies:
      - env: E2E_REGISTRY_IMAGE
        name: e2e-test-registry
      from: src
      resources:
  ...

ci/prow/default-catalog-consistency:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/openshift-e2e-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/tests-extension:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

UPSTREAM: <carry>: Add OTE tests for OLMv1 DeploymentConfig support
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/test/olmv1-deploymentconfig.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: deployment config cases
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/Makefile
  openshift/tests-extension/hack/verify-images-json.sh
  openshift/tests-extension/pkg/bindata/qe/bindata.go
  openshift/tests-extension/test/qe/specs/olmv1_ce_deploymentconfig.go
  openshift/tests-extension/test/qe/testdata/olm/clusterextension-withselectorlabel-inlineconfig.yaml
  openshift/tests-extension/test/qe/util/clusters.go
  openshift/tests-extension/test/qe/util/olmv1util/clusterextension.go
  openshift/tests-extension/test/qe/util/olmv1util/deploymentconfig.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Add boxcutter tests
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/test/olmv1-boxcutter.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: enhance QE cases
  openshift/tests-extension/test/qe/specs/olmv1_cc.go
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Update quay-operator version to one containing arm64 support
  openshift/tests-extension/test/olmv1.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: verify volume/volumeMount override
  openshift/tests-extension/test/qe/specs/olmv1_ce_deploymentconfig.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Add long-duration test script and documents
  openshift/tests-extension/long_duration/README.md
  openshift/tests-extension/long_duration/TEST_CASE_HEALTH_CHECK.md
  openshift/tests-extension/long_duration/WORKFLOW_SUMMARY.md
  openshift/tests-extension/long_duration/run_e2e.py
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Update grpc in default-catalog-consistency tests
  openshift/default-catalog-consistency/go.mod
  openshift/default-catalog-consistency/go.sum
  openshift/default-catalog-consistency/vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  openshift/default-catalog-consistency/vendor/google.golang.org/grpc/internal/transport/client_stream.go
  openshift/default-catalog-consistency/vendor/google.golang.org/grpc/internal/transport/http2_client.go
  openshift/default-catalog-consistency/vendor/google.golang.org/grpc/internal/transport/transport.go
  openshift/default-catalog-consistency/vendor/google.golang.org/grpc/server.go
  openshift/default-catalog-consistency/vendor/google.golang.org/grpc/stream.go
  openshift/default-catalog-consistency/vendor/google.golang.org/grpc/version.go
  openshift/default-catalog-consistency/vendor/modules.txt
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/default-catalog-consistency, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Rename ClusterExtensionRevision to ClusterObjectSet in OTE tests
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/pkg/bindata/qe/bindata.go
  openshift/tests-extension/test/olmv1-preflight.go
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
  openshift/tests-extension/test/qe/testdata/olm/sa-nginx-insufficient-operand-rbac-boxcutter.yaml
  openshift/tests-extension/test/qe/testdata/olm/sa-nginx-limited-boxcutter.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Skip incompatible operator test when Boxcutter uses ClusterObjectSet
  openshift/tests-extension/test/olmv1-incompatible.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: add ocp-87557
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/cmd/main.go
  openshift/tests-extension/pkg/helpers/in_cluster_bundles.go
  openshift/tests-extension/test/olmv1-catalog.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Remove skip for incompatible operator check after rename of CER
  openshift/tests-extension/test/olmv1-incompatible.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Add fgiudici as reviewer
  DOWNSTREAM_OWNERS_ALIASES
Due: none

UPSTREAM: <carry>: Test empty affinity erasure and cleanup
  openshift/tests-extension/test/qe/specs/olmv1_ce_deploymentconfig.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Fix boxcutter finalizer ResourceNames in preflight test
  openshift/tests-extension/test/olmv1-preflight.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Disable upstream TLSProfile tests
  openshift/Makefile
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Expand OTE docs with more comprehensive details
  openshift/tests-extension/README.md
Due: ci/prow/tests-extension

UPSTREAM: <carry>: OTE: Simplify by remove option to configure tests to run outside of OCP
  openshift/tests-extension/README.md
  openshift/tests-extension/pkg/env/cluster.go
  openshift/tests-extension/pkg/helpers/feature_capability.go
  openshift/tests-extension/pkg/helpers/image_registry.go
  openshift/tests-extension/test/olmv1-boxcutter.go
  openshift/tests-extension/test/olmv1-catalog.go
  openshift/tests-extension/test/olmv1-deploymentconfig.go
  openshift/tests-extension/test/olmv1-incompatible.go
  openshift/tests-extension/test/olmv1-singleownnamespace.go
  openshift/tests-extension/test/olmv1.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: OTE - Make OTE local output easier to read
  openshift/tests-extension/Makefile
  openshift/tests-extension/README.md
  openshift/tests-extension/cmd/main.go
  openshift/tests-extension/go.mod
  openshift/tests-extension/localdevoutput/README.md
  openshift/tests-extension/localdevoutput/cmd/register.go
  openshift/tests-extension/localdevoutput/cmd/register_local_dev.go
  openshift/tests-extension/localdevoutput/cmd/run_suite_local_dev.go
  openshift/tests-extension/localdevoutput/cmd/run_test_local_dev.go
  openshift/tests-extension/localdevoutput/pkg/output/formatter.go
  openshift/tests-extension/localdevoutput/pkg/output/writer.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: remove dead e2e registry push job and related variables
  openshift/Makefile
  openshift/operator-controller/build-test-registry.sh
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: fix(test): drop blocking namespace-deletion wait between both-watch-modes scenarios
  openshift/tests-extension/test/olmv1-singleownnamespace.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: OCPBUGS-62517: Set replicas=1, PDB, and pod anti-affinity for HA topology
  openshift/catalogd/manifests-experimental.yaml
  openshift/catalogd/manifests.yaml
  openshift/helm/catalogd.yaml
  openshift/helm/operator-controller.yaml
  openshift/operator-controller/manifests-experimental.yaml
  openshift/operator-controller/manifests.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Fix downstream e2e test invocation
  openshift/Makefile
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Delete openshift/registry.Dockerfile
  openshift/registry.Dockerfile
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Remove test-experimenal-e2e
  openshift/Makefile
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: add OLMv1 topology-based deployment scaling e2e test
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/pkg/bindata/catalog/catalog.go
  openshift/tests-extension/pkg/bindata/operator/operator.go
  openshift/tests-extension/pkg/bindata/singleown/bundle/bundle.go
  openshift/tests-extension/pkg/bindata/singleown/index/index.go
  openshift/tests-extension/pkg/bindata/webhook/bundle/bundle.go
  openshift/tests-extension/pkg/bindata/webhook/index/index.go
  openshift/tests-extension/pkg/env/cluster.go
  openshift/tests-extension/test/olmv1-topology.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Update readme Default Catalog Tests
  openshift/default-catalog-consistency/README.md
Due: ci/prow/default-catalog-consistency

UPSTREAM: <drop>: remove upstream GitHub configuration
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs-issue.yml
  .github/OWNERS
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/add-to-project.yaml
  .github/workflows/api-diff-lint.yaml
  .github/workflows/crd-diff.yaml
  .github/workflows/e2e.yaml
  .github/workflows/files-diff.yaml
  .github/workflows/go-apidiff.yaml
  .github/workflows/go-verdiff.yaml
  .github/workflows/pages.yaml
  .github/workflows/pr-title.yaml
  .github/workflows/release.yaml
  .github/workflows/sanity.yaml
  .github/workflows/stale.yml
  .github/workflows/test-regression.yaml
  .github/workflows/tilt.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/update-demos.yaml
Due: none

UPSTREAM: <drop>: configure the commit-checker
  commitchecker.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: OCPBUGS-86842: clean up orphaned temp dirs in catalog storage
  cmd/catalogd/main.go
  internal/catalogd/garbagecollection/garbage_collector.go
  internal/catalogd/garbagecollection/garbage_collector_test.go
  internal/catalogd/storage/localdir.go
  internal/catalogd/storage/localdir_test.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Add OLMv1 progress deadline QE tests
  openshift/tests-extension/test/qe/specs/olmv1_ce_progress_deadline.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Update OLMv1 test metadata
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Update dockerfiles to use golang-1.26-release-4.23 builders
  .ci-operator.yaml
  openshift/catalogd.Dockerfile
  openshift/operator-controller.Dockerfile
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: OCPBUGS-87180: clean up orphaned temp dirs in catalog storage
  cmd/catalogd/main.go
  internal/catalogd/garbagecollection/garbage_collector.go
  internal/catalogd/garbagecollection/garbage_collector_test.go
  internal/catalogd/storage/localdir.go
  internal/catalogd/storage/localdir_test.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: OCPBUGS-87830: fix(operator-controller): clean up orphaned temp dirs in catalog cache
  internal/catalogmetadata/cache/cache.go
  internal/catalogmetadata/cache/cache_test.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

Path conditions:
  openshift-e2e-aws: unless all of: ^docs/|\.md$|^(?:.*\/)?(?:\.gitignore|DOWNSTREAM_OWNERS|DOWNSTREAM_OWNERS_ALIASES|LICENSE|DCO|CODEOWNERS)|\.golangci\.yaml|\.goreleaser\.yml|\.markdownlint.yaml|^\.github|Tiltfile$
  openshift-e2e-aws-techpreview: unless all of: ^docs/|\.md$|^(?:.*\/)?(?:\.gitignore|DOWNSTREAM_OWNERS|DOWNSTREAM_OWNERS_ALIASES|LICENSE|DCO|CODEOWNERS)|\.golangci\.yaml|\.goreleaser\.yml|\.markdownlint.yaml|^\.github|Tiltfile$
  ci/prow/default-catalog-consistency: any of: ^(openshift/default-catalog-consistency/|openshift/catalogd/kustomize/overlays/openshift/catalogs/)
  ci/prow/openshift-e2e-aws: unless all of: ^docs/|\.md$|^(?:.*\/)?(?:\.gitignore|DOWNSTREAM_OWNERS|DOWNSTREAM_OWNERS_ALIASES|LICENSE|DCO|CODEOWNERS)|\.golangci\.yaml|\.goreleaser\.yml|\.markdownlint.yaml|^\.github|Tiltfile$
  ci/prow/tests-extension: any of: ^(openshift/tests-extension/)
