Repository openshift/operator-framework-operator-controller: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/default-catalog-consistency, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

openshift-e2e-aws:
  steps:
    cluster_profile: aws
    test:
    - as: upstream-e2e
      cli: latest
      commands: make -C openshift test-e2e
      dependencies:
      - env: E2E_REGISTRY_IMAGE
        name: e2e-test-registry
      from: src
      resources:
        requests:
          cpu: 100m
    - ref: openshift-e2e-test
  ...

openshift-e2e-aws-techpreview:
  optional: true
  steps:
    cluster_profile: aws-2
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: upstream-e2e
      cli: latest
      commands: make -C openshift test-e2e
      dependencies:
      - env: E2E_REGISTRY_IMAGE
        name: e2e-test-registry
      from: src
      resources:
  ...

ci/prow/default-catalog-consistency:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/openshift-e2e-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/tests-extension:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

UPSTREAM: <carry>: Add boxcutter specific preflight auth test
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/pkg/bindata/operator/operator.go
  openshift/tests-extension/pkg/helpers/feature_capability.go
  openshift/tests-extension/test/olmv1-preflight.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: adjust watchnamespace case based on change
  openshift/tests-extension/test/qe/specs/olmv1_ce_watchns.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: add 83979 automation
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/pkg/bindata/qe/bindata.go
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
  openshift/tests-extension/test/qe/testdata/olm/cr-webhookTest.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: add 85889 automation
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/pkg/bindata/qe/bindata.go
  openshift/tests-extension/test/qe/specs/olmv1_cc.go
  openshift/tests-extension/test/qe/testdata/olm/clustercatalog-with-pollinterval.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Update test-operator startup script to fix pod probe endpoints
  openshift/tests-extension/pkg/bindata/operator/operator.go
  openshift/tests-extension/test/olmv1.go
  openshift/tests-extension/testdata/operator/manifests/registry.clusterserviceversion.yaml
  openshift/tests-extension/testdata/operator/manifests/script.configmap.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Fix up own-namespace invalid configuration test
  openshift/tests-extension/test/olmv1-singleownnamespace.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Preflight tests use in-cluster catalog and bundles instead of openshift-pipelines-operator-rh
  openshift/tests-extension/test/olmv1-preflight.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: adjust sa and permission test cases per new change from boxcutterruntime
  openshift/tests-extension/Makefile
  openshift/tests-extension/pkg/bindata/qe/bindata.go
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
  openshift/tests-extension/test/qe/testdata/olm/sa-nginx-insufficient-bundle-boxcutter.yaml
  openshift/tests-extension/test/qe/testdata/olm/sa-nginx-insufficient-operand-clusterrole-boxcutter.yaml
  openshift/tests-extension/test/qe/testdata/olm/sa-nginx-insufficient-operand-rbac-boxcutter.yaml
  openshift/tests-extension/test/qe/testdata/olm/sa-nginx-limited-boxcutter.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Update OCP catalogs to v4.22
  openshift/catalogd/manifests-experimental.yaml
  openshift/catalogd/manifests.yaml
  openshift/helm/catalogd.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: fix 83026 for TP cluster
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: serviceAccount validation unified across all runtimes
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Fix OLMv1 test operator to listen on IPv6
  openshift/tests-extension/pkg/bindata/operator/operator.go
  openshift/tests-extension/testdata/operator/manifests/script.configmap.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Increase install timeout and add diagnostic logging for CE install tests
  openshift/tests-extension/pkg/helpers/cluster_extension.go
  openshift/tests-extension/pkg/helpers/defaults.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: add service account to curl job
  openshift/tests-extension/test/olmv1-catalog.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: update OCP-75441 to support multi-arch
  openshift/tests-extension/test/qe/specs/olmv1_cc.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: deployment config cases
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/Makefile
  openshift/tests-extension/hack/verify-images-json.sh
  openshift/tests-extension/pkg/bindata/qe/bindata.go
  openshift/tests-extension/test/qe/specs/olmv1_ce_deploymentconfig.go
  openshift/tests-extension/test/qe/testdata/olm/clusterextension-withselectorlabel-inlineconfig.yaml
  openshift/tests-extension/test/qe/util/clusters.go
  openshift/tests-extension/test/qe/util/olmv1util/clusterextension.go
  openshift/tests-extension/test/qe/util/olmv1util/deploymentconfig.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Add OTE tests for OLMv1 DeploymentConfig support
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/test/olmv1-deploymentconfig.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Add boxcutter tests
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/test/olmv1-boxcutter.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: enhance QE cases
  openshift/tests-extension/test/qe/specs/olmv1_cc.go
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: verify volume/volumeMount override
  openshift/tests-extension/test/qe/specs/olmv1_ce_deploymentconfig.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Update quay-operator version to one containing arm64 support
  openshift/tests-extension/test/olmv1.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Add long-duration test script and documents
  openshift/tests-extension/long_duration/README.md
  openshift/tests-extension/long_duration/TEST_CASE_HEALTH_CHECK.md
  openshift/tests-extension/long_duration/WORKFLOW_SUMMARY.md
  openshift/tests-extension/long_duration/run_e2e.py
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Update grpc in default-catalog-consistency tests
  openshift/default-catalog-consistency/go.mod
  openshift/default-catalog-consistency/go.sum
  openshift/default-catalog-consistency/vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  openshift/default-catalog-consistency/vendor/google.golang.org/grpc/internal/transport/client_stream.go
  openshift/default-catalog-consistency/vendor/google.golang.org/grpc/internal/transport/http2_client.go
  openshift/default-catalog-consistency/vendor/google.golang.org/grpc/internal/transport/transport.go
  openshift/default-catalog-consistency/vendor/google.golang.org/grpc/server.go
  openshift/default-catalog-consistency/vendor/google.golang.org/grpc/stream.go
  openshift/default-catalog-consistency/vendor/google.golang.org/grpc/version.go
  openshift/default-catalog-consistency/vendor/modules.txt
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/default-catalog-consistency, ci/prow/openshift-e2e-aws

UPSTREAM: <drop>: remove upstream GitHub configuration
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs-issue.yml
  .github/OWNERS
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/add-to-project.yaml
  .github/workflows/api-diff-lint.yaml
  .github/workflows/crd-diff.yaml
  .github/workflows/e2e.yaml
  .github/workflows/files-diff.yaml
  .github/workflows/go-apidiff.yaml
  .github/workflows/go-verdiff.yaml
  .github/workflows/pages.yaml
  .github/workflows/pr-title.yaml
  .github/workflows/release.yaml
  .github/workflows/sanity.yaml
  .github/workflows/stale.yml
  .github/workflows/test-regression.yaml
  .github/workflows/tilt.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/update-demos.yaml
Due: none

UPSTREAM: <drop>: configure the commit-checker
  commitchecker.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Update finalizers to clusterobjectsets
  openshift/tests-extension/pkg/bindata/qe/bindata.go
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
  openshift/tests-extension/test/qe/testdata/olm/sa-nginx-insufficient-operand-rbac-boxcutter.yaml
  openshift/tests-extension/test/qe/testdata/olm/sa-nginx-limited-boxcutter.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Rename ClusterExtensionRevision to ClusterObjectSet in OTE tests
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/pkg/bindata/qe/bindata.go
  openshift/tests-extension/test/olmv1-preflight.go
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
  openshift/tests-extension/test/qe/testdata/olm/sa-nginx-insufficient-operand-rbac-boxcutter.yaml
  openshift/tests-extension/test/qe/testdata/olm/sa-nginx-limited-boxcutter.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: OCPBUGS-81452 rollout stall for webhook installs
  internal/operator-controller/applier/phase.go
  internal/operator-controller/applier/phase_test.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

fix(deploymentConfig): handle empty affinity objects to match OLMv0 erasure behavior
  internal/operator-controller/rukpak/render/registryv1/generators/generators.go
  internal/operator-controller/rukpak/render/registryv1/generators/generators_test.go
  test/regression/convert/generate-manifests.go
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity-subtype/00_clusterrole_argocd-operator-metrics-reader.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity-subtype/01_clusterrole_argocd-operator.v0-1dhiybrldl1gyksid1dk2dqjsc72psdybc7iyvse5gpx.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity-subtype/02_clusterrole_argocd-operator.v0.-3gkm3u8zfarktdile5wekso69zs9bgzb988mhjm0y6p.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity-subtype/03_clusterrolebinding_argocd-operator.v0-1dhiybrldl1gyksid1dk2dqjsc72psdybc7iyvse5gpx.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity-subtype/04_clusterrolebinding_argocd-operator.v0.-3gkm3u8zfarktdile5wekso69zs9bgzb988mhjm0y6p.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity-subtype/05_configmap_argocd-operator-manager-config.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity-subtype/06_customresourcedefinition_applications.argoproj.io.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity-subtype/07_customresourcedefinition_applicationsets.argoproj.io.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity-subtype/08_customresourcedefinition_appprojects.argoproj.io.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity-subtype/09_customresourcedefinition_argocdexports.argoproj.io.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity-subtype/10_customresourcedefinition_argocds.argoproj.io.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity-subtype/11_deployment_argocd-operator-controller-manager.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity-subtype/12_service_argocd-operator-controller-manager-metrics-service.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity-subtype/13_serviceaccount_argocd-operator-controller-manager.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity/00_clusterrole_argocd-operator-metrics-reader.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity/01_clusterrole_argocd-operator.v0-1dhiybrldl1gyksid1dk2dqjsc72psdybc7iyvse5gpx.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity/02_clusterrole_argocd-operator.v0.-3gkm3u8zfarktdile5wekso69zs9bgzb988mhjm0y6p.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity/03_clusterrolebinding_argocd-operator.v0-1dhiybrldl1gyksid1dk2dqjsc72psdybc7iyvse5gpx.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity/04_clusterrolebinding_argocd-operator.v0.-3gkm3u8zfarktdile5wekso69zs9bgzb988mhjm0y6p.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity/05_configmap_argocd-operator-manager-config.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity/06_customresourcedefinition_applications.argoproj.io.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity/07_customresourcedefinition_applicationsets.argoproj.io.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity/08_customresourcedefinition_appprojects.argoproj.io.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity/09_customresourcedefinition_argocdexports.argoproj.io.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity/10_customresourcedefinition_argocds.argoproj.io.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity/11_deployment_argocd-operator-controller-manager.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity/12_service_argocd-operator-controller-manager-metrics-service.yaml
  test/regression/convert/testdata/expected-manifests/argocd-operator.v0.6.0/with-empty-affinity/13_serviceaccount_argocd-operator-controller-manager.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: enable downstream pdb and update replicas to meet MCO drain
  hack/test/pre-upgrade-setup.sh
  helm/olmv1/templates/deployment-olmv1-system-catalogd-controller-manager.yml
  helm/olmv1/templates/deployment-olmv1-system-operator-controller-controller-manager.yml
  helm/olmv1/values.yaml
  manifests/experimental-e2e.yaml
  manifests/experimental.yaml
  manifests/standard-e2e.yaml
  manifests/standard.yaml
  openshift/catalogd/manifests-experimental.yaml
  openshift/catalogd/manifests.yaml
  openshift/helm/catalogd.yaml
  openshift/helm/operator-controller.yaml
  openshift/operator-controller/manifests-experimental.yaml
  openshift/operator-controller/manifests.yaml
  test/helpers/helpers.go
  test/upgrade-e2e/post_upgrade_test.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Add fgiudici as reviewer
  DOWNSTREAM_OWNERS_ALIASES
Due: none

UPSTREAM: <carry>: Skip incompatible operator test when Boxcutter uses ClusterObjectSet
  openshift/tests-extension/test/olmv1-incompatible.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Add new tests for single/own namespaces install modes
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/pkg/env/cluster.go
  openshift/tests-extension/test/olmv1-singleownnamespace.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

Path conditions:
  openshift-e2e-aws: unless all of: ^docs/|\.md$|^(?:.*\/)?(?:\.gitignore|DOWNSTREAM_OWNERS|DOWNSTREAM_OWNERS_ALIASES|LICENSE|DCO|CODEOWNERS)|\.golangci\.yaml|\.goreleaser\.yml|\.markdownlint.yaml|^\.github|Tiltfile$
  openshift-e2e-aws-techpreview: unless all of: ^docs/|\.md$|^(?:.*\/)?(?:\.gitignore|DOWNSTREAM_OWNERS|DOWNSTREAM_OWNERS_ALIASES|LICENSE|DCO|CODEOWNERS)|\.golangci\.yaml|\.goreleaser\.yml|\.markdownlint.yaml|^\.github|Tiltfile$
  ci/prow/default-catalog-consistency: any of: ^(openshift/default-catalog-consistency/|openshift/catalogd/kustomize/overlays/openshift/catalogs/)
  ci/prow/openshift-e2e-aws: unless all of: ^docs/|\.md$|^(?:.*\/)?(?:\.gitignore|DOWNSTREAM_OWNERS|DOWNSTREAM_OWNERS_ALIASES|LICENSE|DCO|CODEOWNERS)|\.golangci\.yaml|\.goreleaser\.yml|\.markdownlint.yaml|^\.github|Tiltfile$
  ci/prow/tests-extension: any of: ^(openshift/tests-extension/)
