Repository openshift/operator-framework-operator-controller: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/default-catalog-consistency, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

Path conditions:
  openshift-e2e-aws: unless all of: ^docs/|\.md$|^(?:.*\/)?(?:\.gitignore|DOWNSTREAM_OWNERS|DOWNSTREAM_OWNERS_ALIASES|LICENSE|DCO|CODEOWNERS)|\.golangci\.yaml|\.goreleaser\.yml|\.markdownlint.yaml|^\.github|Tiltfile$
  openshift-e2e-aws-techpreview: unless all of: ^docs/|\.md$|^(?:.*\/)?(?:\.gitignore|DOWNSTREAM_OWNERS|DOWNSTREAM_OWNERS_ALIASES|LICENSE|DCO|CODEOWNERS)|\.golangci\.yaml|\.goreleaser\.yml|\.markdownlint.yaml|^\.github|Tiltfile$
  ci/prow/default-catalog-consistency: any of: ^(openshift/default-catalog-consistency/|openshift/catalogd/kustomize/overlays/openshift/catalogs/)
  ci/prow/openshift-e2e-aws: unless all of: ^docs/|\.md$|^(?:.*\/)?(?:\.gitignore|DOWNSTREAM_OWNERS|DOWNSTREAM_OWNERS_ALIASES|LICENSE|DCO|CODEOWNERS)|\.golangci\.yaml|\.goreleaser\.yml|\.markdownlint.yaml|^\.github|Tiltfile$
  ci/prow/tests-extension: any of: ^(openshift/tests-extension/)

UPSTREAM: <carry>: Disable upstream TLSProfile tests
  openshift/Makefile
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: remove dead e2e registry push job and related variables
  openshift/Makefile
  openshift/operator-controller/build-test-registry.sh
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: OTE - Make OTE local output easier to read
  openshift/tests-extension/Makefile
  openshift/tests-extension/README.md
  openshift/tests-extension/cmd/main.go
  openshift/tests-extension/go.mod
  openshift/tests-extension/localdevoutput/README.md
  openshift/tests-extension/localdevoutput/cmd/register.go
  openshift/tests-extension/localdevoutput/cmd/register_local_dev.go
  openshift/tests-extension/localdevoutput/cmd/run_suite_local_dev.go
  openshift/tests-extension/localdevoutput/cmd/run_test_local_dev.go
  openshift/tests-extension/localdevoutput/pkg/output/formatter.go
  openshift/tests-extension/localdevoutput/pkg/output/writer.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: OCPBUGS-62517: Set replicas=1, PDB, and pod anti-affinity for HA topology
  openshift/catalogd/manifests-experimental.yaml
  openshift/catalogd/manifests.yaml
  openshift/helm/catalogd.yaml
  openshift/helm/operator-controller.yaml
  openshift/operator-controller/manifests-experimental.yaml
  openshift/operator-controller/manifests.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Fix downstream e2e test invocation
  openshift/Makefile
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: fix(test): drop blocking namespace-deletion wait between both-watch-modes scenarios
  openshift/tests-extension/test/olmv1-singleownnamespace.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Delete openshift/registry.Dockerfile
  openshift/registry.Dockerfile
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Remove test-experimenal-e2e
  openshift/Makefile
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Update readme Default Catalog Tests
  openshift/default-catalog-consistency/README.md
Due: ci/prow/default-catalog-consistency

UPSTREAM: <carry>: Update dockerfiles to use golang-1.26-release-4.23 builders
  .ci-operator.yaml
  openshift/catalogd.Dockerfile
  openshift/operator-controller.Dockerfile
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: add OLMv1 topology-based deployment scaling e2e test
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/pkg/bindata/catalog/catalog.go
  openshift/tests-extension/pkg/bindata/operator/operator.go
  openshift/tests-extension/pkg/bindata/singleown/bundle/bundle.go
  openshift/tests-extension/pkg/bindata/singleown/index/index.go
  openshift/tests-extension/pkg/bindata/webhook/bundle/bundle.go
  openshift/tests-extension/pkg/bindata/webhook/index/index.go
  openshift/tests-extension/pkg/env/cluster.go
  openshift/tests-extension/test/olmv1-topology.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: test: add allow-case for operator maxOCPVersion > cluster version
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/test/olmv1-incompatible.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Remove HelmChartSupport feature gate from experimental manifests
  openshift/helm/experimental.yaml
  openshift/operator-controller/manifests-experimental.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Add OLMv1 progress deadline QE tests
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/pkg/bindata/operator/operator.go
  openshift/tests-extension/pkg/helpers/cluster_extension.go
  openshift/tests-extension/pkg/helpers/in_cluster_bundles.go
  openshift/tests-extension/test/qe/specs/olmv1_ce_progress_deadline.go
  openshift/tests-extension/testdata/operator/manifests/registry.clusterserviceversion.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Remove stale reviewers/approvers, add trgeiger
  DOWNSTREAM_OWNERS_ALIASES
Due: none

UPSTREAM: <carry>: fix(test): update PolarionID:87224 for 4.23/5.0 upgrade boundary
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
  openshift/tests-extension/test/qe/util/tools.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <drop>: configure the commit-checker
  commitchecker.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <drop>: remove upstream GitHub configuration
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs-issue.yml
  .github/OWNERS
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/add-to-project.yaml
  .github/workflows/api-diff-lint.yaml
  .github/workflows/crd-diff.yaml
  .github/workflows/e2e.yaml
  .github/workflows/files-diff.yaml
  .github/workflows/go-apidiff.yaml
  .github/workflows/go-verdiff.yaml
  .github/workflows/pages.yaml
  .github/workflows/pr-title.yaml
  .github/workflows/release.yaml
  .github/workflows/sanity.yaml
  .github/workflows/stale.yml
  .github/workflows/test-regression.yaml
  .github/workflows/tilt.yaml
  .github/workflows/unit-test.yaml
  .github/workflows/update-demos.yaml
Due: none

UPSTREAM: <carry>: Bump golang.org/x/net to v0.53.0 to address CVE-2026-33814
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/hpack/tables.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/sys/cpu/cpu_darwin_arm64_other.go
  vendor/golang.org/x/sys/cpu/cpu_other_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_windows_arm64.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/modules.txt
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: use internal shell image for catalog FBC curl Job
  openshift/tests-extension/test/olmv1-catalog.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: fix webhook finalizer flake
  openshift/tests-extension/test/webhooks.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

wip
  cmd/catalogd/main.go
  cmd/operator-controller/main.go
  docs/designs/clusterextension-metrics.md
  hack/watch-clusterextension-metrics.py
  internal/catalogd/metrics/collector.go
  internal/operator-controller/metrics/metrics.go
  metrics_debug/example_scrape
  metrics_debug/install.yaml
  status_metrics_wip.json
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Add new tests for single/own namespaces install modes
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/pkg/env/cluster.go
  openshift/tests-extension/test/olmv1-singleownnamespace.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Upgrade OCP image from 4.20 to 4.21
  openshift/registry.Dockerfile
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: [Default Catalog Tests] - Change logic to get ocp images from openshift/catalogd/manifests.yaml
  openshift/default-catalog-consistency/go.mod
  openshift/default-catalog-consistency/test/utils/utils.go
  openshift/default-catalog-consistency/test/validate/suite_test.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/default-catalog-consistency, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Update OCP catalogs to v4.21
  openshift/catalogd/manifests-experimental.yaml
  openshift/catalogd/manifests.yaml
  openshift/helm/catalogd.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: support singleown cases in disconnected
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/Makefile
  openshift/tests-extension/pkg/bindata/singleown/bundle/bundle.go
  openshift/tests-extension/pkg/bindata/singleown/index/index.go
  openshift/tests-extension/test/olmv1-singleownnamespace.go
  openshift/tests-extension/testdata/singleown/bundle/Dockerfile
  openshift/tests-extension/testdata/singleown/bundle/manifests/webhook-operator-controller-manager-metrics-service_v1_service.yaml
  openshift/tests-extension/testdata/singleown/bundle/manifests/webhook-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  openshift/tests-extension/testdata/singleown/bundle/manifests/webhook-operator-webhooktest-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  openshift/tests-extension/testdata/singleown/bundle/manifests/webhook-operator-webhooktest-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  openshift/tests-extension/testdata/singleown/bundle/manifests/webhook-operator-webhooktest-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  openshift/tests-extension/testdata/singleown/bundle/manifests/webhook-operator.clusterserviceversion.yaml
  openshift/tests-extension/testdata/singleown/bundle/manifests/webhook.operators.coreos.io_webhooktests.yaml
  openshift/tests-extension/testdata/singleown/bundle/metadata/annotations.yaml
  openshift/tests-extension/testdata/singleown/bundle/tests/scorecard/config.yaml
  openshift/tests-extension/testdata/singleown/index/Dockerfile
  openshift/tests-extension/testdata/singleown/index/configs/index.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: fix cases 81696 and 74618 for product code changes
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Define Default timeouts and apply their usage accross to avoid flakes
  openshift/tests-extension/pkg/helpers/catalogs.go
  openshift/tests-extension/pkg/helpers/cluster_catalog.go
  openshift/tests-extension/pkg/helpers/cluster_extension.go
  openshift/tests-extension/pkg/helpers/defaults.go
  openshift/tests-extension/pkg/helpers/in_cluster_bundles.go
  openshift/tests-extension/test/olmv1-catalog.go
  openshift/tests-extension/test/olmv1-incompatible.go
  openshift/tests-extension/test/olmv1-preflight.go
  openshift/tests-extension/test/olmv1-singleownnamespace.go
  openshift/tests-extension/test/olmv1.go
  openshift/tests-extension/test/webhooks.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Update to new feature-gate options in helm
  openshift/catalogd/manifests-experimental.yaml
  openshift/helm/experimental.yaml
  openshift/operator-controller/manifests-experimental.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: [OTE]: Enhance single/own ns based on review comments ( Follow-Up of: 714977c69 )
  openshift/tests-extension/test/olmv1-singleownnamespace.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension
