Repository openshift/operator-framework-operator-controller: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/default-catalog-consistency, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

openshift-e2e-aws:
  steps:
    cluster_profile: aws
    test:
    - as: upstream-e2e
      cli: latest
      commands: make -C openshift test-e2e
      dependencies:
      - env: E2E_REGISTRY_IMAGE
        name: e2e-test-registry
      from: src
      resources:
        requests:
          cpu: 100m
    - ref: openshift-e2e-test
  ...

openshift-e2e-aws-techpreview:
  optional: true
  steps:
    cluster_profile: aws-2
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: upstream-e2e
      cli: latest
      commands: make -C openshift test-e2e
      dependencies:
      - env: E2E_REGISTRY_IMAGE
        name: e2e-test-registry
      from: src
      resources:
  ...

ci/prow/default-catalog-consistency:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/openshift-e2e-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/tests-extension:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

UPSTREAM: <carry>: Upgrade OCP image from 4.20 to 4.21
  openshift/registry.Dockerfile
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: [Default Catalog Tests] - Change logic to get ocp images from openshift/catalogd/manifests.yaml
  openshift/default-catalog-consistency/go.mod
  openshift/default-catalog-consistency/test/utils/utils.go
  openshift/default-catalog-consistency/test/validate/suite_test.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/default-catalog-consistency, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Update OCP catalogs to v4.21
  openshift/catalogd/manifests-experimental.yaml
  openshift/catalogd/manifests.yaml
  openshift/helm/catalogd.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: support singleown cases in disconnected
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/Makefile
  openshift/tests-extension/pkg/bindata/singleown/bundle/bundle.go
  openshift/tests-extension/pkg/bindata/singleown/index/index.go
  openshift/tests-extension/test/olmv1-singleownnamespace.go
  openshift/tests-extension/testdata/singleown/bundle/Dockerfile
  openshift/tests-extension/testdata/singleown/bundle/manifests/webhook-operator-controller-manager-metrics-service_v1_service.yaml
  openshift/tests-extension/testdata/singleown/bundle/manifests/webhook-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  openshift/tests-extension/testdata/singleown/bundle/manifests/webhook-operator-webhooktest-admin-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  openshift/tests-extension/testdata/singleown/bundle/manifests/webhook-operator-webhooktest-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  openshift/tests-extension/testdata/singleown/bundle/manifests/webhook-operator-webhooktest-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  openshift/tests-extension/testdata/singleown/bundle/manifests/webhook-operator.clusterserviceversion.yaml
  openshift/tests-extension/testdata/singleown/bundle/manifests/webhook.operators.coreos.io_webhooktests.yaml
  openshift/tests-extension/testdata/singleown/bundle/metadata/annotations.yaml
  openshift/tests-extension/testdata/singleown/bundle/tests/scorecard/config.yaml
  openshift/tests-extension/testdata/singleown/index/Dockerfile
  openshift/tests-extension/testdata/singleown/index/configs/index.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: fix cases 81696 and 74618 for product code changes
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Define Default timeouts and apply their usage accross to avoid flakes
  openshift/tests-extension/pkg/helpers/catalogs.go
  openshift/tests-extension/pkg/helpers/cluster_catalog.go
  openshift/tests-extension/pkg/helpers/cluster_extension.go
  openshift/tests-extension/pkg/helpers/defaults.go
  openshift/tests-extension/pkg/helpers/in_cluster_bundles.go
  openshift/tests-extension/test/olmv1-catalog.go
  openshift/tests-extension/test/olmv1-incompatible.go
  openshift/tests-extension/test/olmv1-preflight.go
  openshift/tests-extension/test/olmv1-singleownnamespace.go
  openshift/tests-extension/test/olmv1.go
  openshift/tests-extension/test/webhooks.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Update to new feature-gate options in helm
  openshift/catalogd/manifests-experimental.yaml
  openshift/helm/experimental.yaml
  openshift/operator-controller/manifests-experimental.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Fix flake for single/own ns tests by ensuring uniquess and waiting for k8s cleanups
  openshift/tests-extension/test/olmv1-singleownnamespace.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: [OTE]: Enhance single/own ns based on review comments ( Follow-Up of: 714977c69 )
  openshift/tests-extension/test/olmv1-singleownnamespace.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Update OwnSingle template to use spec.config.inline.watchNamespace
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/cmd/main.go
  openshift/tests-extension/pkg/bindata/qe/bindata.go
  openshift/tests-extension/test/qe/testdata/olm/clusterextension-withselectorlabel-OwnSingle.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Add [OTP] to migrated cases
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/test/qe/README.md
  openshift/tests-extension/test/qe/specs/olmv1_cc.go
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: [OTE]: Add webhook cleanup validation on extension uninstall
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/pkg/env/cluster.go
  openshift/tests-extension/test/webhooks.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: fix(OTE): fix OpenShift Kubernetes replace version format
  openshift/tests-extension/README.md
  openshift/tests-extension/go.mod
  openshift/tests-extension/hack/ocp-replace.sh
  openshift/tests-extension/vendor/modules.txt
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: add disconnected environment support with custom prow job for migrated qe cases
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/test/qe/README.md
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
  openshift/tests-extension/test/qe/util/olmv1util/helper.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: migrate jiazha test cases to OTE
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/test/qe/specs/olmv1.go
  openshift/tests-extension/test/qe/specs/olmv1_cc.go
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: migrate olmv1 QE stress cases
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/test/qe/README.md
  openshift/tests-extension/test/qe/specs/olmv1_stress.go
  openshift/tests-extension/test/qe/util/architecture/architecture.go
  openshift/tests-extension/test/qe/util/olmv1util/helper.go
  openshift/tests-extension/test/qe/util/stress/manifests/config/pkg-ins-v1/metrics-endpoint.yml
  openshift/tests-extension/test/qe/util/stress/manifests/config/pkg-ins-v1/metrics-profiles/metrics-aggregated.yml
  openshift/tests-extension/test/qe/util/stress/manifests/config/pkg-ins-v1/pkg-ins-v1.yml
  openshift/tests-extension/test/qe/util/stress/manifests/config/pkg-ins-v1/templates/catalogd.yml
  openshift/tests-extension/test/qe/util/stress/manifests/config/pkg-ins-v1/templates/ce.yml
  openshift/tests-extension/test/qe/util/stress/manifests/config/pkg-ins-v1/templates/clusterrole.yml
  openshift/tests-extension/test/qe/util/stress/manifests/config/pkg-ins-v1/templates/clusterrolebinding.yml
  openshift/tests-extension/test/qe/util/stress/manifests/config/pkg-ins-v1/templates/sa.yml
  openshift/tests-extension/test/qe/util/stress/util/ma.py
  openshift/tests-extension/test/qe/util/stress/util/ma/__init__.py
  openshift/tests-extension/test/qe/util/stress/util/ma/cli/__init__.py
  openshift/tests-extension/test/qe/util/stress/util/ma/cli/__main__.py
  openshift/tests-extension/test/qe/util/stress/util/ma/cli/cmd_check_ccpu.py
  openshift/tests-extension/test/qe/util/stress/util/ma/cli/cmd_group.py
  openshift/tests-extension/test/qe/util/stress/util/ma/helper/__init__.py
  openshift/tests-extension/test/qe/util/stress/util/ma/helper/algo.py
  openshift/tests-extension/test/qe/util/stress/util/ma/helper/const.py
  openshift/tests-extension/test/qe/util/stress/util/ma/helper/containercpu.py
  openshift/tests-extension/test/qe/util/stress/util/ma/helper/exceptions.py
  openshift/tests-extension/test/qe/util/stress/util/ma/helper/util.py
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: migrate clustercatalog case to ote
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/test/qe/specs/olmv1_cc.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Use busybox/httpd to simulate probes
  openshift/tests-extension/test/olmv1.go
  openshift/tests-extension/testdata/operator/manifests/registry.clusterserviceversion.yaml
  openshift/tests-extension/testdata/operator/manifests/script.configmap.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: migrate olmv1 QE cases
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/pkg/bindata/operator/operator.go
  openshift/tests-extension/pkg/bindata/qe/bindata.go
  openshift/tests-extension/test/qe/specs/olmv1.go
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
  openshift/tests-extension/test/qe/testdata/olm/clusterextension-withselectorlabel-WithoutVersion.yaml
  openshift/tests-extension/test/qe/testdata/olm/clusterextension-withselectorlabel-withoutChannel-OwnSingle.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: add agent for olmv1 qe cases
  openshift/tests-extension/test/qe/AGENTS.md
  openshift/tests-extension/test/qe/CLAUDE.md
  openshift/tests-extension/test/qe/README.md
  openshift/tests-extension/test/qe/specs/olmv1_cc.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Disable upstream PodDisruptionBudget
  openshift/catalogd/manifests-experimental.yaml
  openshift/catalogd/manifests.yaml
  openshift/helm/catalogd.yaml
  openshift/helm/operator-controller.yaml
  openshift/operator-controller/manifests-experimental.yaml
  openshift/operator-controller/manifests.yaml
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Add AGENTS.md for AI code contributions
  openshift/AGENTS.md
Due: none

UPSTREAM: <carry>: addressing some more review comments
  openshift/AGENTS.md
Due: none

UPSTREAM: <carry>: address review comments through addl prompts
  openshift/AGENTS.md
Due: none

UPSTREAM: <carry>: remove DCO line
  openshift/AGENTS.md
Due: none

UPSTREAM: <carry>: update metadata
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: migrate bandrade test cases to OTE
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/test/qe/specs/olmv1.go
  openshift/tests-extension/test/qe/specs/olmv1_cc.go
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: update 80458's timeout to 180s
  openshift/tests-extension/test/qe/specs/olmv1_cc.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: remove originalName
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/test/qe/specs/olmv1.go
  openshift/tests-extension/test/qe/specs/olmv1_cc.go
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: update 83026 to specify the clustercatalog
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: Use oc client for running e2e tests
  openshift/Makefile
  openshift/operator-controller/build-test-registry.sh
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Update to golang 1.25 and ocp 4.22
  .ci-operator.yaml
  openshift/catalogd.Dockerfile
  openshift/operator-controller.Dockerfile
  openshift/registry.Dockerfile
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: Run upstream e2e tests tagged with `@catalogd-update`
  openshift/Makefile
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws

UPSTREAM: <carry>: enhance case to make it more stable
  openshift/tests-extension/.openshift-tests-extension/openshift_payload_olmv1.json
  openshift/tests-extension/Makefile
  openshift/tests-extension/test/qe/specs/olmv1_ce.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: add service account to curl job
  openshift/tests-extension/test/olmv1-catalog.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: move sa creation out of buildCurlJob()
  openshift/tests-extension/test/olmv1-catalog.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: comment out delete service account
  openshift/tests-extension/test/olmv1-catalog.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

UPSTREAM: <carry>: add polling so job fully deleted before proceed
  openshift/tests-extension/test/olmv1-catalog.go
Due: openshift-e2e-aws, openshift-e2e-aws-techpreview, ci/prow/openshift-e2e-aws, ci/prow/tests-extension

Path conditions:
  openshift-e2e-aws: unless all of: ^docs/|\.md$|^(?:.*\/)?(?:\.gitignore|DOWNSTREAM_OWNERS|DOWNSTREAM_OWNERS_ALIASES|LICENSE|DCO|CODEOWNERS)|\.golangci\.yaml|\.goreleaser\.yml|\.markdownlint.yaml|^\.github|Tiltfile$
  openshift-e2e-aws-techpreview: unless all of: ^docs/|\.md$|^(?:.*\/)?(?:\.gitignore|DOWNSTREAM_OWNERS|DOWNSTREAM_OWNERS_ALIASES|LICENSE|DCO|CODEOWNERS)|\.golangci\.yaml|\.goreleaser\.yml|\.markdownlint.yaml|^\.github|Tiltfile$
  ci/prow/default-catalog-consistency: any of: ^(openshift/default-catalog-consistency/|openshift/catalogd/kustomize/overlays/openshift/catalogs/)
  ci/prow/openshift-e2e-aws: unless all of: ^docs/|\.md$|^(?:.*\/)?(?:\.gitignore|DOWNSTREAM_OWNERS|DOWNSTREAM_OWNERS_ALIASES|LICENSE|DCO|CODEOWNERS)|\.golangci\.yaml|\.goreleaser\.yml|\.markdownlint.yaml|^\.github|Tiltfile$
  ci/prow/tests-extension: any of: ^(openshift/tests-extension/)
