Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*

channels/eus-4.20: Promote 4.19.24
  channels/eus-4.20.yaml
Due: none

channels/stable-4.20: Promote 4.19.24
  channels/stable-4.20.yaml
Due: none

channels/eus-4.20: Promote 4.18.32
  channels/eus-4.20.yaml
Due: none

channels/eus-4.20: Promote 4.18.33
  channels/eus-4.20.yaml
Due: none

channels/stable-4.20: Promote 4.18.32
  channels/stable-4.20.yaml
Due: none

channels/stable-4.20: Promote 4.18.33
  channels/stable-4.20.yaml
Due: none

internal-channels/fast: Promote 4.13.64
  internal-channels/fast.yaml
Due: none

channels/fast-4.13: Promote 4.13.64
  channels/fast-4.13.yaml
Due: none

channels/fast-4.13: Promote 4.12.85
  channels/fast-4.13.yaml
Due: none

internal-channels/stable: Promote 4.14.62
  internal-channels/stable.yaml
Due: none

channels/eus-4.14: Promote 4.14.62
  channels/eus-4.14.yaml
Due: none

Add inheritance: true to .coderabbit.yaml
  .coderabbit.yaml
Due: none

CNTRLPLANE-2254: blocked-edges: Extend HyperShiftRedundantRouter risk to 4.19.25
  blocked-edges/4.19.25-HyperShiftRedundantRouter.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

CORENET-6196: blocked-edges: Extend IPsecLargeClusterConnectivity risk to 4.19.25
  blocked-edges/4.19.25-IPsecLargeClusterConnectivity.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

Enable 4.12.86 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.12: Promote 4.12.86
  channels/candidate-4.12.yaml
Due: none

channels/candidate-4.13: Promote 4.12.86
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.12.86
  channels/candidate-4.14.yaml
Due: none

Extend HyperShiftRedundantRouter to 4.19.25
  blocked-edges/4.19.25-HyperShiftRedundantRouter.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

channels/candidate-4.19: Promote 4.19.25
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.25
  channels/candidate-4.20.yaml
Due: none

internal-channels/fast: Promote 4.19.25
  internal-channels/fast.yaml
Due: none

channels/fast-4.19: Promote 4.19.25
  channels/fast-4.19.yaml
Due: none

channels/fast-4.19: Promote 4.18.34
  channels/fast-4.19.yaml
Due: none

Enable 4.18.35 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.18: Promote 4.18.35
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.35
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.35
  channels/candidate-4.20.yaml
Due: none

Enable 4.20.16 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.21.5 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.21: Promote 4.21.5
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.5
  channels/candidate-4.22.yaml
Due: none

blocked-edges/4.20.15-HyperShiftRedundantRouter: Fixed in 4.20.16
  blocked-edges/4.20.15-HyperShiftRedundantRouter.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

channels/candidate-4.20: Promote 4.20.16
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.16
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.16
  channels/candidate-4.22.yaml
Due: none

internal-channels/stable: Promote 4.21.4
  internal-channels/stable.yaml
Due: none

channels/stable-4.21: Promote 4.21.4
  channels/stable-4.21.yaml
Due: none

Run `hack/release-stable-minor.sh 4.21`
  channels/stable-4.21.yaml
Due: none

internal-channels/fast: Promote 4.21.5
  internal-channels/fast.yaml
Due: none
