Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

ci/prow/e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-latest-cincinnati:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/stabilization-bot-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/validate-blocked-edges:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

channels/candidate-4.20: Promote 4.18.32
  channels/candidate-4.20.yaml
Due: none

Enable 4.15.61 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.19.23 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.15: Promote 4.15.61
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.15.61
  channels/candidate-4.16.yaml
Due: none

blocked-edges/4.20.13-HyperShiftRedundantRouter: Not fixed yet
  blocked-edges/4.20.13-HyperShiftRedundantRouter.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

blocked-edges/4.20.13-ARO420UDRWorkerNodesFail: Not fixed yet
  blocked-edges/4.20.13-ARO420UDRWorkerNodesFail.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

blocked-edges/4.19.23-HyperShiftRedundantRouter: Not fixed yet
  blocked-edges/4.19.23-HyperShiftRedundantRouter.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

channels/candidate-4.20: Promote 4.20.13
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.13
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.13
  channels/candidate-4.22.yaml
Due: none

blocked-edges/4.19.23-IPsecLargeClusterConnectivity: Not fixed yet
  blocked-edges/4.19.23-IPsecLargeClusterConnectivity.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

internal-channels/fast: Promote 4.21.0
  internal-channels/fast.yaml
Due: none

channels/candidate-4.19: Promote 4.19.23
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.23
  channels/candidate-4.20.yaml
Due: none

Land 4.18.32 in fast and stable channels
  channels/eus-4.18.yaml
  channels/fast-4.18.yaml
  channels/stable-4.18.yaml
  internal-channels/fast.yaml
  internal-channels/stable.yaml
Due: none

channels/eus-4.18: Promote 4.17.47
  channels/eus-4.18.yaml
Due: none

channels/fast-4.18: Promote 4.17.47
  channels/fast-4.18.yaml
Due: none

internal-channels/stable: Promote 4.20.12
  internal-channels/stable.yaml
Due: none

channels/stable-4.18: Promote 4.17.47
  channels/stable-4.18.yaml
Due: none

channels/eus-4.18: Promote 4.16.55
  channels/eus-4.18.yaml
Due: none

channels/eus-4.20: Promote 4.20.12
  channels/eus-4.20.yaml
Due: none

channels/fast-4.18: Promote 4.16.55
  channels/fast-4.18.yaml
Due: none

channels/stable-4.20: Promote 4.20.12
  channels/stable-4.20.yaml
Due: none

Run `./hack/release-ga.sh 4.21`
  blocked-edges/4.21.0-ec.0-PreRelease.yaml
  blocked-edges/4.21.0-ec.2-PreRelease.yaml
  blocked-edges/4.21.0-ec.3-PreRelease.yaml
  blocked-edges/4.21.0-rc.0-PreRelease.yaml
  blocked-edges/4.21.0-rc.1-PreRelease.yaml
  blocked-edges/4.21.0-rc.2-PreRelease.yaml
  build-suggestions/4.21.yaml
  build-suggestions/4.22.yaml
  channels/eus-4.18.yaml
  channels/eus-4.20.yaml
  channels/fast-4.18.yaml
  channels/fast-4.21.yaml
  channels/stable-4.20.yaml
  channels/stable-4.21.yaml
  internal-channels/stable.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

internal-channels/fast: Promote 4.20.13
  internal-channels/fast.yaml
Due: none

channels/fast-4.20: Promote 4.20.13
  channels/fast-4.20.yaml
Due: none

channels/fast-4.21: Promote 4.20.13
  channels/fast-4.21.yaml
Due: none

internal-channels/fast: Promote 4.17.48
  internal-channels/fast.yaml
Due: none

channels/fast-4.17: Promote 4.17.48
  channels/fast-4.17.yaml
Due: none

channels/fast-4.17: Promote 4.16.56
  channels/fast-4.17.yaml
Due: none

internal-channels/fast: Promote 4.19.23
  internal-channels/fast.yaml
Due: none

channels/fast-4.19: Promote 4.19.23
  channels/fast-4.19.yaml
Due: none

channels/fast-4.20: Promote 4.19.23
  channels/fast-4.20.yaml
Due: none

blocked-edges/4.21.0-HyperShiftRedundantRouter: Not fixed yet
  blocked-edges/4.21.0-HyperShiftRedundantRouter.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

internal-channels/fast: Promote 4.15.61
  internal-channels/fast.yaml
Due: none

channels/fast-4.15: Promote 4.15.61
  channels/fast-4.15.yaml
Due: none

channels/fast-4.15: Promote 4.14.61
  channels/fast-4.15.yaml
Due: none

blocked-edges/4.21.0-ShortNameImageReferences: Declare risk
  blocked-edges/4.21.0-ShortNameImageReferences.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

internal-channels/stable: Promote 4.16.56
  internal-channels/stable.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
