Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*

internal-channels/fast: Promote 4.14.71
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.16.68
  internal-channels/fast.yaml
Due: none

channels/fast-4.14: Promote 4.14.71
  channels/fast-4.14.yaml
Due: none

channels/fast-4.16: Promote 4.16.68
  channels/fast-4.16.yaml
Due: none

Enable 4.12.96 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.12: Promote 4.12.96
  channels/candidate-4.12.yaml
Due: none

channels/candidate-4.13: Promote 4.12.96
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.12.96
  channels/candidate-4.14.yaml
Due: none

internal-channels/stable: Promote 4.12.95
  internal-channels/stable.yaml
Due: none

internal-channels/stable: Promote 4.17.56
  internal-channels/stable.yaml
Due: none

channels/eus-4.12: Promote 4.12.95
  channels/eus-4.12.yaml
Due: none

channels/eus-4.18: Promote 4.17.56
  channels/eus-4.18.yaml
Due: none

channels/stable-4.17: Promote 4.17.56
  channels/stable-4.17.yaml
Due: none

channels/stable-4.18: Promote 4.17.56
  channels/stable-4.18.yaml
Due: none

channels/eus-4.18: Promote 4.16.66
  channels/eus-4.18.yaml
Due: none

channels/eus-4.18: Promote 4.16.67
  channels/eus-4.18.yaml
Due: none

Enable 4.22.10 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.20.34 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.22: Promote 4.22.10
  channels/candidate-4.22.yaml
Due: none

channels/candidate-5.0: Promote 4.22.10
  channels/candidate-5.0.yaml
Due: none

channels/candidate-4.20: Promote 4.20.34
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.34
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.34
  channels/candidate-4.22.yaml
Due: none

Enable 4.21.29 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.21: Promote 4.21.29
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.29
  channels/candidate-4.22.yaml
Due: none

Enable 4.18.53 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.18: Promote 4.18.53
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.53
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.53
  channels/candidate-4.20.yaml
Due: none

Enable 5.0.0-ec.6 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.19.43 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-5.0: Promote 5.0.0-ec.6
  channels/candidate-5.0.yaml
Due: none

channels/candidate-4.19: Promote 4.19.43
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.43
  channels/candidate-4.20.yaml
Due: none

blocked-edges: Extend AutoSizingReservedDisabledSilently risk to 4.21.29
  blocked-edges/4.21.29-AutoSizingReservedDisabledSilently.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

internal-channels/stable: Promote 4.21.28
  internal-channels/stable.yaml
Due: none

channels/stable-4.21: Promote 4.21.28
  channels/stable-4.21.yaml
Due: none

internal-channels/fast: Promote 4.21.29
  internal-channels/fast.yaml
Due: none
