Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

Enable 4.20.8 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

blocked-edges/4.20.8-ARO420UDRWorkerNodesFail: Not fixed yet
  blocked-edges/4.20.8-ARO420UDRWorkerNodesFail.yaml
Due: validate-blocked-edges

Enable 4.17.46 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.17: Promote 4.17.46
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.17.46
  channels/candidate-4.18.yaml
Due: none

blocked-edges/4.20.6-RuncShareProcessNamespace: Declare fixed in 4.20.8
  blocked-edges/4.20.6-RuncShareProcessNamespace.yaml
Due: validate-blocked-edges

channels/candidate-4.20: Promote 4.20.8
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.8
  channels/candidate-4.21.yaml
Due: none

Enable 4.15.60 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.15: Promote 4.15.60
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.15.60
  channels/candidate-4.16.yaml
Due: none

build-suggestions/4.21: Raise minor_min to 4.20.8
  build-suggestions/4.21.yaml
Due: none

.claude/commands: Add extend risk command
  .claude/commands/extend-risk.md
Due: none

internal-channels/fast: Promote 4.20.8
  internal-channels/fast.yaml
Due: none

channels/fast-4.20: Promote 4.20.8
  channels/fast-4.20.yaml
Due: none

channels/fast-4.20: Promote 4.19.21
  channels/fast-4.20.yaml
Due: none

channels/fast-4.20: Promote 4.18.30
  channels/fast-4.20.yaml
Due: none

Add 4.20.8 to stable channels
  internal-channels/stable.yaml
Due: none

channels/eus-4.20: Promote 4.20.8
  channels/eus-4.20.yaml
Due: none

channels/stable-4.20: Promote 4.20.8
  channels/stable-4.20.yaml
Due: none

channels/eus-4.20: Promote 4.19.21
  channels/eus-4.20.yaml
Due: none

channels/stable-4.20: Promote 4.19.21
  channels/stable-4.20.yaml
Due: none

channels/eus-4.20: Promote 4.18.30
  channels/eus-4.20.yaml
Due: none

channels/stable-4.20: Promote 4.18.30
  channels/stable-4.20.yaml
Due: none

*: Prepare for 4.22 development
  build-suggestions/4.22.yaml
  channels/candidate-4.22.yaml
Due: none

.claude/commands: Add propose-risk slash command
  .claude/commands/propose-risk.md
Due: none

Enable 4.21.0-rc.0 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.21: Promote 4.21.0-rc.0
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.0-rc.0
  channels/candidate-4.22.yaml
Due: none

blocked-edges/4.20.0-rc.3-PreRelease: Fixed in 4.20.0
  blocked-edges/4.20.0-rc.3-PreRelease.yaml
  hack/release-ga.sh
Due: validate-blocked-edges

channels/candidate-4.22: Promote 4.20.0
  channels/candidate-4.22.yaml
Due: none

blocked-edges/4.(19|20).*-HyperShiftRedundantRouter: Declare new risk
  blocked-edges/4.19.18-HyperShiftRedundantRouter.yaml
  blocked-edges/4.19.19-HyperShiftRedundantRouter.yaml
  blocked-edges/4.19.20-HyperShiftRedundantRouter.yaml
  blocked-edges/4.19.21-HyperShiftRedundantRouter.yaml
  blocked-edges/4.20.0-HyperShiftRedundantRouter.yaml
  blocked-edges/4.20.1-HyperShiftRedundantRouter.yaml
  blocked-edges/4.20.2-HyperShiftRedundantRouter.yaml
  blocked-edges/4.20.3-HyperShiftRedundantRouter.yaml
  blocked-edges/4.20.4-HyperShiftRedundantRouter.yaml
  blocked-edges/4.20.5-HyperShiftRedundantRouter.yaml
  blocked-edges/4.20.6-HyperShiftRedundantRouter.yaml
  blocked-edges/4.20.8-HyperShiftRedundantRouter.yaml
Due: validate-blocked-edges

Create the CLAUDE.md file
  CLAUDE.md
Due: none

Migrate CLAUDE.md to AGENTS.md
  AGENTS.md
Due: none

Symlink AGENTS.md to CLAUDE.md
  CLAUDE.md
Due: none

internal-channels/fast: Promote 4.17.46
  internal-channels/fast.yaml
Due: none

channels/fast-4.17: Promote 4.17.46
  channels/fast-4.17.yaml
Due: none

channels/fast-4.17: Promote 4.16.54
  channels/fast-4.17.yaml
Due: none

Enable 4.21.0-rc.1 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.21: Promote 4.21.0-rc.1
  channels/candidate-4.21.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
