Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*

internal-channels/fast: Promote 4.15.69
  internal-channels/fast.yaml
Due: none

channels/fast-4.15: Promote 4.15.69
  channels/fast-4.15.yaml
Due: none

channels/fast-4.16: Promote 4.15.69
  channels/fast-4.16.yaml
Due: none

Enable 4.19.49 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/fast-4.16: Promote 4.14.73
  channels/fast-4.16.yaml
Due: none

channels/fast-4.16: Promote 4.14.74
  channels/fast-4.16.yaml
Due: none

channels/candidate-4.19: Promote 4.19.49
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.49
  channels/candidate-4.20.yaml
Due: none

channels/fast-4.15: Promote 4.14.73
  channels/fast-4.15.yaml
Due: none

channels/fast-4.15: Promote 4.14.74
  channels/fast-4.15.yaml
Due: none

Enable 4.21.35 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.20.40 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.21: Promote 4.21.35
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.35
  channels/candidate-4.22.yaml
Due: none

channels/candidate-4.20: Promote 4.20.40
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.40
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.40
  channels/candidate-4.22.yaml
Due: none

Enable 4.22.16 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.17.58 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.22: Promote 4.22.16
  channels/candidate-4.22.yaml
Due: none

channels/candidate-4.23: Promote 4.22.16
  channels/candidate-4.23.yaml
Due: none

channels/candidate-5.0: Promote 4.22.16
  channels/candidate-5.0.yaml
Due: none

Enable 5.0.0-rc.4 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.17: Promote 4.17.58
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.17.58
  channels/candidate-4.18.yaml
Due: none

channels: add 4.14.74 to fast-4.15 (#10802)
  channels/fast-4.15.yaml
Due: none

channels: add 4.12.97 to fast-4.14 (#10782)
  channels/fast-4.14.yaml
Due: none

channels: add 4.14.74 to fast-4.16 (#10798)
  channels/fast-4.16.yaml
Due: none

channels: add 4.16.69 to eus-4.18 (#10779)
  channels/eus-4.18.yaml
Due: none

channels/candidate-5.0: Promote 5.0.0-rc.4
  channels/candidate-5.0.yaml
Due: none

channels/candidate-5.1: Promote 5.0.0-rc.4
  channels/candidate-5.1.yaml
Due: none

blocked-edges: Add AutoSizingDisabledMachineConfigOverride risk for 4.21.0-25
  blocked-edges/4.21.0-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.1-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.10-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.11-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.12-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.13-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.14-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.15-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.16-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.17-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.18-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.19-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.2-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.20-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.21-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.22-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.23-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.24-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.25-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.3-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.4-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.5-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.6-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.7-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.8-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.9-AutoSizingDisabledMachineConfigOverride.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

blocked-edges: Extend AutoSizingReservedDisabledSilently risk to 4.21.26-28
  blocked-edges/4.21.26-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.27-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.28-AutoSizingReservedDisabledSilently.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

blocked-edges: Add AutoSizingReservedDisabledSilently risk for 4.20.0-31
  blocked-edges/4.20.0-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.1-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.10-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.11-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.12-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.13-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.14-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.15-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.16-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.17-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.18-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.19-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.2-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.20-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.21-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.22-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.23-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.24-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.25-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.26-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.27-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.28-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.29-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.3-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.30-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.31-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.4-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.5-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.6-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.7-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.8-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.20.9-AutoSizingReservedDisabledSilently.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

blocked-edges: Rename AutoSizingDisabledMachineConfigOverride to AutoSizingReservedDisabledSilently
  blocked-edges/4.21.0-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.1-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.10-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.11-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.12-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.13-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.14-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.15-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.16-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.17-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.18-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.19-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.2-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.20-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.21-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.22-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.23-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.24-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.25-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.3-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.4-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.5-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.6-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.7-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.8-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.9-AutoSizingReservedDisabledSilently.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

Set minimum version of 4.20 required to upgrade to 4.21
  build-suggestions/4.21.yaml
Due: none

blocked-edges: Update url, name, message, and extend from range for AutoSizingReservedDisabledSilently
  blocked-edges/4.21.0-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.1-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.10-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.11-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.12-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.13-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.14-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.15-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.16-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.17-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.18-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.19-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.2-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.20-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.21-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.22-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.23-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.24-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.25-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.3-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.4-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.5-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.6-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.7-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.8-AutoSizingReservedDisabledSilently.yaml
  blocked-edges/4.21.9-AutoSizingReservedDisabledSilently.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

Bump minor_min to 4.20.32 for 4.21
  build-suggestions/4.21.yaml
Due: none

blocked-edges: Extend AutoSizingReservedDisabledSilently risk to 4.21.29
  blocked-edges/4.21.29-AutoSizingReservedDisabledSilently.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges
