Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

CORENET-6189: Set up WhereaboutsControllerCreateContainerError to block paths to 4.18
  blocked-edges/4.18.1-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.10-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.11-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.12-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.13-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.14-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.15-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.16-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.17-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.18-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.19-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.2-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.20-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.21-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.3-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.4-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.5-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.6-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.7-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.8-WhereaboutsControllerCreateContainerError.yaml
  blocked-edges/4.18.9-WhereaboutsControllerCreateContainerError.yaml
Due: validate-blocked-edges

MCO-1834: Set up InvalidArchitectureValueOfMachinesetsAnnotation to block paths to 4.19
  blocked-edges/4.19.0-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.1-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.2-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.3-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.4-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.5-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.6-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.7-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.8-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
Due: validate-blocked-edges

MCO-1834: fixed in 4.18.22
  blocked-edges/4.18.21-WhereaboutsControllerCreateContainerError.yaml
Due: validate-blocked-edges

Narrow down to AWS|GCP clusters
  blocked-edges/4.19.0-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.1-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.2-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.3-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.4-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.5-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.6-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.7-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
  blocked-edges/4.19.8-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
Due: validate-blocked-edges

Enable 4.17.38 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.17: Promote 4.17.38
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.17.38
  channels/candidate-4.18.yaml
Due: none

Enable 4.15.57 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.15: Promote 4.15.57
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.15.57
  channels/candidate-4.16.yaml
Due: none

MCO-1834: Add fixedIn into 4.19.7 claim
  blocked-edges/4.19.7-InvalidArchitectureValueOfMachinesetsAnnotation.yaml
Due: validate-blocked-edges

internal-channels/stable: Promote 4.19.9
  internal-channels/stable.yaml
Due: none

channels/stable-4.19: Promote 4.19.9
  channels/stable-4.19.yaml
Due: none

channels/stable-4.19: Promote 4.18.22
  channels/stable-4.19.yaml
Due: none

Enable 4.20.0-ec.6 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

internal-channels/fast: Promote 4.15.57
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.17.38
  internal-channels/fast.yaml
Due: none

channels/candidate-4.20: Promote 4.20.0-ec.6
  channels/candidate-4.20.yaml
Due: none

channels/fast-4.15: Promote 4.15.57
  channels/fast-4.15.yaml
Due: none

channels/fast-4.17: Promote 4.17.38
  channels/fast-4.17.yaml
Due: none

channels/fast-4.15: Promote 4.14.55
  channels/fast-4.15.yaml
Due: none

channels/fast-4.17: Promote 4.16.46
  channels/fast-4.17.yaml
Due: none

Add AROMissingInternalLBSAN to upgrades to 4.19.8
  blocked-edges/4.19.8-AROMissingInternalLBSAN.yaml
Due: validate-blocked-edges

Enable 4.18.23 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.18: Promote 4.18.23
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.23
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.23
  channels/candidate-4.20.yaml
Due: none

Enable 4.14.56 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.14: Promote 4.14.56
  channels/candidate-4.14.yaml
Due: none

channels/candidate-4.15: Promote 4.14.56
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.14.56
  channels/candidate-4.16.yaml
Due: none

Enable 4.19.10 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.16.47 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

CORENET-6196: extend to 4.19.10
  blocked-edges/4.19.10-IPsecLargeClusterConnectivity.yaml
Due: validate-blocked-edges

NoCloudConfConfigMap is fixed in 4.19.10
  blocked-edges/4.19.9-NoCloudConfConfigMap.yaml
Due: validate-blocked-edges

channels/candidate-4.19: Promote 4.19.10
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.10
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.16: Promote 4.16.47
  channels/candidate-4.16.yaml
Due: none

channels/candidate-4.17: Promote 4.16.47
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.16.47
  channels/candidate-4.18.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
