Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

ci-operator/config/openshift/cincinnati-graph-data/openshift-cincinnati-graph-data-master.yaml:

base_images:
  cincinnati-e2e-latest:
    name: cincinnati-build-root
    namespace: cincinnati-ci
    tag: e2e-test
  cincinnati-operand-latest:
    name: cincinnati-build-root
    namespace: cincinnati-ci
    tag: deploy
  ubi:
    name: ubi
    namespace: ocp
    tag: "9"
build_root:
  image_stream_tag:
    name: rust
    namespace: cincinnati-ci-public
    tag: boot-root-1.84.1
images:
- dockerfile_literal: |
    FROM replaced
    WORKDIR /home
    COPY . graph-data/
    RUN mkdir -p /var/lib/cincinnati/graph-data
    CMD cp -rp graph-data/* /var/lib/cincinnati/graph-data
  from: ubi
  to: stable
- dockerfile_literal: |
    FROM replaced
    ENV RUST_LOG=actix_web=error,dkregistry=error
    COPY graph-data.rs/public-keys /usr/local/share/public-keys
    COPY --from=pipeline:test-bin /go/.cargo/bin/cincinnati-graph-data /usr/local/bin/
    ENTRYPOINT ["/usr/local/bin/cincinnati-graph-data"]
  from: ubi
  inputs:
    test-bin:
      as:
      - pipeline:test-bin
  to: graphdata-unittests
- dockerfile_literal: |
    FROM replaced
    RUN pip install -r requirements.txt
  from: src
  to: content-checks
promotion:
  to:
  - excluded_images:
    - content-checks
    - graphdata-unittests
    name: cincinnati-graph-data
    namespace: cincinnati-ci-public
resources:
  '*':
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  cargo test --manifest-path graph-data.rs/Cargo.toml
  cargo install --locked --path graph-data.rs
tests:
- as: e2e
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests
  run_if_changed: internal-channels/candidate.yaml|graph-data.rs/.*
- as: e2e-latest-cincinnati
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: "4.14"
  optional: true
  run_if_changed: internal-channels/candidate.yaml
  steps:
    test:
    - as: openshift-e2e-test
      commands: |
        bash ./hack/e2e.sh --run-ignored
      credentials:
      - collection: ""
        mount_path: /tmp/secret/pull-secret
        name: ci-pull-credentials
        namespace: test-credentials
      dependencies:
      - env: CINCINNATI_IMAGE
        name: cincinnati-operand-latest
      - env: GRAPHDATA_IMAGE
        name: stable
      env:
      - default: /tmp/secret/pull-secret/.dockerconfigjson
        name: PULL_SECRET
      from: cincinnati-e2e-latest
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: generic-claim
- as: validate-blocked-edges
  commands: |
    exec hack/validate-blocked-edges.py
  container:
    from: content-checks
  run_if_changed: hack/validate-blocked-edges.py|blocked-edges/.*
- as: stabilization-bot-tests
  commands: |
    PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  container:
    from: content-checks
  run_if_changed: hack/(stabilization-changes|util).py
zz_generated_metadata:
  branch: master
  org: openshift
  repo: cincinnati-graph-data

internal-channels/stable: Promote 4.20.4
  internal-channels/stable.yaml
Due: none

channels/eus-4.20: Promote 4.20.4
  channels/eus-4.20.yaml
Due: none

channels/fast-4.20: Promote 4.19.19
  channels/fast-4.20.yaml
Due: none

channels/stable-4.20: Promote 4.20.4
  channels/stable-4.20.yaml
Due: none

channels/fast-4.20: Promote 4.18.28
  channels/fast-4.20.yaml
Due: none

blocked-edges/4.19.*-NetworkManagerOVNBridgeMapping: PromQL for nmstate operator not installed
  blocked-edges/4.19.13-NetworkManagerOVNBridgeMapping.yaml
  blocked-edges/4.19.14-NetworkManagerOVNBridgeMapping.yaml
  blocked-edges/4.19.15-NetworkManagerOVNBridgeMapping.yaml
  blocked-edges/4.19.16-NetworkManagerOVNBridgeMapping.yaml
  blocked-edges/4.19.17-NetworkManagerOVNBridgeMapping.yaml
  blocked-edges/4.19.18-NetworkManagerOVNBridgeMapping.yaml
Due: validate-blocked-edges

internal-channels/fast: Promote 4.18.29
  internal-channels/fast.yaml
Due: none

channels/fast-4.18: Promote 4.18.29
  channels/fast-4.18.yaml
Due: none

channels/fast-4.18: Promote 4.17.44
  channels/fast-4.18.yaml
Due: none

channels/fast-4.18: Promote 4.16.52
  channels/fast-4.18.yaml
Due: none

internal-channels/fast: Promote 4.12.83
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.16.53
  internal-channels/fast.yaml
Due: none

channels/fast-4.12: Promote 4.12.83
  channels/fast-4.12.yaml
Due: none

channels/fast-4.16: Promote 4.16.53
  channels/fast-4.16.yaml
Due: none

Set minimum version of 4.20 required to upgrade to 4.21
  build-suggestions/4.21.yaml
Due: none

Enable 4.20.6 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

internal-channels/stable: Promote 4.14.59
  internal-channels/stable.yaml
Due: none

channels/eus-4.14: Promote 4.14.59
  channels/eus-4.14.yaml
Due: none

Enable 4.13.62 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.13: Promote 4.13.62
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.13.62
  channels/candidate-4.14.yaml
Due: none

Enable 4.17.45 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.19.20 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

blocked-edges/4.20.6-ARO420UDRWorkerNodesFail: Not fixed yet / Not a Bug
  blocked-edges/4.20.6-ARO420UDRWorkerNodesFail.yaml
Due: validate-blocked-edges

blocked-edges/4.20.6-RuncShareProcessNamespace: Not fixed yet
  blocked-edges/4.20.6-RuncShareProcessNamespace.yaml
Due: validate-blocked-edges

blocked-edges/4.19.20-IPsecLargeClusterConnectivity: Not fixed yet
  blocked-edges/4.19.20-IPsecLargeClusterConnectivity.yaml
Due: validate-blocked-edges

blocked-edges/4.19.20-RuncShareProcessNamespace: Not fixed yet
  blocked-edges/4.19.20-RuncShareProcessNamespace.yaml
Due: validate-blocked-edges

blocked-edges/4.17.44-RuncShareProcessNamespace: Declare fixed in 4.17.45
  blocked-edges/4.17.44-RuncShareProcessNamespace.yaml
Due: validate-blocked-edges

RuncShareProcessNamespace fixed in 4.17.45
  blocked-edges/4.17.44-RuncShareProcessNamespace.yaml
Due: validate-blocked-edges

RuncShareProcessNamespace not fixed in 4.19.20 or 4.20.6
  blocked-edges/4.19.20-RuncShareProcessNamespace.yaml
  blocked-edges/4.20.6-RuncShareProcessNamespace.yaml
Due: validate-blocked-edges

channels/candidate-4.17: Promote 4.17.45
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.17.45
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.19.20
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.20
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.20: Promote 4.20.6
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.6
  channels/candidate-4.21.yaml
Due: none

internal-channels/stable: Promote 4.20.5
  internal-channels/stable.yaml
Due: none

channels/eus-4.20: Promote 4.20.5
  channels/eus-4.20.yaml
Due: none

channels/stable-4.20: Promote 4.20.5
  channels/stable-4.20.yaml
Due: none

channels/eus-4.20: Promote 4.19.19
  channels/eus-4.20.yaml
Due: none
