Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

ci/prow/e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-latest-cincinnati:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/stabilization-bot-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/validate-blocked-edges:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

channels/stable-4.20: Promote 4.19.26
  channels/stable-4.20.yaml
Due: none

channels/eus-4.20: Promote 4.18.35
  channels/eus-4.20.yaml
Due: none

channels/stable-4.20: Promote 4.18.35
  channels/stable-4.20.yaml
Due: none

blocked-edges/*-PrecisionTimeProtocolDPLLPins: Declare risk
  blocked-edges/4.19.27-PrecisionTimeProtocolDPLLPins.yaml
  blocked-edges/4.21.8-PrecisionTimeProtocolDPLLPins.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

internal-channels/fast: Promote 4.16.59
  internal-channels/fast.yaml
Due: none

internal-channels/stable: Promote 4.14.63
  internal-channels/stable.yaml
Due: none

channels/eus-4.14: Promote 4.14.63
  channels/eus-4.14.yaml
Due: none

channels/fast-4.16: Promote 4.16.59
  channels/fast-4.16.yaml
Due: none

channels/fast-4.17: Promote 4.16.59
  channels/fast-4.17.yaml
Due: none

channels/eus-4.14: Promote 4.13.64
  channels/eus-4.14.yaml
Due: none

channels/eus-4.14: Promote 4.12.85
  channels/eus-4.14.yaml
Due: none

Enable 4.12.87 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.12: Promote 4.12.87
  channels/candidate-4.12.yaml
Due: none

channels/candidate-4.13: Promote 4.12.87
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.12.87
  channels/candidate-4.14.yaml
Due: none

Enable 4.21.9 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

blocked-edges/4.20.18-PrecisionTimeProtocolDPLLPins: Extend to 4.20.18
  blocked-edges/4.20.18-PrecisionTimeProtocolDPLLPins.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

blocked-edges/4.21.8-EtcdStorageVersion3Migration: Fixed in 4.21.9
  blocked-edges/4.21.8-EtcdStorageVersion3Migration.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

blocked-edges/4.21.9-PrecisionTimeProtocolDPLLPins: Extend the risk
  blocked-edges/4.21.9-PrecisionTimeProtocolDPLLPins.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

Enable 4.18.37 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.18: Promote 4.18.37
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.37
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.37
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.21.9
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.9
  channels/candidate-4.22.yaml
Due: none

Enable 4.20.18 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.20: Promote 4.20.18
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.18
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.18
  channels/candidate-4.22.yaml
Due: none

blocked-edges/*-PrecisionTimeProtocolDPLLPins: Extend exposed PTP-operator versions
  blocked-edges/4.19.27-PrecisionTimeProtocolDPLLPins.yaml
  blocked-edges/4.20.18-PrecisionTimeProtocolDPLLPins.yaml
  blocked-edges/4.21.8-PrecisionTimeProtocolDPLLPins.yaml
  blocked-edges/4.21.9-PrecisionTimeProtocolDPLLPins.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

4.22: require admin ack from 4.21 to 4.22 if runc is present
  blocked-edges/4.22.0-RuncDeprecatedUpgradeRecommendation.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

internal-channels/stable: Promote 4.21.8
  internal-channels/stable.yaml
Due: none

channels/stable-4.21: Promote 4.21.8
  channels/stable-4.21.yaml
Due: none

internal-channels/fast: Promote 4.21.9
  internal-channels/fast.yaml
Due: none

channels/fast-4.21: Promote 4.21.9
  channels/fast-4.21.yaml
Due: none

internal-channels/stable: Promote 4.17.52
  internal-channels/stable.yaml
Due: none

channels/stable-4.17: Promote 4.17.52
  channels/stable-4.17.yaml
Due: none

internal-channels/stable: Promote 4.19.27
  internal-channels/stable.yaml
Due: none

channels/stable-4.19: Promote 4.19.27
  channels/stable-4.19.yaml
Due: none

channels/stable-4.19: Promote 4.18.36
  channels/stable-4.19.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
