Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*

Enable 4.14.72 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.14: Promote 4.14.72
  channels/candidate-4.14.yaml
Due: none

channels/candidate-4.15: Promote 4.14.72
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.14.72
  channels/candidate-4.16.yaml
Due: none

internal-channels/fast: Promote 4.12.96
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.13.70
  internal-channels/fast.yaml
Due: none

channels/fast-4.12: Promote 4.12.96
  channels/fast-4.12.yaml
Due: none

channels/fast-4.13: Promote 4.13.70
  channels/fast-4.13.yaml
Due: none

channels/fast-4.13: Promote 4.12.95
  channels/fast-4.13.yaml
Due: none

channels/fast-4.13: Promote 4.12.96
  channels/fast-4.13.yaml
Due: none

Enable 4.20.35 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.20: Promote 4.20.35
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.35
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.35
  channels/candidate-4.22.yaml
Due: none

Enable 4.19.44 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.19: Promote 4.19.44
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.44
  channels/candidate-4.20.yaml
Due: none

Enable 4.21.30 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.21: Promote 4.21.30
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.30
  channels/candidate-4.22.yaml
Due: none

Enable 4.16.69 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.16: Promote 4.16.69
  channels/candidate-4.16.yaml
Due: none

channels/candidate-4.17: Promote 4.16.69
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.16.69
  channels/candidate-4.18.yaml
Due: none

Enable 4.18.54 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.18: Promote 4.18.54
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.54
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.54
  channels/candidate-4.20.yaml
Due: none

Enable 4.22.11 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.22: Promote 4.22.11
  channels/candidate-4.22.yaml
Due: none

channels/candidate-5.0: Promote 4.22.11
  channels/candidate-5.0.yaml
Due: none

Add blocked edges for KubeletCertRotationFailure (4.21.0-4.21.4)
  blocked-edges/4.21.0-KubeletCertRotationFailure.yaml
  blocked-edges/4.21.1-KubeletCertRotationFailure.yaml
  blocked-edges/4.21.2-KubeletCertRotationFailure.yaml
  blocked-edges/4.21.3-KubeletCertRotationFailure.yaml
  blocked-edges/4.21.4-KubeletCertRotationFailure.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

OWNERS: move PratikMahajan to emeritus_approvers
  OWNERS
  OWNERS_ALIASES
Due: none

internal-channels/fast: Promote 4.20.35
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.21.30
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.22.11
  internal-channels/fast.yaml
Due: none

channels/fast-4.20: Promote 4.20.35
  channels/fast-4.20.yaml
Due: none

channels/fast-4.21: Promote 4.21.30
  channels/fast-4.21.yaml
Due: none

channels/fast-4.20: Promote 4.19.43
  channels/fast-4.20.yaml
Due: none

channels/fast-4.21: Promote 4.20.35
  channels/fast-4.21.yaml
Due: none
