Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

channels/candidate-4.15: Promote 4.15.58
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.15.58
  channels/candidate-4.16.yaml
Due: none

internal-channels/fast: Promote 4.17.40
  internal-channels/fast.yaml
Due: none

channels/fast-4.17: Promote 4.17.40
  channels/fast-4.17.yaml
Due: none

channels/fast-4.17: Promote 4.16.48
  channels/fast-4.17.yaml
Due: none

internal-channels/stable: Promote 4.18.24
  internal-channels/stable.yaml
Due: none

channels/eus-4.18: Promote 4.18.24
  channels/eus-4.18.yaml
Due: none

channels/stable-4.18: Promote 4.18.24
  channels/stable-4.18.yaml
Due: none

channels/stable-4.19: Promote 4.18.24
  channels/stable-4.19.yaml
Due: none

channels/eus-4.18: Promote 4.17.39
  channels/eus-4.18.yaml
Due: none

channels/stable-4.18: Promote 4.17.39
  channels/stable-4.18.yaml
Due: none

channels/eus-4.18: Promote 4.16.47
  channels/eus-4.18.yaml
Due: none

internal-channels/stable: Promote 4.16.48
  internal-channels/stable.yaml
Due: none

channels/stable-4.18: Promote 4.16.47
  channels/stable-4.18.yaml
Due: none

channels/eus-4.16: Promote 4.16.48
  channels/eus-4.16.yaml
Due: none

channels/stable-4.16: Promote 4.16.48
  channels/stable-4.16.yaml
Due: none

internal-channels/fast: Promote 4.14.57
  internal-channels/fast.yaml
Due: none

channels/fast-4.14: Promote 4.14.57
  channels/fast-4.14.yaml
Due: none

internal-channels/stable: Promote 4.13.60
  internal-channels/stable.yaml
Due: none

channels/fast-4.14: Promote 4.13.60
  channels/fast-4.14.yaml
Due: none

channels/fast-4.14: Promote 4.12.79
  channels/fast-4.14.yaml
Due: none

channels/fast-4.14: Promote 4.12.80
  channels/fast-4.14.yaml
Due: none

internal-channels/fast: Promote 4.15.58
  internal-channels/fast.yaml
Due: none

channels/fast-4.15: Promote 4.15.58
  channels/fast-4.15.yaml
Due: none

channels/fast-4.15: Promote 4.14.56
  channels/fast-4.15.yaml
Due: none

blocked-edges/4.19.13-HyperShiftProxyScheme: Fixed in 4.19.14
  blocked-edges/4.19.13-HyperShiftProxyScheme.yaml
Due: validate-blocked-edges

blocked-edges/4.18.24-HyperShiftProxyScheme: Fixed in 4.18.25
  blocked-edges/4.18.24-HyperShiftProxyScheme.yaml
Due: validate-blocked-edges

Enable 4.18.25 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.18: Promote 4.18.25
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.25
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.25
  channels/candidate-4.20.yaml
Due: none

Enable 4.16.49 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.19.14 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.16: Promote 4.16.49
  channels/candidate-4.16.yaml
Due: none

channels/candidate-4.17: Promote 4.16.49
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.16.49
  channels/candidate-4.18.yaml
Due: none

CORENET-6419: `NMStateServiceFailure`: Declare on 4.19.(8-13)
  blocked-edges/4.19.10-NMStateServiceFailure.yaml
  blocked-edges/4.19.11-NMStateServiceFailure.yaml
  blocked-edges/4.19.12-NMStateServiceFailure.yaml
  blocked-edges/4.19.13-NMStateServiceFailure.yaml
  blocked-edges/4.19.8-NMStateServiceFailure.yaml
  blocked-edges/4.19.9-NMStateServiceFailure.yaml
Due: validate-blocked-edges

CORENET-6419: `NMStateServiceFailure`: Declare fixed in 4.19.14
  blocked-edges/4.19.13-NMStateServiceFailure.yaml
Due: validate-blocked-edges

CORENET-6419: `NMStateServiceFailure`: Declare on 4.18.(22-24)
  blocked-edges/4.18.22-NMStateServiceFailure.yaml
  blocked-edges/4.18.23-NMStateServiceFailure.yaml
  blocked-edges/4.18.24-NMStateServiceFailure.yaml
Due: validate-blocked-edges

CORENET-6419: `NMStateServiceFailure`: Declare fixed in 4.18.25
  blocked-edges/4.18.24-NMStateServiceFailure.yaml
Due: validate-blocked-edges

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
