Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

ci/prow/e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-latest-cincinnati:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/stabilization-bot-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/validate-blocked-edges:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

channels/fast-4.21: Promote 4.21.5
  channels/fast-4.21.yaml
Due: none

MON-4270: Backfill for graph-data#7540
  blocked-edges/4.19.0-AlertmanagerV1NotSupported.yaml
  blocked-edges/4.19.1-AlertmanagerV1NotSupported.yaml
  blocked-edges/4.19.2-AlertmanagerV1NotSupported.yaml
  blocked-edges/4.19.3-AlertmanagerV1NotSupported.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

internal-channels/fast: Promote 4.18.35
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.20.16
  internal-channels/fast.yaml
Due: none

channels/fast-4.18: Promote 4.18.35
  channels/fast-4.18.yaml
Due: none

channels/fast-4.20: Promote 4.20.16
  channels/fast-4.20.yaml
Due: none

channels/fast-4.21: Promote 4.20.16
  channels/fast-4.21.yaml
Due: none

channels/fast-4.18: Promote 4.17.50
  channels/fast-4.18.yaml
Due: none

internal-channels/stable: Promote 4.17.50
  internal-channels/stable.yaml
Due: none

channels/stable-4.17: Promote 4.17.50
  channels/stable-4.17.yaml
Due: none

internal-channels/fast: Promote 4.12.86
  internal-channels/fast.yaml
Due: none

channels/fast-4.12: Promote 4.12.86
  channels/fast-4.12.yaml
Due: none

internal-channels/stable: Promote 4.13.64
  internal-channels/stable.yaml
Due: none

Enable 4.19.26 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

HyperShiftRedundantRouter is fixed in 4.19.26
  blocked-edges/4.19.25-HyperShiftRedundantRouter.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

Enable 4.16.58 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.16: Promote 4.16.58
  channels/candidate-4.16.yaml
Due: none

channels/candidate-4.17: Promote 4.16.58
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.16.58
  channels/candidate-4.18.yaml
Due: none

Enable 4.17.51 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.17: Promote 4.17.51
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.17.51
  channels/candidate-4.18.yaml
Due: none

internal-channels/stable: Promote 4.19.25
  internal-channels/stable.yaml
Due: none

channels/stable-4.19: Promote 4.19.25
  channels/stable-4.19.yaml
Due: none

channels/stable-4.19: Promote 4.18.34
  channels/stable-4.19.yaml
Due: none

Enable 4.15.62 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.15: Promote 4.15.62
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.15.62
  channels/candidate-4.16.yaml
Due: none

CORENET-6196: extend IPsecLargeClusterConnectivity to 4.19.26
  blocked-edges/4.19.26-IPsecLargeClusterConnectivity.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

channels/candidate-4.19: Promote 4.19.26
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.26
  channels/candidate-4.20.yaml
Due: none

*: Prepare for 5.0 development
  build-suggestions/5.0.yaml
  channels/candidate-5.0.yaml
Due: none

hack/release-open: Adjust for 5.22 to 5.0
  hack/release-open.sh
Due: none

Enable 4.21.6 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

OCPBUGS-78529: Block upgrade to 4.16.58
  blocked-edges/4.16.58-RuncShareProcessNamespace.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

channels/candidate-4.21: Promote 4.21.6
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.6
  channels/candidate-4.22.yaml
Due: none

fixup 4.16.58-DTK-4-16-58-KernelMismatch
  blocked-edges/4.16.58-DTK_4_16_58_KernelMismatch.yaml
  blocked-edges/4.16.58-RuncShareProcessNamespace.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

internal-channels/stable: Promote 4.21.5
  internal-channels/stable.yaml
Due: none

channels/stable-4.21: Promote 4.21.5
  channels/stable-4.21.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
