Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*

channels/fast-4.20: Promote 4.19.28
  channels/fast-4.20.yaml
Due: none

channels/fast-4.20: Promote 4.18.37
  channels/fast-4.20.yaml
Due: none

internal-channels/stable: Promote 4.21.10
  internal-channels/stable.yaml
Due: none

channels/stable-4.21: Promote 4.21.10
  channels/stable-4.21.yaml
Due: none

SUSTAINING-2028 - 4.14.64 is not being released
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

internal-channels/stable: Promote 4.13.65
  internal-channels/stable.yaml
Due: none

internal-channels/stable: Promote 4.19.28
  internal-channels/stable.yaml
Due: none

channels/stable-4.19: Promote 4.19.28
  channels/stable-4.19.yaml
Due: none

channels/stable-4.19: Promote 4.18.37
  channels/stable-4.19.yaml
Due: none

Enable 4.19.29 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

internal-channels/candidate: Tombstone 4.14.64
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

blocked-edges/4.19.29-IPsecLargeClusterConnectivity: Not fixed yet
  blocked-edges/4.19.29-IPsecLargeClusterConnectivity.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

blocked-edges/4.19.29-PrecisionTimeProtocolDPLLPins: Not fixed yet
  blocked-edges/4.19.29-PrecisionTimeProtocolDPLLPins.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

channels/candidate-4.19: Promote 4.19.29
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.29
  channels/candidate-4.20.yaml
Due: none

Enable 4.21.12 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

blocked-edges/4.21.12-PrecisionTimeProtocolDPLLPins: Not fixed in OCP
  blocked-edges/4.21.12-PrecisionTimeProtocolDPLLPins.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

channels/candidate-4.21: Promote 4.21.12
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.12
  channels/candidate-4.22.yaml
Due: none

Enable 4.16.60 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.16: Promote 4.16.60
  channels/candidate-4.16.yaml
Due: none

channels/candidate-4.17: Promote 4.16.60
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.16.60
  channels/candidate-4.18.yaml
Due: none

Enable 4.15.63 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.15: Promote 4.15.63
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.15.63
  channels/candidate-4.16.yaml
Due: none

Enable 4.22.0-rc.1 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.22: Promote 4.22.0-rc.1
  channels/candidate-4.22.yaml
Due: none

channels/candidate-5.0: Promote 4.22.0-rc.1
  channels/candidate-5.0.yaml
Due: none

internal-channels/fast: Promote 4.21.12
  internal-channels/fast.yaml
Due: none

channels/fast-4.21: Promote 4.21.12
  channels/fast-4.21.yaml
Due: none

internal-channels/stable: Promote 4.21.11
  internal-channels/stable.yaml
Due: none

channels/stable-4.21: Promote 4.21.11
  channels/stable-4.21.yaml
Due: none

Drop 4.15.63 tombstoned release from candidate channels
  channels/candidate-4.15.yaml
  channels/candidate-4.16.yaml
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

internal-channels/fast: Promote 4.19.29
  internal-channels/fast.yaml
Due: none

internal-channels/stable: Promote 4.18.38
  internal-channels/stable.yaml
Due: none

internal-channels/stable: Promote 4.20.19
  internal-channels/stable.yaml
Due: none

channels/eus-4.18: Promote 4.18.38
  channels/eus-4.18.yaml
Due: none

channels/eus-4.20: Promote 4.20.19
  channels/eus-4.20.yaml
Due: none

channels/fast-4.19: Promote 4.19.29
  channels/fast-4.19.yaml
Due: none
