Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*

Enable 4.12.85 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.12: Promote 4.12.85
  channels/candidate-4.12.yaml
Due: none

channels/candidate-4.13: Promote 4.12.85
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.12.85
  channels/candidate-4.14.yaml
Due: none

Enable 4.21.1 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.18.33 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.18: Promote 4.18.33
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.33
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.33
  channels/candidate-4.20.yaml
Due: none

internal-channels/stable: Promote 4.14.61
  internal-channels/stable.yaml
Due: none

channels/eus-4.14: Promote 4.14.61
  channels/eus-4.14.yaml
Due: none

channels/eus-4.14: Promote 4.13.63
  channels/eus-4.14.yaml
Due: none

channels/eus-4.14: Promote 4.12.84
  channels/eus-4.14.yaml
Due: none

blocked-edges/4.21.0-SigstoreSignatureMirroring: Fixed in 4.21.1
  blocked-edges/4.21.0-SigstoreSignatureMirroring.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

blocked-edges/4.21.1-ShortNameImageReferences: Extend to 4.21.1
  blocked-edges/4.21.1-ShortNameImageReferences.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

channels/candidate-4.21: Promote 4.21.1
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.1
  channels/candidate-4.22.yaml
Due: none

channels/eus-4.16: Promote 4.16.56
  channels/eus-4.16.yaml
Due: none

Enable 4.22.0-ec.2 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.22: Promote 4.22.0-ec.2
  channels/candidate-4.22.yaml
Due: none

Enable 4.20.14 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

internal-channels/fast: Promote 4.21.1
  internal-channels/fast.yaml
Due: none

channels/fast-4.21: Promote 4.21.1
  channels/fast-4.21.yaml
Due: none

blocked-edges/4.20.13-ARO420UDRWorkerNodesFail: Fixed in 4.20.14
  blocked-edges/4.20.13-ARO420UDRWorkerNodesFail.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

blocked-edges/4.20.14-HyperShiftRedundantRouter: Not fixed yet
  blocked-edges/4.20.14-HyperShiftRedundantRouter.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

channels/candidate-4.20: Promote 4.20.14
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.14
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.14
  channels/candidate-4.22.yaml
Due: none

internal-channels/fast: Promote 4.18.33
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.20.14
  internal-channels/fast.yaml
Due: none

channels/fast-4.18: Promote 4.18.33
  channels/fast-4.18.yaml
Due: none

channels/fast-4.20: Promote 4.20.14
  channels/fast-4.20.yaml
Due: none

channels/fast-4.21: Promote 4.20.14
  channels/fast-4.21.yaml
Due: none

internal-channels/stable: Promote 4.20.13
  internal-channels/stable.yaml
Due: none

channels/eus-4.20: Promote 4.20.13
  channels/eus-4.20.yaml
Due: none

channels/fast-4.18: Promote 4.17.48
  channels/fast-4.18.yaml
Due: none

channels/stable-4.20: Promote 4.20.13
  channels/stable-4.20.yaml
Due: none

channels/fast-4.18: Promote 4.16.56
  channels/fast-4.18.yaml
Due: none

internal-channels/stable: Promote 4.17.48
  internal-channels/stable.yaml
Due: none

channels/stable-4.17: Promote 4.17.48
  channels/stable-4.17.yaml
Due: none
