Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

channels/candidate-4.20: Promote 4.18.21
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.20: Promote 4.19.6
  channels/candidate-4.20.yaml
Due: none

OVNIPsecPausedMCPConnectivity: clean up blocked edges to 4.15.[1|4]
  blocked-edges/4.15.1-OVNIPsecPausedMCPConnectivity.yaml
  blocked-edges/4.15.4-OVNIPsecPausedMCPConnectivity.yaml
Due: validate-blocked-edges

VSphereStorageMountIssues: vSphere -> VSphere in promql
  blocked-edges/4.19.0-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.0-ec.0-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.0-rc.4-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.0-rc.5-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.1-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.2-VSphereStorageMountIssues.yaml
Due: validate-blocked-edges

EarlyAPICertRotation: : unify the message
  blocked-edges/4.15.0-rc.0-EarlyAPICertRotation.yaml
Due: validate-blocked-edges

PatchesOlderRelease: unify the message
  blocked-edges/4.11.36-PatchesOlderRelease.yaml
  blocked-edges/4.12.12-PatchesOlderRelease.yaml
Due: validate-blocked-edges

rename files: AWSOldBootImage -> AWSOldBootImages
  blocked-edges/4.12.0-rc.0-AWSOldBootImages.yaml
  blocked-edges/4.12.0-rc.1-AWSOldBootImages.yaml
  blocked-edges/4.12.0-rc.2-AWSOldBootImages.yaml
  blocked-edges/4.12.0-rc.3-AWSOldBootImages.yaml
  blocked-edges/4.12.0-rc.4-AWSOldBootImages.yaml
  blocked-edges/4.12.0-rc.5-AWSOldBootImages.yaml
  blocked-edges/4.12.0-rc.6-AWSOldBootImages.yaml
  blocked-edges/4.12.0-rc.7-AWSOldBootImages.yaml
Due: validate-blocked-edges

AWSOldBootImages: unify the message
  blocked-edges/4.12.0-rc.0-AWSOldBootImages.yaml
  blocked-edges/4.12.0-rc.1-AWSOldBootImages.yaml
  blocked-edges/4.12.0-rc.2-AWSOldBootImages.yaml
  blocked-edges/4.12.0-rc.3-AWSOldBootImages.yaml
  blocked-edges/4.12.0-rc.4-AWSOldBootImages.yaml
  blocked-edges/4.12.0-rc.5-AWSOldBootImages.yaml
  blocked-edges/4.12.0-rc.6-AWSOldBootImages.yaml
  blocked-edges/4.12.0-rc.7-AWSOldBootImages.yaml
Due: validate-blocked-edges

OVNNetworkPolicyLongName: unify the message
  blocked-edges/4.11.6-ovn-namespace.yaml
  blocked-edges/4.11.7-ovn-namespace.yaml
  blocked-edges/4.11.8-ovn-namespace.yaml
  blocked-edges/4.11.9-ovn-namespace.yaml
Due: validate-blocked-edges

AROBrokenDNSMasq: unify the message
  blocked-edges/4.14.2-AROBrokenDNSMasq.yaml
  blocked-edges/4.14.3-AROBrokenDNSMasq.yaml
Due: validate-blocked-edges

ARM64SecCompError524: unify the message
  blocked-edges/4.11.0-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.0-fc.0-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.0-fc.3-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.0-rc.0-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.0-rc.1-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.0-rc.2-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.0-rc.3-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.0-rc.4-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.0-rc.5-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.0-rc.6-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.0-rc.7-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.1-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.10-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.11-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.12-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.13-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.14-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.16-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.17-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.18-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.19-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.2-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.20-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.21-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.22-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.23-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.24-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.25-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.26-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.3-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.4-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.5-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.6-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.7-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.8-arm64-seccomp-error-524.yaml
  blocked-edges/4.11.9-arm64-seccomp-error-524.yaml
Due: validate-blocked-edges

StaleInsightsRunLevelLabel: unify the message
  blocked-edges/4.11.0-fc.0-stale-insights-run-level-label.yaml
  blocked-edges/4.11.0-fc.3-stale-insights-run-level-label.yaml
  blocked-edges/4.11.0-rc.0-stale-insights-run-level-label.yaml
  blocked-edges/4.11.0-rc.1-stale-insights-run-level-label.yaml
  blocked-edges/4.11.0-rc.2-stale-insights-run-level-label.yaml
  blocked-edges/4.11.0-rc.3-stale-insights-run-level-label.yaml
  blocked-edges/4.11.0-rc.4-stale-insights-run-level-label.yaml
  blocked-edges/4.11.0-rc.5-stale-insights-run-level-label.yaml
  blocked-edges/4.11.0-rc.6-stale-insights-run-level-label.yaml
  blocked-edges/4.11.0-rc.7-stale-insights-run-level-label.yaml
  blocked-edges/4.11.0-stale-insights-run-level-label.yaml
  blocked-edges/4.11.1-stale-insights-run-level-label.yaml
  blocked-edges/4.11.2-stale-insights-run-level-label.yaml
  blocked-edges/4.11.3-stale-insights-run-level-label.yaml
  blocked-edges/4.11.4-stale-insights-run-level-label.yaml
Due: validate-blocked-edges

StaleSELinuxPolicies: unify the message
  blocked-edges/4.11.0-fc.0-stale-selinux-policies.yaml
  blocked-edges/4.11.0-fc.3-stale-selinux-policies.yaml
  blocked-edges/4.11.0-rc.0-stale-selinux-policies.yaml
  blocked-edges/4.11.0-rc.1-stale-selinux-policies.yaml
  blocked-edges/4.11.0-rc.2-stale-selinux-policies.yaml
  blocked-edges/4.11.0-rc.3-stale-selinux-policies.yaml
  blocked-edges/4.11.0-rc.4-stale-selinux-policies.yaml
  blocked-edges/4.11.0-rc.5-stale-selinux-policies.yaml
  blocked-edges/4.11.0-rc.6-stale-selinux-policies.yaml
  blocked-edges/4.11.0-rc.7-stale-selinux-policies.yaml
  blocked-edges/4.11.0-stale-selinux-policies.yaml
  blocked-edges/4.11.1-stale-selinux-policies.yaml
  blocked-edges/4.11.2-stale-selinux-policies.yaml
  blocked-edges/4.11.3-stale-selinux-policies.yaml
Due: validate-blocked-edges

ReleaseDataWithHyphenPrefix: unify the message
  blocked-edges/4.10.14-release-data-with-hyphen-prefix.yaml
  blocked-edges/4.10.15-release-data-with-hyphen-prefix.yaml
  blocked-edges/4.10.16-release-data-with-hyphen-prefix.yaml
  blocked-edges/4.10.17-release-data-with-hyphen-prefix.yaml
  blocked-edges/4.10.18-release-data-with-hyphen-prefix.yaml
Due: validate-blocked-edges

MachineConfigServerCARotation: unify the message
  blocked-edges/4.18.0-rc.0-MachineConfigServerCARotation.yaml
  blocked-edges/4.18.0-rc.1-MachineConfigServerCARotation.yaml
  blocked-edges/4.18.0-rc.10-MachineConfigServerCARotation.yaml
  blocked-edges/4.18.0-rc.2-MachineConfigServerCARotation.yaml
  blocked-edges/4.18.0-rc.3-MachineConfigServerCARotation.yaml
  blocked-edges/4.18.0-rc.4-MachineConfigServerCARotation.yaml
  blocked-edges/4.18.0-rc.5-MachineConfigServerCARotation.yaml
  blocked-edges/4.18.0-rc.6-MachineConfigServerCARotation.yaml
  blocked-edges/4.18.0-rc.7-MachineConfigServerCARotation.yaml
  blocked-edges/4.18.0-rc.8-MachineConfigServerCARotation.yaml
  blocked-edges/4.18.0-rc.9-MachineConfigServerCARotation.yaml
Due: validate-blocked-edges

AROMissingInternalLBSAN: unify the message
  blocked-edges/4.19.3-AROMissingInternalLBSAN.yaml
  blocked-edges/4.19.6-AROMissingInternalLBSAN.yaml
Due: validate-blocked-edges

Enable 4.16.45 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

The risk name rules
  hack/validate-blocked-edges.py
Due: validate-blocked-edges

channels/candidate-4.16: Promote 4.16.45
  channels/candidate-4.16.yaml
Due: none

channels/candidate-4.17: Promote 4.16.45
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.16.45
  channels/candidate-4.18.yaml
Due: none

internal-channels/fast: Promote 4.19.6
  internal-channels/fast.yaml
Due: none

channels/fast-4.19: Promote 4.19.6
  channels/fast-4.19.yaml
Due: none

Enable 4.14.54 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

internal-channels/stable: Promote 4.19.5
  internal-channels/stable.yaml
Due: none

channels/candidate-4.14: Promote 4.14.54
  channels/candidate-4.14.yaml
Due: none

channels/candidate-4.15: Promote 4.14.54
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.14.54
  channels/candidate-4.16.yaml
Due: none

channels/stable-4.19: Promote 4.19.5
  channels/stable-4.19.yaml
Due: none

internal-channels/fast: Promote 4.16.45
  internal-channels/fast.yaml
Due: none

channels/fast-4.16: Promote 4.16.45
  channels/fast-4.16.yaml
Due: none

channels/fast-4.16: Promote 4.15.55
  channels/fast-4.16.yaml
Due: none

internal-channels/stable: Promote 4.17.36
  internal-channels/stable.yaml
Due: none

channels/stable-4.17: Promote 4.17.36
  channels/stable-4.17.yaml
Due: none

channels/stable-4.17: Promote 4.16.44
  channels/stable-4.17.yaml
Due: none

internal-channels/stable: Promote 4.15.55
  internal-channels/stable.yaml
Due: none

channels/stable-4.15: Promote 4.15.55
  channels/stable-4.15.yaml
Due: none

internal-channels/fast: Promote 4.18.21
  internal-channels/fast.yaml
Due: none

channels/fast-4.18: Promote 4.18.21
  channels/fast-4.18.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
