Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*

Enable 4.18.40 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.20.21 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.19.30 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.18: Promote 4.18.40
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.40
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.40
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.20: Promote 4.20.21
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.21
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.21
  channels/candidate-4.22.yaml
Due: none

Enable 4.21.14 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.21: Promote 4.21.14
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.14
  channels/candidate-4.22.yaml
Due: none

Update candidate.yaml
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

internal-channels/fast: Promote 4.18.39
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.20.20
  internal-channels/fast.yaml
Due: none

Enable 4.17.53 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/fast-4.18: Promote 4.18.39
  channels/fast-4.18.yaml
Due: none

channels/fast-4.20: Promote 4.20.20
  channels/fast-4.20.yaml
Due: none

channels/fast-4.21: Promote 4.20.20
  channels/fast-4.21.yaml
Due: none

internal-channels/stable: Promote 4.19.29
  internal-channels/stable.yaml
Due: none

channels/candidate-4.17: Promote 4.17.53
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.17.53
  channels/candidate-4.18.yaml
Due: none

channels/fast-4.20: Promote 4.19.29
  channels/fast-4.20.yaml
Due: none

channels/stable-4.19: Promote 4.19.29
  channels/stable-4.19.yaml
Due: none

internal-channels/fast: Promote 4.20.21
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.21.14
  internal-channels/fast.yaml
Due: none

channels/fast-4.20: Promote 4.18.38
  channels/fast-4.20.yaml
Due: none

channels/stable-4.19: Promote 4.18.38
  channels/stable-4.19.yaml
Due: none

channels/fast-4.20: Promote 4.20.21
  channels/fast-4.20.yaml
Due: none

channels/fast-4.21: Promote 4.21.14
  channels/fast-4.21.yaml
Due: none

internal-channels/fast: Promote 4.12.88
  internal-channels/fast.yaml
Due: none

Enable 4.16.61 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.16: Promote 4.16.61
  channels/candidate-4.16.yaml
Due: none

channels/candidate-4.17: Promote 4.16.61
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.16.61
  channels/candidate-4.18.yaml
Due: none

channels/fast-4.12: Promote 4.12.88
  channels/fast-4.12.yaml
Due: none

blocked-edges/4.19.29-IPsecLargeClusterConnectivity: Delete, and declare 4.19.29 as the fix
  blocked-edges/4.19.28-IPsecLargeClusterConnectivity.yaml
  blocked-edges/4.19.29-IPsecLargeClusterConnectivity.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

channels/candidate-4.19: Promote 4.19.30
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.30
  channels/candidate-4.20.yaml
Due: none
