Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*

channels/eus-4.18: Promote 4.16.65
  channels/eus-4.18.yaml
Due: none

internal-channels/fast: Promote 4.16.66
  internal-channels/fast.yaml
Due: none

channels/fast-4.16: Promote 4.16.66
  channels/fast-4.16.yaml
Due: none

internal-channels/stable: Promote 4.21.23
  internal-channels/stable.yaml
Due: none

channels/stable-4.21: Promote 4.21.23
  channels/stable-4.21.yaml
Due: none

channels/stable-4.21: Promote 4.20.28
  channels/stable-4.21.yaml
Due: none

Enable 4.19.39 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.19: Promote 4.19.39
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.39
  channels/candidate-4.20.yaml
Due: none

internal-channels/stable: Promote 4.22.4
  internal-channels/stable.yaml
Due: none

channels/eus-4.22: Promote 4.22.4
  channels/eus-4.22.yaml
Due: none

channels/stable-4.22: Promote 4.22.4
  channels/stable-4.22.yaml
Due: none

Enable 4.20.30 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.20: Promote 4.20.30
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.30
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.30
  channels/candidate-4.22.yaml
Due: none

Enable 4.18.49 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.21.25 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.18: Promote 4.18.49
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.49
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.49
  channels/candidate-4.20.yaml
Due: none

Enable 4.22.6 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

OCPBUGS-87805 is fixed in 4.22.6
  blocked-edges/4.22.5-S390xContainerDataFailure.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

channels/eus-4.18: Promote 4.16.63
  channels/eus-4.18.yaml
Due: none

channels/candidate-4.22: Promote 4.22.6
  channels/candidate-4.22.yaml
Due: none

channels/candidate-5.0: Promote 4.22.6
  channels/candidate-5.0.yaml
Due: none

internal-channels/fast: Promote 4.14.69
  internal-channels/fast.yaml
Due: none

channels/fast-4.14: Promote 4.14.69
  channels/fast-4.14.yaml
Due: none

channels/candidate-4.21: Promote 4.21.25
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.25
  channels/candidate-4.22.yaml
Due: none

internal-channels/fast: Promote 4.20.30
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.21.25
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.22.6
  internal-channels/fast.yaml
Due: none

internal-channels/stable: Promote 4.21.24
  internal-channels/stable.yaml
Due: none

internal-channels/stable: Promote 4.22.5
  internal-channels/stable.yaml
Due: none

blocked-edges: Add AutoSizingDisabledMachineConfigOverride risk for 4.21.0-25
  blocked-edges/4.21.0-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.1-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.10-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.11-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.12-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.13-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.14-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.15-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.16-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.17-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.18-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.19-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.2-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.20-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.21-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.22-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.23-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.24-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.25-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.3-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.4-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.5-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.6-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.7-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.8-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.9-AutoSizingDisabledMachineConfigOverride.yaml
  channels/eus-4.18.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

Set minimum version of 4.20 required to upgrade to 4.21
  build-suggestions/4.21.yaml
Due: none

blocked-edges: Add AutoSizingDisabledMachineConfigOverride risk for 4.21.0-25
  blocked-edges/4.21.0-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.1-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.10-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.11-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.12-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.13-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.14-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.15-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.16-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.17-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.18-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.19-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.2-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.20-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.21-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.22-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.23-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.24-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.25-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.3-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.4-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.5-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.6-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.7-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.8-AutoSizingDisabledMachineConfigOverride.yaml
  blocked-edges/4.21.9-AutoSizingDisabledMachineConfigOverride.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

internal-channels/stable: Promote 4.20.29
  internal-channels/stable.yaml
Due: none

channels/eus-4.20: Promote 4.20.29
  channels/eus-4.20.yaml
Due: none
