Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*

channels/fast-4.15: Promote 4.14.59
  channels/fast-4.15.yaml
Due: none

channels/fast-4.20: Promote 4.20.10
  channels/fast-4.20.yaml
Due: none

channels/fast-4.15: Promote 4.14.60
  channels/fast-4.15.yaml
Due: none

internal-channels/fast: Promote 4.18.31
  internal-channels/fast.yaml
Due: none

Enable 4.21.0-rc.2 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/fast-4.18: Promote 4.18.31
  channels/fast-4.18.yaml
Due: none

channels/candidate-4.21: Promote 4.21.0-rc.2
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.0-rc.2
  channels/candidate-4.22.yaml
Due: none

channels/fast-4.18: Promote 4.17.46
  channels/fast-4.18.yaml
Due: none

channels/fast-4.18: Promote 4.16.54
  channels/fast-4.18.yaml
Due: none

internal-channels/fast: Promote 4.12.84
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.16.55
  internal-channels/fast.yaml
Due: none

channels/fast-4.12: Promote 4.12.84
  channels/fast-4.12.yaml
Due: none

channels/fast-4.16: Promote 4.16.55
  channels/fast-4.16.yaml
Due: none

channels/fast-4.16: Promote 4.15.60
  channels/fast-4.16.yaml
Due: none

Enable 4.13.63 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/fast-4.16: Promote 4.14.59
  channels/fast-4.16.yaml
Due: none

channels/candidate-4.13: Promote 4.13.63
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.13.63
  channels/candidate-4.14.yaml
Due: none

channels/fast-4.16: Promote 4.14.60
  channels/fast-4.16.yaml
Due: none

Enable 4.17.47 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.17: Promote 4.17.47
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.17.47
  channels/candidate-4.18.yaml
Due: none

Enable 4.19.22 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.20.11 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

build_suggestions: bump 4.21 minimum upgrade version to 4.20.12
  build-suggestions/4.21.yaml
Due: none

blocked-edges/4.19.22-HyperShiftRedundantRouter: Not fixed yet
  blocked-edges/4.19.22-HyperShiftRedundantRouter.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

blocked-edges/4.19.22-IPsecLargeClusterConnectivity: Not fixed yet
  blocked-edges/4.19.22-IPsecLargeClusterConnectivity.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

channels/candidate-4.19: Promote 4.19.22
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.22
  channels/candidate-4.20.yaml
Due: none

Enable 4.22.0-ec.1 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.22: Promote 4.22.0-ec.1
  channels/candidate-4.22.yaml
Due: none

NO-ISSUE: build-suggestions/4.20: Raise minor_min to 4.19.22
  build-suggestions/4.20.yaml
Due: none

blocked-edges/4.20.11-HyperShiftRedundantRouter: Not fixed yet
  blocked-edges/4.20.11-HyperShiftRedundantRouter.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

blocked-edges/4.20.11-ARO420UDRWorkerNodesFail: Not fixed yet
  blocked-edges/4.20.11-ARO420UDRWorkerNodesFail.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

channels/candidate-4.20: Promote 4.20.11
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.11
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.11
  channels/candidate-4.22.yaml
Due: none

Add version 4.17.46 to stable-4.18.yaml
  channels/stable-4.18.yaml
Due: none

internal-channels/stable: Promote 4.20.10
  internal-channels/stable.yaml
Due: none
