Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

internal-channels/stable: Promote 4.17.32
  internal-channels/stable.yaml
Due: none

channels/eus-4.18: Promote 4.17.32
  channels/eus-4.18.yaml
Due: none

channels/stable-4.17: Promote 4.17.32
  channels/stable-4.17.yaml
Due: none

channels/stable-4.18: Promote 4.17.32
  channels/stable-4.18.yaml
Due: none

internal-channels/fast: Promote 4.17.33
  internal-channels/fast.yaml
Due: none

internal-channels/stable: Promote 4.15.52
  internal-channels/stable.yaml
Due: none

channels/fast-4.17: Promote 4.17.33
  channels/fast-4.17.yaml
Due: none

channels/stable-4.15: Promote 4.15.52
  channels/stable-4.15.yaml
Due: none

internal-channels/stable: Promote 4.12.77
  internal-channels/stable.yaml
Due: none

channels/eus-4.12: Promote 4.12.77
  channels/eus-4.12.yaml
Due: none

internal-channels/fast: Promote 4.16.42
  internal-channels/fast.yaml
Due: none

channels/fast-4.16: Promote 4.16.42
  channels/fast-4.16.yaml
Due: none

channels/fast-4.17: Promote 4.16.42
  channels/fast-4.17.yaml
Due: none

channels/fast-4.16: Promote 4.15.52
  channels/fast-4.16.yaml
Due: none

CORENET-6114: Set up OVNEgressIPFailure to block paths to 4.18
  blocked-edges/4.18.1-OVNEgressIPFailure.yaml
  blocked-edges/4.18.10-OVNEgressIPFailure.yaml
  blocked-edges/4.18.11-OVNEgressIPFailure.yaml
  blocked-edges/4.18.12-OVNEgressIPFailure.yaml
  blocked-edges/4.18.13-OVNEgressIPFailure.yaml
  blocked-edges/4.18.14-OVNEgressIPFailure.yaml
  blocked-edges/4.18.15-OVNEgressIPFailure.yaml
  blocked-edges/4.18.16-OVNEgressIPFailure.yaml
  blocked-edges/4.18.17-OVNEgressIPFailure.yaml
  blocked-edges/4.18.2-OVNEgressIPFailure.yaml
  blocked-edges/4.18.3-OVNEgressIPFailure.yaml
  blocked-edges/4.18.4-OVNEgressIPFailure.yaml
  blocked-edges/4.18.5-OVNEgressIPFailure.yaml
  blocked-edges/4.18.6-OVNEgressIPFailure.yaml
  blocked-edges/4.18.7-OVNEgressIPFailure.yaml
  blocked-edges/4.18.8-OVNEgressIPFailure.yaml
  blocked-edges/4.18.9-OVNEgressIPFailure.yaml
Due: validate-blocked-edges

Enable 4.19.0 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.19: Promote 4.19.0
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.0
  channels/candidate-4.20.yaml
Due: none

internal-channels/stable: Promote 4.18.17
  internal-channels/stable.yaml
Due: none

channels/eus-4.18: Promote 4.18.17
  channels/eus-4.18.yaml
Due: none

channels/stable-4.18: Promote 4.18.17
  channels/stable-4.18.yaml
Due: none

internal-channels/fast: Promote 4.19.0
  internal-channels/fast.yaml
Due: none

NO-JIRA: Release GA 4.19
  blocked-edges/4.19.0-ec.0-PreRelease.yaml
  blocked-edges/4.19.0-ec.1-PreRelease.yaml
  blocked-edges/4.19.0-ec.2-PreRelease.yaml
  blocked-edges/4.19.0-ec.3-PreRelease.yaml
  blocked-edges/4.19.0-ec.4-PreRelease.yaml
  blocked-edges/4.19.0-ec.5-PreRelease.yaml
  blocked-edges/4.19.0-rc.0-PreRelease.yaml
  blocked-edges/4.19.0-rc.1-PreRelease.yaml
  blocked-edges/4.19.0-rc.2-PreRelease.yaml
  blocked-edges/4.19.0-rc.3-PreRelease.yaml
  blocked-edges/4.19.0-rc.4-PreRelease.yaml
  blocked-edges/4.19.0-rc.5-PreRelease.yaml
  build-suggestions/4.19.yaml
  build-suggestions/4.20.yaml
  channels/fast-4.19.yaml
  channels/stable-4.19.yaml
  internal-channels/stable.yaml
Due: validate-blocked-edges

Make hack/release-ga.sh mac-friendly
  hack/release-ga.sh
Due: none

Make exposure-length.sh mac-friendly
  hack/exposure-length.sh
Due: none

internal-channels/stable: Promote 4.17.33
  internal-channels/stable.yaml
Due: none

channels/stable-4.17: Promote 4.17.33
  channels/stable-4.17.yaml
Due: none

COS-3357: Set up OldBootImagesComposeFSvsOSProber to block paths to 4.19
  blocked-edges/4.19.0-OldBootImagesComposeFSvsOSProber.yaml
Due: validate-blocked-edges

COS-3357: Rename the issue to OldBootImagesComposeFSvsGrubProbe
  blocked-edges/4.19.0-OldBootImagesComposeFSvsGrubProbe.yaml
Due: validate-blocked-edges

Enable 4.17.34 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.17: Promote 4.17.34
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.17.34
  channels/candidate-4.18.yaml
Due: none

Enable 4.18.18 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.19.1 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

internal-channels/stable: Promote 4.16.42
  internal-channels/stable.yaml
Due: none

channels/eus-4.16: Promote 4.16.42
  channels/eus-4.16.yaml
Due: none

channels/stable-4.16: Promote 4.16.42
  channels/stable-4.16.yaml
Due: none

channels/stable-4.17: Promote 4.16.42
  channels/stable-4.17.yaml
Due: none

Enable 4.15.53 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
