Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*

channels/stable-4.21: Promote 4.21.17
  channels/stable-4.21.yaml
Due: none

internal-channels/fast: Promote 4.20.24
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.18.43
  internal-channels/fast.yaml
Due: none

channels/fast-4.20: Promote 4.20.24
  channels/fast-4.20.yaml
Due: none

channels/fast-4.21: Promote 4.20.24
  channels/fast-4.21.yaml
Due: none

channels/fast-4.18: Promote 4.18.43
  channels/fast-4.18.yaml
Due: none

channels/fast-4.20: Promote 4.19.32
  channels/fast-4.20.yaml
Due: none

channels/fast-4.20: Promote 4.18.42
  channels/fast-4.20.yaml
Due: none

internal-channels/stable: Promote 4.19.32
  internal-channels/stable.yaml
Due: none

channels/stable-4.19: Promote 4.19.32
  channels/stable-4.19.yaml
Due: none

channels/stable-4.19: Promote 4.18.42
  channels/stable-4.19.yaml
Due: none

internal-channels/fast: Promote 4.12.91
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.13.67
  internal-channels/fast.yaml
Due: none

channels/fast-4.12: Promote 4.12.91
  channels/fast-4.12.yaml
Due: none

channels/fast-4.13: Promote 4.13.67
  channels/fast-4.13.yaml
Due: none

channels/fast-4.13: Promote 4.12.88
  channels/fast-4.13.yaml
Due: none

channels/fast-4.13: Promote 4.12.89
  channels/fast-4.13.yaml
Due: none

channels/fast-4.13: Promote 4.12.90
  channels/fast-4.13.yaml
Due: none

Resolve merge conflict with 4.12.88
  channels/fast-4.13.yaml
Due: none

Enable 4.19.33 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Manually promote 4.12.90 in fast-4.13
  channels/fast-4.13.yaml
Due: none

channels/candidate-4.19: Promote 4.19.33
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.33
  channels/candidate-4.20.yaml
Due: none

Enable 4.22.0 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.15.65 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

internal-channels/stable: Promote 4.16.63
  internal-channels/stable.yaml
Due: none

channels/eus-4.16: Promote 4.16.63
  channels/eus-4.16.yaml
Due: none

graph-data/check_errata_link: Accept RHEA advisory type as well
  graph-data.rs/src/check_errata_link.rs
Due: e2e, ci/prow/e2e

channels/candidate-4.22: Promote 4.22.0
  channels/candidate-4.22.yaml
Due: none

channels/candidate-5.0: Promote 4.22.0
  channels/candidate-5.0.yaml
Due: none

channels/candidate-4.15: Promote 4.15.65
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.15.65
  channels/candidate-4.16.yaml
Due: none

internal-channels/candidate: Add a trailing newline
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

internal-channels/candidate: Remove some blank lines
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.21.19 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.21: Promote 4.21.19
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.19
  channels/candidate-4.22.yaml
Due: none

internal-channels/stable: Promote 4.21.18
  internal-channels/stable.yaml
Due: none

channels/stable-4.21: Promote 4.21.18
  channels/stable-4.21.yaml
Due: none

hack/stabilization-changes: Add RHEA support
  hack/stabilization-changes.py
Due: stabilization-bot-tests, ci/prow/stabilization-bot-tests
