Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

CORENET-6419: `NMStateServiceFailure`: Declare on 4.17.(38-40)
  blocked-edges/4.17.38-NMStateServiceFailure.yaml
  blocked-edges/4.17.39-NMStateServiceFailure.yaml
  blocked-edges/4.17.40-NMStateServiceFailure.yaml
Due: validate-blocked-edges

CORENET-6419: `NMStateServiceFailure`: Declare on 4.16.(46-49)
  blocked-edges/4.16.46-NMStateServiceFailure.yaml
  blocked-edges/4.16.47-NMStateServiceFailure.yaml
  blocked-edges/4.16.48-NMStateServiceFailure.yaml
  blocked-edges/4.16.49-NMStateServiceFailure.yaml
Due: validate-blocked-edges

CONSOLE-4762: `ConsoleCrashOnMissingPlugin`: Declare on 4.19.(7-13)
  blocked-edges/4.19.10-ConsoleCrashOnMissingPlugin.yaml
  blocked-edges/4.19.11-ConsoleCrashOnMissingPlugin.yaml
  blocked-edges/4.19.12-ConsoleCrashOnMissingPlugin.yaml
  blocked-edges/4.19.13-ConsoleCrashOnMissingPlugin.yaml
  blocked-edges/4.19.7-ConsoleCrashOnMissingPlugin.yaml
  blocked-edges/4.19.8-ConsoleCrashOnMissingPlugin.yaml
  blocked-edges/4.19.9-ConsoleCrashOnMissingPlugin.yaml
Due: validate-blocked-edges

blocked-edges/4.19.14-IPsecLargeClusterConnectivity: Not fixed yet
  blocked-edges/4.19.14-IPsecLargeClusterConnectivity.yaml
Due: validate-blocked-edges

channels/candidate-4.19: Promote 4.19.14
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.14
  channels/candidate-4.20.yaml
Due: none

Enable 4.20.0-rc.3 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.20: Promote 4.20.0-rc.3
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.0-rc.3
  channels/candidate-4.21.yaml
Due: none

internal-channels/stable: Promote 4.19.13
  internal-channels/stable.yaml
Due: none

channels/stable-4.19: Promote 4.19.13
  channels/stable-4.19.yaml
Due: none

internal-channels/fast: Promote 4.19.14
  internal-channels/fast.yaml
Due: none

channels/fast-4.19: Promote 4.19.14
  channels/fast-4.19.yaml
Due: none

internal-channels/stable: Promote 4.17.40
  internal-channels/stable.yaml
Due: none

channels/stable-4.17: Promote 4.17.40
  channels/stable-4.17.yaml
Due: none

channels/stable-4.17: Promote 4.16.48
  channels/stable-4.17.yaml
Due: none

NO-JIRA: Move myself to emeritus
  OWNERS
  OWNERS_ALIASES
Due: none

internal-channels/fast: Promote 4.16.49
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.18.25
  internal-channels/fast.yaml
Due: none

channels/fast-4.16: Promote 4.16.49
  channels/fast-4.16.yaml
Due: none

channels/fast-4.18: Promote 4.18.25
  channels/fast-4.18.yaml
Due: none

channels/fast-4.19: Promote 4.18.25
  channels/fast-4.19.yaml
Due: none

channels/fast-4.16: Promote 4.15.58
  channels/fast-4.16.yaml
Due: none

blocked-edges/4.19.*-MCNCleanupPodStuckInPendingState: Declare risk
  blocked-edges/4.19.12-MCNCleanupPodStuckInPendingState.yaml
  blocked-edges/4.19.13-MCNCleanupPodStuckInPendingState.yaml
Due: validate-blocked-edges

blocked-edges/4.19.13-MCNCleanupPodStuckInPendingState: Declare fixed in 4.19.14
  blocked-edges/4.19.13-MCNCleanupPodStuckInPendingState.yaml
Due: validate-blocked-edges

channels/fast-4.18: Promote 4.17.40
  channels/fast-4.18.yaml
Due: none

blocked-edges/4.19.1[23]-MachineConfigNodesV1AlphaControlPlaneLabels: Declare new risk
  blocked-edges/4.19.12-MachineConfigNodesV1AlphaControlPlaneLabels.yaml
  blocked-edges/4.19.13-MachineConfigNodesV1AlphaControlPlaneLabels.yaml
Due: validate-blocked-edges

channels/fast-4.16: Promote 4.14.56
  channels/fast-4.16.yaml
Due: none

channels/fast-4.18: Promote 4.16.48
  channels/fast-4.18.yaml
Due: none

internal-channels/stable: Promote 4.14.57
  internal-channels/stable.yaml
Due: none

channels/eus-4.14: Promote 4.14.57
  channels/eus-4.14.yaml
Due: none

channels/eus-4.14: Promote 4.13.60
  channels/eus-4.14.yaml
Due: none

channels/eus-4.14: Promote 4.12.79
  channels/eus-4.14.yaml
Due: none

channels/eus-4.14: Promote 4.12.80
  channels/eus-4.14.yaml
Due: none

internal-channels/stable: Promote 4.15.58
  internal-channels/stable.yaml
Due: none

channels/stable-4.15: Promote 4.15.58
  channels/stable-4.15.yaml
Due: none

Remove jewzaam from OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

Enable 4.17.41 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.19.15 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
