Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

ci/prow/e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-latest-cincinnati:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/stabilization-bot-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/validate-blocked-edges:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

channels/candidate-4.16: Promote 4.14.75
  channels/candidate-4.16.yaml
Due: none

internal-channels/stable: Promote 4.14.74
  internal-channels/stable.yaml
Due: none

internal-channels/stable: Promote 4.16.71
  internal-channels/stable.yaml
Due: none

channels/eus-4.14: Promote 4.14.74
  channels/eus-4.14.yaml
Due: none

channels/eus-4.16: Promote 4.16.71
  channels/eus-4.16.yaml
Due: none

internal-channels/fast: Promote 4.17.58
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.18.56
  internal-channels/fast.yaml
Due: none

channels/eus-4.14: Promote 4.13.71
  channels/eus-4.14.yaml
Due: none

channels/fast-4.17: Promote 4.17.58
  channels/fast-4.17.yaml
Due: none

channels/fast-4.18: Promote 4.18.56
  channels/fast-4.18.yaml
Due: none

blocked-edges: Declare MultiArchPayloadOSTreeSignature
  blocked-edges/4.22.0-MultiArchPayloadOSTreeSignature.yaml
  blocked-edges/4.22.1-MultiArchPayloadOSTreeSignature.yaml
  blocked-edges/4.22.10-MultiArchPayloadOSTreeSignature.yaml
  blocked-edges/4.22.11-MultiArchPayloadOSTreeSignature.yaml
  blocked-edges/4.22.12-MultiArchPayloadOSTreeSignature.yaml
  blocked-edges/4.22.13-MultiArchPayloadOSTreeSignature.yaml
  blocked-edges/4.22.14-MultiArchPayloadOSTreeSignature.yaml
  blocked-edges/4.22.2-MultiArchPayloadOSTreeSignature.yaml
  blocked-edges/4.22.3-MultiArchPayloadOSTreeSignature.yaml
  blocked-edges/4.22.4-MultiArchPayloadOSTreeSignature.yaml
  blocked-edges/4.22.5-MultiArchPayloadOSTreeSignature.yaml
  blocked-edges/4.22.6-MultiArchPayloadOSTreeSignature.yaml
  blocked-edges/4.22.7-MultiArchPayloadOSTreeSignature.yaml
  blocked-edges/4.22.8-MultiArchPayloadOSTreeSignature.yaml
  blocked-edges/4.22.9-MultiArchPayloadOSTreeSignature.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

channels/eus-4.14: Promote 4.12.97
  channels/eus-4.14.yaml
Due: none

channels/eus-4.14: Promote 4.12.98
  channels/eus-4.14.yaml
Due: none

internal-channels/fast: Promote 4.12.99
  internal-channels/fast.yaml
Due: none

channels/fast-4.18: Promote 4.17.58
  channels/fast-4.18.yaml
Due: none

channels/fast-4.17: Promote 4.16.70
  channels/fast-4.17.yaml
Due: none

channels/fast-4.17: Promote 4.16.71
  channels/fast-4.17.yaml
Due: none

channels/fast-4.12: Promote 4.12.99
  channels/fast-4.12.yaml
Due: none

channels/fast-4.18: Promote 4.16.70
  channels/fast-4.18.yaml
Due: none

channels/fast-4.18: Promote 4.16.71
  channels/fast-4.18.yaml
Due: none

channels: promote releases to fast and EUS
  channels/eus-4.14.yaml
  channels/fast-4.17.yaml
  channels/fast-4.18.yaml
Due: none

blocked-edges: Scope MultiArchPayloadMissingOpenVSwitch to standalone
  blocked-edges/4.22.15-MultiArchPayloadMissingOpenVSwitch.yaml
  blocked-edges/4.22.16-MultiArchPayloadMissingOpenVSwitch.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

Enable 5.0.0-rc.5 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.16.72 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

internal-channels/stable: Promote 4.15.69
  internal-channels/stable.yaml
Due: none

channels/candidate-5.0: Promote 5.0.0-rc.5
  channels/candidate-5.0.yaml
Due: none

channels/candidate-5.1: Promote 5.0.0-rc.5
  channels/candidate-5.1.yaml
Due: none

channels/eus-4.16: Promote 4.15.69
  channels/eus-4.16.yaml
Due: none

channels/eus-4.16: Promote 4.14.73
  channels/eus-4.16.yaml
Due: none

channels/eus-4.16: Promote 4.14.74
  channels/eus-4.16.yaml
Due: none

Enable 4.20.41 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.19.50 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.20: Promote 4.20.41
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.41
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.41
  channels/candidate-4.22.yaml
Due: none

Enable 4.21.36 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.21: Promote 4.21.36
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.36
  channels/candidate-4.22.yaml
Due: none

Enable 4.22.17 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

blocked-edges: Extend Open vSwitch risk to 4.22.17
  blocked-edges/4.22.17-MultiArchPayloadMissingOpenVSwitch.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
