Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

ci/prow/e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-latest-cincinnati:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/stabilization-bot-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/validate-blocked-edges:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

internal-channels/fast: Promote 4.19.30
  internal-channels/fast.yaml
Due: none

channels/fast-4.19: Promote 4.19.30
  channels/fast-4.19.yaml
Due: none

channels/fast-4.20: Promote 4.19.30
  channels/fast-4.20.yaml
Due: none

internal-channels/fast: Promote 4.18.40
  internal-channels/fast.yaml
Due: none

channels/fast-4.18: Promote 4.18.40
  channels/fast-4.18.yaml
Due: none

Enable 4.13.66 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.13: Promote 4.13.66
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.13.66
  channels/candidate-4.14.yaml
Due: none

Enable 4.12.89 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.12: Promote 4.12.89
  channels/candidate-4.12.yaml
Due: none

channels/candidate-4.13: Promote 4.12.89
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.12.89
  channels/candidate-4.14.yaml
Due: none

internal-channels/stable: Promote 4.16.60
  internal-channels/stable.yaml
Due: none

channels/eus-4.16: Promote 4.16.60
  channels/eus-4.16.yaml
Due: none

Promote 4.16.61, 4.18.39-40, 4.19.30, 4.20.20-21, 4.21.13-14 to stable
  channels/eus-4.16.yaml
  channels/eus-4.18.yaml
  channels/eus-4.20.yaml
  channels/fast-4.16.yaml
  channels/stable-4.18.yaml
  channels/stable-4.19.yaml
  channels/stable-4.20.yaml
  channels/stable-4.21.yaml
  internal-channels/fast.yaml
  internal-channels/stable.yaml
Due: none

CVE-2026-31431 round2
  channels/eus-4.20.yaml
  channels/stable-4.20.yaml
  channels/stable-4.21.yaml
Due: none

Enable 4.22.0-rc.3 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.22: Promote 4.22.0-rc.3
  channels/candidate-4.22.yaml
Due: none

channels/candidate-5.0: Promote 4.22.0-rc.3
  channels/candidate-5.0.yaml
Due: none

internal-channels/fast: Promote 4.13.66
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.17.53
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.12.89
  internal-channels/fast.yaml
Due: none

channels/fast-4.13: Promote 4.13.66
  channels/fast-4.13.yaml
Due: none

channels/fast-4.17: Promote 4.17.53
  channels/fast-4.17.yaml
Due: none

channels/fast-4.18: Promote 4.17.53
  channels/fast-4.18.yaml
Due: none

channels/fast-4.12: Promote 4.12.89
  channels/fast-4.12.yaml
Due: none

Enable 4.14.65 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.15.64 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.14: Promote 4.14.65
  channels/candidate-4.14.yaml
Due: none

channels/candidate-4.15: Promote 4.14.65
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.14.65
  channels/candidate-4.16.yaml
Due: none

channels/candidate-4.15: Promote 4.15.64
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.15.64
  channels/candidate-4.16.yaml
Due: none

Enable 4.18.41 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.18: Promote 4.18.41
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.41
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.41
  channels/candidate-4.20.yaml
Due: none

OCPBUGS-85381: MultusUpgradeBlocked due to deadlock upgrading from 4.13
  blocked-edges/4.14.65-MultusUpgradeBlocked.yaml
  blocked-edges/4.14.66-MultusUpgradeBlocked.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

Enable 4.19.31 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.19: Promote 4.19.31
  channels/candidate-4.19.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
