Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

ci/prow/e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-latest-cincinnati:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/stabilization-bot-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/validate-blocked-edges:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

channels/fast-4.19: Promote 4.18.56
  channels/fast-4.19.yaml
Due: none

channels/stable-4.19: Promote 4.19.49
  channels/stable-4.19.yaml
Due: none

Add OperatorControllerEphemeralDiskFill risk for 4.19.z
  blocked-edges/4.19.0-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.1-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.10-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.11-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.12-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.13-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.14-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.15-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.16-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.17-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.18-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.19-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.2-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.20-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.21-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.22-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.23-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.24-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.25-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.26-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.27-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.28-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.3-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.4-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.5-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.6-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.7-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.8-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.19.9-OperatorControllerEphemeralDiskFill.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

Add OperatorControllerEphemeralDiskFill risk for 4.20.z
  blocked-edges/4.20.0-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.1-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.10-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.11-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.12-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.13-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.14-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.15-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.18-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.19-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.2-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.23-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.24-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.29-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.3-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.30-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.31-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.4-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.5-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.6-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.8-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.20.9-OperatorControllerEphemeralDiskFill.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

Add OperatorControllerEphemeralDiskFill risk for 4.21.z
  blocked-edges/4.21.0-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.21.1-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.21.10-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.21.11-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.21.2-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.21.24-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.21.25-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.21.26-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.21.3-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.21.4-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.21.5-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.21.6-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.21.7-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.21.8-OperatorControllerEphemeralDiskFill.yaml
  blocked-edges/4.21.9-OperatorControllerEphemeralDiskFill.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

Add conditional update risk for CgroupV1ForcedMigration (OCPBUGS-122250)
  blocked-edges/4.18.54-CgroupV1ForcedMigration.yaml
  blocked-edges/4.18.55-CgroupV1ForcedMigration.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

Enable 4.13.72 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.13: Promote 4.13.72
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.13.72
  channels/candidate-4.14.yaml
Due: none

Enable 4.12.100 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.12: Promote 4.12.100
  channels/candidate-4.12.yaml
Due: none

channels/candidate-4.13: Promote 4.12.100
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.12.100
  channels/candidate-4.14.yaml
Due: none

internal-channels/fast: Promote 4.14.75
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.16.72
  internal-channels/fast.yaml
Due: none

channels/fast-4.14: Promote 4.14.75
  channels/fast-4.14.yaml
Due: none

channels/fast-4.16: Promote 4.16.72
  channels/fast-4.16.yaml
Due: none

internal-channels/stable: Promote 4.17.58
  internal-channels/stable.yaml
Due: none

internal-channels/stable: Promote 4.18.56
  internal-channels/stable.yaml
Due: none

channels/eus-4.18: Promote 4.18.56
  channels/eus-4.18.yaml
Due: none

channels/stable-4.17: Promote 4.17.58
  channels/stable-4.17.yaml
Due: none

channels/stable-4.18: Promote 4.18.56
  channels/stable-4.18.yaml
Due: none

channels/eus-4.18: Promote 4.17.58
  channels/eus-4.18.yaml
Due: none

internal-channels/stable: Promote 4.12.99
  internal-channels/stable.yaml
Due: none

channels/stable-4.18: Promote 4.17.58
  channels/stable-4.18.yaml
Due: none

channels/eus-4.12: Promote 4.12.99
  channels/eus-4.12.yaml
Due: none

channels/eus-4.18: Promote 4.16.70
  channels/eus-4.18.yaml
Due: none

channels/eus-4.18: Promote 4.16.71
  channels/eus-4.18.yaml
Due: none

Enable 4.22.18 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.20.42 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.19.51 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

blocked-edges/4.22.17-MultiArchPayloadMissingOpenVSwitch: Fixed in 4.22.18
  blocked-edges/4.22.17-MultiArchPayloadMissingOpenVSwitch.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

Enable 4.18.57 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.16.73 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.17.59 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.21.37 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.20: Promote 4.20.42
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.42
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.42
  channels/candidate-4.22.yaml
Due: none

channels/candidate-4.22: Promote 4.22.18
  channels/candidate-4.22.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
