Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

internal-channels/stable: Promote 4.16.47
  internal-channels/stable.yaml
Due: none

channels/eus-4.16: Promote 4.16.47
  channels/eus-4.16.yaml
Due: none

internal-channels/stable: Promote 4.14.56
  internal-channels/stable.yaml
Due: none

channels/stable-4.16: Promote 4.16.47
  channels/stable-4.16.yaml
Due: none

internal-channels/stable: Promote 4.18.23
  internal-channels/stable.yaml
Due: none

channels/eus-4.18: Promote 4.18.23
  channels/eus-4.18.yaml
Due: none

channels/stable-4.18: Promote 4.18.23
  channels/stable-4.18.yaml
Due: none

channels/stable-4.19: Promote 4.18.23
  channels/stable-4.19.yaml
Due: none

channels/eus-4.14: Promote 4.14.56
  channels/eus-4.14.yaml
Due: none

channels/eus-4.16: Promote 4.15.57
  channels/eus-4.16.yaml
Due: none

channels/eus-4.18: Promote 4.17.38
  channels/eus-4.18.yaml
Due: none

channels/stable-4.16: Promote 4.15.57
  channels/stable-4.16.yaml
Due: none

channels/stable-4.18: Promote 4.17.38
  channels/stable-4.18.yaml
Due: none

channels/eus-4.18: Promote 4.16.46
  channels/eus-4.18.yaml
Due: none

channels/stable-4.18: Promote 4.16.46
  channels/stable-4.18.yaml
Due: none

Include examples of show-edges.py in command description
  hack/show-edges.py
Due: none

channels/eus-4.16: Promote 4.14.55
  channels/eus-4.16.yaml
Due: none

blocked-edges: Declare HyperShiftProxyScheme
  blocked-edges/4.18.22-HyperShiftProxyScheme.yaml
  blocked-edges/4.18.23-HyperShiftProxyScheme.yaml
  blocked-edges/4.19.10-HyperShiftProxyScheme.yaml
  blocked-edges/4.19.11-HyperShiftProxyScheme.yaml
  blocked-edges/4.19.4-HyperShiftProxyScheme.yaml
  blocked-edges/4.19.5-HyperShiftProxyScheme.yaml
  blocked-edges/4.19.6-HyperShiftProxyScheme.yaml
  blocked-edges/4.19.7-HyperShiftProxyScheme.yaml
  blocked-edges/4.19.8-HyperShiftProxyScheme.yaml
  blocked-edges/4.19.9-HyperShiftProxyScheme.yaml
Due: validate-blocked-edges

Enable 4.13.60 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.13: Promote 4.13.60
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.13.60
  channels/candidate-4.14.yaml
Due: none

Enable 4.16.48 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.16: Promote 4.16.48
  channels/candidate-4.16.yaml
Due: none

channels/candidate-4.17: Promote 4.16.48
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.16.48
  channels/candidate-4.18.yaml
Due: none

Enable 4.20.0-rc.1 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.20: Promote 4.20.0-rc.1
  channels/candidate-4.20.yaml
Due: none

Enable 4.19.12 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.18.24 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

blocked-edges/*-HyperShiftProxyScheme: Extend to 4.18.24 and 4.19.12
  blocked-edges/4.18.24-HyperShiftProxyScheme.yaml
  blocked-edges/4.19.12-HyperShiftProxyScheme.yaml
Due: validate-blocked-edges

blocked-edges/4.19.12-IPsecLargeClusterConnectivity: Not fixed yet
  blocked-edges/4.19.12-IPsecLargeClusterConnectivity.yaml
Due: validate-blocked-edges

blocked-edges/4.18.*-CrunConflictsWithNVIDIA: Declare risk
  blocked-edges/4.18.22-CrunConflictsWithNVIDIA.yaml
  blocked-edges/4.18.23-CrunConflictsWithNVIDIA.yaml
Due: validate-blocked-edges

channels/candidate-4.18: Promote 4.18.24
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.24
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.19: Promote 4.19.12
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.24
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.20: Promote 4.19.12
  channels/candidate-4.20.yaml
Due: none

blocked-edges/4.18.23-CrunConflictsWithNVIDIA: Fixed in 4.18.24
  blocked-edges/4.18.23-CrunConflictsWithNVIDIA.yaml
Due: validate-blocked-edges

internal-channels/fast: Promote 4.19.12
  internal-channels/fast.yaml
Due: none

channels/fast-4.19: Promote 4.19.12
  channels/fast-4.19.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
