Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - mount_path: /tmp/secret/pull-secret
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

rm requirements.txt
  requirements.txt
Due: none

channels/candidate-4.19: Promote 4.19.0-rc.1
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.0-rc.1
  channels/candidate-4.20.yaml
Due: none

Enable 4.14.52 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.14: Promote 4.14.52
  channels/candidate-4.14.yaml
Due: none

channels/candidate-4.15: Promote 4.14.52
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.14.52
  channels/candidate-4.16.yaml
Due: none

Enable 4.17.30 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.17: Promote 4.17.30
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.17.30
  channels/candidate-4.18.yaml
Due: none

Enable 4.15.51 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.15: Promote 4.15.51
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.15.51
  channels/candidate-4.16.yaml
Due: none

Promote 4.16.40, 4.17.29, and 4.18.13 to stable channels
  channels/eus-4.16.yaml
  channels/eus-4.18.yaml
  channels/stable-4.16.yaml
  channels/stable-4.17.yaml
  channels/stable-4.18.yaml
  internal-channels/stable.yaml
Due: none

Remove hack/requirements.txt
  hack/requirements.txt
Due: none

Shuffle a few files around
  Dockerfile
  README.md
  build-suggestions/README.md
  graph-data.rs/.dockerignore
  graph-data.rs/Dockerfile
  graph-data.rs/README.md
  hack/README.md
  hack/release-ga.sh
  internal-channels/README.md
Due: e2e

Inject the date command by env. var.
  hack/exposure-length.sh
Due: none

Enable 4.18.14 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.18: Promote 4.18.14
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.14
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.14
  channels/candidate-4.20.yaml
Due: none

Enable 4.19.0-rc.2 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.19: Promote 4.19.0-rc.2
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.0-rc.2
  channels/candidate-4.20.yaml
Due: none

Bump cincinnati to 4c7aae63b686738e2be679f88589f4cddf31d91f
  graph-data.rs/Cargo.lock
  graph-data.rs/Cargo.toml
Due: e2e

Declare NonZonalAzureMachineSetScaling risk
  blocked-edges/4.15.48-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.15.49-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.15.50-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.15.51-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.16.38-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.16.39-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.16.40-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.17.17-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.17.18-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.17.19-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.17.20-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.17.21-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.17.22-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.17.23-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.17.24-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.17.25-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.17.26-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.17.27-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.17.28-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.17.29-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.17.30-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.18.1-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.18.10-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.18.11-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.18.12-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.18.13-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.18.14-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.18.2-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.18.3-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.18.4-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.18.5-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.18.6-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.18.7-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.18.8-NonZonalAzureMachineSetScaling.yaml
  blocked-edges/4.18.9-NonZonalAzureMachineSetScaling.yaml
Due: validate-blocked-edges

internal-channels/fast: Promote 4.18.14
  internal-channels/fast.yaml
Due: none

channels/fast-4.18: Promote 4.18.14
  channels/fast-4.18.yaml
Due: none

Enable 4.19.0-rc.3 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.19: Promote 4.19.0-rc.3
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.0-rc.3
  channels/candidate-4.20.yaml
Due: none

internal-channels/fast: Promote 4.14.52
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.15.51
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.17.30
  internal-channels/fast.yaml
Due: none

channels/fast-4.17: Promote 4.17.30
  channels/fast-4.17.yaml
Due: none

channels/fast-4.18: Promote 4.17.30
  channels/fast-4.18.yaml
Due: none

channels/fast-4.14: Promote 4.14.52
  channels/fast-4.14.yaml
Due: none

channels/fast-4.15: Promote 4.15.51
  channels/fast-4.15.yaml
Due: none

channels/fast-4.15: Promote 4.14.52
  channels/fast-4.15.yaml
Due: none

channels/fast-4.14: Promote 4.13.58
  channels/fast-4.14.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
