Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

ci-operator/config/openshift/cincinnati-graph-data/openshift-cincinnati-graph-data-master.yaml:

base_images:
  cincinnati-e2e-latest:
    name: cincinnati-build-root
    namespace: cincinnati-ci
    tag: e2e-test
  cincinnati-operand-latest:
    name: cincinnati-build-root
    namespace: cincinnati-ci
    tag: deploy
  ubi:
    name: ubi
    namespace: ocp
    tag: "9"
build_root:
  image_stream_tag:
    name: rust
    namespace: cincinnati-ci-public
    tag: boot-root-1.84.1
images:
- dockerfile_literal: |
    FROM replaced
    WORKDIR /home
    COPY . graph-data/
    RUN mkdir -p /var/lib/cincinnati/graph-data
    CMD cp -rp graph-data/* /var/lib/cincinnati/graph-data
  from: ubi
  to: stable
- dockerfile_literal: |
    FROM replaced
    ENV RUST_LOG=actix_web=error,dkregistry=error
    COPY graph-data.rs/public-keys /usr/local/share/public-keys
    COPY --from=pipeline:test-bin /go/.cargo/bin/cincinnati-graph-data /usr/local/bin/
    ENTRYPOINT ["/usr/local/bin/cincinnati-graph-data"]
  from: ubi
  inputs:
    test-bin:
      as:
      - pipeline:test-bin
  to: graphdata-unittests
- dockerfile_literal: |
    FROM replaced
    RUN pip install -r requirements.txt
  from: src
  to: content-checks
promotion:
  to:
  - excluded_images:
    - content-checks
    - graphdata-unittests
    name: cincinnati-graph-data
    namespace: cincinnati-ci-public
resources:
  '*':
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  cargo test --manifest-path graph-data.rs/Cargo.toml
  cargo install --locked --path graph-data.rs
tests:
- as: e2e
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests
  run_if_changed: internal-channels/candidate.yaml|graph-data.rs/.*
- as: e2e-latest-cincinnati
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: "4.14"
  optional: true
  run_if_changed: internal-channels/candidate.yaml
  steps:
    test:
    - as: openshift-e2e-test
      commands: |
        bash ./hack/e2e.sh --run-ignored
      credentials:
      - collection: ""
        mount_path: /tmp/secret/pull-secret
        name: ci-pull-credentials
        namespace: test-credentials
      dependencies:
      - env: CINCINNATI_IMAGE
        name: cincinnati-operand-latest
      - env: GRAPHDATA_IMAGE
        name: stable
      env:
      - default: /tmp/secret/pull-secret/.dockerconfigjson
        name: PULL_SECRET
      from: cincinnati-e2e-latest
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: generic-claim
- as: validate-blocked-edges
  commands: |
    exec hack/validate-blocked-edges.py
  container:
    from: content-checks
  run_if_changed: hack/validate-blocked-edges.py|blocked-edges/.*
- as: stabilization-bot-tests
  commands: |
    PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  container:
    from: content-checks
  run_if_changed: hack/(stabilization-changes|util).py
zz_generated_metadata:
  branch: master
  org: openshift
  repo: cincinnati-graph-data

graph-data.rs/src/check_signatures.rs: Limit concurrency when fetching signatures
  graph-data.rs/src/check_signatures.rs
Due: e2e

channels/eus-4.18: Promote 4.17.41
  channels/eus-4.18.yaml
Due: none

channels/stable-4.18: Promote 4.17.41
  channels/stable-4.18.yaml
Due: none

channels/stable-4.19: Promote 4.18.26
  channels/stable-4.19.yaml
Due: none

channels/eus-4.18: Promote 4.16.49
  channels/eus-4.18.yaml
Due: none

channels/stable-4.18: Promote 4.16.49
  channels/stable-4.18.yaml
Due: none

blocked-edges/4.20.0-OSUpdateFailureDueToImagePullPolicy: Extend risk to 4.20
  blocked-edges/4.20.0-OSUpdateFailureDueToImagePullPolicy.yaml
Due: validate-blocked-edges

blocked-edges/*-OSUpdateFailureDueToImagePullPolicy: Make message version agnostic
  blocked-edges/4.19.12-OSUpdateFailureDueToImagePullPolicy.yaml
  blocked-edges/4.19.13-OSUpdateFailureDueToImagePullPolicy.yaml
  blocked-edges/4.19.14-OSUpdateFailureDueToImagePullPolicy.yaml
  blocked-edges/4.19.15-OSUpdateFailureDueToImagePullPolicy.yaml
  blocked-edges/4.20.0-OSUpdateFailureDueToImagePullPolicy.yaml
Due: validate-blocked-edges

README: Refine managed-service PromQL suggestions _id handling
  README.md
Due: none

internal-channels/fast: Promote 4.20.0
  internal-channels/fast.yaml
Due: none

Run `./hack/release-ga.sh 4.20`
  blocked-edges/4.20.0-ec.0-PreRelease.yaml
  blocked-edges/4.20.0-ec.2-PreRelease.yaml
  blocked-edges/4.20.0-ec.3-PreRelease.yaml
  blocked-edges/4.20.0-ec.4-PreRelease.yaml
  blocked-edges/4.20.0-ec.5-PreRelease.yaml
  blocked-edges/4.20.0-ec.6-PreRelease.yaml
  blocked-edges/4.20.0-rc.0-PreRelease.yaml
  blocked-edges/4.20.0-rc.1-PreRelease.yaml
  blocked-edges/4.20.0-rc.2-PreRelease.yaml
  blocked-edges/4.20.0-rc.3-PreRelease.yaml
  build-suggestions/4.20.yaml
  build-suggestions/4.21.yaml
  channels/eus-4.20.yaml
  channels/fast-4.20.yaml
  channels/stable-4.20.yaml
  internal-channels/stable.yaml
Due: validate-blocked-edges

internal-channels/fast: Promote 4.19.17
  internal-channels/fast.yaml
Due: none

channels/fast-4.19: Promote 4.19.17
  channels/fast-4.19.yaml
Due: none

channels/fast-4.20: Promote 4.19.17
  channels/fast-4.20.yaml
Due: none

COS-3671, OCPBUGS-63310: create block for nvme symlink regeneration issue
  blocked-edges/4.19.0-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.1-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.10-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.11-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.12-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.13-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.14-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.15-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.16-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.17-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.2-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.3-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.4-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.5-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.6-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.7-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.8-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.19.9-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.20.0-rc.0-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.20.0-rc.1-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.20.0-rc.2-NVMeSymlinkRegeneration.yaml
  blocked-edges/4.20.0-rc.3-NVMeSymlinkRegeneration.yaml
Due: validate-blocked-edges

internal-channels/fast: Promote 4.17.42
  internal-channels/fast.yaml
Due: none

channels/fast-4.17: Promote 4.17.42
  channels/fast-4.17.yaml
Due: none

channels/fast-4.17: Promote 4.16.50
  channels/fast-4.17.yaml
Due: none

internal-channels/stable: Promote 4.16.50
  internal-channels/stable.yaml
Due: none

channels/eus-4.16: Promote 4.16.50
  channels/eus-4.16.yaml
Due: none

channels/stable-4.16: Promote 4.16.50
  channels/stable-4.16.yaml
Due: none

DO NOT MERGE: Redirect to private repo
  graph-data.rs/Cargo.toml
Due: e2e

channels/stable-*: Remove 4.15.z feeders from stable channels
  channels/stable-4.15.yaml
  channels/stable-4.16.yaml
Due: none

internal-channels/fast: Promote 4.13.61
  internal-channels/fast.yaml
Due: none

channels/fast-4.13: Promote 4.13.61
  channels/fast-4.13.yaml
Due: none

channels/fast-4.13: Promote 4.12.81
  channels/fast-4.13.yaml
Due: none

hack/release-end-of-maintenance: Add a script to automate end-of-maintenance
  hack/README.md
  hack/release-end-of-maintenance.sh
Due: none

internal-channels/stable: Promote 4.12.81
  internal-channels/stable.yaml
Due: none

channels/eus-4.12: Promote 4.12.81
  channels/eus-4.12.yaml
Due: none

Enable 4.16.51 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.16: Promote 4.16.51
  channels/candidate-4.16.yaml
Due: none

channels/candidate-4.17: Promote 4.16.51
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.16.51
  channels/candidate-4.18.yaml
Due: none

Enable 4.18.27 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.18: Promote 4.18.27
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.27
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.27
  channels/candidate-4.20.yaml
Due: none

Enable 4.14.58 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.14: Promote 4.14.58
  channels/candidate-4.14.yaml
Due: none

channels/candidate-4.15: Promote 4.14.58
  channels/candidate-4.15.yaml
Due: none
