Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'cp -Lrvf $KUBECONFIG /tmp/kube
  
        unset KUBECONFIG
  
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

channels/eus-4.14: Promote 4.12.76
  channels/eus-4.14.yaml
Due: none

4.19: raise minor_min to 4.18.16
  build-suggestions/4.19.yaml
Due: none

Enable 4.15.52 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.19.0-rc.4 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

blocked-edges/4.15.51-NonZonalAzureMachineSetScaling: Fixed in 4.15.52
  blocked-edges/4.15.51-NonZonalAzureMachineSetScaling.yaml
Due: validate-blocked-edges

channels/candidate-4.15: Promote 4.15.52
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.15.52
  channels/candidate-4.16.yaml
Due: none

channels/candidate-4.19: Promote 4.19.0-rc.4
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.0-rc.4
  channels/candidate-4.20.yaml
Due: none

Enable 4.12.77 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.12: Promote 4.12.77
  channels/candidate-4.12.yaml
Due: none

channels/candidate-4.13: Promote 4.12.77
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.12.77
  channels/candidate-4.14.yaml
Due: none

Enable 4.18.16 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

NonZonalAzureMachineSetScaling fixed in 4.18.16
  blocked-edges/4.18.15-NonZonalAzureMachineSetScaling.yaml
Due: validate-blocked-edges

NonZonalAzureMachineSetScaling fixed in 4.17.32
  blocked-edges/4.17.31-NonZonalAzureMachineSetScaling.yaml
Due: validate-blocked-edges

Extend RHELFailedRebootMissingService to 4.17.32 and 4.18.16
  blocked-edges/4.17.32-RHELFailedRebootMissingService.yaml
  blocked-edges/4.18.16-RHELFailedRebootMissingService.yaml
Due: validate-blocked-edges

channels/candidate-4.18: Promote 4.18.16
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.16
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.16
  channels/candidate-4.20.yaml
Due: none

Enable 4.17.32 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.20.0-ec.1 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.17: Promote 4.17.32
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.17.32
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.20: Promote 4.20.0-ec.1
  channels/candidate-4.20.yaml
Due: none

internal-channels/candidate: Tombstone 4.20.0-ec.1
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

block edges from all 4.18 to 4.19 with vsphere provider storage issues
  blocked-edges/4.19.0-ec.0-VsphereStorageMountIssues.yaml
  blocked-edges/4.19.0-ec.1-VsphereStorageMountIssues.yaml
  blocked-edges/4.19.0-ec.2-VsphereStorageMountIssues.yaml
  blocked-edges/4.19.0-ec.3-VsphereStorageMountIssues.yaml
  blocked-edges/4.19.0-ec.4-VsphereStorageMountIssues.yaml
  blocked-edges/4.19.0-ec.5-VsphereStorageMountIssues.yaml
  blocked-edges/4.19.0-rc.0-VsphereStorageMountIssues.yaml
  blocked-edges/4.19.0-rc.1-VsphereStorageMountIssues.yaml
  blocked-edges/4.19.0-rc.2-VsphereStorageMountIssues.yaml
  blocked-edges/4.19.0-rc.3-VsphereStorageMountIssues.yaml
  blocked-edges/4.19.0-rc.4-VsphereStorageMountIssues.yaml
Due: validate-blocked-edges

internal-channels/stable: Promote 4.18.15
  internal-channels/stable.yaml
Due: none

channels/eus-4.18: Promote 4.18.15
  channels/eus-4.18.yaml
Due: none

channels/stable-4.18: Promote 4.18.15
  channels/stable-4.18.yaml
Due: none

internal-channels/fast: Promote 4.18.16
  internal-channels/fast.yaml
Due: none

channels/fast-4.18: Promote 4.18.16
  channels/fast-4.18.yaml
Due: none

Enable 4.20.0-ec.2 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

internal-channels/fast: Promote 4.17.32
  internal-channels/fast.yaml
Due: none

internal-channels/stable: Promote 4.17.31
  internal-channels/stable.yaml
Due: none

channels/eus-4.18: Promote 4.17.31
  channels/eus-4.18.yaml
Due: none

channels/fast-4.17: Promote 4.17.32
  channels/fast-4.17.yaml
Due: none

channels/fast-4.18: Promote 4.17.32
  channels/fast-4.18.yaml
Due: none

channels/stable-4.17: Promote 4.17.31
  channels/stable-4.17.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
