Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

internal-channels/stable: Promote 4.19.11
  internal-channels/stable.yaml
Due: none

channels/stable-4.19: Promote 4.19.11
  channels/stable-4.19.yaml
Due: none

Enable 4.20.0-rc.2 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.20: Promote 4.20.0-rc.2
  channels/candidate-4.20.yaml
Due: none

internal-channels/fast: Promote 4.18.24
  internal-channels/fast.yaml
Due: none

Enable 4.21.0-ec.0 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/fast-4.18: Promote 4.18.24
  channels/fast-4.18.yaml
Due: none

channels/fast-4.19: Promote 4.18.24
  channels/fast-4.19.yaml
Due: none

channels/fast-4.18: Promote 4.17.39
  channels/fast-4.18.yaml
Due: none

internal-channels/fast: Promote 4.16.48
  internal-channels/fast.yaml
Due: none

channels/fast-4.18: Promote 4.16.47
  channels/fast-4.18.yaml
Due: none

channels/fast-4.16: Promote 4.16.48
  channels/fast-4.16.yaml
Due: none

internal-channels/stable: Promote 4.17.39
  internal-channels/stable.yaml
Due: none

channels/stable-4.17: Promote 4.17.39
  channels/stable-4.17.yaml
Due: none

channels/stable-4.17: Promote 4.16.47
  channels/stable-4.17.yaml
Due: none

internal-channels/fast: Promote 4.13.60
  internal-channels/fast.yaml
Due: none

channels/fast-4.13: Promote 4.13.60
  channels/fast-4.13.yaml
Due: none

channels/fast-4.13: Promote 4.12.79
  channels/fast-4.13.yaml
Due: none

channels/fast-4.13: Promote 4.12.80
  channels/fast-4.13.yaml
Due: none

internal-channels/stable: Promote 4.12.80
  internal-channels/stable.yaml
Due: none

channels/eus-4.12: Promote 4.12.80
  channels/eus-4.12.yaml
Due: none

*: Prepare for 4.21 development
  build-suggestions/4.21.yaml
  channels/candidate-4.21.yaml
Due: none

Add more docs about build suggestions
  build-suggestions/README.md
Due: none

Enable 4.19.13 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.17.40 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.17: Promote 4.17.40
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.17.40
  channels/candidate-4.18.yaml
Due: none

blocked-edges/4.19.13-HyperShiftProxyScheme: Extend to 4.19.13
  blocked-edges/4.19.13-HyperShiftProxyScheme.yaml
Due: validate-blocked-edges

blocked-edges/4.19.13-IPsecLargeClusterConnectivity: Not fixed yet
  blocked-edges/4.19.13-IPsecLargeClusterConnectivity.yaml
Due: validate-blocked-edges

channels/candidate-4.19: Promote 4.19.13
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.13
  channels/candidate-4.20.yaml
Due: none

Enable 4.14.57 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.15.58 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.14: Promote 4.14.57
  channels/candidate-4.14.yaml
Due: none

channels/candidate-4.15: Promote 4.14.57
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.14.57
  channels/candidate-4.16.yaml
Due: none

internal-channels/fast: Promote 4.19.13
  internal-channels/fast.yaml
Due: none

channels/fast-4.19: Promote 4.19.13
  channels/fast-4.19.yaml
Due: none

internal-channels/stable: Promote 4.19.12
  internal-channels/stable.yaml
Due: none

channels/stable-4.19: Promote 4.19.12
  channels/stable-4.19.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
