Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

ci-operator/config/openshift/cincinnati-graph-data/openshift-cincinnati-graph-data-master.yaml:

base_images:
  cincinnati-e2e-latest:
    name: cincinnati-build-root
    namespace: cincinnati-ci
    tag: e2e-test
  cincinnati-operand-latest:
    name: cincinnati-build-root
    namespace: cincinnati-ci
    tag: deploy
  ubi:
    name: ubi
    namespace: ocp
    tag: "9"
build_root:
  image_stream_tag:
    name: rust
    namespace: cincinnati-ci-public
    tag: boot-root-1.84.1
images:
- dockerfile_literal: |
    FROM replaced
    WORKDIR /home
    COPY . graph-data/
    RUN mkdir -p /var/lib/cincinnati/graph-data
    CMD cp -rp graph-data/* /var/lib/cincinnati/graph-data
  from: ubi
  to: stable
- dockerfile_literal: |
    FROM replaced
    ENV RUST_LOG=actix_web=error,dkregistry=error
    COPY graph-data.rs/public-keys /usr/local/share/public-keys
    COPY --from=pipeline:test-bin /go/.cargo/bin/cincinnati-graph-data /usr/local/bin/
    ENTRYPOINT ["/usr/local/bin/cincinnati-graph-data"]
  from: ubi
  inputs:
    test-bin:
      as:
      - pipeline:test-bin
  to: graphdata-unittests
- dockerfile_literal: |
    FROM replaced
    RUN pip install -r requirements.txt
  from: src
  to: content-checks
promotion:
  to:
  - excluded_images:
    - content-checks
    - graphdata-unittests
    name: cincinnati-graph-data
    namespace: cincinnati-ci-public
resources:
  '*':
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  cargo test --manifest-path graph-data.rs/Cargo.toml
  cargo install --locked --path graph-data.rs
tests:
- as: e2e
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests
  run_if_changed: internal-channels/candidate.yaml|graph-data.rs/.*
- as: e2e-latest-cincinnati
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: "4.14"
  optional: true
  run_if_changed: internal-channels/candidate.yaml
  steps:
    test:
    - as: openshift-e2e-test
      commands: |
        bash ./hack/e2e.sh --run-ignored
      credentials:
      - collection: ""
        mount_path: /tmp/secret/pull-secret
        name: ci-pull-credentials
        namespace: test-credentials
      dependencies:
      - env: CINCINNATI_IMAGE
        name: cincinnati-operand-latest
      - env: GRAPHDATA_IMAGE
        name: stable
      env:
      - default: /tmp/secret/pull-secret/.dockerconfigjson
        name: PULL_SECRET
      from: cincinnati-e2e-latest
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: generic-claim
- as: validate-blocked-edges
  commands: |
    exec hack/validate-blocked-edges.py
  container:
    from: content-checks
  run_if_changed: hack/validate-blocked-edges.py|blocked-edges/.*
- as: stabilization-bot-tests
  commands: |
    PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  container:
    from: content-checks
  run_if_changed: hack/(stabilization-changes|util).py
zz_generated_metadata:
  branch: master
  org: openshift
  repo: cincinnati-graph-data

channels/candidate-4.22: Promote 4.21.0-rc.1
  channels/candidate-4.22.yaml
Due: none

Add a few manual modifications
  AGENTS.md
  hack/README.md
Due: none

.claude/commands/update-script-docs: New command for script doc updates
  .claude/commands/update-script-docs.md
Due: none

Update the AGENTS.md about the new slash cmd
  AGENTS.md
Due: none

Enable 4.16.55 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.18.31 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.12.84 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Accept errata numbers as low as 3 digits
  graph-data.rs/src/check_errata_link.rs
  internal-channels/stable.yaml
Due: e2e

Add a test for three digit numbers
  graph-data.rs/src/check_errata_link.rs
Due: e2e

channels/candidate-4.16: Promote 4.16.55
  channels/candidate-4.16.yaml
Due: none

channels/candidate-4.17: Promote 4.16.55
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.16.55
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.18: Promote 4.18.31
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.31
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.31
  channels/candidate-4.20.yaml
Due: none

Enable 4.20.9 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

blocked-edges/4.12.83-RuncShareProcessNamespace: Fixed in 4.12.84
  blocked-edges/4.12.83-RuncShareProcessNamespace.yaml
Due: validate-blocked-edges

channels/candidate-4.12: Promote 4.12.84
  channels/candidate-4.12.yaml
Due: none

channels/candidate-4.13: Promote 4.12.84
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.12.84
  channels/candidate-4.14.yaml
Due: none

blocked-edges/4.20.9-ARO420UDRWorkerNodesFail: Not fixed yet
  blocked-edges/4.20.9-ARO420UDRWorkerNodesFail.yaml
Due: validate-blocked-edges

blocked-edges/4.20.9-HyperShiftRedundantRouter: Not fixed yet
  blocked-edges/4.20.9-HyperShiftRedundantRouter.yaml
Due: validate-blocked-edges

channels/candidate-4.20: Promote 4.20.9
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.9
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.9
  channels/candidate-4.22.yaml
Due: none

Enable 4.20.10 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

blocked-edges/4.20.10-ARO420UDRWorkerNodesFail: Not fixed yet
  blocked-edges/4.20.10-ARO420UDRWorkerNodesFail.yaml
Due: validate-blocked-edges

blocked-edges/4.20.10-HyperShiftRedundantRouter: Not fixed yet
  blocked-edges/4.20.10-HyperShiftRedundantRouter.yaml
Due: validate-blocked-edges

channels/candidate-4.20: Promote 4.20.10
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.10
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.10
  channels/candidate-4.22.yaml
Due: none

Tombstone 4.20.9
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

internal-channels/stable: Promote 4.17.46
  internal-channels/stable.yaml
Due: none

channels/stable-4.17: Promote 4.17.46
  channels/stable-4.17.yaml
Due: none

channels/stable-4.17: Promote 4.16.54
  channels/stable-4.17.yaml
Due: none

internal-channels/fast: Promote 4.15.60
  internal-channels/fast.yaml
Due: none

Enable 4.22.0-ec.0 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.22: Promote 4.22.0-ec.0
  channels/candidate-4.22.yaml
Due: none

channels/fast-4.15: Promote 4.15.60
  channels/fast-4.15.yaml
Due: none

internal-channels/fast: Promote 4.20.10
  internal-channels/fast.yaml
Due: none
