Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

channels/candidate-4.16: Promote 4.14.58
  channels/candidate-4.16.yaml
Due: none

Enable 4.20.1 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.21.0-ec.2 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

DO NOT MERGE: Run `cargo update cincinnati`
  graph-data.rs/Cargo.lock
Due: e2e

DO NOT MERGE: Unlimit the concurrency to cause failure
  graph-data.rs/src/check_signatures.rs
Due: e2e

channels/candidate-4.21: Promote 4.21.0-ec.2
  channels/candidate-4.21.yaml
Due: none

blocked-edges/4.20.0-OSUpdateFailureDueToImagePullPolicy: Fixed in 4.20.1
  blocked-edges/4.20.0-OSUpdateFailureDueToImagePullPolicy.yaml
Due: validate-blocked-edges

blocked-edges/4.19.*-NetworkManagerOVNBridgeMapping: Declare new risk
  blocked-edges/4.19.13-NetworkManagerOVNBridgeMapping.yaml
  blocked-edges/4.19.14-NetworkManagerOVNBridgeMapping.yaml
  blocked-edges/4.19.15-NetworkManagerOVNBridgeMapping.yaml
  blocked-edges/4.19.16-NetworkManagerOVNBridgeMapping.yaml
  blocked-edges/4.19.17-NetworkManagerOVNBridgeMapping.yaml
Due: validate-blocked-edges

blocked-edges/4.20.0-OSUpdateFailureDueToImagePullPolicy: Fixed in 4.20.1, not 4.21.1
  blocked-edges/4.20.0-OSUpdateFailureDueToImagePullPolicy.yaml
Due: validate-blocked-edges

channels/candidate-4.20: Promote 4.20.1
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.1
  channels/candidate-4.21.yaml
Due: none

internal-channels/stable: Promote 4.19.17
  internal-channels/stable.yaml
Due: none

channels/stable-4.19: Promote 4.19.17
  channels/stable-4.19.yaml
Due: none

internal-channels/stable: Promote 4.17.42
  internal-channels/stable.yaml
Due: none

channels/stable-4.17: Promote 4.17.42
  channels/stable-4.17.yaml
Due: none

channels/stable-4.17: Promote 4.16.50
  channels/stable-4.17.yaml
Due: none

internal-channels/fast: Promote 4.18.27
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.16.51
  internal-channels/fast.yaml
Due: none

channels/fast-4.18: Promote 4.18.27
  channels/fast-4.18.yaml
Due: none

channels/fast-4.16: Promote 4.16.51
  channels/fast-4.16.yaml
Due: none

channels/fast-4.18: Promote 4.17.42
  channels/fast-4.18.yaml
Due: none

channels/fast-4.18: Promote 4.16.50
  channels/fast-4.18.yaml
Due: none

internal-channels/fast: Promote 4.14.58
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.20.1
  internal-channels/fast.yaml
Due: none

channels/fast-4.14: Promote 4.14.58
  channels/fast-4.14.yaml
Due: none

channels/fast-4.20: Promote 4.20.1
  channels/fast-4.20.yaml
Due: none

internal-channels/stable: Promote 4.13.61
  internal-channels/stable.yaml
Due: none

channels/fast-4.14: Promote 4.13.61
  channels/fast-4.14.yaml
Due: none

channels/fast-4.14: Promote 4.12.81
  channels/fast-4.14.yaml
Due: none

blocked-edges/4.(18.*|19.*)-HyperShiftClusterVersionOperatorMetrics: Declare risk
  blocked-edges/4.18.23-HyperShiftClusterVersionOperatorMetrics.yaml
  blocked-edges/4.18.24-HyperShiftClusterVersionOperatorMetrics.yaml
  blocked-edges/4.18.25-HyperShiftClusterVersionOperatorMetrics.yaml
  blocked-edges/4.18.26-HyperShiftClusterVersionOperatorMetrics.yaml
  blocked-edges/4.19.10-HyperShiftClusterVersionOperatorMetrics.yaml
  blocked-edges/4.19.11-HyperShiftClusterVersionOperatorMetrics.yaml
  blocked-edges/4.19.12-HyperShiftClusterVersionOperatorMetrics.yaml
  blocked-edges/4.19.13-HyperShiftClusterVersionOperatorMetrics.yaml
  blocked-edges/4.19.14-HyperShiftClusterVersionOperatorMetrics.yaml
  blocked-edges/4.19.15-HyperShiftClusterVersionOperatorMetrics.yaml
  blocked-edges/4.19.16-HyperShiftClusterVersionOperatorMetrics.yaml
  blocked-edges/4.19.9-HyperShiftClusterVersionOperatorMetrics.yaml
Due: validate-blocked-edges

Enable 4.17.43 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.17: Promote 4.17.43
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.17.43
  channels/candidate-4.18.yaml
Due: none

Enable 4.19.18 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.20.2 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.20: Promote 4.20.2
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.2
  channels/candidate-4.21.yaml
Due: none

Enable 4.15.59 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.15: Promote 4.15.59
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.15.59
  channels/candidate-4.16.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
