Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

ci/prow/e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-latest-cincinnati:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/stabilization-bot-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/validate-blocked-edges:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

internal-channels/stable: Promote 4.16.66
  internal-channels/stable.yaml
Due: none

Run `hack/release-stable-minor.sh 4.22`
  channels/eus-4.16.yaml
  channels/eus-4.22.yaml
  channels/stable-4.22.yaml
Due: none

channels/eus-4.16: Promote 4.16.66
  channels/eus-4.16.yaml
Due: none

channels/candidate-4.16: Promote 4.16.67
  channels/candidate-4.16.yaml
Due: none

channels/candidate-4.17: Promote 4.16.67
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.16.67
  channels/candidate-4.18.yaml
Due: none

internal-channels/fast: Promote 4.12.94
  internal-channels/fast.yaml
Due: none

blocked-edges: Declare KubeStateMetricsTimezonePanic risk for affected versions
  blocked-edges/4.20.29-KubeStateMetricsTimezonePanic.yaml
  blocked-edges/4.20.30-KubeStateMetricsTimezonePanic.yaml
  blocked-edges/4.21.24-KubeStateMetricsTimezonePanic.yaml
  blocked-edges/4.21.25-KubeStateMetricsTimezonePanic.yaml
  blocked-edges/4.22.0-KubeStateMetricsTimezonePanic.yaml
  blocked-edges/4.22.1-KubeStateMetricsTimezonePanic.yaml
  blocked-edges/4.22.2-KubeStateMetricsTimezonePanic.yaml
  blocked-edges/4.22.3-KubeStateMetricsTimezonePanic.yaml
  blocked-edges/4.22.4-KubeStateMetricsTimezonePanic.yaml
  blocked-edges/4.22.5-KubeStateMetricsTimezonePanic.yaml
  blocked-edges/4.22.6-KubeStateMetricsTimezonePanic.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

hack: Fix code review issues in GitHub App auth
  hack/stabilization-changes.py
Due: stabilization-bot-tests, ci/prow/stabilization-bot-tests

hack: Fix remaining code review issues in GitHub App auth
  hack/stabilization-changes.py
Due: stabilization-bot-tests, ci/prow/stabilization-bot-tests

channels/fast-4.12: Promote 4.12.94
  channels/fast-4.12.yaml
Due: none

channels/fast-4.13: Promote 4.12.94
  channels/fast-4.13.yaml
Due: none

Enable 4.22.7 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

hack: Address review feedback on GitHub App auth
  hack/stabilization-changes.py
Due: stabilization-bot-tests, ci/prow/stabilization-bot-tests

channels/candidate-4.22: Promote 4.22.7
  channels/candidate-4.22.yaml
Due: none

channels/candidate-5.0: Promote 4.22.7
  channels/candidate-5.0.yaml
Due: none

Enable 4.18.50 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.18: Promote 4.18.50
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.50
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.50
  channels/candidate-4.20.yaml
Due: none

Enable 4.19.40 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.19: Promote 4.19.40
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.40
  channels/candidate-4.20.yaml
Due: none

Enable 4.20.31 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.20: Promote 4.20.31
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.31
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.31
  channels/candidate-4.22.yaml
Due: none

Enable 4.21.26 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.21: Promote 4.21.26
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.26
  channels/candidate-4.22.yaml
Due: none

add product-life-cycle to graph-data image
  deploy/2-build-config.yaml
Due: none

blocked-edges: Declare MultusCniVersionThirdPartyCniBreak risk for 4.22.3-5
  blocked-edges/4.22.3-MultusCniVersionThirdPartyCniBreak.yaml
  blocked-edges/4.22.4-MultusCniVersionThirdPartyCniBreak.yaml
  blocked-edges/4.22.5-MultusCniVersionThirdPartyCniBreak.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

internal-channels/stable: Promote 4.14.69
  internal-channels/stable.yaml
Due: none

channels/eus-4.14: Promote 4.14.69
  channels/eus-4.14.yaml
Due: none

internal-channels/fast: Promote 4.22.7
  internal-channels/fast.yaml
Due: none

channels/fast-4.22: Promote 4.22.7
  channels/fast-4.22.yaml
Due: none

internal-channels/fast: Promote 4.20.31
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.21.26
  internal-channels/fast.yaml
Due: none

channels/fast-4.20: Promote 4.20.31
  channels/fast-4.20.yaml
Due: none

channels/fast-4.21: Promote 4.21.26
  channels/fast-4.21.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
