Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

channels/eus-4.16: Promote 4.15.52
  channels/eus-4.16.yaml
Due: none

channels/candidate-4.15: Promote 4.15.53
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.15.53
  channels/candidate-4.16.yaml
Due: none

channels/stable-4.16: Promote 4.15.52
  channels/stable-4.16.yaml
Due: none

Extend OldBootImagesComposeFSvsGrubProbe to 4.19.1
  blocked-edges/4.19.1-OldBootImagesComposeFSvsGrubProbe.yaml
Due: validate-blocked-edges

Extend OVNEgressIPFailure to 4.18.18
  blocked-edges/4.18.18-OVNEgressIPFailure.yaml
Due: validate-blocked-edges

channels/candidate-4.19: Promote 4.19.1
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.1
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.18: Promote 4.18.18
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.18
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.18
  channels/candidate-4.20.yaml
Due: none

Enable 4.20.0-ec.3 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.20: Promote 4.20.0-ec.3
  channels/candidate-4.20.yaml
Due: none

internal-channels/fast: Promote 4.19.1
  internal-channels/fast.yaml
Due: none

channels/fast-4.19: Promote 4.19.1
  channels/fast-4.19.yaml
Due: none

block edges from all 4.18 to 4.19 with vSphere provider storage issues
  blocked-edges/4.19.0-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.0-ec.0-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.0-ec.1-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.0-ec.2-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.0-ec.3-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.0-ec.4-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.0-ec.5-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.0-rc.0-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.0-rc.1-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.0-rc.2-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.0-rc.3-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.0-rc.4-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.0-rc.5-VSphereStorageMountIssues.yaml
  blocked-edges/4.19.1-VSphereStorageMountIssues.yaml
Due: validate-blocked-edges

internal-channels/fast: Promote 4.17.34
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.18.18
  internal-channels/fast.yaml
Due: none

channels/fast-4.17: Promote 4.17.34
  channels/fast-4.17.yaml
Due: none

internal-channels/fast: Promote 4.15.53
  internal-channels/fast.yaml
Due: none

channels/fast-4.18: Promote 4.18.18
  channels/fast-4.18.yaml
Due: none

channels/fast-4.19: Promote 4.18.18
  channels/fast-4.19.yaml
Due: none

channels/fast-4.15: Promote 4.15.53
  channels/fast-4.15.yaml
Due: none

channels/fast-4.18: Promote 4.17.33
  channels/fast-4.18.yaml
Due: none

channels/fast-4.18: Promote 4.17.34
  channels/fast-4.18.yaml
Due: none

channels/fast-4.18: Promote 4.16.42
  channels/fast-4.18.yaml
Due: none

Enable 4.14.53 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.14: Promote 4.14.53
  channels/candidate-4.14.yaml
Due: none

channels/candidate-4.15: Promote 4.14.53
  channels/candidate-4.15.yaml
Due: none

channels/candidate-4.16: Promote 4.14.53
  channels/candidate-4.16.yaml
Due: none

Enable 4.16.43 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.16: Promote 4.16.43
  channels/candidate-4.16.yaml
Due: none

channels/candidate-4.17: Promote 4.16.43
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.16.43
  channels/candidate-4.18.yaml
Due: none

Enable 4.19.2 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.18.19 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Extend OldBootImagesComposeFSvsGrubProbe to 4.19.2
  blocked-edges/4.19.2-OldBootImagesComposeFSvsGrubProbe.yaml
Due: validate-blocked-edges

Extend VSphereStorageMountIssues to 4.19.2
  blocked-edges/4.19.2-VSphereStorageMountIssues.yaml
Due: validate-blocked-edges

Extend OVNEgressIPFailure to 4.18.19
  blocked-edges/4.18.19-OVNEgressIPFailure.yaml
Due: validate-blocked-edges

channels/candidate-4.19: Promote 4.19.2
  channels/candidate-4.19.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
