Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

Enable 4.19.5 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

blocked-edges/4.19.4-OldBootImagesComposeFSvsGrubProbe: Fixed in 4.19.5
  blocked-edges/4.19.4-OldBootImagesComposeFSvsGrubProbe.yaml
Due: validate-blocked-edges

blocked-edges/4.19.5-IPsecLargeClusterConnectivity: Extend risk
  blocked-edges/4.19.5-IPsecLargeClusterConnectivity.yaml
Due: validate-blocked-edges

channels/candidate-4.19: Promote 4.19.5
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.5
  channels/candidate-4.20.yaml
Due: none

`HCPServiceHealthCheckDisruption`: Affects node updates, fix PromQL
  blocked-edges/4.19.0-HCPServiceHealthCheckDisruption.yaml
  blocked-edges/4.19.1-HCPServiceHealthCheckDisruption.yaml
  blocked-edges/4.19.2-HCPServiceHealthCheckDisruption.yaml
  blocked-edges/4.19.3-HCPServiceHealthCheckDisruption.yaml
  blocked-edges/4.19.4-HCPServiceHealthCheckDisruption.yaml
Due: validate-blocked-edges

internal-channels/fast: Promote 4.19.5
  internal-channels/fast.yaml
Due: none

internal-channels/stable: Promote 4.19.4
  internal-channels/stable.yaml
Due: none

channels/stable-4.19: Promote 4.19.4
  channels/stable-4.19.yaml
Due: none

channels/fast-4.19: Promote 4.19.5
  channels/fast-4.19.yaml
Due: none

internal-channels/fast: Promote 4.17.36
  internal-channels/fast.yaml
Due: none

channels/fast-4.17: Promote 4.17.36
  channels/fast-4.17.yaml
Due: none

channels/fast-4.17: Promote 4.16.44
  channels/fast-4.17.yaml
Due: none

internal-channels/fast: Promote 4.15.55
  internal-channels/fast.yaml
Due: none

channels/fast-4.15: Promote 4.15.55
  channels/fast-4.15.yaml
Due: none

internal-channels/stable: Promote 4.13.59
  internal-channels/stable.yaml
Due: none

Block edges to 4.19 for ARO clusters due to MCO cert issues where Internal LB IP is missing from SAN
  blocked-edges/4.19.0-AROMissingInternalLBSAN.yaml
  blocked-edges/4.19.1-AROMissingInternalLBSAN.yaml
  blocked-edges/4.19.2-AROMissingInternalLBSAN.yaml
  blocked-edges/4.19.3-AROMissingInternalLBSAN.yaml
  blocked-edges/4.19.4-AROMissingInternalLBSAN.yaml
  blocked-edges/4.19.5-AROMissingInternalLBSAN.yaml
Due: validate-blocked-edges

internal-channels/stable: Promote 4.16.44
  internal-channels/stable.yaml
Due: none

channels/eus-4.16: Promote 4.16.44
  channels/eus-4.16.yaml
Due: none

internal-channels/stable: Promote 4.18.20
  internal-channels/stable.yaml
Due: none

channels/stable-4.16: Promote 4.16.44
  channels/stable-4.16.yaml
Due: none

channels/eus-4.16: Promote 4.15.54
  channels/eus-4.16.yaml
Due: none

channels/eus-4.16: Promote 4.14.53
  channels/eus-4.16.yaml
Due: none

channels/eus-4.18: Promote 4.18.20
  channels/eus-4.18.yaml
Due: none

channels/stable-4.16: Promote 4.15.54
  channels/stable-4.16.yaml
Due: none

channels/stable-4.18: Promote 4.18.20
  channels/stable-4.18.yaml
Due: none

channels/stable-4.19: Promote 4.18.20
  channels/stable-4.19.yaml
Due: none

channels/eus-4.18: Promote 4.17.35
  channels/eus-4.18.yaml
Due: none

channels/eus-4.18: Promote 4.16.43
  channels/eus-4.18.yaml
Due: none

channels/stable-4.18: Promote 4.17.35
  channels/stable-4.18.yaml
Due: none

channels/stable-4.18: Promote 4.16.43
  channels/stable-4.18.yaml
Due: none

Enable 4.19.6 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Enable 4.18.21 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

`IPsecLargeClusterConnectivity`: Extend to 4.19.6
  blocked-edges/4.19.6-IPsecLargeClusterConnectivity.yaml
Due: validate-blocked-edges

`AROMissingInternalLBSAN`: Extend to 4.19.6
  blocked-edges/4.19.6-AROMissingInternalLBSAN.yaml
Due: validate-blocked-edges

`OVNEgressIPFailure`: Extend to 4.18.21
  blocked-edges/4.18.21-OVNEgressIPFailure.yaml
Due: validate-blocked-edges

Add reference to https://issues.redhat.com/browse/OCPBUGS-59780 to the AROMissingInternalLBSAN blocked edges
  blocked-edges/4.19.0-AROMissingInternalLBSAN.yaml
  blocked-edges/4.19.1-AROMissingInternalLBSAN.yaml
  blocked-edges/4.19.2-AROMissingInternalLBSAN.yaml
  blocked-edges/4.19.4-AROMissingInternalLBSAN.yaml
  blocked-edges/4.19.5-AROMissingInternalLBSAN.yaml
Due: validate-blocked-edges

channels/candidate-4.18: Promote 4.18.21
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.21
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.19: Promote 4.19.6
  channels/candidate-4.19.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
