Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests

e2e:
  commands: /usr/local/bin/cincinnati-graph-data
  container:
    clone: true
    from: graphdata-unittests

e2e-latest-cincinnati:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - as: openshift-e2e-test
      commands: 'bash ./hack/e2e.sh --run-ignored
  
        '
      credentials:
      - collection: ''
  ...

validate-blocked-edges:
  commands: 'exec hack/validate-blocked-edges.py
  
    '
  container:
    from: content-checks

stabilization-bot-tests:
  commands: 'PYTHONPATH=hack python3 -m unittest hack/stabilization-changes.py
  
    '
  container:
    from: content-checks

channels/fast-4.17: Promote 4.17.44
  channels/fast-4.17.yaml
Due: none

channels/fast-4.19: Promote 4.19.19
  channels/fast-4.19.yaml
Due: none

channels/stable-4.16: Promote 4.16.52
  channels/stable-4.16.yaml
Due: none

channels/eus-4.16: Promote 4.15.59
  channels/eus-4.16.yaml
Due: none

channels/fast-4.17: Promote 4.16.52
  channels/fast-4.17.yaml
Due: none

channels/fast-4.19: Promote 4.18.28
  channels/fast-4.19.yaml
Due: none

channels/stable-4.16: Promote 4.15.59
  channels/stable-4.16.yaml
Due: none

channels/eus-4.16: Promote 4.14.57
  channels/eus-4.16.yaml
Due: none

channels/eus-4.16: Promote 4.14.58
  channels/eus-4.16.yaml
Due: none

Set minimum version of 4.20 required to upgrade to 4.21
  build-suggestions/4.21.yaml
Due: none

Enable 4.12.83 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

Promote 4.17.44 and 4.19.19 to stable
  channels/stable-4.17.yaml
  channels/stable-4.19.yaml
  internal-channels/stable.yaml
Due: none

channels/candidate-4.12: Promote 4.12.83
  channels/candidate-4.12.yaml
Due: none

channels/candidate-4.13: Promote 4.12.83
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.12.83
  channels/candidate-4.14.yaml
Due: none

internal-channels/fast: Promote 4.14.59
  internal-channels/fast.yaml
Due: none

internal-channels/stable: Promote 4.12.82
  internal-channels/stable.yaml
Due: none

channels/stable-4.17: Promote 4.16.52
  channels/stable-4.17.yaml
Due: none

channels/stable-4.19: Promote 4.18.28
  channels/stable-4.19.yaml
Due: none

channels/eus-4.12: Promote 4.12.82
  channels/eus-4.12.yaml
Due: none

channels/fast-4.14: Promote 4.14.59
  channels/fast-4.14.yaml
Due: none

Enable 4.18.29 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.18: Promote 4.18.29
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.29
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.29
  channels/candidate-4.20.yaml
Due: none

blocked-edges/4.18.29-RuncShareProcessNamespace: Declare risk
  blocked-edges/4.16.53-RuncShareProcessNamespace.yaml
  blocked-edges/4.17.44-RuncShareProcessNamespace.yaml
  blocked-edges/4.18.29-RuncShareProcessNamespace.yaml
  blocked-edges/4.19.19-RuncShareProcessNamespace.yaml
  blocked-edges/4.20.4-RuncShareProcessNamespace.yaml
Due: validate-blocked-edges

blocked-edges/*-RuncShareProcessNamespace: Extend to 4.14.59 and 4.12.83
  blocked-edges/4.12.83-RuncShareProcessNamespace.yaml
  blocked-edges/4.14.59-RuncShareProcessNamespace.yaml
Due: validate-blocked-edges

Extend RuncShareProcessNamespace to 4.20.5
  blocked-edges/4.20.5-RuncShareProcessNamespace.yaml
Due: validate-blocked-edges

Enable 4.16.53 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

channels/candidate-4.16: Promote 4.16.53
  channels/candidate-4.16.yaml
Due: none

channels/candidate-4.17: Promote 4.16.53
  channels/candidate-4.17.yaml
Due: none

channels/candidate-4.18: Promote 4.16.53
  channels/candidate-4.18.yaml
Due: none

Enable 4.20.5 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati

blocked-edges/4.20.5-ARO420UDRWorkerNodesFail: Not fixed yet
  blocked-edges/4.20.5-ARO420UDRWorkerNodesFail.yaml
Due: validate-blocked-edges

channels/candidate-4.20: Promote 4.20.5
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.5
  channels/candidate-4.21.yaml
Due: none

blocked-edges/*-RuncShareProcessNamespace: hostNetwork:true is not required
  blocked-edges/4.12.83-RuncShareProcessNamespace.yaml
  blocked-edges/4.14.59-RuncShareProcessNamespace.yaml
  blocked-edges/4.16.53-RuncShareProcessNamespace.yaml
  blocked-edges/4.17.44-RuncShareProcessNamespace.yaml
  blocked-edges/4.18.29-RuncShareProcessNamespace.yaml
  blocked-edges/4.19.19-RuncShareProcessNamespace.yaml
  blocked-edges/4.20.4-RuncShareProcessNamespace.yaml
  blocked-edges/4.20.5-RuncShareProcessNamespace.yaml
Due: validate-blocked-edges

blocked-edges/4.19.18-SCOSBootImage: Declare risk
  blocked-edges/4.19.18-SCOSBootImage.yaml
Due: validate-blocked-edges

internal-channels/fast: Promote 4.20.5
  internal-channels/fast.yaml
Due: none

channels/fast-4.20: Promote 4.20.5
  channels/fast-4.20.yaml
Due: none

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
