Repository openshift/cincinnati-graph-data: changes, and which Prow jobs are due for each by the changed paths.
All: e2e, e2e-latest-cincinnati, validate-blocked-edges, stabilization-bot-tests, ci/prow/e2e, ci/prow/e2e-latest-cincinnati, ci/prow/stabilization-bot-tests, ci/prow/validate-blocked-edges

Path conditions:
  e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*
  stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/e2e: any of: internal-channels/candidate.yaml|graph-data.rs/.*
  ci/prow/e2e-latest-cincinnati: any of: internal-channels/candidate.yaml
  ci/prow/stabilization-bot-tests: any of: hack/(stabilization-changes|util).py
  ci/prow/validate-blocked-edges: any of: hack/validate-blocked-edges.py|blocked-edges/.*

Enable 4.12.92 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.12: Promote 4.12.92
  channels/candidate-4.12.yaml
Due: none

channels/candidate-4.13: Promote 4.12.92
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.12.92
  channels/candidate-4.14.yaml
Due: none

Enable 4.13.68 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

internal-channels/stable: Promote 4.15.65
  internal-channels/stable.yaml
Due: none

channels/candidate-4.13: Promote 4.13.68
  channels/candidate-4.13.yaml
Due: none

channels/candidate-4.14: Promote 4.13.68
  channels/candidate-4.14.yaml
Due: none

internal-channels/stable: Promote 4.21.19
  internal-channels/stable.yaml
Due: none

channels/stable-4.21: Promote 4.21.19
  channels/stable-4.21.yaml
Due: none

Enable 4.18.45 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.18: Promote 4.18.45
  channels/candidate-4.18.yaml
Due: none

channels/candidate-4.19: Promote 4.18.45
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.18.45
  channels/candidate-4.20.yaml
Due: none

Enable 4.19.35 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Enable 4.20.26 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.19: Promote 4.19.35
  channels/candidate-4.19.yaml
Due: none

channels/candidate-4.20: Promote 4.19.35
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.20: Promote 4.20.26
  channels/candidate-4.20.yaml
Due: none

channels/candidate-4.21: Promote 4.20.26
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.20.26
  channels/candidate-4.22.yaml
Due: none

Enable 4.21.21 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

channels/candidate-4.21: Promote 4.21.21
  channels/candidate-4.21.yaml
Due: none

channels/candidate-4.22: Promote 4.21.21
  channels/candidate-4.22.yaml
Due: none

Enable 4.22.2 in candidate channel
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

Extend risk/S390xContainerDataFailure to 4.22.2
  blocked-edges/4.22.2-S390xContainerDataFailure.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

channels/candidate-4.22: Promote 4.22.2
  channels/candidate-4.22.yaml
Due: none

channels/candidate-5.0: Promote 4.22.2
  channels/candidate-5.0.yaml
Due: none

tombstone 4.14.67
  internal-channels/candidate.yaml
Due: e2e, e2e-latest-cincinnati, ci/prow/e2e, ci/prow/e2e-latest-cincinnati

blocked-edges: Add ControlPlaneStatusGreyIcon risk for 4.20.23-24
  blocked-edges/4.20.23-ControlPlaneStatusGreyIcon.yaml
  blocked-edges/4.20.24-ControlPlaneStatusGreyIcon.yaml
Due: validate-blocked-edges, ci/prow/validate-blocked-edges

internal-channels/fast: Promote 4.20.26
  internal-channels/fast.yaml
Due: none

internal-channels/fast: Promote 4.21.21
  internal-channels/fast.yaml
Due: none

internal-channels/stable: Promote 4.22.1
  internal-channels/stable.yaml
Due: none

channels/eus-4.22: Promote 4.22.1
  channels/eus-4.22.yaml
Due: none

internal-channels/fast: Promote 4.22.2
  internal-channels/fast.yaml
Due: none

channels/fast-4.20: Promote 4.20.26
  channels/fast-4.20.yaml
Due: none

channels/fast-4.21: Promote 4.21.21
  channels/fast-4.21.yaml
Due: none

internal-channels/stable: Promote 4.20.25
  internal-channels/stable.yaml
Due: none

channels/stable-4.22: Promote 4.22.1
  channels/stable-4.22.yaml
Due: none

channels/eus-4.20: Promote 4.20.25
  channels/eus-4.20.yaml
Due: none
