Repository kubevirt/hyperconverged-cluster-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Path conditions:
  ci/prow/ci-index-hco-upgrade-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/ci-index-hco-upgrade-prev-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-image-index-aws: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-image-index-azure: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-image-index-gcp: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-image-index-sno-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-image-index-sno-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-kv-smoke-azure: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-kv-smoke-gcp: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-upgrade-index-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-index-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-index-sno-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-index-sno-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-sno-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-sno-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-ci-index-hco-upgrade-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-ci-index-hco-upgrade-prev-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-image-index-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-image-index-gcp: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-upgrade-index-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-upgrade-index-gcp: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-images: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/ci-index: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-azure: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-azure: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-ci-index: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-image-index-azure: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-upgrade-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$

Recreate deployment if LabelSelector changes during upgrade
  controllers/operands/deploymentHandler.go
  controllers/operands/deploymentHandler_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Adds labels to kubevirt-console-plugin pod
  controllers/operands/kubevirtConsolePlugin.go
  controllers/operands/kubevirtConsolePlugin_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Enable KubeVirt VM Persistent State feature gate
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/operands/kubevirt.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Handle cluster level eviction strategy on SNO as a special case
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  deploy/crds/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
  hack/check_defaults.sh
  pkg/webhooks/mutator/hyperConvergedMutator.go
  pkg/webhooks/mutator/hyperConvergedMutator_test.go
  tests/func-tests/cluster_eviction_strategy_test.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/hyperconverged_types.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.openapi.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Changes based on Simone's feedback
  controllers/operands/deploymentHandler.go
  controllers/operands/deploymentHandler_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Various changes
  controllers/operands/deploymentHandler.go
  controllers/operands/deploymentHandler_test.go
  controllers/operands/kubevirtConsolePlugin_test.go
  controllers/operands/operand.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Debug: understand e2e failure in verifyOperatorHealthMetricValue
  tests/func-tests/monitoring_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-image-index-azure

Propagate nodeplacement to kubevirt-console-plugin deployment
  controllers/operands/deploymentHandler.go
  controllers/operands/kubevirtConsolePlugin.go
  controllers/operands/kubevirtConsolePlugin_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Fix `verifyOperatorHealthMetricValue()`
  tests/func-tests/monitoring_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-image-index-azure

Align function names with main branch
  controllers/operands/kubevirtConsolePlugin_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Fix `verifyOperatorHealthMetricValue()` (#2382)
  tests/func-tests/monitoring_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-image-index-azure

feat(CNV-23171): update HCO api
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  assets/upgradePatches.json
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/operands/ssp.go
  deploy/crds/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
  go.mod
  go.sum
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/hyperconverged_types.go
  vendor/kubevirt.io/ssp-operator/api/v1beta1/ssp_types.go
  vendor/kubevirt.io/ssp-operator/api/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Configure the client cache for CustomResourceDefinitions
  cmd/hyperconverged-cluster-operator/main.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Fix unit tests
  assets/upgradePatches.json
  controllers/commontestutils/testClient.go
  controllers/hyperconverged/hyperconverged_controller.go
  controllers/hyperconverged/hyperconverged_controller_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

consume SSP v0.18.0-rc.0 images
  deploy/cluster_role.yaml
  deploy/crds/scheduling-scale-performance00.crd.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/scheduling-scale-performance00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/scheduling-scale-performance00.crd.yaml
  deploy/operator.yaml
  hack/config
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/hyperconverged_types.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.deepcopy.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.openapi.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Add explict checks on e2e upgrade lanes
  hack/upgrade-test-index-image.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Add unit test
  controllers/hyperconverged/hyperconverged_controller_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

chore: bump ssp-operator to v0.18.0-rc.1
  controllers/hyperconverged/hyperconverged_controller_test.go
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Fix unit tests 2
  controllers/hyperconverged/hyperconverged_controller_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

chore: set semverRange to <=1.10.0
  assets/upgradePatches.json
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

chore: bump ssp-operator to v0.18.0-rc.2
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Fix the fix-flacky-test flaky test
  hack/check_tlsprofile.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

rebase
  deploy/cluster_role.yaml
  deploy/crds/cluster-network-addons00.crd.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/cluster-network-addons00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/cluster-network-addons00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/github.com/kubevirt/cluster-network-addons-operator/pkg/apis/networkaddonsoperator/shared/networkaddonsconfig_types.go
  tests/vendor/modules.txt
  vendor/github.com/kubevirt/cluster-network-addons-operator/pkg/apis/networkaddonsoperator/shared/networkaddonsconfig_types.go
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Update component graphs from the nightly job
  docs/component.gv
  docs/component.gv.svg
  docs/managed-by.gv.svg
Due: none

Use Nil/Empty checks instead of Zero in tests
  controllers/operands/kubevirtConsolePlugin_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

chore: bump ssp-operator to v0.18.0
  deploy/cluster_role.yaml
  deploy/crds/scheduling-scale-performance00.crd.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/scheduling-scale-performance00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/scheduling-scale-performance00.crd.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  vendor/kubevirt.io/ssp-operator/api/v1beta1/ssp_types.go
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Fix BZ 2215756: Failed kubevirt-plugin
  controllers/operands/kubevirtConsolePlugin.go
  controllers/operands/kubevirtConsolePlugin_test.go
  pkg/util/consts.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/pkg/util/consts.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

chore: bump ssp-operator to v0.18.0
  cmd/hyperconverged-cluster-operator/main.go
  cmd/hyperconverged-cluster-webhook/main.go
  controllers/commontestutils/testUtils.go
  controllers/hyperconverged/hyperconverged_controller.go
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/hyperconverged/testUtils_test.go
  controllers/operands/ssp.go
  controllers/operands/ssp_test.go
  deploy/cluster_role.yaml
  deploy/crds/scheduling-scale-performance00.crd.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/scheduling-scale-performance00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/scheduling-scale-performance00.crd.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  pkg/webhooks/mutator/namespace_mutator_test.go
  pkg/webhooks/validator/validator.go
  pkg/webhooks/validator/validator_test.go
  vendor/kubevirt.io/ssp-operator/api/v1beta2/groupversion_info.go
  vendor/kubevirt.io/ssp-operator/api/v1beta2/ssp_types.go
  vendor/kubevirt.io/ssp-operator/api/v1beta2/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Add metrics linter
  Makefile
  go.mod
  go.sum
  hack/prom_metric_linter.sh
  tools/prom-metrics-collector/metrics_collector.go
  tools/prom-metrics-collector/metrics_json_generator.go
  vendor/github.com/kubevirt/monitoring/test/metrics/prom-metrics-linter/metrics-parser/metrics_parser.go
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Move the default values test to golang
  hack/check_defaults.sh
  hack/run-tests.sh
  tests/func-tests/defaults_test.go
  tests/func-tests/utils.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

fix a problem that the following test sometimes failes because SSP is not ready
  hack/check_tlsprofile.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Expose HCO monitoring on plain k8s
  controllers/alerts/metrics_test.go
  controllers/alerts/rbac.go
  controllers/alerts/reconciler.go
  controllers/commontestutils/testUtils.go
  controllers/hyperconverged/hyperconverged_controller.go
  pkg/util/cluster.go
  pkg/util/consts.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/pkg/util/cluster.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/pkg/util/consts.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.9] Expose DisableMDEVConfiguration feature gate on HCO API (#2320)
  Makefile
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.defaults.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/operands/kubevirt.go
  controllers/operands/kubevirt_test.go
  deploy/crds/hco00.crd.yaml
  deploy/hco.cr.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  docs/api.md
  hack/check_defaults.sh
  tests/func-tests/node_placement_test.go
  tests/func-tests/virtual_machines_test.go
  tests/go.sum
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/hyperconverged_types.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.deepcopy.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.defaults.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.openapi.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.9] Expose DisableMDEVConfiguration feature gate on HCO API (#2320) (#2367)
  Makefile
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.defaults.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/operands/kubevirt.go
  controllers/operands/kubevirt_test.go
  deploy/crds/hco00.crd.yaml
  deploy/hco.cr.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  docs/api.md
  hack/check_defaults.sh
  tests/func-tests/node_placement_test.go
  tests/func-tests/virtual_machines_test.go
  tests/go.sum
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/hyperconverged_types.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.deepcopy.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.defaults.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.openapi.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws
