Repository kubevirt/hyperconverged-cluster-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Path conditions:
  ci/prow/ci-index-hco-upgrade-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/ci-index-hco-upgrade-prev-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-image-index-aws: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-image-index-azure: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-image-index-gcp: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-image-index-sno-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-image-index-sno-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-kv-smoke-azure: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-kv-smoke-gcp: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-upgrade-index-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-index-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-index-sno-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-index-sno-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-sno-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-sno-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-ci-index-hco-upgrade-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-ci-index-hco-upgrade-prev-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-image-index-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-image-index-gcp: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-upgrade-index-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-upgrade-index-gcp: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-images: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/ci-index: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-azure: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-azure: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-ci-index: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-image-index-azure: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-upgrade-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$

cluster-sync: Split to functions
  cluster/sync.sh
Due: none

cluster-sync: Support external provider
  README.md
  cluster/sync.sh
  hack/compare_scc.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

sync: Use REGISTRY_NAMESPACE semantics
  Makefile
  README.md
  cluster/sync.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Add ConsolePlugin CR to HCO controller watch list
  cmd/hyperconverged-cluster-operator/main.go
  controllers/hyperconverged/hyperconverged_controller.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Add ConsolePlugin CR to HCO controller watch list (#2209)
  cmd/hyperconverged-cluster-operator/main.go
  controllers/hyperconverged/hyperconverged_controller.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Add HCO health metric
  api/v1beta1/hyperconverged_types.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/common/hcoConditions.go
  controllers/common/hcoConditions_test.go
  controllers/hyperconverged/hyperconverged_controller.go
  controllers/hyperconverged/hyperconverged_controller_test.go
  deploy/crds/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/metrics.md
  pkg/metrics/metrics.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Refactor: rename mutator to namespace mutator
  pkg/webhooks/mutator/namespace_mutator.go
  pkg/webhooks/mutator/namespace_mutator_test.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Add documentation
  docs/cluster-configuration.md
Due: none

Enforce limits only if a relevant ResourceQuota exists
  deploy/cluster_role.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  pkg/components/components.go
  pkg/webhooks/mutator/virt-launcher-mutator.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Introduce basic virt-launcher mutator
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  go.mod
  hack/test_delete_ns.sh
  pkg/components/components.go
  pkg/util/consts.go
  pkg/webhooks/mutator/namespace_mutator.go
  pkg/webhooks/mutator/namespace_mutator_test.go
  pkg/webhooks/mutator/utils.go
  pkg/webhooks/mutator/virt-launcher-mutator.go
  pkg/webhooks/mutator/virt-launcher-mutator_test.go
  pkg/webhooks/setup.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Implement handleVirtLauncherCreation()
  pkg/webhooks/mutator/virt-launcher-mutator.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Unit test: test virt-launcher mutator
  pkg/webhooks/mutator/virt-launcher-mutator_test.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Add new webhook as deployable to KubevirtCI cluster
  deploy/webhooks.yaml
Due: none

kubevirtci: Bump default cluster version
  cluster/kubevirtci.sh
Due: none

ksd: Support NameServerIP
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/operands/networkAddons.go
  controllers/operands/networkAddons_test.go
  deploy/crds/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Consume fresher opm tool
  .github/workflows/build-push-images.yaml
  .github/workflows/publish-community-operators.yaml
Due: none

Update OPM version in publish to community operators workflow
  .github/workflows/publish-community-operators.yaml
Due: none

Consume fresher opm tool (#2216)
  .github/workflows/build-push-images.yaml
  .github/workflows/publish-community-operators.yaml
Due: none

Correcty set links in release notes
  tools/release-notes/git/github.go
Due: none

Bump NETWORK_ADDONS to v0.85.0
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/hyperconverged_types.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.deepcopy.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.openapi.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/pkg/util/consts.go
  tests/vendor/modules.txt
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Consume Kubevirt nightly from 20230125 while waiting for v0.59.0
  build/Dockerfile.artifacts
  deploy/crds/kubevirt00.crd.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt00.crd.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  hack/kv-smoke-tests.sh
  vendor/kubevirt.io/api/core/v1/deepcopy_generated.go
  vendor/kubevirt.io/api/core/v1/types.go
  vendor/kubevirt.io/api/core/v1/types_swagger_generated.go
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

KubeVirt: always set the feature gate that disables the custom SELinux policy
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/operands/kubevirt.go
  controllers/operands/kubevirt_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

KubeVirt: enable the seccomp feature gate and custom profile
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/operands/kubevirt.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Fix an issue in DataImportCron templates
  assets/dataImportCronTemplates/dataImportCronTemplates.yaml
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Provide better guidance for HCO on CRC
  README.md
  images/CRC_OperatorHub.png
Due: none

Demo of linter
  controllers/operands/ssp_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Consume Kubevirt v0.59.0-rc.0
  build/Dockerfile.artifacts
  deploy/cluster_role.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  hack/kv-smoke-tests.sh
  vendor/kubevirt.io/api/core/v1/schema.go
  vendor/kubevirt.io/api/core/v1/schema_swagger_generated.go
  vendor/kubevirt.io/api/core/v1/types.go
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

use the ginkgo linter in CI
  .github/workflows/pr-sanity.yaml
  .golangci.yml
Due: none

[test] Consume fresh prometheus image
  hack/prom-rule-ci/verify-rules.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

WIP: try to use apiutil.RESTClientForGVK for a raw API call
  cluster/kubevirtci.sh
  cmd/hyperconverged-cluster-operator/main.go
  deploy/cluster_role.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  pkg/components/components.go
  pkg/util/util.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Bump fedora image
  deploy/Dockerfile.registry.upgrade
  deploy/Dockerfile.registry.upgrade-prev
  deploy/index-image/Dockerfile.bundle.ci-index-image-upgrade
  deploy/olm-catalog/Dockerfile.bundle.ci-index-image-upgrade
  tests/build/Dockerfile
  tools/operator-sdk-validate/Dockerfile
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.8] Bump fedora image (#2233)
  deploy/Dockerfile.registry.upgrade
  deploy/Dockerfile.registry.upgrade-prev
  deploy/index-image/Dockerfile.bundle.ci-index-image-upgrade
  deploy/olm-catalog/Dockerfile.bundle.ci-index-image-upgrade
  tests/build/Dockerfile
  tools/operator-sdk-validate/Dockerfile
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.7] Bump fedora image (#2233)
  deploy/Dockerfile.registry.upgrade
  deploy/Dockerfile.registry.upgrade-prev
  deploy/index-image/Dockerfile.bundle.ci-index-image-upgrade
  deploy/olm-catalog/Dockerfile.bundle.ci-index-image-upgrade
  tests/build/Dockerfile
  tools/operator-sdk-validate/Dockerfile
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Introduce a new jsonpatch annotation for SSP
  controllers/common/consts.go
  controllers/hyperconverged/hyperconverged_controller.go
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/operands/ssp.go
  controllers/operands/ssp_test.go
  docs/cluster-configuration.md
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/webhooks/validator/validator.go
  pkg/webhooks/validator/validator_test.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Fix UI plugin deployment name from 'kubevirt-plugin' to 'kubevirt-console-plugin'
  controllers/operands/kubevirtConsolePlugin.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Doc: Add a document explaining how to consume HCO metrics locally.
  docs/deploy_metrics_locally.md
Due: none

[release-1.6] Bump fedora image (#2233)
  deploy/Dockerfile.registry.upgrade
  deploy/Dockerfile.registry.upgrade-prev
  deploy/index-image/Dockerfile.bundle.ci-index-image-upgrade
  deploy/olm-catalog/Dockerfile.bundle.ci-index-image-upgrade
  tests/build/Dockerfile
  tools/operator-sdk-validate/Dockerfile
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws
