Repository kubevirt/hyperconverged-cluster-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

ci/prow/ci-index-hco-upgrade-bundle:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/ci-index-hco-upgrade-prev-bundle:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/hco-e2e-image-index-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/hco-e2e-image-index-azure:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/hco-e2e-image-index-gcp:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/hco-e2e-image-index-sno-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/hco-e2e-image-index-sno-azure:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/hco-e2e-kv-smoke-azure:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

[release-1.8] Fix the sanity test to run also here
  .github/workflows/pr-sanity.yaml
Due: none

[release-1.8] Fix the sanity test to run also here (#2175)
  .github/workflows/pr-sanity.yaml
Due: none

Fix the release-bumper workflow
  .github/workflows/release-bumper.yml
Due: none

Bump KUBEVIRT_CONSOLE_PLUGIN to v4.12.0 (#2173)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  hack/config
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Bump CDI to v1.55.1
  deploy/cluster_role.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/modules.txt
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Bump CDI to v1.55.1
  deploy/cluster_role.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/modules.txt
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Update github action versions
  .github/workflows/build-push-images.yaml
  .github/workflows/dashboard-updater.yml
  .github/workflows/digester_bot.yml
  .github/workflows/graphs-updater.yml
  .github/workflows/override-bot.yaml
  .github/workflows/pr-sanity.yaml
  .github/workflows/publish-community-operators.yaml
  .github/workflows/rebase-bot.yml
  .github/workflows/release-bumper.yml
Due: none

Bump CDI to v1.55.1 (#2178)
  deploy/cluster_role.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/modules.txt
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Avoid omitempty on WorkloadUpdateMethods
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  deploy/crds/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  docs/api.md
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.8] Avoid omitempty on WorkloadUpdateMethods (#2180)
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  deploy/crds/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/hco00.crd.yaml
  docs/api.md
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.7] Avoid omitempty on WorkloadUpdateMethods (#2180)
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  deploy/crds/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.7.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.7.0/manifests/hco00.crd.yaml
  docs/api.md
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.7] Avoid omitempty on WorkloadUpdateMethods (#2180) (#2182)
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  deploy/crds/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.7.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.7.0/manifests/hco00.crd.yaml
  docs/api.md
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.8] Avoid omitempty on WorkloadUpdateMethods (#2180) (#2181)
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  deploy/crds/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/hco00.crd.yaml
  docs/api.md
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Fix Release Bumper - matrix output
  .github/workflows/release-bumper.yml
Due: none

Bump NETWORK_ADDONS to v0.83.0
  deploy/crds/cluster-network-addons00.crd.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/cluster-network-addons00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/cluster-network-addons00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/github.com/kubevirt/cluster-network-addons-operator/pkg/apis/networkaddonsoperator/shared/networkaddonsconfig_types.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/hyperconverged_types.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.openapi.go
  tests/vendor/modules.txt
  vendor/github.com/kubevirt/cluster-network-addons-operator/pkg/apis/networkaddonsoperator/shared/networkaddonsconfig_types.go
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Bump CDI to v1.55.2
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/modules.txt
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Bump CDI to v1.55.2 (#2185)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/modules.txt
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Bump CDI to v1.55.2
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/modules.txt
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Don't publish to community operators for unstable tags
  .github/workflows/publish-community-operators.yaml
Due: none

Add core-dns image by digest for CNAO
  deploy/images.csv
  deploy/images.env
  hack/build-manifests.sh
  hack/config
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

cluster-up: Fix tag updating
  cluster/kubevirtci.sh
Due: none

WIP: Add KubeVirt rate limiting profiles through configmap
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/hyperconverged/hyperconverged_controller.go
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/hyperconverged/testUtils_test.go
  controllers/operands/cdi.go
  controllers/operands/cdi_test.go
  controllers/operands/cliDownload.go
  controllers/operands/cmHandler.go
  controllers/operands/deploymentHandler.go
  controllers/operands/ensure_result_test.go
  controllers/operands/imageStream.go
  controllers/operands/kubevirt.go
  controllers/operands/kubevirtConsolePlugin.go
  controllers/operands/kubevirt_test.go
  controllers/operands/networkAddons.go
  controllers/operands/networkAddons_test.go
  controllers/operands/operand.go
  controllers/operands/operandHandler.go
  controllers/operands/quickStart.go
  controllers/operands/rbac.go
  controllers/operands/serviceHandler.go
  controllers/operands/ssp.go
  controllers/operands/ssp_test.go
  controllers/operands/tto.go
  controllers/operands/tto_test.go
  deploy/crds/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
  hack/check_tuningPolicy.sh
  pkg/webhooks/validator/validator.go
  pkg/webhooks/validator/validator_test.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Support KubeSecondaryDNS
  controllers/operands/networkAddons.go
  controllers/operands/networkAddons_test.go
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  docs/cluster-configuration.md
  hack/check_upgrade_ksd.sh
  hack/upgrade-test-index-image.sh
  hack/upgrade-test.sh
  pkg/components/components.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Fix the "when reconciling ovs-cni" unit test
  controllers/operands/networkAddons_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Add `operator_health_impact` label to HCO alerts
  controllers/alerts/alerts.go
  hack/prom-rule-ci/prom-rules-tests.yaml
  tests/func-tests/monitoring_test.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Bump NETWORK_ADDONS to v0.83.1
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/modules.txt
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

CNAO, KubeSecondaryDNS: Support KSD by a featuregate
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.defaults.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/operands/networkAddons.go
  controllers/operands/networkAddons_test.go
  deploy/crds/hco00.crd.yaml
  deploy/hco.cr.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
  hack/check_defaults.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

WIP: test placement
  deploy/hco.cr.yaml
  tests/func-tests/node_placement_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-image-index-azure

Revert "Bump NETWORK_ADDONS to v0.83.1 (#2194)"
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/modules.txt
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

CNAO, KubeSecondaryDNS: Support KSD by a feature gate
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.defaults.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/operands/networkAddons.go
  controllers/operands/networkAddons_test.go
  deploy/crds/hco00.crd.yaml
  deploy/hco.cr.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
  hack/check_defaults.sh
  tests/func-tests/node_placement_test.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Consume ConsolePlugin API as v1
  cmd/hyperconverged-cluster-operator/main.go
  controllers/commonTestUtils/testUtils.go
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/hyperconverged/testUtils_test.go
  controllers/operands/kubevirtConsolePlugin.go
  controllers/operands/kubevirtConsolePlugin_test.go
  pkg/util/util.go
  vendor/github.com/openshift/api/console/v1alpha1/0000_10_consoleplugin.crd.yaml
  vendor/github.com/openshift/api/console/v1alpha1/Makefile
  vendor/github.com/openshift/api/console/v1alpha1/doc.go
  vendor/github.com/openshift/api/console/v1alpha1/register.go
  vendor/github.com/openshift/api/console/v1alpha1/stable.consoleplugin.testsuite.yaml
  vendor/github.com/openshift/api/console/v1alpha1/types.go
  vendor/github.com/openshift/api/console/v1alpha1/types_console_plugin.go
  vendor/github.com/openshift/api/console/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/console/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Expose allowAutoConverge and allowPostCopy
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.defaults.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/operands/kubevirt.go
  controllers/operands/kubevirt_test.go
  deploy/crds/hco00.crd.yaml
  deploy/hco.cr.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
  hack/check_defaults.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Update auto gen files
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.defaults.go
  api/v1beta1/zz_generated.openapi.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

ksd: Support passing BaseDomain on Openshift
  controllers/commonTestUtils/testUtils.go
  controllers/hyperconverged/hyperconverged_controller_test.go
  controllers/operands/networkAddons.go
  controllers/operands/networkAddons_test.go
  controllers/webhooks/controller_test.go
  deploy/cluster_role.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  pkg/components/components.go
  pkg/util/cluster.go
  pkg/util/cluster_test.go
  pkg/webhooks/validator/validator_test.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Improve test readability
  controllers/operands/cdi_test.go
  controllers/operands/dashboard_test.go
  controllers/operands/operandHandler_test.go
  pkg/util/cluster_test.go
  pkg/util/file_test.go
  pkg/util/hcoping_test.go
  pkg/util/operatorcondition_test.go
  pkg/util/util_test.go
  pkg/webhooks/mutator/mutator_test.go
  pkg/webhooks/setup_test.go
  pkg/webhooks/validator/validator_test.go
  tests/func-tests/cli_download_test.go
  tests/func-tests/monitoring_test.go
  tests/func-tests/node_placement_test.go
  tests/func-tests/quickstart_test.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

dataImportCronTemplates: Add default instance type labels
  assets/dataImportCronTemplates/dataImportCronTemplates.yaml
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Add KubeVirt rate liming profiles through annotation
  api/v1beta1/hyperconverged_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/zz_generated.defaults.go
  api/v1beta1/zz_generated.openapi.go
  config/crd/bases/hco.kubevirt.io_hyperconvergeds.yaml
  controllers/common/consts.go
  controllers/operands/kubevirt.go
  controllers/operands/kubevirt_test.go
  deploy/crds/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/hco00.crd.yaml
  docs/api.md
  docs/cluster-configuration.md
  hack/check_tuningPolicy.sh
  hack/run-tests.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Bump NETWORK_ADDONS to v0.84.0
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/hyperconverged_types.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.deepcopy.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.defaults.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/zz_generated.openapi.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/pkg/util/cluster.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/pkg/util/util.go
  tests/vendor/modules.txt
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Path conditions:
  ci/prow/ci-index-hco-upgrade-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/ci-index-hco-upgrade-prev-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-image-index-aws: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-image-index-azure: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-image-index-gcp: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-image-index-sno-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-image-index-sno-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-kv-smoke-azure: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-kv-smoke-gcp: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-upgrade-index-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-index-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-index-sno-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-index-sno-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-sno-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-sno-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-ci-index-hco-upgrade-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-ci-index-hco-upgrade-prev-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-image-index-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-image-index-gcp: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-upgrade-index-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-upgrade-index-gcp: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-images: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/ci-index: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-azure: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-azure: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-ci-index: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-image-index-azure: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-upgrade-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
