Repository kubevirt/hyperconverged-cluster-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

ci/prow/ci-index-hco-upgrade-bundle:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/ci-index-hco-upgrade-prev-bundle:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/hco-e2e-image-index-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/hco-e2e-image-index-azure:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/hco-e2e-image-index-gcp:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/hco-e2e-image-index-sno-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/hco-e2e-image-index-sno-azure:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/hco-e2e-kv-smoke-azure:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Functests: headroom webhook
  tests/func-tests/utils.go
  tests/func-tests/virt-launcher-mutating-webhook.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-image-index-azure

[main] Bump Kubevirt to v0.59.0
  build/Dockerfile.artifacts
  deploy/cluster_role.yaml
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  hack/kv-smoke-tests.sh
  vendor/kubevirt.io/api/core/v1/types.go
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Workaround for nonRoot FG on Kubevirt
  api/v1beta1/hyperconverged_types.go
  controllers/operands/kubevirt.go
  controllers/operands/kubevirt_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Bump CDI to v1.56.0
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/operator.yaml
  go.mod
  go.sum
  hack/config
  tests/go.mod
  tests/go.sum
  tests/vendor/modules.txt
  vendor/modules.txt
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Fix junit output from tests
  hack/run-tests.sh
  tests/func-tests/cli_download_test.go
  tests/func-tests/main_test.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Remove a workaround needed with old Kubevirt
  hack/upgrade-test-index-image.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Use ECDSA for the test VM on upgrade tests
  hack/upgrade-test-index-image.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Add e2e-test to health-status recording rule
  tests/func-tests/monitoring_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-image-index-azure

Add Jira Ticket section to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add header to PR template as used in other kubevirt projects
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Refactor: rename mutator to namespace mutator
  pkg/webhooks/mutator/namespace_mutator.go
  pkg/webhooks/mutator/namespace_mutator_test.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Introduce basic virt-launcher mutator
  api/v1beta1/hyperconverged_types.go
  controllers/operands/quickStart.go
  deploy/index-image/community-kubevirt-hyperconverged/1.7.0/manifests/kubevirt-hyperconverged-operator.v1.7.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.7.0/manifests/kubevirt-hyperconverged-operator.v1.7.0.clusterserviceversion.yaml
  go.mod
  hack/test_delete_ns.sh
  pkg/components/components.go
  pkg/util/consts.go
  pkg/util/file.go
  pkg/webhooks/mutator/namespace_mutator.go
  pkg/webhooks/mutator/namespace_mutator_test.go
  pkg/webhooks/mutator/utils.go
  pkg/webhooks/mutator/virt-launcher-mutator.go
  pkg/webhooks/mutator/virt-launcher-mutator_test.go
  pkg/webhooks/setup.go
  tests/func-tests/utils.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Add new webhook as deployable to KubevirtCI cluster
  deploy/webhooks.yaml
Due: none

Implement handleVirtLauncherCreation()
  pkg/webhooks/mutator/virt-launcher-mutator.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Enforce limits only if a relevant ResourceQuota exists
  deploy/cluster_role.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.7.0/manifests/kubevirt-hyperconverged-operator.v1.7.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.7.0/manifests/kubevirt-hyperconverged-operator.v1.7.0.clusterserviceversion.yaml
  pkg/components/components.go
  pkg/webhooks/mutator/virt-launcher-mutator.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Unit test: test virt-launcher mutator
  pkg/webhooks/mutator/virt-launcher-mutator_test.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Add documentation
  docs/cluster-configuration.md
Due: none

Revert "hack: add a workaround for DataVolume GC on CDI v1.55.0"
  hack/kv-smoke-tests.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Disable PSA for upgrades with kv v0.58 on OCP/OKD
  hack/upgrade-test-index-image.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Only trigger NodeStatusMaxImagesExceeded once and if CR exists
  controllers/alerts/alerts.go
  hack/prom-rule-ci/prom-rules-tests.yaml
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Bump version to 1.10.0
  README.md
  controllers/hyperconverged/hyperconverged_controller_test.go
  deploy/index-image/Dockerfile.bundle.ci-index-image-upgrade
  deploy/index-image/bundle.Dockerfile
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/cluster-network-addons00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/containerized-data-importer00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/hco00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/hostpath-provisioner00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/scheduling-scale-performance00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/tekton-tasks-operator00.crd.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/metadata/annotations.yaml
  deploy/kustomize/base/subscription.yaml
  deploy/kustomize/deploy_kustomize.sh
  deploy/kustomize/image_registry/catalog_source.yaml
  deploy/olm-catalog/Dockerfile.bundle.ci-index-image-upgrade
  deploy/olm-catalog/bundle.Dockerfile
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/cluster-network-addons00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/containerized-data-importer00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/hco00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/hostpath-provisioner00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/scheduling-scale-performance00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/tekton-tasks-operator00.crd.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/metadata/annotations.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/kubevirt-hyperconverged.package.yaml
  deploy/operator.yaml
  version/version.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.9] correctly configure sanity checks
  .github/workflows/pr-sanity.yaml
Due: none

[release-1.8] Align github actions from newer branches
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build-push-images.yaml
  .github/workflows/dashboard-updater.yml
  .github/workflows/digester_bot.yml
  .github/workflows/graphs-updater.yml
  .github/workflows/override-bot.yaml
  .github/workflows/pr-sanity.yaml
  .github/workflows/publish-community-operators.yaml
  .github/workflows/rebase-bot.yml
  .github/workflows/release-bumper.yml
  Makefile
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Fix bug and change cri selection procedure of cluster-sync. (#2155)
  cluster/sync.sh
Due: none

cluster-up: Fix tag updating (#2189)
  cluster/kubevirtci.sh
Due: none

Bump the default kubevirtci provider
  cluster/kubevirtci.sh
Due: none

Build also FBC based unstable index images
  .github/workflows/build-push-images.yaml
  hack/build-index-image.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.9] correctly configure sanity checks (#2288)
  .github/workflows/pr-sanity.yaml
Due: none

Fix FBC index build
  hack/build-index-image.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Handle an unhandled error
  controllers/hyperconverged/hyperconverged_controller.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Improve verifyOperatorHealthMetricValue
  tests/func-tests/monitoring_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-image-index-azure

Workaround for SELinux boolean for chardev
  cluster/kubevirtci.sh
Due: none

[release-1.8] Align github actions from newer branches (#2287)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build-push-images.yaml
  .github/workflows/dashboard-updater.yml
  .github/workflows/digester_bot.yml
  .github/workflows/graphs-updater.yml
  .github/workflows/override-bot.yaml
  .github/workflows/pr-sanity.yaml
  .github/workflows/publish-community-operators.yaml
  .github/workflows/rebase-bot.yml
  .github/workflows/release-bumper.yml
  Makefile
  cluster/kubevirtci.sh
  cluster/sync.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.8] Consume latest kubevirtci image
  cluster/kubevirtci.sh
Due: none

[CNV-26764] Change kubevirt-console-plugin ImagePullPolicy to IfNotPresent
  controllers/operands/kubevirtConsolePlugin.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Add support for two consecutive upgrade tests
  deploy/index-image/Dockerfile.bundle.200.ci-index-image-upgrade
  hack/build-manifests.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Introduce basic virt-launcher mutator
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  hack/test_delete_ns.sh
  pkg/components/components.go
  pkg/util/consts.go
  pkg/webhooks/mutator/namespace_mutator.go
  pkg/webhooks/mutator/namespace_mutator_test.go
  pkg/webhooks/mutator/utils.go
  pkg/webhooks/mutator/virt-launcher-mutator.go
  pkg/webhooks/mutator/virt-launcher-mutator_test.go
  pkg/webhooks/setup.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Enforce limits only if a relevant ResourceQuota exists
  deploy/cluster_role.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  go.mod
  pkg/components/components.go
  pkg/webhooks/mutator/virt-launcher-mutator.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Path conditions:
  ci/prow/ci-index-hco-upgrade-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/ci-index-hco-upgrade-prev-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-image-index-aws: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-image-index-azure: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-image-index-gcp: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-image-index-sno-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-image-index-sno-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-kv-smoke-azure: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-kv-smoke-gcp: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-upgrade-index-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-index-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-index-sno-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-index-sno-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-sno-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-sno-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-ci-index-hco-upgrade-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-ci-index-hco-upgrade-prev-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-image-index-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-image-index-gcp: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-upgrade-index-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-upgrade-index-gcp: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-images: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/ci-index: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-azure: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-azure: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-ci-index: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-image-index-azure: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-upgrade-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
