Repository kubevirt/hyperconverged-cluster-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Path conditions:
  ci/prow/ci-index-hco-upgrade-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/ci-index-hco-upgrade-prev-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-image-index-aws: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-image-index-azure: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-image-index-gcp: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-image-index-sno-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-image-index-sno-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-kv-smoke-azure: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-kv-smoke-gcp: (any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$) or (any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$)
  ci/prow/hco-e2e-upgrade-index-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-index-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-index-sno-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-index-sno-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-sno-aws: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-index-sno-azure: any of: ^(api/.*|assets/.*|build/.*|ci-test-files/.*|config/.*|controllers/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-ci-index-hco-upgrade-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-ci-index-hco-upgrade-prev-bundle: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-image-index-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-image-index-gcp: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-upgrade-index-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-upgrade-index-gcp: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-images: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/ci-index: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-azure: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/hco-e2e-upgrade-prev-azure: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-ci-index: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-image-index-azure: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|tests/.*|Makefile|go\.mod|go\.sum)$
  ci/prow/okd-hco-e2e-upgrade-aws: any of: ^(build/.*|cmd/.*|deploy/crds/.*|deploy/index-image/.*|hack/.*|pkg/.*|Makefile|go\.mod|go\.sum)$

Unit test: test virt-launcher mutator
  pkg/webhooks/mutator/virt-launcher-mutator_test.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Add documentation
  docs/cluster-configuration.md
Due: none

Refactor: rename mutator to namespace mutator
  pkg/webhooks/mutator/namespace_mutator.go
  pkg/webhooks/mutator/namespace_mutator_test.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Remove unnecessary input_series
  hack/prom-rule-ci/prom-rules-tests.yaml
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.8]: Kubevirt: Enforce limits & requests by a configurable ratio (#2280)
  deploy/cluster_role.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.8.0/manifests/kubevirt-hyperconverged-operator.v1.8.0.clusterserviceversion.yaml
  deploy/webhooks.yaml
  docs/cluster-configuration.md
  go.mod
  hack/test_delete_ns.sh
  pkg/components/components.go
  pkg/util/consts.go
  pkg/webhooks/mutator/namespace_mutator.go
  pkg/webhooks/mutator/namespace_mutator_test.go
  pkg/webhooks/mutator/utils.go
  pkg/webhooks/mutator/virt-launcher-mutator.go
  pkg/webhooks/mutator/virt-launcher-mutator_test.go
  pkg/webhooks/setup.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Bump KUBEVIRT_CONSOLE_PLUGIN to v4.13.0
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  hack/config
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/hyperconverged_types.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Improve test description
  hack/prom-rule-ci/prom-rules-tests.yaml
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.9] Bump KUBEVIRT_CONSOLE_PLUGIN to v4.13.0
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  hack/config
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

fix CRModification alert in upgrade
  controllers/alerts/metrics_test.go
  controllers/alerts/reconciler.go
  controllers/hyperconverged/hyperconverged_controller.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Use integer values for CPU requests in prom-rules-tests
  hack/prom-rule-ci/prom-rules-tests.yaml
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.7]: Kubevirt: Enforce limits & requests by a configurable ratio (#2225)
  api/v1beta1/hyperconverged_types.go
  controllers/operands/quickStart.go
  deploy/cluster_role.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.7.0/manifests/kubevirt-hyperconverged-operator.v1.7.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.7.0/manifests/kubevirt-hyperconverged-operator.v1.7.0.clusterserviceversion.yaml
  deploy/webhooks.yaml
  docs/cluster-configuration.md
  go.mod
  hack/test_delete_ns.sh
  pkg/components/components.go
  pkg/util/consts.go
  pkg/util/file.go
  pkg/webhooks/mutator/namespace_mutator.go
  pkg/webhooks/mutator/namespace_mutator_test.go
  pkg/webhooks/mutator/utils.go
  pkg/webhooks/mutator/virt-launcher-mutator.go
  pkg/webhooks/mutator/virt-launcher-mutator_test.go
  pkg/webhooks/setup.go
  tests/func-tests/utils.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Try to fix failures in the functional test
  tests/func-tests/monitoring_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-image-index-azure

Switch to HPP-CSI for CI tests
  hack/hpp/00_hpp_mc.yaml
  hack/hpp/10_hpp_cr.yaml
  hack/hpp/10_hpp_pool_cr.yaml
  hack/hpp/20_hpp_pool_sc.yaml
  hack/hpp/20_hpp_sc.yaml
  hack/hpp/30_hpp_csi_sc.yaml
  hack/hpp/30_hpp_pool_sc.yaml
  hack/hpp/configure_hpp_ha.sh
  hack/hpp/configure_hpp_legacy.sh
  hack/hpp/configure_hpp_sno.sh
  hack/hpp/deploy_hpp.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.9] Bump KUBEVIRT_CONSOLE_PLUGIN to v4.13.0 (#2298)
  deploy/images.csv
  deploy/images.env
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  hack/config
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Only trigger NodeStatusMaxImagesExceeded once and if CR exists
  controllers/alerts/alerts.go
  hack/prom-rule-ci/prom-rules-tests.yaml
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Improve verifyOperatorHealthMetricValue
  tests/func-tests/monitoring_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-image-index-azure

Revert "Disable PSA for upgrades with kv v0.58 on OCP/OKD (#2281)"
  hack/upgrade-test-index-image.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Switch to HPP-CSI for CI tests (#2307)
  hack/hpp/00_hpp_mc.yaml
  hack/hpp/10_hpp_cr.yaml
  hack/hpp/10_hpp_pool_cr.yaml
  hack/hpp/20_hpp_pool_sc.yaml
  hack/hpp/20_hpp_sc.yaml
  hack/hpp/30_hpp_csi_sc.yaml
  hack/hpp/30_hpp_pool_sc.yaml
  hack/hpp/configure_hpp_ha.sh
  hack/hpp/configure_hpp_legacy.sh
  hack/hpp/configure_hpp_sno.sh
  hack/hpp/deploy_hpp.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Change kubevirt-console-plugin ImagePullPolicy to IfNotPresent
  controllers/operands/kubevirtConsolePlugin.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Change kubevirt-console-plugin ImagePullPolicy to IfNotPresent (#2306)
  controllers/operands/kubevirtConsolePlugin.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

fix CRModification alert in upgrade (#2305)
  controllers/alerts/metrics_test.go
  controllers/alerts/reconciler.go
  controllers/hyperconverged/hyperconverged_controller.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure

Revert "Improve NodeStatusMaxImagesExceeded to only trigger one alert and only if HCO CR exists (#2274)"
  controllers/alerts/alerts.go
  hack/prom-rule-ci/prom-rules-tests.yaml
  tests/func-tests/monitoring_test.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Revert "Add KubeVirtHyperconvergedClusterOperatorPodSchedulingMightBeImbalanced alert (#2222)"
  cmd/hyperconverged-cluster-operator/main.go
  controllers/alerts/alerts.go
  controllers/nodeconfig/kubelet_config.go
  controllers/nodeconfig/nodeconfig_controller.go
  deploy/cluster_role.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  docs/metrics.md
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/components/components.go
  pkg/metrics/metrics.go
  pkg/util/util.go
  tests/func-tests/monitoring_test.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/hyperconverged_types.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/pkg/util/util.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Revert "Add KubeVirtHyperconvergedClusterOperatorPodSchedulingMightBeImbalanced alert (#2222)"
  cmd/hyperconverged-cluster-operator/main.go
  controllers/alerts/alerts.go
  controllers/nodeconfig/kubelet_config.go
  controllers/nodeconfig/nodeconfig_controller.go
  deploy/cluster_role.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.10.0/manifests/kubevirt-hyperconverged-operator.v1.10.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  docs/metrics.md
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/components/components.go
  pkg/metrics/metrics.go
  pkg/util/util.go
  tests/func-tests/monitoring_test.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/pkg/util/util.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Revert "Add KubeVirtHyperconvergedClusterOperatorPodSchedulingMightBeImbalanced alert (#2222)" (#2312)
  cmd/hyperconverged-cluster-operator/main.go
  controllers/alerts/alerts.go
  controllers/nodeconfig/kubelet_config.go
  controllers/nodeconfig/nodeconfig_controller.go
  deploy/cluster_role.yaml
  deploy/index-image/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  deploy/olm-catalog/community-kubevirt-hyperconverged/1.9.0/manifests/kubevirt-hyperconverged-operator.v1.9.0.clusterserviceversion.yaml
  docs/metrics.md
  hack/prom-rule-ci/prom-rules-tests.yaml
  pkg/components/components.go
  pkg/metrics/metrics.go
  pkg/util/util.go
  tests/func-tests/monitoring_test.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/api/v1beta1/hyperconverged_types.go
  tests/vendor/github.com/kubevirt/hyperconverged-cluster-operator/pkg/util/util.go
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

[release-1.9] Revert "Disable PSA for upgrades with kv v0.58 on OCP/OKD (#2281)"
  hack/upgrade-test-index-image.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Use integer values for CPU requests in prom-rules-tests (#2308)
  hack/prom-rule-ci/prom-rules-tests.yaml
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Adds step to run functional test with Kubevirt CI
  docs/functest-container.md
Due: none

[release-1.9] Revert "Disable PSA for upgrades with kv v0.58 on OCP/OKD (#2281)" (#2314)
  hack/upgrade-test-index-image.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

Use env `RUNBOOK_URL_TEMPLATE` as the runbooks URL template
  controllers/alerts/alerts.go
  controllers/alerts/metrics_test.go
  tests/func-tests/monitoring_test.go
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-image-index-azure

fix sanity test
  .github/workflows/pr-sanity.yaml
  hack/generate.sh
Due: ci/prow/ci-index-hco-upgrade-bundle, ci/prow/ci-index-hco-upgrade-prev-bundle, ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure, ci/prow/images, ci/prow/okd-ci-index-hco-upgrade-bundle, ci/prow/okd-ci-index-hco-upgrade-prev-bundle, ci/prow/okd-hco-e2e-image-index-aws, ci/prow/okd-hco-e2e-image-index-gcp, ci/prow/okd-hco-e2e-upgrade-index-aws, ci/prow/okd-hco-e2e-upgrade-index-gcp, ci/prow/okd-images, ci/prow/ci-index, ci/prow/hco-e2e-upgrade-aws, ci/prow/hco-e2e-upgrade-azure, ci/prow/hco-e2e-upgrade-prev-aws, ci/prow/hco-e2e-upgrade-prev-azure, ci/prow/okd-ci-index, ci/prow/okd-hco-e2e-image-index-azure, ci/prow/okd-hco-e2e-upgrade-aws

dataImportCronTemplates: Move default-instancetype to n.medium
  assets/dataImportCronTemplates/dataImportCronTemplates.yaml
Due: ci/prow/hco-e2e-image-index-aws, ci/prow/hco-e2e-image-index-azure, ci/prow/hco-e2e-image-index-gcp, ci/prow/hco-e2e-image-index-sno-aws, ci/prow/hco-e2e-image-index-sno-azure, ci/prow/hco-e2e-kv-smoke-azure, ci/prow/hco-e2e-kv-smoke-gcp, ci/prow/hco-e2e-upgrade-index-aws, ci/prow/hco-e2e-upgrade-index-azure, ci/prow/hco-e2e-upgrade-index-sno-aws, ci/prow/hco-e2e-upgrade-index-sno-azure, ci/prow/hco-e2e-upgrade-prev-index-aws, ci/prow/hco-e2e-upgrade-prev-index-azure, ci/prow/hco-e2e-upgrade-prev-index-sno-aws, ci/prow/hco-e2e-upgrade-prev-index-sno-azure
