Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp-ci:
  commands: make ztp-ci-job
  container:
    from: src

e2e-aws-ci-tests:
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      USER_TAGS: 'ci-job-source prowci
  
        ci-job-branch master
  
        ci-job-fullname openshift-kni-cnf-features-deploy-e2e-aws-ci-tests-master
  
        ci-job-type e2e-aws-ci-tests
  
  ...

ci/prow/e2e-aws-ci-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/ztp-ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Red Hat Konflux update ztp-site-generate-4-17 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-17-pull-request.yaml
  .tekton/ztp-site-generate-4-17-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: v1.15.0
  ztp/tools/pgt2acmpg/scripts/build-acmpg-plugin.sh
Due: ztp-ci, ci/prow/ztp-ci

tekton: backport konflux
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

tekton: move build-args
  build-args-konflux.conf
  ztp/.konflux/build-args-konflux.conf
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

Red Hat Konflux update ztp-site-generate-4-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-16-pull-request.yaml
  .tekton/ztp-site-generate-4-16-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-20 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-20-pull-request.yaml
  .tekton/ztp-site-generate-4-20-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-13-pull-request.yaml
  .tekton/ztp-site-generate-4-13-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-14 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-14-pull-request.yaml
  .tekton/ztp-site-generate-4-14-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-15-pull-request.yaml
  .tekton/ztp-site-generate-4-15-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-18-pull-request.yaml
  .tekton/ztp-site-generate-4-18-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-12 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-12-pull-request.yaml
  .tekton/ztp-site-generate-4-12-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

tekton: update rpms
  ztp/resource-generator/.konflux/OWNERS
  ztp/resource-generator/.konflux/redhat.repo
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
Due: ztp-ci, ci/prow/ztp-ci

tekton: add konflux owners
  ztp/.konflux/OWNERS
Due: ztp-ci, ci/prow/ztp-ci

ztp: add owners file in ztp konflux
  ztp/.konflux/OWNERS
Due: ztp-ci, ci/prow/ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ztp-ci: any of: ^ztp
