Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ztp-ci: any of: ^ztp

cnf-tests: Fix makefile formatting for rpm lockfile task - The missing backslash caused the parameters to not be passed correctly
  cnf-tests/Makefile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: Fix parsing for RHEL9_IMAGE_TO_LOCK - We should pass the entire tag+digest string entirely instead of modifying it
  cnf-tests/Makefile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: Update rpm lockfile - After fixing the previous issues, re-run the lockfile task to ensure everything is good
  cnf-tests/.konflux/lock-runtime/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: remove the disableDrain for SNO
  ztp/kube-compare-reference/required/sriov-operator/SriovOperatorConfigForSNO.yaml
Due: ztp-ci, ci/prow/ztp-ci

infra: Add telco5g-konflux submodule to project - This subproject contains several useful scripts for managing Konflux components
  .gitmodules
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

owners: Update OWNERS configuration - Add renovate.json to OWNERS - Add telco5g-konflux to OWNERS - Apply yaml formatting to OWNERS and OWNERS_ALIASES files
  .tekton/OWNERS
  OWNERS
  OWNERS_ALIASES
  cnf-tests/.konflux/OWNERS
  ztp/resource-generator/.konflux/OWNERS
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

infra: Revert "infra: Update Makefile to more robustly configure the git submodules"
  Makefile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: Fix syncing for telco5g-konflux submodule - Without modifying the existing functtests git submodule interactions, ensure the telco5g-konflux submodule is synced and updated
  Makefile
  cnf-tests/Makefile
  ztp/resource-generator/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

OCPBUGS-62684: ztp: Move enable-crun manifests to main directory
  ztp/source-crs/extra-manifest/enable-crun-master.yaml
  ztp/source-crs/extra-manifest/enable-crun-worker.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: cluster-compare now allows setting kernel.timer_migration=0 for non-RT kernels
  ztp/kube-compare-reference/required/node-tuning-operator/TunedPerformancePatch.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: Add cgroup and runtime checks
  ztp/kube-compare-reference/compare_ignore
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/required/machine-config/cgroup-check.yaml
  ztp/kube-compare-reference/required/machine-config/container-runtime.yaml
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: Print devices in `dpdk` tests
  cnf-tests/testsuites/e2esuite/dpdk/dpdk.go
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: add yaml tag for namespaceSelector
  ztp/policygenerator/utils/utils.go
Due: ztp-ci, ci/prow/ztp-ci

ztp: update policyTemplate namespaceSelector
  ztp/policygenerator/policyGen/policyTemplate.go
Due: ztp-ci, ci/prow/ztp-ci

ztp: activate auto-generating of rpm lockfile by default
  .tekton/ztp-site-generate-4-20-pull-request.yaml
  .tekton/ztp-site-generate-4-20-push.yaml
  ztp/resource-generator/.konflux/.gitignore
  ztp/resource-generator/.konflux/lock-runtime/.gitignore
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

cnf-tests: activate auto-generating of rpm lockfile by default
  .tekton/cnf-tests-4-20-pull-request.yaml
  .tekton/cnf-tests-4-20-push.yaml
  cnf-tests/.konflux/.gitignore
  cnf-tests/.konflux/lock-runtime/.gitignore
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
  cnf-tests/Makefile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

updated the makefile to be compatible with Darwin BSD
  ztp/policygenerator-kustomize-plugin/Makefile
  ztp/siteconfig-generator-kustomize-plugin/Makefile
Due: ztp-ci, ci/prow/ztp-ci
