Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp-ci:
  commands: make ztp-ci-job
  container:
    from: src

e2e-aws-ci-tests:
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      USER_TAGS: 'ci-job-source prowci
  
        ci-job-branch master
  
        ci-job-fullname openshift-kni-cnf-features-deploy-e2e-aws-ci-tests-master
  
        ci-job-type e2e-aws-ci-tests
  
  ...

ci/prow/ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ci-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/security:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/ztp-ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

fix(ci): use Fedora 44 instead of 45 for CI build root
  openshift-ci/Dockerfile.tools
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

chore(deps): bump apache/thrift replace to v0.24.0
  go.mod
  go.sum
  vendor/modules.txt
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ztp: bump ZTP site-generate from RHEL 8 to RHEL 9
  .tekton/ztp-site-generate-5-0-pull-request.yaml
  .tekton/ztp-site-generate-5-0-push.yaml
  ztp/resource-generator/.konflux/Makefile
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

infra: update Telco component URLs from /openshift4/ to /openshift5/ for OCP 5.0
  .tekton/ztp-site-generate-5-0-pull-request.yaml
  .tekton/ztp-site-generate-5-0-push.yaml
  cnf-tests/.konflux/Dockerfile
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

chore(deps): refresh rpm lockfiles
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/images

infra: Add OLM annotation linting workflow and Makefile target
  .github/workflows/olm-lint.yaml
  Makefile
  feature-configs/deploy/gatekeeper/operatorGroup.yaml
  feature-configs/deploy/knmstate/operator_operatorgroup.yaml
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ztp: CNF-23439: Replace panic with error return in policy-object-template-diff
  ztp/tools/policy-object-template-diff/main.go
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

cnf-tests: Add retry logic to git submodule initialization
  cnf-tests/hack/init-git-submodules.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: Fix typos across the codebase
  README.md
  cnf-tests/README.md
  cnf-tests/testsuites/e2esuite/dpdk/dpdk.go
  cnf-tests/testsuites/e2esuite/dpdk/numa_node_sriov.go
  cnf-tests/testsuites/e2esuite/multinetworkpolicy/reachmatcher.go
  cnf-tests/testsuites/pkg/discovery/discovery.go
  cnf-tests/testsuites/pkg/performanceprofile/performanceprofile.go
  feature-configs/deploy/container-mount-namespace/README.md
  tools/oot-driver/charts/dpdk-kni-driver-0.0.1/Dockerfile-driver.SRO
  ztp/policygenerator/policyGen/policyBuilder.go
  ztp/policygenerator/policyGen/policyBuilder_test.go
  ztp/tools/siteconfig-converter/samples/test-3node-siteconfig.yaml
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

cnf-tests: fix missing $ in clone_repo.sh variable reference
  cnf-tests/testsuites/external-tests/clone_repo.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: Add kustomize validation check
  .github/workflows/test-kustomize.yaml
  Makefile
  hack/test-kustomize.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ztp: simplify test-generator.sh script
  ztp/resource-generator/tests/test-generator.sh
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp: Remove GO111MODULE
  Makefile
  ztp/tools/policy-object-template-diff/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp: update extra-manifest path and fix Containerfile env vars
  ztp/gitops-subscriptions/Makefile
  ztp/policygenerator-kustomize-plugin/Makefile
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

konflux: bump ose cli 4.22
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/images

fix(renovate): add minor and patch to tekton matchUpdateTypes
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

fix(renovate): prefix git-submodule branches with {{baseBranch}}
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: Bump Fedora to 44 and Go to 1.26 in CI Dockerfile
  openshift-ci/Dockerfile.tools
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: DONT MERGE testing aws-ci job
  openshift-ci/Dockerfile.tools
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: DONT MERGE test 4.21 CI job
  openshift-ci/Dockerfile.tools
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: DONT MERGE test 4.22 CI job
  openshift-ci/Dockerfile.tools
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: prevent invalid performance profiles from panicking
  cnf-tests/testsuites/pkg/performanceprofile/performanceprofile.go
  cnf-tests/testsuites/pkg/performanceprofile/performanceprofile_test.go
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ci: unless all of: \.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp|\.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/images: unless all of: \.tekton/.*
  ci/prow/security: unless all of: \.tekton/.*|^test/|^hack/|^scripts/|^bin/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|LICENSE)$|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/ztp-ci: any of: ^ztp
