Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp-ci:
  commands: make ztp-ci-job
  container:
    from: src

e2e-aws-ci-tests:
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      USER_TAGS: 'ci-job-source prowci
  
        ci-job-branch master
  
        ci-job-fullname openshift-kni-cnf-features-deploy-e2e-aws-ci-tests-master
  
        ci-job-type e2e-aws-ci-tests
  
  ...

ci/prow/e2e-aws-ci-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/ztp-ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ztp: reference: Enable users to set PerformanceProfile perPodPowerManagement
  ztp/kube-compare-reference/default_value.yaml
  ztp/kube-compare-reference/required/node-tuning-operator/PerformanceProfile.yaml
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: tekton: adapt templating
  .tekton/cnf-tests-pull-request.yaml
  .tekton/cnf-tests-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: make ztp a hermetic build
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/.konflux/ubi.repo
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

cnf-tests:metallb: switch test to frr-k8s backend
  hack/run-functests.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

OCPBUGS-54348: ztp: add ClusterInstance examples
  ztp/gitops-subscriptions/argocd/example/clusterinstances/example-3node.yaml
  ztp/gitops-subscriptions/argocd/example/clusterinstances/example-sno.yaml
  ztp/gitops-subscriptions/argocd/example/clusterinstances/example-standard.yaml
Due: ztp-ci, ci/prow/ztp-ci

tekton: cnf-tests: increase workspace storage
  .tekton/cnf-tests-4-19-pull-request.yaml
  .tekton/cnf-tests-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Move default report path to log
  hack/common.sh
  hack/run-functests.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: sub-module for telco-reference
  .gitmodules
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: remove recursive refresh for submodule
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

ztp: update git url to https
  .gitmodules
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Increate the timeout for testing
  hack/feature-wait.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests:k5x: add missing `varsFromContainerfile`
  cnf-tests/.konflux/rpms.in.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: add missing labels in dockerfile
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

tekton: cnf-tests: build source image
  .tekton/cnf-tests-4-19-pull-request.yaml
  .tekton/cnf-tests-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: remove `special-resource-operator` dependency
  cnf-tests/testsuites/pkg/client/clients.go
  cnf-tests/testsuites/pkg/utils/reporter.go
  go.mod
  go.sum
  vendor/github.com/openshift-psap/special-resource-operator/LICENSE
  vendor/github.com/openshift-psap/special-resource-operator/api/v1beta1/groupversion_info.go
  vendor/github.com/openshift-psap/special-resource-operator/api/v1beta1/specialresource_types.go
  vendor/github.com/openshift-psap/special-resource-operator/api/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift-psap/special-resource-operator/pkg/helmer/api/v1beta1/helmer_types.go
  vendor/modules.txt
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: update tekton to use 2Gi
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: new bundle images
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: fix path
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

ztp: rebase changes
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

test
  README.md
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: mintmaker renovate config to update submodules daily
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: ci check to restrict ztp-folders
  .githooks/commit-msg
  .githooks/restricted-dirs.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

DNM: test
  OWNERS
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: Add an example PtpConfig and reference template for the T-GM 3-card WPC
  ztp/kube-compare-reference/default_value.yaml
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigThreeCardGmWpc.yaml
  ztp/source-crs/PtpConfigThreeCardGmWpc.yaml
Due: ztp-ci, ci/prow/ztp-ci

removing unnecessary lines into SriovOperatorConfigForSNO
  ztp/source-crs/SriovOperatorConfigForSNO.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: testing ci check
  ztp/source-crs/testfile.yaml
Due: ztp-ci, ci/prow/ztp-ci

Update ghw library to latest
  go.mod
  go.sum
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: renovate config for git sub-module refresh
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: remove enabled
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: new line
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: readme update
  ztp/extra-manifests-builder/README.md
  ztp/gitops-subscriptions/README.md
  ztp/kube-compare-reference/README.md
  ztp/source-crs/README.md
Due: ztp-ci, ci/prow/ztp-ci

ztp: reference: Ensure PtpOperatorConfig apiVersion is a string, and transportHost is optional
  ztp/kube-compare-reference/default_value.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpOperatorConfigForEvent.yaml
  ztp/source-crs/PtpOperatorConfigForEvent.yaml
Due: ztp-ci, ci/prow/ztp-ci

infra: validated renovate config
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: reference: Allow PerformanceProfile hardwareTuning to be set
  ztp/kube-compare-reference/required/node-tuning-operator/PerformanceProfile.yaml
Due: ztp-ci, ci/prow/ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ztp-ci: any of: ^ztp
