Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp-ci:
  commands: make ztp-ci-job
  container:
    from: src

e2e-aws-ci-tests:
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      USER_TAGS: 'ci-job-source prowci
  
        ci-job-branch master
  
        ci-job-fullname openshift-kni-cnf-features-deploy-e2e-aws-ci-tests-master
  
        ci-job-type e2e-aws-ci-tests
  
  ...

ci/prow/e2e-aws-ci-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/ztp-ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ztp: update policyTemplate namespaceSelector
  ztp/policygenerator/policyGen/policyTemplate.go
Due: ztp-ci, ci/prow/ztp-ci

ztp: add yaml tag for namespaceSelector
  ztp/policygenerator/utils/utils.go
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: bump rpms
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: konflux: move Makefile to `.konflux/` dir
  cnf-tests/.konflux/Makefile
  cnf-tests/.konflux/README.md
  ztp/resource-generator/.konflux/Makefile
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/rpms.in.yaml
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: Add cgroup and runtime checks
  ztp/kube-compare-reference/compare_ignore
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/required/machine-config/cgroup-check.yaml
  ztp/kube-compare-reference/required/machine-config/container-runtime.yaml
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: bump rpms
  cnf-tests/.konflux/lock-runtime/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: removed unused PtpConfigGmWpc
  ztp/kube-compare-reference/metadata.yaml
  ztp/source-crs/PtpConfigGmWpc.yaml
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: bump rpms to fix CVEs
  cnf-tests/.konflux/lock-runtime/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: point submodules at release-4.20
  .gitmodules
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-21
  .tekton/ztp-site-generate-4-21-pull-request.yaml
  .tekton/ztp-site-generate-4-21-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: cluster-compare now allows setting kernel.timer_migration=0 for non-RT kernels
  ztp/kube-compare-reference/required/node-tuning-operator/TunedPerformancePatch.yaml
Due: ztp-ci, ci/prow/ztp-ci

tekton: bump tekton files in main to 4.21
  .tekton/cnf-tests-4-21-pull-request.yaml
  .tekton/cnf-tests-4-21-push.yaml
  .tekton/ztp-site-generate-4-21-pull-request.yaml
  .tekton/ztp-site-generate-4-21-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update cnf-tests-4-21
  .tekton/cnf-tests-4-21-pull-request.yaml
  .tekton/cnf-tests-4-21-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: renovate: label specific PRs with `auto-merge`
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: adjust to release-4.20 pointers
  .tekton/cnf-tests-4-20-pull-request.yaml
  .tekton/cnf-tests-4-20-push.yaml
  .tekton/ztp-site-generate-4-20-pull-request.yaml
  .tekton/ztp-site-generate-4-20-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: bump go to v1.24
  cnf-tests/.konflux/Dockerfile
  go.mod
  ztp/resource-generator/Containerfile
  ztp/tools/pgt2acmpg/go.mod
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

infra: `master` should point to 4.21
  .tekton/cnf-tests-4-21-pull-request.yaml
  .tekton/cnf-tests-4-21-push.yaml
  .tekton/ztp-site-generate-4-21-pull-request.yaml
  .tekton/ztp-site-generate-4-21-push.yaml
  cnf-tests/.konflux/Dockerfile
  cnf-tests/Dockerfile.openshift
  cnf-tests/mirror/images.json
  cnf-tests/testsuites/pkg/images/images.go
  go.mod
  hack/common.sh
  openshift-ci/Dockerfile.tools
  ztp/resource-generator/Containerfile
  ztp/tools/pgt2acmpg/go.mod
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

vendor: Bump NTO and K8S packages to support page size kernel
  go.mod
  go.sum
  vendor/modules.txt
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: update performance profile to configure kernel size for tests
  cnf-tests/testsuites/e2esuite/dpdk/numa_node_sriov.go
  cnf-tests/testsuites/pkg/performanceprofile/performanceprofile.go
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Add kustomize validation check
  .github/workflows/test-kustomize.yaml
  Makefile
  hack/test-kustomize.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: submodules: use matching branches to releases
  .gitmodules
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: add `chore(deps)` to the list of components
  .githooks/components.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ztp-ci: any of: ^ztp
