Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ztp-ci: any of: ^ztp

Red Hat Konflux update ztp-site-generate-4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-18-pull-request.yaml
  .tekton/ztp-site-generate-4-18-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-14 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-14-pull-request.yaml
  .tekton/ztp-site-generate-4-14-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-15-pull-request.yaml
  .tekton/ztp-site-generate-4-15-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-13-pull-request.yaml
  .tekton/ztp-site-generate-4-13-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-17 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-17-pull-request.yaml
  .tekton/ztp-site-generate-4-17-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-20 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-20-pull-request.yaml
  .tekton/ztp-site-generate-4-20-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-12 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-12-pull-request.yaml
  .tekton/ztp-site-generate-4-12-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-16-pull-request.yaml
  .tekton/ztp-site-generate-4-16-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: k5x: add OWNERS file
  cnf-tests/.konflux/OWNERS
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: add tekton pipeline files, rpm lockfile and konflux owners
  .tekton/OWNERS
  .tekton/ztp-site-generate-4-12-pull-request.yaml
  .tekton/ztp-site-generate-4-12-push.yaml
  OWNERS_ALIASES
  ztp/resource-generator/.konflux/OWNERS
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/redhat.repo
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

infra: add tekton pipeline files, rpm lockfile and konflux owners
  .tekton/OWNERS
  .tekton/ztp-site-generate-4-14-pull-request.yaml
  .tekton/ztp-site-generate-4-14-push.yaml
  OWNERS_ALIASES
  ztp/resource-generator/.konflux/OWNERS
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/redhat.repo
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

infra: add tekton pipeline files, rpm lockfile and konflux owners
  .tekton/OWNERS
  .tekton/ztp-site-generate-4-15-pull-request.yaml
  .tekton/ztp-site-generate-4-15-push.yaml
  OWNERS_ALIASES
  ztp/resource-generator/.konflux/OWNERS
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/redhat.repo
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

infra: add tekton pipeline files, rpm lockfile and konflux owners
  .tekton/OWNERS
  .tekton/ztp-site-generate-4-16-pull-request.yaml
  .tekton/ztp-site-generate-4-16-push.yaml
  OWNERS_ALIASES
  ztp/resource-generator/.konflux/OWNERS
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/redhat.repo
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

infra: add tekton pipeline files, rpm lockfile and konflux owners
  .tekton/OWNERS
  .tekton/ztp-site-generate-4-17-pull-request.yaml
  .tekton/ztp-site-generate-4-17-push.yaml
  OWNERS_ALIASES
  ztp/resource-generator/.konflux/OWNERS
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/redhat.repo
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

infra: add tekton pipeline files, rpm lockfile and konflux owners
  .tekton/OWNERS
  .tekton/ztp-site-generate-4-18-pull-request.yaml
  .tekton/ztp-site-generate-4-18-push.yaml
  OWNERS_ALIASES
  ztp/resource-generator/.konflux/OWNERS
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/redhat.repo
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: change holdover default value from 65 seconds to 5 seconds
  ztp/kube-compare-reference/default_value.yaml
  ztp/source-crs/PtpConfigDualFollower.yaml
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: bump `github.com/openshift-kni/k8sreporter` v1.0.7
  go.mod
  go.sum
  vendor/github.com/openshift-kni/k8sreporter/reporter.go
  vendor/modules.txt
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: gitmodules fix
  .gitmodules
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: update go mod
  go.mod
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: comment in gitmodules
  .gitmodules
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: up version go mod to 1.23
  go.mod
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: update containerfile to 1.23
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

infra: upversion golang in container file
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

ztp: reference: Enable users to set PerformanceProfile perPodPowerManagement
  ztp/kube-compare-reference/default_value.yaml
  ztp/kube-compare-reference/required/node-tuning-operator/PerformanceProfile.yaml
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: tekton: update on-cel-expression
  .tekton/cnf-tests-4-19-pull-request.yaml
  .tekton/cnf-tests-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: tekton: master->release-4.19
  .tekton/cnf-tests-4-19-pull-request.yaml
  .tekton/cnf-tests-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests:k5x: use rhel9 golang builder
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: add `findutils` binary
  cnf-tests/.konflux/Dockerfile
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
  cnf-tests/Dockerfile.openshift
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: add missing labels in dockerfile
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests:k5x: adapt official staging conforma
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: tekton: align with TA configuration
  .tekton/cnf-tests-4-19-pull-request.yaml
  .tekton/cnf-tests-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests
