Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp-ci:
  commands: make ztp-ci-job
  container:
    from: src

e2e-aws-ci-tests:
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      USER_TAGS: 'ci-job-source prowci
  
        ci-job-branch master
  
        ci-job-fullname openshift-kni-cnf-features-deploy-e2e-aws-ci-tests-master
  
        ci-job-type e2e-aws-ci-tests
  
  ...

ci/prow/e2e-aws-ci-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/ztp-ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

infra: update path of cnf-tests k5x dockerfile
  hack/verify-images-updated.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: use go 1.24 builders for 4.21
  cnf-tests/Dockerfile.openshift
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: fix acc100 skip condition
  cnf-tests/testsuites/e2esuite/fec/fec.go
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: upversion go to 1.24.8 - CVE-2025-58183
  go.mod
  openshift-ci/Dockerfile.tools
  ztp/resource-generator/Containerfile
  ztp/tools/pgt2acmpg/go.mod
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

cnf-tests: fix go vet warning in cnf-tests test package
  cnf-tests/testsuites/pkg/junit-merger/junit-merger_test.go
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: remove color output in ip command
  cnf-tests/testsuites/e2esuite/bond/bond_sriov.go
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: bump rpms
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: konflux: move Makefile to .konflux/ dir
  cnf-tests/.konflux/Makefile
  cnf-tests/.konflux/README.md
  ztp/resource-generator/.konflux/Makefile
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/rpms.in.yaml
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

cnf-tests: rpms: use custom authentication certificate
  cnf-tests/.konflux/Makefile
  cnf-tests/.konflux/rpms.in.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: activate auto-generating of rpm lockfile by default
  .tekton/ztp-site-generate-4-20-pull-request.yaml
  .tekton/ztp-site-generate-4-20-push.yaml
  ztp/resource-generator/.konflux/.gitignore
  ztp/resource-generator/.konflux/lock-runtime/.gitignore
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

cnf-tests: activate auto-generating of rpm lockfile by default
  .tekton/cnf-tests-4-20-pull-request.yaml
  .tekton/cnf-tests-4-20-push.yaml
  cnf-tests/.konflux/.gitignore
  cnf-tests/.konflux/lock-runtime/.gitignore
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
  cnf-tests/Makefile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: activate auto-generating of rpm lockfile by default
  .tekton/cnf-tests-4-19-pull-request.yaml
  .tekton/cnf-tests-4-19-push.yaml
  cnf-tests/.konflux/.gitignore
  cnf-tests/.konflux/lock-runtime/.gitignore
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
  cnf-tests/Makefile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: activate auto-generating of rpm lockfile by default
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
  ztp/resource-generator/.konflux/.gitignore
  ztp/resource-generator/.konflux/lock-runtime/.gitignore
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

cnf-tests: konflux: move Makefile to .konflux/ dir
  cnf-tests/.konflux/Makefile
  cnf-tests/.konflux/README.md
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: konflux: move Makefile to .konflux/ dir
  ztp/resource-generator/.konflux/Makefile
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/rpms.in.yaml
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: activate auto-generating of rpm lockfile by default
  .tekton/cnf-tests-4-18-pull-request.yaml
  .tekton/cnf-tests-4-18-push.yaml
  cnf-tests/.konflux/.gitignore
  cnf-tests/.konflux/lock-runtime/.gitignore
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
  cnf-tests/Makefile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: activate auto-generating of rpm lockfile by default
  .tekton/ztp-site-generate-4-18-pull-request.yaml
  .tekton/ztp-site-generate-4-18-push.yaml
  ztp/resource-generator/.konflux/.gitignore
  ztp/resource-generator/.konflux/lock-runtime/.gitignore
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

cnf-tests: activate auto-generating of rpm lockfile by default
  .tekton/cnf-tests-4-17-pull-request.yaml
  .tekton/cnf-tests-4-17-push.yaml
  cnf-tests/.konflux/.gitignore
  cnf-tests/.konflux/lock-runtime/.gitignore
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
  cnf-tests/Makefile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: activate auto-generating of rpm lockfile by default
  .tekton/ztp-site-generate-4-17-pull-request.yaml
  .tekton/ztp-site-generate-4-17-push.yaml
  ztp/resource-generator/.konflux/.gitignore
  ztp/resource-generator/.konflux/lock-runtime/.gitignore
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

cnf-tests: activate auto-generating of rpm lockfile by default
  .tekton/cnf-tests-4-16-pull-request.yaml
  .tekton/cnf-tests-4-16-push.yaml
  cnf-tests/.konflux/.gitignore
  cnf-tests/.konflux/lock-runtime/.gitignore
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
  cnf-tests/Makefile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: activate auto-generating of rpm lockfile by default
  .tekton/ztp-site-generate-4-16-pull-request.yaml
  .tekton/ztp-site-generate-4-16-push.yaml
  ztp/resource-generator/.konflux/.gitignore
  ztp/resource-generator/.konflux/lock-runtime/.gitignore
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: konflux: move Makefile to .konflux/ dir
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/Makefile
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: activate auto-generating of rpm lockfile by default
  .tekton/cnf-tests-4-14-pull-request.yaml
  .tekton/cnf-tests-4-14-push.yaml
  cnf-tests/.konflux/.gitignore
  cnf-tests/.konflux/lock-runtime/.gitignore
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
  cnf-tests/Makefile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: activate auto-generating of rpm lockfile by default
  .tekton/ztp-site-generate-4-14-pull-request.yaml
  .tekton/ztp-site-generate-4-14-push.yaml
  ztp/resource-generator/.konflux/.gitignore
  ztp/resource-generator/.konflux/lock-runtime/.gitignore
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

cnf-tests: activate auto-generating of rpm lockfile by default
  .tekton/cnf-tests-4-12-pull-request.yaml
  .tekton/cnf-tests-4-12-push.yaml
  cnf-tests/.konflux/.gitignore
  cnf-tests/.konflux/lock-runtime/.gitignore
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
  cnf-tests/Makefile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: activate auto-generating of rpm lockfile by default
  .tekton/ztp-site-generate-4-12-pull-request.yaml
  .tekton/ztp-site-generate-4-12-push.yaml
  ztp/resource-generator/.konflux/.gitignore
  ztp/resource-generator/.konflux/lock-runtime/.gitignore
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ztp-ci: any of: ^ztp
