Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ztp-ci: any of: ^ztp

ztp: remove redundant build-args file
  ztp/.konflux/OWNERS
  ztp/.konflux/build-args-konflux.conf
Due: ztp-ci, ci/prow/ztp-ci

ztp: remove references to build-args and update build image
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
  renovate.json
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: remove redundant file
  ztp/.konflux/build-args-konflux.conf
Due: ztp-ci, ci/prow/ztp-ci

ztp: remove references to build-args file and pathchanged
  .tekton/ztp-site-generate-4-18-pull-request.yaml
  .tekton/ztp-site-generate-4-18-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: Update containerfile golang builder
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

ztp: remove redundant build-args file
  ztp/.konflux/build-args-konflux.conf
Due: ztp-ci, ci/prow/ztp-ci

ztp: remove references to build-args and update golang builder image
  .tekton/ztp-site-generate-4-17-pull-request.yaml
  .tekton/ztp-site-generate-4-17-push.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: remove references to build args and update golang builder image
  .tekton/ztp-site-generate-4-16-pull-request.yaml
  .tekton/ztp-site-generate-4-16-push.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: remove build args file
  ztp/.konflux/build-args-konflux.conf
Due: ztp-ci, ci/prow/ztp-ci

ztp: remove references and update golang builder
  .tekton/ztp-site-generate-4-15-pull-request.yaml
  .tekton/ztp-site-generate-4-15-push.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: remove redundant build args
  ztp/.konflux/build-args-konflux.conf
Due: ztp-ci, ci/prow/ztp-ci

ztp: remove references to build-args and update builder image
  .tekton/ztp-site-generate-4-14-pull-request.yaml
  .tekton/ztp-site-generate-4-14-push.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: update Containerfile with comment
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

ztp: remove renovate json in 4.19
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: add renovate disable for go mod changes
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: containerfile update comments
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

Red Hat Konflux update ztp-site-generate-4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-15-pull-request.yaml
  .tekton/ztp-site-generate-4-15-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-14 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-14-pull-request.yaml
  .tekton/ztp-site-generate-4-14-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-17 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-17-pull-request.yaml
  .tekton/ztp-site-generate-4-17-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-16-pull-request.yaml
  .tekton/ztp-site-generate-4-16-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-13-pull-request.yaml
  .tekton/ztp-site-generate-4-13-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-12 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-12-pull-request.yaml
  .tekton/ztp-site-generate-4-12-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-18-pull-request.yaml
  .tekton/ztp-site-generate-4-18-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-20 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-20-pull-request.yaml
  .tekton/ztp-site-generate-4-20-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

tekton: update service account
  .tekton/ztp-site-generate-4-20-pull-request.yaml
  .tekton/ztp-site-generate-4-20-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

tekton: update service account
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: wip- test metallb-4.18 image
  hack/run-functests.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests
