Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp-ci:
  commands: make ztp-ci-job
  container:
    from: src

e2e-aws-ci-tests:
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      USER_TAGS: 'ci-job-source prowci
  
        ci-job-branch master
  
        ci-job-fullname openshift-kni-cnf-features-deploy-e2e-aws-ci-tests-master
  
        ci-job-type e2e-aws-ci-tests
  
  ...

ci/prow/e2e-aws-ci-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/ztp-ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ztp: update tekton files
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: update renovate
  build-args-konflux.conf
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: RAN reference: Cleanup PerformanceProfile template
  ztp/kube-compare-reference/required/node-tuning-operator/PerformanceProfile.yaml
  ztp/kube-compare-reference/unordered_list.tmpl
Due: ztp-ci, ci/prow/ztp-ci

ztp: RAN reference: Optionally allow max_perf_pct sysfs in Tuned
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/required/node-tuning-operator/TunedPerformancePatch.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: RAN reference: Allow setting cpufreq governor when perPodPowermanagement is set
  ztp/kube-compare-reference/required/node-tuning-operator/PerformanceProfile.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: update siteconfig-generator readme
  ztp/siteconfig-generator/README.md
Due: ztp-ci, ci/prow/ztp-ci

ztp: revert changes in example
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-common-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/common-ranGen.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: update gitops-subscriptions make to use telco-reference
  ztp/gitops-subscriptions/Makefile
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-common-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/common-ranGen.yaml
  ztp/tools/pgt2acmpg/README.md
Due: ztp-ci, ci/prow/ztp-ci

ztp: update policygenerator makefile
  ztp/policygenerator-kustomize-plugin/Makefile
Due: ztp-ci, ci/prow/ztp-ci

ztp: PolicyGen readme
  ztp/gitops-subscriptions/ACMPolicyGeneratorIntergration.md
  ztp/policygenerator/README.md
Due: ztp-ci, ci/prow/ztp-ci

ztp: update siteconfig-generator makefile
  ztp/siteconfig-generator-kustomize-plugin/Makefile
Due: ztp-ci, ci/prow/ztp-ci

ztp: update Readme
  ztp/policygenerator/README.md
Due: ztp-ci, ci/prow/ztp-ci

ztp: revert tool readme
  ztp/tools/pgt2acmpg/README.md
Due: ztp-ci, ci/prow/ztp-ci

ztp: update acmpgfrompgt argocd example
  ztp/gitops-subscriptions/Makefile
Due: ztp-ci, ci/prow/ztp-ci

ztp: telco-ref submodule path for ACMpolicygen and policygenerator example
  ztp/gitops-subscriptions/Makefile
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests:k5x: adapt official staging conforma
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests:k5x: use rhel9 golang builder
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests:k5x: 4.19 -> 4.20
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: Fixing review comments. We should not accept source files without metadata.name.
  ztp/policygenerator/policyGen/policyBuilder.go
  ztp/policygenerator/policyGen/policyBuilder_test.go
  ztp/policygenerator/policyGen/testData/GenericSourceFiles/GenericWithEmptyMetadataName.yaml
  ztp/policygenerator/policyGen/testData/GenericSourceFiles/GenericWithoutMetadataName.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: TestSriovNetwork.yaml did not have metadata.name and thus the new logic broke the existing testcase
  ztp/policygenerator/testData/TestSriovNetwork/sourcePolicies/TestSriovNetwork.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: backward compatibility: accept missing metadata.name in the sourcefile if the PGT contains metadata.name patch
  ztp/policygenerator/policyGen/policyBuilder.go
  ztp/policygenerator/policyGen/policyBuilder_test.go
  ztp/policygenerator/testData/TestSriovNetwork/sourcePolicies/TestSriovNetwork.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: fix existing testcase due to changed error log
  ztp/policygenerator/policyGen/policyBuilderOverlay_test.go
Due: ztp-ci, ci/prow/ztp-ci

ztp: existing tests show that resources without metadata.name are generated for validation purposes. We do not want to break those so we do not check the existence of metadata.name
  ztp/policygenerator/policyGen/policyBuilder.go
  ztp/policygenerator/policyGen/policyBuilder_test.go
Due: ztp-ci, ci/prow/ztp-ci

ztp: lockfile ubi8 update
  ztp/build-args-konflux.conf
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/.konflux/ubi.repo
Due: ztp-ci, ci/prow/ztp-ci

ztp: match rpm signature scan
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Konflux build pipeline service account migration for cnf-tests-4-19 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/cnf-tests-4-19-pull-request.yaml
  .tekton/cnf-tests-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Konflux build pipeline service account migration for ztp-site-generate-4-19 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: k5x: tag go binaries with `strictfipsruntime`
  cnf-tests/.konflux/Dockerfile
  cnf-tests/hack/build-test-bin.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: fix build args path
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: move build args konflux file
  ztp/build-args-konflux.conf
Due: ztp-ci, ci/prow/ztp-ci

ztp: move build-args to ztp/.konflux/
  renovate.json
  ztp/.konflux/build-args-konflux.conf
  ztp/build-args-konflux.conf
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: add owners for ztp konflux
  ztp/resource-generator/.konflux/OWNERS
Due: ztp-ci, ci/prow/ztp-ci

ztp: rename repo file
  ztp/resource-generator/.konflux/redhat.repo
  ztp/resource-generator/.konflux/rpms.in.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: update all task digests
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: fix merge conflicts
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: update image digests 2
  .tekton/ztp-site-generate-4-19-pull-request.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

fix push tekton
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ztp-ci: any of: ^ztp
