Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ci: unless all of: \.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp|\.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/images: unless all of: \.tekton/.*
  ci/prow/security: unless all of: \.tekton/.*|^test/|^hack/|^scripts/|^bin/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|LICENSE)$|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/ztp-ci: any of: ^ztp

infra: workflows: add GHA to validate renovate config
  .github/workflows/check-renovate.yaml
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: fix renovate
  .github/workflows/check-renovate.yaml
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: dockerfile: add `url` label
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/images

ztp: update Containerfile label
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

infra: Revert "infra: renovate: keep dockerfile and lockfile aligned"
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: logrus version bump for cve-2025-65637
  go.mod
  go.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: backport verify-commits.sh fix from release-4.14
  hack/verify-commits.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

cnf-tests: k5x: unspecify digest for base image
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/images

cnf-tests: refresh RPMs
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/images

cnf-tests: k5x: unpin base image to digest
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/images

cnf-tests: k5x: refresh RPMs
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/images

Revert "chore(deps): update quay.io/fedora/fedora docker tag to v45"
  openshift-ci/Dockerfile.tools
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

tools: Bump dpdk to `24.11.4`
  tools/s2i-dpdk/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: tools: use latest fedora
  openshift-ci/Dockerfile.tools
  scripts/close-abandoned-prs.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: bump go builders for 4.22
  cnf-tests/.konflux/Dockerfile
  cnf-tests/Dockerfile.openshift
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: bump go.mod to 1.25
  go.mod
  openshift-ci/Dockerfile.tools
  ztp/resource-generator/Containerfile
  ztp/tools/pgt2acmpg/go.mod
  ztp/tools/pgt2acmpg/go.sum
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci
