Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ztp-ci: any of: ^ztp

change type
  .tekton/ztp-site-generate-4-19-pull-request.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: reference: Ensure PtpOperatorConfig apiVersion is a string, and transportHost is optional
  ztp/kube-compare-reference/default_value.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpOperatorConfigForEvent.yaml
  ztp/source-crs/PtpOperatorConfigForEvent.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: reference: Enable users to set PerformanceProfile perPodPowerManagement
  ztp/kube-compare-reference/default_value.yaml
  ztp/kube-compare-reference/required/node-tuning-operator/PerformanceProfile.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: reference: Allow PerformanceProfile hardwareTuning to be set
  ztp/kube-compare-reference/required/node-tuning-operator/PerformanceProfile.yaml
Due: ztp-ci, ci/prow/ztp-ci

fix platform
  .tekton/ztp-site-generate-4-19-pull-request.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

image digest
  .tekton/ztp-site-generate-4-19-pull-request.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

image digest and source artifacts for ztp push
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: comment
  hack/verify-commits.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: restricted dirs
  hack/verify-commits.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: restrict ztp dirs in verify commits
  hack/verify-commits.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: update siteconfig-generator makefile
  ztp/siteconfig-generator-kustomize-plugin/Makefile
Due: ztp-ci, ci/prow/ztp-ci

ztp: update policygenerator makefile
  ztp/policygenerator-kustomize-plugin/Makefile
Due: ztp-ci, ci/prow/ztp-ci

ztp: update siteconfig-generator readme
  ztp/siteconfig-generator/README.md
Due: ztp-ci, ci/prow/ztp-ci

ztp: PolicyGen readme
  ztp/gitops-subscriptions/ACMPolicyGeneratorIntergration.md
  ztp/policygenerator/README.md
Due: ztp-ci, ci/prow/ztp-ci

infra: on-cel-expression for ztp
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update cnf-tests-4-20 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/cnf-tests-4-20-pull-request.yaml
  .tekton/cnf-tests-4-20-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: tekton 4.20: add missing params for hermetic flow
  .tekton/cnf-tests-4-20-pull-request.yaml
  .tekton/cnf-tests-4-20-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: remove 4.19 tektons from master
  .tekton/cnf-tests-4-19-pull-request.yaml
  .tekton/cnf-tests-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: update message with release-4.19
  .githooks/commit-msg
  hack/verify-commits.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: release-4.19 message
  .githooks/commit-msg
  hack/verify-commits.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: revert changes in example
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-common-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/common-ranGen.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: telco-ref submodule path for ACMpolicygen and policygenerator example
  ztp/gitops-subscriptions/Makefile
Due: ztp-ci, ci/prow/ztp-ci

ztp: revert tool readme
  ztp/tools/pgt2acmpg/README.md
Due: ztp-ci, ci/prow/ztp-ci

ztp: update acmpgfrompgt argocd example
  ztp/gitops-subscriptions/Makefile
Due: ztp-ci, ci/prow/ztp-ci

ztp: update Readme
  ztp/policygenerator/README.md
Due: ztp-ci, ci/prow/ztp-ci

ztp: commit cr
  ztp/source-crs/validatorCRs/rebootMachineConfigPoolValidator.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: resource generator containerfile improvements
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: tekton: tag konflux images as latest
  .tekton/cnf-tests-4-20-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: tekton: tag konflux images as latest
  .tekton/cnf-tests-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: source-rpms
  ztp/resource-generator/.konflux/rpms.lock.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: update git-clone-oci-ta digest
  .tekton/ztp-site-generate-4-19-pull-request.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests:k5x: add `findutils`
  cnf-tests/.konflux/Dockerfile
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: update image digests
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: tags for init and git clone ta
  .tekton/ztp-site-generate-4-19-pull-request.yaml
  .tekton/ztp-site-generate-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: validated renovate config
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: simplify test-generator.sh script
  ztp/resource-generator/tests/test-generator.sh
Due: ztp-ci, ci/prow/ztp-ci

typos: Adjust various typos
  cnf-tests/GATEKEEPER.md
  ztp/resource-generator/Containerfile
  ztp/resource-generator/README.md
  ztp/resource-generator/entrypoints/generator
  ztp/resource-generator/tests/test-generator.sh
  ztp/resource-generator/tools/patchImageReference.sh
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

infra: use multi-arch fedora
  openshift-ci/Dockerfile.tools
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: add `findutils` binary
  cnf-tests/.konflux/Dockerfile
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
  cnf-tests/Dockerfile.openshift
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: move build args konflux file
  ztp/build-args-konflux.conf
Due: ztp-ci, ci/prow/ztp-ci
