Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp-ci:
  commands: make ztp-ci-job
  container:
    from: src

e2e-aws-ci-tests:
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      USER_TAGS: 'ci-job-source prowci
  
        ci-job-branch master
  
        ci-job-fullname openshift-kni-cnf-features-deploy-e2e-aws-ci-tests-master
  
        ci-job-type e2e-aws-ci-tests
  
  ...

ci/prow/ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ci-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/security:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/ztp-ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Restrict MintMaker submodule updates to NTO
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: CNF-22668: update container base image from centos to ubi9
  cnf-tests/GATEKEEPER.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

tools: CNF-22668: update container base image from centos:stream9 to ubi:9
  tools/s2i-dpdk/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: add allow-automatic-merge label to git-submodule PRs
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

DNM: test
  cnf-tests/pod-utils/cyclictest-runner/main.go
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: dockerfile: add `url` label
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/images

ztp: CNF-23439: Replace panic with error return in policy-object-template-diff
  ztp/tools/policy-object-template-diff/main.go
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

infra: Fix typos across the codebase
  README.md
  cnf-tests/README.md
  cnf-tests/testsuites/e2esuite/dpdk/dpdk.go
  cnf-tests/testsuites/e2esuite/dpdk/numa_node_sriov.go
  cnf-tests/testsuites/e2esuite/multinetworkpolicy/reachmatcher.go
  cnf-tests/testsuites/pkg/discovery/discovery.go
  cnf-tests/testsuites/pkg/performanceprofile/performanceprofile.go
  feature-configs/deploy/container-mount-namespace/README.md
  tools/oot-driver/charts/dpdk-kni-driver-0.0.1/Dockerfile-driver.SRO
  ztp/policygenerator/policyGen/policyBuilder.go
  ztp/policygenerator/policyGen/policyBuilder_test.go
  ztp/tools/siteconfig-converter/samples/test-3node-siteconfig.yaml
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp: simplify test-generator.sh script
  ztp/resource-generator/tests/test-generator.sh
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp: Remove GO111MODULE
  Makefile
  ztp/tools/policy-object-template-diff/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

infra: Add kustomize validation check
  .github/workflows/test-kustomize.yaml
  Makefile
  hack/test-kustomize.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: Add retry logic to git submodule initialization
  cnf-tests/hack/init-git-submodules.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: fix missing $ in clone_repo.sh variable reference
  cnf-tests/testsuites/external-tests/clone_repo.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

konflux: bump ose cli 4.22
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/images

infra: fix gitmodules
  .gitmodules
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

konflux: algin rpm lockfile
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/images

cnf-tests: Remove metallb-operator submodule and all metallb references
  .gitmodules
  Makefile
  cnf-tests/README.md
  cnf-tests/hack/init-git-submodules.sh
  cnf-tests/testsuites/pkg/namespaces/namespaces.go
  cnf-tests/testsuites/pkg/utils/reporter.go
  feature-configs/ci/metallb/kustomization.yaml
  feature-configs/ci/metallb/operator_subscription.yaml
  feature-configs/deploy/metallb/kustomization.yaml
  feature-configs/deploy/metallb/operator_namespace.yaml
  feature-configs/deploy/metallb/operator_operatorgroup.yaml
  feature-configs/deploy/metallb/operator_subscription.yaml
  feature-configs/hypershift-ci/metallb/kustomization.yaml
  feature-configs/hypershift-ci/metallb/operator_subscription.yaml
  hack/common.sh
  hack/run-functests.sh
  hack/setup-build-index-image.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

features: correct broken symlink for s2i post_deploy.sh
  feature-configs/ci/s2i/post_deploy.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: Remove unused fmt.Sprintln call in dpdk test
  cnf-tests/testsuites/e2esuite/dpdk/dpdk.go
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ztp: Upgrade ZTP CLO CRs from v5 to v6 (stable-6.0)
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-common-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-group-du-clo5-cleanup.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-group-du-sno-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/kustomization.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/common-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/group-du-clo5-cleanup-policy.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/group-du-sno-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/kustomization.yaml
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogForwarder.yaml
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogServiceAccount.yaml
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogServiceAccountAuditBinding.yaml
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogServiceAccountInfrastructureBinding.yaml
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogSubscription.yaml
  ztp/kube-compare-reference/required/cluster-logging/ClusterLogging.yaml
  ztp/policygenerator-kustomize-plugin/testPolicyGenTemplate/common-ranGen.yaml
  ztp/policygenerator-kustomize-plugin/testPolicyGenTemplate/group-du-sno-ranGen.yaml
  ztp/source-crs/ClusterLogForwarder.yaml
  ztp/source-crs/ClusterLogServiceAccount.yaml
  ztp/source-crs/ClusterLogServiceAccountAuditBinding.yaml
  ztp/source-crs/ClusterLogServiceAccountInfrastructureBinding.yaml
  ztp/source-crs/ClusterLogSubscription.yaml
  ztp/source-crs/ClusterLogging.yaml
  ztp/source-crs/ClusterLogging5Cleanup.yaml
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

features: Remove controller-managed olm.providedAPIs annotations
  feature-configs/deploy/gatekeeper/operatorGroup.yaml
  feature-configs/deploy/knmstate/operator_operatorgroup.yaml
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: Add OLM annotation linting workflow and Makefile target
  .github/workflows/olm-lint.yaml
  Makefile
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ci: unless all of: \.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp|\.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/images: unless all of: \.tekton/.*
  ci/prow/security: unless all of: \.tekton/.*|^test/|^hack/|^scripts/|^bin/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|LICENSE)$|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/ztp-ci: any of: ^ztp
