Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp-ci:
  commands: make ztp-ci-job
  container:
    from: src

e2e-aws-ci-tests:
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      USER_TAGS: 'ci-job-source prowci
  
        ci-job-branch master
  
        ci-job-fullname openshift-kni-cnf-features-deploy-e2e-aws-ci-tests-master
  
        ci-job-type e2e-aws-ci-tests
  
  ...

ci/prow/ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ci-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/security:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/ztp-ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

cnf-tests: CNF-22668: update container base image from centos to ubi9
  cnf-tests/GATEKEEPER.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

tools: CNF-22668: update container base image from centos:stream9 to ubi:9
  tools/s2i-dpdk/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: CNF-22668: update container base image from centos to ubi8
  cnf-tests/GATEKEEPER.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

cnf-tests: CNF-22668: update container base image from centos:7 to ubi:8
  cnf-tests/Dockerfile
  cnf-tests/GATEKEEPER.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

tools: CNF-22668: update container base image from centos:stream8 to ubi:8
  tools/s2i-dpdk/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

owners: Add by2waysprojects to konflux OWNERS_ALIASES
  OWNERS_ALIASES
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: Bump to 5.0 and rename Tekton pipelines
  .tekton/cnf-tests-5-0-pull-request.yaml
  .tekton/cnf-tests-5-0-push.yaml
  cnf-tests/.konflux/Dockerfile
  cnf-tests/Dockerfile.openshift
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

Update metallb-operator submodule to upstream repo
  .gitmodules
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: update verify commits script with prow env var
  hack/verify-commits.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

cnf-tests: Add retry logic to git submodule initialization
  cnf-tests/hack/init-git-submodules.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: fix missing $ in clone_repo.sh variable reference
  cnf-tests/testsuites/external-tests/clone_repo.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: Fix typos across the codebase
  README.md
  cnf-tests/README.md
  cnf-tests/testsuites/e2esuite/dpdk/dpdk.go
  cnf-tests/testsuites/e2esuite/dpdk/numa_node_sriov.go
  cnf-tests/testsuites/e2esuite/multinetworkpolicy/reachmatcher.go
  cnf-tests/testsuites/pkg/discovery/discovery.go
  cnf-tests/testsuites/pkg/performanceprofile/performanceprofile.go
  feature-configs/deploy/container-mount-namespace/README.md
  tools/oot-driver/charts/dpdk-kni-driver-0.0.1/Dockerfile-driver.SRO
  ztp/policygenerator/policyGen/policyBuilder.go
  ztp/policygenerator/policyGen/policyBuilder_test.go
  ztp/tools/siteconfig-converter/samples/test-3node-siteconfig.yaml
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp: Remove GO111MODULE
  Makefile
  ztp/tools/policy-object-template-diff/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp: simplify test-generator.sh script
  ztp/resource-generator/tests/test-generator.sh
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

cnf-tests: Remove metallb-operator submodule and all metallb references
  .gitmodules
  Makefile
  cnf-tests/README.md
  cnf-tests/hack/init-git-submodules.sh
  cnf-tests/testsuites/pkg/namespaces/namespaces.go
  cnf-tests/testsuites/pkg/utils/reporter.go
  feature-configs/ci/metallb/kustomization.yaml
  feature-configs/ci/metallb/operator_subscription.yaml
  feature-configs/deploy/metallb/kustomization.yaml
  feature-configs/deploy/metallb/operator_namespace.yaml
  feature-configs/deploy/metallb/operator_operatorgroup.yaml
  feature-configs/deploy/metallb/operator_subscription.yaml
  feature-configs/hypershift-ci/metallb/kustomization.yaml
  feature-configs/hypershift-ci/metallb/operator_subscription.yaml
  hack/common.sh
  hack/run-functests.sh
  hack/setup-build-index-image.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

CNFCERT-1258: Add kustomize validation check
  .github/workflows/test-kustomize.yaml
  Makefile
  hack/test-kustomize.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ztp: CNF-23439: Replace panic with error return in policy-object-template-diff
  ztp/tools/policy-object-template-diff/main.go
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

infra: replace approved/lgtm labels with allow-automatic-merge
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ztp: Bump Containerfile CPE version to 5.0
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

infra: Rename ZTP Tekton pipelines from 4-22 to 5-0
  .tekton/ztp-site-generate-5-0-pull-request.yaml
  .tekton/ztp-site-generate-5-0-push.yaml
Due: e2e-aws-ci-tests

infra: lock gitmodules to 4.22
  .gitmodules
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ztp: bump ZTP site-generate from RHEL 8 to RHEL 9
  .tekton/ztp-site-generate-4-22-pull-request.yaml
  .tekton/ztp-site-generate-4-22-push.yaml
  ztp/resource-generator/.konflux/Makefile
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

cnf-tests: Bump image versions from 4.21 to 4.22
  cnf-tests/mirror/images.json
  cnf-tests/testsuites/pkg/images/images.go
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: Bump OCP and operator versions to 4.22 in common.sh
  hack/common.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

infra: update 4.22 gitmodules config
  .gitmodules
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: add allow-automatic-merge label for rpm lockfile PRs
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ci: unless all of: \.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp|\.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/images: unless all of: \.tekton/.*
  ci/prow/security: unless all of: \.tekton/.*|^test/|^hack/|^scripts/|^bin/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|LICENSE)$|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/ztp-ci: any of: ^ztp
