Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ci: unless all of: \.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp|\.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/images: unless all of: \.tekton/.*
  ci/prow/security: unless all of: \.tekton/.*|^test/|^hack/|^scripts/|^bin/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|LICENSE)$|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/ztp-ci: any of: ^ztp

cnf-tests: bump go 1.26 and ocp 5.1
  cnf-tests/.konflux/Dockerfile
  cnf-tests/Dockerfile.openshift
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ztp: support telco-reference manifest restructure
  ztp/resource-generator/Containerfile
  ztp/resource-generator/source-crs_layout_4.19.txt
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp: keep telco-reference submodule unchanged
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp: update container for telco-reference manifest layout
  ztp/gitops-subscriptions/Makefile
  ztp/policygenerator-kustomize-plugin/Makefile
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

vendor: [BRANCH-CUT] Bump to 5.1 and prepare release-5.0
  .tekton/cnf-tests-5-1-pull-request.yaml
  .tekton/cnf-tests-5-1-push.yaml
  .tekton/ztp-site-generate-5-1-pull-request.yaml
  .tekton/ztp-site-generate-5-1-push.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

vendor: [BRANCH-CUT] Prepare release-5.0 branch
  .gitmodules
  .tekton/cnf-tests-5-0-pull-request.yaml
  .tekton/cnf-tests-5-0-push.yaml
  .tekton/ztp-site-generate-5-0-pull-request.yaml
  .tekton/ztp-site-generate-5-0-push.yaml
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

tools: CNF-22668: update container base image from centos:stream9 to ubi:9
  tools/s2i-dpdk/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: CNF-22668: update container base image from centos to ubi9
  cnf-tests/GATEKEEPER.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

Enable arm64 (aarch64) builds for cnf-tests
  .tekton/cnf-tests-5-1-pull-request.yaml
  .tekton/cnf-tests-5-1-push.yaml
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/images

test-do-not-merge
  Makefile
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ci-test-do-not-merge
  README.md
  cnf-tests/pod-utils/oslat-runner/main.go
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: rpm lockfile manual update
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/images

infra: manually refresh RPM lockfile
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/images

Enable arm64 (aarch64) builds for cnf-tests release-5.0
  .tekton/cnf-tests-5-0-pull-request.yaml
  .tekton/cnf-tests-5-0-push.yaml
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/images

Enable arm64 (aarch64) builds for cnf-tests release-4.22
  .tekton/cnf-tests-4-22-pull-request.yaml
  .tekton/cnf-tests-4-22-push.yaml
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/images

Enable arm64 (aarch64) builds for cnf-tests release-4.21
  .tekton/cnf-tests-4-21-pull-request.yaml
  .tekton/cnf-tests-4-21-push.yaml
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/images

CNF-26869: Enable arm64 (aarch64) builds for cnf-tests release-4.20
  .tekton/cnf-tests-4-20-pull-request.yaml
  .tekton/cnf-tests-4-20-push.yaml
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/images

test-dont-merge
  Makefile
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ci-test-do-not-merge
  Makefile
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

do-not-merge-test-ci
  Makefile
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: Align test versions
  cnf-tests/mirror/images.json
  cnf-tests/testsuites/pkg/images/images.go
  hack/common.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: Align release 5.0 test versions
  cnf-tests/mirror/images.json
  cnf-tests/testsuites/pkg/images/images.go
  hack/common.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: Automate release version alignment
  Makefile
  cnf-tests/mirror/images.json
  cnf-tests/testsuites/pkg/images/images.go
  hack/README.md
  hack/common.sh
  hack/test_update_release_version.py
  hack/update-release-version.py
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: CNF-22590: Convert openshift-ci tools image from Fedora to RHEL/UBI
  openshift-ci/Dockerfile.tools
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: CNF-22590: Clear GOFLAGS for versioned go install in tools image
  openshift-ci/Dockerfile.tools
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: prevent invalid performance profiles from panicking
  cnf-tests/testsuites/pkg/performanceprofile/performanceprofile.go
  cnf-tests/testsuites/pkg/performanceprofile/performanceprofile_test.go
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: Add OLM annotation linting workflow and Makefile target
  .github/workflows/olm-lint.yaml
  Makefile
  feature-configs/deploy/gatekeeper/operatorGroup.yaml
  feature-configs/deploy/knmstate/operator_operatorgroup.yaml
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ztp: CNF-23439: Replace panic with error return in policy-object-template-diff
  ztp/tools/policy-object-template-diff/main.go
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

infra: Fix typos across the codebase
  README.md
  cnf-tests/README.md
  cnf-tests/testsuites/e2esuite/dpdk/dpdk.go
  cnf-tests/testsuites/e2esuite/dpdk/numa_node_sriov.go
  cnf-tests/testsuites/e2esuite/multinetworkpolicy/reachmatcher.go
  cnf-tests/testsuites/pkg/discovery/discovery.go
  cnf-tests/testsuites/pkg/performanceprofile/performanceprofile.go
  feature-configs/deploy/container-mount-namespace/README.md
  tools/oot-driver/charts/dpdk-kni-driver-0.0.1/Dockerfile-driver.SRO
  ztp/policygenerator/policyGen/policyBuilder.go
  ztp/policygenerator/policyGen/policyBuilder_test.go
  ztp/tools/siteconfig-converter/samples/test-3node-siteconfig.yaml
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

cnf-tests: fix missing $ in clone_repo.sh variable reference
  cnf-tests/testsuites/external-tests/clone_repo.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: Add kustomize validation check
  .github/workflows/test-kustomize.yaml
  Makefile
  hack/test-kustomize.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ztp: simplify test-generator.sh script
  ztp/resource-generator/tests/test-generator.sh
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp: Remove GO111MODULE
  Makefile
  ztp/tools/policy-object-template-diff/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci
