Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ztp-ci: any of: ^ztp

Red Hat Konflux purge ztp-site-generate-4-15
  .tekton/ztp-site-generate-4-15-pull-request.yaml
  .tekton/ztp-site-generate-4-15-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: comment update for TunedPerformancePatch
  ztp/kube-compare-reference/required/node-tuning-operator/TunedPerformancePatch.yaml
  ztp/source-crs/TunedPerformancePatch.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: Maintain legacy symlink layout in the ztp-site-generate Containerfile
  ztp/resource-generator/Containerfile
  ztp/resource-generator/source-crs_layout_4.19.txt
  ztp/resource-generator/tools/create_legacy_source-crs_symlinks.sh
Due: ztp-ci, ci/prow/ztp-ci

infra: vendor updates
  go.mod
  go.sum
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/github.com/golang/glog/glog_file_nonwindows.go
  vendor/github.com/golang/glog/glog_file_windows.go
  vendor/github.com/golang/glog/internal/logsink/logsink.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/modules.txt
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: manual vendor updates
  go.mod
  go.sum
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/github.com/golang/glog/glog_file_nonwindows.go
  vendor/github.com/golang/glog/glog_file_windows.go
  vendor/github.com/golang/glog/internal/logsink/logsink.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/modules.txt
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: Fix ironicInspect conversion for siteconfig-converter
  ztp/tools/siteconfig-converter/convert.go
  ztp/tools/siteconfig-converter/convert_test.go
Due: ztp-ci, ci/prow/ztp-ci

vendor: update golog to 1.2.4
  go.mod
  go.sum
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

vendor: update vendor files
  go.mod
  go.sum
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/github.com/golang/glog/glog_file_linux.go
  vendor/github.com/golang/glog/glog_file_nonwindows.go
  vendor/github.com/golang/glog/glog_file_other.go
  vendor/github.com/golang/glog/glog_file_posix.go
  vendor/github.com/golang/glog/glog_file_windows.go
  vendor/github.com/golang/glog/glog_flags.go
  vendor/github.com/golang/glog/internal/logsink/logsink.go
  vendor/github.com/golang/glog/internal/logsink/logsink_fatal.go
  vendor/github.com/golang/glog/internal/stackdump/stackdump.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/ignore.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/export.go
  vendor/github.com/google/go-cmp/cmp/export_panic.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer.go
  vendor/github.com/google/go-cmp/cmp/internal/value/pointer_purego.go
  vendor/github.com/google/go-cmp/cmp/options.go
  vendor/github.com/google/go-cmp/cmp/path.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/modules.txt
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: update components for konflux bots
  .githooks/components.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

tools: Fix namespace policy for pod to build index image
  hack/setup-build-index-image.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: Revert update policygenerator makefile
  ztp/policygenerator-kustomize-plugin/Makefile
Due: ztp-ci, ci/prow/ztp-ci

infra: add skipped files
  .githooks/check-skipped-files.sh
  .githooks/skipped-files.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

skipped files
  hack/verify-commits.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: add components
  .githooks/components.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: OCPBUGS-58567: CVE-2024-45339: remove glog usage in application code
  cnf-tests/pod-utils/stresser/main.go
  cnf-tests/testsuites/pkg/client/clients.go
  go.mod
  go.sum
  vendor/github.com/golang/glog/glog.go
  vendor/modules.txt
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: Add telco5g-konflux submodule to project - This subproject contains several useful scripts for managing Konflux components
  .gitmodules
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

owners: Update OWNERS configuration - Add renovate.json to OWNERS - Add telco5g-konflux to OWNERS - Apply yaml formatting to OWNERS and OWNERS_ALIASES files
  .tekton/OWNERS
  OWNERS
  OWNERS_ALIASES
  cnf-tests/.konflux/OWNERS
  ztp/resource-generator/.konflux/OWNERS
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: update policyTemplate namespaceSelector
  ztp/policygenerator/policyGen/policyTemplate.go
Due: ztp-ci, ci/prow/ztp-ci

ztp: add yaml tag for namespaceSelector
  ztp/policygenerator/utils/utils.go
Due: ztp-ci, ci/prow/ztp-ci

tekton: fix extra single quote
  .tekton/cnf-tests-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: remove cachito directory
  ztp/resource-generator/tools/cachito/build_requirements.in
  ztp/resource-generator/tools/cachito/build_requirements.txt
  ztp/resource-generator/tools/cachito/requirements.in
  ztp/resource-generator/tools/cachito/requirements.txt
  ztp/resource-generator/tools/cachito/setup.cfg
Due: ztp-ci, ci/prow/ztp-ci

chore(KONFLUX-6210): fix and set name and cpe label for cnf-tests-4-12
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

chore(KONFLUX-6210): fix and set name and cpe label for ztp-site-generate-4-12
  .tekton/ztp-site-generate-4-12-pull-request.yaml
  .tekton/ztp-site-generate-4-12-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: CNF-18558: Remove lines that do nothing - Previously these would have modified the copy of the dockerfile, but the Dockerfile was changed and so these are no longer necessary
  cnf-tests/Makefile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: make /etc/passwd group read-only
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci
