Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ztp-ci: any of: ^ztp

cnf-tests: rpms: use custom authentication certificate
  cnf-tests/.konflux/Makefile
  cnf-tests/.konflux/rpms.in.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: rpms: use custom authentication certificate
  ztp/resource-generator/.konflux/Makefile
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: rpms: use custom authentication certificate
  cnf-tests/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: activate auto-generating of rpm lockfile by default
  .tekton/ztp-site-generate-4-14-pull-request.yaml
  .tekton/ztp-site-generate-4-14-push.yaml
  ztp/resource-generator/.konflux/.gitignore
  ztp/resource-generator/.konflux/lock-runtime/.gitignore
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

cnf-tests: activate auto-generating of rpm lockfile by default
  .tekton/cnf-tests-4-14-pull-request.yaml
  .tekton/cnf-tests-4-14-push.yaml
  cnf-tests/.konflux/.gitignore
  cnf-tests/.konflux/lock-runtime/.gitignore
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
  cnf-tests/Makefile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: konflux: move Makefile to .konflux/ dir
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/Makefile
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: konflux: move Makefile to .konflux/ dir
  cnf-tests/.konflux/Makefile
  cnf-tests/.konflux/README.md
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update cnf-tests-4-22
  .tekton/cnf-tests-4-22-pull-request.yaml
  .tekton/cnf-tests-4-22-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: update script to download newer golang version if required by upstream acm pg
  ztp/tools/pgt2acmpg/scripts/build-acmpg-plugin.sh
Due: ztp-ci, ci/prow/ztp-ci

Add kustomize validation check
  .github/workflows/test-kustomize.yaml
  Makefile
  hack/test-kustomize.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: upversion go to 1.24.8 - CVE-2025-58183
  go.mod
  openshift-ci/Dockerfile.tools
  ztp/resource-generator/Containerfile
  ztp/tools/pgt2acmpg/go.mod
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

cnf-tests: fix go vet warning in cnf-tests test package
  cnf-tests/testsuites/pkg/junit-merger/junit-merger_test.go
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: add labels for ztp-site-generate
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

ztp: remove workload partitioning and crio symlinks
  ztp/resource-generator/source-crs_layout_4.19.txt
Due: ztp-ci, ci/prow/ztp-ci

ztp: siteconfig-converter: Generate extra-manifest without using siteconfig-generator binary
  ztp/tools/siteconfig-converter/Makefile
  ztp/tools/siteconfig-converter/README.md
  ztp/tools/siteconfig-converter/convert.go
  ztp/tools/siteconfig-converter/extraManifests.go
  ztp/tools/siteconfig-converter/extraManifests_test.go
  ztp/tools/siteconfig-converter/main.go
Due: ztp-ci, ci/prow/ztp-ci

ztp: add cpe labels to container
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

ztp: add cpe label to container
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

infra: lock gitmodules to 4.21
  .gitmodules
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

tekton: update tekton targets
  .tekton/cnf-tests-4-21-pull-request.yaml
  .tekton/cnf-tests-4-21-push.yaml
  .tekton/ztp-site-generate-4-21-pull-request.yaml
  .tekton/ztp-site-generate-4-21-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: configure mintmaker to automerge RPM security updates
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-22
  .tekton/ztp-site-generate-4-22-pull-request.yaml
  .tekton/ztp-site-generate-4-22-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: upversion go to 1.24.8 - CVE-2025-58183
  cnf-tests/testsuites/pkg/junit-merger/junit-merger_test.go
  go.mod
  openshift-ci/Dockerfile.tools
  ztp/resource-generator/Containerfile
  ztp/tools/pgt2acmpg/go.mod
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: format string updates for 1.24.8
  ztp/siteconfig-generator/main.go
Due: ztp-ci, ci/prow/ztp-ci

ztp: siteconfig-generator fixes for go bump
  ztp/siteconfig-generator/siteConfig/siteConfig.go
  ztp/siteconfig-generator/siteConfig/siteConfigBuilder_test.go
  ztp/siteconfig-generator/siteConfig/siteConfigHelper.go
Due: ztp-ci, ci/prow/ztp-ci

CNF-20663: Add CPE labels to cnf-tests
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: tekton: switch to 4.22 for master
  .tekton/cnf-tests-4-21-pull-request.yaml
  .tekton/cnf-tests-4-22-pull-request.yaml
  .tekton/cnf-tests-4-22-push.yaml
  .tekton/ztp-site-generate-4-21-pull-request.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests
