Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp-ci:
  commands: make ztp-ci-job
  container:
    from: src

e2e-aws-ci-tests:
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      USER_TAGS: 'ci-job-source prowci
  
        ci-job-branch master
  
        ci-job-fullname openshift-kni-cnf-features-deploy-e2e-aws-ci-tests-master
  
        ci-job-type e2e-aws-ci-tests
  
  ...

ci/prow/ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ci-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/security:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/ztp-ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

cnf-tests: CNF-22668: update container base image from centos to ubi9
  cnf-tests/GATEKEEPER.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

tools: CNF-22668: update container base image from centos:stream9 to ubi:9
  tools/s2i-dpdk/Dockerfile
  tools/s2i-dpdk/s2i/bin/assemble
  tools/s2i-dpdk/s2i/bin/run
  tools/s2i-dpdk/s2i/bin/save-artifacts
  tools/s2i-dpdk/s2i/bin/usage
  tools/s2i-dpdk/test/run
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

docs: update readme to remove centos reference
  feature-configs/5g-ref-nw/clusters/otwaon34567sno/nw-config/logging/README.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

infra: CNF-27453: Reconcile go.mod Go toolchain version to 1.26
  go.mod
  ztp/resource-generator/Containerfile
  ztp/tools/pgt2acmpg/go.mod
  ztp/tools/siteconfig-converter/go.mod
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

infra: CNF-18555: Migrate golang builder from brew to registry.redhat.io
  cnf-tests/.konflux/Dockerfile
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

tools: Bump dpdk to 24.11.4
  tools/s2i-dpdk/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: remove unused fmt.Sprintln result in dpdk test
  cnf-tests/testsuites/e2esuite/dpdk/dpdk.go
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

tools: CNF-27966: update container base image from centos:stream9 to ubi:9
  tools/s2i-dpdk/Dockerfile
  tools/s2i-dpdk/s2i/bin/assemble
  tools/s2i-dpdk/s2i/bin/run
  tools/s2i-dpdk/s2i/bin/save-artifacts
  tools/s2i-dpdk/s2i/bin/usage
  tools/s2i-dpdk/test/run
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: CNF-27966: update container base image from centos to ubi9
  cnf-tests/GATEKEEPER.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

docs: CNF-27966: update readme to remove centos reference
  feature-configs/5g-ref-nw/clusters/otwaon34567sno/nw-config/logging/README.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

infra: Reconcile go.mod Go toolchain version to 1.26
  go.mod
  ztp/resource-generator/Containerfile
  ztp/tools/pgt2acmpg/go.mod
  ztp/tools/siteconfig-converter/go.mod
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

cnf-tests: Update OCP builder images to Go 1.26
  cnf-tests/Dockerfile.openshift
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: Update Konflux Dockerfile builder images to Go 1.26
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/images

tools: CNF-27967: update container base image from centos:stream9 to ubi:9
  tools/s2i-dpdk/Dockerfile
  tools/s2i-dpdk/s2i/bin/assemble
  tools/s2i-dpdk/s2i/bin/run
  tools/s2i-dpdk/s2i/bin/save-artifacts
  tools/s2i-dpdk/s2i/bin/usage
  tools/s2i-dpdk/test/run
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

docs: CNF-27967: update readme to remove centos reference
  feature-configs/5g-ref-nw/clusters/otwaon34567sno/nw-config/logging/README.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

cnf-tests: CNF-27967: update container base image from centos to ubi9
  cnf-tests/GATEKEEPER.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

features: CNF-27972: Replace centos8/yum with fedora/dnf in logging README
  feature-configs/5g-ref-nw/clusters/otwaon34567sno/nw-config/logging/README.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

s2i: CNF-27972: Replace CentOS base image and dpdk-centos7 naming with UBI/dpdk-s2i
  tools/s2i-dpdk/Dockerfile
  tools/s2i-dpdk/s2i/bin/assemble
  tools/s2i-dpdk/s2i/bin/run
  tools/s2i-dpdk/s2i/bin/save-artifacts
  tools/s2i-dpdk/s2i/bin/usage
  tools/s2i-dpdk/test/run
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: CNF-27972: Replace CentOS image reference with UBI in GATEKEEPER.md
  cnf-tests/GATEKEEPER.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

tools: CNF-27969: update container base image from centos:stream9 to ubi:9
  tools/s2i-dpdk/Dockerfile
  tools/s2i-dpdk/s2i/bin/assemble
  tools/s2i-dpdk/s2i/bin/run
  tools/s2i-dpdk/s2i/bin/save-artifacts
  tools/s2i-dpdk/s2i/bin/usage
  tools/s2i-dpdk/test/run
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

docs: CNF-27969: remove centos reference from readme
  feature-configs/5g-ref-nw/clusters/otwaon34567sno/nw-config/logging/README.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

cnf-tests: CNF-27969: update container base image from centos to ubi9
  cnf-tests/GATEKEEPER.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

s2i: CNF-27971: update container base image from centos:stream9 to ubi:9
  tools/s2i-dpdk/Dockerfile
  tools/s2i-dpdk/s2i/bin/assemble
  tools/s2i-dpdk/s2i/bin/run
  tools/s2i-dpdk/s2i/bin/save-artifacts
  tools/s2i-dpdk/s2i/bin/usage
  tools/s2i-dpdk/test/run
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: CNF-27971: update GATEKEEPER example image from centos to ubi9
  cnf-tests/GATEKEEPER.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

features: CNF-27971: update kafka logging README to remove centos reference
  feature-configs/5g-ref-nw/clusters/otwaon34567sno/nw-config/logging/README.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

cnf-tests: CNF-27968: replace centos image with ubi9 in GATEKEEPER.md
  cnf-tests/GATEKEEPER.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

tools: CNF-27968: replace CentOS base image and identifiers with UBI in s2i-dpdk
  tools/s2i-dpdk/Dockerfile
  tools/s2i-dpdk/s2i/bin/assemble
  tools/s2i-dpdk/s2i/bin/run
  tools/s2i-dpdk/s2i/bin/save-artifacts
  tools/s2i-dpdk/s2i/bin/usage
  tools/s2i-dpdk/test/run
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

features: CNF-27968: remove centos reference from 5g-ref-nw logging README
  feature-configs/5g-ref-nw/clusters/otwaon34567sno/nw-config/logging/README.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

tools: CNF-27970: update s2i-dpdk base image from centos:stream9 to ubi9
  tools/s2i-dpdk/Dockerfile
  tools/s2i-dpdk/s2i/bin/assemble
  tools/s2i-dpdk/s2i/bin/run
  tools/s2i-dpdk/s2i/bin/save-artifacts
  tools/s2i-dpdk/s2i/bin/usage
  tools/s2i-dpdk/test/run
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: CNF-27970: update GATEKEEPER example image from centos to ubi9
  cnf-tests/GATEKEEPER.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ci: unless all of: \.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp|\.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/images: unless all of: \.tekton/.*
  ci/prow/security: unless all of: \.tekton/.*|^test/|^hack/|^scripts/|^bin/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|LICENSE)$|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/ztp-ci: any of: ^ztp
