Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ztp-ci: any of: ^ztp

tekton: bump tekton files in main to 4.21
  .tekton/ztp-site-generate-4-21-pull-request.yaml
  .tekton/ztp-site-generate-4-21-push.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

infra: adjust to release-4.20 pointers
  .tekton/cnf-tests-4-20-pull-request.yaml
  .tekton/cnf-tests-4-20-push.yaml
  .tekton/ztp-site-generate-4-20-pull-request.yaml
  .tekton/ztp-site-generate-4-20-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: bump go to v1.24
  cnf-tests/.konflux/Dockerfile
  go.mod
  ztp/resource-generator/Containerfile
  ztp/tools/pgt2acmpg/go.mod
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

cnf-tests: k5x: bump `oc` base to 4.20
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: update rpms lockfile
  cnf-tests/.konflux/lock-runtime/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

tekton: skip coverity checks
  .tekton/ztp-site-generate-4-21-pull-request.yaml
  .tekton/ztp-site-generate-4-21-push.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

cnf-tests: rpms: use custom authentication certificate
  cnf-tests/.konflux/Makefile
  cnf-tests/.konflux/rpms.in.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: cluster-compare now allows setting kernel.timer_migration=0 for non-RT kernels
  ztp/kube-compare-reference/required/node-tuning-operator/TunedPerformancePatch.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: remove siteconfig-generator kustomize plugin
  ztp/siteconfig-generator-kustomize-plugin/Makefile
  ztp/siteconfig-generator-kustomize-plugin/README.md
  ztp/siteconfig-generator-kustomize-plugin/kustomization.yaml
  ztp/siteconfig-generator-kustomize-plugin/testSiteConfig/site-diskencryption-nbde.yaml
  ztp/siteconfig-generator-kustomize-plugin/testSiteConfig/site-diskencryption-none.yaml
  ztp/siteconfig-generator-kustomize-plugin/testSiteConfig/site-diskencryption-tpm2.yaml
  ztp/siteconfig-generator-kustomize-plugin/testSiteConfig/site1-err.yaml
  ztp/siteconfig-generator-kustomize-plugin/testSiteConfig/site1-sno-du.yaml
  ztp/siteconfig-generator-kustomize-plugin/testSiteConfig/site1-sno-expansion.yaml
  ztp/siteconfig-generator-kustomize-plugin/testSiteConfig/site2-sno-du.yaml
  ztp/siteconfig-generator-kustomize-plugin/testSiteConfig/site2-standard-du.yaml
  ztp/siteconfig-generator-kustomize-plugin/testSiteConfig/testHW.profile
  ztp/siteconfig-generator-kustomize-plugin/testSiteConfig/testUserExtraManifest/00-emptymanifest.yaml
  ztp/siteconfig-generator-kustomize-plugin/testSiteConfig/testUserExtraManifest/01-endUser-ex-machine-config.yaml
Due: ztp-ci, ci/prow/ztp-ci

infra: remove check verify commits
  hack/verify-commits.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: update ci path for policy-gen
  ztp/policygenerator-kustomize-plugin/Makefile
Due: ztp-ci, ci/prow/ztp-ci

ztp: copy symlinks
  ztp/gitops-subscriptions/Makefile
  ztp/policygenerator-kustomize-plugin/Makefile
Due: ztp-ci, ci/prow/ztp-ci

ztp: update ztp-site-generate container
  ztp/Makefile
  ztp/resource-generator/Containerfile
  ztp/resource-generator/entrypoints/entrypoints
  ztp/resource-generator/entrypoints/generator
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: update 4.20 -> 4.21
  cnf-tests/mirror/images.json
  cnf-tests/testsuites/pkg/images/images.go
  hack/common.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: use 1.24 builders for 4.21
  cnf-tests/.konflux/Dockerfile
  cnf-tests/Dockerfile.openshift
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: tektons to 4.21 for master
  .tekton/cnf-tests-4-21-pull-request.yaml
  .tekton/cnf-tests-4-21-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: init submodule
  ztp/Makefile
  ztp/source-crs/README.md
Due: ztp-ci, ci/prow/ztp-ci

ztp: siteconfig-converter: Generate extra-manifest without using siteconfig-generator binary
  ztp/tools/siteconfig-converter/Makefile
  ztp/tools/siteconfig-converter/README.md
  ztp/tools/siteconfig-converter/convert.go
  ztp/tools/siteconfig-converter/extraManifests.go
  ztp/tools/siteconfig-converter/extraManifests_test.go
  ztp/tools/siteconfig-converter/main.go
Due: ztp-ci, ci/prow/ztp-ci

infra: update Makefiles
  .githooks/commit-msg
  .githooks/restricted-dirs.sh
  hack/verify-commits.sh
  ztp/Makefile
  ztp/policygenerator-kustomize-plugin/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: update PGT templates for source-crs directories
  ztp/policygenerator-kustomize-plugin/testPolicyGenTemplate/common-mno-ranGen.yaml
  ztp/policygenerator-kustomize-plugin/testPolicyGenTemplate/common-ranGen.yaml
  ztp/policygenerator-kustomize-plugin/testPolicyGenTemplate/group-du-ranGen.yaml
  ztp/policygenerator-kustomize-plugin/testPolicyGenTemplate/group-du-sno-ranGen.yaml
  ztp/policygenerator-kustomize-plugin/testPolicyGenTemplate/site-du-sno-ranGen.yaml
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: tekton: skip coverity task
  .tekton/cnf-tests-4-21-pull-request.yaml
  .tekton/cnf-tests-4-21-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: fix fatal log
  cnf-tests/testsuites/pkg/junit-merger/junit-merger_test.go
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Revert "infra: bump go to v1.24"
  cnf-tests/.konflux/Dockerfile
  go.mod
  ztp/resource-generator/Containerfile
  ztp/tools/pgt2acmpg/go.mod
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

cnf-tests: k5x: update golang builder to 1.24
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: remove import for deleted file
  .githooks/commit-msg
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp:CNF-18399: siteconfig CR/CRD removed
  ztp/ran-crd/README.md
  ztp/ran-crd/kustomization.yaml
  ztp/ran-crd/site-config-cr-ex.yaml
  ztp/ran-crd/site-config-crd.yaml
  ztp/resource-generator/entrypoints/generator
  ztp/resource-generator/exportkustomize.sh
  ztp/tools/pgt2acmpg/README.md
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: use go 1.24 builders for 4.21
  cnf-tests/Dockerfile.openshift
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: use go 1.24 builders for 4.20
  cnf-tests/Dockerfile.openshift
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests
