Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp-ci:
  commands: make ztp-ci-job
  container:
    from: src

e2e-aws-ci-tests:
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      USER_TAGS: 'ci-job-source prowci
  
        ci-job-branch master
  
        ci-job-fullname openshift-kni-cnf-features-deploy-e2e-aws-ci-tests-master
  
        ci-job-type e2e-aws-ci-tests
  
  ...

ci/prow/e2e-aws-ci-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/ztp-ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ztp: Add an example PtpConfig and reference template for the T-GM 3-card WPC
  ztp/kube-compare-reference/default_value.yaml
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigThreeCardGmWpc.yaml
  ztp/source-crs/PtpConfigThreeCardGmWpc.yaml
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: switch to ocp/builder base for multi-arch support
  cnf-tests/Dockerfile.openshift
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: use 4.18 oc
  cnf-tests/Dockerfile.openshift
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: use 4.17 oc
  cnf-tests/Dockerfile.openshift
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: Remove deprecated Event API version configuration
  ztp/kube-compare-reference/default_value.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpOperatorConfigForEvent.yaml
  ztp/source-crs/PtpOperatorConfigForEvent-SetSelector.yaml
  ztp/source-crs/PtpOperatorConfigForEvent.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: Adjust 3-card PTP T-GM reference to not rely on fallback behavior
  ztp/kube-compare-reference/default_value.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigThreeCardGmWpc.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: update ClusterLog CRs to wave 3
  ztp/source-crs/ClusterLogServiceAccount.yaml
  ztp/source-crs/ClusterLogServiceAccountAuditBinding.yaml
  ztp/source-crs/ClusterLogServiceAccountInfrastructureBinding.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: CNF-15573: Add reboot manifests
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/README.md
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-example-multinode-reboot.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-example-sno-reboot.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/kustomization.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/example-multinode-reboot.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/example-sno-reboot.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/kustomization.yaml
  ztp/kube-compare-reference/compare_ignore
  ztp/source-crs/RebootMachineConfig.yaml
  ztp/source-crs/validatorCRs/rebootMachineConfigPoolValidator.yaml
Due: ztp-ci, ci/prow/ztp-ci

ClusterLogSubscription to stable-6.2
  ztp/source-crs/ClusterLogSubscription.yaml
Due: ztp-ci, ci/prow/ztp-ci

cnf-test: konflux-tekton: support arm64 build
  .tekton/cnf-tests-pull-request.yaml
  .tekton/cnf-tests-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests:k5x: add missing `varsFromContainerfile`
  cnf-tests/.konflux/rpms.in.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

TBD
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: Allow vfio kernel args to be optional
  ztp/kube-compare-reference/required/node-tuning-operator/PerformanceProfile.yaml
  ztp/kube-compare-reference/unordered_list.tmpl
Due: ztp-ci, ci/prow/ztp-ci

ztp: Default WPC-GM MaxInSpecOffset to 1500 and allow user configuration of all settings values
  ztp/kube-compare-reference/default_value.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigDualCardGmWpc.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigGmWpc.yaml
  ztp/source-crs/PtpConfigDualCardGmWpc.yaml
  ztp/source-crs/PtpConfigGmWpc.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: Allow `watch` for policiy evaluation intervals in PGT
  ztp/policygenerator/policyGen/policyBuilder_test.go
  ztp/policygenerator/policyGen/policyHelper.go
  ztp/policygenerator/utils/utils.go
Due: ztp-ci, ci/prow/ztp-ci

ztp: Change reboot policies evaluation intervals to watch
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-example-multinode-reboot.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-example-sno-reboot.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/example-multinode-reboot.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/example-sno-reboot.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: Allow vfio kernel args to be optional
  ztp/kube-compare-reference/required/node-tuning-operator/PerformanceProfile.yaml
  ztp/kube-compare-reference/unordered_list.tmpl
  ztp/source-crs/PerformanceProfile.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: Bump golang to 1.23
  go.mod
  openshift-ci/Dockerfile.tools
  ztp/resource-generator/Containerfile
  ztp/tools/pgt2acmpg/go.mod
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

infra: Bump fedora to 41 in Dockerfile.tools
  openshift-ci/Dockerfile.tools
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

infra: update `cluster-node-tuning` ref to `main`
  Makefile
  cnf-tests/README.md
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update cnf-tests-4-19 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/cnf-tests-4-19-pull-request.yaml
  .tekton/cnf-tests-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: Lock ACM PG version
  ztp/tools/pgt2acmpg/scripts/build-acmpg-plugin.sh
Due: ztp-ci, ci/prow/ztp-ci

ztp: add dual-follower ptpconfig example
  ztp/kube-compare-reference/default_value.yaml
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigDualFollower.yaml
  ztp/source-crs/PtpConfigDualFollower.yaml
Due: ztp-ci, ci/prow/ztp-ci

tekton: cnf-tests: rename with branch version
  .tekton/cnf-tests-4-19-pull-request.yaml
  .tekton/cnf-tests-4-19-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: reference: Ensure PtpOperatorConfig apiVersion is a string, and transportHost is optional
  ztp/kube-compare-reference/default_value.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpOperatorConfigForEvent.yaml
  ztp/source-crs/PtpOperatorConfigForEvent.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: reference: Allow PerformanceProfile hardwareTuning to be set
  ztp/kube-compare-reference/required/node-tuning-operator/PerformanceProfile.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: reference: Enable users to set PerformanceProfile perPodPowerManagement
  ztp/kube-compare-reference/default_value.yaml
  ztp/kube-compare-reference/required/node-tuning-operator/PerformanceProfile.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: reference: Allow PerformanceProfile kernelPageSize to optionally be set
  ztp/kube-compare-reference/required/node-tuning-operator/PerformanceProfile.yaml
Due: ztp-ci, ci/prow/ztp-ci

ztp: 'master' is deprecated; use control-plane
  ztp/siteconfig-generator/siteConfig/clusterCRsV1.go
  ztp/siteconfig-generator/siteConfig/clusterCRsV2.go
  ztp/siteconfig-generator/siteConfig/siteConfig.go
  ztp/siteconfig-generator/siteConfig/siteConfigBuilder_test.go
  ztp/siteconfig-generator/siteConfig/siteConfig_test.go
Due: ztp-ci, ci/prow/ztp-ci

cnf-tests: remove `special-resource-operator` dependency
  cnf-tests/testsuites/pkg/client/clients.go
  cnf-tests/testsuites/pkg/utils/reporter.go
  go.mod
  go.sum
  vendor/github.com/openshift-psap/special-resource-operator/LICENSE
  vendor/github.com/openshift-psap/special-resource-operator/api/v1beta1/groupversion_info.go
  vendor/github.com/openshift-psap/special-resource-operator/api/v1beta1/specialresource_types.go
  vendor/github.com/openshift-psap/special-resource-operator/api/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift-psap/special-resource-operator/pkg/helmer/api/v1beta1/helmer_types.go
  vendor/modules.txt
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: delete Dockerfile
  cnf-tests/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: added ENV vars of cnf-test and dpdk images into Dockerfile
  cnf-tests/Dockerfile.openshift
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: align cnf-tests and dpdk image references
  hack/run-functests.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

docs: elaborated instructions for branching in readme.md
  README.md
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ztp-ci: any of: ^ztp
