Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

ztp-ci:
  commands: make ztp-ci-job
  container:
    from: src

e2e-aws-ci-tests:
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      USER_TAGS: 'ci-job-source prowci
  
        ci-job-branch master
  
        ci-job-fullname openshift-kni-cnf-features-deploy-e2e-aws-ci-tests-master
  
        ci-job-type e2e-aws-ci-tests
  
  ...

ci/prow/e2e-gcp-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    job-release: '4.15'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ztp: CNF-14991: Set ACM branch to release-2.10 for OCP 4.16
  ztp/tools/pgt2acmpg/scripts/build-acmpg-plugin.sh
Due: ztp-ci

ztp: reference: Enforce cluster version for this reference to be 4.18
  ztp/kube-compare-reference/ClusterVersionOperator.yaml
  ztp/kube-compare-reference/compare_ignore
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/version_match.tmpl
Due: ztp-ci

ztp: reference: Enforce cluster version for this reference to be 4.17
  ztp/kube-compare-reference/ClusterVersionOperator.yaml
  ztp/kube-compare-reference/compare_ignore
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/version_match.tmpl
Due: ztp-ci

ztp: reference: Enforce cluster version for this reference to be 4.16
  ztp/kube-compare-reference/ClusterVersionOperator.yaml
  ztp/kube-compare-reference/compare_ignore
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/version_match.tmpl
Due: ztp-ci

ztp: reference: Enforce cluster version for this reference to be 4.15
  ztp/kube-compare-reference/ClusterVersionOperator.yaml
  ztp/kube-compare-reference/compare_ignore
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/version_match.tmpl
Due: ztp-ci

ztp: reference: Enforce cluster version for this reference to be 4.14
  ztp/kube-compare-reference/ClusterVersionOperator.yaml
  ztp/kube-compare-reference/compare_ignore
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/version_match.tmpl
Due: ztp-ci

ztp: Remove ztp-deploy-wave number from validator source crs for ACM PGs
  ztp/source-crs/validatorCRs/informDuValidatorMaster.yaml
  ztp/source-crs/validatorCRs/informDuValidatorWorker.yaml
Due: ztp-ci

ztp: CNF-14990: Fix golang ocp builder image in resource generator
  go.mod
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

ztp: CNF-14990: Fix golang ocp builder image in resource generator - Should match the golang and ocp versions used in current release
  go.mod
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

infra: CNF-14990: Align on fedora38+golang121 after backporting previous change
  go.mod
  go.sum
  openshift-ci/Dockerfile.tools
  ztp/tools/pgt2acmpg/go.mod
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

ztp: reference: Use binary realease of helm-convert instead of go install
  ztp/kube-compare-reference/Makefile
Due: ztp-ci

Do not merge - test commit (1)
  test.txt
Due: e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

Do not merge - test commit (2)
  ztp/test.txt
Due: ztp-ci

cnf-tests: Compare Multus and SR-IOV metrics
  cnf-tests/testsuites/e2esuite/metrics/sriovnetworkmetricsexporter.go
  cnf-tests/testsuites/e2esuite/test_suite_test.go
  cnf-tests/testsuites/pkg/utils/reporter.go
Due: e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

infra: Add tests results to the main job page
  hack/run-functests.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

ztp: Fix workload partitioning annotation for LVM
  ztp/kube-compare-reference/optional/storage/StorageLVMSubscriptionNS.yaml
  ztp/source-crs/StorageLVMSubscriptionNS.yaml
Due: ztp-ci

ztp: adding empty file in testUserExtraManifest
  ztp/siteconfig-generator-kustomize-plugin/testSiteConfig/testUserExtraManifest/00-emptymanifest.yaml
Due: ztp-ci

ztp: checks for empty manifests in siteconfig-generator-kustomize-plugin
  ztp/siteconfig-generator/siteConfig/siteConfigBuilder.go
Due: ztp-ci

ztp: reference: remove duplicated records
  ztp/kube-compare-reference/metadata.yaml
Due: ztp-ci

ztp: reference: delete duplicated records
  ztp/kube-compare-reference/metadata.yaml
Due: ztp-ci

ztp: remove unsupported KlusterletAddonConfig clusterLabels and update managecluster CR to include cloud and vendor label
  ztp/gitops-subscriptions/argocd/README.md
  ztp/gitops-subscriptions/argocd/deployment/allow-acm-managedcluster-control.json
  ztp/gitops-subscriptions/argocd/deployment/clusters-app.yaml
  ztp/gitops-subscriptions/argocd/example/siteconfig/KlusterletAddonConfigOverride.yaml
  ztp/siteconfig-generator/siteConfig/clusterCRsV1.go
  ztp/siteconfig-generator/siteConfig/clusterCRsV2.go
  ztp/siteconfig-generator/siteConfig/siteConfig.go
  ztp/siteconfig-generator/siteConfig/siteConfigBuilder.go
  ztp/siteconfig-generator/siteConfig/siteConfigBuilder_test.go
  ztp/siteconfig-generator/siteConfig/testdata/KlusterletAddonConfigOverride-MissingArgocdAnnotation.yaml
  ztp/siteconfig-generator/siteConfig/testdata/KlusterletAddonConfigOverride-MissingMetadata.yaml
  ztp/siteconfig-generator/siteConfig/testdata/KlusterletAddonConfigOverride-MissingMetadataAnnotations.yaml
  ztp/siteconfig-generator/siteConfig/testdata/KlusterletAddonConfigOverride-NotTemplated.yaml
  ztp/siteconfig-generator/siteConfig/testdata/KlusterletAddonConfigOverride.yaml
  ztp/siteconfig-generator/siteConfig/testdata/SplitAndMergeMachineConfigExpected/mergeMC.yaml
  ztp/siteconfig-generator/siteConfig/testdata/SplitAndMergeMachineConfigExpected/splitMC.yaml
  ztp/siteconfig-generator/siteConfig/testdata/filteredoutput/onlyUserCR.yaml
  ztp/siteconfig-generator/siteConfig/testdata/filteredoutput/partialfilter.yaml
  ztp/siteconfig-generator/siteConfig/testdata/filteredoutput/removeAll.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigCPUPartitioningDeprecatedTestOutput.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigCPUPartitioningNewTestOutput.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigDualStackStandardClusterTestOutput.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigStandardClusterTestOutput.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigTestOutput.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigV2TestOutput.yaml
Due: ztp-ci

ztp: remove unsupported KlusterletAddonConfig clusterLabels and update managecluster CR to include cloud and vendor label
  ztp/gitops-subscriptions/argocd/README.md
  ztp/gitops-subscriptions/argocd/deployment/allow-acm-managedcluster-control.json
  ztp/gitops-subscriptions/argocd/deployment/clusters-app.yaml
  ztp/gitops-subscriptions/argocd/example/siteconfig/KlusterletAddonConfigOverride.yaml
  ztp/siteconfig-generator/siteConfig/clusterCRs.go
  ztp/siteconfig-generator/siteConfig/siteConfig.go
  ztp/siteconfig-generator/siteConfig/siteConfigBuilder.go
  ztp/siteconfig-generator/siteConfig/siteConfigBuilder_test.go
  ztp/siteconfig-generator/siteConfig/testdata/KlusterletAddonConfigOverride-MissingArgocdAnnotation.yaml
  ztp/siteconfig-generator/siteConfig/testdata/KlusterletAddonConfigOverride-MissingMetadata.yaml
  ztp/siteconfig-generator/siteConfig/testdata/KlusterletAddonConfigOverride-MissingMetadataAnnotations.yaml
  ztp/siteconfig-generator/siteConfig/testdata/KlusterletAddonConfigOverride-NotTemplated.yaml
  ztp/siteconfig-generator/siteConfig/testdata/KlusterletAddonConfigOverride.yaml
  ztp/siteconfig-generator/siteConfig/testdata/SplitAndMergeMachineConfigExpected/mergeMC.yaml
  ztp/siteconfig-generator/siteConfig/testdata/SplitAndMergeMachineConfigExpected/splitMC.yaml
  ztp/siteconfig-generator/siteConfig/testdata/filteredoutput/onlyUserCR.yaml
  ztp/siteconfig-generator/siteConfig/testdata/filteredoutput/partialfilter.yaml
  ztp/siteconfig-generator/siteConfig/testdata/filteredoutput/removeAll.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigCPUPartitioningDeprecatedTestOutput.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigCPUPartitioningNewTestOutput.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigDualStackStandardClusterTestOutput.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigStandardClusterTestOutput.yaml
  ztp/siteconfig-generator/siteConfig/testdata/siteConfigTestOutput.yaml
Due: ztp-ci

ztp: fix lint policies-app.yaml
  ztp/gitops-subscriptions/argocd/deployment/policies-app.yaml
Due: ztp-ci

cnf-tests: Add debug information for flake tests
  cnf-tests/testsuites/e2esuite/dpdk/numa_node_sriov.go
Due: e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

cnf-tests: increase `WaitForAllMCPStable` timeout
  cnf-tests/testsuites/pkg/machineconfigpool/machineconfigpool.go
Due: e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

ztp: reference: deprecated LVMO*.yaml
  ztp/kube-compare-reference/metadata.yaml
Due: ztp-ci

cnf-tests: Set `TTY: false` in `ExecCommandInContainer`
  cnf-tests/testsuites/pkg/pods/pods.go
Due: e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

cnf-tests: DNM test
  cnf-tests/hack/init-git-submodules.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

cnf-tests: Reduce size of cnf-tests image
  cnf-tests/Dockerfile
  cnf-tests/Dockerfile.openshift
Due: e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

ztp: reference: Use capturegroupInlineDiff for PTPConfig
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigBoundary.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigBoundaryForEvent.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigDualCardGmWpc.yaml
  ztp/kube-compare-reference/optional/ptp-config/PtpConfigGmWpc.yaml
  ztp/source-crs/PtpConfigBoundary.yaml
  ztp/source-crs/PtpConfigBoundaryForEvent.yaml
  ztp/source-crs/PtpConfigDualCardGmWpc.yaml
  ztp/source-crs/PtpConfigGmWpc.yaml
Due: ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-gcp-ovn: unless all of: ^ztp
