Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-gcp-ovn: unless all of: ^ztp

cnf-tests: use sriov config daemon for exec instead of mco
  cnf-tests/testsuites/e2esuite/dpdk/numa_node_sriov.go
  cnf-tests/testsuites/pkg/nodes/nodes.go
  cnf-tests/testsuites/pkg/utils/consts.go
Due: e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

ztp: revert phc2sys leap option to fixed -37 sec
  ztp/source-crs/PtpConfigDualCardGmWpc.yaml
  ztp/source-crs/PtpConfigGmWpc.yaml
Due: ztp-ci

ztp: move LVMS to mgmt cores
  ztp/source-crs/StorageLVMSubscriptionNS.yaml
Due: ztp-ci

ztp: fix NAV-TIMELS reporting period
  ztp/source-crs/PtpConfigDualCardGmWpc.yaml
  ztp/source-crs/PtpConfigGmWpc.yaml
Due: ztp-ci

ztp: Add openAPI support
  ztp/gitops-subscriptions/Makefile
  ztp/tools/pgt2acmpg/.golangci.yml
  ztp/tools/pgt2acmpg/Makefile
  ztp/tools/pgt2acmpg/main.go
  ztp/tools/pgt2acmpg/packages/acmformat/acmformat.go
  ztp/tools/pgt2acmpg/packages/fileutils/fileutils.go
  ztp/tools/pgt2acmpg/packages/patches/patches.go
  ztp/tools/pgt2acmpg/scripts/build-acmpg-plugin.sh
  ztp/tools/pgt2acmpg/scripts/build-pgt-plugin-noparam.sh
  ztp/tools/pgt2acmpg/scripts/build-pgt-plugin-only.sh
  ztp/tools/pgt2acmpg/scripts/build-pgt-plugin.sh
Due: ztp-ci

ztp: update Reference ACMPG templates with PTP openAPI schema
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-group-du-3node-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-group-du-sno-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/acm-group-du-standard-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-3node-ranGen-templated.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-sno-ranGen-templated.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/hub-side-templating/acm-group-du-standard-ranGen-templated.yaml
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/hub-side-templating/schema.openapi
  ztp/gitops-subscriptions/argocd/example/acmpolicygenerator/schema.openapi
  ztp/gitops-subscriptions/argocd/example/policygentemplates/group-du-standard-ranGen.yaml
Due: ztp-ci

ztp: updating MCE container image to 2.11 (contains support for openapi schema for custom resources)
  ztp/gitops-subscriptions/argocd/README.md
  ztp/gitops-subscriptions/argocd/deployment/argocd-openshift-gitops-patch.json
  ztp/tools/pgt2acmpg/README.md
Due: ztp-ci

ztp: updated documentation
  ztp/tools/pgt2acmpg/README.md
Due: ztp-ci

cnf-tests: Read guaranteed CPU list for cgroupv2
  cnf-tests/testsuites/e2esuite/dpdk/dpdk.go
  cnf-tests/testsuites/e2esuite/s2i/s2i.go
  tools/s2i-dpdk/test/test-app/run.sh
Due: e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

infra: Bump go v1.22 in CI jobs
  cnf-tests/Dockerfile
  cnf-tests/Dockerfile.openshift
  openshift-ci/Dockerfile.tools
Due: e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

ztp: Fix diffs between ref and source-crs
  ztp/kube-compare-reference/required/node-tuning-operator/PerformanceProfile.yaml
  ztp/kube-compare-reference/required/ptp-operator/PtpConfigGmWpc.yaml
Due: ztp-ci

ztp: Update OADP subscription to channel 1.4
  ztp/source-crs/OadpSubscription.yaml
Due: ztp-ci

infra: Updated submodules refs
  Makefile
Due: e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

ztp: OCPBUGS-37572: Fix aZTP for SiteConfig v1
  ztp/siteconfig-generator/siteConfig/siteConfig.go
  ztp/siteconfig-generator/siteConfig/siteConfigBuilder.go
  ztp/siteconfig-generator/siteConfig/siteConfigBuilder_test.go
Due: ztp-ci

ztp: 'master' is deprecated; use control-plane
  ztp/siteconfig-generator/siteConfig/clusterCRsV1.go
  ztp/siteconfig-generator/siteConfig/clusterCRsV2.go
  ztp/siteconfig-generator/siteConfig/siteConfig.go
  ztp/siteconfig-generator/siteConfig/siteConfigBuilder_test.go
  ztp/siteconfig-generator/siteConfig/siteConfig_test.go
Due: ztp-ci

ztp: Remove GO111MODULE
  Makefile
  ztp/tools/policy-object-template-diff/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-gcp-ovn

ztp: Update ref config with additional expected variation
  ztp/kube-compare-reference/metadata.yaml
  ztp/kube-compare-reference/required/cluster-tuning/operator-hub/DefaultCatsrc.yaml
  ztp/kube-compare-reference/required/cluster-tuning/operator-hub/DisconnectedICSP.yaml
Due: ztp-ci

ztp: Change ArgoCD apps default deletion behavior
  ztp/gitops-subscriptions/argocd/deployment/clusters-app.yaml
Due: ztp-ci

ztp: Include OADP into workload partitioning
  ztp/source-crs/OadpDataProtectionApplication.yaml
  ztp/source-crs/OadpSubscriptionNS.yaml
Due: ztp-ci

ztp: Extend IPsec optional feature to support SNO+1 and MNO
  ztp/gitops-subscriptions/argocd/example/optional-extra-manifest/ipsec/README.md
  ztp/gitops-subscriptions/argocd/example/optional-extra-manifest/ipsec/configure-ipsec.sh
  ztp/gitops-subscriptions/argocd/example/optional-extra-manifest/ipsec/import-certs.sh
  ztp/gitops-subscriptions/argocd/example/optional-extra-manifest/ipsec/ipsec-config-policy.yaml
  ztp/gitops-subscriptions/argocd/example/optional-extra-manifest/ipsec/ipsec-endpoint-config.yml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/group-du-3node-ranGen.yaml
  ztp/gitops-subscriptions/argocd/example/policygentemplates/group-du-standard-ranGen.yaml
  ztp/source-crs/NMState.yaml
  ztp/source-crs/NMStateOperatorStatus.yaml
  ztp/source-crs/NMStateSubscription.yaml
  ztp/source-crs/NMStateSubscriptionNS.yaml
  ztp/source-crs/NMStateSubscriptionOperGroup.yaml
Due: ztp-ci
