Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp-ci:
  commands: make ztp-ci-job
  container:
    from: src

e2e-aws-ci-tests:
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      USER_TAGS: 'ci-job-source prowci
  
        ci-job-branch master
  
        ci-job-fullname openshift-kni-cnf-features-deploy-e2e-aws-ci-tests-master
  
        ci-job-type e2e-aws-ci-tests
  
  ...

ci/prow/ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ci-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/security:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/ztp-ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

infra: Add kustomize validation check
  .github/workflows/test-kustomize.yaml
  Makefile
  hack/test-kustomize.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ztp: CNF-22506/CNF-22508: Update ubi8 and ubi9 to both be latest
  ztp/resource-generator/.konflux/Makefile
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

infra: make konflux update tasks work on both macos and linux
  cnf-tests/.konflux/Makefile
  ztp/resource-generator/.konflux/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/images, ci/prow/ztp-ci

tools: add explicit latest tag to ubi images
  tools/buildingsctp/src/Dockerfile.sctp
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: CNF-22508: Update ubi9 tag to latest
  cnf-tests/.konflux/Makefile
  cnf-tests/.konflux/README.md
Due: e2e-aws-ci-tests, ci/prow/images

cnf-tests: regenerate rpm lockfile
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/images

cnf-tests: CNF-22506/CNF-22508: Update ubi8 and ubi9 tag to both be latest
  cnf-tests/.konflux/Makefile
  cnf-tests/.konflux/README.md
Due: e2e-aws-ci-tests, ci/prow/images

ztp: regenerate rpm lockfile
  ztp/resource-generator/.konflux/rpms.lock.yaml
Due: ztp-ci, ci/prow/images, ci/prow/ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ci: unless all of: \.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp|\.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/images: unless all of: \.tekton/.*
  ci/prow/security: unless all of: \.tekton/.*|^test/|^hack/|^scripts/|^bin/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|LICENSE)$|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/ztp-ci: any of: ^ztp
