Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp-ci:
  commands: make ztp-ci-job
  container:
    from: src

e2e-aws-ci-tests:
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      USER_TAGS: 'ci-job-source prowci
  
        ci-job-branch master
  
        ci-job-fullname openshift-kni-cnf-features-deploy-e2e-aws-ci-tests-master
  
        ci-job-type e2e-aws-ci-tests
  
  ...

ci/prow/e2e-aws-ci-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-telco
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/ztp-ci:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

cnf-tests: konflux 4.12 onboarding
  .tekton/OWNERS
  .tekton/cnf-tests-4-12-pull-request.yaml
  .tekton/cnf-tests-4-12-push.yaml
  OWNERS_ALIASES
  cnf-tests/.konflux/Dockerfile
  cnf-tests/.konflux/README.md
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: konflux 4.16 onboarding
  .tekton/OWNERS
  .tekton/cnf-tests-4-16-pull-request.yaml
  .tekton/cnf-tests-4-16-push.yaml
  OWNERS_ALIASES
  cnf-tests/.konflux/Dockerfile
  cnf-tests/.konflux/README.md
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: konflux 4.17 onboarding
  .tekton/OWNERS
  .tekton/cnf-tests-4-17-pull-request.yaml
  .tekton/cnf-tests-4-17-push.yaml
  OWNERS_ALIASES
  cnf-tests/.konflux/Dockerfile
  cnf-tests/.konflux/README.md
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

cnf-tests: konflux 4.18 onboarding
  .tekton/OWNERS
  .tekton/cnf-tests-4-18-pull-request.yaml
  .tekton/cnf-tests-4-18-push.yaml
  OWNERS_ALIASES
  cnf-tests/.konflux/Dockerfile
  cnf-tests/.konflux/README.md
  cnf-tests/.konflux/rpms.in.yaml
  cnf-tests/.konflux/rpms.lock.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: release-4.18
  .tekton/ztp-site-generate-4-18-pull-request.yaml
  .tekton/ztp-site-generate-4-18-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: Containerfile updates
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

ztp: konflux changes backport
  .tekton/ztp-site-generate-4-17-pull-request.yaml
  .tekton/ztp-site-generate-4-17-push.yaml
  ztp/.konflux/build-args-konflux.conf
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/redhat.repo
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: Containerfile changes
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

ztp: update builder image to 4.19
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

ztp: backport konflux to 4.16
  .tekton/ztp-site-generate-4-16-pull-request.yaml
  .tekton/ztp-site-generate-4-16-push.yaml
  ztp/.konflux/build-args-konflux.conf
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/redhat.repo
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: backport konflux to 4.15
  .tekton/ztp-site-generate-4-15-pull-request.yaml
  .tekton/ztp-site-generate-4-15-push.yaml
  ztp/.konflux/build-args-konflux.conf
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/redhat.repo
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

ztp: update to 1.21
  ztp/.konflux/build-args-konflux.conf
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

ztp: update golang builder image
  ztp/.konflux/build-args-konflux.conf
Due: ztp-ci, ci/prow/ztp-ci

ztp: update golang builder images
  ztp/.konflux/build-args-konflux.conf
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ztp-ci

ztp: backport konflux to 4.14
  .tekton/ztp-site-generate-4-14-pull-request.yaml
  .tekton/ztp-site-generate-4-14-push.yaml
  ztp/.konflux/build-args-konflux.conf
  ztp/resource-generator/.konflux/README.md
  ztp/resource-generator/.konflux/redhat.repo
  ztp/resource-generator/.konflux/rpms.in.yaml
  ztp/resource-generator/.konflux/rpms.lock.yaml
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

infra: lock gitmodule branches
  .gitmodules
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-16-pull-request.yaml
  .tekton/ztp-site-generate-4-16-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-13 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-13-pull-request.yaml
  .tekton/ztp-site-generate-4-13-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-20 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-20-pull-request.yaml
  .tekton/ztp-site-generate-4-20-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-15-pull-request.yaml
  .tekton/ztp-site-generate-4-15-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-17 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-17-pull-request.yaml
  .tekton/ztp-site-generate-4-17-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-14 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-14-pull-request.yaml
  .tekton/ztp-site-generate-4-14-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-18-pull-request.yaml
  .tekton/ztp-site-generate-4-18-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

Red Hat Konflux update ztp-site-generate-4-12 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ztp-site-generate-4-12-pull-request.yaml
  .tekton/ztp-site-generate-4-12-push.yaml
Due: e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests

ztp: remove redundant build-args file
  ztp/.konflux/OWNERS
  ztp/.konflux/build-args-konflux.conf
Due: ztp-ci, ci/prow/ztp-ci

ztp: remove references to build-args and update build image
  .tekton/ztp-site-generate-4-20-pull-request.yaml
  .tekton/ztp-site-generate-4-20-push.yaml
  renovate.json
  ztp/resource-generator/Containerfile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/e2e-aws-ci-tests, ci/prow/ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ztp-ci: any of: ^ztp
