Repository openshift-kni/cnf-features-deploy: changes, and which Prow jobs are due for each by the changed paths.
All: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

Path conditions:
  ztp-ci: any of: ^ztp
  e2e-aws-ci-tests: unless all of: ^ztp
  ci/prow/ci: unless all of: \.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/e2e-aws-ci-tests: unless all of: ^ztp|\.tekton/.*|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/images: unless all of: \.tekton/.*
  ci/prow/security: unless all of: \.tekton/.*|^test/|^hack/|^scripts/|^bin/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|LICENSE)$|cnf-tests/.konflux/.*|ztp/resource-generator/.konflux/.*
  ci/prow/ztp-ci: any of: ^ztp

ztp: CNF-23439: Replace panic with error return in policy-object-template-diff
  ztp/tools/policy-object-template-diff/main.go
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

infra: Fix typos across the codebase
  README.md
  cnf-tests/README.md
  cnf-tests/testsuites/e2esuite/dpdk/dpdk.go
  cnf-tests/testsuites/e2esuite/dpdk/numa_node_sriov.go
  cnf-tests/testsuites/e2esuite/multinetworkpolicy/reachmatcher.go
  cnf-tests/testsuites/pkg/discovery/discovery.go
  cnf-tests/testsuites/pkg/performanceprofile/performanceprofile.go
  feature-configs/deploy/container-mount-namespace/README.md
  tools/oot-driver/charts/dpdk-kni-driver-0.0.1/Dockerfile-driver.SRO
  ztp/policygenerator/policyGen/policyBuilder.go
  ztp/policygenerator/policyGen/policyBuilder_test.go
  ztp/tools/siteconfig-converter/samples/test-3node-siteconfig.yaml
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

cnf-tests: fix missing $ in clone_repo.sh variable reference
  cnf-tests/testsuites/external-tests/clone_repo.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

infra: Add kustomize validation check
  .github/workflows/test-kustomize.yaml
  Makefile
  hack/test-kustomize.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ztp: simplify test-generator.sh script
  ztp/resource-generator/tests/test-generator.sh
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp: Remove GO111MODULE
  Makefile
  ztp/tools/policy-object-template-diff/Makefile
Due: ztp-ci, e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

CNF-22194: update extra-manifest path for telco-ran restructuring
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

konflux: bump ose cli 4.21
  cnf-tests/.konflux/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/images

infra: Add OLM annotation linting workflow and Makefile target
  .github/workflows/olm-lint.yaml
  Makefile
  feature-configs/deploy/gatekeeper/operatorGroup.yaml
  feature-configs/deploy/knmstate/operator_operatorgroup.yaml
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

tools: CNF-22668: update container base image from centos:stream9 to ubi:9
  tools/s2i-dpdk/Dockerfile
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: CNF-22668: update container base image from centos to ubi9
  cnf-tests/GATEKEEPER.md
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images

ztp: CNF-23556: CNF-23557: adapt to telco-reference restructure of telco-ran/configuration
  ztp/gitops-subscriptions/Makefile
  ztp/resource-generator/Containerfile
  ztp/resource-generator/README.md
  ztp/resource-generator/entrypoints/entrypoints
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

features: correct broken symlink for hypershift-ci s2i post_deploy.sh
  feature-configs/hypershift-ci/s2i/post_deploy.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: remove unused fmt.Sprintln in dpdk getHugePages
  cnf-tests/testsuites/e2esuite/dpdk/dpdk.go
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ztp: CNF-23556: CNF-23557: fix pgt2acmpg to handle directory resources in kustomization.yaml
  ztp/tools/pgt2acmpg/README.md
  ztp/tools/pgt2acmpg/packages/fileutils/fileutils.go
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

fix(renovate): use matchPackageNames for git-submodule rules
  renovate.json
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: Remove metallb-operator submodule and all metallb references
  .gitmodules
  Makefile
  cnf-tests/README.md
  cnf-tests/hack/init-git-submodules.sh
  cnf-tests/testsuites/pkg/namespaces/namespaces.go
  cnf-tests/testsuites/pkg/utils/reporter.go
  feature-configs/ci/metallb/kustomization.yaml
  feature-configs/ci/metallb/operator_subscription.yaml
  feature-configs/deploy/metallb/kustomization.yaml
  feature-configs/deploy/metallb/operator_namespace.yaml
  feature-configs/deploy/metallb/operator_operatorgroup.yaml
  feature-configs/deploy/metallb/operator_subscription.yaml
  feature-configs/hypershift-ci/metallb/kustomization.yaml
  feature-configs/hypershift-ci/metallb/operator_subscription.yaml
  hack/common.sh
  hack/run-functests.sh
  hack/setup-build-index-image.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

cnf-tests: Remove unused fmt.Sprintln call in dpdk test
  cnf-tests/testsuites/e2esuite/dpdk/dpdk.go
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

features: this is a drill for automatic PR creation from chai
  ztp/resource-generator/.konflux/drill.txt
Due: ztp-ci, ci/prow/images, ci/prow/ztp-ci

ztp: Fix the CI
  ztp/resource-generator/Containerfile
  ztp/tools/pgt2acmpg/README.md
  ztp/tools/pgt2acmpg/main.go
  ztp/tools/pgt2acmpg/packages/fileutils/fileutils.go
  ztp/tools/pgt2acmpg/packages/fileutils/mergekeys.go
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

cnf-tests: Add retry logic to git submodule initialization
  cnf-tests/hack/init-git-submodules.sh
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security

ztp: CNF-23556: CNF-23557: pgt2acmpg: Fix placeholder commenting for YAML list items with key-value pairs
  ztp/tools/pgt2acmpg/packages/fileutils/fileutils.go
  ztp/tools/pgt2acmpg/packages/fileutils/fileutils_test.go
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

ztp: update extra-manifest path for telco-ran restructuring
  ztp/gitops-subscriptions/Makefile
  ztp/policygenerator-kustomize-plugin/Makefile
  ztp/resource-generator/Containerfile
Due: ztp-ci, ci/prow/ci, ci/prow/images, ci/prow/security, ci/prow/ztp-ci

fix(ci): use Fedora 44 instead of 45 for CI build root
  openshift-ci/Dockerfile.tools
Due: e2e-aws-ci-tests, ci/prow/ci, ci/prow/e2e-aws-ci-tests, ci/prow/images, ci/prow/security
