Repository openshift/ironic-agent-image: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-dualstack-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-serial-ipv4-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation, ci/prow/prevalidation-images

Path conditions:
  e2e-metal-ipi-bm: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*)$
  e2e-metal-ipi-serial-ipv4: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*)$
  e2e-metal-ipi-virtualmedia: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*)$
  e2e-metal-ipi-ovn-ipv6: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*)$
  e2e-metal-ipi-ovn-dualstack: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*)$
  ci/prow/e2e-metal-ipi-bm: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*)$
  ci/prow/e2e-metal-ipi-ovn-dualstack: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*)$
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*)$
  ci/prow/e2e-metal-ipi-serial-ipv4: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*)$
  ci/prow/e2e-metal-ipi-virtualmedia: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*)$
  ci/prow/images: unless all of: \.md$|^(DCO|LICENSE|OWNERS|Dockerfile.okd|main-packages-list.okd)$
  ci/prow/okd-scos-e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation: any of: .*packages-list.*
  ci/prow/prevalidation-e2e-metal-ipi-ovn-dualstack-prevalidation: any of: .*packages-list.*
  ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation: any of: .*packages-list.*
  ci/prow/prevalidation-e2e-metal-ipi-serial-ipv4-prevalidation: any of: .*packages-list.*
  ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation: any of: .*packages-list.*
  ci/prow/prevalidation-images: any of: .*packages-list.*

Update IPA hash to include fix for OCPBUGS-61165 in 4.17
  requirements.cachito
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn

Update IPA hash to include fix for OCPBUGS-61165 in 4.16
  requirements.cachito
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn

fix: OKD python3.12
  Dockerfile.okd
  Makefile
  packages-list.okd
  prepare-image.sh
  python-requirements.okd
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-dualstack-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-serial-ipv4-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation, ci/prow/prevalidation-images

Filter out more USB network devices
  hardware_manager/ironic_coreos_install.py
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn

Update requirements.cachito with latest ironic-python-agent
  requirements.cachito
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn

Split setup for OKD
  Dockerfile.ocp
  Dockerfile.okd
  prepare-image.sh
  setup.okd
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn

METAL-1695: OKD: install IPA from the OpenShift fork
  packages-list.okd
  python-requirements.okd
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-dualstack-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-serial-ipv4-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation, ci/prow/prevalidation-images

Include Test advertised ip reachability before assigning it
  requirements.cachito
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn

Fix ubi9-minimal based builds
  prepare-image.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn

Add git to OKD Dockerfile
  Dockerfile.okd
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/okd-scos-e2e-aws-ovn

Bump eventlet version
  packages-list.ocp
Due: ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-dualstack-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-serial-ipv4-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation, ci/prow/prevalidation-images

Bump eventlet version to 0.33.1-7
  packages-list.ocp
Due: ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-dualstack-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-serial-ipv4-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation, ci/prow/prevalidation-images

OCPBUGS-69781: Bump eventlet version to 0.33.1-7
  packages-list.ocp
Due: ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-dualstack-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-serial-ipv4-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation, ci/prow/prevalidation-images

OCPBUGS-69782: Bump eventlet version to 0.33.1-7
  packages-list.ocp
Due: ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-dualstack-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-serial-ipv4-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation, ci/prow/prevalidation-images

OCPBUGS-69779: Bump eventlet version to 0.33.1-7
  packages-list.ocp
Due: ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-dualstack-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-serial-ipv4-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation, ci/prow/prevalidation-images

OCPBUGS-69776: adding eventlet-0.33.1-7
  packages-list.ocp
Due: ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-dualstack-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-serial-ipv4-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation, ci/prow/prevalidation-images

OCPBUGS-69778: adding eventlet 0.30.2-5
  packages-list.ocp
Due: ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-dualstack-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-serial-ipv4-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation, ci/prow/prevalidation-images

ART-14485: fixes for minimal builds
  prepare-image.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn

Fix netavark I/O error in converged flow
  hardware_manager/ironic_coreos_install.py
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn

Uplift setuptools to remove python-wheel deps
  Dockerfile.okd
  prepare-image.sh
  setup.okd
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn

Add podman package for bootc deploy
  packages-list.ocp
  packages-list.okd
Due: ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-dualstack-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-serial-ipv4-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation, ci/prow/prevalidation-images

Remove openstack repo workaround
  Dockerfile.ocp
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn

Document how to use gerrit change hash for testing
  requirements.cachito
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn

Fix update requirements workflow
  .github/workflows/update-requirements.yml
Due: e2e-metal-ipi-bm, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn
