Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/test-infra-build-containers-2-1, ci/prow/test-infra-build-containers-2-2, ci/prow/test-infra-build-containers-2-3, ci/prow/test-infra-build-containers-2-4, ci/prow/test-infra-build-containers-3-0, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers, test-infra_build-containers, test-infra_build-proxy-containers

Path conditions:
  ci/prow/test-infra-build-containers-2-1: any of: ^docker/maistra-.*builder_2\.1\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-2-2: any of: ^docker/maistra-builder_2\.2\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-2-3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-2-4: any of: ^docker/maistra-builder_2\.4\.Dockerfile|^docker/scripts
  ci/prow/test-infra-build-containers-3-0: any of: ^docker/maistra-builder_3\.0\.Dockerfile|^docker/scripts
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile

Cleanup Makefile 2.1 builder image targets
  Makefile
Due: none

OSSM-4216 Remove maistra 2.1 builder image
  Makefile
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-builder_main.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
  docker/maistra-proxy-builder_main.Dockerfile
Due: ci/prow/test-infra-build-containers-2-1, test-infra_push-containers, test-infra_push-proxy-containers, test-infra_build-containers, test-infra_build-proxy-containers

OSSM-4216 Remove maistra 2.1 builder image (#373)
  Makefile
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-builder_main.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
  docker/maistra-proxy-builder_main.Dockerfile
Due: ci/prow/test-infra-build-containers-2-1, test-infra_push-containers, test-infra_push-proxy-containers, test-infra_build-containers, test-infra_build-proxy-containers

Add openssl to maistra-builder 2.2
  docker/maistra-builder_2.2.Dockerfile
Due: ci/prow/test-infra-build-containers-2-2, test-infra_push-containers, test-infra_build-containers

Add openssl to maistra-builder 2.2 (#374)
  docker/maistra-builder_2.2.Dockerfile
Due: ci/prow/test-infra-build-containers-2-2, test-infra_push-containers, test-infra_build-containers

[OSSM-3621] Add the ability to fetch released tags instead of the HEAD
  tools/automator-main.sh
Due: none

[OSSM-3621] Add the ability to fetch released tags instead of the HEAD (#365)
  tools/automator-main.sh
Due: none

OSSM-3621: Fix fetch-args logic
  tools/automator-main.sh
Due: none

OSSM-3621: Fix fetch-args logic (#375)
  tools/automator-main.sh
Due: none

OSSM-3299: Provide UBI9 based 3.0 builder image
  docker/maistra-builder_3.0.Dockerfile
  docker/scripts/bashrc
Due: ci/prow/test-infra-build-containers-2-1, ci/prow/test-infra-build-containers-2-2, ci/prow/test-infra-build-containers-2-3, ci/prow/test-infra-build-containers-2-4, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

OSSM-4206 setup 2.5 builder image
  docker/maistra-builder_2.5.Dockerfile
  docker/scripts/bashrc
Due: ci/prow/test-infra-build-containers-2-1, ci/prow/test-infra-build-containers-2-2, ci/prow/test-infra-build-containers-2-3, ci/prow/test-infra-build-containers-2-4, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

converge multi stage into one Dockerfile
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Add httpd-tools for running htpasswd and creating cluster user
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_2.4.Dockerfile
  docker/maistra-builder_2.5.Dockerfile
  docker/maistra-builder_3.0.Dockerfile
Due: ci/prow/test-infra-build-containers-2-2, ci/prow/test-infra-build-containers-2-3, ci/prow/test-infra-build-containers-2-4, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

review feeback and update python3 package
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Add a docker build arm64 target
  Makefile
Due: none

remove deprecated package tags
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

OSSM-4206 Setup 2.5 builder image (#377)
  Makefile
  docker/maistra-builder_2.5.Dockerfile
  docker/scripts/bashrc
Due: ci/prow/test-infra-build-containers-2-1, ci/prow/test-infra-build-containers-2-2, ci/prow/test-infra-build-containers-2-3, ci/prow/test-infra-build-containers-2-4, ci/prow/test-infra-build-containers-3-0, test-infra_push-containers, test-infra_build-containers

fix 2.5 maistra istio integ job errors
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

fix 2.5 maistra istio integ job errors (#379)
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

OSSM-5001 Additions to support bssl-compat & proxy build
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Add maistra-2.6 builder image dockerfile
  Makefile
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Add maistra-2.6 builder image dockerfile (#381)
  Makefile
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

fix pkill not found error
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

fix pkill not found error (#382)
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Fix 2.5 image to build proxy
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Fix 2.5 image to build proxy (#383)
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Add java to 2.5
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Add java to 2.5 (#384)
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Add libatomic to 2.5 image
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Add libatomic to 2.5 image (#385)
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

OSSM-5883 Change make target to build arm and amd64 image
  Makefile
Due: none

OSSM-5883 Change make target to build arm and amd64 image (#386)
  Makefile
Due: none

OSSM-4880 Add rpmbuild
  docker/maistra-builder_2.5.Dockerfile
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

OSSM-4880 Add rpmbuild (#387)
  docker/maistra-builder_2.5.Dockerfile
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Update 2.6 builder image with libbpf-devel
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Update 2.6 builder image with libbpf-devel (#388)
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Fix PR388
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

remove duplicate dnf upgrade steps
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers

Fix PR388 (#389)
  docker/maistra-builder_2.6.Dockerfile
Due: test-infra_push-containers, test-infra_build-containers
