Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-networking, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-multi-version, ci/prow/e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Path conditions:
  subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-operator-disconnected: any of: ^(data/.*)$
  e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(data/.*)$
  e2e-metal-assisted-single-node: any of: ^(data/.*)$
  e2e-metal-assisted-networking: any of: ^(data/.*)$
  e2e-metal-assisted-kube-api: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-multi-version: any of: ^(data/.*)$
  e2e-metal-assisted-olm: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-kube-api: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-multi-version: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-networking: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-olm: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted-operator-disconnected: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$

Bug 1994696: Clarify not eligible disk error message (#3130)
  internal/host/transition_test.go
  internal/host/validator.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8741: Use full name when logging agent update (#3141)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8607: Store event names in the DB (#3127)
  internal/common/events/events.go
  internal/controller/controllers/controller_event_wrapper.go
  internal/controller/controllers/controller_event_wrapper_test.go
  internal/events/api/event.go
  internal/events/api/mock_event.go
  internal/events/event.go
  internal/events/event_test.go
  internal/events/events_api.go
  models/event.go
  restapi/embedded_spec.go
  subsystem/events_test.go
  swagger.yaml
  tools/generate_events.py
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Bump OCP versions release 4.7.39 -> 4.7.40
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_release_images.json
  onprem-environment
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-networking, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-multi-version, ci/prow/e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7705: ignore empty OpenshiftVersions
  cmd/main.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8097: masters schedulable kube-api
  api/hiveextension/v1beta1/agentclusterinstall_types.go
  config/crd/bases/extensions.hive.openshift.io_agentclusterinstalls.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/extensions.hive.openshift.io_agentclusterinstalls.yaml
  internal/controller/controllers/clusterdeployments_controller.go
  subsystem/kubeapi_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8477: invoke cluster validations when updating a host (#3082)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  subsystem/cluster_v2_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8477: invoke cluster validations when updating a host (#3082) (#3147)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  subsystem/cluster_v2_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8301: Add a V1 API deprecation warning in swagger
  restapi/embedded_spec.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8301: Add a V1 API deprecation warning in swagger (#3149)
  restapi/embedded_spec.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8498: fixing issue with not mounting pki due to old (#3151)
  internal/bminventory/inventory.go
  internal/host/hostcommands/next_step_runner_cmd.go
  internal/host/hostcommands/next_step_runner_cmd_test.go
  internal/host/hostcommands/v2_next_step_runner_cmd.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8047: Approve the CSRs after the installation
  cmd/main.go
  go.mod
  go.sum
  internal/bminventory/inventory_test.go
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/cluster/progress_test.go
  internal/cluster/transition_test.go
  internal/host/host.go
  internal/host/host_test.go
  internal/host/hostrole_test.go
  internal/host/hostutil/test_utils.go
  internal/host/monitor.go
  internal/host/monitor_test.go
  internal/host/transition_test.go
  internal/host/validations_test.go
  internal/kubeclients/kubeclients.go
  internal/kubeclients/mock_cluster_kubeclient.go
  internal/kubeclients/mock_kubeclients.go
  internal/operators/ocs/validation_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Change default release image to 4.9
  Makefile
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_release_images.json
  onprem-environment
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-networking, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-multi-version, ci/prow/e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Change default release image to 4.9 (#3153)
  Makefile
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_release_images.json
  onprem-environment
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-networking, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-multi-version, ci/prow/e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: fix swagger UI link
  README.md
Due: none

NO-ISSUE: fix swagger UI link (#3156)
  README.md
Due: none

CPUs and RAM requirement added in GetPreFlightRequirements
  internal/operators/ocs/ocs_operator.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7307: Tweak media disconnected message
  internal/bminventory/inventory.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7307: Tweak media disconnected message (#3158)
  internal/bminventory/inventory.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8755: Make openshift_version optional for day2 cluster in REST API
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/instruction_manager_test.go
  models/import_cluster_params.go
  restapi/embedded_spec.go
  skipper.yaml
  subsystem/day2_cluster_test.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8755: Make openshift_version optional for day2 cluster in REST API (#3150)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/instruction_manager_test.go
  models/import_cluster_params.go
  restapi/embedded_spec.go
  skipper.yaml
  subsystem/day2_cluster_test.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8748: detect overlapping networks in SNO
  internal/cluster/transition_test.go
  internal/cluster/validator.go
  internal/network/cidr_validations.go
  internal/network/utils.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8756: Make ImageSetRef optional in ACI for day2
  api/hiveextension/v1beta1/agentclusterinstall_types.go
  api/hiveextension/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/extensions.hive.openshift.io_agentclusterinstalls.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/extensions.hive.openshift.io_agentclusterinstalls.yaml
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  pkg/validating-webhooks/hiveextension/v1beta1/agentclusterinstall_admission_hook.go
  subsystem/kubeapi_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8624: Enable downloading kubeconfig when it's available (#3134)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/bminventory/inventory_v2_handlers.go
  internal/cluster/cluster.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7305: Add columns to infraenv and ACI CRD (#3142)
  api/hiveextension/v1beta1/agentclusterinstall_types.go
  api/v1beta1/infraenv_types.go
  config/crd/bases/agent-install.openshift.io_infraenvs.yaml
  config/crd/bases/extensions.hive.openshift.io_agentclusterinstalls.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_infraenvs.yaml
  deploy/olm-catalog/manifests/extensions.hive.openshift.io_agentclusterinstalls.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8756: Make ImageSetRef optional in ACI for day2 (#3160)
  api/hiveextension/v1beta1/agentclusterinstall_types.go
  api/hiveextension/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/extensions.hive.openshift.io_agentclusterinstalls.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/extensions.hive.openshift.io_agentclusterinstalls.yaml
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  pkg/validating-webhooks/hiveextension/v1beta1/agentclusterinstall_admission_hook.go
  subsystem/kubeapi_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8197: Add validation of discoverable disk that satisfies request, unit tests
  internal/operators/cnv/cnv_operator.go
  internal/operators/cnv/cnv_operator_test.go
  internal/operators/cnv/manifest.go
  internal/operators/cnv/manifests_test.go
  internal/operators/ocs/consts.go
  internal/operators/ocs/validations.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8197: Deploy HPP when CNV is requested on SNO so persistent VMs are possible
  internal/operators/cnv/cnv_operator.go
  internal/operators/cnv/manifest.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8197: Make hpp pool size threshold configurable (env var)
  internal/operators/cnv/cnv_operator.go
  internal/operators/cnv/cnv_operator_test.go
  internal/operators/cnv/config.go
  internal/operators/cnv/manifest.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8197: CNV->OpenShift Virtualization in validation err msgs, better HPP disk size err msg
  internal/host/transition_test.go
  internal/operators/cnv/cnv_operator.go
  internal/operators/cnv/cnv_operator_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8197: Add env var for opting out of installing HPP on CNV+SNO
  internal/operators/cnv/cnv_operator.go
  internal/operators/cnv/cnv_operator_test.go
  internal/operators/cnv/config.go
  internal/operators/cnv/manifest.go
  internal/operators/cnv/manifests_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8197: Fix yaml indentation
  internal/operators/cnv/manifest.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8197: Add HPP deploy tunable to template yaml
  openshift/template.yaml
Due: none

MGMT-8197: Put HPP definition in CNV manifest so it doesn't attempt to get created when there's no HCO
  internal/operators/cnv/manifest.go
  internal/operators/cnv/manifests_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8197: Add preflight hardware req for additional disk
  internal/operators/cnv/cnv_operator.go
  internal/operators/cnv/cnv_operator_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8197: Only opt in for HPP from 4.10 and onwards
  internal/operators/cnv/cnv_operator.go
  internal/operators/cnv/cnv_operator_test.go
  internal/operators/cnv/manifest.go
  internal/operators/cnv/manifests_test.go
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8448: Use the image service when deploying with podman (#3023)
  Makefile
  docs/installer-stand-alone.md
  onprem-environment
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: use images from edge-infrastructure org
  Makefile
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8748: detect overlapping networks in SNO (#3152)
  internal/cluster/transition_test.go
  internal/cluster/validator.go
  internal/network/cidr_validations.go
  internal/network/utils.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: replace docker usage with binary installation for conf generation
  hack/generate.sh
  hack/setup_env.sh
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws
