Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, e2e-metal-assisted-capi, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Path conditions:
  lint: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  unit-test: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-ai-operator-ztp-ipv4v6-sno-ocp-49: any of: ^(deploy/.*)$
  e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49: any of: ^(deploy/.*)$
  e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-single-node: any of: ^(data/.*)$
  e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  e2e-metal-assisted-kube-api-net-suite: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-4-6: any of: ^(data/.*)$
  e2e-metal-assisted-4-8: any of: ^(data/.*)$
  e2e-metal-assisted-4-9: any of: ^(data/.*)$
  e2e-metal-assisted-4-10: any of: ^(data/.*)$
  e2e-metal-assisted-cnv: any of: ^(data/.*|internal/operators/.*)$
  e2e-metal-assisted-ocs: any of: ^(data/.*|internal/operators/.*)$
  e2e-metal-assisted-day2: any of: ^(data/.*)$
  e2e-metal-assisted-capi: any of: ^(api/.*|internal/controller/controllers/.*)$
  ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49: any of: ^(deploy/.*)$
  ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49: any of: ^(deploy/.*)$
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-4-10: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-4-6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-4-8: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-4-9: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-capi: any of: ^(api/.*|internal/controller/controllers/.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted-day2: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-ocs: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  ci/prow/lint: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/unit-test: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$

OCPBUGSM-46053: bootstrap flag is not cleaned after changing role (#4168)
  internal/host/common.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release 4.10.22 -> 4.10.23, release 4.11.0-rc.2 -> 4.11.0-rc.4, release 4.9.42 -> 4.9.43 (#4169)
  data/default_os_images.json
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11131: Cache results of inventory unmarshalling in connectivity test (#4170)
  internal/common/common.go
  internal/common/common_test.go
  internal/connectivity/validator.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10852: auto-assign races (#4084)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/cluster.go
  internal/cluster/mock_cluster_api.go
  internal/common/db.go
  internal/host/host.go
  internal/host/monitor.go
  subsystem/cluster_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11174: Add Boot Control Kube API documentation. (#4160)
  api/v1beta1/infraenv_types.go
  client/installer/get_infra_env_presigned_file_url_parameters.go
  client/installer/v2_download_infra_env_files_parameters.go
  config/crd/bases/agent-install.openshift.io_infraenvs.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_infraenvs.yaml
  docs/user-guide/deploy-on-bare-metal.md
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/bminventory/inventory_v2_handlers.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
  restapi/embedded_spec.go
  restapi/operations/installer/get_infra_env_presigned_file_url_parameters.go
  restapi/operations/installer/get_infra_env_presigned_file_url_urlbuilder.go
  restapi/operations/installer/v2_download_infra_env_files_parameters.go
  restapi/operations/installer/v2_download_infra_env_files_urlbuilder.go
  subsystem/infra_env_test.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/api/v1beta1/infraenv_types.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11262: Parse `/etc/kubernetes/kubeconfig` in day-2 ignition to disable DNS validations
  internal/host/test_hypershift_kubeconfig
  internal/host/test_regular_kubeconfig
  internal/host/validations_test.go
  internal/host/validator.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11027: Implement agent upgrade feature
  docs/events.yaml
  internal/bminventory/inventory.go
  internal/common/events/events.go
  internal/common/validations.go
  internal/feature/flags.go
  internal/hardware/validator.go
  internal/host/hostcommands/instruction_manager.go
  internal/host/hostcommands/upgrade_agent_cmd.go
  internal/host/hostcommands/upgrade_agent_cmd_test.go
  internal/host/hostutil/test_utils.go
  internal/host/refresh_status_preprocessor.go
  internal/host/transition_test.go
  internal/host/validation_id.go
  internal/host/validations_test.go
  internal/host/validator.go
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11027: Implement agent upgrade feature (#4121)
  docs/events.yaml
  internal/bminventory/inventory.go
  internal/common/events/events.go
  internal/common/validations.go
  internal/feature/flags.go
  internal/hardware/validator.go
  internal/host/hostcommands/instruction_manager.go
  internal/host/hostcommands/upgrade_agent_cmd.go
  internal/host/hostcommands/upgrade_agent_cmd_test.go
  internal/host/hostutil/test_utils.go
  internal/host/refresh_status_preprocessor.go
  internal/host/transition_test.go
  internal/host/validation_id.go
  internal/host/validations_test.go
  internal/host/validator.go
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11027: Add ENABLE_UPGRADE_AGENT env variable
  deploy/podman/configmap.yml
  deploy/podman/okd-configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11027: Add ENABLE_UPGRADE_AGENT env variable (#4172)
  deploy/podman/configmap.yml
  deploy/podman/okd-configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10973 - kube-api imported clusters should be considered imported
  internal/bminventory/inventory.go
  internal/bminventory/inventory_v2_handlers.go
  internal/bminventory/mock_installer_internal.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11316: Remove unused `ovirt-platform` from swagger.yaml
  api/vendor/github.com/openshift/assisted-service/models/ovirt_platform.go
  models/ovirt_platform.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/ovirt_platform.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release 4.11.0-rc.4 -> 4.11.0-rc.5
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Fix set platform_type on cluster update
  internal/bminventory/inventory.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9506: Remove timestamp from host inventory The timestamp is not in use.
  api/vendor/github.com/openshift/assisted-service/models/inventory.go
  internal/common/common.go
  models/inventory.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/inventory.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11316: Remove unused `ovirt-platform` from swagger.yaml (#4177)
  api/vendor/github.com/openshift/assisted-service/models/ovirt_platform.go
  models/ovirt_platform.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/ovirt_platform.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11309: clean up prom metrics to enable meaningful alerts
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/cluster/progress_test.go
  internal/cluster/transition.go
  internal/cluster/transition_test.go
  internal/host/host.go
  internal/host/host_test.go
  internal/metrics/metricsManager.go
  internal/metrics/metricsManager_test.go
  internal/metrics/mock_metrics_manager_api.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9506: Remove timestamp from host inventory (#3891)
  api/vendor/github.com/openshift/assisted-service/models/inventory.go
  internal/common/common.go
  models/inventory.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/inventory.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10790: Always use APIVipDNSName to obtain API address (#4018)
  internal/bminventory/inventory.go
  internal/common/common.go
  internal/host/hostcommands/api_vip_connectivity_check_cmd.go
  internal/host/validator.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11262: Parse `/etc/kubernetes/kubeconfig` in day-2 ignition to disable DNS validations (#4171)
  internal/host/test_hypershift_kubeconfig
  internal/host/test_regular_kubeconfig
  internal/host/validations_test.go
  internal/host/validator.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Fix set platform_type on cluster update (#4176)
  internal/bminventory/inventory.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release 4.11.0-rc.4 -> 4.11.0-rc.5 (#4178)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

WIP multiarch
  internal/bminventory/inventory.go
  internal/common/common.go
  internal/oc/release.go
  internal/versions/versions.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11309: clean up prom metrics to enable meaningful alerts (#4173)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/cluster/progress_test.go
  internal/cluster/transition.go
  internal/cluster/transition_test.go
  internal/host/host.go
  internal/host/host_test.go
  internal/metrics/metricsManager.go
  internal/metrics/metricsManager_test.go
  internal/metrics/mock_metrics_manager_api.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Remove leftover comment (#4162)
  internal/host/validator.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release 4.10.23 -> 4.10.24
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

WIP multiarch 2
  internal/oc/release_test.go
  internal/versions/versions.go
  internal/versions/versions_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release 4.10.23 -> 4.10.24 (#4184)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11309: clean up unnecessary grafana dashboards
  dashboards/grafana-dashboard-assisted-installer-cluster-overview.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-general-overview.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-weekly-overview.configmap.yaml
Due: lint, unit-test, ci/prow/lint, ci/prow/unit-test

MGMT-11309: clean up unnecessary grafana dashboards (#4186)
  dashboards/grafana-dashboard-assisted-installer-cluster-overview.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-general-overview.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-weekly-overview.configmap.yaml
Due: lint, unit-test, ci/prow/lint, ci/prow/unit-test

MGMT-11092: Merge the format and the condition methods in host validation
  internal/host/refresh_status_preprocessor.go
  internal/host/transition_test.go
  internal/host/validations_test.go
  internal/host/validator.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10973 - kube-api imported clusters should be considered imported (#4155)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_v2_handlers.go
  internal/bminventory/mock_installer_internal.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

WIP multiarch 3
  subsystem/kubeapi_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11092: Merge the format and the condition methods in host (#4097)
  internal/host/refresh_status_preprocessor.go
  internal/host/transition_test.go
  internal/host/validations_test.go
  internal/host/validator.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11153: Add cluster tags support
  api/vendor/github.com/openshift/assisted-service/models/cluster.go
  api/vendor/github.com/openshift/assisted-service/models/cluster_create_params.go
  api/vendor/github.com/openshift/assisted-service/models/v2_cluster_update_params.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/usage/consts.go
  models/cluster.go
  models/cluster_create_params.go
  models/v2_cluster_update_params.go
  pkg/validations/validations.go
  pkg/validations/validations_test.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/cluster.go
  vendor/github.com/openshift/assisted-service/models/cluster_create_params.go
  vendor/github.com/openshift/assisted-service/models/v2_cluster_update_params.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11153: Add cluster tags support (#4187)
  api/vendor/github.com/openshift/assisted-service/models/cluster.go
  api/vendor/github.com/openshift/assisted-service/models/cluster_create_params.go
  api/vendor/github.com/openshift/assisted-service/models/v2_cluster_update_params.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/usage/consts.go
  models/cluster.go
  models/cluster_create_params.go
  models/v2_cluster_update_params.go
  pkg/validations/validations.go
  pkg/validations/validations_test.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/cluster.go
  vendor/github.com/openshift/assisted-service/models/cluster_create_params.go
  vendor/github.com/openshift/assisted-service/models/v2_cluster_update_params.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

fix python syntax of string comparison
  tools/deploy_route53.py
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10734: Allow reclaiming day2 hosts
  internal/host/statemachine.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10734: Add TEST to skipper.env
  skipper.env
Due: lint, unit-test, ci/prow/lint, ci/prow/unit-test
