Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

subsystem-aws:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.8'
  steps:
    test:
    - as: subsystem-deploy-and-run
      cli: latest
      commands: 'export BUILD_TYPE=CI
  
        export REPORTS=${ARTIFACT_DIR}
  
        export TARGET=oc
  
  
  ...

subsystem-kubeapi-aws:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.8'
  steps:
    test:
    - as: subsystem-deploy-and-run
      cli: latest
      commands: 'export BUILD_TYPE=CI
  
        export REPORTS=${ARTIFACT_DIR}
  
        export TARGET=oc
  
  ...

e2e-metal-assisted-operator-disconnected:
  optional: true
  steps:
    cluster_profile: packet
    dependencies:
      ASSISTED_OPENSHIFT_INSTALL_RELEASE_IMAGE: release:candidate
      OPENSHIFT_INSTALL_RELEASE_IMAGE: release:candidate
    env:
      DEVSCRIPTS_CONFIG: 'EXTRA_WORKER_VCPU=8
  
        EXTRA_WORKER_MEMORY=32768
  
        EXTRA_WORKER_DISK=120
  
  ...

e2e-metal-assisted-operator-ztp:
  steps:
    cluster_profile: packet
    dependencies:
      ASSISTED_OPENSHIFT_INSTALL_RELEASE_IMAGE: release:candidate
      OPENSHIFT_INSTALL_RELEASE_IMAGE: release:candidate
    env:
      DEVSCRIPTS_CONFIG: 'EXTRA_WORKER_VCPU=8
  
        EXTRA_WORKER_MEMORY=32768
  
        EXTRA_WORKER_DISK=120
  
  ...

e2e-metal-assisted-ipv6:
  optional: true
  steps:
    cluster_profile: packet
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-single-node:
  optional: true
  steps:
    cluster_profile: packet
    env:
      ASSISTED_CONFIG: 'NUM_MASTERS=1
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-kube-api:
  steps:
    cluster_profile: packet
    env:
      ASSISTED_CONFIG: 'NUM_MASTERS=1
  
        NUM_WORKERS=0
  
        IPv6=yes
  
        IPv4=no
  
        PROXY=yes
  
        ADDITIONAL_PARAMS="--with-static-network-config"
  
        ISO_IMAGE_TYPE=minimal-iso
  
        KUBE_API=yes
  
        ENABLE_KUBE_API=true
  
  ...

e2e-metal-assisted:
  steps:
    cluster_profile: packet
    env:
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-multi-version:
  steps:
    cluster_profile: packet
    env:
      ASSISTED_CONFIG: 'OPENSHIFT_VERSION=""
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-olm:
  optional: true
  steps:
    cluster_profile: packet
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_olm_operator
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

NO-ISSUE: fixing the name and the message of the status info for UnboundKnown state
  internal/host/common.go
  internal/host/pool_host_statemachine.go
  internal/host/transition_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-35037: Fix osImages refenrece passing (#2626)
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7315: Allow providing machine networks in all cases
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/network/cidr_validations.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7791: Don't require host to belong to all Machine Networks
  internal/host/validator.go
  internal/network/machine_network_cidr.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7282: Operator upgrade readme
  deploy/operator/upgrade/README.md
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-35242: Set x86_64 as the default architecture for OsImages and ReleaseImages
  models/os_image.go
  models/release_image.go
  restapi/embedded_spec.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7790: Set SUPPORT_L2 to False from the oeprator
  internal/controller/controllers/agentserviceconfig_controller.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6763: Add support for dual-stack CI jobs
  deploy/operator/ztp/agentClusterInstall.j2
  deploy/operator/ztp/assisted-installer-crds-playbook.yaml
  deploy/operator/ztp/deploy_spoke_cluster.sh
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Debug operator upgrade for ocm2.3 index image
  deploy/operator/utils.sh
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7666: Move list monitored operators V1 API to V2 (#2535)
  client/operators/operators_client.go
  client/operators/v2_list_of_cluster_operators_parameters.go
  client/operators/v2_list_of_cluster_operators_responses.go
  internal/operators/handler/handler_v2.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  restapi/operations/operators/v2_list_of_cluster_operators.go
  restapi/operations/operators/v2_list_of_cluster_operators_parameters.go
  restapi/operations/operators/v2_list_of_cluster_operators_responses.go
  restapi/operations/operators/v2_list_of_cluster_operators_urlbuilder.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7613: Move get cluster logs V1 API to V2 (#2603)
  client/installer/installer_client.go
  client/installer/v2_download_cluster_logs_parameters.go
  client/installer/v2_download_cluster_logs_responses.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/bminventory/inventory_v2_handlers.go
  mocks/mock_assisted_service.go
  pkg/auth/auth_assisted_service_mock_test.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  restapi/operations/installer/v2_download_cluster_logs.go
  restapi/operations/installer/v2_download_cluster_logs_parameters.go
  restapi/operations/installer/v2_download_cluster_logs_responses.go
  restapi/operations/installer/v2_download_cluster_logs_urlbuilder.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6763: Add support for dual-stack CI jobs (#2631)
  deploy/operator/ztp/agentClusterInstall.j2
  deploy/operator/ztp/assisted-installer-crds-playbook.yaml
  deploy/operator/ztp/deploy_spoke_cluster.sh
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4872: Generate Image Expirer Event
  docs/events.yaml
  internal/common/events/events.go
  internal/imgexpirer/imgexpirer.go
  internal/imgexpirer/imgexpirer_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7790: Set SUPPORT_L2 to False from the oeprator (#2585)
  internal/controller/controllers/agentserviceconfig_controller.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: fixing the name and the message of the status info for UnboundKnown state (#2622)
  internal/host/common.go
  internal/host/pool_host_statemachine.go
  internal/host/transition_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7589: Implement V2 UploadLogs API
  client/installer/installer_client.go
  client/installer/v2_upload_logs_parameters.go
  client/installer/v2_upload_logs_responses.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_v2_handlers.go
  mocks/mock_assisted_service.go
  pkg/auth/auth_assisted_service_mock_test.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  restapi/operations/installer/v2_upload_logs.go
  restapi/operations/installer/v2_upload_logs_parameters.go
  restapi/operations/installer/v2_upload_logs_responses.go
  restapi/operations/installer/v2_upload_logs_urlbuilder.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7669: Move list supported operator properties V1 API to V2
  client/operators/operators_client.go
  client/operators/v2_list_operator_properties_parameters.go
  client/operators/v2_list_operator_properties_responses.go
  internal/operators/handler/handler_v2.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  restapi/operations/operators/v2_list_operator_properties.go
  restapi/operations/operators/v2_list_operator_properties_parameters.go
  restapi/operations/operators/v2_list_operator_properties_responses.go
  restapi/operations/operators/v2_list_operator_properties_urlbuilder.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7668: Move list supported operators V1 API to V2
  client/operators/operators_client.go
  client/operators/v2_list_supported_operators_parameters.go
  client/operators/v2_list_supported_operators_responses.go
  internal/operators/handler/handler_v2.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  restapi/operations/operators/v2_list_supported_operators.go
  restapi/operations/operators/v2_list_supported_operators_parameters.go
  restapi/operations/operators/v2_list_supported_operators_responses.go
  restapi/operations/operators/v2_list_supported_operators_urlbuilder.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7607: Move cluster credentials V1 to V2 API
  client/installer/installer_client.go
  client/installer/v2_get_credentials_parameters.go
  client/installer/v2_get_credentials_responses.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_v2_handlers.go
  internal/bminventory/mock_installer_internal.go
  internal/controller/controllers/clusterdeployments_controller.go
  mocks/mock_assisted_service.go
  pkg/auth/auth_assisted_service_mock_test.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  restapi/operations/installer/v2_get_credentials.go
  restapi/operations/installer/v2_get_credentials_parameters.go
  restapi/operations/installer/v2_get_credentials_responses.go
  restapi/operations/installer/v2_get_credentials_urlbuilder.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7806: Change host events API in order to solve segmentation fault (#2620)
  docs/events.yaml
  internal/bminventory/inventory.go
  internal/common/events/events.go
  internal/events/event.go
  internal/host/host.go
  internal/host/host_test.go
  tools/generate_events.py
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Fixing default values for disk-encryption on cluster creation.
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/validations/validations.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7780: Late Binding Kube API documentation Signed-off-by: Fred Rolland <frolland@redhat.com>
  docs/hive-integration/README.md
  docs/hive-integration/crds/infraEnvLateBinding.yaml
  docs/hive-integration/late-binding.md
Due: none

MGMT-7780: Late Binding Kube API documentation (#2644)
  docs/hive-integration/README.md
  docs/hive-integration/crds/infraEnvLateBinding.yaml
  docs/hive-integration/late-binding.md
Due: none

MGMT-7672: Move cluster manifests V1 APIs to V2
  client/manifests/manifests_client.go
  client/manifests/v2_create_cluster_manifest_parameters.go
  client/manifests/v2_create_cluster_manifest_responses.go
  client/manifests/v2_delete_cluster_manifest_parameters.go
  client/manifests/v2_delete_cluster_manifest_responses.go
  client/manifests/v2_list_cluster_manifests_parameters.go
  client/manifests/v2_list_cluster_manifests_responses.go
  internal/manifests/api/mock_manifests_api.go
  internal/manifests/manifests.go
  internal/manifests/manifests_test.go
  internal/manifests/manifests_v2.go
  internal/operators/manager.go
  internal/operators/manager_test.go
  mocks/mock_manifests.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  restapi/operations/manifests/v2_create_cluster_manifest.go
  restapi/operations/manifests/v2_create_cluster_manifest_parameters.go
  restapi/operations/manifests/v2_create_cluster_manifest_responses.go
  restapi/operations/manifests/v2_create_cluster_manifest_urlbuilder.go
  restapi/operations/manifests/v2_delete_cluster_manifest.go
  restapi/operations/manifests/v2_delete_cluster_manifest_parameters.go
  restapi/operations/manifests/v2_delete_cluster_manifest_responses.go
  restapi/operations/manifests/v2_delete_cluster_manifest_urlbuilder.go
  restapi/operations/manifests/v2_list_cluster_manifests.go
  restapi/operations/manifests/v2_list_cluster_manifests_parameters.go
  restapi/operations/manifests/v2_list_cluster_manifests_responses.go
  restapi/operations/manifests/v2_list_cluster_manifests_urlbuilder.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7840: Document events usage
  docs/dev/events.md
Due: none

NO-ISSUE: Adding cluster monitoring logs
  internal/cluster/cluster.go
  pkg/commonutils/common_utils.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7698: KubeAPI subsystem - restor upload logs tests Signed-off-by: Fred Rolland <frolland@redhat.com>
  subsystem/kubeapi_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4872: Generate event for disk quick format
  docs/events.yaml
  internal/common/events/events.go
  internal/events/eventstest/events_test_utils.go
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/install_cmd_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7732: Late binding - support move agent
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  subsystem/kubeapi_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7804: Adding unitest
  pkg/app/middleware_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7840: Document events usage (#2645)
  docs/dev/events.md
Due: none

Monitor logs (#2647)
  cmd/main.go
  internal/cluster/cluster.go
  openshift/template.yaml
  pkg/app/middleware.go
  pkg/app/middleware_test.go
  pkg/commonutils/common_utils.go
  pkg/thread/thread.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Fixing default values for disk-encryption on cluster creation. (#2643)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/validations/validations.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Fix olm skip range
  config/manifests/bases/assisted-service-operator.clusterserviceversion.yaml
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7698: KubeAPI subsystem - restor upload logs tests (#2648)
  subsystem/kubeapi_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7847: Remove SUPPORT_L2 env var
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/host/hostcommands/api_vip_connectivity_check_cmd.go
  internal/host/hostcommands/api_vip_connectivity_check_cmd_test.go
  internal/host/hostcommands/instruction_manager.go
  models/api_vip_connectivity_request.go
  openshift/template.yaml
  restapi/embedded_spec.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Print resources for easy debugging of operator installation
  deploy/operator/gather.sh
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Fix olm skip range (#2651)
  config/manifests/bases/assisted-service-operator.clusterserviceversion.yaml
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-35242: Set x86_64 as the default architecture for OsImages and ReleaseImages (#2634)
  models/os_image.go
  models/release_image.go
  restapi/embedded_spec.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Path conditions:
  subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-operator-disconnected: any of: ^(data/.*)$
  e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  e2e-metal-assisted-single-node: any of: ^(data/.*)$
  e2e-metal-assisted-kube-api: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-multi-version: any of: ^(data/.*)$
  e2e-metal-assisted-olm: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-kube-api: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-operator-disconnected: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/system-test-olm: any of: ^(data/.*)$
