Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, e2e-metal-assisted-capi, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Path conditions:
  lint: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  unit-test: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-ai-operator-ztp-ipv4v6-sno-ocp-49: any of: ^(deploy/.*)$
  e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49: any of: ^(deploy/.*)$
  e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-single-node: any of: ^(data/.*)$
  e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  e2e-metal-assisted-kube-api-net-suite: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-4-6: any of: ^(data/.*)$
  e2e-metal-assisted-4-8: any of: ^(data/.*)$
  e2e-metal-assisted-4-9: any of: ^(data/.*)$
  e2e-metal-assisted-4-10: any of: ^(data/.*)$
  e2e-metal-assisted-cnv: any of: ^(data/.*|internal/operators/.*)$
  e2e-metal-assisted-ocs: any of: ^(data/.*|internal/operators/.*)$
  e2e-metal-assisted-day2: any of: ^(data/.*)$
  e2e-metal-assisted-capi: any of: ^(api/.*|internal/controller/controllers/.*)$
  ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49: any of: ^(deploy/.*)$
  ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49: any of: ^(deploy/.*)$
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-4-10: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-4-6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-4-8: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-4-9: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-capi: any of: ^(api/.*|internal/controller/controllers/.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted-day2: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-ocs: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  ci/prow/lint: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/unit-test: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$

Bug 2055333: gc api server when controller is done (#3532)
  internal/controller/controllers/agentserviceconfig_controller.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9684: Create a new API call to get cluster hosts by filters (#3535)
  client/installer/installer_client.go
  client/installer/list_cluster_hosts_parameters.go
  client/installer/list_cluster_hosts_responses.go
  client/installer/v2_get_cluster_parameters.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  mocks/mock_assisted_service.go
  pkg/auth/auth_assisted_service_mock_test.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  restapi/operations/installer/list_cluster_hosts.go
  restapi/operations/installer/list_cluster_hosts_parameters.go
  restapi/operations/installer/list_cluster_hosts_responses.go
  restapi/operations/installer/list_cluster_hosts_urlbuilder.go
  restapi/operations/installer/v2_get_cluster_parameters.go
  swagger.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

[release-ocm-2.5] Bug 2067086: Set boot artifact URLs in infra-env (#3534)
  cmd/main.go
  internal/bminventory/inventory_v2_handlers.go
  internal/controller/controllers/common.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
  internal/imageservice/url_test.go
  internal/imageservice/urls.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9478: expose enable_org_tenancy feature flag
  Makefile
  openshift/template.yaml
  skipper.env
  tools/deploy_assisted_installer_configmap.py
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Bug 2065288: Add support for Ignition overrides for day2 worker (#3524)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
  internal/ignition/mock_ignition.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Bug 2065288: Add support for Ignition overrides for day2 worker
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
  internal/ignition/mock_ignition.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Change default release image to 4.10. Update 4.10 os image to 4.10.6
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9733: Allow updating image-file in UpdateHostInstallerArgs
  internal/host/hostutil/host_utils.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9734: Fix networking issue while trying to get cluster's current release
  tools/handle_ocp_versions.py
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9404: remove user filter from UpdateHostApproved
  internal/bminventory/inventory.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Bug 2055333: gc api server when controller is done
  internal/controller/controllers/agentserviceconfig_controller.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9034: Allow all domains for CORS when deploying locally
  deploy/assisted-image-service.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9404: remove user filter from UpdateHostApproved (#3547)
  internal/bminventory/inventory.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9478: expose enable_org_tenancy feature flag (#3543)
  Makefile
  openshift/template.yaml
  skipper.env
  tools/deploy_assisted_installer_configmap.py
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9734: Fix networking issue while trying to get cluster's current release (#3548)
  tools/handle_ocp_versions.py
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Bug 2065288: Add support for Ignition overrides for day2 worker (#3544)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
  internal/ignition/mock_ignition.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Bug 2066196: ensure secrets have backup labels (#3493)
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/common.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

internal/controller/controllers: split labelling from getSecret
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/common.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9578: ensure secrets have backup labels
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
  internal/controller/controllers/common.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-7365: Deprecate single network configuration fields
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/bminventory/inventory_v2_handlers.go
  internal/cluster/cluster_test.go
  internal/cluster/common.go
  internal/cluster/common_test.go
  internal/host/transition_test.go
  internal/installcfg/builder/builder_test.go
  internal/migrations/20210822134659_multiple_networks.go
  internal/migrations/20210822134659_multiple_networks_test.go
  internal/migrations/20220324203547_multiple_networks_cleanup.go
  internal/migrations/20220324203547_multiple_networks_cleanup_test.go
  internal/migrations/migrations.go
  models/cluster.go
  models/cluster_create_params.go
  models/cluster_default_config.go
  models/cluster_network.go
  models/machine_network.go
  models/service_network.go
  models/v2_cluster_update_params.go
  restapi/embedded_spec.go
  subsystem/cluster_test.go
  subsystem/cluster_v2_test.go
  subsystem/infra_env_test.go
  swagger.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9742: Populate VIPs and Networks in cluster creation via KubeAPI
  internal/bminventory/inventory_test.go
  internal/cluster/validations/validations.go
  internal/controller/controllers/clusterdeployments_controller.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9532: Don't set openshift version in upgrade files
  deploy/operator/upgrade/after_upgrade.sh
  deploy/operator/upgrade/before_upgrade.sh
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9559: Using vSphere integration creates extraneous machines and machineSets (#3530)
  internal/ignition/ignition.go
  internal/provider/vsphere/ignition.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Change default release image to 4.10. Update 4.10 os image to 4.10.6 (#3545)
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: bump github.com/moby version
  go.mod
  go.sum
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Revert "MGMT-9687: mark CPUArchitectureARM64 as fully support on 4.10 (#3518)"
  internal/featuresupport/support_levels_list.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9272: Define AgentClassification CRD
  api/v1beta1/agentclassification_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/agent-install.openshift.io_agentclassifications.yaml
  config/crd/kustomization.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_agentclassifications.yaml
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9272: AgentClassification and AgentLabel controllers
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agentclassification_controller.go
  internal/controller/controllers/agentclassification_controller_test.go
  internal/controller/controllers/agentlabel_controller.go
  internal/controller/controllers/agentlabel_controller_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9272: AgentClassification admission hooks
  cmd/webadmission/main.go
  pkg/validating-webhooks/agentinstall/v1beta1/agent_classification_admission_hook.go
  pkg/validating-webhooks/agentinstall/v1beta1/agent_classification_admission_hook_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9272: AgentClassification documentation
  docs/enhancements/automatic-agent-classification-labels.md
  docs/hive-integration/agent-labels.md
  docs/hive-integration/crds/agentClassification.yaml
Due: none

MGMT-9272: go.mod and go.sum
  go.mod
  go.sum
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9272: Agent labels subsystem test
  subsystem/cluster_test.go
  subsystem/kubeapi_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Bug 2055333: gc api server when controller is done (#3551)
  internal/controller/controllers/agentserviceconfig_controller.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9451: Move cmd commands from service to agent (#3564)
  models/install_cmd_request.go
  models/logs_gather_cmd_request.go
  models/next_step_cmd_request.go
  models/step_type.go
  restapi/embedded_spec.go
  swagger.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9451: Move cmd commands from service to agent removing ca_cert_path from commands swagger as not needed
  models/install_cmd_request.go
  models/logs_gather_cmd_request.go
  models/next_step_cmd_request.go
  restapi/embedded_spec.go
  swagger.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release release 4.7.44 -> 4.7.45, release 4.8.34 -> 4.8.35
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Improve `Makefile` & documentation around subsystem tests
  Makefile
  docs/dev/running-test.md
  hack/k8s_service_host_port.jq
  skipper.env
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test
