Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-e2e-metal-assisted-external-4-20, ci/prow/edge-e2e-metal-assisted-lvm-4-20, ci/prow/edge-e2e-metal-assisted-none-4-20, ci/prow/edge-e2e-metal-assisted-openshift-ai-4-18, ci/prow/edge-e2e-metal-assisted-osc-4-20, ci/prow/edge-e2e-metal-assisted-virtualization-4-19, ci/prow/edge-e2e-vsphere-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Path conditions:
  e2e-agent-compact-ipv4: unless all of: ^openshift/|^\.tekton/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/e2e-agent-compact-ipv4: unless all of: ^openshift/|^\.tekton/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-assisted-operator-catalog-publish-verify: any of: ^(deploy/olm-catalog/.*)$
  ci/prow/edge-e2e-ai-operator-disconnected-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp: any of: ^(cmd/.*|deploy/operator/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-ai-operator-ztp-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-disconnected: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-metal-assisted-4-20: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-metal-assisted-external-4-20: any of: ^(internal/provider/[^/]+\.go|internal/provider/external/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-metal-assisted-lvm-4-20: any of: ^(internal/operators/[^/]+\.go|internal/operators/lvm/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-none-4-20: any of: ^(internal/provider/[^/]+\.go|internal/provider/none/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-metal-assisted-openshift-ai-4-18: any of: ^(internal/operators/.*\.go)$
  ci/prow/edge-e2e-metal-assisted-osc-4-20: any of: ^(internal/operators/[^/]+\.go|internal/operators/osc/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-virtualization-4-19: any of: ^(internal/operators/.*\.go)$
  ci/prow/edge-e2e-vsphere-assisted-4-20: any of: ^(internal/provider/[^/]+\.go|internal/provider/vsphere/.*|internal/provider/registry/.*)$
  ci/prow/edge-lint: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-unit-test: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-verify-generated-code: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$

MGMT-23665: CVE-2026-33186 Bump google.golang.org/grpc to v1.79.3 using replace directive
  api/go.mod
  api/go.sum
  api/vendor/golang.org/x/text/LICENSE
  api/vendor/golang.org/x/text/unicode/bidi/core.go
  api/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Add duplicate detection, malformed entry validation, and min_version merged result validation to versioned requirements decoder.
  internal/hardware/versioned-requirements.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Fix gci violation
  internal/hardware/versioned-requirements_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-22849: Remove the nmconnection that the openshift-installer writes for the bootstrap.
  internal/ignition/installmanifests.go
  internal/ignition/installmanifests_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-23253: Reconcile stuck day2 agent status by checking spoke cluster
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-21836: Allow external platform with non-standard HA control plane
  api/vendor/github.com/openshift/assisted-service/models/host_validation_id.go
  client/vendor/github.com/openshift/assisted-service/models/host_validation_id.go
  internal/featuresupport/feature_support_test.go
  internal/featuresupport/features_misc.go
  internal/featuresupport/features_platforms.go
  internal/host/refresh_status_preprocessor.go
  internal/host/statemachine.go
  internal/host/transition_test.go
  internal/host/validation_id.go
  internal/host/validations_test.go
  internal/host/validator.go
  models/host_validation_id.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/host_validation_id.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-23451: Introduce versioned-cluster-host-requirements-details and match_type to support config-driven partial overrides with default inheritance
  api/vendor/github.com/openshift/assisted-service/models/versioned_cluster_host_requirements_details.go
  api/vendor/github.com/openshift/assisted-service/models/versioned_host_requirements.go
  client/vendor/github.com/openshift/assisted-service/models/versioned_cluster_host_requirements_details.go
  client/vendor/github.com/openshift/assisted-service/models/versioned_host_requirements.go
  data/default_hw_requirements.json
  deploy/podman/configmap-disconnected.yml
  deploy/podman/configmap.yml
  deploy/podman/configmap_tls.yml
  deploy/podman/okd-configmap.yml
  internal/controller/controllers/default_controller_hw_requirements.json
  internal/hardware/validator.go
  internal/hardware/validator_test.go
  internal/hardware/versioned-requirements.go
  internal/hardware/versioned-requirements_test.go
  internal/host/transition_test.go
  models/versioned_cluster_host_requirements_details.go
  models/versioned_host_requirements.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/versioned_cluster_host_requirements_details.go
  vendor/github.com/openshift/assisted-service/models/versioned_host_requirements.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-23253: Add recovery event and status assertions per review
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.14, 4.18, 4.20
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Fix HaveKey assertion on VersionedRequirementsDecoder which is no longer a map
  internal/hardware/validator_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Fix unit tests: relax default requirement for standalone exact entries and explicit disk speed 0 in 4.6 test entry
  internal/hardware/validator_test.go
  internal/hardware/versioned-requirements.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-23599: implement cluster and host validations for Kube API mode
  docs/hive-integration/README.md
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/bminventory/inventory_v2_handlers.go
  internal/bminventory/mock_installer_internal.go
  internal/cluster/cluster.go
  internal/cluster/refresh_status_preprocessor.go
  internal/cluster/refresh_status_preprocessor_test.go
  internal/cluster/validator.go
  internal/common/validations.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/host/host.go
  internal/host/host_test.go
  internal/host/refresh_status_preprocessor.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Fix test: expect nil InstallationDiskSpeedThresholdMs for 4.7.0 worker/edge-worker when field is omitted in JSON
  internal/hardware/versioned-requirements_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

OCPBUGS-79576: Prefer multipath disk in ABI disk selection
  cmd/agentbasedinstaller/host_config.go
  cmd/agentbasedinstaller/host_config_test.go
  internal/controller/controllers/bmh_agent_controller.go
  internal/host/hostutil/host_utils.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

[MGMT-21038] Add hostName to host - used to manage inventory hostname. Current code in host model set RequestedHostname when learning hostname from UI or from inventoy hostname.
  api/vendor/github.com/openshift/assisted-service/models/host.go
  client/vendor/github.com/openshift/assisted-service/models/host.go
  internal/bminventory/inventory.go
  internal/host/host.go
  internal/host/hostutil/host_utils.go
  models/host.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/host.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.18, 4.21, 4.14, 4.20
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

OCPBUGS-81503: Use merge patches instead of full updates for BMH and Agent
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-23340: upgrade assisted-service postgresql from 13 to 15
  Makefile
  config/manager/manager.yaml
  config/manifests/bases/assisted-service-operator.clusterserviceversion.yaml
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/pod-persistent-disconnected.yml
  deploy/podman/pod-persistent.yml
  deploy/podman/pod.yml
  deploy/podman/pod_tls.yml
  deploy/postgres/postgres-deployment-ephemeral.yaml
  deploy/postgres/postgres-deployment.yaml
  docs/dev/README.md
  docs/dev/postgresql-upgrade.md
  docs/dev/testing.md
  internal/common/common_unitest_db.go
  internal/common/testcontainers_db_context.go
  internal/controller/controllers/images.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Add AI skills and refactor to .agents/ directory
  .agents/skills/assisted-service-dev-mode/SKILL.md
  .agents/skills/assisted-service-verification/SKILL.md
  .agents/skills/mgmt-jira/SKILL.md
  .cursor/skills/assisted-service-dev-mode
  .cursor/skills/assisted-service-verification
  .cursor/skills/mgmt-jira
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.20, 4.18, 4.21, 4.19, 4.14, 4.17
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: BMAC: replace per-step Update calls with deferred Patch
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-23755: Validate and sanitize MCS certificates before adding to ignition overrides
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-23755: Add certificate validation for all certificate entry points
  internal/bminventory/inventory.go
  internal/common/common.go
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
  internal/controller/controllers/mirrorregistry/mirror_registry_parser.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-23755: Eliminate certificate validation duplication
  internal/bminventory/inventory.go
  internal/common/common.go
  internal/installcfg/installcfg.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Make InfraEnv CpuArchitecture immutable after creation
  docs/user-guide/multiarch-and-heterogeneous-openshift.md
  pkg/webhooks/agentinstall/v1beta1/infraenv_admission_hook.go
  pkg/webhooks/agentinstall/v1beta1/infraenv_admission_hook_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Vendor changes
  vendor/go.uber.org/mock/AUTHORS
  vendor/go.uber.org/mock/LICENSE
  vendor/go.uber.org/mock/gomock/call.go
  vendor/go.uber.org/mock/gomock/callset.go
  vendor/go.uber.org/mock/gomock/controller.go
  vendor/go.uber.org/mock/gomock/doc.go
  vendor/go.uber.org/mock/gomock/matchers.go
  vendor/go.uber.org/mock/gomock/string.go
  vendor/go.uber.org/mock/mockgen/model/model.go
  vendor/go.uber.org/mock/mockgen/model/model_gotypes.go
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.19, 4.18, 4.20, 4.16, 4.14, 4.21, 4.17
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

reject empty VIP IPs with a descriptive API error instead of leaking SQL constraint violations
  internal/cluster/validations/validation_test.go
  internal/cluster/validations/validations.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.19, 4.20, 4.21, 4.16, 4.17, 4.14, 4.18
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code
