Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, e2e-metal-assisted-capi, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

lint:
  commands: export GOLANGCI_LINT_CACHE=/tmp/.cache && export GOPROXY=https://proxy.golang.org && make lint
  container:
    from: test-bin

unit-test:
  commands: 'export ROOT_DIR=/tmp
  
    export COVER_PROFILE=/tmp/reports/unit_coverage.out
  
    export CODECOV_TOKEN=$(cat /tmp/secret/codecov-token)
  
    export GINKGO_REPORTFILE=/tmp/junit_unit_test.xml
  
    make ci-unit-test
  
    '
  container:
    from: assisted-service-unit-test
  secret:
  ...

subsystem-aws:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.10'
  steps:
    test:
    - as: subsystem-deploy-and-run
      cli: latest
      commands: 'export BUILD_TYPE=CI
  
        export REPORTS=${ARTIFACT_DIR}
  
        export TARGET=oc
  
  
  ...

subsystem-kubeapi-aws:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.10'
  steps:
    test:
    - as: subsystem-deploy-and-run
      cli: latest
      commands: 'export BUILD_TYPE=CI
  
        export REPORTS=${ARTIFACT_DIR}
  
        export TARGET=oc
  
  ...

e2e-metal-assisted-operator-ztp:
  steps:
    cluster_profile: packet-assisted
    dependencies:
      ASSISTED_OPENSHIFT_INSTALL_RELEASE_IMAGE: release:candidate
      OPENSHIFT_INSTALL_RELEASE_IMAGE: release:candidate
    env:
      DEVSCRIPTS_CONFIG: 'EXTRA_WORKER_VCPU=8
  
        EXTRA_WORKER_MEMORY=32768
  
        EXTRA_WORKER_DISK=120
  
  ...

e2e-ai-operator-ztp-ipv4v6-sno-ocp-49:
  optional: true
  steps:
    cluster_profile: packet-assisted
    dependencies:
      ASSISTED_OPENSHIFT_INSTALL_RELEASE_IMAGE: release:latest
      OPENSHIFT_INSTALL_RELEASE_IMAGE: release:latest
    env:
      DEVSCRIPTS_CONFIG: 'EXTRA_WORKER_VCPU=8
  
        EXTRA_WORKER_MEMORY=32768
  
        EXTRA_WORKER_DISK=120
  
  ...

e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49:
  optional: true
  steps:
    cluster_profile: packet-assisted
    dependencies:
      ASSISTED_OPENSHIFT_INSTALL_RELEASE_IMAGE: release:latest
      OPENSHIFT_INSTALL_RELEASE_IMAGE: release:latest
    env:
      ASSISTED_ZTP_CONFIG: 'SPOKE_CONTROLPLANE_AGENTS=3
  
        '
      DEVSCRIPTS_CONFIG: 'EXTRA_WORKER_VCPU=8
  ...

e2e-metal-assisted-ipv6:
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=no
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ipv4v6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=yes
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-single-node:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'NUM_MASTERS=1
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    workflow: assisted-baremetal

cmd/main: skip false positive SA4023 for storage client
  cmd/main.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

golangci-lint: disable gci
  .golangci.yml
Due: lint, unit-test, ci/prow/lint, ci/prow/unit-test

golangci-lint: replace deprecated scopelint
  .golangci.yml
Due: lint, unit-test, ci/prow/lint, ci/prow/unit-test

golangci.yml: enable few more linters
  .golangci.yml
Due: lint, unit-test, ci/prow/lint, ci/prow/unit-test

Bug 2069976: Error with oc-mirror using an old outdated unsupported oc client in AI (#3598)
  Dockerfile.assisted-service
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9986: Assisted-service should evaluate if it should use the converged flow
  cmd/main.go
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9787: Add the built-in ipxe script endpoint to baremetal deploy docs
  docs/user-guide/deploy-on-bare-metal.md
Due: none

Fix reflect vendoring error Ref: https://github.com/golang/mock#debugging-errors
  internal/bminventory/inventory.go
  internal/controller/controllers/common.go
  internal/controller/controllers/crd_events_handler.go
  internal/controller/controllers/spoke_k8s_client.go
  internal/host/host.go
  internal/host/hostcommands/instruction_manager.go
  internal/infraenv/infraenv.go
  internal/isoeditor/factory.go
  internal/isoeditor/rhcos.go
  internal/isoutil/isoutil.go
  internal/manifests/api/interface.go
  internal/operators/api/api.go
  internal/operators/manager.go
  internal/provider/base.go
  internal/provider/registry/registry.go
  internal/versions/versions.go
  mocks/generate.go
  pkg/executer/executer.go
  pkg/generator/generator.go
  pkg/ocm/accounts_mgmt.go
  pkg/s3wrapper/client.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

AGENT-104: OCP release changes
  .gitignore
  Dockerfile.assisted-service.ocp
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Add generate-vendor target and do not delete the mock files from the vendor directory
  hack/Makefile
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Vendor the submodules
  hack/Makefile
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10160: remove cache for subscription access review
  pkg/auth/rhsso_authz_handler.go
  pkg/auth/rhsso_authz_handler_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

go mod vendor
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_go113.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/errors_xerrors.go
  vendor/github.com/google/go-cmp/cmp/compare.go
  vendor/github.com/google/go-cmp/cmp/report_compare.go
  vendor/github.com/google/go-cmp/cmp/report_reflect.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/gorm.io/gorm/callbacks/helper.go
  vendor/gorm.io/gorm/finisher_api.go
  vendor/gorm.io/gorm/migrator/migrator.go
  vendor/gorm.io/gorm/scan.go
  vendor/gorm.io/gorm/schema/field.go
  vendor/gorm.io/gorm/schema/index.go
  vendor/gorm.io/gorm/schema/pool.go
  vendor/gorm.io/gorm/schema/serializer.go
  vendor/gorm.io/gorm/statement.go
  vendor/modules.txt
Due: lint, unit-test, ci/prow/lint, ci/prow/unit-test

MGMT-9451: Move cmd commands from service to agent (#3554)
  go.mod
  go.sum
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/host/hostcommands/api_vip_connectivity_check_cmd.go
  internal/host/hostcommands/connectivity_check_cmd.go
  internal/host/hostcommands/container_image_availability_cmd.go
  internal/host/hostcommands/container_image_availability_cmd_test.go
  internal/host/hostcommands/dhcp_allocate_cmd.go
  internal/host/hostcommands/disk_performance_cmd.go
  internal/host/hostcommands/domain_name_resolution_cmd.go
  internal/host/hostcommands/free_addresses_cmd.go
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/install_cmd_test.go
  internal/host/hostcommands/instruction_manager_test.go
  internal/host/hostcommands/inventory_cmd.go
  internal/host/hostcommands/inventory_cmd_test.go
  internal/host/hostcommands/logs_cmd.go
  internal/host/hostcommands/logs_cmd_test.go
  internal/host/hostcommands/next_step_runner_cmd.go
  internal/host/hostcommands/next_step_runner_cmd_test.go
  internal/host/hostcommands/ntp_synchronizer_cmd.go
  internal/host/hostcommands/stop_installation_cmd.go
  internal/host/hostcommands/stop_installation_cmd_test.go
  subsystem/host_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10174: Add node ip hint manifest for sno. We want to be able to set ip for kubelet that will match machine cidr that we set for cluster.
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/network/manifests_generator.go
  internal/network/manifests_generator_test.go
  internal/network/mock_manifests_generator.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release 4.10.11 -> 4.10.12 (#3749)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE - Add the ability to override image-service image when deploying the assisted-image-service
  deploy/assisted-image-service.yaml
  tools/deploy_image_service.py
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

WIP
  README.md
Due: none

MGMT-10225: Update BUNDLE_CHANNELS to ocm-2.6 on master
  Makefile
  deploy/olm-catalog/bundle.Dockerfile
  deploy/olm-catalog/metadata/annotations.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release 4.9.29 -> 4.9.31
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE - Add the ability to override image-service image when deploying the assisted-image-service (#3758)
  deploy/assisted-image-service.yaml
  tools/deploy_image_service.py
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Bug 2069976: Error with oc-mirror using an old outdated unsupported oc client in AI (#3598) (#3754)
  Dockerfile.assisted-service
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

WIP MGMT-9726: Wait for assisted-image-service when deploying the operator
  deploy/operator/setup_assisted_operator.sh
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9495: Remove unused isoeditor functions and isoutil package
  internal/isoeditor/factory.go
  internal/isoeditor/mock_editor.go
  internal/isoeditor/mock_factory.go
  internal/isoeditor/rhcos.go
  internal/isoeditor/rhcos_test.go
  internal/isoutil/isoutil.go
  internal/isoutil/isoutil_test.go
  internal/isoutil/mock_isoutil.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10225: Update BUNDLE_CHANNELS to ocm-2.6 on master (#3762)
  Makefile
  deploy/olm-catalog/bundle.Dockerfile
  deploy/olm-catalog/metadata/annotations.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

WIP MGMT-9726: Wait for assisted-image-service when deploying the operator (#3764)
  deploy/operator/setup_assisted_operator.sh
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

WIP MGMT-9726: Wait for assisted-image-service when deploying the operator (#3765)
  deploy/operator/setup_assisted_operator.sh
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

AGENT-153: Add .ci-operator.yaml for OCP payload image
  .ci-operator.yaml
Due: lint, unit-test, ci/prow/lint, ci/prow/unit-test

AGENT-153: Add .ci-operator.yaml for OCP payload image (#3766)
  .ci-operator.yaml
Due: lint, unit-test, ci/prow/lint, ci/prow/unit-test

MGMT-10094: Update must gather images for the OLM operators
  data/default_must_gather_versions.json
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9787: Add the built-in ipxe script endpoint to baremetal deploy docs (#3677)
  docs/user-guide/deploy-on-bare-metal.md
Due: none

MGMT-9020: Add install config overrides feature usage
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/usage/consts.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9574: Improve error message when updating static IP
  pkg/staticnetworkconfig/generator.go
  subsystem/infra_env_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

AGENT-56 Client to read ZTP manifests and register cluster and infraenv
  Dockerfile.assisted-service
  cmd/ephemeral-installer-register-cluster-and-infraenv/main.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

AGENT-56 Improve handling of cluster id and openshift version
  cmd/ephemeral-installer-register-cluster-and-infraenv/main.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Path conditions:
  lint: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  unit-test: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-ai-operator-ztp-ipv4v6-sno-ocp-49: any of: ^(deploy/.*)$
  e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49: any of: ^(deploy/.*)$
  e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-single-node: any of: ^(data/.*)$
  e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  e2e-metal-assisted-kube-api-net-suite: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-4-6: any of: ^(data/.*)$
  e2e-metal-assisted-4-8: any of: ^(data/.*)$
  e2e-metal-assisted-4-9: any of: ^(data/.*)$
  e2e-metal-assisted-4-10: any of: ^(data/.*)$
  e2e-metal-assisted-cnv: any of: ^(data/.*|internal/operators/.*)$
  e2e-metal-assisted-ocs: any of: ^(data/.*|internal/operators/.*)$
  e2e-metal-assisted-day2: any of: ^(data/.*)$
  e2e-metal-assisted-capi: any of: ^(api/.*|internal/controller/controllers/.*)$
  ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49: any of: ^(deploy/.*)$
  ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49: any of: ^(deploy/.*)$
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-4-10: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-4-6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-4-8: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-4-9: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-capi: any of: ^(api/.*|internal/controller/controllers/.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted-day2: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-ocs: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  ci/prow/lint: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/unit-test: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
