Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact, ci/prow/e2e-agent-compact, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-ocs, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Path conditions:
  e2e-agent-compact: any of: ^(Dockerfile\.assisted-service\.ocp)|(cmd/agentbasedinstaller)
  ci/prow/e2e-agent-compact: unless all of: ^openshift/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-assisted-operator-catalog-publish-verify: any of: ^(deploy/olm-catalog/.*)$
  ci/prow/edge-e2e-ai-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/operator/.*|deploy/assisted-controller/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-ai-operator-ztp-3masters: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-disconnected: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes: any of: ^(deploy/operator/hypershift/.*|api/.*|internal/controller/controllers/.*agentserviceconfig.*)$
  ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-metal-assisted-cnv: any of: ^(internal/operators/.*\.go|internal/operators/cnv/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-day2: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-day2-single-node: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-ipv4v6: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-lvm: any of: ^(internal/operators/.*\.go|internal/operators/lvm/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-ocs: any of: ^(internal/operators/.*\.go|internal/operators/odf/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-odf: any of: ^(internal/operators/.*\.go|internal/operators/odf/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  ci/prow/edge-lint: unless all of: ^dashboards/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-unit-test: unless all of: ^dashboards/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-verify-generated-code: unless all of: ^dashboards/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$

MGMT-16114: Update 4.14 release image to use GA version
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16052: Fix cluster HighAvailabilityMode nil pointer in update flow (#5659)
  internal/provider/common.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16052: Fix cluster HighAvailabilityMode nil pointer in update flow
  internal/provider/common.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-15878: Ensure that hosts emit event showing why preparation failed.
  cmd/graphstatemachine/main.go
  cmd/main.go
  internal/cluster/statemachine.go
  internal/host/common.go
  internal/host/config.go
  internal/host/mock_transition.go
  internal/host/monitor.go
  internal/host/statemachine.go
  internal/host/transition.go
  internal/host/transition_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16052: Fix cluster HighAvailabilityMode nil pointer in update flow (#5663)
  internal/provider/common.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-15271: Append kargs to installer for s390x
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/install_cmd_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16114: Update 4.14 release image to use GA version (#5651)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16001: Sanitize reclaim daemonset name (#5643)
  internal/controller/controllers/agent_reclaimer.go
  internal/controller/controllers/agent_reclaimer_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16151: change default envoy sidecar timeout value
  openshift/template.yaml
Due: none

MGMT-16151: change default envoy sidecar timeout value (#5667)
  openshift/template.yaml
Due: none

MGMT-15878: Add a condition to show the last preparation failure
  api/hiveextension/v1beta1/agentclusterinstall_types.go
  api/vendor/github.com/openshift/assisted-service/models/cluster.go
  api/vendor/github.com/openshift/assisted-service/models/last_installation_preparation.go
  client/vendor/github.com/openshift/assisted-service/models/cluster.go
  client/vendor/github.com/openshift/assisted-service/models/last_installation_preparation.go
  docs/events.yaml
  docs/hive-integration/kube-api-conditions.md
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/cluster/conditions.go
  internal/cluster/progress_test.go
  internal/cluster/refresh_status_preprocessor_test.go
  internal/cluster/transition.go
  internal/cluster/transition_test.go
  internal/common/db.go
  internal/common/events/events.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/events/eventstest/events_test_utils.go
  internal/host/refresh_status_preprocessor_test.go
  models/cluster.go
  models/last_installation_preparation.go
  restapi/embedded_spec.go
  subsystem/ams_subscriptions_test.go
  subsystem/cluster_test.go
  subsystem/manifests_test.go
  subsystem/utils_test.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/api/hiveextension/v1beta1/agentclusterinstall_types.go
  vendor/github.com/openshift/assisted-service/models/cluster.go
  vendor/github.com/openshift/assisted-service/models/last_installation_preparation.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16061: changing dnsmasq configuration for sno in order to meet single ip installation flow for ibu Improving adding an option to override domain
  internal/network/manifests_generator.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-15878: Add a condition to show the last preparation failure (#5524)
  api/hiveextension/v1beta1/agentclusterinstall_types.go
  api/vendor/github.com/openshift/assisted-service/models/cluster.go
  api/vendor/github.com/openshift/assisted-service/models/last_installation_preparation.go
  client/vendor/github.com/openshift/assisted-service/models/cluster.go
  client/vendor/github.com/openshift/assisted-service/models/last_installation_preparation.go
  docs/events.yaml
  docs/hive-integration/kube-api-conditions.md
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/cluster/conditions.go
  internal/cluster/progress_test.go
  internal/cluster/refresh_status_preprocessor_test.go
  internal/cluster/transition.go
  internal/cluster/transition_test.go
  internal/common/db.go
  internal/common/events/events.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/events/eventstest/events_test_utils.go
  internal/host/refresh_status_preprocessor_test.go
  models/cluster.go
  models/last_installation_preparation.go
  restapi/embedded_spec.go
  subsystem/ams_subscriptions_test.go
  subsystem/cluster_test.go
  subsystem/manifests_test.go
  subsystem/utils_test.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/api/hiveextension/v1beta1/agentclusterinstall_types.go
  vendor/github.com/openshift/assisted-service/models/cluster.go
  vendor/github.com/openshift/assisted-service/models/last_installation_preparation.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-JIRA: Allow the command in wait_for_cmd_amount to receive arguments This was already assumed but it is not the case now
  deploy/operator/utils.sh
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-15878: Ensure that hosts emit event showing why preparation failed. (#5521)
  cmd/graphstatemachine/main.go
  cmd/main.go
  internal/cluster/statemachine.go
  internal/host/common.go
  internal/host/config.go
  internal/host/mock_transition.go
  internal/host/monitor.go
  internal/host/statemachine.go
  internal/host/transition.go
  internal/host/transition_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16164: Install 4.14 redhat-operators catalog for LSO
  deploy/operator/setup_lso.sh
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16052: Fix cluster HighAvailabilityMode nil pointer in update flow (#5664)
  internal/provider/common.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16164: Install 4.14 redhat-operators catalog for LSO (#5669)
  deploy/operator/setup_lso.sh
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Fix for error in wait_for_cmd_amount function
  deploy/operator/utils.sh
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16151: allow CORS HEAD for s3 presigned url, as UI uses preflight checks
  pkg/app/middleware.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-JIRA: Allow the command in wait_for_cmd_amount to receive arguments (#5668)
  deploy/operator/utils.sh
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Add missing scheme to `ServiceMonitor`
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16077: Add 4.15 release and OS images
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-15902: Trigger reboots for node event when day2 node moves to done (#5648)
  cmd/main.go
  go.mod
  internal/controller/controllers/agent_controller.go
  internal/oc/debug.go
  internal/oc/debug_test.go
  internal/spoke_k8s_client/factory.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Fix for error in wait_for_cmd_amount function (#5670)
  deploy/operator/utils.sh
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

AGENT-723: Use json.Marshal to correctly process vSphere credentials (#5592)
  internal/bminventory/inventory_test.go
  internal/installcfg/builder/builder.go
  internal/installcfg/builder/builder_test.go
  internal/installcfg/installcfg.go
  internal/provider/external/installConfig.go
  internal/provider/none/installConfig.go
  internal/provider/registry/registry_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16077: Add 4.15 release and OS images (#5673)
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16061: changing dnsmasq configuration for sno in order to meet single ip installation flow for ibu (#5658)
  internal/network/manifests_generator.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16151: allow CORS HEAD for s3 presigned url, as UI uses preflight checks (#5671)
  pkg/app/middleware.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Update RHTAP references
  .tekton/assisted-service-q2vh-pull-request.yaml
  .tekton/assisted-service-q2vh-push.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16151: allow CORS OPTIONS for s3 presigned url
  pkg/app/middleware.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

AGENT-740: Include baremetal host BMC fields in install-config override Include the BMC fields in install-config overrides in order to allow these settings to be configured at install time.
  internal/installcfg/builder/builder_test.go
  internal/installcfg/installcfg.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

updated per review comments
  internal/cluster/validator.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

move order of of checks for NetworkType
  internal/cluster/validator.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ensure that cluster cidr size verification is still done
  internal/cluster/validator.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

change to only skip validation based on networkType
  internal/cluster/validator.go
  internal/cluster/validator_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16151: allow CORS OPTIONS for s3 presigned url (#5674)
  pkg/app/middleware.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Bump OCP versions: 4.11, 4.12, 4.13
  data/default_os_images.json
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Bump OCP versions: 4.11, 4.12, 4.13 (#5681)
  data/default_os_images.json
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code
