Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-e2e-metal-assisted-external-4-20, ci/prow/edge-e2e-metal-assisted-lvm-4-20, ci/prow/edge-e2e-metal-assisted-none-4-20, ci/prow/edge-e2e-metal-assisted-openshift-ai-4-18, ci/prow/edge-e2e-metal-assisted-osc-4-20, ci/prow/edge-e2e-metal-assisted-virtualization-4-19, ci/prow/edge-e2e-vsphere-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

e2e-agent-compact-ipv4:
  capabilities:
  - intranet
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-compact-ipv4

ci/prow/e2e-agent-compact-ipv4:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/edge-assisted-operator-catalog-publish-verify:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/edge-e2e-ai-operator-disconnected-capi:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

ci/prow/edge-e2e-ai-operator-ztp:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

ci/prow/edge-e2e-ai-operator-ztp-capi:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

ci/prow/edge-e2e-ai-operator-ztp-disconnected:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

ci/prow/edge-e2e-metal-assisted-4-20:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

ci/prow/edge-e2e-metal-assisted-external-4-20:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

fix grammer
  internal/operators/openshiftai/openshift_ai_operator.go
  internal/operators/openshiftai/openshift_ai_operator_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-e2e-metal-assisted-openshift-ai-4-18, ci/prow/edge-e2e-metal-assisted-virtualization-4-19, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 5.0, 4.19, 4.21, 4.22, 4.16, 4.20, 4.18
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  internal/common/test_versions_generated.go
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Upgrade OS Image for 4.20
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

OCPBUGS-91974: Use TechPreviewNoUpgrade for TNF in 4.20-4.21
  internal/featuresupport/feature_support_test.go
  internal/featuresupport/features_misc.go
  internal/installcfg/builder/builder.go
  internal/installcfg/builder/builder_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: make the isDiskEncryptionSetWithTpm function more robust
  internal/hardware/validator.go
  internal/hardware/validator_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

extract internal/diskencryption package
  internal/bminventory/inventory.go
  internal/common/disk_encryption.go
  internal/common/disk_encryption_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/diskencryption/disk_encryption.go
  internal/diskencryption/disk_encryption_test.go
  internal/hardware/validator.go
  internal/host/hostcommands/tang_connectivity_check_cmd.go
  internal/host/hostutil/host_utils.go
  internal/host/hostutil/host_utils_test.go
  internal/host/validator.go
  internal/network/manifests_generator.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

apply disk encryption defaults on cluster create and update
  internal/bminventory/inventory.go
  internal/common/disk_encryption.go
  internal/common/disk_encryption_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  subsystem/kubeapi/kubeapi_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: reject tang disk encryption config when feature is disabled
  internal/cluster/validations/validations.go
  internal/diskencryption/disk_encryption.go
  internal/diskencryption/disk_encryption_test.go
  internal/host/validator.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

replace inline disk encryption enabled checks with IsConfigured
  internal/bminventory/inventory.go
  internal/cluster/validations/validations.go
  internal/diskencryption/disk_encryption.go
  internal/diskencryption/disk_encryption_test.go
  internal/host/hostcommands/tang_connectivity_check_cmd.go
  internal/host/validator.go
  internal/network/manifests_generator.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

fix diskencryption and hostutil unit test failures Use Ginkgo for diskencryption tests so CI ginkgo flags are accepted, and remove the unused ginkgo table import from hostutil tests.
  internal/diskencryption/disk_encryption_test.go
  internal/host/hostutil/host_utils_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

add HasMode and IsSetWithTang disk encryption helpers
  internal/bminventory/inventory.go
  internal/cluster/validations/validations.go
  internal/common/disk_encryption.go
  internal/common/disk_encryption_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/hardware/validator.go
  internal/host/hostcommands/tang_connectivity_check_cmd.go
  internal/host/validations_test.go
  internal/host/validator.go
  internal/network/manifests_generator.go
  subsystem/cluster_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

reverting the commit 'extract internal/diskencryption package' so common solution would be used in the whole project.
  internal/bminventory/inventory.go
  internal/cluster/validations/validations.go
  internal/common/disk_encryption.go
  internal/common/disk_encryption_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/hardware/validator.go
  internal/host/hostcommands/tang_connectivity_check_cmd.go
  internal/host/validator.go
  internal/network/manifests_generator.go
  subsystem/kubeapi/kubeapi_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

OCPBUGS-91974: Handle version parse error in handleFencing
  internal/installcfg/builder/builder.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

OCPBUGS-91974: Version-gate DevPreviewNoUpgrade for TNF clusters
  internal/featuresupport/feature_support_test.go
  internal/featuresupport/features_misc.go
  internal/installcfg/builder/builder.go
  internal/installcfg/builder/builder_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.16, 4.19, 4.18, 4.22, 4.21, 4.20, 5.0
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-24644: Pin namespace references in operator controllers
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/common.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/mirrorregistry/mirror_registry_parser.go
  internal/controller/controllers/preprovisioningimage_controller.go
  internal/spoke_k8s_client/factory.go
  pkg/webhooks/agentinstall/v1beta1/agent_admission_hook.go
  pkg/webhooks/agentinstall/v1beta1/agent_admission_hook_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-24645: Scope local authentication tokens properly
  internal/gencrypto/token.go
  internal/gencrypto/token_test.go
  pkg/auth/agent_local_authz_handler.go
  pkg/auth/authz.go
  pkg/auth/local_authenticator.go
  pkg/auth/local_authenticator_test.go
  pkg/auth/rhsso_authz_handler_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

[release-ocm-2.17] NO-ISSUE: Prune old OS images from release-ocm-2.17
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  docs/hive-integration/crds/clusterImageSet.yaml
  internal/common/test_versions_generated.go
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-24400: Add test version documentation
  docs/dev/test-versions.md
  docs/dev/testing.md
Due: none

MGMT-24400: Update unit test skill with TestVersion guidance
  .cursor/skills/assisted-service-writing-unit-tests/SKILL.md
Due: none

MGMT-24400: Generate Hive ClusterImageSet example version
  docs/hive-integration/crds/clusterImageSet.yaml
  hack/generate.sh
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

fix: use typed credentials key to support MAC-based fencing in ABI flow
  cmd/agentbasedinstaller/host_config.go
  cmd/agentbasedinstaller/host_config_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-18886: OS Streams
  docs/enhancements/os-streams.md
Due: none

simplify IRI api dependency
  internal/ignition/installmanifests.go
  internal/ignition/installmanifests_test.go
  internal/ignition/internalreleaseimage_patcher.go
  internal/ignition/internalreleaseimage_patcher_test.go
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/features/util.go
  vendor/github.com/openshift/api/machineconfiguration/v1alpha1/Makefile
  vendor/github.com/openshift/api/machineconfiguration/v1alpha1/doc.go
  vendor/github.com/openshift/api/machineconfiguration/v1alpha1/register.go
  vendor/github.com/openshift/api/machineconfiguration/v1alpha1/types.go
  vendor/github.com/openshift/api/machineconfiguration/v1alpha1/types_internalreleaseimage.go
  vendor/github.com/openshift/api/machineconfiguration/v1alpha1/types_machineconfignode.go
  vendor/github.com/openshift/api/machineconfiguration/v1alpha1/types_osimagestream.go
  vendor/github.com/openshift/api/machineconfiguration/v1alpha1/types_pinnedimageset.go
  vendor/github.com/openshift/api/machineconfiguration/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machineconfiguration/v1alpha1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/machineconfiguration/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.22, 4.16, 4.18, 4.21, 4.13, 4.20, 5.0, 4.19
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  internal/common/test_versions_generated.go
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

OCPBUGS-90638: Add sourcedir /run/chrony-dhcp to generated chrony.conf
  internal/network/manifests_generator.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.20, 4.16, 5.0, 4.21, 4.19, 4.18, 4.13, 4.22
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  internal/common/test_versions_generated.go
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Path conditions:
  e2e-agent-compact-ipv4: unless all of: ^openshift/|^\.tekton/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/e2e-agent-compact-ipv4: unless all of: ^openshift/|^\.tekton/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-assisted-operator-catalog-publish-verify: any of: ^(deploy/olm-catalog/.*)$
  ci/prow/edge-e2e-ai-operator-disconnected-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp: any of: ^(cmd/.*|deploy/operator/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-ai-operator-ztp-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-disconnected: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-metal-assisted-4-20: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-metal-assisted-external-4-20: any of: ^(internal/provider/[^/]+\.go|internal/provider/external/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-metal-assisted-lvm-4-20: any of: ^(internal/operators/[^/]+\.go|internal/operators/lvm/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-none-4-20: any of: ^(internal/provider/[^/]+\.go|internal/provider/none/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-metal-assisted-openshift-ai-4-18: any of: ^(internal/operators/.*\.go)$
  ci/prow/edge-e2e-metal-assisted-osc-4-20: any of: ^(internal/operators/[^/]+\.go|internal/operators/osc/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-virtualization-4-19: any of: ^(internal/operators/.*\.go)$
  ci/prow/edge-e2e-vsphere-assisted-4-20: any of: ^(internal/provider/[^/]+\.go|internal/provider/vsphere/.*|internal/provider/registry/.*)$
  ci/prow/edge-lint: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-unit-test: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-verify-generated-code: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
