Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact, ci/prow/edge-lint, ci/prow/edge-unit-test

e2e-agent-compact:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-compact-ipv4

ci/prow/edge-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/edge-unit-test:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

oMGMT-12169: Changing the cluster's validation message when disks size is not sufficient
  internal/operators/odf/odf_operator.go
  internal/operators/odf/odf_operator_test.go
  internal/operators/odf/validation_test.go
  internal/operators/odf/validations.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-12366: Allow to use UpdateMachineCidr for multiple networks (#4747)
  internal/cluster/cluster.go
  internal/cluster/common.go
  internal/cluster/common_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Fix wrong unit test for CIDR autoallocation (#4736) (#4459)
  api/vendor/github.com/openshift/assisted-service/models/cluster.go
  api/vendor/github.com/openshift/assisted-service/models/host_validation_id.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/cluster/mock_cluster_api.go
  internal/common/common_test.go
  internal/host/refresh_status_preprocessor.go
  internal/host/statemachine.go
  internal/host/transition_test.go
  internal/host/validation_id.go
  internal/host/validations_test.go
  internal/host/validator.go
  models/cluster.go
  models/host_validation_id.go
  restapi/embedded_spec.go
  subsystem/kubeapi_test.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/cluster.go
  vendor/github.com/openshift/assisted-service/models/host_validation_id.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-9915: Prepare sample CRs for dual-stack VIPs (#4754)
  docs/hive-integration/crds/agentClusterInstall-dualstack-vips-SNO.yaml
  docs/hive-integration/crds/agentClusterInstall-dualstack-vips.yaml
Due: none

Set infra-env kernel params on preprovisioning image
  internal/controller/controllers/preprovisioningimage_controller.go
  internal/controller/controllers/preprovisioningimage_controller_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-12759: Reinstate assisted NMState Go binding (#4698)
  Dockerfile.assisted-service
  Dockerfile.assisted-service-build
  Dockerfile.assisted-service.ocp
  Makefile
  cmd/main.go
  go.mod
  go.sum
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  pkg/staticnetworkconfig/generator.go
  pkg/staticnetworkconfig/generator_test.go
  pkg/staticnetworkconfig/mock_generator.go
  vendor/github.com/nmstate/nmstate/rust/src/go/nmstate/LICENSE
  vendor/github.com/nmstate/nmstate/rust/src/go/nmstate/Makefile
  vendor/github.com/nmstate/nmstate/rust/src/go/nmstate/nmstate.go
  vendor/golang.org/x/sync/semaphore/semaphore.go
  vendor/modules.txt
Due: e2e-agent-compact, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: extract client from reconcile context
  cmd/operator/main.go
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_storage_validation_test.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
  internal/controller/controllers/hypershiftagentserviceconfig_controller.go
  internal/controller/controllers/hypershiftagentserviceconfig_controller_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-9915: Fix sample CRs for dual-stack VIPs
  docs/hive-integration/crds/agentClusterInstall-dualstack-vips-SNO.yaml
  docs/hive-integration/crds/agentClusterInstall-dualstack-vips.yaml
Due: none

MGMT-9915: Fix sample CRs for dual-stack VIPs (#4758)
  docs/hive-integration/crds/agentClusterInstall-dualstack-vips-SNO.yaml
  docs/hive-integration/crds/agentClusterInstall-dualstack-vips.yaml
Due: none

bump version for hacking LSO catalog
  deploy/operator/setup_lso.sh
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: edit HASC enhancement doc
  docs/enhancements/ai-on-hypershift.png
  docs/enhancements/ai-on-zero-worker-hypershift-components.jpg
  docs/enhancements/ai-on-zero-worker-hypershift.md
  docs/enhancements/webhook_in_hypershift.jpg
Due: none

NO-ISSUE: edit HASC enhancement doc (#4756)
  docs/enhancements/ai-on-hypershift.png
  docs/enhancements/ai-on-zero-worker-hypershift-components.jpg
  docs/enhancements/ai-on-zero-worker-hypershift.md
  docs/enhancements/webhook_in_hypershift.jpg
Due: none

MGMT-12635: Add icsp-file support for all oc commands (#4684) (#4700)
  cmd/agentbasedinstaller/register.go
  cmd/main.go
  internal/installercache/installercache.go
  internal/oc/release.go
  internal/oc/release_test.go
  pkg/mirrorregistries/generator.go
Due: e2e-agent-compact, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-12863: Assisted Spoke install-config does not generate icsp with multiple mirror to entries (#4748)
  internal/installcfg/builder/builder.go
  internal/installcfg/builder/builder_test.go
  internal/oc/release.go
  internal/oc/release_test.go
  pkg/mirrorregistries/generator.go
  pkg/mirrorregistries/generator_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

Added ZTP workflows to hive integration README.md
  docs/hive-integration/README.md
Due: none

oMGMT-12169: Changing the cluster's validation message when disks size is not sufficient (#4729)
  internal/operators/odf/odf_operator.go
  internal/operators/odf/odf_operator_test.go
  internal/operators/odf/validation_test.go
  internal/operators/odf/validations.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-12635: Add icsp-file support for all oc commands (#4684) (#4700) (#4738)
  cmd/agentbasedinstaller/register.go
  cmd/main.go
  internal/installercache/installercache.go
  internal/oc/release.go
  internal/oc/release_test.go
  pkg/mirrorregistries/generator.go
Due: e2e-agent-compact, ci/prow/edge-lint, ci/prow/edge-unit-test

OCPBUGS-1683: Assisted-install failing with None platform when multiple IP interfaces configured (#4750)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/host/transition_test.go
  internal/host/validator.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

TELCODOCS-831: Document capabilities exclusion
  docs/user-guide/install-customization.md
Due: none

MGMT-12850: Add host id header
  client/installer/v2_get_next_steps_parameters.go
  client/installer/v2_post_step_reply_parameters.go
  client/installer/v2_register_host_parameters.go
  restapi/embedded_spec.go
  restapi/operations/installer/v2_get_next_steps_parameters.go
  restapi/operations/installer/v2_post_step_reply_parameters.go
  restapi/operations/installer/v2_register_host_parameters.go
  swagger.yaml
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-12850: Check rate limits for requests from hosts
  openshift/template.yaml
Due: none

NO-ISSUE: Added ZTP workflows to hive integration README.md
  docs/hive-integration/README.md
  docs/hive-integration/ZTP_converged_flow.png
  docs/hive-integration/ZTP_flow.png
Due: none

OCPBUGS-4493: do not mutate ACI post installation start
  pkg/webhooks/hiveextension/v1beta1/agentclusterinstall_mutating_hook.go
  pkg/webhooks/hiveextension/v1beta1/agentclusterinstall_mutating_hook_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-12866: Assisted Spoke install-config does not generate icsp with multiple mirror to entries
  internal/installcfg/builder/builder.go
  internal/installcfg/builder/builder_test.go
  internal/oc/release.go
  internal/oc/release_test.go
  pkg/mirrorregistries/generator.go
  pkg/mirrorregistries/generator_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

Bump OCP versions: 4.12, 4.9
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

TELCODOCS-831: Document capabilities exclusion (#4213)
  docs/user-guide/install-customization.md
Due: none

NO-ISSUE: use two logger instance for generic and ocm logging
  cmd/main.go
  openshift/template.yaml
  pkg/ocm/client.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

OCPBUGS-2953: Fix regex to filter images by tag and by sha
  internal/ignition/ignition.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

Update BMO and use GetIronicIP from there
  cmd/main.go
  go.mod
  internal/controller/controllers/bmo_utils.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Set the correct RAM size in BMH HardwareDetails (#4453)
  internal/controller/controllers/bmh_agent_controller.go
  internal/host/monitor.go
  pkg/conversions/conversions.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

Bump OCP versions: 4.12, 4.9 (#4764)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Remove V1 `AddEvent`
  internal/events/api/event.go
  internal/events/api/mock_event.go
  internal/events/event.go
  internal/host/host.go
  internal/host/host_test.go
  internal/metrics/metricsManager.go
  internal/metrics/metricsManager_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

Change .gitignore to only ignore the root build directory
  .gitignore
  vendor/github.com/openshift/api/build/OWNERS
  vendor/github.com/openshift/api/build/install.go
  vendor/github.com/openshift/api/build/v1/consts.go
  vendor/github.com/openshift/api/build/v1/doc.go
  vendor/github.com/openshift/api/build/v1/generated.pb.go
  vendor/github.com/openshift/api/build/v1/generated.proto
  vendor/github.com/openshift/api/build/v1/legacy.go
  vendor/github.com/openshift/api/build/v1/register.go
  vendor/github.com/openshift/api/build/v1/types.go
  vendor/github.com/openshift/api/build/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/build/v1/zz_generated.swagger_doc_generated.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: extract client from reconcile context (#4720)
  cmd/operator/main.go
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_storage_validation_test.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
  internal/controller/controllers/hypershiftagentserviceconfig_controller.go
  internal/controller/controllers/hypershiftagentserviceconfig_controller_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: use two logger instance for generic and ocm logging (#4734)
  cmd/main.go
  openshift/template.yaml
  pkg/ocm/client.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

Set infra-env kernel params on preprovisioning image (#4757)
  internal/controller/controllers/preprovisioningimage_controller.go
  internal/controller/controllers/preprovisioningimage_controller_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-12471: Don't wait for console if it is disabled
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

Path conditions:
  e2e-agent-compact: any of: ^(Dockerfile\.assisted-service\.ocp)|(cmd/agentbasedinstaller)
  ci/prow/edge-lint: unless all of: ^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  ci/prow/edge-unit-test: unless all of: ^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
