Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-none, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-e2e-nutanix-assisted, ci/prow/edge-e2e-nutanix-assisted-4-14, ci/prow/edge-e2e-oci-assisted, ci/prow/edge-e2e-oci-assisted-4-14, ci/prow/edge-e2e-vsphere-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Path conditions:
  e2e-agent-compact: any of: ^(Dockerfile\.assisted-service\.ocp)|(cmd/agentbasedinstaller)
  ci/prow/e2e-agent-compact-ipv4: unless all of: ^openshift/|^\.tekton/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-assisted-operator-catalog-publish-verify: any of: ^(deploy/olm-catalog/.*)$
  ci/prow/edge-e2e-ai-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/operator/.*|deploy/assisted-controller/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-ai-operator-ztp-3masters: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-disconnected: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-metal-assisted-bond: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-cnv: any of: ^(internal/operators/.*\.go|internal/operators/cnv/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-day2: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-day2-single-node: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-ipv4v6: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-lvm: any of: ^(internal/operators/.*\.go|internal/operators/lvm/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-none: any of: ^(internal/provider/none/.*)$
  ci/prow/edge-e2e-metal-assisted-odf: any of: ^(internal/operators/.*\.go|internal/operators/odf/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  ci/prow/edge-e2e-nutanix-assisted: any of: ^(internal/provider/.*\.go|internal/provider/nutanix/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-nutanix-assisted-4-14: any of: ^(internal/provider/.*\.go|internal/provider/nutanix/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-oci-assisted: any of: ^(internal/provider/.*\.go|internal/provider/oci/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-oci-assisted-4-14: any of: ^(internal/provider/.*\.go|internal/provider/oci/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-vsphere-assisted: any of: ^(internal/provider/.*\.go|internal/provider/vsphere/.*|internal/provider/registry/.*)$
  ci/prow/edge-lint: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-unit-test: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-verify-generated-code: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$

Revert "NO-ISSUE: [master] Bump OCP versions: 4.15, 4.14, 4.16, 4.12, 4.17, 4.13 (#6799)"
  data/default_os_images.json
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "add linoyaslan to approvers list (#6803)"
  OWNERS_ALIASES
Due: none

Revert "MGMT-19006, MGMT-19004, MGMT-19007: remove default LVM for CNV deployments (#6800)"
  internal/operators/cnv/cnv_operator.go
  internal/operators/cnv/cnv_operator_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "MGMT-18955: Add 4.18 RHCOS / OCP images (#6786)"
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  data/default_release_sources.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "MGMT-18635: Restore missing Host by Agent CR (#6730)"
  internal/bminventory/inventory.go
  internal/bminventory/mock_installer_internal.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: Add _Dedent_ function (#6781)"
  internal/common/dedent.go
  internal/common/dedent_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: Fix typo in pgx reference (#6774)"
  go.mod
  go.sum
  vendor/github.com/jackc/pgx/v4/CHANGELOG.md
  vendor/github.com/jackc/pgx/v4/README.md
  vendor/github.com/jackc/pgx/v4/conn.go
  vendor/github.com/jackc/pgx/v4/copy_from.go
  vendor/github.com/jackc/pgx/v4/internal/sanitize/sanitize.go
  vendor/github.com/jackc/pgx/v4/large_objects.go
  vendor/github.com/jackc/pgx/v4/logger.go
  vendor/github.com/jackc/pgx/v4/rows.go
  vendor/github.com/jackc/pgx/v4/stdlib/sql.go
  vendor/github.com/jackc/pgx/v4/tx.go
  vendor/modules.txt
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: Bump github.com/go-gormigrate/gormigrate/v2 (#6778)"
  go.mod
  go.sum
  vendor/github.com/go-gormigrate/gormigrate/v2/.editorconfig
  vendor/github.com/go-gormigrate/gormigrate/v2/.gitattributes
  vendor/github.com/go-gormigrate/gormigrate/v2/.gitignore
  vendor/github.com/go-gormigrate/gormigrate/v2/.sample.env
  vendor/github.com/go-gormigrate/gormigrate/v2/CHANGELOG.md
  vendor/github.com/go-gormigrate/gormigrate/v2/Dockerfile
  vendor/github.com/go-gormigrate/gormigrate/v2/README.md
  vendor/github.com/go-gormigrate/gormigrate/v2/Taskfile.yml
  vendor/github.com/go-gormigrate/gormigrate/v2/doc.go
  vendor/github.com/go-gormigrate/gormigrate/v2/docker-compose.yml
  vendor/github.com/go-gormigrate/gormigrate/v2/gormigrate.go
  vendor/gorm.io/gorm/callbacks/create.go
  vendor/gorm.io/gorm/callbacks/preload.go
  vendor/gorm.io/gorm/callbacks/update.go
  vendor/gorm.io/gorm/clause/where.go
  vendor/gorm.io/gorm/migrator/migrator.go
  vendor/gorm.io/gorm/scan.go
  vendor/gorm.io/gorm/schema/constraint.go
  vendor/gorm.io/gorm/schema/field.go
  vendor/gorm.io/gorm/schema/serializer.go
  vendor/gorm.io/gorm/utils/utils.go
  vendor/modules.txt
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "MGMT-18618: Fix local rhsso deployment (#6779)"
  Makefile
  tools/deploy_assisted_installer_configmap.py
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: Bump github.com/go-openapi/validate from 0.22.0 to 0.24.0 (#6767)"
  go.mod
  go.sum
  vendor/github.com/go-openapi/validate/.golangci.yml
  vendor/github.com/go-openapi/validate/BENCHMARK.md
  vendor/github.com/go-openapi/validate/README.md
  vendor/github.com/go-openapi/validate/appveyor.yml
  vendor/github.com/go-openapi/validate/default_validator.go
  vendor/github.com/go-openapi/validate/doc.go
  vendor/github.com/go-openapi/validate/example_validator.go
  vendor/github.com/go-openapi/validate/formats.go
  vendor/github.com/go-openapi/validate/helpers.go
  vendor/github.com/go-openapi/validate/object_validator.go
  vendor/github.com/go-openapi/validate/options.go
  vendor/github.com/go-openapi/validate/pools.go
  vendor/github.com/go-openapi/validate/pools_debug.go
  vendor/github.com/go-openapi/validate/result.go
  vendor/github.com/go-openapi/validate/schema.go
  vendor/github.com/go-openapi/validate/schema_option.go
  vendor/github.com/go-openapi/validate/schema_props.go
  vendor/github.com/go-openapi/validate/slice_validator.go
  vendor/github.com/go-openapi/validate/spec.go
  vendor/github.com/go-openapi/validate/spec_messages.go
  vendor/github.com/go-openapi/validate/type.go
  vendor/github.com/go-openapi/validate/validator.go
  vendor/github.com/go-openapi/validate/values.go
  vendor/modules.txt
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "MGMT-18466: grouping all other updates (#6775)"
  .github/dependabot.yml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: Bump github.com/moby/moby (#6777)"
  go.mod
  go.sum
  vendor/github.com/moby/moby/AUTHORS
  vendor/github.com/moby/moby/pkg/ioutils/fswriters.go
  vendor/modules.txt
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "Remove generateConfiguration call and its associated error check (#6772)"
  pkg/staticnetworkconfig/generator.go
  pkg/staticnetworkconfig/generator_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "MGMT-16437: drop platform_is_external column (#6776)"
  internal/migrations/20240918161800_drop_cluster_platform_is_external.go
  internal/migrations/20240918161800_drop_cluster_platform_is_external_test.go
  internal/migrations/migrations.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: Fix failing dependencies (#6749)"
  go.mod
  go.sum
  hack/setup_env.sh
  vendor/k8s.io/api/admissionregistration/v1alpha1/types.go
  vendor/k8s.io/api/admissionregistration/v1beta1/types.go
  vendor/k8s.io/api/batch/v1/types.go
  vendor/modules.txt
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: Bump github.com/pkg/xattr from 0.4.9 to 0.4.10 (#6754)"
  go.mod
  go.sum
  vendor/github.com/pkg/xattr/xattr.go
  vendor/github.com/pkg/xattr/xattr_solaris.go
  vendor/modules.txt
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: Bump github.com/samber/lo from 1.39.0 to 1.47.0 (#6766)"
  go.mod
  go.sum
  vendor/github.com/samber/lo/CHANGELOG.md
  vendor/github.com/samber/lo/Dockerfile
  vendor/github.com/samber/lo/Makefile
  vendor/github.com/samber/lo/README.md
  vendor/github.com/samber/lo/channel.go
  vendor/github.com/samber/lo/concurrency.go
  vendor/github.com/samber/lo/errors.go
  vendor/github.com/samber/lo/find.go
  vendor/github.com/samber/lo/internal/constraints/constraints.go
  vendor/github.com/samber/lo/internal/constraints/ordered_go118.go
  vendor/github.com/samber/lo/internal/constraints/ordered_go121.go
  vendor/github.com/samber/lo/internal/rand/ordered_go118.go
  vendor/github.com/samber/lo/internal/rand/ordered_go122.go
  vendor/github.com/samber/lo/intersect.go
  vendor/github.com/samber/lo/map.go
  vendor/github.com/samber/lo/math.go
  vendor/github.com/samber/lo/retry.go
  vendor/github.com/samber/lo/slice.go
  vendor/github.com/samber/lo/string.go
  vendor/github.com/samber/lo/time.go
  vendor/github.com/samber/lo/tuples.go
  vendor/github.com/samber/lo/type_manipulation.go
  vendor/github.com/samber/lo/types.go
  vendor/modules.txt
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: Bump github.com/go-openapi/spec from 0.20.7 to 0.21.0 (#6757)"
  go.mod
  go.sum
  vendor/github.com/go-openapi/jsonpointer/pointer.go
  vendor/github.com/go-openapi/spec/.gitignore
  vendor/github.com/go-openapi/spec/.golangci.yml
  vendor/github.com/go-openapi/spec/README.md
  vendor/github.com/go-openapi/spec/appveyor.yml
  vendor/github.com/go-openapi/spec/bindata.go
  vendor/github.com/go-openapi/spec/embed.go
  vendor/github.com/go-openapi/spec/expander.go
  vendor/github.com/go-openapi/spec/info.go
  vendor/github.com/go-openapi/spec/normalizer_nonwindows.go
  vendor/github.com/go-openapi/spec/operation.go
  vendor/github.com/go-openapi/spec/parameter.go
  vendor/github.com/go-openapi/spec/properties.go
  vendor/github.com/go-openapi/spec/responses.go
  vendor/github.com/go-openapi/spec/schema_loader.go
  vendor/github.com/go-openapi/spec/schemas/jsonschema-draft-04.json
  vendor/github.com/go-openapi/spec/schemas/v2/schema.json
  vendor/github.com/go-openapi/spec/spec.go
  vendor/github.com/go-openapi/spec/swagger.go
  vendor/github.com/go-openapi/spec/url_go18.go
  vendor/github.com/go-openapi/spec/url_go19.go
  vendor/github.com/go-openapi/swag/BENCHMARK.md
  vendor/github.com/go-openapi/swag/initialism_index.go
  vendor/github.com/go-openapi/swag/name_lexem.go
  vendor/github.com/go-openapi/swag/split.go
  vendor/github.com/go-openapi/swag/string_bytes.go
  vendor/github.com/go-openapi/swag/util.go
  vendor/github.com/go-openapi/swag/yaml.go
  vendor/modules.txt
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: Bump github.com/go-openapi/swag in /client (#6758)"
  client/go.mod
  client/go.sum
  client/vendor/github.com/go-openapi/swag/.gitignore
  client/vendor/github.com/go-openapi/swag/.golangci.yml
  client/vendor/github.com/go-openapi/swag/BENCHMARK.md
  client/vendor/github.com/go-openapi/swag/README.md
  client/vendor/github.com/go-openapi/swag/initialism_index.go
  client/vendor/github.com/go-openapi/swag/loading.go
  client/vendor/github.com/go-openapi/swag/name_lexem.go
  client/vendor/github.com/go-openapi/swag/post_go18.go
  client/vendor/github.com/go-openapi/swag/post_go19.go
  client/vendor/github.com/go-openapi/swag/pre_go18.go
  client/vendor/github.com/go-openapi/swag/pre_go19.go
  client/vendor/github.com/go-openapi/swag/split.go
  client/vendor/github.com/go-openapi/swag/string_bytes.go
  client/vendor/github.com/go-openapi/swag/util.go
  client/vendor/github.com/go-openapi/swag/yaml.go
  client/vendor/modules.txt
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "MGMT-18579: Inject nmpolicy captures into the provided YAML and place it with INI file under the host-specific path (#6695)"
  cmd/main.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/constants/common_network_script.go
  internal/constants/nmstatectl_script.go
  internal/constants/nmstatectl_script_test.go
  internal/constants/scripts.go
  internal/constants/scripts_files_test.go
  internal/constants/scripts_test.go
  internal/constants/test_root_with_nmstate/etc/assisted/network/host0/mac_interface.ini
  internal/constants/test_root_with_nmstate/etc/assisted/network/host0/ymlFile0.yml
  internal/constants/test_root_with_nmstate/sys/class/net/enp100/address
  internal/ignition/discovery.go
  internal/ignition/discovery_test.go
  internal/ignition/templates/discovery.ign
  internal/ignition/templates/pre-network-manager-config-with-nmstatectl.service
  internal/isoeditor/rhcos.go
  internal/isoeditor/rhcos_test.go
  pkg/staticnetworkconfig/backward_compatibility.go
  pkg/staticnetworkconfig/generator.go
  pkg/staticnetworkconfig/generator_test.go
  pkg/staticnetworkconfig/mock_generator.go
  subsystem/infra_env_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: Bump github.com/rs/cors from 1.10.1 to 1.11.1 (#6756)"
  go.mod
  go.sum
  vendor/github.com/rs/cors/README.md
  vendor/github.com/rs/cors/cors.go
  vendor/github.com/rs/cors/internal/sortedset.go
  vendor/github.com/rs/cors/utils.go
  vendor/modules.txt
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "MGMT-18466: moving to security updates only (#6751)"
  .github/dependabot.yml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "CORS-3664: Authentication tech debt for agent based installer (#6697)"
  pkg/auth/agent_local_authenticator.go
  pkg/auth/agent_local_authenticator_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "MGMT-10006: Cleanup spoke after unbind (#6705)"
  api/v1beta1/agent_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/agent-install.openshift.io_agents.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_agents.yaml
  docs/hive-integration/late-binding.md
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
  vendor/github.com/openshift/assisted-service/api/v1beta1/agent_types.go
  vendor/github.com/openshift/assisted-service/api/v1beta1/zz_generated.deepcopy.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "Add an annotation to override ironic IP family to provide in dual-stack hubs (#6686)"
  docs/hive-integration/README.md
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/preprovisioningimage_controller.go
  internal/controller/controllers/preprovisioningimage_controller_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "MGMT-18694, MGMT-18575, OCPBUGS-34849: Don't require mapping for names matching physical interfaces (#6715)"
  pkg/staticnetworkconfig/generator.go
  pkg/staticnetworkconfig/generator_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "MGMT-18636: Handle status annotation in provisioned BMHs (#6703)"
  cmd/main.go
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "MGMT-14634: Ensure that nil values and empty values for filenames are handled correctly. (#6731)"
  internal/manifests/manifests.go
  internal/manifests/manifests_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "OCPBUGS-36577: Switch to github.com/docker/distribution/reference to mitigate CVE-2024-3727 (#6740)"
  go.mod
  go.sum
  internal/cluster/validations/validations.go
  internal/common/common.go
  vendor/github.com/containers/image/v5/LICENSE
  vendor/github.com/containers/image/v5/docker/reference/README.md
  vendor/github.com/containers/image/v5/docker/reference/helpers.go
  vendor/github.com/containers/image/v5/docker/reference/normalize.go
  vendor/github.com/containers/image/v5/docker/reference/reference.go
  vendor/github.com/containers/image/v5/docker/reference/regexp-additions.go
  vendor/github.com/containers/image/v5/docker/reference/regexp.go
  vendor/github.com/docker/distribution/digestset/set.go
  vendor/modules.txt
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: [master] Bump OCP versions: 4.17, 4.13, 4.15 (#6737)"
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "MGMT-18645: Ensure CA bundle exists before assisted-service (#6734)"
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_storage_validation_test.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
  internal/controller/controllers/hypershiftagentserviceconfig_controller_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: [master] Bump OCP versions: 4.15, 4.16, 4.14 (#6746)"
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: fixed destroy target in running-test doc (#6741)"
  docs/dev/running-test.md
Due: none

Revert "NO-ISSUE: workaround for LSO on 4.17 (#6733)"
  deploy/operator/setup_lso.sh
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "MGMT-18659: Ensure that we use the name of local ManagedCluster for local-cluster name (#6696)"
  cmd/operator/main.go
  internal/controller/controllers/local_cluster_import_controller.go
  internal/controller/controllers/local_cluster_import_controller_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: [master] Bump OCP versions: 4.16 (#6724)"
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Revert "NO-ISSUE: [master] Bump OCP versions: 4.12, 4.16, 4.17, 4.15 (#6713)"
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code
