Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-e2e-metal-assisted-external-4-20, ci/prow/edge-e2e-metal-assisted-lvm-4-20, ci/prow/edge-e2e-metal-assisted-none-4-20, ci/prow/edge-e2e-metal-assisted-openshift-ai-4-18, ci/prow/edge-e2e-metal-assisted-osc-4-20, ci/prow/edge-e2e-metal-assisted-virtualization-4-19, ci/prow/edge-e2e-vsphere-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

e2e-agent-compact-ipv4:
  capabilities:
  - intranet
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-compact-ipv4

ci/prow/e2e-agent-compact-ipv4:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/edge-assisted-operator-catalog-publish-verify:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/edge-e2e-ai-operator-disconnected-capi:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

ci/prow/edge-e2e-ai-operator-ztp:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

ci/prow/edge-e2e-ai-operator-ztp-capi:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

ci/prow/edge-e2e-ai-operator-ztp-disconnected:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

ci/prow/edge-e2e-metal-assisted-4-20:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

ci/prow/edge-e2e-metal-assisted-external-4-20:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

fix: re-vendor after rebase
  api/go.mod
  api/go.sum
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-35865: CVE-2026-39828 Bump golang.org/x/crypto to v0.52.0 using replace directive
  client/go.mod
  client/go.sum
  client/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-37699: CVE-2026-35172 Bump github.com/distribution/distribution/v3 to v3.1.0 using replace directive
  go.mod
  go.sum
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-37697: CVE-2026-29181 Bump go.opentelemetry.io/otel to v1.41.0 using replace directive
  client/go.mod
  client/vendor/modules.txt
  go.mod
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-37697: CVE-2026-29181 Bump go.opentelemetry.io/otel to v1.41.0 using replace directive
  api/go.mod
  api/vendor/modules.txt
  go.mod
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-37697: CVE-2026-29181 Bump go.opentelemetry.io/otel to v1.41.0 using replace directive
  go.mod
  models/go.mod
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-36105: CVE-2026-39835 Bump golang.org/x/crypto to v0.52.0 using replace directive
  client/go.sum
  go.mod
  models/go.mod
  models/go.sum
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-36105: CVE-2026-39835 Bump golang.org/x/crypto to v0.52.0 using replace directive
  client/go.mod
  client/go.sum
  client/vendor/modules.txt
  go.mod
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

fix: sync vendor after rebase
  go.mod
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

fix: sync vendor after rebase
  api/vendor/modules.txt
  client/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-35867: CVE-2026-39828 Bump golang.org/x/crypto to v0.52.0 using replace directive
  api/go.mod
  api/go.sum
  api/vendor/golang.org/x/text/secure/bidirule/bidirule.go
  api/vendor/golang.org/x/text/secure/bidirule/bidirule10.0.0.go
  api/vendor/golang.org/x/text/secure/bidirule/bidirule9.0.0.go
  api/vendor/golang.org/x/text/unicode/bidi/core.go
  api/vendor/golang.org/x/text/unicode/bidi/tables10.0.0.go
  api/vendor/golang.org/x/text/unicode/bidi/tables11.0.0.go
  api/vendor/golang.org/x/text/unicode/bidi/tables12.0.0.go
  api/vendor/golang.org/x/text/unicode/bidi/tables13.0.0.go
  api/vendor/golang.org/x/text/unicode/bidi/tables17.0.0.go
  api/vendor/golang.org/x/text/unicode/bidi/tables9.0.0.go
  api/vendor/golang.org/x/text/unicode/norm/forminfo.go
  api/vendor/golang.org/x/text/unicode/norm/tables10.0.0.go
  api/vendor/golang.org/x/text/unicode/norm/tables11.0.0.go
  api/vendor/golang.org/x/text/unicode/norm/tables12.0.0.go
  api/vendor/golang.org/x/text/unicode/norm/tables15.0.0.go
  api/vendor/golang.org/x/text/unicode/norm/tables17.0.0.go
  api/vendor/golang.org/x/text/unicode/norm/tables9.0.0.go
  api/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-35866: CVE-2026-39828 Bump golang.org/x/crypto to v0.52.0
  go.mod
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-35705: CVE-2026-39830 Bump golang.org/x/crypto to v0.52.0 through indirect dependency conversion
  api/go.mod
  api/vendor/modules.txt
  client/go.mod
  client/vendor/modules.txt
  models/go.mod
  models/go.sum
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-24667: Fix disconnected ZTP spoke installs for OCP 5.0 OSImageStream images
  Description.txt
  ci operator step registry.txt
  deploy/operator/deploy.sh
  deploy/operator/mirror_utils.sh
  deploy/operator/setup_assisted_operator.sh
  deploy/operator/utils.sh
  deploy/operator/ztp/agentClusterInstall.j2
  deploy/operator/ztp/assisted-installer-crds-playbook.yaml
  deploy/operator/ztp/deploy_spoke_cluster.sh
  deploy/operator/ztp/infraEnv-latebinding.j2
  deploy/operator/ztp/infraEnv.j2
  internal/controller/controllers/images.go
  internal/controller/controllers/images_test.go
  tmp/prow-10600-2/baremetalds-devscripts-setup.log
  tmp/prow-10600-ztp/setup.log
  tmp/prow-10600-ztp/ztp.log
  tmp/prow-10600/baremetalds-devscripts-setup.log
  tmp/prow-10600/ztp-setup.log
  tmp/prow-compare-10527/setup-log.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

image mirroring still had a bug
  deploy/operator/mirror_utils.sh
  deploy/operator/setup_assisted_operator.sh
  deploy/operator/ztp/deploy_spoke_cluster.sh
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

fixing review comments
  deploy/operator/deploy.sh
  deploy/operator/mirror_utils.sh
  deploy/operator/utils.sh
  deploy/operator/ztp/agentClusterInstall.j2
  deploy/operator/ztp/assisted-installer-crds-playbook.yaml
  deploy/operator/ztp/deploy_spoke_cluster.sh
  deploy/operator/ztp/infraEnv-latebinding.j2
  deploy/operator/ztp/infraEnv.j2
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.20, 4.22, 4.19, 4.21, 4.18
  data/default_release_images.json
  deploy/podman/configmap.yml
  internal/common/test_versions_generated.go
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-35705: CVE-2026-39830 Bump golang.org/x/crypto to v0.52.0 through indirect dependency conversion
  models/go.mod
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

fix: sync vendor after rebase
  api/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

fix: sync vendor after rebase
  models/go.mod
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

fix: sync vendor after rebase
  client/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

feat: support MAC-based fencing credentials in ABI flow
  cmd/agentbasedinstaller/host_config.go
  cmd/agentbasedinstaller/host_config_test.go
  internal/ignition/installmanifests.go
  internal/ignition/installmanifests_test.go
  internal/installcfg/builder/builder.go
  internal/installcfg/builder/builder_test.go
  internal/installcfg/installcfg.go
  models/fencing_credentials_params.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/fencing_credentials_params.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

OCPEDGE-2788: fix MAC case normalization and credential round-trip bugs
  cmd/agentbasedinstaller/host_config.go
  internal/ignition/installmanifests.go
  internal/ignition/installmanifests_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-24682: Remove LSO and LVMS as CNV operator dependencies
  internal/bminventory/detailed_supported_features_test.go
  internal/operators/cnv/cnv_operator.go
  internal/operators/cnv/cnv_operator_test.go
  internal/operators/manager_test.go
  subsystem/operators_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-e2e-metal-assisted-lvm-4-20, ci/prow/edge-e2e-metal-assisted-openshift-ai-4-18, ci/prow/edge-e2e-metal-assisted-osc-4-20, ci/prow/edge-e2e-metal-assisted-virtualization-4-19, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Fix OSC featureSupportID dependency
  internal/operators/osc/operator.go
  internal/operators/osc/operator_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-e2e-metal-assisted-openshift-ai-4-18, ci/prow/edge-e2e-metal-assisted-osc-4-20, ci/prow/edge-e2e-metal-assisted-virtualization-4-19, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Fix GetDependenciesFeatureSupportID for metallb
  internal/operators/metallb/metallb_operator.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-e2e-metal-assisted-openshift-ai-4-18, ci/prow/edge-e2e-metal-assisted-virtualization-4-19, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Minor style change for operators
  internal/operators/authorino/authorino_operator.go
  internal/operators/clusterobservability/cluster_observability_operator.go
  internal/operators/cnv/cnv_operator.go
  internal/operators/kmm/kmm_operator.go
  internal/operators/kubedescheduler/kube_descheduler_operator.go
  internal/operators/loki/loki_operator.go
  internal/operators/loki/loki_operator_test.go
  internal/operators/lso/ls_operator.go
  internal/operators/lvm/lvm_operator.go
  internal/operators/mce/mce_operator.go
  internal/operators/metallb/metallb_operator.go
  internal/operators/nmstate/operator.go
  internal/operators/nodefeaturediscovery/node_feature_discovery_operator.go
  internal/operators/nodemaintenance/node_maintenance_operator.go
  internal/operators/numaresources/numaresources_operator.go
  internal/operators/oadp/oadp_operator.go
  internal/operators/openshiftlogging/openshift_logging_operator.go
  internal/operators/pipelines/pipelines_operator.go
  internal/operators/serverless/serverless_operator.go
  internal/operators/servicemesh/servicemesh_operator.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-e2e-metal-assisted-lvm-4-20, ci/prow/edge-e2e-metal-assisted-openshift-ai-4-18, ci/prow/edge-e2e-metal-assisted-virtualization-4-19, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

OCPEDGE-2788: remove MacAddress from API model and builder
  cmd/agentbasedinstaller/host_config.go
  cmd/agentbasedinstaller/host_config_test.go
  internal/installcfg/builder/builder.go
  internal/installcfg/builder/builder_test.go
  internal/installcfg/installcfg.go
  models/fencing_credentials_params.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/fencing_credentials_params.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

OCPEDGE-2788: add uppercase MAC normalization test, revert swagger whitespace
  cmd/agentbasedinstaller/host_config_test.go
  swagger.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Fix podman auth for disconnected CAPI HyperShift install
  Description.txt
  ci operator step registry.txt
  deploy/operator/capi/deploy_capi_cluster.sh
  deploy/operator/mirror_utils.sh
  deploy/operator/setup_assisted_operator.sh
  tmp/prow-10600-2/baremetalds-devscripts-setup.log
  tmp/prow-10600-ztp/setup.log
  tmp/prow-10600-ztp/ztp.log
  tmp/prow-10600/baremetalds-devscripts-setup.log
  tmp/prow-10600/ztp-setup.log
  tmp/prow-compare-10527/setup-log.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.21, 4.20, 4.22, 4.19, 4.16, 4.18
  data/default_release_images.json
  deploy/podman/configmap.yml
  internal/common/test_versions_generated.go
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

fix: sync vendor after rebase
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Path conditions:
  e2e-agent-compact-ipv4: unless all of: ^openshift/|^\.tekton/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/e2e-agent-compact-ipv4: unless all of: ^openshift/|^\.tekton/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-assisted-operator-catalog-publish-verify: any of: ^(deploy/olm-catalog/.*)$
  ci/prow/edge-e2e-ai-operator-disconnected-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp: any of: ^(cmd/.*|deploy/operator/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-ai-operator-ztp-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-disconnected: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-metal-assisted-4-20: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-metal-assisted-external-4-20: any of: ^(internal/provider/[^/]+\.go|internal/provider/external/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-metal-assisted-lvm-4-20: any of: ^(internal/operators/[^/]+\.go|internal/operators/lvm/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-none-4-20: any of: ^(internal/provider/[^/]+\.go|internal/provider/none/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-metal-assisted-openshift-ai-4-18: any of: ^(internal/operators/.*\.go)$
  ci/prow/edge-e2e-metal-assisted-osc-4-20: any of: ^(internal/operators/[^/]+\.go|internal/operators/osc/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-virtualization-4-19: any of: ^(internal/operators/.*\.go)$
  ci/prow/edge-e2e-vsphere-assisted-4-20: any of: ^(internal/provider/[^/]+\.go|internal/provider/vsphere/.*|internal/provider/registry/.*)$
  ci/prow/edge-lint: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-unit-test: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-verify-generated-code: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
