Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-e2e-metal-assisted-external-4-20, ci/prow/edge-e2e-metal-assisted-lvm-4-20, ci/prow/edge-e2e-metal-assisted-none-4-20, ci/prow/edge-e2e-metal-assisted-openshift-ai-4-18, ci/prow/edge-e2e-metal-assisted-osc-4-20, ci/prow/edge-e2e-metal-assisted-virtualization-4-19, ci/prow/edge-e2e-vsphere-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Path conditions:
  e2e-agent-compact-ipv4: unless all of: ^openshift/|^\.tekton/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/e2e-agent-compact-ipv4: unless all of: ^openshift/|^\.tekton/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-assisted-operator-catalog-publish-verify: any of: ^(deploy/olm-catalog/.*)$
  ci/prow/edge-e2e-ai-operator-disconnected-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp: any of: ^(cmd/.*|deploy/operator/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-ai-operator-ztp-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-disconnected: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-metal-assisted-4-20: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-metal-assisted-external-4-20: any of: ^(internal/provider/[^/]+\.go|internal/provider/external/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-metal-assisted-lvm-4-20: any of: ^(internal/operators/[^/]+\.go|internal/operators/lvm/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-none-4-20: any of: ^(internal/provider/[^/]+\.go|internal/provider/none/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-metal-assisted-openshift-ai-4-18: any of: ^(internal/operators/.*\.go)$
  ci/prow/edge-e2e-metal-assisted-osc-4-20: any of: ^(internal/operators/[^/]+\.go|internal/operators/osc/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-virtualization-4-19: any of: ^(internal/operators/.*\.go)$
  ci/prow/edge-e2e-vsphere-assisted-4-20: any of: ^(internal/provider/[^/]+\.go|internal/provider/vsphere/.*|internal/provider/registry/.*)$
  ci/prow/edge-lint: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-unit-test: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-verify-generated-code: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$

Fix missing mirror_utils.sh source in setup_hive.sh
  deploy/operator/setup_hive.sh
  internal/controller/controllers/agentserviceconfig_controller.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Fixing review comments: add explicit failure return in ocp_mirror_release
  deploy/operator/mirror_utils.sh
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Increase timeout in wait_for_boolean_field
  deploy/operator/utils.sh
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Address further PR review comments
  deploy/operator/capi/deploy_capi_cluster.sh
  deploy/operator/mirror_utils.sh
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Fix run_mirror_command_with_retry exiting script on command failure
  deploy/operator/mirror_utils.sh
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Fixing review comments: normalize ignition URL on write
  internal/bminventory/inventory.go
  internal/bminventory/inventory_ignition_endpoint_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/host/hostutil/host_utils.go
  internal/host/hostutil/host_utils_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.19, 4.18, 4.20, 4.22, 4.21, 4.13, 5.0
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  docs/hive-integration/crds/clusterImageSet.yaml
  internal/common/test_versions_generated.go
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-21334: Don't check ImageSetRef for installed clusters
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Add missing Close()
  go.mod
  go.sum
  internal/bminventory/inventory.go
  internal/bminventory/inventory_v2_handlers.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/ignition/installmanifests.go
  internal/ignition/internalreleaseimage_patcher.go
  internal/manifests/manifests.go
  pkg/s3wrapper/filesystem.go
  vendor/github.com/moby/moby/AUTHORS
  vendor/github.com/moby/moby/LICENSE
  vendor/github.com/moby/moby/NOTICE
  vendor/github.com/moby/moby/pkg/ioutils/fswriters_deprecated.go
  vendor/github.com/moby/moby/pkg/ioutils/readers.go
  vendor/github.com/moby/moby/pkg/ioutils/writeflusher.go
  vendor/github.com/moby/moby/pkg/ioutils/writers.go
  vendor/github.com/moby/sys/atomicwriter/LICENSE
  vendor/github.com/moby/sys/atomicwriter/atomicwriter.go
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-24877: Improve sensitive credential redaction
  internal/controller/controllers/pullsecret_handler.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-41169: propagate InfraEnv node labels to NodePool.spec.nodeLabels in HCP context
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_nodepool_labels.go
  internal/controller/controllers/infraenv_nodepool_labels_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 5.0, 4.13, 4.20, 4.19, 4.18, 4.21, 4.22
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  docs/hive-integration/crds/clusterImageSet.yaml
  internal/common/test_versions_generated.go
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-41169: propagate unstructured helper errors and assert in tests
  internal/controller/controllers/infraenv_nodepool_labels.go
  internal/controller/controllers/infraenv_nodepool_labels_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Improve validation error
  internal/bminventory/inventory_test.go
  internal/cluster/validations/validations.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-40749: CVE-2025-29781 Bump github.com/metal3-io/baremetal-operator/apis to v0.8.1 using replace directive
  models/go.mod
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-40749: CVE-2025-29781 Bump github.com/metal3-io/baremetal-operator/apis to v0.8.1 using replace directive
  api/go.mod
  api/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-40748: CVE-2025-29781 Bump github.com/metal3-io/baremetal-operator/apis to v0.8.1
  go.mod
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-40748: CVE-2025-29781 Bump github.com/metal3-io/baremetal-operator/apis to v0.8.1 using replace directive
  client/go.mod
  client/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-40748: CVE-2025-29781 Bump github.com/metal3-io/baremetal-operator/apis to v0.8.1 using replace directive
  models/go.mod
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-40748: CVE-2025-29781 Bump github.com/metal3-io/baremetal-operator/apis to v0.8.1 using replace directive
  api/go.mod
  api/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-40747: CVE-2025-29781 Bump github.com/metal3-io/baremetal-operator/apis to v0.8.1
  go.mod
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.21, 4.19, 4.13, 4.18, 4.14, 4.20, 4.22, 4.16, 5.0
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  docs/hive-integration/crds/clusterImageSet.yaml
  internal/common/test_versions_generated.go
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

[backplane-5.0] NO-ISSUE: Remove old OS images from backplane-5.0
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  internal/common/test_versions_generated.go
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

[backplane-5.0] NO-ISSUE: ClusterServiceVersion for release-5.0 branch references "latest" tag
  Makefile
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/assisted-service-operator.clusterserviceversion.yaml
  deploy/olm-catalog/bundle.Dockerfile
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/olm-catalog/metadata/annotations.yaml
  deploy/operator/setup_assisted_operator.sh
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Modify Konflux YAMLs to ocm-5.1
  .tekton/assisted-service-rhel9-acm-ds-5-1-pull-request.yaml
  .tekton/assisted-service-rhel9-acm-ds-5-1-push.yaml
  Dockerfile.assisted-service-rhel9-mce
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

[backplane-5.0] NO-ISSUE: Reduce owners list for release-5.0 branch
  OWNERS_ALIASES
Due: none

NO-ISSUE: [master] Bump OCP versions: 5.0, 4.16, 4.22, 4.19, 4.18, 4.21, 4.13, 4.20, 4.14
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  docs/hive-integration/crds/clusterImageSet.yaml
  internal/common/test_versions_generated.go
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.14, 4.16, 4.20, 5.0, 4.21, 4.22, 4.18, 4.13, 4.19
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  docs/hive-integration/crds/clusterImageSet.yaml
  internal/common/test_versions_generated.go
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-39262: chain PostgreSQL hops for EUS skip-upgrades
  config/manager/manager.yaml
  config/manifests/bases/assisted-service-operator.clusterserviceversion.yaml
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  docs/dev/postgresql-upgrade.md
  docs/operator.md
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
  internal/controller/controllers/images.go
  internal/controller/controllers/postgres_hop.sh
  internal/controller/controllers/postgres_startup.sh
  internal/controller/controllers/postgres_startup_script.go
  internal/controller/controllers/postgres_upgrade.go
  internal/controller/controllers/postgres_upgrade_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

fix: satisfy golangci-lint and markdownlint on postgres hop changes
  docs/dev/postgresql-upgrade.md
  internal/controller/controllers/images.go
  internal/controller/controllers/postgres_upgrade.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-20398: Force bmh state if ironic doesn't update it
  cmd/main.go
  cmd/operator/main.go
  cmd/webadmission/main.go
  config/rbac/role.yaml
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  go.mod
  go.sum
  hack/crds/metal3/metal3.io_baremetalhosts.yaml
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  internal/controller/controllers/agentlabel_controller.go
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
  internal/controller/controllers/bmo_utils.go
  internal/controller/controllers/bmo_utils_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/controller/controllers/hypershiftagentserviceconfig_controller.go
  internal/controller/controllers/hypershiftagentserviceconfig_controller_test.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/local_cluster_import_controller.go
  internal/controller/controllers/mock_k8s_client.go
  internal/controller/controllers/mock_sub_resource_writer.go
  internal/controller/controllers/preprovisioningimage_controller_test.go
  internal/oc/release_test.go
  internal/spoke_k8s_client/mock_spoke_k8s_client.go
  pkg/webhooks/agentinstall/v1beta1/agent_admission_hook.go
  pkg/webhooks/agentinstall/v1beta1/agent_classification_admission_hook.go
  pkg/webhooks/agentinstall/v1beta1/infraenv_admission_hook.go
  pkg/webhooks/agentinstall/v1beta1/infraenv_admission_hook_test.go
  pkg/webhooks/hiveextension/v1beta1/agentclusterinstall_mutating_hook.go
  pkg/webhooks/hiveextension/v1beta1/agentclusterinstall_validation_hook.go
  pkg/webhooks/hiveextension/v1beta1/agentclusterinstall_validation_hook_test.go
  subsystem/kubeapi/kubeapi_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-39262: keep hop images in generate_bundle relatedImages patch
  config/manifests/bundle-overrides/related-images-patch.yaml
  docs/dev/postgresql-upgrade.md
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

[release-ocm-2.17] NO-ISSUE: Add approver bluesort
  OWNERS_ALIASES
Due: none

NO-ISSUE: [master] Bump OCP versions: 5.0, 4.21, 4.19, 4.18, 4.20, 4.16, 4.14, 4.13, 4.22
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  docs/hive-integration/crds/clusterImageSet.yaml
  internal/common/test_versions_generated.go
  openshift/template.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code
