Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-networking, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-multi-version, ci/prow/e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Path conditions:
  subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-operator-disconnected: any of: ^(data/.*)$
  e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(data/.*)$
  e2e-metal-assisted-single-node: any of: ^(data/.*)$
  e2e-metal-assisted-networking: any of: ^(data/.*)$
  e2e-metal-assisted-kube-api: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-multi-version: any of: ^(data/.*)$
  e2e-metal-assisted-olm: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-kube-api: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-multi-version: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-networking: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-olm: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted-operator-disconnected: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$

MGMT-8727: KubeAPI Controllers to use V2 Events endpoint (#3111)
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/controller/controllers/controller_event_wrapper.go
  internal/controller/controllers/controller_event_wrapper_test.go
  internal/events/events_api.go
  subsystem/kubeapi_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8096: Remove all VSphere platform properties (#3115)
  internal/bminventory/inventory_test.go
  internal/provider/registry/registry_test.go
  internal/provider/vsphere/installConfig.go
  internal/provider/vsphere/inventory.go
  models/platform.go
  models/vsphere_platform.go
  restapi/embedded_spec.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8713: fix ovrit and vshere platform check (#3116)
  internal/provider/ovirt/base.go
  internal/provider/ovirt/base_test.go
  internal/provider/ovirt/ovirt_suite_test.go
  internal/provider/vsphere/base.go
  internal/provider/vsphere/base_test.go
  internal/provider/vsphere/vshpere_suite_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: fix commit message validator to allow [<tag>] at start of commits
  hack/check-commit-message.sh
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8713: fix ovrit and vshere platform check
  internal/provider/ovirt/base.go
  internal/provider/ovirt/base_test.go
  internal/provider/ovirt/ovirt_suite_test.go
  internal/provider/vsphere/base.go
  internal/provider/vsphere/base_test.go
  internal/provider/vsphere/vshpere_suite_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8713: fix ovrit and vshere platform check (#3123)
  internal/provider/ovirt/base.go
  internal/provider/ovirt/base_test.go
  internal/provider/ovirt/ovirt_suite_test.go
  internal/provider/vsphere/base.go
  internal/provider/vsphere/base_test.go
  internal/provider/vsphere/vshpere_suite_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8606: Add api-review label to Events API changes
  OWNERS
Due: none

MGMT-8498: Adding mounting /etc/pki to next_step,installer and logs commands to allow providing additional certificate bundle
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/install_cmd_test.go
  internal/host/hostcommands/logs_cmd.go
  internal/host/hostcommands/next_step_runner_cmd.go
  internal/host/hostcommands/next_step_runner_cmd_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7307: Improve the disconnected media message to explain what is expected from the user
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8606: Add api-review label to Events API changes (#3125)
  OWNERS
Due: none

NO-ISSUE: minor cleanup to the events generator
  tools/generate_events.py
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8722: Populate EventsURL in InfraEnv
  cmd/main.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/controller/controllers/common.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
  internal/gencrypto/token.go
  subsystem/kubeapi_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: fix 'yaml' has no attribute 'FullLoader' (#3121)
  hack/generate.sh
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7307: Improve the disconnected media message to explain what is expected from the user (#3124)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8498: Adding mounting /etc/pki to next_step,installer and logs commands to allow providing additional certificate bundle (#3126)
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/install_cmd_test.go
  internal/host/hostcommands/logs_cmd.go
  internal/host/hostcommands/next_step_runner_cmd.go
  internal/host/hostcommands/next_step_runner_cmd_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: minor cleanup to the events generator (#3128)
  tools/generate_events.py
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8722: Populate EventsURL in InfraEnv (#3122)
  cmd/main.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/controller/controllers/common.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
  internal/gencrypto/token.go
  subsystem/kubeapi_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: fix 'yaml' has no attribute 'FullLoader'
  hack/generate.sh
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8698: update status_info and progress bar when extra workers fails to install
  internal/cluster/cluster.go
  internal/cluster/common.go
  internal/cluster/common_test.go
  internal/cluster/progress_test.go
  internal/cluster/transition.go
  internal/cluster/transition_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1994696: Clarify not eligible disk error message
  internal/host/transition_test.go
  internal/host/validator.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8698: update status_info and progress bar when extra workers fails to install (#3133)
  internal/cluster/cluster.go
  internal/cluster/common.go
  internal/cluster/common_test.go
  internal/cluster/progress_test.go
  internal/cluster/transition.go
  internal/cluster/transition_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: fix 'yaml' has no attribute 'FullLoader' (#3132)
  hack/generate.sh
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8280: subsystem-test WIP
  internal/common/common.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  subsystem/kubeapi_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8280: subsystem-test WIP
  internal/controller/controllers/agent_controller.go
  subsystem/kubeapi_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8301: Add a V1 API deprecation warning in swagger
  restapi/embedded_spec.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8669: Allow /30 machine cidr in SNO case
  internal/bminventory/inventory.go
  internal/network/cidr_validations.go
  internal/network/cidr_validations_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8513: V2 link in cluster's Href field
  internal/bminventory/inventory.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8280: subsystem-test WIP
  subsystem/kubeapi_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8301: Add a V1 API deprecation warning in swagger (#3135)
  restapi/embedded_spec.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8669: Allow /30 machine cidr in SNO case (#3136)
  internal/bminventory/inventory.go
  internal/network/cidr_validations.go
  internal/network/cidr_validations_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8703: Document adding additional trust bundle
  docs/user-guide/install-customization.md
Due: none

MGMT-8703: Document adding additional trust bundle (#3129)
  docs/user-guide/install-customization.md
Due: none

NO-ISSUE: Check events in kubeapi subsystem
  subsystem/kubeapi_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8741: Use full name when logging agent update
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: downgrade 4.7 version to test auto bump new mechanism
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_release_images.json
  onprem-environment
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-networking, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-multi-version, ci/prow/e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8607: Store event names in the DB
  internal/common/events/events.go
  internal/controller/controllers/controller_event_wrapper.go
  internal/controller/controllers/controller_event_wrapper_test.go
  internal/events/api/event.go
  internal/events/api/mock_event.go
  internal/events/event.go
  internal/events/event_test.go
  internal/events/events_api.go
  models/event.go
  restapi/embedded_spec.go
  subsystem/events_test.go
  swagger.yaml
  tools/generate_events.py
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8513: V2 link in cluster's Href field (#3137)
  internal/bminventory/inventory.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: downgrade 4.7 version to test auto bump new mechanism (#3140)
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_release_images.json
  onprem-environment
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-networking, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-multi-version, ci/prow/e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7305: Add columns to infraenv and ACI CRD
  api/hiveextension/v1beta1/agentclusterinstall_types.go
  api/v1beta1/infraenv_types.go
  config/crd/bases/agent-install.openshift.io_infraenvs.yaml
  config/crd/bases/extensions.hive.openshift.io_agentclusterinstalls.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_infraenvs.yaml
  deploy/olm-catalog/manifests/extensions.hive.openshift.io_agentclusterinstalls.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Check events in kubeapi subsystem (#3138)
  subsystem/kubeapi_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws
