Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact, ci/prow/e2e-agent-compact, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-ocs, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

e2e-agent-compact:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-compact-ipv4

ci/prow/e2e-agent-compact:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
  ...

ci/prow/edge-assisted-operator-catalog-publish-verify:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.12'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/edge-e2e-ai-operator-ztp:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.12'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
  ...

ci/prow/edge-e2e-ai-operator-ztp-3masters:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.12'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/edge-e2e-ai-operator-ztp-capi:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.12'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/edge-e2e-ai-operator-ztp-disconnected:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.12'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.12'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.12'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

Fix typos
  docs/enhancements/soft-install-timeout.md
Due: none

MGMT-15762 - fix odf validation failing where is one small disk (#5529)
  .gitignore
  internal/operators/odf/odf_operator.go
  internal/operators/odf/odf_operator_test.go
  internal/operators/odf/validation_test.go
  internal/operators/odf/validations.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-ocs, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: fail upload if response is not 2XX (#5534)
  internal/uploader/events_uploader.go
  internal/uploader/events_uploader_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14409: generate short image URL (#5523)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/bminventory/inventory_v2_handlers.go
  internal/gencrypto/token.go
  internal/imageservice/url_test.go
  internal/imageservice/urls.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Bump OCP versions: 4.13, 4.11 (#5537)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-15738: Support for E2E test, make sure we have an infraenv for adding a node to the local cluster. (#5477)
  deploy/operator/utils.sh
  deploy/operator/ztp/add-worker-nodes-to-local-cluster-playbook.yaml
  deploy/operator/ztp/add_day2_local_cluster_nodes.sh
  deploy/operator/ztp/add_day2_remote_nodes.sh
  deploy/operator/ztp/assisted-installer-crds-playbook.yaml
  deploy/operator/ztp/infraEnv.j2
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Update RHTAP references
  .tekton/assisted-service-q2vh-pull-request.yaml
  .tekton/assisted-service-q2vh-push.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Bump golang version
  Dockerfile.assisted-service
  Dockerfile.assisted-service-build
  Dockerfile.assisted-service-debug
  api/go.mod
  api/vendor/modules.txt
  ci-images/Dockerfile.base
  client/vendor/modules.txt
  go.mod
  internal/installercache/installercache_test.go
  internal/stream/notification_stream_test.go
  internal/uploader/events_uploader.go
  models/go.mod
  subsystem/cluster_test.go
  vendor/modules.txt
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-15507: Set restricted list of approvers for protected release-ocm-2.9 branch (#5479)
  OWNERS_ALIASES
Due: none

make clear that ParseDownloadURL is best-effort
  internal/imageservice/url_test.go
  internal/imageservice/urls.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14409: generate image short URL
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/bminventory/inventory_v2_handlers.go
  internal/gencrypto/token.go
  internal/imageservice/url_test.go
  internal/imageservice/urls.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

[release-ocm-2.9] MGMT-14409: generate short image URL (#5541)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/bminventory/inventory_v2_handlers.go
  internal/gencrypto/token.go
  internal/imageservice/url_test.go
  internal/imageservice/urls.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-15507: Add adriengentil as approver in ocm-2.9
  OWNERS_ALIASES
Due: none

MGMT-15507: Add adriengentil as approver in ocm-2.9 (#5542)
  OWNERS_ALIASES
Due: none

WIP: Add assisted images service short URL routes
  deploy/assisted-installer-ingress-tls.yaml
  deploy/assisted-installer-ingress.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

WIP: Add assisted images service short URL routes (#5543)
  deploy/assisted-installer-ingress-tls.yaml
  deploy/assisted-installer-ingress.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

WIP: Add assisted images service short URL routes (#5545)
  deploy/assisted-installer-ingress-tls.yaml
  deploy/assisted-installer-ingress.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-15950: Fix DNS wilcard domain validation (#5544)
  pkg/validations/validations.go
  pkg/validations/validations_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Bump OCP versions: 4.12, 4.14, 4.13
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Bump OCP versions: 4.12, 4.14, 4.13 (#5546)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-15796: set CloudControllerManager to External for OCI
  internal/installcfg/installcfg.go
  internal/provider/external/installConfig.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-15306: Fix UpdateCluster for requests that include VIPS and UMA
  internal/bminventory/inventory_test.go
  internal/cluster/validations/validations.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-15572 Hold installation when reconcile-pause annotation is set on cluster deployment
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  vendor/github.com/openshift/assisted-service/api/hiveextension/v1beta1/agentclusterinstall_types.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Bump OCP versions: 4.14
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-15306: Fix UpdateCluster for requests that include VIPS and UMA (#5547)
  internal/bminventory/inventory_test.go
  internal/cluster/validations/validations.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14416: VipDhcpAllocation from update params should take precedence (#5209)
  internal/bminventory/inventory_test.go
  internal/cluster/validations/validations.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: CI TEST
  cmd/main.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

[release-ocm-2.8] MGMT-15306: Fix UpdateCluster for requests that include VIPS and UMA This is a combination of 2 commits.
  internal/bminventory/inventory_test.go
  internal/cluster/validations/validations.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: TEST CI 2
  deploy/operator/ztp/deploy_spoke_cluster.sh
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

no-issue: test ztp CI
  deploy/operator/ztp/deploy_spoke_cluster.sh
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Set default ENABLE_SKIP_MCO_REBOOT: false
  internal/feature/flags.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

WIP: Revert "MGMT-15738: Support for E2E test, make sure we have an infraenv for adding a node to the local cluster. (#5477)"
  deploy/operator/utils.sh
  deploy/operator/ztp/add-worker-nodes-to-local-cluster-playbook.yaml
  deploy/operator/ztp/add_day2_local_cluster_nodes.sh
  deploy/operator/ztp/add_day2_remote_nodes.sh
  deploy/operator/ztp/assisted-installer-crds-playbook.yaml
  deploy/operator/ztp/infraEnv.j2
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Set default ENABLE_SKIP_MCO_REBOOT: false (#5560)
  internal/feature/flags.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Path conditions:
  e2e-agent-compact: any of: ^(Dockerfile\.assisted-service\.ocp)|(cmd/agentbasedinstaller)
  ci/prow/e2e-agent-compact: unless all of: ^openshift/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-assisted-operator-catalog-publish-verify: any of: ^(deploy/olm-catalog/.*)$
  ci/prow/edge-e2e-ai-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/operator/.*|deploy/assisted-controller/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-ai-operator-ztp-3masters: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-disconnected: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes: any of: ^(deploy/operator/hypershift/.*|api/.*|internal/controller/controllers/.*agentserviceconfig.*)$
  ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-metal-assisted-cnv: any of: ^(internal/operators/.*\.go|internal/operators/cnv/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-day2: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-day2-single-node: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-ipv4v6: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-lvm: any of: ^(internal/operators/.*\.go|internal/operators/lvm/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-ocs: any of: ^(internal/operators/.*\.go|internal/operators/odf/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-odf: any of: ^(internal/operators/.*\.go|internal/operators/odf/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  ci/prow/edge-lint: unless all of: ^dashboards/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-unit-test: unless all of: ^dashboards/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-verify-generated-code: unless all of: ^dashboards/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
