Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact, ci/prow/e2e-agent-compact, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno, ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-ocs, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Path conditions:
  e2e-agent-compact: any of: ^(Dockerfile\.assisted-service\.ocp)|(cmd/agentbasedinstaller)
  ci/prow/e2e-agent-compact: unless all of: ^openshift/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-assisted-operator-catalog-publish-verify: any of: ^(deploy/olm-catalog/.*)$
  ci/prow/edge-e2e-ai-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/operator/.*|deploy/assisted-controller/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-ai-operator-ztp-3masters: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-disconnected: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes: any of: ^(deploy/operator/hypershift/.*|api/.*|internal/controller/controllers/.*agentserviceconfig.*)$
  ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-3masters-ocp-411: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-ipv4v6-sno-ocp-411: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-metal-assisted-cnv: any of: ^(internal/operators/.*\.go|internal/operators/cnv/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-day2: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-day2-single-node: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-ipv4v6: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-lvm: any of: ^(internal/operators/.*\.go|internal/operators/lvm/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-ocs: any of: ^(internal/operators/.*\.go|internal/operators/odf/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-odf: any of: ^(internal/operators/.*\.go|internal/operators/odf/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  ci/prow/edge-lint: unless all of: ^dashboards/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-unit-test: unless all of: ^dashboards/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-verify-generated-code: unless all of: ^dashboards/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$

Bump OCP versions: 4.10 (#5248)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14721: Get icsp-file from registries.conf for oc extract command (#5245)
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
  internal/installercache/installercache.go
  internal/installercache/installercache_test.go
  internal/oc/mock_release.go
  internal/oc/release.go
  internal/oc/release_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

OCPBUGS-7076: Copy Day2 BMH if Agent is installing
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Bump OCP versions: 4.14
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Bump OCP versions: 4.14 (#5251)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14734: Fix failed to update Nutanix provider cluster when on multi architecture
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14728: Escape the escape char (\)
  internal/events/event.go
  internal/events/event_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14728: Escape the escape char (\) (#5252)
  internal/events/event.go
  internal/events/event_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14734: Fix failed to update Nutanix provider cluster when on multi architecture (#5253)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14723: Remove duplicate operator cpu architecture validation
  api/vendor/github.com/openshift/assisted-service/models/feature_support_level_id.go
  internal/featuresupport/common.go
  internal/featuresupport/feature_support_level.go
  internal/featuresupport/feature_support_test.go
  internal/featuresupport/features.go
  internal/operators/api/api.go
  internal/operators/api/mock_operator_api.go
  internal/operators/cnv/cnv_operator.go
  internal/operators/lso/ls_operator.go
  internal/operators/lvm/lvm_operator.go
  internal/operators/manager.go
  internal/operators/odf/odf_operator.go
  models/feature_support_level_id.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/feature_support_level_id.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-ocs, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: fixed misleading error message, the order of the host status was reverse
  internal/host/host.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14723: Remove duplicate operator cpu architecture validation (#5254)
  api/vendor/github.com/openshift/assisted-service/models/feature_support_level_id.go
  internal/featuresupport/common.go
  internal/featuresupport/feature_support_level.go
  internal/featuresupport/feature_support_test.go
  internal/featuresupport/features.go
  internal/operators/api/api.go
  internal/operators/api/mock_operator_api.go
  internal/operators/cnv/cnv_operator.go
  internal/operators/lso/ls_operator.go
  internal/operators/lvm/lvm_operator.go
  internal/operators/manager.go
  internal/operators/odf/odf_operator.go
  models/feature_support_level_id.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/feature_support_level_id.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-ocs, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14734: Fix failed to update Nutanix provider cluster when on multi architecture (#5255)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Delete the spoke BMH before removing the finalizer (#5239)
  internal/controller/controllers/agent_controller.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14306: Update host role validation to accept AutoAssign in Day2 (#5247)
  internal/host/hostutil/host_utils.go
  internal/host/hostutil/host_utils_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14649: Add feature support for OCI platform
  api/vendor/github.com/openshift/assisted-service/models/feature_support_level_id.go
  internal/bminventory/inventory_test.go
  internal/featuresupport/common.go
  internal/featuresupport/feature_support_level.go
  internal/featuresupport/feature_support_test.go
  internal/featuresupport/features.go
  models/feature_support_level_id.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/feature_support_level_id.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: fixed misleading error message, the order of the host status was reverse (#5257)
  internal/host/host.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14649: Add feature support for OCI platform (#5244)
  api/vendor/github.com/openshift/assisted-service/models/feature_support_level_id.go
  internal/bminventory/inventory_test.go
  internal/featuresupport/common.go
  internal/featuresupport/feature_support_level.go
  internal/featuresupport/feature_support_test.go
  internal/featuresupport/features.go
  models/feature_support_level_id.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/feature_support_level_id.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14723: Fix randomly failing subsystem test
  subsystem/feature_support_levels_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14723: Fix randomly failing subsystem test (#5259)
  subsystem/feature_support_levels_test.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

[cloud_hotfix_releases] MGMT-14723: Remove duplicate operator cpu architecture validation (#5258)
  api/vendor/github.com/openshift/assisted-service/models/feature_support_level_id.go
  internal/featuresupport/common.go
  internal/featuresupport/feature_support_level.go
  internal/featuresupport/feature_support_test.go
  internal/featuresupport/features.go
  internal/operators/api/api.go
  internal/operators/api/mock_operator_api.go
  internal/operators/cnv/cnv_operator.go
  internal/operators/lso/ls_operator.go
  internal/operators/lvm/lvm_operator.go
  internal/operators/manager.go
  internal/operators/odf/odf_operator.go
  models/feature_support_level_id.go
  restapi/embedded_spec.go
  subsystem/feature_support_levels_test.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/feature_support_level_id.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-ocs, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-13685: Make sure ingress and api vip are not broadcast address.
  go.mod
  go.sum
  internal/cluster/validator_test.go
  internal/network/machine_network_cidr.go
  vendor/github.com/IBM/netaddr/.travis.yml
  vendor/github.com/IBM/netaddr/LICENSE
  vendor/github.com/IBM/netaddr/README.md
  vendor/github.com/IBM/netaddr/iprange.go
  vendor/github.com/IBM/netaddr/ipset.go
  vendor/github.com/IBM/netaddr/iptree.go
  vendor/github.com/IBM/netaddr/net_utils.go
  vendor/modules.txt
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-13685: Make sure ingress and api vip are not broadcast address. (#5256)
  go.mod
  go.sum
  internal/cluster/validator_test.go
  internal/network/machine_network_cidr.go
  vendor/github.com/IBM/netaddr/.travis.yml
  vendor/github.com/IBM/netaddr/LICENSE
  vendor/github.com/IBM/netaddr/README.md
  vendor/github.com/IBM/netaddr/iprange.go
  vendor/github.com/IBM/netaddr/ipset.go
  vendor/github.com/IBM/netaddr/iptree.go
  vendor/github.com/IBM/netaddr/net_utils.go
  vendor/modules.txt
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

OCPBUGS-13356: Fix 'vendor' root device hint evaluation (#5201)
  internal/host/hostutil/host_utils.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Delete the spoke BMH before removing the finalizer
  internal/controller/controllers/agent_controller.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Delete the spoke BMH before removing the finalizer (#5260)
  internal/controller/controllers/agent_controller.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

factorize error message in HasOrgBasedCapability
  internal/bminventory/inventory.go
  internal/bminventory/inventory_v2_handlers.go
  internal/cluster/validations/validations.go
  pkg/auth/rhsso_authz_handler.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14582: Set OCI platform behind a capability
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/validations/validations.go
  pkg/ocm/utils.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-13997: Issues when using multiple bonds with CIM Assisted Installer (#5233)
  internal/constants/scripts.go
  internal/constants/scripts_test.go
  internal/constants/test_root/etc/assisted/network/host0/eth0.101.nmconnection
  internal/constants/test_root/etc/assisted/network/host0/eth0.nmconnection
  internal/constants/test_root/etc/assisted/network/host0/mac_interface.ini
  internal/constants/test_root/etc/assisted/network/host1/eth0.nmconnection
  internal/constants/test_root/etc/assisted/network/host1/mac_interface.ini
  internal/constants/test_root/etc/assisted/network/host2/bond0.nmconnection
  internal/constants/test_root/etc/assisted/network/host2/eth0.nmconnection
  internal/constants/test_root/etc/assisted/network/host2/eth1.nmconnection
  internal/constants/test_root/etc/assisted/network/host2/mac_interface.ini
  internal/constants/test_root/etc/assisted/network/host3/bond0.nmconnection
  internal/constants/test_root/etc/assisted/network/host3/eth0.nmconnection
  internal/constants/test_root/etc/assisted/network/host3/mac_interface.ini
  internal/constants/test_root/sys/class/net/enp0s31f6/address
  internal/constants/test_root/sys/class/net/ens1/address
  internal/constants/test_root/sys/class/net/ens2/address
  internal/constants/test_root/sys/class/net/wlp0s20f3/address
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14582: Set OCI platform behind a capability (#5249)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/bminventory/inventory_v2_handlers.go
  internal/cluster/validations/validations.go
  pkg/auth/rhsso_authz_handler.go
  pkg/ocm/utils.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Bump OCP versions: 4.13
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Bump OCP versions: 4.13 (#5261)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14781: Make LSO operator to support all CPU architectures
  internal/featuresupport/feature_support_test.go
  internal/featuresupport/features.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14781: Make LSO operator to support all CPU architectures (#5262)
  internal/featuresupport/feature_support_test.go
  internal/featuresupport/features.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-14781: Make LSO operator to support all CPU architectures (#5263)
  internal/featuresupport/feature_support_test.go
  internal/featuresupport/features.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-12186: Add MCE operator plugin
  api/vendor/github.com/openshift/assisted-service/models/cluster_validation_id.go
  api/vendor/github.com/openshift/assisted-service/models/feature_support_level_id.go
  api/vendor/github.com/openshift/assisted-service/models/host_validation_id.go
  internal/cluster/cluster_test.go
  internal/cluster/statemachine.go
  internal/cluster/validation_id.go
  internal/featuresupport/feature_support_level.go
  internal/featuresupport/feature_support_test.go
  internal/featuresupport/features.go
  internal/host/statemachine.go
  internal/host/transition_test.go
  internal/host/validation_id.go
  internal/operators/builder.go
  internal/operators/manager_test.go
  internal/operators/mce/config.go
  internal/operators/mce/manifest.go
  internal/operators/mce/manifest_test.go
  internal/operators/mce/mce_operator.go
  internal/operators/mce/mce_operator_test.go
  internal/operators/mce/mce_suite_test.go
  internal/operators/mce/test_utils.go
  models/cluster_validation_id.go
  models/feature_support_level_id.go
  models/host_validation_id.go
  restapi/embedded_spec.go
  subsystem/cluster_test.go
  subsystem/feature_support_levels_test.go
  subsystem/operators_test.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/cluster_validation_id.go
  vendor/github.com/openshift/assisted-service/models/feature_support_level_id.go
  vendor/github.com/openshift/assisted-service/models/host_validation_id.go
Due: ci/prow/e2e-agent-compact, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-hypershift-zero-nodes, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-ocs, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code
