Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, e2e-metal-assisted-capi, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

lint:
  commands: export GOLANGCI_LINT_CACHE=/tmp/.cache && export GOPROXY=https://proxy.golang.org && make lint
  container:
    from: test-bin

unit-test:
  commands: 'export ROOT_DIR=/tmp
  
    export COVER_PROFILE=/tmp/reports/unit_coverage.out
  
    export CODECOV_TOKEN=$(cat /tmp/secret/codecov-token)
  
    export GINKGO_REPORTFILE=/tmp/junit_unit_test.xml
  
    make ci-unit-test
  
    '
  container:
    from: assisted-service-unit-test
  secret:
  ...

subsystem-aws:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.10'
  steps:
    test:
    - as: subsystem-deploy-and-run
      cli: latest
      commands: 'export BUILD_TYPE=CI
  
        export REPORTS=${ARTIFACT_DIR}
  
        export TARGET=oc
  
  
  ...

subsystem-kubeapi-aws:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.10'
  steps:
    test:
    - as: subsystem-deploy-and-run
      cli: latest
      commands: 'export BUILD_TYPE=CI
  
        export REPORTS=${ARTIFACT_DIR}
  
        export TARGET=oc
  
  ...

e2e-metal-assisted-operator-ztp:
  steps:
    cluster_profile: packet-assisted
    dependencies:
      ASSISTED_OPENSHIFT_INSTALL_RELEASE_IMAGE: release:candidate
      OPENSHIFT_INSTALL_RELEASE_IMAGE: release:candidate
    env:
      DEVSCRIPTS_CONFIG: 'EXTRA_WORKER_VCPU=8
  
        EXTRA_WORKER_MEMORY=32768
  
        EXTRA_WORKER_DISK=120
  
  ...

e2e-ai-operator-ztp-ipv4v6-sno-ocp-49:
  optional: true
  steps:
    cluster_profile: packet-assisted
    dependencies:
      ASSISTED_OPENSHIFT_INSTALL_RELEASE_IMAGE: release:latest
      OPENSHIFT_INSTALL_RELEASE_IMAGE: release:latest
    env:
      DEVSCRIPTS_CONFIG: 'EXTRA_WORKER_VCPU=8
  
        EXTRA_WORKER_MEMORY=32768
  
        EXTRA_WORKER_DISK=120
  
  ...

e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49:
  optional: true
  steps:
    cluster_profile: packet-assisted
    dependencies:
      ASSISTED_OPENSHIFT_INSTALL_RELEASE_IMAGE: release:latest
      OPENSHIFT_INSTALL_RELEASE_IMAGE: release:latest
    env:
      ASSISTED_ZTP_CONFIG: 'SPOKE_CONTROLPLANE_AGENTS=3
  
        '
      DEVSCRIPTS_CONFIG: 'EXTRA_WORKER_VCPU=8
  ...

e2e-metal-assisted-ipv6:
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=no
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ipv4v6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=yes
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-single-node:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'NUM_MASTERS=1
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    workflow: assisted-baremetal

MGMT-11129: Only set bootstrap host when it's attached to a cluster
  internal/host/host.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11098: Pass correct kernel args for multipath
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/install_cmd_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release 4.10.21 -> 4.10.22
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11098: Pass correct kernel args for multipath (#4119)
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/install_cmd_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release 4.10.21 -> 4.10.22 (#4120)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Extract go test-tools - use small container for the CI instead of the huge builder container Eliminate annoying logs "bash: docker: command not found" in the CI
  Makefile
  hack/setup_env.sh
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release 4.9.41 -> 4.9.42
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10985: add feature usage for static IP
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/usage/consts.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-8578: Use host's role when generating day2 ignition
  internal/bminventory/inventory.go
  internal/host/hostcommands/api_vip_connectivity_check_cmd.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11120: Fix a misleading NMState error log
  pkg/staticnetworkconfig/generator.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10570: check that are master machine found before referencing them
  internal/controller/controllers/bmh_agent_controller.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

WIP: Allow compact cluster with any number of workers to be valid in Assisted Installer, RFE291
  internal/operators/odf/odf_operator.go
  internal/operators/odf/odf_operator_test.go
  internal/operators/odf/validations.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Extract go test-tools - use small container for the CI instead of the huge builder container (#4116)
  Makefile
  hack/setup_env.sh
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Get the ImageContentSources for icsp file from install-config
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
  pkg/generator/generator.go
  vendor/github.com/openshift/api/operator/v1alpha1/0000_10_config-operator_01_imagecontentsourcepolicy.crd.yaml
  vendor/github.com/openshift/api/operator/v1alpha1/doc.go
  vendor/github.com/openshift/api/operator/v1alpha1/register.go
  vendor/github.com/openshift/api/operator/v1alpha1/types.go
  vendor/github.com/openshift/api/operator/v1alpha1/types_image_content_source_policy.go
  vendor/github.com/openshift/api/operator/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Fixes for defer
  internal/ignition/ignition.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10985: add feature usage for static IP (#4123)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/usage/consts.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10844: Add virtual interface metrics for SaaS
  internal/common/test_configuration.go
  internal/host/host.go
  internal/host/host_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release 4.9.41 -> 4.9.42 (#4122)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11120: Fix a misleading NMState error log (#4125)
  pkg/staticnetworkconfig/generator.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release 4.11.0-rc.1 -> 4.11.0-rc.2, rhcos 4.11.0-rc.1 -> 4.11.0-rc.2
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: do not print error message when docker doesn't exist redirect stderr to dev/null
  Makefile
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: fix CONTAINER_COMMAND for docker
  Makefile
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release 4.11.0-rc.1 -> 4.11.0-rc.2, rhcos 4.11.0-rc.1 -> 4.11.0-rc.2 (#4132)
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11161: fix rootfs access in PSI installations
  deploy/assisted-installer-ingress.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Bug-2106496: Do not perform refresh status on hosts after roles need to auto-assign during host registration It is not needed since host registration is no interactive operation.
  internal/bminventory/inventory.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10866: Compile assisted-service with CentOS stream 9
  Dockerfile.assisted-service
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

added logging and unit tests
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11161: fix rootfs access in PSI installations (#4134)
  deploy/assisted-installer-ingress.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-11131: Track hosts' registration times
  api/vendor/github.com/openshift/assisted-service/models/host.go
  internal/bminventory/inventory.go
  internal/host/host.go
  internal/host/hostutil/test_utils.go
  models/host.go
  restapi/embedded_spec.go
  subsystem/host_test.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/host.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

fixes for logging
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

fixes for logging
  internal/ignition/ignition.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

fixes for logging
  internal/ignition/ignition_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

revert PR 3700 and get latest oc image
  Dockerfile.assisted-service
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10570: check that are master machine found before referencing them (#4108)
  internal/controller/controllers/bmh_agent_controller.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10844: Add virtual interface metrics for SaaS (#4079)
  internal/common/test_configuration.go
  internal/host/host.go
  internal/host/host_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

TransformClusterToDay2: set custom ignition endpoint for day2 workers
  internal/bminventory/inventory.go
  internal/common/common.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

DEBUG
  internal/bminventory/inventory.go
  internal/controller/controllers/clusterdeployments_controller.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Fix cluster data update
  internal/bminventory/inventory.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Path conditions:
  lint: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  unit-test: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-ai-operator-ztp-ipv4v6-sno-ocp-49: any of: ^(deploy/.*)$
  e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49: any of: ^(deploy/.*)$
  e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-single-node: any of: ^(data/.*)$
  e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  e2e-metal-assisted-kube-api-net-suite: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-4-6: any of: ^(data/.*)$
  e2e-metal-assisted-4-8: any of: ^(data/.*)$
  e2e-metal-assisted-4-9: any of: ^(data/.*)$
  e2e-metal-assisted-4-10: any of: ^(data/.*)$
  e2e-metal-assisted-cnv: any of: ^(data/.*|internal/operators/.*)$
  e2e-metal-assisted-ocs: any of: ^(data/.*|internal/operators/.*)$
  e2e-metal-assisted-day2: any of: ^(data/.*)$
  e2e-metal-assisted-capi: any of: ^(api/.*|internal/controller/controllers/.*)$
  ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49: any of: ^(deploy/.*)$
  ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49: any of: ^(deploy/.*)$
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-4-10: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-4-6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-4-8: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-4-9: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-capi: any of: ^(api/.*|internal/controller/controllers/.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted-day2: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-ocs: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  ci/prow/lint: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/unit-test: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
