Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

Path conditions:
  subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-operator-disconnected: any of: ^(data/.*)$
  e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  e2e-metal-assisted-single-node: any of: ^(data/.*)$
  e2e-metal-assisted-kube-api: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-multi-version: any of: ^(data/.*)$
  e2e-metal-assisted-olm: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-kube-api: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-operator-disconnected: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/system-test-olm: any of: ^(data/.*)$

NO-ISSUE: Use ansible_collections instead of ansible.plugins
  deploy/operator/utils.sh
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7973: Bump OCP versions rhcos 4.7.13 -> 4.7.33, release 4.8.12 -> 4.8.13, rhcos 4.9.0-rc.4 -> 4.9.0-rc.7, rhcos 4.8.2 -> 4.8.14, release 4.9.0-rc.4 -> 4.9.0-rc.8, release 4.7.31 -> 4.7.32
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_ocp_versions.json
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  onprem-environment
  openshift/template-image-service.yaml
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

OCPBUGSM-35151: validate HA properties on register cluster
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  subsystem/cluster_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7973: Bump OCP versions rhcos 4.7.13 -> 4.7.33, release 4.8.12 -> 4.8.13, rhcos 4.9.0-rc.4 -> 4.9.0-rc.7, rhcos 4.8.2 -> 4.8.14, release 4.9.0-rc.4 -> 4.9.0-rc.8, release 4.7.31 -> 4.7.32 (#2781)
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_ocp_versions.json
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  onprem-environment
  openshift/template-image-service.yaml
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

Bug 2013419: fix status_info in case of day2 host
  internal/host/common.go
  internal/host/host.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 2013419: fix status_info in case of day2 host (#2782)
  internal/host/common.go
  internal/host/host.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7998: Fix nil pointer dereference in subsystem metrics tests
  subsystem/metrics_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7998: Fix nil pointer dereference in subsystem metrics tests (#2784)
  subsystem/metrics_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Use ansible_collections instead of ansible.plugins (#2779)
  deploy/operator/utils.sh
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8015: Bump OCP versions rhcos 4.9.0-rc.7 -> 4.9.0
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_ocp_versions.json
  data/default_os_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  onprem-environment
  openshift/template-image-service.yaml
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

MGMT-8023: Bump OCP versions rhcos 4.9.0-rc.7 -> 4.9.0
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_ocp_versions.json
  data/default_os_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  onprem-environment
  openshift/template-image-service.yaml
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

NO-ISSUE: update default versions - support new stable
  tools/ocp_version_update/update_default_release_versions_to_latest.py
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1991953: Adding timeout on finalizing stage (#2785)
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/cluster/common.go
  internal/cluster/statemachine.go
  internal/cluster/transition.go
  internal/cluster/transition_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8024: Bump OCP versions rhcos 4.9.0-rc.7 -> 4.9.0
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_ocp_versions.json
  data/default_os_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  onprem-environment
  openshift/template-image-service.yaml
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

Bug 2011976: operator should handle rm nodeSelector (#2732)
  internal/controller/controllers/agentserviceconfig_controller.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8024: replace references for '4.9.0-rc.8' with '4.9.0'
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_ocp_versions.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  onprem-environment
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

NO-ISSUE: update default versions - support new stable (#2791)
  tools/ocp_version_update/update_default_release_versions_to_latest.py
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-35151: validate HA properties on register cluster (#2765)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  subsystem/cluster_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 2013640: Generate bminventory package events
  docs/events.yaml
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/common/events/events.go
  subsystem/image_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 2013640: Generate bminventory package events (#2717)
  docs/events.yaml
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/common/events/events.go
  subsystem/image_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 2013671: v2uploadLogs to use V2 Events API
  internal/bminventory/inventory_v2_handlers.go
  internal/events/event_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8024: Bump OCP versions rhcos 4.9.0-rc.7 -> 4.9.0 (#2792)
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_ocp_versions.json
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  onprem-environment
  openshift/template-image-service.yaml
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

Revert "MGMT-7716: Add a template file for the image service (#2762)"
  hack/generate.sh
  openshift/template-image-service.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7923: Image service cloud authentication enhancement
  docs/enhancements/image-service-cloud-authentication.md
Due: none

MGMT-7923: Image service cloud authentication enhancement (#2733)
  docs/enhancements/image-service-cloud-authentication.md
Due: none

MGMT-8029: Gorm creates wrong field name for https_proxy field in infra-env
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  models/proxy.go
  restapi/embedded_spec.go
  subsystem/infra_env_test.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7148: Docker file update for webhooks
  Dockerfile.assisted-service
  cmd/webadmission/main.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8021: make our error types satisfy the openapi error interface
  internal/common/error_utils.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8021: move all authorization into the authz handler
  cmd/main.go
  pkg/auth/authz_handler.go
  pkg/auth/authz_handler_test.go
  pkg/auth/rhsso_authenticator.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8021: update go-openapi/runtime
  go.mod
  go.sum
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8021: use the default api key authenticator
  pkg/auth/authz_handler.go
  pkg/auth/authz_handler_test.go
  pkg/auth/rhsso_authenticator.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8021: Move authz out of the authentication handler (#2780)
  cmd/main.go
  go.mod
  go.sum
  internal/common/error_utils.go
  pkg/auth/authz_handler.go
  pkg/auth/authz_handler_test.go
  pkg/auth/rhsso_authenticator.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Revert "MGMT-7716: Add a template file for the image service (#2762)" (#2800)
  hack/generate.sh
  openshift/template-image-service.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8027: Replace generic events
  docs/events.yaml
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/cluster_test.go
  internal/common/events/events.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Revert "Use 4.8 redhat-operators catalog on OCP 4.9 (#2688)"
  deploy/operator/setup_lso.sh
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7148: Docker file update for webhooks (#2801)
  Dockerfile.assisted-service
  cmd/webadmission/main.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 2012067: add <TRUNCATED> to truncated error messages
  internal/ignition/ignition.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 2013001: Not enough info to troubleshoot when host failing network connectivity validation
  internal/host/common.go
  internal/host/hostutil/test_utils.go
  internal/host/transition_test.go
  internal/host/validator.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8027: Replace controller package generic events
  docs/events.yaml
  internal/common/events/events.go
  internal/controller/controllers/controller_event_wrapper_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8029: Gorm creates wrong field name for https_proxy field in infra-env (#2793)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  models/proxy.go
  restapi/embedded_spec.go
  subsystem/infra_env_test.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws
