Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, e2e-metal-assisted-capi, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Path conditions:
  lint: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  unit-test: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-ai-operator-ztp-ipv4v6-sno-ocp-49: any of: ^(deploy/.*)$
  e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49: any of: ^(deploy/.*)$
  e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-single-node: any of: ^(data/.*)$
  e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  e2e-metal-assisted-kube-api-net-suite: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-4-6: any of: ^(data/.*)$
  e2e-metal-assisted-4-8: any of: ^(data/.*)$
  e2e-metal-assisted-4-9: any of: ^(data/.*)$
  e2e-metal-assisted-4-10: any of: ^(data/.*)$
  e2e-metal-assisted-cnv: any of: ^(data/.*|internal/operators/.*)$
  e2e-metal-assisted-ocs: any of: ^(data/.*|internal/operators/.*)$
  e2e-metal-assisted-day2: any of: ^(data/.*)$
  e2e-metal-assisted-capi: any of: ^(api/.*|internal/controller/controllers/.*)$
  ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49: any of: ^(deploy/.*)$
  ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49: any of: ^(deploy/.*)$
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-4-10: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-4-6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-4-8: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-4-9: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-capi: any of: ^(api/.*|internal/controller/controllers/.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted-day2: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-ocs: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  ci/prow/lint: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/unit-test: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$

MGMT-10659: disable auto-assign test
  subsystem/cluster_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

internal/controller/controllers: label mirrorRegistryRef configmap for backup (#3884)
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
  internal/controller/controllers/common.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10659: disable auto-assign test (#3882)
  subsystem/cluster_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10662: Add timestamp to get-next-steps and let the service use it (#3885)
  api/vendor/github.com/openshift/assisted-service/models/host.go
  client/installer/v2_get_next_steps_parameters.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/cluster_test.go
  internal/cluster/transition_test.go
  internal/common/common.go
  internal/host/host_test.go
  internal/host/hostutil/test_utils.go
  models/host.go
  restapi/embedded_spec.go
  restapi/operations/installer/v2_get_next_steps_parameters.go
  restapi/operations/installer/v2_get_next_steps_urlbuilder.go
  subsystem/cluster_test.go
  subsystem/host_v2_test.go
  subsystem/ipv6_test.go
  subsystem/metrics_test.go
  subsystem/utils_test.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/host.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release 4.10.15 -> 4.10.16, release 4.8.41 -> 4.8.42, release 4.9.35 -> 4.9.36
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9175: Use an interface with a Mac address
  internal/provider/baremetal/installConfig.go
  internal/provider/registry/registry_test.go
  subsystem/cluster_test.go
  subsystem/ipv6_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Use Memory emptyDir postgres for faster subsystem CI performance
  Makefile
  deploy/postgres/postgres-deployment-ephemeral.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Bump OCP versions release 4.10.15 -> 4.10.16, release 4.8.41 -> 4.8.42, release 4.9.35 -> 4.9.36 (#3887)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: Use Memory emptyDir postgres for faster subsystem CI performance (#3888)
  Makefile
  deploy/postgres/postgres-deployment-ephemeral.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-9175: Use an interface with a Mac address (#3880)
  internal/provider/baremetal/installConfig.go
  internal/provider/registry/registry_test.go
  subsystem/cluster_test.go
  subsystem/ipv6_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: fix metadata for one dashboard and improve metadata layout for all dashboards
  Makefile
  dashboards/grafana-dashboard-assisted-installer-agent-api.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-basic-cluster-operation.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-cluster-overview.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-deployment-overview.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-general-overview.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-resource-utilization.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-rnd-overview.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-weekly-overview.configmap.yaml
  dashboards/grafana-dashboard-assisted-resource-dashboard.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

internal/controller/controllers: label mirrorRegistryRef configmap for backup
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
  internal/controller/controllers/common.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: fix metadata for one dashboard and improve metadata layout for all dashboards (#3893)
  Makefile
  dashboards/grafana-dashboard-assisted-installer-agent-api.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-basic-cluster-operation.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-cluster-overview.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-deployment-overview.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-general-overview.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-resource-utilization.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-rnd-overview.configmap.yaml
  dashboards/grafana-dashboard-assisted-installer-weekly-overview.configmap.yaml
  dashboards/grafana-dashboard-assisted-resource-dashboard.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

internal/network: fix NewConfig to avoid throwing errors
  internal/network/manifests_generator.go
  internal/network/manifests_generator_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Bug 2093503: Assisted service POD keeps crashing after a bare metal host is created Revert "MGMT-10375: Get the ironic image from the default release image for the arch (#3868)"
  internal/controller/controllers/preprovisioningimage_controller.go
  internal/controller/controllers/preprovisioningimage_controller_test.go
  internal/oc/mock_release.go
  internal/oc/release.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10616: add release+OS images for OCP 4.11
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Bug 2093503: Assisted service POD keeps crashing after a bare metal host is created Initialize the PreprovisioningImage VersionsHandler and OcRelease
  cmd/main.go
  internal/controller/controllers/preprovisioningimage_controller.go
  internal/controller/controllers/preprovisioningimage_controller_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10705: Allow installation on FC multipath
  api/vendor/github.com/openshift/assisted-service/models/disk.go
  internal/hardware/mock_validator.go
  internal/hardware/validator.go
  internal/hardware/validator_test.go
  internal/host/host.go
  internal/host/host_test.go
  models/disk.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/disk.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Copy cluster TLS certs to install working dir
  cmd/main.go
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
  pkg/generator/generator.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Allow openshift-install to load certs from files
  internal/ignition/ignition.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

internal/network: fix NewConfig to avoid throwing errors (#3895)
  internal/network/manifests_generator.go
  internal/network/manifests_generator_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10616: add release+OS images for OCP 4.11 (#3862)
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, ci/prow/e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-4-10, ci/prow/e2e-metal-assisted-4-6, ci/prow/e2e-metal-assisted-4-8, ci/prow/e2e-metal-assisted-4-9, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

Bug 2093503: Assisted service POD keeps crashing after a bare metal host is created (#3897)
  cmd/main.go
  internal/controller/controllers/preprovisioningimage_controller.go
  internal/controller/controllers/preprovisioningimage_controller_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10713: Soften IP-stack checks for host_network propagation
  internal/bminventory/inventory.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10659: revert test skip
  subsystem/cluster_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10713: Soften IP-stack checks for host_network propagation
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10618: enhancement doc - extract OS image
  docs/enhancements/extract-os-image-from-release.md
Due: none

MGMT-10612: Allow installing baremetal + arm on 4.11 with feature support feature
  api/vendor/github.com/openshift/assisted-service/models/feature_support_level.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/featuresupport/support_levels_list.go
  models/feature_support_level.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/feature_support_level.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: add CPU vs response time panel, unify limits and resources
  dashboards/grafana-dashboard-assisted-installer-resource-utilization.configmap.yaml
Due: lint, unit-test, ci/prow/lint, ci/prow/unit-test

MGMT-10713: Soften IP-stack checks for host_network propagation (#3908)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: increase memory requests and limits, and parametrize them
  openshift/template.yaml
Due: lint, unit-test, ci/prow/lint, ci/prow/unit-test

MGMT-9388: Incorrect minimal CPU and RAM requirements for cnv operator shown in UI Changing cnv minimum requirements for sno (master)
  internal/operators/cnv/cnv_operator.go
  internal/operators/cnv/cnv_operator_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

NO-ISSUE: increase memory requests and limits, and parametrize them (#3911)
  openshift/template.yaml
Due: lint, unit-test, ci/prow/lint, ci/prow/unit-test

MGMT-10722: Hostname 'localhost.localdomain' should not be valid
  internal/host/transition_test.go
  internal/host/validator.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10612: Allow installing baremetal + arm on 4.11 with feature (#3890)
  api/vendor/github.com/openshift/assisted-service/models/feature_support_level.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/featuresupport/support_levels_list.go
  models/feature_support_level.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/feature_support_level.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10569: Remove unused cluster ignition_config_overrides
  api/vendor/github.com/openshift/assisted-service/models/cluster.go
  models/cluster.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/cluster.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-capi, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10569: Correct make target for generating migrations
  hack/Makefile
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10569: Test the correct column for override col type change
  internal/migrations/20201019194303_change_overrides_to_text_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test

MGMT-10569: Remove populate infra env migration
  internal/migrations/20210713123129_populate_infra_env.go
  internal/migrations/20210713123129_populate_infra_env_test.go
  internal/migrations/migrations.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/lint, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/unit-test
