Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, e2e-metal-assisted-capi, ci/prow/edge-lint, ci/prow/edge-unit-test

lint:
  commands: export GOLANGCI_LINT_CACHE=/tmp/.cache && export GOPROXY=https://proxy.golang.org && make lint
  container:
    from: test-bin

unit-test:
  commands: 'export ROOT_DIR=/tmp
  
    export COVER_PROFILE=/tmp/reports/unit_coverage.out
  
    export CODECOV_TOKEN=$(cat /tmp/secret/codecov-token)
  
    export GINKGO_REPORTFILE=/tmp/junit_unit_test.xml
  
    make ci-unit-test
  
    '
  container:
    from: assisted-service-unit-test
  secret:
  ...

subsystem-aws:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.10'
  steps:
    test:
    - as: subsystem-deploy-and-run
      cli: latest
      commands: 'export BUILD_TYPE=CI
  
        export REPORTS=${ARTIFACT_DIR}
  
        export TARGET=oc
  
  
  ...

subsystem-kubeapi-aws:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.10'
  steps:
    test:
    - as: subsystem-deploy-and-run
      cli: latest
      commands: 'export BUILD_TYPE=CI
  
        export REPORTS=${ARTIFACT_DIR}
  
        export TARGET=oc
  
  ...

e2e-metal-assisted-operator-ztp:
  steps:
    cluster_profile: packet-assisted
    dependencies:
      ASSISTED_OPENSHIFT_INSTALL_RELEASE_IMAGE: release:candidate
      OPENSHIFT_INSTALL_RELEASE_IMAGE: release:candidate
    env:
      DEVSCRIPTS_CONFIG: 'EXTRA_WORKER_VCPU=8
  
        EXTRA_WORKER_MEMORY=32768
  
        EXTRA_WORKER_DISK=120
  
  ...

e2e-ai-operator-ztp-ipv4v6-sno-ocp-49:
  optional: true
  steps:
    cluster_profile: packet-assisted
    dependencies:
      ASSISTED_OPENSHIFT_INSTALL_RELEASE_IMAGE: release:latest
      OPENSHIFT_INSTALL_RELEASE_IMAGE: release:latest
    env:
      DEVSCRIPTS_CONFIG: 'EXTRA_WORKER_VCPU=8
  
        EXTRA_WORKER_MEMORY=32768
  
        EXTRA_WORKER_DISK=120
  
  ...

e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49:
  optional: true
  steps:
    cluster_profile: packet-assisted
    dependencies:
      ASSISTED_OPENSHIFT_INSTALL_RELEASE_IMAGE: release:latest
      OPENSHIFT_INSTALL_RELEASE_IMAGE: release:latest
    env:
      ASSISTED_ZTP_CONFIG: 'SPOKE_CONTROLPLANE_AGENTS=3
  
        '
      DEVSCRIPTS_CONFIG: 'EXTRA_WORKER_VCPU=8
  ...

e2e-metal-assisted-ipv6:
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=no
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ipv4v6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=yes
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-single-node:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'NUM_MASTERS=1
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    workflow: assisted-baremetal

MGMT-11510: Move to insufficient when incompatible agent
  internal/host/statemachine.go
  internal/host/transition_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-8890: Add OS image validator to openshift-versions API call
  internal/versions/versions.go
  internal/versions/versions_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-10816: Returning the actual resulting cluster platform. (#4158)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/provider/baremetal/base.go
  internal/provider/registry/registry.go
  internal/provider/registry/registry_test.go
  subsystem/kubeapi_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11706: Run subsystem tests with the upgrade agent feature enabled
  tools/deploy_assisted_installer_configmap.py
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11779: Add the kubelet IP for all architectures
  internal/ignition/ignition.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11148:LVMO-feature-support (#4295)
  api/vendor/github.com/openshift/assisted-service/models/feature_support_level.go
  internal/featuresupport/support_levels_list.go
  internal/usage/consts.go
  models/feature_support_level.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/feature_support_level.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-8890: Mark cluster as multi-arch automatically
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  subsystem/cluster_v2_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Fix call to image-customization-controller
  internal/ignition/ironic.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-8890: Add OS image validator to openshift-versions API call (#4312)
  internal/versions/versions.go
  internal/versions/versions_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11549: Send reclaim steps to agent
  cmd/main.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/bminventory/inventory_v2_handlers.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_reclaimer.go
  internal/controller/controllers/agent_reclaimer_test.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
  internal/gencrypto/token.go
  internal/gencrypto/token_test.go
  internal/host/hostcommands/download_boot_artifacts_cmd.go
  internal/host/hostcommands/download_boot_artifacts_cmd_test.go
  internal/host/hostcommands/instruction_manager.go
  internal/host/hostcommands/instruction_manager_test.go
  internal/host/hostcommands/reboot_for_reclaim_cmd.go
  internal/host/hostcommands/reboot_for_reclaim_cmd_test.go
  internal/imageservice/url_test.go
  internal/imageservice/urls.go
  internal/versions/mock_versions.go
  internal/versions/versions.go
  internal/versions/versions_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-8890: Mark cluster as multi-arch automatically (#4314)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  subsystem/cluster_v2_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: fix resource ratio for memory usage
  dashboards/grafana-dashboard-assisted-installer-resource-utilization.configmap.yaml
Due: lint, unit-test, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: fix resource ratio for memory usage (#4316)
  dashboards/grafana-dashboard-assisted-installer-resource-utilization.configmap.yaml
Due: lint, unit-test, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: fix ratio for memory limit in grafana dashboard
  dashboards/grafana-dashboard-assisted-installer-resource-utilization.configmap.yaml
Due: lint, unit-test, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: fix ratio for memory limit in grafana dashboard (#4317)
  dashboards/grafana-dashboard-assisted-installer-resource-utilization.configmap.yaml
Due: lint, unit-test, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMTBUGSM-532: Create an utility GetIgnitionEndpoint function
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/host/hostcommands/api_vip_connectivity_check_cmd.go
  internal/host/hostutil/host_utils.go
  internal/host/hostutil/host_utils_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11523: Add k8s API platform support to upstream docs
  docs/hive-integration/README.md
  docs/hive-integration/crds/agentClusterInstall.yaml
  docs/hive-integration/platform-selection.md
Due: none

NO-ISSUE: Bump OCP versions release 4.8.47 -> 4.8.48
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11736: Support ASC in multi namespaces
  api/v1beta1/agentserviceconfig_types.go
  cmd/operator/main.go
  config/crd/bases/agent-install.openshift.io_agentserviceconfigs.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_agentserviceconfigs.yaml
  deploy/operator/setup_assisted_operator.sh
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
  vendor/github.com/openshift/assisted-service/api/v1beta1/agentserviceconfig_types.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/edge-lint, ci/prow/edge-unit-test

Bump mockgen to prevent dependencies removal
  hack/setup_env.sh
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11523: Add k8s API platform support to upstream docs (#4244)
  docs/hive-integration/README.md
  docs/hive-integration/crds/agentClusterInstall.yaml
  docs/hive-integration/platform-selection.md
Due: none

MGMT-11738: support kubeconfig in ASC controller
  api/v1beta1/agentserviceconfig_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/agent-install.openshift.io_agentserviceconfigs.yaml
  config/crd/resources.yaml
  config/manifests/bases/assisted-service-operator.clusterserviceversion.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_agentserviceconfigs.yaml
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
  vendor/github.com/openshift/assisted-service/api/v1beta1/agentserviceconfig_types.go
  vendor/github.com/openshift/assisted-service/api/v1beta1/zz_generated.deepcopy.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Bump OCP versions release 4.8.47 -> 4.8.48 (#4319)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11115: Add setting bootstrap kubelet ip os env for installer generate (#4110)
  internal/ignition/ignition.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11510: Move from known to insufficient when agent is not compatible (#4277)
  internal/host/statemachine.go
  internal/host/transition_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

demo .ci-operator.yaml
  .ci-operator.yaml
Due: lint, unit-test, ci/prow/edge-lint, ci/prow/edge-unit-test

Bump mockgen to prevent dependencies removal (#4328)
  hack/setup_env.sh
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Fix condition to get kubeconfig secret name from CR
  internal/controller/controllers/agent_controller.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-8890: Add 4.11 single-arch release image to defaults
  data/default_release_images.json
  deploy/podman/configmap.yml
  internal/versions/versions_test.go
  openshift/template.yaml
  subsystem/cluster_v2_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMTBUGSM-482: kube-api - improve error msg for missing OS image
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/edge-lint, ci/prow/edge-unit-test

Add ppc64le & s390x RHCOS ISOs to configmap
  deploy/podman/configmap.yml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-8890: Add 4.11 single-arch release image to defaults (#4324)
  data/default_release_images.json
  deploy/podman/configmap.yml
  internal/versions/versions_test.go
  openshift/template.yaml
  subsystem/cluster_v2_test.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11854 test bug
  test
Due: lint, unit-test, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Bump OCP versions release 4.11.0 -> 4.11.2, rhcos 4.11.0 -> 4.11.2
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-single-node, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-4-6, e2e-metal-assisted-4-8, e2e-metal-assisted-4-9, e2e-metal-assisted-4-10, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, ci/prow/edge-lint, ci/prow/edge-unit-test

AGENT-325: Support setting network type from AgentClusterInstall
  cmd/agentbasedinstaller/register.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Add FeatureSupportLevel for dual-stack and multi-arch
  api/vendor/github.com/openshift/assisted-service/models/feature_support_level.go
  internal/featuresupport/support_levels_list.go
  models/feature_support_level.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/feature_support_level.go
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, e2e-metal-assisted-capi, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Specify Hive channel explicitly
  deploy/operator/setup_hive.sh
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Specify Hive channel explicitly for RHACM 2.5
  deploy/operator/setup_hive.sh
Due: lint, unit-test, subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-ai-operator-ztp-ipv4v6-sno-ocp-49, e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-unit-test

Path conditions:
  lint: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  unit-test: unless all of: ^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-ai-operator-ztp-ipv4v6-sno-ocp-49: any of: ^(deploy/.*)$
  e2e-ai-operator-ztp-ipv4v6-3masters-ocp-49: any of: ^(deploy/.*)$
  e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-single-node: any of: ^(data/.*)$
  e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  e2e-metal-assisted-kube-api-net-suite: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-4-6: any of: ^(data/.*)$
  e2e-metal-assisted-4-8: any of: ^(data/.*)$
  e2e-metal-assisted-4-9: any of: ^(data/.*)$
  e2e-metal-assisted-4-10: any of: ^(data/.*)$
  e2e-metal-assisted-cnv: any of: ^(data/.*|internal/operators/.*)$
  e2e-metal-assisted-ocs: any of: ^(data/.*|internal/operators/.*)$
  e2e-metal-assisted-day2: any of: ^(data/.*)$
  e2e-metal-assisted-capi: any of: ^(api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-lint: unless all of: ^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  ci/prow/edge-unit-test: unless all of: ^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
