Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-none, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-e2e-nutanix-assisted, ci/prow/edge-e2e-nutanix-assisted-4-14, ci/prow/edge-e2e-oci-assisted, ci/prow/edge-e2e-oci-assisted-4-14, ci/prow/edge-e2e-vsphere-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

e2e-agent-compact:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-compact-ipv4

ci/prow/e2e-agent-compact-ipv4:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
  ...

ci/prow/edge-assisted-operator-catalog-publish-verify:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.15'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/edge-e2e-ai-operator-ztp:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.15'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
  ...

ci/prow/edge-e2e-ai-operator-ztp-3masters:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.15'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/edge-e2e-ai-operator-ztp-capi:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.15'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/edge-e2e-ai-operator-ztp-disconnected:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.15'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/edge-e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.15'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
  ...

ci/prow/edge-e2e-metal-assisted-bond:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.15'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

NO-ISSUE: PR to rerun ACM 2.11 publish CI Job (#6988)
  internal/controller/controllers/agent_reclaimer_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-19258: Add the missing [kube-api] label on subsystem tests
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Change the PostgreSQL port for unit tests to support running both unit tests and the subsystem on the same machine.
  Makefile
  hack/start_db.sh
  hack/wait_for_postgres.sh
  internal/common/common_unitest_db.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-18513: Add machine networks validation when iSCSI boot disk is in use (#6978)
  api/vendor/github.com/openshift/assisted-service/models/host_validation_id.go
  client/vendor/github.com/openshift/assisted-service/models/host_validation_id.go
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/install_cmd_test.go
  internal/host/refresh_status_preprocessor.go
  internal/host/statemachine.go
  internal/host/transition_test.go
  internal/host/validation_id.go
  internal/host/validations_test.go
  internal/host/validator.go
  internal/network/machine_network_cidr.go
  internal/network/machine_network_cidr_test.go
  internal/network/utils.go
  internal/network/utils_test.go
  models/host_validation_id.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/host_validation_id.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-18628: fix better waiting for deployment
  deploy/operator/capi/deploy_capi_cluster.sh
  deploy/operator/hypershift/deploy_hypershift_cluster.sh
  deploy/operator/setup_assisted_operator.sh
  deploy/operator/setup_hive.sh
  deploy/operator/setup_lso.sh
  deploy/operator/utils.sh
  deploy/operator/ztp/deploy_spoke_cluster.sh
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Generalize ignition templating
  internal/ignition/discovery.go
  internal/ignition/templates.go
  internal/templating/suite_test.go
  internal/templating/templating.go
  internal/templating/templating_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Generalize ignition templating (#6992)
  internal/ignition/discovery.go
  internal/ignition/templates.go
  internal/templating/suite_test.go
  internal/templating/templating.go
  internal/templating/templating_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-19159: Removing caching all ClusterImageSets from GetReleaseImage
  internal/versions/kube_api_versions.go
  internal/versions/kube_api_versions_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

[release-ocm-2.10] MGMT-19218: Remove getting OKD for late-binding InfraEnv
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

[release-ocm-2.10] MGMT-19218: Remove getting OKD for late-binding InfraEnv (#6994)
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Fix unit tests that fail locally (#6941)
  internal/operators/handler/handler_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.17, 4.16, 4.15, 4.12
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Add IBM _watsonx_ flavor to OpenShift AI operator
  internal/operators/openshiftai/openshift_ai_manifests.go
  internal/operators/openshiftai/openshift_ai_manifests_test.go
  internal/operators/openshiftai/openshift_ai_operator.go
  internal/operators/openshiftai/openshift_ai_operator_test.go
  internal/operators/openshiftai/templates/custom/datasciencecluster.yaml
  internal/operators/openshiftai/templates/include/datasciencecluster-default.yaml
  internal/operators/openshiftai/templates/include/datasciencecluster-watsonx.yaml
  internal/operators/openshiftai/templates/include/setup.sh
  internal/operators/openshiftai/templates/openshift/50_openshift_ai_setup_job.yaml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

AGENT-949 AGENT-951: Add new authz handler and swagger security defn. (#6784)
  cmd/agentbasedinstaller/client/main.go
  cmd/main.go
  pkg/auth/agent_local_authenticator.go
  pkg/auth/agent_local_authenticator_test.go
  pkg/auth/agent_local_authz_handler.go
  pkg/auth/authenticator.go
  pkg/auth/authz.go
  pkg/auth/local_authenticator.go
  pkg/auth/local_authenticator_test.go
  pkg/auth/none_authenticator.go
  pkg/auth/rhsso_authenticator.go
  pkg/ocm/utils.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  swagger.yaml
Due: e2e-agent-compact, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16691: Document OSImageAdditionalParamsRef functionality for infrastructure operator
  docs/operator.md
Due: none

NO-ISSUE: [master] Bump OCP versions: 4.17, 4.16, 4.15, 4.12 (#6995)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-19230: Handle installation preparation status in statemachine
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/cluster.go
  internal/cluster/progress_test.go
  internal/cluster/transition.go
  internal/cluster/transition_test.go
  internal/constants/installation_preparation_status_reasons.go
  internal/host/refresh_status_preprocessor_test.go
  subsystem/cluster_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-16691: Document OSImageAdditionalParamsRef functionality for infrastructure operator (#5996)
  docs/operator.md
Due: none

MGMT-19280: iSCSI colume should be eligible on day2
  internal/hardware/validator.go
  internal/hardware/validator_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-19230: Handle installation preparation status in statemachine (#6983)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/cluster.go
  internal/cluster/progress_test.go
  internal/cluster/transition.go
  internal/cluster/transition_test.go
  internal/constants/installation_preparation_status_reasons.go
  internal/host/refresh_status_preprocessor_test.go
  subsystem/cluster_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-18561: Add AgentClusterInstall mirror registry generated files
  api/go.mod
  api/hiveextension/v1beta1/agentclusterinstall_types.go
  api/hiveextension/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/extensions.hive.openshift.io_agentclusterinstalls.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/extensions.hive.openshift.io_agentclusterinstalls.yaml
  vendor/github.com/openshift/assisted-service/api/hiveextension/v1beta1/agentclusterinstall_types.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-18562: Add InfraEnv mirror registry generated files for hosts discovery step
  api/v1beta1/infraenv_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/agent-install.openshift.io_infraenvs.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_infraenvs.yaml
  vendor/github.com/openshift/assisted-service/api/hiveextension/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/assisted-service/api/v1beta1/infraenv_types.go
  vendor/github.com/openshift/assisted-service/api/v1beta1/zz_generated.deepcopy.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-18561: MGMT-18562: Add mirror registry configuration to infraenv and cluster DB
  internal/common/db.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-18561: MGMT-18562: Update mirrorregistry package to support per cluster mirror registry
  internal/bminventory/inventory_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/ignition/discovery.go
  internal/ignition/discovery_test.go
  internal/installcfg/builder/builder.go
  internal/installcfg/builder/builder_test.go
  internal/oc/release.go
  internal/oc/release_test.go
  pkg/mirrorregistries/generator.go
  pkg/mirrorregistries/generator_test.go
  pkg/mirrorregistries/mirror_registry.go
  pkg/mirrorregistries/mirror_registry_test.go
  pkg/mirrorregistries/mock_generator.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-18561: Update install-config ImageDigestSource by the generated MirrorRegistryConfig
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/bminventory/inventory_v2_handlers.go
  internal/bminventory/mock_installer_internal.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/installcfg/builder/builder.go
  internal/installcfg/builder/builder_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-18561: MGMT-18562: Add subsystem tests
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-18562: Update ignition registries.conf file by the generated MirrorRegistryConfig
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/bminventory/mock_installer_internal.go
  internal/common/db.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
  internal/controller/controllers/preprovisioningimage_controller.go
  internal/controller/controllers/preprovisioningimage_controller_test.go
  internal/ignition/discovery.go
  internal/ignition/discovery_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-19277: allow mtv to run on SNO clusters
  internal/featuresupport/features_olm_operators.go
  internal/featuresupport/features_olm_operators_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-19277: allow mtv to run on SNO clusters (#7003)
  internal/featuresupport/features_olm_operators.go
  internal/featuresupport/features_olm_operators_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Update models for MTU validation adjustment
  api/vendor/github.com/openshift/assisted-service/models/connectivity_remote_host.go
  api/vendor/github.com/openshift/assisted-service/models/mtu_report.go
  client/vendor/github.com/openshift/assisted-service/models/connectivity_remote_host.go
  client/vendor/github.com/openshift/assisted-service/models/mtu_report.go
  models/connectivity_remote_host.go
  models/mtu_report.go
  restapi/embedded_spec.go
  subsystem/host_test.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/connectivity_remote_host.go
  vendor/github.com/openshift/assisted-service/models/mtu_report.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-19150: add support for RAID drivers for openshift 4.14 an above
  internal/hardware/validator.go
  internal/hardware/validator_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Update models for MTU validation adjustment (#6997)
  api/vendor/github.com/openshift/assisted-service/models/connectivity_remote_host.go
  api/vendor/github.com/openshift/assisted-service/models/mtu_report.go
  client/vendor/github.com/openshift/assisted-service/models/connectivity_remote_host.go
  client/vendor/github.com/openshift/assisted-service/models/mtu_report.go
  models/connectivity_remote_host.go
  models/mtu_report.go
  restapi/embedded_spec.go
  subsystem/host_test.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/connectivity_remote_host.go
  vendor/github.com/openshift/assisted-service/models/mtu_report.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-19290: iSCSI validation blocks UMN cluster installation
  internal/host/validations_test.go
  internal/host/validator.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-19290: iSCSI validation blocks UMN cluster installation (#7000)
  internal/host/validations_test.go
  internal/host/validator.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Fix initial commit
  Makefile
  internal/bminventory/inventory.go
  internal/events/event.go
  internal/events/event_test.go
  openshift/template.yaml
  pkg/auth/agent_local_authenticator.go
  pkg/auth/auth_handler_test_utils.go
  pkg/auth/authenticator.go
  pkg/auth/authz.go
  pkg/auth/local_authenticator.go
  pkg/auth/none_authenticator.go
  pkg/auth/none_authz_handler.go
  pkg/auth/rhsso_authenticator.go
  pkg/auth/rhsso_authz_handler.go
  pkg/auth/rhsso_authz_handler_test.go
  pkg/ocm/authorization.go
  pkg/ocm/mock_authorization.go
  pkg/ocm/utils.go
  skipper.env
  subsystem/subsystem_suite_test.go
  tools/deploy_assisted_installer_configmap.py
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Change authorization logic against rhsso
  pkg/auth/rhsso_authz_handler.go
  pkg/ocm/authorization.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Path conditions:
  e2e-agent-compact: any of: ^(Dockerfile\.assisted-service\.ocp)|(cmd/agentbasedinstaller)
  ci/prow/e2e-agent-compact-ipv4: unless all of: ^openshift/|^\.tekton/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-assisted-operator-catalog-publish-verify: any of: ^(deploy/olm-catalog/.*)$
  ci/prow/edge-e2e-ai-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/operator/.*|deploy/assisted-controller/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-ai-operator-ztp-3masters: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-disconnected: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-metal-assisted-bond: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-cnv: any of: ^(internal/operators/.*\.go|internal/operators/cnv/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-day2: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-day2-single-node: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-ipv4v6: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-lvm: any of: ^(internal/operators/.*\.go|internal/operators/lvm/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-none: any of: ^(internal/provider/none/.*)$
  ci/prow/edge-e2e-metal-assisted-odf: any of: ^(internal/operators/.*\.go|internal/operators/odf/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  ci/prow/edge-e2e-nutanix-assisted: any of: ^(internal/provider/.*\.go|internal/provider/nutanix/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-nutanix-assisted-4-14: any of: ^(internal/provider/.*\.go|internal/provider/nutanix/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-oci-assisted: any of: ^(internal/provider/.*\.go|internal/provider/oci/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-oci-assisted-4-14: any of: ^(internal/provider/.*\.go|internal/provider/oci/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-vsphere-assisted: any of: ^(internal/provider/.*\.go|internal/provider/vsphere/.*|internal/provider/registry/.*)$
  ci/prow/edge-lint: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-unit-test: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-verify-generated-code: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
