Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-none, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-e2e-nutanix-assisted, ci/prow/edge-e2e-nutanix-assisted-4-14, ci/prow/edge-e2e-oci-assisted, ci/prow/edge-e2e-oci-assisted-4-14, ci/prow/edge-e2e-vsphere-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

e2e-agent-compact:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-compact-ipv4

ci/prow/e2e-agent-compact-ipv4:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
  ...

ci/prow/edge-assisted-operator-catalog-publish-verify:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.15'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/edge-e2e-ai-operator-ztp:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.15'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
  ...

ci/prow/edge-e2e-ai-operator-ztp-3masters:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.15'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/edge-e2e-ai-operator-ztp-capi:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.15'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/edge-e2e-ai-operator-ztp-disconnected:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.15'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/edge-e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.15'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
  ...

ci/prow/edge-e2e-metal-assisted-bond:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.15'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

MGMT-19832: Fix time out during cluster last finalizing stage
  docs/user-guide/finalization_stages_timeouts.md
  internal/cluster/finalizing_stages.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

remove ABI from this change
  cmd/agentbasedinstaller/import.go
Due: e2e-agent-compact, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-19830: Enable installation of OCP clusters in vSphere environments with user-managed LB
  internal/featuresupport/feature_support_test.go
  internal/featuresupport/features_networking.go
  internal/featuresupport/features_platforms.go
  internal/provider/baremetal/installConfig.go
  internal/provider/vsphere/installConfig.go
  internal/provider/vsphere/installConfig_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-nutanix-assisted, ci/prow/edge-e2e-nutanix-assisted-4-14, ci/prow/edge-e2e-oci-assisted, ci/prow/edge-e2e-oci-assisted-4-14, ci/prow/edge-e2e-vsphere-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-20043: Modify MTU Validation CMN to support multiple machine networks
  internal/common/test_configuration.go
  internal/host/validations_test.go
  internal/host/validator.go
  internal/network/utils.go
  internal/network/utils_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-19840: Gather operational metrics from installercache (#7281)
  cmd/main.go
  internal/ignition/installmanifests_test.go
  internal/installercache/installercache.go
  internal/installercache/installercache_test.go
  internal/metrics/metricsManager.go
  internal/metrics/mock_metrics_manager_api.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

rebasing and checking if correct int values were used in place of HighAvailabilityModeFull and HighAvailabilityModeNone
  api/vendor/github.com/openshift/assisted-service/models/cluster.go
  api/vendor/github.com/openshift/assisted-service/models/cluster_create_params.go
  client/vendor/github.com/openshift/assisted-service/models/cluster.go
  client/vendor/github.com/openshift/assisted-service/models/cluster_create_params.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/validations/validations.go
  internal/migrations/20241122160000_update_new_column_control_plane_count_value_for_existing_cluster_records.go
  internal/migrations/20241122160000_update_new_column_control_plane_count_value_for_existing_cluster_records_test.go
  internal/migrations/migrations.go
  internal/provider/platform.go
  models/cluster.go
  models/cluster_create_params.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/cluster.go
  vendor/github.com/openshift/assisted-service/models/cluster_create_params.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-nutanix-assisted, ci/prow/edge-e2e-nutanix-assisted-4-14, ci/prow/edge-e2e-oci-assisted, ci/prow/edge-e2e-oci-assisted-4-14, ci/prow/edge-e2e-vsphere-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.18
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-20095: Remove KMM operator from OpenShift AI NVIDIA bundle
  internal/operators/kmm/kmm_operator.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Update konflux pipeline
  .tekton/assisted-service-saas-hotfix-pull-request.yaml
  .tekton/assisted-service-saas-hotfix-push.yaml
Due: none

NO-ISSUE: [master] Bump OCP versions: 4.18 (#7374)
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-15286: additional SSH keys in infra-env
  .golangci.yml
  api/v1beta1/infraenv_types.go
  api/v1beta1/zz_generated.deepcopy.go
  api/vendor/github.com/openshift/assisted-service/models/infra_env.go
  api/vendor/github.com/openshift/assisted-service/models/infra_env_create_params.go
  api/vendor/github.com/openshift/assisted-service/models/infra_env_update_params.go
  client/vendor/github.com/openshift/assisted-service/models/infra_env.go
  client/vendor/github.com/openshift/assisted-service/models/infra_env_create_params.go
  client/vendor/github.com/openshift/assisted-service/models/infra_env_update_params.go
  config/crd/bases/agent-install.openshift.io_infraenvs.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_infraenvs.yaml
  docs/hive-integration/import-installed-cluster.md
  docs/hive-integration/kube-api-getting-started.md
  internal/bminventory/inventory.go
  internal/controller/controllers/infraenv_controller.go
  internal/ignition/discovery.go
  internal/ignition/discovery_test.go
  models/infra_env.go
  models/infra_env_create_params.go
  models/infra_env_update_params.go
  restapi/embedded_spec.go
  subsystem/infra_env_test.go
  swagger.yaml
  ut_result.log
  vendor/github.com/openshift/assisted-service/api/v1beta1/infraenv_types.go
  vendor/github.com/openshift/assisted-service/api/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/assisted-service/models/infra_env.go
  vendor/github.com/openshift/assisted-service/models/infra_env_create_params.go
  vendor/github.com/openshift/assisted-service/models/infra_env_update_params.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Update konflux pipeline (#7375)
  .tekton/assisted-service-saas-hotfix-pull-request.yaml
  .tekton/assisted-service-saas-hotfix-push.yaml
Due: none

OCPBUGS-45244: Bump moby from v26.0.0 to v27.2.1 (#7189)
  go.mod
  go.sum
  vendor/github.com/moby/moby/AUTHORS
  vendor/github.com/moby/moby/pkg/ioutils/fswriters.go
  vendor/modules.txt
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-19887: Add Histogram Metric for Host Monitoring Time
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/host/monitor.go
  internal/host/monitor_test.go
  internal/metrics/metricsManager.go
  internal/metrics/mock_metrics_manager_api.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: change default 4.19 image according to the new path
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

subsystem was left of from removing HighAvailabilityMode
  subsystem/cluster_test.go
  subsystem/feature_support_levels_test.go
  subsystem/operators_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

remove reference for HighAvailabilityMode from internal/cluster/validator.go, internal/cluster/validator_test.go, internal/bminventory/inventory.go and internal/bminventory/inventory_test.go
  internal/bminventory/inventory_test.go
  internal/cluster/validator.go
  internal/cluster/validator_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-19423: remove some more references of High Availability Mode
  docs/user-guide/rest-api-getting-started.md
  docs/user-guide/samples/cluster.json
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/transition_test.go
  internal/cluster/validator.go
  internal/cluster/validator_test.go
  internal/host/hostcommands/install_cmd_test.go
  internal/operators/lvm/lvm_operator_test.go
  internal/provider/platform.go
  internal/usage/consts.go
  pkg/webhooks/hiveextension/v1beta1/agentclusterinstall_mutating_hook.go
  pkg/webhooks/hiveextension/v1beta1/agentclusterinstall_validation_hook.go
  subsystem/cluster_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-e2e-nutanix-assisted, ci/prow/edge-e2e-nutanix-assisted-4-14, ci/prow/edge-e2e-oci-assisted, ci/prow/edge-e2e-oci-assisted-4-14, ci/prow/edge-e2e-vsphere-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

remove the reference for HighAvailabilityMode from some more files; EOD commit
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/cluster/progress_test.go
  internal/cluster/transition.go
  internal/cluster/transition_test.go
  internal/cluster/validations/validations.go
  internal/common/common.go
  internal/common/common_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/dns/dns.go
  internal/dns/dns_test.go
  internal/featuresupport/feature_support_test.go
  internal/featuresupport/features_misc.go
  internal/hardware/validator_test.go
  internal/host/host_test.go
  internal/host/hostcommands/install_cmd.go
  internal/operators/lvm/lvm_operator.go
  internal/operators/lvm/lvm_operator_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

removing all the references of HighAvailabilityMode
  api/vendor/github.com/openshift/assisted-service/models/cluster.go
  api/vendor/github.com/openshift/assisted-service/models/cluster_create_params.go
  api/vendor/github.com/openshift/assisted-service/models/install_cmd_request.go
  client/vendor/github.com/openshift/assisted-service/models/cluster.go
  client/vendor/github.com/openshift/assisted-service/models/cluster_create_params.go
  client/vendor/github.com/openshift/assisted-service/models/install_cmd_request.go
  internal/migrations/migrations.go
  models/cluster.go
  models/cluster_create_params.go
  models/install_cmd_request.go
  restapi/embedded_spec.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/cluster.go
  vendor/github.com/openshift/assisted-service/models/cluster_create_params.go
  vendor/github.com/openshift/assisted-service/models/install_cmd_request.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

done removing HighAvailabilityMode from the directory 'internal', I'm not sure about 2 files which were just renamed
  internal/host/hostcommands/install_cmd_test.go
  internal/host/transition_test.go
  internal/host/validations_test.go
  internal/ignition/installmanifests.go
  internal/ignition/installmanifests_test.go
  internal/installcfg/builder/builder_test.go
  internal/migrations/20241122160000_update_new_column_control_plane_count_value_for_existing_cluster_records.go.nogo
  internal/migrations/20241122160000_update_new_column_control_plane_count_value_for_existing_cluster_records_test.go.nogo
  internal/operators/cnv/cnv_operator_test.go
  internal/operators/cnv/manifests_test.go
  internal/operators/lvm/manifests_test.go
  internal/operators/manager_test.go
  internal/operators/mce/mce_operator_test.go
  internal/operators/mtv/operator_test.go
  internal/operators/nmstate/operator_test.go
  internal/operators/osc/operator_test.go
  internal/provider/platform.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-e2e-nutanix-assisted, ci/prow/edge-e2e-nutanix-assisted-4-14, ci/prow/edge-e2e-oci-assisted, ci/prow/edge-e2e-oci-assisted-4-14, ci/prow/edge-e2e-vsphere-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

removed reference for high-availability-mode from assisted-service/internal/bminventory/inventory.go
  internal/bminventory/inventory.go
  internal/cluster/validations/validations.go
  internal/provider/platform.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-nutanix-assisted, ci/prow/edge-e2e-nutanix-assisted-4-14, ci/prow/edge-e2e-oci-assisted, ci/prow/edge-e2e-oci-assisted-4-14, ci/prow/edge-e2e-vsphere-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

fixing some syntax errors in dir 'pkg'
  pkg/webhooks/hiveextension/v1beta1/agentclusterinstall_mutating_hook.go
  pkg/webhooks/hiveextension/v1beta1/agentclusterinstall_validation_hook.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-20099: add nmstate to /v2/supported-operators
  restapi/embedded_spec.go
  swagger.yaml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

rebasing and checking if correct int values were used in place of HighAvailabilityModeFull and HighAvailabilityModeNone
  api/vendor/github.com/openshift/assisted-service/models/cluster.go
  api/vendor/github.com/openshift/assisted-service/models/cluster_create_params.go
  client/vendor/github.com/openshift/assisted-service/models/cluster.go
  client/vendor/github.com/openshift/assisted-service/models/cluster_create_params.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/validations/validations.go
  internal/common/common.go
  internal/host/hostcommands/install_cmd.go
  internal/migrations/20241122160000_update_new_column_control_plane_count_value_for_existing_cluster_records.go
  internal/migrations/20241122160000_update_new_column_control_plane_count_value_for_existing_cluster_records_test.go
  internal/migrations/migrations.go
  internal/operators/lvm/lvm_operator.go
  internal/provider/platform.go
  internal/usage/consts.go
  models/cluster.go
  models/cluster_create_params.go
  restapi/embedded_spec.go
  subsystem/cluster_test.go
  swagger.yaml
  vendor/github.com/openshift/assisted-service/models/cluster.go
  vendor/github.com/openshift/assisted-service/models/cluster_create_params.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-e2e-nutanix-assisted, ci/prow/edge-e2e-nutanix-assisted-4-14, ci/prow/edge-e2e-oci-assisted, ci/prow/edge-e2e-oci-assisted-4-14, ci/prow/edge-e2e-vsphere-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: change default 4.19 image according to the new path (#7371)
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-20043: Modify MTU Validation CMN to support multiple machine networks (#7357)
  internal/common/test_configuration.go
  internal/host/validations_test.go
  internal/host/validator.go
  internal/network/utils.go
  internal/network/utils_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-20010: Bump LSO override to 4.19 (#7366)
  deploy/operator/setup_lso.sh
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-3masters, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: Add jq tool
  pkg/jq/jq_query.go
  pkg/jq/jq_suite_test.go
  pkg/jq/jq_tool.go
  pkg/jq/jq_tool_test.go
  pkg/jq/jq_variable.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-20043: Modify MTU Validation CMN to support multiple machine networks (#7379)
  internal/common/test_configuration.go
  internal/host/validations_test.go
  internal/host/validator.go
  internal/network/utils.go
  internal/network/utils_test.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

NO-ISSUE: [master] Bump OCP versions: 4.16, 4.18, 4.17
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-bond, ci/prow/edge-e2e-metal-assisted-day2, ci/prow/edge-e2e-metal-assisted-day2-single-node, ci/prow/edge-e2e-metal-assisted-ipv4v6, ci/prow/edge-e2e-metal-assisted-single-node, ci/prow/edge-e2e-metal-assisted-static-ip-suite, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-20095: Remove KMM operator from OpenShift AI NVIDIA bundle (#7376)
  internal/operators/kmm/kmm_operator.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-e2e-metal-assisted-cnv, ci/prow/edge-e2e-metal-assisted-lvm, ci/prow/edge-e2e-metal-assisted-odf, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-19887: Add Histogram Metric for Host Monitoring Time (#7377)
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/host/monitor.go
  internal/host/monitor_test.go
  internal/metrics/metricsManager.go
  internal/metrics/mock_metrics_manager_api.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

MGMT-19840: Gather operational metrics from installercache
  cmd/main.go
  internal/ignition/installmanifests_test.go
  internal/installercache/installercache.go
  internal/installercache/installercache_test.go
  internal/metrics/metricsManager.go
  internal/metrics/mock_metrics_manager_api.go
Due: ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Path conditions:
  e2e-agent-compact: any of: ^(Dockerfile\.assisted-service\.ocp)|(cmd/agentbasedinstaller)
  ci/prow/e2e-agent-compact-ipv4: unless all of: ^openshift/|^\.tekton/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-assisted-operator-catalog-publish-verify: any of: ^(deploy/olm-catalog/.*)$
  ci/prow/edge-e2e-ai-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/operator/.*|deploy/assisted-controller/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-ai-operator-ztp-3masters: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-disconnected: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-metal-assisted-bond: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-cnv: any of: ^(internal/operators/.*\.go|internal/operators/cnv/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-day2: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-day2-single-node: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-ipv4v6: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-lvm: any of: ^(internal/operators/.*\.go|internal/operators/lvm/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-none: any of: ^(internal/provider/none/.*)$
  ci/prow/edge-e2e-metal-assisted-odf: any of: ^(internal/operators/.*\.go|internal/operators/odf/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/edge-e2e-metal-assisted-static-ip-suite: any of: ^(data/.*)$
  ci/prow/edge-e2e-nutanix-assisted: any of: ^(internal/provider/.*\.go|internal/provider/nutanix/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-nutanix-assisted-4-14: any of: ^(internal/provider/.*\.go|internal/provider/nutanix/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-oci-assisted: any of: ^(internal/provider/.*\.go|internal/provider/oci/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-oci-assisted-4-14: any of: ^(internal/provider/.*\.go|internal/provider/oci/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-vsphere-assisted: any of: ^(internal/provider/.*\.go|internal/provider/vsphere/.*|internal/provider/registry/.*)$
  ci/prow/edge-lint: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-unit-test: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-verify-generated-code: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
