Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

Path conditions:
  subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-operator-disconnected: any of: ^(data/.*)$
  e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  e2e-metal-assisted-single-node: any of: ^(data/.*)$
  e2e-metal-assisted-kube-api: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  e2e-metal-assisted-multi-version: any of: ^(data/.*)$
  e2e-metal-assisted-olm: any of: ^(data/.*|internal/operators/.*)$
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-kube-api: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-operator-disconnected: any of: ^(data/.*)$
  ci/prow/e2e-metal-assisted-operator-ztp: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-single-node: any of: ^(data/.*)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/system-test-olm: any of: ^(data/.*)$

MGMT-8079: reboot BMH on unbind-pending-user-action (#2912)
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8247: Bump OCP versions release 4.8.18 -> 4.8.19
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_release_images.json
  onprem-environment
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

NO-ISSUE: set PlatformType on ImportCluster (#2933)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7231: ODF docs
  docs/dev/olm-operator-plugins.md
Due: none

Bug 2012796: Add LivenessProbe to Image Service
  internal/controller/controllers/agentserviceconfig_controller.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8237: incorrect api responses for cluster managed networking with vms
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/featuresupport/support_levels_list.go
  internal/usage/consts.go
  models/feature_support_level.go
  restapi/embedded_spec.go
  subsystem/cluster_test.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: fix commit message validator to allow [<tag>] at start of commits
  hack/check-commit-message.sh
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-36861: progress bar goes to 10% after pending user action on reboot
  internal/cluster/progress_test.go
  internal/cluster/transition.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 2012796: Add LivenessProbe to Image Service (#2751)
  internal/controller/controllers/agentserviceconfig_controller.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8237: incorrect api responses for cluster managed networking with vms (#2936)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/featuresupport/support_levels_list.go
  internal/usage/consts.go
  models/feature_support_level.go
  restapi/embedded_spec.go
  subsystem/cluster_test.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8067: Adds disk encryption feature flag
  Makefile
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/validations/validations.go
  onprem-environment
  openshift/template.yaml
  tools/deploy_assisted_installer_configmap.py
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-36861: progress bar goes to 10% after pending user action on reboot (#2938)
  internal/cluster/progress_test.go
  internal/cluster/transition.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8067: Adds disk encryption feature flag (#2915)
  Makefile
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/validations/validations.go
  onprem-environment
  openshift/template.yaml
  tools/deploy_assisted_installer_configmap.py
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8205: Add endpoint to regenerate infraEnv download URL (#2919)
  client/installer/get_infra_env_download_url_parameters.go
  client/installer/get_infra_env_download_url_responses.go
  client/installer/installer_client.go
  docs/enhancements/image-service-cloud-authentication.md
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/bminventory/inventory_v2_handlers.go
  mocks/mock_assisted_service.go
  models/infra_env_image_url.go
  pkg/auth/auth_assisted_service_mock_test.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  restapi/operations/installer/get_infra_env_download_url.go
  restapi/operations/installer/get_infra_env_download_url_parameters.go
  restapi/operations/installer/get_infra_env_download_url_responses.go
  restapi/operations/installer/get_infra_env_download_url_urlbuilder.go
  swagger.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: remove default_ocp_versions.json
  data/default_ocp_versions.json
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

MGMT-8127: Webhook block unbind if Agent is installing
  cmd/webadmission/main.go
  internal/controller/controllers/agentserviceconfig_controller.go
  pkg/validating-webhooks/agentinstall/v1beta1/agent_admission_hook.go
  pkg/validating-webhooks/agentinstall/v1beta1/agent_admission_hook_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7231: ODF docs (#2945)
  docs/dev/olm-operator-plugins.md
Due: none

Bug 2012796: Add LivenessProbe to Image Service (#2751) (#2939)
  internal/controller/controllers/agentserviceconfig_controller.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: remove default_ocp_versions.json (#2941)
  data/default_ocp_versions.json
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

MGMT-6893: Fix ignition endpoint URL validation (#2909)
  internal/cluster/validations/validation_test.go
  internal/cluster/validations/validations.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8127: Webhook block unbind if Agent is installing (#2942)
  cmd/webadmission/main.go
  internal/controller/controllers/agentserviceconfig_controller.go
  pkg/validating-webhooks/agentinstall/v1beta1/agent_admission_hook.go
  pkg/validating-webhooks/agentinstall/v1beta1/agent_admission_hook_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8276: Add Day2 state in Agent conditions
  docs/hive-integration/kube-api-conditions.md
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8243: remove log msg about user issues with tokens
  pkg/auth/rhsso_authenticator.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7401: Add cluster progress to ACI
  api/hiveextension/v1beta1/agentclusterinstall_types.go
  api/hiveextension/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/agent_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/agent-install.openshift.io_agents.yaml
  config/crd/bases/extensions.hive.openshift.io_agentclusterinstalls.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_agents.yaml
  deploy/olm-catalog/manifests/extensions.hive.openshift.io_agentclusterinstalls.yaml
  internal/bminventory/inventory.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/clusterdeployments_controller.go
  subsystem/cluster_test.go
  subsystem/kubeapi_test.go
  subsystem/utils_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: there is no need to base encode an already base64 encoded ca.cert
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8276: Add Day2 state in Agent conditions (#2947)
  docs/hive-integration/kube-api-conditions.md
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8225: Bump OCP versions release 4.8.18 -> 4.8.19 (#2922)
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_release_images.json
  onprem-environment
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

NO-ISSUE: there is no need to base encode an already base64 encoded ca.cert (#2949)
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8243: remove log msg about user issues with tokens (#2950)
  pkg/auth/rhsso_authenticator.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8287: Bump OCP versions release 4.7.36 -> 4.7.37, release 4.8.19 -> 4.8.20, release 4.9.6 -> 4.9.7
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_release_images.json
  onprem-environment
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

"NO-ISSUE: Bump OCP versions release 4.7.36 -> 4.7.37, release 4.8.19 -> 4.8.20, release 4.9.6 -> 4.9.7
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_release_images.json
  onprem-environment
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

NO-ISSUE: Bump OCP versions release 4.7.36 -> 4.7.37, release 4.8.19 -> 4.8.20, release 4.9.6 -> 4.9.7
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_release_images.json
  onprem-environment
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

MGMT-7401: Add cluster progress to ACI (#2940)
  api/hiveextension/v1beta1/agentclusterinstall_types.go
  api/hiveextension/v1beta1/zz_generated.deepcopy.go
  api/v1beta1/agent_types.go
  api/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/agent-install.openshift.io_agents.yaml
  config/crd/bases/extensions.hive.openshift.io_agentclusterinstalls.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_agents.yaml
  deploy/olm-catalog/manifests/extensions.hive.openshift.io_agentclusterinstalls.yaml
  internal/bminventory/inventory.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/clusterdeployments_controller.go
  subsystem/cluster_test.go
  subsystem/kubeapi_test.go
  subsystem/utils_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8292: Bump OCP versions release 4.7.36 -> 4.7.37, release 4.8.19 -> 4.8.20, release 4.9.6 -> 4.9.7
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_release_images.json
  onprem-environment
  openshift/template.yaml
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-disconnected, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-ipv6, e2e-metal-assisted-single-node, e2e-metal-assisted-kube-api, e2e-metal-assisted, e2e-metal-assisted-multi-version, e2e-metal-assisted-olm, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-disconnected, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/e2e-metal-assisted-single-node, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws, ci/prow/system-test-olm

MGMT-8278: Allow updating agent properties before binding
  internal/bminventory/inventory.go
  subsystem/host_v2_test.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8295: reconcile fail in case agent spec.IgnitionEndpointToken isn't empty due to null pointer dereference use swag.StringValue when checking the value of string pointer
  internal/controller/controllers/agent_controller.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 2016178: Add ClusterOSImage to Baremetal platform (#2862)
  internal/installcfg/installcfg.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-8295: reconcile fail in case agent spec.IgnitionEndpointToken isn't empty due to null pointer dereference (#2962)
  internal/controller/controllers/agent_controller.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 2016178: Add ClusterOSImage to Baremetal platform (#2862) (#2963)
  internal/installcfg/installcfg.go
Due: subsystem-aws, subsystem-kubeapi-aws, e2e-metal-assisted-operator-ztp, e2e-metal-assisted-kube-api, e2e-metal-assisted, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-operator-ztp, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws
