Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-assisted-operator-catalog-publish-verify, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-ai-operator-ztp-disconnected, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-e2e-metal-assisted-external-4-20, ci/prow/edge-e2e-metal-assisted-lvm-4-20, ci/prow/edge-e2e-metal-assisted-none-4-20, ci/prow/edge-e2e-metal-assisted-openshift-ai-4-18, ci/prow/edge-e2e-metal-assisted-osc-4-20, ci/prow/edge-e2e-metal-assisted-virtualization-4-19, ci/prow/edge-e2e-vsphere-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

e2e-agent-compact-ipv4:
  capabilities:
  - intranet
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-compact-ipv4

ci/prow/e2e-agent-compact-ipv4:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/edge-assisted-operator-catalog-publish-verify:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/edge-e2e-ai-operator-disconnected-capi:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

ci/prow/edge-e2e-ai-operator-ztp:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

ci/prow/edge-e2e-ai-operator-ztp-capi:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

ci/prow/edge-e2e-ai-operator-ztp-disconnected:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

ci/prow/edge-e2e-metal-assisted-4-20:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

ci/prow/edge-e2e-metal-assisted-external-4-20:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
  ...

Suppress synthetic credential lint findings
  internal/cluster/auth_test.go
  internal/ignition/discovery_test.go
  internal/ignition/installmanifests_test.go
  internal/ignition/ironic_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47458: CVE-2026-84304 Bump google.golang.org/grpc to v1.83.1 through indirect dependency conversion
  go.mod
  go.sum
  vendor/google.golang.org/genproto/googleapis/api/annotations/client.pb.go
  vendor/google.golang.org/genproto/googleapis/api/expr/v1alpha1/checked.pb.go
  vendor/google.golang.org/genproto/googleapis/api/expr/v1alpha1/eval.pb.go
  vendor/google.golang.org/genproto/googleapis/api/expr/v1alpha1/explain.pb.go
  vendor/google.golang.org/genproto/googleapis/api/expr/v1alpha1/syntax.pb.go
  vendor/google.golang.org/genproto/googleapis/api/expr/v1alpha1/value.pb.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_noplan9.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_plan9.go
  vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/grpcsync/callback_serializer.go
  vendor/google.golang.org/grpc/internal/mem/buffer_pool.go
  vendor/google.golang.org/grpc/internal/resolver/config_selector.go
  vendor/google.golang.org/grpc/internal/transport/client_stream.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/mem/buffer_pool.go
  vendor/google.golang.org/grpc/mem/buffers.go
  vendor/google.golang.org/grpc/stream.go
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47340: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  client/go.mod
  client/go.sum
  client/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47340: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  api/go.mod
  api/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47340: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  models/go.mod
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47338: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  api/go.mod
  api/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47337: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  models/go.mod
  models/go.sum
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47337: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  client/go.mod
  client/go.sum
  client/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47338: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  models/go.mod
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47335: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  client/go.mod
  client/go.sum
  client/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47336: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  client/go.mod
  client/go.sum
  client/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47336: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  models/go.mod
  models/go.sum
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47335: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47334: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  models/go.mod
  models/go.sum
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47334: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47334: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  client/go.mod
  client/go.sum
  client/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47337: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-47338: CVE-2026-63209 Bump github.com/klauspost/compress to v1.18.7 using replace directive
  client/go.mod
  client/go.sum
  client/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-39433: CVE-2026-42502 Bump golang.org/x/net to v0.55.0 through indirect dependency conversion
  api/go.mod
  api/vendor/modules.txt
  client/go.sum
  models/go.mod
  models/go.sum
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-44902: CVE-2026-88031 Bump go.mongodb.org/mongo-driver to v1.17.10 through indirect dependency conversion
  client/go.mod
  client/go.sum
  client/vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/default_value_decoders.go
  client/vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/uint_codec.go
  client/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_parser.go
  client/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_wrappers.go
  client/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_writer.go
  client/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/json_scanner.go
  client/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/value_reader.go
  client/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/value_writer.go
  client/vendor/go.mongodb.org/mongo-driver/bson/doc.go
  client/vendor/go.mongodb.org/mongo-driver/bson/primitive/decimal.go
  client/vendor/go.mongodb.org/mongo-driver/bson/raw_value.go
  client/vendor/go.mongodb.org/mongo-driver/bson/registry.go
  client/vendor/go.mongodb.org/mongo-driver/bson/unmarshal.go
  client/vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/bsoncore.go
  client/vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/doc.go
  client/vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/element.go
  client/vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/value.go
  client/vendor/modules.txt
  go.mod
  go.sum
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/default_value_decoders.go
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/uint_codec.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_parser.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_wrappers.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_writer.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/json_scanner.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/value_reader.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/value_writer.go
  vendor/go.mongodb.org/mongo-driver/bson/doc.go
  vendor/go.mongodb.org/mongo-driver/bson/primitive/decimal.go
  vendor/go.mongodb.org/mongo-driver/bson/raw_value.go
  vendor/go.mongodb.org/mongo-driver/bson/registry.go
  vendor/go.mongodb.org/mongo-driver/bson/unmarshal.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/bsoncore.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/doc.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/element.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/value.go
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-39419: CVE-2026-42502 Bump golang.org/x/net to v0.55.0 through indirect dependency conversion
  api/go.mod
  api/vendor/modules.txt
  client/go.sum
  models/go.mod
  models/go.sum
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-39433: CVE-2026-42502 Bump golang.org/x/net to v0.55.0 through indirect dependency conversion
  client/go.mod
  client/go.sum
  client/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-44902: CVE-2026-88031 Bump go.mongodb.org/mongo-driver to v1.17.10 through indirect dependency conversion
  api/go.mod
  api/go.sum
  api/vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/default_value_decoders.go
  api/vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/uint_codec.go
  api/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_parser.go
  api/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_wrappers.go
  api/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_writer.go
  api/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/json_scanner.go
  api/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/value_reader.go
  api/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/value_writer.go
  api/vendor/go.mongodb.org/mongo-driver/bson/doc.go
  api/vendor/go.mongodb.org/mongo-driver/bson/primitive/decimal.go
  api/vendor/go.mongodb.org/mongo-driver/bson/raw_value.go
  api/vendor/go.mongodb.org/mongo-driver/bson/registry.go
  api/vendor/go.mongodb.org/mongo-driver/bson/unmarshal.go
  api/vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/bsoncore.go
  api/vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/doc.go
  api/vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/element.go
  api/vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/value.go
  api/vendor/modules.txt
  go.mod
  go.sum
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/default_value_decoders.go
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/uint_codec.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_parser.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_wrappers.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_writer.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/json_scanner.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/value_reader.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/value_writer.go
  vendor/go.mongodb.org/mongo-driver/bson/doc.go
  vendor/go.mongodb.org/mongo-driver/bson/primitive/decimal.go
  vendor/go.mongodb.org/mongo-driver/bson/raw_value.go
  vendor/go.mongodb.org/mongo-driver/bson/registry.go
  vendor/go.mongodb.org/mongo-driver/bson/unmarshal.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/bsoncore.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/doc.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/element.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/value.go
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-39419: CVE-2026-42502 Bump golang.org/x/net to v0.55.0 through indirect dependency conversion
  client/go.mod
  client/go.sum
  client/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-35325: CVE-2026-39821 Bump golang.org/x/net to v0.55.0 through indirect dependency conversion
  api/go.mod
  api/vendor/modules.txt
  client/go.sum
  models/go.mod
  models/go.sum
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-35325: CVE-2026-39821 Bump golang.org/x/net to v0.55.0 through indirect dependency conversion
  client/go.mod
  client/go.sum
  client/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-41343: CVE-2026-34040 Bump github.com/moby/moby to v2.0.0-beta.8 using replace directive
  models/go.mod
  models/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-41343: CVE-2026-34040 Bump github.com/moby/moby to v2.0.0-beta.8 using replace directive
  client/go.mod
  client/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-41343: CVE-2026-34040 Bump github.com/moby/moby to v2.0.0-beta.8 using replace directive
  api/go.mod
  api/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-disconnected-capi, ci/prow/edge-e2e-ai-operator-ztp-capi, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-41341: CVE-2026-34040 Bump github.com/moby/moby to v2.0.0-beta.8 using replace directive
  client/go.mod
  client/vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-lint, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

ACM-44946: CVE-2026-88031 Bump go.mongodb.org/mongo-driver to v1.17.10 through indirect dependency conversion
  client/go.mod
  client/go.sum
  client/vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/default_value_decoders.go
  client/vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/uint_codec.go
  client/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_parser.go
  client/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_wrappers.go
  client/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_writer.go
  client/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/json_scanner.go
  client/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/value_reader.go
  client/vendor/go.mongodb.org/mongo-driver/bson/bsonrw/value_writer.go
  client/vendor/go.mongodb.org/mongo-driver/bson/doc.go
  client/vendor/go.mongodb.org/mongo-driver/bson/primitive/decimal.go
  client/vendor/go.mongodb.org/mongo-driver/bson/raw_value.go
  client/vendor/go.mongodb.org/mongo-driver/bson/registry.go
  client/vendor/go.mongodb.org/mongo-driver/bson/unmarshal.go
  client/vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/bsoncore.go
  client/vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/doc.go
  client/vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/element.go
  client/vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/value.go
  client/vendor/modules.txt
  go.mod
  go.sum
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/default_value_decoders.go
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/uint_codec.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_parser.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_wrappers.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_writer.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/json_scanner.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/value_reader.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/value_writer.go
  vendor/go.mongodb.org/mongo-driver/bson/doc.go
  vendor/go.mongodb.org/mongo-driver/bson/primitive/decimal.go
  vendor/go.mongodb.org/mongo-driver/bson/raw_value.go
  vendor/go.mongodb.org/mongo-driver/bson/registry.go
  vendor/go.mongodb.org/mongo-driver/bson/unmarshal.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/bsoncore.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/doc.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/element.go
  vendor/go.mongodb.org/mongo-driver/x/bsonx/bsoncore/value.go
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted-4-20, ci/prow/edge-lint, ci/prow/edge-subsystem-aws, ci/prow/edge-subsystem-kubeapi-aws, ci/prow/edge-unit-test, ci/prow/edge-verify-generated-code

Path conditions:
  e2e-agent-compact-ipv4: unless all of: ^openshift/|^\.tekton/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/e2e-agent-compact-ipv4: unless all of: ^openshift/|^\.tekton/|^docs/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-assisted-operator-catalog-publish-verify: any of: ^(deploy/olm-catalog/.*)$
  ci/prow/edge-e2e-ai-operator-disconnected-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp: any of: ^(cmd/.*|deploy/operator/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-ai-operator-ztp-capi: any of: ^(deploy/operator/.*|api/.*|internal/controller/controllers/.*)$
  ci/prow/edge-e2e-ai-operator-ztp-disconnected: any of: ^(deploy/operator/.*)$
  ci/prow/edge-e2e-metal-assisted-4-20: any of: ^(cmd/.*|data/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-e2e-metal-assisted-external-4-20: any of: ^(internal/provider/[^/]+\.go|internal/provider/external/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-metal-assisted-lvm-4-20: any of: ^(internal/operators/[^/]+\.go|internal/operators/lvm/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-none-4-20: any of: ^(internal/provider/[^/]+\.go|internal/provider/none/.*|internal/provider/registry/.*)$
  ci/prow/edge-e2e-metal-assisted-openshift-ai-4-18: any of: ^(internal/operators/.*\.go)$
  ci/prow/edge-e2e-metal-assisted-osc-4-20: any of: ^(internal/operators/[^/]+\.go|internal/operators/osc/.*|internal/operators/api/.*|internal/operators/handler/.*)$
  ci/prow/edge-e2e-metal-assisted-virtualization-4-19: any of: ^(internal/operators/.*\.go)$
  ci/prow/edge-e2e-vsphere-assisted-4-20: any of: ^(internal/provider/[^/]+\.go|internal/provider/vsphere/.*|internal/provider/registry/.*)$
  ci/prow/edge-lint: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Dockerfile\..*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/edge-unit-test: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
  ci/prow/edge-verify-generated-code: unless all of: ^dashboards/|^\.tekton/|^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNERS_ALIASES)$
