Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact, ci/prow/edge-lint, ci/prow/edge-unit-test

e2e-agent-compact:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-compact-ipv4

ci/prow/edge-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/edge-unit-test:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

MGMT-11293: Added default network type setting during registration
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  restapi/embedded_spec.go
  swagger.yaml
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11293: Added default network type setting during registration (#4424)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  restapi/embedded_spec.go
  swagger.yaml
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMTBUGSM-529: fix error msg in update disk path scenario
  internal/host/host.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11753: fix flaky kustomize installation (#4323)
  Dockerfile.assisted-service-build
  Dockerfile.bundle
  ci-images/Dockerfile.code-generation
  ci-images/Dockerfile.subsystem
  deploy/operator/setup_hive.sh
  hack/Makefile
  hack/generate.sh
  hack/setup_env.sh
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

Bug 2131023: Allow arm64 sno installation (#4454)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11635: Bad request error when user chooses both LVM and CNV
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/operators/manager.go
  internal/operators/manager_test.go
  subsystem/cluster_test.go
  subsystem/operators_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11090: Enhancement Doc: Assisted boot-reporter service
  docs/enhancements/boot-status-reporter.md
Due: none

MGMTBUGSM-529: fix error msg in update disk path scenario (#4458)
  internal/host/host.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

Update infraEnv initrd URL when image content is updated
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11635: Bad request error when user chooses both LVM and CNV (#4448)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/operators/manager.go
  internal/operators/manager_test.go
  subsystem/cluster_test.go
  subsystem/operators_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Bump OCP versions release 4.11.6 -> 4.11.7
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-8890: Allow weak matching for GetReleaseImage
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/controller/controllers/preprovisioningimage_controller.go
  internal/controller/controllers/preprovisioningimage_controller_test.go
  internal/host/hostcommands/container_image_availability_cmd.go
  internal/host/hostcommands/container_image_availability_cmd_test.go
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/install_cmd_test.go
  internal/host/hostcommands/instruction_manager_test.go
  internal/versions/mock_versions.go
  internal/versions/versions.go
  internal/versions/versions_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Update subsystem docs to use minikube with podman
  docs/dev/running-test.md
Due: none

NO-ISSUE: Change `get_current_size_if_exist` to inspect PVC `.spec` and not `.status`
  tools/pvc_size_utils.py
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

Update infraEnv initrd URL when image content is updated (#4461)
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Bump OCP versions release 4.10.34 -> 4.10.35, release 4.11.6 -> 4.11.7
  data/default_release_images.json
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Change `get_current_size_if_exist` to inspect PVC `.spec` and not `.status` (#4465)
  tools/pvc_size_utils.py
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-8578: Describe process for day2 master for OCP 4.11
  docs/user-guide/day2-master/411-healthy.md
  docs/user-guide/day2-master/411-unhealthy.md
  docs/user-guide/day2-master/README.md
  docs/user-guide/day2-master/link-machine-and-node.sh
Due: none

MGMT-10557: Docs for per-customer feature enablement
  docs/dev/feature-per-customer.md
Due: none

MGMT-11878: Extend validator unit-tests to contain IPv6 URLs
  pkg/validations/validations_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

Fix panic when infraEnv image has not been created
  internal/controller/controllers/preprovisioningimage_controller.go
  internal/controller/controllers/preprovisioningimage_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11878: Extend validator unit-tests to contain IPv6 URLs (#4470)
  pkg/validations/validations_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-10557: Docs for per-customer feature enablement (#4469)
  docs/dev/feature-per-customer.md
Due: none

Update running-test.md
  docs/dev/running-test.md
Due: none

MGMT-11751: ensure agent-install CRDs exist spoke cluster
  api/v1beta1/hypershiftagentserviceconfig_types.go
  cmd/operator/main.go
  config/rbac/role.yaml
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  internal/controller/controllers/common.go
  internal/controller/controllers/hypershiftagentserviceconfig_controller.go
  internal/controller/controllers/hypershiftagentserviceconfig_controller_test.go
  internal/spoke_k8s_client/spoke_k8s_client.go
  vendor/github.com/openshift/assisted-service/api/v1beta1/hypershiftagentserviceconfig_types.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11736: refactor ASC reconciler
  cmd/operator/main.go
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-8578: Describe process for day2 master for OCP 4.11 (#4442)
  docs/user-guide/day2-master/411-healthy.md
  docs/user-guide/day2-master/411-unhealthy.md
  docs/user-guide/day2-master/README.md
  docs/user-guide/day2-master/link-machine-and-node.sh
Due: none

MGMT-11878: Extend URL validator to check for trailing whitespaces
  pkg/validations/validations_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: reduce build image size and leverage buildkit cache
  Dockerfile.assisted-service-build
  README.md
  hack/setup_env.sh
  skipper.env
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

agent-based-client: Apply installconfig overrides
  cmd/agentbasedinstaller/register.go
  docs/hive-integration/crds/agentClusterInstall-with-installconfig-overrides.yaml
  subsystem/agent_based_installer_client_test.go
Due: e2e-agent-compact, ci/prow/edge-lint, ci/prow/edge-unit-test

Bump OCP versions: openshift 4.10.34 -> 4.10.35, openshift 4.11.6 -> 4.11.7 rhcos 4.8.14 -> 4.8.14, rhcos 4.9.45 -> 4.9.45, rhcos 4.10.25 -> 4.10.25
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

Bug 2106110: Don't set ip=<nic>:dhcp kernel params with static networking
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/install_cmd_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Use 4.11 index for LSO installation in 4.12
  deploy/operator/setup_lso.sh
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Update subsystem docs to use minikube with podman (#4467)
  docs/dev/running-test.md
Due: none

MGMT-11751: ensure agent-install CRDs exist spoke cluster (#4401)
  api/v1beta1/hypershiftagentserviceconfig_types.go
  cmd/operator/main.go
  config/rbac/role.yaml
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  internal/controller/controllers/common.go
  internal/controller/controllers/hypershiftagentserviceconfig_controller.go
  internal/controller/controllers/hypershiftagentserviceconfig_controller_test.go
  internal/spoke_k8s_client/spoke_k8s_client.go
  vendor/github.com/openshift/assisted-service/api/v1beta1/hypershiftagentserviceconfig_types.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

agent-based-client: Apply installconfig overrides (#4471)
  cmd/agentbasedinstaller/register.go
  docs/hive-integration/crds/agentClusterInstall-with-installconfig-overrides.yaml
  subsystem/agent_based_installer_client_test.go
Due: e2e-agent-compact, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Use 4.11 index for LSO installation in 4.12 (#4476)
  deploy/operator/setup_lso.sh
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-11736: refactor ASC reconciler (#4385)
  cmd/operator/main.go
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

Bump OCP versions: openshift 4.10.34 -> 4.10.35, openshift 4.11.6 -> 4.11.7 rhcos 4.8.14 -> 4.8.14, rhcos 4.9.45 -> 4.9.45, rhcos 4.10.25 -> 4.10.25 (#4473)
  config/manager/manager.yaml
  config/samples/agent-install.openshift.io_v1beta1_agentserviceconfig.yaml
  data/default_os_images.json
  data/default_release_images.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/podman/configmap.yml
  openshift/template.yaml
Due: ci/prow/edge-lint, ci/prow/edge-unit-test

Path conditions:
  e2e-agent-compact: any of: ^(Dockerfile\.assisted-service\.ocp)|(cmd/agentbasedinstaller)
  ci/prow/edge-lint: unless all of: ^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
  ci/prow/edge-unit-test: unless all of: ^openshift/|^docs/|^sites/|\.md$|^(LICENSE|OWNERS|OWNER_ALIASES)$
