Repository kubevirt/kubevirt-tekton-tasks: changes, and which Prow jobs are due for each by the changed paths.
All: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

win10-pipeline-example-test:
  steps:
    cluster_profile: gcp-virtualization
    env:
      COMPUTE_NODE_TYPE: n2-standard-4
    test:
    - as: win10-pipeline-example-test
      cli: latest
      commands: TARGET=windows10 ./automation/e2e-pipelines/example-pipelines-test.sh
      credentials:
      - mount_path: /tmp/secrets
  ...

win11-pipeline-example-test:
  steps:
    cluster_profile: gcp-virtualization
    env:
      COMPUTE_NODE_TYPE: n2-standard-4
    test:
    - as: win11-pipeline-example-test
      cli: latest
      commands: TARGET=windows11 ./automation/e2e-pipelines/example-pipelines-test.sh
      credentials:
      - mount_path: /tmp/secrets
  ...

win2k22-pipeline-example-test:
  steps:
    cluster_profile: gcp-virtualization
    env:
      COMPUTE_NODE_TYPE: n2-standard-4
    test:
    - as: win2k22-pipeline-example-test
      cli: latest
      commands: TARGET=windows2k22 ./automation/e2e-pipelines/example-pipelines-test.sh
      credentials:
      - mount_path: /tmp/secrets
  ...

win2k25-pipeline-example-test:
  steps:
    cluster_profile: gcp-virtualization
    env:
      COMPUTE_NODE_TYPE: n2-standard-4
    test:
    - as: win2k25-pipeline-example-test
      cli: latest
      commands: TARGET=windows2k25 ./automation/e2e-pipelines/example-pipelines-test.sh
      credentials:
      - mount_path: /tmp/secrets
  ...

ci/prow/win10-pipeline-example-test:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp-virtualization
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/win11-pipeline-example-test:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp-virtualization
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/win2k22-pipeline-example-test:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp-virtualization
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/win2k25-pipeline-example-test:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp-virtualization
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

feat: update golang, bump dependencies in go.mod, go.sum
  build/Containerfile
  build/Containerfile.DiskVirt
  go.mod
  go.sum
Due: none

fix: test code
  modules/wait-for-vmi-status/pkg/requirements/lookup_test.go
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module github.com/tektoncd/pipeline to v1 [security]
  go.mod
Due: none

chore(deps): update module github.com/tektoncd/pipeline to v1.11.1 [security]
  go.mod
Due: none

chore(deps): update module golang.org/x/sys to v0.44.0 [security]
  go.mod
  go.sum
  vendor/golang.org/x/sys/cpu/asm_darwin_arm64_gc.s
  vendor/golang.org/x/sys/cpu/cpu_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_darwin_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_darwin_arm64_other.go
  vendor/golang.org/x/sys/cpu/cpu_gccgo_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_other_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_windows.go
  vendor/golang.org/x/sys/cpu/cpu_windows_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_x86.go
  vendor/golang.org/x/sys/cpu/syscall_darwin_arm64_gc.go
  vendor/golang.org/x/sys/cpu/zcpu_windows.go
  vendor/golang.org/x/sys/plan9/syscall_plan9.go
  vendor/golang.org/x/sys/unix/affinity_linux.go
  vendor/golang.org/x/sys/unix/ioctl_signed.go
  vendor/golang.org/x/sys/unix/ioctl_unsigned.go
  vendor/golang.org/x/sys/unix/mkall.sh
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_linux_arm.go
  vendor/golang.org/x/sys/unix/syscall_linux_arm64.go
  vendor/golang.org/x/sys/unix/syscall_linux_loong64.go
  vendor/golang.org/x/sys/unix/syscall_linux_riscv64.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/syscall_unix.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/aliases.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Due: none

chore(deps): update module kubevirt.io/kubevirt to v1.8.2 [security]
  go.mod
Due: none

chore(deps): update module github.com/docker/cli to v29 [security]
  go.mod
  go.sum
  vendor/github.com/docker/cli/AUTHORS
  vendor/github.com/docker/cli/cli/config/config.go
  vendor/github.com/docker/cli/cli/config/configfile/file.go
  vendor/github.com/docker/cli/cli/config/memorystore/store.go
  vendor/github.com/docker/cli/cli/config/types/authconfig.go
  vendor/modules.txt
Due: none

Automated update of virtio win image version to v1.8.3
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  templates-pipelines/windows-efi-installer/manifests/windows-efi-installer.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module github.com/tektoncd/pipeline to v1 [security]
  modules/tests/go.mod
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

Automated update of virtio win image version to v1.8.4
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  templates-pipelines/windows-efi-installer/manifests/windows-efi-installer.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

feat(disk-uploader): add download and upload progress logging
  cmd/disk-uploader/main.go
  modules/disk-uploader/pkg/config/config.go
  modules/disk-uploader/pkg/constants/constants.go
  modules/disk-uploader/pkg/disk/disk.go
  modules/disk-uploader/pkg/image/image.go
  vendor/github.com/google/go-containerregistry/internal/windows/windows.go
  vendor/github.com/google/go-containerregistry/pkg/crane/append.go
  vendor/github.com/google/go-containerregistry/pkg/crane/catalog.go
  vendor/github.com/google/go-containerregistry/pkg/crane/config.go
  vendor/github.com/google/go-containerregistry/pkg/crane/copy.go
  vendor/github.com/google/go-containerregistry/pkg/crane/delete.go
  vendor/github.com/google/go-containerregistry/pkg/crane/digest.go
  vendor/github.com/google/go-containerregistry/pkg/crane/doc.go
  vendor/github.com/google/go-containerregistry/pkg/crane/export.go
  vendor/github.com/google/go-containerregistry/pkg/crane/filemap.go
  vendor/github.com/google/go-containerregistry/pkg/crane/get.go
  vendor/github.com/google/go-containerregistry/pkg/crane/list.go
  vendor/github.com/google/go-containerregistry/pkg/crane/manifest.go
  vendor/github.com/google/go-containerregistry/pkg/crane/options.go
  vendor/github.com/google/go-containerregistry/pkg/crane/pull.go
  vendor/github.com/google/go-containerregistry/pkg/crane/push.go
  vendor/github.com/google/go-containerregistry/pkg/crane/tag.go
  vendor/github.com/google/go-containerregistry/pkg/legacy/config.go
  vendor/github.com/google/go-containerregistry/pkg/legacy/doc.go
  vendor/github.com/google/go-containerregistry/pkg/legacy/tarball/README.md
  vendor/github.com/google/go-containerregistry/pkg/legacy/tarball/doc.go
  vendor/github.com/google/go-containerregistry/pkg/legacy/tarball/write.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/README.md
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/blob.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/doc.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/gc.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/image.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/index.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/layoutpath.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/options.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/read.go
  vendor/github.com/google/go-containerregistry/pkg/v1/layout/write.go
  vendor/modules.txt
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore: regenerate release manifests for v0.26.0
  release/pipelines/windows-customize/README.md
  release/pipelines/windows-customize/pipelineruns/pipelineruns.yaml
  release/pipelines/windows-customize/windows-customize.yaml
  release/pipelines/windows-efi-installer/README.md
  release/pipelines/windows-efi-installer/pipelineruns/pipelineruns.yaml
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  release/tasks/cleanup-vm/README.md
  release/tasks/cleanup-vm/cleanup-vm.yaml
  release/tasks/cleanup-vm/examples/taskruns/cleanup-vm-taskrun-resolver.yaml
  release/tasks/create-vm-from-manifest/README.md
  release/tasks/create-vm-from-manifest/create-vm-from-manifest.yaml
  release/tasks/create-vm-from-manifest/examples/taskruns/create-vm-from-manifest-taskrun-resolver.yaml
  release/tasks/disk-uploader/README.md
  release/tasks/disk-uploader/disk-uploader.yaml
  release/tasks/disk-uploader/examples/taskruns/disk-uploader-taskrun-resolver.yaml
  release/tasks/disk-virt-customize/README.md
  release/tasks/disk-virt-customize/disk-virt-customize.yaml
  release/tasks/disk-virt-customize/examples/taskruns/disk-virt-customize-taskrun-resolver.yaml
  release/tasks/disk-virt-sysprep/README.md
  release/tasks/disk-virt-sysprep/disk-virt-sysprep.yaml
  release/tasks/disk-virt-sysprep/examples/taskruns/disk-virt-sysprep-taskrun-resolver.yaml
  release/tasks/execute-in-vm/README.md
  release/tasks/execute-in-vm/examples/taskruns/execute-in-vm-with-ssh-taskrun-resolver.yaml
  release/tasks/execute-in-vm/execute-in-vm.yaml
  release/tasks/generate-ssh-keys/README.md
  release/tasks/generate-ssh-keys/examples/taskruns/generate-ssh-keys-advanced-taskrun-resolver.yaml
  release/tasks/generate-ssh-keys/generate-ssh-keys.yaml
  release/tasks/modify-data-object/README.md
  release/tasks/modify-data-object/examples/taskruns/modify-data-object-taskrun-resolver.yaml
  release/tasks/modify-data-object/modify-data-object.yaml
  release/tasks/modify-windows-iso-file/README.md
  release/tasks/modify-windows-iso-file/examples/taskruns/modify-windows-iso-file-taskrun-resolver.yaml
  release/tasks/modify-windows-iso-file/modify-windows-iso-file.yaml
  release/tasks/wait-for-vmi-status/README.md
  release/tasks/wait-for-vmi-status/examples/taskruns/wait-for-vmi-status-taskrun-resolver.yaml
  release/tasks/wait-for-vmi-status/wait-for-vmi-status.yaml
  scripts/makefile-snippets/makefile-release.mk
Due: none

Update modify-windows-iso-file.yaml
  templates/modify-windows-iso-file/manifests/modify-windows-iso-file.yaml
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module kubevirt.io/kubevirt to v1.8.3 [security]
  go.mod
  go.sum
  vendor/kubevirt.io/kubevirt/pkg/libvmi/devices.go
  vendor/kubevirt.io/kubevirt/pkg/libvmi/lifecycle.go
  vendor/modules.txt
Due: none

chore(deps): update module kubevirt.io/kubevirt to v1.8.3 [security]
  modules/create-vm/go.mod
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module kubevirt.io/kubevirt to v1.8.3 [security]
  go.mod
Due: none

feat(windows-efi-installer): add baseDvSize param for base DataVolume size
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  templates-pipelines/windows-efi-installer/manifests/windows-efi-installer.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module github.com/docker/cli to v29 [security]
  go.mod
  go.sum
  vendor/github.com/docker/cli/AUTHORS
  vendor/github.com/docker/cli/cli/config/config.go
  vendor/github.com/docker/cli/cli/config/configfile/file.go
  vendor/github.com/docker/cli/cli/config/credentials/file_store.go
  vendor/github.com/docker/cli/cli/config/memorystore/store.go
  vendor/github.com/docker/cli/cli/config/types/authconfig.go
  vendor/modules.txt
Due: none

chore(deps): update module golang.org/x/net to v0.56.0 [security]
  go.mod
  go.sum
  vendor/golang.org/x/net/html/entity.go
  vendor/golang.org/x/net/html/escape.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/server_wrap.go
  vendor/golang.org/x/net/http2/transport_wrap.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux_386.go
  vendor/golang.org/x/sys/unix/ztypes_linux_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_loong64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mipsle.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_linux_sparc64.go
  vendor/modules.txt
Due: none

chore(deps): update module golang.org/x/text to v0.39.0 [security]
  go.mod
  go.sum
  vendor/golang.org/x/net/html/entity.go
  vendor/golang.org/x/net/html/escape.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/server_wrap.go
  vendor/golang.org/x/net/http2/transport_wrap.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux_386.go
  vendor/golang.org/x/sys/unix/ztypes_linux_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_loong64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mipsle.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_linux_sparc64.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/golang.org/x/text/unicode/norm/iter.go
  vendor/golang.org/x/text/unicode/norm/normalize.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/golang.org/x/tools/internal/typesinternal/element.go
  vendor/golang.org/x/tools/internal/typesinternal/types.go
  vendor/golang.org/x/tools/internal/typesinternal/zerovalue.go
  vendor/modules.txt
Due: none

Path conditions:
  win10-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-bios-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win11-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win2k22-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win2k25-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win10-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-bios-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win11-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win2k22-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win2k25-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
