Repository kubevirt/kubevirt-tekton-tasks: changes, and which Prow jobs are due for each by the changed paths.
All: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

Path conditions:
  win10-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-bios-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win11-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win2k22-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win2k25-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win10-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-bios-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win11-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win2k22-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win2k25-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$

NO-ISSUE: CVE-2025-65637 Bump github.com/sirupsen/logrus to v1.8.3 through indirect dependency conversion
  modules/tests/go.mod
  modules/tests/go.sum
  modules/tests/vendor/github.com/sirupsen/logrus/README.md
  modules/tests/vendor/github.com/sirupsen/logrus/buffer_pool.go
  modules/tests/vendor/github.com/sirupsen/logrus/entry.go
  modules/tests/vendor/github.com/sirupsen/logrus/logger.go
  modules/tests/vendor/github.com/sirupsen/logrus/writer.go
  modules/tests/vendor/modules.txt
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module kubevirt.io/kubevirt to v1.7.1 [security]
  go.mod
  go.sum
  vendor/modules.txt
Due: none

chore(deps): update module kubevirt.io/kubevirt to v1.7.1 [security]
  go.mod
Due: none

Automated update of virtio win image version to v1.7.1
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  templates-pipelines/windows-efi-installer/manifests/windows-efi-installer.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module kubevirt.io/kubevirt to v1.7.0 [security]
  modules/create-vm/go.mod
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module kubevirt.io/kubevirt to v1.7.1 [security]
  modules/create-vm/go.mod
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module github.com/docker/cli to v29 [security]
  go.mod
  go.sum
  vendor/github.com/docker/cli/AUTHORS
  vendor/github.com/docker/cli/cli/config/config.go
  vendor/github.com/docker/cli/cli/config/configfile/file.go
  vendor/github.com/docker/cli/cli/config/memorystore/store.go
  vendor/github.com/docker/cli/cli/config/types/authconfig.go
  vendor/modules.txt
Due: none

chore(deps): update module github.com/docker/cli to v29 [security]
  go.mod
  go.sum
  vendor/github.com/docker/cli/AUTHORS
  vendor/github.com/docker/cli/cli/config/config.go
  vendor/github.com/docker/cli/cli/config/configfile/file.go
  vendor/github.com/docker/cli/cli/config/credentials/file_store.go
  vendor/github.com/docker/cli/cli/config/memorystore/store.go
  vendor/github.com/docker/cli/cli/config/types/authconfig.go
  vendor/modules.txt
Due: none

chore(deps): update module github.com/sigstore/sigstore to v1.10.4 [security]
  go.mod
Due: none

chore(deps): update module github.com/go-jose/go-jose/v4 to v4.1.4 [security]
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v4/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v4/README.md
  vendor/github.com/go-jose/go-jose/v4/asymmetric.go
  vendor/github.com/go-jose/go-jose/v4/cipher/key_wrap.go
  vendor/github.com/go-jose/go-jose/v4/crypter.go
  vendor/github.com/go-jose/go-jose/v4/jwk.go
  vendor/github.com/go-jose/go-jose/v4/shared.go
  vendor/github.com/go-jose/go-jose/v4/signing.go
  vendor/github.com/go-jose/go-jose/v4/symmetric.go
  vendor/github.com/go-jose/go-jose/v4/symmetric_go124.go
  vendor/github.com/go-jose/go-jose/v4/symmetric_legacy.go
  vendor/modules.txt
Due: none

docs: add AGENTS.md and modular documentation structure
  .claude/CLAUDE.md
  .cursor/rules/read-agents-first.mdc
  .cursorrules
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  README.md
  docs/ai-workflow.md
  docs/build.md
  docs/ci.md
  docs/code-conventions.md
  docs/contributing.md
  docs/getting-started.md
  docs/onboarding-new-task.md
  docs/release.md
  docs/testing.md
  docs/yaml-generation.md
Due: none

fix(pipelines): remove BitLocker fix from windows11-unattend ConfigMap
  release/pipelines/windows-customize/configmaps/windows-customize-configmaps.yaml
  templates-pipelines/windows-customize/configmaps/windows-customize-configmaps.yaml
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module github.com/tektoncd/pipeline to v1.11.1 [security]
  go.mod
Due: none

chore(deps): update module kubevirt.io/kubevirt to v1.8.2 [security]
  go.mod
Due: none

chore(deps): update module google.golang.org/grpc to v1.79.3 [security]
  modules/tests/go.mod
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module github.com/tektoncd/pipeline to v1 [security]
  modules/tests/go.mod
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module github.com/docker/cli to v29 [security]
  modules/tests/go.mod
  modules/tests/go.sum
  modules/tests/vendor/github.com/docker/cli/AUTHORS
  modules/tests/vendor/github.com/docker/cli/NOTICE
  modules/tests/vendor/github.com/docker/cli/cli/config/config.go
  modules/tests/vendor/github.com/docker/cli/cli/config/configfile/file.go
  modules/tests/vendor/github.com/docker/cli/cli/config/configfile/file_unix.go
  modules/tests/vendor/github.com/docker/cli/cli/config/credentials/default_store.go
  modules/tests/vendor/github.com/docker/cli/cli/config/credentials/default_store_unsupported.go
  modules/tests/vendor/github.com/docker/cli/cli/config/credentials/file_store.go
  modules/tests/vendor/github.com/docker/cli/cli/config/credentials/native_store.go
  modules/tests/vendor/github.com/docker/cli/cli/config/memorystore/store.go
  modules/tests/vendor/github.com/docker/cli/cli/config/types/authconfig.go
  modules/tests/vendor/github.com/docker/docker/AUTHORS
  modules/tests/vendor/github.com/docker/docker/LICENSE
  modules/tests/vendor/github.com/docker/docker/NOTICE
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir.go
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir_linux.go
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir_others.go
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir_unix.go
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir_windows.go
  modules/tests/vendor/modules.txt
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test
