Repository kubevirt/kubevirt-tekton-tasks: changes, and which Prow jobs are due for each by the changed paths.
All: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

Path conditions:
  win10-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-bios-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win11-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win2k22-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win2k25-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win10-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-bios-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win11-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win2k22-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win2k25-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$

chore(deps): update module google.golang.org/grpc to v1.82.1 [security]
  go.mod
  go.sum
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/balancer/pickfirst/pickfirst.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/encoding/encoding.go
  vendor/google.golang.org/grpc/encoding/gzip/gzip.go
  vendor/google.golang.org/grpc/experimental/balancer/weight/weight.go
  vendor/google.golang.org/grpc/health/grpc_health_v1/health_grpc.pb.go
  vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/grpcutil/encode_duration.go
  vendor/google.golang.org/grpc/internal/resolver/config_selector.go
  vendor/google.golang.org/grpc/internal/stats/labels.go
  vendor/google.golang.org/grpc/internal/transport/client_stream.go
  vendor/google.golang.org/grpc/internal/transport/controlbuf.go
  vendor/google.golang.org/grpc/internal/transport/flowcontrol.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/internal/internal.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/rpc_util.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: none

chore(deps): update module google.golang.org/grpc to v1.82.1 [security]
  modules/tests/go.mod
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

fix(disk-uploader): increase image push retry backoff
  modules/disk-uploader/pkg/image/image.go
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

fix(disk-uploader): add retry predicate for HTTP/2 GOAWAY errors
  modules/disk-uploader/pkg/image/image.go
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

feat(disk-uploader): delete VirtualMachineExport after use
  cmd/disk-uploader/main.go
  modules/disk-uploader/pkg/vmexport/vmexport.go
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

fix: reduce flakiness in too-low-timeout execute/cleanup VM e2e tests
  test/execute_and_cleanup_vm_test.go
  test/testconfigs/execute-in-vm-test-config.go
Due: none

fix(disk-uploader): ignore IsNotFound when deleting VirtualMachineExport
  modules/disk-uploader/pkg/vmexport/vmexport.go
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module kubevirt.io/kubevirt to v1.9.0 [security]
  go.mod
Due: none

Automated update of virtio win image version to v1.9.0
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  templates-pipelines/windows-efi-installer/manifests/windows-efi-installer.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update kubevirt.io/kubevirt to v1.9.0
  go.mod
  go.sum
Due: none

fix(disk-uploader): migrate VirtualMachineExport API from v1beta1 to v1
  modules/disk-uploader/pkg/certificate/certificate_test.go
  modules/disk-uploader/pkg/vmexport/vmexport.go
  modules/disk-uploader/pkg/vmexport/vmexport_test.go
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

fix(wait-for-vmi-status): use stable Running phase in e2e test
  test/wait_for_vmi_status_test.go
Due: none

fix(test): eliminate race condition in WaitForTaskRunState log capture
  test/tekton/taskrun.go
Due: none

fix: replace dockerhub fedora image with quay image
  modules/sharedtest/testobjects/fedora-cloud-vm.go
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

fix(execute-in-vm): report timeout when budget expires before script runs
  cmd/execute-in-vm/main.go
  modules/execute-in-vm/pkg/utils/utils.go
  modules/execute-in-vm/pkg/utils/utils_suite_test.go
  modules/execute-in-vm/pkg/utils/utils_test.go
  test/execute_and_cleanup_vm_test.go
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module golang.org/x/net to v0.56.0 [security]
  go.mod
  go.sum
  vendor/golang.org/x/net/html/entity.go
  vendor/golang.org/x/net/html/escape.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/server_wrap.go
  vendor/golang.org/x/net/http2/transport_wrap.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux_386.go
  vendor/golang.org/x/sys/unix/ztypes_linux_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_loong64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mipsle.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_linux_sparc64.go
  vendor/modules.txt
Due: none

chore(deps): update module golang.org/x/text to v0.39.0 [security]
  go.mod
  go.sum
  vendor/golang.org/x/net/html/entity.go
  vendor/golang.org/x/net/html/escape.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/server_wrap.go
  vendor/golang.org/x/net/http2/transport_wrap.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux_386.go
  vendor/golang.org/x/sys/unix/ztypes_linux_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_loong64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mipsle.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_linux_sparc64.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/golang.org/x/text/unicode/norm/iter.go
  vendor/golang.org/x/text/unicode/norm/normalize.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/golang.org/x/tools/internal/typesinternal/element.go
  vendor/golang.org/x/tools/internal/typesinternal/types.go
  vendor/golang.org/x/tools/internal/typesinternal/zerovalue.go
  vendor/modules.txt
Due: none

chore(deps): update module kubevirt.io/kubevirt to v1.9.0 [security]
  modules/create-vm/go.mod
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test
