Repository kubevirt/kubevirt-tekton-tasks: changes, and which Prow jobs are due for each by the changed paths.
All: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

win10-pipeline-example-test:
  steps:
    cluster_profile: gcp-virtualization
    env:
      COMPUTE_NODE_TYPE: n2-standard-4
    test:
    - as: win10-pipeline-example-test
      cli: latest
      commands: TARGET=windows10 ./automation/e2e-pipelines/example-pipelines-test.sh
      credentials:
      - mount_path: /tmp/secrets
  ...

win11-pipeline-example-test:
  steps:
    cluster_profile: gcp-virtualization
    env:
      COMPUTE_NODE_TYPE: n2-standard-4
    test:
    - as: win11-pipeline-example-test
      cli: latest
      commands: TARGET=windows11 ./automation/e2e-pipelines/example-pipelines-test.sh
      credentials:
      - mount_path: /tmp/secrets
  ...

win2k22-pipeline-example-test:
  steps:
    cluster_profile: gcp-virtualization
    env:
      COMPUTE_NODE_TYPE: n2-standard-4
    test:
    - as: win2k22-pipeline-example-test
      cli: latest
      commands: TARGET=windows2k22 ./automation/e2e-pipelines/example-pipelines-test.sh
      credentials:
      - mount_path: /tmp/secrets
  ...

win2k25-pipeline-example-test:
  steps:
    cluster_profile: gcp-virtualization
    env:
      COMPUTE_NODE_TYPE: n2-standard-4
    test:
    - as: win2k25-pipeline-example-test
      cli: latest
      commands: TARGET=windows2k25 ./automation/e2e-pipelines/example-pipelines-test.sh
      credentials:
      - mount_path: /tmp/secrets
  ...

ci/prow/win10-pipeline-example-test:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp-virtualization
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/win11-pipeline-example-test:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp-virtualization
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/win2k22-pipeline-example-test:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp-virtualization
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/win2k25-pipeline-example-test:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp-virtualization
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

Automated update of virtio win image version to v1.6.0
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  templates-pipelines/windows-efi-installer/manifests/windows-efi-installer.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module github.com/docker/docker to v28 [security]
  modules/tests/go.mod
  modules/tests/go.sum
  modules/tests/vendor/github.com/docker/docker/AUTHORS
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir.go
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir_unix.go
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir_windows.go
  modules/tests/vendor/modules.txt
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

update container disk with multiarch image
  modules/sharedtest/testobjects/alpine-vm.go
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

update cirros based testcase to alpine
  test/disk_uploader_test.go
Due: none

fix: hardcode ssp operator, kubevirt, cdi versions
  automation/e2e-deploy-resources.sh
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

add s390x support
  build/Containerfile.DiskVirt
  release/tasks/disk-virt-customize/disk-virt-customize.yaml
  release/tasks/disk-virt-sysprep/disk-virt-sysprep.yaml
  scripts/build-release-images.sh
  templates/disk-virt-customize/manifests/disk-virt-customize.yaml
  templates/disk-virt-sysprep/manifests/disk-virt-sysprep.yaml
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

fix: hardcode ssp operator to version v0.18.3
  automation/e2e-deploy-resources.sh
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

feat: add openshift.io/required-scc annotations to tasks
  release/pipelines/windows-efi-installer/README.md
  release/tasks/cleanup-vm/cleanup-vm.yaml
  release/tasks/create-vm-from-manifest/create-vm-from-manifest.yaml
  release/tasks/disk-uploader/disk-uploader.yaml
  release/tasks/disk-virt-customize/README.md
  release/tasks/disk-virt-customize/disk-virt-customize.yaml
  release/tasks/disk-virt-sysprep/README.md
  release/tasks/disk-virt-sysprep/disk-virt-sysprep.yaml
  release/tasks/execute-in-vm/execute-in-vm.yaml
  release/tasks/generate-ssh-keys/generate-ssh-keys.yaml
  release/tasks/modify-data-object/modify-data-object.yaml
  release/tasks/modify-windows-iso-file/modify-windows-iso-file.yaml
  release/tasks/wait-for-vmi-status/wait-for-vmi-status.yaml
  scripts/cluster-test.sh
  templates-pipelines/windows-efi-installer/README.md
  templates/create-vm-from-manifest/manifests/create-vm.yaml
  templates/disk-uploader/manifests/disk-uploader.yaml
  templates/disk-virt-customize/manifests/disk-virt-customize.yaml
  templates/disk-virt-customize/readmes/README.md
  templates/disk-virt-sysprep/manifests/disk-virt-sysprep.yaml
  templates/disk-virt-sysprep/readmes/README.md
  templates/execute-in-vm/manifests/execute-in-vm.yaml
  templates/generate-ssh-keys/manifests/generate-ssh-keys.yaml
  templates/modify-data-object/manifests/modify-data-object.yaml
  templates/modify-windows-iso-file/manifests/modify-windows-iso-file.yaml
  templates/wait-for-vmi-status/manifests/wait-for-vmi-status.yaml
  test/testconfigs/disk-virt-libguestfs-tasks-test-config.go
  test/testconfigs/pipeline-test-config.go
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

fix: e2e example pipeline tests
  automation/e2e-pipelines/example-pipelines-test.sh
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

Automated update of virtio win image version to v1.6.1
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  templates-pipelines/windows-efi-installer/manifests/windows-efi-installer.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

Automated update of virtio win image version to v1.6.2
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  templates-pipelines/windows-efi-installer/manifests/windows-efi-installer.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

feat: update dependencies in go.mod and go.sum files
  go.mod
  go.sum
Due: none

feat: fix code and update dependencies in Containerfiles
  automation/build-test.sh
  build/Containerfile
  build/Containerfile.DiskVirt
  modules/create-vm/pkg/vmcreator/vm-creator.go
  modules/disk-uploader/pkg/certificate/certificate_test.go
  modules/disk-uploader/pkg/vmexport/vmexport_test.go
  modules/execute-in-vm/pkg/execute/executor.go
  test/disk_uploader_test.go
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module kubevirt.io/kubevirt to v1.5.3 [security]
  go.mod
Due: none

chore(deps): update module kubevirt.io/kubevirt to v1.5.3 [security]
  modules/create-vm/go.mod
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

fix: register QEMU for s390x cross-build in release workflow
  .github/workflows/release.yaml
Due: none

feat: update version in manifest to v0.25.0
  release/pipelines/windows-customize/README.md
  release/pipelines/windows-customize/pipelineruns/pipelineruns.yaml
  release/pipelines/windows-customize/windows-customize.yaml
  release/pipelines/windows-efi-installer/README.md
  release/pipelines/windows-efi-installer/pipelineruns/pipelineruns.yaml
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  release/tasks/cleanup-vm/README.md
  release/tasks/cleanup-vm/cleanup-vm.yaml
  release/tasks/cleanup-vm/examples/taskruns/cleanup-vm-taskrun-resolver.yaml
  release/tasks/create-vm-from-manifest/README.md
  release/tasks/create-vm-from-manifest/create-vm-from-manifest.yaml
  release/tasks/create-vm-from-manifest/examples/taskruns/create-vm-from-manifest-taskrun-resolver.yaml
  release/tasks/disk-uploader/README.md
  release/tasks/disk-uploader/disk-uploader.yaml
  release/tasks/disk-uploader/examples/taskruns/disk-uploader-taskrun-resolver.yaml
  release/tasks/disk-virt-customize/README.md
  release/tasks/disk-virt-customize/disk-virt-customize.yaml
  release/tasks/disk-virt-customize/examples/taskruns/disk-virt-customize-taskrun-resolver.yaml
  release/tasks/disk-virt-sysprep/README.md
  release/tasks/disk-virt-sysprep/disk-virt-sysprep.yaml
  release/tasks/disk-virt-sysprep/examples/taskruns/disk-virt-sysprep-taskrun-resolver.yaml
  release/tasks/execute-in-vm/README.md
  release/tasks/execute-in-vm/examples/taskruns/execute-in-vm-with-ssh-taskrun-resolver.yaml
  release/tasks/execute-in-vm/execute-in-vm.yaml
  release/tasks/generate-ssh-keys/README.md
  release/tasks/generate-ssh-keys/examples/taskruns/generate-ssh-keys-advanced-taskrun-resolver.yaml
  release/tasks/generate-ssh-keys/generate-ssh-keys.yaml
  release/tasks/modify-data-object/README.md
  release/tasks/modify-data-object/examples/taskruns/modify-data-object-taskrun-resolver.yaml
  release/tasks/modify-data-object/modify-data-object.yaml
  release/tasks/modify-windows-iso-file/README.md
  release/tasks/modify-windows-iso-file/examples/taskruns/modify-windows-iso-file-taskrun-resolver.yaml
  release/tasks/modify-windows-iso-file/modify-windows-iso-file.yaml
  release/tasks/wait-for-vmi-status/README.md
  release/tasks/wait-for-vmi-status/examples/taskruns/wait-for-vmi-status-taskrun-resolver.yaml
  release/tasks/wait-for-vmi-status/wait-for-vmi-status.yaml
  scripts/makefile-snippets/makefile-release.mk
Due: none

Automated update of virtio win image version to v1.6.3
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  templates-pipelines/windows-efi-installer/manifests/windows-efi-installer.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module kubevirt.io/kubevirt to v1.7.0 [security]
  modules/create-vm/go.mod
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module kubevirt.io/kubevirt to v1.7.0 [security]
  go.mod
Due: none

chore(deps): update module github.com/sirupsen/logrus to v1.8.3 [security]
  modules/tests/go.mod
  modules/tests/go.sum
  modules/tests/vendor/github.com/sirupsen/logrus/README.md
  modules/tests/vendor/github.com/sirupsen/logrus/buffer_pool.go
  modules/tests/vendor/github.com/sirupsen/logrus/entry.go
  modules/tests/vendor/github.com/sirupsen/logrus/logger.go
  modules/tests/vendor/github.com/sirupsen/logrus/writer.go
  modules/tests/vendor/modules.txt
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module github.com/docker/docker to v25.0.13+incompatible [security]
  modules/tests/go.mod
  modules/tests/go.sum
  modules/tests/vendor/modules.txt
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

Path conditions:
  win10-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-bios-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win11-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win2k22-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win2k25-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win10-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-bios-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win11-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win2k22-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win2k25-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
