Repository kubevirt/kubevirt-tekton-tasks: changes, and which Prow jobs are due for each by the changed paths.
All: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test

Path conditions:
  win10-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-bios-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win11-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win2k22-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win2k25-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$

chore(deps): update module golang.org/x/oauth2 to v0.27.0 [security]
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/modules.txt
Due: none

fix: when vmExport is in skipped phase, exit task
  modules/disk-uploader/pkg/vmexport/vmexport.go
  modules/disk-uploader/pkg/vmexport/vmexport_test.go
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test

chore(deps): update module golang.org/x/net to v0.36.0 [security]
  go.mod
  go.sum
  vendor/golang.org/x/net/context/context.go
  vendor/golang.org/x/net/context/go17.go
  vendor/golang.org/x/net/context/go19.go
  vendor/golang.org/x/net/context/pre_go17.go
  vendor/golang.org/x/net/context/pre_go19.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/internal/httpcommon/headermap.go
  vendor/golang.org/x/net/internal/httpcommon/request.go
  vendor/modules.txt
Due: none

Automated update of libguestfs container version to v1.5.0
  build/Containerfile.DiskVirt
Due: none

feat: bump virtio win image version in installer pipeline
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  templates-pipelines/windows-efi-installer/manifests/windows-efi-installer.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test

fix(CNV-54663): improve disk-uploader logs
  cmd/disk-uploader/main.go
Due: none

fix: use correct windows 2k25 drivers in installer pipeline
  release/pipelines/windows-efi-installer/configmaps/windows-efi-installer-configmaps.yaml
  templates-pipelines/windows-efi-installer/configmaps/windows-efi-installer-configmaps.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test

chore(deps): update module golang.org/x/net to v0.38.0 [security]
  go.mod
  go.sum
  vendor/golang.org/x/net/html/atom/table.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/h2c/h2c.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/golang.org/x/text/language/parse.go
  vendor/modules.txt
Due: none

feat: add toolchain directive to go mod
  build/Containerfile
  build/Containerfile.DiskVirt
  go.mod
Due: none

Automated update of virtio win image version to v1.5.1
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  templates-pipelines/windows-efi-installer/manifests/windows-efi-installer.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test

fix: update example windows customize configmap
  automation/e2e-pipelines/test-files/windows11-dv.yaml
  release/pipelines/windows-customize/configmaps/windows-customize-configmaps.yaml
  templates-pipelines/windows-customize/configmaps/windows-customize-configmaps.yaml
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test

feat: add securityContext in task manifests
  release/tasks/cleanup-vm/cleanup-vm.yaml
  release/tasks/create-vm-from-manifest/create-vm-from-manifest.yaml
  release/tasks/disk-uploader/disk-uploader.yaml
  release/tasks/disk-virt-customize/disk-virt-customize.yaml
  release/tasks/disk-virt-sysprep/disk-virt-sysprep.yaml
  release/tasks/execute-in-vm/execute-in-vm.yaml
  release/tasks/generate-ssh-keys/generate-ssh-keys.yaml
  release/tasks/modify-data-object/modify-data-object.yaml
  release/tasks/modify-windows-iso-file/modify-windows-iso-file.yaml
  release/tasks/wait-for-vmi-status/wait-for-vmi-status.yaml
  scripts/cluster-test.sh
  templates/create-vm-from-manifest/manifests/create-vm.yaml
  templates/disk-uploader/manifests/disk-uploader.yaml
  templates/disk-virt-customize/manifests/disk-virt-customize.yaml
  templates/disk-virt-sysprep/manifests/disk-virt-sysprep.yaml
  templates/execute-in-vm/manifests/execute-in-vm.yaml
  templates/generate-ssh-keys/manifests/generate-ssh-keys.yaml
  templates/modify-data-object/manifests/modify-data-object.yaml
  templates/modify-windows-iso-file/manifests/modify-windows-iso-file.yaml
  templates/wait-for-vmi-status/manifests/wait-for-vmi-status.yaml
  test/testconfigs/disk-virt-libguestfs-tasks-test-config.go
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test

feat: update unattend.xml from win11 example with official MS fix
  release/pipelines/windows-customize/configmaps/windows-customize-configmaps.yaml
  templates-pipelines/windows-customize/configmaps/windows-customize-configmaps.yaml
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test

feat: Add fix for BSOD in Windows 11 24H2 when Bitlocker is enabled
  release/pipelines/windows-customize/configmaps/windows-customize-configmaps.yaml
  templates-pipelines/windows-customize/configmaps/windows-customize-configmaps.yaml
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test

feat: add openshift.io/required-scc annotations to tasks
  release/tasks/cleanup-vm/cleanup-vm.yaml
  release/tasks/create-vm-from-manifest/create-vm-from-manifest.yaml
  release/tasks/disk-uploader/disk-uploader.yaml
  release/tasks/disk-virt-customize/disk-virt-customize.yaml
  release/tasks/disk-virt-sysprep/disk-virt-sysprep.yaml
  release/tasks/execute-in-vm/execute-in-vm.yaml
  release/tasks/generate-ssh-keys/generate-ssh-keys.yaml
  release/tasks/modify-data-object/modify-data-object.yaml
  release/tasks/modify-windows-iso-file/modify-windows-iso-file.yaml
  release/tasks/wait-for-vmi-status/wait-for-vmi-status.yaml
  scripts/cluster-test.sh
  templates/create-vm-from-manifest/manifests/create-vm.yaml
  templates/disk-uploader/manifests/disk-uploader.yaml
  templates/disk-virt-customize/manifests/disk-virt-customize.yaml
  templates/disk-virt-sysprep/manifests/disk-virt-sysprep.yaml
  templates/execute-in-vm/manifests/execute-in-vm.yaml
  templates/generate-ssh-keys/manifests/generate-ssh-keys.yaml
  templates/modify-data-object/manifests/modify-data-object.yaml
  templates/modify-windows-iso-file/manifests/modify-windows-iso-file.yaml
  templates/wait-for-vmi-status/manifests/wait-for-vmi-status.yaml
  test/testconfigs/disk-virt-libguestfs-tasks-test-config.go
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test

Automated update of virtio win image version to v1.5.2
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  templates-pipelines/windows-efi-installer/manifests/windows-efi-installer.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test

feat: add openshift.io/required-scc annotations to tasks
  release/pipelines/windows-efi-installer/README.md
  release/tasks/cleanup-vm/cleanup-vm.yaml
  release/tasks/create-vm-from-manifest/create-vm-from-manifest.yaml
  release/tasks/disk-uploader/disk-uploader.yaml
  release/tasks/disk-virt-customize/README.md
  release/tasks/disk-virt-customize/disk-virt-customize.yaml
  release/tasks/disk-virt-sysprep/README.md
  release/tasks/disk-virt-sysprep/disk-virt-sysprep.yaml
  release/tasks/execute-in-vm/execute-in-vm.yaml
  release/tasks/generate-ssh-keys/generate-ssh-keys.yaml
  release/tasks/modify-data-object/modify-data-object.yaml
  release/tasks/modify-windows-iso-file/modify-windows-iso-file.yaml
  release/tasks/wait-for-vmi-status/wait-for-vmi-status.yaml
  scripts/cluster-test.sh
  templates-pipelines/windows-efi-installer/README.md
  templates/create-vm-from-manifest/manifests/create-vm.yaml
  templates/disk-uploader/manifests/disk-uploader.yaml
  templates/disk-virt-customize/manifests/disk-virt-customize.yaml
  templates/disk-virt-customize/readmes/README.md
  templates/disk-virt-sysprep/manifests/disk-virt-sysprep.yaml
  templates/disk-virt-sysprep/readmes/README.md
  templates/execute-in-vm/manifests/execute-in-vm.yaml
  templates/generate-ssh-keys/manifests/generate-ssh-keys.yaml
  templates/modify-data-object/manifests/modify-data-object.yaml
  templates/modify-windows-iso-file/manifests/modify-windows-iso-file.yaml
  templates/wait-for-vmi-status/manifests/wait-for-vmi-status.yaml
  test/testconfigs/disk-virt-libguestfs-tasks-test-config.go
  test/testconfigs/pipeline-test-config.go
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test

OWNERS: Remove lyarwood from reviewers
  OWNERS
Due: none

fix: failing e2e test
  test/create_vm_from_manifest_test.go
Due: none

chore(deps): update module github.com/docker/docker to v26 [security]
  modules/tests/go.mod
  modules/tests/go.sum
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir.go
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir_unix.go
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir_windows.go
  modules/tests/vendor/modules.txt
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test
