Repository kubevirt/kubevirt-tekton-tasks: changes, and which Prow jobs are due for each by the changed paths.
All: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

Path conditions:
  win10-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-bios-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win11-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win2k22-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  win2k25-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win10-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-bios-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win11-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win2k22-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$
  ci/prow/win2k25-pipeline-example-test: any of: (^automation/.*|^templates-pipelines/windows-efi-installer/.*|^templates-pipelines/windows-customize/.*|^modules/.*|^templates/.*)$

chore(deps): update module kubevirt.io/kubevirt to v1.8.2 [security]
  modules/create-vm/go.mod
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module github.com/docker/cli to v29 [security]
  modules/tests/go.mod
  modules/tests/go.sum
  modules/tests/vendor/github.com/docker/cli/AUTHORS
  modules/tests/vendor/github.com/docker/cli/NOTICE
  modules/tests/vendor/github.com/docker/cli/cli/config/config.go
  modules/tests/vendor/github.com/docker/cli/cli/config/configfile/file.go
  modules/tests/vendor/github.com/docker/cli/cli/config/configfile/file_unix.go
  modules/tests/vendor/github.com/docker/cli/cli/config/credentials/default_store.go
  modules/tests/vendor/github.com/docker/cli/cli/config/credentials/default_store_unsupported.go
  modules/tests/vendor/github.com/docker/cli/cli/config/credentials/file_store.go
  modules/tests/vendor/github.com/docker/cli/cli/config/credentials/native_store.go
  modules/tests/vendor/github.com/docker/cli/cli/config/memorystore/store.go
  modules/tests/vendor/github.com/docker/cli/cli/config/types/authconfig.go
  modules/tests/vendor/github.com/docker/docker/AUTHORS
  modules/tests/vendor/github.com/docker/docker/LICENSE
  modules/tests/vendor/github.com/docker/docker/NOTICE
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir.go
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir_linux.go
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir_others.go
  modules/tests/vendor/modules.txt
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module github.com/tektoncd/pipeline to v1 [security]
  modules/tests/go.mod
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module github.com/docker/cli to v29 [security]
  modules/tests/go.mod
  modules/tests/go.sum
  modules/tests/vendor/github.com/docker/cli/AUTHORS
  modules/tests/vendor/github.com/docker/cli/NOTICE
  modules/tests/vendor/github.com/docker/cli/cli/config/config.go
  modules/tests/vendor/github.com/docker/cli/cli/config/configfile/file.go
  modules/tests/vendor/github.com/docker/cli/cli/config/configfile/file_unix.go
  modules/tests/vendor/github.com/docker/cli/cli/config/credentials/default_store.go
  modules/tests/vendor/github.com/docker/cli/cli/config/credentials/default_store_unsupported.go
  modules/tests/vendor/github.com/docker/cli/cli/config/credentials/file_store.go
  modules/tests/vendor/github.com/docker/cli/cli/config/credentials/native_store.go
  modules/tests/vendor/github.com/docker/cli/cli/config/memorystore/store.go
  modules/tests/vendor/github.com/docker/cli/cli/config/types/authconfig.go
  modules/tests/vendor/github.com/docker/docker/AUTHORS
  modules/tests/vendor/github.com/docker/docker/LICENSE
  modules/tests/vendor/github.com/docker/docker/NOTICE
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir.go
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir_linux.go
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir_others.go
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir_unix.go
  modules/tests/vendor/github.com/docker/docker/pkg/homedir/homedir_windows.go
  modules/tests/vendor/modules.txt
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module github.com/go-jose/go-jose/v4 to v4.1.4 [security]
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v4/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v4/README.md
  vendor/github.com/go-jose/go-jose/v4/asymmetric.go
  vendor/github.com/go-jose/go-jose/v4/cipher/key_wrap.go
  vendor/github.com/go-jose/go-jose/v4/crypter.go
  vendor/github.com/go-jose/go-jose/v4/jwe.go
  vendor/github.com/go-jose/go-jose/v4/jwk.go
  vendor/github.com/go-jose/go-jose/v4/jws.go
  vendor/github.com/go-jose/go-jose/v4/shared.go
  vendor/github.com/go-jose/go-jose/v4/signing.go
  vendor/github.com/go-jose/go-jose/v4/symmetric.go
  vendor/modules.txt
Due: none

chore(deps): update module kubevirt.io/kubevirt to v1.8.2 [security]
  go.mod
Due: none

chore(deps): update module github.com/tektoncd/pipeline to v1 [security]
  go.mod
Due: none

Automated update of virtio win image version to v1.8.2
  release/pipelines/windows-efi-installer/windows-efi-installer.yaml
  templates-pipelines/windows-efi-installer/manifests/windows-efi-installer.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

fix: Add BypassNRO registry key for Windows 11 OOBE automation
  release/pipelines/windows-efi-installer/configmaps/windows-efi-installer-configmaps.yaml
  templates-pipelines/windows-efi-installer/configmaps/windows-efi-installer-configmaps.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

fix: switch VS Code to system-level installer in Windows customize pipeline
  release/pipelines/windows-customize/configmaps/windows-customize-configmaps.yaml
  templates-pipelines/windows-customize/configmaps/windows-customize-configmaps.yaml
Due: win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win10-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

fix: Create proper unattend.xml with OOBE skip settings for cloned VMs
  release/pipelines/windows-efi-installer/configmaps/windows-efi-installer-configmaps.yaml
  templates-pipelines/windows-efi-installer/configmaps/windows-efi-installer-configmaps.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

Add complete Windows 11 OOBE bypass settings
  release/pipelines/windows-efi-installer/configmaps/windows-efi-installer-configmaps.yaml
  templates-pipelines/windows-efi-installer/configmaps/windows-efi-installer-configmaps.yaml
Due: win11-pipeline-example-test, win2k22-pipeline-example-test, win2k25-pipeline-example-test, ci/prow/win11-pipeline-example-test, ci/prow/win2k22-pipeline-example-test, ci/prow/win2k25-pipeline-example-test

chore(deps): update module golang.org/x/sys to v0.44.0 [security]
  go.mod
  go.sum
  vendor/golang.org/x/sys/cpu/asm_darwin_arm64_gc.s
  vendor/golang.org/x/sys/cpu/cpu_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_darwin_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_darwin_arm64_other.go
  vendor/golang.org/x/sys/cpu/cpu_gccgo_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_other_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_windows.go
  vendor/golang.org/x/sys/cpu/cpu_windows_arm64.go
  vendor/golang.org/x/sys/cpu/cpu_x86.go
  vendor/golang.org/x/sys/cpu/syscall_darwin_arm64_gc.go
  vendor/golang.org/x/sys/cpu/zcpu_windows.go
  vendor/golang.org/x/sys/plan9/syscall_plan9.go
  vendor/golang.org/x/sys/unix/affinity_linux.go
  vendor/golang.org/x/sys/unix/ioctl_signed.go
  vendor/golang.org/x/sys/unix/ioctl_unsigned.go
  vendor/golang.org/x/sys/unix/mkall.sh
  vendor/golang.org/x/sys/unix/syscall_linux.go
  vendor/golang.org/x/sys/unix/syscall_linux_arm.go
  vendor/golang.org/x/sys/unix/syscall_linux_arm64.go
  vendor/golang.org/x/sys/unix/syscall_linux_loong64.go
  vendor/golang.org/x/sys/unix/syscall_linux_riscv64.go
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/syscall_unix.go
  vendor/golang.org/x/sys/unix/zsyscall_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/aliases.go
  vendor/golang.org/x/sys/windows/dll_windows.go
  vendor/golang.org/x/sys/windows/security_windows.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Due: none
