Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
      - --template=/usr/local/e2e-aws-image-ecosystem
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

UPSTREAM: 73894: Print the involved object in the event table
  vendor/k8s.io/kubernetes/pkg/printers/internalversion/printers.go
Due: none

UPSTREAM: 73892: Report more consistent container start/stop/kill events
  vendor/k8s.io/kubernetes/pkg/kubelet/images/image_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/kuberuntime_container.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/kuberuntime_manager.go
  vendor/k8s.io/kubernetes/pkg/volume/util/recyclerclient/recycler_client_test.go
Due: ci/prow/gcp-crio

Re-enable volume limit tests
  test/extended/util/test.go
Due: none

cmd: set command name for user-agent per component
  pkg/cmd/openshift-apiserver/cmd.go
  pkg/cmd/openshift-controller-manager/cmd.go
  pkg/cmd/openshift-kube-apiserver/cmd.go
  pkg/cmd/openshift-network-controller/cmd.go
Due: none

handle new poststarthook
  test/integration/master_routes_test.go
Due: none

remove legacy names for network admission plugins
  pkg/cmd/openshift-kube-apiserver/kubeadmission/register.go
  pkg/cmd/server/apis/config/install/install.go
  pkg/configconversion/legacyconfig_conversion.go
  pkg/service/admission/apis/externalipranger/install/install.go
  pkg/service/admission/apis/externalipranger/register.go
  pkg/service/admission/apis/externalipranger/v1/register.go
  pkg/service/admission/apis/restrictedendpoints/install/install.go
  pkg/service/admission/apis/restrictedendpoints/register.go
  pkg/service/admission/apis/restrictedendpoints/v1/register.go
  pkg/service/admission/externalipranger/deprecated_register.go
  pkg/service/admission/restrictedendpoints/deprecated_register.go
Due: none

generated
  pkg/openapi/zz_generated.openapi.go
Due: none

UPSTREAM: 73903: ClusterUpgrade is the same as master upgrade
  vendor/k8s.io/kubernetes/test/e2e/upgrades/apparmor.go
  vendor/k8s.io/kubernetes/test/e2e/upgrades/apps/daemonsets.go
  vendor/k8s.io/kubernetes/test/e2e/upgrades/ingress.go
  vendor/k8s.io/kubernetes/test/e2e/upgrades/nvidia-gpu.go
  vendor/k8s.io/kubernetes/test/e2e/upgrades/services.go
  vendor/k8s.io/kubernetes/test/e2e/upgrades/sysctl.go
Due: none

Add openshift-tests run-upgrade * to qualify upgrades
  cmd/openshift-tests/openshift-tests.go
  cmd/openshift-tests/upgrade.go
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/test.go
  test/e2e/upgrade/upgrade.go
  test/extended/util/test.go
Due: none

remove legacy names for network admission plugins
  pkg/cmd/openshift-kube-apiserver/kubeadmission/register.go
  pkg/cmd/server/apis/config/install/install.go
  pkg/cmd/server/apis/config/latest/latest.go
  pkg/configconversion/legacyconfig_conversion.go
  pkg/service/admission/apis/externalipranger/install/install.go
  pkg/service/admission/apis/externalipranger/register.go
  pkg/service/admission/apis/externalipranger/v1/register.go
  pkg/service/admission/apis/restrictedendpoints/install/install.go
  pkg/service/admission/apis/restrictedendpoints/register.go
  pkg/service/admission/apis/restrictedendpoints/v1/register.go
  pkg/service/admission/externalipranger/deprecated_register.go
  pkg/service/admission/restrictedendpoints/deprecated_register.go
  test/util/server/server.go
Due: none

Read Additional CAs from image.config.openshift.io
  pkg/build/controller/build/build_controller.go
  pkg/build/controller/build/build_controller_test.go
  pkg/cmd/openshift-controller-manager/controller/build.go
Due: ci/openshift-jenkins/extended_builds

builds - Configure Runtime Registries from image.config.openshift.io
  pkg/build/controller/build/build_controller.go
  pkg/build/controller/build/build_controller_test.go
Due: ci/openshift-jenkins/extended_builds

remove all custom admission loading code
  pkg/cmd/openshift-apiserver/openshiftadmission/chain_builder.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/config.go
Due: none

UPSTREAM: 73928: Fix PVC protection e2es when default storage class is WaitForFirstConsumer
  vendor/k8s.io/kubernetes/test/e2e/storage/pvc_protection.go
Due: none

UPSTREAM: 73962: Fix glusterfs e2e not using correct storageclass
  vendor/k8s.io/kubernetes/test/e2e/storage/volume_provisioning.go
Due: none

UPSTREAM: 73995: Use correct server url in dynamic provisioning tests
  vendor/k8s.io/kubernetes/test/e2e/storage/volume_provisioning.go
Due: none

simplify and test admission plugin chain configuration
  pkg/admission/admissionregistrationtesting/admissiontesting.go
  pkg/cmd/openshift-apiserver/openshiftadmission/register.go
  pkg/cmd/openshift-apiserver/openshiftadmission/register_test.go
  pkg/cmd/openshift-kube-apiserver/kubeadmission/register.go
  pkg/cmd/openshift-kube-apiserver/kubeadmission/register_test.go
Due: none

When adding the same manifest 3 or more times, prevent duplicates
  pkg/oc/cli/admin/release/new.go
Due: none

tests/extended: narrow the focus of ingress wildcard dns test
  test/extended/dns/dns.go
  test/extended/router/wildcard.go
Due: none

bump build wait for slow dancer mysql builds with lots of prereqs to download
  test/extended/util/framework.go
Due: none

disable the oauth server in kubeapiserver
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch_handlerchain.go
Due: none

UPSTREAM: 71573: Correctly Clear conntrack entry on endpoint changes when using nodeport
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier.go
  vendor/k8s.io/kubernetes/pkg/proxy/service.go
  vendor/k8s.io/kubernetes/pkg/proxy/types.go
  vendor/k8s.io/kubernetes/pkg/util/conntrack/conntrack.go
  vendor/k8s.io/kubernetes/pkg/util/conntrack/conntrack_test.go
Due: none

UPSTREAM: 70821: Fix flake in plugin watcher
  vendor/k8s.io/kubernetes/pkg/kubelet/util/pluginwatcher/plugin_watcher.go
Due: ci/prow/gcp-crio

e2e: Test that all operators are stable
  test/extended/operators/operators.go
Due: none

Remove oc adm router
  hack/lib/start.sh
  pkg/oc/cli/admin/admin.go
  pkg/oc/cli/admin/router/OWNERS
  pkg/oc/cli/admin/router/router.go
  pkg/oc/lib/graph/routegraph/analysis/analysis.go
  test/cmd/admin.sh
  test/cmd/router.sh
Due: ci/prow/artifacts, ci/prow/cross

Remove oc adm create-node-config
  hack/lib/start.sh
  pkg/cmd/server/admin/create_client.go
  pkg/cmd/server/admin/create_nodeconfig.go
  pkg/cmd/server/admin/create_nodeconfig_test.go
  pkg/oc/cli/admin/admin.go
  test/cmd/certs.sh
Due: ci/prow/artifacts, ci/prow/cross

Generated changes
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
  hack/import-restrictions.json
Due: ci/prow/artifacts, ci/prow/cross

Remove oc adm ipfailover
  pkg/oc/cli/admin/admin.go
  pkg/oc/cli/admin/ipfailover/ipfailover.go
  pkg/oc/cli/admin/ipfailover/ipfailover/OWNERS
  pkg/oc/cli/admin/ipfailover/ipfailover/interfaces.go
  pkg/oc/cli/admin/ipfailover/ipfailover/options.go
  pkg/oc/cli/admin/ipfailover/ipfailover/types.go
  pkg/oc/cli/admin/ipfailover/keepalived/generator.go
  pkg/oc/cli/admin/ipfailover/keepalived/generator_test.go
  pkg/oc/cli/admin/ipfailover/keepalived/plugin.go
  pkg/oc/cli/admin/ipfailover/keepalived/plugin_test.go
  pkg/oc/cli/admin/ipfailover/validation.go
  pkg/oc/cli/admin/ipfailover/validation_test.go
  pkg/oc/cli/cli.go
  test/cmd/router.sh
Due: none

Remove oc adm manage-node
  pkg/oc/cli/admin/admin.go
  pkg/oc/cli/admin/node/evacuate.go
  pkg/oc/cli/admin/node/evacuate_test.go
  pkg/oc/cli/admin/node/listpods.go
  pkg/oc/cli/admin/node/node.go
  pkg/oc/cli/admin/node/node_options.go
  pkg/oc/cli/admin/node/schedulable.go
  test/cmd/admin.sh
Due: none

Move oc adm node-logs to pkg/oc/cli/admin/node/ package
  pkg/oc/cli/admin/admin.go
  pkg/oc/cli/admin/node/logs.go
  pkg/oc/cli/admin/node/logs_test.go
Due: none

Display status about cluster operator in the monitor
  pkg/monitor/api.go
  pkg/monitor/operator.go
  pkg/monitor/pod.go
Due: none

Automatic commit of package [atomic-openshift] release [3.9.70-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

update test to configure blocked registries properly
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/cluster-config.yaml
  test/extended/testdata/builds/cluster-config/registry-blacklist.yaml
  test/extended/testdata/builds/cluster-config/registry-whitelist.yaml
Due: ci/openshift-jenkins/extended_builds

New core dockerfiles based on RHEL7/UBI7 minimal image
  images/base/Dockerfile.rhel
  images/cli/Dockerfile.rhel
  images/deployer/Dockerfile.rhel
  images/hyperkube/Dockerfile.rhel
  images/hypershift/Dockerfile.rhel
  images/pod/Dockerfile.rhel
  images/recycler/Dockerfile.rhel
  images/sdn/Dockerfile.rhel
  images/template-service-broker/Dockerfile.rhel
  images/tests/Dockerfile.rhel
Due: none

Temporarily mark the router prometheus metrics test as flaky
  test/extended/router/metrics.go
Due: none

Add git to the test image to ensure we can perform new-app tests
  images/tests/Dockerfile.rhel
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
