Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

Temporarily flake FailedToUpdateEndpointSlices
  pkg/synthetictests/duplicated_events_special.go
  pkg/synthetictests/duplicated_events_special_test.go
Due: none

microshift: skip sig-operator tests
  test/extended/olm/olm.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

microshift: skip sig-builds tests
  test/extended/builds/build_pruning.go
  test/extended/builds/new_app.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

microshift: fix sig-apps tests
  test/extended/controller_manager/deploy_scale.go
  test/extended/controller_manager/deploy_trigger.go
  test/extended/jobs/jobs.go
  test/extended/testdata/bindata.go
  test/extended/testdata/jobs/v1.yaml
Due: none

e2e/cli: Migrate completions, whoami and projects tests to go
  test/extended/cli/basics.go
  test/extended/cli/completions.go
  test/extended/cli/project.go
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/completions.sh
  test/extended/testdata/cmd/test/cmd/projects.sh
  test/extended/testdata/cmd/test/cmd/whoami.sh
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

microshift: skip sig-installer tests
  test/extended/baremetal/high_availability.go
  test/extended/baremetal/hosts.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Fix s2i ruby test that relys on rack
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/s2i-environment-build-app/Gemfile
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

upkeep: updated data set for 4.12
  pkg/synthetictests/allowedalerts/query_results.json
  pkg/synthetictests/allowedbackenddisruption/query_results.json
Due: none

microshift: skip sig-api-machinery tests
  test/extended/apiserver/apply.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Fix doubled disruption reporting in most tests.
  cmd/openshift-tests/openshift-tests.go
  cmd/openshift-tests/upgrade.go
  pkg/monitor/monitorapi/disruption.go
  pkg/synthetictests/allowedbackenddisruption/matches.go
  pkg/synthetictests/apiserver.go
  pkg/synthetictests/disruption.go
  pkg/synthetictests/event_junits.go
  test/e2e/upgrade/cidisruptiontester/cidisruptiontester.go
  test/e2e/upgrade/upgrade.go
  test/extended/util/disruption/backend_sampler_tester.go
  test/extended/util/disruption/externalservice/known_backends.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

add retry for checkLADPConn
  test/extended/util/ldap.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Extract constant for the default allowed disruption value.
  pkg/synthetictests/disruption.go
  test/extended/util/disruption/disruption.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test/extended/prometheus: Consider telemeterClient.enabled
  cmd/openshift-tests/minimal.go
  test/extended/prometheus/prometheus.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OWNERS_ALIASES: update list of team leads
  OWNERS_ALIASES
Due: none

make runonce-ldapsearch podname unique on retry
  test/extended/util/ldap.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Fixes OVN ACL audit log parsing
  test/extended/networking/acl_audit_log.go
Due: none

WIP
  test/extended/images/imagestreamimport.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/ephemeralimageregistry/ephemeralimageregistry.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

feat: query data update
  pkg/synthetictests/allowedalerts/query_results.json
  pkg/synthetictests/allowedbackenddisruption/query_results.json
Due: none

Bump api-requests for console-operator on vsphere
  test/extended/apiserver/api_requests.go
Due: none

apigroupfilter: check whether the discovery client can actually talk to a server before bulding api group filter
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

Use kubeconfig from secret mount instead of /tmp
  cmd/openshift-tests/provider.go
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCPBUGS-1052: allow frontends to tolerate 2.5% disruption during upgrades
  test/extended/util/disruption/frontends/frontends.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add UserConfig client cert
  test/extended/util/client.go
  test/extended/util/framework.go
  test/extended/util/oc_copy.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add microshift version getter to framework
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add Kuryr exception to "pods should successfully create sandboxes" test
  pkg/synthetictests/networking.go
Due: none

Support external topology for hypershift
  pkg/synthetictests/platformidentification/types.go
Due: none

microshift: skip sig-instrumentation tests
  test/extended/prometheus/prometheus.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

microshift: skip sig-storage tests
  test/extended/prometheus/storage.go
Due: none

microshift: skip sig-coreos tests
  test/extended/coreos/coreos.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

microshift: skip sig-devex tests
  test/extended/controller_manager/pull_secret.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

microshift: skip sig-imageregistry tests
  test/extended/imageapis/imagesigning.go
  test/extended/images/imagechange_buildtrigger.go
  test/extended/images/info.go
  test/extended/images/layers.go
  test/extended/images/resolve.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

Write out cluster state and config to disk for later inspection
  cmd/openshift-tests/e2e.go
  cmd/openshift-tests/openshift-tests.go
  cmd/openshift-tests/provider.go
  cmd/openshift-tests/provider_test.go
  cmd/openshift-tests/upgrade.go
  test/extended/util/cluster/cluster.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Check for console capability before launching it's disruption monitoring.
  test/extended/util/cluster/cluster.go
  test/extended/util/disruption/frontends/known_backends.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "Test Baremetal deployment without a provisoning network"
  test/extended/baremetal/common.go
  test/extended/baremetal/hosts.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Fix rare race condition in ImageStream admission tests.
  test/extended/images/imagestream_admission.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

Remove deprecated oc extract missing dir test
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/secrets.sh
Due: none

feat: update query results
  pkg/synthetictests/allowedalerts/query_results.json
  pkg/synthetictests/allowedbackenddisruption/query_results.json
Due: none

Drastically reduce the jobs we enforce disruption on.
  pkg/synthetictests/disruption.go
  pkg/synthetictests/historicaldata/types.go
Due: none

Add etcd vertical scaling test suite
  cmd/openshift-tests/e2e.go
  test/extended/etcd/helpers/helpers.go
  test/extended/etcd/vertical_scaling.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds
