Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-builds-cluster-profile
      - --target=e2e-aws-builds
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-registry-cluster-profile
      - --target=e2e-aws-image-registry
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

auth: increase max unnecessary RBAC rules in test to 100 and warn if below
  test/extended/authorization/rbac/groups_default_rules.go
Due: none

Fix gssapi dependency
  glide.lock
  glide.yaml
  vendor/github.com/evanphx/json-patch/patch_test.go
  vendor/github.com/google/btree/go.mod
  vendor/github.com/openshift/imagebuilder/OWNERS
  vendor/github.com/openshift/imagebuilder/dockerclient/archive.go
  vendor/github.com/openshift/imagebuilder/dockerclient/archive_test.go
  vendor/github.com/openshift/imagebuilder/dockerclient/conformance_test.go
  vendor/github.com/openshift/imagebuilder/dockerclient/testdata/Dockerfile.copyfrom_11
  vendor/github.com/openshift/imagebuilder/dockerclient/testdata/Dockerfile.copyfrom_12
  vendor/github.com/vmware/photon-controller-go-sdk/photon/client.go
  vendor/github.com/vmware/photon-controller-go-sdk/photon/deployments_test.go
  vendor/github.com/vmware/photon-controller-go-sdk/photon/lightwave/oidcclient_test.go
Due: ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem

Fix DC adoption
  pkg/apps/controller/deploymentconfig/deploymentconfig_controller.go
Due: none

Fix DC latestVersion validation
  pkg/apps/apis/apps/validation/validation.go
  pkg/apps/apis/apps/validation/validation_test.go
Due: none

Add e2e test for DC adoption
  test/extended/deployments/deployments.go
  test/extended/testdata/bindata.go
  test/extended/testdata/deployments/deployment-trigger.yaml
Due: none

Bug 1744435: fix basicresources.sh tests
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/basicresources.sh
Due: none

UPSTREAM: 81776: apimachinery: hide 'suppressing panic for copyResponse' error' in ReverseProxy
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
Due: none

Remove oc rpms
  images/os/Dockerfile
  origin.spec
Due: none

Error out on missing packages
  images/os/Dockerfile
Due: none

Don't test openshift-sdn-specific things in the CLI e2e tests
  test/extended/cli/explain.go
Due: none

e2e: test ingress controller prometheus integration
  test/extended/prometheus/prometheus.go
Due: none

Fix up e2e-aws-multitenant test definition, skip another test
  cmd/openshift-tests/e2e.go
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Don't always assume openshift-sdn in prometheus e2e tests
  test/extended/networking/util.go
  test/extended/prometheus/prometheus.go
Due: none

extended: temporarily weaken anonymous / access test
  test/extended/apiserver/root_403.go
Due: none

extended: fix anon / access test and add one when authenticated
  test/extended/apiserver/root_403.go
Due: none

test/extended/util: SetupProject: Fix cancel logic
  test/extended/util/client.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: 77165: Increase maxMsgSize for dockershim
  vendor/k8s.io/kubernetes/pkg/kubelet/dockershim/remote/docker_server.go
Due: ci/prow/gcp-crio

Remove commented code
  test/extended/images/hardprune.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

Add additional bit of information from pod status when it fails running
  test/extended/util/framework.go
Due: ci/prow/e2e-aws-builds

bypass kube authn/z on always allowed paths
  pkg/cmd/openshift-integrated-oauth-server/server.go
Due: none

UPSTREAM: 79391: Don't use strategic merge patch on Node.Status.Addresses
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_node_status_test.go
  vendor/k8s.io/kubernetes/pkg/util/node/BUILD
  vendor/k8s.io/kubernetes/pkg/util/node/node.go
Due: ci/prow/gcp-crio

UPSTREAM: 79828: Remove equivalence cache tests
  vendor/k8s.io/kubernetes/test/e2e/autoscaling/cluster_size_autoscaling.go
  vendor/k8s.io/kubernetes/test/e2e/scheduling/equivalence_cache_predicates.go
  vendor/k8s.io/kubernetes/test/e2e/scheduling/predicates.go
Due: none

Only check for tolerationSeconds on NoExecute tolerations
  test/extended/operators/tolerations.go
Due: none

automate OCP-21630 and OCP-24411 and OCP-21921
  test/extended/include.go
  test/extended/marketplace/marketplace.go
Due: none

[Feature:Machines][Serial] Managed cluster should grow and decrease when scaling different machineSets simultaneously: increase timeout for Azure
  test/extended/machines/scale.go
Due: none

add annotations to frequently failing prometheus test cases
  test/extended/prometheus/prometheus.go
Due: none

WIP
  test123
Due: none

UPSTREAM: <carry>: stop adding cache control
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/patch_handlerchain.go
Due: none

UPSTREAM: 81946: add cache-control headers to kube-apiserver
  vendor/k8s.io/kubernetes/cmd/controller-manager/app/serve.go
  vendor/k8s.io/kubernetes/cmd/kube-scheduler/app/server.go
  vendor/k8s.io/kubernetes/pkg/kubeapiserver/server/insecure_handler.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/filters/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/filters/cachecontrol.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/filters/cachecontrol_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/config.go
Due: none

extended: reactive 403 test on /
  test/extended/apiserver/root_403.go
Due: none

auth: cleanup RBAC coverage test
  test/extended/authorization/rbac/groups_default_rules.go
Due: none

UPSTREAM: 80852: apiextensions: 404 if request scope does not match crd scope
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
Due: none

UPSTREAM: 81786: aggregator/apiextensions: logs & metrics why OpenAPI spec is regenerated
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/controller.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/metrics.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/aggregator.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator/metrics.go
Due: none

UPSTREAM: 82027: Enabled reading config files for vsphere e2e tests.
  vendor/k8s.io/kubernetes/build/root/BUILD.root
  vendor/k8s.io/kubernetes/test/e2e/framework/test_context.go
  vendor/k8s.io/kubernetes/test/e2e/storage/vsphere/config.go
Due: none

UPSTREAM: <carry>: fix kube-apiserver testserver
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Due: none

UPSTREAM: 80360: Fix counting of volumes for unrelated types
  vendor/k8s.io/kubernetes/pkg/scheduler/algorithm/predicates/max_attachable_volume_predicate_test.go
  vendor/k8s.io/kubernetes/pkg/scheduler/algorithm/predicates/predicates.go
  vendor/k8s.io/kubernetes/pkg/scheduler/algorithmprovider/defaults/register_predicates.go
Due: none

UPSTREAM: 81373: Improve messaging of event for cinder volume expansion
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/openstack/openstack_volumes.go
Due: none

UPSTREAM: 79017: apiserver: don't log stack trace on /healthz error
  vendor/k8s.io/kubernetes/pkg/kubelet/server/portforward/websocket.go
  vendor/k8s.io/kubernetes/pkg/kubelet/server/remotecommand/websocket.go
  vendor/k8s.io/kubernetes/pkg/kubelet/server/server.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/healthz/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/httplog/httplog_test.go
Due: ci/prow/gcp-crio

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
