Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)

bump(github.com/opencontainers/selinux)
  glide.lock
  glide.yaml
  vendor/github.com/opencontainers/selinux/.pullapprove.yml
  vendor/github.com/opencontainers/selinux/.travis.yml
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_selinux_test.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux_test.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub_test.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_test.go
  vendor/github.com/opencontainers/selinux/go-selinux/xattrs.go
Due: ci/prow/cross

Update to match API changes in containers/image
  pkg/image/controller/signature/container_image_downloader.go
  pkg/oc/cli/admin/verifyimagesignature/verify-signature.go
Due: ci/openshift-jenkins/extended_image_registry

Allow oc to get bigger
  hack/lib/constants.sh
Due: ci/prow/cross

bump(github.com/docker/docker)
  glide.lock
  glide.yaml
  vendor/github.com/docker/docker/client/hijack.go
  vendor/github.com/docker/docker/pkg/archive/archive_unix.go
  vendor/github.com/docker/docker/pkg/archive/changes_linux.go
  vendor/github.com/docker/docker/pkg/signal/signal_linux.go
  vendor/github.com/docker/docker/pkg/system/mknod.go
  vendor/github.com/docker/docker/vendor.conf
Due: ci/prow/cross

Add build tags to disable additional deps
  hack/lib/constants.sh
  hack/test-go.sh
Due: ci/prow/cross

Deprecate oc types
  pkg/oc/cli/types/types.go
Due: none

Generated completions
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
Due: none

UPSTREAM: 68674: Fix isDeviceOpen check for volumes where device name in node is wrong
  vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/cache/actual_state_of_world_test.go
  vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/reconciler/reconciler.go
  vendor/k8s.io/kubernetes/pkg/volume/util/operationexecutor/operation_executor.go
  vendor/k8s.io/kubernetes/pkg/volume/util/operationexecutor/operation_generator.go
Due: ci/prow/gcp-crio

Change directory on docker host up configuration
  docs/cluster_up_down.md
Due: none

Use buildah for the Docker build strategy
  cmd/hypershift/main.go
  cmd/oc/oc.go
  cmd/openshift/openshift.go
  images/builder/docker/docker-builder/Dockerfile
  images/builder/docker/docker-builder/policy.json
  images/builder/docker/docker-builder/registries.conf
  images/builder/docker/docker-builder/storage.conf
  pkg/build/apis/build/validation/validation.go
  pkg/build/builder/cmd/builder.go
  pkg/build/builder/common.go
  pkg/build/builder/daemonless.go
  pkg/build/builder/daemonless_unsupported.go
  pkg/build/builder/docker.go
  pkg/build/builder/docker_test.go
  pkg/build/builder/dockerutil.go
  pkg/build/builder/dockerutil_test.go
  pkg/build/builder/sti.go
  pkg/build/builder/util.go
  pkg/build/controller/strategy/custom.go
  pkg/build/controller/strategy/custom_test.go
  pkg/build/controller/strategy/docker.go
  pkg/build/controller/strategy/docker_test.go
  pkg/build/controller/strategy/sti.go
  pkg/build/controller/strategy/sti_test.go
  pkg/build/controller/strategy/util.go
Due: ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/prow/cross

fix dockerfile messaging
  pkg/build/builder/sti.go
Due: ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds

Use imagebuilder
  pkg/build/builder/sti.go
Due: ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds

fix root user extended test
  test/extended/builds/s2i_root.go
Due: ci/openshift-jenkins/extended_builds

add cgroup limits
  pkg/build/builder/sti.go
Due: ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds

s2i dockerfile builds
  pkg/build/builder/sti.go
  test/extended/builds/build_timing.go
  test/extended/builds/failure_status.go
  test/extended/builds/forcepull.go
  test/extended/builds/s2i_root.go
Due: ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds

rm s2i comment
  pkg/build/builder/sti.go
Due: ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds

Use buildah for build-using-dockerfile during STI builds
  pkg/build/builder/sti.go
  pkg/build/controller/strategy/sti.go
  pkg/build/controller/strategy/sti_test.go
Due: ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds

Switch admin groups commands to external
  pkg/oc/cli/admin/groups/changemembership.go
  pkg/oc/cli/admin/groups/groups.go
  pkg/oc/cli/admin/groups/new/new.go
  pkg/oc/cli/admin/groups/sync/prune.go
  pkg/oc/cli/admin/groups/sync/sync.go
  pkg/oc/cli/admin/groups/users/add.go
  pkg/oc/cli/admin/groups/users/remove.go
  test/integration/groups_test.go
Due: none

Generated changes
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
Due: none

Restore graceful shutdown of DNS server
  pkg/cmd/server/start/network/start_network.go
Due: none

URL of OKD is docs.okd.io now
  CONTRIBUTING.adoc
  HACKING.md
  README.md
  UPGRADE.md
  docs/proposals/image-promotion.md
Due: none

UPSTREAM: 68678: tighten maximum retry loop for aggregate api availability
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
Due: none

fix printing dc replicas
  pkg/oc/lib/describe/deployments.go
Due: none

Drop oc types command
  pkg/oc/cli/cli.go
  pkg/oc/cli/types/types.go
  test/cmd/basicresources.sh
  test/cmd/help.sh
Due: none

Restore graceful shutdown of DNS server
  pkg/cmd/server/start/start_network.go
Due: none

UPSTREAM: <carry>: Log gce mount error
  vendor/k8s.io/kubernetes/pkg/volume/gce_pd/attacher.go
  vendor/k8s.io/kubernetes/pkg/volume/gce_pd/gce_util.go
Due: none

switch cluster up to using openshift apiserver config
  install/openshift-apiserver/install.yaml
  install/openshift-apiserver/static-config.json
  pkg/cmd/openshift-apiserver/cmd.go
  pkg/cmd/openshift-kube-apiserver/configdefault/kubecontrolplane_default.go
  pkg/oc/clusterup/coreinstall/kubeapiserver/config.go
  pkg/oc/clusterup/coreinstall/kubeapiserver/openshift_apiserver.go
  pkg/oc/clusterup/manifests/bindata.go
  pkg/oc/clusterup/run_self_hosted.go
  pkg/oc/clusterup/signing_secret.go
  test/extended/testdata/bindata.go
Due: none

Fix image quota evaluators to support both internal and external resources
  pkg/quota/image/imagestreamimport_evaluator.go
  pkg/quota/image/imagestreamtag_evaluator.go
  test/cmd/quota.sh
Due: none

commiting uncommited changes on 2018-09-18 14:31:07 -0400
  vendor/k8s.io/kubernetes/pkg/volume/gce_pd/attacher.go
Due: none

UPSTREAM: 67825: disable multiattach in vSphere
  vendor/k8s.io/kubernetes/pkg/controller/volume/attachdetach/reconciler/reconciler.go
Due: none

Use standard node roles for conformance isolation
  test/extended/conformance-k8s.sh
Due: none

Automatic commit of package [atomic-openshift] release [3.9.45-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

fix template finalizer godoc
  pkg/template/controller/templateinstance_finalizer.go
Due: none
