Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

OCPBUGS-20487: update egressFWTestE2E image which contains ping binary
  test/extended/networking/egress_firewall.go
Due: none

MON-3513: Add availability test for Metrics API
  pkg/defaultmonitortests/types.go
  pkg/monitortests/monitoring/disruptionmetricsapi/monitortest.go
Due: none

Revert "Merge pull request #28741 from dgoodwin/fix-allowed-alerts"
  pkg/alerts/allowed_conformance.go
  pkg/alerts/allowed_upgrade.go
  pkg/alerts/types.go
  pkg/monitortests/testframework/legacytestframeworkmonitortests/alerts.go
  test/extended/util/prometheus/helpers.go
  test/extended/util/prometheus/helpers_test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "TRT-1625: Revert #28741 "OCPBUGS-32923: Fix allowed firing alerts not triggering""
  pkg/alerts/allowed_conformance.go
  pkg/alerts/allowed_upgrade.go
  pkg/alerts/types.go
  pkg/monitortests/testframework/legacytestframeworkmonitortests/alerts.go
  test/extended/util/prometheus/helpers.go
  test/extended/util/prometheus/helpers_test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

remove dependency on external url
  pkg/monitor/backenddisruption/disruption_backend_sampler_test.go
Due: none

bind anonymous user to webhook role for test
  test/extended/builds/start.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

OCPBUGS-33041: Add RoleBinding for BuildConfig Webhooks
  test/extended/builds/start.go
  test/extended/builds/webhook.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/webhook/webhooks-unauth.yaml
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

OCPBUGS-33041: [Builds] Refactor TestWebhook
  test/extended/builds/webhook.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

monitortests: test existence of required-scc annotation in platform workloads
  pkg/defaultmonitortests/types.go
  pkg/monitortests/authentication/requiredsccmonitortests/monitortest.go
Due: none

Allow flexible rhel in tests
  test/extended/testdata/bindata.go
  test/extended/testdata/signer-buildconfig.yaml
Due: none

check test precondition
  test/extended/builds/webhook.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Adjust the method of get the apiServer.
  test/extended/cli/builds.go
Due: none

test/extended/router/http2: Use unique certs
  test/extended/router/http2.go
Due: none

feat: add check for kubeapiserver service being down
  pkg/monitortestlibrary/pathologicaleventlibrary/duplicated_event_patterns.go
Due: none

trt-1538: Wait for monitor resources cleanup
  pkg/cmd/openshift-tests/monitor/run/run_monitor_command.go
  pkg/monitortests/imageregistry/disruptionimageregistry/monitortest.go
  pkg/monitortests/network/disruptionpodnetwork/monitortest.go
  pkg/monitortests/network/disruptionserviceloadbalancer/monitortest.go
Due: none

Update etcd test data for 1.30 release
  test/extended/etcd/etcd_storage_path.go
Due: none

feat: add tests for cpu limits on workload partitioning
  test/extended/cpu_partitioning/crio.go
  test/extended/cpu_partitioning/managed.go
  test/extended/cpu_partitioning/utils.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Refactor router status tests to use informer
  test/extended/router/stress.go
Due: none

try to test -shared-vpc jobs failing to get images
  pkg/monitortests/network/disruptionpodnetwork/utils.go
Due: none

If Available=False outside of upgrade window, we fail
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: none

we will work on TRT-1575 separately
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: none

See how many jobs fail with Degraded=True and Available=False
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: none

for cases besides single replica, attempt to match exceptions
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: none

Rearrage since all exceptions refer to Available=False
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: none

handle single replica operators during upgrade window
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: none

add exception for vsphere due to single replica
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: none

Allow transitions during upgrade for cluster-storage-operator for vsphere with 1 replica
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: none

Honor Available=False exceptions only if not in upgrade window
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: none

use lib-go version of the markdown interface
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadata/autoregenerate_after_expiry/requirement.go
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadata/descriptions/requirement.go
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadata/ownership/requirement.go
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadatainterfaces/annotation_requirement.go
  vendor/github.com/openshift/library-go/pkg/markdown/markdown.go
  vendor/modules.txt
Due: none

use backup oc package
  pkg/monitortests/network/disruptionpodnetwork/utils.go
Due: none

Add E2E test for UpgradeValidation contention
  test/extended/router/stress.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCPBUGS-31868: allow for some errors checking namespace delete
  pkg/monitortests/network/disruptionserviceloadbalancer/monitortest.go
Due: none

make unit tests for the isInUpgradeWindow fix bugs found
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators_test.go
Due: none

USHIFT-3133: Skip gcp disruption external monitor for microshift
  pkg/monitortests/testframework/disruptionexternalgcpcloudservicemonitoring/cloudmonitortest.go
Due: none

USHIFT-3133: Skip azure disruption external monitor for microshift
  pkg/monitortests/testframework/disruptionexternalazurecloudservicemonitoring/cloudmonitortest.go
Due: none

USHIFT-3133: Skip aws disruption external monitor for microshift
  pkg/monitortests/testframework/disruptionexternalawscloudservicemonitoring/cloudmonitortest.go
Due: none

OCPBUGS-18534: monitor test fix to wait before connecting to a non-existent dns
  pkg/monitortests/network/disruptionserviceloadbalancer/monitortest.go
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds
