Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

refactor to make unit test smaller, readable, extendable
  pkg/monitor/monitorapi/types.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators_test.go
Due: none

gofmt
  pkg/monitor/monitorapi/types.go
Due: none

use tokenrequest api
  test/extended/networking/endpoint_admission.go
Due: none

Update etcd test data for 1.30 release
  test/extended/etcd/etcd_storage_path.go
Due: none

OCPBUGS-33041: Add RoleBinding for BuildConfig Webhooks
  test/extended/builds/start.go
  test/extended/builds/webhook.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

show trampoline pod fix
  test/extended/authorization/per_node_pod.yaml
  test/extended/authorization/per_node_rolebinding.yaml
  test/extended/authorization/per_node_update.go
  test/extended/authorization/per_node_validatingadmissionpolicy.yaml
  test/extended/authorization/per_node_validatingadmissionpolicybinding.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceread/admission.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Use PollUntilContextTimeout instead of deprecated Poll
  pkg/monitortests/network/disruptionserviceloadbalancer/monitortest.go
Due: none

Add ipsec e2e tests for east west traffic
  pkg/testsuites/standard_suites.go
  test/extended/networking/ipsec.go
  test/extended/networking/util.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add ipsec e2e test for north south traffic case
  test/extended/networking/ipsec.go
  test/extended/networking/util.go
  test/extended/testdata/bindata.go
  test/extended/testdata/ipsec/nmstate.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Fix for issues from dev testing
  test/extended/networking/ipsec.go
  test/extended/networking/util.go
Due: none

Use butane generated static machine config for certs
  test/extended/networking/ipsec.go
  test/extended/networking/util.go
  test/extended/testdata/bindata.go
  test/extended/testdata/ipsec/ipsec-nsconfig-machine-config.yaml
Due: none

Add IPsec e2e tests for node traffic
  test/extended/networking/ipsec.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

verify tls artifacts
  Makefile
Due: ci/prow/cross, ci/prow/artifacts

use the proper cert to verify the oauth-server
  test/extended/util/oauthserver/oauthserver.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCPBUGS-18534: monitor test fix to wait before connecting to a non-existent dns
  pkg/monitortests/network/disruptionserviceloadbalancer/monitortest.go
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

enforce termination policy
  pkg/monitortests/clusterversionoperator/terminationmessagepolicy/monitortest.go
Due: none

make update
  test/extended/util/image/zz_generated.txt
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.json
  tls/descriptions/descriptions.json
  tls/ownership/ownership.json
  tls/violations/autoregenerate-after-expiry/autoregenerate-after-expiry-violations.json
  tls/violations/descriptions/descriptions-violations.json
  tls/violations/ownership/ownership-violations.json
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Use pull secret from cluster under test to get image info
  pkg/monitortests/network/disruptionpodnetwork/monitortest.go
  pkg/monitortests/network/disruptionpodnetwork/utils.go
  test/extended/operators/certs.go
Due: none

Bump github.com/openshift/client-go
  go.mod
  go.sum
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/networkdiagnostics.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/networkdiagnosticssourceplacement.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/networkdiagnosticstargetplacement.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/networkspec.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/buildinputs.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/buildoutputs.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/imagesecretobjectreference.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/machineconfigpoolreference.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/machineosbuild.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/machineosbuilderreference.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/machineosbuildspec.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/machineosbuildstatus.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/machineosconfig.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/machineosconfigreference.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/machineosconfigspec.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/machineosconfigstatus.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/machineoscontainerfile.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/machineosimagebuilder.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/objectreference.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1alpha1/renderedmachineconfigreference.go
  vendor/github.com/openshift/client-go/machineconfiguration/clientset/versioned/typed/machineconfiguration/v1alpha1/generated_expansion.go
  vendor/github.com/openshift/client-go/machineconfiguration/clientset/versioned/typed/machineconfiguration/v1alpha1/machineconfiguration_client.go
  vendor/github.com/openshift/client-go/machineconfiguration/clientset/versioned/typed/machineconfiguration/v1alpha1/machineosbuild.go
  vendor/github.com/openshift/client-go/machineconfiguration/clientset/versioned/typed/machineconfiguration/v1alpha1/machineosconfig.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/ingresscontrollertuningoptions.go
  vendor/modules.txt
Due: none

NetworkDiagnosticsConfig tests
  test/extended/networking/network_diagnostics.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Switch from k8s.io/legacy-cloud-providers/azure to sigs.k8s.io/cloud-provider-azure
  pkg/monitortests/cloud/azure/metrics/monitortest.go
  test/extended/util/azure/config_file.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Switch to golang 1.22
  .ci-operator.yaml
  images/hello-openshift/Dockerfile.rhel
  images/tests/Dockerfile.rhel
Due: none

React to k8s 1.30 changes
  test/e2e/upgrade/dns/dns.go
  test/extended/image_ecosystem/scl.go
  test/extended/networking/egress_firewall.go
  test/extended/operators/server_side_apply_examples.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

Drop windows image, removed in https://github.com/kubernetes/kubernetes/pull/122564
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

make update
  test/extended/util/image/zz_generated.txt
  zz_generated.manifests/test-reporting.yaml
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Increase ipsec timeout parameters
  pkg/testsuites/standard_suites.go
  test/extended/networking/ipsec.go
Due: none

Revert "Merge pull request #28750 from adambkaplan/unauthenticated-webhook-bc"
  test/extended/builds/start.go
  test/extended/builds/webhook.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

review comments 1
  pkg/monitor/monitorapi/types.go
  pkg/monitortestlibrary/platformidentification/upgrade.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators_test.go
  pkg/monitortests/node/legacynodemonitortests/kubelet.go
  test/e2e/upgrade/upgrade.go
Due: none

inline the testcases with the test
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators_test.go
Due: none

fixup to make more readable
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators_test.go
Due: none

[ETCD-488] Fix feature gate for etcd profiles e2e test
  test/extended/etcd/hardware_speed.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Ignore edge workers when listing nodes
  test/extended/image_ecosystem/helper.go
  test/extended/image_ecosystem/s2i_perl.go
  test/extended/image_ecosystem/scl.go
  test/extended/networking/egressip_helpers.go
  test/extended/pods/graceful-shutdown.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

add Jira for image-registry single replica exception
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: none

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
