Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)

Add pod wait upon object creation
  test/extended/cluster/cl.go
  test/extended/cluster/utils.go
Due: none

automate OLM test case OCP-24074
  test/extended/operators/olm.go
Due: none

relax e2e RAR to allow openshift- namespace SAs to be cluster-admin
  test/extended/authorization/authorization.go
Due: none

bump
  staging/src/github.com/openshift/openshift-apiserver/pkg/openapi/zz_generated.openapi.go
  vendor/k8s.io/kubernetes/pkg/generated/openapi/zz_generated.openapi.go
Due: none

set correct service CIDR
  images/dind/master/ovn-kubernetes-master.sh
  images/dind/node/ovn-kubernetes-node.sh
Due: none

Load testPerson schema for ldap tests
  test/extended/testdata/bindata.go
  test/extended/testdata/ldap/ldapserver-scripts-cm.yaml
Due: none

Append build running state for serial runpolicy
  test/extended/builds/run_policy.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

Could delete all resources when delete the project
  test/extended/authorization/project.go
Due: none

Make 'oc adm prune auth' can prune ServiceAccount
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/auth/prune_command.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/auth/serviceaccount.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/auth/serviceaccount_test.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/prune.go
Due: none

Modify SetNamespace() to fix multithreaded use
  test/extended/util/client.go
Due: ci/prow/e2e-aws-builds

Add apiservers.config.openshift.io admission smoke test
  test/extended/apiserver/config_admission_test.go
Due: none

Report unauthenticated error when performing `oc registry login`
  staging/src/github.com/openshift/oc/pkg/cli/registry/login/login.go
Due: none

Automatic commit of package [atomic-openshift] release [3.9.90-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

UPSTREAM: <drop>: Change log levels of HPA logic to debug e2e flake
  vendor/k8s.io/kubernetes/pkg/controller/podautoscaler/horizontal.go
  vendor/k8s.io/kubernetes/pkg/controller/podautoscaler/replica_calculator.go
Due: none

auto for case ocp-10284
  test/extended/cli/set.go
Due: none

UPSTREAM: 70286: Use pvc uid instead of pvc name in glusterfs endpoint name
  vendor/k8s.io/kubernetes/pkg/volume/glusterfs/glusterfs.go
Due: none

move router related testdata to router folder
  test/extended/router/config_manager.go
  test/extended/router/headers.go
  test/extended/router/metrics.go
  test/extended/router/reencrypt.go
  test/extended/router/router.go
  test/extended/router/scoped.go
  test/extended/router/unprivileged.go
  test/extended/router/weighted.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/ingress.yaml
  test/extended/testdata/router/reencrypt-serving-cert.yaml
  test/extended/testdata/router/router-common.yaml
  test/extended/testdata/router/router-config-manager.yaml
  test/extended/testdata/router/router-http-echo-server.yaml
  test/extended/testdata/router/router-metrics.yaml
  test/extended/testdata/router/router-override-domains.yaml
  test/extended/testdata/router/router-override.yaml
  test/extended/testdata/router/router-scoped.yaml
  test/extended/testdata/router/weighted-router.yaml
Due: none

fix vcs
  glide.yaml
Due: none

pin deps to levels
  glide.yaml
Due: none

generated
  hack/openapi-violation.list
  pkg/openapi/zz_generated.openapi.go
Due: ci/prow/artifacts, ci/prow/cross

prevent referencing internal load balancers
  pkg/admission/customresourcevalidation/apiserver/OWNERS
  pkg/admission/customresourcevalidation/apiserver/validate_apiserver.go
  pkg/admission/customresourcevalidation/apiserver/validate_apiserver_test.go
  pkg/admission/customresourcevalidation/apiserver/validation_wrapper.go
  pkg/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
Due: none

use right interface
  pkg/admission/customresourcevalidation/apiserver/validation_wrapper.go
  pkg/admission/customresourcevalidation/customresourcevalidator.go
Due: none

move deployment integration tests
  test/extended/controller_manager/deploy_trigger.go
  test/integration/deploy_trigger_test.go
  test/integration/deployment_mock.go
Due: none

fix resource limits we don't need in e2e
  test/extended/controller_manager/deployment_mock.go
Due: none

UPSTREAM: <drop>: revert "disable crd-discovery-available"
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
Due: none

images/kube-proxy: update to 4.1, add iptables wrappers
  images/kube-proxy/Dockerfile
  images/kube-proxy/Dockerfile.rhel
Due: none

images/kube-proxy: copy iptables wrapper scripts from sdn
  images/kube-proxy/Dockerfile.rhel
  images/kube-proxy/scripts/ip6tables
  images/kube-proxy/scripts/ip6tables-restore
  images/kube-proxy/scripts/ip6tables-save
  images/kube-proxy/scripts/iptables
  images/kube-proxy/scripts/iptables-restore
  images/kube-proxy/scripts/iptables-save
Due: none

UPSTREAM: 79391: Don't use strategic merge patch on Node.Status.Addresses
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_node_status_test.go
  vendor/k8s.io/kubernetes/pkg/util/node/BUILD
  vendor/k8s.io/kubernetes/pkg/util/node/node.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/api/core/v1/generated.proto
  vendor/k8s.io/kubernetes/staging/src/k8s.io/api/core/v1/types.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go
Due: ci/prow/gcp-crio

bump
  pkg/openapi/zz_generated.openapi.go
  vendor/k8s.io/kubernetes/pkg/generated/openapi/zz_generated.openapi.go
Due: none

auto for case OCP-10643
  test/extended/deployments/deployments.go
  test/extended/testdata/bindata.go
  test/extended/testdata/deployments/deployment-withouttrigger.yaml
Due: none

UPSTREAM: 78697: Skip multi-node PV test when pods scheduled on the same node
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/provisioning.go
Due: none

e2e: Enable the AWS multinode storage tests
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

hack: adapt update-vendor.sh
  hack/update-vendor.sh
  staging-kube
Due: ci/prow/artifacts, ci/prow/cross

hack: add bump.sh
  hack/bump.sh
Due: ci/prow/artifacts, ci/prow/cross

test/extended/templates: fix imports
  test/extended/templates/templateinstance_security.go
Due: none

glide.yaml: fix k8s.io repos
  glide.yaml
  hack/bump.sh
Due: ci/prow/artifacts, ci/prow/cross

glide: work around go.mod complaining about wrong sigs.k8s.io/yaml module name
  glide.lock
  glide.yaml
Due: none
