Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)) or (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder))
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)

UPSTREAM: <carry> print merged flags at startup
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go
Due: none

OVN-Kubernetes: some more test tweaks
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

changes openshift-tests to report and error when creating kube client fails
  cmd/openshift-tests/openshift-tests.go
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: 82424: Use pod + nsenter instead of SSH in mount propagation tests
  vendor/k8s.io/kubernetes/test/e2e/node/BUILD
  vendor/k8s.io/kubernetes/test/e2e/node/mount_propagation.go
Due: none

Enable mount propagation test
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Remove unused NFS test pattern
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Enable storage tests that require 1.16 kubelet
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Reshuffle disabled storage tests
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: 80747: aws: sort addresses of multiple interfaces correctly
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/aws/aws.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/aws/aws_fakes.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/aws/aws_test.go
Due: none

UPSTREAM: 82189: add conditions for remaining object totals during ns termination (fixes integration test)
  vendor/k8s.io/kubernetes/test/integration/etcd/data.go
  vendor/k8s.io/kubernetes/test/integration/namespace/ns_conditions_test.go
Due: none

test: Add a new disabled recovery disruptive test that verifies CVO
  test/extended/operators/recover.go
Due: none

test: Update the quorum restore disruptive test to be resilient
  cmd/openshift-tests/e2e.go
  test/e2e/dr/common.go
  test/e2e/dr/quorum_restore.go
  test/e2e/upgrade/upgrade.go
  test/extended/dr/common.go
  test/extended/dr/quorum_restore.go
  test/extended/dr/restore_from_snapshot.go
  test/extended/include.go
  test/extended/util/disruption/disruption.go
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: 80747: aws: sort addresses of multiple interfaces correctly
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/aws/aws_fakes.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/aws/aws_test.go
Due: none

networkpolicy: add a unit test
  pkg/network/node/networkpolicy_test.go
Due: none

networkpolicy: add a namespaceSelector cache
  pkg/network/node/networkpolicy.go
Due: none

networkpolicy: minor fixups
  pkg/network/node/networkpolicy.go
Due: none

Merge NetworkPolicy Namespace/NetNamespace tracking
  pkg/network/node/networkpolicy.go
  pkg/network/node/networkpolicy_test.go
Due: none

Improve NetworkPolicy cache
  pkg/network/node/networkpolicy.go
  pkg/network/node/networkpolicy_test.go
Due: none

Add a NetworkPolicy cache unit test
  pkg/network/node/networkpolicy_test.go
Due: none

UPSTREAM: 61330: fix workgroup panic bug
  vendor/k8s.io/kubernetes/cmd/kubelet/app/server.go
Due: none

UPSTREAM: 63832: Always track kubelet -> API connections
  vendor/k8s.io/kubernetes/cmd/kubelet/app/server.go
  vendor/k8s.io/kubernetes/pkg/kubelet/certificate/transport.go
  vendor/k8s.io/kubernetes/pkg/kubelet/certificate/transport_test.go
Due: ci/prow/gcp-crio

UPSTREAM: <carry>: filter daemonset nodes by namespace node selectors
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/extensions.go
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/options/options.go
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/patch_flags.go
  vendor/k8s.io/kubernetes/pkg/controller/daemon/daemon_controller.go
  vendor/k8s.io/kubernetes/pkg/controller/daemon/patch_nodeselector.go
  vendor/k8s.io/kubernetes/pkg/controller/daemon/patch_nodeselector_test.go
Due: none

UPSTREAM: 62543: Timeout on instances.NodeAddresses cloud provider request
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_node_status.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_node_status_test.go
Due: ci/prow/gcp-crio

UPSTREAM: 65516: fix azure disk creation issue when specifying external resource group
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure/azure_managedDiskController.go
Due: none

UPSTREAM: 63832: Close all kubelet->API connections on heartbeat failure
  vendor/k8s.io/kubernetes/cmd/kubelet/app/server.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_node_status.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_node_status_test.go
Due: ci/prow/gcp-crio

[3.9] UPSTREAM: 57991 Fix exists status for azure GetLoadBalancer
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure/azure_loadbalancer.go
Due: none

UPSTREAM: 65549: Fix flexvolumes in containerized envs
  vendor/k8s.io/kubernetes/cluster/get-kube-local.sh
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/BUILD
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/plugins.go
  vendor/k8s.io/kubernetes/cmd/kubelet/app/plugins.go
  vendor/k8s.io/kubernetes/cmd/kubelet/app/server.go
  vendor/k8s.io/kubernetes/hack/local-up-cluster.sh
  vendor/k8s.io/kubernetes/pkg/util/nsenter/BUILD
  vendor/k8s.io/kubernetes/pkg/util/nsenter/exec.go
  vendor/k8s.io/kubernetes/pkg/util/nsenter/exec_unsupported.go
  vendor/k8s.io/kubernetes/pkg/volume/flexvolume/flexvolume_test.go
  vendor/k8s.io/kubernetes/pkg/volume/flexvolume/plugin.go
  vendor/k8s.io/kubernetes/pkg/volume/flexvolume/probe.go
  vendor/k8s.io/kubernetes/pkg/volume/flexvolume/probe_test.go
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 57432: Add cache for VirtualMachinesClient.Get in azure cloud provider
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure/BUILD
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure/azure_controllerCommon.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure/azure_util_cache.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure/azure_util_cache_test.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure/azure_wrap.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure/azure_zones.go
Due: none

UPSTREAM: 65217: add external resource group support for azure disk
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure/azure_managedDiskController.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure/azure_test.go
  vendor/k8s.io/kubernetes/pkg/volume/azure_dd/azure_dd.go
  vendor/k8s.io/kubernetes/pkg/volume/azure_dd/azure_provision.go
Due: none

Upstream: 57994: Fix vm cache in concurrent case in azure_util.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure/azure_wrap.go
Due: none

UPSTREAM: 64860:checkLimitsForResolvConf for the pod create and update events instead of checking periodically
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_test.go
  vendor/k8s.io/kubernetes/pkg/kubelet/network/dns/dns.go
Due: ci/prow/gcp-crio

UPSTREAM: 65226: Put all the node address cloud provider retrival complex logic into cloudResourceSyncManager
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/fake/fake.go
  vendor/k8s.io/kubernetes/pkg/kubelet/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/cloud_request_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/cloud_request_manager_test.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_node_status.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_node_status_test.go
Due: ci/prow/gcp-crio

UPSTREAM: 66350: Start cloudResourceSyncsManager before getNodeAnyWay (initializeModules)
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
Due: ci/prow/gcp-crio

UPSTREAM: 59931: do not delete node in openstack, if those still exist in cloudprovider
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/openstack/openstack.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/openstack/openstack_instances.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/openstack/openstack_routes.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/openstack/openstack_volumes.go
Due: none

UPSTREAM: 59440: Use SetInformers method to register for Node events
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere/BUILD
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere/vsphere.go
Due: none

UPSTREAM: 59602: Change VMware provider ID to uuid
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere/nodemanager.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere/vsphere.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere/vsphere_util.go
Due: none

UPSTREAM: 62220: Fix detach disk when VM is not found
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere/vsphere.go
Due: none

UPSTREAM: 62919: Fix vsphere detach on 1.8 to 1.9 upgrade
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere/BUILD
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere/nodemanager.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere/vsphere.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere/vsphere_util.go
Due: none

UPSTREAM: 70291: Do not delete vspehre node on shutdown
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere/vclib/virtualmachine.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/vsphere/vsphere.go
Due: none
