Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-builds-cluster-profile
      - --target=e2e-aws-builds
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-registry-cluster-profile
      - --target=e2e-aws-image-registry
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

no build updates after create pod until pod added event arrives
  pkg/build/controller/build/build_controller.go
  pkg/build/controller/build/build_controller_test.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

oc rsync: fix tar strategy
  pkg/oc/cli/rsync/rsync.go
Due: none

oc: make it clear what challenge handlers are enabled
  pkg/oc/lib/tokencmd/basicauth.go
  pkg/oc/lib/tokencmd/request_token.go
Due: none

add must-gather command
  pkg/oc/cli/admin/admin.go
  pkg/oc/cli/admin/mustgather/mustgather.go
  test/cmd/admin.sh
Due: none

Fix symlink arrays for bash 3
  hack/lib/build/binaries.sh
  hack/lib/constants.sh
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: <carry>: filter out CustomResourceQuota paths from OpenAPI
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/routes/openapi.go
Due: none

UPSTREAM: 76452: Wire done channel in scheduler+{cloud,kube}-controller-manager
  vendor/k8s.io/kubernetes/cmd/cloud-controller-manager/app/controllermanager.go
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/controllermanager.go
  vendor/k8s.io/kubernetes/cmd/kube-scheduler/app/server.go
Due: none

integration: pass stop channel to kube controller manager
  test/util/server/server.go
Due: none

UPSTREAM: 76452: apiserver: wire stoppedCh further up the call chain
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Due: none

UPSTREAM: 75887: Explicitly flush headers when proxying
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware_test.go
Due: none

Bug 1671528: clearly state new-app's non-support for CRDs, offer oc process as alternative
  pkg/oc/cli/newapp/newapp.go
  test/cmd/newapp.sh
  test/testdata/newapp/template-with-crd.yaml
Due: none

UPSTREAM: <drop>: Add extra logs for flake analysis
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/aws/aws.go
Due: none

neuter new bld -> active build tran when pod already exists
  pkg/build/controller/build/build_controller.go
  pkg/build/controller/build/build_controller_test.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

Add check for node readiness when recovering workers
  test/extended/machines/workers.go
Due: none

make the copy more explicit
  images/sdn/Dockerfile.rhel
Due: none

UPSTREAM: 70002: Fix azure disk attachment error on Linux
  vendor/k8s.io/kubernetes/pkg/volume/azure_dd/attacher.go
  vendor/k8s.io/kubernetes/pkg/volume/azure_dd/azure_common.go
  vendor/k8s.io/kubernetes/pkg/volume/azure_dd/azure_common_test.go
Due: none

test
  images/sdn/Dockerfile.rhel
Due: none

Support Mulit-Arch Builds
  images/cli/Dockerfile.rhel
  images/hyperkube/Dockerfile.rhel
  images/hypershift/Dockerfile.rhel
  images/sdn/Dockerfile.rhel
  images/template-service-broker/Dockerfile.rhel
  images/tests/Dockerfile.rhel
Due: none

move to pod event driven as primary FSM traversal mechanism
  pkg/build/controller/build/build_controller.go
  pkg/build/controller/build/build_controller_test.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

get must-gather image from imagestream
  pkg/oc/cli/admin/mustgather/mustgather.go
Due: none

asdfadsf
  images/sdn/Dockerfile.rhel
Due: none

asdfasdf
  images/hyperkube/Dockerfile.rhel
Due: none

fix must-gather output
  pkg/oc/cli/admin/mustgather/mustgather.go
Due: none

Automatic commit of package [atomic-openshift] release [3.9.77-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

pkg/oc/cli/admin/release/extract_tools: Fix false "did not contain" when not hashing
  pkg/oc/cli/admin/release/extract_tools.go
Due: none

force oauth-server to only use http1
  pkg/cmd/openshift-integrated-oauth-server/server.go
  test/extended/include.go
  test/extended/oauth/http1.go
Due: none

UPSTREAM: <carry>: oauth-server: allow serving http1 only
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/config.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Due: none

Extract openshift-install and use the exact SHA
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
  pkg/oc/cli/admin/release/extract.go
  pkg/oc/cli/admin/release/extract_tools.go
  pkg/oc/cli/admin/release/info.go
Due: none

Local registry config should only search home dir, not working dir
  pkg/image/registryclient/dockercredentials/credentials.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

UPSTREAM: <carry>: remove apiservice from sync in CRD registration when it exists
  vendor/k8s.io/kubernetes/pkg/master/controller/crdregistration/crdregistration_controller.go
Due: none

test/extended/prometheus: temporarily disable scheduler metrics checks
  test/extended/prometheus/prometheus.go
Due: none

Switch ClusterLoader to use `oc adm` to create projects
  test/extended/cluster/cl.go
  test/extended/cluster/context.go
Due: none

rbac: add cluster wide read to crds and configmaps
  pkg/cmd/server/bootstrappolicy/policy.go
  pkg/cmd/server/bootstrappolicy/policy_test.go
  test/testdata/bootstrappolicy/bootstrap_policy_file.yaml
  test/testdata/bootstrappolicy/openshift_bootstrap_cluster_roles.yaml
Due: ci/openshift-jenkins/service-catalog

test/extended/prometheus: Add test for host cAdvisor metrics
  test/extended/prometheus/prometheus.go
Due: none

Follow up feedback on signed output for tools extraction
  pkg/oc/cli/admin/release/extract_tools.go
Due: none

When a registry returns a blob or manifest, verify its contents by default
  pkg/image/importer/image.go
  pkg/image/importer/importer_test.go
  pkg/image/registryclient/client.go
  pkg/image/registryclient/client_test.go
  pkg/oc/cli/image/manifest/manifest.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

Unify flag behavior for image commands and support --skip-verify
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
  pkg/image/importer/importer.go
  pkg/oc/cli/admin/release/extract.go
  pkg/oc/cli/admin/release/extract_tools.go
  pkg/oc/cli/admin/release/info.go
  pkg/oc/cli/admin/release/mirror.go
  pkg/oc/cli/admin/release/new.go
  pkg/oc/cli/image/append/append.go
  pkg/oc/cli/image/extract/extract.go
  pkg/oc/cli/image/info/info.go
  pkg/oc/cli/image/manifest/manifest.go
  pkg/oc/cli/image/mirror/mirror.go
  pkg/oc/cli/registry/login/login.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

Image commands should perform extra verification on input content
  pkg/oc/cli/admin/release/extract.go
  pkg/oc/cli/admin/release/info.go
  pkg/oc/cli/admin/release/mirror.go
  pkg/oc/cli/admin/release/new.go
  pkg/oc/cli/image/append/append.go
  pkg/oc/cli/image/extract/extract.go
  pkg/oc/cli/image/info/info.go
  pkg/oc/cli/image/manifest/manifest.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
