Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

add timestamp to pod sandbox messages
  pkg/synthetictests/networking.go
Due: none

Alter junit test suite names for jobs with multiple junit xmls.
  cmd/openshift-tests/openshift-tests.go
  cmd/openshift-tests/upgrade.go
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

Bug 1931594: add one more timeout condition for --request-timeout test
  test/extended/cli/timeout.go
Due: none

make it easy to create multiple flavors of interval charts
  pkg/monitor/intervalcreation/rendering.go
  pkg/monitor/write_job_run_data.go
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/write_job_run_data.go
Due: none

Working commit
  test/e2e/upgrade/dns/dns.go
Due: none

split watchdog test into its own test
  pkg/synthetictests/allowedalerts/all.go
  pkg/synthetictests/allowedalerts/basic_alert.go
  pkg/synthetictests/allowedalerts/watchdog.go
  test/e2e/upgrade/alert/alert.go
  test/extended/prometheus/prometheus.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

allow promtail restarts as designed
  pkg/synthetictests/duplicated_events.go
Due: none

Flake failed sandboxes from bug in new guard pods
  pkg/synthetictests/networking.go
Due: none

Create coocooflip
  coocooflip
Due: none

Recognize more patterns for image pulls
  cmd/openshift-tests/images.go
Due: none

localResourceAccessReviewTest: allow event explorer
  test/extended/authorization/authorization.go
Due: none

Add test for OS updates being staged within 5-10m.
  pkg/synthetictests/event_junits.go
  pkg/synthetictests/operators.go
Due: none

separate prometheus watch alerts
  pkg/synthetictests/allowedalerts/all.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

baremetal: add test helper
  test/extended/baremetal/commons.go
  test/extended/baremetal/helper.go
Due: none

Add support to scale test for baremetal platform
  test/extended/baremetal/helper.go
  test/extended/baremetal/hosts.go
  test/extended/machines/scale.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

baremetal: add skip inspection test
  test/extended/baremetal/common.go
  test/extended/baremetal/commons.go
  test/extended/baremetal/helper.go
  test/extended/baremetal/hosts.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Allow KA guard probe to fail as designed
  pkg/synthetictests/duplicated_events.go
Due: none

update disruption times and shift to p99
  pkg/synthetictests/allowedbackenddisruption/matches.go
  pkg/synthetictests/allowedbackenddisruption/matches_test.go
  pkg/synthetictests/allowedbackenddisruption/query_results.json
  pkg/synthetictests/allowedbackenddisruption/types.go
Due: none

test/extended: re-enable API data in etcd test
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Sync examples
  examples/db-templates/mariadb-ephemeral-template.json
  examples/db-templates/mariadb-persistent-template.json
  examples/db-templates/mysql-ephemeral-template.json
  examples/db-templates/mysql-persistent-template.json
  examples/db-templates/postgresql-ephemeral-template.json
  examples/db-templates/postgresql-persistent-template.json
  examples/db-templates/redis-ephemeral-template.json
  examples/db-templates/redis-persistent-template.json
  examples/image-streams/image-streams-centos7.json
  examples/jenkins/jenkins-ephemeral-template.json
  examples/jenkins/jenkins-persistent-template.json
  examples/quickstarts/cakephp-mysql-persistent.json
  examples/quickstarts/cakephp-mysql.json
  examples/quickstarts/dancer-mysql-persistent.json
  examples/quickstarts/dancer-mysql.json
  examples/quickstarts/django-postgresql-persistent.json
  examples/quickstarts/django-postgresql.json
  examples/quickstarts/httpd.json
  examples/quickstarts/nginx.json
  examples/quickstarts/nodejs-postgresql-persistent.json
  examples/quickstarts/nodejs-postgresql.json
  examples/quickstarts/rails-postgresql-persistent.json
  examples/quickstarts/rails-postgresql.json
  test/extended/testdata/bindata.go
  test/extended/testdata/cluster/quickstarts/cakephp-mysql.json
  test/extended/testdata/cluster/quickstarts/dancer-mysql.json
  test/extended/testdata/cluster/quickstarts/django-postgresql.json
  test/extended/testdata/cluster/quickstarts/nodejs-postgresql.json
  test/extended/testdata/cluster/quickstarts/rails-postgresql.json
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

image_ecosystem: use unique tags in test logs
  test/extended/image_ecosystem/scl.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

image_ecosystem: sync s2i image tags
  test/extended/image_ecosystem/s2i_images.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

loki moved namespaces, so we have to move to match
  pkg/synthetictests/duplicated_events.go
Due: none

also tolerate guard pod issues for kcm and ks
  pkg/synthetictests/duplicated_events.go
Due: none

etcd: update list of APIs removed
  test/extended/etcd/etcd_storage_path.go
Due: none

allow loki target to be down
  test/e2e/upgrade/alert/alert.go
  test/extended/prometheus/prometheus.go
Due: none

adds a synthetic test for checking if the pod.spec.nodeName field is immutable
  pkg/monitor/pod.go
  pkg/synthetictests/apiserver.go
  pkg/synthetictests/event_junits.go
Due: none

storage operator can go upgradeable=unknown if vsphere is unreachable
  test/extended/operators/operators.go
Due: none

baremetal: remove wait condition when deleting extraworkers
  test/extended/baremetal/helper.go
Due: none

handle refactoring concerns on the alert separation
  pkg/synthetictests/allowedalerts/all.go
  pkg/synthetictests/allowedalerts/basic_alert.go
  test/e2e/upgrade/alert/alert.go
  test/extended/operators/operators.go
  test/extended/prometheus/prometheus.go
Due: none

Add X-CSRF-Token header to prevent misleading warning
  test/extended/oauth/requestheaders.go
Due: none

Bug 2040793: Fix ordering issues with snapshot e2e
  go.mod
  go.sum
  vendor/k8s.io/cloud-provider/go.mod
  vendor/k8s.io/cloud-provider/go.sum
  vendor/k8s.io/csi-translation-lib/go.sum
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/test/e2e/apimachinery/aggregator.go
  vendor/k8s.io/kubernetes/test/e2e/storage/drivers/in_tree.go
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/snapshottable.go
  vendor/k8s.io/legacy-cloud-providers/openstack/openstack.go
  vendor/k8s.io/mount-utils/go.mod
  vendor/k8s.io/mount-utils/go.sum
  vendor/k8s.io/utils/clock/clock.go
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/k8s.io/utils/inotify/inotify_linux.go
  vendor/modules.txt
Due: ci/prow/cross, ci/prow/artifacts

baremetal: add test to check the presence of preprovisioning images for every deployed worker
  test/extended/baremetal/common.go
  test/extended/baremetal/hosts.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Ensure CAO is stable before running the test
  test/extended/oauth/requestheaders.go
Due: none

Adding new cloud provider e2e for alibabacloud
  cmd/openshift-tests/provider.go
  cmd/openshift-tests/provider_test.go
  test/extended/util/alibabacloud/provider.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

improves reporting for PodNodeNameIsImmutable monitor test
  pkg/monitor/pod.go
Due: none

builds: fix filename in csi build volumes within Tech Preview test
  test/extended/builds/volumes.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

alert: allow apiserver burn rate to fire
  pkg/synthetictests/allowedalerts/all.go
Due: none

use real alert data to determine flake and failure timeframes for alerts
  pkg/synthetictests/allowedalerts/basic_alert.go
  pkg/synthetictests/allowedalerts/matches.go
  pkg/synthetictests/allowedalerts/matches_test.go
  pkg/synthetictests/allowedalerts/query_results.json
  pkg/synthetictests/allowedalerts/types.go
Due: none

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
