Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)

Add build system and images to sdn
  staging/src/github.com/openshift/sdn/.gitignore
  staging/src/github.com/openshift/sdn/Makefile
  staging/src/github.com/openshift/sdn/images/Dockerfile
  staging/src/github.com/openshift/sdn/images/Dockerfile.rhel
  staging/src/github.com/openshift/sdn/images/scripts/ip6tables
  staging/src/github.com/openshift/sdn/images/scripts/ip6tables-restore
  staging/src/github.com/openshift/sdn/images/scripts/ip6tables-save
  staging/src/github.com/openshift/sdn/images/scripts/iptables
  staging/src/github.com/openshift/sdn/images/scripts/iptables-restore
  staging/src/github.com/openshift/sdn/images/scripts/iptables-save
Due: ci/prow/artifacts, ci/prow/cross

Inherit most of vendoring from origin (to be cleaned up / pruned afterwards)
  staging/src/github.com/openshift/sdn/glide.lock
  staging/src/github.com/openshift/sdn/glide.yaml
Due: none

Setup publishing to restore SDN vendor folder
  publishing-staging-rules.yaml
Due: none

UPSTREAM: 78991: log stale cache Info not Warning, Bug 1573460
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/tools/cache/reflector.go
Due: none

UPSTREAM: 78771: Allow master nodes to be accessed from private ips
  vendor/k8s.io/kubernetes/pkg/ssh/ssh.go
  vendor/k8s.io/kubernetes/test/e2e/apps/network_partition.go
  vendor/k8s.io/kubernetes/test/e2e/framework/networking_utils.go
  vendor/k8s.io/kubernetes/test/e2e/framework/ssh.go
  vendor/k8s.io/kubernetes/test/e2e/framework/util.go
  vendor/k8s.io/kubernetes/test/e2e/scheduling/taint_based_evictions.go
Due: none

Re-enable taint based evictions e2e
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

build stand-alone openshift-apiserver binary
  Makefile
  cmd/hypershift/main.go
  staging/src/github.com/openshift/openshift-apiserver/cmd/openshift-apiserver/main.go
  staging/src/github.com/openshift/openshift-apiserver/pkg/cmd/openshift-apiserver/cmd.go
Due: ci/prow/artifacts, ci/prow/cross

add Dockerfiles for openshift-apiserver images
  staging/src/github.com/openshift/openshift-apiserver/Dockerfile
  staging/src/github.com/openshift/openshift-apiserver/Dockerfile.rhel
Due: none

add Dockerfiles for openshift-apiserver images
  staging/src/github.com/openshift/openshift-controller-manager/Dockerfile
  staging/src/github.com/openshift/openshift-controller-manager/Dockerfile.rhel
Due: none

project: wait for the informer caches to sync in auth cache
  staging/src/github.com/openshift/openshift-apiserver/pkg/cmd/openshift-apiserver/openshiftapiserver/openshift_apiserver.go
  staging/src/github.com/openshift/openshift-apiserver/pkg/cmd/openshift-apiserver/openshiftapiserver/project.go
  staging/src/github.com/openshift/openshift-apiserver/pkg/project/auth/cache.go
  staging/src/github.com/openshift/openshift-apiserver/pkg/project/auth/cache_test.go
Due: none

build stand-alone openshift-controller-manager binary
  Makefile
  cmd/hypershift/main.go
  staging/src/github.com/openshift/openshift-controller-manager/cmd/openshift-controller-manager/main.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/openshift-controller-manager/cmd.go
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 79467: Run sidecars for csi-mock as privileged
  vendor/k8s.io/kubernetes/test/e2e/generated/bindata.go
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-cluster-driver-registrar.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-resizer.yaml
Due: none

Enable CSI-mock tests
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Bump deps to match k8s levels, drop pins where not needed anymore
  glide.yaml
Due: none

UPSTREAM: <carry>: add apiserver.config.openshift.io validation to prevent overriding internal LB SNI settings
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/apiserver/OWNERS
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver_test.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validation_wrapper.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
Due: none

Automatic commit of package [atomic-openshift] release [3.9.86-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

Update generated openapi
  staging/src/github.com/openshift/openshift-apiserver/pkg/openapi/zz_generated.openapi.go
Due: none

Revert "test/extended/util: allow tests to be skipped based on platform"
  test/extended/util/azure/config_file.go
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Link the component image in a changelog to the GitHub source view
  staging/src/github.com/openshift/oc/pkg/cli/admin/release/info.go
Due: none

Revert "Revert "test/extended/util: allow tests to be skipped based on platform""
  test/extended/util/azure/config_file.go
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

test/extended/util: remove the regex calculation out of hot path.
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

ovn: open database ports
  images/dind/master/ovn-kubernetes-master.sh
Due: none

--net-controller folded into --init-master
  images/dind/master/ovn-kubernetes-master.sh
Due: none

f29 needs longer node bringup time
  hack/dind-cluster.sh
Due: ci/prow/artifacts, ci/prow/cross

Fedora 29
  images/dind/Dockerfile
Due: none

Automatic commit of package [atomic-openshift] release [3.9.87-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

Single layer images should still print layer digest
  staging/src/github.com/openshift/oc/pkg/cli/image/info/info.go
  staging/src/github.com/openshift/oc/pkg/helpers/describe/describer.go
Due: none

oauth-server: don't bootstrap oauth-clients
  staging/src/github.com/openshift/oauth-server/pkg/cmd/oauth-server/server.go
  staging/src/github.com/openshift/oauth-server/pkg/oauthserver/auth.go
  staging/src/github.com/openshift/oauth-server/pkg/oauthserver/oauth_apiserver.go
Due: none

UPSTREAM: <carry>: vendor changes to not bootstraping oauthclients
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/patch_handlerchain.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/patch_oauthserver.go
Due: none

test-cmd/integration: bootstrap the oauthclients upon OAS start
  hack/local-up-master/lib.sh
  test/util/server/server.go
Due: ci/prow/artifacts, ci/prow/cross

Handle new VIPERCONFIG value for built-in config
  test/extended/cluster/cl.go
Due: none

move more integration tests to e2e
  test/extended/apiserver/root_redirect.go
  test/extended/authorization/authorization.go
  test/extended/authorization/self_sar.go
  test/extended/include.go
  test/extended/user/basic.go
  test/extended/util/client.go
  test/integration/authorization_test.go
  test/integration/bootstrap_policy_test.go
  test/integration/groups_test.go
  test/integration/master_routes_test.go
  test/integration/unprivileged_newproject_test.go
Due: ci/prow/e2e-aws-builds

Add new CL quickstarts, new CL config and updated bindata
  test/extended/cluster/cl.go
  test/extended/testdata/bindata.go
  test/extended/testdata/cluster/master-vert.yaml
  test/extended/testdata/cluster/quickstarts/cakephp-mysql.json
  test/extended/testdata/cluster/quickstarts/dancer-mysql.json
  test/extended/testdata/cluster/quickstarts/django-postgresql.json
  test/extended/testdata/cluster/quickstarts/nodejs-mongodb.json
  test/extended/testdata/cluster/quickstarts/rails-postgresql.json
Due: none

create unique cluster scoped resources and properly clean them up
  test/extended/authorization/authorization.go
  test/extended/authorization/self_sar.go
  test/extended/user/basic.go
  test/extended/util/client.go
Due: ci/prow/e2e-aws-builds

stop tests from starting informers for no reason
  test/extended/authorization/rbac/groups_default_rules.go
Due: none

move more integration tests to e2e
  test/extended/apiserver/tls.go
  test/extended/authentication/front_proxy.go
  test/extended/authorization/authorization.go
  test/extended/authorization/scopes.go
  test/extended/controller_manager/deploy_defaults.go
  test/extended/controller_manager/deploy_scale.go
  test/extended/controller_manager/deployment_mock.go
  test/extended/controller_manager/pull_secret.go
  test/extended/include.go
  test/extended/oauth/http1.go
  test/extended/oauth/oauthcertfallback.go
  test/extended/oauth/well_known.go
  test/extended/project/project.go
  test/extended/quota/clusterquota.go
  test/extended/util/client.go
  test/integration/clusterquota_test.go
  test/integration/deploy_scale_test.go
  test/integration/front_proxy_test.go
  test/integration/login_test.go
  test/integration/oauth_basicauth_test.go
  test/integration/project_test.go
  test/integration/scopes_test.go
  test/integration/service_account_test.go
  test/integration/tls_test.go
  test/util/client.go
Due: ci/prow/e2e-aws-builds
