Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

Run must-gather tests in later to reduce resource contention
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

handle the case when all operators are already in the desired state
  test/extended/util/operator.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

clean up logic for waiting authentication operator to finish progressing
  test/extended/oauth/requestheaders.go
Due: none

Bump timeout for cvo ugprade check to 10 minutes for Baremetal jobs
  test/e2e/upgrade/upgrade.go
Due: none

Extend time to kube rebase
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

bump(v1.24)
  go.mod
Due: none

run make-update
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/image/image.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

sync CSI test images
  test/extended/util/image/image.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

use agnhost:2.36
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/testdata/hello-openshift/hello-pod.json
  test/extended/testdata/cmd/test/cmd/testdata/templateinstance_objectkinds.yaml
  test/extended/testdata/idling-echo-server-rc.yaml
  test/extended/testdata/idling-echo-server.yaml
  test/extended/testdata/router/ingress.yaml
  test/extended/testdata/router/router-common.yaml
  test/extended/testdata/router/router-config-manager.yaml
  test/extended/testdata/router/router-metrics.yaml
  test/extended/testdata/router/weighted-router.yaml
  test/extended/testdata/templates/templateinstance_badobject.yaml
  test/extended/testdata/templates/templateinstance_objectkinds.yaml
Due: none

disable CSI tests
  cmd/openshift-tests/e2e.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

re-enable tests
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

remove node.k8s.io/v1alpha1 runtimeclasses from etcd test
  test/extended/etcd/etcd_storage_path.go
Due: none

Disable azure-file tests
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 2086092: bump api request counts for metal
  test/extended/apiserver/api_requests.go
Due: none

Stop treating DNS lookup timeouts as disruption.
  pkg/monitor/backenddisruption/disruption_backend_sampler.go
  pkg/monitor/backenddisruption/disruption_backend_sampler_test.go
  pkg/monitor/backenddisruption/disruption_locator.go
  pkg/monitor/write_job_run_data.go
  pkg/synthetictests/event_junits.go
  pkg/synthetictests/networking.go
Due: none

Poll disruption backends every 5s instead of 1s.
  pkg/monitor/backenddisruption/disruption_backend_sampler.go
Due: none

authorization: add a test checking that the restricted-v2 SCC mutates securityContext to match restricted PSa
  test/extended/authorization/podsecurity_admission.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Re-enable tests
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Re-revert "Add networking test for invalid external gateway"
  test/extended/networking/external_gateway.go
  test/extended/networking/util.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Increase etcd-operator watch channels upperbound for BareMetal Platform
  test/extended/apiserver/api_requests.go
Due: none

revert: no longer needed logic for rt kernel
  pkg/synthetictests/kubelet.go
Due: none

extended: unskip InternalTrafficPolicy tests for OVN in 4.11+
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

examples: drop OCP 3 library paths
  examples/db-templates/README.md
  examples/image-streams/README.md
  examples/quickstarts/README.md
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

rm outdated comment, rm unnecessary ctx assignment
  test/extended/oauth/requestheaders.go
Due: none

mv topology guard up, testdata closer to testcases
  test/extended/oauth/requestheaders.go
Due: none

add ginkgo labels as milestone within test
  test/extended/oauth/requestheaders.go
Due: none

add OperatorStatus printout to post mortem
  test/extended/oauth/requestheaders.go
Due: none

Bug 2093339: move provisioning test to permanent disablement, since this is not yet officially supported
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Show DNS lookup sampler problems on the disruption intervals chart.
  e2echart/e2e-chart-template.html
  test/extended/testdata/bindata.go
Due: none

Limit resources for Builds
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/build-postcommit/docker.yaml
  test/extended/testdata/builds/build-postcommit/sti.yaml
  test/extended/testdata/builds/build-pruning/successful-build-config.yaml
  test/extended/testdata/builds/test-build.yaml
  test/extended/testdata/builds/valuefrom/failed-docker-build-value-from-config.yaml
  test/extended/testdata/builds/valuefrom/failed-sti-build-value-from-config.yaml
  test/extended/testdata/builds/valuefrom/successful-docker-build-value-from-config.yaml
  test/extended/testdata/builds/valuefrom/successful-sti-build-value-from-config.yaml
  test/extended/testdata/builds/volumes/csi-docker-buildconfig.yaml
  test/extended/testdata/builds/volumes/csi-s2i-buildconfig.yaml
  test/extended/testdata/builds/volumes/csi-without-rr-docker-buildconfig.yaml
  test/extended/testdata/builds/volumes/csi-without-rr-s2i-buildconfig.yaml
  test/extended/testdata/builds/volumes/docker-buildconfig.yaml
  test/extended/testdata/builds/volumes/s2i-buildconfig.yaml
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

More resource limiting
  test/extended/builds/multistage.go
  test/extended/builds/optimized.go
  test/extended/images/layers.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

EgressIP tests: Use OpenShift API to retrieve CloudPrivateIPConfigs
  test/extended/networking/egressip.go
  test/extended/networking/egressip_helpers.go
  vendor/github.com/openshift/client-go/cloudnetwork/clientset/versioned/clientset.go
  vendor/github.com/openshift/client-go/cloudnetwork/clientset/versioned/doc.go
  vendor/github.com/openshift/client-go/cloudnetwork/clientset/versioned/scheme/doc.go
  vendor/github.com/openshift/client-go/cloudnetwork/clientset/versioned/scheme/register.go
  vendor/github.com/openshift/client-go/cloudnetwork/clientset/versioned/typed/cloudnetwork/v1/cloudnetwork_client.go
  vendor/github.com/openshift/client-go/cloudnetwork/clientset/versioned/typed/cloudnetwork/v1/cloudprivateipconfig.go
  vendor/github.com/openshift/client-go/cloudnetwork/clientset/versioned/typed/cloudnetwork/v1/doc.go
  vendor/github.com/openshift/client-go/cloudnetwork/clientset/versioned/typed/cloudnetwork/v1/generated_expansion.go
  vendor/modules.txt
Due: none

EgressIP: Check IsAssigned when checking CloudPrivateIPConfig status
  test/extended/networking/egressip.go
  test/extended/networking/egressip_helpers.go
Due: none

Read EgressIPs with the client-go dynamic client
  test/extended/networking/egressip_helpers.go
Due: none

Re-enable Azure File tests
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

fix(olm): remove dependency on marketplace-provided content
  test/extended/olm/olm.go
  test/extended/testdata/bindata.go
  test/extended/testdata/olm/catalogsource.yaml
Due: none

reduce to 200m
  test/extended/builds/multistage.go
  test/extended/builds/optimized.go
  test/extended/images/layers.go
  test/extended/testdata/builds/build-postcommit/docker.yaml
  test/extended/testdata/builds/build-postcommit/sti.yaml
  test/extended/testdata/builds/build-pruning/successful-build-config.yaml
  test/extended/testdata/builds/test-build.yaml
  test/extended/testdata/builds/valuefrom/failed-docker-build-value-from-config.yaml
  test/extended/testdata/builds/valuefrom/failed-sti-build-value-from-config.yaml
  test/extended/testdata/builds/valuefrom/successful-docker-build-value-from-config.yaml
  test/extended/testdata/builds/valuefrom/successful-sti-build-value-from-config.yaml
  test/extended/testdata/builds/volumes/csi-docker-buildconfig.yaml
  test/extended/testdata/builds/volumes/csi-s2i-buildconfig.yaml
  test/extended/testdata/builds/volumes/csi-without-rr-docker-buildconfig.yaml
  test/extended/testdata/builds/volumes/csi-without-rr-s2i-buildconfig.yaml
  test/extended/testdata/builds/volumes/docker-buildconfig.yaml
  test/extended/testdata/builds/volumes/s2i-buildconfig.yaml
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

Ignore FailedCreatePodSandBox events for garbage collector tests
  pkg/synthetictests/networking.go
Due: none
