Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

UPSTREAM 81517: e2e: test that both kube-proxy and kubelet recover after iptables flush
  vendor/k8s.io/kubernetes/test/e2e/network/networking.go
  vendor/k8s.io/kubernetes/test/e2e/network/service.go
Due: none

UPSTREAM 81517: Drop iptables firewalld monitoring support
  vendor/k8s.io/kubernetes/cmd/kube-proxy/app/BUILD
  vendor/k8s.io/kubernetes/cmd/kube-proxy/app/server_others.go
  vendor/k8s.io/kubernetes/pkg/kubelet/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/dockershim/network/hostport/fake_iptables.go
  vendor/k8s.io/kubernetes/pkg/kubelet/dockershim/network/kubenet/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/dockershim/network/kubenet/kubenet_linux.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/util/BUILD
  vendor/k8s.io/kubernetes/pkg/util/iptables/BUILD
  vendor/k8s.io/kubernetes/pkg/util/iptables/iptables.go
  vendor/k8s.io/kubernetes/pkg/util/iptables/iptables_test.go
  vendor/k8s.io/kubernetes/pkg/util/iptables/testing/fake.go
  vendor/k8s.io/kubernetes/test/test_owners.csv
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

UPSTREAM 81517: Add iptables.Monitor, use it from kubelet and kube-proxy
  vendor/k8s.io/kubernetes/pkg/kubelet/dockershim/network/hostport/fake_iptables.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_network.go
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier.go
  vendor/k8s.io/kubernetes/pkg/util/iptables/BUILD
  vendor/k8s.io/kubernetes/pkg/util/iptables/iptables.go
  vendor/k8s.io/kubernetes/pkg/util/iptables/monitor_test.go
  vendor/k8s.io/kubernetes/pkg/util/iptables/testing/fake.go
Due: ci/prow/gcp-crio

node: Update for utiliptables API changes
  pkg/cmd/server/kubernetes/network/network.go
  pkg/network/node/iptables.go
  pkg/network/node/pod.go
Due: none

UPSTREAM 83402: iptables.Monitor: don't be fooled by "could not get lock" errors
  vendor/k8s.io/kubernetes/pkg/util/iptables/iptables.go
  vendor/k8s.io/kubernetes/pkg/util/iptables/monitor_test.go
Due: none

Fix hybrid proxier for iptables.Monitor
  pkg/cmd/server/kubernetes/network/network.go
  pkg/cmd/server/kubernetes/network/network_config.go
  pkg/cmd/server/kubernetes/network/sdn_linux.go
  pkg/cmd/server/kubernetes/network/sdn_unsupported.go
  pkg/cmd/server/start/start_network.go
  pkg/network/node/iptables.go
  pkg/network/node/node.go
  pkg/network/proxy/proxy.go
  pkg/proxy/hybrid/proxy.go
Due: ci/prow/artifacts, ci/prow/cross

Bug 1820778: fix health check in standalone kube-proxy
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier.go
Due: none

test/e2e/upgrade: Drop unused "errControlledAbort"
  test/e2e/upgrade/upgrade.go
Due: none

WIP: test/e2e/upgrade: Split update testing into per-hop cases
  test/e2e/upgrade/upgrade.go
Due: none

router/metrics: Fix haproxy_server_max_sessions test
  test/extended/router/metrics.go
Due: none

tests: extended: fix TM regression test
  test/extended/topology_manager/resourcealign.go
  test/extended/topology_manager/utils.go
Due: none

UPSTREAM: 81517: e2e: test that both kube-proxy and kubelet recover after iptables flush
  vendor/k8s.io/kubernetes/test/e2e/network/networking.go
  vendor/k8s.io/kubernetes/test/e2e/network/service.go
Due: none

UPSTREAM: 83402: iptables.Monitor: don't be fooled by "could not get lock" errors
  vendor/k8s.io/kubernetes/pkg/util/iptables/iptables.go
  vendor/k8s.io/kubernetes/pkg/util/iptables/monitor_test.go
Due: none

UPSTREAM: <drop>: preserve old health/metrics behavior
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier.go
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier_openshift.go
Due: none

Bug 1843407: oVirt, add oVirt as a provide to openshift tests
  cmd/openshift-tests/provider.go
  test/extended/util/ovirt/provider.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 91642: Adjust Azure e2e binding mode
  vendor/k8s.io/kubernetes/test/e2e/storage/drivers/in_tree.go
Due: none

call the openshift wrapper for syncProxyRules
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier_test.go
Due: none

Fix maxSessions invariant post POD deletion
  test/extended/router/metrics.go
Due: none

UPSTREAM: 91008: Do not swallow NotFound error for DeletePod in dsc.manage
  vendor/k8s.io/kubernetes/pkg/controller/BUILD
  vendor/k8s.io/kubernetes/pkg/controller/controller_utils.go
  vendor/k8s.io/kubernetes/pkg/controller/controller_utils_test.go
  vendor/k8s.io/kubernetes/pkg/controller/daemon/daemon_controller.go
  vendor/k8s.io/kubernetes/pkg/controller/job/job_controller.go
  vendor/k8s.io/kubernetes/pkg/controller/replicaset/replica_set.go
Due: none

e2e: tm: don't leave leftovers on test failures
  test/extended/topology_manager/resourcealign.go
  test/extended/topology_manager/utils.go
Due: none

UPSTREAM: 80831: Add support for removing unsupported huge page sizes
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_node_status.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_node_status_test.go
  vendor/k8s.io/kubernetes/test/e2e_node/hugepages_test.go
  vendor/k8s.io/kubernetes/test/e2e_node/util.go
Due: ci/prow/gcp-crio

add toList helper function
  pkg/router/template/template_helper.go
Due: none

Bug 1844831: oVirt, skip network service tests
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: fix network-plugin-related skips
  cmd/openshift-tests/provider.go
  test/extended/util/cloud/cloud.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 91500: reduce race risk in kubelet for missing KUBERNETES_SERVICE_HOST
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods_test.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_test.go
Due: ci/prow/gcp-crio

debug test
  README.md
Due: none

UPSTREAM: <carry>: logs a user-agent that uses /healthz endpoint
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/log_healthz.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
Due: none

UPSTREAM: <drop>: Revert "UPSTREAM: <carry>: Disable by default the addition of service ca to token secrets"
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/patch_satoken.go
  vendor/k8s.io/kubernetes/pkg/controller/serviceaccount/tokens_controller.go
Due: none

Add watch-termination command
  cmd/watch-termination/main.go
  images/hyperkube/Dockerfile.rhel
Due: none

Bug 1831908: UPSTREAM: google/cadvisor: 2575: Fix incorrect diskstats for dm devices
  vendor/github.com/google/cadvisor/fs/fs.go
  vendor/github.com/google/cadvisor/fs/fs_test.go
  vendor/github.com/google/cadvisor/fs/types.go
Due: none

UPSTREAM: <carry>: kube-apiserver: wire through isTerminating into handler chain
  vendor/k8s.io/kubernetes/cmd/controller-manager/app/serve.go
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go
  vendor/k8s.io/kubernetes/cmd/kube-scheduler/app/server.go
  vendor/k8s.io/kubernetes/pkg/kubeapiserver/server/insecure_handler.go
  vendor/k8s.io/kubernetes/pkg/kubelet/server/server.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/config.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/httplog/httplog_test.go
  vendor/k8s.io/kubernetes/test/integration/framework/test_server.go
Due: ci/prow/gcp-crio

DO NOT MERGE: test
  README.md
Due: none

router/grpc-interop: switch to WaitForPodRunningSlow
  test/extended/router/grpc-interop.go
Due: none

watch-termination: add log rotation
  cmd/watch-termination/main.go
Due: none
