Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

Report the actual tag when searching through release image
  pkg/test/ginkgo/external.go
Due: none

Add a synthetic flake for the external binary usage
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

add debugging info for cluster not ready to upgrade
  test/e2e/upgrade/clusteroperator.go
  test/e2e/upgrade/upgrade.go
Due: none

add a networking alert
  pkg/synthetictests/allowedalerts/all.go
Due: none

allow cluster-config-operator to manage featuregate upgrade block
  test/extended/operators/operators.go
Due: none

USHIFT-647: skip sig-cli explain for CRDs in MicroShift (#27996)
  test/extended/cli/explain.go
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

print out deployment for incorrectly scheduled pods
  test/extended/scheduling/pods.go
Due: none

Avoid panic attempting to process interval logs
  pkg/monitor/intervalcreation/podlogs.go
Due: none

trt-11117: Extract request canceled node status update error
  pkg/monitor/intervalcreation/node.go
  pkg/monitor/intervalcreation/node_test.go
  pkg/monitor/monitorapi/identification_pod.go
Due: none

USHIFT-1379: skip must-gather tests for MicroShift
  test/extended/cli/mustgather.go
Due: none

retry promql a few times to mask i/o timeouts
  test/extended/util/prometheus/helpers.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Update verify that nodes have no unexpected reboots test
  test/extended/machines/cluster.go
  test/extended/machines/display_reboots_pod.yaml
Due: none

trt-1117: Test for update lease errors
  pkg/monitor/intervalcreation/node.go
  pkg/monitor/intervalcreation/node_test.go
  pkg/synthetictests/event_junits.go
  pkg/synthetictests/kubelet.go
Due: none

test/extended: add test verifying alert expression
  test/extended/prometheus/prometheus.go
  test/extended/util/prometheus/helpers.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

zz_generated.annotations.go: regenerate
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

USHIFT-1379: add [apigroup:config.openshift.io] annotation to skip tests
  test/extended/cli/mustgather.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

chore: unnecessary use of fmt.Sprintf
  pkg/monitor/pod.go
  pkg/monitor/sampler_test.go
  pkg/synthetictests/disruption.go
  test/e2e/upgrade/upgrade.go
  test/extended/apiserver/apply.go
  test/extended/authentication/front_proxy.go
  test/extended/authorization/authorization.go
  test/extended/authorization/authorization_rbac_proxy.go
  test/extended/authorization/rolebinding_restrictions.go
  test/extended/authorization/scopes.go
  test/extended/authorization/self_sar.go
  test/extended/builds/contextdir.go
  test/extended/builds/digest.go
  test/extended/builds/no_outputname.go
  test/extended/builds/start.go
  test/extended/cluster/utils.go
  test/extended/deployments/deployments.go
  test/extended/dr/recovery.go
  test/extended/image_ecosystem/mariadb_ephemeral.go
  test/extended/image_ecosystem/mysql_ephemeral.go
  test/extended/image_ecosystem/s2i_php.go
  test/extended/image_ecosystem/s2i_python.go
  test/extended/image_ecosystem/s2i_ruby.go
  test/extended/imageapis/limitrange_admission.go
  test/extended/images/mirror.go
  test/extended/networking/tap.go
  test/extended/networking/vlan.go
  test/extended/oauth/client_secret.go
  test/extended/oauth/token.go
  test/extended/poddisruptionbudget/poddisruptionbudget.go
  test/extended/project/project.go
  test/extended/prometheus/prometheus.go
  test/extended/quota/clusterquota.go
  test/extended/quota/resourcequota.go
  test/extended/router/headers.go
  test/extended/router/reencrypt.go
  test/extended/router/weighted.go
  test/extended/util/metrics.go
  test/extended/util/nfs.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Skip CCM upgradable condition on AlibabaCloud
  test/extended/operators/operators.go
Due: none

temporarily disable oc explain tests until openapi/v3 is working
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

add test case for validating metric labels
  test/extended/prometheus/prometheus.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Increase clusterquota wait timeout from 10 to 30 seconds
  test/extended/quota/clusterquota.go
Due: none

fix: avoid checking resources for BestEffort pods
  test/extended/cpu_partitioning/pods.go
Due: none

test: extended: deployment: use correct apigroup for imagestreamtags
  test/extended/deployments/deployments.go
Due: none

fix: reformatted and ran the update
  test/extended/kernel/upgrade.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

trt-1030: 80s for service lb under test
  test/e2e/upgrade/service/service.go
Due: none

remove references to registry.centos.org
  examples/image-streams/image-streams-centos7.json
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/testdata/image-streams/image-streams-centos7.json
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

chore: updated skip message to be a little more clear
  test/extended/kernel/common.go
Due: none

Add before test checking nodes are in proper read state
  test/e2e/upgrade/upgrade.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

remove sampler from monitor
  pkg/monitor/api.go
  pkg/monitor/intervalcreation/node.go
  pkg/monitor/intervalcreation/node_test.go
  pkg/monitor/intervalcreation/pod.go
  pkg/monitor/intervalcreation/state_tracker.go
  pkg/monitor/intervalcreation/types.go
  pkg/monitor/monitor.go
  pkg/monitor/monitorapi/identification_pod.go
  pkg/monitor/monitorapi/types.go
  pkg/monitor/node.go
  pkg/monitor/noop.go
  pkg/monitor/operator.go
  pkg/monitor/pod.go
  pkg/monitor/sampler.go
  pkg/monitor/sampler_test.go
  pkg/monitor/types.go
Due: none

Add logs in clusterquota test for more verbosity
  test/extended/quota/clusterquota.go
Due: none

Don't report external binaries for upgrade tests
  cmd/openshift-tests/openshift-tests.go
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

Provide more detailed information when extracting binary fails
  pkg/test/ginkgo/external.go
Due: none

multinetpolicy: use RetryOnConflict to reduce flakes
  test/extended/networking/multinetpolicy.go
Due: none

Enable Azure platform check in external cloud provider test
  test/extended/cloud_controller_manager/ccm.go
Due: none
