Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

Router: add Proxy config
  test/extended/router/http2.go
Due: none

STOR-1839: Remove the featuregate check condition for VSphereDriverConfiguration
  test/extended/storage/driver_configuration.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

make update
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

update the kube-apiserver availability check to use soft stop + pod logs
  pkg/clioptions/iooptions/io_options.go
  pkg/cmd/openshift-tests/run-disruption/disruption.go
  pkg/defaultmonitortests/types.go
  pkg/disruption/ci/backend_sampler.go
  pkg/disruption/ci/factory.go
  pkg/disruption/ci/host_decoder.go
  pkg/monitortestframework/types.go
  pkg/monitortestlibrary/disruptionlibrary/collect.go
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/ds-internal-lb.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/ds-localhost.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/ds-service-network.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/remote.go
  test/extended/util/disruption/controlplane/known_backends.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

disruptionpodnetwork: reuse CollectIntervalsForPods
  pkg/monitortests/network/disruptionpodnetwork/monitortest.go
Due: none

InvariantInClusterDisruption: ensure that only one namespace is being created
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/namespace.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/remote.go
Due: none

incluster_disruption: fixes
  pkg/cmd/openshift-tests/run-disruption/disruption.go
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/crb-monitor.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/crb-privileged.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/dep-internal-lb.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/dep-localhost.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/dep-service-network.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/ds-cleanup.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/namespace.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/role-monitor.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/serviceaccount.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/remote.go
Due: none

Rename incluster kubeapiserver disruption package
  pkg/defaultmonitortests/types.go
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/crb-monitor.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/crb-privileged.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/dep-internal-lb.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/dep-localhost.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/dep-service-network.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/namespace.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/role-monitor.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/serviceaccount.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/remote.go
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/dep-internal-lb.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/dep-localhost.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/dep-service-network.yaml
Due: none

kubeapiserver incluster disruption: allow running poller on edge nodes
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/dep-internal-lb.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/dep-service-network.yaml
  test/extended/operators/manifests/pod.yaml
Due: none

udn, layer3, east/west: skip test
  test/extended/networking/network_segmentation.go
Due: none

Move all ClusterVersion related invocations to common helpers
  pkg/test/ginkgo/external.go
Due: none

e2e: check for deployer SA only when DeploymentConfig is enabled
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Squash all NewCLI* variants to a single invocation
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Squash setupNamespace and setupProject under single method
  test/extended/apiserver/apply.go
  test/extended/networking/acl_audit_log.go
  test/extended/networking/egressip.go
  test/extended/project/project.go
  test/extended/prometheus/prometheus.go
  test/extended/quota/clusterquota.go
  test/extended/quota/resourcequota.go
  test/extended/security/scc.go
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Make fatalErr private method for utils
  test/extended/authorization/rbac/groups_default_rules.go
  test/extended/util/client.go
  test/extended/util/test_setup.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Always keep user, admin and current config paths in CLI
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

e2e: check for deployer RB only when DeploymentConfig is enabled
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "Merge pull request #28277 from vrutkovs/in-cluster-fixes-v3"
  pkg/clioptions/iooptions/io_options.go
  pkg/cmd/openshift-tests/monitor/run/run_monitor_command.go
  pkg/cmd/openshift-tests/run-disruption/disruption.go
  pkg/defaultmonitortests/types.go
  pkg/disruption/ci/backend_sampler.go
  pkg/disruption/ci/factory.go
  pkg/disruption/ci/host_decoder.go
  pkg/monitortestframework/types.go
  pkg/monitortestlibrary/disruptionlibrary/collect.go
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/crb-monitor.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/crb-privileged.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/dep-internal-lb.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/dep-localhost.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/dep-service-network.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/namespace.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/role-monitor.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/serviceaccount.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/remote.go
  pkg/monitortests/kubeapiserver/disruptionnewapiserver/monitortest.go
  pkg/monitortests/network/disruptionpodnetwork/monitortest.go
  pkg/test/ginkgo/cmd_runsuite.go
  test/extended/operators/manifests/pod.yaml
  test/extended/util/disruption/controlplane/known_backends.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCPBUGS-37436: increase telemetry series permitted avg threshold
  test/extended/prometheus/prometheus.go
Due: none

Reapply "Merge pull request #28277 from vrutkovs/in-cluster-fixes-v3"
  pkg/clioptions/iooptions/io_options.go
  pkg/cmd/openshift-tests/monitor/run/run_monitor_command.go
  pkg/cmd/openshift-tests/run-disruption/disruption.go
  pkg/defaultmonitortests/types.go
  pkg/disruption/ci/backend_sampler.go
  pkg/disruption/ci/factory.go
  pkg/disruption/ci/host_decoder.go
  pkg/monitortestframework/types.go
  pkg/monitortestlibrary/disruptionlibrary/collect.go
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/crb-monitor.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/crb-privileged.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/dep-internal-lb.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/dep-localhost.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/dep-service-network.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/namespace.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/role-monitor.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/serviceaccount.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/remote.go
  pkg/monitortests/kubeapiserver/disruptionnewapiserver/monitortest.go
  pkg/monitortests/network/disruptionpodnetwork/monitortest.go
  pkg/test/ginkgo/cmd_runsuite.go
  test/extended/operators/manifests/pod.yaml
  test/extended/util/disruption/controlplane/known_backends.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add communication matrix test under networking
  test/extended/networking/commatrix.go
Due: none

go.sum update
  go.sum
Due: none

Updating the test with skipper function
  test/extended/storage/helpers.go
  test/extended/storage/s3_configuration.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

bump(ocp/k8s): updating to pull in annotation fix for SNO conformance test
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  vendor/k8s.io/kubernetes/openshift-hack/e2e/annotate/rules.go
  vendor/modules.txt
Due: none

add sosiouxme to OWNERS
  OWNERS
Due: none

Revert "OCPBUGS-26594: pathologicalevents: Ignore leaky RecreatingTerminatedPod/RecreatingFailedPod/SuccessfulDelete events on monitoring statefulsets' pods wile waiting for the upstream fix"
  pkg/monitortestlibrary/pathologicaleventlibrary/duplicated_event_patterns.go
Due: none

Revert "pathologicalevents: fix regex in LeakyStatefulsetEvents matcher added in https://github.com/openshift/origin/pull/28530/commits/075ba322e2e87f2b408016f38e1ea833d7bbd065 and add a test"
  pkg/monitortestlibrary/pathologicaleventlibrary/duplicated_events_test.go
Due: none

Import ruby imageStream from Red Hat registries
  test/extended/builds/contextdir.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/test-context-build.json
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

updated util/generate
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

e2e: mark tests as [apigroup:apps.openshift.io] dependent
  test/extended/cli/admin.go
  test/extended/cli/builds.go
  test/extended/templates/templateinstance_readiness.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

kubeapi incluster disruption: update logging
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/remote.go
Due: none

disruption incluster: make sure namespace uses distinct label
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/namespace.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/remote.go
Due: none

disruption incluster: don't set image in yaml template
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/dep-internal-lb.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/dep-localhost.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/dep-service-network.yaml
Due: none

disruption incluster: add namespace-level role to list configmaps
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/clusterrole-monitor.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/rb-monitor.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/manifests/role-monitor.yaml
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/remote.go
Due: none

disruption incluster: don't wait for deployments to become ready
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/remote.go
Due: none
