Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/gcp-crio, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --target=e2e-gcp-crio
      - --template=/usr/local/e2e-gcp-crio
      command:
      - ci-operator
      env:
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

Split API servers from integration tests
  test/util/server/server.go
Due: none

Remove parts of TestRootAPIPaths
  test/integration/api_paths_test.go
Due: none

Bump policy timeouts
  test/util/policy.go
Due: none

Disable TestAuthProxyOnAuthorize, TestFrontProxy, TestOAuthOIDC, TestOAuthRequestHeader, TestWebhookTokenAuthn
  test/integration/auth_proxy_test.go
  test/integration/front_proxy_test.go
  test/integration/oauth_oidc_test.go
  test/integration/oauth_request_header_test.go
  test/integration/webhook_token_auth_test.go
Due: none

Update paths and remove webconsole in TestRootRedirect
  test/integration/master_routes_test.go
Due: none

Fix TestOAuthBasicAuthPassword
  test/integration/front_proxy_test.go
  test/integration/oauth_basicauth_test.go
Due: none

Add wait for quota status sync
  test/integration/clusterquota_test.go
Due: none

Update storage versions for PSPs and APIServices in etcd_storage_path_test.go
  test/integration/etcd_storage_path_test.go
Due: none

Fix TestAuditConfigEmbeded
  pkg/configconversion/simple.go
  test/integration/audit_test.go
Due: none

Remove TestDNS entirely
  test/integration/dns_test.go
Due: none

Remove admission plugin configuration tests
  hack/update-generated-deep-copies.sh
  test/integration/admissionconfig_test.go
  test/integration/testing/admissionconfig.go
  test/integration/testing/doc.go
  test/integration/testing/zz_generated.deepcopy.go
Due: ci/prow/artifacts, ci/prow/cross

Remove network.openshift.io related tests from TestEtcd3StoragePath
  test/integration/etcd_storage_path_test.go
Due: none

Add networking to skipped tests TestDiscoveryGroupVersions
  test/integration/discovery_test.go
Due: none

Bump timeouts for integration tests
  test/integration/runner/runner_test.go
  test/util/server/server.go
Due: none

Remove TestOadmPodNetwork entirely
  test/integration/sdn_test.go
Due: none

Disable TestBuildRunningPodDeleteController
  test/integration/buildcontroller_test.go
Due: none

Fix typos, followup from 21327
  pkg/cmd/openshift-apiserver/openshiftapiserver/config.go
Due: none

Update README.md
  tools/etcdhelper/README.md
Due: none

Split integration runs into two separate invocations
  hack/test-integration.sh
Due: ci/prow/artifacts, ci/prow/cross

Don't allow pods to send VXLAN packets out of the SDN
  pkg/network/node/ovscontroller.go
Due: none

Bump conformance test to use 1.11 branch for master
  test/extended/conformance-k8s.sh
Due: none

Fail audit integration test
  test/integration/audit_test.go
Due: none

Update k8s conformance test for 3.11 to point to 1.11
  test/extended/conformance-k8s.sh
Due: none

handle appsv1.DeploymenConfigs in AttachablePodForObject helper
  pkg/oc/originpolymorphichelpers/attachablepodforobject.go
Due: none

UPSTREAM: 70311: fix ContinueOnError visitor
  vendor/k8s.io/kubernetes/pkg/kubectl/genericclioptions/resource/builder.go
Due: none

contrib/migration: remove trailing whitespace
  contrib/migration/migrate-network-policy.sh
Due: none

wait for deployment before waiting for endpoint
  test/extended/builds/service.go
Due: ci/openshift-jenkins/extended_builds

Automatic commit of package [atomic-openshift] release [3.9.49-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

[DO_NOT_MERGE] check PR test invocations
  README.md
Due: none

Move ingress admission controller from pkg/network to pkg/route
  hack/update-generated-deep-copies.sh
  pkg/apiserver/admission/chain_builder.go
  pkg/apiserver/admission/config_test.go
  pkg/apiserver/admission/register.go
  pkg/cmd/server/apis/config/install/install.go
  pkg/cmd/server/origin/legacyadmission/chain_builder.go
  pkg/cmd/server/origin/legacyadmission/register.go
  pkg/route/apiserver/admission/OWNERS
  pkg/route/apiserver/admission/apis/ingressadmission/doc.go
  pkg/route/apiserver/admission/apis/ingressadmission/install/install.go
  pkg/route/apiserver/admission/apis/ingressadmission/register.go
  pkg/route/apiserver/admission/apis/ingressadmission/types.go
  pkg/route/apiserver/admission/apis/ingressadmission/v1/defaults_test.go
  pkg/route/apiserver/admission/apis/ingressadmission/v1/doc.go
  pkg/route/apiserver/admission/apis/ingressadmission/v1/register.go
  pkg/route/apiserver/admission/apis/ingressadmission/v1/swagger_doc.go
  pkg/route/apiserver/admission/apis/ingressadmission/v1/types.go
  pkg/route/apiserver/admission/apis/ingressadmission/v1/zz_generated.deepcopy.go
  pkg/route/apiserver/admission/apis/ingressadmission/zz_generated.deepcopy.go
  pkg/route/apiserver/admission/ingress_admission.go
  pkg/route/apiserver/admission/ingress_admission_test.go
Due: ci/prow/artifacts, ci/prow/cross

remove jenkins autoprovision admission
  pkg/apiserver/admission/chain_builder.go
  pkg/apiserver/admission/config_test.go
  pkg/apiserver/admission/plugin_initializer.go
  pkg/apiserver/admission/register.go
  pkg/apiserver/admission/sync_test.go
  pkg/build/apiserver/admission/jenkinsbootstrapper/admission.go
  pkg/build/apiserver/admission/jenkinsbootstrapper/admission_test.go
  pkg/build/apiserver/admission/jenkinsbootstrapper/initializer.go
  pkg/build/apiserver/admission/jenkinsbootstrapper/jenkins/jenkins.go
  pkg/build/apiserver/admission/jenkinsbootstrapper/jenkins/jenkins_test.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/config.go
  pkg/cmd/server/origin/legacyadmission/chain_builder.go
  pkg/cmd/server/origin/legacyadmission/plugin_initializer.go
  pkg/cmd/server/origin/legacyadmission/register.go
  pkg/cmd/server/origin/master_config.go
  test/extended/builds/jenkins_autoprovision.go
Due: ci/openshift-jenkins/extended_builds

provide sufficient package.json to make nodejs image happy
  test/extended/builds/start.go
Due: ci/openshift-jenkins/extended_builds

UPSTREAM: 70286: Use pvc uid instead of pvc name in glusterfs endpoint name
  vendor/k8s.io/kubernetes/pkg/volume/glusterfs/glusterfs.go
Due: none

UPSTREAM: <drop>: Fix compilation error
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_unsupported.go
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 68741: Fixed subpath cleanup when /var/lib/kubelet is a symlink
  vendor/k8s.io/kubernetes/pkg/util/mount/mount.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)) or (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder))
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
