Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

remove duplicate tests plugins from symlinks
  cmd/openshift-tests/openshift-tests.go
Due: none

test/extended/router: fix h2spec flake
  test/extended/router/h2spec.go
Due: none

[sig-cli]: skip Kubectl client Update Demo should do a rolling update of a replication controller
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 89589: Wait for APIServer 'ok' forever during CSINode initialization during Kubelet init
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_plugin.go
  vendor/k8s.io/kubernetes/pkg/volume/csi/nodeinfomanager/nodeinfomanager.go
  vendor/k8s.io/kubernetes/pkg/volume/testing/testing.go
Due: none

UPSTREAM: 89592: e2e/network: get previous pod errors on NetworkPolicy test failure
  vendor/k8s.io/kubernetes/test/e2e/network/network_policy.go
Due: none

Update glide for 1.18.0-rc.1
  glide.lock
  glide.yaml
Due: none

make update
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: <carry>: fixup for 'collapse closer to kube authentication stack'
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/flags.go
Due: none

Disable e2e coverage for Feature:ImmutableEphemeralVolume
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Switch to Golang 1.13
  hack/lib/constants.sh
  images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: <drop>: make update
  vendor/k8s.io/kubernetes/pkg/generated/openapi/zz_generated.openapi.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/hack/openapi-violation.list
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kubectl/pkg/generated/bindata.go
  vendor/k8s.io/kubernetes/test/e2e/generated/bindata.go
Due: none

Disable e2e coverage for Feature:ServiceAccountIssuerDiscovery
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Update godep, conformance test and docker image versions
  Godeps/Godeps.json
  images/hyperkube/Dockerfile.rhel
  test/extended/conformance-k8s.sh
Due: none

hack: adapt update-generated-openapi.sh to 1.18
  hack/update-generated-openapi.sh
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 89580: kubelet: skip oom test if NewWatcher errors (non-root tests)
  vendor/k8s.io/kubernetes/pkg/kubelet/oom/oom_watcher_linux_test.go
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

UPSTREAM: <carry>: Fix broken kubectl e2e tests
  vendor/k8s.io/kubernetes/test/e2e/kubectl/kubectl.go
Due: none

UPSTREAM: <carry>: Grant endpointslice-controller update for services/finalizers
  vendor/k8s.io/kubernetes/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  vendor/k8s.io/kubernetes/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Due: none

UPSTREAM: <drop>: Don't panic on CSI migration timeout
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_plugin.go
Due: none

buildah should expand env vars in file paths
  test/extended/builds/dockerfile.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/docker-add/docker-add-env/Dockerfile
  test/extended/testdata/builds/docker-add/docker-add-env/foo
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Update test data to pass validation
  examples/sample-app/application-template-dockerbuild.json
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/build-pruning/default-group-build-config.yaml
  test/extended/testdata/builds/build-pruning/errored-build-config.yaml
  test/extended/testdata/builds/build-pruning/failed-build-config.yaml
  test/extended/testdata/builds/build-pruning/successful-build-config.yaml
  test/extended/testdata/builds/test-build-revision.json
  test/extended/testdata/builds/test-buildconfigsecretinjector.yaml
  test/extended/testdata/builds/test-custom-build.yaml
  test/extended/testdata/builds/test-docker-build-pullsecret.json
  test/extended/testdata/builds/test-docker-build.json
  test/extended/testdata/builds/test-nosrc-build.json
  test/extended/testdata/builds/test-s2i-build-quota.json
  test/extended/testdata/builds/valuefrom/failed-docker-build-value-from-config.yaml
  test/extended/testdata/builds/valuefrom/successful-docker-build-value-from-config.yaml
  test/extended/testdata/cli/pod-with-two-containers.yaml
  test/extended/testdata/cmd/test/cmd/env.sh
  test/extended/testdata/cmd/test/cmd/testdata/application-template-dockerbuild.json
  test/extended/testdata/cmd/test/cmd/testdata/mixed-api-versions.yaml
  test/extended/testdata/cmd/test/cmd/testdata/roles/policy-clusterroles.yaml
  test/extended/testdata/cmd/test/cmd/testdata/templates/guestbook.json
  test/extended/testdata/cmd/test/cmd/testdata/test-deployment-config.yaml
  test/extended/testdata/cmd/test/cmd/testdata/test-image.json
  test/extended/testdata/cmd/test/cmd/testdata/test-route.json
  test/extended/testdata/image/test-image.json
  test/extended/testdata/roles/policy-clusterroles.yaml
  test/extended/testdata/router/router-metrics.yaml
  test/extended/testdata/templates/guestbook.json
  test/integration/testdata/test-deployment-config.yaml
  test/integration/testdata/test-image.json
  test/integration/testdata/test-route.json
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Revert "Bug 1797788: add openshift-tests as a future delegation binary"
  Makefile
  cmd/openshift-tests-kubernetes/openshift-tests-kubernetes.go
  cmd/openshift-tests/csi.go
  cmd/openshift-tests/e2e.go
  cmd/openshift-tests/openshift-tests.go
  cmd/openshift-tests/provider.go
  cmd/openshift-tests/upgrade.go
  images/tests-base/Dockerfile.rhel
  images/tests-base/OWNERS
  images/tests-kubernetes/Dockerfile.rhel
  images/tests-kubernetes/OWNERS
  images/tests/Dockerfile.rhel
  test/extended/etcd/etcd_storage_path.go
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM 80368: iptables: don't do feature detection on the iptables-…
  vendor/k8s.io/kubernetes/pkg/util/iptables/iptables.go
  vendor/k8s.io/kubernetes/pkg/util/iptables/iptables_test.go
Due: none

UPSTREAM 80368: kube-proxy: drop iptables version check
  vendor/k8s.io/kubernetes/cmd/kube-proxy/app/BUILD
  vendor/k8s.io/kubernetes/cmd/kube-proxy/app/server_others.go
  vendor/k8s.io/kubernetes/cmd/kube-proxy/app/server_others_test.go
  vendor/k8s.io/kubernetes/cmd/kube-proxy/app/server_test.go
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/BUILD
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier.go
Due: none

UPSTREAM 80368: iptables: simplify version handling
  vendor/k8s.io/kubernetes/pkg/kubelet/dockershim/network/hostport/fake_iptables.go
  vendor/k8s.io/kubernetes/pkg/util/iptables/BUILD
  vendor/k8s.io/kubernetes/pkg/util/iptables/iptables.go
  vendor/k8s.io/kubernetes/pkg/util/iptables/iptables_test.go
  vendor/k8s.io/kubernetes/pkg/util/iptables/testing/fake.go
Due: ci/prow/gcp-crio

UPSTREAM 82602: Fix iptables version detection code to handle RHEL 7…
  vendor/k8s.io/kubernetes/pkg/util/iptables/iptables.go
  vendor/k8s.io/kubernetes/pkg/util/iptables/iptables_test.go
Due: none

benchmark proiroty and fairness
  vendor/k8s.io/kubernetes/cmd/kubelet/app/server.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/pkg/master/master.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/config.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/rest/client.go
Due: none

test: h2spec should not print outside of a It/Describe
  test/extended/router/h2spec.go
Due: none

use rbac vs direct scc edit for s2i root bld test
  test/extended/builds/s2i_root.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Fix nil reference when accessing un-migrated platform status
  test/extended/router/headers.go
  test/extended/router/metrics.go
Due: none

Fix another nil reference when accessing un-migrated platform status
  test/extended/router/headers.go
Due: none

Apply sgid patch to rebase PR
  vendor/k8s.io/kubernetes/pkg/volume/volume_linux_test.go
Due: ci/prow/artifacts, ci/prow/cross

test/extended/prometheus: test if metrics are exposed over TLS
  test/extended/prometheus/prometheus.go
Due: none

Bug 1785023: Restore ResourceQuota e2e test for life of a secret
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

integration: fix TestOadmPodNetwork for CI changes
  test/integration/sdn_test.go
Due: none

test: Allow CSI tests to access fixtures pre run
  cmd/openshift-tests/csi.go
  cmd/openshift-tests/e2e.go
  cmd/openshift-tests/provider.go
  test/extended/csi/install.go
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCP-21126 testcase
  test/extended/operators/olm.go
  test/extended/testdata/bindata.go
  test/extended/testdata/olm/etcd-subscription-manual.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 89300: Expand the PVC validation messages
  vendor/k8s.io/kubernetes/pkg/apis/core/validation/validation.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
