Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)

extended: add /livez endpoint to RBAC coverage test
  test/extended/authorization/rbac/groups_default_rules.go
Due: none

UPSTREAM: 82520: test: fix liveness pod
  vendor/k8s.io/kubernetes/test/fixtures/doc-yaml/user-guide/liveness/http-liveness.yaml.in
Due: none

e2e: re-enable CRD conversion tests now supported
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

CHECK(sdn): e2e: disable unsupported sdn features
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

CHECK(workload): extended: fix testdata bash
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/hack/lib/cmd.sh
Due: none

UPSTREAM: 82438: Fallback to schemaless apply behavior for custom resources with unhandled schemas
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/testing/BUILD
  vendor/k8s.io/kubernetes/test/integration/apiserver/apply/apply_crd_test.go
Due: none

CHECK(sdn): extended: fix networking helpers
  test/extended/networking/util.go
  test/extended/util/framework.go
Due: ci/prow/e2e-aws-builds

CHECK(storage): e2e: disable tests which require SSH
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

CHECK(workload): e2e: disable kubectl exec test with pod/name syntax
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: <carry>: storage: switch test pods to privileged to survive selinux
  vendor/k8s.io/kubernetes/test/e2e/framework/volume/fixtures.go
Due: none

CHECK(mo): extended: add discovery endpointslices to etcd storage test
  test/extended/etcd/etcd_storage_path.go
Due: none

CHECK(cvo): extended: remove non-functional CVO status check failing with today's objx lib
  test/extended/operators/operators.go
Due: none

hack: call k/k generate-bindata.go from origin script
  hack/update-generated-bindata.sh
  hack/verify-generated-bindata.sh
Due: ci/prow/artifacts, ci/prow/cross

CHECK(node): extended: disable RuntimeClass tests requiring cri-o config
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: 82189: add conditions for remaining object totals during ns termination
  vendor/k8s.io/kubernetes/pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  vendor/k8s.io/kubernetes/pkg/controller/namespace/deletion/status_condition_utils.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/api/core/v1/types.go
Due: none

CHECK(workloads): extended: disable SchedulerPreemption tests again
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

BORING: extended: update DeploymentConfig getters
  test/extended/authorization/authorization.go
Due: none

openshift-tests: add go-test-like --run flag for regex filter
  cmd/openshift-tests/openshift-tests.go
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/test.go
Due: none

UPSTREAM: <carry>: disable kubectl client-side validation tests
  vendor/k8s.io/kubernetes/test/e2e/apimachinery/crd_publish_openapi.go
Due: none

UPSTREAM: 82576: e2e: fix pause command in ProxyMode func
  vendor/k8s.io/kubernetes/test/e2e/framework/util.go
Due: none

UPSTREAM: 82586: reverseproxy: recover from stdlib panic
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
Due: none

CHECK(cesarwong): extended: make HPA RC test serial, but disabled
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

CHECK(sdn): e2e: disable failing NetworkPolicy ingress test
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: <drop>: update k/k bindata
  vendor/k8s.io/kubernetes/test/e2e/generated/bindata.go
Due: none

Reattach pods to OVS if needed on restart
  pkg/network/node/cniserver/cniserver.go
  pkg/network/node/node.go
  pkg/network/node/ovscontroller.go
  pkg/network/node/pod.go
  pkg/network/node/pod_test.go
  pkg/network/node/runtime.go
  pkg/network/node/sdn_controller.go
Due: none

Fix panic on empty external-ids
  pkg/util/ovs/parse.go
Due: none

Change ovs.Find to return multiple columns
  pkg/network/node/ovscontroller.go
  pkg/util/ovs/fake_ovs.go
  pkg/util/ovs/fake_ovs_test.go
  pkg/util/ovs/ovs.go
  pkg/util/ovs/ovs_test.go
Due: none

Consistently refer to OVS database columns using "_" rather than "-"
  pkg/network/node/ovscontroller.go
  pkg/network/node/ovscontroller_test.go
  pkg/util/ovs/fake_ovs.go
  pkg/util/ovs/fake_ovs_test.go
  pkg/util/ovs/ovs.go
  pkg/util/ovs/ovs_test.go
Due: none

Fix pod teardown, by looking up ovsdb column by correct name
  pkg/network/node/ovscontroller.go
Due: none

Initializing runningPods on SDN bootup for 4.x
  pkg/network/node/multitenant.go
  pkg/network/node/node.go
  pkg/network/node/ovscontroller.go
  pkg/network/node/pod.go
  pkg/network/node/runtime.go
  pkg/network/node/sdn_controller.go
Due: none

Don't log messages at SDN startup about already-dead pods
  pkg/network/node/node.go
  pkg/network/node/runtime.go
Due: none

allow openshift-tests --dry-run without kubeconfig
  cmd/openshift-tests/openshift-tests.go
  test/extended/crdvalidation/apiserver.go
  test/extended/oauth/oauth_ldap.go
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

hack: add selinux go build tag on linux
  hack/lib/constants.sh
Due: ci/prow/artifacts, ci/prow/cross

testing
  test/extended/networking/util.go
Due: none

Disable HPA Stackdriver custom metrics e2e tests
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: <carry>: revert #76517: Limit the read length of ioutil.ReadAll in kubelet
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/container_manager_linux.go
  vendor/k8s.io/kubernetes/pkg/kubelet/config/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/config/common.go
  vendor/k8s.io/kubernetes/pkg/kubelet/config/file.go
  vendor/k8s.io/kubernetes/pkg/kubelet/config/http.go
  vendor/k8s.io/kubernetes/pkg/kubelet/lifecycle/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/lifecycle/handlers.go
  vendor/k8s.io/kubernetes/pkg/kubelet/network/dns/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/network/dns/dns.go
  vendor/k8s.io/kubernetes/pkg/probe/http/BUILD
  vendor/k8s.io/kubernetes/pkg/probe/http/http.go
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

refactor skip to something testable
  test/extended/util/test.go
  test/extended/util/test_test.go
Due: ci/prow/e2e-aws-builds

relax RAR check to pass GCP
  test/extended/authorization/authorization.go
Due: none

UPSTREAM: 77661: Kubelet status manager sync the status of local pods
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_getters.go
Due: ci/prow/gcp-crio

OpenStack: Disable cinder tests
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds
