Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

bump(k8s): disable NetworkPolicyLegacy tests
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

bump(k8s): make update
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

bump(k8s): remove k8s-specific rules
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

bump(k8s): update etcd storage data for k8s 1.27
  test/extended/etcd/etcd_storage_path.go
Due: none

Revert "test/extended: Add MultiNetworkPolicy IPv4/IPv6 test cases"
  test/extended/networking/multinetpolicy.go
  test/extended/testdata/bindata.go
  test/extended/testdata/multinetpolicy/deny-ingress-pod-a.yml
  test/extended/testdata/net-attach-defs/macvlan-nad.yml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Detect bad http codes
  pkg/monitor/loki_upload.go
Due: none

Update etcd team lead
  OWNERS_ALIASES
Due: none

Fix an edge case where locators parse badly for loki unpack
  pkg/monitor/loki_upload.go
Due: none

Add retries for batches of intervals going to loki
  pkg/monitor/loki_upload.go
Due: none

Fix discrepancies with interval creation funcs
  pkg/monitor/intervalcreation/e2etest.go
  pkg/monitor/monitorapi/identification.go
Due: none

OCPBUGS-13372: Add missing error check in sysctl allowlist test
  test/extended/networking/tuning.go
Due: none

Final hookup to run after we write intervals to disk
  cmd/openshift-tests/dev.go
  pkg/cmd/monitor_command/run_monitor_command.go
  pkg/monitor/loki_upload.go
Due: none

Change oc annotate cli test output check string
  test/extended/cli/annotation.go
Due: none

add tests for ClusterResourceQuota: count should work for all resources
  test/extended/quota/clusterquota.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Found a second place we upload intervals
  pkg/test/ginkgo/options_monitor_events.go
Due: none

LoadBalancer network connectivity test cases for HyperShift+KubeVirt
  test/extended/include.go
  test/extended/kubevirt/services.go
  test/extended/kubevirt/util.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add coverage for GET verb and websocket handshake to SCC exec tests.
  test/extended/security/scc.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Try to track down why we're not getting access tokens in response
  pkg/monitor/loki_upload.go
Due: none

[release-4.12] OCPBUGS-6841: Update the vertical scaling test to account for CPMSO (#27907)
  test/extended/etcd/helpers/helpers.go
  test/extended/etcd/vertical_scaling.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

bump(k8s.io/kubernetes)
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/cgroup_manager_linux.go
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/cgroup_manager_unsupported.go
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/container_manager_linux.go
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/types.go
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/eviction_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_server_journal_linux.go
  vendor/k8s.io/kubernetes/pkg/kubelet/pod/mirror_client.go
  vendor/k8s.io/kubernetes/pkg/kubelet/pod/pod_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/pod_workers.go
  vendor/k8s.io/kubernetes/pkg/kubelet/prober/results/results_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/runonce.go
  vendor/k8s.io/kubernetes/pkg/kubelet/stats/provider.go
  vendor/k8s.io/kubernetes/pkg/kubelet/status/fake_status_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/status/status_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/volume_manager.go
  vendor/k8s.io/kubernetes/test/e2e/apps/statefulset.go
  vendor/k8s.io/kubernetes/test/e2e/common/node/init_container.go
  vendor/k8s.io/kubernetes/test/e2e/framework/statefulset/wait.go
  vendor/k8s.io/kubernetes/test/e2e/network/service.go
  vendor/modules.txt
Due: ci/prow/gcp-crio, ci/prow/cross, ci/prow/artifacts

Revert "Revert "test/extended: Add MultiNetworkPolicy IPv4/IPv6 test cases""
  test/extended/networking/multinetpolicy.go
  test/extended/testdata/bindata.go
  test/extended/testdata/multinetpolicy/deny-ingress-pod-a.yml
  test/extended/testdata/net-attach-defs/macvlan-nad.yml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

multinetpolicy: fix UseMultiNetworkPolicy = nil
  test/extended/networking/multinetpolicy.go
Due: none

multinetpolicy: increase assertion timeout
  test/extended/networking/multinetpolicy.go
Due: none

bump(k8s): add missing context to function calls
  test/extended/networking/multinetpolicy.go
Due: none

Mitigate explain output assertion regex
  test/extended/cli/explain.go
Due: none

fix oc explain status and spec verification
  test/extended/cli/explain.go
Due: none

update the PDB resource to point to resource, not kind
  pkg/monitor/resourcewatch/operator/starter.go
Due: none

CCO is expected to be Upgradeable=False when in Manual mode.
  test/extended/operators/operators.go
Due: none

Revert "Add coverage for GET verb and websocket handshake to SCC exec tests."
  test/extended/security/scc.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Move from registry.centos.org to quay.io
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/README.md
  test/extended/testdata/cmd/test/cmd/images.sh
  test/extended/testdata/cmd/test/cmd/quota.sh
  test/extended/testdata/cmd/test/cmd/testdata/image-streams/image-streams-centos7.json
Due: none

ignore the statefulset error on recreating the prometheus k8s pod
  pkg/duplicateevents/duplicated_event_patterns.go
Due: none

MON-3219: Remove exceptions for Alert Rules missing summary/descriptions
  test/extended/prometheus/prometheus.go
Due: none

2x Revert "OCPBUGS-9831: Make unidle test more strict"
  test/extended/idling/idling.go
Due: none

remove legacy recovery tests
  test/extended/dr/backup_restore.go
  test/extended/dr/common.go
  test/extended/dr/machine_recover.go
  test/extended/dr/quorum_restore.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

explicitly add upgrade tests back
  test/extended/include.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

update go.mod and vendor
  go.mod
  vendor/k8s.io/kubernetes/test/e2e/upgrades/network/kube_proxy_migration.go
  vendor/k8s.io/kubernetes/test/e2e/upgrades/network/services.go
  vendor/modules.txt
Due: none
