Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

Adding new cloud provider e2e for alibabacloud
  cmd/openshift-tests/provider.go
  cmd/openshift-tests/provider_test.go
  test/extended/util/alibabacloud/provider.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

add more frequently failing loki alerts to the allow-list
  test/e2e/upgrade/alert/alert.go
  test/extended/prometheus/prometheus.go
Due: none

Flake instead of fail the timely OSUpdateStaged test on metal and ovirt.
  pkg/synthetictests/event_junits.go
  pkg/synthetictests/operators.go
Due: none

Revert "add support for build csi volume source"
  test/extended/builds/volumes.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/volumes/csi-docker-buildconfig.yaml
  test/extended/testdata/builds/volumes/csi-s2i-buildconfig.yaml
  test/extended/testdata/builds/volumes/csi-sharedresourcerole.yaml
  test/extended/testdata/builds/volumes/csi-sharedresourcerolebinding.yaml
  test/extended/testdata/builds/volumes/csi-sharedsecret.yaml
  test/extended/testdata/builds/volumes/csi-without-rr-docker-buildconfig.yaml
  test/extended/testdata/builds/volumes/csi-without-rr-s2i-buildconfig.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

test/extended: expose apiserver request latency
  test/extended/apiserver/latency.go
Due: none

test/extended: refine apiserver latency thresholds
  test/extended/apiserver/latency.go
Due: none

test/extended: regenerate
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

operators: extend test for exposed cluster services by optional path
  test/extended/operators/routable.go
Due: none

prometheus: UI should be inaccessible
  test/extended/prometheus/prometheus.go
Due: none

prometheus: `/graph` should be inaccessible, test `/api/v1/targets`
  test/extended/prometheus/prometheus.go
Due: none

Bug 1825034: IBMCloud: Stop creating CRB for IBM Cloud clusters
  test/extended/util/ibmcloud/provider.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

don't double report early alert failures
  test/extended/prometheus/prometheus.go
Due: none

add support for build csi volume source
  test/extended/builds/volumes.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/volumes/csi-docker-buildconfig.yaml
  test/extended/testdata/builds/volumes/csi-s2i-buildconfig.yaml
  test/extended/testdata/builds/volumes/csi-sharedresourcerole.yaml
  test/extended/testdata/builds/volumes/csi-sharedresourcerolebinding.yaml
  test/extended/testdata/builds/volumes/csi-sharedsecret.yaml
  test/extended/testdata/builds/volumes/csi-without-rr-docker-buildconfig.yaml
  test/extended/testdata/builds/volumes/csi-without-rr-s2i-buildconfig.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Improve edge cases error message for OSUpdateStaged test.
  pkg/synthetictests/operators.go
Due: none

Debugging hack for missing event intervals.
  pkg/monitor/event.go
Due: none

Skip some HAProxy tests on FIPS
  test/extended/router/scoped.go
  test/extended/router/unprivileged.go
  test/extended/router/weighted.go
Due: none

Revert "Skip some HAProxy tests on FIPS"
  test/extended/router/scoped.go
  test/extended/router/unprivileged.go
  test/extended/router/weighted.go
Due: none

test/extended/util/url: Use curl --connect-to
  test/extended/util/url/url.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Fix HAProxy tests on FIPS properly
  test/extended/router/certs.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-common.yaml
  test/extended/testdata/router/router-override-domains.yaml
  test/extended/testdata/router/router-override.yaml
  test/extended/testdata/router/router-scoped.yaml
  test/extended/testdata/router/weighted-router.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add baremetal high availability tests
  test/extended/baremetal/high_availability.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test/extended: check apiserver average latency
  test/extended/apiserver/latency.go
Due: none

test/extended/router: Dump crypto-policy for FIPS
  test/extended/router/certs.go
Due: none

Bug 1825034: IBMCloud: Concurrent CRB create
  test/extended/util/ibmcloud/provider.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Fix broken console disruption test.
  test/extended/util/disruption/frontends/known_backends.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

images: update registry to 2.8.0-beta.1
  test/extended/images/imagestreamimport.go
  test/extended/images/mirror.go
  test/extended/util/image/image.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

Only run parallel tests in the canary job since it runs in parallel
  cmd/openshift-tests/e2e.go
Due: none

Delete extra workers before running metal high availability test
  test/extended/baremetal/helper.go
  test/extended/baremetal/high_availability.go
Due: none

update p99 values for disruption and alerts
  pkg/synthetictests/allowedalerts/query_results.json
  pkg/synthetictests/allowedbackenddisruption/query_results.json
Due: none

tweak the magic numbers for 'no data' to be easier to find
  pkg/synthetictests/allowedalerts/matches.go
  pkg/synthetictests/allowedalerts/matches_test.go
  test/extended/util/disruption/disruption.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "Flake failed sandboxes from bug in new guard pods"
  pkg/synthetictests/networking.go
Due: none

Alibaba: enable init for alibabacloud provider
  cmd/openshift-tests/provider.go
Due: none

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
