Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/gcp-crio:
  decorate: true
  spec:
    serviceAccountName: ci-operator
    volumes:
    - name: job-definition
      configMap:
        name: prow-job-cluster-launch-e2e
    - name: cluster-profile
      projected:
        sources:
        - secret:
            name: cluster-secrets-gcp
        - configMap:
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    serviceAccountName: ci-operator
    containers:
    - name: test
      image: ci-operator:latest
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            name: ci-operator-openshift-origin
            key: master.json
      - name: OVERRIDE_SPEC
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

UPSTREAM: 65188: Increase glog level of some scheduling errors
  vendor/k8s.io/kubernetes/pkg/scheduler/factory/factory.go
  vendor/k8s.io/kubernetes/pkg/scheduler/scheduler.go
Due: none

UPSTREAM: 67236: fix azure disk create failure due to sdk upgrade
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/azure/azure_blobDiskController.go
Due: none

Add information about how to fix "firewall-cmd: command not found"
  docs/cluster_up_down.md
Due: none

Fix haproxy router config manager issue where sanitize pems don't match when extended validation is enabled (causes a reload where none is needed). fixes bugz #1615802 o address review comments.
  pkg/cmd/infra/router/template.go
  pkg/router/template/configmanager/haproxy/manager.go
  pkg/router/template/types.go
Due: none

Automatic commit of package [atomic-openshift] release [3.10.29-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

Add forwarded header instead of replacing it
  images/router/haproxy/conf/haproxy-config.template
Due: none

remote invalid jsonpath reference from sample templates
  examples/sample-app/application-template-custombuild.json
  examples/sample-app/application-template-dockerbuild.json
  examples/sample-app/application-template-pullspecbuild.json
  examples/sample-app/application-template-stibuild.json
  test/extended/testdata/bindata.go
Due: none

Clean up bad OVS ports
  pkg/network/node/ovscontroller.go
Due: none

UPSTREAM: 67456:fix an issue in NodeInfo.Clone() - usedPorts is a map-in-map struct, add fix to ensure it's deep copied - updated unit test
  vendor/k8s.io/kubernetes/pkg/scheduler/cache/node_info.go
  vendor/k8s.io/kubernetes/pkg/scheduler/cache/node_info_test.go
Due: none

update CLI Hacking Guide
  docs/cli_hacking_guide.adoc
Due: none

Update the Automation Broker APB command
  install/automationservicebroker/install.yaml
  pkg/oc/clusteradd/components/automation-service-broker/automation_service_broker.go
  pkg/oc/clusterup/manifests/bindata.go
  test/extended/testdata/bindata.go
Due: none

use K8s NamespaceLifecycle admission controller
  examples/service-catalog/service-catalog.yaml
  pkg/oc/clusterup/manifests/bindata.go
Due: ci/openshift-jenkins/service-catalog

ServiceCatalog: update owners
  examples/service-catalog/OWNERS
Due: ci/openshift-jenkins/service-catalog

generated
  api/protobuf-spec/github_com_openshift_api_build_v1.proto
  pkg/build/apis/build/v1/zz_generated.conversion.go
  pkg/openapi/zz_generated.openapi.go
Due: ci/openshift-jenkins/extended_builds

make build types match internal/external
  pkg/build/apis/build/types.go
Due: ci/openshift-jenkins/extended_builds

minimal change to deserialize into an exteral type
  pkg/build/webhook/generic/generic.go
Due: ci/openshift-jenkins/extended_builds

bump(*)
  glide.lock
  vendor/github.com/google/btree/btree.go
  vendor/github.com/google/btree/btree_test.go
  vendor/github.com/openshift/api/build/v1/generated.pb.go
  vendor/github.com/openshift/api/build/v1/generated.proto
  vendor/github.com/openshift/api/build/v1/types.go
  vendor/github.com/openshift/api/build/v1/types_swagger_doc_generated.go
  vendor/github.com/openshift/api/build/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/image/v1/generated.pb.go
  vendor/github.com/openshift/api/image/v1/generated.proto
  vendor/github.com/openshift/api/image/v1/types.go
  vendor/github.com/openshift/api/image/v1/types_swagger_doc_generated.go
  vendor/github.com/openshift/api/image/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/imagebuilder/builder.go
  vendor/github.com/openshift/imagebuilder/dispatchers.go
  vendor/github.com/openshift/imagebuilder/dispatchers_test.go
Due: ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem

bump(*):
  glide.lock
  vendor/github.com/openshift/api/image/v1/types.go
  vendor/github.com/openshift/source-to-image/pkg/build/strategies/dockerfile/dockerfile.go
  vendor/github.com/openshift/source-to-image/pkg/util/injection_test.go
  vendor/github.com/openshift/source-to-image/pkg/util/status/build_status.go
  vendor/github.com/openshift/source-to-image/test/integration/integration_test.go
Due: ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem

Fix dnsmasq/node dependency
  images/node/system-container/service.template
Due: none

generated
  test/testdata/bootstrappolicy/bootstrap_cluster_role_bindings.yaml
  test/testdata/bootstrappolicy/bootstrap_cluster_roles.yaml
  test/testdata/bootstrappolicy/bootstrap_policy_file.yaml
Due: none

use the upstream RBAC roles for reconciliation
  pkg/cmd/server/bootstrappolicy/constants.go
  pkg/cmd/server/bootstrappolicy/dead.go
  pkg/cmd/server/bootstrappolicy/policy.go
  pkg/cmd/server/bootstrappolicy/web_console_role_test.go
  pkg/cmd/server/kubernetes/master/master_config.go
  test/integration/master_routes_test.go
Due: ci/openshift-jenkins/service-catalog

expose external type installation for configapi
  pkg/cmd/server/apis/config/v1/register.go
Due: none

UPSTREAM: 67399: update patch to work with --local and avoid extra requests
  vendor/k8s.io/kubernetes/cluster/clientbin.sh
Due: none

UPSTREAM: 67316: Adds tests for --all-containers=true
  vendor/k8s.io/kubernetes/pkg/kubectl/polymorphichelpers/logsforobject.go
  vendor/k8s.io/kubernetes/pkg/kubectl/polymorphichelpers/logsforobject_test.go
Due: none

spec: keep /etc/sysconfig/origin-node
  origin.spec
Due: none

Update openshift image layers API
  pkg/image/apiserver/registry/imagestream/etcd/etcd.go
  test/extended/images/layers.go
Due: ci/openshift-jenkins/extended_image_registry

UPSTREAM: 66835: cloudprovider: aws: return true on existence check for stopped instances
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/aws/aws.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/aws/aws_test.go
Due: none

snip template client internal refs
  pkg/cmd/openshift-controller-manager/controller/interfaces.go
  pkg/cmd/openshift-controller-manager/controller/template.go
  pkg/cmd/server/bootstrappolicy/securitycontextconstraints_test.go
  pkg/template/controller/metrics.go
  pkg/template/controller/metrics_test.go
  pkg/template/controller/readiness.go
  pkg/template/controller/readiness_test.go
  pkg/template/controller/templateinstance_controller.go
  pkg/template/controller/templateinstance_controller_test.go
  pkg/template/controller/templateinstance_finalizer.go
  test/extended/templates/helpers.go
  test/extended/templates/templateinstance_cross_namespace.go
  test/extended/templates/templateinstance_impersonation.go
  test/extended/templates/templateinstance_objectkinds.go
  test/extended/templates/templateinstance_readiness.go
  test/extended/templates/templateinstance_security.go
  test/extended/templates/templateservicebroker_bind.go
  test/extended/templates/templateservicebroker_e2e.go
  test/extended/templates/templateservicebroker_security.go
  test/extended/util/cli.go
Due: ci/openshift-jenkins/service-catalog

snip internal security deps
  hack/import-restrictions.json
  pkg/build/controller/strategy/sti.go
  pkg/build/controller/strategy/sti_test.go
  pkg/cmd/openshift-controller-manager/controller/build.go
  pkg/cmd/openshift-controller-manager/controller/interfaces.go
  pkg/oc/cli/admin/router/router.go
  pkg/security/apiserver/admission/sccadmission/admission.go
  pkg/security/apiserver/admission/sccadmission/admission_test.go
  pkg/security/apiserver/apiserver.go
  pkg/security/apiserver/registry/podsecuritypolicyreview/rest.go
  pkg/security/apiserver/registry/podsecuritypolicyreview/rest_test.go
  pkg/security/apiserver/registry/podsecuritypolicyselfsubjectreview/rest.go
  pkg/security/apiserver/registry/podsecuritypolicyselfsubjectreview/rest_test.go
  pkg/security/apiserver/registry/podsecuritypolicysubjectreview/rest.go
  pkg/security/apiserver/registry/podsecuritypolicysubjectreview/rest_test.go
  pkg/security/apiserver/securitycontextconstraints/bypriority.go
  pkg/security/apiserver/securitycontextconstraints/bypriority_test.go
  pkg/security/apiserver/securitycontextconstraints/byrestrictions.go
  pkg/security/apiserver/securitycontextconstraints/byrestrictions_test.go
  pkg/security/apiserver/securitycontextconstraints/matcher.go
  pkg/security/apiserver/securitycontextconstraints/matcher_test.go
  pkg/security/apiserver/securitycontextconstraints/provider.go
  pkg/security/apiserver/securitycontextconstraints/provider_test.go
  pkg/security/apiserver/securitycontextconstraints/types.go
Due: ci/openshift-jenkins/extended_builds, ci/prow/cross

snip last project internal client refs
  pkg/cmd/infra/router/f5.go
  pkg/cmd/infra/router/router.go
  pkg/cmd/infra/router/template.go
  pkg/router/controller/factory/factory.go
  pkg/router/controller/router_controller.go
  test/integration/router_without_haproxy_test.go
Due: none

start import restrictions
  hack/import-restrictions.json
Due: ci/prow/cross

in e2e wait for istag creation after the import, before the pull
  test/end-to-end/core.sh
Due: none

Bug 1600741 - Provide better help for network diagnostic flags
  pkg/oc/cli/admin/diagnostics/diagnostics/cluster/network/run_pod.go
Due: none

Set the X-Forwarded-Proto header only when it does not exist
  images/router/haproxy/conf/haproxy-config.template
Due: none

copy out some internal consts and vars for external use
  pkg/build/util/consts.go
Due: ci/openshift-jenkins/extended_builds

duplicate some existing build helpers for internal use
  pkg/build/apis/build/internal_helpers/internal_helpers.go
Due: ci/openshift-jenkins/extended_builds

Path conditions:
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/cmd/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
