Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)

add diff command to oc
  pkg/oc/cli/cli.go
Due: none

remove generated informers and listers
  Makefile
  hack/update-generated-clientsets.sh
  hack/update-generated-informers.sh
  hack/update-generated-listers.sh
  hack/verify-generated-informers.sh
  hack/verify-generated-listers.sh
  pkg/quota/generated/informers/internalversion/factory.go
  pkg/quota/generated/informers/internalversion/generic.go
  pkg/quota/generated/informers/internalversion/internalinterfaces/factory_interfaces.go
  pkg/quota/generated/informers/internalversion/quota/interface.go
  pkg/quota/generated/informers/internalversion/quota/internalversion/clusterresourcequota.go
  pkg/quota/generated/informers/internalversion/quota/internalversion/interface.go
  pkg/quota/generated/internalclientset/clientset.go
  pkg/quota/generated/internalclientset/doc.go
  pkg/quota/generated/internalclientset/fake/clientset_generated.go
  pkg/quota/generated/internalclientset/fake/doc.go
  pkg/quota/generated/internalclientset/fake/register.go
  pkg/quota/generated/internalclientset/scheme/doc.go
  pkg/quota/generated/internalclientset/scheme/register.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/appliedclusterresourcequota.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/clusterresourcequota.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/doc.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/fake/doc.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/fake/fake_appliedclusterresourcequota.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/fake/fake_clusterresourcequota.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/fake/fake_quota_client.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/generated_expansion.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/quota_client.go
  pkg/quota/generated/listers/quota/internalversion/appliedclusterresourcequota.go
  pkg/quota/generated/listers/quota/internalversion/clusterresourcequota.go
  pkg/quota/generated/listers/quota/internalversion/expansion_generated.go
Due: ci/prow/artifacts, ci/prow/cross

boring: kubectl moves
  pkg/oc/cli/admin/admin.go
  pkg/oc/cli/cli.go
  pkg/oc/cli/newapp/newapp.go
  pkg/oc/cli/process/process.go
  pkg/oc/cli/shim_kubectl.go
  pkg/oc/lib/newapp/app/app.go
  pkg/oc/lib/newapp/app/componentref.go
  pkg/oc/lib/newapp/app/pipeline.go
  pkg/oc/lib/newapp/app/sourcelookup.go
  pkg/oc/lib/newapp/cmd/newapp.go
  pkg/oc/lib/newapp/cmd/resolve.go
  pkg/oc/lib/newapp/dockerfile/finder.go
  pkg/oc/lib/newapp/jenkinsfile/finder.go
  pkg/oc/lib/newapp/types.go
  pkg/oc/originpolymorphichelpers/defaultgenerators.go
  pkg/oc/originpolymorphichelpers/deploymentconfigs/generate.go
  pkg/oc/originpolymorphichelpers/deploymentconfigs/status.go
  pkg/oc/originpolymorphichelpers/mapbasedselectorforobject.go
  pkg/oc/originpolymorphichelpers/statusviewer.go
  pkg/route/generator/generate.go
  test/integration/newapp_test.go
Due: none

simplify NewUpdatePodSpecForObjectFn kubectl polymorphic functino
  pkg/oc/originpolymorphichelpers/updatepodspec.go
Due: none

switch tests to external client
  test/extended/imageapis/quota_admission.go
  test/util/client.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

switch quota to external
  pkg/cmd/openshift-apiserver/openshiftadmission/plugin_initializer.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/config.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/informers.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/openshift_apiserver.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/project.go
  pkg/cmd/openshift-controller-manager/controller/ingress.go
  pkg/cmd/openshift-controller-manager/controller/interfaces.go
  pkg/cmd/openshift-controller-manager/controller/quota.go
  pkg/cmd/openshift-controller-manager/controller/template.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  pkg/cmd/server/admission/init.go
  pkg/cmd/server/admission/types.go
  pkg/image/apiserver/registry/imagestream/strategy_test.go
  pkg/image/util/testutil/util.go
  pkg/quota/apis/quota/convert.go
  pkg/quota/apis/quota/v1/conversion.go
  pkg/quota/apis/quota/v1/helpers.go
  pkg/quota/apiserver/admission/clusterresourcequota/accessor.go
  pkg/quota/apiserver/admission/clusterresourcequota/accessor_test.go
  pkg/quota/apiserver/admission/clusterresourcequota/admission.go
  pkg/quota/apiserver/apiserver.go
  pkg/quota/apiserver/registry/appliedclusterresourcequota/filter.go
  pkg/quota/controller/clusterquotamapping/clusterquotamapping.go
  pkg/quota/controller/clusterquotamapping/clusterquotamapping_test.go
  pkg/quota/controller/clusterquotamapping/mapper.go
  pkg/quota/controller/clusterquotareconciliation/reconciliation_controller.go
  pkg/quota/controller/clusterquotareconciliation/reconciliation_controller_test.go
  pkg/quota/image/imagestreamimport_evaluator.go
  pkg/quota/image/imagestreamimport_evaluator_test.go
  pkg/quota/image/imagestreamtag_evaluator.go
  pkg/quota/image/imagestreamtag_evaluator_test.go
  pkg/quota/image/registry.go
  test/extended/util/framework.go
  test/integration/clusterquota_test.go
  test/integration/unprivileged_newproject_test.go
  test/util/client.go
Due: ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

boring: import updates
  pkg/api/imagereferencemutators/internalversion/pods.go
  test/integration/clusterquota_test.go
Due: none

remove apparently dead code
  pkg/cmd/openshift-apiserver/openshiftapiserver/configprocessing/audit.go
Due: none

kubectl: switch dc to external
  pkg/oc/originpolymorphichelpers/objectpauser.go
  pkg/oc/originpolymorphichelpers/objectresumer.go
Due: none

fix clusterreader rbac rule changes
  pkg/cmd/server/bootstrappolicy/policy.go
  test/testdata/bootstrappolicy/bootstrap_cluster_roles.yaml
  test/testdata/bootstrappolicy/bootstrap_policy_file.yaml
Due: ci/openshift-jenkins/service-catalog

updates to openshift-controller-manager for new auth API
  pkg/cmd/openshift-controller-manager/controller/apiserver_authenticator.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch_authenticator.go
Due: none

update pod node constraints for group change types
  pkg/scheduler/admission/podnodeconstraints/admission_test.go
Due: none

remove node deletion powers to match kube 71021
  test/integration/node_authorizer_test.go
Due: none

APPS: deploymentconfig deployers respect new pod fields
  pkg/apps/controller/deployer/deployer_controller.go
Due: none

tweak generator
  hack/import-restrictions.json
  hack/update-generated-openapi.sh
Due: ci/prow/artifacts, ci/prow/cross

boring move
  pkg/api/serialization_test.go
  pkg/image/apiserver/admission/imagepolicy/imagepolicy_test.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

storage path updates
  test/integration/etcd_storage_path_test.go
Due: none

boring: kubectl moves
  pkg/cmd/openshift/openshift.go
  pkg/oc/cli/logs/logs_test.go
  pkg/oc/lib/newapp/app/imageref_test.go
  pkg/oc/lib/newapp/app/sourcelookup_test.go
  pkg/oc/lib/newapp/appjson/appjson.go
  pkg/oc/lib/newapp/cmd/newapp_test.go
  pkg/oc/lib/newapp/cmd/resolve_test.go
Due: none

update TSB to handle new audit API
  pkg/template/controller/templateinstance_controller_test.go
  pkg/templateservicebroker/cmd/server/start.go
Due: none

refactor for dynamic audit enablement
  pkg/cmd/openshift-apiserver/openshiftapiserver/config.go
Due: none

use klog where required
  hack/import-restrictions.json
  pkg/cmd/flagtypes/glog.go
  pkg/oc/cli/admin/migrate/migrator_test.go
  pkg/oc/cli/admin/prune/imageprune/prune_test.go
  pkg/oc/cli/admin/prune/images/images_test.go
Due: ci/prow/artifacts, ci/prow/cross

remove acceptance of invalid json to match upstream
  pkg/api/compatibility_test.go
Due: none

boring apps: switch to external
  pkg/apps/strategy/support/lifecycle_test.go
  pkg/oc/originpolymorphichelpers/deploymentconfigs/rollback.go
Due: none

disable the CRD discovery available to land the rebase
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
Due: none

UPSTREAM: <drop>: STORAGE ephemeral storage tests
  vendor/k8s.io/kubernetes/pkg/kubelet/nodestatus/setters_test.go
Due: ci/prow/gcp-crio

UPSTREAM: <drop>: disable racy scheduler test
  vendor/k8s.io/kubernetes/pkg/scheduler/internal/queue/scheduling_queue_test.go
Due: none

UPSTREAM: <drop>: apimachinery tests
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/naming/from_stack_test.go
Due: none

UPSTREAM: <drop>: generated
  vendor/k8s.io/kubernetes/hack/openapi-violation.list
  vendor/k8s.io/kubernetes/pkg/generated/openapi/zz_generated.openapi.go
Due: none

Drop SDN roles/bindings
  pkg/cmd/server/bootstrappolicy/constants.go
  pkg/cmd/server/bootstrappolicy/controller_policy.go
  pkg/cmd/server/bootstrappolicy/policy.go
  test/old-start-configs/v1.0.0/config/openshift.local.config/master/policy.json
  test/testdata/bootstrappolicy/bootstrap_cluster_role_bindings.yaml
  test/testdata/bootstrappolicy/bootstrap_cluster_roles.yaml
  test/testdata/bootstrappolicy/bootstrap_policy_file.yaml
Due: ci/openshift-jenkins/service-catalog

Drop support for running SDN from openshift-controller-manager
  pkg/cmd/openshift-controller-manager/controller/config.go
  pkg/cmd/openshift-controller-manager/controller/network_sdn.go
  pkg/cmd/openshift-network-controller/network_controller.go
Due: none

Fix DC extended tests with simple deployment
  test/extended/testdata/bindata.go
  test/extended/testdata/deployments/deployment-trigger.yaml
Due: none

UPSTREAM: 70002: Cherry-picked
  vendor/k8s.io/kubernetes/pkg/volume/azure_dd/attacher.go
  vendor/k8s.io/kubernetes/pkg/volume/azure_dd/azure_common.go
  vendor/k8s.io/kubernetes/pkg/volume/azure_dd/azure_common_test.go
Due: none

bump(*)
  vendor/github.com/openshift/api/apps/v1/register.go
  vendor/github.com/openshift/api/build/v1/register.go
  vendor/github.com/openshift/api/image/v1/register.go
Due: none

retry e2e setup in case of transient api server errors
  test/extended/util/cli.go
Due: ci/prow/e2e-aws-builds

dump more operator version info in upgrade test
  test/e2e/upgrade/upgrade.go
Due: none

Automatic commit of package [atomic-openshift] release [3.9.76-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none
