Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
      - --template=/usr/local/e2e-aws-image-ecosystem
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

Automatic commit of package [atomic-openshift] release [3.9.67-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

remove dead openshift features
  hack/import-restrictions.json
  pkg/build/apiserver/admission/secretinjector/admission.go
  pkg/build/apiserver/admission/strategyrestrictions/admission.go
  pkg/cmd/openshift-apiserver/cmd.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/openshift_apiserver.go
  pkg/cmd/openshift-apiserver/server.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  pkg/image/apiserver/admission/imagepolicy/imagepolicy.go
  pkg/network/apiserver/apiserver.go
  pkg/network/apiserver/registry/clusternetwork/etcd/etcd.go
  pkg/network/apiserver/registry/clusternetwork/strategy.go
  pkg/network/apiserver/registry/egressnetworkpolicy/etcd/etcd.go
  pkg/network/apiserver/registry/egressnetworkpolicy/strategy.go
  pkg/network/apiserver/registry/hostsubnet/etcd/etcd.go
  pkg/network/apiserver/registry/hostsubnet/strategy.go
  pkg/network/apiserver/registry/netnamespace/etcd/etcd.go
  pkg/network/apiserver/registry/netnamespace/strategy.go
  pkg/project/apiserver/admission/requestlimit/admission.go
  test/util/server/start/master_args.go
Due: ci/prow/artifacts, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_registry, ci/prow/cross

bump(k8s.io/kubernetes): fix kubernetes revisions
  glide.lock
Due: none

separate kube and openshift admission
  hack/import-restrictions.json
  pkg/apiserver/admission/config_test.go
  pkg/apiserver/admission/register.go
  pkg/apiserver/admission/sync_test.go
  pkg/cmd/openshift-apiserver/openshiftadmission/chain_builder.go
  pkg/cmd/openshift-apiserver/openshiftadmission/config_test.go
  pkg/cmd/openshift-apiserver/openshiftadmission/plugin_initializer.go
  pkg/cmd/openshift-apiserver/openshiftadmission/register.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/config.go
  pkg/cmd/openshift-kube-apiserver/kubeadmission/register.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  pkg/cmd/openshift-kube-apiserver/server.go
  pkg/configconversion/simple.go
Due: ci/prow/artifacts, ci/prow/cross

Fix deployerPodInvariantChecker error string
  test/extended/deployments/util.go
Due: none

UPSTREAM: 73097: Add NotReady taint to new nodes during admission
  vendor/k8s.io/kubernetes/pkg/kubeapiserver/options/plugins.go
  vendor/k8s.io/kubernetes/plugin/pkg/admission/nodetaint/admission.go
  vendor/k8s.io/kubernetes/plugin/pkg/admission/nodetaint/admission_test.go
  vendor/k8s.io/kubernetes/test/e2e_node/services/apiserver.go
Due: none

Admission changes for taint admission plugin
  pkg/apiserver/admission/chain_builder.go
  pkg/apiserver/admission/config_test.go
  pkg/apiserver/admission/register.go
Due: none

UPSTREAM: 73404: Kubelet: Fix volumemanager test race
  vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/reconciler/reconciler_test.go
Due: ci/prow/gcp-crio

Revert "tnozicka: temporary solution for post-hooks in deployments"
  test/extended/deployments/deployments.go
Due: none

Explicitly let deployers create ImageStreamTags (it used to be implied by "update")
  pkg/cmd/server/bootstrappolicy/policy.go
Due: ci/openshift-jenkins/service-catalog

Wait for new project to be fully provisioned in extended tests
  test/extended/util/cli.go
Due: none

UPSTREAM: 73706: csr signer has no need to sign certificates for a duration longer than the signer itself
  vendor/k8s.io/kubernetes/pkg/controller/certificates/signer/cfssl_signer.go
  vendor/k8s.io/kubernetes/pkg/controller/certificates/signer/cfssl_signer_test.go
Due: none

UPSTREAM: 72844: Fix PidPressure, and add fork-bomb e2e-node test
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/api/types.go
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/eviction_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/helpers.go
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/helpers_test.go
  vendor/k8s.io/kubernetes/test/e2e_node/BUILD
  vendor/k8s.io/kubernetes/test/e2e_node/eviction_test.go
Due: ci/prow/gcp-crio

UPSTREAM: 72076: SupportPodPidsLimit feature beta with tests
  vendor/k8s.io/kubernetes/cmd/kubelet/app/options/options.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/pkg/kubelet/apis/kubeletconfig/types.go
  vendor/k8s.io/kubernetes/pkg/kubelet/apis/kubeletconfig/v1beta1/defaults.go
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/cgroup_manager_linux.go
  vendor/k8s.io/kubernetes/test/e2e_node/BUILD
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

UPSTREAM: 73034: [Text Fix] Fix panic in NodeAllocatable node e2e test
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/cgroup_manager_linux.go
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

kube-apiserver: make auditFlags logic reusable
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/flags.go
Due: none

openshift-kube-apiserver: move audit flag logic to pkg/cmd/configflags
  pkg/cmd/configflags/audit.go
  pkg/cmd/configflags/helpers.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/flags.go
Due: none

openshift-apiserver: switch to upstream audit plumbing
  pkg/cmd/configflags/helpers.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/config.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/flags.go
Due: none

Fix tests
  vendor/k8s.io/kubernetes/test/e2e/framework/volume_util.go
  vendor/k8s.io/kubernetes/test/e2e/storage/drivers/in_tree.go
  vendor/k8s.io/kubernetes/test/images/volume/iscsi/Dockerfile
  vendor/k8s.io/kubernetes/test/images/volume/iscsi/README.md
  vendor/k8s.io/kubernetes/test/images/volume/iscsi/initiatorname.iscsi
  vendor/k8s.io/kubernetes/test/images/volume/iscsi/run_iscsid.sh
  vendor/k8s.io/kubernetes/test/images/volume/iscsi/saveconfig.json
Due: none

Rename image
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
Due: none

UPSTREAM: 73318: Do writes in init container before trying reads
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/subpath.go
Due: none

properly prefix all admission plugins
  pkg/authorization/apiserver/admission/restrictusers/restrictusers.go
  pkg/build/apiserver/admission/secretinjector/admission.go
  pkg/build/apiserver/admission/strategyrestrictions/admission.go
  pkg/cmd/openshift-apiserver/openshiftadmission/chain_builder.go
  pkg/cmd/openshift-apiserver/openshiftadmission/config_test.go
  pkg/cmd/openshift-apiserver/openshiftadmission/register.go
  pkg/cmd/openshift-kube-apiserver/kubeadmission/register.go
  pkg/configconversion/legacyconfig_conversion.go
  pkg/image/apiserver/admission/apis/imagepolicy/name.go
  pkg/image/apiserver/admission/limitrange/admission.go
  pkg/project/apiserver/admission/nodeenv/admission.go
  pkg/project/apiserver/admission/requestlimit/admission.go
  pkg/quota/apiserver/admission/apis/clusterresourceoverride/name.go
  pkg/quota/apiserver/admission/clusterresourceoverride/admission.go
  pkg/quota/apiserver/admission/clusterresourceoverride/doc.go
  pkg/quota/apiserver/admission/clusterresourcequota/admission.go
  pkg/quota/apiserver/admission/runonceduration/admission.go
  pkg/route/apiserver/admission/ingress_admission.go
  pkg/scheduler/admission/podnodeconstraints/admission.go
  pkg/security/apiserver/admission/sccadmission/admission.go
  pkg/security/apiserver/admission/sccadmission/scc_exec.go
  pkg/service/admission/externalipranger/externalip_admission.go
  pkg/service/admission/restrictedendpoints/endpoint_admission.go
  test/integration/pod_node_constraints_test.go
  test/integration/project_reqlimit_test.go
  test/integration/restrictusers_test.go
  test/integration/runonce_duration_test.go
Due: ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_registry

nits: replace unnecessary loops
  pkg/image/apis/image/v1/conversion.go
  pkg/image/apis/image/validation/whitelist/whitelister.go
  pkg/image/apiserver/registry/image/strategy.go
  pkg/oc/cli/debug/debug.go
Due: ci/openshift-jenkins/extended_image_registry

Enable volume test
  test/extended/util/test.go
Due: none

add "pull" action to docker registry client context
  pkg/oc/cli/image/append/append.go
Due: none

e2e - Dump State for Prometheus
  test/extended/prometheus/prometheus_builds.go
  test/extended/util/framework.go
Due: none

add e2e test measuring operator metrics
  test/extended/operators/operators.go
  test/extended/operators/util.go
Due: none

UPSTREAM: 73749: Fix multiple subpaths e2e: read/write in same container
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/subpath.go
Due: none

segregate old groups for admission
  pkg/configconversion/legacyconfig_conversion.go
  pkg/image/apiserver/admission/apis/imagepolicy/install/install.go
  pkg/image/apiserver/admission/apis/imagepolicy/v1/register.go
  pkg/project/apiserver/admission/apis/requestlimit/install/install.go
  pkg/project/apiserver/admission/apis/requestlimit/v1/register.go
  pkg/quota/apiserver/admission/apis/clusterresourceoverride/install/install.go
  pkg/quota/apiserver/admission/apis/clusterresourceoverride/v1/register.go
  pkg/quota/apiserver/admission/apis/runonceduration/install/install.go
  pkg/quota/apiserver/admission/apis/runonceduration/v1/register.go
  pkg/route/apiserver/admission/apis/ingressadmission/install/install.go
  pkg/route/apiserver/admission/apis/ingressadmission/v1/defaults_test.go
  pkg/route/apiserver/admission/apis/ingressadmission/v1/register.go
  pkg/scheduler/admission/apis/podnodeconstraints/install/install.go
  pkg/scheduler/admission/apis/podnodeconstraints/v1/defaults_test.go
  pkg/scheduler/admission/apis/podnodeconstraints/v1/register.go
  pkg/service/admission/apis/externalipranger/install/install.go
  pkg/service/admission/apis/externalipranger/v1/register.go
  pkg/service/admission/apis/restrictedendpoints/install/install.go
  pkg/service/admission/apis/restrictedendpoints/v1/register.go
Due: ci/openshift-jenkins/extended_image_registry

tolerate old names for admission plugins to ratchet the change
  pkg/cmd/openshift-kube-apiserver/kubeadmission/register.go
  pkg/route/apiserver/admission/ingress_admission.go
  pkg/service/admission/externalipranger/deprecated_register.go
  pkg/service/admission/restrictedendpoints/deprecated_register.go
Due: none

switch to groupified admission config
  pkg/cmd/server/apis/config/install/install.go
  pkg/cmd/server/apis/config/latest/latest.go
  pkg/image/apiserver/admission/apis/imagepolicy/install/install.go
  pkg/image/apiserver/admission/apis/imagepolicy/register.go
  pkg/image/apiserver/admission/apis/imagepolicy/v1/default-policy.yaml
  pkg/image/apiserver/admission/apis/imagepolicy/v1/register.go
  pkg/image/apiserver/admission/imagepolicy/imagepolicy_test.go
  pkg/project/apiserver/admission/apis/requestlimit/install/install.go
  pkg/project/apiserver/admission/apis/requestlimit/register.go
  pkg/project/apiserver/admission/apis/requestlimit/v1/register.go
  pkg/project/apiserver/admission/requestlimit/admission_test.go
  pkg/quota/apiserver/admission/apis/clusterresourceoverride/install/install.go
  pkg/quota/apiserver/admission/apis/clusterresourceoverride/register.go
  pkg/quota/apiserver/admission/apis/clusterresourceoverride/v1/register.go
  pkg/quota/apiserver/admission/apis/runonceduration/install/install.go
  pkg/quota/apiserver/admission/apis/runonceduration/register.go
  pkg/quota/apiserver/admission/apis/runonceduration/v1/register.go
  pkg/quota/apiserver/admission/clusterresourceoverride/admission_test.go
  pkg/quota/apiserver/admission/runonceduration/admission_test.go
  pkg/route/apiserver/admission/apis/ingressadmission/install/install.go
  pkg/route/apiserver/admission/apis/ingressadmission/register.go
  pkg/route/apiserver/admission/apis/ingressadmission/v1/defaults_test.go
  pkg/route/apiserver/admission/apis/ingressadmission/v1/register.go
  pkg/scheduler/admission/apis/podnodeconstraints/install/install.go
  pkg/scheduler/admission/apis/podnodeconstraints/register.go
  pkg/scheduler/admission/apis/podnodeconstraints/v1/defaults_test.go
  pkg/scheduler/admission/apis/podnodeconstraints/v1/register.go
  pkg/scheduler/admission/podnodeconstraints/admission_test.go
Due: ci/openshift-jenkins/extended_image_registry

Support CNI 0.3.x in openshift-sdn
  cmd/sdn-cni-plugin/openshift-sdn_linux.go
  cmd/sdn-cni-plugin/sdn_cni_plugin_test.go
  pkg/network/node/node.go
Due: ci/prow/artifacts, ci/prow/cross

Fix conversion from 0.2.0 to 0.3.x
  cmd/sdn-cni-plugin/openshift-sdn_linux.go
  cmd/sdn-cni-plugin/sdn_cni_plugin_test.go
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 72006: Introduce -A as a shorthand for --all-namespaces in kubectl
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/auth/cani.go
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/clusterinfo_dump.go
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/describe.go
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/get/get.go
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/top_pod.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/cli-runtime/pkg/genericclioptions/builder_flags.go
  vendor/k8s.io/kubernetes/test/cmd/get.sh
Due: none

Update fixtures
  test/testdata/bootstrappolicy/bootstrap_cluster_roles.yaml
  test/testdata/bootstrappolicy/bootstrap_policy_file.yaml
Due: none

serialize groupified versions of config from integration tests
  pkg/cmd/server/apis/config/latest/latest.go
  test/util/server/server.go
Due: none

Introduce -A as a shorthand for --all-namespaces in oc
  pkg/oc/cli/admin/migrate/migrator.go
  pkg/oc/cli/admin/policy/who_can.go
  pkg/oc/cli/idle/idle.go
  pkg/oc/cli/observe/observe.go
  pkg/oc/cli/policy/cani/cani.go
  pkg/oc/cli/status/status.go
  test/cmd/status.sh
Due: none

Generated changes
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
