Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

Fix sorting to keep container/pod intervals together in the chart
  pkg/monitor/monitorapi/types.go
  pkg/monitortests/node/watchpods/podTest/container-life/expected.json
  pkg/monitortests/node/watchpods/podTest/end-before-begin/expected.json
  pkg/monitortests/node/watchpods/podTest/installer-pod/expected.json
  pkg/monitortests/node/watchpods/podTest/long-not-ready/expected.json
  pkg/monitortests/node/watchpods/podTest/run-once-done/expected.json
  pkg/monitortests/node/watchpods/podTest/simple/expected.json
  pkg/monitortests/node/watchpods/podTest/trailing-ready-2/expected.json
  pkg/monitortests/node/watchpods/podTest/trailing-ready/expected.json
Due: none

Fix missing NodeUpdate reached desired config intervals
  pkg/monitor/monitorapi/types.go
Due: none

test/extended/images: update OWNERS
  test/extended/images/OWNERS
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

OCPBUGS-19527: retry Prometheus client creation
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bump watch requests for cluster-baremetal-operator
  test/extended/apiserver/api_requests.go
Due: none

OCPBUGS-18490: bump monitoring SNO bounds
  test/extended/apiserver/api_requests.go
Due: none

Remove some redundant monitor tests
  pkg/monitortests/network/legacynetworkmonitortests/monitortest.go
Due: none

feat: added skip annotation
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

feat: added support for release imagestream images
  pkg/clioptions/clusterdiscovery/provider.go
  pkg/monitortests/network/disruptionpodnetwork/monitortest.go
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

feat: updated tests to be aware of capabilities
  test/extended/cli/debug.go
  test/extended/images/extract.go
  test/extended/images/resolve.go
  test/extended/util/framework.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

e2e: node: testcase to exercise device manager recovery
  go.mod
  test/extended/devices/recovery.go
  test/extended/include.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Correct condition for rejecting connection.
  test/extended/csrapprover/csrapprover.go
Due: none

Add debug info for interval counts/times; skip e2e-test intervals
  pkg/monitor/monitor.go
  pkg/monitortestframework/impl.go
  pkg/monitortests/testframework/uploadtolokiserializer/monitortest.go
Due: none

feat: bump(api) for olm capability
  go.mod
  go.sum
  vendor/github.com/openshift/api/.gitignore
  vendor/github.com/openshift/api/Dockerfile.rhel8
  vendor/github.com/openshift/api/Makefile
  vendor/github.com/openshift/api/annotations/annotations.go
  vendor/github.com/openshift/api/config/v1/0000_00_cluster-version-operator_01_clusterversion.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_image.crd.yaml
  vendor/github.com/openshift/api/config/v1/stable.clusterversion.testsuite.yaml
  vendor/github.com/openshift/api/config/v1/types_cluster_version.go
  vendor/github.com/openshift/api/config/v1/types_feature.go
  vendor/github.com/openshift/api/config/v1/types_image.go
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/helm/v1beta1/00_helm-chart-repository.crd.yaml
  vendor/github.com/openshift/api/helm/v1beta1/00_project-helm-chart-repository.crd.yaml
  vendor/github.com/openshift/api/helm/v1beta1/stable.helmchartrepository.testsuite.yaml
  vendor/github.com/openshift/api/helm/v1beta1/stable.projecthelmchartrepository.testsuite.yaml
  vendor/github.com/openshift/api/kubecontrolplane/v1/types.go
  vendor/github.com/openshift/api/kubecontrolplane/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/legacyconfig/v1/types.go
  vendor/github.com/openshift/api/legacyconfig/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/openshiftcontrolplane/v1/types.go
  vendor/github.com/openshift/api/openshiftcontrolplane/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/operator/v1/0000_80_machine-config-operator_01_config.crd.yaml
  vendor/github.com/openshift/api/operator/v1/register.go
  vendor/github.com/openshift/api/operator/v1/stable.machineconfiguration.testsuite.yaml
  vendor/github.com/openshift/api/operator/v1/types.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: ci/prow/cross, ci/prow/artifacts

feat: add conditional olm crds to explain
  test/extended/cli/explain.go
Due: none

fix: add skip annotation for olm capability
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

backport-ocp-11594-ocp-12339-to-4.14 with fix
  test/extended/quota/resourcequota.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

fix: wrap InitializeReleasePullSpecString in check for HasNoOptionalCapabilities
  pkg/clioptions/clusterdiscovery/provider.go
Due: none

Drop not-used pulledInvalidImages method
  pkg/clioptions/imagesetup/images.go
Due: none

Extract the cluster operator name from Down/Degraded Alerts
  pkg/monitor/monitorapi/construction.go
  pkg/monitortests/testframework/alertanalyzer/alerts.go
Due: none

add test tracking raw cert data
  test/extended/operators/certs.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

don't merge test only
  pkg/monitortests/network/legacynetworkmonitortests/networking.go
Due: none

OCPBUGS-19378: backport etcd restore tests
  cmd/openshift-tests/e2e.go
  go.mod
  test/extended/dr/OWNERS
  test/extended/dr/backup_restore.go
  test/extended/dr/common.go
  test/extended/dr/force_redeploy.go
  test/extended/dr/machine_recover.go
  test/extended/dr/quorum_restore.go
  test/extended/dr/recovery.go
  test/extended/dr/resource_assertions.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  vendor/k8s.io/kubernetes/test/e2e/upgrades/network/kube_proxy_migration.go
  vendor/k8s.io/kubernetes/test/e2e/upgrades/network/services.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

fix PR 28224
  test/extended/quota/resourcequota.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

fix for OCP-11594 to skipped on disconnected env
  test/extended/quota/resourcequota.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

prune the system CAs from proxy-ca in rawTLSInfo json
  test/extended/operators/certs.go
Due: none

ignore alert during ci run as it can be flaky
  pkg/alerts/allowed_conformance.go
Due: none

Clarify that we're flaking on any occurrence of alert, not failing
  pkg/monitortestlibrary/allowedalerts/all.go
  pkg/monitortestlibrary/allowedalerts/basic_alert.go
  pkg/monitortestlibrary/allowedalerts/matches.go
Due: none

Drop the ClusterOperatorDown/Degraded alert tests
  pkg/monitortestlibrary/allowedalerts/all.go
Due: none

Remove duplicated alert testing stack
  pkg/alerts/check.go
  pkg/monitortests/testframework/legacytestframeworkmonitortests/alerts.go
  test/e2e/upgrade/alert/alert.go
  test/e2e/upgrade/upgrade.go
  test/extended/prometheus/prometheus.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Support pinning alerts that we want to fire on any occurrence
  pkg/alerts/check.go
  pkg/monitortestlibrary/allowedalerts/all.go
  pkg/monitortestlibrary/allowedalerts/basic_alert.go
  pkg/monitortestlibrary/allowedalerts/matches.go
  test/e2e/upgrade/alert/alert.go
  test/extended/prometheus/prometheus.go
Due: none

Calm down some logging
  pkg/monitortestlibrary/historicaldata/alert_types.go
Due: none

Add new test that will fail on new alerts firing
  pkg/cmd/openshift-tests/dev/dev.go
  pkg/cmd/openshift-tests/monitor/timeline/timeline_command.go
  pkg/disruption/backend/sampler/remote.go
  pkg/monitor/monitorapi/types.go
  pkg/monitor/serialization/serialize.go
  pkg/monitortestlibrary/allowedalerts/basic_alert.go
  pkg/monitortestlibrary/allowedalerts/matches.go
  pkg/monitortestlibrary/allowedalerts/matches_test.go
  pkg/monitortestlibrary/allowedalerts/types.go
  pkg/monitortestlibrary/historicaldata/alert_types.go
  pkg/monitortestlibrary/historicaldata/disruption_types.go
  pkg/monitortests/node/nodestateanalyzer/node_test.go
  pkg/monitortests/node/watchpods/compute_intervals_test.go
  pkg/monitortests/testframework/alertanalyzer/alerts.go
  pkg/monitortests/testframework/legacytestframeworkmonitortests/alerts.go
  pkg/monitortests/testframework/legacytestframeworkmonitortests/alerts_test.go
  pkg/monitortests/testframework/timelineserializer/rendering.go
  pkg/monitortests/testframework/timelineserializer/rendering_test.go
  test/extended/prometheus/prometheus.go
  test/extended/util/prometheus/helpers.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Don't fire on alerts at sev info
  pkg/monitortests/testframework/legacytestframeworkmonitortests/alerts.go
  pkg/monitortests/testframework/legacytestframeworkmonitortests/alerts_test.go
Due: none

Remove the display bool for now, will re-add in another PR as it fails tests
  pkg/monitor/serialization/serialize.go
Due: none

skip readiness probe and connection refused events during upgrades
  pkg/duplicateevents/duplicated_event_patterns.go
Due: none

Port remaining clusteroperator monitor intervals to structured
  pkg/monitor/monitorapi/construction.go
  pkg/monitor/monitorapi/types.go
  pkg/monitortests/testframework/watchclusteroperators/operator.go
Due: none

trt-1320: update trt approvers
  OWNERS
Due: none
