Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

UPSTREAM: 90740: Update createBalancedPodForNodes function in scheduler e2e
  vendor/k8s.io/kubernetes/test/e2e/scheduling/priorities.go
Due: none

Update rules.go skips for 1.19
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

make update
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Temporarily skip service upgrade test broken by 1.19 rebase
  test/e2e/upgrade/upgrade.go
Due: none

e2e/oauth: unescape token taken from redirect url fragment
  test/extended/oauth/requestheaders.go
Due: none

test/extended/prometheus: remove exclusion for targets already exposing data over https
  test/extended/prometheus/prometheus.go
Due: none

Drop registry.fedoraproject.org/fedora:30 in favour of quay.io/fedora/fedora:32-x86_64
  test/extended/csrapprover/csrapprover.go
Due: none

test: extended: reenable ImmutableEphemeralVolume test
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Update another OLM e2e to include quotes on substring check
  test/extended/operators/olm.go
Due: none

e2e/extended: disable OLM 'can subscribe to the operator' test
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test/extended: enforce metrics best practices
  test/extended/prometheus/prometheus.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/prometheus/metrics.go
  test/extended/util/prometheus/promlint.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test/extended: reduce queries to invalid labels
  test/extended/prometheus/prometheus.go
  test/extended/util/prometheus/metrics.go
  test/extended/util/prometheus/promlint.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test/extended/prometheus: query api with token
  test/extended/prometheus/prometheus.go
Due: none

extended: topomgr: remove policy check
  go.mod
  test/extended/topology_manager/resourcealign.go
  test/extended/topology_manager/utils.go
Due: none

e2e: tm: delete testing pods concurrently
  test/extended/topology_manager/resourcealign.go
  test/extended/topology_manager/utils.go
Due: none

test: e2e: clarify core vs logical cpu confusion
  test/extended/topology_manager/resourcealign.go
Due: none

Bug 1861944: re-enable service upgrade
  test/e2e/upgrade/upgrade.go
Due: none

test: Fix inconsistencies in path reporting between Go versions
  test/extended/util/annotate/annotate.go
  test/extended/util/disruption/disruption.go
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

ovnkube: skip Conntrack test that's flaky upstream
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

DO NOT MERGE - Test dockerfile change
  images/tests/Dockerfile.rhel
Due: none

Update expected text for test-cmd timeout
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/timeout.sh
Due: none

UPSTREAM: 85983: fix metrics kubelet_running_pod_count
  vendor/k8s.io/kubernetes/pkg/kubelet/pleg/generic.go
  vendor/k8s.io/kubernetes/pkg/kubelet/pleg/generic_test.go
Due: ci/prow/gcp-crio

e2e/oauth/expiration: support sha256 tokens – auth tokens
  test/extended/oauth/expiration.go
Due: none

skip openshift-marketplace namespace when checking that images come from the release
  test/extended/operators/images.go
Due: none

e2e/oauth: deflake by using random tokens
  test/extended/oauth/token.go
Due: none

UPSTREAM: 89878: Ensure Azure availability zone is always in lower cases
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/azure/azure_zones.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/azure/azure_zones_test.go
Due: none

UPSTREAM: 89877: Ensure Azure availability zone is always in lower cases
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/azure/azure_zones.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/azure/azure_zones_test.go
Due: none

Fail if a commit can't be checked
  tools/rebasehelpers/commitchecker/commitchecker.go
Due: none

promlint: add missing metrics to exception list
  test/extended/util/prometheus/promlint.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Fix the verify upstream commits script
  hack/verify-upstream-commits.sh
Due: ci/prow/artifacts, ci/prow/cross

hack/verify-upstream-commits.sh: use correct base commit
  hack/verify-upstream-commits.sh
Due: ci/prow/artifacts, ci/prow/cross

Add tests for blocked/insecure image import
  go.mod
  test/extended/images/imagestreamimport.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
