Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-builds-cluster-profile
      - --target=e2e-aws-builds
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-registry-cluster-profile
      - --target=e2e-aws-image-registry
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

bump(yaml): glide
  glide.lock
  vendor/github.com/google/btree/btree_test.go
  vendor/gopkg.in/yaml.v2/.travis.yml
  vendor/gopkg.in/yaml.v2/LICENSE
  vendor/gopkg.in/yaml.v2/NOTICE
  vendor/gopkg.in/yaml.v2/README.md
  vendor/gopkg.in/yaml.v2/apic.go
  vendor/gopkg.in/yaml.v2/benchmark_test.go
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/decode_test.go
  vendor/gopkg.in/yaml.v2/emitterc.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/encode_test.go
  vendor/gopkg.in/yaml.v2/example_embedded_test.go
  vendor/gopkg.in/yaml.v2/go.mod
  vendor/gopkg.in/yaml.v2/readerc.go
  vendor/gopkg.in/yaml.v2/resolve.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/gopkg.in/yaml.v2/sorter.go
  vendor/gopkg.in/yaml.v2/writerc.go
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/gopkg.in/yaml.v2/yamlh.go
Due: none

Check ocm rollout between build tests
  test/extended/builds/cluster_config.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

UPSTREAM: 83751: Fixed bug in TopologyManager with SingleNUMANode Policy
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/topologymanager/topology_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/topologymanager/topology_manager_test.go
Due: ci/prow/gcp-crio

Bug 1759181: UPSTREAM: <carry>:Add a RBAC checker for external IP ranger
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/network/externalipranger/externalip_admission.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/network/externalipranger/externalip_admission_test.go
Due: none

restructure tests to include/exclude ocm rollout
  test/extended/builds/cluster_config.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

add extended build new-app tests back
  test/extended/builds/new_app.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

UPSTREAM: 83261: limit yaml/json decode size
  pkg/cmd/server/kubernetes/master/master_config_test.go
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/options/options_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/test/integration/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/test/integration/limit_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json_limit_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/runtime/serializer/yaml/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/runtime/serializer/yaml/yaml_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/json/json.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/config.go
  vendor/k8s.io/kubernetes/test/integration/apiserver/max_request_body_bytes_test.go
  vendor/k8s.io/kubernetes/test/integration/master/synthetic_master_test.go
Due: none

openshift-tests: Write monitor e2e to monitor_*.xml
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/junit.go
Due: none

UPSTREAM: 82245: Don't require any resources in race test
  vendor/k8s.io/kubernetes/test/e2e/storage/empty_dir_wrapper.go
Due: none

tests: exclude ovnkube-master from toleration test
  test/extended/operators/tolerations.go
Due: none

gofmt
  pkg/cmd/server/kubernetes/master/master_config_test.go
Due: none

UPSTREAM: 83911: Fix DeltaFIFO Replace method to prevent SharedIndexInformers from missing notifications
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/tools/cache/delta_fifo.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/tools/cache/delta_fifo_test.go
Due: none

test oauth server: increase timeout, wait for pod ready first
  test/extended/util/oauthserver/oauthserver.go
Due: ci/prow/e2e-aws-builds

modify the way of wait time
  test/extended/marketplace/marketplace_lables.go
  test/extended/marketplace/marketplace_utils.go
Due: none

change the resourcetime
  test/extended/marketplace/marketplace_lables.go
Due: none

modify the resourcewaittime
  test/extended/marketplace/marketplace_lables.go
Due: none

fake bump
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto_test.go
Due: none

UPSTREAM: 83747: Improve efficiency of csiMountMgr.GetAttributes
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_mounter.go
Due: none

UPSTREAM: 83296: Only kill process where killing failed during previous iterations
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/pod_container_manager_linux.go
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

Update OWNERS
  contrib/completions/OWNERS
  docs/man/OWNERS
  hack/OWNERS
  images/openldap/OWNERS
  test/OWNERS
  test/extended/authorization/rbac/OWNERS
  tools/etcdhelper/OWNERS
Due: ci/prow/artifacts, ci/prow/cross

Fix targetPort in route created by ingress, closes #23937
  pkg/route/controller/ingress/ingress.go
  pkg/route/controller/ingress/ingress_test.go
Due: none

Add consoleyamlsamples to list of console resource exceptions
  test/extended/authorization/rbac/groups_default_rules.go
Due: none

fix merge conflict
  glide.lock
Due: none

Revert "CHECK(workload): e2e: disable kubectl exec test with pod/name syntax"
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: 83567: Fix attachment of just detached AWS volumes
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
Due: none

check ServiceCatalog basic usages
  test/extended/operators/service_catalog.go
  test/extended/testdata/bindata.go
  test/extended/testdata/service_catalog/ups-binding.yaml
  test/extended/testdata/service_catalog/ups-broker.yaml
  test/extended/testdata/service_catalog/ups-deployment.yaml
  test/extended/testdata/service_catalog/ups-instance.yaml
  test/extended/testdata/service_catalog/ups-service.yaml
  vendor/k8s.io/kubernetes/hack/openapi-violation.list
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/hack/openapi-violation.list
Due: none

re updated
  vendor/k8s.io/kubernetes/hack/openapi-violation.list
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/hack/openapi-violation.list
Due: none

Fix ignoring non-server records when server threshold is exceeded in OCP 3.11
  pkg/router/metrics/haproxy/haproxy.go
Due: none

test: Update junit naming to ensure disruption tests are recorded
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/junit.go
  test/e2e/upgrade/upgrade.go
  test/extended/util/disruption/disruption.go
Due: ci/prow/e2e-aws-builds

debug rollout
  test/extended/builds/cluster_config.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

Remove Travis CI definition from this repo
  .travis.yml
Due: none

extend timeout plus hack
  hack/test-go.sh
Due: ci/prow/artifacts, ci/prow/cross

back out line # change
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/yaml/decoder_test.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)) or (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder))
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
