Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

UPSTREAM: 89589: Wait for APIServer 'ok' forever during CSINode initialization during Kubelet init
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_plugin.go
  vendor/k8s.io/kubernetes/pkg/volume/csi/nodeinfomanager/nodeinfomanager.go
  vendor/k8s.io/kubernetes/pkg/volume/testing/testing.go
Due: none

use rbac vs direct scc edit for s2i root bld test
  test/extended/builds/s2i_root.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

e2e: Disable router header test on OVN
  test/extended/router/headers.go
Due: none

enables encryption during extended e2e tests
  test/extended/apiserver/encryption.go
Due: none

Update glide for 1.18.0-rc.1
  glide.lock
  glide.yaml
Due: none

Disable e2e coverage for Feature:ImmutableEphemeralVolume
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: <drop>: make update
  vendor/k8s.io/kubernetes/pkg/generated/openapi/zz_generated.openapi.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/hack/openapi-violation.list
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kubectl/pkg/generated/bindata.go
  vendor/k8s.io/kubernetes/test/e2e/generated/bindata.go
Due: none

UPSTREAM: <carry>: fixup for 'collapse closer to kube authentication stack'
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/flags.go
Due: none

hack: adapt update-generated-openapi.sh to 1.18
  hack/update-generated-openapi.sh
Due: ci/prow/artifacts, ci/prow/cross

Update godep, conformance test and docker image versions
  Godeps/Godeps.json
  images/hyperkube/Dockerfile.rhel
  test/extended/conformance-k8s.sh
Due: none

Switch to Golang 1.13
  hack/lib/constants.sh
  images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 89580: kubelet: skip oom test if NewWatcher errors (non-root tests)
  vendor/k8s.io/kubernetes/pkg/kubelet/oom/oom_watcher_linux_test.go
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

make update
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Temporarily skip broken Multi-AZ test until a fix is available
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Disable e2e coverage for Feature:ServiceAccountIssuerDiscovery
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

monitor: Report node when events include it
  pkg/monitor/api.go
  pkg/monitor/event.go
  pkg/monitor/pod.go
Due: none

Ensure master is published to origin-4.5-kubernetes-1.18.0-rc1
  publishing-rules.yaml
Due: none

Update e2e testing of etcd storage path to reflect 1.18 changes
  test/extended/etcd/etcd_storage_path.go
Due: none

UPSTREAM: 89592: e2e/network: get previous pod errors on NetworkPolicy test failure
  vendor/k8s.io/kubernetes/test/e2e/network/network_policy.go
Due: none

UPSTREAM: 89741: Grant endpointslice-controller update for services/finalizers
  vendor/k8s.io/kubernetes/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  vendor/k8s.io/kubernetes/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Due: none

UPSTREAM: 89736: Fix linux volume unit test
  vendor/k8s.io/kubernetes/pkg/volume/volume_linux_test.go
Due: ci/prow/artifacts, ci/prow/cross

remove the break
  pkg/network/node/networkpolicy.go
Due: none

UPSTREAM: 88006: Unregister csiplugin even if socket path is gone
  vendor/k8s.io/kubernetes/pkg/kubelet/pluginmanager/cache/actual_state_of_world.go
  vendor/k8s.io/kubernetes/pkg/kubelet/pluginmanager/operationexecutor/operation_executor.go
  vendor/k8s.io/kubernetes/pkg/kubelet/pluginmanager/operationexecutor/operation_executor_test.go
  vendor/k8s.io/kubernetes/pkg/kubelet/pluginmanager/operationexecutor/operation_generator.go
  vendor/k8s.io/kubernetes/pkg/kubelet/pluginmanager/reconciler/reconciler.go
  vendor/k8s.io/kubernetes/pkg/kubelet/pluginmanager/reconciler/reconciler_test.go
Due: ci/prow/gcp-crio

Fix publishing rules for 1.18.0-rc.1
  publishing-kube-rules.yaml
  publishing-rules.yaml
Due: none

e2e/network: skip new session affinity timeout tests for OVNKubernetes
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 89592: log previous pod logs if pod was removed
  vendor/k8s.io/kubernetes/test/e2e/framework/pod/resource.go
Due: none

UPSTREAM: 89885: allow to read openstack cloud provider config from a secret
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/openstack/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/openstack/metadata.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/openstack/openstack.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/openstack/openstack_instances.go
Due: none

Bug 1816394: handle pod updates correctly in networkpolicy
  pkg/network/node/networkpolicy.go
  pkg/network/node/networkpolicy_test.go
Due: none

Add ci-monitor-operator command
  cmd/openshift-tests/openshift-tests.go
Due: none

test: Enable a range of tests that are allegedly fixed
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

monitor: Capture all events
  pkg/monitor/event.go
  pkg/monitor/pod.go
Due: none

UPSTREAM: 88440: Report deleted pod status correctly
  vendor/k8s.io/kubernetes/pkg/kubelet/container/helpers.go
  vendor/k8s.io/kubernetes/pkg/kubelet/container/helpers_test.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go
  vendor/k8s.io/kubernetes/pkg/kubelet/status/status_manager.go
  vendor/k8s.io/kubernetes/test/e2e/node/BUILD
  vendor/k8s.io/kubernetes/test/e2e/node/pods.go
Due: ci/prow/gcp-crio

test: Mark marketplace tests as Serial
  test/extended/marketplace/marketplace_diffname.go
  test/extended/marketplace/marketplace_lables.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 1730719: text/extended/builds/cluster-config: Setting Build Defaults (requests/limits) should has effect on build pod
  test/extended/builds/cluster_config.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

add scc forbidden error debug around scl image pod creation
  test/extended/image_ecosystem/scl.go
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem
