Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

add the sig tag
  test/extended/marketplace/marketplace_unlegalyaml.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Go 1.12 requires space-separated tags
  test/extended/conformance-k8s.sh
Due: none

e2e: DC defaults - ignore meta ManagedFields
  test/extended/controller_manager/deploy_defaults.go
Due: none

Add publishing rules for origin-4.5-kubernetes-1.18.0-beta.2
  publishing-kube-rules.yaml
Due: none

Fix nil reference when accessing un-migrated platform status
  test/extended/router/headers.go
  test/extended/router/metrics.go
Due: none

UPSTREAM: 89178: Multi-AZ test should only check nodes the pods are scheduled to
  vendor/k8s.io/kubernetes/test/e2e/scheduling/ubernetes_lite.go
Due: none

UPSTREAM: 88141: Don't try to create VolumeSpec immediately after underlying PVC is being deleted
  vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
Due: ci/prow/gcp-crio

UPSTREAM 88911: /readyz should start returning failure on shutdown initiation
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Due: none

UPSTREAM 89164: Fix data race issue in unit test
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
Due: none

DO NOT MERGE: Add debugging output and wait for nodes ready
  vendor/k8s.io/kubernetes/test/e2e/scheduling/ubernetes_lite.go
Due: none

test: Add a test that verifies no terminating namespaces or pods
  test/extended/operators/cluster.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

update the generated annotations
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

modify annotation
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add publishing rules for origin-4.5-kubernetes-1.18.0-rc.1
  publishing-kube-rules.yaml
Due: none

publishing-kube-rules: remove gone node-api in 1.18 rc1
  publishing-kube-rules.yaml
Due: none

Fix another nil reference when accessing un-migrated platform status
  test/extended/router/headers.go
Due: none

fix test flake in olm tests
  test/extended/operators/olm.go
Due: none

UPSTREAM: <carry>: Change podantiaffinity term weight in e2e
  vendor/k8s.io/kubernetes/test/e2e/scheduling/priorities.go
Due: none

check the retry logical for opsrc and csc
  test/extended/marketplace/marketplace_retrylogical.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Use nodejs latest tag
  examples/jenkins/pipeline/samplepipeline.yaml
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

update testdata
  test/extended/testdata/bindata.go
Due: none

modify annotations
  test/extended/util/annotate/generated/zz_generated.annotations.go
  vendor/k8s.io/kubernetes/test/e2e/generated/bindata.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

modify
  test/extended/marketplace/marketplace_retrylogical.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

modify bindata
  vendor/k8s.io/kubernetes/test/e2e/generated/bindata.go
Due: none

modify annota
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

fix test flake in operators test
  test/extended/operators/olm.go
Due: none

test: Exclude a specific set of named pods from failure detection
  test/extended/operators/cluster.go
Due: none

test: Remove debug statements
  test/extended/util/disruption/disruption.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: Give disruption tests more descriptive names
  test/e2e/upgrade/service/service.go
  test/extended/util/disruption/controlplane/controlplane.go
  test/extended/util/disruption/disruption.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: Allow sequential upgrades to be passed to upgrade test
  test/e2e/upgrade/upgrade.go
Due: none

test: Upgrade test should tolerate longer intervals
  cmd/openshift-tests/upgrade.go
  test/e2e/upgrade/service/service.go
  test/extended/util/disruption/controlplane/controlplane.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: Track frontend disruption during upgrades
  test/e2e/upgrade/upgrade.go
  test/extended/util/disruption/frontends/frontends.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: Set upgrade service LB timeouts for graceful shutdown
  test/e2e/upgrade/service/service.go
Due: none

test: Allow more control plane disruption for multi upgrade releases
  test/extended/util/disruption/controlplane/controlplane.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: Standardize disruption reporting
  test/e2e/upgrade/service/service.go
  test/extended/util/disruption/controlplane/controlplane.go
  test/extended/util/disruption/disruption.go
  test/extended/util/disruption/frontends/frontends.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
