Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-builds-cluster-profile
      - --target=e2e-aws-builds
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-registry-cluster-profile
      - --target=e2e-aws-image-registry
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

admin/release/new: always consider all mappings
  vendor/github.com/openshift/oc/pkg/cli/admin/release/new.go
Due: none

TestOAuthServerHeaders
  test/extended/oauth/server_headers.go
  test/integration/oauth_server_headers_test.go
Due: none

Use linearizable etcd Get
  test/extended/etcd/etcd_storage_path.go
Due: none

remove the long names test
  test/extended/builds/long_names.go
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

UPSTREAM: 75805: Expose nfs volume stat metrics
  vendor/k8s.io/kubernetes/pkg/volume/nfs/nfs.go
Due: none

remove e2e-test deps on oc
  test/extended/images/append.go
  test/extended/images/imagestream.go
  test/extended/images/oc_copy.go
  test/extended/images/prune.go
  test/extended/operators/images.go
  test/extended/operators/oc_copy.go
  test/extended/router/oc_copy.go
  test/extended/router/scoped.go
  test/extended/util/client.go
  test/extended/util/oauthserver/helpers.go
  test/extended/util/oauthserver/oauthserver.go
  test/extended/util/oauthserver/tokencmd/basicauth.go
  test/extended/util/oauthserver/tokencmd/basicauth_test.go
  test/extended/util/oauthserver/tokencmd/multi.go
  test/extended/util/oauthserver/tokencmd/negotiate.go
  test/extended/util/oauthserver/tokencmd/negotiate_helpers.go
  test/extended/util/oauthserver/tokencmd/negotiator_gssapi_unsupported.go
  test/extended/util/oauthserver/tokencmd/negotiator_sspi_unsupported.go
  test/extended/util/oauthserver/tokencmd/request_token.go
  test/extended/util/oauthserver/tokencmd/request_token_test.go
  test/extended/util/oc_copy.go
  test/extended/util/test.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry, ci/prow/cross

generated
  test/extended/testdata/bindata.go
Due: none

bindata: restore examples needed by extended tests
  hack/update-generated-bindata.sh
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: <drop>: skip flaky scheduler tests
  vendor/k8s.io/kubernetes/test/e2e/scheduling/preemption.go
Due: none

remove internal api usage from test
  test/extended/etcd/etcd_storage_path.go
Due: none

snip use of sti
  test/extended/builds/s2i_root.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

Re-enable multi-node PV e2e test
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Disable broken test: DISABLEDTestRegistryClientAPIv1
  test/integration/dockerregistryclient_test.go
Due: none

Use openshift controller image from dockerhub in integration
  test/integration/dockerregistryclient_test.go
Due: none

Bump kubernetes-client version (openshift-client) to 4.3 to support OpenShift 4.2. /oapi endpoint deprecation
  examples/jenkins/pipeline/bluegreen-pipeline.yaml
  examples/jenkins/pipeline/samplepipeline.yaml
Due: ci/prow/e2e-aws-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem

run the e2e-cmd pods longer
  test/extended/cmd/cmd.go
Due: none

skip test/cmd/basicresources so we can get the rest enabled
  test/extended/cmd/cmd.go
Due: none

UPSTREAM: <carry>: run ResourceQuota before ClusterResourceQuota
  pkg/quota/admission/clusterresourcequota/admission.go
Due: none

Address reviewers changes and add e2e test
  test/extended/authorization/tolerations_restriction.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/scheduler/podtolerationsrestriction/admission.go
Due: none

Delete cmd.go
  test/extended/cmd/cmd.go
Due: none

UPSTREAM: 79851: Fix nil pointer dereference error in volume_stat_calculator
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_metrics.go
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_metrics_test.go
  vendor/k8s.io/kubernetes/pkg/volume/metrics_errors.go
Due: none

UPSTREAM: 78222: Fix nil pointer dereference in metrics value calculator
  vendor/k8s.io/kubernetes/pkg/kubelet/server/stats/volume_stat_calculator.go
Due: ci/prow/gcp-crio

UPSTREAM: 80518: Fix detachment of deleted volumes
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/openstack/openstack_volumes.go
Due: none

removes the depth flag while cloning the repo
  .travis.yml
Due: none

Port the TestOAuthBasicAuthPassword integration to e2e test
  test/extended/oauth/basicauth.go
  test/extended/testdata/bindata.go
  test/extended/testdata/oauth_idp/basic-auth-server.yaml
Due: none

UPSTREAM: <carry>: run ResourceQuota before ClusterResourceQuota
  pkg/cmd/openshift-kube-apiserver/kubeadmission/register.go
Due: none

e2e oauthserver: label all resources related to the server
  test/extended/util/oauthserver/oauthserver.go
Due: ci/prow/e2e-aws-builds

wip
  test/extended/oauth/basicauth.go
  test/extended/testdata/bindata.go
  test/extended/testdata/oauth_idp/basic-auth-server.yaml
Due: none

Drop "hypershift openshift-network-controller" support
  cmd/hypershift/main.go
Due: none

proxy: consolidate ServicesHandler/EndpointsHandler into ProxyProvider
  vendor/k8s.io/kubernetes/cmd/kube-proxy/app/server.go
  vendor/k8s.io/kubernetes/cmd/kube-proxy/app/server_others.go
  vendor/k8s.io/kubernetes/cmd/kube-proxy/app/server_windows.go
  vendor/k8s.io/kubernetes/pkg/kubemark/BUILD
  vendor/k8s.io/kubernetes/pkg/kubemark/hollow_proxy.go
  vendor/k8s.io/kubernetes/pkg/proxy/BUILD
  vendor/k8s.io/kubernetes/pkg/proxy/types.go
  vendor/k8s.io/kubernetes/pkg/proxy/userspace/BUILD
  vendor/k8s.io/kubernetes/pkg/proxy/userspace/loadbalancer.go
  vendor/k8s.io/kubernetes/pkg/proxy/userspace/proxier.go
  vendor/k8s.io/kubernetes/pkg/proxy/winuserspace/BUILD
  vendor/k8s.io/kubernetes/pkg/proxy/winuserspace/loadbalancer.go
  vendor/k8s.io/kubernetes/pkg/proxy/winuserspace/proxier.go
Due: ci/prow/artifacts, ci/prow/cross

remove images/kube-proxy
  images/kube-proxy/Dockerfile.rhel
  images/kube-proxy/OWNERS
  images/kube-proxy/scripts/ip6tables
  images/kube-proxy/scripts/ip6tables-restore
  images/kube-proxy/scripts/ip6tables-save
  images/kube-proxy/scripts/iptables
  images/kube-proxy/scripts/iptables-restore
  images/kube-proxy/scripts/iptables-save
Due: none

Automatic commit of package [atomic-openshift] release [3.9.91-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

add e2e testcase for logging
  test/extended/clusterlogging/deploy_logging.go
  test/extended/clusterlogging/logging_utils.go
  test/extended/include.go
  test/extended/testdata/bindata.go
  test/extended/testdata/clusterlogging/deployment/01-clo-project.yaml
  test/extended/testdata/clusterlogging/deployment/01-eo-project.yaml
  test/extended/testdata/clusterlogging/deployment/02-clo-og.yaml
  test/extended/testdata/clusterlogging/deployment/02-eo-og.yaml
  test/extended/testdata/clusterlogging/deployment/04-clo-sub.yaml
  test/extended/testdata/clusterlogging/deployment/04-eo-rbac.yaml
  test/extended/testdata/clusterlogging/deployment/05-eo-sub.yaml
  test/extended/testdata/clusterlogging/instances/example.yaml
Due: none

Add custom build test
  test/extended/builds/custom_build.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/custom-build/Dockerfile
  test/extended/testdata/builds/custom-build/Dockerfile.sample
  test/extended/testdata/builds/custom-build/build.sh
  test/extended/testdata/builds/test-custom-build.yaml
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

dummy change
  docs/builds.md
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
