Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/cmd/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)

oc: fix bootstrap surfacing errors
  pkg/oc/clusterup/up.go
Due: none

use bootkube to bootstrap the kube control plane
  docs/man/man1/.files_generated_oc
  hack/import-restrictions.json
  pkg/oc/cli/cluster/cluster.go
  pkg/oc/cli/project/project.go
  pkg/oc/clusterup/componentinstall/master_config.go
  pkg/oc/clusterup/componentinstall/node_config.go
  pkg/oc/clusterup/coreinstall/bootkube/run_bootkube.go
  pkg/oc/clusterup/coreinstall/etcd/run_etcd.go
  pkg/oc/clusterup/coreinstall/kubeapiserver/config.go
  pkg/oc/clusterup/coreinstall/kubeapiserver/openshift_apiserver.go
  pkg/oc/clusterup/coreinstall/kubeapiserver/openshift_controller.go
  pkg/oc/clusterup/coreinstall/kubelet/config.go
  pkg/oc/clusterup/coreinstall/kubelet/dns.go
  pkg/oc/clusterup/coreinstall/kubelet/flags.go
  pkg/oc/clusterup/coreinstall/kubelet/run_kubelet.go
  pkg/oc/clusterup/coreinstall/staticpods/load.go
  pkg/oc/clusterup/coreinstall/tmpformac/copy.go
  pkg/oc/clusterup/coreinstall/tmpformac/tmp_for_mac_snowflakes.go
  pkg/oc/clusterup/docker/dockerhelper/filetransfer.go
  pkg/oc/clusterup/docker/errors/docker.go
  pkg/oc/clusterup/docker/exec/doc.go
  pkg/oc/clusterup/docker/exec/errors.go
  pkg/oc/clusterup/docker/exec/exec.go
  pkg/oc/clusterup/docker/openshift/helper.go
  pkg/oc/clusterup/docker/openshift/login.go
  pkg/oc/clusterup/docker/openshift/project.go
  pkg/oc/clusterup/run_self_hosted.go
  pkg/oc/clusterup/signing_secret.go
  pkg/oc/clusterup/status.go
  pkg/oc/clusterup/up.go
  pkg/template/templateprocessing/template.go
Due: ci/prow/cross

cluster-up: use node image for kube-proxy
  pkg/oc/clusterup/coreinstall/bootkube/run_bootkube.go
  pkg/oc/clusterup/run_self_hosted.go
  pkg/oc/clusterup/up.go
Due: none

cluster-up: fix checkpointer /etc/kubernetes mount path
  pkg/oc/clusterup/coreinstall/bootkube/run_bootkube.go
Due: none

remove dead test code
  hack/test-end-to-end-docker.sh
Due: ci/prow/cross

remove the web console proxy from hypershift
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch_handlerchain.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/service_proxy_handler.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/webconsole_proxy.go
  pkg/configconversion/kubecontrolplane_refs.go
  pkg/configconversion/legacyconfig_conversion.go
Due: none

UPSTREAM: 66617: Do not set cgroup parent when --cgroups-per-qos is disabled
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/pod_container_manager_linux.go
Due: ci/prow/gcp-crio, ci/prow/cross

fix jsonpatch level so we can bump again
  glide.yaml
Due: none

bump
  glide.lock
  vendor/github.com/openshift/api/kubecontrolplane/v1/generated.pb.go
  vendor/github.com/openshift/api/kubecontrolplane/v1/generated.proto
  vendor/github.com/openshift/api/kubecontrolplane/v1/types.go
  vendor/github.com/openshift/api/kubecontrolplane/v1/types_swagger_doc_generated.go
Due: none

generated
  api/protobuf-spec/github_com_openshift_api_kubecontrolplane_v1.proto
  pkg/openapi/zz_generated.openapi.go
Due: none

Support setting storageClassName: "" when "" is specified by claim-class
  pkg/oc/cli/set/volume.go
  pkg/oc/cli/set/volume_test.go
Due: none

install kubectl along with oc in rpm spec
  origin.spec
Due: none

UPSTREAM: <carry>: simplify kube-controller-manager patches
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/patch.go
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/patch_recycler.go
Due: none

add default values for kubeapiserverconfig to make it easier to use
  install/etcd/install.yaml
  pkg/cmd/openshift-kube-apiserver/cmd.go
  pkg/cmd/openshift-kube-apiserver/configdefault/config_default.go
  pkg/cmd/openshift-kube-apiserver/configdefault/kubecontrolplane_default.go
  pkg/oc/clusterup/manifests/bindata.go
  pkg/oc/clusterup/run_self_hosted.go
  test/extended/testdata/bindata.go
Due: none

externalize admin node commands
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
  pkg/oc/cli/admin/node/evacuate.go
  pkg/oc/cli/admin/node/listpods.go
  pkg/oc/cli/admin/node/node.go
  pkg/oc/cli/admin/node/node_options.go
  pkg/oc/cli/admin/node/schedulable.go
  test/cmd/admin.sh
Due: none

bump(*)
  glide.lock
  vendor/github.com/openshift/library-go/pkg/image/internal/digest/digest.go
  vendor/github.com/openshift/library-go/pkg/image/internal/digest/digester.go
  vendor/github.com/openshift/library-go/pkg/image/internal/digest/doc.go
  vendor/github.com/openshift/library-go/pkg/image/internal/reference/doc.go
  vendor/github.com/openshift/library-go/pkg/image/internal/reference/reference.go
  vendor/github.com/openshift/library-go/pkg/image/internal/reference/regexp.go
  vendor/github.com/openshift/library-go/pkg/image/reference/reference.go
  vendor/github.com/openshift/library-go/pkg/image/reference/reference_test.go
Due: none

Added OPENSHIFT-ADMIN-INPUT-RULES chain to allow administrator override rules
  pkg/network/node/iptables.go
Due: none

Correct a failure to replace strings
  pkg/oc/cli/admin/release/image_mapper.go
  pkg/oc/cli/admin/release/image_mapper_test.go
  pkg/oc/cli/admin/release/new.go
Due: none

Add stress test for logs following a pod deleted right after it finishes
  test/extended/cli/logs.go
  test/extended/testdata/bindata.go
  test/extended/testdata/cli/echo-pod.yaml
  test/extended/testdata/deployments/custom-deployment.yaml
Due: none

hack: copy oc to kubectl
  hack/lib/build/binaries.sh
Due: ci/prow/cross

admission: split plugins into mutating, validating and mutating+validating
  pkg/admission/namespaceconditions/labelcondition.go
  pkg/admission/namespaceconditions/namecondition.go
  pkg/authorization/apiserver/admission/restrictusers/restrictusers.go
  pkg/authorization/apiserver/admission/restrictusers/restrictusers_test.go
  pkg/build/apiserver/admission/jenkinsbootstrapper/admission.go
  pkg/build/apiserver/admission/jenkinsbootstrapper/admission_test.go
  pkg/build/apiserver/admission/secretinjector/admission.go
  pkg/build/apiserver/admission/strategyrestrictions/admission.go
  pkg/build/apiserver/admission/strategyrestrictions/admission_test.go
  pkg/image/apiserver/admission/imagepolicy/imagepolicy.go
  pkg/image/apiserver/admission/limitrange/admission.go
  pkg/network/apiserver/admission/ingress_admission.go
  pkg/network/apiserver/admission/ingress_admission_test.go
  pkg/project/apiserver/admission/nodeenv/admission.go
  pkg/project/apiserver/admission/nodeenv/admission_test.go
  pkg/project/apiserver/admission/requestlimit/admission.go
  pkg/project/apiserver/admission/requestlimit/admission_test.go
  pkg/quota/apiserver/admission/clusterresourceoverride/admission.go
  pkg/quota/apiserver/admission/clusterresourceoverride/admission_test.go
  pkg/quota/apiserver/admission/clusterresourcequota/admission.go
  pkg/quota/apiserver/admission/runonceduration/admission_test.go
  pkg/scheduler/admission/podnodeconstraints/admission.go
  pkg/scheduler/admission/podnodeconstraints/admission_test.go
  pkg/security/apiserver/admission/sccadmission/admission.go
  pkg/security/apiserver/admission/sccadmission/admission_test.go
  pkg/security/apiserver/admission/sccadmission/scc_exec.go
  pkg/security/apiserver/admission/sccadmission/scc_exec_test.go
  pkg/service/admission/externalipranger/externalip_admission.go
  pkg/service/admission/externalipranger/externalip_admission_test.go
  pkg/service/admission/restrictedendpoints/endpoint_admission.go
Due: ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_registry

Add SCCExecRestrictions integration test
  test/integration/scc_test.go
Due: none

integration: fix build admission test to handle update conflicts
  test/integration/build_admission_test.go
Due: none

SCCExecRestrictions: call SCC.Admit for create test as chosen SCC may change
  pkg/security/apiserver/admission/sccadmission/scc_exec.go
Due: none

Aufs storage driver may lead bugs
  docs/cluster_up_down.md
Due: none

hack: arrays in bash need to have their own line
  hack/build-cross.sh
Due: ci/prow/cross

Add more logging to deployment tests and waiting for tests to set up
  test/extended/deployments/deployments.go
  test/extended/deployments/util.go
  test/extended/testdata/bindata.go
  test/extended/testdata/deployments/custom-deployment.yaml
  test/extended/testdata/deployments/test-deployment-test.yaml
Due: none

cluster-up: fix checkpointer by using expected static pod manifest dir
  pkg/oc/clusterup/coreinstall/bootkube/run_bootkube.go
  pkg/oc/clusterup/run_self_hosted.go
Due: none

cluster-up: shutdown all cluster-up containers
  pkg/oc/clusterup/coreinstall/bootkube/run_bootkube.go
  pkg/oc/clusterup/coreinstall/etcd/run_etcd.go
  pkg/oc/clusterup/coreinstall/kubelet/run_kubelet.go
  pkg/oc/clusterup/docker/openshift/helper.go
  pkg/oc/clusterup/down.go
  pkg/oc/clusterup/up.go
Due: none

Improve egress IP node-offline-tracking error checking
  pkg/network/common/egressip.go
Due: none

admission: enable webhooks by default
  pkg/cmd/server/origin/admission/chain_builder.go
  pkg/cmd/server/origin/admission/register.go
Due: none

UPSTREAM: 68023: Replace git volume with configmap in emptydir wrapper conflict test
  vendor/k8s.io/kubernetes/test/e2e/storage/empty_dir_wrapper.go
Due: none

remove origin dependences from pkg/build/builder
  pkg/build/builder/cmd/builder.go
  pkg/build/builder/cmd/dockercfg/cfg.go
  pkg/build/builder/cmd/scmauth/cacert.go
  pkg/build/builder/cmd/scmauth/gitconfig.go
  pkg/build/builder/cmd/scmauth/password.go
  pkg/build/builder/cmd/scmauth/scmauth_test.go
  pkg/build/builder/cmd/scmauth/scmauths.go
  pkg/build/builder/cmd/scmauth/sshkey.go
  pkg/build/builder/cmd/scmauth/util.go
  pkg/build/builder/common.go
  pkg/build/builder/docker.go
  pkg/build/builder/dockerutil.go
  pkg/build/builder/source.go
  pkg/build/builder/sti.go
  pkg/build/builder/timing/context.go
  pkg/build/builder/util.go
  pkg/build/builder/util/glog/glog.go
  pkg/build/util/util.go
Due: ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds

DO NOT MERGE - Test bumping release tag
  .release
Due: none

Debug output in `release new` is incorrect
  pkg/oc/cli/admin/release/new.go
Due: none
