Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

OCPBUGS-33378: Verify Build Webhooks on Upgrade
  go.mod
  pkg/clusterversion/doc.go
  pkg/clusterversion/upgrade.go
  pkg/clusterversion/upgrade_test.go
  test/extended/builds/webhook.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Reapply "Merge pull request #28750 from adambkaplan/unauthenticated-webhook-bc"
  test/extended/builds/start.go
  test/extended/builds/webhook.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Revise upgrade window logic to catch all cases; update unit tests
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators_test.go
Due: none

hs, kubevirt: Wait node readiness before migration
  test/extended/kubevirt/migration.go
  test/extended/kubevirt/util.go
Due: none

USHIFT-3142: Automatically exclude FeatureGate tagged tests
  pkg/clioptions/suiteselection/feature_filter.go
  pkg/clioptions/suiteselection/suite_flags.go
Due: none

[release-4.14] OCPBUGS-33367: monitor test fix to wait before connecting to a non-existent dns on PowerVS and IBMCloud platforms #28775 fix
  pkg/monitortests/network/disruptionserviceloadbalancer/monitortest.go
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

[release-4.15] OCPBUGS-33368: monitor test fix to wait before connecting to a non-existent dns on PowerVS and IBMCloud platforms #28776 fix
  pkg/monitortests/network/disruptionserviceloadbalancer/monitortest.go
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

add logrus to release-4.15 patch
  pkg/monitortests/network/disruptionserviceloadbalancer/monitortest.go
Due: none

add logrus to release-4.14 patch
  pkg/monitortests/network/disruptionserviceloadbalancer/monitortest.go
Due: none

NO-JIRA: drop ocp-storage exceptions for termination policy
  pkg/monitortests/clusterversionoperator/terminationmessagepolicy/monitortest.go
Due: none

WIP : fix okd-scos test image build
  images/tests/Dockerfile.rhel
Due: none

Add images coming in 1.30
  pkg/cmd/openshift-tests/images/images_command.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

React to k8s changes
  pkg/monitortests/network/disruptionpodnetwork/pod-network-target-deployment.yaml
  test/extended/router/config_manager.go
  test/extended/router/weighted.go
  test/extended/testdata/cmd/test/cmd/testdata/hello-openshift/hello-pod.json
  test/extended/testdata/cmd/test/cmd/testdata/templateinstance_objectkinds.yaml
  test/extended/testdata/idling-echo-server-rc.yaml
  test/extended/testdata/idling-echo-server.yaml
  test/extended/testdata/router/ingress.yaml
  test/extended/testdata/router/router-common.yaml
  test/extended/testdata/router/router-metrics.yaml
  test/extended/testdata/templates/templateinstance_badobject.yaml
  test/extended/testdata/templates/templateinstance_objectkinds.yaml
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

make update
  test/extended/testdata/bindata.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Censor private key from pod dump logs
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Pass namespace in function checkHostnameReady for monitortest
  pkg/monitortests/network/disruptionserviceloadbalancer/monitortest.go
Due: none

Drop Cluster Infra related exceptions from termination message policy tests
  pkg/monitortests/clusterversionoperator/terminationmessagepolicy/monitortest.go
Due: none

USHIFT-3143: Skip termination-message-policy monitor test
  pkg/monitortests/clusterversionoperator/terminationmessagepolicy/monitortest.go
Due: none

USHIFT-3143: Skip metrics monitor disruption test
  pkg/monitortests/monitoring/disruptionmetricsapi/monitortest.go
Due: none

skip etcd test for hardware speed on sno
  test/extended/etcd/hardware_speed.go
Due: none

fix: update test to use IsSingleNode func
  test/extended/operators/server_side_apply_examples.go
Due: none

bump openshift/api
  go.mod
  go.sum
  vendor/github.com/openshift/api/Makefile
  vendor/github.com/openshift/api/config/v1/feature_gates.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/operator/v1/types_csi_cluster_driver.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: ci/prow/cross, ci/prow/artifacts

add test for vsphere driver snapshot configuration
  test/extended/storage/driver_configuration.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

CFE-853: e2e test case for DNSNameResolver and EgressFirewall integration
  test/extended/networking/egress_firewall.go
  test/extended/testdata/bindata.go
  test/extended/testdata/egress-firewall/ovnk-egressfirewall-wildcard-test.yaml
Due: none

make update
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

fix make update
  test/extended/networking/egress_firewall.go
Due: none

update backlog after #29794 for release-4.14
  pkg/monitortests/network/disruptionserviceloadbalancer/monitortest.go
Due: none

update backport after #29794 for release-4.15
  pkg/monitortests/network/disruptionserviceloadbalancer/monitortest.go
Due: none

oc template - set NS PSP level=privileged (hostPorts)
  test/extended/cli/template.go
Due: none

Fix regexes for now quoted podUID in system journal log parsing
  pkg/monitortests/node/kubeletlogcollector/node.go
  pkg/monitortests/node/kubeletlogcollector/node_test.go
Due: none

CFE-853: e2e test case for DNSNameResolver and EgressFirewall integration
  test/extended/networking/egress_firewall.go
  test/extended/testdata/bindata.go
  test/extended/testdata/egress-firewall/ovnk-egressfirewall-wildcard-test.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Use PollUntilContextTimeout instead of deprecated Poll
  pkg/monitortests/network/disruptionserviceloadbalancer/monitortest.go
Due: none

OCPBUGS-18534: monitor test fix to wait before connecting to a non-existent dns
  pkg/monitortests/network/disruptionserviceloadbalancer/monitortest.go
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

quota.sh: OCP 4.16 no longer creates legacy API tokens
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/quota.sh
Due: none
