Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
      - --template=/usr/local/e2e-aws-image-ecosystem
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

Bug 1564849 - Fix oc command suggestions in new-app
  pkg/oc/lib/newapp/cmd/describe.go
Due: none

Tolerate error messages from git 1.8.1 in extract
  pkg/oc/cli/admin/release/extract.go
  pkg/oc/cli/admin/release/git.go
Due: none

Write image-references to disk after all metadata is fetched
  pkg/oc/cli/admin/release/image_mapper.go
  pkg/oc/cli/admin/release/new.go
Due: none

Add example 'oc rsh' command to reduce further false issue reports like #9602 and #18696
  pkg/oc/cli/rsh/rsh.go
Due: none

e2e: fail if pods have limits on master nodes
  test/extended/operators/resources.go
Due: none

removed reference to Trello in link to Road Map
  README.md
Due: none

UPSTREAM: 74804: apiextensions: add nullable support to OpenAPI v3 validations
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/fuzzer/fuzzer.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/types_jsonschema.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/types_jsonschema.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/zz_generated.conversion.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/validation.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/validation/validation_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/conversion.go
Due: none

Update openapi spec
  pkg/openapi/zz_generated.openapi.go
Due: none

Split dynamic cert handling apart from config
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/certs/dynamic.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/config.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/config_selfclient.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/dynamic_certificate_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/serving.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/serving_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/serving_with_loopback.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/testing/certs.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Due: none

UPSTREAM: 72245: Add AWS Custom Endpoint capability
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/aws/BUILD
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/aws/aws.go
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/aws/aws_test.go
Due: none

explain UPSTREAM: 00000:
  HACKING.md
Due: none

UPSTREAM: 00000: Split dynamic cert handling apart from config
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/certs/dynamic.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/config.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/config_selfclient.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/dynamic_certificate_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/serving.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/serving_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/serving_with_loopback.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/testing/certs.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Due: none

pkg/oc/cli/admin/release: Support 'Bug X, Y, Z: ...' pull-request subjects
  pkg/oc/cli/admin/release/git.go
  pkg/oc/cli/admin/release/info.go
  pkg/oc/cli/admin/release/issue.go
Due: none

UPSTREAM: 73469: Added windows executable extensions to Kubectl plugins
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/plugin.go
Due: none

UPSTREAM: 73599: Add ps1 to windows executable extensions
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/plugin.go
Due: none

UPSTREAM: 74755: Revert kubelet to default to ttl cache secret/configmap
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/config/testdata/conversion/master/internal.yaml
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/config/testdata/conversion/master/v1alpha2.yaml
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/config/testdata/conversion/master/v1alpha3.yaml
  vendor/k8s.io/kubernetes/cmd/kubeadm/app/util/config/testdata/defaulting/master/defaulted.yaml
  vendor/k8s.io/kubernetes/pkg/kubelet/apis/config/v1beta1/defaults.go
Due: ci/prow/gcp-crio

TEMP: Disabling build cluster config tests
  test/extended/builds/cluster_config.go
Due: ci/openshift-jenkins/extended_builds

UPSTREAM: 00000: clean up dynamic certs to enable client-ca reloading
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/certs/clientca.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/certs/serving.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/config.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/serving_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/secure_serving.go
Due: none

Fix bug 1278683 for 3.7
  pkg/oc/cli/describe/describer.go
Due: none

release: Add newlines to descriptions in changelog
  pkg/oc/cli/admin/release/info.go
Due: none

Fix bug 1278683 for 3.9
  pkg/oc/cli/describe/describer.go
Due: none

openshift-apiserver: set openshift apiserver config defaults for legacy config
  pkg/cmd/openshift-apiserver/cmd.go
Due: none

UPSTREAM: 74956: make delegating authorization use protobuf client
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

read cluster operators
  test/extended/util/cvo.go
Due: none

Wait for cluster to stabilize for cluster image config tests
  test/extended/builds/cluster_config.go
  test/extended/util/cvo.go
Due: ci/openshift-jenkins/extended_builds

enable test
  test/extended/builds/cluster_config.go
Due: ci/openshift-jenkins/extended_builds

dumb check to ensure cluster is stable
  test/extended/util/cvo.go
Due: none

re-enable tests
  test/extended/builds/cluster_config.go
Due: ci/openshift-jenkins/extended_builds

handle timeouts
  test/extended/util/cvo.go
Due: none

support dynamic cert reloading
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch_authenticator.go
Due: none

UPSTREAM: 74959: track poststarthook registration stacks for debugging
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/hooks.go
Due: none

UPSTREAM: 00000: add dynamic client cert reloading
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go
  vendor/k8s.io/kubernetes/cmd/kubelet/app/auth.go
  vendor/k8s.io/kubernetes/pkg/kubeapiserver/authenticator/config.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/authentication/authenticatorfactory/delegating.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/authentication/request/headerrequest/requestheader.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/config.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/authentication.go
Due: none

Add adambkaplan as DevEx approver
  examples/db-templates/OWNERS
  examples/hello-openshift/OWNERS
  examples/image-streams/OWNERS
  examples/quickstarts/OWNERS
  examples/sample-app/OWNERS
  pkg/admission/customresourcevalidation/image/OWNERS
  pkg/api/OWNERS
  pkg/build/OWNERS
  pkg/image/OWNERS
  pkg/oc/cli/admin/prune/imageprune/OWNERS
  pkg/oc/lib/newapp/OWNERS
  pkg/openapi/OWNERS
  pkg/template/OWNERS
  test/extended/OWNERS
  tools/buildanalyzer/OWNERS
Due: ci/prow/e2e-aws-image-ecosystem, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry

handle api server bounce/rollout
  test/extended/util/cvo.go
Due: none

UPSTREAM: 74222: kubelet: return mirror pod in GetActivePods()
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go
  vendor/k8s.io/kubernetes/test/e2e_node/BUILD
  vendor/k8s.io/kubernetes/test/e2e_node/system_node_critical_test.go
Due: ci/prow/gcp-crio

UPSTREAM: 00000: dynamically reload aggregator cert
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/aggregator.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/certs/single_certkey_pair.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiservice_controller.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/cmd/server/start.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller_test.go
Due: none

UPSTREAM: 00000: cert comments
  vendor/k8s.io/kubernetes/pkg/kubeapiserver/authenticator/config.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/certs/serving.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/config.go
Due: none

UPSTREAM: 73758: kubelet: set low oom_score_adj for containers in critical pods
  vendor/k8s.io/kubernetes/pkg/kubelet/qos/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/qos/policy.go
  vendor/k8s.io/kubernetes/pkg/kubelet/qos/policy_test.go
Due: ci/prow/gcp-crio

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
