Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

Updates nodejs & php version templates
  test/extended/testdata/bindata.go
  test/extended/testdata/cluster/quickstarts/cakephp-mysql.json
  test/extended/testdata/cluster/quickstarts/nodejs-mongodb.json
Due: none

Adjust to use new 3.11 rpm proxies
  images/router/haproxy/Dockerfile
  images/router/haproxy/rhel-server-ose.repo
Due: none

Bug 1882556: Access git over https for tests
  examples/sample-app/github-webhook-example.json
  test/extended/builds/clone_git_protocol.go
  test/extended/builds/controllers.go
  test/extended/images/imagechange_buildtrigger.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/test-build-revision.json
  test/extended/testdata/builds/test-build.yaml
  test/extended/testdata/builds/webhook/generic/testdata/push-generic-envs.json
  test/extended/testdata/builds/webhook/generic/testdata/push-generic-envs.yaml
  test/extended/testdata/builds/webhook/generic/testdata/push-generic.json
  test/extended/testdata/builds/webhook/github/testdata/pushevent-not-master-branch.json
  test/extended/testdata/builds/webhook/github/testdata/pushevent.json
  test/extended/testdata/cmd/test/cmd/env.sh
  test/extended/testdata/cmd/test/cmd/testdata/test-bc.yaml
  test/extended/testdata/cmd/test/cmd/testdata/test-buildcli.json
  test/extended/testdata/long_names/fixture.json
  test/extended/testdata/run_policy/parallel-bc.yaml
  test/extended/testdata/run_policy/serial-bc.yaml
  test/extended/testdata/run_policy/serial-latest-only-bc.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/proxy.go
  test/integration/testdata/test-buildcli-beta2.json
  test/integration/testdata/test-buildcli.json
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

move cakephp e2e skip down a level to make openshift-tests happy
  test/extended/image_ecosystem/s2i_php.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

make update
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test "openshift.io/imagestreams" count quota
  test/extended/quota/resourcequota.go
Due: none

generated
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "Merge pull request #24958 from jkroepke/issue-24825"
  images/router/haproxy/Dockerfile
  images/router/haproxy/RPM-GPG-KEY-CentOS-SIG-PaaS
  images/router/haproxy/centos-openshift-origin.repo
Due: none

Add a route annotation for Samesite https://issues.redhat.com/browse/RFE-600 Bug 1879445 - SameSite hardening breaks sticky load balancing
  images/router/haproxy/conf/haproxy-config.template
  pkg/router/template/configmanager/haproxy/manager.go
Due: none

disabling cakephp until upstream problem addressed: https://bugzilla.redhat.com/show_bug.cgi?id=1891989
  test/extended/templates/templateinstance_readiness.go
Due: none

make update-bindata
  test/extended/testdata/bindata.go
Due: none

dbg pr
  README.md
Due: none

add cakephp back in with upstream fix landing
  test/extended/image_ecosystem/s2i_php.go
  test/extended/image_ecosystem/sample_repos.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

Export etcd storage data configuration for reuse by apply testing
  test/extended/etcd/etcd_storage_path.go
Due: none

Update api references for etcd storage path data
  test/extended/etcd/etcd_storage_path.go
Due: none

Ensure an etcd storage path stub that can pass validation for apply
  test/extended/etcd/etcd_storage_path.go
Due: none

Ensure CLI.SetupProject returns the name of the project it creates
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Remove CSI driver installation from openshift-tests
  cmd/openshift-tests/csi.go
  cmd/openshift-tests/e2e.go
  test/extended/csi/install.go
  test/extended/testdata/bindata.go
  test/extended/testdata/csi/OWNERS
  test/extended/testdata/csi/README.md
  test/extended/testdata/csi/aws-ebs/install-template.yaml
  test/extended/testdata/csi/aws-ebs/manifest.yaml
  test/extended/testdata/csi/aws-ebs/storageclass.yaml
Due: none

more cakephp disablement as 3.11 needs additional changes
  test/extended/builds/build_pruning.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Start sampling immediately
  pkg/monitor/sampler.go
Due: none

Monitor connectivity to API servers
  pkg/monitor/api.go
  pkg/test/ginkgo/synthentic_tests.go
  test/extended/util/disruption/disruption.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add synthetic failures to stdout
  pkg/test/ginkgo/synthentic_tests.go
Due: none

Change granularity of test monitor to 1s
  pkg/monitor/api.go
Due: none

Add synthetic test duration
  pkg/test/ginkgo/synthentic_tests.go
Due: none

bump(k8s.io/kubernetes)
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/pkg/credentialprovider/config.go
  vendor/k8s.io/kubernetes/pkg/kubelet/time_cache.go
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier.go
  vendor/k8s.io/kubernetes/pkg/volume/fc/fc_util.go
  vendor/k8s.io/kubernetes/pkg/volume/vsphere_volume/attacher.go
  vendor/k8s.io/kubernetes/test/e2e/apps/daemon_set.go
  vendor/k8s.io/kubernetes/test/e2e/e2e.go
  vendor/k8s.io/kubernetes/test/e2e/framework/ingress/ingress_utils.go
  vendor/k8s.io/kubernetes/test/e2e/framework/network/BUILD
  vendor/k8s.io/kubernetes/test/e2e/framework/network/utils.go
  vendor/k8s.io/kubernetes/test/e2e/framework/node/wait.go
  vendor/k8s.io/kubernetes/test/e2e/framework/pod/resource.go
  vendor/k8s.io/kubernetes/test/e2e/framework/pod/wait.go
  vendor/k8s.io/kubernetes/test/e2e/framework/ssh/BUILD
  vendor/k8s.io/kubernetes/test/e2e/framework/ssh/ssh.go
  vendor/k8s.io/kubernetes/test/e2e/framework/util.go
  vendor/k8s.io/kubernetes/test/e2e/scheduling/priorities.go
  vendor/k8s.io/kubernetes/test/e2e/storage/host_path_type.go
  vendor/k8s.io/kubernetes/test/e2e/storage/persistent_volumes-local.go
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/snapshottable.go
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/volume_io.go
  vendor/k8s.io/kubernetes/test/e2e/storage/utils/utils.go
  vendor/k8s.io/kubernetes/test/integration/framework/perf_utils.go
  vendor/k8s.io/kubernetes/test/integration/framework/util.go
  vendor/k8s.io/kubernetes/test/utils/BUILD
  vendor/k8s.io/kubernetes/test/utils/create_resources.go
  vendor/k8s.io/kubernetes/test/utils/delete_resources.go
  vendor/k8s.io/kubernetes/test/utils/update_resources.go
  vendor/k8s.io/legacy-cloud-providers/vsphere/vclib/virtualmachine.go
  vendor/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
  vendor/modules.txt
Due: ci/prow/gcp-crio

move jenkins e2e nfs setup from docker.io to quay.io image
  test/extended/util/nfs.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: <carry>: Bug 1893156: include / prefix in instance ID output
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/openstack/openstack_instances.go
Due: none

BZ 1838751: oVirt, enable Skipped network tests
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 92941: Don't return proxied redirects to the client
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/net/http.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/net/http_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware_test.go
Due: none

images/router: Add ART specific Dockerfile
  images/router/haproxy/Dockerfile.art
Due: none

Adjust wait duration for marketplace test
  test/extended/marketplace/marketplace_lables.go
Due: none

DEBUG: skip etcd location test
  test/extended/etcd/etcd_test_runner.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
