Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

Replace oc --config with oc --kubeconfig
  examples/pruner/README.md
  examples/sample-app/README.md
  hack/lib/cleanup.sh
  hack/lib/start.sh
  test/extended/cmd.sh
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/login.sh
Due: ci/prow/artifacts, ci/prow/cross

wip
  vendor/k8s.io/kubernetes/pkg/registry/core/pod/rest/subresources.go
Due: none

wip
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
Due: none

e2e: node: explicit image assignment for tests
  test/extended/topology_manager/README.md
  test/extended/topology_manager/resourcealign.go
  test/extended/topology_manager/utils.go
Due: none

Fix cluster quota test to tolerate a new default config map in every namespace
  test/extended/quota/clusterquota.go
  test/extended/util/wait.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Tolerate 1.20 error message in test-cmd
  test/extended/testdata/cmd/test/cmd/quota.sh
Due: none

Update generated
  test/extended/testdata/bindata.go
Due: none

Temporary disable tests broken upstream
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 97013: Fix FibreChannel volume plugin corrupting filesystem on detach
  vendor/k8s.io/kubernetes/pkg/volume/fc/attacher.go
  vendor/k8s.io/kubernetes/pkg/volume/fc/fc.go
  vendor/k8s.io/kubernetes/pkg/volume/fc/fc_util.go
Due: none

Flush FibreChannel devices before deleting
  vendor/k8s.io/kubernetes/pkg/volume/fc/fc_test.go
  vendor/k8s.io/kubernetes/pkg/volume/fc/fc_util.go
Due: none

Revert "Temporary disable tests broken upstream"
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

kubelet: remove some redundant iptables option checking
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_network_linux.go
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

kubelet: do dual-stack iptables rules
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_network_linux.go
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

kubelet: allow specifying dual-stack node IPs on bare metal
  vendor/k8s.io/kubernetes/cmd/kubelet/app/options/options.go
  vendor/k8s.io/kubernetes/cmd/kubelet/app/server.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_network_linux.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_node_status.go
  vendor/k8s.io/kubernetes/pkg/kubelet/network/dns/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/network/dns/dns.go
  vendor/k8s.io/kubernetes/pkg/kubelet/nodestatus/setters.go
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

utilnode: fix incorrect documentation about node name vs hostname
  vendor/k8s.io/kubernetes/pkg/util/node/node.go
Due: none

kubelet: Set dual-stack hostNetwork pod IPs on dual-stack nodes
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_getters.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go
  vendor/k8s.io/kubernetes/pkg/kubelet/volume_host.go
  vendor/k8s.io/kubernetes/pkg/util/node/BUILD
  vendor/k8s.io/kubernetes/pkg/util/node/node.go
Due: ci/prow/gcp-crio

kubelet: fix iptables setup under dual-stack
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_network_linux.go
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

Fix panic dereferencing nil
  test/e2e/upgrade/monitor.go
Due: none

clean up remaining build busybox refs after claytons overhaul
  test/extended/testdata/builds/build-pruning/successful-build-config.yaml
  test/extended/testdata/builds/valuefrom/failed-docker-build-value-from-config.yaml
  test/extended/testdata/builds/valuefrom/successful-docker-build-value-from-config.yaml
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Add path based route tests
  test/extended/include.go
  test/extended/routes/paths.go
  test/extended/util/wait.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Update generated
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Enable previously broken router path tests
  test/extended/routes/paths.go
Due: none

make update output
  test/extended/testdata/bindata.go
Due: none

Fix setting dockerImageLayers for test images
  test/extended/testdata/cmd/test/cmd/testdata/mixed-api-versions.yaml
  test/extended/testdata/cmd/test/cmd/testdata/test-image.json
  test/extended/testdata/image/test-image.json
  test/extended/testdata/stable-busybox.yaml
Due: none

Fix field names for pods and routes
  test/extended/testdata/cli/pod-with-two-containers.yaml
  test/extended/testdata/roles/policy-clusterroles.yaml
  test/extended/testdata/roles/policy-roles.yaml
  test/extended/testdata/router/router-metrics.yaml
Due: none

Do not set status for DeploymentConfigs
  examples/sample-app/application-template-dockerbuild.json
  examples/sample-app/application-template-pullspecbuild.json
  examples/sample-app/application-template-stibuild.json
  test/extended/testdata/cmd/test/cmd/testdata/test-deployment-config.yaml
  test/extended/testdata/test-deployment-config.yaml
Due: none

Get rid of duplicates from test/integration/testdata
  Makefile
  test/extended/builds/digest.go
  test/extended/builds/labels.go
  test/extended/builds/s2i_env.go
  test/extended/cmd.sh
  test/extended/testdata/builds/test-image-stream.json
  test/extended/testdata/cmd/test/cmd/basicresources.sh
  test/integration/testdata/project-request-template-with-quota.yaml
  test/integration/testdata/test-buildcli-beta2.json
  test/integration/testdata/test-buildcli.json
  test/integration/testdata/test-image-stream-mapping.json
  test/integration/testdata/test-image.json
  test/integration/testdata/test-route.json
  test/integration/testdata/test-service-with-finalizer.json
  test/integration/testdata/test-service.json
Due: ci/prow/artifacts, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/cross, ci/prow/e2e-aws-builds

Generated changes
  test/extended/testdata/bindata.go
Due: none

BUILD-187: Check Event if lastTriggeredImageID is cleared
  test/extended/builds/imagechangetriggers.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Skip mco CRD checks for ibmcloud provider
  test/extended/cli/explain.go
Due: none

Bug 1904679: drop docker.io from image tests
  test/extended/images/info.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

more moves off of docker.io images in build e2e's
  test/extended/builds/contextdir.go
  test/extended/builds/dockerfile.go
  test/extended/builds/hooks.go
  test/extended/builds/multistage.go
  test/extended/builds/optimized.go
  test/extended/builds/s2i_root.go
  test/extended/builds/service.go
  test/extended/testdata/builds/application-template-custombuild.json
  test/extended/testdata/builds/build-postcommit/docker.yaml
  test/extended/testdata/builds/build-pruning/successful-build-config.yaml
  test/extended/testdata/builds/build-quota/Dockerfile
  test/extended/testdata/builds/build-secrets/Dockerfile
  test/extended/testdata/builds/build-secrets/test-docker-build.json
  test/extended/testdata/builds/build-secrets/test-s2i-build.json
  test/extended/testdata/builds/build-timing/test-docker-build.json
  test/extended/testdata/builds/custom-build/Dockerfile.sample
  test/extended/testdata/builds/custom-build/build.sh
  test/extended/testdata/builds/docker-add/Dockerfile
  test/extended/testdata/builds/docker-add/docker-add-env/Dockerfile
  test/extended/testdata/builds/incremental-auth-build.json
  test/extended/testdata/builds/pullsecret/linked-nodejs-bc.yaml
  test/extended/testdata/builds/statusfail-badcontextdirs2i.yaml
  test/extended/testdata/builds/statusfail-fetchimagecontentdocker.yaml
  test/extended/testdata/builds/statusfail-fetchsourcedocker.yaml
  test/extended/testdata/builds/statusfail-fetchsources2i.yaml
  test/extended/testdata/builds/statusfail-genericreason.yaml
  test/extended/testdata/builds/statusfail-oomkilled.yaml
  test/extended/testdata/builds/test-build-proxy.yaml
  test/extended/testdata/builds/test-build.yaml
  test/extended/testdata/builds/test-cds-dockerbuild.json
  test/extended/testdata/builds/test-cds-sourcebuild.json
  test/extended/testdata/builds/test-context-build.json
  test/extended/testdata/builds/test-docker-build-pullsecret.json
  test/extended/testdata/builds/test-docker-build.json
  test/extended/testdata/builds/test-docker-no-outputname.json
  test/extended/testdata/builds/test-env-build.json
  test/extended/testdata/builds/valuefrom/successful-docker-build-value-from-config.yaml
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Bug 1905232 - Inconsistent images between upstream and downstream images
  test/extended/images/append.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

test: Append image test should be relative to the tools image
  test/extended/images/append.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

test/extended/operators: Require CPU and memory requests
  test/extended/operators/qos.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test/extended/operators/qos: Exclude openshift-service-catalog-removed
  test/extended/operators/qos.go
Due: none

UPSTREAM: <carry>: Update pod affinity check in priority for valid labels
  vendor/k8s.io/kubernetes/pkg/scheduler/algorithm/priorities/interpod_affinity.go
  vendor/k8s.io/kubernetes/pkg/scheduler/algorithm/priorities/interpod_affinity_test.go
Due: none

UPSTREAM: 95002: stops puting a stacktrace of aborted requests in the logs
  vendor/k8s.io/kubernetes/cmd/controller-manager/app/serve.go
  vendor/k8s.io/kubernetes/cmd/kube-scheduler/app/server.go
  vendor/k8s.io/kubernetes/pkg/kubeapiserver/server/insecure_handler.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/config.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/filters/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go
Due: none
