Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

[Auto TC] Implement packages API server and list packagemanifest info with namespace not NULL
  test/extended/operators/olm.go
Due: none

UPSTREAM: <carry>: Expose a simple journald shim on the kubelet logs endpoint
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_server_journal.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_server_journal_test.go
Due: ci/prow/gcp-crio

Add oc adm node-logs tests
  test/extended/cli/adm.go
Due: none

CI test: No merge
  test.txt
Due: none

test olm execution
  test/extended/operators/operators.go
Due: none

UPSTREAM: 86177: make test framework easier to re-use
  vendor/k8s.io/kubernetes/test/e2e/framework/framework.go
Due: none

Revert "Merge pull request #24166 from mfojtik/bump-vendor"
  glide.lock
  glide.yaml
  vendor/github.com/apparentlymart/go-cidr/cidr/cidr.go
  vendor/github.com/apparentlymart/go-cidr/cidr/cidr_test.go
  vendor/github.com/apparentlymart/go-cidr/cidr/wrangling.go
  vendor/github.com/ghodss/yaml/.travis.yml
  vendor/github.com/ghodss/yaml/yaml.go
  vendor/github.com/ghodss/yaml/yaml_go110.go
  vendor/github.com/ghodss/yaml/yaml_go110_test.go
  vendor/github.com/ghodss/yaml/yaml_test.go
  vendor/github.com/openshift/api/samples/v1/0000_10_samplesconfig.crd.yaml
  vendor/github.com/openshift/library-go/pkg/controller/fileobserver/observer_polling.go
  vendor/github.com/openshift/library-go/pkg/image/reference/reference.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/apiextensions.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/apiregistration.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/apps.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/core.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/core_test.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/json_patch_helpers.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/json_patch_helpers_test.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/monitoring.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/rbac.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/storage.go
  vendor/github.com/openshift/library-go/pkg/operator/revisioncontroller/revision_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/status/status_controller.go
  vendor/go.mongodb.org/mongo-driver/.evergreen/config.yml
  vendor/go.mongodb.org/mongo-driver/mongo/client_encryption.go
  vendor/go.mongodb.org/mongo-driver/mongo/client_test.go
  vendor/go.mongodb.org/mongo-driver/mongo/doc.go
  vendor/go.mongodb.org/mongo-driver/mongo/options/autoencryptionoptions.go
  vendor/go.mongodb.org/mongo-driver/x/mongo/driver/topology/topology.go
  vendor/k8s.io/csi-api/go.mod
  vendor/k8s.io/csi-api/go.sum
Due: none

Revert "Merge pull request #24167 from soltysh/fix_help"
  test/extended/testdata/cmd/test/cmd/help.sh
Due: none

Revert "Merge pull request #24148 from adambkaplan/verify-pullsecret-builds"
  test/extended/builds/pullsecret.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/pullsecret/linked-nodejs-bc.yaml
  test/extended/testdata/builds/pullsecret/pullsecret-nodejs-bc.yaml
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Revert "Merge pull request #24178 from deads2k/simplify-more"
  test/extended/oauth/oauthcertfallback.go
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/admin.sh
  test/extended/testdata/cmd/test/cmd/basicresources.sh
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/patch_openshift.go
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/configdefault/admission_config.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/enablement/admission.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/enablement/enablement.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/enablement/intialization.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/enablement/kubecontrolplane_refs.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/kubeadmission/BUILD
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/kubeadmission/register.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/kubeadmission/register_test.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/discovery.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/flags.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/patch_authenticator.go
  vendor/k8s.io/kubernetes/pkg/kubeapiserver/authenticator/config.go
  vendor/k8s.io/kubernetes/pkg/kubeapiserver/authenticator/patch_authenticator.go
Due: none

Revert "Merge pull request #24209 from deads2k/use-new-poststarthook"
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/aggregator.go
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/apiextensions.go
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/patch_openshift.go
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
Due: none

Revert "Merge pull request #24207 from deads2k/scrub-well-known"
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/patch_openshift.go
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/discovery.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/discovery_test.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/nonapiserver.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/patch_handlerchain.go
Due: none

Revert "Merge pull request #24175 from deads2k/simplify-carries-again"
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/handlers.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/handlers_test.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/patch_handlerchain.go
Due: none

Revert "Merge pull request #24180 from deads2k/controller-ca"
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go
  vendor/k8s.io/kubernetes/pkg/master/client_ca_hook.go
  vendor/k8s.io/kubernetes/pkg/master/client_ca_hook_test.go
  vendor/k8s.io/kubernetes/pkg/master/master.go
  vendor/k8s.io/kubernetes/test/integration/framework/master_utils.go
  vendor/k8s.io/kubernetes/test/integration/serviceaccount/service_account_test.go
Due: none

Revert "Merge pull request #24138 from enxebre/machine-approver-alert"
  test/extended/prometheus/prometheus.go
Due: none

disable jenkins e2e in build suite until https://bugzilla.redhat.com/show_bug.cgi?id=1783530 is resolved
  test/extended/builds/pipeline_origin_bld.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

auto olm test case OCP-23440: the end user can use operator resources
  hack/test-go.sh
  test/extended/operators/olm.go
  test/extended/testdata/bindata.go
  test/extended/testdata/olm/etcd-cluster.yaml
  test/extended/testdata/olm/etcd-subscription.yaml
  test/extended/testdata/olm/operatorgroup.yaml
Due: ci/prow/artifacts, ci/prow/cross

Add adm node-logs with --since=date parameter test
  test/extended/cli/adm.go
Due: none

add Poll operation
  test/extended/operators/service_catalog.go
Due: none

test/extended/prometheus: check if ClusterMachineApproverDown UsingDeprecatedAPIExtensionsV1Beta1 alerts are not firing
  test/extended/prometheus/prometheus.go
Due: none

Disable tests affected by Bug 1763936
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 86250: AWS: Don't report deletion of attached volume as warning
  vendor/k8s.io/kubernetes/staging/src/k8s.io/cloud-provider/volume/errors/errors.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
Due: none

use apps/v1 instead of extensions/v1beta1 for deployment
  test/extended/testdata/bindata.go
  test/extended/testdata/service_catalog/ups-deployment.yaml
Due: none

Revert "Bug 1763936: Disable node-Service and pod-Service granular checks"
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: When a metrics query fails, print the samples
  test/extended/prometheus/prometheus_builds.go
Due: none

Revert "check ServiceCatalog basic usages in OCP 4.x"
  test/extended/operators/service_catalog.go
  test/extended/testdata/bindata.go
  test/extended/testdata/service_catalog/ups-binding.yaml
  test/extended/testdata/service_catalog/ups-broker.yaml
  test/extended/testdata/service_catalog/ups-deployment.yaml
  test/extended/testdata/service_catalog/ups-instance.yaml
  test/extended/testdata/service_catalog/ups-service.yaml
Due: none

pin to origin-4.4-kubernetes-1.17.0-rc.2
  glide.yaml
Due: none

pin other dependencies
  glide.yaml
Due: none

remove unused packages
  cmd/doc.go
  test/extended/include.go
Due: none

UPSTREAM: <drop>: updates k/k bin data
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kubectl/pkg/generated/bindata.go
  vendor/k8s.io/kubernetes/test/e2e/generated/bindata.go
Due: none

UPSTREAM: <drop>: update openapi generation
  vendor/k8s.io/kubernetes/hack/openapi-violation.list
  vendor/k8s.io/kubernetes/pkg/generated/openapi/zz_generated.openapi.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/hack/openapi-violation.list
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
Due: none

UPSTREAM(node:review): <drop>: rename LegacyManager instead of bumping opencontainers/runc
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/cgroup_manager_linux.go
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

Replace github.com/coreos/etcd by go.etcd.io/etcd
  test/extended/etcd/etcd_storage_path.go
  test/extended/etcd/etcd_test_runner.go
  tools/etcdhelper/etcdhelper.go
  tools/rebasehelpers/godepchecker/godepchecker.go
Due: none

UPSTREAM: <carry>: skip openshift-apiserver served CRDs from crd-discovery-available posthook
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
Due: none

fix version in Docker image
  Godeps/Godeps.json
  images/hyperkube/Dockerfile.rhel
Due: none

update references in origin/e2e files
  cmd/openshift-tests/upgrade.go
  test/e2e/upgrade/upgrade.go
  test/extended/builds/pipeline_jenkins_e2e.go
  test/extended/builds/pipeline_origin_bld.go
  test/extended/cluster/cl.go
  test/extended/networking/multicast.go
  test/extended/networking/util.go
  test/extended/operators/cluster.go
  test/extended/operators/tolerations.go
  test/extended/scheme/scheme.go
  test/extended/util/nfs.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
