Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/gcp-crio, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --target=e2e-gcp-crio
      - --template=/usr/local/e2e-gcp-crio
      command:
      - ci-operator
      env:
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

Redundantly validate network objects, in preparation for CRD migration
  pkg/network/common/common.go
  pkg/network/common/validation.go
  pkg/network/common/validation_test.go
  pkg/network/master/master.go
  pkg/network/master/master_test.go
  pkg/network/master/subnets.go
  pkg/network/node/subnets.go
Due: none

provide sufficient package.json to make nodejs image happy
  test/extended/builds/start.go
Due: ci/openshift-jenkins/extended_builds

Disable admission's DefaultOffPlugins unless they are explicitly enabled
  pkg/apiserver/admission/chain_builder.go
  pkg/apiserver/admission/config_test.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/config.go
Due: none

Remove CombinedAdmissionControlPlugins from kube-api startup and enable only kube-specific ones
  pkg/apiserver/admission/chain_builder.go
  pkg/apiserver/admission/config_test.go
  pkg/apiserver/admission/register.go
  pkg/apiserver/admission/sync_test.go
  pkg/cmd/openshift-kube-apiserver/server.go
Due: none

Enable/disable plugins per AdmissionPluginConfig contents
  pkg/apiserver/admission/register.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/config.go
Due: none

Update paths and remove webconsole in TestRootRedirect
  test/integration/master_routes_test.go
Due: none

Add wait for quota status sync
  test/integration/clusterquota_test.go
Due: none

Split API servers from integration tests
  test/util/server/server.go
Due: none

Fix TestAuditConfigEmbeded
  pkg/configconversion/simple.go
  test/integration/audit_test.go
Due: none

Update storage versions for PSPs and APIServices in etcd_storage_path_test.go
  test/integration/etcd_storage_path_test.go
Due: none

Bump timeouts for integration tests
  test/integration/runner/runner_test.go
  test/util/server/server.go
Due: none

Fix TestOAuthBasicAuthPassword
  test/integration/front_proxy_test.go
  test/integration/oauth_basicauth_test.go
Due: none

Remove TestDNS entirely
  test/integration/dns_test.go
Due: none

Remove TestOadmPodNetwork entirely
  test/integration/sdn_test.go
Due: none

Add networking to skipped tests TestDiscoveryGroupVersions
  test/integration/discovery_test.go
Due: none

Disable TestBuildRunningPodDeleteController
  test/integration/buildcontroller_test.go
Due: none

Remove admission plugin configuration tests
  hack/update-generated-deep-copies.sh
  test/integration/admissionconfig_test.go
  test/integration/testing/admissionconfig.go
  test/integration/testing/doc.go
  test/integration/testing/zz_generated.deepcopy.go
Due: ci/prow/artifacts, ci/prow/cross

Bump policy timeouts
  test/util/policy.go
Due: none

Disable TestAuthProxyOnAuthorize, TestFrontProxy, TestOAuthOIDC, TestOAuthRequestHeader, TestWebhookTokenAuthn
  test/integration/auth_proxy_test.go
  test/integration/front_proxy_test.go
  test/integration/oauth_oidc_test.go
  test/integration/oauth_request_header_test.go
  test/integration/webhook_token_auth_test.go
Due: none

Remove parts of TestRootAPIPaths
  test/integration/api_paths_test.go
Due: none

fix service name for new registry
  pkg/serviceaccounts/OWNERS
  pkg/serviceaccounts/controllers/docker_registry_service.go
Due: none

Remove network.openshift.io related tests from TestEtcd3StoragePath
  test/integration/etcd_storage_path_test.go
Due: none

Updating tests for new S2I postCommit code
  test/extended/builds/failure_status.go
Due: ci/openshift-jenkins/extended_builds

Debug
  hack/test-integration.sh
  test/util/server/server.go
Due: ci/prow/artifacts, ci/prow/cross

add test for builds accessing cluster services
  test/extended/builds/dockerfile.go
  test/extended/builds/service.go
Due: ci/openshift-jenkins/extended_builds

UPSTREAM: 68741: Fixed subpath cleanup when /var/lib/kubelet is a symlink
  vendor/k8s.io/kubernetes/pkg/util/mount/mount.go
Due: none

UPSTREAM: 69565: Fixed subpath in containerized kubelet
  vendor/k8s.io/kubernetes/pkg/util/mount/mount.go
  vendor/k8s.io/kubernetes/pkg/util/mount/nsenter_mount.go
Due: none

use 3.11 branch for s2i dep
  glide.yaml
Due: none

bump(*)
  vendor/github.com/openshift/source-to-image/.travis.yml
  vendor/github.com/openshift/source-to-image/hack/install-tools.sh
  vendor/github.com/openshift/source-to-image/pkg/build/strategies/sti/sti.go
  vendor/github.com/openshift/source-to-image/pkg/tar/tar.go
Due: ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem

Create new testdata/cluster OWNERS file
  test/extended/testdata/cluster/OWNERS
Due: none

fix unbound var check in localup temp dir cleanup
  hack/local-up-master/util.sh
Due: ci/prow/artifacts, ci/prow/cross

Generate cincinnati metadata when building a release
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
  hack/import-restrictions.json
  pkg/oc/cli/admin/release/mirror.go
  pkg/oc/cli/admin/release/new.go
Due: ci/prow/artifacts, ci/prow/cross

Update checked for error for post commit hook test
  test/extended/builds/failure_status.go
Due: ci/openshift-jenkins/extended_builds

cli: Extracting image as non-root fails on directory permissions
  pkg/oc/cli/image/extract/extract.go
Due: none

UPSTREAM: 68820: Wait for events instead of just checking them in cronjob e2e
  vendor/k8s.io/kubernetes/test/e2e/apps/cronjob.go
Due: none

UPSTREAM: 70206: test/e2e/apps: fix race in cronjob test
  vendor/k8s.io/kubernetes/test/e2e/apps/cronjob.go
Due: none

Typo fix
  pkg/oc/cli/set/volume.go
Due: none

Change file permissions on console serving cert
  install/openshift-web-console-operator/install.yaml
  pkg/oc/clusterup/manifests/bindata.go
  test/extended/testdata/bindata.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)) or (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder))
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
