Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

Drop testdata/router/router-shard.yaml template
  test/extended/router/grpc-interop.go
  test/extended/router/h2spec.go
  test/extended/router/http2.go
  test/extended/router/shard/shard.go
  test/extended/testdata/router/router-shard.yaml
Due: none

make update
  test/extended/testdata/bindata.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

include storage and must-gather tests in expectedTestCount
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

Remove unused cmd tests
  test/extended/cmd/cmd.go
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/login.sh
  test/extended/testdata/cmd/test/cmd/migrate.sh
  test/extended/testdata/cmd/test/cmd/newapp.sh
  test/extended/testdata/cmd/test/cmd/policy.sh
  test/extended/testdata/cmd/test/cmd/registry.sh
Due: none

Skip resource growth checks in upgrade-rollback jobs
  pkg/synthetictests/resource_growth.go
Due: none

Add newlines to SimultaneousPodIPController
  pkg/monitor/podipcontroller/pod_ip_controller.go
Due: none

Switch to go-ldap/v3
  test/extended/oauth/groupsync.go
Due: none

Adapt to v2 by migrating use of config.GinkgoConfig to ginkgo.GinkgoConfiguration()
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Adapt to v2 by migrating use of extensions/table package
  test/extended/networking/tuning.go
  test/extended/oauth/server_headers.go
  test/extended/security/sysctl.go
Due: none

Remove dead code - setTestExclusion
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/queue.go
Due: none

Remove dead code - ExecuteTest
  test/extended/util/reporter.go
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Use rhel-8-release-golang-1.19-openshift-4.12 builder
  .ci-operator.yaml
Due: none

Drop [Suite:openshift/registry/serial] from Image signature worklow tests
  cmd/openshift-tests/minimal.go
  test/extended/images/signatures.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

React to k8s 1.25 changes
  cmd/openshift-tests/images.go
  test/e2e/upgrade/upgrade.go
  test/extended/apiserver/resiliency.go
  test/extended/cli/admin.go
  test/extended/cli/basics.go
  test/extended/dr/backup_restore.go
  test/extended/dr/machine_recover.go
  test/extended/dr/quorum_restore.go
  test/extended/util/annotate/annotate.go
  test/extended/util/annotate/rules.go
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

ginkgo v2 adaptation
  cmd/openshift-tests/openshift-tests.go
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/cmd_runtest.go
  pkg/test/ginkgo/ginkgo.go
  pkg/test/ginkgo/result/result.go
  pkg/test/ginkgo/test.go
Due: none

Update ETCD storage test alpha versions
  test/extended/etcd/etcd_storage_path.go
Due: none

Update test images
  cmd/openshift-tests/images.go
  test/extended/testdata/cmd/test/cmd/testdata/hello-openshift/hello-pod.json
  test/extended/testdata/cmd/test/cmd/testdata/templateinstance_objectkinds.yaml
  test/extended/testdata/idling-echo-server-rc.yaml
  test/extended/testdata/idling-echo-server.yaml
  test/extended/testdata/router/ingress.yaml
  test/extended/testdata/router/reencrypt-serving-cert.yaml
  test/extended/testdata/router/router-common.yaml
  test/extended/testdata/router/router-config-manager.yaml
  test/extended/testdata/router/router-metrics.yaml
  test/extended/testdata/router/weighted-router.yaml
  test/extended/testdata/templates/templateinstance_badobject.yaml
  test/extended/testdata/templates/templateinstance_objectkinds.yaml
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Update gofmt with golang 1.19
  test/extended/testdata/bindata.go
  tools/junitreport/pkg/parser/gotest/data_parser_test.go
Due: none

Add registry.k8s.io/pause:3.8
  cmd/openshift-tests/images.go
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Fix TestBackendSampler_checkConnection unit test
  pkg/monitor/backenddisruption/disruption_backend_sampler_test.go
Due: none

make update
  test/extended/testdata/bindata.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Switch from waiting for running pod to wait for a completed pod in image tests
  test/extended/image_ecosystem/scl.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

Add monitor store to resource watch
  pkg/monitor/event.go
  pkg/monitor/node.go
  pkg/monitor/operator.go
  pkg/monitor/pod.go
  pkg/monitor/resourcewatch/cmd/resourcewatch.go
  pkg/monitor/resourcewatch/controller/clusteroperatormetric/controller.go
  pkg/monitor/resourcewatch/controller/configmonitor/crd_controller.go
  pkg/monitor/resourcewatch/operator/starter.go
  pkg/monitor/resourcewatch/storage/git_store.go
  pkg/monitor/resourcewatch/storage/monitor_store.go
  pkg/monitor/resourcewatch/storage/store.go
Due: none

microshift: skip sig-network tests
  test/extended/idling/idling.go
  test/extended/networking/multus.go
  test/extended/networking/services.go
  test/extended/networking/tuning.go
  test/extended/networking/whereabouts.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

microshift: skip sig-arch tests
  test/extended/apiserver/api_requests.go
  test/extended/operators/clusteroperators.go
  test/extended/operators/images.go
  test/extended/prometheus/alerts.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

microshift: skip and fix sig-cli tests
  test/extended/cli/admin.go
  test/extended/cli/apiresources.go
  test/extended/cli/basics.go
  test/extended/cli/compat.go
  test/extended/cli/explain.go
  test/extended/cli/observe.go
  test/extended/cli/probe.go
  test/extended/cli/rsh.go
  test/extended/testdata/bindata.go
  test/extended/testdata/cli/pod-with-two-containers.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "Merge pull request #27463 from stbenjam/revert-27444-move-etcd-scaling-test"
  cmd/openshift-tests/e2e.go
  test/extended/etcd/helpers/helpers.go
  test/extended/etcd/vertical_scaling.go
Due: none

Add suite name to etcd test
  test/extended/etcd/vertical_scaling.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Address failures in CI
  test/extended/operators/clusteroperators.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Extend SCC tests with their corresponding service account variants
  test/extended/security/scc.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add test case to monitor store
  pkg/monitor/event.go
  pkg/monitor/resourcewatch/storage/monitor_store.go
  pkg/monitor/resourcewatch/storage/monitor_store_test.go
Due: none

Revert "Merge pull request #27491 from ingvagabund/mirror-scc-with-service-account"
  test/extended/security/scc.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "Merge pull request #27498 from ingvagabund/merge-pablos-PRs"
  test/extended/apiserver/api_requests.go
  test/extended/cli/admin.go
  test/extended/cli/apiresources.go
  test/extended/cli/basics.go
  test/extended/cli/compat.go
  test/extended/cli/explain.go
  test/extended/cli/observe.go
  test/extended/cli/probe.go
  test/extended/cli/rsh.go
  test/extended/idling/idling.go
  test/extended/networking/multus.go
  test/extended/networking/services.go
  test/extended/networking/tuning.go
  test/extended/networking/whereabouts.go
  test/extended/operators/clusteroperators.go
  test/extended/operators/images.go
  test/extended/prometheus/alerts.go
  test/extended/testdata/bindata.go
  test/extended/testdata/cli/pod-with-two-containers.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds
