Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)

APPS: deploymentconfig deployers respect new pod fields
  pkg/apps/controller/deployer/deployer_controller.go
Due: none

update pod node constraints for group change types
  pkg/scheduler/admission/podnodeconstraints/admission_test.go
Due: none

disable dynamic PV tests to land the rebase
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

update versions
  Godeps/Godeps.json
  images/hyperkube/Dockerfile.rhel
  images/kube-proxy/Dockerfile
  images/kube-proxy/Dockerfile.rhel
Due: none

Add generated file sources for e2es
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

disable RuntimeClass e2e tests for @sjenning
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

ensure we viperize flags
  cmd/openshift-tests/openshift-tests.go
Due: none

disable serial scheduler tests to land the rebase
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

disable CRD webhookconversion
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: <drop>: generated
  vendor/k8s.io/kubernetes/hack/openapi-violation.list
  vendor/k8s.io/kubernetes/pkg/generated/openapi/zz_generated.openapi.go
Due: none

UPSTREAM: <drop>: STORAGE ephemeral storage tests
  vendor/k8s.io/kubernetes/pkg/kubelet/nodestatus/setters_test.go
Due: ci/prow/gcp-crio

UPSTREAM: <drop>: apimachinery tests
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/naming/from_stack_test.go
Due: none

UPSTREAM: <drop>: disable racy scheduler test
  vendor/k8s.io/kubernetes/pkg/scheduler/internal/queue/scheduling_queue_test.go
Due: none

UPSTREAM: <drop>: disable CRD validation until openapi fixes land
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/features/kube_features.go
Due: none

UPSTREAM: <drop>: disable crd-discovery-available
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
Due: none

UPSTREAM: 75909: Fix nodeSelector hostname
  vendor/k8s.io/kubernetes/test/e2e/scheduling/taints.go
Due: none

UPSTREAM: <drop>: glog fixes
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier.go
  vendor/k8s.io/kubernetes/pkg/proxy/ipvs/proxier.go
Due: none

UPSTREAM: 75905: Fix usage priority fraction
  vendor/k8s.io/kubernetes/test/e2e/scheduling/BUILD
Due: none

UPSTREAM: <drop>: comment out componentconfig registration for kube controller manager
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/controllermanager.go
Due: none

UPSTREAM: 76021: Fix create secret generic paths examples
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/create/create_secret.go
Due: none

update publish rules for origin-4.1-kubernetes-1.13.4
  publishing-rules.yaml
Due: none

Add an e2e test that verifies the CLI works under arbitrary Linux envs
  test/extended/cli/compat.go
Due: none

Support --from-image-stream-file on release new for archival purposes
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
  pkg/oc/cli/admin/release/new.go
Due: none

switch back to master repos
  glide.yaml
Due: none

bump
  glide.lock
  vendor/github.com/openshift/api/glide.lock
  vendor/github.com/openshift/client-go/glide.lock
  vendor/github.com/openshift/client-go/glide.yaml
  vendor/github.com/openshift/library-go/glide.lock
  vendor/github.com/openshift/library-go/glide.yaml
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/cabundle.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/certsyncpod/certsync_cmd.go
Due: none

release: Support extracting the 'oc' and 'openshift-install' binaries
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
  pkg/oc/cli/admin/release/extract.go
  pkg/oc/cli/admin/release/extract_tools.go
  pkg/oc/cli/admin/release/extract_tools_test.go
  pkg/oc/cli/admin/release/git.go
  pkg/oc/cli/admin/release/new.go
  pkg/oc/cli/image/extract/extract.go
Due: none

e2e: disable broken hostAlias test
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Disable BlockVolume tests that need kubelet 1.13
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

test/extended/util/test: Restore "Pod should prefer to scheduled..."
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: 75943: Fix AWS driver to provision specified fsType
  vendor/k8s.io/kubernetes/pkg/volume/awsebs/aws_util.go
Due: none

Enable GlusterFS tests
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Remove Disruptive tests from serial suite
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: 74532: CRD server wait for CRDs to sync before reporting healthy
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
Due: none

Run e2e tests with "custom" distro
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: <drop>: disable crd-discovery-available (revert)
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
Due: none

UPSTREAM: 72540: Expose kms timeout value via encryption config
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/apis/config/types.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/apis/config/v1/types.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/apis/config/v1/zz_generated.conversion.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/apis/config/v1/zz_generated.deepcopy.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/apis/config/zz_generated.deepcopy.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/encryptionconfig/config_test.go
Due: none
