Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

add first and last timestamp to duplicated event error messages
  pkg/synthetictests/events.go
Due: none

DO NOT MERGE: intentionally break for proof
  pkg/synthetictests/duplicated_events.go
Due: none

Add apiserver pod readiness check for kubeconfig tests
  test/extended/apiserver/kubeconfigs.go
Due: none

add several skip cases for pathological events
  pkg/synthetictests/duplicated_events.go
  pkg/synthetictests/duplicated_events_test.go
Due: none

tidy up the duplicate event handling
  pkg/synthetictests/duplicated_events.go
Due: none

Removing ibmcloud from ldap test due to use of oauth server route
  test/extended/oauth/oauth_ldap.go
Due: none

Add retry for explain commands due to resource not found flakiness
  test/extended/cli/explain.go
Due: none

kubectl: mark exit codes test flaky until 1.22 rebase
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 1990988: Updating s2i images for php
  test/extended/image_ecosystem/s2i_images.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Fix a lock contention problem in the proxy
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier.go
Due: none

Added E2E test for multus-cni
  test/extended/networking/multus.go
  test/extended/testdata/bindata.go
  test/extended/testdata/net-attach-defs/bridge-nad.yml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Skipped non-standard openshift installed crd testing for ibmcloud
  test/extended/cli/explain.go
Due: none

e2e/cli: move half of builds.sh to proper e2e
  test/extended/cli/builds.go
  test/extended/testdata/cmd/test/cmd/builds.sh
Due: none

generated changes
  test/extended/testdata/bindata.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Do not use egressIP on reply packets
  pkg/network/node/ovscontroller.go
Due: none

allow pathological storage backoff on single-node with bug
  pkg/synthetictests/duplicated_events.go
Due: none

Exclude local volume conflicts
  pkg/synthetictests/duplicated_events.go
  pkg/synthetictests/duplicated_events_test.go
Due: none

disable cli oc builds tests on disconnected clusters
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Allow TechPreviewNoUpgrade alerts when running on a TechPreview cluster
  test/extended/prometheus/prometheus.go
Due: none

Remove kubectl command exit codes test from canary
  cmd/openshift-tests/minimal.go
Due: none

search for correct memory.max file with cgroupv2 and build quota test
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/build-quota/.s2i/bin/assemble
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Bug 1969471: HAProxy tests in sdn-network-stress job are flaky
  test/extended/router/metrics.go
Due: none

Add proxy support to OAuthServer tests
  test/extended/oauth/requestheaders.go
Due: none

React to k8s, grpc and library-go bumps
  test/e2e/upgrade/service/service.go
  test/extended/bootstrap_user/bootstrap_user_login.go
  test/extended/router/grpc-interop/test_utils.go
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Change imports for go.etcd.io/etcd v3.5.0
  test/extended/dr/machine_recover.go
  test/extended/etcd/etcd_storage_path.go
  test/extended/etcd/etcd_test_runner.go
  tools/etcdhelper/etcdhelper.go
Due: none

Get rid of --viper-config which was removed in k8s
  cmd/openshift-tests/provider.go
  test/extended/cluster/README.md
  test/extended/cluster/cl.go
  test/extended/cluster/clt.go
  test/extended/cluster/cm.go
  test/extended/cluster/context.go
  test/extended/cluster/utils.go
Due: none

Bug 1986001: bring back api data and resorucequota tests
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Update test images based on k8s bump
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Update etcd data tests based on k8s bump
  test/extended/etcd/etcd_storage_path.go
Due: none

Retry kubeconfig checks, when kube-apiserver is temporarily unavailable
  test/extended/apiserver/kubeconfigs.go
Due: none

account for cgroup v2 swap file only having swap for its amount, while cgroup v1 has memory+swap for its amount
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/build-quota/.s2i/bin/assemble
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Bug 1994491: add HPA event exception
  pkg/synthetictests/duplicated_events.go
Due: none

Add me to test approvers so I can approve annotation changes
  test/extended/OWNERS
Due: none

Bug 1990655: Updated waitForOAuthServerRouteReady function to use existing ingress cert within cluster for ca authentication
  test/extended/util/oauthserver/oauthserver.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add 'DeploymentAwaitingCancellation' as an allowed repeated event
  pkg/synthetictests/duplicated_events.go
Due: none

Disable [sig-network] Networking should provider Internet connection for containers using DNS
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Generated changes
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Switch kubeconfig retries to use backoff
  test/extended/apiserver/kubeconfigs.go
Due: none

duplicated events: update list of known issues
  pkg/synthetictests/duplicated_events.go
Due: none

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
