Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

update-bindata
  pkg/oc/clusterup/manifests/bindata.go
  test/extended/testdata/bindata.go
Due: none

Add debugging to networking e2e tests
  test/extended/networking/util.go
Due: none

Fix openshift-sdn mode detection in e2e tests
  test/extended/networking/util.go
Due: none

test/extended: Fix "avaiable" -> "available" typos
  test/extended/cli/mustgather.go
  test/extended/util/ldap.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

rename 'foo' build arg to avoid conflicts with 'foo' env's in the tools image
  test/extended/builds/start.go
  test/extended/testdata/builds/test-build.yaml
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

make update output
  test/extended/testdata/bindata.go
Due: none

Enable build with golang 1.15
  hack/build-rpms.sh
  origin.spec
Due: ci/prow/artifacts, ci/prow/cross

DO NOT MERGE Disable checking for golang package in rpm build
  origin.spec
Due: none

Override the built root image to golang-1.15
  .ci-operator.yaml
Due: none

Add e2e testing of server-side apply for openshift types
  test/extended/apiserver/apply.go
Due: none

Update test annotations
  test/extended/apiserver/apply.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 1896188: bump wait timeout for build completion in oc debug test
  test/extended/cli/debug.go
Due: none

skip bld tbr pullscret e2e until https://github.com/openshift/origin/pull/24887 merges and we have a new path forward
  test/extended/builds/pullsecret.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Image extract tests should check results of ImageStreamImport
  test/extended/images/extract.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

DO NOT MERGE Disable windows build pending golang fix
  hack/build-cross.sh
Due: ci/prow/artifacts, ci/prow/cross

Monitor availability of image registry during upgrades
  test/e2e/upgrade/upgrade.go
  test/extended/util/disruption/imageregistry/imageregistry.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

bump: Update to 38dcd0e83fab487458db7438b3bb26eb8b54f45e Kube
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: none

test: Enable mirroring test images to a different repository
  cmd/openshift-tests/images.go
  cmd/openshift-tests/openshift-tests.go
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

[DNM] WIP - Add retries for network policy tests
  vendor/k8s.io/kubernetes/test/e2e/network/network_policy.go
Due: none

Make oc mirror tests aware of HTTP/2
  test/extended/images/mirror.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

test: Add a framework for mirroring origin images
  cmd/openshift-tests/images.go
  cmd/openshift-tests/openshift-tests.go
  hack/update-generated.sh
  hack/verify-generated.sh
  pkg/test/ginkgo/cmd_runsuite.go
  test/extended/oauth/oauth_ldap.go
  test/extended/util/framework.go
  test/extended/util/image/README.md
  test/extended/util/image/image.go
  test/extended/util/ldap.go
Due: ci/prow/artifacts, ci/prow/e2e-gcp-builds, ci/prow/cross, ci/prow/e2e-aws-builds

Bug 1881319: IPtable rules are racy when pod is created before svc
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier.go
Due: none

Mount ImageFS in node container
  images/node/system-container/config.json.template
Due: none

test: Update tests to use locked registry image
  test/extended/images/imagestreamimport.go
  test/extended/images/mirror.go
  test/extended/util/image/README.md
  test/extended/util/image/image.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

Reword CNV as OpenShift Virtualization
  cmd/openshift-tests/storagecaps.go
Due: none

e2e: node: filter out worker nodes without MCD
  test/extended/topology_manager/resourcealign.go
  test/extended/topology_manager/utils.go
  test/extended/util/pods.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Logging more during ephemeral registry deployment
  test/extended/images/imagestreamimport.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

hello-openshift: Set BZ component in OWNERS
  images/hello-openshift/OWNERS
Due: none

UPSTREAM: 94712: [credentialprovider] avoid potential secret leaking while reading .dockercfg
  vendor/k8s.io/kubernetes/pkg/credentialprovider/config.go
  vendor/k8s.io/kubernetes/pkg/credentialprovider/config_test.go
Due: none

e2e: add useroauthaccesstokens tests
  test/extended/oauth/useroauthaccesstokens.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

fake api/client-go bump to pick useroauthaccesstokens client
  go.mod
  go.sum
  vendor/github.com/openshift/api/OWNERS
  vendor/github.com/openshift/api/console/v1/0000_10_consolequickstart.crd.yaml
  vendor/github.com/openshift/api/console/v1/register.go
  vendor/github.com/openshift/api/console/v1/types_console_quick_start.go
  vendor/github.com/openshift/api/console/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/console/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/imageregistry/v1/00-crd.yaml
  vendor/github.com/openshift/api/imageregistry/v1/01-crd.yaml
  vendor/github.com/openshift/api/samples/v1/0000_10_samplesconfig.crd.yaml
  vendor/github.com/openshift/client-go/oauth/clientset/versioned/typed/oauth/v1/generated_expansion.go
  vendor/github.com/openshift/client-go/oauth/clientset/versioned/typed/oauth/v1/oauth_client.go
  vendor/github.com/openshift/client-go/oauth/clientset/versioned/typed/oauth/v1/useroauthaccesstoken.go
  vendor/github.com/openshift/client-go/oauth/informers/externalversions/generic.go
  vendor/github.com/openshift/client-go/oauth/informers/externalversions/oauth/v1/interface.go
  vendor/github.com/openshift/client-go/oauth/informers/externalversions/oauth/v1/useroauthaccesstoken.go
  vendor/github.com/openshift/client-go/oauth/listers/oauth/v1/expansion_generated.go
  vendor/github.com/openshift/client-go/oauth/listers/oauth/v1/useroauthaccesstoken.go
  vendor/modules.txt
Due: none

tolerate apiserver restart errors when creating machines in quorum restore test
  test/extended/dr/quorum_restore.go
Due: none

increase the wait time for machines to re-create
  test/extended/dr/quorum_restore.go
Due: none

mock container network config function to support the tests
  pkg/build/builder/docker.go
  pkg/build/builder/docker_test.go
  pkg/build/builder/sti.go
  pkg/build/builder/sti_test.go
  pkg/build/builder/util.go
Due: ci/prow/e2e-gcp-builds, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

move gem install directory to writable location
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/test-build-app/Dockerfile
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

remove statements that delete dc as it was not created by test
  test/extended/builds/pipeline.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

remove the test skip statements
  test/extended/builds/pipeline.go
  test/extended/builds/secrets.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds
