Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

Drop testdata/router/router-override.yaml
  test/extended/router/scoped.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-override.yaml
Due: none

Drop testdata/router/router-override-domains.yaml
  test/extended/router/scoped.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-override-domains.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Drop testdata/router/router-grpc-interop.yaml
  test/extended/router/grpc-interop.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-grpc-interop.yaml
Due: none

Drop testdata/router/router-grpc-interop-routes.yaml
  test/extended/router/grpc-interop.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-grpc-interop-routes.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Drop testdata/router/router-h2spec.yaml
  test/extended/router/h2spec.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-h2spec.yaml
Due: none

Drop testdata/router/router-h2spec-routes.yaml
  test/extended/router/h2spec.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-h2spec-routes.yaml
Due: none

Drop testdata/router/router-http2.yaml
  test/extended/router/http2.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-http2.yaml
Due: none

Drop testdata/router/router-http2-routes.yaml
  test/extended/router/http2.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-http2-routes.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Drop testdata/router/router-idle.yaml
  test/extended/router/idle.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-idle.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Drop testdata/router/router-config-manager.yaml
  test/extended/router/config_manager.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-config-manager.yaml
Due: none

Drop testdata/router/weighted-router.yaml
  test/extended/router/weighted.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/weighted-router.yaml
Due: none

Remove HAProxy template.openshift.io from test/extended/util/annotate/rules.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Drop testdata/router/router-shard.yaml template
  test/extended/router/grpc-interop.go
  test/extended/router/h2spec.go
  test/extended/router/http2.go
  test/extended/router/shard/shard.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-shard.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Drop template from testdata/router/router-common.yaml
  test/extended/router/certs.go
  test/extended/router/scoped.go
  test/extended/router/unprivileged.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-common.yaml
Due: none

Drop testdata/router/router-scoped.yaml
  test/extended/router/certs.go
  test/extended/router/scoped.go
  test/extended/router/unprivileged.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-scoped.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "Merge pull request #27533 from dgoodwin/merge-alert-backstops"
  pkg/alerts/allowed_conformance.go
  pkg/alerts/allowed_upgrade.go
  pkg/alerts/check.go
  test/e2e/upgrade/alert/alert.go
  test/extended/operators/images.go
  test/extended/operators/operators.go
  test/extended/prometheus/prometheus.go
  test/extended/util/conditions.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bump openshift/kubernetes to latest master
  go.mod
  go.sum
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccadmission/admission.go
  vendor/github.com/openshift/library-go/pkg/config/serving/server.go
  vendor/github.com/openshift/library-go/pkg/controller/controllercmd/builder.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/template/templateprocessingclient/dynamic_process.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/logs/logs.go
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/ephemeral.go
  vendor/modules.txt
Due: ci/prow/gcp-crio

Add flake tests for ProbeError and NodeHasSufficient pathological events
  pkg/synthetictests/apiserver.go
  pkg/synthetictests/duplicated_events.go
  pkg/synthetictests/event_junits.go
  pkg/synthetictests/kubelet.go
  pkg/synthetictests/node.go
Due: none

Drop template.openshift.io apigroup dependency (#27476)
  test/extended/router/certs.go
  test/extended/router/config_manager.go
  test/extended/router/grpc-interop.go
  test/extended/router/h2spec.go
  test/extended/router/http2.go
  test/extended/router/idle.go
  test/extended/router/scoped.go
  test/extended/router/shard/shard.go
  test/extended/router/unprivileged.go
  test/extended/router/weighted.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-common.yaml
  test/extended/testdata/router/router-config-manager.yaml
  test/extended/testdata/router/router-grpc-interop-routes.yaml
  test/extended/testdata/router/router-grpc-interop.yaml
  test/extended/testdata/router/router-h2spec-routes.yaml
  test/extended/testdata/router/router-h2spec.yaml
  test/extended/testdata/router/router-http2-routes.yaml
  test/extended/testdata/router/router-http2.yaml
  test/extended/testdata/router/router-idle.yaml
  test/extended/testdata/router/router-override-domains.yaml
  test/extended/testdata/router/router-override.yaml
  test/extended/testdata/router/router-scoped.yaml
  test/extended/testdata/router/router-shard.yaml
  test/extended/testdata/router/weighted-router.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "refactor how tests are run"
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/group_filter.go
  pkg/test/ginkgo/junit.go
  pkg/test/ginkgo/queue.go
  pkg/test/ginkgo/queue_test.go
  pkg/test/ginkgo/status.go
  pkg/test/ginkgo/test.go
  pkg/test/ginkgo/testNames.txt
  pkg/test/ginkgo/test_runner.go
Due: none

Add test checking ns/pods for annotations allowing/preferring management cores
  test/extended/single_node/workload_partitioning.go
Due: none

Skip tests checking workload partitioning annotations on non-SNO clusters
  test/extended/single_node/workload_partitioning.go
Due: none

Check for target.workload.openshift.io/management annotation, not workload.openshift.io/management annotation
  test/extended/single_node/workload_partitioning.go
Due: none

Don't check openshift-infra, openshift-kubevirt-infra, or openshift-node namespaces for workload partitioning annotations
  test/extended/single_node/workload_partitioning.go
Due: none

Only check running or pending pods for workload partitioning annotations
  test/extended/single_node/workload_partitioning.go
Due: none

Check if cluster has WP enabled before running tests
  test/extended/single_node/workload_partitioning.go
Due: none

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
