Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

Tune watch requests for kube-scheduler operator and console-operator.
  test/extended/apiserver/api_requests.go
Due: none

networking/acl: live-retrieve the NS instead of f.Namespace
  test/extended/networking/acl_audit_log.go
Due: none

networking/acl: properly dump found audit logs in case of a failure
  test/extended/networking/acl_audit_log.go
Due: none

update bindata
  test/extended/testdata/bindata.go
Due: none

test/extended/util/disruption: Remove stale p95 references
  test/extended/util/disruption/backend_sampler_tester.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

BZ2091110: Skip ErrImagePull for expected failures
  pkg/synthetictests/kubelet.go
Due: none

Update OWNERS files
  OWNERS
  cmd/OWNERS
  examples/OWNERS
  examples/data-population/OWNERS
  examples/deployment/OWNERS
  examples/heapster/OWNERS
  examples/hello-openshift/OWNERS
  examples/jenkins/OWNERS
  examples/prometheus/OWNERS
  examples/sample-app/OWNERS
  hack/OWNERS
  hack/lib/OWNERS
  hack/test-lib/OWNERS
  images/OWNERS
  images/hello-openshift/OWNERS
  images/tests/OWNERS
  pkg/OWNERS
  pkg/version/OWNERS
  test/OWNERS
  test/extended/OWNERS
  test/extended/dr/OWNERS
  test/extended/etcd/OWNERS
  test/extended/networking/OWNERS
  test/extended/util/annotate/OWNERS
  tools/OWNERS
  tools/junitreport/OWNERS
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/cross, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

include storage and must-gather tests in expectedTestCount
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

Add required pod security admission annotations into namespace
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/hack/lib/init.sh
Due: none

Remove checks for 4.10 given the master HEAD is 4.12 now
  go.mod
  test/extended/apiserver/root_403.go
  test/extended/authorization/scc.go
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Remove checks for OCP <= 4.10 given the master HEAD is 4.12 now
  test/extended/scheduling/pods.go
Due: none

Update job name tests for hard failure cases
  test/extended/ci/job_names.go
Due: none

Hard fail for non-matching network-type vs. job-name, or wrong periodic job name
  test/extended/ci/job_names.go
Due: none

update the service load balancer test to work with readiness on pod delete
  test/e2e/upgrade/service/service.go
Due: none

PATCH: expose various ginkgo internals to allow for direct openshift-tests integration
  pkg/test/ginkgo/result/result.go
  vendor/github.com/onsi/ginkgo/v2/core_dsl_extension.go
  vendor/github.com/onsi/ginkgo/v2/internal/spec_extension.go
  vendor/github.com/onsi/ginkgo/v2/internal/suite.go
  vendor/github.com/onsi/ginkgo/v2/internal/suite_extension.go
  vendor/github.com/onsi/ginkgo/v2/types/types_extension.go
Due: none

REBASE: Remove SkipPrivilegedPSPBinding config ref (setting went away in upstream k8s)
  test/extended/apiserver/resiliency.go
  test/extended/dr/backup_restore.go
  test/extended/dr/machine_recover.go
  test/extended/dr/quorum_restore.go
Due: none

REBASE: Replace use of EchoServer image (image went away in upstream k8s)
  test/extended/cli/basics.go
Due: none

CHECK: adapting openshift-tests to v2
  pkg/test/ginkgo/cmd_runtest.go
Due: none

REFACTOR: adapt to v2 by migrating use of extensions/table package
  test/extended/networking/tuning.go
  test/extended/oauth/server_headers.go
  test/extended/security/sysctl.go
Due: none

REFACTOR: Adapt ginkgo spec wrapper type
  pkg/test/ginkgo/ginkgo.go
  pkg/test/ginkgo/test.go
Due: none

REBASE: remove podsecuritypolicy ref in test (removed from upstream k8s)
  test/e2e/upgrade/upgrade.go
  test/extended/cli/admin.go
Due: none

REFACTOR: clear before/aftersuite nodes
  cmd/openshift-tests/openshift-tests.go
Due: none

CARRY: add a no-agent variant of loadconfig so we can invoke loadconfig when we're not running tests
  vendor/k8s.io/kubernetes/test/e2e/framework/util.go
Due: none

REFACTOR: reworking how walking tests works with respect to checking code locations
  pkg/test/ginkgo/queue.go
  pkg/test/ginkgo/test.go
Due: none

REBASE: switch image mapping index type from int to k8s.ImageID
  cmd/openshift-tests/images.go
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

REFACTOR: adapt to v2 by migrating use of config.GinkgoConfig to ginkgo.GinkgoConfiguration()
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

REFACTOR: fix up usage of config.GinkgoConfig
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/cmd_runtest.go
  pkg/test/ginkgo/ginkgo.go
Due: none

REFACTOR: append test names w/ annotations at runtime for run and run-test
  cmd/openshift-tests/openshift-tests.go
  pkg/test/ginkgo/ginkgo.go
Due: none

REBASE: refactor code to use carried patch version of LoadConfigNoAgent
  cmd/openshift-tests/images.go
  cmd/openshift-tests/provider.go
  test/extended/apiserver/api_requests.go
  test/extended/util/azure/config_file.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

HACK: delete custom reporter
  test/extended/util/reporter.fixme
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

REFACTOR: emit spec progress during reporting
  pkg/test/ginkgo/cmd_runtest.go
Due: none

REFACTOR: wrap ginkgo spec so we can pass it to gingko v2's run spec method
  pkg/test/ginkgo/ginkgo.go
  pkg/test/ginkgo/test.go
Due: none

REFACTOR: adjust to we avoid running before/aftersuite nodes
  cmd/openshift-tests/openshift-tests.go
  pkg/test/ginkgo/cmd_runtest.go
Due: none

HACK: massive hacks to run a single spec and report result. Needs serious revisiting.
  pkg/test/ginkgo/cmd_runtest.go
Due: none

REFACTOR: Appears to be dead code, remove it so it doesn't confuse people who are trying to understand how we run tests
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

REFACTOR: result of running hack/update-generated.sh
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
