Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)

RECHECK: glide.yaml: remove pinning
  glide.yaml
Due: none

glide.yaml: old etcd3 until etcd images are updated
  glide.yaml
Due: none

glide.yaml: old gprc until etcd and cri-o is updated
  glide.yaml
Due: none

FIXUP: legacy-cloud-providers move
  test/extended/util/azure/config_file.go
Due: ci/prow/e2e-aws-builds

hack/update-generated-openapi.sh: exclude code-gen and sample-apiserver as upstream
  hack/update-generated-openapi.sh
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: <carry>: update openapi
  vendor/k8s.io/kubernetes/hack/openapi-violation.list
  vendor/k8s.io/kubernetes/pkg/generated/openapi/zz_generated.openapi.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/hack/openapi-violation.list
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
Due: none

UPSTREAM: 82478: endpoints: fix admission test types
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
Due: none

UPSTREAM: <drop>: CHECK(node): disable pkg/kubelet/oom test that only runs as root
  vendor/k8s.io/kubernetes/pkg/kubelet/oom/oom_watcher_linux_test.go
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

BORING: follow e2e framework type rename
  test/e2e/upgrade/upgrade.go
Due: none

UPSTREAM: <carry>: revive HandleFlags in e2e
  vendor/k8s.io/kubernetes/test/e2e/e2e_test.go
  vendor/k8s.io/kubernetes/test/e2e/patch_from_e2e_testfile.go
Due: none

CHECK(devex): fixups extended tests
  test/extended/builds/contextdir.go
  test/extended/builds/pipeline_jenkins_e2e.go
  test/extended/builds/pipeline_origin_bld.go
  test/extended/builds/s2i_env.go
  test/extended/builds/s2i_incremental.go
  test/extended/builds/service.go
  test/extended/image_ecosystem/mariadb_ephemeral.go
  test/extended/image_ecosystem/mysql_ephemeral.go
  test/extended/image_ecosystem/mysql_replica.go
  test/extended/image_ecosystem/postgresql_replica.go
  test/extended/image_ecosystem/s2i_perl.go
  test/extended/image_ecosystem/s2i_php.go
  test/extended/image_ecosystem/s2i_python.go
  test/extended/image_ecosystem/s2i_ruby.go
  test/extended/image_ecosystem/sample_repos.go
  test/extended/images/mirror.go
Due: ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry

CHECK(metrics): fixups extended tests
  test/extended/prometheus/prometheus.go
  test/extended/prometheus/prometheus_builds.go
Due: none

BORING: extended: add centos:7 exec helper
  test/extended/util/pods.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: <carry>: warn only about unknown feature gates
  vendor/k8s.io/kubernetes/staging/src/k8s.io/component-base/featuregate/feature_gate.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/component-base/featuregate/feature_gate_test.go
Due: none

CHECK(api/auth): fixups extended tests
  test/extended/authentication/front_proxy.go
  test/extended/authorization/scopes.go
  test/extended/cluster/utils.go
  test/extended/etcd/etcd_storage_path.go
  test/extended/util/framework.go
  test/extended/util/nfs.go
  test/extended/util/reporter.go
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

CHECK(network-edge): fixups extended tests
  test/extended/router/headers.go
  test/extended/router/metrics.go
  test/extended/router/stress.go
  test/extended/router/weighted.go
Due: none

CHECK(workloads): fixups extended tests
  test/extended/cli/rsync.go
Due: none

CHECK(sdn): fixups extended tests
  test/extended/networking/multicast.go
  test/extended/networking/util.go
Due: none

UPSTREAM: <drop>: add legacy --shutdown-delay-duration
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go
Due: none

UPSTREAM: <drop>: update openapi
  vendor/k8s.io/kubernetes/hack/openapi-violation.list
Due: none

UPSTREAM: <carry>: CHECK(node): disable --node-label validation for unknown labels
  vendor/k8s.io/kubernetes/cmd/kubelet/app/options/options.go
Due: none

UPSTREAM: <drop>: reenable extensions/v1beta1 & apps/v1beta*
  vendor/k8s.io/kubernetes/pkg/master/master.go
  vendor/k8s.io/kubernetes/pkg/master/storageversionhashdata/data.go
Due: none

CHECK(sdn): extended: fix networking helpers
  test/extended/networking/util.go
  test/extended/util/framework.go
Due: ci/prow/e2e-aws-builds

hack: add selinux go build tag on linux
  hack/lib/constants.sh
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: <drop>: grpc: work around missing WithContextDialer with old grpc lib
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
Due: none

hack: use kube deepcopy boilerplate for k/k files
  hack/update-generated-deep-copies.sh
Due: ci/prow/artifacts, ci/prow/cross

CHECK(workload): extended: fix testdata bash
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/hack/lib/cmd.sh
Due: none

CHECK(sdn): e2e: disable unsupported sdn features
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

extended: add /livez endpoint to RBAC coverage test
  test/extended/authorization/rbac/groups_default_rules.go
Due: none

CHECK(sdn): e2e: temporarily disable headless test
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

BORING: extended: update DeploymentConfig getters
  test/extended/authorization/authorization.go
Due: none

CHECK(workloads): extended: disable SchedulerPreemption tests again
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: 82520: test: fix liveness pod
  vendor/k8s.io/kubernetes/test/fixtures/doc-yaml/user-guide/liveness/http-liveness.yaml.in
Due: none

e2e: re-enable CRD conversion tests now supported
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

CHECK(storage): e2e: disable tests which require SSH
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

CHECK(mo): extended: add discovery endpointslices to etcd storage test
  test/extended/etcd/etcd_storage_path.go
Due: none

CHECK(workload): e2e: disable kubectl exec test with pod/name syntax
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: 82189: add conditions for remaining object totals during ns termination
  vendor/k8s.io/kubernetes/pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  vendor/k8s.io/kubernetes/pkg/controller/namespace/deletion/status_condition_utils.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/api/core/v1/types.go
Due: none

CHECK(node): extended: disable RuntimeClass tests requiring cri-o config
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds
