Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-builds-cluster-profile
      - --target=e2e-aws-builds
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-registry-cluster-profile
      - --target=e2e-aws-image-registry
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

sa errors
  vendor/k8s.io/kubernetes/pkg/serviceaccount/legacy.go
Due: none

unauthz logging
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
Due: none

Disable tests while flake is investigated
  test/extended/builds/new_app.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

hack: make verify commits work against correct branch
  hack/verify-upstream-commits.sh
Due: ci/prow/artifacts, ci/prow/cross

auth mut
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
Due: none

more authn mut
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
Due: none

When pod restarts with exitCode 1, monitor should print term message
  pkg/monitor/operator.go
  pkg/monitor/pod.go
Due: none

token review errs
  vendor/k8s.io/kubernetes/pkg/registry/authentication/tokenreview/storage.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/webhook/webhook.go
Due: none

depth 5
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
Due: none

track file
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/authentication/request/bearertoken/bearertoken.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/authentication/request/websocket/protocol.go
Due: none

env authn config
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch_authenticator.go
Due: none

Don't log messages at SDN startup about already-dead pods
  pkg/network/node/node.go
  pkg/network/node/runtime.go
Due: none

test that must-gather generated audit logs
  test/extended/cli/mustgather.go
Due: none

debug flaking test
  test/extended/builds/new_app.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

nit
  test/extended/builds/new_app.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

switch leader election lock for ocm to openshift-controller-manager
  pkg/cmd/openshift-controller-manager/controller_manager.go
Due: none

always accept oauth tokens
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch_authenticator.go
Due: none

Always honor OAuth tokens
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch_authenticator.go
Due: none

Correct Dockerfile FROM statements
  images/cli-artifacts/Dockerfile.rhel
  images/cli/Dockerfile.rhel
  images/hyperkube/Dockerfile.rhel
  images/hypershift/Dockerfile.rhel
  images/sdn/Dockerfile.rhel
  images/template-service-broker/Dockerfile.rhel
  images/tests/Dockerfile.rhel
Due: none

Move default components to an appropriate upgrade order (generic)
  pkg/oc/cli/admin/release/new.go
Due: none

Collapse version changes in monitor output
  pkg/monitor/operator.go
  pkg/monitor/operator_test.go
Due: none

Automatic commit of package [atomic-openshift] release [3.9.80-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

Report the pod exit reason in the event monitor
  pkg/monitor/pod.go
Due: none

Improve error message when a release input is invalid
  pkg/oc/cli/admin/release/image_mapper.go
  pkg/oc/cli/admin/release/new.go
Due: none

When no argument passed to oc adm release new, dry run the output
  pkg/oc/cli/admin/release/new.go
  pkg/oc/cli/image/append/append.go
Due: none

force application/json
  pkg/cmd/openshift-controller-manager/controller/interfaces.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
Due: none

Disable openssl linking in Origin binaries
  hack/lib/constants.sh
Due: ci/prow/artifacts, ci/prow/cross

extended: print empty files when must-gather test fail
  test/extended/cli/mustgather.go
Due: none

test/extended/prometheus: Add etcd target check
  test/extended/prometheus/prometheus.go
Due: none

import-restrictions
  hack/import-restrictions.json
Due: ci/prow/artifacts, ci/prow/cross

Switch to external client/types for bootstrap SCCs
  pkg/cmd/openshift-apiserver/openshiftapiserver/openshift_apiserver.go
  pkg/cmd/server/bootstrappolicy/securitycontextconstraints.go
  pkg/cmd/server/bootstrappolicy/securitycontextconstraints_test.go
  pkg/oc/cli/admin/policy/reconcile_sccs.go
  test/cmd/policy.sh
Due: ci/openshift-jenkins/service-catalog

switch SCC informer to kube-apiserver
  pkg/cmd/openshift-apiserver/openshiftapiserver/informers.go
Due: none

admission: SCC v1 SecurityContextConstraintsInformer
  pkg/cmd/openshift-apiserver/openshiftadmission/plugin_initializer.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  pkg/cmd/server/admission/init.go
  pkg/cmd/server/admission/types.go
  pkg/security/apiserver/admission/sccadmission/admission.go
  pkg/security/apiserver/admission/sccadmission/scc_exec.go
Due: none

Warn user when idling services if network policies are in place
  pkg/oc/cli/idle/idle.go
Due: none

Verify machine objects only for worker nodes
  test/extended/machines/machines.go
Due: none

switch priority order hostaccess,hostnetwork back
  pkg/cmd/server/bootstrappolicy/securitycontextconstraints_test.go
  test/cmd/policy.sh
Due: ci/openshift-jenkins/service-catalog

pin SCC serialization
  pkg/cmd/server/bootstrappolicy/policy_test.go
  test/testdata/bootstrappolicy/bootstrap_security_context_constraints.yaml
Due: ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
