Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

pkg/synthetictests/operators: Include the reason string in testOperatorState
  pkg/monitor/operator.go
  pkg/monitor/operator_test.go
  pkg/synthetictests/operators.go
Due: none

upgrade/upgrade.go: Enhance upgrade ack time out error
  test/e2e/upgrade/upgrade.go
Due: none

test: stop building URL's with host/port and Sprintf
  test/extended/networking/util.go
  test/extended/router/metrics.go
  test/extended/util/jenkins/ref.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

replace registry.redhat.io refs with internal image registry refs in image-eco e2e
  test/extended/image_ecosystem/s2i_images.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

make-update-output
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: Mark kubelet terminates non-gracefully as a flake
  pkg/synthetictests/kubelet.go
Due: none

test: Synthetics should only return junit tests instead of a bool
  cmd/openshift-tests/images.go
  pkg/synthetictests/event_junits.go
  pkg/synthetictests/kubelet.go
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/synthentic_tests.go
Due: none

test: grant ovirt-csi-driver an exception for not having requests
  test/extended/operators/resources.go
Due: none

test: App availability test during upgrade must set minReady
  test/e2e/upgrade/service/service.go
Due: none

test: add baremetal provider
  cmd/openshift-tests/provider.go
  test/extended/util/baremetal/provider.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 1950095: Verify layer MIME types in built images
  test/extended/builds/digest.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

UPSTREAM: 77165: Increase maxMsgSize for dockershim
  vendor/k8s.io/kubernetes/pkg/kubelet/dockershim/remote/docker_server.go
Due: ci/prow/gcp-crio

serialize the event monitor. I think
  pkg/monitor/serialization/serialize.go
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

remove unused initiatedAt in favor of a single At for monitor events
  pkg/monitor/e2etest.go
  pkg/monitor/monitor.go
  pkg/monitor/types.go
  pkg/synthetictests/operators.go
Due: none

formalize monitor event notification
  pkg/monitor/e2etest.go
  pkg/monitor/node.go
  pkg/monitor/operator.go
  pkg/synthetictests/kubelet.go
  pkg/synthetictests/operators.go
Due: none

Events actually returns EventIntervals. Update method name to match reality
  pkg/monitor/cmd.go
  pkg/monitor/monitor.go
  pkg/monitor/monitor_test.go
  pkg/monitor/sampler_test.go
  pkg/monitor/types.go
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/synthentic_tests.go
  test/e2e/upgrade/service/service.go
  test/extended/util/disruption/controlplane/controlplane.go
  test/extended/util/disruption/frontends/frontends.go
  test/extended/util/disruption/imageregistry/imageregistry.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

cmd: initialize baremetal provider
  cmd/openshift-tests/provider.go
Due: none

test: remove apk add tcpdump to internal ports test
  test/extended/networking/internal_ports.go
Due: none

add test to start ratcheting in pod targeting
  test/extended/operators/run_on_management_cores.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Sync perl/dancer imagestreams and use Perl 5.26-ubi8
  examples/image-streams/image-streams-centos7.json
  examples/quickstarts/dancer-mysql-persistent.json
  examples/quickstarts/dancer-mysql.json
  test/extended/testdata/bindata.go
  test/extended/testdata/cluster/quickstarts/dancer-mysql.json
  test/extended/testdata/cmd/test/cmd/images.sh
  test/extended/testdata/cmd/test/cmd/newapp.sh
  test/extended/testdata/cmd/test/cmd/testdata/image-streams/image-streams-centos7.json
  test/extended/testdata/image_ecosystem/perl-hotdeploy/perl.json
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

hello-openshift: fix build with 1.16
  images/hello-openshift/Dockerfile.rhel
Due: none

Add BareMetalPlatformType into e2e upgrade service unsupported list
  test/e2e/upgrade/service/service.go
Due: none

test: skip checking nodejs 10 and perl 5.26
  test/extended/image_ecosystem/s2i_images.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

test/extended/single_node: update for monitoring components
  test/extended/single_node/topology.go
Due: none

move the monitor API to an API
  cmd/openshift-tests/images.go
  pkg/monitor/api.go
  pkg/monitor/e2etest.go
  pkg/monitor/event.go
  pkg/monitor/monitor.go
  pkg/monitor/monitor_test.go
  pkg/monitor/monitorapi/types.go
  pkg/monitor/node.go
  pkg/monitor/noop.go
  pkg/monitor/operator.go
  pkg/monitor/pod.go
  pkg/monitor/sampler.go
  pkg/monitor/sampler_test.go
  pkg/monitor/types.go
  pkg/synthetictests/apiserver.go
  pkg/synthetictests/event_junits.go
  pkg/synthetictests/kubelet.go
  pkg/synthetictests/networking.go
  pkg/synthetictests/operators.go
  pkg/test/ginkgo/status.go
  pkg/test/ginkgo/synthentic_tests.go
  test/e2e/upgrade/service/service.go
  test/extended/util/disruption/disruption.go
  test/extended/util/disruption/frontends/frontends.go
  test/extended/util/disruption/imageregistry/imageregistry.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

allow separating monitor event identification from monitor event generation
  pkg/monitor/api.go
  pkg/monitor/e2etest.go
  pkg/monitor/monitor_test.go
  pkg/monitor/monitorapi/identification.go
  pkg/monitor/node.go
  pkg/monitor/operator.go
  pkg/synthetictests/kubelet.go
  pkg/synthetictests/operators.go
  pkg/test/ginkgo/status.go
Due: none

bump(k8s)
  go.mod
  go.sum
  vendor/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  vendor/k8s.io/apiserver/pkg/server/options/authorization.go
  vendor/k8s.io/apiserver/pkg/server/options/serving.go
  vendor/k8s.io/apiserver/pkg/server/options/serving_unix.go
  vendor/k8s.io/apiserver/pkg/server/options/serving_windows.go
  vendor/k8s.io/apiserver/pkg/server/signal.go
  vendor/k8s.io/cloud-provider/go.mod
  vendor/k8s.io/cloud-provider/go.sum
  vendor/k8s.io/csi-translation-lib/go.sum
  vendor/k8s.io/kube-openapi/pkg/schemaconv/smd.go
  vendor/k8s.io/kube-openapi/pkg/util/util.go
  vendor/k8s.io/kube-openapi/pkg/validation/validate/type.go
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go
  vendor/k8s.io/kubernetes/cmd/kubelet/app/auth.go
  vendor/k8s.io/kubernetes/cmd/kubelet/app/patch_auth.go
  vendor/k8s.io/kubernetes/openshift-hack/e2e/annotate/rules.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/container_manager_linux.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/fake_kuberuntime_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/kuberuntime_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/nodestatus/setters.go
  vendor/k8s.io/kubernetes/pkg/kubelet/prober/patch_prober.go
  vendor/k8s.io/kubernetes/pkg/kubelet/prober/prober.go
  vendor/k8s.io/kubernetes/pkg/kubelet/prober/worker.go
  vendor/k8s.io/kubernetes/pkg/probe/http/http.go
  vendor/k8s.io/kubernetes/pkg/probe/http/patch_http.go
  vendor/k8s.io/kubernetes/test/e2e/apimachinery/BUILD
  vendor/k8s.io/kubernetes/test/e2e/apimachinery/flowcontrol.go
  vendor/k8s.io/kubernetes/test/e2e/framework/node/resource.go
  vendor/k8s.io/kubernetes/test/e2e/network/network_policy.go
  vendor/k8s.io/kubernetes/test/e2e/scheduling/priorities.go
  vendor/k8s.io/kubernetes/test/e2e/scheduling/ubernetes_lite.go
  vendor/k8s.io/mount-utils/go.sum
  vendor/modules.txt
Due: ci/prow/gcp-crio, ci/prow/cross, ci/prow/artifacts

hack/update-generated.sh
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Merge pull request #25924 from frobware/disable-oc-idle-on-virt-ish-platforms
  test/extended/router/idle.go
Due: none

tests/extended: Add a basic sanity test for CoreOS bootimages
  test/extended/coreos/coreos.go
  test/extended/include.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: <move>: this commit must be moved upstream first
  vendor/k8s.io/kubernetes/test/e2e/apimachinery/aggregator.go
  vendor/k8s.io/kubernetes/test/e2e/framework/apihelper/helper.go
Due: none

Restore private git clone tests
  test/extended/builds/gitauth.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/test-auth-build.yaml
  test/extended/testdata/test-gitserver.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

test: Remove exceptions in fixed bugs in alert/resource tests
  test/e2e/upgrade/alert/alert.go
  test/extended/operators/resources.go
  test/extended/prometheus/prometheus.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/prometheus/helpers.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: Mark GCP as fixed and AWS as flaky in upgrade availability
  test/extended/util/disruption/controlplane/controlplane.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: EventLevel is compared by value for filtering
  pkg/monitor/monitorapi/types.go
  test/e2e/upgrade/alert/alert.go
Due: none

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
