Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

test/extended/prometheus/OWNERS: refresh members
  test/extended/prometheus/OWNERS
Due: none

Bug 1963160: don't iterate over pod objects
  pkg/network/node/networkpolicy.go
Due: none

UPSTREAM: <drop>: Replace cadvisor for 2868 upstream patch
  go.mod
  go.sum
  vendor/github.com/google/cadvisor/container/common/helpers.go
  vendor/github.com/google/cadvisor/manager/manager.go
  vendor/modules.txt
Due: none

pkg/synthetictests/networking: Grant temporary exception for "error getting pod: Unauthorized"
  pkg/synthetictests/networking.go
Due: none

builds: use ubi8/ruby-27 instead of centos/ruby-27-centos7
  test/extended/testdata/builds/build-timing/Dockerfile
  test/extended/testdata/builds/statusfail-fetchimagecontentdocker.yaml
  test/extended/testdata/builds/test-build-app/Dockerfile
  test/extended/testdata/builds/test-build.yaml
  test/extended/testdata/builds/test-imageresolution-custom-build.yaml
  test/extended/testdata/builds/test-imageresolution-docker-build.yaml
  test/extended/testdata/builds/test-imageresolution-s2i-build.yaml
  test/extended/testdata/builds/test-imagesource-buildconfig.yaml
  test/extended/testdata/custom-secret-builder/build.sh
  test/extended/testdata/long_names/Dockerfile
  test/extended/testdata/s2i-dropcaps/rootable-ruby/Dockerfile
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

builds: comment out multi-namespace template test
  test/extended/builds/pipeline_origin_bld.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

cmd: use UBI8 ImageStreamTags
  test/extended/testdata/cmd/test/cmd/deployments.sh
  test/extended/testdata/cmd/test/cmd/testdata/application-template-custombuild.json
  test/extended/testdata/cmd/test/cmd/testdata/application-template-dockerbuild.json
  test/extended/testdata/cmd/test/cmd/testdata/application-template-stibuild.json
  test/extended/testdata/cmd/test/cmd/testdata/new-app/imagestream-ref.yaml
  test/extended/testdata/cmd/test/cmd/testdata/test-image.json
Due: none

imageapis: use UBI8 ImageStreamTags
  test/extended/testdata/image/test-image.json
Due: none

cmd: use ubi8/ruby-27 instead of centos/ruby-27-centos7
  test/extended/testdata/cmd/test/cmd/testdata/application-template-stibuild.json
  test/extended/testdata/cmd/test/cmd/testdata/modified-ruby-imagestream.json
  test/extended/testdata/cmd/test/cmd/testdata/new-app/build-arg-dockerfile/Dockerfile
  test/extended/testdata/cmd/test/cmd/testdata/new-app/template-with-app-label.json
  test/extended/testdata/cmd/test/cmd/testdata/new-app/template-without-app-label.json
  test/extended/testdata/cmd/test/cmd/testdata/statefulset.yaml
  test/extended/testdata/cmd/test/cmd/testdata/test-bc.yaml
  test/extended/testdata/cmd/test/cmd/triggers.sh
Due: none

cli: use ubi8/ruby-27 instead of centos/ruby-27-centos7
  examples/sample-app/application-template-dockerbuild.json
  examples/sample-app/application-template-pullspecbuild.json
  examples/sample-app/application-template-stibuild.json
  test/extended/cli/admin.go
Due: none

jenkins: use UBI8 ImageStreamTags
  test/extended/testdata/jenkins-plugin/multitag-template.json
Due: none

image_ecosystem: use UBI8 ImageStreamTags
  test/extended/image_ecosystem/s2i_images.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Update bindata
  test/extended/testdata/bindata.go
Due: none

test CI with fake commit
  fake.txt
Due: none

improve network policy performance
  pkg/network/node/networkpolicy.go
Due: none

Remove shawn from extended test owners (he moved to a new role)
  test/extended/OWNERS
Due: none

test/extended: add etcd OWNERS
  test/extended/dr/OWNERS
  test/extended/etcd/OWNERS
Due: none

Update ruby-hello-world images
  test/integration/newapp_test.go
Due: none

Switch images off of docker
  test/integration/newapp_test.go
Due: none

Add failing tests in OVN-K into skipped list
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

uprgade: extend upgrade duration to 105mins on AWS
  test/e2e/upgrade/upgrade.go
Due: none

Skip ClientSecretWithPlus test that uses oauth-openshift route for ibm clusters
  test/extended/oauth/client_secret.go
Due: none

test/extended: Ensure all containers in the OLM deployment resources contain the IfNotPresent image pull policy
  test/extended/operators/olm.go
Due: none

Bump openshift/kubernetes
  go.mod
  go.sum
  vendor/k8s.io/apiserver/pkg/audit/BUILD
  vendor/k8s.io/apiserver/pkg/endpoints/filters/BUILD
  vendor/k8s.io/apiserver/pkg/endpoints/filters/request_deadline.go
  vendor/k8s.io/apiserver/pkg/endpoints/handlers/create.go
  vendor/k8s.io/apiserver/pkg/endpoints/handlers/delete.go
  vendor/k8s.io/apiserver/pkg/endpoints/handlers/patch.go
  vendor/k8s.io/apiserver/pkg/endpoints/handlers/rest.go
  vendor/k8s.io/apiserver/pkg/endpoints/handlers/update.go
  vendor/k8s.io/apiserver/pkg/server/BUILD
  vendor/k8s.io/apiserver/pkg/server/config.go
  vendor/k8s.io/apiserver/pkg/server/filters/timeout.go
  vendor/k8s.io/apiserver/pkg/server/signal.go
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go
  vendor/k8s.io/kubernetes/openshift-hack/e2e/annotate/rules.go
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/container_manager_linux.go
  vendor/k8s.io/kubernetes/pkg/kubelet/config/apiserver.go
  vendor/k8s.io/kubernetes/pkg/kubelet/configmap/configmap_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/eviction_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_getters.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/fake_kuberuntime_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/kuberuntime_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/nodestatus/setters.go
  vendor/k8s.io/kubernetes/pkg/kubelet/qos/policy.go
  vendor/k8s.io/kubernetes/pkg/kubelet/secret/secret_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/types/pod_update.go
  vendor/k8s.io/kubernetes/pkg/kubelet/util/manager/watch_based_manager.go
  vendor/k8s.io/kubernetes/pkg/proxy/winkernel/proxier.go
  vendor/k8s.io/kubernetes/plugin/pkg/admission/storage/persistentvolume/label/admission.go
  vendor/k8s.io/kubernetes/test/e2e/apimachinery/BUILD
  vendor/k8s.io/kubernetes/test/e2e/apimachinery/flowcontrol.go
  vendor/k8s.io/kubernetes/test/e2e/apimachinery/request_timeout.go
  vendor/k8s.io/legacy-cloud-providers/openstack/openstack_volumes.go
  vendor/k8s.io/legacy-cloud-providers/vsphere/shared_datastore.go
  vendor/k8s.io/legacy-cloud-providers/vsphere/vclib/virtualmachine.go
  vendor/k8s.io/legacy-cloud-providers/vsphere/vsphere.go
  vendor/modules.txt
Due: ci/prow/gcp-crio, ci/prow/cross, ci/prow/artifacts

Regeneate test tags
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 1963160: networkpolicy: port the unit test to use a fake kubeclient
  pkg/network/node/networkpolicy_test.go
Due: none

Bug 1963160: Don't try to generate NetworkPolicy flows for non-pod-network pods
  pkg/network/node/networkpolicy.go
Due: none

Bug 1963160: networkpolicy: use the informer's pod cache rather than having our own
  pkg/network/node/networkpolicy.go
  pkg/network/node/networkpolicy_test.go
Due: none

Add renamed Prometheus test into skipped disconnected list
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test/e2e/upgrade/alert: Allow some Watchdog changes
  test/e2e/upgrade/alert/alert.go
Due: none

undisable NetworkPolicy tests
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Fix image API extended test flake
  test/extended/images/oc_copy.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

Skip a NetworkPolicy test with broken timing assumptions
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

testPodSandboxCreation: skip sandbox errors for pods which were not deleted during network update
  pkg/synthetictests/networking.go
Due: none

Regenerate annotations
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds
