Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-builds-cluster-profile
      - --target=e2e-aws-builds
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-registry-cluster-profile
      - --target=e2e-aws-image-registry
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

UPSTREAM:<carry>: apiserver crd validation: remove tls1.3 and modern profile
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver_test.go
Due: none

e2e: Add container statuses while waiting for OAuth server
  test/extended/util/oauthserver/oauthserver.go
Due: ci/prow/e2e-aws-builds

Bug 1757807: e2e: stabilize ingress metrics tests
  test/extended/prometheus/prometheus.go
Due: none

Remove non-existing fields
  examples/hello-openshift/hello-pod.json
  examples/jenkins/jenkins-ephemeral-template.json
  test/extended/builds/valuefrom.go
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/testdata/hello-openshift/hello-pod.json
  test/extended/testdata/cmd/test/cmd/testdata/jenkins/jenkins-ephemeral-template.json
  test/extended/testdata/cmd/test/cmd/testdata/templates/guestbook.json
  test/extended/testdata/cmd/test/cmd/testdata/test-image.json
  test/extended/testdata/image/test-image.json
  test/extended/testdata/oauthserver/oauth-network.yaml
  test/extended/testdata/templates/guestbook.json
  test/integration/testdata/test-image.json
Due: ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem

React to openshift/ruby-hello-world update
  test/extended/builds/pipeline_origin_bld.go
  test/extended/builds/start.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/test-build-proxy.yaml
  test/extended/testdata/cmd/test/cmd/admin.sh
  test/extended/testdata/cmd/test/cmd/builds.sh
  test/extended/testdata/cmd/test/cmd/newapp.sh
  test/extended/testdata/cmd/test/cmd/templates.sh
  test/extended/testdata/cmd/test/cmd/testdata/app-scenarios/new-project-deployed-app.yaml
  test/extended/testdata/cmd/test/cmd/testdata/app-scenarios/new-project-no-build.yaml
  test/extended/testdata/cmd/test/cmd/testdata/app-scenarios/new-project-one-build.yaml
  test/extended/testdata/cmd/test/cmd/testdata/app-scenarios/new-project-two-deployment-configs.yaml
  test/extended/testdata/cmd/test/cmd/testdata/application-template-dockerbuild.json
  test/extended/testdata/cmd/test/cmd/testdata/application-template-stibuild.json
  test/extended/testdata/cmd/test/cmd/testdata/new-app/build-arg-dockerfile/Dockerfile
  test/extended/testdata/cmd/test/cmd/testdata/new-app/template-with-app-label.json
  test/extended/testdata/cmd/test/cmd/testdata/new-app/template-without-app-label.json
  test/extended/testdata/cmd/test/cmd/testdata/statefulset.yaml
  test/extended/testdata/cmd/test/cmd/testdata/test-bc.yaml
  test/extended/testdata/cmd/test/cmd/testdata/test-buildcli.json
  test/extended/testdata/cmd/test/cmd/triggers.sh
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

Add router CA certificate to the client
  test/extended/oauth/expiration.go
  test/extended/oauth/http1.go
  test/extended/oauth/server_headers.go
  test/extended/oauth/well_known.go
  test/extended/util/oauthserver/oauthserver.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: 83747: Improve efficiency of csiMountMgr.GetAttributes
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_mounter.go
Due: none

Revert "UPSTREAM: <drop>: reenable extensions/v1beta1 & apps/v1beta*"
  vendor/k8s.io/kubernetes/pkg/master/master.go
  vendor/k8s.io/kubernetes/pkg/master/storageversionhashdata/data.go
Due: none

Bug 1768002: Stabilize router stress test
  test/extended/router/stress.go
Due: none

UPSTREAM: <carry>: Expose a simple journald shim on the kubelet logs endpoint
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_server_journal.go
Due: ci/prow/gcp-crio

Add tests for image references after oc tag
  test/extended/images/oc_tag.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

[release-4.1] React to openshift/ruby-hello-world changes
  pkg/oc/cli/admin/buildchain/test/multiple-namespaces-bcs.yaml
  pkg/oc/cli/admin/buildchain/test/multiple-trigger-bcs.yaml
  pkg/oc/cli/admin/buildchain/test/single-namespace-bcs.yaml
  pkg/oc/lib/graph/genericgraph/test/bare-bc.yaml
  pkg/oc/lib/graph/genericgraph/test/bare-dc.yaml
  pkg/oc/lib/graph/genericgraph/test/circular-not.yaml
  pkg/oc/lib/graph/genericgraph/test/circular.yaml
  pkg/oc/lib/graph/genericgraph/test/deployment.yaml
  pkg/oc/lib/graph/genericgraph/test/failed-build.yaml
  pkg/oc/lib/graph/genericgraph/test/missing-istag.yaml
  pkg/oc/lib/graph/genericgraph/test/new-app.yaml
  pkg/oc/lib/graph/genericgraph/test/new-project-deployed-app.yaml
  pkg/oc/lib/graph/genericgraph/test/new-project-no-build.yaml
  pkg/oc/lib/graph/genericgraph/test/new-project-one-build.yaml
  pkg/oc/lib/graph/genericgraph/test/new-project-two-deployment-configs.yaml
  pkg/oc/lib/graph/genericgraph/test/pushable-build.yaml
  pkg/oc/lib/graph/genericgraph/test/unpushable-build-2.yaml
  pkg/oc/lib/graph/genericgraph/test/unpushable-build.yaml
  test/cmd/newapp.sh
  test/cmd/triggers.sh
  test/end-to-end/core.sh
  test/extended/builds/pipeline_origin_bld.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/test-build-proxy.yaml
  test/integration/newapp_test.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

Dump all pods logs to improve debuggability of e2e tests
  test/extended/builds/pipeline_jenkins_e2e.go
  test/extended/builds/pipeline_origin_bld.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

Enable test disabled on BZ1711538
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Bug 1752646: e2e: Re-enable HAProxy router header test
  test/extended/router/headers.go
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Fix cmd tests to be more resilient to changes
  test/extended/testdata/cmd/test/cmd/help.sh
Due: none

test: Verify platform metrics are available
  test/extended/prometheus/prometheus.go
Due: none

Cleanup created image
  test/extended/images/imagestream.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

test: Prometheus query test should fail more quickly
  test/extended/prometheus/prometheus.go
  test/extended/prometheus/prometheus_builds.go
Due: none

Add "get configmaps from openshift namespace" rule to expected rules
  test/extended/authorization/rbac/groups_default_rules.go
Due: none

test: Add e2e tests for the RequestHeaders IdP
  test/extended/oauth/helpers.go
  test/extended/oauth/http1.go
  test/extended/oauth/requestheaders.go
Due: none

e2e requestheader test cleanup
  test/extended/oauth/requestheaders.go
Due: none

oauth: add more debugging to oauth test
  test/extended/oauth/requestheaders.go
Due: none

e2e requestheader: don't immediately fail waiting for the oauthserver
  test/extended/oauth/requestheaders.go
Due: none

e2e requestheader: make client follow TLS correctly
  test/extended/oauth/requestheaders.go
Due: none

Install CSI driver on openshift-tests startup
  cmd/openshift-tests/csi.go
  cmd/openshift-tests/openshift-tests.go
  test/extended/csi/install.go
  test/extended/testdata/bindata.go
  test/extended/testdata/csi/README.md
  test/extended/testdata/csi/aws-ebs/install-template.yaml
  test/extended/testdata/csi/aws-ebs/manifest.yaml
Due: none

test/extended/cli/explain.go: enable tests for service catalog crds
  test/extended/cli/explain.go
Due: none

UPSTREAM: 84883: Update test logic to simulate NodeReady/False and NodeReady/Unknown events correctly
  vendor/k8s.io/kubernetes/test/integration/scheduler/taint_test.go
Due: none

Reenable taint based evictions e2e test
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Add fixture base directory when unspecified config
  test/extended/cluster/cl.go
  test/extended/testdata/bindata.go
  test/extended/testdata/cluster/master-vert.yaml
  test/extended/testdata/cluster/quickstarts/cakephp-mysql.json
  test/extended/testdata/cluster/quickstarts/dancer-mysql.json
  test/extended/testdata/cluster/quickstarts/django-postgresql.json
  test/extended/testdata/cluster/quickstarts/nodejs-mongodb.json
  test/extended/testdata/cluster/quickstarts/rails-postgresql.json
Due: none

UPSTREAM: 82572: Fix RS expectations for recreate case
  vendor/k8s.io/kubernetes/pkg/controller/replicaset/init_test.go
  vendor/k8s.io/kubernetes/pkg/controller/replicaset/replica_set.go
  vendor/k8s.io/kubernetes/pkg/controller/replicaset/replica_set_test.go
Due: none

test: Verify platform metrics are available
  test/extended/prometheus/prometheus.go
  test/extended/prometheus/prometheus_builds.go
Due: none

UPSTREAM: <carry>: bump nodes ready timeout
  vendor/k8s.io/kubernetes/test/e2e/framework/framework.go
Due: none

add build ca bundle to init containers
  pkg/build/controller/strategy/util.go
  pkg/build/controller/strategy/util_test.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

e2e: fix incorrect router image references
  test/extended/router/config_manager.go
  test/extended/router/scoped.go
  test/extended/router/stress.go
  test/extended/router/unprivileged.go
  test/extended/router/weighted.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-config-manager.yaml
  test/extended/testdata/router/router-override-domains.yaml
  test/extended/testdata/router/router-override.yaml
  test/extended/testdata/router/router-scoped.yaml
  test/extended/testdata/router/weighted-router.yaml
  test/extended/util/framework.go
Due: ci/prow/e2e-aws-builds

Changing from passive to active approach on secret deletion.
  test/extended/controller_manager/pull_secret.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)) or (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder))
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
