Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-builds-cluster-profile
      - --target=e2e-aws-builds
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-registry-cluster-profile
      - --target=e2e-aws-image-registry
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

UPSTREAM: 77681: Fix handling empty result when invoking kubectl get
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/get/get.go
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/get/get_test.go
Due: none

UPSTREAM: <drop>: force dumping events on upgrade failure
  vendor/k8s.io/kubernetes/test/e2e/upgrades/apps/job.go
  vendor/k8s.io/kubernetes/test/e2e/upgrades/apps/replicasets.go
Due: none

add more globals to try to dump logs on failure
  cmd/openshift-tests/openshift-tests.go
Due: none

Revert "Disable resource quota"
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Re-enable resourcequota tests
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: 77742: improve e2e namespace dumping on failure
  vendor/k8s.io/kubernetes/test/e2e/framework/util.go
Due: none

Add warning when unrecognized resource is found
  pkg/oc/cli/admin/policy/who_can.go
  pkg/oc/cli/policy/cani/cani.go
Due: none

Testing vsphere e2e
  README.md
Due: none

prevent bad pod.status.phase transitions
  pkg/cmd/openshift-kube-apiserver/kubeadmission/register.go
  pkg/pod/admission/rejectbadstatus/reject_bad_pod_status.go
Due: none

Update README.md
  README.md
Due: none

DO NOT MERGE - Debug kubelet status output
  vendor/k8s.io/kubernetes/pkg/kubelet/pleg/generic.go
  vendor/k8s.io/kubernetes/pkg/kubelet/status/status_manager.go
Due: ci/prow/gcp-crio

Update publishing rules for origin 4.2 and k8s 1.14
  publishing-kube-rules.yaml
Due: none

Temporarily block all access to the MCS port from active nodes
  cmd/sdn-cni-plugin/openshift-sdn_linux.go
  pkg/network/node/iptables.go
Due: ci/prow/artifacts, ci/prow/cross

Make the RestrictedEndpointsAdmission controller reject the MCS port
  pkg/network/admission/restrictedendpoints/endpoint_admission.go
Due: none

Revert "UPSTREAM: 75985: Add feature gates for resource quota"
  vendor/k8s.io/kubernetes/test/e2e/framework/util.go
  vendor/k8s.io/kubernetes/test/e2e/scheduling/resource_quota.go
Due: none

Revert "disable broken test"
  test/integration/dockerregistryclient_test.go
Due: none

wait for must-gather logs to be available
  pkg/oc/cli/admin/mustgather/mustgather.go
Due: none

fix my github id in sdn-cni-plugin/OWNERS
  cmd/sdn-cni-plugin/OWNERS
Due: none

Fix invocation of log function on local-up
  hack/local-up-master/lib.sh
Due: ci/prow/artifacts, ci/prow/cross

Restrict access to EC2 metadata IP
  cmd/sdn-cni-plugin/openshift-sdn_linux.go
  pkg/network/admission/restrictedendpoints/endpoint_admission.go
  pkg/network/node/ovscontroller.go
Due: ci/prow/artifacts, ci/prow/cross

Sort the release changelog by newest pull request first
  pkg/oc/cli/admin/release/git.go
Due: none

UPSTREAM: 77870: Do not reset container state when pod is deleted
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/status/status_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/status/status_manager_test.go
Due: ci/prow/gcp-crio

test/e2e/upgrade: wait until all pools have upgraded
  test/e2e/upgrade/upgrade.go
Due: none

test/extended/builds: Apply default proxy configuration to build pod through env vars
  test/extended/builds/cluster_config.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/build-cluster-config.yaml
  test/extended/testdata/builds/cluster-config/invalid-build-cluster-config.yaml
  test/extended/testdata/builds/test-build.yaml
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

test/extented/prometheus: Relax alert firing smoke test
  test/extended/prometheus/prometheus.go
Due: none

disable registry v1 client test
  test/integration/dockerregistryclient_test.go
Due: none

Use pager to get images for pruning
  pkg/oc/cli/admin/prune/images/images.go
Due: none

Add multi stage build with external image test, caseid OCP-22469
  test/extended/builds/multistage.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

Add reflector and workqueue metrics
  pkg/cmd/openshift-apiserver/server.go
Due: none

add a method save to put the dump data to etcd
  tools/etcdhelper/etcdhelper.go
Due: none

Pin openshift to release-4.1 branches
  glide.yaml
Due: none

test: reduce minimum size of expected files in must-gather tests
  test/extended/cli/mustgather.go
Due: none

update deps for 1.14
  glide.yaml
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
