Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

bump(openshift/api): temporary manual pull of build api changes around lastTriggeredImageID
  vendor/github.com/openshift/api/build/v1/generated.pb.go
  vendor/github.com/openshift/api/build/v1/generated.proto
  vendor/github.com/openshift/api/build/v1/types.go
  vendor/github.com/openshift/api/build/v1/types_swagger_doc_generated.go
  vendor/github.com/openshift/api/build/v1/zz_generated.deepcopy.go
Due: none

move LastTriggeredImageID updates from spec to status
  pkg/build/apis/build/types.go
  pkg/build/generator/generator.go
  pkg/build/generator/generator_test.go
  pkg/image/controller/trigger/image_trigger_controller_test.go
  pkg/image/trigger/buildconfigs/buildconfigs.go
  pkg/image/trigger/buildconfigs/buildconfigs_test.go
  test/common/build/controllers.go
  test/integration/imagechange_buildtrigger_test.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

make update
  pkg/build/apis/build/v1/zz_generated.conversion.go
  pkg/build/apis/build/zz_generated.deepcopy.go
  pkg/openapi/zz_generated.openapi.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

test: Access Git over HTTPS instead of git://
  test/extended/builds/controllers.go
  test/extended/images/imagechange_buildtrigger.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/test-build-revision.json
  test/extended/testdata/builds/test-build.yaml
  test/extended/testdata/cmd/test/cmd/env.sh
  test/extended/testdata/cmd/test/cmd/testdata/app-scenarios/new-project-deployed-app.yaml
  test/extended/testdata/cmd/test/cmd/testdata/app-scenarios/new-project-no-build.yaml
  test/extended/testdata/cmd/test/cmd/testdata/app-scenarios/new-project-one-build.yaml
  test/extended/testdata/cmd/test/cmd/testdata/app-scenarios/new-project-two-deployment-configs.yaml
  test/extended/testdata/cmd/test/cmd/testdata/test-bc.yaml
  test/extended/testdata/cmd/test/cmd/testdata/test-buildcli.json
  test/extended/testdata/long_names/fixture.json
  test/extended/testdata/run_policy/parallel-bc.yaml
  test/extended/testdata/run_policy/serial-bc.yaml
  test/extended/testdata/run_policy/serial-latest-only-bc.yaml
  test/integration/testdata/test-buildcli-beta2.json
  test/integration/testdata/test-buildcli.json
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

wip
  pkg/build/builder/docker.go
Due: ci/prow/e2e-gcp-builds, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Bump to current openshift/kubernetes master
  go.mod
  go.sum
  vendor/k8s.io/apiserver/pkg/audit/request.go
  vendor/k8s.io/apiserver/pkg/endpoints/filters/BUILD
  vendor/k8s.io/apiserver/pkg/endpoints/filters/audit.go
  vendor/k8s.io/apiserver/pkg/endpoints/filters/request_received_time.go
  vendor/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
  vendor/k8s.io/apiserver/pkg/endpoints/request/BUILD
  vendor/k8s.io/apiserver/pkg/endpoints/request/received_time.go
  vendor/k8s.io/apiserver/pkg/server/config.go
  vendor/k8s.io/apiserver/pkg/server/genericapiserver.go
  vendor/k8s.io/apiserver/pkg/server/healthz.go
  vendor/k8s.io/apiserver/pkg/server/healthz/healthz.go
  vendor/k8s.io/apiserver/pkg/server/patch_genericapiserver.go
  vendor/k8s.io/apiserver/pkg/storage/etcd3/store.go
  vendor/k8s.io/kubernetes/pkg/master/controller.go
  vendor/k8s.io/kubernetes/test/e2e/scheduling/priorities.go
  vendor/k8s.io/kubernetes/test/e2e/storage/drivers/in_tree.go
  vendor/modules.txt
Due: none

Bug 1882454: test/apiserver: replace centos by ubi
  test/extended/apiserver/kubeconfigs.go
Due: none

UPSTREAM: 94144: Make offline volume expansion tests more robust
  vendor/k8s.io/kubernetes/pkg/controller/volume/expand/BUILD
  vendor/k8s.io/kubernetes/pkg/controller/volume/expand/expand_controller.go
  vendor/k8s.io/kubernetes/pkg/controller/volume/expand/expand_controller_test.go
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/volume_expand.go
Due: none

Adjust wait duration for marketplace test
  test/extended/marketplace/marketplace_labels.go
Due: none

test: Report an error message when a pod fails in a cmd test
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 1861746: perform oauthaccesstokens only on upgraded clusters
  test/extended/cli/mustgather.go
Due: none

UPSTREAM: 89160: Remove potentially unhealthy symlink only for dead containers
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/kuberuntime_gc.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/legacy.go
  vendor/k8s.io/kubernetes/pkg/kubelet/remote/remote_runtime.go
Due: ci/prow/gcp-crio

add a security test to verify capabilities
  test/extended/security/scc.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Fix generated test annotations
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: extended: add Late systemd timeout test
  test/extended/include.go
  test/extended/pods/systemd.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bump(github.com/openshift/kubernetes)
  go.mod
  go.sum
  vendor/k8s.io/apiserver/pkg/audit/request.go
  vendor/k8s.io/apiserver/pkg/server/patch_genericapiserver.go
  vendor/k8s.io/kubernetes/openshift-hack/e2e/annotate/annotate.go
  vendor/modules.txt
Due: none

make update
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

[WIP] DNM - Debug PR to collect OVN debug data
  vendor/k8s.io/kubernetes/test/e2e/network/network_policy.go
Due: none

refactor synthetic test creation from monitor
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/synthentic_tests.go
Due: none

add junit for illegal pod state transitions
  pkg/test/ginkgo/synthentic_tests.go
Due: none

Update upgrade testmatching from [Suite:openshift] => not [Suite:k8s]
  cmd/openshift-tests/upgrade.go
Due: none

test: add more debug info when we fail to wait for service account
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

add test for failing network sandbox creation
  pkg/test/ginkgo/synthentic_tests.go
Due: none

add test for systemd timeouts
  pkg/test/ginkgo/synthentic_tests.go
Due: none

extended/apiserver: add test looking out for GracefulTerminationTimeout events
  test/extended/apiserver/graceful_termination.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

hostindex: Passthrough displaces path-based TLS
  pkg/router/controller/hostindex/activation.go
  pkg/router/controller/hostindex/hostindex_test.go
Due: none

hostindex: Path-based TLS displaces passthrough
  pkg/router/controller/hostindex/activation.go
  pkg/router/controller/hostindex/hostindex_test.go
Due: none

Try to promote inactive routes following route deletion
  pkg/router/controller/hostindex/hostindex.go
Due: none

Fix Cinder e2e tests not to leak volumes
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/test/e2e/storage/drivers/in_tree.go
  vendor/modules.txt
Due: none

UPSTREAM: 94881: e2e: skip write/read cache when running Block-mode RWX PVC tests
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/test/e2e/framework/pod/create.go
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/multivolume.go
  vendor/k8s.io/kubernetes/test/e2e/storage/utils/utils.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: none

image_ecosystem: reinstate nodejs test with postgresql based app
  test/extended/image_ecosystem/sample_repos.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

add a full e2e test for a multi-arch operator
  test/extended/operators/olm.go
  test/extended/testdata/bindata.go
  test/extended/testdata/olm/catalogsource.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add a new baseline performance test
  test/extended/baseline/baseline.go
  test/extended/include.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

skip service type load balancer upgrade test on ovirt
  test/e2e/upgrade/service/service.go
Due: none

Add a new FIPS test
  test/extended/security/fips.go
  test/extended/topology_manager/utils.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/pods.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

hello-openshift: fix base images
  images/hello-openshift/Dockerfile.rhel
Due: none

images/hello-openshift: Add OWNERS file
  images/hello-openshift/OWNERS
Due: none

examples/hello-openshift: Update OWNERS
  examples/hello-openshift/OWNERS
Due: none

examples/prometheus: remove instructions on how to deploy a custom Prometheus
  examples/prometheus/OWNERS
  examples/prometheus/README.md
  examples/prometheus/node-exporter.yaml
  examples/prometheus/prometheus-standalone.yaml
  examples/prometheus/prometheus.yaml
Due: none

Awaiting for operators rollout to complete
  test/extended/images/imagestreamimport.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds
