Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

UPSTREAM: 89833: go run k8s.io/publishing-bot/cmd/godeps-gen <(go list -m -json all | jq 'select(.Version!=v0.0.0)') > Godeps/Godeps.json
  vendor/k8s.io/kubernetes/Godeps/Godeps.json
  vendor/k8s.io/kubernetes/go.mod
  vendor/k8s.io/kubernetes/go.sum
Due: none

UPSTREAM: 89833: Preserve int/float distinction when decoding raw values
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/schema/goopenapi_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/test/integration/defaulting_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/json/json.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/json/json_test.go
Due: none

OCP-24587-Add InstallPlan conditions to Subscription status
  test/extended/testdata/olm/catalogSource.yaml
Due: none

OCP-24587 olm.go
  test/extended/operators/olm.go
  test/extended/testdata/bindata.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCP-21534-Check OperatorGroups on console
  test/extended/operators/olm.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

add sleep to OCP-24587
  test/extended/operators/olm.go
Due: none

test/extended/router: add grpc-interop e2e test
  test/extended/router/grpc-interop.go
  test/extended/router/grpc-interop/Makefile
  test/extended/router/grpc-interop/README
  test/extended/router/grpc-interop/clientconn.go
  test/extended/router/grpc-interop/cluster/client/client.go
  test/extended/router/grpc-interop/cluster/go.mod
  test/extended/router/grpc-interop/cluster/go.sum
  test/extended/router/grpc-interop/cluster/server/server.go
  test/extended/router/grpc-interop/test-fixture-gen/gen.go
  test/extended/router/grpc-interop/test_utils.go
  test/extended/router/grpc-interop/testcases.go
  test/extended/testdata/router/router-grpc-interop.yaml
Due: ci/prow/artifacts, ci/prow/cross

test/extended/router: update bindata
  test/extended/testdata/bindata.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCP-21534-Check OperatorGroups on console
  test/extended/operators/olm.go
Due: none

OCP-24075-The couchbase packagemanifest
  test/extended/operators/olm.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Simplify Makefile
  test/extended/router/grpc-interop/Makefile
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: <carry>: Allow test images to be in a single mirror
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
Due: none

test: Enable mirroring test images to a different repository
  cmd/openshift-tests/images.go
  cmd/openshift-tests/openshift-tests.go
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

Fix govet errors
  test/extended/router/grpc-interop/test_utils.go
Due: none

UPSTREAM: 90254: IngressClass error test is flaky
  vendor/k8s.io/kubernetes/test/e2e/network/ingressclass.go
Due: none

UPSTREAM: 90286: PriorityClass tests can cause preemptions
  vendor/k8s.io/kubernetes/test/e2e/apimachinery/resource_quota.go
Due: none

UPSTREAM: 90234: Remove PreStop hook from hostpath CSI driver
  vendor/k8s.io/kubernetes/test/e2e/generated/bindata.go
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-attacher.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-driverinfo.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-provisioner.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-resizer.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-snapshotter.yaml
Due: none

e2e requestheaders idp: fix ingress CA cert location
  test/extended/oauth/requestheaders.go
Due: none

Introduce IBMCloud provider, skip/fix tests
  test/extended/apiserver/root_403.go
  test/extended/authentication/front_proxy.go
  test/extended/cli/mustgather.go
  test/extended/csrapprover/csrapprover.go
  test/extended/etcd/etcd_test_runner.go
  test/extended/machines/machines.go
  test/extended/machines/scale.go
  test/extended/oauth/oauthcertfallback.go
  test/extended/oauth/requestheaders.go
  test/extended/oauth/well_known.go
  test/extended/prometheus/prometheus.go
  test/extended/prometheus/prometheus_builds.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
  test/extended/util/client.go
  test/extended/util/framework.go
  test/extended/util/ibmcloud/provider.go
  test/extended/util/oauthserver/oauthserver.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCP-23673 Install/unistall operators via Marketplace for 20 times
  test/extended/operators/olm.go
  test/extended/testdata/bindata.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCP-23673 Install/unistall operators via Marketplace for 20 times
  test/extended/testdata/olm/prometheus-subscription.yaml
Due: none

UPSTREAM: 00000: improve CRD publishing e2e tests in an HA setup
  vendor/k8s.io/kubernetes/test/e2e/apimachinery/crd_publish_openapi.go
Due: none

UPSTREAM: 00000: refactor CRD publishing e2e tests
  vendor/k8s.io/kubernetes/test/e2e/apimachinery/crd_publish_openapi.go
Due: none

UPSTREAM: 90147: relax zone requirement from e2e
  vendor/k8s.io/kubernetes/test/e2e/storage/drivers/in_tree.go
Due: none

Test timing of SA pull secret creation
  test/extended/controller_manager/pull_secret.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 1826071: [marketplace] Remove CSC related tests
  test/extended/marketplace/marketplace_diffname.go
  test/extended/marketplace/marketplace_labels.go
Due: none

Bug 1826033: Ignore ImagePruningDisabled alert
  test/extended/prometheus/prometheus.go
Due: none

Enable GCE CSI driver test
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test/extended/prometheus: ensure multus exposes metrics over TLS
  test/extended/prometheus/prometheus.go
Due: none

Remove unused test match
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Hack to test CI
  cmd/openshift-tests/openshift-tests.go
Due: none

Auto the watches about the sources of opsrc and csc
  test/extended/marketplace/marketplace_utils.go
  test/extended/marketplace/marketplace_watchsource.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

WIP: kubelet dynamic network readiness
  vendor/k8s.io/kubernetes/pkg/kubelet/apis/config/types.go
  vendor/k8s.io/kubernetes/pkg/kubelet/apis/config/v1beta1/zz_generated.conversion.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/lifecycle/handlers.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kubelet/config/v1beta1/types.go
Due: ci/prow/gcp-crio

Enables secure metrics tests for dns
  test/extended/prometheus/prometheus.go
Due: none

e2e: wait longer for authn operator to come up
  test/extended/oauth/requestheaders.go
Due: none

HACK for testing
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/lifecycle/handlers.go
Due: ci/prow/gcp-crio

Add test to CSI test suite to make sure CVO is running
  cmd/openshift-tests/e2e.go
  test/extended/csi/certification.go
  test/extended/include.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bump timeout for cluster to get back to original size
  test/extended/machines/scale.go
Due: none

unskip template extended tests
  test/extended/templates/template.go
  test/extended/templates/templateinstance_cross_namespace.go
  test/extended/templates/templateinstance_fail.go
  test/extended/templates/templateinstance_impersonation.go
  test/extended/templates/templateinstance_objectkinds.go
  test/extended/templates/templateinstance_readiness.go
  test/extended/templates/templateinstance_security.go
  test/extended/templates/templateservicebroker_bind.go
  test/extended/templates/templateservicebroker_e2e.go
  test/extended/templates/templateservicebroker_security.go
Due: none
