Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
      - --template=/usr/local/e2e-aws-image-ecosystem
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

builds - Increase RAM for OOMKilled test.
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/statusfail-oomkilled.yaml
Due: ci/openshift-jenkins/extended_builds

Drop duplicate copy of NetworkPolicy tests
  test/extended/networking/networkpolicy.go
Due: none

Gate extended tests on operators reporting available
  test/extended/operators/operators.go
Due: none

UPSTREAM: 0000: MORE DEBUG
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiservice_controller.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/controller.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/downloader.go
Due: none

UPSTREAM: 00000: kube-aggregator: do not merge unchanged spec
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator.go
Due: none

allow the kube-apiserver sa token public keys to be a directory
  pkg/cmd/openshift-kube-apiserver/cmd.go
  pkg/cmd/openshift-kube-apiserver/configdefault/kubecontrolplane_default.go
Due: none

cmd: set user-agent for openshift apiserver and controller manager
  pkg/cmd/openshift-apiserver/openshiftapiserver/config.go
  pkg/cmd/openshift-controller-manager/cmd.go
Due: none

UPSTREAM: <carry>: set user-agent for kube components
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/options/options.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/deprecated_insecure_serving.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/serving_with_loopback.go
Due: none

re-disable authorization.openshift.io/RestrictSubjectBindings until we skip it properly
  pkg/cmd/openshift-kube-apiserver/kubeadmission/register.go
Due: none

UPSTREAM: 73345: discovery: speedup kubectl restmapper cache misses
  vendor/k8s.io/kubernetes/pkg/controller/garbagecollector/garbagecollector_test.go
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/top_pod_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/discovery/cached/memcache.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/discovery/cached_discovery.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/discovery/cached_discovery_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/discovery/discovery_client.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/discovery/fake/discovery.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/restmapper/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/restmapper/discovery.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/restmapper/discovery_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/restmapper/shortcut_test.go
Due: none

bump imagestream wait for sample operator not gating install completion
  test/extended/util/framework.go
Due: none

images/node: remove kernel modules and other unnecessary packages
  images/node/Dockerfile
  origin.spec
Due: none

Add smoke test for machine-api
  test/extended/include.go
  test/extended/machines/machines.go
Due: none

UPSTREAM: <carry>: priorize some CRD groups over others
  vendor/k8s.io/kubernetes/pkg/master/controller/crdregistration/crdregistration_controller.go
  vendor/k8s.io/kubernetes/pkg/master/controller/crdregistration/patch.go
Due: none

Added router test to check if openshift-monitoring is able to pull haproxy metrics
  test/extended/router/metrics.go
Due: none

update external examples
  examples/image-streams/image-streams-centos7.json
  examples/image-streams/image-streams-rhel7.json
  examples/quickstarts/dotnet-pgsql-persistent.json
  examples/quickstarts/dotnet.json
  test/cmd/debug.sh
  test/cmd/images.sh
  test/cmd/newapp.sh
  test/extended/testdata/bindata.go
Due: ci/prow/e2e-aws-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem

switch to unprivileged pods for builds
  pkg/build/controller/strategy/docker.go
  pkg/build/controller/strategy/sti.go
Due: ci/openshift-jenkins/extended_builds

hack/update-generated-swagger-spec.sh: normalize indention of spec through jq
  hack/update-generated-swagger-spec.sh
Due: ci/prow/artifacts, ci/prow/cross

Fixup after library-go bump
  pkg/cmd/server/admin/create_signercert.go
Due: none

hack/openapi-violation.list: sort
  hack/openapi-violation.list
  hack/update-generated-openapi.sh
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 71223: openapi-aggregation: speed up merging from 1 sec to 50-100 ms
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/types_jsonschema.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/openapi/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/openapi/openapi.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/openapi/openapi_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/genericapiserver_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/aggregator.go
Due: none

openapi: add spec roundtrip test
  pkg/openapi/openapi_test.go
Due: none

hack/update-generated-openapi.sh: use built-in diff
  hack/update-generated-openapi.sh
Due: ci/prow/artifacts, ci/prow/cross

Update openapi spec
  hack/openapi-violation.list
  pkg/openapi/zz_generated.openapi.go
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 62467: fix nsenter GetFileType issue in containerized kubelet
  vendor/k8s.io/kubernetes/pkg/util/mount/nsenter_mount.go
Due: none

UPSTREAM: <carry>: allow to override command name
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/rest/config.go
Due: none

keep events for three hours
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/flags.go
Due: none

Read Additional CAs from image.config.openshift.io
  pkg/build/controller/build/build_controller.go
  pkg/build/controller/build/build_controller_test.go
  pkg/cmd/openshift-controller-manager/controller/build.go
Due: ci/openshift-jenkins/extended_builds

use config enablement option
  test/integration/admissionconfig_test.go
  test/integration/etcd_storage_path_test.go
  test/integration/restrictusers_test.go
  test/util/server/server.go
Due: none

use the new enable/disable fields for admission
  pkg/cmd/openshift-apiserver/openshiftapiserver/config.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/flags.go
  pkg/configconversion/legacyconfig_conversion.go
  pkg/configconversion/simple.go
Due: none

enable all plugins that require config to actualkly do work
  pkg/cmd/openshift-apiserver/openshiftadmission/chain_builder.go
  pkg/cmd/openshift-apiserver/openshiftadmission/register.go
  pkg/cmd/openshift-kube-apiserver/kubeadmission/register.go
Due: none

generated
  hack/openapi-violation.list
  pkg/openapi/zz_generated.openapi.go
Due: ci/prow/artifacts, ci/prow/cross

Allow an administrator to debug a node by launching a tools pod on that node
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
  pkg/oc/cli/debug/debug.go
Due: none

remove legacy names for network admission plugins
  pkg/cmd/openshift-kube-apiserver/kubeadmission/register.go
  pkg/cmd/server/apis/config/install/install.go
  pkg/service/admission/apis/externalipranger/install/install.go
  pkg/service/admission/apis/externalipranger/register.go
  pkg/service/admission/apis/externalipranger/v1/register.go
  pkg/service/admission/apis/restrictedendpoints/install/install.go
  pkg/service/admission/apis/restrictedendpoints/register.go
  pkg/service/admission/apis/restrictedendpoints/v1/register.go
  pkg/service/admission/externalipranger/deprecated_register.go
  pkg/service/admission/restrictedendpoints/deprecated_register.go
Due: none

Keep the Dockerfile up to date with a build version
  Makefile
  hack/update-generated-versions.sh
  hack/verify-generated-versions.sh
  images/hyperkube/Dockerfile
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 00000: wait for apiservices on startup
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Due: none

release: Allow version strings to be replaced during release creation
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
  pkg/oc/cli/admin/release/image_mapper.go
  pkg/oc/cli/admin/release/image_mapper_test.go
  pkg/oc/cli/admin/release/new.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
