Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-builds-cluster-profile
      - --target=e2e-aws-builds
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-registry-cluster-profile
      - --target=e2e-aws-image-registry
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

UPSTREAM: 0000: Fix scheduler test race
  vendor/k8s.io/kubernetes/pkg/scheduler/internal/queue/scheduling_queue_test.go
Due: none

Bug 1718412: client switch between 3.7 and 3.9 broke creation of cluster level resources; ensure namespace is empty string for cluster level resources
  staging/src/github.com/openshift/openshift-controller-manager/pkg/template/controller/templateinstance_controller.go
Due: none

Fix egress monitoring for some rare corner cases.
  pkg/network/node/vxlan_monitor.go
Due: none

Disable broken test: DISABLEDTestRegistryClientAPIv1
  test/integration/dockerregistryclient_test.go
Due: none

bump
  glide.lock
  vendor/github.com/openshift/api/image/v1/consts.go
  vendor/github.com/openshift/library-go/pkg/image/imageutil/helpers.go
Due: none

switch to library-go image helpers
  pkg/apps/apiserver/registry/deploylog/rest.go
  pkg/build/apiserver/buildgenerator/generator.go
  pkg/build/controller/build/build_controller.go
  pkg/image/apiserver/admission/limitrange/usage.go
  pkg/image/apiserver/registry/imagestreamimage/rest.go
  pkg/image/apiserver/registry/imagestreamtag/rest.go
  pkg/image/controller/imagestream_controller.go
  pkg/image/controller/metrics.go
  pkg/image/controller/signature/container_image_downloader.go
  pkg/image/controller/trigger/image_trigger_controller.go
  pkg/image/internalimageutil/helpers.go
  pkg/image/util/helpers.go
  pkg/image/util/helpers_test.go
  pkg/oc/cli/admin/mustgather/mustgather.go
  pkg/oc/cli/admin/prune/imageprune/prune.go
  pkg/oc/cli/admin/top/images.go
  pkg/oc/cli/admin/top/imagestreams.go
  pkg/oc/cli/debug/debug.go
  pkg/oc/cli/newapp/newapp.go
  pkg/oc/cli/tag/tag.go
  pkg/oc/lib/describe/describer.go
  pkg/oc/lib/describe/helpers.go
  pkg/oc/lib/newapp/app/builder.go
  pkg/oc/lib/newapp/app/dockerimagelookup.go
  pkg/oc/lib/newapp/app/imageref.go
  pkg/oc/lib/newapp/app/imagestreamlookup.go
  pkg/oc/lib/newapp/cmd/describe.go
  pkg/oc/lib/newapp/cmd/newapp.go
  pkg/oc/lib/ocimageutil/helpers.go
  pkg/quota/image/imagestreamtag_evaluator.go
  staging/src/github.com/openshift/oc/pkg/helpers/graph/buildgraph/analysis/bc.go
  staging/src/github.com/openshift/oc/pkg/helpers/image/constants.go
  staging/src/github.com/openshift/oc/pkg/helpers/image/helpers.go
  staging/src/github.com/openshift/oc/pkg/helpers/image/helpers_test.go
  test/extended/deployments/util.go
  test/extended/images/helper.go
Due: ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_registry

move ocm leaves
  pkg/cmd/openshift-controller-manager/controller/build.go
  pkg/cmd/openshift-controller-manager/controller/image.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/build/controller/build/build_controller.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/build/controller/build/build_controller_test.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/build/controller/build/buildupdate.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/build/controller/build/buildupdate_test.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/build/controller/build/doc.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/build/controller/build/podcreationstrategy.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/build/controller/build/podcreationstrategy_test.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/image/controller/factory.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/image/controller/imagestream_controller.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/image/controller/imagestream_controller_test.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/image/controller/metrics.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/image/controller/scheduled_image_controller.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/image/controller/scheduled_image_controller_test.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/image/controller/scheduler.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/image/controller/scheduler_test.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/image/controller/signature/container_image_downloader.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/image/controller/signature/signature_import_controller.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/image/controller/signature/signature_import_controller_test.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/image/controller/trigger/cache.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/image/controller/trigger/image_trigger_controller.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/image/controller/trigger/image_trigger_controller_test.go
Due: none

remove quota to images dependency
  pkg/image/apiserver/admission/limitrange/admission_test.go
  pkg/image/apiserver/admission/limitrange/imagestream_limits_test.go
  pkg/image/apiserver/admission/limitrange/usage_test.go
  pkg/image/apiserver/registry/imagestream/strategy_test.go
  pkg/image/apiserver/testutil/util.go
  pkg/quota/image/imagestreamimport_evaluator_test.go
  pkg/quota/image/imagestreamtag_evaluator_test.go
  test/integration/imagestream_admission_test.go
  test/integration/imagestream_test.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

remove oc dependency on internal route types
  hack/import-restrictions.json
  pkg/oc/cli/newapp/newapp.go
  pkg/oc/lib/describe/describer.go
  pkg/oc/lib/newapp/app/pipeline.go
Due: ci/prow/artifacts, ci/prow/cross

remove shared quota dependency that depends on k/k
  pkg/cmd/openshift-controller-manager/controller/quota.go
  pkg/quota/image/imagestreamimport_evaluator.go
  pkg/quota/image/imagestreamtag_evaluator.go
  pkg/quota/quotaimageexternal/imagestreamimport_evaluator.go
  pkg/quota/quotaimageexternal/imagestreamimport_evaluator_test.go
  pkg/quota/quotaimageexternal/imagestreamtag_evaluator.go
  pkg/quota/quotaimageexternal/imagestreamtag_evaluator_test.go
  pkg/quota/quotaimageexternal/registry.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/quota/quotaimageexternal/imagestreamimport_evaluator.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/quota/quotaimageexternal/imagestreamimport_evaluator_test.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/quota/quotaimageexternal/imagestreamtag_evaluator.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/quota/quotaimageexternal/imagestreamtag_evaluator_test.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/quota/quotaimageexternal/registry.go
Due: none

remove some internal clients from integration tests
  test/integration/auth_proxy_test.go
  test/integration/build_admission_test.go
  test/integration/cli_get_token_test.go
  test/integration/clusterquota_test.go
  test/integration/deploy_trigger_test.go
  test/integration/front_proxy_test.go
  test/integration/imagechange_buildtrigger_test.go
  test/integration/oauth_basicauth_test.go
  test/integration/oauth_cert_fallback_test.go
  test/integration/oauth_expiration_test.go
  test/integration/oauth_external_test.go
  test/integration/oauth_htpasswd_test.go
  test/integration/oauth_ldap_test.go
  test/integration/oauth_request_header_test.go
  test/integration/oauth_serviceaccount_client_test.go
  test/integration/oauth_timeout_test.go
  test/integration/oauth_token_endpoint_test.go
  test/integration/project_reqlimit_test.go
  test/integration/project_request_test.go
  test/integration/project_test.go
  test/integration/scc_test.go
  test/integration/scopes_test.go
  test/integration/unprivileged_newproject_test.go
  test/integration/webhook_token_auth_test.go
  test/util/helpers.go
Due: none

remove on dependency on internal project type
  hack/import-restrictions.json
  pkg/oc/cli/admin/project/new_project.go
Due: ci/prow/artifacts, ci/prow/cross

move flagtypes to point of use
  cmd/oc/oc.go
  cmd/openshift-sdn/openshift-sdn.go
  cmd/openshift-tests/openshift-tests.go
  cmd/openshift/openshift.go
  pkg/cmd/flagtypes/doc.go
  pkg/cmd/flagtypes/glog.go
  pkg/cmd/flagtypes/net.go
  pkg/cmd/openshift/openshift.go
  pkg/oc/cli/cli.go
  pkg/oc/cli/login/login.go
  staging/src/github.com/openshift/oc/pkg/helpers/flagtypes/addr.go
  staging/src/github.com/openshift/oc/pkg/helpers/flagtypes/addr_test.go
  test/util/server/deprecated_openshift/start/master_args.go
  test/util/server/deprecated_openshift/start/options/kube_connection_args.go
  test/util/server/deprecated_openshift/start/options/listen_arg.go
Due: none

fix template version
  test/extended/testdata/bindata.go
  test/integration/testdata/project-request-template-with-quota.yaml
  test/testdata/jenkins-template.json
Due: none

move last openshift-controller-manager to staging
  cmd/hypershift/main.go
  hack/import-restrictions.json
  hack/verify-imports.sh
  pkg/cmd/openshift-network-controller/network_controller.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/apiserver_authenticator.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/apiserver_handlers.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/apps.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/authorization.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/build.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/config.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/image.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/ingress.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/interfaces.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/net.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/net_test.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/network.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/project.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/quota.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/security.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/serviceaccount.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/standalone_apiserver.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/template.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/controller/unidling.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/openshift-controller-manager/cmd.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/openshift-controller-manager/controller_manager.go
  staging/src/github.com/openshift/openshift-controller-manager/pkg/cmd/openshift-controller-manager/openshiftcontrolplane_default.go
  test/util/server/server.go
Due: ci/prow/artifacts, ci/prow/cross

remove some internal clients from integration tests
  test/extended/testdata/bindata.go
  test/integration/auth_proxy_test.go
  test/integration/build_admission_test.go
  test/integration/cli_get_token_test.go
  test/integration/clusterquota_test.go
  test/integration/deploy_trigger_test.go
  test/integration/front_proxy_test.go
  test/integration/imagechange_buildtrigger_test.go
  test/integration/oauth_basicauth_test.go
  test/integration/oauth_cert_fallback_test.go
  test/integration/oauth_expiration_test.go
  test/integration/oauth_external_test.go
  test/integration/oauth_htpasswd_test.go
  test/integration/oauth_ldap_test.go
  test/integration/oauth_request_header_test.go
  test/integration/oauth_serviceaccount_client_test.go
  test/integration/oauth_timeout_test.go
  test/integration/oauth_token_endpoint_test.go
  test/integration/project_reqlimit_test.go
  test/integration/project_request_test.go
  test/integration/project_test.go
  test/integration/scc_test.go
  test/integration/scopes_test.go
  test/integration/testdata/project-request-template-with-quota.yaml
  test/integration/unprivileged_newproject_test.go
  test/integration/webhook_token_auth_test.go
  test/testdata/jenkins-template.json
  test/util/helpers.go
Due: none

add well-known endpoint e2e
  test/extended/oauth/well_known.go
Due: none

UPSTREAM: 78869: cache mutation detector: use correct diff function
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/tools/cache/mutation_detector.go
Due: none

snip some easy API links from oc
  pkg/oc/cli/newapp/newapp.go
  pkg/oc/cli/startbuild/startbuild.go
  pkg/oc/lib/describe/deployments.go
  pkg/oc/lib/newapp/app/pipeline.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

Convert OAuth cert fallback test to e2e
  test/extended/oauth/oauthcertfallback.go
  test/integration/oauth_cert_fallback_test.go
Due: none

Bug 1713982: client switch between 3.7 and 3.9 broke creation of cluster level resources; ensure namespace is empty string for cluster level resources
  pkg/template/controller/templateinstance_controller.go
Due: none

Bug 1719044: client switch between 3.7 and 3.9 broke creation of cluster level resources; ensure namespace is empty string for cluster level resources
  pkg/template/controller/templateinstance_controller.go
Due: none

remove oc dependencies on internal image types
  hack/import-restrictions.json
  pkg/oc/cli/admin/migrate/images/imagerefs.go
  pkg/oc/cli/admin/verifyimagesignature/verify-signature.go
  pkg/oc/cli/newapp/newapp.go
  pkg/oc/lib/newapp/app/app_test.go
  pkg/oc/lib/newapp/app/dockerimagelookup.go
  pkg/oc/lib/newapp/app/imageref.go
  pkg/oc/lib/newapp/app/imageref_test.go
  pkg/oc/lib/newapp/app/imagestreamlookup.go
  pkg/oc/lib/newapp/app/imagestreamlookup_test.go
  pkg/oc/lib/newapp/app/pipeline.go
  pkg/oc/lib/newapp/cmd/newapp_test.go
  pkg/oc/lib/ocimageutil/helpers.go
Due: ci/prow/artifacts, ci/prow/cross

auto for ocp-19922
  test/extended/deployments/deployments.go
  test/extended/testdata/bindata.go
  test/extended/testdata/deployments/deployment-shutdown-graceful.yaml
Due: none

Move pkg/oc/lib/describe to staging
  staging/src/github.com/openshift/oc/pkg/helpers/describe/chaindescriber.go
  staging/src/github.com/openshift/oc/pkg/helpers/describe/chaindescriber_test.go
  staging/src/github.com/openshift/oc/pkg/helpers/describe/deployments.go
  staging/src/github.com/openshift/oc/pkg/helpers/describe/deployments_test.go
  staging/src/github.com/openshift/oc/pkg/helpers/describe/describer.go
  staging/src/github.com/openshift/oc/pkg/helpers/describe/describer_test.go
  staging/src/github.com/openshift/oc/pkg/helpers/describe/helpers.go
  staging/src/github.com/openshift/oc/pkg/helpers/describe/helpers_test.go
  staging/src/github.com/openshift/oc/pkg/helpers/describe/projectstatus.go
  staging/src/github.com/openshift/oc/pkg/helpers/describe/projectstatus_test.go
Due: none

Move originpolymorphihelpers to staging
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/attachablepodforobject.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/canbeexposed.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/defaultgenerators.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/deploymentconfigs/OWNERS
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/deploymentconfigs/generate.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/deploymentconfigs/history.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/deploymentconfigs/logs.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/deploymentconfigs/rollback.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/deploymentconfigs/status.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/describer.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/historyviewer.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/logsforobject.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/mapbasedselectorforobject.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/objectpauser.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/objectresumer.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/portsforobject.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/protocolsforobject.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/rollbacker.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/statusviewer.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/updatepodspec.go
Due: none

Merge pkg/oc/lib/ocimageutil with staging image helpers
  pkg/oc/lib/ocimageutil/helpers.go
  staging/src/github.com/openshift/oc/pkg/helpers/image/helpers.go
Due: none

React to moves - boring
  hack/import-restrictions.json
  pkg/oc/cli/admin/buildchain/buildchain.go
  pkg/oc/cli/admin/migrate/images/imagerefs_test.go
  pkg/oc/cli/importimage/importimage.go
  pkg/oc/cli/newapp/newapp.go
  pkg/oc/cli/process/process.go
  pkg/oc/cli/set/volume_test.go
  pkg/oc/cli/shim_kubectl.go
  pkg/oc/cli/status/status.go
  pkg/oc/lib/newapp/app/builder.go
  pkg/oc/lib/newapp/app/dockerimagelookup.go
  pkg/oc/lib/newapp/app/imagestreamlookup.go
  pkg/oc/lib/newapp/cmd/describe.go
  staging/src/github.com/openshift/oc/pkg/helpers/describe/chaindescriber_test.go
  staging/src/github.com/openshift/oc/pkg/helpers/describe/deployments.go
  staging/src/github.com/openshift/oc/pkg/helpers/describe/projectstatus_test.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/defaultgenerators.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/describer.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/historyviewer.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/logsforobject.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/rollbacker.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/statusviewer.go
Due: ci/prow/artifacts, ci/prow/cross

Bug 1717734, 1717737: tests: enable dns/ingress clusteroperator cases
  test/extended/operators/clusteroperators.go
Due: none

Re-enable iSCSI e2e test
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: 73739: Parallelize iSCSI tests
  vendor/k8s.io/kubernetes/test/e2e/framework/volume_util.go
  vendor/k8s.io/kubernetes/test/e2e/storage/drivers/in_tree.go
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/volumes.go
  vendor/k8s.io/kubernetes/test/images/volume/iscsi/Dockerfile
  vendor/k8s.io/kubernetes/test/images/volume/iscsi/VERSION
  vendor/k8s.io/kubernetes/test/images/volume/iscsi/create_block.sh
  vendor/k8s.io/kubernetes/test/images/volume/iscsi/initiatorname.iscsi
  vendor/k8s.io/kubernetes/test/images/volume/iscsi/run_iscsi_target.sh
  vendor/k8s.io/kubernetes/test/images/volume/iscsi/run_iscsid.sh
  vendor/k8s.io/kubernetes/test/images/volume/iscsi/saveconfig.json
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
Due: none

remove `oc adm policy reconcile-sccs` command
  hack/import-restrictions.json
  pkg/oc/cli/admin/policy/policy.go
  pkg/oc/cli/admin/policy/reconcile_sccs.go
  pkg/oc/cli/admin/policy/reconcile_sccs_test.go
  test/cmd/admin.sh
Due: ci/prow/artifacts, ci/prow/cross

update generated completions
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
Due: none

Add SKIP_TESTS envvar to allow openshift-tests skip tests matching a text
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

remove use of internal user client
  hack/update-generated-clientsets.sh
  pkg/user/generated/internalclientset/clientset.go
  pkg/user/generated/internalclientset/doc.go
  pkg/user/generated/internalclientset/fake/clientset_generated.go
  pkg/user/generated/internalclientset/fake/doc.go
  pkg/user/generated/internalclientset/fake/register.go
  pkg/user/generated/internalclientset/scheme/doc.go
  pkg/user/generated/internalclientset/scheme/register.go
  pkg/user/generated/internalclientset/typed/user/internalversion/doc.go
  pkg/user/generated/internalclientset/typed/user/internalversion/fake/doc.go
  pkg/user/generated/internalclientset/typed/user/internalversion/fake/fake_group.go
  pkg/user/generated/internalclientset/typed/user/internalversion/fake/fake_identity.go
  pkg/user/generated/internalclientset/typed/user/internalversion/fake/fake_user_client.go
  pkg/user/generated/internalclientset/typed/user/internalversion/fake/fake_useridentitymapping.go
  pkg/user/generated/internalclientset/typed/user/internalversion/fake/fake_userresource.go
  pkg/user/generated/internalclientset/typed/user/internalversion/generated_expansion.go
  pkg/user/generated/internalclientset/typed/user/internalversion/group.go
  pkg/user/generated/internalclientset/typed/user/internalversion/identity.go
  pkg/user/generated/internalclientset/typed/user/internalversion/user_client.go
  pkg/user/generated/internalclientset/typed/user/internalversion/useridentitymapping.go
  pkg/user/generated/internalclientset/typed/user/internalversion/userresource.go
  test/extended/templates/helpers.go
  test/extended/templates/templateinstance_impersonation.go
  test/extended/templates/templateinstance_security.go
  test/extended/templates/templateservicebroker_security.go
  test/extended/util/cli.go
  test/integration/groups_test.go
  test/integration/unprivileged_newproject_test.go
  test/util/client.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/cross

remove internal template client
  hack/update-generated-clientsets.sh
  pkg/template/generated/internalclientset/clientset.go
  pkg/template/generated/internalclientset/doc.go
  pkg/template/generated/internalclientset/fake/clientset_generated.go
  pkg/template/generated/internalclientset/fake/doc.go
  pkg/template/generated/internalclientset/fake/register.go
  pkg/template/generated/internalclientset/scheme/doc.go
  pkg/template/generated/internalclientset/scheme/register.go
  pkg/template/generated/internalclientset/typed/template/internalversion/brokertemplateinstance.go
  pkg/template/generated/internalclientset/typed/template/internalversion/doc.go
  pkg/template/generated/internalclientset/typed/template/internalversion/fake/doc.go
  pkg/template/generated/internalclientset/typed/template/internalversion/fake/fake_brokertemplateinstance.go
  pkg/template/generated/internalclientset/typed/template/internalversion/fake/fake_template_client.go
  pkg/template/generated/internalclientset/typed/template/internalversion/fake/fake_templateinstance.go
  pkg/template/generated/internalclientset/typed/template/internalversion/fake/fake_templateresource.go
  pkg/template/generated/internalclientset/typed/template/internalversion/generated_expansion.go
  pkg/template/generated/internalclientset/typed/template/internalversion/template_client.go
  pkg/template/generated/internalclientset/typed/template/internalversion/templateinstance.go
  pkg/template/generated/internalclientset/typed/template/internalversion/templateresource.go
  test/extended/templates/templateinstance_cross_namespace.go
  test/extended/templates/templateinstance_impersonation.go
  test/extended/templates/templateinstance_objectkinds.go
  test/extended/templates/templateinstance_security.go
  test/extended/templates/templateservicebroker_bind.go
  test/extended/templates/templateservicebroker_e2e.go
  test/extended/templates/templateservicebroker_security.go
  test/extended/util/cli.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/cross

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
