Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

openshift-tests: fix a --provider --dry-run edge case
  cmd/openshift-tests/provider.go
Due: none

DO NOT MERGE: Output pod.status when it regresses from running to pending
  pkg/monitor/pod.go
Due: none

Skip ClientSecretWithPlus test that uses oauth-openshift route for ibm clusters
  test/extended/oauth/client_secret.go
Due: none

test: Associate ClusterOperatorDown for machine-config with bug
  test/e2e/upgrade/alert/alert.go
Due: none

Update node-states section in e2echart with roles info
  e2echart/e2e-chart-template.html
  pkg/monitor/event.go
  pkg/monitor/intervalcreation/node.go
  pkg/monitor/intervalcreation/node_test.go
  pkg/monitor/intervalcreation/testdata/node.json
  pkg/monitor/monitorapi/identification_node.go
  pkg/monitor/monitorapi/identification_node_test.go
  pkg/monitor/node.go
  pkg/monitor/node_test.go
  test/extended/testdata/bindata.go
Due: none

test: Add the Cinder client to the test image
  images/tests/Dockerfile.rhel
Due: none

test: Suppress the SCC failure when a limit is present
  test/extended/authorization/scc.go
Due: none

test/extended/router/idle: Only run on OVNKubernetes or OpenShiftSDN
  test/extended/router/idle.go
Due: none

fix test README link
  test/extended/README.md
Due: none

Bug 1957927: test/e2e/upgrade/upgrade.go: Bump upgrade ACK timeout to 4 minutes
  test/e2e/upgrade/upgrade.go
Due: none

Bug 1957295: ignore must-gather pods when checking priorityclasses
  test/extended/pods/priorityclasses.go
Due: none

Jenkins removal
  test/extended/builds/pipeline_jenkins_e2e.go
  test/extended/builds/pipeline_origin_bld.go
  test/extended/builds/pipeline_origin_bld_rhelimagesonly.go
  test/extended/util/jenkins/monitor.go
  test/extended/util/jenkins/ref.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

extends monitoring of Kube API servers by hitting NodeIPs directly
  pkg/monitor/api.go
Due: none

Remove jenkins pipeline examples test
  examples/jenkins/pipeline/README.md
  examples/jenkins/pipeline/bluegreen-pipeline.yaml
  examples/jenkins/pipeline/maven-pipeline.yaml
  examples/jenkins/pipeline/nodejs-sample-pipeline.yaml
  examples/jenkins/pipeline/openshift-client-plugin-pipeline.yaml
  examples/jenkins/pipeline/samplepipeline.yaml
  test/extended/builds/pipeline_origin_bld.go
  test/extended/testdata/bindata.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

must-gather: add oauth-apiserver to expected audit logs
  test/extended/cli/mustgather.go
Due: none

Remove unused test files
  test/extended/testdata/cmd/test/cmd/testdata/convert/job-v1.yaml
  test/extended/testdata/cmd/test/cmd/testdata/convert/job-v2.json
Due: none

Bug 1945085: enable back etcd test
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Update images based on k8s bump
  test/extended/testdata/cmd/test/cmd/testdata/hello-openshift/hello-pod.json
  test/extended/testdata/cmd/test/cmd/testdata/mixed-api-versions.yaml
  test/extended/testdata/cmd/test/cmd/testdata/templateinstance_objectkinds.yaml
  test/extended/testdata/router/ingress.yaml
  test/extended/testdata/router/reencrypt-serving-cert.yaml
  test/extended/testdata/router/router-common.yaml
  test/extended/testdata/router/router-config-manager.yaml
  test/extended/testdata/router/router-metrics.yaml
  test/extended/testdata/router/weighted-router.yaml
  test/extended/testdata/templates/templateinstance_badobject.yaml
  test/extended/testdata/templates/templateinstance_objectkinds.yaml
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add custom timeouts to e2e framework
  test/extended/util/client.go
  test/extended/util/disruption/disruption.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

React to bump
  test/e2e/upgrade/upgrade.go
  test/extended/dr/machine_recover.go
  test/extended/dr/quorum_restore.go
  test/extended/etcd/etcd_storage_path.go
  test/extended/pods/liveness_override.go
Due: none

Add exceptions list for test images
  cmd/openshift-tests/images.go
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Disable crictl test
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Disable ttlafterfinished job test
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Disable GlusterFS since it's not supported in OCP 4.x
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Disable sig-network tests failing on e2e-metal-ipi-ovn-ipv6
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Disable Dynamic Provisioning Invalid AWS KMS key test
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Disable pull from private registry with secret test
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Disable firewall rule test
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Generated changes
  test/extended/testdata/bindata.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Disable networking hostNetwork test
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

audit-logs: allow .lock file and flake on lock.log
  test/extended/cli/mustgather.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

audit-logs: re-add remove must-gather RemoveAll call
  test/extended/cli/mustgather.go
Due: none

Enable crictl on node test
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 1913974: Bump snapshot tests
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/snapshottable.go
Due: none

Add predictable oom killing validation
  test/extended/pods/oom_killer.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

dr: Remove unused fns getPullSecret and GetImagePullSpecFromRelease
  test/extended/dr/quorum_restore.go
Due: none

dr: Get quorum restore passing
  cmd/openshift-tests/e2e.go
  test/extended/dr/backup_restore.go
  test/extended/dr/force_redeploy.go
  test/extended/dr/quorum_restore.go
Due: none

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
