Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

Copy the kubeconfig into container with proper name
  test/extended/oauth/groupsync.go
Due: none

Specify explicetly NODEJS_VERSION for e2e tests
  examples/jenkins/pipeline/nodejs-sample-pipeline.yaml
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

move more image-eco db template tests from upstream repos to sample operator installed
  examples/jenkins/pipeline/nodejs-sample-pipeline.yaml
  test/extended/image_ecosystem/mariadb_ephemeral.go
  test/extended/image_ecosystem/mongodb_ephemeral.go
  test/extended/image_ecosystem/mysql_ephemeral.go
  test/extended/testdata/bindata.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

test: Disable Azure OLM etcd operator test due to flakiness
  test/extended/operators/olm.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 84614: kubelet: add certificate rotation error metric
  vendor/k8s.io/kubernetes/pkg/kubelet/certificate/kubelet.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/util/certificate/certificate_manager.go
Due: ci/prow/gcp-crio

Bug 1789266: replace deprecated commands with current secrets commands
  test/extended/cmd.sh
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/secrets.sh
Due: none

Make DNS querying more efficient by querying once per dns name
  pkg/network/common/dns.go
  pkg/network/common/dns_test.go
  pkg/network/common/egress_dns.go
  pkg/network/node/egress_network_policy.go
  pkg/network/node/node.go
  pkg/network/node/ovscontroller.go
  pkg/network/proxy/proxy.go
Due: none

test/cmd: build.sh can't reach old openshift/origin:v1.1 image
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/builds.sh
Due: none

allow build git/proxy e2e error msg parsing to work with multiple git versions
  test/extended/builds/cluster_config.go
  test/extended/builds/proxy.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

pkg/test/ginkgo/cmd_runsuite.go: Add set of tests to run after all other
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

test/extended/prometheus/prometheus.go: Run alerts tests after all tests
  test/extended/prometheus/prometheus.go
Due: none

test/extended/operators/operators.go: Renamed Smoke to Early
  test/extended/operators/operators.go
Due: none

test/extended/../generated/zz_generated.annotations.go: Regenerate
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

fix projects when watching with selector
  pkg/project/apiserver/registry/project/proxy/proxy.go
  pkg/project/auth/watch.go
  pkg/project/auth/watch_test.go
  pkg/project/util/util.go
  test/integration/project_test.go
Due: none

UPSTREAM: 24453: Sync the status of static Pods
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_getters.go
  vendor/k8s.io/kubernetes/pkg/kubelet/types/pod_update.go
Due: ci/prow/gcp-crio

test/extended/prometheus/prometheus.go: Fail tests if Prometheus cannot
  test/extended/prometheus/prometheus.go
Due: none

serialize interval data as JSON
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

refactor interval dump
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

test/../prometheus.go: Exclude FailingOperator and KubeAPILatencyHigh
  test/extended/prometheus/prometheus.go
Due: none

[WIP] DO NOT MERGE - test/validate haproxy18-1.8.23-1.el7.x86_64.rpm
  images/router/haproxy/Dockerfile
Due: none

Also update egress to use haproxy18-1.8.23
  images/egress/dns-proxy/Dockerfile
Due: none

bump(openshift/apiserver-library-go)
  glide.lock
  vendor/github.com/openshift/apiserver-library-go/go.mod
  vendor/github.com/openshift/apiserver-library-go/go.sum
  vendor/github.com/openshift/apiserver-library-go/pkg/admission/imagepolicy/imagereferencemutators/pods.go
Due: none

UPSTREAM: 88119: Prefer apps version over deprecated extensions
  vendor/k8s.io/kubernetes/pkg/master/master.go
Due: none

disable etcd metrics check to land operator
  test/extended/prometheus/prometheus.go
Due: none

UPSTREAM: <carry>: Prefer apps version over deprecated extensions
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/aggregator.go
  vendor/k8s.io/kubernetes/pkg/master/master.go
Due: none

UPSTREAM: 65357: Allow more fields at root of CRD schema if status is enabled
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/validation/validation_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/test/integration/subresources_test.go
Due: none

UPSTREAM: 87673: blank out value for unbounded client label
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
Due: none

UPSTREAM: 87673: blank out value for unbounded client label
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go
Due: none

test/extended/prometheus: temporarily disable etcdInsufficientMembers
  test/extended/prometheus/prometheus.go
Due: none

Bug 1793324: specify nodejs version because default is now 12 and 3.11 only has 8
  examples/jenkins/pipeline/nodejs-sample-pipeline.yaml
  pkg/oc/clusterup/manifests/bindata.go
  test/extended/testdata/bindata.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

Handle SDN CRDs as regular crd types without special rules
  test/extended/cli/explain.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Fix CSI snapshot tests
  test/extended/csi/install.go
  test/extended/testdata/bindata.go
  test/extended/testdata/csi/README.md
  test/extended/testdata/csi/aws-ebs/install-template.yaml
  test/extended/testdata/csi/aws-ebs/manifest.yaml
Due: none

Bug 1798131: UPSTREAM: 85371: Enable snapshottable e2e test for csi pd driver
  vendor/k8s.io/kubernetes/test/e2e/generated/bindata.go
  vendor/k8s.io/kubernetes/test/e2e/storage/drivers/csi.go
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/provisioning.go
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/snapshottable.go
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/gce-pd/controller_ss.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/gce-pd/csi-controller-rbac.yaml
Due: none
