Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/gcp-crio:
  decorate: true
  spec:
    serviceAccountName: ci-operator
    volumes:
    - name: job-definition
      configMap:
        name: prow-job-cluster-launch-e2e
    - name: cluster-profile
      projected:
        sources:
        - secret:
            name: cluster-secrets-gcp
        - configMap:
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    serviceAccountName: ci-operator
    containers:
    - name: test
      image: ci-operator:latest
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            name: ci-operator-openshift-origin
            key: master.json
      - name: OVERRIDE_SPEC
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

Refactor haproxy router config manager blueprint validation code.
  pkg/router/template/configmanager/haproxy/blueprint_plugin_test.go
  pkg/router/template/configmanager/haproxy/manager.go
  pkg/router/template/types.go
Due: none

switch template controller to external
  pkg/api/legacy/install.go
  pkg/cmd/openshift-controller-manager/controller/template.go
  pkg/template/controller/metrics.go
  pkg/template/controller/readiness.go
  pkg/template/controller/readiness_test.go
  pkg/template/controller/templateinstance_controller.go
  pkg/template/controller/templateinstance_controller_test.go
  pkg/template/controller/templateinstance_finalizer.go
  test/extended/templates/helpers.go
Due: none

UPSTREAM: 00000: Extend ResourcePrinter interface
  vendor/k8s.io/kubernetes/pkg/kubectl/genericclioptions/printers/interface.go
  vendor/k8s.io/kubernetes/pkg/kubectl/genericclioptions/printers/json.go
  vendor/k8s.io/kubernetes/pkg/kubectl/genericclioptions/printers/jsonpath.go
  vendor/k8s.io/kubernetes/pkg/kubectl/genericclioptions/printers/name.go
  vendor/k8s.io/kubernetes/pkg/kubectl/genericclioptions/printers/template.go
  vendor/k8s.io/kubernetes/pkg/kubectl/genericclioptions/printers/typesetter.go
Due: none

React to inteface changes
  pkg/oc/cli/newapp/newapp.go
  pkg/oc/cli/process/process.go
  pkg/oc/cli/rollout/latest.go
Due: none

Use the new interface
  pkg/oc/cli/cancelbuild/cancelbuild.go
  pkg/oc/cli/set/routebackends.go
Due: none

UPSTREAM: 67698: Fix NameFromCommandArgs when passing command after --
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/create/create.go
Due: none

Fix NameFromCommandArgs when passing command after --
  pkg/oc/cli/create/create.go
  test/cmd/create.sh
Due: none

Use imagebuilder
  pkg/build/builder/sti.go
Due: ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds

UPSTREAM: <carry>: add __kubectl_debug to zsh completions
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/completion.go
Due: none

Updated completions
  contrib/completions/zsh/oc
  contrib/completions/zsh/openshift
Due: none

UPSTREAM: <carry>: allow injection of kube-apiserver options
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/patch_openshift.go
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go
  vendor/k8s.io/kubernetes/pkg/kubeapiserver/options/patch.go
  vendor/k8s.io/kubernetes/pkg/kubeapiserver/options/plugins.go
  vendor/k8s.io/kubernetes/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/patch_policy.go
  vendor/k8s.io/kubernetes/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/admission.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/patch_admission.go
Due: none

UPSTREAM: <carry>: patch in a non-standard location for apiservices
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/aggregator.go
  vendor/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go
Due: none

wire hypershift openshift-kube-apiserver to use minimal patching strategy
  hack/import-restrictions.json
  install/kube-dns/install.yaml
  install/kube-proxy/install.yaml
  pkg/cmd/openshift-apiserver/openshiftapiserver/openshift_apiserver.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/flags.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch_handlerchain.go
  pkg/cmd/openshift-kube-apiserver/server.go
  pkg/cmd/server/origin/admission/chain_builder.go
  pkg/cmd/server/origin/admission/config_test.go
  pkg/cmd/server/origin/admission/register.go
  pkg/cmd/server/origin/admission/sync_test.go
  pkg/cmd/server/origin/master.go
  test/integration/master_routes_test.go
Due: ci/prow/cross

generated
  pkg/oc/clusterup/manifests/bindata.go
  test/extended/testdata/bindata.go
Due: none

UPSTREAM: <carry>: oc patches on kubectl
  vendor/k8s.io/kubernetes/pkg/kubectl/genericclioptions/config_flags.go
Due: none

Restore test for image signature workflow
  test/extended/images/hardprune.go
  test/extended/images/signatures.go
  test/extended/util/framework.go
Due: ci/openshift-jenkins/extended_image_registry

RPMS - Add stub /etc/sysconfig/origin-node
  contrib/systemd/origin-node.sysconfig
  origin.spec
Due: none

Minor fixup to egress IP monitoring
  pkg/network/node/vxlan_monitor.go
  pkg/network/node/vxlan_monitor_test.go
Due: none

UPSTREAM: 67615: attach: Move the AttachFunc default function to the initializer
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/attach.go
Due: none

oc debug fix crash on attach
  pkg/oc/cli/debug/debug.go
Due: none

generated
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
Due: none

switch test-cmd tests use mostly kubeconfig
  hack/test-cmd.sh
  test/cmd/login.sh
  test/cmd/policy.sh
  test/cmd/status.sh
  test/extended/alternate_certs.sh
Due: ci/prow/cross

fix dockerfile messaging
  pkg/build/builder/sti.go
Due: ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds

rm s2i comment
  pkg/build/builder/sti.go
Due: ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds

git: copy struct fields and lose the s2i dependency
  pkg/git/repository.go
Due: none

Ignore resources with deletion timestamp during storage migration
  pkg/oc/cli/admin/migrate/storage/storage.go
Due: none

Remove embedded user groups from identity mapper
  pkg/oauthserver/userregistry/identitymapper/lookup.go
  pkg/oauthserver/userregistry/identitymapper/provision.go
  pkg/oauthserver/userregistry/identitymapper/user.go
Due: none

Include all groups in ~ user
  pkg/user/apiserver/registry/user/etcd/etcd.go
  test/integration/groups_test.go
  test/integration/webhook_token_auth_test.go
Due: none

Remove misleading CreationTimestamp from tokens
  pkg/oauthserver/osinserver/registrystorage/storage.go
Due: none

Remove duplicate UserIdentityMapper logic
  pkg/oauthserver/authenticator/identitymapper/identitymapper.go
  pkg/oauthserver/authenticator/password/allowanypassword/anyauthpassword.go
  pkg/oauthserver/authenticator/password/basicauthpassword/basicauthpassword.go
  pkg/oauthserver/authenticator/password/htpasswd/htpasswd.go
  pkg/oauthserver/authenticator/password/keystonepassword/keystonepassword.go
  pkg/oauthserver/authenticator/password/ldappassword/ldap.go
  pkg/oauthserver/authenticator/request/headerrequest/requestheader.go
  pkg/oauthserver/oauth/external/handler.go
Due: none

Consolidate user conversion logic
  pkg/oauthserver/oauth/registry/registry_test.go
  pkg/oauthserver/oauth/registry/userconversion.go
  pkg/oauthserver/oauthserver/auth.go
  pkg/oauthserver/osinserver/registrystorage/storage.go
  test/integration/oauthstorage_test.go
Due: none

Remove unused dead CSRF code
  pkg/oauthserver/doc.go
  pkg/oauthserver/server/csrf/empty.go
  pkg/oauthserver/server/csrf/session.go
Due: none

Add utility crypto library for OAuth server
  pkg/oauthserver/server/crypto/compare.go
  pkg/oauthserver/server/crypto/random.go
Due: none

Make all OAuth constants private
  pkg/oauthserver/oauthserver/auth.go
  pkg/oauthserver/oauthserver/oauth_apiserver.go
  test/integration/scopes_test.go
Due: none

Minor cosmetic changes to OAuth server
  pkg/oauthserver/oauthserver/auth.go
  pkg/oauthserver/server/headers/headers.go
Due: none

Refactor OAuth session logic
  hack/import-restrictions.json
  pkg/oauthserver/mux.go
  pkg/oauthserver/oauthserver/auth.go
  pkg/oauthserver/oauthserver/handler_wrapper.go
  pkg/oauthserver/oauthserver/mux.go
  pkg/oauthserver/oauthserver/oauth_apiserver.go
  pkg/oauthserver/oauthserver/oauth_apiserver_test.go
  pkg/oauthserver/osinserver/interfaces.go
  pkg/oauthserver/osinserver/osinserver.go
  pkg/oauthserver/server/grant/grant.go
  pkg/oauthserver/server/grant/interfaces.go
  pkg/oauthserver/server/login/login.go
  pkg/oauthserver/server/session/authenticator.go
  pkg/oauthserver/server/session/interfaces.go
  pkg/oauthserver/server/session/session.go
  pkg/oauthserver/server/session/types.go
  pkg/oauthserver/server/tokenrequest/endpoints.go
Due: ci/prow/cross

Remove github.com/pborman/uuid dependency from oc
  hack/import-restrictions.json
  pkg/oc/lib/newapp/app/app.go
Due: ci/prow/cross

Prevent open redirect on grant approval flow
  pkg/oauthserver/server/grant/grant.go
  pkg/oauthserver/server/login/login.go
  pkg/oauthserver/server/redirect/redirect.go
Due: none

Refactor TokenGen
  pkg/oauthserver/osinserver/tokengen.go
Due: none

Use random string as client secret instead of UUID
  pkg/oauthserver/oauthserver/oauth_apiserver.go
Due: none

Path conditions:
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/cmd/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
