Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

build-quota test: learn more about cgroupsv2
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/build-quota/.s2i/bin/assemble
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

add intervals for pod lifecycle
  pkg/monitor/api.go
  pkg/monitor/intervalcreation/pod.go
  pkg/monitor/monitorapi/identification.go
  pkg/monitor/monitorapi/identification_node.go
  pkg/monitor/monitorapi/identification_pod.go
  pkg/monitor/pod.go
Due: none

Bug 2057990: Add debug info for signature test
  test/extended/images/signatures.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

Add DNS availability upgrade test
  test/e2e/upgrade/dns/dns.go
  test/e2e/upgrade/upgrade.go
Due: none

include pod lifecycle events in intervals
  e2echart/e2e-chart-template.html
  pkg/monitor/intervalcreation/pod.go
  pkg/monitor/intervalcreation/pod_test.go
  pkg/monitor/intervalcreation/pod_test_01_simple.json
  pkg/monitor/intervalcreation/pod_test_02_trailing_ready.json
  pkg/monitor/intervalcreation/render_test_01_skip_e2e.json
  pkg/monitor/intervalcreation/rendering.go
  pkg/monitor/intervalcreation/rendering_test.go
  pkg/monitor/pod.go
  pkg/monitor/serialization/serialize.go
  test/extended/testdata/bindata.go
Due: none

stop ignoring pods that are created before the test begins
  pkg/monitor/pod.go
Due: none

add some QE approvers/reviewers
  test/extended/OWNERS
  test/extended/apiserver/OWNERS
  test/extended/networking/OWNERS
  test/extended/olm/OWNERS
  test/extended/operators/OWNERS
  test/extended/pods/OWNERS
  test/extended/security/OWNERS
Due: none

Add networking test for invalid external gateway
  test/extended/networking/external_gateway.go
  test/extended/networking/util.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Push metal multiport service ipv6 test service IP further into service network.
  test/extended/testdata/cmd/test/cmd/testdata/external-service-ipv6.yaml
  test/extended/testdata/cmd/test/cmd/testdata/multiport-service-ipv6.yaml
Due: none

Remove fixed clusterIP service for ipv6 contexts
  test/extended/cli/expose.go
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/testdata/external-service-ipv6.yaml
  test/extended/testdata/cmd/test/cmd/testdata/multiport-service-ipv6.yaml
Due: none

WIP: trivial change to trigger 3.11 CI
  pkg/network/node/node.go
Due: none

Mark image pull from registry.redhat.io as flake to track but not fail
  pkg/synthetictests/image_pulls.go
Due: none

Allow CurrentVersionNotVerified alert
  test/e2e/upgrade/alert/alert.go
  test/extended/prometheus/prometheus.go
Due: none

Give each interval chart a title
  e2echart/e2e-chart-template.html
  pkg/monitor/intervalcreation/rendering.go
  test/extended/testdata/bindata.go
Due: none

Replace event monitor custom watch/rv logic with Reflector.
  pkg/monitor/event.go
Due: none

Add early test to check router pods are not on same node
  test/extended/include.go
  test/extended/scheduling/pods.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

track every pod in the monitor
  e2echart/e2e-chart-template.html
  pkg/monitor/intervalcreation/pod.go
  pkg/monitor/intervalcreation/pod_test.go
  pkg/monitor/intervalcreation/pod_test_03_trailing_ready_2.json
  pkg/monitor/pod.go
  test/extended/testdata/bindata.go
Due: none

updating README with new functionality and new Golang
  tools/etcdhelper/README.md
  tools/etcdhelper/etcdhelper.go
Due: none

README formatting
  tools/etcdhelper/README.md
Due: none

go fmt run against etcdhelper.go
  tools/etcdhelper/etcdhelper.go
Due: none

Don't run pod scheduling check test on single control-plane node clusters
  test/extended/scheduling/pods.go
Due: none

Pod scheduling tests improve pod deployment identification
  test/extended/scheduling/pods.go
Due: none

have runonce pods display as gone when their containers are stopped
  pkg/monitor/intervalcreation/e2etest.go
  pkg/monitor/intervalcreation/node.go
  pkg/monitor/intervalcreation/node_test.go
  pkg/monitor/intervalcreation/operator.go
  pkg/monitor/intervalcreation/operator_test.go
  pkg/monitor/intervalcreation/pod.go
  pkg/monitor/intervalcreation/pod_test.go
  pkg/monitor/intervalcreation/pod_test_04_run_once_done.json
  pkg/monitor/monitor.go
  pkg/monitor/types.go
Due: none

Accept both 401 snd 403 status code for querying Prometheus/Thanos endpoint without authentificaiton
  test/extended/prometheus/prometheus.go
  test/extended/util/prometheus/helpers.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test/extended: add/update OWNERS files for Prometheus
  test/extended/util/prometheus/OWNERS
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OWNERS: remove former team member
  test/extended/prometheus/OWNERS
Due: none

OWNERS: monitoring team owns prometheus test helpers
  test/extended/util/prometheus/OWNERS
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Clarify that the image mirroring requirement applies to conformance tests only
  test/extended/util/image/README.md
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Migrate tests away from using samples-operator provided imagestreams
  test/extended/deployments/deployments.go
  test/extended/images/append.go
  test/extended/images/extract.go
  test/extended/templates/templateinstance_readiness.go
  test/extended/testdata/bindata.go
  test/extended/testdata/deployments/deployment-example.yaml
  test/extended/testdata/deployments/multi-ict-deployment.yaml
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

Rearrange test cases and add more post-mortem information
  test/extended/oauth/requestheaders.go
Due: none

Migrate builds tests away from using sample imagestreams since samples will be optional
  test/extended/builds/build_pruning.go
  test/extended/builds/clone_git_protocol.go
  test/extended/builds/new_app.go
  test/extended/builds/service.go
  test/extended/builds/valuefrom.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/build-pruning/default-group-build-config.yaml
  test/extended/testdata/builds/build-pruning/default-legacy-build-config.yaml
  test/extended/testdata/builds/build-pruning/errored-build-config.yaml
  test/extended/testdata/builds/build-pruning/failed-build-config.yaml
  test/extended/testdata/cmd/test/cmd/deployments.sh
  test/extended/testdata/cmd/test/cmd/testdata/application-template-dockerbuild.json
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

bump(client-go): need imageregistry config
  vendor/github.com/openshift/client-go/imageregistry/clientset/versioned/clientset.go
  vendor/github.com/openshift/client-go/imageregistry/clientset/versioned/doc.go
  vendor/github.com/openshift/client-go/imageregistry/clientset/versioned/scheme/doc.go
  vendor/github.com/openshift/client-go/imageregistry/clientset/versioned/scheme/register.go
  vendor/github.com/openshift/client-go/imageregistry/clientset/versioned/typed/imageregistry/v1/config.go
  vendor/github.com/openshift/client-go/imageregistry/clientset/versioned/typed/imageregistry/v1/doc.go
  vendor/github.com/openshift/client-go/imageregistry/clientset/versioned/typed/imageregistry/v1/generated_expansion.go
  vendor/github.com/openshift/client-go/imageregistry/clientset/versioned/typed/imageregistry/v1/imagepruner.go
  vendor/github.com/openshift/client-go/imageregistry/clientset/versioned/typed/imageregistry/v1/imageregistry_client.go
  vendor/modules.txt
Due: none

add test for imageregistry redirect, this important for performance
  test/extended/images/redirect.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/disruption/imageregistry/imageregistry.go
  test/extended/util/imageregistryutil/expose_imageregistry.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

add test for imageregistry redirect, this important for performance
  test/extended/images/redirect.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/imageregistryutil/expose_imageregistry.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

Implementation for egress-router-cni e2e ci test
  test/extended/networking/egress_router_cni.go
  test/extended/testdata/bindata.go
  test/extended/testdata/egress-router-cni/egress-router-cni-v4-cr.yaml
  test/extended/testdata/egress-router-cni/egress-router-cni-v6-cr.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Push own blob in image registry redirect test
  test/extended/images/redirect.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds
