Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

rebase
  pkg/defaultmonitortests/types.go
  pkg/monitortests/testframework/disruptionexternalazurecloudservicemonitoring/cloudmonitortest.go
Due: none

update with Azure LB in Openshift CI account
  pkg/monitortests/testframework/disruptionexternalazurecloudservicemonitoring/cloudmonitortest.go
Due: none

update with latest LB
  pkg/monitortests/testframework/disruptionexternalazurecloudservicemonitoring/cloudmonitortest.go
Due: none

mark as not supporetd for metal
  pkg/monitortests/testframework/disruptionexternalazurecloudservicemonitoring/cloudmonitortest.go
Due: none

Remove two sets of logs to bring build-log.txt size down
  pkg/monitortests/testframework/watchevents/event.go
Due: none

Update bindata
  test/extended/testdata/bindata.go
Due: none

Fix expected json for display flag
  pkg/monitortests/node/nodestateanalyzer/nodeTest/drain-01/expected.json
  pkg/monitortests/node/nodestateanalyzer/nodeTest/drain-02/expected.json
Due: none

Port in-cluster disruption monitor into an invariant test
  pkg/cmd/openshift-tests/monitor/run/run_monitor_command.go
  pkg/cmd/openshift-tests/run-disruption/disruption.go
  pkg/defaultmonitortests/types.go
  pkg/disruption/ci/remote_sampler.go
  pkg/monitortests/kubeapiserver/disruptionnewapiserver/monitortest.go
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/crb-hostaccess.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/crb-monitor.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/ds-cleanup.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/ds-internal-lb.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/ds-localhost.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/ds-service-network.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/namespace.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/role-monitor.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/serviceaccount.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/remote.go
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

update the kube-apiserver availability check to use soft stop + pod logs
  pkg/clioptions/iooptions/io_options.go
  pkg/cmd/openshift-tests/run-disruption/disruption.go
  pkg/defaultmonitortests/types.go
  pkg/disruption/ci/backend_sampler.go
  pkg/disruption/ci/factory.go
  pkg/disruption/ci/host_decoder.go
  pkg/monitortestframework/impl.go
  pkg/monitortestframework/types.go
  pkg/monitortestlibrary/disruptionlibrary/collect.go
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/ds-internal-lb.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/ds-localhost.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/ds-service-network.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/remote.go
  test/extended/util/disruption/controlplane/known_backends.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

incluster_disruption: fixes
  pkg/cmd/openshift-tests/run-disruption/disruption.go
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/crb-monitor.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/crb-privileged.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/dep-internal-lb.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/dep-localhost.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/dep-service-network.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/ds-cleanup.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/namespace.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/role-monitor.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/serviceaccount.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/remote.go
Due: none

InvariantInClusterDisruption: ensure that only one namespace is being created
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/manifests/namespace.yaml
  pkg/monitortests/kubeapiserver/incluster_disruption_serializer/remote.go
Due: none

Fix a bug with check for upgrade intervals
  pkg/monitortestlibrary/pathologicaleventlibrary/duplicated_event_patterns.go
  pkg/monitortestlibrary/pathologicaleventlibrary/duplicated_events_test.go
  pkg/monitortestlibrary/platformidentification/upgrade.go
Due: none

increase scale timeout value
  test/extended/machines/scale.go
Due: none

feat: update regex for rt kernel version match
  test/extended/kernel/common.go
Due: none

Censor private key from pod dump logs
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Clarify a misleading message in patho event failures
  pkg/monitortestlibrary/pathologicaleventlibrary/duplicated_events.go
  pkg/monitortestlibrary/pathologicaleventlibrary/duplicated_events_test.go
Due: none

Bump the timeout even higher
  test/extended/machines/scale.go
Due: none

Skip managed services pods that have limits but not requests
  test/extended/operators/resources.go
Due: none

Add temporary exceptions for managed services alerts
  test/extended/prometheus/prometheus.go
Due: none

PROOF -replace github.com/openshift/library-go->github.com/sanchezl/library-go@prometheus-k8s-bound-token
  go.mod
Due: none

PROOF go mod tidy
  go.mod
Due: none

PROOF -replace k8s.io/kubernetes->github.com/sanchezl/kubernetes@no-token-secrets-01
  go.mod
Due: none

PROOF remove toolchain directive
  go.mod
Due: none

PROOF make update
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

fix ocm pull secret tests
  test/extended/controller_manager/pull_secret.go
Due: none

prometheus-k8s bound token
  test/extended/router/metrics.go
  test/extended/util/prometheus/helpers.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

use go 1.21 build root image
  .ci-operator.yaml
Due: none

remove dead code
  test/extended/controller_manager/pull_secret.go
Due: none

add conditional execution of featuregated tests
  pkg/clioptions/kubeconfig/discovery.go
  pkg/clioptions/suiteselection/feature_filter.go
  pkg/clioptions/suiteselection/suite_flags.go
  pkg/cmd/openshift-tests/run-upgrade/flags.go
  pkg/cmd/openshift-tests/run/flags.go
  test/extended/operators/example.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

update library-go
  go.mod
  go.sum
  vendor/github.com/blang/semver/.travis.yml
  vendor/github.com/blang/semver/LICENSE
  vendor/github.com/blang/semver/README.md
  vendor/github.com/blang/semver/json.go
  vendor/github.com/blang/semver/package.json
  vendor/github.com/blang/semver/range.go
  vendor/github.com/blang/semver/semver.go
  vendor/github.com/blang/semver/sort.go
  vendor/github.com/blang/semver/sql.go
  vendor/github.com/openshift/library-go/pkg/certs/cert-inspection/certgraphanalysis/metadata_options.go
  vendor/github.com/openshift/library-go/pkg/image/imageutil/helpers.go
  vendor/github.com/openshift/library-go/pkg/markdown/markdown.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/core.go
  vendor/github.com/openshift/library-go/pkg/operator/v1helpers/helpers.go
  vendor/github.com/openshift/library-go/test/library/metrics/query.go
  vendor/modules.txt
Due: none

use lib-go version of the markdown interface
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadata/autoregenerate_after_expiry/requirement.go
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadata/descriptions/requirement.go
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadata/ownership/requirement.go
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadatainterfaces/annotation_requirement.go
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadatainterfaces/markdown.go
Due: none

Add soltysh and deads to approvers
  OWNERS
Due: none

Bump golang to 1.21
  .ci-operator.yaml
  examples/hello-openshift/go.mod
  go.mod
  images/hello-openshift/Dockerfile.rhel
  images/tests/Dockerfile.rhel
Due: none

generated changes
  test/extended/testdata/bindata.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

show trampoline pod fix
  test/extended/authorization/per_node_pod.yaml
  test/extended/authorization/per_node_rolebinding.yaml
  test/extended/authorization/per_node_update.go
  test/extended/authorization/per_node_validatingadmissionpolicy.yaml
  test/extended/authorization/per_node_validatingadmissionpolicybinding.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceread/admission.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add a test that will fail on over 10k etcd took too long messages
  pkg/monitortests/etcd/legacyetcdmonitortests/etcd.go
  pkg/monitortests/etcd/legacyetcdmonitortests/monitortest.go
Due: none

Use centos7 tag instead of latest for cmd images tests
  examples/image-streams/image-streams-centos7.json
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/testdata/image-streams/image-streams-centos7.json
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
