Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

update the Deployment version
  test/extended/testdata/bindata.go
  test/extended/testdata/service_catalog/ups-deployment.yaml
Due: none

router/metrics: Fix haproxy_server_max_sessions test
  test/extended/router/metrics.go
Due: none

Fix maxSessions invariant post POD deletion
  test/extended/router/metrics.go
Due: none

UPSTREAM: 84792: Fixes for the `No ref for container` in probes after kubelet restart
  vendor/k8s.io/kubernetes/pkg/kubelet/prober/prober.go
Due: ci/prow/gcp-crio

patch net/http2 library to fix the graceful shutdown of HTTP2 connections
  images/hyperkube/4d8de76-1.13.patch
  images/hyperkube/Dockerfile.rhel
  images/hyperkube/gc_test.go
Due: none

UPSTREAM: 73404: Kubelet: Fix volumemanager test race
  vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/reconciler/reconciler_test.go
Due: ci/prow/gcp-crio

Fix oc observe tests
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/observe.sh
Due: none

Do not harcode arch for fedora container image
  test/extended/csrapprover/csrapprover.go
Due: none

Sanitize TLS config that has key bundled with cert
  pkg/route/controller/routeapihelpers/validation.go
  pkg/route/controller/routeapihelpers/validation_test.go
Due: none

e2e: extended: re-enable topology manager tests
  test/extended/topology_manager/resourcealign.go
Due: none

e2e/mustgather: ignore non audit files in /var/log/*-apiserver dir
  test/extended/cli/mustgather.go
Due: none

UPSTREAM: 92916: Include pod /etc/hosts in ephemeral storage calculation for eviction
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/eviction_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/helpers.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_test.go
  vendor/k8s.io/kubernetes/pkg/kubelet/runonce_test.go
Due: ci/prow/gcp-crio

UPSTREAM: <carry>: apiserver: skip local IPs and probes for LateConnections – fix race
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/patch_genericapiserver.go
Due: none

make update
  test/extended/testdata/bindata.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Disable publishing for 4.6
  publishing-kube-rules.yaml
  publishing-rules.yaml
Due: none

Remove watch-termination command (moved to openshift/kubernetes)
  .gitignore
  cmd/watch-termination/main.go
  go.mod
Due: none

UPSTREAM: 91984: genericapiserver library must wait for server.Shutdown
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Due: none

Update test's zz_generated.annotations.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: <carry>: use new access token inactivity timeout field.
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/oauth/validate_idp.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/oauth/validate_idp_test.go
  vendor/k8s.io/kubernetes/pkg/kubeapiserver/authenticator/patch_authenticator.go
Due: none

UPSTREAM: 90419: update strategy used to reuse CPUs from init containers in CPUManager
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/cpumanager/policy_static.go
Due: ci/prow/gcp-crio

UPSTREAM: 90377: fix exclusive CPU allocations being deleted at container restart
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/cpumanager/cpu_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/internal_container_lifecycle.go
Due: ci/prow/gcp-crio

UPSTREAM: 71063: fix a scheduler panic due to internal cache inconsistency
  vendor/k8s.io/kubernetes/pkg/scheduler/core/generic_scheduler.go
Due: none

Ensure HybridProxier honors SyncPeriod
  pkg/cmd/server/kubernetes/network/network.go
  pkg/proxy/hybrid/proxy.go
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier_openshift.go
Due: none

Print error when it happens
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test/extended/prometheus/prometheus.go: Add series limit
  test/extended/prometheus/prometheus.go
Due: none

WIP: debugging missing configmaps.yaml and secrets.yaml
  test/extended/cli/mustgather.go
Due: none

test/extended/util/.../generated/zz_generated.annotations.go: make update
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

update the upgrade test to indicate a separate flake report for tracking
  test/e2e/upgrade/upgrade.go
Due: none

split upgrade into different tests so we get clear failure signals
  test/e2e/upgrade/upgrade.go
Due: none

UPSTREAM: 92014: CSI: Modify VolumeAttachment check to use Informer/Cache
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/core.go
  vendor/k8s.io/kubernetes/pkg/controller/volume/attachdetach/attach_detach_controller.go
  vendor/k8s.io/kubernetes/pkg/controller/volume/attachdetach/attach_detach_controller_test.go
  vendor/k8s.io/kubernetes/pkg/volume/csi/BUILD
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_attacher.go
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_attacher_test.go
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_plugin.go
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_plugin_test.go
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_test.go
  vendor/k8s.io/kubernetes/pkg/volume/csi/nodeinfomanager/nodeinfomanager_test.go
  vendor/k8s.io/kubernetes/pkg/volume/csi/testing/testing.go
  vendor/k8s.io/kubernetes/pkg/volume/plugins.go
  vendor/k8s.io/kubernetes/pkg/volume/testing/testing.go
  vendor/k8s.io/kubernetes/test/integration/volume/attach_detach_test.go
Due: none

test: Allow test suites to define additional checks for suite failure
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

hack: make update and make verify check for test name generation
  Makefile
  hack/update-generated.sh
  hack/verify-generated.sh
  test/extended/include.go
  test/extended/util/annotate/annotate.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/artifacts, ci/prow/e2e-gcp-builds, ci/prow/cross, ci/prow/e2e-aws-builds

test: Tag disruption invariant tests with a sig
  test/e2e/upgrade/alert/alert.go
  test/e2e/upgrade/service/service.go
  test/extended/util/disruption/controlplane/controlplane.go
  test/extended/util/disruption/frontends/frontends.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 91816: GC doesn't have to create monitors in the constructor
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/core.go
  vendor/k8s.io/kubernetes/pkg/controller/garbagecollector/garbagecollector.go
  vendor/k8s.io/kubernetes/pkg/controller/garbagecollector/garbagecollector_test.go
  vendor/k8s.io/kubernetes/test/integration/garbagecollector/garbage_collector_test.go
Due: none

UPSTREAM: 92916: Include pod /etc/hosts in ephemeral storage calculation for eviction
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/eviction_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/helpers.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go
Due: ci/prow/gcp-crio
