Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)

Automatic commit of package [atomic-openshift] release [3.9.93-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

Added test for verifyService and moved debugAnyJenkinsFailure function calls to respective err blocks
  test/extended/builds/pipeline_origin_bld.go
  test/extended/testdata/bindata.go
  test/extended/testdata/verifyservice-pipeline-template.yaml
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

bumps evanphx/json-patch
  glide.yaml
  vendor/github.com/evanphx/json-patch/README.md
  vendor/github.com/evanphx/json-patch/patch.go
  vendor/github.com/evanphx/json-patch/patch_test.go
Due: none

convert ldap group sync tests to e2e
  test/extended/authentication/ldap/ad/sync-config-dn-everywhere.yaml
  test/extended/authentication/ldap/ad/sync-config-paging.yaml
  test/extended/authentication/ldap/ad/sync-config-partially-user-defined.yaml
  test/extended/authentication/ldap/ad/sync-config-user-defined.yaml
  test/extended/authentication/ldap/ad/sync-config.yaml
  test/extended/authentication/ldap/augmented-ad/sync-config-dn-everywhere.yaml
  test/extended/authentication/ldap/augmented-ad/sync-config-paging.yaml
  test/extended/authentication/ldap/augmented-ad/sync-config-partially-user-defined.yaml
  test/extended/authentication/ldap/augmented-ad/sync-config-user-defined.yaml
  test/extended/authentication/ldap/augmented-ad/sync-config.yaml
  test/extended/authentication/ldap/rfc2307/sync-config-dn-everywhere.yaml
  test/extended/authentication/ldap/rfc2307/sync-config-paging.yaml
  test/extended/authentication/ldap/rfc2307/sync-config-partially-user-defined.yaml
  test/extended/authentication/ldap/rfc2307/sync-config-tolerating.yaml
  test/extended/authentication/ldap/rfc2307/sync-config-user-defined.yaml
  test/extended/authentication/ldap/rfc2307/sync-config.yaml
  test/extended/oauth/groupsync.go
  test/extended/testdata/bindata.go
  test/extended/testdata/ldap/groupsync.sh
Due: none

try to fix flake copying groupsync.sh
  test/extended/oauth/groupsync.go
Due: none

add OWNERS file for builds ext tests
  test/extended/builds/OWNERS
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

Update test/extended/builds/OWNERS
  test/extended/builds/OWNERS
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

Add new tc prometheus & alertmanager pods should use anti-affinity
  test/extended/prometheus/prometheus.go
Due: none

Change logf messages
  test/extended/prometheus/prometheus.go
Due: none

# This is a combination of 2 commits. # The first commit's message is:
  test/extended/prometheus/prometheus.go
Due: none

UPSTREAM: <carry>: Return journal logs from specified boot
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_server_journal.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_server_journal_test.go
Due: ci/prow/gcp-crio

test/e2e/dr/quorum_restore: set MCO image for setup-etcd-environment image
  test/e2e/dr/quorum_restore.go
Due: none

OpenStack: ensure that cloud provider is initializing for Volumes
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/openstack/openstack_volumes.go
Due: none

WIP: test with late binding
  vendor/k8s.io/kubernetes/test/e2e/storage/drivers/in_tree.go
Due: none

bump(github.com/openshift/imagebuilder)
  glide.lock
  glide.yaml
  vendor/github.com/openshift/imagebuilder/OWNERS
  vendor/github.com/openshift/imagebuilder/dockerclient/archive.go
  vendor/github.com/openshift/imagebuilder/dockerclient/archive_test.go
  vendor/github.com/openshift/imagebuilder/dockerclient/conformance_test.go
  vendor/github.com/openshift/imagebuilder/dockerclient/testdata/Dockerfile.copyfrom_11
  vendor/github.com/openshift/imagebuilder/dockerclient/testdata/Dockerfile.copyfrom_12
Due: ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem

UPSTREAM: 80491: Changed IsCriticalPod to return true in case of static pods
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/eviction_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/pod/pod_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/status/status_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/status/status_manager_test.go
  vendor/k8s.io/kubernetes/pkg/kubelet/types/pod_update.go
  vendor/k8s.io/kubernetes/pkg/kubelet/types/pod_update_test.go
Due: ci/prow/gcp-crio

UPSTREAM: 76637: Add missing node.address != "" condition in tests
  vendor/k8s.io/kubernetes/test/e2e/framework/service_util.go
  vendor/k8s.io/kubernetes/test/e2e/framework/ssh.go
  vendor/k8s.io/kubernetes/test/e2e/framework/util.go
Due: none

Automatic commit of package [atomic-openshift] release [3.9.94-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

test/operators: whitelist gcp-routes-controller static pod as it is part of infra
  test/extended/operators/tolerations.go
Due: none

UPSTREAM: 79495: Fix multi-version CRD + admission webhook
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/conversion.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/generic/conversion_test.go
  vendor/k8s.io/kubernetes/test/e2e/apimachinery/webhook.go
  vendor/k8s.io/kubernetes/test/e2e/framework/crd_util.go
Due: none

Bug 1738691: Disable multi-az cluster volumes test
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: <carry>: Read availability zone name from metadata
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/openstack/openstack_volumes.go
Due: none

Bug 1683057: fix flaky router metrics test
  test/extended/router/headers.go
  test/extended/router/metrics.go
  test/extended/router/reencrypt.go
  test/extended/router/router.go
  test/extended/util/router.go
Due: ci/prow/e2e-aws-builds

bump(github.com/google/cadvisor): 5fa6b13d2628c5c85c8508082cc1bdfa3373e8a9
  glide.lock
  glide.yaml
  vendor/github.com/google/cadvisor/container/crio/handler.go
Due: none

Updated jenkins verifyservice e2e tests as it was failing on crashloopbackoff
  test/extended/builds/pipeline_origin_bld.go
  test/extended/testdata/bindata.go
  test/extended/testdata/verifyservice-pipeline-template.yaml
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

NOP: test 4.1 CI
  README.md
Due: none

e2e: Make stackdriver test serial
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Automatic commit of package [atomic-openshift] release [3.9.95-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

Remove Ceph RBD rule
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Remove GlusterFS rule
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Enable cloud-based storage tests
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Enable tests than need 1.13 kubelet
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: 80851: apiextensions: check request scope against CRD scope correctly
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/test/integration/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/test/integration/scope_test.go
Due: none

Dockerfiles: verify that packages are installed
  images/sdn/Dockerfile.rhel
Due: none
