Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

Handle Pods which specify {"effect": "PreferredDuringScheduling"} (with space after colon), instead of {"effect": "PreferredDuringScheduling"}
  test/extended/single_node/workload_partitioning.go
Due: none

ginko v2 compatibility
  test/extended/single_node/workload_partitioning.go
Due: none

regenerate annotations for new tests
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCPBUGS-3694: [4.12] Drop template.openshift.io apigroup dependency (#27546)
  test/extended/router/certs.go
  test/extended/router/config_manager.go
  test/extended/router/grpc-interop.go
  test/extended/router/h2spec.go
  test/extended/router/http2.go
  test/extended/router/idle.go
  test/extended/router/scoped.go
  test/extended/router/shard/shard.go
  test/extended/router/unprivileged.go
  test/extended/router/weighted.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router/router-common.yaml
  test/extended/testdata/router/router-config-manager.yaml
  test/extended/testdata/router/router-grpc-interop-routes.yaml
  test/extended/testdata/router/router-grpc-interop.yaml
  test/extended/testdata/router/router-h2spec-routes.yaml
  test/extended/testdata/router/router-h2spec.yaml
  test/extended/testdata/router/router-http2-routes.yaml
  test/extended/testdata/router/router-http2.yaml
  test/extended/testdata/router/router-idle.yaml
  test/extended/testdata/router/router-override-domains.yaml
  test/extended/testdata/router/router-override.yaml
  test/extended/testdata/router/router-scoped.yaml
  test/extended/testdata/router/router-shard.yaml
  test/extended/testdata/router/weighted-router.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Nginx 1.18 images will reach EOL in November 2022
  test/extended/image_ecosystem/s2i_images.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Fix a revert compile problem
  pkg/test/ginkgo/queue.go
Due: none

Revert "Merge pull request #27547 from dgoodwin/revert-alert-test-merger"
  pkg/alerts/allowed_conformance.go
  pkg/alerts/allowed_upgrade.go
  pkg/alerts/check.go
  test/e2e/upgrade/alert/alert.go
  test/extended/operators/images.go
  test/extended/operators/operators.go
  test/extended/prometheus/prometheus.go
  test/extended/util/conditions.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Fix flake reporting for certain tests.
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/junit.go
Due: none

display clear info with each detected alert
  pkg/alerts/check.go
Due: none

make backstop alert tests flake, never fail
  pkg/alerts/check.go
Due: none

Skip image-registry redirect test when non-permanent credentials used on GCP.
  test/extended/images/redirect.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

test/extended/images: add myself to OWNERS
  test/extended/images/OWNERS
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

More consistent alert result allow or reject
  pkg/alerts/check.go
Due: none

test/extended: Add MultiNetworkPolicy test case
  test/extended/networking/multinetpolicy.go
  test/extended/testdata/bindata.go
  test/extended/testdata/multinetpolicy/deny-ingress-pod-a.yml
  test/extended/testdata/net-attach-defs/macvlan-nad.yml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Trim stdout and stderr to the last 4K bytes to keep log size manageable
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Test tuning cni whitelist update
  test/extended/networking/tuning.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

DEBUG: github.com/openshift/library-go => github.com/vrutkovs/library-go revert-1402
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/crypto/OWNERS
  vendor/github.com/openshift/library-go/pkg/template/templateprocessingclient/dynamic_process.go
  vendor/modules.txt
Due: none

tests: add synthetic test that checks if test namespaces were cleaned up
  pkg/synthetictests/event_junits.go
  pkg/synthetictests/namespaces.go
Due: none

Add 3 retries with increasing backoff for call to sippy for risk analysis
  pkg/riskanalysis/cmd.go
Due: none

images: namespace created by image layers test must be deleted
  test/extended/images/layers.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

authorization: delete created namespaces after test run
  test/extended/authorization/authorization.go
  test/extended/images/layers.go
  test/extended/util/client.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

Fix risk analysis html to link to correct release and show bug keys
  e2echart/test-risk-analysis.html
  test/extended/testdata/bindata.go
Due: none

Bump openshift/kubernetes to latest master
  go.mod
  go.sum
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccadmission/admission.go
  vendor/github.com/openshift/library-go/pkg/config/serving/server.go
  vendor/github.com/openshift/library-go/pkg/controller/controllercmd/builder.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/template/templateprocessingclient/dynamic_process.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/logs/logs.go
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/ephemeral.go
  vendor/modules.txt
Due: ci/prow/gcp-crio

use correct namespace during template tests
  test/extended/templates/template.go
Due: none

Allow baremetal tests to run on AWS platform
  test/extended/baremetal/common.go
  test/extended/baremetal/hosts.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Automated - Update synthetic test data
  pkg/synthetictests/allowedalerts/query_results.json
  pkg/synthetictests/allowedbackenddisruption/query_results.json
Due: none

Add tests for oc scc-subject-review and scc-review commands
  test/extended/cli/policy.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

use duplicateEventThreshold for ProbeTests and extract occurrences from message
  pkg/synthetictests/apiserver.go
  pkg/synthetictests/duplicated_events.go
  pkg/synthetictests/duplicated_events_test.go
  pkg/synthetictests/kubelet.go
  pkg/synthetictests/node.go
Due: none

If there are no test-failure-summary files, suppress risk analysis
  pkg/riskanalysis/cmd.go
Due: none

consolidate threshold check test logic
  pkg/synthetictests/duplicated_events_special.go
  pkg/synthetictests/kubelet.go
  pkg/synthetictests/node.go
Due: none

ushift: skip sig-cloud-provider tests
  test/extended/cloud_controller_manager/ccm.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

ushift: Graceful return to disable telemetry
  test/extended/prometheus/prometheus.go
Due: none

ushift: fix loop variable capture in sig-cli
  test/extended/cli/explain.go
Due: none

Use GetBoundedReadySchedulableNodes from test/e2e/framework/node
  test/extended/networking/egressip.go
  test/extended/networking/egressip_helpers.go
Due: none

disruption: alwaysAllowOneSecond should always allow one second
  test/extended/util/disruption/backend_sampler_tester.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

EgressIP: Make findNodeEgressIPs variadic
  test/extended/networking/egressip.go
  test/extended/networking/egressip_helpers.go
Due: none

Remove redundant messages that might contain non-xml charactor
  test/extended/util/disruption/disruption.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
