Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-builds-cluster-profile
      - --target=e2e-aws-builds
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-registry-cluster-profile
      - --target=e2e-aws-image-registry
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

CHECK(network-edge): fixups extended tests
  test/extended/router/headers.go
  test/extended/router/metrics.go
  test/extended/router/stress.go
  test/extended/router/weighted.go
Due: none

UPSTREAM: <carry>: warn only about unknown feature gates
  vendor/k8s.io/kubernetes/staging/src/k8s.io/component-base/featuregate/feature_gate.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/component-base/featuregate/feature_gate_test.go
Due: none

CHECK(metrics): fixups extended tests
  test/extended/prometheus/prometheus.go
  test/extended/prometheus/prometheus_builds.go
Due: none

UPSTREAM: <drop>: add legacy --shutdown-delay-duration
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go
Due: none

UPSTREAM: <carry>: CHECK(node): disable --node-label validation for unknown labels
  vendor/k8s.io/kubernetes/cmd/kubelet/app/options/options.go
Due: none

hack: use kube deepcopy boilerplate for k/k files
  hack/update-generated-deep-copies.sh
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 82337: fix sporadic failures in cni tests
  vendor/k8s.io/kubernetes/pkg/kubelet/dockershim/network/cni/cni_test.go
Due: ci/prow/gcp-crio

images/os: CHECK(node): bump base image to 4.2
  images/os/Dockerfile
Due: none

UPSTREAM: <drop>: reenable extensions/v1beta1 & apps/v1beta*
  vendor/k8s.io/kubernetes/pkg/master/master.go
Due: none

hack: add selinux go build tag on linux
  hack/lib/constants.sh
Due: ci/prow/artifacts, ci/prow/cross

Revert "images/os: CHECK(node): bump base image to 4.2"
  images/os/Dockerfile
Due: none

UPSTREAM: <drop>: update openapi
  vendor/k8s.io/kubernetes/hack/openapi-violation.list
Due: none

UPSTREAM: <drop>: grpc: work around missing WithContextDialer with old grpc lib
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
Due: none

CHECK(sdn): extended: fix networking helpers
  test/extended/networking/util.go
  test/extended/util/framework.go
Due: ci/prow/e2e-aws-builds

UPSTREAM: 82438: Fallback to schemaless apply behavior for custom resources with unhandled schemas
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/testing/BUILD
  vendor/k8s.io/kubernetes/test/integration/apiserver/apply/apply_crd_test.go
Due: none

UPSTREAM: 82303: GuaranteedUpdate, retry on precondition check failure if we are working with cached data
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go
Due: none

Remove gradle e2e tests as we are removing it from jenkins maven agent image while migrating to openjdk-11
  test/extended/builds/pipeline_jenkins_e2e.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/gradle-pipeline.yaml
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

Bug 1748814: Remove 'option tcplog' from passthrough backend in template router
  images/router/haproxy/conf/haproxy-config.template
Due: none

proves that the host is not set
  vendor/k8s.io/kubernetes/test/e2e/framework/ssh/ssh.go
  vendor/k8s.io/kubernetes/test/e2e/storage/utils/utils.go
Due: none

UPSTREAM: 73863: Fix code to handle delayed binding volumes
  vendor/k8s.io/kubernetes/pkg/scheduler/algorithm/predicates/csi_volume_predicate.go
  vendor/k8s.io/kubernetes/pkg/scheduler/algorithm/predicates/csi_volume_predicate_test.go
  vendor/k8s.io/kubernetes/pkg/scheduler/algorithm/predicates/max_attachable_volume_predicate_test.go
  vendor/k8s.io/kubernetes/pkg/scheduler/algorithmprovider/defaults/register_predicates.go
Due: none

UPSTREAM: 62146: Fix RBAC policy Bug 1618745
  vendor/k8s.io/kubernetes/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  vendor/k8s.io/kubernetes/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Due: none

FIXUP: kubectl package moves
  cmd/openshift-tests/e2e.go
  cmd/openshift-tests/openshift-tests.go
  cmd/openshift-tests/upgrade.go
  test/extended/util/manifest_test.go
  tools/etcdhelper/etcdhelper.go
Due: ci/prow/e2e-aws-builds

RECHECK: glide.yaml: remove pinning
  glide.yaml
Due: none

BORING: glide.yaml: switch ginkgo to origin-4.3 fork
  glide.yaml
Due: none

TEMPORARY: comment out k8s.io/kubernetes/pkg/client/clientset_generated/internalclientset
  test/extended/authorization/scopes.go
  test/extended/etcd/etcd_storage_path.go
Due: none

BORING: glide.yaml: switch to 1.16
  glide.yaml
Due: none

BORING: glide.yaml: help glide with github.com/Azure/go-autonest go mod submodule tag
  glide.yaml
Due: none

CHECK(pod): glide.yaml: detach from fork: 1805 merged
  glide.yaml
Due: none

TODO(node): glide.yaml: recheck docker refs
  glide.yaml
Due: none

publishing-rules: add origin-4.3-kubernetes-1.16.0-beta.2
  publishing-kube-rules.yaml
Due: none

FIXUP: legacy-cloud-providers move
  test/extended/util/azure/config_file.go
Due: ci/prow/e2e-aws-builds

glide.yaml: old gprc until etcd and cri-o is updated
  glide.yaml
Due: none

glide.yaml: old etcd3 until etcd images are updated
  glide.yaml
Due: none

UPSTREAM: <carry>: update openapi
  vendor/k8s.io/kubernetes/hack/openapi-violation.list
  vendor/k8s.io/kubernetes/pkg/generated/openapi/zz_generated.openapi.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/hack/openapi-violation.list
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
Due: none

BORING: follow e2e framework type rename
  test/e2e/upgrade/upgrade.go
Due: none

UPSTREAM: 82478: endpoints: fix admission test types
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/apiserver_test.go
Due: none

hack/update-generated-openapi.sh: exclude code-gen and sample-apiserver as upstream
  hack/update-generated-openapi.sh
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: <drop>: CHECK(node): disable pkg/kubelet/oom test that only runs as root
  vendor/k8s.io/kubernetes/pkg/kubelet/oom/oom_watcher_linux_test.go
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
