Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/cross, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)) or (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder))
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)

Handle schema1 registries and fix various edge cases
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
  pkg/image/dockerlayer/add/add.go
  pkg/oc/cli/admin/release/image_mapper.go
  pkg/oc/cli/admin/release/mirror.go
  pkg/oc/cli/admin/release/new.go
  pkg/oc/cli/image/append/append.go
  pkg/oc/cli/image/manifest/manifest.go
  pkg/oc/cli/image/mirror/mirror.go
  pkg/oc/cli/image/mirror/plan.go
Due: ci/openshift-jenkins/extended_image_registry

UPSTREAM: 0000: verify event object matches initially specified obj
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/get/get.go
Due: none

UPSTREAM: 68980: kubelet should not create pod sandbox
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/kuberuntime_manager.go
Due: ci/prow/gcp-crio

test: CI fixes
  vendor/k8s.io/kubernetes/test/e2e/framework/util.go
  vendor/k8s.io/kubernetes/test/e2e/storage/persistent_volumes-local.go
  vendor/k8s.io/kubernetes/test/e2e/storage/subpath.go
Due: none

UPSTREAM: 69215: Fix flake in CSI plugin e2e test
  vendor/k8s.io/kubernetes/test/e2e/storage/csi_objects.go
Due: none

Re-enable CSI plugin test
  test/extended/util/test.go
Due: ci/openshift-jenkins/extended_builds

only have origin resources in origin
  pkg/cmd/server/bootstrappolicy/all.go
  pkg/cmd/server/bootstrappolicy/policy.go
  pkg/cmd/server/bootstrappolicy/policy_test.go
  pkg/cmd/server/bootstrappolicy/web_console_role_test.go
Due: ci/openshift-jenkins/service-catalog

generated
  test/testdata/bootstrappolicy/bootstrap_cluster_role_bindings.yaml
  test/testdata/bootstrappolicy/bootstrap_cluster_roles.yaml
  test/testdata/bootstrappolicy/bootstrap_namespace_role_bindings.yaml
  test/testdata/bootstrappolicy/bootstrap_namespace_roles.yaml
  test/testdata/bootstrappolicy/bootstrap_policy_file.yaml
Due: none

aggregate roles that need to cover each other
  pkg/cmd/server/bootstrappolicy/all_test.go
  pkg/cmd/server/bootstrappolicy/policy.go
  pkg/cmd/server/bootstrappolicy/policy_test.go
  test/testdata/bootstrappolicy/bootstrap_cluster_roles.yaml
  test/testdata/bootstrappolicy/bootstrap_policy_file.yaml
Due: ci/openshift-jenkins/service-catalog

Remove Simo Sorce from OWNERS
  images/openldap/OWNERS
  pkg/apiserver/authentication/OWNERS
  pkg/authorization/OWNERS
  pkg/cmd/OWNERS
  pkg/oauth/OWNERS
  pkg/oauthserver/OWNERS
  pkg/security/OWNERS
  pkg/serviceaccounts/OWNERS
  pkg/user/OWNERS
  test/OWNERS
  test/testdata/OWNERS
Due: none

Fix typos
  HACKING.md
Due: none

bugfix
  pkg/cmd/server/bootstrappolicy/all.go
  test/cmd/admin.sh
  test/testdata/bootstrappolicy/bootstrap_policy_file.yaml
Due: ci/openshift-jenkins/service-catalog

cluster-up: create <base-dir>/render-tls dir and use for kube-apiserver secrets
  pkg/oc/clusterup/componentinstall/apply_template.go
  pkg/oc/clusterup/componentinstall/context.go
  pkg/oc/clusterup/coreinstall/components/pivot/initialconfig.go
  pkg/oc/clusterup/run_self_hosted.go
Due: none

cluster-up: use bootkube to bootstrap the kube control plane
  hack/import-restrictions.json
  hack/test-end-to-end-docker.sh
  pkg/oc/cli/project/project.go
  pkg/oc/clusterup/componentinstall/context.go
  pkg/oc/clusterup/componentinstall/node_config.go
  pkg/oc/clusterup/coreinstall/bootkube/run_bootkube.go
  pkg/oc/clusterup/coreinstall/etcd/run_etcd.go
  pkg/oc/clusterup/coreinstall/kubelet/config.go
  pkg/oc/clusterup/coreinstall/kubelet/flags.go
  pkg/oc/clusterup/coreinstall/kubelet/run_kubelet.go
  pkg/oc/clusterup/coreinstall/staticpods/load.go
  pkg/oc/clusterup/docker/errors/docker.go
  pkg/oc/clusterup/docker/openshift/helper.go
  pkg/oc/clusterup/docker/openshift/login.go
  pkg/oc/clusterup/docker/openshift/project.go
  pkg/oc/clusterup/down.go
  pkg/oc/clusterup/run_self_hosted.go
  pkg/oc/clusterup/run_self_hosted_legacy.go
  pkg/oc/clusterup/up.go
  pkg/template/templateprocessing/template.go
Due: ci/prow/cross

cluster-up: call cluster-kube-apiserver-operator render
  pkg/oc/clusterup/coreinstall/bootkube/run_bootkube.go
  pkg/oc/clusterup/coreinstall/controlplane-operator/run_render.go
  pkg/oc/clusterup/docker/openshift/helper.go
  pkg/oc/clusterup/run_self_hosted.go
Due: none

cluster-up: remove transitional secret+configmap creation, now through bootkube phase 1
  pkg/oc/clusterup/coreinstall/components/pivot/initialconfig.go
Due: none

cluster-up: switch etcd to static pod
  install/etcd/etcd.yaml
  install/etcd/install.yaml
  pkg/oc/clusterup/coreinstall/etcd/run_etcd.go
  pkg/oc/clusterup/manifests/bindata.go
  pkg/oc/clusterup/run_self_hosted.go
  test/extended/testdata/bindata.go
Due: none

cluster-up: add assets rendering
  pkg/oc/clusterup/coreinstall/assets/admin.go
  pkg/oc/clusterup/coreinstall/assets/apiserver.go
  pkg/oc/clusterup/coreinstall/assets/common.go
  pkg/oc/clusterup/coreinstall/assets/etcd.go
  pkg/oc/clusterup/coreinstall/assets/kubeconfig.go
  pkg/oc/clusterup/coreinstall/assets/render.go
  pkg/oc/clusterup/coreinstall/assets/tlsutil/util.go
Due: none

cluster-up: add sane api to track required images
  pkg/oc/clusterup/required_images.go
Due: none

cluster-up: create assets/auth/kubeconfig
  pkg/oc/clusterup/coreinstall/assets/kubeconfig.go
  pkg/oc/clusterup/coreinstall/assets/render.go
Due: none

cluster-up: pass hyperkube image to kube-apiserver render
  pkg/oc/clusterup/coreinstall/assets/apiserver.go
  pkg/oc/clusterup/coreinstall/assets/etcd.go
  pkg/oc/clusterup/coreinstall/assets/kubeconfig.go
  pkg/oc/clusterup/coreinstall/assets/render.go
  pkg/oc/clusterup/coreinstall/controlplane-operator/run_render.go
  pkg/oc/clusterup/run_self_hosted.go
  pkg/oc/clusterup/up.go
Due: none

cluster-up: skim more from legacy cluster up
  pkg/oc/clusterup/componentinstall/apply_template.go
  pkg/oc/clusterup/componentinstall/interface.go
  pkg/oc/clusterup/componentinstall/union_component.go
  pkg/oc/clusterup/coreinstall/bootkube/run_bootkube.go
  pkg/oc/clusterup/coreinstall/components/persistent-volumes/setup_persistent_volumes.go
  pkg/oc/clusterup/coreinstall/controlplane-operator/run_render.go
  pkg/oc/clusterup/coreinstall/kubeapiserver/config.go
  pkg/oc/clusterup/coreinstall/kubelet/run_kubelet.go
  pkg/oc/clusterup/coreinstall/staticpods/load.go
  pkg/oc/clusterup/docker/host/doc.go
  pkg/oc/clusterup/docker/host/host.go
  pkg/oc/clusterup/docker/openshift/helper.go
  pkg/oc/clusterup/docker/run/run.go
  pkg/oc/clusterup/docker/util/client.go
  pkg/oc/clusterup/docker/util/filetransfer.go
  pkg/oc/clusterup/docker/util/helper.go
  pkg/oc/clusterup/docker/util/interface.go
  pkg/oc/clusterup/docker/util/ipv4range.go
  pkg/oc/clusterup/docker/util/registryconfig.go
  pkg/oc/clusterup/docker/util/registryconfig_test.go
  pkg/oc/clusterup/down.go
  pkg/oc/clusterup/run_self_hosted.go
  pkg/oc/clusterup/run_self_hosted_legacy.go
  pkg/oc/clusterup/up.go
Due: none

cluster-up: fix etcd certs+keys
  install/etcd/etcd.yaml
  pkg/oc/clusterup/clusteradd/add_cmd.go
  pkg/oc/clusterup/clusteradd/apply_image.go
  pkg/oc/clusterup/coreinstall/assets/etcd.go
  pkg/oc/clusterup/coreinstall/assets/kubeconfig.go
  pkg/oc/clusterup/coreinstall/assets/render.go
  pkg/oc/clusterup/coreinstall/controlplane-operator/run_render.go
  pkg/oc/clusterup/coreinstall/kubelet/dns.go
  pkg/oc/clusterup/docker/errors/docker.go
  pkg/oc/clusterup/docker/openshift/helper.go
  pkg/oc/clusterup/manifests/bindata.go
  pkg/oc/clusterup/required_images.go
  pkg/oc/clusterup/run_self_hosted.go
  pkg/oc/clusterup/run_self_hosted_legacy.go
  test/extended/testdata/bindata.go
Due: none

cluster-up: tell kube-apiserver operator about secrets path
  install/etcd/etcd.yaml
  pkg/oc/clusterup/coreinstall/assets/apiserver.go
  pkg/oc/clusterup/coreinstall/controlplane-operator/run_render.go
  pkg/oc/clusterup/coreinstall/kubelet/run_kubelet.go
  pkg/oc/clusterup/manifests/bindata.go
  pkg/oc/clusterup/run_self_hosted.go
  test/extended/testdata/bindata.go
Due: none

cluster-up: fix kubeconfig rendering of certs+keys
  pkg/oc/clusterup/coreinstall/assets/apiserver.go
  pkg/oc/clusterup/coreinstall/assets/kubeconfig.go
  pkg/oc/clusterup/coreinstall/assets/render.go
  pkg/oc/clusterup/coreinstall/controlplane-operator/run_render.go
  pkg/oc/clusterup/required_images.go
  pkg/oc/clusterup/run_self_hosted.go
  pkg/oc/clusterup/run_self_hosted_legacy.go
  pkg/oc/clusterup/up.go
Due: none

cluster-up: fix controller manager overrides
  pkg/oc/clusterup/coreinstall/assets/kubeconfig.go
  pkg/oc/clusterup/run_self_hosted.go
Due: none

remove unnecessary oc cluster up bits
  install/cluster-kube-apiserver-operator/install.yaml
  install/cluster-openshift-apiserver-operator/install.yaml
  install/cluster-openshift-controller-manager-operator/install.yaml
  install/kube-apiserver/apiserver.yaml
  install/kube-controller-manager/kube-controller-manager.yaml
  install/kube-dns/install.yaml
  install/kube-proxy/install.yaml
  install/kube-scheduler/kube-scheduler.yaml
  install/openshift-service-cert-signer-operator/install-rbac.yaml
  install/openshift-service-cert-signer-operator/install.yaml
  pkg/oc/cli/cluster/cluster.go
  pkg/oc/clusterup/clusteradd/add_cmd.go
  pkg/oc/clusterup/clusteradd/apply_image.go
  pkg/oc/clusterup/componentinstall/apply_template.go
  pkg/oc/clusterup/componentinstall/context.go
  pkg/oc/clusterup/componentinstall/interface.go
  pkg/oc/clusterup/componentinstall/master_config.go
  pkg/oc/clusterup/componentinstall/readiness_apigroup.go
  pkg/oc/clusterup/componentinstall/union_component.go
  pkg/oc/clusterup/coreinstall/components/components.go
  pkg/oc/clusterup/coreinstall/components/persistent-volumes/setup_persistent_volumes.go
  pkg/oc/clusterup/coreinstall/kubeapiserver/config.go
  pkg/oc/clusterup/docker/openshift/helper.go
  pkg/oc/clusterup/manifests/bindata.go
  pkg/oc/clusterup/run_self_hosted.go
  pkg/oc/clusterup/run_self_hosted_legacy.go
  pkg/oc/clusterup/up.go
  test/extended/testdata/bindata.go
Due: none

fix import restrictions
  hack/import-restrictions.json
Due: ci/prow/cross

update completions
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
Due: none

extended: pull and re-tag operator images
  test/extended/clusterup.sh
Due: none

cluster-up: move lock host path to base dir
  install/etcd/etcd.yaml
  pkg/oc/clusterup/coreinstall/controlplane-operator/run_render.go
  pkg/oc/clusterup/manifests/bindata.go
  pkg/oc/clusterup/run_self_hosted.go
  pkg/oc/clusterup/up.go
  test/extended/testdata/bindata.go
Due: none

cluster-up: remove some default tests
  test/extended/clusterup.sh
Due: none

UPSTREAM: 69291: Increase the pod start short timeout
  vendor/k8s.io/kubernetes/test/e2e/framework/util.go
Due: none

UPSTREAM: 69300: test: Wait for pod event to show up
  vendor/k8s.io/kubernetes/test/e2e/framework/util.go
  vendor/k8s.io/kubernetes/test/e2e/storage/subpath.go
Due: none

cluster-up: remove remote docker
  pkg/oc/clusterup/docker/util/client.go
  pkg/oc/clusterup/docker/util/helper.go
  pkg/oc/clusterup/required_images.go
  pkg/oc/clusterup/up.go
Due: none

add origin-sdn-ovs to excluder
  origin.spec
Due: none

cluster-up: add locks for controller manager
  pkg/oc/clusterup/coreinstall/controlplane-operator/run_render.go
  pkg/oc/clusterup/run_self_hosted.go
Due: none

swithc kube-apiserver port to 6443
  pkg/cmd/openshift-kube-apiserver/configdefault/kubecontrolplane_default.go
  pkg/oc/clusterup/coreinstall/assets/render.go
  pkg/oc/clusterup/docker/openshift/helper.go
  pkg/oc/clusterup/docker/openshift/helper_unix.go
  pkg/oc/clusterup/run_self_hosted.go
  pkg/oc/clusterup/up.go
Due: none

update-external-examples
  examples/db-templates/mariadb-ephemeral-template.json
  examples/db-templates/mariadb-persistent-template.json
  examples/db-templates/mongodb-ephemeral-template.json
  examples/db-templates/mongodb-persistent-template.json
  examples/db-templates/mysql-ephemeral-template.json
  examples/db-templates/mysql-persistent-template.json
  examples/db-templates/postgresql-ephemeral-template.json
  examples/db-templates/postgresql-persistent-template.json
  examples/image-streams/image-streams-centos7.json
  examples/image-streams/image-streams-rhel7.json
  examples/jenkins/jenkins-ephemeral-template.json
  examples/jenkins/jenkins-persistent-template.json
  examples/quickstarts/cakephp-mysql-persistent.json
  examples/quickstarts/cakephp-mysql.json
  examples/quickstarts/dancer-mysql-persistent.json
  examples/quickstarts/dancer-mysql.json
  examples/quickstarts/django-postgresql-persistent.json
  examples/quickstarts/django-postgresql.json
  examples/quickstarts/httpd.json
  examples/quickstarts/nodejs-mongodb-persistent.json
  examples/quickstarts/nodejs-mongodb.json
  examples/quickstarts/rails-postgresql-persistent.json
  examples/quickstarts/rails-postgresql.json
  pkg/oc/clusterup/manifests/bindata.go
  test/cmd/debug.sh
  test/cmd/images.sh
  test/cmd/newapp.sh
  test/extended/testdata/bindata.go
Due: ci/openshift-jenkins/extended_image_ecosystem
