Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

Switch to go-ldap/v3
  test/extended/oauth/groupsync.go
Due: none

Remove dead code - setTestExclusion
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/queue.go
Due: none

Adapt to v2 by migrating use of extensions/table package
  test/extended/networking/tuning.go
  test/extended/oauth/server_headers.go
  test/extended/security/sysctl.go
Due: none

Adapt to v2 by migrating use of config.GinkgoConfig to ginkgo.GinkgoConfiguration()
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add newlines to SimultaneousPodIPController
  pkg/monitor/podipcontroller/pod_ip_controller.go
Due: none

Drop [Suite:openshift/registry/serial] from Image signature worklow tests
  cmd/openshift-tests/minimal.go
  test/extended/images/signatures.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

make update
  test/extended/testdata/bindata.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Update ETCD storage test alpha versions
  test/extended/etcd/etcd_storage_path.go
Due: none

Update test images
  cmd/openshift-tests/images.go
  test/extended/testdata/cmd/test/cmd/testdata/hello-openshift/hello-pod.json
  test/extended/testdata/cmd/test/cmd/testdata/templateinstance_objectkinds.yaml
  test/extended/testdata/idling-echo-server-rc.yaml
  test/extended/testdata/idling-echo-server.yaml
  test/extended/testdata/router/ingress.yaml
  test/extended/testdata/router/reencrypt-serving-cert.yaml
  test/extended/testdata/router/router-common.yaml
  test/extended/testdata/router/router-config-manager.yaml
  test/extended/testdata/router/router-metrics.yaml
  test/extended/testdata/router/weighted-router.yaml
  test/extended/testdata/templates/templateinstance_badobject.yaml
  test/extended/testdata/templates/templateinstance_objectkinds.yaml
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Update gofmt with golang 1.19
  test/extended/testdata/bindata.go
  tools/junitreport/pkg/parser/gotest/data_parser_test.go
Due: none

Add registry.k8s.io/pause:3.8
  cmd/openshift-tests/images.go
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

React to k8s 1.25 changes
  cmd/openshift-tests/images.go
  test/e2e/upgrade/upgrade.go
  test/extended/apiserver/resiliency.go
  test/extended/cli/admin.go
  test/extended/cli/basics.go
  test/extended/dr/backup_restore.go
  test/extended/dr/machine_recover.go
  test/extended/dr/quorum_restore.go
  test/extended/util/annotate/annotate.go
  test/extended/util/annotate/rules.go
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

ginkgo v2 adaptation
  cmd/openshift-tests/openshift-tests.go
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/cmd_runtest.go
  pkg/test/ginkgo/ginkgo.go
  pkg/test/ginkgo/result/result.go
  pkg/test/ginkgo/test.go
Due: none

Fix TestBackendSampler_checkConnection unit test
  pkg/monitor/backenddisruption/disruption_backend_sampler_test.go
Due: none

Add jUnitSuite and status to e2e-test interval locators.
  pkg/monitor/monitorapi/identification.go
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/cmd_runtest.go
  pkg/test/ginkgo/ginkgo.go
  pkg/test/ginkgo/status.go
  pkg/test/ginkgo/test.go
Due: none

Handle e2e-test locators with quoted test names, add unit tests.
  pkg/monitor/intervalcreation/e2etest.go
  pkg/monitor/intervalcreation/e2etest_test.go
  pkg/monitor/monitorapi/identification.go
  pkg/monitor/monitorapi/identification_test.go
Due: none

damn edge cases, still busted
  pkg/monitor/monitorapi/identification_test.go
Due: none

ignore kubepodnotready alerts firing when it happens during node upgrade
  pkg/monitor/monitorapi/identification.go
  pkg/monitor/monitorapi/types.go
  pkg/synthetictests/allowedalerts/basic_alert.go
Due: none

Add a test suite suffix to the alert test name
  pkg/synthetictests/alerts.go
  pkg/synthetictests/event_junits.go
Due: none

Switch from waiting for running pod to wait for a completed pod in image tests
  test/extended/image_ecosystem/scl.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

provide alert event intervals only if prometheus is present
  pkg/monitor/alerts.go
Due: none

remove templateservicebroker bind test
  test/extended/templates/templateservicebroker_bind.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

remove templatebroker e2e and security tests as well
  test/extended/templates/helpers.go
  test/extended/templates/templateservicebroker_e2e.go
  test/extended/templates/templateservicebroker_security.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Drop template from testdata/router/router-common.yaml
  test/extended/router/certs.go
  test/extended/router/scoped.go
  test/extended/router/unprivileged.go
  test/extended/testdata/router/router-common.yaml
Due: none

Drop testdata/router/router-scoped.yaml
  test/extended/router/certs.go
  test/extended/router/scoped.go
  test/extended/router/unprivileged.go
  test/extended/testdata/router/router-scoped.yaml
Due: none

Drop testdata/router/router-override.yaml
  test/extended/router/scoped.go
  test/extended/testdata/router/router-override.yaml
Due: none

Drop testdata/router/router-override-domains.yaml
  test/extended/router/scoped.go
  test/extended/testdata/router/router-override-domains.yaml
Due: none

Drop testdata/router/router-grpc-interop.yaml
  test/extended/router/grpc-interop.go
  test/extended/testdata/router/router-grpc-interop.yaml
Due: none

Drop testdata/router/router-grpc-interop-routes.yaml
  test/extended/router/grpc-interop.go
  test/extended/testdata/router/router-grpc-interop-routes.yaml
Due: none

Drop testdata/router/router-h2spec.yaml
  test/extended/router/h2spec.go
  test/extended/testdata/router/router-h2spec.yaml
Due: none

Drop testdata/router/router-h2spec-routes.yaml
  test/extended/router/h2spec.go
  test/extended/testdata/router/router-h2spec-routes.yaml
Due: none

Drop testdata/router/router-http2.yaml
  test/extended/router/http2.go
  test/extended/testdata/router/router-http2.yaml
Due: none

Drop testdata/router/router-http2-routes.yaml
  test/extended/router/http2.go
  test/extended/testdata/router/router-http2-routes.yaml
Due: none

Drop testdata/router/router-idle.yaml
  test/extended/router/idle.go
  test/extended/testdata/router/router-idle.yaml
Due: none

Drop testdata/router/router-config-manager.yaml
  test/extended/router/config_manager.go
  test/extended/testdata/router/router-config-manager.yaml
Due: none

Drop testdata/router/weighted-router.yaml
  test/extended/router/weighted.go
  test/extended/testdata/router/weighted-router.yaml
Due: none

Remove HAProxy template.openshift.io from test/extended/util/annotate/rules.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
