Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-builds-cluster-profile
      - --target=e2e-aws-builds
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-registry-cluster-profile
      - --target=e2e-aws-image-registry
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

UPSTREAM: <drop>: restore unprivileged access.
  vendor/k8s.io/kubernetes/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  vendor/k8s.io/kubernetes/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-role-bindings.yaml
Due: none

AUTH: update cluster-reader
  pkg/cmd/server/bootstrappolicy/policy.go
  test/testdata/bootstrappolicy/bootstrap_cluster_roles.yaml
  test/testdata/bootstrappolicy/bootstrap_policy_file.yaml
Due: ci/openshift-jenkins/service-catalog

always add SCC to upstream e2e tests
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

disable new storage features. may require new kubelet
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

ROUTER: IMPORTANT extensions client disappeared
  test/extended/router/stress.go
Due: none

AUTH: SCC for new volume type
  pkg/security/apis/security/types.go
  pkg/security/securitycontextconstraints/util/util.go
Due: none

APIMACHINERY: update fuzzer for field ownership
  pkg/authorization/apis/authorization/rbacconversion/conversion_test.go
Due: none

APIMACHINERY: update fuzzer for field ownership
  pkg/project/util/util_test.go
Due: none

APISERVER: runtime-class update
  test/integration/etcd_storage_path_test.go
Due: none

UPSTREAM: 76191: Don't run topology tests with GCE CSI driver on non-GCE cloud
  vendor/k8s.io/kubernetes/test/e2e/storage/csi_volumes.go
Due: none

skip serial scheduler test for TaintBasedEvictions
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

skip provisioning test with bad labels: fix in progress
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

skip DynamicAudit which is off by default
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

skip two service network tests
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

update version numbers to 1.14
  Godeps/Godeps.json
  images/hyperkube/Dockerfile.rhel
  images/kube-proxy/Dockerfile
  images/kube-proxy/Dockerfile.rhel
Due: none

PSP subject review: do not pass empty user to FindApplicableSCCs
  pkg/security/apiserver/registry/podsecuritypolicysubjectreview/rest.go
Due: none

PSP subject review: validate required user info
  pkg/security/apis/security/validation/validation.go
  pkg/security/apis/security/validation/validation_test.go
Due: none

wip003
  vendor/k8s.io/kubernetes/pkg/kubelet/server/server.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
Due: ci/prow/gcp-crio

wip001
  pkg/build/apiserver/registry/buildconfig/webhook_bc.go
  pkg/build/apiserver/registry/buildconfig/webhook_bc_test.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

wip002
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/util/logs/logs.go
Due: none

debug bc webhook
  pkg/build/apiserver/registry/buildconfig/webhook.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

wip004
  vendor/k8s.io/kubernetes/pkg/kubelet/server/server.go
Due: ci/prow/gcp-crio

Add server side table printer for RangeAllocation
  pkg/printers/internalversion/printer.go
Due: none

Remove dead printer code
  pkg/printers/internalversion/printer.go
Due: none

Fix TestPrinterCoverage
  pkg/printers/internalversion/printer_test.go
Due: none

Cleanup origin polymorphichelpers from internal types
  pkg/oc/originpolymorphichelpers/attachablepodforobject.go
  pkg/oc/originpolymorphichelpers/canbeautoscaled.go
  pkg/oc/originpolymorphichelpers/canbeexposed.go
  pkg/oc/originpolymorphichelpers/historyviewer.go
  pkg/oc/originpolymorphichelpers/logsforobject.go
  pkg/oc/originpolymorphichelpers/mapbasedselectorforobject.go
  pkg/oc/originpolymorphichelpers/portsforobject.go
  pkg/oc/originpolymorphichelpers/protocolsforobject.go
  pkg/oc/originpolymorphichelpers/rollbacker.go
  pkg/oc/originpolymorphichelpers/statusviewer.go
Due: none

Add soltysh to pkg/printer owners
  pkg/printers/OWNERS
Due: none

Turn openapi validation to match kubectl commands
  pkg/oc/cli/cli.go
Due: none

UPSTREAM: 73144: add PATH de-duplication when searching for plugins
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/plugin/BUILD
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/plugin/plugin.go
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/plugin/plugin_test.go
Due: none

UPSTREAM: 73469: Added windows executable extensions to Kubectl plugins
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/plugin/plugin.go
Due: none

UPSTREAM: 73542: make missing-directory errors non fatal
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/plugin/BUILD
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/plugin/plugin.go
Due: none

UPSTREAM: 72137: Issue 71769: Correctly display '_' in the help message
  vendor/k8s.io/kubernetes/pkg/kubectl/util/templates/markdown.go
  vendor/k8s.io/kubernetes/pkg/kubectl/util/templates/normalizers.go
Due: none

UPSTREAM: 75483: Skip smart label in kubectl describe if field has special chars
  vendor/k8s.io/kubernetes/pkg/kubectl/describe/versioned/describe.go
  vendor/k8s.io/kubernetes/pkg/kubectl/describe/versioned/describe_test.go
Due: none

Add debug handler
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/config.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/debug.go
Due: none

wip001
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/debug.go
Due: none

wip002
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/debug.go
Due: none

debug SA token err
  vendor/k8s.io/kubernetes/pkg/serviceaccount/claims.go
  vendor/k8s.io/kubernetes/pkg/serviceaccount/legacy.go
Due: none

logged in err
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/util/helpers.go
Due: none

verbose create
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/create/create.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
