Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

Add more tests for image policy
  test/extended/images/resolve.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

Add Oleg as approver
  test/extended/util/OWNERS
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add puma to s2i-environment-build-app
  test/extended/testdata/builds/s2i-environment-build-app/Gemfile
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Bug 2020611: Create Jenkins Test Focus
  test/extended/builds/imagechangetriggers.go
  test/extended/builds/jenkins_autoprovision.go
  test/extended/builds/jenkins_plugin.go
  test/extended/builds/pipeline.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Migrate apiresources.go and add version
  test/extended/cli/apiresources.go
  test/extended/cli/basics.go
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/apiresources.sh
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "add search default image registries test to build e2es"
  test/extended/builds/docker_pullsearch.go
  test/extended/testdata/builds/test-build-search-registries.yaml
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Fix single-node frontends disruption test tolerated disruption %
  test/extended/util/disruption/frontends/frontends.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Refresh prometheus OWNERS
  test/extended/prometheus/OWNERS
Due: none

oauth e2e: fix the expected http2 error to match golang 1.17+
  test/extended/oauth/http1.go
Due: none

oauth/requestheaders: escape semicolon in URI
  test/extended/oauth/requestheaders.go
Due: none

Add IPv6 support for expose tests
  test/extended/cli/expose.go
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/testdata/external-service-ipv6.yaml
  test/extended/testdata/cmd/test/cmd/testdata/multiport-service-ipv6.yaml
Due: none

Change the order of preoject creation and teardown
  test/extended/cli/explain.go
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "Finish basicresources.sh migration"
  test/extended/cli/basics.go
  test/extended/cli/expose.go
  test/extended/cli/probe.go
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/basicresources.sh
  test/extended/testdata/cmd/test/cmd/testdata/application-template-stibuild.json
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 2020611: Reduce Test Focus for Jenkins
  test/extended/builds/imagechangetriggers.go
  test/extended/builds/jenkins_autoprovision.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

account for longer tests runs in the watch pathological watch test case
  test/extended/apiserver/api_requests.go
Due: none

pkg/synthetictests: add toleration for missing versioned etcd-endpoints cm during upgrade
  pkg/synthetictests/duplicated_events.go
Due: none

test/extended: label privileged namespaces
  test/extended/etcd/etcd_storage_path.go
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/hack/lib/init.sh
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Skip imageregistry serial test requiring internet access for disconnected environments
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

wait for auth cache on secondary apiserver for the templateinstance impersonate tests
  test/extended/templates/templateinstance_impersonation.go
Due: none

prevent rare alert gathering panic
  pkg/monitor/alerts.go
Due: none

tests/extended/builds: handle new step logging
  test/extended/builds/multistage.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Add PSGI application for hot-deploy
  test/extended/testdata/image_ecosystem/perl-psgi-hotdeploy/index.psgi
  test/extended/testdata/image_ecosystem/perl-psgi-hotdeploy/lib/My/Test.pm
  test/extended/testdata/image_ecosystem/perl-psgi-hotdeploy/perl.json
Due: none

Update baremetal tests owners
  test/extended/baremetal/OWNERS
Due: none

olm: enable test on arm64
  test/extended/olm/olm.go
Due: none

migrate QE's public TCs to origin
  test/extended/olm/olm.go
  test/extended/olm/olm_utils.go
  test/extended/testdata/bindata.go
  test/extended/testdata/olm/catalogsource-configmap.yaml
  test/extended/testdata/olm/catalogsource-image.yaml
  test/extended/testdata/olm/cm-namespaceconfig.yaml
  test/extended/testdata/olm/og-allns.yaml
  test/extended/testdata/olm/og-multins.yaml
  test/extended/testdata/olm/olm-subscription.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/assert.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Create new-project without updating kubeconfig
  test/extended/cli/admin.go
Due: none

Switch the cluster-role-reapers test to Serial
  test/extended/cli/admin.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Managed cluster should ensure control plane operator: Allow hypershift kapi proxy
  test/extended/operators/tolerations.go
Due: none

Bug 2015624: Refactor IBM Cloud skips to External
  test/extended/authentication/front_proxy.go
  test/extended/authorization/authorization.go
  test/extended/cli/explain.go
  test/extended/cli/mustgather.go
  test/extended/csrapprover/csrapprover.go
  test/extended/etcd/etcd_test_runner.go
  test/extended/oauth/client_secret.go
  test/extended/oauth/oauthcertfallback.go
  test/extended/oauth/requestheaders.go
  test/extended/oauth/well_known.go
  test/extended/prometheus/prometheus.go
  test/extended/prometheus/prometheus_builds.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
  test/extended/util/cluster/cluster.go
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

image_ecosystem: update imagestreams
  test/extended/image_ecosystem/s2i_images.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

builds: upgrade php to 7.4
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/build-pruning/default-group-build-config.yaml
  test/extended/testdata/builds/build-pruning/default-legacy-build-config.yaml
  test/extended/testdata/builds/build-pruning/errored-build-config.yaml
  test/extended/testdata/builds/build-pruning/failed-build-config.yaml
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

image_ecosystem: specify available architectures for each S2I image
  test/extended/image_ecosystem/s2i_images.go
  test/extended/image_ecosystem/scl.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

image_ecosystem: add ubi7 imagestreams and x86-only dotnet
  test/extended/image_ecosystem/s2i_images.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Take a working copy of KUBECONFIG
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Cleanup tmp config files
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

CustomNoUpgrade should not fire no-upgrade failures
  test/extended/operators/operators.go
Due: none

Bump nfs-server version for multi-arch support
  test/extended/util/image/image.go
  test/extended/util/image/zz_generated.txt
  test/extended/util/nfs.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Relocate test-build-*s2i images for multi-arch support
  test/extended/builds/s2i_root.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/build-postcommit/sti.yaml
  test/extended/testdata/builds/build-timing/test-s2i-build.json
  test/extended/testdata/builds/statusfail-failedassemble.yaml
  test/extended/testdata/builds/statusfail-postcommithook.yaml
  test/extended/testdata/builds/statusfail-pushtoregistry.yaml
  test/extended/testdata/builds/test-build-cluster-config.yaml
  test/extended/testdata/builds/test-build-proxy.yaml
  test/extended/testdata/builds/test-build-revision.json
  test/extended/testdata/builds/test-nosrc-build.json
  test/extended/testdata/builds/test-s2i-build-quota.json
  test/extended/testdata/builds/test-s2i-build.json
  test/extended/testdata/builds/test-s2i-no-outputname.json
  test/extended/testdata/builds/valuefrom/failed-sti-build-value-from-config.yaml
  test/extended/testdata/builds/valuefrom/successful-sti-build-value-from-config.yaml
  test/extended/testdata/builds/volumes/docker-buildconfig.yaml
  test/extended/testdata/builds/volumes/s2i-buildconfig.yaml
  test/extended/testdata/templates/templateinstance_readiness.yaml
  test/extended/util/image/image.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Bug 2023238: Skipping Django Test until bug is fixed
  test/extended/image_ecosystem/s2i_python.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem
