Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

test: skip tests that won't work behind a proxy automatically
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
  test/extended/util/cluster/cluster.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "Add workaround for baremetal resources test"
  test/extended/baremetal/hosts.go
Due: none

stop flaking on disruption because we always produce data for analysis
  test/extended/util/disruption/disruption.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 2026802: copy api-request upperbound for cluster-monitoring-operator
  test/extended/apiserver/api_requests.go
Due: none

Fix vsphere testing workarounds
  pkg/synthetictests/duplicated_events.go
  pkg/synthetictests/duplicated_events_test.go
  test/extended/operators/operators.go
Due: none

Bug 1992596: e2e/cli: Move annotations.sh and basicresources.sh to proper e2e
  test/extended/cli/annotation.go
  test/extended/cli/compat.go
  test/extended/cli/label.go
  test/extended/cli/project.go
  test/extended/cli/resources.go
  test/extended/cli/rsync.go
  test/extended/cli/secret.go
  test/extended/cli/service.go
  test/extended/cli/statefulset.go
  test/extended/cli/status.go
  test/extended/cli/timeout.go
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/annotations.sh
  test/extended/testdata/cmd/test/cmd/basicresources.sh
  test/extended/testdata/cmd/test/cmd/testdata/mixed-api-versions.yaml
  test/extended/testdata/cmd/test/cmd/testdata/multiport-service.yaml
  test/extended/testdata/cmd/test/cmd/testdata/oauthaccesstoken.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bump k8s deps and o/k
  go.mod
Due: none

React to bump
  test/e2e/upgrade/service/service.go
  test/extended/images/imagestreamimport.go
  test/extended/networking/internal_ports.go
  test/extended/pods/liveness_override.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

make update
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Update image tags and regenerate
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/image/image.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Update extended test images
  test/extended/util/image/image.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

switch prometheus queries to use our external route, not an exec pod
  test/e2e/upgrade/alert/alert.go
  test/extended/machines/cluster.go
  test/extended/prometheus/prometheus.go
  test/extended/prometheus/prometheus_builds.go
  test/extended/prometheus/storage.go
  test/extended/prometheus/upgrade.go
  test/extended/util/client.go
  test/extended/util/prometheus/helpers.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

avoid requiring a valid client before running tests
  test/extended/machines/cluster.go
  test/extended/prometheus/prometheus.go
  test/extended/prometheus/prometheus_builds.go
Due: none

allow wardle aggregated apiservers to be down pending bug
  test/extended/prometheus/prometheus.go
Due: none

Check for presence of metal3 pods on specifc non-baremetal platforms
  test/extended/baremetal/hosts.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

add support for build csi volume source
  test/extended/builds/volumes.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/volumes/csi-docker-buildconfig.yaml
  test/extended/testdata/builds/volumes/csi-s2i-buildconfig.yaml
  test/extended/testdata/builds/volumes/csi-sharedresourcerole.yaml
  test/extended/testdata/builds/volumes/csi-sharedresourcerolebinding.yaml
  test/extended/testdata/builds/volumes/csi-sharedsecret.yaml
  test/extended/testdata/builds/volumes/csi-without-rr-docker-buildconfig.yaml
  test/extended/testdata/builds/volumes/csi-without-rr-s2i-buildconfig.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

watch specific alerts for pending and firing
  pkg/monitor/alerts.go
  pkg/monitor/monitorapi/types.go
  pkg/synthetictests/alerts.go
  pkg/synthetictests/allowedalerts/all.go
  pkg/synthetictests/allowedalerts/basic_alert.go
  pkg/synthetictests/allowedbackenddisruption/matches.go
  pkg/synthetictests/event_junits.go
  pkg/synthetictests/platformidentification/types.go
  pkg/test/ginkgo/cmd_runsuite.go
  test/extended/prometheus/alerts.go
  test/extended/prometheus/prometheus.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/conditions.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

separate out more alerts into specific tests
  pkg/monitor/monitorapi/types.go
  pkg/synthetictests/allowedalerts/all.go
  pkg/synthetictests/allowedalerts/basic_alert.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

write out zero duration for interesting alerts
  cmd/openshift-tests/openshift-tests.go
  pkg/monitor/write_job_run_data.go
  pkg/synthetictests/allowedalerts/job_run_data.go
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/write_job_run_data.go
  test/extended/util/disruption/backend_sampler_tester.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

move junit types to eliminate cyclical dep
  cmd/openshift-tests/images.go
  pkg/synthetictests/alerts.go
  pkg/synthetictests/allowedalerts/basic_alert.go
  pkg/synthetictests/apiserver.go
  pkg/synthetictests/duplicated_events.go
  pkg/synthetictests/event_junits.go
  pkg/synthetictests/kubelet.go
  pkg/synthetictests/networking.go
  pkg/synthetictests/operators.go
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/junit.go
  pkg/test/ginkgo/junitapi/types.go
  pkg/test/ginkgo/synthentic_tests.go
Due: none

Update test pod bindata to use new allowed images
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/testdata/hello-openshift/hello-pod.json
  test/extended/testdata/cmd/test/cmd/testdata/templateinstance_objectkinds.yaml
  test/extended/testdata/idling-echo-server-rc.yaml
  test/extended/testdata/idling-echo-server.yaml
  test/extended/testdata/router/ingress.yaml
  test/extended/testdata/router/reencrypt-serving-cert.yaml
  test/extended/testdata/router/router-common.yaml
  test/extended/testdata/router/router-config-manager.yaml
  test/extended/testdata/router/router-metrics.yaml
  test/extended/testdata/router/weighted-router.yaml
  test/extended/testdata/templates/templateinstance_badobject.yaml
  test/extended/testdata/templates/templateinstance_objectkinds.yaml
Due: none

Display ErrImagePull messages.
  pkg/synthetictests/kubelet.go
Due: none

Add back missing busybox image
  test/extended/util/image/image.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

for upgrades, skip alerts with individual invariant tests
  test/e2e/upgrade/alert/alert.go
Due: none

allow burn budget to flake until kube-apiserver team finds and fixes it
  pkg/synthetictests/allowedalerts/all.go
Due: none

Remove the workaround for event spam
  pkg/synthetictests/duplicated_events.go
  pkg/synthetictests/duplicated_events_test.go
Due: none

images: port image signature workflow test to OCP4/UBI8
  test/extended/images/signatures.go
  test/extended/testdata/bindata.go
  test/extended/testdata/signer-buildconfig.yaml
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

add e2e test to verify cluster is not impacted by CVE-2021-29923
  test/extended/apiserver/funny_ips.go
Due: none

bump(k8s.io/kubernetes)
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/test/e2e/storage/vsphere/config.go
  vendor/modules.txt
Due: none
