Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-builds-cluster-profile
      - --target=e2e-aws-builds
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-registry-cluster-profile
      - --target=e2e-aws-image-registry
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

e2e: fix flaky route wait function
  test/extended/router/scoped.go
Due: none

UPSTREAM: <carry>: add crdvalidation for apiserver.spec.tlsSecurityProfile
  vendor/k8s.io/kubernetes/cluster/images/conformance/go-runner/testdata/tartest/out.tar.gz
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver_test.go
Due: none

try to run all 4 jenkins e2e ginkgos in parallel before bumping timeout
  cmd/openshift-tests/e2e.go
Due: none

UPSTREAM: 84466: gce: add ExternalInstanceGroupsPrefix to filter instance groups that will be re-used for ILB backend
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/gce/gce.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/gce/gce_instancegroup.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
Due: none

test/extended/prometheus: revert 23995 and improve reporting firing alerts
  test/extended/prometheus/prometheus_builds.go
Due: none

test/extended/prometheus: run full promQL queries
  test/extended/prometheus/prometheus.go
  test/extended/prometheus/prometheus_builds.go
Due: none

exclude ClusterMachineApproverDown and UsingDeprecatedAPIExtensionsV1Beta1 as those alerts are constantly firing
  test/extended/prometheus/prometheus.go
Due: none

UPSTREAM: 83451: Fix block volume reconstruction
  vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/reconciler/reconciler.go
  vendor/k8s.io/kubernetes/pkg/volume/awsebs/aws_ebs_block.go
  vendor/k8s.io/kubernetes/pkg/volume/awsebs/aws_ebs_block_test.go
  vendor/k8s.io/kubernetes/pkg/volume/cinder/cinder_block.go
  vendor/k8s.io/kubernetes/pkg/volume/cinder/cinder_block_test.go
  vendor/k8s.io/kubernetes/pkg/volume/gcepd/gce_pd_block.go
  vendor/k8s.io/kubernetes/pkg/volume/gcepd/gce_pd_block_test.go
  vendor/k8s.io/kubernetes/pkg/volume/vsphere_volume/vsphere_volume_block.go
  vendor/k8s.io/kubernetes/pkg/volume/vsphere_volume/vsphere_volume_block_test.go
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/disruptive.go
  vendor/k8s.io/kubernetes/test/e2e/storage/utils/utils.go
Due: ci/prow/gcp-crio

UPSTREAM: 83466: Fix AWS block volume reconstruction to be like file
  vendor/k8s.io/kubernetes/pkg/volume/awsebs/aws_ebs.go
  vendor/k8s.io/kubernetes/pkg/volume/awsebs/aws_ebs_block.go
  vendor/k8s.io/kubernetes/pkg/volume/awsebs/aws_ebs_block_test.go
  vendor/k8s.io/kubernetes/pkg/volume/awsebs/aws_ebs_test.go
  vendor/k8s.io/kubernetes/pkg/volume/awsebs/aws_util.go
Due: none

UPSTREAM: 84173: Support local volume block mode reconstruction
  vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/reconciler/reconciler.go
  vendor/k8s.io/kubernetes/pkg/volume/local/local.go
Due: ci/prow/gcp-crio

UPSTREAM: 84218: Support local filesystem volume with block source reconstruction and add related e2e tests
  vendor/k8s.io/kubernetes/pkg/kubelet/volumemanager/reconciler/reconciler.go
  vendor/k8s.io/kubernetes/pkg/volume/local/local.go
  vendor/k8s.io/kubernetes/pkg/volume/local/local_test.go
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/subpath.go
  vendor/k8s.io/kubernetes/test/e2e/storage/utils/BUILD
  vendor/k8s.io/kubernetes/test/e2e/storage/utils/utils.go
Due: ci/prow/gcp-crio

Add Ben as approver
  OWNERS
Due: none

Revert CHECK(sttts): disables oc explain tests as our CRD are non-structural
  test/extended/cli/explain.go
Due: none

Add missing cases and comment out failing tests
  test/extended/cli/explain.go
Due: none

test/extended/prometheus: check if any rule evaluation is failing
  test/extended/prometheus/prometheus.go
Due: none

Bug 1683057: Fix router metrics test flakes
  test/extended/router/metrics.go
Due: none

extended: enable encryption
  test/extended/apiserver/encryption.go
Due: none

extended: enable etcd encryption
  test/extended/apiserver/encryption.go
Due: none

add ci image to launch gce instance from openshift
  images/ci/Dockerfile
  images/ci/README.md
  images/ci/google-cloud-sdk.repo
  images/ci/mock-nss.sh
Due: none

test: must-gather pods may tolerate all taints
  test/extended/operators/qos.go
  test/extended/operators/tolerations.go
Due: none

UPSTREAM: 84513: test/e2e: AddOrUpdateAvoidPodOnNode/RemoveAvoidPodsOffNode: retry when conflict hit during annotation update
  vendor/k8s.io/kubernetes/test/e2e/framework/util.go
Due: none

e2e: ldap groupsync: add retries on dnf install
  test/extended/oauth/groupsync.go
Due: none

ldap: extended timeout for run once pod to 8 minutes
  test/extended/util/framework.go
  test/extended/util/ldap.go
Due: ci/prow/e2e-aws-builds

Revert "Bug 1683057: Fix router metrics test flakes"
  test/extended/router/metrics.go
Due: none

test: Disable TestDockercfgTokenDeletedController until fixed
  test/extended/controller_manager/pull_secret.go
Due: none

e2e: fix router metrics test flake on AWS
  test/extended/router/metrics.go
  test/extended/router/scoped.go
  test/extended/router/weighted.go
Due: none

Bug 1762040: Fix cosmetic template error
  images/router/haproxy/conf/haproxy-config.template
Due: none

UPSTREAM: 84123: Handle namespace shutdown gracefully
  vendor/k8s.io/kubernetes/pkg/controller/controller_utils.go
  vendor/k8s.io/kubernetes/pkg/controller/cronjob/BUILD
  vendor/k8s.io/kubernetes/pkg/controller/cronjob/cronjob_controller.go
  vendor/k8s.io/kubernetes/pkg/controller/daemon/daemon_controller.go
  vendor/k8s.io/kubernetes/pkg/controller/deployment/deployment_controller.go
  vendor/k8s.io/kubernetes/pkg/controller/deployment/sync.go
  vendor/k8s.io/kubernetes/pkg/controller/endpoint/endpoints_controller.go
  vendor/k8s.io/kubernetes/pkg/controller/endpointslice/reconciler.go
  vendor/k8s.io/kubernetes/pkg/controller/job/job_controller.go
  vendor/k8s.io/kubernetes/pkg/controller/replicaset/replica_set.go
  vendor/k8s.io/kubernetes/pkg/controller/serviceaccount/serviceaccounts_controller.go
  vendor/k8s.io/kubernetes/pkg/controller/serviceaccount/tokens_controller.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/api/core/v1/types.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/admission/plugin/namespace/lifecycle/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/admission/plugin/namespace/lifecycle/admission.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/admission/plugin/namespace/lifecycle/admission_test.go
Due: none

mirror: Support v2_1 docker registries as mirror source
  pkg/oc/cli/image/mirror/mirror.go
Due: none

WIP Reenable network tests post kubernetes 1.16 rebase
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

test: Skip pending must-gather pods in the crashloop test
  test/extended/operators/cluster.go
Due: none

e2e: Re-enable HAProxy router header test
  test/extended/router/headers.go
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

e2e requestheader: make client follow TLS correctly
  test/extended/oauth/requestheaders.go
Due: none

Switch to docker.io/busybox
  test/extended/testdata/bindata.go
  test/extended/testdata/jobs/v1.yaml
Due: none

Remove command execution from the extended image
  test/extended/images/extract.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

UPSTREAM: 84766: fix taintbasedevictions integration test flake
  vendor/k8s.io/kubernetes/test/integration/scheduler/taint_test.go
Due: none

UPSTREAM: 81856: Convert tbe e2e to integration test
  vendor/k8s.io/kubernetes/test/e2e/scheduling/BUILD
  vendor/k8s.io/kubernetes/test/e2e/scheduling/taint_based_evictions.go
  vendor/k8s.io/kubernetes/test/integration/scheduler/taint_test.go
Due: none

Bug 1767163: Verify new-app works with imagestream
  test/extended/builds/new_app.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

Migrate e2e to apps/v1
  test/extended/dr/common.go
  test/extended/images/resolve.go
  test/extended/router/stress.go
  test/extended/templates/helpers.go
  test/extended/templates/templateinstance_objectkinds.go
  test/extended/testdata/cmd/test/cmd/debug.sh
  test/extended/testdata/cmd/test/cmd/image-lookup.sh
  test/extended/testdata/cmd/test/cmd/testdata/app-scenarios/petset.yaml
  test/extended/testdata/cmd/test/cmd/testdata/rollingupdate-daemonset.yaml
  test/extended/testdata/cmd/test/cmd/testdata/statefulset.yaml
  test/extended/testdata/disaster-recovery/ssh-bastion/deployment.yaml
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

Update generated
  test/extended/testdata/bindata.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)) or (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder))
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
