Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

test: Remove duplicate gingko recover from disruption tests
  test/extended/util/disruption/disruption.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

monitor: Condition sampling incorrectly extended intervals
  pkg/monitor/monitor.go
  pkg/monitor/sampler_test.go
  pkg/monitor/types.go
Due: none

test: Add a service upgrade test that verifies availability
  pkg/monitor/monitor.go
  test/e2e/upgrade/service/service.go
  test/e2e/upgrade/upgrade.go
Due: none

test: Verify API remains available during upgrade
  pkg/monitor/api.go
  test/e2e/upgrade/upgrade.go
  test/extended/util/disruption/controlplane/controlplane.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 1796895: Don't use annotation in openshift/csi test suite
  cmd/openshift-tests/e2e.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

backport image override patch
  vendor/k8s.io/kubernetes/test/e2e/framework/create.go
  vendor/k8s.io/kubernetes/test/utils/image/BUILD
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
Due: none

isolate volume registries
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
Due: none

backport incubator nfs-provisioner patch
  vendor/k8s.io/kubernetes/test/e2e/framework/ingress/ingress_utils.go
  vendor/k8s.io/kubernetes/test/e2e/storage/utils/utils.go
  vendor/k8s.io/kubernetes/test/e2e/storage/volume_provisioning.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
Due: none

add openshift-tests-kubernetes image
  images/tests-kubernetes/Dockerfile.rhel
  images/tests-kubernetes/OWNERS
Due: none

add openshift-tests as a future delegation binary
  cmd/openshift-tests/openshift-tests.go
Due: none

move existing openshift tests to openshift-tests-kubernetes
  Makefile
  cmd/openshift-tests-kubernetes/csi.go
  cmd/openshift-tests-kubernetes/e2e.go
  cmd/openshift-tests-kubernetes/openshift-tests-kubernetes.go
  cmd/openshift-tests-kubernetes/provider.go
  cmd/openshift-tests-kubernetes/upgrade.go
  images/tests-base/Dockerfile.rhel
  images/tests-base/OWNERS
Due: ci/prow/artifacts, ci/prow/cross

build openshift-tests in one image to phase in new images
  images/tests/Dockerfile.rhel
Due: none

e2e ldap: Cleanup the authserver artifacts
  test/extended/oauth/oauth_ldap.go
Due: none

Clean up stale egress IP iptables rules on startup
  pkg/network/node/egressip.go
  pkg/network/node/iptables.go
Due: none

switch to looking up all test plugins
  cmd/openshift-tests/openshift-tests.go
Due: none

Revert Disable flaky tests on OpenStack b390f42a42
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Register as external
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/network/apis/externalipranger/register.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/network/apis/restrictedendpoints/register.go
Due: none

DO NOT MERGE: Add fake metrics report for configured signals
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/eviction_manager.go
Due: ci/prow/gcp-crio

add node conformance tests
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

regenerate
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM 87778: makes unavailableGauge metric to always reflect the current state of a service
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
Due: none

UPSTREAM: 87813: kube-aggregator: increase log level of AggregationController API group logging
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/openapi/controller.go
Due: none

UPSTREAM: 87242: SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run - set resource requests as well
  vendor/k8s.io/kubernetes/test/e2e/scheduling/predicates.go
Due: none

test: Allow disruption tests to report partial failure
  test/e2e/upgrade/service/service.go
  test/extended/util/disruption/controlplane/controlplane.go
  test/extended/util/disruption/disruption.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: Move the prometheus alerts test to the beginning of the suite
  test/extended/prometheus/prometheus.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 00000: apiextensions: log OpenAPI schema diff for aggregation
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/controller.go
Due: none

DEBUG always print OpenAPI diff
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/controller.go
Due: none

UPSTREAM: <carry>: admission/restrictusers ensure groups cache synced
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/authorization/restrictusers/groupcache_test.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/authorization/restrictusers/restrictusers.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/authorization/restrictusers/subjectchecker.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/authorization/restrictusers/usercache/groups.go
Due: none

UPSTREAM: <carry>: bootstrap user - make tokens have implicit audiences
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/authentication/oauth/bootstrapauthenticator.go
  vendor/k8s.io/kubernetes/pkg/kubeapiserver/authenticator/patch_authenticator.go
Due: none

Test if oc tag can work without imagestreamtags
  test/extended/images/oc_tag.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds
