Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)

Move OAuth server to standard handler chain
  pkg/cmd/openshift-integrated-oauth-server/server.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch_oauthserver.go
  pkg/oauthserver/oauthserver/oauth_apiserver.go
  pkg/oauthserver/server/headers/oauthbasic.go
Due: none

Remove /healthz/* from bootstrap RBAC
  pkg/cmd/server/bootstrappolicy/policy.go
  test/testdata/bootstrappolicy/bootstrap_cluster_roles.yaml
  test/testdata/bootstrappolicy/bootstrap_policy_file.yaml
Due: ci/openshift-jenkins/service-catalog

UPSTREAM: 77303: Update iptables.IsNotFoundError for iptables-nft error messages
  vendor/k8s.io/kubernetes/pkg/util/iptables/iptables.go
Due: none

SCC bootstrapping must not return until it has created all defaults
  hack/local-up-master/lib.sh
  pkg/cmd/openshift-apiserver/openshiftapiserver/openshift_apiserver.go
  test/util/server/server.go
Due: ci/prow/artifacts, ci/prow/cross

disable SCC storage
  hack/local-up-master/kube-apiserver-manifests/01_security_context_constraint_crd.yaml
  hack/local-up-master/lib.sh
  pkg/security/apiserver/apiserver.go
  pkg/security/apiserver/registry/securitycontextconstraints/etcd/etcd.go
  pkg/security/apiserver/registry/securitycontextconstraints/etcd/etcd_test.go
  test/integration/etcd_storage_path_test.go
  test/util/client.go
  test/util/server/server.go
Due: ci/prow/artifacts, ci/prow/cross

add minimal SCC changes
  pkg/cmd/openshift-apiserver/openshiftapiserver/openshift_apiserver.go
  pkg/cmd/openshift-kube-apiserver/server.go
  pkg/security/apiserver/registry/securitycontextconstraints/doc.go
  pkg/security/apiserver/registry/securitycontextconstraints/etcd/shim_storage.go
  pkg/security/apiserver/registry/securitycontextconstraints/strategy.go
  pkg/security/apiserver/registry/securitycontextconstraints/strategy_test.go
Due: none

add disabled etcd-storage
  pkg/security/apiserver/apiserver.go
  pkg/security/apiserver/registry/securitycontextconstraints/disabledetcd/etcd.go
Due: none

be able to swap to SCC to CRD
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
Due: none

Bug 1704722: increase build controller client rate limit and reduce api calls
  pkg/build/controller/build/build_controller.go
  pkg/build/controller/build/build_controller_test.go
  pkg/build/util/util.go
  pkg/cmd/openshift-controller-manager/controller/build.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

templateinstance: wait for registry hostname
  test/extended/templates/templateinstance_readiness.go
Due: none

Update conformance-k8s.sh to 1.13
  test/extended/conformance-k8s.sh
Due: none

Don't send identical SAR checks on ImageStream creation
  pkg/image/apiserver/registry/imagestream/strategy.go
  pkg/image/apiserver/registry/imagestream/strategy_test.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

TestBasicUserBasedGroupManipulation: test that the user ~ endpoint gives correct groups
  test/integration/groups_test.go
Due: none

TestOAuthServiceAccountClient: check approval needed after scope gets restricted
  test/integration/oauth_serviceaccount_client_test.go
Due: none

UPSTREAM: 76184: Use pvc uid in endpoint/service label
  vendor/k8s.io/kubernetes/pkg/volume/glusterfs/glusterfs.go
Due: none

Add validation check for AccessTokenMaxAgeSeconds being negative
  pkg/admission/customresourcevalidation/oauth/validate_oauth.go
Due: none

Add OAuth CR validation
  pkg/admission/customresourcevalidation/oauth/helpers.go
  pkg/admission/customresourcevalidation/oauth/validate_github.go
  pkg/admission/customresourcevalidation/oauth/validate_gitlab.go
  pkg/admission/customresourcevalidation/oauth/validate_google.go
  pkg/admission/customresourcevalidation/oauth/validate_keystone.go
  pkg/admission/customresourcevalidation/oauth/validate_ldap.go
  pkg/admission/customresourcevalidation/oauth/validate_oauth.go
  pkg/admission/customresourcevalidation/oauth/validate_openid.go
  pkg/admission/customresourcevalidation/oauth/validate_requestheader.go
Due: none

Remove check for 0 login providers
  pkg/admission/customresourcevalidation/oauth/validate_oauth.go
Due: none

Pull the github IdP test from config validation
  pkg/admission/customresourcevalidation/oauth/validate_github_test.go
Due: none

oauth crs: add validation for ldap client
  pkg/admission/customresourcevalidation/oauth/validate_ldap.go
Due: none

oauth validation: ValidateRemoteConnectionInfo requires https now
  pkg/admission/customresourcevalidation/oauth/helpers.go
  pkg/admission/customresourcevalidation/oauth/validate_keystone.go
Due: none

oauth crs: noop restructure
  pkg/admission/customresourcevalidation/oauth/validate_idp.go
  pkg/admission/customresourcevalidation/oauth/validate_oauth.go
Due: none

oauth crs: don't check common names on no clientCA, refactor url checks
  pkg/admission/customresourcevalidation/oauth/validate_requestheader.go
Due: none

Add unit tests for OAuth validation
  pkg/admission/customresourcevalidation/oauth/validate_gitlab_test.go
  pkg/admission/customresourcevalidation/oauth/validate_google_test.go
  pkg/admission/customresourcevalidation/oauth/validate_idp_test.go
  pkg/admission/customresourcevalidation/oauth/validate_keystone_test.go
  pkg/admission/customresourcevalidation/oauth/validate_ldap_test.go
  pkg/admission/customresourcevalidation/oauth/validate_openid_test.go
  pkg/admission/customresourcevalidation/oauth/validate_requestheader_test.go
Due: none

loosen import restrictions around OAuth CRs validation
  hack/import-restrictions.json
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 76788: Clean links handling in cp's tar code
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/cp.go
  vendor/k8s.io/kubernetes/pkg/kubectl/cmd/cp_test.go
Due: none

Add debug support for statefulset
  pkg/oc/cli/debug/debug.go
Due: none

Alow cron jobs to be debugged
  pkg/oc/cli/debug/debug.go
Due: none

start on defaulting admission
  pkg/admission/customresourcevalidation/attributes.go
  pkg/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
  pkg/admission/customresourcevalidation/securitycontextconstraints/defaulting_scc.go
  pkg/admission/customresourcevalidation/securitycontextconstraints/defaulting_scc_test.go
Due: none

add SCC validation plugin to AllCustomResourceValidators
  pkg/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
  pkg/admission/customresourcevalidation/securitycontextconstraints/validate_scc.go
  pkg/admission/customresourcevalidation/securitycontextconstraints/validation/validation.go
  pkg/admission/customresourcevalidation/securitycontextconstraints/validation/validation_test.go
Due: none

test: wait for bootstrap SCCs
  hack/local-up-master/lib.sh
  test/util/client.go
  test/util/server/server.go
Due: ci/prow/artifacts, ci/prow/cross

disable SCC storage
  pkg/security/apiserver/apiserver.go
  pkg/security/apiserver/registry/securitycontextconstraints/etcd/etcd.go
  pkg/security/apiserver/registry/securitycontextconstraints/etcd/etcd_test.go
  test/integration/etcd_storage_path_test.go
Due: none

add minimal SCC changes
  hack/local-up-master/kube-apiserver-manifests/01_security_context_constraint_crd.yaml
  pkg/cmd/openshift-apiserver/openshiftapiserver/openshift_apiserver.go
  pkg/cmd/openshift-kube-apiserver/server.go
  pkg/security/apiserver/registry/securitycontextconstraints/doc.go
  pkg/security/apiserver/registry/securitycontextconstraints/etcd/shim_storage.go
  pkg/security/apiserver/registry/securitycontextconstraints/strategy.go
  pkg/security/apiserver/registry/securitycontextconstraints/strategy_test.go
Due: ci/prow/artifacts, ci/prow/cross

whoami: add --show-console option to reveal the web console URL to CLI users
  pkg/oc/cli/whoami/whoami.go
  test/cmd/whoami.sh
Due: none

regenerate completetion
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
Due: none
