Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-builds-cluster-profile
      - --target=e2e-aws-builds
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-registry-cluster-profile
      - --target=e2e-aws-image-registry
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

remove internal security client
  hack/update-generated-clientsets.sh
  pkg/security/generated/internalclientset/clientset.go
  pkg/security/generated/internalclientset/doc.go
  pkg/security/generated/internalclientset/fake/clientset_generated.go
  pkg/security/generated/internalclientset/fake/doc.go
  pkg/security/generated/internalclientset/fake/register.go
  pkg/security/generated/internalclientset/scheme/doc.go
  pkg/security/generated/internalclientset/scheme/register.go
  pkg/security/generated/internalclientset/typed/security/internalversion/doc.go
  pkg/security/generated/internalclientset/typed/security/internalversion/fake/doc.go
  pkg/security/generated/internalclientset/typed/security/internalversion/fake/fake_podsecuritypolicyreview.go
  pkg/security/generated/internalclientset/typed/security/internalversion/fake/fake_podsecuritypolicyselfsubjectreview.go
  pkg/security/generated/internalclientset/typed/security/internalversion/fake/fake_podsecuritypolicysubjectreview.go
  pkg/security/generated/internalclientset/typed/security/internalversion/fake/fake_security_client.go
  pkg/security/generated/internalclientset/typed/security/internalversion/fake/fake_securitycontextconstraints.go
  pkg/security/generated/internalclientset/typed/security/internalversion/generated_expansion.go
  pkg/security/generated/internalclientset/typed/security/internalversion/podsecuritypolicyreview.go
  pkg/security/generated/internalclientset/typed/security/internalversion/podsecuritypolicyselfsubjectreview.go
  pkg/security/generated/internalclientset/typed/security/internalversion/podsecuritypolicysubjectreview.go
  pkg/security/generated/internalclientset/typed/security/internalversion/security_client.go
  pkg/security/generated/internalclientset/typed/security/internalversion/securitycontextconstraints.go
  test/extended/builds/s2i_root.go
  test/extended/util/cli.go
  test/extended/util/test.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds, ci/prow/cross

remove internal route client
  hack/update-generated-clientsets.sh
  pkg/route/controller/doc.go
  pkg/route/generated/internalclientset/clientset.go
  pkg/route/generated/internalclientset/doc.go
  pkg/route/generated/internalclientset/fake/clientset_generated.go
  pkg/route/generated/internalclientset/fake/doc.go
  pkg/route/generated/internalclientset/fake/register.go
  pkg/route/generated/internalclientset/scheme/doc.go
  pkg/route/generated/internalclientset/scheme/register.go
  pkg/route/generated/internalclientset/typed/route/internalversion/doc.go
  pkg/route/generated/internalclientset/typed/route/internalversion/fake/doc.go
  pkg/route/generated/internalclientset/typed/route/internalversion/fake/fake_route_client.go
  pkg/route/generated/internalclientset/typed/route/internalversion/fake/fake_routeresource.go
  pkg/route/generated/internalclientset/typed/route/internalversion/generated_expansion.go
  pkg/route/generated/internalclientset/typed/route/internalversion/route_client.go
  pkg/route/generated/internalclientset/typed/route/internalversion/routeresource.go
  test/extended/builds/gitauth.go
  test/extended/oauth/well_known.go
  test/extended/operators/routable.go
  test/extended/router/reencrypt.go
  test/extended/router/scoped.go
  test/extended/router/unprivileged.go
  test/extended/templates/templateinstance_objectkinds.go
  test/extended/templates/templateinstance_security.go
  test/extended/util/cli.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds, ci/prow/cross

React to moves - boring
  hack/import-restrictions.json
  pkg/oc/cli/admin/createkubeconfig/create_kubeconfig.go
  pkg/oc/cli/admin/groups/examples/examples_test.go
  pkg/oc/cli/admin/groups/sync/prune.go
  pkg/oc/cli/admin/groups/sync/sync.go
  pkg/oc/cli/debug/debug.go
  pkg/oc/cli/importer/appjson/appjson.go
  pkg/oc/cli/login/loginoptions.go
  pkg/oc/cli/login/loginoptions_test.go
  pkg/oc/cli/newapp/newapp.go
  pkg/oc/cli/newapp/newapp_test.go
  pkg/oc/cli/newbuild/newbuild.go
  pkg/oc/cli/newbuild/newbuild_test.go
  pkg/oc/cli/process/process.go
  pkg/oc/cli/project/project.go
  pkg/oc/cli/projects/projects.go
  pkg/oc/cli/set/triggers.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/app/app.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/app/app_test.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/app/componentref.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/app/dockerimagelookup.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/app/dockerimagelookup_test.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/app/imageref.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/app/imageref_test.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/app/imagestreamlookup.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/app/imagestreamlookup_test.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/app/pipeline.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/app/sourcelookup.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/app/sourcelookup_test.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/appjson/appjson.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/cmd/describe.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/cmd/newapp.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/cmd/newapp_test.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/cmd/resolve.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/cmd/resolve_test.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/cmd/template.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/dockerfile/finder.go
  staging/src/github.com/openshift/oc/pkg/helpers/newapp/jenkinsfile/finder.go
  test/integration/newapp_test.go
Due: ci/prow/artifacts, ci/prow/cross

Add source-to-image exception to staging oc
  hack/verify-imports.sh
Due: ci/prow/artifacts, ci/prow/cross

add oauth well-known e2e and configure-htpasswd e2e
  test/extended/oauth/helpers.go
  test/extended/oauth/htpasswd.go
  test/extended/testdata/bindata.go
  test/extended/testdata/oauth_idp/htpasswd-secret.yaml
  test/extended/testdata/oauth_idp/oauth-htpasswd.yaml
  test/extended/testdata/oauth_idp/oauth-noidp.yaml
Due: none

remove internal oauth client
  hack/update-generated-clientsets.sh
  pkg/oauth/generated/internalclientset/clientset.go
  pkg/oauth/generated/internalclientset/doc.go
  pkg/oauth/generated/internalclientset/fake/clientset_generated.go
  pkg/oauth/generated/internalclientset/fake/doc.go
  pkg/oauth/generated/internalclientset/fake/register.go
  pkg/oauth/generated/internalclientset/scheme/doc.go
  pkg/oauth/generated/internalclientset/scheme/register.go
  pkg/oauth/generated/internalclientset/typed/oauth/internalversion/doc.go
  pkg/oauth/generated/internalclientset/typed/oauth/internalversion/fake/doc.go
  pkg/oauth/generated/internalclientset/typed/oauth/internalversion/fake/fake_oauth_client.go
  pkg/oauth/generated/internalclientset/typed/oauth/internalversion/fake/fake_oauthaccesstoken.go
  pkg/oauth/generated/internalclientset/typed/oauth/internalversion/fake/fake_oauthauthorizetoken.go
  pkg/oauth/generated/internalclientset/typed/oauth/internalversion/fake/fake_oauthclient.go
  pkg/oauth/generated/internalclientset/typed/oauth/internalversion/fake/fake_oauthclientauthorization.go
  pkg/oauth/generated/internalclientset/typed/oauth/internalversion/generated_expansion.go
  pkg/oauth/generated/internalclientset/typed/oauth/internalversion/oauth_client.go
  pkg/oauth/generated/internalclientset/typed/oauth/internalversion/oauthaccesstoken.go
  pkg/oauth/generated/internalclientset/typed/oauth/internalversion/oauthauthorizetoken.go
  pkg/oauth/generated/internalclientset/typed/oauth/internalversion/oauthclient.go
  pkg/oauth/generated/internalclientset/typed/oauth/internalversion/oauthclientauthorization.go
  test/integration/oauth_serviceaccount_client_events_test.go
  test/integration/oauth_serviceaccount_client_test.go
  test/util/client.go
Due: ci/prow/artifacts, ci/prow/cross

Increase limit for signatures
  pkg/cmd/openshift-controller-manager/controller/image.go
  pkg/image/controller/signature/signature_import_controller.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

remove internal image clients
  pkg/apps/apis/apps/internaltest/ok.go
  pkg/apps/apiserver/apiserver.go
  pkg/apps/apiserver/registry/instantiate/rest.go
  pkg/apps/apiserver/registry/instantiate/rest_test.go
  pkg/image/apiserver/admission/imagepolicy/imagepolicy.go
  pkg/image/apiserver/admission/imagepolicy/imagepolicy_test.go
  pkg/image/apiserver/admission/imagepolicy/rules/accept_test.go
  pkg/image/apiserver/admission/imagepolicy/rules/rules.go
  pkg/image/apiserver/apiserver.go
  pkg/image/apiserver/registry/imagesignature/rest.go
  pkg/image/apiserver/registry/imagesignature/strategy_test.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

UPSTREAM: 0000: Re-enable preemption tests
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Revert "pkg/oc/cli/admin/release/git: Case-insensitive bug regexp allowing prefixes"
  staging/src/github.com/openshift/oc/pkg/cli/admin/release/git.go
Due: none

Move some oc packages to staging and snip origin deps
  hack/import-restrictions.json
  pkg/oc/cli/admin/admin.go
  pkg/oc/cli/admin/project/new_project.go
  pkg/oc/cli/admin/prune/images/images.go
  pkg/oc/cli/cli.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/buildchain/buildchain.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/buildchain/test/multiple-namespaces-bcs.yaml
  staging/src/github.com/openshift/oc/pkg/cli/admin/buildchain/test/multiple-trigger-bcs.yaml
  staging/src/github.com/openshift/oc/pkg/cli/admin/buildchain/test/single-namespace-bcs.yaml
  staging/src/github.com/openshift/oc/pkg/cli/admin/createkubeconfig/create_kubeconfig.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/imageprune/OWNERS
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/imageprune/doc.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/imageprune/helper.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/imageprune/helper_test.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/imageprune/prune.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/imageprune/prune_test.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/imageprune/worker.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/top/graph.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/top/images.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/top/images_test.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/top/imagestreams.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/top/imagestreams_test.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/top/printer.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/top/top.go
  staging/src/github.com/openshift/oc/pkg/helpers/describe/chaindescriber_test.go
  staging/src/github.com/openshift/oc/pkg/helpers/kubeconfig/smart_merge.go
  test/util/server/deprecated_openshift/deprecatedcerts/create_mastercerts.go
Due: ci/prow/artifacts, ci/prow/cross

standalone oauth server for e2e
  test/extended/oauth/e2e-oauth-server/README.md
  test/extended/oauth/e2e-oauth-server/cliconfig-htpasswd.yaml
  test/extended/oauth/e2e-oauth-server/cliconfig-noidp.yaml
  test/extended/oauth/e2e-oauth-server/htpasswd-secret.yaml
  test/extended/oauth/e2e-oauth-server/ns-svc-svcaccct.yaml
  test/extended/oauth/e2e-oauth-server/pod-htpasswd.yaml
  test/extended/oauth/e2e-oauth-server/pod.yaml
  test/extended/oauth/e2e-oauth-server/route.yaml
  test/extended/oauth/e2e-oauth-server/serviceca-configmap.yaml
  test/extended/oauth/e2e-oauth-server/session-secret.yaml
Due: none

remove oc dependency on internal build types
  hack/import-restrictions.json
  pkg/oc/cli/newapp/newapp.go
  pkg/oc/cli/startbuild/startbuild.go
  pkg/oc/cli/startbuild/startbuild_test.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds, ci/prow/cross

remove oc dependency on some internal auth types
  hack/import-restrictions.json
  pkg/oc/cli/admin/prune/auth/bindings.go
  pkg/oc/cli/admin/prune/auth/cluster_role_test.go
Due: ci/prow/artifacts, ci/prow/cross

move flagtypes to point of use
  cmd/oc/oc.go
  cmd/openshift-sdn/openshift-sdn.go
  cmd/openshift-tests/openshift-tests.go
  cmd/openshift/openshift.go
  hack/import-restrictions.json
  pkg/cmd/flagtypes/doc.go
  pkg/cmd/flagtypes/glog.go
  pkg/cmd/flagtypes/net.go
  pkg/cmd/openshift/openshift.go
  pkg/oc/cli/cli.go
  pkg/oc/cli/login/login.go
  staging/src/github.com/openshift/oc/pkg/helpers/flagtypes/addr.go
  staging/src/github.com/openshift/oc/pkg/helpers/flagtypes/addr_test.go
  test/util/server/deprecated_openshift/start/master_args.go
  test/util/server/deprecated_openshift/start/options/kube_connection_args.go
  test/util/server/deprecated_openshift/start/options/listen_arg.go
Due: ci/prow/artifacts, ci/prow/cross

update generated completions
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
Due: none

test/extended/operators: include cluster-monitoring-operator in testing status.relatedObjects
  test/extended/operators/clusteroperators.go
Due: none

Add sttts and soltysh as top level approvers
  OWNERS
Due: none

remove some internal clients from integration tests
  test/extended/testdata/bindata.go
  test/integration/auth_proxy_test.go
  test/integration/build_admission_test.go
  test/integration/cli_get_token_test.go
  test/integration/clusterquota_test.go
  test/integration/deploy_trigger_test.go
  test/integration/front_proxy_test.go
  test/integration/imagechange_buildtrigger_test.go
  test/integration/oauth_basicauth_test.go
  test/integration/oauth_expiration_test.go
  test/integration/oauth_external_test.go
  test/integration/oauth_htpasswd_test.go
  test/integration/oauth_ldap_test.go
  test/integration/oauth_request_header_test.go
  test/integration/oauth_serviceaccount_client_test.go
  test/integration/oauth_timeout_test.go
  test/integration/oauth_token_endpoint_test.go
  test/integration/project_reqlimit_test.go
  test/integration/project_request_test.go
  test/integration/project_test.go
  test/integration/scc_test.go
  test/integration/scopes_test.go
  test/integration/testdata/project-request-template-with-quota.yaml
  test/integration/unprivileged_newproject_test.go
  test/integration/webhook_token_auth_test.go
  test/testdata/jenkins-template.json
  test/util/helpers.go
Due: none

UPSTREAM: <carry>: apiextensions: don't mutate input schema on OpenAPI publishing
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/conversion.go
Due: none

UPSTREAM: 74027: proxy: add some useful metrics
  vendor/k8s.io/kubernetes/pkg/proxy/BUILD
  vendor/k8s.io/kubernetes/pkg/proxy/endpoints.go
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier.go
  vendor/k8s.io/kubernetes/pkg/proxy/ipvs/proxier.go
  vendor/k8s.io/kubernetes/pkg/proxy/metrics/metrics.go
  vendor/k8s.io/kubernetes/pkg/proxy/service.go
  vendor/k8s.io/kubernetes/pkg/proxy/winkernel/metrics.go
  vendor/k8s.io/kubernetes/pkg/proxy/winkernel/proxier.go
Due: none

More easy moves for oc packages
  hack/import-restrictions.json
  pkg/oc/cli/admin/admin.go
  pkg/oc/cli/admin/prune/prune.go
  pkg/oc/cli/cli.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/groups/examples/examples_test.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/groups/groups.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/groups/sync/ad.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/groups/sync/augmented_ad.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/groups/sync/interfaces.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/groups/sync/prune.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/groups/sync/rfc2307.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/groups/sync/sync.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/auth/bindings.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/auth/cluster_role.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/auth/cluster_role_test.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/auth/group.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/auth/group_test.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/auth/prune_command.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/auth/role.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/auth/role_test.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/auth/user.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/auth/user_test.go
  staging/src/github.com/openshift/oc/pkg/cli/buildlogs/buildlogs.go
  staging/src/github.com/openshift/oc/pkg/cli/cancelbuild/OWNERS
  staging/src/github.com/openshift/oc/pkg/cli/cancelbuild/cancelbuild.go
  staging/src/github.com/openshift/oc/pkg/cli/cancelbuild/cancelbuild_test.go
  staging/src/github.com/openshift/oc/pkg/cli/debug/debug.go
  staging/src/github.com/openshift/oc/pkg/cli/login/error_translation.go
  staging/src/github.com/openshift/oc/pkg/cli/login/helpers.go
  staging/src/github.com/openshift/oc/pkg/cli/login/login.go
  staging/src/github.com/openshift/oc/pkg/cli/login/loginoptions.go
  staging/src/github.com/openshift/oc/pkg/cli/login/loginoptions_test.go
  staging/src/github.com/openshift/oc/pkg/cli/process/process.go
  staging/src/github.com/openshift/oc/pkg/cli/process/process_test.go
  staging/src/github.com/openshift/oc/pkg/cli/status/status.go
  staging/src/github.com/openshift/oc/pkg/helpers/originkubeconfignames/smart_merge.go
  test/integration/login_test.go
  test/integration/oauth_oidc_test.go
  test/integration/oauth_request_header_test.go
Due: ci/prow/artifacts, ci/prow/cross

Do not panic when running openshift-tests without KUBECONFIG set
  test/extended/util/cli.go
Due: ci/prow/e2e-aws-builds

Moving some more oc commands to staging
  hack/import-restrictions.json
  pkg/oc/cli/admin/admin.go
  pkg/oc/cli/cli.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/migrate/images/imagerefs.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/migrate/images/imagerefs_test.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/verifyimagesignature/manifest.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/verifyimagesignature/verify-signature.go
  staging/src/github.com/openshift/oc/pkg/cli/project/project.go
  staging/src/github.com/openshift/oc/pkg/cli/projects/projects.go
  staging/src/github.com/openshift/oc/pkg/cli/requestproject/request_project.go
  staging/src/github.com/openshift/oc/pkg/cli/requestproject/request_project_test.go
  test/integration/unprivileged_newproject_test.go
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 75126: available controller: do not stomp transport
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller_test.go
Due: none

Move a lot of commands to staging
  staging/src/github.com/openshift/oc/pkg/cli/importer/appjson/appjson.go
  staging/src/github.com/openshift/oc/pkg/cli/importer/import.go
  staging/src/github.com/openshift/oc/pkg/cli/importimage/importimage.go
  staging/src/github.com/openshift/oc/pkg/cli/importimage/importimage_test.go
  staging/src/github.com/openshift/oc/pkg/cli/newapp/OWNERS
  staging/src/github.com/openshift/oc/pkg/cli/newapp/newapp.go
  staging/src/github.com/openshift/oc/pkg/cli/newapp/newapp_test.go
  staging/src/github.com/openshift/oc/pkg/cli/newbuild/OWNERS
  staging/src/github.com/openshift/oc/pkg/cli/newbuild/newbuild.go
  staging/src/github.com/openshift/oc/pkg/cli/newbuild/newbuild_test.go
  staging/src/github.com/openshift/oc/pkg/cli/rsync/copy_default.go
  staging/src/github.com/openshift/oc/pkg/cli/rsync/copy_multi.go
  staging/src/github.com/openshift/oc/pkg/cli/rsync/copy_rsync.go
  staging/src/github.com/openshift/oc/pkg/cli/rsync/copy_rsync_test.go
  staging/src/github.com/openshift/oc/pkg/cli/rsync/copy_rsyncd.go
  staging/src/github.com/openshift/oc/pkg/cli/rsync/copy_tar.go
  staging/src/github.com/openshift/oc/pkg/cli/rsync/exec_local.go
  staging/src/github.com/openshift/oc/pkg/cli/rsync/exec_remote.go
  staging/src/github.com/openshift/oc/pkg/cli/rsync/forwarder.go
  staging/src/github.com/openshift/oc/pkg/cli/rsync/pathspec.go
  staging/src/github.com/openshift/oc/pkg/cli/rsync/rsync.go
  staging/src/github.com/openshift/oc/pkg/cli/rsync/util.go
  staging/src/github.com/openshift/oc/pkg/cli/startbuild/OWNERS
  staging/src/github.com/openshift/oc/pkg/cli/startbuild/startbuild.go
  staging/src/github.com/openshift/oc/pkg/cli/startbuild/startbuild_test.go
  staging/src/github.com/openshift/oc/pkg/cli/tag/tag.go
  staging/src/github.com/openshift/oc/pkg/cli/tag/tag_test.go
Due: none

Copy image utils and templates to oc helpers
  pkg/image/util/helpers.go
  staging/src/github.com/openshift/oc/pkg/cli/image/image.go
  staging/src/github.com/openshift/oc/pkg/cli/registry/registry.go
  staging/src/github.com/openshift/oc/pkg/cli/set/set.go
  staging/src/github.com/openshift/oc/pkg/helpers/cmd/templater.go
  staging/src/github.com/openshift/oc/pkg/helpers/image/helpers.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

React to moves - boring
  hack/import-restrictions.json
  pkg/cmd/openshift/openshift.go
  pkg/oc/cli/admin/admin.go
  pkg/oc/cli/admin/mustgather/mustgather.go
  pkg/oc/cli/cli.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/policy/policy.go
  staging/src/github.com/openshift/oc/pkg/cli/image/image.go
  staging/src/github.com/openshift/oc/pkg/cli/importer/import.go
  staging/src/github.com/openshift/oc/pkg/cli/importimage/importimage.go
  staging/src/github.com/openshift/oc/pkg/cli/importimage/importimage_test.go
  staging/src/github.com/openshift/oc/pkg/cli/newapp/newapp.go
  staging/src/github.com/openshift/oc/pkg/cli/newbuild/newbuild.go
  staging/src/github.com/openshift/oc/pkg/cli/newbuild/newbuild_test.go
  staging/src/github.com/openshift/oc/pkg/cli/registry/registry.go
  staging/src/github.com/openshift/oc/pkg/cli/set/set.go
  staging/src/github.com/openshift/oc/pkg/cli/startbuild/startbuild.go
  staging/src/github.com/openshift/oc/pkg/cli/startbuild/startbuild_test.go
  staging/src/github.com/openshift/oc/pkg/cli/tag/tag.go
  test/integration/login_test.go
  test/integration/newapp_test.go
Due: ci/prow/artifacts, ci/prow/cross

Explicitly pass scheme to NewBuildLogClient
  staging/src/github.com/openshift/oc/pkg/cli/buildlogs/buildlogs.go
  staging/src/github.com/openshift/oc/pkg/cli/cancelbuild/cancelbuild.go
  staging/src/github.com/openshift/oc/pkg/cli/startbuild/startbuild.go
  staging/src/github.com/openshift/oc/pkg/cli/startbuild/startbuild_test.go
  staging/src/github.com/openshift/oc/pkg/helpers/build/client/v1/logs.go
  staging/src/github.com/openshift/oc/pkg/helpers/originpolymorphichelpers/logsforobject.go
Due: none

UPSTREAM: 78475: Increase device discovery timeout to 30seconds/equal to checker_timeout
  vendor/k8s.io/kubernetes/pkg/volume/iscsi/iscsi_util.go
Due: none

Move remaining oc packages to staging
  pkg/oc/OWNERS
  staging/src/github.com/openshift/oc/pkg/cli/admin/admin.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/createbootstrapprojecttemplate/create_bootstrap_project_template.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/mustgather/mustgather.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/oadm_bashcomp_func.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/images/images.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/images/images_test.go
  staging/src/github.com/openshift/oc/pkg/cli/admin/prune/prune.go
  staging/src/github.com/openshift/oc/pkg/cli/cli.go
  staging/src/github.com/openshift/oc/pkg/cli/cli_bashcomp_func.go
  staging/src/github.com/openshift/oc/pkg/cli/kubectl_compat_test.go
  staging/src/github.com/openshift/oc/pkg/cli/shim_kubectl.go
Due: none

Always set standard security headers for OAuth server
  pkg/oauthserver/oauthserver/oauth_apiserver.go
  pkg/oauthserver/server/grant/grant.go
  pkg/oauthserver/server/headers/headers.go
  pkg/oauthserver/server/login/login.go
  test/integration/oauth_server_headers_test.go
Due: none

Move logic to Annotate
  test/extended/util/test.go
Due: ci/prow/e2e-aws-builds

Remove token request OAuth client cache
  pkg/oauthserver/server/tokenrequest/tokenrequest.go
Due: none

Fix OAuth endpoints interface
  pkg/oauthserver/mux.go
  pkg/oauthserver/oauthserver/auth.go
  pkg/oauthserver/oauthserver/handler_wrapper.go
  pkg/oauthserver/oauthserver/mux.go
  pkg/oauthserver/osinserver/osinserver.go
  pkg/oauthserver/server/grant/grant.go
  pkg/oauthserver/server/login/login.go
  pkg/oauthserver/server/tokenrequest/endpoints.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
