Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)

Automatic commit of package [atomic-openshift] release [3.9.64-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

Temporarily remove these tests from conformance until they are fixed
  test/extended/util/test.go
Due: none

UPSTREAM: 60510: fix bug where character devices are not recognized
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_linux.go
Due: ci/prow/artifacts, ci/prow/cross

Make the multicast extended test resilient to packet loss
  test/extended/networking/multicast.go
Due: none

UPSTREAM: 66929: add logging to find offending transports
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/transport/round_trippers.go
Due: none

UPSTREAM: 67024: add CancelRequest to discovery round-tripper
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/transport/round_trippers.go
Due: none

Remove the smoke-4 suite and add new suites for scalability
  cmd/openshift-tests/e2e.go
  cmd/openshift-tests/openshift-tests.go
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/test.go
  test/extended/operators/cluster.go
  test/extended/util/test.go
Due: none

speed up SCC/root build tests
  test/extended/builds/s2i_root.go
Due: ci/openshift-jenkins/extended_builds

speed up templateinstance readiness tests
  test/extended/templates/templateinstance_readiness.go
  test/extended/testdata/bindata.go
  test/extended/testdata/templates/templateinstance_readiness.yaml
Due: none

speed up valuefrom env var build tests
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/valuefrom/failed-sti-build-value-from-config.yaml
  test/extended/testdata/builds/valuefrom/successful-sti-build-value-from-config.yaml
Due: ci/openshift-jenkins/extended_builds

Fix panic on empty external-ids
  pkg/util/ovs/parse.go
Due: none

speed up generic s2i+docker test builds
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/test-docker-build.json
  test/extended/testdata/builds/test-s2i-build.json
Due: ci/openshift-jenkins/extended_builds

stop looking at legacy clusteoperator objects
  test/extended/operators/operators.go
Due: none

pkg/version: set versionFromGit to 'unknown' value for debugging in IDE
  pkg/version/version.go
Due: none

tests: print openshift-* subprocess launch errors
  test/util/server/server.go
Due: none

HACKING.md: fix typo
  HACKING.md
Due: none

add easy pattern for customresource validation
  pkg/admission/customresourcevalidation/attributes.go
  pkg/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
  pkg/admission/customresourcevalidation/customresourcevalidator.go
  pkg/admission/customresourcevalidation/image/validate_image.go
  pkg/cmd/openshift-kube-apiserver/server.go
Due: none

return error
  pkg/admission/customresourcevalidation/customresourcevalidator.go
Due: none

UPSTREAM: <carry>: add RemoveOpenAPIData method to genericapiserver
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Due: none

Re-enable oc explain tests
  test/cmd/explain.sh
Due: none

Wire openapi aggregator
  pkg/cmd/openshift-apiserver/openshiftapiserver/openshift_apiserver.go
Due: none

build: strategy: add blob mount-from cache dir to docker and sti
  pkg/build/controller/strategy/docker.go
  pkg/build/controller/strategy/docker_test.go
  pkg/build/controller/strategy/sti.go
  pkg/build/controller/strategy/sti_test.go
  pkg/build/util/util.go
Due: ci/openshift-jenkins/extended_builds

MetricsApiProxy diagnostic: fix endpoint
  pkg/oc/cli/admin/diagnostics/diagnostics/cluster/metrics.go
Due: none

MetricsApiProxy diagnostic: fix endpoint
  pkg/oc/admin/diagnostics/diagnostics/cluster/metrics.go
Due: none

speed up another chunk of build tests
  test/extended/builds/labels.go
  test/extended/builds/proxy.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/build-postcommit/sti.yaml
  test/extended/testdata/builds/build-secrets/Dockerfile
  test/extended/testdata/builds/build-secrets/test-docker-build.json
  test/extended/testdata/builds/build-secrets/test-s2i-build.json
  test/extended/testdata/builds/build-timing/s2i-binary-dir/.s2i/bin/assemble
  test/extended/testdata/builds/build-timing/s2i-binary-dir/.s2i/bin/run
  test/extended/testdata/builds/build-timing/test-docker-build.json
  test/extended/testdata/builds/build-timing/test-s2i-build.json
  test/extended/testdata/builds/statusfail-failedassemble.yaml
  test/extended/testdata/builds/statusfail-postcommithook.yaml
  test/extended/testdata/builds/statusfail-pushtoregistry.yaml
  test/extended/testdata/builds/test-auth-build.yaml
  test/extended/testdata/builds/test-build-proxy.yaml
  test/extended/testdata/builds/test-build-revision.json
  test/extended/testdata/builds/test-build.yaml
  test/extended/testdata/builds/test-cds-dockerbuild.json
  test/extended/testdata/builds/test-cds-sourcebuild.json
  test/extended/testdata/builds/test-docker-build-pullsecret.json
  test/extended/testdata/builds/test-docker-build.json
  test/extended/testdata/builds/test-docker-no-outputname.json
  test/extended/testdata/builds/test-nosrc-build.json
  test/extended/testdata/builds/test-s2i-build-quota.json
  test/extended/testdata/builds/test-s2i-build.json
  test/extended/testdata/builds/test-s2i-no-outputname.json
Due: ci/openshift-jenkins/extended_builds

[3.11] Update external examples
  examples/db-templates/mariadb-ephemeral-template.json
  examples/db-templates/mariadb-persistent-template.json
  examples/db-templates/mongodb-ephemeral-template.json
  examples/db-templates/mongodb-persistent-template.json
  examples/db-templates/mysql-ephemeral-template.json
  examples/db-templates/mysql-persistent-template.json
  examples/db-templates/postgresql-ephemeral-template.json
  examples/db-templates/postgresql-persistent-template.json
  examples/image-streams/image-streams-centos7.json
  examples/image-streams/image-streams-rhel7.json
  examples/jenkins/jenkins-ephemeral-template.json
  examples/jenkins/jenkins-persistent-template.json
  examples/quickstarts/cakephp-mysql-persistent.json
  examples/quickstarts/cakephp-mysql.json
  examples/quickstarts/dancer-mysql-persistent.json
  examples/quickstarts/dancer-mysql.json
  examples/quickstarts/django-postgresql-persistent.json
  examples/quickstarts/django-postgresql.json
  examples/quickstarts/httpd.json
  examples/quickstarts/nodejs-mongodb-persistent.json
  examples/quickstarts/nodejs-mongodb.json
  examples/quickstarts/rails-postgresql-persistent.json
  examples/quickstarts/rails-postgresql.json
  pkg/oc/clusterup/manifests/bindata.go
  test/extended/testdata/bindata.go
Due: ci/prow/e2e-aws-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem

[3.10] Update external examples
  examples/db-templates/mariadb-ephemeral-template.json
  examples/db-templates/mariadb-persistent-template.json
  examples/db-templates/mongodb-ephemeral-template.json
  examples/db-templates/mongodb-persistent-template.json
  examples/db-templates/mysql-ephemeral-template.json
  examples/db-templates/mysql-persistent-template.json
  examples/db-templates/postgresql-ephemeral-template.json
  examples/db-templates/postgresql-persistent-template.json
  examples/image-streams/image-streams-centos7.json
  examples/image-streams/image-streams-rhel7.json
  examples/jenkins/jenkins-ephemeral-template.json
  examples/jenkins/jenkins-persistent-template.json
  examples/quickstarts/cakephp-mysql-persistent.json
  examples/quickstarts/cakephp-mysql.json
  examples/quickstarts/dancer-mysql-persistent.json
  examples/quickstarts/dancer-mysql.json
  examples/quickstarts/django-postgresql-persistent.json
  examples/quickstarts/django-postgresql.json
  examples/quickstarts/dotnet-pgsql-persistent.json
  examples/quickstarts/dotnet.json
  examples/quickstarts/httpd.json
  examples/quickstarts/nodejs-mongodb-persistent.json
  examples/quickstarts/nodejs-mongodb.json
  examples/quickstarts/rails-postgresql-persistent.json
  examples/quickstarts/rails-postgresql.json
  pkg/oc/clusterup/manifests/bindata.go
  test/extended/testdata/bindata.go
Due: ci/prow/e2e-aws-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem

remove the oc adm registry command
  hack/lib/start.sh
  hack/test-cmd.sh
  pkg/oc/cli/admin/admin.go
  pkg/oc/cli/admin/registry/registry.go
  test/cmd/admin.sh
  test/cmd/debug.sh
  test/cmd/edit.sh
  test/cmd/images.sh
  test/cmd/registry.sh
  test/cmd/set-image.sh
Due: ci/prow/artifacts, ci/prow/cross

Update custom func in completion
  pkg/oc/cli/cli_bashcomp_func.go
Due: none

Auto gen code
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
Due: none

Add possibility for HAProxy router custom configuration templates #21170
  pkg/router/template/configmanager/haproxy/manager.go
Due: none

Drop atomic-registry example
  examples/atomic-registry/Makefile
  examples/atomic-registry/OWNERS
  examples/atomic-registry/README.md
  examples/atomic-registry/allinone/Dockerfile
  examples/atomic-registry/allinone/README.md
  examples/atomic-registry/allinone/install.sh
  examples/atomic-registry/allinone/registry-console-template.yaml
  examples/atomic-registry/allinone/registry-login-template.html
  examples/atomic-registry/allinone/run.sh
  examples/atomic-registry/allinone/uninstall.sh
  examples/atomic-registry/systemd/Dockerfile
  examples/atomic-registry/systemd/README.md
  examples/atomic-registry/systemd/cccp.yml
  examples/atomic-registry/systemd/help.1
  examples/atomic-registry/systemd/install.sh
  examples/atomic-registry/systemd/services/config/atomic-registry
  examples/atomic-registry/systemd/services/config/atomic-registry-console
  examples/atomic-registry/systemd/services/config/atomic-registry-master
  examples/atomic-registry/systemd/services/unit_files/atomic-registry-console.service
  examples/atomic-registry/systemd/services/unit_files/atomic-registry-master.service
  examples/atomic-registry/systemd/services/unit_files/atomic-registry.service
  examples/atomic-registry/systemd/setup-atomic-registry.sh
  examples/atomic-registry/systemd/templates/oauthclient.yaml
  examples/atomic-registry/systemd/templates/registry-login-template.html
  examples/atomic-registry/systemd/uninstall.sh
  examples/atomic-registry/test.sh
Due: ci/prow/artifacts, ci/prow/cross

Remove tags from .gitignore
  .gitignore
Due: none

pre-rebase package cleanup - docker-related
  pkg/oc/lib/newapp/app/imageref.go
  pkg/oc/lib/newapp/app/sourcelookup.go
  pkg/util/docker/dockerfile/dockerfile.go
  pkg/util/docker/dockerfile/dockerfile_test.go
  pkg/util/docker/dockerfile/instructions.go
  pkg/util/docker/dockerfile/instructions_test.go
  pkg/util/docker/dockerfile/shell_parser.go
Due: none

Update glide.yaml for 1.12.2
  glide.yaml
Due: none
