Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

add tests for UnhealthyPodEvictionPolicy for PDBs
  test/extended/include.go
  test/extended/poddisruptionbudget/poddisruptionbudget.go
  test/extended/testdata/bindata.go
  test/extended/testdata/poddisruptionbudgets/always-allow-policy-pdb.yaml
  test/extended/testdata/poddisruptionbudgets/if-healthy-budget-policy-pdb.yaml
  test/extended/testdata/poddisruptionbudgets/nginx-with-delayed-ready-deployment.yaml
  test/extended/testdata/router/reencrypt-serving-cert.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "Switch to readyz path for health probes on Azure"
  test/e2e/upgrade/service/service.go
Due: none

Address comments
  test/extended/util/configv1shim.go
  test/extended/util/configv1shim_test.go
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test liveness intervals
  e2echart/e2e-chart-template.html
  pkg/monitor/intervalcreation/node.go
  pkg/monitor/intervalcreation/node_test.go
  pkg/monitor/monitorapi/identification_pod.go
  test/extended/testdata/bindata.go
Due: none

Enable AWS platform check in external cloud provider test
  test/extended/cloud_controller_manager/ccm.go
Due: none

feat: added rtkernel pi_stress and deadline_test tests
  cmd/openshift-tests/e2e.go
  test/extended/include.go
  test/extended/kernel/common.go
  test/extended/kernel/kernel_rt_pi_stress.go
  test/extended/testdata/bindata.go
  test/extended/testdata/kernel/rt-tests-environment.yaml
  test/extended/testdata/kernel/rt-tests-pod.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Separate pathological event tests for all known namespaces
  pkg/synthetictests/duplicated_events.go
  pkg/synthetictests/duplicated_events_test.go
Due: none

rework for both e2e and core namespaces
  pkg/synthetictests/duplicated_events.go
  pkg/synthetictests/duplicated_events_test.go
Due: none

TRT-889: Temp flake all azure disruption
  pkg/synthetictests/disruption.go
Due: none

Add project patch test.
  test/extended/project/project.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

feat: add support for cpu partitioning tests
  test/extended/cpu_partitioning/managed.go
  test/extended/cpu_partitioning/platform.go
  test/extended/cpu_partitioning/pods.go
  test/extended/cpu_partitioning/utils.go
  test/extended/include.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bump (openshift/kubernetes): to get openshift/kubernetes#1498
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/test/e2e/storage/flexvolume_mounted_volume_resize.go
  vendor/k8s.io/kubernetes/test/e2e/storage/mounted_volume_resize.go
  vendor/modules.txt
Due: none

Revert "OCPBUGS-8092: mark volume expansion test as Flaky"
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCPBUGS-8092: Fix mounted volume expansion tests
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/test/e2e/storage/flexvolume_mounted_volume_resize.go
  vendor/k8s.io/kubernetes/test/e2e/storage/mounted_volume_resize.go
  vendor/modules.txt
Due: none

move IsTechPreviewNoUpgrade function to exutil and reuse everywhere
  test/extended/builds/volumes.go
  test/extended/poddisruptionbudget/poddisruptionbudget.go
  test/extended/prometheus/prometheus.go
  test/extended/storage/inline.go
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Specify request UUIDs in Audit-ID header to identify disruption requests in apiserver audit logs
  pkg/monitor/backenddisruption/disruption_backend_sampler.go
  pkg/monitor/backenddisruption/disruption_backend_sampler_test.go
  pkg/monitor/write_job_run_data.go
  test/extended/util/disruption/controlplane/known_backends.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OpenStack: Restore in-tree cinder provisioner tests
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Extract intervals for slow fdatasync from etcd pod logs
  e2echart/e2e-chart-template.html
  pkg/monitor/intervalcreation/podlogs.go
  pkg/monitor/intervalcreation/podlogs_test.go
  pkg/monitor/intervalcreation/types.go
  pkg/monitor/monitorapi/identification_pod.go
  pkg/synthetictests/etcd.go
  pkg/synthetictests/event_junits.go
  pkg/test/ginkgo/options_monitor_events.go
  test/extended/testdata/bindata.go
Due: none

pkg/monitor/resourcewatch: watch more resources
  pkg/monitor/resourcewatch/operator/starter.go
Due: none

Add Liveness checks to intervals
  pkg/monitor/intervalcreation/node.go
  pkg/monitor/intervalcreation/node_test.go
  pkg/monitor/monitorapi/identification_pod.go
Due: none

Deduplicate probe interval extraction
  pkg/monitor/intervalcreation/node.go
Due: none

Add liveness to e2e-chart-template
  e2echart/e2e-chart-template.html
Due: none

Update generated bindata
  test/extended/testdata/bindata.go
Due: none

Ensure intervals are not zero length
  pkg/monitor/intervalcreation/node.go
Due: none

Document expected content of the static manifest directory
  test/extended/util/client.go
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Discovery shim for config.openshift.io/v1
  test/extended/util/configv1shim.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Check abundance of events, check existence of a real object in a list
  go.mod
  test/extended/util/configv1shim_test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bump (openshift/kubernetes): to get openshift/kubernetes#1502
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/test/e2e/storage/flexvolume_mounted_volume_resize.go
  vendor/k8s.io/kubernetes/test/e2e/storage/mounted_volume_resize.go
  vendor/modules.txt
Due: none

Update generated files with `make update`
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bump agnhost image to 2.39.
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds
