Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

Update to haproxy 1.8.26 Fixes https://issues.redhat.com/browse/RFE-600
  images/router/haproxy/Dockerfile
Due: none

Update to haproxy 1.8.26
  images/router/haproxy/Dockerfile
Due: none

Use multi-arch registry for buildah images
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/custom-build/Dockerfile
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

openshift-sdn: bump EgressNetworkPolicyMaxRules to 1000
  pkg/network/apis/network/types.go
Due: none

use ExternalTrafficPolicy local for zero downtime
  test/e2e/upgrade/service/service.go
Due: none

TestProjectWatch: wait longer for a project to be deleted
  test/extended/project/project.go
Due: none

Add NET_RAW capability to internal_ports test
  test/extended/networking/internal_ports.go
Due: none

For clusters upgraded from 4.1, skip the anonymous browser access test
  test/extended/apiserver/root_403.go
Due: none

reenable git test
  test/extended/operators/olm.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

[release-4.5] Re-enable skipped conformance tests for IBM Cloud
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

[release-4.4] Re-enable skipped conformance tests for IBM Cloud
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

[release-4.3] Re-enable skipped conformance tests for IBM Cloud
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 1861746: bring back must-gather audit e2e
  test/extended/cli/mustgather.go
Due: none

test/extended/etcd: make excessive leader_change test actionable
  test/extended/etcd/leader_changes.go
Due: none

test/extended/dr: add etcd leader distruptive test
  cmd/openshift-tests/e2e.go
  test/extended/dr/leader_change.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test/extended/etcd: leader_change: round count and smooth results
  test/extended/etcd/leader_changes.go
Due: none

test: fix network-plugin-related skips
  cmd/openshift-tests/provider.go
  test/extended/util/cloud/cloud.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 66516: Add verification to apiserver redirect following
  vendor/k8s.io/kubernetes/pkg/kubelet/server/server_test.go
  vendor/k8s.io/kubernetes/pkg/registry/core/pod/rest/log.go
  vendor/k8s.io/kubernetes/pkg/registry/core/pod/rest/subresources.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/net/http.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/net/http_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/registry/generic/rest/streamer.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/registry/generic/rest/streamer_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/transport/spdy/spdy.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
Due: ci/prow/gcp-crio

Update generated
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

haproxy 503 error page: replace all LF by CRLF to be fully compliant with rfc2616 and rfc 7230
  images/router/haproxy/conf/error-page-503.http
Due: none

image_ecosystem: temporarily disable nodejs test
  test/extended/image_ecosystem/sample_repos.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

image_ecosystem: remove mongodb tests
  test/extended/image_ecosystem/mongodb_ephemeral.go
  test/extended/image_ecosystem/mongodb_replica_statefulset.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

test/extended/operators: skip 'OLM can subscribe to the operator' if redhat-operators source is not enabled
  test/extended/operators/olm.go
Due: none

remove the extra context argument to Get to fix compile error
  test/extended/apiserver/root_403.go
Due: none

UPSTREAM: <carry>: Release lock on KCM and KS termination
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/controllermanager.go
  vendor/k8s.io/kubernetes/cmd/kube-scheduler/app/server.go
Due: none

Distinguish CSI/CNV features in storage capabilities report
  cmd/openshift-tests/storagecaps.go
Due: none

Bug 1881573: remove use of imminent SCL EOL images
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/build-pruning/default-group-build-config.yaml
  test/extended/testdata/builds/build-pruning/default-legacy-build-config.yaml
  test/extended/testdata/builds/build-pruning/errored-build-config.yaml
  test/extended/testdata/builds/build-pruning/failed-build-config.yaml
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Verbose logs of cinder volume deletion
  vendor/k8s.io/kubernetes/test/e2e/storage/drivers/in_tree.go
Due: none

UPSTREAM: 94112: Remove canonicalization of endpoints by endpoints controller for better comparison
  vendor/k8s.io/kubernetes/pkg/controller/endpoint/endpoints_controller.go
  vendor/k8s.io/kubernetes/pkg/controller/endpoint/endpoints_controller_test.go
  vendor/k8s.io/kubernetes/pkg/registry/core/endpoint/strategy.go
  vendor/k8s.io/kubernetes/test/integration/endpoints/endpoints_test.go
  vendor/k8s.io/kubernetes/test/integration/endpoints/main_test.go
Due: none

fix broken vendor dependencies
  glide.yaml
Due: none

bump golang.org/x/crypto version
  glide.yaml
Due: none

add a test to check for SCC denials during install
  test/extended/authorization/scc.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 91816: GC doesn't have to create monitors in the constructor
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/core.go
  vendor/k8s.io/kubernetes/pkg/controller/garbagecollector/garbagecollector.go
  vendor/k8s.io/kubernetes/pkg/controller/garbagecollector/garbagecollector_test.go
  vendor/k8s.io/kubernetes/test/integration/garbagecollector/garbage_collector_test.go
Due: none

wip
  pkg/build/builder/docker.go
  pkg/build/builder/docker_test.go
  pkg/build/builder/dockerutil.go
  pkg/build/builder/dockerutil_test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Remove broken machine-api taint test
  test/extended/machines/scale.go
Due: none

test/upgrade: Validate that we have exactly 3 boots
  test/e2e/upgrade/upgrade.go
Due: none

don't wait for an OLM operator to succeed on non-amd64
  test/extended/operators/olm.go
Due: none
