Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem, ci/prow/e2e-aws-image-registry, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-builds-cluster-profile
      - --target=e2e-aws-builds
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-ecosystem-cluster-profile
      - --target=e2e-aws-image-ecosystem
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-aws-image-registry-cluster-profile
      - --target=e2e-aws-image-registry
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

Add `--content` to `release info` to print the contents of the release
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
  pkg/oc/cli/admin/release/info.go
  pkg/oc/cli/admin/release/info_test.go
  pkg/oc/cli/admin/release/mirror.go
  pkg/oc/cli/admin/release/release.go
Due: none

UPSTREAM: <drop>: TestNewManagerImplStartProbeMode is flaky
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/devicemanager/manager_test.go
Due: ci/prow/gcp-crio

Bug 1689061: Report build failures due to eviction
  pkg/build/controller/build/build_controller.go
  pkg/build/controller/build/build_controller_test.go
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

operators: pull release image with pull secret from cluster
  test/extended/operators/images.go
Due: none

Disruptive worker tests delete machines and ensure recovery
  test/extended/machines/workers.go
Due: none

Deprecate oc adm ca commands
  pkg/cmd/server/admin/create_mastercerts.go
  pkg/oc/cli/admin/admin.go
  pkg/oc/cli/admin/cert/cert.go
  test/cmd/admin.sh
  test/cmd/help.sh
Due: none

Generated changes
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
Due: none

Check NewForConfig err in WhoAmI
  pkg/oc/util/project/whoami.go
Due: none

UPSTREAM: 73323: Clear conntrack entries for externalIP and LoadBalancer IP
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier.go
  vendor/k8s.io/kubernetes/pkg/proxy/ipvs/proxier.go
  vendor/k8s.io/kubernetes/pkg/proxy/service.go
  vendor/k8s.io/kubernetes/pkg/proxy/types.go
Due: none

UPSTREAM: <drop>: enable secure serving for scheduler
  vendor/k8s.io/kubernetes/cmd/kube-scheduler/app/options/options.go
Due: none

UPSTREAM: 75265: Clear conntrack entries on 0 -> 1 endpoint transition with externalIPs
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier.go
  vendor/k8s.io/kubernetes/pkg/proxy/ipvs/proxier.go
Due: none

UPSTREAM: 71804: revert "Use UnmountMountPoint util to clean up subpaths"
  vendor/k8s.io/kubernetes/pkg/util/mount/BUILD
  vendor/k8s.io/kubernetes/pkg/util/mount/fake.go
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_helper.go
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_helper_test.go
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_linux.go
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_linux_test.go
  vendor/k8s.io/kubernetes/pkg/volume/util/BUILD
  vendor/k8s.io/kubernetes/pkg/volume/util/util.go
  vendor/k8s.io/kubernetes/pkg/volume/util/util_test.go
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/subpath.go
Due: ci/prow/artifacts, ci/prow/cross

Temporarily disable RBR until we move it to a CRD
  pkg/cmd/openshift-kube-apiserver/kubeadmission/register.go
Due: none

UPSTREAM: 71804: Use UnmountMountPoint util to clean up subpaths
  vendor/k8s.io/kubernetes/pkg/util/mount/BUILD
  vendor/k8s.io/kubernetes/pkg/util/mount/fake.go
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_helper.go
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_helper_test.go
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_linux.go
  vendor/k8s.io/kubernetes/pkg/util/mount/mount_linux_test.go
  vendor/k8s.io/kubernetes/pkg/volume/util/BUILD
  vendor/k8s.io/kubernetes/pkg/volume/util/util.go
  vendor/k8s.io/kubernetes/pkg/volume/util/util_test.go
Due: ci/prow/artifacts, ci/prow/cross

update kubectl describers for external
  pkg/oc/lib/describe/deployments.go
  pkg/oc/lib/describe/deployments_test.go
  pkg/oc/lib/describe/describer.go
  pkg/oc/lib/describe/describer_test.go
  pkg/oc/lib/newapp/cmd/describe.go
  pkg/oc/originpolymorphichelpers/deploymentconfigs/history.go
  pkg/oc/originpolymorphichelpers/deploymentconfigs/rollback.go
  pkg/oc/originpolymorphichelpers/describer.go
  pkg/quota/apis/quota/convert.go
Due: none

Enable a cli-artifacts image following the pattern used by extract
  hack/build-cross.sh
  hack/lib/build/binaries.sh
  images/cli-artifacts/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/cross

Check for closed watches in deployerPodInvariantChecker
  test/extended/deployments/util.go
Due: none

update glide.yaml for 1.13.4
  glide.yaml
Due: none

kubectl: switch dc to external
  pkg/oc/originpolymorphichelpers/objectpauser.go
  pkg/oc/originpolymorphichelpers/objectresumer.go
Due: none

simplify NewUpdatePodSpecForObjectFn kubectl polymorphic functino
  pkg/oc/originpolymorphichelpers/updatepodspec.go
Due: none

boring: kubectl moves
  pkg/oc/cli/admin/admin.go
  pkg/oc/cli/cli.go
  pkg/oc/cli/newapp/newapp.go
  pkg/oc/cli/process/process.go
  pkg/oc/cli/shim_kubectl.go
  pkg/oc/lib/newapp/app/app.go
  pkg/oc/lib/newapp/app/componentref.go
  pkg/oc/lib/newapp/app/pipeline.go
  pkg/oc/lib/newapp/app/sourcelookup.go
  pkg/oc/lib/newapp/cmd/newapp.go
  pkg/oc/lib/newapp/cmd/resolve.go
  pkg/oc/lib/newapp/dockerfile/finder.go
  pkg/oc/lib/newapp/jenkinsfile/finder.go
  pkg/oc/lib/newapp/types.go
  pkg/oc/originpolymorphichelpers/defaultgenerators.go
  pkg/oc/originpolymorphichelpers/deploymentconfigs/generate.go
  pkg/oc/originpolymorphichelpers/deploymentconfigs/status.go
  pkg/oc/originpolymorphichelpers/mapbasedselectorforobject.go
  pkg/oc/originpolymorphichelpers/statusviewer.go
  pkg/route/generator/generate.go
  test/integration/newapp_test.go
Due: none

add diff command to oc
  pkg/oc/cli/cli.go
Due: none

Removing utf-8 file in extended build test
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/test-build-app/utf8_tést_app.rb
Due: ci/prow/e2e-aws-builds, ci/openshift-jenkins/extended_builds

switch tests to external client
  test/extended/imageapis/quota_admission.go
  test/util/client.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

refactor for dynamic audit enablement
  pkg/cmd/openshift-apiserver/openshiftapiserver/config.go
Due: none

switch quota to external
  pkg/cmd/openshift-apiserver/openshiftadmission/plugin_initializer.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/config.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/informers.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/openshift_apiserver.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/project.go
  pkg/cmd/openshift-controller-manager/controller/ingress.go
  pkg/cmd/openshift-controller-manager/controller/interfaces.go
  pkg/cmd/openshift-controller-manager/controller/quota.go
  pkg/cmd/openshift-controller-manager/controller/template.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  pkg/cmd/server/admission/init.go
  pkg/cmd/server/admission/types.go
  pkg/image/apiserver/registry/imagestream/strategy_test.go
  pkg/image/util/testutil/util.go
  pkg/quota/apis/quota/convert.go
  pkg/quota/apis/quota/v1/conversion.go
  pkg/quota/apis/quota/v1/helpers.go
  pkg/quota/apiserver/admission/clusterresourcequota/accessor.go
  pkg/quota/apiserver/admission/clusterresourcequota/accessor_test.go
  pkg/quota/apiserver/admission/clusterresourcequota/admission.go
  pkg/quota/apiserver/apiserver.go
  pkg/quota/apiserver/registry/appliedclusterresourcequota/filter.go
  pkg/quota/controller/clusterquotamapping/clusterquotamapping.go
  pkg/quota/controller/clusterquotamapping/clusterquotamapping_test.go
  pkg/quota/controller/clusterquotamapping/mapper.go
  pkg/quota/controller/clusterquotareconciliation/reconciliation_controller.go
  pkg/quota/controller/clusterquotareconciliation/reconciliation_controller_test.go
  pkg/quota/image/imagestreamimport_evaluator.go
  pkg/quota/image/imagestreamimport_evaluator_test.go
  pkg/quota/image/imagestreamtag_evaluator.go
  pkg/quota/image/imagestreamtag_evaluator_test.go
  pkg/quota/image/registry.go
  test/extended/util/framework.go
  test/integration/clusterquota_test.go
  test/integration/unprivileged_newproject_test.go
  test/util/client.go
Due: ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

remove generated informers and listers
  Makefile
  hack/update-generated-clientsets.sh
  hack/update-generated-informers.sh
  hack/update-generated-listers.sh
  hack/verify-generated-informers.sh
  hack/verify-generated-listers.sh
  pkg/quota/generated/informers/internalversion/factory.go
  pkg/quota/generated/informers/internalversion/generic.go
  pkg/quota/generated/informers/internalversion/internalinterfaces/factory_interfaces.go
  pkg/quota/generated/informers/internalversion/quota/interface.go
  pkg/quota/generated/informers/internalversion/quota/internalversion/clusterresourcequota.go
  pkg/quota/generated/informers/internalversion/quota/internalversion/interface.go
  pkg/quota/generated/internalclientset/clientset.go
  pkg/quota/generated/internalclientset/doc.go
  pkg/quota/generated/internalclientset/fake/clientset_generated.go
  pkg/quota/generated/internalclientset/fake/doc.go
  pkg/quota/generated/internalclientset/fake/register.go
  pkg/quota/generated/internalclientset/scheme/doc.go
  pkg/quota/generated/internalclientset/scheme/register.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/appliedclusterresourcequota.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/clusterresourcequota.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/doc.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/fake/doc.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/fake/fake_appliedclusterresourcequota.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/fake/fake_clusterresourcequota.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/fake/fake_quota_client.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/generated_expansion.go
  pkg/quota/generated/internalclientset/typed/quota/internalversion/quota_client.go
  pkg/quota/generated/listers/quota/internalversion/appliedclusterresourcequota.go
  pkg/quota/generated/listers/quota/internalversion/clusterresourcequota.go
  pkg/quota/generated/listers/quota/internalversion/expansion_generated.go
Due: ci/prow/artifacts, ci/prow/cross

remove apparently dead code
  pkg/cmd/openshift-apiserver/openshiftapiserver/configprocessing/audit.go
Due: none

update TSB to handle new audit API
  pkg/template/controller/templateinstance_controller_test.go
  pkg/templateservicebroker/cmd/server/start.go
Due: none

remove node deletion powers to match kube 71021
  test/integration/node_authorizer_test.go
Due: none

storage path updates
  test/integration/etcd_storage_path_test.go
Due: none

tweak generator
  hack/import-restrictions.json
  hack/update-generated-openapi.sh
Due: ci/prow/artifacts, ci/prow/cross

boring: import updates
  pkg/api/imagereferencemutators/internalversion/pods.go
  test/integration/clusterquota_test.go
Due: none

updates to openshift-controller-manager for new auth API
  pkg/cmd/openshift-controller-manager/controller/apiserver_authenticator.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/patch_authenticator.go
Due: none

use klog where required
  hack/import-restrictions.json
  pkg/cmd/flagtypes/glog.go
  pkg/oc/cli/admin/migrate/migrator_test.go
  pkg/oc/cli/admin/prune/imageprune/prune_test.go
  pkg/oc/cli/admin/prune/images/images_test.go
Due: ci/prow/artifacts, ci/prow/cross

fix clusterreader rbac rule changes
  pkg/cmd/server/bootstrappolicy/policy.go
  test/testdata/bootstrappolicy/bootstrap_cluster_roles.yaml
  test/testdata/bootstrappolicy/bootstrap_policy_file.yaml
Due: ci/openshift-jenkins/service-catalog

boring move
  pkg/api/serialization_test.go
  pkg/image/apiserver/admission/imagepolicy/imagepolicy_test.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
