Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

Bump golangci-lint timeout
  .golangci.yml
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

Add OCP specific CSI certification tests
  pkg/clioptions/clusterdiscovery/csi.go
  test/extended/storage/csi/csi.go
Due: none

Add CSI test for LUN overflow
  test/extended/storage/csi/scsi_overflow.go
Due: none

hack: enable the SCSI test by default
  pkg/clioptions/clusterdiscovery/csi.go
Due: none

OCPBUGS-33985: Provide SCC access via RBAC
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

If Available=False outside of upgrade window, we except for single-node
  pkg/monitor/monitorapi/types.go
  pkg/monitortestlibrary/platformidentification/upgrade.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/monitortest.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators_test.go
  pkg/monitortests/node/legacynodemonitortests/kubelet.go
  test/e2e/upgrade/upgrade.go
Due: none

review comments
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: none

Bump library-go to latest 4.16
  go.mod
  go.sum
  vendor/modules.txt
Due: none

update-tls-artifacts: show diff when mismatching certificate info found
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadatainterfaces/helpers.go
Due: none

certs test: remove duplicate util import and unused var
  test/extended/operators/certs.go
Due: none

cert collection: rewrite bootstrap etcd certificates
  test/extended/operators/certs.go
Due: none

tls artifacts: handle ondisk-only certs
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadatainterfaces/annotation_requirement.go
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadatainterfaces/helpers.go
  test/extended/operators/certs.go
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.json
  tls/descriptions/descriptions.json
  tls/ownership/ownership.json
  tls/violations/autoregenerate-after-expiry/autoregenerate-after-expiry-violations.json
  tls/violations/descriptions/descriptions-violations.json
Due: none

tls: use index when storing a pointer in "all tls artifacts must be registered" test
  test/extended/operators/certs.go
Due: none

Switch from k8s.io/legacy-cloud-providers/azure to sigs.k8s.io/cloud-provider-azure
  pkg/monitortests/cloud/azure/metrics/monitortest.go
  test/extended/util/azure/config_file.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "Conditionally skip tests to help with k8s 1.30"
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

Switch to use go 1.22
  .ci-operator.yaml
  images/hello-openshift/Dockerfile.rhel
  images/tests/Dockerfile.rhel
Due: none

Drop no longer used windows image
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

React to k8s 1.30 changes
  pkg/monitortests/network/legacynetworkmonitortests/networking.go
  test/e2e/upgrade/dns/dns.go
  test/extended/builds/multistage.go
  test/extended/builds/optimized.go
  test/extended/cli/explain.go
  test/extended/cmd/cmd.go
  test/extended/image_ecosystem/scl.go
  test/extended/machines/scale.go
  test/extended/networking/egress_firewall.go
  test/extended/node_tuning/node_tuning_utils.go
  test/extended/oauth/requestheaders.go
  test/extended/operators/server_side_apply_examples.go
  test/extended/util/framework.go
  test/extended/util/jenkins/ref.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Revert "Update etcd test data for 1.30 release"
  test/extended/etcd/etcd_storage_path.go
Due: none

Eliminate additional images from mirroring exceptions
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Prepare etcd tests for next k8s bump
  test/extended/etcd/etcd_storage_path.go
Due: none

make update
  test/extended/util/image/zz_generated.txt
  zz_generated.manifests/test-reporting.yaml
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Small fixes
  test/extended/networking/egress_firewall.go
Due: none

Only look for thanos connections to platform monitoring stack
  pkg/monitortests/testframework/alertanalyzer/alerts.go
Due: none

Regenerate TLS certificate
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.json
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.md
  tls/descriptions/descriptions.json
  tls/descriptions/descriptions.md
  tls/ownership/ownership.json
  tls/ownership/ownership.md
  tls/raw-data/raw-tls-artifacts-ha-amd64-aws-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-aws-ovn.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-aws-sdn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-aws-sdn.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-azure-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-azure-ovn.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-azure-sdn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-azure-sdn.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-gcp-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-gcp-ovn.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-gcp-sdn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-gcp-sdn.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-metal-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-metal-ovn.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-metal-sdn.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-vsphere-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-vsphere-ovn.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-vsphere-sdn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-vsphere-sdn.json
  tls/raw-data/raw-tls-artifacts-single-amd64-aws-ovn-default.json
  tls/raw-data/raw-tls-artifacts-single-amd64-aws-ovn.json
  tls/violations/autoregenerate-after-expiry/autoregenerate-after-expiry-violations.json
  tls/violations/descriptions/descriptions-violations.json
  tls/violations/ownership/ownership-violations.json
Due: none

tls: fetch new tls artifacts from 4.17.0-0.nightly-2024-05-29-050536
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.json
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.md
  tls/descriptions/descriptions.json
  tls/descriptions/descriptions.md
  tls/ownership/ownership.json
  tls/ownership/ownership.md
  tls/raw-data/raw-tls-artifacts-ha-amd64-aws-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-aws-sdn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-azure-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-azure-sdn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-gcp-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-gcp-sdn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-metal-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-metal-sdn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-vsphere-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-vsphere-sdn-default.json
  tls/raw-data/raw-tls-artifacts-single-amd64-aws-ovn-default.json
  tls/violations/autoregenerate-after-expiry/autoregenerate-after-expiry-violations.json
  tls/violations/descriptions/descriptions-violations.json
  tls/violations/ownership/ownership-violations.json
Due: none

tls: add techpreview raw data
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.json
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.md
  tls/descriptions/descriptions.json
  tls/descriptions/descriptions.md
  tls/ownership/ownership.json
  tls/ownership/ownership.md
  tls/raw-data/raw-tls-artifacts-ha-amd64-aws-ovn-techpreviewnoupgrade.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-azure-ovn-techpreviewnoupgrade.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-gcp-ovn-techpreviewnoupgrade.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-vsphere-ovn-techpreviewnoupgrade.json
  tls/violations/autoregenerate-after-expiry/autoregenerate-after-expiry-violations.json
  tls/violations/descriptions/descriptions-violations.json
Due: none

cert tests: make TLS registry tests required
  test/extended/operators/certs.go
Due: none

Log what monitortests failed in Stop() leading to the failed resultState
  pkg/monitor/monitor.go
Due: none

Add E2E test for UpgradeValidation contention
  test/extended/router/stress.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Refactor router status tests to use informer
  test/extended/router/stress.go
Due: none

feat: add leases to resource watch
  pkg/resourcewatch/operator/starter.go
Due: none

Update etcd test data for 1.30 release
  test/extended/etcd/etcd_storage_path.go
Due: none

correct feature gate annotation for vsphere snapshot test
  test/extended/storage/driver_configuration.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "Merge pull request #28735 from DennisPeriquet/excepted_failures1"
  pkg/monitor/monitorapi/types.go
  pkg/monitortestlibrary/platformidentification/upgrade.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/monitortest.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators_test.go
  pkg/monitortests/node/legacynodemonitortests/kubelet.go
  test/e2e/upgrade/upgrade.go
Due: none

run vsphere driver config test on non techpreview clusters
  test/extended/storage/driver_configuration.go
Due: none

Conditionally skip tests to help with k8s 1.30
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
