Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

OCPBUGS-39315: remove ingress operator exclusion
  pkg/monitortests/node/legacynodemonitortests/exclusions.go
  pkg/monitortests/node/legacynodemonitortests/exclusions_test.go
Due: none

add username
  pkg/monitortests/kubeapiserver/auditloganalyzer/handle_audit_violation.go
Due: none

add additional managed namespaces
  test/extended/util/managed_services.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCPBUGS-43478: generalize the RHEL8 and RHEL9 subscription_content.go test
  test/extended/builds/subscription_content.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Revert "possible fix for /test e2e-aws-ovn-single-node-upgrade"
  test/extended/authorization/authorization.go
Due: none

TLS registry: add certificates.openshift.io/test-name annotation
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadata/testcase/requirement.go
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadatadefaults/defaults.go
Due: none

TLS registry: update autoregenerate_after_expiry to rely on testcase
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadata/autoregenerate_after_expiry/requirement.go
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadata/testcase/requirement.go
Due: none

TLS registry: add refresh period requirement
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadata/refresh_period/requirement.go
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadatadefaults/defaults.go
Due: none

Regenerate TLS registry
  tls/refresh-period/refresh-period.json
  tls/refresh-period/refresh-period.md
  tls/testcase/testcase.json
  tls/testcase/testcase.md
  tls/violations/refresh-period/refresh-period-violations.json
  tls/violations/testcase/testcase-violations.json
Due: none

monitortests: update flaking namespaces and exclude managed services
  pkg/monitortests/authentication/requiredsccmonitortests/monitortest.go
Due: none

(e2e) reenable OLMv1 test for maxOpenShiftversion
  test/extended/olm/olmv1.go
Due: none

remove flake
  pkg/monitortests/kubeapiserver/auditloganalyzer/handle_audit_violation.go
Due: none

OCPBUGS-44970: Excluding loki prod-bearer-token container from excessive restarts test in SNO
  pkg/monitortests/node/legacynodemonitortests/exclusions.go
Due: none

Revert "NO-JIRA: address malformed CMO configmap post-test"
  test/extended/prometheus/collection_profiles.go
Due: none

possible fix for /test e2e-aws-ovn-single-node-upgrade
  test/extended/authorization/authorization.go
Due: none

Updates prometheus extended test
  test/extended/prometheus/collection_profiles.go
Due: none

add e2e test for the private image pulling on AWS GCP and Azure
  test/extended/etcd/helpers/helpers.go
  test/extended/include.go
  test/extended/kubelet_authentication_providers/kubelet_authentication_providers.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/aws_client.go
  test/extended/util/azure_client.go
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

managed services: add known image check for gcp
  pkg/monitortests/testframework/knownimagechecker/monitortest.go
Due: none

react
  test/extended/authorization/rbac/groups_default_rules.go
  test/extended/bootstrap_user/bootstrap_user_login.go
Due: none

react
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

make update
  test/extended/util/image/zz_generated.txt
  zz_generated.manifests/test-reporting.yaml
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

monitortests: enforce required-scc monitor test for fixed namespaces
  pkg/monitortests/authentication/requiredsccmonitortests/monitortest.go
Due: none

OCPBUGS-26601: Re-enable AWS for router HTTP/2 test
  test/extended/router/h2spec.go
  test/extended/router/http2.go
Due: none

Fix: Correct oc patch command syntax in ImageRegistry access test
  test/extended/authorization/authorization.go
Due: none

Parse node logs also when encountered with standard html header
  pkg/monitortestlibrary/nodeaccess/node_log.go
Due: none

virt: mark missing SCCs in openshift-cnv ns as flaky rather than failing
  pkg/monitortests/authentication/requiredsccmonitortests/monitortest.go
Due: none

[Test] - Adding Puma HTTP server
  test/extended/testdata/builds/s2i-environment-build-app/Gemfile
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

UDN: Add Network Policy e2e tests
  test/extended/networking/multinetpolicy.go
  test/extended/networking/network_segmentation.go
  test/extended/networking/network_segmentation_policy.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

daemon sets: use standardized tolerations for platform ds
  test/extended/operators/daemon_set.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Replace RunHostCmd with Exec function to censor bearer token being exposed
  test/extended/router/metrics.go
Due: none

Use oc exec command instead of kubectl exec
  test/extended/prometheus/prometheus.go
  test/extended/router/metrics.go
Due: none

Modify the args for exec
  test/extended/prometheus/prometheus.go
  test/extended/router/metrics.go
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
