Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

Add ipsec e2e tests for east west traffic
  test/extended/networking/external_gateway.go
  test/extended/networking/ipsec.go
  test/extended/networking/util.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

[wip] Add ipsec e2e test for north south traffic case
  test/extended/networking/ipsec.go
  test/extended/testdata/bindata.go
  test/extended/testdata/ipsec/deploy-nmstate.yaml
  test/extended/testdata/ipsec/nmstate.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCPBUGS-31032 Decrease memory request for pods
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/testdata/test-deployment-config.yaml
  test/extended/testdata/deployments/tag-images-deployment.yaml
  test/extended/testdata/test-deployment-config.yaml
Due: none

Bump timeout value
  test/extended/machines/scale.go
Due: none

Reduce deploymentconfig test 3GBi memory size to reasonable
  test/extended/deployments/util.go
  test/extended/testdata/bindata.go
  test/extended/testdata/deployments/tag-images-deployment.yaml
Due: none

Add soltysh and deads to approvers
  OWNERS
Due: none

Bump golang to 1.21
  .ci-operator.yaml
  examples/hello-openshift/go.mod
  go.mod
  images/hello-openshift/Dockerfile.rhel
  images/tests/Dockerfile.rhel
Due: none

generated changes
  test/extended/testdata/bindata.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Skip non-upgradeable alerts for CustomNoUpgrade
  test/extended/prometheus/prometheus.go
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

SO-121: Samples Release, fix test cases
  test/extended/image_ecosystem/s2i_images.go
  test/extended/image_ecosystem/s2i_php.go
  test/extended/image_ecosystem/s2i_ruby.go
  test/extended/image_ecosystem/sample_repos.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

error fix
  test/extended/image_ecosystem/s2i_php.go
  test/extended/image_ecosystem/s2i_ruby.go
  test/extended/image_ecosystem/sample_repos.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

scl errors
  test/extended/image_ecosystem/s2i_images.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

authorization: rm anonymous user test cases
  test/extended/authorization/authorization.go
Due: none

add monitor test for kubelet selinux labels Signed-off-by: Kevin Hannon <kehannon@redhat.com>
  pkg/defaultmonitortests/types.go
  pkg/monitortests/node/kubeletselinuxlabels/monitortest.go
  pkg/monitortests/node/kubeletselinuxlabels/namespace.yaml
  pkg/monitortests/node/kubeletselinuxlabels/util.go
Due: none

Switch to use must-gather image in build multi-stage
  test/extended/builds/multistage.go
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Use centos7 tag instead of latest for cmd images tests
  examples/image-streams/image-streams-centos7.json
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/testdata/image-streams/image-streams-centos7.json
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

removing deprecated image test cases
  test/extended/image_ecosystem/s2i_images.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

Fixi annotations
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

DNM/TEST: increase num tries and frequency for endpoint checks
  pkg/test/ginkgo/cmd_runsuite.go
  vendor/k8s.io/kubernetes/test/e2e/framework/network/utils.go
Due: none

add service accounts to resourcewatcher
  pkg/resourcewatch/operator/starter.go
Due: none

push image test
  pkg/monitortests/node/kubeletselinuxlabels/util.go
Due: none

Relax job requirement for backenddisruption unit test
  pkg/monitortestlibrary/allowedbackenddisruption/matches_test.go
Due: none

OCPBUGS-31210: add support for multi-arch codeready-builder-for-rhel-9
  test/extended/testdata/builds/subscription-content/buildconfig-subscription-content-rhel9.yaml
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

ppc64le without python-cinder
  images/tests/Dockerfile.rhel
Due: none

relax minJobs requirement to lower than available
  pkg/monitortestlibrary/allowedbackenddisruption/matches_test.go
Due: none

sync
  pkg/monitortests/node/kubeletselinuxlabels/monitortest.go
Due: none

test
  pkg/defaultmonitortests/types.go
  pkg/monitortests/node/kubeletselinuxlabels/monitortest.go
  pkg/monitortests/node/kubeletselinuxlabels/util.go
Due: none

match azure instead of aws to get over 100 jobs
  pkg/monitortestlibrary/allowedbackenddisruption/matches_test.go
Due: none

OCPBUGS-20097: Switch to use cli image, as the scratch image
  test/extended/builds/multistage.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

prometheus-k8s bound token
  test/extended/etcd/leader_changes.go
  test/extended/prometheus/client/via_route.go
  test/extended/prometheus/prometheus.go
  test/extended/prometheus/storage.go
  test/extended/router/metrics.go
  test/extended/util/conditions.go
  test/extended/util/prometheus/helpers.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add debug logging for SLB monitortest cleanup
  pkg/monitortestframework/impl.go
  pkg/monitortestframework/panic.go
  pkg/monitortests/network/disruptionserviceloadbalancer/monitortest.go
Due: none

OCPBUGS-31738: Bump timeout for the pod-network-service endpoints check
  pkg/monitortests/network/disruptionpodnetwork/monitortest.go
Due: none

generated
  zz_generated.manifests/test-reporting.yaml
Due: none
