Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/gcp-crio, ci/prow/cross, ci/openshift-jenkins/service-catalog

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --target=e2e-gcp-crio
      - --template=/usr/local/e2e-gcp-crio
      command:
      - ci-operator
      env:
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

Drop apiserver validation of network objects, do just-in-time validation
  pkg/api/validation/register.go
  pkg/network/apis/network/validation/validation.go
  pkg/network/apis/network/validation/validation_test.go
  pkg/network/common/common.go
  pkg/network/master/master.go
  pkg/network/master/master_test.go
  pkg/network/master/subnets.go
  pkg/network/master/vnids.go
  pkg/network/node/subnets.go
  pkg/network/node/vnids.go
Due: none

Drop unversioned network types
  pkg/network/apis/network/install/install.go
  pkg/network/apis/network/plugin.go
  pkg/network/apis/network/register.go
  pkg/network/apis/network/types.go
  pkg/network/apis/network/v1/register.go
  pkg/network/apis/network/v1/zz_generated.conversion.go
  pkg/network/apis/network/zz_generated.deepcopy.go
Due: none

Use CRDs for network.openshift.io types
  hack/dind-cluster.sh
  images/dind/master/openshift-sdn-master-setup.sh
  pkg/network/apis/network/v1/types.yaml
Due: ci/prow/artifacts, ci/prow/cross

Make controller use JSON rather than protobuf for network types
  pkg/cmd/openshift-controller-manager/controller/interfaces.go
Due: none

Release payload creation should catch trivial YAML/JSON errors
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
  pkg/oc/cli/admin/release/new.go
Due: none

fix projects when watching with selector
  pkg/project/apiserver/registry/project/proxy/proxy.go
  pkg/project/auth/watch.go
  pkg/project/auth/watch_test.go
  pkg/project/util/util.go
  test/integration/project_test.go
Due: none

increase timeouts because tests on gcp run slow
  test/extended/builds/contextdir.go
  test/extended/builds/image_source.go
Due: ci/openshift-jenkins/extended_builds

Fix #20203 for release-3.10 branch
  pkg/oc/clusteradd/components/web-console-operator/web_console_operator.go
Due: none

use namespace labels to prevent SCC usage
  test/extended/util/test.go
Due: ci/openshift-jenkins/extended_builds

Remove testing function customization
  test/extended/util/test.go
Due: ci/openshift-jenkins/extended_builds

Report errors detected by imageprogress writers
  pkg/build/builder/dockerutil.go
  pkg/build/builder/dockerutil_test.go
Due: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/extended_builds, ci/prow/gcp-crio

Use a callback instead of type-unsafe opts in RetryImageAction
  pkg/build/builder/dockerutil.go
Due: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/extended_builds, ci/prow/gcp-crio

Reinitialize pull/push options, and the progress writer objects, on each attempt
  pkg/build/builder/dockerutil.go
Due: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/extended_builds, ci/prow/gcp-crio

bump(github.com/openshift/imagebuilder): FIXME DO NOT MERGE: Update imagebuilder from https://github.com/openshift/imagebuilder/pull/97
  vendor/github.com/openshift/imagebuilder/dockerclient/client.go
  vendor/github.com/openshift/imagebuilder/imageprogress/progress.go
  vendor/github.com/openshift/imagebuilder/imageprogress/progress_test.go
Due: ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem

Always Close the imageprogress writers
  pkg/build/builder/dockerutil.go
Due: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/extended_builds, ci/prow/gcp-crio

Replace the "opts" parameter to retryImageAction with "actionName"
  pkg/build/builder/dockerutil.go
Due: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/extended_builds, ci/prow/gcp-crio

Report errors detected by imageprogress.NewPullWriter
  pkg/oc/clusterup/docker/dockerhelper/helper.go
Due: none

Fix a GitHub issue URL
  pkg/oc/clusterup/docker/dockerhelper/helper.go
Due: none

Move the NewPullWriter/outputStream initialization closer to the ImagePull call
  pkg/oc/clusterup/docker/dockerhelper/helper.go
Due: none

Close imageprogress.NewPullWriter immediately after pulling the image
  pkg/oc/clusterup/docker/dockerhelper/helper.go
Due: none

UPSTREAM: 68563: fix scheduler crash when Prioritize Map function failed
  vendor/k8s.io/kubernetes/pkg/scheduler/core/generic_scheduler.go
  vendor/k8s.io/kubernetes/pkg/scheduler/core/generic_scheduler_test.go
Due: none

add rsync include,exclude support
  pkg/oc/cli/rsync/copytar.go
  pkg/oc/cli/rsync/util.go
  test/cmd/rsync.sh
Due: none

UPSTREAM: 63176: Fix discovery/deletion of iscsi block devices
  vendor/k8s.io/kubernetes/pkg/volume/iscsi/BUILD
  vendor/k8s.io/kubernetes/pkg/volume/iscsi/attacher.go
  vendor/k8s.io/kubernetes/pkg/volume/iscsi/iscsi.go
  vendor/k8s.io/kubernetes/pkg/volume/iscsi/iscsi_util.go
  vendor/k8s.io/kubernetes/pkg/volume/util/device_util.go
  vendor/k8s.io/kubernetes/pkg/volume/util/device_util_linux.go
  vendor/k8s.io/kubernetes/pkg/volume/util/device_util_linux_test.go
  vendor/k8s.io/kubernetes/pkg/volume/util/device_util_unsupported.go
  vendor/k8s.io/kubernetes/pkg/volume/util/io_util.go
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 67140: Add wait loop for multipath devices to appear
  vendor/k8s.io/kubernetes/pkg/volume/iscsi/iscsi_util.go
Due: none

UPSTREAM: 68141: Retry attaching multipath iSCSI volumes
  vendor/k8s.io/kubernetes/pkg/volume/iscsi/iscsi_util.go
Due: none

UPSTREAM: 69140: Fix iSCSI panic in DetachDisk
  vendor/k8s.io/kubernetes/pkg/volume/iscsi/attacher.go
  vendor/k8s.io/kubernetes/pkg/volume/iscsi/iscsi_util.go
Due: none

cluster-up: add scheduler operator
  pkg/oc/clusterup/required_images.go
  pkg/oc/clusterup/run_self_hosted.go
  test/extended/clusterup.sh
Due: none

Add Go 1.11 to Travis build matrix
  .travis.yml
Due: none

UPSTREAM: 58646: Change the portworx volume attribute SupportsSELinux to false
  vendor/k8s.io/kubernetes/pkg/volume/portworx/portworx.go
Due: none

WIP debug
  README.md
Due: none

Remove use of internal network client
  pkg/network/apis/network/annotations.go
  pkg/oc/lib/describe/describer.go
  test/extended/networking/multicast.go
  test/extended/networking/util.go
  test/integration/sdn_test.go
  test/integration/unprivileged_newproject_test.go
Due: none

Drop internal network client
  hack/import-restrictions.json
  hack/update-generated-clientsets.sh
  hack/update-generated-informers.sh
  hack/update-generated-listers.sh
  pkg/network/generated/informers/internalversion/factory.go
  pkg/network/generated/informers/internalversion/generic.go
  pkg/network/generated/informers/internalversion/internalinterfaces/factory_interfaces.go
  pkg/network/generated/informers/internalversion/network/interface.go
  pkg/network/generated/informers/internalversion/network/internalversion/clusternetwork.go
  pkg/network/generated/informers/internalversion/network/internalversion/egressnetworkpolicy.go
  pkg/network/generated/informers/internalversion/network/internalversion/hostsubnet.go
  pkg/network/generated/informers/internalversion/network/internalversion/interface.go
  pkg/network/generated/informers/internalversion/network/internalversion/netnamespace.go
  pkg/network/generated/internalclientset/clientset.go
  pkg/network/generated/internalclientset/doc.go
  pkg/network/generated/internalclientset/fake/clientset_generated.go
  pkg/network/generated/internalclientset/fake/doc.go
  pkg/network/generated/internalclientset/fake/register.go
  pkg/network/generated/internalclientset/scheme/doc.go
  pkg/network/generated/internalclientset/scheme/register.go
  pkg/network/generated/internalclientset/typed/network/internalversion/clusternetwork.go
  pkg/network/generated/internalclientset/typed/network/internalversion/doc.go
  pkg/network/generated/internalclientset/typed/network/internalversion/egressnetworkpolicy.go
  pkg/network/generated/internalclientset/typed/network/internalversion/fake/doc.go
  pkg/network/generated/internalclientset/typed/network/internalversion/fake/fake_clusternetwork.go
  pkg/network/generated/internalclientset/typed/network/internalversion/fake/fake_egressnetworkpolicy.go
  pkg/network/generated/internalclientset/typed/network/internalversion/fake/fake_hostsubnet.go
  pkg/network/generated/internalclientset/typed/network/internalversion/fake/fake_netnamespace.go
  pkg/network/generated/internalclientset/typed/network/internalversion/fake/fake_network_client.go
  pkg/network/generated/internalclientset/typed/network/internalversion/generated_expansion.go
  pkg/network/generated/internalclientset/typed/network/internalversion/hostsubnet.go
  pkg/network/generated/internalclientset/typed/network/internalversion/netnamespace.go
  pkg/network/generated/internalclientset/typed/network/internalversion/network_client.go
  pkg/network/generated/listers/network/internalversion/clusternetwork.go
  pkg/network/generated/listers/network/internalversion/egressnetworkpolicy.go
  pkg/network/generated/listers/network/internalversion/expansion_generated.go
  pkg/network/generated/listers/network/internalversion/hostsubnet.go
  pkg/network/generated/listers/network/internalversion/netnamespace.go
Due: ci/prow/artifacts, ci/prow/cross

disable extended tests that are currently broken for buildah
  test/extended/builds/build_timing.go
  test/extended/builds/digest.go
  test/extended/builds/docker_quota.go
  test/extended/builds/failure_status.go
  test/extended/builds/forcepull.go
  test/extended/builds/gitauth.go
  test/extended/builds/hooks.go
  test/extended/builds/multistage.go
  test/extended/builds/optimized.go
  test/extended/builds/proxy.go
  test/extended/builds/s2i_quota.go
  test/extended/builds/s2i_root.go
  test/extended/builds/secrets.go
  test/extended/builds/start.go
  test/extended/builds/valuefrom.go
Due: ci/openshift-jenkins/extended_builds

add local-up-master for running a controller manager without a kubelet
  hack/local-up-master/etcd.sh
  hack/local-up-master/kube-apiserver.yaml
  hack/local-up-master/logging.sh
  hack/local-up-master/master.sh
  hack/local-up-master/openshift-apiserver-manifests/01_service.yaml
  hack/local-up-master/openshift-apiserver-manifests/02_endpoint.yaml
  hack/local-up-master/openshift-apiserver-manifests/03_apiservice.yaml
  hack/local-up-master/openshift-apiserver.yaml
  hack/local-up-master/openshift-controller-manager.yaml
  hack/local-up-master/util.sh
Due: ci/prow/artifacts, ci/prow/cross

fix error from basename when using source to run hack/lib/init.sh
  hack/lib/init.sh
Due: ci/prow/artifacts, ci/prow/cross

Update .travis.yml
  .travis.yml
Due: none

Retriggering the tests
  .travis.yml
Due: none

Updating postCommit tests to cover docker and s2i
  test/extended/builds/hooks.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/build-postcommit/docker.yaml
  test/extended/testdata/builds/build-postcommit/imagestreams.yaml
  test/extended/testdata/builds/build-postcommit/sti.yaml
  test/extended/testdata/builds/test-build-postcommit.json
Due: ci/openshift-jenkins/extended_builds

Fix some bugs in the networkpolicy migration script
  contrib/migration/migrate-network-policy.sh
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)) or (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder))
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
