Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

UPSTREAM: 96424: put a message, not a stack, in the log on a timeout
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go
Due: none

UPSTREAM: 95725: DelegatingAuthorizationOptions: exposes and sets a default timeout for SubjectAccessReview client
  vendor/k8s.io/kubernetes/cmd/cloud-controller-manager/app/options/options_test.go
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/options/options_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: 96217: DelegatingAuthenticationOptions TokenReview client timeout
  vendor/k8s.io/kubernetes/cmd/cloud-controller-manager/app/options/options_test.go
  vendor/k8s.io/kubernetes/cmd/kube-controller-manager/app/options/options_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/authentication.go
Due: none

add kubevirt as a provide to openshift tests
  cmd/openshift-tests/provider.go
  test/e2e/upgrade/service/service.go
  test/extended/util/kubevirt/provider.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 95002: klog v1 prints to stderr
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
Due: none

test: Simplify the worker machine health check test for clarity
  test/extended/dr/machine_recover.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: <carry>: wip
  vendor/k8s.io/kubernetes/test/e2e/e2e.go
  vendor/k8s.io/kubernetes/test/e2e/framework/node/wait.go
Due: none

test: Enable mirroring test images to a different repository
  cmd/openshift-tests/images.go
  cmd/openshift-tests/openshift-tests.go
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

test: Add a framework for mirroring origin images
  cmd/openshift-tests/images.go
  cmd/openshift-tests/openshift-tests.go
  hack/update-generated.sh
  hack/verify-generated.sh
  pkg/test/ginkgo/cmd_runsuite.go
  test/extended/oauth/oauth_ldap.go
  test/extended/util/framework.go
  test/extended/util/image/README.md
  test/extended/util/image/image.go
  test/extended/util/ldap.go
Due: ci/prow/artifacts, ci/prow/e2e-gcp-builds, ci/prow/cross, ci/prow/e2e-aws-builds

allow operators to settle after MCPs are done upgrading
  test/e2e/upgrade/upgrade.go
Due: none

Add consolequickstarts to list of console resource exceptions
  test/extended/authorization/rbac/groups_default_rules.go
Due: none

generated
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add libvirt to unsupported platforms for LB service
  test/e2e/upgrade/service/service.go
Due: none

normalize ginkgo structuring so we avoid timing windows changing users with k8s e2e setup logic (and hope memory is OK)
  test/extended/builds/pipeline_jenkins_e2e.go
  test/extended/builds/pipeline_origin_bld.go
  test/extended/builds/pipeline_origin_bld_rhelimagesonly.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

make update output
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

extended-tests: kube-apiserver: switch flowcontrol storage to alpha
  test/extended/etcd/etcd_storage_path.go
Due: none

Fix build test CM count
  test/extended/builds/remove_buildconfig.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

move s2i_root.go off of docker.io
  test/extended/builds/s2i_root.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

tolerate apiserver restart errors when creating machines in quorum restore test
  test/extended/dr/quorum_restore.go
Due: none

Skip tests incompatible with disruptive testing
  cmd/openshift-tests/e2e.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Ensure quorum restore DR test can take a backup when api is down
  test/extended/dr/quorum_restore.go
Due: none

make update
  test/extended/testdata/bindata.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

increase the wait time for machines to re-create
  test/extended/dr/quorum_restore.go
Due: none

Remove obsolete DR testing of snapshot restore
  test/extended/dr/common.go
  test/extended/dr/restore_from_snapshot.go
  test/extended/testdata/disaster-recovery/restore-etcd.sh
  test/extended/testdata/disaster-recovery/rollback-A.yaml
  test/extended/testdata/disaster-recovery/rollback-B.yaml
  test/extended/testdata/disaster-recovery/ssh-bastion/clusterrole.yaml
  test/extended/testdata/disaster-recovery/ssh-bastion/clusterrolebinding.yaml
  test/extended/testdata/disaster-recovery/ssh-bastion/deployment.yaml
  test/extended/testdata/disaster-recovery/ssh-bastion/namespace.yaml
  test/extended/testdata/disaster-recovery/ssh-bastion/role.yaml
  test/extended/testdata/disaster-recovery/ssh-bastion/rolebinding.yaml
  test/extended/testdata/disaster-recovery/ssh-bastion/service.yaml
  test/extended/testdata/disaster-recovery/ssh-bastion/serviceaccount.yaml
  test/extended/testdata/disaster-recovery/ssh-bastion/sshd_config
  test/extended/testdata/disaster-recovery/update_route_53.py
Due: none

Temporarily skip machine recover DR test pending a fix
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Improve reliability of ssh command execution in disruptive testing
  test/extended/dr/common.go
  test/extended/dr/machine_recover.go
  test/extended/dr/quorum_restore.go
  test/extended/dr/restore_from_snapshot.go
Due: none

Skip table tests broken by 1.20 rebase
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

make update
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

React to changes
  test/extended/authorization/rbac/groups_default_rules.go
  test/extended/authorization/scopes.go
  test/extended/imageapis/quota_admission.go
  test/extended/networking/endpoint_admission.go
  test/extended/topology_manager/resourcealign.go
  test/extended/util/framework.go
  test/extended/util/image/image.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

make update
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Update generated
  test/extended/testdata/bindata.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bump(*): o/k 1.20.0 - missing k8s/component-helpers
  go.mod
  vendor/modules.txt
Due: none

Revert "Skip table tests broken by 1.20 rebase"
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Fix openshift-sdn mode detection in e2e tests
  test/extended/networking/util.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
