Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

Bug 1826183: Verify builds use custom CA bundle
  test/extended/builds/cluster_config.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/cluster-config/ca-build.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

bump(github.com/openshift/kubernetes)
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/network/BUILD
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/network/validate_network_config.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/authentication/oauth/tokenauthenticator.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/kuberuntime_container_windows.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
  vendor/k8s.io/kubernetes/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  vendor/k8s.io/kubernetes/test/e2e/generated/bindata.go
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

test: extended: unskip secret test
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

e2e must-gather: audit logs not captured by default
  test/extended/cli/mustgather.go
Due: none

Add a new suite for CSI tests in CI
  cmd/openshift-tests/e2e.go
Due: none

Updating test path for conformance
  test/extended/cli/mustgather.go
Due: none

e2e: topomgr: disable again failing test
  test/extended/topology_manager/resourcealign.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Adding tests for BuildOverrides ForcePull option
  test/extended/builds/buildoverrides.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/build-overrides/forcepull-false.json
  test/extended/testdata/builds/build-overrides/forcepull-nil.json
  test/extended/testdata/builds/build-overrides/forcepull-true.json
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

e2e/oauth: deflake by using random tokens
  test/extended/oauth/token.go
Due: none

oauth: switch to sha256~ prefix
  test/extended/oauth/expiration.go
  test/extended/oauth/token.go
Due: none

test/e2e/upgrade: Give clusters 3 minutes to acknowledge updates
  test/e2e/upgrade/upgrade.go
Due: none

fix disruption test name
  test/extended/util/disruption/controlplane/controlplane.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Remove problematic upstream client plugin test
  test/extended/builds/pipeline.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Bug 1807714: oc set volume use 'filepath' not 'path' to manipulate filepaths.
  pkg/oc/cli/set/volume.go
Due: none

test/extended/prometheus: Add retry options to RunQueries() curl command
  test/extended/util/prometheus/helpers.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

move jenkins image test infra from centos to rhel
  test/extended/util/url/url.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

move scl image tests from centos7 to rhel7
  test/extended/image_ecosystem/s2i_images.go
  test/extended/image_ecosystem/scl.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

bypass scl images not in s390
  test/extended/image_ecosystem/s2i_images.go
  test/extended/image_ecosystem/scl.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

update-generate-bindata
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

add rhel image only jenkins test
  cmd/openshift-tests/e2e.go
  test/extended/builds/pipeline_origin_bld_rhelimagesonly.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

extended/oauth: skip sha256 test until https://github.com/openshift/kubernetes/pull/305 merged
  test/extended/oauth/token.go
Due: none

Waiting for ephemeral registry endpoint
  test/extended/images/imagestreamimport.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

Print error if watch.Error happens
  test/extended/controller_manager/deploy_trigger.go
Due: none

adds a new monitoring test for checking that the OAuth APIs remains available during and after a cluster upgrade
  pkg/monitor/api.go
  test/e2e/upgrade/upgrade.go
  test/extended/dr/machine_recover.go
  test/extended/util/disruption/controlplane/controlplane.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

e2e: topomgr: dump the pod spec on creation
  test/extended/topology_manager/utils.go
Due: none

WIP: e2e: topomkgr: re-enable the failing test
  test/extended/topology_manager/resourcealign.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

e2e: topomgr: report node state on failure
  test/extended/topology_manager/utils.go
Due: none

Revert "extended/oauth: skip sha256 test until https://github.com/openshift/kubernetes/pull/305 merged"
  test/extended/oauth/token.go
Due: none

move jenkins image test infra from centos to rhel
  test/extended/image_ecosystem/scl.go
  test/extended/util/url/url.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Drop registry.fedoraproject.org/fedora:30 in favour of quay.io/fedora/fedora:32-x86_64
  test/extended/csrapprover/csrapprover.go
Due: none

tests: reduce flake rates when apiserver is 503
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Re-enable skipped conformance tests for IBM Cloud
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds
