Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/gcp-crio, ci/prow/cross, ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)) or (any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder))
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)

Generated
  pkg/openapi/zz_generated.openapi.go
Due: none

Sync path of mountPath in host-path-example
  examples/storage-examples/host-path-examples/README.md
Due: none

Fix an incorrect error message on SDN restart
  pkg/network/node/ovscontroller.go
  pkg/util/ovs/fake_ovs_test.go
  pkg/util/ovs/ovs.go
  pkg/util/ovs/ovs_test.go
Due: none

Set --cert-dir for kube-controller-manager in test-cmd
  hack/local-up-master/lib.sh
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 70671: allow delegated authorization to have privileged groups
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: 70670: Add method for allowed paths on delegated authorization
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: 67543: delegated authz: add AlwaysAllowPaths to option struct (defaulting to /healthz)
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/authorization/path/doc.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/authorization/path/path.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/authorization/path/path_test.go
Due: none

allow openshift-apiserver to avoid SAR for certain paths and groups
  pkg/cmd/openshift-apiserver/openshiftapiserver/config.go
Due: none

Set insecure port to 0 for kube-controller-manager not to collide during tests
  test/util/server/server.go
Due: none

Update docker registryclient consumers to use the go context
  pkg/image/importer/importer_test.go
  pkg/image/registryclient/client.go
  pkg/image/registryclient/client_test.go
  pkg/oc/cli/image/append/append.go
  pkg/oc/cli/image/mirror/s3.go
Due: ci/openshift-jenkins/extended_image_registry

UPSTREAM: docker/distribution: 2384: Fallback to GET for manifest
  vendor/github.com/docker/distribution/registry/client/repository.go
Due: ci/openshift-jenkins/extended_image_registry

Revert "Split integration runs into two separate invocations"
  hack/test-integration.sh
Due: ci/prow/artifacts, ci/prow/cross

Bump integration timeout to 2h
  hack/test-integration.sh
Due: ci/prow/artifacts, ci/prow/cross

Force verbose output always for integration
  hack/test-integration.sh
Due: ci/prow/artifacts, ci/prow/cross

generate: OpenAPI changes from serving cert status generate: OpenAPI changes for operator status
  pkg/openapi/zz_generated.openapi.go
Due: none

Automatic commit of package [atomic-openshift] release [3.9.54-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

only check for exceeding of ServerThreshold if the current row is a server
  pkg/router/metrics/haproxy/haproxy.go
Due: none

docs/rebase.md: fix word typo
  docs/rebase.md
Due: none

hack/cherry-pick.sh: fix cmd line help if no flag is passed
  hack/cherry-pick.sh
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 71318: apiserver: set glog as etcdclient logger
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/storage/etcd3/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/storage/etcd3/logger.go
Due: none

debug operator e2e tests
  pkg/cmd/openshift-apiserver/openshiftapiserver/config.go
  pkg/cmd/openshift-apiserver/openshiftapiserver/images.go
  pkg/cmd/server/origin/master_config.go
  pkg/image/apiserver/admission/limitrange/admission.go
  pkg/image/apiserver/admission/limitrange/imagestream_limits.go
  pkg/image/apiserver/admission/limitrange/imagestream_limits_test.go
  pkg/image/apiserver/admission/limitrange/usage.go
  pkg/image/apiserver/admission/limitrange/usage_test.go
  pkg/image/apiserver/registry/imagestream/strategy_test.go
Due: ci/openshift-jenkins/extended_image_registry

Add bbennett@redhat.com (knobunc on github) to 3.9 OWNERS to approve backports
  OWNERS
Due: none

Ensure Egress IP rules are recreated after firewalld reload
  pkg/network/node/iptables.go
Due: none

servingInfo is not required for sdn configuration
  pkg/cmd/server/apis/config/validation/network/network.go
Due: none

run test builds in parallel
  test/extended/builds/build_pruning.go
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/build-pruning/errored-build-config.yaml
  test/extended/testdata/builds/build-pruning/failed-build-config.yaml
  test/extended/testdata/builds/build-pruning/successful-build-config.yaml
Due: ci/openshift-jenkins/extended_builds

turn hyperkube audit logging on by default
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/default_audit_policy.go
  pkg/cmd/openshift-kube-apiserver/openshiftkubeapiserver/flags.go
  test/integration/oauth_server_headers_test.go
  test/util/server/server.go
Due: none

UPSTREAM: 65781:if loadbalancer section is not defined in cloudconfig, do not initial…
  vendor/k8s.io/kubernetes/pkg/cloudprovider/providers/openstack/openstack.go
Due: none

Increase the default test timeout to 15m
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

Stop running 3 routers in each router test namespace
  test/extended/router/scoped.go
  test/extended/router/unprivileged.go
  test/extended/testdata/bindata.go
  test/extended/testdata/router-common.yaml
  test/extended/testdata/router-override-domains.yaml
  test/extended/testdata/router-override.yaml
  test/extended/testdata/router-scoped.yaml
  test/extended/testdata/scoped-router.yaml
Due: none

Use a much smaller build for testing build pruning
  test/extended/testdata/bindata.go
  test/extended/testdata/builds/build-pruning/successful-build-config.yaml
Due: ci/openshift-jenkins/extended_builds

Ensure `oc image info` works with manifest lists
  pkg/oc/cli/image/info/info.go
  pkg/oc/cli/image/manifest/manifest.go
Due: none

Wire through signal bound stopCh to API servers for graceful shutdown
  cmd/hypershift/main.go
  cmd/template-service-broker/tsb.go
  pkg/cmd/openshift-apiserver/cmd.go
  pkg/cmd/openshift-apiserver/server.go
  pkg/cmd/openshift-kube-apiserver/cmd.go
  pkg/cmd/openshift-kube-apiserver/server.go
  pkg/cmd/server/origin/master.go
  pkg/cmd/server/start/command_test.go
  pkg/cmd/server/start/start.go
  pkg/cmd/server/start/start_api.go
  pkg/cmd/server/start/start_controllers.go
  pkg/cmd/server/start/start_master.go
  test/integration/ingressip_test.go
  test/util/server/server.go
  test/util/server/testing.go
  tools/testdebug/cmd/load_etcd.go
  tools/testdebug/load_etcd_dump.go
Due: none

Automatic commit of package [atomic-openshift] release [3.9.55-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

timeout waiting for builds earlier
  test/extended/util/framework.go
Due: ci/openshift-jenkins/extended_builds

UPSTREAM: 64675: Fixes data races for pkg/kubelet/config/file_linux_test.go
  vendor/k8s.io/kubernetes/pkg/kubelet/config/file_linux_test.go
Due: ci/prow/artifacts, ci/prow/e2e-gcp-crio, ci/prow/gcp-crio, ci/prow/cross
