Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

test: Update images README and add OWNERS
  test/extended/util/image/OWNERS
  test/extended/util/image/README.md
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

add build s2i as root uid image for associated tests
  test/extended/util/image/image.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

make update output
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

update s2i_root.go to use CI image that will be mirrored to quay.io/community-images
  test/extended/builds/s2i_root.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Bug 1896877: Enhance host name validation
  test/extended/etcd/etcd_storage_path.go
Due: none

e2e/builds: GitHub based builds
  test/extended/builds/gitauth.go
  test/extended/testdata/bindata.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Revert "Skip table tests broken by 1.20 rebase"
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

React to changes
  test/extended/authorization/rbac/groups_default_rules.go
  test/extended/authorization/scopes.go
  test/extended/imageapis/quota_admission.go
  test/extended/networking/endpoint_admission.go
  test/extended/topology_manager/resourcealign.go
  test/extended/util/framework.go
  test/extended/util/image/image.go
Due: ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

Disable broken tests
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Update etcd storage test
  test/extended/etcd/etcd_storage_path.go
  test/extended/etcd/etcd_test_runner.go
Due: none

Don't run disabled tests
  cmd/openshift-tests/e2e.go
Due: none

Update generated
  test/extended/testdata/bindata.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/image/zz_generated.txt
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: All skew skippers must be inside a test chunk
  test/extended/oauth/expiration.go
Due: none

Renable fsgroup policy test
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

pin library-go
  glide.lock
  glide.yaml
Due: none

bump(library-go)
  vendor/github.com/openshift/library-go/go.mod
  vendor/github.com/openshift/library-go/pkg/config/client/client_config.go
  vendor/github.com/openshift/library-go/pkg/network/dialer.go
  vendor/github.com/openshift/library-go/pkg/network/dialer_linux.go
  vendor/github.com/openshift/library-go/pkg/network/dialer_others.go
  vendor/github.com/openshift/library-go/pkg/operator/loglevel/logging_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/loglevel/logging_controller_test.go
  vendor/github.com/openshift/library-go/pkg/operator/loglevel/util.go
  vendor/github.com/openshift/library-go/pkg/operator/revisioncontroller/revision_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/revisioncontroller/revision_controller_test.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/installer/bindata/bindata.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/installer/installer_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/installer/manifests/installer-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/prune/bindata/bindata.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/prune/manifests/pruner-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/prune/prune_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/prune/prune_controller_test.go
  vendor/github.com/openshift/library-go/test/library/encryption/e_log.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_helpers.go
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: <drop>: enable TCP_USER_TIMEOUT on client connections
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/transport/cache.go
Due: none

UPSTREAM: 96310: PV e2e: fix race in NFS recycling test
  vendor/k8s.io/kubernetes/test/e2e/storage/persistent_volumes.go
Due: none

UPSTREAM: 97206: clean up executing request on panic
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset_test.go
Due: none

Enable test skipping via a regex supplied with --skip
  cmd/openshift-tests/openshift-tests.go
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/test.go
Due: none

UPSTREAM: 96092: Honor disabled LocalStorageCapacityIsolation in scheduling
  vendor/k8s.io/kubernetes/pkg/scheduler/nodeinfo/node_info.go
Due: none

Add openshift/network/third-party suite, for CNI plugin conformance
  cmd/openshift-tests/cni.go
  cmd/openshift-tests/e2e.go
Due: none

test: Assess average series rather than max over the test window
  test/extended/prometheus/prometheus.go
Due: none

test: Allow tests that check invariants over time to be constrained
  test/e2e/upgrade/alert/alert.go
  test/extended/apiserver/graceful_termination.go
  test/extended/prometheus/prometheus.go
  test/extended/prometheus/storage.go
  test/extended/util/conditions.go
  test/extended/util/prometheus/helpers.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

server-side apply e2e: fix oauthclientauthorization race with KCM
  test/extended/apiserver/apply.go
Due: none

Replacing centos with base test image in image-annotation test.
  test/extended/images/trigger/annotation.go
Due: ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

test: Fail if nodes go unready during a normal parallel run
  test/extended/machines/cluster.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: Only consider rule evaluation failures in current window
  test/extended/prometheus/prometheus.go
Due: none

test: Clamp metrics queries by default to the suite execution
  pkg/test/ginkgo/cmd_runsuite.go
  test/extended/util/conditions.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bump(github.com/openshift/kubernetes)
  go.mod
  go.sum
  vendor/k8s.io/apiserver/pkg/server/filters/BUILD
  vendor/k8s.io/apiserver/pkg/util/flowcontrol/BUILD
  vendor/k8s.io/apiserver/pkg/util/flowcontrol/apf_controller.go
  vendor/k8s.io/apiserver/pkg/util/flowcontrol/apf_filter.go
  vendor/k8s.io/apiserver/pkg/util/flowcontrol/fairqueuing/queueset/queueset.go
  vendor/k8s.io/kubernetes/pkg/kubelet/OWNERS
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/server/server.go
  vendor/k8s.io/kubernetes/pkg/volume/fc/attacher.go
  vendor/k8s.io/kubernetes/pkg/volume/fc/fc.go
  vendor/k8s.io/kubernetes/pkg/volume/fc/fc_util.go
  vendor/k8s.io/kubernetes/test/e2e/storage/persistent_volumes-local.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  vendor/k8s.io/legacy-cloud-providers/azure/azure_standard.go
  vendor/k8s.io/legacy-cloud-providers/openstack/openstack_volumes.go
  vendor/modules.txt
Due: ci/prow/gcp-crio

Add consoleplugins to list of console resource exceptions
  test/extended/authorization/rbac/groups_default_rules.go
Due: none

pin deps
  glide.lock
  glide.yaml
Due: none

bump(library-go)
  vendor/github.com/openshift/api/config/v1/types_operatorhub.go
  vendor/github.com/openshift/apiserver-library-go/Makefile
  vendor/github.com/openshift/apiserver-library-go/go.mod
  vendor/github.com/openshift/apiserver-library-go/go.sum
  vendor/github.com/openshift/apiserver-library-go/pkg/dependencymagnet/doc.go
  vendor/github.com/openshift/library-go/go.mod
  vendor/github.com/openshift/library-go/go.sum
  vendor/github.com/openshift/library-go/pkg/apiserver/httprequest/httprequest.go
  vendor/github.com/openshift/library-go/pkg/config/client/client_config.go
  vendor/github.com/openshift/library-go/pkg/network/dialer.go
  vendor/github.com/openshift/library-go/pkg/network/dialer_linux.go
  vendor/github.com/openshift/library-go/pkg/network/dialer_others.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/installer/bindata/bindata.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/installer/installer_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/installer/manifests/installer-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/prune/bindata/bindata.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/prune/manifests/pruner-pod.yaml
Due: ci/prow/artifacts, ci/prow/cross

broaden acceptance of scl sample s2i image usage messages
  test/extended/image_ecosystem/scl.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

debug
  vendor/k8s.io/kubernetes/test/e2e/common/runtime.go
Due: none

Bug 1914894: make cmd tests more resilient
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/basicresources.sh
Due: none
