Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

ci/prow/artifacts:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/e2e-gcp-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/e2e-gcp-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --branch=master
      - --give-pr-author-access-to-namespace=true
      - --org=openshift
  ...

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      command:
      - ci-operator
      env:
      - name: TEST_FOCUS
  ...

ci/openshift-jenkins/extended_builds:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_ecosystem:
  labels:
    master: ci.openshift.redhat.com

ci/openshift-jenkins/extended_image_registry:
  labels:
    master: ci.openshift.redhat.com

ci/prow/cross:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --target=artifacts
      command:
      - ci-operator
      env:
      - name: CONFIG_SPEC
        valueFrom:
          configMapKeyRef:
            key: master.yaml
            name: ci-operator-openshift-origin
  ...

ci/openshift-jenkins/service-catalog:
  labels:
    master: ci.openshift.redhat.com

ci/prow/e2e-aws-builds:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-image-ecosystem:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

provide operator upgrade junit results
  test/e2e/upgrade/upgrade.go
  test/extended/operators/clusteroperator_upgrade.go
Due: none

bump(github.com/google/cadvisor): 52275b81dc5b670043d8a320f81341b0b7e6f6f8
  glide.lock
  glide.yaml
  vendor/github.com/google/cadvisor/fs/fs.go
  vendor/github.com/google/cadvisor/fs/fs_test.go
  vendor/github.com/google/cadvisor/fs/types.go
Due: none

Remove skip for 'should return command exit codes'
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

make update
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: don't skip Azure tests
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Revert "ovnkube: skip Conntrack test that's flaky upstream"
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

add a test to ensure that the kubelet is always able to mount secrets and configmaps
  test/e2e/upgrade/upgrade.go
  test/extended/kubelet/ensure_volumes_fast.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: Upgrade test should log more granular failures
  test/e2e/upgrade/monitor.go
  test/e2e/upgrade/upgrade.go
  test/extended/dr/machine_recover.go
  test/extended/dr/quorum_restore.go
  test/extended/util/disruption/disruption.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Skip temporarly some docker unit test to fix bz-1866789I
  pkg/build/builder/docker_test.go
  pkg/build/builder/sti_test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

Bug 1861944: re-enable service upgrade
  test/e2e/upgrade/upgrade.go
Due: none

use ExternalTrafficPolicy local for zero downtime
  test/e2e/upgrade/service/service.go
Due: none

UPSTREAM: 93355: Fix scheduler issue with nodetree additions
  vendor/k8s.io/kubernetes/pkg/scheduler/internal/cache/cache.go
  vendor/k8s.io/kubernetes/pkg/scheduler/internal/cache/cache_test.go
Due: none

split the crashlooping pod test to more precisely tag recycler pods
  test/extended/operators/cluster.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add mirror.centos.org repository to get the latest haproxy version
  images/router/haproxy/Dockerfile
  images/router/haproxy/RPM-GPG-KEY-CentOS-SIG-PaaS
  images/router/haproxy/centos-openshift-origin.repo
Due: none

test/extended/dr: fix quorum-guard namespace
  test/extended/dr/quorum_restore.go
Due: none

UPSTREAM: <carry>: Enforce label selector validation in scheduler podAffinity
  vendor/k8s.io/kubernetes/pkg/scheduler/algorithm/predicates/predicates.go
  vendor/k8s.io/kubernetes/pkg/scheduler/algorithm/predicates/predicates_test.go
  vendor/k8s.io/kubernetes/pkg/scheduler/algorithm/priorities/interpod_affinity.go
  vendor/k8s.io/kubernetes/pkg/scheduler/algorithm/priorities/interpod_affinity_test.go
Due: none

allow longer upgrade times to run tests, but continue to fail at 75 minutes
  test/e2e/upgrade/upgrade.go
Due: none

Remove marketplace test as OperatorSource is deprecated
  test/extended/include.go
  test/extended/marketplace/marketplace_diffname.go
  test/extended/marketplace/marketplace_labels.go
  test/extended/marketplace/marketplace_utils.go
Due: none

Remove feature that does not match anything
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

remove marketplace tests
  test/extended/include.go
  test/extended/marketplace/marketplace_diffname.go
  test/extended/marketplace/marketplace_labels.go
  test/extended/marketplace/marketplace_utils.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test: extended: reenable service account test disabled during rebase
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add helper script to simplify updating kube vendoring
  hack/update-kube-vendor.sh
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: <carry>: oauth: support sha256~ prefixed tokens
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/authentication/oauth/bootstrapauthenticator.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/authentication/oauth/tokenauthenticator.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/authentication/oauth/tokenauthenticator_test.go
Due: none

Update README.md to reflect new responsibilities
  HACKING.md
  README.md
Due: none

finish splitting each part of the upgrade into distinct junit
  test/e2e/upgrade/upgrade.go
Due: none

UPSTREAM: 93865: Make EBS attach disk idempotent
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  vendor/k8s.io/kubernetes/test/e2e/storage/pd.go
  vendor/k8s.io/kubernetes/test/e2e/storage/utils/BUILD
  vendor/k8s.io/kubernetes/test/e2e/storage/utils/ebs.go
Due: none

Update generated test annotations
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 93567: Make EBS attachdisk idempotent
  vendor/k8s.io/kubernetes/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
  vendor/k8s.io/kubernetes/test/e2e/storage/pd.go
  vendor/k8s.io/kubernetes/test/e2e/storage/utils/BUILD
  vendor/k8s.io/kubernetes/test/e2e/storage/utils/ebs.go
Due: none

empty pr to test unit
  doc.go
Due: none

test: extended: add test checking for mismatch between Machines and Nodes
  test/extended/machines/cluster.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add --node-name and --node-ip flags to sdn
  pkg/cmd/server/kubernetes/network/sdn_linux.go
  pkg/cmd/server/start/node_args.go
  pkg/cmd/server/start/start_network.go
  pkg/network/node/node.go
  pkg/network/node/subnets.go
Due: ci/prow/artifacts, ci/prow/cross

only produce error events for system pods, not e2e pods
  pkg/monitor/pod.go
Due: none

openshift-tests: fix upgrade test suites reference to controlplane availability tests
  cmd/openshift-tests/upgrade.go
Due: none

re-establish etcd connection if required for etcd test
  test/extended/etcd/etcd_storage_path.go
  test/extended/etcd/etcd_test_runner.go
Due: none

UPSTREAM: 94112: Improve diff check in endpoints controller syncService
  vendor/k8s.io/kubernetes/pkg/controller/endpoint/endpoints_controller.go
Due: none

test: extended: only run new machines test against platforms that have machines
  test/extended/machines/cluster.go
Due: none

tests/cluster: Check for machinesets, not platforms
  test/extended/machines/cluster.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
