Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

replace test/cmd/builds.sh direct/indirect docker.io refs with imagestream image refs
  test/extended/testdata/cmd/test/cmd/builds.sh
  test/extended/testdata/cmd/test/cmd/testdata/application-template-dockerbuild.json
  test/extended/testdata/cmd/test/cmd/testdata/test-buildcli.json
  test/extended/testdata/cmd/test/cmd/testdata/test-s2i-build.json
Due: none

make update output
  test/extended/testdata/bindata.go
Due: none

move ldap groupsync tests from bash into golang
  test/extended/oauth/groupsync.go
  test/extended/oauth/ldap.go
  test/extended/oauth/oauth_ldap.go
  test/extended/testdata/ldap/groupsync.sh
  test/extended/util/ldap.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

go mod tidy && go mod vendor
  go.mod
  vendor/github.com/openshift/library-go/pkg/security/ldapclient/client.go
  vendor/github.com/openshift/library-go/pkg/security/ldapclient/interfaces.go
  vendor/modules.txt
Due: none

regen bindata
  test/extended/testdata/bindata.go
Due: none

remove ldap groupsync test from the broken set of tests
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

disable e2e should be able to pull image from docker hub
  test/extended/util/test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 1896188: wait for RC presence before starting debug session
  test/extended/cli/debug.go
Due: none

Bug 1914894: make tests more resilient
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/basicresources.sh
Due: none

UPSTREAM: 96990: Increase preemption timeout from 1 minute to 2 minutes
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/pkg/kubelet/BUILD
  vendor/k8s.io/kubernetes/pkg/kubelet/container/runtime.go
  vendor/k8s.io/kubernetes/pkg/kubelet/container/testing/fake_runtime.go
  vendor/k8s.io/kubernetes/pkg/kubelet/container/testing/runtime_mock.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_node_status.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/kuberuntime_container.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/kuberuntime_gc.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
  vendor/k8s.io/kubernetes/pkg/kubelet/pod_sandbox_deleter.go
  vendor/k8s.io/kubernetes/pkg/volume/BUILD
  vendor/k8s.io/kubernetes/pkg/volume/plugins.go
  vendor/k8s.io/kubernetes/pkg/volume/util/volumepathhandler/volume_path_handler_linux.go
  vendor/k8s.io/kubernetes/test/e2e/scheduling/predicates.go
  vendor/k8s.io/kubernetes/test/e2e/scheduling/preemption.go
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/gcp-crio, ci/prow/cross

tests: Synthetic tests moved up and out of test infra
  cmd/openshift-tests/e2e.go
  cmd/openshift-tests/images.go
  cmd/openshift-tests/openshift-tests.go
  pkg/test/ginkgo/cmd_runsuite.go
  pkg/test/ginkgo/synthentic_tests.go
  pkg/test/ginkgo/test.go
Due: none

test: Switch router test to cluster router
  test/extended/router/weighted.go
Due: none

test/ginkgo: When --count is used tests all fail together
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

test/ginkgo: Stop printing inline events
  pkg/test/ginkgo/status.go
Due: none

test/ginkgo: Improve output when multiple tests are being run
  pkg/test/ginkgo/cmd_runsuite.go
Due: none

broaden acceptance of scl sample s2i image usage messages
  test/extended/image_ecosystem/scl.go
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

add additional settling debug information
  pkg/test/ginkgo/cmd_runsuite.go
  test/e2e/upgrade/upgrade.go
  test/extended/util/operator/settle.go
  test/extended/util/operator/settle_test.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 94684: e2e: Pod should avoid nodes that have avoidPod annotation: clean remaining pods
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/kuberuntime_container.go
  vendor/k8s.io/kubernetes/test/e2e/scheduling/predicates.go
  vendor/k8s.io/kubernetes/test/e2e/scheduling/priorities.go
  vendor/modules.txt
Due: ci/prow/gcp-crio

Fix typo in filename
  pkg/test/ginkgo/synthetic_tests.go
Due: none

Create new_file.md
  new_file.md
Due: none

Bug 1896188: bump build timeout to 10m and deploy to 2m in oc debug
  test/extended/cli/debug.go
Due: none

UPSTREAM: 94589: fixes a data race in SerializeObject function
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers_test.go
Due: none

UPSTREAM: 97916: kube-aggregator: fix apiservice availability gauge
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/metrics.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/metrics_test.go
Due: none

Clean and replace docker.io images with other registries in examples
  examples/image-streams/image-streams-centos7.json
  test/extended/testdata/cmd/test/cmd/testdata/image-streams/image-streams-centos7.json
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

Remove RHEL image streams from examples
  examples/image-streams/image-streams-rhel7.json
Due: ci/prow/e2e-gcp-image-ecosystem, ci/openshift-jenkins/extended_image_ecosystem, ci/prow/e2e-aws-image-ecosystem

Bug 1914894: get stdout only when invoking oc process
  test/extended/cli/admin.go
  test/extended/util/client.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 1904684: Update tests to use refreshed image-streams file and get rid of docker.io
  test/extended/cli/debug.go
  test/extended/testdata/cmd/test/cmd/edit.sh
  test/extended/testdata/cmd/test/cmd/images.sh
  test/extended/testdata/cmd/test/cmd/newapp.sh
  test/extended/testdata/cmd/test/cmd/quota.sh
  test/extended/testdata/cmd/test/cmd/set-image.sh
  test/extended/testdata/cmd/test/cmd/testdata/modified-ruby-imagestream.json
  test/extended/testdata/cmd/test/cmd/testdata/new-app/imagestream-ref.yaml
Due: none

Generated changes
  test/extended/testdata/bindata.go
Due: none

add test to verify build /run fs contents, verify /run writeable
  test/extended/builds/run_fs_verification.go
Due: ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

make update output
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bug 1921088: don't wait for PV removal in volumes.sh
  test/extended/testdata/cmd/test/cmd/volumes.sh
Due: none
