Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)

[WIP][DO NOT MERGE - ever] debug hacks bz1654044
  hack/build-local-images.py
  pkg/network/node/node.go
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: 73323: Clear conntrack entries for externalIP and LoadBalancer IP
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier.go
  vendor/k8s.io/kubernetes/pkg/proxy/ipvs/proxier.go
  vendor/k8s.io/kubernetes/pkg/proxy/service.go
  vendor/k8s.io/kubernetes/pkg/proxy/types.go
Due: none

UPSTREAM: 75265: Clear conntrack entries on 0 -> 1 endpoint transition with externalIPs
  vendor/k8s.io/kubernetes/pkg/proxy/iptables/proxier.go
  vendor/k8s.io/kubernetes/pkg/proxy/ipvs/proxier.go
Due: none

Make the release image vary only by inputs
  pkg/oc/cli/admin/release/new.go
Due: none

UPSTREAM: 75144: kubelet: updated logic of verifying a static critical pod
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/eviction_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/eviction_manager_test.go
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/types.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_test.go
  vendor/k8s.io/kubernetes/pkg/kubelet/runonce_test.go
Due: ci/prow/gcp-crio

UPSTREAM: 75144: kubelet: updated logic of verifying a static critical pod
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/eviction_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/eviction_manager_test.go
  vendor/k8s.io/kubernetes/pkg/kubelet/eviction/types.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_test.go
  vendor/k8s.io/kubernetes/pkg/kubelet/runonce_test.go
  vendor/k8s.io/kubernetes/test/e2e_node/BUILD
Due: ci/prow/gcp-crio

UPSTREAM: 69607: tokenreview: add APIAudiences config to generic API server and augment context
  vendor/k8s.io/kubernetes/cmd/controller-manager/app/serve.go
  vendor/k8s.io/kubernetes/cmd/kube-scheduler/app/server.go
  vendor/k8s.io/kubernetes/pkg/kubeapiserver/options/authentication.go
  vendor/k8s.io/kubernetes/pkg/kubeapiserver/server/insecure_handler.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/authentication/authenticator/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/authentication/authenticator/helpers.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/filters/authentication_test.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/request/BUILD
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/endpoints/request/context.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/config.go
Due: none

UPSTREAM: 75368: fix content-type for apiserver shutdown error
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/filters/waitgroup.go
Due: none

cmd/sdn-cni-plugin: add OWNERS file
  cmd/sdn-cni-plugin/OWNERS
Due: none

renames
  pkg/admission/customresourcevalidation/features/validate_features.go
  pkg/admission/customresourcevalidation/features/validate_features_test.go
Due: none

Allow annotations to be set and removed via `oc tag`
  contrib/completions/bash/oc
  contrib/completions/zsh/oc
  pkg/oc/cli/tag/tag.go
  test/cmd/images.sh
Due: none

update for new authentication APIs
  pkg/apiserver/authentication/oauth/bootstrapauthenticator.go
  pkg/apiserver/authentication/oauth/expirationvalidator_test.go
  pkg/apiserver/authentication/oauth/tokenauthenticator.go
  pkg/apiserver/authentication/oauth/tokenauthenticator_test.go
  pkg/client/config/smart_merge.go
  pkg/cmd/openshift-controller-manager/controller/standalone_apiserver.go
  pkg/oauthserver/authenticator/interfaces.go
  pkg/oauthserver/authenticator/password/allowanypassword/anyauthpassword.go
  pkg/oauthserver/authenticator/password/allowanypassword/anyauthpassword_test.go
  pkg/oauthserver/authenticator/password/basicauthpassword/basicauthpassword.go
  pkg/oauthserver/authenticator/password/bootstrap/bootstrap.go
  pkg/oauthserver/authenticator/password/denypassword/denypassword.go
  pkg/oauthserver/authenticator/password/htpasswd/htpasswd.go
  pkg/oauthserver/authenticator/password/keystonepassword/keystonepassword.go
  pkg/oauthserver/authenticator/password/keystonepassword/keystonepassword_test.go
  pkg/oauthserver/authenticator/password/ldappassword/ldap.go
  pkg/oauthserver/authenticator/request/basicauthrequest/basicauth.go
  pkg/oauthserver/authenticator/request/basicauthrequest/basicauth_test.go
  pkg/oauthserver/authenticator/request/headerrequest/requestheader.go
  pkg/oauthserver/authenticator/request/headerrequest/requestheader_test.go
  pkg/oauthserver/authenticator/request/paramtoken/paramtoken.go
  pkg/oauthserver/oauth/external/handler.go
  pkg/oauthserver/oauth/handlers/authenticator.go
  pkg/oauthserver/oauth/handlers/authenticator_test.go
  pkg/oauthserver/oauth/registry/registry_test.go
  pkg/oauthserver/server/grant/grant.go
  pkg/oauthserver/server/grant/grant_test.go
  pkg/oauthserver/server/login/login.go
  pkg/oauthserver/server/login/login_test.go
  pkg/oauthserver/server/session/authenticator.go
  pkg/oauthserver/server/session/bootstrapauthenticator.go
Due: none

update api
  hack/openapi-violation.list
  pkg/openapi/zz_generated.openapi.go
Due: ci/prow/artifacts, ci/prow/cross

Confirm escalation is not possible via authorization to RBAC proxy
  test/integration/authorization_rbac_proxy_test.go
Due: none

switch idling to use the generic scale client
  pkg/apps/client/v1/scale.go
  pkg/cmd/openshift-controller-manager/controller/unidling.go
  pkg/oc/cli/idle/idle.go
  pkg/oc/cli/idle/idle_test.go
  pkg/unidling/controller/unidling_controller.go
  pkg/unidling/controller/unidling_controller_test.go
  pkg/unidling/util/scale.go
Due: none

Automatic commit of package [atomic-openshift] release [3.9.74-1].
  .tito/packages/atomic-openshift
  origin.spec
Due: none

e2e: Add conformance test to verify cluster operators have versions
  test/extended/operators/operators.go
Due: none

minor fix in "oc get --help" text re. "list of common resources"
  pkg/oc/cli/kubectlwrappers/wrappers.go
Due: none

Refactor UserFor helper to ResponseFor
  pkg/oauthserver/authenticator/identitymapper/identitymapper.go
  pkg/oauthserver/authenticator/password/allowanypassword/anyauthpassword.go
  pkg/oauthserver/authenticator/password/basicauthpassword/basicauthpassword.go
  pkg/oauthserver/authenticator/password/htpasswd/htpasswd.go
  pkg/oauthserver/authenticator/password/keystonepassword/keystonepassword.go
  pkg/oauthserver/authenticator/password/ldappassword/ldap.go
  pkg/oauthserver/authenticator/request/headerrequest/requestheader.go
  pkg/oauthserver/oauth/external/handler.go
Due: none

Run testcases as subtests
  cmd/sdn-cni-plugin/sdn_cni_plugin_test.go
Due: none

Support CNI 0.3.x in openshift-sdn
  cmd/sdn-cni-plugin/openshift-sdn_linux.go
  cmd/sdn-cni-plugin/sdn_cni_plugin_test.go
  pkg/network/node/node.go
Due: ci/prow/artifacts, ci/prow/cross

Fix conversion from 0.2.0 to 0.3.x
  cmd/sdn-cni-plugin/openshift-sdn_linux.go
  cmd/sdn-cni-plugin/sdn_cni_plugin_test.go
Due: ci/prow/artifacts, ci/prow/cross

Convert CNI IPAM ADD result to 0.3.1 in the server instead
  cmd/sdn-cni-plugin/openshift-sdn_linux.go
  cmd/sdn-cni-plugin/sdn_cni_plugin_test.go
  pkg/network/node/pod.go
Due: ci/prow/artifacts, ci/prow/cross

Remove conversion to 0.2.0 and back to 0.3.0
  cmd/sdn-cni-plugin/openshift-sdn_linux.go
Due: ci/prow/artifacts, ci/prow/cross

Call IPAM plugin with 0.3.1 config instead of 0.2.0
  pkg/network/node/pod.go
Due: none

Remove unnecessary code
  cmd/sdn-cni-plugin/openshift-sdn_linux.go
Due: ci/prow/artifacts, ci/prow/cross

stop using a carry on FIFO queue to observe pods
  pkg/apps/strategy/support/lifecycle.go
Due: none

hack: make verify commits work against correct branch
  hack/verify-upstream-commits.sh
Due: ci/prow/artifacts, ci/prow/cross

Fetch alternate repos for commits on release extraction
  pkg/oc/cli/admin/release/extract.go
  pkg/oc/cli/admin/release/git.go
  pkg/oc/cli/admin/release/info.go
Due: none

oc: remove unnecessary conversion
  pkg/oc/cli/cancelbuild/cancelbuild.go
  pkg/oc/cli/rollback/rollback.go
  pkg/oc/cli/rollout/cancel.go
  pkg/oc/cli/rollout/latest.go
  pkg/oc/cli/rollout/retry.go
  pkg/oc/cli/set/env.go
  pkg/oc/cli/set/volume.go
  pkg/oc/cli/set/volume_test.go
Due: none

change the sdn pod to run the iptables command on the host
  images/sdn/Dockerfile.rhel
  images/sdn/scripts/ip6tables
  images/sdn/scripts/ip6tables-restore
  images/sdn/scripts/ip6tables-save
  images/sdn/scripts/iptables
  images/sdn/scripts/iptables-restore
  images/sdn/scripts/iptables-save
Due: none

correct the entrypoint of the SDN container
  images/sdn/Dockerfile.rhel
Due: none

UPSTREAM: <drop>: DO NOT MERGE: Debug who is calling health checks
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
Due: none
