Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

UPSTREAM: 88505: Honor status.podIP over status.podIPs, node.spec.podCIDR over node.spec.podCIDRs
  vendor/k8s.io/kubernetes/pkg/apis/core/v1/conversion.go
  vendor/k8s.io/kubernetes/pkg/apis/core/v1/conversion_test.go
Due: none

test: When the scanner fails print the error
  test/extended/etcd/etcd_test_runner.go
Due: none

test: only run the networking "oc explain" tests under openshift-sdn
  test/extended/cli/explain.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: 88506: Honor status.podIP over status.podIPs, node.spec.podCIDR over node.spec.podCIDRs
  vendor/k8s.io/kubernetes/pkg/apis/core/v1/conversion.go
  vendor/k8s.io/kubernetes/pkg/apis/core/v1/conversion_test.go
Due: none

UPSTREAM: 88507: Honor status.podIP over status.podIPs, node.spec.podCIDR over node.spec.podCIDRs
  vendor/k8s.io/kubernetes/pkg/apis/core/v1/conversion.go
  vendor/k8s.io/kubernetes/pkg/apis/core/v1/conversion_test.go
Due: none

UPSTREAM: 87913: Add code to fix kubelet/metrics memory issue
  vendor/k8s.io/kubernetes/pkg/kubelet/server/server.go
  vendor/k8s.io/kubernetes/pkg/kubelet/server/server_test.go
Due: ci/prow/gcp-crio

UPSTREAM: 87913: Add code to fix kubelet/metrics memory issue.
  vendor/k8s.io/kubernetes/pkg/kubelet/server/server.go
  vendor/k8s.io/kubernetes/pkg/kubelet/server/server_test.go
Due: ci/prow/gcp-crio

test: add networks.operator.openshift.io to the oc explain tests
  test/extended/cli/explain.go
Due: none

Switch to Golang 1.13
  hack/lib/constants.sh
  images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: <carry>: fixup for 'collapse closer to kube authentication stack'
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/openshiftkubeapiserver/flags.go
Due: none

make update
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

hack: adapt update-generated-openapi.sh to 1.18
  hack/update-generated-openapi.sh
Due: ci/prow/artifacts, ci/prow/cross

UPSTREAM: <drop>: make update
  vendor/k8s.io/kubernetes/pkg/generated/openapi/zz_generated.openapi.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/hack/openapi-violation.list
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiextensions-apiserver/pkg/generated/openapi/zz_generated.openapi.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/kubectl/pkg/generated/bindata.go
  vendor/k8s.io/kubernetes/test/e2e/generated/bindata.go
Due: none

tests: disable ResourceQuota e2e test for life of a secret
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

tests: topology manager: add test fixture
  cmd/openshift-tests/e2e.go
  test/extended/topology_manager/cpu_cores.go
  test/extended/topology_manager/fixture.go
  test/extended/topology_manager/utils.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

test/extended/router/h2spec: Add types and decoder
  test/extended/router/h2spec/report.go
  test/extended/router/h2spec/report_test.go
  test/extended/router/h2spec/types.go
Due: none

test/extended/router: Add new h2spec test
  test/extended/router/h2spec.go
  test/extended/testdata/router/router-h2spec.yaml
Due: none

test/extended/router: update bindata
  test/extended/testdata/bindata.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

WIP: test haproxy patch for bz 1810573
  images/router/haproxy/Dockerfile
Due: none

inline the RPM because the brew repo isn't reachable from CI
  images/router/haproxy/Dockerfile
  images/router/haproxy/haproxy18-1.8.17-4.el7.x86_64.rpm
Due: none

topology manager: simplify helper
  test/extended/topology_manager/cpu_cores.go
Due: none

Update haproxy18-1.8.23
  images/egress/dns-proxy/Dockerfile
  images/router/haproxy/Dockerfile
Due: none

UPSTREAM: <carry>: Have the scheduler report pod resource requests
  vendor/k8s.io/kubernetes/pkg/scheduler/factory.go
  vendor/k8s.io/kubernetes/pkg/scheduler/resources.go
  vendor/k8s.io/kubernetes/pkg/scheduler/scheduler.go
Due: none

benchmark proiroty and fairness
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/pkg/master/master.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/staging/src/k8s.io/client-go/rest/client.go
Due: none

UPSTREAM: 00000: Allow endpointslice controller to set blockOwnerDeletion
  vendor/k8s.io/kubernetes/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  vendor/k8s.io/kubernetes/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Due: none

Move DC utils to its own file & remove duplicate imports
  test/extended/util/deploymentconfigs.go
  test/extended/util/framework.go
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Make DNS querying more efficient by querying once per dns name
  pkg/network/common/dns.go
  pkg/network/common/dns_test.go
  pkg/network/common/egress_dns.go
  pkg/network/node/egress_network_policy.go
  pkg/network/node/node.go
  pkg/network/node/ovscontroller.go
  pkg/network/proxy/proxy.go
Due: none

e2e: Disable router header test on OVN
  test/extended/router/headers.go
Due: none

Replace oc run for dc/jobs and others with oc create equivalents
  test/extended/testdata/bindata.go
  test/extended/testdata/cmd/test/cmd/basicresources.sh
  test/extended/testdata/cmd/test/cmd/image-lookup.sh
  test/extended/testdata/cmd/test/cmd/run.sh
  test/extended/testdata/cmd/test/cmd/status.sh
Due: none

add openshift-tests-kubernetes image
  images/tests-kubernetes/Dockerfile.rhel
  images/tests-kubernetes/OWNERS
Due: none

move existing openshift tests to openshift-tests-kubernetes
  Makefile
  cmd/openshift-tests-kubernetes/csi.go
  cmd/openshift-tests-kubernetes/e2e.go
  cmd/openshift-tests-kubernetes/openshift-tests-kubernetes.go
  cmd/openshift-tests-kubernetes/provider.go
  cmd/openshift-tests-kubernetes/upgrade.go
  images/tests-base/Dockerfile.rhel
  images/tests-base/OWNERS
Due: ci/prow/artifacts, ci/prow/cross

add openshift-tests as a future delegation binary
  cmd/openshift-tests/openshift-tests.go
Due: none

build openshift-tests in one image to phase in new images
  images/tests/Dockerfile.rhel
Due: none

fix etcd_storage_path test, clean up all crds
  test/extended/etcd/etcd_storage_path.go
Due: none

switch to looking up all test plugins
  cmd/openshift-tests/openshift-tests.go
Due: none

spelling exectuable/executable
  cmd/openshift-tests/openshift-tests.go
Due: none

UPSTREAM: <drop>: Remove kubectl run generators
  test/extended/util/annotate/generated/zz_generated.annotations.go
  vendor/k8s.io/kubernetes/test/conformance/testdata/conformance.txt
  vendor/k8s.io/kubernetes/test/e2e/generated/bindata.go
  vendor/k8s.io/kubernetes/test/e2e/kubectl/BUILD
  vendor/k8s.io/kubernetes/test/e2e/kubectl/kubectl.go
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/kubectl/httpd-rc.yaml.in
Due: ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds
