Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, e2e-vsphere, e2e-openstack, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  e2e-vsphere: any of: vsphere
  e2e-openstack: any of: openstack
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

HIVE-3130: Follow-up fixes from openshift/hive#2916 review
  hack/bundle-gen.sh
  hack/version2.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2668: Network Policies
  Makefile
  config/controllers/deployment.yaml
  config/controllers/hive_controllers_role.yaml
  config/hiveadmission/deployment.yaml
  config/kustomization.yaml
  config/netpol/hive-controllers.yaml
  config/netpol/hiveadmission.yaml
  config/operator/operator_deployment.yaml
  config/operator/operator_netpol.yaml
  config/operator/operator_role.yaml
  config/sharded_controllers/statefulset.yaml
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/utils/netpols.go
  pkg/operator/assets/bindata.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hiveadmission.go
  pkg/util/scheme/scheme.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3171: Network Policies Phase 1
  Makefile
  config/controllers/deployment.yaml
  config/controllers/hive_controllers_role.yaml
  config/hiveadmission/deployment.yaml
  config/kustomization.yaml
  config/netpol/hive-controllers.yaml
  config/netpol/hiveadmission.yaml
  config/operator/operator_deployment.yaml
  config/operator/operator_netpol.yaml
  config/operator/operator_role.yaml
  config/sharded_controllers/statefulset.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/utils/netpols.go
  pkg/operator/assets/bindata.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hiveadmission.go
  pkg/util/scheme/scheme.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Check more errors when copying private image secret
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Bump golang to 1.26.3
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-211-pull-request.yaml
  .tekton/hive-mce-211-push.yaml
  .tekton/hive-mce-217-pull-request.yaml
  .tekton/hive-mce-217-push.yaml
  .tekton/hive-mce-26-pull-request.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-mce-28-pull-request.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-mce-50-pull-request.yaml
  .tekton/hive-mce-50-push.yaml
  .tekton/hive-mce-51-pull-request.yaml
  .tekton/hive-mce-51-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  Dockerfile
  Dockerfile.ote
  Makefile
  apis/go.mod
  go.mod
  hack/ubi-build-deps.sh
  test/ote/go.mod
  vendor/modules.txt
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/install: use a functional check for hiveutil
  pkg/install/generate.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-86779: Fix TestAdmission flake caused by APIService routing delay
  test/e2e/postdeploy/admission/admission_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fixup: run gofmt and fail fast on unexpected probe errors
  test/e2e/postdeploy/admission/admission_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

konflux push: bigger arm builder
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-211-push.yaml
  .tekton/hive-mce-217-push.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-mce-50-push.yaml
  .tekton/hive-mce-51-push.yaml
  .tekton/hive-push.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-92059: bump openssl to 3.5.5-4.el9_8 in hermetic lockfile
  hack/hermetic/rpms.lock.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-98311: bump EL9 builder to Go 1.26.4 for CVE-2026-27145
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-211-pull-request.yaml
  .tekton/hive-mce-211-push.yaml
  .tekton/hive-mce-217-pull-request.yaml
  .tekton/hive-mce-217-push.yaml
  .tekton/hive-mce-26-pull-request.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-mce-28-pull-request.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-mce-50-pull-request.yaml
  .tekton/hive-mce-50-push.yaml
  .tekton/hive-mce-51-pull-request.yaml
  .tekton/hive-mce-51-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  apis/go.mod
  go.mod
  hack/ubi-build-deps.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix: address review feedback — use IsForbidden and fold into waitForAdmission
  test/e2e/postdeploy/admission/admission_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-78995: Azure MachinePool: Fix image gallery discovery
  pkg/controller/machinepool/azureactuator.go
  vendor/github.com/openshift/installer/pkg/asset/installconfig/azure/capabilities.go
  vendor/github.com/openshift/installer/pkg/asset/machines/azure/azuremachines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/azure/machines.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-78995: Azure MachinePool: Accept OSImageID
  apis/hive/v1/azure/machinepool.go
  pkg/azureclient/client.go
  pkg/azureclient/mock/client_generated.go
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/machinepool.go
  vendor/github.com/openshift/installer/pkg/asset/machines/azure/azuremachines.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

developing.md: Add k8s/installer revendor context
  CONTRIBUTING.md
  docs/developing.md
Due: none

HIVE-2382: Add AWS user-provisioned DNS OTE coverage
  test/ote/go.mod
  test/ote/go.sum
  test/ote/hive/hive_aws.go
  test/ote/hive/hive_aws_custom_dns.go
  test/ote/hive/hive_util.go
  test/ote/hive/testdata/aws-install-config.yaml
  test/ote/hive/testdata/clusterpool-custom-dns.yaml
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-98311: bump EL8+EL9 builders to Go 1.26.5 for Go stdlib CVEs
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-211-pull-request.yaml
  .tekton/hive-mce-211-push.yaml
  .tekton/hive-mce-217-pull-request.yaml
  .tekton/hive-mce-217-push.yaml
  .tekton/hive-mce-26-pull-request.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-mce-28-pull-request.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-mce-50-pull-request.yaml
  .tekton/hive-mce-50-push.yaml
  .tekton/hive-mce-51-pull-request.yaml
  .tekton/hive-mce-51-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  apis/go.mod
  go.mod
  hack/ubi-build-deps.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3175: revendor installer, bump k8s to .36: go.mod/sum
  apis/go.mod
  apis/go.sum
  go.mod
  go.sum
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2382: Wait for Route 53 DNS propagation
  test/ote/hive/hive_aws_custom_dns.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2382: Reproduce custom DNS with AWS PrivateLink
  test/ote/hive/hive_aws.go
  test/ote/hive/hive_util.go
  test/ote/hive/testdata/aws-install-config-privatelink.yaml
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3175: revendor installer, bump k8s to .36: code side fixups
  apis/hive/v1/zz_generated.defaults.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/clusterrelocate/clusterrelocate_controller_test.go
  pkg/controller/dnsendpoint/dnsendpoint_controller_test.go
  pkg/installmanager/installmanager.go
  pkg/test/fake/fake.go
  pkg/test/manager/mock/manager_generated.go
  test/e2e/postinstall/syncsets/syncsets_suite_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

RFE-9669: Add spec.platform.aws.amiID to MachinePool
  apis/hive/v1/aws/machinepool.go
  apis/hive/v1/aws/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_machinepools.yaml
  docs/using-hive.md
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/awsactuator.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/machinepool.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2382: Fix user-provisioned DNS OTE validation
  test/ote/hive/hive_aws.go
  test/ote/hive/hive_util.go
  test/ote/hive/testdata/aws-install-config.yaml
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2382: Fix PrivateLink DNS reproduction
  test/ote/hive/hive_aws.go
  test/ote/hive/hive_util.go
  test/ote/hive/testdata/aws-install-config-privatelink.yaml
  test/ote/hive/testdata/aws-install-config.yaml
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Bump jsonschema/v6 to fix Konflux hermetic build vendor validation
  go.mod
  go.sum
  vendor/github.com/santhosh-tekuri/jsonschema/v6/format.go
  vendor/github.com/santhosh-tekuri/jsonschema/v6/go.work.sum
  vendor/github.com/santhosh-tekuri/jsonschema/v6/objcompiler.go
  vendor/github.com/santhosh-tekuri/jsonschema/v6/schema.go
  vendor/github.com/santhosh-tekuri/jsonschema/v6/util.go
  vendor/github.com/santhosh-tekuri/jsonschema/v6/validator.go
  vendor/github.com/santhosh-tekuri/jsonschema/v6/vocab.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Consolidate presubmits, remove MCE 2.7 EOL postsubmit, add arm presubmit, update copyconfig.sh
  .tekton/copyconfig.sh
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-211-pull-request.yaml
  .tekton/hive-mce-217-pull-request.yaml
  .tekton/hive-mce-26-pull-request.yaml
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-mce-28-pull-request.yaml
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-50-pull-request.yaml
  .tekton/hive-mce-51-pull-request.yaml
  .tekton/hive-pull-request.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3192: revendor installer to v1.5.0-alpha.2
  apis/go.mod
  apis/go.sum
  apis/vendor/modules.txt
  go.mod
  go.sum
  vendor/github.com/openshift/installer/pkg/asset/installconfig/gcp/validation.go
  vendor/github.com/openshift/installer/pkg/asset/machines/azure/azuremachines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/azure/machines.go
  vendor/github.com/openshift/installer/pkg/asset/manifests/gcp/cloudproviderconfig.go
  vendor/github.com/openshift/installer/pkg/types/aws/validation/featuregates.go
  vendor/github.com/openshift/installer/pkg/types/azure/validation/platform.go
  vendor/github.com/openshift/installer/pkg/types/defaults/machinepools.go
  vendor/github.com/openshift/installer/pkg/types/gcp/validation/machinepool.go
  vendor/github.com/openshift/installer/pkg/types/validation/featuregates.go
  vendor/github.com/openshift/installer/pkg/types/validation/installconfig.go
  vendor/github.com/openshift/installer/pkg/types/validation/machinepools.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-78995: Azure MachinePool: Accept OSImageID
  apis/hive/v1/azure/machinepool.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/azureclient/client.go
  pkg/azureclient/mock/client_generated.go
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/machinepool.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix mce-52 konflux proposal
  .tekton/hive-mce-52-pull-request.yaml
  .tekton/hive-mce-52-push.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add MCE-52 tekton files
  .tekton/hive-mce-52-push.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix StatefulSet reconcile hotloop caused by server-defaulted fields
  config/sharded_controllers/statefulset.yaml
  pkg/operator/hive/sharded_controllers_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

operator: defer NetworkPolicy teardown until workload pods terminate
  pkg/operator/hive/apply.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hive_test.go
  pkg/operator/hive/hiveadmission.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3171: address review feedback
  pkg/operator/hive/apply.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hive_test.go
  pkg/operator/hive/hiveadmission.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add netpols to e2e env
  hack/e2e-common.sh
  hack/e2e-test.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
