Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, e2e-vsphere, e2e-openstack, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

unit:
  commands: GO_COMPLIANCE_INFO=0 make test
  container:
    from: src

verify:
  commands: GO_COMPLIANCE_INFO=0 make verify
  container:
    from: src

coverage:
  commands: 'export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
  
    GO_COMPLIANCE_INFO=0 make coverage
  
    '
  container:
    from: src
  secret:
    mount_path: /tmp/secret
    name: hive-codecov-token

security:
  steps:
    env:
      SNYK_CODE_ADDITIONAL_ARGS: --severity-threshold=high
      SNYK_ENABLE_DEPS_SCAN: 'true'
    workflow: openshift-ci-security

e2e:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.19'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-pool:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.19'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-gcp:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=gcp make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-azure:
  steps:
    cluster_profile: azure4
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=azure make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
  ...

e2e-vsphere:
  steps:
    cluster_profile: vsphere-elastic
    env:
      VSPHERE_ADDITIONAL_CLUSTER: 'true'
    test:
    - as: test
      cli: latest
      commands: 'source $SHARED_DIR/vsphere_context.sh
  
        source $SHARED_DIR/govc.sh
  
        source $SHARED_DIR/additional_cluster.sh
  
  
  ...

e2e-openstack:
  steps:
    cluster_profile: openstack-vexxhost
    env:
      BASE_DOMAIN: shiftstack.devcluster.openshift.com
      CONFIG_TYPE: minimal
      HIVE_OSP_RESOURCE: 'true'
    test:
    - as: test
      cli: latest
      commands: 'export OS_CLIENT_CONFIG_FILE=${SHARED_DIR}/clouds.yaml
  
  ...

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Audit complete
  semantic-map/docs/context/contrib/cmd/hiveutil/module.md
  semantic-map/docs/context/contrib/pkg/adm/managedns/module.md
  semantic-map/docs/context/contrib/pkg/awsprivatelink/module.md
  semantic-map/docs/context/contrib/pkg/report/module.md
  semantic-map/docs/context/contrib/pkg/testresource/module.md
  semantic-map/docs/context/contrib/pkg/utils/module.md
  semantic-map/docs/context/contrib/pkg/verification/module.md
  semantic-map/docs/context/pkg/awsclient/module.md
  semantic-map/docs/context/pkg/controller/argocdregister/module.md
  semantic-map/docs/context/pkg/controller/awsprivatelink/module.md
  semantic-map/docs/context/pkg/controller/clusterdeployment/module.md
  semantic-map/docs/context/pkg/controller/clusterdeprovision/module.md
  semantic-map/docs/context/pkg/controller/clusterpool/module.md
  semantic-map/docs/context/pkg/controller/clusterprovision/module.md
  semantic-map/docs/context/pkg/controller/clusterrelocate/module.md
  semantic-map/docs/context/pkg/controller/clusterstate/module.md
  semantic-map/docs/context/pkg/controller/clustersync/module.md
  semantic-map/docs/context/pkg/controller/clusterversion/module.md
  semantic-map/docs/context/pkg/controller/controlplanecerts/module.md
  semantic-map/docs/context/pkg/controller/dnsendpoint/module.md
  semantic-map/docs/context/pkg/controller/dnszone/module.md
  semantic-map/docs/context/pkg/controller/hibernation/mock/module.md
  semantic-map/docs/context/pkg/controller/hibernation/module.md
  semantic-map/docs/context/pkg/controller/machinepool/mock/module.md
  semantic-map/docs/context/pkg/controller/machinepool/module.md
  semantic-map/docs/context/pkg/controller/privatelink/actuator/awsactuator/module.md
  semantic-map/docs/context/pkg/controller/privatelink/actuator/gcpactuator/module.md
  semantic-map/docs/context/pkg/controller/privatelink/actuator/mock/module.md
  semantic-map/docs/context/pkg/controller/privatelink/module.md
  semantic-map/docs/context/pkg/controller/remoteingress/module.md
  semantic-map/docs/context/pkg/controller/syncidentityprovider/module.md
  semantic-map/docs/context/pkg/controller/unreachable/module.md
  semantic-map/docs/context/pkg/gcpclient/mock/module.md
  semantic-map/docs/context/pkg/gcpclient/module.md
  semantic-map/docs/context/pkg/test/logger/module.md
  semantic-map/prompts-expanded/analyst.md
  semantic-map/prompts-expanded/auditor.md
  semantic-map/prompts-expanded/specialist.md
Due: e2e-gcp

add semanti-map-light commands
  .claude/commands/semantic-map-light-query.md
  .claude/commands/semantic-map-light-validate.md
  .claude/skills/semantic-map-light/SKILL.md
  semantic-map/ANALYSIS.md
Due: none

Architect: Updated root.md with a synthesized architect manifest
  semantic-map/docs/context/root.md
Due: none

Audit complete - some changes
  semantic-map/docs/context/contrib/pkg/clusterpool/module.md
  semantic-map/docs/context/contrib/pkg/createcluster/module.md
  semantic-map/docs/context/contrib/pkg/deprovision/module.md
  semantic-map/docs/context/contrib/pkg/verification/module.md
  semantic-map/docs/context/pkg/clusterresource/module.md
  semantic-map/docs/context/pkg/controller/awsprivatelink/module.md
  semantic-map/docs/context/pkg/controller/clusterdeployment/module.md
  semantic-map/docs/context/pkg/controller/clusterdeprovision/module.md
  semantic-map/docs/context/pkg/controller/clusterpool/module.md
  semantic-map/docs/context/pkg/controller/clusterprovision/module.md
  semantic-map/docs/context/pkg/controller/clusterstate/module.md
  semantic-map/docs/context/pkg/controller/controlplanecerts/module.md
  semantic-map/docs/context/pkg/controller/machinepool/module.md
  semantic-map/docs/context/pkg/controller/utils/module.md
  semantic-map/docs/context/pkg/validating-webhooks/hive/v1/module.md
  semantic-map/docs/context/test/e2e/common/module.md
  semantic-map/prompts-expanded/analyst.md
  semantic-map/prompts-expanded/auditor.md
  semantic-map/prompts-expanded/specialist.md
Due: none

add skills/commands
  .claude/commands/semantic-map-light-query.md
  .claude/commands/semantic-map-light-validate.md
  .claude/skills/semantic-map-light/SKILL.md
  semantic-map/ANALYSIS.md
Due: none

HIVE-2946: Remove empty vSphere dataDisks from install-config
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

installmanager: Make dataDisks patch removal non-fatal
  pkg/installmanager/installmanager.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Hive-3148: Adding tests from private to the repo using ote integration
  Dockerfile.ote
  test/ote/cmd/extension/main.go
  test/ote/hive/suite_setup.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3156: Regenerate rpms.lock.yaml for hermetic builds
  hack/hermetic/README.md
  hack/hermetic/redhat.repo
  hack/hermetic/rpms.lock.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Go bump to v1.25.9
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-211-pull-request.yaml
  .tekton/hive-mce-211-push.yaml
  .tekton/hive-mce-217-pull-request.yaml
  .tekton/hive-mce-217-push.yaml
  .tekton/hive-mce-26-pull-request.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-mce-28-pull-request.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-mce-50-pull-request.yaml
  .tekton/hive-mce-50-push.yaml
  .tekton/hive-mce-51-pull-request.yaml
  .tekton/hive-mce-51-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  Dockerfile
  Makefile
  apis/go.mod
  go.mod
  hack/ubi-build-deps.sh
  vendor/modules.txt
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Bump go-jose to v4.1.4
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v4/asymmetric.go
  vendor/github.com/go-jose/go-jose/v4/cipher/key_wrap.go
  vendor/github.com/go-jose/go-jose/v4/symmetric.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3097: Enable watch bookmarks and fix hiveadmission crash
  apis/go.mod
  apis/go.sum
  apis/vendor/modules.txt
  cmd/manager/main.go
  cmd/operator/main.go
  contrib/cmd/waitforjob/main.go
  contrib/pkg/adm/managedns/enable.go
  go.mod
  go.sum
  pkg/installmanager/installmanager.go
  pkg/operator/hive/hive_controller.go
  test/e2e/common/apiservice.go
  test/e2e/common/deployment.go
  test/e2e/common/machine.go
  test/e2e/common/machineset.go
  test/e2e/common/node.go
  test/e2e/common/service.go
  test/e2e/destroycluster/destroy_test.go
  test/e2e/postinstall/syncsets/syncsets_suite_test.go
  vendor/github.com/openshift/generic-admission-server/pkg/registry/admissionreview/generated/openapi.go
  vendor/k8s.io/kube-openapi/cmd/openapi-gen/args/args.go
  vendor/k8s.io/kube-openapi/pkg/generators/config.go
  vendor/k8s.io/kube-openapi/pkg/validation/spec/ref.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Check more errors when copying private image secret
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ACM-34227: bump go-jose (in test code)
  test/ote/go.mod
  test/ote/go.sum
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

docs: warn about Authentication CR key naming requirement for STS provisioning
  docs/aws-sts-provisioning.md
Due: none

docs: address reviewer feedback on STS provisioning guide
  docs/aws-sts-provisioning.md
Due: none

HIVE-3148: Add filters(tag) to run sdrosa cases same as used to run from privaterepo in ci
  test/ote/cmd/extension/main.go
  test/ote/hive/hive_util.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

handle if no tests returned by filter and order of filtering
  test/ote/cmd/extension/main.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ACM-34425: CVE-2026-35385: Update rpms.lock.yaml
  hack/hermetic/redhat.repo
  hack/hermetic/rpms.lock.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

modcheck: Real arg parsing
  Makefile
  hack/modcheck.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

modcheck: Add --gomod path/to/go.mod argument
  hack/modcheck.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

modcheck: Detect and optionally allow downgrades
  hack/modcheck.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2881: skip unstable flaky tests for now
  test/ote/hive/hive_aws.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-85813: Ignore unset snowflake fields for fake CDs
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add omitempty to HibernationConfig json tag
  apis/hive/v1/clusterpool_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterpool_types.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3130: Fix overly broad help flag matching in generate-saas-template.sh
  hack/app-sre/generate-saas-template.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3130: Rewrite bundle-gen.py as bundle-gen.sh
  config/templates/hive-csv-template.yaml
  hack/bundle-gen.py
  hack/bundle-gen.sh
  hack/github.py
  hack/requirements.txt
  hack/version2.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3130: Simplify bundle-gen.sh and version2.sh post-rewrite
  Makefile
  hack/bundle-gen.sh
  hack/version2.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  e2e-vsphere: any of: vsphere
  e2e-openstack: any of: openstack
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
