Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

unit:
  commands: GO_COMPLIANCE_INFO=0 make test
  container:
    from: src

verify:
  commands: GO_COMPLIANCE_INFO=0 make verify
  container:
    from: src

coverage:
  commands: 'export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
  
    GO_COMPLIANCE_INFO=0 make coverage
  
    '
  container:
    from: src
  secret:
    mount_path: /tmp/secret
    name: hive-codecov-token

e2e:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.12'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-pool:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.12'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-gcp:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=gcp make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-azure:
  steps:
    cluster_profile: azure4
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=azure make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
  ...

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Reset metrics on each pass of metrics controller
  pkg/controller/metrics/metrics.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

WIP: MachinePool honors CD.spec.preserveOnDelete
  pkg/controller/machinepool/machinepool_controller.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove SyncSetInstance cleanup code
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

WIP: Enhance awsprivatelink docs
  docs/awsprivatelink.md
Due: none

Add install log regexes for cert-related network failures
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Read-only root file system
  config/clustersync/statefulset.yaml
  config/controllers/deployment.yaml
  config/hiveadmission/deployment.yaml
  config/operator/operator_deployment.yaml
  hack/app-sre/saas-template.yaml
  pkg/operator/assets/bindata.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Managed DNS is mutex with User-Configured DNS
  docs/using-hive.md
Due: none

fix vendor is not put back and failed on MAC env after run update-codegen.sh
  hack/update-codegen.sh
Due: unit, verify, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add Fixed Labels to metrics doc
  docs/hive_metrics.md
Due: none

Prompt CI to bump to golang 1.21
  build/build-image/Dockerfile
Due: unit, verify, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add documentation for registering new ClusterInstall implementations
  docs/enhancements/cluster-install-apis.md
Due: none

Bump to go 1.21
  Dockerfile
  Dockerfile.ubi
  apis/go.mod
  apis/go.sum
  docs/developing.md
  go.mod
  go.sum
  vendor/modules.txt
Due: unit, verify, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add config for controller resource requests (when applicable)
  apis/hive/v1/hiveconfig_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  pkg/client/applyconfiguration/hive/v1/controllerconfig.go
  pkg/operator/hive/clustersync.go
  pkg/operator/hive/configmap.go
  pkg/operator/hive/hive.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

controller-runtime v0.16.2 updates
  cmd/manager/main.go
  cmd/operator/main.go
  test/e2e/common/machine.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Reconcile MachineSets using MachinePool labels and AZs
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
  test/e2e/postinstall/machinesets/infra_test.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

refactor: fixing variable name typo
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  hack/app-sre/saas-template.yaml
  pkg/client/applyconfiguration/hive/v1/clusterdeploymentspec.go
  pkg/clusterresource/builder.go
  pkg/install/generate.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

SyncSet: Parameterized CD labels in resources
  apis/hive/v1/syncset_types.go
  config/crds/hive.openshift.io_selectorsyncsets.yaml
  config/crds/hive.openshift.io_syncsets.yaml
  docs/syncset.md
  hack/app-sre/saas-template.yaml
  pkg/client/applyconfiguration/hive/v1/selectorsyncsetspec.go
  pkg/client/applyconfiguration/hive/v1/syncsetcommonspec.go
  pkg/client/applyconfiguration/hive/v1/syncsetspec.go
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/clustersync/clustersync_controller_test.go
  pkg/controller/clustersync/templates.go
  pkg/test/syncset/syncset.go
  vendor/github.com/openshift/hive/apis/hive/v1/syncset_types.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Syncset parameters: Review followup
  pkg/controller/clustersync/clustersync_controller_test.go
  pkg/test/syncset/syncset.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Unstructured OpenstackProviderSpec
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/openstackactuator.go
  pkg/controller/machinepool/openstackactuator_test.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Unstructured OpenstackProviderSpec
  go.mod
  go.sum
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/openstackactuator.go
  pkg/controller/machinepool/openstackactuator_test.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api-provider-openstack/LICENSE
  vendor/sigs.k8s.io/cluster-api-provider-openstack/pkg/apis/apis.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/pkg/apis/openstackproviderconfig/v1alpha1/doc.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/pkg/apis/openstackproviderconfig/v1alpha1/register.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/pkg/apis/openstackproviderconfig/v1alpha1/securitygroup_types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/pkg/apis/openstackproviderconfig/v1alpha1/types.go
  vendor/sigs.k8s.io/cluster-api-provider-openstack/pkg/apis/openstackproviderconfig/v1alpha1/zz_generated.deepcopy.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Unstructured OpenstackProviderSpec
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/openstackactuator.go
  pkg/controller/machinepool/openstackactuator_test.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api-provider-openstack/pkg/apis/apis.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Adding a new reason to AWSDeniedBySCP install failure
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
