Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

fix(build): Drop obsolete build-image call
  Makefile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

CVE-2024-6104: go-retryablehttp 0.7.7
  go.mod
  go.sum
  vendor/github.com/hashicorp/go-retryablehttp/.go-version
  vendor/github.com/hashicorp/go-retryablehttp/CHANGELOG.md
  vendor/github.com/hashicorp/go-retryablehttp/CODEOWNERS
  vendor/github.com/hashicorp/go-retryablehttp/Makefile
  vendor/github.com/hashicorp/go-retryablehttp/README.md
  vendor/github.com/hashicorp/go-retryablehttp/cert_error_go119.go
  vendor/github.com/hashicorp/go-retryablehttp/cert_error_go120.go
  vendor/github.com/hashicorp/go-retryablehttp/client.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePool controller: Add env for AssumeRole
  pkg/operator/hive/sharded_controllers.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

DNM: testing e2e-pool
  README.md
Due: none

fix(build): update to the fixed clamav image
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Replumb AssumeRole (AWS)
  contrib/pkg/utils/aws/aws.go
  docs/awsassumerolecreds.md
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/install/generate.go
  pkg/installmanager/aws_credentials.go
  pkg/installmanager/aws_credentials_test.go
  pkg/installmanager/installmanager.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Forbid and convert credential_process
  contrib/pkg/utils/aws/aws.go
  contrib/pkg/utils/azure/azure.go
  contrib/pkg/utils/gcp/gcp.go
  contrib/pkg/utils/generic.go
  contrib/pkg/utils/openstack/openstack.go
  contrib/pkg/utils/ovirt/ovirt.go
  contrib/pkg/utils/vsphere/vsphere.go
  pkg/awsclient/client.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeprovision/awsactuator.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/dnszone/dnszone_controller.go
  pkg/controller/hibernation/aws_actuator.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/utils/secrets.go
  pkg/install/generate.go
  pkg/installmanager/installmanager.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(controller-runtime): fix metricsprovider wiring
  vendor/sigs.k8s.io/controller-runtime/pkg/controller/controller.go
  vendor/sigs.k8s.io/controller-runtime/pkg/metrics/workqueue.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove redundant import of generic admission server cmd
  cmd/manager/main.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Forbid kubeconfig exec
  pkg/controller/argocdregister/argocdregister_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/cleanup.go
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterinstalls.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/utils/secrets.go
  pkg/remoteclient/kubeconfig.go
  pkg/remoteclient/remoteclient.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Red Hat Konflux update hive
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterPool: Enable InstallerEnv
  apis/hive/v1/clusterpool_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterpools.yaml
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/test/clusterpool/clusterpool.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterpool_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(build): build hiveutil separately
  Dockerfile
  Makefile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(snyk): Ignore go-client misreporting
  .snyk
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hiveutil awsprivatelink to be compatbile with CAPI based installer
  contrib/pkg/utils/aws/aws.go
  docs/awsprivatelink.md
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Red Hat Konflux purge hive Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

AWS: Forbid case-insensitive `credential_process`
  pkg/awsclient/client.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hiveutil: add private-link flag and deprecate aws-private-link
  contrib/pkg/createcluster/create.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

privatelink-controller: add gcp link actuator
  hack/gcpprivateserviceconnect/linkvpc.py
  pkg/controller/privatelink/actuator/gcpactuator/gcpactuator.go
  pkg/controller/privatelink/actuator/gcpactuator/gcpclient.go
  pkg/controller/privatelink/actuator/gcpactuator/gcplinkactuator.go
  pkg/gcpclient/client.go
  pkg/gcpclient/mock/client_generated.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

privatelink-controller: add aws hub actuator
  pkg/controller/privatelink/actuator/awsactuator/awsactuator.go
  pkg/controller/privatelink/actuator/awsactuator/awsclient.go
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

privatelink-controller: add privatelink controller
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/gcp/platform.go
  apis/hive/v1/gcp/zz_generated.deepcopy.go
  apis/hive/v1/hiveconfig_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  cmd/manager/main.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/gcp.go
  pkg/constants/constants.go
  pkg/controller/privatelink/actuator/actuator.go
  pkg/controller/privatelink/conditions/conditions.go
  pkg/controller/privatelink/privatelink.go
  pkg/controller/privatelink/privatelink_controller.go
  pkg/operator/hive/configmap.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Red Hat Konflux update hive Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Red Hat Konflux update hive-fork Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hive-fork-pull-request.yaml
  .tekton/hive-fork-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(builds): remove comment
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

feat(builds): use redhat catalog images
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(builds): use right task name
  .tekton/hive-fork-pull-request.yaml
  .tekton/hive-fork-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(builds): hive fork use 20G task
  .tekton/hive-fork-pull-request.yaml
  .tekton/hive-fork-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(builds): Update tekton files
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(konflux): use activation key
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add debugging for RHSM issue to Dockerfile
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

remove debugging and add back symlink at end of build
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
