Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

HIVE-2861: Fix residual Nutanix resources after cluster deletion due to incorrect casting of Prism Central port
  pkg/installmanager/installmanager.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2871 | (fix): Update the clusterversion controller to handle the case where the upgradeable annotation doesn't exist and needs to be re-populated
  pkg/controller/clusterversion/clusterversion_controller.go
  pkg/controller/clusterversion/clusterversion_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Move params to `spec.params`
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Use EUS for the RPM lockfile
  hack/hermetic/redhat.repo
  hack/hermetic/rpms.lock.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "Align RPM versions with the ELS image"
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  hack/hermetic/redhat.repo
  hack/hermetic/rpms.lock.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Set IMAGE_APPEND_PLATFORM to true (where is this documented?)
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Implement OpenStack hibernation support - openstack_actuator.go - hibernation based on snapshots/restoring - openstack/client.go - minimal OpenstackClient to support "hibernation" operations
  go.mod
  go.sum
  pkg/controller/hibernation/openstack_actuator.go
  pkg/openstackclient/client.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2849: AWS SDK v2 migration (Cursor)
  contrib/pkg/awsprivatelink/enable.go
  contrib/pkg/awsprivatelink/endpointvpc/add.go
  contrib/pkg/awsprivatelink/endpointvpc/remove.go
  contrib/pkg/certificate/create.go
  contrib/pkg/certificate/hook.go
  contrib/pkg/utils/aws/aws.go
  go.mod
  pkg/awsclient/client.go
  pkg/awsclient/mock/client_generated.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller_test.go
  pkg/controller/awsprivatelink/cleanup.go
  pkg/controller/awsprivatelink/vpcinventory.go
  pkg/controller/clusterdeprovision/awsactuator.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller_test.go
  pkg/controller/dnsendpoint/nameserver/aws.go
  pkg/controller/dnsendpoint/nameserver/aws_test.go
  pkg/controller/dnszone/awsactuator.go
  pkg/controller/dnszone/awsactuator_test.go
  pkg/controller/dnszone/dnszone_controller_test.go
  pkg/controller/dnszone/test_helpers.go
  pkg/controller/hibernation/aws_actuator.go
  pkg/controller/hibernation/aws_actuator_test.go
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/awsactuator_test.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/controller/privatelink/actuator/awsactuator/awsactuator.go
  pkg/controller/privatelink/actuator/awsactuator/awsclient.go
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator.go
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator_test.go
  pkg/controller/utils/ownership_test.go
  pkg/installmanager/s3loguploaderactuator.go
  pkg/installmanager/s3loguploaderactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Set default shell to Bash in Hive's Makefile
  Makefile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Switch quay repo for konflux to redhat-services-prod
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2860: Fix ensureEnoughReplicas to properly clear NotEnoughReplicas condition when switching from autoscaling to fixed replicas
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2849: Migrate to AWS SDK v2
  contrib/pkg/awsprivatelink/enable.go
  contrib/pkg/awsprivatelink/endpointvpc/add.go
  contrib/pkg/awsprivatelink/endpointvpc/remove.go
  contrib/pkg/certificate/create.go
  contrib/pkg/certificate/hook.go
  contrib/pkg/utils/aws/aws.go
  pkg/awsclient/client.go
  pkg/awsclient/mock/client_generated.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller_test.go
  pkg/controller/awsprivatelink/cleanup.go
  pkg/controller/awsprivatelink/vpcinventory.go
  pkg/controller/clusterdeprovision/awsactuator.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller_test.go
  pkg/controller/dnsendpoint/nameserver/aws.go
  pkg/controller/dnsendpoint/nameserver/aws_test.go
  pkg/controller/dnszone/awsactuator.go
  pkg/controller/dnszone/awsactuator_test.go
  pkg/controller/dnszone/dnszone_controller.go
  pkg/controller/dnszone/dnszone_controller_test.go
  pkg/controller/dnszone/test_helpers.go
  pkg/controller/hibernation/aws_actuator.go
  pkg/controller/hibernation/aws_actuator_test.go
  pkg/controller/hibernation/ibmcloud_actuator.go
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/awsactuator_test.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/controller/privatelink/actuator/awsactuator/awsactuator.go
  pkg/controller/privatelink/actuator/awsactuator/awsclient.go
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator.go
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator_test.go
  pkg/controller/utils/ownership_test.go
  pkg/installmanager/installmanager_test.go
  pkg/installmanager/s3loguploaderactuator.go
  pkg/installmanager/s3loguploaderactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Drop lleshchi from OWNERS
  OWNERS
Due: none

Nutanix e2e
  hack/e2e-common.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Red Hat Konflux update hive-mce-210 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-210-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add quay.io secret to app-sre service account
  config/controllers/hive_controllers_serviceaccount.yaml
  config/hiveadmission/service-account.yaml
  hack/app-sre/kustomization.yaml
  hack/app-sre/saas-template.yaml
  pkg/operator/assets/bindata.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2887: Consolidate operator apply functions
  pkg/operator/hive/configmap.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hiveadmission.go
  pkg/operator/hive/sharded_controllers.go
  pkg/operator/util/apply.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Apply hive-specific customizations to mce 210 konflux tekton configs
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-210-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add tests, better error handling, resource checking, finalize scripts
  go.mod
  go.sum
  pkg/controller/hibernation/openstack_actuator.go
  pkg/controller/hibernation/openstack_actuator_test.go
  pkg/openstackclient/client.go
  pkg/openstackclient/mock/client_generated.go
  pkg/test/clusterdeployment/clusterdeployment.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add docs, more changes
  docs/hibernating-clusters.md
  pkg/controller/hibernation/openstack_actuator.go
  pkg/controller/hibernation/openstack_actuator_test.go
  pkg/openstackclient/client.go
  pkg/openstackclient/mock/client_generated.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2887: Cursor: refactor pkg/operator/util/apply.go
  docs/cursor/cursor_consolidate_apply_functions_in_a.md
  pkg/operator/hive/configmap.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hiveadmission.go
  pkg/operator/hive/sharded_controllers.go
  pkg/operator/util/apply.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Pass imagePullSecrets through to all the necessary places
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/clusterprovision/clusterprovision_controller_test.go
  pkg/imageset/generate.go
  pkg/imageset/generate_test.go
  pkg/install/generate.go
  pkg/install/generate_test.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
  pkg/operator/util/apply.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2898: Fixes an issue where VPCEndpoints and VPCEndpointServices were not fully cleaned up during cluster deprovisioning.
  pkg/controller/awsprivatelink/cleanup.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2897: Increase timeout for PrivateLink resources during setup.
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update bundle-gen to create release-config
  hack/bundle-gen.py
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Updates from cursor 'code review'
  contrib/pkg/awsprivatelink/enable.go
  contrib/pkg/awsprivatelink/endpointvpc/add.go
  contrib/pkg/awsprivatelink/endpointvpc/remove.go
  contrib/pkg/certificate/hook.go
  contrib/pkg/utils/aws/aws.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

AWS SDK v2: Generic paginator wrapper
  pkg/awsclient/client.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2849: AWS SDK: Case-insensitive state string comparison
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2302: Pass metadata.json through opaquely
  apis/hive/v1/aws/metadata.go
  apis/hive/v1/azure/metadata.go
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/gcp/metadata.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  contrib/pkg/createcluster/create.go
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder.go
  pkg/constants/constants.go
  pkg/controller/argocdregister/argocdregister_controller_test.go
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterclaim/clusterclaim_controller_test.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/metadata.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/metadata.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/metadata.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Pass imagePullSecrets through to all the necessary places
  config/controllers/hive_controllers_serviceaccount.yaml
  config/hiveadmission/service-account.yaml
  config/operator/operator_deployment.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller_test.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/clusterprovision/clusterprovision_controller_test.go
  pkg/controller/utils/podconfig.go
  pkg/controller/utils/utils.go
  pkg/imageset/generate.go
  pkg/imageset/generate_test.go
  pkg/install/generate.go
  pkg/install/generate_test.go
  pkg/operator/assets/bindata.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
  pkg/operator/hive/sharded_controllers.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update Konflux references
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update Konflux references
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update Konflux references
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2391: vSphere zonal support
  apis/go.mod
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/vsphere/platform.go
  apis/hive/v1/vsphere/zz_generated.deepcopy.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  contrib/pkg/createcluster/create.go
  contrib/pkg/deprovision/vsphere.go
  go.mod
  go.sum
  hack/app-sre/saas-template.yaml
  hack/e2e-common.sh
  pkg/clusterresource/builder_test.go
  pkg/clusterresource/vsphere.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/machinepool/vsphereactuator.go
  pkg/controller/machinepool/vsphereactuator_test.go
  pkg/controller/utils/credentials.go
  pkg/install/generate.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterpool_validating_admission_hook.go
  vendor/github.com/bombsimon/logrusr/v4/.gitignore
  vendor/github.com/bombsimon/logrusr/v4/LICENSE
  vendor/github.com/bombsimon/logrusr/v4/README.md
  vendor/github.com/bombsimon/logrusr/v4/logrusr.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fixes an issue where VPCEndpoints and VPCEndpointServices were not fully cleaned up during cluster deprovisioning.
  pkg/controller/awsprivatelink/cleanup.go
  pkg/controller/awsprivatelink/cleanup_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
