Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

unit:
  commands: GO_COMPLIANCE_INFO=0 make test
  container:
    from: src

verify:
  commands: GO_COMPLIANCE_INFO=0 make verify
  container:
    from: src

coverage:
  commands: 'export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
  
    GO_COMPLIANCE_INFO=0 make coverage
  
    '
  container:
    from: src
  secret:
    mount_path: /tmp/secret
    name: hive-codecov-token

security:
  steps:
    env:
      SNYK_CODE_ADDITIONAL_ARGS: --severity-threshold=high
      SNYK_ENABLE_DEPS_SCAN: 'true'
    workflow: openshift-ci-security

e2e:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-pool:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-gcp:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=gcp make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-azure:
  steps:
    cluster_profile: azure4
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=azure make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
  ...

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

fix(pkg/controller/remoteingress): remove status and prune spec fields of created IngressController resources
  pkg/controller/remoteingress/remoteingress_controller.go
  pkg/controller/remoteingress/remoteingress_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add new HiveConfig field: HiveImagePullSecretRef
  apis/hive/v1/hiveconfig_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  pkg/constants/constants.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/utils/podconfig.go
  pkg/controller/utils/utils.go
  pkg/imageset/generate.go
  pkg/install/generate.go
  pkg/operator/hive/dynamicclient.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
  pkg/operator/hive/operatorutils.go
  pkg/operator/hive/sharded_controllers.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove quota validation, structs, client creation from upstream, snapshot naming, pausing other fixes to logging, structure, comments
  docs/hibernating-clusters.md
  pkg/controller/hibernation/openstack_actuator.go
  pkg/controller/hibernation/openstack_actuator_test.go
  pkg/openstackclient/client.go
  pkg/openstackclient/mock/client_generated.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Migrate the test-generation-assistant into the .ai_testgen folder.
  .ai_testgen/CLAUDE.md
  .ai_testgen/GEMINI.md
  .ai_testgen/README.md
  .ai_testgen/config/agents/e2e_test_generation_openshift_private.yaml
  .ai_testgen/config/agents/e2e_test_generation_upstream.yaml
  .ai_testgen/config/agents/test-executor.yaml
  .ai_testgen/config/agents/test_case_generation.yaml
  .ai_testgen/config/agents/test_result_analyzer.yaml
  .ai_testgen/config/examples/polarion-test-case-example-simplified.md
  .ai_testgen/config/rules/e2e_rules/e2e_test_case_guidelines.md
  .ai_testgen/config/rules/e2e_rules/e2e_test_case_guidelines_test_private.md
  .ai_testgen/config/rules/pr_submission_rules.yaml
  .ai_testgen/config/rules/test_case_accuracy_rules.yaml
  .ai_testgen/config/rules/test_case_rules/test_case_generation_rules.yaml
  .ai_testgen/config/templates/polarion-test-case-template.xml
  .ai_testgen/config/templates/test_cases_template.yaml
  .ai_testgen/prompts/STARTUP_CHECKLIST.md
  .ai_testgen/workflow_outputs/hive/HIVE-2040/phases/HIVE-2040_openshift_private_e2e_results.md
  .ai_testgen/workflow_outputs/hive/HIVE-2040/phases/test_requirements_output.yaml
  .ai_testgen/workflow_outputs/hive/HIVE-2040/test_cases/HIVE-2040_test_case.md
  .ai_testgen/workflow_outputs/hive/HIVE-2544/phases/HIVE-2544_openshift_private_e2e_results.md
  .ai_testgen/workflow_outputs/hive/HIVE-2544/phases/test_requirements_output.yaml
  .ai_testgen/workflow_outputs/hive/HIVE-2544/test_cases/HIVE-2544_test_case.md
  .ai_testgen/workflow_outputs/hive/HIVE-2923/phases/test_requirements_output.yaml
  .ai_testgen/workflow_outputs/hive/HIVE-2923/test_cases/HIVE-2923_test_case.md
  .ai_testgen/workflow_outputs/hive/HIVE-2923/test_execution_results/HIVE-2923_comprehensive_test_results.md
  .ai_testgen/workflow_outputs/hive/HIVE-2923/test_execution_results/HIVE-2923_final_test_execution_report.md
  .gitignore
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HiveSLO - update env_name query
  hack/grafana-dashboards/grafana-dashboard-hive-slo.configmap.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

chore(KONFLUX-6210): fix and set name and cpe label for hive-mce-29
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2391: vSphere zonal support
  apis/go.mod
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/vsphere/platform.go
  apis/hive/v1/vsphere/zz_generated.deepcopy.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  contrib/pkg/createcluster/create.go
  contrib/pkg/deprovision/vsphere.go
  docs/hiveutil.md
  go.mod
  go.sum
  hack/app-sre/saas-template.yaml
  hack/e2e-common.sh
  pkg/clusterresource/builder_test.go
  pkg/clusterresource/vsphere.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/machinepool/vsphereactuator.go
  pkg/controller/machinepool/vsphereactuator_test.go
  pkg/controller/utils/credentials.go
  pkg/install/generate.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterpool_validating_admission_hook.go
  vendor/github.com/bombsimon/logrusr/v4/.gitignore
  vendor/github.com/bombsimon/logrusr/v4/LICENSE
  vendor/github.com/bombsimon/logrusr/v4/README.md
  vendor/github.com/bombsimon/logrusr/v4/logrusr.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2302: Save metadata.json opaquely
  apis/hive/v1/aws/metadata.go
  apis/hive/v1/azure/metadata.go
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/gcp/metadata.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  contrib/pkg/createcluster/create.go
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder.go
  pkg/constants/constants.go
  pkg/controller/argocdregister/argocdregister_controller_test.go
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterclaim/clusterclaim_controller_test.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/metadata.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/metadata.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/metadata.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2302, HIVE-2644: Destroyers use metadata.json
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  contrib/pkg/deprovision/awstagdeprovision.go
  contrib/pkg/deprovision/azure.go
  contrib/pkg/deprovision/deprovision.go
  contrib/pkg/deprovision/gcp.go
  contrib/pkg/deprovision/ibmcloud.go
  contrib/pkg/deprovision/nutanix.go
  contrib/pkg/deprovision/openstack.go
  contrib/pkg/deprovision/vsphere.go
  hack/app-sre/saas-template.yaml
  pkg/constants/constants.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller_test.go
  pkg/controller/utils/logtagger.go
  pkg/install/generate.go
  pkg/install/generate_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2940: Updates for installer revendor
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/nutanixactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Copy secret for CD as early as possible
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Migrate the test-generation-assistant into the .ai_testgen folder.
  .ai_testgen/CLAUDE.md
  .ai_testgen/GEMINI.md
  .ai_testgen/README.md
  .ai_testgen/config/agents/e2e_test_generation_openshift_private.yaml
  .ai_testgen/config/agents/e2e_test_generation_product_repo.yaml
  .ai_testgen/config/agents/test-executor.yaml
  .ai_testgen/config/agents/test_case_generation.yaml
  .ai_testgen/config/examples/polarion-test-case-example-simplified.md
  .ai_testgen/config/rules/e2e_rules/e2e_test_case_guidelines.md
  .ai_testgen/config/rules/e2e_rules/e2e_test_case_guidelines_test_private.md
  .ai_testgen/config/rules/pr_submission_rules.yaml
  .ai_testgen/config/rules/technical_validation_rules.yaml
  .ai_testgen/config/rules/test_case_accuracy_rules.yaml
  .ai_testgen/config/rules/test_case_rules/test_case_generation_rules.yaml
  .ai_testgen/config/rules/test_case_rules/thinking_navigation_system.yaml
  .ai_testgen/config/templates/test_cases_template.yaml
  .ai_testgen/prompts/STARTUP_CHECKLIST.md
  .ai_testgen/talking_examples/test_generation_example.md
  .ai_testgen/test_artifacts/hive/HIVE-2040/phases/test_requirements_output.yaml
  .ai_testgen/test_artifacts/hive/HIVE-2040/phases/test_strategy.yaml
  .ai_testgen/test_artifacts/hive/HIVE-2040/test_cases/HIVE-2040_test_case.md
  .ai_testgen/test_artifacts/hive/HIVE-2544/phases/HIVE-2544_openshift_private_e2e_results.md
  .ai_testgen/test_artifacts/hive/HIVE-2544/phases/test_requirements_output.yaml
  .ai_testgen/test_artifacts/hive/HIVE-2544/test_cases/HIVE-2544_test_case.md
  .ai_testgen/test_artifacts/hive/HIVE-2544/test_execution_results/HIVE-2544_comprehensive_test_results.md
  .ai_testgen/test_artifacts/hive/HIVE-2544/test_execution_results/HIVE-2544_test_execution_log.txt
  .ai_testgen/test_artifacts/hive/HIVE-2544/test_report.md
  .ai_testgen/test_artifacts/hive/HIVE-2883/phases/test_requirements_output.yaml
  .ai_testgen/test_artifacts/hive/HIVE-2883/test_cases/HIVE-2883_test_case.md
  .ai_testgen/test_artifacts/hive/HIVE-2923/phases/HIVE-2923_openshift_private_e2e_results.md
  .ai_testgen/test_artifacts/hive/HIVE-2923/phases/test_requirements_output.yaml
  .ai_testgen/test_artifacts/hive/HIVE-2923/test_cases/HIVE-2923_test_case.md
  .gitignore
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2302: DNM: test legacy deprovision
  hack/e2e-test.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

privatelink: reconcile to exit early when privatelink is not enabled.
  pkg/controller/privatelink/privatelink_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

privatelink: pass privatelink enabled status into actuators
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator.go
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator_test.go
  pkg/controller/privatelink/actuator/gcpactuator/gcplinkactuator.go
  pkg/controller/privatelink/actuator/gcpactuator/gcplinkactuator_test.go
  pkg/controller/privatelink/privatelink_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Scrub status field from created ingresscontroller objects
  pkg/controller/remoteingress/remoteingress_controller.go
  pkg/controller/remoteingress/remoteingress_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2973: Scrub AWS errors in DNSZone controller
  pkg/controller/dnszone/awsactuator.go
  pkg/controller/dnszone/dnszone_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

AI-assisted test generation
  .claude/README.md
  .claude/STARTUP_CHECKLIST.md
  .claude/WORKFLOW_ORCHESTRATOR_GUIDE.md
  .claude/commands/README.md
  .claude/commands/full-workflow.md
  .claude/commands/generate-e2e-case.md
  .claude/commands/generate-report.md
  .claude/commands/generate-test-case.md
  .claude/commands/regenerate-e2e.md
  .claude/commands/regenerate-test.md
  .claude/commands/run-tests.md
  .claude/commands/submit-pr.md
  .claude/config/rules/e2e_rules/e2e_test_case_guidelines.md
  .claude/config/rules/e2e_rules/e2e_test_case_guidelines_test_private.md
  .claude/config/rules/pr_submission_rules.md
  .claude/config/rules/test_case_rules/test_case_generation_rules_hive.md
  .claude/config/rules/test_case_rules/unified_test_generation_rules.md
  .claude/config/templates/test_cases_template.md
  .claude/config/templates/test_coverage_matrix_template.md
  .claude/config/templates/test_report_template.md
  .gitignore
Due: none

ACM-25413: CVE-2023-39975: Upgrade krb5
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

CVE-2023-39975: Upgrade krb5
  Dockerfile
  hack/hermetic/redhat.repo
  hack/hermetic/rpms.in.yaml
  hack/hermetic/rpms.lock.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ACM-25413: Remove librtas from RPM lockfile
  hack/hermetic/rpms.lock.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Hermetic builds followup
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-26-pull-request.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-mce-28-pull-request.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  Dockerfile
  hack/hermetic/redhat.repo
  hack/hermetic/rpms.lock.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2302: Save metadata.json opaquely
  apis/hive/v1/aws/metadata.go
  apis/hive/v1/azure/metadata.go
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/gcp/metadata.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  contrib/pkg/createcluster/create.go
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder.go
  pkg/constants/constants.go
  pkg/controller/argocdregister/argocdregister_controller_test.go
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterclaim/clusterclaim_controller_test.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/utils/credentials.go
  pkg/installmanager/fake.go
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/metadata.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/metadata.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/metadata.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2302: Refactor ConfigureCreds to modify installer metadata
  contrib/pkg/deprovision/awstagdeprovision.go
  contrib/pkg/deprovision/azure.go
  contrib/pkg/deprovision/deprovision.go
  contrib/pkg/deprovision/gcp.go
  contrib/pkg/deprovision/ibmcloud.go
  contrib/pkg/deprovision/nutanix.go
  contrib/pkg/deprovision/openstack.go
  contrib/pkg/deprovision/vsphere.go
  contrib/pkg/utils/aws/aws.go
  contrib/pkg/utils/azure/azure.go
  contrib/pkg/utils/gcp/gcp.go
  contrib/pkg/utils/ibmcloud/ibmcloud.go
  contrib/pkg/utils/nutanix/nutanix.go
  contrib/pkg/utils/openstack/openstack.go
  contrib/pkg/utils/vsphere/vsphere.go
  pkg/installmanager/installmanager.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2911: docs - add Microsoft Entra Workload ID cluster installation procedure
  README.md
  docs/aws-sts-provisioning.md
  docs/install.md
  docs/microsoft_entra_workload_id.md
  docs/using-hive.md
Due: none

Update install-config example
  docs/using-hive.md
Due: none

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
