Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

MachinePool GCP: fix zone filter
  pkg/controller/machinepool/gcpactuator.go
  pkg/controller/machinepool/gcpactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Azure: make creds case-insensitive
  pkg/azureclient/client.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePool: GCP: Custom ServiceAccount
  apis/hive/v1/gcp/machinepools.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/gcpactuator.go
  pkg/controller/machinepool/gcpactuator_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/machinepools.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

PrivateLink: GCP PSC to use global endpoints
  pkg/gcpclient/client.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterInstall: Idempotence improvements
  pkg/controller/clusterdeployment/clusterinstalls.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePool: GCP: Custom UserTags
  apis/go.mod
  apis/go.sum
  apis/hive/v1/gcp/machinepools.go
  apis/hive/v1/gcp/zz_generated.deepcopy.go
  apis/vendor/github.com/openshift/installer/LICENSE
  apis/vendor/github.com/openshift/installer/NOTICE
  apis/vendor/github.com/openshift/installer/pkg/types/gcp/OWNERS
  apis/vendor/github.com/openshift/installer/pkg/types/gcp/clouduid.go
  apis/vendor/github.com/openshift/installer/pkg/types/gcp/doc.go
  apis/vendor/github.com/openshift/installer/pkg/types/gcp/machinepools.go
  apis/vendor/github.com/openshift/installer/pkg/types/gcp/metadata.go
  apis/vendor/github.com/openshift/installer/pkg/types/gcp/platform.go
  apis/vendor/github.com/openshift/installer/pkg/types/gcp/quota.go
  apis/vendor/modules.txt
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/gcpactuator.go
  pkg/controller/machinepool/gcpactuator_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/machinepools.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove uses of yaml-patch
  pkg/clusterresource/builder.go
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update hibernation controller doc
  docs/hibernating-clusters.md
  docs/hibernation_controller.png
Due: none

Add hive logs grafana dashboard
  hack/grafana-dashboards/grafana-dashboard-hive-logs.configmap.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

DNM: generate build
  README.md
Due: none

Hive Logs: Make limit custom
  hack/grafana-dashboards/grafana-dashboard-hive-logs.configmap.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterVersion: tunable poll interval
  apis/hive/v1/hiveconfig_types.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  pkg/constants/constants.go
  pkg/controller/clusterversion/clusterversion_controller.go
  pkg/operator/hive/hive.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

GCP PrivateLink to use pre-existing psc subnet.
  apis/hive/v1/gcp/platform.go
  apis/hive/v1/gcp/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/privatelink/actuator/gcpactuator/gcplinkactuator.go
  pkg/gcpclient/client.go
  pkg/gcpclient/mock/client_generated.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePool controller: use RequeueAfter for poll interval
  pkg/controller/machinepool/machinepool_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

clusterversion controller: crash on unparseable poll interval
  pkg/controller/clusterversion/clusterversion_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

No-op revendor installer
  apis/go.mod
  apis/go.sum
  apis/vendor/modules.txt
  go.mod
  go.sum
  vendor/modules.txt
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove installer dep from apis/
  apis/go.mod
  apis/go.sum
  apis/hive/v1/gcp/machinepools.go
  apis/hive/v1/gcp/zz_generated.deepcopy.go
  apis/vendor/github.com/openshift/installer/LICENSE
  apis/vendor/github.com/openshift/installer/NOTICE
  apis/vendor/github.com/openshift/installer/pkg/types/gcp/OWNERS
  apis/vendor/github.com/openshift/installer/pkg/types/gcp/clouduid.go
  apis/vendor/github.com/openshift/installer/pkg/types/gcp/doc.go
  apis/vendor/github.com/openshift/installer/pkg/types/gcp/machinepools.go
  apis/vendor/github.com/openshift/installer/pkg/types/gcp/metadata.go
  apis/vendor/github.com/openshift/installer/pkg/types/gcp/platform.go
  apis/vendor/github.com/openshift/installer/pkg/types/gcp/quota.go
  apis/vendor/modules.txt
  pkg/controller/machinepool/gcpactuator.go
  pkg/controller/machinepool/gcpactuator_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/machinepools.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

modcheck -f phase 1: fix `require`s
  hack/modcheck.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

controller-gen: use vendor/, not build-machinery-go
  Makefile
  config/crds/hive.openshift.io_checkpoints.yaml
  config/crds/hive.openshift.io_clusterclaims.yaml
  config/crds/hive.openshift.io_clusterdeploymentcustomizations.yaml
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterimagesets.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  config/crds/hive.openshift.io_clusterprovisions.yaml
  config/crds/hive.openshift.io_clusterrelocates.yaml
  config/crds/hive.openshift.io_clusterstates.yaml
  config/crds/hive.openshift.io_dnszones.yaml
  config/crds/hive.openshift.io_hiveconfigs.yaml
  config/crds/hive.openshift.io_machinepoolnameleases.yaml
  config/crds/hive.openshift.io_machinepools.yaml
  config/crds/hive.openshift.io_selectorsyncidentityproviders.yaml
  config/crds/hive.openshift.io_selectorsyncsets.yaml
  config/crds/hive.openshift.io_syncidentityproviders.yaml
  config/crds/hive.openshift.io_syncsets.yaml
  config/crds/hiveinternal.openshift.io_clustersyncleases.yaml
  config/crds/hiveinternal.openshift.io_clustersyncs.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  hack/app-sre/saas-template.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revendor cluster-control-plane-machine-set-operator
  go.mod
  go.sum
  vendor/github.com/openshift/cluster-control-plane-machine-set-operator/pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

PrivateLink Actuators should return errors on failure.
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator.go
  pkg/controller/privatelink/actuator/gcpactuator/gcplinkactuator.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
