Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

HIVE-2777: Add Nutanix base API
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/nutanix/doc.go
  apis/hive/v1/nutanix/platform.go
  apis/hive/v1/nutanix/zz_generated.deepcopy.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/doc.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2777: Add initial support for deploying onto Nutanix. Add Nutanix deprovisioning support.
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/nutanix/platform.go
  apis/hive/v1/nutanix/zz_generated.deepcopy.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  contrib/pkg/deprovision/deprovision.go
  contrib/pkg/deprovision/nutanix.go
  contrib/pkg/utils/nutanix/nutanix.go
  hack/app-sre/saas-template.yaml
  pkg/constants/constants.go
  pkg/constants/nutanix.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/installconfigvalidation.go
  pkg/controller/clusterdeployment/installconfigvalidation_test.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/utils/credentials.go
  pkg/install/generate.go
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
  pkg/installmanager/testdata/nutanix-install-config-with-credentials.yaml
  pkg/installmanager/testdata/nutanix-install-config.yaml
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/installer/pkg/destroy/nutanix/OWNERS
  vendor/github.com/openshift/installer/pkg/destroy/nutanix/doc.go
  vendor/github.com/openshift/installer/pkg/destroy/nutanix/nutanix.go
  vendor/github.com/openshift/installer/pkg/destroy/nutanix/register.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

NO-ISSUE: Inject Nutanix credentials into the install-config
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
  pkg/installmanager/testdata/install-config-with-existing-pull-secret.yaml
  pkg/installmanager/testdata/install-config-with-pull-secret.yaml
  pkg/installmanager/testdata/install-config.yaml
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2779: HIVE-2778: Update docs: Add Nutanix support in ClusterDeployment and hiveutil
  README.md
  docs/hiveutil.md
  docs/using-hive.md
Due: none

Remove Nutanix ClusterPool support.
  pkg/controller/clusterpool/clusterpool_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2827: Fix MachinePool thrashing on conditions
  pkg/controller/machinepool/machinepool_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove Nutanix ClusterPool support.
  pkg/clusterresource/nutanix.go
  pkg/controller/clusterpool/clusterpool_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add optional Nutanix Prism Central CA certificate
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/nutanix/platform.go
  apis/hive/v1/nutanix/zz_generated.deepcopy.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  contrib/pkg/createcluster/create.go
  contrib/pkg/createcluster/nutanix.go
  contrib/pkg/utils/nutanix/nutanix.go
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder_test.go
  pkg/clusterresource/nutanix.go
  pkg/constants/nutanix.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/install/generate.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2270: proper e2e support for vSphere
  apis/go.mod
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/vsphere/platform.go
  apis/hive/v1/vsphere/zz_generated.deepcopy.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  contrib/pkg/createcluster/create.go
  go.mod
  go.sum
  hack/app-sre/saas-template.yaml
  hack/e2e-common.sh
  pkg/clusterresource/builder_test.go
  pkg/clusterresource/vsphere.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/machinepool/vsphereactuator.go
  pkg/controller/machinepool/vsphereactuator_test.go
  pkg/controller/utils/credentials.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterpool_validating_admission_hook.go
  vendor/github.com/bombsimon/logrusr/v4/.gitignore
  vendor/github.com/bombsimon/logrusr/v4/LICENSE
  vendor/github.com/bombsimon/logrusr/v4/README.md
  vendor/github.com/bombsimon/logrusr/v4/logrusr.go
  vendor/github.com/openshift-splat-team/vsphere-capacity-manager/LICENSE
  vendor/github.com/openshift-splat-team/vsphere-capacity-manager/pkg/apis/vspherecapacitymanager.splat.io/v1/doc.go
  vendor/github.com/openshift-splat-team/vsphere-capacity-manager/pkg/apis/vspherecapacitymanager.splat.io/v1/failure_domain_types.go
  vendor/github.com/openshift-splat-team/vsphere-capacity-manager/pkg/apis/vspherecapacitymanager.splat.io/v1/leases_types.go
  vendor/github.com/openshift-splat-team/vsphere-capacity-manager/pkg/apis/vspherecapacitymanager.splat.io/v1/network_types.go
  vendor/github.com/openshift-splat-team/vsphere-capacity-manager/pkg/apis/vspherecapacitymanager.splat.io/v1/pool_types.go
  vendor/github.com/openshift-splat-team/vsphere-capacity-manager/pkg/apis/vspherecapacitymanager.splat.io/v1/register.go
  vendor/github.com/openshift-splat-team/vsphere-capacity-manager/pkg/apis/vspherecapacitymanager.splat.io/v1/vars.go
  vendor/github.com/openshift-splat-team/vsphere-capacity-manager/pkg/apis/vspherecapacitymanager.splat.io/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2835: Minor fixes from static analysis
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/utils/utils.go
  pkg/installmanager/installmanager_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2836: CVE-2025-22872: Bump x/net to v0.38.0
  apis/go.mod
  apis/go.sum
  apis/vendor/golang.org/x/net/http2/frame.go
  apis/vendor/golang.org/x/net/http2/server.go
  apis/vendor/golang.org/x/net/http2/transport.go
  apis/vendor/golang.org/x/net/internal/httpcommon/headermap.go
  apis/vendor/golang.org/x/net/internal/httpcommon/request.go
  apis/vendor/modules.txt
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/tcpip.go
  vendor/golang.org/x/net/context/context.go
  vendor/golang.org/x/net/context/go17.go
  vendor/golang.org/x/net/context/go19.go
  vendor/golang.org/x/net/context/pre_go17.go
  vendor/golang.org/x/net/context/pre_go19.go
  vendor/golang.org/x/net/html/atom/table.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/internal/httpcommon/headermap.go
  vendor/golang.org/x/net/internal/httpcommon/request.go
  vendor/golang.org/x/net/proxy/per_host.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/golang.org/x/text/internal/number/format.go
  vendor/golang.org/x/text/language/parse.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2807: SyncSet: Accept empty patchType
  pkg/validating-webhooks/hive/v1/syncset_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/syncset_validating_admission_hook_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

[WIP] konflux/mce-2.8 fix configs (take 2)
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(HIVE-2838): privatelink-controller: paginate retrieved vpc endpoints
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2837: PrivateLink: Clean up zombie VPCEndpoints, HostedZones
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller_test.go
  pkg/controller/awsprivatelink/cleanup.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2837: Find zombie HostedZones in the right region
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Konflux build pipeline service account migration for hive Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Konflux build pipeline service account migration for hive-mce-27 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2846: Fixups for installer revendor
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/vsphereactuator.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "HIVE-2837: Find zombie HostedZones in the right region"
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "HIVE-2837: PrivateLink: Clean up zombie VPCEndpoints, HostedZones"
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller_test.go
  pkg/controller/awsprivatelink/cleanup.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix Nutanix documentation
  apis/hive/v1/nutanix/platform.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  docs/using-hive.md
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/nutanixactuator.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/platform.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add optional Nutanix Prism Central CA certificate. Inject certificate from platform.certificatesSecretRef to install-config AdditionalTrustBundle (if not exist)
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/nutanix/platform.go
  apis/hive/v1/nutanix/zz_generated.deepcopy.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  contrib/pkg/createcluster/create.go
  contrib/pkg/createcluster/nutanix.go
  contrib/pkg/utils/generic.go
  contrib/pkg/utils/nutanix/nutanix.go
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder_test.go
  pkg/clusterresource/nutanix.go
  pkg/constants/nutanix.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/install/generate.go
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Migration fixups
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Migration fixups
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Generate missing machine api files
  apis/vendor/github.com/openshift/api/machine/v1beta1/types_gcpprovider.go
  apis/vendor/github.com/openshift/api/machine/v1beta1/zz_generated.swagger_doc_generated.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2270: proper e2e support for vSphere
  apis/go.mod
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/vsphere/platform.go
  apis/hive/v1/vsphere/zz_generated.deepcopy.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  contrib/pkg/createcluster/create.go
  contrib/pkg/deprovision/vsphere.go
  go.mod
  go.sum
  hack/app-sre/saas-template.yaml
  hack/e2e-common.sh
  pkg/clusterresource/builder_test.go
  pkg/clusterresource/vsphere.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/machinepool/vsphereactuator.go
  pkg/controller/machinepool/vsphereactuator_test.go
  pkg/controller/utils/credentials.go
  pkg/install/generate.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterpool_validating_admission_hook.go
  vendor/github.com/bombsimon/logrusr/v4/.gitignore
  vendor/github.com/bombsimon/logrusr/v4/LICENSE
  vendor/github.com/bombsimon/logrusr/v4/README.md
  vendor/github.com/bombsimon/logrusr/v4/logrusr.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2624: `make modfix`
  Makefile
  docs/developing.md
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
