Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Copy nodeSelector, tolerations into Jobs
  config/controllers/deployment.yaml
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller_test.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/clusterprovision/clusterprovision_controller_test.go
  pkg/controller/utils/utils.go
  pkg/imageset/generate.go
  pkg/imageset/generate_test.go
  pkg/install/generate.go
  pkg/install/generate_test.go
  pkg/operator/assets/bindata.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add section for CD conditions in troubleshooting
  docs/troubleshooting.md
Due: none

Update docs/troubleshooting.md
  docs/troubleshooting.md
Due: none

Add alt regex for TerraformFailedToDeleteResources
  config/configmaps/install-log-regexes-configmap.yaml
Due: unit, verify, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add test for alt TerraformFailedToDeleteResources regex
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add alternate regex for TerraformFailedToDeleteResources (#2276)
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Enhancement for metricsConfig redesign
  docs/enhancements/metricsConfig_redesign.md
Due: none

Document no support of vSphere static IPs with MachinePools
  docs/using-hive.md
Due: none

HIVE-2443
  pkg/controller/machinepool/actuator.go
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/awsactuator_test.go
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/gcpactuator.go
  pkg/controller/machinepool/ibmcloudactuator.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/controller/machinepool/mock/actuator_generated.go
  pkg/controller/machinepool/openstackactuator.go
  pkg/controller/machinepool/ovirt.go
  pkg/controller/machinepool/providerspec.go
  pkg/controller/machinepool/vsphereactuator.go
  pkg/controller/machinesetwithopflags/machinsetwithopflags.go
Due: unit, verify, coverage, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePools/AWS: Match by subnet ID only
  pkg/controller/machinepool/actuator.go
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/awsactuator_test.go
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/gcpactuator.go
  pkg/controller/machinepool/ibmcloudactuator.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/controller/machinepool/mock/actuator_generated.go
  pkg/controller/machinepool/openstackactuator.go
  pkg/controller/machinepool/ovirt.go
  pkg/controller/machinepool/providerspec.go
  pkg/controller/machinepool/vsphereactuator.go
  pkg/controller/machinesetwithopflags/machinsetwithopflags.go
Due: unit, verify, coverage, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePool/AWS: Match MachineSets by AZ only (not subnet)
  apis/hive/v1/aws/machinepool.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/machinepool_controller.go
  vendor/github.com/openshift/hive/apis/hive/v1/aws/machinepool.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Document ClusterPool support for OpenStack
  docs/clusterpools.md
Due: none

Skip Konflux builds when possible
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

DNM: Test konflux skip-build regex
  OWNERS
  README.md
  docs/sample.go
Due: coverage, ci/prow/coverage

HIVE-2509: Add missing backslash escaping
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

konflux-skip-test
  docs/FAQs.md
Due: none

DO-NOT-MERGE: Konflux-not-skip-test
  Dockerfile
Due: unit, verify, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add configv1 import to machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2510: deprecated image check to 0.4
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update RHTAP references
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ACM-11805: Use Entitled builds for Konflux
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  Containerfile
Due: unit, verify, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update prod datasource
  hack/grafana-dashboards/grafana-dashboard-hive-slo.configmap.yaml
Due: unit, verify, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Nil check for InstalledTimeStamp missing
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fetch centos stream9 because stream8 is EOL
  Dockerfile
Due: unit, verify, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Reuse restConfigClientGetter when creating cmdutil.Factory
  apis/hiveinternal/v1alpha1/clustersync_types.go
  contrib/pkg/adm/managedns/enable.go
  contrib/pkg/testresource/command.go
  contrib/pkg/utils/generic.go
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/clustersync/clustersync_controller_test.go
  pkg/controller/controlplanecerts/controlplanecerts_controller.go
  pkg/controller/remoteingress/remoteingress_controller.go
  pkg/operator/hive/hive_controller.go
  pkg/remoteclient/fake.go
  pkg/remoteclient/kubeconfig.go
  pkg/remoteclient/mock/remoteclient_generated.go
  pkg/remoteclient/remoteclient.go
  pkg/resource/helper.go
  pkg/resource/restconfig_factory.go
  vendor/github.com/openshift/hive/apis/hiveinternal/v1alpha1/clustersync_types.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

privatelink-controller: add privatelink controller
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/hiveconfig_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  cmd/manager/main.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  pkg/constants/constants.go
  pkg/controller/privatelink/actuator/actuator.go
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator.go
  pkg/controller/privatelink/conditions/conditions.go
  pkg/controller/privatelink/dnsrecord/dnsrecord.go
  pkg/controller/privatelink/privatelink_controller.go
  pkg/operator/hive/configmap.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

WIP: Awsactuator
  pkg/controller/privatelink/actuator/awsactuator/awsactuator.go
  pkg/controller/privatelink/actuator/awsactuator/awsclient.go
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator.go
  pkg/controller/privatelink/actuator/awsactuator/awslinkactuator.go
  pkg/controller/privatelink/actuator/awsactuator/vpcinventory.go
  pkg/controller/privatelink/privatelink_controller.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

dummy pr
  hack/e2e-common.sh
Due: unit, verify, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "Reuse restConfigClientGetter when creating cmdutil.Factory"
  apis/hiveinternal/v1alpha1/clustersync_types.go
  contrib/pkg/adm/managedns/enable.go
  contrib/pkg/testresource/command.go
  contrib/pkg/utils/generic.go
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/clustersync/clustersync_controller_test.go
  pkg/controller/controlplanecerts/controlplanecerts_controller.go
  pkg/controller/remoteingress/remoteingress_controller.go
  pkg/operator/hive/hive_controller.go
  pkg/remoteclient/fake.go
  pkg/remoteclient/kubeconfig.go
  pkg/remoteclient/mock/remoteclient_generated.go
  pkg/remoteclient/remoteclient.go
  pkg/resource/helper.go
  pkg/resource/restconfig_factory.go
  vendor/github.com/openshift/hive/apis/hiveinternal/v1alpha1/clustersync_types.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
