Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

fix(awsactuator): add pre-4.16 SG filters
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/awsactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePools/OpenStack: Fix nil pointer exception
  pkg/controller/machinepool/openstackactuator.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePool failure domain logging
  pkg/controller/machinepool/machinepool_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(KONFLUX-3663): upload SAST results to quay.io
  .tekton/hive-mce-25-pull-request.yaml
  .tekton/hive-mce-25-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(KONFLUX-3663): format Tekton PipelineRun files
  .tekton/hive-mce-25-pull-request.yaml
  .tekton/hive-mce-25-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(KONFLUX-3663): format Tekton PipelineRun files
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(KONFLUX-3663): upload SAST results to quay.io
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterPool: Label owned ClusterDeployments
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Document ClusterPool troubleshooting
  docs/clusterpools.md
  docs/troubleshooting.md
Due: none

DNM: Error clustersync controller for backoff
  pkg/controller/clustersync/clustersync_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fieldManager: "hive-$controllername"
  contrib/pkg/adm/managedns/enable.go
  contrib/pkg/awsprivatelink/awsprivatelink.go
  contrib/pkg/clusterpool/clusterclaim.go
  contrib/pkg/clusterpool/clusterpool.go
  contrib/pkg/createcluster/create.go
  contrib/pkg/deprovision/awstagdeprovision.go
  contrib/pkg/deprovision/azure.go
  contrib/pkg/deprovision/gcp.go
  contrib/pkg/deprovision/ibmcloud.go
  contrib/pkg/deprovision/openstack.go
  contrib/pkg/deprovision/ovirt.go
  contrib/pkg/deprovision/vsphere.go
  contrib/pkg/report/deprovisioning.go
  contrib/pkg/report/provisioning.go
  contrib/pkg/utils/client.go
  contrib/pkg/utils/generic.go
  docs/syncset.md
  pkg/controller/clusterrelocate/clusterrelocate_controller.go
  pkg/controller/clusterrelocate/clusterrelocate_controller_test.go
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/utils/clientwrapper.go
  pkg/imageset/updateinstaller.go
  pkg/installmanager/installmanager.go
  pkg/operator/hive/hive_controller.go
  pkg/remoteclient/kubeconfig.go
  pkg/remoteclient/remoteclient.go
  pkg/resource/apply.go
  pkg/resource/helper.go
  pkg/resource/patch.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix MachinePool poll interval for sharded controller
  pkg/controller/machinepool/machinepool_controller.go
  pkg/operator/hive/hive.go
  pkg/operator/hive/sharded_controllers.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

feat(docs): Add mkdocs.yml for InScope
  mkdocs.yml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e: Capture logs from statefulsets (clustersync, machinepool)
  hack/e2e-common.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Azure MachinePool: NetworkResourceGroupName, ComputSubnet, VirtualNetwork
  apis/hive/v1/azure/machinepool.go
  apis/hive/v1/machinepool_types.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/machinepool.go
  vendor/github.com/openshift/hive/apis/hive/v1/machinepool_types.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePool API: MachineLabels
  apis/hive/v1/machinepool_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/test/machinepool/machinepool.go
  vendor/github.com/openshift/hive/apis/hive/v1/machinepool_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove existing Secret files in (deprovision) Pod
  contrib/pkg/utils/generic.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Replumb AssumeRole (AWS)
  contrib/pkg/utils/aws/aws.go
  docs/awsassumerolecreds.md
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/install/generate.go
  pkg/installmanager/aws_credentials.go
  pkg/installmanager/aws_credentials_test.go
  pkg/installmanager/installmanager.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Forbid and convert credential_process
  contrib/pkg/utils/aws/aws.go
  contrib/pkg/utils/azure/azure.go
  contrib/pkg/utils/gcp/gcp.go
  contrib/pkg/utils/generic.go
  contrib/pkg/utils/openstack/openstack.go
  contrib/pkg/utils/ovirt/ovirt.go
  contrib/pkg/utils/vsphere/vsphere.go
  pkg/awsclient/client.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeprovision/awsactuator.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/dnszone/dnszone_controller.go
  pkg/controller/hibernation/aws_actuator.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/utils/secrets.go
  pkg/install/generate.go
  pkg/installmanager/installmanager.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

AWS: Forbid case-insensitive `credential_process`
  pkg/awsclient/client.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Forbid kubeconfig exec
  pkg/controller/argocdregister/argocdregister_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/cleanup.go
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterinstalls.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/utils/secrets.go
  pkg/remoteclient/kubeconfig.go
  pkg/remoteclient/remoteclient.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

GOCACHE dir may not exist
  Makefile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add e2e support for vsphere
  hack/e2e-common.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Snyk: Ignore azidentity
  .snyk
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Document SyncSet ApplyBehavior
  docs/syncset.md
Due: none

Update syncset doc for applyBehavior
  docs/syncset.md
Due: none

PrivateLink AWS hub actuator to select a vpc in the privatelink hub account.
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Tech Debt: azureactuator_test: remove unused param
  pkg/controller/machinepool/azureactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Azure MachinePool: Add VMNetworkType
  apis/hive/v1/azure/machinepool.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/machinepool.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
