Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, e2e-vsphere, e2e-openstack, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

unit:
  commands: GO_COMPLIANCE_INFO=0 make test
  container:
    from: src

verify:
  commands: GO_COMPLIANCE_INFO=0 make verify
  container:
    from: src

coverage:
  commands: 'export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
  
    GO_COMPLIANCE_INFO=0 make coverage
  
    '
  container:
    from: src
  secret:
    mount_path: /tmp/secret
    name: hive-codecov-token

security:
  steps:
    env:
      SNYK_CODE_ADDITIONAL_ARGS: --severity-threshold=high
      SNYK_ENABLE_DEPS_SCAN: 'true'
    workflow: openshift-ci-security

e2e:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.19'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-pool:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.19'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-gcp:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=gcp make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-azure:
  steps:
    cluster_profile: azure4
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=azure make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
  ...

e2e-vsphere:
  steps:
    cluster_profile: vsphere-elastic
    env:
      VSPHERE_ADDITIONAL_CLUSTER: 'true'
    test:
    - as: test
      cli: latest
      commands: 'source $SHARED_DIR/vsphere_context.sh
  
        source $SHARED_DIR/govc.sh
  
        source $SHARED_DIR/additional_cluster.sh
  
  
  ...

e2e-openstack:
  steps:
    cluster_profile: openstack-vexxhost
    env:
      BASE_DOMAIN: shiftstack.devcluster.openshift.com
      CONFIG_TYPE: minimal
      HIVE_OSP_RESOURCE: 'true'
    test:
    - as: test
      cli: latest
      commands: 'export OS_CLIENT_CONFIG_FILE=${SHARED_DIR}/clouds.yaml
  
  ...

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Update installer to v1.4.21-pre
  apis/go.mod
  apis/go.sum
  apis/hive/v1/clusterdeployment_types.go
  config/crds/hive.openshift.io_checkpoints.yaml
  config/crds/hive.openshift.io_clusterclaims.yaml
  config/crds/hive.openshift.io_clusterdeploymentcustomizations.yaml
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterimagesets.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  config/crds/hive.openshift.io_clusterprovisions.yaml
  config/crds/hive.openshift.io_clusterrelocates.yaml
  config/crds/hive.openshift.io_clusterstates.yaml
  config/crds/hive.openshift.io_dnszones.yaml
  config/crds/hive.openshift.io_hiveconfigs.yaml
  config/crds/hive.openshift.io_machinepoolnameleases.yaml
  config/crds/hive.openshift.io_machinepools.yaml
  config/crds/hive.openshift.io_selectorsyncidentityproviders.yaml
  config/crds/hive.openshift.io_selectorsyncsets.yaml
  config/crds/hive.openshift.io_syncidentityproviders.yaml
  config/crds/hive.openshift.io_syncsets.yaml
  config/crds/hiveinternal.openshift.io_clustersyncleases.yaml
  config/crds/hiveinternal.openshift.io_clustersyncs.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  go.mod
  go.sum
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder_test.go
  pkg/clusterresource/installconfigtemplate_test.go
  pkg/controller/clusterrelocate/clusterrelocate_controller.go
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
  pkg/controller/machinepool/nutanixactuator.go
  pkg/controller/machinepool/nutanixactuator_test.go
  pkg/installmanager/testdata/install-config-with-existing-pull-secret.yaml
  pkg/installmanager/testdata/install-config-with-pull-secret.yaml
  pkg/installmanager/testdata/install-config.yaml
  pkg/installmanager/testdata/nutanix-install-config-with-credentials.yaml
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revendor installer to 614e18ee6a52005c19fa93cdb07177f04965e65b
  vendor/github.com/openshift/installer/pkg/asset/installconfig/aws/tags.go
  vendor/github.com/openshift/installer/pkg/asset/installconfig/aws/validation.go
  vendor/github.com/openshift/installer/pkg/asset/installconfig/powervs/regions.go
  vendor/github.com/openshift/installer/pkg/asset/machines/aws/awsmachines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/aws/machines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/azure/azuremachines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/azure/machines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/openstack/const.go
  vendor/github.com/openshift/installer/pkg/asset/machines/openstack/machines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/openstack/openstackmachines.go
  vendor/github.com/openshift/installer/pkg/destroy/aws/aws.go
  vendor/github.com/openshift/installer/pkg/destroy/aws/elbhelpers.go
  vendor/github.com/openshift/installer/pkg/destroy/gcp/cloudcontroller.go
  vendor/github.com/openshift/installer/pkg/destroy/gcp/firewall.go
  vendor/github.com/openshift/installer/pkg/types/aws/defaults/machinepool.go
  vendor/github.com/openshift/installer/pkg/types/aws/machinepool.go
  vendor/github.com/openshift/installer/pkg/types/aws/validation/machinepool.go
  vendor/github.com/openshift/installer/pkg/types/aws/zz_generated.deepcopy.go
  vendor/github.com/openshift/installer/pkg/types/baremetal/defaults/platform.go
  vendor/github.com/openshift/installer/pkg/types/baremetal/platform.go
  vendor/github.com/openshift/installer/pkg/types/baremetal/validation/featuregates.go
  vendor/github.com/openshift/installer/pkg/types/baremetal/validation/platform.go
  vendor/github.com/openshift/installer/pkg/types/defaults/machinepools.go
  vendor/github.com/openshift/installer/pkg/types/nutanix/defaults/platform.go
  vendor/github.com/openshift/installer/pkg/types/nutanix/platform.go
  vendor/github.com/openshift/installer/pkg/types/nutanix/validation/featuregates.go
  vendor/github.com/openshift/installer/pkg/types/nutanix/validation/platform.go
  vendor/github.com/openshift/installer/pkg/types/openstack/defaults/platform.go
  vendor/github.com/openshift/installer/pkg/types/openstack/platform.go
  vendor/github.com/openshift/installer/pkg/types/openstack/validation/featuregates.go
  vendor/github.com/openshift/installer/pkg/types/openstack/validation/platform.go
  vendor/github.com/openshift/installer/pkg/types/validation/installconfig.go
  vendor/github.com/openshift/installer/pkg/types/vsphere/defaults/platform.go
  vendor/github.com/openshift/installer/pkg/types/vsphere/platform.go
  vendor/github.com/openshift/installer/pkg/types/vsphere/validation/featuregates.go
  vendor/github.com/openshift/installer/pkg/types/vsphere/validation/platform.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, e2e-vsphere, e2e-openstack, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update installer to 1c2444827f237115ce81aef693415547fd4c42a7
  go.mod
  go.sum
  hack/e2e-common.sh
  pkg/controller/machinepool/azureactuator_test.go
  pkg/installmanager/testdata/install-config-with-existing-pull-secret.yaml
  pkg/installmanager/testdata/install-config.yaml
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revendor installer to 1c2444827f237115ce81aef693415547fd4c42a7
  vendor/github.com/openshift/installer/pkg/asset/installconfig/gcp/permissions.go
  vendor/github.com/openshift/installer/pkg/asset/installconfig/gcp/validation.go
  vendor/github.com/openshift/installer/pkg/asset/installconfig/installconfig.go
  vendor/github.com/openshift/installer/pkg/asset/machines/azure/azuremachines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/azure/machines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/vsphere/machines.go
  vendor/github.com/openshift/installer/pkg/types/gcp/defaults/platform.go
  vendor/github.com/openshift/installer/pkg/types/gcp/platform.go
  vendor/github.com/openshift/installer/pkg/types/gcp/validation/platform.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awscluster_webhook.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmachinetemplate_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/tags.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, e2e-vsphere, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update installer to 614e18ee6a52005c19fa93cdb07177f04965e65b
  go.mod
  go.sum
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

claude: Add suggest-make slash command
  .claude/commands/suggest-make.md
Due: none

HIVE-3051: Add Plan field to Azure OSImage to support marketplace image types
  apis/hive/v1/azure/machinepool.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/azureactuator.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/machinepool.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Konflux: Enable caching
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-211-pull-request.yaml
  .tekton/hive-mce-211-push.yaml
  .tekton/hive-mce-26-pull-request.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-mce-28-pull-request.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix: address CEL warnings from Konflux
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-211-pull-request.yaml
  .tekton/hive-mce-26-pull-request.yaml
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-28-pull-request.yaml
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-pull-request.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2199: Simplify MachinePool ownership detection to label-only
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3002: IBMCloud MachinePools: Snowflake FailureDomain matching
  pkg/controller/machinepool/ibmcloudactuator_test.go
  pkg/controller/machinepool/machinepool_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3047: GCP MachinePool (Network) Tags
  apis/hive/v1/gcp/machinepools.go
  apis/hive/v1/gcp/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/gcpactuator.go
  pkg/controller/machinepool/gcpactuator_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/machinepools.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Doc: Clarify MachinePool/MachineSet management mutex
  docs/using-hive.md
Due: none

Bump all golang builder versions to at least go 1.24.11 (CVE-2025-61729)
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-211-pull-request.yaml
  .tekton/hive-mce-211-push.yaml
  .tekton/hive-mce-26-pull-request.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-mce-28-pull-request.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  apis/go.mod
  go.mod
  hack/ubi-build-deps.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

doc: Document manual procedure for detaching MachineSets from MachinePool
  docs/using-hive.md
Due: none

NO-JIRA: MachinePool doc: match default worker install-config
  docs/using-hive.md
Due: none

HIVE-3020: docs: add MachinePool adoption documentation
  docs/using-hive.md
Due: none

ignoring version when comparing resource references
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/clustersync/clustersync_controller_test.go
  pkg/test/syncset/syncset.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

expecting resource to exist after reconcile
  pkg/controller/clustersync/clustersync_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

update test to not look for obj because apply was mocked
  pkg/controller/clustersync/clustersync_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3030: Add hiveutil machinepool command for adopt/create/detach
  contrib/cmd/hiveutil/main.go
  contrib/pkg/machinepool/adopt.go
  contrib/pkg/machinepool/builder.go
  contrib/pkg/machinepool/command.go
  contrib/pkg/machinepool/create.go
  contrib/pkg/machinepool/detach.go
  contrib/pkg/machinepool/helpers.go
  contrib/pkg/machinepool/internal/bind.go
  contrib/pkg/machinepool/platform_handlers.go
  docs/hiveutil.md
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3030: Add hiveutil machinepool command for adopt/create/detach
  contrib/cmd/hiveutil/main.go
  contrib/pkg/machinepool/adopt.go
  contrib/pkg/machinepool/command.go
  contrib/pkg/machinepool/create.go
  contrib/pkg/machinepool/detach.go
  contrib/pkg/machinepool/extract.go
  contrib/pkg/machinepool/helpers.go
  docs/hiveutil.md
  pkg/clusterresource/aws.go
  pkg/clusterresource/azure.go
  pkg/clusterresource/builder.go
  pkg/clusterresource/gcp.go
  pkg/clusterresource/ibmcloud.go
  pkg/clusterresource/nutanix.go
  pkg/clusterresource/openstack.go
  pkg/clusterresource/vsphere.go
  pkg/machinepoolresource/aws.go
  pkg/machinepoolresource/azure.go
  pkg/machinepoolresource/build.go
  pkg/machinepoolresource/gcp.go
  pkg/machinepoolresource/ibmcloud.go
  pkg/machinepoolresource/nutanix.go
  pkg/machinepoolresource/openstack.go
  pkg/machinepoolresource/platform.go
  pkg/machinepoolresource/vsphere.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, e2e-vsphere, e2e-openstack, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3067 infra_test: match machine pool e2e by Hive labels
  hack/e2e-test.sh
  test/e2e/common/client.go
  test/e2e/postinstall/machinesets/infra_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Make the cluster in e2e-pool use legacy deprovision
  hack/e2e-pool-test.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add MCE 2.17 tekton files
  .tekton/hive-mce-217-pull-request.yaml
  .tekton/hive-mce-217-push.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Red Hat Konflux update hive-mce-217
  .tekton/hive-mce-217-pull-request.yaml
  .tekton/hive-mce-217-push.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Install subscription-manager each place that it's used
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix apiVersion in patch-install-manifests.md
  docs/enhancements/patch-install-manifests.md
Due: none

adding documentation for why we should ignore apiVersion
  pkg/controller/clustersync/clustersync_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3074: VSphere preflight check uses hive trusted CA bundle
  pkg/controller/utils/credentials.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3068: e2e: Capture spoke nodes & pods
  hack/e2e-common.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  e2e-vsphere: any of: vsphere
  e2e-openstack: any of: openstack
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
