Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, e2e-vsphere, e2e-openstack, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

unit:
  commands: GO_COMPLIANCE_INFO=0 make test
  container:
    from: src

verify:
  commands: GO_COMPLIANCE_INFO=0 make verify
  container:
    from: src

coverage:
  commands: 'export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
  
    GO_COMPLIANCE_INFO=0 make coverage
  
    '
  container:
    from: src
  secret:
    mount_path: /tmp/secret
    name: hive-codecov-token

security:
  steps:
    env:
      SNYK_CODE_ADDITIONAL_ARGS: --severity-threshold=high
      SNYK_ENABLE_DEPS_SCAN: 'true'
    workflow: openshift-ci-security

e2e:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.19'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-pool:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.19'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-gcp:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=gcp make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-azure:
  steps:
    cluster_profile: azure4
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=azure make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
  ...

e2e-vsphere:
  steps:
    cluster_profile: vsphere-elastic
    env:
      VSPHERE_ADDITIONAL_CLUSTER: 'true'
    test:
    - as: test
      cli: latest
      commands: 'source $SHARED_DIR/vsphere_context.sh
  
        source $SHARED_DIR/govc.sh
  
        source $SHARED_DIR/additional_cluster.sh
  
  
  ...

e2e-openstack:
  steps:
    cluster_profile: openstack-vexxhost
    env:
      BASE_DOMAIN: shiftstack.devcluster.openshift.com
      CONFIG_TYPE: minimal
      HIVE_OSP_RESOURCE: 'true'
    test:
    - as: test
      cli: latest
      commands: 'export OS_CLIENT_CONFIG_FILE=${SHARED_DIR}/clouds.yaml
  
  ...

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

HIVE-3068: e2e: Save spoke autoscaler logs
  hack/e2e-common.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Make the cluster in e2e-pool use legacy deprovision
  hack/e2e-pool-test.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Capture Deprovision logs
  hack/e2e-common.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2391: VSphere zonal part deux
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/vsphere/machinepools.go
  apis/hive/v1/vsphere/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_machinepools.yaml
  contrib/pkg/createcluster/create.go
  contrib/pkg/deprovision/vsphere.go
  docs/using-hive.md
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/vsphereactuator.go
  pkg/controller/machinepool/vsphereactuator_test.go
  pkg/controller/utils/credentials.go
  pkg/creds/vsphere/vsphere.go
  pkg/install/generate.go
  pkg/installmanager/installmanager.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/machinepools.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-vsphere, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3068: e2e: Save spoke autoscaler logs, f'real
  hack/e2e-common.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3068: e2e: Increase spoke autoscaler log verbosity
  test/e2e/postinstall/machinesets/infra_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3068: e2e: Capture pods at more points in autoscaler test
  hack/e2e-common.sh
  test/e2e/postinstall/machinesets/infra_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

chore: adopt the `stolostron` common pipeline
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-211-pull-request.yaml
  .tekton/hive-mce-211-push.yaml
  .tekton/hive-mce-217-pull-request.yaml
  .tekton/hive-mce-217-push.yaml
  .tekton/hive-mce-26-pull-request.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-mce-28-pull-request.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2944: Fix legacy AWS deprovision paths
  contrib/pkg/deprovision/awstagdeprovision.go
  pkg/installmanager/installmanager.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3075: Bump golang to 1.24.13
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-211-pull-request.yaml
  .tekton/hive-mce-211-push.yaml
  .tekton/hive-mce-217-pull-request.yaml
  .tekton/hive-mce-217-push.yaml
  .tekton/hive-mce-26-pull-request.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-mce-28-pull-request.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  apis/go.mod
  go.mod
  hack/ubi-build-deps.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e-pool: add legacy deprovision + capture deprovision yaml
  hack/e2e-common.sh
  hack/e2e-pool-test.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2391: VSphere zonal part deux
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/vsphere/machinepools.go
  apis/hive/v1/vsphere/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_machinepools.yaml
  contrib/pkg/createcluster/create.go
  contrib/pkg/deprovision/vsphere.go
  docs/hiveutil.md
  docs/using-hive.md
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/vsphereactuator.go
  pkg/controller/machinepool/vsphereactuator_test.go
  pkg/controller/utils/credentials.go
  pkg/creds/vsphere/vsphere.go
  pkg/install/generate.go
  pkg/installmanager/installmanager.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/machinepools.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-vsphere, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

RFE-7373 | feat: add permissions to delete ClusterSync(leases)
  config/rbac/hive_frontend_role.yaml
  pkg/operator/assets/bindata.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Build containers without python deps
  Dockerfile
  Makefile
  hack/ubi-build-deps.sh
  hack/version2.py
  hack/version2.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update Makefile
  Makefile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

coderabbit: add config
  .coderabbit.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-1468: VSphere: Allow minReplicas=0 for autoscaling
  pkg/validating-webhooks/hive/v1/machinepool_validating_admission_hook.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Red Hat Konflux update hive-mce-50
  .tekton/hive-mce-50-pull-request.yaml
  .tekton/hive-mce-50-push.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3096: CI: Skip image signature verification
  hack/e2e-pool-test.sh
  hack/e2e-test.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Use ServerVersion instead of restmapper.GetAPIGroupResources for initial reachability check
  pkg/remoteclient/kubeconfig.go
  pkg/remoteclient/remoteclient.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HiveMetrics doc: link to viewing metrics with Prometheus
  docs/hive_metrics.md
Due: none

HACK: Use reflection to set private fieldManager for resource patching
  pkg/resource/patch.go
  pkg/resource/patch_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add buffer pooling to resource helper
  pkg/resource/apply.go
  pkg/resource/bufferpool.go
  pkg/resource/patch.go
  pkg/resource/serializer.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3114: Azure MachinePool: Increase timeout for ListImagesByResourceGroup()
  pkg/controller/machinepool/azureactuator.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Switch generate-saas-template to shell
  Makefile
  hack/app-sre/generate-saas-template.py
  hack/app-sre/generate-saas-template.sh
  hack/app-sre/saas-template-stub.yaml
  hack/app-sre/saas-template.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Prompt coderabbit to skip the vendor folder (again?)
  .coderabbit.yaml
  CLAUDE.md
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2391: VSphere zonal part deux
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/vsphere/machinepools.go
  apis/hive/v1/vsphere/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_machinepools.yaml
  contrib/pkg/createcluster/create.go
  contrib/pkg/deprovision/vsphere.go
  docs/hiveutil.md
  docs/using-hive.md
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder_test.go
  pkg/clusterresource/vsphere.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/installconfigvalidation.go
  pkg/controller/clusterdeployment/installconfigvalidation_test.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/controller/machinepool/vsphereactuator.go
  pkg/controller/machinepool/vsphereactuator_test.go
  pkg/controller/utils/credentials.go
  pkg/creds/vsphere/vsphere.go
  pkg/install/generate.go
  pkg/installmanager/installmanager.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  pkg/validating-webhooks/hive/v1/clusterpool_validating_admission_hook.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/machinepools.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-vsphere, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  e2e-vsphere: any of: vsphere
  e2e-openstack: any of: openstack
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
