Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

add debugging for RHSM issue to Dockerfile
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(builds): RHEL9 disable Subs manager
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(konflux): use activation key (#2367)
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(builds): Only unlink rhsm-host when act key
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Red Hat Konflux update hive-mce-27 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(builds): mce-2.7 built from master
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Build Konflux mce-2.7 component from master (#2384)
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

machinepool: sort ownedLabels, ownedTaints
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Replumb AssumeRole (AWS)
  contrib/pkg/utils/aws/aws.go
  docs/awsassumerolecreds.md
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/install/generate.go
  pkg/installmanager/aws_credentials.go
  pkg/installmanager/aws_credentials_test.go
  pkg/installmanager/installmanager.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Forbid and convert credential_process
  contrib/pkg/utils/aws/aws.go
  contrib/pkg/utils/azure/azure.go
  contrib/pkg/utils/gcp/gcp.go
  contrib/pkg/utils/generic.go
  contrib/pkg/utils/openstack/openstack.go
  contrib/pkg/utils/ovirt/ovirt.go
  contrib/pkg/utils/vsphere/vsphere.go
  pkg/awsclient/client.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeprovision/awsactuator.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/dnszone/dnszone_controller.go
  pkg/controller/hibernation/aws_actuator.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/utils/secrets.go
  pkg/install/generate.go
  pkg/installmanager/installmanager.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

AWS: Forbid case-insensitive `credential_process`
  pkg/awsclient/client.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Forbid kubeconfig exec
  pkg/controller/argocdregister/argocdregister_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/cleanup.go
  pkg/controller/clusterclaim/clusterclaim_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterinstalls.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/utils/secrets.go
  pkg/remoteclient/kubeconfig.go
  pkg/remoteclient/remoteclient.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add ControllerReplica printColumn to clustersync
  apis/hiveinternal/v1alpha1/clustersync_types.go
  config/crds/hiveinternal.openshift.io_clustersyncs.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hiveinternal/v1alpha1/clustersync_types.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Rewrite hack/update-codegen.sh
  apis/hive/v1/agent/doc.go
  apis/hive/v1/aws/doc.go
  apis/hive/v1/azure/doc.go
  apis/hive/v1/baremetal/doc.go
  apis/hive/v1/doc.go
  apis/hive/v1/gcp/doc.go
  apis/hive/v1/ibmcloud/doc.go
  apis/hive/v1/metricsconfig/doc.go
  apis/hive/v1/none/doc.go
  apis/hive/v1/openstack/doc.go
  apis/hive/v1/ovirt/doc.go
  apis/hive/v1/vsphere/doc.go
  apis/hive/v1/zz_generated.defaults.go
  apis/hivecontracts/v1alpha1/doc.go
  apis/hivecontracts/v1alpha1/register.go
  apis/hiveinternal/v1alpha1/doc.go
  apis/hiveinternal/v1alpha1/register.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  hack/update-codegen.sh
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Build faster and leaner: pip fixes
  Dockerfile
  Makefile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(builds): Use brew images in konflux
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

chore(builds): drop unused Fedora-dev
  build/fedora-dev/Dockerfile.dev
  build/fedora-dev/Dockerfile.devbase
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(build): build hiveutil separately
  Dockerfile
  Makefile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(konflux): use activation key (#2367)
  .tekton/hive-mce-26-pull-request.yaml
  .tekton/hive-mce-26-push.yaml
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Run installmanager binary in install container for fips compatibility
  Dockerfile
  Dockerfile.ubi
  contrib/pkg/utils/generic.go
  hack/e2e-common.sh
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/imageset/updateinstaller.go
  pkg/imageset/updateinstaller_test.go
  pkg/install/generate.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2400: fix obsolete python references
  Makefile
  hack/app-sre/generate-saas-template.py
  hack/bundle-gen.py
  hack/statuspatch
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Consolidate Dockerfiles
  Dockerfile
  Dockerfile.ubi
  build/build-image/Dockerfile
  hack/app_sre_build_deploy.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

DNM: e2e-azure tester
  README.md
Due: none

Build faster and leaner: podman-dev-build uses local go cache
  Makefile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add python dep 'semver' to hack/requirements.txt
  hack/requirements.txt
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
