Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, e2e-vsphere, e2e-openstack, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

unit:
  commands: GO_COMPLIANCE_INFO=0 make test
  container:
    from: src

verify:
  commands: GO_COMPLIANCE_INFO=0 make verify
  container:
    from: src

coverage:
  commands: 'export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
  
    GO_COMPLIANCE_INFO=0 make coverage
  
    '
  container:
    from: src
  secret:
    mount_path: /tmp/secret
    name: hive-codecov-token

security:
  steps:
    env:
      SNYK_CODE_ADDITIONAL_ARGS: --severity-threshold=high
      SNYK_ENABLE_DEPS_SCAN: 'true'
    workflow: openshift-ci-security

e2e:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.19'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-pool:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.19'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-gcp:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=gcp make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-azure:
  steps:
    cluster_profile: azure4
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=azure make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
  ...

e2e-vsphere:
  steps:
    cluster_profile: vsphere-elastic
    env:
      VSPHERE_ADDITIONAL_CLUSTER: 'true'
    test:
    - as: test
      cli: latest
      commands: 'source $SHARED_DIR/vsphere_context.sh
  
        source $SHARED_DIR/govc.sh
  
        source $SHARED_DIR/additional_cluster.sh
  
  
  ...

e2e-openstack:
  steps:
    cluster_profile: openstack-vexxhost
    env:
      BASE_DOMAIN: shiftstack.devcluster.openshift.com
      CONFIG_TYPE: minimal
      HIVE_OSP_RESOURCE: 'true'
    test:
    - as: test
      cli: latest
      commands: 'export OS_CLIENT_CONFIG_FILE=${SHARED_DIR}/clouds.yaml
  
  ...

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

add background watcher to apply baseline deny-all netpols to clusterpool namespaces
  hack/e2e-common.sh
  hack/e2e-pool-test.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

review revisions
  hack/e2e-common.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update RPM lockfile for hermetic builds
  hack/hermetic/rpms.lock.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3194: Switch to PQC base images
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-211-push.yaml
  .tekton/hive-mce-217-push.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-mce-50-push.yaml
  .tekton/hive-mce-51-push.yaml
  .tekton/hive-mce-52-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  Dockerfile
  Dockerfile.ote
  Makefile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-105520: VSphere: Clear upconverted deprecated fields
  pkg/controller/utils/vsphereutils/vsphere.go
  pkg/controller/utils/vsphereutils/vsphereutils_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-vsphere, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-91668: lazy vSphere template backfill per review
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/vsphereactuator.go
  pkg/controller/machinepool/vsphereactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-vsphere, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3199: Bump golang builders to 1.26.7
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-211-push.yaml
  .tekton/hive-mce-217-push.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-mce-50-push.yaml
  .tekton/hive-mce-51-push.yaml
  .tekton/hive-mce-52-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  apis/go.mod
  go.mod
  hack/ubi-build-deps.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Test: Add temporary vSphere legacy-template verification
  hack/e2e-test.sh
  test/e2e/postinstall/machinesets/legacy_template_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3204: MintMaker to propose RPM lockfile bumps
  hack/hermetic/README.md
  renovate.json
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

handle WaitingForMachines state in remote cluster for hibernation controller
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3207: Unify builders on registry.redhat.io
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-211-push.yaml
  .tekton/hive-mce-217-push.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-mce-50-push.yaml
  .tekton/hive-mce-51-push.yaml
  .tekton/hive-mce-52-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  Dockerfile
  Dockerfile.ote
  Makefile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3205: TLS curves ("group preferences")
  pkg/operator/hive/hiveadmission.go
  pkg/operator/hive/hiveadmission_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

clustersync: Template source secret names
  apis/hive/v1/syncset_types.go
  config/crds/hive.openshift.io_selectorsyncsets.yaml
  config/crds/hive.openshift.io_syncsets.yaml
  docs/syncset.md
  hack/app-sre/saas-template.yaml
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/clustersync/secret_mapping_templates_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/syncset_types.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

clustersync: Separate secret mapping templates
  apis/hive/v1/syncset_types.go
  config/crds/hive.openshift.io_selectorsyncsets.yaml
  config/crds/hive.openshift.io_syncsets.yaml
  docs/syncset.md
  hack/app-sre/saas-template.yaml
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/clustersync/secret_mapping_templates_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/syncset_types.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

docs: Describe secret mapping templates generically
  docs/syncset.md
Due: none

HIVE-3214: CVE-2026-88031: bump mongodb
  go.mod
  go.sum
  test/ote/go.mod
  test/ote/go.sum
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3194: PQC for OperatorHub
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3202: Fix nil pointer panic
  pkg/controller/dnsendpoint/nameserver/aws.go
  pkg/controller/dnsendpoint/nameserver/aws_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Document PreserveOnDelete behavior for DNS delegation records
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/dnszone_types.go
  docs/managed-dns.md
  docs/move_clusters.md
  pkg/controller/dnsendpoint/dnsendpoint_controller.go
  pkg/controller/dnszone/dnszone_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Regenerate CRD manifests after API comment updates
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_dnszones.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Sync vendored apis submodule after API comment updates
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/dnszone_types.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Regenerate app-sre SaaS template after API comment updates
  docs/move_clusters.md
  hack/app-sre/saas-template.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3204: Hermetic: Parameterize SSL paths in redhat.repo
  hack/hermetic/redhat.repo
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

CVE-2026-84445: bump grpc
  test/ote/go.mod
  test/ote/go.sum
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3217: Stabilize Azure weekly e2e diagnostics
  hack/e2e-test.sh
  test/e2e/postinstall/machinesets/diagnostics_test.go
  test/e2e/postinstall/machinesets/infra_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3200: Redesign throttle backoff using error-wrapping pattern
  pkg/controller/dnsendpoint/dnsendpoint_controller.go
  pkg/controller/utils/delayingreconciler.go
  pkg/controller/utils/delayingreconciler_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3217: Preserve newest bounded diagnostics
  test/e2e/postinstall/machinesets/diagnostics_test.go
  test/e2e/postinstall/machinesets/infra_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Address review refinements: first-match semantics, single log entry, counter cleanup
  pkg/controller/dnsendpoint/dnsendpoint_controller.go
  pkg/controller/utils/delayingreconciler.go
  pkg/controller/utils/delayingreconciler_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3200: break after match, variadic backoffs
  pkg/controller/utils/delayingreconciler.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove jstuever from OWNERS:approvers
  OWNERS
Due: none

HIVE-3204: Update hermetic README
  hack/hermetic/README.md
Due: none

Path conditions:
  unit: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  e2e-vsphere: any of: vsphere
  e2e-openstack: any of: openstack
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
