Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

unit:
  commands: GO_COMPLIANCE_INFO=0 make test
  container:
    from: src

verify:
  commands: GO_COMPLIANCE_INFO=0 make verify
  container:
    from: src

coverage:
  commands: 'export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
  
    GO_COMPLIANCE_INFO=0 make coverage
  
    '
  container:
    from: src
  secret:
    mount_path: /tmp/secret
    name: hive-codecov-token

e2e:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.12'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-pool:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.12'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-gcp:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=gcp make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-azure:
  steps:
    cluster_profile: azure4
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=azure make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
  ...

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Upgrade k8s dependencies to 1.29
  pkg/resource/apply.go
  pkg/resource/kubeconfig_factory.go
  pkg/resource/restconfig_factory.go
  pkg/validating-webhooks/hive/v1/feature_gates.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Updates for revendoring installer
  pkg/controller/clusterrelocate/clusterrelocate_controller_test.go
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/imageset/updateinstaller.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Use 2 workers for e2e spoke
  hack/e2e-test.sh
Due: unit, verify, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Vendor cpsm and gjson/sjson packages
  go.mod
  go.sum
  vendor/github.com/go-test/deep/.gitignore
  vendor/github.com/go-test/deep/CHANGES.md
  vendor/github.com/go-test/deep/LICENSE
  vendor/github.com/go-test/deep/README.md
  vendor/github.com/go-test/deep/SECURITY.md
  vendor/github.com/go-test/deep/deep.go
  vendor/github.com/gobuffalo/flect/custom_data.go
  vendor/github.com/gobuffalo/flect/plural_rules.go
  vendor/github.com/gobuffalo/flect/pluralize.go
  vendor/github.com/gobuffalo/flect/singularize.go
  vendor/github.com/gobuffalo/flect/underscore.go
  vendor/github.com/hashicorp/errwrap/errwrap.go
  vendor/github.com/openshift/cluster-control-plane-machine-set-operator/LICENSE
  vendor/github.com/openshift/cluster-control-plane-machine-set-operator/pkg/machineproviders/providers/openshift/machine/v1beta1/failuredomain/failuredomain.go
  vendor/github.com/openshift/cluster-control-plane-machine-set-operator/pkg/machineproviders/providers/openshift/machine/v1beta1/failuredomain/set.go
  vendor/github.com/openshift/cluster-control-plane-machine-set-operator/pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/aws.go
  vendor/github.com/openshift/cluster-control-plane-machine-set-operator/pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/azure.go
  vendor/github.com/openshift/cluster-control-plane-machine-set-operator/pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/gcp.go
  vendor/github.com/openshift/cluster-control-plane-machine-set-operator/pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/generic_platform.go
  vendor/github.com/openshift/cluster-control-plane-machine-set-operator/pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/providerconfig.go
  vendor/github.com/tidwall/sjson/LICENSE
  vendor/github.com/tidwall/sjson/README.md
  vendor/github.com/tidwall/sjson/logo.png
  vendor/github.com/tidwall/sjson/sjson.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/crd.go
  vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/validation.go
  vendor/sigs.k8s.io/controller-tools/pkg/crd/markers/zz_generated.markerhelp.go
  vendor/sigs.k8s.io/controller-tools/pkg/crd/spec.go
  vendor/sigs.k8s.io/controller-tools/pkg/crd/zz_generated.markerhelp.go
  vendor/sigs.k8s.io/controller-tools/pkg/genall/output.go
  vendor/sigs.k8s.io/controller-tools/pkg/loader/loader.go
  vendor/sigs.k8s.io/controller-tools/pkg/rbac/zz_generated.markerhelp.go
  vendor/sigs.k8s.io/controller-tools/pkg/webhook/zz_generated.markerhelp.go
Due: unit, verify, coverage, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Reconcile MachineSets using MachinePool labels and AZs
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
  test/e2e/postinstall/machinesets/infra_test.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove uses of yaml-patch
  pkg/clusterresource/builder.go
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

DNM: PoC Spot Instances for masters and workers
  hack/e2e-test.sh
  pkg/installmanager/installmanager.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hiveutil create-cluster: cheaper AWS instances
  contrib/pkg/createcluster/create.go
  hack/e2e-common.sh
  hack/e2e-test.sh
  pkg/clusterresource/aws.go
  test/e2e/postinstall/machinesets/infra_test.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Allow MachinePool autoscaler maxReplicas < #AZs
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

dummy change
  go.mod
Due: unit, verify, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Tech debt: Remove AWS spot version check
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/awsactuator_test.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

dummy commit
  pkg/controller/machinepool/machinepool_controller_test.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Dummy commit
  pkg/controller/machinepool/machinepool_controller_test.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Managed DNS documentation & observability improvements
  docs/hive_metrics.md
  docs/managed-dns.md
  pkg/controller/dnsendpoint/dnsendpoint_controller.go
  pkg/controller/dnsendpoint/dnsendpoint_controller_test.go
  pkg/controller/dnsendpoint/nameserver/aws.go
  pkg/controller/dnsendpoint/nameserver/aws_live_test.go
  pkg/controller/dnsendpoint/nameserver/aws_test.go
  pkg/controller/dnsendpoint/nameserver/azure.go
  pkg/controller/dnsendpoint/nameserver/azure_live_test.go
  pkg/controller/dnsendpoint/nameserver/azure_test.go
  pkg/controller/dnsendpoint/nameserver/gcp.go
  pkg/controller/dnsendpoint/nameserver/gcp_live_test.go
  pkg/controller/dnsendpoint/nameserver/gcp_test.go
  pkg/controller/dnsendpoint/nameserver/mock/query_generated.go
  pkg/controller/dnsendpoint/nameserver/query.go
  pkg/controller/dnsendpoint/nameserverscraper.go
  pkg/controller/dnsendpoint/nameserverscraper_test.go
  pkg/controller/dnszone/awsactuator.go
Due: unit, verify, coverage, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Automatically apply area/unit-tests to PRs
  pkg/OWNERS
Due: none

Remove abutcher from OWNERS
  OWNERS
Due: none

Delete MachineAutoscalers that would get MaxReplicas==0
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

upgrade google.golang.org/protobuf to 1.33.0
  go.mod
  go.sum
  vendor/google.golang.org/protobuf/encoding/protojson/well_known_types.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/defaults.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/encoding/json/decode.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_init.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  vendor/google.golang.org/protobuf/internal/genid/go_features_gen.go
  vendor/google.golang.org/protobuf/internal/genid/struct_gen.go
  vendor/google.golang.org/protobuf/internal/genid/type_gen.go
  vendor/google.golang.org/protobuf/internal/impl/codec_extension.go
  vendor/google.golang.org/protobuf/internal/impl/codec_tables.go
  vendor/google.golang.org/protobuf/internal/impl/message_reflect_field.go
  vendor/google.golang.org/protobuf/internal/strs/strings.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_resolve.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_validate.go
  vendor/google.golang.org/protobuf/reflect/protodesc/editions.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/proto.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/google.golang.org/protobuf/types/dynamicpb/dynamic.go
  vendor/google.golang.org/protobuf/types/gofeaturespb/go_features.pb.go
  vendor/google.golang.org/protobuf/types/gofeaturespb/go_features.proto
  vendor/modules.txt
Due: unit, verify, coverage, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
