Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

controller-gen: use vendor/, not build-machinery-go
  Makefile
  config/crds/hive.openshift.io_checkpoints.yaml
  config/crds/hive.openshift.io_clusterclaims.yaml
  config/crds/hive.openshift.io_clusterdeploymentcustomizations.yaml
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterimagesets.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  config/crds/hive.openshift.io_clusterprovisions.yaml
  config/crds/hive.openshift.io_clusterrelocates.yaml
  config/crds/hive.openshift.io_clusterstates.yaml
  config/crds/hive.openshift.io_dnszones.yaml
  config/crds/hive.openshift.io_hiveconfigs.yaml
  config/crds/hive.openshift.io_machinepoolnameleases.yaml
  config/crds/hive.openshift.io_machinepools.yaml
  config/crds/hive.openshift.io_selectorsyncidentityproviders.yaml
  config/crds/hive.openshift.io_selectorsyncsets.yaml
  config/crds/hive.openshift.io_syncidentityproviders.yaml
  config/crds/hive.openshift.io_syncsets.yaml
  config/crds/hiveinternal.openshift.io_clustersyncleases.yaml
  config/crds/hiveinternal.openshift.io_clustersyncs.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  hack/app-sre/saas-template.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add doc for PrivateLink Controller
  README.md
  docs/privatelink.md
Due: none

controller-gen: proper building and pathing
  Makefile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Rewrite hack/modchecker.go to be more generic
  hack/modcheck.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePool poll interval for fake clusters
  pkg/controller/machinepool/machinepool_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

MachinePool: Generated MachineLabels are not "owned"
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Backport all the Dockerfile Makefile improvements
  Dockerfile
  Makefile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Hibernation: Requeue without error when ClusterSync doesn't exist yet
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/hibernation/hibernation_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Use Duration Pattern for syncset, machinepool, clusterversion polls
  apis/hive/v1/hiveconfig_types.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Nix yaml-patch
  apis/hive/v1/clusterdeploymentcustomization_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeploymentcustomizations.yaml
  go.mod
  go.sum
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
  pkg/util/yaml/yaml.go
  pkg/validating-webhooks/hive/v1/clusterdeploymentcustomization_validating_admission_hook.go
  vendor/github.com/krishicks/yaml-patch/LICENSE
  vendor/github.com/krishicks/yaml-patch/Makefile
  vendor/github.com/krishicks/yaml-patch/README.md
  vendor/github.com/krishicks/yaml-patch/container.go
  vendor/github.com/krishicks/yaml-patch/node.go
  vendor/github.com/krishicks/yaml-patch/operation.go
  vendor/github.com/krishicks/yaml-patch/patch.go
  vendor/github.com/krishicks/yaml-patch/pathfinder.go
  vendor/github.com/krishicks/yaml-patch/placeholder_wrapper.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeploymentcustomization_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update scaling doc for clustersync/machinepool sharding
  docs/scaling-hive.md
Due: none

Azure "disable infra" annotation
  pkg/constants/constants.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/utils/clusterdeployment.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add ClusterDeploymentLabelSelector support
  docs/hive_metrics.md
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterinstalls.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/controller/clusterdeployment/metrics.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller.go
  pkg/controller/clusterprovision/clusterprovision_controller.go
  pkg/controller/clusterprovision/metrics.go
  pkg/controller/hibernation/hibernation_controller.go
  pkg/controller/metrics/cluster_deployment_label_selector.go
  pkg/controller/metrics/custom_collectors.go
  pkg/controller/metrics/metrics.go
  pkg/controller/metrics/metrics_test.go
  pkg/controller/metrics/metrics_to_report.go
  pkg/operator/hive/hive_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

API changes
  apis/hive/v1/metricsconfig/metrics_config.go
  apis/hive/v1/metricsconfig/metrics_to_report.go
  apis/hive/v1/metricsconfig/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/metricsconfig/metrics_config.go
  vendor/github.com/openshift/hive/apis/hive/v1/metricsconfig/metrics_to_report.go
  vendor/github.com/openshift/hive/apis/hive/v1/metricsconfig/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

re-generated CRDs
  Makefile
  config/crds/hive.openshift.io_checkpoints.yaml
  config/crds/hive.openshift.io_clusterclaims.yaml
  config/crds/hive.openshift.io_clusterdeploymentcustomizations.yaml
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterimagesets.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  config/crds/hive.openshift.io_clusterprovisions.yaml
  config/crds/hive.openshift.io_clusterrelocates.yaml
  config/crds/hive.openshift.io_clusterstates.yaml
  config/crds/hive.openshift.io_dnszones.yaml
  config/crds/hive.openshift.io_hiveconfigs.yaml
  config/crds/hive.openshift.io_machinepoolnameleases.yaml
  config/crds/hive.openshift.io_machinepools.yaml
  config/crds/hive.openshift.io_selectorsyncidentityproviders.yaml
  config/crds/hive.openshift.io_selectorsyncsets.yaml
  config/crds/hive.openshift.io_syncidentityproviders.yaml
  config/crds/hive.openshift.io_syncsets.yaml
  config/crds/hiveinternal.openshift.io_clustersyncleases.yaml
  config/crds/hiveinternal.openshift.io_clustersyncs.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  go.mod
  go.sum
  hack/app-sre/saas-template.yaml
  vendor/modules.txt
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add new API field AdditionalSecurityGroupIDs for OpenStack machine pools
  apis/hive/v1/openstack/machinepools.go
  apis/hive/v1/openstack/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/openstackactuator.go
  vendor/github.com/openshift/hive/apis/hive/v1/openstack/machinepools.go
  vendor/github.com/openshift/hive/apis/hive/v1/openstack/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Re-generated CRDs for build backports
  config/crds/hive.openshift.io_checkpoints.yaml
  config/crds/hive.openshift.io_clusterclaims.yaml
  config/crds/hive.openshift.io_clusterdeploymentcustomizations.yaml
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterimagesets.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  config/crds/hive.openshift.io_clusterprovisions.yaml
  config/crds/hive.openshift.io_clusterrelocates.yaml
  config/crds/hive.openshift.io_clusterstates.yaml
  config/crds/hive.openshift.io_dnszones.yaml
  config/crds/hive.openshift.io_hiveconfigs.yaml
  config/crds/hive.openshift.io_machinepoolnameleases.yaml
  config/crds/hive.openshift.io_machinepools.yaml
  config/crds/hive.openshift.io_selectorsyncidentityproviders.yaml
  config/crds/hive.openshift.io_selectorsyncsets.yaml
  config/crds/hive.openshift.io_syncidentityproviders.yaml
  config/crds/hive.openshift.io_syncsets.yaml
  config/crds/hiveinternal.openshift.io_clustersyncleases.yaml
  config/crds/hiveinternal.openshift.io_clustersyncs.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  go.mod
  go.sum
  hack/app-sre/saas-template.yaml
  vendor/modules.txt
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Don't generate long-lived token for hiveadmission on OpenShift
  pkg/operator/hive/hiveadmission.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Azure: Pass BaseDomainResourceGroupName to destroyer
  apis/hive/v1/azure/metadata.go
  apis/hive/v1/azure/zz_generated.deepcopy.go
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  contrib/pkg/deprovision/azure.go
  hack/app-sre/saas-template.yaml
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterdeployment/clusterprovisions.go
  pkg/install/generate.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/metadata.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Azure: Pass BaseDomainResourceGroupName to destroyer
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  contrib/pkg/deprovision/azure.go
  hack/app-sre/saas-template.yaml
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/install/generate.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Bump jwt/v4 to 4.5.1
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Various fixes related to hive developer experience (dx)
  .gitignore
  Makefile
  hack/create-service-account-secrets.sh
  hack/hiveadmission-dev-cert.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

hive-controllers: configurable Resources
  apis/hive/v1/hiveconfig_types.go
  config/crds/hive.openshift.io_hiveconfigs.yaml
  hack/app-sre/saas-template.yaml
  pkg/operator/hive/hive.go
  pkg/util/scheme/scheme.go
  vendor/github.com/openshift/hive/apis/hive/v1/hiveconfig_types.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Bump jwt/v4 to 4.5.1
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/README.md
  vendor/github.com/golang-jwt/jwt/v4/claims.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v4/token.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

BREAKING: make `PatchEntity.ValueJSON` a `string`
  apis/hive/v1/clusterdeploymentcustomization_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeploymentcustomizations.yaml
  hack/app-sre/saas-template.yaml
  pkg/installmanager/installmanager.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeploymentcustomization_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Upgrade logrus to 1.9.3
  go.mod
  go.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Tech Debt: nix SyncSetPatchApplyMode
  apis/hive/v1/syncset_types.go
  docs/syncset.md
  vendor/github.com/openshift/hive/apis/hive/v1/syncset_types.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Allow settting vCenter cluster per Machine Pool
  apis/hive/v1/vsphere/machinepools.go
  pkg/controller/machinepool/vsphereactuator.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ClusterSync: Warn on resource conflicts
  apis/hiveinternal/v1alpha1/clustersync_types.go
  apis/hiveinternal/v1alpha1/zz_generated.deepcopy.go
  config/crds/hiveinternal.openshift.io_clustersyncs.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/clustersync/clustersync_controller.go
  vendor/github.com/openshift/hive/apis/hiveinternal/v1alpha1/clustersync_types.go
  vendor/github.com/openshift/hive/apis/hiveinternal/v1alpha1/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2637 followup doc change
  apis/hive/v1/openstack/machinepools.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/openstack/machinepools.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
