Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, e2e-vsphere, e2e-openstack, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

unit:
  commands: GO_COMPLIANCE_INFO=0 make test
  container:
    from: src

verify:
  commands: GO_COMPLIANCE_INFO=0 make verify
  container:
    from: src

coverage:
  commands: 'export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
  
    GO_COMPLIANCE_INFO=0 make coverage
  
    '
  container:
    from: src
  secret:
    mount_path: /tmp/secret
    name: hive-codecov-token

security:
  steps:
    env:
      SNYK_CODE_ADDITIONAL_ARGS: --severity-threshold=high
      SNYK_ENABLE_DEPS_SCAN: 'true'
    workflow: openshift-ci-security

e2e:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.19'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-pool:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.19'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-gcp:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=gcp make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-azure:
  steps:
    cluster_profile: azure4
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=azure make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
  ...

e2e-vsphere:
  steps:
    cluster_profile: vsphere-elastic
    env:
      VSPHERE_ADDITIONAL_CLUSTER: 'true'
    test:
    - as: test
      cli: latest
      commands: 'source $SHARED_DIR/vsphere_context.sh
  
        source $SHARED_DIR/govc.sh
  
        source $SHARED_DIR/additional_cluster.sh
  
  
  ...

e2e-openstack:
  steps:
    cluster_profile: openstack-vexxhost
    env:
      BASE_DOMAIN: shiftstack.devcluster.openshift.com
      CONFIG_TYPE: minimal
      HIVE_OSP_RESOURCE: 'true'
    test:
    - as: test
      cli: latest
      commands: 'export OS_CLIENT_CONFIG_FILE=${SHARED_DIR}/clouds.yaml
  
  ...

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

HIVE-3129: Fix [Selector]SyncIdentityProvider docstrings
  apis/hive/v1/syncidentityprovider_types.go
  config/crds/hive.openshift.io_selectorsyncidentityproviders.yaml
  config/crds/hive.openshift.io_syncidentityproviders.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/syncidentityprovider_types.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3131: Add ValidatingWebhookConfiguration for ClusterPool
  config/hiveadmission/clusterpool-webhook.yaml
  pkg/operator/assets/bindata.go
  pkg/operator/hive/hiveadmission.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2391: VSphere zonal part deux
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/vsphere/machinepools.go
  apis/hive/v1/vsphere/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_machinepools.yaml
  contrib/pkg/createcluster/create.go
  contrib/pkg/deprovision/vsphere.go
  docs/hiveutil.md
  docs/using-hive.md
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder_test.go
  pkg/clusterresource/vsphere.go
  pkg/constants/constants.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/installconfigvalidation.go
  pkg/controller/clusterdeployment/installconfigvalidation_test.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/controller/machinepool/vsphereactuator.go
  pkg/controller/machinepool/vsphereactuator_test.go
  pkg/controller/utils/credentials.go
  pkg/creds/vsphere/vsphere.go
  pkg/install/generate.go
  pkg/installmanager/installmanager.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  pkg/validating-webhooks/hive/v1/clusterpool_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterpool_validating_admission_hook_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/machinepools.go
  vendor/github.com/openshift/hive/apis/hive/v1/vsphere/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-vsphere, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3132: admissionReviewVersions += v1
  cmd/hiveadmission/main.go
  config/hiveadmission/clusterdeployment-webhook.yaml
  config/hiveadmission/clusterimageset-webhook.yaml
  config/hiveadmission/clusterpool-webhook.yaml
  config/hiveadmission/clusterprovision-webhook.yaml
  config/hiveadmission/dnszones-webhook.yaml
  config/hiveadmission/machinepool-webhook.yaml
  config/hiveadmission/selectorsyncset-webhook.yaml
  config/hiveadmission/syncset-webhook.yaml
  pkg/operator/assets/bindata.go
  pkg/util/scheme/scheme.go
  test/e2e/postdeploy/admission/admission_test.go
  test/e2e/postdeploy/admission/testdata/hiveadmission-review-failure.json
  test/e2e/postdeploy/admission/testdata/hiveadmission-review-success.json
  test/e2e/postdeploy/admission/testdata/hiveadmission-review-update-failure.json
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3133: VWHC for ClusterDeploymentCustomization
  .coderabbit.yaml
  config/hiveadmission/clusterdeploymentcustomization-webhook.yaml
  pkg/operator/assets/bindata.go
  pkg/operator/hive/hiveadmission.go
  pkg/validating-webhooks/hive/v1/clusterdeploymentcustomization_validating_admission_hook.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3045: Fix SOURCE_GIT_TAG for detached HEAD builds
  hack/version2.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Axe the ghodss/yaml dependency (in favor of sigs.k8s.io/yaml)
  go.mod
  go.sum
  pkg/clusterresource/builder.go
  pkg/clusterresource/builder_test.go
  pkg/controller/clusterprovision/installlogmonitor.go
  test/e2e/postdeploy/operator/operator_test.go
  vendor/github.com/ghodss/yaml/.gitignore
  vendor/github.com/ghodss/yaml/.travis.yml
  vendor/github.com/ghodss/yaml/LICENSE
  vendor/github.com/ghodss/yaml/README.md
  vendor/github.com/ghodss/yaml/fields.go
  vendor/github.com/ghodss/yaml/yaml.go
  vendor/github.com/ghodss/yaml/yaml_go110.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Axe sjson dependency
  go.mod
  go.sum
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
  vendor/github.com/tidwall/sjson/LICENSE
  vendor/github.com/tidwall/sjson/README.md
  vendor/github.com/tidwall/sjson/logo.png
  vendor/github.com/tidwall/sjson/sjson.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Konflux: fetch all tags during git clone
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-211-pull-request.yaml
  .tekton/hive-mce-211-push.yaml
  .tekton/hive-mce-217-pull-request.yaml
  .tekton/hive-mce-217-push.yaml
  .tekton/hive-mce-26-pull-request.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-mce-28-pull-request.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Axe the direct dependency on the Machine API operator
  go.mod
  go.sum
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/vsphereactuator.go
  pkg/controller/machinepool/vsphereactuator_test.go
  vendor/github.com/openshift/machine-api-operator/pkg/controller/vsphere/actuator.go
  vendor/github.com/openshift/machine-api-operator/pkg/controller/vsphere/machine_scope.go
  vendor/github.com/openshift/machine-api-operator/pkg/controller/vsphere/reconciler.go
  vendor/github.com/openshift/machine-api-operator/pkg/controller/vsphere/session/session.go
  vendor/github.com/openshift/machine-api-operator/pkg/controller/vsphere/session/tag_ids_caching_client.go
  vendor/github.com/openshift/machine-api-operator/pkg/controller/vsphere/util.go
  vendor/github.com/openshift/machine-api-operator/pkg/util/ipam/util.go
  vendor/gopkg.in/gcfg.v1/LICENSE
  vendor/gopkg.in/gcfg.v1/README
  vendor/gopkg.in/gcfg.v1/doc.go
  vendor/gopkg.in/gcfg.v1/errors.go
  vendor/gopkg.in/gcfg.v1/read.go
  vendor/gopkg.in/gcfg.v1/scanner/errors.go
  vendor/gopkg.in/gcfg.v1/scanner/scanner.go
  vendor/gopkg.in/gcfg.v1/set.go
  vendor/gopkg.in/gcfg.v1/token/position.go
  vendor/gopkg.in/gcfg.v1/token/serialize.go
  vendor/gopkg.in/gcfg.v1/token/token.go
  vendor/gopkg.in/gcfg.v1/types/bool.go
  vendor/gopkg.in/gcfg.v1/types/doc.go
  vendor/gopkg.in/gcfg.v1/types/enum.go
  vendor/gopkg.in/gcfg.v1/types/int.go
  vendor/gopkg.in/gcfg.v1/types/scan.go
  vendor/gopkg.in/warnings.v0/LICENSE
  vendor/gopkg.in/warnings.v0/README
  vendor/gopkg.in/warnings.v0/warnings.go
  vendor/k8s.io/cloud-provider-vsphere/LICENSE
  vendor/k8s.io/cloud-provider-vsphere/pkg/common/config/config.go
  vendor/k8s.io/cloud-provider-vsphere/pkg/common/config/config_ini_legacy.go
  vendor/k8s.io/cloud-provider-vsphere/pkg/common/config/config_yaml.go
  vendor/k8s.io/cloud-provider-vsphere/pkg/common/config/consts_and_errors.go
  vendor/k8s.io/cloud-provider-vsphere/pkg/common/config/types_common.go
  vendor/k8s.io/cloud-provider-vsphere/pkg/common/config/types_ini_legacy.go
  vendor/k8s.io/cloud-provider-vsphere/pkg/common/config/types_yaml.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-vsphere, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3132: Switch to Admission v1
  config/hiveadmission/clusterdeployment-webhook.yaml
  config/hiveadmission/clusterdeploymentcustomization-webhook.yaml
  config/hiveadmission/clusterimageset-webhook.yaml
  config/hiveadmission/clusterpool-webhook.yaml
  config/hiveadmission/clusterprovision-webhook.yaml
  config/hiveadmission/dnszones-webhook.yaml
  config/hiveadmission/machinepool-webhook.yaml
  config/hiveadmission/selectorsyncset-webhook.yaml
  config/hiveadmission/syncset-webhook.yaml
  pkg/operator/assets/bindata.go
  pkg/util/scheme/scheme.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  pkg/validating-webhooks/hive/v1/clusterdeploymentcustomization_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterimageset_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterimageset_validating_admission_hook_test.go
  pkg/validating-webhooks/hive/v1/clusterpool_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterpool_validating_admission_hook_test.go
  pkg/validating-webhooks/hive/v1/clusterprovision_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterprovision_validating_admission_hook_test.go
  pkg/validating-webhooks/hive/v1/dnszone_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/dnszone_validating_admission_hook_test.go
  pkg/validating-webhooks/hive/v1/machinepool_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/machinepool_validating_admission_hook_test.go
  pkg/validating-webhooks/hive/v1/selector_syncset_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/selector_syncset_validating_admission_hook_test.go
  pkg/validating-webhooks/hive/v1/syncset_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/syncset_validating_admission_hook_test.go
  test/e2e/postdeploy/admission/admission_test.go
  test/e2e/postdeploy/admission/testdata/hiveadmission-review-failure.json
  test/e2e/postdeploy/admission/testdata/hiveadmission-review-success.json
  test/e2e/postdeploy/admission/testdata/hiveadmission-review-update-failure.json
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add debugging log lines to Dockerfile to troubleshoot dirty tag
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

version2.sh: Assume master if detached HEAD
  hack/version2.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

No-jira: Standard_D2s_v3: instance type does not meet minimum resource requirements of 16 GB Memory
  docs/using-hive.md
Due: none

Address CodeRabbit review comments from PR #2865
  hack/app-sre/generate-saas-template.sh
  hack/version2.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add version2.py wrapper for bundle-gen compatibility
  hack/version2.py
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

go.mod: bump installer for aws natgateway destroy fix
  go.mod
  go.sum
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3147: Add konflux configs for MCE 5.0
  .tekton/hive-mce-50-pull-request.yaml
  .tekton/hive-mce-50-push.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

e2e: Fix kubeconfig extract
  hack/e2e-common.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Docker file changes to include extention test binary
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Adding dependencies
  test/ote/go.mod
  test/ote/go.sum
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

bin and vendor added to gitignore
  .gitignore
Due: none

Makefile to test ote module
  test/ote/Makefile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

test data files migrated from otp
  test/ote/bindata.mk
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3149: Azure: Prefilter SKU list query
  pkg/azureclient/client.go
  pkg/azureclient/mock/client_generated.go
  pkg/controller/machinepool/azureactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3149: Refactor azure client
  pkg/azureclient/client.go
  pkg/azureclient/mock/client_generated.go
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3149: Azure: getZones(): Prefilter by region
  pkg/azureclient/client.go
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3149: Azure MachinePool actuator: Beef up unit tests
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Red Hat Konflux update hive-mce-51
  .tekton/hive-mce-51-pull-request.yaml
  .tekton/hive-mce-51-push.yaml
Due: ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

DNM: test
  contrib/cmd/hiveutil/main.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^(?:docs|\.tekton)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  e2e-vsphere: any of: vsphere
  e2e-openstack: any of: openstack
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
