Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Grant hive permission to patch networks.config.openshift.io
  config/operator/operator_role.yaml
  hack/app-sre/saas-template.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Azure MachinePool: Support OutboundType: UserDefinedRouting
  apis/hive/v1/azure/machinepool.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/azure/machinepool.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

syncset: support templates in `patches`
  apis/hive/v1/syncset_types.go
  config/crds/hive.openshift.io_selectorsyncsets.yaml
  config/crds/hive.openshift.io_syncsets.yaml
  docs/syncset.md
  hack/app-sre/saas-template.yaml
  pkg/controller/clustersync/clustersync_controller.go
  pkg/controller/clustersync/clustersync_controller_test.go
  pkg/controller/clustersync/templates.go
  pkg/test/syncset/syncset.go
  vendor/github.com/openshift/hive/apis/hive/v1/syncset_types.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

privatelink: add privatelink controller unit tests
  pkg/controller/privatelink/actuator/actuator.go
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator_test.go
  pkg/controller/privatelink/actuator/gcpactuator/gcplinkactuator_test.go
  pkg/controller/privatelink/actuator/mock/actuator_generated.go
  pkg/controller/privatelink/conditions/conditions_test.go
  pkg/controller/privatelink/privatelink_test.go
  pkg/test/clusterdeployment/clusterdeployment.go
  pkg/test/clusterprovision/clusterprovision.go
  pkg/test/logger/logger.go
  vendor/github.com/sirupsen/logrus/hooks/test/test.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Bump x/net for http DoS CVE
  apis/go.mod
  apis/go.sum
  apis/vendor/golang.org/x/net/http2/client_conn_pool.go
  apis/vendor/golang.org/x/net/http2/config.go
  apis/vendor/golang.org/x/net/http2/config_go124.go
  apis/vendor/golang.org/x/net/http2/config_pre_go124.go
  apis/vendor/golang.org/x/net/http2/frame.go
  apis/vendor/golang.org/x/net/http2/http2.go
  apis/vendor/golang.org/x/net/http2/server.go
  apis/vendor/golang.org/x/net/http2/transport.go
  apis/vendor/golang.org/x/net/http2/unencrypted.go
  apis/vendor/golang.org/x/net/http2/write.go
  apis/vendor/modules.txt
  go.mod
  go.sum
  vendor/golang.org/x/net/html/doc.go
  vendor/golang.org/x/net/html/doctype.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/iter.go
  vendor/golang.org/x/net/html/node.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/config_pre_go124.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/internal/socket/zsys_openbsd_ppc64.go
  vendor/golang.org/x/net/internal/socket/zsys_openbsd_riscv64.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Bump x/net for http DoS CVE
  apis/go.mod
  apis/go.sum
  apis/vendor/golang.org/x/net/LICENSE
  apis/vendor/golang.org/x/net/http2/client_conn_pool.go
  apis/vendor/golang.org/x/net/http2/config.go
  apis/vendor/golang.org/x/net/http2/config_go124.go
  apis/vendor/golang.org/x/net/http2/config_pre_go124.go
  apis/vendor/golang.org/x/net/http2/frame.go
  apis/vendor/golang.org/x/net/http2/http2.go
  apis/vendor/golang.org/x/net/http2/server.go
  apis/vendor/golang.org/x/net/http2/transport.go
  apis/vendor/golang.org/x/net/http2/unencrypted.go
  apis/vendor/golang.org/x/net/http2/write.go
  apis/vendor/modules.txt
  go.mod
  go.sum
  vendor/golang.org/x/net/LICENSE
  vendor/golang.org/x/net/html/doc.go
  vendor/golang.org/x/net/html/doctype.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/iter.go
  vendor/golang.org/x/net/html/node.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/config_pre_go124.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/internal/socket/zsys_openbsd_ppc64.go
  vendor/golang.org/x/net/internal/socket/zsys_openbsd_riscv64.go
  vendor/golang.org/x/net/websocket/websocket.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Always reset hive_hiveconfig_conditions[Ready]
  pkg/operator/metrics/metrics.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

scripts for setting up dev environment
  Makefile.environment
  hack/buildkitd_build_push_image.sh
  hack/create_cluster.sh
  hack/deploy.sh
  hack/dev_env_vars.sh
  hack/install_dev_env.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

GCP: Hibernation: Support SSDs
  apis/hive/v1/gcp/platform.go
  apis/hive/v1/gcp/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  contrib/pkg/createcluster/create.go
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/gcp.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/hibernation/aws_actuator_test.go
  pkg/controller/hibernation/gcp_actuator.go
  pkg/controller/hibernation/gcp_actuator_test.go
  pkg/gcpclient/client.go
  pkg/gcpclient/mock/client_generated.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/gcp/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Run installmanager binary in install container for fips compatibility
  Dockerfile
  Dockerfile.ubi
  contrib/pkg/utils/generic.go
  hack/e2e-common.sh
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/imageset/updateinstaller.go
  pkg/imageset/updateinstaller_test.go
  pkg/install/generate.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Consolidate Dockerfiles
  Dockerfile.ubi
  build/build-image/Dockerfile
  hack/app_sre_build_deploy.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2400: fix obsolete python references
  hack/app-sre/generate-saas-template.py
  hack/bundle-gen.py
  hack/statuspatch
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Red Hat Konflux purge hive Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Red Hat Konflux update hive Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update konflux pipeline to latest defaults
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Replace go-restful v2.15=>2.16 in go.sum
  go.mod
  go.sum
  vendor/modules.txt
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

PrivateLink: add control-plane network tags to gcp psc
  pkg/controller/privatelink/actuator/gcpactuator/gcplinkactuator.go
  pkg/controller/privatelink/actuator/gcpactuator/gcplinkactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix Hive upstream image building
  Dockerfile
  Makefile
  docs/developing.md
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

privatelink: ShouldSync returns false when privatelink is disabled
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator.go
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator_test.go
  pkg/controller/privatelink/actuator/gcpactuator/gcplinkactuator.go
  pkg/controller/privatelink/actuator/gcpactuator/gcplinkactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

privatelink: ready and failed conditions logged only when changed
  pkg/controller/privatelink/conditions/conditions.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Note that FIPS is not compatible with CGO_ENABLED
  docs/developing.md
Due: none

privatelink: actuator reconcile functions to requeue on every change
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator.go
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator_test.go
  pkg/controller/privatelink/actuator/gcpactuator/gcplinkactuator.go
  pkg/controller/privatelink/actuator/gcpactuator/gcplinkactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

privatelink: selectHostedZoneVPC to return a pointer to the selected vpc
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator.go
  pkg/controller/privatelink/actuator/awsactuator/awshubactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

scripts for setting up dev environment (#1)
  Makefile.environment
  docs/developing.md
  hack/buildkitd_build_push_image.sh
  hack/create_cluster_registry.sh
  hack/deploy_dev_hive.sh
  hack/dev_env_vars.sh
  hack/install_dev_env.sh
  hack/prune_dev_env.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

change base image in docs to public quay img
  docs/developing.md
Due: none

add comments, make naming adjustments
  Makefile.environment
  hack/buildkitd_build_push_image.sh
  hack/install_dev_env.sh
  hack/prune_dev_env.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

assign HIVE_NS to target in makefile not global to not run unnecessary tests when building hive
  Makefile.environment
  hack/prune_dev_env.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix env var hive_ns in makefile
  Makefile.environment
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

add more info on scaling down cont/op in vsdoe part of docs, move metrics.json to deploy
  Makefile.environment
  docs/developing.md
  hack/deploy_dev_hive.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix syntax
  hack/deploy_dev_hive.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix typo
  Makefile.environment
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

fix metrics.json path in var file
  hack/dev_env_vars.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
