Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

unit:
  commands: GO_COMPLIANCE_INFO=0 make test
  container:
    from: src

verify:
  commands: GO_COMPLIANCE_INFO=0 make verify
  container:
    from: src

coverage:
  commands: 'export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
  
    GO_COMPLIANCE_INFO=0 make coverage
  
    '
  container:
    from: src
  secret:
    mount_path: /tmp/secret
    name: hive-codecov-token

security:
  steps:
    env:
      SNYK_CODE_ADDITIONAL_ARGS: --severity-threshold=high
      SNYK_ENABLE_DEPS_SCAN: 'true'
    workflow: openshift-ci-security

e2e:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-pool:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-gcp:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=gcp make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-azure:
  steps:
    cluster_profile: azure4
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=azure make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
  ...

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

HIVE-2777: Add initial support for deploying onto Nutanix. Add Nutanix deprovisioning support.
  apis/hive/v1/clusterdeprovision_types.go
  apis/hive/v1/nutanix/platform.go
  apis/hive/v1/nutanix/zz_generated.deepcopy.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  contrib/pkg/deprovision/deprovision.go
  contrib/pkg/deprovision/nutanix.go
  contrib/pkg/utils/nutanix/nutanix.go
  hack/app-sre/saas-template.yaml
  pkg/constants/constants.go
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/installconfigvalidation.go
  pkg/controller/clusterdeployment/installconfigvalidation_test.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/utils/credentials.go
  pkg/install/generate.go
  pkg/installmanager/installmanager.go
  pkg/installmanager/installmanager_test.go
  pkg/installmanager/testdata/nutanix-install-config-with-credentials.yaml
  pkg/installmanager/testdata/nutanix-install-config.yaml
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeprovision_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/installer/pkg/destroy/nutanix/OWNERS
  vendor/github.com/openshift/installer/pkg/destroy/nutanix/doc.go
  vendor/github.com/openshift/installer/pkg/destroy/nutanix/nutanix.go
  vendor/github.com/openshift/installer/pkg/destroy/nutanix/register.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2778: Add Nutanix MachinePool API support
  apis/go.mod
  apis/go.sum
  apis/vendor/modules.txt
  contrib/pkg/createcluster/create.go
  contrib/pkg/deprovision/nutanix.go
  go.mod
  go.sum
  pkg/clusterresource/builder_test.go
  pkg/clusterresource/nutanix.go
  pkg/constants/constants.go
  pkg/constants/nutanix.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/nutanixactuator.go
  pkg/controller/machinepool/nutanixactuator_test.go
  pkg/controller/utils/credentials.go
  pkg/controller/utils/nutainx.go
  pkg/controller/utils/nutainxutils_test.go
  pkg/installmanager/installmanager.go
  pkg/validating-webhooks/hive/v1/machinepool_validating_admission_hook.go
  vendor/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/LICENSE
  vendor/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/conditions.go
  vendor/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/doc.go
  vendor/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/groupversion_info.go
  vendor/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanix_types.go
  vendor/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixcluster_conversion.go
  vendor/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixcluster_types.go
  vendor/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_conversion.go
  vendor/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachine_types.go
  vendor/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachinetemplate_conversion.go
  vendor/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/nutanixmachinetemplate_types.go
  vendor/github.com/nutanix-cloud-native/cluster-api-provider-nutanix/api/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/nutanix-cloud-native/prism-go-client/environment/credentials/parsecreds.go
  vendor/github.com/nutanix-cloud-native/prism-go-client/environment/credentials/types.go
  vendor/github.com/nutanix-cloud-native/prism-go-client/environment/credentials/zz_generated.deepcopy.go
  vendor/github.com/nutanix-cloud-native/prism-go-client/environment/types/types.go
  vendor/github.com/openshift/installer/pkg/asset/machines/nutanix/capimachines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/nutanix/machines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/nutanix/machinesets.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

OpenStack e2e
  hack/e2e-common.sh
  hack/e2e-test.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2779: Add Nutanix hiveutil support
  contrib/pkg/createcluster/create.go
  contrib/pkg/createcluster/nutanix.go
  pkg/constants/nutanix.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2779: HIVE-2778: Update docs: Add Nutanix support in ClusterDeployment and hiveutil
  README.md
  docs/hiveutil.md
  docs/using-hive.md
Due: none

chore(deps): update github.com/openshift/baremetal-operator digest to 307bd7f
  go.mod
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update github.com/ghodss/yaml digest to d8423dc
  go.mod
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2791: MachinePool/OpenStack: Remove obsolete version check
  pkg/controller/machinepool/machinepool_controller.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

[mce-2.7] HIVE-2787: CVE-2025-22868 x/oauth2/jws 0.27.0
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update to golang 1.23
  Dockerfile
  Makefile
  docs/developing.md
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add comment for machinepool override annotation
  pkg/constants/constants.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

RFE: Patch Installer Manifests
  docs/enhancements/patch-install-manifests.md
Due: none

Support patching installer manifests
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/clusterdeploymentcustomization_types.go
  apis/hive/v1/clusterpool_types.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeploymentcustomizations.yaml
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  docs/enhancements/clusterpool-inventory.md
  hack/app-sre/saas-template.yaml
  pkg/controller/clusterdeployment/clusterdeployment_controller.go
  pkg/controller/clusterdeployment/clusterdeployment_controller_test.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/clusterpool/clusterpool_controller_test.go
  pkg/controller/clusterpool/collections.go
  pkg/controller/utils/clusterdeployment.go
  pkg/controller/utils/sa.go
  pkg/installmanager/installmanager.go
  pkg/test/clusterdeploymentcustomization/clusterdeploymentcustomization.go
  pkg/test/clusterpool/clusterpool.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeploymentcustomization_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/clusterpool_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2797: Forbid editing CD ClusterPoolRef CustomizationRef
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2777: Add Nutanix base API
  apis/hive/v1/clusterdeployment_types.go
  apis/hive/v1/nutanix/doc.go
  apis/hive/v1/nutanix/platform.go
  apis/hive/v1/nutanix/zz_generated.deepcopy.go
  apis/hive/v1/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/clusterdeployment_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/doc.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/zz_generated.deepcopy.go
  vendor/github.com/openshift/hive/apis/hive/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2778: Add base API for supporting MachinePool
  apis/hive/v1/machinepool_types.go
  apis/hive/v1/nutanix/machinepools.go
  apis/hive/v1/nutanix/platform.go
  apis/hive/v1/nutanix/zz_generated.deepcopy.go
  apis/vendor/github.com/openshift/api/machine/v1/Makefile
  apis/vendor/github.com/openshift/api/machine/v1/common.go
  apis/vendor/github.com/openshift/api/machine/v1/doc.go
  apis/vendor/github.com/openshift/api/machine/v1/register.go
  apis/vendor/github.com/openshift/api/machine/v1/types_alibabaprovider.go
  apis/vendor/github.com/openshift/api/machine/v1/types_aws.go
  apis/vendor/github.com/openshift/api/machine/v1/types_controlplanemachineset.go
  apis/vendor/github.com/openshift/api/machine/v1/types_nutanixprovider.go
  apis/vendor/github.com/openshift/api/machine/v1/types_powervsprovider.go
  apis/vendor/github.com/openshift/api/machine/v1/zz_generated.deepcopy.go
  apis/vendor/github.com/openshift/api/machine/v1/zz_generated.featuregated-crd-manifests.yaml
  apis/vendor/github.com/openshift/api/machine/v1/zz_generated.swagger_doc_generated.go
  apis/vendor/github.com/openshift/api/machine/v1beta1/Makefile
  apis/vendor/github.com/openshift/api/machine/v1beta1/doc.go
  apis/vendor/github.com/openshift/api/machine/v1beta1/register.go
  apis/vendor/github.com/openshift/api/machine/v1beta1/types_awsprovider.go
  apis/vendor/github.com/openshift/api/machine/v1beta1/types_azureprovider.go
  apis/vendor/github.com/openshift/api/machine/v1beta1/types_gcpprovider.go
  apis/vendor/github.com/openshift/api/machine/v1beta1/types_machine.go
  apis/vendor/github.com/openshift/api/machine/v1beta1/types_machinehealthcheck.go
  apis/vendor/github.com/openshift/api/machine/v1beta1/types_machineset.go
  apis/vendor/github.com/openshift/api/machine/v1beta1/types_provider.go
  apis/vendor/github.com/openshift/api/machine/v1beta1/types_vsphereprovider.go
  apis/vendor/github.com/openshift/api/machine/v1beta1/zz_generated.deepcopy.go
  apis/vendor/github.com/openshift/api/machine/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  apis/vendor/github.com/openshift/api/machine/v1beta1/zz_generated.swagger_doc_generated.go
  apis/vendor/modules.txt
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  vendor/github.com/openshift/hive/apis/hive/v1/machinepool_types.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/machinepools.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/platform.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/zz_generated.deepcopy.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix PR #2573 comments
  apis/hive/v1/nutanix/machinepools.go
  apis/hive/v1/nutanix/platform.go
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  config/crds/hive.openshift.io_machinepools.yaml
  contrib/pkg/createcluster/create.go
  contrib/pkg/createcluster/nutanix.go
  contrib/pkg/deprovision/nutanix.go
  go.mod
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/nutanix.go
  pkg/constants/nutanix.go
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/nutanixactuator.go
  pkg/controller/machinepool/nutanixactuator_test.go
  pkg/controller/utils/nutanixutils/nutainx.go
  pkg/controller/utils/nutanixutils/nutainxutils_test.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/machinepools.go
  vendor/github.com/openshift/hive/apis/hive/v1/nutanix/platform.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-1793: review followup
  pkg/controller/clusterpool/clusterpool_controller.go
  pkg/controller/utils/clusterdeployment.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

[mce-2.5] HIVE-2787: CVE-2025-22868 x/oauth2/jws => 0.26.openshift.1
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/LICENSE
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/compute/metadata/retry.go
  vendor/cloud.google.com/go/compute/metadata/tidyfix.go
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/google/appengine.go
  vendor/golang.org/x/oauth2/google/appengine_gen1.go
  vendor/golang.org/x/oauth2/google/appengine_gen2_flex.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/filecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/header.go
  vendor/golang.org/x/oauth2/google/externalaccount/programmaticrefreshcredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/urlcredsource.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/err.go
  vendor/golang.org/x/oauth2/google/internal/impersonate/impersonate.go
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

[mce-2.4] HIVE-2787: CVE-2025-22868 x/oauth2/jws => 0.26.openshift.1
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/LICENSE
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/compute/metadata/retry.go
  vendor/cloud.google.com/go/compute/metadata/tidyfix.go
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/google/appengine.go
  vendor/golang.org/x/oauth2/google/appengine_gen1.go
  vendor/golang.org/x/oauth2/google/appengine_gen2_flex.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/filecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/header.go
  vendor/golang.org/x/oauth2/google/externalaccount/programmaticrefreshcredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/urlcredsource.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/err.go
  vendor/golang.org/x/oauth2/google/internal/impersonate/impersonate.go
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

[mce-2.5] HIVE-2786: CVE-2025-22869: x/crypto/ssh v0.33.openshift.1
  go.mod
  vendor/modules.txt
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update github.com/ghodss/yaml digest to d8423dc
  go.mod
  go.sum
  vendor/github.com/ghodss/yaml/.travis.yml
  vendor/github.com/ghodss/yaml/README.md
  vendor/modules.txt
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update github.com/gophercloud/utils digest to 80377ec
  go.mod
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2786: CVE-2025-22869: x/crypto/ssh v0.33.openshift.1
  go.mod
  vendor/modules.txt
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
