Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

unit:
  commands: GO_COMPLIANCE_INFO=0 make test
  container:
    from: src

verify:
  commands: GO_COMPLIANCE_INFO=0 make verify
  container:
    from: src

coverage:
  commands: 'export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
  
    GO_COMPLIANCE_INFO=0 make coverage
  
    '
  container:
    from: src
  secret:
    mount_path: /tmp/secret
    name: hive-codecov-token

security:
  steps:
    env:
      SNYK_CODE_ADDITIONAL_ARGS: --severity-threshold=high
      SNYK_ENABLE_DEPS_SCAN: 'true'
    workflow: openshift-ci-security

e2e:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-pool:
  cluster_claim:
    architecture: amd64
    as: unused
    cloud: aws
    labels:
      region: us-east-1
    owner: openshift-ci
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  steps:
    test:
    - as: test
      cli: latest
      commands: '# Creds for the `ci` user in the cluster-control-plane cluster
  
  ...

e2e-gcp:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=gcp make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-azure:
  steps:
    cluster_profile: azure4
    test:
    - as: test
      cli: latest
      commands: GO_COMPLIANCE_INFO=0 CLOUD=azure make test-e2e
      dependencies:
      - env: HIVE_IMAGE
        name: hive
      - env: RELEASE_IMAGE
        name: release:latest
      from: src
      resources:
        requests:
  ...

ci/prow/coverage:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

docs - add Microsoft Entra Workload ID cluster installation procedure
  docs/aws-sts-provisioning.md
  docs/install.md
  docs/microsoft_entra_workload_id.md
Due: none

Update installer to v1.4.21-pre
  apis/go.mod
  apis/go.sum
  config/crds/hive.openshift.io_checkpoints.yaml
  config/crds/hive.openshift.io_clusterclaims.yaml
  config/crds/hive.openshift.io_clusterdeploymentcustomizations.yaml
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterimagesets.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  config/crds/hive.openshift.io_clusterprovisions.yaml
  config/crds/hive.openshift.io_clusterrelocates.yaml
  config/crds/hive.openshift.io_clusterstates.yaml
  config/crds/hive.openshift.io_dnszones.yaml
  config/crds/hive.openshift.io_hiveconfigs.yaml
  config/crds/hive.openshift.io_machinepoolnameleases.yaml
  config/crds/hive.openshift.io_machinepools.yaml
  config/crds/hive.openshift.io_selectorsyncidentityproviders.yaml
  config/crds/hive.openshift.io_selectorsyncsets.yaml
  config/crds/hive.openshift.io_syncidentityproviders.yaml
  config/crds/hive.openshift.io_syncsets.yaml
  config/crds/hiveinternal.openshift.io_clustersyncleases.yaml
  config/crds/hiveinternal.openshift.io_clustersyncs.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  go.mod
  go.sum
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder_test.go
  pkg/clusterresource/installconfigtemplate_test.go
  pkg/controller/clusterrelocate/clusterrelocate_controller.go
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
  pkg/controller/machinepool/nutanixactuator.go
  pkg/controller/machinepool/nutanixactuator_test.go
  pkg/installmanager/testdata/install-config-with-existing-pull-secret.yaml
  pkg/installmanager/testdata/install-config-with-pull-secret.yaml
  pkg/installmanager/testdata/install-config.yaml
  pkg/installmanager/testdata/nutanix-install-config-with-credentials.yaml
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update installer to v1.4.21-pre
  apis/go.mod
  apis/go.sum
  apis/hive/v1/clusterdeployment_types.go
  config/crds/hive.openshift.io_checkpoints.yaml
  config/crds/hive.openshift.io_clusterclaims.yaml
  config/crds/hive.openshift.io_clusterdeploymentcustomizations.yaml
  config/crds/hive.openshift.io_clusterdeployments.yaml
  config/crds/hive.openshift.io_clusterdeprovisions.yaml
  config/crds/hive.openshift.io_clusterimagesets.yaml
  config/crds/hive.openshift.io_clusterpools.yaml
  config/crds/hive.openshift.io_clusterprovisions.yaml
  config/crds/hive.openshift.io_clusterrelocates.yaml
  config/crds/hive.openshift.io_clusterstates.yaml
  config/crds/hive.openshift.io_dnszones.yaml
  config/crds/hive.openshift.io_hiveconfigs.yaml
  config/crds/hive.openshift.io_machinepoolnameleases.yaml
  config/crds/hive.openshift.io_machinepools.yaml
  config/crds/hive.openshift.io_selectorsyncidentityproviders.yaml
  config/crds/hive.openshift.io_selectorsyncsets.yaml
  config/crds/hive.openshift.io_syncidentityproviders.yaml
  config/crds/hive.openshift.io_syncsets.yaml
  config/crds/hiveinternal.openshift.io_clustersyncleases.yaml
  config/crds/hiveinternal.openshift.io_clustersyncs.yaml
  config/crds/hiveinternal.openshift.io_fakeclusterinstalls.yaml
  go.mod
  go.sum
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/builder_test.go
  pkg/clusterresource/installconfigtemplate_test.go
  pkg/controller/clusterrelocate/clusterrelocate_controller.go
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
  pkg/controller/machinepool/nutanixactuator.go
  pkg/controller/machinepool/nutanixactuator_test.go
  pkg/installmanager/testdata/install-config-with-existing-pull-secret.yaml
  pkg/installmanager/testdata/install-config-with-pull-secret.yaml
  pkg/installmanager/testdata/install-config.yaml
  pkg/installmanager/testdata/nutanix-install-config-with-credentials.yaml
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2690: Soften webhook validation for Azure baseDomainResourceGroupName
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  pkg/validating-webhooks/hive/v1/clusterpool_validating_admission_hook_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Switch BASE_IMAGE to ubi9-minimal
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-211-pull-request.yaml
  .tekton/hive-mce-211-push.yaml
  .tekton/hive-mce-26-pull-request.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-mce-28-pull-request.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

ARGify dnf in the Dockerfile
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

docs - add Microsoft Entra Workload ID cluster installation procedure
  docs/aws-sts-provisioning.md
  docs/hiveutil.md
  docs/install.md
  docs/microsoft_entra_workload_id.md
  docs/using-hive.md
Due: none

HIVE-2302:update procedure of cluster adoption
  docs/using-hive.md
Due: none

HIVE-2801:update clusterpool doc
  docs/clusterpools.md
Due: none

Update azure stuff (todo rename this commit)
  apis/go.mod
  apis/go.sum
  apis/hive/v1/azure/machinepool.go
  apis/hive/v1/azure/zz_generated.deepcopy.go
  config/crds/hive.openshift.io_machinepools.yaml
  hack/app-sre/saas-template.yaml
  pkg/clusterresource/azure.go
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
  test/e2e/postinstall/machinesets/infra_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

DNM: experiment
  pkg/controller/machinepool/azureactuator.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2690: Soften webhook validation for Azure baseDomainResourceGroupName
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterdeployment_validating_admission_hook_test.go
  pkg/validating-webhooks/hive/v1/clusterpool_validating_admission_hook.go
  pkg/validating-webhooks/hive/v1/clusterpool_validating_admission_hook_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Switch BASE_IMAGE to ubi9-minimal
  .tekton/hive-mce-210-pull-request.yaml
  .tekton/hive-mce-210-push.yaml
  .tekton/hive-mce-211-pull-request.yaml
  .tekton/hive-mce-211-push.yaml
  .tekton/hive-mce-26-pull-request.yaml
  .tekton/hive-mce-26-push.yaml
  .tekton/hive-mce-27-pull-request.yaml
  .tekton/hive-mce-27-push.yaml
  .tekton/hive-mce-28-pull-request.yaml
  .tekton/hive-mce-28-push.yaml
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  Dockerfile
  hack/hermetic/redhat.repo
  hack/hermetic/rpms.in.yaml
  hack/hermetic/rpms.lock.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Debug azure custom-dns issue
  pkg/installmanager/installmanager.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-1950: Consolidate fake client helpers
  Makefile
  hack/update-codegen.sh
  pkg/controller/clusterdeprovision/helpers_test.go
  pkg/controller/machinepool/machinepool_controller_test.go
  pkg/controller/machinepool/nutanixactuator_test.go
  pkg/test/fake/overrideable_client.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3025: fix adopted metadata.json secret name
  pkg/clusterresource/builder.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

A few machineset e2e test diagnostic improvements
  test/e2e/postinstall/machinesets/infra_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

test commit
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

DNM: Patch openshift/installer#10159
  vendor/github.com/openshift/installer/pkg/asset/machines/azure/azuremachines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/azure/machines.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3031: fix: filter machinesets by pool name in TestAutoscalingMachinePool
  test/e2e/postinstall/machinesets/infra_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add local e2e test support
  Makefile
  hack/local-e2e-common.sh
  hack/local-e2e-test.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add build-arg for DNF to opHub Make target
  Makefile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-3020: docs: add MachinePool adoption documentation improvements
  docs/using-hive.md
Due: none

HIVE-2199: Improve isControlledByMachinePool robustness
  pkg/controller/machinepool/machinepool_controller.go
  pkg/controller/machinepool/machinepool_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Update installer to 614e18ee6a52005c19fa93cdb07177f04965e65b
  go.mod
  go.sum
  pkg/controller/machinepool/azureactuator.go
  pkg/controller/machinepool/azureactuator_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Revendor installer to 614e18ee6a52005c19fa93cdb07177f04965e65b
  vendor/github.com/openshift/installer/pkg/asset/installconfig/aws/tags.go
  vendor/github.com/openshift/installer/pkg/asset/installconfig/aws/validation.go
  vendor/github.com/openshift/installer/pkg/asset/installconfig/powervs/regions.go
  vendor/github.com/openshift/installer/pkg/asset/machines/aws/awsmachines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/aws/machines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/azure/azuremachines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/azure/machines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/openstack/const.go
  vendor/github.com/openshift/installer/pkg/asset/machines/openstack/machines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/openstack/openstackmachines.go
  vendor/github.com/openshift/installer/pkg/destroy/aws/aws.go
  vendor/github.com/openshift/installer/pkg/destroy/aws/elbhelpers.go
  vendor/github.com/openshift/installer/pkg/destroy/gcp/cloudcontroller.go
  vendor/github.com/openshift/installer/pkg/destroy/gcp/firewall.go
  vendor/github.com/openshift/installer/pkg/types/aws/defaults/machinepool.go
  vendor/github.com/openshift/installer/pkg/types/aws/machinepool.go
  vendor/github.com/openshift/installer/pkg/types/aws/validation/machinepool.go
  vendor/github.com/openshift/installer/pkg/types/aws/zz_generated.deepcopy.go
  vendor/github.com/openshift/installer/pkg/types/baremetal/defaults/platform.go
  vendor/github.com/openshift/installer/pkg/types/baremetal/platform.go
  vendor/github.com/openshift/installer/pkg/types/baremetal/validation/featuregates.go
  vendor/github.com/openshift/installer/pkg/types/baremetal/validation/platform.go
  vendor/github.com/openshift/installer/pkg/types/defaults/machinepools.go
  vendor/github.com/openshift/installer/pkg/types/nutanix/defaults/platform.go
  vendor/github.com/openshift/installer/pkg/types/nutanix/platform.go
  vendor/github.com/openshift/installer/pkg/types/nutanix/validation/featuregates.go
  vendor/github.com/openshift/installer/pkg/types/nutanix/validation/platform.go
  vendor/github.com/openshift/installer/pkg/types/openstack/defaults/platform.go
  vendor/github.com/openshift/installer/pkg/types/openstack/platform.go
  vendor/github.com/openshift/installer/pkg/types/openstack/validation/featuregates.go
  vendor/github.com/openshift/installer/pkg/types/openstack/validation/platform.go
  vendor/github.com/openshift/installer/pkg/types/validation/installconfig.go
  vendor/github.com/openshift/installer/pkg/types/vsphere/defaults/platform.go
  vendor/github.com/openshift/installer/pkg/types/vsphere/platform.go
  vendor/github.com/openshift/installer/pkg/types/vsphere/validation/featuregates.go
  vendor/github.com/openshift/installer/pkg/types/vsphere/validation/platform.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

DO NOT MERGE more installer patching to make tests pass
  pkg/controller/machinepool/azureactuator_test.go
  pkg/installmanager/testdata/install-config-with-existing-pull-secret.yaml
  pkg/installmanager/testdata/install-config.yaml
  vendor/github.com/openshift/installer/pkg/asset/machines/azure/azuremachines.go
  vendor/github.com/openshift/installer/pkg/asset/machines/azure/machines.go
Due: unit, verify, coverage, security, e2e, e2e-pool, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2991: Add AI agent documentation and contributing guidelines
  .ai/README.md
  AGENTS.md
  CONTRIBUTING.md
  README.md
Due: none

docs: Clarify metadataJSONSecretRef optional behavior for cluster adoption
  docs/using-hive.md
Due: none

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
