Repository openshift/hive: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, coverage, security, e2e, e2e-pool, e2e-gcp, e2e-azure, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  coverage: any of: \.go$
  security: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-pool: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: gcp
  e2e-azure: any of: azure
  ci/prow/coverage: any of: \.go$
  ci/prow/e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

HIVE-2270: minimal e2e support for vSphere
  contrib/pkg/createcluster/create.go
  hack/e2e-common.sh
  pkg/constants/constants.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2792: Add Nutanix as a valid cloud provider in E2E tests
  hack/e2e-common.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2792: Fix Nutanix CA certificate on hiveutil allowing it to be optional
  contrib/pkg/createcluster/nutanix.go
  pkg/clusterresource/builder_test.go
  pkg/clusterresource/nutanix.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Red Hat Konflux update hive-mce-29 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2847: AWSPrivateLink: improve VPCEndpoint reconcile
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Handle TagLimitExceeded failures for AWS subnets during install
  config/configmaps/install-log-regexes-configmap.yaml
  pkg/controller/clusterprovision/installlogmonitor_test.go
  pkg/operator/assets/bindata.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2847: AWSPrivateLink: Use ListHostedZonesByName
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/cleanup.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Override generated 2.9 config with master config
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix most violations (hopefully)
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Enable hermetic builds for hive
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  hack/hermetic/README.md
  hack/hermetic/redhat.repo
  hack/hermetic/rpms.in.yaml
  hack/hermetic/rpms.lock.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add missing workspace name
  .tekton/hive-mce-29-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2847: AWSPrivateLink: Use ListHostedZonesByName
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller_test.go
  pkg/controller/awsprivatelink/cleanup.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Enable multi-arch builds for push
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  hack/hermetic/redhat.repo
  hack/hermetic/rpms.in.yaml
  hack/hermetic/rpms.lock.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Add newlines to end of files
  hack/hermetic/README.md
  hack/hermetic/rpms.in.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Empty commit 002 to force MCE-2.9 retrigger
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Empty commit 003 to force MCE-2.9 retrigger
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Empty commit 004 to force MCE-2.9 retrigger
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Empty commit 005 to force MCE-2.9 retrigger
  Dockerfile
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Reflect mce changes to the main hive konflux config
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

feat(ci): Build containers without python deps
  Dockerfile
  Makefile
  hack/ubi-build-deps.sh
  hack/version2.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2863: Update CAO, remove k8s/client-go `replace`
  go.mod
  go.sum
  vendor/github.com/openshift/cluster-autoscaler-operator/pkg/apis/autoscaling/v1/clusterautoscaler_types.go
  vendor/github.com/openshift/cluster-autoscaler-operator/pkg/apis/autoscaling/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/cluster-autoscaler-operator/pkg/apis/autoscaling/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2847: Doc ListHostedZonesByName permission
  docs/awsprivatelink.md
Due: none

Konflux: Don't run on draft PRs
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-pull-request.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

tmp
  pkg/client/fake/overrideable_client.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Reflect mce changes to the main hive konflux config
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-mce-29-push.yaml
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2849: Migrate AWS SDK to v2
  contrib/pkg/awsprivatelink/enable.go
  contrib/pkg/awsprivatelink/endpointvpc/add.go
  contrib/pkg/awsprivatelink/endpointvpc/remove.go
  contrib/pkg/certificate/create.go
  contrib/pkg/certificate/hook.go
  contrib/pkg/utils/aws/aws.go
  go.mod
  go.sum
  pkg/awsclient/client.go
  pkg/awsclientv2/client.go
  pkg/awsclientv2/mock/client_generated.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller_test.go
  pkg/controller/awsprivatelink/vpcinventory.go
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/awsactuator_test.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/installmanager/installmanager.go
  vendor/github.com/aws/aws-sdk-go-v2/aws/credential_cache.go
  vendor/github.com/aws/aws-sdk-go-v2/aws/credentials.go
  vendor/github.com/aws/aws-sdk-go-v2/aws/go_module_metadata.go
  vendor/github.com/aws/aws-sdk-go-v2/aws/middleware/user_agent.go
  vendor/github.com/aws/aws-sdk-go-v2/internal/endpoints/awsrulesfn/partitions.json
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2581: Trim trailing spaces in BASE_DOMAIN to fix install-config validation error
  hack/e2e-common.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Konflux konfigs for mce 2.8
  .tekton/hive-pull-request.yaml
  .tekton/hive-push.yaml
  hack/hermetic/hermetic/README.md
  hack/hermetic/hermetic/redhat.repo
  hack/hermetic/hermetic/rpms.in.yaml
  hack/hermetic/hermetic/rpms.lock.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2870: hiveadmission: proper authn to the KAS
  config/hiveadmission/apiservice.yaml
  config/hiveadmission/clusterdeployment-webhook.yaml
  config/hiveadmission/clusterimageset-webhook.yaml
  config/hiveadmission/clusterprovision-webhook.yaml
  config/hiveadmission/dnszones-webhook.yaml
  config/hiveadmission/machinepool-webhook.yaml
  config/hiveadmission/sa-token-secret.yaml
  config/hiveadmission/selectorsyncset-webhook.yaml
  config/hiveadmission/syncset-webhook.yaml
  pkg/operator/assets/bindata.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Nutanix e2e
  hack/e2e-common.sh
  hack/e2e-test.sh
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2715: Document ClusterPool versioning behavior
  docs/clusterpools.md
Due: none

Implement OTE Interface in Hive
  Dockerfile
  Makefile
  cmd/hive-tests-ext/main.go
  go.mod
  go.sum
  test/e2e/aws/test.go
  test/e2e/postinstall/syncsets/syncsets_suite_test.go
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Follow up to HIVE-2819 - always show the upgradeable annotation. If the annotation is present with an empty string, this means that the cluster is upgradeable.
  pkg/controller/clusterversion/clusterversion_controller.go
  pkg/controller/clusterversion/clusterversion_controller_test.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2870: hiveadmission: proper authn to the KAS
  config/hiveadmission/apiservice.yaml
  config/hiveadmission/clusterdeployment-webhook.yaml
  config/hiveadmission/clusterimageset-webhook.yaml
  config/hiveadmission/clusterprovision-webhook.yaml
  config/hiveadmission/dnszones-webhook.yaml
  config/hiveadmission/machinepool-webhook.yaml
  config/hiveadmission/selectorsyncset-webhook.yaml
  config/hiveadmission/syncset-webhook.yaml
  pkg/operator/assets/bindata.go
  pkg/operator/hive/hive_controller.go
  pkg/operator/hive/hiveadmission.go
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

HIVE-2849: Migrate AWS SDK to v2
  contrib/pkg/awsprivatelink/enable.go
  contrib/pkg/awsprivatelink/endpointvpc/add.go
  contrib/pkg/awsprivatelink/endpointvpc/remove.go
  contrib/pkg/certificate/create.go
  contrib/pkg/certificate/hook.go
  contrib/pkg/utils/aws/aws.go
  go.mod
  go.sum
  pkg/awsclientv2/client.go
  pkg/awsclientv2/mock/client_generated.go
  pkg/controller/awsprivatelink/awsprivatelink_controller.go
  pkg/controller/awsprivatelink/awsprivatelink_controller_test.go
  pkg/controller/awsprivatelink/cleanup.go
  pkg/controller/awsprivatelink/vpcinventory.go
  pkg/controller/clusterdeprovision/awsactuator.go
  pkg/controller/clusterdeprovision/clusterdeprovision_controller_test.go
  pkg/controller/clusterdeprovision/helpers_test.go
  pkg/controller/dnsendpoint/nameserver/aws.go
  pkg/controller/dnsendpoint/nameserver/aws_test.go
  pkg/controller/dnszone/awsactuator.go
  pkg/controller/dnszone/awsactuator_test.go
  pkg/controller/machinepool/awsactuator.go
  pkg/controller/machinepool/awsactuator_test.go
  pkg/controller/machinepool/machinepool_controller.go
  pkg/installmanager/installmanager.go
  vendor/github.com/aws/aws-sdk-go-v2/aws/credential_cache.go
  vendor/github.com/aws/aws-sdk-go-v2/aws/credentials.go
  vendor/github.com/aws/aws-sdk-go-v2/aws/go_module_metadata.go
  vendor/github.com/aws/aws-sdk-go-v2/aws/middleware/user_agent.go
  vendor/github.com/aws/aws-sdk-go-v2/internal/endpoints/awsrulesfn/partitions.json
  vendor/modules.txt
Due: unit, verify, coverage, security, e2e, e2e-pool, ci/prow/coverage, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify

Reduce build platforms for pull requests in konflux
  .tekton/hive-mce-29-pull-request.yaml
  .tekton/hive-pull-request.yaml
Due: unit, verify, security, e2e, e2e-pool, ci/prow/e2e, ci/prow/images, ci/prow/unit, ci/prow/verify
