Repository openshift/image-registry: changes, and which Prow jobs are due for each by the changed paths.
All: unit, e2e-aws-ovn, e2e-gcp, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

unit:
  commands: JUNIT_REPORT=1 hack/test-go.sh
  container:
    from: test-bin

e2e-aws-ovn:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws

e2e-gcp:
  optional: true
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp

e2e-aws-image-registry:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-image-registry

e2e-aws-upgrade:
  steps:
    cluster_profile: aws
    workflow: openshift-upgrade-aws

e2e-agnostic-image-registry:
  steps:
    cluster_profile: azure4
    test:
    - as: e2e-test
      commands: TEST_KUBECONFIG=${KUBECONFIG} JUNIT_REPORT=true make test-integration
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: openshift-e2e-azure

verify:
  commands: make verify
  container:
    from: src

ci/prow/e2e-agnostic-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

OCPBUGS-49695: bump docker distribution
  go.mod
  go.sum
  vendor/github.com/distribution/distribution/v3/registry/storage/driver/s3-aws/s3.go
  vendor/modules.txt
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-49696: bump docker distribution
  go.mod
  go.sum
  vendor/github.com/distribution/distribution/v3/registry/storage/driver/s3-aws/s3.go
  vendor/modules.txt
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

chore: update owners file
  OWNERS
Due: none

IR-522: disable aws region check
  go.mod
  go.sum
  vendor/github.com/distribution/distribution/v3/registry/storage/driver/s3-aws/s3.go
  vendor/modules.txt
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-56483: bump jwt and oauth dependencies
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/LICENSE
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/compute/metadata/retry.go
  vendor/cloud.google.com/go/compute/metadata/tidyfix.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/deviceauth.go
  vendor/golang.org/x/oauth2/google/appengine.go
  vendor/golang.org/x/oauth2/google/appengine_gen1.go
  vendor/golang.org/x/oauth2/google/appengine_gen2_flex.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/filecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/header.go
  vendor/golang.org/x/oauth2/google/externalaccount/programmaticrefreshcredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/urlcredsource.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/err.go
  vendor/golang.org/x/oauth2/google/internal/externalaccountauthorizeduser/externalaccountauthorizeduser.go
  vendor/golang.org/x/oauth2/google/internal/impersonate/impersonate.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/clientauth.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/sts_exchange.go
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/golang.org/x/oauth2/internal/token.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: unit, e2e-aws-ovn, e2e-gcp, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-53656: bump jwt and oauth dependencies
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/LICENSE
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/compute/metadata/retry.go
  vendor/cloud.google.com/go/compute/metadata/tidyfix.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/deviceauth.go
  vendor/golang.org/x/oauth2/google/appengine.go
  vendor/golang.org/x/oauth2/google/appengine_gen1.go
  vendor/golang.org/x/oauth2/google/appengine_gen2_flex.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/filecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/header.go
  vendor/golang.org/x/oauth2/google/externalaccount/programmaticrefreshcredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/urlcredsource.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/err.go
  vendor/golang.org/x/oauth2/google/internal/externalaccountauthorizeduser/externalaccountauthorizeduser.go
  vendor/golang.org/x/oauth2/google/internal/impersonate/impersonate.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/clientauth.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/sts_exchange.go
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/golang.org/x/oauth2/internal/token.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: unit, e2e-aws-ovn, e2e-gcp, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-53657: bump jwt and oauth dependencies
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/LICENSE
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/compute/metadata/retry.go
  vendor/cloud.google.com/go/compute/metadata/tidyfix.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/deviceauth.go
  vendor/golang.org/x/oauth2/google/appengine.go
  vendor/golang.org/x/oauth2/google/appengine_gen1.go
  vendor/golang.org/x/oauth2/google/appengine_gen2_flex.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/filecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/header.go
  vendor/golang.org/x/oauth2/google/externalaccount/programmaticrefreshcredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/urlcredsource.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/err.go
  vendor/golang.org/x/oauth2/google/internal/externalaccountauthorizeduser/externalaccountauthorizeduser.go
  vendor/golang.org/x/oauth2/google/internal/impersonate/impersonate.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/clientauth.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/sts_exchange.go
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/golang.org/x/oauth2/internal/token.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: unit, e2e-aws-ovn, e2e-gcp, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-53655: bump jwt and oauth dependencies
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/LICENSE
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/compute/metadata/retry.go
  vendor/cloud.google.com/go/compute/metadata/tidyfix.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/deviceauth.go
  vendor/golang.org/x/oauth2/google/appengine.go
  vendor/golang.org/x/oauth2/google/appengine_gen1.go
  vendor/golang.org/x/oauth2/google/appengine_gen2_flex.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/filecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/header.go
  vendor/golang.org/x/oauth2/google/externalaccount/programmaticrefreshcredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/urlcredsource.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/err.go
  vendor/golang.org/x/oauth2/google/internal/externalaccountauthorizeduser/externalaccountauthorizeduser.go
  vendor/golang.org/x/oauth2/google/internal/impersonate/impersonate.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/clientauth.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/sts_exchange.go
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/golang.org/x/oauth2/internal/token.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: unit, e2e-aws-ovn, e2e-gcp, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-53654: bump jwt and oauth dependencies
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/LICENSE
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/compute/metadata/retry.go
  vendor/cloud.google.com/go/compute/metadata/tidyfix.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/deviceauth.go
  vendor/golang.org/x/oauth2/google/appengine.go
  vendor/golang.org/x/oauth2/google/appengine_gen1.go
  vendor/golang.org/x/oauth2/google/appengine_gen2_flex.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/filecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/header.go
  vendor/golang.org/x/oauth2/google/externalaccount/programmaticrefreshcredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/urlcredsource.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/err.go
  vendor/golang.org/x/oauth2/google/internal/externalaccountauthorizeduser/externalaccountauthorizeduser.go
  vendor/golang.org/x/oauth2/google/internal/impersonate/impersonate.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/clientauth.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/sts_exchange.go
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/golang.org/x/oauth2/internal/token.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: unit, e2e-aws-ovn, e2e-gcp, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-53650: bump jwt and oauth dependencies
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/LICENSE
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/compute/metadata/retry.go
  vendor/cloud.google.com/go/compute/metadata/tidyfix.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/deviceauth.go
  vendor/golang.org/x/oauth2/google/appengine.go
  vendor/golang.org/x/oauth2/google/appengine_gen1.go
  vendor/golang.org/x/oauth2/google/appengine_gen2_flex.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/filecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/header.go
  vendor/golang.org/x/oauth2/google/externalaccount/programmaticrefreshcredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/urlcredsource.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/err.go
  vendor/golang.org/x/oauth2/google/internal/externalaccountauthorizeduser/externalaccountauthorizeduser.go
  vendor/golang.org/x/oauth2/google/internal/impersonate/impersonate.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/clientauth.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/sts_exchange.go
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/golang.org/x/oauth2/internal/token.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: unit, e2e-aws-ovn, e2e-gcp, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-53651: bump jwt and oauth dependencies
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/LICENSE
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/compute/metadata/retry.go
  vendor/cloud.google.com/go/compute/metadata/tidyfix.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/deviceauth.go
  vendor/golang.org/x/oauth2/google/appengine.go
  vendor/golang.org/x/oauth2/google/appengine_gen1.go
  vendor/golang.org/x/oauth2/google/appengine_gen2_flex.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/filecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/header.go
  vendor/golang.org/x/oauth2/google/externalaccount/programmaticrefreshcredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/urlcredsource.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/err.go
  vendor/golang.org/x/oauth2/google/internal/externalaccountauthorizeduser/externalaccountauthorizeduser.go
  vendor/golang.org/x/oauth2/google/internal/impersonate/impersonate.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/clientauth.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/sts_exchange.go
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/golang.org/x/oauth2/internal/oauth2.go
  vendor/golang.org/x/oauth2/internal/token.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: unit, e2e-aws-ovn, e2e-gcp, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

IR-526(dependency bump): remove aws region check
  go.mod
  go.sum
  vendor/github.com/distribution/distribution/v3/registry/storage/driver/s3-aws/s3.go
  vendor/modules.txt
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

RFE-4160: enable read only filesystem
  pkg/testframework/registry.go
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OSASINFRA-3756: test-only/DNM
  go.mod
  go.sum
  vendor/github.com/distribution/distribution/v3/registry/storage/driver/swift/swift.go
  vendor/github.com/ncw/swift/.travis.yml
  vendor/github.com/ncw/swift/v2/.gitignore
  vendor/github.com/ncw/swift/v2/.golangci.yml
  vendor/github.com/ncw/swift/v2/COPYING
  vendor/github.com/ncw/swift/v2/README.md
  vendor/github.com/ncw/swift/v2/RELEASE.md
  vendor/github.com/ncw/swift/v2/auth.go
  vendor/github.com/ncw/swift/v2/auth_v3.go
  vendor/github.com/ncw/swift/v2/compatibility_1_0.go
  vendor/github.com/ncw/swift/v2/compatibility_1_1.go
  vendor/github.com/ncw/swift/v2/compatibility_1_6.go
  vendor/github.com/ncw/swift/v2/compatibility_not_1_6.go
  vendor/github.com/ncw/swift/v2/dlo.go
  vendor/github.com/ncw/swift/v2/doc.go
  vendor/github.com/ncw/swift/v2/integration_test.sh
  vendor/github.com/ncw/swift/v2/largeobjects.go
  vendor/github.com/ncw/swift/v2/meta.go
  vendor/github.com/ncw/swift/v2/notes.txt
  vendor/github.com/ncw/swift/v2/slo.go
  vendor/github.com/ncw/swift/v2/swift.go
  vendor/github.com/ncw/swift/v2/timeout_reader.go
  vendor/github.com/ncw/swift/v2/travis_realserver.sh
  vendor/github.com/ncw/swift/v2/watchdog_reader.go
  vendor/modules.txt
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Bump docker-distribution to support v3token authentication for swift
  go.mod
  go.sum
  vendor/github.com/distribution/distribution/v3/registry/storage/driver/swift/swift.go
  vendor/github.com/ncw/swift/.travis.yml
  vendor/github.com/ncw/swift/v2/.gitignore
  vendor/github.com/ncw/swift/v2/.golangci.yml
  vendor/github.com/ncw/swift/v2/COPYING
  vendor/github.com/ncw/swift/v2/README.md
  vendor/github.com/ncw/swift/v2/RELEASE.md
  vendor/github.com/ncw/swift/v2/auth.go
  vendor/github.com/ncw/swift/v2/auth_v3.go
  vendor/github.com/ncw/swift/v2/compatibility_1_0.go
  vendor/github.com/ncw/swift/v2/compatibility_1_1.go
  vendor/github.com/ncw/swift/v2/compatibility_1_6.go
  vendor/github.com/ncw/swift/v2/compatibility_not_1_6.go
  vendor/github.com/ncw/swift/v2/dlo.go
  vendor/github.com/ncw/swift/v2/doc.go
  vendor/github.com/ncw/swift/v2/integration_test.sh
  vendor/github.com/ncw/swift/v2/largeobjects.go
  vendor/github.com/ncw/swift/v2/meta.go
  vendor/github.com/ncw/swift/v2/notes.txt
  vendor/github.com/ncw/swift/v2/slo.go
  vendor/github.com/ncw/swift/v2/swift.go
  vendor/github.com/ncw/swift/v2/timeout_reader.go
  vendor/github.com/ncw/swift/v2/travis_realserver.sh
  vendor/github.com/ncw/swift/v2/watchdog_reader.go
  vendor/modules.txt
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

bump docker distribution to fix purgeuploads panic
  go.mod
  go.sum
  vendor/github.com/distribution/distribution/v3/registry/storage/driver/s3-aws/s3.go
  vendor/modules.txt
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

update OWNERS
  OWNERS
Due: none

bump openshift/docker-distribution
  go.mod
  go.sum
  vendor/github.com/distribution/distribution/v3/registry/storage/driver/s3-aws/s3.go
  vendor/modules.txt
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Add config.yaml and distribution binary for generic registry
  Dockerfile.ocp
  cmd/distribution/main.go
  hack/lib/constants.sh
  images/registry/config.yaml
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

chore: fix code after dependency bumps (kube v1.34)
  cmd/dockerregistry/main.go
  go.mod
  pkg/dockerregistry/server/manifest/manifestschema1handler_test.go
  pkg/dockerregistry/server/manifest/manifestschema2handler_test.go
  pkg/dockerregistry/server/repository_test.go
  pkg/imagestream/identifycandidaterepositories_test.go
  pkg/testutil/manifests.go
  tools/gotest2junit/gotest2junit.go
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

added OTE infrastructure code changes only
  Dockerfile
  Makefile
  README.md
  cmd/dockerregistry-tests-ext/main.go
  hack/lib/constants.sh
  test/OWNERS
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Migrate away from deprecated ioutil
  pkg/cmd/dockerregistry/dockerregistry.go
  pkg/dockerregistry/server/blobdescriptorservice_test.go
  pkg/dockerregistry/server/configuration/configuration.go
  pkg/dockerregistry/server/signaturedispatcher.go
  pkg/dockerregistry/server/signaturedispatcher_test.go
  pkg/dockerregistry/server/util_test.go
  pkg/kubernetes-common/credentialprovider/config.go
  pkg/kubernetes-common/credentialprovider/config_test.go
  pkg/origin-common/clientcmd/clientcmd.go
  pkg/testframework/registry.go
  pkg/testutil/logrus.go
  test/integration/imagelayers/imagelayers_test.go
  test/integration/pullthrough/pullthrough_test.go
  test/integration/v2/v2_docker_registry_test.go
  tools/import-verifier/import-verifier.go
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

chore: fix code after dependency bumps (kube v1.34)
  go.mod
  pkg/dockerregistry/server/manifest/manifestschema1handler_test.go
  pkg/dockerregistry/server/manifest/manifestschema2handler_test.go
  pkg/dockerregistry/server/repository_test.go
  pkg/imagestream/identifycandidaterepositories_test.go
  pkg/testutil/manifests.go
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

IR-350: fix cipher suite configuration conflict with docker distribution
  pkg/cmd/dockerregistry/dockerregistry.go
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

chore: address vet after bumping library-go
  pkg/dockerregistry/server/manifest/manifestschema1handler_test.go
  pkg/dockerregistry/server/manifest/manifestschema2handler_test.go
  pkg/dockerregistry/server/repository_test.go
  pkg/imagestream/identifycandidaterepositories_test.go
  pkg/testutil/manifests.go
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

chore: fix misguiding error message
  pkg/cmd/dockerregistry/dockerregistry.go
Due: unit, e2e-aws-ovn, e2e-aws-image-registry, e2e-aws-upgrade, e2e-agnostic-image-registry, verify, ci/prow/e2e-agnostic-image-registry, ci/prow/e2e-aws, ci/prow/e2e-aws-image-registry, ci/prow/e2e-aws-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp: any of: ^(.*gcs.*|vendor/(cloud\.google\.com|google\.golang\.org)/.*)\.go$
  e2e-aws-image-registry: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-agnostic-image-registry: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-image-registry: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-image-registry: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
