Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

feat(SPRE-1819,SPRE-1626) New metrics (#7469)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Eventing: use resync fix image (#7481)
  components/knative-eventing/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "feat(SPRE-1819,SPRE-1626) New metrics (#7469)"
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

stone-stage-p01: remove member operator resources
  components/sandbox/toolchain-member-operator/staging/stone-stage-p01/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/stone-stage-p01/ns.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote release-service from staging to production
  components/release/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: keep event_type (#7425)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXVNGD-427: Vault access for vanguard tenant (#7471)
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Mintmaker redis memory usage added (#7484)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote integration-service from staging to production
  components/integration/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(): update internal-service OWNERS for new members (#7483)
  components/internal-services/OWNERS
Due: none

Promote release-service from staging to production (#7489)
  components/release/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote integration-service from staging to production (#7491)
  components/integration/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: update release-service OWNERS for new members (#7453)
  components/release/OWNERS
Due: none

fix: comprehensive kube-linter fixes for vector-kubearchive-log-collector
  components/vector-kubearchive-log-collector/development/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix the external secret path
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: resolve Loki gateway nginx container failures in development environment
  components/vector-kubearchive-log-collector/development/loki-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix kube-linter errors
  components/vector-kubearchive-log-collector/base/kustomization.yaml
  components/vector-kubearchive-log-collector/base/vector-helm-values.yaml
  components/vector-kubearchive-log-collector/development/grafana-helm-values.yaml
  components/vector-kubearchive-log-collector/development/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/grafana-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: correct PodDisruptionBudget configuration for Loki development
  components/vector-kubearchive-log-collector/development/loki-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KONFLUX-8225): multiple fixes of synchronization issues
  .gitignore
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/vector-kubearchive-log-collector/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/vector-kubearchive-log-collector/vector-kubearchive-log-collector.yaml
  argo-cd-apps/base/member/infra-deployments/vector-kubearchive-log-collector/vector-kubearchive-logs-collector.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  components/vector-kubearchive-log-collector/base/kustomization.yaml
  components/vector-kubearchive-log-collector/base/vector-helm-values.yaml
  components/vector-kubearchive-log-collector/base/vector-pre.yaml
  components/vector-kubearchive-log-collector/development/grafana-helm-generator.yaml
  components/vector-kubearchive-log-collector/development/grafana-helm-values.yaml
  components/vector-kubearchive-log-collector/development/kustomization.yaml
  components/vector-kubearchive-log-collector/development/loki-secret.yaml
  components/vector-kubearchive-log-collector/development/values.minio.yaml
  components/vector-kubearchive-log-collector/production/loki-helm-generator.yaml
  components/vector-kubearchive-log-collector/production/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/production/values.minio.yaml
  components/vector-kubearchive-log-collector/staging/base/kustomization.yaml
  components/vector-kubearchive-log-collector/staging/kustomization.yaml
  components/vector-kubearchive-log-collector/staging/loki-helm-generator.yaml
  components/vector-kubearchive-log-collector/staging/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/grafana-helm-generator.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/grafana-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/kustomization.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-generator.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-secret.yaml
  components/vector-kubearchive-log-collector/staging/values.minio.yaml
  hack/preview.sh
  hack/secret-creator/create-plnsvc-secrets.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: simplify Loki configuration to resolve remaining kube-linter errors
  components/vector-kubearchive-log-collector/development/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: remove init container causing busybox image pull failures
  components/vector-kubearchive-log-collector/base/vector-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KONFLUX-8225): add log forwarder for KubeArchive
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/vector-kubearchive-log-collector/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/vector-kubearchive-log-collector/vector-kubearchive-logs-collector.yaml
  components/vector-kubearchive-log-collector/base/kustomization.yaml
  components/vector-kubearchive-log-collector/base/vector-helm-generator.yaml
  components/vector-kubearchive-log-collector/base/vector-helm-values.yaml
  components/vector-kubearchive-log-collector/base/vector-pre.yaml
  components/vector-kubearchive-log-collector/development/kustomization.yaml
  components/vector-kubearchive-log-collector/development/loki-helm-generator.yaml
  components/vector-kubearchive-log-collector/development/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/development/values.minio.yaml
  components/vector-kubearchive-log-collector/production/kustomization.yaml
  components/vector-kubearchive-log-collector/production/loki-helm-generator.yaml
  components/vector-kubearchive-log-collector/production/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/production/values.minio.yaml
  components/vector-kubearchive-log-collector/staging/kustomization.yaml
  components/vector-kubearchive-log-collector/staging/loki-helm-generator.yaml
  components/vector-kubearchive-log-collector/staging/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/values.minio.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: add missing inject-infra-deployments-repo-details to kubearchive
  argo-cd-apps/base/member/infra-deployments/kubearchive/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: add missing service accounts for Loki gateway and canary
  components/vector-kubearchive-log-collector/base/vector-pre.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: resolve kustomize deprecation warnings and helm chart conflicts for vector-kubearchive-log-collector
  components/vector-kubearchive-log-collector/base/.gitignore
  components/vector-kubearchive-log-collector/development/.gitignore
  components/vector-kubearchive-log-collector/development/kustomization.yaml
  components/vector-kubearchive-log-collector/staging/.gitignore
  components/vector-kubearchive-log-collector/staging/base/kustomization.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: add required storage configuration to resolve Loki Helm template errors
  components/vector-kubearchive-log-collector/development/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: correct DNS configuration for OpenShift environment and improve SCC
  components/vector-kubearchive-log-collector/base/vector-pre.yaml
  components/vector-kubearchive-log-collector/development/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "feat(SPRE-1819,SPRE-1626) New metrics (#7469)" (#7487)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: remove duplicate docker.io prefix from nginx image repository in development
  components/vector-kubearchive-log-collector/development/loki-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix nginx image repo for loki gateway
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests
