Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Reduce kyverno background controller CPU from 7 to 6 on rh01 (#7665)
  components/kyverno/production/stone-prd-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Align prod-p02 kyverno config with prd-rh01 one
  components/kyverno/production/stone-prod-p02/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Align prod-p02 kyverno config with prd-rh01 one (#7666)
  components/kyverno/production/stone-prod-p02/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update build-service & image-controller dashboards
  components/monitoring/grafana/base/dashboards/build-service/dashboard.yaml
  components/monitoring/grafana/base/dashboards/build-service/kustomization.yaml
  components/monitoring/grafana/base/dashboards/image-controller/dashboard.yaml
  components/monitoring/grafana/base/dashboards/image-controller/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

tekton-ci: add tenant label in staging overlay
  components/tekton-ci/staging/kustomization.yaml
  components/tekton-ci/staging/namespace.yaml
Due: none

konflux-ci: add tenant label in staging overlay
  components/konflux-ci/staging/kustomization.yaml
  components/konflux-ci/staging/namespace.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix Loki service account settings for S3 access
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Eventing: rollback fixes in staging and dev (#7650)
  components/knative-eventing/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix Loki service account settings for S3 access (#7681)
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: install v1.6.0 on production clusters
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh03/kustomization.yaml
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: install v1.6.0 on production clusters (#7682)
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh03/kustomization.yaml
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

added 'linux-arm-64-test' platform to test waiting_tasks platform
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2097: Host-Config Tuning RH01 and P02 (#7683)
  components/kueue/production/stone-prd-rh01/queue-config/cluster-queue.yaml
  components/kueue/production/stone-prod-p02/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-config.yaml
  components/multi-platform-controller/production/stone-prd-rh01/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

added 'linux-arm-64-test' platform to cluster-queue after running 'generate-queue-config.sh'
  components/kueue/staging/stone-stage-p01/queue-config/cluster-queue.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: disable leader on OCP P01 (#7639)
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix kubearchive-logging Loki ruler errors
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(SPRE-1626) Container metrics
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix kubearchive-logging Loki ruler errors (#7685)
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fixed 'llinux' typo
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

changed the name of the test platform and updated the dynamic-platforms list
  components/kueue/staging/stone-stage-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(SPRE-1626) Container metrics (#7686)
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix Loki ruler failure for kubearchive-logging
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix Loki ruler failure for kubearchive-logging (#7688)
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(SPRE-1626)Metrics export to production
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix empty container field
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/vector-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

added 'linux-arm-64-test' platform (#7684)
  components/kueue/staging/stone-stage-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2097: Host-Config Tuning for P02 (#7690)
  components/kueue/production/stone-prod-p02/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix empty container field (#7691)
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/vector-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests
