Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

fix loki 500 internal server error (#7704)
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/vector-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Deploy updated kanary supported clusters to stage
  components/monitoring/kanary/staging/stone-stage-p01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Refactor nginx config in prod
  components/konflux-ui/production/base/proxy/auth.conf
  components/konflux-ui/production/base/proxy/kubearchive.conf
  components/konflux-ui/production/base/proxy/kustomization.yaml
  components/konflux-ui/production/base/proxy/nginx.conf
  components/konflux-ui/production/base/proxy/proxy.yaml
  components/konflux-ui/production/base/proxy/tekton-results-workspaces.conf
  components/konflux-ui/production/base/proxy/tekton-results.conf
  components/konflux-ui/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-osp-p01/kubearchive.conf
  components/konflux-ui/production/kflux-osp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh02/kubearchive.conf
  components/konflux-ui/production/kflux-prd-rh02/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh03/kustomization.yaml
  components/konflux-ui/production/kflux-rhel-p01/kustomization.yaml
  components/konflux-ui/production/stone-prd-rh01/kubearchive.conf
  components/konflux-ui/production/stone-prd-rh01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p01/kubearchive.conf
  components/konflux-ui/production/stone-prod-p01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: kyverno: reduce quay.io requests in tests
  components/policies/development/taskruns-cluster-policy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(SPRE-1626) Adding missing metrics from production We have container metrics in prod but not in stage, adding those so we have the same content in both files.
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(SPRE-1626) Adding missing metrics from production (#7711)
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: apply suggestion
  components/policies/development/taskruns-cluster-policy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(SPRE-1819) new api_server metrics (#7712)
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Modified owners
  components/mintmaker/OWNERS
Due: none

feat(/SPRE-1819) Latency metric api server Based on the actual recording rules creatd on cluster-based grafana instances, we are adding a useful recording rule to measure latency.
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Modified owners (#7714)
  components/mintmaker/OWNERS
Due: none

feat(/SPRE-1819) Latency metric api server (#7715)
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add mathur07 as reviewer to pipeline-service OWNERS (#7607)
  components/pipeline-service/OWNERS
Due: none

Revert "Refactor nginx config in prod (#7417)" (#7706)
  components/konflux-ui/production/base/proxy/auth.conf
  components/konflux-ui/production/base/proxy/kubearchive.conf
  components/konflux-ui/production/base/proxy/kustomization.yaml
  components/konflux-ui/production/base/proxy/nginx.conf
  components/konflux-ui/production/base/proxy/proxy.yaml
  components/konflux-ui/production/base/proxy/tekton-results-workspaces.conf
  components/konflux-ui/production/base/proxy/tekton-results.conf
  components/konflux-ui/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-osp-p01/kubearchive.conf
  components/konflux-ui/production/kflux-osp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh02/kubearchive.conf
  components/konflux-ui/production/kflux-prd-rh02/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh03/kustomization.yaml
  components/konflux-ui/production/kflux-rhel-p01/kustomization.yaml
  components/konflux-ui/production/stone-prd-rh01/kubearchive.conf
  components/konflux-ui/production/stone-prd-rh01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p01/kubearchive.conf
  components/konflux-ui/production/stone-prod-p01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(PVO11Y-4891): Include taskrun running count metric
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(PVO11Y-4891): Include taskrun running count metric
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(PVO11Y-4891): Include pac queue metric
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Refactor nginx config in prod (#7708)
  components/konflux-ui/production/base/proxy/auth.conf
  components/konflux-ui/production/base/proxy/kubearchive.conf
  components/konflux-ui/production/base/proxy/kustomization.yaml
  components/konflux-ui/production/base/proxy/nginx.conf
  components/konflux-ui/production/base/proxy/proxy.yaml
  components/konflux-ui/production/base/proxy/tekton-results-workspaces.conf
  components/konflux-ui/production/base/proxy/tekton-results.conf
  components/konflux-ui/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-osp-p01/kubearchive.conf
  components/konflux-ui/production/kflux-osp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh02/kubearchive.conf
  components/konflux-ui/production/kflux-prd-rh02/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh03/kustomization.yaml
  components/konflux-ui/production/kflux-rhel-p01/kustomization.yaml
  components/konflux-ui/production/stone-prd-rh01/kubearchive.conf
  components/konflux-ui/production/stone-prd-rh01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p01/kubearchive.conf
  components/konflux-ui/production/stone-prod-p01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(PVO11Y-4891): Include taskrun running count metric (#7717)
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Deploy updated kanary supported clusters to stage (#7707)
  components/monitoring/kanary/staging/stone-stage-p01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: kyverno: reduce quay.io requests in tests (#7710)
  components/policies/development/taskruns-cluster-policy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update build-service & image-controller dashboards (#7671)
  components/monitoring/grafana/base/dashboards/build-service/dashboard.yaml
  components/monitoring/grafana/base/dashboards/build-service/kustomization.yaml
  components/monitoring/grafana/base/dashboards/image-controller/dashboard.yaml
  components/monitoring/grafana/base/dashboards/image-controller/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

ClusterPolicy for RoleBindings in releng tenant
  components/policies/staging/base/konflux-rbac/kustomization.yaml
  components/policies/staging/base/konflux-rbac/restrict-binding-system-authenticated-releng/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/staging/base/konflux-rbac/restrict-binding-system-authenticated-releng/.chainsaw-test/chainsaw-test.yaml
  components/policies/staging/base/konflux-rbac/restrict-binding-system-authenticated-releng/.chainsaw-test/resources/invalid-systemauthenticated-rolebinding.yaml
  components/policies/staging/base/konflux-rbac/restrict-binding-system-authenticated-releng/.chainsaw-test/resources/tenant-namespace.yaml
  components/policies/staging/base/konflux-rbac/restrict-binding-system-authenticated-releng/.chainsaw-test/resources/valid-systemauthenticated-rolebinding.yaml
  components/policies/staging/base/konflux-rbac/restrict-binding-system-authenticated-releng/kustomization.yaml
  components/policies/staging/base/konflux-rbac/restrict-binding-system-authenticated-releng/kyverno_rbac.yaml
  components/policies/staging/base/konflux-rbac/restrict-binding-system-authenticated-releng/validate-restrict-binding-system-authenticated-releng-clusterpolicy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

rh02: remove member-operator subscription
  components/sandbox/toolchain-member-operator/production/kflux-prd-rh02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Set memory request and limits to same values for ESO
  components/external-secrets-operator/base/operator-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests
