Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-hac-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: rhtap
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-install-konflux
    - ref: redhat-appstudio-hac-e2e
    workflow: redhat-appstudio-claim

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: rhtap
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: rhtap
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

Promote integration-service from staging to production (#4019)
  components/integration/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add lgallovi to the MintMaker project
  components/mintmaker/OWNERS
Due: none

Update pipeline-service prod
  components/pipeline-service/production/base/kustomization.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-651: Adding Instance Types for Multi-Platform Builds (#4013)
  components/multi-platform-controller/production-downstream/host-config.yaml
  components/multi-platform-controller/production/host-config.yaml
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update pipeline-service prod (#4028)
  components/pipeline-service/production/base/kustomization.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add lgallovi to the MintMaker project (#4033)
  components/mintmaker/OWNERS
Due: none

promote image-controller component with new changes
  components/image-controller/development/kustomization.yaml
  components/image-controller/staging/base/kustomization.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Separate renovate config for each environment and fix errors
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/development/renovate-config.yaml
  components/mintmaker/production/base/kustomization.yaml
  components/mintmaker/production/base/renovate-config.yaml
  components/mintmaker/staging/base/kustomization.yaml
  components/mintmaker/staging/base/renovate-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

promote image-controller component with new changes (#4037)
  components/image-controller/development/kustomization.yaml
  components/image-controller/staging/base/kustomization.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Complete SPI removal
  components/backup/base/member/schedules/backup-tenants-schedule.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Complete SPI removal
  components/image-controller/base/rbac/image-controller-maintainer.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

workspace: fix server's configmap
  components/workspaces/base/server/config/default/kustomization.yaml
  components/workspaces/base/server/config/server/deployment.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add ImageRepositories to everyonecanview role
  components/authentication/base/everyone-can-view.yaml
Due: none

workspace: fix server's configmap (#4048)
  components/workspaces/base/server/config/default/kustomization.yaml
  components/workspaces/base/server/config/server/deployment.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

workspaces: set log level to debug in staging
  components/workspaces/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

workspaces: set log level to debug in staging (#4050)
  components/workspaces/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Make ArgoCD ignore annotation on ImageRepository when sycning
  argo-cd-apps/base/tenants-config/tenants-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add ImageRepositories to everyonecanview role (#4049)
  components/authentication/base/everyone-can-view.yaml
Due: none

fix: correct ReleasePlan ignoreDifferences
  argo-cd-apps/base/tenants-config/tenants-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: correct ReleasePlan ignoreDifferences (#4052)
  argo-cd-apps/base/tenants-config/tenants-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Make ArgoCD ignore annotation on ImageRepository when sycning (#4051)
  argo-cd-apps/base/tenants-config/tenants-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(STONEINTG-863): removed bugged snapshot concurrent requests metric (#4022)
  components/monitoring/grafana/base/dashboards/integration/kustomization.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

SRVKP-5825: move pipeline-metric-exporter PAC repository obj from tekton-ci to konflux-ci
  components/konflux-ci/base/repository.yaml
  components/tekton-ci/base/repository.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
