Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

kyverno: defaults for skipBackgroundRequests and allowExistingViolations (#6796)
  components/policies/staging/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-rbcm-clusterpolicy.yaml
  components/policies/staging/base/konflux-rbac/restrict-binding-system-authenticated/validate-restrict-binding-system-authenticated-clusterpolicy.yaml
  components/policies/staging/base/konflux-rbac/validate-rolebindings/invalid-subjects.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

migrate kubearchive policies to policies component in stg (#6724)
  argo-cd-apps/base/member/infra-deployments/policies/policies.yaml
  components/kubearchive/base/kustomization.yaml
  components/kubearchive/production/base/kustomization.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/resources/actual-kubeconfig-archive.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/resources/actual-namespace-konfluxcidev.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/resources/expected-kubearchiveconfig.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/resources/kubearchive-crd.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.kyverno-test/kyverno-test.yaml
  components/policies/development/kubearchive/bootstrap-namespace/bootstrap-namespace.yaml
  components/policies/development/kubearchive/bootstrap-namespace/kustomization.yaml
  components/policies/development/kubearchive/bootstrap-namespace/kyverno_rbac.yaml
  components/policies/development/kubearchive/bootstrap-namespace/resources/expected-kubearchiveconfig-konflux.yaml
  components/policies/development/kubearchive/bootstrap-namespace/resources/labeled-namespace-konflux.yaml
  components/policies/development/kubearchive/kustomization.yaml
  components/policies/development/kustomization.yaml
  components/policies/staging/policies/kubearchive/kustomization.yaml
  components/policies/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

introducing the policies component in stg and dev (#6714)
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/policies/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/policies/policies.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  components/policies/development/kustomization.yaml
  components/policies/development/namespace.yaml
  components/policies/production/empty-base/kustomization.yaml
  components/policies/production/empty-base/namespace.yaml
  components/policies/staging/empty-base/kustomization.yaml
  components/policies/staging/empty-base/namespace.yaml
  components/policies/staging/stone-stage-p01/kustomization.yaml
  components/policies/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

enable policies component (#6784)
  argo-cd-apps/base/member/infra-deployments/policies/policies.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Optimize timeouts for Tekton Results Watcher (#6779)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add 2 Ansible repositories to allowed list (#6777)
  components/repository-validator/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update internal production with latest MPC version from staging (#6791)
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add rhel-p01 entry to smee client (#6718)
  argo-cd-apps/base/smee-client/smee-client.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add OWNERS file for policies component (#6797)
  components/policies/OWNERS
Due: none

kyverno set skipBackgroundRequests to default value (#6790)
  components/policies/staging/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-ocpconsole-clusterpolicy.yaml
  components/policies/staging/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-ocpingress-clusterpolicy.yaml
  components/policies/staging/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-ocpmonitoring-clusterpolicy.yaml
  components/policies/staging/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-olm-clusterpolicy.yaml
  components/policies/staging/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-samenamespace-clusterpolicy.yaml
  components/policies/staging/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-rbcm-clusterpolicy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Tell github to use smee for internal clusters (#6721)
  hack/new-cluster/tasks/github/app.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

complete removal of mutate-namespace-enforce-label policy (#6723)
  components/namespace-lister/policies/ns-label/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/chainsaw-test.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/actual-namespace-konflux-toolchain.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/actual-namespace-konflux.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/actual-namespace-toolchain.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/expected-namespace-konflux-toolchain.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/expected-namespace-konflux.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/expected-namespace-toolchain.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/expected-namespace-unlabeled.yaml
  components/namespace-lister/policies/ns-label/kustomization.yaml
  components/namespace-lister/policies/ns-label/kyverno-background-konflux-ns-label-clusterrole.yaml
  components/namespace-lister/policies/ns-label/namespace-enforce-label-clusterpolicy.yaml
  components/namespace-lister/production/kflux-ocp-p01/kustomization.yaml
  components/namespace-lister/production/kflux-prd-rh02/kustomization.yaml
  components/namespace-lister/production/kflux-prd-rh03/kustomization.yaml
  components/namespace-lister/production/stone-prod-p01/kustomization.yaml
  components/namespace-lister/production/stone-prod-p02/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Enable-param-enum to production clusters (#6315)
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat: enable emptyDir for fbc-release (#6783)
  components/release/development/release_service_config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote release-service from development to staging (#6780)
  components/release/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: fix UI proxy config for positive case (#6691)
  components/konflux-ui/staging/base/proxy/proxy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix stage-p01 static PPC VM IP (#6703)
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

refresh the pulp access controller (#6771)
  components/pulp-access-controller/production/kustomization.yaml
  components/pulp-access-controller/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Konflux 1624 - Fix cluster secret stores on rh03 and rhel-p01 (#6727)
  argo-cd-apps/base/cluster-secret-store-rh/cluster-secret-store-rh.yaml
  components/cluster-secret-store-rh/production/base/approle-id-patch.yaml
  components/cluster-secret-store-rh/production/base/appsre-stonesoup-vault-rh-secret-store.yaml
  components/cluster-secret-store-rh/production/base/kustomization.yaml
  components/cluster-secret-store-rh/production/base/rh-artifacts-bucket-writer-secret-store.yml
  components/cluster-secret-store-rh/production/insights-approle-id-patch.yaml
  components/cluster-secret-store-rh/production/stone-prd-rh01/insights-secret-store.yaml
  components/cluster-secret-store-rh/production/stone-prd-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update smee-client server path (#6702)
  components/smee-client/production/kflux-rhel-p01/sever-url-patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix typo in kubearchive.conf for Konflux UI nginx (#6787)
  components/konflux-ui/staging/base/proxy/proxy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

disable kyverno's helm tests manifests in prod (#6658)
  components/kyverno/production/kflux-ocp-p01/kyverno-helm-generator.yaml
  components/kyverno/production/kflux-ocp-p01/kyverno-helm-values.yaml
  components/kyverno/production/kflux-prd-rh02/kyverno-helm-generator.yaml
  components/kyverno/production/kflux-prd-rh02/kyverno-helm-values.yaml
  components/kyverno/production/kflux-prd-rh03/kyverno-helm-generator.yaml
  components/kyverno/production/kflux-prd-rh03/kyverno-helm-values.yaml
  components/kyverno/production/kflux-rhel-p01/kyverno-helm-generator.yaml
  components/kyverno/production/kflux-rhel-p01/kyverno-helm-values.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-values.yaml
  components/kyverno/production/stone-prod-p01/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prod-p01/kyverno-helm-values.yaml
  components/kyverno/production/stone-prod-p02/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prod-p02/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: remove it from UI config (#6685)
  components/konflux-ui/production/base/proxy/nginx.conf
  components/konflux-ui/production/base/proxy/proxy.yaml
  components/konflux-ui/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh02/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh03/kustomization.yaml
  components/konflux-ui/production/stone-prd-rh01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: don't configure UI for p01 (#6688)
  components/konflux-ui/staging/base/proxy/nginx.conf
  components/konflux-ui/staging/base/proxy/proxy.yaml
  components/konflux-ui/staging/stone-stage-p01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: update gosmee image in staging (#6858)
  components/smee-client/staging/deployment.yaml
  components/smee/staging/deployment.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: rename one of the smee servers containers (#6843)
  components/smee/staging/deployment.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(PVO11Y-4814): Promote Kanary exporter to a production cluster (#6764)
  argo-cd-apps/base/monitoring-workload-kanary/monitoring-workload-kanary.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  components/monitoring/kanary/base/kustomization.yaml
  components/monitoring/kanary/production/base/kustomization.yaml
  components/monitoring/kanary/production/stone-prod-p02/external-secrets/kanary-db-credentials.yaml
  components/monitoring/kanary/production/stone-prod-p02/external-secrets/kustomization.yaml
  components/monitoring/kanary/production/stone-prod-p02/kanary-db-credentials-secret-path.yaml
  components/monitoring/kanary/production/stone-prod-p02/kustomization.yaml
  components/monitoring/kanary/production/stone-prod-p02/rbac/kanary-maintainers.yaml
  components/monitoring/kanary/production/stone-prod-p02/rbac/kustomization.yaml
  components/monitoring/kanary/staging/stone-stage-p01/external-secrets/kanary-db-credentials.yaml
  components/monitoring/kanary/staging/stone-stage-p01/external-secrets/kustomization.yaml
  components/monitoring/kanary/staging/stone-stage-p01/kanary-db-credentials-secret-path.yaml
  components/monitoring/kanary/staging/stone-stage-p01/rbac/kanary-maintainers.yaml
  components/monitoring/kanary/staging/stone-stage-p01/rbac/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update the Tekton Results watcher timeouts (#6845)
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/resources/kustomization.yaml
  components/pipeline-service/production/stone-prod-p02/resources/update-results-timeouts.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: correct memory request format in Smee deployment configuration (#6844)
  components/smee/staging/deployment.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: increase smee-sidecar failure threshold (#6847)
  components/smee-client/staging/deployment.yaml
  components/smee/staging/deployment.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update Pipelines Production to be in line with staging and devopment (#6814)
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/resources/kustomization.yaml
  components/pipeline-service/production/kflux-rhel-p01/resources/override-osp-version.yaml
  components/pipeline-service/production/kflux-rhel-p01/resources/update-config-for-osp-1-19.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update production repository validator (#6828)
  components/repository-validator/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Knative Eventing: update production version (#6809)
  components/knative-eventing/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

etcd-shield: enable metrics in staging (#6626)
  components/etcd-shield/base/deployment.yaml
  components/etcd-shield/base/kustomization.yaml
  components/etcd-shield/base/metrics/kustomization.yaml
  components/etcd-shield/base/metrics/metrics-service.yaml
  components/etcd-shield/base/metrics/monitor.yaml
  components/etcd-shield/base/metrics/network-policy.yaml
  components/etcd-shield/base/metrics/rbac.yaml
  components/etcd-shield/base/metrics/service-account.yaml
  components/etcd-shield/base/rbac.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote konflux-ui to prod (#6825)
  components/konflux-ui/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

enable multi-repo Github App token scoping (#6812)
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/resources/update-tekton-config-pac.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

migrate cost-management policies to policies component (#6804)
  components/cost-management/staging/base/kustomization.yaml
  components/cost-management/staging/policies/propagate-cost-management-labels/propagate-cost-management-labels.yaml
  components/cost-management/staging/policies/validate-cost-management-labels/validate-cost-management-labels.yaml
  components/policies/development/cost-management/kustomization.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/resources/expected-pod-matching.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/resources/namespace-cost-center.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/resources/namespace-no-cost-center.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/resources/namespace-nonmatching.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/resources/pod.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/kustomization.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/kyverno-rbac.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/propagate-cost-management-labels.yaml
  components/policies/development/kustomization.yaml
  components/policies/staging/base/cost-management/kustomization.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/chainsaw-test.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-cost-center.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-empty-cost-center.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-no-cost-center.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-nonmatching.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/kustomization.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/kyverno-rbac.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/validate-cost-management-labels.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: ignoreDifferences in ClusterRoleBinding (#6794)
  argo-cd-apps/base/member/infra-deployments/kubearchive/kubearchive.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
