Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

KubeArchive: increase API replicas to 2 in stone-prod-p02 (#9565)
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2685 - De-duplicate Windows user-data
  components/kueue/production/kflux-ocp-p01/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-osp-p01/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-prd-rh02/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-prd-rh03/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-rhel-p01/queue-config/cluster-queue.yaml
  components/kueue/production/stone-prd-rh01/queue-config/cluster-queue.yaml
  components/kueue/production/stone-prod-p01/queue-config/cluster-queue.yaml
  components/kueue/staging/stone-stg-rh01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/base/host-config-chart/values.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-values.yaml
  components/multi-platform-controller/staging-downstream/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add RBAC to make kubearchive route discoverable
  components/kubearchive/base/rbac.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

mintmaker: refactor patches and increase CPU requests
  components/mintmaker/production/base/kustomization.yaml
  components/mintmaker/production/base/manager-set-resources-patch.yaml
  components/mintmaker/production/base/pipelines-as-code-secret-path.yaml
  components/mintmaker/staging/base/kustomization.yaml
  components/mintmaker/staging/base/manager-enable-pprof-patch.yaml
  components/mintmaker/staging/base/manager-set-resources-patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase memory for ESO main controller
  components/external-secrets-operator/production/kustomization.yaml
  components/external-secrets-operator/production/memory-patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase memory for ESO main controller (#9586)
  components/external-secrets-operator/production/kustomization.yaml
  components/external-secrets-operator/production/memory-patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Configure separate SSH key for Windows instances in staging
  components/multi-platform-controller/base/host-config-chart/templates/host-config.yaml
  components/multi-platform-controller/staging-downstream/external-secrets.yaml
  components/multi-platform-controller/staging-downstream/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Adding visual learning guides
  docs/_data/navigation.yml
  docs/misc/visual-learning-guides/README.md
  docs/misc/visual-learning-guides/index.html
  docs/misc/visual-learning-guides/style-guide-for-llms.md
  docs/misc/visual-learning-guides/visual-components-map.html
  docs/misc/visual-learning-guides/visual-e2e-infra-tests.html
  docs/misc/visual-learning-guides/visual-kustomize-overlays.html
  docs/misc/visual-learning-guides/visual-pr-pairing.html
  docs/misc/visual-learning-guides/visual-pr-workflow.html
  docs/misc/visual-learning-guides/visual-renovate-workflow.html
  docs/misc/visual-learning-guides/visual-testing-flow.html
Due: none

Fix member-cluster-generator path
  argo-cd-apps/base/member/infra-deployments/monitoring-registry/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove non-existant resource link
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

PVO11Y-5019 Rework component structure to prepare for deployment to all member clusters
  components/monitoring/registry/base/kustomization.yaml
  components/monitoring/registry/base/rbac/kustomization.yaml
  components/monitoring/registry/base/rbac/registry-maintainers.yaml
  components/monitoring/registry/production/kustomization.yaml
  components/monitoring/registry/staging/kustomization.yaml
  components/monitoring/registry/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/registry/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove trailing space
  components/monitoring/registry/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add registry monitor to the member kustomization list
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

PVO11Y-5019 Deploy registry monitoring to production
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

PVO11Y-5019 Move ApplicationSet to member cluster folder
  argo-cd-apps/base/member/infra-deployments/monitoring-registry/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/monitoring-registry/monitoring-registry.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix base path
  components/monitoring/registry/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Change QUAY_URL in production
  components/monitoring/registry/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Upgrade MCE to 2.10 for EaaS in dev and staging
  components/cluster-as-a-service/development/add-hypershift-params.yaml
  components/cluster-as-a-service/development/kustomization.yaml
  components/cluster-as-a-service/staging/add-hypershift-params.yaml
  components/cluster-as-a-service/staging/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

PVO11Y-5019 Deploy container registry monitoring to prod (#9572)
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/monitoring-registry/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/monitoring-registry/monitoring-registry.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  components/monitoring/registry/base/kustomization.yaml
  components/monitoring/registry/base/rbac/kustomization.yaml
  components/monitoring/registry/base/rbac/registry-maintainers.yaml
  components/monitoring/registry/production/kustomization.yaml
  components/monitoring/registry/staging/kustomization.yaml
  components/monitoring/registry/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/registry/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update OCP PPC VMs 0-2 w/ new IPs
  components/kueue/production/kflux-ocp-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update OCP PPC VMs 0-2 w/ new IPs (#9598)
  components/kueue/production/kflux-ocp-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update rest of OCP PPC VMs
  components/kueue/production/kflux-ocp-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update rest of OCP PPC VMs (#9601)
  components/kueue/production/kflux-ocp-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(KFLUXVNGD-535): add caching support for docker.io
  components/squid/development/squid-helm-generator.yaml
  components/squid/staging/squid-helm-generator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(KFLUXVNGD-535): add caching support for docker.io (#9602)
  components/squid/development/squid-helm-generator.yaml
  components/squid/staging/squid-helm-generator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Configure separate SSH key for Windows instances in staging (#9592)
  components/multi-platform-controller/base/host-config-chart/templates/host-config.yaml
  components/multi-platform-controller/staging-downstream/external-secrets.yaml
  components/multi-platform-controller/staging-downstream/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update the kflux prd rh02 cluster
  components/cost-management/production/kflux-prd-rh02/cost-management-config-source-patch.yaml
  components/cost-management/production/kflux-prd-rh02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Cost management polcies to rh02 cluster in prod
  components/policies/production/kflux-prd-rh02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix: Updating the correct Key Pair for Windows Machines
  components/multi-platform-controller/staging-downstream/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix: Updating the correct Key Pair for Windows Machines (#9612)
  components/multi-platform-controller/staging-downstream/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(KFLUXVNGD-522): add cluster-config configmap to konflux-info
  components/konflux-info/base/rbac.yaml
  components/konflux-info/production/kflux-ocp-p01/cluster-config.env
  components/konflux-info/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-info/production/kflux-osp-p01/cluster-config.env
  components/konflux-info/production/kflux-osp-p01/kustomization.yaml
  components/konflux-info/production/kflux-prd-rh02/cluster-config.env
  components/konflux-info/production/kflux-prd-rh02/kustomization.yaml
  components/konflux-info/production/kflux-prd-rh03/cluster-config.env
  components/konflux-info/production/kflux-prd-rh03/kustomization.yaml
  components/konflux-info/production/kflux-rhel-p01/cluster-config.env
  components/konflux-info/production/kflux-rhel-p01/kustomization.yaml
  components/konflux-info/production/stone-prd-rh01/cluster-config.env
  components/konflux-info/production/stone-prd-rh01/kustomization.yaml
  components/konflux-info/production/stone-prod-p01/cluster-config.env
  components/konflux-info/production/stone-prod-p01/kustomization.yaml
  components/konflux-info/production/stone-prod-p02/cluster-config.env
  components/konflux-info/production/stone-prod-p02/kustomization.yaml
  components/konflux-info/staging/stone-stage-p01/cluster-config.env
  components/konflux-info/staging/stone-stage-p01/kustomization.yaml
  components/konflux-info/staging/stone-stg-rh01/cluster-config.env
  components/konflux-info/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

PVO11Y-5019 Update refs
  components/monitoring/registry/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
