Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Apply suggestions from code review
  components/multi-platform-controller/base/host-config-chart/templates/host-config.yaml
  components/multi-platform-controller/staging/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Move mac to stone-stage-p01 and regenerate kueue config
  components/kueue/staging/stone-stage-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/staging-downstream/host-values.yaml
  components/multi-platform-controller/staging/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update components/multi-platform-controller/base/host-config-chart/templates/host-config.yaml
  components/multi-platform-controller/base/host-config-chart/templates/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Adding visual learning guides
  docs/_data/navigation.yml
  docs/misc/visual-learning-guides/README.md
  docs/misc/visual-learning-guides/index.html
  docs/misc/visual-learning-guides/visual-components-map.html
  docs/misc/visual-learning-guides/visual-e2e-infra-tests.html
  docs/misc/visual-learning-guides/visual-kustomize-overlays.html
  docs/misc/visual-learning-guides/visual-pr-pairing.html
  docs/misc/visual-learning-guides/visual-pr-workflow.html
  docs/misc/visual-learning-guides/visual-renovate-workflow.html
  docs/misc/visual-learning-guides/visual-testing-flow.html
Due: none

KFLUXINFRA-2612 - Add Windows in host-config chart
  components/kueue/staging/stone-stage-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/base/host-config-chart/templates/host-config.yaml
  components/multi-platform-controller/staging-downstream/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUINFRA-2666: macos values in host-config chart (#9489)
  components/kueue/staging/stone-stage-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/base/host-config-chart/templates/host-config.yaml
  components/multi-platform-controller/staging-downstream/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: kyverno to assign roles to users from user group on prd
  components/policies/production/base/konflux-rbac/konflux-support-nslister-access/generate-support-nslister-clusterrolebinding-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/konflux-support-nslister-access/kustomization.yaml
  components/policies/production/base/konflux-rbac/konflux-support-nslister-access/kyverno_rbac.yaml
  components/policies/production/base/konflux-rbac/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2612 - Add Windows in host-config chart (#9505)
  components/kueue/staging/stone-stage-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/base/host-config-chart/templates/host-config.yaml
  components/multi-platform-controller/staging-downstream/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix for MacOS cloud-init script
  components/multi-platform-controller/staging-downstream/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix for MacOS cloud-init script (#9513)
  components/multi-platform-controller/staging-downstream/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fixing conflicts
  argo-cd-apps/base/monitoring-blackbox/monitoring-blackbox.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add script to manage external Git webhooks
  hack/git-webhooks/cmd/main.go
  hack/git-webhooks/git_webhooks.go
  hack/git-webhooks/git_webhooks_helpers.go
  hack/git-webhooks/go.mod
  hack/git-webhooks/go.sum
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add namespace and dry-run flags to git-webhooks
  hack/git-webhooks/cmd/main.go
  hack/git-webhooks/git_webhooks.go
  hack/git-webhooks/git_webhooks_helpers.go
  hack/git-webhooks/git_webhooks_helpers_test.go
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add unit tests for git_webhook_helpers
  hack/git-webhooks/git_webhooks.go
  hack/git-webhooks/git_webhooks_helpers.go
  hack/git-webhooks/git_webhooks_helpers_test.go
  hack/git-webhooks/go.sum
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2686: Adding MacOS and Windows hosts values to prod-02
  components/kueue/production/stone-prod-p02/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2686 II: reverting changes to p02's cluster-queue.yaml
  components/kueue/production/stone-prod-p02/queue-config/cluster-queue.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2686 III: Fixing host-values.yaml for p02, adding a script-generated cluser-queue and updating MPC's version on p02
  components/kueue/production/stone-prod-p02/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Trust custom CA bundle for outgoing caching connections (#9427)
  argo-cd-apps/base/member/infra-deployments/squid/squid.yaml
  components/squid/base/kustomization.yaml
  components/squid/base/trusted-ca-configmap.yaml
  components/squid/development/squid-helm-generator.yaml
  components/squid/staging/squid-helm-generator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Trust custom CA bundle for outgoing caching connections (prod)
  components/squid/production/squid-helm-generator.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add opentelemetry config secret
  components/multi-platform-controller/base/kustomization.yaml
  components/multi-platform-controller/base/logcollector/kustomization.yaml
  components/multi-platform-controller/base/logcollector/otelcollector.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2686 IV: Fixing host-values.yaml for p02 properly dividing windows and macos config values between dynamicConfigs and archDefaults
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Trust custom CA bundle for outgoing caching connections (prod) (#9522)
  components/squid/production/squid-helm-generator.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Bump caching helm chart version in prod
  components/squid/production/squid-helm-generator.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

stone-stg-rh01 fix unscheduled pod error
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/vector-helm-stg-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add cost management policies to stone prod p02 cluster
  components/policies/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Bump caching helm chart version in prod (#9523)
  components/squid/production/squid-helm-generator.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: deploy kite to production clusters
  components/konflux-kite/production/kflux-ocp-p01/database-secret-path.yaml
  components/konflux-kite/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-kite/production/kflux-osp-p01/database-secret-path.yaml
  components/konflux-kite/production/kflux-osp-p01/kustomization.yaml
  components/konflux-kite/production/kflux-prd-rh02/database-secret-path.yaml
  components/konflux-kite/production/kflux-prd-rh02/kustomization.yaml
  components/konflux-kite/production/kflux-prd-rh03/database-secret-path.yaml
  components/konflux-kite/production/kflux-prd-rh03/kustomization.yaml
  components/konflux-kite/production/stone-prd-rh01/database-secret-path.yaml
  components/konflux-kite/production/stone-prd-rh01/kustomization.yaml
  components/konflux-kite/production/stone-prod-p01/database-secret-path.yaml
  components/konflux-kite/production/stone-prod-p01/kustomization.yaml
  components/konflux-kite/production/stone-prod-p02/database-secret-path.yaml
  components/konflux-kite/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

stone-stg-rh01 fix unscheduled pod error (#9525)
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/vector-helm-stg-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2558 - Add network policies to ESO (staging only)
  components/external-secrets-operator/staging/kustomization.yaml
  components/external-secrets-operator/staging/networkpolicy-allow-egress.yaml
  components/external-secrets-operator/staging/networkpolicy-allow-ingress.yaml
  components/external-secrets-operator/staging/networkpolicy-allow-same-ns.yaml
  components/external-secrets-operator/staging/networkpolicy-default-deny.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2686 V: Formatting the user-data scripts for macos and windows, reverting MPC's version update from production-downstream/base/ to only p02's kustomization.yaml
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-values.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2686 VI: Fix for errors from forbid-clusterpolicies.yaml check
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2558 - Add network policies to ESO (staging only) (#9370)
  components/external-secrets-operator/staging/kustomization.yaml
  components/external-secrets-operator/staging/networkpolicy-allow-egress.yaml
  components/external-secrets-operator/staging/networkpolicy-allow-ingress.yaml
  components/external-secrets-operator/staging/networkpolicy-allow-same-ns.yaml
  components/external-secrets-operator/staging/networkpolicy-default-deny.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests
