Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

Infra Testing: increase KubeArchive memory to prod values
  components/kubearchive/staging/stone-stg-rh01/kustomization.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-stg-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/vector-helm-stg-values.yaml
Due: none

Infra Testing: increase KubeArchive memory to prod values (#9906)
  components/kubearchive/staging/stone-stg-rh01/kustomization.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-stg-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/vector-helm-stg-values.yaml
Due: none

[KFLUXINFRA-2483] Read audit logs from syslog, not from file
  components/multi-platform-controller/base/logcollector/otelcollector.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests

promote release-service-monitor to production (#10016)
  components/release/base/monitor/production/kustomization.yaml
Due: none

feat(PVO11Y-5089): scrape OOMKilled metrics for all namespaces (including tenants)
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: none

nslister: increase resources
  components/namespace-lister/base/deployment.yaml
  components/namespace-lister/production/base/deployment.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests

feat(PVO11Y-5089): scrape OOMKilled metrics for all namespaces (including tenants) (#10054)
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: none

chore(KFLUXUI-901): deploy kite to production clusters (#9528)
  components/konflux-kite/base/kustomization.yaml
  components/konflux-kite/development/kustomization.yaml
  components/konflux-kite/production/base/kustomization.yaml
  components/konflux-kite/production/kflux-ocp-p01/database-secret-path.yaml
  components/konflux-kite/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-kite/production/kflux-osp-p01/database-secret-path.yaml
  components/konflux-kite/production/kflux-osp-p01/kustomization.yaml
  components/konflux-kite/production/kflux-prd-rh02/database-secret-path.yaml
  components/konflux-kite/production/kflux-prd-rh02/kustomization.yaml
  components/konflux-kite/production/kflux-prd-rh03/database-secret-path.yaml
  components/konflux-kite/production/kflux-prd-rh03/kustomization.yaml
  components/konflux-kite/production/stone-prd-rh01/database-secret-path.yaml
  components/konflux-kite/production/stone-prd-rh01/kustomization.yaml
  components/konflux-kite/production/stone-prod-p01/database-secret-path.yaml
  components/konflux-kite/production/stone-prod-p01/kustomization.yaml
  components/konflux-kite/production/stone-prod-p02/database-secret-path.yaml
  components/konflux-kite/production/stone-prod-p02/kustomization.yaml
  components/konflux-kite/staging/base/kustomization.yaml
  components/konflux-kite/staging/stone-stg-rh01/kustomization.yaml
  components/konflux-ui/production/base/proxy/kite.conf
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests

Revert "Update banner to advertise year end shutdown (#9267)"
  components/konflux-info/production/kflux-ocp-p01/banner-content.yaml
  components/konflux-info/production/kflux-osp-p01/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh02/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh03/banner-content.yaml
  components/konflux-info/production/kflux-rhel-p01/banner-content.yaml
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
  components/konflux-info/production/stone-prod-p01/banner-content.yaml
  components/konflux-info/production/stone-prod-p02/banner-content.yaml
Due: none

Revert "Update banner to advertise year end shutdown (#9267)" (#10061)
  components/konflux-info/production/kflux-ocp-p01/banner-content.yaml
  components/konflux-info/production/kflux-osp-p01/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh02/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh03/banner-content.yaml
  components/konflux-info/production/kflux-rhel-p01/banner-content.yaml
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
  components/konflux-info/production/stone-prod-p01/banner-content.yaml
  components/konflux-info/production/stone-prod-p02/banner-content.yaml
Due: none

nslister: increase resources (#10055)
  components/namespace-lister/base/deployment.yaml
  components/namespace-lister/production/base/deployment.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests

[KFLUXINFRA-2483] Read audit logs from syslog, not from file (#10050)
  components/multi-platform-controller/base/logcollector/otelcollector.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests

feat: deploy kite to prod
  argo-cd-apps/base/member/infra-deployments/konflux-kite/konflux-kite.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests

Revert "[KFLUXINFRA-2483] Read audit logs from syslog, not from file (#10050)"
  components/multi-platform-controller/base/logcollector/otelcollector.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests

ESO - Move API version to v1 (Phase 1: Staging Environments)
  components/backup/staging/stone-stage-p01/kustomization.yaml
  components/backup/staging/stone-stg-rh01/kustomization.yaml
  components/build-service/staging/stone-stage-p01/kustomization.yaml
  components/build-templates/staging/e2e-quay-push-secret.yaml
  components/ci-helper-app/staging/external-secrets/ci-helper-app-secrets.yaml
  components/cluster-as-a-service/staging/external-secrets.yaml
  components/cost-management/staging/base/kustomization.yaml
  components/crossplane-control-plane/staging/provider-config.yaml
  components/crossplane-control-plane/staging/testplatform-provider-config.yaml
  components/integration/staging/stone-stage-p01/kustomization.yaml
  components/konflux-kite/staging/stone-stage-p01/kustomization.yaml
  components/konflux-kite/staging/stone-stg-rh01/kustomization.yaml
  components/konflux-ui/staging/base/external-secret.yaml
  components/kubearchive/staging/base/external-secret.yaml
  components/kubearchive/staging/stone-stage-p01/database-secret.yaml
  components/kubearchive/staging/stone-stg-rh01/database-secret.yaml
  components/mintmaker/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/kanary/staging/stone-stage-p01/external-secrets/kanary-db-credentials.yaml
  components/monitoring/kanary/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/logging/staging/base/dynatrace-operator/dynakube-secret.yaml
  components/monitoring/logging/staging/base/kustomization.yaml
  components/monitoring/prometheus/staging/base/kustomization.yaml
  components/multi-platform-controller/staging-downstream/external-secrets.yaml
  components/multi-platform-controller/staging/external-secrets.yaml
  components/notification-controller/staging/kustomization.yaml
  components/pipeline-service/staging/base/pipelines-as-code-secret.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/resources/kustomization.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/resources/kustomization.yaml
  components/quality-dashboard/staging/external-secrets/quality-dashboard-secrets.yaml
  components/release/staging/external-secrets/release-monitor-secret.yaml
  components/tracing/otel-collector/staging/kustomization.yaml
  components/vector-kubearchive-log-collector/staging/base/loki-secret.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests

ESO - Move API version to v1 (Phase 1: Staging Environments) (#10064)
  components/backup/staging/stone-stage-p01/kustomization.yaml
  components/backup/staging/stone-stg-rh01/kustomization.yaml
  components/build-service/staging/stone-stage-p01/kustomization.yaml
  components/build-templates/staging/e2e-quay-push-secret.yaml
  components/ci-helper-app/staging/external-secrets/ci-helper-app-secrets.yaml
  components/cluster-as-a-service/staging/external-secrets.yaml
  components/cost-management/staging/base/kustomization.yaml
  components/crossplane-control-plane/staging/provider-config.yaml
  components/crossplane-control-plane/staging/testplatform-provider-config.yaml
  components/integration/staging/stone-stage-p01/kustomization.yaml
  components/konflux-kite/staging/stone-stage-p01/kustomization.yaml
  components/konflux-kite/staging/stone-stg-rh01/kustomization.yaml
  components/konflux-ui/staging/base/external-secret.yaml
  components/kubearchive/staging/base/external-secret.yaml
  components/kubearchive/staging/stone-stage-p01/database-secret.yaml
  components/kubearchive/staging/stone-stg-rh01/database-secret.yaml
  components/mintmaker/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/kanary/staging/stone-stage-p01/external-secrets/kanary-db-credentials.yaml
  components/monitoring/kanary/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/logging/staging/base/dynatrace-operator/dynakube-secret.yaml
  components/monitoring/logging/staging/base/kustomization.yaml
  components/monitoring/prometheus/staging/base/kustomization.yaml
  components/multi-platform-controller/staging-downstream/external-secrets.yaml
  components/multi-platform-controller/staging/external-secrets.yaml
  components/notification-controller/staging/kustomization.yaml
  components/pipeline-service/staging/base/pipelines-as-code-secret.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/resources/kustomization.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/resources/kustomization.yaml
  components/quality-dashboard/staging/external-secrets/quality-dashboard-secrets.yaml
  components/release/staging/external-secrets/release-monitor-secret.yaml
  components/tracing/otel-collector/staging/kustomization.yaml
  components/vector-kubearchive-log-collector/staging/base/loki-secret.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests

Revert "[KFLUXINFRA-2483] Read audit logs from syslog, not from file (#10050)" (#10063)
  components/multi-platform-controller/base/logcollector/otelcollector.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests

ESO - Move API version to v1 (Phase 1 Fix: Base External Secrets)
  components/build-service/base/external-secrets/pipelines-as-code-secret.yaml
  components/image-controller/base/external-secrets/quaytoken.yaml
  components/image-rbac-proxy/base/external-secrets/quay-robot-account.yaml
  components/integration/base/external-secrets/pipelines-as-code-secret.yaml
  components/konflux-kite/base/external-secrets/database-secret.yaml
  components/mintmaker/base/external-secrets/pipelines-as-code-secret.yaml
  components/pipeline-service/base/external-secrets/openshift-pipelines/chains-public-key.yaml
  components/pipeline-service/base/external-secrets/openshift-pipelines/chains-signing-secrets.yaml
  components/pipeline-service/base/external-secrets/tekton-logging/tekton-results-s3.yaml
  components/pipeline-service/base/external-secrets/tekton-results/tekton-results-database.yaml
  components/pipeline-service/base/external-secrets/tekton-results/tekton-results-s3.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests

feat(KFLUXVNGD-539): Add caching support for registry.ci.openshift.org to production
  components/squid/production/squid-helm-generator.yaml
Due: none

feat(KFLUXVNGD-539): Add caching support for registry.ci.openshift.org to production (#10048)
  components/squid/production/squid-helm-generator.yaml
Due: none

feat(KFLUXVNGD-538): Add caching support for nvcr.io (NVIDIA Container Registry)
  components/squid/development/squid-helm-generator.yaml
  components/squid/staging/squid-helm-generator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests

feat(KFLUXVNGD-538): Add caching support for nvcr.io (NVIDIA Container Registry) (#10047)
  components/squid/development/squid-helm-generator.yaml
  components/squid/staging/squid-helm-generator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests

ESO - Move API version to v1 (Phase 1 Fix: Base External Secrets) (#10066)
  components/build-service/base/external-secrets/pipelines-as-code-secret.yaml
  components/image-controller/base/external-secrets/quaytoken.yaml
  components/image-rbac-proxy/base/external-secrets/quay-robot-account.yaml
  components/integration/base/external-secrets/pipelines-as-code-secret.yaml
  components/konflux-kite/base/external-secrets/database-secret.yaml
  components/mintmaker/base/external-secrets/pipelines-as-code-secret.yaml
  components/pipeline-service/base/external-secrets/openshift-pipelines/chains-public-key.yaml
  components/pipeline-service/base/external-secrets/openshift-pipelines/chains-signing-secrets.yaml
  components/pipeline-service/base/external-secrets/tekton-logging/tekton-results-s3.yaml
  components/pipeline-service/base/external-secrets/tekton-results/tekton-results-database.yaml
  components/pipeline-service/base/external-secrets/tekton-results/tekton-results-s3.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests

nslister: increase memory
  components/namespace-lister/base/deployment.yaml
  components/namespace-lister/production/base/deployment.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests

nslister: increase memory (#10068)
  components/namespace-lister/base/deployment.yaml
  components/namespace-lister/production/base/deployment.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging|production-downstream|staging-downstream))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
