Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

scrape kyverno metrics in dev and stage (#6792)
  components/kyverno/development/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: ignoreDifferences in ClusterRoleBinding
  argo-cd-apps/base/member/infra-deployments/kubearchive/kubearchive.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

[DO-NOT-MERGE] test CI failure
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

migrate kubearchive policies to policies component in stg (#6724)
  argo-cd-apps/base/member/infra-deployments/policies/policies.yaml
  components/kubearchive/base/kustomization.yaml
  components/kubearchive/production/base/kustomization.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/resources/actual-kubeconfig-archive.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/resources/actual-namespace-konfluxcidev.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/resources/expected-kubearchiveconfig.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/resources/kubearchive-crd.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.kyverno-test/kyverno-test.yaml
  components/policies/development/kubearchive/bootstrap-namespace/bootstrap-namespace.yaml
  components/policies/development/kubearchive/bootstrap-namespace/kustomization.yaml
  components/policies/development/kubearchive/bootstrap-namespace/kyverno_rbac.yaml
  components/policies/development/kubearchive/bootstrap-namespace/resources/expected-kubearchiveconfig-konflux.yaml
  components/policies/development/kubearchive/bootstrap-namespace/resources/labeled-namespace-konflux.yaml
  components/policies/development/kubearchive/kustomization.yaml
  components/policies/development/kustomization.yaml
  components/policies/staging/policies/kubearchive/kustomization.yaml
  components/policies/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: Deploy kanary manifests to select clusters in an environment
  components/monitoring/kanary/base/kustomization.yaml
  components/monitoring/kanary/production/base/kustomization.yaml
  components/monitoring/kanary/production/stone-prod-p02/external-secrets/kanary-db-credentials.yaml
  components/monitoring/kanary/production/stone-prod-p02/external-secrets/kustomization.yaml
  components/monitoring/kanary/production/stone-prod-p02/kanary-db-credentials-secret-path.yaml
  components/monitoring/kanary/production/stone-prod-p02/kustomization.yaml
  components/monitoring/kanary/production/stone-prod-p02/rbac/kanary-maintainers.yaml
  components/monitoring/kanary/production/stone-prod-p02/rbac/kustomization.yaml
  components/monitoring/kanary/staging/base/kustomization.yaml
  components/monitoring/kanary/staging/stone-stage-p01/external-secrets/kanary-db-credentials.yaml
  components/monitoring/kanary/staging/stone-stage-p01/external-secrets/kustomization.yaml
  components/monitoring/kanary/staging/stone-stage-p01/kanary-db-credentials-secret-path.yaml
  components/monitoring/kanary/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/kanary/staging/stone-stage-p01/rbac/kanary-maintainers.yaml
  components/monitoring/kanary/staging/stone-stage-p01/rbac/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: defaults for skipBackgroundRequests and allowExistingViolations
  components/policies/staging/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-rbcm-clusterpolicy.yaml
  components/policies/staging/base/konflux-rbac/restrict-binding-system-authenticated/validate-restrict-binding-system-authenticated-clusterpolicy.yaml
  components/policies/staging/base/konflux-rbac/validate-rolebindings/invalid-subjects.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add OWNERS file for policies component
  components/policies/OWNERS
Due: none

kyverno: defaults for skipBackgroundRequests and allowExistingViolations (#6796)
  components/policies/staging/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-rbcm-clusterpolicy.yaml
  components/policies/staging/base/konflux-rbac/restrict-binding-system-authenticated/validate-restrict-binding-system-authenticated-clusterpolicy.yaml
  components/policies/staging/base/konflux-rbac/validate-rolebindings/invalid-subjects.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add OWNERS file for policies component (#6797)
  components/policies/OWNERS
Due: none

kyverno: defaults for skipBackgroundRequests and allowExistingViolations in prod
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-ocpconsole-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-ocpingress-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-ocpmonitoring-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-olm-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-samenamespace-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-rbcm-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-system-authenticated/validate-restrict-binding-system-authenticated-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/validate-rolebindings/invalid-subjects.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: defaults for skipBackgroundRequests and allowExistingViolations in prod (#6798)
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-ocpconsole-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-ocpingress-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-ocpmonitoring-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-olm-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-samenamespace-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-rbcm-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-system-authenticated/validate-restrict-binding-system-authenticated-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/validate-rolebindings/invalid-subjects.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: upgrade to v1.1.0 (#6774)
  components/kubearchive/README.md
  components/kubearchive/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote project-controller to PROD
  components/project-controller/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote project-controller to PROD (#6799)
  components/project-controller/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Delete prd-m01 related manifests
  argo-cd-apps/base/all-clusters/infra-deployments/monitoring-workload-prometheus/monitoring-workload-prometheus.yaml
  argo-cd-apps/base/member/infra-deployments/knative-eventing/knative-eventing.yaml
  argo-cd-apps/base/member/infra-deployments/konflux-info/konflux-info.yaml
  argo-cd-apps/base/member/infra-deployments/pipeline-service/pipeline-service.yaml
  components/backup/production/stone-prd-m01/backup-s3-credentials-patch.yaml
  components/backup/production/stone-prd-m01/dpa-bucket-patch.yaml
  components/backup/production/stone-prd-m01/dpa-kmskeyid-patch.yaml
  components/backup/production/stone-prd-m01/kustomization.yaml
  components/knative-eventing/production/stone-prd-m01/kustomization.yaml
  components/monitoring/prometheus/production/stone-prd-m01/cluster-id-label.yaml
  components/monitoring/prometheus/production/stone-prd-m01/kustomization.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-m01/kustomization.yaml
  components/pipeline-service/production/stone-prd-m01/resources/kustomization.yaml
  components/pipeline-service/production/stone-prd-m01/resources/tekton-chains-public-key-path.yaml
  components/pipeline-service/production/stone-prd-m01/resources/tekton-chains-signing-secret-path.yaml
  components/pipeline-service/production/stone-prd-m01/resources/tekton-results-database-secret-path.yaml
  components/pipeline-service/production/stone-prd-m01/resources/tekton-results-s3-secret-path.yaml
  components/sandbox/toolchain-host-operator/production/stone-prd-host1/space-provisioner-configs.yaml
  components/sandbox/user-management/production/kubesaw-admins.yaml
  components/sprayproxy/production/change-backends.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: fix migration for staging
  components/kubearchive/README.md
  components/kubearchive/staging/stone-stg-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

DO NOT MERGE
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: fix migration for staging (#6803)
  components/kubearchive/README.md
  components/kubearchive/staging/stone-stg-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

migrate cost-management policies to policies component
  components/cost-management/staging/base/kustomization.yaml
  components/policies/development/cost-management/kustomization.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/resources/expected-pod-matching.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/resources/namespace-cost-center.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/resources/namespace-no-cost-center.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/resources/namespace-nonmatching.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/resources/pod.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/kustomization.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/kyverno-rbac.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/propagate-cost-management-labels.yaml
  components/policies/development/cost-management/validate-cost-management-labels/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/development/cost-management/validate-cost-management-labels/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-cost-center.yaml
  components/policies/development/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-empty-cost-center.yaml
  components/policies/development/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-no-cost-center.yaml
  components/policies/development/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-nonmatching.yaml
  components/policies/development/cost-management/validate-cost-management-labels/kustomization.yaml
  components/policies/development/cost-management/validate-cost-management-labels/kyverno-rbac.yaml
  components/policies/development/cost-management/validate-cost-management-labels/validate-cost-management-labels.yaml
  components/policies/development/kustomization.yaml
  components/policies/staging/base/cost-management/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: migration Job force replacement
  components/kubearchive/base/migration-job.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: migration Job force replacement (#6805)
  components/kubearchive/base/migration-job.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update public production with latest MPC version from staging
  components/multi-platform-controller/production/kflux-prd-rh02/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh03/kustomization.yaml
  components/multi-platform-controller/production/stone-prd-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KONFLUX-8225): add log forwarder for KubeArchive
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/vector-kubearchive-log-collector/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/vector-kubearchive-log-collector/vector-kubearchive-logs-collector.yaml
  components/vector-kubearchive-log-collector/base/kustomization.yaml
  components/vector-kubearchive-log-collector/base/vector-helm-generator.yaml
  components/vector-kubearchive-log-collector/base/vector-helm-values.yaml
  components/vector-kubearchive-log-collector/base/vector-pre.yaml
  components/vector-kubearchive-log-collector/development/kustomization.yaml
  components/vector-kubearchive-log-collector/development/loki-helm-generator.yaml
  components/vector-kubearchive-log-collector/development/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/development/values.minio.yaml
  components/vector-kubearchive-log-collector/production/kustomization.yaml
  components/vector-kubearchive-log-collector/production/loki-helm-generator.yaml
  components/vector-kubearchive-log-collector/production/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/production/values.minio.yaml
  components/vector-kubearchive-log-collector/staging/kustomization.yaml
  components/vector-kubearchive-log-collector/staging/loki-helm-generator.yaml
  components/vector-kubearchive-log-collector/staging/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/values.minio.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: changing commonAnnotations
  argo-cd-apps/base/member/infra-deployments/kubearchive/kubearchive.yaml
  components/kubearchive/development/kustomization.yaml
  components/kubearchive/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix vector-kubearchive-log-collector structure
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/vector-kubearchive-log-collector/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/vector-kubearchive-log-collector/vector-kubearchive-log-collector.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  components/pipeline-service/base/rbac/product-kubearchive-logging/kustomization.yaml
  components/pipeline-service/base/rbac/product-kubearchive-logging/pipeline-service-sre.yaml
  components/vector-kubearchive-log-collector/base/kustomization.yaml
  components/vector-kubearchive-log-collector/base/vector-helm-values.yaml
  components/vector-kubearchive-log-collector/base/vector-pre.yaml
  components/vector-kubearchive-log-collector/development/grafana-helm-generator.yaml
  components/vector-kubearchive-log-collector/development/grafana-helm-values.yaml
  components/vector-kubearchive-log-collector/development/kustomization.yaml
  components/vector-kubearchive-log-collector/development/loki-helm-generator.yaml
  components/vector-kubearchive-log-collector/development/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/development/minio-helm-generator.yaml
  components/vector-kubearchive-log-collector/development/minio-helm-values.yaml
  components/vector-kubearchive-log-collector/production/loki-helm-generator.yaml
  components/vector-kubearchive-log-collector/production/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/production/values.minio.yaml
  components/vector-kubearchive-log-collector/staging/loki-helm-generator.yaml
  components/vector-kubearchive-log-collector/staging/loki-helm-values.yaml
  hack/secret-creator/create-plnsvc-secrets.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix vector helm version
  components/vector-kubearchive-log-collector/base/vector-helm-generator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update public production with latest MPC version from staging (#6807)
  components/multi-platform-controller/production/kflux-prd-rh02/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh03/kustomization.yaml
  components/multi-platform-controller/production/stone-prd-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Knative Eventing: update production version
  components/knative-eventing/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix grafana/minio helm configurations
  components/vector-kubearchive-log-collector/development/grafana-helm-generator.yaml
  components/vector-kubearchive-log-collector/development/minio-helm-generator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Delete prd-m01 related manifests (#6800)
  argo-cd-apps/base/all-clusters/infra-deployments/monitoring-workload-prometheus/monitoring-workload-prometheus.yaml
  argo-cd-apps/base/member/infra-deployments/knative-eventing/knative-eventing.yaml
  argo-cd-apps/base/member/infra-deployments/konflux-info/konflux-info.yaml
  argo-cd-apps/base/member/infra-deployments/pipeline-service/pipeline-service.yaml
  components/backup/production/stone-prd-m01/backup-s3-credentials-patch.yaml
  components/backup/production/stone-prd-m01/dpa-bucket-patch.yaml
  components/backup/production/stone-prd-m01/dpa-kmskeyid-patch.yaml
  components/backup/production/stone-prd-m01/kustomization.yaml
  components/knative-eventing/production/stone-prd-m01/kustomization.yaml
  components/monitoring/prometheus/production/stone-prd-m01/cluster-id-label.yaml
  components/monitoring/prometheus/production/stone-prd-m01/kustomization.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-m01/kustomization.yaml
  components/pipeline-service/production/stone-prd-m01/resources/kustomization.yaml
  components/pipeline-service/production/stone-prd-m01/resources/tekton-chains-public-key-path.yaml
  components/pipeline-service/production/stone-prd-m01/resources/tekton-chains-signing-secret-path.yaml
  components/pipeline-service/production/stone-prd-m01/resources/tekton-results-database-secret-path.yaml
  components/pipeline-service/production/stone-prd-m01/resources/tekton-results-s3-secret-path.yaml
  components/sandbox/toolchain-host-operator/production/stone-prd-host1/space-provisioner-configs.yaml
  components/sandbox/user-management/production/kubesaw-admins.yaml
  components/sprayproxy/production/change-backends.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
