Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-hac-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: rhtap
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-install-konflux
    - ref: redhat-appstudio-hac-e2e
    workflow: redhat-appstudio-claim

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: rhtap
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: rhtap
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

allow konflux-core team to manage workspaces CRD
  components/workspaces/production/stone-prd-host1/kustomization.yaml
  components/workspaces/production/stone-prod-p01/kustomization.yaml
  components/workspaces/production/stone-prod-p02/kustomization.yaml
  components/workspaces/staging/stone-stage-p01/kustomization.yaml
  components/workspaces/staging/stone-stg-host/kustomization.yaml
  components/workspaces/team/kustomization.yaml
  components/workspaces/team/workspaces-team-role.yaml
  components/workspaces/team/workspaces-team-rolebinding.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "Move cachi2 pipelines from tekton-ci to konflux-ci (#4618)" (#4695)
  components/konflux-ci/base/repository.yaml
  components/tekton-ci/base/repository.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

DNM: Test PAC rigger
  components/tekton-ci/base/repository.yaml
Due: none

workspaces: ensure validation of JWT's sub and exp (#4694)
  components/workspaces/base/server/config/server/proxy-config/dynamic/config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote release-service from development to staging
  components/release/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote release-service from development to staging (#4704)
  components/release/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

allow konflux-core team to manage workspaces CRD (#4691)
  components/workspaces/production/stone-prd-host1/kustomization.yaml
  components/workspaces/production/stone-prod-p01/kustomization.yaml
  components/workspaces/production/stone-prod-p02/kustomization.yaml
  components/workspaces/staging/stone-stage-p01/kustomization.yaml
  components/workspaces/staging/stone-stg-host/kustomization.yaml
  components/workspaces/team/kustomization.yaml
  components/workspaces/team/workspaces-team-role.yaml
  components/workspaces/team/workspaces-team-rolebinding.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix ArgoCD's Application name for workspaces-member
  argo-cd-apps/base/member/infra-deployments/workspaces/workspaces.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

remove konflux-core permissions on member cluster
  components/workspaces/staging/stone-stg-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

ensure targeting member clusters
  argo-cd-apps/base/member/infra-deployments/workspaces/kustomization.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "fix ArgoCD's Application name for workspaces-member"
  argo-cd-apps/base/member/infra-deployments/workspaces/workspaces.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-799: Fixing Role ID for Insights Vault App Role
  components/cluster-secret-store/production/insights-approle-id-patch.yaml
  components/cluster-secret-store/staging/insights-approle-id-patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-799: Fixing Role ID for Insights Vault App Role (#4710)
  components/cluster-secret-store/production/insights-approle-id-patch.yaml
  components/cluster-secret-store/staging/insights-approle-id-patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote MPC fixes to production
  components/multi-platform-controller/production/kustomization.yaml
  components/multi-platform-controller/production/stone-prd-m01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote MPC fixes to production (#4711)
  components/multi-platform-controller/production/kustomization.yaml
  components/multi-platform-controller/production/stone-prd-m01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote integration-service from staging to production
  components/integration/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

This Pull Request will make the following changes - (#4670)
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/proactive-scaler/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/proactive-scaler/proactive-scaler.yaml
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  configs/proactive-scaler/base/deployments.yaml
  configs/proactive-scaler/base/kustomization.yaml
  configs/proactive-scaler/base/namespace.yaml
  configs/proactive-scaler/base/priority-class.yaml
  configs/proactive-scaler/production/kustomization.yaml
  configs/proactive-scaler/staging/kustomization.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat: Added current tenant quotas (#4699)
  components/monitoring/grafana/base/dashboards/performance/kustomization.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update host-config.yaml
  components/multi-platform-controller/production-downstream/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: fixing the api version for vault
  components/cluster-secret-store/base/insights-secret-store.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: fixing the api version for vault (#4715)
  components/cluster-secret-store/base/insights-secret-store.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: workspaces resources required on member clusters (#4705)
  argo-cd-apps/base/member/infra-deployments/workspaces/kustomization.yaml
  components/workspaces/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote integration-service from staging to production (#4713)
  components/integration/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix sync issues in the cluster-as-a-service component
  components/cluster-as-a-service/base/multicluster-engine.yaml
  components/cluster-as-a-service/development/klusterlet-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
