Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

fix: set the integration staging memory limits equal to requests (#5898)
  components/integration/staging/base/manager_resources_patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update prod repository validator w/ new allow list (#5899)
  components/repository-validator/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update OSP dev and stage (#5896)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(STONEINTG-1137-kubearchive): apply archiving snapshots with kuebarchive (#5897)
  components/integration/staging/stone-stage-rh01/kubearchive-config-patch.yaml
  components/integration/staging/stone-stage-rh01/kustomization.yaml
  components/kubearchive/base/kubearchive-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(KONFLUX-7357): increase integration service memory to 8gb
  components/integration/production/base/manager_resources_patch.yaml
  components/integration/staging/base/manager_resources_patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(KONFLUX-7357): increase integration service memory to 8gb (#5900)
  components/integration/production/base/manager_resources_patch.yaml
  components/integration/staging/base/manager_resources_patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: more resources in stage clusters
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: more resources in stage clusters (#5901)
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update kubearchive to v0.11.0 with the memory patch
  argo-cd-apps/overlays/konflux-public-staging/delete-sync-policy.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
  components/kubearchive/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(STONEINTG-1137-clusterrole): fix authetication for kubrarchiveconfig
  components/authentication/base/everyone-can-view.yaml
Due: none

Update prod-p01 MPC w/ part 2 code cleanup
  components/multi-platform-controller/production-downstream/stone-prod-p01/external-secrets.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update prod-p01 MPC w/ part 2 code cleanup (#5839)
  components/multi-platform-controller/production-downstream/stone-prod-p01/external-secrets.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert cpu/memory exposure
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(STONEINTG-1137-clusterrole): fix authetication for kubrarchiveconfig (#5902)
  components/authentication/base/everyone-can-view.yaml
Due: none

Add new PPC VMs to dynamic-platforms
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add new PPC VMs to dynamic-platforms (#5904)
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix dynamic-platforms on stg-p01
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update kubearchive to v0.11.0 with the memory patch (#5903)
  argo-cd-apps/overlays/konflux-public-staging/delete-sync-policy.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
  components/kubearchive/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Limit memory usage Pipeline Service components
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
  components/vector-tekton-logs-collector/development/vector-helm-values.yaml
  components/vector-tekton-logs-collector/staging/vector-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix dynamic-platforms on stg-p01 (#5906)
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Run Mintmaker DependencyUpdateCheck cronjobs as non-root (attempt #2)
  components/mintmaker/staging/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Pull KubeArchive file to make it independent from GitHub
  components/kubearchive/base/kubearchive.yaml
  components/kubearchive/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: release operator config update
  components/release/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

bump kyverno chart to 3.3.7 (kyverno 1.13.4) in staging
  components/kyverno/development/kyverno-helm-generator.yaml
  components/kyverno/staging/stone-stage-p01/kyverno-helm-generator.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-generator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update prod-p02 MPC w/ code cleanup
  components/multi-platform-controller/production-downstream/stone-prod-p02/external-secrets.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove power monitoring from staging
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

bump kyverno chart to 3.3.7 (kyverno 1.13.4) in staging (#5912)
  components/kyverno/development/kyverno-helm-generator.yaml
  components/kyverno/staging/stone-stage-p01/kyverno-helm-generator.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-generator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests
