Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Update hack/forbid-clusterpolicies.sh
  hack/forbid-clusterpolicies.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

ci: forbid ClusterPolicies outside policies component (#6761)
  .github/workflows/forbid-clusterpolicies.yaml
  hack/forbid-clusterpolicies.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase statefulsets quota
  components/sandbox/tiers/production/appstudio/kustomization.yaml
  components/sandbox/tiers/production/appstudio/nstemplatetier-appstudio.yaml
  components/sandbox/tiers/production/appstudio/tiertemplate-appstudio-clusterresources-487279487-487279487.yaml
  components/sandbox/tiers/production/appstudiolarge/kustomization.yaml
  components/sandbox/tiers/production/appstudiolarge/nstemplatetier-appstudiolarge.yaml
  components/sandbox/tiers/production/appstudiolarge/tiertemplate-appstudiolarge-clusterresources-607699003-487279487.yaml
  components/sandbox/tiers/production/appstudioxlarge/kustomization.yaml
  components/sandbox/tiers/production/appstudioxlarge/nstemplatetier-appstudioxlarge.yaml
  components/sandbox/tiers/production/appstudioxlarge/tiertemplate-appstudioxlarge-clusterresources-1081386182-487279487.yaml
  components/sandbox/tiers/src/appstudio/cluster.yaml
  components/sandbox/tiers/staging/appstudio/kustomization.yaml
  components/sandbox/tiers/staging/appstudio/nstemplatetier-appstudio.yaml
  components/sandbox/tiers/staging/appstudio/tiertemplate-appstudio-clusterresources-487279487-487279487.yaml
  components/sandbox/tiers/staging/appstudiolarge/kustomization.yaml
  components/sandbox/tiers/staging/appstudiolarge/nstemplatetier-appstudiolarge.yaml
  components/sandbox/tiers/staging/appstudiolarge/tiertemplate-appstudiolarge-clusterresources-607699003-487279487.yaml
  components/sandbox/tiers/staging/appstudioxlarge/kustomization.yaml
  components/sandbox/tiers/staging/appstudioxlarge/nstemplatetier-appstudioxlarge.yaml
  components/sandbox/tiers/staging/appstudioxlarge/tiertemplate-appstudioxlarge-clusterresources-1081386182-487279487.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase statefulsets quota (#6926)
  components/sandbox/tiers/production/appstudio/kustomization.yaml
  components/sandbox/tiers/production/appstudio/nstemplatetier-appstudio.yaml
  components/sandbox/tiers/production/appstudio/tiertemplate-appstudio-clusterresources-487279487-487279487.yaml
  components/sandbox/tiers/production/appstudiolarge/kustomization.yaml
  components/sandbox/tiers/production/appstudiolarge/nstemplatetier-appstudiolarge.yaml
  components/sandbox/tiers/production/appstudiolarge/tiertemplate-appstudiolarge-clusterresources-607699003-487279487.yaml
  components/sandbox/tiers/production/appstudioxlarge/kustomization.yaml
  components/sandbox/tiers/production/appstudioxlarge/nstemplatetier-appstudioxlarge.yaml
  components/sandbox/tiers/production/appstudioxlarge/tiertemplate-appstudioxlarge-clusterresources-1081386182-487279487.yaml
  components/sandbox/tiers/src/appstudio/cluster.yaml
  components/sandbox/tiers/staging/appstudio/kustomization.yaml
  components/sandbox/tiers/staging/appstudio/nstemplatetier-appstudio.yaml
  components/sandbox/tiers/staging/appstudio/tiertemplate-appstudio-clusterresources-487279487-487279487.yaml
  components/sandbox/tiers/staging/appstudiolarge/kustomization.yaml
  components/sandbox/tiers/staging/appstudiolarge/nstemplatetier-appstudiolarge.yaml
  components/sandbox/tiers/staging/appstudiolarge/tiertemplate-appstudiolarge-clusterresources-607699003-487279487.yaml
  components/sandbox/tiers/staging/appstudioxlarge/kustomization.yaml
  components/sandbox/tiers/staging/appstudioxlarge/nstemplatetier-appstudioxlarge.yaml
  components/sandbox/tiers/staging/appstudioxlarge/tiertemplate-appstudioxlarge-clusterresources-1081386182-487279487.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(auth): add test-platform-ci-admins group and rbac
  components/authentication/base/group-sync/kustomization.yaml
  components/authentication/base/group-sync/test-platform-ci-admins-rover-group.yaml
  components/authentication/base/kustomization.yaml
  components/authentication/base/test-platform-ci-admins-can-view.yaml
  components/authentication/k-components/ldap-url-patch/kustomization.yaml
Due: none

restrict paths for kyverno tests CI (#6832)
  .github/workflows/chainsaw-tests.yaml
  .github/workflows/kyverno-policies-tests.yaml
Due: none

chore: update references to ec config repo
  components/enterprise-contract/ecp.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(auth): add test-platform-ci-admins group and rbac (#6925)
  components/authentication/base/group-sync/kustomization.yaml
  components/authentication/base/group-sync/test-platform-ci-admins-rover-group.yaml
  components/authentication/base/kustomization.yaml
  components/authentication/base/test-platform-ci-admins-can-view.yaml
  components/authentication/k-components/ldap-url-patch/kustomization.yaml
Due: none

Allow ansible-automation-platform-azure-billing-operator
  components/repository-validator/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(auth): test-platform-ci admins read crossplane objects
  components/authentication/base/test-platform-ci-admins-can-view.yaml
Due: none

chore: update references to ec config repo (#6928)
  components/enterprise-contract/ecp.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(auth): test-platform-ci admins read crossplane objects (#6931)
  components/authentication/base/test-platform-ci-admins-can-view.yaml
Due: none

etcd-shield: fix metrics in staging
  components/etcd-shield/base/metrics/metrics-service.yaml
  components/etcd-shield/base/metrics/monitor.yaml
  components/etcd-shield/base/metrics/network-policy.yaml
  components/etcd-shield/base/metrics/rbac.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Allow ansible-automation-platform-azure-billing-operator (#6930)
  components/repository-validator/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

remove etcd-shield from dev overlay
  argo-cd-apps/overlays/development/delete-applications.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

etcd-shield: remove leader election permissions in staging
  components/etcd-shield/base/rbac.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote integration-service from staging to production
  components/integration/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: reference smee sidecar by tag (#6924)
  components/smee-client/staging/deployment.yaml
  components/smee-client/staging/kustomization.yaml
  components/smee/staging/deployment.yaml
  components/smee/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Upgrade to KubeArchive v1.2.0
  components/konflux-ui/staging/base/proxy/proxy.yaml
  components/kubearchive/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote integration-service from staging to production (#6935)
  components/integration/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KFLUXUI-565): support auto-alerts for system monitoring
  components/konflux-info/README.md
  components/konflux-info/auto-alert-schema.json
  components/konflux-info/production/kflux-ocp-p01/auto-alerts/auto-alert-1.yaml
  components/konflux-info/production/kflux-ocp-p01/auto-alerts/kustomization.yaml
  components/konflux-info/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-info/production/kflux-prd-rh02/auto-alerts/auto-alert-1.yaml
  components/konflux-info/production/kflux-prd-rh02/auto-alerts/kustomization.yaml
  components/konflux-info/production/kflux-prd-rh02/kustomization.yaml
  components/konflux-info/production/kflux-prd-rh03/auto-alerts/auto-alert-1.yaml
  components/konflux-info/production/kflux-prd-rh03/auto-alerts/kustomization.yaml
  components/konflux-info/production/kflux-prd-rh03/kustomization.yaml
  components/konflux-info/production/kflux-rhel-p01/auto-alerts/auto-alert-1.yaml
  components/konflux-info/production/kflux-rhel-p01/auto-alerts/kustomization.yaml
  components/konflux-info/production/stone-prd-rh01/auto-alerts/auto-alert-1.yaml
  components/konflux-info/production/stone-prd-rh01/auto-alerts/kustomization.yaml
  components/konflux-info/production/stone-prd-rh01/kustomization.yaml
  components/konflux-info/production/stone-prod-p01/auto-alerts/auto-alert-1.yaml
  components/konflux-info/production/stone-prod-p01/auto-alerts/kustomization.yaml
  components/konflux-info/production/stone-prod-p01/kustomization.yaml
  components/konflux-info/production/stone-prod-p02/auto-alerts/auto-alert-1.yaml
  components/konflux-info/production/stone-prod-p02/auto-alerts/kustomization.yaml
  components/konflux-info/production/stone-prod-p02/kustomization.yaml
  components/konflux-info/staging/stone-stage-p01/auto-alerts/auto-alert-1.yaml
  components/konflux-info/staging/stone-stage-p01/auto-alerts/kustomization.yaml
  components/konflux-info/staging/stone-stage-p01/kustomization.yaml
  components/konflux-info/staging/stone-stg-rh01/auto-alerts/auto-alert-1.yaml
  components/konflux-info/staging/stone-stg-rh01/auto-alerts/kustomization.yaml
  components/konflux-info/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote release-service from development to staging
  components/release/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update the public part of prod clusters with recent MPC
  components/multi-platform-controller/production/kflux-prd-rh02/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh03/kustomization.yaml
  components/multi-platform-controller/production/stone-prd-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Upgrade to KubeArchive v1.2.0 (#6937)
  components/konflux-ui/staging/base/proxy/proxy.yaml
  components/kubearchive/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Make appstudio-pipelines-runner role common for all overlays
  components/konflux-rbac/base/appstudio-pipelines-runner.yaml
  components/konflux-rbac/base/kustomization.yaml
  components/konflux-rbac/production/base/kustomization.yaml
  components/konflux-rbac/staging/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fixup! Make appstudio-pipelines-runner role common for all overlays
  components/konflux-rbac/base/kustomization.yaml
  components/konflux-rbac/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KFLUXVNGD-332): deploy smee-sidecar in production
  components/smee-client/base/deployment.yaml
  components/smee-client/production/base/kustomization.yaml
  components/smee-client/production/kflux-ocp-p01/kustomization.yaml
  components/smee-client/production/kflux-ocp-p01/sever-url-patch.yaml
  components/smee-client/production/kflux-rhel-p01/kustomization.yaml
  components/smee-client/production/kflux-rhel-p01/sever-url-patch.yaml
  components/smee-client/production/stone-prod-p01/kustomization.yaml
  components/smee-client/production/stone-prod-p01/sever-url-patch.yaml
  components/smee-client/production/stone-prod-p02/kustomization.yaml
  components/smee-client/production/stone-prod-p02/sever-url-patch.yaml
  components/smee-client/staging/deployment.yaml
  components/smee-client/staging/kustomization.yaml
  components/smee/base/deployment.yaml
  components/smee/staging/deployment.yaml
  components/smee/staging/kustomization.yaml
  components/smee/staging/route.yaml
  components/smee/staging/service.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests
