Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-hac-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: rhtap
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-install-konflux
    - ref: redhat-appstudio-hac-e2e
    workflow: redhat-appstudio-claim

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: rhtap
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: rhtap
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

Updated ppc64le network config (#4574)
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Updated cloud-config for stage ibmp
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Updated cloud-config for stage ibmp (#4578)
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

updated cloud config
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

updated cloud config (#4581)
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote integration-service from staging to production
  components/integration/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote integration-service from staging to production (#4582)
  components/integration/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KONFLUX-4508): Added graph about Tekton Pipelines controller leases distribution + some improvements to other Tekton related graphs
  components/monitoring/grafana/base/dashboards/performance/kustomization.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KONFLUX-4508): Expose metrics for Pipelines leases distribution alerts
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

adding Raksha as a monitoring component owner
  components/monitoring/OWNERS
Due: none

adding Raksha as a monitoring component owner (#4584)
  components/monitoring/OWNERS
Due: none

Upgrade MCE operator to 2.6 in production (#4564)
  components/cluster-as-a-service/base/clustertemplates.yaml
  components/cluster-as-a-service/base/multicluster-engine.yaml
  components/cluster-as-a-service/development/kustomization.yaml
  components/cluster-as-a-service/production/add-hypershift-params.yaml
  components/cluster-as-a-service/production/external-secrets.yaml
  components/cluster-as-a-service/staging/kustomization.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix route commands
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix route commands (#4589)
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove ppc static node from internal stage
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove ppc static node from internal stage (#4591)
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase releases and internalrequests quota
  components/sandbox/tiers/production/appstudio/kustomization.yaml
  components/sandbox/tiers/production/appstudio/nstemplatetier-appstudio.yaml
  components/sandbox/tiers/production/appstudio/tiertemplate-appstudio-tenant-4121561789-4121561789.yaml
  components/sandbox/tiers/production/appstudiolarge/kustomization.yaml
  components/sandbox/tiers/production/appstudiolarge/nstemplatetier-appstudiolarge.yaml
  components/sandbox/tiers/production/appstudiolarge/tiertemplate-appstudiolarge-tenant-3994678728-4121561789.yaml
  components/sandbox/tiers/production/appstudioxlarge/kustomization.yaml
  components/sandbox/tiers/production/appstudioxlarge/nstemplatetier-appstudioxlarge.yaml
  components/sandbox/tiers/production/appstudioxlarge/tiertemplate-appstudioxlarge-tenant-884010306-4121561789.yaml
  components/sandbox/tiers/src/appstudio/ns_tenant.yaml
  components/sandbox/tiers/staging/appstudio/kustomization.yaml
  components/sandbox/tiers/staging/appstudio/nstemplatetier-appstudio.yaml
  components/sandbox/tiers/staging/appstudio/tiertemplate-appstudio-tenant-4121561789-4121561789.yaml
  components/sandbox/tiers/staging/appstudiolarge/kustomization.yaml
  components/sandbox/tiers/staging/appstudiolarge/nstemplatetier-appstudiolarge.yaml
  components/sandbox/tiers/staging/appstudiolarge/tiertemplate-appstudiolarge-tenant-3994678728-4121561789.yaml
  components/sandbox/tiers/staging/appstudioxlarge/kustomization.yaml
  components/sandbox/tiers/staging/appstudioxlarge/nstemplatetier-appstudioxlarge.yaml
  components/sandbox/tiers/staging/appstudioxlarge/tiertemplate-appstudioxlarge-tenant-884010306-4121561789.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase releases and internalrequests quota (#4593)
  components/sandbox/tiers/production/appstudio/kustomization.yaml
  components/sandbox/tiers/production/appstudio/nstemplatetier-appstudio.yaml
  components/sandbox/tiers/production/appstudio/tiertemplate-appstudio-tenant-4121561789-4121561789.yaml
  components/sandbox/tiers/production/appstudiolarge/kustomization.yaml
  components/sandbox/tiers/production/appstudiolarge/nstemplatetier-appstudiolarge.yaml
  components/sandbox/tiers/production/appstudiolarge/tiertemplate-appstudiolarge-tenant-3994678728-4121561789.yaml
  components/sandbox/tiers/production/appstudioxlarge/kustomization.yaml
  components/sandbox/tiers/production/appstudioxlarge/nstemplatetier-appstudioxlarge.yaml
  components/sandbox/tiers/production/appstudioxlarge/tiertemplate-appstudioxlarge-tenant-884010306-4121561789.yaml
  components/sandbox/tiers/src/appstudio/ns_tenant.yaml
  components/sandbox/tiers/staging/appstudio/kustomization.yaml
  components/sandbox/tiers/staging/appstudio/nstemplatetier-appstudio.yaml
  components/sandbox/tiers/staging/appstudio/tiertemplate-appstudio-tenant-4121561789-4121561789.yaml
  components/sandbox/tiers/staging/appstudiolarge/kustomization.yaml
  components/sandbox/tiers/staging/appstudiolarge/nstemplatetier-appstudiolarge.yaml
  components/sandbox/tiers/staging/appstudiolarge/tiertemplate-appstudiolarge-tenant-3994678728-4121561789.yaml
  components/sandbox/tiers/staging/appstudioxlarge/kustomization.yaml
  components/sandbox/tiers/staging/appstudioxlarge/nstemplatetier-appstudioxlarge.yaml
  components/sandbox/tiers/staging/appstudioxlarge/tiertemplate-appstudioxlarge-tenant-884010306-4121561789.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KONFLUX-4508): Run more Pipelines Controller replicas across more zones
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

do not merge: testing
  components/build-service/base/build-pipeline-config/build-pipeline-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KONFLUX-4508): Expose metrics for Pipelines leases distribution alerts (#4583)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Install Tekton Results through operator
  components/pipeline-service/development/dev-only-pipeline-service-storage-configuration.yaml
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

release pipeline sa reading configmaps
  components/release/base/release-pipeline-resources-clusterrole.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

release pipeline sa reading configmaps (#4601)
  components/release/base/release-pipeline-resources-clusterrole.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-777: Config to Configure Worker Nodes with NVMe Disks
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/nvme-storage-configurator/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/nvme-storage-configurator/nvme-storage-configurator.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  configs/nvme-storage-configurator/base/clusterrolebinding.yaml
  configs/nvme-storage-configurator/base/daemonset.yaml
  configs/nvme-storage-configurator/base/install.sh
  configs/nvme-storage-configurator/base/kustomization.yaml
  configs/nvme-storage-configurator/base/mount.sh
  configs/nvme-storage-configurator/base/namespace.yaml
  configs/nvme-storage-configurator/base/nvme-storage.service
  configs/nvme-storage-configurator/base/serviceaccount.yaml
  configs/nvme-storage-configurator/production/kustomization.yaml
  configs/nvme-storage-configurator/staging/kustomization.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-777: Config to Configure Worker Nodes with NVMe Disks (#4361)
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/nvme-storage-configurator/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/nvme-storage-configurator/nvme-storage-configurator.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  configs/nvme-storage-configurator/base/clusterrolebinding.yaml
  configs/nvme-storage-configurator/base/daemonset.yaml
  configs/nvme-storage-configurator/base/install.sh
  configs/nvme-storage-configurator/base/kustomization.yaml
  configs/nvme-storage-configurator/base/mount.sh
  configs/nvme-storage-configurator/base/namespace.yaml
  configs/nvme-storage-configurator/base/nvme-storage.service
  configs/nvme-storage-configurator/base/serviceaccount.yaml
  configs/nvme-storage-configurator/production/kustomization.yaml
  configs/nvme-storage-configurator/staging/kustomization.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
