Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

KubeArchive: fix broken staging deployment (#6683)
  argo-cd-apps/base/member/infra-deployments/kubearchive/kubearchive.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(crossplane): bump envs (#6639)
  components/crossplane-control-plane/base/kustomization.yaml
  components/crossplane-control-plane/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Configure kflux-rhel-p01 s390x and ppc VMs (#6628)
  components/multi-platform-controller/production-downstream/kflux-rhel-p01/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

updated the memory resource for tekton-pipelines-remote-resolvers and pipeline-metrics-exporter (#6436)
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update tekton-kueue (#6647)
  components/kueue/development/kustomization.yaml
  components/kueue/development/tekton-kueue-monitoring/kustomization.yaml
  components/kueue/development/tekton-kueue-monitoring/monitoring.yaml
  components/kueue/development/tekton-kueue/kustomization.yaml
  components/kueue/development/tekton-kueue/monitoring.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote release-service from development to staging (#6618)
  components/release/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-1768: Deploy Kueue and CertManager to stone-stg-rh01 (#6680)
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  components/cert-manager/staging/base/kustomization.yaml
  components/cert-manager/staging/base/operator.yaml
  components/cert-manager/staging/stone-stg-rh01/kustomization.yaml
  components/kueue/staging/base/kueue-external-admission/kustomization.yaml
  components/kueue/staging/base/kueue-external-admission/monitoring.yaml
  components/kueue/staging/base/kueue/kueue.yaml
  components/kueue/staging/base/kueue/kustomization.yaml
  components/kueue/staging/base/kueue/operator.yaml
  components/kueue/staging/base/kustomization.yaml
  components/kueue/staging/base/queue-config/cluster-policy.yaml
  components/kueue/staging/base/queue-config/cluster-queue.yaml
  components/kueue/staging/base/queue-config/kustomization.yaml
  components/kueue/staging/base/queue-config/kyverno-rbac.yaml
  components/kueue/staging/base/tekton-kueue-monitoring/kustomization.yaml
  components/kueue/staging/base/tekton-kueue-monitoring/monitoring.yaml
  components/kueue/staging/base/tekton-kueue/controller-patch.yaml
  components/kueue/staging/base/tekton-kueue/kustomization.yaml
  components/kueue/staging/base/tekton-kueue/webhook-patch.yaml
  components/kueue/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-1763: Add apiGroup permissions to konflux-admin (#6666)
  components/authentication/base/konflux-admins.yaml
Due: none

KubeArchive: install on production (#6407)
  argo-cd-apps/base/member/infra-deployments/kubearchive/kubearchive.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  components/konflux-ui/production/base/proxy/nginx.conf
  components/konflux-ui/production/base/proxy/proxy.yaml
  components/konflux-ui/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh02/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh03/kustomization.yaml
  components/konflux-ui/production/stone-prd-rh01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p02/kustomization.yaml
  components/kubearchive/base/kustomization.yaml
  components/kubearchive/base/migration-job.yaml
  components/kubearchive/production/README.md
  components/kubearchive/production/base/database-secret.yaml
  components/kubearchive/production/base/kustomization.yaml
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh02/kustomization.yaml
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
  components/kubearchive/staging/kustomization.yaml
  components/kubearchive/staging/stone-stage-p01/database-secret.yaml
  components/kubearchive/staging/stone-stage-p01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Removing NVMe Storage Configuration from Stage (#6613)
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-1737: Add kubearchive apiGroup permissions to konflux-admin (#6621)
  components/authentication/base/konflux-admins.yaml
Due: none

split cost-management-labels policy's tests (#6651)
  components/cost-management/production/base/kustomization.yaml
  components/cost-management/staging/base/kustomization.yaml
  components/cost-management/staging/policies/.chainsaw-test/chainsaw-test.yaml
  components/cost-management/staging/policies/kustomization.yaml
  components/cost-management/staging/policies/propagate-cost-management-labels/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/cost-management/staging/policies/propagate-cost-management-labels/.chainsaw-test/chainsaw-test.yaml
  components/cost-management/staging/policies/propagate-cost-management-labels/.chainsaw-test/resources/expected-pod-matching.yaml
  components/cost-management/staging/policies/propagate-cost-management-labels/.chainsaw-test/resources/namespace-cost-center.yaml
  components/cost-management/staging/policies/propagate-cost-management-labels/.chainsaw-test/resources/namespace-no-cost-center.yaml
  components/cost-management/staging/policies/propagate-cost-management-labels/.chainsaw-test/resources/namespace-nonmatching.yaml
  components/cost-management/staging/policies/propagate-cost-management-labels/.chainsaw-test/resources/pod.yaml
  components/cost-management/staging/policies/propagate-cost-management-labels/kustomization.yaml
  components/cost-management/staging/policies/propagate-cost-management-labels/kyverno-rbac.yaml
  components/cost-management/staging/policies/validate-cost-management-labels/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/cost-management/staging/policies/validate-cost-management-labels/.chainsaw-test/chainsaw-test.yaml
  components/cost-management/staging/policies/validate-cost-management-labels/.chainsaw-test/resources/namespace-cost-center.yaml
  components/cost-management/staging/policies/validate-cost-management-labels/.chainsaw-test/resources/namespace-empty-cost-center.yaml
  components/cost-management/staging/policies/validate-cost-management-labels/.chainsaw-test/resources/namespace-no-cost-center.yaml
  components/cost-management/staging/policies/validate-cost-management-labels/.chainsaw-test/resources/namespace-nonmatching.yaml
  components/cost-management/staging/policies/validate-cost-management-labels/kustomization.yaml
  components/cost-management/staging/policies/validate-cost-management-labels/kyverno-rbac.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: increase leader election retry period in dev and stg (#6650)
  components/kyverno/development/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add konflux-rhel-read-events to rhel cluster (#6661)
  components/konflux-rbac/production/kflux-rhel-p01/kustomization.yaml
  components/konflux-rbac/production/kflux-rhel-p01/rhel/konflux-rhel-read-events-role.yaml
  components/konflux-rbac/production/kflux-rhel-p01/rhel/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-1759: Update OCP DPA on stage (#6665)
  components/backup/staging/stone-stage-p01/dpa-channel-patch.yaml
  components/backup/staging/stone-stage-p01/kustomization.yaml
  components/backup/staging/stone-stg-rh01/dpa-channel-patch.yaml
  components/backup/staging/stone-stg-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

PVO11Y-4802: Kanary label change and appending label to prometheus whitelist (#6620)
  components/monitoring/kanary/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-1768: Kueue staging resources (#6684)
  components/kueue/staging/base/kueue-external-admission/controller-patch.yaml
  components/kueue/staging/base/kueue-external-admission/kustomization.yaml
  components/kueue/staging/base/tekton-kueue/webhook-patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update OSP on dev and staging latest `next` tag (#6510)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(SPRE-1489): Update API Server metrics (#6625)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: increase leader election retry period in prod rh01 (#6652)
  components/kyverno/production/stone-prd-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: prefer helm values over kustomize patch (#6654)
  components/kyverno/production/stone-prd-rh01/kustomization.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-values.yaml
  components/kyverno/production/stone-prd-rh01/patch_background_controller_qps_burst.yaml
  components/kyverno/staging/stone-stg-rh01/kustomization.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/patch-background-controller-qps-burst.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

scrape kyverno metrics in dev and stage (#6792)
  components/kyverno/development/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: upgrade to v1.1.0 (#6774)
  components/kubearchive/README.md
  components/kubearchive/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

dev: Remove the operations key from generate rule (#6694)
  components/kueue/development/queue-config/cluster-policy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add pipeline descriptions and details (#6681)
  components/build-service/base/build-pipeline-config/build-pipeline-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add required sudo command into config (#6758)
  components/multi-platform-controller/production-downstream/kflux-rhel-p01/host-config.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/host-config.yaml
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
  components/multi-platform-controller/production/stone-prd-rh01/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(RELEASE-1585): enable empty dir (#6520)
  components/release/development/release_service_config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: fix always out of sync (#6697)
  components/kubearchive/development/kustomization.yaml
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh02/kustomization.yaml
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
  components/kubearchive/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update stge-rh01 to use IBM stage acct static VMs (#6767)
  components/multi-platform-controller/staging/external-secrets.yaml
  components/multi-platform-controller/staging/host-config.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add rhel-p01 NAT gateways to smee allow list (#6704)
  components/smee/production/ip-allow-list.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update stage-p01 to use IBM stage account ppc VM (#6698)
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

disable kyverno's helm tests manifests in dev, chainsaw and stg (#6657)
  components/kyverno/chainsaw/kyverno-helm-generator.yaml
  components/kyverno/chainsaw/kyverno-helm-values.yaml
  components/kyverno/development/kyverno-helm-generator.yaml
  components/kyverno/development/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stage-p01/kyverno-helm-generator.yaml
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-generator.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Knative Eventing: Upgrade to improve memory usage (#6776)
  components/knative-eventing/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: typo (#6707)
  components/build-service/base/build-pipeline-config/build-pipeline-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

give konflux admins permission over Kueue's CRs (#6689)
  components/authentication/base/konflux-admins.yaml
Due: none

kyverno: defaults for skipBackgroundRequests and allowExistingViolations in prod (#6798)
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-ocpconsole-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-ocpingress-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-ocpmonitoring-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-olm-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-np-samenamespace-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-rbcm-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-system-authenticated/validate-restrict-binding-system-authenticated-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/validate-rolebindings/invalid-subjects.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: fix rh01 naming and add its folder (#6690)
  argo-cd-apps/base/member/infra-deployments/kubearchive/kubearchive.yaml
  components/kubearchive/staging/stone-stg-rh01/database-secret.yaml
  components/kubearchive/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove the operations key from generate rule (#6693)
  components/kueue/staging/base/queue-config/cluster-policy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote project-controller to PROD (#6799)
  components/project-controller/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update the Tekton Results watcher timeouts (#6788)
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/resources/kustomization.yaml
  components/pipeline-service/production/stone-prod-p02/resources/update-results-timeouts.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
