Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

Add kelchen123 as approver to project-controller OWNERS (#7771)
  components/project-controller/OWNERS
Due: none

Remove IBM support for osp cluster
  components/kueue/production/kflux-osp-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-osp-p01/external-secrets.yaml
  components/multi-platform-controller/production-downstream/kflux-osp-p01/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2161: Control AWS IP requests using Kueue
  components/kueue/development/queue-config/cluster-queue.yaml
  components/kueue/development/tekton-kueue/config.yaml
  hack/test-tekton-kueue-config.py
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove IBM support for osp cluster (#7774)
  components/kueue/production/kflux-osp-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-osp-p01/external-secrets.yaml
  components/multi-platform-controller/production-downstream/kflux-osp-p01/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(SPRE-1675): Include apiserver etcd cpu and memory metrics prod (#7770)
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat: add banner to pipelinerun outage
  components/konflux-info/staging/stone-stg-rh01/banner-content.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat: add pipelinerun banner
  components/konflux-info/staging/stone-stage-p01/banner-content.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

deleted 'linux-test-arm64' platform from stone-stg-rh01 and re-enabled kueue in all namespaces
  components/kueue/staging/stone-stg-rh01/kustomization.yaml
  components/kueue/staging/stone-stg-rh01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/staging/host-config.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

deleted 'linux-test-arm64' platform from stone-stg-rh01 and re-enabled kueue in all namespaces (#7782)
  components/kueue/staging/stone-stg-rh01/kustomization.yaml
  components/kueue/staging/stone-stg-rh01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/staging/host-config.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Removing duplicates from stage stack file (#7783)
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Updating prod metrics Alligning production file with latest changes done in stage. PR 7783
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Updating prod metrics (#7784)
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(SPRE-1626) Adding namespace release-service Adding missing namespace to the current metrics we are using to monitor namespace activity. First, stage
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(SPRE-1626) Adding namespace release-service (#7786)
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Replicating stage changes in prod
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kflux-osp-p01: remove member operator installation
  components/sandbox/toolchain-member-operator/production/kflux-osp-p01/kustomization.yaml
  components/sandbox/toolchain-member-operator/production/kflux-osp-p01/ns.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kflux-osp-p01: remove member operator installation (#7789)
  components/sandbox/toolchain-member-operator/production/kflux-osp-p01/kustomization.yaml
  components/sandbox/toolchain-member-operator/production/kflux-osp-p01/ns.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

remove member operator from ocp-p01
  components/sandbox/toolchain-member-operator/production/kflux-ocp-p01/kustomization.yaml
  components/sandbox/toolchain-member-operator/production/kflux-ocp-p01/ns.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fixup! remove member operator from ocp-p01
  components/sandbox/toolchain-member-operator/production/kflux-ocp-p01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove member operator from ocp-p01 (#7790)
  components/sandbox/toolchain-member-operator/production/kflux-ocp-p01/kustomization.yaml
  components/sandbox/toolchain-member-operator/production/kflux-ocp-p01/ns.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

rhel: remove all member-operator components (#7729)
  components/sandbox/toolchain-member-operator/production/kflux-rhel-p01/kustomization.yaml
  components/sandbox/toolchain-member-operator/production/kflux-rhel-p01/ns.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

rh02: remove member components (#7730)
  components/sandbox/toolchain-member-operator/production/kflux-prd-rh02/kustomization.yaml
  components/sandbox/toolchain-member-operator/production/kflux-prd-rh02/ns.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Stop alerts on pentest cluster by disabling metrics export
  argo-cd-apps/base/all-clusters/infra-deployments/monitoring-workload-prometheus/monitoring-workload-prometheus.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: Fixing Openshift Pipeline Operator Subscription This commit will fix the subscription for Openshift Pipeline Operator
  components/pipeline-service/production/pentest-p01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: Fixing Openshift Pipeline Operator Subscription (#7792)
  components/pipeline-service/production/pentest-p01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

switch to distributed loki deployment
  argo-cd-apps/base/member/infra-deployments/vector-kubearchive-log-collector/vector-kubearchive-log-collector.yaml
  components/vector-kubearchive-log-collector/base/kustomization.yaml
  components/vector-kubearchive-log-collector/base/rbac.yaml
  components/vector-kubearchive-log-collector/base/vector-pre.yaml
  components/vector-kubearchive-log-collector/development/grafana-helm-values.yaml
  components/vector-kubearchive-log-collector/development/kustomization.yaml
  components/vector-kubearchive-log-collector/development/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/development/rbac.yaml
  components/vector-kubearchive-log-collector/development/vector-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/grafana-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/kustomization.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/rbac.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/vector-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Replicating stage changes in prod (#7787)
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
