Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Delete prd-m01 related manifests (#6800)
  argo-cd-apps/base/all-clusters/infra-deployments/monitoring-workload-prometheus/monitoring-workload-prometheus.yaml
  argo-cd-apps/base/member/infra-deployments/knative-eventing/knative-eventing.yaml
  argo-cd-apps/base/member/infra-deployments/konflux-info/konflux-info.yaml
  argo-cd-apps/base/member/infra-deployments/pipeline-service/pipeline-service.yaml
  components/backup/production/stone-prd-m01/backup-s3-credentials-patch.yaml
  components/backup/production/stone-prd-m01/dpa-bucket-patch.yaml
  components/backup/production/stone-prd-m01/dpa-kmskeyid-patch.yaml
  components/backup/production/stone-prd-m01/kustomization.yaml
  components/knative-eventing/production/stone-prd-m01/kustomization.yaml
  components/monitoring/prometheus/production/stone-prd-m01/cluster-id-label.yaml
  components/monitoring/prometheus/production/stone-prd-m01/kustomization.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-m01/kustomization.yaml
  components/pipeline-service/production/stone-prd-m01/resources/kustomization.yaml
  components/pipeline-service/production/stone-prd-m01/resources/tekton-chains-public-key-path.yaml
  components/pipeline-service/production/stone-prd-m01/resources/tekton-chains-signing-secret-path.yaml
  components/pipeline-service/production/stone-prd-m01/resources/tekton-results-database-secret-path.yaml
  components/pipeline-service/production/stone-prd-m01/resources/tekton-results-s3-secret-path.yaml
  components/sandbox/toolchain-host-operator/production/stone-prd-host1/space-provisioner-configs.yaml
  components/sandbox/user-management/production/kubesaw-admins.yaml
  components/sprayproxy/production/change-backends.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add README and OWNERS files for policies component
  components/policies/README.md
  components/policies/development/kubearchive/OWNERS
  components/policies/production/base/konflux-rbac/OWNERS
  components/policies/staging/base/konflux-rbac/OWNERS
  components/policies/staging/policies/kubearchive/OWNERS
Due: none

add README and OWNERS files for policies component (#6810)
  components/policies/README.md
  components/policies/development/kubearchive/OWNERS
  components/policies/production/base/konflux-rbac/OWNERS
  components/policies/staging/base/konflux-rbac/OWNERS
  components/policies/staging/policies/kubearchive/OWNERS
Due: none

Knative Eventing: update production version (#6809)
  components/knative-eventing/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Grant permssion to sre and infra to create debug pod in MPC NS
  components/multi-platform-controller/base/kustomization.yaml
  components/multi-platform-controller/base/rbac/kustomization.yaml
  components/multi-platform-controller/base/rbac/pod-debug-restart.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Grant permssion to sre and infra to create debug pod in MPC NS (#6811)
  components/multi-platform-controller/base/kustomization.yaml
  components/multi-platform-controller/base/rbac/kustomization.yaml
  components/multi-platform-controller/base/rbac/pod-debug-restart.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

enable multi-repo Github App token scoping
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/resources/update-tekton-config-pac.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(RELEASE-1596): enable emptyDir for push-artifacts-to-cdn
  components/release/development/release_service_config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix format and add missing fields
  components/policies/development/cost-management/propagate-cost-management-labels/propagate-cost-management-labels.yaml
  components/policies/development/cost-management/validate-cost-management-labels/validate-cost-management-labels.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(RELEASE-1596): enable emptyDir for push-artifacts-to-cdn (#6813)
  components/release/development/release_service_config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update Pipelines Production to be in line with staging and devopment
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/resources/kustomization.yaml
  components/pipeline-service/production/kflux-rhel-p01/resources/override-osp-version.yaml
  components/pipeline-service/production/kflux-rhel-p01/resources/update-config-for-osp-1-19.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Deploy MPC rbac in production
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh03/kustomization.yaml
  components/multi-platform-controller/production/stone-prd-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update Pipelines Production to be in line with staging and devopment (#6814)
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/resources/kustomization.yaml
  components/pipeline-service/production/kflux-rhel-p01/resources/override-osp-version.yaml
  components/pipeline-service/production/kflux-rhel-p01/resources/update-config-for-osp-1-19.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix minio helm chart version
  components/vector-kubearchive-log-collector/development/minio-helm-generator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Deploy MPC rbac in production (#6815)
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh03/kustomization.yaml
  components/multi-platform-controller/production/stone-prd-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix minio error
  components/vector-kubearchive-log-collector/development/kustomization.yaml
  components/vector-kubearchive-log-collector/development/loki-helm-generator.yaml
  components/vector-kubearchive-log-collector/development/minio-helm-generator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix minio version to 17.0.6
  components/vector-kubearchive-log-collector/development/minio-helm-generator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix minio chart version to 16.0.10
  components/vector-kubearchive-log-collector/development/kustomization.yaml
  components/vector-kubearchive-log-collector/development/minio-helm-generator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix minio version 15.0.7
  components/vector-kubearchive-log-collector/development/minio-helm-generator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

remove minio charts from deployment
  components/vector-kubearchive-log-collector/development/kustomization.yaml
  components/vector-kubearchive-log-collector/development/minio-helm-generator.yaml
  components/vector-kubearchive-log-collector/development/minio-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

scrape kyverno metrics in prod
  components/kyverno/production/kflux-ocp-p01/kyverno-helm-values.yaml
  components/kyverno/production/kflux-prd-rh02/kyverno-helm-values.yaml
  components/kyverno/production/kflux-prd-rh03/kyverno-helm-values.yaml
  components/kyverno/production/kflux-rhel-p01/kyverno-helm-values.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-values.yaml
  components/kyverno/production/stone-prod-p01/kyverno-helm-values.yaml
  components/kyverno/production/stone-prod-p02/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix vector RBAC configuration
  components/vector-kubearchive-log-collector/base/vector-helm-values.yaml
  components/vector-kubearchive-log-collector/base/vector-pre.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix SecurityContextConstraints for logging
  components/vector-kubearchive-log-collector/base/vector-pre.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(konflux): add sbom urls (#6418)
  components/konflux-info/production/kflux-ocp-p01/info.json
  components/konflux-info/production/kflux-prd-rh02/info.json
  components/konflux-info/production/kflux-prd-rh03/info.json
  components/konflux-info/production/stone-prd-rh01/info.json
  components/konflux-info/production/stone-prod-p01/info.json
  components/konflux-info/production/stone-prod-p02/info.json
  components/konflux-info/staging/stone-stage-p01/info.json
  components/konflux-info/staging/stone-stg-rh01/info.json
  hack/new-cluster/templates/konflux-info/info.json
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(PVO11Y-4814): Promote Kanary exporter to a production cluster (#6764)
  argo-cd-apps/base/monitoring-workload-kanary/monitoring-workload-kanary.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  components/monitoring/kanary/base/kustomization.yaml
  components/monitoring/kanary/production/base/kustomization.yaml
  components/monitoring/kanary/production/stone-prod-p02/external-secrets/kanary-db-credentials.yaml
  components/monitoring/kanary/production/stone-prod-p02/external-secrets/kustomization.yaml
  components/monitoring/kanary/production/stone-prod-p02/kanary-db-credentials-secret-path.yaml
  components/monitoring/kanary/production/stone-prod-p02/kustomization.yaml
  components/monitoring/kanary/production/stone-prod-p02/rbac/kanary-maintainers.yaml
  components/monitoring/kanary/production/stone-prod-p02/rbac/kustomization.yaml
  components/monitoring/kanary/staging/stone-stage-p01/external-secrets/kanary-db-credentials.yaml
  components/monitoring/kanary/staging/stone-stage-p01/external-secrets/kustomization.yaml
  components/monitoring/kanary/staging/stone-stage-p01/kanary-db-credentials-secret-path.yaml
  components/monitoring/kanary/staging/stone-stage-p01/rbac/kanary-maintainers.yaml
  components/monitoring/kanary/staging/stone-stage-p01/rbac/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

[DO-NOT-MERGE] CI Appstudio cluster test
  components/vector-tekton-logs-collector/development/vector-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote konflux-ui to prod
  components/konflux-ui/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: changing commonAnnotations (#6808)
  argo-cd-apps/base/member/infra-deployments/kubearchive/kubearchive.yaml
  components/kubearchive/development/kustomization.yaml
  components/kubearchive/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix: Addressed review comment by adding an explanation for why secure is set to false.
  components/kyverno/production/kflux-ocp-p01/kyverno-helm-values.yaml
  components/kyverno/production/kflux-prd-rh02/kyverno-helm-values.yaml
  components/kyverno/production/kflux-prd-rh03/kyverno-helm-values.yaml
  components/kyverno/production/kflux-rhel-p01/kyverno-helm-values.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-values.yaml
  components/kyverno/production/stone-prod-p01/kyverno-helm-values.yaml
  components/kyverno/production/stone-prod-p02/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KFLUXVNGD-330): deploying smee sidecar in staging
  components/smee-client/OWNERS
  components/smee-client/staging/deployment.yaml
  components/smee-client/staging/kustomization.yaml
  components/smee-client/staging/sever-url-patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add service account for S3
  components/vector-kubearchive-log-collector/base/vector-pre.yaml
  components/vector-kubearchive-log-collector/development/minio-helm-generator.yaml
  components/vector-kubearchive-log-collector/staging/grafana-helm-generator.yaml
  components/vector-kubearchive-log-collector/staging/grafana-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/kustomization.yaml
  components/vector-kubearchive-log-collector/staging/values.minio.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests
