Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

KFLUXINFRA-1734: Add a dashboard for Kueue (#6859)
  components/monitoring/grafana/base/dashboards/kueue/dashboard.yaml
  components/monitoring/grafana/base/dashboards/kueue/kueue.json
  components/monitoring/grafana/base/dashboards/kueue/kustomization.yaml
  components/monitoring/grafana/base/dashboards/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove datasource from Kueue dashboards
  components/monitoring/grafana/base/dashboards/kueue/kueue.json
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove datasource from Kueue dashboards (#6882)
  components/monitoring/grafana/base/dashboards/kueue/kueue.json
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Enable kubearchive access from nginx in prod if configured (#6871)
  components/konflux-ui/production/base/proxy/proxy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

disable cost-management policy in development
  components/policies/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

etcd-shield: use in-memory IPC in production
  components/etcd-shield/production/base/deployment.yaml
  components/etcd-shield/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Upgrade OADP operator on all clusters
  components/backup/base/all-clusters/oadp/install-oadp.yaml
  components/backup/staging/stone-stage-p01/dpa-channel-patch.yaml
  components/backup/staging/stone-stage-p01/kustomization.yaml
  components/backup/staging/stone-stg-rh01/dpa-channel-patch.yaml
  components/backup/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

etcd-shield: use in-memory IPC in production (#6885)
  components/etcd-shield/production/base/deployment.yaml
  components/etcd-shield/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Upgrade OADP operator on all clusters (#6886)
  components/backup/base/all-clusters/oadp/install-oadp.yaml
  components/backup/staging/stone-stage-p01/dpa-channel-patch.yaml
  components/backup/staging/stone-stage-p01/kustomization.yaml
  components/backup/staging/stone-stg-rh01/dpa-channel-patch.yaml
  components/backup/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

disable cost-management policy in development (#6883)
  components/policies/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update internal clusters with recent MPC version
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

migrate kubearchive prod policies to dedicated component
  components/policies/production/base/kubearchive/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/production/base/kubearchive/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/base/kubearchive/.chainsaw-test/resources/actual-kubeconfig-archive.yaml
  components/policies/production/base/kubearchive/.chainsaw-test/resources/actual-namespace-konfluxcidev.yaml
  components/policies/production/base/kubearchive/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/policies/production/base/kubearchive/.chainsaw-test/resources/expected-kubearchiveconfig.yaml
  components/policies/production/base/kubearchive/.chainsaw-test/resources/kubearchive-crd.yaml
  components/policies/production/base/kubearchive/.kyverno-test/kyverno-test.yaml
  components/policies/production/base/kubearchive/OWNERS
  components/policies/production/base/kubearchive/bootstrap-namespace.yaml
  components/policies/production/base/kubearchive/kustomization.yaml
  components/policies/production/base/kubearchive/kyverno_rbac.yaml
  components/policies/production/base/kubearchive/resources/expected-kubearchiveconfig-konflux.yaml
  components/policies/production/base/kubearchive/resources/labeled-namespace-konflux.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

migrate kubearchive prod policies to dedicated component (#6892)
  components/policies/production/base/kubearchive/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/production/base/kubearchive/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/base/kubearchive/.chainsaw-test/resources/actual-kubeconfig-archive.yaml
  components/policies/production/base/kubearchive/.chainsaw-test/resources/actual-namespace-konfluxcidev.yaml
  components/policies/production/base/kubearchive/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/policies/production/base/kubearchive/.chainsaw-test/resources/expected-kubearchiveconfig.yaml
  components/policies/production/base/kubearchive/.chainsaw-test/resources/kubearchive-crd.yaml
  components/policies/production/base/kubearchive/.kyverno-test/kyverno-test.yaml
  components/policies/production/base/kubearchive/OWNERS
  components/policies/production/base/kubearchive/bootstrap-namespace.yaml
  components/policies/production/base/kubearchive/kustomization.yaml
  components/policies/production/base/kubearchive/kyverno_rbac.yaml
  components/policies/production/base/kubearchive/resources/expected-kubearchiveconfig-konflux.yaml
  components/policies/production/base/kubearchive/resources/labeled-namespace-konflux.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

move kubearchive policies out of prod base
  components/policies/production/policies/kubearchive/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/production/policies/kubearchive/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/policies/kubearchive/.chainsaw-test/resources/actual-kubeconfig-archive.yaml
  components/policies/production/policies/kubearchive/.chainsaw-test/resources/actual-namespace-konfluxcidev.yaml
  components/policies/production/policies/kubearchive/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/policies/production/policies/kubearchive/.chainsaw-test/resources/expected-kubearchiveconfig.yaml
  components/policies/production/policies/kubearchive/.chainsaw-test/resources/kubearchive-crd.yaml
  components/policies/production/policies/kubearchive/.kyverno-test/kyverno-test.yaml
  components/policies/production/policies/kubearchive/OWNERS
  components/policies/production/policies/kubearchive/bootstrap-namespace.yaml
  components/policies/production/policies/kubearchive/kustomization.yaml
  components/policies/production/policies/kubearchive/kyverno_rbac.yaml
  components/policies/production/policies/kubearchive/resources/expected-kubearchiveconfig-konflux.yaml
  components/policies/production/policies/kubearchive/resources/labeled-namespace-konflux.yaml
  components/policies/production/policies/kustomization.yaml
  components/policies/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

move kubearchive policies out of prod base (#6896)
  components/policies/production/policies/kubearchive/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/production/policies/kubearchive/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/policies/kubearchive/.chainsaw-test/resources/actual-kubeconfig-archive.yaml
  components/policies/production/policies/kubearchive/.chainsaw-test/resources/actual-namespace-konfluxcidev.yaml
  components/policies/production/policies/kubearchive/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/policies/production/policies/kubearchive/.chainsaw-test/resources/expected-kubearchiveconfig.yaml
  components/policies/production/policies/kubearchive/.chainsaw-test/resources/kubearchive-crd.yaml
  components/policies/production/policies/kubearchive/.kyverno-test/kyverno-test.yaml
  components/policies/production/policies/kubearchive/OWNERS
  components/policies/production/policies/kubearchive/bootstrap-namespace.yaml
  components/policies/production/policies/kubearchive/kustomization.yaml
  components/policies/production/policies/kubearchive/kyverno_rbac.yaml
  components/policies/production/policies/kubearchive/resources/expected-kubearchiveconfig-konflux.yaml
  components/policies/production/policies/kubearchive/resources/labeled-namespace-konflux.yaml
  components/policies/production/policies/kustomization.yaml
  components/policies/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: add 'resource_type' label to the monitoring stack
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

disable kueue's policies on stg-p01
  components/policies/staging/base/kustomization.yaml
  components/policies/staging/policies/kueue/kustomization.yaml
  components/policies/staging/stone-stg-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

disable kueue's policies on stg-p01 (#6899)
  components/policies/staging/base/kustomization.yaml
  components/policies/staging/policies/kueue/kustomization.yaml
  components/policies/staging/stone-stg-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

deploy appstudio-pipeline-runner in development overlay
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  components/konflux-rbac/development/appstudio-pipelines-runner.yaml
  components/konflux-rbac/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

deploy appstudio-pipeline-runner in development overlay (#6901)
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  components/konflux-rbac/development/appstudio-pipelines-runner.yaml
  components/konflux-rbac/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

complete kubearchive prod policies migration
  components/kubearchive/policies/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/kubearchive/policies/.chainsaw-test/chainsaw-test.yaml
  components/kubearchive/policies/.chainsaw-test/resources/actual-kubeconfig-archive.yaml
  components/kubearchive/policies/.chainsaw-test/resources/actual-namespace-konfluxcidev.yaml
  components/kubearchive/policies/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/kubearchive/policies/.chainsaw-test/resources/expected-kubearchiveconfig.yaml
  components/kubearchive/policies/.chainsaw-test/resources/kubearchive-crd.yaml
  components/kubearchive/policies/.kyverno-test/kyverno-test.yaml
  components/kubearchive/policies/bootstrap-namespace.yaml
  components/kubearchive/policies/kustomization.yaml
  components/kubearchive/policies/kyverno_rbac.yaml
  components/kubearchive/policies/resources/expected-kubearchiveconfig-konflux.yaml
  components/kubearchive/policies/resources/labeled-namespace-konflux.yaml
  components/kubearchive/production/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(STONEINTG-1259): disable integration leader election
  components/integration/development/manager_resources_patch.yaml
  components/integration/staging/base/manager_resources_patch.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

complete kubearchive prod policies migration (#6893)
  components/kubearchive/policies/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/kubearchive/policies/.chainsaw-test/chainsaw-test.yaml
  components/kubearchive/policies/.chainsaw-test/resources/actual-kubeconfig-archive.yaml
  components/kubearchive/policies/.chainsaw-test/resources/actual-namespace-konfluxcidev.yaml
  components/kubearchive/policies/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/kubearchive/policies/.chainsaw-test/resources/expected-kubearchiveconfig.yaml
  components/kubearchive/policies/.chainsaw-test/resources/kubearchive-crd.yaml
  components/kubearchive/policies/.kyverno-test/kyverno-test.yaml
  components/kubearchive/policies/bootstrap-namespace.yaml
  components/kubearchive/policies/kustomization.yaml
  components/kubearchive/policies/kyverno_rbac.yaml
  components/kubearchive/policies/resources/expected-kubearchiveconfig-konflux.yaml
  components/kubearchive/policies/resources/labeled-namespace-konflux.yaml
  components/kubearchive/production/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

set skipBackgroundRequests to default in kubearchive's policy
  components/policies/production/policies/kubearchive/bootstrap-namespace.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

improve formatting for GitHub
  .github/workflows/forbid-clusterpolicies.yaml
  hack/forbid-clusterpolicies.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update .github/workflows/forbid-clusterpolicies.yaml
  .github/workflows/forbid-clusterpolicies.yaml
Due: none

Revert "triggering new ci workflow"
  components/policies/production/policies/kubearchive/bootstrap-namespace.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
