Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Fix view nodes on EaaS cluster
  components/authentication/base/everyone-can-view.yaml
Due: none

namespace-lister: add healthz and readyz checks to staging
  components/namespace-lister/base/deployment.yaml
  components/namespace-lister/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix view nodes on EaaS cluster (#5757)
  components/authentication/base/everyone-can-view.yaml
Due: none

namespace-lister: add healthz and readyz checks to staging (#5758)
  components/namespace-lister/base/deployment.yaml
  components/namespace-lister/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

scaffold kyverno across all relevant clusters (#5753)
  argo-cd-apps/base/member/infra-deployments/kyverno/kyverno.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  components/kyverno/production/kflux-ocp-p01/kustomization.yaml
  components/kyverno/production/stone-prd-rh01/kustomization.yaml
  components/kyverno/production/stone-prod-p01/kustomization.yaml
  components/kyverno/production/stone-prod-p02/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add kyverno to stone-prd-rh01
  components/kyverno/production/stone-prd-rh01/job_resources.yaml
  components/kyverno/production/stone-prd-rh01/kustomization.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add kyverno to stone-prd-rh01 (#5751)
  components/kyverno/production/stone-prd-rh01/job_resources.yaml
  components/kyverno/production/stone-prd-rh01/kustomization.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

nslister: add egress NetworkPolicy (#5755)
  components/namespace-lister/base/kustomization.yaml
  components/namespace-lister/base/network_policy_allow_from_konfluxui.yaml
  components/namespace-lister/base/network_policy_allow_to_apiserver.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

mintmaker: grant pod management permissions to mintmaker-team
  components/mintmaker/base/rbac/mintmaker-team.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

rollout kyverno to prod p02
  components/kyverno/production/stone-prod-p02/job_resources.yaml
  components/kyverno/production/stone-prod-p02/kustomization.yaml
  components/kyverno/production/stone-prod-p02/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prod-p02/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

nslister: promote egress NetworkPolicy to prod
  components/namespace-lister/production/base/kustomization.yaml
  components/namespace-lister/production/base/network_policy_allow_from_konfluxui.yaml
  components/namespace-lister/production/base/network_policy_allow_to_apiserver.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

mintmaker: grant pod management permissions to mintmaker-team (#5762)
  components/mintmaker/base/rbac/mintmaker-team.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

nslister: promote egress NetworkPolicy to prod (#5766)
  components/namespace-lister/production/base/kustomization.yaml
  components/namespace-lister/production/base/network_policy_allow_from_konfluxui.yaml
  components/namespace-lister/production/base/network_policy_allow_to_apiserver.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

namespace-lister: add healthz and readyz checks to prod
  components/namespace-lister/production/base/deployment.yaml
  components/namespace-lister/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

namespace-lister: add healthz and readyz checks to prod (#5770)
  components/namespace-lister/production/base/deployment.yaml
  components/namespace-lister/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add kyverno to stone-prod-p01
  components/kyverno/production/stone-prod-p01/job_resources.yaml
  components/kyverno/production/stone-prod-p01/kustomization.yaml
  components/kyverno/production/stone-prod-p01/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prod-p01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add kyverno to kflux-ocp-p01
  components/kyverno/production/kflux-ocp-p01/job_resources.yaml
  components/kyverno/production/kflux-ocp-p01/kustomization.yaml
  components/kyverno/production/kflux-ocp-p01/kyverno-helm-generator.yaml
  components/kyverno/production/kflux-ocp-p01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Optimize Vector Results
  components/vector-tekton-logs-collector/development/vector-helm-values.yaml
  components/vector-tekton-logs-collector/staging/vector-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add kyverno policy for standardizing namespace's tenant label
  .chainsaw.yaml
  .github/workflows/chainsaw-tests.yaml
  .github/workflows/kube-linter.yaml
  components/kyverno/chainsaw/kustomization.yaml
  components/namespace-lister/base/kustomization.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/chainsaw-test.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/actual-namespace-konflux-toolchain.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/actual-namespace-konflux.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/actual-namespace-toolchain.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/expected-namespace-konflux-toolchain.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/expected-namespace-konflux.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/expected-namespace-toolchain.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/expected-namespace-unlabeled.yaml
  components/namespace-lister/policies/ns-label/kustomization.yaml
  components/namespace-lister/policies/ns-label/kyverno-background-konflux-ns-label-clusterrole.yaml
  components/namespace-lister/policies/ns-label/namespace-enforce-label-clusterpolicy.yaml
  hack/chainsaw/chainsaw-prepare.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add kyverno to stone-prod-p01 (#5773)
  components/kyverno/production/stone-prod-p01/job_resources.yaml
  components/kyverno/production/stone-prod-p01/kustomization.yaml
  components/kyverno/production/stone-prod-p01/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prod-p01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add kyverno to kflux-ocp-p01 (#5774)
  components/kyverno/production/kflux-ocp-p01/job_resources.yaml
  components/kyverno/production/kflux-ocp-p01/kustomization.yaml
  components/kyverno/production/kflux-ocp-p01/kyverno-helm-generator.yaml
  components/kyverno/production/kflux-ocp-p01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

rollout kyverno to prod p02 (#5748)
  components/kyverno/production/stone-prod-p02/job_resources.yaml
  components/kyverno/production/stone-prod-p02/kustomization.yaml
  components/kyverno/production/stone-prod-p02/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prod-p02/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Optimize Vector Results (#5767)
  components/vector-tekton-logs-collector/development/vector-helm-values.yaml
  components/vector-tekton-logs-collector/staging/vector-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Only enable pause pods in production
  components/cluster-as-a-service/base/clustertemplates.yaml
  components/cluster-as-a-service/production/add-hypershift-params.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

define concurrency support at test level
  .github/workflows/chainsaw-tests.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/chainsaw-test.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add description
  components/namespace-lister/policies/ns-label/.chainsaw-test/chainsaw-test.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add successfulJobsHistoryLimit to CronJob This Pull request will add the successfulJobsHistoryLimit and change fragmentationThreshold to 15 percent for the testing purpose.
  configs/etcd-defrag/base/cronjob.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix test and namespaces names
  components/namespace-lister/policies/ns-label/.chainsaw-test/chainsaw-test.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests
