Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

Clean up the Non-use routes and static nodes
  components/multi-platform-controller/production-downstream/host-config.yaml
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Clean up the Non-use routes and static nodes (#4928)
  components/multi-platform-controller/production-downstream/host-config.yaml
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix PAC secret in production build service
  components/build-service/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix PAC secret in production build service (#4930)
  components/build-service/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

patch to staging cluster-provisioner pod read
  components/cluster-as-a-service/staging/kustomization.yaml
  components/cluster-as-a-service/staging/namespace-manager-pod-reader-binding.yaml
  components/cluster-as-a-service/staging/namespace-manager-pod-reader-role.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update hac-dev ui to latest(9522a36) (#4925)
  components/ui/development/kustomization.yaml
  components/ui/production/kflux-ocp-p01/kustomization.yaml
  components/ui/production/stone-prod-p01/kustomization.yaml
  components/ui/production/stone-prod-p02/kustomization.yaml
  components/ui/staging/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Changing NodeSelector and Toleration for Staging Overlay
  argo-cd-apps/overlays/development/delete-applications.yaml
  configs/nvme-storage-configurator/base/daemonset.yaml
  configs/proactive-scaler/base/deployments.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update MPC prod with latest staging-tested changes (#4924)
  components/multi-platform-controller/production-downstream/kustomization.yaml
  components/multi-platform-controller/production/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: promote project-controller to production
  components/project-controller/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: promote project-controller to production (#4933)
  components/project-controller/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(KFLUXINFRA-921): Fixing RDS Secret Path
  components/pipeline-service/production/kflux-ocp-p01/resources/tekton-results-database-secret-path.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Create bucket automatically
  components/pipeline-service/development/dev-only-pipeline-service-storage-configuration.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(KFLUXINFRA-921): Fixing RDS Secret Path (#4934)
  components/pipeline-service/production/kflux-ocp-p01/resources/tekton-results-database-secret-path.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote integration-service from staging to production (#4927)
  components/integration/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(KFLUXINFRA-921): Fixing Vault Secret Path for RDS
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote release-service from staging to production
  components/release/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(KFLUXINFRA-921): Fixing Vault Secret Path for RDS (#4936)
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote release-service from staging to production (#4937)
  components/release/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(KFLUXVNGD-88): Add enable-helm option in github actions file
  .github/workflows/kube-linter.yaml
Due: none

chore(KFLUXVNGD-88): Add enable-helm option in github actions file (#4938)
  .github/workflows/kube-linter.yaml
Due: none

Run MintMaker every 4 hours instead of 2 hours
  components/mintmaker/base/cronjobs/create-dependency-update-check.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Run MintMaker every 4 hours instead of 2 hours (#4940)
  components/mintmaker/base/cronjobs/create-dependency-update-check.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

APPSRE-11137 add app-sre SecretStore
  components/cluster-secret-store-rh/base/app-sre-secret-store.yaml
  components/cluster-secret-store-rh/base/kustomization.yaml
  components/cluster-secret-store-rh/production/app-sre-approle-id-patch.yaml
  components/cluster-secret-store-rh/production/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

APPSRE-11137 proper secretID ref
  components/cluster-secret-store-rh/base/app-sre-secret-store.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Temporarily adjust Renovate jobs to run every 4 hours from Friday to Sunday
  components/mintmaker/base/cronjobs/create-dependency-update-check.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Release new version of MintMaker to production
  components/mintmaker/production/base/kustomization.yaml
  components/mintmaker/production/base/manager_patches.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update MintMaker in stage
  components/mintmaker/staging/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update MintMaker in stage (#4947)
  components/mintmaker/staging/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
