Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

deploy namespace-lister to production
  argo-cd-apps/base/member/infra-deployments/namespace-lister/namespace-lister.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  components/namespace-lister/empty-base/kustomization.yaml
  components/namespace-lister/production/base/deployment.yaml
  components/namespace-lister/production/base/kustomization.yaml
  components/namespace-lister/production/base/metrics/kustomization.yaml
  components/namespace-lister/production/base/metrics/monitor.yaml
  components/namespace-lister/production/base/metrics/network_policy.yaml
  components/namespace-lister/production/base/metrics/rbac.yaml
  components/namespace-lister/production/base/metrics/service-account.yaml
  components/namespace-lister/production/base/namespace.yaml
  components/namespace-lister/production/base/network_policy.yaml
  components/namespace-lister/production/base/patches/with-header-auth-email.yaml
  components/namespace-lister/production/base/patches/with_cachenamespacelabelselector.yaml
  components/namespace-lister/production/base/patches/with_header_auth_email.yaml
  components/namespace-lister/production/base/rbac.yaml
  components/namespace-lister/production/base/service.yaml
  components/namespace-lister/production/kflux-prd-rh02/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

deploy namespace-lister to stone-stage-p01
  argo-cd-apps/base/member/infra-deployments/namespace-lister/namespace-lister.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  components/namespace-lister/staging/stone-stg-p01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Provide access for admins to manage SAs
  components/konflux-rbac/production/base/konflux-admin-user-actions.yaml
  components/konflux-rbac/staging/base/konflux-admin-user-actions.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

deploy konflux-ui to stone-stage-p01
  argo-cd-apps/base/member/infra-deployments/konflux-ui/konflux-ui.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  components/konflux-ui/staging/stone-stg-p01/add-service-certs-patch.yaml
  components/konflux-ui/staging/stone-stg-p01/dex-config.yaml
  components/konflux-ui/staging/stone-stg-p01/kustomization.yaml
  components/konflux-ui/staging/stone-stg-p01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/staging/stone-stg-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/staging/stone-stg-p01/set-hostname.yaml
  components/konflux-ui/staging/stone-stg-p01/set-redirect-uri.yaml
  components/konflux-ui/staging/stone-stg-p01/set-replicas-patch.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix bad annotation.
  components/kubearchive/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix split Results API service staging
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert decrease on external & decrease on internal (#5576)
  components/multi-platform-controller/staging-downstream/host-config.yaml
  components/multi-platform-controller/staging/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix split Results API service staging (#5582)
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Provide access for admins to manage SAs (#5580)
  components/konflux-rbac/production/base/konflux-admin-user-actions.yaml
  components/konflux-rbac/staging/base/konflux-admin-user-actions.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix Results API cert after service split
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert max instances decrease on internal
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix Results API cert after service split (#5583)
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

remove noResourceTransform
  argo-cd-apps/base/member/infra-deployments/kyverno/kyverno.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert max instances decrease on internal (#5584)
  components/multi-platform-controller/staging-downstream/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove patch for memory limit. (#5579)
  components/kubearchive/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Grant admin access to kubearchive team
  components/kubearchive/base/rbac.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Temporarily disable sync of kubearchive application
  argo-cd-apps/base/member/infra-deployments/kubearchive/kubearchive.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add ignoreAggregatedRoles in development ArgoCD
  hack/deploy-argocd.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove finalizer workaround for cluster templates (#5578)
  components/cluster-as-a-service/base/clustertemplates.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Grant admin access to kubearchive team (#5586)
  components/kubearchive/base/rbac.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Split Tekton Results API service prod
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Split Tekton Results API service prod (#5589)
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

give konflux-core team ownership over konflux-ui (#5577)
  components/konflux-ui/OWNERS
Due: none

Add per-platform instance tags to production
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-config.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p01/host-config.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-config.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/host-config.yaml
  components/multi-platform-controller/production/stone-prd-rh01/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add per-platform instance tags to production (#5585)
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-config.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p01/host-config.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-config.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/host-config.yaml
  components/multi-platform-controller/production/stone-prd-rh01/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix Results API cert after service split - development
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix Results API cert after service split - development (#5592)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests
