Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

kubearchive-logging add external secret
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kubearchive-logging: remove production deletion patch
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add pod debugging permissions to mintmaker team (#8329)
  components/mintmaker/base/rbac/mintmaker-team.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "Change RHEL AMIs to Cloud Access for prd-rh01 (#8284)" (#8328)
  components/multi-platform-controller/production/stone-prd-rh01/host-config.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "Change RHEL AMIs to Cloud Access for Prod (#8307)"
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-config.yaml
  components/multi-platform-controller/production-downstream/kflux-osp-p01/host-config.yaml
  components/multi-platform-controller/production-downstream/pentest-p01/host-config.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p01/host-config.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-config.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/host-config.yaml
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
  hack/new-cluster/templates/multi-platform-controller/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "Change RHEL AMIs to Cloud Access for Prod (#8307)" (#8334)
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-config.yaml
  components/multi-platform-controller/production-downstream/kflux-osp-p01/host-config.yaml
  components/multi-platform-controller/production-downstream/pentest-p01/host-config.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p01/host-config.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-config.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/host-config.yaml
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
  hack/new-cluster/templates/multi-platform-controller/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

product-kubearchive-logging: remove staging deletion patch (#8330)
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kubearchive-logging add external secret (#8332)
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kubearchive-logging: remove production deletion patch (#8333)
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(SPRE-1609): Update monitorinstack log levels (#8314)
  components/monitoring/prometheus/staging/base/monitoringstack/kustomization.yaml
  components/monitoring/prometheus/staging/base/monitoringstack/monitoringstack-log-level.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(SPRE-1609): Update monitorinstack log level back to info
  components/monitoring/prometheus/staging/base/monitoringstack/monitoringstack-log-level.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(SPRE-1609): Update monitorinstack log level back to info (#8340)
  components/monitoring/prometheus/staging/base/monitoringstack/monitoringstack-log-level.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

ci: fix kube-linter artifact upload
  .github/workflows/kube-linter.yaml
Due: none

kyverno: bump to v1.15.2 on staging
  components/kyverno/staging/stone-stage-p01/kustomization.yaml
  components/kyverno/staging/stone-stage-p01/kyverno-helm-generator.yaml
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kustomization.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-generator.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: bump to v1.15.2 in production
  components/kyverno/production/kflux-ocp-p01/kustomization.yaml
  components/kyverno/production/kflux-ocp-p01/kyverno-helm-generator.yaml
  components/kyverno/production/kflux-ocp-p01/kyverno-helm-values.yaml
  components/kyverno/production/kflux-osp-p01/kustomization.yaml
  components/kyverno/production/kflux-osp-p01/kyverno-helm-generator.yaml
  components/kyverno/production/kflux-osp-p01/kyverno-helm-values.yaml
  components/kyverno/production/kflux-prd-rh02/kustomization.yaml
  components/kyverno/production/kflux-prd-rh02/kyverno-helm-generator.yaml
  components/kyverno/production/kflux-prd-rh02/kyverno-helm-values.yaml
  components/kyverno/production/kflux-prd-rh03/kustomization.yaml
  components/kyverno/production/kflux-prd-rh03/kyverno-helm-generator.yaml
  components/kyverno/production/kflux-prd-rh03/kyverno-helm-values.yaml
  components/kyverno/production/kflux-rhel-p01/kustomization.yaml
  components/kyverno/production/kflux-rhel-p01/kyverno-helm-generator.yaml
  components/kyverno/production/kflux-rhel-p01/kyverno-helm-values.yaml
  components/kyverno/production/pentest-p01/kustomization.yaml
  components/kyverno/production/pentest-p01/kyverno-helm-generator.yaml
  components/kyverno/production/pentest-p01/kyverno-helm-values.yaml
  components/kyverno/production/stone-prd-rh01/kustomization.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-values.yaml
  components/kyverno/production/stone-prod-p01/kustomization.yaml
  components/kyverno/production/stone-prod-p01/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prod-p01/kyverno-helm-values.yaml
  components/kyverno/production/stone-prod-p02/kustomization.yaml
  components/kyverno/production/stone-prod-p02/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prod-p02/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: bump to v1.15.2 in development overlay
  components/kyverno/development/kustomization.yaml
  components/kyverno/development/kyverno-helm-generator.yaml
  components/kyverno/development/kyverno-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add cluster id to the loki stream label
  components/vector-kubearchive-log-collector/development/cluster-id-sync-hook.yaml
  components/vector-kubearchive-log-collector/development/kustomization.yaml
  components/vector-kubearchive-log-collector/development/vector-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add kyverno grafana dashboard
  components/monitoring/grafana/base/dashboards/kustomization.yaml
  components/monitoring/grafana/base/dashboards/kyverno/dashboard.yaml
  components/monitoring/grafana/base/dashboards/kyverno/kustomization.yaml
  components/monitoring/grafana/base/dashboards/kyverno/kyverno.json
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(KFLUXVNGD-481): Revert change to trust-manager
  components/trust-manager/base/argocd-permissions.yaml
  components/trust-manager/base/kustomization.yaml
  components/trust-manager/development/kustomization.yaml
  components/trust-manager/staging/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove Kubesaw from CI jobs
  argo-cd-apps/base/host/optional/infra-deployments/dev-sso/dev-sso.yaml
  argo-cd-apps/base/host/optional/infra-deployments/dev-sso/kustomization.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  components/dev-sso/keycloak-realm.yaml
  components/dev-sso/keycloak.yaml
  components/dev-sso/kustomization.yaml
  components/dev-sso/operatorgroup.yaml
  components/dev-sso/subscription.yaml
  hack/bootstrap-cluster.sh
  hack/preview.sh
  hack/sandbox-development-mode.sh
  hack/sandbox-e2e-mode.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

use batch job to update cluster id
  components/vector-kubearchive-log-collector/development/cluster-id-configmap.yaml
  components/vector-kubearchive-log-collector/development/cluster-id-sync-hook.yaml
  components/vector-kubearchive-log-collector/development/cluster-id-update-job.yaml
  components/vector-kubearchive-log-collector/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

move cluster id job to the base
  components/vector-kubearchive-log-collector/base/cluster-id-configmap.yaml
  components/vector-kubearchive-log-collector/base/cluster-id-rbac.yaml
  components/vector-kubearchive-log-collector/base/cluster-id-update-job.yaml
  components/vector-kubearchive-log-collector/base/kustomization.yaml
  components/vector-kubearchive-log-collector/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

remove unneccessary cm template
  components/vector-kubearchive-log-collector/base/cluster-id-configmap.yaml
  components/vector-kubearchive-log-collector/base/cluster-id-update-job.yaml
  components/vector-kubearchive-log-collector/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add cluster id to the stream label
  components/vector-kubearchive-log-collector/production/kflux-ocp-p01/vector-helm-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-rhel-p01/vector-helm-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prod-p02/vector-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/vector-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/vector-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix some linter errors
  components/vector-kubearchive-log-collector/base/cluster-id-update-job.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove Kubesaw from CI jobs (#7953)
  argo-cd-apps/base/host/optional/infra-deployments/dev-sso/dev-sso.yaml
  argo-cd-apps/base/host/optional/infra-deployments/dev-sso/kustomization.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  components/dev-sso/keycloak-realm.yaml
  components/dev-sso/keycloak.yaml
  components/dev-sso/kustomization.yaml
  components/dev-sso/operatorgroup.yaml
  components/dev-sso/subscription.yaml
  hack/bootstrap-cluster.sh
  hack/preview.sh
  hack/sandbox-development-mode.sh
  hack/sandbox-e2e-mode.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove Keycloak component
  argo-cd-apps/base/keycloak/keycloak.yaml
  argo-cd-apps/base/keycloak/kustomization.yaml
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  argo-cd-apps/overlays/staging-downstream/kustomization.yaml
  components/keycloak/README.md
  components/keycloak/base/configure-keycloak.yaml
  components/keycloak/base/konflux-workspace-admins/kustomization.yaml
  components/keycloak/base/konflux-workspace-admins/rbac.yaml
  components/keycloak/base/kustomization.yaml
  components/keycloak/base/namespace.yaml
  components/keycloak/base/rhsso-operator.yaml
  components/keycloak/development/kustomization.yaml
  components/keycloak/development/reduce-replicas.yaml
  components/keycloak/development/set-ocp-idp.yaml
  components/keycloak/development/set-redirect-uri.yaml
  components/keycloak/production/kflux-ocp-p01/kustomization.yaml
  components/keycloak/production/kflux-ocp-p01/set-ocp-idp.yaml
  components/keycloak/production/kflux-ocp-p01/set-redirect-uri.yaml
  components/keycloak/production/stone-prod-p01/kustomization.yaml
  components/keycloak/production/stone-prod-p01/set-ocp-idp.yaml
  components/keycloak/production/stone-prod-p01/set-redirect-uri.yaml
  components/keycloak/production/stone-prod-p02/kustomization.yaml
  components/keycloak/production/stone-prod-p02/set-ocp-idp.yaml
  components/keycloak/production/stone-prod-p02/set-redirect-uri.yaml
  components/keycloak/staging/stone-stage-p01/kustomization.yaml
  components/keycloak/staging/stone-stage-p01/set-ocp-idp.yaml
  components/keycloak/staging/stone-stage-p01/set-redirect-uri.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add cluster_id to vector remap to fix the issue with failed template
  components/vector-kubearchive-log-collector/development/vector-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(KFLUXVNGD-481): Revert change to trust-manager (#8350)
  components/trust-manager/base/argocd-permissions.yaml
  components/trust-manager/base/kustomization.yaml
  components/trust-manager/development/kustomization.yaml
  components/trust-manager/staging/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix cluster_id_mapping
  components/vector-kubearchive-log-collector/development/vector-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests
