Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Remove the memory limit
  components/monitoring/prometheus/base/observability-operator/observability-operator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove the memory limit (#6058)
  components/monitoring/prometheus/base/observability-operator/observability-operator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix-up(PVO11Y-4652): Export missing etcd metrics (#6042)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Export total running pipelinerun count (#5927)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote release-service from staging to production
  components/release/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

PVO11Y-4717 Increase the limit to 4Gi
  components/monitoring/prometheus/base/observability-operator/observability-operator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote release-service from staging to production (#6061)
  components/release/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update stone-prod-p02's MPC w/ capacity checking
  components/multi-platform-controller/production-downstream/stone-prod-p02/external-secrets.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

PVO11Y-4717 Increase the limit to 4Gi (#6064)
  components/monitoring/prometheus/base/observability-operator/observability-operator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Cluster Policy to update namespaces with labels
  components/cost-management/policies/update_namespace_labels.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add chainsaw tests
  components/cost-management/policies/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/cost-management/policies/.chainsaw-test/chainsaw-test.yaml
  components/cost-management/policies/.chainsaw-test/resources/expected-namespace-matching.yaml
  components/cost-management/policies/.chainsaw-test/resources/namespace-matching.yaml
  components/cost-management/policies/.chainsaw-test/resources/namespace-nonmatching.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add Cluster role for kyverno
  components/cost-management/policies/kustomization.yaml
  components/cost-management/policies/kyverno_rbac.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

actions: run chainsaw tests concurrently
  .github/workflows/chainsaw-tests.yaml
Due: none

Update MintMaker owners (#6057)
  components/mintmaker/OWNERS
Due: none

Update stone-prod-p02's MPC w/ capacity checking (#6029)
  components/multi-platform-controller/production-downstream/stone-prod-p02/external-secrets.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

actions: run chainsaw tests concurrently (#6067)
  .github/workflows/chainsaw-tests.yaml
Due: none

Add support for Tekton Results multipart logs
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
  components/vector-tekton-logs-collector/development/vector-helm-values.yaml
  components/vector-tekton-logs-collector/staging/vector-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add policy to create appstudio-pipeline rolebinding
  components/konflux-ci/policies/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-test.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-appstudio-pipeline-clusterrole.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-existing-rolebinding.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-namespace-konfluxcidev.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/expected-rolebinding.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.kyverno-test/kyverno-test.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-rolebinding-appstudio-runner.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.kyverno-test/resources/labeled-namespace-konflux.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/bootstrap-tenant-namespace-clusterpolicy.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/kustomization.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/kyverno_rbac.yaml
  components/konflux-ci/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix KubeArchive metrics collection
  components/kubearchive/base/monitoring-servicemonitor.yaml
  components/kubearchive/base/otel-collector-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add policy to create appstudio-pipeline rolebinding (#6062)
  components/konflux-ci/policies/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-test.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-appstudio-pipeline-clusterrole.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-existing-rolebinding.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-namespace-konfluxcidev.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/expected-rolebinding.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.kyverno-test/kyverno-test.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-rolebinding-appstudio-runner.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/.kyverno-test/resources/labeled-namespace-konflux.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/bootstrap-tenant-namespace-clusterpolicy.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/kustomization.yaml
  components/konflux-ci/policies/bootstrap-tenant-namespace/kyverno_rbac.yaml
  components/konflux-ci/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add support for Tekton Results multipart logs (#6074)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
  components/vector-tekton-logs-collector/development/vector-helm-values.yaml
  components/vector-tekton-logs-collector/staging/vector-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

use ubuntu-latest instead of ubuntu-20.04
  .github/workflows/chainsaw-tests.yaml
Due: none

use ubuntu-latest instead of ubuntu-20.04 (#6078)
  .github/workflows/chainsaw-tests.yaml
Due: none

move create pipeline-runner sa policy to konflux-rbac
  components/konflux-ci/staging/kustomization.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-test.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-appstudio-pipeline-clusterrole.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-existing-rolebinding.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-namespace-konfluxcidev.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/expected-rolebinding.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.kyverno-test/kyverno-test.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-rolebinding-appstudio-runner.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.kyverno-test/resources/labeled-namespace-konflux.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/bootstrap-tenant-namespace-clusterpolicy.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/kustomization.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/kyverno_rbac.yaml
  components/konflux-rbac/staging/stone-stage-p01/kustomization.yaml
  components/konflux-rbac/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

move create pipeline-runner sa policy to konflux-rbac (#6076)
  components/konflux-ci/staging/kustomization.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-test.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-appstudio-pipeline-clusterrole.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-existing-rolebinding.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-namespace-konfluxcidev.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/expected-rolebinding.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.kyverno-test/kyverno-test.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-rolebinding-appstudio-runner.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.kyverno-test/resources/labeled-namespace-konflux.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/bootstrap-tenant-namespace-clusterpolicy.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/kustomization.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/kyverno_rbac.yaml
  components/konflux-rbac/staging/stone-stage-p01/kustomization.yaml
  components/konflux-rbac/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add OWNERS for components/konflux-rbac
  components/konflux-rbac/OWNERS
Due: none

promote pipeline-runner sa policy to prod-p02
  components/konflux-rbac/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add OWNERS for components/konflux-rbac (#6079)
  components/konflux-rbac/OWNERS
Due: none
