Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

promote bootstrap-tenant-namespace ClusterPolicy to prod (#6372)
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-test.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-existing-resources.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/expected-resources.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.kyverno-test/kyverno-test.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-configmap_trusted-ca.yml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-networkpolicy_allow-from-console-namespaces.yml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-networkpolicy_allow-from-olm-namespaces.yml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-networkpolicy_allow-from-openshift-ingress.yml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-networkpolicy_allow-from-openshift-monitoring.yml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-networkpolicy_allow-same-namespace.yml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/bootstrap-tenant-namespace-clusterpolicy.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/kyverno_rbac.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: rollout v1.14.1 to staging
  components/kyverno/staging/stone-stage-p01/kustomization.yaml
  components/kyverno/staging/stone-stage-p01/kyverno-helm-generator.yaml
  components/kyverno/staging/stone-stg-rh01/kustomization.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-generator.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: set podDisruptionBudgets for controllers
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kube-linter: disable liveness port checks
  .kube-linter.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

ci: run kube-linter checks on push
  .github/workflows/kube-linter.yaml
Due: none

ci: bump kube-linter to v0.7.2
  .github/workflows/kube-linter.yaml
Due: none

add list RoleBindings to maintainers and contributors in staging (#6373)
  components/konflux-rbac/staging/base/konflux-contributor-user-actions.yaml
  components/konflux-rbac/staging/base/konflux-maintainer-user-actions.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

dev: Increase Argo's application controller resource limits
  hack/deploy-argocd.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Bump kubelinter (#6389)
  .github/workflows/kube-linter.yaml
  .kube-linter.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Removing power-monitoring from all-clusters directory for Konflux
  argo-cd-apps/base/all-clusters/infra-deployments/kustomization.yaml
  argo-cd-apps/base/all-clusters/infra-deployments/power-monitoring/kustomization.yaml
  argo-cd-apps/base/all-clusters/infra-deployments/power-monitoring/power-monitoring.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  components/monitoring/grafana/base/dashboards/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Removing power-monitoring from all-clusters directory for Konflux (#6391)
  argo-cd-apps/base/all-clusters/infra-deployments/kustomization.yaml
  argo-cd-apps/base/all-clusters/infra-deployments/power-monitoring/kustomization.yaml
  argo-cd-apps/base/all-clusters/infra-deployments/power-monitoring/power-monitoring.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  components/monitoring/grafana/base/dashboards/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update KubeArchive to fix an error
  components/kubearchive/base/kubearchive-config.yaml
  components/kubearchive/base/kubearchive-maintainer.yaml
  components/kubearchive/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase Kyverno UpdateRequests threshold
  components/kyverno/development/kyverno-helm-values.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase Kyverno UpdateRequests threshold (#6394)
  components/kyverno/development/kyverno-helm-values.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

improve generate-tenant-resources-admission's tests
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-appstudio-pipeline-clusterrole.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "test correct default pipelines security group in kflux-rh02 (#6353)" (#6357)
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/resources/kustomization.yaml
  components/pipeline-service/production/kflux-prd-rh02/resources/temp-set-pipelines-default-scc.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

dev: Increase Argo's application controller resource limits (#6390)
  hack/deploy-argocd.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

disable non required kyverno Jobs
  components/kyverno/development/kustomization.yaml
  components/kyverno/development/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stage-p01/kustomization.yaml
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kustomization.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update KubeArchive to fix an error (#6393)
  components/kubearchive/base/kubearchive-config.yaml
  components/kubearchive/base/kubearchive-maintainer.yaml
  components/kubearchive/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Reset `ec-task-policy` to floating tag.
  components/enterprise-contract/ecp.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update rh02 prod cluster with more recent MPC with improved cleanup task
  components/multi-platform-controller/production/kflux-prd-rh02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update rh02 prod cluster with more recent MPC with improved cleanup task (#6403)
  components/multi-platform-controller/production/kflux-prd-rh02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Cluster Policy to update namespaces with labels
  components/cost-management/base/kustomization.yaml
  components/cost-management/policies/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/cost-management/policies/.chainsaw-test/chainsaw-test.yaml
  components/cost-management/policies/.chainsaw-test/resources/expected-pod-matching.yaml
  components/cost-management/policies/.chainsaw-test/resources/namespace-cost-center.yaml
  components/cost-management/policies/.chainsaw-test/resources/namespace-no-cost-center.yaml
  components/cost-management/policies/.chainsaw-test/resources/namespace-nonmatching.yaml
  components/cost-management/policies/.chainsaw-test/resources/pod.yaml
  components/cost-management/policies/kustomization.yaml
  components/cost-management/policies/kyverno_rbac.yaml
  components/cost-management/policies/update_namespace_labels.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

etcd-shield: remove cluster-monitoring label
  components/etcd-shield/base/ns.yaml
  components/etcd-shield/production/base/ns.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Reset `ec-task-policy` to floating tag. (#6400)
  components/enterprise-contract/ecp.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Disable Tekton Pruner
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

perfscale/grafana: Extending the Grafana dashboard(controllers-overview) to include data from more controllers
  components/monitoring/grafana/base/dashboards/performance/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

etcd-shield: decrease severity level to warning
  components/etcd-shield/base/etcd_shield_alerts.yaml
  components/etcd-shield/production/base/etcd_shield_alerts.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

etcd-shield: decrease severity level to warning (#6410)
  components/etcd-shield/base/etcd_shield_alerts.yaml
  components/etcd-shield/production/base/etcd_shield_alerts.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

mintmaker update
  components/mintmaker/staging/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
