Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

KONFLUX-8860: Swapping PPC Nodes for RHEL Environment (#7442)
  components/multi-platform-controller/production-downstream/kflux-rhel-p01/external-secrets.yaml
  components/multi-platform-controller/production-downstream/kflux-rhel-p01/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-1948: Add GPU Image and GPU Instance for RH03 Environment (#7462)
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-1956: Deploy Kueue on rh02 and rh03 (#7441)
  argo-cd-apps/base/member/infra-deployments/kueue/kueue.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  components/kueue/production/base/kueue/kueue.yaml
  components/kueue/production/base/kueue/kustomization.yaml
  components/kueue/production/base/kueue/operator.yaml
  components/kueue/production/base/kustomization.yaml
  components/kueue/production/base/queue-config/kustomization.yaml
  components/kueue/production/base/queue-config/mintmaker-local-queue.yaml
  components/kueue/production/base/queue-config/workload-priority-class.yaml
  components/kueue/production/base/tekton-kueue-monitoring/kueue-prometheus-alerts.yaml
  components/kueue/production/base/tekton-kueue-monitoring/kustomization.yaml
  components/kueue/production/base/tekton-kueue-monitoring/monitoring.yaml
  components/kueue/production/base/tekton-kueue/config.yaml
  components/kueue/production/base/tekton-kueue/controller-patch.yaml
  components/kueue/production/base/tekton-kueue/kustomization.yaml
  components/kueue/production/base/tekton-kueue/webhook-patch.yaml
  components/kueue/production/empty-base/.git-empty
  components/kueue/production/kflux-prd-rh02/kustomization.yaml
  components/kueue/production/kflux-prd-rh02/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-prd-rh02/queue-config/kustomization.yaml
  components/kueue/production/kflux-prd-rh03/kustomization.yaml
  components/kueue/production/kflux-prd-rh03/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-prd-rh03/queue-config/kustomization.yaml
  hack/kueue-vm-quotas/generate-queue-config.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update cluster queue resource for rh03
  components/kueue/production/kflux-prd-rh03/queue-config/cluster-queue.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update cluster queue resource for rh03 (#7465)
  components/kueue/production/kflux-prd-rh03/queue-config/cluster-queue.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kueue: skip dry run on missing resource for rh02/3
  components/kueue/production/kflux-prd-rh02/kustomization.yaml
  components/kueue/production/kflux-prd-rh03/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kueue: skip dry run on missing resource for rh02/3 (#7466)
  components/kueue/production/kflux-prd-rh02/kustomization.yaml
  components/kueue/production/kflux-prd-rh03/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

member-operator: split config for each cluster (#7420)
  argo-cd-apps/base/toolchain-member/toolchain-member-operator.yaml
  components/sandbox/toolchain-member-operator/production/base/kustomization.yaml
  components/sandbox/toolchain-member-operator/production/base/patch_resources.yaml
  components/sandbox/toolchain-member-operator/production/base/sandbox-sre-member.yaml
  components/sandbox/toolchain-member-operator/production/kflux-ocp-p01/kustomization.yaml
  components/sandbox/toolchain-member-operator/production/kflux-osp-p01/kustomization.yaml
  components/sandbox/toolchain-member-operator/production/kflux-prd-es01/kustomization.yaml
  components/sandbox/toolchain-member-operator/production/kflux-prd-rh02/kustomization.yaml
  components/sandbox/toolchain-member-operator/production/kflux-prd-rh03/kustomization.yaml
  components/sandbox/toolchain-member-operator/production/kflux-rhel-p01/kustomization.yaml
  components/sandbox/toolchain-member-operator/production/stone-prd-rh01/kustomization.yaml
  components/sandbox/toolchain-member-operator/production/stone-prod-p01/kustomization.yaml
  components/sandbox/toolchain-member-operator/production/stone-prod-p02/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/base/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/base/patch_resources.yaml
  components/sandbox/toolchain-member-operator/staging/kflux-stg-es01/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/stone-stage-p01/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(SPRE-1819,SPRE-1626) New metrics
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

SRVKP-8255: Patch PAC images on stage
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

SRVKP-8255: Patch PAC images on stage (#7470)
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: install on stone-prod-p01
  argo-cd-apps/base/member/infra-deployments/kubearchive/kubearchive.yaml
  components/konflux-ui/production/stone-prod-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p01/kustomization.yaml
  components/policies/production/stone-prod-p01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: do not deploy a DB on staging
  components/kubearchive/staging/stone-stg-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXVNGD-427: Vault access for vanguard tenant
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

SRVKP-8255: Run one PAC watcher replica
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

SRVKP-8255: Run one PAC watcher replica (#7472)
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

SRVKP-8255: Patch PAC images on stage (#7473)
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

konflux-ci: add gangway-token & link to SA
  components/cluster-secret-store/base/kustomization.yaml
  components/cluster-secret-store/base/testplatform-vault-secret-store.yaml
  components/konflux-ci/base/external-secrets/gangway-token.yaml
  components/konflux-ci/base/external-secrets/kustomization.yaml
  components/konflux-ci/base/serviceaccount.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

stone-stage-p01: remove member-operator subscription
  components/sandbox/toolchain-member-operator/staging/stone-stage-p01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Mintmaker redis memory usage added
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

improve the banner readme (#7428)
  components/konflux-info/README.md
  components/konflux-info/banner-schema.json
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

stone-stage-p01: remove member-operator subscription (#7432)
  components/sandbox/toolchain-member-operator/staging/stone-stage-p01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: do not deploy a DB on staging (#7451)
  components/kubearchive/staging/stone-stg-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

remove host-operator config from stage-p01 (#7431)
  components/sandbox/toolchain-host-operator/staging/stone-stage-p01/kustomization.yaml
  components/sandbox/toolchain-host-operator/staging/stone-stage-p01/network-policy.yaml
  components/sandbox/toolchain-host-operator/staging/stone-stage-p01/ns.yaml
  components/sandbox/toolchain-host-operator/staging/stone-stage-p01/space-provisioner-configs.yaml
  components/sandbox/toolchain-host-operator/staging/stone-stage-p01/toolchainconfig.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive disable leader election for kflux-prd-rh03
  components/kubearchive/production/kflux-prd-rh03/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(): update internal-service OWNERS for new members
  components/internal-services/OWNERS
Due: none

Eventing: use resync fix image
  components/knative-eventing/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
