Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

Make argo ignore the secret updates
  components/kubearchive/staging/base/external-secret.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update PAC image on rh01
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/resources/kustomization.yaml
  components/pipeline-service/production/stone-prd-rh01/resources/override-pac-images.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Enable queuing for all pipelineruns on rh01
  components/kueue/production/stone-prd-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update PAC and enable queuing of all PLRs on RH01 (#7618)
  components/kueue/production/stone-prd-rh01/kustomization.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/resources/kustomization.yaml
  components/pipeline-service/production/stone-prd-rh01/resources/override-pac-images.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

override pac images to v0.37.0 in production
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-osp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/resources/kustomization.yaml
  components/pipeline-service/production/kflux-prd-rh02/resources/override-missing-operator-proxy-image.yaml
  components/pipeline-service/production/kflux-prd-rh02/resources/override-pac-images.yaml
  components/pipeline-service/production/kflux-prd-rh03/resources/kustomization.yaml
  components/pipeline-service/production/kflux-prd-rh03/resources/override-pac-images.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/resources/kustomization.yaml
  components/pipeline-service/production/stone-prd-rh01/resources/override-pac-images.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update pipelines index image in development and staging
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

mintmaker: enable profiling in stone-prod-p02
  components/mintmaker/production/stone-prod-p02/kustomization.yaml
  components/mintmaker/production/stone-prod-p02/manager_patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

mintmaker: enable profiling in stone-prod-p02 (#7622)
  components/mintmaker/production/stone-prod-p02/kustomization.yaml
  components/mintmaker/production/stone-prod-p02/manager_patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: upgrade staging to v1.6.0
  components/kubearchive/development/kustomization.yaml
  components/kubearchive/development/release-vacuum.yaml
  components/kubearchive/development/vacuum.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Make argo ignore the secret updates (#7616)
  components/kubearchive/staging/base/external-secret.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Delete the original secret
  components/kubearchive/staging/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

override pac images to v0.37.0 in production (#7619)
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-osp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/resources/kustomization.yaml
  components/pipeline-service/production/kflux-prd-rh02/resources/override-missing-operator-proxy-image.yaml
  components/pipeline-service/production/kflux-prd-rh02/resources/override-pac-images.yaml
  components/pipeline-service/production/kflux-prd-rh03/resources/kustomization.yaml
  components/pipeline-service/production/kflux-prd-rh03/resources/override-pac-images.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/resources/kustomization.yaml
  components/pipeline-service/production/stone-prd-rh01/resources/override-pac-images.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Delete the original secret (#7626)
  components/kubearchive/staging/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update pipelines index image in development and staging (#7620)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

give konflux-admins rights on tektoninstallersets
  components/authentication/base/konflux-admins.yaml
Due: none

change in stage/development
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add custom-console-url-namespace in prod
  components/pipeline-service/production/base/update-tekton-config-pac.yaml
  components/pipeline-service/production/kflux-ocp-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/kflux-osp-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/kflux-prd-rh02/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/kflux-prd-rh03/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/kflux-rhel-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/stone-prod-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/stone-prod-p02/resources/update-tekton-config-pac.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add generated manifests
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-osp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

give konflux-admins rights on tektoninstallersets (#7631)
  components/authentication/base/konflux-admins.yaml
Due: none

KFLUXINFRA-2089: Increase log level for tekton-kueue webook
  components/kueue/production/base/tekton-kueue/webhook-patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2089: Increase log level for tekton-kueue webook (#7638)
  components/kueue/production/base/tekton-kueue/webhook-patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: disable leader on OCP P01
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2066: Enable Kueue of all PLRs in p02
  components/kueue/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2066: Enable Kueue of all PLRs in p02 (#7640)
  components/kueue/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: upgrade staging to v1.6.0 (#7624)
  components/kubearchive/development/kustomization.yaml
  components/kubearchive/development/release-vacuum.yaml
  components/kubearchive/development/vacuum.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Refactor nginx config in prod
  components/konflux-ui/production/base/proxy/auth.conf
  components/konflux-ui/production/base/proxy/kubearchive.conf
  components/konflux-ui/production/base/proxy/kustomization.yaml
  components/konflux-ui/production/base/proxy/nginx.conf
  components/konflux-ui/production/base/proxy/proxy.yaml
  components/konflux-ui/production/base/proxy/tekton-results-workspaces.conf
  components/konflux-ui/production/base/proxy/tekton-results.conf
  components/konflux-ui/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-osp-p01/kubearchive.conf
  components/konflux-ui/production/kflux-osp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh02/kubearchive.conf
  components/konflux-ui/production/kflux-prd-rh02/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh03/kustomization.yaml
  components/konflux-ui/production/kflux-rhel-p01/kustomization.yaml
  components/konflux-ui/production/stone-prd-rh01/kubearchive.conf
  components/konflux-ui/production/stone-prd-rh01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p01/kubearchive.conf
  components/konflux-ui/production/stone-prod-p01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add test suite for tekton-kueue CEL expressions
  .github/workflows/test-tekton-kueue-config.yaml
  components/kueue/development/tekton-kueue/config.yaml
  hack/test-tekton-kueue-config.py
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2066: Enable Kueue of all PLRs in rhel, osp, p01
  components/kueue/production/kflux-osp-p01/kustomization.yaml
  components/kueue/production/kflux-rhel-p01/kustomization.yaml
  components/kueue/production/stone-prod-p01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

TEST
  hack/preview.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
