Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Add cost-management prod external secret (#5663)
  components/cost-management/base/kustomization.yaml
  components/cost-management/production/cost-mangement-external-secret-patch.yaml
  components/cost-management/production/kflux-ocp-p01/cost-management-config-source-patch.yaml
  components/cost-management/production/kflux-prd-es01/cost-management-config-source-patch.yaml
  components/cost-management/production/kustomization.yaml
  components/cost-management/production/stone-prd-host1/cost-management-config-source-patch.yaml
  components/cost-management/production/stone-prd-rh01/cost-management-config-source-patch.yaml
  components/cost-management/production/stone-prd-rh02/cost-management-config-source-patch.yaml
  components/cost-management/production/stone-prod-p01/cost-management-config-source-patch.yaml
  components/cost-management/production/stone-prod-p02/cost-management-config-source-patch.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update the paths to reflect the secrets in stage and prod for cost-management.
  components/cost-management/production/base/cost-mangement-external-secret-patch.yaml
  components/cost-management/production/base/kustomization.yaml
  components/cost-management/production/kflux-ocp-p01/kustomization.yaml
  components/cost-management/production/kflux-prd-es01/kustomization.yaml
  components/cost-management/production/stone-prd-host1/kustomization.yaml
  components/cost-management/production/stone-prd-rh01/kustomization.yaml
  components/cost-management/production/stone-prd-rh02/kustomization.yaml
  components/cost-management/production/stone-prod-p01/kustomization.yaml
  components/cost-management/production/stone-prod-p02/kustomization.yaml
  components/cost-management/staging/base/cost-mangement-external-secret-patch.yaml
  components/cost-management/staging/base/kustomization.yaml
  components/cost-management/staging/kflux-stg-es01/kustomization.yaml
  components/cost-management/staging/stone-stage-p01/kustomization.yaml
  components/cost-management/staging/stone-stg-host/kustomization.yaml
  components/cost-management/staging/stone-stg-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update COO channel to stable
  components/monitoring/prometheus/base/observability-operator/observability-operator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Optimized CPU and RAM for the ppc nodes in prod-p02
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Optimized CPU and RAM for the ppc nodes in prod-p02 (#5667)
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update COO channel to stable (#5666)
  components/monitoring/prometheus/base/observability-operator/observability-operator.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Bump mintmaker-renovate-image
  components/mintmaker/staging/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat: Add debug log level to sealights containers te troubleshoot failures
  components/release/development/sealights-token-patch.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: update owners in release service
  components/release/OWNERS
Due: none

feat: Add debug log level to sealights containers te troubleshoot failures (#5672)
  components/release/development/sealights-token-patch.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Deploy tenants RBAC to all the clusters
  argo-cd-apps/base/member/infra-deployments/konflux-rbac/konflux-rbac.yaml
  components/konflux-rbac/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-rbac/production/stone-prd-rh01/kustomization.yaml
  components/konflux-rbac/production/stone-prod-p01/kustomization.yaml
  components/konflux-rbac/production/stone-prod-p02/kustomization.yaml
  components/konflux-rbac/staging/stone-stage-p01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

deploy ns-lister to stone-prod-p01 (#5661)
  argo-cd-apps/base/member/infra-deployments/namespace-lister/namespace-lister.yaml
  components/namespace-lister/production/stone-prod-p01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

[OCP] increase linux-ppc64le max-instances
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: update owners in release service (#5674)
  components/release/OWNERS
Due: none

[DO-NOT-MERGE] test CI
  datefile
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

deploy konflux-ui to stone-prod-p01 (#5660)
  argo-cd-apps/base/member/infra-deployments/konflux-ui/konflux-ui.yaml
  components/konflux-ui/production/stone-prod-p01/add-service-certs-patch.yaml
  components/konflux-ui/production/stone-prod-p01/configure-oauth-proxy-secret.yaml
  components/konflux-ui/production/stone-prod-p01/dex-config.yaml
  components/konflux-ui/production/stone-prod-p01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/stone-prod-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prod-p01/set-hostname.yaml
  components/konflux-ui/production/stone-prod-p01/set-redirect-uri.yaml
  components/konflux-ui/production/stone-prod-p01/set-replicas-patch.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update the paths to reflect the secrets in stage and prod for cost-management. (#5664)
  components/cost-management/production/base/cost-mangement-external-secret-patch.yaml
  components/cost-management/production/base/kustomization.yaml
  components/cost-management/production/kflux-ocp-p01/kustomization.yaml
  components/cost-management/production/kflux-prd-es01/kustomization.yaml
  components/cost-management/production/stone-prd-host1/kustomization.yaml
  components/cost-management/production/stone-prd-rh01/kustomization.yaml
  components/cost-management/production/stone-prd-rh02/kustomization.yaml
  components/cost-management/production/stone-prod-p01/kustomization.yaml
  components/cost-management/production/stone-prod-p02/kustomization.yaml
  components/cost-management/staging/base/cost-mangement-external-secret-patch.yaml
  components/cost-management/staging/base/kustomization.yaml
  components/cost-management/staging/kflux-stg-es01/kustomization.yaml
  components/cost-management/staging/stone-stage-p01/kustomization.yaml
  components/cost-management/staging/stone-stg-host/kustomization.yaml
  components/cost-management/staging/stone-stg-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Enable konflux-ui on internal-production clusters
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

bump namespace lister to latest version in staging
  components/namespace-lister/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Deploy tenants RBAC to all the clusters (#5673)
  argo-cd-apps/base/member/infra-deployments/konflux-rbac/konflux-rbac.yaml
  components/konflux-rbac/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-rbac/production/stone-prd-rh01/kustomization.yaml
  components/konflux-rbac/production/stone-prod-p01/kustomization.yaml
  components/konflux-rbac/production/stone-prod-p02/kustomization.yaml
  components/konflux-rbac/staging/stone-stage-p01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add AccessCache panels to grafana dashboard
  components/monitoring/grafana/base/dashboards/namespace-lister/namespace-lister-metrics.json
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add costmanagement-metrics-operator ns to cluster-secret-store
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

bump namespace lister to latest version in staging (#5679)
  components/namespace-lister/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "[OCP] update IBM tags (#5658)"
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add costmanagement-metrics-operator ns to cluster-secret-store (#5681)
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Allow MPC sample multi-arch repo on staging
  components/repository-validator/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

konflux-ui: generate oauth2 secrets on stone-stage-p01
  components/konflux-ui/staging/stone-stage-p01/configure-oauth-proxy-secret.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Allow MPC sample multi-arch repo on staging (#5683)
  components/repository-validator/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests
