Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

adding signalfx to tracing component
  components/tracing/otel-collector/base/external-secrets/kustomization.yaml
  components/tracing/otel-collector/base/external-secrets/signalfx-api-key.yaml
  components/tracing/otel-collector/development/patch-delete-external-secrets.yaml
  components/tracing/otel-collector/production/kustomization.yaml
  components/tracing/otel-collector/production/otel-collector-helm-values.yaml
  components/tracing/otel-collector/production/signalfx-api-key-secret-path.yaml
  components/tracing/otel-collector/staging/kustomization.yaml
  components/tracing/otel-collector/staging/otel-collector-helm-values.yaml
  components/tracing/otel-collector/staging/signalfx-api-key-secret-path.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

adding signalfx exporters to otel collector config
  components/tracing/otel-collector/development/otel-collector-helm-values.yaml
  components/tracing/otel-collector/production/otel-collector-helm-values.yaml
  components/tracing/otel-collector/staging/otel-collector-helm-values.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update OSP version on stone-prd-m01
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-m01/resources/kustomization.yaml
  components/pipeline-service/production/stone-prd-m01/resources/osp-nightly-version.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

replacing otel-collector image
  argo-cd-apps/base/member/infra-deployments/tracing-workload-otel-collector/tracing-workload-otel-collector.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

wrapping up config changes
  components/tracing/otel-collector/base/external-secrets/honeycomb-api-key.yaml
  components/tracing/otel-collector/base/external-secrets/kustomization.yaml
  components/tracing/otel-collector/development/otel-collector-helm-values.yaml
  components/tracing/otel-collector/development/patch-delete-external-secrets.yaml
  components/tracing/otel-collector/production/honeycomb-api-key-secret-path.yaml
  components/tracing/otel-collector/production/kustomization.yaml
  components/tracing/otel-collector/production/otel-collector-helm-values.yaml
  components/tracing/otel-collector/staging/honeycomb-api-key-secret-path.yaml
  components/tracing/otel-collector/staging/kustomization.yaml
  components/tracing/otel-collector/staging/otel-collector-helm-values.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KONFLUX-4508): Run more Pipelines Controller replicas across more zones (#4590)
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

overriding to the correct container image tag
  components/tracing/otel-collector/development/otel-collector-helm-values.yaml
  components/tracing/otel-collector/production/otel-collector-helm-values.yaml
  components/tracing/otel-collector/staging/otel-collector-helm-values.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase tekton results memory
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase tekton results memory (#4606)
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

overriding container image command
  components/tracing/otel-collector/development/otel-collector-helm-values.yaml
  components/tracing/otel-collector/production/otel-collector-helm-values.yaml
  components/tracing/otel-collector/staging/otel-collector-helm-values.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add workspaces.konflux-ci.dev to view-appstudio ClusterRole
  components/authentication/base/everyone-can-view.yaml
Due: none

Sending traces to SignalFX instead of Honeycomb (#4603)
  argo-cd-apps/base/member/infra-deployments/tracing-workload-otel-collector/tracing-workload-otel-collector.yaml
  components/tracing/otel-collector/base/external-secrets/kustomization.yaml
  components/tracing/otel-collector/base/external-secrets/signalfx-api-key.yaml
  components/tracing/otel-collector/development/otel-collector-helm-values.yaml
  components/tracing/otel-collector/development/patch-delete-external-secrets.yaml
  components/tracing/otel-collector/production/kustomization.yaml
  components/tracing/otel-collector/production/otel-collector-helm-values.yaml
  components/tracing/otel-collector/production/signalfx-api-key-secret-path.yaml
  components/tracing/otel-collector/staging/kustomization.yaml
  components/tracing/otel-collector/staging/otel-collector-helm-values.yaml
  components/tracing/otel-collector/staging/signalfx-api-key-secret-path.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add workspaces.konflux-ci.dev to view-appstudio ClusterRole (#4607)
  components/authentication/base/everyone-can-view.yaml
Due: none

Update MintMaker to use rpm-lockfile script v0.9.0
  components/mintmaker/production/base/manager_patches.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix SIGNALFX_API_KEY variable name mismatch
  components/tracing/otel-collector/production/otel-collector-helm-values.yaml
  components/tracing/otel-collector/staging/otel-collector-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix SIGNALFX_API_KEY variable name mismatch (#4609)
  components/tracing/otel-collector/production/otel-collector-helm-values.yaml
  components/tracing/otel-collector/staging/otel-collector-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Removing logging exporter from pipeline list
  components/tracing/otel-collector/production/otel-collector-helm-values.yaml
  components/tracing/otel-collector/staging/otel-collector-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KONFLUX-4508): Added graph about Tekton Pipelines controller leases distribution + some improvements to other Tekton related graphs (#4569)
  components/monitoring/grafana/base/dashboards/performance/kustomization.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Removing logging exporter from pipeline list (#4610)
  components/tracing/otel-collector/production/otel-collector-helm-values.yaml
  components/tracing/otel-collector/staging/otel-collector-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fixing env name from stage to prod in prod config
  components/tracing/otel-collector/production/otel-collector-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kubesaw: add network policy for in-namespace communication
  components/sandbox/toolchain-host-operator/production/stone-prod-p02/network-policy.yaml
  components/sandbox/toolchain-host-operator/staging/stone-stage-p01/network-policy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fixing env name from stage to prod in prod config (#4611)
  components/tracing/otel-collector/production/otel-collector-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update MintMaker to use rpm-lockfile script v0.9.0 (#4608)
  components/mintmaker/production/base/manager_patches.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore:Update MPC on stone-prd-m01
  components/multi-platform-controller/production/stone-prd-m01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Changing GPU Instance Type from g4dn.xlarge to g6.xlarge
  components/multi-platform-controller/production-downstream/host-config.yaml
  components/multi-platform-controller/production/common/host-config.yaml
  components/multi-platform-controller/staging-downstream/host-config.yaml
  components/multi-platform-controller/staging/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Changing GPU Instance Type from g4dn.xlarge to g6.xlarge (#4616)
  components/multi-platform-controller/production-downstream/host-config.yaml
  components/multi-platform-controller/production/common/host-config.yaml
  components/multi-platform-controller/staging-downstream/host-config.yaml
  components/multi-platform-controller/staging/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fixing ApplicationSet for the DaemonSet
  argo-cd-apps/base/member/infra-deployments/nvme-storage-configurator/kustomization.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Move cachi2 pipelines from tekton-ci to konflux-ci
  components/konflux-ci/base/repository.yaml
  components/tekton-ci/base/repository.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update OSP version on stone-prd-m01 (#4602)
  components/multi-platform-controller/production/stone-prd-m01/kustomization.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-m01/resources/kustomization.yaml
  components/pipeline-service/production/stone-prd-m01/resources/osp-nightly-version.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests
