Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

removing env
  components/konflux-ui/staging/base/proxy/proxy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

removing mountpath
  components/konflux-ui/staging/base/proxy/proxy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat: adding konflux UI whatson env variables (#8542)
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
  components/konflux-ui/staging/base/external-secret.yaml
  components/konflux-ui/staging/base/proxy/kustomization.yaml
  components/konflux-ui/staging/base/proxy/proxy.yaml
  components/konflux-ui/staging/base/proxy/watson-auth.conf
  components/konflux-ui/staging/base/proxy/watson.conf
  components/konflux-ui/staging/stone-stage-p01/kustomization.yaml
  components/konflux-ui/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

PVO11Y-5000 Stop deploying registry exporter to production clusters
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(SPRE-1918) Kueue metrics stage 2 (#9208)
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

PVO11Y-5000 Stop deploying registry exporter to production clusters (#9209)
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(SPRE-1918) Kueue production metrics (#9210)
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(KFLUXVNGD-527): Update Caching Squid namespace
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(KFLUXVNGD-527): Update Caching Squid namespace (#9211)
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(kite): update RBAC
  components/konflux-kite/base/rbac.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(KFLUXVNGD-527): Update squid component prod version
  components/squid/production/squid-helm-generator.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(KFLUXVNGD-527): Update squid component prod version (#9214)
  components/squid/production/squid-helm-generator.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(kite): update RBAC (#9212)
  components/konflux-kite/base/rbac.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Eventing: use manifests directly
  components/knative-eventing/base/eventing-v1.16.7.yaml
  components/knative-eventing/base/kustomization.yaml
  components/knative-eventing/production/base/eventing-v1.16.7.yaml
  components/knative-eventing/production/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KFLUXUI-859): add domain for konflux host
  components/konflux-info/production/kflux-ocp-p01/info.json
  components/konflux-info/production/kflux-osp-p01/info.json
  components/konflux-info/production/kflux-prd-rh02/info.json
  components/konflux-info/production/kflux-prd-rh03/info.json
  components/konflux-info/production/kflux-rhel-p01/info.json
  components/konflux-info/production/pentest-p01/info.json
  components/konflux-info/production/stone-prd-rh01/info.json
  components/konflux-info/production/stone-prod-p01/info.json
  components/konflux-info/production/stone-prod-p02/info.json
  components/konflux-info/staging/stone-stage-p01/info.json
  components/konflux-info/staging/stone-stg-rh01/info.json
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote integration-service from staging to production
  components/integration/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: update KubeArchive to v1.13.0 on dev
  components/kubearchive/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

upgrade pipelines deployment in production
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-osp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/pentest-p01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update external secret 'mtls-ca-validators' to API v1
  components/authentication/base/group-sync/external-secrets/mtls-ca-validators.yaml
Due: none

Update external secret 'mtls-ca-validators' to API v1 (#9226)
  components/authentication/base/group-sync/external-secrets/mtls-ca-validators.yaml
Due: none

staging: Remove runAsUser from render-runtime-config init container
  components/konflux-ui/staging/base/proxy/proxy.yaml
  components/konflux-ui/staging/stone-stage-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/staging/stone-stg-rh01/remove-run-as-user-proxy-patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

refresh of pulp
  components/pulp-access-controller/README.md
  components/pulp-access-controller/production/kustomization.yaml
  components/pulp-access-controller/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2591: Don't use default namespace in ArgoCD apps
  argo-cd-apps/base/all-clusters/infra-deployments/authentication/authentication.yaml
  argo-cd-apps/base/all-clusters/infra-deployments/cluster-secret-store/cluster-secret-store.yaml
  argo-cd-apps/base/backup/backup.yaml
  argo-cd-apps/base/member/infra-deployments/build-service/build-service.yaml
  argo-cd-apps/base/member/infra-deployments/build-templates/build-templates.yaml
  argo-cd-apps/base/member/infra-deployments/etcd-defrag/etcd-defrag.yaml
  argo-cd-apps/base/member/infra-deployments/image-controller/image-controller.yaml
  argo-cd-apps/base/member/infra-deployments/multi-platform-controller/multi-platform-controller.yaml
  argo-cd-apps/base/member/infra-deployments/nvme-storage-configurator/nvme-storage-configurator.yaml
  argo-cd-apps/base/member/infra-deployments/pipeline-service/pipeline-service.yaml
  argo-cd-apps/base/member/infra-deployments/proactive-scaler/proactive-scaler.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

upgrade pipelines deployment in production (#9225)
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-osp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/pentest-p01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: install v1.14 on dev
  components/kubearchive/development/kubearchive.yaml
  components/kubearchive/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: install 1.14 on production
  components/kubearchive/production/kflux-ocp-p01/kubearchive.yaml
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
  components/kubearchive/production/kflux-osp-p01/kubearchive.yaml
  components/kubearchive/production/kflux-osp-p01/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh02/kubearchive.yaml
  components/kubearchive/production/kflux-prd-rh02/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh03/kubearchive.yaml
  components/kubearchive/production/kflux-prd-rh03/kustomization.yaml
  components/kubearchive/production/kflux-rhel-p01/kubearchive.yaml
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
  components/kubearchive/production/pentest-p01/kubearchive.yaml
  components/kubearchive/production/pentest-p01/kustomization.yaml
  components/kubearchive/production/stone-prd-rh01/kubearchive.yaml
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p01/kubearchive.yaml
  components/kubearchive/production/stone-prod-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kubearchive.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

refresh of pulp (#9248)
  components/pulp-access-controller/README.md
  components/pulp-access-controller/production/kustomization.yaml
  components/pulp-access-controller/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
