Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

KubeArchive: add labels for histograms (#7176)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(KFLUXSPRT-4158): revert integration dev and stage to 5a79cbc
  components/integration/development/kustomization.yaml
  components/integration/staging/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

WIP
  configure-keycloak-openshift-oauth.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

WIP: configure kc oauth for dev/test clusters
  keycloak-oauth-config.yaml
  openshift-oauth-keycloak-client.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Updated resources tekton-pipelines-controller in pipeline-service production overlay (#7184)
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-osp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat: set pipeline priority and multi-platform build quotas for development (#7189)
  components/kueue/development/queue-config/cluster-queue.yaml
  components/kueue/development/queue-config/kustomization.yaml
  components/kueue/development/queue-config/workload-priority-class.yaml
  components/kueue/development/tekton-kueue/config.yaml
  components/kueue/development/tekton-kueue/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "Updated resources tekton-pipelines-controller in pipeline-service pro…"
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-osp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KONFLUX-134: Cancel in-progress PipelineRuns for updated pull requests (staging) (#7079)
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

added missing kyverno related labels and metrics
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: enable emptyDir config for pipelines
  components/release/development/release_service_config.yaml
  components/release/production/release_service_config.yaml
  components/release/staging/release_service_config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Deploy the integration kyverno policy to production
  components/policies/production/base/integration/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(KFLUXSPRT-4158): revert integration dev and stage to 5a79cbc (#7191)
  components/integration/development/kustomization.yaml
  components/integration/staging/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

added missing kyverno related labels and metrics (#7194)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote MintMaker stage to production
  components/mintmaker/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: enable emptyDir config for pipelines (#7196)
  components/release/development/release_service_config.yaml
  components/release/production/release_service_config.yaml
  components/release/staging/release_service_config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: update emptyDir config for pipelines
  components/release/production/release_service_config.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: update emptyDir config for pipelines (#7199)
  components/release/production/release_service_config.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update pipelines version in dev and staging
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Eventing: SubjectAccessReview fix
  components/knative-eventing/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update p02 cluster with recent MPC version
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update p02 cluster with recent MPC version
  components/multi-platform-controller/production-downstream/stone-prod-p02/controller-image-patch.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: reduce-tekton-pr kyverno policy for e2e tests
  components/policies/development/taskruns-cluster-policy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update p02 cluster with recent MPC version (#7203)
  components/multi-platform-controller/production-downstream/stone-prod-p02/controller-image-patch.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-1964: Create multi platform cluster queue staging
  components/kueue/staging/base/kustomization.yaml
  components/kueue/staging/base/queue-config/cluster-queue.yaml
  components/kueue/staging/stone-stage-p01/kustomization.yaml
  components/kueue/staging/stone-stage-p01/queue-config/cluster-queue.yaml
  components/kueue/staging/stone-stage-p01/queue-config/kustomization.yaml
  components/kueue/staging/stone-stg-rh01/kustomization.yaml
  components/kueue/staging/stone-stg-rh01/queue-config/cluster-queue.yaml
  components/kueue/staging/stone-stg-rh01/queue-config/kustomization.yaml
  hack/kueue-vm-quotas/README.md
  hack/kueue-vm-quotas/generate-queue-config.sh
  hack/kueue-vm-quotas/update-kueue-vm-quotas.py
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: reduce-tekton-pr kyverno policy for e2e tests (#7204)
  components/policies/development/taskruns-cluster-policy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(konflux-ui/OWNERS): add user
  components/konflux-ui/OWNERS
Due: none

Refactor nginx configs structure - staging (#7033)
  components/konflux-ui/staging/base/proxy/auth.conf
  components/konflux-ui/staging/base/proxy/kubearchive.conf
  components/konflux-ui/staging/base/proxy/kustomization.yaml
  components/konflux-ui/staging/base/proxy/nginx.conf
  components/konflux-ui/staging/base/proxy/proxy.yaml
  components/konflux-ui/staging/base/proxy/tekton-results.conf
  components/konflux-ui/staging/stone-stage-p01/kubearchive.conf
  components/konflux-ui/staging/stone-stage-p01/kustomization.yaml
  components/konflux-ui/staging/stone-stg-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-1964: Create multi platform cluster queue staging (#7206)
  components/kueue/staging/base/kustomization.yaml
  components/kueue/staging/base/queue-config/cluster-queue.yaml
  components/kueue/staging/stone-stage-p01/kustomization.yaml
  components/kueue/staging/stone-stage-p01/queue-config/cluster-queue.yaml
  components/kueue/staging/stone-stage-p01/queue-config/kustomization.yaml
  components/kueue/staging/stone-stg-rh01/kustomization.yaml
  components/kueue/staging/stone-stg-rh01/queue-config/cluster-queue.yaml
  components/kueue/staging/stone-stg-rh01/queue-config/kustomization.yaml
  hack/kueue-vm-quotas/README.md
  hack/kueue-vm-quotas/generate-queue-config.sh
  hack/kueue-vm-quotas/update-kueue-vm-quotas.py
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
