Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

KubeArchive: ignoreDifferences in ClusterRoleBinding (#6794)
  argo-cd-apps/base/member/infra-deployments/kubearchive/kubearchive.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

etcd-shield: enable metrics in staging
  components/etcd-shield/base/deployment.yaml
  components/etcd-shield/base/kustomization.yaml
  components/etcd-shield/base/metrics/kustomization.yaml
  components/etcd-shield/base/metrics/metrics-service.yaml
  components/etcd-shield/base/metrics/monitor.yaml
  components/etcd-shield/base/metrics/network-policy.yaml
  components/etcd-shield/base/metrics/rbac.yaml
  components/etcd-shield/base/metrics/service-account.yaml
  components/etcd-shield/base/rbac.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update production repository validator
  components/repository-validator/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

etcd-shield: enable metrics in staging (#6626)
  components/etcd-shield/base/deployment.yaml
  components/etcd-shield/base/kustomization.yaml
  components/etcd-shield/base/metrics/kustomization.yaml
  components/etcd-shield/base/metrics/metrics-service.yaml
  components/etcd-shield/base/metrics/monitor.yaml
  components/etcd-shield/base/metrics/network-policy.yaml
  components/etcd-shield/base/metrics/rbac.yaml
  components/etcd-shield/base/metrics/service-account.yaml
  components/etcd-shield/base/rbac.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

disable validate policy in development until KubeSaw is removed
  components/policies/development/cost-management/kustomization.yaml
  components/policies/staging/base/cost-management/kustomization.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/chainsaw-test.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-cost-center.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-empty-cost-center.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-no-cost-center.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-nonmatching.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/kustomization.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/kyverno-rbac.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/validate-cost-management-labels.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: update integration service
  components/integration/development/kustomization.yaml
  components/integration/staging/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote konflux-ui to prod (#6825)
  components/konflux-ui/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

restrict paths for kyverno tests CI
  .github/workflows/chainsaw-tests.yaml
  .github/workflows/kyverno-policies-tests.yaml
Due: none

Update production repository validator (#6828)
  components/repository-validator/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote release-service from staging to production (#6781)
  components/release/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

enable multi-repo Github App token scoping (#6812)
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/resources/update-tekton-config-pac.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Enable multi-repo Github App token scoping
  components/pipeline-service/production/base/update-tekton-config-pac.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-ocp-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/resources/update-tekton-config-pac.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KFLUXVNGD-330): deploying smee sidecar in staging (#6789)
  components/smee-client/OWNERS
  components/smee-client/staging/deployment.yaml
  components/smee-client/staging/kustomization.yaml
  components/smee-client/staging/sever-url-patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: allow insecure connection on smee sidecar
  components/smee-client/staging/deployment.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: allow insecure connection on smee sidecar (#6835)
  components/smee-client/staging/deployment.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

downgrade smee client version
  components/smee-client/staging/deployment.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

downgrade smee client version (#6836)
  components/smee-client/staging/deployment.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: update smee-sidecar reference
  components/smee-client/staging/deployment.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: update smee-sidecar reference (#6838)
  components/smee-client/staging/deployment.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

migrate cost-management policies to policies component (#6804)
  components/cost-management/staging/base/kustomization.yaml
  components/cost-management/staging/policies/propagate-cost-management-labels/propagate-cost-management-labels.yaml
  components/cost-management/staging/policies/validate-cost-management-labels/validate-cost-management-labels.yaml
  components/policies/development/cost-management/kustomization.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/resources/expected-pod-matching.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/resources/namespace-cost-center.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/resources/namespace-no-cost-center.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/resources/namespace-nonmatching.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/.chainsaw-test/resources/pod.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/kustomization.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/kyverno-rbac.yaml
  components/policies/development/cost-management/propagate-cost-management-labels/propagate-cost-management-labels.yaml
  components/policies/development/kustomization.yaml
  components/policies/staging/base/cost-management/kustomization.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/chainsaw-test.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-cost-center.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-empty-cost-center.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-no-cost-center.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/.chainsaw-test/resources/namespace-nonmatching.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/kustomization.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/kyverno-rbac.yaml
  components/policies/staging/base/cost-management/validate-cost-management-labels/validate-cost-management-labels.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KFLUXVNGD-331): Smee server liveness probe
  components/smee/staging/deployment.yaml
  components/smee/staging/kustomization.yaml
  components/smee/staging/route.yaml
  components/smee/staging/service.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KFLUXVNGD-331): Smee server liveness probe (#6839)
  components/smee/staging/deployment.yaml
  components/smee/staging/kustomization.yaml
  components/smee/staging/route.yaml
  components/smee/staging/service.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: rename one of the smee servers containers
  components/smee/staging/deployment.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: rename one of the smee servers containers (#6843)
  components/smee/staging/deployment.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: correct memory request format in Smee deployment configuration
  components/smee/staging/deployment.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: correct memory request format in Smee deployment configuration (#6844)
  components/smee/staging/deployment.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests
