Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

fix kubearchive policy's tests (#6102)
  components/kubearchive/policies/.chainsaw-test/chainsaw-test.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

bump kyverno to 3.3.7 in production
  components/kyverno/production/kflux-ocp-p01/kyverno-helm-generator.yaml
  components/kyverno/production/kflux-prd-rh02/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prod-p01/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prod-p02/kyverno-helm-generator.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

give kyverno permission to create appstudio-pipeline rolebinding
  components/konflux-rbac/policies/bootstrap-tenant-namespace/kyverno_rbac.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

give kyverno permission to create appstudio-pipeline rolebinding (#6112)
  components/konflux-rbac/policies/bootstrap-tenant-namespace/kyverno_rbac.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix for KFLUXINFRA-1473, which is the action item for KFLUXSPRT-2674 (#6108)
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-config.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p01/host-config.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-config.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/host-config.yaml
  components/multi-platform-controller/production/stone-prd-rh01/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

bump kyverno to 3.3.7 in production (#6110)
  components/kyverno/production/kflux-ocp-p01/kyverno-helm-generator.yaml
  components/kyverno/production/kflux-prd-rh02/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prod-p01/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prod-p02/kyverno-helm-generator.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

[ocp] increase linux-large max instances for IBM arches
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

disable dex/proxy's secrets generator job in production (#6104)
  components/konflux-ui/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh02/kustomization.yaml
  components/konflux-ui/production/stone-prd-rh01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Move ocp-art cluster PPC nodes to e1080 arch
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Move ocp-art cluster PPC nodes to e1080 arch (#6116)
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

use new UI in PaC custom console urls in staging (#6089)
  components/pipeline-service/staging/stone-stage-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

rollout pipeline sa rolebinding to all clusters (#6088)
  components/konflux-rbac/production/base/kustomization.yaml
  components/konflux-rbac/production/stone-prod-p02/kustomization.yaml
  components/konflux-rbac/staging/base/kustomization.yaml
  components/konflux-rbac/staging/stone-stage-p01/kustomization.yaml
  components/konflux-rbac/staging/stone-stg-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update PaC's custom console URL in prod
  components/pipeline-service/production/base/update-tekton-config-pac.yaml
  components/pipeline-service/production/kflux-ocp-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/stone-prod-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/stone-prod-p02/resources/update-tekton-config-pac.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

[dev+stage] Add SCC for nested containerization
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
  components/sandbox/toolchain-member-operator/staging/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/patch-appstudio-pipelines-runner.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

make chainsaw tests more robust
  .github/workflows/chainsaw-tests.yaml
  components/kyverno/chainsaw/kustomization.yaml
  hack/chainsaw/chainsaw-prepare.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

improve generate-tenant-resources-admission's tests
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-appstudio-pipeline-clusterrole.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update PaC's custom console URL in prod (#6125)
  components/pipeline-service/production/base/update-tekton-config-pac.yaml
  components/pipeline-service/production/kflux-ocp-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/stone-prod-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/stone-prod-p02/resources/update-tekton-config-pac.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote konflux-ui to prod
  components/konflux-ui/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote MintMaker stage to prod (weekly MintMaker deployment)
  components/mintmaker/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote release-service from development to staging
  components/release/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Knative-Eventing: going to production
  argo-cd-apps/base/member/infra-deployments/knative-eventing/knative-eventing.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  components/knative-eventing/production/base/kustomization.yaml
  components/knative-eventing/production/kflux-ocp-p01/kustomization.yaml
  components/knative-eventing/production/kflux-prd-rh02/kustomization.yaml
  components/knative-eventing/production/stone-prod-p01/kustomization.yaml
  components/knative-eventing/production/stone-prod-rh02/kustomization.yaml
  components/knative-eventing/staging/stone-stage-p01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Promote konflux-ui to prod (#6132)
  components/konflux-ui/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

[dev+stage] Add SCC for nested containerization (#6127)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
  components/sandbox/toolchain-member-operator/staging/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/patch-appstudio-pipelines-runner.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Offboard Dheeraj from Integration service
  components/integration/OWNERS
Due: none

Promote release-service from development to staging (#6137)
  components/release/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Offboard Dheeraj from Integration service (#6142)
  components/integration/OWNERS
Due: none
