Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

Fix internal staging s390x ExternalSecret name
  components/multi-platform-controller/staging-downstream/external-secrets.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(KFLUXVNGD-424): Add squid metric in stage endpoint-params.yml (#8607)
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix internal staging s390x ExternalSecret name (#8608)
  components/multi-platform-controller/staging-downstream/external-secrets.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

policies: format manifests
  .github/workflows/chainsaw-tests.yaml
  components/kyverno/chainsaw/kyverno-helm-generator.yaml
  components/policies/development/konflux-rbac/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/konflux-rbac/bootstrap-tenant-namespace/kyverno_rbac.yaml
  components/policies/development/konflux-rbac/restrict-binding-system-authenticated-releng/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/konflux-rbac/restrict-binding-system-authenticated-releng/validate-restrict-binding-system-authenticated-releng-clusterpolicy.yaml
  components/policies/development/konflux-rbac/restrict-binding-system-authenticated/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/namespace-lister/deny-virtual-domain/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/taskruns-cluster-policy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/kyverno_rbac.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-sysauth/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-system-authenticated-releng/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-system-authenticated-releng/validate-restrict-binding-system-authenticated-releng-clusterpolicy.yaml
  components/policies/production/base/namespace-lister/deny-virtual-domain/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/policies/kubearchive/.chainsaw-test/chainsaw-test.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Create workflow to auto-update MPC user docs
  .github/workflows/update-available-platform-variants.yaml
Due: none

repository-validator: format manifests (#8581)
  components/repository-validator/base/namespace.yaml
  components/repository-validator/base/validating-admission-policy.yaml
  components/repository-validator/staging/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Make ValidatingAdmissionPolicy ignoring qoutes in the config
  components/repository-validator/base/validating-admission-policy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: some components OOM
  components/knative-eventing/production/base/kustomization.yaml
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: some components OOM (#8615)
  components/knative-eventing/production/base/kustomization.yaml
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: bump konflux-ui (production) 1fef96712b29 => a06fae3dc26e
  components/konflux-ui/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Make ValidatingAdmissionPolicy ignoring qoutes in the config (#8613)
  components/repository-validator/base/validating-admission-policy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: rename the sa used in konflux-ci namespace
  components/konflux-ci/base/appstudio-pipelines-runner-rolebinding.yaml
  components/konflux-ci/base/pod-logs-reader-rolebinding.yaml
  components/konflux-ci/base/serviceaccount.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: use konflux-ci-sa and konflux-integration-runner sa instead of appstudio-pipeline
  components/build-templates/base/e2e/rolebinding.yaml
  components/build-templates/production/e2e-serviceaccount.yaml
  components/build-templates/staging/e2e-serviceaccount.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KAR-639: setup logging metrics for kubearchive logging
  components/vector-kubearchive-log-collector/base/ka-logging-service-monitor.yaml
  components/vector-kubearchive-log-collector/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add vector prometheus exporter sink
  components/vector-kubearchive-log-collector/development/loki-helm-dev-values.yaml
  components/vector-kubearchive-log-collector/development/vector-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix rbac names
  components/vector-kubearchive-log-collector/base/ka-logging-service-monitor.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

correct memcached parameters
  components/vector-kubearchive-log-collector/development/loki-helm-dev-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: rename the sa used in konflux-ci namespace (#8616)
  components/build-templates/base/e2e/rolebinding.yaml
  components/build-templates/production/e2e-serviceaccount.yaml
  components/build-templates/staging/e2e-serviceaccount.yaml
  components/konflux-ci/base/appstudio-pipelines-runner-rolebinding.yaml
  components/konflux-ci/base/pod-logs-reader-rolebinding.yaml
  components/konflux-ci/base/serviceaccount.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: bump konflux-ui (production) 1fef96712b29 => a06fae3dc26e (#8617)
  components/konflux-ui/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

policies: format manifests (#8609)
  .github/workflows/chainsaw-tests.yaml
  components/kyverno/chainsaw/kyverno-helm-generator.yaml
  components/policies/development/konflux-rbac/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/konflux-rbac/bootstrap-tenant-namespace/kyverno_rbac.yaml
  components/policies/development/konflux-rbac/restrict-binding-system-authenticated-releng/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/konflux-rbac/restrict-binding-system-authenticated-releng/validate-restrict-binding-system-authenticated-releng-clusterpolicy.yaml
  components/policies/development/konflux-rbac/restrict-binding-system-authenticated/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/kubearchive/bootstrap-namespace/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/namespace-lister/deny-virtual-domain/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/taskruns-cluster-policy.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/base/konflux-rbac/bootstrap-tenant-namespace/kyverno_rbac.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-sysauth/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-system-authenticated-releng/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-system-authenticated-releng/validate-restrict-binding-system-authenticated-releng-clusterpolicy.yaml
  components/policies/production/base/namespace-lister/deny-virtual-domain/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/policies/kubearchive/.chainsaw-test/chainsaw-test.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

doc: Adding banner for intermittent DNS incident in progress
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

doc: Adding banner for kflux-prd-rh02 similar to rh01
  components/konflux-info/production/kflux-prd-rh02/banner-content.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

doc: Adding banner for intermittent DNS incident in progress (#8619)
  components/konflux-info/production/kflux-prd-rh02/banner-content.yaml
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

doc: Adding banner to kflux-prd-rh03 for DNS intermittent error
  components/konflux-info/production/kflux-prd-rh03/banner-content.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

doc: Adding banner to kflux-prd-rh03 for DNS intermittent error (#8621)
  components/konflux-info/production/kflux-prd-rh03/banner-content.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "doc: Adding banner to kflux-prd-rh03 for DNS intermittent error (#8621)"
  components/konflux-info/production/kflux-prd-rh03/banner-content.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "doc: Adding banner for intermittent DNS incident in progress (#8619)"
  components/konflux-info/production/kflux-prd-rh02/banner-content.yaml
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "doc: Adding banner for intermittent DNS incident in progress (#8619)" (#8623)
  components/konflux-info/production/kflux-prd-rh02/banner-content.yaml
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "doc: Adding banner to kflux-prd-rh03 for DNS intermittent error (#8621)" (#8622)
  components/konflux-info/production/kflux-prd-rh03/banner-content.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
