Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

bump etcd-defrag in all clusters
  components/kueue/production/kflux-ocp-p01/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-osp-p01/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-prd-rh02/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-prd-rh03/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-rhel-p01/queue-config/cluster-queue.yaml
  components/kueue/production/pentest-p01/queue-config/cluster-queue.yaml
  components/kueue/production/stone-prd-rh01/queue-config/cluster-queue.yaml
  components/kueue/production/stone-prod-p01/queue-config/cluster-queue.yaml
  configs/etcd-defrag/production/base/cronjob.yaml
  configs/etcd-defrag/production/stone-prod-p02/cronjob.yaml
  configs/etcd-defrag/production/stone-prod-p02/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix ci workflow
  .github/workflows/kube-linter.yaml
Due: none

bump etcd-defrag in all clusters (#9116)
  components/kueue/production/kflux-ocp-p01/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-osp-p01/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-prd-rh02/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-prd-rh03/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-rhel-p01/queue-config/cluster-queue.yaml
  components/kueue/production/pentest-p01/queue-config/cluster-queue.yaml
  components/kueue/production/stone-prd-rh01/queue-config/cluster-queue.yaml
  components/kueue/production/stone-prod-p01/queue-config/cluster-queue.yaml
  configs/etcd-defrag/production/base/cronjob.yaml
  configs/etcd-defrag/production/stone-prod-p02/cronjob.yaml
  configs/etcd-defrag/production/stone-prod-p02/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "[DO NOT MERGE] Test CI by breaking staging"
  configs/etcd-defrag/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update internal production MPC with latest version
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update internal production MPC with latest version (#9124)
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add readinessProbe handler
  components/vector-kubearchive-log-collector/development/loki-helm-dev-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prd-rh01/loki-helm-prod-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kueue: skip old platform param if new param exists in production
  components/kueue/production/base/tekton-kueue/config.yaml
  hack/test-tekton-kueue-config.py
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add monitoring-dynatrace argocd application set
  argo-cd-apps/base/monitoring-dynatrace/kustomization.yaml
  argo-cd-apps/base/monitoring-dynatrace/monitoring-dynatrace.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Adding rbac for dynatrace-operator
  components/monitoring/logging/staging/base/dynatrace-operator/dynatrace-maintainers.yaml
  components/monitoring/logging/staging/base/dynatrace-operator/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Adding rbac for dynatrace-operator (#9123)
  argo-cd-apps/base/monitoring-dynatrace/kustomization.yaml
  argo-cd-apps/base/monitoring-dynatrace/monitoring-dynatrace.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
  components/monitoring/logging/staging/base/dynatrace-operator/dynatrace-maintainers.yaml
  components/monitoring/logging/staging/base/dynatrace-operator/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2511 - Remove OLM ESO from stone-stage-p01
  argo-cd-apps/base/all-clusters/infra-deployments/external-secrets-operator/external-secrets-operator.yaml
  components/external-secrets-operator/staging/stone-stage-p01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-2511 - Remove OLM ESO from stone-stage-p01 (#8964)
  argo-cd-apps/base/all-clusters/infra-deployments/external-secrets-operator/external-secrets-operator.yaml
  components/external-secrets-operator/staging/stone-stage-p01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Removing the monitoring-dynatrace applicationset
  argo-cd-apps/base/monitoring-dynatrace/kustomization.yaml
  argo-cd-apps/base/monitoring-dynatrace/monitoring-dynatrace.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add dynatrace to cluster secret config to get access to appsre-stonesoup-vault
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add annotation to avoid having sync option conflict
  components/monitoring/logging/staging/base/dynatrace-operator/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Fix dynatrace workload installation (#9129)
  argo-cd-apps/base/monitoring-dynatrace/kustomization.yaml
  argo-cd-apps/base/monitoring-dynatrace/monitoring-dynatrace.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
  components/monitoring/logging/staging/base/dynatrace-operator/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add rbac permission for argocd to allow creating resources
  components/monitoring/logging/staging/base/dynatrace-operator/dynatrace-maintainers.yaml
  components/monitoring/logging/staging/base/dynatrace-operator/dynatrace-rbac.yaml
  components/monitoring/logging/staging/base/dynatrace-operator/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add rbac permission for argocd to allow creating resources (#9130)
  components/monitoring/logging/staging/base/dynatrace-operator/dynatrace-maintainers.yaml
  components/monitoring/logging/staging/base/dynatrace-operator/dynatrace-rbac.yaml
  components/monitoring/logging/staging/base/dynatrace-operator/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Push ETCD defrag threshold to 75%
  configs/etcd-defrag/production/base/cronjob.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "Add rbac permission for argocd to allow creating resources (#9130)"
  components/monitoring/logging/staging/base/dynatrace-operator/dynatrace-maintainers.yaml
  components/monitoring/logging/staging/base/dynatrace-operator/dynatrace-rbac.yaml
  components/monitoring/logging/staging/base/dynatrace-operator/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "Add rbac permission for argocd to allow creating resources (#9130)" (#9131)
  components/monitoring/logging/staging/base/dynatrace-operator/dynatrace-maintainers.yaml
  components/monitoring/logging/staging/base/dynatrace-operator/dynatrace-rbac.yaml
  components/monitoring/logging/staging/base/dynatrace-operator/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

readiness probe port and resources reduction to fix degradation
  components/vector-kubearchive-log-collector/development/loki-helm-dev-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Push ETCD defrag threshold to 75% (#9132)
  configs/etcd-defrag/production/base/cronjob.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Deploy ESO using Helm Charts on stone-stg-rh01
  argo-cd-apps/base/all-clusters/infra-deployments/external-secrets-operator/external-secrets-operator.yaml
  components/external-secrets-operator/staging/stone-stg-rh01/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kueue: skip old platform param if new param exists in production (#9125)
  components/kueue/production/base/tekton-kueue/config.yaml
  hack/test-tekton-kueue-config.py
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix gateway port for readiness probe
  components/vector-kubearchive-log-collector/development/loki-helm-dev-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update pipelines dev/staging build nightly build 5.0.5-728
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests
