Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-hac-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: rhtap
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-install-konflux
    - ref: redhat-appstudio-hac-e2e
    workflow: redhat-appstudio-claim

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: rhtap
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: rhtap
    product: ocp
    timeout: 1h0m0s
    version: '4.14'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

WIP-DNM: example of how to update config-defaults in openshift-pipelines
  components/pipeline-service/development/update-tekton-config-performance.yaml
  components/pipeline-service/staging/base/update-tekton-config-performance.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-m01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(KFLUXBUGS-1503): Bump up default requests for the containers
  components/pipeline-service/development/update-tekton-config-performance.yaml
  components/pipeline-service/staging/base/update-tekton-config-performance.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-m01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: This configmaps -> configMaps typo was causing ArgoCD sync to keep trying
  components/pipeline-service/development/update-tekton-config-performance.yaml
  components/pipeline-service/staging/base/update-tekton-config-performance.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-m01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update notification-controller container
  components/notification-controller/base/deployment.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix hac-e2e sentry errors
  components/dev-sso/keycloak-realm.yaml
  hack/hac/installHac.sh
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KONFLUX-2256: multi-platform controller can spawn GPU accelerated nodes
  components/multi-platform-controller/staging/host-config.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KONFLUX-2256: multi-platform controller can spawn GPU accelerated nodes (#4267)
  components/multi-platform-controller/staging/host-config.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase staging limitRange CPU requests
  components/sandbox/tiers/src/appstudio/ns_tenant.yaml
  components/sandbox/tiers/staging/appstudio/kustomization.yaml
  components/sandbox/tiers/staging/appstudio/nstemplatetier-appstudio.yaml
  components/sandbox/tiers/staging/appstudio/tiertemplate-appstudio-tenant-2313893948-2313893948.yaml
  components/sandbox/tiers/staging/appstudiolarge/kustomization.yaml
  components/sandbox/tiers/staging/appstudiolarge/nstemplatetier-appstudiolarge.yaml
  components/sandbox/tiers/staging/appstudiolarge/tiertemplate-appstudiolarge-tenant-1884308846-2313893948.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase staging limitRange CPU requests (#4300)
  components/sandbox/tiers/src/appstudio/ns_tenant.yaml
  components/sandbox/tiers/staging/appstudio/kustomization.yaml
  components/sandbox/tiers/staging/appstudio/nstemplatetier-appstudio.yaml
  components/sandbox/tiers/staging/appstudio/tiertemplate-appstudio-tenant-2313893948-2313893948.yaml
  components/sandbox/tiers/staging/appstudiolarge/kustomization.yaml
  components/sandbox/tiers/staging/appstudiolarge/nstemplatetier-appstudiolarge.yaml
  components/sandbox/tiers/staging/appstudiolarge/tiertemplate-appstudiolarge-tenant-1884308846-2313893948.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase productionstaging limitRange CPU requests
  components/sandbox/tiers/production/appstudio/kustomization.yaml
  components/sandbox/tiers/production/appstudio/nstemplatetier-appstudio.yaml
  components/sandbox/tiers/production/appstudio/tiertemplate-appstudio-tenant-2313893948-2313893948.yaml
  components/sandbox/tiers/production/appstudiolarge/kustomization.yaml
  components/sandbox/tiers/production/appstudiolarge/nstemplatetier-appstudiolarge.yaml
  components/sandbox/tiers/production/appstudiolarge/tiertemplate-appstudiolarge-tenant-1884308846-2313893948.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase productionstaging limitRange CPU requests (#4301)
  components/sandbox/tiers/production/appstudio/kustomization.yaml
  components/sandbox/tiers/production/appstudio/nstemplatetier-appstudio.yaml
  components/sandbox/tiers/production/appstudio/tiertemplate-appstudio-tenant-2313893948-2313893948.yaml
  components/sandbox/tiers/production/appstudiolarge/kustomization.yaml
  components/sandbox/tiers/production/appstudiolarge/nstemplatetier-appstudiolarge.yaml
  components/sandbox/tiers/production/appstudiolarge/tiertemplate-appstudiolarge-tenant-1884308846-2313893948.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(RHTAPWATCH-1192): Bump prod. project-controller
  components/project-controller/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(RHTAPWATCH-1192): Bump prod. project-controller (#4303)
  components/project-controller/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update notification-controller container (#4297)
  components/notification-controller/base/deployment.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

SRVKP-5855: move all tekton related config to infra-deployments (#4291)
  components/monitoring/grafana/base/dashboards/pipeline-service/grafana-config.yaml
  components/monitoring/grafana/base/dashboards/pipeline-service/kustomization.yaml
  components/pipeline-service/base/testing/rbac.yaml
  components/pipeline-service/development/bump-results-watcher-replicas.yaml
  components/pipeline-service/development/chains-tekton-config-patches.yaml
  components/pipeline-service/development/config.env
  components/pipeline-service/development/dev-only-pipeline-service-storage-configuration.yaml
  components/pipeline-service/development/enable-step-actions.yaml
  components/pipeline-service/development/increase-results-pruner-gracePeriod.yaml
  components/pipeline-service/development/kustomization.yaml
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/development/metrics-exporter-trace.yaml
  components/pipeline-service/development/reduce-watcher-cpu-mem-reqs.yaml
  components/pipeline-service/development/scale-down-exporter.yaml
  components/pipeline-service/development/update-results-watcher-performance.yaml
  components/pipeline-service/development/update-tekton-config-performance.yaml
  components/pipeline-service/production/base/bump-exporter-mem.yaml
  components/pipeline-service/production/base/bump-results-api-resources.yaml
  components/pipeline-service/production/base/bump-results-watcher-mem.yaml
  components/pipeline-service/production/base/bump-results-watcher-replicas.yaml
  components/pipeline-service/production/base/chains-tekton-config-patches.yaml
  components/pipeline-service/production/base/kustomization.yaml
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/base/pac-config.yaml
  components/pipeline-service/production/base/scale-down-exporter.yaml
  components/pipeline-service/production/base/update-tekton-config-performance.yaml
  components/pipeline-service/staging/base/bump-results-watcher-mem.yaml
  components/pipeline-service/staging/base/bump-results-watcher-replicas.yaml
  components/pipeline-service/staging/base/chains-tekton-config-patches.yaml
  components/pipeline-service/staging/base/config.env
  components/pipeline-service/staging/base/kustomization.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/metrics-exporter-trace.yaml
  components/pipeline-service/staging/base/scale-down-exporter.yaml
  components/pipeline-service/staging/base/update-results-watcher-performance.yaml
  components/pipeline-service/staging/base/update-tekton-config-pac.yaml
  components/pipeline-service/staging/base/update-tekton-config-performance.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(KFLUXINFRA-743): Add "local" platform hosts
  components/multi-platform-controller/OWNERS
  components/multi-platform-controller/staging-downstream/host-config.yaml
  components/multi-platform-controller/staging/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add the docker-build-oci-ta pipeline to the configmap
  components/build-service/base/build-pipeline-config/build-pipeline-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

SRVKP-4529: expose metrics for chains controller deadlock/performance alerts
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

PVCORE-4435 - Move otel image to Quay. Pin versions of image and chart
  argo-cd-apps/base/member/infra-deployments/tracing-workload-otel-collector/tracing-workload-otel-collector.yaml
  components/tracing/otel-collector/development/otel-collector-helm-values.yaml
  components/tracing/otel-collector/production/otel-collector-helm-values.yaml
  components/tracing/otel-collector/staging/otel-collector-helm-values.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

SRVKP-4529: expose metrics for chains controller deadlock/performance alerts (#4310)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update workspaces to v0.1.0-alpha5
  components/workspaces/base/operator/config/crd/bases/workspaces.konflux-ci.dev_internalworkspaces.yaml
  components/workspaces/base/operator/config/crd/kustomization.yaml
  components/workspaces/base/operator/config/manager/kustomization.yaml
  components/workspaces/base/operator/config/rbac/internalworkspace_editor_role.yaml
  components/workspaces/base/operator/config/rbac/internalworkspace_viewer_role.yaml
  components/workspaces/base/operator/config/rbac/role.yaml
  components/workspaces/base/server/config/crd/bases/workspaces.konflux-ci.dev_workspaces.yaml
  components/workspaces/base/server/config/crd/kustomization.yaml
  components/workspaces/base/server/config/default/kustomization.yaml
  components/workspaces/base/server/config/rbac/role_workspace_server_editor.yaml
  components/workspaces/base/server/config/server/kustomization.yaml
  components/workspaces/base/server/config/server/proxy-config/dynamic/config.yaml
  components/workspaces/staging/stone-stage-p01/kustomization.yaml
  components/workspaces/staging/stone-stg-host/kustomization.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update workspaces to v0.1.0-alpha5 (#4313)
  components/workspaces/base/operator/config/crd/bases/workspaces.konflux-ci.dev_internalworkspaces.yaml
  components/workspaces/base/operator/config/crd/kustomization.yaml
  components/workspaces/base/operator/config/manager/kustomization.yaml
  components/workspaces/base/operator/config/rbac/internalworkspace_editor_role.yaml
  components/workspaces/base/operator/config/rbac/internalworkspace_viewer_role.yaml
  components/workspaces/base/operator/config/rbac/role.yaml
  components/workspaces/base/server/config/crd/bases/workspaces.konflux-ci.dev_workspaces.yaml
  components/workspaces/base/server/config/crd/kustomization.yaml
  components/workspaces/base/server/config/default/kustomization.yaml
  components/workspaces/base/server/config/rbac/role_workspace_server_editor.yaml
  components/workspaces/base/server/config/server/kustomization.yaml
  components/workspaces/base/server/config/server/proxy-config/dynamic/config.yaml
  components/workspaces/staging/stone-stage-p01/kustomization.yaml
  components/workspaces/staging/stone-stg-host/kustomization.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add the docker-build-oci-ta pipeline to the configmap (#4309)
  components/build-service/base/build-pipeline-config/build-pipeline-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase s390x capacity for supporting more production load
  components/multi-platform-controller/production-downstream/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Increase s390x capacity for supporting more production load (#4314)
  components/multi-platform-controller/production-downstream/host-config.yaml
Due: appstudio-hac-e2e-tests, appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: add Jen to integration-service file
  components/integration/OWNERS
Due: none

add README for update openshift pipeline related configuration
  components/pipeline-service/README.md
Due: none

Remove deployment related quotas from staging
  components/sandbox/tiers/src/appstudio/cluster.yaml
  components/sandbox/tiers/src/appstudiolarge/based_on_tier.yaml
  components/sandbox/tiers/staging/appstudio/kustomization.yaml
  components/sandbox/tiers/staging/appstudio/nstemplatetier-appstudio.yaml
  components/sandbox/tiers/staging/appstudio/tiertemplate-appstudio-clusterresources-3180033938-3180033938.yaml
  components/sandbox/tiers/staging/appstudiolarge/kustomization.yaml
  components/sandbox/tiers/staging/appstudiolarge/nstemplatetier-appstudiolarge.yaml
  components/sandbox/tiers/staging/appstudiolarge/tiertemplate-appstudiolarge-admin-1929014883-1876853981.yaml
  components/sandbox/tiers/staging/appstudiolarge/tiertemplate-appstudiolarge-clusterresources-1929014883-3180033938.yaml
  components/sandbox/tiers/staging/appstudiolarge/tiertemplate-appstudiolarge-contributor-1929014883-1817914940.yaml
  components/sandbox/tiers/staging/appstudiolarge/tiertemplate-appstudiolarge-maintainer-1929014883-293087644.yaml
  components/sandbox/tiers/staging/appstudiolarge/tiertemplate-appstudiolarge-tenant-1929014883-2313893948.yaml
  components/sandbox/tiers/staging/appstudiolarge/tiertemplate-appstudiolarge-viewer-1929014883-4059797645.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

emil-1
  components/pipeline-service/README.md
Due: none

Path conditions:
  appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
