Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ensure kyverno has Guaranteed QoS in staging (#5846)
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kubearchive: add generate kyverno policy (#5645)
  .github/workflows/kyverno-policies-tests.yaml
  components/kubearchive/development/kustomization.yaml
  components/kubearchive/policies/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/kubearchive/policies/.chainsaw-test/chainsaw-test.yaml
  components/kubearchive/policies/.chainsaw-test/resources/actual-kubeconfig-archive.yaml
  components/kubearchive/policies/.chainsaw-test/resources/actual-namespace-konflux-toolchain.yaml
  components/kubearchive/policies/.chainsaw-test/resources/actual-namespace-konflux.yaml
  components/kubearchive/policies/.chainsaw-test/resources/actual-namespace-toolchain.yaml
  components/kubearchive/policies/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/kubearchive/policies/.chainsaw-test/resources/expected-kubearchiveconfig.yaml
  components/kubearchive/policies/.chainsaw-test/resources/kubearchive-crd.yaml
  components/kubearchive/policies/.kyverno-test/kyverno-test.yaml
  components/kubearchive/policies/bootstrap-namespace.yaml
  components/kubearchive/policies/kustomization.yaml
  components/kubearchive/policies/kyverno_rbac.yaml
  components/kubearchive/policies/resources/expected-kubearchiveconfig-konflux.yaml
  components/kubearchive/policies/resources/expected-kubearchiveconfig-toolchain.yaml
  components/kubearchive/policies/resources/labeled-namespace-konflux.yaml
  components/kubearchive/policies/resources/labeled-namespace-toolchain.yaml
  components/kubearchive/staging/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kubearchive's policy: add support for new tenant label
  components/kubearchive/policies/.chainsaw-test/chainsaw-test.yaml
  components/kubearchive/policies/.chainsaw-test/resources/actual-namespace-konfluxcidev.yaml
  components/kubearchive/policies/bootstrap-namespace.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: give more resources in prod rh01
  components/kyverno/production/stone-prd-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat: release-service update Included PRs:
  .github/workflows/kube-linter.yaml
  components/release/production/kustomization.yaml
  components/release/staging/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: give more resources in prod rh01 (#5850)
  components/kyverno/production/stone-prd-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat: update kustomize binary
  .github/workflows/kube-linter.yaml
Due: none

feat: update kustomize binary (#5854)
  .github/workflows/kube-linter.yaml
Due: none

feat: release-service update
  components/release/development/kustomization.yaml
  components/release/production/kustomization.yaml
  components/release/staging/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

bump namespace-lister version
  components/namespace-lister/base/kustomization.yaml
  components/namespace-lister/base/patches/with_header_auth_groups.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

configure the proxy to set the impersonate-group header
  components/konflux-ui/staging/base/proxy/proxy.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat: release-service update (#5853)
  components/release/development/kustomization.yaml
  components/release/production/kustomization.yaml
  components/release/staging/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

nslister: use the new tenant label in prod
  components/namespace-lister/production/base/patches/with_cachenamespacelabelselector.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

nslister: use the new tenant label in prod (#5856)
  components/namespace-lister/production/base/patches/with_cachenamespacelabelselector.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(RELEASE-1441): allow rsc in production
  components/release/production/kustomization.yaml
  components/release/production/release_service_config.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix(RELEASE-1441): allow rsc in production (#5857)
  components/release/production/kustomization.yaml
  components/release/production/release_service_config.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

nslister-ui: add group support in staging (#5855)
  components/konflux-ui/staging/base/proxy/proxy.yaml
  components/namespace-lister/base/kustomization.yaml
  components/namespace-lister/base/patches/with_header_auth_groups.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert "update components/has/production/kustomization.yaml"
  components/has/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

update components/has/production/kustomization.yaml (#5859)
  components/has/production/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: pull kubectl from mirror.gcr.io in staging
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: pull kubectl from mirror.gcr.io in staging (#5860)
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: bump memory limits in stone-stg-rh01 to 1Gi
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: bump memory limits in stone-stg-rh01 to 1Gi (#5861)
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Export total running pipelinerun count
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: pull kubectl from mirror.gcr.io in prod
  components/kyverno/production/kflux-ocp-p01/kyverno-helm-values.yaml
  components/kyverno/production/kflux-prd-rh02/kyverno-helm-values.yaml
  components/kyverno/production/stone-prd-rh01/kyverno-helm-values.yaml
  components/kyverno/production/stone-prod-p01/kyverno-helm-values.yaml
  components/kyverno/production/stone-prod-p02/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Revert non-etcd exposure
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Only export platform etcd received_total
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

PVO11Y-4652 - Expose Konflux etcd metrics for export to RHOBS
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Include cpu/memory metrics from openshift-etcd namespace
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
