Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

konfluxui: restart deployments on secret update
  components/konflux-ui/staging/stone-stage-p01/configure-oauth-proxy-secret.yaml
  components/konflux-ui/staging/stone-stg-rh01/configure-oauth-proxy-secret.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

konfluxui: restart deployments on secret update (#5802)
  components/konflux-ui/staging/stone-stage-p01/configure-oauth-proxy-secret.yaml
  components/konflux-ui/staging/stone-stg-rh01/configure-oauth-proxy-secret.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

konfluxui: add replace and force argocd annotation to job
  components/konflux-ui/staging/stone-stage-p01/configure-oauth-proxy-secret.yaml
  components/konflux-ui/staging/stone-stg-rh01/configure-oauth-proxy-secret.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Run Vector pods only on nodes running pipelines (#5801)
  components/vector-tekton-logs-collector/development/vector-helm-values.yaml
  components/vector-tekton-logs-collector/staging/vector-helm-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Run Vector pods only on nodes running pipelines prod
  components/vector-tekton-logs-collector/production/vector-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

konfluxui: add replace and force argocd annotation to job (#5804)
  components/konflux-ui/staging/stone-stage-p01/configure-oauth-proxy-secret.yaml
  components/konflux-ui/staging/stone-stg-rh01/configure-oauth-proxy-secret.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Run Vector pods only on nodes running pipelines prod (#5805)
  components/vector-tekton-logs-collector/production/vector-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

add kyverno policy for standardizing namespace's tenant label (#5759)
  .chainsaw.yaml
  .github/workflows/chainsaw-tests.yaml
  .github/workflows/kube-linter.yaml
  components/kyverno/chainsaw/kustomization.yaml
  components/namespace-lister/base/kustomization.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/chainsaw-test.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/actual-namespace-konflux-toolchain.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/actual-namespace-konflux.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/actual-namespace-toolchain.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/expected-namespace-konflux-toolchain.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/expected-namespace-konflux.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/expected-namespace-toolchain.yaml
  components/namespace-lister/policies/ns-label/.chainsaw-test/resources/expected-namespace-unlabeled.yaml
  components/namespace-lister/policies/ns-label/kustomization.yaml
  components/namespace-lister/policies/ns-label/kyverno-background-konflux-ns-label-clusterrole.yaml
  components/namespace-lister/policies/ns-label/namespace-enforce-label-clusterpolicy.yaml
  hack/chainsaw/chainsaw-prepare.sh
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

PVO11Y-4652 - Expose Konflux etcd metrics for export to RHOBS
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add etcd_server_received_total metric
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

namespace-lister: filter by konflux-ci.dev label
  components/namespace-lister/base/patches/with_cachenamespacelabelselector.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

nslister: promote label policy to production
  components/namespace-lister/production/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: increase resources in staging
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix: add ServerSideApply to sync release-service
  argo-cd-apps/base/member/infra-deployments/release/release.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

kyverno: increase resources in staging (#5813)
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Disable pause pods in production for ephemeral cluster provisioning
  components/cluster-as-a-service/base/clustertemplates.yaml
  components/cluster-as-a-service/base/kustomization.yaml
  components/cluster-as-a-service/base/priorityclass.yaml
  components/cluster-as-a-service/production/add-hypershift-params.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Include cpu/memory metrics from openshift-etcd namespace
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix kyverno config in staging
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

fix kyverno config in staging (#5817)
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

First attempt at adding role to simply monitor release pipelines
  components/release/base/kustomization.yaml
  components/release/base/release-pipeline-monitor-role.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: remove konflux-test repository from tekton-ci namespace
  components/tekton-ci/base/repository.yaml
Due: none

Add VMs with larger disks in RH01
  components/multi-platform-controller/production/stone-prd-rh01/host-config.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Disable pause pods in production for ephemeral cluster provisioning (#5816)
  components/cluster-as-a-service/base/clustertemplates.yaml
  components/cluster-as-a-service/base/kustomization.yaml
  components/cluster-as-a-service/base/priorityclass.yaml
  components/cluster-as-a-service/production/add-hypershift-params.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore: remove konflux-test repository from tekton-ci namespace (#5819)
  components/tekton-ci/base/repository.yaml
Due: none

Only export platform etcd received_total
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Export only platform etcd
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

feat(STONEINTG-569): add github application config to integration-config (#5800)
  components/integration/development/kustomization.yaml
  components/integration/development/manager_resources_patch.yaml
  components/integration/production/base/kustomization.yaml
  components/integration/production/base/manager_resources_patch.yaml
  components/integration/staging/base/kustomization.yaml
  components/integration/staging/base/manager_resources_patch.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-1269: Enable ETCD Defrag Config This Pull Request will enable etcd defrag config for public production clusters and internal staging clusters
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KFLUXINFRA-1269: Enable ETCD Defrag Config (#5824)
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests
