Repository redhat-appstudio/infra-deployments: changes, and which Prow jobs are due for each by the changed paths.
All: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

appstudio-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    test:
    - ref: redhat-appstudio-e2e
    workflow: redhat-appstudio-claim

appstudio-upgrade-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-west-2
    owner: konflux
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  optional: true
  steps:
    test:
    - ref: redhat-appstudio-upgrade
    workflow: redhat-appstudio-claim

ci/prow/appstudio-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/appstudio-hac-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

Move production group-sync secrets to infrastructure Vault folder (#8661)
  components/authentication/production/base/konflux-ldap-sa-patch.yaml
  components/authentication/production/base/mtls-ca-validators-patch.yaml
Due: none

Drop the user-advisory banner (#8640)
  components/konflux-info/production/kflux-ocp-p01/banner-content.yaml
  components/konflux-info/production/kflux-osp-p01/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh02/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh03/banner-content.yaml
  components/konflux-info/production/kflux-rhel-p01/banner-content.yaml
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
  components/konflux-info/production/stone-prod-p01/banner-content.yaml
  components/konflux-info/production/stone-prod-p02/banner-content.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add production configuration for otel collector in order to expose http error metrics. (#8681)
  components/konflux-ui/production/base/proxy/kustomization.yaml
  components/konflux-ui/production/base/proxy/nginx.conf
  components/konflux-ui/production/base/proxy/otel-collector-config.yaml
  components/konflux-ui/production/base/proxy/proxy.yaml
  components/konflux-ui/production/kflux-ocp-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-osp-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-prd-rh02/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-prd-rh03/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-rhel-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/pentest-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prd-rh01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prod-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prod-p02/remove-run-as-user-proxy-patch.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Update pipelines version in dev and staging (#8538)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

chore(KFLUXVNGD-492): Add trust-manager to production
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  components/konflux-ui/production/base/proxy/kustomization.yaml
  components/trust-manager/OWNERS
  components/trust-manager/production/kustomization.yaml
  components/trust-manager/production/trust-manager-helm-generator.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

increase ingester pod limit
  components/vector-kubearchive-log-collector/development/loki-helm-dev-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Allow View to integration-runner for build-service
  components/build-service/base/rbac/build-config.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

integration-resources Role in build-templates-e2e
  components/build-templates/base/e2e/role.yaml
  components/build-templates/base/e2e/rolebinding.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Newline at end of file
  components/konflux-ui/production/base/proxy/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: upgrade production to v1.9.0
  components/kubearchive/production/base/kustomization.yaml
  components/kubearchive/production/base/migration-job.yaml
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
  components/kubearchive/production/kflux-osp-p01/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh02/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh03/kubearchive.yaml
  components/kubearchive/production/kflux-prd-rh03/kustomization.yaml
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
  components/kubearchive/production/pentest-p01/kustomization.yaml
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add html metrics to export from staging
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: increase API replicas to 2
  components/kubearchive/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Weird yamllint error
  components/konflux-ui/production/base/proxy/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

More permissions for integration-runner in rhtap-build-tenant (#8451)
  components/build-service/base/rbac/build-config.yaml
  components/build-templates/base/e2e/role.yaml
  components/build-templates/base/e2e/rolebinding.yaml
  components/konflux-ui/production/base/proxy/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Weird yamllint error
  components/konflux-ui/production/base/proxy/kustomization.yaml
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
  components/kubearchive/production/kflux-osp-p01/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh02/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh03/kustomization.yaml
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
  components/kubearchive/production/pentest-p01/kustomization.yaml
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add newline at kustomization.yaml
  components/konflux-ui/production/base/proxy/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: increase memory to vacuum-all
  components/kubearchive/staging/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

delete old kubearchive db schema migration job before sync to avoid errors because Jobs are immutable.
  components/kubearchive/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

KubeArchive: increase memory to vacuum-all (#8704)
  components/kubearchive/staging/base/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

remove trailing spaces
  components/konflux-ui/production/base/proxy/kustomization.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

delete old kubearchive db schema migration job before sync to avoid (#8686)
  components/kubearchive/development/kustomization.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove people from root OWNERS file
  OWNERS
Due: none

Increase IBM concurrent build capacity by 24 for p02
  components/kueue/production/stone-prod-p02/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Remove people from root OWNERS file (#8684)
  OWNERS
Due: none

Add OWNERS file to components owned by infra team
  components/authentication/OWNERS
  components/backup/OWNERS
  components/cluster-secret-store-rh/production/OWNERS
  components/cluster-secret-store/OWNERS
  components/external-secrets-operator/OWNERS
  components/kueue/OWNERS
  components/kyverno/OWNERS
  components/namespace-lister/OWNERS
  components/repository-validator/OWNERS
Due: none

Increase IBM concurrent build capacity by 24 for p02 (#8687)
  components/kueue/production/stone-prod-p02/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-values.yaml
Due: appstudio-e2e-tests, appstudio-upgrade-tests, ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Add OWNERS file to components owned by infra team (#8685)
  components/authentication/OWNERS
  components/backup/OWNERS
  components/cluster-secret-store-rh/production/OWNERS
  components/cluster-secret-store/OWNERS
  components/external-secrets-operator/OWNERS
  components/kueue/OWNERS
  components/kyverno/OWNERS
  components/namespace-lister/OWNERS
  components/repository-validator/OWNERS
Due: none

feat(PVO11Y-4961): Add html metrics to export from staging (#8701)
  components/konflux-ui/production/base/proxy/kustomization.yaml
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: ci/prow/appstudio-e2e-tests, ci/prow/appstudio-hac-e2e-tests

Path conditions:
  appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  appstudio-upgrade-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^argo-cd-apps/.*/(.*production|staging)|^components/(authentication|hac-pact-broker|konflux-ci|quality-dashboard|sandbox|smee|sprayproxy|tekton-ci|.*/(production|staging))/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE|_config\.yml|staging-app\.yaml|index\.html)$
  ci/prow/appstudio-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/appstudio-hac-e2e-tests: unless all of: ^docs/|^\.github/|^\.tekton/|^components/(authentication|quality-dashboard|hac-pact-broker|tekton-ci)/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
