Repository openshift/cloud-provider-vsphere: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-vsphere-ovn, e2e-vsphere-ovn-upgrade, regression-clusterinfra-vsphere-ipi-ccm

e2e-vsphere-ovn:
  steps:
    cluster_profile: vsphere-elastic
    workflow: openshift-e2e-vsphere

e2e-vsphere-ovn-upgrade:
  steps:
    cluster_profile: vsphere-elastic
    workflow: openshift-upgrade-vsphere

regression-clusterinfra-vsphere-ipi-ccm:
  optional: true
  steps:
    cluster_profile: vsphere-elastic
    env:
      E2E_RUN_TAGS: '@ccm'
      TEST_FILTERS_CLUSTERINFRASTRUCTURE: ccm&&!qe-only
      TEST_SCENARIOS: Cluster_Infrastructure CCM
    test:
    - chain: openshift-e2e-test-clusterinfra-qe-regression
  ...

UPSTREAM: <carry>: rm OWNERS_ALIASES and upd OWNERS
  OWNERS
  OWNERS_ALIASES
Due: e2e-vsphere-ovn, e2e-vsphere-ovn-upgrade

UPSTREAM: <carry>: Add .ci-operator.yaml file
  .ci-operator.yaml
Due: e2e-vsphere-ovn, e2e-vsphere-ovn-upgrade

UPSTREAM: <carry>: Add Snyk file to exclude vendor directory on scan
  .snyk
Due: e2e-vsphere-ovn, e2e-vsphere-ovn-upgrade

UPSTREAM: <carry>: Sync OWNERS file
  OWNERS
Due: none

UPSTREAM: <carry>: OCPBUGS-56720: gitignore doesn't ignore certain files in vendor/
  .gitignore
  vendor/github.com/emicklei/go-restful/v3/coverage.sh
  vendor/github.com/google/gnostic-models/jsonschema/schema.json
  vendor/github.com/google/gnostic-models/openapiv2/openapi-2.0.json
  vendor/go.opentelemetry.io/otel/renovate.json
  vendor/golang.org/x/text/internal/language/coverage.go
  vendor/golang.org/x/text/language/coverage.go
Due: e2e-vsphere-ovn, e2e-vsphere-ovn-upgrade

UPSTREAM: <carry>: OCP specific build scripts and Dockerfile
  Makefile
  openshift-hack/build-go.sh
  openshift-hack/check-fmt.sh
  openshift-hack/check-lint.sh
  openshift-hack/images/cloud-controller-manager-openshift.Dockerfile
  openshift-hack/test-unit-ci.sh
  openshift-hack/verify-history.sh
  openshift.mk
Due: e2e-vsphere-ovn, e2e-vsphere-ovn-upgrade

UPSTREAM: <carry>: Remove /vendor folder from .gitignore
  .gitignore
Due: none

UPSTREAM: <carry>: delete .github directory
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement.yaml
  .github/ISSUE_TEMPLATE/failing-test.yaml
  .github/ISSUE_TEMPLATE/flaking-test.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto-release-helm-chart.yml
Due: e2e-vsphere-ovn, e2e-vsphere-ovn-upgrade

UPSTREAM: <carry>: fix .dockerignore to satisfy OCP specific requirements
  .dockerignore
Due: e2e-vsphere-ovn, e2e-vsphere-ovn-upgrade

UPSTREAM: 1721: OCPBUGS-80874: Bump google.golang.org/grpc to v1.79.3
  go.mod
  go.sum
  test/e2e/go.mod
  test/e2e/go.sum
Due: e2e-vsphere-ovn, e2e-vsphere-ovn-upgrade, regression-clusterinfra-vsphere-ipi-ccm

UPSTREAM: 1721: OCPBUGS-80697: Bump google.golang.org/grpc to v1.79.3
  go.mod
  go.sum
  test/e2e/go.mod
  test/e2e/go.sum
Due: e2e-vsphere-ovn, e2e-vsphere-ovn-upgrade, regression-clusterinfra-vsphere-ipi-ccm

UPSTREAM: <carry>: update check-fmt goimports command
  openshift-hack/check-fmt.sh
Due: e2e-vsphere-ovn, e2e-vsphere-ovn-upgrade

UPSTREAM: <carry>: Add snyk exclusion file
  .snyk
Due: e2e-vsphere-ovn, e2e-vsphere-ovn-upgrade

Path conditions:
  e2e-vsphere-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-vsphere-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  regression-clusterinfra-vsphere-ipi-ccm: any of: ^(go\.mod|go\.sum)$
