Repository openshift/openshift-controller-manager: changes, and which Prow jobs are due for each by the changed paths.
All: verify, unit, e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-aws-builds, e2e-aws-ovn-proxy, openshift-e2e-aws-ovn-builds-techpreview, e2e-gcp-ovn, e2e-gcp-ovn-builds

verify:
  commands: 'make verify -k --warn-undefined-variables
  
    '
  container:
    from: bin

unit:
  commands: 'make test-unit JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
    '
  container:
    from: test-bin

e2e-aws-ovn:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws

e2e-aws-ovn-upgrade:
  steps:
    cluster_profile: aws
    workflow: openshift-upgrade-aws

e2e-aws-builds:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-builds

e2e-aws-ovn-proxy:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-proxy

openshift-e2e-aws-ovn-builds-techpreview:
  optional: true
  steps:
    cluster_profile: aws
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    workflow: openshift-e2e-aws-builds

e2e-gcp-ovn:
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp

e2e-gcp-ovn-builds:
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp-builds

Fix Dockerfile.rhel: Add OTE binary build and packaging
  Dockerfile.rhel
Due: verify, unit, e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-aws-ovn-proxy, openshift-e2e-aws-ovn-builds-techpreview, e2e-gcp-ovn, e2e-gcp-ovn-builds

Fix Dockerfile.rhel: Add OTE binary build and packaging for release-4.20
  Dockerfile.rhel
Due: verify, unit, e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-aws-ovn-proxy, openshift-e2e-aws-ovn-builds-techpreview, e2e-gcp-ovn, e2e-gcp-ovn-builds

bump(k8s): update k8s.io/* dependencies to v1.34.1
  go.mod
  go.sum
Due: verify, unit, e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-aws-ovn-proxy, openshift-e2e-aws-ovn-builds-techpreview, e2e-gcp-ovn, e2e-gcp-ovn-builds

bump(k8s): align to upstream diff util changes
  pkg/apps/deployer/deployer_controller_test.go
  pkg/apps/deploymentconfig/deploymentconfig_controller_test.go
  pkg/build/controller/common/buildpodutil_test.go
  pkg/image/controller/imagestream_controller_test.go
  pkg/image/controller/trigger/image_trigger_controller_test.go
  pkg/image/trigger/buildconfigs/buildconfigs_test.go
  pkg/image/trigger/deploymentconfigs/deploymentconfigs_test.go
Due: verify, unit, e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-aws-builds, e2e-aws-ovn-proxy, openshift-e2e-aws-ovn-builds-techpreview, e2e-gcp-ovn, e2e-gcp-ovn-builds

Migrate away from deprecated ioutil
  pkg/build/controller/build/build_controller_test.go
  pkg/image/controller/imagestream_controller_test.go
  pkg/template/controller/templateinstance_controller_test.go
Due: verify, unit, e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-aws-builds, e2e-aws-ovn-proxy, openshift-e2e-aws-ovn-builds-techpreview, e2e-gcp-ovn, e2e-gcp-ovn-builds

chore: Switch from k8s.io/apimachinery/pkg/util/diff to github.com/google/go-cmp/cmp
  pkg/apps/deployer/deployer_controller_test.go
  pkg/apps/deploymentconfig/deploymentconfig_controller_test.go
  pkg/build/controller/common/buildpodutil_test.go
  pkg/image/controller/imagestream_controller_test.go
  pkg/image/controller/trigger/image_trigger_controller_test.go
  pkg/image/trigger/buildconfigs/buildconfigs_test.go
  pkg/image/trigger/deploymentconfigs/deploymentconfigs_test.go
Due: verify, unit, e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-aws-builds, e2e-aws-ovn-proxy, openshift-e2e-aws-ovn-builds-techpreview, e2e-gcp-ovn, e2e-gcp-ovn-builds

chore: Update deps for k8s 1.34.2
  go.mod
  go.sum
Due: verify, unit, e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-aws-ovn-proxy, openshift-e2e-aws-ovn-builds-techpreview, e2e-gcp-ovn, e2e-gcp-ovn-builds

fix: Update list of fields ignored by `TestMakeDeployerPod`
  pkg/apps/deployer/deployer_controller_test.go
Due: verify, unit, e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-aws-ovn-proxy, openshift-e2e-aws-ovn-builds-techpreview, e2e-gcp-ovn, e2e-gcp-ovn-builds

doc: Update comments and messages around `maxInjectedEnvironmentAllowedSize`
  pkg/apps/deployer/deployer_controller.go
Due: verify, unit, e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-aws-ovn-proxy, openshift-e2e-aws-ovn-builds-techpreview, e2e-gcp-ovn, e2e-gcp-ovn-builds

doc: Add rebase checklist to readme
  README.md
Due: none

Refactor OTE to single-module architecture
  Dockerfile.rhel
  Makefile
  README.md
  cmd/openshift-controller-manager-tests-ext/main.go
  test/extended/README.md
  test/extended/main.go
Due: verify, unit, e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-aws-ovn-proxy, openshift-e2e-aws-ovn-builds-techpreview, e2e-gcp-ovn, e2e-gcp-ovn-builds

bugfix: use a system context for setting custom auth file path when fetching image sources
  pkg/image/controller/signature/container_image_downloader.go
Due: verify, unit, e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-aws-ovn-proxy, openshift-e2e-aws-ovn-builds-techpreview, e2e-gcp-ovn, e2e-gcp-ovn-builds

Add ARCHITECTURE.md
  ARCHITECTURE.md
Due: none

Add CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add AGENTS.md and CLAUDE.md symlink
  AGENTS.md
  CLAUDE.md
Due: none

Update README.md
  README.md
Due: none

Fix factual errors found during consistency review
  AGENTS.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
Due: none

Clarify RollbackControllers extensibility in ARCHITECTURE.md
  ARCHITECTURE.md
Due: none

Migrate CRI-O annotations to v2 format
  pkg/build/controller/strategy/util.go
  pkg/build/controller/strategy/util_test.go
Due: verify, unit, e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-aws-builds, e2e-aws-ovn-proxy, openshift-e2e-aws-ovn-builds-techpreview, e2e-gcp-ovn, e2e-gcp-ovn-builds

OCPBUGS-100179: fix forward controller FilterFunc and finalizer removal
  pkg/internalregistry/controllers/legacy_image_pull_secret_controller.go
  pkg/internalregistry/controllers/legacy_image_pull_secret_controller_test.go
Due: verify, unit, e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-aws-ovn-proxy, openshift-e2e-aws-ovn-builds-techpreview, e2e-gcp-ovn, e2e-gcp-ovn-builds

chore: alter the code after the rebase
  pkg/apps/deployer/deployer_controller.go
  pkg/apps/deployer/deployer_controller_test.go
  pkg/apps/deploymentconfig/deploymentconfig_controller.go
  pkg/build/controller/build/build_controller.go
  pkg/template/controller/templateinstance_finalizer.go
Due: verify, unit, e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-aws-builds, e2e-aws-ovn-proxy, openshift-e2e-aws-ovn-builds-techpreview, e2e-gcp-ovn, e2e-gcp-ovn-builds

Path conditions:
  verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-builds: any of: ^(pkg/build)
  e2e-aws-ovn-proxy: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  openshift-e2e-aws-ovn-builds-techpreview: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-ovn-builds: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
