Repository openshift/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

Path conditions:
  ci/prow/e2e-metal-ipi-bm: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*|\.github/.*)$|\.(okd|scos|fcos|okd-x86_64)$
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*|\.github/.*)$|\.(okd|scos|fcos|okd-x86_64)$
  ci/prow/e2e-metal-ipi-virtualmedia: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*|\.github/.*)$|\.(okd|scos|fcos|okd-x86_64)$
  ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation: any of: .*packages-list.*
  ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation: any of: .*packages-list.*
  ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation: any of: .*packages-list.*

OCPBUGS-69789: Bump eventlet version to 0.33.1-7
  main-packages-list.ocp
Due: ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

Update requirements.cachito with latest openshift forks commits
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

[s2i] Move direct dependencies from packages to source
  main-packages-list.ocp
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

OCPBUGS-69784: Bump eventlet version to 0.33.1-7
  main-packages-list.ocp
Due: ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

OCPBUGS-69788: Bump eventlet version to 0.33.1-7
  main-packages-list.ocp
Due: ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

OCPBUGS-69791: Bump eventlet version to 0.33.1-7
  main-packages-list.ocp
Due: ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

OCPBUGS-69787: Bump eventlet version to 0.30.2-5
  main-packages-list.ocp
Due: ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

Update requirements.cachito with firmware update fix backports
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

customise some firmware update configs
  ironic-config/ironic.conf.j2
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Bump eventlet version to latest bugfix
  main-packages-list.ocp
Due: ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

ART-14485: fix for minimal builds
  prepare-image.sh
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Test build including out of tree reboot loop fix and config changes
  ironic-config/ironic.conf.j2
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Bump openstacksdk version to 4.9.0
  main-packages-list.ocp
Due: ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

attempting refactoring upstream code to resolve firmware issues
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Retesting known-good-state to identify any potential missed factors
  ironic-config/ironic.conf.j2
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Retesting known-good-state to identify any potential missed factors for 4.20
  ironic-config/ironic.conf.j2
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Making build with cc0e029 from Iury's branch
  ironic-config/ironic.conf.j2
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Fix ART builds with -minimal
  Dockerfile.ocp
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Switching commit hash to latest commit (heartbeating fix) from upstream-outoftree-parity
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Update Dockerfile.ocp
  Dockerfile.ocp
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Install true dnf in the first build layer
  prepare-efi.sh
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

[4.21] OCPBUGS-76282: Update ironic hash
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

bump hash for cluster-bot image build
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

[4.22] OCPBUGS-76281: Bump ironic hash
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

DOWNSTREAM: Add wheel-builder stages to pre-build Python packages
  build-wheels.sh
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

DOWNSTREAM: Consolidate first stage plus more heredoc syntax
  Dockerfile.ocp
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Multi-stage wheel-builder for OCP builds
  Dockerfile.ocp
  build-wheels-ocp.sh
  build-wheels.sh
  prepare-image.sh
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Update ironic hash for 4.21 with heartbeat inspection fix
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Bump 4.20 ironic-image to include firmware update fixes
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Update ironic hash for 4.20 with heartbeat inspection fix
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

bump keystonemiddleware version for CVE fix
  main-packages-list.ocp
Due: ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation
