Repository openshift/ironic-image: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

ci/prow/e2e-metal-ipi-bm:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-metal-ipi-ovn-ipv6:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-metal-ipi-virtualmedia:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/variant: prevalidation
    ci.openshift.io/generator: prowgen
  ...

ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/variant: prevalidation
    ci.openshift.io/generator: prowgen
  ...

ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/variant: prevalidation
    ci.openshift.io/generator: prowgen
  ...

[release-4.16] OCPBUGS-76457:Bump pyasn1 to 0.5.1-4
  main-packages-list.ocp
Due: ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

testing
  README.md
Due: none

[DNM] Testing CI
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Test https://review.opendev.org/c/openstack/ironic/+/985123 on PR821
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

fix: watchdog okd
  python-requirements.okd
Due: none

fix: Removed both pyinotify and pyasyncore
  python-requirements.okd
Due: none

Drop potentially faulty commit to test CI
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

OCPBUGS-83618: Bump sushy to latest
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Document how to use gerrit change hash for testing
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Bump sushy hash to include Supermicro ARS-111GL-NHR fix
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Fix update requirements workflow
  .github/workflows/update-requirements.yml
Due: none

[release-4.22] OCPBUGS-84651: Bump sushy
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Update requirements.cachito with latest openshift forks commits
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

PoC: selectively backport servicing patches to 4.22
  Dockerfile.ocp
  Dockerfile.scos
  main-packages-list.ocp
  patches/0001-Fix-Premature-reboot-interrupting-NIC-update.patch
  patches/0053-Fix-IPA-boot-during-out-of-band-service-steps.patch
  prepare-image.sh
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

Add Slack notification to update-requirements workflow
  .github/workflows/update-requirements.yml
Due: none

Bump setuptools version to align with latest ironic requirements
  Dockerfile.ocp
  main-packages-list.ocp
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

Backports required for OCPBUGS-82298 OCPBUGS-82294
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Updating ironic-container image to be consistent with ART for 5.0 Reconciling with https://github.com/openshift-eng/ocp-build-data/tree/af322abdd1a4d7d0161a69a16369a0ab1748515a/images/ironic.yml
  Dockerfile.ocp
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Bump python packaging version and update commit hashes
  Dockerfile.ocp
  main-packages-list.ocp
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

Backports required for OCPBUGS-82295 OCPBUGS-84371
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Extract wheel-builder build deps to build-packages-list.ocp
  Dockerfile.ocp
  build-packages-list.ocp
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

Add --no-index back and remove pip at the end
  build-wheels-ocp.sh
  prepare-image.sh
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Add NGS from SOURCE
  .github/workflows/update-requirements.yml
  requirements.cachito
  tools/check-requirements.sh
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

[4.21] Fix parallel power concurrency
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

[4.20] Fix parallel power concurrency
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Update ironic hash
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Update openstack-ironic commit hash in requirements.cachito that addresses CVE-2026-43003
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Wipe agent token on inspection completion to fix cleaning failures
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Bump NGS and Add new packages required for it
  main-packages-list.ocp
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

[DNM] TEST 4.15 CI
  Dockerfile.ocp
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

[s2i] Move direct dependencies from packages to source
  build-packages-list.ocp
  main-packages-list.ocp
  requirements.cachito
Due: ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation, ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation

Path conditions:
  ci/prow/e2e-metal-ipi-bm: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*|\.github/.*)$|\.(okd|scos|fcos|okd-x86_64)$
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*|\.github/.*)$|\.(okd|scos|fcos|okd-x86_64)$
  ci/prow/e2e-metal-ipi-virtualmedia: unless all of: \.md$|^(DCO|LICENSE|OWNERS|.*packages-list.*|\.github/.*)$|\.(okd|scos|fcos|okd-x86_64)$
  ci/prow/prevalidation-e2e-metal-ipi-bm-prevalidation: any of: .*packages-list.*
  ci/prow/prevalidation-e2e-metal-ipi-ovn-ipv6-prevalidation: any of: .*packages-list.*
  ci/prow/prevalidation-e2e-metal-ipi-virtualmedia-prevalidation: any of: .*packages-list.*
