Repository openshift/assisted-installer: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-cnv: any of: ^(src/assisted_installer_controller/.*)$
  e2e-metal-assisted-ocs: any of: ^(src/assisted_installer_controller/.*)$
  ci/prow/edge-e2e-ai-operator-ztp: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/edge-e2e-metal-assisted: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/edge-format-check: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/edge-lint: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/edge-unit-test: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$

NO-ISSUE: dependabot exclude k8s (#706)
  .github/dependabot.yml
Due: e2e-metal-assisted

MGMT-15507: Set restricted list of approvers for protected release-ocm-2.9 branch
  OWNERS_ALIASES
Due: none

NO-ISSUE: Opening PR for ACM 2.9 Images
  README.md
Due: none

NO-ISSUE: Opening PR for ACM 2.9 Images (#716)
  README.md
Due: none

MGMT-13586: Wait for ETCD Bootstrap to complete (#670)
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-13586: Wait for ETCD Bootstrap to complete (#670) (#717)
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: fix dependabot ingored packages
  .github/dependabot.yml
Due: e2e-metal-assisted

NO-ISSUE: fix dependabot ingored packages (#724)
  .github/dependabot.yml
Due: e2e-metal-assisted

MGMT-15810: change base image to stream9
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-controller
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15833: Coerce OLM to reconcile subscriptions by re-annotating them
  src/assisted_installer_controller/operator_handler.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15810: change base image to stream9 (#725)
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-controller
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15839: Bump krb5-libs in assisted-installer image
  Dockerfile.assisted-installer
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15810: fix image missing nsenter executable
  Dockerfile.assisted-installer
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15810: fix image missing nsenter executable (#729)
  Dockerfile.assisted-installer
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-13586: Wait for ETCD Bootstrap to complete (#670) (#726)
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

add adriengentil
  OWNERS_ALIASES
Due: none

MGMT-15507: Set restricted list of approvers for protected release-ocm-2.9 branch (#733)
  OWNERS_ALIASES
Due: none

MGMT-15710: Assisted installer changes for avoiding MCO reboot (#713)
  src/config/config.go
  src/installer/installer.go
  src/installer/installer_test.go
  src/ops/mock_ops.go
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Updating ose-agent-installer-csr-approver images to be consistent with ART (#718)
  .ci-operator.yaml
  Dockerfile.assisted-installer-controller.ocp
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

ztp bug
  src/ops/ops.go
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Update golangci-lint to v1.53.1 to fix nil pointer
  src/k8s_client/mock_k8s_client.go
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15984: Assisted installer doesn't freeze and unmount file systems used for overwriting os image This causes the file system to become corrupt in some cases.
  src/installer/installer.go
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15984: Assisted installer doesn't freeze and unmount file systems used for overwriting os image (#737)
  src/installer/installer.go
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-16039: upgrade to golang 1.20
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller
  go.mod
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-16039: upgrade to golang 1.20 (#741)
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller
  go.mod
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-16051: Add support 4 build on s390x
  Dockerfile.assisted-installer-controller.multi
  Dockerfile.assisted-installer.multi
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

OCPBUGS-20049: Remove uninitialized taint for agent-based installs
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/main/assisted-installer-controller/assisted_installer_main_test.go
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15926: Delete failed OLM jobs and subscription install plans in all cases during initialization check, not only in case of not found error
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/assisted_installer_controller/operator_handler.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: adding me to reviewers
  OWNERS_ALIASES
Due: none

NO-ISSUE: Add my github account as an OWNER for this repository
  OWNERS_ALIASES
Due: none

NO-ISSUE: Add my github account as an OWNER for this repository (#749)
  OWNERS_ALIASES
Due: none

MGMT-15926: Delete failed OLM jobs and subscription install plans in all cases during initialization check, not only in case of not found error (#748)
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/assisted_installer_controller/operator_handler.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Updating ose-agent-installer-orchestrator images to be consistent with ART (#719)
  Dockerfile.assisted-installer.ocp
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-16258: Partitions naming convetion is different for various disk types (#752)
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

OCPBUGS-20049: Remove uninitialized taint for agent-based installs (#739)
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/main/assisted-installer-controller/assisted_installer_main_test.go
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test
