Repository openshift/assisted-installer: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Path conditions:
  e2e-agent-compact-ipv4: unless all of: ^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE)$
  ci/prow/e2e-agent-compact-ipv4: unless all of: ^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE)$
  ci/prow/edge-format-check: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|.tekton/.*|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/edge-lint: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|.tekton/.*|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/edge-unit-test: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|.tekton/.*|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$

ACM-27878: CVE-2025-52881 Bump github.com/opencontainers/selinux to v1.13.0 using replace directive
  go.mod
  go.sum
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  vendor/github.com/stretchr/testify/mock/mock.go
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-22499: CVE-2025-66506 Bump github.com/sigstore/fulcio to v1.8.3 using replace directive
  go.mod
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

update renovate tool to be able to update ubi images
  renovate.json
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: setup assisted-installer version v2.50
  .tekton/assisted-installer-acm-ds-2-16-pull-request.yaml
  .tekton/assisted-installer-acm-ds-2-16-push.yaml
  .tekton/assisted-installer-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-acm-ds-main-push.yaml
  .tekton/assisted-installer-controller-acm-ds-2-16-pull-request.yaml
  .tekton/assisted-installer-controller-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-controller-ds-main-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-50-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-50-push.yaml
  .tekton/assisted-installer-ds-main-push.yaml
  .tekton/assisted-installer-ds-v2-50-pull-request.yaml
  .tekton/assisted-installer-ds-v2-50-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

Red Hat Konflux update assisted-installer-controller-ds-v2-50
  .tekton/assisted-installer-controller-ds-v2-50-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-50-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

Red Hat Konflux update assisted-installer-ds-v2-50
  .tekton/assisted-installer-ds-v2-50-pull-request.yaml
  .tekton/assisted-installer-ds-v2-50-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

NO-ISSUE: bumping go version to 1.25 on release-ocm-2.11 branch
  .golangci.yml
  Dockerfile.assisted-installer-build
  go.mod
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/assisted_installer_controller/operator_handler.go
  src/common/common.go
  src/config/config.go
  src/coreos_logger/coreos_installer_log_writer.go
  src/coreos_logger/coreos_installer_log_writer_test.go
  src/installer/installer.go
  src/installer/installer_test.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/main/assisted-installer-controller/assisted_installer_main_test.go
  src/ops/ops.go
  src/ops/ops_test.go
  src/utils/utils.go
  src/utils/utils_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: test for FF ACM 2.17
  src/installer/installer.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Revert "NO-ISSUE: test for FF ACM 2.17"
  src/installer/installer.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Modify Konflux YAMLs to ocm-2.17
  .tekton/assisted-installer-acm-ds-2-17-pull-request.yaml
  .tekton/assisted-installer-acm-ds-2-17-push.yaml
  .tekton/assisted-installer-controller-acm-ds-2-17-pull-request.yaml
  .tekton/assisted-installer-controller-acm-ds-2-17-push.yaml
  Dockerfile.assisted-installer-controller-mce
  Dockerfile.assisted-installer-mce
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

[release-ocm-2.16] NO-ISSUE: Reduce owners list for release-2.16 branch
  OWNERS_ALIASES
Due: none

NO-ISSUE: Update rpms.lock.yaml
  rpm-prefetching/assisted-installer-controller/rpms.lock.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Add Hive updates to renovate tool
  renovate.json
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Restrict gomod updates to only Hive API
  renovate.json
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Use renovate to update rpms.lock.yaml
  renovate.json
  rpm-prefetching/assisted-installer-controller/redhat.repo
  rpm-prefetching/assisted-installer-controller/rpms.in.yaml
  rpm-prefetching/assisted-installer/redhat.repo
  rpm-prefetching/assisted-installer/rpms.in.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Use renovate to update rpms.lock.yaml
  rpm-prefetching/assisted-installer-controller/redhat.repo
  rpm-prefetching/assisted-installer-controller/rpms.in.yaml
  rpm-prefetching/assisted-installer/redhat.repo
  rpm-prefetching/assisted-installer/rpms.in.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Remove Hive and gomod renovate additions
  renovate.json
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

fix root partition before copying IRI registry data
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: setup assisted-installer version v2.51
  .tekton/assisted-installer-acm-ds-2-17-pull-request.yaml
  .tekton/assisted-installer-acm-ds-2-17-push.yaml
  .tekton/assisted-installer-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-acm-ds-main-push.yaml
  .tekton/assisted-installer-controller-acm-ds-2-17-push.yaml
  .tekton/assisted-installer-controller-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-controller-ds-main-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-51-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-51-push.yaml
  .tekton/assisted-installer-ds-main-push.yaml
  .tekton/assisted-installer-ds-v2-51-pull-request.yaml
  .tekton/assisted-installer-ds-v2-51-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

MGMT-23545: Mount pull secret token as a file
  deploy/assisted-installer-controller/assisted-installer-controller-pod.yaml.template
  src/assisted_installer_controller/assisted_installer_controller.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/main/assisted-installer-controller/assisted_installer_main_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

fix: allow workers to join TNA cluster when 1 master + arbiter are ready
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-23191: Ensure MCO configs are present before rebooting the bootstrap node
  go.mod
  src/installer/installer.go
  src/installer/installer_test.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/client/config/config.go
  vendor/sigs.k8s.io/controller-runtime/pkg/client/config/doc.go
  vendor/sigs.k8s.io/controller-runtime/pkg/internal/log/log.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

remove unnecessary comments
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-controller
  Dockerfile.assisted-installer.ocp
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Update konflux pipelines to use a remote pipeline
  .tekton/assisted-installer-acm-ds-2-15-pull-request.yaml
  .tekton/assisted-installer-acm-ds-2-15-push.yaml
  .tekton/assisted-installer-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-acm-ds-main-push.yaml
  .tekton/assisted-installer-controller-acm-ds-2-15-pull-request.yaml
  .tekton/assisted-installer-controller-acm-ds-2-15-push.yaml
  .tekton/assisted-installer-controller-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-controller-acm-ds-main-push.yaml
  .tekton/assisted-installer-controller-ds-main-pull-request.yaml
  .tekton/assisted-installer-controller-ds-main-push.yaml
  .tekton/assisted-installer-ds-main-pull-request.yaml
  .tekton/assisted-installer-ds-main-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

Restore .ocp files - not needed for this change
  Dockerfile.assisted-installer-controller.ocp
  Dockerfile.assisted-installer.ocp
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-22042: add cve-automation github app to owners_aliases
  OWNERS_ALIASES
Due: none

MGMT-21724: Update Renovate for legacy EL8 Dockerfiles
  renovate.json
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test
