Repository openshift/assisted-installer: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    workflow: assisted-baremetal

e2e-metal-assisted-cnv:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'OLM_OPERATORS=cnv
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ocs:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'OLM_OPERATORS=ocs
  
        '
    workflow: assisted-baremetal

NO-ISSUE: Reverting removal of dependabot image bumps (#459)
  .github/dependabot.yml
Due: e2e-metal-assisted

MGMT-10085: Cleanup disk which is part of a raid and have lvm on it Cleanup Raid PVs and VGs before stopping it and removing the installation disk membership.
  src/installer/installer.go
  src/installer/installer_test.go
  src/ops/mock_ops.go
  src/ops/ops.go
Due: e2e-metal-assisted

MGMT-10085: Cleanup disk which is part of a raid and have lvm on it (#460)
  src/installer/installer.go
  src/installer/installer_test.go
  src/ops/mock_ops.go
  src/ops/ops.go
Due: e2e-metal-assisted

MGMT-9379: Disregard HA mode for worker. When adding a worker to a 2nd day cluster, HA mode is irrelevant, so we shall not be passing it here.
  src/config/config.go
  src/config/config_test.go
  src/installer/installer.go
Due: e2e-metal-assisted

MGMT-9379: Disregard HA mode for worker. (#451)
  src/config/config.go
  src/config/config_test.go
  src/installer/installer.go
Due: e2e-metal-assisted

MGMT-10003: save-partlabel and save-partindex coreos-installer args are not honored because the partition is formatted previously (#469)
  src/config/config.go
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-metal-assisted

NO-ISSUE: update bluemonday/runc/ignition packages
  go.mod
  go.sum
Due: e2e-metal-assisted

MGMT-9379: Fix arguments to make sure that HighAvailabilityMode is updated correctly to ensure it is unset for workers.
  src/config/config.go
  src/config/config_test.go
  src/config/dry_run_config.go
  src/main/main.go
Due: e2e-metal-assisted

MGMT-9379: Fix arguments to make sure that HighAvailabilityMode is (#475)
  src/config/config.go
  src/config/config_test.go
  src/config/dry_run_config.go
  src/main/main.go
Due: e2e-metal-assisted

efibootmgr WIP
  src/ops/ops.go
Due: e2e-metal-assisted

Bug 2055978: host fail to boot from installation disk in case of multiple active "Red Hat Enterprise Linux" boot entries Removing duplicate efi boot entries
  src/ops/ops.go
Due: e2e-metal-assisted

Bug 2055978: host fail to boot from installation disk in case of multiple active "Red Hat Enterprise Linux" boot entries (#477)
  src/ops/ops.go
Due: e2e-metal-assisted

MGMT-10450: Timeout writing to disk reported from bootstrap node when failing to start bootkube After writing to disk we will update status to waiting for control plane with info relevant to the state
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-metal-assisted

MGMT-10450: Timeout writing to disk reported from bootstrap node when failing to start bootkube (#478)
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-metal-assisted

NO-ISSUE: update bluemonday/runc/ignition packages (#474)
  go.mod
  go.sum
Due: e2e-metal-assisted

AGENT-75: Add assisted installer images into OCP playload for Agent Work
  Dockerfile.assisted-installer-controller.ocp
  Dockerfile.assisted-installer.ocp
Due: e2e-metal-assisted

NO-ISSUE: Add paul-maidment to approvers
  OWNERS_ALIASES
Due: none

NO-ISSUE: Add paul-maidment to approvers (#480)
  OWNERS_ALIASES
Due: none

NO-ISSUE: Updating ose-agent-installer-orchestrator images to be consistent with ART (#485)
  .ci-operator.yaml
  Dockerfile.assisted-installer.ocp
Due: e2e-metal-assisted

NO-ISSUE: Updating ose-agent-installer-csr-approver images to be consistent with ART (#484)
  Dockerfile.assisted-installer-controller.ocp
Due: e2e-metal-assisted

MGMT-10330: Do not restart network manager on single node clusters
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-metal-assisted

MGMT-10330: Do not restart network manager on single node clusters (#462)
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-metal-assisted

AGENT-75: Add assisted installer images into OCP playload for Agent Work (#479)
  Dockerfile.assisted-installer-controller.ocp
  Dockerfile.assisted-installer.ocp
Due: e2e-metal-assisted

NO-ISSUE: fix typo in word 'operators'
  src/assisted_installer_controller/assisted_installer_controller.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

NO-ISSUE: fix typo in word 'operators' (#486)
  src/assisted_installer_controller/assisted_installer_controller.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

NO-ISSUE: In case must-gather upload failed but logs were gathered already we should retry only upload part
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/ops/ops.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

NO-ISSUE: In case must-gather upload failed but logs were gathered (#487)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/ops/ops.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-10660: Refactor assisted-installer ops code to allow writing unitests
  go.sum
  src/installer/installer.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/ops/execute/execute.go
  src/ops/execute/execute_test.go
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-metal-assisted

MGMT-10660: Refactor assisted-installer ops code to allow writing unitests (#488)
  go.sum
  src/installer/installer.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/ops/execute/execute.go
  src/ops/execute/execute_test.go
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-metal-assisted

NO-ISSUE: Add @rccrdpccl as approver
  OWNERS_ALIASES
Due: none

NO-ISSUE: Add @rccrdpccl as approver (#492)
  OWNERS_ALIASES
Due: none

NO-ISSUE: add stage info in case converged flow is enabled This should allow us to know if the assisted installer triggred the reboot or not
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-metal-assisted

NO-ISSUE: add stage info in case converged flow is enabled (#493)
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-metal-assisted

NO-ISSUE: generating mock for execute.go
  src/ops/execute/execute.go
  src/ops/execute/mock_execute.go
  src/ops/mock_ops.go
Due: e2e-metal-assisted

MGMT-11063: assisted-installer isn't sending the host logs in case the installation was successful and cacert was added
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-metal-assisted

MGMT-11063: assisted-installer isn't sending the host logs in case the installation was successful and cacert was added (#495)
  src/ops/execute/execute.go
  src/ops/execute/mock_execute.go
  src/ops/mock_ops.go
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-metal-assisted

MGMT-11100: Adding get router status logic in case of sno failure. (#497)
  deploy/assisted-installer-controller/assisted-installer-controller-role.yaml
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
  src/utils/utils.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-8855: repeated event messages in wait for olm operators due to cache hits
  src/inventory_client/inventory_client.go
Due: e2e-metal-assisted

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-cnv: any of: ^(src/assisted_installer_controller/.*)$
  e2e-metal-assisted-ocs: any of: ^(src/assisted_installer_controller/.*)$
