Repository openshift/assisted-installer: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    workflow: assisted-baremetal

e2e-metal-assisted-cnv:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'OLM_OPERATORS=cnv
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ocs:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'OLM_OPERATORS=ocs
  
        '
    workflow: assisted-baremetal

MGMT-12057: Remove enablement of router access logs in controller, not needed anymore (#542)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-12070: Assisted controller should not set status done on host more than once
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

NO-ISSUE: add Adrien as a maintainer
  OWNERS_ALIASES
Due: none

NO-ISSUE: add Adrien as a maintainer (#544)
  OWNERS_ALIASES
Due: none

MGMT-12070: Assisted controller should not set status done on host more than once (#543)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

Revert struct default
  src/assisted_installer_controller/assisted_installer_controller.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-12055: Assisted controller should log if one of the nodes changed it's ip after reboot
  src/assisted_installer_controller/assisted_installer_controller.go
  src/common/common.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-12055: Assisted controller should log if one of the nodes changed it's ip after reboot (#545)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/common/common.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-12115: assisted-installer-controller Job does not apply Additional Root CA Trust Bundle
  deploy/assisted-installer-controller/assisted-installer-controller-pod.yaml.template
Due: e2e-metal-assisted

Update approvers and reviewers lists
  OWNERS
  OWNERS_ALIASES
Due: none

Update approvers and reviewers lists (#550)
  OWNERS
  OWNERS_ALIASES
Due: none

MGMT-12115: assisted-installer-controller Job does not apply Additional Root CA Trust Bundle (#551)
  deploy/assisted-installer-controller/assisted-installer-controller-pod.yaml.template
Due: e2e-metal-assisted

NO-ISSUE: Remove unused function RemoveLV
  src/ops/mock_ops.go
  src/ops/ops.go
Due: e2e-metal-assisted

MGMT-12115: Fix wrong formatting in Controller Pod definition
  deploy/assisted-installer-controller/assisted-installer-controller-pod.yaml.template
Due: e2e-metal-assisted

NO-ISSUE: Remove unused function RemoveLV (#552)
  src/ops/mock_ops.go
  src/ops/ops.go
Due: e2e-metal-assisted

MGMT-12115: Fix wrong formatting in Controller Pod definition (#553)
  deploy/assisted-installer-controller/assisted-installer-controller-pod.yaml.template
Due: e2e-metal-assisted

MGMT-12077: Assisted Installer doesn't remove a PV if it's not attached to a volume group
  src/installer/installer.go
  src/installer/installer_test.go
  src/ops/mock_ops.go
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-metal-assisted

MGMT-12077: Assisted Installer doesn't remove a PV if it's not attached to a volume group (#558)
  src/installer/installer.go
  src/installer/installer_test.go
  src/ops/mock_ops.go
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-metal-assisted

Updating ose-agent-installer-orchestrator images to be consistent with ART (#557)
  .ci-operator.yaml
  Dockerfile.assisted-installer.ocp
Due: e2e-metal-assisted

MGMT-12305: Fix a vulnerability which could cause a denial of service on version v0.3.7 of golang.org/x/text/language.
  go.mod
  go.sum
  vendor/golang.org/x/text/AUTHORS
  vendor/golang.org/x/text/CONTRIBUTORS
  vendor/golang.org/x/text/cases/trieval.go
  vendor/golang.org/x/text/encoding/htmlindex/tables.go
  vendor/golang.org/x/text/encoding/internal/identifier/mib.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/gbk.go
  vendor/golang.org/x/text/internal/language/compact/tables.go
  vendor/golang.org/x/text/internal/language/lookup.go
  vendor/golang.org/x/text/internal/language/parse.go
  vendor/golang.org/x/text/internal/language/tables.go
  vendor/golang.org/x/text/internal/utf8internal/utf8internal.go
  vendor/golang.org/x/text/language/doc.go
  vendor/golang.org/x/text/language/match.go
  vendor/golang.org/x/text/language/parse.go
  vendor/golang.org/x/text/language/tables.go
  vendor/golang.org/x/text/secure/precis/profile.go
  vendor/golang.org/x/text/unicode/bidi/core.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/golang.org/x/text/unicode/norm/normalize.go
  vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
  vendor/golang.org/x/text/width/tables10.0.0.go
  vendor/golang.org/x/text/width/tables11.0.0.go
  vendor/golang.org/x/text/width/tables12.0.0.go
  vendor/golang.org/x/text/width/tables13.0.0.go
  vendor/golang.org/x/text/width/tables9.0.0.go
  vendor/modules.txt
Due: e2e-metal-assisted

MGMT-12305: Fix a vulnerability which could cause a denial of service on version v0.3.7 of golang.org/x/text/language. (#565)
  go.mod
  go.sum
  vendor/golang.org/x/text/AUTHORS
  vendor/golang.org/x/text/CONTRIBUTORS
  vendor/golang.org/x/text/cases/trieval.go
  vendor/golang.org/x/text/encoding/htmlindex/tables.go
  vendor/golang.org/x/text/encoding/internal/identifier/mib.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/gbk.go
  vendor/golang.org/x/text/internal/language/compact/tables.go
  vendor/golang.org/x/text/internal/language/lookup.go
  vendor/golang.org/x/text/internal/language/parse.go
  vendor/golang.org/x/text/internal/language/tables.go
  vendor/golang.org/x/text/internal/utf8internal/utf8internal.go
  vendor/golang.org/x/text/language/doc.go
  vendor/golang.org/x/text/language/match.go
  vendor/golang.org/x/text/language/parse.go
  vendor/golang.org/x/text/language/tables.go
  vendor/golang.org/x/text/secure/precis/profile.go
  vendor/golang.org/x/text/unicode/bidi/core.go
  vendor/golang.org/x/text/unicode/norm/forminfo.go
  vendor/golang.org/x/text/unicode/norm/normalize.go
  vendor/golang.org/x/text/unicode/norm/tables13.0.0.go
  vendor/golang.org/x/text/width/tables10.0.0.go
  vendor/golang.org/x/text/width/tables11.0.0.go
  vendor/golang.org/x/text/width/tables12.0.0.go
  vendor/golang.org/x/text/width/tables13.0.0.go
  vendor/golang.org/x/text/width/tables9.0.0.go
  vendor/modules.txt
Due: e2e-metal-assisted

Updating ose-agent-installer-csr-approver images to be consistent with ART (#535)
  Dockerfile.assisted-installer-controller.ocp
Due: e2e-metal-assisted

NO-ISSUE: improvement on gathering controller logs, validating that buffer is not empty
  src/common/common.go
Due: e2e-metal-assisted

NO-ISSUE: improvement on gathering controller logs, validating that buffer is not empty (#567)
  src/common/common.go
Due: e2e-metal-assisted

OCPBUGS-3166: assisted-installer: pod creation fails due to violations of security policies in 4.12 Adding privileged labels to namespace
  deploy/assisted-installer-controller/assisted-installer-controller-nm.yaml
Due: e2e-metal-assisted

OCPBUGS-3166: assisted-installer: pod creation fails due to violations of security policies in 4.12 (#568)
  deploy/assisted-installer-controller/assisted-installer-controller-nm.yaml
Due: e2e-metal-assisted

MGMT-12467: Remove special handling for installing OCP < 4.7 This means that the installer will no longer support installing OCP-4.6
  src/assisted_installer_controller/assisted_installer_controller.go
  src/installer/installer.go
  src/installer/installer_test.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/utils/utils.go
  src/utils/utils_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-12469: Add resolv.conf content to controller logs in order to improve dns issue visibility (#572)
  deploy/assisted-installer-controller/assisted-installer-controller-pod.yaml.template
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/ops/mock_ops.go
  src/ops/ops.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

NO-ISSUE: Log informative error in case subscription doesn't have CSV
  src/k8s_client/k8s_client.go
Due: e2e-metal-assisted

MGMT-12467: Remove special handling for installing OCP < 4.7 (#571)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/installer/installer.go
  src/installer/installer_test.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/utils/utils.go
  src/utils/utils_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

NO-ISSUE: Update to Go 1.19
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller
  go.mod
  go.sum
Due: e2e-metal-assisted

NO-ISSUE: change all 'go get' commands to 'go install'
  Dockerfile.assisted-installer-build
Due: e2e-metal-assisted

NO-ISSUE: Log informative error in case subscription doesn't have CSV (#573)
  src/k8s_client/k8s_client.go
Due: e2e-metal-assisted

NO-ISSUE: change all 'go get' commands to 'go install' (#580)
  Dockerfile.assisted-installer-build
Due: e2e-metal-assisted

MGMT-12471: Don't wait for console if it is disabled
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/assisted_installer_controller/operator_handler.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
  src/main/drymock/dry_mode_k8s_mock.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-12471: Don't wait for console if it is disabled (#574)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/assisted_installer_controller/operator_handler.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
  src/main/drymock/dry_mode_k8s_mock.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

OCPBUGSM-46219: OCPBUGSM-46220: Update golang version to 1.18.1. Update golangci to v1.46.0
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller
  go.mod
  src/assisted_installer_controller/operator_handler.go
  src/ignition/mock_ignition.go
  src/inventory_client/mock_inventory_client.go
  src/k8s_client/mock_k8s_client.go
  src/ops/execute/mock_execute.go
  src/ops/mock_ops.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

OCPBUGSM-46219: OCPBUGSM-46220: Update golang version to 1.18.1. (#581)
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller
  go.mod
  src/assisted_installer_controller/operator_handler.go
  src/ignition/mock_ignition.go
  src/inventory_client/mock_inventory_client.go
  src/k8s_client/mock_k8s_client.go
  src/ops/execute/mock_execute.go
  src/ops/mock_ops.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-12840: set restricted list of approvers for 2.7
  OWNERS_ALIASES
Due: none

MGMT-12840: set restricted list of approvers for 2.7 (#586)
  OWNERS_ALIASES
Due: none

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-cnv: any of: ^(src/assisted_installer_controller/.*)$
  e2e-metal-assisted-ocs: any of: ^(src/assisted_installer_controller/.*)$
