Repository openshift/assisted-installer: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    workflow: assisted-baremetal

e2e-metal-assisted-cnv:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'OLM_OPERATORS=cnv
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ocs:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'OLM_OPERATORS=ocs
  
        '
    workflow: assisted-baremetal

MGMT-13595: Allow moving node from rebooting to joined (#628)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

Remove uninitialized taint from vSphere nodes
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/installer/installer.go
  src/installer/installer_test.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-13657: Don't wait for console if it is disabled - ACM 2.6
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/assisted_installer_controller/operator_handler.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
  src/main/drymock/dry_mode_k8s_mock.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-13664: Don't crash if operator isn't monitored by service
  src/assisted_installer_controller/operator_handler.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-13657: Don't wait for console if it is disabled - ACM 2.6 (#634)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/assisted_installer_controller/operator_handler.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
  src/main/drymock/dry_mode_k8s_mock.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

Remove uninitialized taint from vSphere nodes (#629)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/installer/installer.go
  src/installer/installer_test.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-13664: Don't crash if operator isn't monitored by service (#635)
  src/assisted_installer_controller/operator_handler.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-13292: Add the installed version of the OLM operators in the monitor operators response
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/assisted_installer_controller/operator_handler.go
  src/inventory_client/inventory_client.go
  src/inventory_client/mock_inventory_client.go
  vendor/github.com/openshift/assisted-service/models/drive_type.go
  vendor/github.com/openshift/assisted-service/models/monitored_operator.go
  vendor/github.com/openshift/assisted-service/models/operator_monitor_report.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-13292: Add generated files
  go.mod
  go.sum
  src/assisted_installer_controller/assisted_installer_controller_test.go
  vendor/github.com/openshift/assisted-service/client/installer/installer_client.go
  vendor/github.com/openshift/assisted-service/client/installer/v2_get_ignored_validations_parameters.go
  vendor/github.com/openshift/assisted-service/client/installer/v2_get_ignored_validations_responses.go
  vendor/github.com/openshift/assisted-service/client/installer/v2_set_ignored_validations_parameters.go
  vendor/github.com/openshift/assisted-service/client/installer/v2_set_ignored_validations_responses.go
  vendor/github.com/openshift/assisted-service/internal/common/common.go
  vendor/github.com/openshift/assisted-service/internal/common/common_unitest_db.go
  vendor/github.com/openshift/assisted-service/internal/common/conversions.go
  vendor/github.com/openshift/assisted-service/internal/common/db.go
  vendor/github.com/openshift/assisted-service/internal/common/test_configuration.go
  vendor/github.com/openshift/assisted-service/internal/common/validations.go
  vendor/github.com/openshift/assisted-service/internal/common/version.go
  vendor/github.com/openshift/assisted-service/internal/constants/files.go
  vendor/github.com/openshift/assisted-service/models/cluster.go
  vendor/github.com/openshift/assisted-service/models/cluster_create_params.go
  vendor/github.com/openshift/assisted-service/models/ignored_validations.go
  vendor/github.com/openshift/assisted-service/models/infra_env.go
  vendor/github.com/openshift/assisted-service/models/infra_env_create_params.go
  vendor/github.com/openshift/assisted-service/models/os_image.go
  vendor/github.com/openshift/assisted-service/models/release_image.go
  vendor/github.com/openshift/assisted-service/pkg/auth/rhsso_authz_handler.go
  vendor/github.com/openshift/assisted-service/pkg/ocm/utils.go
  vendor/github.com/openshift/assisted-service/restapi/configure_assisted_install.go
  vendor/github.com/openshift/assisted-service/restapi/embedded_spec.go
  vendor/github.com/openshift/assisted-service/restapi/operations/assisted_install_api.go
  vendor/github.com/openshift/assisted-service/restapi/operations/installer/v2_get_ignored_validations.go
  vendor/github.com/openshift/assisted-service/restapi/operations/installer/v2_get_ignored_validations_parameters.go
  vendor/github.com/openshift/assisted-service/restapi/operations/installer/v2_get_ignored_validations_responses.go
  vendor/github.com/openshift/assisted-service/restapi/operations/installer/v2_get_ignored_validations_urlbuilder.go
  vendor/github.com/openshift/assisted-service/restapi/operations/installer/v2_set_ignored_validations.go
  vendor/github.com/openshift/assisted-service/restapi/operations/installer/v2_set_ignored_validations_parameters.go
  vendor/github.com/openshift/assisted-service/restapi/operations/installer/v2_set_ignored_validations_responses.go
  vendor/github.com/openshift/assisted-service/restapi/operations/installer/v2_set_ignored_validations_urlbuilder.go
  vendor/modules.txt
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

Revert "MGMT-13595: Allow moving node from rebooting to joined (#628)"
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-13568: Add pause mcp while setting new role labels Assisted controller should pause worker mcp if worker host has custom role lable added
  deploy/assisted-installer-controller/assisted-installer-controller-role.yaml
  go.mod
  go.sum
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
  vendor/github.com/openshift/machine-config-operator/LICENSE
  vendor/github.com/openshift/machine-config-operator/pkg/apis/machineconfiguration.openshift.io/v1/doc.go
  vendor/github.com/openshift/machine-config-operator/pkg/apis/machineconfiguration.openshift.io/v1/helpers.go
  vendor/github.com/openshift/machine-config-operator/pkg/apis/machineconfiguration.openshift.io/v1/register.go
  vendor/github.com/openshift/machine-config-operator/pkg/apis/machineconfiguration.openshift.io/v1/types.go
  vendor/github.com/openshift/machine-config-operator/pkg/apis/machineconfiguration.openshift.io/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

Revert "MGMT-13595: Allow moving node from rebooting to joined (#628)" (#636)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-13568: Add pause mcp while setting new role labels (#623)
  deploy/assisted-installer-controller/assisted-installer-controller-role.yaml
  go.mod
  go.sum
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
  vendor/github.com/openshift/machine-config-operator/LICENSE
  vendor/github.com/openshift/machine-config-operator/pkg/apis/machineconfiguration.openshift.io/v1/doc.go
  vendor/github.com/openshift/machine-config-operator/pkg/apis/machineconfiguration.openshift.io/v1/helpers.go
  vendor/github.com/openshift/machine-config-operator/pkg/apis/machineconfiguration.openshift.io/v1/register.go
  vendor/github.com/openshift/machine-config-operator/pkg/apis/machineconfiguration.openshift.io/v1/types.go
  vendor/github.com/openshift/machine-config-operator/pkg/apis/machineconfiguration.openshift.io/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

NO-ISSUE: replaced ioutil.WriteFile with os.WriteFile
  src/ignition/ignition.go
Due: e2e-metal-assisted

NO-ISSUE: fixing lint issue cause by using iotil
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/common/common.go
  src/common/common_test.go
  src/ignition/ignition.go
  src/installer/installer_test.go
  src/inventory_client/inventory_client.go
  src/main/assisted-installer-controller/assisted_installer_main_test.go
  src/ops/coreos_installer_log_writer_test.go
  src/ops/ops.go
  src/utils/tarutil_test.go
  src/utils/utils_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

NO-ISSUE: fixing lint issue cause by using iotil
  src/common/common.go
Due: e2e-metal-assisted

NO-ISSUE: Replace iotil by os and io in order to fix lint issues (#642)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/common/common.go
  src/common/common_test.go
  src/ignition/ignition.go
  src/installer/installer_test.go
  src/inventory_client/inventory_client.go
  src/main/assisted-installer-controller/assisted_installer_main_test.go
  src/ops/coreos_installer_log_writer_test.go
  src/ops/ops.go
  src/utils/tarutil_test.go
  src/utils/utils_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

OCPBUGS-7662: Upgrade helm to v3.11.1
  go.mod
  go.sum
Due: e2e-metal-assisted

MGMT-13710: assisted-installer-controller hangs for 2 minutes before uploading the ingress CA (#638)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/assisted_installer_controller/operator_handler.go
  src/inventory_client/inventory_client.go
  src/utils/utils.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

Add unit test for SetBootOrder
  src/ops/ops_test.go
Due: e2e-metal-assisted

Changed to check bootlist exist, not use runtime.GOARCH check
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-metal-assisted

Fixed lint problem.
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-metal-assisted

MULTIARCH-3387: Set boot device to target disk for powervm (#626)
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-metal-assisted

Add a guide to prepare a live disk image
  generic-boot-disk.adoc
Due: e2e-metal-assisted

NO-ISSUE: Adding log operator status conditions
  src/assisted_installer_controller/operator_handler.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

NO-ISSUE: controller logs optimizations (#646)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/operator_handler.go
  src/common/common.go
  src/utils/tarutil.go
  src/utils/utils.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

Updating ose-agent-installer-csr-approver images to be consistent with ART (#587)
  Dockerfile.assisted-installer-controller.ocp
Due: e2e-metal-assisted

MGMT-14114: Nutanix - uninitialized set on nodes Setting removeuninitializedtaint to true in case of nutanix, same as vpshere
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted

MGMT-14114: Nutanix - uninitialized set on nodes (#653)
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted

OCPBUGS-7149: IPv6 multinode spoke no moving from rebooting/configuring stage Update the mcs log regex (#631)
  src/common/common.go
  src/common/common_test.go
  test_files/mcs_logs.txt
Due: e2e-metal-assisted

MGMT-12967: Create network policy in assisted-installer namespace
  deploy/assisted-installer-controller/assisted-installer-controller-network-policy.yaml
Due: e2e-metal-assisted

NO-ISSUE: Add javipolo to approvers
  OWNERS_ALIASES
Due: none

MGMT-12967: Create network policy in assisted-installer namespace (#658)
  deploy/assisted-installer-controller/assisted-installer-controller-network-policy.yaml
Due: e2e-metal-assisted

NO-ISSUE: Add javipolo to approvers (#659)
  OWNERS_ALIASES
Due: none

MGMT-14299: Limit untaint nodes to vsphere/nutanix
  src/common/common.go
  src/common/common_test.go
  src/installer/installer.go
  src/installer/installer_test.go
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted

MGMT-14299: Limit untaint nodes to vsphere/nutanix (#660)
  src/common/common.go
  src/common/common_test.go
  src/installer/installer.go
  src/installer/installer_test.go
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted

Updating ose-agent-installer-csr-approver images to be consistent with ART (#651)
  .ci-operator.yaml
  Dockerfile.assisted-installer-controller.ocp
Due: e2e-metal-assisted

NO-ISSUE: Remove slaviered from project OWNERS
  OWNERS_ALIASES
Due: none

NO-ISSUE: Remove slaviered from project OWNERS (#669)
  OWNERS_ALIASES
Due: none

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-cnv: any of: ^(src/assisted_installer_controller/.*)$
  e2e-metal-assisted-ocs: any of: ^(src/assisted_installer_controller/.*)$
