Repository openshift/assisted-installer: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    workflow: assisted-baremetal

e2e-metal-assisted-cnv:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'OLM_OPERATORS=cnv
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ocs:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'OLM_OPERATORS=ocs
  
        '
    workflow: assisted-baremetal

ci/prow/edge-e2e-ai-operator-ztp:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/cluster: build03
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.12'
  ...

ci/prow/edge-e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci-operator.openshift.io/cluster: build03
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.12'
  ...

ci/prow/edge-format-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.12'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/edge-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.12'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/edge-unit-test:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: edge
    ci.openshift.io/generator: prowgen
    job-release: '4.12'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

MGMT-13586: Wait for ETCD Bootstrap to complete
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-13586: Wait for ETCD Bootstrap to complete (#670)
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-13586: Wait for ETCD Bootstrap to complete (#671)
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-14384: Set restricted list of approvers for the new branch
  OWNERS_ALIASES
Due: none

MGMT-14384: Set restricted list of approvers for the new branch (#675)
  OWNERS_ALIASES
Due: none

OCPBUGS-15068 CVE-2022-21235 github.com/Masterminds/vcs command inj
  go.mod
  go.sum
  vendor/modules.txt
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

OCPBUGS-15068 CVE-2022-21235 github.com/Masterminds/vcs command inj (#681)
  go.mod
  go.sum
  vendor/modules.txt
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: Update OWNERS to match master branch
  OWNERS
  OWNERS_ALIASES
Due: none

NO-ISSUE: Update OWNERS to match master branch (#682)
  OWNERS
  OWNERS_ALIASES
Due: none

OCPBUGS-7149: IPv6 multinode spoke no moving from rebooting/configuring stage Update the mcs log regex (#632)
  src/common/common.go
  src/common/common_test.go
  test_files/mcs_logs.txt
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15235: Compile with CGO_ENABLED=1 for FIPS
  Makefile
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15235: Compile with CGO_ENABLED=1 for FIPS (#683)
  Makefile
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15235: Compile with CGO_ENABLED=1 for FIPS (#684)
  Makefile
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15235: Compile with CGO_ENABLED=1 for FIPS (#686)
  Makefile
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15235: Compile with CGO_ENABLED=1 for FIPS (#685)
  Makefile
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Use rhel-9-golang-1.20 as a base image
  Dockerfile.assisted-installer-controller.ocp
  Dockerfile.assisted-installer.ocp
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15344: Assisted-controller should not timeout on waiting cvo by itself
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15344: Assisted-controller should not timeout on waiting cvo by itself (#688)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15343: dependabot group updates
  .github/dependabot.yml
Due: e2e-metal-assisted

remove Docker updates
  .github/dependabot.yml
Due: e2e-metal-assisted

MGMT-15343: dependabot group updates (#692)
  .github/dependabot.yml
Due: e2e-metal-assisted

Revert "MGMT-15235: Compile with CGO_ENABLED=1 for FIPS (#683)"
  Makefile
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Updating ose-agent-installer-orchestrator images to be consistent with ART (#652)
  Dockerfile.assisted-installer.ocp
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15398: Use ubi golang base image to fix multi-arch builds
  Dockerfile.assisted-installer
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Revert "MGMT-15235: Compile with CGO_ENABLED=1 for FIPS (#683)" (#693)
  Makefile
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15235: Compile with CGO_ENABLED=1 for amd64
  Makefile
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-15235: Compile with CGO_ENABLED=1 for amd64 (#699)
  Makefile
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

OCPBUGS-4240: allow controller to complete for agent-based installs
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

OCPBUGS-16482: bump golangci-lint to 1.53.1
  Dockerfile.assisted-installer-build
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

OCPBUGS-4240: allow controller to complete for agent-based installs (#700)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

OCPBUGS-16482: bump golangci-lint to 1.53.1 (#702)
  Dockerfile.assisted-installer-build
Due: e2e-metal-assisted, ci/prow/edge-e2e-ai-operator-ztp, ci/prow/edge-e2e-metal-assisted, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: dependabot exclude k8s
  .github/dependabot.yml
Due: e2e-metal-assisted

Update .github/dependabot.yml
  .github/dependabot.yml
Due: e2e-metal-assisted

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-cnv: any of: ^(src/assisted_installer_controller/.*)$
  e2e-metal-assisted-ocs: any of: ^(src/assisted_installer_controller/.*)$
  ci/prow/edge-e2e-ai-operator-ztp: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/edge-e2e-metal-assisted: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/edge-format-check: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/edge-lint: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/edge-unit-test: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
