Repository openshift/assisted-installer: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-olm

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    workflow: baremetalds-assisted-install

e2e-metal-assisted-olm:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_olm_operator
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

MGMT-7912: getmonitors operator cache should not return value on any (#375)
  src/inventory_client/inventory_client.go
Due: e2e-metal-assisted

MGMT-8240: Controller should validate that console and cvo statuses were both updated in service
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

MGMT-8238: assisted-controller should send all logs and not just the last 2 hours
  src/assisted_installer_controller/assisted_installer_controller.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

Latest triage issues fixes (#377)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

NO-ISSUE - add eliorerz and celebdor to owners
  OWNERS_ALIASES
Due: none

NO-ISSUE - add eliorerz and celebdor to owners (#378)
  OWNERS_ALIASES
Due: none

MGMT-8064: Dry mode multi-node cluster support
  src/config/dry_run_config.go
  src/k8s_client/k8s_client.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/main/drymock/dry_mode_k8s_mock.go
  src/main/main.go
  src/ops/ops.go
Due: e2e-metal-assisted

MGMT-8064: Dry mode multi-node cluster support (#379)
  src/config/dry_run_config.go
  src/k8s_client/k8s_client.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/main/drymock/dry_mode_k8s_mock.go
  src/main/main.go
  src/ops/ops.go
Due: e2e-metal-assisted

MGMT-8293: Adapt assisted installer to latest swagger changes
  go.mod
  go.sum
  src/inventory_client/inventory_client.go
Due: e2e-metal-assisted

MGMT-8293: Adapt assisted installer to latest swagger changes (#380)
  go.mod
  go.sum
  src/inventory_client/inventory_client.go
Due: e2e-metal-assisted

MGMT-8330: Minimize number of inventory client retries in assisted-controller (#381)
  src/inventory_client/inventory_client.go
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted

NO-ISSUE: fix owners list
  OWNERS_ALIASES
Due: none

NO-ISSUE: fix owners list (#382)
  OWNERS_ALIASES
Due: none

MGMT-8781: Fix controller updating configuring status with stale data
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

MGMT-8781: Fix controller updating configuring status with stale data (#383)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

MGMT-8064: Improve performance of installer/controller dry mode in multi-node clusters
  src/assisted_installer_controller/assisted_installer_controller.go
  src/config/dry_run_config.go
  src/inventory_client/inventory_client.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/main/drymock/dry_mode_k8s_mock.go
  src/main/main.go
  src/ops/mock_ops.go
  src/ops/ops.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

MGMT-8064: Improve performance of installer/controller dry mode in multi-node clusters (#386)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/config/dry_run_config.go
  src/inventory_client/inventory_client.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/main/drymock/dry_mode_k8s_mock.go
  src/main/main.go
  src/ops/mock_ops.go
  src/ops/ops.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

NO-ISSUE: update assisted-service package
  go.mod
  go.sum
Due: e2e-metal-assisted

NO-ISSUE: update assisted-service package (#387)
  go.mod
  go.sum
Due: e2e-metal-assisted

MGMT-8321: try to clean disk even if there is no VG on it Supporting raid device cleanup
  src/installer/installer.go
  src/installer/installer_test.go
  src/ops/mock_ops.go
  src/ops/ops.go
Due: e2e-metal-assisted

MGMT-8321: try to clean disk even if there is no VG on it (#385)
  src/installer/installer.go
  src/installer/installer_test.go
  src/ops/mock_ops.go
  src/ops/ops.go
Due: e2e-metal-assisted

MGMT-7760: Switch to stream8
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-controller
Due: e2e-metal-assisted

MGMT-7760: Switch to stream8 (#403)
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-controller
Due: e2e-metal-assisted

NO-ISSUE: Bump baremetal-operator to the same version as assiste-service
  go.mod
  go.sum
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
  src/main/drymock/dry_mode_k8s_mock.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

NO-ISSUE: Bump baremetal-operator to the same version as assiste-service (#404)
  go.mod
  go.sum
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
  src/main/drymock/dry_mode_k8s_mock.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

NO-ISSUE: Update go-openapi/runtime and fix url building
  go.mod
  go.sum
  src/inventory_client/inventory_client.go
Due: e2e-metal-assisted

NO-ISSUE: Update go-openapi/runtime and fix url building (#407)
  go.mod
  go.sum
  src/inventory_client/inventory_client.go
Due: e2e-metal-assisted

MGMT-9188: Publish coverage report
  .codecov.yml
  Makefile
  hack/publish-codecov.sh
Due: e2e-metal-assisted

MGMT-9188: Publish coverage report (#412)
  .codecov.yml
  Makefile
  hack/publish-codecov.sh
Due: e2e-metal-assisted

NO-ISSUE: Fix error log printing the wrong error variable
  src/config/dry_run_config.go
Due: e2e-metal-assisted

NO-ISSUE: Jenkins should only build images
  Jenkinsfile
Due: e2e-metal-assisted

NO-ISSUE: Swarm fix - controller looks at wrong env var to cluster hosts config
  src/assisted_installer_controller/assisted_installer_controller.go
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

NO-ISSUE: Fix go-mock 1.5.0->1.6.0 backwards compat issue
  go.sum
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/main/drymock/dry_mode_k8s_mock.go
Due: e2e-metal-assisted

NO-ISSUE: Fix error log printing the wrong error variable (#413)
  src/config/dry_run_config.go
Due: e2e-metal-assisted

NO-ISSUE: Jenkins should only build images (#414)
  Jenkinsfile
Due: e2e-metal-assisted

Fixing dry-mode issues / regressions (#415)
  go.sum
  src/assisted_installer_controller/assisted_installer_controller.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/main/drymock/dry_mode_k8s_mock.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

NO-ISSUE: Fix jenkins build
  Jenkinsfile
Due: e2e-metal-assisted

NO-ISSUE: Fix jenkins build (#416)
  Jenkinsfile
Due: e2e-metal-assisted

NO-ISSUE: remove Jenkins job files
  Jenkinsfile
  Makefile
Due: e2e-metal-assisted

NO-ISSUE: remove Jenkins job files (#417)
  Jenkinsfile
  Makefile
Due: e2e-metal-assisted

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-olm: any of: ^(src/assisted_installer_controller/.*)$
