Repository openshift/assisted-installer: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-cnv: any of: ^(src/assisted_installer_controller/.*)$
  e2e-metal-assisted-ocs: any of: ^(src/assisted_installer_controller/.*)$

MGMT-8855: repeated event messages in wait for olm operators due to (#499)
  src/inventory_client/inventory_client.go
Due: e2e-metal-assisted

NO-ISSUE: Perform randome sleep before reboot for workers In order to avoid many ignition pulls at once, perform random sleep for workers between 0-30 minutes before rebooting
  src/installer/installer.go
Due: e2e-metal-assisted

BZ-2107887: misleading configuring state when installing with assisted-installer
  src/common/common.go
  src/common/common_test.go
  test_files/mcs_logs.txt
Due: e2e-metal-assisted

BZ-2107887: misleading configuring state when installing with assisted-installer (#501)
  src/common/common.go
  src/common/common_test.go
  test_files/mcs_logs.txt
Due: e2e-metal-assisted

MGMT-11106: Writing controller logs to file in order to be able to send them in case of kube-api failure
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/common/common.go
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-11106: Writing controller logs to file in order to be able to send (#506)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/common/common.go
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

NO-ISSUE: Add `jhernand` to `OWNERS_ALIASES`
  OWNERS_ALIASES
Due: none

NO-ISSUE: Add `jhernand` to `OWNERS_ALIASES` (#507)
  OWNERS_ALIASES
Due: none

MGMT-11365: fix flaky installation of golangci-lint
  Dockerfile.assisted-installer-build
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/ops/ops.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-11365: fix flaky installation of golangci-lint (#510)
  Dockerfile.assisted-installer-build
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/ops/ops.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-11100: changing url for router status check from console to canary
  src/assisted_installer_controller/assisted_installer_controller.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-11100: changing url for router status check from console to canary (#512)
  src/assisted_installer_controller/assisted_installer_controller.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

Update assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

Add default CA Path
  src/config/config.go
Due: e2e-metal-assisted

MGMT-10085: Get real filepath of RAID device
  src/ops/ops.go
Due: e2e-metal-assisted

MGMT-10085: Get real filepath of RAID device (#517)
  src/ops/ops.go
Due: e2e-metal-assisted

Bug 2119308: save-partlabel and save-partindex coreos-installer args are not honored because the partition is formatted previously
  src/config/config.go
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-metal-assisted

MGMT-11365: fix flaky installation of golangci-lint (#510) (#520)
  Dockerfile.assisted-installer-build
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/ops/ops.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

Bug 2119308: save-partlabel and save-partindex coreos-installer args are not honored because the partition is formatted previously (#519)
  src/config/config.go
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-metal-assisted

MGMT-11565: Refactors
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/assisted_installer_controller/operator_handler.go
  src/k8s_client/k8s_client.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-11565: Add handleOLMEarlySetupBug when waiting for CSV
  src/assisted_installer_controller/operator_handler.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-11695: Disk cleanup does not clean all volume groups in a physical volume.
  src/installer/installer.go
  src/installer/installer_test.go
  src/ops/mock_ops.go
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-metal-assisted

MGMT-11170: Report the caller in the log.
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted

MGMT-11170: Report the caller in the log. (#527)
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted

MGMT-11695: Disk cleanup does not clean all volume groups in a physical volume. (#518)
  src/installer/installer.go
  src/installer/installer_test.go
  src/ops/mock_ops.go
  src/ops/ops.go
  src/ops/ops_test.go
Due: e2e-metal-assisted

MGMT-11063: assisted-installer isn't sending the host logs in case the installation was successful and cacert was added
  src/ops/ops.go
Due: e2e-metal-assisted

MGMT-11063: assisted-installer isn't sending the host logs in case the installation was successful and cacert was added (#532)
  src/ops/ops.go
Due: e2e-metal-assisted

NO-ISSUE: Fixing olm operators timeout log line, should not be printed in case ctx was cancelled
  src/assisted_installer_controller/assisted_installer_controller.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-11565: Add handleOLMEarlySetupBug when waiting for CSV (#531)
  deploy/assisted-installer-controller/assisted-installer-controller-role.yaml
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/assisted_installer_controller/operator_handler.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-11348: Changes for upstream multi-arch support Let Dockerfile and Makefile respond to TARGETPLATFORM setting which is set by docker buildx when building multi-arch images.
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-controller
  Makefile
Due: e2e-metal-assisted

MGMT-11348: Changes for upstream multi-arch support (#536)
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-controller
  Makefile
Due: e2e-metal-assisted

Updating ose-agent-installer-orchestrator images to be consistent with ART (#496)
  .ci-operator.yaml
  Dockerfile.assisted-installer.ocp
Due: e2e-metal-assisted

NO-ISSUE: print boot order after setting it
  go.mod
  go.sum
  src/ops/ops.go
  vendor/golang.org/x/sync/AUTHORS
  vendor/golang.org/x/sync/CONTRIBUTORS
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/modules.txt
Due: e2e-metal-assisted

NO-ISSUE: print boot order after setting it (#539)
  go.mod
  go.sum
  src/ops/ops.go
  vendor/golang.org/x/sync/AUTHORS
  vendor/golang.org/x/sync/CONTRIBUTORS
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/modules.txt
Due: e2e-metal-assisted

MGMT-12038: Controller should upload logs from file on summary logs
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/common/common.go
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-12038: Controller should upload logs from file on summary logs (#540)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/common/common.go
  src/main/assisted-installer-controller/assisted_installer_main.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-12050: Pinning golang.org/x/sys dependency due to golang incompatibility
  Dockerfile.assisted-installer-build
Due: e2e-metal-assisted

MGMT-12057: Remove enablement of router access logs in controller, not needed anymore
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs

MGMT-12050: Pinning golang.org/x/sys dependency due to golang incompatibility (#541)
  Dockerfile.assisted-installer-build
Due: e2e-metal-assisted
