Repository openshift/assisted-installer: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Path conditions:
  e2e-agent-compact-ipv4: unless all of: ^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE)$
  ci/prow/e2e-agent-compact-ipv4: unless all of: ^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE)$
  ci/prow/edge-format-check: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|.tekton/.*|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/edge-lint: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|.tekton/.*|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/edge-unit-test: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|.tekton/.*|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$

fix: allow workers to join TNA cluster when 1 master + arbiter are ready
  src/installer/installer.go
  src/installer/installer_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

feat: bump assisted-service to pick up arbiter host role
  go.mod
  go.sum
  vendor/github.com/openshift/assisted-service/api/hiveextension/v1beta1/agentclusterinstall_types.go
  vendor/github.com/openshift/assisted-service/internal/common/common.go
  vendor/github.com/openshift/assisted-service/internal/common/error_utils.go
  vendor/github.com/openshift/assisted-service/internal/constants/files.go
  vendor/github.com/openshift/assisted-service/models/cluster_validation_id.go
  vendor/github.com/openshift/assisted-service/models/feature_support_level_id.go
  vendor/github.com/openshift/assisted-service/models/host_role.go
  vendor/github.com/openshift/assisted-service/models/host_role_update_params.go
  vendor/github.com/openshift/assisted-service/models/host_update_params.go
  vendor/github.com/openshift/assisted-service/models/host_validation_id.go
  vendor/github.com/openshift/assisted-service/models/monitored_operator.go
  vendor/github.com/openshift/assisted-service/pkg/ocm/utils.go
  vendor/github.com/openshift/assisted-service/restapi/embedded_spec.go
  vendor/github.com/openshift/assisted-service/restapi/operations/installer/list_cluster_hosts_parameters.go
  vendor/github.com/openshift/assisted-service/restapi/operations/installer/v2_download_cluster_files_parameters.go
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: setup assisted-installer version v2.52
  .tekton/assisted-installer-acm-ds-2-17-pull-request.yaml
  .tekton/assisted-installer-acm-ds-2-17-push.yaml
  .tekton/assisted-installer-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-acm-ds-main-push.yaml
  .tekton/assisted-installer-controller-acm-ds-2-17-push.yaml
  .tekton/assisted-installer-controller-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-controller-ds-main-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-52-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-52-push.yaml
  .tekton/assisted-installer-ds-main-push.yaml
  .tekton/assisted-installer-ds-v2-52-pull-request.yaml
  .tekton/assisted-installer-ds-v2-52-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

Red Hat Konflux update assisted-installer-ds-v2-52
  .tekton/assisted-installer-ds-v2-52-pull-request.yaml
  .tekton/assisted-installer-ds-v2-52-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

Red Hat Konflux update assisted-installer-controller-ds-v2-52
  .tekton/assisted-installer-controller-ds-v2-52-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-52-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

MGMT-23789: CVE-2026-34986 Bump github.com/go-jose/go-jose/v4 to v4.1.4 through indirect dependency conversion
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v4/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v4/README.md
  vendor/github.com/go-jose/go-jose/v4/asymmetric.go
  vendor/github.com/go-jose/go-jose/v4/cipher/key_wrap.go
  vendor/github.com/go-jose/go-jose/v4/crypter.go
  vendor/github.com/go-jose/go-jose/v4/jwe.go
  vendor/github.com/go-jose/go-jose/v4/jwk.go
  vendor/github.com/go-jose/go-jose/v4/jws.go
  vendor/github.com/go-jose/go-jose/v4/shared.go
  vendor/github.com/go-jose/go-jose/v4/signing.go
  vendor/github.com/go-jose/go-jose/v4/symmetric.go
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

MGMT-23789: CVE-2026-34986 Bump github.com/go-jose/go-jose/v4 to v4.1.4 through indirect dependency conversion
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v4/asymmetric.go
  vendor/github.com/go-jose/go-jose/v4/cipher/key_wrap.go
  vendor/github.com/go-jose/go-jose/v4/symmetric.go
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

ACM-32566: CVE-2026-34986 Bump github.com/go-jose/go-jose/v3 to v3.0.5 using replace directive
  go.mod
  go.sum
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

ACM-32560: CVE-2026-34986 Bump github.com/go-jose/go-jose/v3 to v3.0.5 using replace directive
  go.mod
  go.sum
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

ACM-32554: CVE-2026-34986 Bump github.com/go-jose/go-jose/v3 to v3.0.5 using replace directive
  go.mod
  go.sum
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

ACM-32545: CVE-2026-34986 Bump github.com/go-jose/go-jose/v3 to v3.0.5 using replace directive
  go.mod
  go.sum
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Red Hat Konflux purge assisted-installer-controller-ds-v2-47
  .tekton/assisted-installer-controller-ds-v2-47-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-47-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

Red Hat Konflux purge assisted-installer-ds-v2-47
  .tekton/assisted-installer-ds-v2-47-pull-request.yaml
  .tekton/assisted-installer-ds-v2-47-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

Red Hat Konflux update assisted-installer-controller-ds-v2-51
  .tekton/assisted-installer-controller-ds-v2-51-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-51-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

Red Hat Konflux update assisted-installer-ds-v2-51
  .tekton/assisted-installer-ds-v2-51-pull-request.yaml
  .tekton/assisted-installer-ds-v2-51-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

ACM-33186: Revert Renovate configuration for Hive updates
  renovate.json
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

fixing linter issues
  .golangci.yml
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/assisted_installer_controller/operator_handler.go
  src/common/common.go
  src/config/config.go
  src/coreos_logger/coreos_installer_log_writer.go
  src/coreos_logger/coreos_installer_log_writer_test.go
  src/installer/installer.go
  src/installer/installer_test.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/main/assisted-installer-controller/assisted_installer_main_test.go
  src/ops/ops.go
  src/ops/ops_test.go
  src/utils/utils.go
  src/utils/utils_test.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

fixing unit_test issue
  src/assisted_installer_controller/assisted_installer_controller.go
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

[release-ocm-2.17] NO-ISSUE: Reduce owners list for release-2.17 branch
  OWNERS_ALIASES
Due: none

NO-ISSUE: Modify Konflux YAMLs to ocm-5.0
  .tekton/assisted-installer-acm-ds-5-0-pull-request.yaml
  .tekton/assisted-installer-acm-ds-5-0-push.yaml
  .tekton/assisted-installer-controller-acm-ds-5-0-pull-request.yaml
  .tekton/assisted-installer-controller-acm-ds-5-0-push.yaml
  Dockerfile.assisted-installer-controller-mce
  Dockerfile.assisted-installer-mce
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

ACM-32528: CVE-2026-34986 Bump github.com/go-jose/go-jose/v3 to v3.0.5 through indirect dependency conversion
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v3/asymmetric.go
  vendor/github.com/go-jose/go-jose/v3/cipher/key_wrap.go
  vendor/github.com/go-jose/go-jose/v3/symmetric.go
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: setup assisted-installer version v2.51
  .tekton/assisted-installer-acm-ds-2-17-pull-request.yaml
  .tekton/assisted-installer-acm-ds-2-17-push.yaml
  .tekton/assisted-installer-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-acm-ds-main-push.yaml
  .tekton/assisted-installer-controller-acm-ds-2-17-push.yaml
  .tekton/assisted-installer-controller-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-controller-ds-main-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-51-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-51-push.yaml
  .tekton/assisted-installer-ds-main-push.yaml
  .tekton/assisted-installer-ds-v2-51-pull-request.yaml
  .tekton/assisted-installer-ds-v2-51-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

NO-ISSUE: setup assisted-installer version v2.53
  .tekton/assisted-installer-acm-ds-5-0-pull-request.yaml
  .tekton/assisted-installer-acm-ds-5-0-push.yaml
  .tekton/assisted-installer-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-acm-ds-main-push.yaml
  .tekton/assisted-installer-controller-acm-ds-5-0-push.yaml
  .tekton/assisted-installer-controller-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-controller-ds-main-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-53-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-53-push.yaml
  .tekton/assisted-installer-ds-main-push.yaml
  .tekton/assisted-installer-ds-v2-53-pull-request.yaml
  .tekton/assisted-installer-ds-v2-53-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

Red Hat Konflux update assisted-installer-controller-ds-v2-53
  .tekton/assisted-installer-controller-ds-v2-53-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-53-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

Red Hat Konflux update assisted-installer-ds-v2-53
  .tekton/assisted-installer-ds-v2-53-pull-request.yaml
  .tekton/assisted-installer-ds-v2-53-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

OCPBUGS-84391: Bump go-jose in v4.22
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v4/asymmetric.go
  vendor/github.com/go-jose/go-jose/v4/cipher/key_wrap.go
  vendor/github.com/go-jose/go-jose/v4/symmetric.go
  vendor/modules.txt
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test
