Repository openshift/assisted-installer: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-olm

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    workflow: baremetalds-assisted-install

e2e-metal-assisted-olm:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_olm_operator
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

NO-ISSUE: upload controller logs with operator status before must-gather
  src/assisted_installer_controller/assisted_installer_controller.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

NO-ISSUE: upload controller logs with operator status before must-gather (#357)
  src/assisted_installer_controller/assisted_installer_controller.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

MGMT-7504: move assisted-installer/controller to use V2 APIs for communicating with assisted-service
  go.mod
  go.sum
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/installer/installer.go
  src/installer/installer_test.go
  src/inventory_client/inventory_client.go
  src/inventory_client/mock_inventory_client.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/main/assisted-installer-controller/assisted_installer_main_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

MGMT-7760: Switch to stream8
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-controller
Due: e2e-metal-assisted

MGMT-7315: Support IP-based matching of nodes during installation
  src/assisted_installer_controller/assisted_installer_controller.go
  src/common/common.go
  src/common/common_test.go
  src/installer/installer.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

MGMT-7315: Support IP-based matching of nodes during installation (#359)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/common/common.go
  src/common/common_test.go
  src/installer/installer.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

MGMT-7504: move assisted-installer/controller to use V2 APIs for communicating with assisted-service (#358)
  go.mod
  go.sum
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/installer/installer.go
  src/installer/installer_test.go
  src/inventory_client/inventory_client.go
  src/inventory_client/mock_inventory_client.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/main/assisted-installer-controller/assisted_installer_main_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

MGMT-7760: Switch to stream8 (#360)
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-controller
Due: e2e-metal-assisted

NO-ISSUE: Add lranjbar to OWNERS_ALIASES (#356)
  OWNERS_ALIASES
Due: none

Bug 1966621: Do not use run-level label for assisted-installer namespace
  deploy/assisted-installer-controller/assisted-installer-controller-nm.yaml
Due: e2e-metal-assisted

Bug 1966621: Clean up the code after run-level label removal
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

Bug 1966621: Allow assisted-installer service account to use SCCs
  deploy/assisted-installer-controller/assisted-installer-controller-role.yaml
Due: e2e-metal-assisted

Bug 1966621: Do not use run-level label for assisted-installer namespace (#291)
  deploy/assisted-installer-controller/assisted-installer-controller-nm.yaml
  deploy/assisted-installer-controller/assisted-installer-controller-role.yaml
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

MGMT-4078: Validate console operator in parallel to CVO
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

MGMT-4078: Validate console operator in parallel to CVO (#362)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

NO-ISSUE: Add commit-message prefix NO-ISSUE to dependanbot
  .github/dependabot.yml
Due: e2e-metal-assisted

NO-ISSUE: Add commit-message prefix NO-ISSUE to dependanbot (#364)
  .github/dependabot.yml
Due: e2e-metal-assisted

NO-ISSUE: Add `replaces` entry in go.mod for `irifrance/gini` which has moved in GitHub
  go.mod
  go.sum
Due: e2e-metal-assisted

NO-ISSUE: Add `replaces` entry in go.mod for `irifrance/gini` which has moved in GitHub (#365)
  go.mod
  go.sum
Due: e2e-metal-assisted

Bug 2004633: cluster deployment failed on connection error Updated retry configuration to 1 hour
  src/inventory_client/inventory_client.go
  src/inventory_client/inventory_client_test.go
Due: e2e-metal-assisted

NO-ISSUE: Add omertuc to code-approvers
  OWNERS_ALIASES
Due: none

Bug 2004633: cluster deployment failed on connection error (#366)
  src/inventory_client/inventory_client.go
  src/inventory_client/inventory_client_test.go
Due: e2e-metal-assisted

NO-ISSUE: Add omertuc to code-approvers (#367)
  OWNERS_ALIASES
Due: none

Bug 2010183: LogURL field of the AgentClusterInstall is not filled upon failure
  src/ops/ops.go
Due: e2e-metal-assisted

Bug 2010183: LogURL field of the AgentClusterInstall is not filled upon failure (#368)
  src/ops/ops.go
Due: e2e-metal-assisted

NO-ISSUE: Remove user yuvigold
  OWNERS_ALIASES
Due: none

NO-ISSUE: Remove user yuvigold (#370)
  OWNERS_ALIASES
Due: none

Bug 2010183: LogURL field of the AgentClusterInstall is not filled upon failure (#369)
  src/ops/ops.go
Due: e2e-metal-assisted

MGMT-7340: add labels to the api
  src/assisted_installer_controller/assisted_installer_controller.go
  src/assisted_installer_controller/assisted_installer_controller_test.go
  src/k8s_client/k8s_client.go
  src/k8s_client/mock_k8s_client.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

NO-ISSUE: add backofflimit 100 and imagePullPolicy: IfNotPresent to assisted controller (#372)
  deploy/assisted-installer-controller/assisted-installer-controller-pod.yaml.template
Due: e2e-metal-assisted

MGMT-7912: Controller: Add cache to the operators status API There is no need to fetch operator status every couple of seconds, that's why we are adding cache for operator status for 30 seconds
  go.mod
  go.sum
  src/inventory_client/inventory_client.go
Due: e2e-metal-assisted

MGMT-7912: Controller: Add cache to the operators status API (#373)
  go.mod
  go.sum
  src/inventory_client/inventory_client.go
Due: e2e-metal-assisted

NO-ISSUE: Test PR, Ignore
  dummy
Due: e2e-metal-assisted

MGMT-8064: Introduce dry run mode to the installer
  src/assisted_installer_controller/assisted_installer_controller.go
  src/config/config.go
  src/config/dry_run_config.go
  src/config/flag_array.go
  src/installer/installer.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/main/assisted-installer-controller/drymock/dry_mode_k8s_mock.go
  src/main/main.go
  src/ops/mock_ops.go
  src/ops/ops.go
  src/utils/utils.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

MGMT-8064: Introduce dry run mode to the installer (#371)
  src/assisted_installer_controller/assisted_installer_controller.go
  src/config/config.go
  src/config/dry_run_config.go
  src/config/flag_array.go
  src/installer/installer.go
  src/main/assisted-installer-controller/assisted_installer_main.go
  src/main/assisted-installer-controller/drymock/dry_mode_k8s_mock.go
  src/main/main.go
  src/ops/mock_ops.go
  src/ops/ops.go
  src/utils/utils.go
Due: e2e-metal-assisted, e2e-metal-assisted-olm

MGMT-7912: getmonitors operator cache should not return value on any error
  src/inventory_client/inventory_client.go
Due: e2e-metal-assisted

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-olm: any of: ^(src/assisted_installer_controller/.*)$
