Repository openshift/assisted-installer: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Path conditions:
  e2e-agent-compact-ipv4: unless all of: ^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE)$
  ci/prow/e2e-agent-compact-ipv4: unless all of: ^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE)$
  ci/prow/edge-format-check: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|.tekton/.*|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/edge-lint: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|.tekton/.*|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/edge-unit-test: unless all of: ^docs/|^\.github/|\.md$|^(?:.*/)?(?:\.gitignore|.tekton/.*|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$

Upgrade go version to 1.25
  .ci-operator.yaml
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller
  Dockerfile.assisted-installer-controller-downstream
  Dockerfile.assisted-installer-controller-mce
  Dockerfile.assisted-installer-controller.ocp
  Dockerfile.assisted-installer-downstream
  Dockerfile.assisted-installer-mce
  Dockerfile.assisted-installer.ocp
  go.mod
  vendor/github.com/testcontainers/testcontainers-go/testdata/.docker/config.json
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Upgrade go version to 1.25
  .ci-operator.yaml
  .golangci.yml
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller
  Dockerfile.assisted-installer-controller-downstream
  Dockerfile.assisted-installer-controller-mce
  Dockerfile.assisted-installer-controller.ocp
  Dockerfile.assisted-installer-downstream
  Dockerfile.assisted-installer-mce
  Dockerfile.assisted-installer.ocp
  go.mod
  vendor/github.com/testcontainers/testcontainers-go/testdata/.docker/config.json
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Upgrade go version to 1.25
  .ci-operator.yaml
  .golangci.yml
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller
  Dockerfile.assisted-installer-controller.ocp
  Dockerfile.assisted-installer.ocp
  go.mod
  go.sum
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Upgrade go version to 1.25
  .ci-operator.yaml
  .golangci.yml
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller
  Dockerfile.assisted-installer-controller.ocp
  Dockerfile.assisted-installer.ocp
  go.mod
  vendor/github.com/testcontainers/testcontainers-go/testdata/.docker/config.json
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Upgrade go version to 1.25
  .ci-operator.yaml
  .golangci.yml
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller
  Dockerfile.assisted-installer-controller-mce
  Dockerfile.assisted-installer-controller.ocp
  Dockerfile.assisted-installer-mce
  Dockerfile.assisted-installer.ocp
  go.mod
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Configure rpm-prefetching for Konflux hermetic builds
  Dockerfile.assisted-installer-controller-downstream
  Dockerfile.assisted-installer-controller-mce
  rpm-prefetching/assisted-installer-controller/redhat.repo
  rpm-prefetching/assisted-installer-controller/rpms.in.yaml
  rpm-prefetching/assisted-installer-controller/rpms.lock.yaml
  rpm-prefetching/assisted-installer/redhat.repo
  rpm-prefetching/assisted-installer/rpms.in.yaml
  rpm-prefetching/assisted-installer/rpms.lock.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Generate multi-architecture RPM lock files for aarch64, ppc64le, s390x, and x86_64 using in repository configuration
  rpm-prefetching/assisted-installer-controller/redhat.repo
  rpm-prefetching/assisted-installer-controller/rpms.lock.yaml
  rpm-prefetching/assisted-installer/redhat.repo
  rpm-prefetching/assisted-installer/rpms.lock.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Remove unused build stages and replace multi-stage package copying with direct microdnf installation in MCE Dockerfiles
  Dockerfile.assisted-installer-controller-mce
  Dockerfile.assisted-installer-mce
  rpm-prefetching/assisted-installer-controller/rpms.in.yaml
  rpm-prefetching/assisted-installer/rpms.in.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

Add rpm-prefetch configuration to assisted-installer Konflux pipelines to enable hermetic builds with util-linux package
  .tekton/assisted-installer-acm-ds-2-16-pull-request.yaml
  .tekton/assisted-installer-acm-ds-2-16-push.yaml
  .tekton/assisted-installer-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-acm-ds-main-push.yaml
  .tekton/assisted-installer-ds-main-pull-request.yaml
  .tekton/assisted-installer-ds-main-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

remove empty row
  rpm-prefetching/assisted-installer-controller/rpms.in.yaml
  rpm-prefetching/assisted-installer/rpms.in.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

remove duplicates and update controller.ocp
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller-downstream
  Dockerfile.assisted-installer-controller-mce
  Dockerfile.assisted-installer-controller.ocp
  Dockerfile.assisted-installer-downstream
  Dockerfile.assisted-installer.ocp
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: add to owners_aliases
  OWNERS_ALIASES
Due: none

align assisted-installer-controller.ocp
  Dockerfile.assisted-installer-controller.ocp
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

ACM-25812: bumping go version on branch master to v1.25 to solve CVE-25-58183
  .ci-operator.yaml
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller
  Dockerfile.assisted-installer-controller-downstream
  Dockerfile.assisted-installer-controller-mce
  Dockerfile.assisted-installer-controller.ocp
  Dockerfile.assisted-installer-downstream
  Dockerfile.assisted-installer-mce
  Dockerfile.assisted-installer.ocp
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

ACM-25815: bumping go version on branch ocm-2.14 to v1.25 to solve CVE-25-58183
  .ci-operator.yaml
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller
  Dockerfile.assisted-installer-controller-downstream
  Dockerfile.assisted-installer-controller-mce
  Dockerfile.assisted-installer-controller.ocp
  Dockerfile.assisted-installer-downstream
  Dockerfile.assisted-installer-mce
  Dockerfile.assisted-installer.ocp
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

ACM-25816: bumping go version on branch ocm-2.13 to v1.25 to solve CVE-25-58183
  .ci-operator.yaml
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller
  Dockerfile.assisted-installer-controller-downstream
  Dockerfile.assisted-installer-controller-mce
  Dockerfile.assisted-installer-controller.ocp
  Dockerfile.assisted-installer-downstream
  Dockerfile.assisted-installer-mce
  Dockerfile.assisted-installer.ocp
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

ACM-25814: bumping go version on branch ocm-2.12 to v1.25 to solve CVE-25-58183
  .ci-operator.yaml
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller
  Dockerfile.assisted-installer-controller-mce
  Dockerfile.assisted-installer-controller.ocp
  Dockerfile.assisted-installer-mce
  Dockerfile.assisted-installer.ocp
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test

NO-ISSUE: setup assisted-installer version v2.49
  .tekton/assisted-installer-acm-ds-2-16-pull-request.yaml
  .tekton/assisted-installer-acm-ds-2-16-push.yaml
  .tekton/assisted-installer-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-acm-ds-main-push.yaml
  .tekton/assisted-installer-controller-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-controller-ds-main-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-49-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-49-push.yaml
  .tekton/assisted-installer-ds-main-pull-request.yaml
  .tekton/assisted-installer-ds-main-push.yaml
  .tekton/assisted-installer-ds-v2-49-pull-request.yaml
  .tekton/assisted-installer-ds-v2-49-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

Red Hat Konflux update assisted-installer-controller-ds-v2-49
  .tekton/assisted-installer-controller-ds-v2-49-pull-request.yaml
  .tekton/assisted-installer-controller-ds-v2-49-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

Red Hat Konflux update assisted-installer-ds-v2-49
  .tekton/assisted-installer-ds-v2-49-pull-request.yaml
  .tekton/assisted-installer-ds-v2-49-push.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4

Transition base images to UBI minimal
  .tekton/assisted-installer-acm-ds-2-16-pull-request.yaml
  .tekton/assisted-installer-acm-ds-2-16-push.yaml
  .tekton/assisted-installer-acm-ds-main-pull-request.yaml
  .tekton/assisted-installer-acm-ds-main-push.yaml
  .tekton/assisted-installer-ds-main-pull-request.yaml
  .tekton/assisted-installer-ds-main-push.yaml
  Dockerfile.assisted-installer
  Dockerfile.assisted-installer-build
  Dockerfile.assisted-installer-controller
  Dockerfile.assisted-installer-controller-downstream
  Dockerfile.assisted-installer-controller-mce
  Dockerfile.assisted-installer-controller.ocp
  Dockerfile.assisted-installer-downstream
  Dockerfile.assisted-installer-mce
  Dockerfile.assisted-installer.ocp
  Makefile
  rpm-prefetching/assisted-installer-controller/rpms.in.yaml
  rpm-prefetching/assisted-installer-controller/rpms.lock.yaml
  rpm-prefetching/assisted-installer/rpms.lock.yaml
Due: e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/edge-format-check, ci/prow/edge-lint, ci/prow/edge-unit-test
