Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

remove unnecessary line
  scripts/bundle-rhmi-operators.sh
Due: none

add osde2e rhmi support
  make/osde2e.mk
  test/common/alerts_mechanism.go
  test/osde2e/managed_api_test.go
  test/osde2e/pre-test.go
  test/osde2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: fix A16: readded sysadmin ImpersonationCfg
  test/functional/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.3.0
  packagemanifests/managed-api-service/1.3.0/managed-api-service.clusterserviceversion.yaml
Due: none

Update managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.3.0/managed-api-service.clusterserviceversion.yaml
Due: none

Prepare managed-api-service manifest for version rhoam-v1.3.0
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

prow check for kubebuilder generated files
  Makefile
Due: none

test: new test categories, JustBeforeEach block
  test/common/shared_functions.go
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
  test/osde2e/managed_api_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Mark E03 Verify middleware dashboards exist as flaky
  test/common/dashboards_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update Keycloak-metrics-spi
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Updated test cases targets for RHOAM v1.3.0
  test-cases/tests/alerts/c08b-verify-alert-links-to-sops.md
  test-cases/tests/alerts/c11b-verify-rhoam-install-alert-is-firing.md
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/authorization/b08b-verify-user-rhsso-permissions.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test-cases/tests/dashboards/e08b-verify-values-are-correct-in-resource-usage-dashboard.md
  test-cases/tests/installation/a29-verify-rate-limit-service-pods-are-running.md
  test-cases/tests/monitoring/m02b-verify-rhoam-version-metric-is-exposed.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
Due: ci/prow/test-cases-lint

Fixing 3scale routes warning
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Small improvements to OSD upgrade test cases
  test-cases/tests/upgrade/n01a-measure-downtime-during-openshift-upgrade.md
  test-cases/tests/upgrade/n01b-measure-downtime-during-openshift-upgrade.md
Due: ci/prow/test-cases-lint

fix hardcoded addon value in rhmi promethuesRules
  controllers/rhmi/prometheusRules.go
Due: none

Small improvement to LDAP test case
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
Due: ci/prow/test-cases-lint

add getAddonName function to fetch addon value properly
  controllers/rhmi/prometheusRules.go
Due: none

Update controllers/rhmi/prometheusRules.go
  controllers/rhmi/prometheusRules.go
Due: none

Update: A26 - Verify Sendgrid Credentials Are Configured Properly
  test/common/sendgrid_credentials_valid.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Print Errors when they may have happened
  test/common/3scale_smtp.go
  test/common/alerts_mechanism.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

correct code formatting
  controllers/rhmi/prometheusRules.go
Due: none

fix formatting
  controllers/rhmi/prometheusRules.go
Due: none

E2e imporvements (#1636)
  test/common/3scale_smtp.go
  test/common/alerts_mechanism.go
  test/common/sendgrid_credentials_valid.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

capture_resource_metrics - fallback to RHOAM Prometheus on null
  scripts/capture_resource_metrics.sh
Due: none

Add hyperfoil-all-means.sh script
  scripts/hyperfoil-all-means.sh
Due: none

change script output , improve failed % outputted to handle floats , and cleanup generated files
  scripts/hyperfoil-request-stats.sh
Due: none

test: Automate test H22
  go.mod
  go.sum
  pkg/products/threescale/three_scale_client.go
  pkg/products/threescale/three_scale_moq.go
  prodsec-manifests/rhoam-master-manifest.txt
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
  test/common/shared_functions.go
  test/scripts/products/h22-validate-that-rate-limit-service-is-working-as-expected/h22-validate-that-rate-limit-service-is-working-as-expected.go
  test/scripts/products/h22-validate-that-rate-limit-service-is-working-as-expected/test.sh
  vendor/github.com/antchfx/xmlquery/.gitignore
  vendor/github.com/antchfx/xmlquery/.travis.yml
  vendor/github.com/antchfx/xmlquery/LICENSE
  vendor/github.com/antchfx/xmlquery/README.md
  vendor/github.com/antchfx/xmlquery/books.xml
  vendor/github.com/antchfx/xmlquery/cache.go
  vendor/github.com/antchfx/xmlquery/cached_reader.go
  vendor/github.com/antchfx/xmlquery/go.mod
  vendor/github.com/antchfx/xmlquery/go.sum
  vendor/github.com/antchfx/xmlquery/node.go
  vendor/github.com/antchfx/xmlquery/parse.go
  vendor/github.com/antchfx/xmlquery/query.go
  vendor/github.com/antchfx/xpath/.gitignore
  vendor/github.com/antchfx/xpath/.travis.yml
  vendor/github.com/antchfx/xpath/LICENSE
  vendor/github.com/antchfx/xpath/README.md
  vendor/github.com/antchfx/xpath/build.go
  vendor/github.com/antchfx/xpath/func.go
  vendor/github.com/antchfx/xpath/func_go110.go
  vendor/github.com/antchfx/xpath/func_pre_go110.go
  vendor/github.com/antchfx/xpath/operator.go
  vendor/github.com/antchfx/xpath/parse.go
  vendor/github.com/antchfx/xpath/query.go
  vendor/github.com/antchfx/xpath/xpath.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

Update: Add Variable table
  README.md
Due: none

add options step to use IN_PROW variable for local dev
  README.md
Due: none

fix fetching monitoring secret from hardcoded namespace
  pkg/products/monitoring/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/smtp.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1385 - update user SSO resources
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

rescale DCs with false condition
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Feat: Add update method on changed 3scale usernames.
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Added RHOAM v1.3.0 Documentation test cases
  test-cases/tests/documentation/i08-deploying-apicast-on-osd.md
  test-cases/tests/documentation/i09-monitoring-the-service.md
  test-cases/tests/documentation/i10-network-policies.md
Due: ci/prow/test-cases-lint

reduced sevirity of misleading errors
  pkg/products/grafana/reconciler.go
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoringspec/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Updated SelfManaged APIcast test case
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
Due: ci/prow/test-cases-lint

Avoid workload-webapp double deployment
  test-cases/tests/alerts/c05a-verify-alerts-are-exposed-and-no-critical-alerts-have-fired.md
  test-cases/tests/alerts/c05b-verify-alerts-are-exposed-and-no-critical-alerts-have-fired.md
  test-cases/tests/multiAZ/p01-measure-downtime-during-down-az.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/upgrade/n01a-measure-downtime-during-openshift-upgrade.md
  test-cases/tests/upgrade/n01b-measure-downtime-during-openshift-upgrade.md
  test-cases/tests/upgrade/n02a-upgrade-rhmi.md
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
Due: ci/prow/test-cases-lint

test: a35 test case
  test-cases/tests/installation/a35-3scale-deploymentconfig-should-rescale-if-it-failed-during-i.md
Due: ci/prow/test-cases-lint

fix: Include scheme in deletion webhook client
  main.go
  pkg/addon/uninstall.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: h26
  test-cases/tests/products/h26-3scale-users-permissions-do-not-change-after-changing-userna.md
Due: ci/prow/test-cases-lint

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
