Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Add rate limit to backend-listener
  go.mod
  go.sum
  pkg/products/marin3r/rateLimitService.go
  pkg/products/threescale/envoyconfig.go
  pkg/products/threescale/reconciler.go
  pkg/resources/ratelimit/envoy.go
  pkg/resources/ratelimit/envoyconfig.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

updates to install oo
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  pkg/config/observability.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/reconciler.go
  pkg/products/monitoring/reconciler.go
  pkg/products/observability/reconciler.go
  products/installation.yaml
  rhoam.json
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Refactor installPlan deletion logic to prevent unwanted deletions in case of patch upgrade
  controllers/subscription/subscription_controller.go
Due: none

update version of RHOAM
  Makefile
  packagemanifests/managed-api-service/1.6.1/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.6.1/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.6.1/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.6.1/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.6.1/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.7.0-rc1
  Makefile
  packagemanifests/managed-api-service/1.7.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.7.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.7.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.7.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.7.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release v2.9.0-rc1
  Makefile
  packagemanifests/integreatly-operator/2.9.0/integreatly-operator.clusterserviceversion.yaml
  packagemanifests/integreatly-operator/2.9.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/integreatly-operator/2.9.0/integreatly.org_rhmis.yaml
  packagemanifests/integreatly-operator/2.9.0/rhmi-operator-metrics-service_v1_service.yaml
  packagemanifests/integreatly-operator/2.9.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/integreatly-operator/integreatly-operator.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.7.0-rc1
  packagemanifests/managed-api-service/1.7.0/managed-api-service.clusterserviceversion.yaml
Due: none

Install Keycloak Operator from master
  go.mod
  go.sum
  manifests/integreatly-rhsso/13.0.0/keycloak-operator.v13.0.0.clusterserviceversion.yaml
  manifests/integreatly-rhsso/13.0.0/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/13.0.0/keycloaks.keycloak.org.crd.yaml
  vendor/github.com/keycloak/keycloak-operator/pkg/apis/keycloak/v1alpha1/keycloak_types.go
  vendor/github.com/keycloak/keycloak-operator/pkg/apis/keycloak/v1alpha1/keycloakrealm_types.go
  vendor/github.com/keycloak/keycloak-operator/pkg/apis/keycloak/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/keycloak/keycloak-operator/pkg/apis/keycloak/v1alpha1/zz_generated.openapi.go
  vendor/github.com/keycloak/keycloak-operator/pkg/model/image_manager.go
  vendor/modules.txt
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix link for ROSA pipeline
  test-cases/tests/installation/a37-rhoam-on-rosa.md
Due: ci/prow/test-cases-lint

Silence Alerts for Keycloak on uninstall
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix zapr errors
  go.sum
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Added some missing steps to the test case h24
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
Due: ci/prow/test-cases-lint

bump kc to 13.0.1
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-rhsso/13.0.1/keycloak-operator.v13.0.1.clusterserviceversion.yaml
  manifests/integreatly-rhsso/13.0.1/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/13.0.1/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/13.0.1/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/13.0.1/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/13.0.1/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/rhsso.package.yaml
  products/products.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: test-case: update h23
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
Due: ci/prow/test-cases-lint

Remove keycloak dashboard removal
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  test/common/dashboards_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Remove keycloak dashboard removal
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

revert cro
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/0.25.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.25.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.25.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.25.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.25.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.25.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.25.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.25.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

rhoam-rhsso-slo-availability-alerts
  pkg/products/rhsso/prometheusRules.go
  pkg/products/rhssouser/prometheusRules.go
  pkg/resources/sop_url.go
  templates/monitoring/jobs/openshift_monitoring_federation.yaml
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

allow uninstall during installation
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: Remove patch to CatalogSource in RBAC resource
  config/rbac-rhoam/kustomization.yaml
  config/rbac-rhoam/patches/catalogsources.yaml
Due: none

Update pkg/products/monitoring/reconciler.go
  pkg/products/monitoring/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: address comment
  test-cases/tests/uninstallation/o03-verify-sendgrid-credentials-are-removed.md
Due: ci/prow/test-cases-lint

Update ubi8 image
  Dockerfile
  Dockerfile.functional
  Dockerfile.osde2e
  build/Dockerfile
Due: ci/prow/e2e, ci/prow/rhoam-e2e

allow unistall while postgress crd in not present
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: fix: update test cases
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/dashboards/e04b-verify-slo-dashboard.md
  test-cases/tests/dashboards/e08b-verify-values-are-correct-in-resource-usage-dashboard.md
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
Due: ci/prow/test-cases-lint

lowerCase username get, add, update in tsClient & unit test reconcileOpenshiftUsers
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/products/threescale/three_scale_client.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add PagerDuty config custom details to include cluster information
  templates/monitoring/alertmanager/alertmanager-application-monitoring.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

set keycloak Update Strategy to Rolling as default
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

3scale update to 0.7.0 (#1539)
  Makefile
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagerbackups_crd.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagerrestores_crd.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagers_crd.yaml
  manifests/integreatly-3scale/0.7.0/capabilities.3scale.net_backends_crd.yaml
  manifests/integreatly-3scale/0.7.0/capabilities.3scale.net_products_crd.yaml
  manifests/integreatly-3scale/0.7.0/capabilities.3scale.net_tenants_crd.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  pkg/config/threescale.go
  pkg/products/threescale/reconciler.go
  prodsec-manifests/rhoam-master-manifest.txt
  scripts/setup-delorean-pullsecret.sh
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/product/3scale_release.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/apimanager_types.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/3scale/3scale-operator/version/version.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: Rewire apiextensions v1beta1 imports to v1
  pkg/resources/marketplace/manifestHelper.go
  pkg/resources/reconciler.go
  test/common/crd_exists.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update
  pkg/products/rhsso/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: address comment
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
Due: ci/prow/test-cases-lint

add how to deploy the operator from a custom image
  README.md
Due: none

reduced sevirity of misleading errors
  pkg/products/grafana/reconciler.go
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoringspec/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

case sensitive compare of 3scale and keycloak user names
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
