Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

aadd patch to rhmi deployment
  README.md
  config/manifests-rhmi/kustomization.yaml
  config/manifests-rhoam/kustomization.yaml
  openshift-ci/Dockerfile.tools
Due: none

move to distroless iamges
  Dockerfile
  Dockerfile.functional
  Dockerfile.osde2e
  build/Dockerfile
Due: ci/prow/e2e, ci/prow/rhoam-e2e

remove deprecated alerts deletion
  pkg/resources/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

create observability cr with new config to include namespace albel selector for grafana
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  pkg/config/observability.go
  pkg/products/observability/reconciler.go
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Dashboard for SSO Availability alerts for 5xx Errors. MGDAPI-1610
  pkg/config/monitoring.go
  pkg/products/monitoring/dashboards/errorBudgetBurnSLOAlerts.go
  pkg/products/monitoring/dashboardsHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

SSO SLO Alerts SOP files format change from md to asciidoc
  pkg/resources/sop_url.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update alerts
  pkg/products/amqonline/prometheusRules.go
  pkg/products/apicurito/prometheusRules.go
  pkg/products/codeready/prometheusRules.go
  pkg/products/fuse/prometheusRules.go
  pkg/products/solutionexplorer/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Updated A39 private cluster test case
  test-cases/tests/installation/a39-installation-verify-rhoam-on-private-cluster.md
Due: ci/prow/test-cases-lint

Changes system app env var to use service endpoint
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

change to ubi minimal base image
  Dockerfile
  build/Dockerfile
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Adds rate limit back to backend listener
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Add new dashboard to tests "SLO SSO..."
  test/common/dashboards_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

revert relatedImages section
  products/products.yaml
  scripts/prepare-release.sh
Due: none

add applyImmediately flag to ups, codeready and fuse postgres cr s
  pkg/products/codeready/reconciler.go
  pkg/products/fuse/reconciler.go
  pkg/products/ups/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.8.0-rc1
  Makefile
  packagemanifests/managed-api-service/1.8.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.8.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.8.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.8.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.8.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add applyImmediately flag to amqonline and remove duplicate in threescale
  pkg/products/amqonline/reconciler.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.8.0-rc1
  packagemanifests/managed-api-service/1.8.0/managed-api-service.clusterserviceversion.yaml
Due: none

Revert "release PR for version rhoam-v1.8.0-rc1"
  packagemanifests/managed-api-service/1.8.0/managed-api-service.clusterserviceversion.yaml
Due: none

Revert "release PR for version rhoam-v1.8.0-rc1"
  Makefile
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.8.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.8.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.8.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.8.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.8.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

apicast doc
  test-cases/tests/documentation/i14-deploying-selfmanaged-apicast.md
Due: ci/prow/test-cases-lint

test: test-cases: v1.8.0 updates
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/installation/a39-installation-verify-rhoam-on-private-cluster.md
  test-cases/tests/monitoring/m02b-verify-rhoam-version-metric-is-exposed.md
  test-cases/tests/performance/k04-run-performance-test-against-rhoam-3scale-user-sso.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
  test-cases/tests/upgrade/n01b-measure-downtime-during-openshift-upgrade.md
Due: ci/prow/test-cases-lint

Refactor: Removed duplicate code in A14 E2E test
  test/common/deployment_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Refactor: A15 E2E test now uses quota to determine the expected replicas
  test/common/deployment_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Refactor: Removed IN_PROW from Makefile
  Makefile
Due: none

Fix: Quota is only used in A14 test when installation is managed API
  test/common/deployment_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Refactor: Removed usage of RunningInProw
  pkg/config/rhsso.go
  pkg/config/rhssoUser.go
  pkg/config/threescale.go
  test/common/deployment_types.go
  test/resources/util.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Fix: Removed remaining IN_PROW annotations and formatting issues
  README.md
  test/common/deployment_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

skip functional aws tests when useClusterStorage is true
  test/functional/aws_rds_resources_exist.go
  test/functional/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: update postgres version in aws rds test
  test/functional/aws_rds_resources_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e
