Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

make namespaceprefix dynamic
  pkg/products/monitoringspec/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update the verify_metrics_scrapped serviceMonitor targets
  test/common/verify_metrics_scrapped.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update to all namespaces
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
Due: none

test: test-cases: plan for v1.14.0
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
Due: ci/prow/test-cases-lint

fix: update kuttl image version
  config/scorecard/patches/kuttl.config.yaml
Due: none

Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

Move sync of Service Monitors to Observability reconciler
  controllers/rhmi/types.go
  pkg/products/monitoringspec/reconciler.go
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: kuttl: install test
  config/scorecard/kuttl/kuttl-test.yaml
  config/scorecard/kuttl/rhoam-install/00-assert.yaml
  config/scorecard/kuttl/rhoam-install/01-assert.yaml
  config/scorecard/kuttl/rhoam-install/01-create-secrets.yaml
  config/scorecard/kuttl/rhoam-install/02-assert.yaml
  config/scorecard/kuttl/rhoam-install/02-cluster-storage.yaml
  config/scorecard/kuttl/rhoam-install/03-assert.yaml
  config/scorecard/kuttl/rhoam-install/04-assert.yaml
  config/scorecard/kuttl/rhoam-install/05-assert.yaml
  config/scorecard/kuttl/rhoam-install/06-assert.yaml
  config/scorecard/kuttl/rhoam-install/07-assert.yaml
  config/scorecard/kuttl/rhoam-install/08-assert.yaml
  config/scorecard/kuttl/rhoam-install/resources/secret-dms.yaml
  config/scorecard/kuttl/rhoam-install/resources/secret-pagerduty.yaml
  config/scorecard/kuttl/rhoam-install/resources/secret-smtp.yaml
  config/scorecard/patches/kuttl.config.yaml
Due: none

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

prepare for release rhoam-v1.14.0-rc1
  Makefile
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.14.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.14.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.14.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.14.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.14.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test pr
  Makefile
  README.md
Due: none

remove export
  Makefile
Due: none

Examine the installPlan before approval in RHOAM upgrade test case
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
Due: ci/prow/test-cases-lint

MGDAPI-2897 Test -address change of prometheus-0 pod name in Observability Operator
  test/common/alerts_exist.go
  test/common/alerts_firing.go
  test/common/alerts_mechanism.go
  test/common/deployment_types.go
  test/common/pvc_validate.go
  test/common/verify_metrics_scrapped.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update prometheus route name
  test-cases/tests/alerts/c05b-verify-alerts-are-exposed-and-no-critical-alerts-have-fired.md
Due: ci/prow/test-cases-lint

Fix Service monitors
  test/common/monitoringspec.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update to premetheus rules to use sum() as expected
  pkg/products/marin3r/apiUsagePrometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Small updates of H28 test case
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
Due: ci/prow/test-cases-lint

prepare for release rhoam-v1.14.0-rc2
  packagemanifests/managed-api-service/1.14.0/managed-api-service.clusterserviceversion.yaml
Due: none

mt user reconciliation refactor
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2910 - Update UIBBT alert for threescale route to allow for routes without 3scale
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.14.0
  packagemanifests/managed-api-service/1.14.0/managed-api-service.clusterserviceversion.yaml
Due: none

update to mt deletion and creation logic
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

use a cluster scoped 3scale operator image
  manifests/integreatly-3scale/0.8.0/3scale-operator.v0.8.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

refactor creation of tenants to be userCR based
  pkg/products/rhsso/reconciler.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale bundle in installation-cpaas.yaml
  products/installation-cpaas.yaml
Due: none

add user creation based on timestamp
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

error handling on WriteConfig()
  pkg/products/apicurito/reconciler.go
  pkg/products/fuse/reconciler.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/reconciler.go
  pkg/products/monitoringspec/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/solutionexplorer/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/products/ups/reconciler.go
  pkg/products/ups/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2892 - fix tests - suite_test.go
  test/e2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update deletion to match changes coming from userCR update
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

modified test-containers-managed-api for running test suite
  test-containers-managed-api.yaml
Due: none

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
