Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

test: updates to RHOAM 1.12.0 test cases
  test-cases/tests/installation/a27-verify-pod-priority-class-is-created.md
  test-cases/tests/installation/a33-validate-console-links.md
  test-cases/tests/installation/a34-verify-quota-values.md
Due: ci/prow/test-cases-lint

fix: lint
  test-cases/tests/installation/a27-verify-pod-priority-class-is-created.md
  test-cases/tests/installation/a33-validate-console-links.md
Due: ci/prow/test-cases-lint

Fix quote issue on service affecting
  packagemanifests/managed-api-service/1.12.0/managed-api-service.clusterserviceversion.yaml
  scripts/prepare-release.sh
Due: none

Prepare integreatly-operator manifest for production
  prodsec-manifests/rhmi-production-release-manifest.txt
Due: none

prepare for release rhoam-v1.12.0
  packagemanifests/managed-api-service/1.12.0/managed-api-service.clusterserviceversion.yaml
Due: none

Update packagemanifests/managed-api-service/1.12.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.12.0/managed-api-service.clusterserviceversion.yaml
Due: none

Fix whitespace in packagemanifests/managed-api-service/1.12.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.12.0/managed-api-service.clusterserviceversion.yaml
Due: none

add DisableDeadmansSnitch to the cr to remove the requirement for secrets on OO install
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update vendor for OO v3.0.4
  go.mod
  go.sum
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/index.go
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/observability_types.go
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

initial installation steps for observability-operator
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/types.go
  pkg/config/ConfigReadWriter_moq.go
  pkg/config/manager.go
  pkg/config/observability.go
  pkg/products/observability/reconciler.go
  pkg/products/reconciler.go
  pkg/resources/constants/subscriptionConstants.go
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

install to operator/operand namespace
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

change of Phase status checking
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add observability stage to managedapi
  controllers/rhmi/types.go
Due: none

observability-operator.v3.0.4
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  apis/v1alpha1/rhmi_types.go
  products/installation.yaml
Due: none

add our namespace selectors
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

observability reconciler Unit Test + minor changes in reconciler
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

adding initial handling of stage in oo to rhmi and updating version of oo dependency and index image
  go.mod
  go.sum
  pkg/products/observability/reconciler.go
  products/installation.yaml
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/index.go
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/observability_types.go
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: c19 - ensure user cr is created as on openshift login before progressing
  test/common/alerts_invalid_username.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: c19 increase poll timeouts
  test/common/alerts_invalid_username.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

operator-sdk bump
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_webhook_patch.yaml
  config/manager/manager.yaml
  openshift-ci/Dockerfile.tools
  openshift-ci/README.md
Due: none

add trottling to user sso tenant creation
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

remove 3scale user sync for multi tenant installs
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

cherry-pick merge
  pkg/products/amqonline/reconciler.go
  pkg/products/codeready/reconciler.go
  pkg/products/fuse/reconciler.go
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/monitoringcommon/alertmanagerConfig.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/products/monitoringcommon/templateHelper.go
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
  pkg/products/solutionexplorer/reconciler.go
  pkg/products/threescale/clients_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale bundle in installation-cpaas.yaml
  products/installation-cpaas.yaml
Due: none

fix: replaces being removed when csv is re-generated
  scripts/prepare-release.sh
Due: none

add idp via envvar
  Makefile
  envs/multitenant-managed-api.env
  pkg/products/threescale/reconciler.go
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update idp name to DevSandbox
  envs/multitenant-managed-api.env
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update default name of IDP and CSV generation
  config/manager/manager.yaml
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

updating metrics queries to work with newer version of kube state metrics
  pkg/products/amqonline/prometheusRules.go
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
  pkg/products/monitoring/prometheusRules.go
  pkg/products/threescale/prometheusRules.go
  scripts/capture_resource_metrics.sh
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update of OWNERS for test-cases
  test-cases/OWNERS
Due: ci/prow/test-cases-lint

add config for sandbox install type
  config/redhat-sandbox/kustomization.yaml
  config/redhat-sandbox/manager_auth_proxy_patch.yaml
  config/redhat-sandbox/manager_env_installation_type.yaml
  config/redhat-sandbox/manager_webhook_patch.yaml
  config/redhat-sandbox/webhookcainjection_patch.yaml
Due: none

add default smtp from address for multi tenancy
  pkg/products/monitoring/reconciler.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Review OWNERS file.
  OWNERS
Due: none

allow admin accesss to user sso for multi tenant installs
  envs/multitenant-managed-api.env
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
