Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

A32 Automation
  go.mod
  test/common/tests.go
  test/common/validate_sso_config.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Added active_sku metric
  Makefile
  config/configmap/kustomization.yaml
  config/configmap/sku-config.yaml
  config/configmap/sku-limits-configmap.yaml
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
  main.go
  pkg/metrics/metrics.go
  pkg/products/grafana/customerDashboard.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/config/config.go
  pkg/products/marin3r/config/config_test.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/reconciler_test.go
  pkg/products/marin3r/softLimitPrometheusRules.go
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/endpointsDetailed.go
  pkg/products/monitoring/dashboards/endpointsReport.go
  pkg/products/monitoring/dashboards/endpointsSummary.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
  pkg/resources/sku/product_config_moq.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

apply replica value to pointer location
  pkg/resources/sku/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

make dynamic sku work rhmi safe
  controllers/rhmi/rhmi_controller.go
  pkg/resources/sku/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

updated sku-config.yaml
  config/configmap/sku-config.yaml
Due: none

update sso config to work with new implementation
  config/configmap/sku-config.yaml
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

ensure that resource requests and limits blocks are not nil cover that case in the tests
  pkg/products/rhssouser/reconciler.go
  pkg/resources/sku/product_config_moq.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: Renamed label to use limit in customer dashboard
  pkg/products/grafana/customerDashboard.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

A34 test case updates - see below
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/rhmi_controller.go
  pkg/addon/parameters.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/reconciler_test.go
  pkg/resources/sku/sku.go
  test/common/shared_functions.go
  test/common/sku.go
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fixed A13 and A15 tests
  test/common/deployment_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

various fixes around variable naming/usage, imports, comments and test improvement
  controllers/rhmi/rhmi_controller.go
  pkg/products/marin3r/rateLimitService.go
  pkg/resources/quota/quota.go
  pkg/resources/quota/quota_test.go
  test-cases/tests/installation/a34-verify-quota-values.md
  test/common/alerts_firing.go
  test/common/namespace_created.go
  test/common/namespace_restoration.go
  test/common/quota.go
  test/common/types.go
  test/common/validate_sso_config.go
  test/functional/multiaz_pod_distribution.go
  test/osde2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

cro version update in products.yaml
  products/products.yaml
Due: none

remove check for alerts already removed
  pkg/config/threescale.go
  test/common/3scale_smtp.go
  test/common/alerts_exist.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

feat: Add creation of quota config map at operator startup
  Makefile
  controllers/rhmi/rhmi_controller.go
  pkg/addon/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update Dashboard for SSO Availability alerts for 5xx Errors - MGDAPI-1610
  pkg/products/monitoring/dashboards/errorBudgetBurnSLOAlerts.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Removed IN_PROW annotation from RHMI CR sample and removed reference to IN_PROW from Makefile.
  Makefile
  config/samples/integreatly-rhmi-cr.yaml
Due: none

update openshift_monitoring_federation.yaml
  templates/monitoring/jobs/openshift_monitoring_federation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1622: Update ci-operator config
  .ci-operator.yaml
  openshift-ci/Dockerfile.tools
  openshift-ci/README.md
  openshift-ci/test/run
Due: none

Update envoy proxy image
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Reverted change in deploy/integreatly-rhmi-cr.yml since the remaining references to IN_PROW will be addressed in a separate ticket.
  Makefile
Due: none

Update resources for 1M quota
  pkg/addon/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Make cluster/prepare/quota no longer deletes secret before updating it.
  Makefile
Due: none

Added workaround to `deploy/integreatly-rhmi-cr.yml` to preserve compatibility until the in_prow references in the Makefile are removed as part of a separate ticket.
  Makefile
Due: none

feat: Add preflight check for quota param
  Makefile
  controllers/rhmi/rhmi_controller.go
  pkg/addon/parameters.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

add active sku to grafana
  pkg/products/grafana/customerDashboard.go
  pkg/products/grafana/reconciler.go
  pkg/resources/quota/product_config_moq.go
  pkg/resources/quota/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update test replicas for 3scale under 1 milion quota
  pkg/config/threescale.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Moving operator to use go version 1.16.2
  .ci-operator.yaml
  Dockerfile
  Dockerfile.functional
  Dockerfile.osde2e
  Makefile
  README.md
  go.mod
  go.sum
  make/functional.mk
  make/osde2e.mk
  openshift-ci/Dockerfile.tools
Due: none

moq updates due to golang version bump
  go.sum
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

adding debug go version
  Makefile
Due: none

Update the tools go version and remove ci-operator.yaml file
  .ci-operator.yaml
  openshift-ci/Dockerfile.tools
Due: none

prepare for release rhoam-v1.6.0-rc1
  Makefile
  packagemanifests/managed-api-service/1.6.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.6.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.6.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.6.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.6.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Moving operator to use go version 1.16.2
  Dockerfile
  Dockerfile.functional
  Dockerfile.osde2e
  Makefile
  README.md
  go.mod
  go.sum
  make/functional.mk
  make/osde2e.mk
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update api usage test case
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/alerts/rate-limit.js
Due: ci/prow/test-cases-lint

Update README.md
  README.md
Due: none

add custom alertmanager email & pagerduty changes
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/monitoring/templateHelper.go
  templates/monitoring/alertmanager/alertmanager-application-monitoring.yaml
  templates/monitoring/alertmanager/alertmanager-email-config.tmpl
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Test cases for 1.6 release
  test-cases/tests/documentation/i12-modifying-dynamic-quota.md
  test-cases/tests/documentation/i13- install-rhoam-ocm.md
Due: ci/prow/test-cases-lint
