Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Updates to test cases based on RHOAM v1.5.0 testing
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/authorization/b01b-verify-that-the-users-can-login-in-all-products.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
  test-cases/tests/installation/a37-rhoam-on-rosa.md
  test-cases/tests/performance/k04-run-performance-test-against-rhoam-3scale-user-sso.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/upgrade/n01b-measure-downtime-during-openshift-upgrade.md
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
Due: ci/prow/test-cases-lint

A32 Automation
  go.mod
  test/common/tests.go
  test/common/validate_sso_config.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

rhoam and rhmi prodsec manifests updates
  make/manifest.mk
  prodsec-manifests/rhmi-master-manifest.txt
  prodsec-manifests/rhmi-production-release-manifest.txt
  prodsec-manifests/rhoam-production-release-manifest.txt
  products/products.yaml
  scripts/prodsec-manifest-generator.sh
Due: none

verify ratelimit replicas and resources
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

adding TODOs to the test case to mark out the flow of testing required adding marin3r ratelimit config testing
  controllers/rhmi/rhmi_controller.go
  pkg/addon/parameters.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/marin3r/reconciler_test.go
  pkg/resources/sku/sku.go
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

check user sso replicas and resources
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

check prometheus expressions are updated as expected
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

verify sku change event works as expected
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  pkg/products/marin3r/rateLimitService.go
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

refactor prometheus ratelimit check
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Improved getting cluster ID in LDAP test case
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
Due: ci/prow/test-cases-lint

moq updates due to golang version bump
  go.sum
  pkg/client/sigs_client_moq.go
  pkg/config/ConfigReadWriter_moq.go
  pkg/config/ConfigReadable_moq.go
  pkg/products/Reconciler_moq.go
  pkg/products/solutionexplorer/OauthResolver_moq.go
  pkg/products/threescale/three_scale_moq.go
  pkg/resources/catalogsource/catalogsource_client_mock.go
  pkg/resources/marketplace/MarketplaceManager_moq.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update ci go version
  openshift-ci/Dockerfile.tools
Due: none

Moving operator to use go version 1.16.2
  Dockerfile
  Dockerfile.functional
  Dockerfile.osde2e
  Makefile
  README.md
  go.mod
  go.sum
  make/functional.mk
  make/osde2e.mk
Due: none

Bump Ci go version
  openshift-ci/Dockerfile.tools
Due: none

Update Readme (test)
  README.md
Due: none

move a34 from happy path to nightly pipeline
  go.mod
  go.sum
  test/common/shared_functions.go
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

resolve import cycle error
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add version directory to Dockerfile.osde2e
  Dockerfile.osde2e
Due: none

add version directory to Dockerfile.functional
  Dockerfile.functional
Due: none

fix in the logic which was causing cr to not be udpated
  controllers/rhmi/rhmi_controller.go
Due: none

improving flow of getting the SKU improving flow of configure function update unit test and logic to update higher values down if isupdated is true adding e2e test case
  apis/v1alpha1/rhmi_types.go
  config/crd/bases/integreatly.org_rhmis.yaml
  config/secrets/sku-secret.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
  test/common/sku.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

ensure that resource requests and limits blocks are not nil cover that case in the tests
  pkg/products/rhssouser/reconciler.go
  pkg/resources/sku/product_config_moq.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: test-case: lint
  test-cases/tests/installation/a34-verify-sku-values.md
Due: ci/prow/test-cases-lint

make dynamic sku work rhmi safe
  controllers/rhmi/rhmi_controller.go
  pkg/resources/sku/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update grafana dashboard to only contain the hard limit remove soft limit from dashboard remove soft limit alerts from prometheus update envoy configmap based on skuconfig
  Makefile
  config/configmap/kustomization.yaml
  config/configmap/sku-config.yaml
  config/configmap/sku-limits-configmap.yaml
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/grafana/customerDashboard.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/config/config.go
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/softLimitPrometheusRules.go
  pkg/resources/sku/product_config_moq.go
  pkg/resources/sku/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

skip sku test for now when no config map found.
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

using cluster object for createorupdate function updating tests to check that update does occur when is false is true and values are lower revert config changes - to be addressed later
  config/configmap/sku-config.yaml
  pkg/products/marin3r/rateLimitService.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

updated unit tests for rate limit reconciler added product config moq for future use
  controllers/rhmi/rhmi_controller.go
  pkg/products/amqonline/reconciler_test.go
  pkg/products/amqstreams/reconciler_test.go
  pkg/products/apicurioregistry/reconciler_test.go
  pkg/products/apicurito/reconciler_test.go
  pkg/products/codeready/reconciler_test.go
  pkg/products/datasync/reconciler_test.go
  pkg/products/fuse/reconciler_test.go
  pkg/products/fuseonopenshift/reconciler_test.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/solutionexplorer/reconciler_test.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/sku/product_config_moq.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Metric is now set when sku is first processed
  controllers/rhmi/rhmi_controller.go
Due: none

adding sku package read from config map and pass to reconcilers
  Makefile
  config/configmap/sku-config.yaml
  config/secrets/sku-secret.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/Reconciler_moq.go
  pkg/products/amqonline/reconciler.go
  pkg/products/amqonline/reconciler_test.go
  pkg/products/amqstreams/reconciler.go
  pkg/products/amqstreams/reconciler_test.go
  pkg/products/apicurioregistry/reconciler.go
  pkg/products/apicurioregistry/reconciler_test.go
  pkg/products/apicurito/reconciler.go
  pkg/products/apicurito/reconciler_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/codeready/reconciler.go
  pkg/products/codeready/reconciler_test.go
  pkg/products/datasync/reconciler.go
  pkg/products/datasync/reconciler_test.go
  pkg/products/fuse/reconciler.go
  pkg/products/fuse/reconciler_test.go
  pkg/products/fuseonopenshift/reconciler.go
  pkg/products/fuseonopenshift/reconciler_test.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/reconciler.go
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/monitoringspec/reconciler.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/solutionexplorer/reconciler.go
  pkg/products/solutionexplorer/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/products/ups/reconciler.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add unit test for keycloack configure
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update sso config to work with new implementation
  config/configmap/sku-config.yaml
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Changed metric naming convention to be closer to rhmi_version metric
  controllers/rhmi/rhmi_controller.go
  main.go
  pkg/metrics/metrics.go
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/endpointsDetailed.go
  pkg/products/monitoring/dashboards/endpointsReport.go
  pkg/products/monitoring/dashboards/endpointsSummary.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: test-case for sku package
  test-cases/tests/installation/a34-verify-sku-values.md
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

remove namespace change
  Makefile
Due: none

Added metric annotation in grafana dashboards
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/endpointsDetailed.go
  pkg/products/monitoring/dashboards/endpointsReport.go
  pkg/products/monitoring/dashboards/endpointsSummary.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

apply replica value to pointer location
  pkg/resources/sku/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

on sku change event set updated to true reset ToSku at the end of a successful reconcile at the same point as toVersion
  apis/v1alpha1/rhmi_types.go
  config/crd/bases/integreatly.org_rhmis.yaml
  controllers/rhmi/rhmi_controller.go
Due: none

update sku to 1,5,10,20,50 values as this is what will be passed via param fix up some tests and formatting
  Makefile
  config/configmap/sku-config.yaml
  config/secrets/sku-secret.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/amqstreams/reconciler_test.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
