Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-1030 Grafana version Bump
  manifests/integreatly-grafana/3.8.1/grafana-operator.v3.8.1.clusterserviceversion.yaml
  manifests/integreatly-grafana/3.8.1/grafanadashboards.integreatly.org.crd.yaml
  manifests/integreatly-grafana/3.8.1/grafanadatasources.integreatly.org.crd.yaml
  manifests/integreatly-grafana/3.8.1/grafanas.integreatly.org.crd.yaml
  manifests/integreatly-grafana/grafana.package.yaml
  pkg/apis/integreatly/v1alpha1/rhmi_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/versions

Update package.json
  test-cases/package.json
Due: ci/prow/test-cases-lint

Increase root volume size for the provisioned EC2
  scripts/ec2_deploy_teardown/deployEC2.sh
Due: none

Add Name tag to the provisioned EC2 instance
  scripts/ec2_deploy_teardown/deployEC2.sh
Due: none

MGDAPI-985 AMO/Grafana Bump to 1.5.0
  manifests/integreatly-monitoring/1.5.0/application-monitoring-operator.v1.5.0.clusterserviceversion.yaml
  manifests/integreatly-monitoring/1.5.0/applicationmonitoring.integreatly.org_applicationmonitorings_crd.yaml
  manifests/integreatly-monitoring/1.5.0/applicationmonitoring.integreatly.org_blackboxtargets_crd.yaml
  manifests/integreatly-monitoring/1.5.0/grafana_crd.yaml
  manifests/integreatly-monitoring/1.5.0/grafana_dashboard_crd.yaml
  manifests/integreatly-monitoring/1.5.0/grafana_datasource_crd.yaml
  manifests/integreatly-monitoring/monitoring.package.yaml
  pkg/apis/integreatly/v1alpha1/rhmi_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/versions

Added logging.
  test/common/3scale_crudl.go
  test/common/alerts_mechanism.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add new console links
  pkg/products/grafana/reconciler.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

use new httpclient in H03 test
  test/common/3scale_crudl.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

remove unneeded connection to cluster
  Makefile
Due: none

MGDAPI-1159-add ns label to alerts
  pkg/controller/installation/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Improved ec2 scripts error handling
  scripts/ec2_deploy_teardown/deployEC2.sh
  scripts/ec2_deploy_teardown/tearDown.sh
Due: none

README Update
  README.md
Due: none

expose new metric around user creation and deletion in 3scale allow installation to complete when the user creation fails add new alert that will fire when the user creation in 3scale fails
  cmd/manager/main.go
  pkg/metrics/metrics.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/prometheusRules.go
  pkg/products/threescale/reconciler.go
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

delete entries first in case of a change of idp where there are conflicting entries
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

don't reconcile users from deleted IDPs
  deploy/role.yaml
  pkg/products/rhsso/reconciler.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Relaxing EC2 PublicIP check
  scripts/ec2_deploy_teardown/deployEC2.sh
Due: none

delete subscription + csv to reinstall product operator with failed install plan
  pkg/resources/reconciler.go
  pkg/resources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix error on isNotFound condition and update tests
  pkg/resources/reconciler.go
  pkg/resources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

rhmi expects 2 user-sso replicas
  test/common/deployment_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: test-cases: RHOAM 1.2.0
  test-cases/tests/installation/a33-validate-console-links.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
Due: ci/prow/test-cases-lint

test: update delorean pipeline query-report cmd
  test-cases/tests/multiAZ/p01-measure-downtime-during-down-az.md
  test-cases/tests/upgrade/n01a-measure-downtime-during-openshift-upgrade.md
  test-cases/tests/upgrade/n01b-measure-downtime-during-openshift-upgrade.md
  test-cases/tests/upgrade/n02a-upgrade-rhmi.md
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
Due: ci/prow/test-cases-lint

updates
  pkg/config/threescale.go
  pkg/products/marin3r/rateLimitService.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: test-case: c19
  test-cases/tests/alerts/c19-validate-creation-of-invalid-username-triggers-alert.md
Due: ci/prow/test-cases-lint

reset the threescale_user_action metric on each reconciliation if the uses is resolved we want the metric to resolve so the alert will resolve
  pkg/metrics/metrics.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.2.0-rc1
  Makefile
  deploy/olm-catalog/managed-api-service/1.2.0/integreatly.org_rhmiconfigs_crd.yaml
  deploy/olm-catalog/managed-api-service/1.2.0/integreatly.org_rhmis_crd.yaml
  deploy/olm-catalog/managed-api-service/1.2.0/managed-api-service.v1.2.0.clusterserviceversion.yaml
  deploy/olm-catalog/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update managed-api-service.v1.2.0.clusterserviceversion.yaml
  deploy/olm-catalog/managed-api-service/1.2.0/managed-api-service.v1.2.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: test-cases: update metadata
  test-cases/tests/alerts/c10b-verify-additional-blackboxtargets.md
  test-cases/tests/alerts/c17b-verify-rhoam-upgrade-alerts-are-present.md
  test-cases/tests/dashboards/e04b-verify-slo-dashboard.md
  test-cases/tests/dashboards/e07b-verify-drill-down-links.md
  test-cases/tests/dashboards/e08b-verify-values-are-correct-in-resource-usage-dashboard.md
Due: ci/prow/test-cases-lint

prepare for release v2.8.0-rc1
  Makefile
  deploy/olm-catalog/integreatly-operator/2.8.0/integreatly-operator.v2.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/integreatly-operator/2.8.0/integreatly.org_rhmiconfigs_crd.yaml
  deploy/olm-catalog/integreatly-operator/2.8.0/integreatly.org_rhmis_crd.yaml
  deploy/olm-catalog/integreatly-operator/integreatly-operator.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update integreatly-operator.v2.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/integreatly-operator/2.8.0/integreatly-operator.v2.8.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add-2.7.1_2.7.2-manifests
  deploy/olm-catalog/integreatly-operator/2.7.1/integreatly-operator.v2.7.1.clusterserviceversion.yaml
  deploy/olm-catalog/integreatly-operator/2.7.1/integreatly.org_rhmiconfigs_crd.yaml
  deploy/olm-catalog/integreatly-operator/2.7.1/integreatly.org_rhmis_crd.yaml
  deploy/olm-catalog/integreatly-operator/2.7.2/integreatly-operator.v2.7.2.clusterserviceversion.yaml
  deploy/olm-catalog/integreatly-operator/2.7.2/integreatly.org_rhmiconfigs_crd.yaml
  deploy/olm-catalog/integreatly-operator/2.7.2/integreatly.org_rhmis_crd.yaml
  deploy/olm-catalog/integreatly-operator/integreatly-operator.package.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: test-case: c19
  test-cases/tests/alerts/c19-validate-creation-of-invalid-username-triggers-alert.md
Due: ci/prow/test-cases-lint

prepare for release v2.8.0-rc1
  deploy/olm-catalog/integreatly-operator/2.8.0/integreatly-operator.v2.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/integreatly-operator/2.8.0/integreatly.org_rhmiconfigs_crd.yaml
  deploy/olm-catalog/integreatly-operator/2.8.0/integreatly.org_rhmis_crd.yaml
  deploy/olm-catalog/integreatly-operator/integreatly-operator.package.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Fix time for instant queries in capture_resource_metrics.sh
  scripts/capture_resource_metrics.sh
Due: none

Fix the query for allocatable RAM on workers
  scripts/capture_resource_metrics.sh
Due: none

Fix-2.8.0-release
  Makefile
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.7.0)
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagerbackups_crd.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagerrestores_crd.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagers_crd.yaml
  manifests/integreatly-3scale/0.7.0/capabilities.3scale.net_backends_crd.yaml
  manifests/integreatly-3scale/0.7.0/capabilities.3scale.net_products_crd.yaml
  manifests/integreatly-3scale/0.7.0/capabilities.3scale.net_tenants_crd.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  pkg/apis/integreatly/v1alpha1/rhmi_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/versions

Adjust apicast (production) resources and replicas
  pkg/config/threescale.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update vendor/
  go.mod
  go.sum
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/product/3scale_release.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/apimanager_types.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/3scale/3scale-operator/version/version.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.7.0)
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagers_crd.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Fix ns prefix in setup-delorean-pullsecret.sh
  scripts/setup-delorean-pullsecret.sh
Due: none
