Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

make isUpdate private improve logic on how that is set at initial getSKU and at end of reconcile where ToSKU and SKU are updated
  controllers/rhmi/rhmi_controller.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update unit tests
  config/configmap/sku-config.yaml
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/config/config_test.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/reconciler_test.go
  pkg/resources/sku/product_config_moq.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

extract logic for processing sku to function don't return the error for now move logic down to prevent status.stages nil error but still update the cr if there is a toSKU isUpdated event
  controllers/rhmi/rhmi_controller.go
Due: none

update rate limiting values so they are parsed correctly
  config/configmap/sku-config.yaml
Due: none

Added active_sku metric
  controllers/rhmi/rhmi_controller.go
  main.go
  pkg/metrics/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add keycloak type to configure function use configure in the user sso reconcile update unit tests
  config/configmap/sku-config.yaml
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/resources/sku/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Renamed metric to rhoam_sku
  pkg/metrics/metrics.go
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/endpointsDetailed.go
  pkg/products/monitoring/dashboards/endpointsReport.go
  pkg/products/monitoring/dashboards/endpointsSummary.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

updated sku-config.yaml
  config/configmap/sku-config.yaml
Due: none

resolve import cycle error
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

verify sku change event works as expected
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  pkg/products/marin3r/rateLimitService.go
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

verify ratelimit replicas and resources
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

modify sku_tes.go to cover 3scale
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

refactor prometheus ratelimit check
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

check user sso replicas and resources
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

A32 Automation
  go.mod
  test/common/tests.go
  test/common/validate_sso_config.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

reconsile SKU in 3scale
  go.sum
  pkg/products/threescale/reconciler.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

adding TODOs to the test case to mark out the flow of testing required adding marin3r ratelimit config testing
  controllers/rhmi/rhmi_controller.go
  pkg/addon/parameters.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/marin3r/reconciler_test.go
  pkg/resources/sku/sku.go
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

move a34 from happy path to nightly pipeline
  go.mod
  go.sum
  test/common/shared_functions.go
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: Renamed label to use limit in customer dashboard
  pkg/products/grafana/customerDashboard.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

check prometheus expressions are updated as expected
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update 3scale version
  go.mod
  go.sum
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
  prodsec-manifests/rhoam-master-manifest.txt
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/apimanager_types.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/zz_generated.deepcopy.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/idna/tables12.0.0.go
  vendor/golang.org/x/net/idna/tables13.0.0.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update reconcile unit test
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add version directory to Dockerfile.osde2e
  Dockerfile.osde2e
Due: none

Renamed quota-config to quota-config-managed-api-service
  Makefile
  config/configmap/quota-config-managed-api-service.yaml
Due: none

Fix: Renamed AProductConfig to QuotaProductConfig
  controllers/rhmi/rhmi_controller.go
  pkg/resources/quota/quota.go
  pkg/resources/quota/quota_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

remove check for alerts already removed
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

remove scalability tests from managedapi install, it's covered by newly added quota tests
  pkg/config/threescale.go
  test/common/3scale_smtp.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

various fixes around variable naming/usage, imports, comments and test improvement
  Dockerfile.osde2e
  controllers/rhmi/rhmi_controller.go
  pkg/products/marin3r/rateLimitService.go
  pkg/resources/quota/quota.go
  pkg/resources/quota/quota_test.go
  test-cases/tests/installation/a34-verify-quota-values.md
  test/common/alerts_firing.go
  test/common/namespace_created.go
  test/common/namespace_restoration.go
  test/common/quota.go
  test/common/types.go
  test/common/validate_sso_config.go
  test/functional/multiaz_pod_distribution.go
  test/osde2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

fixed A13 and A15 tests
  test/common/deployment_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

update SSO 5xx errors Alerts to support RHMI
  pkg/products/rhsso/prometheusRules.go
  pkg/products/rhssouser/prometheusRules.go
  pkg/resources/sop_url.go
  templates/monitoring/jobs/openshift_monitoring_federation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Dashboard for SSO Availability alerts for 5xx Errors - MGDAPI-1610
  pkg/config/monitoring.go
  pkg/products/monitoring/dashboards/errorBudgetBurnSLOAlerts.go
  pkg/products/monitoring/dashboardsHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update OWNERS
  OWNERS
Due: none

test: test-case for sku package
  test-cases/tests/installation/a34-verify-sku-values.md
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

updated unit tests for rate limit reconciler added product config moq for future use
  Makefile
  config/configmap/sku-config.yaml
  config/secrets/sku-secret.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/amqonline/reconciler_test.go
  pkg/products/amqstreams/reconciler_test.go
  pkg/products/apicurioregistry/reconciler_test.go
  pkg/products/apicurito/reconciler_test.go
  pkg/products/codeready/reconciler_test.go
  pkg/products/datasync/reconciler_test.go
  pkg/products/fuse/reconciler_test.go
  pkg/products/fuseonopenshift/reconciler_test.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/solutionexplorer/reconciler_test.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/sku/product_config_moq.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

reconsile SKU in 3scale
  go.mod
  go.sum
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
  prodsec-manifests/rhoam-master-manifest.txt
  products/products.yaml
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/apimanager_types.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/zz_generated.deepcopy.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/idna/tables12.0.0.go
  vendor/golang.org/x/net/idna/tables13.0.0.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add keycloak type to configure function use configure in the user sso reconcile update unit tests
  config/configmap/sku-config.yaml
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
