Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

scale down fuse deployments
  pkg/config/fuse.go
  pkg/products/fuse/prometheusRulesInverted.go
  pkg/products/fuse/reconciler.go
  pkg/products/fuse/reconciler_test.go
  pkg/resources/sop_url.go
  test/common/3scale_crudl.go
  test/common/3scale_smtp.go
  test/common/alerts_exist.go
  test/common/deployment_types.go
  test/common/fuse_crudl.go
  test/common/namespace_restoration.go
  test/common/tests.go
  test/common/user_rhmi_developer_permissions.go
  test/e2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release v2.9.4-rc2
  packagemanifests/integreatly-operator/2.9.4/integreatly-operator.clusterserviceversion.yaml
Due: none

MGDAPI-3202 - Make RHOAM Multitenant on demand
  controllers/user/tenant_controller.go
  main.go
Due: none

fix prepare release script
  scripts/prepare-release.sh
Due: none

MGDAPI-1710 fix: 3scale pipeline
  Makefile
Due: none

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-1710 improvement for oc command
  Makefile
Due: none

MGDAPI-1162 fix c04 a26, osde2e: useclusterstorage
  test/osde2e/pre-test.go
  test/osde2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: osde2e, clusterStorage=true
  test/common/scale_up_replicas_apicurito.go
  test/osde2e/pre-test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: valid dms secret value format
  test/osde2e/pre-test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Bump CRO and add elastic cache and redis snapshots not found
  pkg/products/cloudresources/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test-do not merge
  go.mod
  go.sum
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_redis.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/custom_metrics.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

bump cro and add aler for missing snapshots
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/0.33.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.33.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.33.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  pkg/products/cloudresources/prometheusRules.go
  pkg/products/cloudresources/reconciler.go
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
  test/common/alerts_exist.go
  vendor/github.com/integr8ly/cloud-resource-operator/LICENSE
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/credentials.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_redis.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/types.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/custom_metrics.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

bump cro 0.33.0
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/0.33.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.33.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.33.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  pkg/products/cloudresources/prometheusRules.go
  pkg/products/cloudresources/reconciler.go
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
  test/common/alerts_exist.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_redis.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/custom_metrics.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

bump cro and add new snapshot alert
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/0.33.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.33.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.33.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  pkg/products/cloudresources/prometheusRules.go
  pkg/products/cloudresources/reconciler.go
  products/installation.yaml
  products/products.yaml
  test/common/alerts_exist.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_redis.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/custom_metrics.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release v2.9.4-rc3
  packagemanifests/integreatly-operator/2.9.4/integreatly-operator.clusterserviceversion.yaml
Due: none

bump CRO and add alert
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/0.33.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.33.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.33.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  pkg/products/cloudresources/prometheusRules.go
  pkg/products/cloudresources/reconciler.go
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
  test/common/alerts_exist.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_redis.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/custom_metrics.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

bump cro to 0.33.0
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/0.33.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.33.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.33.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  pkg/products/cloudresources/prometheusRules.go
  pkg/products/cloudresources/reconciler.go
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
  test/common/alerts_exist.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_redis.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/custom_metrics.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.15.1-rc1
  Makefile
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.1/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.1/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.1/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.1/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.1/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3038 fix h22
  test/scripts/products/h22-validate-that-rate-limit-service-is-working-as-expected/h22-validate-that-rate-limit-service-is-working-as-expected.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.15.1-rc2
  Makefile
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.1/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.1/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.1/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.1/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.1/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.15.1-rc3
  packagemanifests/managed-api-service/1.15.1/managed-api-service.clusterserviceversion.yaml
Due: none

prepare for release v2.9.4
  packagemanifests/integreatly-operator/2.9.4/integreatly-operator.clusterserviceversion.yaml
Due: none

prepare for release rhoam-v1.15.1
  packagemanifests/managed-api-service/1.15.1/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3203 - emit metric around vpc limits hit
  pkg/products/cloudresources/prometheusRules.go
  pkg/resources/sop_url.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

use new RHSSO 7.5 images
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.15.2-rc1
  Makefile
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.2/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.2/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.2/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.2/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.2/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.15.2
  packagemanifests/managed-api-service/1.15.2/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3275 update jira auth in test-case tooling
  test-cases/README.md
  test-cases/tools/cmd/jira.ts
  test-cases/tools/cmd/polarion.ts
  test-cases/tools/lib/jira.ts
Due: ci/prow/test-cases-lint

fix: lint
  test-cases/tools/lib/jira.ts
Due: ci/prow/test-cases-lint

MGDAPI-3029 - fix: install chrome to base prow image
  openshift-ci/Dockerfile.tools
Due: none
