Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

update to check if env is present pre waitpoll
  controllers/rhmi/rhmi_controller.go
Due: none

Update 3scale manifests (0.8.1)
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-3scale/0.8.1/3scale-operator.v0.8.1.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.8.1/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.8.1/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.8.1/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.8.1/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.8.1/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.8.1/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.8.1/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.8.1/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.8.1/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.8.1/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.8.1/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.8.1/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.8.1/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3080 Remove the monitoring and monitoring-spec reconcilers
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/types.go
  pkg/products/amqonline/reconciler.go
  pkg/products/amqstreams/reconciler.go
  pkg/products/apicurioregistry/reconciler.go
  pkg/products/apicurito/reconciler.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/codeready/reconciler.go
  pkg/products/fuse/reconciler.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/reconciler.go
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoringspec/reconciler.go
  pkg/products/observability/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/solutionexplorer/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/products/ups/reconciler.go
  pkg/resources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3080 Remove the monitoring and monitoring-spec reconcilers #1
  controllers/rhmi/types.go
Due: none

add hive managed check
  controllers/rhmi/rhmi_controller.go
Due: none

refactor
  controllers/rhmi/rhmi_controller.go
  pkg/addon/operator_run.go
  pkg/addon/operator_run_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3315 bump cro to v0.35.1
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-cloud-resources/0.35.1/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.35.1/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.35.1/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.35.1/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.35.1/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.35.1/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.35.1/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.35.1/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2370 scalability tests, custom kuttl image
  config/scorecard/kuttl/02-scalability/00-assert.yaml
  config/scorecard/kuttl/02-scalability/00-before.yaml
  config/scorecard/kuttl/02-scalability/00-test-pod-template.yaml
  config/scorecard/kuttl/02-scalability/01-assert.yaml
  config/scorecard/kuttl/02-scalability/02-assert.yaml
  config/scorecard/kuttl/kuttl-test.yaml
  config/scorecard/patches/kuttl.config.yaml
Due: none

MGDAPI-3084 ensure binaryData is treated well
  controllers/subscription/csvlocator/csvlocator.go
  controllers/subscription/csvlocator/csvlocator_test.go
Due: none

add wait to before suite
  test/common/shared_functions.go
  test/functional/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2370 scorecard: selfSignedCerts: true
  config/scorecard/kuttl/00-installation/02-cluster-storage.yaml
Due: none

MGDAPI-3332 Update A01
  test/common/integreatly_stages.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.16.0-rc1
  Makefile
  bundles/managed-api-service/1.16.0/bundle.Dockerfile
  bundles/managed-api-service/1.16.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.16.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.16.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.16.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.16.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.16.0/metadata/annotations.yaml
  bundles/managed-api-service/1.16.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3315 cro release v0.35.2
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-cloud-resources/0.35.2/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.35.2/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.35.2/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.35.2/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.35.2/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.35.2/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.35.2/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.35.2/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3202 - RHOAM Multitenant on demand (crd based solution)
  Makefile
  apis/v1alpha1/rhoamtenant_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  config/crd-sandbox/bases/integreatly.org_rhoamtenants.yaml
  config/crd-sandbox/kustomization.yaml
  config/crd-sandbox/patches/cainjection_in_rhoamtenants.yaml
  config/crd-sandbox/patches/webhook_in_rhoamtenants.yaml
  config/crd/bases/integreatly.org_rhoamtenants.yaml
  config/rbac/rhoamtenant_editor_role.yaml
  config/rbac/rhoamtenant_viewer_role.yaml
  config/rbac/role.yaml
  config/redhat-sandbox/kustomization.yaml
  controllers/tenant/rhoamtenant_controller.go
  main.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-3scale/image_mirror_mapping
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/manifests/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/manifests/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-1
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-1.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-2
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-2.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-3
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-3.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-4
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-4.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-6
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-6.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-7
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-7.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-8
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-8.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3323 - fix the e2e test for Multi Tenant RHOAM
  test/common/multitenancy.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3331: Re-enable skipped test
  test/common/3Scale_user_promotion.go
  test/common/3scale_crudl.go
  test/common/authdelay_first_broker_login.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.16.0-rc2
  bundles/managed-api-service/1.16.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.16.0/tests/scorecard/config.yaml
Due: none

MGDAPI-3340 test cases for 1.16.0
  test-cases/tests/authorization/b08b-verify-user-rhsso-permissions.md
  test-cases/tests/authorization/b09-verify-dedicated-admin-users-are-synced-with-user-sso.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/dashboards/e04b-verify-slo-dashboard.md
  test-cases/tests/dashboards/e08b-verify-values-are-correct-in-resource-usage-dashboard.md
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/performance/k04-run-performance-test-against-rhoam-3scale-user-sso.md
Due: ci/prow/test-cases-lint

MGDAPI-3340 address jira project metadata changes
  test-cases/tools/cmd/jira.ts
  test-cases/tools/lib/jira.ts
Due: ci/prow/test-cases-lint

MGDAPI-2370 increase cluster size for scalab. test
  config/scorecard/patches/kuttl.config.yaml
Due: none

MGDAPI-3340 add byovpc test case
  test-cases/tests/installation/a42-rhoam-on-byovpc-cluster.md
Due: ci/prow/test-cases-lint

MGDAPI-3256 update Dockerfile.tools for prow
  openshift-ci/Dockerfile.tools
Due: none

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-9
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-9.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
