Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

fix: Remove control-plane label from operator Deployment
  config/manager/manager.yaml
  config/prometheus/monitor.yaml
  config/rbac/auth_proxy_service.yaml
Due: none

update critical SLO graph to show only rhoam / rhmi namespaces
  controllers/rhmi/prometheusRules.go
  pkg/products/amqonline/prometheusRules.go
  pkg/products/amqonline/reconciler.go
  pkg/products/apicurito/prometheusRules.go
  pkg/products/apicurito/reconciler.go
  pkg/products/cloudresources/prometheusRules.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/codeready/prometheusRules.go
  pkg/products/codeready/reconciler.go
  pkg/products/fuse/prometheusRules.go
  pkg/products/fuse/reconciler.go
  pkg/products/grafana/prometheusRules.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/apiUsagePrometheusRules.go
  pkg/products/marin3r/prometheusRules.go
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/rejectedRequestsPrometheusRules.go
  pkg/products/monitoring/dashboards/criticalSLOAlerts.go
  pkg/products/monitoring/dashboardsHelper.go
  pkg/products/monitoring/prometheusRules.go
  pkg/products/monitoring/reconciler.go
  pkg/products/rhsso/prometheusRules.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/prometheusRules.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/solutionexplorer/prometheusRules.go
  pkg/products/solutionexplorer/reconciler.go
  pkg/products/threescale/envoy_prometheusRules.go
  pkg/products/threescale/prometheusRules.go
  pkg/products/threescale/reconciler.go
  pkg/products/ups/prometheusRules.go
  pkg/products/ups/reconciler.go
  pkg/resources/backup.go
  pkg/resources/backup_test.go
  pkg/resources/metrics.go
  pkg/resources/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

added croResources JSON
  pkg/products/monitoring/dashboards/croResources.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

added cro-resources to managed API template list
  pkg/config/monitoring.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

added cro-resources to getSpecDetails
  pkg/products/monitoring/dashboards/croResources.go
  pkg/products/monitoring/dashboardsHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update README with up to date installation commands
  README.md
  scripts/README.md
Due: none

fix: getting cluster id in sso-idp script
  scripts/setup-sso-idp.sh
Due: none

update to generate bundle script
  Makefile
  scripts/bundle-rhmi-operators.sh
Due: none

chore: Update CRD and webhook API versions
  Makefile
  config/crd/bases/integreatly.org_rhmiconfigs.yaml
  config/crd/bases/integreatly.org_rhmis.yaml
  pkg/webhooks/operator_webhooks_test.go
  pkg/webhooks/reconciler.go
  pkg/webhooks/rules.go
  test/common/rhmi_config.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Chnaged resource name
  pkg/config/monitoring.go
  pkg/products/monitoring/dashboards/croResources.go
  pkg/products/monitoring/dashboardsHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

feat: Validate Deployment in product CSVs
  pkg/resources/reconciler.go
  pkg/resources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: Approve only latest InstallPlan
  pkg/products/amqonline/reconciler_test.go
  pkg/products/amqstreams/reconciler_test.go
  pkg/products/apicurioregistry/reconciler_test.go
  pkg/products/apicurito/reconciler_test.go
  pkg/products/codeready/reconciler_test.go
  pkg/products/fuse/reconciler_test.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/solutionexplorer/reconciler_test.go
  pkg/products/threescale/clients_test.go
  pkg/resources/marketplace/MarketplaceManager_moq.go
  pkg/resources/marketplace/manager.go
  pkg/resources/reconciler.go
  pkg/resources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: Fix string conversion format
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add edge subscriptions checks to subscription controller
  controllers/subscription/subscription_controller.go
Due: none

units chnaged to bytes for consistency
  pkg/products/monitoring/dashboards/croResources.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Added CRO Resources to expected dashboards in dashboard test
  test/common/dashboards_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

feat: Automatically install Kustomize in prepare-release
  scripts/prepare-release.sh
Due: none

feat: Install kustomize by downloading binary
  scripts/prepare-release.sh
Due: none

1.3 Release Docs
  test-cases/package-lock.json
  test-cases/package.json
  test-cases/tests/documentation/i02-deploying-apicast-on-osd.md
  test-cases/tests/documentation/i02-verify-partial-ag-rate-limits-and-alerts.md
  test-cases/tests/documentation/i03-adding-rhoam.md
  test-cases/tests/documentation/i03-monitoring-the-service.md
  test-cases/tests/documentation/i04-accessing-rhoam.md
  test-cases/tests/documentation/i04-network-policies.md
  test-cases/tests/documentation/i05-managing-users.md
  test-cases/tests/documentation/i06-verify-aws-info-byoc.md
  test-cases/tests/documentation/i07-overview-of-red-hat-openshift-api-management.md
Due: ci/prow/test-cases-lint

feat: Use a docker container to run Kustomize
  scripts/prepare-release.sh
Due: none

add path to kustomize
  scripts/prepare-release.sh
Due: none

prepare for release rhoam-v1.3.0-rc1
  Makefile
  PROJECT
  packagemanifests/integreatly-operator/integreatly-operator.package.yaml
  packagemanifests/managed-api-service/1.3.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.3.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.3.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.3.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.3.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.3.0/managed-api-service.clusterserviceversion.yaml
Due: none

Revert "release PR for version rhoam-v1.3.0-rc1"
  Makefile
  PROJECT
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/integreatly-operator/integreatly-operator.package.yaml
  packagemanifests/managed-api-service/1.3.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.3.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.3.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.3.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.3.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Create symlink to package manifests
  deploy/olm-catalog/integreatly-operator
  deploy/olm-catalog/managed-api-service
Due: ci/prow/e2e, ci/prow/rhoam-e2e

INTLY-10512 Remove unused Keycloak dashboard
  pkg/products/rhsso/reconciler.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: flags for real time logging, readme update
  Dockerfile.functional
  Dockerfile.osde2e
  Makefile
  README.md
Due: none

set 3scale outgoing email address to smtp_secret
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/monitoring/templateHelper.go
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/three_scale_client.go
  pkg/products/threescale/three_scale_moq.go
  pkg/resources/smtp.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Refactored hyperfoil stats script to use stats/all endpoint
  scripts/hyperfoil-request-stats.sh
Due: none

update grafana anotations
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/endpointsDetailed.go
  pkg/products/monitoring/dashboards/endpointsReport.go
  pkg/products/monitoring/dashboards/endpointsSummary.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
  pkg/products/monitoring/dashboardsHelper.go
  pkg/products/monitoring/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Changed endpoint as it is backwards compatible
  scripts/hyperfoil-request-stats.sh
Due: none

Fix rhmi version
  packagemanifests/integreatly-operator/integreatly-operator.package.yaml
Due: none

Refactored hyperfoil-requests-stats.sh to use /run/stats/all endpoint
  scripts/hyperfoil-request-stats.sh
Due: none

[WIP] go v1.16
  go.mod
  go.sum
  openshift-ci/Dockerfile.tools
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Bump Keycloak operator version to 12.0.3
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-rhsso/12.0.3/keycloak-operator.v12.0.3.clusterserviceversion.yaml
  manifests/integreatly-rhsso/12.0.3/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/12.0.3/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/12.0.3/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/12.0.3/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/12.0.3/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/rhsso.package.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
