Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

prepare for release v2.9.0-rc4
  packagemanifests/integreatly-operator/2.9.0/integreatly-operator.clusterserviceversion.yaml
Due: none

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-2072 - Address high CVEs discovered in grafana-operator image (used in RHOAM v1.8.0)
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-grafana/3.10.2/grafana-operator.v3.10.2.clusterserviceversion.yaml
  manifests/integreatly-grafana/3.10.2/grafanadashboards.integreatly.org.crd.yaml
  manifests/integreatly-grafana/3.10.2/grafanadatasources.integreatly.org.crd.yaml
  manifests/integreatly-grafana/3.10.2/grafanas.integreatly.org.crd.yaml
  manifests/integreatly-grafana/grafana.package.yaml
  products/products.yaml
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update: unit test to better match the use case.
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Feat: add new unit test case
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

initial fix to MGDAPI-2111
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/resources/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: remove skipping in e03 test
  test/common/dashboards_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fixed lint issues
  test-cases/tools/cmd/jira.ts
Due: ci/prow/test-cases-lint

prepare for release v2.9.0
  packagemanifests/integreatly-operator/2.9.0/integreatly-operator.clusterserviceversion.yaml
Due: none

Mgdapi 2008 - Verify that user with uppercase letters can be created in 3scale (#1916)
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/products/threescale/three_scale_client.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Small fixes to test cases
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
  test-cases/tests/multiAZ/p01-measure-downtime-during-down-az.md
  test-cases/tests/products/h21b-verify-all-products-using-the-workloadwebapp.md
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
  test-cases/tests/upgrade/n01b-measure-downtime-during-openshift-upgrade.md
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: ci/prow/test-cases-lint

Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

Moved initial setup of quota to bootstrap stage
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
Due: none

add new test alerts
  pkg/products/monitoring/prometheusRules.go
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Refactor: cleaned up the getSecretQuotaParam function
  controllers/rhmi/bootstrapReconciler.go
Due: none

Add go.sum vendor check & update go.sum file
  Makefile
  go.sum
Due: none

Improved getting cluster ID in LDAP test case
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
Due: ci/prow/test-cases-lint

Make C18 test case external
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
Due: ci/prow/test-cases-lint

No need for revert in C18 test case
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
Due: ci/prow/test-cases-lint

prow-test
  go.sum
Due: none

pitstop commit - adding update to config map for redis service updates
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

required update to redis reconcile function
  pkg/products/marin3r/reconciler.go
  pkg/products/threescale/reconciler.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/time.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

namespace fix
  pkg/products/monitoring/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

initial updates
  test-cases/tests/alerts/c08b-verify-alert-links-to-sops.md
  test-cases/tests/alerts/c10b-verify-additional-blackboxtargets.md
  test-cases/tests/alerts/c17b-verify-rhoam-upgrade-alerts-are-present.md
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/alerts/c19-validate-creation-of-invalid-username-triggers-alert.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test-cases/tests/dashboards/e07b-verify-drill-down-links.md
  test-cases/tests/installation/a32-validate-sso-urls-from-rhmi-cr.md
  test-cases/tests/installation/a33-validate-console-links.md
  test-cases/tests/installation/a35-3scale-deploymentconfig-should-rescale-if-it-failed-during-i.md
  test-cases/tests/monitoring/m02b-verify-rhoam-version-metric-is-exposed.md
  test-cases/tests/multiAZ/p01-measure-downtime-during-down-az.md
  test-cases/tests/products/h26-3scale-users-permissions-do-not-change-after-changing-userna.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
  test-cases/tests/upgrade/n05b-verify-upgrade-not-approved-when-another-upgrade-in-progres.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: ci/prow/test-cases-lint

MGDAPI-2160 - support for serviceUpdates CRO field
  pkg/products/cloudresources/reconciler.go
  pkg/resources/awsStrategyHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update dependency cloud-resource-operator to v0.28.0
  go.mod
  go.sum
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/client/util.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/config.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/credentials.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_redis.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/strings.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Bump CRO version to 0.28.0
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-cloud-resources/0.28.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.28.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.28.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.28.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.28.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.28.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.28.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.28.0/operator-metrics-service_v1_service.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2095 - Support trial-quota param
  controllers/rhmi/bootstrapReconciler.go
  pkg/addon/parameters.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add check for trial quota param in preflight if normal quota param is not found
  controllers/rhmi/rhmi_controller.go
Due: none

add makefile for trial quota addon parameter
  Makefile
  config/secrets/quota-trial-secret.yaml
  controllers/rhmi/bootstrapReconciler.go
Due: none

initial fix
  scripts/prepare-release.sh
Due: none

update prep/rel script
  packagemanifests/managed-api-service/1.8.0/managed-api-service.clusterserviceversion.yaml
  scripts/prepare-release.sh
Due: none
