Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

wip
  pkg/products/rhsso/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/rhssoClient.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add rate limiting per tenant
  pkg/products/marin3r/rateLimitService.go
  pkg/products/threescale/envoyconfig.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix alertmanager custom email template to remove unwanted tabs & whitespaces characters on pagerduty reciever
  templates/monitoring/alertmanager/alertmanager-email-config.tmpl
Due: ci/prow/e2e, ci/prow/rhoam-e2e

addressing comment re error check
  pkg/products/marin3r/rateLimitService.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

remove check for alert that was already removed
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

reverting to use v in the version for ups
  manifests/integreatly-unifiedpush/0.5.1/unifiedpush-operator.v0.5.1.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Bump AMO to 1.6.3
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-monitoring/1.6.3/application-monitoring-operator.v1.6.3.clusterserviceversion.yaml
  manifests/integreatly-monitoring/1.6.3/applicationmonitoring.integreatly.org_applicationmonitorings_crd.yaml
  manifests/integreatly-monitoring/1.6.3/applicationmonitoring.integreatly.org_blackboxtargets_crd.yaml
  manifests/integreatly-monitoring/1.6.3/grafana_crd.yaml
  manifests/integreatly-monitoring/1.6.3/grafana_dashboard_crd.yaml
  manifests/integreatly-monitoring/1.6.3/grafana_datasource_crd.yaml
  manifests/integreatly-monitoring/monitoring.package.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update the replaces/skips field based on previous versions
  manifests/integreatly-monitoring/1.6.3/application-monitoring-operator.v1.6.3.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release v2.9.2-rc1
  Makefile
  packagemanifests/integreatly-operator/2.9.2/integreatly-operator.clusterserviceversion.yaml
  packagemanifests/integreatly-operator/2.9.2/integreatly.org_rhmiconfigs.yaml
  packagemanifests/integreatly-operator/2.9.2/integreatly.org_rhmis.yaml
  packagemanifests/integreatly-operator/2.9.2/rhmi-operator-metrics-service_v1_service.yaml
  packagemanifests/integreatly-operator/2.9.2/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/integreatly-operator/integreatly-operator.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Add Grafana CRDs to AMO v1.6.3 CSV
  manifests/integreatly-monitoring/1.6.3/application-monitoring-operator.v1.6.3.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix formatting on automated version update
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.11.0-rc1
  Makefile
  packagemanifests/managed-api-service/1.11.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.11.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.11.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.11.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.11.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

change icons in openshift ui
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  pkg/products/grafana/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release v2.9.2
  packagemanifests/integreatly-operator/2.9.2/integreatly-operator.clusterserviceversion.yaml
Due: none

fixing typos
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
Due: ci/prow/test-cases-lint

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

Removes dummy data from rhoam smtp secret to avoid return errors from the 3scale api
  Makefile
  pkg/products/monitoring/reconciler.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

update notes about validating graphs
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
Due: ci/prow/test-cases-lint

Bump AMO to 1.7.0
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-monitoring/1.7.0/application-monitoring-operator.v1.7.0.clusterserviceversion.yaml
  manifests/integreatly-monitoring/1.7.0/applicationmonitoring.integreatly.org_applicationmonitorings_crd.yaml
  manifests/integreatly-monitoring/1.7.0/applicationmonitoring.integreatly.org_blackboxtargets_crd.yaml
  manifests/integreatly-monitoring/1.7.0/grafana_crd.yaml
  manifests/integreatly-monitoring/1.7.0/grafana_dashboard_crd.yaml
  manifests/integreatly-monitoring/1.7.0/grafana_datasource_crd.yaml
  manifests/integreatly-monitoring/monitoring.package.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare integreatly-operator manifest for production
  prodsec-manifests/rhmi-production-release-manifest.txt
Due: none

fix(test): Introduce polling for SA token
  test/common/grafana_routes.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Test Case updates due to RHOAM 1.11.0
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/multiAZ/p01-measure-downtime-during-down-az.md
  test-cases/tests/performance/k04-run-performance-test-against-rhoam-3scale-user-sso.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
Due: ci/prow/test-cases-lint

Updating the test case h22
  test/scripts/products/h22-validate-that-rate-limit-service-is-working-as-expected/h22-validate-that-rate-limit-service-is-working-as-expected.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update: gitignore
  .gitignore
Due: none

prepare for release rhoam-v1.11.0
  packagemanifests/managed-api-service/1.11.0/managed-api-service.clusterserviceversion.yaml
Due: none

Fixes e2e tests
  test/common/alerts_mechanism.go
  test/common/sendgrid_credentials_valid.go
  test/common/types.go
  test/resources/util.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: e2e test for c19 test case
  test-cases/tests/alerts/c19-validate-creation-of-invalid-username-triggers-alert.md
  test/common/3scale_crudl.go
  test/common/alerts_invalid_username.go
  test/common/testing_idp.go
  test/common/tests.go
  test/functional/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

fix: do not block installation when Keycloak User is not found in 3scale
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update unifiedpush-operator to 0.5.2
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-unifiedpush/0.5.2/push_v1alpha1_unifiedpushserver_crd.yaml
  manifests/integreatly-unifiedpush/0.5.2/unifiedpush-operator.v0.5.2.clusterserviceversion.yaml
  manifests/integreatly-unifiedpush/unifiedpush-operator.package.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none
