Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

Update i12-modifying-dynamic-quota.md
  test-cases/tests/documentation/i12-modifying-dynamic-quota.md
Due: ci/prow/test-cases-lint

Remove quota ConfigMap from config/ folder
  config/configmap/quota-config-managed-api-service.yaml
Due: none

Remove flaky RHMIConfig check from B04
  test/common/shared_functions.go
  test/common/user_dedicated_admin_permissions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix RHOAMUpgradeExpectedDurationExceeded so it doesnt throw many-to-one error
  controllers/rhmi/prometheusRules.go
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

test: Add post uninstallation test
  test/common/shared_functions.go
  test/functional/aws_resources_deleted.go
  test/functional/aws_shared_functions.go
  test/functional/integreatly_test.go
  test/functional/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

change pull policy on backup-container
  pkg/resources/backup.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

sort generated file
  scripts/prodsec-manifest-generator.sh
Due: none

prepare for release rhoam-v1.6.0
  packagemanifests/managed-api-service/1.6.0/managed-api-service.clusterserviceversion.yaml
Due: none

test: test case for quota-upgrade scenario
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: ci/prow/test-cases-lint

update api usage test case
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/alerts/rate-limit.js
Due: ci/prow/test-cases-lint

test: update test cases for 1.6.0
  test-cases/tests/alerts/c08b-verify-alert-links-to-sops.md
  test-cases/tests/alerts/c10b-verify-additional-blackboxtargets.md
  test-cases/tests/alerts/c17b-verify-rhoam-upgrade-alerts-are-present.md
  test-cases/tests/alerts/c19-validate-creation-of-invalid-username-triggers-alert.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test-cases/tests/dashboards/e07b-verify-drill-down-links.md
  test-cases/tests/installation/a32-validate-sso-config.md
  test-cases/tests/installation/a33-validate-console-links.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/uninstallation/o01b-verify-cloud-resources-can-be-properly-cleaned-up-in-case-o.md
  test-cases/tests/uninstallation/o02b-verify-if-cro-operator-removes-remaining-snapshots-for-rds.md
  test-cases/tests/upgrade/n01b-measure-downtime-during-openshift-upgrade.md
Due: ci/prow/test-cases-lint

fix: lint
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
Due: ci/prow/test-cases-lint

test: test-case: update a30, h25
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
Due: ci/prow/test-cases-lint

test: update a34 test case
  test-cases/tests/installation/a34-verify-quota-values.md
Due: ci/prow/test-cases-lint

update go sum
  go.sum
Due: none

fix go sum
  go.sum
Due: none

fix formating in manifest generation script
  scripts/prodsec-manifest-generator.sh
Due: none

add new alerts to alerts_exist.go
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

change the expresion to no longer use absent
  controllers/rhmi/prometheusRules.go
Due: none

e2e-prow-demo
  test/common/alerts_firing.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

bump cro to 0.25.0
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/0.25.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.25.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.25.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.25.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.25.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.25.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.25.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.25.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update the tools go version and remove ci-operator.yaml file
  .ci-operator.yaml
  openshift-ci/Dockerfile.tools
Due: none

Moving operator to use go version 1.16.2
  Dockerfile
  Dockerfile.functional
  Dockerfile.osde2e
  Makefile
  README.md
  go.mod
  go.sum
  make/functional.mk
  make/osde2e.mk
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Moving operator to use go version 1.16.2
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

set the rhoam_version metric on start of install update the alert to handle upgrades
  controllers/rhmi/prometheusRules.go
  controllers/rhmi/rhmi_controller.go
Due: none

update alerts_exist.go for 5xx alerts support for RHMI
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Dummy Pr
  README.md
Due: none

Add script to patch the csv with dev image during addon flow
  scripts/patch-image-csv.sh
Due: none

add automated checking for csv and cr before patching
  scripts/patch-image-csv.sh
Due: none

Update existing 3scale operator alert so that it triggers correctly when scaled to zero
  pkg/products/threescale/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix the check for USE_CLUSTER_STORAGE and setting default
  scripts/patch-image-csv.sh
Due: none

suppress errors in loop
  scripts/patch-image-csv.sh
Due: none

update description
  scripts/patch-image-csv.sh
Due: none

fixed typo
  scripts/patch-image-csv.sh
Due: none

fix typo
  scripts/patch-image-csv.sh
Due: none

fix rds version in test
  test/functional/aws_rds_resources_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

removed ksm-monitoring-arelts and rate-limit-soft-limits prometheus rules
  pkg/products/monitoring/prometheusRules.go
  pkg/products/monitoring/reconciler.go
  pkg/resources/prometheusRules.go
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e
