Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Delete .travis.yml
  .travis.yml
Due: none

rhsso 7.5 openJDK image for keycloak containter
  manifests/integreatly-rhsso/15.0.0/rhsso-operator.15.0.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: do not append default domain to users with @ in username
  pkg/products/rhsso/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
  test/common/default_email.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

Updated the A40 test case to use a pipeline instead of a manual install
  test-cases/tests/installation/a40-rhoam-on-osd-trial.md
Due: ci/prow/test-cases-lint

Add multi tenant metricsd
  Makefile
  config/developer-sandbox/sandbox-config-template.yml
  config/developer-sandbox/sandbox-operator-template.yml
  config/developer-sandbox/sandbox-rhoam-quickstart.yml
  controllers/rhmi/bootstrapReconciler.go
  main.go
  pkg/metrics/metrics.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add prow vendor check with config to pull private repos
  Makefile
  scripts/setup-private-git-access.sh
Due: none

test: test-case: h23: update machine IP
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
Due: ci/prow/test-cases-lint

Initial multitenancy test
  Makefile
  envs/multitenant-managed-api.env
  test/common/authdelay_first_broker_login.go
  test/common/multitenancy_load.go
  test/common/testing_idp.go
  test/common/tests.go
  test/multitenant/managed_api_test.go
  test/multitenant/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update to use functional suite instead
  Makefile
  test/common/alerts_invalid_username.go
  test/functional/integreatly_test.go
  test/functional/suite_test.go
  test/multitenant/managed_api_test.go
  test/multitenant/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

addressing comments p3
  test/common/multitenancy_load.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

lovercase realm
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update testUser to a oneliner
  test/common/multitenancy_load.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fixes, improvements and rebase
  pkg/resources/user/userHelper.go
  test/common/multitenancy_load.go
  test/common/testing_idp.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

increase default timeout
  Makefile
  test/common/multitenancy_load.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

increase MT01 timout to 10mins
  Makefile
  test/common/multitenancy_load.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update IDP to DevSandbox idp
  test/common/multitenancy_load.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

temporary disabling flaky e05 to verify multitenant test
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update envars
  Makefile
Due: none

refactor to enable mass login of users
  test/common/multitenancy_load.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix another issue with functional tests
  Makefile
  test/functional/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add rhoam multitenant test prow test support
  test/common/multitenancy_load.go
  test/common/testing_idp.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

increase initial tenant timeout to 10mins
  Makefile
  test/common/multitenancy_load.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

increase timeout (missed one condition)
  Makefile
Due: none

address comments p2
  Makefile
  envs/multitenant-managed-api.env
  test/common/multitenancy_load.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

addressing comments p3
  Makefile
Due: none

update to remove creating testing-idp via test
  test/common/multitenancy_load.go
  test/common/testing_idp.go
  test/functional/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix the thing
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

more fixes '
  Makefile
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

improve message in script
  scripts/setup-private-git-access.sh
Due: none

rhsso-next-7.5.0-patch-ownerref-admincredentials
  pkg/products/rhsso/reconciler.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/resources/pullSecret.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

reassign variables
  test/common/testing_idp.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2576 - Add support for 3scale 2.11
  manifests/integreatly-3scale/0.8.0/3scale-operator.v0.8.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.8.0/apps.3scale.net_apimanagerbackups_crd.yaml
  manifests/integreatly-3scale/0.8.0/apps.3scale.net_apimanagerrestores_crd.yaml
  manifests/integreatly-3scale/0.8.0/apps.3scale.net_apimanagers_crd.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_activedocs_crd.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_backends_crd.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_openapis_crd.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_policies_crd.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_products_crd.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_tenants_crd.yaml
  manifests/integreatly-3scale/0.8.0/threescale-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-3scale/3scale.package.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
