Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

prepare for release rhoam-v1.5.0-rc1
  packagemanifests/managed-api-service/1.5.0/managed-api-service.clusterserviceversion.yaml
Due: none

update c05b alerting email address
  test-cases/tests/alerts/c05b-verify-alerts-are-exposed-and-no-critical-alerts-have-fired.md
Due: ci/prow/test-cases-lint

update unit tests
  config/configmap/sku-config.yaml
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/config/config_test.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/reconciler_test.go
  pkg/resources/sku/product_config_moq.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

updated sku-config.yaml
  config/configmap/sku-config.yaml
Due: none

Metric is now set when sku is first processed
  controllers/rhmi/rhmi_controller.go
Due: none

Renamed metric to rhoam_sku
  pkg/metrics/metrics.go
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/endpointsDetailed.go
  pkg/products/monitoring/dashboards/endpointsReport.go
  pkg/products/monitoring/dashboards/endpointsSummary.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Removed references to redhat-rhoam-customer-monitoring namespace which doesn't exist.
  pkg/products/grafana/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix in the logic which was causing cr to not be udpated
  controllers/rhmi/rhmi_controller.go
Due: none

test: test case a38
  test-cases/tests/installation/a38-external-installation-verify-rhoam-on-nonbyoc-cluster.md
Due: ci/prow/test-cases-lint

change the test case to use Prometheus alerts rather that openshift console
  test-cases/tests/alerts/c05b-verify-alerts-are-exposed-and-no-critical-alerts-have-fired.md
Due: ci/prow/test-cases-lint

add functionality for per instance aws tiers
  controllers/namespacelabel/namespacelabel_controller.go
  pkg/products/cloudresources/reconciler.go
  pkg/resources/awsStrategyHelper.go
  pkg/resources/awsStrategyHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add expected outcome for namespace recreation
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
Due: ci/prow/test-cases-lint

npm run prettier
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
Due: ci/prow/test-cases-lint

H03 & H07 test - wait for dedicated admin user to become 3scale admin
  Dockerfile.functional
  Dockerfile.osde2e
  test/common/3Scale_user_promotion.go
  test/common/3scale_crudl.go
  test/common/3scale_smtp.go
  test/common/authdelay_first_broker_login.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update test case P01 multiAZ to take account of the changes in the perf test suite
  scripts/alerts-during-perf-testing.sh
  test-cases/tests/multiAZ/p01-measure-downtime-during-down-az.md
Due: ci/prow/test-cases-lint

npm run prettier
  test-cases/tests/multiAZ/p01-measure-downtime-during-down-az.md
Due: ci/prow/test-cases-lint

addressing pr comments
  scripts/alerts-during-perf-testing.sh
  test-cases/tests/multiAZ/p01-measure-downtime-during-down-az.md
Due: ci/prow/test-cases-lint

reconsile SKU in 3scale
  go.sum
  pkg/products/threescale/reconciler.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

modify sku_tes.go to cover 3scale
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update reconcile unit test
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

addressing pr comments
  test-cases/tests/alerts/c05b-verify-alerts-are-exposed-and-no-critical-alerts-have-fired.md
Due: ci/prow/test-cases-lint

prepare for release rhoam-v1.5.0
  packagemanifests/managed-api-service/1.5.0/managed-api-service.clusterserviceversion.yaml
Due: none

replacing the replaces
  packagemanifests/managed-api-service/1.5.0/managed-api-service.clusterserviceversion.yaml
Due: none

Prepare managed-api-service manifest for version rhoam-v1.5.0
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

Only check MultiAZPodDistribution when not upgrading or installing
  pkg/products/monitoring/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update 3scale version
  go.mod
  go.sum
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
  prodsec-manifests/rhoam-master-manifest.txt
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/apimanager_types.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/zz_generated.deepcopy.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/idna/tables12.0.0.go
  vendor/golang.org/x/net/idna/tables13.0.0.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

The prepare-release script now adds the `replaces` field to the CSV if it was removed.
  scripts/prepare-release.sh
Due: none

rhoam-rhsso-slo-availability-alerts
  pkg/products/rhsso/prometheusRules.go
  pkg/resources/sop_url.go
  templates/monitoring/jobs/openshift_monitoring_federation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

rhoam-user-sso-slo-availability-alerts
  pkg/products/rhssouser/prometheusRules.go
  pkg/resources/sop_url.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update the reviewers in OWNERS
  OWNERS
Due: none

fix typeo in user name
  OWNERS
Due: none

rhoam sso slo-availability-alerts - set severity to warning
  pkg/products/rhsso/prometheusRules.go
  pkg/products/rhssouser/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1463: Update OSDe2e useClusterStorage
  test/osde2e/pre-test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Moving operator to use go version 1.16.2
  Dockerfile
  Dockerfile.functional
  Dockerfile.osde2e
  Makefile
  README.md
  go.mod
  go.sum
  make/functional.mk
  make/osde2e.mk
Due: none

cleanup
  pkg/resources/sop_url.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Increase osde2e addon install timeout to 70 mins
  test/osde2e/pre-test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: Renamed label to use limit in customer dashboard
  pkg/products/grafana/customerDashboard.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e
