Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

fix potential nil pointers when logging
  pkg/products/monitoring/reconciler.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update OWNERS
  OWNERS
Due: none

rhoam-rhsso-slo-availability-alerts
  pkg/products/rhsso/prometheusRules.go
  pkg/products/rhssouser/prometheusRules.go
  pkg/resources/sop_url.go
  templates/monitoring/jobs/openshift_monitoring_federation.yaml
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update latest commit
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add rbac marker to include clusterversions object verbs
  controllers/rhmi/rhmi_controller.go
Due: none

update
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add tests around changes for including cluster information field in the templateUtil
  pkg/products/monitoring/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update to alerts mechanism works
  Makefile
  test/common/3scale_smtp.go
  test/common/alerts_mechanism.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Revert "Add make cmd for stopping operator running on cluster"
  Makefile
Due: none

fix failing test for rbac changes
  config/rbac/role.yaml
Due: none

prepare for release rhoam-v1.5.0-rc1
  Makefile
  packagemanifests/managed-api-service/1.5.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.5.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.5.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.5.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.5.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update pkg/products/monitoring/reconciler.go
  pkg/products/monitoring/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: update test case h27
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
Due: ci/prow/test-cases-lint

add cluster information fields in the templateUtil
  pkg/products/monitoring/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

addressing feedback and adding FAILURE_TESTS to prow e2e
  test-cases/tests/alerts/c03-verify-that-alerting-mechanism-works.md
  test/common/alerts_mechanism.go
  test/common/tests.go
  test/e2e/integretly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

fix osde2e image
  test/osde2e/managed_api_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: new test cases for rhoam 1.4.0
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
Due: ci/prow/test-cases-lint

prepare for release rhoam-v1.7.0-rc2
  packagemanifests/managed-api-service/1.7.0/managed-api-service.clusterserviceversion.yaml
Due: none

fix the jenkins url in A17B
  test-cases/tests/installation/a17b-verify-the-go-functional-tests-were-successful.md
Due: ci/prow/test-cases-lint

Fix RDS version test
  test/functional/aws_rds_resources_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

replace metric kube_pod_container_status_running with kube_pod_container_status_ready
  pkg/products/threescale/envoy_prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

remove rate limit from the backend listener
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.7.0-rc3
  packagemanifests/managed-api-service/1.7.0/managed-api-service.clusterserviceversion.yaml
Due: none

Fix: Moved uninstall check beofre preflight check in reconciler
  controllers/rhmi/rhmi_controller.go
Due: none

add relatedImages to the RHOAM CSV
  products/products.yaml
  scripts/prepare-release.sh
Due: none

prepare for release rhoam-v1.7.0
  packagemanifests/managed-api-service/1.7.0/managed-api-service.clusterserviceversion.yaml
Due: none

Updates of test cases post RHOAM v1.7.0 GA
  test-cases/tests/alerts/c11b-verify-rhoam-install-alert-is-firing.md
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/authorization/b08b-verify-user-rhsso-permissions.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/dashboards/e04b-verify-slo-dashboard.md
  test-cases/tests/dashboards/e08b-verify-values-are-correct-in-resource-usage-dashboard.md
  test-cases/tests/installation/a17a-verify-the-go-functional-tests-were-successful.md
  test-cases/tests/installation/a17b-verify-the-go-functional-tests-were-successful.md
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
  test-cases/tests/installation/a31-verify-installation-on-all-osd-versions.md
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/installation/a38-installation-verify-rhoam-on-nonbyoc-cluster.md
  test-cases/tests/installation/a39-installation-verify-rhoam-on-private-cluster.md
  test-cases/tests/monitoring/m05b-verify-secrets.md
  test-cases/tests/performance/k01-run-performance-test-against-amq-online.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
Due: ci/prow/test-cases-lint

initial refactor
  Makefile
  PROJECT
  config/prometheus/monitor.yaml
  controllers/rhmi/rhmi_controller.go
  go.mod
  go.sum
  pkg/resources/reconciler.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

finalizers
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
  go.mod
  pkg/resources/finalizers.go
  pkg/resources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

bump sdk to 1.7.2
  go.mod
  go.sum
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
