Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

Prepare integreatly-operator manifest for production
  prodsec-manifests/rhmi-production-release-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGAPI-3038 adressing comments
  test/scripts/products/h22-validate-that-rate-limit-service-is-working-as-expected/h22-validate-that-rate-limit-service-is-working-as-expected.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3234 bump cro to 0.33.0
  products/installation-cpaas.yaml
Due: none

MGDAPI-3270 use new RHSSO 7.5 images
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.15.1
  Makefile
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.1/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.1/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.1/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.1/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.1/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.15.2
  Makefile
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.2/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.2/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.2/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.2/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.2/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3281 Fix kubeBuilder check.
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-3099 don't delete subscription on uninstall
  pkg/addon/uninstall.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test commit
  Dockerfile.functional
  centos.repo
  google-chrome.repo
Due: none

copy catalog source rhoam operator to 3scale to allow 3scale subscription to install
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  config/scorecard/kuttl/rhoam-install/02-cluster-storage.yaml
  pkg/resources/marketplace/catalog_source_reconciler.go
  pkg/resources/marketplace/configmap_catalog_source_reconciler.go
  pkg/resources/marketplace/grpc_image_catalog_source_reconciler.go
  pkg/resources/marketplace/grpc_image_catalog_source_reconciler_test.go
  pkg/resources/marketplace/implicit_catalog_source_reconciler.go
  pkg/resources/marketplace/implicit_catalog_source_reconciler_test.go
  pkg/resources/marketplace/manager.go
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3146 - Self-Managed Apicast test full Automation - script batch mode
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test/common/selfmanaged_apicast.go
  test/common/tests.go
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/test.sh
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-3237 don't send emails on info level alerts
  templates/monitoring/alertmanager/alertmanager-application-monitoring.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3029 - chrome onto functional test image
  Dockerfile.functional
  test-dependancy/centos.repo
  test-dependancy/google-chrome.repo
Due: none

MGDAPI-2909 move to bundle p1
  Makefile
  bundles/integreatly-operator/integreatly-operator.package.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  scripts/prepare-release.sh
Due: none

bundle generation for managed-tenants-bundles
  scripts/bundle-rhmi-operators.sh
Due: none

MGDAPI-2909 update to prepare release and base csv files
  config/manifests-rhmi/bases/integreatly-operator.clusterserviceversion.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  scripts/prepare-release.sh
Due: none

MGDAPI-2909 rebase and convert 1.14 and 1.15 rhoam
  bundles/managed-api-service/1.14.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.14.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.14.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.14.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.14.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.14.0/metadata/annotations.yaml
  bundles/managed-api-service/1.15.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.15.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.15.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.15.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.15.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.15.0/metadata/annotations.yaml
  bundles/managed-api-service/1.15.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
Due: none

MGDAPI-2909 fixes to config and remove echoes from prep release
  config/manifests-rhmi/bases/integreatly-operator.clusterserviceversion.yaml
  scripts/prepare-release.sh
Due: none

MGDAPI-2909 update prep-release intly package name
  scripts/prepare-release.sh
Due: none

MGDAPI-2909 move docker file to bundle folder
  scripts/prepare-release.sh
Due: none

MGDAPI-2909 address commments
  Makefile
  bundles/managed-api-service/1.15.0/manifests/managed-api-service.clusterserviceversion.yaml
  scripts/bundle-rhmi-operators.sh
  scripts/prepare-release.sh
Due: none

revert changes around bundle script
  Makefile
  scripts/bundle-rhmi-operators.sh
Due: none

rebase and update up to 1.15.2
  bundles/managed-api-service/1.15.1/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.15.1/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.15.1/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.15.1/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.15.1/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.15.1/metadata/annotations.yaml
  bundles/managed-api-service/1.15.1/tests/scorecard/config.yaml
  bundles/managed-api-service/1.15.2/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.15.2/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.15.2/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.15.2/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.15.2/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.15.2/metadata/annotations.yaml
  bundles/managed-api-service/1.15.2/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  packagemanifests/managed-api-service/1.15.1/bundle.Dockerfile
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/metadata/annotations.yaml
  packagemanifests/managed-api-service/1.15.2/bundle.Dockerfile
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/metadata/annotations.yaml
Due: none

MGDAPI-3203 fix test
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2370 add happy path tests to scorecard
  config/scorecard/kuttl/00-installation/00-assert.yaml
  config/scorecard/kuttl/00-installation/01-assert.yaml
  config/scorecard/kuttl/00-installation/01-create-secrets.yaml
  config/scorecard/kuttl/00-installation/02-assert.yaml
  config/scorecard/kuttl/00-installation/02-cluster-storage.yaml
  config/scorecard/kuttl/00-installation/03-assert.yaml
  config/scorecard/kuttl/00-installation/04-assert.yaml
  config/scorecard/kuttl/00-installation/05-assert.yaml
  config/scorecard/kuttl/00-installation/06-assert.yaml
  config/scorecard/kuttl/00-installation/07-assert.yaml
  config/scorecard/kuttl/00-installation/08-assert.yaml
  config/scorecard/kuttl/00-installation/resources/secret-addon.yaml
  config/scorecard/kuttl/00-installation/resources/secret-dms.yaml
  config/scorecard/kuttl/00-installation/resources/secret-pagerduty.yaml
  config/scorecard/kuttl/00-installation/resources/secret-smtp.yaml
  config/scorecard/kuttl/01-happy-path/00-assert.yaml
  config/scorecard/kuttl/01-happy-path/00-before.yaml
  config/scorecard/kuttl/01-happy-path/00-test-pod-template.yaml
  config/scorecard/kuttl/01-happy-path/01-assert.yaml
  config/scorecard/kuttl/01-happy-path/02-assert.yaml
  config/scorecard/kuttl/kuttl-test.yaml
  config/scorecard/patches/kuttl.config.yaml
Due: none

MGDAPI-2370 fix entrypoint name
  config/scorecard/patches/kuttl.config.yaml
Due: none

MGDAPI-3202 - Make RHOAM Multitenant on demand
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  controllers/subscription/subscription_controller.go
  controllers/tenant/tenant_controller.go
  main.go
Due: none

MGDAPI-2909 update channel for rhoam and rhmi to stable
  scripts/prepare-release.sh
Due: none

remove namespace controller for dev sandbox installs
  Makefile
  main.go
  test/common/alerts_exist.go
  test/common/alerts_firing.go
  test/common/alerts_mechanism.go
  test/common/cro_cr_success.go
  test/common/dashboards_data.go
  test/common/deployment_types.go
  test/common/integreatly_stages.go
  test/common/monitoringspec.go
  test/common/namespace_created.go
  test/common/namespace_restoration.go
  test/common/operand_versions.go
  test/common/operator_versions.go
  test/common/pdbs_exist.go
  test/common/priority_validate.go
  test/common/routes_exist.go
  test/common/subscription_install_plan.go
  test/common/tests.go
  test/common/user_dedicated_admin_permissions.go
  test/common/verify_metrics_scrapped.go
  test/e2e/suite_test.go
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3222 - add keycloak-client to products
  prodsec-manifests/rhmi-master-manifest.txt
  prodsec-manifests/rhoam-master-manifest.txt
  products/products.yaml
Due: none

MGDAPI-3311 add addon flow install check
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-2660 Removing installPlan checks
  controllers/subscription/subscription_controller.go
  go.mod
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

address comments
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-3314 update pckman and create olm/bundle command
  Makefile
  bundles/integreatly-operator/bundle.Dockerfile
  bundles/managed-api-service/1.15.1/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.15.2/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/bundle.Dockerfile
  packagemanifests/managed-api-service/1.15.1/bundle.Dockerfile
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/metadata/annotations.yaml
  packagemanifests/managed-api-service/1.15.2/bundle.Dockerfile
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/metadata/annotations.yaml
Due: none

MGDAPI-3315 Add CRO release v0.35.0 to RHOAM
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-cloud-resources/0.34.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.34.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.34.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.34.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.34.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.34.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.34.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.34.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/0.35.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.35.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.35.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.35.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.35.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.35.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.35.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.35.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e
