Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

Update README.md
  README.md
Due: none

Revert "Scoheb patch 2"
  README.md
Due: none

CPROD-11
  README.md
Due: none

prepare CPROD-11 demo
  README.md
Due: none

MGDAPI-3192
  pkg/config/cloudresources.go
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

template for including CRO v0.32.1
  manifests/integreatly-cloud-resources/0.32.1/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.32.1/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.32.1/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.32.1/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.32.1/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.32.1/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.32.1/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.32.1/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-3207 fix go.mod to point to right cro version
  go.mod
  go.sum
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_redis.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3207 update CRO version in types
  apis/v1alpha1/rhmi_types.go
Due: none

prepare for release rhoam-v1.15.0-rc5
  packagemanifests/managed-api-service/1.15.0/managed-api-service.clusterserviceversion.yaml
Due: none

Adds bearer token to blackbox exporter to fix grafana UI endpoint down.
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Bumped version of observability-operator to v3.0.8
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-observability-operator/3.0.8/observability-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-observability-operator/3.0.8/observability-operator-priority-class_scheduling.k8s.io_v1_priorityclass.yaml
  manifests/integreatly-observability-operator/3.0.8/observability-operator-webhook-service_v1_service.yaml
  manifests/integreatly-observability-operator/3.0.8/observability-operator.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/3.0.8/observability.redhat.com_observabilities.yaml
  manifests/integreatly-observability-operator/observability-operator.package.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
  test-cases/tests/installation/a41-verify-migration-to-observability-operator-was-successful.md
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/observability_types.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

prepare for release rhoam-v1.15.0
  packagemanifests/managed-api-service/1.15.0/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3208 Revert "MGDAPI-3192"
  pkg/config/cloudresources.go
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3095 add postgres serviceUpdates configuration
  pkg/config/cloudresources.go
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

resolve rhmi_types.go
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/rhmi_controller.go
  manifests/integreatly-cloud-resources/0.31.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.31.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.31.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.31.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.31.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.31.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.31.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.31.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3095 update vendor and go.mod with new CRO version v0.31.0
  go.mod
  go.sum
  vendor/github.com/integr8ly/cloud-resource-operator/LICENSE
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/credentials.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

resolve conflicts
  pkg/products/amqonline/reconciler.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/codeready/reconciler.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/resources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3095 - update the order of reconcilesubscription to before serviceUpdates
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

resolve conflicts
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/0.32.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.32.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.32.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.32.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.32.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.32.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.32.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.32.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/types.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

resolve PR 2291
  go.mod
  go.sum
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3175 fix F01 test case
  test/functional/aws_rds_resources_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3192
  controllers/namespacelabel/namespacelabel_controller.go
  pkg/products/cloudresources/reconciler.go
  pkg/resources/awsStrategyHelper.go
  pkg/resources/awsStrategyHelper_test.go
  test/common/rhmi_config_cro_strategy_override.go
  test/functional/aws_standalone_vpc.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

resolve PR: 2334
  apis/v1alpha1/rhmi_types.go
Due: none

code fix
  README.md
  apis/v1alpha1/rhmi_types.go
Due: none

fix tests
  test/functional/aws_standalone_vpc.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

mgdapi-1163: update rbac rules
  Makefile
  README.md
  config/rbac/dedicated_admins_rbac.yaml
  test/common/shared_functions.go
  test/common/user_dedicated_admin_permissions.go
  test/functional/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release v2.9.4-rc1
  Makefile
  packagemanifests/integreatly-operator/2.9.4/integreatly-operator.clusterserviceversion.yaml
  packagemanifests/integreatly-operator/2.9.4/integreatly.org_rhmiconfigs.yaml
  packagemanifests/integreatly-operator/2.9.4/integreatly.org_rhmis.yaml
  packagemanifests/integreatly-operator/2.9.4/rhmi-operator-metrics-service_v1_service.yaml
  packagemanifests/integreatly-operator/2.9.4/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/integreatly-operator/integreatly-operator.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Updated test cases for RHOAM v1.15.0
  test-cases/tests/alerts/c08b-verify-alert-links-to-sops.md
  test-cases/tests/alerts/c10b-verify-additional-blackboxtargets.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test-cases/tests/dashboards/e07b-verify-drill-down-links.md
  test-cases/tests/installation/a27-verify-pod-priority-class-is-created.md
  test-cases/tests/installation/a32-validate-sso-urls-from-rhmi-cr.md
  test-cases/tests/installation/a33-validate-console-links.md
  test-cases/tests/monitoring/m02b-verify-rhoam-version-metric-is-exposed.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: ci/prow/test-cases-lint

MGDAPI-3029 - test: use chromedp headless as test suite base image
  Dockerfile.functional
Due: none
