Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

bump the operator sdk to v1.12.0
  Makefile
  README.md
  go.mod
  go.sum
  openshift-ci/Dockerfile.tools
  openshift-ci/README.md
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

make vendor/fix
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: address comments
  test-cases/tests/installation/a41-verify-migration-to-observability-operator-was-successful.md
Due: ci/prow/test-cases-lint

patch config with kuttl configuration
  config/scorecard/bases/config.yaml
  config/scorecard/kustomization.yaml
  config/scorecard/patches/kuttl.config.yaml
Due: none

bump go version to go1.16.7, make vendor/fix
  README.md
  go.mod
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

rename prometheus pod
  test/common/alerts_exist.go
  test/common/alerts_firing.go
  test/common/alerts_mechanism.go
  test/common/verify_metrics_scrapped.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: fix: a13
  test/common/deployment_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix H07
  test/common/3Scale_user_promotion.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix Verify prometheus metrics scrapped
  test/common/verify_metrics_scrapped.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: 3scaleClient Ping() method for h03, h07, h11
  test/common/3scale_crudl.go
  test/common/3scale_smtp.go
  test/common/authdelay_first_broker_login.go
  test/common/scale_up_replicas_threescale.go
  test/resources/3scale_api.go
  test/resources/openshift_auth.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix Verify servicemonitors are cloned with no respect to rhmi
  test/common/monitoringspec.go
  test/common/verify_metrics_scrapped.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Fixed prometheus pod name since its name was changed again.
  test/common/alerts_exist.go
  test/common/alerts_firing.go
  test/common/alerts_mechanism.go
  test/common/pvc_validate.go
  test/common/verify_metrics_scrapped.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Fixes A08, A15, and C03
  test/common/alerts_mechanism.go
  test/common/deployment_types.go
  test/common/routes_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Fix scripts affected by Observability AlertManager and Prometheus name change.
  scripts/capture_resource_metrics.sh
  scripts/monitoringupgradetest.sh
Due: none

update go.sum
  go.sum
Due: none

Fixes C04
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Reduce severity level of warning
  pkg/products/threescale/prometheusRules.go
  pkg/products/threescale/prometheusRules_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.13.0-rc5
  packagemanifests/managed-api-service/1.13.0/managed-api-service.clusterserviceversion.yaml
Due: none

add trottling for multi tenant rhoam
  Makefile
  config/developer-sandbox/sandbox-rhoam-quickstart.yml
  controllers/namespacelabel/namespacelabel_controller.go
  controllers/rhmi/rhmi_controller.go
  main.go
  pkg/products/rhsso/reconciler.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

fix: update verification of alerting email address
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
Due: ci/prow/test-cases-lint

fix: test: E05
  test/common/grafana_routes.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: test cases: add custom 3scale backend
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
Due: ci/prow/test-cases-lint

test case: update JIRA_USERNAME env var example
  test-cases/README.md
Due: ci/prow/test-cases-lint

test: a25: remove updating cidr range from test
  test/functional/aws_standalone_vpc.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.13.0
  packagemanifests/managed-api-service/1.13.0/managed-api-service.clusterserviceversion.yaml
Due: none

test: test-case: update j07b & j08b
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
Due: ci/prow/test-cases-lint

updated the Jenkins link to point to addon-flow pipeline
  test-cases/tests/installation/a40-rhoam-on-osd-trial.md
Due: ci/prow/test-cases-lint

fix: address comments
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
Due: ci/prow/test-cases-lint

use prefix in namespace selector
  pkg/products/monitoringspec/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

removal of prometheus rules
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
Due: none

remove redhat-rhoam-observability for serviceMonitor list
  pkg/products/monitoringspec/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add back in the namespace to the serviceMonitor names
  pkg/products/monitoringspec/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix unit tests
  pkg/products/monitoringspec/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e
