Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

adding overrideselectors true
  go.mod
  go.sum
  pkg/products/monitoringspec/reconciler.go
  pkg/products/observability/reconciler.go
  products/installation.yaml
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

change to matchexpression
  pkg/products/monitoringspec/reconciler.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

break out setting of oo spec so each entry can be handled individually
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

set default names for observability resources
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Updated CR overrides.
  pkg/config/observability.go
  pkg/products/grafana/reconciler.go
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-1882 - Update/Create automated e2e tests/test cases
  test/common/alerts_exist.go
  test/common/alerts_firing.go
  test/common/alerts_mechanism.go
  test/common/dashboards_data.go
  test/common/dashboards_exist.go
  test/common/deployment_types.go
  test/common/grafana_routes.go
  test/common/namespace_created.go
  test/common/operand_versions.go
  test/common/operator_versions.go
  test/common/pvc_validate.go
  test/common/routes_exist.go
  test/common/subscription_install_plan.go
  test/common/types.go
  test/common/verify_metrics_scrapped.go
  test/osde2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: Improve adming reconciliation in user SSO
  go.mod
  go.sum
  pkg/products/rhssouser/reconciler.go
  vendor/github.com/integr8ly/keycloak-client/pkg/common/client.go
  vendor/github.com/integr8ly/keycloak-client/pkg/common/keycloakClient_moq.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update 3.0.7 manifests with new release
  manifests/integreatly-observability-operator/3.0.7/observability-operator-webhook-service_v1_service.yaml
  manifests/integreatly-observability-operator/3.0.7/observability-operator.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/3.0.7/observability.redhat.com_observabilities.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

use v3.0.7 of observabity-oeprator
  go.mod
  go.sum
  products/installation.yaml
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: fix: a13
  test/common/deployment_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update to copy of oo which matches 3.0.7 and fix formatting
  go.mod
  go.sum
  pkg/products/observability/reconciler.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/observability_types.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/observability_webhook.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add childgroup name to setgroupchild call
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.13.0-rc3
  packagemanifests/managed-api-service/1.13.0/managed-api-service.clusterserviceversion.yaml
Due: none

fix duplication in prep relase container images
  scripts/prepare-release.sh
Due: none

Metric check based on cluster version
  pkg/metrics/metrics.go
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/monitoringcommon/dashboardHelper.go
  pkg/products/monitoringcommon/dashboards/clusterResources.go
  pkg/products/monitoringcommon/dashboards/resourceByNamespace.go
  pkg/products/monitoringcommon/dashboards/resourceByPod.go
  pkg/products/observability/reconciler.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/prometheusRules.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/cluster.go
  pkg/resources/cluster_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: read from config when silencing alerts
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/config/monitoring.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2799 - Address DESTRUCTIVE_TESTS - J03 - TestNamespaceRestoration
  test/common/namespace_restoration.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifest to GA
  manifests/integreatly-3scale/0.8.0/3scale-operator.v0.8.0.clusterserviceversion.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

don't reconcile users with mt rhoam
  main.go
Due: none

update how service monitors are managed on upgrade after AMO removal
  pkg/products/monitoringspec/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: monitoring upgrade script
  scripts/monitoringupgradetest.sh
Due: none

Removed rhoam- prefix from observability AlertManager, Grafana, and Prometheus CR names.
  pkg/config/observability.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.13.0-rc4
  packagemanifests/managed-api-service/1.13.0/managed-api-service.clusterserviceversion.yaml
Due: none

test case for MGDAPI-2559
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
Due: ci/prow/test-cases-lint

1.13.0 target update, oo migration verification
  test-cases/tests/authorization/b08b-verify-user-rhsso-permissions.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/dashboards/e04b-verify-slo-dashboard.md
  test-cases/tests/dashboards/e08b-verify-values-are-correct-in-resource-usage-dashboard.md
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/installation/a41-verify-migration-to-observability-operator-was-successful.md
  test-cases/tests/performance/k04-run-performance-test-against-rhoam-3scale-user-sso.md
Due: ci/prow/test-cases-lint

test-case: add MGDAPI-2634
  test-cases/tests/dashboards/e10-validate-updated-grafana-dashboards-and-alerts.md
Due: ci/prow/test-cases-lint

test case for MGDAPI-2663
  test-cases/tests/authorization/b09-verify-dedicated-admin-users-are-synced-with-user-sso.md
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
Due: ci/prow/test-cases-lint

fix: typo in b09
  test-cases/tests/authorization/b09-verify-dedicated-admin-users-are-synced-with-user-sso.md
Due: ci/prow/test-cases-lint

move Prom rules to OO namespace
  pkg/resources/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.13.0-rc5
  packagemanifests/managed-api-service/1.13.0/managed-api-service.clusterserviceversion.yaml
Due: none

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
