Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

install to operator/operand namespace
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update vendor for OO v3.0.4
  go.mod
  go.sum
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/index.go
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/observability_types.go
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Showing dashboards in OO grafana
  pkg/config/observability.go
  pkg/products/monitoring/dashboardsHelper.go
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoringcommon/dashboardHelper.go
  pkg/products/monitoringcommon/dashboards/clusterResources.go
  pkg/products/monitoringcommon/dashboards/criticalSLOAlerts.go
  pkg/products/monitoringcommon/dashboards/croResources.go
  pkg/products/monitoringcommon/dashboards/endpointsDetailed.go
  pkg/products/monitoringcommon/dashboards/endpointsReport.go
  pkg/products/monitoringcommon/dashboards/endpointsSummary.go
  pkg/products/monitoringcommon/dashboards/errorBudgetBurnSLOAlerts.go
  pkg/products/monitoringcommon/dashboards/resourceByNamespace.go
  pkg/products/monitoringcommon/dashboards/resourceByPod.go
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add observability stage to managedapi
  controllers/rhmi/types.go
Due: none

change of Phase status checking
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

feat: specify alertmanger & prometheus route names in observability cr
  pkg/config/observability.go
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

observability reconciler Unit Test + minor changes in reconciler
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

use redhat-developer copy of oo instead of private repo
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  go.mod
  go.sum
  pkg/config/observability.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/alertmanager_config.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/groupversion_info.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/index.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/observability_types.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test pr
  README.md
Due: none

add event based approach to user sso multi tenant reconcile
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_multitenant.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

manually update production manifest for rhoam
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-1882 - Update/Create automated e2e tests/test cases
  test/common/alerts_exist.go
  test/common/alerts_firing.go
  test/common/alerts_invalid_username.go
  test/common/alerts_mechanism.go
  test/common/dashboards_data.go
  test/common/dashboards_exist.go
  test/common/grafana_routes.go
  test/common/namespace_restoration.go
  test/common/tests.go
  test/common/types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Implement on demand apporach to keycloak realm provisioning for multi tenant Rhoam
  controllers/rhmi/bootstrapReconciler.go
  go.mod
  go.sum
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_multitenant.go
  pkg/products/rhssouser/reconciler_multitenant_test.go
  pkg/products/rhssouser/reconciler_test.go
  vendor/github.com/integr8ly/keycloak-client/pkg/common/client.go
  vendor/github.com/integr8ly/keycloak-client/pkg/common/keycloakClientFactory_moq.go
  vendor/github.com/integr8ly/keycloak-client/pkg/common/keycloakClient_moq.go
  vendor/github.com/integr8ly/keycloak-client/pkg/common/types.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix schema issues in CRDs
  manifests/integreatly-monitoring/1.8.0/applicationmonitoring.integreatly.org_applicationmonitorings_crd.yaml
  manifests/integreatly-monitoring/1.8.0/applicationmonitoring.integreatly.org_blackboxtargets_crd.yaml
  manifests/integreatly-monitoring/1.8.0/grafana_crd.yaml
  manifests/integreatly-monitoring/1.8.0/grafana_dashboard_crd.yaml
  manifests/integreatly-monitoring/1.8.0/grafana_datasource_crd.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update unit test for multitenant sso
  pkg/products/rhssouser/reconciler_multitenant_test.go
  pkg/products/rhssouser/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

removed the image_mirror_mapping
  manifests/integreatly-rhsso/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

remove manifest/check/registries
  make/manifest.mk
Due: none

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

bump grafana version
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-grafana/3.10.4/grafana-operator.v3.10.4.clusterserviceversion.yaml
  manifests/integreatly-grafana/3.10.4/grafanadashboards.integreatly.org.crd.yaml
  manifests/integreatly-grafana/3.10.4/grafanadatasources.integreatly.org.crd.yaml
  manifests/integreatly-grafana/3.10.4/grafanas.integreatly.org.crd.yaml
  manifests/integreatly-grafana/grafana.package.yaml
  pkg/products/grafana/reconciler.go
  products/products.yaml
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale operator to 0.8.0 using prerelease images
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-3scale/0.8.0/3scale-operator.v0.8.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.8.0/apps.3scale.net_apimanagerbackups_crd.yaml
  manifests/integreatly-3scale/0.8.0/apps.3scale.net_apimanagerrestores_crd.yaml
  manifests/integreatly-3scale/0.8.0/apps.3scale.net_apimanagers_crd.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_activedocs_crd.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_backends_crd.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_custompolicydefinitions_crd.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_developeraccounts_crd.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_developerusers_crd.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_openapis_crd.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_products_crd.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_tenants_crd.yaml
  manifests/integreatly-3scale/0.8.0/threescale-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: Add `replaces` field to 3scale 0.8.0 CSV
  manifests/integreatly-3scale/0.8.0/3scale-operator.v0.8.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

adding initial handling of stage in oo to rhmi and updating version of oo dependency and index image
  go.mod
  go.sum
  pkg/products/observability/reconciler.go
  products/installation.yaml
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/alertmanager_config.go
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/groupversion_info.go
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/index.go
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/observability_types.go
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/zz_generated.deepcopy.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/LICENSE
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/go.mod
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/go.sum
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/doc.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/register.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add DisableDeadmansSnitch to the cr to remove the requirement for secrets on OO install
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

initial installation steps for observability-operator
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/types.go
  pkg/config/ConfigReadWriter_moq.go
  pkg/config/manager.go
  pkg/config/observability.go
  pkg/products/observability/reconciler.go
  pkg/products/reconciler.go
  pkg/resources/constants/subscriptionConstants.go
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add our namespace selectors
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Added logic to create a ConfigMap that will prevent an observability CR from being created in the operator namespace.
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Initial implementation to handle uninstall of observability operator.
  Makefile
  apis/v1alpha1/rhmi_types.go
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/types.go
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add a monitoring common for alertmanagerconfig secret and create secrets in AMO and OO
  pkg/products/amqonline/reconciler.go
  pkg/products/codeready/reconciler.go
  pkg/products/fuse/reconciler.go
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/monitoringcommon/alertmanagerConfig.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/products/monitoringcommon/templateHelper.go
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
  pkg/products/solutionexplorer/reconciler.go
  pkg/products/threescale/clients_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

observability-operator.v3.0.4
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  apis/v1alpha1/rhmi_types.go
  products/installation.yaml
Due: none

refactor: test case updates for observability
  test-cases/tests/alerts/c05b-verify-alerts-are-exposed-and-no-critical-alerts-have-fired.md
  test-cases/tests/alerts/c08b-verify-alert-links-to-sops.md
  test-cases/tests/alerts/c10b-verify-additional-blackboxtargets.md
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/alerts/c19-validate-creation-of-invalid-username-triggers-alert.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/dashboards/e07b-verify-drill-down-links.md
  test-cases/tests/dashboards/e08b-verify-values-are-correct-in-resource-usage-dashboard.md
  test-cases/tests/monitoring/m02b-verify-rhoam-version-metric-is-exposed.md
  test-cases/tests/monitoring/m05b-verify-secrets.md
  test-cases/tests/multiAZ/p01-measure-downtime-during-down-az.md
  test-cases/tests/products/h21b-verify-all-products-using-the-workloadwebapp.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/upgrade/n01b-measure-downtime-during-openshift-upgrade.md
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: ci/prow/test-cases-lint

update to 3.0.5 of observability
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  products/installation.yaml
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/observability_types.go
  vendor/github.com/bf2fc6cc711aee1a0c2a/observability-operator/v3/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e
