Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

remove IDP envar
  Makefile
  config/manager/manager.yaml
  envs/multitenant-managed-api.env
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add e2e to test multitenancy functionality
  test/common/multitenancy.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

generated an upgrade
  Makefile
  apis/v1alpha1/rhmi_types.go
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagerbackups_crd.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagerrestores_crd.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers_crd.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_activedocs_crd.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_backends_crd.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_custompolicydefinitions_crd.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_developeraccounts_crd.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_developerusers_crd.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_openapis_crd.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_products_crd.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_tenants_crd.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  packagemanifests/managed-api-service/1.15.0/bundle.Dockerfile
  packagemanifests/managed-api-service/1.15.0/bundle/manifests/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.0/bundle/manifests/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.0/bundle/manifests/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.0/bundle/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.0/bundle/manifests/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/1.15.0/bundle/metadata/annotations.yaml
  packagemanifests/managed-api-service/1.15.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: update guide for using polarion tooling
  test-cases/README.md
Due: ci/prow/test-cases-lint

address comments
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: a25: remove cidr block update test case step
  test-cases/tests/installation/a25-verify-standalone-rhmi-vpc-exists-and-is-configured-properly.md
Due: ci/prow/test-cases-lint

fix(MGDAPI-2984): update category annotation to something required by CVP linting job
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

update mt 50mil quota
  pkg/addon/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: change RHOAM quota in CVP to minimum value
  config/scorecard/kuttl/rhoam-install/01-create-secrets.yaml
  config/scorecard/kuttl/rhoam-install/resources/secret-addon.yaml
Due: none

fix: remove updating rhmi cr status in subscription controller
  controllers/subscription/subscription_controller.go
Due: none

FIX: User with no identity
  pkg/products/rhsso/reconciler.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

TEST: orphaned identities have no side effects
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add required fields for scorecard testS
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.14.0/managed-api-service.clusterserviceversion.yaml
Due: none

Update: Remove extra api calls
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Adding corrupted users before RHOAM upgrade
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
Due: ci/prow/test-cases-lint

Note on how to log into 3scale for upgrade test case
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
Due: ci/prow/test-cases-lint

MGDAPI-2896: test: fix automated test a34
  test/common/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2910 Update UIBBT alert for threescale route to allow for routes without 3scale
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Add exception for CPaaS subscription name
  pkg/addon/operator_run.go
  pkg/addon/operator_run_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

mgdapi-3087: pr comment updates
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1920 Automated test for Self-Managed Apicast
  go.mod
  go.sum
  test-cases/tests/documentation/i12-modifying-dynamic-quota.md
  test-cases/tests/documentation/i13-install-rhoam-ocm.md
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/h24-verify-selfmanaged-apicast-and-custom-policy.go
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/test.sh
  vendor/github.com/3scale/apicast-operator/LICENSE
  vendor/github.com/3scale/apicast-operator/NOTICE
  vendor/github.com/3scale/apicast-operator/pkg/apis/apps/common.go
  vendor/github.com/3scale/apicast-operator/pkg/apis/apps/group.go
  vendor/github.com/3scale/apicast-operator/pkg/apis/apps/v1alpha1/apicast_types.go
  vendor/github.com/3scale/apicast-operator/pkg/apis/apps/v1alpha1/doc.go
  vendor/github.com/3scale/apicast-operator/pkg/apis/apps/v1alpha1/register.go
  vendor/github.com/3scale/apicast-operator/pkg/apis/apps/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/3scale/apicast-operator/pkg/apis/apps/v1alpha1/zz_generated.openapi.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

fix: test cases linting
  test-cases/tests/documentation/i12-modifying-dynamic-quota.md
  test-cases/tests/documentation/i13-install-rhoam-ocm.md
Due: ci/prow/test-cases-lint

prepare for release rhoam-v1.15.0-rc1
  Makefile
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

ensure missing identities do not block the install
  pkg/products/rhsso/reconciler.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: typo
  scripts/setup-sso-idp.sh
Due: none

MGDAPI-3095 add postgres serviceUpdates configuration
  pkg/config/cloudresources.go
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3095 CRO version bump to 0.31.0
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/rhmi_controller.go
  manifests/integreatly-cloud-resources/0.31.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.31.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.31.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.31.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.31.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.31.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.31.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.31.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3095 update vendor and go.mod with new CRO version v0.31.0
  go.mod
  go.sum
  vendor/github.com/integr8ly/cloud-resource-operator/LICENSE
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/credentials.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3095 - update the order of reconcilesubscription to before serviceUpdates
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3095 - bump cro to 0.32.0 version
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/0.32.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.32.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.32.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.32.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.32.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.32.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.32.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.32.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/types.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
