Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

update yq to v4
  Makefile
  README.md
  make/test-containers.mk
  openshift-ci/Dockerfile.tools
  openshift-ci/README.md
  scripts/prepare-release.sh
  scripts/prodsec-manifest-generator.sh
  scripts/setup-delorean-pullsecret.sh
  test-cases/tests/installation/a34-verify-quota-values.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: ci/prow/test-cases-lint

adressing comments
  scripts/prepare-release.sh
Due: none

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

manally generate the changes that ews would have
  manifests/integreatly-rhsso/15.0.0/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/15.0.0/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/15.0.0/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/15.0.0/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/15.0.0/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/15.0.0/rhsso-operator.15.0.0.clusterserviceversion.yaml
  manifests/integreatly-rhsso/image_mirror_mapping
  manifests/integreatly-rhsso/rhsso.package.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Random password for 3scale tenantsF
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/three_scale_client.go
  pkg/products/threescale/three_scale_moq.go
  pkg/resources/password.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Remove extra char in prepare-release.sh
  scripts/prepare-release.sh
Due: none

prepare for release v2.9.3-rc1
  Makefile
  PROJECT
  packagemanifests/integreatly-operator/2.9.3/integreatly-operator.clusterserviceversion.yaml
  packagemanifests/integreatly-operator/2.9.3/integreatly.org_rhmiconfigs.yaml
  packagemanifests/integreatly-operator/2.9.3/integreatly.org_rhmis.yaml
  packagemanifests/integreatly-operator/2.9.3/rhmi-operator-metrics-service_v1_service.yaml
  packagemanifests/integreatly-operator/2.9.3/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/integreatly-operator/integreatly-operator.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add replaces to the csv
  manifests/integreatly-rhsso/15.0.0/rhsso-operator.15.0.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: run C19 before H11
  test-cases/tests/alerts/c19-validate-creation-of-invalid-username-triggers-alert.md
  test/common/alerts_invalid_username.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

Fixed Quota name in 3scale.go
  pkg/config/threescale.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Feat: added support for AMO 1.8.0
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-monitoring/1.8.0/application-monitoring-operator.v1.8.0.clusterserviceversion.yaml
  manifests/integreatly-monitoring/1.8.0/applicationmonitoring.integreatly.org_applicationmonitorings_crd.yaml
  manifests/integreatly-monitoring/1.8.0/applicationmonitoring.integreatly.org_blackboxtargets_crd.yaml
  manifests/integreatly-monitoring/1.8.0/grafana_crd.yaml
  manifests/integreatly-monitoring/1.8.0/grafana_dashboard_crd.yaml
  manifests/integreatly-monitoring/1.8.0/grafana_datasource_crd.yaml
  manifests/integreatly-monitoring/monitoring.package.yaml
  packagemanifests/managed-api-service/1.10.0/managed-api-service.clusterserviceversion.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Updates to A30 and H23 test cases
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
Due: ci/prow/test-cases-lint

Get 3scale user email from identity Set pod priority to 0 for deve sandbox installs
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/three_scale_client.go
  pkg/products/threescale/three_scale_moq.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix for updating empty email address
  controllers/rhmi/rhmi_controller.go
Due: none

Fix prepare-release.sh - wrong quotes prevent setting container image
  scripts/prepare-release.sh
Due: none

prepare for release v2.9.3
  packagemanifests/integreatly-operator/2.9.3/integreatly-operator.clusterserviceversion.yaml
Due: none

installing multitenant under new namespace
  Makefile
  config/rbac-sandbox/kustomization.yaml
  config/rbac-sandbox/patches/auth_proxy_role_binding.yaml
  config/rbac-sandbox/patches/leader_election_role_binding.yaml
  config/rbac-sandbox/patches/role_binding.yaml
  envs/multitenant-managed-api.env
Due: none

only manual deployment of RHMI CR for OLM installation type
  controllers/rhmi/rhmi_controller.go
  pkg/addon/operator_run.go
  scripts/patch-image-csv.sh
Due: ci/prow/e2e, ci/prow/rhoam-e2e

skip e05
  test/common/grafana_routes.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

use tenant 3scale email from identitiy and set pod priority to 0 for multitenancy
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/three_scale_client.go
  pkg/products/threescale/three_scale_moq.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: mark c19 flaky for nightly runs and update test case with command to run manually
  test-cases/tests/alerts/c19-validate-creation-of-invalid-username-triggers-alert.md
  test/common/alerts_invalid_username.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

feat: keycloak migration strategy dependant on release type
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix CSV generation for containerImages
  scripts/prepare-release.sh
Due: none

Include suggested-namespace annotation in base CSV
  config/manifests-rhmi/bases/integreatly-operator.clusterserviceversion.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

prepare for release v2.9.4
  packagemanifests/integreatly-operator/2.9.4/integreatly-operator.clusterserviceversion.yaml
  packagemanifests/integreatly-operator/2.9.4/integreatly.org_rhmiconfigs.yaml
  packagemanifests/integreatly-operator/2.9.4/integreatly.org_rhmis.yaml
  packagemanifests/integreatly-operator/2.9.4/rhmi-operator-metrics-service_v1_service.yaml
  packagemanifests/integreatly-operator/2.9.4/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/integreatly-operator/integreatly-operator.package.yaml
  vendor/github.com/Apicurio/apicurio-operators/apicurito/LICENSE
  vendor/github.com/Apicurio/apicurio-operators/apicurito/pkg/apis/apicur/v1alpha1/apicurito_types.go
  vendor/github.com/Apicurio/apicurio-operators/apicurito/pkg/apis/apicur/v1alpha1/doc.go
  vendor/github.com/Apicurio/apicurio-operators/apicurito/pkg/apis/apicur/v1alpha1/register.go
  vendor/github.com/Apicurio/apicurio-operators/apicurito/pkg/apis/apicur/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/Apicurio/apicurio-operators/apicurito/pkg/apis/apicur/v1alpha1/zz_generated.openapi.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: test cases tagged for RHOAM v1.12.0
  test-cases/tests/alerts/c08b-verify-alert-links-to-sops.md
  test-cases/tests/alerts/c10b-verify-additional-blackboxtargets.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test-cases/tests/dashboards/e07b-verify-drill-down-links.md
  test-cases/tests/installation/a32-validate-sso-urls-from-rhmi-cr.md
  test-cases/tests/installation/a33-validate-console-links.md
  test-cases/tests/monitoring/m02b-verify-rhoam-version-metric-is-exposed.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: ci/prow/test-cases-lint

prepare for release rhoam-v1.12.0-rc1
  Makefile
  PROJECT
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/integreatly-operator/integreatly-operator.package.yaml
  packagemanifests/managed-api-service/1.12.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.12.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.12.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.12.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.12.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Revert "prepare for release rhoam-v1.12.0-rc1"
  Makefile
  PROJECT
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/integreatly-operator/integreatly-operator.package.yaml
  packagemanifests/managed-api-service/1.12.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.12.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.12.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.12.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.12.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

added instructions on where to find the Cluster SSO link
  test-cases/tests/authorization/b01b-verify-that-the-users-can-login-in-all-products.md
Due: ci/prow/test-cases-lint

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
