Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

set observability config namespace in boostrap reconciler, if it's not set
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Moving alerts to observability operator namespace
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/prometheusRules.go
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/types.go
  pkg/config/observability.go
  pkg/products/cloudresources/prometheusRules.go
  pkg/products/grafana/prometheusRules.go
  pkg/products/marin3r/apiUsagePrometheusRules.go
  pkg/products/marin3r/prometheusRules.go
  pkg/products/marin3r/rejectedRequestsPrometheusRules.go
  pkg/products/observability/prometheusRules.go
  pkg/products/observability/reconciler.go
  pkg/products/rhsso/prometheusRules.go
  pkg/products/rhssouser/prometheusRules.go
  pkg/products/threescale/envoy_prometheusRules.go
  pkg/products/threescale/prometheusRules.go
  pkg/resources/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Adds PrometheusRule to satisfy TestReconciler_full_RHOAM_Reconcile unit test.
  test/common/3scale_smtp.go
  test/common/integreatly_stages.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Changed Prometheus probes to be created for any RHOAM installation since dev sandbox and OO are being rolled out in the same release.
  pkg/products/grafana/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Export Grafana dashboard & Prometheus alerts from SSO
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

don't wait for both alertmanager and prometheus to be unavailable to start the time
  scripts/monitoringupgradetest.sh
Due: none

create config map before subscription
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add script to test the lenght of time it takes for monitoring to upgrade
  scripts/monitoringupgradetest.sh
Due: none

feat: specify alertmanger & prometheus route names in observability cr
  pkg/config/observability.go
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

feat: set prometheus storage configuation in observability
  pkg/config/observability.go
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Adds PrometheusRule to satisfy TestReconciler_full_RHOAM_Reconcile unit test.
  pkg/products/rhssouser/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

feat: specify prometheus and alertmanager versions in observability cr
  pkg/config/observability.go
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add additional scrape config for prometheus to scrape metric
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

use redhat-developer copy of oo instead of private repo
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  go.mod
  go.sum
  pkg/config/observability.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/alertmanager_config.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/groupversion_info.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/index.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/observability_types.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Addressed PR comments.
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/config/observability.go
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoringcommon/alertmanagerConfig.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add observability stages to multitenant
  controllers/rhmi/types.go
Due: none

feat: add resource requirements for prometheus operator in obserability
  go.mod
  go.sum
  pkg/config/observability.go
  pkg/products/observability/reconciler.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/observability_types.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

bump to oo 3.0.7
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/bootstrapReconciler.go
  go.mod
  go.sum
  pkg/products/observability/reconciler.go
  products/installation.yaml
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/observability_types.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: remove manual creation of DMS alert
  pkg/products/observability/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

disable image scan temporarily
  scripts/prepare-release.sh
Due: none

change default name
  controllers/rhmi/rhmi_controller.go
  go.sum
  pkg/products/monitoring/reconciler.go
  pkg/products/observability/reconciler.go
  scripts/alerts-during-perf-testing.sh
  scripts/capture_resource_metrics.sh
  test-cases/tests/alerts/c03-verify-that-alerting-mechanism-works.md
  test-cases/tests/alerts/c05b-verify-alerts-are-exposed-and-no-critical-alerts-have-fired.md
  test-cases/tests/alerts/c14a-verify-3scale-uibbt-alerts.md
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/alerts/c19-validate-creation-of-invalid-username-triggers-alert.md
  test-cases/tests/monitoring/m02a-verify-rhmi-version-metric-is-exposed.md
  test-cases/tests/monitoring/m02b-verify-rhoam-version-metric-is-exposed.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test/common/routes_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

prepare for release rhoam-v1.13.0-rc1
  Makefile
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.13.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.13.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.13.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.13.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.13.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix 3scale and rhsso container images generation
  scripts/prepare-release.sh
Due: none

refactor: update scripts with migration to observability operator
  scripts/alerts-during-perf-testing.sh
  scripts/capture_resource_metrics.sh
Due: none

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

fix prep-release generating empty URLS
  packagemanifests/managed-api-service/1.13.0/managed-api-service.clusterserviceversion.yaml
  scripts/prepare-release.sh
Due: none

add oo manifests
  manifests/integreatly-observability-operator/3.0.7/observability-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-observability-operator/3.0.7/observability-operator-priority-class_scheduling.k8s.io_v1_priorityclass.yaml
  manifests/integreatly-observability-operator/3.0.7/observability-operator.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/3.0.7/observability.redhat.com_observabilities.yaml
  manifests/integreatly-observability-operator/observability-operator.package.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

updating products.yaml and re-generating master manifests
  prodsec-manifests/rhmi-master-manifest.txt
  prodsec-manifests/rhoam-master-manifest.txt
  products/products.yaml
Due: none

additional fixes to correctly generate container image for oo
  manifests/integreatly-observability-operator/observability-operator.package.yaml
  packagemanifests/managed-api-service/1.13.0/managed-api-service.clusterserviceversion.yaml
  scripts/prepare-release.sh
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1882 - Update/Create automated e2e tests/test cases
  test/common/alerts_exist.go
  test/common/alerts_firing.go
  test/common/alerts_invalid_username.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1882 - Update/Create automated e2e tests/test cases
  test/common/alerts_exist.go
  test/common/alerts_firing.go
  test/common/alerts_invalid_username.go
  test/common/alerts_mechanism.go
  test/common/dashboards_data.go
  test/common/dashboards_exist.go
  test/common/grafana_routes.go
  test/common/namespace_created.go
  test/common/namespace_restoration.go
  test/common/subscription_install_plan.go
  test/common/tests.go
  test/common/types.go
  test/osde2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

formating
  test/common/alerts_mechanism.go
  test/common/dashboards_data.go
  test/common/dashboards_exist.go
  test/common/grafana_routes.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale 2.11 CSV
  manifests/integreatly-3scale/0.8.0/3scale-operator.v0.8.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

change the service account back to keycloak-operator
  manifests/integreatly-rhsso/15.0.0/rhsso-operator.15.0.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e
