Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

add support for podman
  bundles/managed-api-service/bundle.Dockerfile
  scripts/bundle-rhmi-operators.sh
Due: none

bump version of sso
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.17.0-rc1
  apis-products/enmasse/admin/v1beta1/zz_generated.deepcopy.go
  apis-products/enmasse/enmasse/v1beta1/zz_generated.deepcopy.go
  apis-products/enmasse/v1beta1/zz_generated.deepcopy.go
  apis-products/enmasse/v1beta1/zz_generated.defaults.go
  apis-products/enmasse/v1beta2/zz_generated.deepcopy.go
  apis-products/enmasse/v1beta2/zz_generated.defaults.go
  apis-products/enmasse/v1beta2/zz_generated.openapi.go
  apis-products/kafka.strimzi.io/v1alpha1/zz_generated.deepcopy.go
  apis-products/kafka.strimzi.io/v1alpha1/zz_generated.defaults.go
  apis-products/kafka.strimzi.io/v1alpha1/zz_generated.openapi.go
  apis-products/tutorial-web-app-operator/v1alpha1/zz_generated.deepcopy.go
  apis/v1alpha1/zz_generated.deepcopy.go
  bundles/managed-api-service/1.17.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.17.0/tests/scorecard/config.yaml
Due: none

MGDAPI-3416 update to registry images
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.3)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.2-4
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.2-4.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 update prodsec manifest and script
  prodsec-manifests/rhoam-production-release-manifest.txt
  scripts/prodsec-manifest-generator.sh
Due: none

MGDAPI-3452 small updates to test cases
  test-cases/tests/alerts/c08b-verify-alert-links-to-sops.md
  test-cases/tests/upgrade/n03-verify-that-the-minimal-cidr-block-is-configured-correctly.md
Due: ci/prow/test-cases-lint

MGDAPI-3209 - bump: prepare for next release - 1.18.0
  Makefile
  bundles/managed-api-service/1.18.0/bundle.Dockerfile
  bundles/managed-api-service/1.18.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.18.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.18.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.18.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.18.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.18.0/metadata/annotations.yaml
  bundles/managed-api-service/1.18.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3257 - update keycloak-client
  go.mod
  go.sum
  products/products.yaml
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: update B03 test to include RHMI CR developer permission verification
  apis/v1alpha1/zz_generated.deepcopy.go
  test/common/user_rhmi_developer_permissions.go
  test/resources/openshift_api.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3021 Fix panic on missing smtp secret and add unit tests for new get functions
  Makefile
  pkg/products/monitoringcommon/alertmanagerConfig.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  test/common/alerts_firing.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3021 Revert removal of smtp creation in cluster/prepare
  Makefile
Due: none

fix: add automated tag to test case spec; update CR name
  test-cases/tests/authorization/b03b-verify-rhoam-developer-user-permissions-are-correct.md
  test/common/user_rhmi_developer_permissions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

fix: rename CR name
  test/common/user_rhmi_developer_permissions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.3)
  manifests/integreatly-3scale/0.8.3/3scale-operator.v0.8.3.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3019 Update Readme with rhoam uninstall documentation
  README.md
Due: none

Update 3scale manifests (0.8.3)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.2-6
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.2-6.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.3)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.2-8
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.2-8.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-15
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-15.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-16
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-16.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: remove autogenerated file and rename CR
  apis/v1alpha1/zz_generated.deepcopy.go
  test/common/user_rhmi_developer_permissions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: restore autogenerated file, as it looks like it's needed
  apis/v1alpha1/zz_generated.deepcopy.go
Due: none

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3457 - uninstall stages performed in order
  controllers/rhmi/rhmi_controller.go
  pkg/products/rhssocommon/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Changed ID's
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3021 Fixing e2e test failure
  pkg/resources/metrics.go
  test/common/3scale_smtp.go
  test/common/sendgrid_credentials_valid.go
  test/resources/util.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3185 Added Test Cases and fixed a few spelling mistakes
  test-cases/tests/products/h29-verify-that-backend-can-be-created-via-backend-cr.md
  test-cases/tests/products/h30-verify-that-product-can-be-created-via-product-cr.md
  test-cases/tests/products/h31-verify-that-tenant-can-be-created-via-tenant-cr.md
  test/common/3scale_backend_via_CR.go
  test/common/3scale_tenant_via_CR.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-3437
  README.md
Due: none

test coveralls
  scripts/ci/unit_test.sh
Due: none

MGDAPI-3019 Addressing comments
  README.md
Due: none

test: (M02B) verify RHOAM version metric is exposed in Prometheus
  test-cases/tests/monitoring/m02b-verify-rhoam-version-metric-is-exposed.md
  test/common/tests.go
  test/common/verify_prometheus_metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-3475 skip only AWS tests
  README.md
  test/functional/integreatly_test.go
  test/functional/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix spelling error in alerts firing test log
  test/common/alerts_mechanism.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3256 update Dockerfile.tools for prow
  openshift-ci/Dockerfile.tools
Due: none

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-1575 Refactored namespace reconciler to disable user-monitoring on namespaces & added extra test coverage
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoringspec/reconciler.go
  pkg/resources/reconciler.go
  pkg/resources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
