Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

prepare for release v2.9.0-rc1
  packagemanifests/integreatly-operator/2.9.0/integreatly-operator.clusterserviceversion.yaml
  packagemanifests/integreatly-operator/2.9.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
Due: none

revert update to service monitor
  config/prometheus/monitor.yaml
Due: none

fix: update test cases
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
Due: ci/prow/test-cases-lint

added linking of destructive cases
  test-cases/tools/cmd/jira.ts
Due: ci/prow/test-cases-lint

prettier
  test-cases/tools/cmd/jira.ts
Due: ci/prow/test-cases-lint

spaces for good measure
  test-cases/tools/cmd/jira.ts
Due: ci/prow/test-cases-lint

bump cro to v0.27.0, apply the signature changed for croUtil.ReconcilePosgres for postgres cr flag applyImmediately
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/0.27.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.27.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.27.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.27.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.27.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.27.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.27.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.27.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  pkg/products/amqonline/reconciler.go
  pkg/products/codeready/reconciler.go
  pkg/products/fuse/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/products/ups/reconciler.go
  pkg/resources/constants/croConstants.go
  pkg/resources/rhsso.go
  products/installation.yaml
  products/products.yaml
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/client/util.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

make code/fix
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update test case and test for J03
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test/common/namespace_restoration.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

bump version of cro to v0.27.1
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/0.27.1/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.27.1/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.27.1/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.27.1/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.27.1/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.27.1/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.27.1/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.27.1/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/client/util.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.8.0-rc2
  packagemanifests/managed-api-service/1.8.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.8.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
Due: none

MGDAPI-1728 - Consume addon parameter for the STS role in RHOAM and pass it to CRO
  Makefile
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  config/rbac/role.yaml
  config/secrets/addon-params-secret.yaml
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

wip test e2e
  README.md
Due: none

Added new alert to test-suite.
  test/common/alerts_exist.go
  test/functional/aws_rds_resources_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

feat!: Support "implicit" product operator installation
  pkg/addon/operator_run.go
  pkg/addon/parameters.go
  pkg/resources/k8s/k8sutil.go
  pkg/resources/k8s/objectQueries.go
  pkg/resources/k8sutil.go
  pkg/resources/marketplace/catalog_source_reconciler.go
  pkg/resources/marketplace/configmap_catalog_source_reconciler.go
  pkg/resources/marketplace/grpc_image_catalog_source_reconciler.go
  pkg/resources/marketplace/implicit_catalog_source_reconciler.go
  pkg/resources/marketplace/manager.go
  pkg/resources/marketplace/products_installation.go
  pkg/resources/objectQueries.go
  pkg/resources/rhmi.go
  pkg/resources/rhmi/rhmi.go
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release v2.9.0-rc2
  packagemanifests/integreatly-operator/2.9.0/integreatly-operator.clusterserviceversion.yaml
  packagemanifests/integreatly-operator/2.9.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
Due: none

prepare for release rhoam-v1.8.0
  packagemanifests/managed-api-service/1.8.0/managed-api-service.clusterserviceversion.yaml
Due: none

Refactor: Removed metion of prow in some comments
  Makefile
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/reconciler.go
  test/e2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

increase upgrade alert time to 60 minutes
  controllers/rhmi/prometheusRules.go
Due: none

update prepare/release to list related images by sha
  products/products.yaml
  scripts/prepare-release.sh
Due: none

test: update n02b test case
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
Due: ci/prow/test-cases-lint

prepare for release rhoam-v1.8.0-rc3
  packagemanifests/managed-api-service/1.8.0/managed-api-service.clusterserviceversion.yaml
Due: none

test
  Makefile
Due: none

change images for 3scale and Envoy
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
  pkg/resources/ratelimit/envoy.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2073 - Address high CVEs discovered in keycloak-operator image (used in RHOAM v1.8.0)
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-rhsso/14.0.0/keycloak-operator.v14.0.0.clusterserviceversion.yaml
  manifests/integreatly-rhsso/14.0.0/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/14.0.0/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/14.0.0/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/14.0.0/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/14.0.0/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/rhsso.package.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update the container images also
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

change service references to operator-metrics-service
  pkg/products/cloudresources/prometheusRules.go
  pkg/resources/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release v2.9.0-rc3
  packagemanifests/integreatly-operator/2.9.0/integreatly-operator.clusterserviceversion.yaml
Due: none

FIX: Upper case github user not being matched
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Refactor: Move the lower casing of user names out of the function.
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/three_scale_client.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

delete obsolete service
  controllers/rhmi/bootstrapReconciler.go
Due: none

fix: address comment
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
Due: ci/prow/test-cases-lint

remove obsolete service
  controllers/rhmi/bootstrapReconciler.go
Due: none
