Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

Update 3Scale-operator import to 3scale-2.10.0-CR1
  go.mod
  go.sum
Due: none

Update 3Scale product version
  pkg/apis/integreatly/v1alpha1/rhmi_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/versions

Fix delorean pull secret issues in Makefile
  Makefile
Due: none

Update 3scale manifests (0.7.0)
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update Makefile based on new changes in master
  Makefile
Due: none

Update 3scale manifests (0.7.0)
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagers_crd.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-10370 Update RHSSO operator to v12.0.1
  Makefile
  deploy/olm-catalog/integreatly-operator/2.7.1/integreatly-operator.v2.7.1.clusterserviceversion.yaml
  deploy/olm-catalog/integreatly-operator/2.7.1/integreatly.org_rhmiconfigs_crd.yaml
  deploy/olm-catalog/integreatly-operator/2.7.1/integreatly.org_rhmis_crd.yaml
  deploy/olm-catalog/integreatly-operator/2.7.2/integreatly-operator.v2.7.2.clusterserviceversion.yaml
  deploy/olm-catalog/integreatly-operator/2.7.2/integreatly.org_rhmiconfigs_crd.yaml
  deploy/olm-catalog/integreatly-operator/2.7.2/integreatly.org_rhmis_crd.yaml
  deploy/olm-catalog/integreatly-operator/2.8.0/integreatly-operator.v2.8.0.clusterserviceversion.yaml
  deploy/olm-catalog/integreatly-operator/2.8.0/integreatly.org_rhmiconfigs_crd.yaml
  deploy/olm-catalog/integreatly-operator/2.8.0/integreatly.org_rhmis_crd.yaml
  deploy/olm-catalog/integreatly-operator/integreatly-operator.package.yaml
  deploy/olm-catalog/managed-api-service/1.2.0/integreatly.org_rhmiconfigs_crd.yaml
  deploy/olm-catalog/managed-api-service/1.2.0/integreatly.org_rhmis_crd.yaml
  deploy/olm-catalog/managed-api-service/1.2.0/managed-api-service.v1.2.0.clusterserviceversion.yaml
  deploy/olm-catalog/managed-api-service/managed-api-service.package.yaml
  manifests/integreatly-rhsso/12.0.1/keycloak-operator.v12.0.1.clusterserviceversion.yaml
  manifests/integreatly-rhsso/12.0.1/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/12.0.1/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/12.0.1/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/12.0.1/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/12.0.1/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/rhsso.package.yaml
  pkg/apis/integreatly/v1alpha1/rhmi_types.go
  pkg/metrics/metrics.go
  pkg/products/rhsso/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/reconciler.go
  pkg/resources/reconciler_test.go
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/versions

update to AMO 1.5.1 to fix grafana operator not updating issue
  manifests/integreatly-monitoring/1.5.1/application-monitoring-operator.v1.5.1.clusterserviceversion.yaml
  manifests/integreatly-monitoring/1.5.1/applicationmonitoring.integreatly.org_applicationmonitorings_crd.yaml
  manifests/integreatly-monitoring/1.5.1/applicationmonitoring.integreatly.org_blackboxtargets_crd.yaml
  manifests/integreatly-monitoring/1.5.1/grafana_crd.yaml
  manifests/integreatly-monitoring/1.5.1/grafana_dashboard_crd.yaml
  manifests/integreatly-monitoring/1.5.1/grafana_datasource_crd.yaml
  manifests/integreatly-monitoring/monitoring.package.yaml
  pkg/apis/integreatly/v1alpha1/rhmi_types.go
  pkg/apis/integreatly/v1alpha1/zz_generated.openapi.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/versions

Fix: revert the last three commits pushed by EWS.
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagers_crd.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

3scale route checking error
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

bug in error logging.
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: a30: remove checking monitoring tab in ocm ui
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
Due: ci/prow/test-cases-lint

fix: c05, h25: added links to workload web app
  test-cases/tests/alerts/c05a-verify-alerts-are-exposed-and-no-critical-alerts-have-fired.md
  test-cases/tests/alerts/c05b-verify-alerts-are-exposed-and-no-critical-alerts-have-fired.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
Due: ci/prow/test-cases-lint

fix: create grafana sa role and binding in code to avoid conflicts with olm
  manifests/integreatly-grafana/3.8.1/grafana-operator.v3.8.1.clusterserviceversion.yaml
  manifests/integreatly-monitoring/1.5.0/application-monitoring-operator.v1.5.0.clusterserviceversion.yaml
  pkg/products/grafana/reconciler.go
  pkg/products/monitoring/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update rhmi-operator permissions
  deploy/olm-catalog/integreatly-operator/2.8.0/integreatly-operator.v2.8.0.clusterserviceversion.yaml
  deploy/role.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

RHSSO_Bump to V12.0.1
  manifests/integreatly-rhsso/12.0.1/keycloak-operator.v12.0.1.clusterserviceversion.yaml
  manifests/integreatly-rhsso/12.0.1/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/12.0.1/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/12.0.1/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/12.0.1/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/12.0.1/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/rhsso.package.yaml
  pkg/apis/integreatly/v1alpha1/rhmi_types.go
  pkg/products/rhsso/reconciler.go
  test/common/dashboards_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/versions

Add check to prevent overriding RHMI production SMTP fromAddress values in alert manager"
  pkg/products/monitoring/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Unify memory unit used in Grafana
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
  templates/monitoring/fuseonline/addon-ops-home-dashboard.yml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.2.0
  deploy/olm-catalog/managed-api-service/1.2.0/managed-api-service.v1.2.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update managed-api-service.v1.2.0.clusterserviceversion.yaml
  deploy/olm-catalog/managed-api-service/1.2.0/managed-api-service.v1.2.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: update links to automation
  test-cases/tests/alerts/c19-validate-creation-of-invalid-username-triggers-alert.md
  test-cases/tests/installation/a32-validate-sso-config.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
Due: ci/prow/test-cases-lint

use var for alertManagerConfigSecretFileName
  pkg/products/monitoring/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release v2.8.0-rc2
  deploy/olm-catalog/integreatly-operator/2.8.0/integreatly-operator.v2.8.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add back AMO 1.2.1
  manifests/integreatly-monitoring/1.2.1/application-monitoring-operator.v1.2.1.clusterserviceversion.yaml
  manifests/integreatly-monitoring/1.2.1/applicationmonitoring.integreatly.org_applicationmonitorings_crd.yaml
  manifests/integreatly-monitoring/1.2.1/applicationmonitoring.integreatly.org_blackboxtargets_crd.yaml
  manifests/integreatly-monitoring/1.2.1/grafana_crd.yaml
  manifests/integreatly-monitoring/1.2.1/grafana_dashboard_crd.yaml
  manifests/integreatly-monitoring/1.2.1/grafana_datasource_crd.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

[MGDAPI-1016] Add script to configure OAuth access token (session) expiration and token inactivity timeout(s) for OSD cluster and also the associated SSO IDP if configured.
  .gitignore
  README.md
  scripts/refine-oauth-token-timeouts.sh
  scripts/setup-htpass-idp.sh
  scripts/setup-sso-idp.sh
  test-cases/README.md
  vendor/github.com/Microsoft/hcsshim/internal/hcs/process.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

Remove unused podmonitors from keycloak namespaces
  deploy/role.yaml
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release v2.8.0-rc3
  deploy/olm-catalog/integreatly-operator/2.8.0/integreatly-operator.v2.8.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release v2.8.0
  deploy/olm-catalog/integreatly-operator/2.8.0/integreatly-operator.v2.8.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: test: F04
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Remove N06 Test Case
  test-cases/tests/upgrade/n06-verify-legacy-cluster-vpc-is-configured-properly.md
  test/functional/aws_legacy_cluster_vpc.go
  test/functional/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

fix panic from namespace label controller where RHMI CR may not be present
  Makefile
  controllers/namespacelabel/namespacelabel_controller.go
Due: none

fix: Modify watches in namespace controller to enqueue correct requests
  controllers/namespacelabel/enqueue.go
  controllers/namespacelabel/namespacelabel_controller.go
Due: none

fix: Fix make release/prepare
  Makefile
  scripts/prepare-release.sh
Due: none

Print Errors when they may have happened
  test/common/3scale_smtp.go
  test/common/alerts_mechanism.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: add noColor flag to Dockefile.functional
  Dockerfile.functional
Due: none

test: fix condition for multiaz tests
  test/functional/integreatly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e
