Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

prepare for release rhoam-v1.10.0-rc4
  packagemanifests/managed-api-service/1.10.0/managed-api-service.clusterserviceversion.yaml
Due: none

prepare for release rhoam-v1.10.0
  packagemanifests/managed-api-service/1.10.0/managed-api-service.clusterserviceversion.yaml
Due: none

fix: unit and e2e tests
  pkg/config/threescale.go
  pkg/products/marin3r/apiUsagePrometheusRules.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/marin3r/reconciler.go
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
  test/common/alerts_exist.go
  test/common/deployment_types.go
  test/common/monitoringspec.go
  test/common/quota.go
  test/common/verify_metrics_scrapped.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

Update promql queries
  pkg/products/grafana/customerDashboard.go
  pkg/products/marin3r/apiUsagePrometheusRules.go
  pkg/products/marin3r/rejectedRequestsPrometheusRules.go
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

migrate to limitador as rate limiting solution
  pkg/products/marin3r/prometheusRules.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update promql queries (2)
  pkg/products/grafana/customerDashboard.go
  pkg/products/marin3r/apiUsagePrometheusRules.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rejectedRequestsPrometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Adds a function to get users identity by provider name
  config/rbac/role.yaml
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

address comments
  Makefile
  apis/v1alpha1/installationTypesHelper.go
  apis/v1alpha1/installationTypesHelper_test.go
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
  controllers/subscription/subscription_controller.go
  envs/managed-api.env
  envs/managed.env
  envs/multitenant-managed-api.env
  pkg/addon/operator_run.go
  pkg/config/rhssoUser.go
  pkg/config/threescale.go
  pkg/products/grafana/reconciler.go
  pkg/products/monitoring/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/installTypesHelper.go
  pkg/resources/poddistribution/poddistribution.go
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

include multitenant rhoam in rhoam tests
  Makefile
  test/common/alerts_exist.go
  test/common/alerts_firing.go
  test/common/cro_cr_success.go
  test/common/dashboards_data.go
  test/common/dashboards_exist.go
  test/common/deployment_types.go
  test/common/integreatly_stages.go
  test/common/monitoringspec.go
  test/common/namespace_created.go
  test/common/namespace_restoration.go
  test/common/operand_versions.go
  test/common/operator_versions.go
  test/common/priority_validate.go
  test/common/pvc_validate.go
  test/common/routes_exist.go
  test/common/subscription_install_plan.go
  test/common/tests.go
  test/common/user_dedicated_admin_permissions.go
  test/common/user_rhmi_developer_permissions.go
  test/common/verify_metrics_scrapped.go
  test/e2e/suite_test.go
  test/functional/aws_s3_resources_exist.go
  test/functional/aws_shared_functions.go
  test/osde2e/pre-test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

addressing comments
  apis/v1alpha1/installationTypesHelper.go
  apis/v1alpha1/installationTypesHelper_test.go
  controllers/rhmi/rhmi_controller.go
Due: none

Adds a function to fetch MT users
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

adds creation of new tenants to 3scale reconciler
  controllers/rhmi/rhmi_controller.go
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/products/threescale/three_scale_client.go
  pkg/products/threescale/three_scale_moq.go
  pkg/products/threescale/types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add multitenant-managed-api installation type
  Makefile
  apis/v1alpha1/rhmi_types.go
  config/configmap/cro-configmaps.yaml
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/prometheusRules.go
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/types.go
  controllers/subscription/subscription_controller.go
  pkg/config/monitoring.go
  pkg/config/rhssoUser.go
  pkg/config/threescale.go
  pkg/products/grafana/reconciler.go
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/endpointsDetailed.go
  pkg/products/monitoring/dashboards/endpointsReport.go
  pkg/products/monitoring/dashboards/endpointsSummary.go
  pkg/products/monitoring/dashboards/errorBudgetBurnSLOAlerts.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
  pkg/products/monitoring/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/installTypesHelper.go
  pkg/resources/installTypesHelper_test.go
  pkg/resources/poddistribution/poddistribution.go
  pkg/resources/prometheusRules.go
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add support for multi tenant user sso
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

using golang as base and don't build tools image for each run of make command
  Dockerfile.tools
  Makefile
Due: none

sanitise username before creating tenant resources
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

sanitise tentant user names
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

removing the use of kube_namespae_labels for monitoring key middleware
  pkg/products/amqonline/prometheusRules.go
  pkg/products/apicurito/prometheusRules.go
  pkg/products/cloudresources/prometheusRules.go
  pkg/products/codeready/prometheusRules.go
  pkg/products/fuse/prometheusRules.go
  pkg/products/grafana/prometheusRules.go
  pkg/products/marin3r/prometheusRules.go
  pkg/products/monitoring/prometheusRules.go
  pkg/products/rhsso/prometheusRules.go
  pkg/products/rhssouser/prometheusRules.go
  pkg/products/solutionexplorer/prometheusRules.go
  pkg/products/threescale/prometheusRules.go
  pkg/products/ups/prometheusRules.go
  test/common/dashboards_data.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update grafana dashboard queries to namespace regex rather than kube_namespace_label monitoring key
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/criticalSLOAlerts.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
  pkg/products/monitoring/dashboardsHelper.go
  pkg/products/monitoring/prometheusRules.go
  test/common/dashboards_data.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update name in test based on alert name change
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix syntax error in alert query
  pkg/products/fuse/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

remove prefix from RoutingSubdomain
  controllers/rhmi/bootstrapReconciler.go
Due: none

Bump CRO to 0.30.0
  apis/v1alpha1/rhmi_types.go
  go.mod
  manifests/integreatly-cloud-resources/0.30.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.30.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.30.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.30.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.30.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.30.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.30.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.30.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Change Redis applyImmediately flag to false
  pkg/products/marin3r/reconciler.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Fix unit tests after aws-sdk-go bump
  pkg/resources/awsStrategyHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Fixing version.go format
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

only use authorized_calls metric for api usage alerts
  pkg/products/marin3r/apiUsagePrometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Upgrade AMO to v1.6.2
  manifests/integreatly-monitoring/1.6.2/application-monitoring-operator.v1.6.2.clusterserviceversion.yaml
  manifests/integreatly-monitoring/1.6.2/applicationmonitoring.integreatly.org_applicationmonitorings_crd.yaml
  manifests/integreatly-monitoring/1.6.2/applicationmonitoring.integreatly.org_blackboxtargets_crd.yaml
  manifests/integreatly-monitoring/1.6.2/grafana_crd.yaml
  manifests/integreatly-monitoring/1.6.2/grafana_dashboard_crd.yaml
  manifests/integreatly-monitoring/1.6.2/grafana_datasource_crd.yaml
  manifests/integreatly-monitoring/monitoring.package.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: Add missing changes to AMO CSV
  manifests/integreatly-monitoring/1.6.2/application-monitoring-operator.v1.6.2.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: Manually set the grafana proxy image to 4.8
  pkg/products/monitoring/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

updating monitoring versions
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-monitoring/1.6.2/application-monitoring-operator.v1.6.2.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

wip
  pkg/products/rhsso/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/rhssoClient.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Adds the activation of a user to the 3scale client
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/three_scale_client.go
  pkg/products/threescale/three_scale_moq.go
  pkg/products/threescale/types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

New PR template draft
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
