Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-3336 - Remove the monitoring stage in the status
  controllers/rhmi/rhmi_controller.go
Due: none

A30 LDAP test case updates
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
Due: ci/prow/test-cases-lint

MGDAPI-1626 - feat: upgrade to use envoy v3 API
  pkg/products/marin3r/rateLimitService.go
  pkg/products/threescale/envoyconfig.go
  pkg/products/threescale/reconciler.go
  pkg/resources/ratelimit/envoy.go
  pkg/resources/ratelimit/envoyconfig.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2683 add codecov.io scripts
  .codecov.yml
  Makefile
  hack/codecov.sh
Due: none

MGDAPI-2683 codecov badge in README.md
  README.md
Due: none

test: B09 verify dedicated admin users are synced with User SSO
  test-cases/tests/authorization/b09-verify-dedicated-admin-users-are-synced-with-user-sso.md
  test/common/tests.go
  test/common/user_dedicated_admin_synced_sso.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

fix: handle http request error before using the response
  test/common/user_dedicated_admin_synced_sso.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

refactor: verify KeycloakUser groups via user-sso & clean up the test
  test/common/types.go
  test/common/user_dedicated_admin_synced_sso.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3476 Added 3Scale tests to new test case
  test/common/3scale_backend_via_CR.go
  test/common/3scale_product_via_CR.go
  test/common/3scale_tenant_via_CR.go
  test/common/shared_functions.go
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

refactor: replace KeycloakUser CR creation with Keycloak API requests
  test/common/types.go
  test/common/user_dedicated_admin_synced_sso.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Commented out cluster scoped test suite, to be uncommented for when Threescale becomes cluster scoped
  test/common/shared_functions.go
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test codecov
  README.md
Due: none

do not merge
  pkg/resources/events/events_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

added function for veryfing dedicated admin RHMI permissions
  test/common/user_dedicated_admin_permissions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

refactor: replace time.Sleep() with wait.PollImmediate()
  test/common/user_dedicated_admin_synced_sso.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

namespsacse
  apis/v1alpha1/zz_generated.deepcopy.go
  config/crd-sandbox/bases/integreatly.org_rhoamtenants.yaml
  controllers/tenant/rhoamtenant_controller.go
  controllers/tenant/watch.go
  main.go
Due: none

first commit
  bundles/managed-api-service/1.18.0/manifests/integreatly.org_rhoamtenants.yaml
  bundles/managed-api-service/1.18.0/manifests/managed-api-service.clusterserviceversion.yaml
  controllers/tenant/rhoamtenant_controller.go
  main.go
Due: none

fix: take out unnecessary API calls from polling
  test/common/user_dedicated_admin_synced_sso.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

updates
  Makefile
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

updates
  controllers/tenant/watch.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3483 Changed all info level alerts to blackhole
  templates/monitoring/alertmanager/alertmanager-application-monitoring.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-23
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-16.json
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-23.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: C10B verify prometheus blackbox targets
  test-cases/tests/alerts/c10b-verify-additional-blackboxtargets.md
  test/common/tests.go
  test/common/verify_prometheus_metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

Update 3scale manifests (0.8.1)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.1-5
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.1-5.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.1)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.1-3
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.1-3.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.1)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.1-16
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.1-16.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.1)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.1-7
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.1-7.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.1)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.1-10
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.1-10.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.1)
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-3scale/image_mirror_mapping
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/manifests/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/manifests/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/manifests/threescale-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.1-1
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.1-1.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.1)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.1-18
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.1-18.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.1)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.1-12
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.1-12.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.1)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.1-9
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.1-9.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.1)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.1-14
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.1-14.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

changes
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update pvc name
  test/common/pvc_validate.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
