Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Add products installation file for CPaaS
  products/installation-cpaas.yaml
Due: none

add keycloak metrics dashboard
  test/common/dashboards_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Bump CRO to 0.30.0
  apis/v1alpha1/rhmi_types.go
  go.mod
  manifests/integreatly-cloud-resources/0.30.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.30.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.30.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.30.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.30.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.30.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.30.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.30.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Change Redis applyImmediately flag to false
  pkg/products/marin3r/reconciler.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Fix unit tests after aws-sdk-go bump
  pkg/resources/awsStrategyHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add 1.8.1 bundle
  packagemanifests/managed-api-service/1.8.1/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.8.1/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.8.1/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.8.1/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.8.1/rhoam-operator-metrics-service_v1_service.yaml
Due: none

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

prepare for release rhoam-v1.9.0-rc2
  packagemanifests/managed-api-service/1.9.0/managed-api-service.clusterserviceversion.yaml
Due: none

test: update c18 test case and script
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/alerts/rate-limit.js
Due: ci/prow/test-cases-lint

MGDAPI-1920 Automated test for Self-Managed Apicast
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/apicast-example-apicast.yaml
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/apicast-operator-subscription.yaml
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/apicast-route.yaml
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/h24-verify-selfmanaged-apicast-and-custom-policy.go
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/selfmanaged-apicast-operator-group.yaml
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/test.sh
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Document the PRODUCT_DECLARATION variable
  README.md
Due: none

format code as part of release script
  scripts/prepare-release.sh
Due: none

100k quota
  Makefile
  config/secrets/quota-secret.yaml
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
  pkg/addon/quota.go
  pkg/metrics/metrics.go
  pkg/products/grafana/customerDashboard.go
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/endpointsDetailed.go
  pkg/products/monitoring/dashboards/endpointsReport.go
  pkg/products/monitoring/dashboards/endpointsSummary.go
  pkg/products/monitoring/dashboards/errorBudgetBurnSLOAlerts.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
  pkg/resources/quota/quota.go
  pkg/resources/quota/quota_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

setup redis service maintenance critical security update alert
  pkg/resources/metrics.go
  pkg/resources/sop_url.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

make code/fix
  pkg/resources/metrics.go
  pkg/resources/sop_url.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.9.0
  packagemanifests/managed-api-service/1.9.0/managed-api-service.clusterserviceversion.yaml
Due: none

bump 3scale-amp2/apicast-gateway-rhel8 to A grade
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Adding sop url for Test Alerts
  pkg/products/monitoring/prometheusRules.go
  pkg/resources/sop_url.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

sop update
  pkg/resources/sop_url.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale bundle in installation-cpaas.yaml
  products/installation-cpaas.yaml
Due: none

Updated usage of workload-web-app in test cases
  test-cases/tests/alerts/c05b-verify-alerts-are-exposed-and-no-critical-alerts-have-fired.md
  test-cases/tests/installation/a17b-verify-the-go-functional-tests-were-successful.md
  test-cases/tests/installation/a31-verify-installation-on-all-osd-versions.md
  test-cases/tests/multiAZ/p01-measure-downtime-during-down-az.md
  test-cases/tests/products/h21b-verify-all-products-using-the-workloadwebapp.md
  test-cases/tests/upgrade/n01b-measure-downtime-during-openshift-upgrade.md
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: ci/prow/test-cases-lint

Added RHOAM on OSD Trial Cluster test case
  test-cases/tests/installation/a40-rhoam-on-osd-trial.md
Due: ci/prow/test-cases-lint

Adding sop url for Test Alerts (#1980)
  pkg/products/monitoring/prometheusRules.go
  pkg/resources/sop_url.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update postgresql-10-rhel7 image
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add param to and udpate name in config map and object
  Makefile
  config/manager/manager.yaml
  controllers/rhmi/bootstrapReconciler.go
  pkg/addon/quota.go
  pkg/resources/quota/quota.go
  pkg/resources/quota/quota_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

100K quota e2e test update
  test/common/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update 3scale-operator image
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add multitenant-managed-api installation type
  Makefile
  apis/v1alpha1/rhmi_types.go
  config/configmap/cro-configmaps.yaml
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/prometheusRules.go
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/types.go
  controllers/subscription/subscription_controller.go
  pkg/config/monitoring.go
  pkg/config/rhssoUser.go
  pkg/config/threescale.go
  pkg/products/grafana/reconciler.go
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/endpointsDetailed.go
  pkg/products/monitoring/dashboards/endpointsReport.go
  pkg/products/monitoring/dashboards/endpointsSummary.go
  pkg/products/monitoring/dashboards/errorBudgetBurnSLOAlerts.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
  pkg/products/monitoring/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/installTypesHelper.go
  pkg/resources/installTypesHelper_test.go
  pkg/resources/poddistribution/poddistribution.go
  pkg/resources/prometheusRules.go
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

add redhat to the copyright in licence
  LICENSE
Due: none

add redhat to the copyright in licence (#1991)
  LICENSE
Due: none

Adds a function to fetch MT users
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update for 100k quota config
  Makefile
  test-cases/tests/installation/a34-verify-quota-values.md
Due: ci/prow/test-cases-lint

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
