Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

fix: address comment
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
Due: ci/prow/test-cases-lint

add how to deploy the operator from a custom image
  README.md
Due: none

fix: Rewire apiextensions v1beta1 imports to v1
  pkg/resources/marketplace/manifestHelper.go
  pkg/resources/reconciler.go
  test/common/crd_exists.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

set keycloak Update Strategy to Rolling as default
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: Remove patch to CatalogSource in RBAC resource
  config/rbac-rhoam/kustomization.yaml
  config/rbac-rhoam/patches/catalogsources.yaml
Due: none

Update pkg/products/monitoring/reconciler.go
  pkg/products/monitoring/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix failing test for rbac changes
  config/rbac/role.yaml
Due: none

Revert "Add make cmd for stopping operator running on cluster"
  Makefile
Due: none

test: test-case for sku package
  test-cases/tests/installation/a34-verify-sku-values.md
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

allow uninstall during installation
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

allow unistall while postgress crd in not present
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update latest commit
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update OWNERS
  OWNERS
Due: none

fix: test-case: lint
  test-cases/tests/installation/a34-verify-sku-values.md
Due: ci/prow/test-cases-lint

Update ubi8 image
  Dockerfile
  Dockerfile.functional
  Dockerfile.osde2e
  build/Dockerfile
Due: ci/prow/e2e, ci/prow/rhoam-e2e

updated unit tests for rate limit reconciler added product config moq for future use
  controllers/rhmi/rhmi_controller.go
  pkg/products/amqonline/reconciler_test.go
  pkg/products/amqstreams/reconciler_test.go
  pkg/products/apicurioregistry/reconciler_test.go
  pkg/products/apicurito/reconciler_test.go
  pkg/products/codeready/reconciler_test.go
  pkg/products/datasync/reconciler_test.go
  pkg/products/fuse/reconciler_test.go
  pkg/products/fuseonopenshift/reconciler_test.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/solutionexplorer/reconciler_test.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/sku/product_config_moq.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

lowerCase username get, add, update in tsClient & unit test reconcileOpenshiftUsers
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/products/threescale/three_scale_client.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update sku to 1,5,10,20,50 values as this is what will be passed via param fix up some tests and formatting
  Makefile
  config/configmap/sku-config.yaml
  config/secrets/sku-secret.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/amqstreams/reconciler_test.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update rate limiting values so they are parsed correctly
  config/configmap/sku-config.yaml
Due: none

case sensitive compare of 3scale and keycloak user names
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix potential nil pointers when logging
  pkg/products/monitoring/reconciler.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

using cluster object for createorupdate function updating tests to check that update does occur when is false is true and values are lower revert config changes - to be addressed later
  config/configmap/sku-config.yaml
  pkg/products/marin3r/rateLimitService.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update
  pkg/products/rhsso/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

on sku change event set updated to true reset ToSku at the end of a successful reconcile at the same point as toVersion
  apis/v1alpha1/rhmi_types.go
  config/crd/bases/integreatly.org_rhmis.yaml
  controllers/rhmi/rhmi_controller.go
Due: none

improving flow of getting the SKU improving flow of configure function update unit test and logic to update higher values down if isupdated is true adding e2e test case
  apis/v1alpha1/rhmi_types.go
  config/crd/bases/integreatly.org_rhmis.yaml
  config/secrets/sku-secret.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
  test/common/sku.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

make isUpdate private improve logic on how that is set at initial getSKU and at end of reconcile where ToSKU and SKU are updated
  controllers/rhmi/rhmi_controller.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

extract logic for processing sku to function don't return the error for now move logic down to prevent status.stages nil error but still update the cr if there is a toSKU isUpdated event
  controllers/rhmi/rhmi_controller.go
Due: none

remove namespace change
  Makefile
Due: none

adding sku package read from config map and pass to reconcilers
  Makefile
  config/configmap/sku-config.yaml
  config/secrets/sku-secret.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/Reconciler_moq.go
  pkg/products/amqonline/reconciler.go
  pkg/products/amqonline/reconciler_test.go
  pkg/products/amqstreams/reconciler.go
  pkg/products/amqstreams/reconciler_test.go
  pkg/products/apicurioregistry/reconciler.go
  pkg/products/apicurioregistry/reconciler_test.go
  pkg/products/apicurito/reconciler.go
  pkg/products/apicurito/reconciler_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/codeready/reconciler.go
  pkg/products/codeready/reconciler_test.go
  pkg/products/datasync/reconciler.go
  pkg/products/datasync/reconciler_test.go
  pkg/products/fuse/reconciler.go
  pkg/products/fuse/reconciler_test.go
  pkg/products/fuseonopenshift/reconciler.go
  pkg/products/fuseonopenshift/reconciler_test.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/reconciler.go
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/monitoringspec/reconciler.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/solutionexplorer/reconciler.go
  pkg/products/solutionexplorer/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/products/ups/reconciler.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

skip sku test for now when no config map found.
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add keycloak type to configure function use configure in the user sso reconcile update unit tests
  config/configmap/sku-config.yaml
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/resources/sku/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
