Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

test: move B04 to the end of IDP test suite
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update test-cases/tests/installation/a35-3scale-deploymentconfig-should-rescale-if-it-failed-during-i.md
  test-cases/tests/installation/a35-3scale-deploymentconfig-should-rescale-if-it-failed-during-i.md
Due: ci/prow/test-cases-lint

Update test-cases/tests/products/h26-3scale-users-permissions-do-not-change-after-changing-userna.md
  test-cases/tests/products/h26-3scale-users-permissions-do-not-change-after-changing-userna.md
Due: ci/prow/test-cases-lint

fix 3scale installation with user with uppercase letters
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Add docs for 1.4 release
  test-cases/tests/documentation/i11-verify-modifying-custom-parameters-email.md
Due: ci/prow/test-cases-lint

prepare for release rhoam-v1.4.0-rc1
  Makefile
  packagemanifests/managed-api-service/1.4.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.4.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.4.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.4.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.4.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update test-cases/tests/documentation/i11-verify-modifying-custom-parameters-email.md
  test-cases/tests/documentation/i11-verify-modifying-custom-parameters-email.md
Due: ci/prow/test-cases-lint

add rbac marker to include clusterversions object verbs
  controllers/rhmi/rhmi_controller.go
Due: none

add PagerDuty config custom details to include cluster information
  templates/monitoring/alertmanager/alertmanager-application-monitoring.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add cluster information fields in the templateUtil
  pkg/products/monitoring/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add tests around changes for including cluster information field in the templateUtil
  pkg/products/monitoring/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Add make cmd for stopping operator running on cluster
  Makefile
Due: none

test: fix: update test cases
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/dashboards/e04b-verify-slo-dashboard.md
  test-cases/tests/dashboards/e08b-verify-values-are-correct-in-resource-usage-dashboard.md
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
Due: ci/prow/test-cases-lint

test: new test cases for rhoam 1.4.0
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
Due: ci/prow/test-cases-lint

Added if statement to handle script being run without aws cli
  test/scripts/backup-restore/j07-verify-rhsso-backup-and-restore.sh
Due: ci/prow/e2e, ci/prow/rhoam-e2e

added if block for case of no installation of aws cli
  test/scripts/backup-restore/j07-verify-rhsso-backup-and-restore.sh
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Changed script
  test/scripts/backup-restore/j07-verify-rhsso-backup-and-restore.sh
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix total alerts + budget query on critial slo dashboard
  pkg/products/monitoring/dashboardsHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.4.0-rc2
  packagemanifests/managed-api-service/1.4.0/managed-api-service.clusterserviceversion.yaml
Due: none

replace the replaces
  packagemanifests/managed-api-service/1.4.0/managed-api-service.clusterserviceversion.yaml
Due: none

remove rhmiconfig
  controllers/rhmiconfig/rhmiconfig_controller.go
  controllers/subscription/rhmiConfigs/main.go
  controllers/subscription/subscription_controller.go
Due: none

remove rhmiconfig
  controllers/rhmiconfig/rhmiconfig_controller.go
  controllers/subscription/rhmiConfigs/main.go
  controllers/subscription/rhmiConfigs/main_test.go
  controllers/subscription/subscription_controller.go
Due: none

prepare for release rhoam-v1.4.0
  packagemanifests/managed-api-service/1.4.0/managed-api-service.clusterserviceversion.yaml
Due: none

Prepare managed-api-service manifest for version rhoam-v1.4.0
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

update to alerts mechanism works
  Makefile
  test/common/3scale_smtp.go
  test/common/alerts_mechanism.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

A32 Automation
  test/common/tests.go
  test/common/validate_sso_config.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

adding sku package read from config map and pass to reconcilers
  Makefile
  config/configmap/sku-config.yaml
  config/secrets/sku-secret.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/Reconciler_moq.go
  pkg/products/amqonline/reconciler.go
  pkg/products/amqonline/reconciler_test.go
  pkg/products/amqstreams/reconciler.go
  pkg/products/amqstreams/reconciler_test.go
  pkg/products/apicurioregistry/reconciler.go
  pkg/products/apicurioregistry/reconciler_test.go
  pkg/products/apicurito/reconciler.go
  pkg/products/apicurito/reconciler_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/codeready/reconciler.go
  pkg/products/codeready/reconciler_test.go
  pkg/products/datasync/reconciler.go
  pkg/products/datasync/reconciler_test.go
  pkg/products/fuse/reconciler.go
  pkg/products/fuse/reconciler_test.go
  pkg/products/fuseonopenshift/reconciler.go
  pkg/products/fuseonopenshift/reconciler_test.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/reconciler.go
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/monitoringspec/reconciler.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/solutionexplorer/reconciler.go
  pkg/products/solutionexplorer/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/products/ups/reconciler.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

on sku change event set updated to true reset ToSku at the end of a successful reconcile at the same point as toVersion
  apis/v1alpha1/rhmi_types.go
  config/crd/bases/integreatly.org_rhmis.yaml
  controllers/rhmi/rhmi_controller.go
Due: none

remove namespace change
  Makefile
Due: none

make isUpdate private improve logic on how that is set at initial getSKU and at end of reconcile where ToSKU and SKU are updated
  controllers/rhmi/rhmi_controller.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

improving flow of getting the SKU improving flow of configure function update unit test and logic to update higher values down if isupdated is true adding e2e test case
  apis/v1alpha1/rhmi_types.go
  config/crd/bases/integreatly.org_rhmis.yaml
  config/secrets/sku-secret.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
  test/common/sku.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

extract logic for processing sku to function don't return the error for now move logic down to prevent status.stages nil error but still update the cr if there is a toSKU isUpdated event
  controllers/rhmi/rhmi_controller.go
Due: none

skip sku test for now when no config map found.
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: test-cases: add team & sprint id
  test-cases/tools/cmd/jira.ts
  test-cases/tools/lib/jira.ts
Due: ci/prow/test-cases-lint

fix: lint
  test-cases/tools/cmd/jira.ts
Due: ci/prow/test-cases-lint

addressing feedback and adding FAILURE_TESTS to prow e2e
  test-cases/tests/alerts/c03-verify-that-alerting-mechanism-works.md
  test/common/alerts_mechanism.go
  test/common/tests.go
  test/e2e/integretly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

fix: address comment
  test-cases/tests/uninstallation/o03-verify-sendgrid-credentials-are-removed.md
Due: ci/prow/test-cases-lint
