Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Update 3scale manifests (0.7.0)
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Updating vendor/modules.txt
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Updated 3scale operator dependency in go.mod
  go.mod
  go.sum
Due: none

Update of prodsec manifest
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

Fixed the manifest file
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

Applied 20M SKU requests/limits for 3scale
  pkg/config/threescale.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update dependencies after rebase
  go.sum
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

3scale update to 0.7.0 (#1539)
  Makefile
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagerbackups_crd.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagerrestores_crd.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagers_crd.yaml
  manifests/integreatly-3scale/0.7.0/capabilities.3scale.net_backends_crd.yaml
  manifests/integreatly-3scale/0.7.0/capabilities.3scale.net_products_crd.yaml
  manifests/integreatly-3scale/0.7.0/capabilities.3scale.net_tenants_crd.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  pkg/config/threescale.go
  pkg/products/threescale/reconciler.go
  prodsec-manifests/rhoam-master-manifest.txt
  scripts/setup-delorean-pullsecret.sh
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/product/3scale_release.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/apimanager_types.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/3scale/3scale-operator/version/version.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

sdfs
  config/manager/kustomization.yaml
Due: none

fix osde2e image
  test/osde2e/managed_api_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.5.0-rc1
  Makefile
  packagemanifests/managed-api-service/1.5.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.5.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.5.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.5.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.5.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

skip sku test for now when no config map found.
  test/common/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

extract logic for processing sku to function don't return the error for now move logic down to prevent status.stages nil error but still update the cr if there is a toSKU isUpdated event
  controllers/rhmi/rhmi_controller.go
Due: none

remove namespace change
  Makefile
Due: none

test: test-case for sku package
  test-cases/tests/installation/a34-verify-sku-values.md
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

make isUpdate private improve logic on how that is set at initial getSKU and at end of reconcile where ToSKU and SKU are updated
  controllers/rhmi/rhmi_controller.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

improving flow of getting the SKU improving flow of configure function update unit test and logic to update higher values down if isupdated is true adding e2e test case
  apis/v1alpha1/rhmi_types.go
  config/crd/bases/integreatly.org_rhmis.yaml
  config/secrets/sku-secret.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
  test/common/sku.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: test-case: lint
  test-cases/tests/installation/a34-verify-sku-values.md
Due: ci/prow/test-cases-lint

adding sku package read from config map and pass to reconcilers
  Makefile
  config/configmap/sku-config.yaml
  config/secrets/sku-secret.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/Reconciler_moq.go
  pkg/products/amqonline/reconciler.go
  pkg/products/amqonline/reconciler_test.go
  pkg/products/amqstreams/reconciler.go
  pkg/products/amqstreams/reconciler_test.go
  pkg/products/apicurioregistry/reconciler.go
  pkg/products/apicurioregistry/reconciler_test.go
  pkg/products/apicurito/reconciler.go
  pkg/products/apicurito/reconciler_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/codeready/reconciler.go
  pkg/products/codeready/reconciler_test.go
  pkg/products/datasync/reconciler.go
  pkg/products/datasync/reconciler_test.go
  pkg/products/fuse/reconciler.go
  pkg/products/fuse/reconciler_test.go
  pkg/products/fuseonopenshift/reconciler.go
  pkg/products/fuseonopenshift/reconciler_test.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/reconciler.go
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/monitoringspec/reconciler.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/solutionexplorer/reconciler.go
  pkg/products/solutionexplorer/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/products/ups/reconciler.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

on sku change event set updated to true reset ToSku at the end of a successful reconcile at the same point as toVersion
  apis/v1alpha1/rhmi_types.go
  config/crd/bases/integreatly.org_rhmis.yaml
  controllers/rhmi/rhmi_controller.go
Due: none

update sku to 1,5,10,20,50 values as this is what will be passed via param fix up some tests and formatting
  Makefile
  config/configmap/sku-config.yaml
  config/secrets/sku-secret.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/amqstreams/reconciler_test.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

updated unit tests for rate limit reconciler added product config moq for future use
  controllers/rhmi/rhmi_controller.go
  pkg/products/amqonline/reconciler_test.go
  pkg/products/amqstreams/reconciler_test.go
  pkg/products/apicurioregistry/reconciler_test.go
  pkg/products/apicurito/reconciler_test.go
  pkg/products/codeready/reconciler_test.go
  pkg/products/datasync/reconciler_test.go
  pkg/products/fuse/reconciler_test.go
  pkg/products/fuseonopenshift/reconciler_test.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/solutionexplorer/reconciler_test.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/sku/product_config_moq.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update rate limiting values so they are parsed correctly
  config/configmap/sku-config.yaml
Due: none

using cluster object for createorupdate function updating tests to check that update does occur when is false is true and values are lower revert config changes - to be addressed later
  config/configmap/sku-config.yaml
  pkg/products/marin3r/rateLimitService.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

make dynamic sku work rhmi safe
  controllers/rhmi/rhmi_controller.go
  pkg/resources/sku/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add unit test for keycloack configure
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

ensure that resource requests and limits blocks are not nil cover that case in the tests
  pkg/products/rhssouser/reconciler.go
  pkg/resources/sku/product_config_moq.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add keycloak type to configure function use configure in the user sso reconcile update unit tests
  config/configmap/sku-config.yaml
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/resources/sku/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update sso config to work with new implementation
  config/configmap/sku-config.yaml
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

apply replica value to pointer location
  pkg/resources/sku/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Added active_sku metric
  controllers/rhmi/rhmi_controller.go
  main.go
  pkg/metrics/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Added metric annotation in grafana dashboards
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/endpointsDetailed.go
  pkg/products/monitoring/dashboards/endpointsReport.go
  pkg/products/monitoring/dashboards/endpointsSummary.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Changed metric naming convention to be closer to rhmi_version metric
  controllers/rhmi/rhmi_controller.go
  main.go
  pkg/metrics/metrics.go
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/endpointsDetailed.go
  pkg/products/monitoring/dashboards/endpointsReport.go
  pkg/products/monitoring/dashboards/endpointsSummary.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update grafana dashboard to only contain the hard limit remove soft limit from dashboard remove soft limit alerts from prometheus update envoy configmap based on skuconfig
  Makefile
  config/configmap/kustomization.yaml
  config/configmap/sku-config.yaml
  config/configmap/sku-limits-configmap.yaml
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/grafana/customerDashboard.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/config/config.go
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/softLimitPrometheusRules.go
  pkg/resources/sku/product_config_moq.go
  pkg/resources/sku/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Adds missing steps to 3scale uibbt alert test
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
Due: ci/prow/test-cases-lint

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
