Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

address comments
  Makefile
  apis/v1alpha1/installationTypesHelper.go
  apis/v1alpha1/installationTypesHelper_test.go
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
  controllers/subscription/subscription_controller.go
  envs/managed-api.env
  envs/managed.env
  envs/multitenant-managed-api.env
  pkg/addon/operator_run.go
  pkg/config/rhssoUser.go
  pkg/config/threescale.go
  pkg/products/grafana/reconciler.go
  pkg/products/monitoring/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/installTypesHelper.go
  pkg/resources/poddistribution/poddistribution.go
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

added the extra UpdateActionStatus and a SOP url
  pkg/resources/metrics.go
  pkg/resources/sop_url.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: test-case a34: update step 4
  test-cases/tests/installation/a34-verify-quota-values.md
Due: ci/prow/test-cases-lint

add evaluation quota
  test-cases/tests/installation/a34-verify-quota-values.md
Due: ci/prow/test-cases-lint

add alert to alerts_exists
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

remove trailing space
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

e2e fix: move RedisServiceMaintenanceCritical alert into commonExpectedAWSRules
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.10.0-rc1
  Makefile
  packagemanifests/managed-api-service/1.10.0/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.10.0/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.10.0/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.10.0/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.10.0/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

addressing comments
  apis/v1alpha1/installationTypesHelper.go
  apis/v1alpha1/installationTypesHelper_test.go
  controllers/rhmi/rhmi_controller.go
Due: none

alerting template
  templates/monitoring/alertmanager/alertmanager-email-config.tmpl
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Indent
  templates/monitoring/alertmanager/alertmanager-email-config.tmpl
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test do not merge
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Adds a function to get users identity by provider name
  config/rbac/role.yaml
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Adds a function to fetch MT users
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: test-case: plan RHOAM v1.10.0
  test-cases/tests/authorization/b08b-verify-user-rhsso-permissions.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/dashboards/e04b-verify-slo-dashboard.md
  test-cases/tests/dashboards/e08b-verify-values-are-correct-in-resource-usage-dashboard.md
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
Due: ci/prow/test-cases-lint

test: a38 - marked as obsolete
  test-cases/tests/installation/a38-installation-verify-rhoam-on-nonbyoc-cluster.md
Due: ci/prow/test-cases-lint

test: update a40
  test-cases/tests/installation/a40-rhoam-on-osd-trial.md
Due: ci/prow/test-cases-lint

fix: lint
  test-cases/tests/installation/a40-rhoam-on-osd-trial.md
Due: ci/prow/test-cases-lint

test: test cases: note about DB dump diffs
  test-cases/tests/backup-restore/j05a-verify-3scale-backup-and-restore.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/backup-restore/j07a-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j08a-verify-user-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
Due: ci/prow/test-cases-lint

fix: lint
  test-cases/tests/backup-restore/j07a-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j08a-verify-user-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
Due: ci/prow/test-cases-lint

adds creation of new tenants to 3scale reconciler
  controllers/rhmi/rhmi_controller.go
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/products/threescale/three_scale_client.go
  pkg/products/threescale/three_scale_moq.go
  pkg/products/threescale/types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

remove prefix from RoutingSubdomain
  controllers/rhmi/bootstrapReconciler.go
Due: none

prepare for release rhoam-v1.10.0-rc2
  packagemanifests/managed-api-service/1.10.0/managed-api-service.clusterserviceversion.yaml
Due: none

add rhsso integration
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/threescale/asserts_test.go
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/three_scale_client.go
  pkg/products/threescale/three_scale_moq.go
  pkg/products/threescale/types.go
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Upgrade AMO to v1.6.2
  manifests/integreatly-monitoring/1.6.2/application-monitoring-operator.v1.6.2.clusterserviceversion.yaml
  manifests/integreatly-monitoring/1.6.2/applicationmonitoring.integreatly.org_applicationmonitorings_crd.yaml
  manifests/integreatly-monitoring/1.6.2/applicationmonitoring.integreatly.org_blackboxtargets_crd.yaml
  manifests/integreatly-monitoring/1.6.2/grafana_crd.yaml
  manifests/integreatly-monitoring/1.6.2/grafana_dashboard_crd.yaml
  manifests/integreatly-monitoring/1.6.2/grafana_datasource_crd.yaml
  manifests/integreatly-monitoring/monitoring.package.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update yq to v4
  Makefile
  README.md
  make/test-containers.mk
  openshift-ci/Dockerfile.tools
  openshift-ci/README.md
  scripts/prepare-release.sh
  scripts/prodsec-manifest-generator.sh
  scripts/setup-delorean-pullsecret.sh
  test-cases/tests/installation/a34-verify-quota-values.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: ci/prow/test-cases-lint

wip
  pkg/products/rhsso/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/rhssoClient.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: Add missing changes to AMO CSV
  manifests/integreatly-monitoring/1.6.2/application-monitoring-operator.v1.6.2.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: Manually set the grafana proxy image to 4.8
  pkg/products/monitoring/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.10.0-rc3
  packagemanifests/managed-api-service/1.10.0/managed-api-service.clusterserviceversion.yaml
Due: none

containerizing makefile
  Dockerfile.tools
  Makefile
Due: none

include multitenant rhoam in rhoam tests
  Makefile
  test/common/alerts_exist.go
  test/common/alerts_firing.go
  test/common/cro_cr_success.go
  test/common/dashboards_data.go
  test/common/dashboards_exist.go
  test/common/deployment_types.go
  test/common/integreatly_stages.go
  test/common/monitoringspec.go
  test/common/namespace_created.go
  test/common/namespace_restoration.go
  test/common/operand_versions.go
  test/common/operator_versions.go
  test/common/priority_validate.go
  test/common/pvc_validate.go
  test/common/routes_exist.go
  test/common/subscription_install_plan.go
  test/common/tests.go
  test/common/user_dedicated_admin_permissions.go
  test/common/user_rhmi_developer_permissions.go
  test/common/verify_metrics_scrapped.go
  test/e2e/suite_test.go
  test/functional/aws_s3_resources_exist.go
  test/functional/aws_shared_functions.go
  test/osde2e/pre-test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add support for multi tenant user sso
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

monitoring version bump
  apis/v1alpha1/rhmi_types.go
  products/products.yaml
Due: none

removing the use of kube_namespae_labels for monitoring key middleware
  pkg/products/amqonline/prometheusRules.go
  pkg/products/apicurito/prometheusRules.go
  pkg/products/cloudresources/prometheusRules.go
  pkg/products/codeready/prometheusRules.go
  pkg/products/fuse/prometheusRules.go
  pkg/products/grafana/prometheusRules.go
  pkg/products/marin3r/prometheusRules.go
  pkg/products/monitoring/prometheusRules.go
  pkg/products/rhsso/prometheusRules.go
  pkg/products/rhssouser/prometheusRules.go
  pkg/products/solutionexplorer/prometheusRules.go
  pkg/products/threescale/prometheusRules.go
  pkg/products/ups/prometheusRules.go
  test/common/dashboards_data.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update grafana dashboard queries to namespace regex rather than kube_namespace_label monitoring key
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/criticalSLOAlerts.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
  pkg/products/monitoring/dashboardsHelper.go
  pkg/products/monitoring/prometheusRules.go
  test/common/dashboards_data.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add support for multi tenant user sso
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update name in test based on alert name change
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix syntax error in alert query
  pkg/products/fuse/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
