Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

add unit test for keycloack configure
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

make dynamic sku work rhmi safe
  controllers/rhmi/rhmi_controller.go
  pkg/resources/sku/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: update test case h27
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
Due: ci/prow/test-cases-lint

handle replicas being null (e.g. on first install)
  pkg/resources/sku/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Added active_sku metric
  controllers/rhmi/rhmi_controller.go
  main.go
  pkg/metrics/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Fixed derefrencing a nil pointer in sku
  pkg/resources/sku/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Added metric annotation in grafana dashboards
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/endpointsDetailed.go
  pkg/products/monitoring/dashboards/endpointsReport.go
  pkg/products/monitoring/dashboards/endpointsSummary.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

ensure that resource requests and limits blocks are not nil cover that case in the tests
  pkg/products/rhssouser/reconciler.go
  pkg/resources/sku/product_config_moq.go
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update sso config to work with new implementation
  config/configmap/sku-config.yaml
  pkg/resources/sku/sku.go
  pkg/resources/sku/sku_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Changed metric naming convention to be closer to rhmi_version metric
  controllers/rhmi/rhmi_controller.go
  main.go
  pkg/metrics/metrics.go
  pkg/products/monitoring/dashboards/clusterResources.go
  pkg/products/monitoring/dashboards/endpointsDetailed.go
  pkg/products/monitoring/dashboards/endpointsReport.go
  pkg/products/monitoring/dashboards/endpointsSummary.go
  pkg/products/monitoring/dashboards/resourceByNamespace.go
  pkg/products/monitoring/dashboards/resourceByPod.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Fixed formatting issues
  controllers/rhmi/rhmi_controller.go
Due: none

apply replica value to pointer location
  pkg/resources/sku/sku.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update vendor/
  go.sum
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/product/3scale_release.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/apimanager_types.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/3scale/3scale-operator/version/version.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.7.0)
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagerbackups_crd.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagerrestores_crd.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagers_crd.yaml
  manifests/integreatly-3scale/0.7.0/capabilities.3scale.net_backends_crd.yaml
  manifests/integreatly-3scale/0.7.0/capabilities.3scale.net_products_crd.yaml
  manifests/integreatly-3scale/0.7.0/capabilities.3scale.net_tenants_crd.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Fix delorean pull secret issues in Makefile
  Makefile
Due: none

Update 3Scale product version
  apis/v1alpha1/rhmi_types.go
Due: none

Fix ns prefix in setup-delorean-pullsecret.sh
  scripts/setup-delorean-pullsecret.sh
Due: none

Update 3scale manifests (0.7.0)
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagers_crd.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3Scale-operator import to 3scale-2.10.0-CR1
  go.mod
  go.sum
Due: none

Adjust apicast (production) resources and replicas
  pkg/config/threescale.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Fix: revert the last three commits pushed by EWS.
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagers_crd.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.7.0)
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Fix: dependencies - openshift/client-go override
  go.mod
  go.sum
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
