Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

fix(monitoring):INTLY-10367 change the default scraping interval and timeout for federate metrics and make them configurable
  pkg/config/monitoring.go
  pkg/products/monitoring/reconciler.go
  templates/monitoring/jobs/openshift_monitoring_federation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add node antiaffinity rules
  pkg/resources/podAntiAffinity.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release v2.7.2
  Makefile
  deploy/olm-catalog/integreatly-operator/2.7.2/integreatly-operator.v2.7.2.clusterserviceversion.yaml
  deploy/olm-catalog/integreatly-operator/2.7.2/integreatly.org_rhmiconfigs_crd.yaml
  deploy/olm-catalog/integreatly-operator/2.7.2/integreatly.org_rhmis_crd.yaml
  deploy/olm-catalog/integreatly-operator/integreatly-operator.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.1.0
  deploy/olm-catalog/managed-api-service/1.1.0/managed-api-service.v1.1.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Revert "release PR for version rhoam-v1.1.0"
  deploy/olm-catalog/managed-api-service/1.1.0/managed-api-service.v1.1.0.clusterserviceversion.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1040 - ignore non-Running pods when capturing resource requests
  scripts/capture_resource_metrics.sh
Due: none

delete ocm tooling (migrated to delorean repo)
  make/ocm.mk
  scripts/ocm.sh
  templates/ocm-cluster/cluster-template.json
Due: none

Update 3scale manifests (0.7.0)
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagerbackups_crd.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagerrestores_crd.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagers_crd.yaml
  manifests/integreatly-3scale/0.7.0/capabilities.3scale.net_backends_crd.yaml
  manifests/integreatly-3scale/0.7.0/capabilities.3scale.net_products_crd.yaml
  manifests/integreatly-3scale/0.7.0/capabilities.3scale.net_tenants_crd.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  pkg/apis/integreatly/v1alpha1/rhmi_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/versions

Update prometheus rules so not always true
  pkg/controller/installation/prometheusRules.go
  test-cases/tests/alerts/c13a-verify-rhmi-reconciliation-alerts-are-firing.md
  test-cases/tests/alerts/c13a-verify-rhmi-reconciliation-alerts-are-not-firing.md
  test-cases/tests/alerts/c13b-verify-rhoam-reconciliation-alerts-are-firing.md
  test-cases/tests/alerts/c13b-verify-rhoam-reconciliation-alerts-are-not-firing.md
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

Updated grafana to use same image as openshift-monitoring grafana (7.2.0)
  pkg/resources/constants/grafanaConstants.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.7.0)
  manifests/integreatly-3scale/0.7.0/3scale-operator.v0.7.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.7.0/apps.3scale.net_apimanagers_crd.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

removed test cases 13a and 13b
  test-cases/tests/alerts/c13a-verify-rhmi-reconciliation-alerts-are-not-firing.md
  test-cases/tests/alerts/c13b-verify-rhoam-reconciliation-alerts-are-not-firing.md
Due: ci/prow/test-cases-lint

fix: csv: service-affecting
  scripts/prepare-release.sh
Due: none

change the expr and message
  pkg/controller/installation/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: always set serviceAffecting field
  scripts/prepare-release.sh
Due: none

Adjust apicast (production) resources and replicas
  pkg/config/threescale.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update vendor/
  go.mod
  go.sum
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/product/3scale_release.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/apimanager_types.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/apps/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/3scale/3scale-operator/version/version.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Fix delorean pull secret issues in Makefile
  Makefile
Due: none

Fix ns prefix in setup-delorean-pullsecret.sh
  scripts/setup-delorean-pullsecret.sh
Due: none

Update 3Scale-operator import to 3scale-2.10.0-CR1
  go.mod
  go.sum
Due: none

Update 3Scale product version
  pkg/apis/integreatly/v1alpha1/rhmi_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/versions

Add Request and Limit resources to the statsd-exporter pod.
  pkg/products/marin3r/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Removing ho3 and ho7 as they are flakey
  test/common/3Scale_user_promotion.go
  test/common/3scale_crudl.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

adding c03 and a16 to be skipped to
  go.mod
  test/common/3Scale_user_promotion.go
  test/common/3scale_crudl.go
  test/common/3scale_smtp.go
  test/common/alerts_mechanism.go
  test/common/authdelay_first_broker_login.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

feat: test cases: a32
  test-cases/tests/installation/a32-validate-sso-config.md
Due: ci/prow/test-cases-lint

fix: test cases: update: 1.1.0
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/installation/a29-verify-rate-limit-service-pods-are-running.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/upgrade/n03-verify-that-the-minimal-cidr-block-is-configured-correctly.md
Due: ci/prow/test-cases-lint

fix: lint
  test-cases/tests/installation/a32-validate-sso-config.md
Due: ci/prow/test-cases-lint

fix: address comments
  test-cases/tests/installation/a32-validate-sso-config.md
Due: ci/prow/test-cases-lint

MGDAPI-1004
  pkg/controller/namespacelabel/namespacelabel_controller.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.0)
  manifests/integreatly-3scale/0.8.0/3scale-operator_alpha.v0.8.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.8.0/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.8.0/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.8.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_policies.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.8.0/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.8.0/threescale-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  pkg/apis/integreatly/v1alpha1/rhmi_types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/versions

Prepare EC2 for Hyperfoil install
  scripts/ec2_deploy_teardown/deployEC2.sh
  scripts/ec2_deploy_teardown/tearDown.sh
Due: none

Updated a25 test to accommodate dynamic cidr blocks
  test/functional/aws_shared_functions.go
  test/functional/aws_standalone_vpc.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test do not merge
  README.md
Due: none

test do not merge
  cmd/manager/main.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.0)
  manifests/integreatly-3scale/0.8.0/3scale-operator-alpha.v0.8.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/3scale.package.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Addressing PR comments
  test/functional/aws_shared_functions.go
  test/functional/aws_standalone_vpc.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

production/master manifest generation
  Makefile
  make/manifest.mk
  prodsec-manifests/rhoam-master-manifest.txt
  prodsec-manifests/rhoam-production-release-manifest.txt
  rhoam-manifests/1.0.0-manifest.txt
  scripts/prodsec-manifest-generator.sh
  scripts/rhoam-manifest-generator.sh
Due: none

docs: update olm build script instructions
  README.md
Due: none
