Repository openshift/cluster-kube-apiserver-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Path conditions:
  e2e-gcp-operator-encryption-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption-perf: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)

vendor: bump library-go for atomicdir fsync fix
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/installerpod/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/internal/atomicdir/sync.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/internal/fsutil/fsutil.go
  vendor/modules.txt
Due: none

Fake bump library-go to test KMS
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Bug 86057: auth: fall back to Authentication CR for serviceAccountIssuer during early startup
  pkg/operator/configobservation/auth/auth_serviceaccountissuer.go
  pkg/operator/configobservation/auth/auth_serviceaccountissuer_test.go
Due: none

NO-JIRA: add more rotation tests scenarios
  go.mod
  go.sum
  test/e2e-encryption-rotation/encryption_rotation_test.go
  test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/k8s_mock_kms_plugin_deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Add new suites of KMS
  go.mod
  go.sum
  pkg/operator/targetconfigcontroller/targetconfigcontroller.go
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-perf/encryption_perf_test.go
  test/e2e-encryption-rotation/encryption_rotation_test.go
  test/e2e-encryption/encryption_test.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

update test
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-perf/encryption_perf_test.go
  test/e2e-encryption-rotation/encryption_rotation_test.go
  test/e2e-encryption/encryption_test.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

go mod update
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: none

Add KMS dummy case
  test/e2e-encryption-kms/encryption_kms_rotation.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

Fake bump library-go to test
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

library go bump
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-perf/encryption_perf_test.go
  test/e2e-encryption-rotation/encryption_rotation_test.go
  test/e2e-encryption/encryption_test.go
  test/e2e/encryption.go
  test/e2e/encryption_test.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Update fake library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/helpers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Use fake vault kms provider
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-perf/encryption_perf_test.go
  test/e2e-encryption-rotation/encryption_rotation_test.go
  test/e2e-encryption/encryption_test.go
  test/e2e/encryption.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

vendor: bump library-go for atomicdir fsync fix
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/certsyncpod/certsync_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/installerpod/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/internal/atomicdir/swap_linux.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/internal/atomicdir/swap_other.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/internal/atomicdir/sync.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/internal/atomicdir/types/file.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/internal/fsutil/fsutil.go
  vendor/modules.txt
Due: none

fake bump
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

testing fix for ci failure
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: none

bump(openshift/library-go): to get KMS plugin lifecycle changes
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

kms: support deploying Vault mock plugin
  pkg/operator/targetconfigcontroller/targetconfigcontroller.go
Due: none

new test
  test/e2e-encryption-kms/encryption_kms.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

go mod vendor
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-perf/encryption_perf_test.go
  test/e2e-encryption-rotation/encryption_rotation_test.go
  test/e2e-encryption/encryption_test.go
  test/e2e/encryption.go
  test/e2e/encryption_test.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/state_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/helpers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

bump(openshift/library-go): to get KMS plugin lifecycle changes
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/config/v1/types_network.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/route/v1/generated.proto
  vendor/github.com/openshift/api/route/v1/types.go
  vendor/github.com/openshift/api/route/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/helpers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/pkg/operator/management/management_state.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

bump(openshift/library-go): fitting
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-perf/encryption_perf_test.go
  test/e2e-encryption-rotation/encryption_rotation_test.go
  test/e2e-encryption/encryption_test.go
  test/e2e/encryption.go
  test/e2e/encryption_test.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

render: fall back to Authentication CR
  pkg/cmd/render/render.go
  pkg/cmd/render/render_test.go
Due: none

kms: use DefaultFakeVaultEncryptionProvider to ensure AppRole secret setup
  test/e2e-encryption-kms/encryption_kms.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

removed old plugin deployment
  test/e2e-encryption-kms/encryption_kms.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

fake pr to test rm daemonset deployemnt
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_configmap.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_daemonset.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_namespace.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_rolebinding.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_serviceaccount.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/k8s_mock_kms_plugin_deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: none

wire real kms plugin
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/target.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

fitting
  pkg/operator/targetconfigcontroller/targetconfigcontroller.go
Due: none

fake bump
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Bump library-go for in-place field updates
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/state_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/management/management_state.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Bump latest libray-go changes
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/target.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_configmap.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_daemonset.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_namespace.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_rolebinding.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_serviceaccount.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/k8s_mock_kms_plugin_deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: none

Fix kube-apiserver-to-kubelet-signer refresh interval
  pkg/operator/certrotationcontroller/certrotationcontroller.go
Due: none

refactor: Updating go builder in the CI, Dockerfile and go.mod to be consistent with ART 4.12
  .ci-operator.yaml
  Dockerfile.rhel7
  go.mod
Due: none

make update-gofmt: regenerate readiness_checks.go file with correct formatting
  pkg/operator/startupmonitorreadiness/readiness_checks.go
Due: none

NO-JIRA: Automatic agentic rebase: Update library-go to 0cf249e
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/OWNERS
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/OWNERS
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

NO-JIRA: Automatic agentic rebase: Update library-go to d8750ed
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/pkg/operator/events/recorder_in_memory.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Fix encryption rotation test after library-go rebase
  test/e2e-encryption-rotation/encryption_rotation_test.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

bump(openshift/library-go): to get KMS plugin credentials change
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/credentials.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

kms: use new function to deploy KMS plugin in static pods
  pkg/operator/targetconfigcontroller/targetconfigcontroller.go
Due: none

kms: switch to real Vault plugin in CI
  test/e2e-encryption-kms/encryption_kms.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption
