Repository openshift/cluster-kube-apiserver-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Path conditions:
  e2e-gcp-operator-encryption-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption-perf: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)

feat: do not configure the kube-apiserver with structured auth config when ExternalOIDCExternalClaimsSourcing gate is enabled
  pkg/operator/configobservation/auth/auth_metadata.go
  pkg/operator/configobservation/auth/auth_metadata_test.go
  pkg/operator/configobservation/auth/external_oidc.go
  pkg/operator/configobservation/auth/external_oidc_test.go
  pkg/operator/configobservation/auth/webhook_authenticator.go
  pkg/operator/configobservation/auth/webhook_authenticator_test.go
  pkg/operator/configobservation/configobservercontroller/observe_config_controller.go
Due: none

certrotationcontroller: add configurable pki parameters
  pkg/cmd/certregenerationcontroller/cmd.go
  pkg/operator/certrotationcontroller/certrotationcontroller.go
  pkg/operator/starter.go
Due: none

Bump library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/controller/controllercmd/cmd.go
  vendor/modules.txt
Due: none

Fake bump library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Get the changes in #2056
  cmd/cluster-kube-apiserver-operator-tests-ext/main.go
  pkg/operator/targetconfigcontroller/kms_sidecar.go
  pkg/operator/targetconfigcontroller/targetconfigcontroller.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/installerpod/cmd.go
Due: none

Disable kms migration test
  test/e2e-encryption-kms/encryption_kms_test.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

Use fake Vault image to test
  cmd/cluster-kube-apiserver-operator/main.go
  pkg/operator/targetconfigcontroller/kms_sidecar.go
  test/e2e-encryption-kms/encryption_kms_test.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/installerpod/cmd.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

Revert redundant tests-ext changes
  cmd/cluster-kube-apiserver-operator-tests-ext/main.go
Due: none

Deploy static pod for other operators to serve
  test/e2e-encryption-kms/encryption_kms_test.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

Some more changes
  go.mod
  go.sum
  pkg/operator/targetconfigcontroller/targetconfigcontroller.go
  vendor/github.com/openshift/library-go/pkg/controller/controllercmd/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/helpers.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/installerpod/cmd.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Change log level to debug
  pkg/operator/targetconfigcontroller/kms_sidecar.go
Due: none

Use directly kms mock plugin
  cmd/cluster-kube-apiserver-operator/main.go
  pkg/operator/starter.go
  pkg/operator/targetconfigcontroller/kms_sidecar.go
  pkg/operator/targetconfigcontroller/targetconfigcontroller.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/installerpod/cmd.go
Due: none

Use fake Vault kms plugin image
  pkg/operator/targetconfigcontroller/kms_sidecar.go
  pkg/operator/targetconfigcontroller/targetconfigcontroller.go
Due: none

CNTRLPLANE-2652: Implement 5.0 EUS schedule
  pkg/operator/kubeletversionskewcontroller/kubelet_version_skew_controller.go
  pkg/operator/kubeletversionskewcontroller/kubelet_version_skew_controller_test.go
Due: none

Add design spec for TLS security profile defaulter Job
  docs/superpowers/specs/2026-04-09-tls-security-profile-defaulter-design.md
Due: none

Add implementation plan for TLS security profile defaulter
  docs/superpowers/plans/2026-04-09-v4-to-v5-tls-defaulter.md
Due: none

Add TLS security profile defaulter manifests
  .work/kubeconfig
  manifests/0000_20_kube-apiserver-operator_05a_tls-defaulter-sa.yaml
  manifests/0000_20_kube-apiserver-operator_05b_tls-defaulter-networkpolicy.yaml
  manifests/0000_20_kube-apiserver-operator_05c_tls-defaulter-clusterrole.yaml
  manifests/0000_20_kube-apiserver-operator_05d_tls-defaulter-clusterrolebinding.yaml
  manifests/0000_20_kube-apiserver-operator_05e_tls-defaulter-script.yaml
  manifests/0000_20_kube-apiserver-operator_05f_tls-defaulter-job.yaml
  manifests/image-references
Due: none

configobservation/auth: allow setting the oauthMetadata when auth type is None
  pkg/operator/configobservation/auth/auth_metadata.go
  pkg/operator/configobservation/auth/auth_metadata_test.go
Due: none

Fake bump library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/controller/controllercmd/cmd.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_daemonset.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/k8s_mock_kms_plugin_deployer.go
  vendor/modules.txt
Due: none

Pass kms plugin replica count into the kms tests
  test/e2e-encryption-kms/encryption_kms_test.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

Reimport to test kms-1.sock
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

kms: adjust for latest changes in library-go
  pkg/operator/targetconfigcontroller/kms_sidecar.go
  pkg/operator/targetconfigcontroller/kms_sidecar_test.go
Due: none

kms: inject the Vault KMS plugin as a sidecar alongside the kube-apiserver-pod
  pkg/operator/targetconfigcontroller/kms_sidecar.go
  pkg/operator/targetconfigcontroller/kms_sidecar_test.go
  pkg/operator/targetconfigcontroller/targetconfigcontroller.go
Due: none

kms: add small fixes
  pkg/operator/targetconfigcontroller/kms_sidecar.go
Due: none

kms: small code changes
  pkg/operator/targetconfigcontroller/kms_sidecar.go
  pkg/operator/targetconfigcontroller/kms_sidecar_test.go
Due: none

kms: use vault's image entrypoint
  pkg/operator/targetconfigcontroller/kms_sidecar.go
Due: none

kms: do not require to always pull the vault image
  pkg/operator/targetconfigcontroller/kms_sidecar.go
Due: none

fake bump
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/controller/controllercmd/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/state_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionconfig/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionconfig/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/helpers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_daemonset.yaml
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

kms: changes to work with https://github.com/openshift/library-go/pull/2161
  pkg/operator/targetconfigcontroller/kms_sidecar.go
  pkg/operator/targetconfigcontroller/kms_sidecar_test.go
Due: none

kms: overwrite some vault configuration until we have the api
  pkg/operator/targetconfigcontroller/kms_sidecar.go
  pkg/operator/targetconfigcontroller/kms_sidecar_test.go
  pkg/operator/targetconfigcontroller/targetconfigcontroller.go
Due: none

Add control-plane-approvers to OWNERS
  OWNERS
  OWNERS_ALIASES
Due: none

kms: make the sidecar privileged because it needs to write the socket
  pkg/operator/targetconfigcontroller/kms_sidecar.go
Due: none

test library-go changes
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_test.go
  vendor/github.com/openshift/library-go/pkg/controller/controllercmd/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/test/library/encryption/e_log.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_daemonset.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/k8s_mock_kms_plugin_deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Update library-go to include KMS foundational mechanism
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionconfig/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

test: Add network policy enforcement tests
  cmd/cluster-kube-apiserver-operator-tests-ext/main.go
  go.mod
  test/e2e/helpers.go
  test/e2e/network_policy.go
  test/e2e/network_policy_enforcement.go
  test/library/cluster_operator.go
Due: none
