Repository openshift/cluster-kube-apiserver-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Path conditions:
  e2e-gcp-operator-encryption-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption-perf: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)

enable real preflight
  pkg/operator/starter.go
Due: none

deps: bump o/api to branch with changes
  go.mod
  go.sum
  vendor/github.com/openshift/api/Makefile
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/gvr.go
  vendor/github.com/openshift/api/features/util.go
  vendor/github.com/openshift/api/features/zz_generated.upstreamfeaturegates.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations.crd.yaml
  vendor/modules.txt
  vendor/sigs.k8s.io/structured-merge-diff/v6/typed/remove.go
Due: none

wip: use new o/api feature-gate gvr runtime-config mapping
  pkg/cmd/render/render.go
  pkg/operator/configobservation/apienablement/observe_runtime_config.go
Due: none

Migrate away from deprecated ioutil
  pkg/cmd/insecurereadyz/readyz.go
  pkg/cmd/render/render.go
  pkg/cmd/render/render_test.go
  pkg/operator/startupmonitorreadiness/readiness_checks.go
  pkg/recovery/apiserver.go
  pkg/recovery/helpers.go
Due: none

Reset node status when UID changes
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/installer/installer_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/node/node_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/v1helpers/test_helpers.go
  vendor/modules.txt
Due: none

Test an extra long shutdown delay for AWS
  pkg/operator/configobservation/apiserver/observe_termination_duration.go
  pkg/operator/configobservation/apiserver/observe_termination_duration_test.go
Due: none

RFE-9779: use node CPU metrics for default SNO control-plane alerts
  bindata/assets/alerts/cpu-utilization-sno-partitioned.yaml
  pkg/operator/highcpuusagealertcontroller/highcpuusagealert_controller.go
  pkg/operator/highcpuusagealertcontroller/highcpuusagealert_controller_test.go
  pkg/operator/highcpuusagealertcontroller/testdata/alert_2_cores.yaml
  pkg/operator/highcpuusagealertcontroller/testdata/alert_node_cpu.yaml
Due: none

fixup! bump to new o/api branch commit
  go.mod
  go.sum
  vendor/github.com/openshift/api/features/zz_generated.upstreamfeaturegates.go
  vendor/modules.txt
Due: none

wip: another o/api bump
  go.mod
  go.sum
  vendor/github.com/openshift/api/features/gvr.go
  vendor/modules.txt
Due: none

Add TLS security profile defaulter manifests
  manifests/0000_20_kube-apiserver-operator_05a_tls-defaulter-sa.yaml
  manifests/0000_20_kube-apiserver-operator_05b_tls-defaulter-networkpolicy.yaml
  manifests/0000_20_kube-apiserver-operator_05c_tls-defaulter-clusterrole.yaml
  manifests/0000_20_kube-apiserver-operator_05d_tls-defaulter-clusterrolebinding.yaml
  manifests/0000_20_kube-apiserver-operator_05e_tls-defaulter-script.yaml
  manifests/0000_20_kube-apiserver-operator_05f_tls-defaulter-job.yaml
  manifests/image-references
Due: none

ci test
  test/e2e-encryption-kms/encryption_kms_2.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

Fix infinite kube-apiserver rollouts caused by localhost-recovery-client-token rotation
  pkg/operator/starter.go
Due: none

Update library-go to get latest changes
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/test/library/encryption/errors.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/modules.txt
Due: none

Add VAPs warning on RoleBinding serviceaccounts/token escalation
  manifests/0000_20_kube-apiserver-operator_09_rolebinding-token-escalation-vap.yaml
  manifests/0000_20_kube-apiserver-operator_10_rolebinding-clusterrole-token-escalation-vap.yaml
  test/e2e/rolebinding_token_escalation.go
Due: none

Use 300s shutdown delay on AWS
  pkg/operator/configobservation/apiserver/observe_termination_duration.go
  pkg/operator/configobservation/apiserver/observe_termination_duration_test.go
Due: none

bump(openshift/library-go): to get EncryptionPlanner
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_planner.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/state_controller.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

kms: use real preflight deployer
  pkg/operator/starter.go
Due: none

test preflight
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-kms/encryption_kms_2.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

Fake bump library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/apiserver/observe_tlssecurityprofile.go
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/apiserver/tls_fips.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/test/library/encryption/etcd_client.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Bump library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/apiserver/observe_tlssecurityprofile.go
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/apiserver/tls_fips.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/test/library/encryption/etcd_client.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

bump(k8s): update k8s.io/* dependencies to v0.37.0
  go.mod
  go.sum
Due: none

add preflight test
  test/e2e-encryption-kms/encryption_kms_invalid_vault.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

bump(openshift/library-go): to get EncryptionConfigurationPlanner
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_configuration_computer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

kms: extract encryptionProvider to its own var
  pkg/operator/starter.go
Due: none

fake bump
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_configuration_computer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_planner.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

kms: wire EncryptionConfigurationComputer into encryption controllers
  pkg/operator/starter.go
Due: none

Migrate e2e-encryption to ote
  cmd/cluster-kube-apiserver-operator-tests-ext/dependencymagnet.go
  cmd/cluster-kube-apiserver-operator-tests-ext/main.go
  test/e2e-encryption/encryption.go
  test/e2e-encryption/encryption_test.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

bump (*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_configuration_computer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_planner.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/always_succeed_deployer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/assets/kms-preflight-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_template.go
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_deploy.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Add 10-minute degraded inertia for NodeControllerDegraded
  pkg/operator/start_test.go
  pkg/operator/starter.go
  pkg/operator/starter_test.go
Due: none

Add 10-minute degraded inertia for StaticPodsDegraded
  pkg/operator/starter.go
  pkg/operator/starter_test.go
Due: none

Use 10min inertia for GuardControllerDegraded
  pkg/operator/starter.go
  pkg/operator/starter_test.go
Due: none
