Repository openshift/cluster-kube-apiserver-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Path conditions:
  e2e-gcp-operator-encryption-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption-perf: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)

Wire dynamicclient to encryption controllers
  pkg/operator/starter.go
Due: none

Migrate e2e-encryption to ote
  Makefile
  cmd/cluster-kube-apiserver-operator-tests-ext/dependencymagnet.go
  cmd/cluster-kube-apiserver-operator-tests-ext/main.go
  test/e2e-encryption-perf/encryption_perf.go
  test/e2e-encryption/encryption.go
  test/e2e-encryption/encryption_test.go
  test/library/encryption/helpers.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

bump(openshift/library-go): fitting
  pkg/operator/starter.go
Due: none

apienablement: enable resource.k8s.io/v1beta2 when DeviceTaintRule is enabled
  pkg/operator/configobservation/apienablement/observe_runtime_config.go
  pkg/operator/configobservation/apienablement/observe_runtime_config_test.go
Due: none

bump openshift/api
  go.mod
  go.sum
  vendor/github.com/openshift/api/.golangci.yaml
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations.crd.yaml
  vendor/modules.txt
Due: none

NO-JIRA: bump library-go to pick up KMS remote-key rotation core logic
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/config/serving/options.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/migration_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/remote_key.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Remove old go standard e2e encryption cases
  Makefile
  test/e2e-encryption/encryption_test.go
  test/e2e-encryption/main_test.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

Fix kube-apiserver-to-kubelet-signer refresh interval
  pkg/operator/certrotationcontroller/certrotationcontroller.go
Due: none

NO-JIRA: DNM: kms rotation for testing purposes
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_rotation.go
  vendor/github.com/openshift/library-go/pkg/config/serving/options.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/migration_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/remote_key.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

test fake bump
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_2.go
  vendor/github.com/openshift/library-go/pkg/config/serving/options.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

bump (*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/config/serving/options.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/remote_key.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

UPSTREAM: <carry>: [release-4.21] OCPBUGS-104074: Replace golang.org/x/net with github.com/openshift-sustaining/net@v0.50.0-sec.4 to address CVE-2026-33814
  go.mod
  go.sum
Due: none

test fake bump
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_2.go
  vendor/github.com/openshift/library-go/pkg/config/serving/options.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

UPSTREAM: <carry>: [release-4.20] OCPBUGS-103840: Replace golang.org/x/net with github.com/openshift-sustaining/net@v0.50.0-sec.4 to address CVE-2026-33814
  go.mod
  go.sum
Due: none

UPSTREAM: <carry>: [release-4.19] OCPBUGS-103624: Replace golang.org/x/net with github.com/openshift-sustaining/net@v0.43.0-sec.4 to address CVE-2026-33814
  go.mod
  go.sum
Due: none

UPSTREAM: <carry>: [release-4.18] OCPBUGS-103402: Replace golang.org/x/net with github.com/openshift-sustaining/net@v0.35.0-sec.4 to address CVE-2026-33814
  go.mod
  go.sum
Due: none

UPSTREAM: <carry>: [release-4.17] OCPBUGS-103173: Replace golang.org/x/net with github.com/openshift-sustaining/net@v0.35.0-sec.4 to address CVE-2026-33814
  go.mod
  go.sum
Due: none

UPSTREAM: <carry>: [release-4.16] OCPBUGS-102944: Replace golang.org/x/net with github.com/openshift-sustaining/net@v0.35.0-sec.4 to address CVE-2026-33814
  go.mod
  go.sum
Due: none

UPSTREAM: <carry>: [release-4.15] OCPBUGS-102746: Replace golang.org/x/net with github.com/openshift-sustaining/net@v0.35.0-sec.4 to address CVE-2026-33814
  go.mod
  go.sum
Due: none

UPSTREAM: <carry>: [release-4.14] OCPBUGS-102529: Replace golang.org/x/net with github.com/openshift-sustaining/net@v0.35.0-sec.4 to address CVE-2026-33814
  go.mod
  go.sum
Due: none

UPSTREAM: <carry>: [release-4.13] OCPBUGS-102332: Replace golang.org/x/net with github.com/openshift-sustaining/net@v0.35.0-sec.4 to address CVE-2026-33814
  go.mod
  go.sum
Due: none

UPSTREAM: <carry>: [release-4.12] OCPBUGS-102114: Replace golang.org/x/net with github.com/openshift-sustaining/net@v0.35.0-sec.4 to address CVE-2026-33814
  go.mod
  go.sum
Due: none
