Repository openshift/cluster-kube-apiserver-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Path conditions:
  e2e-gcp-operator-encryption-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption-perf: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)

bump(k8s): bump to golang-1.26-openshift-5.1 image
  .ci-operator.yaml
  Dockerfile.rhel7
Due: none

configobservation/auth: support the ExternalOIDCAsWebhook gate
  pkg/operator/configobservation/auth/auth_metadata.go
  pkg/operator/configobservation/auth/auth_metadata_test.go
  pkg/operator/configobservation/auth/external_oidc.go
  pkg/operator/configobservation/auth/external_oidc_test.go
  pkg/operator/configobservation/auth/webhook_authenticator.go
  pkg/operator/configobservation/auth/webhook_authenticator_test.go
Due: none

Fake bump library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

fake bump(*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_deploy.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

fake bump(*)
  go.mod
  go.sum
  vendor/github.com/openshift/api/.golangci.yaml
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/install.go
  vendor/github.com/openshift/api/operator/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: none

fake bump(*)
  vendor/github.com/openshift/api/operator/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

fake bump(*)
  vendor/github.com/openshift/api/authentication/install.go
  vendor/github.com/openshift/api/authentication/v1alpha1/doc.go
  vendor/github.com/openshift/api/authentication/v1alpha1/register.go
  vendor/github.com/openshift/api/authentication/v1alpha1/types_authentication_configuration.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.swagger_doc_generated.go
Due: none

OCPBUGS-123675: Update gRPC to v1.84.0
  go.mod
  go.sum
  vendor/github.com/felixge/httpsnoop/capture_metrics.go
  vendor/github.com/felixge/httpsnoop/wrap_generated.go
  vendor/github.com/felixge/httpsnoop/wrap_generated_gteq_1.8.go
  vendor/github.com/felixge/httpsnoop/wrap_generated_lt_1.8.go
  vendor/google.golang.org/grpc/balancer/endpointsharding/endpointsharding.go
  vendor/google.golang.org/grpc/balancer/pickfirst/pickfirst.go
  vendor/google.golang.org/grpc/binarylog/grpc_binarylog_v1/binarylog.pb.go
  vendor/google.golang.org/grpc/call.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_noplan9.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_plan9.go
  vendor/google.golang.org/grpc/internal/buffer/unbounded.go
  vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/grpcsync/callback_serializer.go
  vendor/google.golang.org/grpc/internal/grpcsync/refcounted.go
  vendor/google.golang.org/grpc/internal/internal.go
  vendor/google.golang.org/grpc/internal/mem/buffer_pool.go
  vendor/google.golang.org/grpc/internal/resolver/config_selector.go
  vendor/google.golang.org/grpc/internal/transport/client_stream.go
  vendor/google.golang.org/grpc/internal/transport/controlbuf.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/http_util.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/mem/buffer_pool.go
  vendor/google.golang.org/grpc/mem/buffers.go
  vendor/google.golang.org/grpc/metadata/metadata.go
  vendor/google.golang.org/grpc/resolver_wrapper.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/stream.go
  vendor/modules.txt
Due: none

feat: inject tls groups
  Makefile
  pkg/operator/configobservation/configobservercontroller/observe_config_controller.go
  pkg/operator/targetconfigcontroller/targetconfigcontroller.go
  pkg/operator/targetconfigcontroller/targetconfigcontroller_test.go
Due: none

Enable workload API versions for feature gates
  pkg/operator/configobservation/apienablement/observe_runtime_config.go
  pkg/operator/configobservation/apienablement/observe_runtime_config_test.go
Due: none

bump (*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/checker.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

NO-JIRA: bump library-go to pick up KMS remote-key rotation core logic
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_rotation.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/migration_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/checker.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/remote_key.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Update deprecated API usage alerts for Kubernetes 1.37
  bindata/assets/alerts/api-usage.yaml
Due: none

WIP: replace library-go with KMS in-place update foundations
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/checker.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

test: enable KMS in-place field updates in kms-2 suite
  test/e2e-encryption-kms/encryption_kms_2.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

WIP: replace library-go with rebased version (to get the gate on preflight)
  go.mod
  go.sum
  vendor/github.com/openshift/api/.golangci.yaml
  vendor/github.com/openshift/api/authentication/install.go
  vendor/github.com/openshift/api/authentication/v1alpha1/doc.go
  vendor/github.com/openshift/api/authentication/v1alpha1/register.go
  vendor/github.com/openshift/api/authentication/v1alpha1/types_authentication_configuration.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/install.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_configuration_computer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_planner.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Update library-go
  go.mod
  go.sum
  vendor/github.com/openshift/api/.golangci.yaml
  vendor/github.com/openshift/api/authentication/install.go
  vendor/github.com/openshift/api/authentication/v1alpha1/doc.go
  vendor/github.com/openshift/api/authentication/v1alpha1/register.go
  vendor/github.com/openshift/api/authentication/v1alpha1/types_authentication_configuration.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/install.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_configuration_computer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_planner.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

bump library-go
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_2.go
  vendor/github.com/openshift/api/.golangci.yaml
  vendor/github.com/openshift/api/authentication/install.go
  vendor/github.com/openshift/api/authentication/v1alpha1/doc.go
  vendor/github.com/openshift/api/authentication/v1alpha1/register.go
  vendor/github.com/openshift/api/authentication/v1alpha1/types_authentication_configuration.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/install.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_configuration_computer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_planner.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/checker.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

e2e: stop probing operator metrics from openshift-console
  test/e2e/network_policy_enforcement.go
Due: none

bump openshift/api
  go.mod
  go.sum
  vendor/github.com/openshift/api/.gitignore
  vendor/github.com/openshift/api/.golangci.yaml
  vendor/github.com/openshift/api/config/v1alpha1/register.go
  vendor/github.com/openshift/api/config/v1alpha1/types_controllermanager.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/envtest-releases.yaml
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/operator/v1/types_console.go
  vendor/github.com/openshift/api/operator/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.model_name.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: none

test fake bump
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_2.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

OCPBUGS-123142: Bump Go to 1.26 and protobuf to v1.36.12
  .ci-operator.yaml
  Dockerfile.rhel7
  go.mod
  go.sum
  vendor/google.golang.org/protobuf/encoding/protodelim/protodelim.go
  vendor/google.golang.org/protobuf/encoding/protojson/decode.go
  vendor/google.golang.org/protobuf/encoding/protojson/well_known_types.go
  vendor/google.golang.org/protobuf/encoding/prototext/decode.go
  vendor/google.golang.org/protobuf/internal/descfmt/stringer.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  vendor/google.golang.org/protobuf/internal/encoding/defval/default.go
  vendor/google.golang.org/protobuf/internal/encoding/tag/tag.go
  vendor/google.golang.org/protobuf/internal/encoding/text/decode.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_init.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  vendor/google.golang.org/protobuf/internal/impl/codec_map.go
  vendor/google.golang.org/protobuf/internal/impl/decode.go
  vendor/google.golang.org/protobuf/internal/impl/validate.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/proto/decode.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  vendor/google.golang.org/protobuf/reflect/protodesc/editions.go
  vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/google.golang.org/protobuf/types/known/anypb/any.pb.go
  vendor/google.golang.org/protobuf/types/known/fieldmaskpb/field_mask.pb.go
  vendor/google.golang.org/protobuf/types/known/structpb/struct.pb.go
  vendor/google.golang.org/protobuf/types/known/timestamppb/timestamp.pb.go
  vendor/modules.txt
Due: none
