Repository openshift/cluster-kube-apiserver-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Path conditions:
  e2e-gcp-operator-encryption-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption-perf: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)

Reimport
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_apiserver.go
  vendor/github.com/openshift/api/config/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/security/v1/generated.proto
  vendor/github.com/openshift/api/security/v1/types.go
  vendor/github.com/openshift/api/security/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/awskmsconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/kmsconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultapproleauthentication.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultauthentication.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultconfigmapreference.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultkmsconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultsecretreference.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaulttlsconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Migrate KMS encryption tests to OTE
  cmd/cluster-kube-apiserver-operator-tests-ext/dependencymagnet.go
  cmd/cluster-kube-apiserver-operator-tests-ext/main.go
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-kms/encryption_kms_test.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

Removal of unuse suites
  cmd/cluster-kube-apiserver-operator-tests-ext/main.go
Due: none

test: Add network policy enforcement tests
  cmd/cluster-kube-apiserver-operator-tests-ext/main.go
  go.mod
  test/e2e/helpers.go
  test/e2e/network_policy.go
  test/e2e/network_policy_enforcement.go
  test/library/cluster_operator.go
Due: none

Migrate away from deprecated ioutil
  pkg/cmd/insecurereadyz/readyz.go
  pkg/cmd/render/render.go
  pkg/cmd/render/render_test.go
  pkg/operator/startupmonitorreadiness/readiness_checks.go
  pkg/recovery/apiserver.go
  pkg/recovery/helpers.go
Due: none

fake bump
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encoding/encoding.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Remove MutatingAdmissionPolicy from defaultGroupVersionsByFeatureGate
  pkg/operator/configobservation/apienablement/observe_runtime_config.go
Due: none

vendor: bump library-go for atomicdir fsync fix
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_apiserver.go
  vendor/github.com/openshift/api/config/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/security/v1/generated.proto
  vendor/github.com/openshift/api/security/v1/types.go
  vendor/github.com/openshift/api/security/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/awskmsconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/kmsconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultapproleauthentication.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultauthentication.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultconfigmapreference.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultkmsconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultsecretreference.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaulttlsconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encoding/encoding.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/installerpod/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/internal/atomicdir/sync.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/internal/fsutil/fsutil.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Update library-go to include KMS mock plugin deployer and testing.TB interface
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_apiserver.go
  vendor/github.com/openshift/api/config/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/security/v1/generated.proto
  vendor/github.com/openshift/api/security/v1/types.go
  vendor/github.com/openshift/api/security/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/awskmsconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/kmsconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultapproleauthentication.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultauthentication.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultconfigmapreference.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultkmsconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultsecretreference.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaulttlsconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encoding/encoding.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/helpers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/installerpod/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/internal/atomicdir/sync.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/internal/fsutil/fsutil.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

rename ServiceAccountIssuerController variables
  pkg/operator/serviceaccountissuercontroller/serviceaccountissuer_controller.go
Due: none

rename ObserveServiceAccountIssuer variables
  pkg/operator/configobservation/auth/auth_serviceaccountissuer.go
Due: none

ObserveServiceAccountIssuer event should report an empty issuer during the
  pkg/operator/configobservation/auth/auth_serviceaccountissuer.go
Due: none

operator should not override authentication config serviceAccountIssuer with the default one during
  pkg/operator/serviceaccountissuercontroller/serviceaccountissuer_controller.go
  pkg/operator/serviceaccountissuercontroller/serviceaccountissuer_controller_test.go
  test/e2e/serviceaccountissuer.go
Due: none

fake bump
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/migration_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/state_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/helpers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/plugins/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/sidecar.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

kms: add initial bits for plugin lifecycle
  pkg/operator/starter.go
  pkg/operator/targetconfigcontroller/targetconfigcontroller.go
Due: none

fake bump
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/helpers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/plugins/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

fake bump
  go.mod
  go.sum
  vendor/modules.txt
Due: none

fake bump
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/helpers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/plugins/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/sidecar.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Temporarily extend MutatingAdmissionPolicy runtime-config range to <1.37.0
  pkg/operator/configobservation/apienablement/observe_runtime_config.go
Due: none

vendor: bump library-go for atomicdir fsync fix
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/installerpod/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/internal/atomicdir/sync.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/internal/fsutil/fsutil.go
  vendor/modules.txt
Due: none

adjust code after bump
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-perf/encryption_perf_test.go
  test/e2e-encryption-rotation/encryption_rotation_test.go
  test/e2e-encryption/encryption_test.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

operator should not override authentication config serviceAccountIssuer with the default one during
  pkg/operator/serviceaccountissuercontroller/serviceaccountissuer_controller.go
  pkg/operator/serviceaccountissuercontroller/serviceaccountissuer_controller_test.go
  test/e2e/serviceaccountissuer_test.go
Due: none

Move ginkgo/v2 to main require section in go.mod
  go.mod
Due: none

revert dev cert rotation
  pkg/operator/certrotationcontroller/certrotationcontroller.go
Due: none

update images
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/test/library/encryption/kms/k8s_mock_kms_plugin_deployer.go
  vendor/modules.txt
Due: none

bump library-go to pick up KMS plugin lifecycle changes
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/test/library/encryption/kms/k8s_mock_kms_plugin_deployer.go
  vendor/modules.txt
Due: none

Add new suites of KMS
  cmd/cluster-kube-apiserver-operator-tests-ext/main.go
  test/e2e-encryption-kms/encryption_kms_test.go
  test/e2e-encryption-kms/main_test.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption
