Repository openshift/cluster-kube-apiserver-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

e2e-gcp-operator-encryption-aescbc:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-aescbc JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-gcp-operator-encryption-aesgcm:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-aesgcm JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
      resources:
  ...

e2e-gcp-operator-encryption-rotation-aescbc:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-rotation-aescbc JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-gcp-operator-encryption-rotation-aesgcm:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-rotation-aesgcm JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
  ...

e2e-gcp-operator-encryption-perf-aescbc:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-perf-aescbc JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-gcp-operator-encryption-perf-aesgcm:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-perf-aesgcm JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
  ...

e2e-gcp-operator-encryption-single-node:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-gcp-operator-encryption-rotation-single-node:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp-3
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-rotation JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
  ...

Align with new KMS signature
  pkg/operator/targetconfigcontroller/targetconfigcontroller.go
Due: none

Add binary name
  pkg/operator/targetconfigcontroller/targetconfigcontroller.go
Due: none

Bump library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/health_reporter.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux_386.go
  vendor/golang.org/x/sys/unix/ztypes_linux_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_loong64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mipsle.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_linux_sparc64.go
  vendor/golang.org/x/tools/go/ast/edge/edge.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/internal/gcimporter/ureader.go
  vendor/golang.org/x/tools/internal/gocommand/version.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Wire health reporter
  pkg/operator/targetconfigcontroller/targetconfigcontroller.go
Due: none

Add CLAUDE.md
  CLAUDE.md
Due: none

Add AGENTS.md and ARCHITECTURE.md for developer and AI agent reference
  AGENTS.md
  ARCHITECTURE.md
Due: none

Add common CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: none

bump(k8s): update k8s.io/* dependencies to v0.36.2
  go.mod
  go.sum
Due: none

bump(k8s): update everFailingIndexer for k8s 1.36 cache.Indexer interface
  pkg/operator/configobservation/auth/external_oidc_test.go
Due: none

bump(k8s): fix go vet format string violations for Go 1.26
  pkg/operator/configobservation/apiserver/observe_apiserver.go
Due: none

bump(k8s): update builder images
  .ci-operator.yaml
  Dockerfile.rhel7
Due: none

Bump library-go for sync
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/pkg/operator/revisioncontroller/revision_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controllers.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Migrate away from deprecated ioutil
  pkg/cmd/insecurereadyz/readyz.go
  pkg/cmd/render/render.go
  pkg/cmd/render/render_test.go
  pkg/operator/startupmonitorreadiness/readiness_checks.go
  pkg/recovery/apiserver.go
  pkg/recovery/helpers.go
Due: none

test: Add network policy enforcement tests
  cmd/cluster-kube-apiserver-operator-tests-ext/main.go
  go.mod
  test/e2e/helpers.go
  test/e2e/network_policy.go
  test/e2e/network_policy_enforcement.go
  test/library/cluster_operator.go
Due: none

Add new test suite for KMS to KMS migration
  cmd/cluster-kube-apiserver-operator-tests-ext/main.go
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-kms/encryption_kms_2.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

Combining KAS-O OAS-O Auth cases
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/assets/kms-preflight-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_auth.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_oas.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_auth.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_oas.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Address review feedback on AGENTS.md and ARCHITECTURE.md
  AGENTS.md
  ARCHITECTURE.md
Due: none

Fix inaccuracies in AGENTS.md and ARCHITECTURE.md
  AGENTS.md
  ARCHITECTURE.md
Due: none

NO-JIRA: Automatic agentic rebase: Update library-go to fd74bb5
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/assets/kms-preflight-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/checker.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_status.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_template.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_auth.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_oas.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_auth.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_oas.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

testKMSEncryptionProvidersMigration
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-kms/encryption_kms_2.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_auth.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_kas.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_auth.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_kas.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

Add 10-minute degraded inertia for NodeControllerDegraded
  pkg/operator/start_test.go
  pkg/operator/starter.go
  pkg/operator/starter_test.go
Due: none

use custom Gomega matchers for NetworkPolicy conformance assertions
  test/e2e/network_policy.go
  test/e2e/network_policy_matchers.go
Due: none

remove unused require* helpers and minor cleanups
  test/e2e/helpers.go
Due: none

restructure conformance and reconciliation tests with Ginkgo nesting
  test/e2e/network_policy.go
Due: none

restructure enforcement tests with DescribeTable and BeforeEach
  test/e2e/network_policy_enforcement.go
Due: none

Adding new KMS to KMS scenario
  cmd/cluster-kube-apiserver-operator/main.go
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_2.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/options.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/prober.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Add 10-minute degraded inertia for StaticPodsDegraded
  pkg/operator/starter.go
  pkg/operator/starter_test.go
Due: none

refactor KMS cases
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-kms/encryption_kms_2.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_kas.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_kas.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

CNTRLPLANE-3234: wire KMS health reporter status writer
  cmd/cluster-kube-apiserver-operator/main.go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/options.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/prober.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/writers/writers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/assets/kms-preflight-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_template.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

testKMSEncryptionProvidersMigration
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-kms/encryption_kms_2.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_kas.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_kas.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

fake bump(*)
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/encryptionstatus/client.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/options.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/writers/writers.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

with encryptionstatusclient
  cmd/cluster-kube-apiserver-operator/main.go
  pkg/operator/encryptionstatusclient/client.go
  pkg/operator/starter.go
Due: none

fake bump(*)
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/encryptionstatus/client.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

encryptionstatusclient
  pkg/operator/encryptionstatusclient/client.go
Due: none

REMOVE: encryptionstatusclient usage
  pkg/operator/encryptionstatusclient/client_integration_test.go
Due: none

scc: fix uid{Min,Max}Range for nested-container
  bindata/bootkube/scc-manifests/0000_20_kube-apiserver-operator_00_scc-nested-container.yaml
Due: none

Path conditions:
  e2e-gcp-operator-encryption-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption-perf: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
