Repository openshift/cluster-kube-apiserver-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

e2e-gcp-operator-encryption-aescbc:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-aescbc JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-gcp-operator-encryption-aesgcm:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-aesgcm JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
      resources:
  ...

e2e-gcp-operator-encryption-rotation-aescbc:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-rotation-aescbc JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-gcp-operator-encryption-rotation-aesgcm:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-rotation-aesgcm JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
  ...

e2e-gcp-operator-encryption-perf-aescbc:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-perf-aescbc JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-gcp-operator-encryption-perf-aesgcm:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-perf-aesgcm JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
  ...

e2e-gcp-operator-encryption-single-node:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-gcp-operator-encryption-rotation-single-node:
  always_run: false
  optional: true
  steps:
    cluster_profile: gcp-3
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-rotation JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
  ...

bump (*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/options.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_status.go
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_deploy.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

encryptionstatusprovider/provider: creates the provider from the operator client.
  cmd/cluster-kube-apiserver-operator/main.go
  pkg/operator/encryptionstatusprovider/provider.go
Due: none

Update openshift/*
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/operator/v1/types.go
  vendor/github.com/openshift/api/operator/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_25_kube-controller-manager_01_kubecontrollermanagers.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_25_kube-scheduler_01_kubeschedulers.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/baremetalplatformstatus.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vsphereplatformfailuredomainspec.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vsphereplatformspec.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/kmsencryptionstatus.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/kmspluginhealthreport.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/nodestatus.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/prober.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/resource_cache.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Fake bump library-go
  go.mod
  go.sum
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/ignore.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/struct_filter.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/state_controller.go
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_deploy.go
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_drift.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Define test
  test/e2e-encryption-kms/encryption_kms_2.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

test: effectively revert #1240
  pkg/operator/configobservation/apiserver/observe_termination_duration.go
Due: none

Bump library-go
  go.mod
  go.sum
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/ignore.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/struct_filter.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_ingress_00_ingresscontrollers-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_ingress_00_ingresscontrollers-OKD.crd.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/always_succeed_deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_deploy.go
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_drift.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Add new test e2e KMS case
  test/e2e-encryption-kms/encryption_kms_2.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

Add parallelism KMS OnOff Scenarios
  test/e2e-encryption-kms/encryption_kms.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

bump library-go api and client-go
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_authentication.go
  vendor/github.com/openshift/api/config/v1/types_ingress.go
  vendor/github.com/openshift/api/config/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/operator/v1alpha1/register.go
  vendor/github.com/openshift/api/operator/v1alpha1/types_ingress.go
  vendor/github.com/openshift/api/operator/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1alpha1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/operator/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/operator/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/route/v1/generated.proto
  vendor/github.com/openshift/api/route/v1/types.go
  vendor/github.com/openshift/api/route/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/awsplatformstatus.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/gcpplatformstatus.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/nodeexportercollectorconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/nodeexportercollectordevicemappermultipathconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/nodeexportercollectorzoneinfoconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/remotewritespec.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Embed vault kms plugin image in kas-o image
  Dockerfile.rhel7
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

fix
  Dockerfile.rhel7
Due: none

OCPBUGS-99773: remove unused kube-system namespace from informer registration
  pkg/operator/starter.go
Due: none

wire KMS preflight gate into encryption controllers
  pkg/operator/starter.go
Due: none

bump (*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

vendor: fake library-go bump for EncryptionConfigurationComputer
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

kms: pass NoopEncryptionConfigurationComputer to NewControllers
  pkg/operator/starter.go
Due: none

NO-JIRA: Update KMStoKMS scenario to multi provider
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_2.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/statemachine/transition.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

vendor: update library-go to encryption-refactor-fn-injection branch
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/condition_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_computer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_computer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/migration_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/prune_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/state_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/statemachine/transition.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

kms: wire real StaticPodPreflightDeployer instead of AlwaysSucceed stub
  pkg/operator/starter.go
Due: none

Retry conflict errors on UpdateKMSEncryptionStatus function
  pkg/operator/encryptionstatusprovider/provider.go
Due: none

vendor: update library-go with EncryptionComputer preflight deadlock fix
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_computer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

vendor: update library-go with preflight socket flag injection
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

update KMS tests changes with latest library-go bump
  go.mod
  go.sum
  pkg/operator/starter.go
  test/e2e-encryption-kms/encryption_kms.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/encryption_status_provider.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Remove MutatingAdmissionPolicy from defaultGroupVersionsByFeatureGate
  pkg/operator/configobservation/apienablement/observe_runtime_config.go
Due: none

Migrate encryption perf cases to ote
  cmd/cluster-kube-apiserver-operator-tests-ext/dependencymagnet.go
  cmd/cluster-kube-apiserver-operator-tests-ext/main.go
  test/e2e-encryption-perf/encryption_perf.go
  test/e2e-encryption-perf/encryption_perf_test.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

use provider as env var
  cmd/cluster-kube-apiserver-operator-tests-ext/main.go
  go.mod
  go.sum
  test/e2e-encryption-perf/encryption_perf.go
  test/e2e-encryption-perf/encryption_perf_test.go
  vendor/github.com/openshift/library-go/test/library/encryption/errors.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_helpers.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

bump(k8s): update k8s.io/* dependencies to v0.37.0-beta.0
  go.mod
  go.sum
Due: none

Remove old perf tests and update Makefile
  Makefile
  test/e2e-encryption-perf/encryption_perf_test.go
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

OCPBUGS-83400: revert dev cert rotation
  pkg/operator/certrotationcontroller/certrotationcontroller.go
Due: none

bump (*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/condition/condition.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/installer/manifests/installer-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/staticpod/controller/prune/manifests/pruner-pod.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_deploy.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Add kind-aware staleness detection for runtime-config entries
  pkg/operator/configobservation/apienablement/observe_runtime_config.go
  pkg/operator/configobservation/apienablement/observe_runtime_config_test.go
  pkg/operator/configobservation/apienablement/stale_gv_helpers_test.go
Due: none

Use 10min inertia for GuardControllerDegraded
  pkg/operator/starter.go
  pkg/operator/starter_test.go
Due: none

Add PodCertificateRequest runtime-config mapping
  pkg/operator/configobservation/apienablement/observe_runtime_config.go
Due: none

Fake bump library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_deploy.go
  vendor/modules.txt
Due: none

bump library-go
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_2.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/scenarios.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption

apienablement: enable resource.k8s.io/v1beta2 when DeviceTaintRule is enabled
  go.mod
  go.sum
  pkg/operator/configobservation/apienablement/observe_runtime_config.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations.crd.yaml
  vendor/modules.txt
Due: none

fake bump
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_planner.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/state_controller.go
  vendor/modules.txt
Due: e2e-gcp-operator-encryption-aescbc, e2e-gcp-operator-encryption-aesgcm, e2e-gcp-operator-encryption-rotation-aescbc, e2e-gcp-operator-encryption-rotation-aesgcm, e2e-gcp-operator-encryption-perf-aescbc, e2e-gcp-operator-encryption-perf-aesgcm, e2e-gcp-operator-encryption-single-node, e2e-gcp-operator-encryption-rotation-single-node, e2e-gcp-operator-encryption-perf-single-node, ci/prow/e2e-aws-operator-encryption, ci/prow/e2e-aws-operator-encryption-perf

Path conditions:
  e2e-gcp-operator-encryption-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
  e2e-gcp-operator-encryption-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf-single-node: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-aws-operator-encryption-perf: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
