Repository openshift/cluster-openshift-apiserver-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Path conditions:
  ci/prow/e2e-gcp-operator-encryption-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-gcp-operator-encryption-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-gcp-operator-encryption-rotation-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)

Revert "Merge pull request #704 from bertinatto/kms-ci-real-vault"
  test/e2e-encryption-kms/encryption_kms.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm

Revert "Merge pull request #699 from bertinatto/kms-plugins-lifecycle-vault-credentials"
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/credentials.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

wip
  README.md
Due: none

NO-JIRA: Automatic agentic rebase: Update library-go to 0710912
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

NO-JIRA: Automatic agentic rebase: Update library-go to 0469313
  go.mod
  go.sum
  pkg/operator/starter.go
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/controllerset/apiservercontrollerset.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

kms: wire up config overrides for KMS values
  go.mod
  go.sum
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/unsupported_config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

NO-JIRA: Automatic agentic rebase: Update library-go to 7fd5f33
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

bump(openshift/library-go): to get KMS plugin CA bundle wiring
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/credentials.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

bump(openshift/library-go): to get KMS plugin security context
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/reference_data_resolver.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Register health monitor as command
  cmd/cluster-openshift-apiserver-operator/main.go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/prober.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

NO-JIRA: add preflight command
  cmd/cluster-openshift-apiserver-operator/main.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/helpers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/assets/kms-preflight-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/bindata.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/checker.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_template.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

fake bump kmstokms test
  _output/golang-versions
  _output/named-golang-versions
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Fake bump to test kms plugin builder
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

NO-JIRA: Automatic agentic rebase: Update library-go to b0f5231
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Fake bump library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Pass operator image for health reporter
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync.go
Due: none

Update library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Pass binary name
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync.go
Due: none

Update library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/health_reporter.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

update networkpolicy for checkendpoints
  bindata/v3.11.0/openshift-apiserver/networkpolicy-allow.yaml
Due: none

update for https://github.com/openshift/cluster-openshift-apiserver-operator/issues/718
  bindata/v3.11.0/openshift-apiserver/networkpolicy-allow.yaml
Due: none

NO-JIRA: add kms preflight to NP to allow egress
  bindata/v3.11.0/openshift-apiserver/kms-preflight-networkpolicy-allow.yaml
  pkg/operator/starter.go
  pkg/operator/v311_00_assets/bindata.go
Due: none

Align with new KMS signature
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync.go
Due: none

Bump library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/health_reporter.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/golang.org/x/net/html/foreign.go
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/unix/ztypes_linux_386.go
  vendor/golang.org/x/sys/unix/ztypes_linux_amd64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm.go
  vendor/golang.org/x/sys/unix/ztypes_linux_arm64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_loong64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mips64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_mipsle.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_ppc64le.go
  vendor/golang.org/x/sys/unix/ztypes_linux_riscv64.go
  vendor/golang.org/x/sys/unix/ztypes_linux_s390x.go
  vendor/golang.org/x/sys/unix/ztypes_linux_sparc64.go
  vendor/golang.org/x/tools/go/ast/edge/edge.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/internal/gcimporter/ureader.go
  vendor/golang.org/x/tools/internal/gocommand/version.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Wire health reporter
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync.go
Due: none

Bump library-go for sync
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/controllerset/apiservercontrollerset.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/pkg/operator/revisioncontroller/revision_controller.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Add new test suite for KMS to KMS migration
  cmd/cluster-openshift-apiserver-operator-tests-ext/main.go
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-kms/encryption_kms_2.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm

update func from library-go
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/assets/kms-preflight-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_auth.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_oas.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_auth.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_oas.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Removed unused code
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_2.go
  test/e2e-encryption-rotation/e2e-encryption-rotation_test.go
  test/e2e-encryption/encryption_test.go
  test/e2e/operator_test.go
  test/library/encryption/assertion.go
  test/library/encryption/helpers.go
  vendor/github.com/openshift/client-go/route/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/route/applyconfigurations/route/v1/localobjectreference.go
  vendor/github.com/openshift/client-go/route/applyconfigurations/route/v1/route.go
  vendor/github.com/openshift/client-go/route/applyconfigurations/route/v1/routehttpheader.go
  vendor/github.com/openshift/client-go/route/applyconfigurations/route/v1/routehttpheaderactions.go
  vendor/github.com/openshift/client-go/route/applyconfigurations/route/v1/routehttpheaderactionunion.go
  vendor/github.com/openshift/client-go/route/applyconfigurations/route/v1/routehttpheaders.go
  vendor/github.com/openshift/client-go/route/applyconfigurations/route/v1/routeingress.go
  vendor/github.com/openshift/client-go/route/applyconfigurations/route/v1/routeingresscondition.go
  vendor/github.com/openshift/client-go/route/applyconfigurations/route/v1/routeport.go
  vendor/github.com/openshift/client-go/route/applyconfigurations/route/v1/routesethttpheader.go
  vendor/github.com/openshift/client-go/route/applyconfigurations/route/v1/routespec.go
  vendor/github.com/openshift/client-go/route/applyconfigurations/route/v1/routestatus.go
  vendor/github.com/openshift/client-go/route/applyconfigurations/route/v1/routetargetreference.go
  vendor/github.com/openshift/client-go/route/applyconfigurations/route/v1/tlsconfig.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/scheme/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/scheme/register.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/generated_expansion.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/route.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/route_client.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

NO-JIRA: Automatic agentic rebase: Update library-go to fd74bb5
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/assets/kms-preflight-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/checker.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_status.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_template.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

feat(networkpolicy): Allow Prometheus to scrape check-endpoints on port 17698
  bindata/v3.11.0/openshift-apiserver/networkpolicy-allow.yaml
Due: none

chore(bindata): Regenerate bindata with updated NetworkPolicy
  pkg/operator/v311_00_assets/bindata.go
Due: none

CNTRLPLANE-3234: wire KMS health reporter status writer
  cmd/cluster-openshift-apiserver-operator/main.go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/options.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/prober.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/writers/writers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/assets/kms-preflight-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_template.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Bump library-go to sync
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/options.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_auth.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_oas.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_auth.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_oas.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

React to new test names
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-kms/encryption_kms_2.go
  test/e2e-encryption-rotation/e2e-encryption-rotation_test.go
  test/e2e-encryption/encryption_test.go
  test/e2e/operator_test.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Update OAS helpers and assertions
  go.mod
  go.sum
  vendor/modules.txt
Due: none

fitting
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync.go
Due: none
