Repository openshift/cluster-openshift-apiserver-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Path conditions:
  ci/prow/e2e-gcp-operator-encryption-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-gcp-operator-encryption-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-gcp-operator-encryption-rotation-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)

pin go.mod
  go.mod
Due: none

react to changes
  pkg/operator/configobservation/project/observe_projects_test.go
  pkg/operator/revisionpoddeployer/deployers_test.go
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync_test.go
Due: none

Add KMS encryption test target
  Makefile
  test/e2e-encryption-kms/encryption_kms_test.go
  test/e2e-encryption-kms/main_test.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm

MON-4472: Migrate Prometheus targets discovering from Endpoints to EndpointsSlices
  manifests/0000_90_openshift-apiserver-operator_01_prometheusrole.yaml
  manifests/0000_90_openshift-apiserver-operator_03_servicemonitor.yaml
  manifests/0000_90_openshift-apiserver-operator_04_servicemonitor-apiserver.yaml
  manifests/0000_90_openshift-apiserver-operator_05_check-endpoints_servicemonitor.yaml
Due: none

Conditionally add the KMS plugin volume mount to the openshift-apiserver container
  pkg/operator/starter.go
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync.go
Due: none

Fix unit test
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync_test.go
Due: none

Fake bump to get encryption changes
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/crypto/keys.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionconfig/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/kms.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/testing/helpers.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Update library-go to latest version
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/apiserver/observe_tlssecurityprofile.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: none

Add KMS on/off test scenario
  test/e2e-encryption-kms/encryption_kms_test.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_configmap.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_daemonset.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_namespace.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_rolebinding.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_serviceaccount.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/k8s_mock_kms_plugin_deployer.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm

Rebump library-go to remove crypto changes
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/modules.txt
Due: none

adding network policies for operator and operands
  manifests/11_networkpolicies.yaml
  manifests/12_operand_networkpolicies.yaml
Due: none

NO-JIRA: OWNERS: remove engineers who have left Red Hat
  OWNERS
Due: none

Fake bump to test kms
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/crypto/keys.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionconfig/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/kms.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/testing/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

add defaults to allowed registries
  bindata/v3.11.0/config/defaultconfig.yaml
  pkg/operator/v311_00_assets/bindata.go
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync_test.go
Due: none

add defaults for allowedRegistriesForImport that keep current behavior
  bindata/v3.11.0/config/defaultconfig.yaml
  pkg/operator/v311_00_assets/bindata.go
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync_test.go
Due: none

deps: Update library-go to fix CVE-2025-65637 (logrus v1.9.0 to v1.9.3)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/storage.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceread/admission.go
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Due: none

Update library-go to get KMS encryption mode
  go.mod
  go.sum
  vendor/github.com/openshift/api/.coderabbit.yaml
  vendor/github.com/openshift/api/apiextensions/v1alpha1/types_compatibilityrequirement.go
  vendor/github.com/openshift/api/apiextensions/v1alpha1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/types_insights.go
  vendor/github.com/openshift/api/config/v1/types_network.go
  vendor/github.com/openshift/api/config/v1/types_tlssecurityprofile.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha1/register.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/types_crio_credential_provider_config.go
  vendor/github.com/openshift/api/config/v1alpha1/types_insights.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha2/types_insights.go
  vendor/github.com/openshift/api/config/v1alpha2/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/machine/v1beta1/types_awsprovider.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/operator/v1/types_network.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_ingress_00_ingresscontrollers.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_70_network_01_networks.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/crypto/keys.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionconfig/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/testing/helpers.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

add registry.access.redhat.com to the default allow list
  bindata/v3.11.0/config/defaultconfig.yaml
  pkg/operator/v311_00_assets/bindata.go
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync_test.go
Due: none

add quay-proxy.ci.openshift.org to the allow list
  bindata/v3.11.0/config/defaultconfig.yaml
  pkg/operator/v311_00_assets/bindata.go
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync_test.go
Due: none

deps: Bump github.com/sirupsen/logrus from v1.9.0 to v1.9.3 (CVE-2025-65637)
  go.mod
  go.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Due: none

deps: Bump github.com/sirupsen/logrus from v1.9.0 to v1.9.3 (CVE-2025-65637)
  go.mod
  go.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/buffer_pool.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Due: none

update cert injection annotations to beta
  bindata/v3.11.0/openshift-apiserver/svc.yaml
  manifests/06_service.yaml
  pkg/operator/starter.go
  pkg/operator/v311_00_assets/bindata.go
Due: none

move default deny to end of list, allow metrics scraping from everywhere
  manifests/11_networkpolicies.yaml
  manifests/12_operand_networkpolicies.yaml
Due: none

OCPBUGS-74418: Add KMS test scenarios
  Makefile
  test/e2e-encryption-kms/encryption_kms_test.go
  test/e2e-encryption-kms/main_test.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm

Update serving-cert-secret-name annotation for service
  manifests/06_service.yaml
Due: none

Fix service annotation for serving cert secret name
  manifests/06_service.yaml
Due: none

bump(openshift/library-go): to get KMS-related updates
  go.mod
  go.sum
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/features/util.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Update library-go to get KMS
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/crypto/keys.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionconfig/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/testing/helpers.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

address comments
  manifests/11_networkpolicies.yaml
  manifests/12_operand_networkpolicies.yaml
Due: none

operator manages operands networkpolicies
  bindata/v3.11.0/openshift-apiserver/networkpolicy-allow.yaml
  bindata/v3.11.0/openshift-apiserver/networkpolicy-default-deny.yaml
  manifests/11_networkpolicies.yaml
  manifests/11_networkpolicies_default-deny.yaml
  manifests/12_operand_networkpolicies.yaml
  pkg/operator/starter.go
  pkg/operator/v311_00_assets/bindata.go
Due: none

Restart operator when TLS config changes
  manifests/03_configmap.yaml
  manifests/07_deployment.yaml
Due: none
