Repository openshift/cluster-openshift-apiserver-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Path conditions:
  ci/prow/e2e-gcp-operator-encryption-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-gcp-operator-encryption-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-gcp-operator-encryption-rotation-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)

Disable WatchList feature gate due to the missing support of Project watch
  pkg/operator/configobservation/configobservercontroller/observe_config_controller.go
Due: none

CNTRLPLANE-2619: make checkendpoints use apiserver config
  bindata/v3.11.0/openshift-apiserver/deploy.yaml
  pkg/operator/v311_00_assets/bindata.go
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync.go
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync_test.go
Due: none

Revert "NO-JIRA: Disable WatchList feature gate due to the missing support of Project watch"
  pkg/operator/configobservation/configobservercontroller/observe_config_controller.go
Due: none

bump(go.mod,go.sum): k8s=1.35.2
  go.mod
  go.sum
Due: none

Fake vendor for KMS TPv2
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types.go
  vendor/github.com/openshift/api/config/v1/types_apiserver.go
  vendor/github.com/openshift/api/config/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/envtest-releases.yaml
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/awsdnsspec.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/infrastructurestatus.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/kmsconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/prefixedclaimmapping.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/usernameclaimmapping.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultkmsconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/alertmanagercustomconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/clustermonitoringspec.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/containerresource.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/metricsserverconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/openshiftstatemetricsconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/prometheusconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/prometheusoperatoradmissionwebhookconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/telemeterclientconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/utils.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/awscsidriverconfigspec.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/ingresscontrollertuningoptions.go
  vendor/modules.txt
Due: none

fix
  test/e2e-encryption-kms/encryption_kms_test.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm

CNTRLPLANE-2699: adding network policies for operator and operands (#645)
  bindata/v3.11.0/openshift-apiserver/networkpolicy-allow.yaml
  bindata/v3.11.0/openshift-apiserver/networkpolicy-default-deny.yaml
  manifests/11_networkpolicies.yaml
  manifests/11_networkpolicies_default-deny.yaml
  pkg/operator/starter.go
  pkg/operator/v311_00_assets/bindata.go
Due: none

Update library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/controller/controllercmd/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/client_cert_rotation_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/signer.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/target.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/migration_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/testing/helpers.go
  vendor/github.com/openshift/library-go/pkg/pki/profile.go
  vendor/github.com/openshift/library-go/pkg/pki/provider.go
  vendor/github.com/openshift/library-go/pkg/pki/resolve.go
  vendor/github.com/openshift/library-go/pkg/pki/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/e_log.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_daemonset.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/k8s_mock_kms_plugin_deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Wire kmsplugin count
  test/e2e-encryption-kms/encryption_kms_test.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm

Add control-plane-approvers to OWNERS
  OWNERS
  OWNERS_ALIASES
Due: none

test: tests for network policy
  cmd/cluster-openshift-apiserver-operator-tests-ext/dependencymagnet.go
  cmd/cluster-openshift-apiserver-operator-tests-ext/main.go
  test/e2e/helpers.go
  test/e2e/network_policy.go
  test/e2e/network_policy_enforcement.go
  test/library/cluster_operator.go
Due: none

update tests
  test/e2e-encryption-kms/encryption_kms_test.go
  test/e2e-encryption-rotation/e2e-encryption-rotation_test.go
  test/e2e-encryption/encryption_test.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

add the kms suite and migrate the kms tests of oas-o to ote
  cmd/cluster-openshift-apiserver-operator-tests-ext/dependencymagnet.go
  cmd/cluster-openshift-apiserver-operator-tests-ext/main.go
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-kms/encryption_kms_test.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm

test changes
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-rotation/e2e-encryption-rotation_test.go
  test/e2e-encryption/encryption_test.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

go mod update
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: none

kms: support deploying the vault mock plugin
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync.go
Due: none

bump(openshift/library-go): to get KMS plugin lifecycle changes
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

sync the kms tessts with latest go-lib changes -
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-rotation/e2e-encryption-rotation_test.go
  test/e2e-encryption/encryption_test.go
  test/e2e/operator_test.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/helpers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

bump(openshift/library-go): to get KMS plugin lifecycle changes
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/config/v1/types_network.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/route/v1/generated.proto
  vendor/github.com/openshift/api/route/v1/types.go
  vendor/github.com/openshift/api/route/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/helpers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/pkg/operator/management/management_state.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

bump(openshift/library-go): fitting
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-kms/encryption_kms_test.go
  test/e2e-encryption-rotation/e2e-encryption-rotation_test.go
  test/e2e-encryption/encryption_test.go
  test/e2e/operator_test.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

kms: use DefaultFakeVaultEncryptionProvider to ensure AppRole secret setup
  test/e2e-encryption-kms/encryption_kms.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm

Remove old mock plugin deployment
  test/e2e-encryption-kms/encryption_kms.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm

bump latest library-go changes
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/target.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_configmap.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_daemonset.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_namespace.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_rolebinding.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_serviceaccount.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/k8s_mock_kms_plugin_deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: none

NO-JIRA: Automatic agentic rebase: Update library-go to 0cf249e
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/OWNERS
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/OWNERS
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

NO-JIRA: Automatic agentic rebase: Update library-go to d8750ed
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/pkg/operator/events/recorder_in_memory.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

NO-JIRA: Fix encryption rotation test after library-go update
  test/e2e-encryption-rotation/e2e-encryption-rotation_test.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

remove old go std tetss
  test/e2e-encryption-kms/encryption_kms_test.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm

bump(openshift/library-go): to get KMS plugin credentials change
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/credentials.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

kms: switch to real Vault plugin in CI
  test/e2e-encryption-kms/encryption_kms.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm
