Repository openshift/cluster-openshift-apiserver-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

ci/prow/e2e-gcp-operator-encryption-aescbc:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-gcp-operator-encryption-aesgcm:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-gcp-operator-encryption-rotation-aescbc:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

update go
  .ci-operator.yaml
  Dockerfile
Due: none

pkg/operator/encryptionstatusprovider/provider: with openShiftAPIServerEncryptionStatusProvider
  cmd/cluster-openshift-apiserver-operator/main.go
  pkg/operator/encryptionstatusprovider/provider.go
Due: none

update Dockerfile and .ci-operator.yaml to Go 1.26 / OCP 5.0 images
  .ci-operator.yaml
  Dockerfile
Due: none

kms to kms key identifier check
  go.mod
  go.sum
  pkg/operator/workload/workload_openshiftapiserver_v311_00_sync.go
  test/e2e-encryption-kms/encryption_kms_2.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

encryptionstatusprovider: use OpenShiftAPIServerInterface instead of Clientset
  pkg/operator/encryptionstatusprovider/provider.go
Due: none

encryptionstatusprovider: implement UpdateKMSEncryptionStatus
  pkg/operator/encryptionstatusprovider/provider.go
Due: none

bump(*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/encryption_status_provider.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

NO-JIRA: Automatic agentic rebase: Update library-go to d8f45c2
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_deploy.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Update README.md
  README.md
Due: none

NO-JIRA: add KMS preflight deploy e2e to encryption-kms-2
  test/e2e-encryption-kms/encryption_kms_2.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm

NO-JIRA: address preflight e2e review feedback
  test/e2e-encryption-kms/encryption_kms_2.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm

NO-JIRA: gofmt encryption_kms_2.go
  test/e2e-encryption-kms/encryption_kms_2.go
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm

bump (*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/options.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_status.go
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_deploy.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

encryptionstatusprovider/provider: creates the provider from the operator client.
  cmd/cluster-openshift-apiserver-operator/main.go
  pkg/operator/encryptionstatusprovider/provider.go
Due: none

Update openshift/*
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/operator/v1/types.go
  vendor/github.com/openshift/api/operator/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_25_kube-controller-manager_01_kubecontrollermanagers.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_25_kube-scheduler_01_kubeschedulers.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/baremetalplatformstatus.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vsphereplatformfailuredomainspec.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vsphereplatformspec.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/kmsencryptionstatus.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/kmspluginhealthreport.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/nodestatus.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/prober.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/resource_cache.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

feat(networkpolicy): Allow Prometheus to scrape check-endpoints on port 17698
  bindata/v3.11.0/openshift-apiserver/networkpolicy-allow.yaml
Due: none

chore(bindata): Regenerate bindata with updated NetworkPolicy
  pkg/operator/v311_00_assets/bindata.go
Due: none

OCPBUGS-98618: Add HostToContainer mountPropagation to node-pullsecrets volume mount
  bindata/v3.11.0/openshift-apiserver/deploy.yaml
  pkg/operator/v311_00_assets/bindata.go
Due: none

Bump library-go
  go.mod
  go.sum
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/ignore.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/struct_filter.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_ingress_00_ingresscontrollers-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_ingress_00_ingresscontrollers-OKD.crd.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/always_succeed_deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_deploy.go
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_drift.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

bump library-go api and client-go
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_authentication.go
  vendor/github.com/openshift/api/config/v1/types_ingress.go
  vendor/github.com/openshift/api/config/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/operator/v1alpha1/register.go
  vendor/github.com/openshift/api/operator/v1alpha1/types_ingress.go
  vendor/github.com/openshift/api/operator/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1alpha1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/operator/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/operator/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/route/v1/generated.proto
  vendor/github.com/openshift/api/route/v1/types.go
  vendor/github.com/openshift/api/route/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/awsplatformstatus.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/gcpplatformstatus.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/nodeexportercollectorconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/nodeexportercollectordevicemappermultipathconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/nodeexportercollectorzoneinfoconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1alpha1/remotewritespec.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/utils.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

bump library-go to pick up KMS preflight gate changes
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/controllerset/apiservercontrollerset.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

wire KMS preflight gate into encryption controllers
  go.sum
  pkg/operator/starter.go
Due: none

Revert "Revert "NO-JIRA: Disable WatchList feature gate due to the missing support of Project watch""
  pkg/operator/configobservation/configobservercontroller/observe_config_controller.go
Due: none

Retry conflict errors on UpdateKMSEncryptionStatus function
  pkg/operator/encryptionstatusprovider/provider.go
Due: none

update KMS tests changes with latest library-go bump
  go.mod
  go.sum
  pkg/operator/starter.go
  test/e2e-encryption-kms/encryption_kms.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/controllerset/apiservercontrollerset.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/encryption_status_provider.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/statemachine/transition.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

bump (*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/condition/condition.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/errors.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_deploy.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

Update KMS cases and bump library-go
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_2.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/scenarios.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm

observe_images: Prevent spurious ImageStreamImportModeChanged event
  pkg/operator/configobservation/images/observe_images.go
  pkg/operator/configobservation/images/observe_images_test.go
Due: none

Update library-go to get latest changes
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/v1helpers/test_helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/errors.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/modules.txt
Due: none

bump(openshift/library-go): to get EncryptionPlanner
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_planner.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/state_controller.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

kms: use real preflight deployer
  pkg/operator/starter.go
Due: none

Bump library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/apiserver/observe_tlssecurityprofile.go
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/apiserver/tls_fips.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/test/library/encryption/etcd_client.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

bump(openshift/library-go): to get EncryptionConfigurationComputer
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_configuration_computer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/modules.txt
Due: ci/prow/e2e-gcp-operator-encryption-aescbc, ci/prow/e2e-gcp-operator-encryption-aesgcm, ci/prow/e2e-gcp-operator-encryption-rotation-aescbc, ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm

kms: extract encryptionProvider to its own var
  pkg/operator/starter.go
Due: none

kms: wire EncryptionConfigurationComputer into encryption controllers
  pkg/operator/starter.go
Due: none

Path conditions:
  ci/prow/e2e-gcp-operator-encryption-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-gcp-operator-encryption-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  ci/prow/e2e-gcp-operator-encryption-rotation-aescbc: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  ci/prow/e2e-gcp-operator-encryption-rotation-aesgcm: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
