Repository openshift/cluster-autoscaler-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-autoscaler

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/regression-clusterinfra-gcp-ipi-autoscaler:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

Add rbac for volumeattachments
  install/03_rbac.yaml
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

add kube api content type flag to autoscaler
  pkg/controller/clusterautoscaler/clusterautoscaler.go
  pkg/controller/clusterautoscaler/clusterautoscaler_test.go
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

Update unit tests to handle new fakeclient which returns no GVK
  pkg/controller/clusterautoscaler/monitoring_test.go
  pkg/controller/clusterautoscaler/networkpolicies_test.go
Due: ci/prow/e2e-aws, ci/prow/e2e-upgrade

Allow CAO to get clusterversions
  install/03_rbac.yaml
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

chore: add permissions on endpointslice to Prometheus Role and use serviceDiscoveryRole: EndpointSlice in ServiceMonitors
  install/03_rbac.yaml
  install/06_servicemonitor.yaml
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

Add rbac related objects to cao clusteroperator
  install/08_clusteroperator.yaml
  pkg/operator/operator.go
  pkg/operator/operator_test.go
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

update rbac to include DRA-related resources
  install/03_rbac.yaml
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

OCPBUGS-65578: report Progressing=True on version upgrade
  go.mod
  go.sum
  pkg/operator/status.go
  pkg/operator/status_test.go
  pkg/version/version.go
  vendor/github.com/blang/semver/.travis.yml
  vendor/github.com/blang/semver/LICENSE
  vendor/github.com/blang/semver/README.md
  vendor/github.com/blang/semver/json.go
  vendor/github.com/blang/semver/package.json
  vendor/github.com/blang/semver/range.go
  vendor/github.com/blang/semver/semver.go
  vendor/github.com/blang/semver/sort.go
  vendor/github.com/blang/semver/sql.go
  vendor/modules.txt
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-autoscaler

change default cloud provider to openshift
  pkg/operator/config.go
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

Add machinesets to cluster operator related objects
  pkg/operator/operator.go
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

Added Machines & MachineSets in the RelatedObjects
  pkg/operator/operator.go
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

Change related object namespaces to WatchNamespace
  pkg/operator/operator.go
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

EnforceNodeGroup flag
  install/01_clusterautoscaler.crd.yaml
  pkg/apis/autoscaling/v1/clusterautoscaler_types.go
  pkg/apis/autoscaling/v1/zz_generated.deepcopy.go
  pkg/controller/clusterautoscaler/clusterautoscaler.go
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

Added default
  install/01_clusterautoscaler.crd.yaml
  pkg/apis/autoscaling/v1/clusterautoscaler_types.go
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

add coderabbit configuration file
  .coderabbit.yaml
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

Add Machines and MachineSets(only autoscaled) to related object
  pkg/controller/clusterautoscaler/networkpolicies_test.go
  pkg/operator/operator.go
  pkg/operator/operator_test.go
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

change default cloud provider to openshift
  install/03_rbac.yaml
  pkg/controller/clusterautoscaler/clusterautoscaler.go
  pkg/controller/clusterautoscaler/clusterautoscaler_controller.go
  pkg/operator/config.go
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

update owners file with autoscale team members
  OWNERS
Due: none

chore(controller): update GetEventRecordFor
  pkg/controller/clusterautoscaler/clusterautoscaler_controller.go
  pkg/controller/clusterautoscaler/clusterautoscaler_test.go
  pkg/controller/machineautoscaler/machineautoscaler_controller.go
  pkg/controller/machineautoscaler/machineautoscaler_controller_test.go
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

fix: dependecies
  go.mod
  go.sum
  vendor/modules.txt
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-autoscaler

Add /release-chores chore cycle skill
  .claude/commands/release-chores.md
Due: none

feat(autoscaler): implement startupTaints
  examples/clusterautoscaler.yaml
  install/01_clusterautoscaler.crd.yaml
  pkg/apis/autoscaling/v1/clusterautoscaler_types.go
  pkg/apis/autoscaling/v1/zz_generated.deepcopy.go
  pkg/controller/clusterautoscaler/clusterautoscaler.go
  pkg/controller/clusterautoscaler/clusterautoscaler_test.go
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

chore: code review
  install/01_clusterautoscaler.crd.yaml
  pkg/apis/autoscaling/v1/clusterautoscaler_types.go
  pkg/controller/clusterautoscaler/clusterautoscaler.go
  pkg/controller/clusterautoscaler/clusterautoscaler_test.go
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-operator, ci/prow/e2e-upgrade

Path conditions:
  ci/prow/e2e-aws: unless all of: ^docs/|^\.tekton/|^rpms\.(.*)\.yaml$|^renovate.json$|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-operator: unless all of: ^docs/|^\.tekton/|^rpms\.(.*)\.yaml$|^renovate.json$|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$|_test\.go$
  ci/prow/e2e-upgrade: unless all of: ^docs/|^\.tekton/|^rpms\.(.*)\.yaml$|^renovate.json$|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/regression-clusterinfra-gcp-ipi-autoscaler: any of: ^(go\.mod|go\.sum)$
