Repository openshift/configure-alertmanager-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-binary-build-success, coverage, lint, test, validate

ci-operator/config/openshift/configure-alertmanager-operator/openshift-configure-alertmanager-operator-master.yaml:

build_root:
  from_repository: true
images:
- dockerfile_path: build/Dockerfile
  to: unused
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
tests:
- as: e2e-binary-build-success
  commands: |
    make e2e-harness-build
  container:
    from: src
  run_if_changed: ^(test/e2e/.*|go\.mod|go\.sum)$
- as: coverage
  commands: |
    export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
    make coverage
  container:
    from: src
  secret:
    mount_path: /tmp/secret
    name: configure-alertmanager-operator-codecov-token
  skip_if_only_changed: ^(?:\.tekton|\.github)|\.md$|^(?:\.gitignore|OWNERS|LICENSE)$
- as: publish-coverage
  commands: |
    export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
    make coverage
  container:
    from: src
  postsubmit: true
  secret:
    mount_path: /tmp/secret
    name: configure-alertmanager-operator-codecov-token
- as: lint
  commands: make lint
  container:
    from: src
  skip_if_only_changed: ^(?:\.tekton|\.github)|\.md$|^(?:\.gitignore|OWNERS|LICENSE)$
- as: test
  commands: make test
  container:
    from: src
  skip_if_only_changed: ^(?:\.tekton|\.github)|\.md$|^(?:\.gitignore|OWNERS|LICENSE)$
- as: validate
  commands: make validate
  container:
    from: src
  skip_if_only_changed: ^(?:\.tekton|\.github)|\.md$|^(?:\.gitignore|OWNERS|LICENSE)$
zz_generated_metadata:
  branch: master
  org: openshift
  repo: configure-alertmanager-operator

Drop ClusterLogForwarderOutputErrorRate alerts
  controllers/secret_controller.go
Due: coverage, lint, test, validate

make validate
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

ROSAENG-1157 | Drop ClusterLogForwarderOutputErrorRate alerts (#526)
  build/Dockerfile
  build/Dockerfile.olm-registry
  controllers/secret_controller.go
Due: coverage, lint, test, validate

Improve cleanup Job resilience for image pull and transient failures
  deploy_pko/.test-fixtures/default/Cleanup-OLM-Job.yaml
  deploy_pko/.test-fixtures/fedramp/Cleanup-OLM-Job.yaml
  deploy_pko/Cleanup-OLM-Job.yaml.gotmpl
Due: coverage, lint, test, validate

Add cluster region to PagerDuty configuration details
  controllers/secret_controller.go
  controllers/secret_controller_test.go
Due: coverage, lint, test, validate

chore(SREP-4514): enable coderabbit config inheritance
  .coderabbit.yaml
Due: coverage, lint, test, validate

Update boilerplate, bump ubi-minimal to 9.8-1779809423
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/dependabot.yml
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

Add read-only local e2e test mode with backplane support
  test/e2e/configure_alertmanager_operator_tests.go
  test/e2e/lint-labels.sh
  test/e2e/run-local.sh
Due: e2e-binary-build-success, coverage, lint, test, validate

Port AlertmanagerInhibitions e2e tests from osde2e
  test/e2e/configure_alertmanager_operator_tests.go
  test/e2e/utils/utils.go
Due: e2e-binary-build-success, coverage, lint, test, validate

Assert inhibitedBy is non-empty in inhibition test
  test/e2e/configure_alertmanager_operator_tests.go
Due: e2e-binary-build-success, coverage, lint, test, validate

Add request timeouts to AlertmanagerClient HTTP client
  test/e2e/utils/utils.go
Due: e2e-binary-build-success, coverage, lint, test, validate

Fix e2e PagerDuty receiver tests to poll for operator reconciliation
  test/e2e/configure_alertmanager_operator_tests.go
Due: e2e-binary-build-success, coverage, lint, test, validate

Reapply "SREP-2513: Separate PD and CAD_PD secrets"
  controllers/secret_controller.go
  controllers/secret_controller_test.go
Due: coverage, lint, test, validate

feat: add Claude Code infrastructure and documentation
  .claude/agents/README.md
  .claude/agents/ci-agent.md
  .claude/agents/docs-agent.md
  .claude/agents/lint-agent.md
  .claude/agents/security-agent.md
  .claude/agents/test-agent.md
  .claude/hooks/README.md
  .claude/hooks/cleanup.sh
  .claude/hooks/pre-edit.sh
  .claude/hooks/stop-prek-validation.sh
  .claude/settings.json
  .claude/skills/README.md
  .claude/skills/prow-ci/SKILL.md
  .claude/skills/prow-ci/analyze_failure.py
  .claude/skills/prow-ci/fetch_prow_artifacts.py
  .gitignore
  .gitleaks.toml
  .prek-version
  CONTRIBUTING.md
  DEVELOPMENT.md
  TESTING.md
  hack/ci.sh
  hack/prek.ci.toml
  prek.toml
Due: coverage, lint, test, validate

feat: add Claude Code infrastructure and documentation
  .claude/hooks/README.md
  .claude/hooks/cleanup.sh
  .claude/hooks/pre-edit.sh
  .claude/hooks/stop-prek-validation.sh
  .claude/skills/README.md
  .claude/skills/prow-ci/SKILL.md
  .claude/skills/prow-ci/analyze_failure.py
  .claude/skills/prow-ci/fetch_prow_artifacts.py
Due: coverage, lint, test, validate

feat: update Claude Code infrastructure
  .claude/agents/README.md
  .claude/agents/ci-agent.md
  .claude/agents/docs-agent.md
  .claude/hooks/README.md
  .claude/hooks/pre-edit.sh
  .claude/settings.json
  .claude/skills/README.md
  .claude/skills/prow-ci/SKILL.md
Due: coverage, lint, test, validate

fix: improve Claude Code hook portability and completeness
  .claude/hooks/pre-edit.sh
  .claude/hooks/stop-prek-validation.sh
Due: coverage, lint, test, validate

Fix CodeRabbit issues
  .claude/skills/prow-ci/analyze_failure.py
  .claude/skills/prow-ci/fetch_prow_artifacts.py
  .gitleaks.toml
Due: coverage, lint, test, validate

ROSAENG-1342: Replace osd-cluster-ready Job dependency with ClusterOperator check
  README.md
  build/Dockerfile
  build/Dockerfile.olm-registry
  deploy_pko/.test-fixtures/default/ClusterRole-configure-alertmanager-operator-view.yaml
  deploy_pko/.test-fixtures/fedramp/ClusterRole-configure-alertmanager-operator-view.yaml
  deploy_pko/ClusterRole-configure-alertmanager-operator-view.yaml.gotmpl
  pkg/readiness/cluster_ready.go
Due: coverage, lint, test, validate

Update boilerplate for CI Fixes
  .pre-commit-config.yaml
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/dependabot.yml
  boilerplate/openshift/golang-osd-operator/docs/pre-commit.md
  boilerplate/openshift/golang-osd-operator/olm_pko_migration.py
  boilerplate/openshift/golang-osd-operator/pre-commit-config.yaml
  boilerplate/openshift/golang-osd-operator/standard.mk
Due: coverage, lint, test, validate

Remove .tekton/OWNERS file [SDCICD-1761]
  .tekton/OWNERS
Due: none

ROSAENG-420: Route etcdDatabaseQuotaLowSpace warning alerts to critical
  controllers/secret_controller.go
  controllers/secret_controller_test.go
Due: coverage, lint, test, validate

Boilerplate: Update to 8fb7c801f68dc7e06e8d2ae138c2a98f0b234b56
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/container-make
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/dependabot.yml
Due: coverage, lint, test, validate

Update boilerplate — container cleanup, dependabot scheduling, OWNERS update
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/container-make
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/dependabot.yml
Due: coverage, lint, test, validate

ROSA-745: boilerplate-update after openshift/boilerplate#748
  .github/dependabot.yml
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/subscriber-propose-update
Due: coverage, lint, test, validate

Fix ose-operator-registry Dependabot ignore wildcard
  .github/dependabot.yml
Due: none

ROSA-745: sync dependabot and MintMaker gomod config
  .github/dependabot.yml
  .github/renovate.json
Due: none

ROSA-745: boilerplate-update and dependency automation config
  .github/dependabot.yml
  .github/renovate.json
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/subscriber-propose-update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
Due: coverage, lint, test, validate

Update boilerplate — base image bump, CVE remediation
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/subscriber-propose-update
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/docs/pre-commit.md
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/Dockerfile
Due: e2e-binary-build-success, coverage, lint, test, validate

Removes the etcdMembersDown alert from paging SRE
  controllers/secret_controller.go
Due: coverage, lint, test, validate

boilerplate-update
  .tekton/OWNERS
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/update
Due: coverage, lint, test, validate

ROSA-745: enable MintMaker gomod managers
  .github/renovate.json
Due: none

Set firing to toJson
  controllers/secret_controller.go
Due: coverage, lint, test, validate

Update boilerplate — bump ubi to 9.8-1782797275
  .tekton/configure-alertmanager-operator-agentic-sdlc-check-pull-request.yaml
  OWNERS
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/OWNERS
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/agentic-sdlc-check-pull-request.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

Add firing_json field for structured alert data
  controllers/secret_controller.go
Due: coverage, lint, test, validate

ROSAENG-61679: Update .tekton pipelines for tenant migration to kflux-prd-rh03
  .tekton/configure-alertmanager-operator-master-pull-request.yaml
  .tekton/configure-alertmanager-operator-master-push.yaml
  .tekton/configure-alertmanager-operator-pko-pull-request.yaml
  .tekton/configure-alertmanager-operator-pko-push.yaml
  .tekton/e2e-master-pull-request.yaml
  .tekton/e2e-master-push.yaml
Due: none

ROSAENG-60068: Update boilerplate (adds gangway-bridge template for Prow e2e)
  .tekton/configure-alertmanager-operator-agentic-sdlc-check-pull-request.yaml
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/gangway-bridge-template.yml
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/agentic-sdlc-check-pull-request.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/gangway-bridge-template.yml
Due: e2e-binary-build-success, coverage, lint, test, validate

De-flake e2e tests: standardize timeouts and polling intervals
  boilerplate/_data/last-boilerplate-commit
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/configure_alertmanager_operator_tests.go
Due: e2e-binary-build-success, coverage, lint, test, validate

Revert "Add firing_json field for structured alert data"
  controllers/secret_controller.go
Due: coverage, lint, test, validate
