Repository openshift/configure-alertmanager-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-binary-build-success, coverage, lint, test, validate

ci-operator/config/openshift/configure-alertmanager-operator/openshift-configure-alertmanager-operator-master.yaml:

build_root:
  from_repository: true
images:
- dockerfile_path: build/Dockerfile
  to: unused
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
tests:
- as: e2e-binary-build-success
  commands: |
    make e2e-harness-build
  container:
    from: src
  run_if_changed: ^(test/e2e/.*|go\.mod|go\.sum)$
- as: coverage
  commands: |
    export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
    make coverage
  container:
    from: src
  secret:
    mount_path: /tmp/secret
    name: configure-alertmanager-operator-codecov-token
  skip_if_only_changed: ^(?:\.tekton|\.github)|\.md$|^(?:\.gitignore|OWNERS|LICENSE)$
- as: publish-coverage
  commands: |
    export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
    make coverage
  container:
    from: src
  postsubmit: true
  secret:
    mount_path: /tmp/secret
    name: configure-alertmanager-operator-codecov-token
- as: lint
  commands: make lint
  container:
    from: src
  skip_if_only_changed: ^(?:\.tekton|\.github)|\.md$|^(?:\.gitignore|OWNERS|LICENSE)$
- as: test
  commands: make test
  container:
    from: src
  skip_if_only_changed: ^(?:\.tekton|\.github)|\.md$|^(?:\.gitignore|OWNERS|LICENSE)$
- as: validate
  commands: make validate
  container:
    from: src
  skip_if_only_changed: ^(?:\.tekton|\.github)|\.md$|^(?:\.gitignore|OWNERS|LICENSE)$
zz_generated_metadata:
  branch: master
  org: openshift
  repo: configure-alertmanager-operator

Update boilerplate to v8.3.2
  boilerplate/_data/last-boilerplate-commit
Due: coverage, lint, test, validate

Add namespace scoping to reduce memory usage by 90% (#480)
  LOCAL_TESTING.md
  README.md
  controllers/secret_controller_test.go
  main.go
  test/e2e/configure_alertmanager_operator_tests.go
Due: e2e-binary-build-success, coverage, lint, test, validate

SREP-3490: Add foundation tests and read-only Alertmanager config validation
  test/e2e/configure_alertmanager_operator_tests.go
  test/e2e/utils/utils.go
Due: e2e-binary-build-success, coverage, lint, test, validate

SREP-3491: Add reconciliation and secret update tests
  test/e2e/configure_alertmanager_operator_tests.go
  test/e2e/utils/utils.go
Due: e2e-binary-build-success, coverage, lint, test, validate

Update boilerplate to v8.3.2
  boilerplate/_data/last-boilerplate-commit
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

SREP-3376: Add test coverage for validation and config write operations
  controllers/secret_controller_test.go
Due: coverage, lint, test, validate

SREP-3375: Add resource limits (200m CPU, 1Gi memory) to CAMO deployment (SREP-138)
  deploy/04_operator.yaml
Due: coverage, lint, test, validate

Drop ClusterLogForwarderRuntimeConfigurationMissingUnmatched alerts
  .ci-operator.yaml
  boilerplate/_data/backing-image-tag
  build/Dockerfile
  controllers/secret_controller.go
Due: coverage, lint, test, validate

Update boilerplate to image-v8.3.4
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/olm_pko_migration.py
  boilerplate/openshift/golang-osd-operator/standard.mk
  build/Dockerfile
Due: coverage, lint, test, validate

Add PKO migration manifests and build configuration
  .tekton/configure-alertmanager-operator-pko-pull-request.yaml
  .tekton/configure-alertmanager-operator-pko-push.yaml
  build/Dockerfile.pko
  deploy_pko/Cleanup-OLM-Job.yaml
  deploy_pko/ClusterRole-configure-alertmanager-operator-edit.yaml.gotmpl
  deploy_pko/ClusterRole-configure-alertmanager-operator-view.yaml.gotmpl
  deploy_pko/ClusterRoleBinding-configure-alertmanager-operator-edit.yaml.gotmpl
  deploy_pko/ClusterRoleBinding-configure-alertmanager-operator-view.yaml.gotmpl
  deploy_pko/Deployment-configure-alertmanager-operator.yaml.gotmpl
  deploy_pko/Role-configure-alertmanager-operator.yaml.gotmpl
  deploy_pko/RoleBinding-configure-alertmanager-operator.yaml.gotmpl
  deploy_pko/ServiceAccount-configure-alertmanager-operator.yaml.gotmpl
  deploy_pko/manifest.yaml
  hack/pko/clusterpackage.yaml
Due: coverage, lint, test, validate

Boilerplate: Update to 1a0071d7a38f14322feb79df2b0e5afda4a7d76b
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-operator/Dockerfile.olm-registry
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/olm_pko_migration.py
  boilerplate/openshift/golang-osd-operator/test_olm_pko_migration.py
  build/Dockerfile.olm-registry
  test/e2e/e2e-template.yml
Due: e2e-binary-build-success, coverage, lint, test, validate

Red Hat Konflux update configure-alertmanager-operator-pko
  .tekton/configure-alertmanager-operator-pko-pull-request.yaml
  .tekton/configure-alertmanager-operator-pko-push.yaml
Due: none

Boilerplate: Update ubi-minimal from 9.7-1771346502 to 9.7-1773204619
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

Fix PKO pipeline namespace from configure-alertmanager-operator-tenant to camo-hcm-tenant
  .tekton/configure-alertmanager-operator-pko-pull-request.yaml
  .tekton/configure-alertmanager-operator-pko-push.yaml
Due: none

Reorder PKO phases: cleanup before deploy to prevent collision during OLM→PKO migration
  deploy_pko/manifest.yaml
Due: coverage, lint, test, validate

Boilerplate: Update ubi-minimal from 9.7-1773204619 to 9.7-1773939694
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/olm_pko_migration.py
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

Add missing PKO migration resources and fix deprecated API usage
  deploy_pko/Cleanup-OLM-Job.yaml
  deploy_pko/ClusterRole-configure-alertmanager-operator-edit.yaml.gotmpl
  deploy_pko/ClusterRole-configure-alertmanager-operator-view.yaml.gotmpl
  deploy_pko/ClusterRoleBinding-configure-alertmanager-operator-prom.yaml
  deploy_pko/ClusterRoleBinding-configure-alertmanager-operator-view.yaml.gotmpl
  deploy_pko/Deployment-configure-alertmanager-operator.yaml.gotmpl
  deploy_pko/manifest.yaml
  hack/pko/clusterpackage.yaml
Due: coverage, lint, test, validate

Add direct ClusterPackage template for hive deployment
  hack/pko/clusterpackage-direct.yaml
Due: coverage, lint, test, validate

Add PKO Namespace resource with collision protection
  deploy_pko/Namespace-openshift-monitoring.yaml
Due: coverage, lint, test, validate

Update boilerplate to latest version
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/README.md
  boilerplate/openshift/golang-osd-operator/olm_pko_migration.py
  boilerplate/openshift/golang-osd-operator/standard.mk
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

Make e2e tests deployment-method aware (OLM and PKO support)
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/README.md
  boilerplate/openshift/golang-osd-operator/olm_pko_migration.py
  boilerplate/openshift/golang-osd-operator/standard.mk
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/configure_alertmanager_operator_tests.go
Due: e2e-binary-build-success, coverage, lint, test, validate

test: CodeRabbit integration check [skip ci]
  README.md
Due: none

Add terminationMessagePolicy and required-scc annotation for OCP 4.21 conformance
  deploy/04_operator.yaml
  deploy_pko/Deployment-configure-alertmanager-operator.yaml.gotmpl
Due: coverage, lint, test, validate

chore: update boilerplate to b3f39376547fc3879d582521591053e378df36f9
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/ensure.sh
  boilerplate/openshift/golang-osd-operator/standard.mk
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

chore: update all OLM template SSSs to Upsert
  build/templates/olm-artifacts-template.yaml.tmpl
Due: coverage, lint, test, validate

add: pre-commit hooks golden standard (SREP-4485)
  .claude/commands/pre-commit.md
  .pre-commit-config.yaml
Due: coverage, lint, test, validate

Use version-based cleanup Job naming to prevent immutability errors (#519)
  deploy_pko/.test-fixtures/default/Cleanup-OLM-Job.yaml
  deploy_pko/.test-fixtures/fedramp/Cleanup-OLM-Job.yaml
  deploy_pko/Cleanup-OLM-Job.yaml.gotmpl
  deploy_pko/manifest.yaml
  hack/pko/clusterpackage-direct.yaml
  hack/pko/clusterpackage.yaml
Due: coverage, lint, test, validate

chore(SREP-4482, SREP-4486, SREP-4800): Boilerplate Update for Agentic SDLC Rollout
  .ci-operator.yaml
  .codecov.yml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/.codecov.yml
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/golangci.yml
  boilerplate/openshift/golang-osd-operator/pre-commit-config.yaml
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  fips.go
Due: coverage, lint, test, validate

Update boilerplate: bump ubi-minimal and sync boilerplate files
  .ci-operator.yaml
  .codecov.yml
  .pre-commit-config.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/.codecov.yml
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/golangci.yml
  boilerplate/openshift/golang-osd-operator/pre-commit-config.yaml
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

Update boilerplate
  .ci-operator.yaml
  .codecov.yml
  .pre-commit-config.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/.codecov.yml
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/golangci.yml
  boilerplate/openshift/golang-osd-operator/pre-commit-config.yaml
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

Update boilerplate, bump ubi-minimal to 9.7-1778461551
  .ci-operator.yaml
  .codecov.yml
  .pre-commit-config.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/.codecov.yml
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/golangci.yml
  boilerplate/openshift/golang-osd-operator/pre-commit-config.yaml
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

Add collision-protection and kubeconform validation to PKO manifests
  deploy_pko/.test-fixtures/default/ClusterRole-configure-alertmanager-operator-edit.yaml
  deploy_pko/.test-fixtures/default/ClusterRole-configure-alertmanager-operator-view.yaml
  deploy_pko/.test-fixtures/default/ClusterRoleBinding-configure-alertmanager-operator-edit.yaml
  deploy_pko/.test-fixtures/default/ClusterRoleBinding-configure-alertmanager-operator-prom.yaml
  deploy_pko/.test-fixtures/default/ClusterRoleBinding-configure-alertmanager-operator-view.yaml
  deploy_pko/.test-fixtures/default/Role-configure-alertmanager-operator.yaml
  deploy_pko/.test-fixtures/default/RoleBinding-configure-alertmanager-operator.yaml
  deploy_pko/.test-fixtures/default/ServiceAccount-configure-alertmanager-operator.yaml
  deploy_pko/.test-fixtures/fedramp/ClusterRole-configure-alertmanager-operator-edit.yaml
  deploy_pko/.test-fixtures/fedramp/ClusterRole-configure-alertmanager-operator-view.yaml
  deploy_pko/.test-fixtures/fedramp/ClusterRoleBinding-configure-alertmanager-operator-edit.yaml
  deploy_pko/.test-fixtures/fedramp/ClusterRoleBinding-configure-alertmanager-operator-prom.yaml
  deploy_pko/.test-fixtures/fedramp/ClusterRoleBinding-configure-alertmanager-operator-view.yaml
  deploy_pko/.test-fixtures/fedramp/Role-configure-alertmanager-operator.yaml
  deploy_pko/.test-fixtures/fedramp/RoleBinding-configure-alertmanager-operator.yaml
  deploy_pko/.test-fixtures/fedramp/ServiceAccount-configure-alertmanager-operator.yaml
  deploy_pko/ClusterRole-configure-alertmanager-operator-edit.yaml.gotmpl
  deploy_pko/ClusterRole-configure-alertmanager-operator-view.yaml.gotmpl
  deploy_pko/ClusterRoleBinding-configure-alertmanager-operator-edit.yaml.gotmpl
  deploy_pko/ClusterRoleBinding-configure-alertmanager-operator-prom.yaml
  deploy_pko/ClusterRoleBinding-configure-alertmanager-operator-view.yaml.gotmpl
  deploy_pko/Role-configure-alertmanager-operator.yaml.gotmpl
  deploy_pko/RoleBinding-configure-alertmanager-operator.yaml.gotmpl
  deploy_pko/ServiceAccount-configure-alertmanager-operator.yaml.gotmpl
  deploy_pko/manifest.yaml
Due: coverage, lint, test, validate

Add collision-protection and kubeconform validation to PKO manifests (#520)
  deploy_pko/.test-fixtures/default/ClusterRole-configure-alertmanager-operator-edit.yaml
  deploy_pko/.test-fixtures/default/ClusterRole-configure-alertmanager-operator-view.yaml
  deploy_pko/.test-fixtures/default/ClusterRoleBinding-configure-alertmanager-operator-edit.yaml
  deploy_pko/.test-fixtures/default/ClusterRoleBinding-configure-alertmanager-operator-prom.yaml
  deploy_pko/.test-fixtures/default/ClusterRoleBinding-configure-alertmanager-operator-view.yaml
  deploy_pko/.test-fixtures/default/Role-configure-alertmanager-operator.yaml
  deploy_pko/.test-fixtures/default/RoleBinding-configure-alertmanager-operator.yaml
  deploy_pko/.test-fixtures/default/ServiceAccount-configure-alertmanager-operator.yaml
  deploy_pko/.test-fixtures/fedramp/ClusterRole-configure-alertmanager-operator-edit.yaml
  deploy_pko/.test-fixtures/fedramp/ClusterRole-configure-alertmanager-operator-view.yaml
  deploy_pko/.test-fixtures/fedramp/ClusterRoleBinding-configure-alertmanager-operator-edit.yaml
  deploy_pko/.test-fixtures/fedramp/ClusterRoleBinding-configure-alertmanager-operator-prom.yaml
  deploy_pko/.test-fixtures/fedramp/ClusterRoleBinding-configure-alertmanager-operator-view.yaml
  deploy_pko/.test-fixtures/fedramp/Role-configure-alertmanager-operator.yaml
  deploy_pko/.test-fixtures/fedramp/RoleBinding-configure-alertmanager-operator.yaml
  deploy_pko/.test-fixtures/fedramp/ServiceAccount-configure-alertmanager-operator.yaml
  deploy_pko/ClusterRole-configure-alertmanager-operator-edit.yaml.gotmpl
  deploy_pko/ClusterRole-configure-alertmanager-operator-view.yaml.gotmpl
  deploy_pko/ClusterRoleBinding-configure-alertmanager-operator-edit.yaml.gotmpl
  deploy_pko/ClusterRoleBinding-configure-alertmanager-operator-prom.yaml
  deploy_pko/ClusterRoleBinding-configure-alertmanager-operator-view.yaml.gotmpl
  deploy_pko/Role-configure-alertmanager-operator.yaml.gotmpl
  deploy_pko/RoleBinding-configure-alertmanager-operator.yaml.gotmpl
  deploy_pko/ServiceAccount-configure-alertmanager-operator.yaml.gotmpl
  deploy_pko/manifest.yaml
Due: coverage, lint, test, validate

Update boilerplate, base images, and fix minor lint errors (prealloc, nilerr, unconvert, gofmt)
  .claude/commands/pre-commit.md
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  build/Dockerfile
  build/Dockerfile.olm-registry
  controllers/secret_controller.go
  controllers/secret_controller_test.go
  pkg/readiness/cluster_ready.go
Due: coverage, lint, test, validate

Fix nolintlint errors by removing unused prealloc pragmas
  controllers/secret_controller.go
  controllers/secret_controller_test.go
Due: coverage, lint, test, validate

chore: lower codecov patch target to 10% as current UT coverage is low
  .codecov.yml
Due: coverage, lint, test, validate

Revert "chore: lower codecov patch target to 10% as current UT coverage is low"
  .codecov.yml
Due: coverage, lint, test, validate
