Repository openshift/configure-alertmanager-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-binary-build-success, coverage, lint, test, validate

ci-operator/config/openshift/configure-alertmanager-operator/openshift-configure-alertmanager-operator-master.yaml:

build_root:
  from_repository: true
images:
- dockerfile_path: build/Dockerfile
  to: unused
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
tests:
- as: e2e-binary-build-success
  commands: |
    make e2e-harness-build
  container:
    from: src
  run_if_changed: ^(test/e2e/.*|go\.mod|go\.sum)$
- as: coverage
  commands: |
    export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
    make coverage
  container:
    from: src
  secret:
    mount_path: /tmp/secret
    name: configure-alertmanager-operator-codecov-token
  skip_if_only_changed: ^(?:\.tekton|\.github)|\.md$|^(?:\.gitignore|OWNERS|LICENSE)$
- as: publish-coverage
  commands: |
    export CODECOV_TOKEN=$(cat /tmp/secret/CODECOV_TOKEN)
    make coverage
  container:
    from: src
  postsubmit: true
  secret:
    mount_path: /tmp/secret
    name: configure-alertmanager-operator-codecov-token
- as: lint
  commands: make lint
  container:
    from: src
  skip_if_only_changed: ^(?:\.tekton|\.github)|\.md$|^(?:\.gitignore|OWNERS|LICENSE)$
- as: test
  commands: make test
  container:
    from: src
  skip_if_only_changed: ^(?:\.tekton|\.github)|\.md$|^(?:\.gitignore|OWNERS|LICENSE)$
- as: validate
  commands: make validate
  container:
    from: src
  skip_if_only_changed: ^(?:\.tekton|\.github)|\.md$|^(?:\.gitignore|OWNERS|LICENSE)$
zz_generated_metadata:
  branch: master
  org: openshift
  repo: configure-alertmanager-operator

bp update
  .ci-operator.yaml
  .github/dependabot.yml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/generated-includes.mk
  boilerplate/openshift/golang-osd-e2e/OWNERS
  boilerplate/openshift/golang-osd-e2e/README.md
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-e2e/project.mk
  boilerplate/openshift/golang-osd-e2e/standard.mk
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/ensure.sh
  boilerplate/openshift/golang-osd-operator/prow-config
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/openshift/golang-osd-operator/update
  boilerplate/update.cfg
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/README.md
  test/e2e/e2e-template.yml
Due: e2e-binary-build-success, coverage, lint, test, validate

SREP-1094: bump ubi version
  build/Dockerfile
Due: coverage, lint, test, validate

SREP-1094: Bump ubi to 8.10-1752068421 for olm-registry
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

SREP-1094: Bump ubi to 8.10-1752564239
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

SREP-1094: Boilerplate update
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/update
  test/e2e/e2e-template.yml
Due: e2e-binary-build-success, coverage, lint, test, validate

SREP-1094: bump ubi version (#425)
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/e2e-template.yml
Due: e2e-binary-build-success, coverage, lint, test, validate

OSD-30796: adding renovate config changes
  .github/renovate.json
Due: none

SREP-1553 CVE updates
  build/Dockerfile
  build/Dockerfile.olm-registry
  go.mod
  go.sum
  main.go
Due: e2e-binary-build-success, coverage, lint, test, validate

SREP-1553 Boilerplate update to address recent CVEs
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/Dockerfile.olm-registry
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/build-opm-catalog.sh
  boilerplate/openshift/golang-osd-operator/rvmo-bundle.sh
  boilerplate/openshift/golang-osd-operator/update
  boilerplate/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/Dockerfile
  test/e2e/e2e-template.yml
Due: e2e-binary-build-success, coverage, lint, test, validate

SREP-1553: Clean up go.mod replaces
  go.mod
Due: e2e-binary-build-success, coverage, lint, test, validate

Update konflux refs
  .tekton/e2e-master-pull-request.yaml
  .tekton/e2e-master-push.yaml
Due: none

SREP-1553: Update boilerplate
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/Dockerfile.olm-registry
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

Boilerplate update
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/Dockerfile.olm-registry
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/build-opm-catalog.sh
  boilerplate/openshift/golang-osd-operator/rvmo-bundle.sh
  boilerplate/openshift/golang-osd-operator/update
  boilerplate/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/Dockerfile
  test/e2e/e2e-template.yml
Due: e2e-binary-build-success, coverage, lint, test, validate

Remove Dockerfile.konflux references
  .tekton/e2e-master-pull-request.yaml
  .tekton/e2e-master-push.yaml
  test/e2e/Dockerfile.konflux
Due: e2e-binary-build-success, coverage, lint, test, validate

Boilerplate update with KONFLUX_BUILDS enabled
  test/e2e/Dockerfile
Due: e2e-binary-build-success, coverage, lint, test, validate

Boilerplate: Update to 69aeedc6c9b74626dc9531331dd4fe192ca13b9a
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/Dockerfile.olm-registry
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/build-opm-catalog.sh
  boilerplate/openshift/golang-osd-operator/rvmo-bundle.sh
  boilerplate/openshift/golang-osd-operator/update
  boilerplate/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/Dockerfile
  test/e2e/e2e-template.yml
Due: e2e-binary-build-success, coverage, lint, test, validate

Boilerplate: Update to 3899d83db492a6f11e689f784eb95c3839da156e
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/Dockerfile.olm-registry
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/build-opm-catalog.sh
  boilerplate/openshift/golang-osd-operator/prow-config
  boilerplate/openshift/golang-osd-operator/rvmo-bundle.sh
  boilerplate/openshift/golang-osd-operator/update
  boilerplate/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/Dockerfile
  test/e2e/e2e-template.yml
Due: e2e-binary-build-success, coverage, lint, test, validate

OSD-31047: Update boilerplate and on-cel-expression
  .tekton/configure-alertmanager-operator-master-pull-request.yaml
  .tekton/configure-alertmanager-operator-master-push.yaml
  .tekton/e2e-master-pull-request.yaml
  .tekton/e2e-master-push.yaml
Due: none

OSD-31047: Update Dockerfile reference
  .tekton/e2e-master-pull-request.yaml
  .tekton/e2e-master-push.yaml
Due: none

OSD-31047: Keeping the on-cel that can be fixed after boilerplate update
  .tekton/e2e-master-pull-request.yaml
  .tekton/e2e-master-push.yaml
Due: none

SREP-810: Update OWNERs with team-rocket
  OWNERS
Due: none

SREP-1553 Boilerplate update to address recent CVEs
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

SREP-1553: Update boilerplate
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

Boilerplate: Update to e2642d860eef3a25aae11711225bd01da694bdd7
  Makefile
  boilerplate/_data/last-boilerplate-commit
  test/e2e/Dockerfile
Due: e2e-binary-build-success, coverage, lint, test, validate

OSD-31047: Removing the on-cel-expression
  .tekton/e2e-master-pull-request.yaml
  .tekton/e2e-master-push.yaml
Due: none

Add CLAUDE.md documentation
  CLAUDE.md
Due: none

Update boilerplate
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
Due: coverage, lint, test, validate

Remove fahlmant
  OWNERS
Due: none

e2etests, allow camo CSV checks to tolerate 1 transient failed request.
  test/e2e/configure_alertmanager_operator_tests.go
Due: e2e-binary-build-success, coverage, lint, test, validate

Boilerplate: Update to d7285a904eda6cf842ddff8c648dedb223934a75
  .tekton/configure-alertmanager-operator-master-pull-request.yaml
  .tekton/configure-alertmanager-operator-master-push.yaml
  .tekton/e2e-master-pull-request.yaml
  .tekton/e2e-master-push.yaml
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/migrate_build_pipeline.py
  boilerplate/openshift/golang-osd-operator/update
Due: coverage, lint, test, validate

Boilerplate update
  boilerplate/_data/last-boilerplate-commit
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: coverage, lint, test, validate

e2etests, allow camo CSV checks to tolerate 1 transient failed request. (#451)
  test/e2e/configure_alertmanager_operator_tests.go
Due: e2e-binary-build-success, coverage, lint, test, validate

Remove Hector Kemp from OWNERS
  OWNERS
Due: none
