Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-25
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-25.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3412 a42 test case update
  test-cases/tests/installation/a42-rhoam-on-byovpc-cluster.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-3484 update TCs due to jenkins migration
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/installation/a17a-verify-the-go-functional-tests-were-successful.md
  test-cases/tests/installation/a17b-verify-the-go-functional-tests-were-successful.md
  test-cases/tests/installation/a31-verify-installation-on-all-osd-versions.md
  test-cases/tests/installation/a37-rhoam-on-rosa.md
  test-cases/tests/installation/a38-installation-verify-rhoam-on-nonbyoc-cluster.md
  test-cases/tests/installation/a39-installation-verify-rhoam-on-private-cluster.md
  test-cases/tests/installation/a40-rhoam-on-osd-trial.md
  test-cases/tests/installation/a42-rhoam-on-byovpc-cluster.md
  test-cases/tests/performance/k01-run-performance-test-against-amq-online.md
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
Due: test-cases-lint, ci/prow/test-cases-lint

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-26
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-26.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3496 move to oo 3.0.9
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/index.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

allow 1.18 on 4.10
  bundles/managed-api-service/1.18.0/manifests/managed-api-service.clusterserviceversion.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

updates
  bundles/managed-api-service/1.18.0/manifests/managed-api-service.clusterserviceversion.yaml
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/three_scale_client.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-27
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-27.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-29
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-29.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-30
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-30.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.18.2-rc1
  Makefile
  bundles/managed-api-service/1.18.2/bundle.Dockerfile
  bundles/managed-api-service/1.18.2/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.18.2/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.18.2/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.18.2/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.18.2/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.18.2/metadata/annotations.yaml
  bundles/managed-api-service/1.18.2/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.18.2/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

support 4.10
  bundles/managed-api-service/1.18.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.18.2/manifests/managed-api-service.clusterserviceversion.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3209 force merge for cpaas
  README.md
Due: none

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-32
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-32.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-33
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-33.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.3)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.2-10
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.2-10.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

added automated tag to the test case
  test-cases/tests/authorization/b04b-verify-dedicated-admin-user-permissions-are-correct.md
Due: test-cases-lint, ci/prow/test-cases-lint

Update b04b-verify-dedicated-admin-user-permissions-are-correct.md
  test-cases/tests/authorization/b04b-verify-dedicated-admin-user-permissions-are-correct.md
Due: test-cases-lint, ci/prow/test-cases-lint

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-34
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-34.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-35
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-35.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3552 bump version of CRO in RHOAM to v0.37.0
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-cloud-resources/0.37.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.37.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.37.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.37.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.37.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.37.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.37.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.37.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.1)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.1-20
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.1-20.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

error handling on WriteConfig()
  pkg/products/apicurito/reconciler.go
  pkg/products/fuse/reconciler.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/reconciler.go
  pkg/products/monitoringspec/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/solutionexplorer/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/products/ups/reconciler.go
  pkg/products/ups/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix(MGDAPI-2984): update category annotation to something required by CVP linting job
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-2892 - fix tests - suite_test.go
  test/e2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: test-cases: plan for v1.14.0
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
Due: test-cases-lint, ci/prow/test-cases-lint

test: update guide for using polarion tooling
  test-cases/README.md
Due: test-cases-lint, ci/prow/test-cases-lint

fix: update kuttl image version
  config/scorecard/patches/kuttl.config.yaml
Due: none
