Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-3229 - Update 3scale bundle (0.11.6-mas)
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.6-mas/3scale-operator.v0.11.6-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5764 - Removed all instances of local-rhoam-operator from integreatly codespace
  envs/managed-api.env
  envs/multitenant-managed-api.env
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5730 updating to ClusterPackage
  Makefile
Due: none

MGDAPI-5764 - removed all instances of local-rhoam-operator
  envs/managed-api.env
  envs/multitenant-managed-api.env
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-5695 - remove unused federated metrics
  test-cases/tests/installation/a41-verify-migration-to-observability-operator-was-successful.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-5790 Test case updates for RHOAM v1.37.0
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/installation/a45-rhoam-on-rosa-byovpc-privatelink.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-3584 - e2e: A43 - update quota via ocm for addon installs
  test/common/quota.go
  test/go.mod
  test/go.sum
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5768 bump marin3r to v0.12.0
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  go.work.sum
  manifests/integreatly-marin3r/0.12.0/marin3r-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-marin3r/0.12.0/marin3r-manager-config_v1_configmap.yaml
  manifests/integreatly-marin3r/0.12.0/marin3r-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-marin3r/0.12.0/marin3r-webhook-service_v1_service.yaml
  manifests/integreatly-marin3r/0.12.0/marin3r.3scale.net_envoyconfigrevisions.yaml
  manifests/integreatly-marin3r/0.12.0/marin3r.3scale.net_envoyconfigs.yaml
  manifests/integreatly-marin3r/0.12.0/marin3r.clusterserviceversion.yaml
  manifests/integreatly-marin3r/0.12.0/operator.marin3r.3scale.net_discoveryservicecertificates.yaml
  manifests/integreatly-marin3r/0.12.0/operator.marin3r.3scale.net_discoveryservices.yaml
  manifests/integreatly-marin3r/0.12.0/operator.marin3r.3scale.net_envoydeployments.yaml
  manifests/integreatly-marin3r/marin3r.package.yaml
  products/products.yaml
  test/go.mod
  test/go.sum
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5783 refactored some of the e2e tests for OBO
  Makefile
  test/common/routes_exist.go
  test/common/shared_functions.go
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
  test/osde2e/managed_api_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5811 fix the csv locator function
  controllers/subscription/csvlocator/csvlocator.go
  controllers/subscription/csvlocator/csvlocator_test.go
Due: none

MGDAPI-5764 - removed all instances of local-rhoam-operator
  Makefile
  README.md
  config/rbac-local-rhoam/kustomization.yaml
  config/rbac-local-rhoam/patches/auth_proxy_role_binding.yaml
  config/rbac-local-rhoam/patches/leader_election_role_binding.yaml
  config/rbac-local-rhoam/patches/role_binding.yaml
  envs/managed-api.env
  envs/multitenant-managed-api.env
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5834 - bump redis engine 6.2
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3481 - e2e: automate A33 test case
  controllers/rhmi/bootstrapReconciler.go
  scripts/setup-sso-idp.sh
  test-cases/tests/installation/a33-validate-console-links.md
  test/common/console_links.go
  test/common/tests.go
  utils/console.go
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-4480 Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-5780 - remove code for Probes creation
  pkg/products/grafana/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/probes.go
  pkg/resources/probes_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5780 - clean up Makefile
  Makefile
Due: none

MGDAPI-5728 refactor alert manager secret creation
  controllers/rhmi/bootstrapReconciler.go
  pkg/config/obo.go
  pkg/config/observability.go
  pkg/products/monitoringcommon/alertmanagerConfig.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/products/observability/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/smtp.go
  pkg/resources/smtp_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4533 prepare for multitenant release rhoam-v1.37.0
  bundles/multitenant-managed-api-service/1.37.0/bundle.Dockerfile
  bundles/multitenant-managed-api-service/1.37.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.37.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.37.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.37.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.37.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.37.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.37.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3209 prepare for release rhoam-v1.38.0
  Makefile
  bundles/managed-api-service/1.38.0/bundle.Dockerfile
  bundles/managed-api-service/1.38.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.38.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.38.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.38.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.38.0/metadata/annotations.yaml
  bundles/managed-api-service/1.38.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e
