Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-1729 - Consume addon parameter for the STS role in RHOAM and pass it to CRO
  Makefile
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  config/rbac/role.yaml
  config/secrets/addon-params-secret.yaml
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2656 - refactor: sts auth check if operator is running locally or in a cluster
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/resources/sts/sts.go
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2657 - feat: allow backup restore script to get AWS key locally for sts support
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test/scripts/backup-restore/j05-verify-3scale-postgres-backup-and-restore.sh
  test/scripts/backup-restore/j07-verify-rhsso-backup-and-restore.sh
  test/scripts/backup-restore/j08-verify-user-sso-backup-and-restore.sh
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-1728 - refactor and tests
  Makefile
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/resources/sts/sts.go
  pkg/resources/sts/sts_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2656 - refactor: update e2e test config for sts auth
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3806 - refactor: get role arn from env var on sts clusters
  Makefile
  config/secrets/addon-params-secret.yaml
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/sts/sts.go
  pkg/resources/sts/sts_test.go
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3582 - add checks for tags in e2e
  test/functional/aws_elasticache_resources_exist.go
  test/functional/aws_rds_resources_exist.go
  test/functional/aws_s3_resources_exist.go
  test/functional/aws_shared_functions.go
  test/functional/aws_standalone_vpc.go
  test/functional/aws_strategy_override.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1727 remove arn checks from feature branch for sts
  controllers/rhmi/rhmi_controller.go
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1727 add unit tests and rename functions
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4412 - add cro v0.41.0
  apis/v1alpha1/rhmi_types.go
  go.mod
  manifests/integreatly-cloud-resources/0.41.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.41.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.41.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.41.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.41.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.41.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.41.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.41.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4412 - vendor changes
  go.sum
  vendor/github.com/integr8ly/cloud-resource-operator/apis/config/v1/zz_generated.deepcopy.go
  vendor/github.com/integr8ly/cloud-resource-operator/apis/integreatly/v1alpha1/types/types.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/cluster_network_provider.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/credentials_sts_manager.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_redis.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/versions.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4412 - revert MGDAPI-4388
  pkg/products/marin3r/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/resources/waitForResources.go
  pkg/resources/waitForResources_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4644 move to next account for any error
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4644 fixed formatting
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4486 : update metrics
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  main.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/resources/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4486 : update metrics to PR comments
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  docs/Testing_Alerts.md
  pkg/metrics/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4486 : Add docs to create trigger alerts
  docs/Testing_Alerts.md
Due: none

MGDAPI-4486 : Update alerts to match steps in sop
  pkg/products/observability/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4638 address feedback
  pkg/resources/sts/sts.go
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-4638 address feedback @MStokluska
  Makefile
  bundles/managed-api-service/1.27.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.27.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.27.0/manifests/managed-api-service.clusterserviceversion.yaml
  config/secrets/addon-params-secret.yaml
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/resources/sts/sts.go
  pkg/resources/sts/sts_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.1)
  apis/v1alpha1/rhmi_types.go
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.9.1/3scale-operator.v0.9.1.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.1/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.9.1/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.9.1/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.9.1/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.9.1/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4649 - Update 3scale manifests (0.9.1)
  apis/v1alpha1/rhmi_types.go
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.9.1/3scale-operator.v0.9.1.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.1/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.9.1/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.9.1/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.9.1/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.9.1/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4638 address feedback @laurafitzgerald
  Makefile
  config/secrets/addon-params-secret.yaml
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-4663 update link in e2e test
  test/common/verify_alert_links_to_SOPs.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4650 edited test to use it with Gitlab, because SOPs were moved there
  test/common/verify_alert_links_to_SOPs.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4654 : Move and rename file
  docs/tests/testing_alerts.md
  mkdocs.yml
Due: none

MGDAPI-4388 - fix: wait for rhsso postgres to be completed before continuing other cloud resources
  pkg/products/marin3r/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/resources/waitForResources.go
  pkg/resources/waitForResources_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1727 remove arn checks from feature branch for sts
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1727 change logic to use the default flow for CRO ns Creation
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4488 : Adding Telemetry Rules
  controllers/rhmi/prometheusRules.go
Due: none

MGDAPI-4560 Cleaned up APIManagementTenant metrics and enhanced APIManagementTenantCRFailed alert
  controllers/rhmi/bootstrapReconciler.go
  main.go
  pkg/metrics/metrics.go
  pkg/products/monitoringcommon/dashboards/multitenancyDetailed.go
  pkg/products/observability/prometheusRules.go
  pkg/resources/sop_url.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 patch install delayed alert
  controllers/rhmi/prometheusRules.go
Due: none
