Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-3412 rollback 3scale operator to 0.8.2 for cpaas
  products/installation-cpaas.yaml
Due: none

MGDAPI-3412 sync 3scale back to 0.8.3 for cpaas
  products/installation-cpaas.yaml
Due: none

MGDAPI-3412 rollback again to 0.8.2
  products/installation-cpaas.yaml
Due: none

MGDAPI-3412 bump back to 0.8.3
  products/installation-cpaas.yaml
Due: none

MGDAPI-3745 / Added threshold and ignore to codecov
  .codecov.yml
Due: none

Update 3scale manifests (0.9.0)
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1367 Allow for workload App
  test/common/dashboards_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3412 test3
  config/scorecard/kustomization.yaml
  products/installation-cpaas.yaml
Due: none

updating various OWNERS files
  OWNERS
  openshift-ci/OWNERS
  scripts/ci/OWNERS
  test-cases/OWNERS
  test/OWNERS
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-3695 Add rhoam_alerts metric
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  main.go
  pkg/metrics/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3695 Add rhoam_cluster metric
  controllers/rhmi/rhmi_controller.go
  main.go
  pkg/metrics/metrics.go
  pkg/resources/cluster.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3695 Update rhoam_version metric
  pkg/metrics/metrics.go
  pkg/resources/metrics.go
  pkg/resources/metrics_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.3+0.1649688682.p)
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-3scale/image_mirror_mapping
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/manifests/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/manifests/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.2-9.1649688689
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.2-9.1649688689.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.3+0.1649688682.p)
  manifests/integreatly-3scale/0.8.3+0.1649688682.p/3scale-operator.v0.8.3-0.1649688682.p.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.8.3+0.1649688682.p/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.8.3+0.1649688682.p/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.8.3+0.1649688682.p/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.8.3+0.1649688682.p/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.8.3+0.1649688682.p/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.8.3+0.1649688682.p/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.8.3+0.1649688682.p/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.8.3+0.1649688682.p/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.8.3+0.1649688682.p/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.8.3+0.1649688682.p/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.8.3+0.1649688682.p/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.8.3+0.1649688682.p/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.8.3+0.1649688682.p/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2890 - Upgrade keycloak-operator to v17.0.0
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-rhsso/17.0.0/keycloak-operator.v17.0.0.clusterserviceversion.yaml
  manifests/integreatly-rhsso/17.0.0/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/17.0.0/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/17.0.0/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/17.0.0/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/17.0.0/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/rhsso.package.yaml
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/reconciler.go
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2890 - Bump keycloak-operator in go.mod
  go.mod
  go.sum
  pkg/products/rhsso/reconciler.go
  vendor/github.com/keycloak/keycloak-operator/pkg/apis/keycloak/v1alpha1/keycloak_types.go
  vendor/github.com/keycloak/keycloak-operator/pkg/apis/keycloak/v1alpha1/keycloakclient_types.go
  vendor/github.com/keycloak/keycloak-operator/pkg/apis/keycloak/v1alpha1/keycloakrealm_types.go
  vendor/github.com/keycloak/keycloak-operator/pkg/apis/keycloak/v1alpha1/util.go
  vendor/github.com/keycloak/keycloak-operator/pkg/apis/keycloak/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/keycloak/keycloak-operator/pkg/apis/keycloak/v1alpha1/zz_generated.openapi.go
  vendor/github.com/keycloak/keycloak-operator/pkg/common/auto_detect.go
  vendor/github.com/keycloak/keycloak-operator/pkg/common/client.go
  vendor/github.com/keycloak/keycloak-operator/pkg/common/client_state.go
  vendor/github.com/keycloak/keycloak-operator/pkg/common/cluster_actions.go
  vendor/github.com/keycloak/keycloak-operator/pkg/common/cluster_state.go
  vendor/github.com/keycloak/keycloak-operator/pkg/model/client_secret.go
  vendor/github.com/keycloak/keycloak-operator/pkg/model/constants.go
  vendor/github.com/keycloak/keycloak-operator/pkg/model/database_secret.go
  vendor/github.com/keycloak/keycloak-operator/pkg/model/image_manager.go
  vendor/github.com/keycloak/keycloak-operator/pkg/model/keycloak_deployment.go
  vendor/github.com/keycloak/keycloak-operator/pkg/model/keycloak_ingress.go
  vendor/github.com/keycloak/keycloak-operator/pkg/model/postgresql_service.go
  vendor/github.com/keycloak/keycloak-operator/pkg/model/rhsso_deployment.go
  vendor/github.com/keycloak/keycloak-operator/pkg/model/util.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

Added install command for gosec and added make command to exclude uncompleted jiras
  Makefile
  openshift-ci/Dockerfile.tools
  openshift-ci/test/run
Due: none

MGDAPI-3806 - refactor: get role arn from env var on sts clusters
  pkg/resources/sts/sts.go
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-71
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-71.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3412 move 3scale CPaaS back to 0.8.0
  products/installation-cpaas.yaml
Due: none

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-74
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-74.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3788 H22 bug fix
  test/scripts/products/h22-validate-that-rate-limit-service-is-working-as-expected/h22-validate-that-rate-limit-service-is-working-as-expected.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.20.0-rc1
  bundles/managed-api-service/1.20.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3637 Added new metrics and dashboard for multitenant installations.
  controllers/rhmi/bootstrapReconciler.go
  main.go
  pkg/config/monitoring.go
  pkg/config/observability.go
  pkg/metrics/metrics.go
  pkg/products/monitoringcommon/dashboardHelper.go
  pkg/products/monitoringcommon/dashboards/multitenancyDetailed.go
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-75
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-75.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-76
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-76.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-81
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-81.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-83
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-83.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3637 Added unit tests.
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3830 update smtp from logic
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3637 Removed commented out Resets
  pkg/metrics/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
