Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-4942 change hive.openshift.io/managed label to rhoam.addon.install/managed
  pkg/addon/operator_run.go
  pkg/addon/operator_run_test.go
  pkg/products/observability/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4894 Updated H24 custom policy test case
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/test.sh
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-4706 - csv: add missing permissions
  bundles/managed-api-service/1.30.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-4598 : addressing PR comments
  pkg/products/marin3r/rateLimitService.go
  pkg/products/threescale/asserts_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/three_scale_client.go
  pkg/resources/marketplace/manifestHelper.go
  test/common/3scale_smtp.go
  test/e2e/suite_test.go
  test/resources/3scale_api.go
  test/resources/openshift_api.go
  test/scripts/products/h22-validate-that-rate-limit-service-is-working-as-expected/h22-validate-that-rate-limit-service-is-working-as-expected.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Dummy : to check e2e test are run on PRs
  README.md
Due: none

MGDAPI-4810 initial refactor to suit make vendor/fix after bumped dependencies
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  controllers/subscription/csvlocator/csvlocator.go
  controllers/subscription/csvlocator/csvlocator_test.go
  controllers/subscription/rhmiConfigs/main.go
  controllers/subscription/rhmiConfigs/main_test.go
  controllers/subscription/subscription_controller.go
  go.mod
  go.sum
  pkg/addon/operator_run.go
  pkg/addon/operator_run_test.go
  pkg/addon/parameters.go
  pkg/addon/parameters_test.go
  pkg/addon/uninstall.go
  pkg/client/sigs_client_moq.go
  pkg/client/sigs_clientset.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/asserts_test.go
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/objects_test.go
  pkg/resources/catalogsource/catalogsource_client.go
  pkg/resources/catalogsource/catalogsource_client_mock.go
  pkg/resources/installPlan.go
  pkg/resources/marketplace/MarketplaceManager_moq.go
  pkg/resources/marketplace/configmap_catalog_source_reconciler.go
  pkg/resources/marketplace/configmap_catalog_source_reconciler_test.go
  pkg/resources/marketplace/grpc_image_catalog_source_reconciler.go
  pkg/resources/marketplace/implicit_catalog_source_reconciler.go
  pkg/resources/marketplace/manager.go
  pkg/resources/reconciler.go
  test/common/selfmanaged_apicast.go
  test/common/shared_functions.go
  test/common/subscription_install_plan.go
  test/e2e/suite_test.go
  test/functional/suite_test.go
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/h24-verify-selfmanaged-apicast-and-custom-policy.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 fix e2e tests
  test/common/deployment_types.go
  test/common/multitenancy.go
  test/common/network_policy_access_ns_to_svc.go
  test/common/quota.go
  test/common/shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 bump marin3r operator to 0.11.0
  go.mod
  go.sum
  manifests/integreatly-marin3r/0.11.0/marin3r-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-marin3r/0.11.0/marin3r-manager-config_v1_configmap.yaml
  manifests/integreatly-marin3r/0.11.0/marin3r-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-marin3r/0.11.0/marin3r-webhook-service_v1_service.yaml
  manifests/integreatly-marin3r/0.11.0/marin3r.3scale.net_envoyconfigrevisions.yaml
  manifests/integreatly-marin3r/0.11.0/marin3r.3scale.net_envoyconfigs.yaml
  manifests/integreatly-marin3r/0.11.0/marin3r.clusterserviceversion.yaml
  manifests/integreatly-marin3r/0.11.0/operator.marin3r.3scale.net_discoveryservicecertificates.yaml
  manifests/integreatly-marin3r/0.11.0/operator.marin3r.3scale.net_discoveryservices.yaml
  manifests/integreatly-marin3r/0.11.0/operator.marin3r.3scale.net_envoydeployments.yaml
  manifests/integreatly-marin3r/marin3r.package.yaml
  products/products.yaml
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 fix unit tests
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  controllers/rhmi/bootstrapReconciler_test.go
  controllers/subscription/csvlocator/csvlocator_test.go
  controllers/subscription/rhmiConfigs/main_test.go
  controllers/subscription/subscription_controller_test.go
  go.mod
  go.sum
  pkg/addon/operator_run_test.go
  pkg/addon/parameters_test.go
  pkg/client/sigs_client_moq.go
  pkg/client/sigs_clientset.go
  pkg/products/Reconciler_moq.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/products/observability/reconciler_test.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/asserts_test.go
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/catalogsource/catalogsource_client.go
  pkg/resources/catalogsource/catalogsource_client_mock.go
  pkg/resources/cluster_test.go
  pkg/resources/custom-domain/custom-domain_test.go
  pkg/resources/marketplace/MarketplaceManager_moq.go
  pkg/resources/marketplace/configmap_catalog_source_reconciler.go
  pkg/resources/marketplace/configmap_catalog_source_reconciler_test.go
  pkg/resources/marketplace/grpc_image_catalog_source_reconciler_test.go
  pkg/resources/marketplace/manager.go
  pkg/resources/poddistribution/poddistribution_test.go
  pkg/resources/prometheusRules_test.go
  pkg/resources/pullSecret_test.go
  pkg/resources/reconciler_test.go
  pkg/resources/rhsso_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 update controllers
  controllers/namespacelabel/enqueue.go
  controllers/namespacelabel/namespacelabel_controller.go
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/enqueueIntegreatlyOwner.go
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/watch.go
  controllers/subscription/csvlocator/csvlocator.go
  controllers/subscription/rhmiConfigs/main.go
  controllers/subscription/subscription_controller.go
  controllers/tenant/apimanagementtenant_controller.go
  controllers/user/user_controller.go
Due: none

MGDAPI-4810 further updates to e2e
  test/common/multitenancy.go
  test/common/selfmanaged_apicast.go
  test/common/subscription_install_plan.go
  test/e2e/suite_test.go
  test/functional/suite_test.go
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/h24-verify-selfmanaged-apicast-and-custom-policy.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 3scale reconciler updates
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 rebase
  controllers/rhmi/bootstrapReconciler_test.go
  pkg/addon/parameters_test.go
  pkg/products/grafana/reconciler.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/custom-domain/custom-domain_test.go
  pkg/resources/marketplace/configmap_catalog_source_reconciler_test.go
  pkg/resources/marketplace/grpc_image_catalog_source_reconciler_test.go
  pkg/resources/poddistribution/poddistribution_test.go
  pkg/resources/prometheusRules_test.go
  pkg/resources/pullSecret_test.go
  pkg/resources/rhsso_test.go
  pkg/resources/sts/sts_test.go
  test/common/grafana_routes.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 bump marin3r and edit to grafana file naming
  manifests/integreatly-grafana/4.2.0/grafana-operator.v4.2.0.clusterserviceversion.yaml
  manifests/integreatly-marin3r/0.11.0/marin3r.3scale.net_envoyconfigrevisions_crd.yaml
  manifests/integreatly-marin3r/0.11.0/marin3r.3scale.net_envoyconfigs_crd.yaml
  manifests/integreatly-marin3r/0.11.0/marin3r.v0.11.0.clusterserviceversion.yaml
  manifests/integreatly-marin3r/0.11.0/operator.marin3r.3scale.net_discoveryservicecertificates_crd.yaml
  manifests/integreatly-marin3r/0.11.0/operator.marin3r.3scale.net_discoveryservices_crd.yaml
  manifests/integreatly-marin3r/0.11.0/operator.marin3r.3scale.net_envoydeployments_crd.yaml
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/reconciler.go
  pkg/resources/ratelimit/envoy.go
  pkg/resources/ratelimit/envoyconfig.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 revert to some of the imports and small updates to files
  pkg/addon/operator_run.go
  pkg/addon/parameters.go
  pkg/addon/uninstall.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/grafana/reconciler.go
  pkg/products/monitoringspec/reconciler.go
  pkg/products/observability/reconciler.go
  pkg/products/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/resources/backup/aws.go
  pkg/resources/finalizers.go
  pkg/resources/installPlan.go
  pkg/resources/k8s/objectQueries.go
  pkg/resources/marketplace/grpc_image_catalog_source_reconciler.go
  pkg/resources/marketplace/implicit_catalog_source_reconciler.go
  pkg/resources/podTemplate.go
  pkg/resources/poddistribution/poddistribution.go
  pkg/resources/reconciler.go
  pkg/resources/sts/sts_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 update to makefile
  Makefile
Due: none

MGDAPI-4810 bump CRO to 0.42.0
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-cloud-resources/0.42.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.42.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.42.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.42.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.42.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.42.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.42.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.42.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 remove other packages that are not supported on 4.12
  pkg/resources/backup.go
  pkg/resources/backup/cronjob.go
  pkg/resources/backup/cronjob_test.go
  test/utils/scheme.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 bump marin3r version in apis and additional images
  apis/v1alpha1/rhmi_types.go
  products/additional-images.yaml
Due: none

MGDAPI-4810 add pdbs in keycloak and updated rbacs to support working with probes
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 address comments p1
  Makefile
  controllers/tenant/apimanagementtenant_controller.go
  controllers/user/user_controller.go
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/reconciler.go
  pkg/resources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 bump OO
  go.mod
  go.sum
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/observability_types.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/observability_webhook.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 add unit tests
  pkg/products/rhssocommon/reconciler_test.go
  test/utils/scheme.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 bump kc client further
  go.mod
  go.sum
  vendor/github.com/integr8ly/keycloak-client/pkg/.DS_Store
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 fix ratelimiting referer header policy issue
  pkg/products/threescale/reconciler.go
  pkg/resources/ratelimit/envoyconfig.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 add tmp solution to OO
  go.mod
  go.sum
  products/installation.yaml
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 fix vendor folder after rebase and bump 3scale for verification
  go.sum
  products/installation.yaml
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.11.0-mas)
  apis/v1alpha1/rhmi_types.go
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.0-mas/3scale-operator.v0.11.0-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.11.0-mas/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.11.0-mas/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.11.0-mas/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_applications.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_proxyconfigpromotes.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.11.0-mas/image_mirror_mapping
  manifests/integreatly-3scale/0.11.0-mas/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.11.0-mas/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 add debug folders from vendor dir
  .gitignore
  pkg/products/rhsso/reconciler.go
  vendor/github.com/go-openapi/analysis/internal/debug/debug.go
  vendor/github.com/google/cel-go/common/debug/BUILD.bazel
  vendor/github.com/google/cel-go/common/debug/debug.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4909 revert some changes that failed to randomize strings, and add a check to re ramdonize them
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
Due: none

MGDAPI-4810 bug fixes
  apis/v1alpha1/rhmi_types.go
  bundles/managed-api-service/1.30.0/manifests/managed-api-service.clusterserviceversion.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  pkg/products/grafana/reconciler.go
  test/common/pdbs_exist.go
  test/e2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4744 - feat: native 3scale sts support
  Makefile
  config/secrets/addon-params-secret.yaml
  config/secrets/sts-secret.yaml
  go.mod
  go.sum
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  vendor/github.com/3scale/3scale-operator/apis/apps/v1alpha1/apimanager_types.go
  vendor/github.com/3scale/3scale-operator/apis/apps/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/apicast.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/apicast_options.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/s3.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/s3_options.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/system.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/system_options.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/product/3scale_release.go
  vendor/github.com/3scale/3scale-operator/pkg/helper/webconsole.go
  vendor/github.com/3scale/3scale-operator/version/version.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4906 restore workshop type cloud resource config
  config/configmap/cro-configmaps.yaml
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
Due: none

MGDAPI-3209 prepare for release rhoam-v1.30.0-rc1
  bundles/managed-api-service/1.30.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-4721 update OO to 4.0.0
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-observability-operator/4.0.0/observability-operator-federation-reader_rbac.authorization.k8s.io_v1_rolebinding.yaml
  manifests/integreatly-observability-operator/4.0.0/observability-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-observability-operator/4.0.0/observability-operator-priority-class_scheduling.k8s.io_v1_priorityclass.yaml
  manifests/integreatly-observability-operator/4.0.0/observability-operator-webhook-service_v1_service.yaml
  manifests/integreatly-observability-operator/4.0.0/observability-operator.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/4.0.0/observability.redhat.com_observabilities.yaml
  manifests/integreatly-observability-operator/observability-operator.package.yaml
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4906 address feedback
  controllers/rhmi/bootstrapReconciler_test.go
  docs/tests/workshop.md
  mkdocs.yml
Due: none

MGDAPI-4721 update sha of OO and description of replaces
  go.mod
  go.sum
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4721 add a fix to grafana datasources esVersion
  go.mod
  go.sum
  pkg/products/grafana/reconciler.go
  vendor/github.com/grafana-operator/grafana-operator/v4/api/integreatly/v1alpha1/grafana_types.go
  vendor/github.com/grafana-operator/grafana-operator/v4/api/integreatly/v1alpha1/grafanadashboard_types.go
  vendor/github.com/grafana-operator/grafana-operator/v4/api/integreatly/v1alpha1/grafanadatasource_types.go
  vendor/github.com/grafana-operator/grafana-operator/v4/api/integreatly/v1alpha1/grafanafolder_types.go
  vendor/github.com/grafana-operator/grafana-operator/v4/api/integreatly/v1alpha1/selectors.go
  vendor/github.com/grafana-operator/grafana-operator/v4/api/integreatly/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
