Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-3803 refactor 3scale unit tests
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/threescale/asserts_test.go
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1729 fix H34 functional test
  test/common/3scale_smtp.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4458 skip routing subdomain modification after it's been set
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
Due: none

MGDAPI-4458 fix: ignore custom domain when routing subdomain is not empty
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
Due: none

MGDAPI-3209 prepare for release rhoam-v1.26.0
  Makefile
  bundles/managed-api-service/1.26.0/bundle.Dockerfile
  bundles/managed-api-service/1.26.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.26.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.26.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.26.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.26.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.26.0/metadata/annotations.yaml
  bundles/managed-api-service/1.26.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4458 address feedback
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
Due: none

MGDAPI-4458 skip custom domain checks if 3scale is installed
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
Due: none

MGDAPI-3795 adding error handling where required. 22/22 errors handled.
  Makefile
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
  controllers/rhmiconfig/helpers/update_status.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/ups/reconciler.go
  pkg/resources/marketplace/implicit_catalog_source_reconciler.go
  pkg/resources/marketplace/manifestHelper.go
  pkg/resources/openshift.go
  pkg/webhooks/webhook_register.go
  test/common/alerts_invalid_username.go
  test/common/user_dedicated_admin_synced_sso.go
  test/functional/multiaz_pod_distribution.go
  test/resources/codeready_login.go
  test/resources/oauth_proxy_auth.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3795 remove space - fixed formatting
  test/common/user_dedicated_admin_synced_sso.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3795 added unit tests
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
Due: none

MGDAPI-3795 making edits in response to PR comments
  controllers/rhmi/bootstrapReconciler.go
  test/common/user_dedicated_admin_synced_sso.go
  test/functional/multiaz_pod_distribution.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4016 Added support to create MT RHOAM manifests and bundles
  Makefile
  README.md
  bundles/multitenant-managed-api-service/1.21.0/bundle.Dockerfile
  bundles/multitenant-managed-api-service/1.21.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.21.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/multitenant-managed-api-service/1.21.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.21.0/manifests/multitenant-managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.21.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.21.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.21.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.21.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/bundle.Dockerfile
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/multitenant-managed-api-service.clusterserviceversion.yaml
  config/manifests-multitenant-rhoam/kustomization.yaml
  envs/multitenant-managed-api.env
  scripts/README.md
  scripts/bundle-rhmi-operators.sh
  scripts/prepare-release.sh
Due: none

MGDAPI-4016 Added example of APIManagementTenant CRD to CSV and updated script to patch ALERT_SMTP_FROM value for MT bundles
  bundles/multitenant-managed-api-service/1.22.0/bundle.Dockerfile
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/multitenant-managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.22.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.22.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/multitenant-managed-api-service.clusterserviceversion.yaml
  config/samples/apimanagementtenant.yaml
  config/samples/kustomization.yaml
  scripts/prepare-release.sh
Due: none

MGDAPI-4016 Refactored build logic so MT RHOAM uses the same operator image and package name as standard RHOAM.
  bundles/multitenant-managed-api-service/1.22.0/bundle.Dockerfile
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.23.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.23.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/multitenant-managed-api-service/1.23.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.23.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.23.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.23.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.23.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.23.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/bundle.Dockerfile
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  scripts/README.md
  scripts/bundle-rhmi-operators.sh
  scripts/prepare-release.sh
Due: none

MGDAPI-4016 Added 1.22.0 bundle for MT RHOAM
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.22.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.22.0/tests/scorecard/config.yaml
Due: none

MGDAPI-4016 Removed separate version tracking for MT RHOAM
  envs/multitenant-managed-api.env
  scripts/prepare-release.sh
Due: none

MGDAPI-4328 Added unit tests
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4328 Refactored tenant reconciliation logic to check that Keycloak CRs are ready
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4328 Updated logs in APIManagementTenant controller
  controllers/tenant/apimanagementtenant_controller.go
Due: none

MGDAPI-4016 Increased CPU limit on keycloak pods for MT installations
  pkg/products/rhsso/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prodsec for 1.25.0
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-4404 migrate ginkgo to v2
  controllers/rhmi/suite_test.go
  controllers/rhmiconfig/suite_test.go
  go.mod
  go.sum
  openshift-ci/test/e2e/suite_test.go
  test/common/3scale_crudl.go
  test/common/authdelay_first_broker_login.go
  test/common/shared_functions.go
  test/e2e/integretly_test.go
  test/e2e/suite_test.go
  test/functional/integreatly_test.go
  test/functional/suite_test.go
  test/osde2e/managed_api_test.go
  test/osde2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3796 Changed URL creation with non constants
  Makefile
  test/common/selfmanaged_apicast.go
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/h24-verify-selfmanaged-apicast-and-custom-policy.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3805 - gosec: address G601
  Makefile
  controllers/rhmi/rhmi_controller.go
  controllers/tenant/apimanagementtenant_controller.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/ratelimit/envoyconfig.go
  pkg/resources/user/userHelper.go
  test/common/grafana_routes.go
  test/common/multitenancy.go
  test/common/namespace_restoration.go
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/h24-verify-selfmanaged-apicast-and-custom-policy.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4302 remove duplicate CreateOrUpdate function
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/creators.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4302 fix install delay
  controllers/rhmi/bootstrapReconciler.go
Due: none

MGDAPI-4174 initial configuration of mkdocs and readthedocs
  .gitignore
  .readthedocs.yaml
  MIGRATION_NOTES.md
  README.md
  RELEASE.md
  docs/ADDING_A_NEW_PRODUCT.md
  docs/Identify_Provider_Setup.md
  docs/OCM-installation.md
  docs/OLM-BundleFormat.md
  docs/TERMINOLOGY.md
  docs/TESTS.md
  docs/custom_domain.md
  docs/dedicated_admins.md
  docs/index.md
  docs/uninstalling_rhoam.md
  mkdocs.yml
  requirements.txt
Due: none

MGDAPI-4174 adding make target for mkdocs serve command
  Makefile
  README.md
Due: none

MGDAPI-4357 - Fix script #3 in Test E04B - Verify SLO dashboard - user-sso statefulset not scaling down
  test-cases/tests/dashboards/e04b-verify-slo-dashboard.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-3855 - Implement persistent volume for alert manager
  pkg/config/observability.go
  pkg/products/observability/reconciler.go
  test/common/pvc_validate.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4309 token retrieval for 4.11 clusters
  Makefile
Due: none

MGDAPI-4262 fie E2E tests for MT RHOAM (#2776)
  test/common/3scale_smtp.go
  test/common/quota.go
  test/common/selfmanaged_apicast.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1729 fix H34 functional test
  pkg/products/threescale/reconciler_test.go
  test/common/3scale_smtp.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3923 Addition of new LOCAL variable that changes the installation namespace when set to true(default)
  Makefile
  README.md
  config/rbac-local-rhoam/kustomization.yaml
  config/rbac-local-rhoam/patches/auth_proxy_role_binding.yaml
  config/rbac-local-rhoam/patches/leader_election_role_binding.yaml
  config/rbac-local-rhoam/patches/role_binding.yaml
Due: none

MGDAPI-3923 Addressing comments
  Makefile
  README.md
  envs/managed-api.env
  envs/multitenant-managed-api.env
Due: none

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-1728 - Consume addon parameter for the STS role in RHOAM and pass it to CRO
  Makefile
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  config/rbac/role.yaml
  config/secrets/addon-params-secret.yaml
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e
