Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-3209 prepare for release rhoam-v1.27.0-rc1
  bundles/managed-api-service/1.27.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-4039 : Remove amqonline, amqstreams, apicurioregistry
  pkg/products/amqonline/addressplans.go
  pkg/products/amqonline/addressspaceplans.go
  pkg/products/amqonline/infraconfigs.go
  pkg/products/amqonline/prometheusRules.go
  pkg/products/amqonline/reconciler.go
  pkg/products/amqonline/reconciler_test.go
  pkg/products/amqstreams/reconciler.go
  pkg/products/amqstreams/reconciler_test.go
  pkg/products/apicurioregistry/reconciler.go
  pkg/products/apicurioregistry/reconciler_test.go
  pkg/products/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Remove codeready
  pkg/products/codeready/prometheusRules.go
  pkg/products/codeready/reconciler.go
  pkg/products/codeready/reconciler_test.go
  pkg/products/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Remove apicurito
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  apis/v1alpha1/zz_generated.deepcopy.go
  go.mod
  go.sum
  pkg/products/apicurito/prometheusRules.go
  pkg/products/apicurito/reconciler.go
  pkg/products/apicurito/reconciler_test.go
  pkg/products/reconciler.go
  test/common/apicurio_registry_crud.go
  test/common/scale_up_replicas_apicurito.go
  vendor/github.com/Apicurio/apicurio-registry-operator/LICENSE
  vendor/github.com/Apicurio/apicurio-registry-operator/pkg/apis/apicur/v1alpha1/apicurioregistry_types.go
  vendor/github.com/Apicurio/apicurio-registry-operator/pkg/apis/apicur/v1alpha1/doc.go
  vendor/github.com/Apicurio/apicurio-registry-operator/pkg/apis/apicur/v1alpha1/register.go
  vendor/github.com/Apicurio/apicurio-registry-operator/pkg/apis/apicur/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/apicurio/apicurio-operators/apicurito/LICENSE
  vendor/github.com/apicurio/apicurio-operators/apicurito/pkg/apis/apicur/v1alpha1/apicurito_types.go
  vendor/github.com/apicurio/apicurio-operators/apicurito/pkg/apis/apicur/v1alpha1/doc.go
  vendor/github.com/apicurio/apicurio-operators/apicurito/pkg/apis/apicur/v1alpha1/register.go
  vendor/github.com/apicurio/apicurio-operators/apicurito/pkg/apis/apicur/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/apicurio/apicurio-operators/apicurito/pkg/apis/apicur/v1alpha1/zz_generated.openapi.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Remove datasync
  pkg/products/datasync/reconciler.go
  pkg/products/datasync/reconciler_test.go
  pkg/products/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Remove monitoring
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  apis/v1alpha1/blackboxtarget_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/integreatly.org_blackboxtargets.yaml
  go.mod
  pkg/products/cloudresources/reconciler_test.go
  pkg/products/grafana/reconciler.go
  pkg/products/monitoring/prometheusRules.go
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoring/reconciler_test.go
  pkg/products/monitoringcommon/blackbox.go
  pkg/products/monitoringcommon/templateHelper.go
  pkg/products/observability/reconciler.go
  pkg/products/reconciler.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/threescale/reconciler.go
  test/common/namespace_restoration.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/applicationmonitoring_types.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/doc.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/register.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/zz_generated.defaults.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/zz_generated.openapi.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : updates to get unit tests passing
  apis/v1alpha1/zz_generated.deepcopy.go
  controllers/subscription/subscription_controller_test.go
  pkg/resources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Remove ups
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  go.mod
  go.sum
  pkg/config/ConfigReadWriter_moq.go
  pkg/products/reconciler.go
  pkg/products/ups/prometheusRules.go
  pkg/products/ups/reconciler.go
  pkg/products/ups/reconciler_test.go
  vendor/github.com/aerogear/unifiedpush-operator/LICENSE
  vendor/github.com/aerogear/unifiedpush-operator/pkg/apis/push/v1alpha1/doc.go
  vendor/github.com/aerogear/unifiedpush-operator/pkg/apis/push/v1alpha1/register.go
  vendor/github.com/aerogear/unifiedpush-operator/pkg/apis/push/v1alpha1/unifiedpushserver_types.go
  vendor/github.com/aerogear/unifiedpush-operator/pkg/apis/push/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/aerogear/unifiedpush-operator/pkg/apis/push/v1alpha1/zz_generated.defaults.go
  vendor/github.com/aerogear/unifiedpush-operator/pkg/apis/push/v1alpha1/zz_generated.openapi.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Remove strimzi from product apis
  apis-products/kafka.strimzi.io/v1alpha1/doc.go
  apis-products/kafka.strimzi.io/v1alpha1/register.go
  apis-products/kafka.strimzi.io/v1alpha1/types.go
  apis-products/kafka.strimzi.io/v1alpha1/zz_generated.deepcopy.go
  apis-products/kafka.strimzi.io/v1alpha1/zz_generated.defaults.go
  apis-products/kafka.strimzi.io/v1alpha1/zz_generated.openapi.go
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  go.mod
  pkg/products/cloudresources/reconciler_test.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  test/common/scale_up_replicas_amqstreams.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Remove Fuseonopenshift
  pkg/products/fuseonopenshift/reconciler.go
  pkg/products/fuseonopenshift/reconciler_test.go
  pkg/products/fuseonopenshift/testtemplates/fis-image-streams.json
  pkg/products/fuseonopenshift/testtemplates/test_template.json
  pkg/products/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Remove fuse
  pkg/products/fuse/prometheusRules.go
  pkg/products/fuse/reconciler.go
  pkg/products/fuse/reconciler_test.go
  pkg/products/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Remove configs for rhmi
  config/manifests-rhmi/bases/integreatly-operator.clusterserviceversion.yaml
  config/manifests-rhmi/kustomization.yaml
  config/rbac-rhmi/kustomization.yaml
  config/rbac-rhmi/patches/auth_proxy_role_binding.yaml
  config/rbac-rhmi/patches/leader_election_role_binding.yaml
  config/rbac-rhmi/patches/role_binding.yaml
  config/redhat-rhmi/kustomization.yaml
  config/redhat-rhmi/manager_auth_proxy_patch.yaml
  config/redhat-rhmi/manager_webhook_patch.yaml
  config/redhat-rhmi/webhookcainjection_patch.yaml
  pkg/config/amqStreams.go
  pkg/config/amqonline.go
  pkg/config/apicurioregistry.go
  pkg/config/apicurito.go
  pkg/config/codeready.go
  pkg/config/datasync.go
  pkg/config/fuse.go
  pkg/config/fuseonopenshift.go
  pkg/config/manager.go
  pkg/config/solutionExplorer.go
  pkg/config/ups.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Remove enmasse from product apis
  apis-products/enmasse/admin/v1beta1/doc.go
  apis-products/enmasse/admin/v1beta1/register.go
  apis-products/enmasse/admin/v1beta1/types.go
  apis-products/enmasse/admin/v1beta1/zz_generated.deepcopy.go
  apis-products/enmasse/enmasse/v1beta1/doc.go
  apis-products/enmasse/enmasse/v1beta1/register.go
  apis-products/enmasse/enmasse/v1beta1/types.go
  apis-products/enmasse/enmasse/v1beta1/types_images.go
  apis-products/enmasse/enmasse/v1beta1/zz_generated.deepcopy.go
  apis-products/enmasse/v1beta1/brokeredinfraconfig_types.go
  apis-products/enmasse/v1beta1/doc.go
  apis-products/enmasse/v1beta1/register.go
  apis-products/enmasse/v1beta1/standardinfraconfig_types.go
  apis-products/enmasse/v1beta1/zz_generated.deepcopy.go
  apis-products/enmasse/v1beta1/zz_generated.defaults.go
  apis-products/enmasse/v1beta2/addressplan_types.go
  apis-products/enmasse/v1beta2/addressspaceplan_types.go
  apis-products/enmasse/v1beta2/doc.go
  apis-products/enmasse/v1beta2/register.go
  apis-products/enmasse/v1beta2/types.go
  apis-products/enmasse/v1beta2/zz_generated.deepcopy.go
  apis-products/enmasse/v1beta2/zz_generated.defaults.go
  apis-products/enmasse/v1beta2/zz_generated.openapi.go
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  test/common/user_dedicated_admin_permissions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Remove solution explorer
  apis-products/tutorial-web-app-operator/v1alpha1/doc.go
  apis-products/tutorial-web-app-operator/v1alpha1/register.go
  apis-products/tutorial-web-app-operator/v1alpha1/types.go
  apis-products/tutorial-web-app-operator/v1alpha1/zz_generated.deepcopy.go
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  controllers/subscription/subscription_controller.go
  controllers/subscription/subscription_controller_test.go
  controllers/subscription/webapp/main.go
  controllers/subscription/webapp/main_test.go
  pkg/products/reconciler.go
  pkg/products/solutionexplorer/OauthResolver_moq.go
  pkg/products/solutionexplorer/object_test.go
  pkg/products/solutionexplorer/prometheusRules.go
  pkg/products/solutionexplorer/reconciler.go
  pkg/products/solutionexplorer/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Work on removing the rhmi config
  apis/v1alpha1/rhmiconfig_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/integreatly.org_rhmiconfigs.yaml
  config/rbac/rhmiconfig_editor_role.yaml
  config/rbac/rhmiconfig_viewer_role.yaml
  config/rbac/role.yaml
  config/samples/rhmiconfig.yaml
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmiconfig/helpers/update_status.go
  controllers/rhmiconfig/helpers/update_status_test.go
  controllers/rhmiconfig/rhmiconfig_controller.go
  controllers/rhmiconfig/suite_test.go
  controllers/subscription/rhmiConfigs/main_test.go
  deploy/olm-catalog/integreatly-operator
  main.go
  test/common/crd_exists.go
  test/common/rhmi_config.go
  test/common/rhmi_config_cro_strategy_override.go
  test/common/tests.go
  test/common/user_dedicated_admin_permissions.go
  test/common/user_rhmi_developer_permissions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Remove unwanted types
  apis/v1alpha1/installationTypesHelper.go
  apis/v1alpha1/installationTypesHelper_test.go
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/prometheusRules.go
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  controllers/rhmi/types.go
  pkg/addon/operator_run_test.go
  pkg/config/monitoring.go
  pkg/config/observability.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/monitoringcommon/alertmanagerConfig.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/observability/reconciler_test.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/resources/prometheusRules.go
  test/common/codeready_crudl.go
  test/common/deployment_types.go
  test/common/fuse_crudl.go
  test/common/namespace_restoration.go
  test/common/operand_versions.go
  test/common/operator_versions.go
  test/common/tests.go
  test/e2e/suite_test.go
  test/functional/aws_s3_resources_exist.go
  test/resources/openshift_auth.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Removing Deprecated functions and e2e test
  controllers/rhmi/rhmi_controller.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/resources/objectQueries.go
  pkg/resources/podTemplate.go
  test-cases/tests/installation/a21-verify-maintenance-and-backup-windows.md
  test/functional/aws_strategy_override.go
  test/functional/tests.go
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-4039 : Remove unwanted function calls
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : CRO Postgres
  test/common/cro_cr_success.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Version.go
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Remove upgrade code for limitador
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Low hanging fruit
  .gitignore
  Dockerfile
  PROJECT
  README.md
  scripts/ci/OWNERS
  scripts/ci/unit_test.sh
Due: none

MGDAPI-4039 : Updating Scripts
  scripts/admin-template.yml
  scripts/alerts-during-perf-testing.sh
  scripts/bundle-rhmi-operators.sh
  scripts/prepare-release.sh
  scripts/prodsec-manifest-generator.sh
  scripts/setup-delorean-pullsecret.sh
  scripts/setup-sso-idp.sh
  scripts/testing-idp-template.yml
  scripts/user-template.yml
Due: none

MGDAPI-4039 : Makefiles update
  Makefile
  envs/managed.env
Due: none

MGDAPI-4039 : Fix delete error
  scripts/ci/OWNERS
  scripts/ci/unit_test.sh
Due: none

MGDAPI-4039 : Update metrics
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
  main.go
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  pkg/resources/metrics.go
  test-cases/tests/monitoring/m04-verify-rhmistatus-metric.md
  test/common/rhmicr_metrics.go
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-4039 : Vendor Work
  config/crd/bases/integreatly.org_apimanagementtenants.yaml
  controllers/rhmi/rhmi_controller_test.go
  go.mod
  go.sum
  vendor/github.com/google/uuid/uuid.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/applicationmonitoring_types.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/blackboxtarget_types.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/doc.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/register.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/zz_generated.defaults.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/zz_generated.openapi.go
  vendor/gomodules.xyz/jsonpatch/v2/jsonpatch.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Update dashboards
  pkg/products/monitoringcommon/dashboards/clusterResources.go
  pkg/products/monitoringcommon/dashboards/endpointsDetailed.go
  pkg/products/monitoringcommon/dashboards/endpointsReport.go
  pkg/products/monitoringcommon/dashboards/endpointsSummary.go
  pkg/products/monitoringcommon/dashboards/errorBudgetBurnSLOAlerts.go
  pkg/products/monitoringcommon/dashboards/resourceByNamespace.go
  pkg/products/monitoringcommon/dashboards/resourceByPod.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Update prometheus rules
  pkg/metrics/metrics.go
  pkg/products/observability/prometheusRules.go
  pkg/products/rhsso/prometheusRules.go
  pkg/products/rhssouser/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Fixing Broken Unit Tests
  apis/v1alpha1/zz_generated.deepcopy.go
  controllers/rhmi/bootstrapReconciler_test.go
  pkg/addon/operator_run.go
  pkg/products/marin3r/reconciler_test.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Fix up points
  Dockerfile
  config/configmap/cro-configmaps.yaml
  controllers/subscription/rhmiConfigs/main.go
  pkg/products/rhsso/prometheusRules.go
  scripts/prepare-release.sh
  test/common/verify_alert_links_to_SOPs.go
  test/resources/openshift_api.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Cloud Resource strategies
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : fix broken e2e
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Fix merge conflicts
  Dockerfile.functional
  Dockerfile.osde2e
  pkg/products/threescale/reconciler_test.go
  test-cases/tests/alerts/c03-verify-that-alerting-mechanism-works.md
  test-cases/tests/dashboards/e02-verify-that-all-dashboards-are-installed-and-all-the-graphs.md
  test/common/tests.go
  test/e2e/suite_test.go
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-4039 : vendor update
  go.mod
  go.sum
  vendor/github.com/google/uuid/uuid.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/applicationmonitoring_types.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/blackboxtarget_types.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/doc.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/register.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/zz_generated.defaults.go
  vendor/github.com/integr8ly/application-monitoring-operator/pkg/apis/applicationmonitoring/v1alpha1/zz_generated.openapi.go
  vendor/gomodules.xyz/jsonpatch/v2/jsonpatch.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e
