Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-3209 prepare for release rhoam-v1.25.0-rc1
  bundles/managed-api-service/1.25.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.25.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-1905 Implement a workaround for the lack of STS support in 3Scale, new branch
  Makefile
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  config/rbac/role.yaml
  config/secrets/custom-addon-secret.yaml
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/sts/sts.go
  pkg/resources/sts/sts_test.go
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test/functional/aws_shared_functions.go
  test/scripts/backup-restore/j05-verify-3scale-postgres-backup-and-restore.sh
  test/scripts/backup-restore/j07-verify-rhsso-backup-and-restore.sh
  test/scripts/backup-restore/j08-verify-user-sso-backup-and-restore.sh
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-3803 coverage
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1905 Implement a workaround for the lack of STS support in 3Scale
  Makefile
  config/secrets/addon-params-secret.yaml
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/sts/sts.go
  pkg/resources/sts/sts_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1595 revert 3scale cluster scope branch
  Makefile
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  manifests/integreatly-3scale/0.9.0/threescale-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  pkg/products/threescale/reconciler.go
  pkg/resources/marketplace/manager.go
  test/common/3scale_tenant_via_CR.go
  test/common/shared_functions.go
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1728 - Consume addon parameter for the STS role in RHOAM and pass it to CRO
  Makefile
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  config/rbac/role.yaml
  config/secrets/addon-params-secret.yaml
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1728 - refactor and tests
  Makefile
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/resources/sts/sts.go
  pkg/resources/sts/sts_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2656 - refactor: update e2e test config for sts auth
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2656 - refactor: sts auth check if operator is running locally or in a cluster
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/resources/sts/sts.go
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2657 - feat: allow backup restore script to get AWS key locally for sts support
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test/scripts/backup-restore/j05-verify-3scale-postgres-backup-and-restore.sh
  test/scripts/backup-restore/j07-verify-rhsso-backup-and-restore.sh
  test/scripts/backup-restore/j08-verify-user-sso-backup-and-restore.sh
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-3806 - refactor: get role arn from env var on sts clusters
  Makefile
  config/secrets/addon-params-secret.yaml
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/sts/sts.go
  pkg/resources/sts/sts_test.go
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-4430 Change a30 test to only test LDAP integration
  test-cases/tests/installation/a30-validate-rhoam-integration-with-ldap-idp.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-4430 Updating a39 so it no longer references a out of date test
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
  test-cases/tests/installation/a39-installation-verify-rhoam-on-private-cluster.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-4328 Refactored tenant reconciliation logic to check that Keycloak CRs are ready
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4328 Added unit tests
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4328 Updated logs in APIManagementTenant controller
  controllers/tenant/apimanagementtenant_controller.go
Due: none

MGDAPI-4283 when hive managed, proceed with observability uninstall after the dms secret has been removed
  pkg/products/monitoring/reconciler.go
  pkg/products/monitoringcommon/alertmanagerConfig.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0-mas)
  manifests/integreatly-3scale/0.9.0-mas/3scale-operator.v0.9.0-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4375 / Added CriticalMetricsMissing Alert
  pkg/products/observability/prometheusRules.go
  pkg/resources/sop_url.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4429 update testcase c18
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-3795 making edits in response to PR comments
  controllers/rhmi/bootstrapReconciler.go
  test/common/user_dedicated_admin_synced_sso.go
  test/functional/multiaz_pod_distribution.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4458 skip custom domain checks if 3scale is installed
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
Due: none
