Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-3021 Revert removal of smtp creation in cluster/prepare
  Makefile
Due: none

MGDAPI-3019 Update Readme with rhoam uninstall documentation
  README.md
Due: none

add support for podman
  bundles/managed-api-service/bundle.Dockerfile
  scripts/bundle-rhmi-operators.sh
Due: none

Commented out cluster scoped test suite, to be uncommented for when Threescale becomes cluster scoped
  test/common/shared_functions.go
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3374 fix channels for previous versions
  README.md
  bundles/managed-api-service/1.15.1/metadata/annotations.yaml
  bundles/managed-api-service/1.15.2/metadata/annotations.yaml
  scripts/bundle-rhmi-operators.sh
Due: none

MGDAPI-3374 update bundle rhmi operators script and readme
  Makefile
  README.md
  bundles/integreatly-operator/bundle.Dockerfile
  bundles/managed-api-service/bundle.Dockerfile
  scripts/bundle-rhmi-operators.sh
Due: none

MGDAPI-3185 3scale via CR tests
  test/common/3scale_backend_via_CR.go
  test/common/3scale_product_via_CR.go
  test/common/3scale_tenant_via_CR.go
  test/common/tests.go
  test/e2e/suite_test.go
  test/functional/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3185 Added Test Cases and fixed a few spelling mistakes
  test-cases/tests/products/h29-verify-that-backend-can-be-created-via-backend-cr.md
  test-cases/tests/products/h30-verify-that-product-can-be-created-via-product-cr.md
  test-cases/tests/products/h31-verify-that-tenant-can-be-created-via-tenant-cr.md
  test/common/3scale_backend_via_CR.go
  test/common/3scale_tenant_via_CR.go
  test/common/tests.go
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

Cluster scope tests via CR uncommented
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3021 Fix panic on missing smtp secret and add unit tests for new get functions
  Makefile
  pkg/products/monitoringcommon/alertmanagerConfig.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  test/common/alerts_firing.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3374 fix masters 1.16.0 image reference
  bundles/managed-api-service/1.16.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3476 Added 3Scale tests to new test case
  test/common/3scale_backend_via_CR.go
  test/common/3scale_product_via_CR.go
  test/common/3scale_tenant_via_CR.go
  test/common/shared_functions.go
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3321 add rhoam olm subscription to reconciler
  controllers/subscription/subscription_controller.go
Due: none

Changed ID's
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3421 version bump of cro v0.36.0
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-cloud-resources/0.36.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.36.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.36.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.36.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.36.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.36.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.36.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.36.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3457 - uninstall stages performed in order
  controllers/rhmi/rhmi_controller.go
  pkg/products/rhssocommon/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3021 Fixing e2e test failure
  pkg/resources/metrics.go
  test/common/3scale_smtp.go
  test/common/sendgrid_credentials_valid.go
  test/resources/util.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3476 Commented out cluster scoped test suite, to be uncommented for when Threescale becomes cluster scoped
  test/common/shared_functions.go
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3476 Cluster scope tests via CR uncommented
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update owners
  OWNERS
Due: none

Venor fix
  go.mod
  go.sum
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1alpha1/doc.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1alpha1/register.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1alpha1/tenant_types.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1alpha1/zz_generated.openapi.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1beta1/backend_types.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1beta1/doc.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1beta1/product_types.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1beta1/register.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1beta1/zz_generated.openapi.go
  vendor/github.com/3scale/3scale-operator/pkg/common/common.go
  vendor/github.com/3scale/3scale-operator/pkg/common/constants.go
  vendor/github.com/3scale/3scale-operator/pkg/common/kubernetes_types.go
  vendor/github.com/3scale/3scale-operator/pkg/common/status_conditions.go
  vendor/github.com/3scale/3scale-porta-go-client/LICENSE
  vendor/github.com/3scale/3scale-porta-go-client/NOTICE
  vendor/github.com/3scale/3scale-porta-go-client/client/accounts.go
  vendor/github.com/3scale/3scale-porta-go-client/client/app.go
  vendor/github.com/3scale/3scale-porta-go-client/client/application_plan.go
  vendor/github.com/3scale/3scale-porta-go-client/client/backend_api.go
  vendor/github.com/3scale/3scale-porta-go-client/client/client.go
  vendor/github.com/3scale/3scale-porta-go-client/client/errors.go
  vendor/github.com/3scale/3scale-porta-go-client/client/limit.go
  vendor/github.com/3scale/3scale-porta-go-client/client/mapping.go
  vendor/github.com/3scale/3scale-porta-go-client/client/metric.go
  vendor/github.com/3scale/3scale-porta-go-client/client/plan.go
  vendor/github.com/3scale/3scale-porta-go-client/client/pricingrules.go
  vendor/github.com/3scale/3scale-porta-go-client/client/product.go
  vendor/github.com/3scale/3scale-porta-go-client/client/proxy.go
  vendor/github.com/3scale/3scale-porta-go-client/client/services.go
  vendor/github.com/3scale/3scale-porta-go-client/client/tenants.go
  vendor/github.com/3scale/3scale-porta-go-client/client/types.go
  vendor/github.com/3scale/3scale-porta-go-client/client/user.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-36
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-36.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3552 cro release v0.37.1
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-cloud-resources/0.37.1/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.37.1/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.37.1/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.37.1/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.37.1/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.37.1/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.37.1/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.37.1/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2683 add codecov.io scripts
  .codecov.yml
  Makefile
  hack/codecov.sh
Due: none

MGDAPI-2683 codecov badge in README.md
  README.md
Due: none

MGDAPI-3295 small fix to prepare-release script
  scripts/prepare-release.sh
Due: none

Changed Tenant CRD to namespace scoped and renamed RhoamTenant to APIManagementTenant
  Makefile
  apis/v1alpha1/apimanagementtenant_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  config/crd-sandbox/bases/integreatly.org_apimanagementtenants.yaml
  config/crd-sandbox/kustomization.yaml
  config/crd-sandbox/patches/cainjection_in_apimanagementtenants.yaml
  config/crd-sandbox/patches/webhook_in_apimanagementtenants.yaml
  config/rbac/apimanagementtenant_editor_role.yaml
  config/rbac/apimanagementtenant_viewer_role.yaml
  config/rbac/role.yaml
  controllers/tenant/rhoamtenant_controller.go
  main.go
  test/common/multitenancy.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-37
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-37.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-38
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-38.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.3+0.1646619125.p)
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-3scale/image_mirror_mapping
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/manifests/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/manifests/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.2-9.1646619125
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.2-9.1646619125.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-3209 prepare for release rhoam-v1.18.2-rc2
  bundles/managed-api-service/1.18.2/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

Update managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.18.2/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3295 fix: template: subscription name
  config/olm/operator-subscription-template.yml
Due: none

Update RDS postgres version to 10.18 in test
  test/functional/aws_rds_resources_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Overhauled tenant_controller logic to work with namespace-scoped tenants
  apis/v1alpha1/apimanagementtenant_types.go
  controllers/tenant/apimanagementtenant_controller.go
  controllers/tenant/rhoamtenant_controller.go
Due: none

Make code/fix
  apis/v1alpha1/zz_generated.deepcopy.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/three_scale_client.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3177 wip pr for making 3scale cluster scoped
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e
