Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-3800: Unit test
  controllers/rhmi/bootstrapReconciler_test.go
Due: none

MGDAPI-3970: removed quota-secret, same functionality to be handled by custom-addon-secret
  Makefile
  config/secrets/custom-addon-secret.yaml
  config/secrets/quota-secret.yaml
Due: none

MGDAPI-4090: Updates to test cases for RHOAM 1.22
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
  test-cases/tools.sh
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-4145 - add new 3scale v0.8.4 bundle
  bundles/3scale-operator/bundles.yaml
Due: none

MGDAPI-4116 - modify script to build from existing index
  scripts/create-3scale-index.sh
Due: none

Upgrade keycloak to v18.0.0
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-rhsso/18.0.0/keycloak-operator.v18.0.0.clusterserviceversion.yaml
  manifests/integreatly-rhsso/18.0.0/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/18.0.0/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/18.0.0/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/18.0.0/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/18.0.0/keycloakusers.keycloak.org.crd.yaml 
  manifests/integreatly-rhsso/rhsso.package.yaml
  products/additional-images.yaml
  products/products.yaml
  vendor/github.com/keycloak/keycloak-operator/pkg/apis/keycloak/v1alpha1/keycloak_types.go
  vendor/github.com/keycloak/keycloak-operator/pkg/apis/keycloak/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/keycloak/keycloak-operator/pkg/apis/keycloak/v1alpha1/zz_generated.openapi.go
  vendor/github.com/keycloak/keycloak-operator/pkg/model/image_manager.go
  vendor/github.com/keycloak/keycloak-operator/pkg/model/keycloak_deployment.go
  vendor/github.com/keycloak/keycloak-operator/pkg/model/rhsso_deployment.go
  vendor/github.com/keycloak/keycloak-operator/pkg/model/util.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

RHSSO Additional image to point to registry.redhat.io image
  products/additional-images.yaml
Due: none

MGDAPI-4145 - consume 3scale v0.8.4 index
  apis/v1alpha1/rhmi_types.go
  products/installation.yaml
Due: none

MGDAPI-4145 - add 3scale v0.8.4 manifests
  manifests/integreatly-3scale/0.8.4/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.8.4/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.8.4/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.8.4/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.8.4/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.8.4/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.8.4/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.8.4/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.8.4/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.8.4/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.8.4/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.8.4/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.8.4/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.8.4/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-166
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-166.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-167
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-167.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-168
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-168.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-170
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-170.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-173
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-173.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

another WIP version for second round of review
  test/common/tests.go
  test/common/verify_alert_links_to_SOPs.go
  test/common/verify_alert_links_to_SPOs.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

another WIP version for second round of review
  test/common/verify_alert_links_to_SOPs.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-175
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-175.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-177
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-177.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.23.0-rc1
  bundles/managed-api-service/1.23.0/bundle.Dockerfile
  bundles/managed-api-service/1.23.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.23.0/metadata/annotations.yaml
Due: none

Update annotations.yaml
  bundles/managed-api-service/1.23.0/metadata/annotations.yaml
Due: none

Update bundle.Dockerfile
  bundles/managed-api-service/1.23.0/bundle.Dockerfile
Due: none

Update managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.23.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-178
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-178.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0-mas)
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-3scale/image_mirror_mapping
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/manifests/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/manifests/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-mas-3scale-rhel7-operator-metadata-2.12.0-179
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-179.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0-mas)
  manifests/integreatly-3scale/0.9.0-mas/3scale-operator.v0.9.0-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0-mas/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.9.0-mas/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.9.0-mas/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.9.0-mas/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.9.0-mas/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.9.0-mas/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.9.0-mas/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.9.0-mas/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.9.0-mas/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.9.0-mas/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.9.0-mas/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.9.0-mas/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.9.0-mas/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-180
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-180.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-181
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-181.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-183
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-183.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4044 / Added check for unsuccessful pod start
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.4+0.1655369800.p)
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-3scale/0.8.4+0.1655369800.p/3scale-operator.v0.8.4-0.1655369800.p.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.8.4+0.1655369800.p/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.8.4+0.1655369800.p/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.8.4+0.1655369800.p/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.8.4+0.1655369800.p/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.8.4+0.1655369800.p/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.8.4+0.1655369800.p/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.8.4+0.1655369800.p/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.8.4+0.1655369800.p/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.8.4+0.1655369800.p/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.8.4+0.1655369800.p/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.8.4+0.1655369800.p/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.8.4+0.1655369800.p/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.8.4+0.1655369800.p/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.4+0.1655369800.p)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/manifests/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/manifests/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.3-3.1655369801
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.3-3.1655369801.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-184
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-184.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3971: fixed linking issues in Jira
  test-cases/tools/cmd/jira.ts
  test-cases/tools/lib/jira.ts
Due: test-cases-lint, ci/prow/test-cases-lint

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-185
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-185.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2076: removed test-containers-managed-api and related Makefile target
  Makefile
  test-containers-managed-api.yaml
Due: none
