Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-4601 Fix S1008 linter errors
  .golangci.yaml
  pkg/products/marin3r/rateLimitService.go
  test/functional/aws_elasticache_resources_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5301 adding unit test
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5301 - additional unit tests
  pkg/client/sigs_clientset.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4622 Fix S1004 linter errors
  .golangci.yaml
  pkg/resources/pullSecret_test.go
  pkg/resources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.35.0-rc1
  bundles/managed-api-service/1.35.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-5651 adding upgrade scenario verification required
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

MGDAPI-5616 Test case updates for 1.35.0
  test-cases/tests/alerts/c08b-verify-alert-links-to-sops.md
  test-cases/tests/authorization/b08b-verify-user-rhsso-permissions.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/installation/a45-rhoam-on-rosa-byovpc-privatelink.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
  test-cases/tests/products/h32-verify-that-3scale-invitation-mail-is-set-correctly.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
  test/common/selfmanaged_apicast.go
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-4480 Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-4533 prepare for multitenant release rhoam-v1.35.0
  bundles/multitenant-managed-api-service/1.35.0/bundle.Dockerfile
  bundles/multitenant-managed-api-service/1.35.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.35.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.35.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.35.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.35.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.35.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.35.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3209 prepare for release rhoam-v1.36.0
  Makefile
  bundles/managed-api-service/1.36.0/bundle.Dockerfile
  bundles/managed-api-service/1.36.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.36.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.36.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.36.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.36.0/metadata/annotations.yaml
  bundles/managed-api-service/1.36.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4597 fix unit test for unexpected EOF error
  controllers/subscription/csvlocator/csvlocator_test.go
Due: none

MGDAPI-4597 enable errcheck check-blank
  .golangci.yaml
  controllers/namespacelabel/namespacelabel_controller.go
  controllers/rhmi/enqueueIntegreatlyOwner.go
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  controllers/subscription/csvlocator/csvlocator.go
  pkg/addon/parameters.go
  pkg/products/observability/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/threescale/asserts_test.go
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/three_scale_client.go
  pkg/resources/marketplace/manifestHelper.go
  pkg/resources/openshift.go
  pkg/resources/password.go
  pkg/resources/ratelimit/envoyconfig.go
  pkg/resources/user/userHelper.go
  pkg/resources/version.go
  pkg/resources/version_test.go
  pkg/webhooks/webhook_register.go
  test/common/3Scale_user_promotion.go
  test/common/3scale_smtp.go
  test/common/dashboards_data.go
  test/common/deployment_types.go
  test/common/grafana_routes.go
  test/common/multitenancy.go
  test/common/quota.go
  test/common/shared_functions.go
  test/common/user_dedicated_admin_synced_sso.go
  test/common/validate_resource_requirements.go
  test/common/validate_sso_config.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5688 reduce resources required for mcg
  pkg/products/mcg/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4597 add unit tests
  pkg/metrics/metrics_test.go
  pkg/products/observability/reconciler_test.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5663 - keycloak: v7.6.2-4
  apis/v1alpha1/rhmi_types.go
  bundles/rhsso-operator/bundles.yaml
  manifests/integreatly-rhsso/7.6.2-4/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.2-4/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.2-4/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.2-4/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.2-4/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.2-4/rhsso-operator.clusterserviceversion.yaml
  manifests/integreatly-rhsso/rhsso.package.yaml
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/reconciler.go
  products/installation-cpaas.yaml
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5654 including link to load testing docs
  docs/load_testing/locust.md
Due: none

MGDAPI-5688 address comments
  pkg/products/mcg/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5646 - consume CRO release v1.1.0
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-cloud-resources/1.0.2/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/1.0.2/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/1.0.2/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/1.0.2/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/1.0.2/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/1.0.2/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/1.0.2/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/1.0.2/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/1.1.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/1.1.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/1.1.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/1.1.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/1.1.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/1.1.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/1.1.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/1.1.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  pkg/products/threescale/reconciler.go
  pkg/resources/rhsso.go
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4597 handle returning an empty string
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5512 - refactor: remove conversion of cro_postgres_max_memory metric to bytes
  pkg/products/monitoringcommon/dashboards/croResources.go
  pkg/resources/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5072 - configure snapshotting for GCP
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/constants/croConstants.go
  pkg/resources/rhsso.go
  pkg/resources/rhsso_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5694 Added guide that details setting up OBO with RHOAM
  docs/observability/obo_crs.yaml
  docs/observability/obo_setup.md
Due: none

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-5654 updating mkdocs.yml
  mkdocs.yml
Due: none

MGDAPI-5654 updating link
  docs/load_testing/locust.md
Due: none

MGDAPI-5691 - set Redis size for 100M on GCP
  pkg/config/threescale.go
  pkg/config/threescale_test.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5143 Add oc cli to test external image
  Dockerfile.external
Due: none

MGDAPI-5377 Updates to alerts check script to be more flexible
  scripts/alerts-check.sh
  scripts/alerts-during-perf-testing.sh
  test-cases/tests/multiAZ/p01-measure-downtime-during-down-az.md
  test-cases/tests/performance/k04-run-performance-test-against-rhoam-3scale-user-sso.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-3283 - keycloak: use keycloak metrics extension from integr8ly fork
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.36.0-rc1
  bundles/managed-api-service/1.36.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3229 - Update 3scale bundle (0.11.4-mas)
  apis/v1alpha1/rhmi_types.go
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.4-mas/3scale-operator.v0.11.4-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.11.4-mas/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.11.4-mas/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.11.4-mas/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.11.4-mas/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.11.4-mas/capabilities.3scale.net_applications.yaml
  manifests/integreatly-3scale/0.11.4-mas/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.11.4-mas/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.11.4-mas/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.11.4-mas/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.11.4-mas/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.11.4-mas/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.11.4-mas/capabilities.3scale.net_proxyconfigpromotes.yaml
  manifests/integreatly-3scale/0.11.4-mas/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.11.4-mas/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.11.4-mas/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3229 - Update 3scale bundle (0.11.4-mas)
  bundles/3scale-operator/bundles.yaml
  products/installation.yaml
Due: none

MGDAPI-3229 - Update 3scale bundle (0.11.4-mas)
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.4-mas/3scale-operator.v0.11.4-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e
