Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-5078 - cro: consume 0.44.0
  apis/v1alpha1/rhmi_types.go
  bundles/managed-api-service/1.31.0/manifests/managed-api-service.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.44.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.44.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.44.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.44.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.44.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.44.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.44.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.44.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5078 - cro: v0.44.0 vendor
  go.mod
  go.sum
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/client/util.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_redis.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5078 - feat: use large backend redis for 100M quota
  controllers/subscription/subscription_controller.go
  controllers/subscription/subscription_controller_test.go
  pkg/config/threescale.go
  pkg/config/threescale_test.go
  pkg/products/marin3r/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/quota/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5125 - revert release-prepare kustomize change
  scripts/prepare-release.sh
Due: none

MGDAPI-3209 prepare for release rhoam-v1.31.0-rc1
  bundles/managed-api-service/1.31.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-4456 : Fix installation stages for J03
  test/common/namespace_restoration.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3562 update test a25 to be compatible with byovpc clusters
  test/functional/aws_shared_functions.go
  test/functional/aws_standalone_vpc.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-3562 simplify a25 test flow
  test/functional/aws_shared_functions.go
  test/functional/aws_standalone_vpc.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4456 : Improve termination of 3scale namespace
  test/common/namespace_restoration.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5126 : Ensure kustomize in the path
  openshift-ci/Dockerfile.tools
  openshift-ci/test/run
Due: none

MGDAPI-5085 - add alerting for MCG
  pkg/products/mcg/prometheusRules.go
  pkg/products/mcg/reconciler.go
  pkg/products/mcg/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5092 Fixed F01 test after switching from Postgres 13.4 to 13.8
  test/functional/aws_rds_resources_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4998 add upgrades cm
  controllers/subscription/subscription_controller.go
Due: none

MGDAPI-5085 - address feedback
  pkg/products/mcg/prometheusRules.go
  pkg/products/mcg/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5125 Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-4533 prepare for multitenant release rhoam-v1.31.0
  bundles/multitenant-managed-api-service/1.31.0/bundle.Dockerfile
  bundles/multitenant-managed-api-service/1.31.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.31.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.31.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.31.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.31.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.31.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.31.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3209 prepare for release rhoam-v1.32.0
  Makefile
  bundles/managed-api-service/1.32.0/bundle.Dockerfile
  bundles/managed-api-service/1.32.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.32.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.32.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.32.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.32.0/metadata/annotations.yaml
  bundles/managed-api-service/1.32.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5144 fix mt bug
  controllers/subscription/subscription_controller.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4603 Fixed S1039 issues caught by gosimple linter
  .golangci.yaml
  pkg/products/cloudresources/prometheusRules.go
  pkg/products/marin3r/reconciler.go
  pkg/products/monitoringcommon/alertmanagerConfig.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/products/observability/prometheusRules.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/metrics.go
  test/functional/aws_elasticache_resources_exist.go
  test/osde2e/pre-test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5142 backup and restore redis database
  test/scripts/backup-restore/gcp/redis.sh
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5142 backup and restore postgres database
  test/scripts/backup-restore/gcp/postgres.sh
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5142 fix typo and permission error
  test/scripts/backup-restore/gcp/postgres.sh
  test/scripts/backup-restore/gcp/redis.sh
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5101 Test cases for RHOAM v1.31.0
  test-cases/tests/alerts/c08b-verify-alert-links-to-sops.md
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/installation/a45-rhoam-on-rosa-byovpc-privatelink.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
  test/common/selfmanaged_apicast.go
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-5090 ensure rhoam pod priority is reconciled after installation
  test-cases/tests/installation/a28-verify-pod-priority-class-name-is-set-on-products.md
  test/common/priority_validate.go
  test/common/types.go
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-5126 - fix: go permission issue in checks
  openshift-ci/Dockerfile.tools
  openshift-ci/README.md
Due: none

MGDAPI-5144 Added more MT unit tests to threescale reconciler
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5000 : Set Outgoing email address
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/podHelper.go
  pkg/resources/pod_executor_moq.go
  pkg/resources/smtp.go
  pkg/resources/smtp_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5000 : Refactor as we go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5000 : Addressing rbac issue
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5000 : PR commits update
  bundles/managed-api-service/1.31.0/manifests/managed-api-service.clusterserviceversion.yaml
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5000 : Addressing rbac issue
  pkg/products/threescale/reconciler.go
  pkg/resources/smtp_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5000 : Refactor podExecutor to allow for easier test mocking
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/products/threescale/three_scale_client.go
  pkg/products/threescale/three_scale_moq.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5090 fix test case linting
  test-cases/tests/installation/a28-verify-pod-priority-class-name-is-set-on-products.md
Due: test-cases-lint, ci/prow/test-cases-lint
