Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-3229 - Update 3scale bundle (0.11.6-mas)
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.6-mas/3scale-operator.v0.11.6-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3876 add e2e test to validate resources on pods
  test/common/validate_resource_limits.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3873 wip
  apis/v1alpha1/zz_generated.deepcopy.go
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/marin3r/rateLimitService.go
  pkg/resources/autoscaling/autoscaling.go
  pkg/resources/quota/quota.go
  pkg/resources/quota/quota_test.go
  test/common/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3875 / Added resource limits + requests
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3873 add unit tests and refactor
  apis/v1alpha1/zz_generated.deepcopy.go
  bundles/managed-api-service/1.22.0/manifests/managed-api-service.clusterserviceversion.yaml
  config/rbac/role.yaml
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/resources/autoscaling/autoscaling.go
  pkg/resources/autoscaling/autoscaling_test.go
  pkg/resources/quota/quota.go
  pkg/resources/quota/quota_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

bump autoscaling api
  config/rbac/role.yaml
  controllers/rhmi/bootstrapReconciler_test.go
  controllers/rhmi/rhmi_controller.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/resources/autoscaling/autoscaling.go
  pkg/resources/autoscaling/autoscaling_test.go
  pkg/resources/quota/quota.go
  pkg/resources/quota/quota_test.go
  test/common/validate_resource_limits.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Added autoscaling flag to RHMI CR and changed quota reconcile logic and added config mawith autos thresholds
  apis/v1alpha1/rhmi_types.go
  config/crd/bases/integreatly.org_rhmis.yaml
  controllers/rhmi/bootstrapReconciler.go
Due: none

test
  README.md
Due: none

MGDAPI-5808 : Fixing e2e
  controllers/rhmi/rhmi_controller.go
  pkg/metrics/metrics.go
  pkg/resources/smtp.go
  test/common/alerts_exist.go
  test/common/alerts_firing.go
  test/common/alerts_invalid_username.go
  test/common/alerts_mechanism.go
  test/common/dashboards_data.go
  test/common/dashboards_exist.go
  test/common/deployment_types.go
  test/common/grafana_routes.go
  test/common/namespace_created.go
  test/common/operand_versions.go
  test/common/operator_versions.go
  test/common/pvc_validate.go
  test/common/subscription_install_plan.go
  test/common/tests.go
  test/common/types.go
  test/common/verify_alert_links_to_SOPs.go
  test/common/verify_prometheus_metrics.go
  test/e2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5808 : Fixing PROW installation
  pkg/products/grafana/reconciler.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5808 : Fixing the version check
  apis/v1alpha1/rhmi_types.go
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5808 : Removing OO
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/prometheusRules.go
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  controllers/rhmi/types.go
  controllers/rhmi/types_test.go
  main.go
  pkg/config/manager.go
  pkg/metrics/metrics.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/limitadorClient.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/marin3r/reconciler.go
  pkg/products/monitoringcommon/dashboardHelper.go
  pkg/products/monitoringcommon/dashboardHelper_test.go
  pkg/products/monitoringcommon/dashboards/clusterResources.go
  pkg/products/monitoringcommon/dashboards/criticalSLOAlerts.go
  pkg/products/monitoringcommon/dashboards/croResources.go
  pkg/products/monitoringcommon/dashboards/endpointsDetailed.go
  pkg/products/monitoringcommon/dashboards/endpointsReport.go
  pkg/products/monitoringcommon/dashboards/endpointsSummary.go
  pkg/products/monitoringcommon/dashboards/errorBudgetBurnSLOAlerts.go
  pkg/products/monitoringcommon/dashboards/multitenancyDetailed.go
  pkg/products/monitoringcommon/dashboards/resourceByNamespace.go
  pkg/products/monitoringcommon/dashboards/resourceByPod.go
  pkg/products/monitoringcommon/templateHelper.go
  pkg/products/observability/prometheusRules.go
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
  pkg/products/rhsso/reconciler.go
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/smtp.go
  pkg/resources/smtp_test.go
  templates/monitoring/alertmanager/alertmanager-application-monitoring.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5867 update envoy image
  pkg/resources/ratelimit/envoy.go
  products/additional-images.yaml
  test/scripts/products/h22-validate-that-rate-limit-service-is-working-as-expected/test.sh
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5868 update oauth proxy
  pkg/products/grafana/reconciler.go
  products/additional-images.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5808 : Pr Comments
  pkg/products/grafana/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5808 : Fixing rebase
  controllers/rhmi/rhmi_controller.go
  pkg/products/monitoringcommon/templateHelper.go
  templates/monitoring/alertmanager/alertmanager-application-monitoring.yaml
  test/common/grafana_routes.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5808 : Fix linting issues
  controllers/rhmi/rhmi_controller.go
  pkg/products/monitoringcommon/dashboardHelper_test.go
  pkg/products/monitoringcommon/dashboards/criticalSLOAlerts.go
  pkg/products/monitoringcommon/templateHelper.go
  pkg/products/observability/reconciler.go
  pkg/products/threescale/clients_test.go
  pkg/resources/smtp_test.go
  test/common/dashboards_data.go
  test/common/dashboards_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5882 : Update mkdoc configuration
  docs/observability/obo_setup.md
  mkdocs.yml
Due: none

MGDAPI-4729 / Tagging replicationGroups in nonSTS
  test/functional/aws_elasticache_resources_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5694 Updated the OBO docs to reflect latest implementation design
  docs/observability/obo_crs.yaml
  docs/observability/obo_setup.md
Due: none

MGDAPI-5857 - return non-empty result to requeue rhmi controller
  controllers/rhmi/rhmi_controller.go
Due: none

POC : Block upgrades on configmap field
  controllers/subscription/rhmiConfigs/main.go
  controllers/subscription/rhmiConfigs/main_test.go
  controllers/subscription/subscription_controller.go
Due: none

MGDAPI-5304 - feat: addon instance status condition reporting
  Makefile
  PROJECT
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  apis/v1alpha1/groupversion_info.go
  apis/v1alpha1/rhmi_conditions.go
  apis/v1alpha1/rhmi_types.go
  apis/v1alpha1/rhmi_types_test.go
  config/rbac/role.yaml
  config/samples/addoninstance_v1alpha1.yaml
  config/samples/kustomization.yaml
  controllers/namespacelabel/namespacelabel_controller.go
  controllers/status/options.go
  controllers/status/status_controller.go
  controllers/status/status_controller_test.go
  controllers/status/utils.go
  controllers/status/utils_test.go
  go.mod
  go.sum
  main.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/marin3r/apiUsagePrometheusRules.go
  pkg/products/marin3r/config/config.go
  pkg/products/monitoringspec/reconciler.go
  pkg/resources/metrics.go
  pkg/resources/prometheusRules.go
  test/go.mod
  test/go.sum
  utils/client.go
  utils/predicates.go
  utils/scheme.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5855 - e2e: tests for addon instance status
  test/common/status_conditions.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5873 : update J03 destructive test
  test/common/namespace_restoration.go
  test/common/types.go
  test/common/validate_resource_requirements.go
  test/osde2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5762 - update test cases which refer to workload-web-app
  test-cases/tests/alerts/c05b-verify-alerts-are-exposed-and-no-critical-alerts-have-fired.md
  test-cases/tests/multiAZ/p01-measure-downtime-during-down-az.md
  test-cases/tests/products/h21b-verify-all-products-using-the-workloadwebapp.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/upgrade/n01b-measure-downtime-during-openshift-upgrade.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-5890 changes to support 100mln redis bump
  controllers/subscription/subscription_controller.go
  pkg/config/threescale.go
  pkg/config/threescale_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5768 - marin3r: bump to 0.12.2
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-marin3r/0.12.2/marin3r-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-marin3r/0.12.2/marin3r-manager-config_v1_configmap.yaml
  manifests/integreatly-marin3r/0.12.2/marin3r-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-marin3r/0.12.2/marin3r-webhook-service_v1_service.yaml
  manifests/integreatly-marin3r/0.12.2/marin3r.3scale.net_envoyconfigrevisions_crd.yaml
  manifests/integreatly-marin3r/0.12.2/marin3r.3scale.net_envoyconfigs_crd.yaml
  manifests/integreatly-marin3r/0.12.2/marin3r.clusterserviceversion.yaml
  manifests/integreatly-marin3r/0.12.2/operator.marin3r.3scale.net_discoveryservicecertificates_crd.yaml
  manifests/integreatly-marin3r/0.12.2/operator.marin3r.3scale.net_discoveryservices_crd.yaml
  manifests/integreatly-marin3r/0.12.2/operator.marin3r.3scale.net_envoydeployments_crd.yaml
  manifests/integreatly-marin3r/marin3r.package.yaml
  pkg/products/marin3r/reconciler.go
  products/installation-cpaas.yaml
  products/products.yaml
  test/common/priority_validate.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5872 : Create e2e test for ClusterObjectTemplates state
  test/common/ClusterObjectTemplates.go
  test/common/tests.go
  test/e2e/suite_test.go
  test/functional/suite_test.go
  test/go.mod
  test/go.sum
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-5706 - updated access to prometheus pod and changed namespace
  scripts/alerts-check.sh
  scripts/capture_resource_metrics.sh
  scripts/monitoringupgradetest.sh
Due: none

MGDAPI-5872 : PR comments
  test/common/validate_cluster_objects_templates.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5874 Addition of PO resource stability e2e
  test/common/tests.go
  test/common/verify_po_resource_stability.go
  test/e2e/suite_test.go
  test/functional/suite_test.go
  test/go.mod
  test/go.sum
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5872 : Create e2e test for ClusterObjectTemplates state (#3304)
  test/common/tests.go
  test/common/validate_cluster_objects_templates.go
  test/e2e/suite_test.go
  test/functional/suite_test.go
  test/go.mod
  test/go.sum
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5872 : Create e2e test for ClusterObjectTemplates state (#3304)
  test/common/tests.go
  test/common/validate_cluster_objects_templates.go
  test/functional/suite_test.go
  test/go.sum
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5874 Addition of PO resource stability e2e
  test/common/tests.go
  test/functional/suite_test.go
  test/go.sum
Due: ci/prow/e2e, ci/prow/rhoam-e2e
