Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-4458 address feedback
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
Due: none

Update 3scale manifests (0.10.0-mas)
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-3scale/0.10.0-mas/3scale-operator.v0.10.0-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.10.0-mas/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.10.0-mas/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.10.0-mas/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.10.0-mas/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.10.0-mas/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-4458 fix: ignore custom domain when routing subdomain is not empty
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
Due: none

MGDAPI-4458 skip routing subdomain modification after it's been set
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
Due: none

MGDAPI-4374 remove ref to product stage
  test/common/3scale_smtp.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4413 Test case updates for 1.25.0
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-3768 - extended B01B and H07 for multiple users
  test/common/3Scale_user_promotion.go
  test/common/product_login.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.26.0
  Makefile
  bundles/managed-api-service/1.26.0/bundle.Dockerfile
  bundles/managed-api-service/1.26.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.26.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.26.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.26.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.26.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.26.0/metadata/annotations.yaml
  bundles/managed-api-service/1.26.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4018 add kevin and austin as owners
  OWNERS
Due: none

MGDAPI-3209 prodsec for 1.25.0
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4404 migrate ginkgo to v2
  controllers/rhmi/suite_test.go
  controllers/rhmiconfig/suite_test.go
  go.mod
  go.sum
  openshift-ci/test/e2e/suite_test.go
  test/common/3scale_crudl.go
  test/common/authdelay_first_broker_login.go
  test/common/shared_functions.go
  test/e2e/integretly_test.go
  test/e2e/suite_test.go
  test/functional/integreatly_test.go
  test/functional/suite_test.go
  test/osde2e/managed_api_test.go
  test/osde2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3796 Changed URL creation with non constants
  Makefile
  test/common/selfmanaged_apicast.go
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/h24-verify-selfmanaged-apicast-and-custom-policy.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update to readme.md
  README.md
Due: none

MGDAPI-4302 remove duplicate CreateOrUpdate function
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/creators.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4302 fix install delay
  controllers/rhmi/bootstrapReconciler.go
Due: none

MGDAPI-4174 adding make target for mkdocs serve command
  Makefile
  README.md
Due: none

MGDAPI-3805 - gosec: address G601
  Makefile
  controllers/rhmi/rhmi_controller.go
  controllers/tenant/apimanagementtenant_controller.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/ratelimit/envoyconfig.go
  pkg/resources/user/userHelper.go
  test/common/grafana_routes.go
  test/common/multitenancy.go
  test/common/namespace_restoration.go
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/h24-verify-selfmanaged-apicast-and-custom-policy.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4262 adressing more comments
  test/common/3scale_smtp.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4375 / Added changes recommended
  pkg/products/observability/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3855 - Implement persistent volume for alert manager
  pkg/config/observability.go
  pkg/products/observability/reconciler.go
  test/common/pvc_validate.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4262 fie E2E tests for MT RHOAM (#2776)
  test/common/3scale_smtp.go
  test/common/quota.go
  test/common/selfmanaged_apicast.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3803 address gosec G404
  Makefile
  controllers/rhmi/bootstrapReconciler.go
  pkg/resources/password.go
  test/common/3scale_crudl.go
  test/common/3scale_smtp.go
  test/common/authdelay_first_broker_login.go
  test/common/multitenancy.go
  test/common/selfmanaged_apicast.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3803 rename make target
  Makefile
Due: none

MGDAPI-3803 rename package
  pkg/resources/password.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
