Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-3229 - Update 3scale bundle (0.11.4-mas)
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.4-mas/3scale-operator.v0.11.4-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5136 fixed maintenance window spam bug on fresh install
  controllers/subscription/subscription_controller.go
Due: none

MGDAPI-5136 modified subscription_controller tests to check for current version
  controllers/subscription/subscription_controller_test.go
Due: none

MGDAPI-5136 quota is not set until fresh install completes
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3229 - Update 3scale bundle (0.11.5-mas)
  apis/v1alpha1/rhmi_types.go
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.5-mas/3scale-operator.v0.11.5-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.11.5-mas/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.11.5-mas/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.11.5-mas/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.11.5-mas/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.11.5-mas/capabilities.3scale.net_applications.yaml
  manifests/integreatly-3scale/0.11.5-mas/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.11.5-mas/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.11.5-mas/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.11.5-mas/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.11.5-mas/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.11.5-mas/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.11.5-mas/capabilities.3scale.net_proxyconfigpromotes.yaml
  manifests/integreatly-3scale/0.11.5-mas/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.11.5-mas/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.11.5-mas/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3229 - Update 3scale bundle (0.11.5-mas)
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.5-mas/3scale-operator.v0.11.5-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3229 - Update 3scale bundle (0.11.5-mas)
  bundles/3scale-operator/bundles.yaml
  products/installation.yaml
Due: none

MGDAPI-5152 - fix test/lint
  pkg/products/mcg/reconciler.go
  test/common/user_dedicated_admin_synced_sso.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5152 - set securityContext in catalogsource
  pkg/resources/marketplace/configmap_catalog_source_reconciler.go
  pkg/resources/marketplace/grpc_image_catalog_source_reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5152 - update observability-operator to v4.2.1
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-observability-operator/4.2.1/observability-operator-federation-reader_rbac.authorization.k8s.io_v1_rolebinding.yaml
  manifests/integreatly-observability-operator/4.2.1/observability-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-observability-operator/4.2.1/observability-operator-priority-class_scheduling.k8s.io_v1_priorityclass.yaml
  manifests/integreatly-observability-operator/4.2.1/observability-operator-webhook-service_v1_service.yaml
  manifests/integreatly-observability-operator/4.2.1/observability-operator.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/4.2.1/observability.redhat.com_observabilities.yaml
  manifests/integreatly-observability-operator/observability-operator.package.yaml
  products/additional-images.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
  vendor/github.com/redhat-developer/observability-operator/v4/api/v1/index.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5152 - update maxOpenshiftVersion to 4.13
  bundles/managed-api-service/1.36.0/manifests/managed-api-service.clusterserviceversion.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3209 prepare for release rhoam-v1.36.0-rc2
  bundles/managed-api-service/1.36.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-5501 - feat: e2e test module
  go.work
  go.work.sum
  test/go.mod
  test/go.sum
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5501 - refactor: image updates to take account of workspace
  Dockerfile
  Dockerfile.external
  Dockerfile.functional
  Dockerfile.osde2e
  Dockerfile.scorecard
  Makefile
  make/functional.mk
  make/osde2e.mk
  make/scorecard.mk
Due: none

MGDAPI-5501 - refactor: set linter to readonly to work with workspace mode
  .golangci.yaml
Due: none

MGDAPI-5501 - chore: remove replaces for operator-lib - no longer required
  go.mod
  go.sum
  go.work.sum
  test/go.mod
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5694 Updated OBO guide to use a ServiceMonitor to federate metrics
  docs/observability/obo_crs.yaml
  docs/observability/obo_setup.md
Due: none

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-5754 - keycloak: v7.6.3-1
  apis/v1alpha1/rhmi_types.go
  bundles/rhsso-operator/bundles.yaml
  manifests/integreatly-rhsso/7.6.2-5/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.2-5/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.2-5/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.2-5/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.2-5/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.2-5/rhsso-operator.clusterserviceversion.yaml
  manifests/integreatly-rhsso/7.6.3-1/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.3-1/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.3-1/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.3-1/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.3-1/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.3-1/rhsso-operator.clusterserviceversion.yaml
  manifests/integreatly-rhsso/rhsso.package.yaml
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/reconciler.go
  products/installation-cpaas.yaml
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5736 Test Case updates for 1.36.0
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test-cases/tests/dashboards/e04b-verify-slo-dashboard.md
  test-cases/tests/dashboards/e07b-verify-drill-down-links.md
  test-cases/tests/dashboards/e08b-verify-values-are-correct-in-resource-usage-dashboard.md
  test-cases/tests/installation/a30-validate-rhoam-integration-with-ldap-idp.md
  test-cases/tests/installation/a33-validate-console-links.md
  test-cases/tests/installation/a40-rhoam-on-osd-trial.md
  test-cases/tests/products/h33-verify-that-3scale-invitation-mail-works-as-expected.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-4480 Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-3229 - Update 3scale bundle (0.11.6-mas)
  apis/v1alpha1/rhmi_types.go
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.6-mas/3scale-operator.v0.11.6-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.11.6-mas/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.11.6-mas/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.11.6-mas/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_applications.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_proxyconfigpromotes.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.11.6-mas/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.11.6-mas/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3229 - Update 3scale bundle (0.11.6-mas)
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.6-mas/3scale-operator.v0.11.6-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4533 prepare for multitenant release rhoam-v1.36.0
  bundles/multitenant-managed-api-service/1.36.0/bundle.Dockerfile
  bundles/multitenant-managed-api-service/1.36.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.36.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.36.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.36.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.36.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.36.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.36.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none
