Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-1728 - refactor and tests
  Makefile
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/resources/sts/sts.go
  pkg/resources/sts/sts_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2656 - refactor: update e2e test config for sts auth
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2656 - refactor: sts auth check if operator is running locally or in a cluster
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/resources/sts/sts.go
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2657 - feat: allow backup restore script to get AWS key locally for sts support
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test/scripts/backup-restore/j05-verify-3scale-postgres-backup-and-restore.sh
  test/scripts/backup-restore/j07-verify-rhsso-backup-and-restore.sh
  test/scripts/backup-restore/j08-verify-user-sso-backup-and-restore.sh
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-3806 - refactor: get role arn from env var on sts clusters
  Makefile
  config/secrets/addon-params-secret.yaml
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/sts/sts.go
  pkg/resources/sts/sts_test.go
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4375 / Added CritcalMetricMissing alert
  pkg/products/observability/prometheusRules.go
  pkg/resources/sop_url.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4407 / Prometheus unit tests
  prometheus-unit-testing/rules.yml
  prometheus-unit-testing/test.yml
Due: none

MGDAPI-3582 - add checks for tags in e2e
  test/functional/aws_elasticache_resources_exist.go
  test/functional/aws_rds_resources_exist.go
  test/functional/aws_s3_resources_exist.go
  test/functional/aws_shared_functions.go
  test/functional/aws_standalone_vpc.go
  test/functional/aws_strategy_override.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4478 - Increase UpgradeExpectedDuration - update alert RHOAMUpgradeExpectedDuration30minExceeded
  controllers/rhmi/prometheusRules.go
  pkg/resources/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4483 - search all bundles
  scripts/create-3scale-index.sh
Due: none

Update 3scale manifests (0.10.0-mas)
  manifests/integreatly-3scale/0.10.0-mas/3scale-operator.v0.10.0-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.10.0-mas/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_proxyconfigpromotes.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4407 update prometheus unit tests
  pkg/products/observability/prometheusRules.go
  prometheus-unit-testing/rules.yml
  prometheus-unit-testing/test.yml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4390 - Move rhsso to the productised Go operator
  Makefile
  apis/v1alpha1/rhmi_types.go
  bundles/managed-api-service/1.26.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/rhsso-operator/bundles.yaml
  manifests/integreatly-rhsso/18.0.0/keycloak-operator.v18.0.0.clusterserviceversion.yaml
  manifests/integreatly-rhsso/7.5.2-9/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.5.2-9/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.5.2-9/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.5.2-9/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.5.2-9/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.5.2-9/rhsso-operator.clusterserviceversion.yaml
  manifests/integreatly-rhsso/7.6.0-4/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-4/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-4/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-4/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-4/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-4/rhsso-operator.clusterserviceversion.yaml
  manifests/integreatly-rhsso/7.6.0-6/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-6/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-6/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-6/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-6/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-6/rhsso-operator.clusterserviceversion.yaml
  manifests/integreatly-rhsso/rhsso.package.yaml
  pkg/products/rhsso/prometheusRules.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/prometheusRules.go
  pkg/products/rhssouser/reconciler_test.go
  products/additional-images.yaml
  products/installation.yaml
  scripts/create-rhsso-operator-index.sh
  test/common/alerts_mechanism.go
  test/common/deployment_types.go
  test/common/monitoringspec.go
  test/common/verify_prometheus_metrics.go
  test/e2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4404 increased timeout for all tests
  Dockerfile.functional
  Dockerfile.osde2e
  Makefile
  test/e2e/suite_test.go
  test/functional/suite_test.go
  test/osde2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.10.0-mas)
  manifests/integreatly-3scale/0.10.0-mas/3scale-operator.v0.10.0-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-3803 address gosec G404 (#2825)
  Makefile
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/threescale/asserts_test.go
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/password.go
  test/common/3scale_crudl.go
  test/common/3scale_smtp.go
  test/common/authdelay_first_broker_login.go
  test/common/multitenancy.go
  test/common/selfmanaged_apicast.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4474 add health probes to rhmi pod
  config/manager/manager.yaml
  main.go
Due: none

MGDAPI-1728 - Consume addon parameter for the STS role in RHOAM and pass it to CRO
  Makefile
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  config/rbac/role.yaml
  config/secrets/addon-params-secret.yaml
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4422 Updating command to use cluster name instead of display_name
  test-cases/tests/installation/a34-verify-quota-values.md
  test-cases/tests/installation/a38-installation-verify-rhoam-on-nonbyoc-cluster.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
  test-cases/tests/upgrade/n01b-measure-downtime-during-openshift-upgrade.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-4422 Adding step to for retrievale of cluster id to a40 test
  test-cases/tests/installation/a40-rhoam-on-osd-trial.md
Due: test-cases-lint, ci/prow/test-cases-lint

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
