Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-4909 remove check for repeating strings in client secret
  controllers/rhmi/bootstrapReconciler.go
Due: none

MGDAPI-5013 fix apim recon
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-4729 - fix: F03 - only check for managed tag for sts clusters
  test/functional/aws_elasticache_resources_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4549 : Add filter for active tenants to dns bypass metrics
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/filters.go
  pkg/products/threescale/filters_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/products/threescale/three_scale_client.go
  pkg/products/threescale/three_scale_moq.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4471 changed test-results file to be configurable
  build/bin/setup_external.sh
  make/functional.mk
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4471 added a way to build and push external test image
  make/functional.mk
Due: none

MGDAPI-4471 independent test suite docker image
  Dockerfile.external
  build/bin/setup_external.sh
  make/functional.mk
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4599 enable unused golangci-lint linter
  .golangci.yaml
  controllers/namespacelabel/namespacelabel_controller.go
  controllers/rhmi/bootstrapReconciler_test.go
  openshift-ci/test/e2e/suite_test.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/observability/reconciler_test.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/asserts_test.go
  pkg/products/threescale/objects_test.go
  pkg/resources/cluster_test.go
  pkg/resources/ratelimit/envoy.go
  pkg/resources/user/userHelper.go
  test/common/3scale_smtp.go
  test/common/grafana_routes.go
  test/common/namespace_restoration.go
  test/common/rhmicr_metrics.go
  test/common/routes_exist.go
  test/common/scale_up_replicas_rhsso.go
  test/common/validate_resource_requirements.go
  test/e2e/suite_test.go
  test/functional/multiaz_pod_distribution.go
  test/functional/suite_test.go
  test/osde2e/suite_test.go
  test/resources/oauth_proxy_auth.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4641 : Clean up last of the RHMI config CRD
  apis/v1alpha1/rhmiconfig_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  controllers/rhmi/bootstrapReconciler.go
Due: none

MGDAPI-4471 fixed the hardcoded junit location
  build/bin/setup_external.sh
  test/functional/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 - Add 3scale-operator.v0.11.0-mas
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.0-mas/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.11.0-mas/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.11.0-mas/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.11.0-mas/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_applications.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_proxyconfigpromotes.yaml
  manifests/integreatly-3scale/0.11.0-mas/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.11.0-mas/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.11.0-mas/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4810 - Vendor
  go.mod
  go.sum
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.30.0-rc2
  bundles/managed-api-service/1.30.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-4549 : Code review updates
  pkg/products/threescale/filters.go
  pkg/products/threescale/filters_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 - Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-4966 Update test cases for v1.30.0
  test-cases/tests/alerts/c03-verify-that-alerting-mechanism-works.md
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/dashboards/e04b-verify-slo-dashboard.md
  test-cases/tests/dashboards/e07b-verify-drill-down-links.md
  test-cases/tests/dashboards/e08b-verify-values-are-correct-in-resource-usage-dashboard.md
  test-cases/tests/installation/a30-validate-rhoam-integration-with-ldap-idp.md
  test-cases/tests/installation/a31-verify-installation-on-all-osd-versions.md
  test-cases/tests/installation/a33-validate-console-links.md
  test-cases/tests/installation/a37-rhoam-on-rosa.md
  test-cases/tests/installation/a38-installation-verify-rhoam-on-nonbyoc-cluster.md
  test-cases/tests/installation/a39-installation-verify-rhoam-on-private-cluster.md
  test-cases/tests/installation/a40-rhoam-on-osd-trial.md
  test-cases/tests/installation/a43-rhoam-on-rosa-nonsts-autoscaling-cluster.md
  test-cases/tests/installation/a44-rhoam-on-rosa-sts.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
  test-cases/tests/products/h33-verify-that-3scale-invitation-mail-works-as-expected.md
  test-cases/tests/upgrade/n03-verify-that-the-minimal-cidr-block-is-configured-correctly.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-4533 prepare for multitenant release rhoam-v1.30.0
  bundles/multitenant-managed-api-service/1.30.0/bundle.Dockerfile
  bundles/multitenant-managed-api-service/1.30.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.30.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.30.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.30.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.30.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.30.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.30.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3209 prepare for release rhoam-v1.31.0
  Makefile
  bundles/managed-api-service/1.31.0/bundle.Dockerfile
  bundles/managed-api-service/1.31.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.31.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.31.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.31.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.31.0/metadata/annotations.yaml
  bundles/managed-api-service/1.31.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4831 - refactor: related images as map of product and components
  bundles/managed-api-service/1.31.0/manifests/managed-api-service.clusterserviceversion.yaml
  products/additional-images.yaml
  scripts/prepare-release.sh
Due: none

MGDAPI-5024 - fix: product versions
  apis/v1alpha1/rhmi_types.go
  bundles/managed-api-service/1.31.0/manifests/managed-api-service.clusterserviceversion.yaml
  products/products.yaml
Due: none

MGDAPI-4923 - move to generic, remove rhsso script
  Makefile
  scripts/create-product-index.sh
  scripts/create-rhsso-operator-index.sh
Due: none

MGDAPI-4923 - generalise index building script
  Makefile
  bundles/rhsso-operator/bundles.yaml
  scripts/create-3scale-index.sh
Due: none

MGDAPI-4923 - add mcg bundles
  bundles/mcg-operator/bundles.yaml
Due: none

MGDAPI-4655 apply priorityClassName to all rhoam crs
  bundles/managed-api-service/1.30.0/manifests/managed-api-service.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/resources/k8s/objectQueries.go
  pkg/resources/k8s/objectQueries_test.go
  pkg/resources/reconciler.go
  pkg/resources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update observability dependencies to use api submodule
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  go.mod
  go.sum
  pkg/config/observability.go
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
  test/common/namespace_restoration.go
  test/utils/scheme.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fixing unit tests - required some dependency updates
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
  go.mod
  go.sum
  pkg/addon/operator_run_test.go
  pkg/client/sigs_client_moq.go
  pkg/client/sigs_clientset.go
  pkg/products/marin3r/apiUsagePrometheusRules.go
  pkg/products/marin3r/config/config.go
  pkg/products/marin3r/config/config_test.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/products/observability/reconciler_test.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/custom-domain/custom-domain_test.go
  pkg/resources/k8s/objectQueries_test.go
  pkg/resources/marketplace/configmap_catalog_source_reconciler_test.go
  pkg/resources/marketplace/grpc_image_catalog_source_reconciler_test.go
  pkg/resources/metrics.go
  pkg/resources/prometheusRules.go
  pkg/resources/prometheusRules_test.go
  pkg/resources/pullSecret_test.go
  pkg/resources/reconciler_test.go
  pkg/resources/rhsso_test.go
  pkg/resources/sts/sts_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

remove unnecessary return of object
  pkg/resources/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5060 : Update yq version
  Makefile
  README.md
  openshift-ci/Dockerfile.tools
Due: none

MGDAPI-5062 - cleanup of user code and tests
  controllers/rhmi/bootstrapReconciler.go
  controllers/user/user_controller.go
  main.go
  pkg/products/rhsso/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4907 - Initial MCG reconciler
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/types.go
  pkg/config/ConfigReadWriter_moq.go
  pkg/config/manager.go
  pkg/config/mcg.go
  pkg/products/mcg/reconciler.go
  pkg/products/reconciler.go
  pkg/resources/constants/subscriptionConstants.go
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4907 - create s3-credentials secret for MCG
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
