Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

prepare for release rhoam-v1.15.0
  packagemanifests/managed-api-service/1.15.0/managed-api-service.clusterserviceversion.yaml
Due: none

Revert "release PR for version rhoam-v1.15.0-rc3"
  packagemanifests/managed-api-service/1.15.0/managed-api-service.clusterserviceversion.yaml
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

mgdapi-1163: update rbac rules
  Makefile
  README.md
  config/rbac/dedicated_admins_rbac.yaml
  test/common/shared_functions.go
  test/common/user_dedicated_admin_permissions.go
  test/functional/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Revert "Update for demo for CPROD-11"
  .gitignore
Due: none

MGDAPI-3175 fix F01 test case
  test/functional/aws_rds_resources_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update README.md
  README.md
Due: none

MGDAPI-3207 fix go.mod to point to right cro version
  go.mod
  go.sum
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_redis.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3029 - test: use chromedp headless as test suite base image
  Dockerfile.functional
Due: none

template for including CRO v0.32.1
  manifests/integreatly-cloud-resources/0.32.1/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.32.1/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.32.1/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.32.1/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.32.1/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.32.1/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.32.1/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.32.1/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update .gitignore
  .gitignore
Due: none

MGDAPI-3208 Revert "MGDAPI-3192"
  pkg/config/cloudresources.go
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Updated test cases for RHOAM v1.15.0
  test-cases/tests/alerts/c08b-verify-alert-links-to-sops.md
  test-cases/tests/alerts/c10b-verify-additional-blackboxtargets.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test-cases/tests/dashboards/e07b-verify-drill-down-links.md
  test-cases/tests/installation/a27-verify-pod-priority-class-is-created.md
  test-cases/tests/installation/a32-validate-sso-urls-from-rhmi-cr.md
  test-cases/tests/installation/a33-validate-console-links.md
  test-cases/tests/monitoring/m02b-verify-rhoam-version-metric-is-exposed.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: test-cases-lint, ci/prow/test-cases-lint

fix: remove updating rhmi cr status in subscription controller
  controllers/subscription/subscription_controller.go
Due: none

prepare for release rhoam-v1.15.0-rc2
  packagemanifests/managed-api-service/1.15.0/managed-api-service.clusterserviceversion.yaml
Due: none

prepare for release rhoam-v1.15.0-rc3
  packagemanifests/managed-api-service/1.15.0/managed-api-service.clusterserviceversion.yaml
Due: none

Adds bearer token to blackbox exporter to fix grafana UI endpoint down.
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Revert "Scoheb patch 2"
  README.md
Due: none

fix: lint
  test-cases/tools/lib/jira.ts
Due: test-cases-lint, ci/prow/test-cases-lint

Adding corrupted users before RHOAM upgrade
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-2909 fixes to config and remove echoes from prep release
  config/manifests-rhmi/bases/integreatly-operator.clusterserviceversion.yaml
  scripts/prepare-release.sh
Due: none

MGDAPI-2909 move to bundle p1
  Makefile
  bundles/integreatly-operator/integreatly-operator.package.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  scripts/prepare-release.sh
Due: none

MGDAPI-2909 update to prepare release and base csv files
  config/manifests-rhmi/bases/integreatly-operator.clusterserviceversion.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  scripts/prepare-release.sh
Due: none

MGDAPI-3281 Fix kubeBuilder check.
  controllers/rhmi/rhmi_controller.go
Due: none

bundle generation for managed-tenants-bundles
  scripts/bundle-rhmi-operators.sh
Due: none

prepare for release rhoam-v1.15.1
  Makefile
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.1/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.1/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.1/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.1/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.1/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGAPI-3038 adressing comments
  test/scripts/products/h22-validate-that-rate-limit-service-is-working-as-expected/h22-validate-that-rate-limit-service-is-working-as-expected.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3099 don't delete subscription on uninstall
  pkg/addon/uninstall.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1710 fix: 3scale pipeline
  Makefile
Due: none

MGDAPI-3029 - chrome onto functional test image
  Dockerfile.functional
  test-dependancy/centos.repo
  test-dependancy/google-chrome.repo
Due: none

MGDAPI-2909 rebase and convert 1.14 and 1.15 rhoam
  bundles/managed-api-service/1.14.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.14.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.14.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.14.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.14.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.14.0/metadata/annotations.yaml
  bundles/managed-api-service/1.15.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.15.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.15.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.15.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.15.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.15.0/metadata/annotations.yaml
  bundles/managed-api-service/1.15.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
Due: none

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
