Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-5871 adding controller logic and e2e test
  config/crd/bases/integreatly.org_rhmis.yaml
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  go.mod
  go.sum
  test/common/cluster_package.go
  test/common/tests.go
  test/e2e/suite_test.go
  test/go.mod
  utils/scheme.go
  vendor/golang.org/x/net/html/doc.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/internal/socks/socks.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/windows/env_windows.go
  vendor/golang.org/x/sys/windows/exec_windows.go
  vendor/golang.org/x/sys/windows/service.go
  vendor/golang.org/x/sys/windows/types_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
  vendor/package-operator.run/apis/LICENSE
  vendor/package-operator.run/apis/core/v1alpha1/clusterobjectdeployment_types.go
  vendor/package-operator.run/apis/core/v1alpha1/clusterobjectset_types.go
  vendor/package-operator.run/apis/core/v1alpha1/clusterobjectsetphase_types.go
  vendor/package-operator.run/apis/core/v1alpha1/clusterobjectslices_types.go
  vendor/package-operator.run/apis/core/v1alpha1/clusterobjecttemplate_types.go
  vendor/package-operator.run/apis/core/v1alpha1/clusterpackage_types.go
  vendor/package-operator.run/apis/core/v1alpha1/commonobjectset_types.go
  vendor/package-operator.run/apis/core/v1alpha1/commonobjectsetphase_types.go
  vendor/package-operator.run/apis/core/v1alpha1/commonobjecttemplate_types.go
  vendor/package-operator.run/apis/core/v1alpha1/commonpackage_types.go
  vendor/package-operator.run/apis/core/v1alpha1/groupversion_info.go
  vendor/package-operator.run/apis/core/v1alpha1/objectdeployment_types.go
  vendor/package-operator.run/apis/core/v1alpha1/objectset_types.go
  vendor/package-operator.run/apis/core/v1alpha1/objectsetphase_types.go
  vendor/package-operator.run/apis/core/v1alpha1/objectslices_types.go
  vendor/package-operator.run/apis/core/v1alpha1/objecttemplate_types.go
  vendor/package-operator.run/apis/core/v1alpha1/package_types.go
  vendor/package-operator.run/apis/core/v1alpha1/zz_generated.deepcopy.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5871 add rbacs and update controller logic
  bundles/managed-api-service/1.38.0/manifests/managed-api-service.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-3209 prepare for release rhoam-v1.38.0-rc1
  bundles/managed-api-service/1.38.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-5897 update system developer probe logic
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4729 Revert "MGDAPI-4729 / Modified test to work with nonSts"
  test/functional/aws_elasticache_resources_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3229 - Update 3scale bundle (0.11.7-mas)
  apis/v1alpha1/rhmi_types.go
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.7-mas/3scale-operator.v0.11.7-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.11.7-mas/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.11.7-mas/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.11.7-mas/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.11.7-mas/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.11.7-mas/capabilities.3scale.net_applications.yaml
  manifests/integreatly-3scale/0.11.7-mas/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.11.7-mas/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.11.7-mas/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.11.7-mas/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.11.7-mas/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.11.7-mas/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.11.7-mas/capabilities.3scale.net_proxyconfigpromotes.yaml
  manifests/integreatly-3scale/0.11.7-mas/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.11.7-mas/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.11.7-mas/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3229 - Update 3scale bundle (0.11.7-mas)
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.7-mas/3scale-operator.v0.11.7-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5961 refactoring clusterPackage preflight to work with different names
  Makefile
  config/hive-config/package.yaml
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/obo/clusterPackage.go
  pkg/products/threescale/reconciler.go
  test/common/cluster_package.go
  test/common/validate_cluster_objects_templates.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5925 creation of click function to workaround JS
  test/common/authdelay_first_broker_login.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5961 Fix IDP tests
  test/common/authdelay_first_broker_login.go
  test/resources/3scale_api.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5961 refactoring to consider cluster scoped RHOAM
  pkg/products/obo/clusterPackage.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4729 "readd "MGDAPI-4729 / Modified test to work with nonSts""
  test/functional/aws_elasticache_resources_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5950 addition of troubleshooting step
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
Due: test-cases-lint, ci/prow/test-cases-lint

first commit
  pkg/metrics/metrics.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

updatE
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5929 - Use the correct ingress router to determine IP for 3scale dns alerts
  pkg/metrics/metrics.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/custom-domain/custom-domain.go
  pkg/resources/custom-domain/custom-domain_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5982 Fix e2e tests after ClusterPackage refactor
  test/common/verify_po_resource_stability.go
  test/common/verify_prometheus_metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-9999 Refactors products/reconciler unit test to not rely on kube apiserver
  pkg/products/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3461 c14b-test-automation
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test/common/tests.go
  test/common/verify_3scale_UIBBT_alerts.go
  test/go.mod
  test/go.sum
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-5963 Remove resyncRoutes function from 3scale reconciler
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5996 Parametrized sleep & fixes for alerts check
  scripts/alerts-check.sh
Due: none

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
