Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-4495 : Console routes update
  main.go
  pkg/metrics/metrics.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4495 : Console routes update
  pkg/metrics/metrics.go
  pkg/products/threescale/reconciler.go
  pkg/resources/custom-domain/custom-domain.go
  pkg/resources/custom-domain/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-4504 : Move custom domain guide for mkdocs support
  docs/custom_domain.md
Due: none

MGDAPI-4326 Test case updates for 1.24.0
  scripts/alerts-during-perf-testing.sh
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/dashboards/e04b-verify-slo-dashboard.md
  test-cases/tests/dashboards/e07b-verify-drill-down-links.md
  test-cases/tests/dashboards/e08b-verify-values-are-correct-in-resource-usage-dashboard.md
  test-cases/tests/installation/a33-validate-console-links.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
  test-cases/tests/products/h33-verify-that-3scale-invitation-mail-works-as-expected.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-3209 prepare for release rhoam-v1.26.0-rc1
  bundles/managed-api-service/1.26.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-1727 remove arn checks from feature branch for sts
  controllers/rhmi/rhmi_controller.go
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4430 Updating a39 so it no longer references a out of date test
  test-cases/tests/installation/a30-validate-installation-of-rhoam-addon-and-integration-with-ld.md
  test-cases/tests/installation/a39-installation-verify-rhoam-on-private-cluster.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-4430 Change a30 test to only test LDAP integration
  test-cases/tests/installation/a30-validate-rhoam-integration-with-ldap-idp.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-4407 critical metrics missing alert
  controllers/rhmi/rhmi_controller.go
  pkg/products/observability/prometheusRules.go
  pkg/resources/sop_url.go
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.10.0-mas)
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.10.0-mas/3scale-operator.v0.10.0-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.10.0-mas/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4407 prometheus unit tests
  Makefile
  README.md
  openshift-ci/Dockerfile.tools
  prometheus-unit-testing/rules/rhoam_general.yml
  prometheus-unit-testing/tests/critical_metrics_missing.yml
Due: none

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4533 prepare for multitenant release rhoam-v1.25.0
  bundles/multitenant-managed-api-service/1.25.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.25.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/multitenant-managed-api-service/1.25.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.25.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.25.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.25.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.25.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.25.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

MGDAPI-1727 - sts: get secret from cro namespace and put in cro expected format
  controllers/rhmi/rhmi_controller.go
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.10.0-mas)
  manifests/integreatly-3scale/0.10.0-mas/3scale-operator.v0.10.0-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4449 - add new images to related images
  products/additional-images.yaml
  scripts/prepare-release.sh
Due: none

MGDAPI-4533 prepare for multitenant release rhoam-v1.26.0
  bundles/multitenant-managed-api-service/1.26.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.26.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/multitenant-managed-api-service/1.26.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.26.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.26.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.26.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.26.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.26.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-1727 add unit tests and rename functions
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4407 add explanations to the prometheus unit test
  prometheus-unit-testing/tests/critical_metrics_missing.yml
Due: none

MGDAPI-4530 refactoring tests regarding deletion of users
  test/common/alerts_invalid_username.go
  test/common/user_dedicated_admin_synced_sso.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
