Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-4039 : Remove RHMIconfig from existing clusters.
  apis/v1alpha1/rhmiconfig_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/integreatly.org_rhmiconfigs.yaml
  controllers/rhmi/bootstrapReconciler.go
Due: none

MGDAPI-4039 : PR comments
  apis/v1alpha1/installationTypesHelper.go
  apis/v1alpha1/installationTypesHelper_test.go
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/monitoringcommon/blackbox.go
  pkg/products/rhsso/reconciler_test.go
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4712 reverse the credentials request
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Resolve rebase issues
  pkg/products/cloudresources/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4533 prepare for multitenant release rhoam-v1.27.0
  bundles/multitenant-managed-api-service/1.27.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.27.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/multitenant-managed-api-service/1.27.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.27.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.27.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.27.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.27.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.27.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-4718 nil pointer checks on 3scale routes
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4717 - update 3scale index build from fresh
  scripts/create-3scale-index.sh
Due: none

MGDAPI-3209 managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-3209 prepare for release rhoam-v1.28.0
  Makefile
  bundles/managed-api-service/1.28.0/bundle.Dockerfile
  bundles/managed-api-service/1.28.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.28.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.28.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.28.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.28.0/metadata/annotations.yaml
  bundles/managed-api-service/1.28.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4711 bump observability-operator 3.0.13 to 3.0.16
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-observability-operator/3.0.16/observability-operator-federation-reader_rbac.authorization.k8s.io_v1_rolebinding.yaml
  manifests/integreatly-observability-operator/3.0.16/observability-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-observability-operator/3.0.16/observability-operator-priority-class_scheduling.k8s.io_v1_priorityclass.yaml
  manifests/integreatly-observability-operator/3.0.16/observability-operator-webhook-service_v1_service.yaml
  manifests/integreatly-observability-operator/3.0.16/observability-operator.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/3.0.16/observability.redhat.com_observabilities.yaml
  manifests/integreatly-observability-operator/observability-operator.package.yaml
  pkg/config/observability.go
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/observability_types.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4741 : Remove RHOAM temporary code
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-4741 : rebase fix
  controllers/rhmi/bootstrapReconciler.go
Due: none

MGDAPI-4668 RHOAM v1.27.0 test case updates
  test-cases/README.md
  test-cases/tests/alerts/c08b-verify-alert-links-to-sops.md
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/dashboards/e04b-verify-slo-dashboard.md
  test-cases/tests/dashboards/e07b-verify-drill-down-links.md
  test-cases/tests/dashboards/e08b-verify-values-are-correct-in-resource-usage-dashboard.md
  test-cases/tests/installation/a30-validate-rhoam-integration-with-ldap-idp.md
  test-cases/tests/installation/a31-verify-installation-on-all-osd-versions.md
  test-cases/tests/installation/a33-validate-console-links.md
  test-cases/tests/installation/a43-rhoam-on-rosa-nonsts-autoscaling-cluster.md
  test-cases/tests/installation/a44-rhoam-on-rosa-sts.md
  test-cases/tests/products/h21b-verify-all-products-using-the-workloadwebapp.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/products/h32-verify-that-3scale-invitation-mail-is-set-correctly.md
  test-cases/tests/products/h33-verify-that-3scale-invitation-mail-works-as-expected.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-4710 Refactored create bundle script to support arg to not overwrite images
  scripts/bundle-rhmi-operators.sh
Due: none

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-4749 bump envoy image
  pkg/resources/ratelimit/envoy.go
  products/additional-images.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4485 create alert for absent cro metrics
  pkg/products/cloudresources/prometheusRules.go
  pkg/resources/metrics.go
  pkg/resources/sop_url.go
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4711 update additional-images.yaml
  products/additional-images.yaml
Due: none

MGDAPI-4650 edit, that test will be skipped if SOPs are not reachable
  test/common/verify_alert_links_to_SOPs.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4651 Update steps in C08B test case
  test-cases/tests/alerts/c08b-verify-alert-links-to-sops.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-4711 fix updated labels after observability-operator bump that caused e2e test failures
  test/common/alerts_exist.go
  test/common/dashboards_data.go
  test/common/verify_prometheus_metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4741 : PR comments
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
Due: none

MGDAPI-4355 Added function to allow updates to dbs during SA upgrades
  controllers/subscription/subscription_controller.go
Due: none

MGDAPI-4355 Added unit test for new function
  controllers/subscription/subscription_controller.go
  controllers/subscription/subscription_controller_test.go
Due: none

MGDAPI-4355 - address PR comments
  controllers/subscription/subscription_controller.go
  controllers/subscription/subscription_controller_test.go
Due: none

MGDAPI-4355 - move upgrade check after maintenance window check
  controllers/subscription/subscription_controller.go
  controllers/subscription/subscription_controller_test.go
Due: none

MGDAPI-4707 - update 3scale-operator to v0.10.0-mas
  apis/v1alpha1/rhmi_types.go
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.10.0-mas/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.10.0-mas/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.10.0-mas/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.10.0-mas/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_proxyconfigpromotes.yaml
  manifests/integreatly-3scale/0.10.0-mas/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.10.0-mas/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.10.0-mas/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4485 check if using cluster storage before triggering cro missing metrics alert
  pkg/products/cloudresources/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 remove keycloak resource dependency from usersso
  pkg/products/rhssouser/reconciler.go
  pkg/resources/dynamic-resources/dynamic-resources.go
  pkg/resources/dynamic-resources/keycloak-type.go
  pkg/resources/pullSecret.go
  pkg/resources/quota/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 update to dres, rhsso and common sso
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/resources/dynamic-resources/dynamic-resources.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 update to 3scale reconciler
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 updates to supporting files
  pkg/resources/dynamic-resources/keycloak-type.go
  pkg/resources/pullSecret.go
  pkg/resources/quota/quota.go
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4727 Added LimitRanges to each Namespace managed by RHOAM
  config/rbac/role.yaml
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/reconciler_test.go
  pkg/products/observability/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/limitRange.go
  pkg/resources/limitRange_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 fix 3scale reconciler and 3scale unit tests
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 changes to rhsso common and user sso
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/resources/dynamic-resources/dynamic-resources.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 rhsso update and unit test fix
  pkg/products/rhsso/reconciler.go
  pkg/products/rhsso/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 update e2e
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  pkg/resources/dynamic-resources/dynamic-resources.go
  test/common/alerts_invalid_username.go
  test/common/authdelay_first_broker_login.go
  test/common/default_email.go
  test/common/deployment_types.go
  test/common/namespace_restoration.go
  test/common/quota.go
  test/common/scale_up_replicas_rhsso.go
  test/common/testing_idp.go
  test/common/user_dedicated_admin_synced_sso.go
  test/common/validate_sso_config.go
  test/resources/openshift_auth.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 update remaining files
  pkg/config/rhssoCommon.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/resources/quota/quota_test.go
  pkg/resources/rhssoClient.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4122 - Support setting container platform in docker build commands
  Makefile
  make/functional.mk
  make/osde2e.mk
  make/scorecard.mk
  scripts/bundle-rhmi-operators.sh
Due: none
