Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-4122 - readme: detail use of CONTAINER_PLATFORM flag in makefile
  openshift-ci/README.md
  scripts/bundle-rhmi-operators.sh
Due: none

MGDAPI-4551 reduce the error budget and slo % dashboards to 7d
  pkg/products/monitoringcommon/dashboards/criticalSLOAlerts.go
  pkg/products/monitoringcommon/dashboards/errorBudgetBurnSLOAlerts.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 refactor
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/dynamic-resources/dynamic-resources.go
  pkg/resources/rhssoClient.go
  test/common/alerts_invalid_username.go
  test/common/authdelay_first_broker_login.go
  test/common/default_email.go
  test/common/deployment_types.go
  test/common/namespace_restoration.go
  test/common/quota.go
  test/common/scale_up_replicas_rhsso.go
  test/common/testing_idp.go
  test/common/user_dedicated_admin_synced_sso.go
  test/common/validate_sso_config.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-3209 prepare for release rhoam-v1.28.0-rc1
  bundles/managed-api-service/1.28.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-4551 update leftover ms values
  pkg/products/monitoringcommon/dashboards/criticalSLOAlerts.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 refactor dr and initial unit tests
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/dynamic-resources/dynamic-resources.go
  pkg/resources/dynamic-resources/dynamic-resources_test.go
  pkg/resources/rhssoClient.go
  test/common/namespace_restoration.go
  test/common/quota.go
  test/common/testing_idp.go
  test/resources/openshift_auth.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 point to kc client fork for testing
  go.mod
  go.sum
  vendor/github.com/MStokluska/keycloak-client/pkg/types/constants.go
  vendor/github.com/MStokluska/keycloak-client/pkg/types/keycloakBackupTypes.go
  vendor/github.com/MStokluska/keycloak-client/pkg/types/keycloakClientTypes.go
  vendor/github.com/MStokluska/keycloak-client/pkg/types/keycloakRealms.go
  vendor/github.com/MStokluska/keycloak-client/pkg/types/keycloakTypes.go
  vendor/github.com/MStokluska/keycloak-client/pkg/types/keycloakUserTypes.go
  vendor/github.com/integr8ly/keycloak-client/pkg/common/client.go
  vendor/github.com/integr8ly/keycloak-client/pkg/common/keycloakClientFactory_moq.go
  vendor/github.com/integr8ly/keycloak-client/pkg/common/keycloakClient_moq.go
  vendor/github.com/integr8ly/keycloak-client/pkg/common/types.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 add keycloak types to intly scheme and add dynamic resource package
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  pkg/resources/dynamic-resources/dynamic-resources.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 add SSO reconciler changes
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 add 3scale reconciler changes along with supporting files changes
  pkg/products/threescale/reconciler.go
  pkg/resources/pullSecret.go
  pkg/resources/rhssoClient.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 add unit tests updates
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 remove remaining keycloak operator mentions
  pkg/config/rhssoCommon.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/resources/quota/quota.go
  pkg/resources/quota/quota_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 update test folder
  test/common/alerts_invalid_username.go
  test/common/authdelay_first_broker_login.go
  test/common/default_email.go
  test/common/deployment_types.go
  test/common/namespace_restoration.go
  test/common/quota.go
  test/common/scale_up_replicas_rhsso.go
  test/common/testing_idp.go
  test/common/user_dedicated_admin_synced_sso.go
  test/common/validate_sso_config.go
  test/resources/openshift_auth.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 add rbacs
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-4720 other non-code logic updates
  pkg/products/rhssocommon/reconciler.go
  pkg/resources/dynamic-resources/dynamic-resources.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 fix gosec implicit aliasing in for loop
  pkg/products/rhssocommon/reconciler.go
  pkg/resources/dynamic-resources/dynamic-resources.go
  test/common/namespace_restoration.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4595 add golangci-lint checks
  .golangci.yaml
  Makefile
Due: none

MGDAPI-4742 Update RHSSO operator to 7.6-08
  apis/v1alpha1/rhmi_types.go
  bundles/rhsso-operator/bundles.yaml
  manifests/integreatly-rhsso/7.6.0-8/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-8/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-8/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-8/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-8/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-8/rhsso-operator.clusterserviceversion.yaml
  manifests/integreatly-rhsso/rhsso.package.yaml
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  products/additional-images.yaml
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4720 make code/fix
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4730 update go mod to point to intly keycloak-client
  go.mod
  go.sum
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4814 - Race condition setting CRO network strategy
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4812 remove annotation on 3scale apimanger until Referrer Policy is fixed"
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4812 remove annotation change and change envoy image to v 2.1.5-2
  pkg/products/threescale/reconciler.go
  pkg/resources/ratelimit/envoy.go
  products/additional-images.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4533 Prepare for multitenant release rhoam-v1.28.0
  bundles/multitenant-managed-api-service/1.28.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.28.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.28.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.28.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.28.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.28.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.28.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-4812 Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-3772 introduced env var to allow skip cleanup
  test/common/selfmanaged_apicast.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4847 - bump: oauth proxy image
  pkg/products/grafana/reconciler.go
  products/additional-images.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4815 - Investigate adding APICast metrics to RHOAM prometheus
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.29.0
  Makefile
  bundles/managed-api-service/1.29.0/bundle.Dockerfile
  bundles/managed-api-service/1.29.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.29.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.29.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.29.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.29.0/metadata/annotations.yaml
  bundles/managed-api-service/1.29.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4768 Test case updates for 1.28.0
  test-cases/tests/alerts/c03-verify-that-alerting-mechanism-works.md
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/alerts/c19-validate-creation-of-invalid-username-triggers-alert.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
  test-cases/tests/upgrade/n01b-measure-downtime-during-openshift-upgrade.md
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-4122 - Support setting container platform in docker build commands (#2957)
  Makefile
  make/functional.mk
  make/osde2e.mk
  make/scorecard.mk
  openshift-ci/README.md
  scripts/bundle-rhmi-operators.sh
Due: none

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
