Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-4807 : golangci-lint refactor
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-4807 : Refactor existing functions
  controllers/rhmi/rhmi_controller.go
  pkg/metrics/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4807 : Update rhoam telemetry record rules
  controllers/rhmi/prometheusRules.go
Due: none

MGDAPI-4807 : Expose 7 day SLO metric
  controllers/rhmi/rhmi_controller.go
  main.go
  pkg/metrics/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4807 : Update from review comments
  pkg/metrics/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4807 : Expose 7 day SLO error remaining budget metric
  controllers/rhmi/rhmi_controller.go
  main.go
  pkg/metrics/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4807 : adding unit tests
  controllers/rhmi/bootstrapReconciler_test.go
  controllers/rhmi/rhmi_controller_test.go
Due: none

MGDAPI-4768 Updates to SM apicast test and test case
  test-cases/tests/alerts/c19-validate-creation-of-invalid-username-triggers-alert.md
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test/common/selfmanaged_apicast.go
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

Mgdapi 4741 - Removal of temporary code (#2949)
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-4639 Refactored subscription_controller reconciler to not overwrite deployment resources
  controllers/subscription/subscription_controller.go
  controllers/subscription/subscription_controller_test.go
Due: none

MGDAPI-4639 Added e2e test to verify all containers have set CPU/memory requests.
  test/common/tests.go
  test/common/validate_resource_requirements.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4639 Cleaned up logging and switched quarkus image to integreatly's fork for M01 e2e test
  test/common/multitenancy.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4639 Added annotation to set CPU/memory requests for Envoy containers
  pkg/products/threescale/reconciler_test.go
  pkg/resources/ratelimit/envoy.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4813 Update RHSSO operator 7.6.1-3
  apis/v1alpha1/rhmi_types.go
  bundles/rhsso-operator/bundles.yaml
  manifests/integreatly-rhsso/7.6.1-3/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-3/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-3/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-3/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-3/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-3/rhsso-operator.clusterserviceversion.yaml
  manifests/integreatly-rhsso/rhsso.package.yaml
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  products/additional-images.yaml
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4813 Update RHSSO operator 7.6.0-10
  apis/v1alpha1/rhmi_types.go
  bundles/rhsso-operator/bundles.yaml
  manifests/integreatly-rhsso/7.6.0-10/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-10/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-10/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-10/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-10/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.0-10/rhsso-operator.clusterserviceversion.yaml
  manifests/integreatly-rhsso/rhsso.package.yaml
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4859 - images: remove OO custom prometheus index
  bundles/managed-api-service/1.29.0/manifests/managed-api-service.clusterserviceversion.yaml
  products/additional-images.yaml
Due: none

MGDAPI-4596 - refactor: common testScheme for unit tests
  controllers/rhmi/rhmi_controller_test.go
  pkg/addon/parameters_test.go
  pkg/metrics/metrics_test.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/products/grafana/reconciler_test.go
  pkg/products/marin3r/reconciler_test.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/products/monitoringcommon/dashboardHelper_test.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/observability/reconciler_test.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/backup/aws_test.go
  pkg/resources/cluster_test.go
  pkg/resources/custom-domain/custom-domain_test.go
  pkg/resources/custom-smtp/custom-smtp_test.go
  pkg/resources/limitRange_test.go
  pkg/resources/marketplace/implicit_catalog_source_reconciler_test.go
  pkg/resources/poddistribution/poddistribution_test.go
  pkg/resources/prometheusRules_test.go
  pkg/resources/pullSecret_test.go
  pkg/resources/reconciler_test.go
  pkg/resources/rhsso_test.go
  pkg/resources/smtp_test.go
  pkg/resources/sts/sts_test.go
  pkg/resources/user/userHelper_test.go
  pkg/resources/waitForResources_test.go
  test/common/grafana_routes.go
  test/common/network_policy_access_ns_to_svc.go
  test/common/quota.go
  test/utils/scheme.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4596 - lint: errcheck
  .golangci.yaml
  controllers/rhmi/bootstrapReconciler_test.go
  controllers/subscription/csvlocator/csvlocator_test.go
  controllers/subscription/rhmiConfigs/main_test.go
  controllers/subscription/subscription_controller_test.go
  pkg/addon/operator_run_test.go
  pkg/config/manager_test.go
  pkg/products/marin3r/config/config_test.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/resources/backup/aws_test.go
  pkg/resources/backup/cronjob_test.go
  pkg/resources/backup_test.go
  pkg/resources/marketplace/configmap_catalog_source_reconciler_test.go
  pkg/resources/marketplace/grpc_image_catalog_source_reconciler_test.go
  pkg/resources/metrics_test.go
  pkg/resources/topologyConstraints_test.go
  pkg/webhooks/operator_webhooks_test.go
  test/common/default_email.go
  test/common/grafana_routes.go
  test/common/network_policy_access_ns_to_svc.go
  test/common/quota.go
  test/utils/scheme.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4596 - test: use t.Setenv instead of os.Setenv
  pkg/resources/marketplace/implicit_catalog_source_reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4831 - lint: increase timeout to 5m
  .golangci.yaml
Due: none

MGDAPI-4897 - vendor: do not ignore DS_STORE
  .gitignore
  vendor/github.com/integr8ly/keycloak-client/pkg/.DS_Store
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.29.0-rc1
  bundles/managed-api-service/1.29.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-4713 use csv_succeeded instead of csv_abnormal metric
  pkg/products/observability/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4639 using 5M quota in A34 test
  test/common/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4642 Delete KC pod > 75% CPU on multitenant RHOAM
  go.mod
  go.sum
  pkg/products/rhsso/reconciler.go
  vendor/k8s.io/metrics/LICENSE
  vendor/k8s.io/metrics/pkg/apis/metrics/doc.go
  vendor/k8s.io/metrics/pkg/apis/metrics/register.go
  vendor/k8s.io/metrics/pkg/apis/metrics/types.go
  vendor/k8s.io/metrics/pkg/apis/metrics/v1alpha1/doc.go
  vendor/k8s.io/metrics/pkg/apis/metrics/v1alpha1/generated.pb.go
  vendor/k8s.io/metrics/pkg/apis/metrics/v1alpha1/generated.proto
  vendor/k8s.io/metrics/pkg/apis/metrics/v1alpha1/register.go
  vendor/k8s.io/metrics/pkg/apis/metrics/v1alpha1/types.go
  vendor/k8s.io/metrics/pkg/apis/metrics/v1alpha1/zz_generated.conversion.go
  vendor/k8s.io/metrics/pkg/apis/metrics/v1alpha1/zz_generated.deepcopy.go
  vendor/k8s.io/metrics/pkg/apis/metrics/v1beta1/doc.go
  vendor/k8s.io/metrics/pkg/apis/metrics/v1beta1/generated.pb.go
  vendor/k8s.io/metrics/pkg/apis/metrics/v1beta1/generated.proto
  vendor/k8s.io/metrics/pkg/apis/metrics/v1beta1/register.go
  vendor/k8s.io/metrics/pkg/apis/metrics/v1beta1/types.go
  vendor/k8s.io/metrics/pkg/apis/metrics/v1beta1/zz_generated.conversion.go
  vendor/k8s.io/metrics/pkg/apis/metrics/v1beta1/zz_generated.deepcopy.go
  vendor/k8s.io/metrics/pkg/apis/metrics/zz_generated.deepcopy.go
  vendor/k8s.io/metrics/pkg/client/clientset/versioned/clientset.go
  vendor/k8s.io/metrics/pkg/client/clientset/versioned/doc.go
  vendor/k8s.io/metrics/pkg/client/clientset/versioned/scheme/doc.go
  vendor/k8s.io/metrics/pkg/client/clientset/versioned/scheme/register.go
  vendor/k8s.io/metrics/pkg/client/clientset/versioned/typed/metrics/v1alpha1/doc.go
  vendor/k8s.io/metrics/pkg/client/clientset/versioned/typed/metrics/v1alpha1/generated_expansion.go
  vendor/k8s.io/metrics/pkg/client/clientset/versioned/typed/metrics/v1alpha1/metrics_client.go
  vendor/k8s.io/metrics/pkg/client/clientset/versioned/typed/metrics/v1alpha1/nodemetrics.go
  vendor/k8s.io/metrics/pkg/client/clientset/versioned/typed/metrics/v1alpha1/podmetrics.go
  vendor/k8s.io/metrics/pkg/client/clientset/versioned/typed/metrics/v1beta1/doc.go
  vendor/k8s.io/metrics/pkg/client/clientset/versioned/typed/metrics/v1beta1/generated_expansion.go
  vendor/k8s.io/metrics/pkg/client/clientset/versioned/typed/metrics/v1beta1/metrics_client.go
  vendor/k8s.io/metrics/pkg/client/clientset/versioned/typed/metrics/v1beta1/nodemetrics.go
  vendor/k8s.io/metrics/pkg/client/clientset/versioned/typed/metrics/v1beta1/podmetrics.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 - 1.29.0 non service affecting
  bundles/managed-api-service/1.29.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-4533 Prepare for multitenant release rhoam-v1.29.0
  bundles/multitenant-managed-api-service/1.29.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.29.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.29.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.29.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.29.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.29.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.29.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3209 Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-3209 prepare for release rhoam-v1.30.0
  Makefile
  bundles/managed-api-service/1.30.0/bundle.Dockerfile
  bundles/managed-api-service/1.30.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.30.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.30.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.30.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.30.0/metadata/annotations.yaml
  bundles/managed-api-service/1.30.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4920 Updated prepare-release script to not overwrite PROJECT file
  scripts/prepare-release.sh
Due: none

THREESCALE-8772 For TEST Only. Not for merge
  Makefile
  apis/v1alpha1/rhmi_types.go
  bundles/3scale-operator/bundles.yaml
  bundles/managed-api-service/1.29.1/bundle.Dockerfile
  bundles/managed-api-service/1.29.1/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.29.1/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.29.1/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.29.1/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.29.1/metadata/annotations.yaml
  bundles/managed-api-service/1.29.1/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  manifests/integreatly-3scale/0.10.1/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.10.1/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.10.1/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.10.1/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.10.1/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.10.1/capabilities.3scale.net_applications.yaml
  manifests/integreatly-3scale/0.10.1/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.10.1/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.10.1/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.10.1/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.10.1/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.10.1/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.10.1/capabilities.3scale.net_proxyconfigpromotes.yaml
  manifests/integreatly-3scale/0.10.1/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.10.1/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.10.1/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  products/installation.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4932 wait until 3scale account ready to add dashboard link
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4706 - increase permissions for when ns is created by hive
  Makefile
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-4894 update targets to test cases
  test-cases/tests/authorization/b08b-verify-user-rhsso-permissions.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
  test-cases/tests/products/h32-verify-that-3scale-invitation-mail-is-set-correctly.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-4920 Updated prepare release script to move bundle.Dockefile for MT RHOAM
  scripts/prepare-release.sh
Due: none

MGDAPI-4598 : Enable ineffassign
  .golangci.yaml
  controllers/subscription/csvlocator/csvlocator.go
  controllers/subscription/csvlocator/csvlocator_test.go
  controllers/tenant/apimanagementtenant_controller.go
  controllers/user/user_controller.go
  pkg/config/manager.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/reconciler.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/products/threescale/asserts_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/three_scale_client.go
  pkg/resources/marketplace/implicit_catalog_source_reconciler_test.go
  pkg/resources/marketplace/manifestHelper.go
  pkg/resources/podHelper.go
  pkg/resources/ratelimit/envoy.go
  test/common/3scale_smtp.go
  test/common/multitenancy.go
  test/common/scale_up_replicas_rhsso.go
  test/common/scale_up_replicas_threescale.go
  test/common/selfmanaged_apicast.go
  test/common/user_dedicated_admin_synced_sso.go
  test/e2e/suite_test.go
  test/resources/3scale_api.go
  test/resources/oauth_proxy_auth.go
  test/resources/openshift_api.go
  test/scripts/products/h22-validate-that-rate-limit-service-is-working-as-expected/h22-validate-that-rate-limit-service-is-working-as-expected.go
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/h24-verify-selfmanaged-apicast-and-custom-policy.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
