Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-3029 - fix: install chrome to base prow image
  openshift-ci/Dockerfile.tools
Due: none

fix: valid dms secret value format
  test/osde2e/pre-test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3203 fix test
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1162 fix c04 a26, osde2e: useclusterstorage
  test/osde2e/pre-test.go
  test/osde2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

copy catalog source rhoam operator to 3scale to allow 3scale subscription to install
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  config/scorecard/kuttl/rhoam-install/02-cluster-storage.yaml
  pkg/resources/marketplace/catalog_source_reconciler.go
  pkg/resources/marketplace/configmap_catalog_source_reconciler.go
  pkg/resources/marketplace/grpc_image_catalog_source_reconciler.go
  pkg/resources/marketplace/grpc_image_catalog_source_reconciler_test.go
  pkg/resources/marketplace/implicit_catalog_source_reconciler.go
  pkg/resources/marketplace/implicit_catalog_source_reconciler_test.go
  pkg/resources/marketplace/manager.go
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.15.2
  Makefile
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.2/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.2/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.2/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.2/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.2/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/managed-api-service.package.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3234 bump cro to 0.33.0
  products/installation-cpaas.yaml
Due: none

MGDAPI-3270 use new RHSSO 7.5 images
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

bump CRO and add alert
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/0.33.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.33.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.33.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.33.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  pkg/products/cloudresources/prometheusRules.go
  pkg/products/cloudresources/reconciler.go
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
  test/common/alerts_exist.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_redis.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/custom_metrics.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3203 - emit metric around vpc limits hit
  pkg/products/cloudresources/prometheusRules.go
  pkg/resources/sop_url.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for production
  prodsec-manifests/rhmi-production-release-manifest.txt
Due: none

MGDAPI-3237 don't send emails on info level alerts
  templates/monitoring/alertmanager/alertmanager-application-monitoring.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

Note on how to log into 3scale for upgrade test case
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-1710 improvement for oc command
  Makefile
Due: none

MGDAPI-2909 move docker file to bundle folder
  scripts/prepare-release.sh
Due: none

MGDAPI-3038 fix h22
  test/scripts/products/h22-validate-that-rate-limit-service-is-working-as-expected/h22-validate-that-rate-limit-service-is-working-as-expected.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-3275 update jira auth in test-case tooling
  test-cases/README.md
  test-cases/tools/cmd/jira.ts
  test-cases/tools/cmd/polarion.ts
  test-cases/tools/lib/jira.ts
Due: test-cases-lint, ci/prow/test-cases-lint

address comments
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-3080 Remove the monitoring and monitoring-spec reconcilers #1
  controllers/rhmi/types.go
Due: none

MGDAPI-2370 fix entrypoint name
  config/scorecard/patches/kuttl.config.yaml
Due: none

MGDAPI-3323 - fix the e2e test for Multi Tenant RHOAM
  test/common/multitenancy.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3340 test cases for 1.16.0
  test-cases/tests/authorization/b08b-verify-user-rhsso-permissions.md
  test-cases/tests/authorization/b09-verify-dedicated-admin-users-are-synced-with-user-sso.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/dashboards/e04b-verify-slo-dashboard.md
  test-cases/tests/dashboards/e08b-verify-values-are-correct-in-resource-usage-dashboard.md
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/performance/k04-run-performance-test-against-rhoam-3scale-user-sso.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-3202 - RHOAM Multitenant on demand (crd based solution)
  Makefile
  apis/v1alpha1/rhoamtenant_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  config/crd-sandbox/bases/integreatly.org_rhoamtenants.yaml
  config/crd-sandbox/kustomization.yaml
  config/crd-sandbox/patches/cainjection_in_rhoamtenants.yaml
  config/crd-sandbox/patches/webhook_in_rhoamtenants.yaml
  config/crd/bases/integreatly.org_rhoamtenants.yaml
  config/rbac/rhoamtenant_editor_role.yaml
  config/rbac/rhoamtenant_viewer_role.yaml
  config/rbac/role.yaml
  config/redhat-sandbox/kustomization.yaml
  controllers/tenant/rhoamtenant_controller.go
  main.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

revert changes around bundle script
  Makefile
  scripts/bundle-rhmi-operators.sh
Due: none

MGDAPI-2660 Removing installPlan checks
  controllers/subscription/subscription_controller.go
  go.mod
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3222 - add keycloak-client to products
  prodsec-manifests/rhmi-master-manifest.txt
  prodsec-manifests/rhoam-master-manifest.txt
  products/products.yaml
Due: none

rebase and update up to 1.15.2
  bundles/managed-api-service/1.15.1/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.15.1/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.15.1/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.15.1/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.15.1/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.15.1/metadata/annotations.yaml
  bundles/managed-api-service/1.15.1/tests/scorecard/config.yaml
  bundles/managed-api-service/1.15.2/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.15.2/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.15.2/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.15.2/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.15.2/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.15.2/metadata/annotations.yaml
  bundles/managed-api-service/1.15.2/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  packagemanifests/managed-api-service/1.15.1/bundle.Dockerfile
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/metadata/annotations.yaml
  packagemanifests/managed-api-service/1.15.2/bundle.Dockerfile
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/metadata/annotations.yaml
Due: none

MGDAPI-2370 scorecard: selfSignedCerts: true
  config/scorecard/kuttl/00-installation/02-cluster-storage.yaml
Due: none

MGDAPI-3340 address jira project metadata changes
  test-cases/tools/cmd/jira.ts
  test-cases/tools/lib/jira.ts
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-3315 bump cro to v0.35.1
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-cloud-resources/0.35.1/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.35.1/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.35.1/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.35.1/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.35.1/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.35.1/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.35.1/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.35.1/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2370 add happy path tests to scorecard
  config/scorecard/kuttl/00-installation/00-assert.yaml
  config/scorecard/kuttl/00-installation/01-assert.yaml
  config/scorecard/kuttl/00-installation/01-create-secrets.yaml
  config/scorecard/kuttl/00-installation/02-assert.yaml
  config/scorecard/kuttl/00-installation/02-cluster-storage.yaml
  config/scorecard/kuttl/00-installation/03-assert.yaml
  config/scorecard/kuttl/00-installation/04-assert.yaml
  config/scorecard/kuttl/00-installation/05-assert.yaml
  config/scorecard/kuttl/00-installation/06-assert.yaml
  config/scorecard/kuttl/00-installation/07-assert.yaml
  config/scorecard/kuttl/00-installation/08-assert.yaml
  config/scorecard/kuttl/00-installation/resources/secret-addon.yaml
  config/scorecard/kuttl/00-installation/resources/secret-dms.yaml
  config/scorecard/kuttl/00-installation/resources/secret-pagerduty.yaml
  config/scorecard/kuttl/00-installation/resources/secret-smtp.yaml
  config/scorecard/kuttl/01-happy-path/00-assert.yaml
  config/scorecard/kuttl/01-happy-path/00-before.yaml
  config/scorecard/kuttl/01-happy-path/00-test-pod-template.yaml
  config/scorecard/kuttl/01-happy-path/01-assert.yaml
  config/scorecard/kuttl/01-happy-path/02-assert.yaml
  config/scorecard/kuttl/kuttl-test.yaml
  config/scorecard/patches/kuttl.config.yaml
Due: none

MGDAPI-3315 Add CRO release v0.35.0 to RHOAM
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-cloud-resources/0.34.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.34.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.34.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.34.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.34.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.34.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.34.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.34.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/0.35.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.35.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.35.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.35.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.35.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.35.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.35.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.35.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2370 increase cluster size for scalab. test
  config/scorecard/patches/kuttl.config.yaml
Due: none

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

MGDAPI-3331: Re-enable skipped test
  test/common/3Scale_user_promotion.go
  test/common/3scale_crudl.go
  test/common/authdelay_first_broker_login.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update to check if env is present pre waitpoll
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-2370 scalability tests, custom kuttl image
  config/scorecard/kuttl/02-scalability/00-assert.yaml
  config/scorecard/kuttl/02-scalability/00-before.yaml
  config/scorecard/kuttl/02-scalability/00-test-pod-template.yaml
  config/scorecard/kuttl/02-scalability/01-assert.yaml
  config/scorecard/kuttl/02-scalability/02-assert.yaml
  config/scorecard/kuttl/kuttl-test.yaml
  config/scorecard/patches/kuttl.config.yaml
Due: none
