Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-5263 - grafana: bump init plugin image
  pkg/products/grafana/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5249 - ratelimit: bump envoy proxy image
  pkg/resources/ratelimit/envoy.go
  products/additional-images.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5266 - obervability: v4.1.2
  apis/v1alpha1/rhmi_types.go
  bundles/managed-api-service/1.32.0/manifests/managed-api-service.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/4.1.1/observability-operator-federation-reader_rbac.authorization.k8s.io_v1_rolebinding.yaml
  manifests/integreatly-observability-operator/4.1.1/observability-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-observability-operator/4.1.1/observability-operator-priority-class_scheduling.k8s.io_v1_priorityclass.yaml
  manifests/integreatly-observability-operator/4.1.1/observability-operator-webhook-service_v1_service.yaml
  manifests/integreatly-observability-operator/4.1.1/observability-operator.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/4.1.1/observability.redhat.com_observabilities.yaml
  manifests/integreatly-observability-operator/4.1.2/observability-operator-federation-reader_rbac.authorization.k8s.io_v1_rolebinding.yaml
  manifests/integreatly-observability-operator/4.1.2/observability-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-observability-operator/4.1.2/observability-operator-priority-class_scheduling.k8s.io_v1_priorityclass.yaml
  manifests/integreatly-observability-operator/4.1.2/observability-operator-webhook-service_v1_service.yaml
  manifests/integreatly-observability-operator/4.1.2/observability-operator.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/4.1.2/observability.redhat.com_observabilities.yaml
  manifests/integreatly-observability-operator/observability-operator.package.yaml
  products/additional-images.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5250 - keycloak: v7.6.1-10
  apis/v1alpha1/rhmi_types.go
  bundles/rhsso-operator/bundles.yaml
  manifests/integreatly-rhsso/7.6.1-10/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-10/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-10/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-10/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-10/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-10/rhsso-operator.clusterserviceversion.yaml
  manifests/integreatly-rhsso/7.6.1-7/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-7/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-7/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-7/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-7/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-7/rhsso-operator.clusterserviceversion.yaml
  manifests/integreatly-rhsso/7.6.1-8/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-8/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-8/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-8/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-8/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-8/rhsso-operator.clusterserviceversion.yaml
  manifests/integreatly-rhsso/7.6.1-9/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-9/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-9/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-9/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-9/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.1-9/rhsso-operator.clusterserviceversion.yaml
  manifests/integreatly-rhsso/rhsso.package.yaml
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/reconciler.go
  products/additional-images.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5250 - fix: always use rolling strategy keycloak pod rollouts
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5242 - extend route timeout to 75s
  pkg/products/threescale/envoyconfig.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-5245 C08B to be executed manually
  test-cases/tests/alerts/c08b-verify-alert-links-to-sops.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-5245 Test case updates for 1.32.0
  test-cases/tests/authorization/b08b-verify-user-rhsso-permissions.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/installation/a37-rhoam-on-rosa.md
  test-cases/tests/installation/a44-rhoam-on-rosa-sts.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/products/h32-verify-that-3scale-invitation-mail-is-set-correctly.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-5143 - Update ROSA pipeline to cover Private Link and FW
  scripts/ec2_deploy_teardown/deployEC2.sh
Due: none

MGDAPI-5125 Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-4533 prepare for multitenant release rhoam-v1.32.0
  bundles/multitenant-managed-api-service/1.32.0/bundle.Dockerfile
  bundles/multitenant-managed-api-service/1.32.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.32.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.32.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.32.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.32.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.32.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.32.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-5250 - keycloak: v7.6.2-3
  apis/v1alpha1/rhmi_types.go
  bundles/rhsso-operator/bundles.yaml
  manifests/integreatly-rhsso/7.6.2-3/keycloakbackups.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.2-3/keycloakclients.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.2-3/keycloakrealms.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.2-3/keycloaks.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.2-3/keycloakusers.keycloak.org.crd.yaml
  manifests/integreatly-rhsso/7.6.2-3/rhsso-operator.clusterserviceversion.yaml
  manifests/integreatly-rhsso/rhsso.package.yaml
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/reconciler.go
  products/installation-cpaas.yaml
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.33.0
  Makefile
  bundles/managed-api-service/1.33.0/bundle.Dockerfile
  bundles/managed-api-service/1.33.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.33.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.33.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.33.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.33.0/metadata/annotations.yaml
  bundles/managed-api-service/1.33.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5245 Fix and unskip the E05 and E10 tests
  test/common/grafana_routes.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5248 - grafana: bump oauth proxy image
  pkg/products/grafana/reconciler.go
  products/additional-images.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5299 - fix: OperatorGroup not being updated on namespace change
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/reconciler_test.go
  pkg/products/observability/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/marketplace/manager.go
  pkg/resources/marketplace/manager_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3229 - Update 3scale bundle (0.11.1-mas)
  apis/v1alpha1/rhmi_types.go
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.1-mas/3scale-operator.v0.11.1-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.11.1-mas/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.11.1-mas/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.11.1-mas/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.11.1-mas/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.11.1-mas/capabilities.3scale.net_applications.yaml
  manifests/integreatly-3scale/0.11.1-mas/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.11.1-mas/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.11.1-mas/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.11.1-mas/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.11.1-mas/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.11.1-mas/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.11.1-mas/capabilities.3scale.net_proxyconfigpromotes.yaml
  manifests/integreatly-3scale/0.11.1-mas/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.11.1-mas/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.11.1-mas/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5275 - fix: disable cluster logging
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  go.mod
  go.sum
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
  test/utils/scheme.go
  vendor/github.com/openshift/cluster-logging-operator/LICENSE
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/cluster_log_forwarder.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/cluster_log_forwarder_types.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/clusterlogging_types.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/conditions.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/doc.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/groupversion_info.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/output_types.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/cluster-logging-operator/internal/status/conditions.go
  vendor/github.com/openshift/cluster-logging-operator/internal/status/doc.go
  vendor/github.com/openshift/elasticsearch-operator/LICENSE
  vendor/github.com/openshift/elasticsearch-operator/apis/logging/v1/elasticsearch_types.go
  vendor/github.com/openshift/elasticsearch-operator/apis/logging/v1/groupversion_info.go
  vendor/github.com/openshift/elasticsearch-operator/apis/logging/v1/index_management_types.go
  vendor/github.com/openshift/elasticsearch-operator/apis/logging/v1/kibana_types.go
  vendor/github.com/openshift/elasticsearch-operator/apis/logging/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3229 - Update 3scale bundle (0.11.2-mas)
  apis/v1alpha1/rhmi_types.go
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.2-mas/3scale-operator.v0.11.2-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.11.2-mas/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.11.2-mas/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.11.2-mas/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_applications.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_proxyconfigpromotes.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.11.2-mas/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.11.2-mas/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3229 - Update 3scale bundle (0.11.2-mas)
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.2-mas/3scale-operator.v0.11.2-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

3scale update to 0.11.2-mas (#3122)
  apis/v1alpha1/rhmi_types.go
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.2-mas/3scale-operator.v0.11.2-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.11.2-mas/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.11.2-mas/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.11.2-mas/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_applications.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_proxyconfigpromotes.yaml
  manifests/integreatly-3scale/0.11.2-mas/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.11.2-mas/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.11.2-mas/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4509 improvements to the test case description
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-3209 prepare for release rhoam-v1.33.0-rc1
  bundles/managed-api-service/1.33.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-5328 - fix: installation of OO on fresh clusters without cluster logging previously installed
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5347 test case update resolution legend
  test-cases/common/general-guidelines.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-4800 make 3cale operator cluster scoped
  pkg/products/threescale/reconciler.go
  pkg/resources/marketplace/manager.go
  test/common/3scale_tenant_via_CR.go
  test/common/shared_functions.go
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4800 add gosec exception to for self signed certs in test case
  Makefile
  pkg/resources/marketplace/manager.go
  test/common/3scale_product_via_CR.go
  test/common/3scale_tenant_via_CR.go
  test/common/shared_functions.go
  test/e2e/integretly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3229 - Update 3scale bundle (0.11.3-mas)
  apis/v1alpha1/rhmi_types.go
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.3-mas/3scale-operator.v0.11.3-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.11.3-mas/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.11.3-mas/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.11.3-mas/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.11.3-mas/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.11.3-mas/capabilities.3scale.net_applications.yaml
  manifests/integreatly-3scale/0.11.3-mas/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.11.3-mas/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.11.3-mas/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.11.3-mas/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.11.3-mas/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.11.3-mas/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.11.3-mas/capabilities.3scale.net_proxyconfigpromotes.yaml
  manifests/integreatly-3scale/0.11.3-mas/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.11.3-mas/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.11.3-mas/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5245 Updated general guidelines with new resolution types
  test-cases/common/general-guidelines.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-5245 Change priority names
  test-cases/README.md
  test-cases/tools/lib/test-run.ts
Due: test-cases-lint, ci/prow/test-cases-lint

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
