Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

ASDF
  README.md
Due: none

MGDAPI-4265 removing message bus fields from redisSecret
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Revert "MGDAPI-3855 - Implement persistent volume for alert manager"
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-observability-operator/3.0.11/observability-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-observability-operator/3.0.11/observability-operator-priority-class_scheduling.k8s.io_v1_priorityclass.yaml
  manifests/integreatly-observability-operator/3.0.11/observability-operator-webhook-service_v1_service.yaml
  manifests/integreatly-observability-operator/3.0.11/observability-operator.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/3.0.11/observability.redhat.com_observabilities.yaml
  manifests/integreatly-observability-operator/observability-operator.package.yaml
  pkg/config/observability.go
  pkg/products/observability/reconciler.go
  products/installation-cpaas.yaml
  products/installation.yaml
  test/common/pvc_validate.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/index.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/observability_types.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/observability_webhook.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4311 - add grafanadashboard CRD check to rhsso
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4311 - include unit tests
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 Update 3scale manifests (0.9.0)
  apis/v1alpha1/rhmi_types.go
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 bump types product version
  apis/v1alpha1/rhmi_types.go
Due: none

MGDAPI-3452-C08B-automated-test (#2760)
  test/common/tests.go
  test/common/verify_alert_links_to_SOPs.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4016 Added support to create MT RHOAM manifests and bundles
  Makefile
  README.md
  bundles/multitenant-managed-api-service/1.21.0/bundle.Dockerfile
  bundles/multitenant-managed-api-service/1.21.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.21.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/multitenant-managed-api-service/1.21.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.21.0/manifests/multitenant-managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.21.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.21.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.21.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.21.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/bundle.Dockerfile
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/multitenant-managed-api-service.clusterserviceversion.yaml
  config/manifests-multitenant-rhoam/kustomization.yaml
  envs/multitenant-managed-api.env
  scripts/README.md
  scripts/bundle-rhmi-operators.sh
  scripts/prepare-release.sh
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4016 Added example of APIManagementTenant CRD to CSV and updated script to patch ALERT_SMTP_FROM value for MT bundles
  bundles/multitenant-managed-api-service/1.22.0/bundle.Dockerfile
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/multitenant-managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.22.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.22.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/multitenant-managed-api-service.clusterserviceversion.yaml
  config/samples/apimanagementtenant.yaml
  config/samples/kustomization.yaml
  scripts/prepare-release.sh
Due: none

MGDAPI-4016 Refactored build logic so MT RHOAM uses the same operator image and package name as standard RHOAM.
  bundles/multitenant-managed-api-service/1.22.0/bundle.Dockerfile
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.23.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.23.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/multitenant-managed-api-service/1.23.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.23.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.23.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.23.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.23.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.23.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/bundle.Dockerfile
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  scripts/README.md
  scripts/bundle-rhmi-operators.sh
  scripts/prepare-release.sh
Due: none

MGDAPI-4016 Added 1.22.0 bundle for MT RHOAM
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.22.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.22.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.22.0/tests/scorecard/config.yaml
Due: none

MGDAPI-4016 Removed separate version tracking for MT RHOAM
  Makefile
  envs/multitenant-managed-api.env
  scripts/prepare-release.sh
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4239 initial commit of changes for sop migration
  pkg/products/monitoring/prometheusRules.go
  pkg/products/observability/prometheusRules.go
  pkg/resources/sop_url.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3878: Added annotation to 3scale apimanager to skip apicast service port reconcile & fixed failing tests
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4262 fie E2E tests for MT RHOAM
  test/common/3scale_smtp.go
  test/common/quota.go
  test/common/selfmanaged_apicast.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4262 adressing comments
  test/common/3scale_smtp.go
  test/common/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4289 bump cro to v0.40.0
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-cloud-resources/0.40.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.40.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.40.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.40.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.40.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.40.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.40.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.40.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.24.0-rc1
  bundles/managed-api-service/1.24.0/bundle.Dockerfile
  bundles/managed-api-service/1.24.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.24.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.24.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.24.0/metadata/annotations.yaml
  bundles/managed-api-service/1.24.0/tests/scorecard/config.yaml
Due: none

MGDAPI-4348 update H33 step 3 for correct navigation to ACCOUNTS
  test-cases/tests/products/h33-verify-that-3scale-invitation-mail-works-as-expected.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-4354 fix: improve reconcile delay tracking logic
  controllers/rhmi/rhmi_controller.go
  main.go
  pkg/metrics/metrics.go
  pkg/products/observability/prometheusRules.go
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.24.0-rc2
  bundles/managed-api-service/1.24.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

Update expected postgres version in test
  test/functional/aws_rds_resources_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4357 - Fix script #3 in Test E04B - Verify SLO dashboard - user-sso statefulset not scaling down
  test-cases/tests/dashboards/e04b-verify-slo-dashboard.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-3795 adding error handling where required. 22/22 errors handled.
  Makefile
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
  controllers/rhmiconfig/helpers/update_status.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/ups/reconciler.go
  pkg/resources/marketplace/implicit_catalog_source_reconciler.go
  pkg/resources/marketplace/manifestHelper.go
  pkg/resources/openshift.go
  pkg/webhooks/webhook_register.go
  test/common/alerts_invalid_username.go
  test/common/user_dedicated_admin_synced_sso.go
  test/functional/multiaz_pod_distribution.go
  test/resources/codeready_login.go
  test/resources/oauth_proxy_auth.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3795 remove space - fixed formatting
  test/common/user_dedicated_admin_synced_sso.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3795 added unit tests
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
Due: none

MGDAPI-4378 defer stop of reconcileDelayedMetric timer
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-4379 - fix: delete ratelimit entries before scaling pods
  pkg/products/marin3r/limitadorClient.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/marin3r/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4287 Removed code that deleted old stages during upgrade to 1.24 since no longer needed
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-1905 - Implement a workaround for the lack of STS support in 3Scale
  Makefile
  config/secrets/addon-params-s3-bucket-secret.yaml
  pkg/resources/sts/sts.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e
