Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-4114 / changed namespaces
  test/common/3scale_backend_via_CR.go
  test/common/3scale_product_via_CR.go
  test/common/3scale_tenant_via_CR.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3875 / Added resource limits + requests
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3876 add e2e test to validate resources on pods
  test/common/tests.go
  test/common/validate_resource_limits.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3979 - add manifests to generate related images
  manifests/integreatly-3scale/0.8.3-0.1649688682/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.8.3-0.1649688682/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.8.3-0.1649688682/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.8.3-0.1649688682/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.8.3-0.1649688682/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.8.3-0.1649688682/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.8.3-0.1649688682/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.8.3-0.1649688682/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.8.3-0.1649688682/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.8.3-0.1649688682/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.8.3-0.1649688682/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.8.3-0.1649688682/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.8.3-0.1649688682/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.8.3-0.1649688682/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.22.0-rc1
  bundles/managed-api-service/1.22.0/bundle.Dockerfile
  bundles/managed-api-service/1.22.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.22.0/metadata/annotations.yaml
Due: none

MGDAPI-4098 Update h32 test case
  test-cases/tests/products/h32-verify-that-3scale-invitation-mail-is-set-correctly.md
Due: test-cases-lint, ci/prow/test-cases-lint

squashed stages into one
  apis/v1alpha1/rhmi_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  controllers/rhmi/types.go
Due: none

edited grafana route and its default namespace
  pkg/products/grafana/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

bring back customer-monitoring namespace
  pkg/products/grafana/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix unit tests
  pkg/products/marin3r/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix grafana failed
  pkg/products/marin3r/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

singe uninstall stage
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/types.go
Due: none

fix autogenerated files
  apis/v1alpha1/zz_generated.deepcopy.go
Due: none

fix version field in rhmi CR
  pkg/products/cloudresources/reconciler.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/reconciler.go
  pkg/products/observability/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

tidy up after ther rebase
  pkg/products/grafana/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix e2e tests
  test/common/integreatly_stages.go
  test/common/operand_versions.go
  test/common/operator_versions.go
  test/common/validate_sso_config.go
  test/e2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

move MT RHOAM to single-stage
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/types.go
Due: none

fix mt tests. Remove deprecated call
  controllers/namespacelabel/namespacelabel_controller.go
  controllers/rhmi/rhmi_controller.go
  controllers/subscription/subscription_controller.go
  main.go
  pkg/webhooks/operator_webhooks.go
  pkg/webhooks/reconciler.go
  test/common/integreatly_stages.go
  test/common/operand_versions.go
  test/common/operator_versions.go
  test/common/types.go
  test/e2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix coverage and remove unused deprecated calls
  controllers/rhmi/rhmi_controller.go
  main.go
  pkg/resources/k8sutil.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3636 Extended multitenant e2e test to automate RHOAM DevSandbox QuickStart
  go.mod
  go.sum
  test/common/multitenancy.go
  vendor/github.com/3scale/3scale-porta-go-client/client/accounts.go
  vendor/github.com/3scale/3scale-porta-go-client/client/activedocs.go
  vendor/github.com/3scale/3scale-porta-go-client/client/client.go
  vendor/github.com/3scale/3scale-porta-go-client/client/developer_accounts.go
  vendor/github.com/3scale/3scale-porta-go-client/client/developer_users.go
  vendor/github.com/3scale/3scale-porta-go-client/client/mapping.go
  vendor/github.com/3scale/3scale-porta-go-client/client/oidc.go
  vendor/github.com/3scale/3scale-porta-go-client/client/policies.go
  vendor/github.com/3scale/3scale-porta-go-client/client/policy-registry.go
  vendor/github.com/3scale/3scale-porta-go-client/client/product.go
  vendor/github.com/3scale/3scale-porta-go-client/client/proxy.go
  vendor/github.com/3scale/3scale-porta-go-client/client/types.go
  vendor/github.com/3scale/3scale-porta-go-client/client/user.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-143
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-143.json
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-9.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

typo
  test/common/integreatly_stages.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4117 remove removal of configRevisions
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4095 small update to J05
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test/scripts/backup-restore/j05-verify-3scale-postgres-backup-and-restore.sh
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

Update 3scale manifests (0.8.3)
  manifests/integreatly-3scale/0.8.3/3scale-operator.v0.8.3.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.3)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.2-12
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.2-12.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.3)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.2-13
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.2-13.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.3)
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.2-14
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.2-14.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.22.0-rc2
  bundles/managed-api-service/1.22.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-145
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-145.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-146
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-146.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Added autoscaling flag to RHMI CR and changed quota reconcile logic and added config mawith autos thresholds
  apis/v1alpha1/rhmi_types.go
  config/crd/bases/integreatly.org_rhmis.yaml
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
Due: none

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-148
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-148.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.3)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.2-5
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.2-5.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-15
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-148.json
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-15.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
