Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-5874 Addition of PO resources stability e2e
  test/common/tests.go
  test/common/verify_po_resource_stability.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5904 Re-added removed OBO PrometheusRules
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/monitoringcommon/prometheusRules.go
  test/common/alerts_exist.go
  test/go.mod
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5901 - feat: addon instance uninstallation flow
  apis/v1alpha1/rhmi_conditions.go
  controllers/status/status_controller.go
  controllers/status/status_controller_test.go
  go.mod
  go.sum
  test/go.mod
  test/go.sum
  vendor/github.com/openshift/addon-operator/apis/addons/v1alpha1/addoninstances_types.go
  vendor/github.com/openshift/addon-operator/apis/addons/v1alpha1/addons_types.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4729 / Modified test to work with nonSts
  test/functional/aws_elasticache_resources_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5857 - remove extra result in rhmi controller
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-5874 applying suggestions
  test/common/verify_po_resource_stability.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5859 - bump CRO version to 1.1.1
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/1.1.1/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/1.1.1/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/1.1.1/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/1.1.1/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/1.1.1/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/1.1.1/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/1.1.1/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/1.1.1/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
  test/go.mod
  test/go.sum
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_redis.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/gcp/gcpiface/storage_api.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/gcp/provider_postgressnapshot.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-99999 add Carl as owner
  OWNERS
Due: none

MGDAPI-5871 adding controller logic and e2e test
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  go.mod
  test/common/cluster_package.go
  test/common/tests.go
  test/e2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5871 error now returned
  controllers/rhmi/rhmi_controller.go
Due: none

update OWNERS
  openshift-ci/OWNERS
  scripts/ci/OWNERS
  test/OWNERS
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5871 schemes updated
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  controllers/rhmi/rhmi_controller.go
  test/e2e/suite_test.go
  test/functional/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5884 - fix e2e tests failing on OBO feature branch
  test/common/alerts_mechanism.go
  test/common/verify_prometheus_metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-5871 add rbacs and update controller logic
  bundles/managed-api-service/1.38.0/manifests/managed-api-service.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-3229 - Update 3scale bundle (0.11.6-mas)
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.6-mas/3scale-operator.v0.11.6-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5809 Removed monitoring from codebase
  pkg/config/ConfigReadWriter_moq.go
  pkg/config/manager.go
  pkg/config/monitoring.go
  pkg/config/obo.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/objects_test.go
  pkg/resources/backup.go
  pkg/resources/prometheusRules.go
  pkg/resources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5809 Removed references to AMO
  Makefile
  apis/v1alpha1/rhmi_types.go
  bundles/managed-api-service/1.38.0/manifests/managed-api-service.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/resources/metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5809 Removed monitoringspec from code base
  apis/v1alpha1/rhmi_types.go
  pkg/config/ConfigReadWriter_moq.go
  pkg/config/manager.go
  pkg/config/monitoringspec.go
  pkg/products/monitoringspec/reconciler.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/reconciler.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5809 Renamed monitoringcommon to obo
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/obo/alertmanagerConfig.go
  pkg/products/obo/alertmanagerConfig_test.go
  pkg/products/obo/prometheusRules.go
  pkg/products/obo/templateHelper.go
  pkg/products/observability/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5809 Added unit tests for codecov
  pkg/products/reconciler_test.go
  pkg/resources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5874 change monitoring import to rhobs
  test/common/verify_po_resource_stability.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5809 Remove legacy monitoring code (#3315)
  Makefile
  apis/v1alpha1/rhmi_types.go
  bundles/managed-api-service/1.38.0/manifests/managed-api-service.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
  pkg/config/ConfigReadWriter_moq.go
  pkg/config/manager.go
  pkg/config/monitoring.go
  pkg/config/monitoringspec.go
  pkg/config/obo.go
  pkg/products/monitoringspec/reconciler.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/obo/alertmanagerConfig.go
  pkg/products/obo/alertmanagerConfig_test.go
  pkg/products/obo/prometheusRules.go
  pkg/products/obo/templateHelper.go
  pkg/products/observability/reconciler.go
  pkg/products/reconciler.go
  pkg/products/reconciler_test.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/objects_test.go
  pkg/resources/backup.go
  pkg/resources/metrics.go
  pkg/resources/prometheusRules.go
  pkg/resources/reconciler.go
  pkg/resources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5786 changes to support 0.11.6
  go.mod
  go.sum
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5786 further updates to apim recon
  go.mod
  go.sum
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  test/go.mod
  test/go.sum
  vendor/github.com/3scale/3scale-operator/apis/apps/v1alpha1/apimanager_types.go
  vendor/github.com/3scale/3scale-operator/apis/apps/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/apicast.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/apicast_options.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/backend.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/backend_options.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/memcached.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/memcached_options.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/redis.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/redis_options.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/system.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/system_mysql.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/system_mysql_options.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/system_options.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/system_postgresql.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/system_postgresql_options.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/system_searchd.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/system_searchd_options.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/zync.go
  vendor/github.com/3scale/3scale-operator/pkg/3scale/amp/component/zync_options.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5786 Updating Spinhx References
  pkg/products/threescale/prometheusRules.go
  test-cases/tests/installation/a28-verify-pod-priority-class-name-is-set-on-products.md
  test-cases/tests/multiAZ/p01-measure-downtime-during-down-az.md
  test-cases/tests/upgrade/n01b-measure-downtime-during-openshift-upgrade.md
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
  test/common/alerts_exist.go
  test/common/deployment_types.go
  test/common/priority_validate.go
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-5786 - Update 3scale bundle (0.11.6-mas)
  apis/v1alpha1/rhmi_types.go
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.6-mas/3scale-operator.v0.11.6-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.11.6-mas/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.11.6-mas/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.11.6-mas/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_applications.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_proxyconfigpromotes.yaml
  manifests/integreatly-3scale/0.11.6-mas/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.11.6-mas/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.11.6-mas/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5767 Bump both prometheus-operator dependencies to v0.64.1
  go.mod
  go.sum
  pkg/products/rhssocommon/reconciler.go
  pkg/resources/metrics.go
  pkg/resources/prometheusRules.go
  test/go.mod
  test/go.sum
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/alertmanager_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/podmonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/probe_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheus_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/prometheusrule_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/servicemonitor_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/alertmanager_types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/podmonitor_types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/probe_types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/prometheus_types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/prometheusrule_types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/servicemonitor_types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5786 removing image mirror maping
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5786 adding priorityClasName to memcach, searchd and zync-database
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5906 / Updated test docs
  test-cases/package-lock.json
  test-cases/tests/alerts/c05b-verify-alerts-are-exposed-and-no-critical-alerts-have-fired.md
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/alerts/c19-validate-creation-of-invalid-username-triggers-alert.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/installation/a46-verify-migration-to-obo-was-successful.md
  test-cases/tests/multiAZ/p01-measure-downtime-during-down-az.md
  test-cases/tests/products/h21b-verify-all-products-using-the-workloadwebapp.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/upgrade/n01b-measure-downtime-during-openshift-upgrade.md
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-5922 logging
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5781 Moved PrometheusRules and Probes to new observability namespace
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  pkg/config/obo.go
  pkg/products/cloudresources/prometheusRules.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/apiUsagePrometheusRules.go
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/reconciler_test.go
  pkg/products/mcg/reconciler.go
  pkg/products/observability/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/metrics.go
  pkg/resources/probes.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5729 addressing feedback
  Makefile
  config/hive-config/package.yaml
Due: none

MGDAPI-5780 - remove code for Probes creation
  pkg/products/grafana/reconciler.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/probes.go
  pkg/resources/probes_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
