Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-2909 address commments
  Makefile
  bundles/managed-api-service/1.15.0/manifests/managed-api-service.clusterserviceversion.yaml
  scripts/bundle-rhmi-operators.sh
  scripts/prepare-release.sh
Due: none

refactor
  controllers/rhmi/rhmi_controller.go
  pkg/addon/operator_run.go
  pkg/addon/operator_run_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2370 increase timeout for scalbility tests + add failing test
  config/scorecard/kuttl/02-scalability/00-test-pod-template.yaml
  config/scorecard/kuttl/02-scalability/01-assert.yaml
Due: none

MGDAPI-2909 update channel for rhoam and rhmi to stable
  scripts/prepare-release.sh
Due: none

remove namespace controller for dev sandbox installs
  Makefile
  main.go
  test/common/alerts_exist.go
  test/common/alerts_firing.go
  test/common/alerts_mechanism.go
  test/common/cro_cr_success.go
  test/common/dashboards_data.go
  test/common/deployment_types.go
  test/common/integreatly_stages.go
  test/common/monitoringspec.go
  test/common/namespace_created.go
  test/common/namespace_restoration.go
  test/common/operand_versions.go
  test/common/operator_versions.go
  test/common/pdbs_exist.go
  test/common/priority_validate.go
  test/common/routes_exist.go
  test/common/subscription_install_plan.go
  test/common/tests.go
  test/common/user_dedicated_admin_permissions.go
  test/common/verify_metrics_scrapped.go
  test/e2e/suite_test.go
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3315 cro release v0.35.2
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-cloud-resources/0.35.2/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.35.2/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.35.2/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.35.2/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.35.2/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.35.2/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.35.2/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.35.2/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

add hive managed check
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-3340 add byovpc test case
  test-cases/tests/installation/a42-rhoam-on-byovpc-cluster.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-2909 update prep-release intly package name
  scripts/prepare-release.sh
Due: none

MGDAPI-3314 update pckman and create olm/bundle command
  Makefile
  bundles/integreatly-operator/bundle.Dockerfile
  bundles/managed-api-service/1.15.1/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.15.2/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/bundle.Dockerfile
  packagemanifests/managed-api-service/1.15.1/bundle.Dockerfile
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/manifests/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/1.15.1/bundle/metadata/annotations.yaml
  packagemanifests/managed-api-service/1.15.2/bundle.Dockerfile
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/integreatly.org_rhmiconfigs.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/integreatly.org_rhmis.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/manifests/rhoam-operator-metrics-service_v1_service.yaml
  packagemanifests/managed-api-service/1.15.2/bundle/metadata/annotations.yaml
Due: none

MGDAPI-3084 ensure binaryData is treated well
  controllers/subscription/csvlocator/csvlocator.go
  controllers/subscription/csvlocator/csvlocator_test.go
Due: none

MGDAPI-3332 Update A01
  test/common/integreatly_stages.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.16.0-rc1
  Makefile
  bundles/managed-api-service/1.16.0/bundle.Dockerfile
  bundles/managed-api-service/1.16.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.16.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.16.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.16.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.16.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.16.0/metadata/annotations.yaml
  bundles/managed-api-service/1.16.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3146 - Self-Managed Apicast test full Automation - script batch mode
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test/common/selfmanaged_apicast.go
  test/common/tests.go
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/test.sh
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-2370 revert failing test after MSP demo
  config/scorecard/kuttl/02-scalability/00-test-pod-template.yaml
Due: none

update container image to reference master
  bundles/managed-api-service/1.17.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3311 add addon flow install check
  controllers/rhmi/rhmi_controller.go
Due: none

bump to 1.17.0 for next release
  Makefile
  bundles/managed-api-service/1.17.0/bundle.Dockerfile
  bundles/managed-api-service/1.17.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.17.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.17.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.17.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.17.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.17.0/metadata/annotations.yaml
  bundles/managed-api-service/1.17.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3414 - fix: use centos 8 stream as repo
  test-dependancy/centos.repo
Due: none

test: update B03 test to include RHMI CR developer permission verification
  apis/v1alpha1/zz_generated.deepcopy.go
  test/common/user_rhmi_developer_permissions.go
  test/resources/openshift_api.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: rename CR name
  test/common/user_rhmi_developer_permissions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

fix: add automated tag to test case spec; update CR name
  test-cases/tests/authorization/b03b-verify-rhoam-developer-user-permissions-are-correct.md
  test/common/user_rhmi_developer_permissions.go
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

bump version of sso
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

CVP-2642 def mountpath for archiving test results
  config/scorecard/bases/config.yaml
Due: none

continerImages added
  bundles/managed-api-service/1.17.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

CVP-2642 increase timeout for products stage
  config/scorecard/kuttl/00-installation/07-assert.yaml
Due: none

fix: remove autogenerated file and rename CR
  apis/v1alpha1/zz_generated.deepcopy.go
  test/common/user_rhmi_developer_permissions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

CVP-2642 add mountpoints only to rhoam tests
  config/scorecard/bases/config.yaml
  config/scorecard/patches/kuttl.config.yaml
Due: none

MGDAPI-3209 prepare for release rhoam-v1.17.0-rc1
  apis-products/enmasse/admin/v1beta1/zz_generated.deepcopy.go
  apis-products/enmasse/enmasse/v1beta1/zz_generated.deepcopy.go
  apis-products/enmasse/v1beta1/zz_generated.deepcopy.go
  apis-products/enmasse/v1beta1/zz_generated.defaults.go
  apis-products/enmasse/v1beta2/zz_generated.deepcopy.go
  apis-products/enmasse/v1beta2/zz_generated.defaults.go
  apis-products/enmasse/v1beta2/zz_generated.openapi.go
  apis-products/kafka.strimzi.io/v1alpha1/zz_generated.deepcopy.go
  apis-products/kafka.strimzi.io/v1alpha1/zz_generated.defaults.go
  apis-products/kafka.strimzi.io/v1alpha1/zz_generated.openapi.go
  apis-products/tutorial-web-app-operator/v1alpha1/zz_generated.deepcopy.go
  apis/v1alpha1/zz_generated.deepcopy.go
  bundles/managed-api-service/1.17.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.17.0/tests/scorecard/config.yaml
Due: none

MGDAPI-3209 - bump: prepare for next release - 1.18.0
  Makefile
  bundles/managed-api-service/1.18.0/bundle.Dockerfile
  bundles/managed-api-service/1.18.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.18.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.18.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.18.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.18.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.18.0/metadata/annotations.yaml
  bundles/managed-api-service/1.18.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 update prodsec manifest and script
  prodsec-manifests/rhoam-production-release-manifest.txt
  scripts/prodsec-manifest-generator.sh
Due: none

MGDAPI-3416 update to registry images
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3324 Enhanced RhoamTenant CRD by adding ProvisioningStatus and TenantUrl fields.
  Makefile
  apis/v1alpha1/rhoamtenant_types.go
  config/crd-sandbox/bases/integreatly.org_rhoamtenants.yaml
  config/crd/bases/integreatly.org_rhoamtenants.yaml
  controllers/tenant/rhoamtenant_controller.go
Due: none

MGDAPI-3452 small updates to test cases
  test-cases/tests/alerts/c08b-verify-alert-links-to-sops.md
  test-cases/tests/upgrade/n03-verify-that-the-minimal-cidr-block-is-configured-correctly.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-3374 add support of creating catalogue source
  scripts/bundle-rhmi-operators.sh
Due: none

MGDAPI-3257 - update keycloak-client
  go.mod
  go.sum
  products/products.yaml
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

address comments
  scripts/bundle-rhmi-operators.sh
Due: none

MGDAPI-3019 Addressing comments
  README.md
Due: none

MGDAPI-3185 vendor folder update
  go.mod
  go.sum
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1alpha1/doc.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1alpha1/register.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1alpha1/tenant_types.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1alpha1/zz_generated.openapi.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1beta1/backend_types.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1beta1/doc.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1beta1/product_types.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1beta1/register.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/3scale/3scale-operator/pkg/apis/capabilities/v1beta1/zz_generated.openapi.go
  vendor/github.com/3scale/3scale-operator/pkg/common/common.go
  vendor/github.com/3scale/3scale-operator/pkg/common/constants.go
  vendor/github.com/3scale/3scale-operator/pkg/common/kubernetes_types.go
  vendor/github.com/3scale/3scale-operator/pkg/common/status_conditions.go
  vendor/github.com/3scale/3scale-porta-go-client/LICENSE
  vendor/github.com/3scale/3scale-porta-go-client/NOTICE
  vendor/github.com/3scale/3scale-porta-go-client/client/accounts.go
  vendor/github.com/3scale/3scale-porta-go-client/client/app.go
  vendor/github.com/3scale/3scale-porta-go-client/client/application_plan.go
  vendor/github.com/3scale/3scale-porta-go-client/client/backend_api.go
  vendor/github.com/3scale/3scale-porta-go-client/client/client.go
  vendor/github.com/3scale/3scale-porta-go-client/client/errors.go
  vendor/github.com/3scale/3scale-porta-go-client/client/limit.go
  vendor/github.com/3scale/3scale-porta-go-client/client/mapping.go
  vendor/github.com/3scale/3scale-porta-go-client/client/metric.go
  vendor/github.com/3scale/3scale-porta-go-client/client/plan.go
  vendor/github.com/3scale/3scale-porta-go-client/client/pricingrules.go
  vendor/github.com/3scale/3scale-porta-go-client/client/product.go
  vendor/github.com/3scale/3scale-porta-go-client/client/proxy.go
  vendor/github.com/3scale/3scale-porta-go-client/client/services.go
  vendor/github.com/3scale/3scale-porta-go-client/client/tenants.go
  vendor/github.com/3scale/3scale-porta-go-client/client/types.go
  vendor/github.com/3scale/3scale-porta-go-client/client/user.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
