Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-5732 update rbacs
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-5730 updating to ClusterPackage
  config/hive-config/package.yaml
Due: none

MGDAPI-5729 updating makefile to include creation of MonitoringStack CR
  Makefile
  config/hive-config/package.yaml
Due: none

MGDAPI-5732 refactor one more alert
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/rejectedRequestsPrometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5731 refactor probes
  pkg/products/grafana/reconciler.go
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/resources/probes.go
  pkg/resources/probes_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5728 add inprow check around bootstrap
  controllers/rhmi/bootstrapReconciler.go
  pkg/resources/utils.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5764 - removed all instances of local-rhoam-operator
  Makefile
  README.md
  config/rbac-local-rhoam/kustomization.yaml
  config/rbac-local-rhoam/patches/auth_proxy_role_binding.yaml
  config/rbac-local-rhoam/patches/leader_election_role_binding.yaml
  config/rbac-local-rhoam/patches/role_binding.yaml
  envs/managed-api.env
  envs/multitenant-managed-api.env
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5783 refactored some of the e2e tests for OBO
  Makefile
  test/common/routes_exist.go
  test/common/shared_functions.go
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
  test/osde2e/managed_api_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5730 updating to ClusterPackage
  Makefile
Due: none

MGDAPI-5732 refactor code to push alerts to rhoam ns with different api group
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  go.mod
  pkg/products/cloudresources/prometheusRules.go
  pkg/products/grafana/prometheusRules.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/apiUsagePrometheusRules.go
  pkg/products/marin3r/config/config.go
  pkg/products/marin3r/prometheusRules.go
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/rejectedRequestsPrometheusRules.go
  pkg/products/mcg/prometheusRules.go
  pkg/products/mcg/reconciler.go
  pkg/products/observability/prometheusRules.go
  pkg/products/observability/reconciler.go
  pkg/products/rhsso/prometheusRules.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/prometheusRules.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/threescale/envoy_prometheusRules.go
  pkg/products/threescale/prometheusRules.go
  pkg/products/threescale/reconciler.go
  pkg/resources/metrics.go
  pkg/resources/prometheusRules.go
  pkg/resources/prometheusRules_test.go
  utils/scheme.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5780 - clean up Makefile
  Makefile
Due: none

MGDAPI-5732 refactor unit tests
  pkg/products/mcg/reconciler_test.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/resources/prometheusRules_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5728 refactor alert manager secret creation
  controllers/rhmi/bootstrapReconciler.go
  pkg/config/obo.go
  pkg/config/observability.go
  pkg/products/monitoringcommon/alertmanagerConfig.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/products/observability/reconciler.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/smtp.go
  pkg/resources/smtp_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5728 update amanager service ns
  pkg/products/monitoringcommon/alertmanagerConfig.go
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5808 : Removing OO
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/prometheusRules.go
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  controllers/rhmi/types.go
  controllers/rhmi/types_test.go
  main.go
  pkg/config/manager.go
  pkg/metrics/metrics.go
  pkg/products/grafana/reconciler.go
  pkg/products/marin3r/limitadorClient.go
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/marin3r/reconciler.go
  pkg/products/monitoringcommon/dashboardHelper.go
  pkg/products/monitoringcommon/dashboardHelper_test.go
  pkg/products/monitoringcommon/dashboards/clusterResources.go
  pkg/products/monitoringcommon/dashboards/criticalSLOAlerts.go
  pkg/products/monitoringcommon/dashboards/croResources.go
  pkg/products/monitoringcommon/dashboards/endpointsDetailed.go
  pkg/products/monitoringcommon/dashboards/endpointsReport.go
  pkg/products/monitoringcommon/dashboards/endpointsSummary.go
  pkg/products/monitoringcommon/dashboards/errorBudgetBurnSLOAlerts.go
  pkg/products/monitoringcommon/dashboards/multitenancyDetailed.go
  pkg/products/monitoringcommon/dashboards/resourceByNamespace.go
  pkg/products/monitoringcommon/dashboards/resourceByPod.go
  pkg/products/monitoringcommon/templateHelper.go
  pkg/products/observability/prometheusRules.go
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
  pkg/products/rhsso/reconciler.go
  pkg/products/threescale/clients_test.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/smtp.go
  pkg/resources/smtp_test.go
  templates/monitoring/alertmanager/alertmanager-application-monitoring.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5808 : Fixing e2e
  controllers/rhmi/rhmi_controller.go
  pkg/metrics/metrics.go
  pkg/resources/smtp.go
  test/common/alerts_exist.go
  test/common/alerts_firing.go
  test/common/alerts_invalid_username.go
  test/common/alerts_mechanism.go
  test/common/dashboards_data.go
  test/common/dashboards_exist.go
  test/common/deployment_types.go
  test/common/grafana_routes.go
  test/common/namespace_created.go
  test/common/operand_versions.go
  test/common/operator_versions.go
  test/common/pvc_validate.go
  test/common/subscription_install_plan.go
  test/common/tests.go
  test/common/types.go
  test/common/verify_alert_links_to_SOPs.go
  test/common/verify_prometheus_metrics.go
  test/e2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5728 fix linter
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-5904 Re-added removed OBO PrometheusRules
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/monitoringcommon/prometheusRules.go
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5882 : Update mkdoc configuration
  docs/observability/obo_setup.md
  mkdocs.yml
Due: none

MGDAPI-5808 : Fixing the version check
  apis/v1alpha1/rhmi_types.go
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5808 : Fix linting issues
  controllers/rhmi/rhmi_controller.go
  pkg/products/monitoringcommon/dashboardHelper_test.go
  pkg/products/monitoringcommon/dashboards/criticalSLOAlerts.go
  pkg/products/monitoringcommon/templateHelper.go
  pkg/products/observability/reconciler.go
  pkg/products/threescale/clients_test.go
  pkg/resources/smtp_test.go
  test/common/dashboards_data.go
  test/common/dashboards_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5808 : Fixing rebase
  controllers/rhmi/rhmi_controller.go
  pkg/products/monitoringcommon/templateHelper.go
  templates/monitoring/alertmanager/alertmanager-application-monitoring.yaml
  test/common/grafana_routes.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5808 : Pr Comments
  pkg/products/grafana/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5873 : update J03 destructive test
  test/common/namespace_restoration.go
  test/common/types.go
  test/common/validate_resource_requirements.go
  test/osde2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5694 Updated the OBO docs to reflect latest implementation design
  docs/observability/obo_crs.yaml
  docs/observability/obo_setup.md
Due: none

MGDAPI-5872 : Create e2e test for ClusterObjectTemplates state (#3304)
  test/common/tests.go
  test/common/validate_cluster_objects_templates.go
  test/e2e/suite_test.go
  test/functional/suite_test.go
  test/go.mod
  test/go.sum
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5808 : Fixing PROW installation
  pkg/products/grafana/reconciler.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5884 - fix e2e tests failing on OBO feature branch
  test/common/alerts_mechanism.go
  test/common/verify_prometheus_metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5809 Remove legacy monitoring code (#3315)
  Makefile
  apis/v1alpha1/rhmi_types.go
  bundles/managed-api-service/1.38.0/manifests/managed-api-service.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
  pkg/config/ConfigReadWriter_moq.go
  pkg/config/manager.go
  pkg/config/monitoring.go
  pkg/config/monitoringspec.go
  pkg/config/obo.go
  pkg/products/monitoringspec/reconciler.go
  pkg/products/monitoringspec/reconciler_test.go
  pkg/products/obo/alertmanagerConfig.go
  pkg/products/obo/alertmanagerConfig_test.go
  pkg/products/obo/prometheusRules.go
  pkg/products/obo/templateHelper.go
  pkg/products/observability/reconciler.go
  pkg/products/reconciler.go
  pkg/products/reconciler_test.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/objects_test.go
  pkg/resources/backup.go
  pkg/resources/metrics.go
  pkg/resources/prometheusRules.go
  pkg/resources/reconciler.go
  pkg/resources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5767 Bump both prometheus-operator dependencies to v0.64.1
  controllers/rhmi/rhmi_controller.go
  go.mod
  go.sum
  test/go.mod
  test/go.sum
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/alertmanager_types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/podmonitor_types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/probe_types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/prometheus_types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/prometheusrule_types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/servicemonitor_types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/thanos_types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/types.go
  vendor/github.com/rhobs/obo-prometheus-operator/pkg/apis/monitoring/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5871 error now returned
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-5874 applying suggestions
  test/common/verify_po_resource_stability.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5906 / Updated test docs
  test-cases/package-lock.json
  test-cases/tests/alerts/c05b-verify-alerts-are-exposed-and-no-critical-alerts-have-fired.md
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/alerts/c19-validate-creation-of-invalid-username-triggers-alert.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/installation/a46-verify-migration-to-obo-was-successful.md
  test-cases/tests/multiAZ/p01-measure-downtime-during-down-az.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/upgrade/n01b-measure-downtime-during-openshift-upgrade.md
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-5706 - updated access to prometheus pod and changed namespace
  scripts/alerts-check.sh
  scripts/capture_resource_metrics.sh
  scripts/monitoringupgradetest.sh
Due: none

MGDAPI-5874 change monitoring import to rhobs
  test/common/verify_po_resource_stability.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5871 add vendor changes
  utils/scheme.go
Due: none

MGDAPI-5923 Update managed-api-service CSV after rebase
  bundles/managed-api-service/1.38.0/manifests/managed-api-service.clusterserviceversion.yaml
  config/crd/bases/integreatly.org_rhmis.yaml
Due: none

MGDAPI-5871 schemes updated
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  controllers/rhmi/rhmi_controller.go
  test/e2e/suite_test.go
  test/functional/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5874 Addition of PO resources stability e2e
  test/common/tests.go
  test/common/verify_po_resource_stability.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e
