Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3661 / Added Additional images
  products/additional-images.yaml
  scripts/prepare-release.sh
Due: none

MGDAPI-3695 Refactor and add unit test
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/config/monitoring.go
  pkg/metrics/metrics.go
  pkg/products/monitoringcommon/dashboardHelper.go
  pkg/products/monitoringcommon/dashboards/fleetWideView.go
  pkg/resources/cluster_test.go
  pkg/resources/metrics.go
  pkg/resources/metrics_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.20.0-rc2
  bundles/managed-api-service/1.20.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-87
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-87.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-92
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-92.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-96
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-96.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-97
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-97.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-100
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-100.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3412 bump e2e for cpaas tests
  test/e2e/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

config: add slav as reviewer
  OWNERS
Due: none

MGDAPI-3854 add test cases for 3scale invitation mail
  test-cases/tests/products/h32-verify-that-3scale-invitation-mail-is-set-correctly.md
  test-cases/tests/products/h33-verify-that-3scale-invitation-mail-works-as-expected.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-3422 update to use namespace prefix
  pkg/products/marin3r/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3889 fix envoyconfigRevision removal
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3889 address comments
  pkg/products/marin3r/reconciler.go
  pkg/products/marin3r/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3889 fix test format
  pkg/products/marin3r/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2589 / Increased alert threshold to 8min
  pkg/products/marin3r/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3802: gosec G402
  Makefile
  pkg/products/reconciler.go
  pkg/resources/oauthResolver.go
  test/common/sendgrid_credentials_valid.go
  test/common/shared_functions.go
  test/scripts/products/h22-validate-that-rate-limit-service-is-working-as-expected/h22-validate-that-rate-limit-service-is-working-as-expected.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3892 filter out no matches for kind error
  pkg/products/marin3r/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.20.1-rc1
  Makefile
  bundles/managed-api-service/1.20.1/bundle.Dockerfile
  bundles/managed-api-service/1.20.1/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.20.1/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.20.1/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.20.1/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.20.1/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.20.1/metadata/annotations.yaml
  bundles/managed-api-service/1.20.1/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3412 update olm skip range
  bundles/managed-api-service/1.20.1/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3882 fix: use observability namespace and add unit tests
  pkg/products/threescale/reconciler.go
  pkg/resources/smtp.go
  pkg/resources/smtp_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3882 fix: unit test failures
  pkg/products/monitoringcommon/alertmanagerConfig_test.go
  pkg/resources/smtp_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3882 test: add more errors checks and test cases
  pkg/resources/smtp.go
  pkg/resources/smtp_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
