Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-1728 - Consume addon parameter for the STS role in RHOAM and pass it to CRO
  Makefile
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  config/rbac/role.yaml
  config/secrets/addon-params-secret.yaml
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1728 - refactor and tests
  Makefile
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/resources/sts/sts.go
  pkg/resources/sts/sts_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2656 - refactor: update e2e test config for sts auth
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2656 - refactor: sts auth check if operator is running locally or in a cluster
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/resources/sts/sts.go
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2657 - feat: allow backup restore script to get AWS key locally for sts support
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test/scripts/backup-restore/j05-verify-3scale-postgres-backup-and-restore.sh
  test/scripts/backup-restore/j07-verify-rhsso-backup-and-restore.sh
  test/scripts/backup-restore/j08-verify-user-sso-backup-and-restore.sh
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-4272 / Removed code
  pkg/products/observability/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.24.1
  Makefile
  bundles/managed-api-service/1.24.1/bundle.Dockerfile
  bundles/managed-api-service/1.24.1/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.24.1/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.24.1/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.24.1/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.24.1/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.24.1/metadata/annotations.yaml
  bundles/managed-api-service/1.24.1/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3806 - refactor: get role arn from env var on sts clusters
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/resources/sts/sts.go
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.24.1-rc1
  bundles/managed-api-service/1.24.1/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3209 add olm.skipRange
  bundles/managed-api-service/1.24.1/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3177 wip pr for making 3scale cluster scoped
  manifests/integreatly-3scale/0.9.0/threescale-operator-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3435 change the operatorGroup to clusterscoped on upgrade
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  manifests/integreatly-3scale/0.9.0/threescale-operator-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  pkg/resources/marketplace/manager.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3476 / Uncommented test cases + Removed redundant code
  test/common/shared_functions.go
  test/common/tests.go
  test/e2e/integretly_test.go
  test/functional/integreatly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3476 / Allowing Insecure cert
  test/common/3scale_tenant_via_CR.go
  test/common/shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4377 Bump observability-operator to v3.0.13
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-observability-operator/observability-operator.package.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/index.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/observability_types.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/observability_webhook.go
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
  vendor/sigs.k8s.io/apiserver-network-proxy/konnectivity-client/pkg/client/client.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4377 Removed old code for a previous OO bump
  pkg/products/grafana/reconciler.go
  pkg/products/grafana/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1595 override gosec
  Makefile
  test/common/3scale_tenant_via_CR.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4174 adding make target for mkdocs serve command
  Makefile
Due: none

MGDAPI-4174 initial configuration of mkdocs and readthedocs
  .gitignore
  .readthedocs.yaml
  MIGRATION_NOTES.md
  README.md
  RELEASE.md
  docs/ADDING_A_NEW_PRODUCT.md
  docs/Identify_Provider_Setup.md
  docs/OCM-installation.md
  docs/OLM-BundleFormat.md
  docs/TERMINOLOGY.md
  docs/TESTS.md
  docs/dedicated_admins.md
  docs/index.md
  docs/uninstalling_rhoam.md
  mkdocs.yml
  requirements.txt
Due: none

MGDAPI-4377 Added OO v3.0.13 manifest files
  manifests/integreatly-observability-operator/3.0.13/observability-operator-federation-reader_rbac.authorization.k8s.io_v1_rolebinding.yaml
  manifests/integreatly-observability-operator/3.0.13/observability-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-observability-operator/3.0.13/observability-operator-priority-class_scheduling.k8s.io_v1_priorityclass.yaml
  manifests/integreatly-observability-operator/3.0.13/observability-operator-webhook-service_v1_service.yaml
  manifests/integreatly-observability-operator/3.0.13/observability-operator.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/3.0.13/observability.redhat.com_observabilities.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4388 - fix: wait for rhsso postgres to be completed before continuing other cloud resources
  pkg/products/marin3r/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/resources/waitForResources.go
  pkg/resources/waitForResources_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3290 bump maxOpenshift version
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3209 prepare for release rhoam-v1.24.1-rc2
  bundles/managed-api-service/1.24.1/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3209 add skipRange
  bundles/managed-api-service/1.24.1/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

update to readme.md
  README.md
Due: none

MGDAPI-4257: custom domain vendor update
  go.sum
  vendor/github.com/fsnotify/fsnotify/.mailmap
  vendor/github.com/fsnotify/fsnotify/.travis.yml
  vendor/github.com/fsnotify/fsnotify/AUTHORS
  vendor/github.com/fsnotify/fsnotify/CHANGELOG.md
  vendor/github.com/fsnotify/fsnotify/README.md
  vendor/github.com/fsnotify/fsnotify/fen.go
  vendor/github.com/fsnotify/fsnotify/fsnotify.go
  vendor/github.com/fsnotify/fsnotify/inotify.go
  vendor/github.com/fsnotify/fsnotify/inotify_poller.go
  vendor/github.com/fsnotify/fsnotify/kqueue.go
  vendor/github.com/fsnotify/fsnotify/open_mode_bsd.go
  vendor/github.com/fsnotify/fsnotify/open_mode_darwin.go
  vendor/github.com/fsnotify/fsnotify/windows.go
  vendor/github.com/openshift/custom-domains-operator/LICENSE
  vendor/github.com/openshift/custom-domains-operator/api/v1alpha1/customdomain_types.go
  vendor/github.com/openshift/custom-domains-operator/api/v1alpha1/groupversion_info.go
  vendor/github.com/openshift/custom-domains-operator/api/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/custom-domains-operator/api/v1alpha1/zz_generated.openapi.go
  vendor/go.uber.org/zap/CHANGELOG.md
  vendor/go.uber.org/zap/zapcore/json_encoder.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4257 - use masterurl for kc realm
  pkg/products/rhssocommon/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4257: PR comments
  controllers/rhmi/bootstrapReconciler.go
Due: none

MGDAPI-4257: Update method for getting API url
  apis/v1alpha1/rhmi_types.go
  config/crd/bases/integreatly.org_rhmis.yaml
  config/rbac/role.yaml
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
  controllers/rhmi/rhmi_controller.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4257: adding custom domain
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  apis/v1alpha1/rhmi_types.go
  apis/v1alpha1/zz_generated.deepcopy.go
  bundles/managed-api-service/1.24.0/manifests/integreatly.org_rhmis.yaml
  config/crd/bases/integreatly.org_rhmis.yaml
  config/rbac/role.yaml
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
  guides/custom_domain.md
  main.go
  pkg/metrics/metrics.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/custom-domain/custom-domain.go
  pkg/resources/custom-domain/custom-domain_test.go
  pkg/resources/custom-domain/prometheusRules.go
  pkg/resources/sop_url.go
  templates/monitoring/alertmanager/alertmanager-application-monitoring.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1905 Implement a workaround for the lack of STS support in 3Scale
  Makefile
  config/secrets/addon-params-secret.yaml
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/sts/sts.go
  pkg/resources/sts/sts_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4257: Rebase Vendor Update
  go.mod
Due: none

MGDAPI-4257: Fix possible prow issue
  config/rbac/role.yaml
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
  controllers/rhmi/rhmi_controller.go
  pkg/products/rhssocommon/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e
