Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-5142 address feedback
  test/scripts/backup-restore/gcp/verify-postgres-backup-restore.sh
  test/scripts/backup-restore/gcp/verify-redis-backup-restore.sh
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5090 fix test failure
  test-cases/tests/installation/a28-verify-pod-priority-class-name-is-set-on-products.md
  test/common/priority_validate.go
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-5081 - cloud resources changes for GCP
  controllers/rhmi/bootstrapReconciler.go
  go.mod
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5081 - remove croaws dep from make prepare local
  Makefile
Due: none

MGDAPI-5081 - temporarily use custom index images
  products/installation.yaml
Due: none

MGDAPI-5081 - vendor changes
  go.sum
  vendor/github.com/integr8ly/cloud-resource-operator/apis/config/v1/doc.go
  vendor/github.com/integr8ly/cloud-resource-operator/apis/config/v1/groupversion_info.go
  vendor/github.com/integr8ly/cloud-resource-operator/apis/config/v1/infrastructure_types.go
  vendor/github.com/integr8ly/cloud-resource-operator/apis/config/v1/network_types.go
  vendor/github.com/integr8ly/cloud-resource-operator/apis/config/v1/zz_generated.deepcopy.go
  vendor/github.com/integr8ly/cloud-resource-operator/apis/config/v1/zz_generated.openapi.go
  vendor/github.com/integr8ly/cloud-resource-operator/internal/k8sutil/k8sutil.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/client/aws/strategies_aws.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/client/gcp/strategies_gcp.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/client/strategies.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/client/types/types.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/cluster_network_provider.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/cluster_vpc.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_blobstorage.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgressnapshot.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_redis.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_redissnapshot.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/tags.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/gcp/cluster_network_provider.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/gcp/cluster_network_provider_moq.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/gcp/config_moq.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/gcp/credentials_moq.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/gcp/gcpiface/database_types.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/gcp/gcpiface/redis_api.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/gcp/gcpiface/sqladmin_api.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/gcp/provider_postgres.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/gcp/provider_redis.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/gcp/tags.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/cluster.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/connection_tester.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/connection_tester_moq.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/errors.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/labels.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/provider.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/resources/tags.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5081 - threescale updates for GCP
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5081 - configure rhsso experimental for GCP postgres
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/resources/rhsso.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3562 fix route table error
  test/functional/aws_shared_functions.go
  test/functional/aws_standalone_vpc.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5081 - update unit tests
  controllers/rhmi/bootstrapReconciler_test.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5081 - fix issue with MCG alerts
  pkg/products/mcg/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5134 - observability: v4.0.4
  apis/v1alpha1/rhmi_types.go
  bundles/managed-api-service/1.32.0/manifests/managed-api-service.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/4.0.4/observability-operator-federation-reader_rbac.authorization.k8s.io_v1_rolebinding.yaml
  manifests/integreatly-observability-operator/4.0.4/observability-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-observability-operator/4.0.4/observability-operator-priority-class_scheduling.k8s.io_v1_priorityclass.yaml
  manifests/integreatly-observability-operator/4.0.4/observability-operator-webhook-service_v1_service.yaml
  manifests/integreatly-observability-operator/4.0.4/observability-operator.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/4.0.4/observability.redhat.com_observabilities.yaml
  manifests/integreatly-observability-operator/observability-operator.package.yaml
  products/additional-images.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5134 - fix: installation images
  products/additional-images.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
Due: none

MGDAPI-5194 Skipped CPaaS/scorecard deployment tests
  config/scorecard/bases/config.yaml
Due: none

MGDAPI-5134 - observability: v4.1.0
  apis/v1alpha1/rhmi_types.go
  bundles/managed-api-service/1.32.0/manifests/managed-api-service.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/4.1.0/observability-operator-federation-reader_rbac.authorization.k8s.io_v1_rolebinding.yaml
  manifests/integreatly-observability-operator/4.1.0/observability-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-observability-operator/4.1.0/observability-operator-priority-class_scheduling.k8s.io_v1_priorityclass.yaml
  manifests/integreatly-observability-operator/4.1.0/observability-operator-webhook-service_v1_service.yaml
  manifests/integreatly-observability-operator/4.1.0/observability-operator.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/4.1.0/observability.redhat.com_observabilities.yaml
  manifests/integreatly-observability-operator/observability-operator.package.yaml
  products/additional-images.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5081 - use pointer to experimental struct
  pkg/products/rhsso/reconciler.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4964 refactor of creation of missing metrics alerts
  controllers/rhmi/prometheusRules.go
  controllers/rhmi/rhmi_controller.go
  pkg/products/cloudresources/prometheusRules.go
  pkg/products/observability/prometheusRules.go
  pkg/products/observability/reconciler.go
  pkg/products/threescale/prometheusRules.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/custom-domain/custom-domain.go
  pkg/resources/custom-domain/prometheusRules.go
  prometheus-unit-testing/rules/rhoam_general.yml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4964 Updated C04 Verify Alerts exist test with new metrics missing alert
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-5134 - tests: fix broken tests due to OO bump
  test/common/alerts_exist.go
  test/common/dashboards_data.go
  test/common/verify_prometheus_metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5090 skip verifying the user-sso-operator deployment if multi-tenant installation
  test/common/priority_validate.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.32.0-rc1
  bundles/managed-api-service/1.32.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-5081 - update cro module gcp branch
  go.mod
  go.sum
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/client/aws/strategies_aws.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/client/gcp/strategies_gcp.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/gcp/provider_postgres.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5220 - vendor changes
  go.mod
  go.sum
  vendor/cloud.google.com/go/vpcaccess/LICENSE
  vendor/cloud.google.com/go/vpcaccess/apiv1/doc.go
  vendor/cloud.google.com/go/vpcaccess/apiv1/gapic_metadata.json
  vendor/cloud.google.com/go/vpcaccess/apiv1/version.go
  vendor/cloud.google.com/go/vpcaccess/apiv1/vpc_access_client.go
  vendor/cloud.google.com/go/vpcaccess/apiv1/vpcaccesspb/vpc_access.pb.go
  vendor/cloud.google.com/go/vpcaccess/internal/version.go
  vendor/google.golang.org/genproto/googleapis/cloud/location/locations.pb.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5218 comment out docker.io image
  products/additional-images.yaml
Due: none

MGDAPI-5222 : Fix custom domain status block not being reconciled.
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
Due: none

MGDAPI-4763 modified verify method logic for checking provision status
  controllers/tenant/apimanagementtenant_controller.go
  pkg/products/observability/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5232 : Fix route selection based on route prefix to route labels
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5240 remove unused dependency
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  go.mod
  go.sum
  vendor/github.com/openshift/cluster-samples-operator/pkg/apis/samples/v1/doc.go
  vendor/github.com/openshift/cluster-samples-operator/pkg/apis/samples/v1/register.go
  vendor/github.com/openshift/cluster-samples-operator/pkg/apis/samples/v1/types.go
  vendor/github.com/openshift/cluster-samples-operator/pkg/apis/samples/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5083 create script for gce vm instance deployment
  scripts/gce_deploy_teardown/deploy.sh
Due: none

test: remove in_prow annotation
  Makefile
  README.md
  docs/installation_guides/additional_configuration.md
  pkg/config/rhsso.go
  pkg/config/rhssoUser.go
  pkg/config/threescale.go
  pkg/products/rhsso/reconciler.go
  test/common/deployment_types.go
  test/common/scale_up_replicas_rhsso.go
  test/resources/util.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5193 Unskip alert tests if not in Prow
  Makefile
  test/common/alerts_firing.go
  test/common/shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4763 Update pkg/products/observability/prometheusRules.go
  pkg/products/observability/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

test: remove in_prow annotation
  Makefile
  README.md
  docs/installation_guides/additional_configuration.md
  pkg/addon/quota.go
  pkg/config/rhsso.go
  pkg/config/rhssoUser.go
  pkg/config/threescale.go
  pkg/products/rhsso/reconciler.go
  test/common/deployment_types.go
  test/common/scale_up_replicas_rhsso.go
  test/resources/util.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5083 add vm firewall logic
  scripts/gce_deploy_teardown/deploy.sh
Due: none

MGDAPI-5245 Grafana route test unskipped in Prow
  test/common/grafana_routes.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5083 refactor variable names and remove hardcoded values
  scripts/gce_deploy_teardown/deploy.sh
Due: none

MGDAPI-5083 create script for gce vm instance removal
  scripts/gce_deploy_teardown/deploy.sh
  scripts/gce_deploy_teardown/teardown.sh
Due: none
