Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

test: a25: remove cidr block update test case step
  test-cases/tests/installation/a25-verify-standalone-rhmi-vpc-exists-and-is-configured-properly.md
Due: test-cases-lint, ci/prow/test-cases-lint

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

fix: change RHOAM quota in CVP to minimum value
  config/scorecard/kuttl/rhoam-install/01-create-secrets.yaml
  config/scorecard/kuttl/rhoam-install/resources/secret-addon.yaml
Due: none

Update 3scale bundle in installation-cpaas.yaml
  products/installation-cpaas.yaml
Due: none

Small updates of H28 test case
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
Due: test-cases-lint, ci/prow/test-cases-lint

patch config with kuttl configuration
  config/scorecard/bases/config.yaml
  config/scorecard/kustomization.yaml
  config/scorecard/patches/kuttl.config.yaml
Due: none

test: kuttl: install test
  config/scorecard/kuttl/kuttl-test.yaml
  config/scorecard/kuttl/rhoam-install/00-assert.yaml
  config/scorecard/kuttl/rhoam-install/01-assert.yaml
  config/scorecard/kuttl/rhoam-install/01-create-secrets.yaml
  config/scorecard/kuttl/rhoam-install/02-assert.yaml
  config/scorecard/kuttl/rhoam-install/02-cluster-storage.yaml
  config/scorecard/kuttl/rhoam-install/03-assert.yaml
  config/scorecard/kuttl/rhoam-install/04-assert.yaml
  config/scorecard/kuttl/rhoam-install/05-assert.yaml
  config/scorecard/kuttl/rhoam-install/06-assert.yaml
  config/scorecard/kuttl/rhoam-install/07-assert.yaml
  config/scorecard/kuttl/rhoam-install/08-assert.yaml
  config/scorecard/kuttl/rhoam-install/resources/secret-dms.yaml
  config/scorecard/kuttl/rhoam-install/resources/secret-pagerduty.yaml
  config/scorecard/kuttl/rhoam-install/resources/secret-smtp.yaml
  config/scorecard/patches/kuttl.config.yaml
Due: none

test: a25: remove updating cidr range from test
  test/functional/aws_standalone_vpc.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Examine the installPlan before approval in RHOAM upgrade test case
  test-cases/tests/upgrade/n02b-upgrade-rhoam.md
Due: test-cases-lint, ci/prow/test-cases-lint

update prometheus route name
  test-cases/tests/alerts/c05b-verify-alerts-are-exposed-and-no-critical-alerts-have-fired.md
Due: test-cases-lint, ci/prow/test-cases-lint

refactor creation of tenants to be userCR based
  pkg/products/rhsso/reconciler.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Add exception for CPaaS subscription name
  pkg/addon/operator_run.go
  pkg/addon/operator_run_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2910 Update UIBBT alert for threescale route to allow for routes without 3scale
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add e2e to test multitenancy functionality
  test/common/multitenancy.go
  test/common/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add required fields for scorecard testS
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  packagemanifests/managed-api-service/1.14.0/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-1920 Automated test for Self-Managed Apicast
  go.mod
  go.sum
  test-cases/tests/documentation/i12-modifying-dynamic-quota.md
  test-cases/tests/documentation/i13-install-rhoam-ocm.md
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/h24-verify-selfmanaged-apicast-and-custom-policy.go
  test/scripts/products/h24-verify-selfmanaged-apicast-and-custom-policy/test.sh
  vendor/github.com/3scale/apicast-operator/LICENSE
  vendor/github.com/3scale/apicast-operator/NOTICE
  vendor/github.com/3scale/apicast-operator/pkg/apis/apps/common.go
  vendor/github.com/3scale/apicast-operator/pkg/apis/apps/group.go
  vendor/github.com/3scale/apicast-operator/pkg/apis/apps/v1alpha1/apicast_types.go
  vendor/github.com/3scale/apicast-operator/pkg/apis/apps/v1alpha1/doc.go
  vendor/github.com/3scale/apicast-operator/pkg/apis/apps/v1alpha1/register.go
  vendor/github.com/3scale/apicast-operator/pkg/apis/apps/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/3scale/apicast-operator/pkg/apis/apps/v1alpha1/zz_generated.openapi.go
  vendor/modules.txt
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

Test cases for 1.6 release
  test-cases/tests/documentation/i12-modifying-dynamic-quota.md
  test-cases/tests/documentation/i13- install-rhoam-ocm.md
Due: test-cases-lint, ci/prow/test-cases-lint

update mt 50mil quota
  pkg/addon/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

address comments
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update deletion to match changes coming from userCR update
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

remove IDP envar
  Makefile
  config/manager/manager.yaml
  envs/multitenant-managed-api.env
  pkg/resources/user/userHelper.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add user creation based on timestamp
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2896: test: fix automated test a34
  test/common/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update i12-modifying-dynamic-quota.md
  test-cases/tests/documentation/i12-modifying-dynamic-quota.md
Due: test-cases-lint, ci/prow/test-cases-lint

prepare for release rhoam-v1.15.0-rc1
  packagemanifests/managed-api-service/1.15.0/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3095 - update the order of reconcilesubscription to before serviceUpdates
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3095 add postgres serviceUpdates configuration
  pkg/config/cloudresources.go
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3095 CRO version bump to 0.31.0
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/rhmi_controller.go
  manifests/integreatly-cloud-resources/0.31.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.31.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.31.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.31.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.31.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.31.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.31.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.31.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3095 - bump cro to 0.32.0 version
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/0.32.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/0.32.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/0.32.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/0.32.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/0.32.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/0.32.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/0.32.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/0.32.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  products/products.yaml
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/types.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3095 update vendor and go.mod with new CRO version v0.31.0
  go.mod
  go.sum
  vendor/github.com/integr8ly/cloud-resource-operator/LICENSE
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/credentials.go
  vendor/github.com/integr8ly/cloud-resource-operator/pkg/providers/aws/provider_postgres.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

ensure missing identities do not block the install
  pkg/products/rhsso/reconciler.go
  pkg/resources/user/userHelper.go
  pkg/resources/user/userHelper_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

prepare for release rhoam-v1.15.0-rc5
  packagemanifests/managed-api-service/1.15.0/managed-api-service.clusterserviceversion.yaml
Due: none

prepare for release rhoam-v1.15.0-rc4
  packagemanifests/managed-api-service/1.15.0/managed-api-service.clusterserviceversion.yaml
Due: none

prepare for release rhoam-v1.15.0-rc3
  packagemanifests/managed-api-service/1.15.0/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3192
  pkg/config/cloudresources.go
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3207 update CRO version in types
  apis/v1alpha1/rhmi_types.go
Due: none

Revert "release PR for version rhoam-v1.15.0-rc3"
  packagemanifests/managed-api-service/1.15.0/managed-api-service.clusterserviceversion.yaml
Due: none

Bumped version of observability-operator to v3.0.8
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-observability-operator/3.0.8/observability-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-observability-operator/3.0.8/observability-operator-priority-class_scheduling.k8s.io_v1_priorityclass.yaml
  manifests/integreatly-observability-operator/3.0.8/observability-operator-webhook-service_v1_service.yaml
  manifests/integreatly-observability-operator/3.0.8/observability-operator.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/3.0.8/observability.redhat.com_observabilities.yaml
  manifests/integreatly-observability-operator/observability-operator.package.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
  test-cases/tests/installation/a41-verify-migration-to-observability-operator-was-successful.md
  vendor/github.com/redhat-developer/observability-operator/v3/api/v1/observability_types.go
  vendor/modules.txt
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-3192
  controllers/namespacelabel/namespacelabel_controller.go
  pkg/products/cloudresources/reconciler.go
  pkg/resources/awsStrategyHelper.go
  pkg/resources/awsStrategyHelper_test.go
  test/common/rhmi_config_cro_strategy_override.go
  test/functional/aws_standalone_vpc.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
