Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-3691 add v1.DeploymentConfigs to scheme
  main.go
Due: none

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-3691 add scheme to client-go scheme
  main.go
Due: none

MGDAPI-2657 - feat: allow backup restore script to get AWS key locally for sts support
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test/scripts/backup-restore/j05-verify-3scale-postgres-backup-and-restore.sh
  test/scripts/backup-restore/j07-verify-rhsso-backup-and-restore.sh
  test/scripts/backup-restore/j08-verify-user-sso-backup-and-restore.sh
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-3209 prepare for release rhoam-v1.19.0-rc2
  bundles/managed-api-service/1.19.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3177 wip pr for making 3scale cluster scoped
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3435 change the operatorGroup to clusterscoped on upgrade
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/threescale-operator-manager-role_rbac.authorization.k8s.io_v1_role.yaml
  pkg/resources/marketplace/manager.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

add error check
  test/common/3scale_backend_via_CR.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3635 Fixed broken e2e test C10B that was failing on multitenant installs
  controllers/tenant/apimanagementtenant_controller.go
  test/common/verify_prometheus_metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3704 add openshift.io/cluster-monitoring="true" label to makefile target
  Makefile
Due: none

fix: scorecard - update scorecard base image
  Dockerfile.scorecard
  make/scorecard.mk
Due: none

RHOAM v1.19.0 Test Case updates
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
Due: test-cases-lint, ci/prow/test-cases-lint

Changed prometheus alert queries to fix false positives
  pkg/products/grafana/prometheusRules.go
  pkg/products/marin3r/prometheusRules.go
  pkg/products/monitoring/prometheusRules.go
  pkg/products/observability/prometheusRules.go
  pkg/products/threescale/envoy_prometheusRules.go
  pkg/products/threescale/prometheusRules.go
  test/common/alerts_exist.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3079: Resource Request.
  pkg/addon/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3079: README update.
  README.md
Due: none

MGDAPI-1782 / Updated UpgradeDuration alerts
  Makefile
  controllers/rhmi/prometheusRules.go
  scripts/prepare-release.sh
Due: none

Update Makefile
  Makefile
Due: none

Changed backend-listener pod memory requests and limits for each quota
  pkg/addon/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3412 bump to 1.20
  Makefile
  bundles/managed-api-service/1.20.0/bundle.Dockerfile
  bundles/managed-api-service/1.20.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.20.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.20.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.20.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.20.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.20.0/metadata/annotations.yaml
  bundles/managed-api-service/1.20.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  prodsec-manifests/rhoam-production-release-manifest.txt
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI 3412 bump centos url
  Dockerfile.functional
  test-dependancy/centos.repo
Due: none

testing
  Dockerfile.functional
Due: none

MGDAPI-3786 - fix: chrome install onto test image
  Dockerfile.functional
  test-dependancy/centos.repo
Due: none

MGDAPI-3517 Refactor code to use new product
  README.md
  test/common/selfmanaged_apicast.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1728 - refactor and tests
  Makefile
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/resources/sts/sts.go
  pkg/resources/sts/sts_test.go
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1728 - Consume addon parameter for the STS role in RHOAM and pass it to CRO
  Makefile
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  config/rbac/role.yaml
  config/secrets/addon-params-secret.yaml
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3412 fix cpaas oo issue
  products/installation-cpaas.yaml
Due: none

MGDAPI-3412 rollback 3scale to 0.8.0 for cpaas
  products/installation-cpaas.yaml
Due: none

MGDAPI-3412 rollback 3scale to 0.8.1
  products/installation-cpaas.yaml
Due: none

MGDAPI-2656 - refactor: update e2e test config for sts auth
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-2656 - refactor: sts auth check if operator is running locally or in a cluster
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/rhmi_controller_test.go
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/resources/sts/sts.go
  test/functional/aws_shared_functions.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3595 update readme - scorecard
  README.md
Due: none
