Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-3209 Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
  products/products.yaml
Due: none

MGDAPI-4533 prepare for multitenant release rhoam-v1.33.0
  bundles/multitenant-managed-api-service/1.33.0/bundle.Dockerfile
  bundles/multitenant-managed-api-service/1.33.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.33.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.33.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.33.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.33.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.33.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.33.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-5307 Improvements to multitenant RHOAM for sandbox clusters
  controllers/rhmi/rhmi_controller.go
  controllers/tenant/apimanagementtenant_controller.go
  controllers/tenant/apimanagementtenant_controller_test.go
  pkg/products/rhsso/reconciler.go
  pkg/products/threescale/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prepare for release rhoam-v1.34.0
  Makefile
  bundles/managed-api-service/1.34.0/bundle.Dockerfile
  bundles/managed-api-service/1.34.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.34.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.34.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.34.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.34.0/metadata/annotations.yaml
  bundles/managed-api-service/1.34.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5371 Test Case updates for RHOAM v1.33.0
  test-cases/tests/alerts/c14b-verify-3scale-uibbt-alerts.md
  test-cases/tests/backup-restore/j07b-verify-cluster-sso-backup-and-restore.md
  test-cases/tests/dashboards/e04b-verify-slo-dashboard.md
  test-cases/tests/dashboards/e07b-verify-drill-down-links.md
  test-cases/tests/dashboards/e08b-verify-values-are-correct-in-resource-usage-dashboard.md
  test-cases/tests/installation/a30-validate-rhoam-integration-with-ldap-idp.md
  test-cases/tests/installation/a33-validate-console-links.md
  test-cases/tests/installation/a43-rhoam-on-rosa-nonsts-autoscaling-cluster.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
  test-cases/tests/products/h33-verify-that-3scale-invitation-mail-works-as-expected.md
  test-cases/tools/cmd/jira.ts
  test/common/grafana_routes.go
Due: test-cases-lint, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint

MGDAPI-4800 multitenant not to go cluster scoped
  pkg/products/threescale/reconciler.go
  test/common/tests.go
  test/e2e/integretly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5281 : Ensure custom domain status is set if configured via SOP
  controllers/rhmi/bootstrapReconciler.go
  test/common/rhmicr_metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4800 addressing gosec comments
  Makefile
  test/common/3scale_tenant_via_CR.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4602 Fixed S1028 linter errors
  .golangci.yaml
  pkg/products/marin3r/apiUsagePrometheusRules.go
  pkg/products/rhssocommon/reconciler_test.go
  pkg/products/threescale/three_scale_client.go
  pkg/resources/quota/quota.go
  test/functional/aws_shared_functions.go
  test/resources/3scale_api.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5220 Updates to GCP E2E tests MGDAPI-5220 - refactor retrieve gcp credentials from cluster
  test/common/alerts_exist.go
  test/common/shared_functions.go
  test/common/tests.go
  test/functional/aws_elasticache_resources_exist.go
  test/functional/aws_rds_resources_exist.go
  test/functional/aws_shared_functions.go
  test/functional/aws_standalone_vpc.go
  test/functional/common_shared_functions.go
  test/functional/gcp_cloud_storage_resources_exist.go
  test/functional/gcp_memorystore_redis_instance_exist.go
  test/functional/gcp_network_state.go
  test/functional/gcp_postgressql_instances_exist.go
  test/functional/gcp_shared_functions.go
  test/functional/gcp_vpc_exist.go
  test/functional/integreatly_test.go
  test/functional/tests.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5373 Increased duration of RHOAMThreescaleCriticalMetricsMissing alert to 30m
  pkg/products/threescale/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5446 Apply redis update
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4480 Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-5315 - fix: 3scale version in products.yaml
  products/products.yaml
Due: none

MGDAPI-3229 - Update 3scale bundle (0.11.3-mas)
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.3-mas/3scale-operator.v0.11.3-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5391 update the installation-cpaas.yaml file
  products/installation-cpaas.yaml
Due: none

MGDAPI-5462 Bump observability to v4.2.0
  apis/v1alpha1/rhmi_types.go
  bundles/managed-api-service/1.34.0/manifests/managed-api-service.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/4.2.0/observability-operator-federation-reader_rbac.authorization.k8s.io_v1_rolebinding.yaml
  manifests/integreatly-observability-operator/4.2.0/observability-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-observability-operator/4.2.0/observability-operator-priority-class_scheduling.k8s.io_v1_priorityclass.yaml
  manifests/integreatly-observability-operator/4.2.0/observability-operator-webhook-service_v1_service.yaml
  manifests/integreatly-observability-operator/4.2.0/observability-operator.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/4.2.0/observability.redhat.com_observabilities.yaml
  manifests/integreatly-observability-operator/observability-operator.package.yaml
  products/additional-images.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5462 Vendor files for OO bump to v4.2.0
  go.mod
  go.sum
  vendor/github.com/redhat-developer/observability-operator/v4/api/v1/index.go
  vendor/github.com/redhat-developer/observability-operator/v4/api/v1/observability_types.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5462 Fixed broken tests due to OO bump to v4.2.0
  test/common/alerts_exist.go
  test/common/dashboards_data.go
  test/common/verify_prometheus_metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-4907 - Initial MCG reconciler
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  apis/v1alpha1/rhmi_types.go
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  controllers/rhmi/types.go
  controllers/rhmi/types_test.go
  pkg/config/ConfigReadWriter_moq.go
  pkg/config/manager.go
  pkg/config/mcg.go
  pkg/products/mcg/reconciler.go
  pkg/products/mcg/reconciler_test.go
  pkg/products/reconciler.go
  pkg/products/threescale/objects_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/cluster.go
  pkg/resources/cluster_test.go
  pkg/resources/constants/subscriptionConstants.go
  pkg/resources/custom-domain/custom-domain.go
  pkg/resources/custom-domain/custom-domain_test.go
  products/installation.yaml
  test/utils/scheme.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5085 - add alerting for MCG
  pkg/products/mcg/prometheusRules.go
  pkg/products/mcg/reconciler.go
  pkg/products/mcg/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5142 backup and restore redis database
  test/scripts/backup-restore/gcp/verify-postgres-backup-restore.sh
  test/scripts/backup-restore/gcp/verify-redis-backup-restore.sh
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5081 - configure rhsso experimental for GCP postgres
  Makefile
  controllers/rhmi/bootstrapReconciler_test.go
  pkg/products/cloudresources/reconciler_test.go
  pkg/products/mcg/prometheusRules.go
  pkg/products/rhsso/reconciler.go
  pkg/products/rhsso/reconciler_test.go
  pkg/products/rhssocommon/reconciler.go
  pkg/products/rhssouser/reconciler.go
  pkg/products/rhssouser/reconciler_test.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/rhsso.go
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5083 create script for gce vm instance deployment
  scripts/gce_deploy_teardown/deploy.sh
  scripts/gce_deploy_teardown/teardown.sh
Due: none

MGDAPI-5082 - update cloud resource operator to v1.0.0
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/1.0.0/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/1.0.0/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/1.0.0/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/1.0.0/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/1.0.0/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/1.0.0/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/1.0.0/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/1.0.0/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5082 - vendor changes post rebase
  go.mod
  go.sum
  vendor/google.golang.org/genproto/googleapis/cloud/redis/v1/alias.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5082 - add mcg operator manifests
  manifests/integreatly-mcg/4.11.0/backingstores.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.0/bucketclasses.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.0/mcg-operator.clusterserviceversion.yaml
  manifests/integreatly-mcg/4.11.0/namespacestores.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.0/noobaaaccounts.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.0/noobaas.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.1/backingstores.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.1/bucketclasses.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.1/mcg-operator.clusterserviceversion.yaml
  manifests/integreatly-mcg/4.11.1/namespacestores.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.1/noobaaaccounts.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.1/noobaas.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.2/backingstores.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.2/bucketclasses.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.2/mcg-operator.clusterserviceversion.yaml
  manifests/integreatly-mcg/4.11.2/namespacestores.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.2/noobaaaccounts.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.2/noobaas.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.3/backingstores.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.3/bucketclasses.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.3/mcg-operator.clusterserviceversion.yaml
  manifests/integreatly-mcg/4.11.3/namespacestores.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.3/noobaaaccounts.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.3/noobaas.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.4/backingstores.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.4/bucketclasses.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.4/mcg-operator.clusterserviceversion.yaml
  manifests/integreatly-mcg/4.11.4/namespacestores.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.4/noobaaaccounts.noobaa.io.crd.yaml
  manifests/integreatly-mcg/4.11.4/noobaas.noobaa.io.crd.yaml
  manifests/integreatly-mcg/mcg.package.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5220 - vendor changes
  go.mod
  go.sum
  vendor/cloud.google.com/go/vpcaccess/LICENSE
  vendor/cloud.google.com/go/vpcaccess/apiv1/doc.go
  vendor/cloud.google.com/go/vpcaccess/apiv1/gapic_metadata.json
  vendor/cloud.google.com/go/vpcaccess/apiv1/version.go
  vendor/cloud.google.com/go/vpcaccess/apiv1/vpc_access_client.go
  vendor/cloud.google.com/go/vpcaccess/apiv1/vpcaccesspb/vpc_access.pb.go
  vendor/cloud.google.com/go/vpcaccess/internal/version.go
  vendor/google.golang.org/genproto/googleapis/cloud/location/locations.pb.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5082 - fix lint errors
  pkg/products/threescale/reconciler_test.go
  test/common/alerts_exist.go
  test/functional/aws_shared_functions.go
  test/functional/common_shared_functions.go
  test/functional/gcp_shared_functions.go
  test/functional/integreatly_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5082 - vendor changes
  go.mod
  vendor/google.golang.org/genproto/googleapis/cloud/compute/v1/alias.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5277 Add metrics for critical alerts to CROMissingMetricsalert
  pkg/products/cloudresources/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
