Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-5082 - update cloud resource operator to v1.0.1
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-cloud-resources/1.0.1/cloud-resource-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-cloud-resources/1.0.1/cloud-resource-operator.clusterserviceversion.yaml
  manifests/integreatly-cloud-resources/1.0.1/integreatly.org_blobstorages.yaml
  manifests/integreatly-cloud-resources/1.0.1/integreatly.org_postgres.yaml
  manifests/integreatly-cloud-resources/1.0.1/integreatly.org_postgressnapshots.yaml
  manifests/integreatly-cloud-resources/1.0.1/integreatly.org_redis.yaml
  manifests/integreatly-cloud-resources/1.0.1/integreatly.org_redissnapshots.yaml
  manifests/integreatly-cloud-resources/1.0.1/operator-metrics-service_v1_service.yaml
  manifests/integreatly-cloud-resources/cloud-resources.package.yaml
  products/installation.yaml
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5082 - address feedback
  products/installation-cpaas.yaml
  test/common/3scale_backend_via_CR.go
  test/common/3scale_product_via_CR.go
  test/common/3scale_tenant_via_CR.go
  test/common/deployment_types.go
  test/common/namespace_restoration.go
  test/common/noobaa_via_CR.go
  test/common/pvc_validate.go
  test/common/shared_functions.go
  test/common/types.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5308 - cleanup: removing logic for deleting cluster logging resources
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  bundles/managed-api-service/1.34.0/manifests/managed-api-service.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  go.mod
  go.sum
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
  test/utils/scheme.go
  vendor/github.com/openshift/cluster-logging-operator/LICENSE
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/cluster_log_forwarder.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/cluster_log_forwarder_types.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/clusterlogging_types.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/conditions.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/doc.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/groupversion_info.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/output_types.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/cluster-logging-operator/internal/status/conditions.go
  vendor/github.com/openshift/cluster-logging-operator/internal/status/doc.go
  vendor/github.com/openshift/elasticsearch-operator/LICENSE
  vendor/github.com/openshift/elasticsearch-operator/apis/logging/v1/elasticsearch_types.go
  vendor/github.com/openshift/elasticsearch-operator/apis/logging/v1/groupversion_info.go
  vendor/github.com/openshift/elasticsearch-operator/apis/logging/v1/index_management_types.go
  vendor/github.com/openshift/elasticsearch-operator/apis/logging/v1/kibana_types.go
  vendor/github.com/openshift/elasticsearch-operator/apis/logging/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5308 - fix: cro version in products.yaml
  bundles/managed-api-service/1.34.0/manifests/managed-api-service.clusterserviceversion.yaml
  products/products.yaml
Due: none

MGDAPI-3209 prepare for release rhoam-v1.34.0-rc1
  bundles/managed-api-service/1.34.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-5308 - cleanup: removing logic for deleting cluster logging resources
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  go.mod
  go.sum
  pkg/products/observability/reconciler.go
  pkg/products/observability/reconciler_test.go
  test/utils/scheme.go
  vendor/github.com/openshift/cluster-logging-operator/LICENSE
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/cluster_log_forwarder.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/cluster_log_forwarder_types.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/clusterlogging_types.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/conditions.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/doc.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/groupversion_info.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/output_types.go
  vendor/github.com/openshift/cluster-logging-operator/apis/logging/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/cluster-logging-operator/internal/status/conditions.go
  vendor/github.com/openshift/cluster-logging-operator/internal/status/doc.go
  vendor/github.com/openshift/elasticsearch-operator/LICENSE
  vendor/github.com/openshift/elasticsearch-operator/apis/logging/v1/elasticsearch_types.go
  vendor/github.com/openshift/elasticsearch-operator/apis/logging/v1/groupversion_info.go
  vendor/github.com/openshift/elasticsearch-operator/apis/logging/v1/index_management_types.go
  vendor/github.com/openshift/elasticsearch-operator/apis/logging/v1/kibana_types.go
  vendor/github.com/openshift/elasticsearch-operator/apis/logging/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5328 update bundle for 1.33.1
  Makefile
  bundles/managed-api-service/1.33.1/bundle.Dockerfile
  bundles/managed-api-service/1.33.1/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.33.1/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.33.1/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.33.1/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.33.1/metadata/annotations.yaml
  bundles/managed-api-service/1.33.1/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5152 - set securityContext in catalogsource
  pkg/resources/marketplace/configmap_catalog_source_reconciler.go
  pkg/resources/marketplace/grpc_image_catalog_source_reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5152 - fix prometheus related tests
  test/common/alerts_exist.go
  test/common/verify_prometheus_metrics.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5152 - fix test/lint
  pkg/products/mcg/reconciler.go
  test/common/user_dedicated_admin_synced_sso.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5152 - update observability-operator to v4.2.1
  apis/v1alpha1/rhmi_types.go
  go.mod
  go.sum
  manifests/integreatly-observability-operator/4.2.1/observability-operator-federation-reader_rbac.authorization.k8s.io_v1_rolebinding.yaml
  manifests/integreatly-observability-operator/4.2.1/observability-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  manifests/integreatly-observability-operator/4.2.1/observability-operator-priority-class_scheduling.k8s.io_v1_priorityclass.yaml
  manifests/integreatly-observability-operator/4.2.1/observability-operator-webhook-service_v1_service.yaml
  manifests/integreatly-observability-operator/4.2.1/observability-operator.clusterserviceversion.yaml
  manifests/integreatly-observability-operator/4.2.1/observability.redhat.com_observabilities.yaml
  manifests/integreatly-observability-operator/observability-operator.package.yaml
  products/additional-images.yaml
  products/installation-cpaas.yaml
  products/installation.yaml
  products/products.yaml
  vendor/github.com/redhat-developer/observability-operator/v4/api/v1/index.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5152 - (temp) add 3scale-operator dev image
  products/installation.yaml
Due: none

[WIP] MGDAPI-5152 - review
  pkg/products/cloudresources/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

update
  pkg/products/cloudresources/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5547 Update to PostgresAllocatedStorageMetricName as defined in CRO V1.0.0
  pkg/products/cloudresources/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4604 Fix S1002 linter errors
  .golangci.yaml
  pkg/products/threescale/reconciler.go
  pkg/resources/installPlan.go
  test/common/3scale_smtp.go
  test/common/network_policy_access_ns_to_svc.go
  test/common/shared_functions.go
  test/functional/multiaz_pod_distribution.go
  test/resources/3scale_api.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-1787 Update wording in RHOAMApiUsageLevel3ThresholdExceeded
  pkg/products/marin3r/apiUsagePrometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4480 Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-4533 prepare for multitenant release rhoam-v1.34.0
  bundles/multitenant-managed-api-service/1.34.0/bundle.Dockerfile
  bundles/multitenant-managed-api-service/1.34.0/manifests/integreatly.org_apimanagementtenants.yaml
  bundles/multitenant-managed-api-service/1.34.0/manifests/integreatly.org_rhmis.yaml
  bundles/multitenant-managed-api-service/1.34.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/multitenant-managed-api-service/1.34.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/multitenant-managed-api-service/1.34.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/multitenant-managed-api-service/1.34.0/metadata/annotations.yaml
  bundles/multitenant-managed-api-service/1.34.0/tests/scorecard/config.yaml
  bundles/multitenant-managed-api-service/multitenant-managed-api-service.package.yaml
  config/manifests-multitenant-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3209 prepare for release rhoam-v1.35.0
  Makefile
  bundles/managed-api-service/1.35.0/bundle.Dockerfile
  bundles/managed-api-service/1.35.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.35.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.35.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.35.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.35.0/metadata/annotations.yaml
  bundles/managed-api-service/1.35.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5470 Test case updates for 1.34.0
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/installation/a45-rhoam-on-rosa-byovpc-privatelink.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-5470 Fix GCP03 test if CIDR block is set
  test/functional/gcp_network_state.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5300 addressing feedback
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5300 Consume GCP maintenance addon parameter in RHOAM
  config/secrets/addon-params-secret.yaml
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5300 refactor unit tests
  pkg/products/cloudresources/reconciler.go
  pkg/products/cloudresources/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5300 updating makefile
  Makefile
Due: none

MGDAPI-4608 Fix S1023 linter errors
  .golangci.yaml
  pkg/products/marin3r/apiUsagePrometheusRules.go
  pkg/resources/quota/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5089 add grpc support and bump envoy image
  pkg/products/threescale/envoyconfig.go
  pkg/resources/ratelimit/envoy.go
  products/additional-images.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5089 update the configuration
  pkg/products/threescale/envoyconfig.go
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
  pkg/resources/ratelimit/envoyconfig.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5301 update to use different cidr-range param depending on platform type
  pkg/products/cloudresources/reconciler.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
