Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

MGDAPI-3794: Fix issues around hard coded credentials and remove G101 from makefile exclude list
  Makefile
  apis/v1alpha1/rhmi_types.go
  controllers/rhmi/bootstrapReconciler.go
  pkg/products/apicurito/reconciler.go
  pkg/products/fuse/reconciler.go
  pkg/products/monitoring/reconciler.go
  pkg/resources/custom-smtp/custom-smtp.go
  pkg/resources/rhsso.go
  pkg/resources/sop_url.go
  test/common/alerts_firing.go
  test/common/rhmi_config_cro_strategy_override.go
  test/common/user_dedicated_admin_synced_sso.go
  test/resources/codeready_api.go
  test/resources/codeready_login.go
  test/resources/openshift_api.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-186
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-186.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0-mas)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-mas-3scale-rhel7-operator-metadata-2.12.0-188
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-188.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-20
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-20.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-23
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-23.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-190
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-190.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-191
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-191.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-194
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-194.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-193
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-193.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4188: N10 fix: updated the commands to be compatible with zsh
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: test-cases-lint, ci/prow/test-cases-lint

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-197
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-197.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4237
  pkg/products/observability/prometheusRules.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.4+0.1655690146.p)
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-3scale/0.8.4+0.1655690146.p/3scale-operator.v0.8.4-0.1655690146.p.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.8.4+0.1655690146.p/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.8.4+0.1655690146.p/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.8.4+0.1655690146.p/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.8.4+0.1655690146.p/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.8.4+0.1655690146.p/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.8.4+0.1655690146.p/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.8.4+0.1655690146.p/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.8.4+0.1655690146.p/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.8.4+0.1655690146.p/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.8.4+0.1655690146.p/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.8.4+0.1655690146.p/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.8.4+0.1655690146.p/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.8.4+0.1655690146.p/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.8.4+0.1655690146.p)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/manifests/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/manifests/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/manifests/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/manifests/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/metadata/annotations.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.11.3-3.1655690152
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.11.3-3.1655690152.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.9.0/capabilities.3scale.net_proxyconfigpromotes.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/manifests/3scale-operator.clusterserviceversion.yaml
  manifests/integreatly-3scale/root/buildinfo/Dockerfile-3scale-amp2-3scale-rhel7-operator-metadata-2.12.0-199
  manifests/integreatly-3scale/root/buildinfo/content_manifests/3scale-operator-bundle-container-2.12.0-199.json
  products/installation-cpaas.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4241 bump Grafana oauth proxy image
  pkg/products/grafana/reconciler.go
  pkg/products/monitoring/reconciler.go
  products/additional-images.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4021 refactor addon parameters secret retrieval
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
  pkg/addon/addon.go
  pkg/addon/parameters.go
  pkg/addon/parameters_test.go
  pkg/resources/custom-smtp/custom-smtp.go
  pkg/resources/custom-smtp/custom-smtp_test.go
  test/common/quota.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4090: Updates to test cases for RHOAM 1.22 (#2709)
  test-cases/tests/alerts/c18-validate-api-usage-alerts.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/backup-restore/j05b-verify-3scale-backup-and-restore.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test-cases/tests/products/h27-verify-that-user-with-uppercase-letters-can-be-created-in-3s.md
  test-cases/tools.sh
Due: test-cases-lint, ci/prow/test-cases-lint

Updated test cases for RHOAM v1.23.0
  test-cases/tests/authorization/b08b-verify-user-rhsso-permissions.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: test-cases-lint, ci/prow/test-cases-lint

small improvements
  test/common/tests.go
  test/common/verify_alert_links_to_SOPs.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Updated test cases for RHOAM v1.23.0 (#2750)
  test-cases/tests/authorization/b08b-verify-user-rhsso-permissions.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-3971: fixed linking issues in Jira (#2738)
  test-cases/tools/cmd/jira.ts
  test-cases/tools/lib/jira.ts
Due: test-cases-lint, ci/prow/test-cases-lint

Consistent names and other small improvements
  test/common/tests.go
  test/common/verify_alert_links_to_SOPs.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3209 prep for rhoam 1.24
  bundles/managed-api-service/1.24.0/bundle.Dockerfile
  bundles/managed-api-service/1.24.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.24.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.24.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.24.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.24.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.24.0/metadata/annotations.yaml
  bundles/managed-api-service/1.24.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-3209 prodsec manifests for 1.23
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none
