Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go

Prepare integreatly-operator manifest for master
  prodsec-manifests/rhmi-master-manifest.txt
Due: none

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-3209 prepare for release rhoam-v1.27.0
  Makefile
  bundles/managed-api-service/1.27.0/bundle.Dockerfile
  bundles/managed-api-service/1.27.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.27.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.27.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.27.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.27.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.27.0/metadata/annotations.yaml
  bundles/managed-api-service/1.27.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4565 add premissions to update subscriptions in other namespaces
  controllers/rhmi/rhmi_controller.go
Due: none

MGDAPI-4565 add the rbac change make code/gen
  config/rbac/role.yaml
Due: none

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.10.0-mas)
  manifests/integreatly-3scale/0.10.0-mas/3scale-operator.v0.10.0-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4399 update the docs links and structure
  docs/OLM-BundleFormat.md
  docs/TERMINOLOGY.md
  docs/TESTS.md
  docs/dedicated_admins.md
  docs/getting_started.md
  docs/index.md
  docs/installation_guides/additional_configuration.md
  docs/installation_guides/identity_provider_setup.md
  docs/installation_guides/installation_general_info.md
  docs/installation_guides/local_installation.md
  docs/installation_guides/olm_installation.md
  docs/installation_guides/validation_of_installation.md
  docs/products/3scale_guides.md
  docs/products/adding_new_product.md
  docs/products/custom_domain.md
  docs/products/products_general_info.md
  docs/terminology.md
  docs/tests/e2e.md
  docs/tests/product_tests.md
  docs/tests/scorecard_tests.md
  docs/tests/unit_tests.md
  docs/uninstallation/addon_flow.md
  docs/uninstallation/local_and_olm.md
  docs/uninstallation/rosa.md
  docs/uninstallation/uninstallation_general_info.md
  docs/uninstalling_rhoam.md
  mkdocs.yml
Due: none

MGDAPI-4399 addressing comments
  docs/index.md
  docs/installation_guides/installation_general_info.md
  docs/products/custom_domain.md
  docs/products/products_general_info.md
  docs/uninstallation/uninstallation_general_info.md
  mkdocs.yml
Due: none

MGDAPI-4578 delete rhmi-operator-metrics service
  controllers/rhmi/bootstrapReconciler.go
Due: none

MGDAPI-4565 make bundle-rhoam
  bundles/managed-api-service/1.27.0/manifests/integreatly.org_rhmiconfigs.yaml
  bundles/managed-api-service/1.27.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.27.0/manifests/managed-api-service.clusterserviceversion.yaml
Due: none

MGDAPI-4578 refactoring deleteObsoleteService function
  controllers/rhmi/bootstrapReconciler.go
Due: none

MGDAPI-4498 - fix: prevent using custom domain when addon param is empty string
  Makefile
  config/secrets/custom-addon-secret.yaml
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/bootstrapReconciler_test.go
  pkg/resources/custom-domain/custom-domain.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4578 updating following feedback
  controllers/rhmi/bootstrapReconciler.go
Due: none

MGDAPI-4399 addressing comments p2
  docs/installation_guides/additional_configuration.md
  docs/installation_guides/identity_provider_setup.md
  docs/installation_guides/local_installation.md
  docs/installation_guides/olm_installation.md
  docs/installation_guides/validation_of_installation.md
  docs/products/adding_new_product.md
  docs/products/custom_domain.md
  docs/tests/e2e.md
  docs/uninstallation/addon_flow.md
  docs/uninstallation/local_and_olm.md
  docs/uninstallation/rosa.md
  mkdocs.yml
Due: none

MGDAPI-4588 updating namePrefix from rhmi- to rhoam-
  config/rbac-local-rhoam/kustomization.yaml
Due: none

MGDAPI-4548 fix the URLs and marin3r pod status check
  pkg/products/marin3r/rateLimitService.go
  pkg/products/marin3r/rateLimitService_test.go
  pkg/products/monitoring/prometheusRules.go
  pkg/products/observability/prometheusRules.go
  pkg/resources/sop_url.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.0)
  manifests/integreatly-3scale/0.9.0/3scale-operator.v0.9.0.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.0/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4039 : Remove RHOAM temporary code
  controllers/rhmi/bootstrapReconciler.go
  controllers/rhmi/rhmi_controller.go
Due: none

Update 3scale manifests (0.9.1)
  apis/v1alpha1/rhmi_types.go
  manifests/integreatly-3scale/0.9.1/3scale-operator.v0.9.1.clusterserviceversion.yaml
  manifests/integreatly-3scale/0.9.1/apps.3scale.net_apimanagerbackups.yaml
  manifests/integreatly-3scale/0.9.1/apps.3scale.net_apimanagerrestores.yaml
  manifests/integreatly-3scale/0.9.1/apps.3scale.net_apimanagers.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_activedocs.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_backends.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_custompolicydefinitions.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_developeraccounts.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_developerusers.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_openapis.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_products.yaml
  manifests/integreatly-3scale/0.9.1/capabilities.3scale.net_tenants.yaml
  manifests/integreatly-3scale/0.9.1/threescale-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  manifests/integreatly-3scale/0.9.1/threescale-operator-controller-manager-metrics-service_v1_service.yaml
  manifests/integreatly-3scale/3scale.package.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Update 3scale manifests (0.9.1)
  manifests/integreatly-3scale/0.9.1/3scale-operator.v0.9.1.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4594 - Update products/products.yaml - for productised RHSSO
  products/products.yaml
Due: none

MGDAPI-4509 Test case updates for 1.26.0
  test-cases/tests/authorization/b08b-verify-user-rhsso-permissions.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/installation/a39-installation-verify-rhoam-on-private-cluster.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: test-cases-lint, ci/prow/test-cases-lint
