Repository integr8ly/integreatly-operator: changes, and which Prow jobs are due for each by the changed paths.
All: test-cases-lint, versions, ci/prow/e2e, ci/prow/rhoam-e2e, ci/prow/test-cases-lint, ci/prow/versions

test-cases-lint:
  commands: make test-cases/lint
  container:
    from: src

versions:
  commands: make versions/check
  container:
    from: src

ci/prow/e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/rhoam-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/test-cases-lint:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/versions:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGDAPI-5996 Added OBO PVC to A06 test
  test/common/pvc_validate.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-4480 Prepare managed-api-service manifest for master
  prodsec-manifests/rhoam-master-manifest.txt
Due: none

MGDAPI-4480 Prepare managed-api-service manifest for production
  prodsec-manifests/rhoam-production-release-manifest.txt
Due: none

MGDAPI-3209 prepare for release rhoam-v1.39.0
  Makefile
  bundles/managed-api-service/1.39.0/bundle.Dockerfile
  bundles/managed-api-service/1.39.0/manifests/integreatly.org_rhmis.yaml
  bundles/managed-api-service/1.39.0/manifests/managed-api-service.clusterserviceversion.yaml
  bundles/managed-api-service/1.39.0/manifests/rhmi-operator-metrics_monitoring.coreos.com_v1_servicemonitor.yaml
  bundles/managed-api-service/1.39.0/manifests/rhoam-operator-metrics-service_v1_service.yaml
  bundles/managed-api-service/1.39.0/metadata/annotations.yaml
  bundles/managed-api-service/1.39.0/tests/scorecard/config.yaml
  bundles/managed-api-service/managed-api-service.package.yaml
  config/manifests-rhoam/bases/managed-api-service.clusterserviceversion.yaml
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5996 test case updates for RHOAM 1.38.0
  test-cases/tests/alerts/c08b-verify-alert-links-to-sops.md
  test-cases/tests/authorization/b08b-verify-user-rhsso-permissions.md
  test-cases/tests/backup-restore/j03b-verify-that-namespaces-get-recreated-by-the-integreatlyoper.md
  test-cases/tests/backup-restore/j08b-verify-user-sso-backup-and-restore.md
  test-cases/tests/installation/a36-rhoam-operator-log-should-not-contain-errors-and-irrelevant.md
  test-cases/tests/installation/a46-verify-migration-to-obo-was-successful.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
  test-cases/tests/products/h23-validate-rate-limit-service-with-default-customer-config.md
  test-cases/tests/products/h24-verify-selfmanaged-apicast-and-custom-policy.md
  test-cases/tests/products/h25-verify-rate-limiting-can-be-disabled-and-reenabled-by-follow.md
  test-cases/tests/products/h28-validate-self-managed-apicast-rate-limiting.md
  test-cases/tests/products/h32-verify-that-3scale-invitation-mail-is-set-correctly.md
  test-cases/tests/upgrade/n10-verify-quota-feature-upgrade.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-5996 fixed directory user should be in when running script
  test-cases/tests/installation/a46-verify-migration-to-obo-was-successful.md
  test-cases/tests/products/h22-validate-that-rate-limit-service-is-working-as-expected.md
Due: test-cases-lint, ci/prow/test-cases-lint

MGDAPI-5996 Functional test suite timeout increase
  test/functional/suite_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3461 c14b-test-automation-update
  test/common/verify_3scale_UIBBT_alerts.go
  test/go.mod
  test/go.sum
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3461 c14b-test-automation-update
  test/common/verify_3scale_UIBBT_alerts.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5992 temporary workaround
  test/common/alerts_firing.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5996 Added oc into external test image
  Dockerfile.external
Due: none

MGDAPI-5996 Alert check not waiting for RHOAM installation to complete
  scripts/alerts-check.sh
Due: none

MGDAPI-3229 - Update 3scale bundle (0.11.7-mas)
  bundles/3scale-operator/bundles.yaml
  manifests/integreatly-3scale/0.11.7-mas/3scale-operator.v0.11.7-mas.clusterserviceversion.yaml
  manifests/integreatly-3scale/image_mirror_mapping
  products/installation.yaml
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5833 Removed OO from e2e tests
  test/common/integreatly_stages.go
  test/common/monitoringspec.go
  version/version.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3462 Automate b08b test: Verify User RHSSO Permissions
  test/common/tests.go
  test/common/users_create_realm_sso.go
  test/go.mod
  test/go.sum
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3462 format errors addressed
  test/common/users_create_realm_sso.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-3462 go.sum updated
  test/go.sum
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5877 add monitorstack status to addoninstance
  apis/v1alpha1/addtoscheme_integreatly_v1alpha1.go
  config/rbac/role.yaml
  controllers/rhmi/rhmi_controller.go
  controllers/status/status_controller.go
  utils/scheme.go
Due: none

MGDAPI-5877 vendor changes from importing OBO
  go.mod
  go.sum
  test/go.mod
  test/go.sum
  vendor/github.com/rhobs/observability-operator/pkg/apis/monitoring/v1alpha1/register.go
  vendor/github.com/rhobs/observability-operator/pkg/apis/monitoring/v1alpha1/types.go
  vendor/github.com/rhobs/observability-operator/pkg/apis/monitoring/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5877 Refactor config/obo and added unit tests
  Makefile
  controllers/status/status_controller.go
  controllers/status/status_controller_test.go
  pkg/config/obo.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

MGDAPI-5614 remove logic removing disable-apicast-service-reconciler annotation
  pkg/products/threescale/reconciler.go
  pkg/products/threescale/reconciler_test.go
Due: ci/prow/e2e, ci/prow/rhoam-e2e

Path conditions:
  test-cases-lint: any of: test-cases/.*
  versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
  ci/prow/e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/rhoam-e2e: any of: (^(build/)|^(cmd/)|^(deploy/)|^(manifests/)|^(pkg/)|^(templates/monitoring/)|^(test/)|^(vendor/)|^(version/)).*([^.].{2}|\.[^m].|\..[^d])$
  ci/prow/test-cases-lint: any of: test-cases/.*
  ci/prow/versions: any of: pkg/apis/integreatly/v1alpha1/rhmi_types.go
