Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-builds, e2e-aws-jenkins, e2e-gcp-ovn-image-ecosystem, e2e-aws-ovn-image-registry, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-upgrade-rollback, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-kubevirt, e2e-baremetalds-kubevirt, e2e-aws-ovn-edge-zones, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

unit:
  commands: GOTEST_FLAGS='-p 8' hack/test-go.sh
  container:
    from: src
    memory_backed_volume:
      size: 4Gi

verify:
  commands: 'make verify -k --warn-undefined-variables
  
    '
  container:
    from: bin

verify-deps:
  commands: 'make verify-deps -k --warn-undefined-variables
  
    '
  container:
    from: src

e2e-gcp-ovn:
  steps:
    cluster_profile: gcp
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-e2e-gcp

e2e-agnostic-ovn-cmd:
  optional: true
  steps:
    cluster_profile: azure4
    env:
      TEST_SUITE: openshift/test-cmd
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-e2e-azure

e2e-gcp-ovn-builds:
  steps:
    cluster_profile: gcp-openshift-gce-devel-ci-2
    workflow: openshift-e2e-gcp-builds

e2e-aws-jenkins:
  steps:
    cluster_profile: aws-2
    env:
      BASE_DOMAIN: aws-2.ci.openshift.org
      TEST_SUITE: openshift/jenkins-e2e
    workflow: openshift-e2e-aws-jenkins

e2e-gcp-ovn-image-ecosystem:
  steps:
    cluster_profile: gcp-openshift-gce-devel-ci-2
    workflow: openshift-e2e-gcp-image-ecosystem

e2e-aws-ovn-image-registry:
  steps:
    cluster_profile: aws-2
    env:
      BASE_DOMAIN: aws-2.ci.openshift.org
      TEST_SUITE: openshift/image-registry
    workflow: openshift-e2e-aws-image-registry

e2e-gcp-ovn-upgrade:
  steps:
    cluster_profile: gcp-3
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-upgrade-gcp

e2e-gcp-ovn-rt-upgrade:
  optional: true
  steps:
    cluster_profile: gcp-3
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-upgrade-gcp-ovn-rt

e2e-gcp-csi:
  optional: true
  steps:
    cluster_profile: gcp
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-e2e-gcp-csi

e2e-aws-ovn-upgrade-rollback:
  optional: true
  steps:
    cluster_profile: aws-2
    env:
      BASE_DOMAIN: aws-2.ci.openshift.org
      DELETE_MC: 'false'
      TEST_SUITE: ''
      TEST_TYPE: upgrade
      TEST_UPGRADE_OPTIONS: abort-at=100
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-upgrade-aws

e2e-aws-ovn-serial:
  steps:
    cluster_profile: aws-2
    env:
      BASE_DOMAIN: aws-2.ci.openshift.org
      TEST_SUITE: openshift/conformance/serial
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-e2e-aws-serial
  timeout: 5h0m0s

e2e-aws-csi:
  optional: true
  steps:
    cluster_profile: aws-2
    env:
      BASE_DOMAIN: aws-2.ci.openshift.org
      TEST_CSI_DRIVER_MANIFEST: manifest-aws-ebs.yaml
      TEST_SUITE: openshift/csi
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-e2e-aws-csi

e2e-metal-ipi-ovn:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    observers:
      enable:
      - observers-resource-watch
    workflow: baremetalds-e2e-ovn-ipv4

OCPNODE-2315: Add nested container test
  pkg/testsuites/standard_suites.go
  test/extended/include.go
  test/extended/node/nested_container.go
  test/extended/testdata/bindata.go
  test/extended/testdata/node/nested_container/Dockerfile
  test/extended/testdata/node/nested_container/containers.conf
  test/extended/testdata/node/nested_container/run_tests.sh
  test/extended/testdata/node/nested_container/skip_tests.sh
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Do not set the MTU when using NetworkAttachementDefinition
  test/extended/networking/network_segmentation.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

networking: add BGP VRF-Lite tests
  test/extended/networking/egressip.go
  test/extended/networking/egressip_helpers.go
  test/extended/networking/route_advertisements.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/nodes.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCPBUGS-55785: bump limits
  pkg/monitortests/kubeapiserver/auditloganalyzer/handle_operator_watch_count_tracking.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

update networking owners
  test/extended/networking/OWNERS
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

TLS registry update
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.json
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.md
  tls/descriptions/descriptions.json
  tls/descriptions/descriptions.md
  tls/ownership/ownership.json
  tls/ownership/ownership.md
  tls/raw-data/raw-tls-artifacts-ha-amd64-aws-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-aws-ovn-techpreviewnoupgrade.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-azure-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-azure-ovn-techpreviewnoupgrade.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-gcp-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-gcp-ovn-techpreviewnoupgrade.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-metal-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-metal-ovn-techpreviewnoupgrade.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-openstack-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-vsphere-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-vsphere-ovn-techpreviewnoupgrade.json
  tls/raw-data/raw-tls-artifacts-single-amd64-aws-ovn-default.json
  tls/raw-data/raw-tls-artifacts-single-amd64-aws-ovn-techpreviewnoupgrade.json
  tls/violations/autoregenerate-after-expiry/autoregenerate-after-expiry-violations.json
  tls/violations/descriptions/descriptions-violations.json
  tls/violations/ownership/ownership-violations.json
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

fix: Modified verifyBuildPod function to pass all the failing test cases and to ensure the git-clone container does not run privileged
  test/extended/builds/start.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-builds, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

enable PIS & MCN tests on SNO & target SNO PISs to master roles
  test/extended/machine_config/helpers.go
  test/extended/machine_config/machine_config_node.go
  test/extended/machine_config/pinnedimages.go
  test/extended/testdata/bindata.go
  test/extended/testdata/machine_config/pinnedimage/masterInvalidPis.yaml
  test/extended/testdata/machine_config/pinnedimage/masterPis.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add test which verifes that only short duration tests are present
  test/extended/operators/certs.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCPNODE-3138: Add zstd:chunked image test
  test/extended/node/zstd_chunked.go
  test/extended/testdata/bindata.go
  test/extended/testdata/node/zstd-chunked/Dockerfile
  test/extended/testdata/node/zstd-chunked/Dockerfile.sample
  test/extended/testdata/node/zstd-chunked/build.sh
  test/extended/testdata/node/zstd-chunked/test-custom-build.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/annotate/rules.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

pinnedimages: Handle Metal CI test cases
  test/extended/machine_config/helpers.go
  test/extended/machine_config/pinnedimages.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add OLMv1 Single/OwnNamespace tests
  test/extended/olm/olmv1-singleownnamespace.go
  test/extended/testdata/olmv1/install-lvm-operator-otherns.yaml
  test/extended/testdata/olmv1/install-lvm-operator-singlens.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

OCPBUGS-54700: aws/edge: prevent test using unschedulable nodes
  test/extended/networking/tap.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add MCO disruptive suite
  pkg/testsuites/standard_suites.go
  test/extended/machine_config/boot_image_update_aws.go
  test/extended/machine_config/boot_image_update_gcp.go
  test/extended/machine_config/machine_config_node.go
  test/extended/machine_config/pinnedimages.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

add wait for network ready before launching pods
  test/extended/networking/network_segmentation.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

set proxy for http transport in router and imageregistry cases
  test/extended/images/redirect.go
  test/extended/router/external_certificate.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-aws-ovn-image-registry, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

RouteExternalCertificate stress testing
  test/extended/router/external_certificate.go
  test/extended/router/external_certificate_stress.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

UPSTREAM: <carry>: revert: NO-JIRA: support skipping [OCP]FeatureGate tests
  pkg/clioptions/suiteselection/feature_filter.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

authorization: check for validated-scc-subject-type
  test/extended/authorization/scc.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

authorization: move into different context for next test
  test/extended/authorization/podsecurity_admission.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

authorization: test minimially sufficient PSS annotation on namespace
  test/extended/authorization/podsecurity_admission.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

hack/update-generated.sh
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

TRT-2061: brute throttling
  pkg/monitortestframework/impl.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

TRT-2049: check topology flake failures
  pkg/monitortests/kubeapiserver/auditloganalyzer/handle_operator_watch_count_tracking.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Revert "Revert "TRT-2049: check for any watch requests""
  pkg/monitortests/kubeapiserver/auditloganalyzer/handle_operator_watch_count_tracking.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

TRT-2061: Test pause etcd log analyzer
  pkg/monitortests/etcd/etcdloganalyzer/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

TRT-2061: Startup pause in between deployments
  pkg/monitortests/network/disruptionpodnetwork/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

TRT-2061: add extra wait time
  pkg/monitortests/network/disruptionpodnetwork/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

TRT-2061: rebase cleanup
  pkg/monitortests/kubeapiserver/disruptionexternalapiserver/monitortest.go
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/monitortest.go
  pkg/monitortests/kubeapiserver/disruptionlegacyapiservers/monitortest.go
  pkg/monitortests/testframework/watchrequestcountscollector/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

TRT-2061: Startup info logging
  pkg/monitortests/etcd/etcdloganalyzer/monitortest.go
  pkg/monitortests/network/disruptionpodnetwork/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

TRT-2061: Startup info logging
  pkg/monitortests/network/disruptionpodnetwork/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add new MCO disruptive suite
  pkg/testsuites/standard_suites.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

tagimportmode: Do not skip tests if the import mode is the same as the import mode of the cluster
  test/extended/images/tagimportmode.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-aws-ovn-image-registry, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

Replace RunHostCmd with oc exec function to censor bearer token being exposed
  test/extended/prometheus/prometheus.go
  test/extended/router/metrics.go
  test/extended/util/client.go
  test/extended/util/prometheus/helpers.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Path conditions:
  unit: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  verify: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  verify-deps: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-ovn: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-agnostic-ovn-cmd: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-ovn-builds: any of: ^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  e2e-aws-jenkins: any of: ^(test/extended/builds/pipeline_jenkins_e2e.go)|^(test/extended/testdata/jenkins-plugin)|^(examples/jenkins)
  e2e-gcp-ovn-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  e2e-aws-ovn-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  e2e-gcp-ovn-upgrade: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-ovn-rt-upgrade: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-csi: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-upgrade-rollback: any of: ^(test/e2e/upgrade)
  e2e-aws-ovn-serial: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-csi: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-fips: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-ipi-ovn: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-ipi-ovn-kube-apiserver-rollout: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-ipi-ovn-ipv6: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-single-node: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-single-node-serial: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-single-node-upgrade: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-openstack-ovn: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-cgroupsv2: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  lint: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-kubevirt: any of: ^test/extended/kubevirt/.*
  e2e-baremetalds-kubevirt: any of: ^test/extended/kubevirt/.*
  e2e-aws-ovn-edge-zones: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
