Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-builds, e2e-aws-jenkins, e2e-gcp-ovn-image-ecosystem, e2e-aws-ovn-image-registry, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-upgrade-rollback, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-kubevirt, e2e-baremetalds-kubevirt, e2e-aws-ovn-edge-zones, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

unit:
  commands: GOTEST_FLAGS='-p 8' hack/test-go.sh
  container:
    from: src
    memory_backed_volume:
      size: 4Gi

verify:
  commands: 'make verify -k --warn-undefined-variables
  
    '
  container:
    from: bin

verify-deps:
  commands: 'make verify-deps -k --warn-undefined-variables
  
    '
  container:
    from: src

e2e-gcp-ovn:
  steps:
    cluster_profile: gcp
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-e2e-gcp

e2e-agnostic-ovn-cmd:
  optional: true
  steps:
    cluster_profile: azure4
    env:
      TEST_SUITE: openshift/test-cmd
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-e2e-azure

e2e-gcp-ovn-builds:
  steps:
    cluster_profile: gcp-openshift-gce-devel-ci-2
    workflow: openshift-e2e-gcp-builds

e2e-aws-jenkins:
  steps:
    cluster_profile: aws-2
    env:
      BASE_DOMAIN: aws-2.ci.openshift.org
      TEST_SUITE: openshift/jenkins-e2e
    workflow: openshift-e2e-aws-jenkins

e2e-gcp-ovn-image-ecosystem:
  steps:
    cluster_profile: gcp-openshift-gce-devel-ci-2
    workflow: openshift-e2e-gcp-image-ecosystem

e2e-aws-ovn-image-registry:
  steps:
    cluster_profile: aws-2
    env:
      BASE_DOMAIN: aws-2.ci.openshift.org
      TEST_SUITE: openshift/image-registry
    workflow: openshift-e2e-aws-image-registry

e2e-gcp-ovn-upgrade:
  steps:
    cluster_profile: gcp-3
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-upgrade-gcp

e2e-gcp-ovn-rt-upgrade:
  optional: true
  steps:
    cluster_profile: gcp-3
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-upgrade-gcp-ovn-rt

e2e-gcp-csi:
  optional: true
  steps:
    cluster_profile: gcp
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-e2e-gcp-csi

e2e-aws-ovn-upgrade-rollback:
  optional: true
  steps:
    cluster_profile: aws-2
    env:
      BASE_DOMAIN: aws-2.ci.openshift.org
      DELETE_MC: 'false'
      TEST_SUITE: ''
      TEST_TYPE: upgrade
      TEST_UPGRADE_OPTIONS: abort-at=100
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-upgrade-aws

e2e-aws-ovn-serial:
  steps:
    cluster_profile: aws-2
    env:
      BASE_DOMAIN: aws-2.ci.openshift.org
      TEST_SUITE: openshift/conformance/serial
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-e2e-aws-serial
  timeout: 5h0m0s

e2e-aws-csi:
  optional: true
  steps:
    cluster_profile: aws-2
    env:
      BASE_DOMAIN: aws-2.ci.openshift.org
      TEST_CSI_DRIVER_MANIFEST: manifest-aws-ebs.yaml
      TEST_SUITE: openshift/csi
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-e2e-aws-csi

e2e-metal-ipi-ovn:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    observers:
      enable:
      - observers-resource-watch
    workflow: baremetalds-e2e-ovn-ipv4

bump(k8s): update k8s.io/* dependencies to v1.31.10
  go.mod
  go.sum
  vendor/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  vendor/k8s.io/apiextensions-apiserver/pkg/registry/customresource/etcd.go
  vendor/k8s.io/apiserver/pkg/server/options/serving_with_loopback.go
  vendor/k8s.io/client-go/util/cert/cert.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_getters.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go
  vendor/k8s.io/kubernetes/pkg/kubelet/userns/types.go
  vendor/k8s.io/kubernetes/pkg/kubelet/userns/userns_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/userns/userns_manager_windows.go
  vendor/k8s.io/kubernetes/pkg/util/kernel/constants.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/gcp-crio, ci/prow/cross, ci/prow/artifacts

make update
  test/extended/util/image/zz_generated.txt
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

update Dockerfile
  images/tests/Dockerfile.rhel
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

OCPBUGS-58895: bump watch count limits
  pkg/monitortests/kubeapiserver/auditloganalyzer/handle_operator_watch_count_tracking.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

register CMO tests extension
  pkg/test/extensions/binary.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add MCO's OTE tests to origin
  pkg/test/extensions/binary.go
  pkg/testsuites/standard_suites.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

chore(test/extended/prometheus): bump the series limit of total series sent via telemetry from each cluster
  test/extended/prometheus/prometheus.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

test/extended/testdata/cmd/test/cmd/images: Collect all ImageStreams
  test/extended/testdata/cmd/test/cmd/images.sh
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

WIP: test/extended/testdata/cmd/test/cmd/images: Don't delete namespace
  test/extended/testdata/cmd/test/cmd/images.sh
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

OTA-1580: Upgrade-time test for `oc adm upgrade status`"
  test/e2e/upgrade/upgrade.go
  test/extended/cli/adm_upgrade/status_upgrade.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-upgrade-rollback, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

WIP: more debugging I hope
  hack/lib/cmd.sh
  test/extended/testdata/cmd/test/cmd/images.sh
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/cross, ci/prow/artifacts

Use the pull secret of the cluster under test
  test/extended/clusterversion/clusterversion.go
  test/extended/util/clusterversion.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Ensure CSI tests are defined before OTE initialization
  pkg/clioptions/clusterdiscovery/csi.go
  pkg/clioptions/clusterdiscovery/provider.go
  pkg/test/extensions/binary.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Hack: fix regexes
  test/extended/cli/adm_upgrade/status_upgrade.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Multi-line mode for regex
  test/extended/cli/adm_upgrade/status_upgrade.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Allow only including / excluding specific extension images
  docs/test_extensions.md
  pkg/test/extensions/binary.go
  pkg/test/extensions/binary_filter_test.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

test/extended/cli/admin: Add 'oc adm upgrade recommend' smoke test
  test/extended/cli/admin.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/client.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCPBUGS-59159: Adjust DNS success rate to 98.0% for SNO upgrade test.
  test/e2e/upgrade/dns/dns.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-upgrade-rollback, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

wip: updates
  test/extended/oidc/oidc.go
  test/extended/util/client.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

wip: add payload tests for external oidc feature
  test/extended/oidc/oidc.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

wip: updates
  test/extended/oidc/oidc.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

wip: generate
  test/extended/include.go
  test/extended/oidc/oidc.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

wip: initial set of tests
  test/extended/oidc/oidc.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

wip: add keycloak deployment and cleanup, oidc configuration and rollback
  test/extended/oidc/oidc.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

wip: more updates
  pkg/testsuites/standard_suites.go
  test/extended/oidc/oidc.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  vendor/github.com/openshift/library-go/pkg/operator/condition/condition.go
  vendor/modules.txt
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

restructuring
  test/extended/oidc/oidc.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

beforeall afterall updates
  test/extended/oidc/oidc.go
  test/extended/util/client.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

regenerate
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

wip: update
  test/extended/oidc/oidc.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

fixup! rebase
  pkg/testsuites/standard_suites.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

fixup! botched rebase
  pkg/testsuites/standard_suites.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add olmv1 webhook support origin tests
  test/extended/olm/olmv1-webhook-support.go
  test/extended/testdata/bindata.go
  test/extended/testdata/olmv1/operator.yaml
  test/extended/testdata/olmv1/webhook-support/conversion-webhook-test.yaml
  test/extended/testdata/olmv1/webhook-support/mutating-webhook-test.yaml
  test/extended/testdata/olmv1/webhook-support/validating-webhook-test.yaml
  test/extended/testdata/olmv1/webhook-support/webhook-operator-catalog.yaml
  test/extended/testdata/olmv1/webhook-support/webhook-operator.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

bump(k8s): update k8s.io/* dependencies to v1.30.14
  go.mod
  go.sum
  vendor/k8s.io/apiserver/pkg/server/options/serving_with_loopback.go
  vendor/k8s.io/client-go/util/cert/cert.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_getters.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet_pods.go
  vendor/k8s.io/kubernetes/pkg/kubelet/userns/types.go
  vendor/k8s.io/kubernetes/pkg/kubelet/userns/userns_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/userns/userns_manager_windows.go
  vendor/k8s.io/kubernetes/test/utils/image/manifest.go
  vendor/modules.txt
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/gcp-crio, ci/prow/cross, ci/prow/artifacts

bump(k8s): update Dockerfile
  images/tests/Dockerfile.rhel
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

bump(k8s): make update
  test/extended/util/image/zz_generated.txt
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

ocpbugs-59203: add MCN happy scope test to serial suite
  test/extended/machine_config/machine_config_node.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

ocpbugs-57524: improve stability of MCN slow tests
  test/extended/machine_config/helpers.go
  test/extended/machine_config/machine_config_node.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Path conditions:
  unit: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  verify: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  verify-deps: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-ovn: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-agnostic-ovn-cmd: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-ovn-builds: any of: ^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  e2e-aws-jenkins: any of: ^(test/extended/builds/pipeline_jenkins_e2e.go)|^(test/extended/testdata/jenkins-plugin)|^(examples/jenkins)
  e2e-gcp-ovn-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  e2e-aws-ovn-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  e2e-gcp-ovn-upgrade: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-ovn-rt-upgrade: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-csi: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-upgrade-rollback: any of: ^(test/e2e/upgrade)
  e2e-aws-ovn-serial: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-csi: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-fips: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-ipi-ovn: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-ipi-ovn-kube-apiserver-rollout: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-ipi-ovn-ipv6: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-single-node: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-single-node-serial: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-single-node-upgrade: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-openstack-ovn: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-cgroupsv2: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  lint: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-kubevirt: any of: ^test/extended/kubevirt/.*
  e2e-baremetalds-kubevirt: any of: ^test/extended/kubevirt/.*
  e2e-aws-ovn-edge-zones: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
