Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-builds, e2e-aws-jenkins, e2e-gcp-ovn-image-ecosystem, e2e-aws-ovn-image-registry, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-upgrade-rollback, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-kubevirt, e2e-baremetalds-kubevirt, e2e-aws-ovn-edge-zones, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  unit: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  verify: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  verify-deps: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-ovn: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-agnostic-ovn-cmd: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-ovn-builds: any of: ^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  e2e-aws-jenkins: any of: ^(test/extended/builds/pipeline_jenkins_e2e.go)|^(test/extended/testdata/jenkins-plugin)|^(examples/jenkins)
  e2e-gcp-ovn-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  e2e-aws-ovn-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  e2e-gcp-ovn-upgrade: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-ovn-rt-upgrade: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-csi: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-upgrade-rollback: any of: ^(test/e2e/upgrade)
  e2e-aws-ovn-serial: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-csi: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-fips: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-ipi-ovn: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-ipi-ovn-kube-apiserver-rollout: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-ipi-ovn-ipv6: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-single-node: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-single-node-serial: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-single-node-upgrade: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-openstack-ovn: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-cgroupsv2: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  lint: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-kubevirt: any of: ^test/extended/kubevirt/.*
  e2e-baremetalds-kubevirt: any of: ^test/extended/kubevirt/.*
  e2e-aws-ovn-edge-zones: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

Use ART image instead of coreos/etcd in image info test
  test/extended/images/info.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-aws-ovn-image-registry, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

[test: networking] Schedule UDN pods for isolation test on cgroupv2 node.
  test/extended/networking/network_segmentation.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

add min kubelet version tests
  test/extended/include.go
  test/extended/node/minimum_kubelet_version.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

NO-JIRA: update buckets
  pkg/monitortests/kubeapiserver/auditloganalyzer/handle_audit_latency.go
  pkg/monitortests/kubeapiserver/auditloganalyzer/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

NO-JIRA: update verbs
  pkg/monitortests/kubeapiserver/auditloganalyzer/handle_audit_latency.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

NO-JIRA: update missing total annotation
  pkg/monitortests/kubeapiserver/auditloganalyzer/handle_audit_latency.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

remove csi-snapshot-validation-webhook
  test/extended/testdata/bindata.go
  test/extended/testdata/cli/test-release-image-references.json
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

owners: update MCO team list
  test/extended/machine_config/OWNERS
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

validate that the binary extraction was successful via existence check
  pkg/test/extensions/provider.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

NE-1968: add e2e tests for FeatureGate GatewayAPI
  test/extended/router/gatewayapi.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

[test: networking] Skip UDN isolation tests with cgroupv1 nodes.
  test/extended/networking/network_segmentation.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Address review comments
  test/extended/router/external_certificate.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Add tests for OVN-K default pod network route advertisement
  go.mod
  go.sum
  test/extended/networking/egressip.go
  test/extended/networking/egressip_helpers.go
  test/extended/networking/route_advertisements.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  vendor/github.com/k8snetworkplumbingwg/network-attachment-definition-client/NOTICE
  vendor/github.com/k8snetworkplumbingwg/network-attachment-definition-client/pkg/apis/k8s.cni.cncf.io/v1/types.go
  vendor/github.com/metallb/frr-k8s/LICENSE
  vendor/github.com/metallb/frr-k8s/api/v1beta1/frr_node_state_types.go
  vendor/github.com/metallb/frr-k8s/api/v1beta1/frrconfiguration_types.go
  vendor/github.com/metallb/frr-k8s/api/v1beta1/groupversion_info.go
  vendor/github.com/metallb/frr-k8s/api/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/ovn-org/ovn-kubernetes/go-controller/LICENSE
  vendor/github.com/ovn-org/ovn-kubernetes/go-controller/pkg/crd/routeadvertisements/v1/doc.go
  vendor/github.com/ovn-org/ovn-kubernetes/go-controller/pkg/crd/routeadvertisements/v1/register.go
  vendor/github.com/ovn-org/ovn-kubernetes/go-controller/pkg/crd/routeadvertisements/v1/types.go
  vendor/github.com/ovn-org/ovn-kubernetes/go-controller/pkg/crd/routeadvertisements/v1/zz_generated.deepcopy.go
  vendor/github.com/spf13/afero/afero.go
  vendor/github.com/spf13/afero/basepath.go
  vendor/github.com/spf13/afero/copyOnWriteFs.go
  vendor/github.com/spf13/afero/ioutil.go
  vendor/github.com/spf13/afero/mem/file.go
  vendor/github.com/spf13/afero/memmap.go
  vendor/github.com/spf13/afero/regexpfs.go
  vendor/github.com/spf13/afero/symlink.go
  vendor/github.com/spf13/afero/unionFile.go
  vendor/github.com/spf13/afero/util.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/pkg/scheme/scheme.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

pis testing
  test/extended/machine_config/helpers.go
  test/extended/machine_config/pinnedimages.go
  test/extended/testdata/bindata.go
  test/extended/testdata/machine_config/machineconfigurations/customMCP.yaml
  test/extended/testdata/machine_config/machineconfigurations/customMCPpis.yaml
  test/extended/testdata/machine_config/machineconfigurations/pis.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCPNODE-2315: Add nested container test
  test/extended/include.go
  test/extended/node/nested_container.go
  test/extended/node/nested_container/Dockerfile
  test/extended/node/nested_container/containers.conf
  test/extended/node/nested_container/skip_tests.sh
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCPNODE-2315: Add nested container test
  test/extended/node/nested_container.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

machine_config: updates for ManagedBootImageStatus
  test/extended/machine_config/boot_image_update_agnostic.go
  test/extended/machine_config/boot_image_update_aws.go
  test/extended/machine_config/boot_image_update_gcp.go
  test/extended/testdata/bindata.go
  test/extended/testdata/machine_config/machineconfigurations/managedbootimages-empty.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

machine_config: restore providerSpec on fail
  test/extended/machine_config/boot_image_update_agnostic.go
  test/extended/machine_config/helpers.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

test/extended/etcd/etcd_storage_path.go: decode CBOR data
  test/extended/etcd/etcd_storage_path.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

mco-1595: validate MCN properties
  test/extended/machine_config/helpers.go
  test/extended/machine_config/machine_config_node.go
  test/extended/testdata/bindata.go
  test/extended/testdata/machine_config/machineconfigpool/infra-mcp.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OPRUN-3692: OLMv1-catalogd tests for API endpoints
  test/extended/olm/olmv1.go
  test/extended/testdata/bindata.go
  test/extended/testdata/olmv1/catalog-server-load-test.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

NO-JIRA: summarize audit latency counts
  pkg/monitortests/kubeapiserver/auditloganalyzer/handle_audit_latency.go
  pkg/monitortests/kubeapiserver/auditloganalyzer/handle_audit_violation.go
  pkg/monitortests/kubeapiserver/auditloganalyzer/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

virt, udn: use l2bridge binding
  test/extended/networking/livemigration.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Test PR
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

OCPBUGS-44633: fix tests replacing apply to create
  test/extended/builds/subscription_content.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-builds, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_builds, ci/prow/e2e-aws-builds

mco-1596: validate MCN condition status transitions
  test/extended/machine_config/helpers.go
  test/extended/machine_config/machine_config_node.go
  test/extended/testdata/bindata.go
  test/extended/testdata/machine_config/machineconfig/0-worker-mc.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Fix egress firewall tests by updating the URL from docs.openshift.com to docs.redhat.com after docs migration
  test/extended/networking/egress_firewall.go
  test/extended/testdata/bindata.go
  test/extended/testdata/egress-firewall/ovnk-egressfirewall-test.yaml
  test/extended/testdata/egress-firewall/ovnk-egressfirewall-wildcard-test.yaml
  test/extended/testdata/egress-firewall/sdn-egressnetworkpolicy-test.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

wip
  test/extended/node/nested_container.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds
