Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-builds, e2e-aws-jenkins, e2e-gcp-ovn-image-ecosystem, e2e-aws-ovn-image-registry, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-upgrade-rollback, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-kubevirt, e2e-baremetalds-kubevirt, e2e-aws-ovn-edge-zones, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

unit:
  commands: GOTEST_FLAGS='-p 8' hack/test-go.sh
  container:
    from: src
    memory_backed_volume:
      size: 4Gi

verify:
  commands: 'make verify -k --warn-undefined-variables
  
    '
  container:
    from: bin

verify-deps:
  commands: 'make verify-deps -k --warn-undefined-variables
  
    '
  container:
    from: src

e2e-gcp-ovn:
  steps:
    cluster_profile: gcp
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-e2e-gcp

e2e-agnostic-ovn-cmd:
  optional: true
  steps:
    cluster_profile: azure4
    env:
      TEST_SUITE: openshift/test-cmd
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-e2e-azure

e2e-gcp-ovn-builds:
  steps:
    cluster_profile: gcp-openshift-gce-devel-ci-2
    workflow: openshift-e2e-gcp-builds

e2e-aws-jenkins:
  steps:
    cluster_profile: aws-2
    env:
      BASE_DOMAIN: aws-2.ci.openshift.org
      TEST_SUITE: openshift/jenkins-e2e
    workflow: openshift-e2e-aws-jenkins

e2e-gcp-ovn-image-ecosystem:
  steps:
    cluster_profile: gcp-openshift-gce-devel-ci-2
    workflow: openshift-e2e-gcp-image-ecosystem

e2e-aws-ovn-image-registry:
  steps:
    cluster_profile: aws-2
    env:
      BASE_DOMAIN: aws-2.ci.openshift.org
      TEST_SUITE: openshift/image-registry
    workflow: openshift-e2e-aws-image-registry

e2e-gcp-ovn-upgrade:
  steps:
    cluster_profile: gcp-3
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-upgrade-gcp

e2e-gcp-ovn-rt-upgrade:
  optional: true
  steps:
    cluster_profile: gcp-3
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-upgrade-gcp-ovn-rt

e2e-gcp-csi:
  optional: true
  steps:
    cluster_profile: gcp
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-e2e-gcp-csi

e2e-aws-ovn-upgrade-rollback:
  optional: true
  steps:
    cluster_profile: aws-2
    env:
      BASE_DOMAIN: aws-2.ci.openshift.org
      DELETE_MC: 'false'
      TEST_SUITE: ''
      TEST_TYPE: upgrade
      TEST_UPGRADE_OPTIONS: abort-at=100
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-upgrade-aws

e2e-aws-ovn-serial:
  steps:
    cluster_profile: aws-2
    env:
      BASE_DOMAIN: aws-2.ci.openshift.org
      TEST_SUITE: openshift/conformance/serial
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-e2e-aws-serial
  timeout: 5h0m0s

e2e-aws-csi:
  optional: true
  steps:
    cluster_profile: aws-2
    env:
      BASE_DOMAIN: aws-2.ci.openshift.org
      TEST_CSI_DRIVER_MANIFEST: manifest-aws-ebs.yaml
      TEST_SUITE: openshift/csi
    observers:
      enable:
      - observers-resource-watch
    workflow: openshift-e2e-aws-csi

e2e-metal-ipi-ovn:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    observers:
      enable:
      - observers-resource-watch
    workflow: baremetalds-e2e-ovn-ipv4

CNF-18661:add a test that should validate the communication matrix ports match the node's listening ports
  go.mod
  go.sum
  test/extended/networking/commatrix.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  vendor/github.com/openshift-kni/commatrix/pkg/listening-sockets/listening-sockets.go
  vendor/modules.txt
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

certs: add in-memory certificates in TLS registry
  pkg/certs/types.go
  pkg/certs/utils.go
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadatainterfaces/annotation_requirement.go
  pkg/cmd/update-tls-artifacts/generate-owners/tlsmetadatainterfaces/helpers.go
  test/extended/operators/certs.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

TLS Artifacts update
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.json
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.md
  tls/descriptions/descriptions.json
  tls/descriptions/descriptions.md
  tls/ownership/ownership.json
  tls/ownership/ownership.md
  tls/raw-data/raw-tls-artifacts-ha-amd64-aws-ovn-default.json
  tls/refresh-period/refresh-period.json
  tls/refresh-period/refresh-period.md
  tls/testcase/testcase.json
  tls/testcase/testcase.md
  tls/violations/autoregenerate-after-expiry/autoregenerate-after-expiry-violations.json
  tls/violations/descriptions/descriptions-violations.json
  tls/violations/ownership/ownership-violations.json
  tls/violations/refresh-period/refresh-period-violations.json
  tls/violations/testcase/testcase-violations.json
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

disruption: classify localhost disruptions in a different source
  pkg/disruption/backend/disruption/handler.go
  pkg/monitor/monitorapi/types.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

disruption: show localhost disruption on non-spyglass reports
  e2echart/non-spyglass-e2e-chart-template.html
  test/extended/testdata/bindata.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

trt-2163: check for registryAuthFilePath
  pkg/test/extensions/binary.go
  pkg/test/extensions/util.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

add payload tests for external oidc feature
  pkg/testsuites/standard_suites.go
  test/extended/authentication/keycloak_client.go
  test/extended/authentication/keycloak_helpers.go
  test/extended/authentication/oidc.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  test/extended/util/client.go
  vendor/github.com/openshift/library-go/pkg/operator/condition/condition.go
  vendor/modules.txt
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

fixup! fix build error after rebase
  test/extended/authentication/oidc.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add OLMv1 Single/OwnNamespace tests
  test/extended/olm/olmv1-singleownnamespace.go
  test/extended/testdata/bindata.go
  test/extended/testdata/olmv1/install-openshift-pipelines-operator-ownns.yaml
  test/extended/testdata/olmv1/install-quay-operator-ownns.yaml
  test/extended/testdata/olmv1/install-quay-operator-singlens.yaml
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

networking: Add primaryUDN VM restart test w/ preconfigured IP addr.
  test/extended/networking/kubevirt/template.go
  test/extended/networking/livemigration.go
  test/extended/networking/network_segmentation.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

networking: Add primaryUDN VM restart test w/ preconfigured MAC addr.
  test/extended/networking/kubevirt/template.go
  test/extended/networking/livemigration.go
  test/extended/networking/network_segmentation.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

networking: Add primaryUDN VM LM test w/ preconfigured addr.
  test/extended/networking/livemigration.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

networking: Add primaryUDN VM Addr collision test w/ preconfigured addr
  test/extended/networking/kubevirt/client.go
  test/extended/networking/livemigration.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

updated a dnsrecord function, some logs and removed deleting csv test
  test/extended/router/gatewayapicontroller.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

authorization: verify schedulingGates work
  test/extended/authorization/scheduling_gates.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Remove exception for monitoring operator going degraded during upgrade
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add test watching overloaded network via etcd logging
  pkg/monitortests/etcd/legacyetcdmonitortests/etcd.go
  pkg/monitortests/etcd/legacyetcdmonitortests/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

trt-2163: use DetermineReleasePayloadImage
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/monitortest.go
  pkg/monitortests/network/disruptionpodnetwork/utils.go
  pkg/test/extensions/binary.go
  pkg/test/extensions/util.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

dra e2e test
  pkg/testsuites/standard_suites.go
  test/extended/dra/OWNERS
  test/extended/dra/common_spec.go
  test/extended/dra/cuda_spec.go
  test/extended/dra/dra.go
  test/extended/dra/mig_spec.go
  test/extended/dra/mps_spec.go
  test/extended/dra/utility/drivertoolkit.go
  test/extended/dra/utility/example-dra-driver.go
  test/extended/dra/utility/gpu-operator.go
  test/extended/dra/utility/helm-install.go
  test/extended/dra/utility/helper.go
  test/extended/dra/utility/nvidia-dra-driver.go
  test/extended/images/prune.go
  test/extended/include.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-aws-ovn-image-registry, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

Fix: bump external-snapshotter for vgs tests
  go.mod
  go.sum
  test/extended/util/image/zz_generated.txt
  vendor/k8s.io/kubernetes/test/e2e/storage/testsuites/volume_group_snapshottable.go
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-snapshotter/volume-group-snapshots/csi-hostpath-plugin.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/external-snapshotter/volume-group-snapshots/run_group_snapshot_e2e.sh
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/gce-pd/controller_ss.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  vendor/k8s.io/kubernetes/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-snapshotter.yaml
  vendor/modules.txt
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Enable test for LGW L2
  test/extended/networking/route_advertisements.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OCPNODE-3004: Add ImageVolume e2e tests
  test/extended/node/image_volume.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Bump library-go to vrutkovs:cert-refresh-period-rewrite
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/certs/cert-inspection/certgraphanalysis/metadata_options.go
  vendor/github.com/openshift/library-go/pkg/certs/pem.go
  vendor/github.com/openshift/library-go/pkg/certs/util.go
  vendor/github.com/openshift/library-go/pkg/controller/factory/base_controller.go
  vendor/github.com/openshift/library-go/pkg/controller/factory/controller_context.go
  vendor/github.com/openshift/library-go/pkg/controller/factory/eventfilters.go
  vendor/github.com/openshift/library-go/pkg/controller/factory/factory.go
  vendor/github.com/openshift/library-go/pkg/controller/factory/interfaces.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/OWNERS
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/annotations.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/cabundle.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/client_cert_rotation_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/config.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/label.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/metadata.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/signer.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/target.go
  vendor/github.com/openshift/library-go/pkg/operator/condition/condition.go
  vendor/github.com/openshift/library-go/pkg/operator/management/management_state.go
  vendor/github.com/robfig/cron/.gitignore
  vendor/github.com/robfig/cron/.travis.yml
  vendor/github.com/robfig/cron/LICENSE
  vendor/github.com/robfig/cron/README.md
  vendor/github.com/robfig/cron/constantdelay.go
  vendor/github.com/robfig/cron/cron.go
  vendor/github.com/robfig/cron/doc.go
  vendor/github.com/robfig/cron/parser.go
  vendor/github.com/robfig/cron/spec.go
  vendor/modules.txt
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

certt collection: humanize refresh periods
  test/extended/operators/certs.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

OCPBUGS-59750: Move the legacy container failures
  pkg/defaultmonitortests/types.go
  pkg/monitortests/kubelet/containerfailures/container_failures.go
  pkg/monitortests/kubelet/containerfailures/exclusions.go
  pkg/monitortests/kubelet/containerfailures/exclusions_test.go
  pkg/monitortests/node/legacynodemonitortests/kubelet.go
  pkg/monitortests/node/legacynodemonitortests/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

ocpbugs-59203: add MCN happy scope test to serial suite
  test/extended/machine_config/machine_config_node.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

ocpbugs-57524: improve stability of MCN slow tests
  test/extended/machine_config/helpers.go
  test/extended/machine_config/machine_config_node.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Don't filter on cluster state in dry-run
  pkg/test/filters/cluster_state.go
  pkg/test/filters/cluster_state_test.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Ensure ServiceMonitor's endpoints are protected
  test/extended/prometheus/prometheus.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

fixup! address review comments
  test/extended/authentication/keycloak_client.go
  test/extended/authentication/oidc.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

gatewayapicontroller: Delete the Istio CR
  test/extended/router/gatewayapicontroller.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

trt-2163: pass in oc to avoid ginkgo panics
  pkg/monitortests/kubeapiserver/disruptioninclusterapiserver/monitortest.go
  pkg/monitortests/network/disruptionpodnetwork/monitortest.go
  pkg/monitortests/network/disruptionpodnetwork/utils.go
  pkg/test/extensions/binary.go
  pkg/test/extensions/util.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

OCPFeatureGate:SigstoreImageVerification update test on v1 (Cluster)ImagePolicy
  pkg/monitortestlibrary/pathologicaleventlibrary/duplicated_event_patterns.go
  test/extended/imagepolicy/imagepolicy.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Ensure connections are closed, pass around e2e.Framework.
  test/extended/apiserver/tls.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

TLS registry update for July 2025
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.json
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.md
  tls/descriptions/descriptions.json
  tls/descriptions/descriptions.md
  tls/ownership/ownership.json
  tls/ownership/ownership.md
  tls/raw-data/raw-tls-artifacts-ha-amd64-aws-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-aws-ovn-techpreviewnoupgrade.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-azure-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-azure-ovn-techpreviewnoupgrade.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-gcp-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-gcp-ovn-techpreviewnoupgrade.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-metal-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-metal-ovn-techpreviewnoupgrade.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-openstack-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-vsphere-ovn-default.json
  tls/raw-data/raw-tls-artifacts-ha-amd64-vsphere-ovn-techpreviewnoupgrade.json
  tls/raw-data/raw-tls-artifacts-single-amd64-aws-ovn-default.json
  tls/raw-data/raw-tls-artifacts-single-amd64-aws-ovn-techpreviewnoupgrade.json
  tls/refresh-period/refresh-period.json
  tls/refresh-period/refresh-period.md
  tls/testcase/testcase.json
  tls/testcase/testcase.md
  tls/violations/autoregenerate-after-expiry/autoregenerate-after-expiry-violations.json
  tls/violations/descriptions/descriptions-violations.json
  tls/violations/ownership/ownership-violations.json
  tls/violations/refresh-period/refresh-period-violations.json
  tls/violations/testcase/testcase-violations.json
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

TLS registry: add two node arbiter certificates
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.json
  tls/autoregenerate-after-expiry/autoregenerate-after-expiry.md
  tls/descriptions/descriptions.json
  tls/descriptions/descriptions.md
  tls/ownership/ownership.json
  tls/ownership/ownership.md
  tls/raw-data/raw-tls-artifacts--amd64-metal-ovn-techpreviewnoupgrade.json
  tls/refresh-period/refresh-period.json
  tls/refresh-period/refresh-period.md
  tls/testcase/testcase.json
  tls/testcase/testcase.md
  tls/violations/autoregenerate-after-expiry/autoregenerate-after-expiry-violations.json
  tls/violations/refresh-period/refresh-period-violations.json
  tls/violations/testcase/testcase-violations.json
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Bump library-go to latest master
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/certs/cert-inspection/certgraphanalysis/metadata_options.go
  vendor/github.com/openshift/library-go/pkg/certs/pem.go
  vendor/github.com/openshift/library-go/pkg/certs/util.go
  vendor/github.com/openshift/library-go/pkg/controller/factory/base_controller.go
  vendor/github.com/openshift/library-go/pkg/controller/factory/controller_context.go
  vendor/github.com/openshift/library-go/pkg/controller/factory/eventfilters.go
  vendor/github.com/openshift/library-go/pkg/controller/factory/factory.go
  vendor/github.com/openshift/library-go/pkg/controller/factory/interfaces.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/OWNERS
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/annotations.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/cabundle.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/client_cert_rotation_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/config.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/label.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/metadata.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/signer.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/target.go
  vendor/github.com/openshift/library-go/pkg/operator/condition/condition.go
  vendor/github.com/openshift/library-go/pkg/operator/management/management_state.go
  vendor/github.com/robfig/cron/.gitignore
  vendor/github.com/robfig/cron/.travis.yml
  vendor/github.com/robfig/cron/LICENSE
  vendor/github.com/robfig/cron/README.md
  vendor/github.com/robfig/cron/constantdelay.go
  vendor/github.com/robfig/cron/cron.go
  vendor/github.com/robfig/cron/doc.go
  vendor/github.com/robfig/cron/parser.go
  vendor/github.com/robfig/cron/spec.go
  vendor/modules.txt
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

TLS registry collection: remove hash from primary cert bundle secret
  test/extended/operators/certs.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

boot_image_update_vsphere: Add tests for verifying Bootimage Update for vSphere
  test/extended/machine_config/boot_image_update_agnostic.go
  test/extended/machine_config/boot_image_update_vsphere.go
  test/extended/machine_config/helpers.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
  zz_generated.manifests/test-reporting.yaml
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Path conditions:
  unit: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  verify: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  verify-deps: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-ovn: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-agnostic-ovn-cmd: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-ovn-builds: any of: ^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  e2e-aws-jenkins: any of: ^(test/extended/builds/pipeline_jenkins_e2e.go)|^(test/extended/testdata/jenkins-plugin)|^(examples/jenkins)
  e2e-gcp-ovn-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  e2e-aws-ovn-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  e2e-gcp-ovn-upgrade: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-ovn-rt-upgrade: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-csi: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-upgrade-rollback: any of: ^(test/e2e/upgrade)
  e2e-aws-ovn-serial: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-csi: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-fips: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-ipi-ovn: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-ipi-ovn-kube-apiserver-rollout: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-ipi-ovn-ipv6: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-single-node: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-single-node-serial: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-single-node-upgrade: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-openstack-ovn: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-cgroupsv2: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  lint: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-kubevirt: any of: ^test/extended/kubevirt/.*
  e2e-baremetalds-kubevirt: any of: ^test/extended/kubevirt/.*
  e2e-aws-ovn-edge-zones: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
