Repository openshift/origin: changes, and which Prow jobs are due for each by the changed paths.
All: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-builds, e2e-aws-jenkins, e2e-gcp-ovn-image-ecosystem, e2e-aws-ovn-image-registry, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-upgrade-rollback, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-kubevirt, e2e-baremetalds-kubevirt, e2e-aws-ovn-edge-zones, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/prow/e2e-gcp-image-ecosystem, ci/prow/gcp-crio, ci/openshift-jenkins/extended_builds, ci/openshift-jenkins/extended_image_ecosystem, ci/openshift-jenkins/extended_image_registry, ci/prow/cross, ci/openshift-jenkins/service-catalog, ci/prow/artifacts, ci/prow/e2e-aws-builds, ci/prow/e2e-aws-image-ecosystem

Path conditions:
  unit: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  verify: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  verify-deps: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-ovn: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-agnostic-ovn-cmd: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-ovn-builds: any of: ^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  e2e-aws-jenkins: any of: ^(test/extended/builds/pipeline_jenkins_e2e.go)|^(test/extended/testdata/jenkins-plugin)|^(examples/jenkins)
  e2e-gcp-ovn-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  e2e-aws-ovn-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  e2e-gcp-ovn-upgrade: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-ovn-rt-upgrade: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-gcp-csi: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-upgrade-rollback: any of: ^(test/e2e/upgrade)
  e2e-aws-ovn-serial: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-csi: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-fips: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-ipi-ovn: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-ipi-ovn-kube-apiserver-rollout: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-ipi-ovn-ipv6: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-single-node: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-single-node-serial: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-single-node-upgrade: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-openstack-ovn: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-cgroupsv2: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  lint: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-aws-ovn-kubevirt: any of: ^test/extended/kubevirt/.*
  e2e-baremetalds-kubevirt: any of: ^test/extended/kubevirt/.*
  e2e-aws-ovn-edge-zones: unless all of: ^(?:docs|\.github)/|\.md$|^(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-aws-image-registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/e2e-gcp-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-gcp-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/gcp-crio: any of: ^(vendor/k8s.io/kubernetes/pkg/kubelet)|^(pkg/build/builder)
  ci/openshift-jenkins/extended_builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/openshift-jenkins/extended_image_registry: any of: ^(pkg/image)|^(test/extended/registry)|^(test/extended/images)|^(test/extended/imageapis)|^(vendor/github.com/docker/distribution)
  ci/prow/cross: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/openshift-jenkins/service-catalog: any of: ^(pkg/cmd/server/bootstrappolicy)|^(pkg/oc/bootstrap/docker/openshift)|^(examples/service-catalog)|^(pkg/oc/bootstrap/clusteradd/components/service-catalog)
  ci/prow/artifacts: any of: ^(hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-builds: any of: ^(pkg/oc/cli/startbuild/startbuild.go)|^(pkg/build)|^(staging/src/.*/pkg/.*build)|^(pkg/cmd/infra/builder)|^(test/extended/builds)|^(test/extended/testdata/builds)|^(test/extended/util)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)
  ci/prow/e2e-aws-image-ecosystem: any of: ^(test/extended/image_ecosystem)|^(examples/db-templates)|^(examples/quickstarts)|^(examples/image-streams)|^(examples/jenkins)|^(vendor/github.com/openshift/source-to-image)|^(vendor/github.com/openshift/imagebuilder)

add ns/pod exemptions + fix exemption logic
  pkg/monitortests/authentication/nodefaultserviceaccountoperatorstests/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add auto-sizing-reversed test to origin
  test/extended/node/node_sizing.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

update formats, add new cases
  test/extended/security/scc.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

reset failure value
  pkg/monitortests/authentication/nodefaultserviceaccountoperatorstests/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Skip micro-shift env for node sizing
  test/extended/node/node_sizing.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

ensure passing and failing tests aren't overwritten
  pkg/monitortests/authentication/nodefaultserviceaccountoperatorstests/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

NO-JIRA: Removed k8s filtering due to annotation change
  pkg/test/ginkgo/cmd_runsuite.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add a test for NodeSizing default change
  test/extended/node/node_sizing.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

NO-JIRA: Separate node tests
  pkg/test/ginkgo/cmd_runsuite.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add a test for NodeSizing default change
  test/extended/node/node_sizing.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

OTA-1643: Each CO must go Progressing during upgrade
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/monitortest.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add an exception for fast CO updates
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators_test.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Expose all Progressing messages
  pkg/monitor/monitorapi/types.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/monitortest.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators_test.go
  pkg/monitortests/testframework/watchclusteroperators/operator.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add e2e tests for storage network policy labels
  test/extended/storage/helpers.go
  test/extended/storage/storage_networkpolicy.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Refactor the test to just one worker node
  test/extended/node/node_sizing.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

add known default/verify-all* ns/pod exceptions
  pkg/monitortests/authentication/nodefaultserviceaccountoperatorstests/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

comment out openshift-marketplace ns check for payload
  pkg/monitortests/authentication/nodefaultserviceaccountoperatorstests/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

NO-JIRA: Separate cli tests
  pkg/test/ginkgo/cmd_runsuite.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add component specific exceptions
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

SPLAT-2337: Added OTE binary for ccm-aws
  pkg/test/extensions/binary.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

NO-JIRA: Separate apps tests
  pkg/test/ginkgo/cmd_runsuite.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

NO-JIRA: Check spec for k8s tests
  pkg/test/ginkgo/cmd_runsuite.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add ConfigDriftMonitorStoppedTooOften matcher
  pkg/monitortestlibrary/pathologicaleventlibrary/duplicated_event_patterns.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

update telemtery limit for 4.17
  test/extended/prometheus/prometheus.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Refactor the test to just one worker node
  test/extended/node/node_sizing.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-gcp-builds, ci/prow/e2e-aws-builds

Register ote binary for etcd-o
  pkg/test/extensions/binary.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Add e2e tests to validate the disabled alpha, beta DRA APIs
  test/extended/node/dra.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

wip
  test/e2e/upgrade/upgrade.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-upgrade-rollback, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

NO-JIRA: OTE - increase debug on errors
  pkg/test/extensions/binary.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

add informing job exceptions
  pkg/monitortests/authentication/nodefaultserviceaccountoperatorstests/monitortest.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

Allow non-drained updates based on node schedulability and kubelet status
  test/e2e/upgrade/upgrade.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-upgrade-rollback, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

add more images dryrun tests
  test/extended/images/dryrun.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-aws-ovn-image-registry, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-aws-image-registry, ci/openshift-jenkins/extended_image_registry

make update to generate case annotation
  test/extended/images/dryrun.go
  test/extended/util/annotate/generated/zz_generated.annotations.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-aws-ovn-image-registry, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones, ci/prow/e2e-aws-image-registry, ci/prow/e2e-gcp-builds, ci/openshift-jenkins/extended_image_registry, ci/prow/e2e-aws-builds

OCPBUGS-62630: Add an exception for co/network
  pkg/monitortests/clusterversionoperator/legacycvomonitortests/operators.go
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones

OCPBUGS-64738: add support of hypershift
  deps.diff
  go.mod
  go.sum
  vendor/github.com/openshift-kni/commatrix/pkg/client/client.go
  vendor/github.com/openshift-kni/commatrix/pkg/commatrix-creator/commatrix.go
  vendor/github.com/openshift-kni/commatrix/pkg/endpointslices/endpointslices.go
  vendor/github.com/openshift-kni/commatrix/pkg/listening-sockets/listening-sockets.go
  vendor/github.com/openshift-kni/commatrix/pkg/mcp/mcp.go
  vendor/github.com/openshift-kni/commatrix/pkg/types/static-custom-entries.go
  vendor/github.com/openshift-kni/commatrix/pkg/types/types.go
  vendor/github.com/openshift-kni/commatrix/pkg/utils/utils.go
  vendor/modules.txt
Due: unit, verify, verify-deps, e2e-gcp-ovn, e2e-agnostic-ovn-cmd, e2e-gcp-ovn-upgrade, e2e-gcp-ovn-rt-upgrade, e2e-gcp-csi, e2e-aws-ovn-serial, e2e-aws-csi, e2e-aws-ovn-fips, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-kube-apiserver-rollout, e2e-metal-ipi-ovn-ipv6, e2e-aws-ovn-single-node, e2e-aws-ovn-single-node-serial, e2e-aws-ovn-single-node-upgrade, e2e-openstack-ovn, e2e-aws-ovn-cgroupsv2, lint, e2e-aws-ovn-edge-zones
