Repository openshift/osde2e: changes, and which Prow jobs are due for each by the changed paths.
All: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Path conditions:
  rosa-pr-check: unless all of: ^(?:docs|\.github|scripts)|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE)$
  hypershift-pr-check: unless all of: ^(?:docs|\.github|scripts)|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE)$
  ci/prow/hypershift-pr-check: unless all of: ^(?:docs|\.github)|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE)$
  ci/prow/rosa-pr-check: unless all of: ^(?:docs|\.github)|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE)$

Update doc to reflect latest osd upgrade ci jobs
  docs/CI-Jobs.md
Due: none

Weather report generation at Tue Apr 25 12:01:22 UTC 2023
  content/post/5e64475a9a5a484a88e2da94a614f3b3.md
  content/post/8368ebde56bd44169b3f9eb32abdd07e.md
  content/post/cbd00137bbce440e90d33251155feb15.md
Due: none

adding more job params
  scripts/parameterized-job.sh
Due: ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Weather report generation at Wed Apr 26 12:04:40 UTC 2023
  content/post/46fe9e4d0bf04617835b28db82dadc93.md
  content/post/567c4de034614eb5b86a3d7ece2613cf.md
  content/post/bc54d255c54543d2b97c72b0b2028926.md
Due: none

Weather report generation at Thu Apr 27 12:01:21 UTC 2023
  content/post/30a070b183294bfbb072efd7b1989986.md
  content/post/aff6d4c7773148d08bf03858d87658d6.md
  content/post/f5a31c125e724cbfbdf4d26c9e6b0006.md
Due: none

Consolidate and remove duplicate code for selecting cluster versions
  pkg/common/versions/installselectors/default_version.go
  pkg/common/versions/installselectors/default_version_test.go
  pkg/common/versions/version_selector.go
  pkg/common/versions/version_setup.go
  pkg/common/versions/versionselector.go
  pkg/e2e/e2e.go
  pkg/e2e/version.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Weather report generation at Fri Apr 28 12:00:52 UTC 2023
  content/post/1c4a780fe338483389c923fc86f21649.md
  content/post/216b63363da94906bc98a00e1d8a6ad8.md
  content/post/7898186e22c04ff59e178dc1aeef2417.md
Due: none

Weather report generation at Sat Apr 29 12:01:41 UTC 2023
  content/post/291118e06f714f14a9a6d86f2fff8e5a.md
  content/post/3d79011879614c429dc930b521b4eb70.md
  content/post/f662f2eb5c3a4f1fb74b87f254c2cd66.md
Due: none

Weather report generation at Sun Apr 30 12:06:52 UTC 2023
  content/post/2cc0ae8a30814d6a82a8612a13057990.md
  content/post/660b37c350494322a058476c8a4f40b9.md
  content/post/d91a92df1f3f41b2923e82094a30d7c1.md
Due: none

Weather report generation at Mon May 1 12:01:04 UTC 2023
  content/post/0b0dabb853fd43ae96cdd6c51cc33c81.md
  content/post/78a16c035fab44dc9c3ce962411ab65b.md
  content/post/f9ba39fcc2384995ac22d8f6b6166681.md
Due: none

verify/storage.go: minor refinements to pvc test
  pkg/e2e/verify/storage.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Weather report generation at Tue May 2 12:01:29 UTC 2023
  content/post/16070af5bc1c414a9f19fab97bb802da.md
  content/post/293da2198ba649ad86ade2980c82ffa8.md
  content/post/49ae1ff6f5ae41b9bdcfe4c886ce6374.md
Due: none

Add support to automatically create rosa account roles
  pkg/common/providers/rosaprovider/accountroles.go
  pkg/common/providers/rosaprovider/cluster.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Only attempt to create rosa account roles when sts is enabled
  pkg/common/providers/rosaprovider/cluster.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

cmd/osde2e: simplify test harness
  cmd/osde2e/alert/cmd.go
  cmd/osde2e/main.go
  cmd/osde2e/test/cmd.go
  pkg/common/helper/helper.go
  pkg/common/helper/olm.go
  pkg/common/helper/projects.go
  pkg/common/helper/runner.go
  pkg/common/helper/testRunner.go
  pkg/common/upgrade/upgrade.go
  pkg/e2e/e2e.go
  pkg/e2e/harness_runner/harness_runner.go
  pkg/e2e/openshift/app_builds.go
  pkg/e2e/openshift/conformance.go
  pkg/e2e/openshift/disruptive.go
  pkg/e2e/openshift/images.go
  pkg/e2e/routemonitors/routemonitors.go
  pkg/e2e/state/prometheus.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Weather report generation at Wed May 3 12:01:27 UTC 2023
  content/post/1fa148d38cca460780968a8c55345f1e.md
  content/post/8a86e7a1048740acaa6dbf61bedad745.md
  content/post/975224ba292d41d9b1f25ee6d1d5a9b8.md
Due: none

Set aws session when create/delete rosa hcp vpc
  pkg/common/providers/rosaprovider/vpc.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Weather report generation at Thu May 4 12:01:23 UTC 2023
  content/post/1f5f553fea244a47aeea1ef49a9ee4fe.md
  content/post/672f9d6f49db4f73b768592b33dfc242.md
  content/post/b5ba372f8e5e4a8589fe432b815432ce.md
Due: none

sdcicd-955 added new test config
  configs/complete-e2e.yaml
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Weather report generation at Fri May 5 12:01:08 UTC 2023
  content/post/608fc4ed436e4235bcf14b533d44c074.md
  content/post/a4fbf96eb5ae4009a2470f412654372e.md
  content/post/a5771ccf0f074574be405ed626b9898b.md
Due: none

Bump go from 1.18 to 1.19
  Dockerfile.osde2e
  go.mod
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Do not attempt account role creation when failed to get account roles
  pkg/common/providers/rosaprovider/accountroles.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Bump k8s.io/client-go package for other k8s package bumps
  go.mod
  go.sum
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Set cluster name var when creating through ROSA
  pkg/common/cluster/clusterutil.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

added "operators" label back to config
  configs/complete-e2e.yaml
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Hotfix -Revert Rosa Back to v1.2.17
  go.mod
  go.sum
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

added new suite to run basic tests on new configs
  configs/sanity.yaml
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

e2e/operators/ocmagent: update configmap name
  pkg/e2e/operators/ocmagent/ocmagent.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

docs for self service jobs
  docs/Self-Service-MOPs/Ad-Hoc-E2E-Job.md
  docs/Self-Service-MOPs/Region-Enablement.md
Due: none

remove account ids
  docs/Self-Service-MOPs/Region-Enablement.md
Due: none

Install git as its required to use terraform-exec within a container
  Dockerfile.osde2e
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Include channel group when creating rosa account roles
  pkg/common/providers/rosaprovider/accountroles.go
  pkg/common/providers/rosaprovider/cluster.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

added test harness SOP
  docs/Test-Harnesses.md
Due: none

Update docs/Self-Service-MOPs/Ad-Hoc-E2E-Job.md
  docs/Self-Service-MOPs/Ad-Hoc-E2E-Job.md
Due: none

removed param list
  docs/Self-Service-MOPs/Ad-Hoc-E2E-Job.md
Due: none

fixed sentence
  docs/Self-Service-MOPs/Region-Enablement.md
Due: none
