Repository openshift/osde2e: changes, and which Prow jobs are due for each by the changed paths.
All: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Path conditions:
  rosa-pr-check: unless all of: ^(?:docs|\.github|scripts)|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE)$
  hypershift-pr-check: unless all of: ^(?:docs|\.github|scripts)|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE)$
  ci/prow/hypershift-pr-check: unless all of: ^(?:docs|\.github|scripts|test)|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE)$
  ci/prow/rosa-pr-check: unless all of: ^(?:docs|\.github|scripts|test)|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE)$

Update configs/complete-e2e.yaml
  configs/complete-e2e.yaml
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Bump velero dependency
  go.mod
  go.sum
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Remove unneeded velero tests
  pkg/e2e/operators/managedvelero.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Remove workload tests from hypershift/e2e test suites
  pkg/e2e/workloads/workloads.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

use suite timeout config for harness if provided, otherwise generic pollingtimeout
  pkg/e2e/harness_runner/harness_runner.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

harness_runner: handle image tags when generating job name
  pkg/e2e/harness_runner/harness_runner.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

fixes ` Found two adjacent labels.` error
  configs/complete-e2e.yaml
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Test Harness: support multiple reruns of osde2e against the same cluster
  pkg/common/helper/helper.go
  pkg/e2e/e2e.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Update mc/sc upgrade test suite based on latest osde2e-common changes
  test/mcscupgrade/mcscupgrade_test.go
Due: rosa-pr-check, hypershift-pr-check

installselectors: fix mismatch types
  pkg/common/versions/installselectors/latest_y_from_default_selector.go
  pkg/common/versions/installselectors/latest_y_from_delta.go
  pkg/common/versions/installselectors/latest_z_from_delta.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Test harness: fix handling the timeout for the harness pod
  pkg/e2e/harness_runner/harness_runner.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

use HARNESS_TIMEOUT var to specify individual harness timout, POLLING_TIMEOUT if unspecified
  pkg/common/config/config.go
  pkg/e2e/harness_runner/harness_runner.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

print active timeout
  pkg/e2e/harness_runner/harness_runner.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

remove timeout log
  pkg/e2e/harness_runner/harness_runner.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Attempt cluster deletion when failing to create cleanup helper object
  pkg/common/cluster/clusterutil.go
  pkg/common/helper/helper.go
  pkg/common/upgrade/upgrade.go
  pkg/e2e/e2e.go
  pkg/e2e/routemonitors/routemonitors.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

test/cluster_diff: initial commit of suite to diff two clusters
  .gitignore
  go.mod
  go.sum
  test/cluster_diff/cluster-diff.sh
  test/cluster_diff/cluster_diff_suite_test.go
  test/cluster_diff/cluster_diff_test.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Get rosa hcp cluster oidc config id from ocm cluster body
  pkg/common/providers/ocmprovider/cluster.go
  pkg/common/providers/rosaprovider/cluster.go
  pkg/common/providers/rosaprovider/oidcconfig.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

test/cluster_diff: install required tools when missing
  test/cluster_diff/cluster-diff.sh
Due: rosa-pr-check, hypershift-pr-check

misc: bump osde2e-common
  go.mod
  go.sum
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

test/mcscupgrade: remove deleted option
  test/mcscupgrade/mcscupgrade_test.go
Due: rosa-pr-check, hypershift-pr-check

Write rosa vpc terraform generated files to either report/shared dir
  pkg/common/providers/rosaprovider/cluster.go
  pkg/common/providers/rosaprovider/vpc.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

clear deleted project name from config
  pkg/e2e/harness_runner/harness_runner.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Rosa 1.24 update
  go.mod
  go.sum
  pkg/common/providers/rosaprovider/cluster.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

test/cluster_diff: fix incorrect path
  test/cluster_diff/cluster-diff.sh
Due: rosa-pr-check, hypershift-pr-check

Swap dependabot back to weekly
  .github/dependabot.yml
Due: none

test/cluster_diff: run ocm login on start
  test/cluster_diff/cluster-diff.sh
Due: rosa-pr-check, hypershift-pr-check

bump osde2e-common
  go.mod
  go.sum
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

docs/Writing-Tests.md: cleanup/revise document
  docs/Writing-Tests.md
Due: none

Switch rosa provider to use provider from osde2e-common
  go.mod
  go.sum
  pkg/common/providers/rosaprovider/accountroles.go
  pkg/common/providers/rosaprovider/cluster.go
  pkg/common/providers/rosaprovider/oidcconfig.go
  pkg/common/providers/rosaprovider/rosa.go
  pkg/common/providers/rosaprovider/util.go
  pkg/common/providers/rosaprovider/versions.go
  pkg/common/providers/rosaprovider/vpc.go
  pkg/e2e/e2e.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

docs/Writing-Tests.md: pr feedback
  docs/Writing-Tests.md
Due: none

Update owners file
  OWNERS
Due: none

misc: add version selector logging
  pkg/common/versions/installselectors/default_version.go
  pkg/common/versions/installselectors/delta_release_from_default.go
  pkg/common/versions/installselectors/interface.go
  pkg/common/versions/installselectors/latest_version_selector.go
  pkg/common/versions/installselectors/latest_xy.go
  pkg/common/versions/installselectors/latest_y_from_default_selector.go
  pkg/common/versions/installselectors/latest_y_from_delta.go
  pkg/common/versions/installselectors/latest_z_from_default_selector.go
  pkg/common/versions/installselectors/latest_z_from_delta.go
  pkg/common/versions/installselectors/middle_cluster_image_set.go
  pkg/common/versions/installselectors/next_version_after_prod_default.go
  pkg/common/versions/installselectors/oldest_cluster_image_set.go
  pkg/common/versions/installselectors/specific_image.go
  pkg/common/versions/installselectors/specific_nightlies.go
  pkg/common/versions/versionselector.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

installselectors: only use specific img when triggered for nightly jobs
  pkg/common/versions/installselectors/specific_image.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

e2e: fix logger panic
  pkg/e2e/e2e.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

fix: increase the delay for expiring clusters
  pkg/common/providers/mock/mock.go
  pkg/common/providers/ocmprovider/cluster.go
  pkg/common/providers/rosaprovider/wrapped_calls.go
  pkg/common/spi/provider.go
  pkg/e2e/e2e.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

added yiqin to reviewers
  OWNERS
Due: none
