Repository openshift/osde2e: changes, and which Prow jobs are due for each by the changed paths.
All: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Path conditions:
  rosa-pr-check: unless all of: ^(?:docs|\.github|scripts)|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE)$
  hypershift-pr-check: unless all of: ^(?:docs|\.github|scripts)|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE)$
  ci/prow/hypershift-pr-check: unless all of: ^(?:docs|\.github)|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE)$
  ci/prow/rosa-pr-check: unless all of: ^(?:docs|\.github)|\.md$|^(?:\.gitignore|.golang-ci.yml|OWNERS|LICENSE)$

fixes
  docs/Test-Harnesses.md
Due: none

removed line number
  docs/Self-Service-MOPs/Ad-Hoc-E2E-Job.md
  docs/Test-Harnesses.md
Due: none

removed line number
  docs/Test-Harnesses.md
Due: none

Docs for self service jobs (#1833)
  docs/Self-Service-MOPs/Ad-Hoc-E2E-Job.md
  docs/Self-Service-MOPs/Region-Enablement.md
  docs/Test-Harnesses.md
Due: none

Blurb and link to addon test harness testing
  docs/Test-Harnesses.md
Due: none

Update ci jobs doc to include rosa classic sts trt nightly jobs
  docs/CI-Jobs.md
Due: none

fixed must gather flag not reading, corrected hibernate default
  cmd/osde2e/test/cmd.go
  pkg/common/config/config.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

added parameters to job script
  scripts/parameterized-job.sh
Due: ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Workload suite test - expect no error on service ping
  pkg/e2e/workloads/workloads.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Update docs/Test-Harnesses.md
  docs/Test-Harnesses.md
Due: none

Added steps related to errors
  docs/Self-Service-MOPs/Region-Enablement.md
Due: none

fix quote
  docs/Self-Service-MOPs/Region-Enablement.md
Due: none

link
  docs/Self-Service-MOPs/Region-Enablement.md
Due: none

fix error behavior when harness creates no xml file
  pkg/common/helper/testRunner.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

gofumpt
  pkg/common/helper/testRunner.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Added MOP steps related to region enablement errors (#1867)
  docs/Self-Service-MOPs/Region-Enablement.md
Due: none

increased workload deployment timeout
  pkg/e2e/workloads/workloads.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

reverted noError back to Error, increased timeout
  pkg/e2e/workloads/workloads.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

reverted error string var
  pkg/e2e/workloads/workloads.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

error string var
  pkg/e2e/workloads/workloads.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Update ci-jobs doc to reflect the slack channel for notifications
  docs/CI-Jobs.md
Due: none

Workload suite test - increased timeout (#1862)
  pkg/e2e/workloads/workloads.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Explicitly pass the rosa account roles when creating clusters
  pkg/common/providers/rosaprovider/accountroles.go
  pkg/common/providers/rosaprovider/cluster.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

updating result writer to print test harness result if result xml can't be found
  pkg/common/helper/olm.go
  pkg/common/helper/projects.go
  pkg/common/helper/runner.go
  pkg/common/helper/testRunner.go
  pkg/e2e/e2e.go
  pkg/e2e/openshift/app_builds.go
  pkg/e2e/openshift/conformance.go
  pkg/e2e/openshift/disruptive.go
  pkg/e2e/openshift/images.go
  pkg/e2e/state/prometheus.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

updating result writer to print test harness result if result xml can't be found
  pkg/common/helper/runner.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

change must-gather flag to skip-must gather following skip flags convention
  README.md
  cmd/osde2e/test/cmd.go
  docs/Config.md
  pkg/common/config/config.go
  pkg/e2e/e2e.go
  scripts/parameterized-job.sh
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

added OCM_CCS flag to test OSD CCS clusters
  scripts/parameterized-job.sh
Due: ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

added multi-az env var
  scripts/parameterized-job.sh
Due: ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

updated var name in jenkins script
  scripts/parameterized-job.sh
Due: ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Jenkins ccs env var (#1889)
  scripts/parameterized-job.sh
Due: ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

settings to create privatelink rosa cluster
  docs/Config.md
  pkg/common/providers/rosaprovider/cluster.go
  pkg/common/providers/rosaprovider/config.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

fixed must gather flag not reading, corrected hibernate default (#1851)
  README.md
  cmd/osde2e/test/cmd.go
  docs/Config.md
  pkg/common/config/config.go
  pkg/e2e/e2e.go
  scripts/parameterized-job.sh
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Updates Rosa and Terraform to unblock hcp
  assets/terraform/setup-vpc.tf
  go.mod
  go.sum
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Fixes minimum compute node issue for multi AZ clusters
  pkg/common/providers/rosaprovider/cluster.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Adds managed false arg to oidc config create
  pkg/common/providers/rosaprovider/oidcconfig.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

fixed SKIP_CLUSTER_HEALTH_CHECKS env var to read correctly
  pkg/common/config/config.go
  pkg/e2e/e2e.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

checking app gets deployed before verifying deployment condition
  pkg/e2e/workloads/workloads.go
Due: rosa-pr-check, hypershift-pr-check, ci/prow/hypershift-pr-check, ci/prow/rosa-pr-check

Add column for CCS Accounts related to jobs
  docs/CI-Jobs.md
Due: none
