Repository openshift/cluster-version-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

ci/prow/e2e-agnostic-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-agnostic-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-agnostic-ovn-upgrade-into-change:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-agnostic-ovn-upgrade-out-of-change:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn-techpreview:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-hypershift:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-hypershift-conformance:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/gofmt:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

pkg/cvo/metrics: Serve cluster_version_available_updates when channel is set
  pkg/cvo/metrics.go
  pkg/cvo/metrics_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Revert "Merge pull request #1309 from JianLi-RH/automate_42543"
  .openshift-tests-extension/openshift_payload_cluster-version-operator.json
  pkg/cvo/external/dynamicclient/client.go
  test/cvo/cvo.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

install: Annotate HyperShift bootstrap manifests with include.release.openshift.io/bootstrap-cluster-version-operator
  Dockerfile.rhel
  install/0000_00_cluster-version-operator_00_namespace.yaml
  install/0000_00_cluster-version-operator_02_roles.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

metrics: Respect central TLS profile using controller-runtime-common
  pkg/cvo/cvo.go
  pkg/cvo/metrics.go
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

metrics: Introduce override flags for TLS configuration to support HyperShift
  cmd/cluster-version-operator/start.go
  pkg/cvo/metrics.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Try not to block by informing
  cmd/cluster-version-operator-tests/README.md
Due: none

pkg/cvo/egress: Disable Proxy respect on HyperShift
  pkg/cvo/egress.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

feat(resource builder): allow to inject tls configuration into annotated config maps
  hack/generate-lib-resources.py
  lib/resourcebuilder/core.go
  lib/resourcebuilder/core_test.go
  lib/resourcebuilder/resourcebuilder.go
  lib/resourcebuilder/resourcebuilder_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

fix: new unit test for custom and empty tls configuration
  lib/resourcebuilder/core.go
  lib/resourcebuilder/core_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

refactor: use cmp.Diff for comparision
  lib/resourcebuilder/core_test.go
  lib/resourcebuilder/resourcebuilder_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Address review comments (to be squashed before merging)
  lib/resourcebuilder/core.go
  lib/resourcebuilder/core_test.go
  lib/resourcebuilder/resourcebuilder_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

lib/resourcebuilder/core.go: Error out on any error during TLS injection
  lib/resourcebuilder/core.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

lib/resourcebuilder/core: Add tests for updateRNodeWithTLSSettings
  lib/resourcebuilder/core_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

feat(lib/resourcebuilder.modifyConfigMap): accept config.openshift.io/v1.GenericControllerConfig as well
  lib/resourcebuilder/core.go
  lib/resourcebuilder/core_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

All CVO manifests in payload should be included
  pkg/payload/render_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Check bootstrap CVO too
  pkg/payload/render_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Fix an error message
  pkg/payload/render_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

test(TestModifyConfigMap): no-op for invalid yaml file or an unsupported apiversion
  lib/resourcebuilder/core_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

fix: return an error when APIServer CR is not found to avoid falling back to defaults
  lib/resourcebuilder/core.go
  lib/resourcebuilder/core_test.go
  lib/resourcebuilder/resourcebuilder_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

OTA-1813: Populate risks from alerts
  pkg/clusterconditions/promql/alerts.go
  pkg/cvo/availableupdates.go
  pkg/cvo/availableupdates_test.go
  pkg/cvo/cvo.go
  pkg/cvo/cvo_test.go
  pkg/cvo/status.go
  pkg/cvo/status_test.go
  pkg/cvo/testdata/alerts.json
  pkg/internal/constants.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Add e2e test case for alert risks
  cmd/cluster-version-operator-tests/main.go
  pkg/external/constants.go
  test/cvo/accept_risks.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

go mod vendor
  go.mod
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

make update
  .openshift-tests-extension/openshift_payload_cluster-version-operator.json
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Drop expiration in the alert cache
  pkg/clusterconditions/promql/alerts.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

add dedicated service account to cluster-version-operator- and version- pods
  install/0000_00_cluster-version-operator_02_service_account-cluster-version-operator.yaml
  install/0000_00_cluster-version-operator_02_service_account-update-payload.yaml
  install/0000_00_cluster-version-operator_03_roles-cluster-version-operator.yaml
  install/0000_00_cluster-version-operator_03_roles-default.yaml
  install/0000_00_cluster-version-operator_30_deployment.yaml
  install/0000_00_cluster-version-operator_40_service.yaml
  pkg/cvo/updatepayload.go
  pkg/payload/render_test.go
  pkg/payload/testdata/TestRenderManifest_expected_cvo_deployment.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

install/0000_00_cluster-version-operator_03_deployment: Allow InformerResourceVersion default
  install/0000_00_cluster-version-operator_30_deployment.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

install/0000_00_cluster-version-operator_03_deployment: Allow InOrderInformersBatchProcess default
  install/0000_00_cluster-version-operator_30_deployment.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

install/0000_00_cluster-version-operator_03_deployment: Disable 1.35 client-go features
  install/0000_00_cluster-version-operator_30_deployment.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

pkg/payload/testdata/TestRenderManifest_expected_cvo_deployment: Update fixture
  pkg/payload/testdata/TestRenderManifest_expected_cvo_deployment.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Add CodeRabbit config with review rules derived from PR feedback
  .coderabbit.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Do not discard ListOptions in waitForPodCompletion.
  pkg/cvo/updatepayload.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Adding common methods for inject upstream
  .openshift-tests-extension/openshift_payload_cluster-version-operator.json
  pkg/payload/precondition/clusterversion/upgradeable.go
  test/cvo/cvo.go
  test/util/util.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Add auth file to oc extract command
  .openshift-tests-extension/openshift_payload_cluster-version-operator.json
  pkg/cvo/external/dynamicclient/client.go
  test/cvo/cvo.go
  test/oc/api/api.go
  test/oc/cli/cli.go
  test/util/util.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Path conditions:
  ci/prow/e2e-agnostic-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-ovn-upgrade-into-change: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-ovn-upgrade-out-of-change: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-techpreview: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-hypershift: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-hypershift-conformance: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/gofmt: any of: \.go$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/lint: any of: \.go$
  ci/prow/okd-scos-e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
