Repository openshift/cluster-version-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

ci/prow/e2e-agnostic-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-agnostic-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-agnostic-ovn-upgrade-into-change:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-agnostic-ovn-upgrade-out-of-change:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn-techpreview:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-hypershift:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-hypershift-conformance:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/gofmt:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

NO-JIRA: Fix ImplicitlyEnabledCapabilities
  pkg/cvo/status.go
  pkg/cvo/status_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

refactor: unify names in informer-related code
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

refactor: extract config informer factory prep
  pkg/start/start.go
  pkg/start/start_integration_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

fix: do not log a `nil` error
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

refactor: modernize CV informer factory creation
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Add upgrade gate for the removal of admissionregistration.k8s.io/v1beta1 between 4.19 and 4.20.
  install/0000_00_cluster-version-operator_01_admingate_configmap.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

group -> version
  install/0000_00_cluster-version-operator_01_admingate_configmap.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

refactor: extract OpenShift version detection to a method
  pkg/featuregates/featuregates.go
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

cvo: determine featureSet and CVO gates early
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

refactor: rename OCP -> OpenShift
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Add upgrade gate for the removal of admissionregistration.k8s.io/v1beta1 between 4.18 and 4.20.
  install/0000_00_cluster-version-operator_01_admingate_configmap.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Strengthen language for recommendation
  install/0000_00_cluster-version-operator_01_admingate_configmap.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

typo: fix the description
  lib/resourceapply/core.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

pkg/cvo: Create periodic check for configuration file
  pkg/cvo/cvo.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

cvo: Add `config-file` flag
  cmd/cluster-version-operator/start.go
  pkg/cvo/cvo.go
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

comments: address review feedback from #1190
  pkg/featuregates/featuregates.go
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

cvo: use early gate checker to avoid delayed initialization
  pkg/cvo/cvo.go
  pkg/featuregates/featuregates.go
  pkg/start/start.go
  pkg/start/start_integration_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

cvo: use early gate checker to avoid delayed initialization
  pkg/cvo/cvo.go
  pkg/featuregates/featurechangestopper.go
  pkg/featuregates/featurechangestopper_test.go
  pkg/featuregates/featuregates.go
  pkg/start/start.go
  pkg/start/start_integration_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

OTA-1480: Add readonlyRootFilesystem
  bootstrap/bootstrap-pod.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

OTA-1531: Add a default-deny network policy for CVO namespace
  install/0000_00_cluster-version-operator_02_networkpolicy.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Clean up the condition with type=ImplicitlyEnabled
  pkg/cvo/status.go
  pkg/cvo/status_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Add myself as an approver
  OWNERS
Due: none

test: remove unnecessary integration tests layers
  Makefile
  docs/dev/README.md
  hack/test-integration.sh
  hack/test-prerequisites.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

deps: `go mod tidy; go mod vendor`
  go.mod
  go.sum
  vendor/github.com/ghodss/yaml/.gitignore
  vendor/github.com/ghodss/yaml/.travis.yml
  vendor/github.com/ghodss/yaml/LICENSE
  vendor/github.com/ghodss/yaml/README.md
  vendor/github.com/ghodss/yaml/fields.go
  vendor/github.com/ghodss/yaml/yaml.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcecolumndefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourceconversion.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcedefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcedefinitioncondition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcedefinitionnames.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcedefinitionspec.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcedefinitionstatus.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcedefinitionversion.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcesubresources.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcesubresourcescale.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/customresourcevalidation.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/externaldocumentation.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/jsonschemaprops.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/selectablefield.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/servicereference.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/validationrule.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/applyconfiguration/apiextensions/v1beta1/webhookclientconfig.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/clientset.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/apiextensions_client.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/customresourcedefinition.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/doc.go
  vendor/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/typed/apiextensions/v1beta1/generated_expansion.go
  vendor/modules.txt
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

tests: fix `make integration-test` target
  Makefile
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

test: use correct informer to process featuregate
  pkg/start/start_integration_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

OTA-1521: Add a default-deny network policy for CVO namespace
  install/0000_00_cluster-version-operator_02_networkpolicy.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

NO-JIRA: resourceapply/rbac: fix resource diff logs
  lib/resourceapply/rbac.go
  lib/resourcemerge/rbac.go
  lib/resourcemerge/rbac_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Add readonlyRootFilesystem
  install/0000_00_cluster-version-operator_03_deployment.yaml
  pkg/payload/testdata/TestRenderManifest_expected_cvo_deployment.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

OTA-1480: Add readonlyRootFilesystem
  bootstrap/bootstrap-pod.yaml
  install/0000_00_cluster-version-operator_03_deployment.yaml
  pkg/cvo/updatepayload.go
  pkg/payload/testdata/TestRenderManifest_expected_cvo_deployment.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Phrasing update from "migrate" to "update"
  install/0000_00_cluster-version-operator_01_admingate_configmap.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

OTA-1531: Rework error handling in FeatureGate processing
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Path conditions:
  ci/prow/e2e-agnostic-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-ovn-upgrade-into-change: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-ovn-upgrade-out-of-change: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-techpreview: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-hypershift: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-hypershift-conformance: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/gofmt: any of: \.go$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/lint: any of: \.go$
  ci/prow/okd-scos-e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
