Repository openshift/cluster-version-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

ci/prow/e2e-agnostic-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-agnostic-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-agnostic-ovn-upgrade-into-change:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-agnostic-ovn-upgrade-out-of-change:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn-techpreview:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-hypershift:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-hypershift-conformance:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/gofmt:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

availableupdates: Refactor getting desired/current architecture
  pkg/cvo/availableupdates.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

OCPBUGS-53062: add the ports Field into the CVO's container spec
  install/0000_00_cluster-version-operator_03_deployment.yaml
  install/0000_00_cluster-version-operator_04_service.yaml
  pkg/payload/testdata/TestRenderManifest_expected_cvo_deployment.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

NO-ISSUE: hongkai becomes an approver
  OWNERS
Due: none

ensure different names for crbs
  install/0000_00_cluster-version-operator_02_ZZ_roles.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

refactor: use more robust method to inject _id label
  go.mod
  go.sum
  pkg/cvo/availableupdates.go
  pkg/cvo/availableupdates_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

rehearsal only; no-merge
  .ci-operator.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

bump(library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/modules.txt
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

availableupdates: Unify capitalization when comparing architectures
  pkg/cvo/availableupdates.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

availableupdates_test: Add test cases for spec.DesiredUpdate
  pkg/cvo/availableupdates_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

migrate ocp-46922 from otp to cvo repo
  .openshift-tests-extension/openshift_payload_cluster-version-operator.json
  test/cvo/cvo.go
  test/cvo/util.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

NO-ISSUE: instrument PromQL cluster condition
  pkg/clusterconditions/promql/promql.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Use base-rhel9 before base-rhel9-minimal is ready
  Dockerfile.rhel
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

lib/resourcemerge/core: Reconcile ConfigMap binaryData too
  lib/resourcemerge/core.go
  lib/resourcemerge/meta.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Revert "OTA-1604: migrate ocp-46922 from otp to cvo repo"
  .openshift-tests-extension/openshift_payload_cluster-version-operator.json
  test/cvo/cvo.go
  test/cvo/util.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

[wip]test-only;no-merge
  test.txt
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

testing: remove OKD manifests
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_00_cluster-version-operator_01_clusterversions-OKD.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_apiservers-OKD.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_authentications-OKD.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_infrastructures-OKD.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_nodes-OKD.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_schedulers-SelfManagedHA-OKD.crd.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Fix some lint issues
  lib/resourcebuilder/interface.go
  lib/resourcedelete/admissionregistration.go
  lib/resourcedelete/apiext.go
  lib/resourcedelete/apps.go
  lib/resourcedelete/batch.go
  lib/resourcedelete/core.go
  lib/resourcedelete/helper.go
  lib/resourcedelete/imagestream.go
  lib/resourcedelete/operators.go
  lib/resourcedelete/rbac.go
  lib/resourcedelete/security.go
  lib/resourcemerge/admissionregistration.go
  lib/resourcemerge/apiext.go
  pkg/cincinnati/cincinnati.go
  pkg/clusterconditions/cache/cache.go
  pkg/clusterconditions/clusterconditions.go
  pkg/clusterconditions/promql/promql.go
  pkg/customsignaturestore/customsignaturestore.go
  pkg/cvo/availableupdates.go
  pkg/cvo/availableupdates_test.go
  pkg/cvo/cvo.go
  pkg/cvo/cvo_scenarios_test.go
  pkg/cvo/cvo_test.go
  pkg/cvo/internal/generic.go
  pkg/cvo/internal/operatorstatus.go
  pkg/cvo/metrics.go
  pkg/cvo/sync_test.go
  pkg/cvo/sync_worker.go
  pkg/cvo/upgradeable.go
  pkg/payload/payload.go
  pkg/payload/precondition/clusterversion/gianthop_test.go
  pkg/payload/precondition/clusterversion/rollback_test.go
  pkg/payload/task_graph.go
  pkg/start/start.go
  pkg/start/start_integration_test.go
  test/cvo/cvo.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

pkg/payload/render: Add OKD feature set logic
  pkg/payload/render.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Set OKD as default featureset for OKD clusters
  Dockerfile.rhel
  hack/build-go.sh
  pkg/payload/render.go
  pkg/start/start.go
  pkg/start/start_integration_test.go
  pkg/version/scos.go
  pkg/version/version.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Fix linter issues on dot-imports
  test/cvo/cvo.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

chore: add permissions on endpointslice to Prometheus Role and use serviceDiscoveryRole: EndpointSlice in ServiceMonitors
  install/0000_90_cluster-version-operator_00_prometheusrole.yaml
  install/0000_90_cluster-version-operator_02_servicemonitor.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Reapply "OTA-1604: migrate ocp-46922 from otp to cvo repo"
  .openshift-tests-extension/openshift_payload_cluster-version-operator.json
  test/cvo/cvo.go
  test/cvo/util.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

skip microshift and handle NotFound error
  test/cvo/cvo.go
  test/cvo/util.go
  test/util/util.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Add a unit test to guide troubleshooting
  pkg/payload/render.go
  pkg/payload/render_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Doc fauxinnati
  docs/dev/feed-cvo-custom-graphs.md
Due: none

Add a serial e2e test
  .openshift-tests-extension/openshift_payload_cluster-version-operator.json
  test/cvo/cvo.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

OTA-1546: Reconcile cv.spec.desiredUpdate.acceptRisks
  pkg/cvo/availableupdates.go
  pkg/cvo/availableupdates_test.go
  pkg/cvo/cvo.go
  pkg/cvo/cvo_test.go
  pkg/cvo/metrics.go
  pkg/cvo/metrics_test.go
  pkg/cvo/status.go
  pkg/cvo/status_test.go
  pkg/featuregates/featuregates.go
  pkg/internal/constants.go
  pkg/payload/precondition/clusterversion/recommendedupdate.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

pkg/cvo/metrics: Utilize dynamiccertificates package for certificate updates
  pkg/cvo/metrics.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

pkg/start/start: Use directly HyperShift flag
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

pkg/cvo/metrics: Move client CN value to function
  pkg/cvo/metrics.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Path conditions:
  ci/prow/e2e-agnostic-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-ovn-upgrade-into-change: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-ovn-upgrade-out-of-change: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-techpreview: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-hypershift: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-hypershift-conformance: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/gofmt: any of: \.go$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/lint: any of: \.go$
  ci/prow/okd-scos-e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
