Repository openshift/cluster-version-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Path conditions:
  ci/prow/e2e-agnostic-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-ovn-upgrade-into-change: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-ovn-upgrade-out-of-change: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-techpreview: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-hypershift: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-hypershift-conformance: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/gofmt: any of: \.go$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/lint: any of: \.go$
  ci/prow/okd-scos-e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Clean up code to remove ReconciliationIssues
  pkg/cvo/reconciliation_issues.go
  pkg/cvo/status.go
  pkg/cvo/status_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

test: Include compressed tests binary in CVO container image
  Dockerfile
  Dockerfile.rhel
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Dockerfiles: Simplify copy commands
  Dockerfile
  Dockerfile.rhel
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Move constants of ClusterStatusConditionType into one place
  pkg/cvo/metrics.go
  pkg/cvo/status.go
  pkg/cvo/upgradeable.go
  pkg/internal/constants.go
  pkg/payload/precondition/clusterversion/upgradeable.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Remove redundant type casting
  pkg/cvo/cvo_test.go
  pkg/cvo/metrics_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Fix unit tests
  pkg/cvo/cvo_scenarios_test.go
  pkg/cvo/cvo_test.go
  pkg/cvo/metrics_test.go
  pkg/cvo/status_test.go
  pkg/cvo/upgradeable_test.go
  pkg/start/start_integration_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

NO-JIRA: Clean up unused Dockerfile and Dockerfile.rhel7
  Dockerfile
  Dockerfile.rhel7
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

vendor: Update openshift/api to get "images that comes" fix
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_cluster_version.go
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_00_cluster-version-operator_01_clusterversions-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_00_cluster-version-operator_01_clusterversions-Default.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_00_cluster-version-operator_01_clusterversions-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_00_cluster-version-operator_01_clusterversions-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features/features.go
  vendor/modules.txt
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

lib/resourcemerge: Add support for hostUsers flag
  lib/resourcemerge/core.go
  lib/resourcemerge/core_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

WIP: no merge; test only for pr-origin-30333
  pkg/cvo/status.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Add fao89 to OWNERS
  OWNERS
Due: none

NO-JIRA: Clarify test names in OTE
  cmd/cluster-version-operator-tests/README.md
  hack/update-test-metadata.sh
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

test: Add quotation marks to sanity test's component name
  test/cvo/cvo.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

test: Manually rename existing test metadata
  .openshift-tests-extension/openshift_payload_cluster-version-operator.json
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

scripts: Implemented the first E2E test.
  .openshift-tests-extension/openshift_payload_cluster-version-operator.json
  cmd/cluster-version-operator-tests/README.md
  test/utilities/connection.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Finished first E2E test case by openshift/client-go and Kubernetes/client-go
  .openshift-tests-extension/openshift_payload_cluster-version-operator.json
  cmd/cluster-version-operator-tests/README.md
  test/cvo/cvo.go
  test/utilities/connection.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Rename DesiredReleaseAccepted to ReleaseAccepted
  pkg/cvo/cvo_scenarios_test.go
  pkg/cvo/status.go
  pkg/cvo/upgradeable.go
  pkg/cvo/upgradeable_test.go
  pkg/internal/constants.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Rename setDesiredReleaseAcceptedCondition to setReleaseAcceptedCondition
  pkg/cvo/status.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Move UpgradeableUpgradeInProgress into the internal pkg
  pkg/cvo/upgradeable.go
  pkg/internal/constants.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Update openshift/api vendoring
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/types_node.go
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_infrastructures-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_infrastructures-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_infrastructures-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/operator/v1/types_csi_cluster_driver.go
  vendor/github.com/openshift/api/operator/v1/types_ingress.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

test: Manually adding test metadata
  .openshift-tests-extension/openshift_payload_cluster-version-operator.json
  cmd/cluster-version-operator-tests/README.md
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

client-go demo
  test/cvo/cvo.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

availableupdates: Unify capitalization when comparing architectures
  pkg/cvo/availableupdates.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

availableupdates: Refactor getting desired/current architecture
  pkg/cvo/availableupdates.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

availableupdates_test: Add test cases for spec.DesiredUpdate
  pkg/cvo/availableupdates_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

lib/resourcemerge: Add support for automountServiceAccountToken
  lib/resourcemerge/core.go
  lib/resourcemerge/core_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

README: Enhancement for OTE
  cmd/cluster-version-operator-tests/README.md
Due: none

add dedicated service account to crb, cvo and version pod
  install/0000_00_cluster-version-operator_02_roles.yaml
  install/0000_00_cluster-version-operator_02_service_account.yaml
  install/0000_00_cluster-version-operator_03_deployment.yaml
  pkg/cvo/updatepayload.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

add new line to keep linter happy
  install/0000_00_cluster-version-operator_02_service_account.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

add sa to testrendermanifest
  pkg/payload/testdata/TestRenderManifest_expected_cvo_deployment.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

add dedicated sa for update payload
  install/0000_00_cluster-version-operator_02_roles.yaml
  install/0000_00_cluster-version-operator_02_service_account.yaml
  pkg/cvo/updatepayload.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Remove $(BIN_DIR) in Makefile
  Makefile
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Introduce oc-cli for e2e tests
  .openshift-tests-extension/openshift_payload_cluster-version-operator.json
  go.mod
  test/cvo/cvo.go
  test/oc/api/api.go
  test/oc/cli/cli.go
  test/oc/oc.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

add cluster-admin clusterrole
  install/0000_00_cluster-version-operator_02_roles.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

remove cluster-admin role from file
  install/0000_00_cluster-version-operator_02_roles.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

add new cluster role with watch feature gate
  install/0000_00_cluster-version-operator_02_roles.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

re-add cluster-admin
  install/0000_00_cluster-version-operator_02_roles.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

rename roles to ensure service account is added first
  install/0000_00_cluster-version-operator_03_1_roles.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit
