Repository openshift/cluster-version-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

ci/prow/e2e-agnostic-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-agnostic-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-agnostic-ovn-upgrade-into-change:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-agnostic-ovn-upgrade-out-of-change:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn-techpreview:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-hypershift:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-hypershift-conformance:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/gofmt:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

pkg/cincinnati: Centralize release metadata parsing
  pkg/cincinnati/cincinnati.go
  pkg/cincinnati/cincinnati_test.go
  pkg/payload/payload.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

install: Add TechPreview ClusterVersionOperator CR manifest
  install/0000_00_cluster-version-operator_02_configuration-TechPreviewNoUpgrade.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

config: Extract apply log level logic to function
  pkg/cvo/configuration/configuration.go
  pkg/cvo/configuration/loglevel.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

config: Refactor configuration representation
  pkg/cvo/configuration/configuration.go
  pkg/cvo/configuration/configuration_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

config: Add handler field to configuration
  pkg/cvo/configuration/configuration.go
  pkg/cvo/configuration/configuration_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

config: Conditionally initialize configuration controller
  pkg/cvo/cvo.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

config: Introduce configuration provider interface
  pkg/cvo/configuration/configuration.go
  pkg/cvo/configuration/configuration_test.go
  pkg/cvo/configuration/resource.go
  pkg/cvo/cvo.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

config: test: Merge individual tests together
  pkg/cvo/configuration/configuration_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

config: Shutdown CVO if configuration controller fails to start
  pkg/cvo/cvo.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

config: Add handler field to CVO configuration
  pkg/cvo/configuration/configuration.go
  pkg/cvo/configuration/configuration_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

config: test: Merge test functions together
  pkg/cvo/configuration/configuration_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

test: Rename test to comply with OTE integration guide
  test/cvo/cvo.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

test: Include compressed tests binary in CVO container image
  Dockerfile
  Dockerfile.rhel
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

test: Manually rename existing test metadata
  .openshift-tests-extension/openshift_payload_cluster-version-operator.json
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

test: Add tests to conformance parallel suite
  cmd/cluster-version-operator-tests/main.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Move myself to emeritus
  OWNERS
Due: none

test: Specify test suite in name
  test/cvo/cvo.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

pkg/cvo: Log failures to merge release metadata
  pkg/cvo/cvo.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

pkg/cvo/metrics: Add a new --serving-client-certificate-authorities-file option
  cmd/cluster-version-operator/start.go
  pkg/cvo/metrics.go
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

pkg/cvo/metrics: Do not require auth when --hypershift is set
  pkg/cvo/metrics.go
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Revert "Merge pull request #1223 from openshift-cherrypick-robot/cherry-pick-1222-to-release-4.18"
  pkg/cvo/metrics.go
  pkg/cvo/metrics_test.go
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Reapply "Merge pull request #1223 from openshift-cherrypick-robot/cherry-pick-1222-to-release-4.18"
  pkg/cvo/metrics.go
  pkg/cvo/metrics_test.go
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

temporarily disable metrics auth for hypershift clusters
  pkg/cvo/metrics.go
  pkg/start/start.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Cluster Bot testing
  README.md
Due: none

Update golang version to 1.24 in go.mod
  go.mod
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

test: Create conformance parallel test suite
  cmd/cluster-version-operator-tests/main.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

test: Create conformance serial test suite
  cmd/cluster-version-operator-tests/main.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

OCPBUGS-14246: Runbook URL for ClusterVersionOperatorDown
  install/0000_90_cluster-version-operator_02_servicemonitor.yaml
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/images, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

pkg: Migrate from k8s.io/apimachinery/pkg/util/diff to github.com/google/go-cmp/cmp
  pkg/cvo/cvo_test.go
  pkg/cvo/status.go
  pkg/cvo/status_history_test.go
  pkg/cvo/status_test.go
  pkg/cvo/sync_test.go
  pkg/cvo/sync_worker_test.go
  pkg/start/start_integration_test.go
Due: ci/prow/e2e-agnostic-operator, ci/prow/e2e-agnostic-ovn, ci/prow/e2e-agnostic-ovn-upgrade-into-change, ci/prow/e2e-agnostic-ovn-upgrade-out-of-change, ci/prow/e2e-aws-ovn-techpreview, ci/prow/e2e-hypershift, ci/prow/e2e-hypershift-conformance, ci/prow/gofmt, ci/prow/images, ci/prow/lint, ci/prow/okd-scos-e2e-aws-ovn, ci/prow/unit

Path conditions:
  ci/prow/e2e-agnostic-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-ovn-upgrade-into-change: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-agnostic-ovn-upgrade-out-of-change: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-techpreview: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-hypershift: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-hypershift-conformance: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/gofmt: any of: \.go$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/lint: any of: \.go$
  ci/prow/okd-scos-e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
