Repository openshift-knative/serverless-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/414-images, ci/prow/414-test-soak, ci/prow/414-ui-e2e, ci/prow/420-aws-ovn-images, ci/prow/420-azure-images, ci/prow/420-gcp-images, ci/prow/420-hypershift-images, ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-single-node-images, ci/prow/420-test-soak, ci/prow/420-test-upgrade, ci/prow/420-ui-e2e, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka, ci/prow/420-vsphere-images, ci/prow/421-images, ci/prow/421-test-soak, ci/prow/421-ui-e2e, ci/prow/ocp-4.21-lp-interop-cr-images

ci/prow/414-images:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: '414'
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/414-test-soak:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-serverless
    ci-operator.openshift.io/variant: '414'
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
  ...

ci/prow/414-ui-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-serverless
    ci-operator.openshift.io/variant: '414'
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
  ...

ci/prow/420-aws-ovn-images:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: 420-aws-ovn
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/420-azure-images:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: 420-azure
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/420-gcp-images:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: 420-gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/420-hypershift-images:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: 420-hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/420-images:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: '420'
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/420-kitchensink-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: '420'
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Remove call to conformance_test, as they run as part of the rect tests now
  test/eventing-kafka.bash
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

Add metrics-protocol to test Eventing and Kafka CRs
  test/v1alpha1/knativekafka.go
  test/v1beta1/resources/operator.knative.dev_v1beta1_knativeeventing_cr.yaml
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

Run gofmt
  test/v1alpha1/knativekafka.go
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

Add metrics-protocol to KnativeKafka CR
  hack/lib/serverless.bash
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

fix(ui-tests): restore OCP 4.13 and earlier selector for external link
  test/ui/cypress/code/knative/serving/showcase.js
Due: ci/prow/414-ui-e2e, ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-ui-e2e, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka, ci/prow/421-ui-e2e

fix(ui-tests): fix isServiceDeployed for OCP <=4.14
  test/ui/cypress/code/knative/serving/showcase.js
Due: ci/prow/414-ui-e2e, ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-ui-e2e, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka, ci/prow/421-ui-e2e

[release-1.37] fix(ui-tests): restore OCP 4.12 support (#3987)
  test/ui/cypress/code/knative/serving/showcase.js
Due: ci/prow/414-ui-e2e, ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-ui-e2e, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka, ci/prow/421-ui-e2e

lp-interop mapping for eventing-kafka
  test/eventing-kafka.bash
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

Revert "Add metrics-protocol to KnativeKafka CR"
  hack/lib/serverless.bash
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

Update monitoring tests for OTEL metric name changes
  test/monitoringe2e/helpers.go
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

Update reconciler-test to latest
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1alpha1/types_insights.go
  vendor/github.com/openshift/api/machineconfiguration/v1/types.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/resources.go
  vendor/modules.txt
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

no more conformance tests in ekb
  test/eventing-kafka.bash
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

Update reconciler-test to latest (2)
  go.mod
  go.sum
  vendor/knative.dev/reconciler-test/pkg/eventshub/resources.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/utils.go
  vendor/modules.txt
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

run `make generated-files`
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  test/images-rekt.yaml
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

lp-interop mapping for eventing-kafka (#3990)
  test/eventing-kafka.bash
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

Use correct port for metrics of eventing components
  openshift-knative-operator/pkg/monitoring/helpers.go
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

use ocp v4.14 as base opm image for 4.12 and 4.13
  .tekton/serverless-index-137-fbc-412-pull-request.yaml
  .tekton/serverless-index-137-fbc-412-push.yaml
  .tekton/serverless-index-137-fbc-413-pull-request.yaml
  .tekton/serverless-index-137-fbc-413-push.yaml
  olm-catalog/serverless-operator-index/v4.13/Dockerfile
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

use ocp v4.14 as base opm image for 4.12 and 4.13 (#3992)
  .tekton/serverless-index-137-fbc-412-pull-request.yaml
  .tekton/serverless-index-137-fbc-412-push.yaml
  .tekton/serverless-index-137-fbc-413-pull-request.yaml
  .tekton/serverless-index-137-fbc-413-push.yaml
  olm-catalog/serverless-operator-index/v4.13/Dockerfile
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

Scale up cluster for operator tests
  Makefile
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

Fix ekb metric names
  test/monitoringe2e/helpers.go
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

create override snapshot for fbc 4.12 & 4.13
  .konflux-release/override-snapshot-fbc-412.yaml
  .konflux-release/override-snapshot-fbc-413.yaml
Due: none

create override snapshot for fbc 4.12 & 4.13 (#3993)
  .konflux-release/override-snapshot-fbc-412.yaml
  .konflux-release/override-snapshot-fbc-413.yaml
Due: none

[release-1.37] Sync Konflux configurations
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/serverless-index-137-fbc-412-pull-request.yaml
  .tekton/serverless-index-137-fbc-412-push.yaml
  .tekton/serverless-index-137-fbc-413-pull-request.yaml
  .tekton/serverless-index-137-fbc-413-push.yaml
  .tekton/serverless-index-137-fbc-422-pull-request.yaml
  .tekton/serverless-index-137-fbc-422-push.yaml
Due: none

[main] Update dependabot configurations
  .github/dependabot.yml
Due: none

Remove outdated event_count metric
  test/monitoringe2e/helpers.go
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

Readd imc-dispatcher metrics test after metrics were fixed in eventing again
  test/monitoringe2e/helpers.go
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

Add comment back
  openshift-knative-operator/pkg/monitoring/helpers.go
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

make fbc 4.12 and 4.13 single arch and use correct opm base image
  .tekton/fbc-builder.yaml
  .tekton/serverless-index-137-fbc-412-pull-request.yaml
  .tekton/serverless-index-137-fbc-412-push.yaml
  .tekton/serverless-index-137-fbc-413-pull-request.yaml
  .tekton/serverless-index-137-fbc-413-push.yaml
Due: none

Remove old metrics-protocol field
  knative-operator/deploy/resources/knativekafka/testdata/config-observability.yaml
  olm-catalog/serverless-operator/manifests/config-observability.yaml
  openshift-knative-operator/pkg/monitoring/helpers.go
  test/v1alpha1/knativekafka.go
  test/v1beta1/resources/operator.knative.dev_v1beta1_knativeeventing_cr.yaml
  test/v1beta1/resources/operator.knative.dev_v1beta1_knativeserving_cr.yaml
Due: ci/prow/420-images, ci/prow/420-kitchensink-e2e, ci/prow/420-kitchensink-upgrade, ci/prow/420-mesh-e2e, ci/prow/420-mesh-upgrade, ci/prow/420-operator-e2e, ci/prow/420-test-upgrade, ci/prow/420-upstream-e2e, ci/prow/420-upstream-e2e-kafka

make fbc 4.12 and 4.13 single arch and use correct opm base image (#3994)
  .tekton/fbc-builder.yaml
  .tekton/serverless-index-137-fbc-412-pull-request.yaml
  .tekton/serverless-index-137-fbc-412-push.yaml
  .tekton/serverless-index-137-fbc-413-pull-request.yaml
  .tekton/serverless-index-137-fbc-413-push.yaml
Due: none

Remove old comment
  hack/update-deps.sh
Due: none

add fbc 4.12 and 4.13 override snapshot
  .konflux-release/override-snapshot-fbc-412.yaml
  .konflux-release/override-snapshot-fbc-413.yaml
Due: none

add fbc 4.12 and 4.13 override snapshot (#3995)
  .konflux-release/override-snapshot-fbc-412.yaml
  .konflux-release/override-snapshot-fbc-413.yaml
Due: none

Path conditions:
  ci/prow/414-images: any of: ^non-existing$
  ci/prow/414-test-soak: any of: test/soak
  ci/prow/414-ui-e2e: any of: test/ui
  ci/prow/420-aws-ovn-images: any of: ^non-existing$
  ci/prow/420-azure-images: any of: ^non-existing$
  ci/prow/420-gcp-images: any of: ^non-existing$
  ci/prow/420-hypershift-images: any of: ^non-existing$
  ci/prow/420-images: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/420-kitchensink-e2e: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/420-kitchensink-upgrade: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/420-mesh-e2e: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/420-mesh-upgrade: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/420-operator-e2e: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/420-single-node-images: any of: ^non-existing$
  ci/prow/420-test-soak: any of: test/soak
  ci/prow/420-test-upgrade: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/420-ui-e2e: any of: test/ui
  ci/prow/420-upstream-e2e: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/420-upstream-e2e-kafka: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/420-vsphere-images: any of: ^non-existing$
  ci/prow/421-images: any of: ^non-existing$
  ci/prow/421-test-soak: any of: test/soak
  ci/prow/421-ui-e2e: any of: test/ui
  ci/prow/ocp-4.21-lp-interop-cr-images: any of: ^non-existing$
