Repository openshift-knative/serverless-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/414-images, ci/prow/414-test-soak, ci/prow/414-ui-e2e, ci/prow/419-aws-ovn-images, ci/prow/419-azure-images, ci/prow/419-gcp-images, ci/prow/419-hypershift-images, ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-osd-images, ci/prow/419-single-node-images, ci/prow/419-test-soak, ci/prow/419-test-upgrade, ci/prow/419-ui-e2e, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka, ci/prow/419-vsphere-images, ci/prow/420-images, ci/prow/420-test-soak, ci/prow/420-ui-e2e, ci/prow/ocp4.19-lp-rosa-classic-images, ci/prow/ocp4.20-lp-interop-images

ci/prow/414-images:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: '414'
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/414-test-soak:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-serverless
    ci-operator.openshift.io/variant: '414'
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
  ...

ci/prow/414-ui-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-serverless
    ci-operator.openshift.io/variant: '414'
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
  ...

ci/prow/419-aws-ovn-images:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: 419-aws-ovn
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/419-azure-images:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: 419-azure
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/419-gcp-images:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: 419-gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/419-hypershift-images:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: 419-hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/419-images:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: '419'
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/419-kitchensink-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: '419'
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

[main] Update dependabot configurations
  .github/dependabot.yml
Due: none

Run make generated-files
  olm-catalog/serverless-operator/project.yaml
Due: ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka

Run make generated-files (#3921)
  olm-catalog/serverless-operator/project.yaml
Due: ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka

fix(ui-tests): upgrade Cypress to 15.6.0 for OCP 4.20+ support
  .gitignore
  test/ui-e2e-tests.sh
  test/ui/.gitignore
  test/ui/cypress.config.js
  test/ui/cypress/code/openshift/openshiftConsole.js
  test/ui/cypress/patches/17288-check-socket-open.patch
  test/ui/cypress/support/e2e.js
  test/ui/package-lock.json
  test/ui/package.json
  test/ui/reporter-config.json
Due: ci/prow/414-ui-e2e, ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-ui-e2e, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka, ci/prow/420-ui-e2e

fix(ui-tests): delete videos for passing tests
  test/ui/cypress.config.js
Due: ci/prow/414-ui-e2e, ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-ui-e2e, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka, ci/prow/420-ui-e2e

Run make generated-files
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
Due: ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka

Longer timeout for cluster upgrades
  test/lib.bash
Due: ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka

fix(ui-tests): update selectors for OCP 4.19/4.20 PatternFly v6
  .gitignore
  test/ui-e2e-tests.sh
  test/ui/cypress.config.js
  test/ui/cypress/apply-patches.js
  test/ui/cypress/code/knative/serving/showcase.js
  test/ui/cypress/code/semverResolver.js
  test/ui/cypress/code/semverResolver.test.js
  test/ui/cypress/e2e/serving/multiple-revisions.cy.js
  test/ui/package.json
Due: ci/prow/414-ui-e2e, ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-ui-e2e, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka, ci/prow/420-ui-e2e

[release-1.37] fix(ui-tests): upgrade Cypress to 15.6.0 for OCP 4.20+ support (#3926)
  test/ui-e2e-tests.sh
  test/ui/.gitignore
  test/ui/cypress.config.js
  test/ui/cypress/apply-patches.js
  test/ui/cypress/code/knative/serving/showcase.js
  test/ui/cypress/code/openshift/openshiftConsole.js
  test/ui/cypress/code/semverResolver.js
  test/ui/cypress/code/semverResolver.test.js
  test/ui/cypress/e2e/serving/multiple-revisions.cy.js
  test/ui/cypress/patches/17288-check-socket-open.patch
  test/ui/cypress/support/e2e.js
  test/ui/package-lock.json
  test/ui/package.json
  test/ui/reporter-config.json
Due: ci/prow/414-ui-e2e, ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-ui-e2e, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka, ci/prow/420-ui-e2e

Longer timeout for cluster upgrades (#3928)
  test/lib.bash
Due: ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka

[main] fix(ui-tests): upgrade Cypress to 15.6.0 for OCP 4.20+ support (#3931)
  test/ui-e2e-tests.sh
  test/ui/.gitignore
  test/ui/cypress.config.js
  test/ui/cypress/apply-patches.js
  test/ui/cypress/code/knative/serving/showcase.js
  test/ui/cypress/code/openshift/openshiftConsole.js
  test/ui/cypress/code/semverResolver.js
  test/ui/cypress/code/semverResolver.test.js
  test/ui/cypress/e2e/serving/multiple-revisions.cy.js
  test/ui/cypress/patches/17288-check-socket-open.patch
  test/ui/cypress/support/e2e.js
  test/ui/package-lock.json
  test/ui/package.json
  test/ui/reporter-config.json
Due: ci/prow/414-ui-e2e, ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-ui-e2e, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka, ci/prow/420-ui-e2e

Longer timeout for cluster upgrades (#3933)
  test/lib.bash
Due: ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka

[#3935] use fully qualified name for machinesets
  hack/lib/scaleup.bash
Due: ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka

[#3935] use fully qualified name for machinesets (#3936)
  hack/lib/scaleup.bash
Due: ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka

[release-1.36] Sync Konflux configurations
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
  .tekton/serverless-bundle-136-pull-request.yaml
  .tekton/serverless-bundle-136-push.yaml
  .tekton/serverless-index-136-fbc-414-pull-request.yaml
  .tekton/serverless-index-136-fbc-414-push.yaml
  .tekton/serverless-index-136-fbc-415-pull-request.yaml
  .tekton/serverless-index-136-fbc-415-push.yaml
  .tekton/serverless-index-136-fbc-416-pull-request.yaml
  .tekton/serverless-index-136-fbc-416-push.yaml
  .tekton/serverless-index-136-fbc-417-pull-request.yaml
  .tekton/serverless-index-136-fbc-417-push.yaml
  .tekton/serverless-index-136-fbc-418-pull-request.yaml
  .tekton/serverless-index-136-fbc-418-push.yaml
  .tekton/serverless-index-136-fbc-419-pull-request.yaml
  .tekton/serverless-index-136-fbc-419-push.yaml
  .tekton/serverless-index-136-fbc-420-pull-request.yaml
  .tekton/serverless-index-136-fbc-420-push.yaml
  .tekton/serverless-ingress-136-pull-request.yaml
  .tekton/serverless-ingress-136-push.yaml
  .tekton/serverless-kn-operator-136-pull-request.yaml
  .tekton/serverless-kn-operator-136-push.yaml
  .tekton/serverless-metadata-webhook-136-pull-request.yaml
  .tekton/serverless-metadata-webhook-136-push.yaml
  .tekton/serverless-must-gather-136-pull-request.yaml
  .tekton/serverless-must-gather-136-push.yaml
  .tekton/serverless-openshift-kn-operator-136-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-136-push.yaml
Due: none

[release-1.37] Sync Konflux configurations
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
Due: none

[release-1.35] Sync Konflux configurations
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
  .tekton/serverless-bundle-135-pull-request.yaml
  .tekton/serverless-bundle-135-push.yaml
  .tekton/serverless-index-135-fbc-414-pull-request.yaml
  .tekton/serverless-index-135-fbc-414-push.yaml
  .tekton/serverless-index-135-fbc-415-pull-request.yaml
  .tekton/serverless-index-135-fbc-415-push.yaml
  .tekton/serverless-index-135-fbc-416-pull-request.yaml
  .tekton/serverless-index-135-fbc-416-push.yaml
  .tekton/serverless-index-135-fbc-417-pull-request.yaml
  .tekton/serverless-index-135-fbc-417-push.yaml
  .tekton/serverless-index-135-fbc-418-pull-request.yaml
  .tekton/serverless-index-135-fbc-418-push.yaml
  .tekton/serverless-ingress-135-pull-request.yaml
  .tekton/serverless-ingress-135-push.yaml
  .tekton/serverless-kn-operator-135-pull-request.yaml
  .tekton/serverless-kn-operator-135-push.yaml
  .tekton/serverless-metadata-webhook-135-pull-request.yaml
  .tekton/serverless-metadata-webhook-135-push.yaml
  .tekton/serverless-must-gather-135-pull-request.yaml
  .tekton/serverless-must-gather-135-push.yaml
  .tekton/serverless-openshift-kn-operator-135-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-135-push.yaml
Due: none

[release-1.38] Sync Konflux configurations
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
  .tekton/serverless-bundle-138-pull-request.yaml
  .tekton/serverless-bundle-138-push.yaml
  .tekton/serverless-index-138-fbc-414-pull-request.yaml
  .tekton/serverless-index-138-fbc-414-push.yaml
  .tekton/serverless-index-138-fbc-415-pull-request.yaml
  .tekton/serverless-index-138-fbc-415-push.yaml
  .tekton/serverless-index-138-fbc-416-pull-request.yaml
  .tekton/serverless-index-138-fbc-416-push.yaml
  .tekton/serverless-index-138-fbc-417-pull-request.yaml
  .tekton/serverless-index-138-fbc-417-push.yaml
  .tekton/serverless-index-138-fbc-418-pull-request.yaml
  .tekton/serverless-index-138-fbc-418-push.yaml
  .tekton/serverless-index-138-fbc-419-pull-request.yaml
  .tekton/serverless-index-138-fbc-419-push.yaml
  .tekton/serverless-index-138-fbc-420-pull-request.yaml
  .tekton/serverless-index-138-fbc-420-push.yaml
  .tekton/serverless-ingress-138-pull-request.yaml
  .tekton/serverless-ingress-138-push.yaml
  .tekton/serverless-kn-operator-138-pull-request.yaml
  .tekton/serverless-kn-operator-138-push.yaml
  .tekton/serverless-metadata-webhook-138-pull-request.yaml
  .tekton/serverless-metadata-webhook-138-push.yaml
  .tekton/serverless-must-gather-138-pull-request.yaml
  .tekton/serverless-must-gather-138-push.yaml
  .tekton/serverless-openshift-kn-operator-138-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-138-push.yaml
Due: none

SRVCOM-4072, optionally map junit testsuite names for lp-interop reporting tool
  test/lib.bash
Due: ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka

add ocp 4.21 catalog
  .tekton/serverless-index-137-fbc-421-pull-request.yaml
  .tekton/serverless-index-137-fbc-421-push.yaml
  olm-catalog/serverless-operator-index/v4.21/Dockerfile
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
Due: ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka

add ocp 4.21 catalog (#3939)
  .tekton/serverless-index-137-fbc-421-pull-request.yaml
  .tekton/serverless-index-137-fbc-421-push.yaml
  olm-catalog/serverless-operator-index/v4.21/Dockerfile
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
Due: ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka

add override snapshot for fbc-4.21
  .konflux-release/override-snapshot-fbc-421.yaml
Due: none

add fbc v4.21 snapshot
  .konflux-release/override-snapshot-fbc-421.yaml
Due: none

add fbc v4.21 snapshot (#3941)
  .konflux-release/override-snapshot-fbc-421.yaml
Due: none

Add Claude agent documentation for Serverless Operator
  agent.md
Due: none

SRVKS-1343 set soft ulimit -n to the value of the hard limit for envoy
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/ingress/latest/kourier/1-net-kourier.yaml
Due: ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka

SRVKS-1343 set soft ulimit -n to the value of the hard limit for envoy (#3945)
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/ingress/latest/kourier/1-net-kourier.yaml
Due: ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka

Bump 1.37.1 version
  must-gather/Dockerfile
  olm-catalog/serverless-operator/project.yaml
  rpms.lock.yaml
Due: ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka

Bump 1.37.1 version (#3947)
  must-gather/Dockerfile
  olm-catalog/serverless-operator/project.yaml
  rpms.lock.yaml
Due: ci/prow/419-images, ci/prow/419-kitchensink-e2e, ci/prow/419-kitchensink-upgrade, ci/prow/419-mesh-e2e, ci/prow/419-mesh-upgrade, ci/prow/419-operator-e2e, ci/prow/419-test-upgrade, ci/prow/419-upstream-e2e, ci/prow/419-upstream-e2e-kafka

[release-1.37] Sync Konflux configurations
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
  .tekton/serverless-bundle-137-pull-request.yaml
  .tekton/serverless-bundle-137-push.yaml
  .tekton/serverless-index-137-fbc-414-pull-request.yaml
  .tekton/serverless-index-137-fbc-414-push.yaml
  .tekton/serverless-index-137-fbc-415-pull-request.yaml
  .tekton/serverless-index-137-fbc-415-push.yaml
  .tekton/serverless-index-137-fbc-416-pull-request.yaml
  .tekton/serverless-index-137-fbc-417-pull-request.yaml
  .tekton/serverless-index-137-fbc-417-push.yaml
  .tekton/serverless-index-137-fbc-418-pull-request.yaml
  .tekton/serverless-index-137-fbc-418-push.yaml
  .tekton/serverless-index-137-fbc-419-pull-request.yaml
  .tekton/serverless-index-137-fbc-419-push.yaml
  .tekton/serverless-index-137-fbc-420-pull-request.yaml
  .tekton/serverless-index-137-fbc-420-push.yaml
  .tekton/serverless-index-137-fbc-421-pull-request.yaml
  .tekton/serverless-index-137-fbc-421-push.yaml
  .tekton/serverless-index-137-fbc-422-pull-request.yaml
  .tekton/serverless-index-137-fbc-422-push.yaml
  .tekton/serverless-ingress-137-pull-request.yaml
  .tekton/serverless-ingress-137-push.yaml
  .tekton/serverless-kn-operator-137-pull-request.yaml
  .tekton/serverless-kn-operator-137-push.yaml
  .tekton/serverless-metadata-webhook-137-pull-request.yaml
  .tekton/serverless-metadata-webhook-137-push.yaml
  .tekton/serverless-must-gather-137-pull-request.yaml
  .tekton/serverless-must-gather-137-push.yaml
  .tekton/serverless-openshift-kn-operator-137-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-137-push.yaml
Due: none

Path conditions:
  ci/prow/414-images: any of: ^non-existing$
  ci/prow/414-test-soak: any of: test/soak
  ci/prow/414-ui-e2e: any of: test/ui
  ci/prow/419-aws-ovn-images: any of: ^non-existing$
  ci/prow/419-azure-images: any of: ^non-existing$
  ci/prow/419-gcp-images: any of: ^non-existing$
  ci/prow/419-hypershift-images: any of: ^non-existing$
  ci/prow/419-images: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/419-kitchensink-e2e: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/419-kitchensink-upgrade: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/419-mesh-e2e: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/419-mesh-upgrade: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/419-operator-e2e: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/419-osd-images: any of: ^non-existing$
  ci/prow/419-single-node-images: any of: ^non-existing$
  ci/prow/419-test-soak: any of: test/soak
  ci/prow/419-test-upgrade: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/419-ui-e2e: any of: test/ui
  ci/prow/419-upstream-e2e: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/419-upstream-e2e-kafka: unless all of: ^.tekton/.*|^.konflux.*|^.github/.*|^rpms.lock.yaml$|^hack/(lib$|[^l].*|l[^i].*|li[^b].*|lib[^/].*)|^OWNERS.*|.*\.md
  ci/prow/419-vsphere-images: any of: ^non-existing$
  ci/prow/420-images: any of: ^non-existing$
  ci/prow/420-test-soak: any of: test/soak
  ci/prow/420-ui-e2e: any of: test/ui
  ci/prow/ocp4.19-lp-rosa-classic-images: any of: ^non-existing$
  ci/prow/ocp4.20-lp-interop-images: any of: ^non-existing$
