Repository openshift/multiarch-tuning-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Path conditions:
  ci/prow/bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  ci/prow/fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp416-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp417-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp418-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)

OCPBUGS-42165: cache should honor the container image's pull policy
  controllers/podplacement/pod_model.go
  controllers/podplacement/pod_model_test.go
  controllers/podplacement/pod_reconciler_test.go
  pkg/image/cache.go
  pkg/image/facade.go
  pkg/image/inspector.go
  pkg/image/interfaces.go
  pkg/testing/builder/pod_builder.go
  pkg/testing/image/fake/cache.go
  pkg/testing/image/fake/facade.go
  pkg/testing/image/fake/inspector.go
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Fix bundle tests
  controllers/podplacement/pod_reconciler_test.go
  pkg/testing/image/fake/registry/mock_image.go
  pkg/testing/image/fake/registry/seed.go
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update multiarch-tuning-operator-1-0 to f2e4c90
  bundle.konflux.Dockerfile
Due: ci/prow/bundle

OCPBUGS-41554: remove cluster-ca.crt from operator
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/operator/objects.go
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

change all the builders to build pointers
  controllers/operator/clusterpodplacementconfig_controller_test.go
  controllers/podplacement/pod_model_test.go
  controllers/podplacement/pod_reconciler_test.go
  controllers/podplacement/scheduling_gate_mutating_webhook_test.go
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/e2e/podplacement/pod_placement_test.go
  pkg/testing/builder/build_builder.go
  pkg/testing/builder/cluster_role_binding_builder.go
  pkg/testing/builder/configmap_builder.go
  pkg/testing/builder/container_builder.go
  pkg/testing/builder/container_env_builder.go
  pkg/testing/builder/daemonset_builder.go
  pkg/testing/builder/deployment_config_builder.go
  pkg/testing/builder/job_builder.go
  pkg/testing/builder/mutating_webhook_configuration_builder.go
  pkg/testing/builder/node_selector_requirement_builder.go
  pkg/testing/builder/node_selector_term_builder.go
  pkg/testing/builder/pod_builder.go
  pkg/testing/builder/pod_spec_builder.go
  pkg/testing/builder/secret_builder.go
  pkg/testing/builder/security_context_builder.go
  pkg/testing/builder/service_builder.go
  pkg/testing/builder/service_port_builder.go
  pkg/testing/builder/statefulset_builder.go
  pkg/testing/builder/subject_builder.go
  pkg/testing/builder/volume_builder.go
  pkg/testing/builder/volume_mount_builder.go
  pkg/testing/registry/registry.go
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

remove _builder suffix from builder filename
  pkg/testing/builder/build.go
  pkg/testing/builder/cluster_role.go
  pkg/testing/builder/cluster_role_binding.go
  pkg/testing/builder/clusterpodplacementconfig.go
  pkg/testing/builder/configmap.go
  pkg/testing/builder/container.go
  pkg/testing/builder/container_env.go
  pkg/testing/builder/daemonset.go
  pkg/testing/builder/deployment.go
  pkg/testing/builder/deployment_config.go
  pkg/testing/builder/job.go
  pkg/testing/builder/mutating_webhook_configuration.go
  pkg/testing/builder/node_selector_requirement.go
  pkg/testing/builder/node_selector_term.go
  pkg/testing/builder/pod.go
  pkg/testing/builder/pod_spec.go
  pkg/testing/builder/role.go
  pkg/testing/builder/role_binding.go
  pkg/testing/builder/secret.go
  pkg/testing/builder/security_context.go
  pkg/testing/builder/service.go
  pkg/testing/builder/service_account.go
  pkg/testing/builder/service_port.go
  pkg/testing/builder/statefulset.go
  pkg/testing/builder/subject.go
  pkg/testing/builder/volume.go
  pkg/testing/builder/volume_mount.go
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update multiarch-tuning-operator to a03e375
  bundle.konflux.Dockerfile
Due: ci/prow/bundle

Update multiarch-tuning-operator-1-0 to 0e411f4
  bundle.konflux.Dockerfile
Due: ci/prow/bundle

Update multiarch-tuning-operator to 89b5b54
  bundle.konflux.Dockerfile
Due: ci/prow/bundle

Revert "MULTIARCH-4973: change all the builders to build pointers"
  controllers/operator/clusterpodplacementconfig_controller_test.go
  controllers/podplacement/pod_model_test.go
  controllers/podplacement/pod_reconciler_test.go
  controllers/podplacement/scheduling_gate_mutating_webhook_test.go
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/e2e/podplacement/pod_placement_test.go
  pkg/testing/builder/build_builder.go
  pkg/testing/builder/cluster_role_binding_builder.go
  pkg/testing/builder/cluster_role_builder.go
  pkg/testing/builder/clusterpodplacementconfig_builder.go
  pkg/testing/builder/configmap_builder.go
  pkg/testing/builder/container_builder.go
  pkg/testing/builder/container_env_builder.go
  pkg/testing/builder/daemonset_builder.go
  pkg/testing/builder/deployment_builder.go
  pkg/testing/builder/deployment_config_builder.go
  pkg/testing/builder/job_builder.go
  pkg/testing/builder/mutating_webhook_configuration_builder.go
  pkg/testing/builder/node_selector_requirement_builder.go
  pkg/testing/builder/node_selector_term_builder.go
  pkg/testing/builder/pod_builder.go
  pkg/testing/builder/pod_spec_builder.go
  pkg/testing/builder/role_binding_builder.go
  pkg/testing/builder/role_builder.go
  pkg/testing/builder/secret_builder.go
  pkg/testing/builder/security_context_builder.go
  pkg/testing/builder/service_account_builder.go
  pkg/testing/builder/service_builder.go
  pkg/testing/builder/service_port_builder.go
  pkg/testing/builder/statefulset_builder.go
  pkg/testing/builder/subject_builder.go
  pkg/testing/builder/volume_builder.go
  pkg/testing/builder/volume_mount_builder.go
  pkg/testing/registry/registry.go
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update multiarch-tuning-operator-1-0 to 5756908
  bundle.konflux.Dockerfile
Due: ci/prow/bundle

snapshots multiarch-tuning-operator-1-0-5lr4j
  catalog/multiarch-tuning-operator/index.yaml
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

move basic func from test suite to testing/framework
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/e2e/podplacement/pod_placement_test.go
  pkg/testing/framework/pod.go
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

fix a potential nil
  pkg/testing/registry/registry.go
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Added documentation
  docs/ocp-release.md
Due: none

Update multiarch-tuning-operator to 4da5a74
  bundle.konflux.Dockerfile
Due: ci/prow/bundle

update tekton to version 4.18
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
Due: none

Update ci
  ci
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Fix failing Konflux tests
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

Fix failing Konflux tests in v1.0
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

Fix failing Konflux tests in v0.9
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

skip registry and image config tests on hypershift managed offerings
  pkg/e2e/podplacement/e2e_test.go
  pkg/e2e/podplacement/pod_placement_test.go
  pkg/testing/framework/node.go
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

fix Build tests
  pkg/e2e/podplacement/pod_placement_test.go
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

OCPBUGS-44703: Invalidate registry cache before inspection of pods
  pkg/image/inspector.go
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Verify signature only for the single manifest image, not for the top level manifest
  pkg/image/inspector.go
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Adding automerging for konflux prs that update tekton
  renovate.json
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Fixed the following warnings in make bundle with kustomize edit fix
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/scorecard/kustomization.yaml
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Fixed the following warnings in make bundle
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/samples/kustomization.yaml
  config/samples/multiarch_v1alpha1_clusterpodplacementconfig.yaml
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update the channels field
  Makefile
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Updated docs on creating a new FBC fragment
  docs/ocp-release.md
Due: none

Removed registry and mirror code
  controllers/podplacement/image_config.go
  controllers/podplacement/image_content_source_policy.go
  controllers/podplacement/image_digest_mirror_set.go
  controllers/podplacement/image_tag_mirror_set.go
  go.mod
  pkg/systemconfig/syncer.go
  pkg/systemconfig/types.go
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Removed extra interfaces
  pkg/systemconfig/interfaces.go
  pkg/systemconfig/syncer.go
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Pod-level circuit-breaking for image registry inspection errors
  controllers/podplacement/events.go
  controllers/podplacement/pod_model.go
  controllers/podplacement/pod_model_test.go
  controllers/podplacement/pod_reconciler.go
  controllers/podplacement/pod_reconciler_test.go
  pkg/utils/const.go
Due: ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet
