Repository openshift/cluster-api-actuator-pkg: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

Path conditions:
  e2e-aws-operator: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-capi-techpreview: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-vsphere-operator: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-azure-operator: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-azure-capi-techpreview: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-operator: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-capi-techpreview: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-openstack-operator: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-azure-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-gcp-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-vsphere-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Remove uncompressedUserData: true from test MachineTemplate
  pkg/capi/aws.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

AUTOSCALE-254: upgrade autoscaler e2e tests to detect workload placement
  pkg/autoscaler/autoscaler.go
  pkg/framework/jobs.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

update DeleteMachines func
  pkg/framework/machines.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

fix spot case for no such file error
  pkg/infra/spot.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

Sync OWNERS file
  OWNERS
Due: none

enhance capi spot/dedicated cases for InsufficientInstanceCapacity error
  pkg/capi/aws.go
  pkg/framework/capi_machinesets.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

fix81293
  pkg/capi/aws.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

testutils: add image option to resourcebuilder
  testutils/resourcebuilder/machine/v1beta1/azure_provider_spec.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

auto84243
  pkg/capi/aws.go
  pkg/framework/aws_client.go
  pkg/providers/aws.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

fix75395
  pkg/capi/aws.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

skipfornocapacity
  pkg/capi/aws.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

framework: fix flake on deleting machinesets
  pkg/framework/capi_machinesets.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

add timeout
  hack/ci-integration.sh
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

Add e2e test for OCPBUGS-63519
  pkg/framework/framework.go
  pkg/operators/cluster-machine-approver.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

moved client load check in beforeeach for all tests
  pkg/operators/cluster-machine-approver.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

resourcebuilder: core/v1/node: add timestamps
  testutils/resourcebuilder/core/v1/node.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

resourcebuilder: core/v1/node: add test suite
  testutils/resourcebuilder/core/v1/node_test.go
  testutils/resourcebuilder/core/v1/suite_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

added skipfunc
  pkg/framework/framework.go
  pkg/operators/cluster-machine-approver.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

Update go.mod and go.sum
  go.mod
  go.sum
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

Added gcp spot instance e2e test co-authored: claudeai
  pkg/mapi/gcp.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator
