Repository openshift/cluster-api-actuator-pkg: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

e2e-aws-operator:
  steps:
    cluster_profile: aws
    test:
    - as: test
      cli: latest
      commands: JUNIT_DIR=${ARTIFACT_DIR} make test-e2e
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-aws

e2e-aws-capi-techpreview:
  steps:
    cluster_profile: aws
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: test
      cli: latest
      commands: JUNIT_DIR=${ARTIFACT_DIR} make test-e2e
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-aws

e2e-vsphere-operator:
  steps:
    cluster_profile: vsphere-elastic
    test:
    - as: test
      cli: latest
      commands: JUNIT_DIR=${ARTIFACT_DIR} make test-e2e
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: openshift-e2e-vsphere

e2e-azure-operator:
  steps:
    cluster_profile: azure4
    test:
    - as: test
      cli: latest
      commands: JUNIT_DIR=${ARTIFACT_DIR} make test-e2e
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-azure

e2e-azure-capi-techpreview:
  steps:
    cluster_profile: azure4
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: test
      cli: latest
      commands: JUNIT_DIR=${ARTIFACT_DIR} make test-e2e
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-azure

e2e-gcp-operator:
  optional: true
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: JUNIT_DIR=${ARTIFACT_DIR} make -C /go/src/github.com/openshift/cluster-api-actuator-pkg test-e2e
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-gcp

e2e-gcp-capi-techpreview:
  steps:
    cluster_profile: gcp
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: test
      cli: latest
      commands: JUNIT_DIR=${ARTIFACT_DIR} make -C /go/src/github.com/openshift/cluster-api-actuator-pkg test-e2e
      from: src
      resources:
        requests:
          cpu: 100m
  ...

e2e-openstack-operator:
  optional: true
  steps:
    cluster_profile: openstack-vexxhost
    env:
      USE_RAMFS: 'false'
      WORKER_REPLICAS: '0'
    test:
    - as: test
      cli: latest
      commands: JUNIT_DIR=${ARTIFACT_DIR} make test-e2e
      from: src
      resources:
        requests:
          cpu: 100m
  ...

ci/prow/e2e-aws-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-vsphere-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: vsphere
    ci-operator.openshift.io/cloud-cluster-profile: vsphere
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

Add qe to approvers
  OWNERS
Due: none

Sync OWNERS file
  OWNERS
Due: none

azure coditionally set identity
  pkg/capi/azure.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

auto75779
  pkg/capi/aws.go
  pkg/capi/azure.go
  pkg/capi/core.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

capi cases
  pkg/capi/aws.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

go mod
  go.mod
  go.sum
  vendor/modules.txt
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awscluster_webhook.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmachine_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmachine_webhook.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/awsmanagedcluster_types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/types.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/api/v1beta2/zz_generated.deepcopy.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/feature/feature.go
  vendor/sigs.k8s.io/cluster-api-provider-aws/v2/feature/gates.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

update machineset labels
  pkg/framework/capi_machinesets.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

Adds ability to set disks to gcp provider builder
  testutils/resourcebuilder/machine/v1beta1/gcp_provider_spec.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

Adds ability to set project to gcp provider builder
  testutils/resourcebuilder/machine/v1beta1/gcp_provider_spec.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

Add authoritativeAPI for MachineSetParams
  pkg/framework/machinesets.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

fix no failureDomain failure
  pkg/framework/capi_machinesets.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

addlabel
  pkg/operators/machine-api-operator.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

addlabel2
  pkg/framework/ginkgo-labels.go
  pkg/operators/machine-api-operator.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

OCPQE-30045 - Mapi machine with nonuefi image should all shieldedvm options disabled
  pkg/e2e_test.go
  pkg/mapi/gcp.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

OCPQE-27708 - Annotationtestsgcp
  pkg/annotations/gcp.go
  pkg/e2e_test.go
  pkg/framework/gcp_client.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

skip gcpcli validation if gcloud not present
  pkg/annotations/gcp.go
  pkg/framework/gcp_client.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

update spot case to add network policy
  pkg/infra/spot.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

Bump k8s dependencies to 1.33; go 1.24
  .ci-operator.yaml
  Dockerfile.ci
  Makefile
  go.mod
  go.sum
  testutils/Makefile
  testutils/go.mod
  testutils/go.sum
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

Fix linters
  .golangci.yaml
  testutils/resourcebuilder/cluster-api/infrastructure/v1beta2/powervsmachine_test.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

Add missing generateName to machine builders
  testutils/resourcebuilder/cluster-api/infrastructure/v1beta1/openstackmachine.go
  testutils/resourcebuilder/cluster-api/infrastructure/v1beta1/openstackmachine_test.go
  testutils/resourcebuilder/cluster-api/infrastructure/v1beta2/awsmachine.go
  testutils/resourcebuilder/cluster-api/infrastructure/v1beta2/awsmachine_test.go
  testutils/resourcebuilder/cluster-api/infrastructure/v1beta2/powervsmachine.go
  testutils/resourcebuilder/cluster-api/infrastructure/v1beta2/powervsmachine_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

check cluster operators again to make sure cluster is recovered
  pkg/operators/machine-api-operator.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

Create cluster-api-actuator-pkg-tests-ext command for origin e2e
  Dockerfile.ci
  Makefile
  cmd/cluster-api-actuator-pkg-tests-ext/main.go
  pkg/operators/machine-api-operator.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

fix spot case for no such file error
  pkg/infra/spot.go
Due: e2e-aws-operator, e2e-aws-capi-techpreview, e2e-vsphere-operator, e2e-azure-operator, e2e-azure-capi-techpreview, e2e-gcp-operator, e2e-gcp-capi-techpreview, e2e-openstack-operator, ci/prow/e2e-aws-operator, ci/prow/e2e-azure-operator, ci/prow/e2e-gcp-operator, ci/prow/e2e-vsphere-operator

Path conditions:
  e2e-aws-operator: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-capi-techpreview: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-vsphere-operator: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-azure-operator: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-azure-capi-techpreview: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-operator: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-capi-techpreview: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-openstack-operator: unless all of: ^docs/|^testutils/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-azure-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-gcp-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-vsphere-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
