Repository openshift/installer: changes, and which Prow jobs are due for each by the changed paths.
All: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-aws-ovn-upi, e2e-gcp-ovn-upi, e2e-gcp-upi-xpn, e2e-gcp-ovn-xpn, e2e-azure-ovn-upi, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-swapped-hosts, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-ovn-virtualmedia, e2e-openstack-ovn, e2e-openstack-dualstack-upi, e2e-openstack-proxy, e2e-openstack-nfv-intel, openstack-manifests, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-upi, e2e-vsphere-ovn-upi-zones, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, e2e-metal-assisted, e2e-aws-ovn-single-node, e2e-metal-single-node-live-iso, e2e-aws-ovn-fips, e2e-azurestack, e2e-azurestack-upi, e2e-ibmcloud-ovn, e2e-nutanix-ovn, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-aws-ovn-public-subnets, azure-ovn-marketplace-images, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Path conditions:
  unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  aro-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^pkg/asset/agent/)
  gofmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  govet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  verify-vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^images/(baremetal|libvirt|openstack))|(^terraform/providers)|(^cluster-api/providers/([^a]|a[^w]|aw[^s]).*/)|(/agent/)
  e2e-aws-ovn-shared-vpc-custom-security-groups: any of: aws
  e2e-aws-ovn-edge-zones: any of: aws
  e2e-aws-ovn-shared-vpc-edge-zones: any of: aws
  e2e-aws-ovn-edge-zones-manifest-validation: any of: aws
  e2e-aws-ovn-imdsv2: any of: aws
  e2e-gcp-ovn: any of: (gcp|google)
  e2e-gcp-secureboot: any of: (gcp|google)
  e2e-gcp-ovn-byo-vpc: any of: (gcp|google)
  e2e-azure-ovn: any of: azure
  e2e-azure-ovn-shared-vpc: any of: azure
  e2e-aws-ovn-upi: any of: ^(upi/aws/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-gcp-ovn-upi: any of: ^(upi/gcp/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-gcp-upi-xpn: any of: ^(upi/gcp/.*)
  e2e-gcp-ovn-xpn: any of: (gcp|google)
  e2e-azure-ovn-upi: any of: ^(upi/(azure|azurestack)/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-metal-ipi-ovn: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-swapped-hosts: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-ipv6: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-dualstack: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-virtualmedia: any of: (baremetal|metal3|ironic)
  e2e-openstack-ovn: any of: openstack|(^data/.*/rhcos\.json)
  e2e-openstack-dualstack-upi: any of: (^images/openstack/)|(^docs/user/openstack/install_upi\.md$)|(^upi/openstack/)
  e2e-openstack-proxy: any of: openstack
  e2e-openstack-nfv-intel: any of: openstack
  openstack-manifests: any of: openstack
  e2e-vsphere-ovn: any of: vsphere
  e2e-vsphere-ovn-techpreview: any of: vsphere
  e2e-vsphere-ovn-upi: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  e2e-vsphere-ovn-upi-zones: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  e2e-vsphere-ovn-zones: any of: vsphere
  e2e-vsphere-ovn-zones-techpreview: any of: vsphere
  e2e-vsphere-multi-vcenter-ovn: any of: vsphere
  e2e-metal-assisted: any of: (baremetal|metal3|ironic)
  e2e-aws-ovn-single-node: any of: aws
  e2e-metal-single-node-live-iso: any of: (baremetal|metal3|ironic)
  e2e-aws-ovn-fips: any of: aws
  e2e-azurestack: any of: (azure|azurestack)
  e2e-azurestack-upi: any of: ^(upi/(azure|azurestack)/.*)
  e2e-ibmcloud-ovn: any of: ibmcloud
  e2e-nutanix-ovn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  integration-tests-nodejoiner: any of: ^(cmd|pkg|data).*/(agent|node-joiner)/
  integration-tests: any of: ^(cmd|pkg|data).*/(agent|imagebased)/
  e2e-agent-compact-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-none-platform: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-appliance-diskimage: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-add-nodes: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-sno-ipv6: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-sno-ipv4-pxe: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-ha-dualstack: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-4control-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-5control-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-aws-ovn-public-subnets: any of: /aws/subnet.go
  azure-ovn-marketplace-images: any of: azure
  e2e-aws-ovn-heterogeneous: any of: aws
  ci/prow/shellcheck: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/yaml-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-aws: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
  ci/prow/e2e-aws-smoke: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$

OCPBUGS-65938: increase IAM waiter timeout and remove custom delay options
  pkg/infrastructure/aws/clusterapi/iam.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-65847: vsphere: add SkipIPAllocation to network devices
  pkg/asset/machines/vsphere/capimachines.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

pkg/destroy/aws: log elb resource types
  pkg/destroy/aws/elbhelpers.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-60071: abort uninstall process if owned subnets contains shared tags
  pkg/asset/installconfig/aws/tags.go
  pkg/asset/installconfig/aws/validation.go
  pkg/destroy/aws/aws.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

test DHCP true
  pkg/asset/machines/vsphere/capimachines.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Dummy change
  README.md
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

dummy change
  README.md
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Test with base-rhel9-minimal-test
  images/baremetal/Dockerfile.ci
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-swapped-hosts, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-ovn-virtualmedia, e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

agent: set insecure flag to true by default in registries.conf
  pkg/asset/agent/mirror/registriesconf.go
  pkg/asset/agent/mirror/registriesconf_test.go
Due: unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Revert "Merge pull request #9945 from jhixson74/main_aws_gp3_throughput"
  data/data/install.openshift.io_installconfigs.yaml
  docs/user/aws/customization.md
  go.mod
  go.sum
  pkg/asset/machines/aws/awsmachines.go
  pkg/asset/machines/aws/awsmachines_test.go
  pkg/asset/machines/aws/machines.go
  pkg/types/aws/machinepool.go
  pkg/types/aws/validation/machinepool.go
  vendor/github.com/openshift/api/config/v1/types_node.go
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/machine/v1beta1/types_awsprovider.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/operator/v1/types_ingress.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Add fencing credentials file generation for TNF clusters
  pkg/asset/agent/image/ignition.go
  pkg/asset/agent/image/ignition_test.go
Due: unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Add YAML tags to Credential struct for fencing
  pkg/types/machinepools.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Revert fencing credentials override
  pkg/asset/agent/manifests/agentclusterinstall.go
  pkg/asset/agent/manifests/agentclusterinstall_test.go
  pkg/asset/agent/manifests/util_test.go
Due: unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Improve fencing credentials test coverage
  pkg/asset/agent/image/ignition_test.go
Due: unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Report file system space usage in agent-gather
  data/data/agent/files/usr/local/bin/agent-gather
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-62790: Resize /var tmpfs to 10GiB on live ISO
  data/data/bootstrap/files/etc/systemd/system/node-image-pull.service
  data/data/bootstrap/files/etc/systemd/system/resize-ephemeral.service
  data/data/bootstrap/files/usr/local/bin/resize-ephemeral.sh
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Log peak ramdisk usage of node-image-pull
  data/data/bootstrap/files/usr/local/bin/node-image-pull.sh.template
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

copy image-references for machine-config-controller bootstrap
  data/data/bootstrap/files/usr/local/bin/bootkube.sh.template
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-62790: Use separate fs for ostree checkout on live ISO
  data/data/bootstrap/files/etc/systemd/system/node-image-pull.service
  data/data/bootstrap/files/etc/systemd/system/var-ostree\x2dcontainer.mount
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Upgrade GolangCI-lint to v2
  .golangci.yaml
  hack/go-lint.sh
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-62824: Fix escaping in issue file pointing to rendezvous host
  data/data/agent/files/usr/local/bin/install-status.sh
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-62826: Fix /etc/issue for unconfigured-ignition
  data/data/agent/files/etc/issue.template
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

pkg/infrastructure/azure: don't use shared key auth
  pkg/infrastructure/azure/azure.go
  pkg/infrastructure/azure/storage.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

azure: Remove option to add shared key creds
  pkg/infrastructure/azure/storage.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

azure: Create SAS for blobs
  pkg/infrastructure/azure/azure.go
  pkg/infrastructure/azure/storage.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Create .golangci-lint-v2.yaml
  .golangci-lint-v2.yaml
  .golangci.yaml
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Bump openshift/api for AWS GP3 changes
  go.mod
  go.sum
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

go mod vendor for AWS GP3 changes
  vendor/github.com/openshift/api/config/v1/types_node.go
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/machine/v1beta1/types_awsprovider.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/operator/v1/types_ingress.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

AWS: Add the ability to configure throughput on GP3 volumes
  data/data/install.openshift.io_installconfigs.yaml
  docs/user/aws/customization.md
  pkg/asset/machines/aws/awsmachines.go
  pkg/asset/machines/aws/awsmachines_test.go
  pkg/asset/machines/aws/machines.go
  pkg/types/aws/machinepool.go
  pkg/types/aws/validation/machinepool.go
  pkg/types/aws/validation/machinepool_test.go
  pkg/types/aws/zz_generated.deepcopy.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: Validate instance type and AMI compatibility for SEV-SNP
  pkg/asset/installconfig/aws/images.go
  pkg/asset/installconfig/aws/instancetypes.go
  pkg/asset/installconfig/aws/metadata.go
  pkg/asset/installconfig/aws/validation.go
  pkg/asset/installconfig/aws/validation_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: Fix lint failures in validation tests
  pkg/asset/installconfig/aws/validation_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: set machine pool defaults for EBS volume type
  pkg/types/aws/defaults/machinepool.go
  pkg/types/aws/defaults/machinepool_test.go
  pkg/types/aws/validation/machinepool.go
  pkg/types/aws/validation/machinepool_test.go
  pkg/types/defaults/machinepools.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Support vendor-specific redfish schemes in fencing validation
  pkg/types/validation/installconfig.go
  pkg/types/validation/installconfig_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

PowerVS: Sort zone survey list
  pkg/asset/installconfig/powervs/regions.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke
