Repository openshift/installer: changes, and which Prow jobs are due for each by the changed paths.
All: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-aws-ovn-upi, e2e-gcp-ovn-upi, e2e-gcp-upi-xpn, e2e-gcp-ovn-xpn, e2e-azure-ovn-upi, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-swapped-hosts, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-ovn-virtualmedia, e2e-openstack-ovn, e2e-openstack-dualstack-upi, e2e-openstack-proxy, e2e-openstack-nfv-intel, openstack-manifests, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-upi, e2e-vsphere-ovn-upi-zones, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, e2e-metal-assisted, e2e-aws-ovn-single-node, e2e-metal-single-node-live-iso, e2e-aws-ovn-fips, e2e-azurestack, e2e-azurestack-upi, e2e-ibmcloud-ovn, e2e-nutanix-ovn, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-aws-ovn-public-subnets, azure-ovn-marketplace-images, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

unit:
  commands: 'go test -coverprofile=/tmp/coverprofile.out ./pkg/...
  
    go tool cover -o $ARTIFACT_DIR/cover.txt -func /tmp/coverprofile.out
  
    go tool cover -o $ARTIFACT_DIR/cover.html -html /tmp/coverprofile.out
  
    '
  container:
    from: test-bin

aro-unit:
  commands: go test ./pkg/... -tags=aro
  container:
    from: src

gofmt:
  commands: IS_CONTAINER=TRUE ./hack/go-fmt.sh .
  container:
    from: src

govet:
  commands: IS_CONTAINER=TRUE ./hack/go-vet.sh ./...
  container:
    from: src

golint:
  commands: 'export GOCACHE=/tmp/
  
    export GOLANGCI_LINT_CACHE=/tmp/.cache
  
    export GOPROXY=https://proxy.golang.org
  
    golangci-lint version
  
    golangci-lint run --verbose --print-resources-usage --new-from-rev=dcf8122
  
    '
  container:
    clone: true
    from: golangci-lint

verify-vendor:
  commands: IS_CONTAINER=TRUE ./hack/verify-vendor.sh
  container:
    from: src

e2e-aws-ovn:
  steps:
    cluster_profile: aws
    env:
      USER_TAGS: 'keyA valueA
  
        keyB valueB
  
        keyC valueC
  
        '
    workflow: openshift-e2e-aws
  timeout: 6h0m0s

e2e-aws-ovn-shared-vpc-custom-security-groups:
  optional: true
  steps:
    cluster_profile: aws
    post:
    - chain: ipi-aws-post
    - ref: ipi-deprovision-aws-custom-security-groups
    - ref: aws-deprovision-security-group
    - ref: ipi-deprovision-aws-sharednetwork
    pre:
    - chain: ipi-conf-aws-sharednetwork
    - ref: aws-provision-security-group
  ...

e2e-aws-ovn-edge-zones:
  always_run: false
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-edge-zones
  timeout: 6h0m0s

e2e-aws-ovn-shared-vpc-edge-zones:
  always_run: false
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-edge-zones-byo-vpc
  timeout: 6h0m0s

e2e-aws-ovn-edge-zones-manifest-validation:
  always_run: true
  steps:
    cluster_profile: aws
    workflow: openshift-installer-manifests-aws-edge-zones
  timeout: 3h0m0s

e2e-aws-ovn-imdsv2:
  optional: true
  steps:
    cluster_profile: aws
    env:
      AWS_METADATA_SERVICE_AUTH: Required
    workflow: openshift-e2e-aws
  timeout: 6h0m0s

e2e-gcp-ovn:
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp
  timeout: 6h0m0s

e2e-gcp-secureboot:
  optional: true
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp-secureboot
  timeout: 6h0m0s

e2e-gcp-ovn-byo-vpc:
  optional: true
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp-byo-vpc
  timeout: 6h0m0s

e2e-azure-ovn:
  steps:
    cluster_profile: azure4
    env:
      USER_TAGS: 'keyA valueA
  
        keyB valueB
  
        keyC valueC
  
        '
    workflow: openshift-e2e-azure
  timeout: 6h0m0s

e2e-azure-ovn-shared-vpc:
  optional: true
  steps:
    cluster_profile: azure4
    workflow: openshift-e2e-azure-sharednetwork
  timeout: 6h0m0s

e2e-aws-ovn-upi:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-upi
  timeout: 6h0m0s

Drop unused SSH key from rendezvous host lookup
  cmd/openshift-install/agent/waitfor.go
  pkg/agent/cluster.go
  pkg/agent/rest.go
  pkg/nodejoiner/monitoraddnodes.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Add BootstrapSSHKeyPair public key to agent ignition
  pkg/asset/agent/image/ignition.go
  pkg/asset/agent/image/ignition_test.go
Due: unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

AGENT-580: Add agent gather bootstrap command
  cmd/openshift-install/agent.go
  cmd/openshift-install/agent/gather.go
  pkg/agent/gather.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

AGENT-1522: bump InternalReleaseImage to v1
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/machineconfiguration/v1/register.go
  vendor/github.com/openshift/api/machineconfiguration/v1/types_internalreleaseimage.go
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

unit tests: update AWSClusterHostedDNSInstall test for GA promotion
  pkg/types/validation/featuregate_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

regenerate install-config CRD after openshift/api bump
  data/data/install.openshift.io_installconfigs.yaml
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

destroy/aws: delete vpc endpoints earlier
  pkg/destroy/aws/ec2helpers.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

installer: fix NetworkDeviceSpec CRD incorrectly using format: ipv6
  data/data/install.openshift.io_installconfigs.yaml
  pkg/types/vsphere/platform.go
  pkg/types/vsphere/validation/crd_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

debug
  pkg/asset/installconfig/aws/sessionv2.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vsphere: add CRD validation test module and replace Format markers with CEL
  data/data/install.openshift.io_installconfigs.yaml
  hack/go-crd-test.sh
  pkg/types/vsphere/platform.go
  tests/crd/go.mod
  tests/crd/go.sum
  tests/crd/helpers_test.go
  tests/crd/vsphere_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Migrate containers libs to new mono repo
  cmd/node-joiner/testdata/add-nodes.txt
  go.mod
  go.sum
  pkg/asset/agent/mirror/registriesconf.go
  pkg/asset/agent/mirror/registriesconf_test.go
  pkg/asset/ignition/bootstrap/common.go
  pkg/asset/imagebased/image/ignition_test.go
  pkg/asset/imagebased/image/imagebased_config.go
  pkg/asset/imagebased/image/registriesconf.go
  pkg/asset/imagebased/image/registriesconf_test.go
  pkg/asset/releaseimage/pullspec.go
  pkg/types/validation/installconfig.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-86311: fix: validate agent-config interface names match networkConfig (#10567)
  pkg/asset/agent/agentconfig/agenthosts.go
  pkg/asset/agent/agentconfig/agenthosts_test.go
Due: unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

bootstrap: redact private keys from gathered machineconfigs
  data/data/bootstrap/files/usr/local/bin/bootstrap-cluster-gather.sh
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

bootstrap: Pass rendered manifests and payload version to etcd render
  data/data/bootstrap/files/usr/local/bin/bootkube.sh.template
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

openstack: use prototype CAPO with ORC controllers
  cluster-api/providers/openstack/go.mod
  cluster-api/providers/openstackorc/go.mod
  data/data/cluster-api/openstack-infrastructure-components.yaml
  data/data/cluster-api/openstackorc-infrastructure-components.yaml
  go.mod
  go.sum
  pkg/asset/manifests/azure/stack/v1beta1/azuremachinetemplate_webhook.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-openstack-ovn, e2e-openstack-proxy, e2e-openstack-nfv-intel, openstack-manifests, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

openstack: collect ORC manifests in .clusterapi_output
  pkg/infrastructure/clusterapi/clusterapi.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

openstack: clean up orphaned bootstrap ports before deleting SG
  pkg/infrastructure/openstack/postdestroy/ports.go
  pkg/infrastructure/openstack/postdestroy/securitygroups.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-openstack-ovn, e2e-openstack-proxy, e2e-openstack-nfv-intel, openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

openstack: update vendored CAPO with port fixedIPs fix
  cluster-api/providers/openstack/go.mod
  cluster-api/providers/openstack/go.sum
  cluster-api/providers/openstack/vendor/modules.txt
  cluster-api/providers/openstack/vendor/sigs.k8s.io/cluster-api-provider-openstack/api/v1alpha1/types.go
  cluster-api/providers/openstack/vendor/sigs.k8s.io/cluster-api-provider-openstack/controllers/openstackmachine_controller.go
  cluster-api/providers/openstack/vendor/sigs.k8s.io/cluster-api-provider-openstack/controllers/openstackserver_controller.go
  cluster-api/providers/openstack/vendor/sigs.k8s.io/cluster-api-provider-openstack/pkg/cloud/services/orc/builders.go
  cluster-api/providers/openstack/vendor/sigs.k8s.io/cluster-api-provider-openstack/pkg/cloud/services/orc/port_resolver.go
  cluster-api/providers/openstack/vendor/sigs.k8s.io/cluster-api-provider-openstack/pkg/cloud/services/orc/reconciler.go
  go.mod
  go.sum
  vendor/modules.txt
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-openstack-ovn, e2e-openstack-proxy, e2e-openstack-nfv-intel, openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-98102: Azure Dualstack: Validation for machine network prefix length
  pkg/types/azure/validation/platform.go
  pkg/types/azure/validation/platform_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Fix linter error
  pkg/asset/tls/utils_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Bump container build image
  images/installer/Dockerfile.upi.ci
  images/libvirt/Dockerfile.ci
  images/openstack/Dockerfile.ci
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-upi, e2e-gcp-ovn-upi, e2e-azure-ovn-upi, e2e-openstack-ovn, e2e-openstack-dualstack-upi, e2e-openstack-proxy, e2e-openstack-nfv-intel, openstack-manifests, e2e-vsphere-ovn-upi, e2e-vsphere-ovn-upi-zones, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

cluster-api: disable diagnostics endpoint for Azure, IBMCloud, PowerVS controllers
  pkg/clusterapi/system.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-98586: Don't wait on oc delete in konnectivity_cleanup
  data/data/bootstrap/files/usr/local/bin/konnectivity.sh.template
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

CORS-4514: Set sovereign cloud defaults for machine types
  pkg/asset/installconfig/gcp/validation.go
  pkg/asset/machines/clusterapi.go
  pkg/asset/machines/master.go
  pkg/asset/machines/worker.go
  pkg/types/gcp/defaults/machinepool.go
  pkg/types/gcp/machinepools.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

CORS-4421: Set universe domain environment variable for CAPI provider
  pkg/clusterapi/system.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

CORS-4420, CORS-4421, CORS-4422: Apply universe domain from credentials to GCP API clients
  pkg/asset/installconfig/gcp/session.go
  pkg/types/gcp/platform.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

CORS-4425: Validate custom RHCOS image projects for sovereign clouds
  pkg/asset/installconfig/gcp/validation.go
  pkg/asset/installconfig/gcp/validation_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

azure: Fix the dualstack errors
  pkg/infrastructure/azure/azure.go
  pkg/infrastructure/azure/network.go
  pkg/types/validation/installconfig.go
  pkg/types/validation/installconfig_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

CORS-4536: Auto-upload RHCOS image for sovereign clouds
  pkg/asset/installconfig/gcp/validation.go
  pkg/asset/installconfig/gcp/validation_test.go
  pkg/asset/machines/clusterapi.go
  pkg/asset/rhcos/image.go
  pkg/infrastructure/gcp/clusterapi/clusterapi.go
  pkg/infrastructure/gcp/clusterapi/image.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

CORS-4538: Use metadata project ID for sovereign cloud gather
  pkg/gather/gcp/gcp.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

gcp: Support domain-scoped project ID service account email format
  pkg/types/gcp/platform.go
  pkg/types/gcp/platform_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Update data/data/coreos/coreos-rhel-10.json to 10.2.20260715-0
  data/data/coreos/coreos-rhel-10.json
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Update data/data/coreos/coreos-rhel-9.json to 9.8.20260715-1
  data/data/coreos/coreos-rhel-9.json
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

ibi: Keep BuildNoProxySet in manifests proxy asset
  pkg/asset/imagebased/configimage/clusterconfiguration.go
  pkg/asset/manifests/proxy.go
  pkg/asset/manifests/proxy_test.go
  pkg/types/proxy.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, integration-tests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Path conditions:
  unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  aro-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^pkg/asset/agent/)
  gofmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  govet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  verify-vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^images/(baremetal|libvirt|openstack))|(^terraform/providers)|(^cluster-api/providers/([^a]|a[^w]|aw[^s]).*/)|(/agent/)
  e2e-aws-ovn-shared-vpc-custom-security-groups: any of: aws
  e2e-aws-ovn-edge-zones: any of: aws
  e2e-aws-ovn-shared-vpc-edge-zones: any of: aws
  e2e-aws-ovn-edge-zones-manifest-validation: any of: aws
  e2e-aws-ovn-imdsv2: any of: aws
  e2e-gcp-ovn: any of: (gcp|google)
  e2e-gcp-secureboot: any of: (gcp|google)
  e2e-gcp-ovn-byo-vpc: any of: (gcp|google)
  e2e-azure-ovn: any of: azure
  e2e-azure-ovn-shared-vpc: any of: azure
  e2e-aws-ovn-upi: any of: ^(upi/aws/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-gcp-ovn-upi: any of: ^(upi/gcp/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-gcp-upi-xpn: any of: ^(upi/gcp/.*)
  e2e-gcp-ovn-xpn: any of: (gcp|google)
  e2e-azure-ovn-upi: any of: ^(upi/(azure|azurestack)/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-metal-ipi-ovn: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-swapped-hosts: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-ipv6: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-dualstack: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-virtualmedia: any of: (baremetal|metal3|ironic)
  e2e-openstack-ovn: any of: openstack|(^data/.*/rhcos\.json)
  e2e-openstack-dualstack-upi: any of: (^images/openstack/)|(^docs/user/openstack/install_upi\.md$)|(^upi/openstack/)
  e2e-openstack-proxy: any of: openstack
  e2e-openstack-nfv-intel: any of: openstack
  openstack-manifests: any of: openstack
  e2e-vsphere-ovn: any of: vsphere
  e2e-vsphere-ovn-techpreview: any of: vsphere
  e2e-vsphere-ovn-upi: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  e2e-vsphere-ovn-upi-zones: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  e2e-vsphere-ovn-zones: any of: vsphere
  e2e-vsphere-ovn-zones-techpreview: any of: vsphere
  e2e-vsphere-multi-vcenter-ovn: any of: vsphere
  e2e-metal-assisted: any of: (baremetal|metal3|ironic)
  e2e-aws-ovn-single-node: any of: aws
  e2e-metal-single-node-live-iso: any of: (baremetal|metal3|ironic)
  e2e-aws-ovn-fips: any of: aws
  e2e-azurestack: any of: (azure|azurestack)
  e2e-azurestack-upi: any of: ^(upi/(azure|azurestack)/.*)
  e2e-ibmcloud-ovn: any of: ibmcloud
  e2e-nutanix-ovn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  integration-tests-nodejoiner: any of: ^(cmd|pkg|data).*/(agent|node-joiner)/
  integration-tests: any of: ^(cmd|pkg|data).*/(agent|imagebased)/
  e2e-agent-compact-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-none-platform: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-appliance-diskimage: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-add-nodes: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-sno-ipv6: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-sno-ipv4-pxe: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-ha-dualstack: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-4control-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-5control-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-aws-ovn-public-subnets: any of: /aws/subnet.go
  azure-ovn-marketplace-images: any of: azure
  e2e-aws-ovn-heterogeneous: any of: aws
  ci/prow/shellcheck: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/yaml-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-aws: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
  ci/prow/e2e-aws-smoke: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
