Repository openshift/installer: changes, and which Prow jobs are due for each by the changed paths.
All: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-aws-ovn-upi, e2e-gcp-ovn-upi, e2e-gcp-upi-xpn, e2e-gcp-ovn-xpn, e2e-azure-ovn-upi, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-swapped-hosts, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-ovn-virtualmedia, e2e-openstack-ovn, e2e-openstack-dualstack-upi, e2e-openstack-proxy, e2e-openstack-nfv-intel, openstack-manifests, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-upi, e2e-vsphere-ovn-upi-zones, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, e2e-metal-assisted, e2e-aws-ovn-single-node, e2e-metal-single-node-live-iso, e2e-aws-ovn-fips, e2e-azurestack, e2e-azurestack-upi, e2e-ibmcloud-ovn, e2e-nutanix-ovn, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-aws-ovn-public-subnets, azure-ovn-marketplace-images, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Path conditions:
  unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  aro-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^pkg/asset/agent/)
  gofmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  govet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  verify-vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^images/(baremetal|libvirt|openstack))|(^terraform/providers)|(^cluster-api/providers/([^a]|a[^w]|aw[^s]).*/)|(/agent/)
  e2e-aws-ovn-shared-vpc-custom-security-groups: any of: aws
  e2e-aws-ovn-edge-zones: any of: aws
  e2e-aws-ovn-shared-vpc-edge-zones: any of: aws
  e2e-aws-ovn-edge-zones-manifest-validation: any of: aws
  e2e-aws-ovn-imdsv2: any of: aws
  e2e-gcp-ovn: any of: (gcp|google)
  e2e-gcp-secureboot: any of: (gcp|google)
  e2e-gcp-ovn-byo-vpc: any of: (gcp|google)
  e2e-azure-ovn: any of: azure
  e2e-azure-ovn-shared-vpc: any of: azure
  e2e-aws-ovn-upi: any of: ^(upi/aws/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-gcp-ovn-upi: any of: ^(upi/gcp/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-gcp-upi-xpn: any of: ^(upi/gcp/.*)
  e2e-gcp-ovn-xpn: any of: (gcp|google)
  e2e-azure-ovn-upi: any of: ^(upi/(azure|azurestack)/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-metal-ipi-ovn: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-swapped-hosts: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-ipv6: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-dualstack: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-virtualmedia: any of: (baremetal|metal3|ironic)
  e2e-openstack-ovn: any of: openstack|(^data/.*/rhcos\.json)
  e2e-openstack-dualstack-upi: any of: (^images/openstack/)|(^docs/user/openstack/install_upi\.md$)|(^upi/openstack/)
  e2e-openstack-proxy: any of: openstack
  e2e-openstack-nfv-intel: any of: openstack
  openstack-manifests: any of: openstack
  e2e-vsphere-ovn: any of: vsphere
  e2e-vsphere-ovn-techpreview: any of: vsphere
  e2e-vsphere-ovn-upi: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  e2e-vsphere-ovn-upi-zones: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  e2e-vsphere-ovn-zones: any of: vsphere
  e2e-vsphere-ovn-zones-techpreview: any of: vsphere
  e2e-vsphere-multi-vcenter-ovn: any of: vsphere
  e2e-metal-assisted: any of: (baremetal|metal3|ironic)
  e2e-aws-ovn-single-node: any of: aws
  e2e-metal-single-node-live-iso: any of: (baremetal|metal3|ironic)
  e2e-aws-ovn-fips: any of: aws
  e2e-azurestack: any of: (azure|azurestack)
  e2e-azurestack-upi: any of: ^(upi/(azure|azurestack)/.*)
  e2e-ibmcloud-ovn: any of: ibmcloud
  e2e-nutanix-ovn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  integration-tests-nodejoiner: any of: ^(cmd|pkg|data).*/(agent|node-joiner)/
  integration-tests: any of: ^(cmd|pkg|data).*/(agent|imagebased)/
  e2e-agent-compact-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-none-platform: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-appliance-diskimage: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-add-nodes: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-sno-ipv6: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-sno-ipv4-pxe: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-ha-dualstack: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-4control-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-5control-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-aws-ovn-public-subnets: any of: /aws/subnet.go
  azure-ovn-marketplace-images: any of: azure
  e2e-aws-ovn-heterogeneous: any of: aws
  ci/prow/shellcheck: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/yaml-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-aws: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
  ci/prow/e2e-aws-smoke: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$

CORS-4536: gcp: require an image project for custom RHCOS images
  pkg/asset/installconfig/gcp/validation.go
  pkg/asset/installconfig/gcp/validation_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

CORS-4536: gcp: poll compute operations until they report DONE
  pkg/infrastructure/gcp/clusterapi/operation.go
  pkg/infrastructure/gcp/clusterapi/operation_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

CORS-4536: gcp: upload a cluster RHCOS image for sovereign clouds
  hack/go-genmock.sh
  pkg/asset/machines/clusterapi.go
  pkg/asset/machines/master.go
  pkg/asset/machines/worker.go
  pkg/asset/rhcos/image.go
  pkg/infrastructure/gcp/clusterapi/clusterapi.go
  pkg/infrastructure/gcp/clusterapi/iam.go
  pkg/infrastructure/gcp/clusterapi/image.go
  pkg/infrastructure/gcp/clusterapi/image_test.go
  pkg/infrastructure/gcp/clusterapi/imageclient.go
  pkg/infrastructure/gcp/clusterapi/mock/imageclient_generated.go
  pkg/types/gcp/platform.go
  pkg/types/gcp/platform_test.go
  pkg/types/gcp/validation/machinepool.go
  pkg/types/gcp/validation/machinepool_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

azure: validate VM SKU subscription/zone restrictions during install-config validation
  pkg/asset/installconfig/azure/validation.go
  pkg/asset/installconfig/azure/validation_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

CORS-4536: gcp: derive the disk type for pools without a platform stanza
  pkg/asset/installconfig/gcp/validation.go
  pkg/asset/installconfig/gcp/validation_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-126380: Set Azure control plane OS disk caching to ReadOnly
  pkg/asset/machines/azure/azuremachines.go
  pkg/asset/machines/azure/machines.go
  pkg/asset/machines/azure/machines_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

powervs,ibmcloud,vsphere: migrate to CAPIBM v0.15/v1beta3 and CAPI v1.14
  data/data/cluster-api/ibmcloud-infrastructure-components.yaml
  hack/verify-capi-manifests.sh
  pkg/asset/installconfig/powervs/client.go
  pkg/asset/machines/ibmcloud/capimachines.go
  pkg/asset/machines/powervs/powervsmachines.go
  pkg/asset/machines/vsphere/capimachines.go
  pkg/asset/manifests/ibmcloud/cluster.go
  pkg/asset/manifests/ibmcloud/loadbalancers.go
  pkg/asset/manifests/ibmcloud/securitygroups.go
  pkg/asset/manifests/powervs/cluster.go
  pkg/asset/manifests/powervs/securitygroups.go
  pkg/asset/manifests/vsphere/cluster.go
  pkg/clusterapi/localcontrolplane.go
  pkg/clusterapi/system.go
  pkg/destroy/ibmcloud/securitygroup.go
  pkg/infrastructure/ibmcloud/clusterapi/clusterapi.go
  pkg/infrastructure/powervs/clusterapi/powervs.go
  pkg/infrastructure/vsphere/clusterapi/clusterapi.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, e2e-ibmcloud-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

rhcos: az marketplace imafges, update prefix
  hack/rhcos/populate-marketplace-imagestream.go
  pkg/rhcos/marketplace/azure/azure.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Bump Azure Marketplace Images
  data/data/coreos/marketplace/coreos-rhel-9.json
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

ibmcloud: implement PlatformPermsCheck for installer API key
  pkg/asset/installconfig/ibmcloud/permissions.go
  pkg/asset/installconfig/ibmcloud/permissions_test.go
  pkg/asset/installconfig/platformpermscheck.go
  pkg/asset/installconfig/platformpermscheck_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-ibmcloud-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

azure: authenticate installer API calls with az login
  docs/dev/azure/azure_cli_auth.md
  docs/dev/azure/azure_client_certs_auth.md
  pkg/asset/installconfig/azure/session.go
  pkg/asset/installconfig/azure/session_test.go
  pkg/asset/installconfig/platformcredscheck.go
  pkg/asset/manifests/azure/cluster.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

inject the pull-secret as podman secret in the agent-installer-ui container
  data/data/agent/systemd/units/agent-ui.service.template
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

azure: allow isolated Ebdsv5/Ebsv5 VM families
  pkg/asset/installconfig/azure/validation.go
  pkg/asset/installconfig/azure/validation_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vsphere: fail CAPI machine generation on DNS or SOAP auth errors
  pkg/asset/machines/clusterapi.go
  pkg/asset/machines/clusterapi_vsphere_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

ibmcloud: exclude VPC instance metadata from noProxy
  pkg/asset/manifests/proxy.go
  pkg/asset/manifests/proxy_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

temp commit message.
  pkg/asset/rhcos/image.go
  pkg/infrastructure/gcp/clusterapi/image.go
  pkg/infrastructure/gcp/clusterapi/image_test.go
  pkg/rhcos/builds.go
  pkg/rhcos/builds_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vsphere: use component credentials for installer operations
  data/data/install.openshift.io_installconfigs.yaml
  docs/user/vsphere/customization.md
  pkg/asset/agent/installconfig.go
  pkg/asset/cluster/vsphere/vsphere.go
  pkg/asset/installconfig/installconfig.go
  pkg/asset/installconfig/vsphere/validation.go
  pkg/asset/manifests/component_credentials_test.go
  pkg/asset/manifests/openshift.go
  pkg/asset/manifests/operators.go
  pkg/asset/manifests/vsphere/cluster.go
  pkg/asset/manifests/vsphere/cluster_test.go
  pkg/asset/manifests/vsphere_manual_credentials_test.go
  pkg/types/vsphere/conversion/installconfig.go
  pkg/types/vsphere/credentials_test.go
  pkg/types/vsphere/platform.go
  pkg/types/vsphere/validation/credentials_test.go
  pkg/types/vsphere/validation/platform.go
  pkg/types/vsphere/zz_generated.deepcopy.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

fix: address reviewer feedback on topology duplicate detection
  pkg/types/vsphere/validation/platform.go
  pkg/types/vsphere/validation/platform_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

fix: validate duplicate vSphere failureDomain topology
  pkg/types/vsphere/validation/platform.go
  pkg/types/vsphere/validation/platform_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

fix: use order-sensitive slice comparison for network dedup
  pkg/types/vsphere/validation/platform.go
  pkg/types/vsphere/validation/platform_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

fix: resolve golint and unit failures in topology dedup
  pkg/types/vsphere/validation/platform.go
  pkg/types/vsphere/validation/platform_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

updated the doc
  docs/dev/azure/azure_cli_auth.md
Due: e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

data: regenerate capi core-components.yaml
  data/data/cluster-api/core-components.yaml
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

macOS: Fix race condition exposed by Crowdstrike Falcon
  pkg/clusterapi/system.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

macOS: Fix retry logging to avoid exposing sensitive service endpoints
  pkg/clusterapi/system.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

go.mod: bump openshift/api
  go.mod
  go.sum
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vendor: openshift/api bump
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/machineconfiguration/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/modules.txt
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

CORS-4536: gcp: upload a cluster RHCOS image for sovereign clouds
  hack/go-genmock.sh
  pkg/asset/machines/clusterapi.go
  pkg/asset/machines/master.go
  pkg/asset/machines/worker.go
  pkg/asset/rhcos/image.go
  pkg/infrastructure/gcp/clusterapi/clusterapi.go
  pkg/infrastructure/gcp/clusterapi/iam.go
  pkg/infrastructure/gcp/clusterapi/image.go
  pkg/infrastructure/gcp/clusterapi/image_test.go
  pkg/infrastructure/gcp/clusterapi/imageclient.go
  pkg/infrastructure/gcp/clusterapi/mock/imageclient_generated.go
  pkg/rhcos/builds.go
  pkg/rhcos/builds_test.go
  pkg/types/gcp/platform.go
  pkg/types/gcp/platform_test.go
  pkg/types/gcp/validation/machinepool.go
  pkg/types/gcp/validation/machinepool_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

cluster-api: pin core manager via go tool directive
  cluster-api/cluster-api/go.mod
  cluster-api/cluster-api/tools.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-115550: use different INSTALL_INVOKER for unconfigured ignition
  data/data/agent/files/usr/local/share/assisted-service/assisted-service.env.template
  pkg/asset/agent/image/ignition.go
  pkg/asset/agent/image/unconfigured_ignition.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-89888,OCPBUGS-92878: go.mod changes Replace golang.org/x/crypto with github.com/openshift-sustaining/crypto@v0.33.0-sec.4 to address CVE-2026-39829, CVE-2026-46597
  go.mod
  go.sum
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke
