Repository openshift/installer: changes, and which Prow jobs are due for each by the changed paths.
All: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-aws-ovn-upi, e2e-gcp-ovn-upi, e2e-gcp-upi-xpn, e2e-gcp-ovn-xpn, e2e-azure-ovn-upi, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-swapped-hosts, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-ovn-virtualmedia, e2e-openstack-ovn, e2e-openstack-dualstack-upi, e2e-openstack-proxy, e2e-openstack-nfv-intel, openstack-manifests, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-upi, e2e-vsphere-ovn-upi-zones, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, e2e-metal-assisted, e2e-aws-ovn-single-node, e2e-metal-single-node-live-iso, e2e-aws-ovn-fips, e2e-azurestack, e2e-azurestack-upi, e2e-ibmcloud-ovn, e2e-nutanix-ovn, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-aws-ovn-public-subnets, azure-ovn-marketplace-images, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

unit:
  commands: 'go test -coverprofile=/tmp/coverprofile.out ./pkg/...
  
    go tool cover -o $ARTIFACT_DIR/cover.txt -func /tmp/coverprofile.out
  
    go tool cover -o $ARTIFACT_DIR/cover.html -html /tmp/coverprofile.out
  
    '
  container:
    from: test-bin

aro-unit:
  commands: go test ./pkg/... -tags=aro
  container:
    from: src

gofmt:
  commands: IS_CONTAINER=TRUE ./hack/go-fmt.sh .
  container:
    from: src

govet:
  commands: IS_CONTAINER=TRUE ./hack/go-vet.sh ./...
  container:
    from: src

golint:
  commands: 'export GOCACHE=/tmp/
  
    export GOLANGCI_LINT_CACHE=/tmp/.cache
  
    export GOPROXY=https://proxy.golang.org
  
    golangci-lint version
  
    golangci-lint run --verbose --print-resources-usage --new-from-rev=dcf8122
  
    '
  container:
    clone: true
    from: golangci-lint

verify-vendor:
  commands: IS_CONTAINER=TRUE ./hack/verify-vendor.sh
  container:
    from: src

e2e-aws-ovn:
  steps:
    cluster_profile: aws
    env:
      USER_TAGS: 'keyA valueA
  
        keyB valueB
  
        keyC valueC
  
        '
    workflow: openshift-e2e-aws
  timeout: 6h0m0s

e2e-aws-ovn-shared-vpc-custom-security-groups:
  optional: true
  steps:
    cluster_profile: aws
    post:
    - chain: ipi-aws-post
    - ref: ipi-deprovision-aws-custom-security-groups
    - ref: aws-deprovision-security-group
    - ref: ipi-deprovision-aws-sharednetwork
    pre:
    - chain: ipi-conf-aws-sharednetwork
    - ref: aws-provision-security-group
  ...

e2e-aws-ovn-edge-zones:
  always_run: false
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-edge-zones
  timeout: 6h0m0s

e2e-aws-ovn-shared-vpc-edge-zones:
  always_run: false
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-edge-zones-byo-vpc
  timeout: 6h0m0s

e2e-aws-ovn-edge-zones-manifest-validation:
  always_run: true
  steps:
    cluster_profile: aws
    workflow: openshift-installer-manifests-aws-edge-zones
  timeout: 3h0m0s

e2e-aws-ovn-imdsv2:
  optional: true
  steps:
    cluster_profile: aws
    env:
      AWS_METADATA_SERVICE_AUTH: Required
    workflow: openshift-e2e-aws
  timeout: 6h0m0s

e2e-gcp-ovn:
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp
  timeout: 6h0m0s

e2e-gcp-secureboot:
  optional: true
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp-secureboot
  timeout: 6h0m0s

e2e-gcp-ovn-byo-vpc:
  optional: true
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp-byo-vpc
  timeout: 6h0m0s

e2e-azure-ovn:
  steps:
    cluster_profile: azure4
    env:
      USER_TAGS: 'keyA valueA
  
        keyB valueB
  
        keyC valueC
  
        '
    workflow: openshift-e2e-azure
  timeout: 6h0m0s

e2e-azure-ovn-shared-vpc:
  optional: true
  steps:
    cluster_profile: azure4
    workflow: openshift-e2e-azure-sharednetwork
  timeout: 6h0m0s

e2e-aws-ovn-upi:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-upi
  timeout: 6h0m0s

vsphere: retry and throttle vCenter lookups during UPI VM creation
  upi/vsphere/powercli/upi-functions.ps1
  upi/vsphere/powercli/upi.ps1
  upi/vsphere/variables.ps1.example
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-upi, e2e-vsphere-ovn-upi-zones, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Replace golang.org/x/crypto with github.com/openshift-sustaining/crypto@v0.48.0-sec.2 to address CVE-2026-39829, CVE-2026-46597
  go.mod
  go.sum
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/modules.txt
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-115550: use different INSTALL_INVOKER for unconfigured ignition
  data/data/agent/files/usr/local/share/assisted-service/assisted-service.env.template
  pkg/asset/agent/image/ignition.go
  pkg/asset/agent/image/unconfigured_ignition.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Remove unused IsSCOS template data
  pkg/asset/ignition/bootstrap/common.go
  pkg/asset/manifests/operators.go
  pkg/asset/manifests/template.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

gcp: allow GCD load balancer health-check firewall ranges
  pkg/infrastructure/gcp/clusterapi/firewallrules.go
  pkg/infrastructure/gcp/clusterapi/firewallrules_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

PowerVS: Fix optional Protocol field in AdditionalListeners
  pkg/asset/manifests/powervs/cluster.go
  pkg/infrastructure/powervs/clusterapi/powervs.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Vendoring the go.* changes
  cluster-api/providers/ibmcloud/go.mod
  cluster-api/providers/ibmcloud/go.sum
  go.mod
  go.sum
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-ibmcloud-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Update ibmcloud-infrastructure-components.yaml
  data/data/cluster-api/ibmcloud-infrastructure-components.yaml
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-ibmcloud-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

tests: mock EC2 for on-demand instance-type lookups
  pkg/asset/installconfig/aws/validation_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

aws: fetch instance types on demand instead of listing all
  pkg/asset/installconfig/aws/awserrors.go
  pkg/asset/installconfig/aws/instancetypes.go
  pkg/asset/installconfig/aws/metadata.go
  pkg/asset/installconfig/aws/validation.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

gcp: Disallow AMD SEV instance provisioning
  pkg/asset/installconfig/gcp/validation.go
  pkg/asset/installconfig/gcp/validation_test.go
  pkg/types/gcp/machinepools.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

no-jira: Update gcloud version to one that can be found.
  images/installer/Dockerfile.upi.ci
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-upi, e2e-gcp-ovn-upi, e2e-azure-ovn-upi, e2e-vsphere-ovn-upi, e2e-vsphere-ovn-upi-zones, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Warn when diskSetup is set in ABI
  pkg/asset/agent/installconfig.go
Due: unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Warn when ovnKubernetesConfig is set in ABI
  pkg/asset/agent/installconfig.go
Due: unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

multi-disk: fix swap disk nil-panic and block swap on control plane
  pkg/asset/machines/master.go
  pkg/asset/machines/util.go
  pkg/asset/machines/worker.go
  pkg/types/validation/machinepools.go
  pkg/types/validation/machinepools_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

tls: guard serving/peer cert generation against empty SANs
  pkg/asset/tls/certkey.go
  pkg/asset/tls/certkey_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

tls: rely on library-go key and extended key usage for signed certs
  pkg/asset/tls/certkey.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Vendor Updates
  go.mod
  go.sum
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/operator/v1/types_ingress.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/awskmsconfig.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1/internalreleaseimage.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1/internalreleaseimagebundlestatus.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1/internalreleaseimageref.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1/internalreleaseimagespec.go
  vendor/github.com/openshift/client-go/machineconfiguration/applyconfigurations/machineconfiguration/v1/internalreleaseimagestatus.go
  vendor/github.com/openshift/client-go/machineconfiguration/clientset/versioned/typed/machineconfiguration/v1/fake/fake_internalreleaseimage.go
  vendor/github.com/openshift/client-go/machineconfiguration/clientset/versioned/typed/machineconfiguration/v1/internalreleaseimage.go
  vendor/modules.txt
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Changed vSphere cloudproviderconfig to generate using library-go
  pkg/asset/manifests/vsphere/cloudproviderconfig.go
  pkg/asset/manifests/vsphere/cloudproviderconfig_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Enhanced vSphere cloud config to include node network cidr information
  pkg/asset/manifests/cloudproviderconfig.go
  pkg/asset/manifests/vsphere/cloudproviderconfig.go
  pkg/asset/manifests/vsphere/cloudproviderconfig_test.go
  pkg/asset/manifests/vsphere/infrastructure.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Changed vSphere cloud config to only contain port of vCenter if configured in install-config
  pkg/asset/manifests/vsphere/cloudproviderconfig.go
  pkg/asset/manifests/vsphere/cloudproviderconfig_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

GCP: gracefully handle 503 in disk type check
  pkg/asset/installconfig/gcp/validation.go
  pkg/asset/installconfig/gcp/validation_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-122133: gcp: skip disk type check when the permission is denied
  pkg/asset/installconfig/gcp/validation.go
  pkg/asset/installconfig/gcp/validation_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

pki: select Custom management mode from user-provided profile
  pkg/asset/manifests/pki.go
  pkg/asset/manifests/pki_test.go
  pkg/asset/tls/signerkey_params.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

cluster-api: bump CAPZ to v1.26 and ASO to v2.19.0
  cluster-api/cluster-api/go.mod
  cluster-api/cluster-api/go.sum
  cluster-api/providers/azure/go.mod
  cluster-api/providers/azure/go.sum
  cluster-api/providers/azureaso/go.mod
  cluster-api/providers/azureaso/go.sum
  go.mod
  go.sum
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

cluster-api: regenerate infrastructure manifests
  data/data/cluster-api/azure-infrastructure-components.yaml
  data/data/cluster-api/azureaso-infrastructure-components.yaml
  data/data/cluster-api/core-components.yaml
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Update SCOS bootimage metadata to 10.0.20260819-0
  data/data/coreos/scos.json
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Bug 2356: Support SCOS image prefix in Nutanix preloadedOSImageName validation
  pkg/asset/installconfig/nutanix/validation.go
  pkg/asset/installconfig/nutanix/validation_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-nutanix-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Address CodeRabbit review feedback
  pkg/asset/installconfig/nutanix/validation.go
  pkg/asset/installconfig/nutanix/validation_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-nutanix-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

cluster-api: document the CAPZ pseudo-version pin
  cluster-api/providers/azure/go.mod
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Path conditions:
  unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  aro-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^pkg/asset/agent/)
  gofmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  govet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  verify-vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^images/(baremetal|libvirt|openstack))|(^terraform/providers)|(^cluster-api/providers/([^a]|a[^w]|aw[^s]).*/)|(/agent/)
  e2e-aws-ovn-shared-vpc-custom-security-groups: any of: aws
  e2e-aws-ovn-edge-zones: any of: aws
  e2e-aws-ovn-shared-vpc-edge-zones: any of: aws
  e2e-aws-ovn-edge-zones-manifest-validation: any of: aws
  e2e-aws-ovn-imdsv2: any of: aws
  e2e-gcp-ovn: any of: (gcp|google)
  e2e-gcp-secureboot: any of: (gcp|google)
  e2e-gcp-ovn-byo-vpc: any of: (gcp|google)
  e2e-azure-ovn: any of: azure
  e2e-azure-ovn-shared-vpc: any of: azure
  e2e-aws-ovn-upi: any of: ^(upi/aws/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-gcp-ovn-upi: any of: ^(upi/gcp/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-gcp-upi-xpn: any of: ^(upi/gcp/.*)
  e2e-gcp-ovn-xpn: any of: (gcp|google)
  e2e-azure-ovn-upi: any of: ^(upi/(azure|azurestack)/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-metal-ipi-ovn: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-swapped-hosts: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-ipv6: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-dualstack: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-virtualmedia: any of: (baremetal|metal3|ironic)
  e2e-openstack-ovn: any of: openstack|(^data/.*/rhcos\.json)
  e2e-openstack-dualstack-upi: any of: (^images/openstack/)|(^docs/user/openstack/install_upi\.md$)|(^upi/openstack/)
  e2e-openstack-proxy: any of: openstack
  e2e-openstack-nfv-intel: any of: openstack
  openstack-manifests: any of: openstack
  e2e-vsphere-ovn: any of: vsphere
  e2e-vsphere-ovn-techpreview: any of: vsphere
  e2e-vsphere-ovn-upi: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  e2e-vsphere-ovn-upi-zones: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  e2e-vsphere-ovn-zones: any of: vsphere
  e2e-vsphere-ovn-zones-techpreview: any of: vsphere
  e2e-vsphere-multi-vcenter-ovn: any of: vsphere
  e2e-metal-assisted: any of: (baremetal|metal3|ironic)
  e2e-aws-ovn-single-node: any of: aws
  e2e-metal-single-node-live-iso: any of: (baremetal|metal3|ironic)
  e2e-aws-ovn-fips: any of: aws
  e2e-azurestack: any of: (azure|azurestack)
  e2e-azurestack-upi: any of: ^(upi/(azure|azurestack)/.*)
  e2e-ibmcloud-ovn: any of: ibmcloud
  e2e-nutanix-ovn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  integration-tests-nodejoiner: any of: ^(cmd|pkg|data).*/(agent|node-joiner)/
  integration-tests: any of: ^(cmd|pkg|data).*/(agent|imagebased)/
  e2e-agent-compact-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-none-platform: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-appliance-diskimage: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-add-nodes: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-sno-ipv6: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-sno-ipv4-pxe: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-ha-dualstack: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-4control-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-5control-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-aws-ovn-public-subnets: any of: /aws/subnet.go
  azure-ovn-marketplace-images: any of: azure
  e2e-aws-ovn-heterogeneous: any of: aws
  ci/prow/shellcheck: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/yaml-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-aws: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
  ci/prow/e2e-aws-smoke: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
