Repository openshift/installer: changes, and which Prow jobs are due for each by the changed paths.
All: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-aws-ovn-upi, e2e-gcp-ovn-upi, e2e-gcp-upi-xpn, e2e-gcp-ovn-xpn, e2e-azure-ovn-upi, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-swapped-hosts, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-ovn-virtualmedia, e2e-openstack-ovn, e2e-openstack-dualstack-upi, e2e-openstack-proxy, e2e-openstack-nfv-intel, openstack-manifests, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-upi, e2e-vsphere-ovn-upi-zones, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, e2e-metal-assisted, e2e-aws-ovn-single-node, e2e-metal-single-node-live-iso, e2e-aws-ovn-fips, e2e-azurestack, e2e-azurestack-upi, e2e-ibmcloud-ovn, e2e-nutanix-ovn, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-aws-ovn-public-subnets, azure-ovn-marketplace-images, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

unit:
  commands: 'go test -coverprofile=/tmp/coverprofile.out ./pkg/...
  
    go tool cover -o $ARTIFACT_DIR/cover.txt -func /tmp/coverprofile.out
  
    go tool cover -o $ARTIFACT_DIR/cover.html -html /tmp/coverprofile.out
  
    '
  container:
    from: test-bin

aro-unit:
  commands: go test ./pkg/... -tags=aro
  container:
    from: src

gofmt:
  commands: IS_CONTAINER=TRUE ./hack/go-fmt.sh .
  container:
    from: src

govet:
  commands: IS_CONTAINER=TRUE ./hack/go-vet.sh ./...
  container:
    from: src

golint:
  commands: 'export GOCACHE=/tmp/
  
    export GOLANGCI_LINT_CACHE=/tmp/.cache
  
    export GOPROXY=https://proxy.golang.org
  
    golangci-lint version
  
    golangci-lint run --verbose --print-resources-usage --new-from-rev=dcf8122
  
    '
  container:
    clone: true
    from: golangci-lint

verify-vendor:
  commands: IS_CONTAINER=TRUE ./hack/verify-vendor.sh
  container:
    from: src

e2e-aws-ovn:
  steps:
    cluster_profile: aws
    env:
      USER_TAGS: 'keyA valueA
  
        keyB valueB
  
        keyC valueC
  
        '
    workflow: openshift-e2e-aws
  timeout: 6h0m0s

e2e-aws-ovn-shared-vpc-custom-security-groups:
  optional: true
  steps:
    cluster_profile: aws
    post:
    - chain: ipi-aws-post
    - ref: ipi-deprovision-aws-custom-security-groups
    - ref: aws-deprovision-security-group
    - ref: ipi-deprovision-aws-sharednetwork
    pre:
    - chain: ipi-conf-aws-sharednetwork
    - ref: aws-provision-security-group
  ...

e2e-aws-ovn-edge-zones:
  always_run: false
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-edge-zones
  timeout: 6h0m0s

e2e-aws-ovn-shared-vpc-edge-zones:
  always_run: false
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-edge-zones-byo-vpc
  timeout: 6h0m0s

e2e-aws-ovn-edge-zones-manifest-validation:
  always_run: true
  steps:
    cluster_profile: aws
    workflow: openshift-installer-manifests-aws-edge-zones
  timeout: 3h0m0s

e2e-aws-ovn-imdsv2:
  optional: true
  steps:
    cluster_profile: aws
    env:
      AWS_METADATA_SERVICE_AUTH: Required
    workflow: openshift-e2e-aws
  timeout: 6h0m0s

e2e-gcp-ovn:
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp
  timeout: 6h0m0s

e2e-gcp-secureboot:
  optional: true
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp-secureboot
  timeout: 6h0m0s

e2e-gcp-ovn-byo-vpc:
  optional: true
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp-byo-vpc
  timeout: 6h0m0s

e2e-azure-ovn:
  steps:
    cluster_profile: azure4
    env:
      USER_TAGS: 'keyA valueA
  
        keyB valueB
  
        keyC valueC
  
        '
    workflow: openshift-e2e-azure
  timeout: 6h0m0s

e2e-azure-ovn-shared-vpc:
  optional: true
  steps:
    cluster_profile: azure4
    workflow: openshift-e2e-azure-sharednetwork
  timeout: 6h0m0s

e2e-aws-ovn-upi:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-upi
  timeout: 6h0m0s

GCP: update deprecated WithCredentialsJSON func
  pkg/asset/installconfig/gcp/services.go
  pkg/asset/installconfig/gcp/session.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

NO-ISSUE: Render OSImageStream in OKD too
  data/data/install.openshift.io_installconfigs.yaml
  pkg/asset/manifests/osimagestream.go
  pkg/explain/printer_test.go
  pkg/types/installconfig.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vendor: add library-go pkg/pki to vendor
  go.mod
  vendor/github.com/openshift/library-go/pkg/pki/profile.go
  vendor/github.com/openshift/library-go/pkg/pki/provider.go
  vendor/github.com/openshift/library-go/pkg/pki/resolve.go
  vendor/github.com/openshift/library-go/pkg/pki/types.go
  vendor/modules.txt
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Bump: CVE-2026-39829
  go.mod
  go.sum
  vendor/golang.org/x/crypto/chacha20poly1305/chacha20poly1305_amd64.go
  vendor/golang.org/x/crypto/chacha20poly1305/chacha20poly1305_amd64.s
  vendor/golang.org/x/crypto/hkdf/hkdf.go
  vendor/golang.org/x/crypto/ssh/agent/client.go
  vendor/golang.org/x/crypto/ssh/agent/keyring.go
  vendor/golang.org/x/crypto/ssh/agent/server.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/channel.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/knownhosts/knownhosts.go
  vendor/golang.org/x/crypto/ssh/mux.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/modules.txt
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

pki: extend SignerKeyParams to carry PKIProfile and ConfigurablePKIEnabled
  pkg/asset/manifests/pki.go
  pkg/asset/manifests/pki_test.go
  pkg/asset/tls/adminkubeconfig.go
  pkg/asset/tls/aggregator.go
  pkg/asset/tls/apiserver.go
  pkg/asset/tls/kubecontrolplane.go
  pkg/asset/tls/kubelet.go
  pkg/asset/tls/root.go
  pkg/asset/tls/signerkey_params.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

tls: add resolveKeyGen helpers for library-go PKI profile resolution
  pkg/asset/tls/certnames.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

pki: replace local DefaultPKIProfile with library-go and add EffectiveProfile
  pkg/types/pki/defaults.go
  pkg/types/pki/defaults_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

tls: add library-go code path to SelfSignedCertKey and SignedCertKey
  pkg/asset/tls/adminkubeconfig.go
  pkg/asset/tls/aggregator.go
  pkg/asset/tls/apiserver.go
  pkg/asset/tls/certkey.go
  pkg/asset/tls/certkey_test.go
  pkg/asset/tls/iricertkey.go
  pkg/asset/tls/journalcertkey.go
  pkg/asset/tls/kubecontrolplane.go
  pkg/asset/tls/kubelet.go
  pkg/asset/tls/mcscertkey.go
  pkg/asset/tls/root.go
  pkg/asset/tls/tls.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

tls: fix cert types for library-go path and clean up dead code
  pkg/asset/tls/adminkubeconfig.go
  pkg/asset/tls/certkey_test.go
  pkg/asset/tls/journalcertkey.go
  pkg/asset/tls/signerkey_params.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

tls: wire feature-gate branches for library-go cert generation
  pkg/asset/imagebased/configimage/ingressoperatorsigner.go
  pkg/asset/tls/adminkubeconfig.go
  pkg/asset/tls/aggregator.go
  pkg/asset/tls/apiserver.go
  pkg/asset/tls/iricertkey.go
  pkg/asset/tls/journalcertkey.go
  pkg/asset/tls/kubecontrolplane.go
  pkg/asset/tls/kubelet.go
  pkg/asset/tls/mcscertkey.go
  pkg/asset/tls/root.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, integration-tests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-105407: vsphere: remove VSphereMultiNetworks feature gate references
  pkg/asset/manifests/vsphere/cloudproviderconfig_test.go
  pkg/types/vsphere/validation/featuregates.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Unit test new features:
  pkg/asset/manifests/gcp/cluster_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Vendor updates
  cluster-api/providers/ibmcloud/vendor/google.golang.org/grpc/grpclog/internal/grpclog.go
  vendor/go.opentelemetry.io/otel/semconv/v1.37.0/otelconv/metric.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, e2e-ibmcloud-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

baremetal: convert BGP timers to seconds, require the pair
  pkg/asset/manifests/bgpvipconfig.go
  pkg/asset/manifests/bgpvipconfig_test.go
  pkg/types/baremetal/validation/platform.go
  pkg/types/baremetal/validation/platform_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-swapped-hosts, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-ovn-virtualmedia, e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

GCP: validate WIF credentials based on google docs
  pkg/asset/installconfig/gcp/services.go
  pkg/asset/installconfig/gcp/session.go
  pkg/asset/installconfig/gcp/session_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

agent: validate minimal ISO on s390x
  pkg/asset/agent/installconfig.go
  pkg/asset/agent/installconfig_test.go
Due: unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-88511: Disable apps DNS validation for add-nodes
  data/data/agent/files/usr/local/share/assisted-service/assisted-service.env.template
  pkg/asset/agent/image/ignition.go
  pkg/asset/agent/image/ignition_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

unit tests: fix s390x minimal ISO coverage
  pkg/asset/agent/installconfig_test.go
Due: unit, gofmt, govet, golint, verify-vendor, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OpenStack Images: pin argcomplete for yq on Python 3.9 (release-4.22)
  images/openstack/Dockerfile.ci
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-openstack-ovn, e2e-openstack-dualstack-upi, e2e-openstack-proxy, e2e-openstack-nfv-intel, openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

CORS-4425: Validate custom RHCOS image projects for sovereign clouds
  pkg/asset/installconfig/gcp/validation.go
  pkg/asset/installconfig/gcp/validation_test.go
  pkg/asset/machines/clusterapi.go
  pkg/asset/machines/master.go
  pkg/asset/machines/worker.go
  pkg/asset/rhcos/image.go
  pkg/infrastructure/gcp/clusterapi/clusterapi.go
  pkg/infrastructure/gcp/clusterapi/image.go
  pkg/types/gcp/platform.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPQUAL-24: docs: add traceability, priority tracking, and lifecycle guidance
  test/docs/README.md
  test/docs/check.py
  test/docs/gcd/cases/gcd_sovereign_install.md
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

gcp: set universe domain in Infrastructure status for GCD
  pkg/asset/manifests/infrastructure.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

go.mod: bump openshift/api
  go.mod
  go.sum
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

vendori: openshift/api bump
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features/features.go
  vendor/modules.txt
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-99637: iterate PEM blocks in PemToPrivateKey to handle EC PARAMETERS (#10720)
  pkg/asset/tls/utils.go
  pkg/asset/tls/utils_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

PowerVS: Get permitted network from user if deploying internal
  pkg/asset/installconfig/basedomain.go
  pkg/asset/installconfig/installconfig.go
  pkg/asset/installconfig/installconfig_test.go
  pkg/asset/installconfig/powervs/client.go
  pkg/asset/installconfig/powervs/dns.go
  pkg/asset/installconfig/powervs/mock/powervsclient_generated.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

update gcloud sdk to 563
  images/installer/Dockerfile.upi.ci
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-upi, e2e-gcp-ovn-upi, e2e-azure-ovn-upi, e2e-vsphere-ovn-upi, e2e-vsphere-ovn-upi-zones, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

openstack: regenerate CAPO infrastructure manifests for v0.14.6
  data/data/cluster-api/openstack-infrastructure-components.yaml
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-openstack-ovn, e2e-openstack-proxy, e2e-openstack-nfv-intel, openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

AGENT-1027: Dev docs for iscsi
  docs/user/agent/iscsi-boot.md
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

reworked architectcure to work for any service Endpoint and not rely on env var field set
  .gitignore
  pkg/asset/installconfig/platformcredscheck.go
  pkg/asset/installconfig/platformprovisioncheck.go
  pkg/asset/installconfig/powervs/client.go
  pkg/asset/installconfig/powervs/metadata.go
  pkg/asset/installconfig/powervs/platform.go
  pkg/asset/installconfig/powervs/session.go
  pkg/asset/installconfig/powervs/staging.go
  pkg/asset/machines/worker.go
  pkg/asset/manifests/cloudproviderconfig.go
  pkg/asset/manifests/dns.go
  pkg/asset/manifests/powervs/cloudproviderconfig.go
  pkg/asset/manifests/powervs/cluster.go
  pkg/asset/quota/quota.go
  pkg/clusterapi/system.go
  pkg/destroy/powervs/cloud-object-storage.go
  pkg/destroy/powervs/powervs.go
  pkg/infrastructure/powervs/clusterapi/powervs.go
  pkg/types/powervs/endpoints.go
  pkg/types/powervs/platform.go
  pkg/types/powervs/validation/machinepool.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Update Azure Marketplace Script to handle new format
  hack/rhcos/populate-marketplace-imagestream.go
  pkg/rhcos/marketplace/azure/azure.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

RHCOS: bump Azure marketplace images
  data/data/coreos/marketplace/coreos-rhel-10.json
  data/data/coreos/marketplace/coreos-rhel-9.json
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Bump google-cloud-cli to 563.0.0-1
  images/installer/Dockerfile.upi.ci
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-upi, e2e-gcp-ovn-upi, e2e-azure-ovn-upi, e2e-vsphere-ovn-upi, e2e-vsphere-ovn-upi-zones, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

PowerVS: dal14 support
  cluster-api/providers/ibmcloud/go.mod
  cluster-api/providers/ibmcloud/go.sum
  cluster-api/providers/ibmcloud/vendor/github.com/ppc64le-cloud/powervs-utils/go.mod
  cluster-api/providers/ibmcloud/vendor/github.com/ppc64le-cloud/powervs-utils/go.sum
  cluster-api/providers/ibmcloud/vendor/github.com/ppc64le-cloud/powervs-utils/region.go
  cluster-api/providers/ibmcloud/vendor/github.com/ppc64le-cloud/powervs-utils/region_test.go
  cluster-api/providers/ibmcloud/vendor/modules.txt
  pkg/types/powervs/powervs_regions.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-ibmcloud-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

CORS-4091: Add GCP Install config dual stack selection
  data/data/install.openshift.io_installconfigs.yaml
  pkg/types/gcp/defaults/platform.go
  pkg/types/gcp/defaults/platform_test.go
  pkg/types/gcp/platform.go
  pkg/types/gcp/validation/featuregates.go
  pkg/types/gcp/validation/platform.go
  pkg/types/gcp/validation/platform_test.go
  pkg/types/validation/installconfig.go
  pkg/types/validation/installconfig_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Path conditions:
  unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  aro-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^pkg/asset/agent/)
  gofmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  govet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  verify-vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^images/(baremetal|libvirt|openstack))|(^terraform/providers)|(^cluster-api/providers/([^a]|a[^w]|aw[^s]).*/)|(/agent/)
  e2e-aws-ovn-shared-vpc-custom-security-groups: any of: aws
  e2e-aws-ovn-edge-zones: any of: aws
  e2e-aws-ovn-shared-vpc-edge-zones: any of: aws
  e2e-aws-ovn-edge-zones-manifest-validation: any of: aws
  e2e-aws-ovn-imdsv2: any of: aws
  e2e-gcp-ovn: any of: (gcp|google)
  e2e-gcp-secureboot: any of: (gcp|google)
  e2e-gcp-ovn-byo-vpc: any of: (gcp|google)
  e2e-azure-ovn: any of: azure
  e2e-azure-ovn-shared-vpc: any of: azure
  e2e-aws-ovn-upi: any of: ^(upi/aws/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-gcp-ovn-upi: any of: ^(upi/gcp/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-gcp-upi-xpn: any of: ^(upi/gcp/.*)
  e2e-gcp-ovn-xpn: any of: (gcp|google)
  e2e-azure-ovn-upi: any of: ^(upi/(azure|azurestack)/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-metal-ipi-ovn: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-swapped-hosts: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-ipv6: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-dualstack: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-virtualmedia: any of: (baremetal|metal3|ironic)
  e2e-openstack-ovn: any of: openstack|(^data/.*/rhcos\.json)
  e2e-openstack-dualstack-upi: any of: (^images/openstack/)|(^docs/user/openstack/install_upi\.md$)|(^upi/openstack/)
  e2e-openstack-proxy: any of: openstack
  e2e-openstack-nfv-intel: any of: openstack
  openstack-manifests: any of: openstack
  e2e-vsphere-ovn: any of: vsphere
  e2e-vsphere-ovn-techpreview: any of: vsphere
  e2e-vsphere-ovn-upi: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  e2e-vsphere-ovn-upi-zones: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  e2e-vsphere-ovn-zones: any of: vsphere
  e2e-vsphere-ovn-zones-techpreview: any of: vsphere
  e2e-vsphere-multi-vcenter-ovn: any of: vsphere
  e2e-metal-assisted: any of: (baremetal|metal3|ironic)
  e2e-aws-ovn-single-node: any of: aws
  e2e-metal-single-node-live-iso: any of: (baremetal|metal3|ironic)
  e2e-aws-ovn-fips: any of: aws
  e2e-azurestack: any of: (azure|azurestack)
  e2e-azurestack-upi: any of: ^(upi/(azure|azurestack)/.*)
  e2e-ibmcloud-ovn: any of: ibmcloud
  e2e-nutanix-ovn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  integration-tests-nodejoiner: any of: ^(cmd|pkg|data).*/(agent|node-joiner)/
  integration-tests: any of: ^(cmd|pkg|data).*/(agent|imagebased)/
  e2e-agent-compact-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-none-platform: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-appliance-diskimage: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-add-nodes: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-sno-ipv6: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-sno-ipv4-pxe: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-ha-dualstack: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-4control-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-5control-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-aws-ovn-public-subnets: any of: /aws/subnet.go
  azure-ovn-marketplace-images: any of: azure
  e2e-aws-ovn-heterogeneous: any of: aws
  ci/prow/shellcheck: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/yaml-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-aws: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
  ci/prow/e2e-aws-smoke: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
