Repository openshift/installer: changes, and which Prow jobs are due for each by the changed paths.
All: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-aws-ovn-upi, e2e-gcp-ovn-upi, e2e-gcp-upi-xpn, e2e-gcp-ovn-xpn, e2e-azure-ovn-upi, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-swapped-hosts, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-ovn-virtualmedia, e2e-openstack-ovn, e2e-openstack-dualstack-upi, e2e-openstack-proxy, e2e-openstack-nfv-intel, openstack-manifests, e2e-vsphere-ovn, e2e-vsphere-ovn-techpreview, e2e-vsphere-ovn-upi, e2e-vsphere-ovn-upi-zones, e2e-vsphere-ovn-zones, e2e-vsphere-ovn-zones-techpreview, e2e-vsphere-multi-vcenter-ovn, e2e-metal-assisted, e2e-aws-ovn-single-node, e2e-metal-single-node-live-iso, e2e-aws-ovn-fips, e2e-azurestack, e2e-azurestack-upi, e2e-ibmcloud-ovn, e2e-nutanix-ovn, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-aws-ovn-public-subnets, azure-ovn-marketplace-images, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Path conditions:
  unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  aro-unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^pkg/asset/agent/)
  gofmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  govet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  verify-vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  e2e-aws-ovn: unless all of: (^(docs|upi|hack)/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)|(^images/(baremetal|libvirt|openstack))|(^terraform/providers)|(^cluster-api/providers/([^a]|a[^w]|aw[^s]).*/)|(/agent/)
  e2e-aws-ovn-shared-vpc-custom-security-groups: any of: aws
  e2e-aws-ovn-edge-zones: any of: aws
  e2e-aws-ovn-shared-vpc-edge-zones: any of: aws
  e2e-aws-ovn-edge-zones-manifest-validation: any of: aws
  e2e-aws-ovn-imdsv2: any of: aws
  e2e-gcp-ovn: any of: (gcp|google)
  e2e-gcp-secureboot: any of: (gcp|google)
  e2e-gcp-ovn-byo-vpc: any of: (gcp|google)
  e2e-azure-ovn: any of: azure
  e2e-azure-ovn-shared-vpc: any of: azure
  e2e-aws-ovn-upi: any of: ^(upi/aws/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-gcp-ovn-upi: any of: ^(upi/gcp/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-gcp-upi-xpn: any of: ^(upi/gcp/.*)
  e2e-gcp-ovn-xpn: any of: (gcp|google)
  e2e-azure-ovn-upi: any of: ^(upi/(azure|azurestack)/.*)|^(images/installer/Dockerfile\.upi.*)
  e2e-metal-ipi-ovn: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-swapped-hosts: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-ipv6: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-dualstack: any of: (baremetal|metal3|ironic)
  e2e-metal-ipi-ovn-virtualmedia: any of: (baremetal|metal3|ironic)
  e2e-openstack-ovn: any of: openstack|(^data/.*/rhcos\.json)
  e2e-openstack-dualstack-upi: any of: (^images/openstack/)|(^docs/user/openstack/install_upi\.md$)|(^upi/openstack/)
  e2e-openstack-proxy: any of: openstack
  e2e-openstack-nfv-intel: any of: openstack
  openstack-manifests: any of: openstack
  e2e-vsphere-ovn: any of: vsphere
  e2e-vsphere-ovn-techpreview: any of: vsphere
  e2e-vsphere-ovn-upi: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  e2e-vsphere-ovn-upi-zones: any of: (^(upi/vsphere/.*)|^(images/installer/Dockerfile\.upi.*))
  e2e-vsphere-ovn-zones: any of: vsphere
  e2e-vsphere-ovn-zones-techpreview: any of: vsphere
  e2e-vsphere-multi-vcenter-ovn: any of: vsphere
  e2e-metal-assisted: any of: (baremetal|metal3|ironic)
  e2e-aws-ovn-single-node: any of: aws
  e2e-metal-single-node-live-iso: any of: (baremetal|metal3|ironic)
  e2e-aws-ovn-fips: any of: aws
  e2e-azurestack: any of: (azure|azurestack)
  e2e-azurestack-upi: any of: ^(upi/(azure|azurestack)/.*)
  e2e-ibmcloud-ovn: any of: ibmcloud
  e2e-nutanix-ovn: any of: (^(data/.*|pkg/.*|images)/nutanix/)|(^vendor/github.com/nutanix.*/)
  integration-tests-nodejoiner: any of: ^(cmd|pkg|data).*/(agent|node-joiner)/
  integration-tests: any of: ^(cmd|pkg|data).*/(agent|imagebased)/
  e2e-agent-compact-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-none-platform: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-appliance-diskimage: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-compact-ipv4-add-nodes: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-sno-ipv6: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-sno-ipv4-pxe: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-ha-dualstack: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-4control-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-agent-5control-ipv4: any of: ^(cmd|pkg|data).*/agent/
  e2e-aws-ovn-public-subnets: any of: /aws/subnet.go
  azure-ovn-marketplace-images: any of: azure
  e2e-aws-ovn-heterogeneous: any of: aws
  ci/prow/shellcheck: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/tf-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/yaml-lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/e2e-aws: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$
  ci/prow/e2e-aws-smoke: any of: ^([^D]|D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*([^Do]|o[^Dc]|oc[^Du]|ocu[^Dm]|ocum([^De]|e([^Dn]|n([^Dt]|t([^Da]|a[^Dt]|at[^Di]|ati[^Do]|atio[^Dn]))))))*(D(D|oD|ocD|ocuD|ocum(D|e(D|n(D|t(D|aD|atD|atiD|atioD)))))*(o|oc|ocu|ocum(e(n(t(a|at|ati|atio)?)?)?)?)?)?$

Update dockerfile to work on rhel10/centos10
  images/installer/Dockerfile.upi.ci
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-upi, e2e-gcp-ovn-upi, e2e-azure-ovn-upi, e2e-vsphere-ovn-upi, e2e-vsphere-ovn-upi-zones, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Pin gcloud to 561 for rhel 10 images
  images/installer/Dockerfile.upi.ci
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-upi, e2e-gcp-ovn-upi, e2e-azure-ovn-upi, e2e-vsphere-ovn-upi, e2e-vsphere-ovn-upi-zones, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Add ConfidentialCluster to InstallConfig
  data/data/install.openshift.io_installconfigs.yaml
  pkg/asset/ignition/bootstrap/common.go
  pkg/asset/ignition/machine/node.go
  pkg/types/installconfig.go
  pkg/types/validation/installconfig.go
  pkg/types/validation/installconfig_test.go
  pkg/types/zz_generated.deepcopy.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

test
  pkg/asset/machines/aws/machines.go
  pkg/asset/machines/aws/machinesets.go
  pkg/asset/machines/master.go
  pkg/asset/machines/util.go
  pkg/asset/machines/worker.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

pkg/types/nutanix: warn about unused context
  pkg/types/nutanix/client.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-nutanix-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

tls: refactor TLS cert generation to support configurable key algorithms
  pkg/asset/ignition/machine/arbiter_ignition_customizations_test.go
  pkg/asset/ignition/machine/arbiter_test.go
  pkg/asset/ignition/machine/master_ignition_customizations_test.go
  pkg/asset/ignition/machine/master_test.go
  pkg/asset/ignition/machine/worker_ignition_customizations_test.go
  pkg/asset/ignition/machine/worker_test.go
  pkg/asset/imagebased/configimage/ingressoperatorsigner.go
  pkg/asset/tls/adminkubeconfig.go
  pkg/asset/tls/aggregator.go
  pkg/asset/tls/apiserver.go
  pkg/asset/tls/boundsasigningkey.go
  pkg/asset/tls/certkey.go
  pkg/asset/tls/ironictls.go
  pkg/asset/tls/keypair.go
  pkg/asset/tls/kubecontrolplane.go
  pkg/asset/tls/kubelet.go
  pkg/asset/tls/root.go
  pkg/asset/tls/tls.go
  pkg/asset/tls/utils.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-metal-ipi-ovn, e2e-metal-ipi-ovn-swapped-hosts, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-ovn-virtualmedia, e2e-metal-assisted, e2e-metal-single-node-live-iso, integration-tests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

pki: add unit tests for configurable PKI feature
  pkg/asset/tls/certkey_test.go
  pkg/asset/tls/tls_test.go
  pkg/asset/tls/utils_test.go
  pkg/explain/printer_test.go
  pkg/types/pki/validation_test.go
  pkg/types/validation/featuregate_test.go
  pkg/types/validation/installconfig_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

networking: Add networkObservability install config field
  data/data/install.openshift.io_installconfigs.yaml
  go.mod
  go.sum
  pkg/asset/agent/installconfig_test.go
  pkg/asset/installconfig/installconfig_test.go
  pkg/asset/manifests/network.go
  pkg/types/defaults/installconfig.go
  pkg/types/defaults/installconfig_test.go
  pkg/types/installconfig.go
  pkg/types/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/types_network.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features/features.go
  vendor/modules.txt
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, integration-tests-nodejoiner, integration-tests, e2e-agent-compact-ipv4, e2e-agent-compact-ipv4-none-platform, e2e-agent-compact-ipv4-appliance-diskimage, e2e-agent-compact-ipv4-add-nodes, e2e-agent-sno-ipv6, e2e-agent-sno-ipv4-pxe, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

pkg/infrastructure/azure: add networking functions
  pkg/infrastructure/azure/network.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

pkg/infrastructure/azure: resourceGroup -> resourceGroupName
  pkg/infrastructure/azure/azure.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Update the CAPG Infrastructure components to include the dual stack resources:
  data/data/cluster-api/gcp-infrastructure-components.yaml
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

1. pkg/types/gcp:
  data/data/install.openshift.io_installconfigs.yaml
  pkg/asset/manifests/gcp/cluster.go
  pkg/types/gcp/defaults/platform.go
  pkg/types/gcp/platform.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

gather: add support for azure custom dns
  cmd/openshift-install/create.go
  pkg/infrastructure/clusterapi/clusterapi.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Azure: Verify base domain exists in the base domain resource group
  pkg/asset/installconfig/azure/dns.go
  pkg/asset/installconfig/azure/validation.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Update the GCP infrastructure for CAPG
  data/data/cluster-api/gcp-infrastructure-components.yaml
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Migrated GCP firewall rule creation from manual infrastructure code to the Cluster API Provider for GCP (CAPG), enabling declarative management through Kubernetes manifests.
  pkg/asset/manifests/gcp/cluster.go
  pkg/destroy/gcp/firewall.go
  pkg/infrastructure/gcp/clusterapi/clusterapi.go
  pkg/infrastructure/gcp/clusterapi/firewallrules.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Unit test new features:
  pkg/asset/manifests/gcp/cluster_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-gcp-ovn, e2e-gcp-secureboot, e2e-gcp-ovn-byo-vpc, e2e-gcp-ovn-xpn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

docs: add PKI configuration documentation to customization guide
  docs/user/customization.md
Due: ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

gather: collect machine config server content file
  data/data/bootstrap/files/usr/local/bin/installer-gather.sh
  data/data/bootstrap/files/usr/local/bin/installer-masters-gather.sh
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

pki: generate PKI CR manifest when ConfigurablePKI feature gate is enabled
  pkg/asset/manifests/operators.go
  pkg/asset/manifests/pki.go
  pkg/asset/manifests/pki_test.go
  pkg/asset/tls/adminkubeconfig.go
  pkg/asset/tls/aggregator.go
  pkg/asset/tls/apiserver.go
  pkg/asset/tls/kubecontrolplane.go
  pkg/asset/tls/kubelet.go
  pkg/asset/tls/root.go
  pkg/types/pki/defaults.go
  pkg/types/pki/defaults_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

DNM - test openstack image building
  images/openstack/Dockerfile.ci
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-openstack-ovn, e2e-openstack-dualstack-upi, e2e-openstack-proxy, e2e-openstack-nfv-intel, openstack-manifests, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

OCPBUGS-79792, OCPBUGS-79793, OCPBUGS-79779: Bump google.golang.org/grpc to v1.79.3
  go.mod
  vendor/modules.txt
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

cluster-api: use zstd for compression
  go.mod
  hack/build-cluster-api.sh
  pkg/clusterapi/providers.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

Replace msgraph-sdk-go
  go.mod
  go.sum
  pkg/asset/installconfig/azure/session.go
  pkg/destroy/azure/azure.go
  pkg/destroy/azure/msgraph.go
  pkg/destroy/azure/msgraph_test.go
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azurestack, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

no-jira: docs: document dual-stack networking support on AWS
  docs/user/aws/customization.md
Due: e2e-aws-ovn-shared-vpc-custom-security-groups, e2e-aws-ovn-edge-zones, e2e-aws-ovn-shared-vpc-edge-zones, e2e-aws-ovn-edge-zones-manifest-validation, e2e-aws-ovn-imdsv2, e2e-aws-ovn-single-node, e2e-aws-ovn-fips, e2e-aws-ovn-heterogeneous, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

manual backport for installer pr 10103 and 10069
  upi/azure/02_storage.json
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-azure-ovn, e2e-azure-ovn-shared-vpc, e2e-azure-ovn-upi, e2e-azurestack, e2e-azurestack-upi, azure-ovn-marketplace-images, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke

DO NOT MERGE
  test
Due: unit, aro-unit, gofmt, govet, golint, verify-vendor, e2e-aws-ovn, ci/prow/shellcheck, ci/prow/tf-fmt, ci/prow/tf-lint, ci/prow/yaml-lint, ci/prow/e2e-aws, ci/prow/e2e-aws-smoke
